{
  "rootUrl": "https://securitycenter.googleapis.com/",
  "protocol": "rest",
  "id": "securitycenter:v1beta2",
  "basePath": "",
  "version": "v1beta2",
  "revision": "20221220",
  "mtlsRootUrl": "https://securitycenter.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "name": "securitycenter",
  "baseUrl": "https://securitycenter.googleapis.com/",
  "batchPath": "batch",
  "version_module": true,
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "schemas": {
    "GoogleCloudSecuritycenterV1Resource": {
      "description": "Information related to the Google Cloud resource.",
      "type": "object",
      "properties": {
        "type": {
          "description": "The full resource type of the resource.",
          "type": "string"
        },
        "parent": {
          "description": "The full resource name of resource's parent.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The full resource name of the resource. See: https://cloud.google.com/apis/design/resource_names#full_resource_name"
        },
        "project": {
          "type": "string",
          "description": "The full resource name of project that the resource belongs to."
        },
        "displayName": {
          "type": "string",
          "description": "The human readable name of the resource."
        },
        "projectDisplayName": {
          "type": "string",
          "description": "The project ID that the resource belongs to."
        },
        "parentDisplayName": {
          "type": "string",
          "description": "The human readable name of resource's parent."
        },
        "folders": {
          "description": "Output only. Contains a Folder message for each folder in the assets ancestry. The first folder is the deepest nested folder, and the last folder is the folder directly under the Organization.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "Folder"
          }
        }
      },
      "id": "GoogleCloudSecuritycenterV1Resource"
    },
    "YaraRuleSignature": {
      "description": "A signature corresponding to a YARA rule.",
      "type": "object",
      "properties": {
        "yaraRule": {
          "type": "string",
          "description": "The name of the YARA rule."
        }
      },
      "id": "YaraRuleSignature"
    },
    "ContactDetails": {
      "id": "ContactDetails",
      "properties": {
        "contacts": {
          "items": {
            "$ref": "Contact"
          },
          "type": "array",
          "description": "A list of contacts"
        }
      },
      "description": "The details pertaining to specific contacts",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1p1beta1SecurityMarks": {
      "description": "User specified security marks that are attached to the parent Security Command Center resource. Security marks are scoped within a Security Command Center organization -- they can be modified and viewed by all users who have proper permissions on the organization.",
      "id": "GoogleCloudSecuritycenterV1p1beta1SecurityMarks",
      "properties": {
        "marks": {
          "type": "object",
          "description": "Mutable user specified security marks belonging to the parent resource. Constraints are as follows: * Keys and values are treated as case insensitive * Keys must be between 1 - 256 characters (inclusive) * Keys must be letters, numbers, underscores, or dashes * Values have leading and trailing whitespace trimmed, remaining characters must be between 1 - 4096 characters (inclusive)",
          "additionalProperties": {
            "type": "string"
          }
        },
        "canonicalName": {
          "description": "The canonical name of the marks. Examples: \"organizations/{organization_id}/assets/{asset_id}/securityMarks\" \"folders/{folder_id}/assets/{asset_id}/securityMarks\" \"projects/{project_number}/assets/{asset_id}/securityMarks\" \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}/securityMarks\" \"folders/{folder_id}/sources/{source_id}/findings/{finding_id}/securityMarks\" \"projects/{project_number}/sources/{source_id}/findings/{finding_id}/securityMarks\"",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The relative resource name of the SecurityMarks. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Examples: \"organizations/{organization_id}/assets/{asset_id}/securityMarks\" \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}/securityMarks\"."
        }
      },
      "type": "object"
    },
    "ProcessSignature": {
      "id": "ProcessSignature",
      "type": "object",
      "description": "Indicates what signature matched this process.",
      "properties": {
        "yaraRuleSignature": {
          "description": "Signature indicating that a YARA rule was matched.",
          "$ref": "YaraRuleSignature"
        },
        "memoryHashSignature": {
          "description": "Signature indicating that a binary family was matched.",
          "$ref": "MemoryHashSignature"
        }
      }
    },
    "MitreAttack": {
      "properties": {
        "primaryTactic": {
          "enumDescriptions": [
            "Unspecified value.",
            "TA0043",
            "TA0042",
            "TA0001",
            "TA0002",
            "TA0003",
            "TA0004",
            "TA0005",
            "TA0006",
            "TA0007",
            "TA0008",
            "TA0009",
            "TA0011",
            "TA0010",
            "TA0040"
          ],
          "enum": [
            "TACTIC_UNSPECIFIED",
            "RECONNAISSANCE",
            "RESOURCE_DEVELOPMENT",
            "INITIAL_ACCESS",
            "EXECUTION",
            "PERSISTENCE",
            "PRIVILEGE_ESCALATION",
            "DEFENSE_EVASION",
            "CREDENTIAL_ACCESS",
            "DISCOVERY",
            "LATERAL_MOVEMENT",
            "COLLECTION",
            "COMMAND_AND_CONTROL",
            "EXFILTRATION",
            "IMPACT"
          ],
          "description": "The MITRE ATT&CK tactic most closely represented by this finding, if any.",
          "type": "string"
        },
        "additionalTactics": {
          "type": "array",
          "description": "Additional MITRE ATT&CK tactics related to this finding, if any.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified value.",
              "TA0043",
              "TA0042",
              "TA0001",
              "TA0002",
              "TA0003",
              "TA0004",
              "TA0005",
              "TA0006",
              "TA0007",
              "TA0008",
              "TA0009",
              "TA0011",
              "TA0010",
              "TA0040"
            ],
            "enum": [
              "TACTIC_UNSPECIFIED",
              "RECONNAISSANCE",
              "RESOURCE_DEVELOPMENT",
              "INITIAL_ACCESS",
              "EXECUTION",
              "PERSISTENCE",
              "PRIVILEGE_ESCALATION",
              "DEFENSE_EVASION",
              "CREDENTIAL_ACCESS",
              "DISCOVERY",
              "LATERAL_MOVEMENT",
              "COLLECTION",
              "COMMAND_AND_CONTROL",
              "EXFILTRATION",
              "IMPACT"
            ]
          }
        },
        "version": {
          "description": "The MITRE ATT&CK version referenced by the above fields. E.g. \"8\".",
          "type": "string"
        },
        "primaryTechniques": {
          "description": "The MITRE ATT&CK technique most closely represented by this finding, if any. primary_techniques is a repeated field because there are multiple levels of MITRE ATT&CK techniques. If the technique most closely represented by this finding is a sub-technique (e.g. `SCANNING_IP_BLOCKS`), both the sub-technique and its parent technique(s) will be listed (e.g. `SCANNING_IP_BLOCKS`, `ACTIVE_SCANNING`).",
          "type": "array",
          "items": {
            "enum": [
              "TECHNIQUE_UNSPECIFIED",
              "ACTIVE_SCANNING",
              "SCANNING_IP_BLOCKS",
              "INGRESS_TOOL_TRANSFER",
              "NATIVE_API",
              "SHARED_MODULES",
              "COMMAND_AND_SCRIPTING_INTERPRETER",
              "UNIX_SHELL",
              "RESOURCE_HIJACKING",
              "PROXY",
              "EXTERNAL_PROXY",
              "MULTI_HOP_PROXY",
              "DYNAMIC_RESOLUTION",
              "UNSECURED_CREDENTIALS",
              "VALID_ACCOUNTS",
              "LOCAL_ACCOUNTS",
              "CLOUD_ACCOUNTS",
              "NETWORK_DENIAL_OF_SERVICE",
              "PERMISSION_GROUPS_DISCOVERY",
              "CLOUD_GROUPS",
              "EXFILTRATION_OVER_WEB_SERVICE",
              "EXFILTRATION_TO_CLOUD_STORAGE",
              "ACCOUNT_MANIPULATION",
              "SSH_AUTHORIZED_KEYS",
              "CREATE_OR_MODIFY_SYSTEM_PROCESS",
              "STEAL_WEB_SESSION_COOKIE",
              "MODIFY_CLOUD_COMPUTE_INFRASTRUCTURE",
              "EXPLOIT_PUBLIC_FACING_APPLICATION",
              "MODIFY_AUTHENTICATION_PROCESS",
              "DATA_DESTRUCTION",
              "DOMAIN_POLICY_MODIFICATION",
              "IMPAIR_DEFENSES",
              "NETWORK_SERVICE_DISCOVERY",
              "ACCESS_TOKEN_MANIPULATION",
              "ABUSE_ELEVATION_CONTROL_MECHANISM",
              "DEFAULT_ACCOUNTS"
            ],
            "enumDescriptions": [
              "Unspecified value.",
              "T1595",
              "T1595.001",
              "T1105",
              "T1106",
              "T1129",
              "T1059",
              "T1059.004",
              "T1496",
              "T1090",
              "T1090.002",
              "T1090.003",
              "T1568",
              "T1552",
              "T1078",
              "T1078.003",
              "T1078.004",
              "T1498",
              "T1069",
              "T1069.003",
              "T1567",
              "T1567.002",
              "T1098",
              "T1098.004",
              "T1543",
              "T1539",
              "T1578",
              "T1190",
              "T1556",
              "T1485",
              "T1484",
              "T1562",
              "T1046",
              "T1134",
              "T1548",
              "T1078.001"
            ],
            "type": "string"
          }
        },
        "additionalTechniques": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Unspecified value.",
              "T1595",
              "T1595.001",
              "T1105",
              "T1106",
              "T1129",
              "T1059",
              "T1059.004",
              "T1496",
              "T1090",
              "T1090.002",
              "T1090.003",
              "T1568",
              "T1552",
              "T1078",
              "T1078.003",
              "T1078.004",
              "T1498",
              "T1069",
              "T1069.003",
              "T1567",
              "T1567.002",
              "T1098",
              "T1098.004",
              "T1543",
              "T1539",
              "T1578",
              "T1190",
              "T1556",
              "T1485",
              "T1484",
              "T1562",
              "T1046",
              "T1134",
              "T1548",
              "T1078.001"
            ],
            "enum": [
              "TECHNIQUE_UNSPECIFIED",
              "ACTIVE_SCANNING",
              "SCANNING_IP_BLOCKS",
              "INGRESS_TOOL_TRANSFER",
              "NATIVE_API",
              "SHARED_MODULES",
              "COMMAND_AND_SCRIPTING_INTERPRETER",
              "UNIX_SHELL",
              "RESOURCE_HIJACKING",
              "PROXY",
              "EXTERNAL_PROXY",
              "MULTI_HOP_PROXY",
              "DYNAMIC_RESOLUTION",
              "UNSECURED_CREDENTIALS",
              "VALID_ACCOUNTS",
              "LOCAL_ACCOUNTS",
              "CLOUD_ACCOUNTS",
              "NETWORK_DENIAL_OF_SERVICE",
              "PERMISSION_GROUPS_DISCOVERY",
              "CLOUD_GROUPS",
              "EXFILTRATION_OVER_WEB_SERVICE",
              "EXFILTRATION_TO_CLOUD_STORAGE",
              "ACCOUNT_MANIPULATION",
              "SSH_AUTHORIZED_KEYS",
              "CREATE_OR_MODIFY_SYSTEM_PROCESS",
              "STEAL_WEB_SESSION_COOKIE",
              "MODIFY_CLOUD_COMPUTE_INFRASTRUCTURE",
              "EXPLOIT_PUBLIC_FACING_APPLICATION",
              "MODIFY_AUTHENTICATION_PROCESS",
              "DATA_DESTRUCTION",
              "DOMAIN_POLICY_MODIFICATION",
              "IMPAIR_DEFENSES",
              "NETWORK_SERVICE_DISCOVERY",
              "ACCESS_TOKEN_MANIPULATION",
              "ABUSE_ELEVATION_CONTROL_MECHANISM",
              "DEFAULT_ACCOUNTS"
            ],
            "type": "string"
          },
          "description": "Additional MITRE ATT&CK techniques related to this finding, if any, along with any of their respective parent techniques."
        }
      },
      "id": "MitreAttack",
      "type": "object",
      "description": "MITRE ATT&CK tactics and techniques related to this finding. See: https://attack.mitre.org"
    },
    "Contact": {
      "id": "Contact",
      "properties": {
        "email": {
          "type": "string",
          "description": "An email address. For example, \"`person123@company.com`\"."
        }
      },
      "description": "The email address of a contact.",
      "type": "object"
    },
    "Container": {
      "type": "object",
      "properties": {
        "imageId": {
          "type": "string",
          "description": "Optional container image id, when provided by the container runtime. Uniquely identifies the container image launched using a container image digest."
        },
        "name": {
          "description": "Container name.",
          "type": "string"
        },
        "uri": {
          "type": "string",
          "description": "Container image URI provided when configuring a pod/container. May identify a container image version using mutable tags."
        },
        "labels": {
          "items": {
            "$ref": "Label"
          },
          "description": "Container labels, as provided by the container runtime.",
          "type": "array"
        }
      },
      "id": "Container",
      "description": "Container associated with the finding."
    },
    "Edge": {
      "type": "object",
      "id": "Edge",
      "properties": {
        "source": {
          "description": "This is the resource name of the source node.",
          "type": "string"
        },
        "destination": {
          "type": "string",
          "description": "This is the resource name of the destination node."
        }
      },
      "description": "Represents a connection between a source node and a destination node in this exposure path."
    },
    "Role": {
      "description": "Kubernetes Role or ClusterRole.",
      "id": "Role",
      "type": "object",
      "properties": {
        "ns": {
          "type": "string",
          "description": "Role namespace."
        },
        "kind": {
          "description": "Role type.",
          "enum": [
            "KIND_UNSPECIFIED",
            "ROLE",
            "CLUSTER_ROLE"
          ],
          "enumDescriptions": [
            "Role type is not specified.",
            "Kubernetes Role.",
            "Kubernetes ClusterRole."
          ],
          "type": "string"
        },
        "name": {
          "description": "Role name.",
          "type": "string"
        }
      }
    },
    "OnboardingState": {
      "id": "OnboardingState",
      "properties": {
        "name": {
          "description": "The resource name of the OnboardingState. Format: organizations/{organization}/onboardingState Format: folders/{folder}/onboardingState Format: projects/{project}/onboardingState",
          "type": "string"
        },
        "onboardingLevel": {
          "description": "Describes the level a given organization, folder, or project is onboarded with SCC. If the resource wasn't onboarded, NOT_FOUND would have been thrown.",
          "enum": [
            "ONBOARDING_LEVEL_UNSPECIFIED",
            "ONBOARDING_LEVEL_PROJECT",
            "ONBOARDING_LEVEL_ORGANIZATION"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unused.",
            "This resource is onboarded at the project level. Only possible for projects.",
            "This resource is onboarded at the organization level. Possible for organizations, folders, and projects."
          ]
        }
      },
      "type": "object",
      "description": "Resource capturing onboarding information for a given CRM resource."
    },
    "Compliance": {
      "properties": {
        "standard": {
          "type": "string",
          "description": "Refers to industry wide standards or benchmarks e.g. \"cis\", \"pci\", \"owasp\", etc."
        },
        "ids": {
          "type": "array",
          "description": "Policies within the standard/benchmark e.g. A.12.4.1",
          "items": {
            "type": "string"
          }
        },
        "version": {
          "description": "Version of the standard/benchmark e.g. 1.1",
          "type": "string"
        }
      },
      "description": "Contains compliance information about a security standard indicating unmet recommendations.",
      "id": "Compliance",
      "type": "object"
    },
    "ServiceAccountDelegationInfo": {
      "id": "ServiceAccountDelegationInfo",
      "type": "object",
      "description": "Identity delegation history of an authenticated service account.",
      "properties": {
        "principalEmail": {
          "description": "The email address of a Google account.",
          "type": "string"
        },
        "principalSubject": {
          "description": "A string representing the principal_subject associated with the identity. As compared to `principal_email`, supports principals that aren't associated with email addresses, such as third party principals. For most identities, the format will be `principal://iam.googleapis.com/{identity pool name}/subjects/{subject}` except for some GKE identities (GKE_WORKLOAD, FREEFORM, GKE_HUB_WORKLOAD) that are still in the legacy format `serviceAccount:{identity pool name}[{subject}]`",
          "type": "string"
        }
      }
    },
    "VirtualMachineThreatDetectionSettings": {
      "properties": {
        "serviceEnablementState": {
          "type": "string",
          "description": "The state of enablement for the service at its level of the resource hierarchy. A DISABLED state will override all module enablement_states to DISABLED.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "State is inherited from the parent resource.",
            "State is enabled.",
            "State is disabled."
          ],
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "INHERITED",
            "ENABLED",
            "DISABLED"
          ]
        },
        "name": {
          "type": "string",
          "description": "The resource name of the VirtualMachineThreatDetectionSettings. Formats: * organizations/{organization}/virtualMachineThreatDetectionSettings * folders/{folder}/virtualMachineThreatDetectionSettings * projects/{project}/virtualMachineThreatDetectionSettings"
        },
        "modules": {
          "additionalProperties": {
            "$ref": "Config"
          },
          "description": "The configurations including the state of enablement for the service's different modules. The absence of a module in the map implies its configuration is inherited from its parent's.",
          "type": "object"
        },
        "serviceAccount": {
          "description": "Output only. The service account used by Virtual Machine Threat Detection detectors.",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the settings were last updated.",
          "readOnly": true
        }
      },
      "id": "VirtualMachineThreatDetectionSettings",
      "description": "Resource capturing the settings for the Virtual Machine Threat Detection service.",
      "type": "object"
    },
    "Geolocation": {
      "id": "Geolocation",
      "type": "object",
      "description": "Represents a geographical location for a given access.",
      "properties": {
        "regionCode": {
          "description": "A CLDR.",
          "type": "string"
        }
      }
    },
    "EnvironmentVariable": {
      "description": "EnvironmentVariable is a name-value pair to store environment variables for Process.",
      "id": "EnvironmentVariable",
      "type": "object",
      "properties": {
        "val": {
          "description": "Environment variable value as a JSON encoded string.",
          "type": "string"
        },
        "name": {
          "description": "Environment variable name as a JSON encoded string.",
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV1ExternalSystem": {
      "description": "Representation of third party SIEM/SOAR fields within SCC.",
      "properties": {
        "assignees": {
          "description": "References primary/secondary etc assignees in the external system.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "name": {
          "description": "Full resource name of the external system, for example: \"organizations/1234/sources/5678/findings/123456/externalSystems/jira\", \"folders/1234/sources/5678/findings/123456/externalSystems/jira\", \"projects/1234/sources/5678/findings/123456/externalSystems/jira\"",
          "type": "string"
        },
        "externalUid": {
          "type": "string",
          "description": "Identifier that's used to track the given finding in the external system."
        },
        "status": {
          "type": "string",
          "description": "Most recent status of the corresponding finding's ticket/tracker in the external system."
        },
        "externalSystemUpdateTime": {
          "description": "The most recent time when the corresponding finding's ticket/tracker was updated in the external system.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudSecuritycenterV1ExternalSystem",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1ExposedResource": {
      "properties": {
        "methods": {
          "description": "The ways in which this resource is exposed. Examples: Read, Write",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "displayName": {
          "type": "string",
          "description": "Human readable name of the resource that is exposed."
        },
        "name": {
          "type": "string",
          "description": "Exposed Resource Name e.g.: `organizations/123/attackExposureResults/456/exposedResources/789`"
        },
        "resourceValue": {
          "enumDescriptions": [
            "The resource value isn't specified.",
            "This is a low value resource.",
            "This is a medium value resource.",
            "This is a high value resource."
          ],
          "description": "How valuable this resource is.",
          "enum": [
            "RESOURCE_VALUE_UNSPECIFIED",
            "RESOURCE_VALUE_LOW",
            "RESOURCE_VALUE_MEDIUM",
            "RESOURCE_VALUE_HIGH"
          ],
          "type": "string"
        },
        "resource": {
          "type": "string",
          "description": "The name of the resource that is exposed. See: https://cloud.google.com/apis/design/resource_names#full_resource_name"
        },
        "resourceType": {
          "type": "string",
          "description": "The resource type of the exposed resource. See: https://cloud.google.com/asset-inventory/docs/supported-asset-types"
        }
      },
      "id": "GoogleCloudSecuritycenterV1ExposedResource",
      "type": "object",
      "description": "A resource that is exposed as a result of a finding."
    },
    "GoogleCloudSecuritycenterV1p1beta1NotificationMessage": {
      "id": "GoogleCloudSecuritycenterV1p1beta1NotificationMessage",
      "properties": {
        "resource": {
          "description": "The Cloud resource tied to the notification.",
          "$ref": "GoogleCloudSecuritycenterV1p1beta1Resource"
        },
        "finding": {
          "description": "If it's a Finding based notification config, this field will be populated.",
          "$ref": "GoogleCloudSecuritycenterV1p1beta1Finding"
        },
        "notificationConfigName": {
          "type": "string",
          "description": "Name of the notification config that generated current notification."
        }
      },
      "description": "Security Command Center's Notification",
      "type": "object"
    },
    "SecurityCenterSettings": {
      "type": "object",
      "description": "Resource capturing the settings for Security Center.",
      "id": "SecurityCenterSettings",
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name of the SecurityCenterSettings. Format: organizations/{organization}/securityCenterSettings Format: folders/{folder}/securityCenterSettings Format: projects/{project}/securityCenterSettings"
        },
        "logSinkProject": {
          "description": "The resource name of the project to send logs to. This project must be part of the organization this resource resides in. The format is `projects/{project_id}`. An empty value disables logging. This value is only referenced by services that support log sink. Please refer to the documentation for an updated list of compatible services. This may only be specified for organization level onboarding.",
          "type": "string"
        },
        "onboardingTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp of when the customer organization was onboarded to SCC.",
          "readOnly": true
        },
        "orgServiceAccount": {
          "readOnly": true,
          "description": "Output only. The organization level service account to be used for security center components.",
          "type": "string"
        }
      }
    },
    "Subscription": {
      "description": "Resource capturing the state of an organization's subscription.",
      "id": "Subscription",
      "type": "object",
      "properties": {
        "details": {
          "description": "The details of the most recent active subscription. If there has never been a subscription this will be empty.",
          "$ref": "Details"
        },
        "tier": {
          "enum": [
            "TIER_UNSPECIFIED",
            "STANDARD",
            "PREMIUM"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The standard tier.",
            "The premium tier."
          ],
          "description": "The tier of SCC features this organization currently has access to."
        },
        "name": {
          "type": "string",
          "description": "The resource name of the subscription. Format: organizations/{organization}/subscription"
        }
      }
    },
    "GoogleCloudSecuritycenterV1BigQueryExport": {
      "type": "object",
      "description": "Configures how to deliver Findings to BigQuery Instance.",
      "id": "GoogleCloudSecuritycenterV1BigQueryExport",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time at which the BigQuery export was created. This field is set by the server and will be ignored if provided on export on creation.",
          "readOnly": true
        },
        "filter": {
          "type": "string",
          "description": "Expression that defines the filter to apply across create/update events of findings. The expression is a list of zero or more restrictions combined via logical operators `AND` and `OR`. Parentheses are supported, and `OR` has higher precedence than `AND`. Restrictions have the form ` ` and may have a `-` character in front of them to indicate negation. The fields map to those defined in the corresponding resource. The supported operators are: * `=` for all value types. * `\u003e`, `\u003c`, `\u003e=`, `\u003c=` for integer values. * `:`, meaning substring matching, for strings. The supported value types are: * string literals in quotes. * integer literals without quotes. * boolean literals `true` and `false` without quotes."
        },
        "name": {
          "type": "string",
          "description": "The relative resource name of this export. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name. Example format: \"organizations/{organization_id}/bigQueryExports/{export_id}\" Example format: \"folders/{folder_id}/bigQueryExports/{export_id}\" Example format: \"projects/{project_id}/bigQueryExports/{export_id}\" This field is provided in responses, and is ignored when provided in create requests."
        },
        "mostRecentEditor": {
          "type": "string",
          "description": "Output only. Email address of the user who last edited the BigQuery export. This field is set by the server and will be ignored if provided on export creation or update.",
          "readOnly": true
        },
        "dataset": {
          "description": "The dataset to write findings' updates to. Its format is \"projects/[project_id]/datasets/[bigquery_dataset_id]\". BigQuery Dataset unique ID must contain only letters (a-z, A-Z), numbers (0-9), or underscores (_).",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The most recent time at which the BigQuery export was updated. This field is set by the server and will be ignored if provided on export creation or update."
        },
        "principal": {
          "description": "Output only. The service account that needs permission to create table and upload data to the BigQuery dataset.",
          "type": "string",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "The description of the export (max of 1024 characters)."
        }
      }
    },
    "GoogleCloudSecuritycenterV1p1beta1Resource": {
      "description": "Information related to the Google Cloud resource.",
      "properties": {
        "parent": {
          "type": "string",
          "description": "The full resource name of resource's parent."
        },
        "project": {
          "type": "string",
          "description": "The full resource name of project that the resource belongs to."
        },
        "projectDisplayName": {
          "description": "The project id that the resource belongs to.",
          "type": "string"
        },
        "name": {
          "description": "The full resource name of the resource. See: https://cloud.google.com/apis/design/resource_names#full_resource_name",
          "type": "string"
        },
        "parentDisplayName": {
          "description": "The human readable name of resource's parent.",
          "type": "string"
        },
        "folders": {
          "description": "Output only. Contains a Folder message for each folder in the assets ancestry. The first folder is the deepest nested folder, and the last folder is the folder directly under the Organization.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1p1beta1Folder"
          }
        }
      },
      "id": "GoogleCloudSecuritycenterV1p1beta1Resource",
      "type": "object"
    },
    "Indicator": {
      "type": "object",
      "id": "Indicator",
      "description": "Represents what's commonly known as an _indicator of compromise_ (IoC) in computer forensics. This is an artifact observed on a network or in an operating system that, with high confidence, indicates a computer intrusion. For more information, see [Indicator of compromise](https://en.wikipedia.org/wiki/Indicator_of_compromise).",
      "properties": {
        "signatures": {
          "items": {
            "$ref": "ProcessSignature"
          },
          "description": "The list of matched signatures indicating that the given process is present in the environment.",
          "type": "array"
        },
        "ipAddresses": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of IP addresses that are associated with the finding."
        },
        "uris": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of URIs associated to the Findings."
        },
        "domains": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of domains associated to the Finding."
        }
      }
    },
    "File": {
      "type": "object",
      "id": "File",
      "properties": {
        "partiallyHashed": {
          "description": "True when the hash covers only a prefix of the file.",
          "type": "boolean"
        },
        "contents": {
          "type": "string",
          "description": "Prefix of the file contents as a JSON encoded string. (Currently only populated for Malicious Script Executed findings.)"
        },
        "path": {
          "description": "Absolute path of the file as a JSON encoded string.",
          "type": "string"
        },
        "hashedSize": {
          "description": "The length in bytes of the file prefix that was hashed. If hashed_size == size, any hashes reported represent the entire file.",
          "format": "int64",
          "type": "string"
        },
        "size": {
          "description": "Size of the file in bytes.",
          "type": "string",
          "format": "int64"
        },
        "sha256": {
          "type": "string",
          "description": "SHA256 hash of the first hashed_size bytes of the file encoded as a hex string. If hashed_size == size, sha256 represents the SHA256 hash of the entire file."
        }
      },
      "description": "File information about the related binary/library used by an executable, or the script used by a script interpreter"
    },
    "AccessReview": {
      "id": "AccessReview",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name is the name of the resource being requested. Empty means all."
        },
        "resource": {
          "description": "Resource is the optional resource type requested. \"*\" means all.",
          "type": "string"
        },
        "subresource": {
          "type": "string",
          "description": "Subresource is the optional subresource type."
        },
        "ns": {
          "type": "string",
          "description": "Namespace of the action being requested. Currently, there is no distinction between no namespace and all namespaces. Both are represented by \"\" (empty)."
        },
        "version": {
          "type": "string",
          "description": "Version is the API Version of the Resource. \"*\" means all."
        },
        "group": {
          "type": "string",
          "description": "Group is the API Group of the Resource. \"*\" means all."
        },
        "verb": {
          "type": "string",
          "description": "Verb is a Kubernetes resource API verb, like: get, list, watch, create, update, delete, proxy. \"*\" means all."
        }
      },
      "description": "Conveys information about a Kubernetes access review (e.g. kubectl auth can-i ...) that was involved in a finding.",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1RunAssetDiscoveryResponse": {
      "description": "Response of asset discovery run",
      "properties": {
        "duration": {
          "format": "google-duration",
          "type": "string",
          "description": "The duration between asset discovery run start and end"
        },
        "state": {
          "description": "The state of an asset discovery run.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "COMPLETED",
            "SUPERSEDED",
            "TERMINATED"
          ],
          "enumDescriptions": [
            "Asset discovery run state was unspecified.",
            "Asset discovery run completed successfully.",
            "Asset discovery run was cancelled with tasks still pending, as another run for the same organization was started with a higher priority.",
            "Asset discovery run was killed and terminated."
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1RunAssetDiscoveryResponse"
    },
    "Label": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Label name."
        },
        "value": {
          "type": "string",
          "description": "Label value."
        }
      },
      "id": "Label",
      "type": "object",
      "description": "Label represents a generic name=value label. Label has separate name and value fields to support filtering with contains()."
    },
    "GoogleCloudSecuritycenterV1p1beta1Folder": {
      "description": "Message that contains the resource name and display name of a folder resource.",
      "id": "GoogleCloudSecuritycenterV1p1beta1Folder",
      "properties": {
        "resourceFolderDisplayName": {
          "type": "string",
          "description": "The user defined display name for this folder."
        },
        "resourceFolder": {
          "description": "Full resource name of this folder. See: https://cloud.google.com/apis/design/resource_names#full_resource_name",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Subject": {
      "id": "Subject",
      "description": "Represents a Kubernetes Subject.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name for subject."
        },
        "kind": {
          "enum": [
            "AUTH_TYPE_UNSPECIFIED",
            "USER",
            "SERVICEACCOUNT",
            "GROUP"
          ],
          "type": "string",
          "description": "Authentication type for subject.",
          "enumDescriptions": [
            "Authentication is not specified.",
            "User with valid certificate.",
            "Users managed by Kubernetes API with credentials stored as Secrets.",
            "Collection of users."
          ]
        },
        "ns": {
          "type": "string",
          "description": "Namespace for subject."
        }
      },
      "type": "object"
    },
    "Cve": {
      "type": "object",
      "description": "CVE stands for Common Vulnerabilities and Exposures. More information: https://cve.mitre.org",
      "properties": {
        "cvssv3": {
          "$ref": "Cvssv3",
          "description": "Describe Common Vulnerability Scoring System specified at https://www.first.org/cvss/v3.1/specification-document"
        },
        "references": {
          "description": "Additional information about the CVE. e.g. https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-34527",
          "items": {
            "$ref": "Reference"
          },
          "type": "array"
        },
        "id": {
          "type": "string",
          "description": "The unique identifier for the vulnerability. e.g. CVE-2021-34527"
        },
        "upstreamFixAvailable": {
          "description": "Whether upstream fix is available for the CVE.",
          "type": "boolean"
        }
      },
      "id": "Cve"
    },
    "Reference": {
      "type": "object",
      "description": "Additional Links",
      "properties": {
        "source": {
          "description": "Source of the reference e.g. NVD",
          "type": "string"
        },
        "uri": {
          "type": "string",
          "description": "Uri for the mentioned source e.g. https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-34527."
        }
      },
      "id": "Reference"
    },
    "Detection": {
      "description": "Memory hash detection contributing to the binary family match.",
      "type": "object",
      "id": "Detection",
      "properties": {
        "percentPagesMatched": {
          "format": "double",
          "type": "number",
          "description": "The percentage of memory page hashes in the signature that were matched."
        },
        "binary": {
          "description": "The name of the binary associated with the memory hash signature detection.",
          "type": "string"
        }
      }
    },
    "Vulnerability": {
      "id": "Vulnerability",
      "description": "Refers to common vulnerability fields e.g. cve, cvss, cwe etc.",
      "type": "object",
      "properties": {
        "cve": {
          "description": "CVE stands for Common Vulnerabilities and Exposures (https://cve.mitre.org/about/)",
          "$ref": "Cve"
        }
      }
    },
    "EventThreatDetectionSettings": {
      "properties": {
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the settings were last updated."
        },
        "name": {
          "description": "The resource name of the EventThreatDetectionSettings. Formats: * organizations/{organization}/eventThreatDetectionSettings * folders/{folder}/eventThreatDetectionSettings * projects/{project}/eventThreatDetectionSettings",
          "type": "string"
        },
        "modules": {
          "type": "object",
          "description": "The configurations including the state of enablement for the service's different modules. The absence of a module in the map implies its configuration is inherited from its parent's.",
          "additionalProperties": {
            "$ref": "Config"
          }
        },
        "serviceEnablementState": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "State is inherited from the parent resource.",
            "State is enabled.",
            "State is disabled."
          ],
          "description": "The state of enablement for the service at its level of the resource hierarchy. A DISABLED state will override all module enablement_states to DISABLED.",
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "INHERITED",
            "ENABLED",
            "DISABLED"
          ],
          "type": "string"
        }
      },
      "description": "Resource capturing the settings for the Event Threat Detection service.",
      "id": "EventThreatDetectionSettings",
      "type": "object"
    },
    "Details": {
      "id": "Details",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The standard subscription.",
            "The trial subscription.",
            "The alpha subscription.",
            "The demo subscription for channel partners."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "STANDARD",
            "TRIAL",
            "ALPHA",
            "DEMO"
          ],
          "description": "The type of subscription",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the subscription has or will start."
        },
        "endTime": {
          "type": "string",
          "description": "The time the subscription has or will end.",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "description": "Details of a subscription."
    },
    "Pod": {
      "properties": {
        "containers": {
          "type": "array",
          "description": "Pod containers associated with this finding, if any.",
          "items": {
            "$ref": "Container"
          }
        },
        "labels": {
          "type": "array",
          "items": {
            "$ref": "Label"
          },
          "description": "Pod labels. For Kubernetes containers, these are applied to the container."
        },
        "ns": {
          "description": "Kubernetes Pod namespace.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Kubernetes Pod name."
        }
      },
      "description": "Kubernetes Pod.",
      "type": "object",
      "id": "Pod"
    },
    "RapidVulnerabilityDetectionSettings": {
      "id": "RapidVulnerabilityDetectionSettings",
      "type": "object",
      "properties": {
        "name": {
          "description": "The resource name of the RapidVulnerabilityDetectionSettings. Formats: * organizations/{organization}/rapidVulnerabilityDetectionSettings * folders/{folder}/rapidVulnerabilityDetectionSettings * projects/{project}/rapidVulnerabilityDetectionSettings",
          "type": "string"
        },
        "modules": {
          "additionalProperties": {
            "$ref": "Config"
          },
          "description": "The configurations including the state of enablement for the service's different modules. The absence of a module in the map implies its configuration is inherited from its parent's.",
          "type": "object"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the settings were last updated.",
          "readOnly": true
        },
        "serviceEnablementState": {
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "INHERITED",
            "ENABLED",
            "DISABLED"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "State is inherited from the parent resource.",
            "State is enabled.",
            "State is disabled."
          ],
          "description": "The state of enablement for the service at its level of the resource hierarchy. A DISABLED state will override all module enablement_states to DISABLED.",
          "type": "string"
        }
      },
      "description": "Resource capturing the settings for the Rapid Vulnerability Detection service."
    },
    "AssociatedFinding": {
      "description": "A finding that is associated with this node in the exposure path.",
      "id": "AssociatedFinding",
      "type": "object",
      "properties": {
        "findingCategory": {
          "type": "string",
          "description": "The additional taxonomy group within findings from a given source."
        },
        "canonicalFindingName": {
          "description": "Canonical name of the associated findings. Example: organizations/123/sources/456/findings/789",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Full resource name of the finding."
        }
      }
    },
    "Kubernetes": {
      "properties": {
        "nodes": {
          "description": "Provides Kubernetes Node information.",
          "items": {
            "$ref": "Node"
          },
          "type": "array"
        },
        "nodePools": {
          "description": "GKE Node Pools associated with the finding. This field will contain NodePool information for each Node, when it is available.",
          "type": "array",
          "items": {
            "$ref": "NodePool"
          }
        },
        "roles": {
          "description": "Provides Kubernetes role information for findings that involve Roles or ClusterRoles.",
          "items": {
            "$ref": "Role"
          },
          "type": "array"
        },
        "accessReviews": {
          "items": {
            "$ref": "AccessReview"
          },
          "description": "Provides information on any Kubernetes access reviews (i.e. privilege checks) relevant to the finding.",
          "type": "array"
        },
        "pods": {
          "type": "array",
          "description": "Kubernetes Pods associated with the finding. This field will contain Pod records for each container that is owned by a Pod.",
          "items": {
            "$ref": "Pod"
          }
        },
        "bindings": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1Binding"
          },
          "description": "Provides Kubernetes role binding information for findings that involve RoleBindings or ClusterRoleBindings.",
          "type": "array"
        }
      },
      "id": "Kubernetes",
      "type": "object",
      "description": "Kubernetes-related attributes."
    },
    "GoogleCloudSecuritycenterV1ExposurePath": {
      "description": "A path that an attacker could take to reach an exposed resource.",
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1ExposurePath",
      "properties": {
        "pathNodes": {
          "type": "array",
          "description": "A list of nodes that exist in this exposure path.",
          "items": {
            "$ref": "PathNode"
          }
        },
        "name": {
          "description": "Exposure Path Name e.g.: `organizations/123/attackExposureResults/456/exposurePaths/789`",
          "type": "string"
        },
        "edges": {
          "description": "A list of the edges between nodes in this exposure path.",
          "items": {
            "$ref": "Edge"
          },
          "type": "array"
        },
        "exposedResource": {
          "$ref": "GoogleCloudSecuritycenterV1ExposedResource",
          "description": "The leaf node of this exposure path."
        }
      }
    },
    "Cvssv3": {
      "properties": {
        "privilegesRequired": {
          "description": "This metric describes the level of privileges an attacker must possess before successfully exploiting the vulnerability.",
          "type": "string",
          "enumDescriptions": [
            "Invalid value.",
            "The attacker is unauthorized prior to attack, and therefore does not require any access to settings or files of the vulnerable system to carry out an attack.",
            "The attacker requires privileges that provide basic user capabilities that could normally affect only settings and files owned by a user. Alternatively, an attacker with Low privileges has the ability to access only non-sensitive resources.",
            "The attacker requires privileges that provide significant (e.g., administrative) control over the vulnerable component allowing access to component-wide settings and files."
          ],
          "enum": [
            "PRIVILEGES_REQUIRED_UNSPECIFIED",
            "PRIVILEGES_REQUIRED_NONE",
            "PRIVILEGES_REQUIRED_LOW",
            "PRIVILEGES_REQUIRED_HIGH"
          ]
        },
        "attackComplexity": {
          "type": "string",
          "enumDescriptions": [
            "Invalid value.",
            "Specialized access conditions or extenuating circumstances do not exist. An attacker can expect repeatable success when attacking the vulnerable component.",
            "A successful attack depends on conditions beyond the attacker's control. That is, a successful attack cannot be accomplished at will, but requires the attacker to invest in some measurable amount of effort in preparation or execution against the vulnerable component before a successful attack can be expected."
          ],
          "description": "This metric describes the conditions beyond the attacker's control that must exist in order to exploit the vulnerability.",
          "enum": [
            "ATTACK_COMPLEXITY_UNSPECIFIED",
            "ATTACK_COMPLEXITY_LOW",
            "ATTACK_COMPLEXITY_HIGH"
          ]
        },
        "confidentialityImpact": {
          "description": "This metric measures the impact to the confidentiality of the information resources managed by a software component due to a successfully exploited vulnerability.",
          "type": "string",
          "enumDescriptions": [
            "Invalid value.",
            "High impact.",
            "Low impact.",
            "No impact."
          ],
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ]
        },
        "scope": {
          "type": "string",
          "enumDescriptions": [
            "Invalid value.",
            "An exploited vulnerability can only affect resources managed by the same security authority.",
            "An exploited vulnerability can affect resources beyond the security scope managed by the security authority of the vulnerable component."
          ],
          "description": "The Scope metric captures whether a vulnerability in one vulnerable component impacts resources in components beyond its security scope.",
          "enum": [
            "SCOPE_UNSPECIFIED",
            "SCOPE_UNCHANGED",
            "SCOPE_CHANGED"
          ]
        },
        "attackVector": {
          "type": "string",
          "enum": [
            "ATTACK_VECTOR_UNSPECIFIED",
            "ATTACK_VECTOR_NETWORK",
            "ATTACK_VECTOR_ADJACENT",
            "ATTACK_VECTOR_LOCAL",
            "ATTACK_VECTOR_PHYSICAL"
          ],
          "enumDescriptions": [
            "Invalid value.",
            "The vulnerable component is bound to the network stack and the set of possible attackers extends beyond the other options listed below, up to and including the entire Internet.",
            "The vulnerable component is bound to the network stack, but the attack is limited at the protocol level to a logically adjacent topology.",
            "The vulnerable component is not bound to the network stack and the attacker's path is via read/write/execute capabilities.",
            "The attack requires the attacker to physically touch or manipulate the vulnerable component."
          ],
          "description": "Base Metrics Represents the intrinsic characteristics of a vulnerability that are constant over time and across user environments. This metric reflects the context by which vulnerability exploitation is possible."
        },
        "integrityImpact": {
          "description": "This metric measures the impact to integrity of a successfully exploited vulnerability.",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Invalid value.",
            "High impact.",
            "Low impact.",
            "No impact."
          ]
        },
        "availabilityImpact": {
          "enumDescriptions": [
            "Invalid value.",
            "High impact.",
            "Low impact.",
            "No impact."
          ],
          "type": "string",
          "description": "This metric measures the impact to the availability of the impacted component resulting from a successfully exploited vulnerability.",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ]
        },
        "userInteraction": {
          "type": "string",
          "enumDescriptions": [
            "Invalid value.",
            "The vulnerable system can be exploited without interaction from any user.",
            "Successful exploitation of this vulnerability requires a user to take some action before the vulnerability can be exploited."
          ],
          "enum": [
            "USER_INTERACTION_UNSPECIFIED",
            "USER_INTERACTION_NONE",
            "USER_INTERACTION_REQUIRED"
          ],
          "description": "This metric captures the requirement for a human user, other than the attacker, to participate in the successful compromise of the vulnerable component."
        },
        "baseScore": {
          "type": "number",
          "format": "double",
          "description": "The base score is a function of the base metric scores."
        }
      },
      "type": "object",
      "id": "Cvssv3",
      "description": "Common Vulnerability Scoring System version 3."
    },
    "MemoryHashSignature": {
      "id": "MemoryHashSignature",
      "properties": {
        "binaryFamily": {
          "type": "string",
          "description": "The binary family."
        },
        "detections": {
          "type": "array",
          "items": {
            "$ref": "Detection"
          },
          "description": "The list of memory hash detections contributing to the binary family match."
        }
      },
      "type": "object",
      "description": "A signature corresponding to memory page hashes."
    },
    "SecurityHealthAnalyticsSettings": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name of the SecurityHealthAnalyticsSettings. Formats: * organizations/{organization}/securityHealthAnalyticsSettings * folders/{folder}/securityHealthAnalyticsSettings * projects/{project}/securityHealthAnalyticsSettings"
        },
        "serviceAccount": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The service account used by Security Health Analytics detectors."
        },
        "serviceEnablementState": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "State is inherited from the parent resource.",
            "State is enabled.",
            "State is disabled."
          ],
          "type": "string",
          "description": "The state of enablement for the service at its level of the resource hierarchy. A DISABLED state will override all module enablement_states to DISABLED.",
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "INHERITED",
            "ENABLED",
            "DISABLED"
          ]
        },
        "modules": {
          "additionalProperties": {
            "$ref": "Config"
          },
          "type": "object",
          "description": "The configurations including the state of enablement for the service's different modules. The absence of a module in the map implies its configuration is inherited from its parent's."
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the settings were last updated.",
          "format": "google-datetime"
        }
      },
      "id": "SecurityHealthAnalyticsSettings",
      "description": "Resource capturing the settings for the Security Health Analytics service."
    },
    "PathNode": {
      "id": "PathNode",
      "description": "Represents one point that an attacker passes through in this exposure path.",
      "properties": {
        "resourceType": {
          "description": "The resource type of this resource. See: https://cloud.google.com/asset-inventory/docs/supported-asset-types",
          "type": "string"
        },
        "resource": {
          "description": "The name of the resource at this point in the exposure path. The format of the name is: https://cloud.google.com/apis/design/resource_names#full_resource_name",
          "type": "string"
        },
        "associatedFindings": {
          "type": "array",
          "items": {
            "$ref": "AssociatedFinding"
          },
          "description": "The findings associated with this node in the exposure path."
        },
        "displayName": {
          "description": "Human readable name of this resource.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Access": {
      "type": "object",
      "id": "Access",
      "description": "Represents an access event.",
      "properties": {
        "principalSubject": {
          "type": "string",
          "description": "A string representing the principal_subject associated with the identity. As compared to `principal_email`, supports principals that aren't associated with email addresses, such as third party principals. For most identities, the format will be `principal://iam.googleapis.com/{identity pool name}/subjects/{subject}` except for some GKE identities (GKE_WORKLOAD, FREEFORM, GKE_HUB_WORKLOAD) that are still in the legacy format `serviceAccount:{identity pool name}[{subject}]`"
        },
        "principalEmail": {
          "description": "Associated email, such as \"foo@google.com\". The email address of the authenticated user (or service account on behalf of third party principal) making the request. For third party identity callers, the `principal_subject` field is populated instead of this field. For privacy reasons, the principal email address is sometimes redacted. For more information, see [Caller identities in audit logs](https://cloud.google.com/logging/docs/audit#user-id).",
          "type": "string"
        },
        "callerIpGeo": {
          "description": "The caller IP's geolocation, which identifies where the call came from.",
          "$ref": "Geolocation"
        },
        "serviceName": {
          "type": "string",
          "description": "This is the API service that the service account made a call to, e.g. \"iam.googleapis.com\""
        },
        "serviceAccountKeyName": {
          "description": "The name of the service account key used to create or exchange credentials for authenticating the service account making the request. This is a scheme-less URI full resource name. For example: \"//iam.googleapis.com/projects/{PROJECT_ID}/serviceAccounts/{ACCOUNT}/keys/{key}\" ",
          "type": "string"
        },
        "methodName": {
          "type": "string",
          "description": "The method that the service account called, e.g. \"SetIamPolicy\"."
        },
        "serviceAccountDelegationInfo": {
          "description": "Identity delegation history of an authenticated service account that makes the request. It contains information on the real authorities that try to access GCP resources by delegating on a service account. When multiple authorities are present, they are guaranteed to be sorted based on the original ordering of the identity delegation events.",
          "items": {
            "$ref": "ServiceAccountDelegationInfo"
          },
          "type": "array"
        },
        "userAgentFamily": {
          "description": "What kind of user agent is associated, e.g. operating system shells, embedded or stand-alone applications, etc.",
          "type": "string"
        },
        "userName": {
          "type": "string",
          "description": "A string representing a username. This is likely not an IAM principal. For instance, this may be the system user name if the finding is VM-related, or this may be some type of application login user name, depending on the type of finding."
        },
        "callerIp": {
          "description": "Caller's IP address, such as \"1.1.1.1\".",
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV1Binding": {
      "description": "Represents a Kubernetes RoleBinding or ClusterRoleBinding.",
      "id": "GoogleCloudSecuritycenterV1Binding",
      "type": "object",
      "properties": {
        "role": {
          "description": "The Role or ClusterRole referenced by the binding.",
          "$ref": "Role"
        },
        "subjects": {
          "type": "array",
          "description": "Represents one or more subjects that are bound to the role. Not always available for PATCH requests.",
          "items": {
            "$ref": "Subject"
          }
        },
        "ns": {
          "description": "Namespace for binding.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name for binding."
        }
      }
    },
    "Folder": {
      "description": "Message that contains the resource name and display name of a folder resource.",
      "id": "Folder",
      "properties": {
        "resourceFolder": {
          "description": "Full resource name of this folder. See: https://cloud.google.com/apis/design/resource_names#full_resource_name",
          "type": "string"
        },
        "resourceFolderDisplayName": {
          "description": "The user defined display name for this folder.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Process": {
      "description": "Represents an operating system process.",
      "id": "Process",
      "type": "object",
      "properties": {
        "binary": {
          "$ref": "File",
          "description": "File information for the process executable."
        },
        "name": {
          "description": "The process name visible in utilities like `top` and `ps`; it can be accessed via `/proc/[pid]/comm` and changed with `prctl(PR_SET_NAME)`.",
          "type": "string"
        },
        "pid": {
          "format": "int64",
          "description": "The process id.",
          "type": "string"
        },
        "libraries": {
          "description": "File information for libraries loaded by the process.",
          "type": "array",
          "items": {
            "$ref": "File"
          }
        },
        "args": {
          "description": "Process arguments as JSON encoded strings.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "envVariables": {
          "type": "array",
          "description": "Process environment variables.",
          "items": {
            "$ref": "EnvironmentVariable"
          }
        },
        "parentPid": {
          "description": "The parent process id.",
          "format": "int64",
          "type": "string"
        },
        "envVariablesTruncated": {
          "description": "True if `env_variables` is incomplete.",
          "type": "boolean"
        },
        "script": {
          "description": "When the process represents the invocation of a script, `binary` provides information about the interpreter while `script` provides information about the script file provided to the interpreter.",
          "$ref": "File"
        },
        "argumentsTruncated": {
          "type": "boolean",
          "description": "True if `args` is incomplete."
        }
      }
    },
    "Connection": {
      "description": "Contains information about the IP connection associated with the finding.",
      "type": "object",
      "id": "Connection",
      "properties": {
        "sourcePort": {
          "description": "Source port.",
          "type": "integer",
          "format": "int32"
        },
        "sourceIp": {
          "type": "string",
          "description": "Source IP address."
        },
        "destinationIp": {
          "description": "Destination IP address. Not present for sockets that are listening and not connected.",
          "type": "string"
        },
        "protocol": {
          "enum": [
            "PROTOCOL_UNSPECIFIED",
            "ICMP",
            "TCP",
            "UDP",
            "GRE",
            "ESP"
          ],
          "enumDescriptions": [
            "Unspecified protocol (not HOPOPT).",
            "Internet Control Message Protocol.",
            "Transmission Control Protocol.",
            "User Datagram Protocol.",
            "Generic Routing Encapsulation.",
            "Encap Security Payload."
          ],
          "description": "IANA Internet Protocol Number such as TCP(6) and UDP(17).",
          "type": "string"
        },
        "destinationPort": {
          "type": "integer",
          "format": "int32",
          "description": "Destination port. Not present for sockets that are listening and not connected."
        }
      }
    },
    "GoogleCloudSecuritycenterV1p1beta1Finding": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1p1beta1Finding",
      "description": "Security Command Center finding. A finding is a record of assessment data (security, risk, health or privacy) ingested into Security Command Center for presentation, notification, analysis, policy testing, and enforcement. For example, an XSS vulnerability in an App Engine application is a finding.",
      "properties": {
        "severity": {
          "description": "The severity of the finding. This field is managed by the source that writes the finding.",
          "enumDescriptions": [
            "No severity specified. The default value.",
            "Critical severity.",
            "High severity.",
            "Medium severity.",
            "Low severity."
          ],
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ]
        },
        "securityMarks": {
          "description": "Output only. User specified security marks. These marks are entirely managed by the user and come from the SecurityMarks resource that belongs to the finding.",
          "readOnly": true,
          "$ref": "GoogleCloudSecuritycenterV1p1beta1SecurityMarks"
        },
        "canonicalName": {
          "type": "string",
          "description": "The canonical name of the finding. It's either \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}\", \"folders/{folder_id}/sources/{source_id}/findings/{finding_id}\" or \"projects/{project_number}/sources/{source_id}/findings/{finding_id}\", depending on the closest CRM ancestor of the resource associated with the finding."
        },
        "sourceProperties": {
          "type": "object",
          "description": "Source specific properties. These properties are managed by the source that writes the finding. The key names in the source_properties map must be between 1 and 255 characters, and must start with a letter and contain alphanumeric characters or underscores only.",
          "additionalProperties": {
            "type": "any"
          }
        },
        "name": {
          "description": "The relative resource name of this finding. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Example: \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}\"",
          "type": "string"
        },
        "state": {
          "description": "The state of the finding.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified state.",
            "The finding requires attention and has not been addressed yet.",
            "The finding has been fixed, triaged as a non-issue or otherwise addressed and is no longer active."
          ]
        },
        "category": {
          "type": "string",
          "description": "The additional taxonomy group within findings from a given source. This field is immutable after creation time. Example: \"XSS_FLASH_INJECTION\""
        },
        "createTime": {
          "description": "The time at which the finding was created in Security Command Center.",
          "type": "string",
          "format": "google-datetime"
        },
        "parent": {
          "type": "string",
          "description": "The relative resource name of the source the finding belongs to. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name This field is immutable after creation time. For example: \"organizations/{organization_id}/sources/{source_id}\""
        },
        "eventTime": {
          "description": "The time at which the event took place, or when an update to the finding occurred. For example, if the finding represents an open firewall it would capture the time the detector believes the firewall became open. The accuracy is determined by the detector. If the finding were to be resolved afterward, this time would reflect when the finding was resolved. Must not be set to a value greater than the current timestamp.",
          "type": "string",
          "format": "google-datetime"
        },
        "resourceName": {
          "description": "For findings on Google Cloud resources, the full resource name of the Google Cloud resource this finding is for. See: https://cloud.google.com/apis/design/resource_names#full_resource_name When the finding is for a non-Google Cloud resource, the resourceName can be a customer or partner defined string. This field is immutable after creation time.",
          "type": "string"
        },
        "externalUri": {
          "description": "The URI that, if available, points to a web page outside of Security Command Center where additional information about the finding can be found. This field is guaranteed to be either empty or a well formed URL.",
          "type": "string"
        }
      }
    },
    "WebSecurityScannerSettings": {
      "type": "object",
      "properties": {
        "updateTime": {
          "type": "string",
          "description": "Output only. The time the settings were last updated.",
          "format": "google-datetime",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "The resource name of the WebSecurityScannerSettings. Formats: * organizations/{organization}/webSecurityScannerSettings * folders/{folder}/webSecurityScannerSettings * projects/{project}/webSecurityScannerSettings"
        },
        "modules": {
          "type": "object",
          "additionalProperties": {
            "$ref": "Config"
          },
          "description": "The configurations including the state of enablement for the service's different modules. The absence of a module in the map implies its configuration is inherited from its parent's."
        },
        "serviceEnablementState": {
          "description": "The state of enablement for the service at its level of the resource hierarchy. A DISABLED state will override all module enablement_states to DISABLED.",
          "type": "string",
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "INHERITED",
            "ENABLED",
            "DISABLED"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "State is inherited from the parent resource.",
            "State is enabled.",
            "State is disabled."
          ]
        }
      },
      "id": "WebSecurityScannerSettings",
      "description": "Resource capturing the settings for the Web Security Scanner service."
    },
    "GoogleCloudSecuritycenterV1ResourceValueConfig": {
      "id": "GoogleCloudSecuritycenterV1ResourceValueConfig",
      "type": "object",
      "properties": {
        "tagValues": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. Tag values combined with AND to check against. Values in the form \"tagValues/123\" E.g. [ \"tagValues/123\", \"tagValues/456\", \"tagValues/789\" ] https://cloud.google.com/resource-manager/docs/tags/tags-creating-and-managing"
        },
        "scope": {
          "type": "string",
          "description": "Project or folder to scope this config to. For example, \"project/456\" would apply this config only to resources in \"project/456\" scope will be checked with \"AND\" of other resources."
        },
        "name": {
          "type": "string",
          "description": "Name for the resource value config"
        },
        "resourceValue": {
          "type": "string",
          "enumDescriptions": [
            "Unspecific value",
            "High resource value",
            "Medium resource value",
            "Low resource value",
            "No resource value, e.g. ignore these resources"
          ],
          "description": "Required. Resource value level this expression represents",
          "enum": [
            "RESOURCE_VALUE_UNSPECIFIED",
            "HIGH",
            "MEDIUM",
            "LOW",
            "NONE"
          ]
        },
        "resourceType": {
          "description": "Apply resource_value only to resources that match resource_type. resource_type will be checked with \"AND\" of other resources. E.g. \"storage.googleapis.com/Bucket\" with resource_value \"HIGH\" will apply \"HIGH\" value only to \"storage.googleapis.com/Bucket\" resources.",
          "type": "string"
        }
      },
      "description": "A resource value config is a mapping configuration of user's tag values to resource values. Used by the attack path simulation."
    },
    "NodePool": {
      "description": "Provides GKE Node Pool information.",
      "id": "NodePool",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Kubernetes Node pool name."
        },
        "nodes": {
          "type": "array",
          "items": {
            "$ref": "Node"
          },
          "description": "Nodes associated with the finding."
        }
      }
    },
    "GoogleCloudSecuritycenterV1MuteConfig": {
      "type": "object",
      "description": "A mute config is a Cloud SCC resource that contains the configuration to mute create/update events of findings.",
      "properties": {
        "filter": {
          "type": "string",
          "description": "Required. An expression that defines the filter to apply across create/update events of findings. While creating a filter string, be mindful of the scope in which the mute configuration is being created. E.g., If a filter contains project = X but is created under the project = Y scope, it might not match any findings. The following field and operator combinations are supported: * severity: `=`, `:` * category: `=`, `:` * resource.name: `=`, `:` * resource.project_name: `=`, `:` * resource.project_display_name: `=`, `:` * resource.folders.resource_folder: `=`, `:` * resource.parent_name: `=`, `:` * resource.parent_display_name: `=`, `:` * resource.type: `=`, `:` * finding_class: `=`, `:` * indicator.ip_addresses: `=`, `:` * indicator.domains: `=`, `:`"
        },
        "displayName": {
          "type": "string",
          "description": "The human readable name to be displayed for the mute config."
        },
        "description": {
          "type": "string",
          "description": "A description of the mute config."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time at which the mute config was created. This field is set by the server and will be ignored if provided on config creation."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The most recent time at which the mute config was updated. This field is set by the server and will be ignored if provided on config creation or update.",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "This field will be ignored if provided on config creation. Format \"organizations/{organization}/muteConfigs/{mute_config}\" \"folders/{folder}/muteConfigs/{mute_config}\" \"projects/{project}/muteConfigs/{mute_config}\""
        },
        "mostRecentEditor": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Email address of the user who last edited the mute config. This field is set by the server and will be ignored if provided on config creation or update."
        }
      },
      "id": "GoogleCloudSecuritycenterV1MuteConfig"
    },
    "ExfilResource": {
      "description": "Resource that has been exfiltrated or exfiltrated_to.",
      "type": "object",
      "properties": {
        "components": {
          "type": "array",
          "description": "Subcomponents of the asset that is exfiltrated - these could be URIs used during exfiltration, table names, databases, filenames, etc. For example, multiple tables may be exfiltrated from the same CloudSQL instance, or multiple files from the same Cloud Storage bucket.",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "Resource's URI (https://google.aip.dev/122#full-resource-names)"
        }
      },
      "id": "ExfilResource"
    },
    "SecurityMarks": {
      "type": "object",
      "properties": {
        "canonicalName": {
          "description": "The canonical name of the marks. Examples: \"organizations/{organization_id}/assets/{asset_id}/securityMarks\" \"folders/{folder_id}/assets/{asset_id}/securityMarks\" \"projects/{project_number}/assets/{asset_id}/securityMarks\" \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}/securityMarks\" \"folders/{folder_id}/sources/{source_id}/findings/{finding_id}/securityMarks\" \"projects/{project_number}/sources/{source_id}/findings/{finding_id}/securityMarks\"",
          "type": "string"
        },
        "name": {
          "description": "The relative resource name of the SecurityMarks. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Examples: \"organizations/{organization_id}/assets/{asset_id}/securityMarks\" \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}/securityMarks\".",
          "type": "string"
        },
        "marks": {
          "description": "Mutable user specified security marks belonging to the parent resource. Constraints are as follows: * Keys and values are treated as case insensitive * Keys must be between 1 - 256 characters (inclusive) * Keys must be letters, numbers, underscores, or dashes * Values have leading and trailing whitespace trimmed, remaining characters must be between 1 - 4096 characters (inclusive)",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "description": "User specified security marks that are attached to the parent Security Command Center resource. Security marks are scoped within a Security Command Center organization -- they can be modified and viewed by all users who have proper permissions on the organization.",
      "id": "SecurityMarks"
    },
    "IamBinding": {
      "type": "object",
      "id": "IamBinding",
      "properties": {
        "role": {
          "type": "string",
          "description": "Role that is assigned to \"members\". For example, \"roles/viewer\", \"roles/editor\", or \"roles/owner\"."
        },
        "action": {
          "description": "The action that was performed on a Binding.",
          "type": "string",
          "enum": [
            "ACTION_UNSPECIFIED",
            "ADD",
            "REMOVE"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Addition of a Binding.",
            "Removal of a Binding."
          ]
        },
        "member": {
          "type": "string",
          "description": "A single identity requesting access for a Cloud Platform resource, e.g. \"foo@google.com\"."
        }
      },
      "description": "Represents a particular IAM binding, which captures a member's role addition, removal, or state."
    },
    "Exfiltration": {
      "type": "object",
      "description": "Exfiltration represents a data exfiltration attempt of one or more sources to one or more targets. Sources represent the source of data that is exfiltrated, and Targets represents the destination the data was copied to.",
      "id": "Exfiltration",
      "properties": {
        "sources": {
          "items": {
            "$ref": "ExfilResource"
          },
          "description": "If there are multiple sources, then the data is considered \"joined\" between them. For instance, BigQuery can join multiple tables, and each table would be considered a source.",
          "type": "array"
        },
        "targets": {
          "description": "If there are multiple targets, each target would get a complete copy of the \"joined\" source data.",
          "items": {
            "$ref": "ExfilResource"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudSecuritycenterV1p1beta1RunAssetDiscoveryResponse": {
      "id": "GoogleCloudSecuritycenterV1p1beta1RunAssetDiscoveryResponse",
      "type": "object",
      "description": "Response of asset discovery run",
      "properties": {
        "duration": {
          "description": "The duration between asset discovery run start and end",
          "type": "string",
          "format": "google-duration"
        },
        "state": {
          "description": "The state of an asset discovery run.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "COMPLETED",
            "SUPERSEDED",
            "TERMINATED"
          ],
          "enumDescriptions": [
            "Asset discovery run state was unspecified.",
            "Asset discovery run completed successfully.",
            "Asset discovery run was cancelled with tasks still pending, as another run for the same organization was started with a higher priority.",
            "Asset discovery run was killed and terminated."
          ]
        }
      }
    },
    "Finding": {
      "properties": {
        "description": {
          "type": "string",
          "description": "Contains more detail about the finding."
        },
        "createTime": {
          "description": "The time at which the finding was created in Security Command Center.",
          "type": "string",
          "format": "google-datetime"
        },
        "muteInitiator": {
          "description": "First known as mute_annotation. Records additional information about the mute operation e.g. mute config that muted the finding, user who muted the finding, etc. Unlike other attributes of a finding, a finding provider shouldn't set the value of mute.",
          "type": "string"
        },
        "eventTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time the finding was first detected. If an existing finding is updated, then this is the time the update occurred. For example, if the finding represents an open firewall, this property captures the time the detector believes the firewall became open. The accuracy is determined by the detector. If the finding is later resolved, then this time reflects when the finding was resolved. This must not be set to a value greater than the current timestamp."
        },
        "category": {
          "type": "string",
          "description": "The additional taxonomy group within findings from a given source. This field is immutable after creation time. Example: \"XSS_FLASH_INJECTION\""
        },
        "severity": {
          "description": "The severity of the finding. This field is managed by the source that writes the finding.",
          "enumDescriptions": [
            "This value is used for findings when a source doesn't write a severity value.",
            "Vulnerability: A critical vulnerability is easily discoverable by an external actor, exploitable, and results in the direct ability to execute arbitrary code, exfiltrate data, and otherwise gain additional access and privileges to cloud resources and workloads. Examples include publicly accessible unprotected user data, public SSH access with weak or no passwords, etc. Threat: Indicates a threat that is able to access, modify, or delete data or execute unauthorized code within existing resources.",
            "Vulnerability: A high risk vulnerability can be easily discovered and exploited in combination with other vulnerabilities in order to gain direct access and the ability to execute arbitrary code, exfiltrate data, and otherwise gain additional access and privileges to cloud resources and workloads. An example is a database with weak or no passwords that is only accessible internally. This database could easily be compromised by an actor that had access to the internal network. Threat: Indicates a threat that is able to create new computational resources in an environment but not able to access data or execute code in existing resources.",
            "Vulnerability: A medium risk vulnerability could be used by an actor to gain access to resources or privileges that enable them to eventually (through multiple steps or a complex exploit) gain access and the ability to execute arbitrary code or exfiltrate data. An example is a service account with access to more projects than it should have. If an actor gains access to the service account, they could potentially use that access to manipulate a project the service account was not intended to. Threat: Indicates a threat that is able to cause operational impact but may not access data or execute unauthorized code.",
            "Vulnerability: A low risk vulnerability hampers a security organization's ability to detect vulnerabilities or active threats in their deployment, or prevents the root cause investigation of security issues. An example is monitoring and logs being disabled for resource configurations and access. Threat: Indicates a threat that has obtained minimal access to an environment but is not able to access data, execute code, or create resources."
          ],
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ]
        },
        "mitreAttack": {
          "$ref": "MitreAttack",
          "description": "MITRE ATT&CK tactics and techniques related to this finding. See: https://attack.mitre.org"
        },
        "parent": {
          "type": "string",
          "description": "The relative resource name of the source the finding belongs to. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name This field is immutable after creation time. For example: \"organizations/{organization_id}/sources/{source_id}\""
        },
        "access": {
          "$ref": "Access",
          "description": "Access details associated to the Finding, such as more information on the caller, which method was accessed, from where, etc."
        },
        "resourceName": {
          "type": "string",
          "description": "For findings on Google Cloud resources, the full resource name of the Google Cloud resource this finding is for. See: https://cloud.google.com/apis/design/resource_names#full_resource_name When the finding is for a non-Google Cloud resource, the resourceName can be a customer or partner defined string. This field is immutable after creation time."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified state.",
            "The finding requires attention and has not been addressed yet.",
            "The finding has been fixed, triaged as a non-issue or otherwise addressed and is no longer active."
          ],
          "description": "The state of the finding."
        },
        "contacts": {
          "readOnly": true,
          "type": "object",
          "description": "Output only. Map containing the points of contact for the given finding. The key represents the type of contact, while the value contains a list of all the contacts that pertain. Please refer to: https://cloud.google.com/resource-manager/docs/managing-notification-contacts#notification-categories { \"security\": { \"contacts\": [ { \"email\": \"person1@company.com\" }, { \"email\": \"person2@company.com\" } ] } }",
          "additionalProperties": {
            "$ref": "ContactDetails"
          }
        },
        "kubernetes": {
          "description": "Kubernetes resources associated with the finding.",
          "$ref": "Kubernetes"
        },
        "muteUpdateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The most recent time this finding was muted or unmuted.",
          "type": "string"
        },
        "mute": {
          "type": "string",
          "description": "Indicates the mute state of a finding (either muted, unmuted or undefined). Unlike other attributes of a finding, a finding provider shouldn't set the value of mute.",
          "enumDescriptions": [
            "Unspecified.",
            "Finding has been muted.",
            "Finding has been unmuted.",
            "Finding has never been muted/unmuted."
          ],
          "enum": [
            "MUTE_UNSPECIFIED",
            "MUTED",
            "UNMUTED",
            "UNDEFINED"
          ]
        },
        "vulnerability": {
          "$ref": "Vulnerability",
          "description": "Represents vulnerability-specific fields like CVE and CVSS scores. CVE stands for Common Vulnerabilities and Exposures (https://cve.mitre.org/about/)"
        },
        "externalSystems": {
          "description": "Output only. Third party SIEM/SOAR fields within SCC, contains external system information and external system finding fields.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudSecuritycenterV1ExternalSystem"
          },
          "readOnly": true
        },
        "connections": {
          "description": "Contains information about the IP connection associated with the finding.",
          "items": {
            "$ref": "Connection"
          },
          "type": "array"
        },
        "securityMarks": {
          "description": "Output only. User specified security marks. These marks are entirely managed by the user and come from the SecurityMarks resource that belongs to the finding.",
          "readOnly": true,
          "$ref": "SecurityMarks"
        },
        "indicator": {
          "description": "Represents what's commonly known as an Indicator of compromise (IoC) in computer forensics. This is an artifact observed on a network or in an operating system that, with high confidence, indicates a computer intrusion. Reference: https://en.wikipedia.org/wiki/Indicator_of_compromise",
          "$ref": "Indicator"
        },
        "compliances": {
          "items": {
            "$ref": "Compliance"
          },
          "description": "Contains compliance information for security standards associated to the finding.",
          "type": "array"
        },
        "parentDisplayName": {
          "type": "string",
          "description": "Output only. The human readable display name of the finding source such as \"Event Threat Detection\" or \"Security Health Analytics\".",
          "readOnly": true
        },
        "findingClass": {
          "description": "The class of the finding.",
          "enumDescriptions": [
            "Unspecified finding class.",
            "Describes unwanted or malicious activity.",
            "Describes a potential weakness in software that increases risk to Confidentiality & Integrity & Availability.",
            "Describes a potential weakness in cloud resource/asset configuration that increases risk.",
            "Describes a security observation that is for informational purposes.",
            "Describes an error that prevents some SCC functionality."
          ],
          "type": "string",
          "enum": [
            "FINDING_CLASS_UNSPECIFIED",
            "THREAT",
            "VULNERABILITY",
            "MISCONFIGURATION",
            "OBSERVATION",
            "SCC_ERROR"
          ]
        },
        "kernelRootkit": {
          "$ref": "KernelRootkit",
          "description": "Kernel Rootkit signature."
        },
        "files": {
          "description": "File associated with the finding.",
          "items": {
            "$ref": "File"
          },
          "type": "array"
        },
        "processes": {
          "items": {
            "$ref": "Process"
          },
          "description": "Represents operating system processes associated with the Finding.",
          "type": "array"
        },
        "sourceProperties": {
          "additionalProperties": {
            "type": "any"
          },
          "type": "object",
          "description": "Source specific properties. These properties are managed by the source that writes the finding. The key names in the source_properties map must be between 1 and 255 characters, and must start with a letter and contain alphanumeric characters or underscores only."
        },
        "database": {
          "$ref": "Database",
          "description": "Database associated with the finding."
        },
        "containers": {
          "description": "Containers associated with the finding. containers provides information for both Kubernetes and non-Kubernetes containers.",
          "type": "array",
          "items": {
            "$ref": "Container"
          }
        },
        "externalUri": {
          "type": "string",
          "description": "The URI that, if available, points to a web page outside of Security Command Center where additional information about the finding can be found. This field is guaranteed to be either empty or a well formed URL."
        },
        "name": {
          "type": "string",
          "description": "The relative resource name of this finding. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Example: \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}\""
        },
        "exfiltration": {
          "$ref": "Exfiltration",
          "description": "Represents exfiltration associated with the Finding."
        },
        "nextSteps": {
          "type": "string",
          "description": "Next steps associate to the finding."
        },
        "canonicalName": {
          "description": "The canonical name of the finding. It's either \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}\", \"folders/{folder_id}/sources/{source_id}/findings/{finding_id}\" or \"projects/{project_number}/sources/{source_id}/findings/{finding_id}\", depending on the closest CRM ancestor of the resource associated with the finding.",
          "type": "string"
        },
        "iamBindings": {
          "type": "array",
          "items": {
            "$ref": "IamBinding"
          },
          "description": "Represents IAM bindings associated with the Finding."
        }
      },
      "type": "object",
[...]
