{
  "canonicalName": "Security Command Center",
  "revision": "20201231",
  "ownerName": "Google",
  "basePath": "",
  "baseUrl": "https://securitycenter.googleapis.com/",
  "parameters": {
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    }
  },
  "name": "securitycenter",
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://securitycenter.mtls.googleapis.com/",
  "resources": {
    "projects": {
      "methods": {
        "getEventThreatDetectionSettings": {
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "pattern": "^projects/[^/]+/eventThreatDetectionSettings$",
              "description": "Required. The name of the EventThreatDetectionSettings to retrieve. Formats: * organizations/{organization}/eventThreatDetectionSettings * folders/{folder}/eventThreatDetectionSettings * projects/{project}/eventThreatDetectionSettings",
              "location": "path"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1beta2/projects/{projectsId}/eventThreatDetectionSettings",
          "description": "Get the EventThreatDetectionSettings resource.",
          "httpMethod": "GET",
          "id": "securitycenter.projects.getEventThreatDetectionSettings",
          "response": {
            "$ref": "EventThreatDetectionSettings"
          },
          "path": "v1beta2/{+name}"
        },
        "updateEventThreatDetectionSettings": {
          "httpMethod": "PATCH",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "updateMask": {
              "format": "google-fieldmask",
              "type": "string",
              "description": "The list of fields to be updated.",
              "location": "query"
            },
            "name": {
              "pattern": "^projects/[^/]+/eventThreatDetectionSettings$",
              "description": "The resource name of the EventThreatDetectionSettings. Formats: * organizations/{organization}/eventThreatDetectionSettings * folders/{folder}/eventThreatDetectionSettings * projects/{project}/eventThreatDetectionSettings",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "description": "Update the EventThreatDetectionSettings resource.",
          "request": {
            "$ref": "EventThreatDetectionSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "securitycenter.projects.updateEventThreatDetectionSettings",
          "flatPath": "v1beta2/projects/{projectsId}/eventThreatDetectionSettings",
          "response": {
            "$ref": "EventThreatDetectionSettings"
          },
          "path": "v1beta2/{+name}"
        },
        "getSecurityHealthAnalyticsSettings": {
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "description": "Get the SecurityHealthAnalyticsSettings resource.",
          "flatPath": "v1beta2/projects/{projectsId}/securityHealthAnalyticsSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "pattern": "^projects/[^/]+/securityHealthAnalyticsSettings$",
              "description": "Required. The name of the SecurityHealthAnalyticsSettings to retrieve. Formats: * organizations/{organization}/securityHealthAnalyticsSettings * folders/{folder}/securityHealthAnalyticsSettings * projects/{project}/securityHealthAnalyticsSettings",
              "type": "string"
            }
          },
          "id": "securitycenter.projects.getSecurityHealthAnalyticsSettings",
          "path": "v1beta2/{+name}"
        },
        "getWebSecurityScannerSettings": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "name": {
              "description": "Required. The name of the WebSecurityScannerSettings to retrieve. Formats: * organizations/{organization}/webSecurityScannerSettings * folders/{folder}/webSecurityScannerSettings * projects/{project}/webSecurityScannerSettings",
              "pattern": "^projects/[^/]+/webSecurityScannerSettings$",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "path": "v1beta2/{+name}",
          "response": {
            "$ref": "WebSecurityScannerSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "description": "Get the WebSecurityScannerSettings resource.",
          "flatPath": "v1beta2/projects/{projectsId}/webSecurityScannerSettings",
          "id": "securitycenter.projects.getWebSecurityScannerSettings"
        },
        "updateWebSecurityScannerSettings": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1beta2/projects/{projectsId}/webSecurityScannerSettings",
          "id": "securitycenter.projects.updateWebSecurityScannerSettings",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "WebSecurityScannerSettings"
          },
          "path": "v1beta2/{+name}",
          "description": "Update the WebSecurityScannerSettings resource.",
          "request": {
            "$ref": "WebSecurityScannerSettings"
          },
          "httpMethod": "PATCH",
          "parameters": {
            "updateMask": {
              "description": "The list of fields to be updated.",
              "type": "string",
              "location": "query",
              "format": "google-fieldmask"
            },
            "name": {
              "description": "The resource name of the WebSecurityScannerSettings. Formats: * organizations/{organization}/webSecurityScannerSettings * folders/{folder}/webSecurityScannerSettings * projects/{project}/webSecurityScannerSettings",
              "location": "path",
              "type": "string",
              "required": true,
              "pattern": "^projects/[^/]+/webSecurityScannerSettings$"
            }
          }
        },
        "updateContainerThreatDetectionSettings": {
          "description": "Update the ContainerThreatDetectionSettings resource.",
          "parameters": {
            "updateMask": {
              "location": "query",
              "type": "string",
              "description": "The list of fields to be updated.",
              "format": "google-fieldmask"
            },
            "name": {
              "pattern": "^projects/[^/]+/containerThreatDetectionSettings$",
              "type": "string",
              "required": true,
              "description": "The resource name of the ContainerThreatDetectionSettings. Formats: * organizations/{organization}/containerThreatDetectionSettings * folders/{folder}/containerThreatDetectionSettings * projects/{project}/containerThreatDetectionSettings * projects/{project}/locations/{location}/clusters/{cluster}/containerThreatDetectionSettings",
              "location": "path"
            }
          },
          "httpMethod": "PATCH",
          "id": "securitycenter.projects.updateContainerThreatDetectionSettings",
          "path": "v1beta2/{+name}",
          "response": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "flatPath": "v1beta2/projects/{projectsId}/containerThreatDetectionSettings"
        },
        "getContainerThreatDetectionSettings": {
          "id": "securitycenter.projects.getContainerThreatDetectionSettings",
          "httpMethod": "GET",
          "description": "Get the ContainerThreatDetectionSettings resource.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "name": {
              "type": "string",
              "required": true,
              "pattern": "^projects/[^/]+/containerThreatDetectionSettings$",
              "location": "path",
              "description": "Required. The name of the ContainerThreatDetectionSettings to retrieve. Formats: * organizations/{organization}/containerThreatDetectionSettings * folders/{folder}/containerThreatDetectionSettings * projects/{project}/containerThreatDetectionSettings * projects/{project}/locations/{location}/clusters/{cluster}/containerThreatDetectionSettings"
            }
          },
          "response": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1beta2/projects/{projectsId}/containerThreatDetectionSettings",
          "path": "v1beta2/{+name}"
        },
        "updateSecurityHealthAnalyticsSettings": {
          "response": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "securitycenter.projects.updateSecurityHealthAnalyticsSettings",
          "description": "Update the SecurityHealthAnalyticsSettings resource.",
          "request": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "httpMethod": "PATCH",
          "parameters": {
            "name": {
              "description": "The resource name of the SecurityHealthAnalyticsSettings. Formats: * organizations/{organization}/securityHealthAnalyticsSettings * folders/{folder}/securityHealthAnalyticsSettings * projects/{project}/securityHealthAnalyticsSettings",
              "location": "path",
              "type": "string",
              "required": true,
              "pattern": "^projects/[^/]+/securityHealthAnalyticsSettings$"
            },
            "updateMask": {
              "format": "google-fieldmask",
              "location": "query",
              "description": "The list of fields to be updated.",
              "type": "string"
            }
          },
          "flatPath": "v1beta2/projects/{projectsId}/securityHealthAnalyticsSettings",
          "path": "v1beta2/{+name}"
        }
      },
      "resources": {
        "containerThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The name of the ContainerThreatDetectionSettings to calculate. Formats: * organizations/{organization}/containerThreatDetectionSettings * folders/{folder}/containerThreatDetectionSettings * projects/{project}/containerThreatDetectionSettings * projects/{project}/locations/{location}/clusters/{cluster}/containerThreatDetectionSettings",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/containerThreatDetectionSettings$"
                }
              },
              "httpMethod": "GET",
              "id": "securitycenter.projects.containerThreatDetectionSettings.calculate",
              "path": "v1beta2/{+name}:calculate",
              "response": {
                "$ref": "ContainerThreatDetectionSettings"
              },
              "description": "Calculates the effective ContainerThreatDetectionSettings based on its level in the resource hierarchy and its settings.",
              "flatPath": "v1beta2/projects/{projectsId}/containerThreatDetectionSettings:calculate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "webSecurityScannerSettings": {
          "methods": {
            "calculate": {
              "path": "v1beta2/{+name}:calculate",
              "response": {
                "$ref": "WebSecurityScannerSettings"
              },
              "flatPath": "v1beta2/projects/{projectsId}/webSecurityScannerSettings:calculate",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/webSecurityScannerSettings$",
                  "description": "Required. The name of the WebSecurityScannerSettings to calculate. Formats: * organizations/{organization}/webSecurityScannerSettings * folders/{folder}/webSecurityScannerSettings * projects/{project}/webSecurityScannerSettings",
                  "required": true,
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "id": "securitycenter.projects.webSecurityScannerSettings.calculate",
              "description": "Calculates the effective WebSecurityScannerSettings based on its level in the resource hierarchy and its settings.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "securityHealthAnalyticsSettings": {
          "methods": {
            "calculate": {
              "response": {
                "$ref": "SecurityHealthAnalyticsSettings"
              },
              "description": "Calculates the effective SecurityHealthAnalyticsSettings based on its level in the resource hierarchy and its settings.",
              "id": "securitycenter.projects.securityHealthAnalyticsSettings.calculate",
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta2/{+name}:calculate",
              "parameters": {
                "name": {
                  "description": "Required. The name of the SecurityHealthAnalyticsSettings to calculate. Formats: * organizations/{organization}/securityHealthAnalyticsSettings * folders/{folder}/securityHealthAnalyticsSettings * projects/{project}/securityHealthAnalyticsSettings",
                  "pattern": "^projects/[^/]+/securityHealthAnalyticsSettings$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "flatPath": "v1beta2/projects/{projectsId}/securityHealthAnalyticsSettings:calculate"
            }
          }
        },
        "locations": {
          "resources": {
            "clusters": {
              "resources": {
                "containerThreatDetectionSettings": {
                  "methods": {
                    "calculate": {
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/containerThreatDetectionSettings$",
                          "location": "path",
                          "type": "string",
                          "description": "Required. The name of the ContainerThreatDetectionSettings to calculate. Formats: * organizations/{organization}/containerThreatDetectionSettings * folders/{folder}/containerThreatDetectionSettings * projects/{project}/containerThreatDetectionSettings * projects/{project}/locations/{location}/clusters/{cluster}/containerThreatDetectionSettings",
                          "required": true
                        }
                      },
                      "description": "Calculates the effective ContainerThreatDetectionSettings based on its level in the resource hierarchy and its settings.",
                      "httpMethod": "GET",
                      "id": "securitycenter.projects.locations.clusters.containerThreatDetectionSettings.calculate",
                      "path": "v1beta2/{+name}:calculate",
                      "response": {
                        "$ref": "ContainerThreatDetectionSettings"
                      },
                      "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/containerThreatDetectionSettings:calculate",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                }
              },
              "methods": {
                "updateContainerThreatDetectionSettings": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ContainerThreatDetectionSettings"
                  },
                  "description": "Update the ContainerThreatDetectionSettings resource.",
                  "request": {
                    "$ref": "ContainerThreatDetectionSettings"
                  },
                  "path": "v1beta2/{+name}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "description": "The resource name of the ContainerThreatDetectionSettings. Formats: * organizations/{organization}/containerThreatDetectionSettings * folders/{folder}/containerThreatDetectionSettings * projects/{project}/containerThreatDetectionSettings * projects/{project}/locations/{location}/clusters/{cluster}/containerThreatDetectionSettings",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/containerThreatDetectionSettings$"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "description": "The list of fields to be updated.",
                      "type": "string"
                    }
                  },
                  "id": "securitycenter.projects.locations.clusters.updateContainerThreatDetectionSettings",
                  "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/containerThreatDetectionSettings",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH"
                },
                "getContainerThreatDetectionSettings": {
                  "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/containerThreatDetectionSettings",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the ContainerThreatDetectionSettings to retrieve. Formats: * organizations/{organization}/containerThreatDetectionSettings * folders/{folder}/containerThreatDetectionSettings * projects/{project}/containerThreatDetectionSettings * projects/{project}/locations/{location}/clusters/{cluster}/containerThreatDetectionSettings",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/containerThreatDetectionSettings$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "id": "securitycenter.projects.locations.clusters.getContainerThreatDetectionSettings",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta2/{+name}",
                  "response": {
                    "$ref": "ContainerThreatDetectionSettings"
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Get the ContainerThreatDetectionSettings resource."
                }
              }
            }
          }
        },
        "eventThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "httpMethod": "GET",
              "description": "Calculates the effective EventThreatDetectionSettings based on its level in the resource hierarchy and its settings.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta2/{+name}:calculate",
              "id": "securitycenter.projects.eventThreatDetectionSettings.calculate",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The name of the EventThreatDetectionSettings to calculate. Formats: * organizations/{organization}/eventThreatDetectionSettings * folders/{folder}/eventThreatDetectionSettings * projects/{project}/eventThreatDetectionSettings",
                  "required": true,
                  "pattern": "^projects/[^/]+/eventThreatDetectionSettings$",
                  "type": "string"
                }
              },
              "flatPath": "v1beta2/projects/{projectsId}/eventThreatDetectionSettings:calculate",
              "response": {
                "$ref": "EventThreatDetectionSettings"
              }
            }
          }
        }
      }
    },
    "organizations": {
      "resources": {
        "eventThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "id": "securitycenter.organizations.eventThreatDetectionSettings.calculate",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The name of the EventThreatDetectionSettings to calculate. Formats: * organizations/{organization}/eventThreatDetectionSettings * folders/{folder}/eventThreatDetectionSettings * projects/{project}/eventThreatDetectionSettings",
                  "type": "string",
                  "pattern": "^organizations/[^/]+/eventThreatDetectionSettings$",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "EventThreatDetectionSettings"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Calculates the effective EventThreatDetectionSettings based on its level in the resource hierarchy and its settings.",
              "flatPath": "v1beta2/organizations/{organizationsId}/eventThreatDetectionSettings:calculate",
              "path": "v1beta2/{+name}:calculate",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "containerThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "response": {
                "$ref": "ContainerThreatDetectionSettings"
              },
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^organizations/[^/]+/containerThreatDetectionSettings$",
                  "description": "Required. The name of the ContainerThreatDetectionSettings to calculate. Formats: * organizations/{organization}/containerThreatDetectionSettings * folders/{folder}/containerThreatDetectionSettings * projects/{project}/containerThreatDetectionSettings * projects/{project}/locations/{location}/clusters/{cluster}/containerThreatDetectionSettings",
                  "type": "string",
                  "required": true
                }
              },
              "description": "Calculates the effective ContainerThreatDetectionSettings based on its level in the resource hierarchy and its settings.",
              "id": "securitycenter.organizations.containerThreatDetectionSettings.calculate",
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta2/{+name}:calculate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta2/organizations/{organizationsId}/containerThreatDetectionSettings:calculate"
            }
          }
        },
        "securityHealthAnalyticsSettings": {
          "methods": {
            "calculate": {
              "httpMethod": "GET",
              "path": "v1beta2/{+name}:calculate",
              "parameterOrder": [
                "name"
              ],
              "description": "Calculates the effective SecurityHealthAnalyticsSettings based on its level in the resource hierarchy and its settings.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "securitycenter.organizations.securityHealthAnalyticsSettings.calculate",
              "response": {
                "$ref": "SecurityHealthAnalyticsSettings"
              },
              "flatPath": "v1beta2/organizations/{organizationsId}/securityHealthAnalyticsSettings:calculate",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The name of the SecurityHealthAnalyticsSettings to calculate. Formats: * organizations/{organization}/securityHealthAnalyticsSettings * folders/{folder}/securityHealthAnalyticsSettings * projects/{project}/securityHealthAnalyticsSettings",
                  "required": true,
                  "type": "string",
                  "pattern": "^organizations/[^/]+/securityHealthAnalyticsSettings$"
                }
              }
            }
          }
        },
        "webSecurityScannerSettings": {
          "methods": {
            "calculate": {
              "description": "Calculates the effective WebSecurityScannerSettings based on its level in the resource hierarchy and its settings.",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "securitycenter.organizations.webSecurityScannerSettings.calculate",
              "response": {
                "$ref": "WebSecurityScannerSettings"
              },
              "httpMethod": "GET",
              "flatPath": "v1beta2/organizations/{organizationsId}/webSecurityScannerSettings:calculate",
              "path": "v1beta2/{+name}:calculate",
              "parameters": {
                "name": {
                  "description": "Required. The name of the WebSecurityScannerSettings to calculate. Formats: * organizations/{organization}/webSecurityScannerSettings * folders/{folder}/webSecurityScannerSettings * projects/{project}/webSecurityScannerSettings",
                  "type": "string",
                  "required": true,
                  "pattern": "^organizations/[^/]+/webSecurityScannerSettings$",
                  "location": "path"
                }
              }
            }
          }
        }
      },
      "methods": {
        "getSecurityHealthAnalyticsSettings": {
          "parameters": {
            "name": {
              "pattern": "^organizations/[^/]+/securityHealthAnalyticsSettings$",
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Required. The name of the SecurityHealthAnalyticsSettings to retrieve. Formats: * organizations/{organization}/securityHealthAnalyticsSettings * folders/{folder}/securityHealthAnalyticsSettings * projects/{project}/securityHealthAnalyticsSettings"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "securitycenter.organizations.getSecurityHealthAnalyticsSettings",
          "flatPath": "v1beta2/organizations/{organizationsId}/securityHealthAnalyticsSettings",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "path": "v1beta2/{+name}",
          "description": "Get the SecurityHealthAnalyticsSettings resource.",
          "httpMethod": "GET"
        },
        "getSecurityCenterSettings": {
          "description": "Get the SecurityCenterSettings resource.",
          "id": "securitycenter.organizations.getSecurityCenterSettings",
          "path": "v1beta2/{+name}",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "required": true,
              "pattern": "^organizations/[^/]+/securityCenterSettings$",
              "description": "Required. The name of the SecurityCenterSettings to retrieve. Format: organizations/{organization}/securityCenterSettings",
              "type": "string",
              "location": "path"
            }
          },
          "response": {
            "$ref": "SecurityCenterSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1beta2/organizations/{organizationsId}/securityCenterSettings"
        },
        "updateContainerThreatDetectionSettings": {
          "path": "v1beta2/{+name}",
          "response": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "id": "securitycenter.organizations.updateContainerThreatDetectionSettings",
          "request": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "flatPath": "v1beta2/organizations/{organizationsId}/containerThreatDetectionSettings",
          "httpMethod": "PATCH",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "pattern": "^organizations/[^/]+/containerThreatDetectionSettings$",
              "description": "The resource name of the ContainerThreatDetectionSettings. Formats: * organizations/{organization}/containerThreatDetectionSettings * folders/{folder}/containerThreatDetectionSettings * projects/{project}/containerThreatDetectionSettings * projects/{project}/locations/{location}/clusters/{cluster}/containerThreatDetectionSettings",
              "required": true
            },
            "updateMask": {
              "location": "query",
              "type": "string",
              "format": "google-fieldmask",
              "description": "The list of fields to be updated."
            }
          },
          "description": "Update the ContainerThreatDetectionSettings resource.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "getSubscription": {
          "description": "Get the Subscription resource.",
          "flatPath": "v1beta2/organizations/{organizationsId}/subscription",
          "response": {
            "$ref": "Subscription"
          },
          "id": "securitycenter.organizations.getSubscription",
          "httpMethod": "GET",
          "path": "v1beta2/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "pattern": "^organizations/[^/]+/subscription$",
              "description": "Required. The name of the subscription to retrieve. Format: organizations/{organization}/subscription",
              "location": "path",
              "required": true,
              "type": "string"
            }
          }
        },
        "getWebSecurityScannerSettings": {
          "path": "v1beta2/{+name}",
          "description": "Get the WebSecurityScannerSettings resource.",
          "id": "securitycenter.organizations.getWebSecurityScannerSettings",
          "response": {
            "$ref": "WebSecurityScannerSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "name": {
              "pattern": "^organizations/[^/]+/webSecurityScannerSettings$",
              "description": "Required. The name of the WebSecurityScannerSettings to retrieve. Formats: * organizations/{organization}/webSecurityScannerSettings * folders/{folder}/webSecurityScannerSettings * projects/{project}/webSecurityScannerSettings",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1beta2/organizations/{organizationsId}/webSecurityScannerSettings"
        },
        "updateEventThreatDetectionSettings": {
          "parameterOrder": [
            "name"
          ],
          "id": "securitycenter.organizations.updateEventThreatDetectionSettings",
          "httpMethod": "PATCH",
          "flatPath": "v1beta2/organizations/{organizationsId}/eventThreatDetectionSettings",
          "response": {
            "$ref": "EventThreatDetectionSettings"
          },
          "description": "Update the EventThreatDetectionSettings resource.",
          "request": {
            "$ref": "EventThreatDetectionSettings"
          },
          "path": "v1beta2/{+name}",
          "parameters": {
            "updateMask": {
              "description": "The list of fields to be updated.",
              "location": "query",
              "type": "string",
              "format": "google-fieldmask"
            },
            "name": {
              "pattern": "^organizations/[^/]+/eventThreatDetectionSettings$",
              "location": "path",
              "type": "string",
              "description": "The resource name of the EventThreatDetectionSettings. Formats: * organizations/{organization}/eventThreatDetectionSettings * folders/{folder}/eventThreatDetectionSettings * projects/{project}/eventThreatDetectionSettings",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "getEventThreatDetectionSettings": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "GET",
          "flatPath": "v1beta2/organizations/{organizationsId}/eventThreatDetectionSettings",
          "id": "securitycenter.organizations.getEventThreatDetectionSettings",
          "description": "Get the EventThreatDetectionSettings resource.",
          "path": "v1beta2/{+name}",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "EventThreatDetectionSettings"
          },
          "parameters": {
            "name": {
              "type": "string",
              "description": "Required. The name of the EventThreatDetectionSettings to retrieve. Formats: * organizations/{organization}/eventThreatDetectionSettings * folders/{folder}/eventThreatDetectionSettings * projects/{project}/eventThreatDetectionSettings",
              "location": "path",
              "required": true,
              "pattern": "^organizations/[^/]+/eventThreatDetectionSettings$"
            }
          }
        },
        "updateSecurityHealthAnalyticsSettings": {
          "request": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1beta2/{+name}",
          "flatPath": "v1beta2/organizations/{organizationsId}/securityHealthAnalyticsSettings",
          "id": "securitycenter.organizations.updateSecurityHealthAnalyticsSettings",
          "response": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "httpMethod": "PATCH",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "updateMask": {
              "description": "The list of fields to be updated.",
              "location": "query",
              "format": "google-fieldmask",
              "type": "string"
            },
            "name": {
              "type": "string",
              "pattern": "^organizations/[^/]+/securityHealthAnalyticsSettings$",
              "location": "path",
              "required": true,
              "description": "The resource name of the SecurityHealthAnalyticsSettings. Formats: * organizations/{organization}/securityHealthAnalyticsSettings * folders/{folder}/securityHealthAnalyticsSettings * projects/{project}/securityHealthAnalyticsSettings"
            }
          },
          "description": "Update the SecurityHealthAnalyticsSettings resource."
        },
        "updateWebSecurityScannerSettings": {
          "parameters": {
            "updateMask": {
              "type": "string",
              "description": "The list of fields to be updated.",
              "format": "google-fieldmask",
              "location": "query"
            },
            "name": {
              "description": "The resource name of the WebSecurityScannerSettings. Formats: * organizations/{organization}/webSecurityScannerSettings * folders/{folder}/webSecurityScannerSettings * projects/{project}/webSecurityScannerSettings",
              "pattern": "^organizations/[^/]+/webSecurityScannerSettings$",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "flatPath": "v1beta2/organizations/{organizationsId}/webSecurityScannerSettings",
          "request": {
            "$ref": "WebSecurityScannerSettings"
          },
          "path": "v1beta2/{+name}",
          "id": "securitycenter.organizations.updateWebSecurityScannerSettings",
          "response": {
            "$ref": "WebSecurityScannerSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "PATCH",
          "description": "Update the WebSecurityScannerSettings resource.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "getContainerThreatDetectionSettings": {
          "response": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "description": "Get the ContainerThreatDetectionSettings resource.",
          "flatPath": "v1beta2/organizations/{organizationsId}/containerThreatDetectionSettings",
          "path": "v1beta2/{+name}",
          "id": "securitycenter.organizations.getContainerThreatDetectionSettings",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "location": "path",
              "pattern": "^organizations/[^/]+/containerThreatDetectionSettings$",
              "description": "Required. The name of the ContainerThreatDetectionSettings to retrieve. Formats: * organizations/{organization}/containerThreatDetectionSettings * folders/{folder}/containerThreatDetectionSettings * projects/{project}/containerThreatDetectionSettings * projects/{project}/locations/{location}/clusters/{cluster}/containerThreatDetectionSettings",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        }
      }
    },
    "folders": {
      "methods": {
        "updateSecurityHealthAnalyticsSettings": {
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "path": "v1beta2/{+name}",
          "description": "Update the SecurityHealthAnalyticsSettings resource.",
          "httpMethod": "PATCH",
          "parameters": {
            "name": {
              "pattern": "^folders/[^/]+/securityHealthAnalyticsSettings$",
              "description": "The resource name of the SecurityHealthAnalyticsSettings. Formats: * organizations/{organization}/securityHealthAnalyticsSettings * folders/{folder}/securityHealthAnalyticsSettings * projects/{project}/securityHealthAnalyticsSettings",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "updateMask": {
              "type": "string",
              "format": "google-fieldmask",
              "location": "query",
              "description": "The list of fields to be updated."
            }
          },
          "id": "securitycenter.folders.updateSecurityHealthAnalyticsSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "flatPath": "v1beta2/folders/{foldersId}/securityHealthAnalyticsSettings"
        },
        "updateContainerThreatDetectionSettings": {
          "response": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^folders/[^/]+/containerThreatDetectionSettings$",
              "required": true,
              "description": "The resource name of the ContainerThreatDetectionSettings. Formats: * organizations/{organization}/containerThreatDetectionSettings * folders/{folder}/containerThreatDetectionSettings * projects/{project}/containerThreatDetectionSettings * projects/{project}/locations/{location}/clusters/{cluster}/containerThreatDetectionSettings",
              "location": "path"
            },
            "updateMask": {
              "location": "query",
              "description": "The list of fields to be updated.",
              "format": "google-fieldmask",
              "type": "string"
            }
          },
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1beta2/folders/{foldersId}/containerThreatDetectionSettings",
          "request": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "description": "Update the ContainerThreatDetectionSettings resource.",
          "path": "v1beta2/{+name}",
          "id": "securitycenter.folders.updateContainerThreatDetectionSettings"
        },
        "getSecurityHealthAnalyticsSettings": {
          "flatPath": "v1beta2/folders/{foldersId}/securityHealthAnalyticsSettings",
          "id": "securitycenter.folders.getSecurityHealthAnalyticsSettings",
          "response": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1beta2/{+name}",
          "description": "Get the SecurityHealthAnalyticsSettings resource.",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "required": true,
              "description": "Required. The name of the SecurityHealthAnalyticsSettings to retrieve. Formats: * organizations/{organization}/securityHealthAnalyticsSettings * folders/{folder}/securityHealthAnalyticsSettings * projects/{project}/securityHealthAnalyticsSettings",
              "pattern": "^folders/[^/]+/securityHealthAnalyticsSettings$",
              "location": "path",
              "type": "string"
            }
          }
        },
        "updateEventThreatDetectionSettings": {
          "flatPath": "v1beta2/folders/{foldersId}/eventThreatDetectionSettings",
          "description": "Update the EventThreatDetectionSettings resource.",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "updateMask": {
              "type": "string",
              "format": "google-fieldmask",
              "description": "The list of fields to be updated.",
              "location": "query"
            },
            "name": {
              "type": "string",
              "pattern": "^folders/[^/]+/eventThreatDetectionSettings$",
              "location": "path",
              "required": true,
              "description": "The resource name of the EventThreatDetectionSettings. Formats: * organizations/{organization}/eventThreatDetectionSettings * folders/{folder}/eventThreatDetectionSettings * projects/{project}/eventThreatDetectionSettings"
            }
          },
          "response": {
            "$ref": "EventThreatDetectionSettings"
          },
          "request": {
            "$ref": "EventThreatDetectionSettings"
          },
          "id": "securitycenter.folders.updateEventThreatDetectionSettings",
          "path": "v1beta2/{+name}",
          "httpMethod": "PATCH"
        },
        "getContainerThreatDetectionSettings": {
          "description": "Get the ContainerThreatDetectionSettings resource.",
          "response": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "name"
          ],
          "path": "v1beta2/{+name}",
          "flatPath": "v1beta2/folders/{foldersId}/containerThreatDetectionSettings",
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. The name of the ContainerThreatDetectionSettings to retrieve. Formats: * organizations/{organization}/containerThreatDetectionSettings * folders/{folder}/containerThreatDetectionSettings * projects/{project}/containerThreatDetectionSettings * projects/{project}/locations/{location}/clusters/{cluster}/containerThreatDetectionSettings",
              "pattern": "^folders/[^/]+/containerThreatDetectionSettings$"
            }
          },
          "id": "securitycenter.folders.getContainerThreatDetectionSettings"
        },
        "updateWebSecurityScannerSettings": {
          "description": "Update the WebSecurityScannerSettings resource.",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "pattern": "^folders/[^/]+/webSecurityScannerSettings$",
              "description": "The resource name of the WebSecurityScannerSettings. Formats: * organizations/{organization}/webSecurityScannerSettings * folders/{folder}/webSecurityScannerSettings * projects/{project}/webSecurityScannerSettings",
              "type": "string"
            },
            "updateMask": {
              "format": "google-fieldmask",
              "type": "string",
              "location": "query",
              "description": "The list of fields to be updated."
            }
          },
          "httpMethod": "PATCH",
          "flatPath": "v1beta2/folders/{foldersId}/webSecurityScannerSettings",
          "id": "securitycenter.folders.updateWebSecurityScannerSettings",
          "response": {
            "$ref": "WebSecurityScannerSettings"
          },
          "path": "v1beta2/{+name}",
          "request": {
            "$ref": "WebSecurityScannerSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "getWebSecurityScannerSettings": {
          "id": "securitycenter.folders.getWebSecurityScannerSettings",
          "parameters": {
            "name": {
              "description": "Required. The name of the WebSecurityScannerSettings to retrieve. Formats: * organizations/{organization}/webSecurityScannerSettings * folders/{folder}/webSecurityScannerSettings * projects/{project}/webSecurityScannerSettings",
              "pattern": "^folders/[^/]+/webSecurityScannerSettings$",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "WebSecurityScannerSettings"
          },
          "description": "Get the WebSecurityScannerSettings resource.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1beta2/folders/{foldersId}/webSecurityScannerSettings",
          "httpMethod": "GET",
          "path": "v1beta2/{+name}"
        },
        "getEventThreatDetectionSettings": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "name"
          ],
          "path": "v1beta2/{+name}",
          "parameters": {
            "name": {
              "pattern": "^folders/[^/]+/eventThreatDetectionSettings$",
              "description": "Required. The name of the EventThreatDetectionSettings to retrieve. Formats: * organizations/{organization}/eventThreatDetectionSettings * folders/{folder}/eventThreatDetectionSettings * projects/{project}/eventThreatDetectionSettings",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "response": {
            "$ref": "EventThreatDetectionSettings"
          },
          "id": "securitycenter.folders.getEventThreatDetectionSettings",
          "description": "Get the EventThreatDetectionSettings resource.",
          "flatPath": "v1beta2/folders/{foldersId}/eventThreatDetectionSettings",
          "httpMethod": "GET"
        }
      },
      "resources": {
        "containerThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "ContainerThreatDetectionSettings"
              },
              "id": "securitycenter.folders.containerThreatDetectionSettings.calculate",
              "flatPath": "v1beta2/folders/{foldersId}/containerThreatDetectionSettings:calculate",
              "description": "Calculates the effective ContainerThreatDetectionSettings based on its level in the resource hierarchy and its settings.",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "pattern": "^folders/[^/]+/containerThreatDetectionSettings$",
                  "description": "Required. The name of the ContainerThreatDetectionSettings to calculate. Formats: * organizations/{organization}/containerThreatDetectionSettings * folders/{folder}/containerThreatDetectionSettings * projects/{project}/containerThreatDetectionSettings * projects/{project}/locations/{location}/clusters/{cluster}/containerThreatDetectionSettings",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1beta2/{+name}:calculate"
            }
          }
        },
        "webSecurityScannerSettings": {
          "methods": {
            "calculate": {
              "description": "Calculates the effective WebSecurityScannerSettings based on its level in the resource hierarchy and its settings.",
              "httpMethod": "GET",
              "path": "v1beta2/{+name}:calculate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "pattern": "^folders/[^/]+/webSecurityScannerSettings$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the WebSecurityScannerSettings to calculate. Formats: * organizations/{organization}/webSecurityScannerSettings * folders/{folder}/webSecurityScannerSettings * projects/{project}/webSecurityScannerSettings",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "securitycenter.folders.webSecurityScannerSettings.calculate",
              "flatPath": "v1beta2/folders/{foldersId}/webSecurityScannerSettings:calculate",
              "response": {
                "$ref": "WebSecurityScannerSettings"
              }
            }
          }
        },
        "eventThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "id": "securitycenter.folders.eventThreatDetectionSettings.calculate",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "EventThreatDetectionSettings"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^folders/[^/]+/eventThreatDetectionSettings$",
                  "description": "Required. The name of the EventThreatDetectionSettings to calculate. Formats: * organizations/{organization}/eventThreatDetectionSettings * folders/{folder}/eventThreatDetectionSettings * projects/{project}/eventThreatDetectionSettings",
                  "location": "path"
                }
              },
              "httpMethod": "GET",
              "flatPath": "v1beta2/folders/{foldersId}/eventThreatDetectionSettings:calculate",
              "path": "v1beta2/{+name}:calculate",
              "description": "Calculates the effective EventThreatDetectionSettings based on its level in the resource hierarchy and its settings."
            }
          }
        },
        "securityHealthAnalyticsSettings": {
          "methods": {
            "calculate": {
              "parameterOrder": [
                "name"
              ],
              "description": "Calculates the effective SecurityHealthAnalyticsSettings based on its level in the resource hierarchy and its settings.",
              "id": "securitycenter.folders.securityHealthAnalyticsSettings.calculate",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "pattern": "^folders/[^/]+/securityHealthAnalyticsSettings$",
                  "type": "string",
                  "description": "Required. The name of the SecurityHealthAnalyticsSettings to calculate. Formats: * organizations/{organization}/securityHealthAnalyticsSettings * folders/{folder}/securityHealthAnalyticsSettings * projects/{project}/securityHealthAnalyticsSettings"
                }
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta2/folders/{foldersId}/securityHealthAnalyticsSettings:calculate",
              "response": {
                "$ref": "SecurityHealthAnalyticsSettings"
              },
              "path": "v1beta2/{+name}:calculate"
            }
          }
        }
      }
    }
  },
  "documentationLink": "https://cloud.google.com/security-command-center",
  "schemas": {
    "GoogleCloudSecuritycenterV1p1beta1Resource": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The full resource name of the resource. See: https://cloud.google.com/apis/design/resource_names#full_resource_name"
        },
        "folders": {
          "type": "array",
          "description": "Output only. Contains a Folder message for each folder in the assets ancestry. The first folder is the deepest nested folder, and the last folder is the folder directly under the Organization.",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1p1beta1Folder"
          },
          "readOnly": true
        },
        "parent": {
          "type": "string",
          "description": "The full resource name of resource's parent."
        },
        "parentDisplayName": {
          "description": "The human readable name of resource's parent.",
          "type": "string"
        },
        "project": {
          "description": "The full resource name of project that the resource belongs to.",
          "type": "string"
        },
        "projectDisplayName": {
          "type": "string",
          "description": "The human readable name of project that the resource belongs to."
        }
      },
      "description": "Information related to the Google Cloud resource.",
      "id": "GoogleCloudSecuritycenterV1p1beta1Resource"
    },
    "SecurityHealthAnalyticsSettings": {
      "description": "Resource capturing the settings for the Security Health Analytics service.",
      "type": "object",
      "properties": {
        "serviceAccount": {
          "type": "string",
          "description": "Output only. The service account used by Security Health Analytics detectors.",
          "readOnly": true
        },
        "modules": {
          "additionalProperties": {
            "$ref": "Config"
          },
          "description": "The configurations including the state of enablement for the service's different modules. The absence of a module in the map implies its configuration is inherited from its parent's.",
          "type": "object"
        },
        "serviceEnablementState": {
          "description": "The state of enablement for the service at its level of the resource hierarchy. A DISABLED state will override all module enablement_states to DISABLED.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "State is inherited from the parent resource.",
            "State is enabled.",
            "State is disabled."
          ],
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "INHERITED",
            "ENABLED",
            "DISABLED"
          ],
          "type": "string"
        },
        "name": {
          "description": "The resource name of the SecurityHealthAnalyticsSettings. Formats: * organizations/{organization}/securityHealthAnalyticsSettings * folders/{folder}/securityHealthAnalyticsSettings * projects/{project}/securityHealthAnalyticsSettings",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The time the settings were last updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "SecurityHealthAnalyticsSettings"
    },
    "GoogleCloudSecuritycenterV1beta1RunAssetDiscoveryResponse": {
      "properties": {
        "duration": {
          "description": "The duration between asset discovery run start and end",
          "type": "string",
          "format": "google-duration"
        },
        "state": {
          "type": "string",
          "description": "The state of an asset discovery run.",
          "enumDescriptions": [
            "Asset discovery run state was unspecified.",
            "Asset discovery run completed successfully.",
            "Asset discovery run was cancelled with tasks still pending, as another run for the same organization was started with a higher priority.",
            "Asset discovery run was killed and terminated."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "COMPLETED",
            "SUPERSEDED",
            "TERMINATED"
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1beta1RunAssetDiscoveryResponse",
      "description": "Response of asset discovery run"
    },
    "GoogleCloudSecuritycenterV1p1beta1RunAssetDiscoveryResponse": {
      "type": "object",
      "description": "Response of asset discovery run",
      "id": "GoogleCloudSecuritycenterV1p1beta1RunAssetDiscoveryResponse",
      "properties": {
        "duration": {
          "type": "string",
          "format": "google-duration",
          "description": "The duration between asset discovery run start and end"
        },
        "state": {
          "type": "string",
          "description": "The state of an asset discovery run.",
          "enumDescriptions": [
            "Asset discovery run state was unspecified.",
            "Asset discovery run completed successfully.",
            "Asset discovery run was cancelled with tasks still pending, as another run for the same organization was started with a higher priority.",
            "Asset discovery run was killed and terminated."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "COMPLETED",
            "SUPERSEDED",
            "TERMINATED"
          ]
        }
      }
    },
    "Details": {
      "type": "object",
      "id": "Details",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The standard subscription.",
            "The trial subscription.",
            "The alpha subscription."
          ],
          "description": "The type of subscription",
          "enum": [
            "TYPE_UNSPECIFIED",
            "STANDARD",
            "TRIAL",
            "ALPHA"
          ]
        },
        "startTime": {
          "type": "string",
          "description": "The time the subscription has or will start.",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "The time the subscription has or will end.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "Details of a subscription."
    },
    "GoogleCloudSecuritycenterV1NotificationMessage": {
      "type": "object",
      "properties": {
        "finding": {
          "$ref": "Finding",
          "description": "If it's a Finding based notification config, this field will be populated."
        },
        "resource": {
          "$ref": "GoogleCloudSecuritycenterV1Resource",
          "description": "The Cloud resource tied to this notification's Finding."
        },
        "notificationConfigName": {
          "description": "Name of the notification config that generated current notification.",
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV1NotificationMessage",
      "description": "Cloud SCC's Notification"
    },
    "SecurityCenterSettings": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name of the SecurityCenterSettings. Format: organizations/{organization}/securityCenterSettings"
        },
        "logSinkProject": {
          "description": "The resource name of the project to send logs to. This project must be part of the organization this resource resides in. The format is `projects/{project_id}`. An empty value disables logging. This value is only referenced by services that support log sink. Please refer to the documentation for an updated list of compatible services.",
          "type": "string"
        },
        "orgServiceAccount": {
          "type": "string",
          "description": "The organization level service account to be used for security center components."
        }
      },
      "description": "Resource capturing the settings for Security Center.",
      "type": "object",
      "id": "SecurityCenterSettings"
    },
    "SecurityMarks": {
      "description": "User specified security marks that are attached to the parent Security Command Center resource. Security marks are scoped within a Security Command Center organization -- they can be modified and viewed by all users who have proper permissions on the organization.",
      "properties": {
        "marks": {
          "type": "object",
          "description": "Mutable user specified security marks belonging to the parent resource. Constraints are as follows: * Keys and values are treated as case insensitive * Keys must be between 1 - 256 characters (inclusive) * Keys must be letters, numbers, underscores, or dashes * Values have leading and trailing whitespace trimmed, remaining characters must be between 1 - 4096 characters (inclusive)",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "The relative resource name of the SecurityMarks. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Examples: \"organizations/{organization_id}/assets/{asset_id}/securityMarks\" \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}/securityMarks\"."
        }
      },
      "type": "object",
      "id": "SecurityMarks"
    },
    "GoogleCloudSecuritycenterV1Resource": {
      "id": "GoogleCloudSecuritycenterV1Resource",
      "type": "object",
      "properties": {
        "projectDisplayName": {
          "description": "The human readable name of project that the resource belongs to.",
          "type": "string"
        },
        "project": {
          "description": "The full resource name of project that the resource belongs to.",
          "type": "string"
        },
        "parentDisplayName": {
          "type": "string",
          "description": "The human readable name of resource's parent."
        },
        "folders": {
          "readOnly": true,
          "description": "Output only. Contains a Folder message for each folder in the assets ancestry. The first folder is the deepest nested folder, and the last folder is the folder directly under the Organization.",
          "type": "array",
          "items": {
            "$ref": "Folder"
          }
        },
        "name": {
          "description": "The full resource name of the resource. See: https://cloud.google.com/apis/design/resource_names#full_resource_name",
          "type": "string"
        },
        "parent": {
          "type": "string",
          "description": "The full resource name of resource's parent."
        }
      },
      "description": "Information related to the Google Cloud resource."
    },
    "Folder": {
      "properties": {
        "resourceFolderDisplayName": {
          "description": "The user defined display name for this folder.",
          "type": "string"
        },
        "resourceFolder": {
          "description": "Full resource name of this folder. See: https://cloud.google.com/apis/design/resource_names#full_resource_name",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Folder",
      "description": "Message that contains the resource name and display name of a folder resource."
    },
    "Finding": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The relative resource name of this finding. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Example: \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}\""
        },
        "category": {
          "description": "The additional taxonomy group within findings from a given source. This field is immutable after creation time. Example: \"XSS_FLASH_INJECTION\"",
          "type": "string"
        },
        "externalUri": {
          "description": "The URI that, if available, points to a web page outside of Security Command Center where additional information about the finding can be found. This field is guaranteed to be either empty or a well formed URL.",
          "type": "string"
        },
        "createTime": {
          "description": "The time at which the finding was created in Security Command Center.",
          "type": "string",
          "format": "google-datetime"
        },
        "sourceProperties": {
          "description": "Source specific properties. These properties are managed by the source that writes the finding. The key names in the source_properties map must be between 1 and 255 characters, and must start with a letter and contain alphanumeric characters or underscores only.",
          "type": "object",
          "additionalProperties": {
            "type": "any"
          }
        },
        "severity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "enumDescriptions": [
            "This value is used for findings when a source doesn't write a severity value.",
            "Vulnerability: A critical vulnerability is easily discoverable by an external actor, exploitable, and results in the direct ability to execute arbitrary code, exfiltrate data, and otherwise gain additional access and privileges to cloud resources and workloads. Examples include publicly accessible unprotected user data, public SSH access with weak or no passwords, etc. Threat: Indicates a threat that is able to access, modify, or delete data or execute unauthorized code within existing resources.",
            "Vulnerability: A high risk vulnerability can be easily discovered and exploited in combination with other vulnerabilities in order to gain direct access and the ability to execute arbitrary code, exfiltrate data, and otherwise gain additional access and privileges to cloud resources and workloads. An example is a database with weak or no passwords that is only accessible internally. This database could easily be compromised by an actor that had access to the internal network. Threat: Indicates a threat that is able to create new computational resources in an environment but not able to access data or execute code in existing resources.",
            "Vulnerability: A medium risk vulnerability could be used by an actor to gain access to resources or privileges that enable them to eventually (through multiple steps or a complex exploit) gain access and the ability to execute arbitrary code or exfiltrate data. An example is a service account with access to more projects than it should have. If an actor gains access to the service account, they could potentially use that access to manipulate a project the service account was not intended to. Threat: Indicates a threat that is able to cause operational impact but may not access data or execute unauthorized code.",
            "Vulnerability: A low risk vulnerability hampers a security organization’s ability to detect vulnerabilities or active threats in their deployment, or prevents the root cause investigation of security issues. An example is monitoring and logs being disabled for resource configurations and access. Threat: Indicates a threat that has obtained minimal access to an environment but is not able to access data, execute code, or create resources."
          ],
          "description": "The severity of the finding. This field is managed by the source that writes the finding.",
          "type": "string"
        },
        "securityMarks": {
          "description": "Output only. User specified security marks. These marks are entirely managed by the user and come from the SecurityMarks resource that belongs to the finding.",
          "readOnly": true,
          "$ref": "SecurityMarks"
        },
        "parent": {
          "description": "The relative resource name of the source the finding belongs to. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name This field is immutable after creation time. For example: \"organizations/{organization_id}/sources/{source_id}\"",
          "type": "string"
        },
        "eventTime": {
          "type": "string",
          "description": "The time at which the event took place, or when an update to the finding occurred. For example, if the finding represents an open firewall it would capture the time the detector believes the firewall became open. The accuracy is determined by the detector. If the finding were to be resolved afterward, this time would reflect when the finding was resolved.",
          "format": "google-datetime"
        },
        "state": {
          "type": "string",
          "description": "The state of the finding.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "enumDescriptions": [
            "Unspecified state.",
            "The finding requires attention and has not been addressed yet.",
            "The finding has been fixed, triaged as a non-issue or otherwise addressed and is no longer active."
          ]
        },
        "resourceName": {
          "type": "string",
          "description": "For findings on Google Cloud resources, the full resource name of the Google Cloud resource this finding is for. See: https://cloud.google.com/apis/design/resource_names#full_resource_name When the finding is for a non-Google Cloud resource, the resourceName can be a customer or partner defined string. This field is immutable after creation time."
        }
      },
      "id": "Finding",
      "description": "Security Command Center finding. A finding is a record of assessment data like security, risk, health, or privacy, that is ingested into Security Command Center for presentation, notification, analysis, policy testing, and enforcement. For example, a cross-site scripting (XSS) vulnerability in an App Engine application is a finding."
    },
    "GoogleCloudSecuritycenterV1p1beta1Folder": {
      "description": "Message that contains the resource name and display name of a folder resource.",
      "properties": {
        "resourceFolderDisplayName": {
          "description": "The user defined display name for this folder.",
          "type": "string"
        },
        "resourceFolder": {
          "type": "string",
          "description": "Full resource name of this folder. See: https://cloud.google.com/apis/design/resource_names#full_resource_name"
        }
      },
      "id": "GoogleCloudSecuritycenterV1p1beta1Folder",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1p1beta1SecurityMarks": {
      "id": "GoogleCloudSecuritycenterV1p1beta1SecurityMarks",
      "properties": {
        "marks": {
          "description": "Mutable user specified security marks belonging to the parent resource. Constraints are as follows: * Keys and values are treated as case insensitive * Keys must be between 1 - 256 characters (inclusive) * Keys must be letters, numbers, underscores, or dashes * Values have leading and trailing whitespace trimmed, remaining characters must be between 1 - 4096 characters (inclusive)",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "name": {
          "description": "The relative resource name of the SecurityMarks. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Examples: \"organizations/{organization_id}/assets/{asset_id}/securityMarks\" \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}/securityMarks\".",
          "type": "string"
        }
      },
      "type": "object",
      "description": "User specified security marks that are attached to the parent Security Command Center resource. Security marks are scoped within a Security Command Center organization -- they can be modified and viewed by all users who have proper permissions on the organization."
    },
    "Config": {
      "description": "Configuration of a module.",
      "id": "Config",
      "type": "object",
      "properties": {
        "value": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "The configuration value for the module. The absence of this field implies its inheritance from the parent.",
          "type": "object"
        },
        "moduleEnablementState": {
          "description": "The state of enablement for the module at its level of the resource hierarchy.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "State is inherited from the parent resource.",
            "State is enabled.",
            "State is disabled."
          ],
          "type": "string",
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "INHERITED",
            "ENABLED",
            "DISABLED"
          ]
        }
      }
    },
    "WebSecurityScannerSettings": {
      "id": "WebSecurityScannerSettings",
      "type": "object",
      "properties": {
        "serviceEnablementState": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "State is inherited from the parent resource.",
            "State is enabled.",
            "State is disabled."
          ],
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "INHERITED",
            "ENABLED",
            "DISABLED"
          ],
          "type": "string",
          "description": "The state of enablement for the service at its level of the resource hierarchy. A DISABLED state will override all module enablement_states to DISABLED."
        },
        "modules": {
          "type": "object",
          "additionalProperties": {
            "$ref": "Config"
          },
          "description": "The configurations including the state of enablement for the service's different modules. The absence of a module in the map implies its configuration is inherited from its parent's."
        },
        "name": {
          "description": "The resource name of the WebSecurityScannerSettings. Formats: * organizations/{organization}/webSecurityScannerSettings * folders/{folder}/webSecurityScannerSettings * projects/{project}/webSecurityScannerSettings",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the settings were last updated.",
          "type": "string"
        }
      },
      "description": "Resource capturing the settings for the Web Security Scanner service."
    },
    "EventThreatDetectionSettings": {
      "description": "Resource capturing the settings for the Event Threat Detection service.",
      "type": "object",
      "properties": {
        "serviceEnablementState": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "State is inherited from the parent resource.",
            "State is enabled.",
            "State is disabled."
          ],
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "INHERITED",
            "ENABLED",
            "DISABLED"
          ],
          "description": "The state of enablement for the service at its level of the resource hierarchy. A DISABLED state will override all module enablement_states to DISABLED.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The resource name of the EventThreatDetectionSettings. Formats: * organizations/{organization}/eventThreatDetectionSettings * folders/{folder}/eventThreatDetectionSettings * projects/{project}/eventThreatDetectionSettings"
        },
        "modules": {
          "description": "The configurations including the state of enablement for the service's different modules. The absence of a module in the map implies its configuration is inherited from its parent's.",
          "additionalProperties": {
            "$ref": "Config"
          },
          "type": "object"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The time the settings were last updated.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "EventThreatDetectionSettings"
    },
    "GoogleCloudSecuritycenterV1p1beta1Finding": {
      "properties": {
        "eventTime": {
          "description": "The time at which the event took place, or when an update to the finding occurred. For example, if the finding represents an open firewall it would capture the time the detector believes the firewall became open. The accuracy is determined by the detector. If the finding were to be resolved afterward, this time would reflect when the finding was resolved.",
          "type": "string",
          "format": "google-datetime"
        },
        "parent": {
          "description": "The relative resource name of the source the finding belongs to. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name This field is immutable after creation time. For example: \"organizations/{organization_id}/sources/{source_id}\"",
          "type": "string"
        },
        "externalUri": {
          "type": "string",
          "description": "The URI that, if available, points to a web page outside of Security Command Center where additional information about the finding can be found. This field is guaranteed to be either empty or a well formed URL."
        },
        "severity": {
          "enumDescriptions": [
            "No severity specified. The default value.",
            "Critical severity.",
            "High severity.",
            "Medium severity.",
            "Low severity."
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "description": "The severity of the finding. This field is managed by the source that writes the finding.",
          "type": "string"
        },
        "resourceName": {
          "type": "string",
          "description": "For findings on Google Cloud resources, the full resource name of the Google Cloud resource this finding is for. See: https://cloud.google.com/apis/design/resource_names#full_resource_name When the finding is for a non-Google Cloud resource, the resourceName can be a customer or partner defined string. This field is immutable after creation time."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "enumDescriptions": [
            "Unspecified state.",
            "The finding requires attention and has not been addressed yet.",
            "The finding has been fixed, triaged as a non-issue or otherwise addressed and is no longer active."
          ],
          "type": "string",
          "description": "The state of the finding."
        },
        "name": {
          "description": "The relative resource name of this finding. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Example: \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}\"",
          "type": "string"
        },
        "category": {
          "type": "string",
          "description": "The additional taxonomy group within findings from a given source. This field is immutable after creation time. Example: \"XSS_FLASH_INJECTION\""
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which the finding was created in Security Command Center."
        },
        "securityMarks": {
          "readOnly": true,
          "description": "Output only. User specified security marks. These marks are entirely managed by the user and come from the SecurityMarks resource that belongs to the finding.",
          "$ref": "GoogleCloudSecuritycenterV1p1beta1SecurityMarks"
        },
        "sourceProperties": {
          "description": "Source specific properties. These properties are managed by the source that writes the finding. The key names in the source_properties map must be between 1 and 255 characters, and must start with a letter and contain alphanumeric characters or underscores only.",
          "additionalProperties": {
            "type": "any"
          },
          "type": "object"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1p1beta1Finding",
      "description": "Security Command Center finding. A finding is a record of assessment data (security, risk, health or privacy) ingested into Security Command Center for presentation, notification, analysis, policy testing, and enforcement. For example, an XSS vulnerability in an App Engine application is a finding."
    },
    "GoogleCloudSecuritycenterV1RunAssetDiscoveryResponse": {
      "description": "Response of asset discovery run",
      "id": "GoogleCloudSecuritycenterV1RunAssetDiscoveryResponse",
      "type": "object",
      "properties": {
        "state": {
          "enumDescriptions": [
            "Asset discovery run state was unspecified.",
            "Asset discovery run completed successfully.",
            "Asset discovery run was cancelled with tasks still pending, as another run for the same organization was started with a higher priority.",
            "Asset discovery run was killed and terminated."
          ],
          "description": "The state of an asset discovery run.",
          "enum": [
            "STATE_UNSPECIFIED",
            "COMPLETED",
            "SUPERSEDED",
            "TERMINATED"
          ],
          "type": "string"
        },
        "duration": {
          "format": "google-duration",
          "description": "The duration between asset discovery run start and end",
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV1p1beta1NotificationMessage": {
      "properties": {
        "resource": {
          "$ref": "GoogleCloudSecuritycenterV1p1beta1Resource",
          "description": "The Cloud resource tied to the notification."
        },
        "finding": {
          "$ref": "GoogleCloudSecuritycenterV1p1beta1Finding",
          "description": "If it's a Finding based notification config, this field will be populated."
        },
        "notificationConfigName": {
          "description": "Name of the notification config that generated current notification.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1p1beta1NotificationMessage",
      "description": "Security Command Center's Notification"
    },
    "ContainerThreatDetectionSettings": {
      "description": "Resource capturing the settings for the Container Threat Detection service.",
      "id": "ContainerThreatDetectionSettings",
      "type": "object",
      "properties": {
        "serviceAccount": {
          "description": "Output only. The service account used by Container Threat Detection for scanning. Service accounts are scoped at the project level meaning this field will be empty at any level above a project.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "The resource name of the ContainerThreatDetectionSettings. Formats: * organizations/{organization}/containerThreatDetectionSettings * folders/{folder}/containerThreatDetectionSettings * projects/{project}/containerThreatDetectionSettings * projects/{project}/locations/{location}/clusters/{cluster}/containerThreatDetectionSettings"
        },
        "modules": {
          "type": "object",
          "description": "The configurations including the state of enablement for the service's different modules. The absence of a module in the map implies its configuration is inherited from its parent's.",
          "additionalProperties": {
            "$ref": "Config"
          }
        },
        "serviceEnablementState": {
          "description": "The state of enablement for the service at its level of the resource hierarchy. A DISABLED state will override all module enablement_states to DISABLED.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "State is inherited from the parent resource.",
            "State is enabled.",
            "State is disabled."
          ],
          "type": "string",
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "INHERITED",
            "ENABLED",
            "DISABLED"
          ]
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the settings were last updated.",
          "format": "google-datetime"
        }
      }
    },
    "Subscription": {
      "type": "object",
      "id": "Subscription",
      "properties": {
        "tier": {
          "enum": [
            "TIER_UNSPECIFIED",
            "STANDARD",
            "PREMIUM"
          ],
          "description": "The tier of SCC features this organization currently has access to.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The standard tier.",
            "The premium tier."
          ],
          "type": "string"
        },
        "name": {
          "description": "The resource name of the subscription. Format: organizations/{organization}/subscription",
          "type": "string"
        },
        "details": {
          "$ref": "Details",
          "description": "The details of the most recent active subscription. If there has never been a subscription this will be empty."
        }
      },
      "description": "Resource capturing the state of an organization's subscription."
    }
  },
  "servicePath": "",
  "batchPath": "batch",
  "title": "Security Command Center API",
  "rootUrl": "https://securitycenter.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "id": "securitycenter:v1beta2",
  "protocol": "rest",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "kind": "discovery#restDescription",
  "version": "v1beta2",
  "ownerDomain": "google.com",
  "description": "Security Command Center API provides access to temporal views of assets and findings within an organization."
}
