{
  "discoveryVersion": "v1",
  "documentationLink": "https://cloud.google.com/security-command-center",
  "mtlsRootUrl": "https://securitycenter.mtls.googleapis.com/",
  "rootUrl": "https://securitycenter.googleapis.com/",
  "parameters": {
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "alt": {
      "type": "string",
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    }
  },
  "ownerName": "Google",
  "id": "securitycenter:v1beta2",
  "version": "v1beta2",
  "ownerDomain": "google.com",
  "name": "securitycenter",
  "canonicalName": "Security Command Center",
  "schemas": {
    "Pod": {
      "id": "Pod",
      "description": "A Kubernetes Pod.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Kubernetes Pod name."
        },
        "containers": {
          "items": {
            "$ref": "Container"
          },
          "description": "Pod containers associated with this finding, if any.",
          "type": "array"
        },
        "labels": {
          "type": "array",
          "description": "Pod labels. For Kubernetes containers, these are applied to the container.",
          "items": {
            "$ref": "Label"
          }
        },
        "ns": {
          "description": "Kubernetes Pod namespace.",
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV1ExternalSystem": {
      "properties": {
        "name": {
          "description": "Full resource name of the external system, for example: \"organizations/1234/sources/5678/findings/123456/externalSystems/jira\", \"folders/1234/sources/5678/findings/123456/externalSystems/jira\", \"projects/1234/sources/5678/findings/123456/externalSystems/jira\"",
          "type": "string"
        },
        "assignees": {
          "type": "array",
          "description": "References primary/secondary etc assignees in the external system.",
          "items": {
            "type": "string"
          }
        },
        "externalUid": {
          "type": "string",
          "description": "Identifier that's used to track the given finding in the external system."
        },
        "externalSystemUpdateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The most recent time when the corresponding finding's ticket/tracker was updated in the external system."
        },
        "status": {
          "type": "string",
          "description": "Most recent status of the corresponding finding's ticket/tracker in the external system."
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1ExternalSystem",
      "description": "Representation of third party SIEM/SOAR fields within SCC."
    },
    "VirtualMachineThreatDetectionSettings": {
      "id": "VirtualMachineThreatDetectionSettings",
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name of the VirtualMachineThreatDetectionSettings. Formats: * organizations/{organization}/virtualMachineThreatDetectionSettings * folders/{folder}/virtualMachineThreatDetectionSettings * projects/{project}/virtualMachineThreatDetectionSettings"
        },
        "serviceAccount": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The service account used by Virtual Machine Threat Detection detectors."
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the settings were last updated."
        },
        "serviceEnablementState": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "State is inherited from the parent resource.",
            "State is enabled.",
            "State is disabled."
          ],
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "INHERITED",
            "ENABLED",
            "DISABLED"
          ],
          "type": "string",
          "description": "The state of enablement for the service at its level of the resource hierarchy. A DISABLED state will override all module enablement_states to DISABLED."
        },
        "modules": {
          "additionalProperties": {
            "$ref": "Config"
          },
          "type": "object",
          "description": "The configurations including the state of enablement for the service's different modules. The absence of a module in the map implies its configuration is inherited from its parent's."
        }
      },
      "type": "object",
      "description": "Resource capturing the settings for the Virtual Machine Threat Detection service."
    },
    "ServiceAccountDelegationInfo": {
      "properties": {
        "principalSubject": {
          "description": "A string representing the principal_subject associated with the identity. As compared to `principal_email`, supports principals that aren't associated with email addresses, such as third party principals. For most identities, the format will be `principal://iam.googleapis.com/{identity pool name}/subjects/{subject}` except for some GKE identities (GKE_WORKLOAD, FREEFORM, GKE_HUB_WORKLOAD) that are still in the legacy format `serviceAccount:{identity pool name}[{subject}]`",
          "type": "string"
        },
        "principalEmail": {
          "description": "The email address of a Google account.",
          "type": "string"
        }
      },
      "id": "ServiceAccountDelegationInfo",
      "type": "object",
      "description": "Identity delegation history of an authenticated service account."
    },
    "Expr": {
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        }
      },
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "id": "Expr",
      "type": "object"
    },
    "SecurityMarks": {
      "type": "object",
      "properties": {
        "name": {
          "description": "The relative resource name of the SecurityMarks. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Examples: \"organizations/{organization_id}/assets/{asset_id}/securityMarks\" \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}/securityMarks\".",
          "type": "string"
        },
        "canonicalName": {
          "description": "The canonical name of the marks. Examples: \"organizations/{organization_id}/assets/{asset_id}/securityMarks\" \"folders/{folder_id}/assets/{asset_id}/securityMarks\" \"projects/{project_number}/assets/{asset_id}/securityMarks\" \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}/securityMarks\" \"folders/{folder_id}/sources/{source_id}/findings/{finding_id}/securityMarks\" \"projects/{project_number}/sources/{source_id}/findings/{finding_id}/securityMarks\"",
          "type": "string"
        },
        "marks": {
          "description": "Mutable user specified security marks belonging to the parent resource. Constraints are as follows: * Keys and values are treated as case insensitive * Keys must be between 1 - 256 characters (inclusive) * Keys must be letters, numbers, underscores, or dashes * Values have leading and trailing whitespace trimmed, remaining characters must be between 1 - 4096 characters (inclusive)",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "description": "User specified security marks that are attached to the parent Security Command Center resource. Security marks are scoped within a Security Command Center organization -- they can be modified and viewed by all users who have proper permissions on the organization.",
      "id": "SecurityMarks"
    },
    "Exfiltration": {
      "type": "object",
      "id": "Exfiltration",
      "properties": {
        "targets": {
          "items": {
            "$ref": "ExfilResource"
          },
          "description": "If there are multiple targets, each target would get a complete copy of the \"joined\" source data.",
          "type": "array"
        },
        "sources": {
          "description": "If there are multiple sources, then the data is considered \"joined\" between them. For instance, BigQuery can join multiple tables, and each table would be considered a source.",
          "type": "array",
          "items": {
            "$ref": "ExfilResource"
          }
        }
      },
      "description": "Exfiltration represents a data exfiltration attempt from one or more sources to one or more targets. The `sources` attribute lists the sources of the exfiltrated data. The `targets` attribute lists the destinations the data was copied to."
    },
    "OnboardingState": {
      "type": "object",
      "properties": {
        "onboardingLevel": {
          "enum": [
            "ONBOARDING_LEVEL_UNSPECIFIED",
            "ONBOARDING_LEVEL_PROJECT",
            "ONBOARDING_LEVEL_ORGANIZATION"
          ],
          "enumDescriptions": [
            "Unused.",
            "This resource is onboarded at the project level. Only possible for projects.",
            "This resource is onboarded at the organization level. Possible for organizations, folders, and projects."
          ],
          "description": "Describes the level a given organization, folder, or project is onboarded with SCC. If the resource wasn't onboarded, NOT_FOUND would have been thrown.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The resource name of the OnboardingState. Format: organizations/{organization}/onboardingState Format: folders/{folder}/onboardingState Format: projects/{project}/onboardingState"
        }
      },
      "description": "Resource capturing onboarding information for a given CRM resource.",
      "id": "OnboardingState"
    },
    "Cve": {
      "description": "CVE stands for Common Vulnerabilities and Exposures. More information: https://cve.mitre.org",
      "type": "object",
      "id": "Cve",
      "properties": {
        "cvssv3": {
          "$ref": "Cvssv3",
          "description": "Describe Common Vulnerability Scoring System specified at https://www.first.org/cvss/v3.1/specification-document"
        },
        "references": {
          "type": "array",
          "items": {
            "$ref": "Reference"
          },
          "description": "Additional information about the CVE. e.g. https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-34527"
        },
        "upstreamFixAvailable": {
          "description": "Whether upstream fix is available for the CVE.",
          "type": "boolean"
        },
        "id": {
          "description": "The unique identifier for the vulnerability. e.g. CVE-2021-34527",
          "type": "string"
        }
      }
    },
    "Vulnerability": {
      "id": "Vulnerability",
      "type": "object",
      "properties": {
        "cve": {
          "$ref": "Cve",
          "description": "CVE stands for Common Vulnerabilities and Exposures (https://cve.mitre.org/about/)"
        }
      },
      "description": "Refers to common vulnerability fields e.g. cve, cvss, cwe etc."
    },
    "Node": {
      "properties": {
        "name": {
          "type": "string",
          "description": "[Full resource name](https://google.aip.dev/122#full-resource-names) of the Compute Engine VM running the cluster node."
        }
      },
      "id": "Node",
      "type": "object",
      "description": "Kubernetes nodes associated with the finding."
    },
    "Connection": {
      "id": "Connection",
      "description": "Contains information about the IP connection associated with the finding.",
      "properties": {
        "protocol": {
          "description": "IANA Internet Protocol Number such as TCP(6) and UDP(17).",
          "enumDescriptions": [
            "Unspecified protocol (not HOPOPT).",
            "Internet Control Message Protocol.",
            "Transmission Control Protocol.",
            "User Datagram Protocol.",
            "Generic Routing Encapsulation.",
            "Encap Security Payload."
          ],
          "type": "string",
          "enum": [
            "PROTOCOL_UNSPECIFIED",
            "ICMP",
            "TCP",
            "UDP",
            "GRE",
            "ESP"
          ]
        },
        "destinationPort": {
          "type": "integer",
          "description": "Destination port. Not present for sockets that are listening and not connected.",
          "format": "int32"
        },
        "sourceIp": {
          "description": "Source IP address.",
          "type": "string"
        },
        "sourcePort": {
          "format": "int32",
          "type": "integer",
          "description": "Source port."
        },
        "destinationIp": {
          "type": "string",
          "description": "Destination IP address. Not present for sockets that are listening and not connected."
        }
      },
      "type": "object"
    },
    "Access": {
      "type": "object",
      "properties": {
        "methodName": {
          "description": "The method that the service account called, e.g. \"SetIamPolicy\".",
          "type": "string"
        },
        "callerIpGeo": {
          "description": "The caller IP's geolocation, which identifies where the call came from.",
          "$ref": "Geolocation"
        },
        "callerIp": {
          "type": "string",
          "description": "Caller's IP address, such as \"1.1.1.1\"."
        },
        "userAgentFamily": {
          "type": "string",
          "description": "Type of user agent associated with the finding. For example, an operating system shell or an embedded or standalone application."
        },
        "principalEmail": {
          "description": "Associated email, such as \"foo@google.com\". The email address of the authenticated user or a service account acting on behalf of a third party principal making the request. For third party identity callers, the `principal_subject` field is populated instead of this field. For privacy reasons, the principal email address is sometimes redacted. For more information, see [Caller identities in audit logs](https://cloud.google.com/logging/docs/audit#user-id).",
          "type": "string"
        },
        "userName": {
          "type": "string",
          "description": "A string that represents a username. The username provided depends on the type of the finding and is likely not an IAM principal. For example, this can be a system username if the finding is related to a virtual machine, or it can be an application login username."
        },
        "serviceAccountKeyName": {
          "description": "The name of the service account key that was used to create or exchange credentials when authenticating the service account that made the request. This is a scheme-less URI full resource name. For example: \"//iam.googleapis.com/projects/{PROJECT_ID}/serviceAccounts/{ACCOUNT}/keys/{key}\". ",
          "type": "string"
        },
        "serviceName": {
          "type": "string",
          "description": "This is the API service that the service account made a call to, e.g. \"iam.googleapis.com\""
        },
        "principalSubject": {
          "type": "string",
          "description": "A string that represents the principal_subject that is associated with the identity. Unlike `principal_email`, `principal_subject` supports principals that aren't associated with email addresses, such as third party principals. For most identities, the format is `principal://iam.googleapis.com/{identity pool name}/subject/{subject}`. Some GKE identities, such as GKE_WORKLOAD, FREEFORM, and GKE_HUB_WORKLOAD, still use the legacy format `serviceAccount:{identity pool name}[{subject}]`."
        },
        "serviceAccountDelegationInfo": {
          "items": {
            "$ref": "ServiceAccountDelegationInfo"
          },
          "description": "The identity delegation history of an authenticated service account that made the request. The `serviceAccountDelegationInfo[]` object contains information about the real authorities that try to access Google Cloud resources by delegating on a service account. When multiple authorities are present, they are guaranteed to be sorted based on the original ordering of the identity delegation events.",
          "type": "array"
        }
      },
      "description": "Represents an access event.",
      "id": "Access"
    },
    "GoogleCloudSecuritycenterV1Resource": {
      "description": "Information related to the Google Cloud resource.",
      "properties": {
        "type": {
          "description": "The full resource type of the resource.",
          "type": "string"
        },
        "parentDisplayName": {
          "type": "string",
          "description": "The human readable name of resource's parent."
        },
        "parent": {
          "description": "The full resource name of resource's parent.",
          "type": "string"
        },
        "folders": {
          "description": "Output only. Contains a Folder message for each folder in the assets ancestry. The first folder is the deepest nested folder, and the last folder is the folder directly under the Organization.",
          "items": {
            "$ref": "Folder"
          },
          "type": "array",
          "readOnly": true
        },
        "name": {
          "description": "The full resource name of the resource. See: https://cloud.google.com/apis/design/resource_names#full_resource_name",
          "type": "string"
        },
        "projectDisplayName": {
          "description": "The project ID that the resource belongs to.",
          "type": "string"
        },
        "displayName": {
          "description": "The human readable name of the resource.",
          "type": "string"
        },
        "project": {
          "description": "The full resource name of project that the resource belongs to.",
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV1Resource",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1Property": {
      "properties": {
        "valueExpression": {
          "$ref": "Expr",
          "description": "The CEL expression for the custom output. A resource property can be specified to return the value of the property or a text string enclosed in quotation marks."
        },
        "name": {
          "description": "Name of the property for the custom output.",
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV1Property",
      "description": "An individual name-value pair that defines a custom source property.",
      "type": "object"
    },
    "Label": {
      "id": "Label",
      "description": "Represents a generic name-value label. A label has separate name and value fields to support filtering with the `contains()` function. For more information, see [Filtering on array-type fields](https://cloud.google.com/security-command-center/docs/how-to-api-list-findings#array-contains-filtering).",
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "description": "Value that corresponds to the label's name."
        },
        "name": {
          "type": "string",
          "description": "Name of the label."
        }
      }
    },
    "Reference": {
      "id": "Reference",
      "description": "Additional Links",
      "properties": {
        "uri": {
          "description": "Uri for the mentioned source e.g. https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-34527.",
          "type": "string"
        },
        "source": {
          "type": "string",
          "description": "Source of the reference e.g. NVD"
        }
      },
      "type": "object"
    },
    "Role": {
      "id": "Role",
      "type": "object",
      "description": "Kubernetes Role or ClusterRole.",
      "properties": {
        "ns": {
          "type": "string",
          "description": "Role namespace."
        },
        "name": {
          "type": "string",
          "description": "Role name."
        },
        "kind": {
          "enum": [
            "KIND_UNSPECIFIED",
            "ROLE",
            "CLUSTER_ROLE"
          ],
          "type": "string",
          "description": "Role type.",
          "enumDescriptions": [
            "Role type is not specified.",
            "Kubernetes Role.",
            "Kubernetes ClusterRole."
          ]
        }
      }
    },
    "SecurityCenterSettings": {
      "properties": {
        "name": {
          "description": "The resource name of the SecurityCenterSettings. Format: organizations/{organization}/securityCenterSettings Format: folders/{folder}/securityCenterSettings Format: projects/{project}/securityCenterSettings",
          "type": "string"
        },
        "logSinkProject": {
          "description": "The resource name of the project to send logs to. This project must be part of the organization this resource resides in. The format is `projects/{project_id}`. An empty value disables logging. This value is only referenced by services that support log sink. Please refer to the documentation for an updated list of compatible services. This may only be specified for organization level onboarding.",
          "type": "string"
        },
        "orgServiceAccount": {
          "readOnly": true,
          "description": "Output only. The organization level service account to be used for security center components.",
          "type": "string"
        },
        "onboardingTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Timestamp of when the customer organization was onboarded to SCC.",
          "type": "string"
        }
      },
      "id": "SecurityCenterSettings",
      "type": "object",
      "description": "Resource capturing the settings for Security Center."
    },
    "Indicator": {
      "description": "Represents what's commonly known as an _indicator of compromise_ (IoC) in computer forensics. This is an artifact observed on a network or in an operating system that, with high confidence, indicates a computer intrusion. For more information, see [Indicator of compromise](https://en.wikipedia.org/wiki/Indicator_of_compromise).",
      "properties": {
        "domains": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of domains associated to the Finding."
        },
        "ipAddresses": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The list of IP addresses that are associated with the finding."
        },
        "uris": {
          "items": {
            "type": "string"
          },
          "description": "The list of URIs associated to the Findings.",
          "type": "array"
        },
        "signatures": {
          "items": {
            "$ref": "ProcessSignature"
          },
          "type": "array",
          "description": "The list of matched signatures indicating that the given process is present in the environment."
        }
      },
      "type": "object",
      "id": "Indicator"
    },
    "GoogleCloudSecuritycenterV1p1beta1Folder": {
      "properties": {
        "resourceFolderDisplayName": {
          "description": "The user defined display name for this folder.",
          "type": "string"
        },
        "resourceFolder": {
          "type": "string",
          "description": "Full resource name of this folder. See: https://cloud.google.com/apis/design/resource_names#full_resource_name"
        }
      },
      "id": "GoogleCloudSecuritycenterV1p1beta1Folder",
      "type": "object",
      "description": "Message that contains the resource name and display name of a folder resource."
    },
    "Details": {
      "id": "Details",
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "STANDARD",
            "TRIAL",
            "ALPHA",
            "DEMO",
            "PAY_AS_YOU_GO"
          ],
          "type": "string",
          "description": "The type of subscription",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The standard subscription.",
            "The trial subscription.",
            "The alpha subscription.",
            "The demo subscription for channel partners.",
            "Pay-as-you-go subscription."
          ]
        },
        "startTime": {
          "format": "google-datetime",
          "description": "The time the subscription has or will start.",
          "type": "string"
        },
        "endTime": {
          "description": "The time the subscription has or will end.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Details of a subscription.",
      "type": "object"
    },
    "Finding": {
      "id": "Finding",
      "properties": {
        "vulnerability": {
          "description": "Represents vulnerability-specific fields like CVE and CVSS scores. CVE stands for Common Vulnerabilities and Exposures (https://cve.mitre.org/about/)",
          "$ref": "Vulnerability"
        },
        "kernelRootkit": {
          "description": "Signature of the kernel rootkit.",
          "$ref": "KernelRootkit"
        },
        "externalUri": {
          "description": "The URI that, if available, points to a web page outside of Security Command Center where additional information about the finding can be found. This field is guaranteed to be either empty or a well formed URL.",
          "type": "string"
        },
        "muteInitiator": {
          "description": "Records additional information about the mute operation, for example, the [mute configuration](/security-command-center/docs/how-to-mute-findings) that muted the finding and the user who muted the finding.",
          "type": "string"
        },
        "cloudDlpInspection": {
          "description": "Cloud Data Loss Prevention (Cloud DLP) inspection results that are associated with the finding.",
          "$ref": "CloudDlpInspection"
        },
        "state": {
          "enumDescriptions": [
            "Unspecified state.",
            "The finding requires attention and has not been addressed yet.",
            "The finding has been fixed, triaged as a non-issue or otherwise addressed and is no longer active."
          ],
          "description": "The state of the finding.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "type": "string"
        },
        "description": {
          "description": "Contains more details about the finding.",
          "type": "string"
        },
        "moduleName": {
          "type": "string",
          "description": "Unique identifier of the module which generated the finding. Example: folders/598186756061/securityHealthAnalyticsSettings/customModules/56799441161885"
        },
        "mute": {
          "type": "string",
          "description": "Indicates the mute state of a finding (either muted, unmuted or undefined). Unlike other attributes of a finding, a finding provider shouldn't set the value of mute.",
          "enum": [
            "MUTE_UNSPECIFIED",
            "MUTED",
            "UNMUTED",
            "UNDEFINED"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Finding has been muted.",
            "Finding has been unmuted.",
            "Finding has never been muted/unmuted."
          ]
        },
        "connections": {
          "items": {
            "$ref": "Connection"
          },
          "type": "array",
          "description": "Contains information about the IP connection associated with the finding."
        },
        "sourceProperties": {
          "description": "Source specific properties. These properties are managed by the source that writes the finding. The key names in the source_properties map must be between 1 and 255 characters, and must start with a letter and contain alphanumeric characters or underscores only.",
          "type": "object",
          "additionalProperties": {
            "type": "any"
          }
        },
        "kubernetes": {
          "description": "Kubernetes resources associated with the finding.",
          "$ref": "Kubernetes"
        },
        "parent": {
          "type": "string",
          "description": "The relative resource name of the source the finding belongs to. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name This field is immutable after creation time. For example: \"organizations/{organization_id}/sources/{source_id}\""
        },
        "files": {
          "type": "array",
          "items": {
            "$ref": "File"
          },
          "description": "File associated with the finding."
        },
        "indicator": {
          "description": "Represents what's commonly known as an *indicator of compromise* (IoC) in computer forensics. This is an artifact observed on a network or in an operating system that, with high confidence, indicates a computer intrusion. For more information, see [Indicator of compromise](https://en.wikipedia.org/wiki/Indicator_of_compromise).",
          "$ref": "Indicator"
        },
        "exfiltration": {
          "$ref": "Exfiltration",
          "description": "Represents exfiltrations associated with the finding."
        },
        "processes": {
          "type": "array",
          "description": "Represents operating system processes associated with the Finding.",
          "items": {
            "$ref": "Process"
          }
        },
        "nextSteps": {
          "description": "Steps to address the finding.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time at which the finding was created in Security Command Center."
        },
        "containers": {
          "description": "Containers associated with the finding. This field provides information for both Kubernetes and non-Kubernetes containers.",
          "items": {
            "$ref": "Container"
          },
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "The [relative resource name](https://cloud.google.com/apis/design/resource_names#relative_resource_name) of the finding. Example: \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}\", \"folders/{folder_id}/sources/{source_id}/findings/{finding_id}\", \"projects/{project_id}/sources/{source_id}/findings/{finding_id}\"."
        },
        "severity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "description": "The severity of the finding. This field is managed by the source that writes the finding.",
          "type": "string",
          "enumDescriptions": [
            "This value is used for findings when a source doesn't write a severity value.",
            "Vulnerability: A critical vulnerability is easily discoverable by an external actor, exploitable, and results in the direct ability to execute arbitrary code, exfiltrate data, and otherwise gain additional access and privileges to cloud resources and workloads. Examples include publicly accessible unprotected user data and public SSH access with weak or no passwords. Threat: Indicates a threat that is able to access, modify, or delete data or execute unauthorized code within existing resources.",
            "Vulnerability: A high risk vulnerability can be easily discovered and exploited in combination with other vulnerabilities in order to gain direct access and the ability to execute arbitrary code, exfiltrate data, and otherwise gain additional access and privileges to cloud resources and workloads. An example is a database with weak or no passwords that is only accessible internally. This database could easily be compromised by an actor that had access to the internal network. Threat: Indicates a threat that is able to create new computational resources in an environment but not able to access data or execute code in existing resources.",
            "Vulnerability: A medium risk vulnerability could be used by an actor to gain access to resources or privileges that enable them to eventually (through multiple steps or a complex exploit) gain access and the ability to execute arbitrary code or exfiltrate data. An example is a service account with access to more projects than it should have. If an actor gains access to the service account, they could potentially use that access to manipulate a project the service account was not intended to. Threat: Indicates a threat that is able to cause operational impact but may not access data or execute unauthorized code.",
            "Vulnerability: A low risk vulnerability hampers a security organization's ability to detect vulnerabilities or active threats in their deployment, or prevents the root cause investigation of security issues. An example is monitoring and logs being disabled for resource configurations and access. Threat: Indicates a threat that has obtained minimal access to an environment but is not able to access data, execute code, or create resources."
          ]
        },
        "access": {
          "$ref": "Access",
          "description": "Access details associated with the finding, such as more information on the caller, which method was accessed, and from where."
        },
        "findingClass": {
          "type": "string",
          "enum": [
            "FINDING_CLASS_UNSPECIFIED",
            "THREAT",
            "VULNERABILITY",
            "MISCONFIGURATION",
            "OBSERVATION",
            "SCC_ERROR"
          ],
          "enumDescriptions": [
            "Unspecified finding class.",
            "Describes unwanted or malicious activity.",
            "Describes a potential weakness in software that increases risk to Confidentiality & Integrity & Availability.",
            "Describes a potential weakness in cloud resource/asset configuration that increases risk.",
            "Describes a security observation that is for informational purposes.",
            "Describes an error that prevents some SCC functionality."
          ],
          "description": "The class of the finding."
        },
        "externalSystems": {
          "description": "Output only. Third party SIEM/SOAR fields within SCC, contains external system information and external system finding fields.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudSecuritycenterV1ExternalSystem"
          },
          "readOnly": true
        },
        "database": {
          "$ref": "Database",
          "description": "Database associated with the finding."
        },
        "contacts": {
          "type": "object",
          "description": "Output only. Map containing the points of contact for the given finding. The key represents the type of contact, while the value contains a list of all the contacts that pertain. Please refer to: https://cloud.google.com/resource-manager/docs/managing-notification-contacts#notification-categories { \"security\": { \"contacts\": [ { \"email\": \"person1@company.com\" }, { \"email\": \"person2@company.com\" } ] } }",
          "additionalProperties": {
            "$ref": "ContactDetails"
          },
          "readOnly": true
        },
        "compliances": {
          "type": "array",
          "description": "Contains compliance information for security standards associated to the finding.",
          "items": {
            "$ref": "Compliance"
          }
        },
        "resourceName": {
          "type": "string",
          "description": "For findings on Google Cloud resources, the full resource name of the Google Cloud resource this finding is for. See: https://cloud.google.com/apis/design/resource_names#full_resource_name When the finding is for a non-Google Cloud resource, the resourceName can be a customer or partner defined string. This field is immutable after creation time."
        },
        "securityMarks": {
          "readOnly": true,
          "$ref": "SecurityMarks",
          "description": "Output only. User specified security marks. These marks are entirely managed by the user and come from the SecurityMarks resource that belongs to the finding."
        },
        "cloudDlpDataProfile": {
          "$ref": "CloudDlpDataProfile",
          "description": "Cloud DLP data profile that is associated with the finding."
        },
        "mitreAttack": {
          "description": "MITRE ATT&CK tactics and techniques related to this finding. See: https://attack.mitre.org",
          "$ref": "MitreAttack"
        },
        "category": {
          "description": "The additional taxonomy group within findings from a given source. This field is immutable after creation time. Example: \"XSS_FLASH_INJECTION\"",
          "type": "string"
        },
        "canonicalName": {
          "description": "The canonical name of the finding. It's either \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}\", \"folders/{folder_id}/sources/{source_id}/findings/{finding_id}\" or \"projects/{project_number}/sources/{source_id}/findings/{finding_id}\", depending on the closest CRM ancestor of the resource associated with the finding.",
          "type": "string"
        },
        "muteUpdateTime": {
          "readOnly": true,
          "description": "Output only. The most recent time this finding was muted or unmuted.",
          "format": "google-datetime",
          "type": "string"
        },
        "iamBindings": {
          "items": {
            "$ref": "IamBinding"
          },
          "type": "array",
          "description": "Represents IAM bindings associated with the finding."
        },
        "eventTime": {
          "description": "The time the finding was first detected. If an existing finding is updated, then this is the time the update occurred. For example, if the finding represents an open firewall, this property captures the time the detector believes the firewall became open. The accuracy is determined by the detector. If the finding is later resolved, then this time reflects when the finding was resolved. This must not be set to a value greater than the current timestamp.",
          "type": "string",
          "format": "google-datetime"
        },
        "parentDisplayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The human readable display name of the finding source such as \"Event Threat Detection\" or \"Security Health Analytics\"."
        }
      },
      "type": "object",
      "description": "Security Command Center finding. A finding is a record of assessment data like security, risk, health, or privacy, that is ingested into Security Command Center for presentation, notification, analysis, policy testing, and enforcement. For example, a cross-site scripting (XSS) vulnerability in an App Engine application is a finding."
    },
    "Compliance": {
      "properties": {
        "standard": {
          "description": "Industry-wide compliance standards or benchmarks, such as CIS, PCI, and OWASP.",
          "type": "string"
        },
        "ids": {
          "type": "array",
          "description": "Policies within the standard or benchmark, for example, A.12.4.1",
          "items": {
            "type": "string"
          }
        },
        "version": {
          "type": "string",
          "description": "Version of the standard or benchmark, for example, 1.1"
        }
      },
      "description": "Contains compliance information about a security standard indicating unmet recommendations.",
      "type": "object",
      "id": "Compliance"
    },
    "Database": {
      "type": "object",
      "id": "Database",
      "properties": {
        "displayName": {
          "description": "The human-readable name of the database that the user connected to.",
          "type": "string"
        },
        "userName": {
          "type": "string",
          "description": "The username used to connect to the database. The username might not be an IAM principal and does not have a set format."
        },
        "query": {
          "type": "string",
          "description": "The SQL statement that is associated with the database access."
        },
        "name": {
          "description": "The [full resource name](https://google.aip.dev/122#full-resource-names) of the database that the user connected to, if it is supported by Cloud Asset Inventory.",
          "type": "string"
        },
        "grantees": {
          "description": "The target usernames, roles, or groups of an SQL privilege grant, which is not an IAM policy change.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Represents database access information, such as queries. A database may be a sub-resource of an instance (as in the case of Cloud SQL instances or Cloud Spanner instances), or the database instance itself. Some database resources might not have the [full resource name](https://google.aip.dev/122#full-resource-names) populated because these resource types, such as Cloud SQL databases, are not yet supported by Cloud Asset Inventory. In these cases only the display name is provided. Some database resources may not have the [full resource name](https://google.aip.dev/122#full-resource-names) populated because these resource types are not yet supported by Cloud Asset Inventory (e.g. Cloud SQL databases). In these cases only the display name will be provided."
    },
    "IamBinding": {
      "properties": {
        "role": {
          "description": "Role that is assigned to \"members\". For example, \"roles/viewer\", \"roles/editor\", or \"roles/owner\".",
          "type": "string"
        },
        "action": {
          "enumDescriptions": [
            "Unspecified.",
            "Addition of a Binding.",
            "Removal of a Binding."
          ],
          "description": "The action that was performed on a Binding.",
          "type": "string",
          "enum": [
            "ACTION_UNSPECIFIED",
            "ADD",
            "REMOVE"
          ]
        },
        "member": {
          "description": "A single identity requesting access for a Cloud Platform resource, for example, \"foo@google.com\".",
          "type": "string"
        }
      },
      "type": "object",
      "id": "IamBinding",
      "description": "Represents a particular IAM binding, which captures a member's role addition, removal, or state."
    },
    "GoogleCloudSecuritycenterV1p1beta1Resource": {
      "type": "object",
      "description": "Information related to the Google Cloud resource.",
      "id": "GoogleCloudSecuritycenterV1p1beta1Resource",
      "properties": {
        "project": {
          "description": "The full resource name of project that the resource belongs to.",
          "type": "string"
        },
        "name": {
          "description": "The full resource name of the resource. See: https://cloud.google.com/apis/design/resource_names#full_resource_name",
          "type": "string"
        },
        "parent": {
          "description": "The full resource name of resource's parent.",
          "type": "string"
        },
        "parentDisplayName": {
          "description": "The human readable name of resource's parent.",
          "type": "string"
        },
        "folders": {
          "description": "Output only. Contains a Folder message for each folder in the assets ancestry. The first folder is the deepest nested folder, and the last folder is the folder directly under the Organization.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1p1beta1Folder"
          },
          "readOnly": true
        },
        "projectDisplayName": {
          "type": "string",
          "description": "The project id that the resource belongs to."
        }
      }
    },
    "NodePool": {
      "type": "object",
      "id": "NodePool",
      "description": "Provides GKE node pool information.",
      "properties": {
        "name": {
          "description": "Kubernetes node pool name.",
          "type": "string"
        },
        "nodes": {
          "type": "array",
          "description": "Nodes associated with the finding.",
          "items": {
            "$ref": "Node"
          }
        }
      }
    },
    "ContactDetails": {
      "id": "ContactDetails",
      "description": "Details about specific contacts",
      "type": "object",
      "properties": {
        "contacts": {
          "description": "A list of contacts",
          "type": "array",
          "items": {
            "$ref": "Contact"
          }
        }
      }
    },
    "MemoryHashSignature": {
      "type": "object",
      "properties": {
        "detections": {
          "type": "array",
          "description": "The list of memory hash detections contributing to the binary family match.",
          "items": {
            "$ref": "Detection"
          }
        },
        "binaryFamily": {
          "type": "string",
          "description": "The binary family."
        }
      },
      "id": "MemoryHashSignature",
      "description": "A signature corresponding to memory page hashes."
    },
    "ExfilResource": {
      "id": "ExfilResource",
      "description": "Resource where data was exfiltrated from or exfiltrated to.",
      "properties": {
        "components": {
          "type": "array",
          "description": "Subcomponents of the asset that was exfiltrated, like URIs used during exfiltration, table names, databases, and filenames. For example, multiple tables might have been exfiltrated from the same Cloud SQL instance, or multiple files might have been exfiltrated from the same Cloud Storage bucket.",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "The resource's [full resource name](https://cloud.google.com/apis/design/resource_names#full_resource_name)."
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1EffectiveSecurityHealthAnalyticsCustomModule": {
      "properties": {
        "customConfig": {
          "readOnly": true,
          "$ref": "GoogleCloudSecuritycenterV1CustomConfig",
          "description": "Output only. The user-specified configuration for the module."
        },
        "enablementState": {
          "description": "Output only. The effective state of enablement for the module at the given level of the hierarchy.",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified enablement state.",
            "The module is enabled at the given level.",
            "The module is disabled at the given level."
          ],
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED"
          ],
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The display name for the custom module. The name must be between 1 and 128 characters, start with a lowercase letter, and contain alphanumeric characters or underscores only."
        },
        "name": {
          "description": "Output only. The resource name of the custom module. Its format is \"organizations/{organization}/securityHealthAnalyticsSettings/effectiveCustomModules/{customModule}\", or \"folders/{folder}/securityHealthAnalyticsSettings/effectiveCustomModules/{customModule}\", or \"projects/{project}/securityHealthAnalyticsSettings/effectiveCustomModules/{customModule}\"",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "An EffectiveSecurityHealthAnalyticsCustomModule is the representation of a Security Health Analytics custom module at a specified level of the resource hierarchy: organization, folder, or project. If a custom module is inherited from a parent organization or folder, the value of the `enablementState` property in EffectiveSecurityHealthAnalyticsCustomModule is set to the value that is effective in the parent, instead of `INHERITED`. For example, if the module is enabled in a parent organization or folder, the effective enablement_state for the module in all child folders or projects is also `enabled`. EffectiveSecurityHealthAnalyticsCustomModule is read-only.",
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1EffectiveSecurityHealthAnalyticsCustomModule"
    },
    "EventThreatDetectionSettings": {
      "description": "Resource capturing the settings for the Event Threat Detection service.",
      "type": "object",
      "id": "EventThreatDetectionSettings",
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name of the EventThreatDetectionSettings. Formats: * organizations/{organization}/eventThreatDetectionSettings * folders/{folder}/eventThreatDetectionSettings * projects/{project}/eventThreatDetectionSettings"
        },
        "modules": {
          "type": "object",
          "additionalProperties": {
            "$ref": "Config"
          },
          "description": "The configurations including the state of enablement for the service's different modules. The absence of a module in the map implies its configuration is inherited from its parent's."
        },
        "serviceEnablementState": {
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "INHERITED",
            "ENABLED",
            "DISABLED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "State is inherited from the parent resource.",
            "State is enabled.",
            "State is disabled."
          ],
          "description": "The state of enablement for the service at its level of the resource hierarchy. A DISABLED state will override all module enablement_states to DISABLED."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the settings were last updated.",
          "format": "google-datetime"
        }
      }
    },
    "Subject": {
      "id": "Subject",
      "type": "object",
      "properties": {
        "ns": {
          "description": "Namespace for the subject.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name for the subject."
        },
        "kind": {
          "description": "Authentication type for the subject.",
          "enum": [
            "AUTH_TYPE_UNSPECIFIED",
            "USER",
            "SERVICEACCOUNT",
            "GROUP"
          ],
          "type": "string",
          "enumDescriptions": [
            "Authentication is not specified.",
            "User with valid certificate.",
            "Users managed by Kubernetes API with credentials stored as secrets.",
            "Collection of users."
          ]
        }
      },
      "description": "Represents a Kubernetes subject."
    },
    "ContainerThreatDetectionSettings": {
      "type": "object",
      "id": "ContainerThreatDetectionSettings",
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name of the ContainerThreatDetectionSettings. Formats: * organizations/{organization}/containerThreatDetectionSettings * folders/{folder}/containerThreatDetectionSettings * projects/{project}/containerThreatDetectionSettings * projects/{project}/locations/{location}/clusters/{cluster}/containerThreatDetectionSettings"
        },
        "updateTime": {
          "description": "Output only. The time the settings were last updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "serviceEnablementState": {
          "description": "The state of enablement for the service at its level of the resource hierarchy. A DISABLED state will override all module enablement_states to DISABLED.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "State is inherited from the parent resource.",
            "State is enabled.",
            "State is disabled."
          ],
          "type": "string",
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "INHERITED",
            "ENABLED",
            "DISABLED"
          ]
        },
        "serviceAccount": {
          "description": "Output only. The service account used by Container Threat Detection for scanning. Service accounts are scoped at the project level meaning this field will be empty at any level above a project.",
          "readOnly": true,
          "type": "string"
        },
        "modules": {
          "type": "object",
          "description": "The configurations including the state of enablement for the service's different modules. The absence of a module in the map implies its configuration is inherited from its parent's.",
          "additionalProperties": {
            "$ref": "Config"
          }
        }
      },
      "description": "Resource capturing the settings for the Container Threat Detection service."
    },
    "GoogleCloudSecuritycenterV1p1beta1NotificationMessage": {
      "properties": {
        "notificationConfigName": {
          "type": "string",
          "description": "Name of the notification config that generated current notification."
        },
        "resource": {
          "description": "The Cloud resource tied to the notification.",
          "$ref": "GoogleCloudSecuritycenterV1p1beta1Resource"
        },
        "finding": {
          "$ref": "GoogleCloudSecuritycenterV1p1beta1Finding",
          "description": "If it's a Finding based notification config, this field will be populated."
        }
      },
      "id": "GoogleCloudSecuritycenterV1p1beta1NotificationMessage",
      "type": "object",
      "description": "Security Command Center's Notification"
    },
    "GoogleCloudSecuritycenterV1CustomOutputSpec": {
      "properties": {
        "properties": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1Property"
          },
          "type": "array",
          "description": "A list of custom output properties to add to the finding."
        }
      },
      "description": "A set of optional name-value pairs that define custom source properties to return with each finding that is generated by the custom module. The custom source properties that are defined here are included in the finding JSON under `sourceProperties`.",
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1CustomOutputSpec"
    },
    "File": {
      "id": "File",
      "properties": {
        "size": {
          "format": "int64",
          "type": "string",
          "description": "Size of the file in bytes."
        },
        "partiallyHashed": {
          "description": "True when the hash covers only a prefix of the file.",
          "type": "boolean"
        },
        "hashedSize": {
          "format": "int64",
          "description": "The length in bytes of the file prefix that was hashed. If hashed_size == size, any hashes reported represent the entire file.",
          "type": "string"
        },
        "path": {
          "description": "Absolute path of the file as a JSON encoded string.",
          "type": "string"
        },
        "contents": {
          "type": "string",
          "description": "Prefix of the file contents as a JSON-encoded string."
        },
        "sha256": {
          "description": "SHA256 hash of the first hashed_size bytes of the file encoded as a hex string. If hashed_size == size, sha256 represents the SHA256 hash of the entire file.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "File information about the related binary/library used by an executable, or the script used by a script interpreter"
    },
    "Container": {
      "type": "object",
      "properties": {
        "imageId": {
          "type": "string",
          "description": "Optional container image ID, if provided by the container runtime. Uniquely identifies the container image launched using a container image digest."
        },
        "uri": {
          "description": "Container image URI provided when configuring a pod or container. This string can identify a container image version using mutable tags.",
          "type": "string"
        },
        "labels": {
          "type": "array",
          "description": "Container labels, as provided by the container runtime.",
          "items": {
            "$ref": "Label"
          }
        },
        "name": {
          "type": "string",
          "description": "Name of the container."
        }
      },
      "description": "Container associated with the finding.",
      "id": "Container"
    },
    "GoogleCloudSecuritycenterV1BulkMuteFindingsResponse": {
      "id": "GoogleCloudSecuritycenterV1BulkMuteFindingsResponse",
      "properties": {},
      "description": "The response to a BulkMute request. Contains the LRO information.",
      "type": "object"
    },
    "YaraRuleSignature": {
      "properties": {
        "yaraRule": {
          "type": "string",
          "description": "The name of the YARA rule."
        }
      },
      "description": "A signature corresponding to a YARA rule.",
      "type": "object",
      "id": "YaraRuleSignature"
    },
    "Detection": {
      "description": "Memory hash detection contributing to the binary family match.",
      "type": "object",
      "properties": {
        "percentPagesMatched": {
          "format": "double",
          "description": "The percentage of memory page hashes in the signature that were matched.",
          "type": "number"
        },
        "binary": {
          "type": "string",
          "description": "The name of the binary associated with the memory hash signature detection."
        }
      },
      "id": "Detection"
    },
    "GoogleCloudSecuritycenterV1SecurityHealthAnalyticsCustomModule": {
      "description": "Represents an instance of a Security Health Analytics custom module, including its full module name, display name, enablement state, and last updated time. You can create a custom module at the organization, folder, or project level. Custom modules that you create at the organization or folder level are inherited by the child folders and projects.",
      "id": "GoogleCloudSecuritycenterV1SecurityHealthAnalyticsCustomModule",
      "properties": {
        "ancestorModule": {
          "type": "string",
          "description": "Output only. If empty, indicates that the custom module was created in the organization, folder, or project in which you are viewing the custom module. Otherwise, `ancestor_module` specifies the organization or folder from which the custom module is inherited.",
          "readOnly": true
        },
        "enablementState": {
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED",
            "INHERITED"
          ],
          "enumDescriptions": [
            "Unspecified enablement state.",
            "The module is enabled at the given CRM resource.",
            "The module is disabled at the given CRM resource.",
            "State is inherited from an ancestor module. The module will either be effectively ENABLED or DISABLED based on its closest non-inherited ancestor module in the CRM hierarchy."
          ],
          "type": "string",
          "description": "The enablement state of the custom module."
        },
        "displayName": {
          "description": "The display name of the Security Health Analytics custom module. This display name becomes the finding category for all findings that are returned by this custom module. The display name must be between 1 and 128 characters, start with a lowercase letter, and contain alphanumeric characters or underscores only.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time at which the custom module was last updated."
        },
        "lastEditor": {
          "description": "Output only. The editor that last updated the custom module.",
          "readOnly": true,
          "type": "string"
        },
        "customConfig": {
          "$ref": "GoogleCloudSecuritycenterV1CustomConfig",
          "description": "The user specified custom configuration for the module."
        },
        "name": {
          "type": "string",
          "description": "Immutable. The resource name of the custom module. Its format is \"organizations/{organization}/securityHealthAnalyticsSettings/customModules/{customModule}\", or \"folders/{folder}/securityHealthAnalyticsSettings/customModules/{customModule}\", or \"projects/{project}/securityHealthAnalyticsSettings/customModules/{customModule}\" The id {customModule} is server-generated and is not user settable. It will be a numeric id containing 1-20 digits."
        }
      },
      "type": "object"
    },
    "CloudDlpInspection": {
      "properties": {
        "infoTypeCount": {
          "format": "int64",
          "description": "The number of times Cloud DLP found this infoType within this job and resource.",
          "type": "string"
        },
        "fullScan": {
          "description": "Whether Cloud DLP scanned the complete resource or a sampled subset.",
          "type": "boolean"
        },
        "inspectJob": {
          "type": "string",
          "description": "Name of the inspection job, for example, `projects/123/locations/europe/dlpJobs/i-8383929`."
        },
        "infoType": {
          "description": "The type of information (or *[infoType](https://cloud.google.com/dlp/docs/infotypes-reference)*) found, for example, `EMAIL_ADDRESS` or `STREET_ADDRESS`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "CloudDlpInspection",
      "description": "Details about the Cloud Data Loss Prevention (Cloud DLP) [inspection job](https://cloud.google.com/dlp/docs/concepts-job-triggers) that produced the finding."
    },
    "Subscription": {
      "type": "object",
      "description": "Resource capturing the state of an organization's subscription.",
      "properties": {
        "details": {
          "description": "The details of the most recent active subscription. If there has never been a subscription this will be empty.",
          "$ref": "Details"
        },
        "name": {
          "description": "The resource name of the subscription. Format: organizations/{organization}/subscription",
          "type": "string"
        },
        "tier": {
          "enum": [
            "TIER_UNSPECIFIED",
            "STANDARD",
            "PREMIUM"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The standard tier.",
            "The premium tier."
          ],
          "type": "string",
          "description": "The tier of SCC features this organization currently has access to."
        }
      },
      "id": "Subscription"
    },
    "Cvssv3": {
      "id": "Cvssv3",
      "description": "Common Vulnerability Scoring System version 3.",
      "type": "object",
      "properties": {
        "attackVector": {
          "description": "Base Metrics Represents the intrinsic characteristics of a vulnerability that are constant over time and across user environments. This metric reflects the context by which vulnerability exploitation is possible.",
          "type": "string",
          "enumDescriptions": [
            "Invalid value.",
            "The vulnerable component is bound to the network stack and the set of possible attackers extends beyond the other options listed below, up to and including the entire Internet.",
            "The vulnerable component is bound to the network stack, but the attack is limited at the protocol level to a logically adjacent topology.",
            "The vulnerable component is not bound to the network stack and the attacker's path is via read/write/execute capabilities.",
            "The attack requires the attacker to physically touch or manipulate the vulnerable component."
          ],
          "enum": [
            "ATTACK_VECTOR_UNSPECIFIED",
            "ATTACK_VECTOR_NETWORK",
            "ATTACK_VECTOR_ADJACENT",
            "ATTACK_VECTOR_LOCAL",
            "ATTACK_VECTOR_PHYSICAL"
          ]
        },
        "privilegesRequired": {
          "enum": [
            "PRIVILEGES_REQUIRED_UNSPECIFIED",
            "PRIVILEGES_REQUIRED_NONE",
            "PRIVILEGES_REQUIRED_LOW",
            "PRIVILEGES_REQUIRED_HIGH"
          ],
          "description": "This metric describes the level of privileges an attacker must possess before successfully exploiting the vulnerability.",
          "type": "string",
          "enumDescriptions": [
            "Invalid value.",
            "The attacker is unauthorized prior to attack, and therefore does not require any access to settings or files of the vulnerable system to carry out an attack.",
            "The attacker requires privileges that provide basic user capabilities that could normally affect only settings and files owned by a user. Alternatively, an attacker with Low privileges has the ability to access only non-sensitive resources.",
            "The attacker requires privileges that provide significant (e.g., administrative) control over the vulnerable component allowing access to component-wide settings and files."
          ]
        },
        "integrityImpact": {
          "enumDescriptions": [
            "Invalid value.",
            "High impact.",
            "Low impact.",
            "No impact."
          ],
          "type": "string",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ],
          "description": "This metric measures the impact to integrity of a successfully exploited vulnerability."
        },
        "attackComplexity": {
          "description": "This metric describes the conditions beyond the attacker's control that must exist in order to exploit the vulnerability.",
          "enum": [
            "ATTACK_COMPLEXITY_UNSPECIFIED",
            "ATTACK_COMPLEXITY_LOW",
            "ATTACK_COMPLEXITY_HIGH"
          ],
          "enumDescriptions": [
            "Invalid value.",
            "Specialized access conditions or extenuating circumstances do not exist. An attacker can expect repeatable success when attacking the vulnerable component.",
            "A successful attack depends on conditions beyond the attacker's control. That is, a successful attack cannot be accomplished at will, but requires the attacker to invest in some measurable amount of effort in preparation or execution against the vulnerable component before a successful attack can be expected."
          ],
          "type": "string"
        },
        "userInteraction": {
          "type": "string",
          "enum": [
            "USER_INTERACTION_UNSPECIFIED",
            "USER_INTERACTION_NONE",
            "USER_INTERACTION_REQUIRED"
          ],
          "enumDescriptions": [
            "Invalid value.",
            "The vulnerable system can be exploited without interaction from any user.",
            "Successful exploitation of this vulnerability requires a user to take some action before the vulnerability can be exploited."
          ],
          "description": "This metric captures the requirement for a human user, other than the attacker, to participate in the successful compromise of the vulnerable component."
        },
        "confidentialityImpact": {
          "description": "This metric measures the impact to the confidentiality of the information resources managed by a software component due to a successfully exploited vulnerability.",
          "type": "string",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ],
          "enumDescriptions": [
            "Invalid value.",
            "High impact.",
            "Low impact.",
            "No impact."
          ]
        },
        "availabilityImpact": {
          "enumDescriptions": [
            "Invalid value.",
            "High impact.",
            "Low impact.",
            "No impact."
          ],
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ],
          "type": "string",
          "description": "This metric measures the impact to the availability of the impacted component resulting from a successfully exploited vulnerability."
        },
        "scope": {
          "type": "string",
          "enumDescriptions": [
            "Invalid value.",
            "An exploited vulnerability can only affect resources managed by the same security authority.",
            "An exploited vulnerability can affect resources beyond the security scope managed by the security authority of the vulnerable component."
          ],
          "description": "The Scope metric captures whether a vulnerability in one vulnerable component impacts resources in components beyond its security scope.",
          "enum": [
            "SCOPE_UNSPECIFIED",
            "SCOPE_UNCHANGED",
            "SCOPE_CHANGED"
          ]
        },
        "baseScore": {
          "format": "double",
          "type": "number",
          "description": "The base score is a function of the base metric scores."
        }
      }
    },
    "Config": {
      "id": "Config",
      "description": "Configuration of a module.",
      "type": "object",
      "properties": {
        "moduleEnablementState": {
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "INHERITED",
            "ENABLED",
            "DISABLED"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "State is inherited from the parent resource.",
            "State is enabled.",
            "State is disabled."
          ],
          "description": "The state of enablement for the module at its level of the resource hierarchy.",
          "type": "string"
        },
        "value": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "The configuration value for the module. The absence of this field implies its inheritance from the parent."
        }
      }
    },
    "GoogleCloudSecuritycenterV1MuteConfig": {
      "id": "GoogleCloudSecuritycenterV1MuteConfig",
      "type": "object",
      "description": "A mute config is a Cloud SCC resource that contains the configuration to mute create/update events of findings.",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The most recent time at which the mute config was updated. This field is set by the server and will be ignored if provided on config creation or update.",
          "type": "string"
        },
        "filter": {
          "type": "string",
          "description": "Required. An expression that defines the filter to apply across create/update events of findings. While creating a filter string, be mindful of the scope in which the mute configuration is being created. E.g., If a filter contains project = X but is created under the project = Y scope, it might not match any findings. The following field and operator combinations are supported: * severity: `=`, `:` * category: `=`, `:` * resource.name: `=`, `:` * resource.project_name: `=`, `:` * resource.project_display_name: `=`, `:` * resource.folders.resource_folder: `=`, `:` * resource.parent_name: `=`, `:` * resource.parent_display_name: `=`, `:` * resource.type: `=`, `:` * finding_class: `=`, `:` * indicator.ip_addresses: `=`, `:` * indicator.domains: `=`, `:`"
        },
        "description": {
          "description": "A description of the mute config.",
          "type": "string"
        },
        "mostRecentEditor": {
          "readOnly": true,
          "description": "Output only. Email address of the user who last edited the mute config. This field is set by the server and will be ignored if provided on config creation or update.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time at which the mute config was created. This field is set by the server and will be ignored if provided on config creation.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "This field will be ignored if provided on config creation. Format \"organizations/{organization}/muteConfigs/{mute_config}\" \"folders/{folder}/muteConfigs/{mute_config}\" \"projects/{project}/muteConfigs/{mute_config}\""
        },
        "displayName": {
          "type": "string",
          "description": "The human readable name to be displayed for the mute config."
        }
      }
    },
    "GoogleCloudSecuritycenterV1NotificationMessage": {
      "id": "GoogleCloudSecuritycenterV1NotificationMessage",
      "type": "object",
      "description": "Cloud SCC's Notification",
      "properties": {
        "notificationConfigName": {
          "type": "string",
          "description": "Name of the notification config that generated current notification."
        },
        "resource": {
          "$ref": "GoogleCloudSecuritycenterV1Resource",
          "description": "The Cloud resource tied to this notification's Finding."
        },
        "finding": {
          "$ref": "Finding",
          "description": "If it's a Finding based notification config, this field will be populated."
        }
      }
    },
    "GoogleCloudSecuritycenterV1p1beta1RunAssetDiscoveryResponse": {
      "id": "GoogleCloudSecuritycenterV1p1beta1RunAssetDiscoveryResponse",
      "properties": {
        "state": {
          "enumDescriptions": [
            "Asset discovery run state was unspecified.",
            "Asset discovery run completed successfully.",
            "Asset discovery run was cancelled with tasks still pending, as another run for the same organization was started with a higher priority.",
            "Asset discovery run was killed and terminated."
          ],
          "description": "The state of an asset discovery run.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "COMPLETED",
            "SUPERSEDED",
            "TERMINATED"
          ]
        },
        "duration": {
          "type": "string",
          "format": "google-duration",
          "description": "The duration between asset discovery run start and end"
        }
      },
      "type": "object",
      "description": "Response of asset discovery run"
    },
    "WebSecurityScannerSettings": {
      "id": "WebSecurityScannerSettings",
      "properties": {
        "serviceEnablementState": {
          "type": "string",
          "description": "The state of enablement for the service at its level of the resource hierarchy. A DISABLED state will override all module enablement_states to DISABLED.",
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "INHERITED",
            "ENABLED",
            "DISABLED"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "State is inherited from the parent resource.",
            "State is enabled.",
            "State is disabled."
          ]
        },
        "modules": {
          "description": "The configurations including the state of enablement for the service's different modules. The absence of a module in the map implies its configuration is inherited from its parent's.",
          "additionalProperties": {
            "$ref": "Config"
          },
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "The resource name of the WebSecurityScannerSettings. Formats: * organizations/{organization}/webSecurityScannerSettings * folders/{folder}/webSecurityScannerSettings * projects/{project}/webSecurityScannerSettings"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the settings were last updated."
        }
      },
      "type": "object",
      "description": "Resource capturing the settings for the Web Security Scanner service."
    },
    "Folder": {
      "type": "object",
      "description": "Message that contains the resource name and display name of a folder resource.",
      "id": "Folder",
      "properties": {
        "resourceFolderDisplayName": {
          "description": "The user defined display name for this folder.",
          "type": "string"
        },
        "resourceFolder": {
          "type": "string",
          "description": "Full resource name of this folder. See: https://cloud.google.com/apis/design/resource_names#full_resource_name"
        }
      }
    },
    "GoogleCloudSecuritycenterV1p1beta1SecurityMarks": {
      "id": "GoogleCloudSecuritycenterV1p1beta1SecurityMarks",
      "description": "User specified security marks that are attached to the parent Security Command Center resource. Security marks are scoped within a Security Command Center organization -- they can be modified and viewed by all users who have proper permissions on the organization.",
      "properties": {
        "canonicalName": {
          "description": "The canonical name of the marks. Examples: \"organizations/{organization_id}/assets/{asset_id}/securityMarks\" \"folders/{folder_id}/assets/{asset_id}/securityMarks\" \"projects/{project_number}/assets/{asset_id}/securityMarks\" \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}/securityMarks\" \"folders/{folder_id}/sources/{source_id}/findings/{finding_id}/securityMarks\" \"projects/{project_number}/sources/{source_id}/findings/{finding_id}/securityMarks\"",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The relative resource name of the SecurityMarks. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Examples: \"organizations/{organization_id}/assets/{asset_id}/securityMarks\" \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}/securityMarks\"."
        },
        "marks": {
          "description": "Mutable user specified security marks belonging to the parent resource. Constraints are as follows: * Keys and values are treated as case insensitive * Keys must be between 1 - 256 characters (inclusive) * Keys must be letters, numbers, underscores, or dashes * Values have leading and trailing whitespace trimmed, remaining characters must be between 1 - 4096 characters (inclusive)",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1ResourceSelector": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1ResourceSelector",
      "properties": {
        "resourceTypes": {
          "description": "The resource types to run the detector on.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Resource for selecting resource type."
    },
    "Process": {
      "id": "Process",
      "type": "object",
      "description": "Represents an operating system process.",
      "properties": {
        "libraries": {
          "items": {
            "$ref": "File"
          },
          "type": "array",
          "description": "File information for libraries loaded by the process."
        },
        "envVariablesTruncated": {
          "description": "True if `env_variables` is incomplete.",
          "type": "boolean"
        },
        "argumentsTruncated": {
          "type": "boolean",
          "description": "True if `args` is incomplete."
        },
        "pid": {
          "description": "The process ID.",
          "format": "int64",
          "type": "string"
        },
        "name": {
          "description": "The process name, as displayed in utilities like `top` and `ps`. This name can be accessed through `/proc/[pid]/comm` and changed with `prctl(PR_SET_NAME)`.",
          "type": "string"
        },
        "parentPid": {
          "format": "int64",
          "description": "The parent process ID.",
          "type": "string"
        },
        "binary": {
          "description": "File information for the process executable.",
          "$ref": "File"
        },
        "envVariables": {
          "description": "Process environment variables.",
          "items": {
            "$ref": "EnvironmentVariable"
          },
          "type": "array"
        },
        "args": {
          "type": "array",
          "description": "Process arguments as JSON encoded strings.",
          "items": {
            "type": "string"
          }
        },
        "script": {
          "description": "When the process represents the invocation of a script, `binary` provides information about the interpreter, while `script` provides information about the script file provided to the interpreter.",
          "$ref": "File"
        }
      }
    },
    "Geolocation": {
      "type": "object",
      "properties": {
        "regionCode": {
          "description": "A CLDR.",
          "type": "string"
        }
      },
      "description": "Represents a geographical location for a given access.",
      "id": "Geolocation"
    },
    "CloudDlpDataProfile": {
      "id": "CloudDlpDataProfile",
      "properties": {
        "dataProfile": {
          "description": "Name of the data profile, for example, `projects/123/locations/europe/tableProfiles/8383929`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The [data profile](https://cloud.google.com/dlp/docs/data-profiles) associated with the finding."
    },
    "AccessReview": {
      "id": "AccessReview",
      "properties": {
        "name": {
          "description": "The name of the resource being requested. Empty means all.",
          "type": "string"
        },
        "ns": {
          "type": "string",
          "description": "Namespace of the action being requested. Currently, there is no distinction between no namespace and all namespaces. Both are represented by \"\" (empty)."
        },
        "resource": {
          "type": "string",
          "description": "The optional resource type requested. \"*\" means all."
        },
        "subresource": {
          "description": "The optional subresource type.",
          "type": "string"
        },
        "verb": {
          "type": "string",
          "description": "A Kubernetes resource API verb, like get, list, watch, create, update, delete, proxy. \"*\" means all."
        },
        "group": {
          "type": "string",
          "description": "The API group of the resource. \"*\" means all."
        },
        "version": {
          "type": "string",
          "description": "The API version of the resource. \"*\" means all."
        }
      },
      "type": "object",
      "description": "Conveys information about a Kubernetes access review (such as one returned by a [`kubectl auth can-i`](https://kubernetes.io/docs/reference/access-authn-authz/authorization/#checking-api-access) command) that was involved in a finding."
    },
    "Contact": {
      "type": "object",
      "description": "The email address of a contact.",
      "properties": {
        "email": {
          "type": "string",
          "description": "An email address. For example, \"`person123@company.com`\"."
        }
      },
      "id": "Contact"
    },
    "RapidVulnerabilityDetectionSettings": {
      "type": "object",
      "description": "Resource capturing the settings for the Rapid Vulnerability Detection service.",
      "id": "RapidVulnerabilityDetectionSettings",
      "properties": {
        "serviceEnablementState": {
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "INHERITED",
            "ENABLED",
            "DISABLED"
          ],
          "type": "string",
          "description": "The state of enablement for the service at its level of the resource hierarchy. A DISABLED state will override all module enablement_states to DISABLED.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "State is inherited from the parent resource.",
            "State is enabled.",
            "State is disabled."
          ]
        },
        "updateTime": {
          "description": "Output only. The time the settings were last updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "modules": {
          "additionalProperties": {
            "$ref": "Config"
          },
          "description": "The configurations including the state of enablement for the service's different modules. The absence of a module in the map implies its configuration is inherited from its parent's.",
          "type": "object"
        },
        "name": {
          "description": "The resource name of the RapidVulnerabilityDetectionSettings. Formats: * organizations/{organization}/rapidVulnerabilityDetectionSettings * folders/{folder}/rapidVulnerabilityDetectionSettings * projects/{project}/rapidVulnerabilityDetectionSettings",
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV1p1beta1Finding": {
      "id": "GoogleCloudSecuritycenterV1p1beta1Finding",
      "type": "object",
      "properties": {
        "parent": {
          "type": "string",
          "description": "The relative resource name of the source the finding belongs to. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name This field is immutable after creation time. For example: \"organizations/{organization_id}/sources/{source_id}\""
        },
        "sourceProperties": {
          "description": "Source specific properties. These properties are managed by the source that writes the finding. The key names in the source_properties map must be between 1 and 255 characters, and must start with a letter and contain alphanumeric characters or underscores only.",
          "additionalProperties": {
            "type": "any"
          },
          "type": "object"
        },
        "canonicalName": {
          "type": "string",
          "description": "The canonical name of the finding. It's either \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}\", \"folders/{folder_id}/sources/{source_id}/findings/{finding_id}\" or \"projects/{project_number}/sources/{source_id}/findings/{finding_id}\", depending on the closest CRM ancestor of the resource associated with the finding."
        },
        "category": {
          "type": "string",
          "description": "The additional taxonomy group within findings from a given source. This field is immutable after creation time. Example: \"XSS_FLASH_INJECTION\""
        },
        "eventTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time at which the event took place, or when an update to the finding occurred. For example, if the finding represents an open firewall it would capture the time the detector believes the firewall became open. The accuracy is determined by the detector. If the finding were to be resolved afterward, this time would reflect when the finding was resolved. Must not be set to a value greater than the current timestamp."
        },
        "securityMarks": {
          "description": "Output only. User specified security marks. These marks are entirely managed by the user and come from the SecurityMarks resource that belongs to the finding.",
          "$ref": "GoogleCloudSecuritycenterV1p1beta1SecurityMarks",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "The relative resource name of this finding. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Example: \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}\""
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time at which the finding was created in Security Command Center."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "type": "string",
          "description": "The state of the finding.",
          "enumDescriptions": [
            "Unspecified state.",
            "The finding requires attention and has not been addressed yet.",
            "The finding has been fixed, triaged as a non-issue or otherwise addressed and is no longer active."
          ]
        },
        "externalUri": {
          "type": "string",
          "description": "The URI that, if available, points to a web page outside of Security Command Center where additional information about the finding can be found. This field is guaranteed to be either empty or a well formed URL."
        },
        "resourceName": {
          "type": "string",
          "description": "For findings on Google Cloud resources, the full resource name of the Google Cloud resource this finding is for. See: https://cloud.google.com/apis/design/resource_names#full_resource_name When the finding is for a non-Google Cloud resource, the resourceName can be a customer or partner defined string. This field is immutable after creation time."
        },
        "severity": {
          "description": "The severity of the finding. This field is managed by the source that writes the finding.",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "enumDescriptions": [
            "No severity specified. The default value.",
            "Critical severity.",
            "High severity.",
            "Medium severity.",
            "Low severity."
          ],
          "type": "string"
        }
      },
      "description": "Security Command Center finding. A finding is a record of assessment data (security, risk, health or privacy) ingested into Security Command Center for presentation, notification, analysis, policy testing, and enforcement. For example, an XSS vulnerability in an App Engine application is a finding."
    },
    "GoogleCloudSecuritycenterV1CustomConfig": {
      "properties": {
        "predicate": {
          "description": "The CEL expression to evaluate to produce findings. When the expression evaluates to true against a resource, a finding is generated.",
          "$ref": "Expr"
        },
        "resourceSelector": {
          "$ref": "GoogleCloudSecuritycenterV1ResourceSelector",
          "description": "The resource types that the custom module operates on. Each custom module can specify up to 5 resource types."
        },
        "description": {
          "type": "string",
          "description": "Text that describes the vulnerability or misconfiguration that the custom module detects. This explanation is returned with each finding instance to help investigators understand the detected issue. The text must be enclosed in quotation marks."
        },
        "recommendation": {
          "description": "An explanation of the recommended steps that security teams can take to resolve the detected issue. This explanation is returned with each finding generated by this module in the `nextSteps` property of the finding JSON.",
          "type": "string"
        },
        "severity": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified severity.",
            "Critical severity.",
            "High severity.",
            "Medium severity.",
            "Low severity."
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "description": "The severity to assign to findings generated by the module."
        },
        "customOutput": {
          "description": "Custom output properties.",
          "$ref": "GoogleCloudSecuritycenterV1CustomOutputSpec"
        }
      },
      "id": "GoogleCloudSecuritycenterV1CustomConfig",
      "description": "Defines the properties in a custom module configuration for Security Health Analytics. Use the custom module configuration to create custom detectors that generate custom findings for resources that you specify.",
      "type": "object"
    },
    "KernelRootkit": {
      "type": "object",
      "id": "KernelRootkit",
      "properties": {
        "unexpectedCodeModification": {
          "type": "boolean",
          "description": "True if unexpected modifications of kernel code memory are present."
        },
        "unexpectedProcessesInRunqueue": {
          "description": "True if unexpected processes in the scheduler run queue are present. Such processes are in the run queue, but not in the process task list.",
          "type": "boolean"
        },
        "unexpectedSystemCallHandler": {
          "type": "boolean",
          "description": "True if system call handlers that are are not in the expected kernel or module code regions are present."
        },
        "unexpectedKprobeHandler": {
          "type": "boolean",
          "description": "True if `kprobe` points are present with callbacks pointing to regions that are not in the expected kernel or module code range."
        },
        "unexpectedInterruptHandler": {
          "description": "True if interrupt handlers that are are not in the expected kernel or module code regions are present.",
          "type": "boolean"
        },
        "unexpectedFtraceHandler": {
          "description": "True if `ftrace` points are present with callbacks pointing to regions that are not in the expected kernel or module code range.",
          "type": "boolean"
        },
        "name": {
          "description": "Rootkit name, when available.",
          "type": "string"
        },
        "unexpectedKernelCodePages": {
          "type": "boolean",
[...]
