{
  "discoveryVersion": "v1",
  "version_module": true,
  "name": "securitycenter",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "documentationLink": "https://cloud.google.com/security-command-center",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "mtlsRootUrl": "https://securitycenter.mtls.googleapis.com/",
  "title": "Security Command Center API",
  "canonicalName": "Security Command Center",
  "protocol": "rest",
  "batchPath": "batch",
  "ownerName": "Google",
  "servicePath": "",
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "description": "Security Command Center API provides access to temporal views of assets and findings within an organization.",
  "basePath": "",
  "parameters": {
    "alt": {
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    }
  },
  "rootUrl": "https://securitycenter.googleapis.com/",
  "resources": {
    "folders": {
      "resources": {
        "securityHealthAnalyticsSettings": {
          "resources": {
            "effectiveCustomModules": {
              "methods": {
                "get": {
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1EffectiveSecurityHealthAnalyticsCustomModule"
                  },
                  "description": "Retrieves an EffectiveSecurityHealthAnalyticsCustomModule.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. Name of the effective custom module to get. Its format is \"organizations/{organization}/securityHealthAnalyticsSettings/effectiveCustomModules/{customModule}\", \"folders/{folder}/securityHealthAnalyticsSettings/effectiveCustomModules/{customModule}\", or \"projects/{project}/securityHealthAnalyticsSettings/effectiveCustomModules/{customModule}\"",
                      "required": true,
                      "type": "string",
                      "pattern": "^folders/[^/]+/securityHealthAnalyticsSettings/effectiveCustomModules/[^/]+$"
                    }
                  },
                  "httpMethod": "GET",
                  "id": "securitycenter.folders.securityHealthAnalyticsSettings.effectiveCustomModules.get",
                  "path": "v1/{+name}",
                  "flatPath": "v1/folders/{foldersId}/securityHealthAnalyticsSettings/effectiveCustomModules/{effectiveCustomModulesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "id": "securitycenter.folders.securityHealthAnalyticsSettings.effectiveCustomModules.list",
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "pattern": "^folders/[^/]+/securityHealthAnalyticsSettings$",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Required. Name of parent to list effective custom modules. Its format is \"organizations/{organization}/securityHealthAnalyticsSettings\", \"folders/{folder}/securityHealthAnalyticsSettings\", or \"projects/{project}/securityHealthAnalyticsSettings\""
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "The value returned by the last call indicating a continuation",
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "The maximum number of results to return in a single response. Default is 10, minimum is 1, maximum is 1000.",
                      "type": "integer"
                    }
                  },
                  "flatPath": "v1/folders/{foldersId}/securityHealthAnalyticsSettings/effectiveCustomModules",
                  "response": {
                    "$ref": "ListEffectiveSecurityHealthAnalyticsCustomModulesResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Returns a list of all EffectiveSecurityHealthAnalyticsCustomModules for the given parent. This includes resident modules defined at the scope of the parent, and inherited modules, inherited from CRM ancestors.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/effectiveCustomModules"
                }
              }
            },
            "customModules": {
              "methods": {
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleCloudSecuritycenterV1SecurityHealthAnalyticsCustomModule"
                  },
                  "path": "v1/{+parent}/customModules",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Creates a resident SecurityHealthAnalyticsCustomModule at the scope of the given CRM parent, and also creates inherited SecurityHealthAnalyticsCustomModules for all CRM descendants of the given parent. These modules are enabled by default.",
                  "id": "securitycenter.folders.securityHealthAnalyticsSettings.customModules.create",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1SecurityHealthAnalyticsCustomModule"
                  },
                  "flatPath": "v1/folders/{foldersId}/securityHealthAnalyticsSettings/customModules",
                  "parameters": {
                    "parent": {
                      "pattern": "^folders/[^/]+/securityHealthAnalyticsSettings$",
                      "type": "string",
                      "description": "Required. Resource name of the new custom module's parent. Its format is \"organizations/{organization}/securityHealthAnalyticsSettings\", \"folders/{folder}/securityHealthAnalyticsSettings\", or \"projects/{project}/securityHealthAnalyticsSettings\"",
                      "required": true,
                      "location": "path"
                    }
                  }
                },
                "patch": {
                  "parameters": {
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query",
                      "description": "The list of fields to update."
                    },
                    "name": {
                      "required": true,
                      "pattern": "^folders/[^/]+/securityHealthAnalyticsSettings/customModules/[^/]+$",
                      "location": "path",
                      "description": "Immutable. The resource name of the custom module. Its format is \"organizations/{organization}/securityHealthAnalyticsSettings/customModules/{customModule}\", or \"folders/{folder}/securityHealthAnalyticsSettings/customModules/{customModule}\", or \"projects/{project}/securityHealthAnalyticsSettings/customModules/{customModule}\" The id {customModule} is server-generated and is not user settable. It will be a numeric id containing 1-20 digits.",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1SecurityHealthAnalyticsCustomModule"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "securitycenter.folders.securityHealthAnalyticsSettings.customModules.patch",
                  "httpMethod": "PATCH",
                  "description": "Updates the SecurityHealthAnalyticsCustomModule under the given name based on the given update mask. Updating the enablement state is supported on both resident and inherited modules (though resident modules cannot have an enablement state of \"inherited\"). Updating the display name and custom config of a module is supported on resident modules only.",
                  "request": {
                    "$ref": "GoogleCloudSecuritycenterV1SecurityHealthAnalyticsCustomModule"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/folders/{foldersId}/securityHealthAnalyticsSettings/customModules/{customModulesId}"
                },
                "list": {
                  "flatPath": "v1/folders/{foldersId}/securityHealthAnalyticsSettings/customModules",
                  "description": "Returns a list of all SecurityHealthAnalyticsCustomModules for the given parent. This includes resident modules defined at the scope of the parent, and inherited modules, inherited from CRM ancestors.",
                  "path": "v1/{+parent}/customModules",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "The maximum number of results to return in a single response. Default is 10, minimum is 1, maximum is 1000."
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The value returned by the last call indicating a continuation"
                    },
                    "parent": {
                      "required": true,
                      "description": "Required. Name of parent to list custom modules. Its format is \"organizations/{organization}/securityHealthAnalyticsSettings\", \"folders/{folder}/securityHealthAnalyticsSettings\", or \"projects/{project}/securityHealthAnalyticsSettings\"",
                      "location": "path",
                      "pattern": "^folders/[^/]+/securityHealthAnalyticsSettings$",
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListSecurityHealthAnalyticsCustomModulesResponse"
                  },
                  "id": "securitycenter.folders.securityHealthAnalyticsSettings.customModules.list",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "listDescendant": {
                  "flatPath": "v1/folders/{foldersId}/securityHealthAnalyticsSettings/customModules:listDescendant",
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "The maximum number of results to return in a single response. Default is 10, minimum is 1, maximum is 1000."
                    },
                    "parent": {
                      "description": "Required. Name of parent to list descendant custom modules. Its format is \"organizations/{organization}/securityHealthAnalyticsSettings\", \"folders/{folder}/securityHealthAnalyticsSettings\", or \"projects/{project}/securityHealthAnalyticsSettings\"",
                      "type": "string",
                      "required": true,
                      "pattern": "^folders/[^/]+/securityHealthAnalyticsSettings$",
                      "location": "path"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "The value returned by the last call indicating a continuation",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListDescendantSecurityHealthAnalyticsCustomModulesResponse"
                  },
                  "path": "v1/{+parent}/customModules:listDescendant",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Returns a list of all resident SecurityHealthAnalyticsCustomModules under the given CRM parent and all of the parent’s CRM descendants.",
                  "httpMethod": "GET",
                  "id": "securitycenter.folders.securityHealthAnalyticsSettings.customModules.listDescendant"
                },
                "delete": {
                  "path": "v1/{+name}",
                  "flatPath": "v1/folders/{foldersId}/securityHealthAnalyticsSettings/customModules/{customModulesId}",
                  "description": "Deletes the specified SecurityHealthAnalyticsCustomModule and all of its descendants in the CRM hierarchy. This method is only supported for resident custom modules.",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. Name of the custom module to delete. Its format is \"organizations/{organization}/securityHealthAnalyticsSettings/customModules/{customModule}\", \"folders/{folder}/securityHealthAnalyticsSettings/customModules/{customModule}\", or \"projects/{project}/securityHealthAnalyticsSettings/customModules/{customModule}\"",
                      "pattern": "^folders/[^/]+/securityHealthAnalyticsSettings/customModules/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "securitycenter.folders.securityHealthAnalyticsSettings.customModules.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                },
                "get": {
                  "httpMethod": "GET",
                  "description": "Retrieves a SecurityHealthAnalyticsCustomModule.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^folders/[^/]+/securityHealthAnalyticsSettings/customModules/[^/]+$",
                      "description": "Required. Name of the custom module to get. Its format is \"organizations/{organization}/securityHealthAnalyticsSettings/customModules/{customModule}\", \"folders/{folder}/securityHealthAnalyticsSettings/customModules/{customModule}\", or \"projects/{project}/securityHealthAnalyticsSettings/customModules/{customModule}\"",
                      "required": true
                    }
                  },
                  "flatPath": "v1/folders/{foldersId}/securityHealthAnalyticsSettings/customModules/{customModulesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "securitycenter.folders.securityHealthAnalyticsSettings.customModules.get",
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1SecurityHealthAnalyticsCustomModule"
                  },
                  "path": "v1/{+name}"
                }
              }
            }
          }
        },
        "notificationConfigs": {
          "methods": {
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/notificationConfigs",
              "id": "securitycenter.folders.notificationConfigs.list",
              "flatPath": "v1/folders/{foldersId}/notificationConfigs",
              "description": "Lists notification configs.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "The value returned by the last `ListNotificationConfigsResponse`; indicates that this is a continuation of a prior `ListNotificationConfigs` call, and that the system should return the next page of data.",
                  "type": "string"
                },
                "parent": {
                  "location": "path",
                  "description": "Required. The name of the parent in which to list the notification configurations. Its format is \"organizations/[organization_id]\", \"folders/[folder_id]\", or \"projects/[project_id]\".",
                  "required": true,
                  "pattern": "^folders/[^/]+$",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "The maximum number of results to return in a single response. Default is 10, minimum is 1, maximum is 1000."
                }
              },
              "response": {
                "$ref": "ListNotificationConfigsResponse"
              },
              "httpMethod": "GET"
            },
            "delete": {
              "httpMethod": "DELETE",
              "path": "v1/{+name}",
              "flatPath": "v1/folders/{foldersId}/notificationConfigs/{notificationConfigsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^folders/[^/]+/notificationConfigs/[^/]+$",
                  "required": true,
                  "description": "Required. Name of the notification config to delete. Its format is \"organizations/[organization_id]/notificationConfigs/[config_id]\", \"folders/[folder_id]/notificationConfigs/[config_id]\", or \"projects/[project_id]/notificationConfigs/[config_id]\".",
                  "type": "string"
                }
              },
              "id": "securitycenter.folders.notificationConfigs.delete",
              "description": "Deletes a notification config."
            },
            "patch": {
              "request": {
                "$ref": "NotificationConfig"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "NotificationConfig"
              },
              "description": " Updates a notification config. The following update fields are allowed: description, pubsub_topic, streaming_config.filter",
              "parameterOrder": [
                "name"
              ],
              "id": "securitycenter.folders.notificationConfigs.patch",
              "httpMethod": "PATCH",
              "flatPath": "v1/folders/{foldersId}/notificationConfigs/{notificationConfigsId}",
              "path": "v1/{+name}",
              "parameters": {
                "updateMask": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string",
                  "description": "The FieldMask to use when updating the notification config. If empty all mutable fields will be updated."
                },
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^folders/[^/]+/notificationConfigs/[^/]+$",
                  "description": "The relative resource name of this notification config. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Example: \"organizations/{organization_id}/notificationConfigs/notify_public_bucket\", \"folders/{folder_id}/notificationConfigs/notify_public_bucket\", or \"projects/{project_id}/notificationConfigs/notify_public_bucket\"."
                }
              }
            },
            "create": {
              "flatPath": "v1/folders/{foldersId}/notificationConfigs",
              "response": {
                "$ref": "NotificationConfig"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Required. Resource name of the new notification config's parent. Its format is \"organizations/[organization_id]\", \"folders/[folder_id]\", or \"projects/[project_id]\".",
                  "location": "path",
                  "pattern": "^folders/[^/]+$",
                  "type": "string"
                },
                "configId": {
                  "location": "query",
                  "description": "Required. Unique identifier provided by the client within the parent scope. It must be between 1 and 128 characters and contain alphanumeric characters, underscores, or hyphens only.",
                  "type": "string"
                }
              },
              "path": "v1/{+parent}/notificationConfigs",
              "description": "Creates a notification config.",
              "id": "securitycenter.folders.notificationConfigs.create",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "NotificationConfig"
              }
            },
            "get": {
              "description": "Gets a notification config.",
              "id": "securitycenter.folders.notificationConfigs.get",
              "response": {
                "$ref": "NotificationConfig"
              },
              "flatPath": "v1/folders/{foldersId}/notificationConfigs/{notificationConfigsId}",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "description": "Required. Name of the notification config to get. Its format is \"organizations/[organization_id]/notificationConfigs/[config_id]\", \"folders/[folder_id]/notificationConfigs/[config_id]\", or \"projects/[project_id]/notificationConfigs/[config_id]\".",
                  "required": true,
                  "type": "string",
                  "pattern": "^folders/[^/]+/notificationConfigs/[^/]+$",
                  "location": "path"
                }
              }
            }
          }
        },
        "findings": {
          "methods": {
            "bulkMute": {
              "id": "securitycenter.folders.findings.bulkMute",
              "response": {
                "$ref": "Operation"
              },
              "request": {
                "$ref": "BulkMuteFindingsRequest"
              },
              "path": "v1/{+parent}/findings:bulkMute",
              "httpMethod": "POST",
              "flatPath": "v1/folders/{foldersId}/findings:bulkMute",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. The parent, at which bulk action needs to be applied. Its format is \"organizations/[organization_id]\", \"folders/[folder_id]\", \"projects/[project_id]\".",
                  "pattern": "^folders/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "description": "Kicks off an LRO to bulk mute findings for a parent based on a filter. The parent can be either an organization, folder or project. The findings matched by the filter will be muted after the LRO is done."
            }
          }
        },
        "assets": {
          "methods": {
            "updateSecurityMarks": {
              "httpMethod": "PATCH",
              "response": {
                "$ref": "SecurityMarks"
              },
              "request": {
                "$ref": "SecurityMarks"
              },
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "description": "The FieldMask to use when updating the security marks resource. The field mask must not contain duplicate fields. If empty or set to \"marks\", all marks will be replaced. Individual marks can be updated using \"marks.\".",
                  "format": "google-fieldmask",
                  "type": "string"
                },
                "startTime": {
                  "description": "The time at which the updated SecurityMarks take effect. If not set uses current server time. Updates will be applied to the SecurityMarks that are active immediately preceding this time. Must be earlier or equal to the server time.",
                  "type": "string",
                  "format": "google-datetime",
                  "location": "query"
                },
                "name": {
                  "description": "The relative resource name of the SecurityMarks. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Examples: \"organizations/{organization_id}/assets/{asset_id}/securityMarks\" \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}/securityMarks\".",
                  "location": "path",
                  "type": "string",
                  "pattern": "^folders/[^/]+/assets/[^/]+/securityMarks$",
                  "required": true
                }
              },
              "flatPath": "v1/folders/{foldersId}/assets/{assetsId}/securityMarks",
              "parameterOrder": [
                "name"
              ],
              "id": "securitycenter.folders.assets.updateSecurityMarks",
              "description": "Updates security marks."
            },
            "group": {
              "description": "Filters an organization's assets and groups them by their specified properties.",
              "request": {
                "$ref": "GroupAssetsRequest"
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/folders/{foldersId}/assets:group",
              "response": {
                "$ref": "GroupAssetsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+parent}/assets:group",
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the parent to group the assets by. Its format is \"organizations/[organization_id]\", \"folders/[folder_id]\", or \"projects/[project_id]\".",
                  "pattern": "^folders/[^/]+$"
                }
              },
              "httpMethod": "POST",
              "id": "securitycenter.folders.assets.group"
            },
            "list": {
              "response": {
                "$ref": "ListAssetsResponse"
              },
              "id": "securitycenter.folders.assets.list",
              "description": "Lists an organization's assets.",
              "flatPath": "v1/folders/{foldersId}/assets",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "Expression that defines the filter to apply across assets. The expression is a list of zero or more restrictions combined via logical operators `AND` and `OR`. Parentheses are supported, and `OR` has higher precedence than `AND`. Restrictions have the form ` ` and may have a `-` character in front of them to indicate negation. The fields map to those defined in the Asset resource. Examples include: * name * security_center_properties.resource_name * resource_properties.a_property * security_marks.marks.marka The supported operators are: * `=` for all value types. * `\u003e`, `\u003c`, `\u003e=`, `\u003c=` for integer values. * `:`, meaning substring matching, for strings. The supported value types are: * string literals in quotes. * integer literals without quotes. * boolean literals `true` and `false` without quotes. The following are the allowed field and operator combinations: * name: `=` * update_time: `=`, `\u003e`, `\u003c`, `\u003e=`, `\u003c=` Usage: This should be milliseconds since epoch or an RFC3339 string. Examples: `update_time = \"2019-06-10T16:07:18-07:00\"` `update_time = 1560208038000` * create_time: `=`, `\u003e`, `\u003c`, `\u003e=`, `\u003c=` Usage: This should be milliseconds since epoch or an RFC3339 string. Examples: `create_time = \"2019-06-10T16:07:18-07:00\"` `create_time = 1560208038000` * iam_policy.policy_blob: `=`, `:` * resource_properties: `=`, `:`, `\u003e`, `\u003c`, `\u003e=`, `\u003c=` * security_marks.marks: `=`, `:` * security_center_properties.resource_name: `=`, `:` * security_center_properties.resource_display_name: `=`, `:` * security_center_properties.resource_type: `=`, `:` * security_center_properties.resource_parent: `=`, `:` * security_center_properties.resource_parent_display_name: `=`, `:` * security_center_properties.resource_project: `=`, `:` * security_center_properties.resource_project_display_name: `=`, `:` * security_center_properties.resource_owners: `=`, `:` For example, `resource_properties.size = 100` is a valid filter string. Use a partial match on the empty string to filter based on a property existing: `resource_properties.my_property : \"\"` Use a negated partial match on the empty string to filter based on a property not existing: `-resource_properties.my_property : \"\"`"
                },
                "parent": {
                  "type": "string",
                  "description": "Required. The name of the parent resource that contains the assets. The value that you can specify on parent depends on the method in which you specify parent. You can specify one of the following values: \"organizations/[organization_id]\", \"folders/[folder_id]\", or \"projects/[project_id]\".",
                  "required": true,
                  "location": "path",
                  "pattern": "^folders/[^/]+$"
                },
                "orderBy": {
                  "description": "Expression that defines what fields and order to use for sorting. The string value should follow SQL syntax: comma separated list of fields. For example: \"name,resource_properties.a_property\". The default sorting order is ascending. To specify descending order for a field, a suffix \" desc\" should be appended to the field name. For example: \"name desc,resource_properties.a_property\". Redundant space characters in the syntax are insignificant. \"name desc,resource_properties.a_property\" and \" name desc , resource_properties.a_property \" are equivalent. The following fields are supported: name update_time resource_properties security_marks.marks security_center_properties.resource_name security_center_properties.resource_display_name security_center_properties.resource_parent security_center_properties.resource_parent_display_name security_center_properties.resource_project security_center_properties.resource_project_display_name security_center_properties.resource_type",
                  "type": "string",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "The value returned by the last `ListAssetsResponse`; indicates that this is a continuation of a prior `ListAssets` call, and that the system should return the next page of data."
                },
                "compareDuration": {
                  "description": "When compare_duration is set, the ListAssetsResult's \"state_change\" attribute is updated to indicate whether the asset was added, removed, or remained present during the compare_duration period of time that precedes the read_time. This is the time between (read_time - compare_duration) and read_time. The state_change value is derived based on the presence of the asset at the two points in time. Intermediate state changes between the two times don't affect the result. For example, the results aren't affected if the asset is removed and re-created again. Possible \"state_change\" values when compare_duration is specified: * \"ADDED\": indicates that the asset was not present at the start of compare_duration, but present at read_time. * \"REMOVED\": indicates that the asset was present at the start of compare_duration, but not present at read_time. * \"ACTIVE\": indicates that the asset was present at both the start and the end of the time period defined by compare_duration and read_time. If compare_duration is not specified, then the only possible state_change is \"UNUSED\", which will be the state_change set for all assets present at read_time.",
                  "type": "string",
                  "format": "google-duration",
                  "location": "query"
                },
                "readTime": {
                  "format": "google-datetime",
                  "location": "query",
                  "description": "Time used as a reference point when filtering assets. The filter is limited to assets existing at the supplied time and their values are those at that specific time. Absence of this field will default to the API's version of NOW.",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "description": "The maximum number of results to return in a single response. Default is 10, minimum is 1, maximum is 1000.",
                  "format": "int32",
                  "type": "integer"
                },
                "fieldMask": {
                  "format": "google-fieldmask",
                  "type": "string",
                  "location": "query",
                  "description": "A field mask to specify the ListAssetsResult fields to be listed in the response. An empty field mask will list all fields."
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "path": "v1/{+parent}/assets"
            }
          }
        },
        "bigQueryExports": {
          "methods": {
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A page token, received from a previous `ListBigQueryExports` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListBigQueryExports` must match the call that provided the page token."
                },
                "parent": {
                  "location": "path",
                  "description": "Required. The parent, which owns the collection of BigQuery exports. Its format is \"organizations/[organization_id]\", \"folders/[folder_id]\", \"projects/[project_id]\".",
                  "pattern": "^folders/[^/]+$",
                  "type": "string",
                  "required": true
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of configs to return. The service may return fewer than this value. If unspecified, at most 10 configs will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                }
              },
              "httpMethod": "GET",
              "path": "v1/{+parent}/bigQueryExports",
              "flatPath": "v1/folders/{foldersId}/bigQueryExports",
              "description": "Lists BigQuery exports. Note that when requesting BigQuery exports at a given level all exports under that level are also returned e.g. if requesting BigQuery exports under a folder, then all BigQuery exports immediately under the folder plus the ones created under the projects within the folder are returned.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "securitycenter.folders.bigQueryExports.list",
              "response": {
                "$ref": "ListBigQueryExportsResponse"
              }
            },
            "create": {
              "description": "Creates a BigQuery export.",
              "parameters": {
                "bigQueryExportId": {
                  "type": "string",
                  "description": "Required. Unique identifier provided by the client within the parent scope. It must consist of only lowercase letters, numbers, and hyphens, must start with a letter, must end with either a letter or a number, and must be 63 characters or less.",
                  "location": "query"
                },
                "parent": {
                  "pattern": "^folders/[^/]+$",
                  "required": true,
                  "description": "Required. The name of the parent resource of the new BigQuery export. Its format is \"organizations/[organization_id]\", \"folders/[folder_id]\", or \"projects/[project_id]\".",
                  "location": "path",
                  "type": "string"
                }
              },
              "path": "v1/{+parent}/bigQueryExports",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleCloudSecuritycenterV1BigQueryExport"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/folders/{foldersId}/bigQueryExports",
              "request": {
                "$ref": "GoogleCloudSecuritycenterV1BigQueryExport"
              },
              "id": "securitycenter.folders.bigQueryExports.create"
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/folders/{foldersId}/bigQueryExports/{bigQueryExportsId}",
              "description": "Deletes an existing BigQuery export.",
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "description": "Required. The name of the BigQuery export to delete. Its format is organizations/{organization}/bigQueryExports/{export_id}, folders/{folder}/bigQueryExports/{export_id}, or projects/{project}/bigQueryExports/{export_id}",
                  "pattern": "^folders/[^/]+/bigQueryExports/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Empty"
              },
              "id": "securitycenter.folders.bigQueryExports.delete"
            },
            "get": {
              "response": {
                "$ref": "GoogleCloudSecuritycenterV1BigQueryExport"
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "securitycenter.folders.bigQueryExports.get",
              "description": "Gets a BigQuery export.",
              "parameters": {
                "name": {
                  "description": "Required. Name of the BigQuery export to retrieve. Its format is organizations/{organization}/bigQueryExports/{export_id}, folders/{folder}/bigQueryExports/{export_id}, or projects/{project}/bigQueryExports/{export_id}",
                  "pattern": "^folders/[^/]+/bigQueryExports/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "flatPath": "v1/folders/{foldersId}/bigQueryExports/{bigQueryExportsId}",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ]
            },
            "patch": {
              "id": "securitycenter.folders.bigQueryExports.patch",
              "flatPath": "v1/folders/{foldersId}/bigQueryExports/{bigQueryExportsId}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Updates a BigQuery export.",
              "response": {
                "$ref": "GoogleCloudSecuritycenterV1BigQueryExport"
              },
              "parameters": {
                "name": {
                  "description": "The relative resource name of this export. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name. Example format: \"organizations/{organization_id}/bigQueryExports/{export_id}\" Example format: \"folders/{folder_id}/bigQueryExports/{export_id}\" Example format: \"projects/{project_id}/bigQueryExports/{export_id}\" This field is provided in responses, and is ignored when provided in create requests.",
                  "pattern": "^folders/[^/]+/bigQueryExports/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "type": "string",
                  "description": "The list of fields to be updated. If empty all mutable fields will be updated.",
                  "location": "query"
                }
              },
              "request": {
                "$ref": "GoogleCloudSecuritycenterV1BigQueryExport"
              },
              "httpMethod": "PATCH",
              "path": "v1/{+name}"
            }
          }
        },
        "muteConfigs": {
          "methods": {
            "create": {
              "request": {
                "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
              },
              "path": "v1/{+parent}/muteConfigs",
              "description": "Creates a mute config.",
              "id": "securitycenter.folders.muteConfigs.create",
              "flatPath": "v1/folders/{foldersId}/muteConfigs",
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^folders/[^/]+$",
                  "description": "Required. Resource name of the new mute configs's parent. Its format is \"organizations/[organization_id]\", \"folders/[folder_id]\", or \"projects/[project_id]\"."
                },
                "muteConfigId": {
                  "description": "Required. Unique identifier provided by the client within the parent scope. It must consist of only lowercase letters, numbers, and hyphens, must start with a letter, must end with either a letter or a number, and must be 63 characters or less.",
                  "type": "string",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST"
            },
            "delete": {
              "flatPath": "v1/folders/{foldersId}/muteConfigs/{muteConfigsId}",
              "httpMethod": "DELETE",
              "description": "Deletes an existing mute config.",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^folders/[^/]+/muteConfigs/[^/]+$",
                  "description": "Required. Name of the mute config to delete. Its format is organizations/{organization}/muteConfigs/{config_id}, folders/{folder}/muteConfigs/{config_id}, or projects/{project}/muteConfigs/{config_id}",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Empty"
              },
              "id": "securitycenter.folders.muteConfigs.delete"
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Required. The parent, which owns the collection of mute configs. Its format is \"organizations/[organization_id]\", \"folders/[folder_id]\", \"projects/[project_id]\".",
                  "location": "path",
                  "pattern": "^folders/[^/]+$",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query",
                  "description": "The maximum number of configs to return. The service may return fewer than this value. If unspecified, at most 10 configs will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A page token, received from a previous `ListMuteConfigs` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListMuteConfigs` must match the call that provided the page token."
                }
              },
              "description": "Lists mute configs.",
              "flatPath": "v1/folders/{foldersId}/muteConfigs",
              "response": {
                "$ref": "ListMuteConfigsResponse"
              },
              "id": "securitycenter.folders.muteConfigs.list",
              "path": "v1/{+parent}/muteConfigs",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "patch": {
              "request": {
                "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
              },
              "description": "Updates a mute config.",
              "response": {
                "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
              },
              "id": "securitycenter.folders.muteConfigs.patch",
              "path": "v1/{+name}",
              "flatPath": "v1/folders/{foldersId}/muteConfigs/{muteConfigsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "This field will be ignored if provided on config creation. Format \"organizations/{organization}/muteConfigs/{mute_config}\" \"folders/{folder}/muteConfigs/{mute_config}\" \"projects/{project}/muteConfigs/{mute_config}\"",
                  "location": "path",
                  "pattern": "^folders/[^/]+/muteConfigs/[^/]+$"
                },
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "The list of fields to be updated. If empty all mutable fields will be updated."
                }
              },
              "httpMethod": "PATCH"
            },
            "get": {
              "parameters": {
                "name": {
                  "pattern": "^folders/[^/]+/muteConfigs/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. Name of the mute config to retrieve. Its format is organizations/{organization}/muteConfigs/{config_id}, folders/{folder}/muteConfigs/{config_id}, or projects/{project}/muteConfigs/{config_id}"
                }
              },
              "flatPath": "v1/folders/{foldersId}/muteConfigs/{muteConfigsId}",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets a mute config.",
              "parameterOrder": [
                "name"
              ],
              "id": "securitycenter.folders.muteConfigs.get",
              "path": "v1/{+name}"
            }
          }
        },
        "sources": {
          "resources": {
            "findings": {
              "methods": {
                "updateSecurityMarks": {
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "startTime": {
                      "format": "google-datetime",
                      "description": "The time at which the updated SecurityMarks take effect. If not set uses current server time. Updates will be applied to the SecurityMarks that are active immediately preceding this time. Must be earlier or equal to the server time.",
                      "location": "query",
                      "type": "string"
                    },
                    "updateMask": {
                      "description": "The FieldMask to use when updating the security marks resource. The field mask must not contain duplicate fields. If empty or set to \"marks\", all marks will be replaced. Individual marks can be updated using \"marks.\".",
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "pattern": "^folders/[^/]+/sources/[^/]+/findings/[^/]+/securityMarks$",
                      "location": "path",
                      "description": "The relative resource name of the SecurityMarks. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Examples: \"organizations/{organization_id}/assets/{asset_id}/securityMarks\" \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}/securityMarks\".",
                      "type": "string",
                      "required": true
                    }
                  },
                  "description": "Updates security marks.",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "securitycenter.folders.sources.findings.updateSecurityMarks",
                  "path": "v1/{+name}",
                  "flatPath": "v1/folders/{foldersId}/sources/{sourcesId}/findings/{findingsId}/securityMarks",
                  "response": {
                    "$ref": "SecurityMarks"
                  },
                  "request": {
                    "$ref": "SecurityMarks"
                  }
                },
                "setState": {
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "securitycenter.folders.sources.findings.setState",
                  "description": "Updates the state of a finding.",
                  "response": {
                    "$ref": "Finding"
                  },
                  "request": {
                    "$ref": "SetFindingStateRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}:setState",
                  "flatPath": "v1/folders/{foldersId}/sources/{sourcesId}/findings/{findingsId}:setState",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The [relative resource name](https://cloud.google.com/apis/design/resource_names#relative_resource_name) of the finding. Example: \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}\", \"folders/{folder_id}/sources/{source_id}/findings/{finding_id}\", \"projects/{project_id}/sources/{source_id}/findings/{finding_id}\".",
                      "type": "string",
                      "pattern": "^folders/[^/]+/sources/[^/]+/findings/[^/]+$",
                      "required": true
                    }
                  },
                  "httpMethod": "POST"
                },
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "Finding"
                  },
                  "description": "Creates or updates a finding. The corresponding source must exist for a finding creation to succeed.",
                  "response": {
                    "$ref": "Finding"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "flatPath": "v1/folders/{foldersId}/sources/{sourcesId}/findings/{findingsId}",
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "description": "The [relative resource name](https://cloud.google.com/apis/design/resource_names#relative_resource_name) of the finding. Example: \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}\", \"folders/{folder_id}/sources/{source_id}/findings/{finding_id}\", \"projects/{project_id}/sources/{source_id}/findings/{finding_id}\".",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^folders/[^/]+/sources/[^/]+/findings/[^/]+$"
                    },
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "description": "The FieldMask to use when updating the finding resource. This field should not be specified when creating a finding. When updating a finding, an empty mask is treated as updating all mutable fields and replacing source_properties. Individual source_properties can be added/updated by using \"source_properties.\" in the field mask.",
                      "type": "string"
                    }
                  },
                  "id": "securitycenter.folders.sources.findings.patch"
                },
                "setMute": {
                  "description": "Updates the mute state of a finding.",
                  "request": {
                    "$ref": "SetMuteRequest"
                  },
                  "id": "securitycenter.folders.sources.findings.setMute",
                  "response": {
                    "$ref": "Finding"
                  },
                  "flatPath": "v1/folders/{foldersId}/sources/{sourcesId}/findings/{findingsId}:setMute",
                  "parameters": {
                    "name": {
                      "description": "Required. The [relative resource name](https://cloud.google.com/apis/design/resource_names#relative_resource_name) of the finding. Example: \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}\", \"folders/{folder_id}/sources/{source_id}/findings/{finding_id}\", \"projects/{project_id}/sources/{source_id}/findings/{finding_id}\".",
                      "pattern": "^folders/[^/]+/sources/[^/]+/findings/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "httpMethod": "POST",
                  "path": "v1/{+name}:setMute",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "path": "v1/{+parent}/findings",
                  "id": "securitycenter.folders.sources.findings.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/folders/{foldersId}/sources/{sourcesId}/findings",
                  "description": "Lists an organization or source's findings. To list across all sources provide a `-` as the source id. Example: /v1/organizations/{organization_id}/sources/-/findings",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. Name of the source the findings belong to. Its format is \"organizations/[organization_id]/sources/[source_id], folders/[folder_id]/sources/[source_id], or projects/[project_id]/sources/[source_id]\". To list across all sources provide a source_id of `-`. For example: organizations/{organization_id}/sources/-, folders/{folder_id}/sources/- or projects/{projects_id}/sources/-",
                      "type": "string",
                      "pattern": "^folders/[^/]+/sources/[^/]+$",
                      "location": "path"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "The value returned by the last `ListFindingsResponse`; indicates that this is a continuation of a prior `ListFindings` call, and that the system should return the next page of data.",
                      "location": "query"
                    },
                    "orderBy": {
                      "location": "query",
                      "description": "Expression that defines what fields and order to use for sorting. The string value should follow SQL syntax: comma separated list of fields. For example: \"name,resource_properties.a_property\". The default sorting order is ascending. To specify descending order for a field, a suffix \" desc\" should be appended to the field name. For example: \"name desc,source_properties.a_property\". Redundant space characters in the syntax are insignificant. \"name desc,source_properties.a_property\" and \" name desc , source_properties.a_property \" are equivalent. The following fields are supported: name parent state category resource_name event_time source_properties security_marks.marks",
                      "type": "string"
                    },
                    "readTime": {
                      "type": "string",
                      "location": "query",
                      "format": "google-datetime",
                      "description": "Time used as a reference point when filtering findings. The filter is limited to findings existing at the supplied time and their values are those at that specific time. Absence of this field will default to the API's version of NOW."
                    },
                    "fieldMask": {
                      "type": "string",
                      "location": "query",
                      "description": "A field mask to specify the Finding fields to be listed in the response. An empty field mask will list all fields.",
                      "format": "google-fieldmask"
                    },
                    "compareDuration": {
                      "format": "google-duration",
                      "description": "When compare_duration is set, the ListFindingsResult's \"state_change\" attribute is updated to indicate whether the finding had its state changed, the finding's state remained unchanged, or if the finding was added in any state during the compare_duration period of time that precedes the read_time. This is the time between (read_time - compare_duration) and read_time. The state_change value is derived based on the presence and state of the finding at the two points in time. Intermediate state changes between the two times don't affect the result. For example, the results aren't affected if the finding is made inactive and then active again. Possible \"state_change\" values when compare_duration is specified: * \"CHANGED\": indicates that the finding was present and matched the given filter at the start of compare_duration, but changed its state at read_time. * \"UNCHANGED\": indicates that the finding was present and matched the given filter at the start of compare_duration and did not change state at read_time. * \"ADDED\": indicates that the finding did not match the given filter or was not present at the start of compare_duration, but was present at read_time. * \"REMOVED\": indicates that the finding was present and matched the filter at the start of compare_duration, but did not match the filter at read_time. If compare_duration is not specified, then the only possible state_change is \"UNUSED\", which will be the state_change set for all findings present at read_time.",
                      "type": "string",
                      "location": "query"
                    },
                    "filter": {
                      "description": "Expression that defines the filter to apply across findings. The expression is a list of one or more restrictions combined via logical operators `AND` and `OR`. Parentheses are supported, and `OR` has higher precedence than `AND`. Restrictions have the form ` ` and may have a `-` character in front of them to indicate negation. Examples include: * name * source_properties.a_property * security_marks.marks.marka The supported operators are: * `=` for all value types. * `\u003e`, `\u003c`, `\u003e=`, `\u003c=` for integer values. * `:`, meaning substring matching, for strings. The supported value types are: * string literals in quotes. * integer literals without quotes. * boolean literals `true` and `false` without quotes. The following field and operator combinations are supported: * name: `=` * parent: `=`, `:` * resource_name: `=`, `:` * state: `=`, `:` * category: `=`, `:` * external_uri: `=`, `:` * event_time: `=`, `\u003e`, `\u003c`, `\u003e=`, `\u003c=` Usage: This should be milliseconds since epoch or an RFC3339 string. Examples: `event_time = \"2019-06-10T16:07:18-07:00\"` `event_time = 1560208038000` * severity: `=`, `:` * workflow_state: `=`, `:` * security_marks.marks: `=`, `:` * source_properties: `=`, `:`, `\u003e`, `\u003c`, `\u003e=`, `\u003c=` For example, `source_properties.size = 100` is a valid filter string. Use a partial match on the empty string to filter based on a property existing: `source_properties.my_property : \"\"` Use a negated partial match on the empty string to filter based on a property not existing: `-source_properties.my_property : \"\"` * resource: * resource.name: `=`, `:` * resource.parent_name: `=`, `:` * resource.parent_display_name: `=`, `:` * resource.project_name: `=`, `:` * resource.project_display_name: `=`, `:` * resource.type: `=`, `:` * resource.folders.resource_folder: `=`, `:` * resource.display_name: `=`, `:`",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The maximum number of results to return in a single response. Default is 10, minimum is 1, maximum is 1000.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    }
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListFindingsResponse"
                  }
                },
                "group": {
                  "path": "v1/{+parent}/findings:group",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GroupFindingsRequest"
                  },
                  "response": {
                    "$ref": "GroupFindingsResponse"
                  },
                  "parameters": {
                    "parent": {
                      "description": "Required. Name of the source to groupBy. Its format is \"organizations/[organization_id]/sources/[source_id]\", folders/[folder_id]/sources/[source_id], or projects/[project_id]/sources/[source_id]. To groupBy across all sources provide a source_id of `-`. For example: organizations/{organization_id}/sources/-, folders/{folder_id}/sources/-, or projects/{project_id}/sources/-",
                      "type": "string",
                      "location": "path",
                      "pattern": "^folders/[^/]+/sources/[^/]+$",
                      "required": true
                    }
                  },
                  "id": "securitycenter.folders.sources.findings.group",
                  "description": "Filters an organization or source's findings and groups them by their specified properties. To group across all sources provide a `-` as the source id. Example: /v1/organizations/{organization_id}/sources/-/findings, /v1/folders/{folder_id}/sources/-/findings, /v1/projects/{project_id}/sources/-/findings",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/folders/{foldersId}/sources/{sourcesId}/findings:group"
                }
              },
              "resources": {
                "externalSystems": {
                  "methods": {
                    "patch": {
                      "request": {
                        "$ref": "GoogleCloudSecuritycenterV1ExternalSystem"
                      },
                      "response": {
                        "$ref": "GoogleCloudSecuritycenterV1ExternalSystem"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}",
                      "httpMethod": "PATCH",
                      "flatPath": "v1/folders/{foldersId}/sources/{sourcesId}/findings/{findingsId}/externalSystems/{externalSystemsId}",
                      "parameters": {
                        "updateMask": {
                          "format": "google-fieldmask",
                          "type": "string",
                          "description": "The FieldMask to use when updating the external system resource. If empty all mutable fields will be updated.",
                          "location": "query"
                        },
                        "name": {
                          "required": true,
                          "pattern": "^folders/[^/]+/sources/[^/]+/findings/[^/]+/externalSystems/[^/]+$",
                          "location": "path",
                          "description": "Full resource name of the external system, for example: \"organizations/1234/sources/5678/findings/123456/externalSystems/jira\", \"folders/1234/sources/5678/findings/123456/externalSystems/jira\", \"projects/1234/sources/5678/findings/123456/externalSystems/jira\"",
                          "type": "string"
                        }
                      },
                      "description": "Updates external system. This is for a given finding.",
                      "id": "securitycenter.folders.sources.findings.externalSystems.patch",
                      "parameterOrder": [
                        "name"
                      ]
                    }
                  }
                }
              }
            }
          },
          "methods": {
            "list": {
              "response": {
                "$ref": "ListSourcesResponse"
              },
              "description": "Lists all sources belonging to an organization.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "id": "securitycenter.folders.sources.list",
              "path": "v1/{+parent}/sources",
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. Resource name of the parent of sources to list. Its format should be \"organizations/[organization_id]\", \"folders/[folder_id]\", or \"projects/[project_id]\".",
                  "pattern": "^folders/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "description": "The value returned by the last `ListSourcesResponse`; indicates that this is a continuation of a prior `ListSources` call, and that the system should return the next page of data.",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of results to return in a single response. Default is 10, minimum is 1, maximum is 1000.",
                  "format": "int32"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/folders/{foldersId}/sources"
            }
          }
        }
      }
    },
    "projects": {
      "resources": {
        "findings": {
          "methods": {
            "bulkMute": {
              "response": {
                "$ref": "Operation"
              },
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. The parent, at which bulk action needs to be applied. Its format is \"organizations/[organization_id]\", \"folders/[folder_id]\", \"projects/[project_id]\"."
                }
              },
              "flatPath": "v1/projects/{projectsId}/findings:bulkMute",
              "description": "Kicks off an LRO to bulk mute findings for a parent based on a filter. The parent can be either an organization, folder or project. The findings matched by the filter will be muted after the LRO is done.",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "id": "securitycenter.projects.findings.bulkMute",
              "request": {
                "$ref": "BulkMuteFindingsRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+parent}/findings:bulkMute"
            }
          }
        },
        "muteConfigs": {
          "methods": {
            "patch": {
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
              },
              "flatPath": "v1/projects/{projectsId}/muteConfigs/{muteConfigsId}",
              "parameters": {
                "updateMask": {
                  "type": "string",
                  "description": "The list of fields to be updated. If empty all mutable fields will be updated.",
                  "location": "query",
                  "format": "google-fieldmask"
                },
                "name": {
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+/muteConfigs/[^/]+$",
                  "description": "This field will be ignored if provided on config creation. Format \"organizations/{organization}/muteConfigs/{mute_config}\" \"folders/{folder}/muteConfigs/{mute_config}\" \"projects/{project}/muteConfigs/{mute_config}\"",
                  "type": "string"
                }
              },
              "id": "securitycenter.projects.muteConfigs.patch",
              "description": "Updates a mute config.",
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
              },
              "flatPath": "v1/projects/{projectsId}/muteConfigs",
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. Resource name of the new mute configs's parent. Its format is \"organizations/[organization_id]\", \"folders/[folder_id]\", or \"projects/[project_id]\".",
                  "location": "path"
                },
                "muteConfigId": {
                  "type": "string",
                  "location": "query",
                  "description": "Required. Unique identifier provided by the client within the parent scope. It must consist of only lowercase letters, numbers, and hyphens, must start with a letter, must end with either a letter or a number, and must be 63 characters or less."
                }
              },
              "id": "securitycenter.projects.muteConfigs.create",
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/muteConfigs",
              "response": {
                "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
              },
              "description": "Creates a mute config."
            },
            "delete": {
              "httpMethod": "DELETE",
              "flatPath": "v1/projects/{projectsId}/muteConfigs/{muteConfigsId}",
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. Name of the mute config to delete. Its format is organizations/{organization}/muteConfigs/{config_id}, folders/{folder}/muteConfigs/{config_id}, or projects/{project}/muteConfigs/{config_id}",
                  "pattern": "^projects/[^/]+/muteConfigs/[^/]+$"
                }
              },
              "response": {
                "$ref": "Empty"
              },
              "description": "Deletes an existing mute config.",
              "id": "securitycenter.projects.muteConfigs.delete",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "path": "v1/{+parent}/muteConfigs",
              "description": "Lists mute configs.",
              "response": {
                "$ref": "ListMuteConfigsResponse"
              },
              "parameters": {
                "pageSize": {
                  "description": "The maximum number of configs to return. The service may return fewer than this value. If unspecified, at most 10 configs will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "parent": {
                  "required": true,
                  "description": "Required. The parent, which owns the collection of mute configs. Its format is \"organizations/[organization_id]\", \"folders/[folder_id]\", \"projects/[project_id]\".",
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "location": "path"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A page token, received from a previous `ListMuteConfigs` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListMuteConfigs` must match the call that provided the page token."
                }
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectsId}/muteConfigs",
              "id": "securitycenter.projects.muteConfigs.list"
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "id": "securitycenter.projects.muteConfigs.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets a mute config.",
              "flatPath": "v1/projects/{projectsId}/muteConfigs/{muteConfigsId}",
              "response": {
                "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
              },
              "parameters": {
                "name": {
                  "description": "Required. Name of the mute config to retrieve. Its format is organizations/{organization}/muteConfigs/{config_id}, folders/{folder}/muteConfigs/{config_id}, or projects/{project}/muteConfigs/{config_id}",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/muteConfigs/[^/]+$",
                  "location": "path"
                }
              },
              "path": "v1/{+name}"
            }
          }
        },
        "notificationConfigs": {
          "methods": {
            "create": {
              "response": {
                "$ref": "NotificationConfig"
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "flatPath": "v1/projects/{projectsId}/notificationConfigs",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. Resource name of the new notification config's parent. Its format is \"organizations/[organization_id]\", \"folders/[folder_id]\", or \"projects/[project_id]\".",
                  "type": "string"
                },
                "configId": {
                  "location": "query",
                  "description": "Required. Unique identifier provided by the client within the parent scope. It must be between 1 and 128 characters and contain alphanumeric characters, underscores, or hyphens only.",
                  "type": "string"
                }
              },
              "description": "Creates a notification config.",
              "id": "securitycenter.projects.notificationConfigs.create",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+parent}/notificationConfigs",
              "request": {
                "$ref": "NotificationConfig"
              }
            },
            "list": {
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. The name of the parent in which to list the notification configurations. Its format is \"organizations/[organization_id]\", \"folders/[folder_id]\", or \"projects/[project_id]\".",
                  "type": "string"
                },
                "pageToken": {
                  "description": "The value returned by the last `ListNotificationConfigsResponse`; indicates that this is a continuation of a prior `ListNotificationConfigs` call, and that the system should return the next page of data.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "format": "int32",
                  "description": "The maximum number of results to return in a single response. Default is 10, minimum is 1, maximum is 1000.",
                  "location": "query",
                  "type": "integer"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "path": "v1/{+parent}/notificationConfigs",
              "description": "Lists notification configs.",
              "parameterOrder": [
                "parent"
              ],
              "id": "securitycenter.projects.notificationConfigs.list",
              "response": {
                "$ref": "ListNotificationConfigsResponse"
              },
              "flatPath": "v1/projects/{projectsId}/notificationConfigs"
            },
            "get": {
              "id": "securitycenter.projects.notificationConfigs.get",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets a notification config.",
              "response": {
                "$ref": "NotificationConfig"
              },
              "flatPath": "v1/projects/{projectsId}/notificationConfigs/{notificationConfigsId}",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "Required. Name of the notification config to get. Its format is \"organizations/[organization_id]/notificationConfigs/[config_id]\", \"folders/[folder_id]/notificationConfigs/[config_id]\", or \"projects/[project_id]/notificationConfigs/[config_id]\".",
                  "pattern": "^projects/[^/]+/notificationConfigs/[^/]+$",
                  "location": "path"
                }
              }
            },
            "patch": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}",
              "request": {
                "$ref": "NotificationConfig"
              },
              "parameters": {
                "updateMask": {
                  "description": "The FieldMask to use when updating the notification config. If empty all mutable fields will be updated.",
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string"
                },
                "name": {
                  "type": "string",
                  "required": true,
                  "description": "The relative resource name of this notification config. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Example: \"organizations/{organization_id}/notificationConfigs/notify_public_bucket\", \"folders/{folder_id}/notificationConfigs/notify_public_bucket\", or \"projects/{project_id}/notificationConfigs/notify_public_bucket\".",
                  "pattern": "^projects/[^/]+/notificationConfigs/[^/]+$",
                  "location": "path"
                }
              },
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/notificationConfigs/{notificationConfigsId}",
              "description": " Updates a notification config. The following update fields are allowed: description, pubsub_topic, streaming_config.filter",
              "id": "securitycenter.projects.notificationConfigs.patch",
              "response": {
                "$ref": "NotificationConfig"
              }
            },
            "delete": {
              "description": "Deletes a notification config.",
              "id": "securitycenter.projects.notificationConfigs.delete",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectsId}/notificationConfigs/{notificationConfigsId}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Empty"
              },
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "description": "Required. Name of the notification config to delete. Its format is \"organizations/[organization_id]/notificationConfigs/[config_id]\", \"folders/[folder_id]/notificationConfigs/[config_id]\", or \"projects/[project_id]/notificationConfigs/[config_id]\".",
                  "pattern": "^projects/[^/]+/notificationConfigs/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "path": "v1/{+name}"
            }
          }
        },
        "bigQueryExports": {
          "methods": {
            "list": {
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of configs to return. The service may return fewer than this value. If unspecified, at most 10 configs will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                },
                "pageToken": {
                  "description": "A page token, received from a previous `ListBigQueryExports` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListBigQueryExports` must match the call that provided the page token.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "description": "Required. The parent, which owns the collection of BigQuery exports. Its format is \"organizations/[organization_id]\", \"folders/[folder_id]\", \"projects/[project_id]\".",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+$"
                }
              },
              "id": "securitycenter.projects.bigQueryExports.list",
              "httpMethod": "GET",
              "path": "v1/{+parent}/bigQueryExports",
              "response": {
                "$ref": "ListBigQueryExportsResponse"
              },
              "description": "Lists BigQuery exports. Note that when requesting BigQuery exports at a given level all exports under that level are also returned e.g. if requesting BigQuery exports under a folder, then all BigQuery exports immediately under the folder plus the ones created under the projects within the folder are returned.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/projects/{projectsId}/bigQueryExports"
            },
            "delete": {
              "flatPath": "v1/projects/{projectsId}/bigQueryExports/{bigQueryExportsId}",
              "id": "securitycenter.projects.bigQueryExports.delete",
              "path": "v1/{+name}",
              "httpMethod": "DELETE",
              "description": "Deletes an existing BigQuery export.",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The name of the BigQuery export to delete. Its format is organizations/{organization}/bigQueryExports/{export_id}, folders/{folder}/bigQueryExports/{export_id}, or projects/{project}/bigQueryExports/{export_id}",
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/bigQueryExports/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "patch": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "securitycenter.projects.bigQueryExports.patch",
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "description": "The list of fields to be updated. If empty all mutable fields will be updated.",
                  "format": "google-fieldmask"
                },
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "The relative resource name of this export. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name. Example format: \"organizations/{organization_id}/bigQueryExports/{export_id}\" Example format: \"folders/{folder_id}/bigQueryExports/{export_id}\" Example format: \"projects/{project_id}/bigQueryExports/{export_id}\" This field is provided in responses, and is ignored when provided in create requests.",
                  "required": true,
                  "pattern": "^projects/[^/]+/bigQueryExports/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH",
              "description": "Updates a BigQuery export.",
              "flatPath": "v1/projects/{projectsId}/bigQueryExports/{bigQueryExportsId}",
              "response": {
                "$ref": "GoogleCloudSecuritycenterV1BigQueryExport"
              },
              "request": {
                "$ref": "GoogleCloudSecuritycenterV1BigQueryExport"
              },
              "path": "v1/{+name}"
            },
            "get": {
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "description": "Gets a BigQuery export.",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/bigQueryExports/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. Name of the BigQuery export to retrieve. Its format is organizations/{organization}/bigQueryExports/{export_id}, folders/{folder}/bigQueryExports/{export_id}, or projects/{project}/bigQueryExports/{export_id}"
                }
              },
              "id": "securitycenter.projects.bigQueryExports.get",
              "flatPath": "v1/projects/{projectsId}/bigQueryExports/{bigQueryExportsId}",
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudSecuritycenterV1BigQueryExport"
              }
            },
            "create": {
              "flatPath": "v1/projects/{projectsId}/bigQueryExports",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudSecuritycenterV1BigQueryExport"
              },
              "id": "securitycenter.projects.bigQueryExports.create",
              "parameters": {
                "bigQueryExportId": {
                  "type": "string",
                  "description": "Required. Unique identifier provided by the client within the parent scope. It must consist of only lowercase letters, numbers, and hyphens, must start with a letter, must end with either a letter or a number, and must be 63 characters or less.",
                  "location": "query"
                },
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "description": "Required. The name of the parent resource of the new BigQuery export. Its format is \"organizations/[organization_id]\", \"folders/[folder_id]\", or \"projects/[project_id]\"."
                }
              },
              "path": "v1/{+parent}/bigQueryExports",
              "description": "Creates a BigQuery export.",
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudSecuritycenterV1BigQueryExport"
              }
            }
          }
        },
        "securityHealthAnalyticsSettings": {
          "resources": {
            "effectiveCustomModules": {
              "methods": {
                "get": {
                  "id": "securitycenter.projects.securityHealthAnalyticsSettings.effectiveCustomModules.get",
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1EffectiveSecurityHealthAnalyticsCustomModule"
                  },
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the effective custom module to get. Its format is \"organizations/{organization}/securityHealthAnalyticsSettings/effectiveCustomModules/{customModule}\", \"folders/{folder}/securityHealthAnalyticsSettings/effectiveCustomModules/{customModule}\", or \"projects/{project}/securityHealthAnalyticsSettings/effectiveCustomModules/{customModule}\"",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/securityHealthAnalyticsSettings/effectiveCustomModules/[^/]+$"
                    }
                  },
                  "description": "Retrieves an EffectiveSecurityHealthAnalyticsCustomModule.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/securityHealthAnalyticsSettings/effectiveCustomModules/{effectiveCustomModulesId}",
                  "parameterOrder": [
                    "name"
                  ],
[...]
