{
  "baseUrl": "https://securitycenter.googleapis.com/",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "canonicalName": "Security Command Center",
  "description": "Security Command Center API provides access to temporal views of assets and findings within an organization.",
  "protocol": "rest",
  "title": "Security Command Center API",
  "ownerDomain": "google.com",
  "kind": "discovery#restDescription",
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "projects": {
      "resources": {
        "securityHealthAnalyticsSettings": {
          "methods": {
            "calculate": {
              "description": "Calculates the effective SecurityHealthAnalyticsSettings based on its level in the resource hierarchy and its settings.",
              "response": {
                "$ref": "SecurityHealthAnalyticsSettings"
              },
              "id": "securitycenter.projects.securityHealthAnalyticsSettings.calculate",
              "flatPath": "v1beta2/projects/{projectsId}/securityHealthAnalyticsSettings:calculate",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/securityHealthAnalyticsSettings$",
                  "description": "Required. The name of the SecurityHealthAnalyticsSettings to calculate. Formats: * organizations/{organization}/securityHealthAnalyticsSettings * folders/{folder}/securityHealthAnalyticsSettings * projects/{project}/securityHealthAnalyticsSettings",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta2/{+name}:calculate",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "containerThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "id": "securitycenter.projects.containerThreatDetectionSettings.calculate",
              "path": "v1beta2/{+name}:calculate",
              "httpMethod": "GET",
              "description": "Calculates the effective ContainerThreatDetectionSettings based on its level in the resource hierarchy and its settings.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The name of the ContainerThreatDetectionSettings to calculate. Formats: * organizations/{organization}/containerThreatDetectionSettings * folders/{folder}/containerThreatDetectionSettings * projects/{project}/containerThreatDetectionSettings * projects/{project}/locations/{location}/clusters/{cluster}/containerThreatDetectionSettings",
                  "pattern": "^projects/[^/]+/containerThreatDetectionSettings$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "ContainerThreatDetectionSettings"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta2/projects/{projectsId}/containerThreatDetectionSettings:calculate"
            }
          }
        },
        "locations": {
          "resources": {
            "clusters": {
              "methods": {
                "updateContainerThreatDetectionSettings": {
                  "description": "Update the ContainerThreatDetectionSettings resource.",
                  "path": "v1beta2/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "description": "The list of fields to be updated.",
                      "type": "string"
                    },
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/containerThreatDetectionSettings$",
                      "type": "string",
                      "description": "The resource name of the ContainerThreatDetectionSettings. Formats: * organizations/{organization}/containerThreatDetectionSettings * folders/{folder}/containerThreatDetectionSettings * projects/{project}/containerThreatDetectionSettings * projects/{project}/locations/{location}/clusters/{cluster}/containerThreatDetectionSettings"
                    }
                  },
                  "httpMethod": "PATCH",
                  "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/containerThreatDetectionSettings",
                  "id": "securitycenter.projects.locations.clusters.updateContainerThreatDetectionSettings",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ContainerThreatDetectionSettings"
                  },
                  "request": {
                    "$ref": "ContainerThreatDetectionSettings"
                  }
                },
                "getContainerThreatDetectionSettings": {
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "id": "securitycenter.projects.locations.clusters.getContainerThreatDetectionSettings",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the ContainerThreatDetectionSettings to retrieve. Formats: * organizations/{organization}/containerThreatDetectionSettings * folders/{folder}/containerThreatDetectionSettings * projects/{project}/containerThreatDetectionSettings * projects/{project}/locations/{location}/clusters/{cluster}/containerThreatDetectionSettings",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/containerThreatDetectionSettings$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ContainerThreatDetectionSettings"
                  },
                  "path": "v1beta2/{+name}",
                  "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/containerThreatDetectionSettings",
                  "description": "Get the ContainerThreatDetectionSettings resource."
                }
              },
              "resources": {
                "containerThreatDetectionSettings": {
                  "methods": {
                    "calculate": {
                      "httpMethod": "GET",
                      "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/containerThreatDetectionSettings:calculate",
                      "path": "v1beta2/{+name}:calculate",
                      "description": "Calculates the effective ContainerThreatDetectionSettings based on its level in the resource hierarchy and its settings.",
                      "id": "securitycenter.projects.locations.clusters.containerThreatDetectionSettings.calculate",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/containerThreatDetectionSettings$",
                          "type": "string",
                          "required": true,
                          "description": "Required. The name of the ContainerThreatDetectionSettings to calculate. Formats: * organizations/{organization}/containerThreatDetectionSettings * folders/{folder}/containerThreatDetectionSettings * projects/{project}/containerThreatDetectionSettings * projects/{project}/locations/{location}/clusters/{cluster}/containerThreatDetectionSettings",
                          "location": "path"
                        }
                      },
                      "response": {
                        "$ref": "ContainerThreatDetectionSettings"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "webSecurityScannerSettings": {
          "methods": {
            "calculate": {
              "response": {
                "$ref": "WebSecurityScannerSettings"
              },
              "id": "securitycenter.projects.webSecurityScannerSettings.calculate",
              "description": "Calculates the effective WebSecurityScannerSettings based on its level in the resource hierarchy and its settings.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The name of the WebSecurityScannerSettings to calculate. Formats: * organizations/{organization}/webSecurityScannerSettings * folders/{folder}/webSecurityScannerSettings * projects/{project}/webSecurityScannerSettings",
                  "required": true,
                  "pattern": "^projects/[^/]+/webSecurityScannerSettings$",
                  "location": "path",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "flatPath": "v1beta2/projects/{projectsId}/webSecurityScannerSettings:calculate",
              "path": "v1beta2/{+name}:calculate",
              "parameterOrder": [
                "name"
              ]
            }
          }
        },
        "eventThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "flatPath": "v1beta2/projects/{projectsId}/eventThreatDetectionSettings:calculate",
              "response": {
                "$ref": "EventThreatDetectionSettings"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "securitycenter.projects.eventThreatDetectionSettings.calculate",
              "parameters": {
                "name": {
                  "description": "Required. The name of the EventThreatDetectionSettings to calculate. Formats: * organizations/{organization}/eventThreatDetectionSettings * folders/{folder}/eventThreatDetectionSettings * projects/{project}/eventThreatDetectionSettings",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/eventThreatDetectionSettings$"
                }
              },
              "path": "v1beta2/{+name}:calculate",
              "httpMethod": "GET",
              "description": "Calculates the effective EventThreatDetectionSettings based on its level in the resource hierarchy and its settings.",
              "parameterOrder": [
                "name"
              ]
            }
          }
        },
        "virtualMachineThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta2/{+name}:calculate",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/virtualMachineThreatDetectionSettings$",
                  "description": "Required. The name of the VirtualMachineThreatDetectionSettings to calculate. Formats: * organizations/{organization}/virtualMachineThreatDetectionSettings * folders/{folder}/virtualMachineThreatDetectionSettings * projects/{project}/virtualMachineThreatDetectionSettings",
                  "type": "string"
                }
              },
              "id": "securitycenter.projects.virtualMachineThreatDetectionSettings.calculate",
              "response": {
                "$ref": "VirtualMachineThreatDetectionSettings"
              },
              "httpMethod": "GET",
              "flatPath": "v1beta2/projects/{projectsId}/virtualMachineThreatDetectionSettings:calculate",
              "description": "Calculates the effective VirtualMachineThreatDetectionSettings based on its level in the resource hierarchy and its settings."
            }
          }
        }
      },
      "methods": {
        "getVirtualMachineThreatDetectionSettings": {
          "response": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Get the VirtualMachineThreatDetectionSettings resource.",
          "id": "securitycenter.projects.getVirtualMachineThreatDetectionSettings",
          "parameters": {
            "name": {
              "description": "Required. The name of the VirtualMachineThreatDetectionSettings to retrieve. Formats: * organizations/{organization}/virtualMachineThreatDetectionSettings * folders/{folder}/virtualMachineThreatDetectionSettings * projects/{project}/virtualMachineThreatDetectionSettings",
              "location": "path",
              "pattern": "^projects/[^/]+/virtualMachineThreatDetectionSettings$",
              "type": "string",
              "required": true
            }
          },
          "flatPath": "v1beta2/projects/{projectsId}/virtualMachineThreatDetectionSettings",
          "path": "v1beta2/{+name}",
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ]
        },
        "updateSecurityHealthAnalyticsSettings": {
          "httpMethod": "PATCH",
          "flatPath": "v1beta2/projects/{projectsId}/securityHealthAnalyticsSettings",
          "request": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "description": "Update the SecurityHealthAnalyticsSettings resource.",
          "id": "securitycenter.projects.updateSecurityHealthAnalyticsSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "parameters": {
            "updateMask": {
              "format": "google-fieldmask",
              "location": "query",
              "description": "The list of fields to be updated.",
              "type": "string"
            },
            "name": {
              "description": "The resource name of the SecurityHealthAnalyticsSettings. Formats: * organizations/{organization}/securityHealthAnalyticsSettings * folders/{folder}/securityHealthAnalyticsSettings * projects/{project}/securityHealthAnalyticsSettings",
              "required": true,
              "location": "path",
              "type": "string",
              "pattern": "^projects/[^/]+/securityHealthAnalyticsSettings$"
            }
          },
          "path": "v1beta2/{+name}",
          "parameterOrder": [
            "name"
          ]
        },
        "getWebSecurityScannerSettings": {
          "flatPath": "v1beta2/projects/{projectsId}/webSecurityScannerSettings",
          "path": "v1beta2/{+name}",
          "description": "Get the WebSecurityScannerSettings resource.",
          "httpMethod": "GET",
          "response": {
            "$ref": "WebSecurityScannerSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "name": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Required. The name of the WebSecurityScannerSettings to retrieve. Formats: * organizations/{organization}/webSecurityScannerSettings * folders/{folder}/webSecurityScannerSettings * projects/{project}/webSecurityScannerSettings",
              "pattern": "^projects/[^/]+/webSecurityScannerSettings$"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "id": "securitycenter.projects.getWebSecurityScannerSettings"
        },
        "getContainerThreatDetectionSettings": {
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "id": "securitycenter.projects.getContainerThreatDetectionSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Get the ContainerThreatDetectionSettings resource.",
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^projects/[^/]+/containerThreatDetectionSettings$",
              "required": true,
              "location": "path",
              "description": "Required. The name of the ContainerThreatDetectionSettings to retrieve. Formats: * organizations/{organization}/containerThreatDetectionSettings * folders/{folder}/containerThreatDetectionSettings * projects/{project}/containerThreatDetectionSettings * projects/{project}/locations/{location}/clusters/{cluster}/containerThreatDetectionSettings"
            }
          },
          "httpMethod": "GET",
          "flatPath": "v1beta2/projects/{projectsId}/containerThreatDetectionSettings",
          "path": "v1beta2/{+name}"
        },
        "getSecurityHealthAnalyticsSettings": {
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "description": "Get the SecurityHealthAnalyticsSettings resource.",
          "flatPath": "v1beta2/projects/{projectsId}/securityHealthAnalyticsSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "parameters": {
            "name": {
              "required": true,
              "pattern": "^projects/[^/]+/securityHealthAnalyticsSettings$",
              "location": "path",
              "description": "Required. The name of the SecurityHealthAnalyticsSettings to retrieve. Formats: * organizations/{organization}/securityHealthAnalyticsSettings * folders/{folder}/securityHealthAnalyticsSettings * projects/{project}/securityHealthAnalyticsSettings",
              "type": "string"
            }
          },
          "path": "v1beta2/{+name}",
          "id": "securitycenter.projects.getSecurityHealthAnalyticsSettings"
        },
        "updateVirtualMachineThreatDetectionSettings": {
          "flatPath": "v1beta2/projects/{projectsId}/virtualMachineThreatDetectionSettings",
          "parameterOrder": [
            "name"
          ],
          "path": "v1beta2/{+name}",
          "response": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          },
          "parameters": {
            "name": {
              "pattern": "^projects/[^/]+/virtualMachineThreatDetectionSettings$",
              "type": "string",
              "location": "path",
              "description": "The resource name of the VirtualMachineThreatDetectionSettings. Formats: * organizations/{organization}/virtualMachineThreatDetectionSettings * folders/{folder}/virtualMachineThreatDetectionSettings * projects/{project}/virtualMachineThreatDetectionSettings",
              "required": true
            },
            "updateMask": {
              "format": "google-fieldmask",
              "type": "string",
              "location": "query",
              "description": "The list of fields to be updated."
            }
          },
          "description": "Update the VirtualMachineThreatDetectionSettings resource.",
          "id": "securitycenter.projects.updateVirtualMachineThreatDetectionSettings",
          "request": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          },
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "updateWebSecurityScannerSettings": {
          "flatPath": "v1beta2/projects/{projectsId}/webSecurityScannerSettings",
          "path": "v1beta2/{+name}",
          "parameterOrder": [
            "name"
          ],
          "description": "Update the WebSecurityScannerSettings resource.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "WebSecurityScannerSettings"
          },
          "response": {
            "$ref": "WebSecurityScannerSettings"
          },
          "httpMethod": "PATCH",
          "parameters": {
            "name": {
              "description": "The resource name of the WebSecurityScannerSettings. Formats: * organizations/{organization}/webSecurityScannerSettings * folders/{folder}/webSecurityScannerSettings * projects/{project}/webSecurityScannerSettings",
              "pattern": "^projects/[^/]+/webSecurityScannerSettings$",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "updateMask": {
              "type": "string",
              "location": "query",
              "description": "The list of fields to be updated.",
              "format": "google-fieldmask"
            }
          },
          "id": "securitycenter.projects.updateWebSecurityScannerSettings"
        },
        "updateContainerThreatDetectionSettings": {
          "parameterOrder": [
            "name"
          ],
          "description": "Update the ContainerThreatDetectionSettings resource.",
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "parameters": {
            "name": {
              "pattern": "^projects/[^/]+/containerThreatDetectionSettings$",
              "description": "The resource name of the ContainerThreatDetectionSettings. Formats: * organizations/{organization}/containerThreatDetectionSettings * folders/{folder}/containerThreatDetectionSettings * projects/{project}/containerThreatDetectionSettings * projects/{project}/locations/{location}/clusters/{cluster}/containerThreatDetectionSettings",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "updateMask": {
              "type": "string",
              "description": "The list of fields to be updated.",
              "location": "query",
              "format": "google-fieldmask"
            }
          },
          "flatPath": "v1beta2/projects/{projectsId}/containerThreatDetectionSettings",
          "id": "securitycenter.projects.updateContainerThreatDetectionSettings",
          "response": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "path": "v1beta2/{+name}"
        },
        "getEventThreatDetectionSettings": {
          "response": {
            "$ref": "EventThreatDetectionSettings"
          },
          "flatPath": "v1beta2/projects/{projectsId}/eventThreatDetectionSettings",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Get the EventThreatDetectionSettings resource.",
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^projects/[^/]+/eventThreatDetectionSettings$",
              "description": "Required. The name of the EventThreatDetectionSettings to retrieve. Formats: * organizations/{organization}/eventThreatDetectionSettings * folders/{folder}/eventThreatDetectionSettings * projects/{project}/eventThreatDetectionSettings",
              "location": "path",
              "required": true
            }
          },
          "path": "v1beta2/{+name}",
          "parameterOrder": [
            "name"
          ],
          "id": "securitycenter.projects.getEventThreatDetectionSettings"
        },
        "updateEventThreatDetectionSettings": {
          "httpMethod": "PATCH",
          "flatPath": "v1beta2/projects/{projectsId}/eventThreatDetectionSettings",
          "request": {
            "$ref": "EventThreatDetectionSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "description": "Update the EventThreatDetectionSettings resource.",
          "path": "v1beta2/{+name}",
          "response": {
            "$ref": "EventThreatDetectionSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "securitycenter.projects.updateEventThreatDetectionSettings",
          "parameters": {
            "name": {
              "type": "string",
              "location": "path",
              "description": "The resource name of the EventThreatDetectionSettings. Formats: * organizations/{organization}/eventThreatDetectionSettings * folders/{folder}/eventThreatDetectionSettings * projects/{project}/eventThreatDetectionSettings",
              "pattern": "^projects/[^/]+/eventThreatDetectionSettings$",
              "required": true
            },
            "updateMask": {
              "description": "The list of fields to be updated.",
              "location": "query",
              "format": "google-fieldmask",
              "type": "string"
            }
          }
        }
      }
    },
    "folders": {
      "methods": {
        "updateVirtualMachineThreatDetectionSettings": {
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          },
          "request": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          },
          "description": "Update the VirtualMachineThreatDetectionSettings resource.",
          "parameters": {
            "updateMask": {
              "format": "google-fieldmask",
              "description": "The list of fields to be updated.",
              "type": "string",
              "location": "query"
            },
            "name": {
              "type": "string",
              "pattern": "^folders/[^/]+/virtualMachineThreatDetectionSettings$",
              "location": "path",
              "required": true,
              "description": "The resource name of the VirtualMachineThreatDetectionSettings. Formats: * organizations/{organization}/virtualMachineThreatDetectionSettings * folders/{folder}/virtualMachineThreatDetectionSettings * projects/{project}/virtualMachineThreatDetectionSettings"
            }
          },
          "path": "v1beta2/{+name}",
          "id": "securitycenter.folders.updateVirtualMachineThreatDetectionSettings",
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1beta2/folders/{foldersId}/virtualMachineThreatDetectionSettings"
        },
        "getContainerThreatDetectionSettings": {
          "description": "Get the ContainerThreatDetectionSettings resource.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1beta2/{+name}",
          "response": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "id": "securitycenter.folders.getContainerThreatDetectionSettings",
          "flatPath": "v1beta2/folders/{foldersId}/containerThreatDetectionSettings",
          "parameters": {
            "name": {
              "location": "path",
              "description": "Required. The name of the ContainerThreatDetectionSettings to retrieve. Formats: * organizations/{organization}/containerThreatDetectionSettings * folders/{folder}/containerThreatDetectionSettings * projects/{project}/containerThreatDetectionSettings * projects/{project}/locations/{location}/clusters/{cluster}/containerThreatDetectionSettings",
              "type": "string",
              "pattern": "^folders/[^/]+/containerThreatDetectionSettings$",
              "required": true
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ]
        },
        "getWebSecurityScannerSettings": {
          "path": "v1beta2/{+name}",
          "description": "Get the WebSecurityScannerSettings resource.",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1beta2/folders/{foldersId}/webSecurityScannerSettings",
          "id": "securitycenter.folders.getWebSecurityScannerSettings",
          "response": {
            "$ref": "WebSecurityScannerSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "name": {
              "type": "string",
              "required": true,
              "pattern": "^folders/[^/]+/webSecurityScannerSettings$",
              "location": "path",
              "description": "Required. The name of the WebSecurityScannerSettings to retrieve. Formats: * organizations/{organization}/webSecurityScannerSettings * folders/{folder}/webSecurityScannerSettings * projects/{project}/webSecurityScannerSettings"
            }
          },
          "httpMethod": "GET"
        },
        "updateContainerThreatDetectionSettings": {
          "description": "Update the ContainerThreatDetectionSettings resource.",
          "flatPath": "v1beta2/folders/{foldersId}/containerThreatDetectionSettings",
          "path": "v1beta2/{+name}",
          "id": "securitycenter.folders.updateContainerThreatDetectionSettings",
          "httpMethod": "PATCH",
          "response": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "parameters": {
            "updateMask": {
              "description": "The list of fields to be updated.",
              "format": "google-fieldmask",
              "location": "query",
              "type": "string"
            },
            "name": {
              "description": "The resource name of the ContainerThreatDetectionSettings. Formats: * organizations/{organization}/containerThreatDetectionSettings * folders/{folder}/containerThreatDetectionSettings * projects/{project}/containerThreatDetectionSettings * projects/{project}/locations/{location}/clusters/{cluster}/containerThreatDetectionSettings",
              "type": "string",
              "required": true,
              "location": "path",
              "pattern": "^folders/[^/]+/containerThreatDetectionSettings$"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "updateWebSecurityScannerSettings": {
          "parameters": {
            "name": {
              "pattern": "^folders/[^/]+/webSecurityScannerSettings$",
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The resource name of the WebSecurityScannerSettings. Formats: * organizations/{organization}/webSecurityScannerSettings * folders/{folder}/webSecurityScannerSettings * projects/{project}/webSecurityScannerSettings"
            },
            "updateMask": {
              "location": "query",
              "type": "string",
              "format": "google-fieldmask",
              "description": "The list of fields to be updated."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "WebSecurityScannerSettings"
          },
          "flatPath": "v1beta2/folders/{foldersId}/webSecurityScannerSettings",
          "httpMethod": "PATCH",
          "id": "securitycenter.folders.updateWebSecurityScannerSettings",
          "description": "Update the WebSecurityScannerSettings resource.",
          "request": {
            "$ref": "WebSecurityScannerSettings"
          },
          "path": "v1beta2/{+name}"
        },
        "getVirtualMachineThreatDetectionSettings": {
          "path": "v1beta2/{+name}",
          "id": "securitycenter.folders.getVirtualMachineThreatDetectionSettings",
          "flatPath": "v1beta2/folders/{foldersId}/virtualMachineThreatDetectionSettings",
          "description": "Get the VirtualMachineThreatDetectionSettings resource.",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "pattern": "^folders/[^/]+/virtualMachineThreatDetectionSettings$",
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. The name of the VirtualMachineThreatDetectionSettings to retrieve. Formats: * organizations/{organization}/virtualMachineThreatDetectionSettings * folders/{folder}/virtualMachineThreatDetectionSettings * projects/{project}/virtualMachineThreatDetectionSettings"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          }
        },
        "getEventThreatDetectionSettings": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1beta2/folders/{foldersId}/eventThreatDetectionSettings",
          "httpMethod": "GET",
          "description": "Get the EventThreatDetectionSettings resource.",
          "id": "securitycenter.folders.getEventThreatDetectionSettings",
          "path": "v1beta2/{+name}",
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^folders/[^/]+/eventThreatDetectionSettings$",
              "description": "Required. The name of the EventThreatDetectionSettings to retrieve. Formats: * organizations/{organization}/eventThreatDetectionSettings * folders/{folder}/eventThreatDetectionSettings * projects/{project}/eventThreatDetectionSettings",
              "required": true,
              "location": "path"
            }
          },
          "response": {
            "$ref": "EventThreatDetectionSettings"
          }
        },
        "getSecurityHealthAnalyticsSettings": {
          "id": "securitycenter.folders.getSecurityHealthAnalyticsSettings",
          "description": "Get the SecurityHealthAnalyticsSettings resource.",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1beta2/folders/{foldersId}/securityHealthAnalyticsSettings",
          "response": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "parameters": {
            "name": {
              "type": "string",
              "location": "path",
              "pattern": "^folders/[^/]+/securityHealthAnalyticsSettings$",
              "required": true,
              "description": "Required. The name of the SecurityHealthAnalyticsSettings to retrieve. Formats: * organizations/{organization}/securityHealthAnalyticsSettings * folders/{folder}/securityHealthAnalyticsSettings * projects/{project}/securityHealthAnalyticsSettings"
            }
          },
          "path": "v1beta2/{+name}",
          "httpMethod": "GET"
        },
        "updateEventThreatDetectionSettings": {
          "flatPath": "v1beta2/folders/{foldersId}/eventThreatDetectionSettings",
          "parameters": {
            "name": {
              "location": "path",
              "description": "The resource name of the EventThreatDetectionSettings. Formats: * organizations/{organization}/eventThreatDetectionSettings * folders/{folder}/eventThreatDetectionSettings * projects/{project}/eventThreatDetectionSettings",
              "type": "string",
              "pattern": "^folders/[^/]+/eventThreatDetectionSettings$",
              "required": true
            },
            "updateMask": {
              "format": "google-fieldmask",
              "location": "query",
              "description": "The list of fields to be updated.",
              "type": "string"
            }
          },
          "id": "securitycenter.folders.updateEventThreatDetectionSettings",
          "response": {
            "$ref": "EventThreatDetectionSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "PATCH",
          "description": "Update the EventThreatDetectionSettings resource.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "EventThreatDetectionSettings"
          },
          "path": "v1beta2/{+name}"
        },
        "updateSecurityHealthAnalyticsSettings": {
          "parameterOrder": [
            "name"
          ],
          "path": "v1beta2/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "httpMethod": "PATCH",
          "description": "Update the SecurityHealthAnalyticsSettings resource.",
          "parameters": {
            "name": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The resource name of the SecurityHealthAnalyticsSettings. Formats: * organizations/{organization}/securityHealthAnalyticsSettings * folders/{folder}/securityHealthAnalyticsSettings * projects/{project}/securityHealthAnalyticsSettings",
              "pattern": "^folders/[^/]+/securityHealthAnalyticsSettings$"
            },
            "updateMask": {
              "format": "google-fieldmask",
              "description": "The list of fields to be updated.",
              "location": "query",
              "type": "string"
            }
          },
          "id": "securitycenter.folders.updateSecurityHealthAnalyticsSettings",
          "response": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "flatPath": "v1beta2/folders/{foldersId}/securityHealthAnalyticsSettings"
        }
      },
      "resources": {
        "virtualMachineThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "path": "v1beta2/{+name}:calculate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "VirtualMachineThreatDetectionSettings"
              },
              "parameters": {
                "name": {
                  "description": "Required. The name of the VirtualMachineThreatDetectionSettings to calculate. Formats: * organizations/{organization}/virtualMachineThreatDetectionSettings * folders/{folder}/virtualMachineThreatDetectionSettings * projects/{project}/virtualMachineThreatDetectionSettings",
                  "type": "string",
                  "location": "path",
                  "pattern": "^folders/[^/]+/virtualMachineThreatDetectionSettings$",
                  "required": true
                }
              },
              "description": "Calculates the effective VirtualMachineThreatDetectionSettings based on its level in the resource hierarchy and its settings.",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta2/folders/{foldersId}/virtualMachineThreatDetectionSettings:calculate",
              "id": "securitycenter.folders.virtualMachineThreatDetectionSettings.calculate"
            }
          }
        },
        "webSecurityScannerSettings": {
          "methods": {
            "calculate": {
              "id": "securitycenter.folders.webSecurityScannerSettings.calculate",
              "response": {
                "$ref": "WebSecurityScannerSettings"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Calculates the effective WebSecurityScannerSettings based on its level in the resource hierarchy and its settings.",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The name of the WebSecurityScannerSettings to calculate. Formats: * organizations/{organization}/webSecurityScannerSettings * folders/{folder}/webSecurityScannerSettings * projects/{project}/webSecurityScannerSettings",
                  "pattern": "^folders/[^/]+/webSecurityScannerSettings$",
                  "type": "string",
                  "required": true
                }
              },
              "path": "v1beta2/{+name}:calculate",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta2/folders/{foldersId}/webSecurityScannerSettings:calculate"
            }
          }
        },
        "securityHealthAnalyticsSettings": {
          "methods": {
            "calculate": {
              "response": {
                "$ref": "SecurityHealthAnalyticsSettings"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Calculates the effective SecurityHealthAnalyticsSettings based on its level in the resource hierarchy and its settings.",
              "httpMethod": "GET",
              "flatPath": "v1beta2/folders/{foldersId}/securityHealthAnalyticsSettings:calculate",
              "id": "securitycenter.folders.securityHealthAnalyticsSettings.calculate",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The name of the SecurityHealthAnalyticsSettings to calculate. Formats: * organizations/{organization}/securityHealthAnalyticsSettings * folders/{folder}/securityHealthAnalyticsSettings * projects/{project}/securityHealthAnalyticsSettings",
                  "pattern": "^folders/[^/]+/securityHealthAnalyticsSettings$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta2/{+name}:calculate"
            }
          }
        },
        "containerThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta2/{+name}:calculate",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^folders/[^/]+/containerThreatDetectionSettings$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The name of the ContainerThreatDetectionSettings to calculate. Formats: * organizations/{organization}/containerThreatDetectionSettings * folders/{folder}/containerThreatDetectionSettings * projects/{project}/containerThreatDetectionSettings * projects/{project}/locations/{location}/clusters/{cluster}/containerThreatDetectionSettings"
                }
              },
              "description": "Calculates the effective ContainerThreatDetectionSettings based on its level in the resource hierarchy and its settings.",
              "response": {
                "$ref": "ContainerThreatDetectionSettings"
              },
              "flatPath": "v1beta2/folders/{foldersId}/containerThreatDetectionSettings:calculate",
              "id": "securitycenter.folders.containerThreatDetectionSettings.calculate"
            }
          }
        },
        "eventThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "flatPath": "v1beta2/folders/{foldersId}/eventThreatDetectionSettings:calculate",
              "path": "v1beta2/{+name}:calculate",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The name of the EventThreatDetectionSettings to calculate. Formats: * organizations/{organization}/eventThreatDetectionSettings * folders/{folder}/eventThreatDetectionSettings * projects/{project}/eventThreatDetectionSettings",
                  "required": true,
                  "pattern": "^folders/[^/]+/eventThreatDetectionSettings$",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "response": {
                "$ref": "EventThreatDetectionSettings"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "securitycenter.folders.eventThreatDetectionSettings.calculate",
              "description": "Calculates the effective EventThreatDetectionSettings based on its level in the resource hierarchy and its settings."
            }
          }
        }
      }
    },
    "organizations": {
      "methods": {
        "updateEventThreatDetectionSettings": {
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^organizations/[^/]+/eventThreatDetectionSettings$",
              "required": true,
              "location": "path",
              "description": "The resource name of the EventThreatDetectionSettings. Formats: * organizations/{organization}/eventThreatDetectionSettings * folders/{folder}/eventThreatDetectionSettings * projects/{project}/eventThreatDetectionSettings"
            },
            "updateMask": {
              "location": "query",
              "type": "string",
              "format": "google-fieldmask",
              "description": "The list of fields to be updated."
            }
          },
          "path": "v1beta2/{+name}",
          "parameterOrder": [
            "name"
          ],
          "description": "Update the EventThreatDetectionSettings resource.",
          "response": {
            "$ref": "EventThreatDetectionSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "securitycenter.organizations.updateEventThreatDetectionSettings",
          "request": {
            "$ref": "EventThreatDetectionSettings"
          },
          "httpMethod": "PATCH",
          "flatPath": "v1beta2/organizations/{organizationsId}/eventThreatDetectionSettings"
        },
        "getSubscription": {
          "description": "Get the Subscription resource.",
          "parameters": {
            "name": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. The name of the subscription to retrieve. Format: organizations/{organization}/subscription",
              "pattern": "^organizations/[^/]+/subscription$"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "path": "v1beta2/{+name}",
          "id": "securitycenter.organizations.getSubscription",
          "response": {
            "$ref": "Subscription"
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1beta2/organizations/{organizationsId}/subscription"
        },
        "updateWebSecurityScannerSettings": {
          "path": "v1beta2/{+name}",
          "parameters": {
            "updateMask": {
              "description": "The list of fields to be updated.",
              "format": "google-fieldmask",
              "location": "query",
              "type": "string"
            },
            "name": {
              "type": "string",
              "required": true,
              "description": "The resource name of the WebSecurityScannerSettings. Formats: * organizations/{organization}/webSecurityScannerSettings * folders/{folder}/webSecurityScannerSettings * projects/{project}/webSecurityScannerSettings",
              "pattern": "^organizations/[^/]+/webSecurityScannerSettings$",
              "location": "path"
            }
          },
          "id": "securitycenter.organizations.updateWebSecurityScannerSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Update the WebSecurityScannerSettings resource.",
          "request": {
            "$ref": "WebSecurityScannerSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1beta2/organizations/{organizationsId}/webSecurityScannerSettings",
          "response": {
            "$ref": "WebSecurityScannerSettings"
          },
          "httpMethod": "PATCH"
        },
        "updateContainerThreatDetectionSettings": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1beta2/{+name}",
          "id": "securitycenter.organizations.updateContainerThreatDetectionSettings",
          "response": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "description": "Update the ContainerThreatDetectionSettings resource.",
          "httpMethod": "PATCH",
          "request": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "parameters": {
            "name": {
              "type": "string",
              "description": "The resource name of the ContainerThreatDetectionSettings. Formats: * organizations/{organization}/containerThreatDetectionSettings * folders/{folder}/containerThreatDetectionSettings * projects/{project}/containerThreatDetectionSettings * projects/{project}/locations/{location}/clusters/{cluster}/containerThreatDetectionSettings",
              "required": true,
              "pattern": "^organizations/[^/]+/containerThreatDetectionSettings$",
              "location": "path"
            },
            "updateMask": {
              "type": "string",
              "format": "google-fieldmask",
              "description": "The list of fields to be updated.",
              "location": "query"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1beta2/organizations/{organizationsId}/containerThreatDetectionSettings"
        },
        "getSecurityCenterSettings": {
          "response": {
            "$ref": "SecurityCenterSettings"
          },
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^organizations/[^/]+/securityCenterSettings$",
              "description": "Required. The name of the SecurityCenterSettings to retrieve. Format: organizations/{organization}/securityCenterSettings",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1beta2/organizations/{organizationsId}/securityCenterSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1beta2/{+name}",
          "httpMethod": "GET",
          "id": "securitycenter.organizations.getSecurityCenterSettings",
          "description": "Get the SecurityCenterSettings resource."
        },
        "getSecurityHealthAnalyticsSettings": {
          "response": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "description": "Get the SecurityHealthAnalyticsSettings resource.",
          "path": "v1beta2/{+name}",
          "parameters": {
            "name": {
              "type": "string",
              "description": "Required. The name of the SecurityHealthAnalyticsSettings to retrieve. Formats: * organizations/{organization}/securityHealthAnalyticsSettings * folders/{folder}/securityHealthAnalyticsSettings * projects/{project}/securityHealthAnalyticsSettings",
              "pattern": "^organizations/[^/]+/securityHealthAnalyticsSettings$",
              "required": true,
              "location": "path"
            }
          },
          "id": "securitycenter.organizations.getSecurityHealthAnalyticsSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1beta2/organizations/{organizationsId}/securityHealthAnalyticsSettings",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET"
        },
        "updateSecurityHealthAnalyticsSettings": {
          "response": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "path": "v1beta2/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1beta2/organizations/{organizationsId}/securityHealthAnalyticsSettings",
          "parameters": {
            "name": {
              "pattern": "^organizations/[^/]+/securityHealthAnalyticsSettings$",
              "required": true,
              "type": "string",
              "description": "The resource name of the SecurityHealthAnalyticsSettings. Formats: * organizations/{organization}/securityHealthAnalyticsSettings * folders/{folder}/securityHealthAnalyticsSettings * projects/{project}/securityHealthAnalyticsSettings",
              "location": "path"
            },
            "updateMask": {
              "location": "query",
              "description": "The list of fields to be updated.",
              "format": "google-fieldmask",
              "type": "string"
            }
          },
          "id": "securitycenter.organizations.updateSecurityHealthAnalyticsSettings",
          "description": "Update the SecurityHealthAnalyticsSettings resource.",
          "httpMethod": "PATCH",
          "request": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "parameterOrder": [
            "name"
          ]
        },
        "getContainerThreatDetectionSettings": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1beta2/organizations/{organizationsId}/containerThreatDetectionSettings",
          "path": "v1beta2/{+name}",
          "id": "securitycenter.organizations.getContainerThreatDetectionSettings",
          "httpMethod": "GET",
          "description": "Get the ContainerThreatDetectionSettings resource.",
          "parameters": {
            "name": {
              "pattern": "^organizations/[^/]+/containerThreatDetectionSettings$",
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Required. The name of the ContainerThreatDetectionSettings to retrieve. Formats: * organizations/{organization}/containerThreatDetectionSettings * folders/{folder}/containerThreatDetectionSettings * projects/{project}/containerThreatDetectionSettings * projects/{project}/locations/{location}/clusters/{cluster}/containerThreatDetectionSettings"
            }
          },
          "response": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "parameterOrder": [
            "name"
          ]
        },
        "getWebSecurityScannerSettings": {
          "path": "v1beta2/{+name}",
          "response": {
            "$ref": "WebSecurityScannerSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1beta2/organizations/{organizationsId}/webSecurityScannerSettings",
          "id": "securitycenter.organizations.getWebSecurityScannerSettings",
          "parameters": {
            "name": {
              "required": true,
              "location": "path",
              "description": "Required. The name of the WebSecurityScannerSettings to retrieve. Formats: * organizations/{organization}/webSecurityScannerSettings * folders/{folder}/webSecurityScannerSettings * projects/{project}/webSecurityScannerSettings",
              "pattern": "^organizations/[^/]+/webSecurityScannerSettings$",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "description": "Get the WebSecurityScannerSettings resource."
        },
        "getVirtualMachineThreatDetectionSettings": {
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          },
          "httpMethod": "GET",
          "flatPath": "v1beta2/organizations/{organizationsId}/virtualMachineThreatDetectionSettings",
          "description": "Get the VirtualMachineThreatDetectionSettings resource.",
          "parameters": {
            "name": {
              "required": true,
              "pattern": "^organizations/[^/]+/virtualMachineThreatDetectionSettings$",
              "type": "string",
              "location": "path",
              "description": "Required. The name of the VirtualMachineThreatDetectionSettings to retrieve. Formats: * organizations/{organization}/virtualMachineThreatDetectionSettings * folders/{folder}/virtualMachineThreatDetectionSettings * projects/{project}/virtualMachineThreatDetectionSettings"
            }
          },
          "path": "v1beta2/{+name}",
          "id": "securitycenter.organizations.getVirtualMachineThreatDetectionSettings"
        },
        "getEventThreatDetectionSettings": {
          "path": "v1beta2/{+name}",
          "parameters": {
            "name": {
              "description": "Required. The name of the EventThreatDetectionSettings to retrieve. Formats: * organizations/{organization}/eventThreatDetectionSettings * folders/{folder}/eventThreatDetectionSettings * projects/{project}/eventThreatDetectionSettings",
              "required": true,
              "location": "path",
              "type": "string",
              "pattern": "^organizations/[^/]+/eventThreatDetectionSettings$"
            }
          },
          "response": {
            "$ref": "EventThreatDetectionSettings"
          },
          "flatPath": "v1beta2/organizations/{organizationsId}/eventThreatDetectionSettings",
          "description": "Get the EventThreatDetectionSettings resource.",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "GET",
          "id": "securitycenter.organizations.getEventThreatDetectionSettings"
        },
        "updateVirtualMachineThreatDetectionSettings": {
          "path": "v1beta2/{+name}",
          "flatPath": "v1beta2/organizations/{organizationsId}/virtualMachineThreatDetectionSettings",
          "httpMethod": "PATCH",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "description": "The resource name of the VirtualMachineThreatDetectionSettings. Formats: * organizations/{organization}/virtualMachineThreatDetectionSettings * folders/{folder}/virtualMachineThreatDetectionSettings * projects/{project}/virtualMachineThreatDetectionSettings",
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^organizations/[^/]+/virtualMachineThreatDetectionSettings$"
            },
            "updateMask": {
              "format": "google-fieldmask",
              "description": "The list of fields to be updated.",
              "type": "string",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          },
          "description": "Update the VirtualMachineThreatDetectionSettings resource.",
          "id": "securitycenter.organizations.updateVirtualMachineThreatDetectionSettings",
          "response": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          }
        }
      },
      "resources": {
        "containerThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "ContainerThreatDetectionSettings"
              },
              "path": "v1beta2/{+name}:calculate",
              "description": "Calculates the effective ContainerThreatDetectionSettings based on its level in the resource hierarchy and its settings.",
              "flatPath": "v1beta2/organizations/{organizationsId}/containerThreatDetectionSettings:calculate",
              "id": "securitycenter.organizations.containerThreatDetectionSettings.calculate",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^organizations/[^/]+/containerThreatDetectionSettings$",
                  "description": "Required. The name of the ContainerThreatDetectionSettings to calculate. Formats: * organizations/{organization}/containerThreatDetectionSettings * folders/{folder}/containerThreatDetectionSettings * projects/{project}/containerThreatDetectionSettings * projects/{project}/locations/{location}/clusters/{cluster}/containerThreatDetectionSettings",
                  "type": "string",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ]
            }
          }
        },
        "securityHealthAnalyticsSettings": {
          "methods": {
            "calculate": {
              "description": "Calculates the effective SecurityHealthAnalyticsSettings based on its level in the resource hierarchy and its settings.",
              "id": "securitycenter.organizations.securityHealthAnalyticsSettings.calculate",
              "flatPath": "v1beta2/organizations/{organizationsId}/securityHealthAnalyticsSettings:calculate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "SecurityHealthAnalyticsSettings"
              },
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/securityHealthAnalyticsSettings$",
                  "required": true,
                  "description": "Required. The name of the SecurityHealthAnalyticsSettings to calculate. Formats: * organizations/{organization}/securityHealthAnalyticsSettings * folders/{folder}/securityHealthAnalyticsSettings * projects/{project}/securityHealthAnalyticsSettings",
                  "type": "string",
                  "location": "path"
                }
              },
              "path": "v1beta2/{+name}:calculate",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET"
            }
          }
        },
        "eventThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "parameters": {
                "name": {
                  "description": "Required. The name of the EventThreatDetectionSettings to calculate. Formats: * organizations/{organization}/eventThreatDetectionSettings * folders/{folder}/eventThreatDetectionSettings * projects/{project}/eventThreatDetectionSettings",
                  "pattern": "^organizations/[^/]+/eventThreatDetectionSettings$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "description": "Calculates the effective EventThreatDetectionSettings based on its level in the resource hierarchy and its settings.",
              "response": {
                "$ref": "EventThreatDetectionSettings"
              },
              "flatPath": "v1beta2/organizations/{organizationsId}/eventThreatDetectionSettings:calculate",
              "path": "v1beta2/{+name}:calculate",
              "id": "securitycenter.organizations.eventThreatDetectionSettings.calculate"
            }
          }
        },
        "webSecurityScannerSettings": {
          "methods": {
            "calculate": {
              "httpMethod": "GET",
              "description": "Calculates the effective WebSecurityScannerSettings based on its level in the resource hierarchy and its settings.",
              "response": {
                "$ref": "WebSecurityScannerSettings"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta2/organizations/{organizationsId}/webSecurityScannerSettings:calculate",
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/webSecurityScannerSettings$",
                  "location": "path",
                  "description": "Required. The name of the WebSecurityScannerSettings to calculate. Formats: * organizations/{organization}/webSecurityScannerSettings * folders/{folder}/webSecurityScannerSettings * projects/{project}/webSecurityScannerSettings",
                  "required": true,
                  "type": "string"
                }
              },
              "id": "securitycenter.organizations.webSecurityScannerSettings.calculate",
              "path": "v1beta2/{+name}:calculate",
              "parameterOrder": [
                "name"
              ]
            }
          }
        },
        "virtualMachineThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "id": "securitycenter.organizations.virtualMachineThreatDetectionSettings.calculate",
              "path": "v1beta2/{+name}:calculate",
              "flatPath": "v1beta2/organizations/{organizationsId}/virtualMachineThreatDetectionSettings:calculate",
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/virtualMachineThreatDetectionSettings$",
                  "location": "path",
                  "description": "Required. The name of the VirtualMachineThreatDetectionSettings to calculate. Formats: * organizations/{organization}/virtualMachineThreatDetectionSettings * folders/{folder}/virtualMachineThreatDetectionSettings * projects/{project}/virtualMachineThreatDetectionSettings",
                  "required": true,
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "VirtualMachineThreatDetectionSettings"
              },
              "description": "Calculates the effective VirtualMachineThreatDetectionSettings based on its level in the resource hierarchy and its settings."
            }
          }
        }
      }
    }
  },
  "version": "v1beta2",
  "basePath": "",
  "mtlsRootUrl": "https://securitycenter.mtls.googleapis.com/",
  "servicePath": "",
  "schemas": {
    "WebSecurityScannerSettings": {
      "type": "object",
      "properties": {
        "modules": {
          "type": "object",
          "description": "The configurations including the state of enablement for the service's different modules. The absence of a module in the map implies its configuration is inherited from its parent's.",
          "additionalProperties": {
            "$ref": "Config"
          }
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The time the settings were last updated.",
          "format": "google-datetime",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "The resource name of the WebSecurityScannerSettings. Formats: * organizations/{organization}/webSecurityScannerSettings * folders/{folder}/webSecurityScannerSettings * projects/{project}/webSecurityScannerSettings"
        },
        "serviceEnablementState": {
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "INHERITED",
            "ENABLED",
            "DISABLED"
          ],
          "description": "The state of enablement for the service at its level of the resource hierarchy. A DISABLED state will override all module enablement_states to DISABLED.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "State is inherited from the parent resource.",
            "State is enabled.",
            "State is disabled."
          ],
          "type": "string"
        }
      },
      "description": "Resource capturing the settings for the Web Security Scanner service.",
      "id": "WebSecurityScannerSettings"
    },
    "Config": {
      "id": "Config",
      "description": "Configuration of a module.",
      "properties": {
        "value": {
          "type": "object",
          "description": "The configuration value for the module. The absence of this field implies its inheritance from the parent.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "moduleEnablementState": {
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "INHERITED",
            "ENABLED",
            "DISABLED"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "State is inherited from the parent resource.",
            "State is enabled.",
            "State is disabled."
          ],
          "description": "The state of enablement for the module at its level of the resource hierarchy.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "EventThreatDetectionSettings": {
      "description": "Resource capturing the settings for the Event Threat Detection service.",
      "properties": {
        "modules": {
          "description": "The configurations including the state of enablement for the service's different modules. The absence of a module in the map implies its configuration is inherited from its parent's.",
          "additionalProperties": {
            "$ref": "Config"
          },
          "type": "object"
        },
        "name": {
          "description": "The resource name of the EventThreatDetectionSettings. Formats: * organizations/{organization}/eventThreatDetectionSettings * folders/{folder}/eventThreatDetectionSettings * projects/{project}/eventThreatDetectionSettings",
          "type": "string"
        },
        "serviceEnablementState": {
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "INHERITED",
            "ENABLED",
            "DISABLED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "State is inherited from the parent resource.",
            "State is enabled.",
            "State is disabled."
          ],
          "description": "The state of enablement for the service at its level of the resource hierarchy. A DISABLED state will override all module enablement_states to DISABLED."
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The time the settings were last updated.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "EventThreatDetectionSettings",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1p1beta1Folder": {
      "properties": {
        "resourceFolder": {
          "description": "Full resource name of this folder. See: https://cloud.google.com/apis/design/resource_names#full_resource_name",
          "type": "string"
        },
        "resourceFolderDisplayName": {
          "description": "The user defined display name for this folder.",
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV1p1beta1Folder",
      "description": "Message that contains the resource name and display name of a folder resource.",
      "type": "object"
    },
    "Details": {
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "STANDARD",
            "TRIAL",
            "ALPHA",
            "DEMO"
          ],
          "description": "The type of subscription",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The standard subscription.",
            "The trial subscription.",
            "The alpha subscription.",
            "The demo subscription for channel partners."
          ]
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time the subscription has or will start."
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time the subscription has or will end."
        }
      },
      "id": "Details",
      "description": "Details of a subscription.",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1p1beta1Finding": {
      "properties": {
        "createTime": {
          "description": "The time at which the finding was created in Security Command Center.",
          "type": "string",
          "format": "google-datetime"
        },
        "securityMarks": {
          "description": "Output only. User specified security marks. These marks are entirely managed by the user and come from the SecurityMarks resource that belongs to the finding.",
          "$ref": "GoogleCloudSecuritycenterV1p1beta1SecurityMarks",
          "readOnly": true
        },
        "canonicalName": {
          "description": "The canonical name of the finding. It's either \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}\", \"folders/{folder_id}/sources/{source_id}/findings/{finding_id}\" or \"projects/{project_number}/sources/{source_id}/findings/{finding_id}\", depending on the closest CRM ancestor of the resource associated with the finding.",
          "type": "string"
        },
        "externalUri": {
          "type": "string",
          "description": "The URI that, if available, points to a web page outside of Security Command Center where additional information about the finding can be found. This field is guaranteed to be either empty or a well formed URL."
        },
        "eventTime": {
          "type": "string",
          "description": "The time at which the event took place, or when an update to the finding occurred. For example, if the finding represents an open firewall it would capture the time the detector believes the firewall became open. The accuracy is determined by the detector. If the finding were to be resolved afterward, this time would reflect when the finding was resolved. Must not be set to a value greater than the current timestamp.",
          "format": "google-datetime"
        },
        "sourceProperties": {
          "description": "Source specific properties. These properties are managed by the source that writes the finding. The key names in the source_properties map must be between 1 and 255 characters, and must start with a letter and contain alphanumeric characters or underscores only.",
          "additionalProperties": {
            "type": "any"
          },
          "type": "object"
        },
        "parent": {
          "description": "The relative resource name of the source the finding belongs to. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name This field is immutable after creation time. For example: \"organizations/{organization_id}/sources/{source_id}\"",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Unspecified state.",
            "The finding requires attention and has not been addressed yet.",
            "The finding has been fixed, triaged as a non-issue or otherwise addressed and is no longer active."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "type": "string",
          "description": "The state of the finding."
        },
        "resourceName": {
          "type": "string",
          "description": "For findings on Google Cloud resources, the full resource name of the Google Cloud resource this finding is for. See: https://cloud.google.com/apis/design/resource_names#full_resource_name When the finding is for a non-Google Cloud resource, the resourceName can be a customer or partner defined string. This field is immutable after creation time."
        },
        "name": {
          "type": "string",
          "description": "The relative resource name of this finding. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Example: \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}\""
        },
        "severity": {
          "description": "The severity of the finding. This field is managed by the source that writes the finding.",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "enumDescriptions": [
            "No severity specified. The default value.",
            "Critical severity.",
            "High severity.",
            "Medium severity.",
            "Low severity."
          ],
          "type": "string"
        },
        "category": {
          "description": "The additional taxonomy group within findings from a given source. This field is immutable after creation time. Example: \"XSS_FLASH_INJECTION\"",
          "type": "string"
        }
      },
      "description": "Security Command Center finding. A finding is a record of assessment data (security, risk, health or privacy) ingested into Security Command Center for presentation, notification, analysis, policy testing, and enforcement. For example, an XSS vulnerability in an App Engine application is a finding.",
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1p1beta1Finding"
    },
    "Subscription": {
      "description": "Resource capturing the state of an organization's subscription.",
      "type": "object",
      "id": "Subscription",
      "properties": {
        "tier": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The standard tier.",
            "The premium tier."
          ],
          "enum": [
            "TIER_UNSPECIFIED",
            "STANDARD",
            "PREMIUM"
          ],
          "description": "The tier of SCC features this organization currently has access to."
        },
        "name": {
          "type": "string",
          "description": "The resource name of the subscription. Format: organizations/{organization}/subscription"
        },
        "details": {
          "description": "The details of the most recent active subscription. If there has never been a subscription this will be empty.",
          "$ref": "Details"
        }
      }
    },
    "GoogleCloudSecuritycenterV1Resource": {
      "properties": {
        "parent": {
          "type": "string",
          "description": "The full resource name of resource's parent."
        },
        "project": {
          "description": "The full resource name of project that the resource belongs to.",
          "type": "string"
        },
        "folders": {
          "readOnly": true,
          "items": {
            "$ref": "Folder"
          },
          "description": "Output only. Contains a Folder message for each folder in the assets ancestry. The first folder is the deepest nested folder, and the last folder is the folder directly under the Organization.",
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "The full resource name of the resource. See: https://cloud.google.com/apis/design/resource_names#full_resource_name"
        },
        "parentDisplayName": {
          "type": "string",
          "description": "The human readable name of resource's parent."
        },
        "type": {
          "description": "The full resource type of the resource.",
          "type": "string"
        },
        "displayName": {
          "description": "The human readable name of the resource.",
          "type": "string"
        },
        "projectDisplayName": {
          "type": "string",
          "description": "The project ID that the resource belongs to."
        }
      },
      "type": "object",
      "description": "Information related to the Google Cloud resource.",
      "id": "GoogleCloudSecuritycenterV1Resource"
    },
    "VirtualMachineThreatDetectionSettings": {
      "type": "object",
      "properties": {
        "updateTime": {
          "type": "string",
          "description": "Output only. The time the settings were last updated.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "serviceAccount": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The service account used by Virtual Machine Threat Detection detectors."
        },
        "name": {
          "description": "The resource name of the VirtualMachineThreatDetectionSettings. Formats: * organizations/{organization}/virtualMachineThreatDetectionSettings * folders/{folder}/virtualMachineThreatDetectionSettings * projects/{project}/virtualMachineThreatDetectionSettings",
          "type": "string"
        },
        "serviceEnablementState": {
          "description": "The state of enablement for the service at its level of the resource hierarchy. A DISABLED state will override all module enablement_states to DISABLED.",
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "INHERITED",
            "ENABLED",
            "DISABLED"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "State is inherited from the parent resource.",
            "State is enabled.",
            "State is disabled."
          ],
          "type": "string"
        },
        "modules": {
          "type": "object",
          "description": "The configurations including the state of enablement for the service's different modules. The absence of a module in the map implies its configuration is inherited from its parent's.",
          "additionalProperties": {
            "$ref": "Config"
          }
        }
      },
      "description": "Resource capturing the settings for the Virtual Machine Threat Detection service.",
      "id": "VirtualMachineThreatDetectionSettings"
    },
    "Finding": {
      "properties": {
        "state": {
          "enumDescriptions": [
            "Unspecified state.",
            "The finding requires attention and has not been addressed yet.",
            "The finding has been fixed, triaged as a non-issue or otherwise addressed and is no longer active."
          ],
          "description": "The state of the finding.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ]
        },
        "vulnerability": {
          "$ref": "Vulnerability",
          "description": "Represents vulnerability specific fields like cve, cvss scores etc. CVE stands for Common Vulnerabilities and Exposures (https://cve.mitre.org/about/)"
        },
        "parent": {
          "description": "The relative resource name of the source the finding belongs to. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name This field is immutable after creation time. For example: \"organizations/{organization_id}/sources/{source_id}\"",
          "type": "string"
        },
        "mute": {
          "enumDescriptions": [
            "Unspecified.",
            "Finding has been muted.",
            "Finding has been unmuted.",
            "Finding has never been muted/unmuted."
          ],
          "enum": [
            "MUTE_UNSPECIFIED",
            "MUTED",
            "UNMUTED",
            "UNDEFINED"
          ],
          "type": "string",
          "description": "Indicates the mute state of a finding (either muted, unmuted or undefined). Unlike other attributes of a finding, a finding provider shouldn't set the value of mute."
        },
        "mitreAttack": {
          "description": "MITRE ATT&CK tactics and techniques related to this finding. See: https://attack.mitre.org",
          "$ref": "MitreAttack"
        },
        "category": {
          "type": "string",
          "description": "The additional taxonomy group within findings from a given source. This field is immutable after creation time. Example: \"XSS_FLASH_INJECTION\""
        },
        "findingClass": {
          "type": "string",
          "enum": [
            "FINDING_CLASS_UNSPECIFIED",
            "THREAT",
            "VULNERABILITY",
            "MISCONFIGURATION",
            "OBSERVATION",
            "SCC_ERROR"
          ],
          "description": "The class of the finding.",
          "enumDescriptions": [
            "Unspecified finding class.",
            "Describes unwanted or malicious activity.",
            "Describes a potential weakness in software that increases risk to Confidentiality & Integrity & Availability.",
            "Describes a potential weakness in cloud resource/asset configuration that increases risk.",
            "Describes a security observation that is for informational purposes.",
            "Describes an error that prevents some SCC functionality."
          ]
        },
        "severity": {
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "description": "The severity of the finding. This field is managed by the source that writes the finding.",
          "enumDescriptions": [
            "This value is used for findings when a source doesn't write a severity value.",
            "Vulnerability: A critical vulnerability is easily discoverable by an external actor, exploitable, and results in the direct ability to execute arbitrary code, exfiltrate data, and otherwise gain additional access and privileges to cloud resources and workloads. Examples include publicly accessible unprotected user data, public SSH access with weak or no passwords, etc. Threat: Indicates a threat that is able to access, modify, or delete data or execute unauthorized code within existing resources.",
            "Vulnerability: A high risk vulnerability can be easily discovered and exploited in combination with other vulnerabilities in order to gain direct access and the ability to execute arbitrary code, exfiltrate data, and otherwise gain additional access and privileges to cloud resources and workloads. An example is a database with weak or no passwords that is only accessible internally. This database could easily be compromised by an actor that had access to the internal network. Threat: Indicates a threat that is able to create new computational resources in an environment but not able to access data or execute code in existing resources.",
            "Vulnerability: A medium risk vulnerability could be used by an actor to gain access to resources or privileges that enable them to eventually (through multiple steps or a complex exploit) gain access and the ability to execute arbitrary code or exfiltrate data. An example is a service account with access to more projects than it should have. If an actor gains access to the service account, they could potentially use that access to manipulate a project the service account was not intended to. Threat: Indicates a threat that is able to cause operational impact but may not access data or execute unauthorized code.",
            "Vulnerability: A low risk vulnerability hampers a security organization's ability to detect vulnerabilities or active threats in their deployment, or prevents the root cause investigation of security issues. An example is monitoring and logs being disabled for resource configurations and access. Threat: Indicates a threat that has obtained minimal access to an environment but is not able to access data, execute code, or create resources."
          ]
        },
        "externalSystems": {
          "additionalProperties": {
            "$ref": "GoogleCloudSecuritycenterV1ExternalSystem"
          },
          "readOnly": true,
          "description": "Output only. Third party SIEM/SOAR fields within SCC, contains external system information and external system finding fields.",
          "type": "object"
        },
        "access": {
          "description": "Access details associated to the Finding, such as more information on the caller, which method was accessed, from where, etc.",
          "$ref": "Access"
        },
        "canonicalName": {
          "type": "string",
          "description": "The canonical name of the finding. It's either \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}\", \"folders/{folder_id}/sources/{source_id}/findings/{finding_id}\" or \"projects/{project_number}/sources/{source_id}/findings/{finding_id}\", depending on the closest CRM ancestor of the resource associated with the finding."
        },
        "securityMarks": {
          "$ref": "SecurityMarks",
          "description": "Output only. User specified security marks. These marks are entirely managed by the user and come from the SecurityMarks resource that belongs to the finding.",
          "readOnly": true
        },
        "name": {
          "description": "The relative resource name of this finding. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Example: \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}\"",
          "type": "string"
        },
        "createTime": {
          "description": "The time at which the finding was created in Security Command Center.",
          "type": "string",
          "format": "google-datetime"
        },
        "resourceName": {
          "type": "string",
          "description": "For findings on Google Cloud resources, the full resource name of the Google Cloud resource this finding is for. See: https://cloud.google.com/apis/design/resource_names#full_resource_name When the finding is for a non-Google Cloud resource, the resourceName can be a customer or partner defined string. This field is immutable after creation time."
        },
        "muteUpdateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The most recent time this finding was muted or unmuted.",
          "readOnly": true
        },
        "muteInitiator": {
          "type": "string",
          "description": "First known as mute_annotation. Records additional information about the mute operation e.g. mute config that muted the finding, user who muted the finding, etc. Unlike other attributes of a finding, a finding provider shouldn't set the value of mute."
        },
        "sourceProperties": {
          "description": "Source specific properties. These properties are managed by the source that writes the finding. The key names in the source_properties map must be between 1 and 255 characters, and must start with a letter and contain alphanumeric characters or underscores only.",
          "additionalProperties": {
            "type": "any"
          },
          "type": "object"
        },
        "indicator": {
          "$ref": "Indicator",
          "description": "Represents what's commonly known as an Indicator of compromise (IoC) in computer forensics. This is an artifact observed on a network or in an operating system that, with high confidence, indicates a computer intrusion. Reference: https://en.wikipedia.org/wiki/Indicator_of_compromise"
        },
        "eventTime": {
          "description": "The time the finding was first detected. If an existing finding is updated, then this is the time the update occurred. For example, if the finding represents an open firewall, this property captures the time the detector believes the firewall became open. The accuracy is determined by the detector. If the finding is later resolved, then this time reflects when the finding was resolved. This must not be set to a value greater than the current timestamp.",
          "format": "google-datetime",
          "type": "string"
        },
        "externalUri": {
          "type": "string",
          "description": "The URI that, if available, points to a web page outside of Security Command Center where additional information about the finding can be found. This field is guaranteed to be either empty or a well formed URL."
        }
      },
      "type": "object",
      "description": "Security Command Center finding. A finding is a record of assessment data like security, risk, health, or privacy, that is ingested into Security Command Center for presentation, notification, analysis, policy testing, and enforcement. For example, a cross-site scripting (XSS) vulnerability in an App Engine application is a finding.",
      "id": "Finding"
    },
    "SecurityCenterSettings": {
      "description": "Resource capturing the settings for Security Center.",
      "id": "SecurityCenterSettings",
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name of the SecurityCenterSettings. Format: organizations/{organization}/securityCenterSettings"
        },
        "orgServiceAccount": {
          "type": "string",
          "description": "The organization level service account to be used for security center components."
        },
        "logSinkProject": {
          "type": "string",
          "description": "The resource name of the project to send logs to. This project must be part of the organization this resource resides in. The format is `projects/{project_id}`. An empty value disables logging. This value is only referenced by services that support log sink. Please refer to the documentation for an updated list of compatible services."
        }
      },
      "type": "object"
    },
    "Cvssv3": {
      "id": "Cvssv3",
      "description": "Common Vulnerability Scoring System version 3.",
      "type": "object",
      "properties": {
        "userInteraction": {
          "type": "string",
          "enumDescriptions": [
            "Invalid value.",
            "The vulnerable system can be exploited without interaction from any user.",
            "Successful exploitation of this vulnerability requires a user to take some action before the vulnerability can be exploited."
          ],
          "description": "This metric captures the requirement for a human user, other than the attacker, to participate in the successful compromise of the vulnerable component.",
          "enum": [
            "USER_INTERACTION_UNSPECIFIED",
            "USER_INTERACTION_NONE",
            "USER_INTERACTION_REQUIRED"
          ]
        },
        "integrityImpact": {
          "type": "string",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ],
          "description": "This metric measures the impact to integrity of a successfully exploited vulnerability.",
          "enumDescriptions": [
            "Invalid value.",
            "High impact.",
            "Low impact.",
            "No impact."
          ]
        },
        "attackComplexity": {
          "description": "This metric describes the conditions beyond the attacker's control that must exist in order to exploit the vulnerability.",
          "enum": [
            "ATTACK_COMPLEXITY_UNSPECIFIED",
            "ATTACK_COMPLEXITY_LOW",
            "ATTACK_COMPLEXITY_HIGH"
          ],
          "type": "string",
          "enumDescriptions": [
            "Invalid value.",
            "Specialized access conditions or extenuating circumstances do not exist. An attacker can expect repeatable success when attacking the vulnerable component.",
            "A successful attack depends on conditions beyond the attacker's control. That is, a successful attack cannot be accomplished at will, but requires the attacker to invest in some measurable amount of effort in preparation or execution against the vulnerable component before a successful attack can be expected."
          ]
        },
        "confidentialityImpact": {
          "type": "string",
          "description": "This metric measures the impact to the confidentiality of the information resources managed by a software component due to a successfully exploited vulnerability.",
          "enumDescriptions": [
            "Invalid value.",
            "High impact.",
            "Low impact.",
            "No impact."
          ],
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ]
        },
        "scope": {
          "enumDescriptions": [
            "Invalid value.",
            "An exploited vulnerability can only affect resources managed by the same security authority.",
[...]
