{
  "discoveryVersion": "v1",
  "resources": {
    "organizations": {
      "methods": {
        "updateOrganizationSettings": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "updateMask": {
              "location": "query",
              "format": "google-fieldmask",
              "type": "string",
              "description": "The FieldMask to use when updating the settings resource."
            },
            "name": {
              "description": "The relative resource name of the settings. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Example: \"organizations/{organization_id}/organizationSettings\".",
              "type": "string",
              "pattern": "^organizations/[^/]+/organizationSettings$",
              "location": "path",
              "required": true
            }
          },
          "path": "v1beta1/{+name}",
          "id": "securitycenter.organizations.updateOrganizationSettings",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "PATCH",
          "description": "Updates an organization's settings.",
          "response": {
            "$ref": "OrganizationSettings"
          },
          "request": {
            "$ref": "OrganizationSettings"
          },
          "flatPath": "v1beta1/organizations/{organizationsId}/organizationSettings"
        },
        "getOrganizationSettings": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Gets the settings for an organization.",
          "flatPath": "v1beta1/organizations/{organizationsId}/organizationSettings",
          "path": "v1beta1/{+name}",
          "httpMethod": "GET",
          "response": {
            "$ref": "OrganizationSettings"
          },
          "id": "securitycenter.organizations.getOrganizationSettings",
          "parameters": {
            "name": {
              "description": "Required. Name of the organization to get organization settings for. Its format is \"organizations/[organization_id]/organizationSettings\".",
              "location": "path",
              "pattern": "^organizations/[^/]+/organizationSettings$",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ]
        }
      },
      "resources": {
        "operations": {
          "methods": {
            "cancel": {
              "parameters": {
                "name": {
                  "description": "The name of the operation resource to be cancelled.",
                  "pattern": "^organizations/[^/]+/operations/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "id": "securitycenter.organizations.operations.cancel",
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta1/organizations/{organizationsId}/operations/{operationsId}:cancel",
              "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
              "path": "v1beta1/{+name}:cancel",
              "request": {
                "$ref": "CancelOperationRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Empty"
              }
            },
            "list": {
              "httpMethod": "GET",
              "response": {
                "$ref": "ListOperationsResponse"
              },
              "flatPath": "v1beta1/organizations/{organizationsId}/operations",
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta1/{+name}",
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`. NOTE: the `name` binding allows API services to override the binding to use different resource name schemes, such as `users/*/operations`. To override the binding, API services can add a binding such as `\"/v1/{name=users/*}/operations\"` to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id.",
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "The standard list page size."
                },
                "name": {
                  "description": "The name of the operation's parent resource.",
                  "pattern": "^organizations/[^/]+/operations$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "pageToken": {
                  "description": "The standard list page token.",
                  "location": "query",
                  "type": "string"
                },
                "filter": {
                  "description": "The standard list filter.",
                  "location": "query",
                  "type": "string"
                }
              },
              "id": "securitycenter.organizations.operations.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "delete": {
              "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
              "id": "securitycenter.organizations.operations.delete",
              "response": {
                "$ref": "Empty"
              },
              "httpMethod": "DELETE",
              "path": "v1beta1/{+name}",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^organizations/[^/]+/operations/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "The name of the operation resource to be deleted."
                }
              },
              "flatPath": "v1beta1/organizations/{organizationsId}/operations/{operationsId}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "path": "v1beta1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "id": "securitycenter.organizations.operations.get",
              "response": {
                "$ref": "Operation"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "The name of the operation resource.",
                  "required": true,
                  "type": "string",
                  "pattern": "^organizations/[^/]+/operations/[^/]+$"
                }
              },
              "flatPath": "v1beta1/organizations/{organizationsId}/operations/{operationsId}"
            }
          }
        },
        "sources": {
          "resources": {
            "findings": {
              "methods": {
                "group": {
                  "httpMethod": "POST",
                  "id": "securitycenter.organizations.sources.findings.group",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Filters an organization or source's findings and groups them by their specified properties. To group across all sources provide a `-` as the source id. Example: /v1beta1/organizations/{organization_id}/sources/-/findings",
                  "response": {
                    "$ref": "GroupFindingsResponse"
                  },
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "pattern": "^organizations/[^/]+/sources/[^/]+$",
                      "description": "Required. Name of the source to groupBy. Its format is \"organizations/[organization_id]/sources/[source_id]\". To groupBy across all sources provide a source_id of `-`. For example: organizations/{organization_id}/sources/-",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "GroupFindingsRequest"
                  },
                  "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}/findings:group",
                  "path": "v1beta1/{+parent}/findings:group",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "list": {
                  "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}/findings",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "securitycenter.organizations.sources.findings.list",
                  "parameters": {
                    "readTime": {
                      "type": "string",
                      "description": "Time used as a reference point when filtering findings. The filter is limited to findings existing at the supplied time and their values are those at that specific time. Absence of this field will default to the API's version of NOW.",
                      "location": "query",
                      "format": "google-datetime"
                    },
                    "orderBy": {
                      "description": "Expression that defines what fields and order to use for sorting. The string value should follow SQL syntax: comma separated list of fields. For example: \"name,resource_properties.a_property\". The default sorting order is ascending. To specify descending order for a field, a suffix \" desc\" should be appended to the field name. For example: \"name desc,source_properties.a_property\". Redundant space characters in the syntax are insignificant. \"name desc,source_properties.a_property\" and \" name desc , source_properties.a_property \" are equivalent.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. Name of the source the findings belong to. Its format is \"organizations/[organization_id]/sources/[source_id]\". To list across all sources provide a source_id of `-`. For example: organizations/{organization_id}/sources/-",
                      "pattern": "^organizations/[^/]+/sources/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "fieldMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "description": "Optional. A field mask to specify the Finding fields to be listed in the response. An empty field mask will list all fields.",
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "The value returned by the last `ListFindingsResponse`; indicates that this is a continuation of a prior `ListFindings` call, and that the system should return the next page of data.",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "The maximum number of results to return in a single response. Default is 10, minimum is 1, maximum is 1000.",
                      "type": "integer"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Expression that defines the filter to apply across findings. The expression is a list of one or more restrictions combined via logical operators `AND` and `OR`. Parentheses are not supported, and `OR` has higher precedence than `AND`. Restrictions have the form ` ` and may have a `-` character in front of them to indicate negation. Examples include: * name * source_properties.a_property * security_marks.marks.marka The supported operators are: * `=` for all value types. * `\u003e`, `\u003c`, `\u003e=`, `\u003c=` for integer values. * `:`, meaning substring matching, for strings. The supported value types are: * string literals in quotes. * integer literals without quotes. * boolean literals `true` and `false` without quotes. For example, `source_properties.size = 100` is a valid filter string.",
                      "location": "query"
                    }
                  },
                  "description": "Lists an organization or source's findings. To list across all sources provide a `-` as the source id. Example: /v1beta1/organizations/{organization_id}/sources/-/findings",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta1/{+parent}/findings",
                  "response": {
                    "$ref": "ListFindingsResponse"
                  },
                  "httpMethod": "GET"
                },
                "updateSecurityMarks": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1beta1SecurityMarks"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "updateMask": {
                      "format": "google-fieldmask",
                      "description": "The FieldMask to use when updating the security marks resource.",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "required": true,
                      "pattern": "^organizations/[^/]+/sources/[^/]+/findings/[^/]+/securityMarks$",
                      "description": "The relative resource name of the SecurityMarks. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Examples: \"organizations/{organization_id}/assets/{asset_id}/securityMarks\" \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}/securityMarks\".",
                      "location": "path",
                      "type": "string"
                    },
                    "startTime": {
                      "format": "google-datetime",
                      "type": "string",
                      "description": "The time at which the updated SecurityMarks take effect.",
                      "location": "query"
                    }
                  },
                  "description": "Updates security marks.",
                  "request": {
                    "$ref": "GoogleCloudSecuritycenterV1beta1SecurityMarks"
                  },
                  "httpMethod": "PATCH",
                  "id": "securitycenter.organizations.sources.findings.updateSecurityMarks",
                  "path": "v1beta1/{+name}",
                  "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}/findings/{findingsId}/securityMarks"
                },
                "patch": {
                  "parameters": {
                    "name": {
                      "description": "The relative resource name of this finding. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Example: \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}\"",
                      "required": true,
                      "pattern": "^organizations/[^/]+/sources/[^/]+/findings/[^/]+$",
                      "type": "string",
                      "location": "path"
                    },
                    "updateMask": {
                      "type": "string",
                      "location": "query",
                      "description": "The FieldMask to use when updating the finding resource. This field should not be specified when creating a finding.",
                      "format": "google-fieldmask"
                    }
                  },
                  "description": "Creates or updates a finding. The corresponding source must exist for a finding creation to succeed.",
                  "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}/findings/{findingsId}",
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GoogleCloudSecuritycenterV1beta1Finding"
                  },
                  "path": "v1beta1/{+name}",
                  "id": "securitycenter.organizations.sources.findings.patch",
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1beta1Finding"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "create": {
                  "request": {
                    "$ref": "GoogleCloudSecuritycenterV1beta1Finding"
                  },
                  "path": "v1beta1/{+parent}/findings",
                  "httpMethod": "POST",
                  "description": "Creates a finding. The corresponding source must exist for finding creation to succeed.",
                  "id": "securitycenter.organizations.sources.findings.create",
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1beta1Finding"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}/findings",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "description": "Required. Resource name of the new finding's parent. Its format should be \"organizations/[organization_id]/sources/[source_id]\".",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/sources/[^/]+$"
                    },
                    "findingId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. Unique identifier provided by the client within the parent scope. It must be alphanumeric and less than or equal to 32 characters and greater than 0 characters in length."
                    }
                  }
                },
                "setState": {
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "description": "Required. The relative resource name of the finding. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Example: \"organizations/{organization_id}/sources/{source_id}/finding/{finding_id}\".",
                      "pattern": "^organizations/[^/]+/sources/[^/]+/findings/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta1/{+name}:setState",
                  "request": {
                    "$ref": "SetFindingStateRequest"
                  },
                  "response": {
                    "$ref": "GoogleCloudSecuritycenterV1beta1Finding"
                  },
                  "description": "Updates the state of a finding.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}/findings/{findingsId}:setState",
                  "id": "securitycenter.organizations.sources.findings.setState"
                }
              }
            }
          },
          "methods": {
            "testIamPermissions": {
              "parameterOrder": [
                "resource"
              ],
              "id": "securitycenter.organizations.sources.testIamPermissions",
              "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}:testIamPermissions",
              "response": {
                "$ref": "TestIamPermissionsResponse"
              },
              "path": "v1beta1/{+resource}:testIamPermissions",
              "request": {
                "$ref": "TestIamPermissionsRequest"
              },
              "parameters": {
                "resource": {
                  "required": true,
                  "type": "string",
                  "pattern": "^organizations/[^/]+/sources/[^/]+$",
                  "location": "path",
                  "description": "REQUIRED: The resource for which the policy detail is being requested. See the operation documentation for the appropriate value for this field."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Returns the permissions that a caller has on the specified source.",
              "httpMethod": "POST"
            },
            "setIamPolicy": {
              "parameters": {
                "resource": {
                  "required": true,
                  "pattern": "^organizations/[^/]+/sources/[^/]+$",
                  "description": "REQUIRED: The resource for which the policy is being specified. See the operation documentation for the appropriate value for this field.",
                  "location": "path",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "resource"
              ],
              "path": "v1beta1/{+resource}:setIamPolicy",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Policy"
              },
              "request": {
                "$ref": "SetIamPolicyRequest"
              },
              "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}:setIamPolicy",
              "httpMethod": "POST",
              "description": "Sets the access control policy on the specified Source.",
              "id": "securitycenter.organizations.sources.setIamPolicy"
            },
            "create": {
              "description": "Creates a source.",
              "request": {
                "$ref": "Source"
              },
              "flatPath": "v1beta1/organizations/{organizationsId}/sources",
              "id": "securitycenter.organizations.sources.create",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. Resource name of the new source's parent. Its format should be \"organizations/[organization_id]\".",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^organizations/[^/]+$"
                }
              },
              "path": "v1beta1/{+parent}/sources",
              "response": {
                "$ref": "Source"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST"
            },
            "patch": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "description": "The relative resource name of this source. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Example: \"organizations/{organization_id}/sources/{source_id}\"",
                  "pattern": "^organizations/[^/]+/sources/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "The FieldMask to use when updating the source resource."
                }
              },
              "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}",
              "description": "Updates a source.",
              "path": "v1beta1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "Source"
              },
              "httpMethod": "PATCH",
              "id": "securitycenter.organizations.sources.patch",
              "response": {
                "$ref": "Source"
              }
            },
            "list": {
              "description": "Lists all sources belonging to an organization.",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "The value returned by the last `ListSourcesResponse`; indicates that this is a continuation of a prior `ListSources` call, and that the system should return the next page of data."
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query",
                  "description": "The maximum number of results to return in a single response. Default is 10, minimum is 1, maximum is 1000."
                },
                "parent": {
                  "pattern": "^organizations/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. Resource name of the parent of sources to list. Its format should be \"organizations/[organization_id]\"."
                }
              },
              "httpMethod": "GET",
              "id": "securitycenter.organizations.sources.list",
              "flatPath": "v1beta1/organizations/{organizationsId}/sources",
              "path": "v1beta1/{+parent}/sources",
              "response": {
                "$ref": "ListSourcesResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "getIamPolicy": {
              "id": "securitycenter.organizations.sources.getIamPolicy",
              "request": {
                "$ref": "GetIamPolicyRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "path": "v1beta1/{+resource}:getIamPolicy",
              "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}:getIamPolicy",
              "description": "Gets the access control policy on the specified Source.",
              "response": {
                "$ref": "Policy"
              },
              "parameterOrder": [
                "resource"
              ],
              "parameters": {
                "resource": {
                  "required": true,
                  "pattern": "^organizations/[^/]+/sources/[^/]+$",
                  "type": "string",
                  "description": "REQUIRED: The resource for which the policy is being requested. See the operation documentation for the appropriate value for this field.",
                  "location": "path"
                }
              }
            },
            "get": {
              "description": "Gets a source.",
              "path": "v1beta1/{+name}",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "securitycenter.organizations.sources.get",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. Relative resource name of the source. Its format is \"organizations/[organization_id]/source/[source_id]\".",
                  "required": true,
                  "type": "string",
                  "pattern": "^organizations/[^/]+/sources/[^/]+$"
                }
              },
              "response": {
                "$ref": "Source"
              },
              "flatPath": "v1beta1/organizations/{organizationsId}/sources/{sourcesId}",
              "parameterOrder": [
                "name"
              ]
            }
          }
        },
        "assets": {
          "methods": {
            "group": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "GroupAssetsRequest"
              },
              "id": "securitycenter.organizations.assets.group",
              "description": "Filters an organization's assets and groups them by their specified properties.",
              "flatPath": "v1beta1/organizations/{organizationsId}/assets:group",
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GroupAssetsResponse"
              },
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^organizations/[^/]+$",
                  "required": true,
                  "description": "Required. Name of the organization to groupBy. Its format is \"organizations/[organization_id]\"."
                }
              },
              "path": "v1beta1/{+parent}/assets:group"
            },
            "updateSecurityMarks": {
              "flatPath": "v1beta1/organizations/{organizationsId}/assets/{assetsId}/securityMarks",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "GoogleCloudSecuritycenterV1beta1SecurityMarks"
              },
              "response": {
                "$ref": "GoogleCloudSecuritycenterV1beta1SecurityMarks"
              },
              "id": "securitycenter.organizations.assets.updateSecurityMarks",
              "httpMethod": "PATCH",
              "description": "Updates security marks.",
              "parameters": {
                "startTime": {
                  "format": "google-datetime",
                  "location": "query",
                  "description": "The time at which the updated SecurityMarks take effect.",
                  "type": "string"
                },
                "name": {
                  "description": "The relative resource name of the SecurityMarks. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Examples: \"organizations/{organization_id}/assets/{asset_id}/securityMarks\" \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}/securityMarks\".",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^organizations/[^/]+/assets/[^/]+/securityMarks$"
                },
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "The FieldMask to use when updating the security marks resource.",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta1/{+name}"
            },
            "list": {
              "httpMethod": "GET",
              "description": "Lists an organization's assets.",
              "id": "securitycenter.organizations.assets.list",
              "flatPath": "v1beta1/organizations/{organizationsId}/assets",
              "path": "v1beta1/{+parent}/assets",
              "response": {
                "$ref": "ListAssetsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^organizations/[^/]+$",
                  "location": "path",
                  "description": "Required. Name of the organization assets should belong to. Its format is \"organizations/[organization_id]\".",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "description": "The maximum number of results to return in a single response. Default is 10, minimum is 1, maximum is 1000.",
                  "type": "integer",
                  "location": "query"
                },
                "filter": {
                  "location": "query",
                  "description": "Expression that defines the filter to apply across assets. The expression is a list of zero or more restrictions combined via logical operators `AND` and `OR`. Parentheses are not supported, and `OR` has higher precedence than `AND`. Restrictions have the form ` ` and may have a `-` character in front of them to indicate negation. The fields map to those defined in the Asset resource. Examples include: * name * security_center_properties.resource_name * resource_properties.a_property * security_marks.marks.marka The supported operators are: * `=` for all value types. * `\u003e`, `\u003c`, `\u003e=`, `\u003c=` for integer values. * `:`, meaning substring matching, for strings. The supported value types are: * string literals in quotes. * integer literals without quotes. * boolean literals `true` and `false` without quotes. For example, `resource_properties.size = 100` is a valid filter string.",
                  "type": "string"
                },
                "readTime": {
                  "type": "string",
                  "format": "google-datetime",
                  "location": "query",
                  "description": "Time used as a reference point when filtering assets. The filter is limited to assets existing at the supplied time and their values are those at that specific time. Absence of this field will default to the API's version of NOW."
                },
                "compareDuration": {
                  "location": "query",
                  "format": "google-duration",
                  "type": "string",
                  "description": "When compare_duration is set, the ListAssetResult's \"state\" attribute is updated to indicate whether the asset was added, removed, or remained present during the compare_duration period of time that precedes the read_time. This is the time between (read_time - compare_duration) and read_time. The state value is derived based on the presence of the asset at the two points in time. Intermediate state changes between the two times don't affect the result. For example, the results aren't affected if the asset is removed and re-created again. Possible \"state\" values when compare_duration is specified: * \"ADDED\": indicates that the asset was not present before compare_duration, but present at read_time. * \"REMOVED\": indicates that the asset was present at the start of compare_duration, but not present at read_time. * \"ACTIVE\": indicates that the asset was present at both the start and the end of the time period defined by compare_duration and read_time. If compare_duration is not specified, then the only possible state is \"UNUSED\", which indicates that the asset is present at read_time."
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "The value returned by the last `ListAssetsResponse`; indicates that this is a continuation of a prior `ListAssets` call, and that the system should return the next page of data."
                },
                "fieldMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "Optional. A field mask to specify the ListAssetsResult fields to be listed in the response. An empty field mask will list all fields.",
                  "type": "string"
                },
                "orderBy": {
                  "type": "string",
                  "description": "Expression that defines what fields and order to use for sorting. The string value should follow SQL syntax: comma separated list of fields. For example: \"name,resource_properties.a_property\". The default sorting order is ascending. To specify descending order for a field, a suffix \" desc\" should be appended to the field name. For example: \"name desc,resource_properties.a_property\". Redundant space characters in the syntax are insignificant. \"name desc,resource_properties.a_property\" and \" name desc , resource_properties.a_property \" are equivalent.",
                  "location": "query"
                }
              }
            },
            "runDiscovery": {
              "description": "Runs asset discovery. The discovery is tracked with a long-running operation. This API can only be called with limited frequency for an organization. If it is called too frequently the caller will receive a TOO_MANY_REQUESTS error.",
              "parameters": {
                "parent": {
                  "description": "Required. Name of the organization to run asset discovery for. Its format is \"organizations/[organization_id]\".",
                  "type": "string",
                  "required": true,
                  "pattern": "^organizations/[^/]+$",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1beta1/organizations/{organizationsId}/assets:runDiscovery",
              "response": {
                "$ref": "Operation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta1/{+parent}/assets:runDiscovery",
              "id": "securitycenter.organizations.assets.runDiscovery",
              "request": {
                "$ref": "RunAssetDiscoveryRequest"
              },
              "httpMethod": "POST"
            }
          }
        }
      }
    }
  },
  "basePath": "",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "revision": "20201231",
  "name": "securitycenter",
  "baseUrl": "https://securitycenter.googleapis.com/",
  "kind": "discovery#restDescription",
  "fullyEncodeReservedExpansion": true,
  "rootUrl": "https://securitycenter.googleapis.com/",
  "documentationLink": "https://cloud.google.com/security-command-center",
  "version": "v1beta1",
  "servicePath": "",
  "version_module": true,
  "parameters": {
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true",
      "type": "boolean"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "location": "query",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    }
  },
  "protocol": "rest",
  "id": "securitycenter:v1beta1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "batchPath": "batch",
  "schemas": {
    "GoogleCloudSecuritycenterV1beta1SecurityMarks": {
      "description": "User specified security marks that are attached to the parent Security Command Center resource. Security marks are scoped within a Security Command Center organization -- they can be modified and viewed by all users who have proper permissions on the organization.",
      "id": "GoogleCloudSecuritycenterV1beta1SecurityMarks",
      "properties": {
        "marks": {
          "description": "Mutable user specified security marks belonging to the parent resource. Constraints are as follows: * Keys and values are treated as case insensitive * Keys must be between 1 - 256 characters (inclusive) * Keys must be letters, numbers, underscores, or dashes * Values have leading and trailing whitespace trimmed, remaining characters must be between 1 - 4096 characters (inclusive)",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "The relative resource name of the SecurityMarks. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Examples: \"organizations/{organization_id}/assets/{asset_id}/securityMarks\" \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}/securityMarks\"."
        }
      },
      "type": "object"
    },
    "GroupAssetsResponse": {
      "id": "GroupAssetsResponse",
      "type": "object",
      "description": "Response message for grouping by assets.",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results.",
          "type": "string"
        },
        "groupByResults": {
          "type": "array",
          "description": "Group results. There exists an element for each existing unique combination of property/values. The element contains a count for the number of times those specific property/values appear.",
          "items": {
            "$ref": "GroupResult"
          }
        },
        "readTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time used for executing the groupBy request."
        }
      }
    },
    "AuditLogConfig": {
      "type": "object",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "properties": {
        "exemptedMembers": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
        },
        "logType": {
          "type": "string",
          "description": "The log type that this config enables.",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ]
        }
      },
      "id": "AuditLogConfig"
    },
    "ListSourcesResponse": {
      "description": "Response message for listing sources.",
      "type": "object",
      "properties": {
        "sources": {
          "items": {
            "$ref": "Source"
          },
          "type": "array",
          "description": "Sources belonging to the requested parent."
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results.",
          "type": "string"
        }
      },
      "id": "ListSourcesResponse"
    },
    "GetIamPolicyRequest": {
      "properties": {
        "options": {
          "$ref": "GetPolicyOptions",
          "description": "OPTIONAL: A `GetPolicyOptions` object for specifying options to `GetIamPolicy`."
        }
      },
      "type": "object",
      "id": "GetIamPolicyRequest",
      "description": "Request message for `GetIamPolicy` method."
    },
    "ListFindingsResponse": {
      "description": "Response message for listing findings.",
      "type": "object",
      "id": "ListFindingsResponse",
      "properties": {
        "findings": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1beta1Finding"
          },
          "type": "array",
          "description": "Findings matching the list request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results."
        },
        "readTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time used for executing the list request."
        },
        "totalSize": {
          "description": "The total number of findings matching the query.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GetPolicyOptions": {
      "description": "Encapsulates settings provided to GetIamPolicy.",
      "properties": {
        "requestedPolicyVersion": {
          "type": "integer",
          "description": "Optional. The policy format version to be returned. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional bindings must specify version 3. Policies without any conditional bindings may specify any valid value or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32"
        }
      },
      "id": "GetPolicyOptions",
      "type": "object"
    },
    "Expr": {
      "type": "object",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "properties": {
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        }
      },
      "id": "Expr"
    },
    "ListAssetsResult": {
      "description": "Result containing the Asset and its State.",
      "id": "ListAssetsResult",
      "type": "object",
      "properties": {
        "state": {
          "enumDescriptions": [
            "Unspecified state.",
            "Request did not specify use of this field in the result.",
            "Asset was added between the points in time.",
            "Asset was removed between the points in time.",
            "Asset was active at both point(s) in time."
          ],
          "description": "State of the asset.",
          "enum": [
            "STATE_UNSPECIFIED",
            "UNUSED",
            "ADDED",
            "REMOVED",
            "ACTIVE"
          ],
          "type": "string"
        },
        "asset": {
          "$ref": "Asset",
          "description": "Asset matching the search request."
        }
      }
    },
    "GoogleCloudSecuritycenterV1NotificationMessage": {
      "properties": {
        "finding": {
          "description": "If it's a Finding based notification config, this field will be populated.",
          "$ref": "Finding"
        },
        "notificationConfigName": {
          "description": "Name of the notification config that generated current notification.",
          "type": "string"
        },
        "resource": {
          "description": "The Cloud resource tied to this notification's Finding.",
          "$ref": "GoogleCloudSecuritycenterV1Resource"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1NotificationMessage",
      "description": "Cloud SCC's Notification"
    },
    "ListOperationsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        }
      },
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "type": "object"
    },
    "Empty": {
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "type": "object",
      "id": "Empty"
    },
    "AuditConfig": {
      "type": "object",
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts jose@example.com from DATA_READ logging, and aliya@example.com from DATA_WRITE logging.",
      "properties": {
        "auditLogConfigs": {
          "items": {
            "$ref": "AuditLogConfig"
          },
          "type": "array",
          "description": "The configuration for logging of each type of permission."
        },
        "service": {
          "type": "string",
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
        }
      },
      "id": "AuditConfig"
    },
    "SetIamPolicyRequest": {
      "type": "object",
      "description": "Request message for `SetIamPolicy` method.",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Cloud Platform services (such as Projects) might reject them.",
          "$ref": "Policy"
        },
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`"
        }
      },
      "id": "SetIamPolicyRequest"
    },
    "OrganizationSettings": {
      "properties": {
        "assetDiscoveryConfig": {
          "$ref": "AssetDiscoveryConfig",
          "description": "The configuration used for Asset Discovery runs."
        },
        "enableAssetDiscovery": {
          "description": "A flag that indicates if Asset Discovery should be enabled. If the flag is set to `true`, then discovery of assets will occur. If it is set to `false, all historical assets will remain, but discovery of future assets will not occur.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "The relative resource name of the settings. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Example: \"organizations/{organization_id}/organizationSettings\"."
        }
      },
      "type": "object",
      "id": "OrganizationSettings",
      "description": "User specified settings that are attached to the Security Command Center organization."
    },
    "Finding": {
      "type": "object",
      "id": "Finding",
      "properties": {
        "state": {
          "enumDescriptions": [
            "Unspecified state.",
            "The finding requires attention and has not been addressed yet.",
            "The finding has been fixed, triaged as a non-issue or otherwise addressed and is no longer active."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "description": "The state of the finding."
        },
        "eventTime": {
          "type": "string",
          "description": "The time at which the event took place, or when an update to the finding occurred. For example, if the finding represents an open firewall it would capture the time the detector believes the firewall became open. The accuracy is determined by the detector. If the finding were to be resolved afterward, this time would reflect when the finding was resolved.",
          "format": "google-datetime"
        },
        "parent": {
          "description": "The relative resource name of the source the finding belongs to. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name This field is immutable after creation time. For example: \"organizations/{organization_id}/sources/{source_id}\"",
          "type": "string"
        },
        "securityMarks": {
          "readOnly": true,
          "$ref": "SecurityMarks",
          "description": "Output only. User specified security marks. These marks are entirely managed by the user and come from the SecurityMarks resource that belongs to the finding."
        },
        "name": {
          "description": "The relative resource name of this finding. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Example: \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}\"",
          "type": "string"
        },
        "externalUri": {
          "type": "string",
          "description": "The URI that, if available, points to a web page outside of Security Command Center where additional information about the finding can be found. This field is guaranteed to be either empty or a well formed URL."
        },
        "severity": {
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "enumDescriptions": [
            "This value is used for findings when a source doesn't write a severity value.",
            "Vulnerability: A critical vulnerability is easily discoverable by an external actor, exploitable, and results in the direct ability to execute arbitrary code, exfiltrate data, and otherwise gain additional access and privileges to cloud resources and workloads. Examples include publicly accessible unprotected user data, public SSH access with weak or no passwords, etc. Threat: Indicates a threat that is able to access, modify, or delete data or execute unauthorized code within existing resources.",
            "Vulnerability: A high risk vulnerability can be easily discovered and exploited in combination with other vulnerabilities in order to gain direct access and the ability to execute arbitrary code, exfiltrate data, and otherwise gain additional access and privileges to cloud resources and workloads. An example is a database with weak or no passwords that is only accessible internally. This database could easily be compromised by an actor that had access to the internal network. Threat: Indicates a threat that is able to create new computational resources in an environment but not able to access data or execute code in existing resources.",
            "Vulnerability: A medium risk vulnerability could be used by an actor to gain access to resources or privileges that enable them to eventually (through multiple steps or a complex exploit) gain access and the ability to execute arbitrary code or exfiltrate data. An example is a service account with access to more projects than it should have. If an actor gains access to the service account, they could potentially use that access to manipulate a project the service account was not intended to. Threat: Indicates a threat that is able to cause operational impact but may not access data or execute unauthorized code.",
            "Vulnerability: A low risk vulnerability hampers a security organization’s ability to detect vulnerabilities or active threats in their deployment, or prevents the root cause investigation of security issues. An example is monitoring and logs being disabled for resource configurations and access. Threat: Indicates a threat that has obtained minimal access to an environment but is not able to access data, execute code, or create resources."
          ],
          "description": "The severity of the finding. This field is managed by the source that writes the finding."
        },
        "category": {
          "description": "The additional taxonomy group within findings from a given source. This field is immutable after creation time. Example: \"XSS_FLASH_INJECTION\"",
          "type": "string"
        },
        "sourceProperties": {
          "type": "object",
          "description": "Source specific properties. These properties are managed by the source that writes the finding. The key names in the source_properties map must be between 1 and 255 characters, and must start with a letter and contain alphanumeric characters or underscores only.",
          "additionalProperties": {
            "type": "any"
          }
        },
        "resourceName": {
          "type": "string",
          "description": "For findings on Google Cloud resources, the full resource name of the Google Cloud resource this finding is for. See: https://cloud.google.com/apis/design/resource_names#full_resource_name When the finding is for a non-Google Cloud resource, the resourceName can be a customer or partner defined string. This field is immutable after creation time."
        },
        "createTime": {
          "type": "string",
          "description": "The time at which the finding was created in Security Command Center.",
          "format": "google-datetime"
        }
      },
      "description": "Security Command Center finding. A finding is a record of assessment data like security, risk, health, or privacy, that is ingested into Security Command Center for presentation, notification, analysis, policy testing, and enforcement. For example, a cross-site scripting (XSS) vulnerability in an App Engine application is a finding."
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "properties": {},
      "description": "The request message for Operations.CancelOperation.",
      "type": "object"
    },
    "TestIamPermissionsRequest": {
      "type": "object",
      "id": "TestIamPermissionsRequest",
      "description": "Request message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as '*' or 'storage.*') are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudSecuritycenterV1beta1Finding": {
      "properties": {
        "createTime": {
          "description": "The time at which the finding was created in Security Command Center.",
          "type": "string",
          "format": "google-datetime"
        },
        "externalUri": {
          "description": "The URI that, if available, points to a web page outside of Security Command Center where additional information about the finding can be found. This field is guaranteed to be either empty or a well formed URL.",
          "type": "string"
        },
        "category": {
          "type": "string",
          "description": "The additional taxonomy group within findings from a given source. This field is immutable after creation time. Example: \"XSS_FLASH_INJECTION\""
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "enumDescriptions": [
            "Unspecified state.",
            "The finding requires attention and has not been addressed yet.",
            "The finding has been fixed, triaged as a non-issue or otherwise addressed and is no longer active."
          ],
          "description": "The state of the finding.",
          "type": "string"
        },
        "eventTime": {
          "type": "string",
          "description": "The time at which the event took place, or when an update to the finding occurred. For example, if the finding represents an open firewall it would capture the time the detector believes the firewall became open. The accuracy is determined by the detector. If the finding were to be resolved afterward, this time would reflect when the finding was resolved.",
          "format": "google-datetime"
        },
        "parent": {
          "type": "string",
          "description": "Immutable. The relative resource name of the source the finding belongs to. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name This field is immutable after creation time. For example: \"organizations/{organization_id}/sources/{source_id}\""
        },
        "resourceName": {
          "type": "string",
          "description": "For findings on Google Cloud resources, the full resource name of the Google Cloud resource this finding is for. See: https://cloud.google.com/apis/design/resource_names#full_resource_name When the finding is for a non-Google Cloud resource, the resourceName can be a customer or partner defined string. This field is immutable after creation time."
        },
        "securityMarks": {
          "$ref": "GoogleCloudSecuritycenterV1beta1SecurityMarks",
          "readOnly": true,
          "description": "Output only. User specified security marks. These marks are entirely managed by the user and come from the SecurityMarks resource that belongs to the finding."
        },
        "sourceProperties": {
          "additionalProperties": {
            "type": "any"
          },
          "description": "Source specific properties. These properties are managed by the source that writes the finding. The key names in the source_properties map must be between 1 and 255 characters, and must start with a letter and contain alphanumeric characters or underscores only.",
          "type": "object"
        },
        "name": {
          "description": "The relative resource name of this finding. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Example: \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}\"",
          "type": "string"
        }
      },
      "description": "Security Command Center finding. A finding is a record of assessment data (security, risk, health or privacy) ingested into Security Command Center for presentation, notification, analysis, policy testing, and enforcement. For example, an XSS vulnerability in an App Engine application is a finding.",
      "id": "GoogleCloudSecuritycenterV1beta1Finding",
      "type": "object"
    },
    "Asset": {
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which the asset was created in Security Command Center."
        },
        "name": {
          "description": "The relative resource name of this asset. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Example: \"organizations/{organization_id}/assets/{asset_id}\".",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "The time at which the asset was last updated, added, or deleted in Security Command Center.",
          "type": "string"
        },
        "securityMarks": {
          "$ref": "GoogleCloudSecuritycenterV1beta1SecurityMarks",
          "description": "User specified security marks. These marks are entirely managed by the user and come from the SecurityMarks resource that belongs to the asset."
        },
        "securityCenterProperties": {
          "description": "Security Command Center managed properties. These properties are managed by Security Command Center and cannot be modified by the user.",
          "$ref": "SecurityCenterProperties"
        },
        "resourceProperties": {
          "type": "object",
          "additionalProperties": {
            "type": "any"
          },
          "description": "Resource managed properties. These properties are managed and defined by the Google Cloud resource and cannot be modified by the user."
        }
      },
      "type": "object",
      "id": "Asset",
      "description": "Security Command Center representation of a Google Cloud resource. The Asset is a Security Command Center resource that captures information about a single Google Cloud resource. All modifications to an Asset are only within the context of Security Command Center and don't affect the referenced Google Cloud resource."
    },
    "GroupAssetsRequest": {
      "description": "Request message for grouping by assets.",
      "properties": {
        "readTime": {
          "format": "google-datetime",
          "description": "Time used as a reference point when filtering assets. The filter is limited to assets existing at the supplied time and their values are those at that specific time. Absence of this field will default to the API's version of NOW.",
          "type": "string"
        },
        "groupBy": {
          "description": "Required. Expression that defines what assets fields to use for grouping. The string value should follow SQL syntax: comma separated list of fields. For example: \"security_center_properties.resource_project,security_center_properties.project\". The following fields are supported when compare_duration is not set: * security_center_properties.resource_project * security_center_properties.resource_type * security_center_properties.resource_parent The following fields are supported when compare_duration is set: * security_center_properties.resource_type",
          "type": "string"
        },
        "compareDuration": {
          "type": "string",
          "description": "When compare_duration is set, the Asset's \"state\" property is updated to indicate whether the asset was added, removed, or remained present during the compare_duration period of time that precedes the read_time. This is the time between (read_time - compare_duration) and read_time. The state value is derived based on the presence of the asset at the two points in time. Intermediate state changes between the two times don't affect the result. For example, the results aren't affected if the asset is removed and re-created again. Possible \"state\" values when compare_duration is specified: * \"ADDED\": indicates that the asset was not present before compare_duration, but present at reference_time. * \"REMOVED\": indicates that the asset was present at the start of compare_duration, but not present at reference_time. * \"ACTIVE\": indicates that the asset was present at both the start and the end of the time period defined by compare_duration and reference_time. This field is ignored if `state` is not a field in `group_by`.",
          "format": "google-duration"
        },
        "pageSize": {
          "description": "The maximum number of results to return in a single response. Default is 10, minimum is 1, maximum is 1000.",
          "type": "integer",
          "format": "int32"
        },
        "pageToken": {
          "description": "The value returned by the last `GroupAssetsResponse`; indicates that this is a continuation of a prior `GroupAssets` call, and that the system should return the next page of data.",
          "type": "string"
        },
        "filter": {
          "type": "string",
          "description": "Expression that defines the filter to apply across assets. The expression is a list of zero or more restrictions combined via logical operators `AND` and `OR`. Parentheses are not supported, and `OR` has higher precedence than `AND`. Restrictions have the form ` ` and may have a `-` character in front of them to indicate negation. The fields map to those defined in the Asset resource. Examples include: * name * security_center_properties.resource_name * resource_properties.a_property * security_marks.marks.marka The supported operators are: * `=` for all value types. * `\u003e`, `\u003c`, `\u003e=`, `\u003c=` for integer values. * `:`, meaning substring matching, for strings. The supported value types are: * string literals in quotes. * integer literals without quotes. * boolean literals `true` and `false` without quotes. For example, `resource_properties.size = 100` is a valid filter string."
        }
      },
      "id": "GroupAssetsRequest",
      "type": "object"
    },
    "Status": {
      "id": "Status",
      "properties": {
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object"
    },
    "TestIamPermissionsResponse": {
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
        }
      },
      "type": "object",
      "id": "TestIamPermissionsResponse",
      "description": "Response message for `TestIamPermissions` method."
    },
    "GoogleCloudSecuritycenterV1p1beta1RunAssetDiscoveryResponse": {
      "type": "object",
      "description": "Response of asset discovery run",
      "id": "GoogleCloudSecuritycenterV1p1beta1RunAssetDiscoveryResponse",
      "properties": {
        "state": {
          "type": "string",
          "description": "The state of an asset discovery run.",
          "enum": [
            "STATE_UNSPECIFIED",
            "COMPLETED",
            "SUPERSEDED",
            "TERMINATED"
          ],
          "enumDescriptions": [
            "Asset discovery run state was unspecified.",
            "Asset discovery run completed successfully.",
            "Asset discovery run was cancelled with tasks still pending, as another run for the same organization was started with a higher priority.",
            "Asset discovery run was killed and terminated."
          ]
        },
        "duration": {
          "description": "The duration between asset discovery run start and end",
          "type": "string",
          "format": "google-duration"
        }
      }
    },
    "GoogleCloudSecuritycenterV1p1beta1Finding": {
      "id": "GoogleCloudSecuritycenterV1p1beta1Finding",
      "type": "object",
      "description": "Security Command Center finding. A finding is a record of assessment data (security, risk, health or privacy) ingested into Security Command Center for presentation, notification, analysis, policy testing, and enforcement. For example, an XSS vulnerability in an App Engine application is a finding.",
      "properties": {
        "name": {
          "description": "The relative resource name of this finding. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Example: \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}\"",
          "type": "string"
        },
        "externalUri": {
          "description": "The URI that, if available, points to a web page outside of Security Command Center where additional information about the finding can be found. This field is guaranteed to be either empty or a well formed URL.",
          "type": "string"
        },
        "severity": {
          "type": "string",
          "description": "The severity of the finding. This field is managed by the source that writes the finding.",
          "enumDescriptions": [
            "No severity specified. The default value.",
            "Critical severity.",
            "High severity.",
            "Medium severity.",
            "Low severity."
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ]
        },
        "state": {
          "type": "string",
          "description": "The state of the finding.",
          "enumDescriptions": [
            "Unspecified state.",
            "The finding requires attention and has not been addressed yet.",
            "The finding has been fixed, triaged as a non-issue or otherwise addressed and is no longer active."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ]
        },
        "securityMarks": {
          "$ref": "GoogleCloudSecuritycenterV1p1beta1SecurityMarks",
          "description": "Output only. User specified security marks. These marks are entirely managed by the user and come from the SecurityMarks resource that belongs to the finding.",
          "readOnly": true
        },
        "category": {
          "description": "The additional taxonomy group within findings from a given source. This field is immutable after creation time. Example: \"XSS_FLASH_INJECTION\"",
          "type": "string"
        },
        "createTime": {
          "description": "The time at which the finding was created in Security Command Center.",
          "format": "google-datetime",
          "type": "string"
        },
        "eventTime": {
          "description": "The time at which the event took place, or when an update to the finding occurred. For example, if the finding represents an open firewall it would capture the time the detector believes the firewall became open. The accuracy is determined by the detector. If the finding were to be resolved afterward, this time would reflect when the finding was resolved.",
          "type": "string",
          "format": "google-datetime"
        },
        "resourceName": {
          "description": "For findings on Google Cloud resources, the full resource name of the Google Cloud resource this finding is for. See: https://cloud.google.com/apis/design/resource_names#full_resource_name When the finding is for a non-Google Cloud resource, the resourceName can be a customer or partner defined string. This field is immutable after creation time.",
          "type": "string"
        },
        "parent": {
          "description": "The relative resource name of the source the finding belongs to. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name This field is immutable after creation time. For example: \"organizations/{organization_id}/sources/{source_id}\"",
          "type": "string"
        },
        "sourceProperties": {
          "additionalProperties": {
            "type": "any"
          },
          "type": "object",
          "description": "Source specific properties. These properties are managed by the source that writes the finding. The key names in the source_properties map must be between 1 and 255 characters, and must start with a letter and contain alphanumeric characters or underscores only."
        }
      }
    },
    "RunAssetDiscoveryRequest": {
      "type": "object",
      "properties": {},
      "id": "RunAssetDiscoveryRequest",
      "description": "Request message for running asset discovery for an organization."
    },
    "GroupFindingsRequest": {
      "id": "GroupFindingsRequest",
      "type": "object",
      "description": "Request message for grouping by findings.",
      "properties": {
        "groupBy": {
          "type": "string",
          "description": "Required. Expression that defines what assets fields to use for grouping (including `state`). The string value should follow SQL syntax: comma separated list of fields. For example: \"parent,resource_name\". The following fields are supported: * resource_name * category * state * parent"
        },
        "readTime": {
          "format": "google-datetime",
          "description": "Time used as a reference point when filtering findings. The filter is limited to findings existing at the supplied time and their values are those at that specific time. Absence of this field will default to the API's version of NOW.",
          "type": "string"
        },
        "pageSize": {
          "format": "int32",
          "description": "The maximum number of results to return in a single response. Default is 10, minimum is 1, maximum is 1000.",
          "type": "integer"
        },
        "filter": {
          "description": "Expression that defines the filter to apply across findings. The expression is a list of one or more restrictions combined via logical operators `AND` and `OR`. Parentheses are not supported, and `OR` has higher precedence than `AND`. Restrictions have the form ` ` and may have a `-` character in front of them to indicate negation. Examples include: * name * source_properties.a_property * security_marks.marks.marka The supported operators are: * `=` for all value types. * `\u003e`, `\u003c`, `\u003e=`, `\u003c=` for integer values. * `:`, meaning substring matching, for strings. The supported value types are: * string literals in quotes. * integer literals without quotes. * boolean literals `true` and `false` without quotes. For example, `source_properties.size = 100` is a valid filter string.",
          "type": "string"
        },
        "pageToken": {
          "type": "string",
          "description": "The value returned by the last `GroupFindingsResponse`; indicates that this is a continuation of a prior `GroupFindings` call, and that the system should return the next page of data."
        }
      }
    },
    "GoogleCloudSecuritycenterV1p1beta1NotificationMessage": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1p1beta1NotificationMessage",
      "properties": {
        "finding": {
          "$ref": "GoogleCloudSecuritycenterV1p1beta1Finding",
          "description": "If it's a Finding based notification config, this field will be populated."
        },
        "resource": {
          "$ref": "GoogleCloudSecuritycenterV1p1beta1Resource",
          "description": "The Cloud resource tied to the notification."
        },
        "notificationConfigName": {
          "description": "Name of the notification config that generated current notification.",
          "type": "string"
        }
      },
      "description": "Security Command Center's Notification"
    },
    "GoogleCloudSecuritycenterV1Resource": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1Resource",
      "properties": {
        "name": {
          "type": "string",
          "description": "The full resource name of the resource. See: https://cloud.google.com/apis/design/resource_names#full_resource_name"
        },
        "parent": {
          "type": "string",
          "description": "The full resource name of resource's parent."
        },
        "projectDisplayName": {
          "type": "string",
          "description": "The human readable name of project that the resource belongs to."
        },
        "parentDisplayName": {
          "type": "string",
          "description": "The human readable name of resource's parent."
        },
        "folders": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. Contains a Folder message for each folder in the assets ancestry. The first folder is the deepest nested folder, and the last folder is the folder directly under the Organization.",
          "items": {
            "$ref": "Folder"
          }
        },
        "project": {
          "description": "The full resource name of project that the resource belongs to.",
          "type": "string"
        }
      },
      "description": "Information related to the Google Cloud resource."
    },
    "Folder": {
      "id": "Folder",
      "type": "object",
      "description": "Message that contains the resource name and display name of a folder resource.",
      "properties": {
        "resourceFolderDisplayName": {
          "description": "The user defined display name for this folder.",
          "type": "string"
        },
        "resourceFolder": {
          "type": "string",
          "description": "Full resource name of this folder. See: https://cloud.google.com/apis/design/resource_names#full_resource_name"
        }
      }
    },
    "AssetDiscoveryConfig": {
      "description": "The configuration used for Asset Discovery runs.",
      "properties": {
        "inclusionMode": {
          "enum": [
            "INCLUSION_MODE_UNSPECIFIED",
            "INCLUDE_ONLY",
            "EXCLUDE"
          ],
          "description": "The mode to use for filtering asset discovery.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified. Setting the mode with this value will disable inclusion/exclusion filtering for Asset Discovery.",
            "Asset Discovery will capture only the resources within the projects specified. All other resources will be ignored.",
            "Asset Discovery will ignore all resources under the projects specified. All other resources will be retrieved."
          ]
        },
        "projectIds": {
          "description": "The project ids to use for filtering asset discovery.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "AssetDiscoveryConfig",
      "type": "object"
    },
    "Operation": {
      "type": "object",
      "id": "Operation",
      "properties": {
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "response": {
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "GoogleCloudSecuritycenterV1p1beta1SecurityMarks": {
      "description": "User specified security marks that are attached to the parent Security Command Center resource. Security marks are scoped within a Security Command Center organization -- they can be modified and viewed by all users who have proper permissions on the organization.",
      "id": "GoogleCloudSecuritycenterV1p1beta1SecurityMarks",
      "type": "object",
      "properties": {
        "marks": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Mutable user specified security marks belonging to the parent resource. Constraints are as follows: * Keys and values are treated as case insensitive * Keys must be between 1 - 256 characters (inclusive) * Keys must be letters, numbers, underscores, or dashes * Values have leading and trailing whitespace trimmed, remaining characters must be between 1 - 4096 characters (inclusive)",
          "type": "object"
        },
        "name": {
          "description": "The relative resource name of the SecurityMarks. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Examples: \"organizations/{organization_id}/assets/{asset_id}/securityMarks\" \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}/securityMarks\".",
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV1beta1RunAssetDiscoveryResponse": {
      "id": "GoogleCloudSecuritycenterV1beta1RunAssetDiscoveryResponse",
      "description": "Response of asset discovery run",
      "type": "object",
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "COMPLETED",
            "SUPERSEDED",
            "TERMINATED"
          ],
          "description": "The state of an asset discovery run.",
          "enumDescriptions": [
            "Asset discovery run state was unspecified.",
            "Asset discovery run completed successfully.",
            "Asset discovery run was cancelled with tasks still pending, as another run for the same organization was started with a higher priority.",
            "Asset discovery run was killed and terminated."
          ],
          "type": "string"
        },
        "duration": {
          "description": "The duration between asset discovery run start and end",
          "type": "string",
          "format": "google-duration"
        }
      }
    },
    "Policy": {
      "id": "Policy",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members` to a single `role`. Members can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } **YAML example:** bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') - etag: BwWWja0YfJA= - version: 3 For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "properties": {
        "etag": {
          "format": "byte",
          "type": "string",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
        },
        "version": {
          "type": "integer",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32"
        },
        "auditConfigs": {
          "items": {
            "$ref": "AuditConfig"
          },
          "type": "array",
          "description": "Specifies cloud audit logging configuration for this policy."
        },
        "bindings": {
          "description": "Associates a list of `members` to a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one member.",
          "items": {
            "$ref": "Binding"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1p1beta1Folder": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1p1beta1Folder",
      "description": "Message that contains the resource name and display name of a folder resource.",
      "properties": {
        "resourceFolderDisplayName": {
          "description": "The user defined display name for this folder.",
          "type": "string"
        },
        "resourceFolder": {
          "description": "Full resource name of this folder. See: https://cloud.google.com/apis/design/resource_names#full_resource_name",
[...]
