{
  "canonicalName": "Security Command Center",
  "discoveryVersion": "v1",
  "rootUrl": "https://securitycenter.googleapis.com/",
  "basePath": "",
  "description": "Security Command Center API provides access to temporal views of assets and findings within an organization.",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "fullyEncodeReservedExpansion": true,
  "schemas": {
    "TestIamPermissionsResponse": {
      "description": "Response message for `TestIamPermissions` method.",
      "type": "object",
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "TestIamPermissionsResponse"
    },
    "Binding": {
      "type": "object",
      "id": "Binding",
      "properties": {
        "members": {
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. ",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        },
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`.",
          "type": "string"
        }
      },
      "description": "Associates `members`, or principals, with a `role`."
    },
    "Vulnerability": {
      "type": "object",
      "description": "Refers to common vulnerability fields e.g. cve, cvss, cwe etc.",
      "properties": {
        "cve": {
          "description": "CVE stands for Common Vulnerabilities and Exposures (https://cve.mitre.org/about/)",
          "$ref": "Cve"
        }
      },
      "id": "Vulnerability"
    },
    "GoogleCloudSecuritycenterV1Resource": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1Resource",
      "properties": {
        "parentDisplayName": {
          "type": "string",
          "description": "The human readable name of resource's parent."
        },
        "type": {
          "type": "string",
          "description": "The full resource type of the resource."
        },
        "displayName": {
          "description": "The human readable name of the resource.",
          "type": "string"
        },
        "name": {
          "description": "The full resource name of the resource. See: https://cloud.google.com/apis/design/resource_names#full_resource_name",
          "type": "string"
        },
        "parent": {
          "type": "string",
          "description": "The full resource name of resource's parent."
        },
        "folders": {
          "type": "array",
          "items": {
            "$ref": "Folder"
          },
          "description": "Output only. Contains a Folder message for each folder in the assets ancestry. The first folder is the deepest nested folder, and the last folder is the folder directly under the Organization.",
          "readOnly": true
        },
        "projectDisplayName": {
          "description": "The project ID that the resource belongs to.",
          "type": "string"
        },
        "project": {
          "type": "string",
          "description": "The full resource name of project that the resource belongs to."
        }
      },
      "description": "Information related to the Google Cloud resource."
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "GoogleCloudSecuritycenterV1ExposedResource": {
      "properties": {
        "resourceValue": {
          "description": "How valuable this resource is.",
          "enum": [
            "RESOURCE_VALUE_UNSPECIFIED",
            "RESOURCE_VALUE_LOW",
            "RESOURCE_VALUE_MEDIUM",
            "RESOURCE_VALUE_HIGH"
          ],
          "type": "string",
          "enumDescriptions": [
            "The resource value isn't specified.",
            "This is a low value resource.",
            "This is a medium value resource.",
            "This is a high value resource."
          ]
        },
        "resource": {
          "type": "string",
          "description": "The name of the resource that is exposed. See: https://cloud.google.com/apis/design/resource_names#full_resource_name"
        },
        "displayName": {
          "type": "string",
          "description": "Human readable name of the resource that is exposed."
        },
        "name": {
          "type": "string",
          "description": "Exposed Resource Name e.g.: `organizations/123/attackExposureResults/456/exposedResources/789`"
        },
        "resourceType": {
          "type": "string",
          "description": "The resource type of the exposed resource. See: https://cloud.google.com/asset-inventory/docs/supported-asset-types"
        },
        "methods": {
          "type": "array",
          "description": "The ways in which this resource is exposed. Examples: Read, Write",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "A resource that is exposed as a result of a finding.",
      "id": "GoogleCloudSecuritycenterV1ExposedResource"
    },
    "Subject": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Name for subject."
        },
        "kind": {
          "enum": [
            "AUTH_TYPE_UNSPECIFIED",
            "USER",
            "SERVICEACCOUNT",
            "GROUP"
          ],
          "description": "Authentication type for subject.",
          "enumDescriptions": [
            "Authentication is not specified.",
            "User with valid certificate.",
            "Users managed by Kubernetes API with credentials stored as Secrets.",
            "Collection of users."
          ],
          "type": "string"
        },
        "ns": {
          "description": "Namespace for subject.",
          "type": "string"
        }
      },
      "description": "Represents a Kubernetes Subject.",
      "id": "Subject",
      "type": "object"
    },
    "AuditLogConfig": {
      "id": "AuditLogConfig",
      "properties": {
        "logType": {
          "description": "The log type that this config enables.",
          "type": "string",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ]
        },
        "exemptedMembers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
        }
      },
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "type": "object"
    },
    "NodePool": {
      "type": "object",
      "properties": {
        "nodes": {
          "items": {
            "$ref": "Node"
          },
          "type": "array",
          "description": "Nodes associated with the finding."
        },
        "name": {
          "description": "Kubernetes Node pool name.",
          "type": "string"
        }
      },
      "description": "Provides GKE Node Pool information.",
      "id": "NodePool"
    },
    "MemoryHashSignature": {
      "id": "MemoryHashSignature",
      "properties": {
        "detections": {
          "items": {
            "$ref": "Detection"
          },
          "description": "The list of memory hash detections contributing to the binary family match.",
          "type": "array"
        },
        "binaryFamily": {
          "description": "The binary family.",
          "type": "string"
        }
      },
      "description": "A signature corresponding to memory page hashes.",
      "type": "object"
    },
    "Label": {
      "type": "object",
      "description": "Label represents a generic name=value label. Label has separate name and value fields to support filtering with contains().",
      "id": "Label",
      "properties": {
        "value": {
          "type": "string",
          "description": "Label value."
        },
        "name": {
          "description": "Label name.",
          "type": "string"
        }
      }
    },
    "Status": {
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      },
      "type": "object",
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "Edge": {
      "properties": {
        "source": {
          "type": "string",
          "description": "This is the resource name of the source node."
        },
        "destination": {
          "type": "string",
          "description": "This is the resource name of the destination node."
        }
      },
      "type": "object",
      "description": "Represents a connection between a source node and a destination node in this exposure path.",
      "id": "Edge"
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "response": {
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        }
      },
      "id": "Operation"
    },
    "AssetDiscoveryConfig": {
      "type": "object",
      "description": "The configuration used for Asset Discovery runs.",
      "id": "AssetDiscoveryConfig",
      "properties": {
        "inclusionMode": {
          "enum": [
            "INCLUSION_MODE_UNSPECIFIED",
            "INCLUDE_ONLY",
            "EXCLUDE"
          ],
          "type": "string",
          "description": "The mode to use for filtering asset discovery.",
          "enumDescriptions": [
            "Unspecified. Setting the mode with this value will disable inclusion/exclusion filtering for Asset Discovery.",
            "Asset Discovery will capture only the resources within the projects specified. All other resources will be ignored.",
            "Asset Discovery will ignore all resources under the projects specified. All other resources will be retrieved."
          ]
        },
        "projectIds": {
          "description": "The project ids to use for filtering asset discovery.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV1beta1SecurityMarks": {
      "id": "GoogleCloudSecuritycenterV1beta1SecurityMarks",
      "properties": {
        "marks": {
          "description": "Mutable user specified security marks belonging to the parent resource. Constraints are as follows: * Keys and values are treated as case insensitive * Keys must be between 1 - 256 characters (inclusive) * Keys must be letters, numbers, underscores, or dashes * Values have leading and trailing whitespace trimmed, remaining characters must be between 1 - 4096 characters (inclusive)",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "description": "The relative resource name of the SecurityMarks. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Examples: \"organizations/{organization_id}/assets/{asset_id}/securityMarks\" \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}/securityMarks\".",
          "type": "string"
        }
      },
      "type": "object",
      "description": "User specified security marks that are attached to the parent Security Command Center resource. Security marks are scoped within a Security Command Center organization -- they can be modified and viewed by all users who have proper permissions on the organization."
    },
    "Database": {
      "id": "Database",
      "description": "Represents database access information, such as queries. A database may be a sub-resource of an instance (as in the case of CloudSQL instances or Cloud Spanner instances), or the database instance itself. Some database resources may not have the full resource name populated because these resource types are not yet supported by Cloud Asset Inventory (e.g. CloudSQL databases). In these cases only the display name will be provided.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The full resource name of the database the user connected to, if it is supported by CAI. (https://google.aip.dev/122#full-resource-names)"
        },
        "query": {
          "description": "The SQL statement associated with the relevant access.",
          "type": "string"
        },
        "displayName": {
          "description": "The human readable name of the database the user connected to.",
          "type": "string"
        },
        "grantees": {
          "description": "The target usernames/roles/groups of a SQL privilege grant (not an IAM policy change).",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "userName": {
          "type": "string",
          "description": "The username used to connect to the DB. This may not necessarily be an IAM principal, and has no required format."
        }
      }
    },
    "GoogleCloudSecuritycenterV1BigQueryExport": {
      "description": "Configures how to deliver Findings to BigQuery Instance.",
      "properties": {
        "mostRecentEditor": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Email address of the user who last edited the big query export. This field is set by the server and will be ignored if provided on export creation or update."
        },
        "description": {
          "description": "The description of the export (max of 1024 characters).",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The most recent time at which the big export was updated. This field is set by the server and will be ignored if provided on export creation or update.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "dataset": {
          "type": "string",
          "description": "The dataset to write findings' updates to. Its format is \"projects/[project_id]/datasets/[bigquery_dataset_id]\". BigQuery Dataset unique ID must contain only letters (a-z, A-Z), numbers (0-9), or underscores (_)."
        },
        "principal": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The service account that needs permission to create table, upload data to the big query dataset."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time at which the big query export was created. This field is set by the server and will be ignored if provided on export on creation."
        },
        "name": {
          "type": "string",
          "description": "The relative resource name of this export. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name. Example format: \"organizations/{organization_id}/bigQueryExports/{export_id}\" Example format: \"folders/{folder_id}/bigQueryExports/{export_id}\" Example format: \"projects/{project_id}/bigQueryExports/{export_id}\" This field is provided in responses, and is ignored when provided in create requests."
        },
        "filter": {
          "description": "Expression that defines the filter to apply across create/update events of findings. The expression is a list of zero or more restrictions combined via logical operators `AND` and `OR`. Parentheses are supported, and `OR` has higher precedence than `AND`. Restrictions have the form ` ` and may have a `-` character in front of them to indicate negation. The fields map to those defined in the corresponding resource. The supported operators are: * `=` for all value types. * `\u003e`, `\u003c`, `\u003e=`, `\u003c=` for integer values. * `:`, meaning substring matching, for strings. The supported value types are: * string literals in quotes. * integer literals without quotes. * boolean literals `true` and `false` without quotes.",
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV1BigQueryExport",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1p1beta1RunAssetDiscoveryResponse": {
      "description": "Response of asset discovery run",
      "id": "GoogleCloudSecuritycenterV1p1beta1RunAssetDiscoveryResponse",
      "properties": {
        "duration": {
          "description": "The duration between asset discovery run start and end",
          "type": "string",
          "format": "google-duration"
        },
        "state": {
          "enumDescriptions": [
            "Asset discovery run state was unspecified.",
            "Asset discovery run completed successfully.",
            "Asset discovery run was cancelled with tasks still pending, as another run for the same organization was started with a higher priority.",
            "Asset discovery run was killed and terminated."
          ],
          "description": "The state of an asset discovery run.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "COMPLETED",
            "SUPERSEDED",
            "TERMINATED"
          ]
        }
      },
      "type": "object"
    },
    "Kubernetes": {
      "properties": {
        "roles": {
          "type": "array",
          "items": {
            "$ref": "Role"
          },
          "description": "Provides Kubernetes role information for findings that involve Roles or ClusterRoles."
        },
        "accessReviews": {
          "type": "array",
          "items": {
            "$ref": "AccessReview"
          },
          "description": "Provides information on any Kubernetes access reviews (i.e. privilege checks) relevant to the finding."
        },
        "nodePools": {
          "items": {
            "$ref": "NodePool"
          },
          "description": "GKE Node Pools associated with the finding. This field will contain NodePool information for each Node, when it is available.",
          "type": "array"
        },
        "bindings": {
          "description": "Provides Kubernetes role binding information for findings that involve RoleBindings or ClusterRoleBindings.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1Binding"
          }
        },
        "pods": {
          "type": "array",
          "description": "Kubernetes Pods associated with the finding. This field will contain Pod records for each container that is owned by a Pod.",
          "items": {
            "$ref": "Pod"
          }
        },
        "nodes": {
          "items": {
            "$ref": "Node"
          },
          "description": "Provides Kubernetes Node information.",
          "type": "array"
        }
      },
      "id": "Kubernetes",
      "description": "Kubernetes related attributes.",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1p1beta1NotificationMessage": {
      "description": "Security Command Center's Notification",
      "type": "object",
      "properties": {
        "finding": {
          "description": "If it's a Finding based notification config, this field will be populated.",
          "$ref": "GoogleCloudSecuritycenterV1p1beta1Finding"
        },
        "resource": {
          "description": "The Cloud resource tied to the notification.",
          "$ref": "GoogleCloudSecuritycenterV1p1beta1Resource"
        },
        "notificationConfigName": {
          "description": "Name of the notification config that generated current notification.",
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV1p1beta1NotificationMessage"
    },
    "Access": {
      "type": "object",
      "properties": {
        "principalEmail": {
          "type": "string",
          "description": "Associated email, such as \"foo@google.com\". The email address of the authenticated user (or service account on behalf of third party principal) making the request. For third party identity callers, the `principal_subject` field is populated instead of this field. For privacy reasons, the principal email address is sometimes redacted. For more information, see [Caller identities in audit logs](https://cloud.google.com/logging/docs/audit#user-id)."
        },
        "callerIp": {
          "type": "string",
          "description": "Caller's IP address, such as \"1.1.1.1\"."
        },
        "principalSubject": {
          "type": "string",
          "description": "A string representing the principal_subject associated with the identity. As compared to `principal_email`, supports principals that aren't associated with email addresses, such as third party principals. For most identities, the format will be `principal://iam.googleapis.com/{identity pool name}/subjects/{subject}` except for some GKE identities (GKE_WORKLOAD, FREEFORM, GKE_HUB_WORKLOAD) that are still in the legacy format `serviceAccount:{identity pool name}[{subject}]`"
        },
        "serviceAccountKeyName": {
          "type": "string",
          "description": "The name of the service account key used to create or exchange credentials for authenticating the service account making the request. This is a scheme-less URI full resource name. For example: \"//iam.googleapis.com/projects/{PROJECT_ID}/serviceAccounts/{ACCOUNT}/keys/{key}\" "
        },
        "methodName": {
          "type": "string",
          "description": "The method that the service account called, e.g. \"SetIamPolicy\"."
        },
        "userAgentFamily": {
          "description": "What kind of user agent is associated, e.g. operating system shells, embedded or stand-alone applications, etc.",
          "type": "string"
        },
        "serviceAccountDelegationInfo": {
          "type": "array",
          "description": "Identity delegation history of an authenticated service account that makes the request. It contains information on the real authorities that try to access GCP resources by delegating on a service account. When multiple authorities are present, they are guaranteed to be sorted based on the original ordering of the identity delegation events.",
          "items": {
            "$ref": "ServiceAccountDelegationInfo"
          }
        },
        "serviceName": {
          "description": "This is the API service that the service account made a call to, e.g. \"iam.googleapis.com\"",
          "type": "string"
        },
        "callerIpGeo": {
          "$ref": "Geolocation",
          "description": "The caller IP's geolocation, which identifies where the call came from."
        },
        "userName": {
          "description": "A string representing a username. This is likely not an IAM principal. For instance, this may be the system user name if the finding is VM-related, or this may be some type of application login user name, depending on the type of finding.",
          "type": "string"
        }
      },
      "id": "Access",
      "description": "Represents an access event."
    },
    "GroupAssetsRequest": {
      "type": "object",
      "description": "Request message for grouping by assets.",
      "properties": {
        "groupBy": {
          "type": "string",
          "description": "Required. Expression that defines what assets fields to use for grouping. The string value should follow SQL syntax: comma separated list of fields. For example: \"security_center_properties.resource_project,security_center_properties.project\". The following fields are supported when compare_duration is not set: * security_center_properties.resource_project * security_center_properties.resource_type * security_center_properties.resource_parent The following fields are supported when compare_duration is set: * security_center_properties.resource_type"
        },
        "pageSize": {
          "description": "The maximum number of results to return in a single response. Default is 10, minimum is 1, maximum is 1000.",
          "format": "int32",
          "type": "integer"
        },
        "filter": {
          "description": "Expression that defines the filter to apply across assets. The expression is a list of zero or more restrictions combined via logical operators `AND` and `OR`. Parentheses are not supported, and `OR` has higher precedence than `AND`. Restrictions have the form ` ` and may have a `-` character in front of them to indicate negation. The fields map to those defined in the Asset resource. Examples include: * name * security_center_properties.resource_name * resource_properties.a_property * security_marks.marks.marka The supported operators are: * `=` for all value types. * `\u003e`, `\u003c`, `\u003e=`, `\u003c=` for integer values. * `:`, meaning substring matching, for strings. The supported value types are: * string literals in quotes. * integer literals without quotes. * boolean literals `true` and `false` without quotes. For example, `resource_properties.size = 100` is a valid filter string.",
          "type": "string"
        },
        "pageToken": {
          "description": "The value returned by the last `GroupAssetsResponse`; indicates that this is a continuation of a prior `GroupAssets` call, and that the system should return the next page of data.",
          "type": "string"
        },
        "readTime": {
          "description": "Time used as a reference point when filtering assets. The filter is limited to assets existing at the supplied time and their values are those at that specific time. Absence of this field will default to the API's version of NOW.",
          "type": "string",
          "format": "google-datetime"
        },
        "compareDuration": {
          "description": "When compare_duration is set, the Asset's \"state\" property is updated to indicate whether the asset was added, removed, or remained present during the compare_duration period of time that precedes the read_time. This is the time between (read_time - compare_duration) and read_time. The state value is derived based on the presence of the asset at the two points in time. Intermediate state changes between the two times don't affect the result. For example, the results aren't affected if the asset is removed and re-created again. Possible \"state\" values when compare_duration is specified: * \"ADDED\": indicates that the asset was not present before compare_duration, but present at reference_time. * \"REMOVED\": indicates that the asset was present at the start of compare_duration, but not present at reference_time. * \"ACTIVE\": indicates that the asset was present at both the start and the end of the time period defined by compare_duration and reference_time. This field is ignored if `state` is not a field in `group_by`.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "id": "GroupAssetsRequest"
    },
    "RunAssetDiscoveryRequest": {
      "properties": {},
      "id": "RunAssetDiscoveryRequest",
      "description": "Request message for running asset discovery for an organization.",
      "type": "object"
    },
    "Expr": {
      "id": "Expr",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "type": "object",
      "properties": {
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        }
      }
    },
    "Finding": {
      "id": "Finding",
      "description": "Security Command Center finding. A finding is a record of assessment data like security, risk, health, or privacy, that is ingested into Security Command Center for presentation, notification, analysis, policy testing, and enforcement. For example, a cross-site scripting (XSS) vulnerability in an App Engine application is a finding.",
      "type": "object",
      "properties": {
        "database": {
          "$ref": "Database",
          "description": "Database associated with the finding."
        },
        "vulnerability": {
          "description": "Represents vulnerability specific fields like cve, cvss scores etc. CVE stands for Common Vulnerabilities and Exposures (https://cve.mitre.org/about/)",
          "$ref": "Vulnerability"
        },
        "resourceName": {
          "description": "For findings on Google Cloud resources, the full resource name of the Google Cloud resource this finding is for. See: https://cloud.google.com/apis/design/resource_names#full_resource_name When the finding is for a non-Google Cloud resource, the resourceName can be a customer or partner defined string. This field is immutable after creation time.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Unspecified state.",
            "The finding requires attention and has not been addressed yet.",
            "The finding has been fixed, triaged as a non-issue or otherwise addressed and is no longer active."
          ],
          "description": "The state of the finding.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ]
        },
        "severity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "description": "The severity of the finding. This field is managed by the source that writes the finding.",
          "type": "string",
          "enumDescriptions": [
            "This value is used for findings when a source doesn't write a severity value.",
            "Vulnerability: A critical vulnerability is easily discoverable by an external actor, exploitable, and results in the direct ability to execute arbitrary code, exfiltrate data, and otherwise gain additional access and privileges to cloud resources and workloads. Examples include publicly accessible unprotected user data, public SSH access with weak or no passwords, etc. Threat: Indicates a threat that is able to access, modify, or delete data or execute unauthorized code within existing resources.",
            "Vulnerability: A high risk vulnerability can be easily discovered and exploited in combination with other vulnerabilities in order to gain direct access and the ability to execute arbitrary code, exfiltrate data, and otherwise gain additional access and privileges to cloud resources and workloads. An example is a database with weak or no passwords that is only accessible internally. This database could easily be compromised by an actor that had access to the internal network. Threat: Indicates a threat that is able to create new computational resources in an environment but not able to access data or execute code in existing resources.",
            "Vulnerability: A medium risk vulnerability could be used by an actor to gain access to resources or privileges that enable them to eventually (through multiple steps or a complex exploit) gain access and the ability to execute arbitrary code or exfiltrate data. An example is a service account with access to more projects than it should have. If an actor gains access to the service account, they could potentially use that access to manipulate a project the service account was not intended to. Threat: Indicates a threat that is able to cause operational impact but may not access data or execute unauthorized code.",
            "Vulnerability: A low risk vulnerability hampers a security organization's ability to detect vulnerabilities or active threats in their deployment, or prevents the root cause investigation of security issues. An example is monitoring and logs being disabled for resource configurations and access. Threat: Indicates a threat that has obtained minimal access to an environment but is not able to access data, execute code, or create resources."
          ]
        },
        "parentDisplayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The human readable display name of the finding source such as \"Event Threat Detection\" or \"Security Health Analytics\"."
        },
        "iamBindings": {
          "description": "Represents IAM bindings associated with the Finding.",
          "type": "array",
          "items": {
            "$ref": "IamBinding"
          }
        },
        "eventTime": {
          "type": "string",
          "description": "The time the finding was first detected. If an existing finding is updated, then this is the time the update occurred. For example, if the finding represents an open firewall, this property captures the time the detector believes the firewall became open. The accuracy is determined by the detector. If the finding is later resolved, then this time reflects when the finding was resolved. This must not be set to a value greater than the current timestamp.",
          "format": "google-datetime"
        },
        "mute": {
          "description": "Indicates the mute state of a finding (either muted, unmuted or undefined). Unlike other attributes of a finding, a finding provider shouldn't set the value of mute.",
          "enumDescriptions": [
            "Unspecified.",
            "Finding has been muted.",
            "Finding has been unmuted.",
            "Finding has never been muted/unmuted."
          ],
          "enum": [
            "MUTE_UNSPECIFIED",
            "MUTED",
            "UNMUTED",
            "UNDEFINED"
          ],
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "The time at which the finding was created in Security Command Center.",
          "format": "google-datetime"
        },
        "parent": {
          "type": "string",
          "description": "The relative resource name of the source the finding belongs to. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name This field is immutable after creation time. For example: \"organizations/{organization_id}/sources/{source_id}\""
        },
        "findingClass": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified finding class.",
            "Describes unwanted or malicious activity.",
            "Describes a potential weakness in software that increases risk to Confidentiality & Integrity & Availability.",
            "Describes a potential weakness in cloud resource/asset configuration that increases risk.",
            "Describes a security observation that is for informational purposes.",
            "Describes an error that prevents some SCC functionality."
          ],
          "enum": [
            "FINDING_CLASS_UNSPECIFIED",
            "THREAT",
            "VULNERABILITY",
            "MISCONFIGURATION",
            "OBSERVATION",
            "SCC_ERROR"
          ],
          "description": "The class of the finding."
        },
        "muteInitiator": {
          "type": "string",
          "description": "First known as mute_annotation. Records additional information about the mute operation e.g. mute config that muted the finding, user who muted the finding, etc. Unlike other attributes of a finding, a finding provider shouldn't set the value of mute."
        },
        "exfiltration": {
          "description": "Represents exfiltration associated with the Finding.",
          "$ref": "Exfiltration"
        },
        "compliances": {
          "description": "Contains compliance information for security standards associated to the finding.",
          "items": {
            "$ref": "Compliance"
          },
          "type": "array"
        },
        "connections": {
          "description": "Contains information about the IP connection associated with the finding.",
          "items": {
            "$ref": "Connection"
          },
          "type": "array"
        },
        "nextSteps": {
          "description": "Next steps associate to the finding.",
          "type": "string"
        },
        "securityMarks": {
          "description": "Output only. User specified security marks. These marks are entirely managed by the user and come from the SecurityMarks resource that belongs to the finding.",
          "readOnly": true,
          "$ref": "SecurityMarks"
        },
        "processes": {
          "items": {
            "$ref": "Process"
          },
          "description": "Represents operating system processes associated with the Finding.",
          "type": "array"
        },
        "contacts": {
          "type": "object",
          "additionalProperties": {
            "$ref": "ContactDetails"
          },
          "description": "Output only. Map containing the points of contact for the given finding. The key represents the type of contact, while the value contains a list of all the contacts that pertain. Please refer to: https://cloud.google.com/resource-manager/docs/managing-notification-contacts#notification-categories { \"security\": { \"contacts\": [ { \"email\": \"person1@company.com\" }, { \"email\": \"person2@company.com\" } ] } }",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Contains more detail about the finding."
        },
        "indicator": {
          "description": "Represents what's commonly known as an Indicator of compromise (IoC) in computer forensics. This is an artifact observed on a network or in an operating system that, with high confidence, indicates a computer intrusion. Reference: https://en.wikipedia.org/wiki/Indicator_of_compromise",
          "$ref": "Indicator"
        },
        "externalSystems": {
          "additionalProperties": {
            "$ref": "GoogleCloudSecuritycenterV1ExternalSystem"
          },
          "type": "object",
          "description": "Output only. Third party SIEM/SOAR fields within SCC, contains external system information and external system finding fields.",
          "readOnly": true
        },
        "mitreAttack": {
          "$ref": "MitreAttack",
          "description": "MITRE ATT&CK tactics and techniques related to this finding. See: https://attack.mitre.org"
        },
        "muteUpdateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The most recent time this finding was muted or unmuted."
        },
        "kubernetes": {
          "description": "Kubernetes resources associated with the finding.",
          "$ref": "Kubernetes"
        },
        "category": {
          "description": "The additional taxonomy group within findings from a given source. This field is immutable after creation time. Example: \"XSS_FLASH_INJECTION\"",
          "type": "string"
        },
        "sourceProperties": {
          "type": "object",
          "description": "Source specific properties. These properties are managed by the source that writes the finding. The key names in the source_properties map must be between 1 and 255 characters, and must start with a letter and contain alphanumeric characters or underscores only.",
          "additionalProperties": {
            "type": "any"
          }
        },
        "name": {
          "description": "The relative resource name of this finding. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Example: \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}\"",
          "type": "string"
        },
        "canonicalName": {
          "description": "The canonical name of the finding. It's either \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}\", \"folders/{folder_id}/sources/{source_id}/findings/{finding_id}\" or \"projects/{project_number}/sources/{source_id}/findings/{finding_id}\", depending on the closest CRM ancestor of the resource associated with the finding.",
          "type": "string"
        },
        "containers": {
          "type": "array",
          "description": "Containers associated with the finding. containers provides information for both Kubernetes and non-Kubernetes containers.",
          "items": {
            "$ref": "Container"
          }
        },
        "externalUri": {
          "type": "string",
          "description": "The URI that, if available, points to a web page outside of Security Command Center where additional information about the finding can be found. This field is guaranteed to be either empty or a well formed URL."
        },
        "access": {
          "description": "Access details associated to the Finding, such as more information on the caller, which method was accessed, from where, etc.",
          "$ref": "Access"
        }
      }
    },
    "EnvironmentVariable": {
      "id": "EnvironmentVariable",
      "description": "EnvironmentVariable is a name-value pair to store environment variables for Process.",
      "type": "object",
      "properties": {
        "val": {
          "description": "Environment variable value as a JSON encoded string.",
          "type": "string"
        },
        "name": {
          "description": "Environment variable name as a JSON encoded string.",
          "type": "string"
        }
      }
    },
    "Source": {
      "properties": {
        "description": {
          "description": "The description of the source (max of 1024 characters). Example: \"Web Security Scanner is a web security scanner for common vulnerabilities in App Engine applications. It can automatically scan and detect four common vulnerabilities, including cross-site-scripting (XSS), Flash injection, mixed content (HTTP in HTTPS), and outdated/insecure libraries.\"",
          "type": "string"
        },
        "name": {
          "description": "The relative resource name of this source. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Example: \"organizations/{organization_id}/sources/{source_id}\"",
          "type": "string"
        },
        "displayName": {
          "description": "The source's display name. A source's display name must be unique amongst its siblings, for example, two sources with the same parent can't share the same display name. The display name must have a length between 1 and 64 characters (inclusive).",
          "type": "string"
        }
      },
      "description": "Security Command Center finding source. A finding source is an entity or a mechanism that can produce a finding. A source is like a container of findings that come from the same scanner, logger, monitor, etc.",
      "type": "object",
      "id": "Source"
    },
    "GoogleCloudSecuritycenterV1ExternalSystem": {
      "type": "object",
      "properties": {
        "status": {
          "type": "string",
          "description": "Most recent status of the corresponding finding's ticket/tracker in the external system."
        },
        "externalSystemUpdateTime": {
          "description": "The most recent time when the corresponding finding's ticket/tracker was updated in the external system.",
          "format": "google-datetime",
          "type": "string"
        },
        "assignees": {
          "description": "References primary/secondary etc assignees in the external system.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "External System Name e.g. jira, demisto, etc. e.g.: `organizations/1234/sources/5678/findings/123456/externalSystems/jira` `folders/1234/sources/5678/findings/123456/externalSystems/jira` `projects/1234/sources/5678/findings/123456/externalSystems/jira`"
        },
        "externalUid": {
          "description": "Identifier that's used to track the given finding in the external system.",
          "type": "string"
        }
      },
      "description": "Representation of third party SIEM/SOAR fields within SCC.",
      "id": "GoogleCloudSecuritycenterV1ExternalSystem"
    },
    "AccessReview": {
      "properties": {
        "version": {
          "type": "string",
          "description": "Version is the API Version of the Resource. \"*\" means all."
        },
        "group": {
          "type": "string",
          "description": "Group is the API Group of the Resource. \"*\" means all."
        },
        "subresource": {
          "description": "Subresource is the optional subresource type.",
          "type": "string"
        },
        "verb": {
          "type": "string",
          "description": "Verb is a Kubernetes resource API verb, like: get, list, watch, create, update, delete, proxy. \"*\" means all."
        },
        "resource": {
          "description": "Resource is the optional resource type requested. \"*\" means all.",
          "type": "string"
        },
        "name": {
          "description": "Name is the name of the resource being requested. Empty means all.",
          "type": "string"
        },
        "ns": {
          "type": "string",
          "description": "Namespace of the action being requested. Currently, there is no distinction between no namespace and all namespaces. Both are represented by \"\" (empty)."
        }
      },
      "id": "AccessReview",
      "type": "object",
      "description": "Conveys information about a Kubernetes access review (e.g. kubectl auth can-i ...) that was involved in a finding."
    },
    "MitreAttack": {
      "type": "object",
      "description": "MITRE ATT&CK tactics and techniques related to this finding. See: https://attack.mitre.org",
      "properties": {
        "primaryTactic": {
          "enumDescriptions": [
            "Unspecified value.",
            "TA0043",
            "TA0042",
            "TA0001",
            "TA0002",
            "TA0003",
            "TA0004",
            "TA0005",
            "TA0006",
            "TA0007",
            "TA0008",
            "TA0009",
            "TA0011",
            "TA0010",
            "TA0040"
          ],
          "type": "string",
          "enum": [
            "TACTIC_UNSPECIFIED",
            "RECONNAISSANCE",
            "RESOURCE_DEVELOPMENT",
            "INITIAL_ACCESS",
            "EXECUTION",
            "PERSISTENCE",
            "PRIVILEGE_ESCALATION",
            "DEFENSE_EVASION",
            "CREDENTIAL_ACCESS",
            "DISCOVERY",
            "LATERAL_MOVEMENT",
            "COLLECTION",
            "COMMAND_AND_CONTROL",
            "EXFILTRATION",
            "IMPACT"
          ],
          "description": "The MITRE ATT&CK tactic most closely represented by this finding, if any."
        },
        "version": {
          "description": "The MITRE ATT&CK version referenced by the above fields. E.g. \"8\".",
          "type": "string"
        },
        "additionalTechniques": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified value.",
              "T1595",
              "T1595.001",
              "T1105",
              "T1106",
              "T1129",
              "T1059",
              "T1059.004",
              "T1496",
              "T1090",
              "T1090.002",
              "T1090.003",
              "T1568",
              "T1552",
              "T1078",
              "T1078.003",
              "T1078.004",
              "T1498",
              "T1069",
              "T1069.003",
              "T1567",
              "T1567.002",
              "T1098",
              "T1098.004",
              "T1543",
              "T1539",
              "T1578",
              "T1190",
              "T1556",
              "T1485",
              "T1484",
              "T1562",
              "T1046",
              "T1134",
              "T1548"
            ],
            "enum": [
              "TECHNIQUE_UNSPECIFIED",
              "ACTIVE_SCANNING",
              "SCANNING_IP_BLOCKS",
              "INGRESS_TOOL_TRANSFER",
              "NATIVE_API",
              "SHARED_MODULES",
              "COMMAND_AND_SCRIPTING_INTERPRETER",
              "UNIX_SHELL",
              "RESOURCE_HIJACKING",
              "PROXY",
              "EXTERNAL_PROXY",
              "MULTI_HOP_PROXY",
              "DYNAMIC_RESOLUTION",
              "UNSECURED_CREDENTIALS",
              "VALID_ACCOUNTS",
              "LOCAL_ACCOUNTS",
              "CLOUD_ACCOUNTS",
              "NETWORK_DENIAL_OF_SERVICE",
              "PERMISSION_GROUPS_DISCOVERY",
              "CLOUD_GROUPS",
              "EXFILTRATION_OVER_WEB_SERVICE",
              "EXFILTRATION_TO_CLOUD_STORAGE",
              "ACCOUNT_MANIPULATION",
              "SSH_AUTHORIZED_KEYS",
              "CREATE_OR_MODIFY_SYSTEM_PROCESS",
              "STEAL_WEB_SESSION_COOKIE",
              "MODIFY_CLOUD_COMPUTE_INFRASTRUCTURE",
              "EXPLOIT_PUBLIC_FACING_APPLICATION",
              "MODIFY_AUTHENTICATION_PROCESS",
              "DATA_DESTRUCTION",
              "DOMAIN_POLICY_MODIFICATION",
              "IMPAIR_DEFENSES",
              "NETWORK_SERVICE_DISCOVERY",
              "ACCESS_TOKEN_MANIPULATION",
              "ABUSE_ELEVATION_CONTROL_MECHANISM"
            ]
          },
          "description": "Additional MITRE ATT&CK techniques related to this finding, if any, along with any of their respective parent techniques."
        },
        "additionalTactics": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Unspecified value.",
              "TA0043",
              "TA0042",
              "TA0001",
              "TA0002",
              "TA0003",
              "TA0004",
              "TA0005",
              "TA0006",
              "TA0007",
              "TA0008",
              "TA0009",
              "TA0011",
              "TA0010",
              "TA0040"
            ],
            "type": "string",
            "enum": [
              "TACTIC_UNSPECIFIED",
              "RECONNAISSANCE",
              "RESOURCE_DEVELOPMENT",
              "INITIAL_ACCESS",
              "EXECUTION",
              "PERSISTENCE",
              "PRIVILEGE_ESCALATION",
              "DEFENSE_EVASION",
              "CREDENTIAL_ACCESS",
              "DISCOVERY",
              "LATERAL_MOVEMENT",
              "COLLECTION",
              "COMMAND_AND_CONTROL",
              "EXFILTRATION",
              "IMPACT"
            ]
          },
          "description": "Additional MITRE ATT&CK tactics related to this finding, if any."
        },
        "primaryTechniques": {
          "description": "The MITRE ATT&CK technique most closely represented by this finding, if any. primary_techniques is a repeated field because there are multiple levels of MITRE ATT&CK techniques. If the technique most closely represented by this finding is a sub-technique (e.g. `SCANNING_IP_BLOCKS`), both the sub-technique and its parent technique(s) will be listed (e.g. `SCANNING_IP_BLOCKS`, `ACTIVE_SCANNING`).",
          "type": "array",
          "items": {
            "enum": [
              "TECHNIQUE_UNSPECIFIED",
              "ACTIVE_SCANNING",
              "SCANNING_IP_BLOCKS",
              "INGRESS_TOOL_TRANSFER",
              "NATIVE_API",
              "SHARED_MODULES",
              "COMMAND_AND_SCRIPTING_INTERPRETER",
              "UNIX_SHELL",
              "RESOURCE_HIJACKING",
              "PROXY",
              "EXTERNAL_PROXY",
              "MULTI_HOP_PROXY",
              "DYNAMIC_RESOLUTION",
              "UNSECURED_CREDENTIALS",
              "VALID_ACCOUNTS",
              "LOCAL_ACCOUNTS",
              "CLOUD_ACCOUNTS",
              "NETWORK_DENIAL_OF_SERVICE",
              "PERMISSION_GROUPS_DISCOVERY",
              "CLOUD_GROUPS",
              "EXFILTRATION_OVER_WEB_SERVICE",
              "EXFILTRATION_TO_CLOUD_STORAGE",
              "ACCOUNT_MANIPULATION",
              "SSH_AUTHORIZED_KEYS",
              "CREATE_OR_MODIFY_SYSTEM_PROCESS",
              "STEAL_WEB_SESSION_COOKIE",
              "MODIFY_CLOUD_COMPUTE_INFRASTRUCTURE",
              "EXPLOIT_PUBLIC_FACING_APPLICATION",
              "MODIFY_AUTHENTICATION_PROCESS",
              "DATA_DESTRUCTION",
              "DOMAIN_POLICY_MODIFICATION",
              "IMPAIR_DEFENSES",
              "NETWORK_SERVICE_DISCOVERY",
              "ACCESS_TOKEN_MANIPULATION",
              "ABUSE_ELEVATION_CONTROL_MECHANISM"
            ],
            "enumDescriptions": [
              "Unspecified value.",
              "T1595",
              "T1595.001",
              "T1105",
              "T1106",
              "T1129",
              "T1059",
              "T1059.004",
              "T1496",
              "T1090",
              "T1090.002",
              "T1090.003",
              "T1568",
              "T1552",
              "T1078",
              "T1078.003",
              "T1078.004",
              "T1498",
              "T1069",
              "T1069.003",
              "T1567",
              "T1567.002",
              "T1098",
              "T1098.004",
              "T1543",
              "T1539",
              "T1578",
              "T1190",
              "T1556",
              "T1485",
              "T1484",
              "T1562",
              "T1046",
              "T1134",
              "T1548"
            ],
            "type": "string"
          }
        }
      },
      "id": "MitreAttack"
    },
    "GoogleCloudSecuritycenterV1RunAssetDiscoveryResponse": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1RunAssetDiscoveryResponse",
      "properties": {
        "duration": {
          "description": "The duration between asset discovery run start and end",
          "format": "google-duration",
          "type": "string"
        },
        "state": {
          "description": "The state of an asset discovery run.",
          "enumDescriptions": [
            "Asset discovery run state was unspecified.",
            "Asset discovery run completed successfully.",
            "Asset discovery run was cancelled with tasks still pending, as another run for the same organization was started with a higher priority.",
            "Asset discovery run was killed and terminated."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "COMPLETED",
            "SUPERSEDED",
            "TERMINATED"
          ]
        }
      },
      "description": "Response of asset discovery run"
    },
    "Policy": {
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } **YAML example:** bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "type": "object",
      "id": "Policy",
      "properties": {
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "type": "string",
          "format": "byte"
        },
        "auditConfigs": {
          "type": "array",
          "items": {
            "$ref": "AuditConfig"
          },
          "description": "Specifies cloud audit logging configuration for this policy."
        },
        "bindings": {
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "type": "array",
          "items": {
            "$ref": "Binding"
          }
        },
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "Container": {
      "id": "Container",
      "properties": {
        "name": {
          "type": "string",
          "description": "Container name."
        },
        "imageId": {
          "description": "Optional container image id, when provided by the container runtime. Uniquely identifies the container image launched using a container image digest.",
          "type": "string"
        },
        "labels": {
          "items": {
            "$ref": "Label"
          },
          "type": "array",
          "description": "Container labels, as provided by the container runtime."
        },
        "uri": {
          "description": "Container image URI provided when configuring a pod/container. May identify a container image version using mutable tags.",
          "type": "string"
        }
      },
      "description": "Container associated with the finding.",
      "type": "object"
    },
    "ProcessSignature": {
      "type": "object",
      "id": "ProcessSignature",
      "properties": {
        "yaraRuleSignature": {
          "description": "Signature indicating that a YARA rule was matched.",
          "$ref": "YaraRuleSignature"
        },
        "memoryHashSignature": {
          "description": "Signature indicating that a binary family was matched.",
          "$ref": "MemoryHashSignature"
        }
      },
      "description": "Indicates what signature matched this process."
    },
    "SecurityMarks": {
      "description": "User specified security marks that are attached to the parent Security Command Center resource. Security marks are scoped within a Security Command Center organization -- they can be modified and viewed by all users who have proper permissions on the organization.",
      "type": "object",
      "id": "SecurityMarks",
      "properties": {
        "marks": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Mutable user specified security marks belonging to the parent resource. Constraints are as follows: * Keys and values are treated as case insensitive * Keys must be between 1 - 256 characters (inclusive) * Keys must be letters, numbers, underscores, or dashes * Values have leading and trailing whitespace trimmed, remaining characters must be between 1 - 4096 characters (inclusive)"
        },
        "canonicalName": {
          "description": "The canonical name of the marks. Examples: \"organizations/{organization_id}/assets/{asset_id}/securityMarks\" \"folders/{folder_id}/assets/{asset_id}/securityMarks\" \"projects/{project_number}/assets/{asset_id}/securityMarks\" \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}/securityMarks\" \"folders/{folder_id}/sources/{source_id}/findings/{finding_id}/securityMarks\" \"projects/{project_number}/sources/{source_id}/findings/{finding_id}/securityMarks\"",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The relative resource name of the SecurityMarks. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Examples: \"organizations/{organization_id}/assets/{asset_id}/securityMarks\" \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}/securityMarks\"."
        }
      }
    },
    "Compliance": {
      "type": "object",
      "id": "Compliance",
      "properties": {
        "version": {
          "type": "string",
          "description": "Version of the standard/benchmark e.g. 1.1"
        },
        "ids": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Policies within the standard/benchmark e.g. A.12.4.1"
        },
        "standard": {
          "description": "Refers to industry wide standards or benchmarks e.g. \"cis\", \"pci\", \"owasp\", etc.",
          "type": "string"
        }
      },
      "description": "Contains compliance information about a security standard indicating unmet recommendations."
    },
    "Detection": {
      "id": "Detection",
      "properties": {
        "binary": {
          "type": "string",
          "description": "The name of the binary associated with the memory hash signature detection."
        },
        "percentPagesMatched": {
          "type": "number",
          "description": "The percentage of memory page hashes in the signature that were matched.",
          "format": "double"
        }
      },
      "description": "Memory hash detection contributing to the binary family match.",
      "type": "object"
    },
    "Connection": {
      "description": "Contains information about the IP connection associated with the finding.",
      "type": "object",
      "id": "Connection",
      "properties": {
        "sourceIp": {
          "type": "string",
          "description": "Source IP address."
        },
        "protocol": {
          "enum": [
            "PROTOCOL_UNSPECIFIED",
            "ICMP",
            "TCP",
            "UDP",
            "GRE",
            "ESP"
          ],
          "enumDescriptions": [
            "Unspecified protocol (not HOPOPT).",
            "Internet Control Message Protocol.",
            "Transmission Control Protocol.",
            "User Datagram Protocol.",
            "Generic Routing Encapsulation.",
            "Encap Security Payload."
          ],
          "description": "IANA Internet Protocol Number such as TCP(6) and UDP(17).",
          "type": "string"
        },
        "destinationIp": {
          "description": "Destination IP address. Not present for sockets that are listening and not connected.",
          "type": "string"
        },
        "destinationPort": {
          "format": "int32",
          "type": "integer",
          "description": "Destination port. Not present for sockets that are listening and not connected."
        },
        "sourcePort": {
          "format": "int32",
          "description": "Source port.",
          "type": "integer"
        }
      }
    },
    "SecurityCenterProperties": {
      "type": "object",
      "description": "Security Command Center managed properties. These properties are managed by Security Command Center and cannot be modified by the user.",
      "id": "SecurityCenterProperties",
      "properties": {
        "resourceType": {
          "type": "string",
          "description": "The type of the Google Cloud resource. Examples include: APPLICATION, PROJECT, and ORGANIZATION. This is a case insensitive field defined by Security Command Center and/or the producer of the resource and is immutable after create time."
        },
        "resourceName": {
          "description": "Immutable. The full resource name of the Google Cloud resource this asset represents. This field is immutable after create time. See: https://cloud.google.com/apis/design/resource_names#full_resource_name",
          "type": "string"
        },
        "resourceParent": {
          "type": "string",
          "description": "The full resource name of the immediate parent of the resource. See: https://cloud.google.com/apis/design/resource_names#full_resource_name"
        },
        "resourceProject": {
          "type": "string",
          "description": "The full resource name of the project the resource belongs to. See: https://cloud.google.com/apis/design/resource_names#full_resource_name"
        },
        "resourceOwners": {
          "type": "array",
          "description": "Owners of the Google Cloud resource.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV1beta1RunAssetDiscoveryResponse": {
      "description": "Response of asset discovery run",
      "properties": {
        "duration": {
          "format": "google-duration",
          "type": "string",
          "description": "The duration between asset discovery run start and end"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Asset discovery run state was unspecified.",
            "Asset discovery run completed successfully.",
            "Asset discovery run was cancelled with tasks still pending, as another run for the same organization was started with a higher priority.",
            "Asset discovery run was killed and terminated."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "COMPLETED",
            "SUPERSEDED",
            "TERMINATED"
          ],
          "description": "The state of an asset discovery run."
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1beta1RunAssetDiscoveryResponse"
    },
    "PathNode": {
      "id": "PathNode",
      "description": "Represents one point that an attacker passes through in this exposure path.",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Human readable name of this resource."
        },
        "associatedFindings": {
          "type": "array",
          "description": "The findings associated with this node in the exposure path.",
          "items": {
            "$ref": "AssociatedFinding"
          }
        },
        "resource": {
          "type": "string",
          "description": "The name of the resource at this point in the exposure path. The format of the name is: https://cloud.google.com/apis/design/resource_names#full_resource_name"
        },
        "resourceType": {
          "type": "string",
          "description": "The resource type of this resource. See: https://cloud.google.com/asset-inventory/docs/supported-asset-types"
        }
      }
    },
    "GoogleCloudSecuritycenterV1p1beta1Folder": {
      "type": "object",
      "properties": {
        "resourceFolderDisplayName": {
          "type": "string",
          "description": "The user defined display name for this folder."
        },
        "resourceFolder": {
          "type": "string",
          "description": "Full resource name of this folder. See: https://cloud.google.com/apis/design/resource_names#full_resource_name"
        }
      },
      "description": "Message that contains the resource name and display name of a folder resource.",
      "id": "GoogleCloudSecuritycenterV1p1beta1Folder"
    },
    "GoogleCloudSecuritycenterV1Binding": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Name for binding."
        },
        "ns": {
          "type": "string",
          "description": "Namespace for binding."
        },
        "subjects": {
          "items": {
            "$ref": "Subject"
          },
          "description": "Represents the subjects(s) bound to the role. Not always available for PATCH requests.",
          "type": "array"
        },
        "role": {
          "description": "The Role or ClusterRole referenced by the binding.",
          "$ref": "Role"
        }
      },
      "description": "Represents a Kubernetes RoleBinding or ClusterRoleBinding.",
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1Binding"
    },
    "Indicator": {
      "description": "Represents what's commonly known as an Indicator of compromise (IoC) in computer forensics. This is an artifact observed on a network or in an operating system that, with high confidence, indicates a computer intrusion. Reference: https://en.wikipedia.org/wiki/Indicator_of_compromise",
      "id": "Indicator",
      "type": "object",
      "properties": {
        "uris": {
          "items": {
            "type": "string"
          },
          "description": "The list of URIs associated to the Findings.",
          "type": "array"
        },
        "ipAddresses": {
          "type": "array",
          "description": "List of ip addresses associated to the Finding.",
          "items": {
            "type": "string"
          }
        },
        "domains": {
          "type": "array",
          "description": "List of domains associated to the Finding.",
          "items": {
            "type": "string"
          }
        },
        "signatures": {
          "description": "The list of matched signatures indicating that the given process is present in the environment.",
          "type": "array",
          "items": {
            "$ref": "ProcessSignature"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV1ExposurePath": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Exposure Path Name e.g.: `organizations/123/attackExposureResults/456/exposurePaths/789`",
          "type": "string"
        },
        "pathNodes": {
          "type": "array",
          "items": {
            "$ref": "PathNode"
          },
          "description": "A list of nodes that exist in this exposure path."
        },
        "edges": {
          "type": "array",
          "items": {
            "$ref": "Edge"
          },
          "description": "A list of the edges between nodes in this exposure path."
        },
        "exposedResource": {
          "$ref": "GoogleCloudSecuritycenterV1ExposedResource",
          "description": "The leaf node of this exposure path."
        }
      },
      "id": "GoogleCloudSecuritycenterV1ExposurePath",
      "description": "A path that an attacker could take to reach an exposed resource."
    },
    "Cvssv3": {
      "description": "Common Vulnerability Scoring System version 3.",
      "id": "Cvssv3",
      "type": "object",
      "properties": {
        "attackVector": {
          "description": "Base Metrics Represents the intrinsic characteristics of a vulnerability that are constant over time and across user environments. This metric reflects the context by which vulnerability exploitation is possible.",
          "enum": [
            "ATTACK_VECTOR_UNSPECIFIED",
            "ATTACK_VECTOR_NETWORK",
            "ATTACK_VECTOR_ADJACENT",
            "ATTACK_VECTOR_LOCAL",
            "ATTACK_VECTOR_PHYSICAL"
          ],
          "enumDescriptions": [
            "Invalid value.",
            "The vulnerable component is bound to the network stack and the set of possible attackers extends beyond the other options listed below, up to and including the entire Internet.",
            "The vulnerable component is bound to the network stack, but the attack is limited at the protocol level to a logically adjacent topology.",
            "The vulnerable component is not bound to the network stack and the attacker's path is via read/write/execute capabilities.",
            "The attack requires the attacker to physically touch or manipulate the vulnerable component."
          ],
          "type": "string"
        },
        "integrityImpact": {
          "description": "This metric measures the impact to integrity of a successfully exploited vulnerability.",
          "enumDescriptions": [
            "Invalid value.",
            "High impact.",
            "Low impact.",
            "No impact."
          ],
          "type": "string",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ]
        },
        "userInteraction": {
          "type": "string",
          "description": "This metric captures the requirement for a human user, other than the attacker, to participate in the successful compromise of the vulnerable component.",
          "enum": [
            "USER_INTERACTION_UNSPECIFIED",
            "USER_INTERACTION_NONE",
            "USER_INTERACTION_REQUIRED"
          ],
          "enumDescriptions": [
            "Invalid value.",
            "The vulnerable system can be exploited without interaction from any user.",
            "Successful exploitation of this vulnerability requires a user to take some action before the vulnerability can be exploited."
          ]
        },
        "privilegesRequired": {
          "enumDescriptions": [
            "Invalid value.",
            "The attacker is unauthorized prior to attack, and therefore does not require any access to settings or files of the vulnerable system to carry out an attack.",
            "The attacker requires privileges that provide basic user capabilities that could normally affect only settings and files owned by a user. Alternatively, an attacker with Low privileges has the ability to access only non-sensitive resources.",
            "The attacker requires privileges that provide significant (e.g., administrative) control over the vulnerable component allowing access to component-wide settings and files."
          ],
          "description": "This metric describes the level of privileges an attacker must possess before successfully exploiting the vulnerability.",
          "type": "string",
          "enum": [
            "PRIVILEGES_REQUIRED_UNSPECIFIED",
            "PRIVILEGES_REQUIRED_NONE",
            "PRIVILEGES_REQUIRED_LOW",
            "PRIVILEGES_REQUIRED_HIGH"
          ]
        },
        "scope": {
          "enum": [
            "SCOPE_UNSPECIFIED",
            "SCOPE_UNCHANGED",
            "SCOPE_CHANGED"
          ],
          "enumDescriptions": [
            "Invalid value.",
            "An exploited vulnerability can only affect resources managed by the same security authority.",
            "An exploited vulnerability can affect resources beyond the security scope managed by the security authority of the vulnerable component."
          ],
          "type": "string",
          "description": "The Scope metric captures whether a vulnerability in one vulnerable component impacts resources in components beyond its security scope."
        },
        "baseScore": {
          "description": "The base score is a function of the base metric scores.",
          "format": "double",
          "type": "number"
        },
        "availabilityImpact": {
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Invalid value.",
            "High impact.",
            "Low impact.",
            "No impact."
          ],
          "description": "This metric measures the impact to the availability of the impacted component resulting from a successfully exploited vulnerability."
        },
        "attackComplexity": {
          "description": "This metric describes the conditions beyond the attacker's control that must exist in order to exploit the vulnerability.",
          "enum": [
            "ATTACK_COMPLEXITY_UNSPECIFIED",
            "ATTACK_COMPLEXITY_LOW",
            "ATTACK_COMPLEXITY_HIGH"
          ],
          "type": "string",
          "enumDescriptions": [
            "Invalid value.",
            "Specialized access conditions or extenuating circumstances do not exist. An attacker can expect repeatable success when attacking the vulnerable component.",
            "A successful attack depends on conditions beyond the attacker's control. That is, a successful attack cannot be accomplished at will, but requires the attacker to invest in some measurable amount of effort in preparation or execution against the vulnerable component before a successful attack can be expected."
          ]
        },
        "confidentialityImpact": {
          "description": "This metric measures the impact to the confidentiality of the information resources managed by a software component due to a successfully exploited vulnerability.",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Invalid value.",
            "High impact.",
            "Low impact.",
            "No impact."
          ]
        }
      }
    },
    "GroupFindingsResponse": {
      "type": "object",
      "properties": {
        "groupByResults": {
          "type": "array",
          "items": {
            "$ref": "GroupResult"
          },
          "description": "Group results. There exists an element for each existing unique combination of property/values. The element contains a count for the number of times those specific property/values appear."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results."
        },
        "readTime": {
          "description": "Time used for executing the groupBy request.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GroupFindingsResponse",
      "description": "Response message for group by findings."
    },
    "Asset": {
      "type": "object",
      "id": "Asset",
      "description": "Security Command Center representation of a Google Cloud resource. The Asset is a Security Command Center resource that captures information about a single Google Cloud resource. All modifications to an Asset are only within the context of Security Command Center and don't affect the referenced Google Cloud resource.",
      "properties": {
        "resourceProperties": {
          "type": "object",
          "additionalProperties": {
            "type": "any"
          },
          "description": "Resource managed properties. These properties are managed and defined by the Google Cloud resource and cannot be modified by the user."
        },
        "name": {
          "type": "string",
          "description": "The relative resource name of this asset. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Example: \"organizations/{organization_id}/assets/{asset_id}\"."
        },
        "securityMarks": {
          "$ref": "GoogleCloudSecuritycenterV1beta1SecurityMarks",
          "description": "User specified security marks. These marks are entirely managed by the user and come from the SecurityMarks resource that belongs to the asset."
        },
        "updateTime": {
          "description": "The time at which the asset was last updated, added, or deleted in Security Command Center.",
          "format": "google-datetime",
          "type": "string"
        },
        "securityCenterProperties": {
          "$ref": "SecurityCenterProperties",
          "description": "Security Command Center managed properties. These properties are managed by Security Command Center and cannot be modified by the user."
        },
        "createTime": {
          "description": "The time at which the asset was created in Security Command Center.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV1BulkMuteFindingsResponse": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudSecuritycenterV1BulkMuteFindingsResponse",
      "description": "The response to a BulkMute request. Contains the LRO information."
    },
    "GroupFindingsRequest": {
      "type": "object",
      "description": "Request message for grouping by findings.",
      "id": "GroupFindingsRequest",
      "properties": {
        "readTime": {
          "type": "string",
          "description": "Time used as a reference point when filtering findings. The filter is limited to findings existing at the supplied time and their values are those at that specific time. Absence of this field will default to the API's version of NOW.",
          "format": "google-datetime"
        },
        "groupBy": {
          "type": "string",
          "description": "Required. Expression that defines what assets fields to use for grouping (including `state`). The string value should follow SQL syntax: comma separated list of fields. For example: \"parent,resource_name\". The following fields are supported: * resource_name * category * state * parent"
        },
        "pageToken": {
          "type": "string",
          "description": "The value returned by the last `GroupFindingsResponse`; indicates that this is a continuation of a prior `GroupFindings` call, and that the system should return the next page of data."
        },
        "pageSize": {
          "type": "integer",
          "description": "The maximum number of results to return in a single response. Default is 10, minimum is 1, maximum is 1000.",
          "format": "int32"
        },
        "filter": {
          "description": "Expression that defines the filter to apply across findings. The expression is a list of one or more restrictions combined via logical operators `AND` and `OR`. Parentheses are not supported, and `OR` has higher precedence than `AND`. Restrictions have the form ` ` and may have a `-` character in front of them to indicate negation. Examples include: * name * source_properties.a_property * security_marks.marks.marka The supported operators are: * `=` for all value types. * `\u003e`, `\u003c`, `\u003e=`, `\u003c=` for integer values. * `:`, meaning substring matching, for strings. The supported value types are: * string literals in quotes. * integer literals without quotes. * boolean literals `true` and `false` without quotes. For example, `source_properties.size = 100` is a valid filter string.",
          "type": "string"
        }
      }
    },
    "Cve": {
      "properties": {
        "id": {
          "type": "string",
          "description": "The unique identifier for the vulnerability. e.g. CVE-2021-34527"
        },
        "cvssv3": {
          "description": "Describe Common Vulnerability Scoring System specified at https://www.first.org/cvss/v3.1/specification-document",
          "$ref": "Cvssv3"
        },
        "references": {
          "items": {
            "$ref": "Reference"
          },
          "description": "Additional information about the CVE. e.g. https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-34527",
          "type": "array"
        },
        "upstreamFixAvailable": {
          "description": "Whether upstream fix is available for the CVE.",
          "type": "boolean"
        }
      },
      "id": "Cve",
      "description": "CVE stands for Common Vulnerabilities and Exposures. More information: https://cve.mitre.org",
      "type": "object"
    },
    "ListAssetsResponse": {
      "id": "ListAssetsResponse",
      "properties": {
        "readTime": {
          "description": "Time used for executing the list request.",
          "type": "string",
          "format": "google-datetime"
        },
        "totalSize": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of assets matching the query."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results."
        },
        "listAssetsResults": {
          "description": "Assets matching the list request.",
          "items": {
            "$ref": "ListAssetsResult"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Response message for listing assets."
    },
    "GoogleCloudSecuritycenterV1p1beta1Finding": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1p1beta1Finding",
      "properties": {
        "securityMarks": {
          "description": "Output only. User specified security marks. These marks are entirely managed by the user and come from the SecurityMarks resource that belongs to the finding.",
          "$ref": "GoogleCloudSecuritycenterV1p1beta1SecurityMarks",
          "readOnly": true
        },
        "createTime": {
          "description": "The time at which the finding was created in Security Command Center.",
          "format": "google-datetime",
          "type": "string"
        },
        "sourceProperties": {
          "description": "Source specific properties. These properties are managed by the source that writes the finding. The key names in the source_properties map must be between 1 and 255 characters, and must start with a letter and contain alphanumeric characters or underscores only.",
          "type": "object",
          "additionalProperties": {
            "type": "any"
          }
        },
        "externalUri": {
          "type": "string",
          "description": "The URI that, if available, points to a web page outside of Security Command Center where additional information about the finding can be found. This field is guaranteed to be either empty or a well formed URL."
        },
        "category": {
          "type": "string",
          "description": "The additional taxonomy group within findings from a given source. This field is immutable after creation time. Example: \"XSS_FLASH_INJECTION\""
        },
        "resourceName": {
          "type": "string",
          "description": "For findings on Google Cloud resources, the full resource name of the Google Cloud resource this finding is for. See: https://cloud.google.com/apis/design/resource_names#full_resource_name When the finding is for a non-Google Cloud resource, the resourceName can be a customer or partner defined string. This field is immutable after creation time."
        },
        "eventTime": {
          "type": "string",
          "description": "The time at which the event took place, or when an update to the finding occurred. For example, if the finding represents an open firewall it would capture the time the detector believes the firewall became open. The accuracy is determined by the detector. If the finding were to be resolved afterward, this time would reflect when the finding was resolved. Must not be set to a value greater than the current timestamp.",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "The relative resource name of this finding. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Example: \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}\""
        },
        "parent": {
          "description": "The relative resource name of the source the finding belongs to. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name This field is immutable after creation time. For example: \"organizations/{organization_id}/sources/{source_id}\"",
          "type": "string"
        },
        "severity": {
          "type": "string",
          "description": "The severity of the finding. This field is managed by the source that writes the finding.",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "enumDescriptions": [
            "No severity specified. The default value.",
            "Critical severity.",
            "High severity.",
            "Medium severity.",
            "Low severity."
          ]
        },
        "canonicalName": {
          "type": "string",
[...]
