{
  "canonicalName": "Security Command Center",
  "id": "securitycenter:v1",
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "revision": "20221205",
  "name": "securitycenter",
  "description": "Security Command Center API provides access to temporal views of assets and findings within an organization.",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "documentationLink": "https://cloud.google.com/security-command-center",
  "version": "v1",
  "parameters": {
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "type": "string",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    }
  },
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "basePath": "",
  "rootUrl": "https://securitycenter.googleapis.com/",
  "baseUrl": "https://securitycenter.googleapis.com/",
  "mtlsRootUrl": "https://securitycenter.mtls.googleapis.com/",
  "servicePath": "",
  "schemas": {
    "OrganizationSettings": {
      "description": "User specified settings that are attached to the Security Command Center organization.",
      "id": "OrganizationSettings",
      "type": "object",
      "properties": {
        "enableAssetDiscovery": {
          "type": "boolean",
          "description": "A flag that indicates if Asset Discovery should be enabled. If the flag is set to `true`, then discovery of assets will occur. If it is set to `false, all historical assets will remain, but discovery of future assets will not occur."
        },
        "assetDiscoveryConfig": {
          "description": "The configuration used for Asset Discovery runs.",
          "$ref": "AssetDiscoveryConfig"
        },
        "name": {
          "description": "The relative resource name of the settings. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Example: \"organizations/{organization_id}/organizationSettings\".",
          "type": "string"
        }
      }
    },
    "Resource": {
      "type": "object",
      "properties": {
        "folders": {
          "items": {
            "$ref": "Folder"
          },
          "description": "Contains a Folder message for each folder in the assets ancestry. The first folder is the deepest nested folder, and the last folder is the folder directly under the Organization.",
          "type": "array"
        },
        "projectName": {
          "description": "The full resource name of project that the resource belongs to.",
          "type": "string"
        },
        "projectDisplayName": {
          "description": "The project ID that the resource belongs to.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The human readable name of the resource."
        },
        "type": {
          "type": "string",
          "description": "The full resource type of the resource."
        },
        "parentName": {
          "description": "The full resource name of resource's parent.",
          "type": "string"
        },
        "name": {
          "description": "The full resource name of the resource. See: https://cloud.google.com/apis/design/resource_names#full_resource_name",
          "type": "string"
        },
        "parentDisplayName": {
          "description": "The human readable name of resource's parent.",
          "type": "string"
        }
      },
      "description": "Information related to the Google Cloud resource that is associated with this finding.",
      "id": "Resource"
    },
    "Pod": {
      "description": "Kubernetes Pod.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Kubernetes Pod name."
        },
        "containers": {
          "description": "Pod containers associated with this finding, if any.",
          "type": "array",
          "items": {
            "$ref": "Container"
          }
        },
        "labels": {
          "type": "array",
          "description": "Pod labels. For Kubernetes containers, these are applied to the container.",
          "items": {
            "$ref": "Label"
          }
        },
        "ns": {
          "type": "string",
          "description": "Kubernetes Pod namespace."
        }
      },
      "id": "Pod",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1p1beta1NotificationMessage": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1p1beta1NotificationMessage",
      "description": "Security Command Center's Notification",
      "properties": {
        "notificationConfigName": {
          "type": "string",
          "description": "Name of the notification config that generated current notification."
        },
        "finding": {
          "description": "If it's a Finding based notification config, this field will be populated.",
          "$ref": "GoogleCloudSecuritycenterV1p1beta1Finding"
        },
        "resource": {
          "$ref": "GoogleCloudSecuritycenterV1p1beta1Resource",
          "description": "The Cloud resource tied to the notification."
        }
      }
    },
    "SecurityMarks": {
      "id": "SecurityMarks",
      "description": "User specified security marks that are attached to the parent Security Command Center resource. Security marks are scoped within a Security Command Center organization -- they can be modified and viewed by all users who have proper permissions on the organization.",
      "properties": {
        "name": {
          "description": "The relative resource name of the SecurityMarks. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Examples: \"organizations/{organization_id}/assets/{asset_id}/securityMarks\" \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}/securityMarks\".",
          "type": "string"
        },
        "canonicalName": {
          "description": "The canonical name of the marks. Examples: \"organizations/{organization_id}/assets/{asset_id}/securityMarks\" \"folders/{folder_id}/assets/{asset_id}/securityMarks\" \"projects/{project_number}/assets/{asset_id}/securityMarks\" \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}/securityMarks\" \"folders/{folder_id}/sources/{source_id}/findings/{finding_id}/securityMarks\" \"projects/{project_number}/sources/{source_id}/findings/{finding_id}/securityMarks\"",
          "type": "string"
        },
        "marks": {
          "description": "Mutable user specified security marks belonging to the parent resource. Constraints are as follows: * Keys and values are treated as case insensitive * Keys must be between 1 - 256 characters (inclusive) * Keys must be letters, numbers, underscores, or dashes * Values have leading and trailing whitespace trimmed, remaining characters must be between 1 - 4096 characters (inclusive)",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "Finding": {
      "properties": {
        "database": {
          "$ref": "Database",
          "description": "Database associated with the finding."
        },
        "files": {
          "type": "array",
          "description": "File associated with the finding.",
          "items": {
            "$ref": "File"
          }
        },
        "indicator": {
          "$ref": "Indicator",
          "description": "Represents what's commonly known as an Indicator of compromise (IoC) in computer forensics. This is an artifact observed on a network or in an operating system that, with high confidence, indicates a computer intrusion. Reference: https://en.wikipedia.org/wiki/Indicator_of_compromise"
        },
        "securityMarks": {
          "$ref": "SecurityMarks",
          "description": "Output only. User specified security marks. These marks are entirely managed by the user and come from the SecurityMarks resource that belongs to the finding.",
          "readOnly": true
        },
        "parent": {
          "description": "The relative resource name of the source the finding belongs to. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name This field is immutable after creation time. For example: \"organizations/{organization_id}/sources/{source_id}\"",
          "type": "string"
        },
        "vulnerability": {
          "$ref": "Vulnerability",
          "description": "Represents vulnerability-specific fields like CVE and CVS scores. CVE stands for Common Vulnerabilities and Exposures (https://cve.mitre.org/about/)"
        },
        "createTime": {
          "type": "string",
          "description": "The time at which the finding was created in Security Command Center.",
          "format": "google-datetime"
        },
        "mitreAttack": {
          "description": "MITRE ATT&CK tactics and techniques related to this finding. See: https://attack.mitre.org",
          "$ref": "MitreAttack"
        },
        "mute": {
          "description": "Indicates the mute state of a finding (either muted, unmuted or undefined). Unlike other attributes of a finding, a finding provider shouldn't set the value of mute.",
          "enumDescriptions": [
            "Unspecified.",
            "Finding has been muted.",
            "Finding has been unmuted.",
            "Finding has never been muted/unmuted."
          ],
          "enum": [
            "MUTE_UNSPECIFIED",
            "MUTED",
            "UNMUTED",
            "UNDEFINED"
          ],
          "type": "string"
        },
        "description": {
          "description": "Contains more detail about the finding.",
          "type": "string"
        },
        "compliances": {
          "type": "array",
          "description": "Contains compliance information for security standards associated to the finding.",
          "items": {
            "$ref": "Compliance"
          }
        },
        "kernelRootkit": {
          "description": "Kernel Rootkit signature.",
          "$ref": "KernelRootkit"
        },
        "externalUri": {
          "description": "The URI that, if available, points to a web page outside of Security Command Center where additional information about the finding can be found. This field is guaranteed to be either empty or a well formed URL.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "description": "The state of the finding.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "enumDescriptions": [
            "Unspecified state.",
            "The finding requires attention and has not been addressed yet.",
            "The finding has been fixed, triaged as a non-issue or otherwise addressed and is no longer active."
          ]
        },
        "category": {
          "description": "The additional taxonomy group within findings from a given source. This field is immutable after creation time. Example: \"XSS_FLASH_INJECTION\"",
          "type": "string"
        },
        "containers": {
          "description": "Containers associated with the finding. containers provides information for both Kubernetes and non-Kubernetes containers.",
          "type": "array",
          "items": {
            "$ref": "Container"
          }
        },
        "resourceName": {
          "type": "string",
          "description": "For findings on Google Cloud resources, the full resource name of the Google Cloud resource this finding is for. See: https://cloud.google.com/apis/design/resource_names#full_resource_name When the finding is for a non-Google Cloud resource, the resourceName can be a customer or partner defined string. This field is immutable after creation time."
        },
        "iamBindings": {
          "type": "array",
          "description": "Represents IAM bindings associated with the Finding.",
          "items": {
            "$ref": "IamBinding"
          }
        },
        "processes": {
          "type": "array",
          "description": "Represents operating system processes associated with the Finding.",
          "items": {
            "$ref": "Process"
          }
        },
        "nextSteps": {
          "description": "Next steps associate to the finding.",
          "type": "string"
        },
        "parentDisplayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The human readable display name of the finding source such as \"Event Threat Detection\" or \"Security Health Analytics\"."
        },
        "contacts": {
          "readOnly": true,
          "type": "object",
          "description": "Output only. Map containing the points of contact for the given finding. The key represents the type of contact, while the value contains a list of all the contacts that pertain. Please refer to: https://cloud.google.com/resource-manager/docs/managing-notification-contacts#notification-categories { \"security\": { \"contacts\": [ { \"email\": \"person1@company.com\" }, { \"email\": \"person2@company.com\" } ] } }",
          "additionalProperties": {
            "$ref": "ContactDetails"
          }
        },
        "exfiltration": {
          "$ref": "Exfiltration",
          "description": "Represents exfiltration associated with the Finding."
        },
        "kubernetes": {
          "$ref": "Kubernetes",
          "description": "Kubernetes resources associated with the finding."
        },
        "severity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "enumDescriptions": [
            "This value is used for findings when a source doesn't write a severity value.",
            "Vulnerability: A critical vulnerability is easily discoverable by an external actor, exploitable, and results in the direct ability to execute arbitrary code, exfiltrate data, and otherwise gain additional access and privileges to cloud resources and workloads. Examples include publicly accessible unprotected user data, public SSH access with weak or no passwords, etc. Threat: Indicates a threat that is able to access, modify, or delete data or execute unauthorized code within existing resources.",
            "Vulnerability: A high risk vulnerability can be easily discovered and exploited in combination with other vulnerabilities in order to gain direct access and the ability to execute arbitrary code, exfiltrate data, and otherwise gain additional access and privileges to cloud resources and workloads. An example is a database with weak or no passwords that is only accessible internally. This database could easily be compromised by an actor that had access to the internal network. Threat: Indicates a threat that is able to create new computational resources in an environment but not able to access data or execute code in existing resources.",
            "Vulnerability: A medium risk vulnerability could be used by an actor to gain access to resources or privileges that enable them to eventually (through multiple steps or a complex exploit) gain access and the ability to execute arbitrary code or exfiltrate data. An example is a service account with access to more projects than it should have. If an actor gains access to the service account, they could potentially use that access to manipulate a project the service account was not intended to. Threat: Indicates a threat that is able to cause operational impact but may not access data or execute unauthorized code.",
            "Vulnerability: A low risk vulnerability hampers a security organization's ability to detect vulnerabilities or active threats in their deployment, or prevents the root cause investigation of security issues. An example is monitoring and logs being disabled for resource configurations and access. Threat: Indicates a threat that has obtained minimal access to an environment but is not able to access data, execute code, or create resources."
          ],
          "description": "The severity of the finding. This field is managed by the source that writes the finding.",
          "type": "string"
        },
        "eventTime": {
          "description": "The time the finding was first detected. If an existing finding is updated, then this is the time the update occurred. For example, if the finding represents an open firewall, this property captures the time the detector believes the firewall became open. The accuracy is determined by the detector. If the finding is later resolved, then this time reflects when the finding was resolved. This must not be set to a value greater than the current timestamp.",
          "format": "google-datetime",
          "type": "string"
        },
        "findingClass": {
          "enumDescriptions": [
            "Unspecified finding class.",
            "Describes unwanted or malicious activity.",
            "Describes a potential weakness in software that increases risk to Confidentiality & Integrity & Availability.",
            "Describes a potential weakness in cloud resource/asset configuration that increases risk.",
            "Describes a security observation that is for informational purposes.",
            "Describes an error that prevents some SCC functionality."
          ],
          "type": "string",
          "enum": [
            "FINDING_CLASS_UNSPECIFIED",
            "THREAT",
            "VULNERABILITY",
            "MISCONFIGURATION",
            "OBSERVATION",
            "SCC_ERROR"
          ],
          "description": "The class of the finding."
        },
        "connections": {
          "description": "Contains information about the IP connection associated with the finding.",
          "type": "array",
          "items": {
            "$ref": "Connection"
          }
        },
        "muteUpdateTime": {
          "readOnly": true,
          "description": "Output only. The most recent time this finding was muted or unmuted.",
          "format": "google-datetime",
          "type": "string"
        },
        "muteInitiator": {
          "type": "string",
          "description": "First known as mute_annotation. Records additional information about the mute operation e.g. mute config that muted the finding, user who muted the finding, etc. Unlike other attributes of a finding, a finding provider shouldn't set the value of mute."
        },
        "externalSystems": {
          "additionalProperties": {
            "$ref": "GoogleCloudSecuritycenterV1ExternalSystem"
          },
          "type": "object",
          "description": "Output only. Third party SIEM/SOAR fields within SCC, contains external system information and external system finding fields.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "The relative resource name of this finding. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Example: \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}\""
        },
        "sourceProperties": {
          "type": "object",
          "description": "Source specific properties. These properties are managed by the source that writes the finding. The key names in the source_properties map must be between 1 and 255 characters, and must start with a letter and contain alphanumeric characters or underscores only.",
          "additionalProperties": {
            "type": "any"
          }
        },
        "canonicalName": {
          "type": "string",
          "description": "The canonical name of the finding. It's either \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}\", \"folders/{folder_id}/sources/{source_id}/findings/{finding_id}\" or \"projects/{project_number}/sources/{source_id}/findings/{finding_id}\", depending on the closest CRM ancestor of the resource associated with the finding."
        },
        "access": {
          "$ref": "Access",
          "description": "Access details associated to the Finding, such as more information on the caller, which method was accessed, from where, etc."
        }
      },
      "id": "Finding",
      "type": "object",
      "description": "Security Command Center finding. A finding is a record of assessment data like security, risk, health, or privacy, that is ingested into Security Command Center for presentation, notification, analysis, policy testing, and enforcement. For example, a cross-site scripting (XSS) vulnerability in an App Engine application is a finding."
    },
    "SetFindingStateRequest": {
      "id": "SetFindingStateRequest",
      "description": "Request message for updating a finding's state. The [relative resource name](https://cloud.google.com/apis/design/resource_names#relative_resource_name) of the finding. Example: \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}\", \"folders/{folder_id}/sources/{source_id}/findings/{finding_id}\", \"projects/{project_id}/sources/{source_id}/findings/{finding_id}\".",
      "properties": {
        "startTime": {
          "type": "string",
          "description": "Required. The time at which the updated state takes effect.",
          "format": "google-datetime"
        },
        "state": {
          "description": "Required. The desired State of the finding.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "enumDescriptions": [
            "Unspecified state.",
            "The finding requires attention and has not been addressed yet.",
            "The finding has been fixed, triaged as a non-issue or otherwise addressed and is no longer active."
          ]
        }
      },
      "type": "object"
    },
    "Folder": {
      "description": "Message that contains the resource name and display name of a folder resource.",
      "id": "Folder",
      "properties": {
        "resourceFolder": {
          "description": "Full resource name of this folder. See: https://cloud.google.com/apis/design/resource_names#full_resource_name",
          "type": "string"
        },
        "resourceFolderDisplayName": {
          "description": "The user defined display name for this folder.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Container": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Container name."
        },
        "uri": {
          "type": "string",
          "description": "Container image URI provided when configuring a pod/container. May identify a container image version using mutable tags."
        },
        "labels": {
          "items": {
            "$ref": "Label"
          },
          "type": "array",
          "description": "Container labels, as provided by the container runtime."
        },
        "imageId": {
          "description": "Optional container image id, when provided by the container runtime. Uniquely identifies the container image launched using a container image digest.",
          "type": "string"
        }
      },
      "description": "Container associated with the finding.",
      "id": "Container"
    },
    "Process": {
      "type": "object",
      "description": "Represents an operating system process.",
      "properties": {
        "script": {
          "$ref": "File",
          "description": "When the process represents the invocation of a script, `binary` provides information about the interpreter while `script` provides information about the script file provided to the interpreter."
        },
        "binary": {
          "$ref": "File",
          "description": "File information for the process executable."
        },
        "name": {
          "description": "The process name visible in utilities like `top` and `ps`; it can be accessed via `/proc/[pid]/comm` and changed with `prctl(PR_SET_NAME)`.",
          "type": "string"
        },
        "envVariables": {
          "type": "array",
          "description": "Process environment variables.",
          "items": {
            "$ref": "EnvironmentVariable"
          }
        },
        "args": {
          "items": {
            "type": "string"
          },
          "description": "Process arguments as JSON encoded strings.",
          "type": "array"
        },
        "libraries": {
          "description": "File information for libraries loaded by the process.",
          "items": {
            "$ref": "File"
          },
          "type": "array"
        },
        "parentPid": {
          "format": "int64",
          "type": "string",
          "description": "The parent process id."
        },
        "pid": {
          "format": "int64",
          "description": "The process id.",
          "type": "string"
        },
        "argumentsTruncated": {
          "description": "True if `args` is incomplete.",
          "type": "boolean"
        },
        "envVariablesTruncated": {
          "description": "True if `env_variables` is incomplete.",
          "type": "boolean"
        }
      },
      "id": "Process"
    },
    "Database": {
      "properties": {
        "grantees": {
          "items": {
            "type": "string"
          },
          "description": "The target usernames/roles/groups of a SQL privilege grant (not an IAM policy change).",
          "type": "array"
        },
        "userName": {
          "type": "string",
          "description": "The username used to connect to the DB. This may not necessarily be an IAM principal, and has no required format."
        },
        "name": {
          "type": "string",
          "description": "The full resource name of the database the user connected to, if it is supported by CAI. (https://google.aip.dev/122#full-resource-names)"
        },
        "displayName": {
          "description": "The human readable name of the database the user connected to.",
          "type": "string"
        },
        "query": {
          "type": "string",
          "description": "The SQL statement associated with the relevant access."
        }
      },
      "id": "Database",
      "description": "Represents database access information, such as queries. A database may be a sub-resource of an instance (as in the case of CloudSQL instances or Cloud Spanner instances), or the database instance itself. Some database resources may not have the full resource name populated because these resource types are not yet supported by Cloud Asset Inventory (e.g. CloudSQL databases). In these cases only the display name will be provided.",
      "type": "object"
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "type": "array"
        },
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        }
      },
      "id": "Status"
    },
    "GoogleCloudSecuritycenterV1beta1RunAssetDiscoveryResponse": {
      "id": "GoogleCloudSecuritycenterV1beta1RunAssetDiscoveryResponse",
      "properties": {
        "duration": {
          "format": "google-duration",
          "description": "The duration between asset discovery run start and end",
          "type": "string"
        },
        "state": {
          "description": "The state of an asset discovery run.",
          "enum": [
            "STATE_UNSPECIFIED",
            "COMPLETED",
            "SUPERSEDED",
            "TERMINATED"
          ],
          "enumDescriptions": [
            "Asset discovery run state was unspecified.",
            "Asset discovery run completed successfully.",
            "Asset discovery run was cancelled with tasks still pending, as another run for the same organization was started with a higher priority.",
            "Asset discovery run was killed and terminated."
          ],
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response of asset discovery run"
    },
    "Node": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Full Resource name of the Compute Engine VM running the cluster node."
        }
      },
      "type": "object",
      "id": "Node",
      "description": "Kubernetes Nodes associated with the finding."
    },
    "GroupFindingsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results.",
          "type": "string"
        },
        "readTime": {
          "format": "google-datetime",
          "description": "Time used for executing the groupBy request.",
          "type": "string"
        },
        "groupByResults": {
          "description": "Group results. There exists an element for each existing unique combination of property/values. The element contains a count for the number of times those specific property/values appear.",
          "items": {
            "$ref": "GroupResult"
          },
          "type": "array"
        },
        "totalSize": {
          "type": "integer",
          "description": "The total number of results matching the query.",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "Response message for group by findings.",
      "id": "GroupFindingsResponse"
    },
    "GoogleCloudSecuritycenterV1RunAssetDiscoveryResponse": {
      "properties": {
        "duration": {
          "format": "google-duration",
          "type": "string",
          "description": "The duration between asset discovery run start and end"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "COMPLETED",
            "SUPERSEDED",
            "TERMINATED"
          ],
          "description": "The state of an asset discovery run.",
          "enumDescriptions": [
            "Asset discovery run state was unspecified.",
            "Asset discovery run completed successfully.",
            "Asset discovery run was cancelled with tasks still pending, as another run for the same organization was started with a higher priority.",
            "Asset discovery run was killed and terminated."
          ]
        }
      },
      "type": "object",
      "description": "Response of asset discovery run",
      "id": "GoogleCloudSecuritycenterV1RunAssetDiscoveryResponse"
    },
    "File": {
      "id": "File",
      "description": "File information about the related binary/library used by an executable, or the script used by a script interpreter",
      "properties": {
        "size": {
          "format": "int64",
          "description": "Size of the file in bytes.",
          "type": "string"
        },
        "hashedSize": {
          "type": "string",
          "format": "int64",
          "description": "The length in bytes of the file prefix that was hashed. If hashed_size == size, any hashes reported represent the entire file."
        },
        "contents": {
          "description": "Prefix of the file contents as a JSON encoded string. (Currently only populated for Malicious Script Executed findings.)",
          "type": "string"
        },
        "sha256": {
          "type": "string",
          "description": "SHA256 hash of the first hashed_size bytes of the file encoded as a hex string. If hashed_size == size, sha256 represents the SHA256 hash of the entire file."
        },
        "path": {
          "type": "string",
          "description": "Absolute path of the file as a JSON encoded string."
        },
        "partiallyHashed": {
          "type": "boolean",
          "description": "True when the hash covers only a prefix of the file."
        }
      },
      "type": "object"
    },
    "Reference": {
      "id": "Reference",
      "type": "object",
      "description": "Additional Links",
      "properties": {
        "source": {
          "type": "string",
          "description": "Source of the reference e.g. NVD"
        },
        "uri": {
          "description": "Uri for the mentioned source e.g. https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-34527.",
          "type": "string"
        }
      }
    },
    "GroupAssetsResponse": {
      "description": "Response message for grouping by assets.",
      "properties": {
        "readTime": {
          "type": "string",
          "description": "Time used for executing the groupBy request.",
          "format": "google-datetime"
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results.",
          "type": "string"
        },
        "groupByResults": {
          "type": "array",
          "description": "Group results. There exists an element for each existing unique combination of property/values. The element contains a count for the number of times those specific property/values appear.",
          "items": {
            "$ref": "GroupResult"
          }
        },
        "totalSize": {
          "description": "The total number of results matching the query.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "GroupAssetsResponse"
    },
    "IamPolicy": {
      "properties": {
        "policyBlob": {
          "description": "The JSON representation of the Policy associated with the asset. See https://cloud.google.com/iam/reference/rest/v1/Policy for format details.",
          "type": "string"
        }
      },
      "description": "Cloud IAM Policy information associated with the Google Cloud resource described by the Security Command Center asset. This information is managed and defined by the Google Cloud resource and cannot be modified by the user.",
      "id": "IamPolicy",
      "type": "object"
    },
    "Geolocation": {
      "id": "Geolocation",
      "type": "object",
      "description": "Represents a geographical location for a given access.",
      "properties": {
        "regionCode": {
          "type": "string",
          "description": "A CLDR."
        }
      }
    },
    "GoogleCloudSecuritycenterV1ExposurePath": {
      "description": "A path that an attacker could take to reach an exposed resource.",
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1ExposurePath",
      "properties": {
        "pathNodes": {
          "items": {
            "$ref": "PathNode"
          },
          "description": "A list of nodes that exist in this exposure path.",
          "type": "array"
        },
        "edges": {
          "type": "array",
          "items": {
            "$ref": "Edge"
          },
          "description": "A list of the edges between nodes in this exposure path."
        },
        "exposedResource": {
          "description": "The leaf node of this exposure path.",
          "$ref": "GoogleCloudSecuritycenterV1ExposedResource"
        },
        "name": {
          "description": "Exposure Path Name e.g.: `organizations/123/attackExposureResults/456/exposurePaths/789`",
          "type": "string"
        }
      }
    },
    "Edge": {
      "properties": {
        "source": {
          "type": "string",
          "description": "This is the resource name of the source node."
        },
        "destination": {
          "type": "string",
          "description": "This is the resource name of the destination node."
        }
      },
      "id": "Edge",
      "type": "object",
      "description": "Represents a connection between a source node and a destination node in this exposure path."
    },
    "NotificationConfig": {
      "type": "object",
      "properties": {
        "pubsubTopic": {
          "type": "string",
          "description": "The Pub/Sub topic to send notifications to. Its format is \"projects/[project_id]/topics/[topic]\"."
        },
        "name": {
          "type": "string",
          "description": "The relative resource name of this notification config. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Example: \"organizations/{organization_id}/notificationConfigs/notify_public_bucket\", \"folders/{folder_id}/notificationConfigs/notify_public_bucket\", or \"projects/{project_id}/notificationConfigs/notify_public_bucket\"."
        },
        "streamingConfig": {
          "description": "The config for triggering streaming-based notifications.",
          "$ref": "StreamingConfig"
        },
        "serviceAccount": {
          "readOnly": true,
          "description": "Output only. The service account that needs \"pubsub.topics.publish\" permission to publish to the Pub/Sub topic.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "The description of the notification config (max of 1024 characters)."
        }
      },
      "id": "NotificationConfig",
      "description": "Cloud Security Command Center (Cloud SCC) notification configs. A notification config is a Cloud SCC resource that contains the configuration to send notifications for create/update events of findings, assets and etc."
    },
    "ListFindingsResult": {
      "description": "Result containing the Finding and its StateChange.",
      "id": "ListFindingsResult",
      "type": "object",
      "properties": {
        "stateChange": {
          "type": "string",
          "enum": [
            "UNUSED",
            "CHANGED",
            "UNCHANGED",
            "ADDED",
            "REMOVED"
          ],
          "enumDescriptions": [
            "State change is unused, this is the canonical default for this enum.",
            "The finding has changed state in some way between the points in time and existed at both points.",
            "The finding has not changed state between the points in time and existed at both points.",
            "The finding was created between the points in time.",
            "The finding at timestamp does not match the filter specified, but it did at timestamp - compare_duration."
          ],
          "description": "State change of the finding between the points in time."
        },
        "finding": {
          "description": "Finding matching the search request.",
          "$ref": "Finding"
        },
        "resource": {
          "$ref": "Resource",
          "description": "Output only. Resource that is associated with this finding.",
          "readOnly": true
        }
      }
    },
    "SetIamPolicyRequest": {
      "id": "SetIamPolicyRequest",
      "type": "object",
      "properties": {
        "updateMask": {
          "format": "google-fieldmask",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "type": "string"
        },
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        }
      },
      "description": "Request message for `SetIamPolicy` method."
    },
    "ContactDetails": {
      "properties": {
        "contacts": {
          "description": "A list of contacts",
          "type": "array",
          "items": {
            "$ref": "Contact"
          }
        }
      },
      "id": "ContactDetails",
      "type": "object",
      "description": "The details pertaining to specific contacts"
    },
    "Kubernetes": {
      "id": "Kubernetes",
      "type": "object",
      "description": "Kubernetes related attributes.",
      "properties": {
        "nodes": {
          "description": "Provides Kubernetes Node information.",
          "items": {
            "$ref": "Node"
          },
          "type": "array"
        },
        "bindings": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1Binding"
          },
          "description": "Provides Kubernetes role binding information for findings that involve RoleBindings or ClusterRoleBindings."
        },
        "pods": {
          "description": "Kubernetes Pods associated with the finding. This field will contain Pod records for each container that is owned by a Pod.",
          "items": {
            "$ref": "Pod"
          },
          "type": "array"
        },
        "nodePools": {
          "description": "GKE Node Pools associated with the finding. This field will contain NodePool information for each Node, when it is available.",
          "items": {
            "$ref": "NodePool"
          },
          "type": "array"
        },
        "roles": {
          "type": "array",
          "items": {
            "$ref": "Role"
          },
          "description": "Provides Kubernetes role information for findings that involve Roles or ClusterRoles."
        },
        "accessReviews": {
          "items": {
            "$ref": "AccessReview"
          },
          "type": "array",
          "description": "Provides information on any Kubernetes access reviews (i.e. privilege checks) relevant to the finding."
        }
      }
    },
    "Access": {
      "id": "Access",
      "type": "object",
      "description": "Represents an access event.",
      "properties": {
        "serviceName": {
          "description": "This is the API service that the service account made a call to, e.g. \"iam.googleapis.com\"",
          "type": "string"
        },
        "serviceAccountDelegationInfo": {
          "type": "array",
          "description": "Identity delegation history of an authenticated service account that makes the request. It contains information on the real authorities that try to access GCP resources by delegating on a service account. When multiple authorities are present, they are guaranteed to be sorted based on the original ordering of the identity delegation events.",
          "items": {
            "$ref": "ServiceAccountDelegationInfo"
          }
        },
        "callerIpGeo": {
          "$ref": "Geolocation",
          "description": "The caller IP's geolocation, which identifies where the call came from."
        },
        "serviceAccountKeyName": {
          "description": "The name of the service account key used to create or exchange credentials for authenticating the service account making the request. This is a scheme-less URI full resource name. For example: \"//iam.googleapis.com/projects/{PROJECT_ID}/serviceAccounts/{ACCOUNT}/keys/{key}\" ",
          "type": "string"
        },
        "methodName": {
          "type": "string",
          "description": "The method that the service account called, e.g. \"SetIamPolicy\"."
        },
        "userAgentFamily": {
          "type": "string",
          "description": "What kind of user agent is associated, e.g. operating system shells, embedded or stand-alone applications, etc."
        },
        "callerIp": {
          "description": "Caller's IP address, such as \"1.1.1.1\".",
          "type": "string"
        },
        "principalSubject": {
          "type": "string",
          "description": "A string representing the principal_subject associated with the identity. As compared to `principal_email`, supports principals that aren't associated with email addresses, such as third party principals. For most identities, the format will be `principal://iam.googleapis.com/{identity pool name}/subjects/{subject}` except for some GKE identities (GKE_WORKLOAD, FREEFORM, GKE_HUB_WORKLOAD) that are still in the legacy format `serviceAccount:{identity pool name}[{subject}]`"
        },
        "principalEmail": {
          "description": "Associated email, such as \"foo@google.com\". The email address of the authenticated user (or service account on behalf of third party principal) making the request. For third party identity callers, the `principal_subject` field is populated instead of this field. For privacy reasons, the principal email address is sometimes redacted. For more information, see [Caller identities in audit logs](https://cloud.google.com/logging/docs/audit#user-id).",
          "type": "string"
        },
        "userName": {
          "description": "A string representing a username. This is likely not an IAM principal. For instance, this may be the system user name if the finding is VM-related, or this may be some type of application login user name, depending on the type of finding.",
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV1NotificationMessage": {
      "id": "GoogleCloudSecuritycenterV1NotificationMessage",
      "properties": {
        "notificationConfigName": {
          "description": "Name of the notification config that generated current notification.",
          "type": "string"
        },
        "resource": {
          "$ref": "GoogleCloudSecuritycenterV1Resource",
          "description": "The Cloud resource tied to this notification's Finding."
        },
        "finding": {
          "$ref": "Finding",
          "description": "If it's a Finding based notification config, this field will be populated."
        }
      },
      "description": "Cloud SCC's Notification",
      "type": "object"
    },
    "Compliance": {
      "id": "Compliance",
      "properties": {
        "standard": {
          "type": "string",
          "description": "Refers to industry wide standards or benchmarks e.g. \"cis\", \"pci\", \"owasp\", etc."
        },
        "version": {
          "type": "string",
          "description": "Version of the standard/benchmark e.g. 1.1"
        },
        "ids": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Policies within the standard/benchmark e.g. A.12.4.1"
        }
      },
      "type": "object",
      "description": "Contains compliance information about a security standard indicating unmet recommendations."
    },
    "GetPolicyOptions": {
      "type": "object",
      "description": "Encapsulates settings provided to GetIamPolicy.",
      "properties": {
        "requestedPolicyVersion": {
          "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GetPolicyOptions"
    },
    "GoogleCloudSecuritycenterV1MuteConfig": {
      "id": "GoogleCloudSecuritycenterV1MuteConfig",
      "description": "A mute config is a Cloud SCC resource that contains the configuration to mute create/update events of findings.",
      "properties": {
        "updateTime": {
          "type": "string",
          "description": "Output only. The most recent time at which the mute config was updated. This field is set by the server and will be ignored if provided on config creation or update.",
          "format": "google-datetime",
          "readOnly": true
        },
        "filter": {
          "description": "Required. An expression that defines the filter to apply across create/update events of findings. While creating a filter string, be mindful of the scope in which the mute configuration is being created. E.g., If a filter contains project = X but is created under the project = Y scope, it might not match any findings. The following field and operator combinations are supported: * severity: `=`, `:` * category: `=`, `:` * resource.name: `=`, `:` * resource.project_name: `=`, `:` * resource.project_display_name: `=`, `:` * resource.folders.resource_folder: `=`, `:` * resource.parent_name: `=`, `:` * resource.parent_display_name: `=`, `:` * resource.type: `=`, `:` * finding_class: `=`, `:` * indicator.ip_addresses: `=`, `:` * indicator.domains: `=`, `:`",
          "type": "string"
        },
        "displayName": {
          "description": "The human readable name to be displayed for the mute config.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time at which the mute config was created. This field is set by the server and will be ignored if provided on config creation.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "mostRecentEditor": {
          "description": "Output only. Email address of the user who last edited the mute config. This field is set by the server and will be ignored if provided on config creation or update.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "This field will be ignored if provided on config creation. Format \"organizations/{organization}/muteConfigs/{mute_config}\" \"folders/{folder}/muteConfigs/{mute_config}\" \"projects/{project}/muteConfigs/{mute_config}\""
        },
        "description": {
          "description": "A description of the mute config.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "TestIamPermissionsRequest": {
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
        }
      },
      "id": "TestIamPermissionsRequest",
      "description": "Request message for `TestIamPermissions` method.",
      "type": "object"
    },
    "SecurityCenterProperties": {
      "id": "SecurityCenterProperties",
      "type": "object",
      "description": "Security Command Center managed properties. These properties are managed by Security Command Center and cannot be modified by the user.",
      "properties": {
        "resourceParentDisplayName": {
          "description": "The user defined display name for the parent of this resource.",
          "type": "string"
        },
        "resourceProject": {
          "type": "string",
          "description": "The full resource name of the project the resource belongs to. See: https://cloud.google.com/apis/design/resource_names#full_resource_name"
        },
        "resourceDisplayName": {
          "type": "string",
          "description": "The user defined display name for this resource."
        },
        "resourceProjectDisplayName": {
          "type": "string",
          "description": "The user defined display name for the project of this resource."
        },
        "folders": {
          "description": "Contains a Folder message for each folder in the assets ancestry. The first folder is the deepest nested folder, and the last folder is the folder directly under the Organization.",
          "type": "array",
          "items": {
            "$ref": "Folder"
          }
        },
        "resourceType": {
          "description": "The type of the Google Cloud resource. Examples include: APPLICATION, PROJECT, and ORGANIZATION. This is a case insensitive field defined by Security Command Center and/or the producer of the resource and is immutable after create time.",
          "type": "string"
        },
        "resourceParent": {
          "description": "The full resource name of the immediate parent of the resource. See: https://cloud.google.com/apis/design/resource_names#full_resource_name",
          "type": "string"
        },
        "resourceName": {
          "type": "string",
          "description": "The full resource name of the Google Cloud resource this asset represents. This field is immutable after create time. See: https://cloud.google.com/apis/design/resource_names#full_resource_name"
        },
        "resourceOwners": {
          "description": "Owners of the Google Cloud resource.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "BulkMuteFindingsRequest": {
      "properties": {
        "muteAnnotation": {
          "type": "string",
          "description": "This can be a mute configuration name or any identifier for mute/unmute of findings based on the filter."
        },
        "filter": {
          "description": "Expression that identifies findings that should be updated. The expression is a list of zero or more restrictions combined via logical operators `AND` and `OR`. Parentheses are supported, and `OR` has higher precedence than `AND`. Restrictions have the form ` ` and may have a `-` character in front of them to indicate negation. The fields map to those defined in the corresponding resource. The supported operators are: * `=` for all value types. * `\u003e`, `\u003c`, `\u003e=`, `\u003c=` for integer values. * `:`, meaning substring matching, for strings. The supported value types are: * string literals in quotes. * integer literals without quotes. * boolean literals `true` and `false` without quotes.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "BulkMuteFindingsRequest",
      "description": "Request message for bulk findings update. Note: 1. If multiple bulk update requests match the same resource, the order in which they get executed is not defined. 2. Once a bulk operation is started, there is no way to stop it."
    },
    "GoogleCloudSecuritycenterV1ResourceValueConfig": {
      "id": "GoogleCloudSecuritycenterV1ResourceValueConfig",
      "type": "object",
      "properties": {
        "resourceValue": {
          "type": "string",
          "description": "Required. Resource value level this expression represents",
          "enum": [
            "RESOURCE_VALUE_UNSPECIFIED",
            "HIGH",
            "MEDIUM",
            "LOW",
            "NONE"
          ],
          "enumDescriptions": [
            "Unspecific value",
            "High resource value",
            "Medium resource value",
            "Low resource value",
            "No resource value, e.g. ignore these resources"
          ]
        },
        "name": {
          "description": "Name for the resource value config",
          "type": "string"
        },
        "tagValues": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. Tag values combined with AND to check against. Values in the form \"tagValues/123\" E.g. [ \"tagValues/123\", \"tagValues/456\", \"tagValues/789\" ] https://cloud.google.com/resource-manager/docs/tags/tags-creating-and-managing"
        },
        "scope": {
          "type": "string",
          "description": "Project or folder to scope this config to. For example, \"project/456\" would apply this config only to resources in \"project/456\" scope will be checked with \"AND\" of other resources."
        },
        "resourceType": {
          "type": "string",
          "description": "Apply resource_value only to resources that match resource_type. resource_type will be checked with \"AND\" of other resources. E.g. \"storage.googleapis.com/Bucket\" with resource_value \"HIGH\" will apply \"HIGH\" value only to \"storage.googleapis.com/Bucket\" resources."
        }
      },
      "description": "A resource value config is a mapping configuration of user's tag values to resource values. Used by the attack path simulation."
    },
    "GoogleCloudSecuritycenterV1p1beta1Resource": {
      "type": "object",
      "properties": {
        "projectDisplayName": {
          "description": "The project id that the resource belongs to.",
          "type": "string"
        },
        "project": {
          "description": "The full resource name of project that the resource belongs to.",
          "type": "string"
        },
        "folders": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. Contains a Folder message for each folder in the assets ancestry. The first folder is the deepest nested folder, and the last folder is the folder directly under the Organization.",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1p1beta1Folder"
          }
        },
        "name": {
          "description": "The full resource name of the resource. See: https://cloud.google.com/apis/design/resource_names#full_resource_name",
          "type": "string"
        },
        "parentDisplayName": {
          "description": "The human readable name of resource's parent.",
          "type": "string"
        },
        "parent": {
          "description": "The full resource name of resource's parent.",
          "type": "string"
        }
      },
      "description": "Information related to the Google Cloud resource.",
      "id": "GoogleCloudSecuritycenterV1p1beta1Resource"
    },
    "Role": {
      "id": "Role",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Role name."
        },
        "kind": {
          "enum": [
            "KIND_UNSPECIFIED",
            "ROLE",
            "CLUSTER_ROLE"
          ],
          "description": "Role type.",
          "type": "string",
          "enumDescriptions": [
            "Role type is not specified.",
            "Kubernetes Role.",
            "Kubernetes ClusterRole."
          ]
        },
        "ns": {
          "type": "string",
          "description": "Role namespace."
        }
      },
      "description": "Kubernetes Role or ClusterRole."
    },
    "ListNotificationConfigsResponse": {
      "description": "Response message for listing notification configs.",
      "type": "object",
      "id": "ListNotificationConfigsResponse",
      "properties": {
        "notificationConfigs": {
          "type": "array",
          "description": "Notification configs belonging to the requested parent.",
          "items": {
            "$ref": "NotificationConfig"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results."
        }
      }
    },
    "GetIamPolicyRequest": {
      "description": "Request message for `GetIamPolicy` method.",
      "properties": {
        "options": {
          "$ref": "GetPolicyOptions",
          "description": "OPTIONAL: A `GetPolicyOptions` object for specifying options to `GetIamPolicy`."
        }
      },
      "id": "GetIamPolicyRequest",
      "type": "object"
    },
    "Detection": {
      "type": "object",
      "description": "Memory hash detection contributing to the binary family match.",
      "id": "Detection",
      "properties": {
        "binary": {
          "type": "string",
          "description": "The name of the binary associated with the memory hash signature detection."
        },
        "percentPagesMatched": {
          "format": "double",
          "type": "number",
          "description": "The percentage of memory page hashes in the signature that were matched."
        }
      }
    },
    "GoogleCloudSecuritycenterV1p1beta1SecurityMarks": {
      "description": "User specified security marks that are attached to the parent Security Command Center resource. Security marks are scoped within a Security Command Center organization -- they can be modified and viewed by all users who have proper permissions on the organization.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The relative resource name of the SecurityMarks. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Examples: \"organizations/{organization_id}/assets/{asset_id}/securityMarks\" \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}/securityMarks\"."
        },
        "canonicalName": {
          "type": "string",
          "description": "The canonical name of the marks. Examples: \"organizations/{organization_id}/assets/{asset_id}/securityMarks\" \"folders/{folder_id}/assets/{asset_id}/securityMarks\" \"projects/{project_number}/assets/{asset_id}/securityMarks\" \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}/securityMarks\" \"folders/{folder_id}/sources/{source_id}/findings/{finding_id}/securityMarks\" \"projects/{project_number}/sources/{source_id}/findings/{finding_id}/securityMarks\""
        },
        "marks": {
          "description": "Mutable user specified security marks belonging to the parent resource. Constraints are as follows: * Keys and values are treated as case insensitive * Keys must be between 1 - 256 characters (inclusive) * Keys must be letters, numbers, underscores, or dashes * Values have leading and trailing whitespace trimmed, remaining characters must be between 1 - 4096 characters (inclusive)",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "id": "GoogleCloudSecuritycenterV1p1beta1SecurityMarks",
      "type": "object"
    },
    "Vulnerability": {
      "properties": {
        "cve": {
          "description": "CVE stands for Common Vulnerabilities and Exposures (https://cve.mitre.org/about/)",
          "$ref": "Cve"
        }
      },
      "description": "Refers to common vulnerability fields e.g. cve, cvss, cwe etc.",
      "id": "Vulnerability",
      "type": "object"
    },
    "Contact": {
      "description": "Representa a single contact's email address",
      "id": "Contact",
      "type": "object",
      "properties": {
        "email": {
          "description": "An email address e.g. \"person123@company.com\"",
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV1Resource": {
      "properties": {
        "parentDisplayName": {
          "description": "The human readable name of resource's parent.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The human readable name of the resource."
        },
        "project": {
          "description": "The full resource name of project that the resource belongs to.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "The full resource type of the resource."
        },
        "projectDisplayName": {
          "description": "The project ID that the resource belongs to.",
          "type": "string"
        },
        "folders": {
          "description": "Output only. Contains a Folder message for each folder in the assets ancestry. The first folder is the deepest nested folder, and the last folder is the folder directly under the Organization.",
          "items": {
            "$ref": "Folder"
          },
          "readOnly": true,
          "type": "array"
        },
        "parent": {
          "type": "string",
          "description": "The full resource name of resource's parent."
        },
        "name": {
          "type": "string",
          "description": "The full resource name of the resource. See: https://cloud.google.com/apis/design/resource_names#full_resource_name"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1Resource",
      "description": "Information related to the Google Cloud resource."
    },
    "Label": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Label name."
        },
        "value": {
          "type": "string",
          "description": "Label value."
        }
      },
      "id": "Label",
      "description": "Label represents a generic name=value label. Label has separate name and value fields to support filtering with contains().",
      "type": "object"
    },
    "Subject": {
      "type": "object",
      "id": "Subject",
      "description": "Represents a Kubernetes Subject.",
      "properties": {
        "ns": {
          "description": "Namespace for subject.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name for subject."
        },
        "kind": {
          "description": "Authentication type for subject.",
          "enumDescriptions": [
            "Authentication is not specified.",
            "User with valid certificate.",
            "Users managed by Kubernetes API with credentials stored as Secrets.",
            "Collection of users."
          ],
          "type": "string",
          "enum": [
            "AUTH_TYPE_UNSPECIFIED",
            "USER",
            "SERVICEACCOUNT",
            "GROUP"
          ]
        }
      }
    },
    "ProcessSignature": {
      "properties": {
        "memoryHashSignature": {
          "$ref": "MemoryHashSignature",
          "description": "Signature indicating that a binary family was matched."
        },
        "yaraRuleSignature": {
          "$ref": "YaraRuleSignature",
          "description": "Signature indicating that a YARA rule was matched."
        }
      },
      "description": "Indicates what signature matched this process.",
      "type": "object",
      "id": "ProcessSignature"
    },
    "ListMuteConfigsResponse": {
      "type": "object",
      "description": "Response message for listing mute configs.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "muteConfigs": {
          "type": "array",
          "description": "The mute configs from the specified parent.",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
          }
        }
      },
      "id": "ListMuteConfigsResponse"
    },
    "ListOperationsResponse": {
      "type": "object",
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          }
        }
      }
    },
    "EnvironmentVariable": {
      "id": "EnvironmentVariable",
      "properties": {
        "val": {
          "description": "Environment variable value as a JSON encoded string.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Environment variable name as a JSON encoded string."
        }
      },
      "type": "object",
      "description": "EnvironmentVariable is a name-value pair to store environment variables for Process."
    },
    "ListBigQueryExportsResponse": {
      "description": "Response message for listing BigQuery exports.",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "bigQueryExports": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1BigQueryExport"
          },
          "description": "The BigQuery exports from the specified parent."
        }
      },
      "type": "object",
      "id": "ListBigQueryExportsResponse"
    },
    "ExfilResource": {
      "type": "object",
      "id": "ExfilResource",
      "properties": {
        "name": {
          "description": "Resource's URI (https://google.aip.dev/122#full-resource-names)",
          "type": "string"
        },
        "components": {
          "items": {
            "type": "string"
          },
          "description": "Subcomponents of the asset that is exfiltrated - these could be URIs used during exfiltration, table names, databases, filenames, etc. For example, multiple tables may be exfiltrated from the same CloudSQL instance, or multiple files from the same Cloud Storage bucket.",
          "type": "array"
        }
      },
      "description": "Resource that has been exfiltrated or exfiltrated_to."
    },
    "AuditConfig": {
      "id": "AuditConfig",
      "type": "object",
      "properties": {
        "service": {
          "type": "string",
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
        },
        "auditLogConfigs": {
          "items": {
            "$ref": "AuditLogConfig"
          },
          "description": "The configuration for logging of each type of permission.",
          "type": "array"
        }
      },
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging."
    },
    "AccessReview": {
      "type": "object",
      "id": "AccessReview",
      "properties": {
        "subresource": {
          "description": "Subresource is the optional subresource type.",
          "type": "string"
        },
        "resource": {
          "type": "string",
          "description": "Resource is the optional resource type requested. \"*\" means all."
        },
        "ns": {
          "type": "string",
          "description": "Namespace of the action being requested. Currently, there is no distinction between no namespace and all namespaces. Both are represented by \"\" (empty)."
        },
        "name": {
          "type": "string",
          "description": "Name is the name of the resource being requested. Empty means all."
        },
        "version": {
          "type": "string",
          "description": "Version is the API Version of the Resource. \"*\" means all."
        },
        "verb": {
          "description": "Verb is a Kubernetes resource API verb, like: get, list, watch, create, update, delete, proxy. \"*\" means all.",
          "type": "string"
        },
        "group": {
          "description": "Group is the API Group of the Resource. \"*\" means all.",
          "type": "string"
        }
      },
      "description": "Conveys information about a Kubernetes access review (e.g. kubectl auth can-i ...) that was involved in a finding."
    },
    "StreamingConfig": {
      "id": "StreamingConfig",
      "properties": {
        "filter": {
          "type": "string",
          "description": "Expression that defines the filter to apply across create/update events of assets or findings as specified by the event type. The expression is a list of zero or more restrictions combined via logical operators `AND` and `OR`. Parentheses are supported, and `OR` has higher precedence than `AND`. Restrictions have the form ` ` and may have a `-` character in front of them to indicate negation. The fields map to those defined in the corresponding resource. The supported operators are: * `=` for all value types. * `\u003e`, `\u003c`, `\u003e=`, `\u003c=` for integer values. * `:`, meaning substring matching, for strings. The supported value types are: * string literals in quotes. * integer literals without quotes. * boolean literals `true` and `false` without quotes."
        }
      },
      "description": "The config for streaming-based notifications, which send each event as soon as it is detected.",
      "type": "object"
    },
    "Operation": {
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        }
      },
      "id": "Operation"
    },
    "AuditLogConfig": {
      "type": "object",
      "properties": {
        "exemptedMembers": {
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "logType": {
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "description": "The log type that this config enables.",
          "type": "string"
        }
      },
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "id": "AuditLogConfig"
    },
    "PathNode": {
      "description": "Represents one point that an attacker passes through in this exposure path.",
      "type": "object",
      "id": "PathNode",
      "properties": {
        "resource": {
          "type": "string",
          "description": "The name of the resource at this point in the exposure path. The format of the name is: https://cloud.google.com/apis/design/resource_names#full_resource_name"
        },
        "resourceType": {
          "type": "string",
          "description": "The resource type of this resource. See: https://cloud.google.com/asset-inventory/docs/supported-asset-types"
        },
        "associatedFindings": {
          "type": "array",
          "items": {
            "$ref": "AssociatedFinding"
          },
          "description": "The findings associated with this node in the exposure path."
        },
        "displayName": {
          "description": "Human readable name of this resource.",
          "type": "string"
        }
      }
    },
    "Asset": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The relative resource name of this asset. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Example: \"organizations/{organization_id}/assets/{asset_id}\"."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which the asset was last updated or added in Cloud SCC."
        },
        "securityMarks": {
          "description": "User specified security marks. These marks are entirely managed by the user and come from the SecurityMarks resource that belongs to the asset.",
          "$ref": "SecurityMarks"
        },
        "createTime": {
          "description": "The time at which the asset was created in Security Command Center.",
          "format": "google-datetime",
          "type": "string"
        },
        "securityCenterProperties": {
          "description": "Security Command Center managed properties. These properties are managed by Security Command Center and cannot be modified by the user.",
          "$ref": "SecurityCenterProperties"
        },
        "canonicalName": {
          "type": "string",
          "description": "The canonical name of the resource. It's either \"organizations/{organization_id}/assets/{asset_id}\", \"folders/{folder_id}/assets/{asset_id}\" or \"projects/{project_number}/assets/{asset_id}\", depending on the closest CRM ancestor of the resource."
        },
        "resourceProperties": {
          "additionalProperties": {
            "type": "any"
          },
          "type": "object",
          "description": "Resource managed properties. These properties are managed and defined by the Google Cloud resource and cannot be modified by the user."
        },
        "iamPolicy": {
          "$ref": "IamPolicy",
          "description": "Cloud IAM Policy information associated with the Google Cloud resource described by the Security Command Center asset. This information is managed and defined by the Google Cloud resource and cannot be modified by the user."
        }
      },
      "description": "Security Command Center representation of a Google Cloud resource. The Asset is a Security Command Center resource that captures information about a single Google Cloud resource. All modifications to an Asset are only within the context of Security Command Center and don't affect the referenced Google Cloud resource.",
      "id": "Asset",
      "type": "object"
    },
    "Empty": {
      "type": "object",
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "GoogleCloudSecuritycenterV1ExternalSystem": {
      "id": "GoogleCloudSecuritycenterV1ExternalSystem",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Full resource name of the external system, for example: \"organizations/1234/sources/5678/findings/123456/externalSystems/jira\", \"folders/1234/sources/5678/findings/123456/externalSystems/jira\", \"projects/1234/sources/5678/findings/123456/externalSystems/jira\""
        },
        "assignees": {
          "description": "References primary/secondary etc assignees in the external system.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "status": {
          "type": "string",
          "description": "Most recent status of the corresponding finding's ticket/tracker in the external system."
        },
        "externalSystemUpdateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The most recent time when the corresponding finding's ticket/tracker was updated in the external system."
        },
        "externalUid": {
          "type": "string",
          "description": "Identifier that's used to track the given finding in the external system."
        }
      },
      "description": "Representation of third party SIEM/SOAR fields within SCC."
    },
    "MitreAttack": {
      "id": "MitreAttack",
      "properties": {
        "additionalTechniques": {
          "description": "Additional MITRE ATT&CK techniques related to this finding, if any, along with any of their respective parent techniques.",
          "type": "array",
          "items": {
            "enum": [
              "TECHNIQUE_UNSPECIFIED",
              "ACTIVE_SCANNING",
              "SCANNING_IP_BLOCKS",
              "INGRESS_TOOL_TRANSFER",
              "NATIVE_API",
              "SHARED_MODULES",
              "COMMAND_AND_SCRIPTING_INTERPRETER",
              "UNIX_SHELL",
              "RESOURCE_HIJACKING",
              "PROXY",
              "EXTERNAL_PROXY",
              "MULTI_HOP_PROXY",
              "DYNAMIC_RESOLUTION",
              "UNSECURED_CREDENTIALS",
              "VALID_ACCOUNTS",
              "LOCAL_ACCOUNTS",
              "CLOUD_ACCOUNTS",
              "NETWORK_DENIAL_OF_SERVICE",
              "PERMISSION_GROUPS_DISCOVERY",
              "CLOUD_GROUPS",
              "EXFILTRATION_OVER_WEB_SERVICE",
              "EXFILTRATION_TO_CLOUD_STORAGE",
              "ACCOUNT_MANIPULATION",
              "SSH_AUTHORIZED_KEYS",
              "CREATE_OR_MODIFY_SYSTEM_PROCESS",
              "STEAL_WEB_SESSION_COOKIE",
              "MODIFY_CLOUD_COMPUTE_INFRASTRUCTURE",
              "EXPLOIT_PUBLIC_FACING_APPLICATION",
              "MODIFY_AUTHENTICATION_PROCESS",
              "DATA_DESTRUCTION",
              "DOMAIN_POLICY_MODIFICATION",
              "IMPAIR_DEFENSES",
              "NETWORK_SERVICE_DISCOVERY",
              "ACCESS_TOKEN_MANIPULATION",
              "ABUSE_ELEVATION_CONTROL_MECHANISM",
              "DEFAULT_ACCOUNTS"
            ],
            "type": "string",
            "enumDescriptions": [
              "Unspecified value.",
              "T1595",
              "T1595.001",
              "T1105",
              "T1106",
              "T1129",
              "T1059",
              "T1059.004",
              "T1496",
              "T1090",
              "T1090.002",
              "T1090.003",
              "T1568",
              "T1552",
              "T1078",
              "T1078.003",
              "T1078.004",
              "T1498",
              "T1069",
              "T1069.003",
              "T1567",
              "T1567.002",
              "T1098",
              "T1098.004",
              "T1543",
              "T1539",
              "T1578",
              "T1190",
              "T1556",
              "T1485",
              "T1484",
              "T1562",
              "T1046",
              "T1134",
              "T1548",
              "T1078.001"
            ]
          }
        },
        "primaryTechniques": {
          "description": "The MITRE ATT&CK technique most closely represented by this finding, if any. primary_techniques is a repeated field because there are multiple levels of MITRE ATT&CK techniques. If the technique most closely represented by this finding is a sub-technique (e.g. `SCANNING_IP_BLOCKS`), both the sub-technique and its parent technique(s) will be listed (e.g. `SCANNING_IP_BLOCKS`, `ACTIVE_SCANNING`).",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified value.",
              "T1595",
              "T1595.001",
              "T1105",
              "T1106",
              "T1129",
              "T1059",
              "T1059.004",
              "T1496",
              "T1090",
              "T1090.002",
              "T1090.003",
              "T1568",
              "T1552",
              "T1078",
              "T1078.003",
              "T1078.004",
              "T1498",
              "T1069",
              "T1069.003",
              "T1567",
              "T1567.002",
              "T1098",
              "T1098.004",
              "T1543",
              "T1539",
              "T1578",
              "T1190",
              "T1556",
              "T1485",
              "T1484",
              "T1562",
              "T1046",
              "T1134",
              "T1548",
              "T1078.001"
            ],
            "enum": [
              "TECHNIQUE_UNSPECIFIED",
              "ACTIVE_SCANNING",
              "SCANNING_IP_BLOCKS",
              "INGRESS_TOOL_TRANSFER",
              "NATIVE_API",
              "SHARED_MODULES",
              "COMMAND_AND_SCRIPTING_INTERPRETER",
              "UNIX_SHELL",
              "RESOURCE_HIJACKING",
              "PROXY",
              "EXTERNAL_PROXY",
              "MULTI_HOP_PROXY",
              "DYNAMIC_RESOLUTION",
              "UNSECURED_CREDENTIALS",
              "VALID_ACCOUNTS",
              "LOCAL_ACCOUNTS",
              "CLOUD_ACCOUNTS",
              "NETWORK_DENIAL_OF_SERVICE",
              "PERMISSION_GROUPS_DISCOVERY",
              "CLOUD_GROUPS",
              "EXFILTRATION_OVER_WEB_SERVICE",
              "EXFILTRATION_TO_CLOUD_STORAGE",
              "ACCOUNT_MANIPULATION",
              "SSH_AUTHORIZED_KEYS",
              "CREATE_OR_MODIFY_SYSTEM_PROCESS",
              "STEAL_WEB_SESSION_COOKIE",
              "MODIFY_CLOUD_COMPUTE_INFRASTRUCTURE",
              "EXPLOIT_PUBLIC_FACING_APPLICATION",
              "MODIFY_AUTHENTICATION_PROCESS",
              "DATA_DESTRUCTION",
              "DOMAIN_POLICY_MODIFICATION",
              "IMPAIR_DEFENSES",
              "NETWORK_SERVICE_DISCOVERY",
              "ACCESS_TOKEN_MANIPULATION",
              "ABUSE_ELEVATION_CONTROL_MECHANISM",
              "DEFAULT_ACCOUNTS"
            ]
          }
        },
        "primaryTactic": {
          "enum": [
            "TACTIC_UNSPECIFIED",
            "RECONNAISSANCE",
            "RESOURCE_DEVELOPMENT",
            "INITIAL_ACCESS",
            "EXECUTION",
            "PERSISTENCE",
            "PRIVILEGE_ESCALATION",
            "DEFENSE_EVASION",
            "CREDENTIAL_ACCESS",
            "DISCOVERY",
            "LATERAL_MOVEMENT",
            "COLLECTION",
            "COMMAND_AND_CONTROL",
            "EXFILTRATION",
            "IMPACT"
          ],
          "enumDescriptions": [
            "Unspecified value.",
            "TA0043",
            "TA0042",
            "TA0001",
            "TA0002",
            "TA0003",
            "TA0004",
            "TA0005",
            "TA0006",
            "TA0007",
            "TA0008",
            "TA0009",
            "TA0011",
            "TA0010",
            "TA0040"
          ],
          "type": "string",
          "description": "The MITRE ATT&CK tactic most closely represented by this finding, if any."
        },
        "additionalTactics": {
          "description": "Additional MITRE ATT&CK tactics related to this finding, if any.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Unspecified value.",
              "TA0043",
              "TA0042",
              "TA0001",
              "TA0002",
              "TA0003",
              "TA0004",
              "TA0005",
              "TA0006",
              "TA0007",
              "TA0008",
              "TA0009",
              "TA0011",
              "TA0010",
              "TA0040"
            ],
            "enum": [
              "TACTIC_UNSPECIFIED",
              "RECONNAISSANCE",
              "RESOURCE_DEVELOPMENT",
              "INITIAL_ACCESS",
              "EXECUTION",
              "PERSISTENCE",
              "PRIVILEGE_ESCALATION",
              "DEFENSE_EVASION",
              "CREDENTIAL_ACCESS",
              "DISCOVERY",
              "LATERAL_MOVEMENT",
              "COLLECTION",
              "COMMAND_AND_CONTROL",
              "EXFILTRATION",
              "IMPACT"
            ],
            "type": "string"
          }
        },
        "version": {
          "type": "string",
          "description": "The MITRE ATT&CK version referenced by the above fields. E.g. \"8\"."
        }
      },
      "type": "object",
      "description": "MITRE ATT&CK tactics and techniques related to this finding. See: https://attack.mitre.org"
    },
    "GoogleCloudSecuritycenterV1p1beta1Folder": {
      "type": "object",
      "description": "Message that contains the resource name and display name of a folder resource.",
      "id": "GoogleCloudSecuritycenterV1p1beta1Folder",
      "properties": {
        "resourceFolder": {
          "type": "string",
          "description": "Full resource name of this folder. See: https://cloud.google.com/apis/design/resource_names#full_resource_name"
        },
        "resourceFolderDisplayName": {
          "type": "string",
          "description": "The user defined display name for this folder."
        }
      }
    },
    "GoogleCloudSecuritycenterV1Binding": {
      "id": "GoogleCloudSecuritycenterV1Binding",
      "properties": {
        "name": {
          "description": "Name for binding.",
          "type": "string"
        },
        "ns": {
          "type": "string",
          "description": "Namespace for binding."
        },
        "role": {
          "$ref": "Role",
          "description": "The Role or ClusterRole referenced by the binding."
        },
        "subjects": {
          "description": "Represents the subjects(s) bound to the role. Not always available for PATCH requests.",
          "items": {
            "$ref": "Subject"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Represents a Kubernetes RoleBinding or ClusterRoleBinding."
    },
    "RunAssetDiscoveryRequest": {
      "properties": {},
      "id": "RunAssetDiscoveryRequest",
      "type": "object",
      "description": "Request message for running asset discovery for an organization."
    },
    "AssociatedFinding": {
      "id": "AssociatedFinding",
      "description": "A finding that is associated with this node in the exposure path.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Full resource name of the finding.",
          "type": "string"
        },
        "canonicalFindingName": {
          "type": "string",
          "description": "Canonical name of the associated findings. Example: organizations/123/sources/456/findings/789"
        },
        "findingCategory": {
          "description": "The additional taxonomy group within findings from a given source.",
          "type": "string"
        }
      }
    },
    "NodePool": {
      "description": "Provides GKE Node Pool information.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Kubernetes Node pool name."
        },
        "nodes": {
          "description": "Nodes associated with the finding.",
          "type": "array",
          "items": {
            "$ref": "Node"
          }
        }
      },
      "id": "NodePool",
      "type": "object"
    },
    "SetMuteRequest": {
      "type": "object",
      "id": "SetMuteRequest",
      "properties": {
        "mute": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Finding has been muted.",
            "Finding has been unmuted.",
            "Finding has never been muted/unmuted."
          ],
          "enum": [
            "MUTE_UNSPECIFIED",
            "MUTED",
            "UNMUTED",
            "UNDEFINED"
          ],
          "description": "Required. The desired state of the Mute."
        }
      },
      "description": "Request message for updating a finding's mute status."
    },
    "Cvssv3": {
      "properties": {
        "confidentialityImpact": {
          "enumDescriptions": [
            "Invalid value.",
            "High impact.",
            "Low impact.",
            "No impact."
          ],
          "description": "This metric measures the impact to the confidentiality of the information resources managed by a software component due to a successfully exploited vulnerability.",
          "type": "string",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ]
        },
        "baseScore": {
          "description": "The base score is a function of the base metric scores.",
          "type": "number",
          "format": "double"
        },
        "integrityImpact": {
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Invalid value.",
            "High impact.",
            "Low impact.",
            "No impact."
          ],
          "description": "This metric measures the impact to integrity of a successfully exploited vulnerability."
        },
        "privilegesRequired": {
          "type": "string",
          "enum": [
            "PRIVILEGES_REQUIRED_UNSPECIFIED",
            "PRIVILEGES_REQUIRED_NONE",
            "PRIVILEGES_REQUIRED_LOW",
            "PRIVILEGES_REQUIRED_HIGH"
          ],
          "enumDescriptions": [
            "Invalid value.",
            "The attacker is unauthorized prior to attack, and therefore does not require any access to settings or files of the vulnerable system to carry out an attack.",
            "The attacker requires privileges that provide basic user capabilities that could normally affect only settings and files owned by a user. Alternatively, an attacker with Low privileges has the ability to access only non-sensitive resources.",
            "The attacker requires privileges that provide significant (e.g., administrative) control over the vulnerable component allowing access to component-wide settings and files."
          ],
          "description": "This metric describes the level of privileges an attacker must possess before successfully exploiting the vulnerability."
[...]
