{
  "discoveryVersion": "v1",
  "rootUrl": "https://securitycenter.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "version": "v1",
  "fullyEncodeReservedExpansion": true,
  "mtlsRootUrl": "https://securitycenter.mtls.googleapis.com/",
  "description": "Security Command Center API provides access to temporal views of assets and findings within an organization.",
  "name": "securitycenter",
  "servicePath": "",
  "id": "securitycenter:v1",
  "schemas": {
    "Pod": {
      "id": "Pod",
      "description": "Kubernetes Pod.",
      "type": "object",
      "properties": {
        "containers": {
          "description": "Pod containers associated with this finding, if any.",
          "type": "array",
          "items": {
            "$ref": "Container"
          }
        },
        "ns": {
          "type": "string",
          "description": "Kubernetes Pod namespace."
        },
        "name": {
          "description": "Kubernetes Pod name.",
          "type": "string"
        },
        "labels": {
          "items": {
            "$ref": "Label"
          },
          "type": "array",
          "description": "Pod labels. For Kubernetes containers, these are applied to the container."
        }
      }
    },
    "Connection": {
      "type": "object",
      "description": "Contains information about the IP connection associated with the finding.",
      "id": "Connection",
      "properties": {
        "protocol": {
          "type": "string",
          "enum": [
            "PROTOCOL_UNSPECIFIED",
            "ICMP",
            "TCP",
            "UDP",
            "GRE",
            "ESP"
          ],
          "enumDescriptions": [
            "Unspecified protocol (not HOPOPT).",
            "Internet Control Message Protocol.",
            "Transmission Control Protocol.",
            "User Datagram Protocol.",
            "Generic Routing Encapsulation.",
            "Encap Security Payload."
          ],
          "description": "IANA Internet Protocol Number such as TCP(6) and UDP(17)."
        },
        "destinationPort": {
          "description": "Destination port. Not present for sockets that are listening and not connected.",
          "type": "integer",
          "format": "int32"
        },
        "sourcePort": {
          "type": "integer",
          "format": "int32",
          "description": "Source port."
        },
        "sourceIp": {
          "description": "Source IP address.",
          "type": "string"
        },
        "destinationIp": {
          "type": "string",
          "description": "Destination IP address. Not present for sockets that are listening and not connected."
        }
      }
    },
    "File": {
      "id": "File",
      "properties": {
        "path": {
          "type": "string",
          "description": "Absolute path of the file as a JSON encoded string."
        },
        "contents": {
          "type": "string",
          "description": "Prefix of the file contents as a JSON encoded string. (Currently only populated for Malicious Script Executed findings.)"
        },
        "partiallyHashed": {
          "description": "True when the hash covers only a prefix of the file.",
          "type": "boolean"
        },
        "sha256": {
          "type": "string",
          "description": "SHA256 hash of the first hashed_size bytes of the file encoded as a hex string. If hashed_size == size, sha256 represents the SHA256 hash of the entire file."
        },
        "hashedSize": {
          "description": "The length in bytes of the file prefix that was hashed. If hashed_size == size, any hashes reported represent the entire file.",
          "format": "int64",
          "type": "string"
        },
        "size": {
          "format": "int64",
          "type": "string",
          "description": "Size of the file in bytes."
        }
      },
      "description": "File information about the related binary/library used by an executable, or the script used by a script interpreter",
      "type": "object"
    },
    "EnvironmentVariable": {
      "id": "EnvironmentVariable",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Environment variable name as a JSON encoded string."
        },
        "val": {
          "type": "string",
          "description": "Environment variable value as a JSON encoded string."
        }
      },
      "description": "EnvironmentVariable is a name-value pair to store environment variables for Process."
    },
    "GoogleCloudSecuritycenterV1p1beta1Finding": {
      "type": "object",
      "properties": {
        "eventTime": {
          "description": "The time at which the event took place, or when an update to the finding occurred. For example, if the finding represents an open firewall it would capture the time the detector believes the firewall became open. The accuracy is determined by the detector. If the finding were to be resolved afterward, this time would reflect when the finding was resolved. Must not be set to a value greater than the current timestamp.",
          "type": "string",
          "format": "google-datetime"
        },
        "category": {
          "description": "The additional taxonomy group within findings from a given source. This field is immutable after creation time. Example: \"XSS_FLASH_INJECTION\"",
          "type": "string"
        },
        "resourceName": {
          "type": "string",
          "description": "For findings on Google Cloud resources, the full resource name of the Google Cloud resource this finding is for. See: https://cloud.google.com/apis/design/resource_names#full_resource_name When the finding is for a non-Google Cloud resource, the resourceName can be a customer or partner defined string. This field is immutable after creation time."
        },
        "parent": {
          "description": "The relative resource name of the source the finding belongs to. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name This field is immutable after creation time. For example: \"organizations/{organization_id}/sources/{source_id}\"",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The relative resource name of this finding. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Example: \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}\""
        },
        "securityMarks": {
          "readOnly": true,
          "$ref": "GoogleCloudSecuritycenterV1p1beta1SecurityMarks",
          "description": "Output only. User specified security marks. These marks are entirely managed by the user and come from the SecurityMarks resource that belongs to the finding."
        },
        "sourceProperties": {
          "description": "Source specific properties. These properties are managed by the source that writes the finding. The key names in the source_properties map must be between 1 and 255 characters, and must start with a letter and contain alphanumeric characters or underscores only.",
          "type": "object",
          "additionalProperties": {
            "type": "any"
          }
        },
        "canonicalName": {
          "type": "string",
          "description": "The canonical name of the finding. It's either \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}\", \"folders/{folder_id}/sources/{source_id}/findings/{finding_id}\" or \"projects/{project_number}/sources/{source_id}/findings/{finding_id}\", depending on the closest CRM ancestor of the resource associated with the finding."
        },
        "createTime": {
          "description": "The time at which the finding was created in Security Command Center.",
          "format": "google-datetime",
          "type": "string"
        },
        "severity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "description": "The severity of the finding. This field is managed by the source that writes the finding.",
          "enumDescriptions": [
            "No severity specified. The default value.",
            "Critical severity.",
            "High severity.",
            "Medium severity.",
            "Low severity."
          ],
          "type": "string"
        },
        "externalUri": {
          "type": "string",
          "description": "The URI that, if available, points to a web page outside of Security Command Center where additional information about the finding can be found. This field is guaranteed to be either empty or a well formed URL."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "description": "The state of the finding.",
          "enumDescriptions": [
            "Unspecified state.",
            "The finding requires attention and has not been addressed yet.",
            "The finding has been fixed, triaged as a non-issue or otherwise addressed and is no longer active."
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV1p1beta1Finding",
      "description": "Security Command Center finding. A finding is a record of assessment data (security, risk, health or privacy) ingested into Security Command Center for presentation, notification, analysis, policy testing, and enforcement. For example, an XSS vulnerability in an App Engine application is a finding."
    },
    "Database": {
      "description": "Represents database access information, such as queries. A database may be a sub-resource of an instance (as in the case of CloudSQL instances or Cloud Spanner instances), or the database instance itself. Some database resources may not have the full resource name populated because these resource types are not yet supported by Cloud Asset Inventory (e.g. CloudSQL databases). In these cases only the display name will be provided.",
      "type": "object",
      "properties": {
        "userName": {
          "description": "The username used to connect to the DB. This may not necessarily be an IAM principal, and has no required format.",
          "type": "string"
        },
        "name": {
          "description": "The full resource name of the database the user connected to, if it is supported by CAI. (https://google.aip.dev/122#full-resource-names)",
          "type": "string"
        },
        "query": {
          "type": "string",
          "description": "The SQL statement associated with the relevant access."
        },
        "grantees": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The target usernames/roles/groups of a SQL privilege grant (not an IAM policy change)."
        },
        "displayName": {
          "description": "The human readable name of the database the user connected to.",
          "type": "string"
        }
      },
      "id": "Database"
    },
    "Edge": {
      "id": "Edge",
      "description": "Represents a connection between a source node and a destination node in this exposure path.",
      "properties": {
        "destination": {
          "description": "This is the resource name of the destination node.",
          "type": "string"
        },
        "source": {
          "description": "This is the resource name of the source node.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Contact": {
      "id": "Contact",
      "type": "object",
      "properties": {
        "email": {
          "type": "string",
          "description": "An email address. For example, \"`person123@company.com`\"."
        }
      },
      "description": "The email address of a contact."
    },
    "GoogleCloudSecuritycenterV1NotificationMessage": {
      "properties": {
        "resource": {
          "$ref": "GoogleCloudSecuritycenterV1Resource",
          "description": "The Cloud resource tied to this notification's Finding."
        },
        "finding": {
          "description": "If it's a Finding based notification config, this field will be populated.",
          "$ref": "Finding"
        },
        "notificationConfigName": {
          "type": "string",
          "description": "Name of the notification config that generated current notification."
        }
      },
      "description": "Cloud SCC's Notification",
      "id": "GoogleCloudSecuritycenterV1NotificationMessage",
      "type": "object"
    },
    "GetIamPolicyRequest": {
      "id": "GetIamPolicyRequest",
      "type": "object",
      "properties": {
        "options": {
          "$ref": "GetPolicyOptions",
          "description": "OPTIONAL: A `GetPolicyOptions` object for specifying options to `GetIamPolicy`."
        }
      },
      "description": "Request message for `GetIamPolicy` method."
    },
    "AssetDiscoveryConfig": {
      "properties": {
        "projectIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The project ids to use for filtering asset discovery."
        },
        "inclusionMode": {
          "type": "string",
          "enum": [
            "INCLUSION_MODE_UNSPECIFIED",
            "INCLUDE_ONLY",
            "EXCLUDE"
          ],
          "enumDescriptions": [
            "Unspecified. Setting the mode with this value will disable inclusion/exclusion filtering for Asset Discovery.",
            "Asset Discovery will capture only the resources within the projects specified. All other resources will be ignored.",
            "Asset Discovery will ignore all resources under the projects specified. All other resources will be retrieved."
          ],
          "description": "The mode to use for filtering asset discovery."
        },
        "folderIds": {
          "description": "The folder ids to use for filtering asset discovery. It consists of only digits, e.g., 756619654966.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "The configuration used for Asset Discovery runs.",
      "id": "AssetDiscoveryConfig"
    },
    "SetFindingStateRequest": {
      "type": "object",
      "description": "Request message for updating a finding's state.",
      "id": "SetFindingStateRequest",
      "properties": {
        "state": {
          "enumDescriptions": [
            "Unspecified state.",
            "The finding requires attention and has not been addressed yet.",
            "The finding has been fixed, triaged as a non-issue or otherwise addressed and is no longer active."
          ],
          "description": "Required. The desired State of the finding.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ]
        },
        "startTime": {
          "description": "Required. The time at which the updated state takes effect.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudSecuritycenterV1p1beta1Resource": {
      "description": "Information related to the Google Cloud resource.",
      "type": "object",
      "properties": {
        "project": {
          "type": "string",
          "description": "The full resource name of project that the resource belongs to."
        },
        "parent": {
          "description": "The full resource name of resource's parent.",
          "type": "string"
        },
        "parentDisplayName": {
          "description": "The human readable name of resource's parent.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The full resource name of the resource. See: https://cloud.google.com/apis/design/resource_names#full_resource_name"
        },
        "folders": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1p1beta1Folder"
          },
          "description": "Output only. Contains a Folder message for each folder in the assets ancestry. The first folder is the deepest nested folder, and the last folder is the folder directly under the Organization.",
          "readOnly": true
        },
        "projectDisplayName": {
          "description": "The project id that the resource belongs to.",
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV1p1beta1Resource"
    },
    "ServiceAccountDelegationInfo": {
      "type": "object",
      "properties": {
        "principalSubject": {
          "type": "string",
          "description": "A string representing the principal_subject associated with the identity. As compared to `principal_email`, supports principals that aren't associated with email addresses, such as third party principals. For most identities, the format will be `principal://iam.googleapis.com/{identity pool name}/subjects/{subject}` except for some GKE identities (GKE_WORKLOAD, FREEFORM, GKE_HUB_WORKLOAD) that are still in the legacy format `serviceAccount:{identity pool name}[{subject}]`"
        },
        "principalEmail": {
          "type": "string",
          "description": "The email address of a Google account."
        }
      },
      "description": "Identity delegation history of an authenticated service account.",
      "id": "ServiceAccountDelegationInfo"
    },
    "BulkMuteFindingsRequest": {
      "type": "object",
      "properties": {
        "filter": {
          "type": "string",
          "description": "Expression that identifies findings that should be updated. The expression is a list of zero or more restrictions combined via logical operators `AND` and `OR`. Parentheses are supported, and `OR` has higher precedence than `AND`. Restrictions have the form ` ` and may have a `-` character in front of them to indicate negation. The fields map to those defined in the corresponding resource. The supported operators are: * `=` for all value types. * `\u003e`, `\u003c`, `\u003e=`, `\u003c=` for integer values. * `:`, meaning substring matching, for strings. The supported value types are: * string literals in quotes. * integer literals without quotes. * boolean literals `true` and `false` without quotes."
        },
        "muteAnnotation": {
          "type": "string",
          "description": "This can be a mute configuration name or any identifier for mute/unmute of findings based on the filter."
        }
      },
      "description": "Request message for bulk findings update. Note: 1. If multiple bulk update requests match the same resource, the order in which they get executed is not defined. 2. Once a bulk operation is started, there is no way to stop it.",
      "id": "BulkMuteFindingsRequest"
    },
    "SecurityMarks": {
      "type": "object",
      "description": "User specified security marks that are attached to the parent Security Command Center resource. Security marks are scoped within a Security Command Center organization -- they can be modified and viewed by all users who have proper permissions on the organization.",
      "id": "SecurityMarks",
      "properties": {
        "marks": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Mutable user specified security marks belonging to the parent resource. Constraints are as follows: * Keys and values are treated as case insensitive * Keys must be between 1 - 256 characters (inclusive) * Keys must be letters, numbers, underscores, or dashes * Values have leading and trailing whitespace trimmed, remaining characters must be between 1 - 4096 characters (inclusive)"
        },
        "canonicalName": {
          "description": "The canonical name of the marks. Examples: \"organizations/{organization_id}/assets/{asset_id}/securityMarks\" \"folders/{folder_id}/assets/{asset_id}/securityMarks\" \"projects/{project_number}/assets/{asset_id}/securityMarks\" \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}/securityMarks\" \"folders/{folder_id}/sources/{source_id}/findings/{finding_id}/securityMarks\" \"projects/{project_number}/sources/{source_id}/findings/{finding_id}/securityMarks\"",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The relative resource name of the SecurityMarks. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Examples: \"organizations/{organization_id}/assets/{asset_id}/securityMarks\" \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}/securityMarks\"."
        }
      }
    },
    "Expr": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        }
      },
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "id": "Expr"
    },
    "TestIamPermissionsRequest": {
      "type": "object",
      "id": "TestIamPermissionsRequest",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Request message for `TestIamPermissions` method."
    },
    "Status": {
      "properties": {
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      },
      "type": "object",
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "Geolocation": {
      "properties": {
        "regionCode": {
          "type": "string",
          "description": "A CLDR."
        }
      },
      "description": "Represents a geographical location for a given access.",
      "id": "Geolocation",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1ExposurePath": {
      "type": "object",
      "description": "A path that an attacker could take to reach an exposed resource.",
      "properties": {
        "edges": {
          "type": "array",
          "items": {
            "$ref": "Edge"
          },
          "description": "A list of the edges between nodes in this exposure path."
        },
        "exposedResource": {
          "$ref": "GoogleCloudSecuritycenterV1ExposedResource",
          "description": "The leaf node of this exposure path."
        },
        "pathNodes": {
          "items": {
            "$ref": "PathNode"
          },
          "type": "array",
          "description": "A list of nodes that exist in this exposure path."
        },
        "name": {
          "description": "Exposure Path Name e.g.: `organizations/123/attackExposureResults/456/exposurePaths/789`",
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV1ExposurePath"
    },
    "ListMuteConfigsResponse": {
      "type": "object",
      "id": "ListMuteConfigsResponse",
      "description": "Response message for listing mute configs.",
      "properties": {
        "muteConfigs": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
          },
          "type": "array",
          "description": "The mute configs from the specified parent."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "ListNotificationConfigsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results."
        },
        "notificationConfigs": {
          "type": "array",
          "description": "Notification configs belonging to the requested parent.",
          "items": {
            "$ref": "NotificationConfig"
          }
        }
      },
      "id": "ListNotificationConfigsResponse",
      "description": "Response message for listing notification configs.",
      "type": "object"
    },
    "RunAssetDiscoveryRequest": {
      "type": "object",
      "id": "RunAssetDiscoveryRequest",
      "description": "Request message for running asset discovery for an organization.",
      "properties": {}
    },
    "ListSourcesResponse": {
      "type": "object",
      "id": "ListSourcesResponse",
      "description": "Response message for listing sources.",
      "properties": {
        "sources": {
          "items": {
            "$ref": "Source"
          },
          "type": "array",
          "description": "Sources belonging to the requested parent."
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results.",
          "type": "string"
        }
      }
    },
    "Indicator": {
      "id": "Indicator",
      "description": "Represents what's commonly known as an _indicator of compromise_ (IoC) in computer forensics. This is an artifact observed on a network or in an operating system that, with high confidence, indicates a computer intrusion. For more information, see [Indicator of compromise](https://en.wikipedia.org/wiki/Indicator_of_compromise).",
      "type": "object",
      "properties": {
        "signatures": {
          "description": "The list of matched signatures indicating that the given process is present in the environment.",
          "items": {
            "$ref": "ProcessSignature"
          },
          "type": "array"
        },
        "uris": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of URIs associated to the Findings."
        },
        "domains": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of domains associated to the Finding."
        },
        "ipAddresses": {
          "type": "array",
          "description": "The list of IP addresses that are associated with the finding.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ContactDetails": {
      "id": "ContactDetails",
      "type": "object",
      "properties": {
        "contacts": {
          "items": {
            "$ref": "Contact"
          },
          "type": "array",
          "description": "A list of contacts"
        }
      },
      "description": "The details pertaining to specific contacts"
    },
    "GetPolicyOptions": {
      "type": "object",
      "properties": {
        "requestedPolicyVersion": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        }
      },
      "description": "Encapsulates settings provided to GetIamPolicy.",
      "id": "GetPolicyOptions"
    },
    "NotificationConfig": {
      "id": "NotificationConfig",
      "type": "object",
      "properties": {
        "streamingConfig": {
          "$ref": "StreamingConfig",
          "description": "The config for triggering streaming-based notifications."
        },
        "pubsubTopic": {
          "type": "string",
          "description": "The Pub/Sub topic to send notifications to. Its format is \"projects/[project_id]/topics/[topic]\"."
        },
        "name": {
          "description": "The relative resource name of this notification config. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Example: \"organizations/{organization_id}/notificationConfigs/notify_public_bucket\", \"folders/{folder_id}/notificationConfigs/notify_public_bucket\", or \"projects/{project_id}/notificationConfigs/notify_public_bucket\".",
          "type": "string"
        },
        "serviceAccount": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The service account that needs \"pubsub.topics.publish\" permission to publish to the Pub/Sub topic."
        },
        "description": {
          "description": "The description of the notification config (max of 1024 characters).",
          "type": "string"
        }
      },
      "description": "Cloud Security Command Center (Cloud SCC) notification configs. A notification config is a Cloud SCC resource that contains the configuration to send notifications for create/update events of findings, assets and etc."
    },
    "Exfiltration": {
      "description": "Exfiltration represents a data exfiltration attempt of one or more sources to one or more targets. Sources represent the source of data that is exfiltrated, and Targets represents the destination the data was copied to.",
      "properties": {
        "targets": {
          "description": "If there are multiple targets, each target would get a complete copy of the \"joined\" source data.",
          "items": {
            "$ref": "ExfilResource"
          },
          "type": "array"
        },
        "sources": {
          "items": {
            "$ref": "ExfilResource"
          },
          "type": "array",
          "description": "If there are multiple sources, then the data is considered \"joined\" between them. For instance, BigQuery can join multiple tables, and each table would be considered a source."
        }
      },
      "id": "Exfiltration",
      "type": "object"
    },
    "AuditConfig": {
      "id": "AuditConfig",
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "properties": {
        "auditLogConfigs": {
          "type": "array",
          "description": "The configuration for logging of each type of permission.",
          "items": {
            "$ref": "AuditLogConfig"
          }
        },
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Label": {
      "id": "Label",
      "type": "object",
      "description": "Label represents a generic name=value label. Label has separate name and value fields to support filtering with contains().",
      "properties": {
        "value": {
          "type": "string",
          "description": "Label value."
        },
        "name": {
          "type": "string",
          "description": "Label name."
        }
      }
    },
    "Process": {
      "id": "Process",
      "type": "object",
      "properties": {
        "parentPid": {
          "description": "The parent process id.",
          "format": "int64",
          "type": "string"
        },
        "argumentsTruncated": {
          "type": "boolean",
          "description": "True if `args` is incomplete."
        },
        "envVariablesTruncated": {
          "description": "True if `env_variables` is incomplete.",
          "type": "boolean"
        },
        "pid": {
          "type": "string",
          "format": "int64",
          "description": "The process id."
        },
        "libraries": {
          "items": {
            "$ref": "File"
          },
          "type": "array",
          "description": "File information for libraries loaded by the process."
        },
        "envVariables": {
          "description": "Process environment variables.",
          "type": "array",
          "items": {
            "$ref": "EnvironmentVariable"
          }
        },
        "name": {
          "description": "The process name visible in utilities like `top` and `ps`; it can be accessed via `/proc/[pid]/comm` and changed with `prctl(PR_SET_NAME)`.",
          "type": "string"
        },
        "args": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Process arguments as JSON encoded strings."
        },
        "script": {
          "description": "When the process represents the invocation of a script, `binary` provides information about the interpreter while `script` provides information about the script file provided to the interpreter.",
          "$ref": "File"
        },
        "binary": {
          "$ref": "File",
          "description": "File information for the process executable."
        }
      },
      "description": "Represents an operating system process."
    },
    "NodePool": {
      "id": "NodePool",
      "properties": {
        "name": {
          "description": "Kubernetes Node pool name.",
          "type": "string"
        },
        "nodes": {
          "description": "Nodes associated with the finding.",
          "type": "array",
          "items": {
            "$ref": "Node"
          }
        }
      },
      "type": "object",
      "description": "Provides GKE Node Pool information."
    },
    "Cvssv3": {
      "description": "Common Vulnerability Scoring System version 3.",
      "type": "object",
      "properties": {
        "privilegesRequired": {
          "type": "string",
          "enum": [
            "PRIVILEGES_REQUIRED_UNSPECIFIED",
            "PRIVILEGES_REQUIRED_NONE",
            "PRIVILEGES_REQUIRED_LOW",
            "PRIVILEGES_REQUIRED_HIGH"
          ],
          "enumDescriptions": [
            "Invalid value.",
            "The attacker is unauthorized prior to attack, and therefore does not require any access to settings or files of the vulnerable system to carry out an attack.",
            "The attacker requires privileges that provide basic user capabilities that could normally affect only settings and files owned by a user. Alternatively, an attacker with Low privileges has the ability to access only non-sensitive resources.",
            "The attacker requires privileges that provide significant (e.g., administrative) control over the vulnerable component allowing access to component-wide settings and files."
          ],
          "description": "This metric describes the level of privileges an attacker must possess before successfully exploiting the vulnerability."
        },
        "attackVector": {
          "enum": [
            "ATTACK_VECTOR_UNSPECIFIED",
            "ATTACK_VECTOR_NETWORK",
            "ATTACK_VECTOR_ADJACENT",
            "ATTACK_VECTOR_LOCAL",
            "ATTACK_VECTOR_PHYSICAL"
          ],
          "enumDescriptions": [
            "Invalid value.",
            "The vulnerable component is bound to the network stack and the set of possible attackers extends beyond the other options listed below, up to and including the entire Internet.",
            "The vulnerable component is bound to the network stack, but the attack is limited at the protocol level to a logically adjacent topology.",
            "The vulnerable component is not bound to the network stack and the attacker's path is via read/write/execute capabilities.",
            "The attack requires the attacker to physically touch or manipulate the vulnerable component."
          ],
          "description": "Base Metrics Represents the intrinsic characteristics of a vulnerability that are constant over time and across user environments. This metric reflects the context by which vulnerability exploitation is possible.",
          "type": "string"
        },
        "integrityImpact": {
          "type": "string",
          "description": "This metric measures the impact to integrity of a successfully exploited vulnerability.",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ],
          "enumDescriptions": [
            "Invalid value.",
            "High impact.",
            "Low impact.",
            "No impact."
          ]
        },
        "attackComplexity": {
          "type": "string",
          "enum": [
            "ATTACK_COMPLEXITY_UNSPECIFIED",
            "ATTACK_COMPLEXITY_LOW",
            "ATTACK_COMPLEXITY_HIGH"
          ],
          "description": "This metric describes the conditions beyond the attacker's control that must exist in order to exploit the vulnerability.",
          "enumDescriptions": [
            "Invalid value.",
            "Specialized access conditions or extenuating circumstances do not exist. An attacker can expect repeatable success when attacking the vulnerable component.",
            "A successful attack depends on conditions beyond the attacker's control. That is, a successful attack cannot be accomplished at will, but requires the attacker to invest in some measurable amount of effort in preparation or execution against the vulnerable component before a successful attack can be expected."
          ]
        },
        "scope": {
          "enum": [
            "SCOPE_UNSPECIFIED",
            "SCOPE_UNCHANGED",
            "SCOPE_CHANGED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Invalid value.",
            "An exploited vulnerability can only affect resources managed by the same security authority.",
            "An exploited vulnerability can affect resources beyond the security scope managed by the security authority of the vulnerable component."
          ],
          "description": "The Scope metric captures whether a vulnerability in one vulnerable component impacts resources in components beyond its security scope."
        },
        "userInteraction": {
          "enumDescriptions": [
            "Invalid value.",
            "The vulnerable system can be exploited without interaction from any user.",
            "Successful exploitation of this vulnerability requires a user to take some action before the vulnerability can be exploited."
          ],
          "description": "This metric captures the requirement for a human user, other than the attacker, to participate in the successful compromise of the vulnerable component.",
          "type": "string",
          "enum": [
            "USER_INTERACTION_UNSPECIFIED",
            "USER_INTERACTION_NONE",
            "USER_INTERACTION_REQUIRED"
          ]
        },
        "confidentialityImpact": {
          "enumDescriptions": [
            "Invalid value.",
            "High impact.",
            "Low impact.",
            "No impact."
          ],
          "description": "This metric measures the impact to the confidentiality of the information resources managed by a software component due to a successfully exploited vulnerability.",
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ],
          "type": "string"
        },
        "availabilityImpact": {
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ],
          "enumDescriptions": [
            "Invalid value.",
            "High impact.",
            "Low impact.",
            "No impact."
          ],
          "description": "This metric measures the impact to the availability of the impacted component resulting from a successfully exploited vulnerability.",
          "type": "string"
        },
        "baseScore": {
          "type": "number",
          "format": "double",
          "description": "The base score is a function of the base metric scores."
        }
      },
      "id": "Cvssv3"
    },
    "AccessReview": {
      "properties": {
        "ns": {
          "description": "Namespace of the action being requested. Currently, there is no distinction between no namespace and all namespaces. Both are represented by \"\" (empty).",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "Version is the API Version of the Resource. \"*\" means all."
        },
        "subresource": {
          "type": "string",
          "description": "Subresource is the optional subresource type."
        },
        "group": {
          "type": "string",
          "description": "Group is the API Group of the Resource. \"*\" means all."
        },
        "name": {
          "type": "string",
          "description": "Name is the name of the resource being requested. Empty means all."
        },
        "resource": {
          "type": "string",
          "description": "Resource is the optional resource type requested. \"*\" means all."
        },
        "verb": {
          "description": "Verb is a Kubernetes resource API verb, like: get, list, watch, create, update, delete, proxy. \"*\" means all.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Conveys information about a Kubernetes access review (e.g. kubectl auth can-i ...) that was involved in a finding.",
      "id": "AccessReview"
    },
    "Container": {
      "type": "object",
      "properties": {
        "imageId": {
          "description": "Optional container image id, when provided by the container runtime. Uniquely identifies the container image launched using a container image digest.",
          "type": "string"
        },
        "name": {
          "description": "Container name.",
          "type": "string"
        },
        "labels": {
          "description": "Container labels, as provided by the container runtime.",
          "items": {
            "$ref": "Label"
          },
          "type": "array"
        },
        "uri": {
          "description": "Container image URI provided when configuring a pod/container. May identify a container image version using mutable tags.",
          "type": "string"
        }
      },
      "id": "Container",
      "description": "Container associated with the finding."
    },
    "GoogleCloudSecuritycenterV1BigQueryExport": {
      "id": "GoogleCloudSecuritycenterV1BigQueryExport",
      "description": "Configures how to deliver Findings to BigQuery Instance.",
      "type": "object",
      "properties": {
        "mostRecentEditor": {
          "readOnly": true,
          "description": "Output only. Email address of the user who last edited the big query export. This field is set by the server and will be ignored if provided on export creation or update.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The relative resource name of this export. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name. Example format: \"organizations/{organization_id}/bigQueryExports/{export_id}\" Example format: \"folders/{folder_id}/bigQueryExports/{export_id}\" Example format: \"projects/{project_id}/bigQueryExports/{export_id}\" This field is provided in responses, and is ignored when provided in create requests."
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The most recent time at which the big export was updated. This field is set by the server and will be ignored if provided on export creation or update.",
          "format": "google-datetime"
        },
        "dataset": {
          "description": "The dataset to write findings' updates to. Its format is \"projects/[project_id]/datasets/[bigquery_dataset_id]\". BigQuery Dataset unique ID must contain only letters (a-z, A-Z), numbers (0-9), or underscores (_).",
          "type": "string"
        },
        "principal": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The service account that needs permission to create table, upload data to the big query dataset."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time at which the big query export was created. This field is set by the server and will be ignored if provided on export on creation.",
          "type": "string",
          "readOnly": true
        },
        "filter": {
          "description": "Expression that defines the filter to apply across create/update events of findings. The expression is a list of zero or more restrictions combined via logical operators `AND` and `OR`. Parentheses are supported, and `OR` has higher precedence than `AND`. Restrictions have the form ` ` and may have a `-` character in front of them to indicate negation. The fields map to those defined in the corresponding resource. The supported operators are: * `=` for all value types. * `\u003e`, `\u003c`, `\u003e=`, `\u003c=` for integer values. * `:`, meaning substring matching, for strings. The supported value types are: * string literals in quotes. * integer literals without quotes. * boolean literals `true` and `false` without quotes.",
          "type": "string"
        },
        "description": {
          "description": "The description of the export (max of 1024 characters).",
          "type": "string"
        }
      }
    },
    "ListFindingsResponse": {
      "id": "ListFindingsResponse",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results.",
          "type": "string"
        },
        "readTime": {
          "type": "string",
          "description": "Time used for executing the list request.",
          "format": "google-datetime"
        },
        "listFindingsResults": {
          "items": {
            "$ref": "ListFindingsResult"
          },
          "description": "Findings matching the list request.",
          "type": "array"
        },
        "totalSize": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of findings matching the query."
        }
      },
      "type": "object",
      "description": "Response message for listing findings."
    },
    "GoogleCloudSecuritycenterV1p1beta1SecurityMarks": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1p1beta1SecurityMarks",
      "properties": {
        "marks": {
          "description": "Mutable user specified security marks belonging to the parent resource. Constraints are as follows: * Keys and values are treated as case insensitive * Keys must be between 1 - 256 characters (inclusive) * Keys must be letters, numbers, underscores, or dashes * Values have leading and trailing whitespace trimmed, remaining characters must be between 1 - 4096 characters (inclusive)",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "The relative resource name of the SecurityMarks. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Examples: \"organizations/{organization_id}/assets/{asset_id}/securityMarks\" \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}/securityMarks\"."
        },
        "canonicalName": {
          "description": "The canonical name of the marks. Examples: \"organizations/{organization_id}/assets/{asset_id}/securityMarks\" \"folders/{folder_id}/assets/{asset_id}/securityMarks\" \"projects/{project_number}/assets/{asset_id}/securityMarks\" \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}/securityMarks\" \"folders/{folder_id}/sources/{source_id}/findings/{finding_id}/securityMarks\" \"projects/{project_number}/sources/{source_id}/findings/{finding_id}/securityMarks\"",
          "type": "string"
        }
      },
      "description": "User specified security marks that are attached to the parent Security Command Center resource. Security marks are scoped within a Security Command Center organization -- they can be modified and viewed by all users who have proper permissions on the organization."
    },
    "GoogleCloudSecuritycenterV1p1beta1Folder": {
      "description": "Message that contains the resource name and display name of a folder resource.",
      "properties": {
        "resourceFolderDisplayName": {
          "description": "The user defined display name for this folder.",
          "type": "string"
        },
        "resourceFolder": {
          "description": "Full resource name of this folder. See: https://cloud.google.com/apis/design/resource_names#full_resource_name",
          "type": "string"
        }
      },
      "id": "GoogleCloudSecuritycenterV1p1beta1Folder",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1p1beta1RunAssetDiscoveryResponse": {
      "id": "GoogleCloudSecuritycenterV1p1beta1RunAssetDiscoveryResponse",
      "description": "Response of asset discovery run",
      "type": "object",
      "properties": {
        "state": {
          "type": "string",
          "description": "The state of an asset discovery run.",
          "enum": [
            "STATE_UNSPECIFIED",
            "COMPLETED",
            "SUPERSEDED",
            "TERMINATED"
          ],
          "enumDescriptions": [
            "Asset discovery run state was unspecified.",
            "Asset discovery run completed successfully.",
            "Asset discovery run was cancelled with tasks still pending, as another run for the same organization was started with a higher priority.",
            "Asset discovery run was killed and terminated."
          ]
        },
        "duration": {
          "type": "string",
          "format": "google-duration",
          "description": "The duration between asset discovery run start and end"
        }
      }
    },
    "Binding": {
      "properties": {
        "condition": {
          "$ref": "Expr",
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`.",
          "type": "string"
        },
        "members": {
          "items": {
            "type": "string"
          },
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. ",
          "type": "array"
        }
      },
      "description": "Associates `members`, or principals, with a `role`.",
      "type": "object",
      "id": "Binding"
    },
    "SecurityCenterProperties": {
      "properties": {
        "resourceName": {
          "description": "The full resource name of the Google Cloud resource this asset represents. This field is immutable after create time. See: https://cloud.google.com/apis/design/resource_names#full_resource_name",
          "type": "string"
        },
        "resourceParent": {
          "type": "string",
          "description": "The full resource name of the immediate parent of the resource. See: https://cloud.google.com/apis/design/resource_names#full_resource_name"
        },
        "resourceDisplayName": {
          "description": "The user defined display name for this resource.",
          "type": "string"
        },
        "folders": {
          "items": {
            "$ref": "Folder"
          },
          "type": "array",
          "description": "Contains a Folder message for each folder in the assets ancestry. The first folder is the deepest nested folder, and the last folder is the folder directly under the Organization."
        },
        "resourceOwners": {
          "items": {
            "type": "string"
          },
          "description": "Owners of the Google Cloud resource.",
          "type": "array"
        },
        "resourceType": {
          "type": "string",
          "description": "The type of the Google Cloud resource. Examples include: APPLICATION, PROJECT, and ORGANIZATION. This is a case insensitive field defined by Security Command Center and/or the producer of the resource and is immutable after create time."
        },
        "resourceProject": {
          "type": "string",
          "description": "The full resource name of the project the resource belongs to. See: https://cloud.google.com/apis/design/resource_names#full_resource_name"
        },
        "resourceParentDisplayName": {
          "description": "The user defined display name for the parent of this resource.",
          "type": "string"
        },
        "resourceProjectDisplayName": {
          "type": "string",
          "description": "The user defined display name for the project of this resource."
        }
      },
      "description": "Security Command Center managed properties. These properties are managed by Security Command Center and cannot be modified by the user.",
      "id": "SecurityCenterProperties",
      "type": "object"
    },
    "PathNode": {
      "id": "PathNode",
      "description": "Represents one point that an attacker passes through in this exposure path.",
      "type": "object",
      "properties": {
        "resourceType": {
          "type": "string",
          "description": "The resource type of this resource. See: https://cloud.google.com/asset-inventory/docs/supported-asset-types"
        },
        "displayName": {
          "description": "Human readable name of this resource.",
          "type": "string"
        },
        "associatedFindings": {
          "type": "array",
          "description": "The findings associated with this node in the exposure path.",
          "items": {
            "$ref": "AssociatedFinding"
          }
        },
        "resource": {
          "description": "The name of the resource at this point in the exposure path. The format of the name is: https://cloud.google.com/apis/design/resource_names#full_resource_name",
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV1ExposedResource": {
      "id": "GoogleCloudSecuritycenterV1ExposedResource",
      "description": "A resource that is exposed as a result of a finding.",
      "type": "object",
      "properties": {
        "resourceValue": {
          "enumDescriptions": [
            "The resource value isn't specified.",
            "This is a low value resource.",
            "This is a medium value resource.",
            "This is a high value resource."
          ],
          "type": "string",
          "enum": [
            "RESOURCE_VALUE_UNSPECIFIED",
            "RESOURCE_VALUE_LOW",
            "RESOURCE_VALUE_MEDIUM",
            "RESOURCE_VALUE_HIGH"
          ],
          "description": "How valuable this resource is."
        },
        "resourceType": {
          "type": "string",
          "description": "The resource type of the exposed resource. See: https://cloud.google.com/asset-inventory/docs/supported-asset-types"
        },
        "resource": {
          "type": "string",
          "description": "The name of the resource that is exposed. See: https://cloud.google.com/apis/design/resource_names#full_resource_name"
        },
        "displayName": {
          "description": "Human readable name of the resource that is exposed.",
          "type": "string"
        },
        "methods": {
          "type": "array",
          "description": "The ways in which this resource is exposed. Examples: Read, Write",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "Exposed Resource Name e.g.: `organizations/123/attackExposureResults/456/exposedResources/789`",
          "type": "string"
        }
      }
    },
    "IamPolicy": {
      "id": "IamPolicy",
      "description": "Cloud IAM Policy information associated with the Google Cloud resource described by the Security Command Center asset. This information is managed and defined by the Google Cloud resource and cannot be modified by the user.",
      "type": "object",
      "properties": {
        "policyBlob": {
          "description": "The JSON representation of the Policy associated with the asset. See https://cloud.google.com/iam/reference/rest/v1/Policy for format details.",
          "type": "string"
        }
      }
    },
    "GroupFindingsRequest": {
      "properties": {
        "compareDuration": {
          "format": "google-duration",
          "type": "string",
          "description": "When compare_duration is set, the GroupResult's \"state_change\" attribute is updated to indicate whether the finding had its state changed, the finding's state remained unchanged, or if the finding was added during the compare_duration period of time that precedes the read_time. This is the time between (read_time - compare_duration) and read_time. The state_change value is derived based on the presence and state of the finding at the two points in time. Intermediate state changes between the two times don't affect the result. For example, the results aren't affected if the finding is made inactive and then active again. Possible \"state_change\" values when compare_duration is specified: * \"CHANGED\": indicates that the finding was present and matched the given filter at the start of compare_duration, but changed its state at read_time. * \"UNCHANGED\": indicates that the finding was present and matched the given filter at the start of compare_duration and did not change state at read_time. * \"ADDED\": indicates that the finding did not match the given filter or was not present at the start of compare_duration, but was present at read_time. * \"REMOVED\": indicates that the finding was present and matched the filter at the start of compare_duration, but did not match the filter at read_time. If compare_duration is not specified, then the only possible state_change is \"UNUSED\", which will be the state_change set for all findings present at read_time. If this field is set then `state_change` must be a specified field in `group_by`."
        },
        "pageToken": {
          "type": "string",
          "description": "The value returned by the last `GroupFindingsResponse`; indicates that this is a continuation of a prior `GroupFindings` call, and that the system should return the next page of data."
        },
        "groupBy": {
          "type": "string",
          "description": "Required. Expression that defines what assets fields to use for grouping (including `state_change`). The string value should follow SQL syntax: comma separated list of fields. For example: \"parent,resource_name\". The following fields are supported: * resource_name * category * state * parent * severity The following fields are supported when compare_duration is set: * state_change"
        },
        "readTime": {
          "description": "Time used as a reference point when filtering findings. The filter is limited to findings existing at the supplied time and their values are those at that specific time. Absence of this field will default to the API's version of NOW.",
          "format": "google-datetime",
          "type": "string"
        },
        "filter": {
          "type": "string",
          "description": "Expression that defines the filter to apply across findings. The expression is a list of one or more restrictions combined via logical operators `AND` and `OR`. Parentheses are supported, and `OR` has higher precedence than `AND`. Restrictions have the form ` ` and may have a `-` character in front of them to indicate negation. Examples include: * name * source_properties.a_property * security_marks.marks.marka The supported operators are: * `=` for all value types. * `\u003e`, `\u003c`, `\u003e=`, `\u003c=` for integer values. * `:`, meaning substring matching, for strings. The supported value types are: * string literals in quotes. * integer literals without quotes. * boolean literals `true` and `false` without quotes. The following field and operator combinations are supported: * name: `=` * parent: `=`, `:` * resource_name: `=`, `:` * state: `=`, `:` * category: `=`, `:` * external_uri: `=`, `:` * event_time: `=`, `\u003e`, `\u003c`, `\u003e=`, `\u003c=` Usage: This should be milliseconds since epoch or an RFC3339 string. Examples: `event_time = \"2019-06-10T16:07:18-07:00\"` `event_time = 1560208038000` * severity: `=`, `:` * workflow_state: `=`, `:` * security_marks.marks: `=`, `:` * source_properties: `=`, `:`, `\u003e`, `\u003c`, `\u003e=`, `\u003c=` For example, `source_properties.size = 100` is a valid filter string. Use a partial match on the empty string to filter based on a property existing: `source_properties.my_property : \"\"` Use a negated partial match on the empty string to filter based on a property not existing: `-source_properties.my_property : \"\"` * resource: * resource.name: `=`, `:` * resource.parent_name: `=`, `:` * resource.parent_display_name: `=`, `:` * resource.project_name: `=`, `:` * resource.project_display_name: `=`, `:` * resource.type: `=`, `:`"
        },
        "pageSize": {
          "format": "int32",
          "description": "The maximum number of results to return in a single response. Default is 10, minimum is 1, maximum is 1000.",
          "type": "integer"
        }
      },
      "id": "GroupFindingsRequest",
      "description": "Request message for grouping by findings.",
      "type": "object"
    },
    "Folder": {
      "properties": {
        "resourceFolderDisplayName": {
          "description": "The user defined display name for this folder.",
          "type": "string"
        },
        "resourceFolder": {
          "type": "string",
          "description": "Full resource name of this folder. See: https://cloud.google.com/apis/design/resource_names#full_resource_name"
        }
      },
      "description": "Message that contains the resource name and display name of a folder resource.",
      "type": "object",
      "id": "Folder"
    },
    "Kubernetes": {
      "id": "Kubernetes",
      "properties": {
        "nodePools": {
          "items": {
            "$ref": "NodePool"
          },
          "type": "array",
          "description": "GKE Node Pools associated with the finding. This field will contain NodePool information for each Node, when it is available."
        },
        "bindings": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1Binding"
          },
          "type": "array",
          "description": "Provides Kubernetes role binding information for findings that involve RoleBindings or ClusterRoleBindings."
        },
        "pods": {
          "items": {
            "$ref": "Pod"
          },
          "description": "Kubernetes Pods associated with the finding. This field will contain Pod records for each container that is owned by a Pod.",
          "type": "array"
        },
        "nodes": {
          "type": "array",
          "description": "Provides Kubernetes Node information.",
          "items": {
            "$ref": "Node"
          }
        },
        "accessReviews": {
          "description": "Provides information on any Kubernetes access reviews (i.e. privilege checks) relevant to the finding.",
          "items": {
            "$ref": "AccessReview"
          },
          "type": "array"
        },
        "roles": {
          "type": "array",
          "description": "Provides Kubernetes role information for findings that involve Roles or ClusterRoles.",
          "items": {
            "$ref": "Role"
          }
        }
      },
      "type": "object",
      "description": "Kubernetes-related attributes."
    },
    "GroupAssetsResponse": {
      "id": "GroupAssetsResponse",
      "description": "Response message for grouping by assets.",
      "type": "object",
      "properties": {
        "readTime": {
          "format": "google-datetime",
          "description": "Time used for executing the groupBy request.",
          "type": "string"
        },
        "groupByResults": {
          "items": {
            "$ref": "GroupResult"
          },
          "description": "Group results. There exists an element for each existing unique combination of property/values. The element contains a count for the number of times those specific property/values appear.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results.",
          "type": "string"
        },
        "totalSize": {
          "description": "The total number of results matching the query.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GoogleCloudSecuritycenterV1BulkMuteFindingsResponse": {
      "description": "The response to a BulkMute request. Contains the LRO information.",
      "properties": {},
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1BulkMuteFindingsResponse"
    },
    "AssociatedFinding": {
      "id": "AssociatedFinding",
      "properties": {
        "name": {
          "description": "Full resource name of the finding.",
          "type": "string"
        },
        "canonicalFindingName": {
          "type": "string",
          "description": "Canonical name of the associated findings. Example: organizations/123/sources/456/findings/789"
        },
        "findingCategory": {
          "type": "string",
          "description": "The additional taxonomy group within findings from a given source."
        }
      },
      "description": "A finding that is associated with this node in the exposure path.",
      "type": "object"
    },
    "Node": {
      "id": "Node",
      "properties": {
        "name": {
          "description": "Full Resource name of the Compute Engine VM running the cluster node.",
          "type": "string"
        }
      },
      "description": "Kubernetes Nodes associated with the finding.",
      "type": "object"
    },
    "ListAssetsResult": {
      "properties": {
        "stateChange": {
          "enumDescriptions": [
            "State change is unused, this is the canonical default for this enum.",
            "Asset was added between the points in time.",
            "Asset was removed between the points in time.",
            "Asset was present at both point(s) in time."
          ],
          "description": "State change of the asset between the points in time.",
          "type": "string",
          "enum": [
            "UNUSED",
            "ADDED",
            "REMOVED",
            "ACTIVE"
          ]
        },
        "asset": {
          "$ref": "Asset",
          "description": "Asset matching the search request."
        }
      },
      "type": "object",
      "id": "ListAssetsResult",
      "description": "Result containing the Asset and its State."
    },
    "ListBigQueryExportsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "bigQueryExports": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1BigQueryExport"
          },
          "description": "The BigQuery exports from the specified parent.",
          "type": "array"
        }
      },
      "id": "ListBigQueryExportsResponse",
      "description": "Response message for listing BigQuery exports."
    },
    "GroupResult": {
      "description": "Result containing the properties and count of a groupBy request.",
      "id": "GroupResult",
      "properties": {
        "count": {
          "format": "int64",
          "type": "string",
          "description": "Total count of resources for the given properties."
        },
        "properties": {
          "description": "Properties matching the groupBy fields in the request.",
          "type": "object",
          "additionalProperties": {
            "type": "any"
          }
        }
      },
      "type": "object"
    },
    "MitreAttack": {
      "type": "object",
      "properties": {
        "additionalTactics": {
          "type": "array",
          "description": "Additional MITRE ATT&CK tactics related to this finding, if any.",
          "items": {
            "enum": [
              "TACTIC_UNSPECIFIED",
              "RECONNAISSANCE",
              "RESOURCE_DEVELOPMENT",
              "INITIAL_ACCESS",
              "EXECUTION",
              "PERSISTENCE",
              "PRIVILEGE_ESCALATION",
              "DEFENSE_EVASION",
              "CREDENTIAL_ACCESS",
              "DISCOVERY",
              "LATERAL_MOVEMENT",
              "COLLECTION",
              "COMMAND_AND_CONTROL",
              "EXFILTRATION",
              "IMPACT"
            ],
            "enumDescriptions": [
              "Unspecified value.",
              "TA0043",
              "TA0042",
              "TA0001",
              "TA0002",
              "TA0003",
              "TA0004",
              "TA0005",
              "TA0006",
              "TA0007",
              "TA0008",
              "TA0009",
              "TA0011",
              "TA0010",
              "TA0040"
            ],
            "type": "string"
          }
        },
        "primaryTechniques": {
          "items": {
            "enum": [
              "TECHNIQUE_UNSPECIFIED",
              "ACTIVE_SCANNING",
              "SCANNING_IP_BLOCKS",
              "INGRESS_TOOL_TRANSFER",
              "NATIVE_API",
              "SHARED_MODULES",
              "COMMAND_AND_SCRIPTING_INTERPRETER",
              "UNIX_SHELL",
              "RESOURCE_HIJACKING",
              "PROXY",
              "EXTERNAL_PROXY",
              "MULTI_HOP_PROXY",
              "DYNAMIC_RESOLUTION",
              "UNSECURED_CREDENTIALS",
              "VALID_ACCOUNTS",
              "LOCAL_ACCOUNTS",
              "CLOUD_ACCOUNTS",
              "NETWORK_DENIAL_OF_SERVICE",
              "PERMISSION_GROUPS_DISCOVERY",
              "CLOUD_GROUPS",
              "EXFILTRATION_OVER_WEB_SERVICE",
              "EXFILTRATION_TO_CLOUD_STORAGE",
              "ACCOUNT_MANIPULATION",
              "SSH_AUTHORIZED_KEYS",
              "CREATE_OR_MODIFY_SYSTEM_PROCESS",
              "STEAL_WEB_SESSION_COOKIE",
              "MODIFY_CLOUD_COMPUTE_INFRASTRUCTURE",
              "EXPLOIT_PUBLIC_FACING_APPLICATION",
              "MODIFY_AUTHENTICATION_PROCESS",
              "DATA_DESTRUCTION",
              "DOMAIN_POLICY_MODIFICATION",
              "IMPAIR_DEFENSES",
              "NETWORK_SERVICE_DISCOVERY",
              "ACCESS_TOKEN_MANIPULATION",
              "ABUSE_ELEVATION_CONTROL_MECHANISM",
              "DEFAULT_ACCOUNTS"
            ],
            "type": "string",
            "enumDescriptions": [
              "Unspecified value.",
              "T1595",
              "T1595.001",
              "T1105",
              "T1106",
              "T1129",
              "T1059",
              "T1059.004",
              "T1496",
              "T1090",
              "T1090.002",
              "T1090.003",
              "T1568",
              "T1552",
              "T1078",
              "T1078.003",
              "T1078.004",
              "T1498",
              "T1069",
              "T1069.003",
              "T1567",
              "T1567.002",
              "T1098",
              "T1098.004",
              "T1543",
              "T1539",
              "T1578",
              "T1190",
              "T1556",
              "T1485",
              "T1484",
              "T1562",
              "T1046",
              "T1134",
              "T1548",
              "T1078.001"
            ]
          },
          "type": "array",
          "description": "The MITRE ATT&CK technique most closely represented by this finding, if any. primary_techniques is a repeated field because there are multiple levels of MITRE ATT&CK techniques. If the technique most closely represented by this finding is a sub-technique (e.g. `SCANNING_IP_BLOCKS`), both the sub-technique and its parent technique(s) will be listed (e.g. `SCANNING_IP_BLOCKS`, `ACTIVE_SCANNING`)."
        },
        "version": {
          "description": "The MITRE ATT&CK version referenced by the above fields. E.g. \"8\".",
          "type": "string"
        },
        "additionalTechniques": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "TECHNIQUE_UNSPECIFIED",
              "ACTIVE_SCANNING",
              "SCANNING_IP_BLOCKS",
              "INGRESS_TOOL_TRANSFER",
              "NATIVE_API",
              "SHARED_MODULES",
              "COMMAND_AND_SCRIPTING_INTERPRETER",
              "UNIX_SHELL",
              "RESOURCE_HIJACKING",
              "PROXY",
              "EXTERNAL_PROXY",
              "MULTI_HOP_PROXY",
              "DYNAMIC_RESOLUTION",
              "UNSECURED_CREDENTIALS",
              "VALID_ACCOUNTS",
              "LOCAL_ACCOUNTS",
              "CLOUD_ACCOUNTS",
              "NETWORK_DENIAL_OF_SERVICE",
              "PERMISSION_GROUPS_DISCOVERY",
              "CLOUD_GROUPS",
              "EXFILTRATION_OVER_WEB_SERVICE",
              "EXFILTRATION_TO_CLOUD_STORAGE",
              "ACCOUNT_MANIPULATION",
              "SSH_AUTHORIZED_KEYS",
              "CREATE_OR_MODIFY_SYSTEM_PROCESS",
              "STEAL_WEB_SESSION_COOKIE",
              "MODIFY_CLOUD_COMPUTE_INFRASTRUCTURE",
              "EXPLOIT_PUBLIC_FACING_APPLICATION",
              "MODIFY_AUTHENTICATION_PROCESS",
              "DATA_DESTRUCTION",
              "DOMAIN_POLICY_MODIFICATION",
              "IMPAIR_DEFENSES",
              "NETWORK_SERVICE_DISCOVERY",
              "ACCESS_TOKEN_MANIPULATION",
              "ABUSE_ELEVATION_CONTROL_MECHANISM",
              "DEFAULT_ACCOUNTS"
            ],
            "enumDescriptions": [
              "Unspecified value.",
              "T1595",
              "T1595.001",
              "T1105",
              "T1106",
              "T1129",
              "T1059",
              "T1059.004",
              "T1496",
              "T1090",
              "T1090.002",
              "T1090.003",
              "T1568",
              "T1552",
              "T1078",
              "T1078.003",
              "T1078.004",
              "T1498",
              "T1069",
              "T1069.003",
              "T1567",
              "T1567.002",
              "T1098",
              "T1098.004",
              "T1543",
              "T1539",
              "T1578",
              "T1190",
              "T1556",
              "T1485",
              "T1484",
              "T1562",
              "T1046",
              "T1134",
              "T1548",
              "T1078.001"
            ]
          },
          "description": "Additional MITRE ATT&CK techniques related to this finding, if any, along with any of their respective parent techniques."
        },
        "primaryTactic": {
          "type": "string",
          "enum": [
            "TACTIC_UNSPECIFIED",
            "RECONNAISSANCE",
            "RESOURCE_DEVELOPMENT",
            "INITIAL_ACCESS",
            "EXECUTION",
            "PERSISTENCE",
            "PRIVILEGE_ESCALATION",
            "DEFENSE_EVASION",
            "CREDENTIAL_ACCESS",
            "DISCOVERY",
            "LATERAL_MOVEMENT",
            "COLLECTION",
            "COMMAND_AND_CONTROL",
            "EXFILTRATION",
            "IMPACT"
          ],
          "enumDescriptions": [
            "Unspecified value.",
            "TA0043",
            "TA0042",
            "TA0001",
            "TA0002",
            "TA0003",
            "TA0004",
            "TA0005",
            "TA0006",
            "TA0007",
            "TA0008",
            "TA0009",
            "TA0011",
            "TA0010",
            "TA0040"
          ],
          "description": "The MITRE ATT&CK tactic most closely represented by this finding, if any."
        }
      },
      "id": "MitreAttack",
      "description": "MITRE ATT&CK tactics and techniques related to this finding. See: https://attack.mitre.org"
    },
    "Source": {
      "type": "object",
      "description": "Security Command Center finding source. A finding source is an entity or a mechanism that can produce a finding. A source is like a container of findings that come from the same scanner, logger, monitor, and other tools.",
      "properties": {
        "name": {
          "description": "The relative resource name of this source. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Example: \"organizations/{organization_id}/sources/{source_id}\"",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "The description of the source (max of 1024 characters). Example: \"Web Security Scanner is a web security scanner for common vulnerabilities in App Engine applications. It can automatically scan and detect four common vulnerabilities, including cross-site-scripting (XSS), Flash injection, mixed content (HTTP in HTTPS), and outdated or insecure libraries.\""
        },
        "canonicalName": {
          "type": "string",
          "description": "The canonical name of the finding. It's either \"organizations/{organization_id}/sources/{source_id}\", \"folders/{folder_id}/sources/{source_id}\" or \"projects/{project_number}/sources/{source_id}\", depending on the closest CRM ancestor of the resource associated with the finding."
        },
        "displayName": {
          "type": "string",
          "description": "The source's display name. A source's display name must be unique amongst its siblings, for example, two sources with the same parent can't share the same display name. The display name must have a length between 1 and 64 characters (inclusive)."
        }
      },
      "id": "Source"
    },
    "ExfilResource": {
      "properties": {
        "name": {
          "description": "Resource's URI (https://google.aip.dev/122#full-resource-names)",
          "type": "string"
        },
        "components": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Subcomponents of the asset that is exfiltrated - these could be URIs used during exfiltration, table names, databases, filenames, etc. For example, multiple tables may be exfiltrated from the same CloudSQL instance, or multiple files from the same Cloud Storage bucket."
        }
      },
      "description": "Resource that has been exfiltrated or exfiltrated_to.",
      "id": "ExfilResource",
      "type": "object"
    },
    "Role": {
      "properties": {
        "kind": {
          "enumDescriptions": [
            "Role type is not specified.",
            "Kubernetes Role.",
            "Kubernetes ClusterRole."
          ],
          "description": "Role type.",
          "type": "string",
          "enum": [
            "KIND_UNSPECIFIED",
            "ROLE",
            "CLUSTER_ROLE"
          ]
        },
        "name": {
          "type": "string",
          "description": "Role name."
        },
        "ns": {
          "type": "string",
          "description": "Role namespace."
        }
      },
      "description": "Kubernetes Role or ClusterRole.",
      "type": "object",
      "id": "Role"
    },
    "GoogleCloudSecuritycenterV1RunAssetDiscoveryResponse": {
      "id": "GoogleCloudSecuritycenterV1RunAssetDiscoveryResponse",
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "COMPLETED",
            "SUPERSEDED",
            "TERMINATED"
          ],
          "enumDescriptions": [
            "Asset discovery run state was unspecified.",
            "Asset discovery run completed successfully.",
            "Asset discovery run was cancelled with tasks still pending, as another run for the same organization was started with a higher priority.",
            "Asset discovery run was killed and terminated."
          ],
          "type": "string",
          "description": "The state of an asset discovery run."
        },
        "duration": {
          "format": "google-duration",
          "description": "The duration between asset discovery run start and end",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response of asset discovery run"
    },
    "GoogleCloudSecuritycenterV1ResourceValueConfig": {
      "id": "GoogleCloudSecuritycenterV1ResourceValueConfig",
      "description": "A resource value config is a mapping configuration of user's tag values to resource values. Used by the attack path simulation.",
      "type": "object",
      "properties": {
        "tagValues": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. Tag values combined with AND to check against. Values in the form \"tagValues/123\" E.g. [ \"tagValues/123\", \"tagValues/456\", \"tagValues/789\" ] https://cloud.google.com/resource-manager/docs/tags/tags-creating-and-managing"
        },
        "scope": {
          "description": "Project or folder to scope this config to. For example, \"project/456\" would apply this config only to resources in \"project/456\" scope will be checked with \"AND\" of other resources.",
          "type": "string"
        },
        "resourceValue": {
          "description": "Required. Resource value level this expression represents",
          "enum": [
            "RESOURCE_VALUE_UNSPECIFIED",
            "HIGH",
            "MEDIUM",
            "LOW",
            "NONE"
          ],
          "enumDescriptions": [
            "Unspecific value",
            "High resource value",
            "Medium resource value",
            "Low resource value",
            "No resource value, e.g. ignore these resources"
          ],
          "type": "string"
        },
        "name": {
          "description": "Name for the resource value config",
          "type": "string"
        },
        "resourceType": {
          "description": "Apply resource_value only to resources that match resource_type. resource_type will be checked with \"AND\" of other resources. E.g. \"storage.googleapis.com/Bucket\" with resource_value \"HIGH\" will apply \"HIGH\" value only to \"storage.googleapis.com/Bucket\" resources.",
          "type": "string"
        }
      }
    },
    "StreamingConfig": {
      "properties": {
        "filter": {
          "description": "Expression that defines the filter to apply across create/update events of assets or findings as specified by the event type. The expression is a list of zero or more restrictions combined via logical operators `AND` and `OR`. Parentheses are supported, and `OR` has higher precedence than `AND`. Restrictions have the form ` ` and may have a `-` character in front of them to indicate negation. The fields map to those defined in the corresponding resource. The supported operators are: * `=` for all value types. * `\u003e`, `\u003c`, `\u003e=`, `\u003c=` for integer values. * `:`, meaning substring matching, for strings. The supported value types are: * string literals in quotes. * integer literals without quotes. * boolean literals `true` and `false` without quotes.",
          "type": "string"
        }
      },
      "description": "The config for streaming-based notifications, which send each event as soon as it is detected.",
      "id": "StreamingConfig",
      "type": "object"
    },
    "ProcessSignature": {
      "properties": {
        "memoryHashSignature": {
          "description": "Signature indicating that a binary family was matched.",
          "$ref": "MemoryHashSignature"
        },
        "yaraRuleSignature": {
          "description": "Signature indicating that a YARA rule was matched.",
          "$ref": "YaraRuleSignature"
        }
      },
      "description": "Indicates what signature matched this process.",
      "type": "object",
      "id": "ProcessSignature"
    },
    "GoogleCloudSecuritycenterV1ExternalSystem": {
      "properties": {
        "status": {
          "type": "string",
          "description": "Most recent status of the corresponding finding's ticket/tracker in the external system."
        },
        "externalUid": {
          "type": "string",
          "description": "Identifier that's used to track the given finding in the external system."
        },
        "externalSystemUpdateTime": {
          "format": "google-datetime",
          "description": "The most recent time when the corresponding finding's ticket/tracker was updated in the external system.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Full resource name of the external system, for example: \"organizations/1234/sources/5678/findings/123456/externalSystems/jira\", \"folders/1234/sources/5678/findings/123456/externalSystems/jira\", \"projects/1234/sources/5678/findings/123456/externalSystems/jira\""
        },
        "assignees": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "References primary/secondary etc assignees in the external system."
        }
      },
      "id": "GoogleCloudSecuritycenterV1ExternalSystem",
      "description": "Representation of third party SIEM/SOAR fields within SCC.",
      "type": "object"
    },
    "AuditLogConfig": {
      "type": "object",
      "properties": {
        "logType": {
          "type": "string",
          "description": "The log type that this config enables.",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ]
        },
        "exemptedMembers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
        }
      },
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "id": "AuditLogConfig"
    },
    "Vulnerability": {
      "id": "Vulnerability",
      "description": "Refers to common vulnerability fields e.g. cve, cvss, cwe etc.",
      "type": "object",
      "properties": {
        "cve": {
          "$ref": "Cve",
          "description": "CVE stands for Common Vulnerabilities and Exposures (https://cve.mitre.org/about/)"
        }
      }
    },
    "TestIamPermissionsResponse": {
      "type": "object",
      "description": "Response message for `TestIamPermissions` method.",
      "id": "TestIamPermissionsResponse",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "type": "array"
        }
      }
    },
    "KernelRootkit": {
      "description": "Kernel mode rootkit signatures.",
      "properties": {
        "unexpectedKprobeHandler": {
          "type": "boolean",
          "description": "True when `kprobe` points are present with callbacks pointing to regions that are not in the expected kernel or module code range."
        },
        "unexpectedSystemCallHandler": {
          "type": "boolean",
          "description": "True when system call handlers that are are not in the expected kernel or module code regions are present."
        },
        "unexpectedReadOnlyDataModification": {
          "description": "True when unexpected modifications of kernel read-only data memory are present.",
          "type": "boolean"
        },
        "unexpectedKernelCodePages": {
          "type": "boolean",
          "description": "True when kernel code pages that are not in the expected kernel or module code regions are present."
        },
        "name": {
          "type": "string",
          "description": "Rootkit name when available."
        },
        "unexpectedCodeModification": {
          "type": "boolean",
          "description": "True when unexpected modifications of kernel code memory are present."
        },
        "unexpectedFtraceHandler": {
          "type": "boolean",
          "description": "True when `ftrace` points are present with callbacks pointing to regions that are not in the expected kernel or module code range."
        },
        "unexpectedProcessesInRunqueue": {
          "description": "True when unexpected processes in the scheduler run queue are present. Such processes are in the run queue, but not in the process task list.",
          "type": "boolean"
        },
        "unexpectedInterruptHandler": {
          "description": "True when interrupt handlers that are are not in the expected kernel or module code regions are present.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "KernelRootkit"
    },
    "GoogleCloudSecuritycenterV1p1beta1NotificationMessage": {
      "type": "object",
      "properties": {
        "finding": {
          "$ref": "GoogleCloudSecuritycenterV1p1beta1Finding",
          "description": "If it's a Finding based notification config, this field will be populated."
        },
        "resource": {
          "description": "The Cloud resource tied to the notification.",
          "$ref": "GoogleCloudSecuritycenterV1p1beta1Resource"
        },
        "notificationConfigName": {
          "description": "Name of the notification config that generated current notification.",
          "type": "string"
        }
      },
      "description": "Security Command Center's Notification",
      "id": "GoogleCloudSecuritycenterV1p1beta1NotificationMessage"
    },
    "GroupFindingsResponse": {
      "type": "object",
      "description": "Response message for group by findings.",
      "properties": {
        "totalSize": {
          "format": "int32",
          "description": "The total number of results matching the query.",
          "type": "integer"
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results.",
          "type": "string"
        },
        "readTime": {
          "type": "string",
          "description": "Time used for executing the groupBy request.",
          "format": "google-datetime"
        },
        "groupByResults": {
          "items": {
            "$ref": "GroupResult"
          },
          "type": "array",
          "description": "Group results. There exists an element for each existing unique combination of property/values. The element contains a count for the number of times those specific property/values appear."
        }
      },
      "id": "GroupFindingsResponse"
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "properties": {
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "type": "object",
[...]
