{
  "batchPath": "batch",
  "mtlsRootUrl": "https://securitycenter.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "resources": {
    "organizations": {
      "methods": {
        "getSubscription": {
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "description": "Required. The name of the subscription to retrieve. Format: organizations/{organization}/subscription",
              "location": "path",
              "type": "string",
              "required": true,
              "pattern": "^organizations/[^/]+/subscription$"
            }
          },
          "httpMethod": "GET",
          "id": "securitycenter.organizations.getSubscription",
          "flatPath": "v1beta2/organizations/{organizationsId}/subscription",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1beta2/{+name}",
          "response": {
            "$ref": "Subscription"
          },
          "description": "Get the Subscription resource."
        },
        "getSecurityHealthAnalyticsSettings": {
          "flatPath": "v1beta2/organizations/{organizationsId}/securityHealthAnalyticsSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "securitycenter.organizations.getSecurityHealthAnalyticsSettings",
          "path": "v1beta2/{+name}",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "description": "Get the SecurityHealthAnalyticsSettings resource.",
          "parameters": {
            "name": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. The name of the SecurityHealthAnalyticsSettings to retrieve. Formats: * organizations/{organization}/securityHealthAnalyticsSettings * folders/{folder}/securityHealthAnalyticsSettings * projects/{project}/securityHealthAnalyticsSettings",
              "pattern": "^organizations/[^/]+/securityHealthAnalyticsSettings$"
            }
          },
          "httpMethod": "GET"
        },
        "getSecurityCenterSettings": {
          "id": "securitycenter.organizations.getSecurityCenterSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "SecurityCenterSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "description": "Get the SecurityCenterSettings resource.",
          "path": "v1beta2/{+name}",
          "flatPath": "v1beta2/organizations/{organizationsId}/securityCenterSettings",
          "parameters": {
            "name": {
              "location": "path",
              "pattern": "^organizations/[^/]+/securityCenterSettings$",
              "type": "string",
              "description": "Required. The name of the SecurityCenterSettings to retrieve. Format: organizations/{organization}/securityCenterSettings Format: folders/{folder}/securityCenterSettings Format: projects/{project}/securityCenterSettings",
              "required": true
            }
          },
          "httpMethod": "GET"
        },
        "updateContainerThreatDetectionSettings": {
          "id": "securitycenter.organizations.updateContainerThreatDetectionSettings",
          "flatPath": "v1beta2/organizations/{organizationsId}/containerThreatDetectionSettings",
          "request": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1beta2/{+name}",
          "description": "Update the ContainerThreatDetectionSettings resource.",
          "response": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "parameters": {
            "updateMask": {
              "location": "query",
              "format": "google-fieldmask",
              "description": "The list of fields to be updated.",
              "type": "string"
            },
            "name": {
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^organizations/[^/]+/containerThreatDetectionSettings$",
              "description": "The resource name of the ContainerThreatDetectionSettings. Formats: * organizations/{organization}/containerThreatDetectionSettings * folders/{folder}/containerThreatDetectionSettings * projects/{project}/containerThreatDetectionSettings * projects/{project}/locations/{location}/clusters/{cluster}/containerThreatDetectionSettings"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "PATCH"
        },
        "getContainerThreatDetectionSettings": {
          "flatPath": "v1beta2/organizations/{organizationsId}/containerThreatDetectionSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "description": "Get the ContainerThreatDetectionSettings resource.",
          "path": "v1beta2/{+name}",
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "id": "securitycenter.organizations.getContainerThreatDetectionSettings",
          "parameters": {
            "name": {
              "required": true,
              "description": "Required. The name of the ContainerThreatDetectionSettings to retrieve. Formats: * organizations/{organization}/containerThreatDetectionSettings * folders/{folder}/containerThreatDetectionSettings * projects/{project}/containerThreatDetectionSettings * projects/{project}/locations/{location}/clusters/{cluster}/containerThreatDetectionSettings",
              "type": "string",
              "location": "path",
              "pattern": "^organizations/[^/]+/containerThreatDetectionSettings$"
            }
          }
        },
        "getVirtualMachineThreatDetectionSettings": {
          "flatPath": "v1beta2/organizations/{organizationsId}/virtualMachineThreatDetectionSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Get the VirtualMachineThreatDetectionSettings resource.",
          "id": "securitycenter.organizations.getVirtualMachineThreatDetectionSettings",
          "response": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          },
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^organizations/[^/]+/virtualMachineThreatDetectionSettings$",
              "location": "path",
              "required": true,
              "description": "Required. The name of the VirtualMachineThreatDetectionSettings to retrieve. Formats: * organizations/{organization}/virtualMachineThreatDetectionSettings * folders/{folder}/virtualMachineThreatDetectionSettings * projects/{project}/virtualMachineThreatDetectionSettings"
            }
          },
          "httpMethod": "GET",
          "path": "v1beta2/{+name}",
          "parameterOrder": [
            "name"
          ]
        },
        "updateVirtualMachineThreatDetectionSettings": {
          "id": "securitycenter.organizations.updateVirtualMachineThreatDetectionSettings",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1beta2/organizations/{organizationsId}/virtualMachineThreatDetectionSettings",
          "request": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          },
          "httpMethod": "PATCH",
          "response": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          },
          "description": "Update the VirtualMachineThreatDetectionSettings resource.",
          "path": "v1beta2/{+name}",
          "parameters": {
            "updateMask": {
              "location": "query",
              "description": "The list of fields to be updated.",
              "format": "google-fieldmask",
              "type": "string"
            },
            "name": {
              "pattern": "^organizations/[^/]+/virtualMachineThreatDetectionSettings$",
              "description": "The resource name of the VirtualMachineThreatDetectionSettings. Formats: * organizations/{organization}/virtualMachineThreatDetectionSettings * folders/{folder}/virtualMachineThreatDetectionSettings * projects/{project}/virtualMachineThreatDetectionSettings",
              "type": "string",
              "location": "path",
              "required": true
            }
          }
        },
        "updateRapidVulnerabilityDetectionSettings": {
          "flatPath": "v1beta2/organizations/{organizationsId}/rapidVulnerabilityDetectionSettings",
          "httpMethod": "PATCH",
          "path": "v1beta2/{+name}",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Update the RapidVulnerabilityDetectionSettings resource.",
          "request": {
            "$ref": "RapidVulnerabilityDetectionSettings"
          },
          "id": "securitycenter.organizations.updateRapidVulnerabilityDetectionSettings",
          "response": {
            "$ref": "RapidVulnerabilityDetectionSettings"
          },
          "parameters": {
            "updateMask": {
              "location": "query",
              "format": "google-fieldmask",
              "type": "string",
              "description": "The list of fields to be updated."
            },
            "name": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The resource name of the RapidVulnerabilityDetectionSettings. Formats: * organizations/{organization}/rapidVulnerabilityDetectionSettings * folders/{folder}/rapidVulnerabilityDetectionSettings * projects/{project}/rapidVulnerabilityDetectionSettings",
              "pattern": "^organizations/[^/]+/rapidVulnerabilityDetectionSettings$"
            }
          }
        },
        "getWebSecurityScannerSettings": {
          "flatPath": "v1beta2/organizations/{organizationsId}/webSecurityScannerSettings",
          "response": {
            "$ref": "WebSecurityScannerSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Get the WebSecurityScannerSettings resource.",
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^organizations/[^/]+/webSecurityScannerSettings$",
              "required": true,
              "location": "path",
              "description": "Required. The name of the WebSecurityScannerSettings to retrieve. Formats: * organizations/{organization}/webSecurityScannerSettings * folders/{folder}/webSecurityScannerSettings * projects/{project}/webSecurityScannerSettings"
            }
          },
          "httpMethod": "GET",
          "id": "securitycenter.organizations.getWebSecurityScannerSettings",
          "path": "v1beta2/{+name}"
        },
        "updateSecurityHealthAnalyticsSettings": {
          "description": "Update the SecurityHealthAnalyticsSettings resource.",
          "parameterOrder": [
            "name"
          ],
          "id": "securitycenter.organizations.updateSecurityHealthAnalyticsSettings",
          "flatPath": "v1beta2/organizations/{organizationsId}/securityHealthAnalyticsSettings",
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1beta2/{+name}",
          "response": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "request": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "parameters": {
            "updateMask": {
              "location": "query",
              "description": "The list of fields to be updated.",
              "format": "google-fieldmask",
              "type": "string"
            },
            "name": {
              "pattern": "^organizations/[^/]+/securityHealthAnalyticsSettings$",
              "description": "The resource name of the SecurityHealthAnalyticsSettings. Formats: * organizations/{organization}/securityHealthAnalyticsSettings * folders/{folder}/securityHealthAnalyticsSettings * projects/{project}/securityHealthAnalyticsSettings",
              "location": "path",
              "required": true,
              "type": "string"
            }
          }
        },
        "updateEventThreatDetectionSettings": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Update the EventThreatDetectionSettings resource.",
          "request": {
            "$ref": "EventThreatDetectionSettings"
          },
          "parameters": {
            "updateMask": {
              "description": "The list of fields to be updated.",
              "location": "query",
              "type": "string",
              "format": "google-fieldmask"
            },
            "name": {
              "location": "path",
              "description": "The resource name of the EventThreatDetectionSettings. Formats: * organizations/{organization}/eventThreatDetectionSettings * folders/{folder}/eventThreatDetectionSettings * projects/{project}/eventThreatDetectionSettings",
              "required": true,
              "type": "string",
              "pattern": "^organizations/[^/]+/eventThreatDetectionSettings$"
            }
          },
          "id": "securitycenter.organizations.updateEventThreatDetectionSettings",
          "parameterOrder": [
            "name"
          ],
          "path": "v1beta2/{+name}",
          "httpMethod": "PATCH",
          "response": {
            "$ref": "EventThreatDetectionSettings"
          },
          "flatPath": "v1beta2/organizations/{organizationsId}/eventThreatDetectionSettings"
        },
        "getEventThreatDetectionSettings": {
          "httpMethod": "GET",
          "id": "securitycenter.organizations.getEventThreatDetectionSettings",
          "description": "Get the EventThreatDetectionSettings resource.",
          "path": "v1beta2/{+name}",
          "response": {
            "$ref": "EventThreatDetectionSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1beta2/organizations/{organizationsId}/eventThreatDetectionSettings",
          "parameters": {
            "name": {
              "type": "string",
              "description": "Required. The name of the EventThreatDetectionSettings to retrieve. Formats: * organizations/{organization}/eventThreatDetectionSettings * folders/{folder}/eventThreatDetectionSettings * projects/{project}/eventThreatDetectionSettings",
              "required": true,
              "location": "path",
              "pattern": "^organizations/[^/]+/eventThreatDetectionSettings$"
            }
          }
        },
        "getRapidVulnerabilityDetectionSettings": {
          "description": "Get the RapidVulnerabilityDetectionSettings resource.",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1beta2/organizations/{organizationsId}/rapidVulnerabilityDetectionSettings",
          "response": {
            "$ref": "RapidVulnerabilityDetectionSettings"
          },
          "parameters": {
            "name": {
              "location": "path",
              "description": "Required. The name of the RapidVulnerabilityDetectionSettings to retrieve. Formats: * organizations/{organization}/rapidVulnerabilityDetectionSettings * folders/{folder}/rapidVulnerabilityDetectionSettings * projects/{project}/rapidVulnerabilityDetectionSettings",
              "pattern": "^organizations/[^/]+/rapidVulnerabilityDetectionSettings$",
              "type": "string",
              "required": true
            }
          },
          "id": "securitycenter.organizations.getRapidVulnerabilityDetectionSettings",
          "parameterOrder": [
            "name"
          ],
          "path": "v1beta2/{+name}"
        },
        "getOnboardingState": {
          "httpMethod": "GET",
          "flatPath": "v1beta2/organizations/{organizationsId}/onboardingState",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "securitycenter.organizations.getOnboardingState",
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^organizations/[^/]+/onboardingState$",
              "description": "Required. The name of the OnboardingState to retrieve. Formats: * organizations/{organization}/onboardingState * folders/{folder}/onboardingState * projects/{project}/onboardingState",
              "location": "path",
              "required": true
            }
          },
          "path": "v1beta2/{+name}",
          "response": {
            "$ref": "OnboardingState"
          },
          "parameterOrder": [
            "name"
          ],
          "description": "Retrieve the OnboardingState of a resource."
        },
        "updateWebSecurityScannerSettings": {
          "id": "securitycenter.organizations.updateWebSecurityScannerSettings",
          "description": "Update the WebSecurityScannerSettings resource.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "PATCH",
          "parameterOrder": [
            "name"
          ],
          "path": "v1beta2/{+name}",
          "response": {
            "$ref": "WebSecurityScannerSettings"
          },
          "request": {
            "$ref": "WebSecurityScannerSettings"
          },
          "flatPath": "v1beta2/organizations/{organizationsId}/webSecurityScannerSettings",
          "parameters": {
            "updateMask": {
              "type": "string",
              "format": "google-fieldmask",
              "location": "query",
              "description": "The list of fields to be updated."
            },
            "name": {
              "location": "path",
              "required": true,
              "description": "The resource name of the WebSecurityScannerSettings. Formats: * organizations/{organization}/webSecurityScannerSettings * folders/{folder}/webSecurityScannerSettings * projects/{project}/webSecurityScannerSettings",
              "pattern": "^organizations/[^/]+/webSecurityScannerSettings$",
              "type": "string"
            }
          }
        }
      },
      "resources": {
        "containerThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "parameters": {
                "name": {
                  "description": "Required. The name of the ContainerThreatDetectionSettings to calculate. Formats: * organizations/{organization}/containerThreatDetectionSettings * folders/{folder}/containerThreatDetectionSettings * projects/{project}/containerThreatDetectionSettings * projects/{project}/locations/{location}/clusters/{cluster}/containerThreatDetectionSettings",
                  "pattern": "^organizations/[^/]+/containerThreatDetectionSettings$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "flatPath": "v1beta2/organizations/{organizationsId}/containerThreatDetectionSettings:calculate",
              "path": "v1beta2/{+name}:calculate",
              "description": "Calculates the effective ContainerThreatDetectionSettings based on its level in the resource hierarchy and its settings.",
              "httpMethod": "GET",
              "id": "securitycenter.organizations.containerThreatDetectionSettings.calculate",
              "response": {
                "$ref": "ContainerThreatDetectionSettings"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ]
            }
          }
        },
        "webSecurityScannerSettings": {
          "methods": {
            "calculate": {
              "id": "securitycenter.organizations.webSecurityScannerSettings.calculate",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "WebSecurityScannerSettings"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the WebSecurityScannerSettings to calculate. Formats: * organizations/{organization}/webSecurityScannerSettings * folders/{folder}/webSecurityScannerSettings * projects/{project}/webSecurityScannerSettings",
                  "pattern": "^organizations/[^/]+/webSecurityScannerSettings$"
                }
              },
              "httpMethod": "GET",
              "description": "Calculates the effective WebSecurityScannerSettings based on its level in the resource hierarchy and its settings.",
              "flatPath": "v1beta2/organizations/{organizationsId}/webSecurityScannerSettings:calculate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta2/{+name}:calculate"
            }
          }
        },
        "virtualMachineThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "VirtualMachineThreatDetectionSettings"
              },
              "path": "v1beta2/{+name}:calculate",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^organizations/[^/]+/virtualMachineThreatDetectionSettings$",
                  "description": "Required. The name of the VirtualMachineThreatDetectionSettings to calculate. Formats: * organizations/{organization}/virtualMachineThreatDetectionSettings * folders/{folder}/virtualMachineThreatDetectionSettings * projects/{project}/virtualMachineThreatDetectionSettings",
                  "location": "path"
                }
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "securitycenter.organizations.virtualMachineThreatDetectionSettings.calculate",
              "description": "Calculates the effective VirtualMachineThreatDetectionSettings based on its level in the resource hierarchy and its settings.",
              "flatPath": "v1beta2/organizations/{organizationsId}/virtualMachineThreatDetectionSettings:calculate"
            }
          }
        },
        "eventThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The name of the EventThreatDetectionSettings to calculate. Formats: * organizations/{organization}/eventThreatDetectionSettings * folders/{folder}/eventThreatDetectionSettings * projects/{project}/eventThreatDetectionSettings",
                  "location": "path",
                  "pattern": "^organizations/[^/]+/eventThreatDetectionSettings$",
                  "required": true,
                  "type": "string"
                }
              },
              "id": "securitycenter.organizations.eventThreatDetectionSettings.calculate",
              "path": "v1beta2/{+name}:calculate",
              "httpMethod": "GET",
              "flatPath": "v1beta2/organizations/{organizationsId}/eventThreatDetectionSettings:calculate",
              "response": {
                "$ref": "EventThreatDetectionSettings"
              },
              "description": "Calculates the effective EventThreatDetectionSettings based on its level in the resource hierarchy and its settings."
            }
          }
        },
        "securityHealthAnalyticsSettings": {
          "methods": {
            "calculate": {
              "path": "v1beta2/{+name}:calculate",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The name of the SecurityHealthAnalyticsSettings to calculate. Formats: * organizations/{organization}/securityHealthAnalyticsSettings * folders/{folder}/securityHealthAnalyticsSettings * projects/{project}/securityHealthAnalyticsSettings",
                  "required": true,
                  "pattern": "^organizations/[^/]+/securityHealthAnalyticsSettings$",
                  "type": "string",
                  "location": "path"
                }
              },
              "id": "securitycenter.organizations.securityHealthAnalyticsSettings.calculate",
              "httpMethod": "GET",
              "response": {
                "$ref": "SecurityHealthAnalyticsSettings"
              },
              "description": "Calculates the effective SecurityHealthAnalyticsSettings based on its level in the resource hierarchy and its settings.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta2/organizations/{organizationsId}/securityHealthAnalyticsSettings:calculate"
            }
          }
        },
        "rapidVulnerabilityDetectionSettings": {
          "methods": {
            "calculate": {
              "id": "securitycenter.organizations.rapidVulnerabilityDetectionSettings.calculate",
              "path": "v1beta2/{+name}:calculate",
              "response": {
                "$ref": "RapidVulnerabilityDetectionSettings"
              },
              "description": "Calculates the effective RapidVulnerabilityDetectionSettings based on its level in the resource hierarchy and its settings.",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^organizations/[^/]+/rapidVulnerabilityDetectionSettings$",
                  "description": "Required. The name of the RapidVulnerabilityDetectionSettings to calculate. Formats: * organizations/{organization}/rapidVulnerabilityDetectionSettings * folders/{folder}/rapidVulnerabilityDetectionSettings * projects/{project}/rapidVulnerabilityDetectionSettings",
                  "required": true,
                  "location": "path"
                }
              },
              "flatPath": "v1beta2/organizations/{organizationsId}/rapidVulnerabilityDetectionSettings:calculate",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        }
      }
    },
    "folders": {
      "resources": {
        "rapidVulnerabilityDetectionSettings": {
          "methods": {
            "calculate": {
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Calculates the effective RapidVulnerabilityDetectionSettings based on its level in the resource hierarchy and its settings.",
              "id": "securitycenter.folders.rapidVulnerabilityDetectionSettings.calculate",
              "path": "v1beta2/{+name}:calculate",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^folders/[^/]+/rapidVulnerabilityDetectionSettings$",
                  "description": "Required. The name of the RapidVulnerabilityDetectionSettings to calculate. Formats: * organizations/{organization}/rapidVulnerabilityDetectionSettings * folders/{folder}/rapidVulnerabilityDetectionSettings * projects/{project}/rapidVulnerabilityDetectionSettings",
                  "type": "string",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta2/folders/{foldersId}/rapidVulnerabilityDetectionSettings:calculate",
              "response": {
                "$ref": "RapidVulnerabilityDetectionSettings"
              }
            }
          }
        },
        "securityHealthAnalyticsSettings": {
          "methods": {
            "calculate": {
              "parameters": {
                "name": {
                  "description": "Required. The name of the SecurityHealthAnalyticsSettings to calculate. Formats: * organizations/{organization}/securityHealthAnalyticsSettings * folders/{folder}/securityHealthAnalyticsSettings * projects/{project}/securityHealthAnalyticsSettings",
                  "required": true,
                  "type": "string",
                  "pattern": "^folders/[^/]+/securityHealthAnalyticsSettings$",
                  "location": "path"
                }
              },
              "path": "v1beta2/{+name}:calculate",
              "description": "Calculates the effective SecurityHealthAnalyticsSettings based on its level in the resource hierarchy and its settings.",
              "id": "securitycenter.folders.securityHealthAnalyticsSettings.calculate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "SecurityHealthAnalyticsSettings"
              },
              "flatPath": "v1beta2/folders/{foldersId}/securityHealthAnalyticsSettings:calculate",
              "httpMethod": "GET"
            }
          }
        },
        "eventThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "path": "v1beta2/{+name}:calculate",
              "httpMethod": "GET",
              "flatPath": "v1beta2/folders/{foldersId}/eventThreatDetectionSettings:calculate",
              "id": "securitycenter.folders.eventThreatDetectionSettings.calculate",
              "response": {
                "$ref": "EventThreatDetectionSettings"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Calculates the effective EventThreatDetectionSettings based on its level in the resource hierarchy and its settings.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "pattern": "^folders/[^/]+/eventThreatDetectionSettings$",
                  "required": true,
                  "description": "Required. The name of the EventThreatDetectionSettings to calculate. Formats: * organizations/{organization}/eventThreatDetectionSettings * folders/{folder}/eventThreatDetectionSettings * projects/{project}/eventThreatDetectionSettings",
                  "location": "path",
                  "type": "string"
                }
              }
            }
          }
        },
        "webSecurityScannerSettings": {
          "methods": {
            "calculate": {
              "description": "Calculates the effective WebSecurityScannerSettings based on its level in the resource hierarchy and its settings.",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "id": "securitycenter.folders.webSecurityScannerSettings.calculate",
              "flatPath": "v1beta2/folders/{foldersId}/webSecurityScannerSettings:calculate",
              "parameters": {
                "name": {
                  "pattern": "^folders/[^/]+/webSecurityScannerSettings$",
                  "location": "path",
                  "description": "Required. The name of the WebSecurityScannerSettings to calculate. Formats: * organizations/{organization}/webSecurityScannerSettings * folders/{folder}/webSecurityScannerSettings * projects/{project}/webSecurityScannerSettings",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "WebSecurityScannerSettings"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta2/{+name}:calculate"
            }
          }
        },
        "containerThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "flatPath": "v1beta2/folders/{foldersId}/containerThreatDetectionSettings:calculate",
              "parameterOrder": [
                "name"
              ],
              "id": "securitycenter.folders.containerThreatDetectionSettings.calculate",
              "path": "v1beta2/{+name}:calculate",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Calculates the effective ContainerThreatDetectionSettings based on its level in the resource hierarchy and its settings.",
              "response": {
                "$ref": "ContainerThreatDetectionSettings"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The name of the ContainerThreatDetectionSettings to calculate. Formats: * organizations/{organization}/containerThreatDetectionSettings * folders/{folder}/containerThreatDetectionSettings * projects/{project}/containerThreatDetectionSettings * projects/{project}/locations/{location}/clusters/{cluster}/containerThreatDetectionSettings",
                  "pattern": "^folders/[^/]+/containerThreatDetectionSettings$",
                  "location": "path",
                  "required": true
                }
              }
            }
          }
        },
        "virtualMachineThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "flatPath": "v1beta2/folders/{foldersId}/virtualMachineThreatDetectionSettings:calculate",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Required. The name of the VirtualMachineThreatDetectionSettings to calculate. Formats: * organizations/{organization}/virtualMachineThreatDetectionSettings * folders/{folder}/virtualMachineThreatDetectionSettings * projects/{project}/virtualMachineThreatDetectionSettings",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^folders/[^/]+/virtualMachineThreatDetectionSettings$"
                }
              },
              "response": {
                "$ref": "VirtualMachineThreatDetectionSettings"
              },
              "description": "Calculates the effective VirtualMachineThreatDetectionSettings based on its level in the resource hierarchy and its settings.",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "securitycenter.folders.virtualMachineThreatDetectionSettings.calculate",
              "path": "v1beta2/{+name}:calculate"
            }
          }
        }
      },
      "methods": {
        "getWebSecurityScannerSettings": {
          "parameterOrder": [
            "name"
          ],
          "path": "v1beta2/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Get the WebSecurityScannerSettings resource.",
          "httpMethod": "GET",
          "flatPath": "v1beta2/folders/{foldersId}/webSecurityScannerSettings",
          "parameters": {
            "name": {
              "pattern": "^folders/[^/]+/webSecurityScannerSettings$",
              "location": "path",
              "description": "Required. The name of the WebSecurityScannerSettings to retrieve. Formats: * organizations/{organization}/webSecurityScannerSettings * folders/{folder}/webSecurityScannerSettings * projects/{project}/webSecurityScannerSettings",
              "required": true,
              "type": "string"
            }
          },
          "id": "securitycenter.folders.getWebSecurityScannerSettings",
          "response": {
            "$ref": "WebSecurityScannerSettings"
          }
        },
        "updateSecurityHealthAnalyticsSettings": {
          "request": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "parameters": {
            "updateMask": {
              "description": "The list of fields to be updated.",
              "location": "query",
              "type": "string",
              "format": "google-fieldmask"
            },
            "name": {
              "required": true,
              "description": "The resource name of the SecurityHealthAnalyticsSettings. Formats: * organizations/{organization}/securityHealthAnalyticsSettings * folders/{folder}/securityHealthAnalyticsSettings * projects/{project}/securityHealthAnalyticsSettings",
              "location": "path",
              "type": "string",
              "pattern": "^folders/[^/]+/securityHealthAnalyticsSettings$"
            }
          },
          "description": "Update the SecurityHealthAnalyticsSettings resource.",
          "path": "v1beta2/{+name}",
          "httpMethod": "PATCH",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1beta2/folders/{foldersId}/securityHealthAnalyticsSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "securitycenter.folders.updateSecurityHealthAnalyticsSettings",
          "response": {
            "$ref": "SecurityHealthAnalyticsSettings"
          }
        },
        "updateWebSecurityScannerSettings": {
          "path": "v1beta2/{+name}",
          "flatPath": "v1beta2/folders/{foldersId}/webSecurityScannerSettings",
          "description": "Update the WebSecurityScannerSettings resource.",
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "securitycenter.folders.updateWebSecurityScannerSettings",
          "response": {
            "$ref": "WebSecurityScannerSettings"
          },
          "request": {
            "$ref": "WebSecurityScannerSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "description": "The resource name of the WebSecurityScannerSettings. Formats: * organizations/{organization}/webSecurityScannerSettings * folders/{folder}/webSecurityScannerSettings * projects/{project}/webSecurityScannerSettings",
              "required": true,
              "pattern": "^folders/[^/]+/webSecurityScannerSettings$",
              "type": "string",
              "location": "path"
            },
            "updateMask": {
              "format": "google-fieldmask",
              "location": "query",
              "type": "string",
              "description": "The list of fields to be updated."
            }
          }
        },
        "getVirtualMachineThreatDetectionSettings": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          },
          "id": "securitycenter.folders.getVirtualMachineThreatDetectionSettings",
          "flatPath": "v1beta2/folders/{foldersId}/virtualMachineThreatDetectionSettings",
          "description": "Get the VirtualMachineThreatDetectionSettings resource.",
          "path": "v1beta2/{+name}",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "description": "Required. The name of the VirtualMachineThreatDetectionSettings to retrieve. Formats: * organizations/{organization}/virtualMachineThreatDetectionSettings * folders/{folder}/virtualMachineThreatDetectionSettings * projects/{project}/virtualMachineThreatDetectionSettings",
              "type": "string",
              "required": true,
              "pattern": "^folders/[^/]+/virtualMachineThreatDetectionSettings$",
              "location": "path"
            }
          }
        },
        "getContainerThreatDetectionSettings": {
          "parameters": {
            "name": {
              "type": "string",
              "location": "path",
              "description": "Required. The name of the ContainerThreatDetectionSettings to retrieve. Formats: * organizations/{organization}/containerThreatDetectionSettings * folders/{folder}/containerThreatDetectionSettings * projects/{project}/containerThreatDetectionSettings * projects/{project}/locations/{location}/clusters/{cluster}/containerThreatDetectionSettings",
              "required": true,
              "pattern": "^folders/[^/]+/containerThreatDetectionSettings$"
            }
          },
          "description": "Get the ContainerThreatDetectionSettings resource.",
          "httpMethod": "GET",
          "response": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "securitycenter.folders.getContainerThreatDetectionSettings",
          "parameterOrder": [
            "name"
          ],
          "path": "v1beta2/{+name}",
          "flatPath": "v1beta2/folders/{foldersId}/containerThreatDetectionSettings"
        },
        "updateVirtualMachineThreatDetectionSettings": {
          "id": "securitycenter.folders.updateVirtualMachineThreatDetectionSettings",
          "parameters": {
            "name": {
              "pattern": "^folders/[^/]+/virtualMachineThreatDetectionSettings$",
              "location": "path",
              "required": true,
              "description": "The resource name of the VirtualMachineThreatDetectionSettings. Formats: * organizations/{organization}/virtualMachineThreatDetectionSettings * folders/{folder}/virtualMachineThreatDetectionSettings * projects/{project}/virtualMachineThreatDetectionSettings",
              "type": "string"
            },
            "updateMask": {
              "description": "The list of fields to be updated.",
              "type": "string",
              "format": "google-fieldmask",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          },
          "description": "Update the VirtualMachineThreatDetectionSettings resource.",
          "flatPath": "v1beta2/folders/{foldersId}/virtualMachineThreatDetectionSettings",
          "response": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          },
          "path": "v1beta2/{+name}",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "PATCH"
        },
        "getSecurityCenterSettings": {
          "description": "Get the SecurityCenterSettings resource.",
          "httpMethod": "GET",
          "flatPath": "v1beta2/folders/{foldersId}/securityCenterSettings",
          "id": "securitycenter.folders.getSecurityCenterSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1beta2/{+name}",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "SecurityCenterSettings"
          },
          "parameters": {
            "name": {
              "pattern": "^folders/[^/]+/securityCenterSettings$",
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Required. The name of the SecurityCenterSettings to retrieve. Format: organizations/{organization}/securityCenterSettings Format: folders/{folder}/securityCenterSettings Format: projects/{project}/securityCenterSettings"
            }
          }
        },
        "getEventThreatDetectionSettings": {
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "EventThreatDetectionSettings"
          },
          "id": "securitycenter.folders.getEventThreatDetectionSettings",
          "description": "Get the EventThreatDetectionSettings resource.",
          "path": "v1beta2/{+name}",
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "location": "path",
              "pattern": "^folders/[^/]+/eventThreatDetectionSettings$",
              "description": "Required. The name of the EventThreatDetectionSettings to retrieve. Formats: * organizations/{organization}/eventThreatDetectionSettings * folders/{folder}/eventThreatDetectionSettings * projects/{project}/eventThreatDetectionSettings"
            }
          },
          "flatPath": "v1beta2/folders/{foldersId}/eventThreatDetectionSettings",
          "parameterOrder": [
            "name"
          ]
        },
        "getOnboardingState": {
          "flatPath": "v1beta2/folders/{foldersId}/onboardingState",
          "parameters": {
            "name": {
              "pattern": "^folders/[^/]+/onboardingState$",
              "description": "Required. The name of the OnboardingState to retrieve. Formats: * organizations/{organization}/onboardingState * folders/{folder}/onboardingState * projects/{project}/onboardingState",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "response": {
            "$ref": "OnboardingState"
          },
          "parameterOrder": [
            "name"
          ],
          "description": "Retrieve the OnboardingState of a resource.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1beta2/{+name}",
          "httpMethod": "GET",
          "id": "securitycenter.folders.getOnboardingState"
        },
        "updateContainerThreatDetectionSettings": {
          "path": "v1beta2/{+name}",
          "request": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "parameters": {
            "updateMask": {
              "description": "The list of fields to be updated.",
              "location": "query",
              "type": "string",
              "format": "google-fieldmask"
            },
            "name": {
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^folders/[^/]+/containerThreatDetectionSettings$",
              "description": "The resource name of the ContainerThreatDetectionSettings. Formats: * organizations/{organization}/containerThreatDetectionSettings * folders/{folder}/containerThreatDetectionSettings * projects/{project}/containerThreatDetectionSettings * projects/{project}/locations/{location}/clusters/{cluster}/containerThreatDetectionSettings"
            }
          },
          "id": "securitycenter.folders.updateContainerThreatDetectionSettings",
          "flatPath": "v1beta2/folders/{foldersId}/containerThreatDetectionSettings",
          "response": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "PATCH",
          "description": "Update the ContainerThreatDetectionSettings resource."
        },
        "updateEventThreatDetectionSettings": {
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Update the EventThreatDetectionSettings resource.",
          "response": {
            "$ref": "EventThreatDetectionSettings"
          },
          "request": {
            "$ref": "EventThreatDetectionSettings"
          },
          "path": "v1beta2/{+name}",
          "id": "securitycenter.folders.updateEventThreatDetectionSettings",
          "flatPath": "v1beta2/folders/{foldersId}/eventThreatDetectionSettings",
          "parameters": {
            "updateMask": {
              "format": "google-fieldmask",
              "location": "query",
              "description": "The list of fields to be updated.",
              "type": "string"
            },
            "name": {
              "description": "The resource name of the EventThreatDetectionSettings. Formats: * organizations/{organization}/eventThreatDetectionSettings * folders/{folder}/eventThreatDetectionSettings * projects/{project}/eventThreatDetectionSettings",
              "type": "string",
              "required": true,
              "location": "path",
              "pattern": "^folders/[^/]+/eventThreatDetectionSettings$"
            }
          },
          "parameterOrder": [
            "name"
          ]
        },
        "getSecurityHealthAnalyticsSettings": {
          "httpMethod": "GET",
          "flatPath": "v1beta2/folders/{foldersId}/securityHealthAnalyticsSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "securitycenter.folders.getSecurityHealthAnalyticsSettings",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "description": "Required. The name of the SecurityHealthAnalyticsSettings to retrieve. Formats: * organizations/{organization}/securityHealthAnalyticsSettings * folders/{folder}/securityHealthAnalyticsSettings * projects/{project}/securityHealthAnalyticsSettings",
              "required": true,
              "pattern": "^folders/[^/]+/securityHealthAnalyticsSettings$",
              "location": "path",
              "type": "string"
            }
          },
          "description": "Get the SecurityHealthAnalyticsSettings resource.",
          "response": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "path": "v1beta2/{+name}"
        },
        "getRapidVulnerabilityDetectionSettings": {
          "response": {
            "$ref": "RapidVulnerabilityDetectionSettings"
          },
          "id": "securitycenter.folders.getRapidVulnerabilityDetectionSettings",
          "parameters": {
            "name": {
              "pattern": "^folders/[^/]+/rapidVulnerabilityDetectionSettings$",
              "location": "path",
              "description": "Required. The name of the RapidVulnerabilityDetectionSettings to retrieve. Formats: * organizations/{organization}/rapidVulnerabilityDetectionSettings * folders/{folder}/rapidVulnerabilityDetectionSettings * projects/{project}/rapidVulnerabilityDetectionSettings",
              "required": true,
              "type": "string"
            }
          },
          "path": "v1beta2/{+name}",
          "description": "Get the RapidVulnerabilityDetectionSettings resource.",
          "flatPath": "v1beta2/folders/{foldersId}/rapidVulnerabilityDetectionSettings",
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "updateRapidVulnerabilityDetectionSettings": {
          "path": "v1beta2/{+name}",
          "id": "securitycenter.folders.updateRapidVulnerabilityDetectionSettings",
          "httpMethod": "PATCH",
          "response": {
            "$ref": "RapidVulnerabilityDetectionSettings"
          },
          "parameters": {
            "updateMask": {
              "type": "string",
              "format": "google-fieldmask",
              "description": "The list of fields to be updated.",
              "location": "query"
            },
            "name": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The resource name of the RapidVulnerabilityDetectionSettings. Formats: * organizations/{organization}/rapidVulnerabilityDetectionSettings * folders/{folder}/rapidVulnerabilityDetectionSettings * projects/{project}/rapidVulnerabilityDetectionSettings",
              "pattern": "^folders/[^/]+/rapidVulnerabilityDetectionSettings$"
            }
          },
          "description": "Update the RapidVulnerabilityDetectionSettings resource.",
          "request": {
            "$ref": "RapidVulnerabilityDetectionSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1beta2/folders/{foldersId}/rapidVulnerabilityDetectionSettings",
          "parameterOrder": [
            "name"
          ]
        }
      }
    },
    "projects": {
      "resources": {
        "virtualMachineThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "id": "securitycenter.projects.virtualMachineThreatDetectionSettings.calculate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/virtualMachineThreatDetectionSettings$",
                  "description": "Required. The name of the VirtualMachineThreatDetectionSettings to calculate. Formats: * organizations/{organization}/virtualMachineThreatDetectionSettings * folders/{folder}/virtualMachineThreatDetectionSettings * projects/{project}/virtualMachineThreatDetectionSettings",
                  "type": "string",
                  "required": true
                }
              },
              "response": {
                "$ref": "VirtualMachineThreatDetectionSettings"
              },
              "flatPath": "v1beta2/projects/{projectsId}/virtualMachineThreatDetectionSettings:calculate",
              "description": "Calculates the effective VirtualMachineThreatDetectionSettings based on its level in the resource hierarchy and its settings.",
              "httpMethod": "GET",
              "path": "v1beta2/{+name}:calculate",
              "parameterOrder": [
                "name"
              ]
            }
          }
        },
        "containerThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "httpMethod": "GET",
              "description": "Calculates the effective ContainerThreatDetectionSettings based on its level in the resource hierarchy and its settings.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "securitycenter.projects.containerThreatDetectionSettings.calculate",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/containerThreatDetectionSettings$",
                  "location": "path",
                  "description": "Required. The name of the ContainerThreatDetectionSettings to calculate. Formats: * organizations/{organization}/containerThreatDetectionSettings * folders/{folder}/containerThreatDetectionSettings * projects/{project}/containerThreatDetectionSettings * projects/{project}/locations/{location}/clusters/{cluster}/containerThreatDetectionSettings",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta2/projects/{projectsId}/containerThreatDetectionSettings:calculate",
              "response": {
                "$ref": "ContainerThreatDetectionSettings"
              },
              "path": "v1beta2/{+name}:calculate"
            }
          }
        },
        "securityHealthAnalyticsSettings": {
          "methods": {
            "calculate": {
              "id": "securitycenter.projects.securityHealthAnalyticsSettings.calculate",
              "path": "v1beta2/{+name}:calculate",
              "parameters": {
                "name": {
                  "description": "Required. The name of the SecurityHealthAnalyticsSettings to calculate. Formats: * organizations/{organization}/securityHealthAnalyticsSettings * folders/{folder}/securityHealthAnalyticsSettings * projects/{project}/securityHealthAnalyticsSettings",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/securityHealthAnalyticsSettings$"
                }
              },
              "response": {
                "$ref": "SecurityHealthAnalyticsSettings"
              },
              "description": "Calculates the effective SecurityHealthAnalyticsSettings based on its level in the resource hierarchy and its settings.",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta2/projects/{projectsId}/securityHealthAnalyticsSettings:calculate",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "rapidVulnerabilityDetectionSettings": {
          "methods": {
            "calculate": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "description": "Calculates the effective RapidVulnerabilityDetectionSettings based on its level in the resource hierarchy and its settings.",
              "response": {
                "$ref": "RapidVulnerabilityDetectionSettings"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The name of the RapidVulnerabilityDetectionSettings to calculate. Formats: * organizations/{organization}/rapidVulnerabilityDetectionSettings * folders/{folder}/rapidVulnerabilityDetectionSettings * projects/{project}/rapidVulnerabilityDetectionSettings",
                  "pattern": "^projects/[^/]+/rapidVulnerabilityDetectionSettings$",
                  "type": "string",
                  "required": true
                }
              },
              "httpMethod": "GET",
              "id": "securitycenter.projects.rapidVulnerabilityDetectionSettings.calculate",
              "path": "v1beta2/{+name}:calculate",
              "flatPath": "v1beta2/projects/{projectsId}/rapidVulnerabilityDetectionSettings:calculate"
            }
          }
        },
        "webSecurityScannerSettings": {
          "methods": {
            "calculate": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta2/projects/{projectsId}/webSecurityScannerSettings:calculate",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The name of the WebSecurityScannerSettings to calculate. Formats: * organizations/{organization}/webSecurityScannerSettings * folders/{folder}/webSecurityScannerSettings * projects/{project}/webSecurityScannerSettings",
                  "pattern": "^projects/[^/]+/webSecurityScannerSettings$",
                  "required": true,
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "path": "v1beta2/{+name}:calculate",
              "description": "Calculates the effective WebSecurityScannerSettings based on its level in the resource hierarchy and its settings.",
              "response": {
                "$ref": "WebSecurityScannerSettings"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "securitycenter.projects.webSecurityScannerSettings.calculate"
            }
          }
        },
        "eventThreatDetectionSettings": {
          "methods": {
            "calculate": {
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/eventThreatDetectionSettings$",
                  "required": true,
                  "description": "Required. The name of the EventThreatDetectionSettings to calculate. Formats: * organizations/{organization}/eventThreatDetectionSettings * folders/{folder}/eventThreatDetectionSettings * projects/{project}/eventThreatDetectionSettings"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta2/projects/{projectsId}/eventThreatDetectionSettings:calculate",
              "path": "v1beta2/{+name}:calculate",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "description": "Calculates the effective EventThreatDetectionSettings based on its level in the resource hierarchy and its settings.",
              "response": {
                "$ref": "EventThreatDetectionSettings"
              },
              "id": "securitycenter.projects.eventThreatDetectionSettings.calculate"
            }
          }
        },
        "locations": {
          "resources": {
            "clusters": {
              "methods": {
                "updateContainerThreatDetectionSettings": {
                  "request": {
                    "$ref": "ContainerThreatDetectionSettings"
                  },
                  "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/containerThreatDetectionSettings",
                  "response": {
                    "$ref": "ContainerThreatDetectionSettings"
                  },
                  "id": "securitycenter.projects.locations.clusters.updateContainerThreatDetectionSettings",
                  "description": "Update the ContainerThreatDetectionSettings resource.",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta2/{+name}",
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "description": "The resource name of the ContainerThreatDetectionSettings. Formats: * organizations/{organization}/containerThreatDetectionSettings * folders/{folder}/containerThreatDetectionSettings * projects/{project}/containerThreatDetectionSettings * projects/{project}/locations/{location}/clusters/{cluster}/containerThreatDetectionSettings",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/containerThreatDetectionSettings$",
                      "required": true
                    },
                    "updateMask": {
                      "type": "string",
                      "location": "query",
                      "description": "The list of fields to be updated.",
                      "format": "google-fieldmask"
                    }
                  }
                },
                "getContainerThreatDetectionSettings": {
                  "description": "Get the ContainerThreatDetectionSettings resource.",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The name of the ContainerThreatDetectionSettings to retrieve. Formats: * organizations/{organization}/containerThreatDetectionSettings * folders/{folder}/containerThreatDetectionSettings * projects/{project}/containerThreatDetectionSettings * projects/{project}/locations/{location}/clusters/{cluster}/containerThreatDetectionSettings",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/containerThreatDetectionSettings$"
                    }
                  },
                  "response": {
                    "$ref": "ContainerThreatDetectionSettings"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "securitycenter.projects.locations.clusters.getContainerThreatDetectionSettings",
                  "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/containerThreatDetectionSettings",
                  "path": "v1beta2/{+name}"
                }
              },
              "resources": {
                "containerThreatDetectionSettings": {
                  "methods": {
                    "calculate": {
                      "path": "v1beta2/{+name}:calculate",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "ContainerThreatDetectionSettings"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/containerThreatDetectionSettings:calculate",
                      "httpMethod": "GET",
                      "description": "Calculates the effective ContainerThreatDetectionSettings based on its level in the resource hierarchy and its settings.",
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the ContainerThreatDetectionSettings to calculate. Formats: * organizations/{organization}/containerThreatDetectionSettings * folders/{folder}/containerThreatDetectionSettings * projects/{project}/containerThreatDetectionSettings * projects/{project}/locations/{location}/clusters/{cluster}/containerThreatDetectionSettings",
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/containerThreatDetectionSettings$",
                          "required": true
                        }
                      },
                      "id": "securitycenter.projects.locations.clusters.containerThreatDetectionSettings.calculate"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "methods": {
        "getOnboardingState": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "OnboardingState"
          },
          "path": "v1beta2/{+name}",
          "id": "securitycenter.projects.getOnboardingState",
          "description": "Retrieve the OnboardingState of a resource.",
          "parameters": {
            "name": {
              "description": "Required. The name of the OnboardingState to retrieve. Formats: * organizations/{organization}/onboardingState * folders/{folder}/onboardingState * projects/{project}/onboardingState",
              "pattern": "^projects/[^/]+/onboardingState$",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "flatPath": "v1beta2/projects/{projectsId}/onboardingState"
        },
        "updateWebSecurityScannerSettings": {
          "httpMethod": "PATCH",
          "request": {
            "$ref": "WebSecurityScannerSettings"
          },
          "flatPath": "v1beta2/projects/{projectsId}/webSecurityScannerSettings",
          "response": {
            "$ref": "WebSecurityScannerSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "updateMask": {
              "location": "query",
              "type": "string",
              "format": "google-fieldmask",
              "description": "The list of fields to be updated."
            },
            "name": {
              "pattern": "^projects/[^/]+/webSecurityScannerSettings$",
              "description": "The resource name of the WebSecurityScannerSettings. Formats: * organizations/{organization}/webSecurityScannerSettings * folders/{folder}/webSecurityScannerSettings * projects/{project}/webSecurityScannerSettings",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "id": "securitycenter.projects.updateWebSecurityScannerSettings",
          "path": "v1beta2/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Update the WebSecurityScannerSettings resource."
        },
        "updateEventThreatDetectionSettings": {
          "flatPath": "v1beta2/projects/{projectsId}/eventThreatDetectionSettings",
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "EventThreatDetectionSettings"
          },
          "description": "Update the EventThreatDetectionSettings resource.",
          "httpMethod": "PATCH",
          "path": "v1beta2/{+name}",
          "id": "securitycenter.projects.updateEventThreatDetectionSettings",
          "response": {
            "$ref": "EventThreatDetectionSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "updateMask": {
              "type": "string",
              "format": "google-fieldmask",
              "location": "query",
              "description": "The list of fields to be updated."
            },
            "name": {
              "location": "path",
              "description": "The resource name of the EventThreatDetectionSettings. Formats: * organizations/{organization}/eventThreatDetectionSettings * folders/{folder}/eventThreatDetectionSettings * projects/{project}/eventThreatDetectionSettings",
              "required": true,
              "type": "string",
              "pattern": "^projects/[^/]+/eventThreatDetectionSettings$"
            }
          }
        },
        "getSecurityHealthAnalyticsSettings": {
          "path": "v1beta2/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "id": "securitycenter.projects.getSecurityHealthAnalyticsSettings",
          "flatPath": "v1beta2/projects/{projectsId}/securityHealthAnalyticsSettings",
          "parameters": {
            "name": {
              "pattern": "^projects/[^/]+/securityHealthAnalyticsSettings$",
              "description": "Required. The name of the SecurityHealthAnalyticsSettings to retrieve. Formats: * organizations/{organization}/securityHealthAnalyticsSettings * folders/{folder}/securityHealthAnalyticsSettings * projects/{project}/securityHealthAnalyticsSettings",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "description": "Get the SecurityHealthAnalyticsSettings resource."
        },
        "updateRapidVulnerabilityDetectionSettings": {
          "flatPath": "v1beta2/projects/{projectsId}/rapidVulnerabilityDetectionSettings",
          "parameters": {
            "name": {
              "required": true,
              "pattern": "^projects/[^/]+/rapidVulnerabilityDetectionSettings$",
              "type": "string",
              "description": "The resource name of the RapidVulnerabilityDetectionSettings. Formats: * organizations/{organization}/rapidVulnerabilityDetectionSettings * folders/{folder}/rapidVulnerabilityDetectionSettings * projects/{project}/rapidVulnerabilityDetectionSettings",
              "location": "path"
            },
            "updateMask": {
              "description": "The list of fields to be updated.",
              "type": "string",
              "format": "google-fieldmask",
              "location": "query"
            }
          },
          "description": "Update the RapidVulnerabilityDetectionSettings resource.",
          "httpMethod": "PATCH",
          "request": {
            "$ref": "RapidVulnerabilityDetectionSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "securitycenter.projects.updateRapidVulnerabilityDetectionSettings",
          "response": {
            "$ref": "RapidVulnerabilityDetectionSettings"
          },
          "path": "v1beta2/{+name}",
          "parameterOrder": [
            "name"
          ]
        },
        "getWebSecurityScannerSettings": {
          "parameters": {
            "name": {
              "pattern": "^projects/[^/]+/webSecurityScannerSettings$",
              "required": true,
              "description": "Required. The name of the WebSecurityScannerSettings to retrieve. Formats: * organizations/{organization}/webSecurityScannerSettings * folders/{folder}/webSecurityScannerSettings * projects/{project}/webSecurityScannerSettings",
              "type": "string",
              "location": "path"
            }
          },
          "description": "Get the WebSecurityScannerSettings resource.",
          "response": {
            "$ref": "WebSecurityScannerSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1beta2/projects/{projectsId}/webSecurityScannerSettings",
          "id": "securitycenter.projects.getWebSecurityScannerSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "GET",
          "path": "v1beta2/{+name}"
        },
        "updateContainerThreatDetectionSettings": {
          "flatPath": "v1beta2/projects/{projectsId}/containerThreatDetectionSettings",
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^projects/[^/]+/containerThreatDetectionSettings$",
              "description": "The resource name of the ContainerThreatDetectionSettings. Formats: * organizations/{organization}/containerThreatDetectionSettings * folders/{folder}/containerThreatDetectionSettings * projects/{project}/containerThreatDetectionSettings * projects/{project}/locations/{location}/clusters/{cluster}/containerThreatDetectionSettings",
              "location": "path",
              "required": true
            },
            "updateMask": {
              "location": "query",
              "type": "string",
              "format": "google-fieldmask",
              "description": "The list of fields to be updated."
            }
          },
          "response": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "path": "v1beta2/{+name}",
          "id": "securitycenter.projects.updateContainerThreatDetectionSettings",
          "description": "Update the ContainerThreatDetectionSettings resource.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "PATCH",
          "request": {
            "$ref": "ContainerThreatDetectionSettings"
          }
        },
        "getRapidVulnerabilityDetectionSettings": {
          "id": "securitycenter.projects.getRapidVulnerabilityDetectionSettings",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "description": "Get the RapidVulnerabilityDetectionSettings resource.",
          "parameters": {
            "name": {
              "type": "string",
              "description": "Required. The name of the RapidVulnerabilityDetectionSettings to retrieve. Formats: * organizations/{organization}/rapidVulnerabilityDetectionSettings * folders/{folder}/rapidVulnerabilityDetectionSettings * projects/{project}/rapidVulnerabilityDetectionSettings",
              "required": true,
              "location": "path",
              "pattern": "^projects/[^/]+/rapidVulnerabilityDetectionSettings$"
            }
          },
          "path": "v1beta2/{+name}",
          "flatPath": "v1beta2/projects/{projectsId}/rapidVulnerabilityDetectionSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "RapidVulnerabilityDetectionSettings"
          }
        },
        "getSecurityCenterSettings": {
          "description": "Get the SecurityCenterSettings resource.",
          "flatPath": "v1beta2/projects/{projectsId}/securityCenterSettings",
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "id": "securitycenter.projects.getSecurityCenterSettings",
          "path": "v1beta2/{+name}",
          "parameters": {
            "name": {
              "type": "string",
              "location": "path",
              "pattern": "^projects/[^/]+/securityCenterSettings$",
              "description": "Required. The name of the SecurityCenterSettings to retrieve. Format: organizations/{organization}/securityCenterSettings Format: folders/{folder}/securityCenterSettings Format: projects/{project}/securityCenterSettings",
              "required": true
            }
          },
          "response": {
            "$ref": "SecurityCenterSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "getContainerThreatDetectionSettings": {
          "description": "Get the ContainerThreatDetectionSettings resource.",
          "response": {
            "$ref": "ContainerThreatDetectionSettings"
          },
          "parameters": {
            "name": {
              "description": "Required. The name of the ContainerThreatDetectionSettings to retrieve. Formats: * organizations/{organization}/containerThreatDetectionSettings * folders/{folder}/containerThreatDetectionSettings * projects/{project}/containerThreatDetectionSettings * projects/{project}/locations/{location}/clusters/{cluster}/containerThreatDetectionSettings",
              "required": true,
              "pattern": "^projects/[^/]+/containerThreatDetectionSettings$",
              "type": "string",
              "location": "path"
            }
          },
          "httpMethod": "GET",
          "flatPath": "v1beta2/projects/{projectsId}/containerThreatDetectionSettings",
          "path": "v1beta2/{+name}",
          "id": "securitycenter.projects.getContainerThreatDetectionSettings",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "getEventThreatDetectionSettings": {
          "description": "Get the EventThreatDetectionSettings resource.",
          "path": "v1beta2/{+name}",
          "flatPath": "v1beta2/projects/{projectsId}/eventThreatDetectionSettings",
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^projects/[^/]+/eventThreatDetectionSettings$",
              "description": "Required. The name of the EventThreatDetectionSettings to retrieve. Formats: * organizations/{organization}/eventThreatDetectionSettings * folders/{folder}/eventThreatDetectionSettings * projects/{project}/eventThreatDetectionSettings",
              "location": "path",
              "required": true
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "EventThreatDetectionSettings"
          },
          "id": "securitycenter.projects.getEventThreatDetectionSettings"
        },
        "updateVirtualMachineThreatDetectionSettings": {
          "httpMethod": "PATCH",
          "response": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          },
          "path": "v1beta2/{+name}",
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "description": "The resource name of the VirtualMachineThreatDetectionSettings. Formats: * organizations/{organization}/virtualMachineThreatDetectionSettings * folders/{folder}/virtualMachineThreatDetectionSettings * projects/{project}/virtualMachineThreatDetectionSettings",
              "pattern": "^projects/[^/]+/virtualMachineThreatDetectionSettings$",
              "type": "string"
            },
            "updateMask": {
              "format": "google-fieldmask",
              "description": "The list of fields to be updated.",
              "type": "string",
              "location": "query"
            }
          },
          "id": "securitycenter.projects.updateVirtualMachineThreatDetectionSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1beta2/projects/{projectsId}/virtualMachineThreatDetectionSettings",
          "description": "Update the VirtualMachineThreatDetectionSettings resource.",
          "request": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          }
        },
        "updateSecurityHealthAnalyticsSettings": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Update the SecurityHealthAnalyticsSettings resource.",
          "response": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "flatPath": "v1beta2/projects/{projectsId}/securityHealthAnalyticsSettings",
          "request": {
            "$ref": "SecurityHealthAnalyticsSettings"
          },
          "httpMethod": "PATCH",
          "id": "securitycenter.projects.updateSecurityHealthAnalyticsSettings",
          "path": "v1beta2/{+name}",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "updateMask": {
              "type": "string",
              "description": "The list of fields to be updated.",
              "location": "query",
              "format": "google-fieldmask"
            },
            "name": {
              "type": "string",
              "pattern": "^projects/[^/]+/securityHealthAnalyticsSettings$",
              "required": true,
              "location": "path",
              "description": "The resource name of the SecurityHealthAnalyticsSettings. Formats: * organizations/{organization}/securityHealthAnalyticsSettings * folders/{folder}/securityHealthAnalyticsSettings * projects/{project}/securityHealthAnalyticsSettings"
            }
          }
        },
        "getVirtualMachineThreatDetectionSettings": {
          "httpMethod": "GET",
          "flatPath": "v1beta2/projects/{projectsId}/virtualMachineThreatDetectionSettings",
          "id": "securitycenter.projects.getVirtualMachineThreatDetectionSettings",
          "response": {
            "$ref": "VirtualMachineThreatDetectionSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "name"
          ],
          "description": "Get the VirtualMachineThreatDetectionSettings resource.",
          "path": "v1beta2/{+name}",
          "parameters": {
            "name": {
              "required": true,
              "pattern": "^projects/[^/]+/virtualMachineThreatDetectionSettings$",
              "type": "string",
              "location": "path",
              "description": "Required. The name of the VirtualMachineThreatDetectionSettings to retrieve. Formats: * organizations/{organization}/virtualMachineThreatDetectionSettings * folders/{folder}/virtualMachineThreatDetectionSettings * projects/{project}/virtualMachineThreatDetectionSettings"
            }
          }
        }
      }
    }
  },
  "protocol": "rest",
  "parameters": {
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "alt": {
      "type": "string",
      "default": "json",
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    }
  },
  "ownerName": "Google",
  "title": "Security Command Center API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "version_module": true,
  "id": "securitycenter:v1beta2",
  "servicePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "schemas": {
    "Label": {
      "description": "Label represents a generic name=value label. Label has separate name and value fields to support filtering with contains().",
      "properties": {
        "value": {
          "type": "string",
          "description": "Label value."
        },
        "name": {
          "type": "string",
          "description": "Label name."
        }
      },
      "id": "Label",
      "type": "object"
    },
    "Geolocation": {
      "properties": {
        "regionCode": {
          "type": "string",
          "description": "A CLDR."
        }
      },
      "type": "object",
      "description": "Represents a geographical location for a given access.",
      "id": "Geolocation"
    },
    "MitreAttack": {
      "properties": {
        "primaryTechniques": {
          "description": "The MITRE ATT&CK technique most closely represented by this finding, if any. primary_techniques is a repeated field because there are multiple levels of MITRE ATT&CK techniques. If the technique most closely represented by this finding is a sub-technique (e.g. `SCANNING_IP_BLOCKS`), both the sub-technique and its parent technique(s) will be listed (e.g. `SCANNING_IP_BLOCKS`, `ACTIVE_SCANNING`).",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Unspecified value.",
              "T1595",
              "T1595.001",
              "T1105",
              "T1106",
              "T1129",
              "T1059",
              "T1059.004",
              "T1496",
              "T1090",
              "T1090.002",
              "T1090.003",
              "T1568",
              "T1552",
              "T1078",
              "T1078.003",
              "T1078.004",
              "T1498",
              "T1069",
              "T1069.003",
              "T1567",
              "T1567.002",
              "T1098",
              "T1098.004",
              "T1543",
              "T1539",
              "T1578",
              "T1190",
              "T1556",
              "T1485",
              "T1484",
              "T1562",
              "T1046",
              "T1134",
              "T1548"
            ],
            "enum": [
              "TECHNIQUE_UNSPECIFIED",
              "ACTIVE_SCANNING",
              "SCANNING_IP_BLOCKS",
              "INGRESS_TOOL_TRANSFER",
              "NATIVE_API",
              "SHARED_MODULES",
              "COMMAND_AND_SCRIPTING_INTERPRETER",
              "UNIX_SHELL",
              "RESOURCE_HIJACKING",
              "PROXY",
              "EXTERNAL_PROXY",
              "MULTI_HOP_PROXY",
              "DYNAMIC_RESOLUTION",
              "UNSECURED_CREDENTIALS",
              "VALID_ACCOUNTS",
              "LOCAL_ACCOUNTS",
              "CLOUD_ACCOUNTS",
              "NETWORK_DENIAL_OF_SERVICE",
              "PERMISSION_GROUPS_DISCOVERY",
              "CLOUD_GROUPS",
              "EXFILTRATION_OVER_WEB_SERVICE",
              "EXFILTRATION_TO_CLOUD_STORAGE",
              "ACCOUNT_MANIPULATION",
              "SSH_AUTHORIZED_KEYS",
              "CREATE_OR_MODIFY_SYSTEM_PROCESS",
              "STEAL_WEB_SESSION_COOKIE",
              "MODIFY_CLOUD_COMPUTE_INFRASTRUCTURE",
              "EXPLOIT_PUBLIC_FACING_APPLICATION",
              "MODIFY_AUTHENTICATION_PROCESS",
              "DATA_DESTRUCTION",
              "DOMAIN_POLICY_MODIFICATION",
              "IMPAIR_DEFENSES",
              "NETWORK_SERVICE_DISCOVERY",
              "ACCESS_TOKEN_MANIPULATION",
              "ABUSE_ELEVATION_CONTROL_MECHANISM"
            ],
            "type": "string"
          }
        },
        "additionalTechniques": {
          "items": {
            "enum": [
              "TECHNIQUE_UNSPECIFIED",
              "ACTIVE_SCANNING",
              "SCANNING_IP_BLOCKS",
              "INGRESS_TOOL_TRANSFER",
              "NATIVE_API",
              "SHARED_MODULES",
              "COMMAND_AND_SCRIPTING_INTERPRETER",
              "UNIX_SHELL",
              "RESOURCE_HIJACKING",
              "PROXY",
              "EXTERNAL_PROXY",
              "MULTI_HOP_PROXY",
              "DYNAMIC_RESOLUTION",
              "UNSECURED_CREDENTIALS",
              "VALID_ACCOUNTS",
              "LOCAL_ACCOUNTS",
              "CLOUD_ACCOUNTS",
              "NETWORK_DENIAL_OF_SERVICE",
              "PERMISSION_GROUPS_DISCOVERY",
              "CLOUD_GROUPS",
              "EXFILTRATION_OVER_WEB_SERVICE",
              "EXFILTRATION_TO_CLOUD_STORAGE",
              "ACCOUNT_MANIPULATION",
              "SSH_AUTHORIZED_KEYS",
              "CREATE_OR_MODIFY_SYSTEM_PROCESS",
              "STEAL_WEB_SESSION_COOKIE",
              "MODIFY_CLOUD_COMPUTE_INFRASTRUCTURE",
              "EXPLOIT_PUBLIC_FACING_APPLICATION",
              "MODIFY_AUTHENTICATION_PROCESS",
              "DATA_DESTRUCTION",
              "DOMAIN_POLICY_MODIFICATION",
              "IMPAIR_DEFENSES",
              "NETWORK_SERVICE_DISCOVERY",
              "ACCESS_TOKEN_MANIPULATION",
              "ABUSE_ELEVATION_CONTROL_MECHANISM"
            ],
            "enumDescriptions": [
              "Unspecified value.",
              "T1595",
              "T1595.001",
              "T1105",
              "T1106",
              "T1129",
              "T1059",
              "T1059.004",
              "T1496",
              "T1090",
              "T1090.002",
              "T1090.003",
              "T1568",
              "T1552",
              "T1078",
              "T1078.003",
              "T1078.004",
              "T1498",
              "T1069",
              "T1069.003",
              "T1567",
              "T1567.002",
              "T1098",
              "T1098.004",
              "T1543",
              "T1539",
              "T1578",
              "T1190",
              "T1556",
              "T1485",
              "T1484",
              "T1562",
              "T1046",
              "T1134",
              "T1548"
            ],
            "type": "string"
          },
          "description": "Additional MITRE ATT&CK techniques related to this finding, if any, along with any of their respective parent techniques.",
          "type": "array"
        },
        "version": {
          "type": "string",
          "description": "The MITRE ATT&CK version referenced by the above fields. E.g. \"8\"."
        },
        "primaryTactic": {
          "enum": [
            "TACTIC_UNSPECIFIED",
            "RECONNAISSANCE",
            "RESOURCE_DEVELOPMENT",
            "INITIAL_ACCESS",
            "EXECUTION",
            "PERSISTENCE",
            "PRIVILEGE_ESCALATION",
            "DEFENSE_EVASION",
            "CREDENTIAL_ACCESS",
            "DISCOVERY",
            "LATERAL_MOVEMENT",
            "COLLECTION",
            "COMMAND_AND_CONTROL",
            "EXFILTRATION",
            "IMPACT"
          ],
          "enumDescriptions": [
            "Unspecified value.",
            "TA0043",
            "TA0042",
            "TA0001",
            "TA0002",
            "TA0003",
            "TA0004",
            "TA0005",
            "TA0006",
            "TA0007",
            "TA0008",
            "TA0009",
            "TA0011",
            "TA0010",
            "TA0040"
          ],
          "type": "string",
          "description": "The MITRE ATT&CK tactic most closely represented by this finding, if any."
        },
        "additionalTactics": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified value.",
              "TA0043",
              "TA0042",
              "TA0001",
              "TA0002",
              "TA0003",
              "TA0004",
              "TA0005",
              "TA0006",
              "TA0007",
              "TA0008",
              "TA0009",
              "TA0011",
              "TA0010",
              "TA0040"
            ],
            "enum": [
              "TACTIC_UNSPECIFIED",
              "RECONNAISSANCE",
              "RESOURCE_DEVELOPMENT",
              "INITIAL_ACCESS",
              "EXECUTION",
              "PERSISTENCE",
              "PRIVILEGE_ESCALATION",
              "DEFENSE_EVASION",
              "CREDENTIAL_ACCESS",
              "DISCOVERY",
              "LATERAL_MOVEMENT",
              "COLLECTION",
              "COMMAND_AND_CONTROL",
              "EXFILTRATION",
              "IMPACT"
            ]
          },
          "description": "Additional MITRE ATT&CK tactics related to this finding, if any."
        }
      },
      "type": "object",
      "description": "MITRE ATT&CK tactics and techniques related to this finding. See: https://attack.mitre.org",
      "id": "MitreAttack"
    },
    "ContainerThreatDetectionSettings": {
      "type": "object",
      "properties": {
        "serviceAccount": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The service account used by Container Threat Detection for scanning. Service accounts are scoped at the project level meaning this field will be empty at any level above a project."
        },
        "name": {
          "description": "The resource name of the ContainerThreatDetectionSettings. Formats: * organizations/{organization}/containerThreatDetectionSettings * folders/{folder}/containerThreatDetectionSettings * projects/{project}/containerThreatDetectionSettings * projects/{project}/locations/{location}/clusters/{cluster}/containerThreatDetectionSettings",
          "type": "string"
        },
        "modules": {
          "type": "object",
          "additionalProperties": {
            "$ref": "Config"
          },
          "description": "The configurations including the state of enablement for the service's different modules. The absence of a module in the map implies its configuration is inherited from its parent's."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the settings were last updated.",
          "readOnly": true
        },
        "serviceEnablementState": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "State is inherited from the parent resource.",
            "State is enabled.",
            "State is disabled."
          ],
          "type": "string",
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
[...]
