{
  "revision": "20230626",
  "rootUrl": "https://securitycenter.googleapis.com/",
  "servicePath": "",
  "description": "Security Command Center API provides access to temporal views of assets and findings within an organization.",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "fullyEncodeReservedExpansion": true,
  "protocol": "rest",
  "schemas": {
    "GoogleCloudSecuritycenterV1Binding": {
      "properties": {
        "subjects": {
          "items": {
            "$ref": "Subject"
          },
          "type": "array",
          "description": "Represents one or more subjects that are bound to the role. Not always available for PATCH requests."
        },
        "role": {
          "description": "The Role or ClusterRole referenced by the binding.",
          "$ref": "Role"
        },
        "ns": {
          "type": "string",
          "description": "Namespace for the binding."
        },
        "name": {
          "type": "string",
          "description": "Name for the binding."
        }
      },
      "id": "GoogleCloudSecuritycenterV1Binding",
      "type": "object",
      "description": "Represents a Kubernetes RoleBinding or ClusterRoleBinding."
    },
    "ExfilResource": {
      "properties": {
        "name": {
          "description": "The resource's [full resource name](https://cloud.google.com/apis/design/resource_names#full_resource_name).",
          "type": "string"
        },
        "components": {
          "description": "Subcomponents of the asset that was exfiltrated, like URIs used during exfiltration, table names, databases, and filenames. For example, multiple tables might have been exfiltrated from the same Cloud SQL instance, or multiple files might have been exfiltrated from the same Cloud Storage bucket.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "ExfilResource",
      "description": "Resource where data was exfiltrated from or exfiltrated to.",
      "type": "object"
    },
    "CloudDlpInspection": {
      "properties": {
        "infoType": {
          "type": "string",
          "description": "The type of information (or *[infoType](https://cloud.google.com/dlp/docs/infotypes-reference)*) found, for example, `EMAIL_ADDRESS` or `STREET_ADDRESS`."
        },
        "inspectJob": {
          "description": "Name of the inspection job, for example, `projects/123/locations/europe/dlpJobs/i-8383929`.",
          "type": "string"
        },
        "fullScan": {
          "type": "boolean",
          "description": "Whether Cloud DLP scanned the complete resource or a sampled subset."
        },
        "infoTypeCount": {
          "format": "int64",
          "description": "The number of times Cloud DLP found this infoType within this job and resource.",
          "type": "string"
        }
      },
      "id": "CloudDlpInspection",
      "description": "Details about the Cloud Data Loss Prevention (Cloud DLP) [inspection job](https://cloud.google.com/dlp/docs/concepts-job-triggers) that produced the finding.",
      "type": "object"
    },
    "ListAssetsResult": {
      "description": "Result containing the Asset and its State.",
      "type": "object",
      "id": "ListAssetsResult",
      "properties": {
        "asset": {
          "description": "Asset matching the search request.",
          "$ref": "Asset"
        },
        "stateChange": {
          "enumDescriptions": [
            "State change is unused, this is the canonical default for this enum.",
            "Asset was added between the points in time.",
            "Asset was removed between the points in time.",
            "Asset was present at both point(s) in time."
          ],
          "description": "State change of the asset between the points in time.",
          "enum": [
            "UNUSED",
            "ADDED",
            "REMOVED",
            "ACTIVE"
          ],
          "type": "string"
        }
      }
    },
    "Container": {
      "id": "Container",
      "type": "object",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Container image URI provided when configuring a pod or container. This string can identify a container image version using mutable tags."
        },
        "name": {
          "type": "string",
          "description": "Name of the container."
        },
        "imageId": {
          "type": "string",
          "description": "Optional container image ID, if provided by the container runtime. Uniquely identifies the container image launched using a container image digest."
        },
        "labels": {
          "type": "array",
          "items": {
            "$ref": "Label"
          },
          "description": "Container labels, as provided by the container runtime."
        }
      },
      "description": "Container associated with the finding."
    },
    "GoogleCloudSecuritycenterV1RunAssetDiscoveryResponse": {
      "id": "GoogleCloudSecuritycenterV1RunAssetDiscoveryResponse",
      "description": "Response of asset discovery run",
      "properties": {
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Asset discovery run state was unspecified.",
            "Asset discovery run completed successfully.",
            "Asset discovery run was cancelled with tasks still pending, as another run for the same organization was started with a higher priority.",
            "Asset discovery run was killed and terminated."
          ],
          "description": "The state of an asset discovery run.",
          "enum": [
            "STATE_UNSPECIFIED",
            "COMPLETED",
            "SUPERSEDED",
            "TERMINATED"
          ]
        },
        "duration": {
          "description": "The duration between asset discovery run start and end",
          "type": "string",
          "format": "google-duration"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1NotificationMessage": {
      "id": "GoogleCloudSecuritycenterV1NotificationMessage",
      "description": "Cloud SCC's Notification",
      "properties": {
        "resource": {
          "$ref": "GoogleCloudSecuritycenterV1Resource",
          "description": "The Cloud resource tied to this notification's Finding."
        },
        "finding": {
          "$ref": "Finding",
          "description": "If it's a Finding based notification config, this field will be populated."
        },
        "notificationConfigName": {
          "type": "string",
          "description": "Name of the notification config that generated current notification."
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1MuteConfig": {
      "properties": {
        "displayName": {
          "description": "The human readable name to be displayed for the mute config.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "A description of the mute config."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time at which the mute config was created. This field is set by the server and will be ignored if provided on config creation.",
          "readOnly": true,
          "type": "string"
        },
        "filter": {
          "description": "Required. An expression that defines the filter to apply across create/update events of findings. While creating a filter string, be mindful of the scope in which the mute configuration is being created. E.g., If a filter contains project = X but is created under the project = Y scope, it might not match any findings. The following field and operator combinations are supported: * severity: `=`, `:` * category: `=`, `:` * resource.name: `=`, `:` * resource.project_name: `=`, `:` * resource.project_display_name: `=`, `:` * resource.folders.resource_folder: `=`, `:` * resource.parent_name: `=`, `:` * resource.parent_display_name: `=`, `:` * resource.type: `=`, `:` * finding_class: `=`, `:` * indicator.ip_addresses: `=`, `:` * indicator.domains: `=`, `:`",
          "type": "string"
        },
        "mostRecentEditor": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Email address of the user who last edited the mute config. This field is set by the server and will be ignored if provided on config creation or update."
        },
        "name": {
          "description": "This field will be ignored if provided on config creation. Format \"organizations/{organization}/muteConfigs/{mute_config}\" \"folders/{folder}/muteConfigs/{mute_config}\" \"projects/{project}/muteConfigs/{mute_config}\"",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The most recent time at which the mute config was updated. This field is set by the server and will be ignored if provided on config creation or update."
        }
      },
      "description": "A mute config is a Cloud SCC resource that contains the configuration to mute create/update events of findings.",
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1MuteConfig"
    },
    "Subject": {
      "type": "object",
      "description": "Represents a Kubernetes subject.",
      "properties": {
        "kind": {
          "enumDescriptions": [
            "Authentication is not specified.",
            "User with valid certificate.",
            "Users managed by Kubernetes API with credentials stored as secrets.",
            "Collection of users."
          ],
          "description": "Authentication type for the subject.",
          "type": "string",
          "enum": [
            "AUTH_TYPE_UNSPECIFIED",
            "USER",
            "SERVICEACCOUNT",
            "GROUP"
          ]
        },
        "name": {
          "description": "Name for the subject.",
          "type": "string"
        },
        "ns": {
          "type": "string",
          "description": "Namespace for the subject."
        }
      },
      "id": "Subject"
    },
    "Access": {
      "id": "Access",
      "type": "object",
      "properties": {
        "userName": {
          "description": "A string that represents a username. The username provided depends on the type of the finding and is likely not an IAM principal. For example, this can be a system username if the finding is related to a virtual machine, or it can be an application login username.",
          "type": "string"
        },
        "methodName": {
          "type": "string",
          "description": "The method that the service account called, e.g. \"SetIamPolicy\"."
        },
        "principalSubject": {
          "description": "A string that represents the principal_subject that is associated with the identity. Unlike `principal_email`, `principal_subject` supports principals that aren't associated with email addresses, such as third party principals. For most identities, the format is `principal://iam.googleapis.com/{identity pool name}/subject/{subject}`. Some GKE identities, such as GKE_WORKLOAD, FREEFORM, and GKE_HUB_WORKLOAD, still use the legacy format `serviceAccount:{identity pool name}[{subject}]`.",
          "type": "string"
        },
        "serviceAccountDelegationInfo": {
          "items": {
            "$ref": "ServiceAccountDelegationInfo"
          },
          "description": "The identity delegation history of an authenticated service account that made the request. The `serviceAccountDelegationInfo[]` object contains information about the real authorities that try to access Google Cloud resources by delegating on a service account. When multiple authorities are present, they are guaranteed to be sorted based on the original ordering of the identity delegation events.",
          "type": "array"
        },
        "callerIpGeo": {
          "$ref": "Geolocation",
          "description": "The caller IP's geolocation, which identifies where the call came from."
        },
        "userAgent": {
          "type": "string",
          "description": "The caller's user agent string associated with the finding."
        },
        "serviceAccountKeyName": {
          "description": "The name of the service account key that was used to create or exchange credentials when authenticating the service account that made the request. This is a scheme-less URI full resource name. For example: \"//iam.googleapis.com/projects/{PROJECT_ID}/serviceAccounts/{ACCOUNT}/keys/{key}\". ",
          "type": "string"
        },
        "userAgentFamily": {
          "description": "Type of user agent associated with the finding. For example, an operating system shell or an embedded or standalone application.",
          "type": "string"
        },
        "callerIp": {
          "description": "Caller's IP address, such as \"1.1.1.1\".",
          "type": "string"
        },
        "serviceName": {
          "description": "This is the API service that the service account made a call to, e.g. \"iam.googleapis.com\"",
          "type": "string"
        },
        "principalEmail": {
          "type": "string",
          "description": "Associated email, such as \"foo@google.com\". The email address of the authenticated user or a service account acting on behalf of a third party principal making the request. For third party identity callers, the `principal_subject` field is populated instead of this field. For privacy reasons, the principal email address is sometimes redacted. For more information, see [Caller identities in audit logs](https://cloud.google.com/logging/docs/audit#user-id)."
        }
      },
      "description": "Represents an access event."
    },
    "Database": {
      "description": "Represents database access information, such as queries. A database may be a sub-resource of an instance (as in the case of Cloud SQL instances or Cloud Spanner instances), or the database instance itself. Some database resources might not have the [full resource name](https://google.aip.dev/122#full-resource-names) populated because these resource types, such as Cloud SQL databases, are not yet supported by Cloud Asset Inventory. In these cases only the display name is provided. Some database resources may not have the [full resource name](https://google.aip.dev/122#full-resource-names) populated because these resource types are not yet supported by Cloud Asset Inventory (e.g. Cloud SQL databases). In these cases only the display name will be provided.",
      "id": "Database",
      "properties": {
        "name": {
          "type": "string",
          "description": "The [full resource name](https://google.aip.dev/122#full-resource-names) of the database that the user connected to, if it is supported by Cloud Asset Inventory."
        },
        "grantees": {
          "type": "array",
          "description": "The target usernames, roles, or groups of an SQL privilege grant, which is not an IAM policy change.",
          "items": {
            "type": "string"
          }
        },
        "query": {
          "description": "The SQL statement that is associated with the database access.",
          "type": "string"
        },
        "displayName": {
          "description": "The human-readable name of the database that the user connected to.",
          "type": "string"
        },
        "userName": {
          "description": "The username used to connect to the database. The username might not be an IAM principal and does not have a set format.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "IamPolicy": {
      "id": "IamPolicy",
      "type": "object",
      "description": "Cloud IAM Policy information associated with the Google Cloud resource described by the Security Command Center asset. This information is managed and defined by the Google Cloud resource and cannot be modified by the user.",
      "properties": {
        "policyBlob": {
          "type": "string",
          "description": "The JSON representation of the Policy associated with the asset. See https://cloud.google.com/iam/reference/rest/v1/Policy for format details."
        }
      }
    },
    "Detection": {
      "type": "object",
      "description": "Memory hash detection contributing to the binary family match.",
      "properties": {
        "percentPagesMatched": {
          "type": "number",
          "format": "double",
          "description": "The percentage of memory page hashes in the signature that were matched."
        },
        "binary": {
          "type": "string",
          "description": "The name of the binary associated with the memory hash signature detection."
        }
      },
      "id": "Detection"
    },
    "AuditLogConfig": {
      "type": "object",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "id": "AuditLogConfig",
      "properties": {
        "logType": {
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "description": "The log type that this config enables.",
          "type": "string"
        },
        "exemptedMembers": {
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "SecurityCenterProperties": {
      "type": "object",
      "properties": {
        "resourceName": {
          "type": "string",
          "description": "The full resource name of the Google Cloud resource this asset represents. This field is immutable after create time. See: https://cloud.google.com/apis/design/resource_names#full_resource_name"
        },
        "resourceParent": {
          "description": "The full resource name of the immediate parent of the resource. See: https://cloud.google.com/apis/design/resource_names#full_resource_name",
          "type": "string"
        },
        "resourceOwners": {
          "description": "Owners of the Google Cloud resource.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "resourceParentDisplayName": {
          "description": "The user defined display name for the parent of this resource.",
          "type": "string"
        },
        "folders": {
          "description": "Contains a Folder message for each folder in the assets ancestry. The first folder is the deepest nested folder, and the last folder is the folder directly under the Organization.",
          "items": {
            "$ref": "Folder"
          },
          "type": "array"
        },
        "resourceProject": {
          "type": "string",
          "description": "The full resource name of the project the resource belongs to. See: https://cloud.google.com/apis/design/resource_names#full_resource_name"
        },
        "resourceDisplayName": {
          "description": "The user defined display name for this resource.",
          "type": "string"
        },
        "resourceProjectDisplayName": {
          "type": "string",
          "description": "The user defined display name for the project of this resource."
        },
        "resourceType": {
          "type": "string",
          "description": "The type of the Google Cloud resource. Examples include: APPLICATION, PROJECT, and ORGANIZATION. This is a case insensitive field defined by Security Command Center and/or the producer of the resource and is immutable after create time."
        }
      },
      "description": "Security Command Center managed properties. These properties are managed by Security Command Center and cannot be modified by the user.",
      "id": "SecurityCenterProperties"
    },
    "GroupAssetsResponse": {
      "description": "Response message for grouping by assets.",
      "id": "GroupAssetsResponse",
      "properties": {
        "readTime": {
          "format": "google-datetime",
          "description": "Time used for executing the groupBy request.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results.",
          "type": "string"
        },
        "groupByResults": {
          "type": "array",
          "description": "Group results. There exists an element for each existing unique combination of property/values. The element contains a count for the number of times those specific property/values appear.",
          "items": {
            "$ref": "GroupResult"
          }
        },
        "totalSize": {
          "description": "The total number of results matching the query.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "NodePool": {
      "description": "Provides GKE node pool information.",
      "type": "object",
      "id": "NodePool",
      "properties": {
        "nodes": {
          "type": "array",
          "description": "Nodes associated with the finding.",
          "items": {
            "$ref": "Node"
          }
        },
        "name": {
          "description": "Kubernetes node pool name.",
          "type": "string"
        }
      }
    },
    "GoogleCloudSecuritycenterV1p1beta1Resource": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1p1beta1Resource",
      "properties": {
        "name": {
          "type": "string",
          "description": "The full resource name of the resource. See: https://cloud.google.com/apis/design/resource_names#full_resource_name"
        },
        "projectDisplayName": {
          "description": "The project id that the resource belongs to.",
          "type": "string"
        },
        "parentDisplayName": {
          "type": "string",
          "description": "The human readable name of resource's parent."
        },
        "folders": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1p1beta1Folder"
          },
          "description": "Output only. Contains a Folder message for each folder in the assets ancestry. The first folder is the deepest nested folder, and the last folder is the folder directly under the Organization.",
          "readOnly": true,
          "type": "array"
        },
        "parent": {
          "type": "string",
          "description": "The full resource name of resource's parent."
        },
        "project": {
          "description": "The full resource name of project that the resource belongs to.",
          "type": "string"
        }
      },
      "description": "Information related to the Google Cloud resource."
    },
    "Folder": {
      "description": "Message that contains the resource name and display name of a folder resource.",
      "id": "Folder",
      "type": "object",
      "properties": {
        "resourceFolderDisplayName": {
          "description": "The user defined display name for this folder.",
          "type": "string"
        },
        "resourceFolder": {
          "type": "string",
          "description": "Full resource name of this folder. See: https://cloud.google.com/apis/design/resource_names#full_resource_name"
        }
      }
    },
    "TestIamPermissionsResponse": {
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
        }
      },
      "id": "TestIamPermissionsResponse",
      "type": "object",
      "description": "Response message for `TestIamPermissions` method."
    },
    "AccessReview": {
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the resource being requested. Empty means all.",
          "type": "string"
        },
        "group": {
          "type": "string",
          "description": "The API group of the resource. \"*\" means all."
        },
        "subresource": {
          "type": "string",
          "description": "The optional subresource type."
        },
        "verb": {
          "description": "A Kubernetes resource API verb, like get, list, watch, create, update, delete, proxy. \"*\" means all.",
          "type": "string"
        },
        "version": {
          "description": "The API version of the resource. \"*\" means all.",
          "type": "string"
        },
        "ns": {
          "type": "string",
          "description": "Namespace of the action being requested. Currently, there is no distinction between no namespace and all namespaces. Both are represented by \"\" (empty)."
        },
        "resource": {
          "description": "The optional resource type requested. \"*\" means all.",
          "type": "string"
        }
      },
      "id": "AccessReview",
      "description": "Conveys information about a Kubernetes access review (such as one returned by a [`kubectl auth can-i`](https://kubernetes.io/docs/reference/access-authn-authz/authorization/#checking-api-access) command) that was involved in a finding."
    },
    "Indicator": {
      "type": "object",
      "description": "Represents what's commonly known as an _indicator of compromise_ (IoC) in computer forensics. This is an artifact observed on a network or in an operating system that, with high confidence, indicates a computer intrusion. For more information, see [Indicator of compromise](https://en.wikipedia.org/wiki/Indicator_of_compromise).",
      "id": "Indicator",
      "properties": {
        "uris": {
          "type": "array",
          "description": "The list of URIs associated to the Findings.",
          "items": {
            "type": "string"
          }
        },
        "signatures": {
          "items": {
            "$ref": "ProcessSignature"
          },
          "type": "array",
          "description": "The list of matched signatures indicating that the given process is present in the environment."
        },
        "domains": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of domains associated to the Finding."
        },
        "ipAddresses": {
          "type": "array",
          "description": "The list of IP addresses that are associated with the finding.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "SetFindingStateRequest": {
      "type": "object",
      "properties": {
        "startTime": {
          "type": "string",
          "description": "Required. The time at which the updated state takes effect.",
          "format": "google-datetime"
        },
        "state": {
          "enumDescriptions": [
            "Unspecified state.",
            "The finding requires attention and has not been addressed yet.",
            "The finding has been fixed, triaged as a non-issue or otherwise addressed and is no longer active."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "description": "Required. The desired State of the finding."
        }
      },
      "description": "Request message for updating a finding's state.",
      "id": "SetFindingStateRequest"
    },
    "SetMuteRequest": {
      "description": "Request message for updating a finding's mute status.",
      "properties": {
        "mute": {
          "enumDescriptions": [
            "Unspecified.",
            "Finding has been muted.",
            "Finding has been unmuted.",
            "Finding has never been muted/unmuted."
          ],
          "type": "string",
          "enum": [
            "MUTE_UNSPECIFIED",
            "MUTED",
            "UNMUTED",
            "UNDEFINED"
          ],
          "description": "Required. The desired state of the Mute."
        }
      },
      "id": "SetMuteRequest",
      "type": "object"
    },
    "ListEffectiveSecurityHealthAnalyticsCustomModulesResponse": {
      "id": "ListEffectiveSecurityHealthAnalyticsCustomModulesResponse",
      "description": "Response message for listing effective Security Health Analytics custom modules.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "If not empty, indicates that there may be more effective custom modules to be returned."
        },
        "effectiveSecurityHealthAnalyticsCustomModules": {
          "type": "array",
          "description": "Effective custom modules belonging to the requested parent.",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1EffectiveSecurityHealthAnalyticsCustomModule"
          }
        }
      }
    },
    "Connection": {
      "type": "object",
      "description": "Contains information about the IP connection associated with the finding.",
      "id": "Connection",
      "properties": {
        "sourcePort": {
          "format": "int32",
          "description": "Source port.",
          "type": "integer"
        },
        "sourceIp": {
          "type": "string",
          "description": "Source IP address."
        },
        "destinationPort": {
          "description": "Destination port. Not present for sockets that are listening and not connected.",
          "type": "integer",
          "format": "int32"
        },
        "destinationIp": {
          "description": "Destination IP address. Not present for sockets that are listening and not connected.",
          "type": "string"
        },
        "protocol": {
          "type": "string",
          "enum": [
            "PROTOCOL_UNSPECIFIED",
            "ICMP",
            "TCP",
            "UDP",
            "GRE",
            "ESP"
          ],
          "description": "IANA Internet Protocol Number such as TCP(6) and UDP(17).",
          "enumDescriptions": [
            "Unspecified protocol (not HOPOPT).",
            "Internet Control Message Protocol.",
            "Transmission Control Protocol.",
            "User Datagram Protocol.",
            "Generic Routing Encapsulation.",
            "Encap Security Payload."
          ]
        }
      }
    },
    "EnvironmentVariable": {
      "id": "EnvironmentVariable",
      "type": "object",
      "description": "A name-value pair representing an environment variable used in an operating system process.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Environment variable name as a JSON encoded string."
        },
        "val": {
          "type": "string",
          "description": "Environment variable value as a JSON encoded string."
        }
      }
    },
    "GoogleCloudSecuritycenterV1BulkMuteFindingsResponse": {
      "type": "object",
      "properties": {},
      "description": "The response to a BulkMute request. Contains the LRO information.",
      "id": "GoogleCloudSecuritycenterV1BulkMuteFindingsResponse"
    },
    "Process": {
      "id": "Process",
      "description": "Represents an operating system process.",
      "properties": {
        "libraries": {
          "description": "File information for libraries loaded by the process.",
          "type": "array",
          "items": {
            "$ref": "File"
          }
        },
        "pid": {
          "format": "int64",
          "description": "The process ID.",
          "type": "string"
        },
        "envVariables": {
          "description": "Process environment variables.",
          "items": {
            "$ref": "EnvironmentVariable"
          },
          "type": "array"
        },
        "binary": {
          "$ref": "File",
          "description": "File information for the process executable."
        },
        "script": {
          "$ref": "File",
          "description": "When the process represents the invocation of a script, `binary` provides information about the interpreter, while `script` provides information about the script file provided to the interpreter."
        },
        "args": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Process arguments as JSON encoded strings."
        },
        "name": {
          "description": "The process name, as displayed in utilities like `top` and `ps`. This name can be accessed through `/proc/[pid]/comm` and changed with `prctl(PR_SET_NAME)`.",
          "type": "string"
        },
        "argumentsTruncated": {
          "type": "boolean",
          "description": "True if `args` is incomplete."
        },
        "parentPid": {
          "type": "string",
          "format": "int64",
          "description": "The parent process ID."
        },
        "envVariablesTruncated": {
          "description": "True if `env_variables` is incomplete.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1p1beta1SecurityMarks": {
      "properties": {
        "marks": {
          "type": "object",
          "description": "Mutable user specified security marks belonging to the parent resource. Constraints are as follows: * Keys and values are treated as case insensitive * Keys must be between 1 - 256 characters (inclusive) * Keys must be letters, numbers, underscores, or dashes * Values have leading and trailing whitespace trimmed, remaining characters must be between 1 - 4096 characters (inclusive)",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "description": "The relative resource name of the SecurityMarks. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Examples: \"organizations/{organization_id}/assets/{asset_id}/securityMarks\" \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}/securityMarks\".",
          "type": "string"
        },
        "canonicalName": {
          "type": "string",
          "description": "The canonical name of the marks. Examples: \"organizations/{organization_id}/assets/{asset_id}/securityMarks\" \"folders/{folder_id}/assets/{asset_id}/securityMarks\" \"projects/{project_number}/assets/{asset_id}/securityMarks\" \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}/securityMarks\" \"folders/{folder_id}/sources/{source_id}/findings/{finding_id}/securityMarks\" \"projects/{project_number}/sources/{source_id}/findings/{finding_id}/securityMarks\""
        }
      },
      "description": "User specified security marks that are attached to the parent Security Command Center resource. Security marks are scoped within a Security Command Center organization -- they can be modified and viewed by all users who have proper permissions on the organization.",
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1p1beta1SecurityMarks"
    },
    "GroupFindingsResponse": {
      "type": "object",
      "id": "GroupFindingsResponse",
      "description": "Response message for group by findings.",
      "properties": {
        "totalSize": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of results matching the query."
        },
        "readTime": {
          "description": "Time used for executing the groupBy request.",
          "format": "google-datetime",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results.",
          "type": "string"
        },
        "groupByResults": {
          "description": "Group results. There exists an element for each existing unique combination of property/values. The element contains a count for the number of times those specific property/values appear.",
          "items": {
            "$ref": "GroupResult"
          },
          "type": "array"
        }
      }
    },
    "MitreAttack": {
      "id": "MitreAttack",
      "description": "MITRE ATT&CK tactics and techniques related to this finding. See: https://attack.mitre.org",
      "properties": {
        "additionalTactics": {
          "type": "array",
          "description": "Additional MITRE ATT&CK tactics related to this finding, if any.",
          "items": {
            "type": "string",
            "enum": [
              "TACTIC_UNSPECIFIED",
              "RECONNAISSANCE",
              "RESOURCE_DEVELOPMENT",
              "INITIAL_ACCESS",
              "EXECUTION",
              "PERSISTENCE",
              "PRIVILEGE_ESCALATION",
              "DEFENSE_EVASION",
              "CREDENTIAL_ACCESS",
              "DISCOVERY",
              "LATERAL_MOVEMENT",
              "COLLECTION",
              "COMMAND_AND_CONTROL",
              "EXFILTRATION",
              "IMPACT"
            ],
            "enumDescriptions": [
              "Unspecified value.",
              "TA0043",
              "TA0042",
              "TA0001",
              "TA0002",
              "TA0003",
              "TA0004",
              "TA0005",
              "TA0006",
              "TA0007",
              "TA0008",
              "TA0009",
              "TA0011",
              "TA0010",
              "TA0040"
            ]
          }
        },
        "primaryTechniques": {
          "description": "The MITRE ATT&CK technique most closely represented by this finding, if any. primary_techniques is a repeated field because there are multiple levels of MITRE ATT&CK techniques. If the technique most closely represented by this finding is a sub-technique (e.g. `SCANNING_IP_BLOCKS`), both the sub-technique and its parent technique(s) will be listed (e.g. `SCANNING_IP_BLOCKS`, `ACTIVE_SCANNING`).",
          "type": "array",
          "items": {
            "enum": [
              "TECHNIQUE_UNSPECIFIED",
              "ACTIVE_SCANNING",
              "SCANNING_IP_BLOCKS",
              "INGRESS_TOOL_TRANSFER",
              "NATIVE_API",
              "SHARED_MODULES",
              "COMMAND_AND_SCRIPTING_INTERPRETER",
              "UNIX_SHELL",
              "RESOURCE_HIJACKING",
              "PROXY",
              "EXTERNAL_PROXY",
              "MULTI_HOP_PROXY",
              "DYNAMIC_RESOLUTION",
              "UNSECURED_CREDENTIALS",
              "VALID_ACCOUNTS",
              "LOCAL_ACCOUNTS",
              "CLOUD_ACCOUNTS",
              "NETWORK_DENIAL_OF_SERVICE",
              "PERMISSION_GROUPS_DISCOVERY",
              "CLOUD_GROUPS",
              "EXFILTRATION_OVER_WEB_SERVICE",
              "EXFILTRATION_TO_CLOUD_STORAGE",
              "ACCOUNT_MANIPULATION",
              "SSH_AUTHORIZED_KEYS",
              "CREATE_OR_MODIFY_SYSTEM_PROCESS",
              "STEAL_WEB_SESSION_COOKIE",
              "MODIFY_CLOUD_COMPUTE_INFRASTRUCTURE",
              "EXPLOIT_PUBLIC_FACING_APPLICATION",
              "MODIFY_AUTHENTICATION_PROCESS",
              "DATA_DESTRUCTION",
              "DOMAIN_POLICY_MODIFICATION",
              "IMPAIR_DEFENSES",
              "NETWORK_SERVICE_DISCOVERY",
              "ACCESS_TOKEN_MANIPULATION",
              "ABUSE_ELEVATION_CONTROL_MECHANISM",
              "DEFAULT_ACCOUNTS"
            ],
            "enumDescriptions": [
              "Unspecified value.",
              "T1595",
              "T1595.001",
              "T1105",
              "T1106",
              "T1129",
              "T1059",
              "T1059.004",
              "T1496",
              "T1090",
              "T1090.002",
              "T1090.003",
              "T1568",
              "T1552",
              "T1078",
              "T1078.003",
              "T1078.004",
              "T1498",
              "T1069",
              "T1069.003",
              "T1567",
              "T1567.002",
              "T1098",
              "T1098.004",
              "T1543",
              "T1539",
              "T1578",
              "T1190",
              "T1556",
              "T1485",
              "T1484",
              "T1562",
              "T1046",
              "T1134",
              "T1548",
              "T1078.001"
            ],
            "type": "string"
          }
        },
        "additionalTechniques": {
          "type": "array",
          "description": "Additional MITRE ATT&CK techniques related to this finding, if any, along with any of their respective parent techniques.",
          "items": {
            "type": "string",
            "enum": [
              "TECHNIQUE_UNSPECIFIED",
              "ACTIVE_SCANNING",
              "SCANNING_IP_BLOCKS",
              "INGRESS_TOOL_TRANSFER",
              "NATIVE_API",
              "SHARED_MODULES",
              "COMMAND_AND_SCRIPTING_INTERPRETER",
              "UNIX_SHELL",
              "RESOURCE_HIJACKING",
              "PROXY",
              "EXTERNAL_PROXY",
              "MULTI_HOP_PROXY",
              "DYNAMIC_RESOLUTION",
              "UNSECURED_CREDENTIALS",
              "VALID_ACCOUNTS",
              "LOCAL_ACCOUNTS",
              "CLOUD_ACCOUNTS",
              "NETWORK_DENIAL_OF_SERVICE",
              "PERMISSION_GROUPS_DISCOVERY",
              "CLOUD_GROUPS",
              "EXFILTRATION_OVER_WEB_SERVICE",
              "EXFILTRATION_TO_CLOUD_STORAGE",
              "ACCOUNT_MANIPULATION",
              "SSH_AUTHORIZED_KEYS",
              "CREATE_OR_MODIFY_SYSTEM_PROCESS",
              "STEAL_WEB_SESSION_COOKIE",
              "MODIFY_CLOUD_COMPUTE_INFRASTRUCTURE",
              "EXPLOIT_PUBLIC_FACING_APPLICATION",
              "MODIFY_AUTHENTICATION_PROCESS",
              "DATA_DESTRUCTION",
              "DOMAIN_POLICY_MODIFICATION",
              "IMPAIR_DEFENSES",
              "NETWORK_SERVICE_DISCOVERY",
              "ACCESS_TOKEN_MANIPULATION",
              "ABUSE_ELEVATION_CONTROL_MECHANISM",
              "DEFAULT_ACCOUNTS"
            ],
            "enumDescriptions": [
              "Unspecified value.",
              "T1595",
              "T1595.001",
              "T1105",
              "T1106",
              "T1129",
              "T1059",
              "T1059.004",
              "T1496",
              "T1090",
              "T1090.002",
              "T1090.003",
              "T1568",
              "T1552",
              "T1078",
              "T1078.003",
              "T1078.004",
              "T1498",
              "T1069",
              "T1069.003",
              "T1567",
              "T1567.002",
              "T1098",
              "T1098.004",
              "T1543",
              "T1539",
              "T1578",
              "T1190",
              "T1556",
              "T1485",
              "T1484",
              "T1562",
              "T1046",
              "T1134",
              "T1548",
              "T1078.001"
            ]
          }
        },
        "primaryTactic": {
          "enumDescriptions": [
            "Unspecified value.",
            "TA0043",
            "TA0042",
            "TA0001",
            "TA0002",
            "TA0003",
            "TA0004",
            "TA0005",
            "TA0006",
            "TA0007",
            "TA0008",
            "TA0009",
            "TA0011",
            "TA0010",
            "TA0040"
          ],
          "description": "The MITRE ATT&CK tactic most closely represented by this finding, if any.",
          "type": "string",
          "enum": [
            "TACTIC_UNSPECIFIED",
            "RECONNAISSANCE",
            "RESOURCE_DEVELOPMENT",
            "INITIAL_ACCESS",
            "EXECUTION",
            "PERSISTENCE",
            "PRIVILEGE_ESCALATION",
            "DEFENSE_EVASION",
            "CREDENTIAL_ACCESS",
            "DISCOVERY",
            "LATERAL_MOVEMENT",
            "COLLECTION",
            "COMMAND_AND_CONTROL",
            "EXFILTRATION",
            "IMPACT"
          ]
        },
        "version": {
          "type": "string",
          "description": "The MITRE ATT&CK version referenced by the above fields. E.g. \"8\"."
        }
      },
      "type": "object"
    },
    "CloudDlpDataProfile": {
      "type": "object",
      "properties": {
        "dataProfile": {
          "type": "string",
          "description": "Name of the data profile, for example, `projects/123/locations/europe/tableProfiles/8383929`."
        },
        "parentType": {
          "enum": [
            "PARENT_TYPE_UNSPECIFIED",
            "ORGANIZATION",
            "PROJECT"
          ],
          "enumDescriptions": [
            "Unspecified parent type.",
            "Organization-level configurations.",
            "Project-level configurations."
          ],
          "description": "The resource hierarchy level at which the data profile was generated.",
          "type": "string"
        }
      },
      "description": "The [data profile](https://cloud.google.com/dlp/docs/data-profiles) associated with the finding.",
      "id": "CloudDlpDataProfile"
    },
    "ContactDetails": {
      "description": "Details about specific contacts",
      "id": "ContactDetails",
      "properties": {
        "contacts": {
          "description": "A list of contacts",
          "type": "array",
          "items": {
            "$ref": "Contact"
          }
        }
      },
      "type": "object"
    },
    "ListAssetsResponse": {
      "id": "ListAssetsResponse",
      "type": "object",
      "properties": {
        "totalSize": {
          "type": "integer",
          "description": "The total number of assets matching the query.",
          "format": "int32"
        },
        "listAssetsResults": {
          "description": "Assets matching the list request.",
          "items": {
            "$ref": "ListAssetsResult"
          },
          "type": "array"
        },
        "readTime": {
          "description": "Time used for executing the list request.",
          "format": "google-datetime",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results."
        }
      },
      "description": "Response message for listing assets."
    },
    "GoogleCloudSecuritycenterV1p1beta1Folder": {
      "properties": {
        "resourceFolderDisplayName": {
          "type": "string",
          "description": "The user defined display name for this folder."
        },
        "resourceFolder": {
          "description": "Full resource name of this folder. See: https://cloud.google.com/apis/design/resource_names#full_resource_name",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1p1beta1Folder",
      "description": "Message that contains the resource name and display name of a folder resource."
    },
    "ListMuteConfigsResponse": {
      "id": "ListMuteConfigsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "muteConfigs": {
          "description": "The mute configs from the specified parent.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
          }
        }
      },
      "description": "Response message for listing mute configs."
    },
    "GoogleCloudSecuritycenterV1p1beta1NotificationMessage": {
      "id": "GoogleCloudSecuritycenterV1p1beta1NotificationMessage",
      "type": "object",
      "properties": {
        "notificationConfigName": {
          "description": "Name of the notification config that generated current notification.",
          "type": "string"
        },
        "resource": {
          "description": "The Cloud resource tied to the notification.",
          "$ref": "GoogleCloudSecuritycenterV1p1beta1Resource"
        },
        "finding": {
          "description": "If it's a Finding based notification config, this field will be populated.",
          "$ref": "GoogleCloudSecuritycenterV1p1beta1Finding"
        }
      },
      "description": "Security Command Center's Notification"
    },
    "GoogleCloudSecuritycenterV1CustomConfig": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1CustomConfig",
      "description": "Defines the properties in a custom module configuration for Security Health Analytics. Use the custom module configuration to create custom detectors that generate custom findings for resources that you specify.",
      "properties": {
        "severity": {
          "description": "The severity to assign to findings generated by the module.",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified severity.",
            "Critical severity.",
            "High severity.",
            "Medium severity.",
            "Low severity."
          ]
        },
        "description": {
          "type": "string",
          "description": "Text that describes the vulnerability or misconfiguration that the custom module detects. This explanation is returned with each finding instance to help investigators understand the detected issue. The text must be enclosed in quotation marks."
        },
        "customOutput": {
          "$ref": "GoogleCloudSecuritycenterV1CustomOutputSpec",
          "description": "Custom output properties."
        },
        "predicate": {
          "description": "The CEL expression to evaluate to produce findings. When the expression evaluates to true against a resource, a finding is generated.",
          "$ref": "Expr"
        },
        "recommendation": {
          "type": "string",
          "description": "An explanation of the recommended steps that security teams can take to resolve the detected issue. This explanation is returned with each finding generated by this module in the `nextSteps` property of the finding JSON."
        },
        "resourceSelector": {
          "$ref": "GoogleCloudSecuritycenterV1ResourceSelector",
          "description": "The resource types that the custom module operates on. Each custom module can specify up to 5 resource types."
        }
      }
    },
    "Finding": {
      "type": "object",
      "properties": {
        "canonicalName": {
          "type": "string",
          "description": "The canonical name of the finding. It's either \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}\", \"folders/{folder_id}/sources/{source_id}/findings/{finding_id}\" or \"projects/{project_number}/sources/{source_id}/findings/{finding_id}\", depending on the closest CRM ancestor of the resource associated with the finding."
        },
        "database": {
          "description": "Database associated with the finding.",
          "$ref": "Database"
        },
        "createTime": {
          "description": "The time at which the finding was created in Security Command Center.",
          "type": "string",
          "format": "google-datetime"
        },
        "findingClass": {
          "type": "string",
          "description": "The class of the finding.",
          "enum": [
            "FINDING_CLASS_UNSPECIFIED",
            "THREAT",
            "VULNERABILITY",
            "MISCONFIGURATION",
            "OBSERVATION",
            "SCC_ERROR"
          ],
          "enumDescriptions": [
            "Unspecified finding class.",
            "Describes unwanted or malicious activity.",
            "Describes a potential weakness in software that increases risk to Confidentiality & Integrity & Availability.",
            "Describes a potential weakness in cloud resource/asset configuration that increases risk.",
            "Describes a security observation that is for informational purposes.",
            "Describes an error that prevents some SCC functionality."
          ]
        },
        "iamBindings": {
          "type": "array",
          "description": "Represents IAM bindings associated with the finding.",
          "items": {
            "$ref": "IamBinding"
          }
        },
        "processes": {
          "description": "Represents operating system processes associated with the Finding.",
          "items": {
            "$ref": "Process"
          },
          "type": "array"
        },
        "kernelRootkit": {
          "$ref": "KernelRootkit",
          "description": "Signature of the kernel rootkit."
        },
        "parent": {
          "description": "The relative resource name of the source the finding belongs to. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name This field is immutable after creation time. For example: \"organizations/{organization_id}/sources/{source_id}\"",
          "type": "string"
        },
        "mute": {
          "enumDescriptions": [
            "Unspecified.",
            "Finding has been muted.",
            "Finding has been unmuted.",
            "Finding has never been muted/unmuted."
          ],
          "enum": [
            "MUTE_UNSPECIFIED",
            "MUTED",
            "UNMUTED",
            "UNDEFINED"
          ],
          "type": "string",
          "description": "Indicates the mute state of a finding (either muted, unmuted or undefined). Unlike other attributes of a finding, a finding provider shouldn't set the value of mute."
        },
        "exfiltration": {
          "$ref": "Exfiltration",
          "description": "Represents exfiltrations associated with the finding."
        },
        "nextSteps": {
          "description": "Steps to address the finding.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The [relative resource name](https://cloud.google.com/apis/design/resource_names#relative_resource_name) of the finding. Example: \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}\", \"folders/{folder_id}/sources/{source_id}/findings/{finding_id}\", \"projects/{project_id}/sources/{source_id}/findings/{finding_id}\"."
        },
        "parentDisplayName": {
          "description": "Output only. The human readable display name of the finding source such as \"Event Threat Detection\" or \"Security Health Analytics\".",
          "readOnly": true,
          "type": "string"
        },
        "muteUpdateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The most recent time this finding was muted or unmuted."
        },
        "severity": {
          "enumDescriptions": [
            "This value is used for findings when a source doesn't write a severity value.",
            "Vulnerability: A critical vulnerability is easily discoverable by an external actor, exploitable, and results in the direct ability to execute arbitrary code, exfiltrate data, and otherwise gain additional access and privileges to cloud resources and workloads. Examples include publicly accessible unprotected user data and public SSH access with weak or no passwords. Threat: Indicates a threat that is able to access, modify, or delete data or execute unauthorized code within existing resources.",
            "Vulnerability: A high risk vulnerability can be easily discovered and exploited in combination with other vulnerabilities in order to gain direct access and the ability to execute arbitrary code, exfiltrate data, and otherwise gain additional access and privileges to cloud resources and workloads. An example is a database with weak or no passwords that is only accessible internally. This database could easily be compromised by an actor that had access to the internal network. Threat: Indicates a threat that is able to create new computational resources in an environment but not able to access data or execute code in existing resources.",
            "Vulnerability: A medium risk vulnerability could be used by an actor to gain access to resources or privileges that enable them to eventually (through multiple steps or a complex exploit) gain access and the ability to execute arbitrary code or exfiltrate data. An example is a service account with access to more projects than it should have. If an actor gains access to the service account, they could potentially use that access to manipulate a project the service account was not intended to. Threat: Indicates a threat that is able to cause operational impact but may not access data or execute unauthorized code.",
            "Vulnerability: A low risk vulnerability hampers a security organization's ability to detect vulnerabilities or active threats in their deployment, or prevents the root cause investigation of security issues. An example is monitoring and logs being disabled for resource configurations and access. Threat: Indicates a threat that has obtained minimal access to an environment but is not able to access data, execute code, or create resources."
          ],
          "type": "string",
          "description": "The severity of the finding. This field is managed by the source that writes the finding.",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ]
        },
        "state": {
          "description": "The state of the finding.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "enumDescriptions": [
            "Unspecified state.",
            "The finding requires attention and has not been addressed yet.",
            "The finding has been fixed, triaged as a non-issue or otherwise addressed and is no longer active."
          ],
          "type": "string"
        },
        "access": {
          "$ref": "Access",
          "description": "Access details associated with the finding, such as more information on the caller, which method was accessed, and from where."
        },
        "category": {
          "type": "string",
          "description": "The additional taxonomy group within findings from a given source. This field is immutable after creation time. Example: \"XSS_FLASH_INJECTION\""
        },
        "containers": {
          "description": "Containers associated with the finding. This field provides information for both Kubernetes and non-Kubernetes containers.",
          "items": {
            "$ref": "Container"
          },
          "type": "array"
        },
        "contacts": {
          "readOnly": true,
          "description": "Output only. Map containing the points of contact for the given finding. The key represents the type of contact, while the value contains a list of all the contacts that pertain. Please refer to: https://cloud.google.com/resource-manager/docs/managing-notification-contacts#notification-categories { \"security\": { \"contacts\": [ { \"email\": \"person1@company.com\" }, { \"email\": \"person2@company.com\" } ] } }",
          "type": "object",
          "additionalProperties": {
            "$ref": "ContactDetails"
          }
        },
        "moduleName": {
          "description": "Unique identifier of the module which generated the finding. Example: folders/598186756061/securityHealthAnalyticsSettings/customModules/56799441161885",
          "type": "string"
        },
        "cloudDlpDataProfile": {
          "$ref": "CloudDlpDataProfile",
          "description": "Cloud DLP data profile that is associated with the finding."
        },
        "resourceName": {
          "type": "string",
          "description": "For findings on Google Cloud resources, the full resource name of the Google Cloud resource this finding is for. See: https://cloud.google.com/apis/design/resource_names#full_resource_name When the finding is for a non-Google Cloud resource, the resourceName can be a customer or partner defined string. This field is immutable after creation time."
        },
        "mitreAttack": {
          "$ref": "MitreAttack",
          "description": "MITRE ATT&CK tactics and techniques related to this finding. See: https://attack.mitre.org"
        },
        "compliances": {
          "description": "Contains compliance information for security standards associated to the finding.",
          "type": "array",
          "items": {
            "$ref": "Compliance"
          }
        },
        "vulnerability": {
          "$ref": "Vulnerability",
          "description": "Represents vulnerability-specific fields like CVE and CVSS scores. CVE stands for Common Vulnerabilities and Exposures (https://cve.mitre.org/about/)"
        },
        "sourceProperties": {
          "type": "object",
          "description": "Source specific properties. These properties are managed by the source that writes the finding. The key names in the source_properties map must be between 1 and 255 characters, and must start with a letter and contain alphanumeric characters or underscores only.",
          "additionalProperties": {
            "type": "any"
          }
        },
        "description": {
          "description": "Contains more details about the finding.",
          "type": "string"
        },
        "indicator": {
          "description": "Represents what's commonly known as an *indicator of compromise* (IoC) in computer forensics. This is an artifact observed on a network or in an operating system that, with high confidence, indicates a computer intrusion. For more information, see [Indicator of compromise](https://en.wikipedia.org/wiki/Indicator_of_compromise).",
          "$ref": "Indicator"
        },
        "securityMarks": {
          "readOnly": true,
          "$ref": "SecurityMarks",
          "description": "Output only. User specified security marks. These marks are entirely managed by the user and come from the SecurityMarks resource that belongs to the finding."
        },
        "externalSystems": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudSecuritycenterV1ExternalSystem"
          },
          "readOnly": true,
          "description": "Output only. Third party SIEM/SOAR fields within SCC, contains external system information and external system finding fields."
        },
        "kubernetes": {
          "description": "Kubernetes resources associated with the finding.",
          "$ref": "Kubernetes"
        },
        "eventTime": {
          "description": "The time the finding was first detected. If an existing finding is updated, then this is the time the update occurred. For example, if the finding represents an open firewall, this property captures the time the detector believes the firewall became open. The accuracy is determined by the detector. If the finding is later resolved, then this time reflects when the finding was resolved. This must not be set to a value greater than the current timestamp.",
          "format": "google-datetime",
          "type": "string"
        },
        "muteInitiator": {
          "description": "Records additional information about the mute operation, for example, the [mute configuration](/security-command-center/docs/how-to-mute-findings) that muted the finding and the user who muted the finding.",
          "type": "string"
        },
        "files": {
          "description": "File associated with the finding.",
          "type": "array",
          "items": {
            "$ref": "File"
          }
        },
        "cloudDlpInspection": {
          "description": "Cloud Data Loss Prevention (Cloud DLP) inspection results that are associated with the finding.",
          "$ref": "CloudDlpInspection"
        },
        "externalUri": {
          "type": "string",
          "description": "The URI that, if available, points to a web page outside of Security Command Center where additional information about the finding can be found. This field is guaranteed to be either empty or a well formed URL."
        },
        "connections": {
          "type": "array",
          "description": "Contains information about the IP connection associated with the finding.",
          "items": {
            "$ref": "Connection"
          }
        }
      },
      "id": "Finding",
      "description": "Security Command Center finding. A finding is a record of assessment data like security, risk, health, or privacy, that is ingested into Security Command Center for presentation, notification, analysis, policy testing, and enforcement. For example, a cross-site scripting (XSS) vulnerability in an App Engine application is a finding."
    },
    "AssetDiscoveryConfig": {
      "id": "AssetDiscoveryConfig",
      "description": "The configuration used for Asset Discovery runs.",
      "properties": {
        "inclusionMode": {
          "enumDescriptions": [
            "Unspecified. Setting the mode with this value will disable inclusion/exclusion filtering for Asset Discovery.",
            "Asset Discovery will capture only the resources within the projects specified. All other resources will be ignored.",
            "Asset Discovery will ignore all resources under the projects specified. All other resources will be retrieved."
          ],
          "enum": [
            "INCLUSION_MODE_UNSPECIFIED",
            "INCLUDE_ONLY",
            "EXCLUDE"
          ],
          "description": "The mode to use for filtering asset discovery.",
          "type": "string"
        },
        "projectIds": {
          "description": "The project ids to use for filtering asset discovery.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "folderIds": {
          "type": "array",
          "description": "The folder ids to use for filtering asset discovery. It consists of only digits, e.g., 756619654966.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "KernelRootkit": {
      "id": "KernelRootkit",
      "description": "Kernel mode rootkit signatures.",
      "properties": {
        "unexpectedReadOnlyDataModification": {
          "type": "boolean",
          "description": "True if unexpected modifications of kernel read-only data memory are present."
        },
        "unexpectedCodeModification": {
          "description": "True if unexpected modifications of kernel code memory are present.",
          "type": "boolean"
        },
        "unexpectedSystemCallHandler": {
          "type": "boolean",
          "description": "True if system call handlers that are are not in the expected kernel or module code regions are present."
        },
        "name": {
          "description": "Rootkit name, when available.",
          "type": "string"
        },
        "unexpectedProcessesInRunqueue": {
          "type": "boolean",
          "description": "True if unexpected processes in the scheduler run queue are present. Such processes are in the run queue, but not in the process task list."
        },
        "unexpectedKprobeHandler": {
          "description": "True if `kprobe` points are present with callbacks pointing to regions that are not in the expected kernel or module code range.",
          "type": "boolean"
        },
        "unexpectedKernelCodePages": {
          "description": "True if kernel code pages that are not in the expected kernel or module code regions are present.",
          "type": "boolean"
        },
        "unexpectedFtraceHandler": {
          "description": "True if `ftrace` points are present with callbacks pointing to regions that are not in the expected kernel or module code range.",
          "type": "boolean"
        },
        "unexpectedInterruptHandler": {
          "description": "True if interrupt handlers that are are not in the expected kernel or module code regions are present.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "ListDescendantSecurityHealthAnalyticsCustomModulesResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "If not empty, indicates that there may be more custom modules to be returned."
        },
        "securityHealthAnalyticsCustomModules": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1SecurityHealthAnalyticsCustomModule"
          },
          "description": "Custom modules belonging to the requested parent and its descendants.",
          "type": "array"
        }
      },
      "description": "Response message for listing descendant Security Health Analytics custom modules.",
      "id": "ListDescendantSecurityHealthAnalyticsCustomModulesResponse",
      "type": "object"
    },
    "Geolocation": {
      "type": "object",
      "id": "Geolocation",
      "properties": {
        "regionCode": {
          "type": "string",
          "description": "A CLDR."
        }
      },
      "description": "Represents a geographical location for a given access."
    },
    "ListSecurityHealthAnalyticsCustomModulesResponse": {
      "description": "Response message for listing Security Health Analytics custom modules.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "If not empty, indicates that there may be more custom modules to be returned."
        },
        "securityHealthAnalyticsCustomModules": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1SecurityHealthAnalyticsCustomModule"
          },
          "type": "array",
          "description": "Custom modules belonging to the requested parent."
        }
      },
      "id": "ListSecurityHealthAnalyticsCustomModulesResponse"
    },
    "GoogleCloudSecuritycenterV1CustomOutputSpec": {
      "id": "GoogleCloudSecuritycenterV1CustomOutputSpec",
      "type": "object",
      "properties": {
        "properties": {
          "description": "A list of custom output properties to add to the finding.",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1Property"
          },
          "type": "array"
        }
      },
      "description": "A set of optional name-value pairs that define custom source properties to return with each finding that is generated by the custom module. The custom source properties that are defined here are included in the finding JSON under `sourceProperties`."
    },
    "Exfiltration": {
      "id": "Exfiltration",
      "properties": {
        "targets": {
          "type": "array",
          "description": "If there are multiple targets, each target would get a complete copy of the \"joined\" source data.",
          "items": {
            "$ref": "ExfilResource"
          }
        },
        "sources": {
          "type": "array",
          "description": "If there are multiple sources, then the data is considered \"joined\" between them. For instance, BigQuery can join multiple tables, and each table would be considered a source.",
          "items": {
            "$ref": "ExfilResource"
          }
        }
      },
      "type": "object",
      "description": "Exfiltration represents a data exfiltration attempt from one or more sources to one or more targets. The `sources` attribute lists the sources of the exfiltrated data. The `targets` attribute lists the destinations the data was copied to."
    },
    "Kubernetes": {
      "description": "Kubernetes-related attributes.",
      "id": "Kubernetes",
      "type": "object",
      "properties": {
        "roles": {
          "description": "Provides Kubernetes role information for findings that involve [Roles or ClusterRoles](https://cloud.google.com/kubernetes-engine/docs/how-to/role-based-access-control).",
          "items": {
            "$ref": "Role"
          },
          "type": "array"
        },
        "nodePools": {
          "type": "array",
          "description": "GKE [node pools](https://cloud.google.com/kubernetes-engine/docs/concepts/node-pools) associated with the finding. This field contains node pool information for each node, when it is available.",
          "items": {
            "$ref": "NodePool"
          }
        },
        "accessReviews": {
          "description": "Provides information on any Kubernetes access reviews (privilege checks) relevant to the finding.",
          "type": "array",
          "items": {
            "$ref": "AccessReview"
          }
        },
        "pods": {
          "type": "array",
          "items": {
            "$ref": "Pod"
          },
          "description": "Kubernetes [Pods](https://cloud.google.com/kubernetes-engine/docs/concepts/pod) associated with the finding. This field contains Pod records for each container that is owned by a Pod."
        },
        "nodes": {
          "items": {
            "$ref": "Node"
          },
          "type": "array",
          "description": "Provides Kubernetes [node](https://cloud.google.com/kubernetes-engine/docs/concepts/cluster-architecture#nodes) information."
        },
        "bindings": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1Binding"
          },
          "description": "Provides Kubernetes role binding information for findings that involve [RoleBindings or ClusterRoleBindings](https://cloud.google.com/kubernetes-engine/docs/how-to/role-based-access-control).",
          "type": "array"
        }
      }
    },
    "GroupAssetsRequest": {
      "description": "Request message for grouping by assets.",
      "type": "object",
      "properties": {
        "pageToken": {
          "description": "The value returned by the last `GroupAssetsResponse`; indicates that this is a continuation of a prior `GroupAssets` call, and that the system should return the next page of data.",
          "type": "string"
        },
        "filter": {
          "type": "string",
          "description": "Expression that defines the filter to apply across assets. The expression is a list of zero or more restrictions combined via logical operators `AND` and `OR`. Parentheses are supported, and `OR` has higher precedence than `AND`. Restrictions have the form ` ` and may have a `-` character in front of them to indicate negation. The fields map to those defined in the Asset resource. Examples include: * name * security_center_properties.resource_name * resource_properties.a_property * security_marks.marks.marka The supported operators are: * `=` for all value types. * `\u003e`, `\u003c`, `\u003e=`, `\u003c=` for integer values. * `:`, meaning substring matching, for strings. The supported value types are: * string literals in quotes. * integer literals without quotes. * boolean literals `true` and `false` without quotes. The following field and operator combinations are supported: * name: `=` * update_time: `=`, `\u003e`, `\u003c`, `\u003e=`, `\u003c=` Usage: This should be milliseconds since epoch or an RFC3339 string. Examples: `update_time = \"2019-06-10T16:07:18-07:00\"` `update_time = 1560208038000` * create_time: `=`, `\u003e`, `\u003c`, `\u003e=`, `\u003c=` Usage: This should be milliseconds since epoch or an RFC3339 string. Examples: `create_time = \"2019-06-10T16:07:18-07:00\"` `create_time = 1560208038000` * iam_policy.policy_blob: `=`, `:` * resource_properties: `=`, `:`, `\u003e`, `\u003c`, `\u003e=`, `\u003c=` * security_marks.marks: `=`, `:` * security_center_properties.resource_name: `=`, `:` * security_center_properties.resource_display_name: `=`, `:` * security_center_properties.resource_type: `=`, `:` * security_center_properties.resource_parent: `=`, `:` * security_center_properties.resource_parent_display_name: `=`, `:` * security_center_properties.resource_project: `=`, `:` * security_center_properties.resource_project_display_name: `=`, `:` * security_center_properties.resource_owners: `=`, `:` For example, `resource_properties.size = 100` is a valid filter string. Use a partial match on the empty string to filter based on a property existing: `resource_properties.my_property : \"\"` Use a negated partial match on the empty string to filter based on a property not existing: `-resource_properties.my_property : \"\"`"
        },
        "readTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time used as a reference point when filtering assets. The filter is limited to assets existing at the supplied time and their values are those at that specific time. Absence of this field will default to the API's version of NOW."
        },
        "groupBy": {
          "description": "Required. Expression that defines what assets fields to use for grouping. The string value should follow SQL syntax: comma separated list of fields. For example: \"security_center_properties.resource_project,security_center_properties.project\". The following fields are supported when compare_duration is not set: * security_center_properties.resource_project * security_center_properties.resource_project_display_name * security_center_properties.resource_type * security_center_properties.resource_parent * security_center_properties.resource_parent_display_name The following fields are supported when compare_duration is set: * security_center_properties.resource_type * security_center_properties.resource_project_display_name * security_center_properties.resource_parent_display_name",
          "type": "string"
        },
        "pageSize": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum number of results to return in a single response. Default is 10, minimum is 1, maximum is 1000."
        },
        "compareDuration": {
          "format": "google-duration",
          "description": "When compare_duration is set, the GroupResult's \"state_change\" property is updated to indicate whether the asset was added, removed, or remained present during the compare_duration period of time that precedes the read_time. This is the time between (read_time - compare_duration) and read_time. The state change value is derived based on the presence of the asset at the two points in time. Intermediate state changes between the two times don't affect the result. For example, the results aren't affected if the asset is removed and re-created again. Possible \"state_change\" values when compare_duration is specified: * \"ADDED\": indicates that the asset was not present at the start of compare_duration, but present at reference_time. * \"REMOVED\": indicates that the asset was present at the start of compare_duration, but not present at reference_time. * \"ACTIVE\": indicates that the asset was present at both the start and the end of the time period defined by compare_duration and reference_time. If compare_duration is not specified, then the only possible state_change is \"UNUSED\", which will be the state_change set for all assets present at read_time. If this field is set then `state_change` must be a specified field in `group_by`.",
          "type": "string"
        }
      },
      "id": "GroupAssetsRequest"
    },
    "Label": {
      "id": "Label",
      "type": "object",
      "description": "Represents a generic name-value label. A label has separate name and value fields to support filtering with the `contains()` function. For more information, see [Filtering on array-type fields](https://cloud.google.com/security-command-center/docs/how-to-api-list-findings#array-contains-filtering).",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the label."
        },
        "value": {
          "description": "Value that corresponds to the label's name.",
          "type": "string"
        }
      }
    },
    "NotificationConfig": {
      "id": "NotificationConfig",
      "description": "Cloud Security Command Center (Cloud SCC) notification configs. A notification config is a Cloud SCC resource that contains the configuration to send notifications for create/update events of findings, assets and etc.",
      "properties": {
        "pubsubTopic": {
          "description": "The Pub/Sub topic to send notifications to. Its format is \"projects/[project_id]/topics/[topic]\".",
          "type": "string"
        },
        "streamingConfig": {
          "description": "The config for triggering streaming-based notifications.",
          "$ref": "StreamingConfig"
        },
        "description": {
          "type": "string",
          "description": "The description of the notification config (max of 1024 characters)."
        },
        "name": {
          "description": "The relative resource name of this notification config. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Example: \"organizations/{organization_id}/notificationConfigs/notify_public_bucket\", \"folders/{folder_id}/notificationConfigs/notify_public_bucket\", or \"projects/{project_id}/notificationConfigs/notify_public_bucket\".",
          "type": "string"
        },
        "serviceAccount": {
          "readOnly": true,
          "description": "Output only. The service account that needs \"pubsub.topics.publish\" permission to publish to the Pub/Sub topic.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListFindingsResponse": {
      "type": "object",
      "properties": {
        "listFindingsResults": {
          "items": {
            "$ref": "ListFindingsResult"
          },
          "type": "array",
          "description": "Findings matching the list request."
        },
        "readTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time used for executing the list request."
        },
        "totalSize": {
          "type": "integer",
          "description": "The total number of findings matching the query.",
          "format": "int32"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results."
        }
      },
      "description": "Response message for listing findings.",
      "id": "ListFindingsResponse"
    },
    "SecurityMarks": {
      "type": "object",
      "properties": {
        "name": {
          "description": "The relative resource name of the SecurityMarks. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Examples: \"organizations/{organization_id}/assets/{asset_id}/securityMarks\" \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}/securityMarks\".",
          "type": "string"
        },
        "marks": {
          "description": "Mutable user specified security marks belonging to the parent resource. Constraints are as follows: * Keys and values are treated as case insensitive * Keys must be between 1 - 256 characters (inclusive) * Keys must be letters, numbers, underscores, or dashes * Values have leading and trailing whitespace trimmed, remaining characters must be between 1 - 4096 characters (inclusive)",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "canonicalName": {
          "description": "The canonical name of the marks. Examples: \"organizations/{organization_id}/assets/{asset_id}/securityMarks\" \"folders/{folder_id}/assets/{asset_id}/securityMarks\" \"projects/{project_number}/assets/{asset_id}/securityMarks\" \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}/securityMarks\" \"folders/{folder_id}/sources/{source_id}/findings/{finding_id}/securityMarks\" \"projects/{project_number}/sources/{source_id}/findings/{finding_id}/securityMarks\"",
          "type": "string"
        }
      },
      "id": "SecurityMarks",
      "description": "User specified security marks that are attached to the parent Security Command Center resource. Security marks are scoped within a Security Command Center organization -- they can be modified and viewed by all users who have proper permissions on the organization."
    },
    "Node": {
      "description": "Kubernetes nodes associated with the finding.",
      "properties": {
        "name": {
          "type": "string",
          "description": "[Full resource name](https://google.aip.dev/122#full-resource-names) of the Compute Engine VM running the cluster node."
        }
      },
      "type": "object",
      "id": "Node"
    },
    "ServiceAccountDelegationInfo": {
      "description": "Identity delegation history of an authenticated service account.",
      "id": "ServiceAccountDelegationInfo",
      "properties": {
        "principalSubject": {
          "type": "string",
          "description": "A string representing the principal_subject associated with the identity. As compared to `principal_email`, supports principals that aren't associated with email addresses, such as third party principals. For most identities, the format will be `principal://iam.googleapis.com/{identity pool name}/subjects/{subject}` except for some GKE identities (GKE_WORKLOAD, FREEFORM, GKE_HUB_WORKLOAD) that are still in the legacy format `serviceAccount:{identity pool name}[{subject}]`"
        },
        "principalEmail": {
          "type": "string",
          "description": "The email address of a Google account."
        }
      },
      "type": "object"
    },
    "File": {
      "properties": {
        "size": {
          "format": "int64",
          "type": "string",
          "description": "Size of the file in bytes."
        },
        "contents": {
          "description": "Prefix of the file contents as a JSON-encoded string.",
          "type": "string"
        },
        "hashedSize": {
          "description": "The length in bytes of the file prefix that was hashed. If hashed_size == size, any hashes reported represent the entire file.",
          "type": "string",
          "format": "int64"
        },
        "partiallyHashed": {
          "type": "boolean",
          "description": "True when the hash covers only a prefix of the file."
        },
        "sha256": {
          "type": "string",
          "description": "SHA256 hash of the first hashed_size bytes of the file encoded as a hex string. If hashed_size == size, sha256 represents the SHA256 hash of the entire file."
        },
        "path": {
          "type": "string",
          "description": "Absolute path of the file as a JSON encoded string."
        }
      },
      "id": "File",
      "type": "object",
      "description": "File information about the related binary/library used by an executable, or the script used by a script interpreter"
    },
    "Policy": {
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } **YAML example:** bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "properties": {
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer",
          "format": "int32"
        },
        "auditConfigs": {
          "type": "array",
          "items": {
            "$ref": "AuditConfig"
          },
          "description": "Specifies cloud audit logging configuration for this policy."
        },
        "etag": {
          "type": "string",
          "format": "byte",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
        },
        "bindings": {
          "type": "array",
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "items": {
            "$ref": "Binding"
          }
        }
      },
      "id": "Policy",
      "type": "object"
    },
    "ListBigQueryExportsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "bigQueryExports": {
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1BigQueryExport"
          },
          "description": "The BigQuery exports from the specified parent.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "ListBigQueryExportsResponse",
      "description": "Response message for listing BigQuery exports."
    },
    "Status": {
      "id": "Status",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "details": {
          "type": "array",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      },
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "StreamingConfig": {
      "id": "StreamingConfig",
      "type": "object",
      "properties": {
        "filter": {
          "type": "string",
          "description": "Expression that defines the filter to apply across create/update events of assets or findings as specified by the event type. The expression is a list of zero or more restrictions combined via logical operators `AND` and `OR`. Parentheses are supported, and `OR` has higher precedence than `AND`. Restrictions have the form ` ` and may have a `-` character in front of them to indicate negation. The fields map to those defined in the corresponding resource. The supported operators are: * `=` for all value types. * `\u003e`, `\u003c`, `\u003e=`, `\u003c=` for integer values. * `:`, meaning substring matching, for strings. The supported value types are: * string literals in quotes. * integer literals without quotes. * boolean literals `true` and `false` without quotes."
        }
      },
      "description": "The config for streaming-based notifications, which send each event as soon as it is detected."
    },
    "Vulnerability": {
      "properties": {
        "cve": {
          "$ref": "Cve",
          "description": "CVE stands for Common Vulnerabilities and Exposures (https://cve.mitre.org/about/)"
        }
      },
      "id": "Vulnerability",
      "description": "Refers to common vulnerability fields e.g. cve, cvss, cwe etc.",
      "type": "object"
    },
    "ListFindingsResult": {
      "description": "Result containing the Finding and its StateChange.",
      "properties": {
        "resource": {
          "$ref": "Resource",
          "description": "Output only. Resource that is associated with this finding.",
          "readOnly": true
        },
        "finding": {
          "description": "Finding matching the search request.",
          "$ref": "Finding"
        },
        "stateChange": {
          "enum": [
            "UNUSED",
            "CHANGED",
            "UNCHANGED",
            "ADDED",
            "REMOVED"
          ],
          "type": "string",
          "enumDescriptions": [
            "State change is unused, this is the canonical default for this enum.",
            "The finding has changed state in some way between the points in time and existed at both points.",
            "The finding has not changed state between the points in time and existed at both points.",
            "The finding was created between the points in time.",
            "The finding at timestamp does not match the filter specified, but it did at timestamp - compare_duration."
          ],
          "description": "State change of the finding between the points in time."
        }
      },
      "type": "object",
      "id": "ListFindingsResult"
    },
    "ListNotificationConfigsResponse": {
      "type": "object",
      "properties": {
        "notificationConfigs": {
          "items": {
            "$ref": "NotificationConfig"
          },
          "type": "array",
          "description": "Notification configs belonging to the requested parent."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results."
        }
      },
      "description": "Response message for listing notification configs.",
      "id": "ListNotificationConfigsResponse"
    },
    "Asset": {
      "properties": {
        "canonicalName": {
          "type": "string",
          "description": "The canonical name of the resource. It's either \"organizations/{organization_id}/assets/{asset_id}\", \"folders/{folder_id}/assets/{asset_id}\" or \"projects/{project_number}/assets/{asset_id}\", depending on the closest CRM ancestor of the resource."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time at which the asset was last updated or added in Cloud SCC."
        },
        "name": {
          "description": "The relative resource name of this asset. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Example: \"organizations/{organization_id}/assets/{asset_id}\".",
          "type": "string"
        },
        "securityCenterProperties": {
[...]
