{
  "mtlsRootUrl": "https://securitycenter.mtls.googleapis.com/",
  "description": "Security Command Center API provides access to temporal views of assets and findings within an organization.",
  "revision": "20220127",
  "basePath": "",
  "baseUrl": "https://securitycenter.googleapis.com/",
  "documentationLink": "https://cloud.google.com/security-command-center",
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "version": "v1",
  "servicePath": "",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "version_module": true,
  "ownerName": "Google",
  "resources": {
    "organizations": {
      "methods": {
        "updateOrganizationSettings": {
          "flatPath": "v1/organizations/{organizationsId}/organizationSettings",
          "response": {
            "$ref": "OrganizationSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "path": "v1/{+name}",
          "httpMethod": "PATCH",
          "request": {
            "$ref": "OrganizationSettings"
          },
          "description": "Updates an organization's settings.",
          "parameters": {
            "name": {
              "description": "The relative resource name of the settings. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Example: \"organizations/{organization_id}/organizationSettings\".",
              "type": "string",
              "location": "path",
              "pattern": "^organizations/[^/]+/organizationSettings$",
              "required": true
            },
            "updateMask": {
              "type": "string",
              "format": "google-fieldmask",
              "description": "The FieldMask to use when updating the settings resource. If empty all mutable fields will be updated.",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "securitycenter.organizations.updateOrganizationSettings"
        },
        "getOrganizationSettings": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1/organizations/{organizationsId}/organizationSettings",
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "description": "Required. Name of the organization to get organization settings for. Its format is \"organizations/[organization_id]/organizationSettings\".",
              "pattern": "^organizations/[^/]+/organizationSettings$",
              "required": true
            }
          },
          "path": "v1/{+name}",
          "httpMethod": "GET",
          "response": {
            "$ref": "OrganizationSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "id": "securitycenter.organizations.getOrganizationSettings",
          "description": "Gets the settings for an organization."
        }
      },
      "resources": {
        "assets": {
          "methods": {
            "list": {
              "flatPath": "v1/organizations/{organizationsId}/assets",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "compareDuration": {
                  "format": "google-duration",
                  "description": "When compare_duration is set, the ListAssetsResult's \"state_change\" attribute is updated to indicate whether the asset was added, removed, or remained present during the compare_duration period of time that precedes the read_time. This is the time between (read_time - compare_duration) and read_time. The state_change value is derived based on the presence of the asset at the two points in time. Intermediate state changes between the two times don't affect the result. For example, the results aren't affected if the asset is removed and re-created again. Possible \"state_change\" values when compare_duration is specified: * \"ADDED\": indicates that the asset was not present at the start of compare_duration, but present at read_time. * \"REMOVED\": indicates that the asset was present at the start of compare_duration, but not present at read_time. * \"ACTIVE\": indicates that the asset was present at both the start and the end of the time period defined by compare_duration and read_time. If compare_duration is not specified, then the only possible state_change is \"UNUSED\", which will be the state_change set for all assets present at read_time.",
                  "type": "string",
                  "location": "query"
                },
                "orderBy": {
                  "description": "Expression that defines what fields and order to use for sorting. The string value should follow SQL syntax: comma separated list of fields. For example: \"name,resource_properties.a_property\". The default sorting order is ascending. To specify descending order for a field, a suffix \" desc\" should be appended to the field name. For example: \"name desc,resource_properties.a_property\". Redundant space characters in the syntax are insignificant. \"name desc,resource_properties.a_property\" and \" name desc , resource_properties.a_property \" are equivalent. The following fields are supported: name update_time resource_properties security_marks.marks security_center_properties.resource_name security_center_properties.resource_display_name security_center_properties.resource_parent security_center_properties.resource_parent_display_name security_center_properties.resource_project security_center_properties.resource_project_display_name security_center_properties.resource_type",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "description": "The value returned by the last `ListAssetsResponse`; indicates that this is a continuation of a prior `ListAssets` call, and that the system should return the next page of data.",
                  "type": "string"
                },
                "fieldMask": {
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "A field mask to specify the ListAssetsResult fields to be listed in the response. An empty field mask will list all fields."
                },
                "readTime": {
                  "format": "google-datetime",
                  "description": "Time used as a reference point when filtering assets. The filter is limited to assets existing at the supplied time and their values are those at that specific time. Absence of this field will default to the API's version of NOW.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "description": "Required. Name of the organization assets should belong to. Its format is \"organizations/[organization_id], folders/[folder_id], or projects/[project_id]\".",
                  "required": true,
                  "pattern": "^organizations/[^/]+$",
                  "location": "path",
                  "type": "string"
                },
                "filter": {
                  "description": "Expression that defines the filter to apply across assets. The expression is a list of zero or more restrictions combined via logical operators `AND` and `OR`. Parentheses are supported, and `OR` has higher precedence than `AND`. Restrictions have the form ` ` and may have a `-` character in front of them to indicate negation. The fields map to those defined in the Asset resource. Examples include: * name * security_center_properties.resource_name * resource_properties.a_property * security_marks.marks.marka The supported operators are: * `=` for all value types. * `\u003e`, `\u003c`, `\u003e=`, `\u003c=` for integer values. * `:`, meaning substring matching, for strings. The supported value types are: * string literals in quotes. * integer literals without quotes. * boolean literals `true` and `false` without quotes. The following are the allowed field and operator combinations: * name: `=` * update_time: `=`, `\u003e`, `\u003c`, `\u003e=`, `\u003c=` Usage: This should be milliseconds since epoch or an RFC3339 string. Examples: `update_time = \"2019-06-10T16:07:18-07:00\"` `update_time = 1560208038000` * create_time: `=`, `\u003e`, `\u003c`, `\u003e=`, `\u003c=` Usage: This should be milliseconds since epoch or an RFC3339 string. Examples: `create_time = \"2019-06-10T16:07:18-07:00\"` `create_time = 1560208038000` * iam_policy.policy_blob: `=`, `:` * resource_properties: `=`, `:`, `\u003e`, `\u003c`, `\u003e=`, `\u003c=` * security_marks.marks: `=`, `:` * security_center_properties.resource_name: `=`, `:` * security_center_properties.resource_display_name: `=`, `:` * security_center_properties.resource_type: `=`, `:` * security_center_properties.resource_parent: `=`, `:` * security_center_properties.resource_parent_display_name: `=`, `:` * security_center_properties.resource_project: `=`, `:` * security_center_properties.resource_project_display_name: `=`, `:` * security_center_properties.resource_owners: `=`, `:` For example, `resource_properties.size = 100` is a valid filter string. Use a partial match on the empty string to filter based on a property existing: `resource_properties.my_property : \"\"` Use a negated partial match on the empty string to filter based on a property not existing: `-resource_properties.my_property : \"\"`",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "The maximum number of results to return in a single response. Default is 10, minimum is 1, maximum is 1000.",
                  "location": "query",
                  "format": "int32"
                }
              },
              "response": {
                "$ref": "ListAssetsResponse"
              },
              "id": "securitycenter.organizations.assets.list",
              "path": "v1/{+parent}/assets",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists an organization's assets."
            },
            "group": {
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^organizations/[^/]+$",
                  "required": true,
                  "description": "Required. Name of the organization to groupBy. Its format is \"organizations/[organization_id], folders/[folder_id], or projects/[project_id]\"."
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "GroupAssetsRequest"
              },
              "flatPath": "v1/organizations/{organizationsId}/assets:group",
              "response": {
                "$ref": "GroupAssetsResponse"
              },
              "httpMethod": "POST",
              "path": "v1/{+parent}/assets:group",
              "description": "Filters an organization's assets and groups them by their specified properties.",
              "id": "securitycenter.organizations.assets.group"
            },
            "runDiscovery": {
              "response": {
                "$ref": "Operation"
              },
              "path": "v1/{+parent}/assets:runDiscovery",
              "description": "Runs asset discovery. The discovery is tracked with a long-running operation. This API can only be called with limited frequency for an organization. If it is called too frequently the caller will receive a TOO_MANY_REQUESTS error.",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/organizations/{organizationsId}/assets:runDiscovery",
              "id": "securitycenter.organizations.assets.runDiscovery",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. Name of the organization to run asset discovery for. Its format is \"organizations/[organization_id]\".",
                  "type": "string",
                  "required": true,
                  "pattern": "^organizations/[^/]+$"
                }
              },
              "request": {
                "$ref": "RunAssetDiscoveryRequest"
              }
            },
            "updateSecurityMarks": {
              "description": "Updates security marks.",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "SecurityMarks"
              },
              "path": "v1/{+name}",
              "flatPath": "v1/organizations/{organizationsId}/assets/{assetsId}/securityMarks",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^organizations/[^/]+/assets/[^/]+/securityMarks$",
                  "description": "The relative resource name of the SecurityMarks. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Examples: \"organizations/{organization_id}/assets/{asset_id}/securityMarks\" \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}/securityMarks\"."
                },
                "updateMask": {
                  "description": "The FieldMask to use when updating the security marks resource. The field mask must not contain duplicate fields. If empty or set to \"marks\", all marks will be replaced. Individual marks can be updated using \"marks.\".",
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string"
                },
                "startTime": {
                  "location": "query",
                  "description": "The time at which the updated SecurityMarks take effect. If not set uses current server time. Updates will be applied to the SecurityMarks that are active immediately preceding this time. Must be smaller or equal to the server time.",
                  "type": "string",
                  "format": "google-datetime"
                }
              },
              "request": {
                "$ref": "SecurityMarks"
              },
              "httpMethod": "PATCH",
              "id": "securitycenter.organizations.assets.updateSecurityMarks"
            }
          }
        },
        "operations": {
          "methods": {
            "cancel": {
              "httpMethod": "POST",
              "path": "v1/{+name}:cancel",
              "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
              "id": "securitycenter.organizations.operations.cancel",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^organizations/[^/]+/operations/[^/]+$",
                  "required": true,
                  "description": "The name of the operation resource to be cancelled.",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "v1/organizations/{organizationsId}/operations/{operationsId}:cancel"
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}",
              "id": "securitycenter.organizations.operations.get",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^organizations/[^/]+/operations/[^/]+$",
                  "description": "The name of the operation resource."
                }
              },
              "flatPath": "v1/organizations/{organizationsId}/operations/{operationsId}",
              "response": {
                "$ref": "Operation"
              },
              "httpMethod": "GET"
            },
            "list": {
              "response": {
                "$ref": "ListOperationsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/organizations/{organizationsId}/operations",
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`. NOTE: the `name` binding allows API services to override the binding to use different resource name schemes, such as `users/*/operations`. To override the binding, API services can add a binding such as `\"/v1/{name=users/*}/operations\"` to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id.",
              "id": "securitycenter.organizations.operations.list",
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "The standard list page size."
                },
                "name": {
                  "pattern": "^organizations/[^/]+/operations$",
                  "location": "path",
                  "type": "string",
                  "description": "The name of the operation's parent resource.",
                  "required": true
                },
                "filter": {
                  "type": "string",
                  "description": "The standard list filter.",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "The standard list page token."
                }
              },
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET"
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "id": "securitycenter.organizations.operations.delete",
              "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/organizations/{organizationsId}/operations/{operationsId}",
              "response": {
                "$ref": "Empty"
              },
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "description": "The name of the operation resource to be deleted.",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^organizations/[^/]+/operations/[^/]+$"
                }
              },
              "httpMethod": "DELETE"
            }
          }
        },
        "findings": {
          "methods": {
            "bulkMute": {
              "path": "v1/{+parent}/findings:bulkMute",
              "flatPath": "v1/organizations/{organizationsId}/findings:bulkMute",
              "description": "Kicks off an LRO to bulk mute findings for a parent based on a filter. The parent can be either an organization, folder or project. The findings matched by the filter will be muted after the LRO is done.",
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^organizations/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. The parent, at which bulk action needs to be applied. Its format is \"organizations/[organization_id]\", \"folders/[folder_id]\", \"projects/[project_id]\"."
                }
              },
              "httpMethod": "POST",
              "id": "securitycenter.organizations.findings.bulkMute",
              "response": {
                "$ref": "Operation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "BulkMuteFindingsRequest"
              }
            }
          }
        },
        "notificationConfigs": {
          "methods": {
            "create": {
              "parameters": {
                "configId": {
                  "description": "Required. Unique identifier provided by the client within the parent scope. It must be between 1 and 128 characters, and contains alphanumeric characters, underscores or hyphens only.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "type": "string",
                  "pattern": "^organizations/[^/]+$",
                  "location": "path",
                  "description": "Required. Resource name of the new notification config's parent. Its format is \"organizations/[organization_id]\".",
                  "required": true
                }
              },
              "id": "securitycenter.organizations.notificationConfigs.create",
              "description": "Creates a notification config.",
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/organizations/{organizationsId}/notificationConfigs",
              "response": {
                "$ref": "NotificationConfig"
              },
              "path": "v1/{+parent}/notificationConfigs",
              "request": {
                "$ref": "NotificationConfig"
              }
            },
            "list": {
              "httpMethod": "GET",
              "description": "Lists notification configs.",
              "path": "v1/{+parent}/notificationConfigs",
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^organizations/[^/]+$",
                  "description": "Required. Name of the organization to list notification configs. Its format is \"organizations/[organization_id]\"."
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "The value returned by the last `ListNotificationConfigsResponse`; indicates that this is a continuation of a prior `ListNotificationConfigs` call, and that the system should return the next page of data."
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum number of results to return in a single response. Default is 10, minimum is 1, maximum is 1000."
                }
              },
              "response": {
                "$ref": "ListNotificationConfigsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/organizations/{organizationsId}/notificationConfigs",
              "id": "securitycenter.organizations.notificationConfigs.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "delete": {
              "id": "securitycenter.organizations.notificationConfigs.delete",
              "path": "v1/{+name}",
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/organizations/{organizationsId}/notificationConfigs/{notificationConfigsId}",
              "description": "Deletes a notification config.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "name": {
                  "description": "Required. Name of the notification config to delete. Its format is \"organizations/[organization_id]/notificationConfigs/[config_id]\".",
                  "location": "path",
                  "pattern": "^organizations/[^/]+/notificationConfigs/[^/]+$",
                  "type": "string",
                  "required": true
                }
              }
            },
            "get": {
              "flatPath": "v1/organizations/{organizationsId}/notificationConfigs/{notificationConfigsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "NotificationConfig"
              },
              "id": "securitycenter.organizations.notificationConfigs.get",
              "description": "Gets a notification config.",
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "description": "Required. Name of the notification config to get. Its format is \"organizations/[organization_id]/notificationConfigs/[config_id]\".",
                  "pattern": "^organizations/[^/]+/notificationConfigs/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ]
            },
            "patch": {
              "description": " Updates a notification config. The following update fields are allowed: description, pubsub_topic, streaming_config.filter",
              "flatPath": "v1/organizations/{organizationsId}/notificationConfigs/{notificationConfigsId}",
              "request": {
                "$ref": "NotificationConfig"
              },
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^organizations/[^/]+/notificationConfigs/[^/]+$",
                  "description": "The relative resource name of this notification config. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Example: \"organizations/{organization_id}/notificationConfigs/notify_public_bucket\"."
                },
                "updateMask": {
                  "location": "query",
                  "description": "The FieldMask to use when updating the notification config. If empty all mutable fields will be updated.",
                  "format": "google-fieldmask",
                  "type": "string"
                }
              },
              "httpMethod": "PATCH",
              "response": {
                "$ref": "NotificationConfig"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "securitycenter.organizations.notificationConfigs.patch",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "sources": {
          "methods": {
            "list": {
              "parameters": {
                "parent": {
                  "pattern": "^organizations/[^/]+$",
                  "required": true,
                  "description": "Required. Resource name of the parent of sources to list. Its format should be \"organizations/[organization_id], folders/[folder_id], or projects/[project_id]\".",
                  "type": "string",
                  "location": "path"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "The value returned by the last `ListSourcesResponse`; indicates that this is a continuation of a prior `ListSources` call, and that the system should return the next page of data."
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of results to return in a single response. Default is 10, minimum is 1, maximum is 1000."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "securitycenter.organizations.sources.list",
              "description": "Lists all sources belonging to an organization.",
              "response": {
                "$ref": "ListSourcesResponse"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/sources",
              "flatPath": "v1/organizations/{organizationsId}/sources"
            },
            "create": {
              "id": "securitycenter.organizations.sources.create",
              "parameters": {
                "parent": {
                  "description": "Required. Resource name of the new source's parent. Its format should be \"organizations/[organization_id]\".",
                  "pattern": "^organizations/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "flatPath": "v1/organizations/{organizationsId}/sources",
              "request": {
                "$ref": "Source"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Source"
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/sources",
              "httpMethod": "POST",
              "description": "Creates a source."
            },
            "patch": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "securitycenter.organizations.sources.patch",
              "parameters": {
                "updateMask": {
                  "description": "The FieldMask to use when updating the source resource. If empty all mutable fields will be updated.",
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "location": "path",
                  "description": "The relative resource name of this source. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Example: \"organizations/{organization_id}/sources/{source_id}\"",
                  "required": true,
                  "type": "string",
                  "pattern": "^organizations/[^/]+/sources/[^/]+$"
                }
              },
              "request": {
                "$ref": "Source"
              },
              "flatPath": "v1/organizations/{organizationsId}/sources/{sourcesId}",
              "description": "Updates a source.",
              "response": {
                "$ref": "Source"
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "httpMethod": "PATCH"
            },
            "setIamPolicy": {
              "request": {
                "$ref": "SetIamPolicyRequest"
              },
              "flatPath": "v1/organizations/{organizationsId}/sources/{sourcesId}:setIamPolicy",
              "parameters": {
                "resource": {
                  "location": "path",
                  "description": "REQUIRED: The resource for which the policy is being specified. See the operation documentation for the appropriate value for this field.",
                  "required": true,
                  "type": "string",
                  "pattern": "^organizations/[^/]+/sources/[^/]+$"
                }
              },
              "response": {
                "$ref": "Policy"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+resource}:setIamPolicy",
              "parameterOrder": [
                "resource"
              ],
              "description": "Sets the access control policy on the specified Source.",
              "id": "securitycenter.organizations.sources.setIamPolicy",
              "httpMethod": "POST"
            },
            "getIamPolicy": {
              "parameterOrder": [
                "resource"
              ],
              "parameters": {
                "resource": {
                  "required": true,
                  "type": "string",
                  "description": "REQUIRED: The resource for which the policy is being requested. See the operation documentation for the appropriate value for this field.",
                  "pattern": "^organizations/[^/]+/sources/[^/]+$",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Policy"
              },
              "id": "securitycenter.organizations.sources.getIamPolicy",
              "path": "v1/{+resource}:getIamPolicy",
              "description": "Gets the access control policy on the specified Source.",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/organizations/{organizationsId}/sources/{sourcesId}:getIamPolicy",
              "request": {
                "$ref": "GetIamPolicyRequest"
              }
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. Relative resource name of the source. Its format is \"organizations/[organization_id]/source/[source_id]\".",
                  "pattern": "^organizations/[^/]+/sources/[^/]+$",
                  "required": true
                }
              },
              "description": "Gets a source.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "securitycenter.organizations.sources.get",
              "httpMethod": "GET",
              "path": "v1/{+name}",
              "flatPath": "v1/organizations/{organizationsId}/sources/{sourcesId}",
              "response": {
                "$ref": "Source"
              }
            },
            "testIamPermissions": {
              "parameters": {
                "resource": {
                  "pattern": "^organizations/[^/]+/sources/[^/]+$",
                  "description": "REQUIRED: The resource for which the policy detail is being requested. See the operation documentation for the appropriate value for this field.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "Returns the permissions that a caller has on the specified source.",
              "response": {
                "$ref": "TestIamPermissionsResponse"
              },
              "parameterOrder": [
                "resource"
              ],
              "request": {
                "$ref": "TestIamPermissionsRequest"
              },
              "path": "v1/{+resource}:testIamPermissions",
              "flatPath": "v1/organizations/{organizationsId}/sources/{sourcesId}:testIamPermissions",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "securitycenter.organizations.sources.testIamPermissions",
              "httpMethod": "POST"
            }
          },
          "resources": {
            "findings": {
              "methods": {
                "setState": {
                  "response": {
                    "$ref": "Finding"
                  },
                  "request": {
                    "$ref": "SetFindingStateRequest"
                  },
                  "httpMethod": "POST",
                  "id": "securitycenter.organizations.sources.findings.setState",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "description": "Required. The relative resource name of the finding. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Example: \"organizations/{organization_id}/sources/{source_id}/finding/{finding_id}\".",
                      "pattern": "^organizations/[^/]+/sources/[^/]+/findings/[^/]+$",
                      "type": "string"
                    }
                  },
                  "description": "Updates the state of a finding.",
                  "path": "v1/{+name}:setState",
                  "flatPath": "v1/organizations/{organizationsId}/sources/{sourcesId}/findings/{findingsId}:setState",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                },
                "updateSecurityMarks": {
                  "description": "Updates security marks.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "The relative resource name of the SecurityMarks. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Examples: \"organizations/{organization_id}/assets/{asset_id}/securityMarks\" \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}/securityMarks\".",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/sources/[^/]+/findings/[^/]+/securityMarks$"
                    },
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "description": "The FieldMask to use when updating the security marks resource. The field mask must not contain duplicate fields. If empty or set to \"marks\", all marks will be replaced. Individual marks can be updated using \"marks.\".",
                      "type": "string"
                    },
                    "startTime": {
                      "type": "string",
                      "format": "google-datetime",
                      "location": "query",
                      "description": "The time at which the updated SecurityMarks take effect. If not set uses current server time. Updates will be applied to the SecurityMarks that are active immediately preceding this time. Must be smaller or equal to the server time."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "securitycenter.organizations.sources.findings.updateSecurityMarks",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "SecurityMarks"
                  },
                  "flatPath": "v1/organizations/{organizationsId}/sources/{sourcesId}/findings/{findingsId}/securityMarks",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "SecurityMarks"
                  }
                },
                "list": {
                  "path": "v1/{+parent}/findings",
                  "flatPath": "v1/organizations/{organizationsId}/sources/{sourcesId}/findings",
                  "description": "Lists an organization or source's findings. To list across all sources provide a `-` as the source id. Example: /v1/organizations/{organization_id}/sources/-/findings",
                  "parameters": {
                    "orderBy": {
                      "location": "query",
                      "description": "Expression that defines what fields and order to use for sorting. The string value should follow SQL syntax: comma separated list of fields. For example: \"name,resource_properties.a_property\". The default sorting order is ascending. To specify descending order for a field, a suffix \" desc\" should be appended to the field name. For example: \"name desc,source_properties.a_property\". Redundant space characters in the syntax are insignificant. \"name desc,source_properties.a_property\" and \" name desc , source_properties.a_property \" are equivalent. The following fields are supported: name parent state category resource_name event_time source_properties security_marks.marks",
                      "type": "string"
                    },
                    "readTime": {
                      "location": "query",
                      "format": "google-datetime",
                      "type": "string",
                      "description": "Time used as a reference point when filtering findings. The filter is limited to findings existing at the supplied time and their values are those at that specific time. Absence of this field will default to the API's version of NOW."
                    },
                    "fieldMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string",
                      "description": "A field mask to specify the Finding fields to be listed in the response. An empty field mask will list all fields."
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Expression that defines the filter to apply across findings. The expression is a list of one or more restrictions combined via logical operators `AND` and `OR`. Parentheses are supported, and `OR` has higher precedence than `AND`. Restrictions have the form ` ` and may have a `-` character in front of them to indicate negation. Examples include: * name * source_properties.a_property * security_marks.marks.marka The supported operators are: * `=` for all value types. * `\u003e`, `\u003c`, `\u003e=`, `\u003c=` for integer values. * `:`, meaning substring matching, for strings. The supported value types are: * string literals in quotes. * integer literals without quotes. * boolean literals `true` and `false` without quotes. The following field and operator combinations are supported: * name: `=` * parent: `=`, `:` * resource_name: `=`, `:` * state: `=`, `:` * category: `=`, `:` * external_uri: `=`, `:` * event_time: `=`, `\u003e`, `\u003c`, `\u003e=`, `\u003c=` Usage: This should be milliseconds since epoch or an RFC3339 string. Examples: `event_time = \"2019-06-10T16:07:18-07:00\"` `event_time = 1560208038000` * severity: `=`, `:` * workflow_state: `=`, `:` * security_marks.marks: `=`, `:` * source_properties: `=`, `:`, `\u003e`, `\u003c`, `\u003e=`, `\u003c=` For example, `source_properties.size = 100` is a valid filter string. Use a partial match on the empty string to filter based on a property existing: `source_properties.my_property : \"\"` Use a negated partial match on the empty string to filter based on a property not existing: `-source_properties.my_property : \"\"` * resource: * resource.name: `=`, `:` * resource.parent_name: `=`, `:` * resource.parent_display_name: `=`, `:` * resource.project_name: `=`, `:` * resource.project_display_name: `=`, `:` * resource.type: `=`, `:` * resource.folders.resource_folder: `=`, `:` * resource.display_name: `=`, `:`"
                    },
                    "parent": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/sources/[^/]+$",
                      "description": "Required. Name of the source the findings belong to. Its format is \"organizations/[organization_id]/sources/[source_id], folders/[folder_id]/sources/[source_id], or projects/[project_id]/sources/[source_id]\". To list across all sources provide a source_id of `-`. For example: organizations/{organization_id}/sources/-, folders/{folder_id}/sources/- or projects/{projects_id}/sources/-"
                    },
                    "pageSize": {
                      "description": "The maximum number of results to return in a single response. Default is 10, minimum is 1, maximum is 1000.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The value returned by the last `ListFindingsResponse`; indicates that this is a continuation of a prior `ListFindings` call, and that the system should return the next page of data."
                    },
                    "compareDuration": {
                      "description": "When compare_duration is set, the ListFindingsResult's \"state_change\" attribute is updated to indicate whether the finding had its state changed, the finding's state remained unchanged, or if the finding was added in any state during the compare_duration period of time that precedes the read_time. This is the time between (read_time - compare_duration) and read_time. The state_change value is derived based on the presence and state of the finding at the two points in time. Intermediate state changes between the two times don't affect the result. For example, the results aren't affected if the finding is made inactive and then active again. Possible \"state_change\" values when compare_duration is specified: * \"CHANGED\": indicates that the finding was present and matched the given filter at the start of compare_duration, but changed its state at read_time. * \"UNCHANGED\": indicates that the finding was present and matched the given filter at the start of compare_duration and did not change state at read_time. * \"ADDED\": indicates that the finding did not match the given filter or was not present at the start of compare_duration, but was present at read_time. * \"REMOVED\": indicates that the finding was present and matched the filter at the start of compare_duration, but did not match the filter at read_time. If compare_duration is not specified, then the only possible state_change is \"UNUSED\", which will be the state_change set for all findings present at read_time.",
                      "location": "query",
                      "type": "string",
                      "format": "google-duration"
                    }
                  },
                  "id": "securitycenter.organizations.sources.findings.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListFindingsResponse"
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "patch": {
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "Finding"
                  },
                  "id": "securitycenter.organizations.sources.findings.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string",
                      "description": "The FieldMask to use when updating the finding resource. This field should not be specified when creating a finding. When updating a finding, an empty mask is treated as updating all mutable fields and replacing source_properties. Individual source_properties can be added/updated by using \"source_properties.\" in the field mask."
                    },
                    "name": {
                      "type": "string",
                      "description": "The relative resource name of this finding. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Example: \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}\"",
                      "required": true,
                      "location": "path",
                      "pattern": "^organizations/[^/]+/sources/[^/]+/findings/[^/]+$"
                    }
                  },
                  "request": {
                    "$ref": "Finding"
                  },
                  "flatPath": "v1/organizations/{organizationsId}/sources/{sourcesId}/findings/{findingsId}",
                  "description": "Creates or updates a finding. The corresponding source must exist for a finding creation to succeed."
                },
                "setMute": {
                  "id": "securitycenter.organizations.sources.findings.setMute",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Finding"
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "SetMuteRequest"
                  },
                  "path": "v1/{+name}:setMute",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The relative resource name of the finding. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Example: \"organizations/{organization_id}/sources/{source_id}/finding/{finding_id}\", \"folders/{folder_id}/sources/{source_id}/finding/{finding_id}\", \"projects/{project_id}/sources/{source_id}/finding/{finding_id}\".",
                      "location": "path",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/sources/[^/]+/findings/[^/]+$"
                    }
                  },
                  "flatPath": "v1/organizations/{organizationsId}/sources/{sourcesId}/findings/{findingsId}:setMute",
                  "description": "Updates the mute state of a finding."
                },
                "create": {
                  "path": "v1/{+parent}/findings",
                  "response": {
                    "$ref": "Finding"
                  },
                  "flatPath": "v1/organizations/{organizationsId}/sources/{sourcesId}/findings",
                  "httpMethod": "POST",
                  "id": "securitycenter.organizations.sources.findings.create",
                  "description": "Creates a finding. The corresponding source must exist for finding creation to succeed.",
                  "request": {
                    "$ref": "Finding"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "findingId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. Unique identifier provided by the client within the parent scope. It must be alphanumeric and less than or equal to 32 characters and greater than 0 characters in length."
                    },
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. Resource name of the new finding's parent. Its format should be \"organizations/[organization_id]/sources/[source_id]\".",
                      "pattern": "^organizations/[^/]+/sources/[^/]+$",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "group": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Filters an organization or source's findings and groups them by their specified properties. To group across all sources provide a `-` as the source id. Example: /v1/organizations/{organization_id}/sources/-/findings, /v1/folders/{folder_id}/sources/-/findings, /v1/projects/{project_id}/sources/-/findings",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. Name of the source to groupBy. Its format is \"organizations/[organization_id]/sources/[source_id]\", folders/[folder_id]/sources/[source_id], or projects/[project_id]/sources/[source_id]. To groupBy across all sources provide a source_id of `-`. For example: organizations/{organization_id}/sources/-, folders/{folder_id}/sources/-, or projects/{project_id}/sources/-",
                      "pattern": "^organizations/[^/]+/sources/[^/]+$"
                    }
                  },
                  "flatPath": "v1/organizations/{organizationsId}/sources/{sourcesId}/findings:group",
                  "request": {
                    "$ref": "GroupFindingsRequest"
                  },
                  "httpMethod": "POST",
                  "path": "v1/{+parent}/findings:group",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GroupFindingsResponse"
                  },
                  "id": "securitycenter.organizations.sources.findings.group"
                }
              },
              "resources": {
                "externalSystems": {
                  "methods": {
                    "patch": {
                      "description": "Updates external system. This is for a given finding.",
                      "flatPath": "v1/organizations/{organizationsId}/sources/{sourcesId}/findings/{findingsId}/externalSystems/{externalSystemsId}",
                      "request": {
                        "$ref": "GoogleCloudSecuritycenterV1ExternalSystem"
                      },
                      "path": "v1/{+name}",
                      "response": {
                        "$ref": "GoogleCloudSecuritycenterV1ExternalSystem"
                      },
                      "httpMethod": "PATCH",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "required": true,
                          "location": "path",
                          "description": "External System Name e.g. jira, demisto, etc. e.g.: organizations/1234/sources/5678/findings/123456/externalSystems/jira folders/1234/sources/5678/findings/123456/externalSystems/jira projects/1234/sources/5678/findings/123456/externalSystems/jira",
                          "type": "string",
                          "pattern": "^organizations/[^/]+/sources/[^/]+/findings/[^/]+/externalSystems/[^/]+$"
                        },
                        "updateMask": {
                          "description": "The FieldMask to use when updating the external system resource. If empty all mutable fields will be updated.",
                          "location": "query",
                          "format": "google-fieldmask",
                          "type": "string"
                        }
                      },
                      "id": "securitycenter.organizations.sources.findings.externalSystems.patch"
                    }
                  }
                }
              }
            }
          }
        },
        "muteConfigs": {
          "methods": {
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Empty"
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "flatPath": "v1/organizations/{organizationsId}/muteConfigs/{muteConfigsId}",
              "id": "securitycenter.organizations.muteConfigs.delete",
              "description": "Deletes an existing mute config.",
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/muteConfigs/[^/]+$",
                  "description": "Required. Name of the mute config to delete. Its format is organizations/{organization}/muteConfigs/{config_id}, folders/{folder}/muteConfigs/{config_id}, or projects/{project}/muteConfigs/{config_id}",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "httpMethod": "DELETE"
            },
            "list": {
              "httpMethod": "GET",
              "response": {
                "$ref": "ListMuteConfigsResponse"
              },
              "flatPath": "v1/organizations/{organizationsId}/muteConfigs",
              "description": "Lists mute configs.",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "A page token, received from a previous `ListMuteConfigs` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListMuteConfigs` must match the call that provided the page token.",
                  "location": "query"
                },
                "pageSize": {
                  "description": "The maximum number of configs to return. The service may return fewer than this value. If unspecified, at most 10 configs will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "parent": {
                  "pattern": "^organizations/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. The parent, which owns the collection of mute configs. Its format is \"organizations/[organization_id]\", \"folders/[folder_id]\", \"projects/[project_id]\"."
                }
              },
              "id": "securitycenter.organizations.muteConfigs.list",
              "path": "v1/{+parent}/muteConfigs",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
              },
              "path": "v1/{+parent}/muteConfigs",
              "response": {
                "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
              },
              "id": "securitycenter.organizations.muteConfigs.create",
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/organizations/{organizationsId}/muteConfigs",
              "parameters": {
                "muteConfigId": {
                  "description": "Required. Unique identifier provided by the client within the parent scope. It must consist of lower case letters, numbers, and hyphen, with the first character a letter, the last a letter or a number, and a 63 character maximum.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "type": "string",
                  "description": "Required. Resource name of the new mute configs's parent. Its format is \"organizations/[organization_id]\", \"folders/[folder_id]\", or \"projects/[project_id]\".",
                  "pattern": "^organizations/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "description": "Creates a mute config."
            },
            "patch": {
              "path": "v1/{+name}",
              "description": "Updates a mute config.",
              "id": "securitycenter.organizations.muteConfigs.patch",
              "response": {
                "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "PATCH",
              "flatPath": "v1/organizations/{organizationsId}/muteConfigs/{muteConfigsId}",
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/muteConfigs/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "This field will be ignored if provided on config creation. Format \"organizations/{organization}/muteConfigs/{mute_config}\" \"folders/{folder}/muteConfigs/{mute_config}\" \"projects/{project}/muteConfigs/{mute_config}\"",
                  "location": "path"
                },
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "The list of fields to be updated. If empty all mutable fields will be updated.",
                  "location": "query"
                }
              }
            },
            "get": {
              "response": {
                "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. Name of the mute config to retrieve. Its format is organizations/{organization}/muteConfigs/{config_id}, folders/{folder}/muteConfigs/{config_id}, or projects/{project}/muteConfigs/{config_id}",
                  "required": true,
                  "pattern": "^organizations/[^/]+/muteConfigs/[^/]+$",
                  "location": "path"
                }
              },
              "httpMethod": "GET",
              "description": "Gets a mute config.",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/organizations/{organizationsId}/muteConfigs/{muteConfigsId}",
              "id": "securitycenter.organizations.muteConfigs.get"
            }
          }
        }
      }
    },
    "folders": {
      "resources": {
        "assets": {
          "methods": {
            "updateSecurityMarks": {
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "SecurityMarks"
              },
              "description": "Updates security marks.",
              "httpMethod": "PATCH",
              "id": "securitycenter.folders.assets.updateSecurityMarks",
              "response": {
                "$ref": "SecurityMarks"
              },
              "path": "v1/{+name}",
              "parameters": {
                "updateMask": {
                  "description": "The FieldMask to use when updating the security marks resource. The field mask must not contain duplicate fields. If empty or set to \"marks\", all marks will be replaced. Individual marks can be updated using \"marks.\".",
                  "format": "google-fieldmask",
                  "type": "string",
                  "location": "query"
                },
                "name": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The relative resource name of the SecurityMarks. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Examples: \"organizations/{organization_id}/assets/{asset_id}/securityMarks\" \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}/securityMarks\".",
                  "pattern": "^folders/[^/]+/assets/[^/]+/securityMarks$"
                },
                "startTime": {
                  "format": "google-datetime",
                  "location": "query",
                  "description": "The time at which the updated SecurityMarks take effect. If not set uses current server time. Updates will be applied to the SecurityMarks that are active immediately preceding this time. Must be smaller or equal to the server time.",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/folders/{foldersId}/assets/{assetsId}/securityMarks"
            },
            "list": {
              "id": "securitycenter.folders.assets.list",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "The maximum number of results to return in a single response. Default is 10, minimum is 1, maximum is 1000."
                },
                "compareDuration": {
                  "type": "string",
                  "location": "query",
                  "format": "google-duration",
                  "description": "When compare_duration is set, the ListAssetsResult's \"state_change\" attribute is updated to indicate whether the asset was added, removed, or remained present during the compare_duration period of time that precedes the read_time. This is the time between (read_time - compare_duration) and read_time. The state_change value is derived based on the presence of the asset at the two points in time. Intermediate state changes between the two times don't affect the result. For example, the results aren't affected if the asset is removed and re-created again. Possible \"state_change\" values when compare_duration is specified: * \"ADDED\": indicates that the asset was not present at the start of compare_duration, but present at read_time. * \"REMOVED\": indicates that the asset was present at the start of compare_duration, but not present at read_time. * \"ACTIVE\": indicates that the asset was present at both the start and the end of the time period defined by compare_duration and read_time. If compare_duration is not specified, then the only possible state_change is \"UNUSED\", which will be the state_change set for all assets present at read_time."
                },
                "filter": {
                  "description": "Expression that defines the filter to apply across assets. The expression is a list of zero or more restrictions combined via logical operators `AND` and `OR`. Parentheses are supported, and `OR` has higher precedence than `AND`. Restrictions have the form ` ` and may have a `-` character in front of them to indicate negation. The fields map to those defined in the Asset resource. Examples include: * name * security_center_properties.resource_name * resource_properties.a_property * security_marks.marks.marka The supported operators are: * `=` for all value types. * `\u003e`, `\u003c`, `\u003e=`, `\u003c=` for integer values. * `:`, meaning substring matching, for strings. The supported value types are: * string literals in quotes. * integer literals without quotes. * boolean literals `true` and `false` without quotes. The following are the allowed field and operator combinations: * name: `=` * update_time: `=`, `\u003e`, `\u003c`, `\u003e=`, `\u003c=` Usage: This should be milliseconds since epoch or an RFC3339 string. Examples: `update_time = \"2019-06-10T16:07:18-07:00\"` `update_time = 1560208038000` * create_time: `=`, `\u003e`, `\u003c`, `\u003e=`, `\u003c=` Usage: This should be milliseconds since epoch or an RFC3339 string. Examples: `create_time = \"2019-06-10T16:07:18-07:00\"` `create_time = 1560208038000` * iam_policy.policy_blob: `=`, `:` * resource_properties: `=`, `:`, `\u003e`, `\u003c`, `\u003e=`, `\u003c=` * security_marks.marks: `=`, `:` * security_center_properties.resource_name: `=`, `:` * security_center_properties.resource_display_name: `=`, `:` * security_center_properties.resource_type: `=`, `:` * security_center_properties.resource_parent: `=`, `:` * security_center_properties.resource_parent_display_name: `=`, `:` * security_center_properties.resource_project: `=`, `:` * security_center_properties.resource_project_display_name: `=`, `:` * security_center_properties.resource_owners: `=`, `:` For example, `resource_properties.size = 100` is a valid filter string. Use a partial match on the empty string to filter based on a property existing: `resource_properties.my_property : \"\"` Use a negated partial match on the empty string to filter based on a property not existing: `-resource_properties.my_property : \"\"`",
                  "location": "query",
                  "type": "string"
                },
                "fieldMask": {
                  "format": "google-fieldmask",
                  "description": "A field mask to specify the ListAssetsResult fields to be listed in the response. An empty field mask will list all fields.",
                  "location": "query",
                  "type": "string"
                },
                "orderBy": {
                  "description": "Expression that defines what fields and order to use for sorting. The string value should follow SQL syntax: comma separated list of fields. For example: \"name,resource_properties.a_property\". The default sorting order is ascending. To specify descending order for a field, a suffix \" desc\" should be appended to the field name. For example: \"name desc,resource_properties.a_property\". Redundant space characters in the syntax are insignificant. \"name desc,resource_properties.a_property\" and \" name desc , resource_properties.a_property \" are equivalent. The following fields are supported: name update_time resource_properties security_marks.marks security_center_properties.resource_name security_center_properties.resource_display_name security_center_properties.resource_parent security_center_properties.resource_parent_display_name security_center_properties.resource_project security_center_properties.resource_project_display_name security_center_properties.resource_type",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "description": "Required. Name of the organization assets should belong to. Its format is \"organizations/[organization_id], folders/[folder_id], or projects/[project_id]\".",
                  "required": true,
                  "pattern": "^folders/[^/]+$",
                  "type": "string",
                  "location": "path"
                },
                "pageToken": {
                  "description": "The value returned by the last `ListAssetsResponse`; indicates that this is a continuation of a prior `ListAssets` call, and that the system should return the next page of data.",
                  "location": "query",
                  "type": "string"
                },
                "readTime": {
                  "location": "query",
                  "type": "string",
                  "format": "google-datetime",
                  "description": "Time used as a reference point when filtering assets. The filter is limited to assets existing at the supplied time and their values are those at that specific time. Absence of this field will default to the API's version of NOW."
                }
              },
              "path": "v1/{+parent}/assets",
              "description": "Lists an organization's assets.",
              "response": {
                "$ref": "ListAssetsResponse"
              },
              "flatPath": "v1/folders/{foldersId}/assets"
            },
            "group": {
              "path": "v1/{+parent}/assets:group",
              "request": {
                "$ref": "GroupAssetsRequest"
              },
              "flatPath": "v1/folders/{foldersId}/assets:group",
              "response": {
                "$ref": "GroupAssetsResponse"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. Name of the organization to groupBy. Its format is \"organizations/[organization_id], folders/[folder_id], or projects/[project_id]\".",
                  "location": "path",
                  "type": "string",
                  "pattern": "^folders/[^/]+$",
                  "required": true
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "Filters an organization's assets and groups them by their specified properties.",
              "id": "securitycenter.folders.assets.group"
            }
          }
        },
        "sources": {
          "methods": {
            "list": {
              "path": "v1/{+parent}/sources",
              "description": "Lists all sources belonging to an organization.",
              "flatPath": "v1/folders/{foldersId}/sources",
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^folders/[^/]+$",
                  "description": "Required. Resource name of the parent of sources to list. Its format should be \"organizations/[organization_id], folders/[folder_id], or projects/[project_id]\".",
                  "required": true
                },
                "pageSize": {
                  "type": "integer",
                  "description": "The maximum number of results to return in a single response. Default is 10, minimum is 1, maximum is 1000.",
                  "format": "int32",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "The value returned by the last `ListSourcesResponse`; indicates that this is a continuation of a prior `ListSources` call, and that the system should return the next page of data."
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListSourcesResponse"
              },
              "id": "securitycenter.folders.sources.list",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          },
          "resources": {
            "findings": {
              "methods": {
                "setState": {
                  "description": "Updates the state of a finding.",
                  "id": "securitycenter.folders.sources.findings.setState",
                  "flatPath": "v1/folders/{foldersId}/sources/{sourcesId}/findings/{findingsId}:setState",
                  "parameters": {
                    "name": {
                      "pattern": "^folders/[^/]+/sources/[^/]+/findings/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The relative resource name of the finding. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Example: \"organizations/{organization_id}/sources/{source_id}/finding/{finding_id}\".",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "SetFindingStateRequest"
                  },
                  "response": {
                    "$ref": "Finding"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}:setState"
                },
                "updateSecurityMarks": {
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "securitycenter.folders.sources.findings.updateSecurityMarks",
                  "path": "v1/{+name}",
                  "request": {
                    "$ref": "SecurityMarks"
                  },
                  "response": {
                    "$ref": "SecurityMarks"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "PATCH",
                  "flatPath": "v1/folders/{foldersId}/sources/{sourcesId}/findings/{findingsId}/securityMarks",
                  "parameters": {
                    "startTime": {
                      "description": "The time at which the updated SecurityMarks take effect. If not set uses current server time. Updates will be applied to the SecurityMarks that are active immediately preceding this time. Must be smaller or equal to the server time.",
                      "format": "google-datetime",
                      "location": "query",
                      "type": "string"
                    },
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string",
                      "description": "The FieldMask to use when updating the security marks resource. The field mask must not contain duplicate fields. If empty or set to \"marks\", all marks will be replaced. Individual marks can be updated using \"marks.\"."
                    },
                    "name": {
                      "location": "path",
                      "pattern": "^folders/[^/]+/sources/[^/]+/findings/[^/]+/securityMarks$",
                      "required": true,
                      "type": "string",
                      "description": "The relative resource name of the SecurityMarks. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Examples: \"organizations/{organization_id}/assets/{asset_id}/securityMarks\" \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}/securityMarks\"."
                    }
                  },
                  "description": "Updates security marks."
                },
                "setMute": {
                  "httpMethod": "POST",
                  "description": "Updates the mute state of a finding.",
                  "request": {
                    "$ref": "SetMuteRequest"
                  },
                  "path": "v1/{+name}:setMute",
                  "flatPath": "v1/folders/{foldersId}/sources/{sourcesId}/findings/{findingsId}:setMute",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "securitycenter.folders.sources.findings.setMute",
                  "parameters": {
                    "name": {
                      "pattern": "^folders/[^/]+/sources/[^/]+/findings/[^/]+$",
                      "description": "Required. The relative resource name of the finding. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Example: \"organizations/{organization_id}/sources/{source_id}/finding/{finding_id}\", \"folders/{folder_id}/sources/{source_id}/finding/{finding_id}\", \"projects/{project_id}/sources/{source_id}/finding/{finding_id}\".",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "Finding"
                  }
                },
                "patch": {
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "Finding"
                  },
                  "response": {
                    "$ref": "Finding"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Creates or updates a finding. The corresponding source must exist for a finding creation to succeed.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/folders/{foldersId}/sources/{sourcesId}/findings/{findingsId}",
                  "id": "securitycenter.folders.sources.findings.patch",
                  "path": "v1/{+name}",
                  "parameters": {
                    "updateMask": {
                      "type": "string",
                      "description": "The FieldMask to use when updating the finding resource. This field should not be specified when creating a finding. When updating a finding, an empty mask is treated as updating all mutable fields and replacing source_properties. Individual source_properties can be added/updated by using \"source_properties.\" in the field mask.",
                      "location": "query",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "location": "path",
                      "description": "The relative resource name of this finding. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Example: \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}\"",
                      "required": true,
                      "type": "string",
                      "pattern": "^folders/[^/]+/sources/[^/]+/findings/[^/]+$"
                    }
                  }
                },
                "list": {
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListFindingsResponse"
                  },
                  "flatPath": "v1/folders/{foldersId}/sources/{sourcesId}/findings",
                  "description": "Lists an organization or source's findings. To list across all sources provide a `-` as the source id. Example: /v1/organizations/{organization_id}/sources/-/findings",
                  "path": "v1/{+parent}/findings",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "securitycenter.folders.sources.findings.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "The maximum number of results to return in a single response. Default is 10, minimum is 1, maximum is 1000."
                    },
                    "fieldMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "description": "A field mask to specify the Finding fields to be listed in the response. An empty field mask will list all fields.",
                      "type": "string"
                    },
                    "readTime": {
                      "type": "string",
                      "location": "query",
                      "description": "Time used as a reference point when filtering findings. The filter is limited to findings existing at the supplied time and their values are those at that specific time. Absence of this field will default to the API's version of NOW.",
                      "format": "google-datetime"
                    },
                    "compareDuration": {
                      "type": "string",
                      "format": "google-duration",
                      "description": "When compare_duration is set, the ListFindingsResult's \"state_change\" attribute is updated to indicate whether the finding had its state changed, the finding's state remained unchanged, or if the finding was added in any state during the compare_duration period of time that precedes the read_time. This is the time between (read_time - compare_duration) and read_time. The state_change value is derived based on the presence and state of the finding at the two points in time. Intermediate state changes between the two times don't affect the result. For example, the results aren't affected if the finding is made inactive and then active again. Possible \"state_change\" values when compare_duration is specified: * \"CHANGED\": indicates that the finding was present and matched the given filter at the start of compare_duration, but changed its state at read_time. * \"UNCHANGED\": indicates that the finding was present and matched the given filter at the start of compare_duration and did not change state at read_time. * \"ADDED\": indicates that the finding did not match the given filter or was not present at the start of compare_duration, but was present at read_time. * \"REMOVED\": indicates that the finding was present and matched the filter at the start of compare_duration, but did not match the filter at read_time. If compare_duration is not specified, then the only possible state_change is \"UNUSED\", which will be the state_change set for all findings present at read_time.",
                      "location": "query"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Expression that defines the filter to apply across findings. The expression is a list of one or more restrictions combined via logical operators `AND` and `OR`. Parentheses are supported, and `OR` has higher precedence than `AND`. Restrictions have the form ` ` and may have a `-` character in front of them to indicate negation. Examples include: * name * source_properties.a_property * security_marks.marks.marka The supported operators are: * `=` for all value types. * `\u003e`, `\u003c`, `\u003e=`, `\u003c=` for integer values. * `:`, meaning substring matching, for strings. The supported value types are: * string literals in quotes. * integer literals without quotes. * boolean literals `true` and `false` without quotes. The following field and operator combinations are supported: * name: `=` * parent: `=`, `:` * resource_name: `=`, `:` * state: `=`, `:` * category: `=`, `:` * external_uri: `=`, `:` * event_time: `=`, `\u003e`, `\u003c`, `\u003e=`, `\u003c=` Usage: This should be milliseconds since epoch or an RFC3339 string. Examples: `event_time = \"2019-06-10T16:07:18-07:00\"` `event_time = 1560208038000` * severity: `=`, `:` * workflow_state: `=`, `:` * security_marks.marks: `=`, `:` * source_properties: `=`, `:`, `\u003e`, `\u003c`, `\u003e=`, `\u003c=` For example, `source_properties.size = 100` is a valid filter string. Use a partial match on the empty string to filter based on a property existing: `source_properties.my_property : \"\"` Use a negated partial match on the empty string to filter based on a property not existing: `-source_properties.my_property : \"\"` * resource: * resource.name: `=`, `:` * resource.parent_name: `=`, `:` * resource.parent_display_name: `=`, `:` * resource.project_name: `=`, `:` * resource.project_display_name: `=`, `:` * resource.type: `=`, `:` * resource.folders.resource_folder: `=`, `:` * resource.display_name: `=`, `:`",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^folders/[^/]+/sources/[^/]+$",
                      "description": "Required. Name of the source the findings belong to. Its format is \"organizations/[organization_id]/sources/[source_id], folders/[folder_id]/sources/[source_id], or projects/[project_id]/sources/[source_id]\". To list across all sources provide a source_id of `-`. For example: organizations/{organization_id}/sources/-, folders/{folder_id}/sources/- or projects/{projects_id}/sources/-",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The value returned by the last `ListFindingsResponse`; indicates that this is a continuation of a prior `ListFindings` call, and that the system should return the next page of data."
                    },
                    "orderBy": {
                      "description": "Expression that defines what fields and order to use for sorting. The string value should follow SQL syntax: comma separated list of fields. For example: \"name,resource_properties.a_property\". The default sorting order is ascending. To specify descending order for a field, a suffix \" desc\" should be appended to the field name. For example: \"name desc,source_properties.a_property\". Redundant space characters in the syntax are insignificant. \"name desc,source_properties.a_property\" and \" name desc , source_properties.a_property \" are equivalent. The following fields are supported: name parent state category resource_name event_time source_properties security_marks.marks",
                      "type": "string",
                      "location": "query"
                    }
                  }
                },
                "group": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "description": "Filters an organization or source's findings and groups them by their specified properties. To group across all sources provide a `-` as the source id. Example: /v1/organizations/{organization_id}/sources/-/findings, /v1/folders/{folder_id}/sources/-/findings, /v1/projects/{project_id}/sources/-/findings",
                  "request": {
                    "$ref": "GroupFindingsRequest"
                  },
                  "id": "securitycenter.folders.sources.findings.group",
                  "response": {
                    "$ref": "GroupFindingsResponse"
                  },
                  "path": "v1/{+parent}/findings:group",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^folders/[^/]+/sources/[^/]+$",
                      "required": true,
                      "description": "Required. Name of the source to groupBy. Its format is \"organizations/[organization_id]/sources/[source_id]\", folders/[folder_id]/sources/[source_id], or projects/[project_id]/sources/[source_id]. To groupBy across all sources provide a source_id of `-`. For example: organizations/{organization_id}/sources/-, folders/{folder_id}/sources/-, or projects/{project_id}/sources/-",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1/folders/{foldersId}/sources/{sourcesId}/findings:group"
                }
              },
              "resources": {
                "externalSystems": {
                  "methods": {
                    "patch": {
                      "description": "Updates external system. This is for a given finding.",
                      "id": "securitycenter.folders.sources.findings.externalSystems.patch",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "updateMask": {
                          "location": "query",
                          "format": "google-fieldmask",
                          "type": "string",
                          "description": "The FieldMask to use when updating the external system resource. If empty all mutable fields will be updated."
                        },
                        "name": {
                          "required": true,
                          "description": "External System Name e.g. jira, demisto, etc. e.g.: organizations/1234/sources/5678/findings/123456/externalSystems/jira folders/1234/sources/5678/findings/123456/externalSystems/jira projects/1234/sources/5678/findings/123456/externalSystems/jira",
                          "type": "string",
                          "location": "path",
                          "pattern": "^folders/[^/]+/sources/[^/]+/findings/[^/]+/externalSystems/[^/]+$"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleCloudSecuritycenterV1ExternalSystem"
                      },
                      "httpMethod": "PATCH",
                      "path": "v1/{+name}",
                      "flatPath": "v1/folders/{foldersId}/sources/{sourcesId}/findings/{findingsId}/externalSystems/{externalSystemsId}",
                      "request": {
                        "$ref": "GoogleCloudSecuritycenterV1ExternalSystem"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "findings": {
          "methods": {
            "bulkMute": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "securitycenter.folders.findings.bulkMute",
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^folders/[^/]+$",
                  "description": "Required. The parent, at which bulk action needs to be applied. Its format is \"organizations/[organization_id]\", \"folders/[folder_id]\", \"projects/[project_id]\"."
                }
              },
              "request": {
                "$ref": "BulkMuteFindingsRequest"
              },
              "description": "Kicks off an LRO to bulk mute findings for a parent based on a filter. The parent can be either an organization, folder or project. The findings matched by the filter will be muted after the LRO is done.",
              "response": {
                "$ref": "Operation"
              },
              "httpMethod": "POST",
              "path": "v1/{+parent}/findings:bulkMute",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/folders/{foldersId}/findings:bulkMute"
            }
          }
        },
        "muteConfigs": {
          "methods": {
            "patch": {
              "httpMethod": "PATCH",
              "parameters": {
                "updateMask": {
                  "location": "query",
[...]
