{
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://securitycenter.mtls.googleapis.com/",
  "name": "securitycenter",
  "parameters": {
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "description": "Data format for response.",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    }
  },
  "schemas": {
    "ListFindingsResponse": {
      "id": "ListFindingsResponse",
      "description": "Response message for listing findings.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results."
        },
        "listFindingsResults": {
          "items": {
            "$ref": "ListFindingsResult"
          },
          "description": "Findings matching the list request.",
          "type": "array"
        },
        "readTime": {
          "format": "google-datetime",
          "description": "Time used for executing the list request.",
          "type": "string"
        },
        "totalSize": {
          "description": "The total number of findings matching the query.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "Access": {
      "properties": {
        "principalEmail": {
          "description": "Associated email, such as \"foo@google.com\".",
          "type": "string"
        },
        "callerIpGeo": {
          "$ref": "Geolocation",
          "description": "The caller IP's geolocation, which identifies where the call came from."
        },
        "callerIp": {
          "type": "string",
          "description": "Caller's IP address, such as \"1.1.1.1\"."
        },
        "userAgentFamily": {
          "type": "string",
          "description": "What kind of user agent is associated, e.g. operating system shells, embedded or stand-alone applications, etc."
        },
        "serviceName": {
          "type": "string",
          "description": "This is the API service that the service account made a call to, e.g. \"iam.googleapis.com\""
        },
        "methodName": {
          "type": "string",
          "description": "The method that the service account called, e.g. \"SetIamPolicy\"."
        }
      },
      "description": "Represents an access event.",
      "type": "object",
      "id": "Access"
    },
    "SetFindingStateRequest": {
      "id": "SetFindingStateRequest",
      "description": "Request message for updating a finding's state.",
      "type": "object",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Required. The time at which the updated state takes effect."
        },
        "state": {
          "description": "Required. The desired State of the finding.",
          "enumDescriptions": [
            "Unspecified state.",
            "The finding requires attention and has not been addressed yet.",
            "The finding has been fixed, triaged as a non-issue or otherwise addressed and is no longer active."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ]
        }
      }
    },
    "GetPolicyOptions": {
      "id": "GetPolicyOptions",
      "description": "Encapsulates settings provided to GetIamPolicy.",
      "type": "object",
      "properties": {
        "requestedPolicyVersion": {
          "format": "int32",
          "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer"
        }
      }
    },
    "GoogleCloudSecuritycenterV1BigQueryExport": {
      "id": "GoogleCloudSecuritycenterV1BigQueryExport",
      "description": "Configures how to deliver Findings to BigQuery Instance.",
      "properties": {
        "principal": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The service account that needs permission to create table, upload data to the big query dataset."
        },
        "updateTime": {
          "description": "Output only. The most recent time at which the big export was updated. This field is set by the server and will be ignored if provided on export creation or update.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "filter": {
          "type": "string",
          "description": "Expression that defines the filter to apply across create/update events of findings. The expression is a list of zero or more restrictions combined via logical operators `AND` and `OR`. Parentheses are supported, and `OR` has higher precedence than `AND`. Restrictions have the form ` ` and may have a `-` character in front of them to indicate negation. The fields map to those defined in the corresponding resource. The supported operators are: * `=` for all value types. * `\u003e`, `\u003c`, `\u003e=`, `\u003c=` for integer values. * `:`, meaning substring matching, for strings. The supported value types are: * string literals in quotes. * integer literals without quotes. * boolean literals `true` and `false` without quotes."
        },
        "dataset": {
          "type": "string",
          "description": "The dataset to write findings' updates to. Its format is \"projects/[project_id]/datasets/[bigquery_dataset_id]\". BigQuery Dataset unique ID must contain only letters (a-z, A-Z), numbers (0-9), or underscores (_)."
        },
        "description": {
          "type": "string",
          "description": "The description of the export (max of 1024 characters)."
        },
        "createTime": {
          "description": "Output only. The time at which the big query export was created. This field is set by the server and will be ignored if provided on export on creation.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "mostRecentEditor": {
          "description": "Output only. Email address of the user who last edited the big query export. This field is set by the server and will be ignored if provided on export creation or update.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "The relative resource name of this export. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name. Example format: \"organizations/{organization_id}/bigQueryExports/{export_id}\" Example format: \"folders/{folder_id}/bigQueryExports/{export_id}\" Example format: \"projects/{project_id}/bigQueryExports/{export_id}\" This field is provided in responses, and is ignored when provided in create requests.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Connection": {
      "type": "object",
      "description": "Contains information about the IP connection associated with the finding.",
      "properties": {
        "sourceIp": {
          "type": "string",
          "description": "Source IP address."
        },
        "destinationIp": {
          "type": "string",
          "description": "Destination IP address. Not present for sockets that are listening and not connected."
        },
        "sourcePort": {
          "description": "Source port.",
          "type": "integer",
          "format": "int32"
        },
        "destinationPort": {
          "description": "Destination port. Not present for sockets that are listening and not connected.",
          "format": "int32",
          "type": "integer"
        },
        "protocol": {
          "enum": [
            "PROTOCOL_UNSPECIFIED",
            "ICMP",
            "TCP",
            "UDP",
            "GRE",
            "ESP"
          ],
          "type": "string",
          "description": "IANA Internet Protocol Number such as TCP(6) and UDP(17).",
          "enumDescriptions": [
            "Unspecified protocol (not HOPOPT).",
            "Internet Control Message Protocol.",
            "Transmission Control Protocol.",
            "User Datagram Protocol.",
            "Generic Routing Encapsulation.",
            "Encap Security Payload."
          ]
        }
      },
      "id": "Connection"
    },
    "IamPolicy": {
      "properties": {
        "policyBlob": {
          "type": "string",
          "description": "The JSON representation of the Policy associated with the asset. See https://cloud.google.com/iam/reference/rest/v1/Policy for format details."
        }
      },
      "type": "object",
      "description": "Cloud IAM Policy information associated with the Google Cloud resource described by the Security Command Center asset. This information is managed and defined by the Google Cloud resource and cannot be modified by the user.",
      "id": "IamPolicy"
    },
    "GroupAssetsRequest": {
      "properties": {
        "pageToken": {
          "type": "string",
          "description": "The value returned by the last `GroupAssetsResponse`; indicates that this is a continuation of a prior `GroupAssets` call, and that the system should return the next page of data."
        },
        "compareDuration": {
          "description": "When compare_duration is set, the GroupResult's \"state_change\" property is updated to indicate whether the asset was added, removed, or remained present during the compare_duration period of time that precedes the read_time. This is the time between (read_time - compare_duration) and read_time. The state change value is derived based on the presence of the asset at the two points in time. Intermediate state changes between the two times don't affect the result. For example, the results aren't affected if the asset is removed and re-created again. Possible \"state_change\" values when compare_duration is specified: * \"ADDED\": indicates that the asset was not present at the start of compare_duration, but present at reference_time. * \"REMOVED\": indicates that the asset was present at the start of compare_duration, but not present at reference_time. * \"ACTIVE\": indicates that the asset was present at both the start and the end of the time period defined by compare_duration and reference_time. If compare_duration is not specified, then the only possible state_change is \"UNUSED\", which will be the state_change set for all assets present at read_time. If this field is set then `state_change` must be a specified field in `group_by`.",
          "format": "google-duration",
          "type": "string"
        },
        "filter": {
          "description": "Expression that defines the filter to apply across assets. The expression is a list of zero or more restrictions combined via logical operators `AND` and `OR`. Parentheses are supported, and `OR` has higher precedence than `AND`. Restrictions have the form ` ` and may have a `-` character in front of them to indicate negation. The fields map to those defined in the Asset resource. Examples include: * name * security_center_properties.resource_name * resource_properties.a_property * security_marks.marks.marka The supported operators are: * `=` for all value types. * `\u003e`, `\u003c`, `\u003e=`, `\u003c=` for integer values. * `:`, meaning substring matching, for strings. The supported value types are: * string literals in quotes. * integer literals without quotes. * boolean literals `true` and `false` without quotes. The following field and operator combinations are supported: * name: `=` * update_time: `=`, `\u003e`, `\u003c`, `\u003e=`, `\u003c=` Usage: This should be milliseconds since epoch or an RFC3339 string. Examples: `update_time = \"2019-06-10T16:07:18-07:00\"` `update_time = 1560208038000` * create_time: `=`, `\u003e`, `\u003c`, `\u003e=`, `\u003c=` Usage: This should be milliseconds since epoch or an RFC3339 string. Examples: `create_time = \"2019-06-10T16:07:18-07:00\"` `create_time = 1560208038000` * iam_policy.policy_blob: `=`, `:` * resource_properties: `=`, `:`, `\u003e`, `\u003c`, `\u003e=`, `\u003c=` * security_marks.marks: `=`, `:` * security_center_properties.resource_name: `=`, `:` * security_center_properties.resource_display_name: `=`, `:` * security_center_properties.resource_type: `=`, `:` * security_center_properties.resource_parent: `=`, `:` * security_center_properties.resource_parent_display_name: `=`, `:` * security_center_properties.resource_project: `=`, `:` * security_center_properties.resource_project_display_name: `=`, `:` * security_center_properties.resource_owners: `=`, `:` For example, `resource_properties.size = 100` is a valid filter string. Use a partial match on the empty string to filter based on a property existing: `resource_properties.my_property : \"\"` Use a negated partial match on the empty string to filter based on a property not existing: `-resource_properties.my_property : \"\"`",
          "type": "string"
        },
        "pageSize": {
          "type": "integer",
          "description": "The maximum number of results to return in a single response. Default is 10, minimum is 1, maximum is 1000.",
          "format": "int32"
        },
        "groupBy": {
          "type": "string",
          "description": "Required. Expression that defines what assets fields to use for grouping. The string value should follow SQL syntax: comma separated list of fields. For example: \"security_center_properties.resource_project,security_center_properties.project\". The following fields are supported when compare_duration is not set: * security_center_properties.resource_project * security_center_properties.resource_project_display_name * security_center_properties.resource_type * security_center_properties.resource_parent * security_center_properties.resource_parent_display_name The following fields are supported when compare_duration is set: * security_center_properties.resource_type * security_center_properties.resource_project_display_name * security_center_properties.resource_parent_display_name"
        },
        "readTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time used as a reference point when filtering assets. The filter is limited to assets existing at the supplied time and their values are those at that specific time. Absence of this field will default to the API's version of NOW."
        }
      },
      "type": "object",
      "id": "GroupAssetsRequest",
      "description": "Request message for grouping by assets."
    },
    "GoogleCloudSecuritycenterV1p1beta1Folder": {
      "properties": {
        "resourceFolder": {
          "description": "Full resource name of this folder. See: https://cloud.google.com/apis/design/resource_names#full_resource_name",
          "type": "string"
        },
        "resourceFolderDisplayName": {
          "type": "string",
          "description": "The user defined display name for this folder."
        }
      },
      "description": "Message that contains the resource name and display name of a folder resource.",
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1p1beta1Folder"
    },
    "SetMuteRequest": {
      "id": "SetMuteRequest",
      "type": "object",
      "description": "Request message for updating a finding's mute status.",
      "properties": {
        "mute": {
          "description": "Required. The desired state of the Mute.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Finding has been muted.",
            "Finding has been unmuted.",
            "Finding has never been muted/unmuted."
          ],
          "enum": [
            "MUTE_UNSPECIFIED",
            "MUTED",
            "UNMUTED",
            "UNDEFINED"
          ]
        }
      }
    },
    "ListMuteConfigsResponse": {
      "type": "object",
      "id": "ListMuteConfigsResponse",
      "description": "Response message for listing mute configs.",
      "properties": {
        "muteConfigs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1MuteConfig"
          },
          "description": "The mute configs from the specified parent."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "Expr": {
      "properties": {
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        },
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        }
      },
      "id": "Expr",
      "type": "object",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
    },
    "GoogleCloudSecuritycenterV1ExternalSystem": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1ExternalSystem",
      "description": "Representation of third party SIEM/SOAR fields within SCC.",
      "properties": {
        "assignees": {
          "type": "array",
          "description": "References primary/secondary etc assignees in the external system.",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "External System Name e.g. jira, demisto, etc. e.g.: `organizations/1234/sources/5678/findings/123456/externalSystems/jira` `folders/1234/sources/5678/findings/123456/externalSystems/jira` `projects/1234/sources/5678/findings/123456/externalSystems/jira`"
        },
        "status": {
          "type": "string",
          "description": "Most recent status of the corresponding finding's ticket/tracker in the external system."
        },
        "externalSystemUpdateTime": {
          "format": "google-datetime",
          "description": "The most recent time when the corresponding finding's ticket/tracker was updated in the external system.",
          "type": "string"
        },
        "externalUid": {
          "description": "Identifier that's used to track the given finding in the external system.",
          "type": "string"
        }
      }
    },
    "GroupFindingsRequest": {
      "properties": {
        "groupBy": {
          "description": "Required. Expression that defines what assets fields to use for grouping (including `state_change`). The string value should follow SQL syntax: comma separated list of fields. For example: \"parent,resource_name\". The following fields are supported: * resource_name * category * state * parent * severity The following fields are supported when compare_duration is set: * state_change",
          "type": "string"
        },
        "compareDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "When compare_duration is set, the GroupResult's \"state_change\" attribute is updated to indicate whether the finding had its state changed, the finding's state remained unchanged, or if the finding was added during the compare_duration period of time that precedes the read_time. This is the time between (read_time - compare_duration) and read_time. The state_change value is derived based on the presence and state of the finding at the two points in time. Intermediate state changes between the two times don't affect the result. For example, the results aren't affected if the finding is made inactive and then active again. Possible \"state_change\" values when compare_duration is specified: * \"CHANGED\": indicates that the finding was present and matched the given filter at the start of compare_duration, but changed its state at read_time. * \"UNCHANGED\": indicates that the finding was present and matched the given filter at the start of compare_duration and did not change state at read_time. * \"ADDED\": indicates that the finding did not match the given filter or was not present at the start of compare_duration, but was present at read_time. * \"REMOVED\": indicates that the finding was present and matched the filter at the start of compare_duration, but did not match the filter at read_time. If compare_duration is not specified, then the only possible state_change is \"UNUSED\", which will be the state_change set for all findings present at read_time. If this field is set then `state_change` must be a specified field in `group_by`."
        },
        "readTime": {
          "format": "google-datetime",
          "description": "Time used as a reference point when filtering findings. The filter is limited to findings existing at the supplied time and their values are those at that specific time. Absence of this field will default to the API's version of NOW.",
          "type": "string"
        },
        "filter": {
          "type": "string",
          "description": "Expression that defines the filter to apply across findings. The expression is a list of one or more restrictions combined via logical operators `AND` and `OR`. Parentheses are supported, and `OR` has higher precedence than `AND`. Restrictions have the form ` ` and may have a `-` character in front of them to indicate negation. Examples include: * name * source_properties.a_property * security_marks.marks.marka The supported operators are: * `=` for all value types. * `\u003e`, `\u003c`, `\u003e=`, `\u003c=` for integer values. * `:`, meaning substring matching, for strings. The supported value types are: * string literals in quotes. * integer literals without quotes. * boolean literals `true` and `false` without quotes. The following field and operator combinations are supported: * name: `=` * parent: `=`, `:` * resource_name: `=`, `:` * state: `=`, `:` * category: `=`, `:` * external_uri: `=`, `:` * event_time: `=`, `\u003e`, `\u003c`, `\u003e=`, `\u003c=` Usage: This should be milliseconds since epoch or an RFC3339 string. Examples: `event_time = \"2019-06-10T16:07:18-07:00\"` `event_time = 1560208038000` * severity: `=`, `:` * workflow_state: `=`, `:` * security_marks.marks: `=`, `:` * source_properties: `=`, `:`, `\u003e`, `\u003c`, `\u003e=`, `\u003c=` For example, `source_properties.size = 100` is a valid filter string. Use a partial match on the empty string to filter based on a property existing: `source_properties.my_property : \"\"` Use a negated partial match on the empty string to filter based on a property not existing: `-source_properties.my_property : \"\"` * resource: * resource.name: `=`, `:` * resource.parent_name: `=`, `:` * resource.parent_display_name: `=`, `:` * resource.project_name: `=`, `:` * resource.project_display_name: `=`, `:` * resource.type: `=`, `:`"
        },
        "pageToken": {
          "type": "string",
          "description": "The value returned by the last `GroupFindingsResponse`; indicates that this is a continuation of a prior `GroupFindings` call, and that the system should return the next page of data."
        },
        "pageSize": {
          "description": "The maximum number of results to return in a single response. Default is 10, minimum is 1, maximum is 1000.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Request message for grouping by findings.",
      "id": "GroupFindingsRequest",
      "type": "object"
    },
    "Binding": {
      "description": "Associates `members`, or principals, with a `role`.",
      "type": "object",
      "properties": {
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`.",
          "type": "string"
        },
        "condition": {
          "$ref": "Expr",
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "members": {
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. ",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "Binding"
    },
    "GroupFindingsResponse": {
      "id": "GroupFindingsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results."
        },
        "totalSize": {
          "type": "integer",
          "description": "The total number of results matching the query.",
          "format": "int32"
        },
        "groupByResults": {
          "description": "Group results. There exists an element for each existing unique combination of property/values. The element contains a count for the number of times those specific property/values appear.",
          "type": "array",
          "items": {
            "$ref": "GroupResult"
          }
        },
        "readTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time used for executing the groupBy request."
        }
      },
      "description": "Response message for group by findings.",
      "type": "object"
    },
    "Finding": {
      "properties": {
        "resourceName": {
          "description": "For findings on Google Cloud resources, the full resource name of the Google Cloud resource this finding is for. See: https://cloud.google.com/apis/design/resource_names#full_resource_name When the finding is for a non-Google Cloud resource, the resourceName can be a customer or partner defined string. This field is immutable after creation time.",
          "type": "string"
        },
        "indicator": {
          "description": "Represents what's commonly known as an Indicator of compromise (IoC) in computer forensics. This is an artifact observed on a network or in an operating system that, with high confidence, indicates a computer intrusion. Reference: https://en.wikipedia.org/wiki/Indicator_of_compromise",
          "$ref": "Indicator"
        },
        "mitreAttack": {
          "description": "MITRE ATT&CK tactics and techniques related to this finding. See: https://attack.mitre.org",
          "$ref": "MitreAttack"
        },
        "mute": {
          "enum": [
            "MUTE_UNSPECIFIED",
            "MUTED",
            "UNMUTED",
            "UNDEFINED"
          ],
          "type": "string",
          "description": "Indicates the mute state of a finding (either muted, unmuted or undefined). Unlike other attributes of a finding, a finding provider shouldn't set the value of mute.",
          "enumDescriptions": [
            "Unspecified.",
            "Finding has been muted.",
            "Finding has been unmuted.",
            "Finding has never been muted/unmuted."
          ]
        },
        "findingClass": {
          "enum": [
            "FINDING_CLASS_UNSPECIFIED",
            "THREAT",
            "VULNERABILITY",
            "MISCONFIGURATION",
            "OBSERVATION",
            "SCC_ERROR"
          ],
          "description": "The class of the finding.",
          "enumDescriptions": [
            "Unspecified finding class.",
            "Describes unwanted or malicious activity.",
            "Describes a potential weakness in software that increases risk to Confidentiality & Integrity & Availability.",
            "Describes a potential weakness in cloud resource/asset configuration that increases risk.",
            "Describes a security observation that is for informational purposes.",
            "Describes an error that prevents some SCC functionality."
          ],
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which the finding was created in Security Command Center."
        },
        "canonicalName": {
          "description": "The canonical name of the finding. It's either \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}\", \"folders/{folder_id}/sources/{source_id}/findings/{finding_id}\" or \"projects/{project_number}/sources/{source_id}/findings/{finding_id}\", depending on the closest CRM ancestor of the resource associated with the finding.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified state.",
            "The finding requires attention and has not been addressed yet.",
            "The finding has been fixed, triaged as a non-issue or otherwise addressed and is no longer active."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "description": "The state of the finding."
        },
        "iamBindings": {
          "type": "array",
          "description": "Represents IAM bindings associated with the Finding.",
          "items": {
            "$ref": "IamBinding"
          }
        },
        "externalUri": {
          "description": "The URI that, if available, points to a web page outside of Security Command Center where additional information about the finding can be found. This field is guaranteed to be either empty or a well formed URL.",
          "type": "string"
        },
        "connections": {
          "items": {
            "$ref": "Connection"
          },
          "type": "array",
          "description": "Contains information about the IP connection associated with the finding."
        },
        "nextSteps": {
          "description": "Next steps associate to the finding.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Contains more detail about the finding."
        },
        "securityMarks": {
          "description": "Output only. User specified security marks. These marks are entirely managed by the user and come from the SecurityMarks resource that belongs to the finding.",
          "$ref": "SecurityMarks",
          "readOnly": true
        },
        "sourceProperties": {
          "type": "object",
          "description": "Source specific properties. These properties are managed by the source that writes the finding. The key names in the source_properties map must be between 1 and 255 characters, and must start with a letter and contain alphanumeric characters or underscores only.",
          "additionalProperties": {
            "type": "any"
          }
        },
        "category": {
          "description": "The additional taxonomy group within findings from a given source. This field is immutable after creation time. Example: \"XSS_FLASH_INJECTION\"",
          "type": "string"
        },
        "eventTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time the finding was first detected. If an existing finding is updated, then this is the time the update occurred. For example, if the finding represents an open firewall, this property captures the time the detector believes the firewall became open. The accuracy is determined by the detector. If the finding is later resolved, then this time reflects when the finding was resolved. This must not be set to a value greater than the current timestamp."
        },
        "parent": {
          "description": "The relative resource name of the source the finding belongs to. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name This field is immutable after creation time. For example: \"organizations/{organization_id}/sources/{source_id}\"",
          "type": "string"
        },
        "name": {
          "description": "The relative resource name of this finding. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Example: \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}\"",
          "type": "string"
        },
        "severity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "description": "The severity of the finding. This field is managed by the source that writes the finding.",
          "enumDescriptions": [
            "This value is used for findings when a source doesn't write a severity value.",
            "Vulnerability: A critical vulnerability is easily discoverable by an external actor, exploitable, and results in the direct ability to execute arbitrary code, exfiltrate data, and otherwise gain additional access and privileges to cloud resources and workloads. Examples include publicly accessible unprotected user data, public SSH access with weak or no passwords, etc. Threat: Indicates a threat that is able to access, modify, or delete data or execute unauthorized code within existing resources.",
            "Vulnerability: A high risk vulnerability can be easily discovered and exploited in combination with other vulnerabilities in order to gain direct access and the ability to execute arbitrary code, exfiltrate data, and otherwise gain additional access and privileges to cloud resources and workloads. An example is a database with weak or no passwords that is only accessible internally. This database could easily be compromised by an actor that had access to the internal network. Threat: Indicates a threat that is able to create new computational resources in an environment but not able to access data or execute code in existing resources.",
            "Vulnerability: A medium risk vulnerability could be used by an actor to gain access to resources or privileges that enable them to eventually (through multiple steps or a complex exploit) gain access and the ability to execute arbitrary code or exfiltrate data. An example is a service account with access to more projects than it should have. If an actor gains access to the service account, they could potentially use that access to manipulate a project the service account was not intended to. Threat: Indicates a threat that is able to cause operational impact but may not access data or execute unauthorized code.",
            "Vulnerability: A low risk vulnerability hampers a security organization's ability to detect vulnerabilities or active threats in their deployment, or prevents the root cause investigation of security issues. An example is monitoring and logs being disabled for resource configurations and access. Threat: Indicates a threat that has obtained minimal access to an environment but is not able to access data, execute code, or create resources."
          ],
          "type": "string"
        },
        "vulnerability": {
          "$ref": "Vulnerability",
          "description": "Represents vulnerability specific fields like cve, cvss scores etc. CVE stands for Common Vulnerabilities and Exposures (https://cve.mitre.org/about/)"
        },
        "externalSystems": {
          "type": "object",
          "description": "Output only. Third party SIEM/SOAR fields within SCC, contains external system information and external system finding fields.",
          "readOnly": true,
          "additionalProperties": {
            "$ref": "GoogleCloudSecuritycenterV1ExternalSystem"
          }
        },
        "access": {
          "description": "Access details associated to the Finding, such as more information on the caller, which method was accessed, from where, etc.",
          "$ref": "Access"
        },
        "muteInitiator": {
          "type": "string",
          "description": "First known as mute_annotation. Records additional information about the mute operation e.g. mute config that muted the finding, user who muted the finding, etc. Unlike other attributes of a finding, a finding provider shouldn't set the value of mute."
        },
        "muteUpdateTime": {
          "description": "Output only. The most recent time this finding was muted or unmuted.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Security Command Center finding. A finding is a record of assessment data like security, risk, health, or privacy, that is ingested into Security Command Center for presentation, notification, analysis, policy testing, and enforcement. For example, a cross-site scripting (XSS) vulnerability in an App Engine application is a finding.",
      "id": "Finding"
    },
    "ListFindingsResult": {
      "id": "ListFindingsResult",
      "type": "object",
      "properties": {
        "stateChange": {
          "enum": [
            "UNUSED",
            "CHANGED",
            "UNCHANGED",
            "ADDED",
            "REMOVED"
          ],
          "type": "string",
          "enumDescriptions": [
            "State change is unused, this is the canonical default for this enum.",
            "The finding has changed state in some way between the points in time and existed at both points.",
            "The finding has not changed state between the points in time and existed at both points.",
            "The finding was created between the points in time.",
            "The finding at timestamp does not match the filter specified, but it did at timestamp - compare_duration."
          ],
          "description": "State change of the finding between the points in time."
        },
        "finding": {
          "description": "Finding matching the search request.",
          "$ref": "Finding"
        },
        "resource": {
          "readOnly": true,
          "description": "Output only. Resource that is associated with this finding.",
          "$ref": "Resource"
        }
      },
      "description": "Result containing the Finding and its StateChange."
    },
    "SetIamPolicyRequest": {
      "description": "Request message for `SetIamPolicy` method.",
      "id": "SetIamPolicyRequest",
      "properties": {
        "updateMask": {
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "type": "string",
          "format": "google-fieldmask"
        },
        "policy": {
          "$ref": "Policy",
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
        }
      },
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1p1beta1Resource": {
      "id": "GoogleCloudSecuritycenterV1p1beta1Resource",
      "type": "object",
      "description": "Information related to the Google Cloud resource.",
      "properties": {
        "name": {
          "description": "The full resource name of the resource. See: https://cloud.google.com/apis/design/resource_names#full_resource_name",
          "type": "string"
        },
        "projectDisplayName": {
          "type": "string",
          "description": "The project id that the resource belongs to."
        },
        "parentDisplayName": {
          "description": "The human readable name of resource's parent.",
          "type": "string"
        },
        "project": {
          "type": "string",
          "description": "The full resource name of project that the resource belongs to."
        },
        "parent": {
          "description": "The full resource name of resource's parent.",
          "type": "string"
        },
        "folders": {
          "description": "Output only. Contains a Folder message for each folder in the assets ancestry. The first folder is the deepest nested folder, and the last folder is the folder directly under the Organization.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1p1beta1Folder"
          }
        }
      }
    },
    "TestIamPermissionsRequest": {
      "id": "TestIamPermissionsRequest",
      "type": "object",
      "description": "Request message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudSecuritycenterV1p1beta1Finding": {
      "id": "GoogleCloudSecuritycenterV1p1beta1Finding",
      "properties": {
        "externalUri": {
          "type": "string",
          "description": "The URI that, if available, points to a web page outside of Security Command Center where additional information about the finding can be found. This field is guaranteed to be either empty or a well formed URL."
        },
        "category": {
          "description": "The additional taxonomy group within findings from a given source. This field is immutable after creation time. Example: \"XSS_FLASH_INJECTION\"",
          "type": "string"
        },
        "resourceName": {
          "type": "string",
          "description": "For findings on Google Cloud resources, the full resource name of the Google Cloud resource this finding is for. See: https://cloud.google.com/apis/design/resource_names#full_resource_name When the finding is for a non-Google Cloud resource, the resourceName can be a customer or partner defined string. This field is immutable after creation time."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which the finding was created in Security Command Center."
        },
        "name": {
          "type": "string",
          "description": "The relative resource name of this finding. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Example: \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}\""
        },
        "eventTime": {
          "description": "The time at which the event took place, or when an update to the finding occurred. For example, if the finding represents an open firewall it would capture the time the detector believes the firewall became open. The accuracy is determined by the detector. If the finding were to be resolved afterward, this time would reflect when the finding was resolved. Must not be set to a value greater than the current timestamp.",
          "type": "string",
          "format": "google-datetime"
        },
        "canonicalName": {
          "type": "string",
          "description": "The canonical name of the finding. It's either \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}\", \"folders/{folder_id}/sources/{source_id}/findings/{finding_id}\" or \"projects/{project_number}/sources/{source_id}/findings/{finding_id}\", depending on the closest CRM ancestor of the resource associated with the finding."
        },
        "parent": {
          "description": "The relative resource name of the source the finding belongs to. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name This field is immutable after creation time. For example: \"organizations/{organization_id}/sources/{source_id}\"",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Unspecified state.",
            "The finding requires attention and has not been addressed yet.",
            "The finding has been fixed, triaged as a non-issue or otherwise addressed and is no longer active."
          ],
          "description": "The state of the finding.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "type": "string"
        },
        "securityMarks": {
          "readOnly": true,
          "description": "Output only. User specified security marks. These marks are entirely managed by the user and come from the SecurityMarks resource that belongs to the finding.",
          "$ref": "GoogleCloudSecuritycenterV1p1beta1SecurityMarks"
        },
        "severity": {
          "description": "The severity of the finding. This field is managed by the source that writes the finding.",
          "enumDescriptions": [
            "No severity specified. The default value.",
            "Critical severity.",
            "High severity.",
            "Medium severity.",
            "Low severity."
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "type": "string"
        },
        "sourceProperties": {
          "description": "Source specific properties. These properties are managed by the source that writes the finding. The key names in the source_properties map must be between 1 and 255 characters, and must start with a letter and contain alphanumeric characters or underscores only.",
          "type": "object",
          "additionalProperties": {
            "type": "any"
          }
        }
      },
      "type": "object",
      "description": "Security Command Center finding. A finding is a record of assessment data (security, risk, health or privacy) ingested into Security Command Center for presentation, notification, analysis, policy testing, and enforcement. For example, an XSS vulnerability in an App Engine application is a finding."
    },
    "GoogleCloudSecuritycenterV1MuteConfig": {
      "description": "A mute config is a Cloud SCC resource that contains the configuration to mute create/update events of findings.",
      "id": "GoogleCloudSecuritycenterV1MuteConfig",
      "type": "object",
      "properties": {
        "filter": {
          "description": "Required. An expression that defines the filter to apply across create/update events of findings. While creating a filter string, be mindful of the scope in which the mute configuration is being created. E.g., If a filter contains project = X but is created under the project = Y scope, it might not match any findings. The following field and operator combinations are supported: * severity: `=`, `:` * category: `=`, `:` * resource.name: `=`, `:` * resource.project_name: `=`, `:` * resource.project_display_name: `=`, `:` * resource.folders.resource_folder: `=`, `:` * resource.parent_name: `=`, `:` * resource.parent_display_name: `=`, `:` * resource.type: `=`, `:` * finding_class: `=`, `:` * indicator.ip_addresses: `=`, `:` * indicator.domains: `=`, `:`",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time at which the mute config was created. This field is set by the server and will be ignored if provided on config creation.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "displayName": {
          "description": "The human readable name to be displayed for the mute config.",
          "type": "string"
        },
        "name": {
          "description": "This field will be ignored if provided on config creation. Format \"organizations/{organization}/muteConfigs/{mute_config}\" \"folders/{folder}/muteConfigs/{mute_config}\" \"projects/{project}/muteConfigs/{mute_config}\"",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The most recent time at which the mute config was updated. This field is set by the server and will be ignored if provided on config creation or update.",
          "format": "google-datetime",
          "readOnly": true
        },
        "mostRecentEditor": {
          "description": "Output only. Email address of the user who last edited the mute config. This field is set by the server and will be ignored if provided on config creation or update.",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "A description of the mute config."
        }
      }
    },
    "Status": {
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          }
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      }
    },
    "Asset": {
      "type": "object",
      "properties": {
        "securityCenterProperties": {
          "$ref": "SecurityCenterProperties",
          "description": "Security Command Center managed properties. These properties are managed by Security Command Center and cannot be modified by the user."
        },
        "createTime": {
          "description": "The time at which the asset was created in Security Command Center.",
          "type": "string",
          "format": "google-datetime"
        },
        "resourceProperties": {
          "type": "object",
          "additionalProperties": {
            "type": "any"
          },
          "description": "Resource managed properties. These properties are managed and defined by the Google Cloud resource and cannot be modified by the user."
        },
        "name": {
          "type": "string",
          "description": "The relative resource name of this asset. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Example: \"organizations/{organization_id}/assets/{asset_id}\"."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time at which the asset was last updated or added in Cloud SCC."
        },
        "securityMarks": {
          "description": "User specified security marks. These marks are entirely managed by the user and come from the SecurityMarks resource that belongs to the asset.",
          "$ref": "SecurityMarks"
        },
        "iamPolicy": {
          "description": "Cloud IAM Policy information associated with the Google Cloud resource described by the Security Command Center asset. This information is managed and defined by the Google Cloud resource and cannot be modified by the user.",
          "$ref": "IamPolicy"
        },
        "canonicalName": {
          "type": "string",
          "description": "The canonical name of the resource. It's either \"organizations/{organization_id}/assets/{asset_id}\", \"folders/{folder_id}/assets/{asset_id}\" or \"projects/{project_number}/assets/{asset_id}\", depending on the closest CRM ancestor of the resource."
        }
      },
      "description": "Security Command Center representation of a Google Cloud resource. The Asset is a Security Command Center resource that captures information about a single Google Cloud resource. All modifications to an Asset are only within the context of Security Command Center and don't affect the referenced Google Cloud resource.",
      "id": "Asset"
    },
    "StreamingConfig": {
      "properties": {
        "filter": {
          "description": "Expression that defines the filter to apply across create/update events of assets or findings as specified by the event type. The expression is a list of zero or more restrictions combined via logical operators `AND` and `OR`. Parentheses are supported, and `OR` has higher precedence than `AND`. Restrictions have the form ` ` and may have a `-` character in front of them to indicate negation. The fields map to those defined in the corresponding resource. The supported operators are: * `=` for all value types. * `\u003e`, `\u003c`, `\u003e=`, `\u003c=` for integer values. * `:`, meaning substring matching, for strings. The supported value types are: * string literals in quotes. * integer literals without quotes. * boolean literals `true` and `false` without quotes.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "StreamingConfig",
      "description": "The config for streaming-based notifications, which send each event as soon as it is detected."
    },
    "Policy": {
      "type": "object",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } **YAML example:** bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "id": "Policy",
      "properties": {
        "bindings": {
          "items": {
            "$ref": "Binding"
          },
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "type": "array"
        },
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32",
          "type": "integer"
        },
        "auditConfigs": {
          "description": "Specifies cloud audit logging configuration for this policy.",
          "type": "array",
          "items": {
            "$ref": "AuditConfig"
          }
        },
        "etag": {
          "type": "string",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "format": "byte"
        }
      }
    },
    "BulkMuteFindingsRequest": {
      "id": "BulkMuteFindingsRequest",
      "properties": {
        "muteAnnotation": {
          "description": "This can be a mute configuration name or any identifier for mute/unmute of findings based on the filter.",
          "type": "string"
        },
        "filter": {
          "description": "Expression that identifies findings that should be updated. The expression is a list of zero or more restrictions combined via logical operators `AND` and `OR`. Parentheses are supported, and `OR` has higher precedence than `AND`. Restrictions have the form ` ` and may have a `-` character in front of them to indicate negation. The fields map to those defined in the corresponding resource. The supported operators are: * `=` for all value types. * `\u003e`, `\u003c`, `\u003e=`, `\u003c=` for integer values. * `:`, meaning substring matching, for strings. The supported value types are: * string literals in quotes. * integer literals without quotes. * boolean literals `true` and `false` without quotes.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request message for bulk findings update. Note: 1. If multiple bulk update requests match the same resource, the order in which they get executed is not defined. 2. Once a bulk operation is started, there is no way to stop it."
    },
    "GoogleCloudSecuritycenterV1Resource": {
      "type": "object",
      "properties": {
        "parent": {
          "description": "The full resource name of resource's parent.",
          "type": "string"
        },
        "project": {
          "description": "The full resource name of project that the resource belongs to.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The human readable name of the resource."
        },
        "parentDisplayName": {
          "description": "The human readable name of resource's parent.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "The full resource type of the resource."
        },
        "name": {
          "description": "The full resource name of the resource. See: https://cloud.google.com/apis/design/resource_names#full_resource_name",
          "type": "string"
        },
        "projectDisplayName": {
          "type": "string",
          "description": "The project ID that the resource belongs to."
        },
        "folders": {
          "items": {
            "$ref": "Folder"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. Contains a Folder message for each folder in the assets ancestry. The first folder is the deepest nested folder, and the last folder is the folder directly under the Organization."
        }
      },
      "id": "GoogleCloudSecuritycenterV1Resource",
      "description": "Information related to the Google Cloud resource."
    },
    "Vulnerability": {
      "description": "Refers to common vulnerability fields e.g. cve, cvss, cwe etc.",
      "properties": {
        "cve": {
          "$ref": "Cve",
          "description": "CVE stands for Common Vulnerabilities and Exposures (https://cve.mitre.org/about/)"
        }
      },
      "type": "object",
      "id": "Vulnerability"
    },
    "Cvssv3": {
      "type": "object",
      "properties": {
        "attackComplexity": {
          "enum": [
            "ATTACK_COMPLEXITY_UNSPECIFIED",
            "ATTACK_COMPLEXITY_LOW",
            "ATTACK_COMPLEXITY_HIGH"
          ],
          "enumDescriptions": [
            "Invalid value.",
            "Specialized access conditions or extenuating circumstances do not exist. An attacker can expect repeatable success when attacking the vulnerable component.",
            "A successful attack depends on conditions beyond the attacker's control. That is, a successful attack cannot be accomplished at will, but requires the attacker to invest in some measurable amount of effort in preparation or execution against the vulnerable component before a successful attack can be expected."
          ],
          "type": "string",
          "description": "This metric describes the conditions beyond the attacker's control that must exist in order to exploit the vulnerability."
        },
        "confidentialityImpact": {
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ],
          "enumDescriptions": [
            "Invalid value.",
            "High impact.",
            "Low impact.",
            "No impact."
          ],
          "description": "This metric measures the impact to the confidentiality of the information resources managed by a software component due to a successfully exploited vulnerability.",
          "type": "string"
        },
        "availabilityImpact": {
          "description": "This metric measures the impact to the availability of the impacted component resulting from a successfully exploited vulnerability.",
          "enumDescriptions": [
            "Invalid value.",
            "High impact.",
            "Low impact.",
            "No impact."
          ],
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ],
          "type": "string"
        },
        "baseScore": {
          "type": "number",
          "description": "The base score is a function of the base metric scores.",
          "format": "double"
        },
        "scope": {
          "description": "The Scope metric captures whether a vulnerability in one vulnerable component impacts resources in components beyond its security scope.",
          "enumDescriptions": [
            "Invalid value.",
            "An exploited vulnerability can only affect resources managed by the same security authority.",
            "An exploited vulnerability can affect resources beyond the security scope managed by the security authority of the vulnerable component."
          ],
          "enum": [
            "SCOPE_UNSPECIFIED",
            "SCOPE_UNCHANGED",
            "SCOPE_CHANGED"
          ],
          "type": "string"
        },
        "privilegesRequired": {
          "type": "string",
          "enum": [
            "PRIVILEGES_REQUIRED_UNSPECIFIED",
            "PRIVILEGES_REQUIRED_NONE",
            "PRIVILEGES_REQUIRED_LOW",
            "PRIVILEGES_REQUIRED_HIGH"
          ],
          "enumDescriptions": [
            "Invalid value.",
            "The attacker is unauthorized prior to attack, and therefore does not require any access to settings or files of the vulnerable system to carry out an attack.",
            "The attacker requires privileges that provide basic user capabilities that could normally affect only settings and files owned by a user. Alternatively, an attacker with Low privileges has the ability to access only non-sensitive resources.",
            "The attacker requires privileges that provide significant (e.g., administrative) control over the vulnerable component allowing access to component-wide settings and files."
          ],
          "description": "This metric describes the level of privileges an attacker must possess before successfully exploiting the vulnerability."
        },
        "integrityImpact": {
          "enum": [
            "IMPACT_UNSPECIFIED",
            "IMPACT_HIGH",
            "IMPACT_LOW",
            "IMPACT_NONE"
          ],
          "description": "This metric measures the impact to integrity of a successfully exploited vulnerability.",
          "type": "string",
          "enumDescriptions": [
            "Invalid value.",
            "High impact.",
            "Low impact.",
            "No impact."
          ]
        },
        "userInteraction": {
          "description": "This metric captures the requirement for a human user, other than the attacker, to participate in the successful compromise of the vulnerable component.",
          "enum": [
            "USER_INTERACTION_UNSPECIFIED",
            "USER_INTERACTION_NONE",
            "USER_INTERACTION_REQUIRED"
          ],
          "enumDescriptions": [
            "Invalid value.",
            "The vulnerable system can be exploited without interaction from any user.",
            "Successful exploitation of this vulnerability requires a user to take some action before the vulnerability can be exploited."
          ],
          "type": "string"
        },
        "attackVector": {
          "type": "string",
          "description": "Base Metrics Represents the intrinsic characteristics of a vulnerability that are constant over time and across user environments. This metric reflects the context by which vulnerability exploitation is possible.",
          "enumDescriptions": [
            "Invalid value.",
            "The vulnerable component is bound to the network stack and the set of possible attackers extends beyond the other options listed below, up to and including the entire Internet.",
            "The vulnerable component is bound to the network stack, but the attack is limited at the protocol level to a logically adjacent topology.",
            "The vulnerable component is not bound to the network stack and the attacker's path is via read/write/execute capabilities.",
            "The attack requires the attacker to physically touch or manipulate the vulnerable component."
          ],
          "enum": [
            "ATTACK_VECTOR_UNSPECIFIED",
            "ATTACK_VECTOR_NETWORK",
            "ATTACK_VECTOR_ADJACENT",
            "ATTACK_VECTOR_LOCAL",
            "ATTACK_VECTOR_PHYSICAL"
          ]
        }
      },
      "id": "Cvssv3",
      "description": "Common Vulnerability Scoring System version 3."
    },
    "Geolocation": {
      "properties": {
        "regionCode": {
          "type": "string",
          "description": "A CLDR."
        }
      },
      "description": "Represents a geographical location for a given access.",
      "id": "Geolocation",
      "type": "object"
    },
    "ListNotificationConfigsResponse": {
      "properties": {
        "notificationConfigs": {
          "type": "array",
          "description": "Notification configs belonging to the requested parent.",
          "items": {
            "$ref": "NotificationConfig"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results.",
          "type": "string"
        }
      },
      "id": "ListNotificationConfigsResponse",
      "type": "object",
      "description": "Response message for listing notification configs."
    },
    "RunAssetDiscoveryRequest": {
      "properties": {},
      "id": "RunAssetDiscoveryRequest",
      "description": "Request message for running asset discovery for an organization.",
      "type": "object"
    },
    "SecurityMarks": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The relative resource name of the SecurityMarks. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Examples: \"organizations/{organization_id}/assets/{asset_id}/securityMarks\" \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}/securityMarks\"."
        },
        "marks": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Mutable user specified security marks belonging to the parent resource. Constraints are as follows: * Keys and values are treated as case insensitive * Keys must be between 1 - 256 characters (inclusive) * Keys must be letters, numbers, underscores, or dashes * Values have leading and trailing whitespace trimmed, remaining characters must be between 1 - 4096 characters (inclusive)",
          "type": "object"
        },
        "canonicalName": {
          "type": "string",
          "description": "The canonical name of the marks. Examples: \"organizations/{organization_id}/assets/{asset_id}/securityMarks\" \"folders/{folder_id}/assets/{asset_id}/securityMarks\" \"projects/{project_number}/assets/{asset_id}/securityMarks\" \"organizations/{organization_id}/sources/{source_id}/findings/{finding_id}/securityMarks\" \"folders/{folder_id}/sources/{source_id}/findings/{finding_id}/securityMarks\" \"projects/{project_number}/sources/{source_id}/findings/{finding_id}/securityMarks\""
        }
      },
      "id": "SecurityMarks",
      "description": "User specified security marks that are attached to the parent Security Command Center resource. Security marks are scoped within a Security Command Center organization -- they can be modified and viewed by all users who have proper permissions on the organization."
    },
    "Indicator": {
      "description": "Represents what's commonly known as an Indicator of compromise (IoC) in computer forensics. This is an artifact observed on a network or in an operating system that, with high confidence, indicates a computer intrusion. Reference: https://en.wikipedia.org/wiki/Indicator_of_compromise",
      "id": "Indicator",
      "type": "object",
      "properties": {
        "ipAddresses": {
          "items": {
            "type": "string"
          },
          "description": "List of ip addresses associated to the Finding.",
          "type": "array"
        },
        "domains": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of domains associated to the Finding."
        }
      }
    },
    "GoogleCloudSecuritycenterV1p1beta1RunAssetDiscoveryResponse": {
      "id": "GoogleCloudSecuritycenterV1p1beta1RunAssetDiscoveryResponse",
      "properties": {
        "duration": {
          "type": "string",
          "format": "google-duration",
          "description": "The duration between asset discovery run start and end"
        },
        "state": {
          "type": "string",
          "description": "The state of an asset discovery run.",
          "enum": [
            "STATE_UNSPECIFIED",
            "COMPLETED",
            "SUPERSEDED",
            "TERMINATED"
          ],
          "enumDescriptions": [
            "Asset discovery run state was unspecified.",
            "Asset discovery run completed successfully.",
            "Asset discovery run was cancelled with tasks still pending, as another run for the same organization was started with a higher priority.",
            "Asset discovery run was killed and terminated."
          ]
        }
      },
      "type": "object",
      "description": "Response of asset discovery run"
    },
    "ListBigQueryExportsResponse": {
      "description": "Response message for listing BigQuery exports.",
      "properties": {
        "bigQueryExports": {
          "description": "The BigQuery exports from the specified parent.",
          "items": {
            "$ref": "GoogleCloudSecuritycenterV1BigQueryExport"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListBigQueryExportsResponse",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1RunAssetDiscoveryResponse": {
      "id": "GoogleCloudSecuritycenterV1RunAssetDiscoveryResponse",
      "type": "object",
      "properties": {
        "duration": {
          "type": "string",
          "description": "The duration between asset discovery run start and end",
          "format": "google-duration"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "COMPLETED",
            "SUPERSEDED",
            "TERMINATED"
          ],
          "type": "string",
          "description": "The state of an asset discovery run.",
          "enumDescriptions": [
            "Asset discovery run state was unspecified.",
            "Asset discovery run completed successfully.",
            "Asset discovery run was cancelled with tasks still pending, as another run for the same organization was started with a higher priority.",
            "Asset discovery run was killed and terminated."
          ]
        }
      },
      "description": "Response of asset discovery run"
    },
    "Folder": {
      "id": "Folder",
      "description": "Message that contains the resource name and display name of a folder resource.",
      "type": "object",
      "properties": {
        "resourceFolder": {
          "description": "Full resource name of this folder. See: https://cloud.google.com/apis/design/resource_names#full_resource_name",
          "type": "string"
        },
        "resourceFolderDisplayName": {
          "type": "string",
          "description": "The user defined display name for this folder."
        }
      }
    },
    "MitreAttack": {
      "type": "object",
      "description": "MITRE ATT&CK tactics and techniques related to this finding. See: https://attack.mitre.org",
      "properties": {
        "additionalTechniques": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "TECHNIQUE_UNSPECIFIED",
              "ACTIVE_SCANNING",
              "SCANNING_IP_BLOCKS",
              "INGRESS_TOOL_TRANSFER",
              "NATIVE_API",
              "SHARED_MODULES",
              "COMMAND_AND_SCRIPTING_INTERPRETER",
              "UNIX_SHELL",
              "RESOURCE_HIJACKING",
              "PROXY",
              "EXTERNAL_PROXY",
              "MULTI_HOP_PROXY",
              "DYNAMIC_RESOLUTION",
              "UNSECURED_CREDENTIALS",
              "VALID_ACCOUNTS",
              "LOCAL_ACCOUNTS",
              "CLOUD_ACCOUNTS",
              "NETWORK_DENIAL_OF_SERVICE",
              "PERMISSION_GROUPS_DISCOVERY",
              "CLOUD_GROUPS",
              "EXFILTRATION_OVER_WEB_SERVICE",
              "EXFILTRATION_TO_CLOUD_STORAGE",
              "ACCOUNT_MANIPULATION",
              "SSH_AUTHORIZED_KEYS",
              "CREATE_OR_MODIFY_SYSTEM_PROCESS",
              "STEAL_WEB_SESSION_COOKIE",
              "MODIFY_CLOUD_COMPUTE_INFRASTRUCTURE",
              "EXPLOIT_PUBLIC_FACING_APPLICATION",
              "MODIFY_AUTHENTICATION_PROCESS",
              "DATA_DESTRUCTION",
              "DOMAIN_POLICY_MODIFICATION"
            ],
            "enumDescriptions": [
              "Unspecified value.",
              "T1595",
              "T1595.001",
              "T1105",
              "T1106",
              "T1129",
              "T1059",
              "T1059.004",
              "T1496",
              "T1090",
              "T1090.002",
              "T1090.003",
              "T1568",
              "T1552",
              "T1078",
              "T1078.003",
              "T1078.004",
              "T1498",
              "T1069",
              "T1069.003",
              "T1567",
              "T1567.002",
              "T1098",
              "T1098.004",
              "T1543",
              "T1539",
              "T1578",
              "T1190",
              "T1556",
              "T1485",
              "T1484"
            ]
          },
          "description": "Additional MITRE ATT&CK techniques related to this finding, if any, along with any of their respective parent techniques."
        },
        "version": {
          "type": "string",
          "description": "The MITRE ATT&CK version referenced by the above fields. E.g. \"8\"."
        },
        "primaryTactic": {
          "type": "string",
          "enum": [
            "TACTIC_UNSPECIFIED",
            "RECONNAISSANCE",
            "RESOURCE_DEVELOPMENT",
            "INITIAL_ACCESS",
            "EXECUTION",
            "PERSISTENCE",
            "PRIVILEGE_ESCALATION",
            "DEFENSE_EVASION",
            "CREDENTIAL_ACCESS",
            "DISCOVERY",
            "LATERAL_MOVEMENT",
            "COLLECTION",
            "COMMAND_AND_CONTROL",
            "EXFILTRATION",
            "IMPACT"
          ],
          "enumDescriptions": [
            "Unspecified value.",
            "TA0043",
            "TA0042",
            "TA0001",
            "TA0002",
            "TA0003",
            "TA0004",
            "TA0005",
            "TA0006",
            "TA0007",
            "TA0008",
            "TA0009",
            "TA0011",
            "TA0010",
            "TA0040"
          ],
          "description": "The MITRE ATT&CK tactic most closely represented by this finding, if any."
        },
        "additionalTactics": {
          "type": "array",
          "items": {
            "enum": [
              "TACTIC_UNSPECIFIED",
              "RECONNAISSANCE",
              "RESOURCE_DEVELOPMENT",
              "INITIAL_ACCESS",
              "EXECUTION",
              "PERSISTENCE",
              "PRIVILEGE_ESCALATION",
              "DEFENSE_EVASION",
              "CREDENTIAL_ACCESS",
              "DISCOVERY",
              "LATERAL_MOVEMENT",
              "COLLECTION",
              "COMMAND_AND_CONTROL",
              "EXFILTRATION",
              "IMPACT"
            ],
            "type": "string",
            "enumDescriptions": [
              "Unspecified value.",
              "TA0043",
              "TA0042",
              "TA0001",
              "TA0002",
              "TA0003",
              "TA0004",
              "TA0005",
              "TA0006",
              "TA0007",
              "TA0008",
              "TA0009",
              "TA0011",
              "TA0010",
              "TA0040"
            ]
          },
          "description": "Additional MITRE ATT&CK tactics related to this finding, if any."
        },
        "primaryTechniques": {
          "description": "The MITRE ATT&CK technique most closely represented by this finding, if any. primary_techniques is a repeated field because there are multiple levels of MITRE ATT&CK techniques. If the technique most closely represented by this finding is a sub-technique (e.g. `SCANNING_IP_BLOCKS`), both the sub-technique and its parent technique(s) will be listed (e.g. `SCANNING_IP_BLOCKS`, `ACTIVE_SCANNING`).",
          "items": {
            "enumDescriptions": [
              "Unspecified value.",
              "T1595",
              "T1595.001",
              "T1105",
              "T1106",
              "T1129",
              "T1059",
              "T1059.004",
              "T1496",
              "T1090",
              "T1090.002",
              "T1090.003",
              "T1568",
              "T1552",
              "T1078",
              "T1078.003",
              "T1078.004",
              "T1498",
              "T1069",
              "T1069.003",
              "T1567",
              "T1567.002",
              "T1098",
              "T1098.004",
              "T1543",
              "T1539",
              "T1578",
              "T1190",
              "T1556",
              "T1485",
              "T1484"
            ],
            "enum": [
              "TECHNIQUE_UNSPECIFIED",
              "ACTIVE_SCANNING",
              "SCANNING_IP_BLOCKS",
              "INGRESS_TOOL_TRANSFER",
              "NATIVE_API",
              "SHARED_MODULES",
              "COMMAND_AND_SCRIPTING_INTERPRETER",
              "UNIX_SHELL",
              "RESOURCE_HIJACKING",
              "PROXY",
              "EXTERNAL_PROXY",
              "MULTI_HOP_PROXY",
              "DYNAMIC_RESOLUTION",
              "UNSECURED_CREDENTIALS",
              "VALID_ACCOUNTS",
              "LOCAL_ACCOUNTS",
              "CLOUD_ACCOUNTS",
              "NETWORK_DENIAL_OF_SERVICE",
              "PERMISSION_GROUPS_DISCOVERY",
              "CLOUD_GROUPS",
              "EXFILTRATION_OVER_WEB_SERVICE",
              "EXFILTRATION_TO_CLOUD_STORAGE",
              "ACCOUNT_MANIPULATION",
              "SSH_AUTHORIZED_KEYS",
              "CREATE_OR_MODIFY_SYSTEM_PROCESS",
              "STEAL_WEB_SESSION_COOKIE",
              "MODIFY_CLOUD_COMPUTE_INFRASTRUCTURE",
              "EXPLOIT_PUBLIC_FACING_APPLICATION",
              "MODIFY_AUTHENTICATION_PROCESS",
              "DATA_DESTRUCTION",
              "DOMAIN_POLICY_MODIFICATION"
            ],
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "MitreAttack"
    },
    "Reference": {
      "id": "Reference",
      "type": "object",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Uri for the mentioned source e.g. https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-34527."
        },
        "source": {
          "description": "Source of the reference e.g. NVD",
          "type": "string"
        }
      },
      "description": "Additional Links"
    },
    "ListAssetsResult": {
      "properties": {
        "asset": {
          "description": "Asset matching the search request.",
          "$ref": "Asset"
        },
        "stateChange": {
          "enumDescriptions": [
            "State change is unused, this is the canonical default for this enum.",
            "Asset was added between the points in time.",
            "Asset was removed between the points in time.",
            "Asset was present at both point(s) in time."
          ],
          "type": "string",
          "description": "State change of the asset between the points in time.",
          "enum": [
            "UNUSED",
            "ADDED",
            "REMOVED",
            "ACTIVE"
          ]
        }
      },
      "id": "ListAssetsResult",
      "description": "Result containing the Asset and its State.",
      "type": "object"
    },
    "GoogleCloudSecuritycenterV1BulkMuteFindingsResponse": {
      "type": "object",
      "properties": {},
      "description": "The response to a BulkMute request. Contains the LRO information.",
      "id": "GoogleCloudSecuritycenterV1BulkMuteFindingsResponse"
    },
    "Source": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "The description of the source (max of 1024 characters). Example: \"Web Security Scanner is a web security scanner for common vulnerabilities in App Engine applications. It can automatically scan and detect four common vulnerabilities, including cross-site-scripting (XSS), Flash injection, mixed content (HTTP in HTTPS), and outdated or insecure libraries.\""
        },
        "canonicalName": {
          "type": "string",
          "description": "The canonical name of the finding. It's either \"organizations/{organization_id}/sources/{source_id}\", \"folders/{folder_id}/sources/{source_id}\" or \"projects/{project_number}/sources/{source_id}\", depending on the closest CRM ancestor of the resource associated with the finding."
        },
        "displayName": {
          "description": "The source's display name. A source's display name must be unique amongst its siblings, for example, two sources with the same parent can't share the same display name. The display name must have a length between 1 and 64 characters (inclusive).",
          "type": "string"
        },
        "name": {
          "description": "The relative resource name of this source. See: https://cloud.google.com/apis/design/resource_names#relative_resource_name Example: \"organizations/{organization_id}/sources/{source_id}\"",
          "type": "string"
        }
      },
      "id": "Source",
      "description": "Security Command Center finding source. A finding source is an entity or a mechanism that can produce a finding. A source is like a container of findings that come from the same scanner, logger, monitor, and other tools."
    },
    "GoogleCloudSecuritycenterV1beta1RunAssetDiscoveryResponse": {
      "type": "object",
      "description": "Response of asset discovery run",
      "id": "GoogleCloudSecuritycenterV1beta1RunAssetDiscoveryResponse",
      "properties": {
        "duration": {
          "format": "google-duration",
          "type": "string",
          "description": "The duration between asset discovery run start and end"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Asset discovery run state was unspecified.",
            "Asset discovery run completed successfully.",
            "Asset discovery run was cancelled with tasks still pending, as another run for the same organization was started with a higher priority.",
            "Asset discovery run was killed and terminated."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "COMPLETED",
            "SUPERSEDED",
            "TERMINATED"
          ],
          "description": "The state of an asset discovery run."
        }
      }
    },
    "GroupAssetsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results."
        },
        "groupByResults": {
          "description": "Group results. There exists an element for each existing unique combination of property/values. The element contains a count for the number of times those specific property/values appear.",
          "type": "array",
          "items": {
            "$ref": "GroupResult"
          }
        },
        "readTime": {
          "format": "google-datetime",
          "description": "Time used for executing the groupBy request.",
          "type": "string"
        },
        "totalSize": {
          "format": "int32",
          "description": "The total number of results matching the query.",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "GroupAssetsResponse",
      "description": "Response message for grouping by assets."
    },
    "AuditLogConfig": {
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "id": "AuditLogConfig",
      "type": "object",
      "properties": {
        "logType": {
          "description": "The log type that this config enables.",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "type": "string",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ]
        },
        "exemptedMembers": {
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "AssetDiscoveryConfig": {
      "id": "AssetDiscoveryConfig",
      "type": "object",
      "description": "The configuration used for Asset Discovery runs.",
      "properties": {
        "folderIds": {
          "items": {
            "type": "string"
          },
          "description": "The folder ids to use for filtering asset discovery. It consists of only digits, e.g., 756619654966.",
          "type": "array"
        },
        "inclusionMode": {
          "description": "The mode to use for filtering asset discovery.",
          "type": "string",
          "enum": [
            "INCLUSION_MODE_UNSPECIFIED",
            "INCLUDE_ONLY",
            "EXCLUDE"
          ],
          "enumDescriptions": [
            "Unspecified. Setting the mode with this value will disable inclusion/exclusion filtering for Asset Discovery.",
            "Asset Discovery will capture only the resources within the projects specified. All other resources will be ignored.",
            "Asset Discovery will ignore all resources under the projects specified. All other resources will be retrieved."
          ]
        },
        "projectIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The project ids to use for filtering asset discovery."
        }
      }
    },
    "GoogleCloudSecuritycenterV1NotificationMessage": {
      "type": "object",
      "id": "GoogleCloudSecuritycenterV1NotificationMessage",
      "description": "Cloud SCC's Notification",
      "properties": {
        "notificationConfigName": {
          "description": "Name of the notification config that generated current notification.",
          "type": "string"
        },
        "resource": {
          "$ref": "GoogleCloudSecuritycenterV1Resource",
          "description": "The Cloud resource tied to this notification's Finding."
        },
        "finding": {
          "$ref": "Finding",
          "description": "If it's a Finding based notification config, this field will be populated."
        }
      }
    },
    "IamBinding": {
      "properties": {
        "member": {
          "description": "A single identity requesting access for a Cloud Platform resource, e.g. \"foo@google.com\".",
          "type": "string"
        },
        "role": {
          "description": "Role that is assigned to \"members\". For example, \"roles/viewer\", \"roles/editor\", or \"roles/owner\".",
          "type": "string"
        },
        "action": {
          "type": "string",
          "enum": [
            "ACTION_UNSPECIFIED",
            "ADD",
            "REMOVE"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Addition of a Binding.",
[...]
