{
  "protocol": "rest",
  "name": "serviceusage",
  "revision": "20231113",
  "id": "serviceusage:v1beta1",
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "version_module": true,
  "basePath": "",
  "version": "v1beta1",
  "ownerName": "Google",
  "fullyEncodeReservedExpansion": true,
  "servicePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/service.management": {
          "description": "Manage your Google API service configuration"
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "description": "Enables services that service consumers want to use on Google Cloud Platform, lists the available or enabled services, or disables services that service consumers no longer use.",
  "rootUrl": "https://serviceusage.googleapis.com/",
  "documentationLink": "https://cloud.google.com/service-usage/",
  "mtlsRootUrl": "https://serviceusage.mtls.googleapis.com/",
  "baseUrl": "https://serviceusage.googleapis.com/",
  "title": "Service Usage API",
  "schemas": {
    "MonitoringDestination": {
      "id": "MonitoringDestination",
      "type": "object",
      "properties": {
        "monitoredResource": {
          "description": "The monitored resource type. The type must be defined in Service.monitored_resources section.",
          "type": "string"
        },
        "metrics": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Types of the metrics to report to this monitoring destination. Each type must be defined in Service.metrics section."
        }
      },
      "description": "Configuration of a specific monitoring destination (the producer project or the consumer project)."
    },
    "Backend": {
      "type": "object",
      "description": "`Backend` defines the backend configuration for a service.",
      "properties": {
        "rules": {
          "items": {
            "$ref": "BackendRule"
          },
          "type": "array",
          "description": "A list of API backend rules that apply to individual API methods. **NOTE:** All service configuration rules follow \"last one wins\" order."
        }
      },
      "id": "Backend"
    },
    "MethodPolicy": {
      "properties": {
        "selector": {
          "description": "Selects a method to which these policies should be enforced, for example, \"google.pubsub.v1.Subscriber.CreateSubscription\". Refer to selector for syntax details. NOTE: This field must not be set in the proto annotation. It will be automatically filled by the service config compiler .",
          "type": "string"
        },
        "requestPolicies": {
          "description": "Policies that are applicable to the request message.",
          "items": {
            "$ref": "FieldPolicy"
          },
          "type": "array"
        }
      },
      "id": "MethodPolicy",
      "type": "object",
      "description": "Defines policies applying to an RPC method."
    },
    "UsageRule": {
      "description": "Usage configuration rules for the service. NOTE: Under development. Use this rule to configure unregistered calls for the service. Unregistered calls are calls that do not contain consumer project identity. (Example: calls that do not contain an API key). By default, API methods do not allow unregistered calls, and each method call must be identified by a consumer project identity. Use this rule to allow/disallow unregistered calls. Example of an API that wants to allow unregistered calls for entire service. usage: rules: - selector: \"*\" allow_unregistered_calls: true Example of a method that wants to allow unregistered calls. usage: rules: - selector: \"google.example.library.v1.LibraryService.CreateBook\" allow_unregistered_calls: true",
      "properties": {
        "skipServiceControl": {
          "description": "If true, the selected method should skip service control and the control plane features, such as quota and billing, will not be available. This flag is used by Google Cloud Endpoints to bypass checks for internal methods, such as service health check methods.",
          "type": "boolean"
        },
        "selector": {
          "description": "Selects the methods to which this rule applies. Use '*' to indicate all methods in all APIs. Refer to selector for syntax details.",
          "type": "string"
        },
        "allowUnregisteredCalls": {
          "description": "If true, the selected method allows unregistered calls, e.g. calls that don't identify any user or application.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "UsageRule"
    },
    "GetServiceIdentityMetadata": {
      "properties": {},
      "id": "GetServiceIdentityMetadata",
      "type": "object",
      "description": "Metadata for the `GetServiceIdentity` method."
    },
    "AuthenticationRule": {
      "description": "Authentication rules for the service. By default, if a method has any authentication requirements, every request must include a valid credential matching one of the requirements. It's an error to include more than one kind of credential in a single request. If a method doesn't have any auth requirements, request credentials will be ignored.",
      "type": "object",
      "id": "AuthenticationRule",
      "properties": {
        "requirements": {
          "type": "array",
          "description": "Requirements for additional authentication providers.",
          "items": {
            "$ref": "AuthRequirement"
          }
        },
        "selector": {
          "type": "string",
          "description": "Selects the methods to which this rule applies. Refer to selector for syntax details."
        },
        "allowWithoutCredential": {
          "type": "boolean",
          "description": "If true, the service accepts API keys without any other credential. This flag only applies to HTTP and gRPC requests."
        },
        "oauth": {
          "$ref": "OAuthRequirements",
          "description": "The requirements for OAuth credentials."
        }
      }
    },
    "UpdateConsumerPolicyMetadata": {
      "type": "object",
      "description": "Metadata for the `UpdateConsumerPolicy` method.",
      "properties": {},
      "id": "UpdateConsumerPolicyMetadata"
    },
    "Mixin": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The fully qualified name of the interface which is included."
        },
        "root": {
          "description": "If non-empty specifies a path under which inherited HTTP paths are rooted.",
          "type": "string"
        }
      },
      "id": "Mixin",
      "description": "Declares an API Interface to be included in this interface. The including interface must redeclare all the methods from the included interface, but documentation and options are inherited as follows: - If after comment and whitespace stripping, the documentation string of the redeclared method is empty, it will be inherited from the original method. - Each annotation belonging to the service config (http, visibility) which is not set in the redeclared method will be inherited. - If an http annotation is inherited, the path pattern will be modified as follows. Any version prefix will be replaced by the version of the including interface plus the root path if specified. Example of a simple mixin: package google.acl.v1; service AccessControl { // Get the underlying ACL object. rpc GetAcl(GetAclRequest) returns (Acl) { option (google.api.http).get = \"/v1/{resource=**}:getAcl\"; } } package google.storage.v2; service Storage { // rpc GetAcl(GetAclRequest) returns (Acl); // Get a data record. rpc GetData(GetDataRequest) returns (Data) { option (google.api.http).get = \"/v2/{resource=**}\"; } } Example of a mixin configuration: apis: - name: google.storage.v2.Storage mixins: - name: google.acl.v1.AccessControl The mixin construct implies that all methods in `AccessControl` are also declared with same name and request/response types in `Storage`. A documentation generator or annotation processor will see the effective `Storage.GetAcl` method after inherting documentation and annotations as follows: service Storage { // Get the underlying ACL object. rpc GetAcl(GetAclRequest) returns (Acl) { option (google.api.http).get = \"/v2/{resource=**}:getAcl\"; } ... } Note how the version in the path pattern changed from `v1` to `v2`. If the `root` field in the mixin is specified, it should be a relative path under which inherited HTTP paths are placed. Example: apis: - name: google.storage.v2.Storage mixins: - name: google.acl.v1.AccessControl root: acls This implies the following inherited HTTP annotation: service Storage { // Get the underlying ACL object. rpc GetAcl(GetAclRequest) returns (Acl) { option (google.api.http).get = \"/v2/acls/{resource=**}:getAcl\"; } ... }",
      "type": "object"
    },
    "AuthRequirement": {
      "properties": {
        "audiences": {
          "description": "NOTE: This will be deprecated soon, once AuthProvider.audiences is implemented and accepted in all the runtime components. The list of JWT [audiences](https://tools.ietf.org/html/draft-ietf-oauth-json-web-token-32#section-4.1.3). that are allowed to access. A JWT containing any of these audiences will be accepted. When this setting is absent, only JWTs with audience \"https://Service_name/API_name\" will be accepted. For example, if no audiences are in the setting, LibraryService API will only accept JWTs with the following audience \"https://library-example.googleapis.com/google.example.library.v1.LibraryService\". Example: audiences: bookstore_android.apps.googleusercontent.com, bookstore_web.apps.googleusercontent.com",
          "type": "string"
        },
        "providerId": {
          "description": "id from authentication provider. Example: provider_id: bookstore_auth",
          "type": "string"
        }
      },
      "id": "AuthRequirement",
      "description": "User-defined authentication requirements, including support for [JSON Web Token (JWT)](https://tools.ietf.org/html/draft-ietf-oauth-json-web-token-32).",
      "type": "object"
    },
    "CreateAdminQuotaPolicyMetadata": {
      "type": "object",
      "properties": {},
      "id": "CreateAdminQuotaPolicyMetadata",
      "description": "Metadata message that provides information such as progress, partial failures, and similar information on each GetOperation call of LRO returned by CreateAdminQuotaPolicy."
    },
    "BatchEnableServicesResponse": {
      "description": "Response message for the `BatchEnableServices` method. This response message is assigned to the `response` field of the returned Operation when that operation is done.",
      "id": "BatchEnableServicesResponse",
      "type": "object",
      "properties": {
        "services": {
          "type": "array",
          "description": "The new state of the services after enabling.",
          "items": {
            "$ref": "GoogleApiServiceusageV1Service"
          }
        },
        "failures": {
          "type": "array",
          "description": "If allow_partial_success is true, and one or more services could not be enabled, this field contains the details about each failure.",
          "items": {
            "$ref": "EnableFailure"
          }
        }
      }
    },
    "Documentation": {
      "id": "Documentation",
      "properties": {
        "documentationRootUrl": {
          "description": "The URL to the root of documentation.",
          "type": "string"
        },
        "pages": {
          "items": {
            "$ref": "Page"
          },
          "type": "array",
          "description": "The top level pages for the documentation set."
        },
        "serviceRootUrl": {
          "description": "Specifies the service root url if the default one (the service name from the yaml file) is not suitable. This can be seen in any fully specified service urls as well as sections that show a base that other urls are relative to.",
          "type": "string"
        },
        "rules": {
          "type": "array",
          "description": "A list of documentation rules that apply to individual API elements. **NOTE:** All service configuration rules follow \"last one wins\" order.",
          "items": {
            "$ref": "DocumentationRule"
          }
        },
        "sectionOverrides": {
          "description": "Specifies section and content to override boilerplate content provided by go/api-docgen. Currently overrides following sections: 1. rest.service.client_libraries",
          "type": "array",
          "items": {
            "$ref": "Page"
          }
        },
        "overview": {
          "type": "string",
          "description": "Declares a single overview page. For example: documentation: summary: ... overview: (== include overview.md ==) This is a shortcut for the following declaration (using pages style): documentation: summary: ... pages: - name: Overview content: (== include overview.md ==) Note: you cannot specify both `overview` field and `pages` field."
        },
        "summary": {
          "type": "string",
          "description": "A short description of what the service does. The summary must be plain text. It becomes the overview of the service displayed in Google Cloud Console. NOTE: This field is equivalent to the standard field `description`."
        }
      },
      "description": "`Documentation` provides the information for describing a service. Example: documentation: summary: \u003e The Google Calendar API gives access to most calendar features. pages: - name: Overview content: (== include google/foo/overview.md ==) - name: Tutorial content: (== include google/foo/tutorial.md ==) subpages: - name: Java content: (== include google/foo/tutorial_java.md ==) rules: - selector: google.calendar.Calendar.Get description: \u003e ... - selector: google.calendar.Calendar.Put description: \u003e ... Documentation is provided in markdown syntax. In addition to standard markdown features, definition lists, tables and fenced code blocks are supported. Section headers can be provided and are interpreted relative to the section nesting of the context where a documentation fragment is embedded. Documentation from the IDL is merged with documentation defined via the config at normalization time, where documentation provided by config rules overrides IDL provided. A number of constructs specific to the API platform are supported in documentation text. In order to reference a proto element, the following notation can be used: [fully.qualified.proto.name][] To override the display text used for the link, this can be used: [display text][fully.qualified.proto.name] Text can be excluded from doc using the following notation: (-- internal comment --) A few directives are available in documentation. Note that directives must appear on a single line to be properly identified. The `include` directive includes a markdown file from an external source: (== include path/to/file ==) The `resource_for` directive marks a message to be the resource of a collection in REST view. If it is not specified, tools attempt to infer the resource from the operations in a collection: (== resource_for v1.shelves.books ==) The directive `suppress_warning` does not directly affect documentation and is documented together with service config validation.",
      "type": "object"
    },
    "GoogleApiServiceusageV2alphaConsumerPolicy": {
      "type": "object",
      "properties": {
        "enableRules": {
          "items": {
            "$ref": "GoogleApiServiceusageV2alphaEnableRule"
          },
          "type": "array",
          "description": "Enable rules define usable services, groups, and categories. There can currently be at most one `EnableRule`. This restriction will be lifted in later releases."
        },
        "annotations": {
          "description": "Optional. Annotations is an unstructured key-value map stored with a policy that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. [AIP-128](https://google.aip.dev/128#annotations)",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name of the policy. Only the `default` policy is supported: `projects/12345/consumerPolicies/default`, `folders/12345/consumerPolicies/default`, `organizations/12345/consumerPolicies/default`."
        },
        "updateTime": {
          "description": "Output only. The time the policy was last updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "etag": {
          "description": "Output only. An opaque tag indicating the current version of the policy, used for concurrency control.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The time the policy was created. For singleton policies, this is the first touch of the policy.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Consumer Policy is a set of rules that define what services or service groups can be used for a cloud resource hierarchy.",
      "id": "GoogleApiServiceusageV2alphaConsumerPolicy"
    },
    "SourceInfo": {
      "description": "Source information used to create a Service Config",
      "id": "SourceInfo",
      "properties": {
        "sourceFiles": {
          "description": "All files used during config generation.",
          "type": "array",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          }
        }
      },
      "type": "object"
    },
    "ImportConsumerOverridesMetadata": {
      "id": "ImportConsumerOverridesMetadata",
      "description": "Metadata message that provides information such as progress, partial failures, and similar information on each GetOperation call of LRO returned by ImportConsumerOverrides.",
      "type": "object",
      "properties": {}
    },
    "ImportConsumerOverridesRequest": {
      "description": "Request message for ImportConsumerOverrides",
      "id": "ImportConsumerOverridesRequest",
      "properties": {
        "force": {
          "type": "boolean",
          "description": "Whether to force the creation of the quota overrides. Setting the force parameter to 'true' ignores all quota safety checks that would fail the request. QuotaSafetyCheck lists all such validations."
        },
        "forceOnly": {
          "description": "The list of quota safety checks to ignore before the override mutation. Unlike 'force' field that ignores all the quota safety checks, the 'force_only' field ignores only the specified checks; other checks are still enforced. The 'force' and 'force_only' fields cannot both be set.",
          "items": {
            "enum": [
              "QUOTA_SAFETY_CHECK_UNSPECIFIED",
              "LIMIT_DECREASE_BELOW_USAGE",
              "LIMIT_DECREASE_PERCENTAGE_TOO_HIGH"
            ],
            "enumDescriptions": [
              "Unspecified quota safety check.",
              "Validates that a quota mutation would not cause the consumer's effective limit to be lower than the consumer's quota usage.",
              "Validates that a quota mutation would not cause the consumer's effective limit to decrease by more than 10 percent."
            ],
            "type": "string"
          },
          "type": "array"
        },
        "inlineSource": {
          "description": "The import data is specified in the request message itself",
          "$ref": "OverrideInlineSource"
        }
      },
      "type": "object"
    },
    "SystemParameter": {
      "type": "object",
      "description": "Define a parameter's name and location. The parameter may be passed as either an HTTP header or a URL query parameter, and if both are passed the behavior is implementation-dependent.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Define the name of the parameter, such as \"api_key\" . It is case sensitive."
        },
        "httpHeader": {
          "description": "Define the HTTP header name to use for the parameter. It is case insensitive.",
          "type": "string"
        },
        "urlQueryParameter": {
          "type": "string",
          "description": "Define the URL query parameter name to use for the parameter. It is case sensitive."
        }
      },
      "id": "SystemParameter"
    },
    "ImportAdminOverridesResponse": {
      "properties": {
        "overrides": {
          "description": "The overrides that were created from the imported data.",
          "items": {
            "$ref": "QuotaOverride"
          },
          "type": "array"
        }
      },
      "description": "Response message for ImportAdminOverrides",
      "id": "ImportAdminOverridesResponse",
      "type": "object"
    },
    "BillingDestination": {
      "type": "object",
      "properties": {
        "metrics": {
          "description": "Names of the metrics to report to this billing destination. Each name must be defined in Service.metrics section.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "monitoredResource": {
          "type": "string",
          "description": "The monitored resource type. The type must be defined in Service.monitored_resources section."
        }
      },
      "id": "BillingDestination",
      "description": "Configuration of a specific billing destination (Currently only support bill against consumer project)."
    },
    "Authentication": {
      "properties": {
        "rules": {
          "description": "A list of authentication rules that apply to individual API methods. **NOTE:** All service configuration rules follow \"last one wins\" order.",
          "type": "array",
          "items": {
            "$ref": "AuthenticationRule"
          }
        },
        "providers": {
          "type": "array",
          "items": {
            "$ref": "AuthProvider"
          },
          "description": "Defines a set of authentication providers that a service supports."
        }
      },
      "description": "`Authentication` defines the authentication configuration for API methods provided by an API service. Example: name: calendar.googleapis.com authentication: providers: - id: google_calendar_auth jwks_uri: https://www.googleapis.com/oauth2/v1/certs issuer: https://securetoken.google.com rules: - selector: \"*\" requirements: provider_id: google_calendar_auth - selector: google.calendar.Delegate oauth: canonical_scopes: https://www.googleapis.com/auth/calendar.read",
      "type": "object",
      "id": "Authentication"
    },
    "RemoveEnableRulesMetadata": {
      "type": "object",
      "description": "Metadata for the `RemoveEnableRules` method.",
      "properties": {},
      "id": "RemoveEnableRulesMetadata"
    },
    "MetricDescriptorMetadata": {
      "type": "object",
      "description": "Additional annotations that can be used to guide the usage of a metric.",
      "properties": {
        "samplePeriod": {
          "type": "string",
          "description": "The sampling period of metric data points. For metrics which are written periodically, consecutive data points are stored at this time interval, excluding data loss due to errors. Metrics with a higher granularity have a smaller sampling period.",
          "format": "google-duration"
        },
        "ingestDelay": {
          "type": "string",
          "format": "google-duration",
          "description": "The delay of data points caused by ingestion. Data points older than this age are guaranteed to be ingested and available to be read, excluding data loss due to errors."
        },
        "launchStage": {
          "type": "string",
          "description": "Deprecated. Must use the MetricDescriptor.launch_stage instead.",
          "enumDescriptions": [
            "Do not use this default value.",
            "The feature is not yet implemented. Users can not use it.",
            "Prelaunch features are hidden from users and are only visible internally.",
            "Early Access features are limited to a closed group of testers. To use these features, you must sign up in advance and sign a Trusted Tester agreement (which includes confidentiality provisions). These features may be unstable, changed in backward-incompatible ways, and are not guaranteed to be released.",
            "Alpha is a limited availability test for releases before they are cleared for widespread use. By Alpha, all significant design issues are resolved and we are in the process of verifying functionality. Alpha customers need to apply for access, agree to applicable terms, and have their projects allowlisted. Alpha releases don't have to be feature complete, no SLAs are provided, and there are no technical support obligations, but they will be far enough along that customers can actually use them in test environments or for limited-use tests -- just like they would in normal production cases.",
            "Beta is the point at which we are ready to open a release for any customer to use. There are no SLA or technical support obligations in a Beta release. Products will be complete from a feature perspective, but may have some open outstanding issues. Beta releases are suitable for limited production use cases.",
            "GA features are open to all developers and are considered stable and fully qualified for production use.",
            "Deprecated features are scheduled to be shut down and removed. For more information, see the \"Deprecation Policy\" section of our [Terms of Service](https://cloud.google.com/terms/) and the [Google Cloud Platform Subject to the Deprecation Policy](https://cloud.google.com/terms/deprecation) documentation."
          ],
          "enum": [
            "LAUNCH_STAGE_UNSPECIFIED",
            "UNIMPLEMENTED",
            "PRELAUNCH",
            "EARLY_ACCESS",
            "ALPHA",
            "BETA",
            "GA",
            "DEPRECATED"
          ],
          "deprecated": true
        }
      },
      "id": "MetricDescriptorMetadata"
    },
    "ServiceConfig": {
      "type": "object",
      "id": "ServiceConfig",
      "description": "The configuration of the service.",
      "properties": {
        "documentation": {
          "$ref": "Documentation",
          "description": "Additional API documentation. Contains only the summary and the documentation URL."
        },
        "title": {
          "type": "string",
          "description": "The product title for this service."
        },
        "name": {
          "type": "string",
          "description": "The DNS address at which this service is available. An example DNS address would be: `calendar.googleapis.com`."
        },
        "apis": {
          "description": "A list of API interfaces exported by this service. Contains only the names, versions, and method names of the interfaces.",
          "items": {
            "$ref": "Api"
          },
          "type": "array"
        },
        "endpoints": {
          "items": {
            "$ref": "Endpoint"
          },
          "description": "Configuration for network endpoints. Contains only the names and aliases of the endpoints.",
          "type": "array"
        },
        "monitoredResources": {
          "description": "Defines the monitored resources used by this service. This is required by the Service.monitoring and Service.logging configurations.",
          "type": "array",
          "items": {
            "$ref": "MonitoredResourceDescriptor"
          }
        },
        "usage": {
          "description": "Configuration controlling usage of this service.",
          "$ref": "Usage"
        },
        "quota": {
          "$ref": "Quota",
          "description": "Quota configuration."
        },
        "authentication": {
          "$ref": "Authentication",
          "description": "Auth configuration. Contains only the OAuth rules."
        },
        "monitoring": {
          "description": "Monitoring configuration. This should not include the 'producer_destinations' field.",
          "$ref": "Monitoring"
        }
      }
    },
    "HttpRule": {
      "id": "HttpRule",
      "type": "object",
      "description": "# gRPC Transcoding gRPC Transcoding is a feature for mapping between a gRPC method and one or more HTTP REST endpoints. It allows developers to build a single API service that supports both gRPC APIs and REST APIs. Many systems, including [Google APIs](https://github.com/googleapis/googleapis), [Cloud Endpoints](https://cloud.google.com/endpoints), [gRPC Gateway](https://github.com/grpc-ecosystem/grpc-gateway), and [Envoy](https://github.com/envoyproxy/envoy) proxy support this feature and use it for large scale production services. `HttpRule` defines the schema of the gRPC/REST mapping. The mapping specifies how different portions of the gRPC request message are mapped to the URL path, URL query parameters, and HTTP request body. It also controls how the gRPC response message is mapped to the HTTP response body. `HttpRule` is typically specified as an `google.api.http` annotation on the gRPC method. Each mapping specifies a URL path template and an HTTP method. The path template may refer to one or more fields in the gRPC request message, as long as each field is a non-repeated field with a primitive (non-message) type. The path template controls how fields of the request message are mapped to the URL path. Example: service Messaging { rpc GetMessage(GetMessageRequest) returns (Message) { option (google.api.http) = { get: \"/v1/{name=messages/*}\" }; } } message GetMessageRequest { string name = 1; // Mapped to URL path. } message Message { string text = 1; // The resource content. } This enables an HTTP REST to gRPC mapping as below: HTTP | gRPC -----|----- `GET /v1/messages/123456` | `GetMessage(name: \"messages/123456\")` Any fields in the request message which are not bound by the path template automatically become HTTP query parameters if there is no HTTP request body. For example: service Messaging { rpc GetMessage(GetMessageRequest) returns (Message) { option (google.api.http) = { get:\"/v1/messages/{message_id}\" }; } } message GetMessageRequest { message SubMessage { string subfield = 1; } string message_id = 1; // Mapped to URL path. int64 revision = 2; // Mapped to URL query parameter `revision`. SubMessage sub = 3; // Mapped to URL query parameter `sub.subfield`. } This enables a HTTP JSON to RPC mapping as below: HTTP | gRPC -----|----- `GET /v1/messages/123456?revision=2&sub.subfield=foo` | `GetMessage(message_id: \"123456\" revision: 2 sub: SubMessage(subfield: \"foo\"))` Note that fields which are mapped to URL query parameters must have a primitive type or a repeated primitive type or a non-repeated message type. In the case of a repeated type, the parameter can be repeated in the URL as `...?param=A&param=B`. In the case of a message type, each field of the message is mapped to a separate parameter, such as `...?foo.a=A&foo.b=B&foo.c=C`. For HTTP methods that allow a request body, the `body` field specifies the mapping. Consider a REST update method on the message resource collection: service Messaging { rpc UpdateMessage(UpdateMessageRequest) returns (Message) { option (google.api.http) = { patch: \"/v1/messages/{message_id}\" body: \"message\" }; } } message UpdateMessageRequest { string message_id = 1; // mapped to the URL Message message = 2; // mapped to the body } The following HTTP JSON to RPC mapping is enabled, where the representation of the JSON in the request body is determined by protos JSON encoding: HTTP | gRPC -----|----- `PATCH /v1/messages/123456 { \"text\": \"Hi!\" }` | `UpdateMessage(message_id: \"123456\" message { text: \"Hi!\" })` The special name `*` can be used in the body mapping to define that every field not bound by the path template should be mapped to the request body. This enables the following alternative definition of the update method: service Messaging { rpc UpdateMessage(Message) returns (Message) { option (google.api.http) = { patch: \"/v1/messages/{message_id}\" body: \"*\" }; } } message Message { string message_id = 1; string text = 2; } The following HTTP JSON to RPC mapping is enabled: HTTP | gRPC -----|----- `PATCH /v1/messages/123456 { \"text\": \"Hi!\" }` | `UpdateMessage(message_id: \"123456\" text: \"Hi!\")` Note that when using `*` in the body mapping, it is not possible to have HTTP parameters, as all fields not bound by the path end in the body. This makes this option more rarely used in practice when defining REST APIs. The common usage of `*` is in custom methods which don't use the URL at all for transferring data. It is possible to define multiple HTTP methods for one RPC by using the `additional_bindings` option. Example: service Messaging { rpc GetMessage(GetMessageRequest) returns (Message) { option (google.api.http) = { get: \"/v1/messages/{message_id}\" additional_bindings { get: \"/v1/users/{user_id}/messages/{message_id}\" } }; } } message GetMessageRequest { string message_id = 1; string user_id = 2; } This enables the following two alternative HTTP JSON to RPC mappings: HTTP | gRPC -----|----- `GET /v1/messages/123456` | `GetMessage(message_id: \"123456\")` `GET /v1/users/me/messages/123456` | `GetMessage(user_id: \"me\" message_id: \"123456\")` ## Rules for HTTP mapping 1. Leaf request fields (recursive expansion nested messages in the request message) are classified into three categories: - Fields referred by the path template. They are passed via the URL path. - Fields referred by the HttpRule.body. They are passed via the HTTP request body. - All other fields are passed via the URL query parameters, and the parameter name is the field path in the request message. A repeated field can be represented as multiple query parameters under the same name. 2. If HttpRule.body is \"*\", there is no URL query parameter, all fields are passed via URL path and HTTP request body. 3. If HttpRule.body is omitted, there is no HTTP request body, all fields are passed via URL path and URL query parameters. ### Path template syntax Template = \"/\" Segments [ Verb ] ; Segments = Segment { \"/\" Segment } ; Segment = \"*\" | \"**\" | LITERAL | Variable ; Variable = \"{\" FieldPath [ \"=\" Segments ] \"}\" ; FieldPath = IDENT { \".\" IDENT } ; Verb = \":\" LITERAL ; The syntax `*` matches a single URL path segment. The syntax `**` matches zero or more URL path segments, which must be the last part of the URL path except the `Verb`. The syntax `Variable` matches part of the URL path as specified by its template. A variable template must not contain other variables. If a variable matches a single path segment, its template may be omitted, e.g. `{var}` is equivalent to `{var=*}`. The syntax `LITERAL` matches literal text in the URL path. If the `LITERAL` contains any reserved character, such characters should be percent-encoded before the matching. If a variable contains exactly one path segment, such as `\"{var}\"` or `\"{var=*}\"`, when such a variable is expanded into a URL path on the client side, all characters except `[-_.~0-9a-zA-Z]` are percent-encoded. The server side does the reverse decoding. Such variables show up in the [Discovery Document](https://developers.google.com/discovery/v1/reference/apis) as `{var}`. If a variable contains multiple path segments, such as `\"{var=foo/*}\"` or `\"{var=**}\"`, when such a variable is expanded into a URL path on the client side, all characters except `[-_.~/0-9a-zA-Z]` are percent-encoded. The server side does the reverse decoding, except \"%2F\" and \"%2f\" are left unchanged. Such variables show up in the [Discovery Document](https://developers.google.com/discovery/v1/reference/apis) as `{+var}`. ## Using gRPC API Service Configuration gRPC API Service Configuration (service config) is a configuration language for configuring a gRPC service to become a user-facing product. The service config is simply the YAML representation of the `google.api.Service` proto message. As an alternative to annotating your proto file, you can configure gRPC transcoding in your service config YAML files. You do this by specifying a `HttpRule` that maps the gRPC method to a REST endpoint, achieving the same effect as the proto annotation. This can be particularly useful if you have a proto that is reused in multiple services. Note that any transcoding specified in the service config will override any matching transcoding configuration in the proto. Example: http: rules: # Selects a gRPC method and applies HttpRule to it. - selector: example.v1.Messaging.GetMessage get: /v1/messages/{message_id}/{sub.subfield} ## Special notes When gRPC Transcoding is used to map a gRPC to JSON REST endpoints, the proto to JSON conversion must follow the [proto3 specification](https://developers.google.com/protocol-buffers/docs/proto3#json). While the single segment variable follows the semantics of [RFC 6570](https://tools.ietf.org/html/rfc6570) Section 3.2.2 Simple String Expansion, the multi segment variable **does not** follow RFC 6570 Section 3.2.3 Reserved Expansion. The reason is that the Reserved Expansion does not expand special characters like `?` and `#`, which would lead to invalid URLs. As the result, gRPC Transcoding uses a custom encoding for multi segment variables. The path variables **must not** refer to any repeated or mapped field, because client libraries are not capable of handling such variable expansion. The path variables **must not** capture the leading \"/\" character. The reason is that the most common use case \"{var}\" does not capture the leading \"/\" character. For consistency, all path variables must share the same behavior. Repeated message fields must not be mapped to URL query parameters, because no client library can support such complicated mapping. If an API needs to use a JSON array for request or response body, it can map the request or response body to a repeated field. However, some gRPC Transcoding implementations may not support this feature.",
      "properties": {
        "post": {
          "description": "Maps to HTTP POST. Used for creating a resource or performing an action.",
          "type": "string"
        },
        "delete": {
          "description": "Maps to HTTP DELETE. Used for deleting a resource.",
          "type": "string"
        },
        "put": {
          "type": "string",
          "description": "Maps to HTTP PUT. Used for replacing a resource."
        },
        "responseBody": {
          "type": "string",
          "description": "Optional. The name of the response field whose value is mapped to the HTTP response body. When omitted, the entire response message will be used as the HTTP response body. NOTE: The referred field must be present at the top-level of the response message type."
        },
        "selector": {
          "type": "string",
          "description": "Selects a method to which this rule applies. Refer to selector for syntax details."
        },
        "custom": {
          "$ref": "CustomHttpPattern",
          "description": "The custom pattern is used for specifying an HTTP method that is not included in the `pattern` field, such as HEAD, or \"*\" to leave the HTTP method unspecified for this rule. The wild-card rule is useful for services that provide content to Web (HTML) clients."
        },
        "additionalBindings": {
          "description": "Additional HTTP bindings for the selector. Nested bindings must not contain an `additional_bindings` field themselves (that is, the nesting may only be one level deep).",
          "items": {
            "$ref": "HttpRule"
          },
          "type": "array"
        },
        "patch": {
          "type": "string",
          "description": "Maps to HTTP PATCH. Used for updating a resource."
        },
        "get": {
          "description": "Maps to HTTP GET. Used for listing and getting information about resources.",
          "type": "string"
        },
        "body": {
          "description": "The name of the request field whose value is mapped to the HTTP request body, or `*` for mapping all request fields not captured by the path pattern to the HTTP body, or omitted for not having any HTTP request body. NOTE: the referred field must be present at the top-level of the request message type.",
          "type": "string"
        }
      }
    },
    "EnumValue": {
      "description": "Enum value definition.",
      "type": "object",
      "id": "EnumValue",
      "properties": {
        "number": {
          "format": "int32",
          "type": "integer",
          "description": "Enum value number."
        },
        "options": {
          "type": "array",
          "description": "Protocol buffer options.",
          "items": {
            "$ref": "Option"
          }
        },
        "name": {
          "type": "string",
          "description": "Enum value name."
        }
      }
    },
    "GoogleApiServiceusageV1beta1GetServiceIdentityResponse": {
      "properties": {
        "identity": {
          "description": "Service identity that service producer can use to access consumer resources. If exists is true, it contains email and unique_id. If exists is false, it contains pre-constructed email and empty unique_id.",
          "$ref": "GoogleApiServiceusageV1beta1ServiceIdentity"
        },
        "state": {
          "enum": [
            "IDENTITY_STATE_UNSPECIFIED",
            "ACTIVE"
          ],
          "enumDescriptions": [
            "Default service identity state. This value is used if the state is omitted.",
            "Service identity has been created and can be used."
          ],
          "type": "string",
          "description": "Service identity state."
        }
      },
      "type": "object",
      "id": "GoogleApiServiceusageV1beta1GetServiceIdentityResponse",
      "description": "Response message for getting service identity."
    },
    "LogDescriptor": {
      "type": "object",
      "id": "LogDescriptor",
      "description": "A description of a log type. Example in YAML format: - name: library.googleapis.com/activity_history description: The history of borrowing and returning library items. display_name: Activity labels: - key: /customer_id description: Identifier of a library customer",
      "properties": {
        "labels": {
          "items": {
            "$ref": "LabelDescriptor"
          },
          "type": "array",
          "description": "The set of labels that are available to describe a specific log entry. Runtime requests that contain labels not specified here are considered invalid."
        },
        "displayName": {
          "description": "The human-readable name for this log. This information appears on the user interface and should be concise.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the log. It must be less than 512 characters long and can include the following characters: upper- and lower-case alphanumeric characters [A-Za-z0-9], and punctuation characters including slash, underscore, hyphen, period [/_-.]."
        },
        "description": {
          "type": "string",
          "description": "A human-readable description of this log. This information appears in the documentation and can contain details."
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {}
    },
    "BatchCreateConsumerOverridesResponse": {
      "description": "Response message for BatchCreateConsumerOverrides",
      "type": "object",
      "id": "BatchCreateConsumerOverridesResponse",
      "properties": {
        "overrides": {
          "description": "The overrides that were created.",
          "items": {
            "$ref": "QuotaOverride"
          },
          "type": "array"
        }
      }
    },
    "Page": {
      "description": "Represents a documentation page. A page can contain subpages to represent nested documentation set structure.",
      "properties": {
        "subpages": {
          "items": {
            "$ref": "Page"
          },
          "type": "array",
          "description": "Subpages of this page. The order of subpages specified here will be honored in the generated docset."
        },
        "content": {
          "description": "The Markdown content of the page. You can use (== include {path} ==) to include content from a Markdown file. The content can be used to produce the documentation page such as HTML format page.",
          "type": "string"
        },
        "name": {
          "description": "The name of the page. It will be used as an identity of the page to generate URI of the page, text of the link to this page in navigation, etc. The full page name (start from the root page name to this page concatenated with `.`) can be used as reference to the page in your documentation. For example: pages: - name: Tutorial content: (== include tutorial.md ==) subpages: - name: Java content: (== include tutorial_java.md ==) You can reference `Java` page using Markdown reference link syntax: `Java`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Page"
    },
    "BatchEnableServicesRequest": {
      "id": "BatchEnableServicesRequest",
      "type": "object",
      "description": "Request message for the `BatchEnableServices` method.",
      "properties": {
        "serviceIds": {
          "description": "The identifiers of the services to enable on the project. A valid identifier would be: serviceusage.googleapis.com Enabling services requires that each service is public or is shared with the user enabling the service. Two or more services must be specified. To enable a single service, use the `EnableService` method instead. A single request can enable a maximum of 20 services at a time. If more than 20 services are specified, the request will fail, and no state changes will occur.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "AuthProvider": {
      "properties": {
        "authorizationUrl": {
          "type": "string",
          "description": "Redirect URL if JWT token is required but not present or is expired. Implement authorizationUrl of securityDefinitions in OpenAPI spec."
        },
        "jwtLocations": {
          "type": "array",
          "description": "Defines the locations to extract the JWT. For now it is only used by the Cloud Endpoints to store the OpenAPI extension [x-google-jwt-locations] (https://cloud.google.com/endpoints/docs/openapi/openapi-extensions#x-google-jwt-locations) JWT locations can be one of HTTP headers, URL query parameters or cookies. The rule is that the first match wins. If not specified, default to use following 3 locations: 1) Authorization: Bearer 2) x-goog-iap-jwt-assertion 3) access_token query parameter Default locations can be specified as followings: jwt_locations: - header: Authorization value_prefix: \"Bearer \" - header: x-goog-iap-jwt-assertion - query: access_token",
          "items": {
            "$ref": "JwtLocation"
          }
        },
        "issuer": {
          "description": "Identifies the principal that issued the JWT. See https://tools.ietf.org/html/draft-ietf-oauth-json-web-token-32#section-4.1.1 Usually a URL or an email address. Example: https://securetoken.google.com Example: 1234567-compute@developer.gserviceaccount.com",
          "type": "string"
        },
        "jwksUri": {
          "description": "URL of the provider's public key set to validate signature of the JWT. See [OpenID Discovery](https://openid.net/specs/openid-connect-discovery-1_0.html#ProviderMetadata). Optional if the key set document: - can be retrieved from [OpenID Discovery](https://openid.net/specs/openid-connect-discovery-1_0.html) of the issuer. - can be inferred from the email domain of the issuer (e.g. a Google service account). Example: https://www.googleapis.com/oauth2/v1/certs",
          "type": "string"
        },
        "id": {
          "description": "The unique identifier of the auth provider. It will be referred to by `AuthRequirement.provider_id`. Example: \"bookstore_auth\".",
          "type": "string"
        },
        "audiences": {
          "type": "string",
          "description": "The list of JWT [audiences](https://tools.ietf.org/html/draft-ietf-oauth-json-web-token-32#section-4.1.3). that are allowed to access. A JWT containing any of these audiences will be accepted. When this setting is absent, JWTs with audiences: - \"https://[service.name]/[google.protobuf.Api.name]\" - \"https://[service.name]/\" will be accepted. For example, if no audiences are in the setting, LibraryService API will accept JWTs with the following audiences: - https://library-example.googleapis.com/google.example.library.v1.LibraryService - https://library-example.googleapis.com/ Example: audiences: bookstore_android.apps.googleusercontent.com, bookstore_web.apps.googleusercontent.com"
        }
      },
      "id": "AuthProvider",
      "type": "object",
      "description": "Configuration for an authentication provider, including support for [JSON Web Token (JWT)](https://tools.ietf.org/html/draft-ietf-oauth-json-web-token-32)."
    },
    "CustomErrorRule": {
      "id": "CustomErrorRule",
      "description": "A custom error rule.",
      "properties": {
        "selector": {
          "description": "Selects messages to which this rule applies. Refer to selector for syntax details.",
          "type": "string"
        },
        "isErrorType": {
          "description": "Mark this message as possible payload in error response. Otherwise, objects of this type will be filtered when they appear in error payload.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "RubySettings": {
      "id": "RubySettings",
      "properties": {
        "common": {
          "$ref": "CommonLanguageSettings",
          "description": "Some settings."
        }
      },
      "description": "Settings for Ruby client libraries.",
      "type": "object"
    },
    "ImportAdminQuotaPoliciesMetadata": {
      "id": "ImportAdminQuotaPoliciesMetadata",
      "description": "Metadata message that provides information such as progress, partial failures, and similar information on each GetOperation call of LRO returned by ImportAdminQuotaPolicies.",
      "properties": {},
      "type": "object"
    },
    "OverrideInlineSource": {
      "type": "object",
      "id": "OverrideInlineSource",
      "properties": {
        "overrides": {
          "description": "The overrides to create. Each override must have a value for 'metric' and 'unit', to specify which metric and which limit the override should be applied to. The 'name' field of the override does not need to be set; it is ignored.",
          "items": {
            "$ref": "QuotaOverride"
          },
          "type": "array"
        }
      },
      "description": "Import data embedded in the request message"
    },
    "EnableRule": {
      "type": "object",
      "properties": {
        "services": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "DEPRECATED: Please use field `values`. Service should have prefix `services/`. The names of the services that are enabled. Example: `storage.googleapis.com`.",
          "deprecated": true
        },
        "values": {
          "items": {
            "type": "string"
          },
          "description": "The names of the services or service groups that are enabled. Example: `services/storage.googleapis.com`, `groups/googleServices`, `groups/allServices`.",
          "type": "array"
        },
        "groups": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "DEPRECATED: Please use field `values`. Service group should have prefix `groups/`. The names of the service groups that are enabled (Not Implemented). Example: `groups/googleServices`.",
          "deprecated": true
        },
        "enableType": {
          "enumDescriptions": [
            "Unspecified enable type, which means enabled as both client and resource project.",
            "Enable all clients under the CRM node specified by `ConsumerPolicy.name` to use the listed services. A client can be an API key, an OAuth client, or a service account.",
            "Enable resources in the list services to be created and used under the CRM node specified by the `ConsumerPolicy.name`.",
            "Activation made by Service Usage v1 API. This will be how consumers differentiate between policy changes made by v1 and v2 clients and understand what is actually possible based on those different policies."
          ],
          "enum": [
            "ENABLE_TYPE_UNSPECIFIED",
            "CLIENT",
            "RESOURCE",
            "V1_COMPATIBLE"
          ],
          "type": "string",
          "description": "Client and resource project enable type."
        }
      },
      "id": "EnableRule",
      "description": "The consumer policy rule that defines usable services and service groups."
    },
    "PhpSettings": {
      "properties": {
        "common": {
          "$ref": "CommonLanguageSettings",
          "description": "Some settings."
        }
      },
      "id": "PhpSettings",
      "description": "Settings for Php client libraries.",
      "type": "object"
    },
    "Logging": {
      "type": "object",
      "properties": {
        "producerDestinations": {
          "type": "array",
          "description": "Logging configurations for sending logs to the producer project. There can be multiple producer destinations, each one must have a different monitored resource type. A log can be used in at most one producer destination.",
          "items": {
            "$ref": "LoggingDestination"
          }
        },
        "consumerDestinations": {
          "type": "array",
          "items": {
            "$ref": "LoggingDestination"
          },
          "description": "Logging configurations for sending logs to the consumer project. There can be multiple consumer destinations, each one must have a different monitored resource type. A log can be used in at most one consumer destination."
        }
      },
      "id": "Logging",
      "description": "Logging configuration of the service. The following example shows how to configure logs to be sent to the producer and consumer projects. In the example, the `activity_history` log is sent to both the producer and consumer projects, whereas the `purchase_history` log is only sent to the producer project. monitored_resources: - type: library.googleapis.com/branch labels: - key: /city description: The city where the library branch is located in. - key: /name description: The name of the branch. logs: - name: activity_history labels: - key: /customer_id - name: purchase_history logging: producer_destinations: - monitored_resource: library.googleapis.com/branch logs: - activity_history - purchase_history consumer_destinations: - monitored_resource: library.googleapis.com/branch logs: - activity_history"
    },
    "CustomError": {
      "description": "Customize service error responses. For example, list any service specific protobuf types that can appear in error detail lists of error responses. Example: custom_error: types: - google.foo.v1.CustomError - google.foo.v1.AnotherError",
      "id": "CustomError",
      "type": "object",
      "properties": {
        "types": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of custom error detail types, e.g. 'google.foo.v1.CustomError'."
        },
        "rules": {
          "description": "The list of custom error rules that apply to individual API messages. **NOTE:** All service configuration rules follow \"last one wins\" order.",
          "items": {
            "$ref": "CustomErrorRule"
          },
          "type": "array"
        }
      }
    },
    "NodeSettings": {
      "description": "Settings for Node client libraries.",
      "type": "object",
      "id": "NodeSettings",
      "properties": {
        "common": {
          "$ref": "CommonLanguageSettings",
          "description": "Some settings."
        }
      }
    },
    "Http": {
      "id": "Http",
      "properties": {
        "fullyDecodeReservedExpansion": {
          "type": "boolean",
          "description": "When set to true, URL path parameters will be fully URI-decoded except in cases of single segment matches in reserved expansion, where \"%2F\" will be left encoded. The default behavior is to not decode RFC 6570 reserved characters in multi segment matches."
        },
        "rules": {
          "items": {
            "$ref": "HttpRule"
          },
          "type": "array",
          "description": "A list of HTTP configuration rules that apply to individual API methods. **NOTE:** All service configuration rules follow \"last one wins\" order."
        }
      },
      "type": "object",
      "description": "Defines the HTTP configuration for an API service. It contains a list of HttpRule, each specifying the mapping of an RPC method to one or more HTTP REST API methods."
    },
    "Type": {
      "description": "A protocol buffer message type.",
      "type": "object",
      "id": "Type",
      "properties": {
        "fields": {
          "items": {
            "$ref": "Field"
          },
          "type": "array",
          "description": "The list of fields."
        },
        "options": {
          "items": {
            "$ref": "Option"
          },
          "description": "The protocol buffer options.",
          "type": "array"
        },
        "edition": {
          "description": "The source edition string, only valid when syntax is SYNTAX_EDITIONS.",
          "type": "string"
        },
        "oneofs": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of types appearing in `oneof` definitions in this type."
        },
        "name": {
          "type": "string",
          "description": "The fully qualified message name."
        },
        "syntax": {
          "type": "string",
          "enum": [
            "SYNTAX_PROTO2",
            "SYNTAX_PROTO3",
            "SYNTAX_EDITIONS"
          ],
          "enumDescriptions": [
            "Syntax `proto2`.",
            "Syntax `proto3`.",
            "Syntax `editions`."
          ],
          "description": "The source syntax."
        },
        "sourceContext": {
          "description": "The source context.",
          "$ref": "SourceContext"
        }
      }
    },
    "Method": {
      "properties": {
        "responseStreaming": {
          "type": "boolean",
          "description": "If true, the response is streamed."
        },
        "responseTypeUrl": {
          "description": "The URL of the output message type.",
          "type": "string"
        },
        "syntax": {
          "description": "The source syntax of this method.",
          "enumDescriptions": [
            "Syntax `proto2`.",
            "Syntax `proto3`.",
            "Syntax `editions`."
          ],
          "type": "string",
          "enum": [
            "SYNTAX_PROTO2",
            "SYNTAX_PROTO3",
            "SYNTAX_EDITIONS"
          ]
        },
        "requestStreaming": {
          "description": "If true, the request is streamed.",
          "type": "boolean"
        },
        "requestTypeUrl": {
          "type": "string",
          "description": "A URL of the input message type."
        },
        "options": {
          "description": "Any metadata attached to the method.",
          "type": "array",
          "items": {
            "$ref": "Option"
          }
        },
        "name": {
          "description": "The simple name of this method.",
          "type": "string"
        }
      },
      "id": "Method",
      "type": "object",
      "description": "Method represents a method of an API interface."
    },
    "GoogleApiServiceusageV1ServiceConfig": {
      "id": "GoogleApiServiceusageV1ServiceConfig",
      "properties": {
        "apis": {
          "type": "array",
          "description": "A list of API interfaces exported by this service. Contains only the names, versions, and method names of the interfaces.",
          "items": {
            "$ref": "Api"
          }
        },
        "documentation": {
          "description": "Additional API documentation. Contains only the summary and the documentation URL.",
          "$ref": "Documentation"
        },
        "usage": {
          "$ref": "Usage",
          "description": "Configuration controlling usage of this service."
        },
        "monitoring": {
          "description": "Monitoring configuration. This should not include the 'producer_destinations' field.",
          "$ref": "Monitoring"
        },
        "monitoredResources": {
          "items": {
            "$ref": "MonitoredResourceDescriptor"
          },
          "description": "Defines the monitored resources used by this service. This is required by the Service.monitoring and Service.logging configurations.",
          "type": "array"
        },
        "title": {
          "description": "The product title for this service.",
          "type": "string"
        },
        "endpoints": {
          "items": {
            "$ref": "Endpoint"
          },
          "type": "array",
          "description": "Configuration for network endpoints. Contains only the names and aliases of the endpoints."
        },
        "authentication": {
          "description": "Auth configuration. Contains only the OAuth rules.",
          "$ref": "Authentication"
        },
        "quota": {
          "description": "Quota configuration.",
          "$ref": "Quota"
        },
        "name": {
          "description": "The DNS address at which this service is available. An example DNS address would be: `calendar.googleapis.com`.",
          "type": "string"
        }
      },
      "description": "The configuration of the service.",
      "type": "object"
    },
    "SystemParameters": {
      "id": "SystemParameters",
      "type": "object",
      "description": "### System parameter configuration A system parameter is a special kind of parameter defined by the API system, not by an individual API. It is typically mapped to an HTTP header and/or a URL query parameter. This configuration specifies which methods change the names of the system parameters.",
      "properties": {
        "rules": {
          "description": "Define system parameters. The parameters defined here will override the default parameters implemented by the system. If this field is missing from the service config, default system parameters will be used. Default system parameters and names is implementation-dependent. Example: define api key for all methods system_parameters rules: - selector: \"*\" parameters: - name: api_key url_query_parameter: api_key Example: define 2 api key names for a specific method. system_parameters rules: - selector: \"/ListShelves\" parameters: - name: api_key http_header: Api-Key1 - name: api_key http_header: Api-Key2 **NOTE:** All service configuration rules follow \"last one wins\" order.",
          "type": "array",
          "items": {
            "$ref": "SystemParameterRule"
          }
        }
      }
    },
    "Usage": {
      "description": "Configuration controlling usage of a service.",
      "type": "object",
      "id": "Usage",
      "properties": {
        "requirements": {
          "type": "array",
          "description": "Requirements that must be satisfied before a consumer project can use the service. Each requirement is of the form /; for example 'serviceusage.googleapis.com/billing-enabled'. For Google APIs, a Terms of Service requirement must be included here. Google Cloud APIs must include \"serviceusage.googleapis.com/tos/cloud\". Other Google APIs should include \"serviceusage.googleapis.com/tos/universal\". Additional ToS can be included based on the business needs.",
          "items": {
            "type": "string"
          }
        },
        "producerNotificationChannel": {
          "description": "The full resource name of a channel used for sending notifications to the service producer. Google Service Management currently only supports [Google Cloud Pub/Sub](https://cloud.google.com/pubsub) as a notification channel. To use Google Cloud Pub/Sub as the channel, this must be the name of a Cloud Pub/Sub topic that uses the Cloud Pub/Sub topic name format documented in https://cloud.google.com/pubsub/docs/overview.",
          "type": "string"
        },
        "rules": {
          "type": "array",
          "items": {
            "$ref": "UsageRule"
          },
          "description": "A list of usage rules that apply to individual API methods. **NOTE:** All service configuration rules follow \"last one wins\" order."
        }
      }
    },
    "Service": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name of the consumer and service. A valid name would be: - `projects/123/services/serviceusage.googleapis.com`"
        },
        "config": {
          "$ref": "ServiceConfig",
          "description": "The service configuration of the available service. Some fields may be filtered out of the configuration in responses to the `ListServices` method. These fields are present only in responses to the `GetService` method."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "DISABLED",
            "ENABLED"
          ],
          "description": "Whether or not the service has been enabled for use by the consumer.",
          "enumDescriptions": [
            "The default value, which indicates that the enabled state of the service is unspecified or not meaningful. Currently, all consumers other than projects (such as folders and organizations) are always in this state.",
            "The service cannot be used by this consumer. It has either been explicitly disabled, or has never been enabled.",
            "The service has been explicitly enabled for use by this consumer."
          ],
          "type": "string"
        },
        "parent": {
          "description": "The resource name of the consumer. A valid name would be: - `projects/123`",
          "type": "string"
        }
      },
      "id": "Service",
      "description": "A service that is available for use by the consumer.",
      "type": "object"
    },
    "ListConsumerOverridesResponse": {
      "properties": {
        "overrides": {
          "items": {
            "$ref": "QuotaOverride"
          },
          "type": "array",
          "description": "Consumer overrides on this limit."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token identifying which result to start with; returned by a previous list call."
        }
      },
      "type": "object",
      "id": "ListConsumerOverridesResponse",
      "description": "Response message for ListConsumerOverrides."
    },
    "Publishing": {
      "id": "Publishing",
      "type": "object",
      "description": "This message configures the settings for publishing [Google Cloud Client libraries](https://cloud.google.com/apis/docs/cloud-client-libraries) generated from the service config.",
      "properties": {
        "methodSettings": {
          "items": {
            "$ref": "MethodSettings"
          },
          "type": "array",
          "description": "A list of API method settings, e.g. the behavior for methods that use the long-running operation pattern."
        },
        "organization": {
          "enumDescriptions": [
            "Not useful.",
            "Google Cloud Platform Org.",
            "Ads (Advertising) Org.",
            "Photos Org.",
            "Street View Org.",
            "Shopping Org.",
            "Geo Org.",
            "Generative AI - https://developers.generativeai.google"
          ],
          "type": "string",
          "enum": [
            "CLIENT_LIBRARY_ORGANIZATION_UNSPECIFIED",
            "CLOUD",
            "ADS",
            "PHOTOS",
            "STREET_VIEW",
            "SHOPPING",
            "GEO",
            "GENERATIVE_AI"
          ],
          "description": "For whom the client library is being published."
        },
        "documentationUri": {
          "type": "string",
          "description": "Link to product home page. Example: https://cloud.google.com/asset-inventory/docs/overview"
        },
        "protoReferenceDocumentationUri": {
          "type": "string",
          "description": "Optional link to proto reference documentation. Example: https://cloud.google.com/pubsub/lite/docs/reference/rpc"
        },
        "codeownerGithubTeams": {
          "type": "array",
          "description": "GitHub teams to be added to CODEOWNERS in the directory in GitHub containing source code for the client libraries for this API.",
          "items": {
            "type": "string"
          }
        },
        "apiShortName": {
          "type": "string",
          "description": "Used as a tracking tag when collecting data about the APIs developer relations artifacts like docs, packages delivered to package managers, etc. Example: \"speech\"."
        },
        "librarySettings": {
          "type": "array",
          "items": {
            "$ref": "ClientLibrarySettings"
          },
          "description": "Client library settings. If the same version string appears multiple times in this list, then the last one wins. Settings from earlier settings with the same version string are discarded."
        },
        "newIssueUri": {
          "description": "Link to a *public* URI where users can report issues. Example: https://issuetracker.google.com/issues/new?component=190865&template=1161103",
          "type": "string"
        },
        "githubLabel": {
          "description": "GitHub label to apply to issues and pull requests opened for this API.",
          "type": "string"
        },
        "docTagPrefix": {
          "description": "A prefix used in sample code when demarking regions to be included in documentation.",
          "type": "string"
        }
      }
    },
    "UpdateAdminQuotaPolicyMetadata": {
      "id": "UpdateAdminQuotaPolicyMetadata",
      "description": "Metadata message that provides information such as progress, partial failures, and similar information on each GetOperation call of LRO returned by UpdateAdminQuotaPolicy.",
      "type": "object",
      "properties": {}
    },
    "Control": {
      "id": "Control",
      "description": "Selects and configures the service controller used by the service. Example: control: environment: servicecontrol.googleapis.com",
      "type": "object",
      "properties": {
        "environment": {
          "type": "string",
          "description": "The service controller environment to use. If empty, no control plane feature (like quota and billing) will be enabled. The recommended value for most services is servicecontrol.googleapis.com"
        },
        "methodPolicies": {
          "items": {
            "$ref": "MethodPolicy"
          },
          "type": "array",
          "description": "Defines policies applying to the API methods of the service."
        }
      }
    },
    "Enum": {
      "description": "Enum type definition.",
      "properties": {
        "sourceContext": {
          "$ref": "SourceContext",
          "description": "The source context."
        },
        "options": {
          "items": {
            "$ref": "Option"
          },
          "type": "array",
          "description": "Protocol buffer options."
        },
        "enumvalue": {
          "description": "Enum value definitions.",
          "type": "array",
          "items": {
            "$ref": "EnumValue"
          }
        },
        "edition": {
          "type": "string",
          "description": "The source edition string, only valid when syntax is SYNTAX_EDITIONS."
        },
        "name": {
          "description": "Enum type name.",
          "type": "string"
        },
        "syntax": {
          "type": "string",
          "enum": [
            "SYNTAX_PROTO2",
            "SYNTAX_PROTO3",
            "SYNTAX_EDITIONS"
          ],
          "description": "The source syntax.",
          "enumDescriptions": [
            "Syntax `proto2`.",
            "Syntax `proto3`.",
            "Syntax `editions`."
          ]
        }
      },
      "id": "Enum",
      "type": "object"
    },
    "ConsumerQuotaMetric": {
      "properties": {
        "descendantConsumerQuotaLimits": {
          "items": {
            "$ref": "ConsumerQuotaLimit"
          },
          "type": "array",
          "description": "The quota limits targeting the descendant containers of the consumer in request. If the consumer in request is of type `organizations` or `folders`, the field will list per-project limits in the metric; if the consumer in request is of type `project`, the field will be empty. The `quota_buckets` field of each descendant consumer quota limit will not be populated."
        },
        "displayName": {
          "description": "The display name of the metric. An example name would be: `CPUs`",
          "type": "string"
        },
        "unit": {
          "type": "string",
          "description": "The units in which the metric value is reported."
        },
        "name": {
          "description": "The resource name of the quota settings on this metric for this consumer. An example name would be: `projects/123/services/compute.googleapis.com/consumerQuotaMetrics/compute.googleapis.com%2Fcpus` The resource name is intended to be opaque and should not be parsed for its component strings, since its representation could change in the future.",
          "type": "string"
        },
        "metric": {
          "description": "The name of the metric. An example name would be: `compute.googleapis.com/cpus`",
          "type": "string"
        },
        "consumerQuotaLimits": {
          "type": "array",
          "description": "The consumer quota for each quota limit defined on the metric.",
          "items": {
            "$ref": "ConsumerQuotaLimit"
          }
        }
      },
      "type": "object",
      "description": "Consumer quota settings for a quota metric.",
      "id": "ConsumerQuotaMetric"
    },
    "CppSettings": {
      "id": "CppSettings",
      "properties": {
        "common": {
          "$ref": "CommonLanguageSettings",
          "description": "Some settings."
        }
      },
      "type": "object",
      "description": "Settings for C++ client libraries."
    },
    "ImportConsumerOverridesResponse": {
      "properties": {
        "overrides": {
          "items": {
            "$ref": "QuotaOverride"
          },
          "description": "The overrides that were created from the imported data.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "ImportConsumerOverridesResponse",
      "description": "Response message for ImportConsumerOverrides"
    },
    "MonitoredResourceDescriptor": {
      "id": "MonitoredResourceDescriptor",
      "description": "An object that describes the schema of a MonitoredResource object using a type name and a set of labels. For example, the monitored resource descriptor for Google Compute Engine VM instances has a type of `\"gce_instance\"` and specifies the use of the labels `\"instance_id\"` and `\"zone\"` to identify particular VM instances. Different APIs can support different monitored resource types. APIs generally provide a `list` method that returns the monitored resource descriptors used by the API. ",
      "type": "object",
      "properties": {
        "launchStage": {
          "type": "string",
          "enumDescriptions": [
            "Do not use this default value.",
            "The feature is not yet implemented. Users can not use it.",
            "Prelaunch features are hidden from users and are only visible internally.",
            "Early Access features are limited to a closed group of testers. To use these features, you must sign up in advance and sign a Trusted Tester agreement (which includes confidentiality provisions). These features may be unstable, changed in backward-incompatible ways, and are not guaranteed to be released.",
            "Alpha is a limited availability test for releases before they are cleared for widespread use. By Alpha, all significant design issues are resolved and we are in the process of verifying functionality. Alpha customers need to apply for access, agree to applicable terms, and have their projects allowlisted. Alpha releases don't have to be feature complete, no SLAs are provided, and there are no technical support obligations, but they will be far enough along that customers can actually use them in test environments or for limited-use tests -- just like they would in normal production cases.",
            "Beta is the point at which we are ready to open a release for any customer to use. There are no SLA or technical support obligations in a Beta release. Products will be complete from a feature perspective, but may have some open outstanding issues. Beta releases are suitable for limited production use cases.",
            "GA features are open to all developers and are considered stable and fully qualified for production use.",
            "Deprecated features are scheduled to be shut down and removed. For more information, see the \"Deprecation Policy\" section of our [Terms of Service](https://cloud.google.com/terms/) and the [Google Cloud Platform Subject to the Deprecation Policy](https://cloud.google.com/terms/deprecation) documentation."
          ],
          "description": "Optional. The launch stage of the monitored resource definition.",
          "enum": [
            "LAUNCH_STAGE_UNSPECIFIED",
            "UNIMPLEMENTED",
            "PRELAUNCH",
            "EARLY_ACCESS",
            "ALPHA",
            "BETA",
            "GA",
            "DEPRECATED"
          ]
        },
        "displayName": {
          "description": "Optional. A concise name for the monitored resource type that might be displayed in user interfaces. It should be a Title Cased Noun Phrase, without any article or other determiners. For example, `\"Google Cloud SQL Database\"`.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Optional. The resource name of the monitored resource descriptor: `\"projects/{project_id}/monitoredResourceDescriptors/{type}\"` where {type} is the value of the `type` field in this object and {project_id} is a project ID that provides API-specific context for accessing the type. APIs that do not use project information can use the resource name format `\"monitoredResourceDescriptors/{type}\"`."
        },
        "type": {
          "description": "Required. The monitored resource type. For example, the type `\"cloudsql_database\"` represents databases in Google Cloud SQL. For a list of types, see [Monitoring resource types](https://cloud.google.com/monitoring/api/resources) and [Logging resource types](https://cloud.google.com/logging/docs/api/v2/resource-list).",
          "type": "string"
        },
        "description": {
          "description": "Optional. A detailed description of the monitored resource type that might be used in documentation.",
          "type": "string"
        },
        "labels": {
          "type": "array",
          "items": {
            "$ref": "LabelDescriptor"
          },
          "description": "Required. A set of labels used to describe instances of this monitored resource type. For example, an individual Google Cloud SQL database is identified by values for the labels `\"database_id\"` and `\"zone\"`."
        }
      }
    },
    "Api": {
      "type": "object",
      "id": "Api",
      "description": "Api is a light-weight descriptor for an API Interface. Interfaces are also described as \"protocol buffer services\" in some contexts, such as by the \"service\" keyword in a .proto file, but they are different from API Services, which represent a concrete implementation of an interface as opposed to simply a description of methods and bindings. They are also sometimes simply referred to as \"APIs\" in other contexts, such as the name of this message itself. See https://cloud.google.com/apis/design/glossary for detailed terminology.",
      "properties": {
        "sourceContext": {
          "$ref": "SourceContext",
          "description": "Source context for the protocol buffer service represented by this message."
        },
        "version": {
          "type": "string",
          "description": "A version string for this interface. If specified, must have the form `major-version.minor-version`, as in `1.10`. If the minor version is omitted, it defaults to zero. If the entire version field is empty, the major version is derived from the package name, as outlined below. If the field is not empty, the version in the package name will be verified to be consistent with what is provided here. The versioning schema uses [semantic versioning](http://semver.org) where the major version number indicates a breaking change and the minor version an additive, non-breaking change. Both version numbers are signals to users what to expect from different versions, and should be carefully chosen based on the product plan. The major version is also reflected in the package name of the interface, which must end in `v`, as in `google.feature.v1`. For major versions 0 and 1, the suffix can be omitted. Zero major versions must only be used for experimental, non-GA interfaces. "
        },
        "name": {
          "type": "string",
          "description": "The fully qualified name of this interface, including package name followed by the interface's simple name."
        },
        "methods": {
          "items": {
            "$ref": "Method"
          },
          "description": "The methods of this interface, in unspecified order.",
          "type": "array"
        },
        "mixins": {
          "type": "array",
          "items": {
            "$ref": "Mixin"
          },
          "description": "Included interfaces. See Mixin."
        },
        "syntax": {
          "type": "string",
          "enumDescriptions": [
            "Syntax `proto2`.",
            "Syntax `proto3`.",
            "Syntax `editions`."
          ],
          "description": "The source syntax of the service.",
          "enum": [
            "SYNTAX_PROTO2",
            "SYNTAX_PROTO3",
            "SYNTAX_EDITIONS"
          ]
        },
        "options": {
          "items": {
            "$ref": "Option"
          },
          "description": "Any metadata attached to the interface.",
          "type": "array"
        }
      }
    },
    "Monitoring": {
      "id": "Monitoring",
      "properties": {
        "consumerDestinations": {
          "description": "Monitoring configurations for sending metrics to the consumer project. There can be multiple consumer destinations. A monitored resource type may appear in multiple monitoring destinations if different aggregations are needed for different sets of metrics associated with that monitored resource type. A monitored resource and metric pair may only be used once in the Monitoring configuration.",
          "items": {
            "$ref": "MonitoringDestination"
          },
          "type": "array"
        },
        "producerDestinations": {
          "type": "array",
          "items": {
            "$ref": "MonitoringDestination"
          },
          "description": "Monitoring configurations for sending metrics to the producer project. There can be multiple producer destinations. A monitored resource type may appear in multiple monitoring destinations if different aggregations are needed for different sets of metrics associated with that monitored resource type. A monitored resource and metric pair may only be used once in the Monitoring configuration."
        }
      },
      "type": "object",
      "description": "Monitoring configuration of the service. The example below shows how to configure monitored resources and metrics for monitoring. In the example, a monitored resource and two metrics are defined. The `library.googleapis.com/book/returned_count` metric is sent to both producer and consumer projects, whereas the `library.googleapis.com/book/num_overdue` metric is only sent to the consumer project. monitored_resources: - type: library.googleapis.com/Branch display_name: \"Library Branch\" description: \"A branch of a library.\" launch_stage: GA labels: - key: resource_container description: \"The Cloud container (ie. project id) for the Branch.\" - key: location description: \"The location of the library branch.\" - key: branch_id description: \"The id of the branch.\" metrics: - name: library.googleapis.com/book/returned_count display_name: \"Books Returned\" description: \"The count of books that have been returned.\" launch_stage: GA metric_kind: DELTA value_type: INT64 unit: \"1\" labels: - key: customer_id description: \"The id of the customer.\" - name: library.googleapis.com/book/num_overdue display_name: \"Books Overdue\" description: \"The current number of overdue books.\" launch_stage: GA metric_kind: GAUGE value_type: INT64 unit: \"1\" labels: - key: customer_id description: \"The id of the customer.\" monitoring: producer_destinations: - monitored_resource: library.googleapis.com/Branch metrics: - library.googleapis.com/book/returned_count consumer_destinations: - monitored_resource: library.googleapis.com/Branch metrics: - library.googleapis.com/book/returned_count - library.googleapis.com/book/num_overdue"
    },
    "QuotaLimit": {
      "description": "`QuotaLimit` defines a specific limit that applies over a specified duration for a limit type. There can be at most one limit for a duration and limit type combination defined within a `QuotaGroup`.",
      "properties": {
        "description": {
          "description": "Optional. User-visible, extended description for this quota limit. Should be used only when more context is needed to understand this limit than provided by the limit's display name (see: `display_name`).",
          "type": "string"
        },
        "freeTier": {
          "description": "Free tier value displayed in the Developers Console for this limit. The free tier is the number of tokens that will be subtracted from the billed amount when billing is enabled. This field can only be set on a limit with duration \"1d\", in a billable group; it is invalid on any other limit. If this field is not set, it defaults to 0, indicating that there is no free tier for this service. Used by group-based quotas only.",
          "type": "string",
          "format": "int64"
        },
        "unit": {
          "description": "Specify the unit of the quota limit. It uses the same syntax as Metric.unit. The supported unit kinds are determined by the quota backend system. Here are some examples: * \"1/min/{project}\" for quota per minute per project. Note: the order of unit components is insignificant. The \"1\" at the beginning is required to follow the metric unit syntax.",
          "type": "string"
        },
        "duration": {
          "description": "Duration of this limit in textual notation. Must be \"100s\" or \"1d\". Used by group-based quotas only.",
          "type": "string"
        },
        "values": {
          "description": "Tiered limit values. You must specify this as a key:value pair, with an integer value that is the maximum number of requests allowed for the specified unit. Currently only STANDARD is supported.",
          "type": "object",
          "additionalProperties": {
            "type": "string",
            "format": "int64"
          }
        },
        "displayName": {
          "description": "User-visible display name for this limit. Optional. If not set, the UI will provide a default display name based on the quota configuration. This field can be used to override the default display name generated from the configuration.",
          "type": "string"
        },
        "defaultLimit": {
          "type": "string",
          "description": "Default number of tokens that can be consumed during the specified duration. This is the number of tokens assigned when a client application developer activates the service for his/her project. Specifying a value of 0 will block all requests. This can be used if you are provisioning quota to selected consumers and blocking others. Similarly, a value of -1 will indicate an unlimited quota. No other negative values are allowed. Used by group-based quotas only.",
          "format": "int64"
        },
        "maxLimit": {
          "description": "Maximum number of tokens that can be consumed during the specified duration. Client application developers can override the default limit up to this maximum. If specified, this value cannot be set to a value less than the default limit. If not specified, it is set to the default limit. To allow clients to apply overrides with no upper bound, set this to -1, indicating unlimited maximum quota. Used by group-based quotas only.",
          "type": "string",
          "format": "int64"
        },
        "name": {
          "type": "string",
          "description": "Name of the quota limit. The name must be provided, and it must be unique within the service. The name can only include alphanumeric characters as well as '-'. The maximum length of the limit name is 64 characters."
        },
        "metric": {
          "description": "The name of the metric this quota limit applies to. The quota limits with the same metric will be checked together during runtime. The metric must be defined within the service config.",
          "type": "string"
        }
      },
      "id": "QuotaLimit",
      "type": "object"
    },
    "ProducerQuotaPolicy": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name of the policy. This name is generated by the server when the policy is created. Example names would be: `organizations/123/services/compute.googleapis.com/consumerQuotaMetrics/compute.googleapis.com%2Fcpus/limits/%2Fproject%2Fregion/producerQuotaPolicies/4a3f2c1d`"
        },
        "metric": {
          "type": "string",
          "description": "The name of the metric to which this policy applies. An example name would be: `compute.googleapis.com/cpus`"
        },
        "dimensions": {
          "description": " If this map is nonempty, then this policy applies only to specific values for dimensions defined in the limit unit. For example, a policy on a limit with the unit `1/{project}/{region}` could contain an entry with the key `region` and the value `us-east-1`; the policy is only applied to quota consumed in that region. This map has the following restrictions: * Keys that are not defined in the limit's unit are not valid keys. Any string appearing in {brackets} in the unit (besides {project} or {user}) is a defined key. * `project` is not a valid key; the project is already specified in the parent resource name. * `user` is not a valid key; the API does not support quota policies that apply only to a specific user. * If `region` appears as a key, its value must be a valid Cloud region. * If `zone` appears as a key, its value must be a valid Cloud zone. * If any valid key other than `region` or `zone` appears in the map, then all valid keys other than `region` or `zone` must also appear in the map.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "policyValue": {
          "description": "The quota policy value. Can be any nonnegative integer, or -1 (unlimited quota).",
          "type": "string",
          "format": "int64"
        },
        "unit": {
          "type": "string",
          "description": "The limit unit of the limit to which this policy applies. An example unit would be: `1/{project}/{region}` Note that `{project}` and `{region}` are not placeholders in this example; the literal characters `{` and `}` occur in the string."
        },
        "container": {
          "description": "The cloud resource container at which the quota policy is created. The format is `{container_type}/{container_number}`",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ProducerQuotaPolicy",
      "description": "Quota policy created by service producer."
    },
    "ImportAdminOverridesRequest": {
      "description": "Request message for ImportAdminOverrides",
      "properties": {
        "forceOnly": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Unspecified quota safety check.",
              "Validates that a quota mutation would not cause the consumer's effective limit to be lower than the consumer's quota usage.",
              "Validates that a quota mutation would not cause the consumer's effective limit to decrease by more than 10 percent."
            ],
            "enum": [
              "QUOTA_SAFETY_CHECK_UNSPECIFIED",
              "LIMIT_DECREASE_BELOW_USAGE",
              "LIMIT_DECREASE_PERCENTAGE_TOO_HIGH"
            ],
            "type": "string"
          },
          "description": "The list of quota safety checks to ignore before the override mutation. Unlike 'force' field that ignores all the quota safety checks, the 'force_only' field ignores only the specified checks; other checks are still enforced. The 'force' and 'force_only' fields cannot both be set."
        },
        "inlineSource": {
          "description": "The import data is specified in the request message itself",
          "$ref": "OverrideInlineSource"
        },
        "force": {
          "type": "boolean",
          "description": "Whether to force the creation of the quota overrides. Setting the force parameter to 'true' ignores all quota safety checks that would fail the request. QuotaSafetyCheck lists all such validations."
        }
      },
      "id": "ImportAdminOverridesRequest",
      "type": "object"
    },
    "Billing": {
      "type": "object",
      "id": "Billing",
      "description": "Billing related configuration of the service. The following example shows how to configure monitored resources and metrics for billing, `consumer_destinations` is the only supported destination and the monitored resources need at least one label key `cloud.googleapis.com/location` to indicate the location of the billing usage, using different monitored resources between monitoring and billing is recommended so they can be evolved independently: monitored_resources: - type: library.googleapis.com/billing_branch labels: - key: cloud.googleapis.com/location description: | Predefined label to support billing location restriction. - key: city description: | Custom label to define the city where the library branch is located in. - key: name description: Custom label to define the name of the library branch. metrics: - name: library.googleapis.com/book/borrowed_count metric_kind: DELTA value_type: INT64 unit: \"1\" billing: consumer_destinations: - monitored_resource: library.googleapis.com/billing_branch metrics: - library.googleapis.com/book/borrowed_count",
      "properties": {
        "consumerDestinations": {
          "description": "Billing configurations for sending metrics to the consumer project. There can be multiple consumer destinations per service, each one must have a different monitored resource type. A metric can be used in at most one consumer destination.",
          "items": {
            "$ref": "BillingDestination"
          },
          "type": "array"
        }
      }
    },
    "LabelDescriptor": {
      "id": "LabelDescriptor",
      "type": "object",
      "description": "A description of a label.",
      "properties": {
        "key": {
          "description": "The label key.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "A human-readable description for the label."
        },
        "valueType": {
          "enumDescriptions": [
            "A variable-length string. This is the default.",
            "Boolean; true or false.",
            "A 64-bit signed integer."
          ],
          "description": "The type of data that can be assigned to the label.",
          "enum": [
            "STRING",
            "BOOL",
            "INT64"
          ],
          "type": "string"
        }
      }
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "description": "The operation metadata returned for the batchend services operation.",
      "type": "object",
      "properties": {
        "resourceNames": {
          "description": "The full name of the resources that this operation is directly associated with.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoSettings": {
      "id": "GoSettings",
      "type": "object",
      "properties": {
        "common": {
          "description": "Some settings.",
          "$ref": "CommonLanguageSettings"
        }
      },
      "description": "Settings for Go client libraries."
    },
    "Status": {
      "id": "Status",
      "type": "object",
      "properties": {
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
[...]
