{
  "fullyEncodeReservedExpansion": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/drive": {
          "description": "See, edit, create, and delete all of your Google Drive files"
        },
        "https://www.googleapis.com/auth/spreadsheets": {
          "description": "See, edit, create, and delete all your Google Sheets spreadsheets"
        },
        "https://www.googleapis.com/auth/drive.readonly": {
          "description": "See and download all your Google Drive files"
        },
        "https://www.googleapis.com/auth/drive.file": {
          "description": "See, edit, create, and delete only the specific Google Drive files you use with this app"
        },
        "https://www.googleapis.com/auth/spreadsheets.readonly": {
          "description": "See all your Google Sheets spreadsheets"
        }
      }
    }
  },
  "documentationLink": "https://developers.google.com/sheets/",
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "baseUrl": "https://sheets.googleapis.com/",
  "canonicalName": "Sheets",
  "ownerName": "Google",
  "servicePath": "",
  "rootUrl": "https://sheets.googleapis.com/",
  "schemas": {
    "PasteDataRequest": {
      "id": "PasteDataRequest",
      "properties": {
        "html": {
          "type": "boolean",
          "description": "True if the data is HTML."
        },
        "data": {
          "type": "string",
          "description": "The data to insert."
        },
        "delimiter": {
          "type": "string",
          "description": "The delimiter in the data."
        },
        "coordinate": {
          "$ref": "GridCoordinate",
          "description": "The coordinate at which the data should start being inserted."
        },
        "type": {
          "description": "How the data should be pasted.",
          "enum": [
            "PASTE_NORMAL",
            "PASTE_VALUES",
            "PASTE_FORMAT",
            "PASTE_NO_BORDERS",
            "PASTE_FORMULA",
            "PASTE_DATA_VALIDATION",
            "PASTE_CONDITIONAL_FORMATTING"
          ],
          "type": "string",
          "enumDescriptions": [
            "Paste values, formulas, formats, and merges.",
            "Paste the values ONLY without formats, formulas, or merges.",
            "Paste the format and data validation only.",
            "Like `PASTE_NORMAL` but without borders.",
            "Paste the formulas only.",
            "Paste the data validation only.",
            "Paste the conditional formatting rules only."
          ]
        }
      },
      "description": "Inserts data into the spreadsheet starting at the specified coordinate.",
      "type": "object"
    },
    "IterativeCalculationSettings": {
      "id": "IterativeCalculationSettings",
      "description": "Settings to control how circular dependencies are resolved with iterative calculation.",
      "type": "object",
      "properties": {
        "convergenceThreshold": {
          "description": "When iterative calculation is enabled and successive results differ by less than this threshold value, the calculation rounds stop.",
          "format": "double",
          "type": "number"
        },
        "maxIterations": {
          "format": "int32",
          "type": "integer",
          "description": "When iterative calculation is enabled, the maximum number of calculation rounds to perform."
        }
      }
    },
    "AddSheetResponse": {
      "description": "The result of adding a sheet.",
      "id": "AddSheetResponse",
      "properties": {
        "properties": {
          "$ref": "SheetProperties",
          "description": "The properties of the newly added sheet."
        }
      },
      "type": "object"
    },
    "BasicChartSpec": {
      "type": "object",
      "properties": {
        "series": {
          "items": {
            "$ref": "BasicChartSeries"
          },
          "type": "array",
          "description": "The data this chart is visualizing."
        },
        "legendPosition": {
          "type": "string",
          "description": "The position of the chart legend.",
          "enumDescriptions": [
            "Default value, do not use.",
            "The legend is rendered on the bottom of the chart.",
            "The legend is rendered on the left of the chart.",
            "The legend is rendered on the right of the chart.",
            "The legend is rendered on the top of the chart.",
            "No legend is rendered."
          ],
          "enum": [
            "BASIC_CHART_LEGEND_POSITION_UNSPECIFIED",
            "BOTTOM_LEGEND",
            "LEFT_LEGEND",
            "RIGHT_LEGEND",
            "TOP_LEGEND",
            "NO_LEGEND"
          ]
        },
        "totalDataLabel": {
          "description": "Controls whether to display additional data labels on stacked charts which sum the total value of all stacked values at each value along the domain axis. These data labels can only be set when chart_type is one of AREA, BAR, COLUMN, COMBO or STEPPED_AREA and stacked_type is either STACKED or PERCENT_STACKED. In addition, for COMBO, this will only be supported if there is only one type of stackable series type or one type has more series than the others and each of the other types have no more than one series. For example, if a chart has two stacked bar series and one area series, the total data labels will be supported. If it has three bar series and two area series, total data labels are not allowed. Neither CUSTOM nor placement can be set on the total_data_label.",
          "$ref": "DataLabel"
        },
        "chartType": {
          "type": "string",
          "enumDescriptions": [
            "Default value, do not use.",
            "A bar chart.",
            "A line chart.",
            "An area chart.",
            "A column chart.",
            "A scatter chart.",
            "A combo chart.",
            "A stepped area chart."
          ],
          "enum": [
            "BASIC_CHART_TYPE_UNSPECIFIED",
            "BAR",
            "LINE",
            "AREA",
            "COLUMN",
            "SCATTER",
            "COMBO",
            "STEPPED_AREA"
          ],
          "description": "The type of the chart."
        },
        "domains": {
          "type": "array",
          "items": {
            "$ref": "BasicChartDomain"
          },
          "description": "The domain of data this is charting. Only a single domain is supported."
        },
        "compareMode": {
          "enum": [
            "BASIC_CHART_COMPARE_MODE_UNSPECIFIED",
            "DATUM",
            "CATEGORY"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value, do not use.",
            "Only the focused data element is highlighted and shown in the tooltip.",
            "All data elements with the same category (e.g., domain value) are highlighted and shown in the tooltip."
          ],
          "description": "The behavior of tooltips and data highlighting when hovering on data and chart area."
        },
        "axis": {
          "items": {
            "$ref": "BasicChartAxis"
          },
          "type": "array",
          "description": "The axis on the chart."
        },
        "interpolateNulls": {
          "type": "boolean",
          "description": "If some values in a series are missing, gaps may appear in the chart (e.g, segments of lines in a line chart will be missing). To eliminate these gaps set this to true. Applies to Line, Area, and Combo charts."
        },
        "headerCount": {
          "format": "int32",
          "description": "The number of rows or columns in the data that are \"headers\". If not set, Google Sheets will guess how many rows are headers based on the data. (Note that BasicChartAxis.title may override the axis title inferred from the header values.)",
          "type": "integer"
        },
        "stackedType": {
          "type": "string",
          "enum": [
            "BASIC_CHART_STACKED_TYPE_UNSPECIFIED",
            "NOT_STACKED",
            "STACKED",
            "PERCENT_STACKED"
          ],
          "description": "The stacked type for charts that support vertical stacking. Applies to Area, Bar, Column, Combo, and Stepped Area charts.",
          "enumDescriptions": [
            "Default value, do not use.",
            "Series are not stacked.",
            "Series values are stacked, each value is rendered vertically beginning from the top of the value below it.",
            "Vertical stacks are stretched to reach the top of the chart, with values laid out as percentages of each other."
          ]
        },
        "threeDimensional": {
          "type": "boolean",
          "description": "True to make the chart 3D. Applies to Bar and Column charts."
        },
        "lineSmoothing": {
          "description": "Gets whether all lines should be rendered smooth or straight by default. Applies to Line charts.",
          "type": "boolean"
        }
      },
      "id": "BasicChartSpec",
      "description": "The specification for a basic chart. See BasicChartType for the list of charts this supports."
    },
    "DeleteSheetRequest": {
      "properties": {
        "sheetId": {
          "format": "int32",
          "description": "The ID of the sheet to delete. If the sheet is of DATA_SOURCE type, the associated DataSource is also deleted.",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "Deletes the requested sheet.",
      "id": "DeleteSheetRequest"
    },
    "UpdateDimensionPropertiesRequest": {
      "description": "Updates properties of dimensions within the specified range.",
      "type": "object",
      "properties": {
        "properties": {
          "description": "Properties to update.",
          "$ref": "DimensionProperties"
        },
        "range": {
          "description": "The rows or columns to update.",
          "$ref": "DimensionRange"
        },
        "fields": {
          "description": "The fields that should be updated. At least one field must be specified. The root `properties` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field.",
          "format": "google-fieldmask",
          "type": "string"
        },
        "dataSourceSheetRange": {
          "description": "The columns on a data source sheet to update.",
          "$ref": "DataSourceSheetDimensionRange"
        }
      },
      "id": "UpdateDimensionPropertiesRequest"
    },
    "DataSourceTable": {
      "type": "object",
      "description": "A data source table, which allows the user to import a static table of data from the DataSource into Sheets. This is also known as \"Extract\" in the Sheets editor.",
      "properties": {
        "dataExecutionStatus": {
          "readOnly": true,
          "description": "Output only. The data execution status.",
          "$ref": "DataExecutionStatus"
        },
        "columns": {
          "type": "array",
          "description": "Columns selected for the data source table. The column_selection_type must be SELECTED.",
          "items": {
            "$ref": "DataSourceColumnReference"
          }
        },
        "rowLimit": {
          "description": "The limit of rows to return. If not set, a default limit is applied. Please refer to the Sheets editor for the default and max limit.",
          "type": "integer",
          "format": "int32"
        },
        "filterSpecs": {
          "description": "Filter specifications in the data source table.",
          "items": {
            "$ref": "FilterSpec"
          },
          "type": "array"
        },
        "columnSelectionType": {
          "type": "string",
          "enum": [
            "DATA_SOURCE_TABLE_COLUMN_SELECTION_TYPE_UNSPECIFIED",
            "SELECTED",
            "SYNC_ALL"
          ],
          "description": "The type to select columns for the data source table. Defaults to SELECTED.",
          "enumDescriptions": [
            "The default column selection type, do not use.",
            "Select columns specified by columns field.",
            "Sync all current and future columns in the data source. If set, the data source table fetches all the columns in the data source at the time of refresh."
          ]
        },
        "sortSpecs": {
          "type": "array",
          "description": "Sort specifications in the data source table. The result of the data source table is sorted based on the sort specifications in order.",
          "items": {
            "$ref": "SortSpec"
          }
        },
        "dataSourceId": {
          "type": "string",
          "description": "The ID of the data source the data source table is associated with."
        }
      },
      "id": "DataSourceTable"
    },
    "UpdateConditionalFormatRuleResponse": {
      "properties": {
        "oldRule": {
          "description": "The old (deleted) rule. Not set if a rule was moved (because it is the same as new_rule).",
          "$ref": "ConditionalFormatRule"
        },
        "newRule": {
          "description": "The new rule that replaced the old rule (if replacing), or the rule that was moved (if moved)",
          "$ref": "ConditionalFormatRule"
        },
        "oldIndex": {
          "format": "int32",
          "description": "The old index of the rule. Not set if a rule was replaced (because it is the same as new_index).",
          "type": "integer"
        },
        "newIndex": {
          "type": "integer",
          "description": "The index of the new rule.",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "The result of updating a conditional format rule.",
      "id": "UpdateConditionalFormatRuleResponse"
    },
    "BatchGetValuesByDataFilterRequest": {
      "description": "The request for retrieving a range of values in a spreadsheet selected by a set of DataFilters.",
      "type": "object",
      "properties": {
        "dateTimeRenderOption": {
          "type": "string",
          "enum": [
            "SERIAL_NUMBER",
            "FORMATTED_STRING"
          ],
          "description": "How dates, times, and durations should be represented in the output. This is ignored if value_render_option is FORMATTED_VALUE. The default dateTime render option is SERIAL_NUMBER.",
          "enumDescriptions": [
            "Instructs date, time, datetime, and duration fields to be output as doubles in \"serial number\" format, as popularized by Lotus 1-2-3. The whole number portion of the value (left of the decimal) counts the days since December 30th 1899. The fractional portion (right of the decimal) counts the time as a fraction of the day. For example, January 1st 1900 at noon would be 2.5, 2 because it's 2 days after December 30th 1899, and .5 because noon is half a day. February 1st 1900 at 3pm would be 33.625. This correctly treats the year 1900 as not a leap year.",
            "Instructs date, time, datetime, and duration fields to be output as strings in their given number format (which depends on the spreadsheet locale)."
          ]
        },
        "valueRenderOption": {
          "enumDescriptions": [
            "Values will be calculated & formatted in the response according to the cell's formatting. Formatting is based on the spreadsheet's locale, not the requesting user's locale. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then `A2` would return `\"$1.23\"`.",
            "Values will be calculated, but not formatted in the reply. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then `A2` would return the number `1.23`.",
            "Values will not be calculated. The reply will include the formulas. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then A2 would return `\"=A1\"`. Sheets treats date and time values as decimal values. This lets you perform arithmetic on them in formulas. For more information on interpreting date and time values, see [About date & time values](https://developers.google.com/sheets/api/guides/formats#about_date_time_values)."
          ],
          "description": "How values should be represented in the output. The default render option is FORMATTED_VALUE.",
          "enum": [
            "FORMATTED_VALUE",
            "UNFORMATTED_VALUE",
            "FORMULA"
          ],
          "type": "string"
        },
        "majorDimension": {
          "description": "The major dimension that results should use. For example, if the spreadsheet data is: `A1=1,B1=2,A2=3,B2=4`, then a request that selects that range and sets `majorDimension=ROWS` returns `[[1,2],[3,4]]`, whereas a request that sets `majorDimension=COLUMNS` returns `[[1,3],[2,4]]`.",
          "enum": [
            "DIMENSION_UNSPECIFIED",
            "ROWS",
            "COLUMNS"
          ],
          "enumDescriptions": [
            "The default value, do not use.",
            "Operates on the rows of a sheet.",
            "Operates on the columns of a sheet."
          ],
          "type": "string"
        },
        "dataFilters": {
          "type": "array",
          "items": {
            "$ref": "DataFilter"
          },
          "description": "The data filters used to match the ranges of values to retrieve. Ranges that match any of the specified data filters are included in the response."
        }
      },
      "id": "BatchGetValuesByDataFilterRequest"
    },
    "MatchedDeveloperMetadata": {
      "type": "object",
      "description": "A developer metadata entry and the data filters specified in the original request that matched it.",
      "properties": {
        "developerMetadata": {
          "$ref": "DeveloperMetadata",
          "description": "The developer metadata matching the specified filters."
        },
        "dataFilters": {
          "items": {
            "$ref": "DataFilter"
          },
          "type": "array",
          "description": "All filters matching the returned developer metadata."
        }
      },
      "id": "MatchedDeveloperMetadata"
    },
    "DeleteFilterViewRequest": {
      "type": "object",
      "description": "Deletes a particular filter view.",
      "id": "DeleteFilterViewRequest",
      "properties": {
        "filterId": {
          "format": "int32",
          "type": "integer",
          "description": "The ID of the filter to delete."
        }
      }
    },
    "ErrorValue": {
      "properties": {
        "type": {
          "enumDescriptions": [
            "The default error type, do not use this.",
            "Corresponds to the `#ERROR!` error.",
            "Corresponds to the `#NULL!` error.",
            "Corresponds to the `#DIV/0` error.",
            "Corresponds to the `#VALUE!` error.",
            "Corresponds to the `#REF!` error.",
            "Corresponds to the `#NAME?` error.",
            "Corresponds to the `#NUM!` error.",
            "Corresponds to the `#N/A` error.",
            "Corresponds to the `Loading...` state."
          ],
          "description": "The type of error.",
          "enum": [
            "ERROR_TYPE_UNSPECIFIED",
            "ERROR",
            "NULL_VALUE",
            "DIVIDE_BY_ZERO",
            "VALUE",
            "REF",
            "NAME",
            "NUM",
            "N_A",
            "LOADING"
          ],
          "type": "string"
        },
        "message": {
          "type": "string",
          "description": "A message with more information about the error (in the spreadsheet's locale)."
        }
      },
      "type": "object",
      "description": "An error in a cell.",
      "id": "ErrorValue"
    },
    "FilterSpec": {
      "description": "The filter criteria associated with a specific column.",
      "id": "FilterSpec",
      "properties": {
        "columnIndex": {
          "type": "integer",
          "format": "int32",
          "description": "The zero-based column index."
        },
        "dataSourceColumnReference": {
          "description": "Reference to a data source column.",
          "$ref": "DataSourceColumnReference"
        },
        "filterCriteria": {
          "description": "The criteria for the column.",
          "$ref": "FilterCriteria"
        }
      },
      "type": "object"
    },
    "Color": {
      "id": "Color",
      "properties": {
        "alpha": {
          "format": "float",
          "type": "number",
          "description": "The fraction of this color that should be applied to the pixel. That is, the final pixel color is defined by the equation: `pixel color = alpha * (this color) + (1.0 - alpha) * (background color)` This means that a value of 1.0 corresponds to a solid color, whereas a value of 0.0 corresponds to a completely transparent color. This uses a wrapper message rather than a simple float scalar so that it is possible to distinguish between a default value and the value being unset. If omitted, this color object is rendered as a solid color (as if the alpha value had been explicitly given a value of 1.0)."
        },
        "blue": {
          "description": "The amount of blue in the color as a value in the interval [0, 1].",
          "format": "float",
          "type": "number"
        },
        "green": {
          "description": "The amount of green in the color as a value in the interval [0, 1].",
          "type": "number",
          "format": "float"
        },
        "red": {
          "description": "The amount of red in the color as a value in the interval [0, 1].",
          "type": "number",
          "format": "float"
        }
      },
      "description": "Represents a color in the RGBA color space. This representation is designed for simplicity of conversion to and from color representations in various languages over compactness. For example, the fields of this representation can be trivially provided to the constructor of `java.awt.Color` in Java; it can also be trivially provided to UIColor's `+colorWithRed:green:blue:alpha` method in iOS; and, with just a little work, it can be easily formatted into a CSS `rgba()` string in JavaScript. This reference page doesn't have information about the absolute color space that should be used to interpret the RGB value—for example, sRGB, Adobe RGB, DCI-P3, and BT.2020. By default, applications should assume the sRGB color space. When color equality needs to be decided, implementations, unless documented otherwise, treat two colors as equal if all their red, green, blue, and alpha values each differ by at most `1e-5`. Example (Java): import com.google.type.Color; // ... public static java.awt.Color fromProto(Color protocolor) { float alpha = protocolor.hasAlpha() ? protocolor.getAlpha().getValue() : 1.0; return new java.awt.Color( protocolor.getRed(), protocolor.getGreen(), protocolor.getBlue(), alpha); } public static Color toProto(java.awt.Color color) { float red = (float) color.getRed(); float green = (float) color.getGreen(); float blue = (float) color.getBlue(); float denominator = 255.0; Color.Builder resultBuilder = Color .newBuilder() .setRed(red / denominator) .setGreen(green / denominator) .setBlue(blue / denominator); int alpha = color.getAlpha(); if (alpha != 255) { result.setAlpha( FloatValue .newBuilder() .setValue(((float) alpha) / denominator) .build()); } return resultBuilder.build(); } // ... Example (iOS / Obj-C): // ... static UIColor* fromProto(Color* protocolor) { float red = [protocolor red]; float green = [protocolor green]; float blue = [protocolor blue]; FloatValue* alpha_wrapper = [protocolor alpha]; float alpha = 1.0; if (alpha_wrapper != nil) { alpha = [alpha_wrapper value]; } return [UIColor colorWithRed:red green:green blue:blue alpha:alpha]; } static Color* toProto(UIColor* color) { CGFloat red, green, blue, alpha; if (![color getRed:&red green:&green blue:&blue alpha:&alpha]) { return nil; } Color* result = [[Color alloc] init]; [result setRed:red]; [result setGreen:green]; [result setBlue:blue]; if (alpha \u003c= 0.9999) { [result setAlpha:floatWrapperWithValue(alpha)]; } [result autorelease]; return result; } // ... Example (JavaScript): // ... var protoToCssColor = function(rgb_color) { var redFrac = rgb_color.red || 0.0; var greenFrac = rgb_color.green || 0.0; var blueFrac = rgb_color.blue || 0.0; var red = Math.floor(redFrac * 255); var green = Math.floor(greenFrac * 255); var blue = Math.floor(blueFrac * 255); if (!('alpha' in rgb_color)) { return rgbToCssColor(red, green, blue); } var alphaFrac = rgb_color.alpha.value || 0.0; var rgbParams = [red, green, blue].join(','); return ['rgba(', rgbParams, ',', alphaFrac, ')'].join(''); }; var rgbToCssColor = function(red, green, blue) { var rgbNumber = new Number((red \u003c\u003c 16) | (green \u003c\u003c 8) | blue); var hexString = rgbNumber.toString(16); var missingZeros = 6 - hexString.length; var resultBuilder = ['#']; for (var i = 0; i \u003c missingZeros; i++) { resultBuilder.push('0'); } resultBuilder.push(hexString); return resultBuilder.join(''); }; // ...",
      "type": "object"
    },
    "AutoFillRequest": {
      "properties": {
        "useAlternateSeries": {
          "type": "boolean",
          "description": "True if we should generate data with the \"alternate\" series. This differs based on the type and amount of source data."
        },
        "range": {
          "description": "The range to autofill. This will examine the range and detect the location that has data and automatically fill that data in to the rest of the range.",
          "$ref": "GridRange"
        },
        "sourceAndDestination": {
          "$ref": "SourceAndDestination",
          "description": "The source and destination areas to autofill. This explicitly lists the source of the autofill and where to extend that data."
        }
      },
      "description": "Fills in more data based on existing data.",
      "type": "object",
      "id": "AutoFillRequest"
    },
    "OrgChartSpec": {
      "type": "object",
      "description": "An org chart. Org charts require a unique set of labels in labels and may optionally include parent_labels and tooltips. parent_labels contain, for each node, the label identifying the parent node. tooltips contain, for each node, an optional tooltip. For example, to describe an OrgChart with Alice as the CEO, Bob as the President (reporting to Alice) and Cathy as VP of Sales (also reporting to Alice), have labels contain \"Alice\", \"Bob\", \"Cathy\", parent_labels contain \"\", \"Alice\", \"Alice\" and tooltips contain \"CEO\", \"President\", \"VP Sales\".",
      "id": "OrgChartSpec",
      "properties": {
        "tooltips": {
          "description": "The data containing the tooltip for the corresponding node. A blank value results in no tooltip being displayed for the node. This field is optional.",
          "$ref": "ChartData"
        },
        "selectedNodeColor": {
          "$ref": "Color",
          "deprecated": true,
          "description": "The color of the selected org chart nodes. Deprecated: Use selected_node_color_style."
        },
        "nodeColorStyle": {
          "description": "The color of the org chart nodes. If node_color is also set, this field takes precedence.",
          "$ref": "ColorStyle"
        },
        "parentLabels": {
          "description": "The data containing the label of the parent for the corresponding node. A blank value indicates that the node has no parent and is a top-level node. This field is optional.",
          "$ref": "ChartData"
        },
        "selectedNodeColorStyle": {
          "$ref": "ColorStyle",
          "description": "The color of the selected org chart nodes. If selected_node_color is also set, this field takes precedence."
        },
        "nodeSize": {
          "enumDescriptions": [
            "Default value, do not use.",
            "The small org chart node size.",
            "The medium org chart node size.",
            "The large org chart node size."
          ],
          "description": "The size of the org chart nodes.",
          "enum": [
            "ORG_CHART_LABEL_SIZE_UNSPECIFIED",
            "SMALL",
            "MEDIUM",
            "LARGE"
          ],
          "type": "string"
        },
        "nodeColor": {
          "deprecated": true,
          "$ref": "Color",
          "description": "The color of the org chart nodes. Deprecated: Use node_color_style."
        },
        "labels": {
          "$ref": "ChartData",
          "description": "The data containing the labels for all the nodes in the chart. Labels must be unique."
        }
      }
    },
    "TreemapChartSpec": {
      "id": "TreemapChartSpec",
      "type": "object",
      "properties": {
        "labels": {
          "description": "The data that contains the treemap cell labels.",
          "$ref": "ChartData"
        },
        "headerColor": {
          "description": "The background color for header cells. Deprecated: Use header_color_style.",
          "$ref": "Color",
          "deprecated": true
        },
        "colorScale": {
          "description": "The color scale for data cells in the treemap chart. Data cells are assigned colors based on their color values. These color values come from color_data, or from size_data if color_data is not specified. Cells with color values less than or equal to min_value will have minValueColor as their background color. Cells with color values greater than or equal to max_value will have maxValueColor as their background color. Cells with color values between min_value and max_value will have background colors on a gradient between minValueColor and maxValueColor, the midpoint of the gradient being midValueColor. Cells with missing or non-numeric color values will have noDataColor as their background color.",
          "$ref": "TreemapChartColorScale"
        },
        "minValue": {
          "format": "double",
          "description": "The minimum possible data value. Cells with values less than this will have the same color as cells with this value. If not specified, defaults to the actual minimum value from color_data, or the minimum value from size_data if color_data is not specified.",
          "type": "number"
        },
        "colorData": {
          "description": "The data that determines the background color of each treemap data cell. This field is optional. If not specified, size_data is used to determine background colors. If specified, the data is expected to be numeric. color_scale will determine how the values in this data map to data cell background colors.",
          "$ref": "ChartData"
        },
        "headerColorStyle": {
          "$ref": "ColorStyle",
          "description": "The background color for header cells. If header_color is also set, this field takes precedence."
        },
        "maxValue": {
          "type": "number",
          "description": "The maximum possible data value. Cells with values greater than this will have the same color as cells with this value. If not specified, defaults to the actual maximum value from color_data, or the maximum value from size_data if color_data is not specified.",
          "format": "double"
        },
        "parentLabels": {
          "$ref": "ChartData",
          "description": "The data the contains the treemap cells' parent labels."
        },
        "levels": {
          "description": "The number of data levels to show on the treemap chart. These levels are interactive and are shown with their labels. Defaults to 2 if not specified.",
          "type": "integer",
          "format": "int32"
        },
        "hideTooltips": {
          "description": "True to hide tooltips.",
          "type": "boolean"
        },
        "sizeData": {
          "description": "The data that determines the size of each treemap data cell. This data is expected to be numeric. The cells corresponding to non-numeric or missing data will not be rendered. If color_data is not specified, this data is used to determine data cell background colors as well.",
          "$ref": "ChartData"
        },
        "hintedLevels": {
          "description": "The number of additional data levels beyond the labeled levels to be shown on the treemap chart. These levels are not interactive and are shown without their labels. Defaults to 0 if not specified.",
          "format": "int32",
          "type": "integer"
        },
        "textFormat": {
          "description": "The text format for all labels on the chart. The link field is not supported.",
          "$ref": "TextFormat"
        }
      },
      "description": "A Treemap chart."
    },
    "WaterfallChartSpec": {
      "id": "WaterfallChartSpec",
      "type": "object",
      "description": "A waterfall chart.",
      "properties": {
        "connectorLineStyle": {
          "$ref": "LineStyle",
          "description": "The line style for the connector lines."
        },
        "firstValueIsTotal": {
          "description": "True to interpret the first value as a total.",
          "type": "boolean"
        },
        "domain": {
          "description": "The domain data (horizontal axis) for the waterfall chart.",
          "$ref": "WaterfallChartDomain"
        },
        "stackedType": {
          "type": "string",
          "enumDescriptions": [
            "Default value, do not use.",
            "Values corresponding to the same domain (horizontal axis) value will be stacked vertically.",
            "Series will spread out along the horizontal axis."
          ],
          "description": "The stacked type.",
          "enum": [
            "WATERFALL_STACKED_TYPE_UNSPECIFIED",
            "STACKED",
            "SEQUENTIAL"
          ]
        },
        "hideConnectorLines": {
          "description": "True to hide connector lines between columns.",
          "type": "boolean"
        },
        "totalDataLabel": {
          "$ref": "DataLabel",
          "description": "Controls whether to display additional data labels on stacked charts which sum the total value of all stacked values at each value along the domain axis. stacked_type must be STACKED and neither CUSTOM nor placement can be set on the total_data_label."
        },
        "series": {
          "type": "array",
          "description": "The data this waterfall chart is visualizing.",
          "items": {
            "$ref": "WaterfallChartSeries"
          }
        }
      }
    },
    "AppendDimensionRequest": {
      "type": "object",
      "properties": {
        "dimension": {
          "enum": [
            "DIMENSION_UNSPECIFIED",
            "ROWS",
            "COLUMNS"
          ],
          "type": "string",
          "enumDescriptions": [
            "The default value, do not use.",
            "Operates on the rows of a sheet.",
            "Operates on the columns of a sheet."
          ],
          "description": "Whether rows or columns should be appended."
        },
        "sheetId": {
          "type": "integer",
          "format": "int32",
          "description": "The sheet to append rows or columns to."
        },
        "length": {
          "format": "int32",
          "type": "integer",
          "description": "The number of rows or columns to append."
        }
      },
      "id": "AppendDimensionRequest",
      "description": "Appends rows or columns to the end of a sheet."
    },
    "DeleteDimensionGroupRequest": {
      "type": "object",
      "description": "Deletes a group over the specified range by decrementing the depth of the dimensions in the range. For example, assume the sheet has a depth-1 group over B:E and a depth-2 group over C:D. Deleting a group over D:E leaves the sheet with a depth-1 group over B:D and a depth-2 group over C:C.",
      "properties": {
        "range": {
          "$ref": "DimensionRange",
          "description": "The range of the group to be deleted."
        }
      },
      "id": "DeleteDimensionGroupRequest"
    },
    "AddDimensionGroupRequest": {
      "id": "AddDimensionGroupRequest",
      "description": "Creates a group over the specified range. If the requested range is a superset of the range of an existing group G, then the depth of G is incremented and this new group G' has the depth of that group. For example, a group [C:D, depth 1] + [B:E] results in groups [B:E, depth 1] and [C:D, depth 2]. If the requested range is a subset of the range of an existing group G, then the depth of the new group G' becomes one greater than the depth of G. For example, a group [B:E, depth 1] + [C:D] results in groups [B:E, depth 1] and [C:D, depth 2]. If the requested range starts before and ends within, or starts within and ends after, the range of an existing group G, then the range of the existing group G becomes the union of the ranges, and the new group G' has depth one greater than the depth of G and range as the intersection of the ranges. For example, a group [B:D, depth 1] + [C:E] results in groups [B:E, depth 1] and [C:D, depth 2].",
      "properties": {
        "range": {
          "description": "The range over which to create a group.",
          "$ref": "DimensionRange"
        }
      },
      "type": "object"
    },
    "AddNamedRangeResponse": {
      "description": "The result of adding a named range.",
      "type": "object",
      "properties": {
        "namedRange": {
          "description": "The named range to add.",
          "$ref": "NamedRange"
        }
      },
      "id": "AddNamedRangeResponse"
    },
    "AutoResizeDimensionsRequest": {
      "description": "Automatically resizes one or more dimensions based on the contents of the cells in that dimension.",
      "id": "AutoResizeDimensionsRequest",
      "type": "object",
      "properties": {
        "dataSourceSheetDimensions": {
          "$ref": "DataSourceSheetDimensionRange",
          "description": "The dimensions on a data source sheet to automatically resize."
        },
        "dimensions": {
          "$ref": "DimensionRange",
          "description": "The dimensions to automatically resize."
        }
      }
    },
    "DataSourceSpec": {
      "id": "DataSourceSpec",
      "type": "object",
      "description": "This specifies the details of the data source. For example, for BigQuery, this specifies information about the BigQuery source.",
      "properties": {
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "DataSourceParameter"
          },
          "description": "The parameters of the data source, used when querying the data source."
        },
        "bigQuery": {
          "description": "A BigQueryDataSourceSpec.",
          "$ref": "BigQueryDataSourceSpec"
        }
      }
    },
    "AddChartRequest": {
      "type": "object",
      "description": "Adds a chart to a sheet in the spreadsheet.",
      "id": "AddChartRequest",
      "properties": {
        "chart": {
          "$ref": "EmbeddedChart",
          "description": "The chart that should be added to the spreadsheet, including the position where it should be placed. The chartId field is optional; if one is not set, an id will be randomly generated. (It is an error to specify the ID of an embedded object that already exists.)"
        }
      }
    },
    "Response": {
      "description": "A single response from an update.",
      "id": "Response",
      "properties": {
        "addDataSource": {
          "description": "A reply from adding a data source.",
          "$ref": "AddDataSourceResponse"
        },
        "duplicateSheet": {
          "$ref": "DuplicateSheetResponse",
          "description": "A reply from duplicating a sheet."
        },
        "trimWhitespace": {
          "$ref": "TrimWhitespaceResponse",
          "description": "A reply from trimming whitespace."
        },
        "addChart": {
          "description": "A reply from adding a chart.",
          "$ref": "AddChartResponse"
        },
        "deleteConditionalFormatRule": {
          "$ref": "DeleteConditionalFormatRuleResponse",
          "description": "A reply from deleting a conditional format rule."
        },
        "addProtectedRange": {
          "description": "A reply from adding a protected range.",
          "$ref": "AddProtectedRangeResponse"
        },
        "updateDeveloperMetadata": {
          "description": "A reply from updating a developer metadata entry.",
          "$ref": "UpdateDeveloperMetadataResponse"
        },
        "addSlicer": {
          "description": "A reply from adding a slicer.",
          "$ref": "AddSlicerResponse"
        },
        "updateConditionalFormatRule": {
          "description": "A reply from updating a conditional format rule.",
          "$ref": "UpdateConditionalFormatRuleResponse"
        },
        "addBanding": {
          "description": "A reply from adding a banded range.",
          "$ref": "AddBandingResponse"
        },
        "updateEmbeddedObjectPosition": {
          "description": "A reply from updating an embedded object's position.",
          "$ref": "UpdateEmbeddedObjectPositionResponse"
        },
        "refreshDataSource": {
          "description": "A reply from refreshing data source objects.",
          "$ref": "RefreshDataSourceResponse"
        },
        "addSheet": {
          "description": "A reply from adding a sheet.",
          "$ref": "AddSheetResponse"
        },
        "addDimensionGroup": {
          "description": "A reply from adding a dimension group.",
          "$ref": "AddDimensionGroupResponse"
        },
        "addNamedRange": {
          "$ref": "AddNamedRangeResponse",
          "description": "A reply from adding a named range."
        },
        "findReplace": {
          "description": "A reply from doing a find/replace.",
          "$ref": "FindReplaceResponse"
        },
        "deleteDimensionGroup": {
          "description": "A reply from deleting a dimension group.",
          "$ref": "DeleteDimensionGroupResponse"
        },
        "deleteDeveloperMetadata": {
          "$ref": "DeleteDeveloperMetadataResponse",
          "description": "A reply from deleting a developer metadata entry."
        },
        "duplicateFilterView": {
          "$ref": "DuplicateFilterViewResponse",
          "description": "A reply from duplicating a filter view."
        },
        "deleteDuplicates": {
          "$ref": "DeleteDuplicatesResponse",
          "description": "A reply from removing rows containing duplicate values."
        },
        "createDeveloperMetadata": {
          "description": "A reply from creating a developer metadata entry.",
          "$ref": "CreateDeveloperMetadataResponse"
        },
        "updateDataSource": {
          "description": "A reply from updating a data source.",
          "$ref": "UpdateDataSourceResponse"
        },
        "addFilterView": {
          "$ref": "AddFilterViewResponse",
          "description": "A reply from adding a filter view."
        }
      },
      "type": "object"
    },
    "AddProtectedRangeRequest": {
      "id": "AddProtectedRangeRequest",
      "description": "Adds a new protected range.",
      "properties": {
        "protectedRange": {
          "description": "The protected range to be added. The protectedRangeId field is optional; if one is not set, an id will be randomly generated. (It is an error to specify the ID of a range that already exists.)",
          "$ref": "ProtectedRange"
        }
      },
      "type": "object"
    },
    "SetDataValidationRequest": {
      "type": "object",
      "properties": {
        "range": {
          "description": "The range the data validation rule should apply to.",
          "$ref": "GridRange"
        },
        "rule": {
          "$ref": "DataValidationRule",
          "description": "The data validation rule to set on each cell in the range, or empty to clear the data validation in the range."
        }
      },
      "description": "Sets a data validation rule to every cell in the range. To clear validation in a range, call this with no rule specified.",
      "id": "SetDataValidationRequest"
    },
    "EmbeddedChart": {
      "type": "object",
      "id": "EmbeddedChart",
      "description": "A chart embedded in a sheet.",
      "properties": {
        "chartId": {
          "type": "integer",
          "format": "int32",
          "description": "The ID of the chart."
        },
        "spec": {
          "description": "The specification of the chart.",
          "$ref": "ChartSpec"
        },
        "position": {
          "$ref": "EmbeddedObjectPosition",
          "description": "The position of the chart."
        },
        "border": {
          "description": "The border of the chart.",
          "$ref": "EmbeddedObjectBorder"
        }
      }
    },
    "CellFormat": {
      "description": "The format of a cell.",
      "properties": {
        "padding": {
          "description": "The padding of the cell.",
          "$ref": "Padding"
        },
        "borders": {
          "$ref": "Borders",
          "description": "The borders of the cell."
        },
        "numberFormat": {
          "$ref": "NumberFormat",
          "description": "A format describing how number values should be represented to the user."
        },
        "textDirection": {
          "type": "string",
          "enum": [
            "TEXT_DIRECTION_UNSPECIFIED",
            "LEFT_TO_RIGHT",
            "RIGHT_TO_LEFT"
          ],
          "enumDescriptions": [
            "The text direction is not specified. Do not use this.",
            "The text direction of left-to-right was set by the user.",
            "The text direction of right-to-left was set by the user."
          ],
          "description": "The direction of the text in the cell."
        },
        "horizontalAlignment": {
          "description": "The horizontal alignment of the value in the cell.",
          "enum": [
            "HORIZONTAL_ALIGN_UNSPECIFIED",
            "LEFT",
            "CENTER",
            "RIGHT"
          ],
          "enumDescriptions": [
            "The horizontal alignment is not specified. Do not use this.",
            "The text is explicitly aligned to the left of the cell.",
            "The text is explicitly aligned to the center of the cell.",
            "The text is explicitly aligned to the right of the cell."
          ],
          "type": "string"
        },
        "textFormat": {
          "description": "The format of the text in the cell (unless overridden by a format run). Setting a cell-level link here clears the cell's existing links. Setting the link field in a TextFormatRun takes precedence over the cell-level link.",
          "$ref": "TextFormat"
        },
        "hyperlinkDisplayType": {
          "description": "If one exists, how a hyperlink should be displayed in the cell.",
          "type": "string",
          "enumDescriptions": [
            "The default value: the hyperlink is rendered. Do not use this.",
            "A hyperlink should be explicitly rendered.",
            "A hyperlink should not be rendered."
          ],
          "enum": [
            "HYPERLINK_DISPLAY_TYPE_UNSPECIFIED",
            "LINKED",
            "PLAIN_TEXT"
          ]
        },
        "textRotation": {
          "description": "The rotation applied to text in the cell.",
          "$ref": "TextRotation"
        },
        "verticalAlignment": {
          "enum": [
            "VERTICAL_ALIGN_UNSPECIFIED",
            "TOP",
            "MIDDLE",
            "BOTTOM"
          ],
          "type": "string",
          "description": "The vertical alignment of the value in the cell.",
          "enumDescriptions": [
            "The vertical alignment is not specified. Do not use this.",
            "The text is explicitly aligned to the top of the cell.",
            "The text is explicitly aligned to the middle of the cell.",
            "The text is explicitly aligned to the bottom of the cell."
          ]
        },
        "backgroundColor": {
          "description": "The background color of the cell. Deprecated: Use background_color_style.",
          "$ref": "Color",
          "deprecated": true
        },
        "wrapStrategy": {
          "description": "The wrap strategy for the value in the cell.",
          "enum": [
            "WRAP_STRATEGY_UNSPECIFIED",
            "OVERFLOW_CELL",
            "LEGACY_WRAP",
            "CLIP",
            "WRAP"
          ],
          "type": "string",
          "enumDescriptions": [
            "The default value, do not use.",
            "Lines that are longer than the cell width will be written in the next cell over, so long as that cell is empty. If the next cell over is non-empty, this behaves the same as `CLIP`. The text will never wrap to the next line unless the user manually inserts a new line. Example: | First sentence. | | Manual newline that is very long. \u003c- Text continues into next cell | Next newline. |",
            "This wrap strategy represents the old Google Sheets wrap strategy where words that are longer than a line are clipped rather than broken. This strategy is not supported on all platforms and is being phased out. Example: | Cell has a | | loooooooooo| \u003c- Word is clipped. | word. |",
            "Lines that are longer than the cell width will be clipped. The text will never wrap to the next line unless the user manually inserts a new line. Example: | First sentence. | | Manual newline t| \u003c- Text is clipped | Next newline. |",
            "Words that are longer than a line are wrapped at the character level rather than clipped. Example: | Cell has a | | loooooooooo| \u003c- Word is broken. | ong word. |"
          ]
        },
        "backgroundColorStyle": {
          "$ref": "ColorStyle",
          "description": "The background color of the cell. If background_color is also set, this field takes precedence."
        }
      },
      "type": "object",
      "id": "CellFormat"
    },
    "AddBandingRequest": {
      "description": "Adds a new banded range to the spreadsheet.",
      "id": "AddBandingRequest",
      "properties": {
        "bandedRange": {
          "$ref": "BandedRange",
          "description": "The banded range to add. The bandedRangeId field is optional; if one is not set, an id will be randomly generated. (It is an error to specify the ID of a range that already exists.)"
        }
      },
      "type": "object"
    },
    "UpdateFilterViewRequest": {
      "id": "UpdateFilterViewRequest",
      "properties": {
        "fields": {
          "description": "The fields that should be updated. At least one field must be specified. The root `filter` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field.",
          "format": "google-fieldmask",
          "type": "string"
        },
        "filter": {
          "$ref": "FilterView",
          "description": "The new properties of the filter view."
        }
      },
      "type": "object",
      "description": "Updates properties of the filter view."
    },
    "UpdateBordersRequest": {
      "type": "object",
      "description": "Updates the borders of a range. If a field is not set in the request, that means the border remains as-is. For example, with two subsequent UpdateBordersRequest: 1. range: A1:A5 `{ top: RED, bottom: WHITE }` 2. range: A1:A5 `{ left: BLUE }` That would result in A1:A5 having a borders of `{ top: RED, bottom: WHITE, left: BLUE }`. If you want to clear a border, explicitly set the style to NONE.",
      "properties": {
        "innerVertical": {
          "$ref": "Border",
          "description": "The vertical border to put within the range."
        },
        "top": {
          "$ref": "Border",
          "description": "The border to put at the top of the range."
        },
        "innerHorizontal": {
          "$ref": "Border",
          "description": "The horizontal border to put within the range."
        },
        "left": {
          "$ref": "Border",
          "description": "The border to put at the left of the range."
        },
        "range": {
          "$ref": "GridRange",
          "description": "The range whose borders should be updated."
        },
        "bottom": {
          "$ref": "Border",
          "description": "The border to put at the bottom of the range."
        },
        "right": {
          "description": "The border to put at the right of the range.",
          "$ref": "Border"
        }
      },
      "id": "UpdateBordersRequest"
    },
    "AppendValuesResponse": {
      "properties": {
        "spreadsheetId": {
          "type": "string",
          "description": "The spreadsheet the updates were applied to."
        },
        "tableRange": {
          "type": "string",
          "description": "The range (in A1 notation) of the table that values are being appended to (before the values were appended). Empty if no table was found."
        },
        "updates": {
          "$ref": "UpdateValuesResponse",
          "description": "Information about the updates that were applied."
        }
      },
      "id": "AppendValuesResponse",
      "description": "The response when updating a range of values in a spreadsheet.",
      "type": "object"
    },
    "HistogramSeries": {
      "properties": {
        "barColor": {
          "deprecated": true,
          "description": "The color of the column representing this series in each bucket. This field is optional. Deprecated: Use bar_color_style.",
          "$ref": "Color"
        },
        "barColorStyle": {
          "$ref": "ColorStyle",
          "description": "The color of the column representing this series in each bucket. This field is optional. If bar_color is also set, this field takes precedence."
        },
        "data": {
          "$ref": "ChartData",
          "description": "The data for this histogram series."
        }
      },
      "id": "HistogramSeries",
      "description": "A histogram series containing the series color and data.",
      "type": "object"
    },
    "PieChartSpec": {
      "type": "object",
      "id": "PieChartSpec",
      "properties": {
        "threeDimensional": {
          "type": "boolean",
          "description": "True if the pie is three dimensional."
        },
        "series": {
          "description": "The data that covers the one and only series of the pie chart.",
          "$ref": "ChartData"
        },
        "pieHole": {
          "format": "double",
          "description": "The size of the hole in the pie chart.",
          "type": "number"
        },
        "domain": {
          "description": "The data that covers the domain of the pie chart.",
          "$ref": "ChartData"
        },
        "legendPosition": {
          "type": "string",
          "enumDescriptions": [
            "Default value, do not use.",
            "The legend is rendered on the bottom of the chart.",
            "The legend is rendered on the left of the chart.",
            "The legend is rendered on the right of the chart.",
            "The legend is rendered on the top of the chart.",
            "No legend is rendered.",
            "Each pie slice has a label attached to it."
          ],
          "description": "Where the legend of the pie chart should be drawn.",
          "enum": [
            "PIE_CHART_LEGEND_POSITION_UNSPECIFIED",
            "BOTTOM_LEGEND",
            "LEFT_LEGEND",
            "RIGHT_LEGEND",
            "TOP_LEGEND",
            "NO_LEGEND",
            "LABELED_LEGEND"
          ]
        }
      },
      "description": "A pie chart."
    },
    "TimeOfDay": {
      "type": "object",
      "id": "TimeOfDay",
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "properties": {
        "seconds": {
          "format": "int32",
          "description": "Seconds of minutes of the time. Must normally be from 0 to 59. An API may allow the value 60 if it allows leap-seconds.",
          "type": "integer"
        },
        "nanos": {
          "format": "int32",
          "type": "integer",
          "description": "Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999."
        },
        "hours": {
          "format": "int32",
          "type": "integer",
          "description": "Hours of day in 24 hour format. Should be from 0 to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time."
        },
        "minutes": {
          "type": "integer",
          "description": "Minutes of hour of day. Must be from 0 to 59.",
          "format": "int32"
        }
      }
    },
    "ValueRange": {
      "description": "Data within a range of the spreadsheet.",
      "properties": {
        "range": {
          "type": "string",
          "description": "The range the values cover, in [A1 notation](/sheets/api/guides/concepts#cell). For output, this range indicates the entire requested range, even though the values will exclude trailing rows and columns. When appending values, this field represents the range to search for a table, after which values will be appended."
        },
        "values": {
          "description": "The data that was read or to be written. This is an array of arrays, the outer array representing all the data and each inner array representing a major dimension. Each item in the inner array corresponds with one cell. For output, empty trailing rows and columns will not be included. For input, supported value types are: bool, string, and double. Null values will be skipped. To set a cell to an empty value, set the string value to an empty string.",
          "items": {
            "items": {
              "type": "any"
            },
            "type": "array"
          },
          "type": "array"
        },
        "majorDimension": {
          "description": "The major dimension of the values. For output, if the spreadsheet data is: `A1=1,B1=2,A2=3,B2=4`, then requesting `range=A1:B2,majorDimension=ROWS` will return `[[1,2],[3,4]]`, whereas requesting `range=A1:B2,majorDimension=COLUMNS` will return `[[1,3],[2,4]]`. For input, with `range=A1:B2,majorDimension=ROWS` then `[[1,2],[3,4]]` will set `A1=1,B1=2,A2=3,B2=4`. With `range=A1:B2,majorDimension=COLUMNS` then `[[1,2],[3,4]]` will set `A1=1,B1=3,A2=2,B2=4`. When writing, if this field is not set, it defaults to ROWS.",
          "enumDescriptions": [
            "The default value, do not use.",
            "Operates on the rows of a sheet.",
            "Operates on the columns of a sheet."
          ],
          "enum": [
            "DIMENSION_UNSPECIFIED",
            "ROWS",
            "COLUMNS"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "ValueRange"
    },
    "BubbleChartSpec": {
      "type": "object",
      "description": "A bubble chart.",
      "id": "BubbleChartSpec",
      "properties": {
        "bubbleBorderColor": {
          "$ref": "Color",
          "description": "The bubble border color. Deprecated: Use bubble_border_color_style.",
          "deprecated": true
        },
        "domain": {
          "$ref": "ChartData",
          "description": "The data containing the bubble x-values. These values locate the bubbles in the chart horizontally."
        },
        "bubbleSizes": {
          "$ref": "ChartData",
          "description": "The data containing the bubble sizes. Bubble sizes are used to draw the bubbles at different sizes relative to each other. If specified, group_ids must also be specified. This field is optional."
        },
        "bubbleBorderColorStyle": {
          "description": "The bubble border color. If bubble_border_color is also set, this field takes precedence.",
          "$ref": "ColorStyle"
        },
        "bubbleMinRadiusSize": {
          "type": "integer",
          "description": "The minimum radius size of the bubbles, in pixels. If specific, the field must be a positive value.",
          "format": "int32"
        },
        "groupIds": {
          "$ref": "ChartData",
          "description": "The data containing the bubble group IDs. All bubbles with the same group ID are drawn in the same color. If bubble_sizes is specified then this field must also be specified but may contain blank values. This field is optional."
        },
        "bubbleTextStyle": {
          "description": "The format of the text inside the bubbles. Strikethrough, underline, and link are not supported.",
          "$ref": "TextFormat"
        },
        "bubbleLabels": {
          "description": "The data containing the bubble labels. These do not need to be unique.",
          "$ref": "ChartData"
        },
        "bubbleMaxRadiusSize": {
          "type": "integer",
          "description": "The max radius size of the bubbles, in pixels. If specified, the field must be a positive value.",
          "format": "int32"
        },
        "series": {
          "$ref": "ChartData",
          "description": "The data containing the bubble y-values. These values locate the bubbles in the chart vertically."
        },
        "legendPosition": {
          "enum": [
            "BUBBLE_CHART_LEGEND_POSITION_UNSPECIFIED",
            "BOTTOM_LEGEND",
            "LEFT_LEGEND",
            "RIGHT_LEGEND",
            "TOP_LEGEND",
            "NO_LEGEND",
            "INSIDE_LEGEND"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value, do not use.",
            "The legend is rendered on the bottom of the chart.",
            "The legend is rendered on the left of the chart.",
            "The legend is rendered on the right of the chart.",
            "The legend is rendered on the top of the chart.",
            "No legend is rendered.",
            "The legend is rendered inside the chart area."
          ],
          "description": "Where the legend of the chart should be drawn."
        },
        "bubbleOpacity": {
          "type": "number",
          "description": "The opacity of the bubbles between 0 and 1.0. 0 is fully transparent and 1 is fully opaque.",
          "format": "float"
        }
      }
    },
    "SourceAndDestination": {
      "properties": {
        "fillLength": {
          "description": "The number of rows or columns that data should be filled into. Positive numbers expand beyond the last row or last column of the source. Negative numbers expand before the first row or first column of the source.",
          "type": "integer",
          "format": "int32"
        },
        "dimension": {
          "description": "The dimension that data should be filled into.",
          "enum": [
            "DIMENSION_UNSPECIFIED",
            "ROWS",
            "COLUMNS"
          ],
          "type": "string",
          "enumDescriptions": [
            "The default value, do not use.",
            "Operates on the rows of a sheet.",
            "Operates on the columns of a sheet."
          ]
        },
        "source": {
          "description": "The location of the data to use as the source of the autofill.",
          "$ref": "GridRange"
        }
      },
      "description": "A combination of a source range and how to extend that source.",
      "id": "SourceAndDestination",
      "type": "object"
    },
    "BasicChartSeries": {
      "id": "BasicChartSeries",
      "type": "object",
      "description": "A single series of data in a chart. For example, if charting stock prices over time, multiple series may exist, one for the \"Open Price\", \"High Price\", \"Low Price\" and \"Close Price\".",
      "properties": {
        "color": {
          "description": "The color for elements (such as bars, lines, and points) associated with this series. If empty, a default color is used. Deprecated: Use color_style.",
          "deprecated": true,
          "$ref": "Color"
        },
        "dataLabel": {
          "$ref": "DataLabel",
          "description": "Information about the data labels for this series."
        },
        "colorStyle": {
          "description": "The color for elements (such as bars, lines, and points) associated with this series. If empty, a default color is used. If color is also set, this field takes precedence.",
          "$ref": "ColorStyle"
        },
        "styleOverrides": {
          "description": "Style override settings for series data points.",
          "type": "array",
          "items": {
            "$ref": "BasicSeriesDataPointStyleOverride"
          }
        },
        "targetAxis": {
          "enum": [
            "BASIC_CHART_AXIS_POSITION_UNSPECIFIED",
            "BOTTOM_AXIS",
            "LEFT_AXIS",
            "RIGHT_AXIS"
          ],
          "description": "The minor axis that will specify the range of values for this series. For example, if charting stocks over time, the \"Volume\" series may want to be pinned to the right with the prices pinned to the left, because the scale of trading volume is different than the scale of prices. It is an error to specify an axis that isn't a valid minor axis for the chart's type.",
          "type": "string",
          "enumDescriptions": [
            "Default value, do not use.",
            "The axis rendered at the bottom of a chart. For most charts, this is the standard major axis. For bar charts, this is a minor axis.",
            "The axis rendered at the left of a chart. For most charts, this is a minor axis. For bar charts, this is the standard major axis.",
            "The axis rendered at the right of a chart. For most charts, this is a minor axis. For bar charts, this is an unusual major axis."
          ]
        },
        "type": {
          "enum": [
            "BASIC_CHART_TYPE_UNSPECIFIED",
            "BAR",
            "LINE",
            "AREA",
            "COLUMN",
            "SCATTER",
            "COMBO",
            "STEPPED_AREA"
          ],
          "description": "The type of this series. Valid only if the chartType is COMBO. Different types will change the way the series is visualized. Only LINE, AREA, and COLUMN are supported.",
          "type": "string",
          "enumDescriptions": [
            "Default value, do not use.",
            "A bar chart.",
            "A line chart.",
            "An area chart.",
            "A column chart.",
            "A scatter chart.",
            "A combo chart.",
            "A stepped area chart."
          ]
        },
        "pointStyle": {
          "$ref": "PointStyle",
          "description": "The style for points associated with this series. Valid only if the chartType is AREA, LINE, or SCATTER. COMBO charts are also supported if the series chart type is AREA, LINE, or SCATTER. If empty, a default point style is used."
        },
        "series": {
          "description": "The data being visualized in this chart series.",
          "$ref": "ChartData"
        },
        "lineStyle": {
          "$ref": "LineStyle",
          "description": "The line style of this series. Valid only if the chartType is AREA, LINE, or SCATTER. COMBO charts are also supported if the series chart type is AREA or LINE."
        }
      }
    },
    "DeleteDuplicatesResponse": {
      "properties": {
        "duplicatesRemovedCount": {
          "description": "The number of duplicate rows removed.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "DeleteDuplicatesResponse",
      "description": "The result of removing duplicates in a range."
    },
    "LineStyle": {
      "type": "object",
      "properties": {
        "width": {
          "type": "integer",
          "format": "int32",
          "description": "The thickness of the line, in px."
        },
        "type": {
          "enum": [
            "LINE_DASH_TYPE_UNSPECIFIED",
            "INVISIBLE",
            "CUSTOM",
            "SOLID",
            "DOTTED",
            "MEDIUM_DASHED",
            "MEDIUM_DASHED_DOTTED",
            "LONG_DASHED",
            "LONG_DASHED_DOTTED"
          ],
          "type": "string",
          "description": "The dash type of the line.",
          "enumDescriptions": [
            "Default value, do not use.",
            "No dash type, which is equivalent to a non-visible line.",
            "A custom dash for a line. Modifying the exact custom dash style is currently unsupported.",
            "A solid line.",
            "A dotted line.",
            "A dashed line where the dashes have \"medium\" length.",
            "A line that alternates between a \"medium\" dash and a dot.",
            "A dashed line where the dashes have \"long\" length.",
            "A line that alternates between a \"long\" dash and a dot."
          ]
        }
      },
      "id": "LineStyle",
      "description": "Properties that describe the style of a line."
    },
    "DeleteBandingRequest": {
      "type": "object",
      "description": "Removes the banded range with the given ID from the spreadsheet.",
      "properties": {
        "bandedRangeId": {
          "description": "The ID of the banded range to delete.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "DeleteBandingRequest"
    },
    "DuplicateFilterViewRequest": {
      "id": "DuplicateFilterViewRequest",
      "type": "object",
      "description": "Duplicates a particular filter view.",
      "properties": {
        "filterId": {
          "format": "int32",
          "description": "The ID of the filter being duplicated.",
          "type": "integer"
        }
      }
    },
    "TextFormat": {
      "id": "TextFormat",
      "type": "object",
      "properties": {
        "fontSize": {
          "type": "integer",
          "description": "The size of the font.",
          "format": "int32"
        },
        "fontFamily": {
          "type": "string",
          "description": "The font family."
        },
        "link": {
          "$ref": "Link",
          "description": "The link destination of the text, if any. Setting the link field in a TextFormatRun will clear the cell's existing links or a cell-level link set in the same request. When a link is set, the text foreground color will be set to the default link color and the text will be underlined. If these fields are modified in the same request, those values will be used instead of the link defaults."
        },
        "italic": {
          "type": "boolean",
          "description": "True if the text is italicized."
        },
        "foregroundColorStyle": {
          "description": "The foreground color of the text. If foreground_color is also set, this field takes precedence.",
          "$ref": "ColorStyle"
        },
        "bold": {
          "type": "boolean",
          "description": "True if the text is bold."
        },
        "strikethrough": {
          "type": "boolean",
          "description": "True if the text has a strikethrough."
        },
        "underline": {
          "description": "True if the text is underlined.",
          "type": "boolean"
        },
        "foregroundColor": {
          "$ref": "Color",
          "description": "The foreground color of the text. Deprecated: Use foreground_color_style.",
          "deprecated": true
        }
      },
      "description": "The format of a run of text in a cell. Absent values indicate that the field isn't specified."
    },
    "UpdateValuesByDataFilterResponse": {
      "properties": {
        "updatedColumns": {
          "type": "integer",
          "description": "The number of columns where at least one cell in the column was updated.",
          "format": "int32"
        },
        "updatedRange": {
          "description": "The range (in [A1 notation](/sheets/api/guides/concepts#cell)) that updates were applied to.",
          "type": "string"
        },
        "updatedData": {
          "description": "The values of the cells in the range matched by the dataFilter after all updates were applied. This is only included if the request's `includeValuesInResponse` field was `true`.",
          "$ref": "ValueRange"
        },
        "updatedRows": {
          "format": "int32",
          "type": "integer",
          "description": "The number of rows where at least one cell in the row was updated."
        },
        "dataFilter": {
          "$ref": "DataFilter",
          "description": "The data filter that selected the range that was updated."
        },
        "updatedCells": {
          "type": "integer",
          "description": "The number of cells updated.",
          "format": "int32"
        }
      },
      "id": "UpdateValuesByDataFilterResponse",
      "description": "The response when updating a range of values by a data filter in a spreadsheet.",
      "type": "object"
    },
    "BigQueryTableSpec": {
      "description": "Specifies a BigQuery table definition. Only [native tables](https://cloud.google.com/bigquery/docs/tables-intro) are allowed.",
      "id": "BigQueryTableSpec",
      "properties": {
        "datasetId": {
          "type": "string",
          "description": "The BigQuery dataset id."
        },
        "tableId": {
          "type": "string",
          "description": "The BigQuery table id."
        },
        "tableProjectId": {
          "description": "The ID of a BigQuery project the table belongs to. If not specified, the project_id is assumed.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "BasicFilter": {
      "properties": {
        "criteria": {
          "deprecated": true,
          "description": "The criteria for showing/hiding values per column. The map's key is the column index, and the value is the criteria for that column. This field is deprecated in favor of filter_specs.",
          "additionalProperties": {
            "$ref": "FilterCriteria"
          },
          "type": "object"
        },
        "range": {
          "$ref": "GridRange",
          "description": "The range the filter covers."
        },
        "sortSpecs": {
          "description": "The sort order per column. Later specifications are used when values are equal in the earlier specifications.",
          "items": {
            "$ref": "SortSpec"
          },
          "type": "array"
        },
        "filterSpecs": {
          "type": "array",
          "description": "The filter criteria per column. Both criteria and filter_specs are populated in responses. If both fields are specified in an update request, this field takes precedence.",
          "items": {
            "$ref": "FilterSpec"
          }
        }
      },
      "type": "object",
      "description": "The default filter associated with a sheet.",
      "id": "BasicFilter"
    },
    "AppendCellsRequest": {
      "type": "object",
      "id": "AppendCellsRequest",
      "description": "Adds new cells after the last row with data in a sheet, inserting new rows into the sheet if necessary.",
      "properties": {
        "fields": {
          "type": "string",
          "description": "The fields of CellData that should be updated. At least one field must be specified. The root is the CellData; 'row.values.' should not be specified. A single `\"*\"` can be used as short-hand for listing every field.",
          "format": "google-fieldmask"
        },
        "rows": {
          "description": "The data to append.",
          "type": "array",
          "items": {
            "$ref": "RowData"
          }
        },
        "sheetId": {
          "description": "The sheet ID to append the data to.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "NumberFormat": {
      "description": "The number format of a cell.",
      "properties": {
        "type": {
          "enum": [
            "NUMBER_FORMAT_TYPE_UNSPECIFIED",
            "TEXT",
            "NUMBER",
            "PERCENT",
            "CURRENCY",
            "DATE",
            "TIME",
            "DATE_TIME",
            "SCIENTIFIC"
          ],
          "enumDescriptions": [
            "The number format is not specified and is based on the contents of the cell. Do not explicitly use this.",
            "Text formatting, e.g `1000.12`",
            "Number formatting, e.g, `1,000.12`",
            "Percent formatting, e.g `10.12%`",
            "Currency formatting, e.g `$1,000.12`",
            "Date formatting, e.g `9/26/2008`",
            "Time formatting, e.g `3:59:00 PM`",
            "Date+Time formatting, e.g `9/26/08 15:59:00`",
            "Scientific number formatting, e.g `1.01E+03`"
          ],
          "description": "The type of the number format. When writing, this field must be set.",
          "type": "string"
        },
        "pattern": {
          "type": "string",
          "description": "Pattern string used for formatting. If not set, a default pattern based on the user's locale will be used if necessary for the given type. See the [Date and Number Formats guide](/sheets/api/guides/formats) for more information about the supported patterns."
        }
      },
      "type": "object",
      "id": "NumberFormat"
    },
    "CandlestickDomain": {
      "type": "object",
      "id": "CandlestickDomain",
      "properties": {
        "data": {
          "description": "The data of the CandlestickDomain.",
          "$ref": "ChartData"
        },
        "reversed": {
          "type": "boolean",
          "description": "True to reverse the order of the domain values (horizontal axis)."
        }
      },
      "description": "The domain of a CandlestickChart."
    },
    "BigQueryDataSourceSpec": {
      "properties": {
        "tableSpec": {
          "description": "A BigQueryTableSpec.",
          "$ref": "BigQueryTableSpec"
        },
        "querySpec": {
          "description": "A BigQueryQuerySpec.",
          "$ref": "BigQueryQuerySpec"
        },
        "projectId": {
          "description": "The ID of a BigQuery enabled Google Cloud project with a billing account attached. For any queries executed against the data source, the project is charged.",
          "type": "string"
        }
      },
      "id": "BigQueryDataSourceSpec",
      "type": "object",
      "description": "The specification of a BigQuery data source that's connected to a sheet."
    },
    "AddDataSourceRequest": {
      "type": "object",
      "description": "Adds a data source. After the data source is added successfully, an associated DATA_SOURCE sheet is created and an execution is triggered to refresh the sheet to read data from the data source. The request requires an additional `bigquery.readonly` OAuth scope.",
      "id": "AddDataSourceRequest",
      "properties": {
        "dataSource": {
          "description": "The data source to add.",
          "$ref": "DataSource"
        }
      }
    },
    "UpdateBandingRequest": {
      "properties": {
        "bandedRange": {
          "description": "The banded range to update with the new properties.",
          "$ref": "BandedRange"
        },
        "fields": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "The fields that should be updated. At least one field must be specified. The root `bandedRange` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field."
        }
      },
      "type": "object",
      "id": "UpdateBandingRequest",
      "description": "Updates properties of the supplied banded range."
    },
    "Sheet": {
      "type": "object",
      "properties": {
        "merges": {
          "type": "array",
          "items": {
            "$ref": "GridRange"
          },
          "description": "The ranges that are merged together."
        },
        "conditionalFormats": {
          "type": "array",
          "items": {
            "$ref": "ConditionalFormatRule"
          },
          "description": "The conditional format rules in this sheet."
        },
        "slicers": {
          "description": "The slicers on this sheet.",
          "items": {
            "$ref": "Slicer"
          },
          "type": "array"
        },
        "bandedRanges": {
          "items": {
            "$ref": "BandedRange"
          },
          "description": "The banded (alternating colors) ranges on this sheet.",
          "type": "array"
        },
        "charts": {
          "description": "The specifications of every chart on this sheet.",
          "type": "array",
          "items": {
            "$ref": "EmbeddedChart"
          }
        },
        "basicFilter": {
          "description": "The filter on this sheet, if any.",
          "$ref": "BasicFilter"
        },
        "rowGroups": {
          "type": "array",
          "description": "All row groups on this sheet, ordered by increasing range start index, then by group depth.",
          "items": {
            "$ref": "DimensionGroup"
          }
        },
        "data": {
          "description": "Data in the grid, if this is a grid sheet. The number of GridData objects returned is dependent on the number of ranges requested on this sheet. For example, if this is representing `Sheet1`, and the spreadsheet was requested with ranges `Sheet1!A1:C10` and `Sheet1!D15:E20`, then the first GridData will have a startRow/startColumn of `0`, while the second one will have `startRow 14` (zero-based row 15), and `startColumn 3` (zero-based column D). For a DATA_SOURCE sheet, you can not request a specific range, the GridData contains all the values.",
          "type": "array",
          "items": {
            "$ref": "GridData"
          }
        },
        "developerMetadata": {
          "type": "array",
          "items": {
            "$ref": "DeveloperMetadata"
          },
          "description": "The developer metadata associated with a sheet."
        },
        "columnGroups": {
          "type": "array",
          "description": "All column groups on this sheet, ordered by increasing range start index, then by group depth.",
          "items": {
            "$ref": "DimensionGroup"
          }
        },
        "filterViews": {
          "items": {
            "$ref": "FilterView"
          },
          "description": "The filter views in this sheet.",
          "type": "array"
        },
        "protectedRanges": {
          "items": {
            "$ref": "ProtectedRange"
          },
          "type": "array",
          "description": "The protected ranges in this sheet."
        },
        "properties": {
          "description": "The properties of the sheet.",
          "$ref": "SheetProperties"
        }
      },
      "id": "Sheet",
      "description": "A sheet in a spreadsheet."
    },
    "CutPasteRequest": {
      "type": "object",
      "properties": {
        "pasteType": {
          "type": "string",
          "enum": [
            "PASTE_NORMAL",
            "PASTE_VALUES",
            "PASTE_FORMAT",
            "PASTE_NO_BORDERS",
            "PASTE_FORMULA",
            "PASTE_DATA_VALIDATION",
            "PASTE_CONDITIONAL_FORMATTING"
          ],
          "description": "What kind of data to paste. All the source data will be cut, regardless of what is pasted.",
          "enumDescriptions": [
            "Paste values, formulas, formats, and merges.",
            "Paste the values ONLY without formats, formulas, or merges.",
            "Paste the format and data validation only.",
            "Like `PASTE_NORMAL` but without borders.",
            "Paste the formulas only.",
            "Paste the data validation only.",
            "Paste the conditional formatting rules only."
          ]
        },
        "source": {
          "description": "The source data to cut.",
          "$ref": "GridRange"
        },
        "destination": {
          "description": "The top-left coordinate where the data should be pasted.",
          "$ref": "GridCoordinate"
        }
      },
      "description": "Moves data from the source to the destination.",
      "id": "CutPasteRequest"
    },
    "BandedRange": {
      "description": "A banded (alternating colors) range in a sheet.",
      "properties": {
        "bandedRangeId": {
          "description": "The ID of the banded range.",
          "type": "integer",
          "format": "int32"
        },
        "columnProperties": {
          "description": "Properties for column bands. These properties are applied on a column- by-column basis throughout all the columns in the range. At least one of row_properties or column_properties must be specified.",
          "$ref": "BandingProperties"
        },
        "range": {
          "description": "The range over which these properties are applied.",
          "$ref": "GridRange"
        },
        "rowProperties": {
          "$ref": "BandingProperties",
          "description": "Properties for row bands. These properties are applied on a row-by-row basis throughout all the rows in the range. At least one of row_properties or column_properties must be specified."
        }
      },
      "id": "BandedRange",
      "type": "object"
    },
    "RefreshDataSourceObjectExecutionStatus": {
      "description": "The execution status of refreshing one data source object.",
      "properties": {
        "reference": {
          "description": "Reference to a data source object being refreshed.",
          "$ref": "DataSourceObjectReference"
        },
        "dataExecutionStatus": {
          "$ref": "DataExecutionStatus",
          "description": "The data execution status."
        }
      },
      "type": "object",
      "id": "RefreshDataSourceObjectExecutionStatus"
    },
    "DataValidationRule": {
      "properties": {
        "condition": {
          "$ref": "BooleanCondition",
          "description": "The condition that data in the cell must match."
        },
        "strict": {
          "type": "boolean",
          "description": "True if invalid data should be rejected."
        },
        "showCustomUi": {
          "type": "boolean",
          "description": "True if the UI should be customized based on the kind of condition. If true, \"List\" conditions will show a dropdown."
        },
        "inputMessage": {
          "type": "string",
          "description": "A message to show the user when adding data to the cell."
        }
      },
      "type": "object",
      "description": "A data validation rule.",
      "id": "DataValidationRule"
    },
    "UpdateEmbeddedObjectPositionRequest": {
      "properties": {
        "fields": {
          "format": "google-fieldmask",
          "description": "The fields of OverlayPosition that should be updated when setting a new position. Used only if newPosition.overlayPosition is set, in which case at least one field must be specified. The root `newPosition.overlayPosition` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field.",
          "type": "string"
        },
        "objectId": {
          "description": "The ID of the object to moved.",
          "format": "int32",
          "type": "integer"
        },
        "newPosition": {
          "$ref": "EmbeddedObjectPosition",
          "description": "An explicit position to move the embedded object to. If newPosition.sheetId is set, a new sheet with that ID will be created. If newPosition.newSheet is set to true, a new sheet will be created with an ID that will be chosen for you."
        }
      },
      "id": "UpdateEmbeddedObjectPositionRequest",
      "description": "Update an embedded object's position (such as a moving or resizing a chart or image).",
      "type": "object"
    },
    "InsertRangeRequest": {
      "description": "Inserts cells into a range, shifting the existing cells over or down.",
      "id": "InsertRangeRequest",
      "properties": {
        "shiftDimension": {
          "enum": [
            "DIMENSION_UNSPECIFIED",
            "ROWS",
            "COLUMNS"
          ],
          "description": "The dimension which will be shifted when inserting cells. If ROWS, existing cells will be shifted down. If COLUMNS, existing cells will be shifted right.",
          "enumDescriptions": [
            "The default value, do not use.",
            "Operates on the rows of a sheet.",
            "Operates on the columns of a sheet."
          ],
          "type": "string"
        },
        "range": {
          "$ref": "GridRange",
          "description": "The range to insert new cells into."
        }
      },
      "type": "object"
    },
    "ThemeColorPair": {
      "properties": {
        "colorType": {
          "enumDescriptions": [
            "Unspecified theme color",
            "Represents the primary text color",
            "Represents the primary background color",
            "Represents the first accent color",
            "Represents the second accent color",
            "Represents the third accent color",
            "Represents the fourth accent color",
            "Represents the fifth accent color",
            "Represents the sixth accent color",
            "Represents the color to use for hyperlinks"
          ],
          "enum": [
            "THEME_COLOR_TYPE_UNSPECIFIED",
            "TEXT",
            "BACKGROUND",
            "ACCENT1",
            "ACCENT2",
            "ACCENT3",
            "ACCENT4",
            "ACCENT5",
            "ACCENT6",
            "LINK"
          ],
          "type": "string",
          "description": "The type of the spreadsheet theme color."
        },
        "color": {
          "description": "The concrete color corresponding to the theme color type.",
          "$ref": "ColorStyle"
        }
      },
      "type": "object",
      "id": "ThemeColorPair",
      "description": "A pair mapping a spreadsheet theme color type to the concrete color it represents."
    },
    "DeleteDataSourceRequest": {
      "properties": {
        "dataSourceId": {
          "type": "string",
          "description": "The ID of the data source to delete."
        }
      },
      "id": "DeleteDataSourceRequest",
      "type": "object",
      "description": "Deletes a data source. The request also deletes the associated data source sheet, and unlinks all associated data source objects."
    },
    "BasicChartAxis": {
      "description": "An axis of the chart. A chart may not have more than one axis per axis position.",
      "id": "BasicChartAxis",
      "properties": {
        "title": {
          "description": "The title of this axis. If set, this overrides any title inferred from headers of the data.",
          "type": "string"
        },
        "viewWindowOptions": {
          "$ref": "ChartAxisViewWindowOptions",
          "description": "The view window options for this axis."
        },
        "position": {
          "type": "string",
          "enumDescriptions": [
            "Default value, do not use.",
            "The axis rendered at the bottom of a chart. For most charts, this is the standard major axis. For bar charts, this is a minor axis.",
            "The axis rendered at the left of a chart. For most charts, this is a minor axis. For bar charts, this is the standard major axis.",
            "The axis rendered at the right of a chart. For most charts, this is a minor axis. For bar charts, this is an unusual major axis."
          ],
          "description": "The position of this axis.",
          "enum": [
            "BASIC_CHART_AXIS_POSITION_UNSPECIFIED",
            "BOTTOM_AXIS",
            "LEFT_AXIS",
            "RIGHT_AXIS"
          ]
        },
        "titleTextPosition": {
          "$ref": "TextPosition",
          "description": "The axis title text position."
        },
        "format": {
          "$ref": "TextFormat",
          "description": "The format of the title. Only valid if the axis is not associated with the domain. The link field is not supported."
        }
      },
      "type": "object"
    },
    "DeveloperMetadataLookup": {
      "type": "object",
      "id": "DeveloperMetadataLookup",
      "description": "Selects DeveloperMetadata that matches all of the specified fields. For example, if only a metadata ID is specified this considers the DeveloperMetadata with that particular unique ID. If a metadata key is specified, this considers all developer metadata with that key. If a key, visibility, and location type are all specified, this considers all developer metadata with that key and visibility that are associated with a location of that type. In general, this selects all DeveloperMetadata that matches the intersection of all the specified fields; any field or combination of fields may be specified.",
      "properties": {
        "metadataKey": {
          "type": "string",
          "description": "Limits the selected developer metadata to that which has a matching DeveloperMetadata.metadata_key."
        },
        "locationType": {
          "enum": [
            "DEVELOPER_METADATA_LOCATION_TYPE_UNSPECIFIED",
            "ROW",
            "COLUMN",
            "SHEET",
            "SPREADSHEET"
          ],
          "description": "Limits the selected developer metadata to those entries which are associated with locations of the specified type. For example, when this field is specified as ROW this lookup only considers developer metadata associated on rows. If the field is left unspecified, all location types are considered. This field cannot be specified as SPREADSHEET when the locationMatchingStrategy is specified as INTERSECTING or when the metadataLocation is specified as a non-spreadsheet location: spreadsheet metadata cannot intersect any other developer metadata location. This field also must be left unspecified when the locationMatchingStrategy is specified as EXACT.",
          "enumDescriptions": [
            "Default value.",
            "Developer metadata associated on an entire row dimension.",
            "Developer metadata associated on an entire column dimension.",
            "Developer metadata associated on an entire sheet.",
            "Developer metadata associated on the entire spreadsheet."
          ],
          "type": "string"
        },
        "locationMatchingStrategy": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value must not be used.",
            "Indicates that a specified location should be matched exactly. For example, if row three were specified as a location this matching strategy would only match developer metadata also associated on row three. Metadata associated on other locations would not be considered.",
            "Indicates that a specified location should match that exact location as well as any intersecting locations. For example, if row three were specified as a location this matching strategy would match developer metadata associated on row three as well as metadata associated on locations that intersect row three. If, for instance, there was developer metadata associated on column B, this matching strategy would also match that location because column B intersects row three."
          ],
          "enum": [
            "DEVELOPER_METADATA_LOCATION_MATCHING_STRATEGY_UNSPECIFIED",
            "EXACT_LOCATION",
            "INTERSECTING_LOCATION"
          ],
          "description": "Determines how this lookup matches the location. If this field is specified as EXACT, only developer metadata associated on the exact location specified is matched. If this field is specified to INTERSECTING, developer metadata associated on intersecting locations is also matched. If left unspecified, this field assumes a default value of INTERSECTING. If this field is specified, a metadataLocation must also be specified."
        },
        "metadataValue": {
          "description": "Limits the selected developer metadata to that which has a matching DeveloperMetadata.metadata_value.",
          "type": "string"
        },
        "metadataId": {
          "type": "integer",
          "format": "int32",
          "description": "Limits the selected developer metadata to that which has a matching DeveloperMetadata.metadata_id."
        },
        "visibility": {
          "enumDescriptions": [
            "Default value.",
            "Document-visible metadata is accessible from any developer project with access to the document.",
            "Project-visible metadata is only visible to and accessible by the developer project that created the metadata."
          ],
          "type": "string",
          "description": "Limits the selected developer metadata to that which has a matching DeveloperMetadata.visibility. If left unspecified, all developer metadata visibile to the requesting project is considered.",
          "enum": [
            "DEVELOPER_METADATA_VISIBILITY_UNSPECIFIED",
            "DOCUMENT",
            "PROJECT"
          ]
        },
        "metadataLocation": {
          "$ref": "DeveloperMetadataLocation",
          "description": "Limits the selected developer metadata to those entries associated with the specified location. This field either matches exact locations or all intersecting locations according the specified locationMatchingStrategy."
        }
      }
    },
    "BatchUpdateSpreadsheetResponse": {
      "id": "BatchUpdateSpreadsheetResponse",
      "type": "object",
      "description": "The reply for batch updating a spreadsheet.",
      "properties": {
        "updatedSpreadsheet": {
          "$ref": "Spreadsheet",
          "description": "The spreadsheet after updates were applied. This is only set if BatchUpdateSpreadsheetRequest.include_spreadsheet_in_response is `true`."
        },
        "replies": {
          "items": {
            "$ref": "Response"
          },
          "description": "The reply of the updates. This maps 1:1 with the updates, although replies to some requests may be empty.",
          "type": "array"
        },
        "spreadsheetId": {
          "type": "string",
          "description": "The spreadsheet the updates were applied to."
        }
      }
    },
    "EmbeddedObjectBorder": {
      "id": "EmbeddedObjectBorder",
      "properties": {
        "colorStyle": {
          "$ref": "ColorStyle",
          "description": "The color of the border. If color is also set, this field takes precedence."
        },
        "color": {
          "deprecated": true,
          "description": "The color of the border. Deprecated: Use color_style.",
          "$ref": "Color"
        }
      },
      "description": "A border along an embedded object.",
      "type": "object"
    },
    "MatchedValueRange": {
      "properties": {
        "dataFilters": {
          "description": "The DataFilters from the request that matched the range of values.",
          "type": "array",
          "items": {
            "$ref": "DataFilter"
          }
        },
        "valueRange": {
          "description": "The values matched by the DataFilter.",
          "$ref": "ValueRange"
        }
      },
      "id": "MatchedValueRange",
      "description": "A value range that was matched by one or more data filers.",
      "type": "object"
    },
    "DataSourceParameter": {
      "description": "A parameter in a data source's query. The parameter allows the user to pass in values from the spreadsheet into a query.",
[...]
