{
  "basePath": "",
  "documentationLink": "https://developers.google.com/sheets/",
  "baseUrl": "https://sheets.googleapis.com/",
  "canonicalName": "Sheets",
  "title": "Google Sheets API",
  "discoveryVersion": "v1",
  "version": "v4",
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "description": "Reads and writes Google Sheets.",
  "mtlsRootUrl": "https://sheets.mtls.googleapis.com/",
  "protocol": "rest",
  "fullyEncodeReservedExpansion": true,
  "schemas": {
    "UpdateDeveloperMetadataRequest": {
      "type": "object",
      "id": "UpdateDeveloperMetadataRequest",
      "properties": {
        "fields": {
          "description": "The fields that should be updated. At least one field must be specified. The root `developerMetadata` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field.",
          "format": "google-fieldmask",
          "type": "string"
        },
        "developerMetadata": {
          "description": "The value that all metadata matched by the data filters will be updated to.",
          "$ref": "DeveloperMetadata"
        },
        "dataFilters": {
          "items": {
            "$ref": "DataFilter"
          },
          "description": "The filters matching the developer metadata entries to update.",
          "type": "array"
        }
      },
      "description": "A request to update properties of developer metadata. Updates the properties of the developer metadata selected by the filters to the values provided in the DeveloperMetadata resource. Callers must specify the properties they wish to update in the fields parameter, as well as specify at least one DataFilter matching the metadata they wish to update."
    },
    "UpdateCellsRequest": {
      "id": "UpdateCellsRequest",
      "type": "object",
      "properties": {
        "rows": {
          "type": "array",
          "description": "The data to write.",
          "items": {
            "$ref": "RowData"
          }
        },
        "range": {
          "$ref": "GridRange",
          "description": "The range to write data to. If the data in rows does not cover the entire requested range, the fields matching those set in fields will be cleared."
        },
        "start": {
          "description": "The coordinate to start writing data at. Any number of rows and columns (including a different number of columns per row) may be written.",
          "$ref": "GridCoordinate"
        },
        "fields": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "The fields of CellData that should be updated. At least one field must be specified. The root is the CellData; 'row.values.' should not be specified. A single `\"*\"` can be used as short-hand for listing every field."
        }
      },
      "description": "Updates all cells in a range with new data."
    },
    "PointStyle": {
      "id": "PointStyle",
      "type": "object",
      "properties": {
        "size": {
          "description": "The point size. If empty, a default size is used.",
          "type": "number",
          "format": "double"
        },
        "shape": {
          "type": "string",
          "description": "The point shape. If empty or unspecified, a default shape is used.",
          "enum": [
            "POINT_SHAPE_UNSPECIFIED",
            "CIRCLE",
            "DIAMOND",
            "HEXAGON",
            "PENTAGON",
            "SQUARE",
            "STAR",
            "TRIANGLE",
            "X_MARK"
          ],
          "enumDescriptions": [
            "Default value.",
            "A circle shape.",
            "A diamond shape.",
            "A hexagon shape.",
            "A pentagon shape.",
            "A square shape.",
            "A star shape.",
            "A triangle shape.",
            "An x-mark shape."
          ]
        }
      },
      "description": "The style of a point on the chart."
    },
    "DataSourceObjectReference": {
      "type": "object",
      "properties": {
        "dataSourceTableAnchorCell": {
          "$ref": "GridCoordinate",
          "description": "References to a DataSourceTable anchored at the cell."
        },
        "dataSourceFormulaCell": {
          "description": "References to a cell containing DataSourceFormula.",
          "$ref": "GridCoordinate"
        },
        "sheetId": {
          "description": "References to a DATA_SOURCE sheet.",
          "type": "string"
        },
        "chartId": {
          "format": "int32",
          "type": "integer",
          "description": "References to a data source chart."
        },
        "dataSourcePivotTableAnchorCell": {
          "description": "References to a data source PivotTable anchored at the cell.",
          "$ref": "GridCoordinate"
        }
      },
      "id": "DataSourceObjectReference",
      "description": "Reference to a data source object."
    },
    "DeleteDimensionRequest": {
      "properties": {
        "range": {
          "$ref": "DimensionRange",
          "description": "The dimensions to delete from the sheet."
        }
      },
      "description": "Deletes the dimensions from the sheet.",
      "type": "object",
      "id": "DeleteDimensionRequest"
    },
    "NumberFormat": {
      "description": "The number format of a cell.",
      "id": "NumberFormat",
      "type": "object",
      "properties": {
        "type": {
          "enumDescriptions": [
            "The number format is not specified and is based on the contents of the cell. Do not explicitly use this.",
            "Text formatting, e.g `1000.12`",
            "Number formatting, e.g, `1,000.12`",
            "Percent formatting, e.g `10.12%`",
            "Currency formatting, e.g `$1,000.12`",
            "Date formatting, e.g `9/26/2008`",
            "Time formatting, e.g `3:59:00 PM`",
            "Date+Time formatting, e.g `9/26/08 15:59:00`",
            "Scientific number formatting, e.g `1.01E+03`"
          ],
          "description": "The type of the number format. When writing, this field must be set.",
          "enum": [
            "NUMBER_FORMAT_TYPE_UNSPECIFIED",
            "TEXT",
            "NUMBER",
            "PERCENT",
            "CURRENCY",
            "DATE",
            "TIME",
            "DATE_TIME",
            "SCIENTIFIC"
          ],
          "type": "string"
        },
        "pattern": {
          "description": "Pattern string used for formatting. If not set, a default pattern based on the user's locale will be used if necessary for the given type. See the [Date and Number Formats guide](/sheets/api/guides/formats) for more information about the supported patterns.",
          "type": "string"
        }
      }
    },
    "DeleteDimensionGroupResponse": {
      "description": "The result of deleting a group.",
      "properties": {
        "dimensionGroups": {
          "items": {
            "$ref": "DimensionGroup"
          },
          "type": "array",
          "description": "All groups of a dimension after deleting a group from that dimension."
        }
      },
      "id": "DeleteDimensionGroupResponse",
      "type": "object"
    },
    "SortRangeRequest": {
      "description": "Sorts data in rows based on a sort order per column.",
      "id": "SortRangeRequest",
      "type": "object",
      "properties": {
        "range": {
          "description": "The range to sort.",
          "$ref": "GridRange"
        },
        "sortSpecs": {
          "items": {
            "$ref": "SortSpec"
          },
          "description": "The sort order per column. Later specifications are used when values are equal in the earlier specifications.",
          "type": "array"
        }
      }
    },
    "OverlayPosition": {
      "description": "The location an object is overlaid on top of a grid.",
      "type": "object",
      "properties": {
        "offsetYPixels": {
          "type": "integer",
          "format": "int32",
          "description": "The vertical offset, in pixels, that the object is offset from the anchor cell."
        },
        "anchorCell": {
          "$ref": "GridCoordinate",
          "description": "The cell the object is anchored to."
        },
        "offsetXPixels": {
          "type": "integer",
          "format": "int32",
          "description": "The horizontal offset, in pixels, that the object is offset from the anchor cell."
        },
        "heightPixels": {
          "type": "integer",
          "format": "int32",
          "description": "The height of the object, in pixels. Defaults to 371."
        },
        "widthPixels": {
          "type": "integer",
          "format": "int32",
          "description": "The width of the object, in pixels. Defaults to 600."
        }
      },
      "id": "OverlayPosition"
    },
    "MergeCellsRequest": {
      "description": "Merges all cells in the range.",
      "type": "object",
      "properties": {
        "mergeType": {
          "enum": [
            "MERGE_ALL",
            "MERGE_COLUMNS",
            "MERGE_ROWS"
          ],
          "description": "How the cells should be merged.",
          "enumDescriptions": [
            "Create a single merge from the range",
            "Create a merge for each column in the range",
            "Create a merge for each row in the range"
          ],
          "type": "string"
        },
        "range": {
          "description": "The range of cells to merge.",
          "$ref": "GridRange"
        }
      },
      "id": "MergeCellsRequest"
    },
    "DataSourceParameter": {
      "type": "object",
      "description": "A parameter in a data source's query. The parameter allows the user to pass in values from the spreadsheet into a query.",
      "properties": {
        "range": {
          "description": "A range that contains the value of the parameter. Its size must be 1x1.",
          "$ref": "GridRange"
        },
        "name": {
          "type": "string",
          "description": "Named parameter. Must be a legitimate identifier for the DataSource that supports it. For example, [BigQuery identifier](https://cloud.google.com/bigquery/docs/reference/standard-sql/lexical#identifiers)."
        },
        "namedRangeId": {
          "description": "ID of a NamedRange. Its size must be 1x1.",
          "type": "string"
        }
      },
      "id": "DataSourceParameter"
    },
    "AddNamedRangeRequest": {
      "id": "AddNamedRangeRequest",
      "type": "object",
      "properties": {
        "namedRange": {
          "$ref": "NamedRange",
          "description": "The named range to add. The namedRangeId field is optional; if one is not set, an id will be randomly generated. (It is an error to specify the ID of a range that already exists.)"
        }
      },
      "description": "Adds a named range to the spreadsheet."
    },
    "DeveloperMetadataLookup": {
      "type": "object",
      "description": "Selects DeveloperMetadata that matches all of the specified fields. For example, if only a metadata ID is specified this considers the DeveloperMetadata with that particular unique ID. If a metadata key is specified, this considers all developer metadata with that key. If a key, visibility, and location type are all specified, this considers all developer metadata with that key and visibility that are associated with a location of that type. In general, this selects all DeveloperMetadata that matches the intersection of all the specified fields; any field or combination of fields may be specified.",
      "id": "DeveloperMetadataLookup",
      "properties": {
        "metadataValue": {
          "description": "Limits the selected developer metadata to that which has a matching DeveloperMetadata.metadata_value.",
          "type": "string"
        },
        "metadataLocation": {
          "description": "Limits the selected developer metadata to those entries associated with the specified location. This field either matches exact locations or all intersecting locations according the specified locationMatchingStrategy.",
          "$ref": "DeveloperMetadataLocation"
        },
        "locationMatchingStrategy": {
          "description": "Determines how this lookup matches the location. If this field is specified as EXACT, only developer metadata associated on the exact location specified is matched. If this field is specified to INTERSECTING, developer metadata associated on intersecting locations is also matched. If left unspecified, this field assumes a default value of INTERSECTING. If this field is specified, a metadataLocation must also be specified.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value must not be used.",
            "Indicates that a specified location should be matched exactly. For example, if row three were specified as a location this matching strategy would only match developer metadata also associated on row three. Metadata associated on other locations would not be considered.",
            "Indicates that a specified location should match that exact location as well as any intersecting locations. For example, if row three were specified as a location this matching strategy would match developer metadata associated on row three as well as metadata associated on locations that intersect row three. If, for instance, there was developer metadata associated on column B, this matching strategy would also match that location because column B intersects row three."
          ],
          "enum": [
            "DEVELOPER_METADATA_LOCATION_MATCHING_STRATEGY_UNSPECIFIED",
            "EXACT_LOCATION",
            "INTERSECTING_LOCATION"
          ]
        },
        "locationType": {
          "enumDescriptions": [
            "Default value.",
            "Developer metadata associated on an entire row dimension.",
            "Developer metadata associated on an entire column dimension.",
            "Developer metadata associated on an entire sheet.",
            "Developer metadata associated on the entire spreadsheet."
          ],
          "enum": [
            "DEVELOPER_METADATA_LOCATION_TYPE_UNSPECIFIED",
            "ROW",
            "COLUMN",
            "SHEET",
            "SPREADSHEET"
          ],
          "type": "string",
          "description": "Limits the selected developer metadata to those entries which are associated with locations of the specified type. For example, when this field is specified as ROW this lookup only considers developer metadata associated on rows. If the field is left unspecified, all location types are considered. This field cannot be specified as SPREADSHEET when the locationMatchingStrategy is specified as INTERSECTING or when the metadataLocation is specified as a non-spreadsheet location: spreadsheet metadata cannot intersect any other developer metadata location. This field also must be left unspecified when the locationMatchingStrategy is specified as EXACT."
        },
        "metadataKey": {
          "description": "Limits the selected developer metadata to that which has a matching DeveloperMetadata.metadata_key.",
          "type": "string"
        },
        "metadataId": {
          "type": "integer",
          "description": "Limits the selected developer metadata to that which has a matching DeveloperMetadata.metadata_id.",
          "format": "int32"
        },
        "visibility": {
          "enum": [
            "DEVELOPER_METADATA_VISIBILITY_UNSPECIFIED",
            "DOCUMENT",
            "PROJECT"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Document-visible metadata is accessible from any developer project with access to the document.",
            "Project-visible metadata is only visible to and accessible by the developer project that created the metadata."
          ],
          "description": "Limits the selected developer metadata to that which has a matching DeveloperMetadata.visibility. If left unspecified, all developer metadata visibile to the requesting project is considered."
        }
      }
    },
    "CopyPasteRequest": {
      "properties": {
        "source": {
          "$ref": "GridRange",
          "description": "The source range to copy."
        },
        "pasteOrientation": {
          "enumDescriptions": [
            "Paste normally.",
            "Paste transposed, where all rows become columns and vice versa."
          ],
          "enum": [
            "NORMAL",
            "TRANSPOSE"
          ],
          "description": "How that data should be oriented when pasting.",
          "type": "string"
        },
        "pasteType": {
          "description": "What kind of data to paste.",
          "enum": [
            "PASTE_NORMAL",
            "PASTE_VALUES",
            "PASTE_FORMAT",
            "PASTE_NO_BORDERS",
            "PASTE_FORMULA",
            "PASTE_DATA_VALIDATION",
            "PASTE_CONDITIONAL_FORMATTING"
          ],
          "enumDescriptions": [
            "Paste values, formulas, formats, and merges.",
            "Paste the values ONLY without formats, formulas, or merges.",
            "Paste the format and data validation only.",
            "Like `PASTE_NORMAL` but without borders.",
            "Paste the formulas only.",
            "Paste the data validation only.",
            "Paste the conditional formatting rules only."
          ],
          "type": "string"
        },
        "destination": {
          "description": "The location to paste to. If the range covers a span that's a multiple of the source's height or width, then the data will be repeated to fill in the destination range. If the range is smaller than the source range, the entire source data will still be copied (beyond the end of the destination range).",
          "$ref": "GridRange"
        }
      },
      "description": "Copies data from the source to the destination.",
      "type": "object",
      "id": "CopyPasteRequest"
    },
    "SetDataValidationRequest": {
      "description": "Sets a data validation rule to every cell in the range. To clear validation in a range, call this with no rule specified.",
      "type": "object",
      "id": "SetDataValidationRequest",
      "properties": {
        "range": {
          "$ref": "GridRange",
          "description": "The range the data validation rule should apply to."
        },
        "rule": {
          "description": "The data validation rule to set on each cell in the range, or empty to clear the data validation in the range.",
          "$ref": "DataValidationRule"
        }
      }
    },
    "TextFormatRun": {
      "type": "object",
      "description": "A run of a text format. The format of this run continues until the start index of the next run. When updating, all fields must be set.",
      "properties": {
        "startIndex": {
          "format": "int32",
          "description": "The character index where this run starts.",
          "type": "integer"
        },
        "format": {
          "$ref": "TextFormat",
          "description": "The format of this run. Absent values inherit the cell's format."
        }
      },
      "id": "TextFormatRun"
    },
    "DataExecutionStatus": {
      "properties": {
        "state": {
          "enumDescriptions": [
            "Default value, do not use.",
            "The data execution has not started.",
            "The data execution has started and is running.",
            "The data execution has completed successfully.",
            "The data execution has completed with errors."
          ],
          "enum": [
            "DATA_EXECUTION_STATE_UNSPECIFIED",
            "NOT_STARTED",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ],
          "type": "string",
          "description": "The state of the data execution."
        },
        "lastRefreshTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Gets the time the data last successfully refreshed."
        },
        "errorCode": {
          "enumDescriptions": [
            "Default value, do not use.",
            "The data execution timed out.",
            "The data execution returns more rows than the limit.",
            "The data execution returns more columns than the limit.",
            "The data execution returns more cells than the limit.",
            "Error is received from the backend data execution engine (e.g. BigQuery). Check error_message for details.",
            "One or some of the provided data source parameters are invalid.",
            "The data execution returns an unsupported data type.",
            "The data execution returns duplicate column names or aliases.",
            "The data execution is interrupted. Please refresh later.",
            "The data execution is currently in progress, can not be refreshed until it completes.",
            "Other errors.",
            "The data execution returns values that exceed the maximum characters allowed in a single cell.",
            "The database referenced by the data source is not found. */",
            "The user does not have access to the database referenced by the data source.",
            "The data execution returns columns with missing aliases.",
            "The data source object does not exist.",
            "The data source object is currently in error state. To force refresh, set force in RefreshDataSourceRequest.",
            "The data source object specification is invalid."
          ],
          "type": "string",
          "enum": [
            "DATA_EXECUTION_ERROR_CODE_UNSPECIFIED",
            "TIMED_OUT",
            "TOO_MANY_ROWS",
            "TOO_MANY_COLUMNS",
            "TOO_MANY_CELLS",
            "ENGINE",
            "PARAMETER_INVALID",
            "UNSUPPORTED_DATA_TYPE",
            "DUPLICATE_COLUMN_NAMES",
            "INTERRUPTED",
            "CONCURRENT_QUERY",
            "OTHER",
            "TOO_MANY_CHARS_PER_CELL",
            "DATA_NOT_FOUND",
            "PERMISSION_DENIED",
            "MISSING_COLUMN_ALIAS",
            "OBJECT_NOT_FOUND",
            "OBJECT_IN_ERROR_STATE",
            "OBJECT_SPEC_INVALID"
          ],
          "description": "The error code."
        },
        "errorMessage": {
          "description": "The error message, which may be empty.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The data execution status. A data execution is created to sync a data source object with the latest data from a DataSource. It is usually scheduled to run at background, you can check its state to tell if an execution completes There are several scenarios where a data execution is triggered to run: * Adding a data source creates an associated data source sheet as well as a data execution to sync the data from the data source to the sheet. * Updating a data source creates a data execution to refresh the associated data source sheet similarly. * You can send refresh request to explicitly refresh one or multiple data source objects.",
      "id": "DataExecutionStatus"
    },
    "UnmergeCellsRequest": {
      "properties": {
        "range": {
          "$ref": "GridRange",
          "description": "The range within which all cells should be unmerged. If the range spans multiple merges, all will be unmerged. The range must not partially span any merge."
        }
      },
      "type": "object",
      "description": "Unmerges cells in the given range.",
      "id": "UnmergeCellsRequest"
    },
    "TextRotation": {
      "id": "TextRotation",
      "properties": {
        "angle": {
          "description": "The angle between the standard orientation and the desired orientation. Measured in degrees. Valid values are between -90 and 90. Positive angles are angled upwards, negative are angled downwards. Note: For LTR text direction positive angles are in the counterclockwise direction, whereas for RTL they are in the clockwise direction",
          "type": "integer",
          "format": "int32"
        },
        "vertical": {
          "description": "If true, text reads top to bottom, but the orientation of individual characters is unchanged. For example: | V | | e | | r | | t | | i | | c | | a | | l |",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "The rotation applied to text in a cell."
    },
    "ChartAxisViewWindowOptions": {
      "properties": {
        "viewWindowMin": {
          "description": "The minimum numeric value to be shown in this view window. If unset, will automatically determine a minimum value that looks good for the data.",
          "type": "number",
          "format": "double"
        },
        "viewWindowMax": {
          "description": "The maximum numeric value to be shown in this view window. If unset, will automatically determine a maximum value that looks good for the data.",
          "type": "number",
          "format": "double"
        },
        "viewWindowMode": {
          "enum": [
            "DEFAULT_VIEW_WINDOW_MODE",
            "VIEW_WINDOW_MODE_UNSUPPORTED",
            "EXPLICIT",
            "PRETTY"
          ],
          "description": "The view window's mode.",
          "type": "string",
          "enumDescriptions": [
            "The default view window mode used in the Sheets editor for this chart type. In most cases, if set, the default mode is equivalent to `PRETTY`.",
            "Do not use. Represents that the currently set mode is not supported by the API.",
            "Follows the min and max exactly if specified. If a value is unspecified, it will fall back to the `PRETTY` value.",
            "Chooses a min and max that make the chart look good. Both min and max are ignored in this mode."
          ]
        }
      },
      "description": "The options that define a \"view window\" for a chart (such as the visible values in an axis).",
      "id": "ChartAxisViewWindowOptions",
      "type": "object"
    },
    "BatchClearValuesByDataFilterResponse": {
      "properties": {
        "clearedRanges": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The ranges that were cleared, in [A1 notation](/sheets/api/guides/concepts#cell). If the requests are for an unbounded range or a ranger larger than the bounds of the sheet, this is the actual ranges that were cleared, bounded to the sheet's limits."
        },
        "spreadsheetId": {
          "type": "string",
          "description": "The spreadsheet the updates were applied to."
        }
      },
      "type": "object",
      "description": "The response when clearing a range of values selected with DataFilters in a spreadsheet.",
      "id": "BatchClearValuesByDataFilterResponse"
    },
    "BatchUpdateValuesRequest": {
      "type": "object",
      "properties": {
        "data": {
          "type": "array",
          "items": {
            "$ref": "ValueRange"
          },
          "description": "The new values to apply to the spreadsheet."
        },
        "responseDateTimeRenderOption": {
          "enum": [
            "SERIAL_NUMBER",
            "FORMATTED_STRING"
          ],
          "enumDescriptions": [
            "Instructs date, time, datetime, and duration fields to be output as doubles in \"serial number\" format, as popularized by Lotus 1-2-3. The whole number portion of the value (left of the decimal) counts the days since December 30th 1899. The fractional portion (right of the decimal) counts the time as a fraction of the day. For example, January 1st 1900 at noon would be 2.5, 2 because it's 2 days after December 30th 1899, and .5 because noon is half a day. February 1st 1900 at 3pm would be 33.625. This correctly treats the year 1900 as not a leap year.",
            "Instructs date, time, datetime, and duration fields to be output as strings in their given number format (which depends on the spreadsheet locale)."
          ],
          "type": "string",
          "description": "Determines how dates, times, and durations in the response should be rendered. This is ignored if response_value_render_option is FORMATTED_VALUE. The default dateTime render option is SERIAL_NUMBER."
        },
        "includeValuesInResponse": {
          "type": "boolean",
          "description": "Determines if the update response should include the values of the cells that were updated. By default, responses do not include the updated values. The `updatedData` field within each of the BatchUpdateValuesResponse.responses contains the updated values. If the range to write was larger than the range actually written, the response includes all values in the requested range (excluding trailing empty rows and columns)."
        },
        "responseValueRenderOption": {
          "type": "string",
          "enumDescriptions": [
            "Values will be calculated & formatted in the reply according to the cell's formatting. Formatting is based on the spreadsheet's locale, not the requesting user's locale. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then `A2` would return `\"$1.23\"`.",
            "Values will be calculated, but not formatted in the reply. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then `A2` would return the number `1.23`.",
            "Values will not be calculated. The reply will include the formulas. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then A2 would return `\"=A1\"`."
          ],
          "description": "Determines how values in the response should be rendered. The default render option is FORMATTED_VALUE.",
          "enum": [
            "FORMATTED_VALUE",
            "UNFORMATTED_VALUE",
            "FORMULA"
          ]
        },
        "valueInputOption": {
          "type": "string",
          "enum": [
            "INPUT_VALUE_OPTION_UNSPECIFIED",
            "RAW",
            "USER_ENTERED"
          ],
          "enumDescriptions": [
            "Default input value. This value must not be used.",
            "The values the user has entered will not be parsed and will be stored as-is.",
            "The values will be parsed as if the user typed them into the UI. Numbers will stay as numbers, but strings may be converted to numbers, dates, etc. following the same rules that are applied when entering text into a cell via the Google Sheets UI."
          ],
          "description": "How the input data should be interpreted."
        }
      },
      "id": "BatchUpdateValuesRequest",
      "description": "The request for updating more than one range of values in a spreadsheet."
    },
    "FilterCriteria": {
      "properties": {
        "visibleBackgroundColor": {
          "$ref": "Color",
          "description": "The background fill color to filter by; only cells with this fill color are shown. Mutually exclusive with visible_foreground_color. Deprecated: Use visible_background_color_style."
        },
        "hiddenValues": {
          "description": "Values that should be hidden.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "visibleForegroundColorStyle": {
          "$ref": "ColorStyle",
          "description": "The foreground color to filter by; only cells with this foreground color are shown. This field is mutually exclusive with visible_background_color, and must be set to an RGB-type color. If visible_foreground_color is also set, this field takes precedence."
        },
        "visibleBackgroundColorStyle": {
          "description": "The background fill color to filter by; only cells with this fill color are shown. This field is mutually exclusive with visible_foreground_color, and must be set to an RGB-type color. If visible_background_color is also set, this field takes precedence.",
          "$ref": "ColorStyle"
        },
        "visibleForegroundColor": {
          "description": "The foreground color to filter by; only cells with this foreground color are shown. Mutually exclusive with visible_background_color. Deprecated: Use visible_foreground_color_style.",
          "$ref": "Color"
        },
        "condition": {
          "description": "A condition that must be true for values to be shown. (This does not override hidden_values -- if a value is listed there, it will still be hidden.)",
          "$ref": "BooleanCondition"
        }
      },
      "id": "FilterCriteria",
      "description": "Criteria for showing/hiding rows in a filter or filter view.",
      "type": "object"
    },
    "BatchUpdateValuesResponse": {
      "type": "object",
      "description": "The response when updating a range of values in a spreadsheet.",
      "id": "BatchUpdateValuesResponse",
      "properties": {
        "totalUpdatedColumns": {
          "description": "The total number of columns where at least one cell in the column was updated.",
          "format": "int32",
          "type": "integer"
        },
        "totalUpdatedRows": {
          "description": "The total number of rows where at least one cell in the row was updated.",
          "type": "integer",
          "format": "int32"
        },
        "totalUpdatedSheets": {
          "description": "The total number of sheets where at least one cell in the sheet was updated.",
          "format": "int32",
          "type": "integer"
        },
        "totalUpdatedCells": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of cells updated."
        },
        "spreadsheetId": {
          "type": "string",
          "description": "The spreadsheet the updates were applied to."
        },
        "responses": {
          "items": {
            "$ref": "UpdateValuesResponse"
          },
          "type": "array",
          "description": "One UpdateValuesResponse per requested range, in the same order as the requests appeared."
        }
      }
    },
    "BasicChartAxis": {
      "description": "An axis of the chart. A chart may not have more than one axis per axis position.",
      "properties": {
        "title": {
          "type": "string",
          "description": "The title of this axis. If set, this overrides any title inferred from headers of the data."
        },
        "titleTextPosition": {
          "description": "The axis title text position.",
          "$ref": "TextPosition"
        },
        "viewWindowOptions": {
          "description": "The view window options for this axis.",
          "$ref": "ChartAxisViewWindowOptions"
        },
        "position": {
          "type": "string",
          "enumDescriptions": [
            "Default value, do not use.",
            "The axis rendered at the bottom of a chart. For most charts, this is the standard major axis. For bar charts, this is a minor axis.",
            "The axis rendered at the left of a chart. For most charts, this is a minor axis. For bar charts, this is the standard major axis.",
            "The axis rendered at the right of a chart. For most charts, this is a minor axis. For bar charts, this is an unusual major axis."
          ],
          "description": "The position of this axis.",
          "enum": [
            "BASIC_CHART_AXIS_POSITION_UNSPECIFIED",
            "BOTTOM_AXIS",
            "LEFT_AXIS",
            "RIGHT_AXIS"
          ]
        },
        "format": {
          "$ref": "TextFormat",
          "description": "The format of the title. Only valid if the axis is not associated with the domain. The link field is not supported."
        }
      },
      "id": "BasicChartAxis",
      "type": "object"
    },
    "SearchDeveloperMetadataResponse": {
      "id": "SearchDeveloperMetadataResponse",
      "properties": {
        "matchedDeveloperMetadata": {
          "items": {
            "$ref": "MatchedDeveloperMetadata"
          },
          "description": "The metadata matching the criteria of the search request.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "A reply to a developer metadata search request."
    },
    "UpdateFilterViewRequest": {
      "properties": {
        "fields": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "The fields that should be updated. At least one field must be specified. The root `filter` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field."
        },
        "filter": {
          "$ref": "FilterView",
          "description": "The new properties of the filter view."
        }
      },
      "description": "Updates properties of the filter view.",
      "type": "object",
      "id": "UpdateFilterViewRequest"
    },
    "AddFilterViewResponse": {
      "description": "The result of adding a filter view.",
      "type": "object",
      "id": "AddFilterViewResponse",
      "properties": {
        "filter": {
          "description": "The newly added filter view.",
          "$ref": "FilterView"
        }
      }
    },
    "UpdateConditionalFormatRuleRequest": {
      "properties": {
        "sheetId": {
          "description": "The sheet of the rule to move. Required if new_index is set, unused otherwise.",
          "type": "integer",
          "format": "int32"
        },
        "newIndex": {
          "description": "The zero-based new index the rule should end up at.",
          "format": "int32",
          "type": "integer"
        },
        "rule": {
          "description": "The rule that should replace the rule at the given index.",
          "$ref": "ConditionalFormatRule"
        },
        "index": {
          "type": "integer",
          "format": "int32",
          "description": "The zero-based index of the rule that should be replaced or moved."
        }
      },
      "id": "UpdateConditionalFormatRuleRequest",
      "type": "object",
      "description": "Updates a conditional format rule at the given index, or moves a conditional format rule to another index."
    },
    "DeleteDeveloperMetadataRequest": {
      "type": "object",
      "properties": {
        "dataFilter": {
          "description": "The data filter describing the criteria used to select which developer metadata entry to delete.",
          "$ref": "DataFilter"
        }
      },
      "description": "A request to delete developer metadata.",
      "id": "DeleteDeveloperMetadataRequest"
    },
    "BatchGetValuesByDataFilterRequest": {
      "description": "The request for retrieving a range of values in a spreadsheet selected by a set of DataFilters.",
      "id": "BatchGetValuesByDataFilterRequest",
      "type": "object",
      "properties": {
        "valueRenderOption": {
          "enumDescriptions": [
            "Values will be calculated & formatted in the reply according to the cell's formatting. Formatting is based on the spreadsheet's locale, not the requesting user's locale. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then `A2` would return `\"$1.23\"`.",
            "Values will be calculated, but not formatted in the reply. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then `A2` would return the number `1.23`.",
            "Values will not be calculated. The reply will include the formulas. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then A2 would return `\"=A1\"`."
          ],
          "enum": [
            "FORMATTED_VALUE",
            "UNFORMATTED_VALUE",
            "FORMULA"
          ],
          "description": "How values should be represented in the output. The default render option is FORMATTED_VALUE.",
          "type": "string"
        },
        "dateTimeRenderOption": {
          "enumDescriptions": [
            "Instructs date, time, datetime, and duration fields to be output as doubles in \"serial number\" format, as popularized by Lotus 1-2-3. The whole number portion of the value (left of the decimal) counts the days since December 30th 1899. The fractional portion (right of the decimal) counts the time as a fraction of the day. For example, January 1st 1900 at noon would be 2.5, 2 because it's 2 days after December 30th 1899, and .5 because noon is half a day. February 1st 1900 at 3pm would be 33.625. This correctly treats the year 1900 as not a leap year.",
            "Instructs date, time, datetime, and duration fields to be output as strings in their given number format (which depends on the spreadsheet locale)."
          ],
          "enum": [
            "SERIAL_NUMBER",
            "FORMATTED_STRING"
          ],
          "type": "string",
          "description": "How dates, times, and durations should be represented in the output. This is ignored if value_render_option is FORMATTED_VALUE. The default dateTime render option is SERIAL_NUMBER."
        },
        "majorDimension": {
          "description": "The major dimension that results should use. For example, if the spreadsheet data is: `A1=1,B1=2,A2=3,B2=4`, then a request that selects that range and sets `majorDimension=ROWS` returns `[[1,2],[3,4]]`, whereas a request that sets `majorDimension=COLUMNS` returns `[[1,3],[2,4]]`.",
          "type": "string",
          "enum": [
            "DIMENSION_UNSPECIFIED",
            "ROWS",
            "COLUMNS"
          ],
          "enumDescriptions": [
            "The default value, do not use.",
            "Operates on the rows of a sheet.",
            "Operates on the columns of a sheet."
          ]
        },
        "dataFilters": {
          "description": "The data filters used to match the ranges of values to retrieve. Ranges that match any of the specified data filters are included in the response.",
          "type": "array",
          "items": {
            "$ref": "DataFilter"
          }
        }
      }
    },
    "AddSheetResponse": {
      "type": "object",
      "description": "The result of adding a sheet.",
      "id": "AddSheetResponse",
      "properties": {
        "properties": {
          "description": "The properties of the newly added sheet.",
          "$ref": "SheetProperties"
        }
      }
    },
    "DuplicateFilterViewRequest": {
      "properties": {
        "filterId": {
          "type": "integer",
          "format": "int32",
          "description": "The ID of the filter being duplicated."
        }
      },
      "type": "object",
      "description": "Duplicates a particular filter view.",
      "id": "DuplicateFilterViewRequest"
    },
    "DataSourceChartProperties": {
      "type": "object",
      "properties": {
        "dataSourceId": {
          "description": "ID of the data source that the chart is associated with.",
          "type": "string"
        },
        "dataExecutionStatus": {
          "$ref": "DataExecutionStatus",
          "readOnly": true,
          "description": "Output only. The data execution status."
        }
      },
      "description": "Properties of a data source chart.",
      "id": "DataSourceChartProperties"
    },
    "BasicChartSpec": {
      "description": "The specification for a basic chart. See BasicChartType for the list of charts this supports.",
      "id": "BasicChartSpec",
      "type": "object",
      "properties": {
        "headerCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of rows or columns in the data that are \"headers\". If not set, Google Sheets will guess how many rows are headers based on the data. (Note that BasicChartAxis.title may override the axis title inferred from the header values.)"
        },
        "series": {
          "description": "The data this chart is visualizing.",
          "type": "array",
          "items": {
            "$ref": "BasicChartSeries"
          }
        },
        "domains": {
          "items": {
            "$ref": "BasicChartDomain"
          },
          "description": "The domain of data this is charting. Only a single domain is supported.",
          "type": "array"
        },
        "stackedType": {
          "enumDescriptions": [
            "Default value, do not use.",
            "Series are not stacked.",
            "Series values are stacked, each value is rendered vertically beginning from the top of the value below it.",
            "Vertical stacks are stretched to reach the top of the chart, with values laid out as percentages of each other."
          ],
          "description": "The stacked type for charts that support vertical stacking. Applies to Area, Bar, Column, Combo, and Stepped Area charts.",
          "enum": [
            "BASIC_CHART_STACKED_TYPE_UNSPECIFIED",
            "NOT_STACKED",
            "STACKED",
            "PERCENT_STACKED"
          ],
          "type": "string"
        },
        "threeDimensional": {
          "description": "True to make the chart 3D. Applies to Bar and Column charts.",
          "type": "boolean"
        },
        "lineSmoothing": {
          "type": "boolean",
          "description": "Gets whether all lines should be rendered smooth or straight by default. Applies to Line charts."
        },
        "legendPosition": {
          "description": "The position of the chart legend.",
          "type": "string",
          "enumDescriptions": [
            "Default value, do not use.",
            "The legend is rendered on the bottom of the chart.",
            "The legend is rendered on the left of the chart.",
            "The legend is rendered on the right of the chart.",
            "The legend is rendered on the top of the chart.",
            "No legend is rendered."
          ],
          "enum": [
            "BASIC_CHART_LEGEND_POSITION_UNSPECIFIED",
            "BOTTOM_LEGEND",
            "LEFT_LEGEND",
            "RIGHT_LEGEND",
            "TOP_LEGEND",
            "NO_LEGEND"
          ]
        },
        "chartType": {
          "enum": [
            "BASIC_CHART_TYPE_UNSPECIFIED",
            "BAR",
            "LINE",
            "AREA",
            "COLUMN",
            "SCATTER",
            "COMBO",
            "STEPPED_AREA"
          ],
          "description": "The type of the chart.",
          "enumDescriptions": [
            "Default value, do not use.",
            "A bar chart.",
            "A line chart.",
            "An area chart.",
            "A column chart.",
            "A scatter chart.",
            "A combo chart.",
            "A stepped area chart."
          ],
          "type": "string"
        },
        "interpolateNulls": {
          "type": "boolean",
          "description": "If some values in a series are missing, gaps may appear in the chart (e.g, segments of lines in a line chart will be missing). To eliminate these gaps set this to true. Applies to Line, Area, and Combo charts."
        },
        "totalDataLabel": {
          "$ref": "DataLabel",
          "description": "Controls whether to display additional data labels on stacked charts which sum the total value of all stacked values at each value along the domain axis. These data labels can only be set when chart_type is one of AREA, BAR, COLUMN, COMBO or STEPPED_AREA and stacked_type is either STACKED or PERCENT_STACKED. In addition, for COMBO, this will only be supported if there is only one type of stackable series type or one type has more series than the others and each of the other types have no more than one series. For example, if a chart has two stacked bar series and one area series, the total data labels will be supported. If it has three bar series and two area series, total data labels are not allowed. Neither CUSTOM nor placement can be set on the total_data_label."
        },
        "axis": {
          "items": {
            "$ref": "BasicChartAxis"
          },
          "type": "array",
          "description": "The axis on the chart."
        },
        "compareMode": {
          "enum": [
            "BASIC_CHART_COMPARE_MODE_UNSPECIFIED",
            "DATUM",
            "CATEGORY"
          ],
          "enumDescriptions": [
            "Default value, do not use.",
            "Only the focused data element is highlighted and shown in the tooltip.",
            "All data elements with the same category (e.g., domain value) are highlighted and shown in the tooltip."
          ],
          "type": "string",
          "description": "The behavior of tooltips and data highlighting when hovering on data and chart area."
        }
      }
    },
    "PivotGroup": {
      "description": "A single grouping (either row or column) in a pivot table.",
      "properties": {
        "sortOrder": {
          "description": "The order the values in this group should be sorted.",
          "enumDescriptions": [
            "Default value, do not use this.",
            "Sort ascending.",
            "Sort descending."
          ],
          "enum": [
            "SORT_ORDER_UNSPECIFIED",
            "ASCENDING",
            "DESCENDING"
          ],
          "type": "string"
        },
        "label": {
          "type": "string",
          "description": "The labels to use for the row/column groups which can be customized. For example, in the following pivot table, the row label is `Region` (which could be renamed to `State`) and the column label is `Product` (which could be renamed `Item`). Pivot tables created before December 2017 do not have header labels. If you'd like to add header labels to an existing pivot table, please delete the existing pivot table and then create a new pivot table with same parameters. +--------------+---------+-------+ | SUM of Units | Product | | | Region | Pen | Paper | +--------------+---------+-------+ | New York | 345 | 98 | | Oregon | 234 | 123 | | Tennessee | 531 | 415 | +--------------+---------+-------+ | Grand Total | 1110 | 636 | +--------------+---------+-------+"
        },
        "valueMetadata": {
          "description": "Metadata about values in the grouping.",
          "type": "array",
          "items": {
            "$ref": "PivotGroupValueMetadata"
          }
        },
        "groupLimit": {
          "description": "The count limit on rows or columns to apply to this pivot group.",
          "$ref": "PivotGroupLimit"
        },
        "showTotals": {
          "type": "boolean",
          "description": "True if the pivot table should include the totals for this grouping."
        },
        "valueBucket": {
          "description": "The bucket of the opposite pivot group to sort by. If not specified, sorting is alphabetical by this group's values.",
          "$ref": "PivotGroupSortValueBucket"
        },
        "groupRule": {
          "description": "The group rule to apply to this row/column group.",
          "$ref": "PivotGroupRule"
        },
        "repeatHeadings": {
          "description": "True if the headings in this pivot group should be repeated. This is only valid for row groupings and is ignored by columns. By default, we minimize repetition of headings by not showing higher level headings where they are the same. For example, even though the third row below corresponds to \"Q1 Mar\", \"Q1\" is not shown because it is redundant with previous rows. Setting repeat_headings to true would cause \"Q1\" to be repeated for \"Feb\" and \"Mar\". +--------------+ | Q1 | Jan | | | Feb | | | Mar | +--------+-----+ | Q1 Total | +--------------+",
          "type": "boolean"
        },
        "dataSourceColumnReference": {
          "$ref": "DataSourceColumnReference",
          "description": "The reference to the data source column this grouping is based on."
        },
        "sourceColumnOffset": {
          "type": "integer",
          "format": "int32",
          "description": "The column offset of the source range that this grouping is based on. For example, if the source was `C10:E15`, a `sourceColumnOffset` of `0` means this group refers to column `C`, whereas the offset `1` would refer to column `D`."
        }
      },
      "id": "PivotGroup",
      "type": "object"
    },
    "RepeatCellRequest": {
      "type": "object",
      "description": "Updates all cells in the range to the values in the given Cell object. Only the fields listed in the fields field are updated; others are unchanged. If writing a cell with a formula, the formula's ranges will automatically increment for each field in the range. For example, if writing a cell with formula `=A1` into range B2:C4, B2 would be `=A1`, B3 would be `=A2`, B4 would be `=A3`, C2 would be `=B1`, C3 would be `=B2`, C4 would be `=B3`. To keep the formula's ranges static, use the `$` indicator. For example, use the formula `=$A$1` to prevent both the row and the column from incrementing.",
      "id": "RepeatCellRequest",
      "properties": {
        "range": {
          "description": "The range to repeat the cell in.",
          "$ref": "GridRange"
        },
        "fields": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "The fields that should be updated. At least one field must be specified. The root `cell` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field."
        },
        "cell": {
          "description": "The data to write.",
          "$ref": "CellData"
        }
      }
    },
    "InsertRangeRequest": {
      "description": "Inserts cells into a range, shifting the existing cells over or down.",
      "id": "InsertRangeRequest",
      "properties": {
        "range": {
          "$ref": "GridRange",
          "description": "The range to insert new cells into."
        },
        "shiftDimension": {
          "enumDescriptions": [
            "The default value, do not use.",
            "Operates on the rows of a sheet.",
            "Operates on the columns of a sheet."
          ],
          "type": "string",
          "enum": [
            "DIMENSION_UNSPECIFIED",
            "ROWS",
            "COLUMNS"
          ],
          "description": "The dimension which will be shifted when inserting cells. If ROWS, existing cells will be shifted down. If COLUMNS, existing cells will be shifted right."
        }
      },
      "type": "object"
    },
    "InterpolationPoint": {
      "type": "object",
      "properties": {
        "color": {
          "description": "The color this interpolation point should use. Deprecated: Use color_style.",
          "$ref": "Color"
        },
        "colorStyle": {
          "description": "The color this interpolation point should use. If color is also set, this field takes precedence.",
          "$ref": "ColorStyle"
        },
        "value": {
          "type": "string",
          "description": "The value this interpolation point uses. May be a formula. Unused if type is MIN or MAX."
        },
        "type": {
          "enumDescriptions": [
            "The default value, do not use.",
            "The interpolation point uses the minimum value in the cells over the range of the conditional format.",
            "The interpolation point uses the maximum value in the cells over the range of the conditional format.",
            "The interpolation point uses exactly the value in InterpolationPoint.value.",
            "The interpolation point is the given percentage over all the cells in the range of the conditional format. This is equivalent to `NUMBER` if the value was: `=(MAX(FLATTEN(range)) * (value / 100)) + (MIN(FLATTEN(range)) * (1 - (value / 100)))` (where errors in the range are ignored when flattening).",
            "The interpolation point is the given percentile over all the cells in the range of the conditional format. This is equivalent to `NUMBER` if the value was: `=PERCENTILE(FLATTEN(range), value / 100)` (where errors in the range are ignored when flattening)."
          ],
          "description": "How the value should be interpreted.",
          "type": "string",
          "enum": [
            "INTERPOLATION_POINT_TYPE_UNSPECIFIED",
            "MIN",
            "MAX",
            "NUMBER",
            "PERCENT",
            "PERCENTILE"
          ]
        }
      },
      "description": "A single interpolation point on a gradient conditional format. These pin the gradient color scale according to the color, type and value chosen.",
      "id": "InterpolationPoint"
    },
    "PivotValue": {
      "id": "PivotValue",
      "description": "The definition of how a value in a pivot table should be calculated.",
      "properties": {
        "formula": {
          "type": "string",
          "description": "A custom formula to calculate the value. The formula must start with an `=` character."
        },
        "sourceColumnOffset": {
          "format": "int32",
          "type": "integer",
          "description": "The column offset of the source range that this value reads from. For example, if the source was `C10:E15`, a `sourceColumnOffset` of `0` means this value refers to column `C`, whereas the offset `1` would refer to column `D`."
        },
        "calculatedDisplayType": {
          "description": "If specified, indicates that pivot values should be displayed as the result of a calculation with another pivot value. For example, if calculated_display_type is specified as PERCENT_OF_GRAND_TOTAL, all the pivot values are displayed as the percentage of the grand total. In the Sheets editor, this is referred to as \"Show As\" in the value section of a pivot table.",
          "enum": [
            "PIVOT_VALUE_CALCULATED_DISPLAY_TYPE_UNSPECIFIED",
            "PERCENT_OF_ROW_TOTAL",
            "PERCENT_OF_COLUMN_TOTAL",
            "PERCENT_OF_GRAND_TOTAL"
          ],
          "enumDescriptions": [
            "Default value, do not use.",
            "Shows the pivot values as percentage of the row total values.",
            "Shows the pivot values as percentage of the column total values.",
            "Shows the pivot values as percentage of the grand total values."
          ],
          "type": "string"
        },
        "dataSourceColumnReference": {
          "description": "The reference to the data source column that this value reads from.",
          "$ref": "DataSourceColumnReference"
        },
        "summarizeFunction": {
          "type": "string",
          "description": "A function to summarize the value. If formula is set, the only supported values are SUM and CUSTOM. If sourceColumnOffset is set, then `CUSTOM` is not supported.",
          "enumDescriptions": [
            "The default, do not use.",
            "Corresponds to the `SUM` function.",
            "Corresponds to the `COUNTA` function.",
            "Corresponds to the `COUNT` function.",
            "Corresponds to the `COUNTUNIQUE` function.",
            "Corresponds to the `AVERAGE` function.",
            "Corresponds to the `MAX` function.",
            "Corresponds to the `MIN` function.",
            "Corresponds to the `MEDIAN` function.",
            "Corresponds to the `PRODUCT` function.",
            "Corresponds to the `STDEV` function.",
            "Corresponds to the `STDEVP` function.",
            "Corresponds to the `VAR` function.",
            "Corresponds to the `VARP` function.",
            "Indicates the formula should be used as-is. Only valid if PivotValue.formula was set."
          ],
          "enum": [
            "PIVOT_STANDARD_VALUE_FUNCTION_UNSPECIFIED",
            "SUM",
            "COUNTA",
            "COUNT",
            "COUNTUNIQUE",
            "AVERAGE",
            "MAX",
            "MIN",
            "MEDIAN",
            "PRODUCT",
            "STDEV",
            "STDEVP",
            "VAR",
            "VARP",
            "CUSTOM"
          ]
        },
        "name": {
          "type": "string",
          "description": "A name to use for the value."
        }
      },
      "type": "object"
    },
    "BatchClearValuesResponse": {
      "properties": {
        "clearedRanges": {
          "type": "array",
          "description": "The ranges that were cleared, in A1 notation. If the requests are for an unbounded range or a ranger larger than the bounds of the sheet, this is the actual ranges that were cleared, bounded to the sheet's limits.",
          "items": {
            "type": "string"
          }
        },
        "spreadsheetId": {
          "description": "The spreadsheet the updates were applied to.",
          "type": "string"
        }
      },
      "description": "The response when clearing a range of values in a spreadsheet.",
      "id": "BatchClearValuesResponse",
      "type": "object"
    },
    "DataSourceRefreshSchedule": {
      "description": "Schedule for refreshing the data source. Data sources in the spreadsheet are refreshed within a time interval. You can specify the start time by clicking the Scheduled Refresh button in the Sheets editor, but the interval is fixed at 4 hours. For example, if you specify a start time of 8am , the refresh will take place between 8am and 12pm every day.",
      "id": "DataSourceRefreshSchedule",
      "properties": {
        "weeklySchedule": {
          "$ref": "DataSourceRefreshWeeklySchedule",
          "description": "Weekly refresh schedule."
        },
        "refreshScope": {
          "enum": [
            "DATA_SOURCE_REFRESH_SCOPE_UNSPECIFIED",
            "ALL_DATA_SOURCES"
          ],
          "description": "The scope of the refresh. Must be ALL_DATA_SOURCES.",
          "type": "string",
          "enumDescriptions": [
            "Default value, do not use.",
            "Refreshes all data sources and their associated data source objects in the spreadsheet."
          ]
        },
        "enabled": {
          "description": "True if the refresh schedule is enabled, or false otherwise.",
          "type": "boolean"
        },
        "dailySchedule": {
          "description": "Daily refresh schedule.",
          "$ref": "DataSourceRefreshDailySchedule"
        },
        "nextRun": {
          "readOnly": true,
          "description": "Output only. The time interval of the next run.",
          "$ref": "Interval"
        },
        "monthlySchedule": {
          "description": "Monthly refresh schedule.",
          "$ref": "DataSourceRefreshMonthlySchedule"
        }
      },
      "type": "object"
    },
    "PivotGroupSortValueBucket": {
      "id": "PivotGroupSortValueBucket",
      "description": "Information about which values in a pivot group should be used for sorting.",
      "type": "object",
      "properties": {
        "valuesIndex": {
          "description": "The offset in the PivotTable.values list which the values in this grouping should be sorted by.",
          "format": "int32",
          "type": "integer"
        },
        "buckets": {
          "description": "Determines the bucket from which values are chosen to sort. For example, in a pivot table with one row group & two column groups, the row group can list up to two values. The first value corresponds to a value within the first column group, and the second value corresponds to a value in the second column group. If no values are listed, this would indicate that the row should be sorted according to the \"Grand Total\" over the column groups. If a single value is listed, this would correspond to using the \"Total\" of that bucket.",
          "items": {
            "$ref": "ExtendedValue"
          },
          "type": "array"
        }
      }
    },
    "DeleteDataSourceRequest": {
      "type": "object",
      "properties": {
        "dataSourceId": {
          "description": "The ID of the data source to delete.",
          "type": "string"
        }
      },
      "id": "DeleteDataSourceRequest",
      "description": "Deletes a data source. The request also deletes the associated data source sheet, and unlinks all associated data source objects."
    },
    "AddDimensionGroupResponse": {
      "description": "The result of adding a group.",
      "id": "AddDimensionGroupResponse",
      "type": "object",
      "properties": {
        "dimensionGroups": {
          "type": "array",
          "items": {
            "$ref": "DimensionGroup"
          },
          "description": "All groups of a dimension after adding a group to that dimension."
        }
      }
    },
    "UpdateDeveloperMetadataResponse": {
      "id": "UpdateDeveloperMetadataResponse",
      "description": "The response from updating developer metadata.",
      "properties": {
        "developerMetadata": {
          "items": {
            "$ref": "DeveloperMetadata"
          },
          "type": "array",
          "description": "The updated developer metadata."
        }
      },
      "type": "object"
    },
    "BubbleChartSpec": {
      "description": "A bubble chart.",
      "id": "BubbleChartSpec",
      "properties": {
        "groupIds": {
          "$ref": "ChartData",
          "description": "The data containing the bubble group IDs. All bubbles with the same group ID are drawn in the same color. If bubble_sizes is specified then this field must also be specified but may contain blank values. This field is optional."
        },
        "bubbleTextStyle": {
          "$ref": "TextFormat",
          "description": "The format of the text inside the bubbles. Strikethrough, underline, and link are not supported."
        },
        "legendPosition": {
          "enumDescriptions": [
            "Default value, do not use.",
            "The legend is rendered on the bottom of the chart.",
            "The legend is rendered on the left of the chart.",
            "The legend is rendered on the right of the chart.",
            "The legend is rendered on the top of the chart.",
            "No legend is rendered.",
            "The legend is rendered inside the chart area."
          ],
          "type": "string",
          "description": "Where the legend of the chart should be drawn.",
          "enum": [
            "BUBBLE_CHART_LEGEND_POSITION_UNSPECIFIED",
            "BOTTOM_LEGEND",
            "LEFT_LEGEND",
            "RIGHT_LEGEND",
            "TOP_LEGEND",
            "NO_LEGEND",
            "INSIDE_LEGEND"
          ]
        },
        "bubbleMinRadiusSize": {
          "format": "int32",
          "description": "The minimum radius size of the bubbles, in pixels. If specific, the field must be a positive value.",
          "type": "integer"
        },
        "bubbleLabels": {
          "description": "The data containing the bubble labels. These do not need to be unique.",
          "$ref": "ChartData"
        },
        "bubbleBorderColorStyle": {
          "$ref": "ColorStyle",
          "description": "The bubble border color. If bubble_border_color is also set, this field takes precedence."
        },
        "bubbleSizes": {
          "description": "The data containing the bubble sizes. Bubble sizes are used to draw the bubbles at different sizes relative to each other. If specified, group_ids must also be specified. This field is optional.",
          "$ref": "ChartData"
        },
        "domain": {
          "$ref": "ChartData",
          "description": "The data containing the bubble x-values. These values locate the bubbles in the chart horizontally."
        },
        "bubbleOpacity": {
          "type": "number",
          "format": "float",
          "description": "The opacity of the bubbles between 0 and 1.0. 0 is fully transparent and 1 is fully opaque."
        },
        "bubbleMaxRadiusSize": {
          "type": "integer",
          "description": "The max radius size of the bubbles, in pixels. If specified, the field must be a positive value.",
          "format": "int32"
        },
        "bubbleBorderColor": {
          "description": "The bubble border color. Deprecated: Use bubble_border_color_style.",
          "$ref": "Color"
        },
        "series": {
          "$ref": "ChartData",
          "description": "The data containing the bubble y-values. These values locate the bubbles in the chart vertically."
        }
      },
      "type": "object"
    },
    "ValueRange": {
      "properties": {
        "majorDimension": {
          "enum": [
            "DIMENSION_UNSPECIFIED",
            "ROWS",
            "COLUMNS"
          ],
          "type": "string",
          "description": "The major dimension of the values. For output, if the spreadsheet data is: `A1=1,B1=2,A2=3,B2=4`, then requesting `range=A1:B2,majorDimension=ROWS` will return `[[1,2],[3,4]]`, whereas requesting `range=A1:B2,majorDimension=COLUMNS` will return `[[1,3],[2,4]]`. For input, with `range=A1:B2,majorDimension=ROWS` then `[[1,2],[3,4]]` will set `A1=1,B1=2,A2=3,B2=4`. With `range=A1:B2,majorDimension=COLUMNS` then `[[1,2],[3,4]]` will set `A1=1,B1=3,A2=2,B2=4`. When writing, if this field is not set, it defaults to ROWS.",
          "enumDescriptions": [
            "The default value, do not use.",
            "Operates on the rows of a sheet.",
            "Operates on the columns of a sheet."
          ]
        },
        "values": {
          "type": "array",
          "description": "The data that was read or to be written. This is an array of arrays, the outer array representing all the data and each inner array representing a major dimension. Each item in the inner array corresponds with one cell. For output, empty trailing rows and columns will not be included. For input, supported value types are: bool, string, and double. Null values will be skipped. To set a cell to an empty value, set the string value to an empty string.",
          "items": {
            "items": {
              "type": "any"
            },
            "type": "array"
          }
        },
        "range": {
          "description": "The range the values cover, in [A1 notation](/sheets/api/guides/concepts#cell). For output, this range indicates the entire requested range, even though the values will exclude trailing rows and columns. When appending values, this field represents the range to search for a table, after which values will be appended.",
          "type": "string"
        }
      },
      "description": "Data within a range of the spreadsheet.",
      "type": "object",
      "id": "ValueRange"
    },
    "Interval": {
      "id": "Interval",
      "properties": {
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end."
        },
        "startTime": {
          "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "Represents a time interval, encoded as a Timestamp start (inclusive) and a Timestamp end (exclusive). The start must be less than or equal to the end. When the start equals the end, the interval is empty (matches no time). When both start and end are unspecified, the interval matches any time.",
      "type": "object"
    },
    "SetBasicFilterRequest": {
      "description": "Sets the basic filter associated with a sheet.",
      "properties": {
        "filter": {
          "$ref": "BasicFilter",
          "description": "The filter to set."
        }
      },
      "type": "object",
      "id": "SetBasicFilterRequest"
    },
    "ThemeColorPair": {
      "type": "object",
      "id": "ThemeColorPair",
      "description": "A pair mapping a spreadsheet theme color type to the concrete color it represents.",
      "properties": {
        "colorType": {
          "type": "string",
          "description": "The type of the spreadsheet theme color.",
          "enum": [
            "THEME_COLOR_TYPE_UNSPECIFIED",
            "TEXT",
            "BACKGROUND",
            "ACCENT1",
            "ACCENT2",
            "ACCENT3",
            "ACCENT4",
            "ACCENT5",
            "ACCENT6",
            "LINK"
          ],
          "enumDescriptions": [
            "Unspecified theme color",
            "Represents the primary text color",
            "Represents the primary background color",
            "Represents the first accent color",
            "Represents the second accent color",
            "Represents the third accent color",
            "Represents the fourth accent color",
            "Represents the fifth accent color",
            "Represents the sixth accent color",
            "Represents the color to use for hyperlinks"
          ]
        },
        "color": {
          "description": "The concrete color corresponding to the theme color type.",
          "$ref": "ColorStyle"
        }
      }
    },
    "RowData": {
      "type": "object",
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "$ref": "CellData"
          },
          "description": "The values in the row, one per column."
        }
      },
      "description": "Data about each cell in a row.",
      "id": "RowData"
    },
    "Borders": {
      "type": "object",
      "description": "The borders of the cell.",
      "id": "Borders",
      "properties": {
        "right": {
          "$ref": "Border",
          "description": "The right border of the cell."
        },
        "bottom": {
          "description": "The bottom border of the cell.",
          "$ref": "Border"
        },
        "left": {
          "description": "The left border of the cell.",
          "$ref": "Border"
        },
        "top": {
          "$ref": "Border",
          "description": "The top border of the cell."
        }
      }
    },
    "Border": {
      "id": "Border",
      "type": "object",
      "description": "A border along a cell.",
      "properties": {
        "color": {
          "$ref": "Color",
          "description": "The color of the border. Deprecated: Use color_style."
        },
        "colorStyle": {
          "description": "The color of the border. If color is also set, this field takes precedence.",
          "$ref": "ColorStyle"
        },
        "width": {
          "format": "int32",
          "description": "The width of the border, in pixels. Deprecated; the width is determined by the \"style\" field.",
          "type": "integer"
        },
        "style": {
          "enum": [
            "STYLE_UNSPECIFIED",
            "DOTTED",
            "DASHED",
            "SOLID",
            "SOLID_MEDIUM",
            "SOLID_THICK",
            "NONE",
            "DOUBLE"
          ],
          "type": "string",
          "description": "The style of the border.",
          "enumDescriptions": [
            "The style is not specified. Do not use this.",
            "The border is dotted.",
            "The border is dashed.",
            "The border is a thin solid line.",
            "The border is a medium solid line.",
            "The border is a thick solid line.",
            "No border. Used only when updating a border in order to erase it.",
            "The border is two solid lines."
          ]
        }
      }
    },
    "DataSourceRefreshWeeklySchedule": {
      "id": "DataSourceRefreshWeeklySchedule",
      "properties": {
        "startTime": {
          "$ref": "TimeOfDay",
          "description": "The start time of a time interval in which a data source refresh is scheduled. Only `hours` part is used. The time interval size defaults to that in the Sheets editor."
        },
        "daysOfWeek": {
          "items": {
            "enum": [
              "DAY_OF_WEEK_UNSPECIFIED",
              "MONDAY",
              "TUESDAY",
              "WEDNESDAY",
              "THURSDAY",
              "FRIDAY",
              "SATURDAY",
              "SUNDAY"
            ],
            "enumDescriptions": [
              "The day of the week is unspecified.",
              "Monday",
              "Tuesday",
              "Wednesday",
              "Thursday",
              "Friday",
              "Saturday",
              "Sunday"
            ],
            "type": "string"
          },
          "type": "array",
          "description": "Days of the week to refresh. At least one day must be specified."
        }
      },
      "type": "object",
      "description": "A weekly schedule for data to refresh on specific days in a given time interval."
    },
    "BatchGetValuesByDataFilterResponse": {
      "description": "The response when retrieving more than one range of values in a spreadsheet selected by DataFilters.",
      "id": "BatchGetValuesByDataFilterResponse",
      "properties": {
        "spreadsheetId": {
          "description": "The ID of the spreadsheet the data was retrieved from.",
          "type": "string"
        },
        "valueRanges": {
          "items": {
            "$ref": "MatchedValueRange"
          },
          "description": "The requested values with the list of data filters that matched them.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "CandlestickData": {
      "id": "CandlestickData",
      "type": "object",
      "properties": {
        "openSeries": {
          "$ref": "CandlestickSeries",
          "description": "The range data (vertical axis) for the open/initial value for each candle. This is the bottom of the candle body. If less than the close value the candle will be filled. Otherwise the candle will be hollow."
        },
        "closeSeries": {
          "description": "The range data (vertical axis) for the close/final value for each candle. This is the top of the candle body. If greater than the open value the candle will be filled. Otherwise the candle will be hollow.",
          "$ref": "CandlestickSeries"
        },
        "highSeries": {
          "$ref": "CandlestickSeries",
          "description": "The range data (vertical axis) for the high/maximum value for each candle. This is the top of the candle's center line."
        },
        "lowSeries": {
          "description": "The range data (vertical axis) for the low/minimum value for each candle. This is the bottom of the candle's center line.",
          "$ref": "CandlestickSeries"
        }
      },
      "description": "The Candlestick chart data, each containing the low, open, close, and high values for a series."
    },
    "DataSourceSheetProperties": {
      "id": "DataSourceSheetProperties",
      "type": "object",
      "properties": {
        "dataExecutionStatus": {
          "$ref": "DataExecutionStatus",
          "description": "The data execution status."
        },
        "dataSourceId": {
          "type": "string",
          "description": "ID of the DataSource the sheet is connected to."
        },
        "columns": {
          "items": {
            "$ref": "DataSourceColumn"
          },
          "type": "array",
          "description": "The columns displayed on the sheet, corresponding to the values in RowData."
        }
      },
      "description": "Additional properties of a DATA_SOURCE sheet."
    },
    "UpdateSheetPropertiesRequest": {
      "id": "UpdateSheetPropertiesRequest",
      "properties": {
        "properties": {
          "description": "The properties to update.",
          "$ref": "SheetProperties"
        },
        "fields": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "The fields that should be updated. At least one field must be specified. The root `properties` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field."
        }
      },
      "type": "object",
      "description": "Updates properties of the sheet with the specified sheetId."
    },
    "BigQueryDataSourceSpec": {
      "properties": {
        "projectId": {
          "type": "string",
          "description": "The ID of a BigQuery enabled GCP project with a billing account attached. For any queries executed against the data source, the project is charged."
        },
        "querySpec": {
          "description": "A BigQueryQuerySpec.",
          "$ref": "BigQueryQuerySpec"
        },
        "tableSpec": {
          "description": "A BigQueryTableSpec.",
          "$ref": "BigQueryTableSpec"
        }
      },
      "description": "The specification of a BigQuery data source that's connected to a sheet.",
      "id": "BigQueryDataSourceSpec",
      "type": "object"
    },
    "UpdateValuesByDataFilterResponse": {
      "properties": {
        "updatedCells": {
          "description": "The number of cells updated.",
          "format": "int32",
          "type": "integer"
        },
        "updatedColumns": {
          "format": "int32",
          "description": "The number of columns where at least one cell in the column was updated.",
          "type": "integer"
        },
        "updatedRange": {
          "description": "The range (in [A1 notation](/sheets/api/guides/concepts#cell)) that updates were applied to.",
          "type": "string"
        },
        "updatedRows": {
          "description": "The number of rows where at least one cell in the row was updated.",
          "type": "integer",
          "format": "int32"
        },
        "updatedData": {
          "$ref": "ValueRange",
          "description": "The values of the cells in the range matched by the dataFilter after all updates were applied. This is only included if the request's `includeValuesInResponse` field was `true`."
        },
        "dataFilter": {
          "description": "The data filter that selected the range that was updated.",
          "$ref": "DataFilter"
        }
      },
      "id": "UpdateValuesByDataFilterResponse",
      "type": "object",
      "description": "The response when updating a range of values by a data filter in a spreadsheet."
    },
    "Editors": {
      "id": "Editors",
      "description": "The editors of a protected range.",
      "type": "object",
      "properties": {
        "groups": {
          "description": "The email addresses of groups with edit access to the protected range.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "users": {
          "type": "array",
          "description": "The email addresses of users with edit access to the protected range.",
          "items": {
            "type": "string"
          }
        },
        "domainUsersCanEdit": {
          "type": "boolean",
          "description": "True if anyone in the document's domain has edit access to the protected range. Domain protection is only supported on documents within a domain."
        }
      }
    },
    "BatchUpdateSpreadsheetResponse": {
      "description": "The reply for batch updating a spreadsheet.",
      "type": "object",
      "properties": {
        "replies": {
          "items": {
            "$ref": "Response"
          },
          "description": "The reply of the updates. This maps 1:1 with the updates, although replies to some requests may be empty.",
          "type": "array"
        },
        "spreadsheetId": {
          "type": "string",
          "description": "The spreadsheet the updates were applied to."
        },
        "updatedSpreadsheet": {
          "$ref": "Spreadsheet",
          "description": "The spreadsheet after updates were applied. This is only set if BatchUpdateSpreadsheetRequest.include_spreadsheet_in_response is `true`."
        }
      },
      "id": "BatchUpdateSpreadsheetResponse"
    },
    "DeleteEmbeddedObjectRequest": {
      "id": "DeleteEmbeddedObjectRequest",
      "properties": {
        "objectId": {
          "format": "int32",
          "type": "integer",
          "description": "The ID of the embedded object to delete."
        }
      },
      "type": "object",
      "description": "Deletes the embedded object with the given ID."
    },
    "UpdateChartSpecRequest": {
      "properties": {
        "spec": {
          "$ref": "ChartSpec",
          "description": "The specification to apply to the chart."
        },
        "chartId": {
          "format": "int32",
          "description": "The ID of the chart to update.",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "UpdateChartSpecRequest",
      "description": "Updates a chart's specifications. (This does not move or resize a chart. To move or resize a chart, use UpdateEmbeddedObjectPositionRequest.)"
    },
    "DeleteProtectedRangeRequest": {
      "description": "Deletes the protected range with the given ID.",
      "id": "DeleteProtectedRangeRequest",
      "type": "object",
      "properties": {
        "protectedRangeId": {
          "type": "integer",
          "format": "int32",
          "description": "The ID of the protected range to delete."
        }
      }
    },
    "Spreadsheet": {
      "type": "object",
      "description": "Resource that represents a spreadsheet.",
      "id": "Spreadsheet",
      "properties": {
        "properties": {
          "description": "Overall properties of a spreadsheet.",
          "$ref": "SpreadsheetProperties"
        },
        "spreadsheetUrl": {
          "type": "string",
          "description": "The url of the spreadsheet. This field is read-only."
        },
        "spreadsheetId": {
          "description": "The ID of the spreadsheet. This field is read-only.",
          "type": "string"
        },
        "dataSources": {
          "items": {
            "$ref": "DataSource"
          },
          "type": "array",
          "description": "A list of external data sources connected with the spreadsheet."
        },
        "developerMetadata": {
          "items": {
            "$ref": "DeveloperMetadata"
          },
          "type": "array",
          "description": "The developer metadata associated with a spreadsheet."
        },
        "sheets": {
          "type": "array",
          "items": {
            "$ref": "Sheet"
          },
          "description": "The sheets that are part of a spreadsheet."
        },
        "namedRanges": {
          "items": {
            "$ref": "NamedRange"
          },
          "description": "The named ranges defined in a spreadsheet.",
          "type": "array"
        },
        "dataSourceSchedules": {
          "description": "Output only. A list of data source refresh schedules.",
          "items": {
            "$ref": "DataSourceRefreshSchedule"
          },
          "readOnly": true,
          "type": "array"
        }
      }
    },
    "DeveloperMetadataLocation": {
      "description": "A location where metadata may be associated in a spreadsheet.",
      "type": "object",
      "properties": {
        "spreadsheet": {
          "type": "boolean",
          "description": "True when metadata is associated with an entire spreadsheet."
        },
        "sheetId": {
          "description": "The ID of the sheet when metadata is associated with an entire sheet.",
          "format": "int32",
          "type": "integer"
        },
        "locationType": {
          "type": "string",
          "description": "The type of location this object represents. This field is read-only.",
          "enumDescriptions": [
            "Default value.",
            "Developer metadata associated on an entire row dimension.",
            "Developer metadata associated on an entire column dimension.",
            "Developer metadata associated on an entire sheet.",
            "Developer metadata associated on the entire spreadsheet."
          ],
          "enum": [
            "DEVELOPER_METADATA_LOCATION_TYPE_UNSPECIFIED",
            "ROW",
            "COLUMN",
            "SHEET",
            "SPREADSHEET"
          ]
        },
        "dimensionRange": {
          "description": "Represents the row or column when metadata is associated with a dimension. The specified DimensionRange must represent a single row or column; it cannot be unbounded or span multiple rows or columns.",
          "$ref": "DimensionRange"
        }
      },
      "id": "DeveloperMetadataLocation"
    },
    "UpdateConditionalFormatRuleResponse": {
      "type": "object",
      "description": "The result of updating a conditional format rule.",
      "id": "UpdateConditionalFormatRuleResponse",
      "properties": {
        "newIndex": {
          "format": "int32",
          "type": "integer",
          "description": "The index of the new rule."
        },
        "oldRule": {
          "$ref": "ConditionalFormatRule",
          "description": "The old (deleted) rule. Not set if a rule was moved (because it is the same as new_rule)."
        },
        "oldIndex": {
          "type": "integer",
          "format": "int32",
          "description": "The old index of the rule. Not set if a rule was replaced (because it is the same as new_index)."
        },
        "newRule": {
          "$ref": "ConditionalFormatRule",
          "description": "The new rule that replaced the old rule (if replacing), or the rule that was moved (if moved)"
        }
      }
    },
    "RefreshDataSourceRequest": {
      "type": "object",
      "properties": {
        "dataSourceId": {
          "description": "Reference to a DataSource. If specified, refreshes all associated data source objects for the data source.",
          "type": "string"
        },
        "references": {
          "$ref": "DataSourceObjectReferences",
          "description": "References to data source objects to refresh."
        },
        "isAll": {
          "description": "Refreshes all existing data source objects in the spreadsheet.",
          "type": "boolean"
        },
        "force": {
          "type": "boolean",
          "description": "Refreshes the data source objects regardless of the current state. If not set and a referenced data source object was in error state, the refresh will fail immediately."
        }
      },
      "id": "RefreshDataSourceRequest",
      "description": "Refreshes one or multiple data source objects in the spreadsheet by the specified references. The request requires an additional `bigquery.readonly` OAuth scope. If there are multiple refresh requests referencing the same data source objects in one batch, only the last refresh request is processed, and all those requests will have the same response accordingly."
    },
    "PasteDataRequest": {
      "description": "Inserts data into the spreadsheet starting at the specified coordinate.",
      "type": "object",
      "id": "PasteDataRequest",
      "properties": {
        "coordinate": {
          "$ref": "GridCoordinate",
          "description": "The coordinate at which the data should start being inserted."
        },
        "html": {
          "type": "boolean",
          "description": "True if the data is HTML."
        },
        "delimiter": {
          "type": "string",
          "description": "The delimiter in the data."
        },
        "type": {
          "enumDescriptions": [
            "Paste values, formulas, formats, and merges.",
            "Paste the values ONLY without formats, formulas, or merges.",
            "Paste the format and data validation only.",
            "Like `PASTE_NORMAL` but without borders.",
            "Paste the formulas only.",
            "Paste the data validation only.",
            "Paste the conditional formatting rules only."
          ],
          "description": "How the data should be pasted.",
          "type": "string",
          "enum": [
            "PASTE_NORMAL",
            "PASTE_VALUES",
            "PASTE_FORMAT",
            "PASTE_NO_BORDERS",
            "PASTE_FORMULA",
            "PASTE_DATA_VALIDATION",
            "PASTE_CONDITIONAL_FORMATTING"
          ]
        },
        "data": {
          "type": "string",
          "description": "The data to insert."
        }
      }
    },
    "CandlestickSeries": {
      "properties": {
        "data": {
          "description": "The data of the CandlestickSeries.",
          "$ref": "ChartData"
        }
      },
      "description": "The series of a CandlestickData.",
      "id": "CandlestickSeries",
      "type": "object"
    },
    "DateTimeRule": {
      "id": "DateTimeRule",
      "description": "Allows you to organize the date-time values in a source data column into buckets based on selected parts of their date or time values. For example, consider a pivot table showing sales transactions by date: +----------+--------------+ | Date | SUM of Sales | +----------+--------------+ | 1/1/2017 | $621.14 | | 2/3/2017 | $708.84 | | 5/8/2017 | $326.84 | ... +----------+--------------+ Applying a date-time group rule with a DateTimeRuleType of YEAR_MONTH results in the following pivot table. +--------------+--------------+ | Grouped Date | SUM of Sales | +--------------+--------------+ | 2017-Jan | $53,731.78 | | 2017-Feb | $83,475.32 | | 2017-Mar | $94,385.05 | ... +--------------+--------------+",
      "properties": {
        "type": {
          "enum": [
            "DATE_TIME_RULE_TYPE_UNSPECIFIED",
            "SECOND",
            "MINUTE",
            "HOUR",
            "HOUR_MINUTE",
            "HOUR_MINUTE_AMPM",
            "DAY_OF_WEEK",
            "DAY_OF_YEAR",
            "DAY_OF_MONTH",
            "DAY_MONTH",
            "MONTH",
            "QUARTER",
            "YEAR",
            "YEAR_MONTH",
            "YEAR_QUARTER",
            "YEAR_MONTH_DAY"
          ],
          "description": "The type of date-time grouping to apply.",
          "enumDescriptions": [
            "The default type, do not use.",
            "Group dates by second, from 0 to 59.",
            "Group dates by minute, from 0 to 59.",
            "Group dates by hour using a 24-hour system, from 0 to 23.",
            "Group dates by hour and minute using a 24-hour system, for example 19:45.",
            "Group dates by hour and minute using a 12-hour system, for example 7:45 PM. The AM/PM designation is translated based on the spreadsheet locale.",
            "Group dates by day of week, for example Sunday. The days of the week will be translated based on the spreadsheet locale.",
            "Group dates by day of year, from 1 to 366. Note that dates after Feb. 29 fall in different buckets in leap years than in non-leap years.",
            "Group dates by day of month, from 1 to 31.",
            "Group dates by day and month, for example 22-Nov. The month is translated based on the spreadsheet locale.",
            "Group dates by month, for example Nov. The month is translated based on the spreadsheet locale.",
            "Group dates by quarter, for example Q1 (which represents Jan-Mar).",
            "Group dates by year, for example 2008.",
            "Group dates by year and month, for example 2008-Nov. The month is translated based on the spreadsheet locale.",
            "Group dates by year and quarter, for example 2008 Q4.",
            "Group dates by year, month, and day, for example 2008-11-22."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "CellData": {
      "description": "Data about a specific cell.",
      "properties": {
        "dataValidation": {
          "description": "A data validation rule on the cell, if any. When writing, the new data validation rule will overwrite any prior rule.",
          "$ref": "DataValidationRule"
        },
        "userEnteredValue": {
          "description": "The value the user entered in the cell. e.g., `1234`, `'Hello'`, or `=NOW()` Note: Dates, Times and DateTimes are represented as doubles in serial number format.",
          "$ref": "ExtendedValue"
        },
        "note": {
          "type": "string",
          "description": "Any note on the cell."
        },
        "userEnteredFormat": {
          "$ref": "CellFormat",
          "description": "The format the user entered for the cell. When writing, the new format will be merged with the existing format."
        },
        "dataSourceTable": {
          "$ref": "DataSourceTable",
          "description": "A data source table anchored at this cell. The size of data source table itself is computed dynamically based on its configuration. Only the first cell of the data source table contains the data source table definition. The other cells will contain the display values of the data source table result in their effective_value fields."
        },
        "pivotTable": {
          "$ref": "PivotTable",
          "description": "A pivot table anchored at this cell. The size of pivot table itself is computed dynamically based on its data, grouping, filters, values, etc. Only the top-left cell of the pivot table contains the pivot table definition. The other cells will contain the calculated values of the results of the pivot in their effective_value fields."
        },
        "hyperlink": {
          "description": "A hyperlink this cell points to, if any. If the cell contains multiple hyperlinks, this field will be empty. This field is read-only. To set it, use a `=HYPERLINK` formula in the userEnteredValue.formulaValue field. A cell-level link can also be set from the userEnteredFormat.textFormat field. Alternatively, set a hyperlink in the textFormatRun.format.link field that spans the entire cell.",
          "type": "string"
        },
        "dataSourceFormula": {
          "$ref": "DataSourceFormula",
          "readOnly": true,
          "description": "Output only. Information about a data source formula on the cell. The field is set if user_entered_value is a formula referencing some DATA_SOURCE sheet, e.g. `=SUM(DataSheet!Column)`."
        },
        "textFormatRuns": {
          "type": "array",
          "description": "Runs of rich text applied to subsections of the cell. Runs are only valid on user entered strings, not formulas, bools, or numbers. Properties of a run start at a specific index in the text and continue until the next run. Runs will inherit the properties of the cell unless explicitly changed. When writing, the new runs will overwrite any prior runs. When writing a new user_entered_value, previous runs are erased.",
          "items": {
            "$ref": "TextFormatRun"
          }
        },
        "effectiveFormat": {
          "description": "The effective format being used by the cell. This includes the results of applying any conditional formatting and, if the cell contains a formula, the computed number format. If the effective format is the default format, effective format will not be written. This field is read-only.",
          "$ref": "CellFormat"
        },
        "formattedValue": {
          "description": "The formatted value of the cell. This is the value as it's shown to the user. This field is read-only.",
          "type": "string"
        },
        "effectiveValue": {
          "description": "The effective value of the cell. For cells with formulas, this is the calculated value. For cells with literals, this is the same as the user_entered_value. This field is read-only.",
          "$ref": "ExtendedValue"
        }
      },
      "id": "CellData",
      "type": "object"
    },
    "AddChartResponse": {
      "properties": {
        "chart": {
          "$ref": "EmbeddedChart",
          "description": "The newly added chart."
        }
      },
      "type": "object",
      "description": "The result of adding a chart to a spreadsheet.",
      "id": "AddChartResponse"
    },
    "GradientRule": {
[...]
