{
  "discoveryVersion": "v1",
  "servicePath": "",
  "parameters": {
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string"
    }
  },
  "description": "Reads and writes Google Sheets.",
  "revision": "20230620",
  "ownerName": "Google",
  "title": "Google Sheets API",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "documentationLink": "https://developers.google.com/sheets/",
  "batchPath": "batch",
  "protocol": "rest",
  "basePath": "",
  "version": "v4",
  "version_module": true,
  "ownerDomain": "google.com",
  "resources": {
    "spreadsheets": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "response": {
            "$ref": "Spreadsheet"
          },
          "parameters": {
            "includeGridData": {
              "type": "boolean",
              "location": "query",
              "description": "True if grid data should be returned. This parameter is ignored if a field mask was set in the request."
            },
            "ranges": {
              "description": "The ranges to retrieve from the spreadsheet.",
              "location": "query",
              "type": "string",
              "repeated": true
            },
            "spreadsheetId": {
              "description": "The spreadsheet to request.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "v4/spreadsheets/{spreadsheetId}",
          "id": "sheets.spreadsheets.get",
          "parameterOrder": [
            "spreadsheetId"
          ],
          "path": "v4/spreadsheets/{spreadsheetId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/spreadsheets.readonly"
          ],
          "description": "Returns the spreadsheet at the given ID. The caller must specify the spreadsheet ID. By default, data within grids is not returned. You can include grid data in one of 2 ways: * Specify a [field mask](https://developers.google.com/sheets/api/guides/field-masks) listing your desired fields using the `fields` URL parameter in HTTP * Set the includeGridData URL parameter to true. If a field mask is set, the `includeGridData` parameter is ignored For large spreadsheets, as a best practice, retrieve only the specific spreadsheet fields that you want. To retrieve only subsets of spreadsheet data, use the ranges URL parameter. Ranges are specified using [A1 notation](/sheets/api/guides/concepts#cell). You can define a single cell (for example, `A1`) or multiple cells (for example, `A1:D5`). You can also get cells from other sheets within the same spreadsheet (for example, `Sheet2!A1:C4`) or retrieve multiple ranges at once (for example, `?ranges=A1:D5&ranges=Sheet2!A1:C4`). Limiting the range returns only the portions of the spreadsheet that intersect the requested ranges."
        },
        "getByDataFilter": {
          "parameters": {
            "spreadsheetId": {
              "type": "string",
              "description": "The spreadsheet to request.",
              "location": "path",
              "required": true
            }
          },
          "id": "sheets.spreadsheets.getByDataFilter",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/spreadsheets"
          ],
          "response": {
            "$ref": "Spreadsheet"
          },
          "parameterOrder": [
            "spreadsheetId"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "GetSpreadsheetByDataFilterRequest"
          },
          "description": "Returns the spreadsheet at the given ID. The caller must specify the spreadsheet ID. This method differs from GetSpreadsheet in that it allows selecting which subsets of spreadsheet data to return by specifying a dataFilters parameter. Multiple DataFilters can be specified. Specifying one or more data filters returns the portions of the spreadsheet that intersect ranges matched by any of the filters. By default, data within grids is not returned. You can include grid data one of 2 ways: * Specify a [field mask](https://developers.google.com/sheets/api/guides/field-masks) listing your desired fields using the `fields` URL parameter in HTTP * Set the includeGridData parameter to true. If a field mask is set, the `includeGridData` parameter is ignored For large spreadsheets, as a best practice, retrieve only the specific spreadsheet fields that you want.",
          "path": "v4/spreadsheets/{spreadsheetId}:getByDataFilter",
          "flatPath": "v4/spreadsheets/{spreadsheetId}:getByDataFilter"
        },
        "batchUpdate": {
          "request": {
            "$ref": "BatchUpdateSpreadsheetRequest"
          },
          "path": "v4/spreadsheets/{spreadsheetId}:batchUpdate",
          "id": "sheets.spreadsheets.batchUpdate",
          "flatPath": "v4/spreadsheets/{spreadsheetId}:batchUpdate",
          "response": {
            "$ref": "BatchUpdateSpreadsheetResponse"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "spreadsheetId"
          ],
          "description": "Applies one or more updates to the spreadsheet. Each request is validated before being applied. If any request is not valid then the entire request will fail and nothing will be applied. Some requests have replies to give you some information about how they are applied. The replies will mirror the requests. For example, if you applied 4 updates and the 3rd one had a reply, then the response will have 2 empty replies, the actual reply, and another empty reply, in that order. Due to the collaborative nature of spreadsheets, it is not guaranteed that the spreadsheet will reflect exactly your changes after this completes, however it is guaranteed that the updates in the request will be applied together atomically. Your changes may be altered with respect to collaborator changes. If there are no collaborators, the spreadsheet should reflect your changes.",
          "parameters": {
            "spreadsheetId": {
              "description": "The spreadsheet to apply the updates to.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/spreadsheets"
          ]
        },
        "create": {
          "request": {
            "$ref": "Spreadsheet"
          },
          "parameters": {},
          "httpMethod": "POST",
          "response": {
            "$ref": "Spreadsheet"
          },
          "flatPath": "v4/spreadsheets",
          "parameterOrder": [],
          "id": "sheets.spreadsheets.create",
          "description": "Creates a spreadsheet, returning the newly created spreadsheet.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/spreadsheets"
          ],
          "path": "v4/spreadsheets"
        }
      },
      "resources": {
        "values": {
          "methods": {
            "append": {
              "request": {
                "$ref": "ValueRange"
              },
              "description": "Appends values to a spreadsheet. The input range is used to search for existing data and find a \"table\" within that range. Values will be appended to the next row of the table, starting with the first column of the table. See the [guide](/sheets/api/guides/values#appending_values) and [sample code](/sheets/api/samples/writing#append_values) for specific details of how tables are detected and data is appended. The caller must specify the spreadsheet ID, range, and a valueInputOption. The `valueInputOption` only controls how the input data will be added to the sheet (column-wise or row-wise), it does not influence what cell the data starts being written to.",
              "parameters": {
                "spreadsheetId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The ID of the spreadsheet to update."
                },
                "valueInputOption": {
                  "type": "string",
                  "location": "query",
                  "description": "How the input data should be interpreted.",
                  "enum": [
                    "INPUT_VALUE_OPTION_UNSPECIFIED",
                    "RAW",
                    "USER_ENTERED"
                  ],
                  "enumDescriptions": [
                    "Default input value. This value must not be used.",
                    "The values the user has entered will not be parsed and will be stored as-is.",
                    "The values will be parsed as if the user typed them into the UI. Numbers will stay as numbers, but strings may be converted to numbers, dates, etc. following the same rules that are applied when entering text into a cell via the Google Sheets UI."
                  ]
                },
                "responseValueRenderOption": {
                  "enum": [
                    "FORMATTED_VALUE",
                    "UNFORMATTED_VALUE",
                    "FORMULA"
                  ],
                  "type": "string",
                  "description": "Determines how values in the response should be rendered. The default render option is FORMATTED_VALUE.",
                  "enumDescriptions": [
                    "Values will be calculated & formatted in the response according to the cell's formatting. Formatting is based on the spreadsheet's locale, not the requesting user's locale. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then `A2` would return `\"$1.23\"`.",
                    "Values will be calculated, but not formatted in the reply. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then `A2` would return the number `1.23`.",
                    "Values will not be calculated. The reply will include the formulas. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then A2 would return `\"=A1\"`. Sheets treats date and time values as decimal values. This lets you perform arithmetic on them in formulas. For more information on interpreting date and time values, see [About date & time values](https://developers.google.com/sheets/api/guides/formats#about_date_time_values)."
                  ],
                  "location": "query"
                },
                "responseDateTimeRenderOption": {
                  "type": "string",
                  "location": "query",
                  "enumDescriptions": [
                    "Instructs date, time, datetime, and duration fields to be output as doubles in \"serial number\" format, as popularized by Lotus 1-2-3. The whole number portion of the value (left of the decimal) counts the days since December 30th 1899. The fractional portion (right of the decimal) counts the time as a fraction of the day. For example, January 1st 1900 at noon would be 2.5, 2 because it's 2 days after December 30th 1899, and .5 because noon is half a day. February 1st 1900 at 3pm would be 33.625. This correctly treats the year 1900 as not a leap year.",
                    "Instructs date, time, datetime, and duration fields to be output as strings in their given number format (which depends on the spreadsheet locale)."
                  ],
                  "enum": [
                    "SERIAL_NUMBER",
                    "FORMATTED_STRING"
                  ],
                  "description": "Determines how dates, times, and durations in the response should be rendered. This is ignored if response_value_render_option is FORMATTED_VALUE. The default dateTime render option is SERIAL_NUMBER."
                },
                "range": {
                  "description": "The [A1 notation](/sheets/api/guides/concepts#cell) of a range to search for a logical table of data. Values are appended after the last row of the table.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "includeValuesInResponse": {
                  "type": "boolean",
                  "description": "Determines if the update response should include the values of the cells that were appended. By default, responses do not include the updated values.",
                  "location": "query"
                },
                "insertDataOption": {
                  "location": "query",
                  "description": "How the input data should be inserted.",
                  "enum": [
                    "OVERWRITE",
                    "INSERT_ROWS"
                  ],
                  "enumDescriptions": [
                    "The new data overwrites existing data in the areas it is written. (Note: adding data to the end of the sheet will still insert new rows or columns so the data can be written.)",
                    "Rows are inserted for the new data."
                  ],
                  "type": "string"
                }
              },
              "httpMethod": "POST",
              "flatPath": "v4/spreadsheets/{spreadsheetId}/values/{range}:append",
              "response": {
                "$ref": "AppendValuesResponse"
              },
              "path": "v4/spreadsheets/{spreadsheetId}/values/{range}:append",
              "parameterOrder": [
                "spreadsheetId",
                "range"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets"
              ],
              "id": "sheets.spreadsheets.values.append"
            },
            "batchGetByDataFilter": {
              "httpMethod": "POST",
              "description": "Returns one or more ranges of values that match the specified data filters. The caller must specify the spreadsheet ID and one or more DataFilters. Ranges that match any of the data filters in the request will be returned.",
              "id": "sheets.spreadsheets.values.batchGetByDataFilter",
              "request": {
                "$ref": "BatchGetValuesByDataFilterRequest"
              },
              "path": "v4/spreadsheets/{spreadsheetId}/values:batchGetByDataFilter",
              "parameters": {
                "spreadsheetId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "The ID of the spreadsheet to retrieve data from."
                }
              },
              "flatPath": "v4/spreadsheets/{spreadsheetId}/values:batchGetByDataFilter",
              "response": {
                "$ref": "BatchGetValuesByDataFilterResponse"
              },
              "parameterOrder": [
                "spreadsheetId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets"
              ]
            },
            "batchClearByDataFilter": {
              "request": {
                "$ref": "BatchClearValuesByDataFilterRequest"
              },
              "description": "Clears one or more ranges of values from a spreadsheet. The caller must specify the spreadsheet ID and one or more DataFilters. Ranges matching any of the specified data filters will be cleared. Only values are cleared -- all other properties of the cell (such as formatting, data validation, etc..) are kept.",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets"
              ],
              "response": {
                "$ref": "BatchClearValuesByDataFilterResponse"
              },
              "flatPath": "v4/spreadsheets/{spreadsheetId}/values:batchClearByDataFilter",
              "id": "sheets.spreadsheets.values.batchClearByDataFilter",
              "parameterOrder": [
                "spreadsheetId"
              ],
              "path": "v4/spreadsheets/{spreadsheetId}/values:batchClearByDataFilter",
              "parameters": {
                "spreadsheetId": {
                  "type": "string",
                  "location": "path",
                  "description": "The ID of the spreadsheet to update.",
                  "required": true
                }
              }
            },
            "batchClear": {
              "path": "v4/spreadsheets/{spreadsheetId}/values:batchClear",
              "flatPath": "v4/spreadsheets/{spreadsheetId}/values:batchClear",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets"
              ],
              "parameters": {
                "spreadsheetId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "The ID of the spreadsheet to update."
                }
              },
              "response": {
                "$ref": "BatchClearValuesResponse"
              },
              "request": {
                "$ref": "BatchClearValuesRequest"
              },
              "parameterOrder": [
                "spreadsheetId"
              ],
              "description": "Clears one or more ranges of values from a spreadsheet. The caller must specify the spreadsheet ID and one or more ranges. Only values are cleared -- all other properties of the cell (such as formatting and data validation) are kept.",
              "id": "sheets.spreadsheets.values.batchClear"
            },
            "update": {
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets"
              ],
              "flatPath": "v4/spreadsheets/{spreadsheetId}/values/{range}",
              "httpMethod": "PUT",
              "id": "sheets.spreadsheets.values.update",
              "parameterOrder": [
                "spreadsheetId",
                "range"
              ],
              "parameters": {
                "includeValuesInResponse": {
                  "type": "boolean",
                  "description": "Determines if the update response should include the values of the cells that were updated. By default, responses do not include the updated values. If the range to write was larger than the range actually written, the response includes all values in the requested range (excluding trailing empty rows and columns).",
                  "location": "query"
                },
                "responseDateTimeRenderOption": {
                  "enum": [
                    "SERIAL_NUMBER",
                    "FORMATTED_STRING"
                  ],
                  "enumDescriptions": [
                    "Instructs date, time, datetime, and duration fields to be output as doubles in \"serial number\" format, as popularized by Lotus 1-2-3. The whole number portion of the value (left of the decimal) counts the days since December 30th 1899. The fractional portion (right of the decimal) counts the time as a fraction of the day. For example, January 1st 1900 at noon would be 2.5, 2 because it's 2 days after December 30th 1899, and .5 because noon is half a day. February 1st 1900 at 3pm would be 33.625. This correctly treats the year 1900 as not a leap year.",
                    "Instructs date, time, datetime, and duration fields to be output as strings in their given number format (which depends on the spreadsheet locale)."
                  ],
                  "location": "query",
                  "description": "Determines how dates, times, and durations in the response should be rendered. This is ignored if response_value_render_option is FORMATTED_VALUE. The default dateTime render option is SERIAL_NUMBER.",
                  "type": "string"
                },
                "range": {
                  "location": "path",
                  "required": true,
                  "description": "The [A1 notation](/sheets/api/guides/concepts#cell) of the values to update.",
                  "type": "string"
                },
                "valueInputOption": {
                  "enum": [
                    "INPUT_VALUE_OPTION_UNSPECIFIED",
                    "RAW",
                    "USER_ENTERED"
                  ],
                  "description": "How the input data should be interpreted.",
                  "type": "string",
                  "enumDescriptions": [
                    "Default input value. This value must not be used.",
                    "The values the user has entered will not be parsed and will be stored as-is.",
                    "The values will be parsed as if the user typed them into the UI. Numbers will stay as numbers, but strings may be converted to numbers, dates, etc. following the same rules that are applied when entering text into a cell via the Google Sheets UI."
                  ],
                  "location": "query"
                },
                "responseValueRenderOption": {
                  "enumDescriptions": [
                    "Values will be calculated & formatted in the response according to the cell's formatting. Formatting is based on the spreadsheet's locale, not the requesting user's locale. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then `A2` would return `\"$1.23\"`.",
                    "Values will be calculated, but not formatted in the reply. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then `A2` would return the number `1.23`.",
                    "Values will not be calculated. The reply will include the formulas. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then A2 would return `\"=A1\"`. Sheets treats date and time values as decimal values. This lets you perform arithmetic on them in formulas. For more information on interpreting date and time values, see [About date & time values](https://developers.google.com/sheets/api/guides/formats#about_date_time_values)."
                  ],
                  "type": "string",
                  "enum": [
                    "FORMATTED_VALUE",
                    "UNFORMATTED_VALUE",
                    "FORMULA"
                  ],
                  "description": "Determines how values in the response should be rendered. The default render option is FORMATTED_VALUE.",
                  "location": "query"
                },
                "spreadsheetId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The ID of the spreadsheet to update."
                }
              },
              "description": "Sets values in a range of a spreadsheet. The caller must specify the spreadsheet ID, range, and a valueInputOption.",
              "path": "v4/spreadsheets/{spreadsheetId}/values/{range}",
              "response": {
                "$ref": "UpdateValuesResponse"
              },
              "request": {
                "$ref": "ValueRange"
              }
            },
            "get": {
              "flatPath": "v4/spreadsheets/{spreadsheetId}/values/{range}",
              "path": "v4/spreadsheets/{spreadsheetId}/values/{range}",
              "httpMethod": "GET",
              "description": "Returns a range of values from a spreadsheet. The caller must specify the spreadsheet ID and a range.",
              "parameterOrder": [
                "spreadsheetId",
                "range"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/drive.readonly",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/spreadsheets.readonly"
              ],
              "id": "sheets.spreadsheets.values.get",
              "response": {
                "$ref": "ValueRange"
              },
              "parameters": {
                "dateTimeRenderOption": {
                  "location": "query",
                  "enumDescriptions": [
                    "Instructs date, time, datetime, and duration fields to be output as doubles in \"serial number\" format, as popularized by Lotus 1-2-3. The whole number portion of the value (left of the decimal) counts the days since December 30th 1899. The fractional portion (right of the decimal) counts the time as a fraction of the day. For example, January 1st 1900 at noon would be 2.5, 2 because it's 2 days after December 30th 1899, and .5 because noon is half a day. February 1st 1900 at 3pm would be 33.625. This correctly treats the year 1900 as not a leap year.",
                    "Instructs date, time, datetime, and duration fields to be output as strings in their given number format (which depends on the spreadsheet locale)."
                  ],
                  "type": "string",
                  "description": "How dates, times, and durations should be represented in the output. This is ignored if value_render_option is FORMATTED_VALUE. The default dateTime render option is SERIAL_NUMBER.",
                  "enum": [
                    "SERIAL_NUMBER",
                    "FORMATTED_STRING"
                  ]
                },
                "valueRenderOption": {
                  "description": "How values should be represented in the output. The default render option is FORMATTED_VALUE.",
                  "enum": [
                    "FORMATTED_VALUE",
                    "UNFORMATTED_VALUE",
                    "FORMULA"
                  ],
                  "type": "string",
                  "enumDescriptions": [
                    "Values will be calculated & formatted in the response according to the cell's formatting. Formatting is based on the spreadsheet's locale, not the requesting user's locale. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then `A2` would return `\"$1.23\"`.",
                    "Values will be calculated, but not formatted in the reply. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then `A2` would return the number `1.23`.",
                    "Values will not be calculated. The reply will include the formulas. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then A2 would return `\"=A1\"`. Sheets treats date and time values as decimal values. This lets you perform arithmetic on them in formulas. For more information on interpreting date and time values, see [About date & time values](https://developers.google.com/sheets/api/guides/formats#about_date_time_values)."
                  ],
                  "location": "query"
                },
                "spreadsheetId": {
                  "description": "The ID of the spreadsheet to retrieve data from.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "range": {
                  "required": true,
                  "description": "The [A1 notation or R1C1 notation](/sheets/api/guides/concepts#cell) of the range to retrieve values from.",
                  "location": "path",
                  "type": "string"
                },
                "majorDimension": {
                  "enum": [
                    "DIMENSION_UNSPECIFIED",
                    "ROWS",
                    "COLUMNS"
                  ],
                  "type": "string",
                  "enumDescriptions": [
                    "The default value, do not use.",
                    "Operates on the rows of a sheet.",
                    "Operates on the columns of a sheet."
                  ],
                  "location": "query",
                  "description": "The major dimension that results should use. For example, if the spreadsheet data in Sheet1 is: `A1=1,B1=2,A2=3,B2=4`, then requesting `range=Sheet1!A1:B2?majorDimension=ROWS` returns `[[1,2],[3,4]]`, whereas requesting `range=Sheet1!A1:B2?majorDimension=COLUMNS` returns `[[1,3],[2,4]]`."
                }
              }
            },
            "batchGet": {
              "id": "sheets.spreadsheets.values.batchGet",
              "parameterOrder": [
                "spreadsheetId"
              ],
              "parameters": {
                "spreadsheetId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The ID of the spreadsheet to retrieve data from."
                },
                "dateTimeRenderOption": {
                  "enumDescriptions": [
                    "Instructs date, time, datetime, and duration fields to be output as doubles in \"serial number\" format, as popularized by Lotus 1-2-3. The whole number portion of the value (left of the decimal) counts the days since December 30th 1899. The fractional portion (right of the decimal) counts the time as a fraction of the day. For example, January 1st 1900 at noon would be 2.5, 2 because it's 2 days after December 30th 1899, and .5 because noon is half a day. February 1st 1900 at 3pm would be 33.625. This correctly treats the year 1900 as not a leap year.",
                    "Instructs date, time, datetime, and duration fields to be output as strings in their given number format (which depends on the spreadsheet locale)."
                  ],
                  "location": "query",
                  "description": "How dates, times, and durations should be represented in the output. This is ignored if value_render_option is FORMATTED_VALUE. The default dateTime render option is SERIAL_NUMBER.",
                  "enum": [
                    "SERIAL_NUMBER",
                    "FORMATTED_STRING"
                  ],
                  "type": "string"
                },
                "valueRenderOption": {
                  "enum": [
                    "FORMATTED_VALUE",
                    "UNFORMATTED_VALUE",
                    "FORMULA"
                  ],
                  "location": "query",
                  "enumDescriptions": [
                    "Values will be calculated & formatted in the response according to the cell's formatting. Formatting is based on the spreadsheet's locale, not the requesting user's locale. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then `A2` would return `\"$1.23\"`.",
                    "Values will be calculated, but not formatted in the reply. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then `A2` would return the number `1.23`.",
                    "Values will not be calculated. The reply will include the formulas. For example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency, then A2 would return `\"=A1\"`. Sheets treats date and time values as decimal values. This lets you perform arithmetic on them in formulas. For more information on interpreting date and time values, see [About date & time values](https://developers.google.com/sheets/api/guides/formats#about_date_time_values)."
                  ],
                  "type": "string",
                  "description": "How values should be represented in the output. The default render option is ValueRenderOption.FORMATTED_VALUE."
                },
                "majorDimension": {
                  "description": "The major dimension that results should use. For example, if the spreadsheet data is: `A1=1,B1=2,A2=3,B2=4`, then requesting `ranges=[\"A1:B2\"],majorDimension=ROWS` returns `[[1,2],[3,4]]`, whereas requesting `ranges=[\"A1:B2\"],majorDimension=COLUMNS` returns `[[1,3],[2,4]]`.",
                  "enum": [
                    "DIMENSION_UNSPECIFIED",
                    "ROWS",
                    "COLUMNS"
                  ],
                  "enumDescriptions": [
                    "The default value, do not use.",
                    "Operates on the rows of a sheet.",
                    "Operates on the columns of a sheet."
                  ],
                  "type": "string",
                  "location": "query"
                },
                "ranges": {
                  "location": "query",
                  "type": "string",
                  "repeated": true,
                  "description": "The [A1 notation or R1C1 notation](/sheets/api/guides/concepts#cell) of the range to retrieve values from."
                }
              },
              "description": "Returns one or more ranges of values from a spreadsheet. The caller must specify the spreadsheet ID and one or more ranges.",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/drive.readonly",
                "https://www.googleapis.com/auth/spreadsheets",
                "https://www.googleapis.com/auth/spreadsheets.readonly"
              ],
              "httpMethod": "GET",
              "flatPath": "v4/spreadsheets/{spreadsheetId}/values:batchGet",
              "path": "v4/spreadsheets/{spreadsheetId}/values:batchGet",
              "response": {
                "$ref": "BatchGetValuesResponse"
              }
            },
            "clear": {
              "httpMethod": "POST",
              "parameterOrder": [
                "spreadsheetId",
                "range"
              ],
              "request": {
                "$ref": "ClearValuesRequest"
              },
              "response": {
                "$ref": "ClearValuesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets"
              ],
              "parameters": {
                "range": {
                  "description": "The [A1 notation or R1C1 notation](/sheets/api/guides/concepts#cell) of the values to clear.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "spreadsheetId": {
                  "type": "string",
                  "location": "path",
                  "description": "The ID of the spreadsheet to update.",
                  "required": true
                }
              },
              "flatPath": "v4/spreadsheets/{spreadsheetId}/values/{range}:clear",
              "path": "v4/spreadsheets/{spreadsheetId}/values/{range}:clear",
              "description": "Clears values from a spreadsheet. The caller must specify the spreadsheet ID and range. Only values are cleared -- all other properties of the cell (such as formatting, data validation, etc..) are kept.",
              "id": "sheets.spreadsheets.values.clear"
            },
            "batchUpdateByDataFilter": {
              "parameters": {
                "spreadsheetId": {
                  "location": "path",
                  "description": "The ID of the spreadsheet to update.",
                  "type": "string",
                  "required": true
                }
              },
              "response": {
                "$ref": "BatchUpdateValuesByDataFilterResponse"
              },
              "description": "Sets values in one or more ranges of a spreadsheet. The caller must specify the spreadsheet ID, a valueInputOption, and one or more DataFilterValueRanges.",
              "flatPath": "v4/spreadsheets/{spreadsheetId}/values:batchUpdateByDataFilter",
              "request": {
                "$ref": "BatchUpdateValuesByDataFilterRequest"
              },
              "parameterOrder": [
                "spreadsheetId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets"
              ],
              "id": "sheets.spreadsheets.values.batchUpdateByDataFilter",
              "httpMethod": "POST",
              "path": "v4/spreadsheets/{spreadsheetId}/values:batchUpdateByDataFilter"
            },
            "batchUpdate": {
              "id": "sheets.spreadsheets.values.batchUpdate",
              "parameters": {
                "spreadsheetId": {
                  "type": "string",
                  "description": "The ID of the spreadsheet to update.",
                  "location": "path",
                  "required": true
                }
              },
              "request": {
                "$ref": "BatchUpdateValuesRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets"
              ],
              "parameterOrder": [
                "spreadsheetId"
              ],
              "flatPath": "v4/spreadsheets/{spreadsheetId}/values:batchUpdate",
              "description": "Sets values in one or more ranges of a spreadsheet. The caller must specify the spreadsheet ID, a valueInputOption, and one or more ValueRanges.",
              "httpMethod": "POST",
              "response": {
                "$ref": "BatchUpdateValuesResponse"
              },
              "path": "v4/spreadsheets/{spreadsheetId}/values:batchUpdate"
            }
          }
        },
        "sheets": {
          "methods": {
            "copyTo": {
              "httpMethod": "POST",
              "flatPath": "v4/spreadsheets/{spreadsheetId}/sheets/{sheetId}:copyTo",
              "request": {
                "$ref": "CopySheetToAnotherSpreadsheetRequest"
              },
              "path": "v4/spreadsheets/{spreadsheetId}/sheets/{sheetId}:copyTo",
              "response": {
                "$ref": "SheetProperties"
              },
              "parameters": {
                "sheetId": {
                  "type": "integer",
                  "description": "The ID of the sheet to copy.",
                  "format": "int32",
                  "required": true,
                  "location": "path"
                },
                "spreadsheetId": {
                  "description": "The ID of the spreadsheet containing the sheet to copy.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "spreadsheetId",
                "sheetId"
              ],
              "description": "Copies a single sheet from a spreadsheet to another spreadsheet. Returns the properties of the newly created sheet.",
              "id": "sheets.spreadsheets.sheets.copyTo",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets"
              ]
            }
          }
        },
        "developerMetadata": {
          "methods": {
            "search": {
              "description": "Returns all developer metadata matching the specified DataFilter. If the provided DataFilter represents a DeveloperMetadataLookup object, this will return all DeveloperMetadata entries selected by it. If the DataFilter represents a location in a spreadsheet, this will return all developer metadata associated with locations intersecting that region.",
              "httpMethod": "POST",
              "request": {
                "$ref": "SearchDeveloperMetadataRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets"
              ],
              "id": "sheets.spreadsheets.developerMetadata.search",
              "response": {
                "$ref": "SearchDeveloperMetadataResponse"
              },
              "path": "v4/spreadsheets/{spreadsheetId}/developerMetadata:search",
              "flatPath": "v4/spreadsheets/{spreadsheetId}/developerMetadata:search",
              "parameterOrder": [
                "spreadsheetId"
              ],
              "parameters": {
                "spreadsheetId": {
                  "description": "The ID of the spreadsheet to retrieve metadata from.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              }
            },
            "get": {
              "response": {
                "$ref": "DeveloperMetadata"
              },
              "id": "sheets.spreadsheets.developerMetadata.get",
              "parameters": {
                "spreadsheetId": {
                  "description": "The ID of the spreadsheet to retrieve metadata from.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "metadataId": {
                  "format": "int32",
                  "type": "integer",
                  "description": "The ID of the developer metadata to retrieve.",
                  "location": "path",
                  "required": true
                }
              },
              "path": "v4/spreadsheets/{spreadsheetId}/developerMetadata/{metadataId}",
              "flatPath": "v4/spreadsheets/{spreadsheetId}/developerMetadata/{metadataId}",
              "description": "Returns the developer metadata with the specified ID. The caller must specify the spreadsheet ID and the developer metadata's unique metadataId.",
              "parameterOrder": [
                "spreadsheetId",
                "metadataId"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/spreadsheets"
              ]
            }
          }
        }
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/drive": {
          "description": "See, edit, create, and delete all of your Google Drive files"
        },
        "https://www.googleapis.com/auth/drive.file": {
          "description": "See, edit, create, and delete only the specific Google Drive files you use with this app"
        },
        "https://www.googleapis.com/auth/spreadsheets": {
          "description": "See, edit, create, and delete all your Google Sheets spreadsheets"
        },
        "https://www.googleapis.com/auth/spreadsheets.readonly": {
          "description": "See all your Google Sheets spreadsheets"
        },
        "https://www.googleapis.com/auth/drive.readonly": {
          "description": "See and download all your Google Drive files"
        }
      }
    }
  },
  "canonicalName": "Sheets",
  "mtlsRootUrl": "https://sheets.mtls.googleapis.com/",
  "rootUrl": "https://sheets.googleapis.com/",
  "baseUrl": "https://sheets.googleapis.com/",
  "id": "sheets:v4",
  "name": "sheets",
  "fullyEncodeReservedExpansion": true,
  "kind": "discovery#restDescription",
  "schemas": {
    "ColorStyle": {
      "properties": {
        "themeColor": {
          "enumDescriptions": [
            "Unspecified theme color",
            "Represents the primary text color",
            "Represents the primary background color",
            "Represents the first accent color",
            "Represents the second accent color",
            "Represents the third accent color",
            "Represents the fourth accent color",
            "Represents the fifth accent color",
            "Represents the sixth accent color",
            "Represents the color to use for hyperlinks"
          ],
          "type": "string",
          "enum": [
            "THEME_COLOR_TYPE_UNSPECIFIED",
            "TEXT",
            "BACKGROUND",
            "ACCENT1",
            "ACCENT2",
            "ACCENT3",
            "ACCENT4",
            "ACCENT5",
            "ACCENT6",
            "LINK"
          ],
          "description": "Theme color."
        },
        "rgbColor": {
          "$ref": "Color",
          "description": "RGB color. The [`alpha`](/sheets/api/reference/rest/v4/spreadsheets/other#Color.FIELDS.alpha) value in the [`Color`](/sheets/api/reference/rest/v4/spreadsheets/other#color) object isn't generally supported."
        }
      },
      "description": "A color value.",
      "id": "ColorStyle",
      "type": "object"
    },
    "DuplicateFilterViewRequest": {
      "description": "Duplicates a particular filter view.",
      "properties": {
        "filterId": {
          "format": "int32",
          "description": "The ID of the filter being duplicated.",
          "type": "integer"
        }
      },
      "id": "DuplicateFilterViewRequest",
      "type": "object"
    },
    "AppendCellsRequest": {
      "properties": {
        "rows": {
          "items": {
            "$ref": "RowData"
          },
          "type": "array",
          "description": "The data to append."
        },
        "fields": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "The fields of CellData that should be updated. At least one field must be specified. The root is the CellData; 'row.values.' should not be specified. A single `\"*\"` can be used as short-hand for listing every field."
        },
        "sheetId": {
          "type": "integer",
          "format": "int32",
          "description": "The sheet ID to append the data to."
        }
      },
      "description": "Adds new cells after the last row with data in a sheet, inserting new rows into the sheet if necessary.",
      "id": "AppendCellsRequest",
      "type": "object"
    },
    "RefreshDataSourceRequest": {
      "properties": {
        "force": {
          "description": "Refreshes the data source objects regardless of the current state. If not set and a referenced data source object was in error state, the refresh will fail immediately.",
          "type": "boolean"
        },
        "references": {
          "description": "References to data source objects to refresh.",
          "$ref": "DataSourceObjectReferences"
        },
        "dataSourceId": {
          "type": "string",
          "description": "Reference to a DataSource. If specified, refreshes all associated data source objects for the data source."
        },
        "isAll": {
          "type": "boolean",
          "description": "Refreshes all existing data source objects in the spreadsheet."
        }
      },
      "description": "Refreshes one or multiple data source objects in the spreadsheet by the specified references. The request requires an additional `bigquery.readonly` OAuth scope. If there are multiple refresh requests referencing the same data source objects in one batch, only the last refresh request is processed, and all those requests will have the same response accordingly.",
      "id": "RefreshDataSourceRequest",
      "type": "object"
    },
    "MergeCellsRequest": {
      "type": "object",
      "id": "MergeCellsRequest",
      "properties": {
        "mergeType": {
          "type": "string",
          "description": "How the cells should be merged.",
          "enum": [
            "MERGE_ALL",
            "MERGE_COLUMNS",
            "MERGE_ROWS"
          ],
          "enumDescriptions": [
            "Create a single merge from the range",
            "Create a merge for each column in the range",
            "Create a merge for each row in the range"
          ]
        },
        "range": {
          "$ref": "GridRange",
          "description": "The range of cells to merge."
        }
      },
      "description": "Merges all cells in the range."
    },
    "SearchDeveloperMetadataRequest": {
      "description": "A request to retrieve all developer metadata matching the set of specified criteria.",
      "properties": {
        "dataFilters": {
          "description": "The data filters describing the criteria used to determine which DeveloperMetadata entries to return. DeveloperMetadata matching any of the specified filters are included in the response.",
          "type": "array",
          "items": {
            "$ref": "DataFilter"
          }
        }
      },
      "type": "object",
      "id": "SearchDeveloperMetadataRequest"
    },
    "Color": {
      "id": "Color",
      "type": "object",
      "properties": {
        "red": {
          "type": "number",
          "description": "The amount of red in the color as a value in the interval [0, 1].",
          "format": "float"
        },
        "green": {
          "type": "number",
          "description": "The amount of green in the color as a value in the interval [0, 1].",
          "format": "float"
        },
        "blue": {
          "type": "number",
          "format": "float",
          "description": "The amount of blue in the color as a value in the interval [0, 1]."
        },
        "alpha": {
          "type": "number",
          "description": "The fraction of this color that should be applied to the pixel. That is, the final pixel color is defined by the equation: `pixel color = alpha * (this color) + (1.0 - alpha) * (background color)` This means that a value of 1.0 corresponds to a solid color, whereas a value of 0.0 corresponds to a completely transparent color. This uses a wrapper message rather than a simple float scalar so that it is possible to distinguish between a default value and the value being unset. If omitted, this color object is rendered as a solid color (as if the alpha value had been explicitly given a value of 1.0).",
          "format": "float"
        }
      },
      "description": "Represents a color in the RGBA color space. This representation is designed for simplicity of conversion to and from color representations in various languages over compactness. For example, the fields of this representation can be trivially provided to the constructor of `java.awt.Color` in Java; it can also be trivially provided to UIColor's `+colorWithRed:green:blue:alpha` method in iOS; and, with just a little work, it can be easily formatted into a CSS `rgba()` string in JavaScript. This reference page doesn't have information about the absolute color space that should be used to interpret the RGB value—for example, sRGB, Adobe RGB, DCI-P3, and BT.2020. By default, applications should assume the sRGB color space. When color equality needs to be decided, implementations, unless documented otherwise, treat two colors as equal if all their red, green, blue, and alpha values each differ by at most `1e-5`. Example (Java): import com.google.type.Color; // ... public static java.awt.Color fromProto(Color protocolor) { float alpha = protocolor.hasAlpha() ? protocolor.getAlpha().getValue() : 1.0; return new java.awt.Color( protocolor.getRed(), protocolor.getGreen(), protocolor.getBlue(), alpha); } public static Color toProto(java.awt.Color color) { float red = (float) color.getRed(); float green = (float) color.getGreen(); float blue = (float) color.getBlue(); float denominator = 255.0; Color.Builder resultBuilder = Color .newBuilder() .setRed(red / denominator) .setGreen(green / denominator) .setBlue(blue / denominator); int alpha = color.getAlpha(); if (alpha != 255) { result.setAlpha( FloatValue .newBuilder() .setValue(((float) alpha) / denominator) .build()); } return resultBuilder.build(); } // ... Example (iOS / Obj-C): // ... static UIColor* fromProto(Color* protocolor) { float red = [protocolor red]; float green = [protocolor green]; float blue = [protocolor blue]; FloatValue* alpha_wrapper = [protocolor alpha]; float alpha = 1.0; if (alpha_wrapper != nil) { alpha = [alpha_wrapper value]; } return [UIColor colorWithRed:red green:green blue:blue alpha:alpha]; } static Color* toProto(UIColor* color) { CGFloat red, green, blue, alpha; if (![color getRed:&red green:&green blue:&blue alpha:&alpha]) { return nil; } Color* result = [[Color alloc] init]; [result setRed:red]; [result setGreen:green]; [result setBlue:blue]; if (alpha \u003c= 0.9999) { [result setAlpha:floatWrapperWithValue(alpha)]; } [result autorelease]; return result; } // ... Example (JavaScript): // ... var protoToCssColor = function(rgb_color) { var redFrac = rgb_color.red || 0.0; var greenFrac = rgb_color.green || 0.0; var blueFrac = rgb_color.blue || 0.0; var red = Math.floor(redFrac * 255); var green = Math.floor(greenFrac * 255); var blue = Math.floor(blueFrac * 255); if (!('alpha' in rgb_color)) { return rgbToCssColor(red, green, blue); } var alphaFrac = rgb_color.alpha.value || 0.0; var rgbParams = [red, green, blue].join(','); return ['rgba(', rgbParams, ',', alphaFrac, ')'].join(''); }; var rgbToCssColor = function(red, green, blue) { var rgbNumber = new Number((red \u003c\u003c 16) | (green \u003c\u003c 8) | blue); var hexString = rgbNumber.toString(16); var missingZeros = 6 - hexString.length; var resultBuilder = ['#']; for (var i = 0; i \u003c missingZeros; i++) { resultBuilder.push('0'); } resultBuilder.push(hexString); return resultBuilder.join(''); }; // ..."
    },
    "CandlestickData": {
      "type": "object",
      "properties": {
        "closeSeries": {
          "$ref": "CandlestickSeries",
          "description": "The range data (vertical axis) for the close/final value for each candle. This is the top of the candle body. If greater than the open value the candle will be filled. Otherwise the candle will be hollow."
        },
        "lowSeries": {
          "$ref": "CandlestickSeries",
          "description": "The range data (vertical axis) for the low/minimum value for each candle. This is the bottom of the candle's center line."
        },
        "highSeries": {
          "description": "The range data (vertical axis) for the high/maximum value for each candle. This is the top of the candle's center line.",
          "$ref": "CandlestickSeries"
        },
        "openSeries": {
          "description": "The range data (vertical axis) for the open/initial value for each candle. This is the bottom of the candle body. If less than the close value the candle will be filled. Otherwise the candle will be hollow.",
          "$ref": "CandlestickSeries"
        }
      },
      "id": "CandlestickData",
      "description": "The Candlestick chart data, each containing the low, open, close, and high values for a series."
    },
    "FilterCriteria": {
      "type": "object",
      "id": "FilterCriteria",
      "properties": {
        "hiddenValues": {
          "description": "Values that should be hidden.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "visibleBackgroundColor": {
          "description": "The background fill color to filter by; only cells with this fill color are shown. Mutually exclusive with visible_foreground_color. Deprecated: Use visible_background_color_style.",
          "$ref": "Color"
        },
        "visibleForegroundColorStyle": {
          "description": "The foreground color to filter by; only cells with this foreground color are shown. This field is mutually exclusive with visible_background_color, and must be set to an RGB-type color. If visible_foreground_color is also set, this field takes precedence.",
          "$ref": "ColorStyle"
        },
        "condition": {
          "$ref": "BooleanCondition",
          "description": "A condition that must be true for values to be shown. (This does not override hidden_values -- if a value is listed there, it will still be hidden.)"
        },
        "visibleBackgroundColorStyle": {
          "description": "The background fill color to filter by; only cells with this fill color are shown. This field is mutually exclusive with visible_foreground_color, and must be set to an RGB-type color. If visible_background_color is also set, this field takes precedence.",
          "$ref": "ColorStyle"
        },
        "visibleForegroundColor": {
          "$ref": "Color",
          "description": "The foreground color to filter by; only cells with this foreground color are shown. Mutually exclusive with visible_background_color. Deprecated: Use visible_foreground_color_style."
        }
      },
      "description": "Criteria for showing/hiding rows in a filter or filter view."
    },
    "UpdateDimensionPropertiesRequest": {
      "description": "Updates properties of dimensions within the specified range.",
      "type": "object",
      "id": "UpdateDimensionPropertiesRequest",
      "properties": {
        "properties": {
          "description": "Properties to update.",
          "$ref": "DimensionProperties"
        },
        "range": {
          "$ref": "DimensionRange",
          "description": "The rows or columns to update."
        },
        "fields": {
          "description": "The fields that should be updated. At least one field must be specified. The root `properties` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field.",
          "type": "string",
          "format": "google-fieldmask"
        },
        "dataSourceSheetRange": {
          "description": "The columns on a data source sheet to update.",
          "$ref": "DataSourceSheetDimensionRange"
        }
      }
    },
    "PivotTable": {
      "id": "PivotTable",
      "properties": {
        "rows": {
          "description": "Each row grouping in the pivot table.",
          "type": "array",
          "items": {
            "$ref": "PivotGroup"
          }
        },
        "source": {
          "description": "The range the pivot table is reading data from.",
          "$ref": "GridRange"
        },
        "criteria": {
          "additionalProperties": {
            "$ref": "PivotFilterCriteria"
          },
          "type": "object",
          "description": "An optional mapping of filters per source column offset. The filters are applied before aggregating data into the pivot table. The map's key is the column offset of the source range that you want to filter, and the value is the criteria for that column. For example, if the source was `C10:E15`, a key of `0` will have the filter for column `C`, whereas the key `1` is for column `D`. This field is deprecated in favor of filter_specs."
        },
        "valueLayout": {
          "enum": [
            "HORIZONTAL",
            "VERTICAL"
          ],
          "enumDescriptions": [
            "Values are laid out horizontally (as columns).",
            "Values are laid out vertically (as rows)."
          ],
          "description": "Whether values should be listed horizontally (as columns) or vertically (as rows).",
          "type": "string"
        },
        "filterSpecs": {
          "items": {
            "$ref": "PivotFilterSpec"
          },
          "type": "array",
          "description": "The filters applied to the source columns before aggregating data for the pivot table. Both criteria and filter_specs are populated in responses. If both fields are specified in an update request, this field takes precedence."
        },
        "values": {
          "type": "array",
          "description": "A list of values to include in the pivot table.",
          "items": {
            "$ref": "PivotValue"
          }
        },
        "dataExecutionStatus": {
          "$ref": "DataExecutionStatus",
          "readOnly": true,
          "description": "Output only. The data execution status for data source pivot tables."
        },
        "dataSourceId": {
          "description": "The ID of the data source the pivot table is reading data from.",
          "type": "string"
        },
        "columns": {
          "items": {
            "$ref": "PivotGroup"
          },
          "description": "Each column grouping in the pivot table.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "A pivot table."
    },
    "UpdateDeveloperMetadataRequest": {
      "type": "object",
      "properties": {
        "fields": {
          "format": "google-fieldmask",
          "description": "The fields that should be updated. At least one field must be specified. The root `developerMetadata` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field.",
          "type": "string"
        },
        "dataFilters": {
          "description": "The filters matching the developer metadata entries to update.",
          "type": "array",
          "items": {
            "$ref": "DataFilter"
          }
        },
        "developerMetadata": {
          "description": "The value that all metadata matched by the data filters will be updated to.",
          "$ref": "DeveloperMetadata"
        }
      },
      "id": "UpdateDeveloperMetadataRequest",
      "description": "A request to update properties of developer metadata. Updates the properties of the developer metadata selected by the filters to the values provided in the DeveloperMetadata resource. Callers must specify the properties they wish to update in the fields parameter, as well as specify at least one DataFilter matching the metadata they wish to update."
    },
    "PivotFilterSpec": {
      "type": "object",
      "description": "The pivot table filter criteria associated with a specific source column offset.",
      "id": "PivotFilterSpec",
      "properties": {
        "dataSourceColumnReference": {
          "$ref": "DataSourceColumnReference",
          "description": "The reference to the data source column."
        },
        "filterCriteria": {
          "$ref": "PivotFilterCriteria",
          "description": "The criteria for the column."
        },
        "columnOffsetIndex": {
          "description": "The column offset of the source range.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "DeleteDimensionRequest": {
      "properties": {
        "range": {
          "description": "The dimensions to delete from the sheet.",
          "$ref": "DimensionRange"
        }
      },
      "type": "object",
      "id": "DeleteDimensionRequest",
      "description": "Deletes the dimensions from the sheet."
    },
    "CopyPasteRequest": {
      "properties": {
        "source": {
          "description": "The source range to copy.",
          "$ref": "GridRange"
        },
        "pasteType": {
          "enum": [
            "PASTE_NORMAL",
            "PASTE_VALUES",
            "PASTE_FORMAT",
            "PASTE_NO_BORDERS",
            "PASTE_FORMULA",
            "PASTE_DATA_VALIDATION",
            "PASTE_CONDITIONAL_FORMATTING"
          ],
          "enumDescriptions": [
            "Paste values, formulas, formats, and merges.",
            "Paste the values ONLY without formats, formulas, or merges.",
            "Paste the format and data validation only.",
            "Like `PASTE_NORMAL` but without borders.",
            "Paste the formulas only.",
            "Paste the data validation only.",
            "Paste the conditional formatting rules only."
          ],
          "description": "What kind of data to paste.",
          "type": "string"
        },
        "pasteOrientation": {
          "type": "string",
          "enum": [
            "NORMAL",
            "TRANSPOSE"
          ],
          "enumDescriptions": [
            "Paste normally.",
            "Paste transposed, where all rows become columns and vice versa."
          ],
          "description": "How that data should be oriented when pasting."
        },
        "destination": {
          "$ref": "GridRange",
          "description": "The location to paste to. If the range covers a span that's a multiple of the source's height or width, then the data will be repeated to fill in the destination range. If the range is smaller than the source range, the entire source data will still be copied (beyond the end of the destination range)."
        }
      },
      "description": "Copies data from the source to the destination.",
      "type": "object",
      "id": "CopyPasteRequest"
    },
    "BasicFilter": {
      "properties": {
        "sortSpecs": {
          "type": "array",
          "description": "The sort order per column. Later specifications are used when values are equal in the earlier specifications.",
          "items": {
            "$ref": "SortSpec"
          }
        },
        "range": {
          "description": "The range the filter covers.",
          "$ref": "GridRange"
        },
        "filterSpecs": {
          "description": "The filter criteria per column. Both criteria and filter_specs are populated in responses. If both fields are specified in an update request, this field takes precedence.",
          "items": {
            "$ref": "FilterSpec"
          },
          "type": "array"
        },
        "criteria": {
          "description": "The criteria for showing/hiding values per column. The map's key is the column index, and the value is the criteria for that column. This field is deprecated in favor of filter_specs.",
          "type": "object",
          "additionalProperties": {
            "$ref": "FilterCriteria"
          }
        }
      },
      "type": "object",
      "description": "The default filter associated with a sheet.",
      "id": "BasicFilter"
    },
    "DeveloperMetadataLocation": {
      "description": "A location where metadata may be associated in a spreadsheet.",
      "properties": {
        "sheetId": {
          "type": "integer",
          "format": "int32",
          "description": "The ID of the sheet when metadata is associated with an entire sheet."
        },
        "dimensionRange": {
          "description": "Represents the row or column when metadata is associated with a dimension. The specified DimensionRange must represent a single row or column; it cannot be unbounded or span multiple rows or columns.",
          "$ref": "DimensionRange"
        },
        "locationType": {
          "enum": [
            "DEVELOPER_METADATA_LOCATION_TYPE_UNSPECIFIED",
            "ROW",
            "COLUMN",
            "SHEET",
            "SPREADSHEET"
          ],
          "type": "string",
          "description": "The type of location this object represents. This field is read-only.",
          "enumDescriptions": [
            "Default value.",
            "Developer metadata associated on an entire row dimension.",
            "Developer metadata associated on an entire column dimension.",
            "Developer metadata associated on an entire sheet.",
            "Developer metadata associated on the entire spreadsheet."
          ]
        },
        "spreadsheet": {
          "type": "boolean",
          "description": "True when metadata is associated with an entire spreadsheet."
        }
      },
      "id": "DeveloperMetadataLocation",
      "type": "object"
    },
    "WaterfallChartSeries": {
      "description": "A single series of data for a waterfall chart.",
      "type": "object",
      "id": "WaterfallChartSeries",
      "properties": {
        "customSubtotals": {
          "items": {
            "$ref": "WaterfallChartCustomSubtotal"
          },
          "type": "array",
          "description": "Custom subtotal columns appearing in this series. The order in which subtotals are defined is not significant. Only one subtotal may be defined for each data point."
        },
        "data": {
          "$ref": "ChartData",
          "description": "The data being visualized in this series."
        },
        "hideTrailingSubtotal": {
          "type": "boolean",
          "description": "True to hide the subtotal column from the end of the series. By default, a subtotal column will appear at the end of each series. Setting this field to true will hide that subtotal column for this series."
        },
        "negativeColumnsStyle": {
          "$ref": "WaterfallChartColumnStyle",
          "description": "Styles for all columns in this series with negative values."
        },
        "subtotalColumnsStyle": {
          "description": "Styles for all subtotal columns in this series.",
          "$ref": "WaterfallChartColumnStyle"
        },
        "positiveColumnsStyle": {
          "$ref": "WaterfallChartColumnStyle",
          "description": "Styles for all columns in this series with positive values."
        },
        "dataLabel": {
          "$ref": "DataLabel",
          "description": "Information about the data labels for this series."
        }
      }
    },
    "Sheet": {
      "id": "Sheet",
      "type": "object",
      "description": "A sheet in a spreadsheet.",
      "properties": {
        "charts": {
          "type": "array",
          "description": "The specifications of every chart on this sheet.",
          "items": {
            "$ref": "EmbeddedChart"
          }
        },
        "columnGroups": {
          "type": "array",
          "items": {
            "$ref": "DimensionGroup"
          },
          "description": "All column groups on this sheet, ordered by increasing range start index, then by group depth."
        },
        "rowGroups": {
          "items": {
            "$ref": "DimensionGroup"
          },
          "type": "array",
          "description": "All row groups on this sheet, ordered by increasing range start index, then by group depth."
        },
        "bandedRanges": {
          "items": {
            "$ref": "BandedRange"
          },
          "type": "array",
          "description": "The banded (alternating colors) ranges on this sheet."
        },
        "merges": {
          "description": "The ranges that are merged together.",
          "items": {
            "$ref": "GridRange"
          },
          "type": "array"
        },
        "filterViews": {
          "description": "The filter views in this sheet.",
          "items": {
            "$ref": "FilterView"
          },
          "type": "array"
        },
        "protectedRanges": {
          "type": "array",
          "description": "The protected ranges in this sheet.",
          "items": {
            "$ref": "ProtectedRange"
          }
        },
        "slicers": {
          "description": "The slicers on this sheet.",
          "items": {
            "$ref": "Slicer"
          },
          "type": "array"
        },
        "developerMetadata": {
          "type": "array",
          "description": "The developer metadata associated with a sheet.",
          "items": {
            "$ref": "DeveloperMetadata"
          }
        },
        "conditionalFormats": {
          "type": "array",
          "items": {
            "$ref": "ConditionalFormatRule"
          },
          "description": "The conditional format rules in this sheet."
        },
        "data": {
          "type": "array",
          "description": "Data in the grid, if this is a grid sheet. The number of GridData objects returned is dependent on the number of ranges requested on this sheet. For example, if this is representing `Sheet1`, and the spreadsheet was requested with ranges `Sheet1!A1:C10` and `Sheet1!D15:E20`, then the first GridData will have a startRow/startColumn of `0`, while the second one will have `startRow 14` (zero-based row 15), and `startColumn 3` (zero-based column D). For a DATA_SOURCE sheet, you can not request a specific range, the GridData contains all the values.",
          "items": {
            "$ref": "GridData"
          }
        },
        "properties": {
          "$ref": "SheetProperties",
          "description": "The properties of the sheet."
        },
        "basicFilter": {
          "description": "The filter on this sheet, if any.",
          "$ref": "BasicFilter"
        }
      }
    },
    "ChartDateTimeRule": {
      "type": "object",
      "description": "Allows you to organize the date-time values in a source data column into buckets based on selected parts of their date or time values.",
      "id": "ChartDateTimeRule",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "CHART_DATE_TIME_RULE_TYPE_UNSPECIFIED",
            "SECOND",
            "MINUTE",
            "HOUR",
            "HOUR_MINUTE",
            "HOUR_MINUTE_AMPM",
            "DAY_OF_WEEK",
            "DAY_OF_YEAR",
            "DAY_OF_MONTH",
            "DAY_MONTH",
            "MONTH",
            "QUARTER",
            "YEAR",
            "YEAR_MONTH",
            "YEAR_QUARTER",
            "YEAR_MONTH_DAY"
          ],
          "enumDescriptions": [
            "The default type, do not use.",
            "Group dates by second, from 0 to 59.",
            "Group dates by minute, from 0 to 59.",
            "Group dates by hour using a 24-hour system, from 0 to 23.",
            "Group dates by hour and minute using a 24-hour system, for example 19:45.",
            "Group dates by hour and minute using a 12-hour system, for example 7:45 PM. The AM/PM designation is translated based on the spreadsheet locale.",
            "Group dates by day of week, for example Sunday. The days of the week will be translated based on the spreadsheet locale.",
            "Group dates by day of year, from 1 to 366. Note that dates after Feb. 29 fall in different buckets in leap years than in non-leap years.",
            "Group dates by day of month, from 1 to 31.",
            "Group dates by day and month, for example 22-Nov. The month is translated based on the spreadsheet locale.",
            "Group dates by month, for example Nov. The month is translated based on the spreadsheet locale.",
            "Group dates by quarter, for example Q1 (which represents Jan-Mar).",
            "Group dates by year, for example 2008.",
            "Group dates by year and month, for example 2008-Nov. The month is translated based on the spreadsheet locale.",
            "Group dates by year and quarter, for example 2008 Q4.",
            "Group dates by year, month, and day, for example 2008-11-22."
          ],
          "description": "The type of date-time grouping to apply."
        }
      }
    },
    "WaterfallChartSpec": {
      "id": "WaterfallChartSpec",
      "type": "object",
      "description": "A waterfall chart.",
      "properties": {
        "firstValueIsTotal": {
          "type": "boolean",
          "description": "True to interpret the first value as a total."
        },
        "domain": {
          "description": "The domain data (horizontal axis) for the waterfall chart.",
          "$ref": "WaterfallChartDomain"
        },
        "series": {
          "items": {
            "$ref": "WaterfallChartSeries"
          },
          "description": "The data this waterfall chart is visualizing.",
          "type": "array"
        },
        "hideConnectorLines": {
          "type": "boolean",
          "description": "True to hide connector lines between columns."
        },
        "connectorLineStyle": {
          "$ref": "LineStyle",
          "description": "The line style for the connector lines."
        },
        "totalDataLabel": {
          "$ref": "DataLabel",
          "description": "Controls whether to display additional data labels on stacked charts which sum the total value of all stacked values at each value along the domain axis. stacked_type must be STACKED and neither CUSTOM nor placement can be set on the total_data_label."
        },
        "stackedType": {
          "enumDescriptions": [
            "Default value, do not use.",
            "Values corresponding to the same domain (horizontal axis) value will be stacked vertically.",
            "Series will spread out along the horizontal axis."
          ],
          "enum": [
            "WATERFALL_STACKED_TYPE_UNSPECIFIED",
            "STACKED",
            "SEQUENTIAL"
          ],
          "type": "string",
          "description": "The stacked type."
        }
      }
    },
    "AddConditionalFormatRuleRequest": {
      "properties": {
        "rule": {
          "$ref": "ConditionalFormatRule",
          "description": "The rule to add."
        },
        "index": {
          "type": "integer",
          "description": "The zero-based index where the rule should be inserted.",
          "format": "int32"
        }
      },
      "id": "AddConditionalFormatRuleRequest",
      "description": "Adds a new conditional format rule at the given index. All subsequent rules' indexes are incremented.",
      "type": "object"
    },
    "BatchUpdateSpreadsheetResponse": {
      "properties": {
        "updatedSpreadsheet": {
          "$ref": "Spreadsheet",
          "description": "The spreadsheet after updates were applied. This is only set if BatchUpdateSpreadsheetRequest.include_spreadsheet_in_response is `true`."
        },
        "spreadsheetId": {
          "type": "string",
          "description": "The spreadsheet the updates were applied to."
        },
        "replies": {
          "items": {
            "$ref": "Response"
          },
          "type": "array",
          "description": "The reply of the updates. This maps 1:1 with the updates, although replies to some requests may be empty."
        }
      },
      "description": "The reply for batch updating a spreadsheet.",
      "id": "BatchUpdateSpreadsheetResponse",
      "type": "object"
    },
    "PivotValue": {
      "description": "The definition of how a value in a pivot table should be calculated.",
      "properties": {
        "summarizeFunction": {
          "enumDescriptions": [
            "The default, do not use.",
            "Corresponds to the `SUM` function.",
            "Corresponds to the `COUNTA` function.",
            "Corresponds to the `COUNT` function.",
            "Corresponds to the `COUNTUNIQUE` function.",
            "Corresponds to the `AVERAGE` function.",
            "Corresponds to the `MAX` function.",
            "Corresponds to the `MIN` function.",
            "Corresponds to the `MEDIAN` function.",
            "Corresponds to the `PRODUCT` function.",
            "Corresponds to the `STDEV` function.",
            "Corresponds to the `STDEVP` function.",
            "Corresponds to the `VAR` function.",
            "Corresponds to the `VARP` function.",
            "Indicates the formula should be used as-is. Only valid if PivotValue.formula was set."
          ],
          "enum": [
            "PIVOT_STANDARD_VALUE_FUNCTION_UNSPECIFIED",
            "SUM",
            "COUNTA",
            "COUNT",
            "COUNTUNIQUE",
            "AVERAGE",
            "MAX",
            "MIN",
            "MEDIAN",
            "PRODUCT",
            "STDEV",
            "STDEVP",
            "VAR",
            "VARP",
            "CUSTOM"
          ],
          "type": "string",
          "description": "A function to summarize the value. If formula is set, the only supported values are SUM and CUSTOM. If sourceColumnOffset is set, then `CUSTOM` is not supported."
        },
        "formula": {
          "description": "A custom formula to calculate the value. The formula must start with an `=` character.",
          "type": "string"
        },
        "calculatedDisplayType": {
          "enum": [
            "PIVOT_VALUE_CALCULATED_DISPLAY_TYPE_UNSPECIFIED",
            "PERCENT_OF_ROW_TOTAL",
            "PERCENT_OF_COLUMN_TOTAL",
            "PERCENT_OF_GRAND_TOTAL"
          ],
          "type": "string",
          "description": "If specified, indicates that pivot values should be displayed as the result of a calculation with another pivot value. For example, if calculated_display_type is specified as PERCENT_OF_GRAND_TOTAL, all the pivot values are displayed as the percentage of the grand total. In the Sheets editor, this is referred to as \"Show As\" in the value section of a pivot table.",
          "enumDescriptions": [
            "Default value, do not use.",
            "Shows the pivot values as percentage of the row total values.",
            "Shows the pivot values as percentage of the column total values.",
            "Shows the pivot values as percentage of the grand total values."
          ]
        },
        "sourceColumnOffset": {
          "format": "int32",
          "type": "integer",
          "description": "The column offset of the source range that this value reads from. For example, if the source was `C10:E15`, a `sourceColumnOffset` of `0` means this value refers to column `C`, whereas the offset `1` would refer to column `D`."
        },
        "dataSourceColumnReference": {
          "$ref": "DataSourceColumnReference",
          "description": "The reference to the data source column that this value reads from."
        },
        "name": {
          "type": "string",
          "description": "A name to use for the value."
        }
      },
      "id": "PivotValue",
      "type": "object"
    },
    "GridData": {
      "type": "object",
      "properties": {
        "columnMetadata": {
          "description": "Metadata about the requested columns in the grid, starting with the column in start_column.",
          "type": "array",
          "items": {
            "$ref": "DimensionProperties"
          }
        },
        "startRow": {
          "description": "The first row this GridData refers to, zero-based.",
          "type": "integer",
          "format": "int32"
        },
        "rowMetadata": {
          "items": {
            "$ref": "DimensionProperties"
          },
          "description": "Metadata about the requested rows in the grid, starting with the row in start_row.",
          "type": "array"
        },
        "rowData": {
          "type": "array",
          "items": {
            "$ref": "RowData"
          },
          "description": "The data in the grid, one entry per row, starting with the row in startRow. The values in RowData will correspond to columns starting at start_column."
        },
        "startColumn": {
          "format": "int32",
          "type": "integer",
          "description": "The first column this GridData refers to, zero-based."
        }
      },
      "id": "GridData",
      "description": "Data in the grid, as well as metadata about the dimensions."
    },
    "UpdateDataSourceResponse": {
      "properties": {
        "dataSource": {
          "description": "The updated data source.",
          "$ref": "DataSource"
        },
        "dataExecutionStatus": {
          "$ref": "DataExecutionStatus",
          "description": "The data execution status."
        }
      },
      "description": "The response from updating data source.",
      "id": "UpdateDataSourceResponse",
      "type": "object"
    },
    "BatchUpdateValuesByDataFilterResponse": {
      "type": "object",
      "id": "BatchUpdateValuesByDataFilterResponse",
      "description": "The response when updating a range of values in a spreadsheet.",
      "properties": {
        "totalUpdatedCells": {
          "type": "integer",
          "description": "The total number of cells updated.",
          "format": "int32"
        },
        "totalUpdatedSheets": {
          "format": "int32",
          "type": "integer",
          "description": "The total number of sheets where at least one cell in the sheet was updated."
        },
        "totalUpdatedRows": {
          "format": "int32",
          "description": "The total number of rows where at least one cell in the row was updated.",
          "type": "integer"
        },
        "responses": {
          "items": {
            "$ref": "UpdateValuesByDataFilterResponse"
          },
          "description": "The response for each range updated.",
          "type": "array"
        },
        "spreadsheetId": {
          "type": "string",
          "description": "The spreadsheet the updates were applied to."
        },
        "totalUpdatedColumns": {
          "description": "The total number of columns where at least one cell in the column was updated.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "DeleteDataSourceRequest": {
      "properties": {
        "dataSourceId": {
          "type": "string",
          "description": "The ID of the data source to delete."
        }
      },
      "description": "Deletes a data source. The request also deletes the associated data source sheet, and unlinks all associated data source objects.",
      "id": "DeleteDataSourceRequest",
      "type": "object"
    },
    "AddProtectedRangeResponse": {
      "description": "The result of adding a new protected range.",
      "type": "object",
      "properties": {
        "protectedRange": {
          "$ref": "ProtectedRange",
          "description": "The newly added protected range."
        }
      },
      "id": "AddProtectedRangeResponse"
    },
    "IterativeCalculationSettings": {
      "type": "object",
      "id": "IterativeCalculationSettings",
      "properties": {
        "maxIterations": {
          "type": "integer",
          "description": "When iterative calculation is enabled, the maximum number of calculation rounds to perform.",
          "format": "int32"
        },
        "convergenceThreshold": {
          "description": "When iterative calculation is enabled and successive results differ by less than this threshold value, the calculation rounds stop.",
          "type": "number",
          "format": "double"
        }
      },
      "description": "Settings to control how circular dependencies are resolved with iterative calculation."
    },
    "TextToColumnsRequest": {
      "description": "Splits a column of text into multiple columns, based on a delimiter in each cell.",
      "type": "object",
      "properties": {
        "source": {
          "$ref": "GridRange",
          "description": "The source data range. This must span exactly one column."
        },
        "delimiterType": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value must not be used.",
            "\",\"",
            "\";\"",
            "\".\"",
            "\" \"",
            "A custom value as defined in delimiter.",
            "Automatically detect columns."
          ],
          "enum": [
            "DELIMITER_TYPE_UNSPECIFIED",
            "COMMA",
            "SEMICOLON",
            "PERIOD",
            "SPACE",
            "CUSTOM",
            "AUTODETECT"
          ],
          "description": "The delimiter type to use."
        },
        "delimiter": {
          "description": "The delimiter to use. Used only if delimiterType is CUSTOM.",
          "type": "string"
        }
      },
      "id": "TextToColumnsRequest"
    },
    "AppendDimensionRequest": {
      "properties": {
        "sheetId": {
          "type": "integer",
          "description": "The sheet to append rows or columns to.",
          "format": "int32"
        },
        "length": {
          "format": "int32",
          "description": "The number of rows or columns to append.",
          "type": "integer"
        },
        "dimension": {
          "type": "string",
          "enumDescriptions": [
            "The default value, do not use.",
            "Operates on the rows of a sheet.",
            "Operates on the columns of a sheet."
          ],
          "enum": [
            "DIMENSION_UNSPECIFIED",
            "ROWS",
            "COLUMNS"
          ],
          "description": "Whether rows or columns should be appended."
        }
      },
      "description": "Appends rows or columns to the end of a sheet.",
      "id": "AppendDimensionRequest",
      "type": "object"
    },
    "BasicChartSeries": {
      "properties": {
        "series": {
          "$ref": "ChartData",
          "description": "The data being visualized in this chart series."
        },
        "colorStyle": {
          "$ref": "ColorStyle",
          "description": "The color for elements (such as bars, lines, and points) associated with this series. If empty, a default color is used. If color is also set, this field takes precedence."
        },
        "color": {
          "$ref": "Color",
          "description": "The color for elements (such as bars, lines, and points) associated with this series. If empty, a default color is used. Deprecated: Use color_style."
        },
        "pointStyle": {
          "description": "The style for points associated with this series. Valid only if the chartType is AREA, LINE, or SCATTER. COMBO charts are also supported if the series chart type is AREA, LINE, or SCATTER. If empty, a default point style is used.",
          "$ref": "PointStyle"
        },
        "type": {
          "type": "string",
          "enum": [
            "BASIC_CHART_TYPE_UNSPECIFIED",
            "BAR",
            "LINE",
            "AREA",
            "COLUMN",
            "SCATTER",
            "COMBO",
            "STEPPED_AREA"
          ],
          "enumDescriptions": [
            "Default value, do not use.",
            "A bar chart.",
            "A line chart.",
            "An area chart.",
            "A column chart.",
            "A scatter chart.",
            "A combo chart.",
            "A stepped area chart."
          ],
          "description": "The type of this series. Valid only if the chartType is COMBO. Different types will change the way the series is visualized. Only LINE, AREA, and COLUMN are supported."
        },
        "targetAxis": {
          "enum": [
            "BASIC_CHART_AXIS_POSITION_UNSPECIFIED",
            "BOTTOM_AXIS",
            "LEFT_AXIS",
            "RIGHT_AXIS"
          ],
          "description": "The minor axis that will specify the range of values for this series. For example, if charting stocks over time, the \"Volume\" series may want to be pinned to the right with the prices pinned to the left, because the scale of trading volume is different than the scale of prices. It is an error to specify an axis that isn't a valid minor axis for the chart's type.",
          "enumDescriptions": [
            "Default value, do not use.",
            "The axis rendered at the bottom of a chart. For most charts, this is the standard major axis. For bar charts, this is a minor axis.",
            "The axis rendered at the left of a chart. For most charts, this is a minor axis. For bar charts, this is the standard major axis.",
            "The axis rendered at the right of a chart. For most charts, this is a minor axis. For bar charts, this is an unusual major axis."
          ],
          "type": "string"
        },
        "lineStyle": {
          "$ref": "LineStyle",
          "description": "The line style of this series. Valid only if the chartType is AREA, LINE, or SCATTER. COMBO charts are also supported if the series chart type is AREA or LINE."
        },
        "dataLabel": {
          "description": "Information about the data labels for this series.",
          "$ref": "DataLabel"
        },
        "styleOverrides": {
          "items": {
            "$ref": "BasicSeriesDataPointStyleOverride"
          },
          "description": "Style override settings for series data points.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "BasicChartSeries",
      "description": "A single series of data in a chart. For example, if charting stock prices over time, multiple series may exist, one for the \"Open Price\", \"High Price\", \"Low Price\" and \"Close Price\"."
    },
    "UnmergeCellsRequest": {
      "properties": {
        "range": {
          "description": "The range within which all cells should be unmerged. If the range spans multiple merges, all will be unmerged. The range must not partially span any merge.",
          "$ref": "GridRange"
        }
      },
      "description": "Unmerges cells in the given range.",
      "id": "UnmergeCellsRequest",
      "type": "object"
    },
    "KeyValueFormat": {
      "properties": {
        "position": {
          "description": "Specifies the horizontal text positioning of key value. This field is optional. If not specified, default positioning is used.",
          "$ref": "TextPosition"
        },
        "textFormat": {
          "description": "Text formatting options for key value. The link field is not supported.",
          "$ref": "TextFormat"
        }
      },
      "id": "KeyValueFormat",
      "description": "Formatting options for key value.",
      "type": "object"
    },
    "ChartSpec": {
      "description": "The specifications of a chart.",
      "type": "object",
      "id": "ChartSpec",
      "properties": {
        "sortSpecs": {
          "description": "The order to sort the chart data by. Only a single sort spec is supported. Only supported for data source charts.",
          "type": "array",
          "items": {
            "$ref": "SortSpec"
          }
        },
        "altText": {
          "description": "The alternative text that describes the chart. This is often used for accessibility.",
          "type": "string"
        },
        "backgroundColorStyle": {
          "description": "The background color of the entire chart. Not applicable to Org charts. If background_color is also set, this field takes precedence.",
          "$ref": "ColorStyle"
        },
        "fontName": {
          "description": "The name of the font to use by default for all chart text (e.g. title, axis labels, legend). If a font is specified for a specific part of the chart it will override this font name.",
          "type": "string"
        },
        "subtitleTextPosition": {
          "description": "The subtitle text position. This field is optional.",
          "$ref": "TextPosition"
        },
        "candlestickChart": {
          "description": "A candlestick chart specification.",
          "$ref": "CandlestickChartSpec"
        },
        "waterfallChart": {
          "description": "A waterfall chart specification.",
          "$ref": "WaterfallChartSpec"
        },
        "titleTextFormat": {
          "description": "The title text format. Strikethrough, underline, and link are not supported.",
          "$ref": "TextFormat"
        },
        "filterSpecs": {
          "description": "The filters applied to the source data of the chart. Only supported for data source charts.",
          "type": "array",
          "items": {
            "$ref": "FilterSpec"
          }
        },
        "bubbleChart": {
          "description": "A bubble chart specification.",
          "$ref": "BubbleChartSpec"
        },
        "basicChart": {
          "$ref": "BasicChartSpec",
          "description": "A basic chart specification, can be one of many kinds of charts. See BasicChartType for the list of all charts this supports."
        },
        "maximized": {
          "type": "boolean",
          "description": "True to make a chart fill the entire space in which it's rendered with minimum padding. False to use the default padding. (Not applicable to Geo and Org charts.)"
        },
        "titleTextPosition": {
          "$ref": "TextPosition",
          "description": "The title text position. This field is optional."
        },
        "hiddenDimensionStrategy": {
          "enumDescriptions": [
            "Default value, do not use.",
            "Charts will skip hidden rows and columns.",
            "Charts will skip hidden rows only.",
            "Charts will skip hidden columns only.",
            "Charts will not skip any hidden rows or columns."
          ],
          "description": "Determines how the charts will use hidden rows or columns.",
          "type": "string",
          "enum": [
            "CHART_HIDDEN_DIMENSION_STRATEGY_UNSPECIFIED",
            "SKIP_HIDDEN_ROWS_AND_COLUMNS",
            "SKIP_HIDDEN_ROWS",
            "SKIP_HIDDEN_COLUMNS",
            "SHOW_ALL"
          ]
        },
        "treemapChart": {
          "$ref": "TreemapChartSpec",
          "description": "A treemap chart specification."
        },
        "subtitleTextFormat": {
          "$ref": "TextFormat",
[...]
