{
  "fullyEncodeReservedExpansion": true,
  "rootUrl": "https://slides.googleapis.com/",
  "kind": "discovery#restDescription",
  "baseUrl": "https://slides.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/spreadsheets.readonly": {
          "description": "See all your Google Sheets spreadsheets"
        },
        "https://www.googleapis.com/auth/drive.file": {
          "description": "See, edit, create, and delete only the specific Google Drive files you use with this app"
        },
        "https://www.googleapis.com/auth/spreadsheets": {
          "description": "See, edit, create, and delete all your Google Sheets spreadsheets"
        },
        "https://www.googleapis.com/auth/drive": {
          "description": "See, edit, create, and delete all of your Google Drive files"
        },
        "https://www.googleapis.com/auth/presentations.readonly": {
          "description": "See all your Google Slides presentations"
        },
        "https://www.googleapis.com/auth/presentations": {
          "description": "See, edit, create, and delete all your Google Slides presentations"
        },
        "https://www.googleapis.com/auth/drive.readonly": {
          "description": "See and download all your Google Drive files"
        }
      }
    }
  },
  "protocol": "rest",
  "ownerDomain": "google.com",
  "parameters": {
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    }
  },
  "canonicalName": "Slides",
  "name": "slides",
  "version_module": true,
  "description": "Reads and writes Google Slides presentations.",
  "documentationLink": "https://developers.google.com/slides/",
  "ownerName": "Google",
  "revision": "20230209",
  "mtlsRootUrl": "https://slides.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "schemas": {
    "RefreshSheetsChartRequest": {
      "id": "RefreshSheetsChartRequest",
      "type": "object",
      "description": "Refreshes an embedded Google Sheets chart by replacing it with the latest version of the chart from Google Sheets. NOTE: Refreshing charts requires at least one of the spreadsheets.readonly, spreadsheets, drive.readonly, or drive OAuth scopes.",
      "properties": {
        "objectId": {
          "description": "The object ID of the chart to refresh.",
          "type": "string"
        }
      }
    },
    "ThemeColorPair": {
      "id": "ThemeColorPair",
      "description": "A pair mapping a theme color type to the concrete color it represents.",
      "properties": {
        "color": {
          "description": "The concrete color corresponding to the theme color type above.",
          "$ref": "RgbColor"
        },
        "type": {
          "enumDescriptions": [
            "Unspecified theme color. This value should not be used.",
            "Represents the first dark color.",
            "Represents the first light color.",
            "Represents the second dark color.",
            "Represents the second light color.",
            "Represents the first accent color.",
            "Represents the second accent color.",
            "Represents the third accent color.",
            "Represents the fourth accent color.",
            "Represents the fifth accent color.",
            "Represents the sixth accent color.",
            "Represents the color to use for hyperlinks.",
            "Represents the color to use for visited hyperlinks.",
            "Represents the first text color.",
            "Represents the first background color.",
            "Represents the second text color.",
            "Represents the second background color."
          ],
          "description": "The type of the theme color.",
          "type": "string",
          "enum": [
            "THEME_COLOR_TYPE_UNSPECIFIED",
            "DARK1",
            "LIGHT1",
            "DARK2",
            "LIGHT2",
            "ACCENT1",
            "ACCENT2",
            "ACCENT3",
            "ACCENT4",
            "ACCENT5",
            "ACCENT6",
            "HYPERLINK",
            "FOLLOWED_HYPERLINK",
            "TEXT1",
            "BACKGROUND1",
            "TEXT2",
            "BACKGROUND2"
          ]
        }
      },
      "type": "object"
    },
    "CreateShapeRequest": {
      "description": "Creates a new shape.",
      "properties": {
        "elementProperties": {
          "description": "The element properties for the shape.",
          "$ref": "PageElementProperties"
        },
        "shapeType": {
          "enumDescriptions": [
            "The shape type that is not predefined.",
            "Text box shape.",
            "Rectangle shape. Corresponds to ECMA-376 ST_ShapeType 'rect'.",
            "Round corner rectangle shape. Corresponds to ECMA-376 ST_ShapeType 'roundRect'",
            "Ellipse shape. Corresponds to ECMA-376 ST_ShapeType 'ellipse'",
            "Curved arc shape. Corresponds to ECMA-376 ST_ShapeType 'arc'",
            "Bent arrow shape. Corresponds to ECMA-376 ST_ShapeType 'bentArrow'",
            "Bent up arrow shape. Corresponds to ECMA-376 ST_ShapeType 'bentUpArrow'",
            "Bevel shape. Corresponds to ECMA-376 ST_ShapeType 'bevel'",
            "Block arc shape. Corresponds to ECMA-376 ST_ShapeType 'blockArc'",
            "Brace pair shape. Corresponds to ECMA-376 ST_ShapeType 'bracePair'",
            "Bracket pair shape. Corresponds to ECMA-376 ST_ShapeType 'bracketPair'",
            "Can shape. Corresponds to ECMA-376 ST_ShapeType 'can'",
            "Chevron shape. Corresponds to ECMA-376 ST_ShapeType 'chevron'",
            "Chord shape. Corresponds to ECMA-376 ST_ShapeType 'chord'",
            "Cloud shape. Corresponds to ECMA-376 ST_ShapeType 'cloud'",
            "Corner shape. Corresponds to ECMA-376 ST_ShapeType 'corner'",
            "Cube shape. Corresponds to ECMA-376 ST_ShapeType 'cube'",
            "Curved down arrow shape. Corresponds to ECMA-376 ST_ShapeType 'curvedDownArrow'",
            "Curved left arrow shape. Corresponds to ECMA-376 ST_ShapeType 'curvedLeftArrow'",
            "Curved right arrow shape. Corresponds to ECMA-376 ST_ShapeType 'curvedRightArrow'",
            "Curved up arrow shape. Corresponds to ECMA-376 ST_ShapeType 'curvedUpArrow'",
            "Decagon shape. Corresponds to ECMA-376 ST_ShapeType 'decagon'",
            "Diagonal stripe shape. Corresponds to ECMA-376 ST_ShapeType 'diagStripe'",
            "Diamond shape. Corresponds to ECMA-376 ST_ShapeType 'diamond'",
            "Dodecagon shape. Corresponds to ECMA-376 ST_ShapeType 'dodecagon'",
            "Donut shape. Corresponds to ECMA-376 ST_ShapeType 'donut'",
            "Double wave shape. Corresponds to ECMA-376 ST_ShapeType 'doubleWave'",
            "Down arrow shape. Corresponds to ECMA-376 ST_ShapeType 'downArrow'",
            "Callout down arrow shape. Corresponds to ECMA-376 ST_ShapeType 'downArrowCallout'",
            "Folded corner shape. Corresponds to ECMA-376 ST_ShapeType 'foldedCorner'",
            "Frame shape. Corresponds to ECMA-376 ST_ShapeType 'frame'",
            "Half frame shape. Corresponds to ECMA-376 ST_ShapeType 'halfFrame'",
            "Heart shape. Corresponds to ECMA-376 ST_ShapeType 'heart'",
            "Heptagon shape. Corresponds to ECMA-376 ST_ShapeType 'heptagon'",
            "Hexagon shape. Corresponds to ECMA-376 ST_ShapeType 'hexagon'",
            "Home plate shape. Corresponds to ECMA-376 ST_ShapeType 'homePlate'",
            "Horizontal scroll shape. Corresponds to ECMA-376 ST_ShapeType 'horizontalScroll'",
            "Irregular seal 1 shape. Corresponds to ECMA-376 ST_ShapeType 'irregularSeal1'",
            "Irregular seal 2 shape. Corresponds to ECMA-376 ST_ShapeType 'irregularSeal2'",
            "Left arrow shape. Corresponds to ECMA-376 ST_ShapeType 'leftArrow'",
            "Callout left arrow shape. Corresponds to ECMA-376 ST_ShapeType 'leftArrowCallout'",
            "Left brace shape. Corresponds to ECMA-376 ST_ShapeType 'leftBrace'",
            "Left bracket shape. Corresponds to ECMA-376 ST_ShapeType 'leftBracket'",
            "Left right arrow shape. Corresponds to ECMA-376 ST_ShapeType 'leftRightArrow'",
            "Callout left right arrow shape. Corresponds to ECMA-376 ST_ShapeType 'leftRightArrowCallout'",
            "Left right up arrow shape. Corresponds to ECMA-376 ST_ShapeType 'leftRightUpArrow'",
            "Left up arrow shape. Corresponds to ECMA-376 ST_ShapeType 'leftUpArrow'",
            "Lightning bolt shape. Corresponds to ECMA-376 ST_ShapeType 'lightningBolt'",
            "Divide math shape. Corresponds to ECMA-376 ST_ShapeType 'mathDivide'",
            "Equal math shape. Corresponds to ECMA-376 ST_ShapeType 'mathEqual'",
            "Minus math shape. Corresponds to ECMA-376 ST_ShapeType 'mathMinus'",
            "Multiply math shape. Corresponds to ECMA-376 ST_ShapeType 'mathMultiply'",
            "Not equal math shape. Corresponds to ECMA-376 ST_ShapeType 'mathNotEqual'",
            "Plus math shape. Corresponds to ECMA-376 ST_ShapeType 'mathPlus'",
            "Moon shape. Corresponds to ECMA-376 ST_ShapeType 'moon'",
            "No smoking shape. Corresponds to ECMA-376 ST_ShapeType 'noSmoking'",
            "Notched right arrow shape. Corresponds to ECMA-376 ST_ShapeType 'notchedRightArrow'",
            "Octagon shape. Corresponds to ECMA-376 ST_ShapeType 'octagon'",
            "Parallelogram shape. Corresponds to ECMA-376 ST_ShapeType 'parallelogram'",
            "Pentagon shape. Corresponds to ECMA-376 ST_ShapeType 'pentagon'",
            "Pie shape. Corresponds to ECMA-376 ST_ShapeType 'pie'",
            "Plaque shape. Corresponds to ECMA-376 ST_ShapeType 'plaque'",
            "Plus shape. Corresponds to ECMA-376 ST_ShapeType 'plus'",
            "Quad-arrow shape. Corresponds to ECMA-376 ST_ShapeType 'quadArrow'",
            "Callout quad-arrow shape. Corresponds to ECMA-376 ST_ShapeType 'quadArrowCallout'",
            "Ribbon shape. Corresponds to ECMA-376 ST_ShapeType 'ribbon'",
            "Ribbon 2 shape. Corresponds to ECMA-376 ST_ShapeType 'ribbon2'",
            "Right arrow shape. Corresponds to ECMA-376 ST_ShapeType 'rightArrow'",
            "Callout right arrow shape. Corresponds to ECMA-376 ST_ShapeType 'rightArrowCallout'",
            "Right brace shape. Corresponds to ECMA-376 ST_ShapeType 'rightBrace'",
            "Right bracket shape. Corresponds to ECMA-376 ST_ShapeType 'rightBracket'",
            "One round corner rectangle shape. Corresponds to ECMA-376 ST_ShapeType 'round1Rect'",
            "Two diagonal round corner rectangle shape. Corresponds to ECMA-376 ST_ShapeType 'round2DiagRect'",
            "Two same-side round corner rectangle shape. Corresponds to ECMA-376 ST_ShapeType 'round2SameRect'",
            "Right triangle shape. Corresponds to ECMA-376 ST_ShapeType 'rtTriangle'",
            "Smiley face shape. Corresponds to ECMA-376 ST_ShapeType 'smileyFace'",
            "One snip corner rectangle shape. Corresponds to ECMA-376 ST_ShapeType 'snip1Rect'",
            "Two diagonal snip corner rectangle shape. Corresponds to ECMA-376 ST_ShapeType 'snip2DiagRect'",
            "Two same-side snip corner rectangle shape. Corresponds to ECMA-376 ST_ShapeType 'snip2SameRect'",
            "One snip one round corner rectangle shape. Corresponds to ECMA-376 ST_ShapeType 'snipRoundRect'",
            "Ten pointed star shape. Corresponds to ECMA-376 ST_ShapeType 'star10'",
            "Twelve pointed star shape. Corresponds to ECMA-376 ST_ShapeType 'star12'",
            "Sixteen pointed star shape. Corresponds to ECMA-376 ST_ShapeType 'star16'",
            "Twenty four pointed star shape. Corresponds to ECMA-376 ST_ShapeType 'star24'",
            "Thirty two pointed star shape. Corresponds to ECMA-376 ST_ShapeType 'star32'",
            "Four pointed star shape. Corresponds to ECMA-376 ST_ShapeType 'star4'",
            "Five pointed star shape. Corresponds to ECMA-376 ST_ShapeType 'star5'",
            "Six pointed star shape. Corresponds to ECMA-376 ST_ShapeType 'star6'",
            "Seven pointed star shape. Corresponds to ECMA-376 ST_ShapeType 'star7'",
            "Eight pointed star shape. Corresponds to ECMA-376 ST_ShapeType 'star8'",
            "Striped right arrow shape. Corresponds to ECMA-376 ST_ShapeType 'stripedRightArrow'",
            "Sun shape. Corresponds to ECMA-376 ST_ShapeType 'sun'",
            "Trapezoid shape. Corresponds to ECMA-376 ST_ShapeType 'trapezoid'",
            "Triangle shape. Corresponds to ECMA-376 ST_ShapeType 'triangle'",
            "Up arrow shape. Corresponds to ECMA-376 ST_ShapeType 'upArrow'",
            "Callout up arrow shape. Corresponds to ECMA-376 ST_ShapeType 'upArrowCallout'",
            "Up down arrow shape. Corresponds to ECMA-376 ST_ShapeType 'upDownArrow'",
            "U-turn arrow shape. Corresponds to ECMA-376 ST_ShapeType 'uturnArrow'",
            "Vertical scroll shape. Corresponds to ECMA-376 ST_ShapeType 'verticalScroll'",
            "Wave shape. Corresponds to ECMA-376 ST_ShapeType 'wave'",
            "Callout wedge ellipse shape. Corresponds to ECMA-376 ST_ShapeType 'wedgeEllipseCallout'",
            "Callout wedge rectangle shape. Corresponds to ECMA-376 ST_ShapeType 'wedgeRectCallout'",
            "Callout wedge round rectangle shape. Corresponds to ECMA-376 ST_ShapeType 'wedgeRoundRectCallout'",
            "Alternate process flow shape. Corresponds to ECMA-376 ST_ShapeType 'flowChartAlternateProcess'",
            "Collate flow shape. Corresponds to ECMA-376 ST_ShapeType 'flowChartCollate'",
            "Connector flow shape. Corresponds to ECMA-376 ST_ShapeType 'flowChartConnector'",
            "Decision flow shape. Corresponds to ECMA-376 ST_ShapeType 'flowChartDecision'",
            "Delay flow shape. Corresponds to ECMA-376 ST_ShapeType 'flowChartDelay'",
            "Display flow shape. Corresponds to ECMA-376 ST_ShapeType 'flowChartDisplay'",
            "Document flow shape. Corresponds to ECMA-376 ST_ShapeType 'flowChartDocument'",
            "Extract flow shape. Corresponds to ECMA-376 ST_ShapeType 'flowChartExtract'",
            "Input output flow shape. Corresponds to ECMA-376 ST_ShapeType 'flowChartInputOutput'",
            "Internal storage flow shape. Corresponds to ECMA-376 ST_ShapeType 'flowChartInternalStorage'",
            "Magnetic disk flow shape. Corresponds to ECMA-376 ST_ShapeType 'flowChartMagneticDisk'",
            "Magnetic drum flow shape. Corresponds to ECMA-376 ST_ShapeType 'flowChartMagneticDrum'",
            "Magnetic tape flow shape. Corresponds to ECMA-376 ST_ShapeType 'flowChartMagneticTape'",
            "Manual input flow shape. Corresponds to ECMA-376 ST_ShapeType 'flowChartManualInput'",
            "Manual operation flow shape. Corresponds to ECMA-376 ST_ShapeType 'flowChartManualOperation'",
            "Merge flow shape. Corresponds to ECMA-376 ST_ShapeType 'flowChartMerge'",
            "Multi-document flow shape. Corresponds to ECMA-376 ST_ShapeType 'flowChartMultidocument'",
            "Offline storage flow shape. Corresponds to ECMA-376 ST_ShapeType 'flowChartOfflineStorage'",
            "Off-page connector flow shape. Corresponds to ECMA-376 ST_ShapeType 'flowChartOffpageConnector'",
            "Online storage flow shape. Corresponds to ECMA-376 ST_ShapeType 'flowChartOnlineStorage'",
            "Or flow shape. Corresponds to ECMA-376 ST_ShapeType 'flowChartOr'",
            "Predefined process flow shape. Corresponds to ECMA-376 ST_ShapeType 'flowChartPredefinedProcess'",
            "Preparation flow shape. Corresponds to ECMA-376 ST_ShapeType 'flowChartPreparation'",
            "Process flow shape. Corresponds to ECMA-376 ST_ShapeType 'flowChartProcess'",
            "Punched card flow shape. Corresponds to ECMA-376 ST_ShapeType 'flowChartPunchedCard'",
            "Punched tape flow shape. Corresponds to ECMA-376 ST_ShapeType 'flowChartPunchedTape'",
            "Sort flow shape. Corresponds to ECMA-376 ST_ShapeType 'flowChartSort'",
            "Summing junction flow shape. Corresponds to ECMA-376 ST_ShapeType 'flowChartSummingJunction'",
            "Terminator flow shape. Corresponds to ECMA-376 ST_ShapeType 'flowChartTerminator'",
            "East arrow shape.",
            "Northeast arrow shape.",
            "North arrow shape.",
            "Speech shape.",
            "Star burst shape.",
            "Teardrop shape. Corresponds to ECMA-376 ST_ShapeType 'teardrop'",
            "Ellipse ribbon shape. Corresponds to ECMA-376 ST_ShapeType 'ellipseRibbon'",
            "Ellipse ribbon 2 shape. Corresponds to ECMA-376 ST_ShapeType 'ellipseRibbon2'",
            "Callout cloud shape. Corresponds to ECMA-376 ST_ShapeType 'cloudCallout'",
            "Custom shape."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "TEXT_BOX",
            "RECTANGLE",
            "ROUND_RECTANGLE",
            "ELLIPSE",
            "ARC",
            "BENT_ARROW",
            "BENT_UP_ARROW",
            "BEVEL",
            "BLOCK_ARC",
            "BRACE_PAIR",
            "BRACKET_PAIR",
            "CAN",
            "CHEVRON",
            "CHORD",
            "CLOUD",
            "CORNER",
            "CUBE",
            "CURVED_DOWN_ARROW",
            "CURVED_LEFT_ARROW",
            "CURVED_RIGHT_ARROW",
            "CURVED_UP_ARROW",
            "DECAGON",
            "DIAGONAL_STRIPE",
            "DIAMOND",
            "DODECAGON",
            "DONUT",
            "DOUBLE_WAVE",
            "DOWN_ARROW",
            "DOWN_ARROW_CALLOUT",
            "FOLDED_CORNER",
            "FRAME",
            "HALF_FRAME",
            "HEART",
            "HEPTAGON",
            "HEXAGON",
            "HOME_PLATE",
            "HORIZONTAL_SCROLL",
            "IRREGULAR_SEAL_1",
            "IRREGULAR_SEAL_2",
            "LEFT_ARROW",
            "LEFT_ARROW_CALLOUT",
            "LEFT_BRACE",
            "LEFT_BRACKET",
            "LEFT_RIGHT_ARROW",
            "LEFT_RIGHT_ARROW_CALLOUT",
            "LEFT_RIGHT_UP_ARROW",
            "LEFT_UP_ARROW",
            "LIGHTNING_BOLT",
            "MATH_DIVIDE",
            "MATH_EQUAL",
            "MATH_MINUS",
            "MATH_MULTIPLY",
            "MATH_NOT_EQUAL",
            "MATH_PLUS",
            "MOON",
            "NO_SMOKING",
            "NOTCHED_RIGHT_ARROW",
            "OCTAGON",
            "PARALLELOGRAM",
            "PENTAGON",
            "PIE",
            "PLAQUE",
            "PLUS",
            "QUAD_ARROW",
            "QUAD_ARROW_CALLOUT",
            "RIBBON",
            "RIBBON_2",
            "RIGHT_ARROW",
            "RIGHT_ARROW_CALLOUT",
            "RIGHT_BRACE",
            "RIGHT_BRACKET",
            "ROUND_1_RECTANGLE",
            "ROUND_2_DIAGONAL_RECTANGLE",
            "ROUND_2_SAME_RECTANGLE",
            "RIGHT_TRIANGLE",
            "SMILEY_FACE",
            "SNIP_1_RECTANGLE",
            "SNIP_2_DIAGONAL_RECTANGLE",
            "SNIP_2_SAME_RECTANGLE",
            "SNIP_ROUND_RECTANGLE",
            "STAR_10",
            "STAR_12",
            "STAR_16",
            "STAR_24",
            "STAR_32",
            "STAR_4",
            "STAR_5",
            "STAR_6",
            "STAR_7",
            "STAR_8",
            "STRIPED_RIGHT_ARROW",
            "SUN",
            "TRAPEZOID",
            "TRIANGLE",
            "UP_ARROW",
            "UP_ARROW_CALLOUT",
            "UP_DOWN_ARROW",
            "UTURN_ARROW",
            "VERTICAL_SCROLL",
            "WAVE",
            "WEDGE_ELLIPSE_CALLOUT",
            "WEDGE_RECTANGLE_CALLOUT",
            "WEDGE_ROUND_RECTANGLE_CALLOUT",
            "FLOW_CHART_ALTERNATE_PROCESS",
            "FLOW_CHART_COLLATE",
            "FLOW_CHART_CONNECTOR",
            "FLOW_CHART_DECISION",
            "FLOW_CHART_DELAY",
            "FLOW_CHART_DISPLAY",
            "FLOW_CHART_DOCUMENT",
            "FLOW_CHART_EXTRACT",
            "FLOW_CHART_INPUT_OUTPUT",
            "FLOW_CHART_INTERNAL_STORAGE",
            "FLOW_CHART_MAGNETIC_DISK",
            "FLOW_CHART_MAGNETIC_DRUM",
            "FLOW_CHART_MAGNETIC_TAPE",
            "FLOW_CHART_MANUAL_INPUT",
            "FLOW_CHART_MANUAL_OPERATION",
            "FLOW_CHART_MERGE",
            "FLOW_CHART_MULTIDOCUMENT",
            "FLOW_CHART_OFFLINE_STORAGE",
            "FLOW_CHART_OFFPAGE_CONNECTOR",
            "FLOW_CHART_ONLINE_STORAGE",
            "FLOW_CHART_OR",
            "FLOW_CHART_PREDEFINED_PROCESS",
            "FLOW_CHART_PREPARATION",
            "FLOW_CHART_PROCESS",
            "FLOW_CHART_PUNCHED_CARD",
            "FLOW_CHART_PUNCHED_TAPE",
            "FLOW_CHART_SORT",
            "FLOW_CHART_SUMMING_JUNCTION",
            "FLOW_CHART_TERMINATOR",
            "ARROW_EAST",
            "ARROW_NORTH_EAST",
            "ARROW_NORTH",
            "SPEECH",
            "STARBURST",
            "TEARDROP",
            "ELLIPSE_RIBBON",
            "ELLIPSE_RIBBON_2",
            "CLOUD_CALLOUT",
            "CUSTOM"
          ],
          "type": "string",
          "description": "The shape type."
        },
        "objectId": {
          "description": "A user-supplied object ID. If you specify an ID, it must be unique among all pages and page elements in the presentation. The ID must start with an alphanumeric character or an underscore (matches regex `[a-zA-Z0-9_]`); remaining characters may include those as well as a hyphen or colon (matches regex `[a-zA-Z0-9_-:]`). The length of the ID must not be less than 5 or greater than 50. If empty, a unique identifier will be generated.",
          "type": "string"
        }
      },
      "id": "CreateShapeRequest",
      "type": "object"
    },
    "CreateVideoResponse": {
      "type": "object",
      "properties": {
        "objectId": {
          "type": "string",
          "description": "The object ID of the created video."
        }
      },
      "description": "The result of creating a video.",
      "id": "CreateVideoResponse"
    },
    "AffineTransform": {
      "type": "object",
      "properties": {
        "shearX": {
          "type": "number",
          "format": "double",
          "description": "The X coordinate shearing element."
        },
        "translateX": {
          "type": "number",
          "format": "double",
          "description": "The X coordinate translation element."
        },
        "unit": {
          "description": "The units for translate elements.",
          "enum": [
            "UNIT_UNSPECIFIED",
            "EMU",
            "PT"
          ],
          "type": "string",
          "enumDescriptions": [
            "The units are unknown.",
            "An English Metric Unit (EMU) is defined as 1/360,000 of a centimeter and thus there are 914,400 EMUs per inch, and 12,700 EMUs per point.",
            "A point, 1/72 of an inch."
          ]
        },
        "scaleY": {
          "description": "The Y coordinate scaling element.",
          "type": "number",
          "format": "double"
        },
        "shearY": {
          "description": "The Y coordinate shearing element.",
          "type": "number",
          "format": "double"
        },
        "translateY": {
          "format": "double",
          "description": "The Y coordinate translation element.",
          "type": "number"
        },
        "scaleX": {
          "description": "The X coordinate scaling element.",
          "format": "double",
          "type": "number"
        }
      },
      "description": "AffineTransform uses a 3x3 matrix with an implied last row of [ 0 0 1 ] to transform source coordinates (x,y) into destination coordinates (x', y') according to: x' x = shear_y scale_y translate_y 1 [ 1 ] After transformation, x' = scale_x * x + shear_x * y + translate_x; y' = scale_y * y + shear_y * x + translate_y; This message is therefore composed of these six matrix elements.",
      "id": "AffineTransform"
    },
    "InsertTextRequest": {
      "id": "InsertTextRequest",
      "type": "object",
      "description": "Inserts text into a shape or a table cell.",
      "properties": {
        "cellLocation": {
          "description": "The optional table cell location if the text is to be inserted into a table cell. If present, the object_id must refer to a table.",
          "$ref": "TableCellLocation"
        },
        "insertionIndex": {
          "format": "int32",
          "type": "integer",
          "description": "The index where the text will be inserted, in Unicode code units, based on TextElement indexes. The index is zero-based and is computed from the start of the string. The index may be adjusted to prevent insertions inside Unicode grapheme clusters. In these cases, the text will be inserted immediately after the grapheme cluster."
        },
        "objectId": {
          "type": "string",
          "description": "The object ID of the shape or table where the text will be inserted."
        },
        "text": {
          "description": "The text to be inserted. Inserting a newline character will implicitly create a new ParagraphMarker at that index. The paragraph style of the new paragraph will be copied from the paragraph at the current insertion index, including lists and bullets. Text styles for inserted text will be determined automatically, generally preserving the styling of neighboring text. In most cases, the text will be added to the TextRun that exists at the insertion index. Some control characters (U+0000-U+0008, U+000C-U+001F) and characters from the Unicode Basic Multilingual Plane Private Use Area (U+E000-U+F8FF) will be stripped out of the inserted text.",
          "type": "string"
        }
      }
    },
    "NotesProperties": {
      "type": "object",
      "id": "NotesProperties",
      "properties": {
        "speakerNotesObjectId": {
          "description": "The object ID of the shape on this notes page that contains the speaker notes for the corresponding slide. The actual shape may not always exist on the notes page. Inserting text using this object ID will automatically create the shape. In this case, the actual shape may have different object ID. The `GetPresentation` or `GetPage` action will always return the latest object ID.",
          "type": "string"
        }
      },
      "description": "The properties of Page that are only relevant for pages with page_type NOTES."
    },
    "UpdateShapePropertiesRequest": {
      "type": "object",
      "description": "Update the properties of a Shape.",
      "properties": {
        "shapeProperties": {
          "description": "The shape properties to update.",
          "$ref": "ShapeProperties"
        },
        "objectId": {
          "description": "The object ID of the shape the updates are applied to.",
          "type": "string"
        },
        "fields": {
          "description": "The fields that should be updated. At least one field must be specified. The root `shapeProperties` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the shape background solid fill color, set `fields` to `\"shapeBackgroundFill.solidFill.color\"`. To reset a property to its default value, include its field name in the field mask but leave the field itself unset.",
          "type": "string",
          "format": "google-fieldmask"
        }
      },
      "id": "UpdateShapePropertiesRequest"
    },
    "TableCell": {
      "properties": {
        "columnSpan": {
          "description": "Column span of the cell.",
          "format": "int32",
          "type": "integer"
        },
        "location": {
          "$ref": "TableCellLocation",
          "description": "The location of the cell within the table."
        },
        "rowSpan": {
          "description": "Row span of the cell.",
          "format": "int32",
          "type": "integer"
        },
        "text": {
          "description": "The text content of the cell.",
          "$ref": "TextContent"
        },
        "tableCellProperties": {
          "description": "The properties of the table cell.",
          "$ref": "TableCellProperties"
        }
      },
      "type": "object",
      "id": "TableCell",
      "description": "Properties and contents of each table cell."
    },
    "SheetsChart": {
      "id": "SheetsChart",
      "description": "A PageElement kind representing a linked chart embedded from Google Sheets.",
      "type": "object",
      "properties": {
        "spreadsheetId": {
          "description": "The ID of the Google Sheets spreadsheet that contains the source chart.",
          "type": "string"
        },
        "chartId": {
          "format": "int32",
          "description": "The ID of the specific chart in the Google Sheets spreadsheet that is embedded.",
          "type": "integer"
        },
        "sheetsChartProperties": {
          "$ref": "SheetsChartProperties",
          "description": "The properties of the Sheets chart."
        },
        "contentUrl": {
          "type": "string",
          "description": "The URL of an image of the embedded chart, with a default lifetime of 30 minutes. This URL is tagged with the account of the requester. Anyone with the URL effectively accesses the image as the original requester. Access to the image may be lost if the presentation's sharing settings change."
        }
      }
    },
    "UngroupObjectsRequest": {
      "type": "object",
      "id": "UngroupObjectsRequest",
      "description": "Ungroups objects, such as groups.",
      "properties": {
        "objectIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The object IDs of the objects to ungroup. Only groups that are not inside other groups can be ungrouped. All the groups should be on the same page. The group itself is deleted. The visual sizes and positions of all the children are preserved."
        }
      }
    },
    "UpdateLineCategoryRequest": {
      "description": "Updates the category of a line.",
      "id": "UpdateLineCategoryRequest",
      "properties": {
        "objectId": {
          "type": "string",
          "description": "The object ID of the line the update is applied to. Only a line with a category indicating it is a \"connector\" can be updated. The line may be rerouted after updating its category."
        },
        "lineCategory": {
          "enumDescriptions": [
            "Unspecified line category.",
            "Straight connectors, including straight connector 1.",
            "Bent connectors, including bent connector 2 to 5.",
            "Curved connectors, including curved connector 2 to 5."
          ],
          "enum": [
            "LINE_CATEGORY_UNSPECIFIED",
            "STRAIGHT",
            "BENT",
            "CURVED"
          ],
          "description": "The line category to update to. The exact line type is determined based on the category to update to and how it's routed to connect to other page elements.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "TableCellProperties": {
      "type": "object",
      "id": "TableCellProperties",
      "properties": {
        "contentAlignment": {
          "enum": [
            "CONTENT_ALIGNMENT_UNSPECIFIED",
            "CONTENT_ALIGNMENT_UNSUPPORTED",
            "TOP",
            "MIDDLE",
            "BOTTOM"
          ],
          "enumDescriptions": [
            "An unspecified content alignment. The content alignment is inherited from the parent if it exists.",
            "An unsupported content alignment.",
            "An alignment that aligns the content to the top of the content holder. Corresponds to ECMA-376 ST_TextAnchoringType 't'.",
            "An alignment that aligns the content to the middle of the content holder. Corresponds to ECMA-376 ST_TextAnchoringType 'ctr'.",
            "An alignment that aligns the content to the bottom of the content holder. Corresponds to ECMA-376 ST_TextAnchoringType 'b'."
          ],
          "type": "string",
          "description": "The alignment of the content in the table cell. The default alignment matches the alignment for newly created table cells in the Slides editor."
        },
        "tableCellBackgroundFill": {
          "$ref": "TableCellBackgroundFill",
          "description": "The background fill of the table cell. The default fill matches the fill for newly created table cells in the Slides editor."
        }
      },
      "description": "The properties of the TableCell."
    },
    "Placeholder": {
      "description": "The placeholder information that uniquely identifies a placeholder shape.",
      "type": "object",
      "id": "Placeholder",
      "properties": {
        "type": {
          "enum": [
            "NONE",
            "BODY",
            "CHART",
            "CLIP_ART",
            "CENTERED_TITLE",
            "DIAGRAM",
            "DATE_AND_TIME",
            "FOOTER",
            "HEADER",
            "MEDIA",
            "OBJECT",
            "PICTURE",
            "SLIDE_NUMBER",
            "SUBTITLE",
            "TABLE",
            "TITLE",
            "SLIDE_IMAGE"
          ],
          "description": "The type of the placeholder.",
          "enumDescriptions": [
            "Default value, signifies it is not a placeholder.",
            "Body text.",
            "Chart or graph.",
            "Clip art image.",
            "Title centered.",
            "Diagram.",
            "Date and time.",
            "Footer text.",
            "Header text.",
            "Multimedia.",
            "Any content type.",
            "Picture.",
            "Number of a slide.",
            "Subtitle.",
            "Table.",
            "Slide title.",
            "Slide image."
          ],
          "type": "string"
        },
        "index": {
          "format": "int32",
          "type": "integer",
          "description": "The index of the placeholder. If the same placeholder types are present in the same page, they would have different index values."
        },
        "parentObjectId": {
          "type": "string",
          "description": "The object ID of this shape's parent placeholder. If unset, the parent placeholder shape does not exist, so the shape does not inherit properties from any other shape."
        }
      }
    },
    "OptionalColor": {
      "properties": {
        "opaqueColor": {
          "description": "If set, this will be used as an opaque color. If unset, this represents a transparent color.",
          "$ref": "OpaqueColor"
        }
      },
      "description": "A color that can either be fully opaque or fully transparent.",
      "type": "object",
      "id": "OptionalColor"
    },
    "Group": {
      "id": "Group",
      "type": "object",
      "properties": {
        "children": {
          "type": "array",
          "description": "The collection of elements in the group. The minimum size of a group is 2.",
          "items": {
            "$ref": "PageElement"
          }
        }
      },
      "description": "A PageElement kind representing a joined collection of PageElements."
    },
    "InsertTableColumnsRequest": {
      "id": "InsertTableColumnsRequest",
      "properties": {
        "cellLocation": {
          "description": "The reference table cell location from which columns will be inserted. A new column will be inserted to the left (or right) of the column where the reference cell is. If the reference cell is a merged cell, a new column will be inserted to the left (or right) of the merged cell.",
          "$ref": "TableCellLocation"
        },
        "number": {
          "description": "The number of columns to be inserted. Maximum 20 per request.",
          "type": "integer",
          "format": "int32"
        },
        "tableObjectId": {
          "type": "string",
          "description": "The table to insert columns into."
        },
        "insertRight": {
          "type": "boolean",
          "description": "Whether to insert new columns to the right of the reference cell location. - `True`: insert to the right. - `False`: insert to the left."
        }
      },
      "description": "Inserts columns into a table. Other columns in the table will be resized to fit the new column.",
      "type": "object"
    },
    "ReplaceAllShapesWithImageResponse": {
      "id": "ReplaceAllShapesWithImageResponse",
      "properties": {
        "occurrencesChanged": {
          "type": "integer",
          "description": "The number of shapes replaced with images.",
          "format": "int32"
        }
      },
      "description": "The result of replacing shapes with an image.",
      "type": "object"
    },
    "UpdateTableBorderPropertiesRequest": {
      "id": "UpdateTableBorderPropertiesRequest",
      "type": "object",
      "description": "Updates the properties of the table borders in a Table.",
      "properties": {
        "fields": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "The fields that should be updated. At least one field must be specified. The root `tableBorderProperties` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the table border solid fill color, set `fields` to `\"tableBorderFill.solidFill.color\"`. To reset a property to its default value, include its field name in the field mask but leave the field itself unset."
        },
        "tableBorderProperties": {
          "$ref": "TableBorderProperties",
          "description": "The table border properties to update."
        },
        "borderPosition": {
          "enum": [
            "ALL",
            "BOTTOM",
            "INNER",
            "INNER_HORIZONTAL",
            "INNER_VERTICAL",
            "LEFT",
            "OUTER",
            "RIGHT",
            "TOP"
          ],
          "description": "The border position in the table range the updates should apply to. If a border position is not specified, the updates will apply to all borders in the table range.",
          "type": "string",
          "enumDescriptions": [
            "All borders in the range.",
            "Borders at the bottom of the range.",
            "Borders on the inside of the range.",
            "Horizontal borders on the inside of the range.",
            "Vertical borders on the inside of the range.",
            "Borders at the left of the range.",
            "Borders along the outside of the range.",
            "Borders at the right of the range.",
            "Borders at the top of the range."
          ]
        },
        "objectId": {
          "type": "string",
          "description": "The object ID of the table."
        },
        "tableRange": {
          "description": "The table range representing the subset of the table to which the updates are applied. If a table range is not specified, the updates will apply to the entire table.",
          "$ref": "TableRange"
        }
      }
    },
    "TableCellBackgroundFill": {
      "id": "TableCellBackgroundFill",
      "type": "object",
      "description": "The table cell background fill.",
      "properties": {
        "solidFill": {
          "description": "Solid color fill.",
          "$ref": "SolidFill"
        },
        "propertyState": {
          "enum": [
            "RENDERED",
            "NOT_RENDERED",
            "INHERIT"
          ],
          "type": "string",
          "enumDescriptions": [
            "If a property's state is RENDERED, then the element has the corresponding property when rendered on a page. If the element is a placeholder shape as determined by the placeholder field, and it inherits from a placeholder shape, the corresponding field may be unset, meaning that the property value is inherited from a parent placeholder. If the element does not inherit, then the field will contain the rendered value. This is the default value.",
            "If a property's state is NOT_RENDERED, then the element does not have the corresponding property when rendered on a page. However, the field may still be set so it can be inherited by child shapes. To remove a property from a rendered element, set its property_state to NOT_RENDERED.",
            "If a property's state is INHERIT, then the property state uses the value of corresponding `property_state` field on the parent shape. Elements that do not inherit will never have an INHERIT property state."
          ],
          "description": "The background fill property state. Updating the fill on a table cell will implicitly update this field to `RENDERED`, unless another value is specified in the same request. To have no fill on a table cell, set this field to `NOT_RENDERED`. In this case, any other fill fields set in the same request will be ignored."
        }
      }
    },
    "UpdateImagePropertiesRequest": {
      "description": "Update the properties of an Image.",
      "properties": {
        "fields": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "The fields that should be updated. At least one field must be specified. The root `imageProperties` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the image outline color, set `fields` to `\"outline.outlineFill.solidFill.color\"`. To reset a property to its default value, include its field name in the field mask but leave the field itself unset."
        },
        "imageProperties": {
          "$ref": "ImageProperties",
          "description": "The image properties to update."
        },
        "objectId": {
          "type": "string",
          "description": "The object ID of the image the updates are applied to."
        }
      },
      "id": "UpdateImagePropertiesRequest",
      "type": "object"
    },
    "Line": {
      "properties": {
        "lineType": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "STRAIGHT_CONNECTOR_1",
            "BENT_CONNECTOR_2",
            "BENT_CONNECTOR_3",
            "BENT_CONNECTOR_4",
            "BENT_CONNECTOR_5",
            "CURVED_CONNECTOR_2",
            "CURVED_CONNECTOR_3",
            "CURVED_CONNECTOR_4",
            "CURVED_CONNECTOR_5",
            "STRAIGHT_LINE"
          ],
          "type": "string",
          "enumDescriptions": [
            "An unspecified line type.",
            "Straight connector 1 form. Corresponds to ECMA-376 ST_ShapeType 'straightConnector1'.",
            "Bent connector 2 form. Corresponds to ECMA-376 ST_ShapeType 'bentConnector2'.",
            "Bent connector 3 form. Corresponds to ECMA-376 ST_ShapeType 'bentConnector3'.",
            "Bent connector 4 form. Corresponds to ECMA-376 ST_ShapeType 'bentConnector4'.",
            "Bent connector 5 form. Corresponds to ECMA-376 ST_ShapeType 'bentConnector5'.",
            "Curved connector 2 form. Corresponds to ECMA-376 ST_ShapeType 'curvedConnector2'.",
            "Curved connector 3 form. Corresponds to ECMA-376 ST_ShapeType 'curvedConnector3'.",
            "Curved connector 4 form. Corresponds to ECMA-376 ST_ShapeType 'curvedConnector4'.",
            "Curved connector 5 form. Corresponds to ECMA-376 ST_ShapeType 'curvedConnector5'.",
            "Straight line. Corresponds to ECMA-376 ST_ShapeType 'line'. This line type is not a connector."
          ],
          "description": "The type of the line."
        },
        "lineCategory": {
          "type": "string",
          "description": "The category of the line. It matches the `category` specified in CreateLineRequest, and can be updated with UpdateLineCategoryRequest.",
          "enum": [
            "LINE_CATEGORY_UNSPECIFIED",
            "STRAIGHT",
            "BENT",
            "CURVED"
          ],
          "enumDescriptions": [
            "Unspecified line category.",
            "Straight connectors, including straight connector 1.",
            "Bent connectors, including bent connector 2 to 5.",
            "Curved connectors, including curved connector 2 to 5."
          ]
        },
        "lineProperties": {
          "$ref": "LineProperties",
          "description": "The properties of the line."
        }
      },
      "id": "Line",
      "type": "object",
      "description": "A PageElement kind representing a non-connector line, straight connector, curved connector, or bent connector."
    },
    "CreateVideoRequest": {
      "type": "object",
      "description": "Creates a video. NOTE: Creating a video from Google Drive requires that the requesting app have at least one of the drive, drive.readonly, or drive.file OAuth scopes.",
      "properties": {
        "source": {
          "description": "The video source.",
          "enum": [
            "SOURCE_UNSPECIFIED",
            "YOUTUBE",
            "DRIVE"
          ],
          "enumDescriptions": [
            "The video source is unspecified.",
            "The video source is YouTube.",
            "The video source is Google Drive."
          ],
          "type": "string"
        },
        "id": {
          "description": "The video source's unique identifier for this video. e.g. For YouTube video https://www.youtube.com/watch?v=7U3axjORYZ0, the ID is 7U3axjORYZ0. For a Google Drive video https://drive.google.com/file/d/1xCgQLFTJi5_Xl8DgW_lcUYq5e-q6Hi5Q the ID is 1xCgQLFTJi5_Xl8DgW_lcUYq5e-q6Hi5Q. To access a Google Drive video file, you might need to add a resource key to the HTTP header for a subset of old files. For more information, see [Access link-shared files using resource keys](https://developers.google.com/drive/api/v3/resource-keys).",
          "type": "string"
        },
        "objectId": {
          "description": "A user-supplied object ID. If you specify an ID, it must be unique among all pages and page elements in the presentation. The ID must start with an alphanumeric character or an underscore (matches regex `[a-zA-Z0-9_]`); remaining characters may include those as well as a hyphen or colon (matches regex `[a-zA-Z0-9_-:]`). The length of the ID must not be less than 5 or greater than 50. If you don't specify an ID, a unique one is generated.",
          "type": "string"
        },
        "elementProperties": {
          "$ref": "PageElementProperties",
          "description": "The element properties for the video. The PageElementProperties.size property is optional. If you don't specify a size, a default size is chosen by the server. The PageElementProperties.transform property is optional. The transform must not have shear components. If you don't specify a transform, the video will be placed at the top left corner of the page."
        }
      },
      "id": "CreateVideoRequest"
    },
    "UpdateSlidePropertiesRequest": {
      "properties": {
        "objectId": {
          "description": "The object ID of the slide the update is applied to.",
          "type": "string"
        },
        "fields": {
          "type": "string",
          "description": "The fields that should be updated. At least one field must be specified. The root 'slideProperties' is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update whether a slide is skipped, set `fields` to `\"isSkipped\"`. To reset a property to its default value, include its field name in the field mask but leave the field itself unset.",
          "format": "google-fieldmask"
        },
        "slideProperties": {
          "description": "The slide properties to update.",
          "$ref": "SlideProperties"
        }
      },
      "type": "object",
      "id": "UpdateSlidePropertiesRequest",
      "description": "Updates the properties of a Slide."
    },
    "AutoText": {
      "type": "object",
      "id": "AutoText",
      "description": "A TextElement kind that represents auto text.",
      "properties": {
        "content": {
          "description": "The rendered content of this auto text, if available.",
          "type": "string"
        },
        "style": {
          "description": "The styling applied to this auto text.",
          "$ref": "TextStyle"
        },
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "SLIDE_NUMBER"
          ],
          "description": "The type of this auto text.",
          "enumDescriptions": [
            "An unspecified autotext type.",
            "Type for autotext that represents the current slide number."
          ]
        }
      }
    },
    "CreateShapeResponse": {
      "description": "The result of creating a shape.",
      "type": "object",
      "id": "CreateShapeResponse",
      "properties": {
        "objectId": {
          "type": "string",
          "description": "The object ID of the created shape."
        }
      }
    },
    "CreateSheetsChartResponse": {
      "description": "The result of creating an embedded Google Sheets chart.",
      "type": "object",
      "id": "CreateSheetsChartResponse",
      "properties": {
        "objectId": {
          "description": "The object ID of the created chart.",
          "type": "string"
        }
      }
    },
    "TableRow": {
      "properties": {
        "tableCells": {
          "items": {
            "$ref": "TableCell"
          },
          "description": "Properties and contents of each cell. Cells that span multiple columns are represented only once with a column_span greater than 1. As a result, the length of this collection does not always match the number of columns of the entire table.",
          "type": "array"
        },
        "rowHeight": {
          "description": "Height of a row.",
          "$ref": "Dimension"
        },
        "tableRowProperties": {
          "$ref": "TableRowProperties",
          "description": "Properties of the row."
        }
      },
      "type": "object",
      "id": "TableRow",
      "description": "Properties and contents of each row in a table."
    },
    "TableRowProperties": {
      "id": "TableRowProperties",
      "type": "object",
      "description": "Properties of each row in a table.",
      "properties": {
        "minRowHeight": {
          "$ref": "Dimension",
          "description": "Minimum height of the row. The row will be rendered in the Slides editor at a height equal to or greater than this value in order to show all the text in the row's cell(s)."
        }
      }
    },
    "TableRange": {
      "type": "object",
      "id": "TableRange",
      "properties": {
        "location": {
          "description": "The starting location of the table range.",
          "$ref": "TableCellLocation"
        },
        "columnSpan": {
          "type": "integer",
          "format": "int32",
          "description": "The column span of the table range."
        },
        "rowSpan": {
          "description": "The row span of the table range.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "A table range represents a reference to a subset of a table. It's important to note that the cells specified by a table range do not necessarily form a rectangle. For example, let's say we have a 3 x 3 table where all the cells of the last row are merged together. The table looks like this: [ ] A table range with location = (0, 0), row span = 3 and column span = 2 specifies the following cells: x x [ x x x ]"
    },
    "TableBorderProperties": {
      "id": "TableBorderProperties",
      "description": "The border styling properties of the TableBorderCell.",
      "type": "object",
      "properties": {
        "dashStyle": {
          "description": "The dash style of the border.",
          "enum": [
            "DASH_STYLE_UNSPECIFIED",
            "SOLID",
            "DOT",
            "DASH",
            "DASH_DOT",
            "LONG_DASH",
            "LONG_DASH_DOT"
          ],
          "enumDescriptions": [
            "Unspecified dash style.",
            "Solid line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'solid'. This is the default dash style.",
            "Dotted line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'dot'.",
            "Dashed line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'dash'.",
            "Alternating dashes and dots. Corresponds to ECMA-376 ST_PresetLineDashVal value 'dashDot'.",
            "Line with large dashes. Corresponds to ECMA-376 ST_PresetLineDashVal value 'lgDash'.",
            "Alternating large dashes and dots. Corresponds to ECMA-376 ST_PresetLineDashVal value 'lgDashDot'."
          ],
          "type": "string"
        },
        "tableBorderFill": {
          "description": "The fill of the table border.",
          "$ref": "TableBorderFill"
        },
        "weight": {
          "$ref": "Dimension",
          "description": "The thickness of the border."
        }
      }
    },
    "UpdateVideoPropertiesRequest": {
      "description": "Update the properties of a Video.",
      "type": "object",
      "id": "UpdateVideoPropertiesRequest",
      "properties": {
        "objectId": {
          "description": "The object ID of the video the updates are applied to.",
          "type": "string"
        },
        "videoProperties": {
          "$ref": "VideoProperties",
          "description": "The video properties to update."
        },
        "fields": {
          "description": "The fields that should be updated. At least one field must be specified. The root `videoProperties` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the video outline color, set `fields` to `\"outline.outlineFill.solidFill.color\"`. To reset a property to its default value, include its field name in the field mask but leave the field itself unset.",
          "format": "google-fieldmask",
          "type": "string"
        }
      }
    },
    "CreateSlideRequest": {
      "id": "CreateSlideRequest",
      "description": "Creates a slide.",
      "properties": {
        "placeholderIdMappings": {
          "items": {
            "$ref": "LayoutPlaceholderIdMapping"
          },
          "type": "array",
          "description": "An optional list of object ID mappings from the placeholder(s) on the layout to the placeholders that are created on the slide from the specified layout. Can only be used when `slide_layout_reference` is specified."
        },
        "objectId": {
          "description": "A user-supplied object ID. If you specify an ID, it must be unique among all pages and page elements in the presentation. The ID must start with an alphanumeric character or an underscore (matches regex `[a-zA-Z0-9_]`); remaining characters may include those as well as a hyphen or colon (matches regex `[a-zA-Z0-9_-:]`). The ID length must be between 5 and 50 characters, inclusive. If you don't specify an ID, a unique one is generated.",
          "type": "string"
        },
        "slideLayoutReference": {
          "$ref": "LayoutReference",
          "description": "Layout reference of the slide to be inserted, based on the *current master*, which is one of the following: - The master of the previous slide index. - The master of the first slide, if the insertion_index is zero. - The first master in the presentation, if there are no slides. If the LayoutReference is not found in the current master, a 400 bad request error is returned. If you don't specify a layout reference, the slide uses the predefined `BLANK` layout."
        },
        "insertionIndex": {
          "format": "int32",
          "type": "integer",
          "description": "The optional zero-based index indicating where to insert the slides. If you don't specify an index, the slide is created at the end."
        }
      },
      "type": "object"
    },
    "Page": {
      "properties": {
        "layoutProperties": {
          "description": "Layout specific properties. Only set if page_type = LAYOUT.",
          "$ref": "LayoutProperties"
        },
        "revisionId": {
          "description": "Output only. The revision ID of the presentation. Can be used in update requests to assert the presentation revision hasn't changed since the last read operation. Only populated if the user has edit access to the presentation. The revision ID is not a sequential number but an opaque string. The format of the revision ID might change over time. A returned revision ID is only guaranteed to be valid for 24 hours after it has been returned and cannot be shared across users. If the revision ID is unchanged between calls, then the presentation has not changed. Conversely, a changed ID (for the same presentation and user) usually means the presentation has been updated. However, a changed ID can also be due to internal factors such as ID format changes.",
          "type": "string"
        },
        "pageType": {
          "enumDescriptions": [
            "A slide page.",
            "A master slide page.",
            "A layout page.",
            "A notes page.",
            "A notes master page."
          ],
          "description": "The type of the page.",
          "enum": [
            "SLIDE",
            "MASTER",
            "LAYOUT",
            "NOTES",
            "NOTES_MASTER"
          ],
          "type": "string"
        },
        "notesProperties": {
          "$ref": "NotesProperties",
          "description": "Notes specific properties. Only set if page_type = NOTES."
        },
        "pageProperties": {
          "description": "The properties of the page.",
          "$ref": "PageProperties"
        },
        "slideProperties": {
          "$ref": "SlideProperties",
          "description": "Slide specific properties. Only set if page_type = SLIDE."
        },
        "pageElements": {
          "description": "The page elements rendered on the page.",
          "items": {
            "$ref": "PageElement"
          },
          "type": "array"
        },
        "masterProperties": {
          "description": "Master specific properties. Only set if page_type = MASTER.",
          "$ref": "MasterProperties"
        },
        "objectId": {
          "type": "string",
          "description": "The object ID for this page. Object IDs used by Page and PageElement share the same namespace."
        }
      },
      "type": "object",
      "id": "Page",
      "description": "A page in a presentation."
    },
    "CreateSheetsChartRequest": {
      "description": "Creates an embedded Google Sheets chart. NOTE: Chart creation requires at least one of the spreadsheets.readonly, spreadsheets, drive.readonly, drive.file, or drive OAuth scopes.",
      "type": "object",
      "properties": {
        "spreadsheetId": {
          "type": "string",
          "description": "The ID of the Google Sheets spreadsheet that contains the chart. You might need to add a resource key to the HTTP header for a subset of old files. For more information, see [Access link-shared files using resource keys](https://developers.google.com/drive/api/v3/resource-keys)."
        },
        "chartId": {
          "description": "The ID of the specific chart in the Google Sheets spreadsheet.",
          "type": "integer",
          "format": "int32"
        },
        "objectId": {
          "type": "string",
          "description": "A user-supplied object ID. If specified, the ID must be unique among all pages and page elements in the presentation. The ID should start with a word character [a-zA-Z0-9_] and then followed by any number of the following characters [a-zA-Z0-9_-:]. The length of the ID should not be less than 5 or greater than 50. If empty, a unique identifier will be generated."
        },
        "linkingMode": {
          "description": "The mode with which the chart is linked to the source spreadsheet. When not specified, the chart will be an image that is not linked.",
          "enum": [
            "NOT_LINKED_IMAGE",
            "LINKED"
          ],
          "enumDescriptions": [
            "The chart is not associated with the source spreadsheet and cannot be updated. A chart that is not linked will be inserted as an image.",
            "Linking the chart allows it to be updated, and other collaborators will see a link to the spreadsheet."
          ],
          "type": "string"
        },
        "elementProperties": {
          "$ref": "PageElementProperties",
          "description": "The element properties for the chart. When the aspect ratio of the provided size does not match the chart aspect ratio, the chart is scaled and centered with respect to the size in order to maintain aspect ratio. The provided transform is applied after this operation."
        }
      },
      "id": "CreateSheetsChartRequest"
    },
    "ParagraphStyle": {
      "type": "object",
      "id": "ParagraphStyle",
      "description": "Styles that apply to a whole paragraph. If this text is contained in a shape with a parent placeholder, then these paragraph styles may be inherited from the parent. Which paragraph styles are inherited depend on the nesting level of lists: * A paragraph not in a list will inherit its paragraph style from the paragraph at the 0 nesting level of the list inside the parent placeholder. * A paragraph in a list will inherit its paragraph style from the paragraph at its corresponding nesting level of the list inside the parent placeholder. Inherited paragraph styles are represented as unset fields in this message.",
      "properties": {
        "spaceBelow": {
          "$ref": "Dimension",
          "description": "The amount of extra space below the paragraph. If unset, the value is inherited from the parent."
        },
        "spacingMode": {
          "type": "string",
          "enumDescriptions": [
            "The spacing mode is inherited from the parent.",
            "Paragraph spacing is always rendered.",
            "Paragraph spacing is skipped between list elements."
          ],
          "description": "The spacing mode for the paragraph.",
          "enum": [
            "SPACING_MODE_UNSPECIFIED",
            "NEVER_COLLAPSE",
            "COLLAPSE_LISTS"
          ]
        },
        "alignment": {
          "description": "The text alignment for this paragraph.",
          "enum": [
            "ALIGNMENT_UNSPECIFIED",
            "START",
            "CENTER",
            "END",
            "JUSTIFIED"
          ],
          "enumDescriptions": [
            "The paragraph alignment is inherited from the parent.",
            "The paragraph is aligned to the start of the line. Left-aligned for LTR text, right-aligned otherwise.",
            "The paragraph is centered.",
            "The paragraph is aligned to the end of the line. Right-aligned for LTR text, left-aligned otherwise.",
            "The paragraph is justified."
          ],
          "type": "string"
        },
        "indentEnd": {
          "$ref": "Dimension",
          "description": "The amount indentation for the paragraph on the side that corresponds to the end of the text, based on the current text direction. If unset, the value is inherited from the parent."
        },
        "indentStart": {
          "description": "The amount indentation for the paragraph on the side that corresponds to the start of the text, based on the current text direction. If unset, the value is inherited from the parent.",
          "$ref": "Dimension"
        },
        "indentFirstLine": {
          "description": "The amount of indentation for the start of the first line of the paragraph. If unset, the value is inherited from the parent.",
          "$ref": "Dimension"
        },
        "lineSpacing": {
          "description": "The amount of space between lines, as a percentage of normal, where normal is represented as 100.0. If unset, the value is inherited from the parent.",
          "type": "number",
          "format": "float"
        },
        "direction": {
          "enumDescriptions": [
            "The text direction is inherited from the parent.",
            "The text goes from left to right.",
            "The text goes from right to left."
          ],
          "type": "string",
          "enum": [
            "TEXT_DIRECTION_UNSPECIFIED",
            "LEFT_TO_RIGHT",
            "RIGHT_TO_LEFT"
          ],
          "description": "The text direction of this paragraph. If unset, the value defaults to LEFT_TO_RIGHT since text direction is not inherited."
        },
        "spaceAbove": {
          "description": "The amount of extra space above the paragraph. If unset, the value is inherited from the parent.",
          "$ref": "Dimension"
        }
      }
    },
    "WriteControl": {
      "description": "Provides control over how write requests are executed.",
      "properties": {
        "requiredRevisionId": {
          "description": "The revision ID of the presentation required for the write request. If specified and the required revision ID doesn't match the presentation's current revision ID, the request is not processed and returns a 400 bad request error. When a required revision ID is returned in a response, it indicates the revision ID of the document after the request was applied.",
          "type": "string"
        }
      },
      "id": "WriteControl",
      "type": "object"
    },
    "ColorStop": {
      "properties": {
        "alpha": {
          "description": "The alpha value of this color in the gradient band. Defaults to 1.0, fully opaque.",
          "format": "float",
          "type": "number"
        },
        "color": {
          "description": "The color of the gradient stop.",
          "$ref": "OpaqueColor"
        },
        "position": {
          "type": "number",
          "description": "The relative position of the color stop in the gradient band measured in percentage. The value should be in the interval [0.0, 1.0].",
          "format": "float"
        }
      },
      "id": "ColorStop",
      "type": "object",
      "description": "A color and position in a gradient band."
    },
    "CreateImageRequest": {
      "description": "Creates an image.",
      "type": "object",
      "id": "CreateImageRequest",
      "properties": {
        "url": {
          "description": "The image URL. The image is fetched once at insertion time and a copy is stored for display inside the presentation. Images must be less than 50 MB in size, can't exceed 25 megapixels, and must be in one of PNG, JPEG, or GIF formats. The provided URL can be up to 2 KB in length. The URL is saved with the image, and exposed through the Image.source_url field.",
          "type": "string"
        },
        "elementProperties": {
          "description": "The element properties for the image. When the aspect ratio of the provided size does not match the image aspect ratio, the image is scaled and centered with respect to the size in order to maintain the aspect ratio. The provided transform is applied after this operation. The PageElementProperties.size property is optional. If you don't specify the size, the default size of the image is used. The PageElementProperties.transform property is optional. If you don't specify a transform, the image will be placed at the top-left corner of the page.",
          "$ref": "PageElementProperties"
        },
        "objectId": {
          "description": "A user-supplied object ID. If you specify an ID, it must be unique among all pages and page elements in the presentation. The ID must start with an alphanumeric character or an underscore (matches regex `[a-zA-Z0-9_]`); remaining characters may include those as well as a hyphen or colon (matches regex `[a-zA-Z0-9_-:]`). The length of the ID must not be less than 5 or greater than 50. If you don't specify an ID, a unique one is generated.",
          "type": "string"
        }
      }
    },
    "TableBorderRow": {
      "id": "TableBorderRow",
      "description": "Contents of each border row in a table.",
      "type": "object",
      "properties": {
        "tableBorderCells": {
          "description": "Properties of each border cell. When a border's adjacent table cells are merged, it is not included in the response.",
          "items": {
            "$ref": "TableBorderCell"
          },
          "type": "array"
        }
      }
    },
    "PageElement": {
      "id": "PageElement",
      "type": "object",
      "description": "A visual element rendered on a page.",
      "properties": {
        "sheetsChart": {
          "description": "A linked chart embedded from Google Sheets. Unlinked charts are represented as images.",
          "$ref": "SheetsChart"
        },
        "video": {
          "description": "A video page element.",
          "$ref": "Video"
        },
        "elementGroup": {
          "description": "A collection of page elements joined as a single unit.",
          "$ref": "Group"
        },
        "size": {
          "$ref": "Size",
          "description": "The size of the page element."
        },
        "title": {
          "type": "string",
          "description": "The title of the page element. Combined with description to display alt text. The field is not supported for Group elements."
        },
        "objectId": {
          "description": "The object ID for this page element. Object IDs used by google.apps.slides.v1.Page and google.apps.slides.v1.PageElement share the same namespace.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "The description of the page element. Combined with title to display alt text. The field is not supported for Group elements."
        },
        "line": {
          "$ref": "Line",
          "description": "A line page element."
        },
        "wordArt": {
          "$ref": "WordArt",
          "description": "A word art page element."
        },
        "transform": {
          "description": "The transform of the page element. The visual appearance of the page element is determined by its absolute transform. To compute the absolute transform, preconcatenate a page element's transform with the transforms of all of its parent groups. If the page element is not in a group, its absolute transform is the same as the value in this field. The initial transform for the newly created Group is always the identity transform.",
          "$ref": "AffineTransform"
        },
        "shape": {
          "description": "A generic shape.",
          "$ref": "Shape"
        },
        "table": {
          "description": "A table page element.",
          "$ref": "Table"
        },
        "image": {
          "description": "An image page element.",
          "$ref": "Image"
        }
      }
    },
    "DeleteTextRequest": {
      "properties": {
        "cellLocation": {
          "$ref": "TableCellLocation",
          "description": "The optional table cell location if the text is to be deleted from a table cell. If present, the object_id must refer to a table."
        },
        "textRange": {
          "description": "The range of text to delete, based on TextElement indexes. There is always an implicit newline character at the end of a shape's or table cell's text that cannot be deleted. `Range.Type.ALL` will use the correct bounds, but care must be taken when specifying explicit bounds for range types `FROM_START_INDEX` and `FIXED_RANGE`. For example, if the text is \"ABC\", followed by an implicit newline, then the maximum value is 2 for `text_range.start_index` and 3 for `text_range.end_index`. Deleting text that crosses a paragraph boundary may result in changes to paragraph styles and lists as the two paragraphs are merged. Ranges that include only one code unit of a surrogate pair are expanded to include both code units.",
          "$ref": "Range"
        },
        "objectId": {
          "description": "The object ID of the shape or table from which the text will be deleted.",
          "type": "string"
        }
      },
      "description": "Deletes text from a shape or a table cell.",
      "type": "object",
      "id": "DeleteTextRequest"
    },
    "Recolor": {
      "properties": {
        "name": {
          "enumDescriptions": [
            "No recolor effect. The default value.",
            "A recolor effect that lightens the image using the page's first available color from its color scheme.",
            "A recolor effect that lightens the image using the page's second available color from its color scheme.",
            "A recolor effect that lightens the image using the page's third available color from its color scheme.",
            "A recolor effect that lightens the image using the page's forth available color from its color scheme.",
            "A recolor effect that lightens the image using the page's fifth available color from its color scheme.",
            "A recolor effect that lightens the image using the page's sixth available color from its color scheme.",
            "A recolor effect that lightens the image using the page's seventh available color from its color scheme.",
            "A recolor effect that lightens the image using the page's eighth available color from its color scheme.",
            "A recolor effect that lightens the image using the page's ninth available color from its color scheme.",
            "A recolor effect that lightens the image using the page's tenth available color from its color scheme.",
            "A recolor effect that darkens the image using the page's first available color from its color scheme.",
            "A recolor effect that darkens the image using the page's second available color from its color scheme.",
            "A recolor effect that darkens the image using the page's third available color from its color scheme.",
            "A recolor effect that darkens the image using the page's fourth available color from its color scheme.",
            "A recolor effect that darkens the image using the page's fifth available color from its color scheme.",
            "A recolor effect that darkens the image using the page's sixth available color from its color scheme.",
            "A recolor effect that darkens the image using the page's seventh available color from its color scheme.",
            "A recolor effect that darkens the image using the page's eighth available color from its color scheme.",
            "A recolor effect that darkens the image using the page's ninth available color from its color scheme.",
            "A recolor effect that darkens the image using the page's tenth available color from its color scheme.",
            "A recolor effect that recolors the image to grayscale.",
            "A recolor effect that recolors the image to negative grayscale.",
            "A recolor effect that recolors the image using the sepia color.",
            "Custom recolor effect. Refer to `recolor_stops` for the concrete gradient."
          ],
          "enum": [
            "NONE",
            "LIGHT1",
            "LIGHT2",
            "LIGHT3",
            "LIGHT4",
            "LIGHT5",
            "LIGHT6",
            "LIGHT7",
            "LIGHT8",
            "LIGHT9",
            "LIGHT10",
            "DARK1",
            "DARK2",
            "DARK3",
            "DARK4",
            "DARK5",
            "DARK6",
            "DARK7",
            "DARK8",
            "DARK9",
            "DARK10",
            "GRAYSCALE",
            "NEGATIVE",
            "SEPIA",
            "CUSTOM"
          ],
          "type": "string",
          "description": "The name of the recolor effect. The name is determined from the `recolor_stops` by matching the gradient against the colors in the page's current color scheme. This property is read-only."
        },
        "recolorStops": {
          "description": "The recolor effect is represented by a gradient, which is a list of color stops. The colors in the gradient will replace the corresponding colors at the same position in the color palette and apply to the image. This property is read-only.",
          "type": "array",
          "items": {
            "$ref": "ColorStop"
          }
        }
      },
      "id": "Recolor",
      "type": "object",
      "description": "A recolor effect applied on an image."
    },
    "OpaqueColor": {
      "description": "A themeable solid color value.",
      "id": "OpaqueColor",
      "type": "object",
      "properties": {
        "rgbColor": {
          "description": "An opaque RGB color.",
          "$ref": "RgbColor"
        },
        "themeColor": {
          "enum": [
            "THEME_COLOR_TYPE_UNSPECIFIED",
            "DARK1",
            "LIGHT1",
            "DARK2",
            "LIGHT2",
            "ACCENT1",
            "ACCENT2",
            "ACCENT3",
            "ACCENT4",
            "ACCENT5",
            "ACCENT6",
            "HYPERLINK",
            "FOLLOWED_HYPERLINK",
            "TEXT1",
            "BACKGROUND1",
            "TEXT2",
            "BACKGROUND2"
          ],
          "type": "string",
          "description": "An opaque theme color.",
          "enumDescriptions": [
            "Unspecified theme color. This value should not be used.",
            "Represents the first dark color.",
            "Represents the first light color.",
            "Represents the second dark color.",
            "Represents the second light color.",
            "Represents the first accent color.",
            "Represents the second accent color.",
            "Represents the third accent color.",
            "Represents the fourth accent color.",
            "Represents the fifth accent color.",
            "Represents the sixth accent color.",
            "Represents the color to use for hyperlinks.",
            "Represents the color to use for visited hyperlinks.",
            "Represents the first text color.",
            "Represents the first background color.",
            "Represents the second text color.",
            "Represents the second background color."
          ]
        }
      }
    },
    "ReplaceAllTextResponse": {
      "properties": {
        "occurrencesChanged": {
          "description": "The number of occurrences changed by replacing all text.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "The result of replacing text.",
      "type": "object",
      "id": "ReplaceAllTextResponse"
    },
    "SheetsChartProperties": {
      "type": "object",
      "properties": {
        "chartImageProperties": {
          "description": "The properties of the embedded chart image.",
          "$ref": "ImageProperties"
        }
      },
      "description": "The properties of the SheetsChart.",
      "id": "SheetsChartProperties"
    },
    "WordArt": {
      "description": "A PageElement kind representing word art.",
      "type": "object",
      "properties": {
        "renderedText": {
          "description": "The text rendered as word art.",
          "type": "string"
        }
      },
      "id": "WordArt"
    },
    "Dimension": {
      "description": "A magnitude in a single direction in the specified units.",
      "type": "object",
      "id": "Dimension",
      "properties": {
        "magnitude": {
          "format": "double",
          "description": "The magnitude.",
          "type": "number"
        },
        "unit": {
          "enum": [
            "UNIT_UNSPECIFIED",
            "EMU",
            "PT"
          ],
          "enumDescriptions": [
            "The units are unknown.",
            "An English Metric Unit (EMU) is defined as 1/360,000 of a centimeter and thus there are 914,400 EMUs per inch, and 12,700 EMUs per point.",
            "A point, 1/72 of an inch."
          ],
          "type": "string",
          "description": "The units for magnitude."
        }
      }
    },
    "UpdateLinePropertiesRequest": {
      "description": "Updates the properties of a Line.",
      "properties": {
        "objectId": {
          "description": "The object ID of the line the update is applied to.",
          "type": "string"
        },
        "fields": {
          "format": "google-fieldmask",
          "description": "The fields that should be updated. At least one field must be specified. The root `lineProperties` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the line solid fill color, set `fields` to `\"lineFill.solidFill.color\"`. To reset a property to its default value, include its field name in the field mask but leave the field itself unset.",
          "type": "string"
        },
        "lineProperties": {
          "$ref": "LineProperties",
          "description": "The line properties to update."
        }
      },
      "type": "object",
      "id": "UpdateLinePropertiesRequest"
    },
    "InsertTableRowsRequest": {
      "properties": {
        "cellLocation": {
          "$ref": "TableCellLocation",
          "description": "The reference table cell location from which rows will be inserted. A new row will be inserted above (or below) the row where the reference cell is. If the reference cell is a merged cell, a new row will be inserted above (or below) the merged cell."
        },
        "insertBelow": {
          "type": "boolean",
          "description": "Whether to insert new rows below the reference cell location. - `True`: insert below the cell. - `False`: insert above the cell."
        },
        "tableObjectId": {
          "description": "The table to insert rows into.",
          "type": "string"
        },
        "number": {
          "format": "int32",
          "description": "The number of rows to be inserted. Maximum 20 per request.",
          "type": "integer"
        }
      },
      "description": "Inserts rows into a table.",
      "type": "object",
      "id": "InsertTableRowsRequest"
    },
    "CreateTableResponse": {
      "description": "The result of creating a table.",
      "properties": {
        "objectId": {
          "type": "string",
          "description": "The object ID of the created table."
        }
      },
      "id": "CreateTableResponse",
      "type": "object"
    },
    "ParagraphMarker": {
      "type": "object",
      "description": "A TextElement kind that represents the beginning of a new paragraph.",
      "id": "ParagraphMarker",
      "properties": {
        "bullet": {
          "description": "The bullet for this paragraph. If not present, the paragraph does not belong to a list.",
          "$ref": "Bullet"
        },
        "style": {
          "$ref": "ParagraphStyle",
          "description": "The paragraph's style"
        }
      }
    },
    "BatchUpdatePresentationRequest": {
      "type": "object",
      "properties": {
        "writeControl": {
          "$ref": "WriteControl",
          "description": "Provides control over how write requests are executed."
        },
        "requests": {
          "items": {
            "$ref": "Request"
          },
          "description": "A list of updates to apply to the presentation.",
          "type": "array"
        }
      },
      "id": "BatchUpdatePresentationRequest",
      "description": "Request message for PresentationsService.BatchUpdatePresentation."
    },
    "SolidFill": {
      "properties": {
        "color": {
          "description": "The color value of the solid fill.",
          "$ref": "OpaqueColor"
        },
        "alpha": {
          "type": "number",
          "description": "The fraction of this `color` that should be applied to the pixel. That is, the final pixel color is defined by the equation: pixel color = alpha * (color) + (1.0 - alpha) * (background color) This means that a value of 1.0 corresponds to a solid color, whereas a value of 0.0 corresponds to a completely transparent color.",
          "format": "float"
        }
      },
      "id": "SolidFill",
      "description": "A solid color fill. The page or page element is filled entirely with the specified color value. If any field is unset, its value may be inherited from a parent placeholder if it exists.",
      "type": "object"
    },
    "RgbColor": {
      "description": "An RGB color.",
      "type": "object",
      "properties": {
        "green": {
          "description": "The green component of the color, from 0.0 to 1.0.",
          "type": "number",
          "format": "float"
        },
        "red": {
          "description": "The red component of the color, from 0.0 to 1.0.",
          "type": "number",
          "format": "float"
        },
        "blue": {
          "description": "The blue component of the color, from 0.0 to 1.0.",
          "format": "float",
          "type": "number"
        }
      },
      "id": "RgbColor"
    },
    "UpdateTableColumnPropertiesRequest": {
      "type": "object",
      "description": "Updates the properties of a Table column.",
      "id": "UpdateTableColumnPropertiesRequest",
      "properties": {
        "columnIndices": {
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "description": "The list of zero-based indices specifying which columns to update. If no indices are provided, all columns in the table will be updated."
        },
        "objectId": {
          "description": "The object ID of the table.",
          "type": "string"
        },
        "fields": {
          "description": "The fields that should be updated. At least one field must be specified. The root `tableColumnProperties` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the column width, set `fields` to `\"column_width\"`. If '\"column_width\"' is included in the field mask but the property is left unset, the column width will default to 406,400 EMU (32 points).",
          "type": "string",
          "format": "google-fieldmask"
        },
        "tableColumnProperties": {
          "$ref": "TableColumnProperties",
          "description": "The table column properties to update. If the value of `table_column_properties#column_width` in the request is less than 406,400 EMU (32 points), a 400 bad request error is returned."
        }
      }
    },
    "Autofit": {
      "properties": {
        "autofitType": {
          "enumDescriptions": [
            "The autofit type is unspecified.",
            "Do not autofit.",
            "Shrink text on overflow to fit the shape.",
            "Resize the shape to fit the text."
          ],
          "type": "string",
          "description": "The autofit type of the shape. If the autofit type is AUTOFIT_TYPE_UNSPECIFIED, the autofit type is inherited from a parent placeholder if it exists. The field is automatically set to NONE if a request is made that might affect text fitting within its bounding text box. In this case the font_scale is applied to the font_size and the line_spacing_reduction is applied to the line_spacing. Both properties are also reset to default values.",
          "enum": [
            "AUTOFIT_TYPE_UNSPECIFIED",
            "NONE",
            "TEXT_AUTOFIT",
            "SHAPE_AUTOFIT"
          ]
        },
        "fontScale": {
          "type": "number",
          "format": "float",
          "description": "The font scale applied to the shape. For shapes with autofit_type NONE or SHAPE_AUTOFIT, this value is the default value of 1. For TEXT_AUTOFIT, this value multiplied by the font_size gives the font size that is rendered in the editor. This property is read-only."
        },
        "lineSpacingReduction": {
          "type": "number",
          "format": "float",
          "description": "The line spacing reduction applied to the shape. For shapes with autofit_type NONE or SHAPE_AUTOFIT, this value is the default value of 0. For TEXT_AUTOFIT, this value subtracted from the line_spacing gives the line spacing that is rendered in the editor. This property is read-only."
        }
      },
      "id": "Autofit",
      "type": "object",
      "description": "The autofit properties of a Shape."
    },
    "TableBorderFill": {
      "properties": {
        "solidFill": {
          "description": "Solid fill.",
          "$ref": "SolidFill"
        }
      },
      "description": "The fill of the border.",
      "type": "object",
      "id": "TableBorderFill"
    },
    "UpdateTableCellPropertiesRequest": {
      "properties": {
        "tableRange": {
          "description": "The table range representing the subset of the table to which the updates are applied. If a table range is not specified, the updates will apply to the entire table.",
          "$ref": "TableRange"
        },
        "fields": {
          "description": "The fields that should be updated. At least one field must be specified. The root `tableCellProperties` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the table cell background solid fill color, set `fields` to `\"tableCellBackgroundFill.solidFill.color\"`. To reset a property to its default value, include its field name in the field mask but leave the field itself unset.",
          "type": "string",
          "format": "google-fieldmask"
        },
        "objectId": {
          "type": "string",
          "description": "The object ID of the table."
        },
        "tableCellProperties": {
          "$ref": "TableCellProperties",
          "description": "The table cell properties to update."
        }
      },
      "description": "Update the properties of a TableCell.",
      "type": "object",
      "id": "UpdateTableCellPropertiesRequest"
    },
    "PageBackgroundFill": {
      "properties": {
        "solidFill": {
          "description": "Solid color fill.",
          "$ref": "SolidFill"
        },
        "stretchedPictureFill": {
          "description": "Stretched picture fill.",
          "$ref": "StretchedPictureFill"
        },
        "propertyState": {
          "description": "The background fill property state. Updating the fill on a page will implicitly update this field to `RENDERED`, unless another value is specified in the same request. To have no fill on a page, set this field to `NOT_RENDERED`. In this case, any other fill fields set in the same request will be ignored.",
          "enum": [
            "RENDERED",
            "NOT_RENDERED",
            "INHERIT"
          ],
          "enumDescriptions": [
            "If a property's state is RENDERED, then the element has the corresponding property when rendered on a page. If the element is a placeholder shape as determined by the placeholder field, and it inherits from a placeholder shape, the corresponding field may be unset, meaning that the property value is inherited from a parent placeholder. If the element does not inherit, then the field will contain the rendered value. This is the default value.",
            "If a property's state is NOT_RENDERED, then the element does not have the corresponding property when rendered on a page. However, the field may still be set so it can be inherited by child shapes. To remove a property from a rendered element, set its property_state to NOT_RENDERED.",
            "If a property's state is INHERIT, then the property state uses the value of corresponding `property_state` field on the parent shape. Elements that do not inherit will never have an INHERIT property state."
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "PageBackgroundFill",
      "description": "The page background fill."
    },
    "BatchUpdatePresentationResponse": {
      "description": "Response message from a batch update.",
      "id": "BatchUpdatePresentationResponse",
      "type": "object",
      "properties": {
        "replies": {
          "items": {
            "$ref": "Response"
          },
          "description": "The reply of the updates. This maps 1:1 with the updates, although replies to some requests may be empty.",
          "type": "array"
        },
        "presentationId": {
          "description": "The presentation the updates were applied to.",
          "type": "string"
        },
        "writeControl": {
          "description": "The updated write control after applying the request.",
          "$ref": "WriteControl"
        }
      }
    },
    "SlideProperties": {
      "properties": {
        "notesPage": {
          "description": "The notes page that this slide is associated with. It defines the visual appearance of a notes page when printing or exporting slides with speaker notes. A notes page inherits properties from the notes master. The placeholder shape with type BODY on the notes page contains the speaker notes for this slide. The ID of this shape is identified by the speakerNotesObjectId field. The notes page is read-only except for the text content and styles of the speaker notes shape. This property is read-only.",
          "$ref": "Page"
        },
        "masterObjectId": {
          "type": "string",
          "description": "The object ID of the master that this slide is based on. This property is read-only."
        },
        "layoutObjectId": {
          "type": "string",
          "description": "The object ID of the layout that this slide is based on. This property is read-only."
        },
        "isSkipped": {
          "description": "Whether the slide is skipped in the presentation mode. Defaults to false.",
          "type": "boolean"
        }
      },
      "id": "SlideProperties",
      "description": "The properties of Page that are only relevant for pages with page_type SLIDE.",
      "type": "object"
    },
    "ReplaceAllShapesWithSheetsChartResponse": {
      "id": "ReplaceAllShapesWithSheetsChartResponse",
      "description": "The result of replacing shapes with a Google Sheets chart.",
      "properties": {
        "occurrencesChanged": {
          "description": "The number of shapes replaced with charts.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "SubstringMatchCriteria": {
      "id": "SubstringMatchCriteria",
      "description": "A criteria that matches a specific string of text in a shape or table.",
      "type": "object",
      "properties": {
        "matchCase": {
          "description": "Indicates whether the search should respect case: - `True`: the search is case sensitive. - `False`: the search is case insensitive.",
          "type": "boolean"
        },
        "text": {
          "type": "string",
          "description": "The text to search for in the shape or table."
        }
      }
    },
    "ReplaceAllShapesWithImageRequest": {
      "description": "Replaces all shapes that match the given criteria with the provided image. The images replacing the shapes are rectangular after being inserted into the presentation and do not take on the forms of the shapes.",
      "id": "ReplaceAllShapesWithImageRequest",
      "properties": {
        "imageReplaceMethod": {
          "enum": [
            "IMAGE_REPLACE_METHOD_UNSPECIFIED",
            "CENTER_INSIDE",
            "CENTER_CROP"
          ],
          "enumDescriptions": [
            "Unspecified image replace method. This value must not be used.",
            "Scales and centers the image to fit within the bounds of the original shape and maintains the image's aspect ratio. The rendered size of the image may be smaller than the size of the shape. This is the default method when one is not specified.",
            "Scales and centers the image to fill the bounds of the original shape. The image may be cropped in order to fill the shape. The rendered size of the image will be the same as the original shape."
          ],
          "type": "string",
          "description": "The image replace method. If you specify both a `replace_method` and an `image_replace_method`, the `image_replace_method` takes precedence. If you do not specify a value for `image_replace_method`, but specify a value for `replace_method`, then the specified `replace_method` value is used. If you do not specify either, then CENTER_INSIDE is used."
        },
        "containsText": {
          "$ref": "SubstringMatchCriteria",
          "description": "If set, this request will replace all of the shapes that contain the given text."
        },
        "pageObjectIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "If non-empty, limits the matches to page elements only on the given pages. Returns a 400 bad request error if given the page object ID of a notes page or a notes master, or if a page with that object ID doesn't exist in the presentation."
        },
        "replaceMethod": {
          "enum": [
            "CENTER_INSIDE",
            "CENTER_CROP"
          ],
[...]
