{
  "discoveryVersion": "v1",
  "title": "Google Slides API",
  "rootUrl": "https://slides.googleapis.com/",
  "basePath": "",
  "version": "v1",
  "mtlsRootUrl": "https://slides.mtls.googleapis.com/",
  "servicePath": "",
  "canonicalName": "Slides",
  "batchPath": "batch",
  "parameters": {
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format."
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "type": "string",
      "default": "json"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    }
  },
  "id": "slides:v1",
  "documentationLink": "https://developers.google.com/slides/",
  "revision": "20230209",
  "resources": {
    "presentations": {
      "methods": {
        "batchUpdate": {
          "flatPath": "v1/presentations/{presentationId}:batchUpdate",
          "description": "Applies one or more updates to the presentation. Each request is validated before being applied. If any request is not valid, then the entire request will fail and nothing will be applied. Some requests have replies to give you some information about how they are applied. Other requests do not need to return information; these each return an empty reply. The order of replies matches that of the requests. For example, suppose you call batchUpdate with four updates, and only the third one returns information. The response would have two empty replies: the reply to the third request, and another empty reply, in that order. Because other users may be editing the presentation, the presentation might not exactly reflect your changes: your changes may be altered with respect to collaborator changes. If there are no collaborators, the presentation should reflect your changes. In any case, the updates in your request are guaranteed to be applied together atomically.",
          "httpMethod": "POST",
          "id": "slides.presentations.batchUpdate",
          "request": {
            "$ref": "BatchUpdatePresentationRequest"
          },
          "parameterOrder": [
            "presentationId"
          ],
          "path": "v1/presentations/{presentationId}:batchUpdate",
          "parameters": {
            "presentationId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The presentation to apply the updates to."
            }
          },
          "response": {
            "$ref": "BatchUpdatePresentationResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/presentations",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/spreadsheets.readonly"
          ]
        },
        "get": {
          "description": "Gets the latest version of the specified presentation.",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/presentations",
            "https://www.googleapis.com/auth/presentations.readonly"
          ],
          "parameters": {
            "presentationId": {
              "required": true,
              "description": "The ID of the presentation to retrieve.",
              "pattern": "^[^/]+$",
              "location": "path",
              "type": "string"
            }
          },
          "flatPath": "v1/presentations/{presentationsId}",
          "id": "slides.presentations.get",
          "parameterOrder": [
            "presentationId"
          ],
          "httpMethod": "GET",
          "path": "v1/presentations/{+presentationId}",
          "response": {
            "$ref": "Presentation"
          }
        },
        "create": {
          "parameters": {},
          "path": "v1/presentations",
          "request": {
            "$ref": "Presentation"
          },
          "flatPath": "v1/presentations",
          "response": {
            "$ref": "Presentation"
          },
          "description": "Creates a blank presentation using the title given in the request. If a `presentationId` is provided, it is used as the ID of the new presentation. Otherwise, a new ID is generated. Other fields in the request, including any provided content, are ignored. Returns the created presentation.",
          "id": "slides.presentations.create",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/presentations"
          ],
          "httpMethod": "POST",
          "parameterOrder": []
        }
      },
      "resources": {
        "pages": {
          "methods": {
            "getThumbnail": {
              "parameters": {
                "thumbnailProperties.thumbnailSize": {
                  "description": "The optional thumbnail image size. If you don't specify the size, the server chooses a default size of the image.",
                  "enum": [
                    "THUMBNAIL_SIZE_UNSPECIFIED",
                    "LARGE",
                    "MEDIUM",
                    "SMALL"
                  ],
                  "location": "query",
                  "type": "string",
                  "enumDescriptions": [
                    "The default thumbnail image size. The unspecified thumbnail size implies that the server chooses the size of the image in a way that might vary in the future.",
                    "The thumbnail image width of 1600px.",
                    "The thumbnail image width of 800px.",
                    "The thumbnail image width of 200px."
                  ]
                },
                "presentationId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "The ID of the presentation to retrieve."
                },
                "pageObjectId": {
                  "description": "The object ID of the page whose thumbnail to retrieve.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "thumbnailProperties.mimeType": {
                  "enum": [
                    "PNG"
                  ],
                  "type": "string",
                  "location": "query",
                  "enumDescriptions": [
                    "The default mime type."
                  ],
                  "description": "The optional mime type of the thumbnail image. If you don't specify the mime type, the mime type defaults to PNG."
                }
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "presentationId",
                "pageObjectId"
              ],
              "id": "slides.presentations.pages.getThumbnail",
              "description": "Generates a thumbnail of the latest version of the specified page in the presentation and returns a URL to the thumbnail image. This request counts as an [expensive read request](/slides/limits) for quota purposes.",
              "path": "v1/presentations/{presentationId}/pages/{pageObjectId}/thumbnail",
              "flatPath": "v1/presentations/{presentationId}/pages/{pageObjectId}/thumbnail",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/drive.readonly",
                "https://www.googleapis.com/auth/presentations",
                "https://www.googleapis.com/auth/presentations.readonly"
              ],
              "response": {
                "$ref": "Thumbnail"
              }
            },
            "get": {
              "description": "Gets the latest version of the specified page in the presentation.",
              "id": "slides.presentations.pages.get",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/drive.readonly",
                "https://www.googleapis.com/auth/presentations",
                "https://www.googleapis.com/auth/presentations.readonly"
              ],
              "path": "v1/presentations/{presentationId}/pages/{pageObjectId}",
              "parameters": {
                "pageObjectId": {
                  "description": "The object ID of the page to retrieve.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "presentationId": {
                  "description": "The ID of the presentation to retrieve.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "parameterOrder": [
                "presentationId",
                "pageObjectId"
              ],
              "response": {
                "$ref": "Page"
              },
              "flatPath": "v1/presentations/{presentationId}/pages/{pageObjectId}"
            }
          }
        }
      }
    }
  },
  "schemas": {
    "Placeholder": {
      "description": "The placeholder information that uniquely identifies a placeholder shape.",
      "type": "object",
      "id": "Placeholder",
      "properties": {
        "parentObjectId": {
          "type": "string",
          "description": "The object ID of this shape's parent placeholder. If unset, the parent placeholder shape does not exist, so the shape does not inherit properties from any other shape."
        },
        "index": {
          "description": "The index of the placeholder. If the same placeholder types are present in the same page, they would have different index values.",
          "format": "int32",
          "type": "integer"
        },
        "type": {
          "enum": [
            "NONE",
            "BODY",
            "CHART",
            "CLIP_ART",
            "CENTERED_TITLE",
            "DIAGRAM",
            "DATE_AND_TIME",
            "FOOTER",
            "HEADER",
            "MEDIA",
            "OBJECT",
            "PICTURE",
            "SLIDE_NUMBER",
            "SUBTITLE",
            "TABLE",
            "TITLE",
            "SLIDE_IMAGE"
          ],
          "description": "The type of the placeholder.",
          "type": "string",
          "enumDescriptions": [
            "Default value, signifies it is not a placeholder.",
            "Body text.",
            "Chart or graph.",
            "Clip art image.",
            "Title centered.",
            "Diagram.",
            "Date and time.",
            "Footer text.",
            "Header text.",
            "Multimedia.",
            "Any content type.",
            "Picture.",
            "Number of a slide.",
            "Subtitle.",
            "Table.",
            "Slide title.",
            "Slide image."
          ]
        }
      }
    },
    "UpdateVideoPropertiesRequest": {
      "type": "object",
      "id": "UpdateVideoPropertiesRequest",
      "properties": {
        "videoProperties": {
          "description": "The video properties to update.",
          "$ref": "VideoProperties"
        },
        "objectId": {
          "description": "The object ID of the video the updates are applied to.",
          "type": "string"
        },
        "fields": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "The fields that should be updated. At least one field must be specified. The root `videoProperties` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the video outline color, set `fields` to `\"outline.outlineFill.solidFill.color\"`. To reset a property to its default value, include its field name in the field mask but leave the field itself unset."
        }
      },
      "description": "Update the properties of a Video."
    },
    "TableColumnProperties": {
      "properties": {
        "columnWidth": {
          "$ref": "Dimension",
          "description": "Width of a column."
        }
      },
      "type": "object",
      "description": "Properties of each column in a table.",
      "id": "TableColumnProperties"
    },
    "ReplaceImageRequest": {
      "properties": {
        "imageReplaceMethod": {
          "enum": [
            "IMAGE_REPLACE_METHOD_UNSPECIFIED",
            "CENTER_INSIDE",
            "CENTER_CROP"
          ],
          "enumDescriptions": [
            "Unspecified image replace method. This value must not be used.",
            "Scales and centers the image to fit within the bounds of the original shape and maintains the image's aspect ratio. The rendered size of the image may be smaller than the size of the shape. This is the default method when one is not specified.",
            "Scales and centers the image to fill the bounds of the original shape. The image may be cropped in order to fill the shape. The rendered size of the image will be the same as the original shape."
          ],
          "description": "The replacement method.",
          "type": "string"
        },
        "url": {
          "description": "The image URL. The image is fetched once at insertion time and a copy is stored for display inside the presentation. Images must be less than 50MB, cannot exceed 25 megapixels, and must be in PNG, JPEG, or GIF format. The provided URL can't surpass 2 KB in length. The URL is saved with the image, and exposed through the Image.source_url field.",
          "type": "string"
        },
        "imageObjectId": {
          "type": "string",
          "description": "The ID of the existing image that will be replaced. The ID can be retrieved from the response of a get request."
        }
      },
      "description": "Replaces an existing image with a new image. Replacing an image removes some image effects from the existing image.",
      "id": "ReplaceImageRequest",
      "type": "object"
    },
    "SheetsChartProperties": {
      "id": "SheetsChartProperties",
      "type": "object",
      "properties": {
        "chartImageProperties": {
          "description": "The properties of the embedded chart image.",
          "$ref": "ImageProperties"
        }
      },
      "description": "The properties of the SheetsChart."
    },
    "TableCellLocation": {
      "id": "TableCellLocation",
      "description": "A location of a single table cell within a table.",
      "properties": {
        "columnIndex": {
          "format": "int32",
          "description": "The 0-based column index.",
          "type": "integer"
        },
        "rowIndex": {
          "type": "integer",
          "format": "int32",
          "description": "The 0-based row index."
        }
      },
      "type": "object"
    },
    "Presentation": {
      "type": "object",
      "properties": {
        "title": {
          "description": "The title of the presentation.",
          "type": "string"
        },
        "notesMaster": {
          "description": "The notes master in the presentation. It serves three purposes: - Placeholder shapes on a notes master contain the default text styles and shape properties of all placeholder shapes on notes pages. Specifically, a `SLIDE_IMAGE` placeholder shape contains the slide thumbnail, and a `BODY` placeholder shape contains the speaker notes. - The notes master page properties define the common page properties inherited by all notes pages. - Any other shapes on the notes master appear on all notes pages. The notes master is read-only.",
          "$ref": "Page"
        },
        "pageSize": {
          "description": "The size of pages in the presentation.",
          "$ref": "Size"
        },
        "masters": {
          "description": "The slide masters in the presentation. A slide master contains all common page elements and the common properties for a set of layouts. They serve three purposes: - Placeholder shapes on a master contain the default text styles and shape properties of all placeholder shapes on pages that use that master. - The master page properties define the common page properties inherited by its layouts. - Any other shapes on the master slide appear on all slides using that master, regardless of their layout.",
          "type": "array",
          "items": {
            "$ref": "Page"
          }
        },
        "locale": {
          "type": "string",
          "description": "The locale of the presentation, as an IETF BCP 47 language tag."
        },
        "presentationId": {
          "description": "The ID of the presentation.",
          "type": "string"
        },
        "layouts": {
          "description": "The layouts in the presentation. A layout is a template that determines how content is arranged and styled on the slides that inherit from that layout.",
          "type": "array",
          "items": {
            "$ref": "Page"
          }
        },
        "slides": {
          "description": "The slides in the presentation. A slide inherits properties from a slide layout.",
          "type": "array",
          "items": {
            "$ref": "Page"
          }
        },
        "revisionId": {
          "type": "string",
          "description": "Output only. The revision ID of the presentation. Can be used in update requests to assert the presentation revision hasn't changed since the last read operation. Only populated if the user has edit access to the presentation. The revision ID is not a sequential number but a nebulous string. The format of the revision ID may change over time, so it should be treated opaquely. A returned revision ID is only guaranteed to be valid for 24 hours after it has been returned and cannot be shared across users. If the revision ID is unchanged between calls, then the presentation has not changed. Conversely, a changed ID (for the same presentation and user) usually means the presentation has been updated. However, a changed ID can also be due to internal factors such as ID format changes."
        }
      },
      "id": "Presentation",
      "description": "A Google Slides presentation."
    },
    "TextElement": {
      "description": "A TextElement describes the content of a range of indices in the text content of a Shape or TableCell.",
      "type": "object",
      "properties": {
        "endIndex": {
          "description": "The zero-based end index of this text element, exclusive, in Unicode code units.",
          "format": "int32",
          "type": "integer"
        },
        "autoText": {
          "$ref": "AutoText",
          "description": "A TextElement representing a spot in the text that is dynamically replaced with content that can change over time."
        },
        "textRun": {
          "$ref": "TextRun",
          "description": "A TextElement representing a run of text where all of the characters in the run have the same TextStyle. The `start_index` and `end_index` of TextRuns will always be fully contained in the index range of a single `paragraph_marker` TextElement. In other words, a TextRun will never span multiple paragraphs."
        },
        "startIndex": {
          "type": "integer",
          "description": "The zero-based start index of this text element, in Unicode code units.",
          "format": "int32"
        },
        "paragraphMarker": {
          "$ref": "ParagraphMarker",
          "description": "A marker representing the beginning of a new paragraph. The `start_index` and `end_index` of this TextElement represent the range of the paragraph. Other TextElements with an index range contained inside this paragraph's range are considered to be part of this paragraph. The range of indices of two separate paragraphs will never overlap."
        }
      },
      "id": "TextElement"
    },
    "UpdateParagraphStyleRequest": {
      "description": "Updates the styling for all of the paragraphs within a Shape or Table that overlap with the given text index range.",
      "properties": {
        "fields": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "The fields that should be updated. At least one field must be specified. The root `style` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example, to update the paragraph alignment, set `fields` to `\"alignment\"`. To reset a property to its default value, include its field name in the field mask but leave the field itself unset."
        },
        "textRange": {
          "description": "The range of text containing the paragraph(s) to style.",
          "$ref": "Range"
        },
        "objectId": {
          "type": "string",
          "description": "The object ID of the shape or table with the text to be styled."
        },
        "style": {
          "$ref": "ParagraphStyle",
          "description": "The paragraph's style."
        },
        "cellLocation": {
          "$ref": "TableCellLocation",
          "description": "The location of the cell in the table containing the paragraph(s) to style. If `object_id` refers to a table, `cell_location` must have a value. Otherwise, it must not."
        }
      },
      "type": "object",
      "id": "UpdateParagraphStyleRequest"
    },
    "VideoProperties": {
      "type": "object",
      "id": "VideoProperties",
      "properties": {
        "outline": {
          "$ref": "Outline",
          "description": "The outline of the video. The default outline matches the defaults for new videos created in the Slides editor."
        },
        "mute": {
          "type": "boolean",
          "description": "Whether to mute the audio during video playback. Defaults to false."
        },
        "end": {
          "description": "The time at which to end playback, measured in seconds from the beginning of the video. If set, the end time should be after the start time. If not set or if you set this to a value that exceeds the video's length, the video will be played until its end.",
          "type": "integer",
          "format": "uint32"
        },
        "autoPlay": {
          "type": "boolean",
          "description": "Whether to enable video autoplay when the page is displayed in present mode. Defaults to false."
        },
        "start": {
          "format": "uint32",
          "type": "integer",
          "description": "The time at which to start playback, measured in seconds from the beginning of the video. If set, the start time should be before the end time. If you set this to a value that exceeds the video's length in seconds, the video will be played from the last second. If not set, the video will be played from the beginning."
        }
      },
      "description": "The properties of the Video."
    },
    "MasterProperties": {
      "type": "object",
      "id": "MasterProperties",
      "properties": {
        "displayName": {
          "description": "The human-readable name of the master.",
          "type": "string"
        }
      },
      "description": "The properties of Page that are only relevant for pages with page_type MASTER."
    },
    "CreateSlideResponse": {
      "description": "The result of creating a slide.",
      "type": "object",
      "id": "CreateSlideResponse",
      "properties": {
        "objectId": {
          "type": "string",
          "description": "The object ID of the created slide."
        }
      }
    },
    "NotesProperties": {
      "id": "NotesProperties",
      "type": "object",
      "description": "The properties of Page that are only relevant for pages with page_type NOTES.",
      "properties": {
        "speakerNotesObjectId": {
          "type": "string",
          "description": "The object ID of the shape on this notes page that contains the speaker notes for the corresponding slide. The actual shape may not always exist on the notes page. Inserting text using this object ID will automatically create the shape. In this case, the actual shape may have different object ID. The `GetPresentation` or `GetPage` action will always return the latest object ID."
        }
      }
    },
    "CreateParagraphBulletsRequest": {
      "description": "Creates bullets for all of the paragraphs that overlap with the given text index range. The nesting level of each paragraph will be determined by counting leading tabs in front of each paragraph. To avoid excess space between the bullet and the corresponding paragraph, these leading tabs are removed by this request. This may change the indices of parts of the text. If the paragraph immediately before paragraphs being updated is in a list with a matching preset, the paragraphs being updated are added to that preceding list.",
      "id": "CreateParagraphBulletsRequest",
      "properties": {
        "textRange": {
          "$ref": "Range",
          "description": "The range of text to apply the bullet presets to, based on TextElement indexes."
        },
        "bulletPreset": {
          "description": "The kinds of bullet glyphs to be used. Defaults to the `BULLET_DISC_CIRCLE_SQUARE` preset.",
          "type": "string",
          "enumDescriptions": [
            "A bulleted list with a `DISC`, `CIRCLE` and `SQUARE` bullet glyph for the first 3 list nesting levels.",
            "A bulleted list with a `DIAMONDX`, `ARROW3D` and `SQUARE` bullet glyph for the first 3 list nesting levels.",
            "A bulleted list with `CHECKBOX` bullet glyphs for all list nesting levels.",
            "A bulleted list with a `ARROW`, `DIAMOND` and `DISC` bullet glyph for the first 3 list nesting levels.",
            "A bulleted list with a `STAR`, `CIRCLE` and `SQUARE` bullet glyph for the first 3 list nesting levels.",
            "A bulleted list with a `ARROW3D`, `CIRCLE` and `SQUARE` bullet glyph for the first 3 list nesting levels.",
            "A bulleted list with a `LEFTTRIANGLE`, `DIAMOND` and `DISC` bullet glyph for the first 3 list nesting levels.",
            "A bulleted list with a `DIAMONDX`, `HOLLOWDIAMOND` and `SQUARE` bullet glyph for the first 3 list nesting levels.",
            "A bulleted list with a `DIAMOND`, `CIRCLE` and `SQUARE` bullet glyph for the first 3 list nesting levels.",
            "A numbered list with `DIGIT`, `ALPHA` and `ROMAN` numeric glyphs for the first 3 list nesting levels, followed by periods.",
            "A numbered list with `DIGIT`, `ALPHA` and `ROMAN` numeric glyphs for the first 3 list nesting levels, followed by parenthesis.",
            "A numbered list with `DIGIT` numeric glyphs separated by periods, where each nesting level uses the previous nesting level's glyph as a prefix. For example: '1.', '1.1.', '2.', '2.2.'.",
            "A numbered list with `UPPERALPHA`, `ALPHA` and `ROMAN` numeric glyphs for the first 3 list nesting levels, followed by periods.",
            "A numbered list with `UPPERROMAN`, `UPPERALPHA` and `DIGIT` numeric glyphs for the first 3 list nesting levels, followed by periods.",
            "A numbered list with `ZERODIGIT`, `ALPHA` and `ROMAN` numeric glyphs for the first 3 list nesting levels, followed by periods."
          ],
          "enum": [
            "BULLET_DISC_CIRCLE_SQUARE",
            "BULLET_DIAMONDX_ARROW3D_SQUARE",
            "BULLET_CHECKBOX",
            "BULLET_ARROW_DIAMOND_DISC",
            "BULLET_STAR_CIRCLE_SQUARE",
            "BULLET_ARROW3D_CIRCLE_SQUARE",
            "BULLET_LEFTTRIANGLE_DIAMOND_DISC",
            "BULLET_DIAMONDX_HOLLOWDIAMOND_SQUARE",
            "BULLET_DIAMOND_CIRCLE_SQUARE",
            "NUMBERED_DIGIT_ALPHA_ROMAN",
            "NUMBERED_DIGIT_ALPHA_ROMAN_PARENS",
            "NUMBERED_DIGIT_NESTED",
            "NUMBERED_UPPERALPHA_ALPHA_ROMAN",
            "NUMBERED_UPPERROMAN_UPPERALPHA_DIGIT",
            "NUMBERED_ZERODIGIT_ALPHA_ROMAN"
          ]
        },
        "objectId": {
          "type": "string",
          "description": "The object ID of the shape or table containing the text to add bullets to."
        },
        "cellLocation": {
          "$ref": "TableCellLocation",
          "description": "The optional table cell location if the text to be modified is in a table cell. If present, the object_id must refer to a table."
        }
      },
      "type": "object"
    },
    "TextRun": {
      "type": "object",
      "description": "A TextElement kind that represents a run of text that all has the same styling.",
      "properties": {
        "content": {
          "type": "string",
          "description": "The text of this run."
        },
        "style": {
          "$ref": "TextStyle",
          "description": "The styling applied to this run."
        }
      },
      "id": "TextRun"
    },
    "CreateLineResponse": {
      "id": "CreateLineResponse",
      "description": "The result of creating a line.",
      "type": "object",
      "properties": {
        "objectId": {
          "description": "The object ID of the created line.",
          "type": "string"
        }
      }
    },
    "CreateShapeRequest": {
      "properties": {
        "elementProperties": {
          "$ref": "PageElementProperties",
          "description": "The element properties for the shape."
        },
        "objectId": {
          "description": "A user-supplied object ID. If you specify an ID, it must be unique among all pages and page elements in the presentation. The ID must start with an alphanumeric character or an underscore (matches regex `[a-zA-Z0-9_]`); remaining characters may include those as well as a hyphen or colon (matches regex `[a-zA-Z0-9_-:]`). The length of the ID must not be less than 5 or greater than 50. If empty, a unique identifier will be generated.",
          "type": "string"
        },
        "shapeType": {
          "description": "The shape type.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TEXT_BOX",
            "RECTANGLE",
            "ROUND_RECTANGLE",
            "ELLIPSE",
            "ARC",
            "BENT_ARROW",
            "BENT_UP_ARROW",
            "BEVEL",
            "BLOCK_ARC",
            "BRACE_PAIR",
            "BRACKET_PAIR",
            "CAN",
            "CHEVRON",
            "CHORD",
            "CLOUD",
            "CORNER",
            "CUBE",
            "CURVED_DOWN_ARROW",
            "CURVED_LEFT_ARROW",
            "CURVED_RIGHT_ARROW",
            "CURVED_UP_ARROW",
            "DECAGON",
            "DIAGONAL_STRIPE",
            "DIAMOND",
            "DODECAGON",
            "DONUT",
            "DOUBLE_WAVE",
            "DOWN_ARROW",
            "DOWN_ARROW_CALLOUT",
            "FOLDED_CORNER",
            "FRAME",
            "HALF_FRAME",
            "HEART",
            "HEPTAGON",
            "HEXAGON",
            "HOME_PLATE",
            "HORIZONTAL_SCROLL",
            "IRREGULAR_SEAL_1",
            "IRREGULAR_SEAL_2",
            "LEFT_ARROW",
            "LEFT_ARROW_CALLOUT",
            "LEFT_BRACE",
            "LEFT_BRACKET",
            "LEFT_RIGHT_ARROW",
            "LEFT_RIGHT_ARROW_CALLOUT",
            "LEFT_RIGHT_UP_ARROW",
            "LEFT_UP_ARROW",
            "LIGHTNING_BOLT",
            "MATH_DIVIDE",
            "MATH_EQUAL",
            "MATH_MINUS",
            "MATH_MULTIPLY",
            "MATH_NOT_EQUAL",
            "MATH_PLUS",
            "MOON",
            "NO_SMOKING",
            "NOTCHED_RIGHT_ARROW",
            "OCTAGON",
            "PARALLELOGRAM",
            "PENTAGON",
            "PIE",
            "PLAQUE",
            "PLUS",
            "QUAD_ARROW",
            "QUAD_ARROW_CALLOUT",
            "RIBBON",
            "RIBBON_2",
            "RIGHT_ARROW",
            "RIGHT_ARROW_CALLOUT",
            "RIGHT_BRACE",
            "RIGHT_BRACKET",
            "ROUND_1_RECTANGLE",
            "ROUND_2_DIAGONAL_RECTANGLE",
            "ROUND_2_SAME_RECTANGLE",
            "RIGHT_TRIANGLE",
            "SMILEY_FACE",
            "SNIP_1_RECTANGLE",
            "SNIP_2_DIAGONAL_RECTANGLE",
            "SNIP_2_SAME_RECTANGLE",
            "SNIP_ROUND_RECTANGLE",
            "STAR_10",
            "STAR_12",
            "STAR_16",
            "STAR_24",
            "STAR_32",
            "STAR_4",
            "STAR_5",
            "STAR_6",
            "STAR_7",
            "STAR_8",
            "STRIPED_RIGHT_ARROW",
            "SUN",
            "TRAPEZOID",
            "TRIANGLE",
            "UP_ARROW",
            "UP_ARROW_CALLOUT",
            "UP_DOWN_ARROW",
            "UTURN_ARROW",
            "VERTICAL_SCROLL",
            "WAVE",
            "WEDGE_ELLIPSE_CALLOUT",
            "WEDGE_RECTANGLE_CALLOUT",
            "WEDGE_ROUND_RECTANGLE_CALLOUT",
            "FLOW_CHART_ALTERNATE_PROCESS",
            "FLOW_CHART_COLLATE",
            "FLOW_CHART_CONNECTOR",
            "FLOW_CHART_DECISION",
            "FLOW_CHART_DELAY",
            "FLOW_CHART_DISPLAY",
            "FLOW_CHART_DOCUMENT",
            "FLOW_CHART_EXTRACT",
            "FLOW_CHART_INPUT_OUTPUT",
            "FLOW_CHART_INTERNAL_STORAGE",
            "FLOW_CHART_MAGNETIC_DISK",
            "FLOW_CHART_MAGNETIC_DRUM",
            "FLOW_CHART_MAGNETIC_TAPE",
            "FLOW_CHART_MANUAL_INPUT",
            "FLOW_CHART_MANUAL_OPERATION",
            "FLOW_CHART_MERGE",
            "FLOW_CHART_MULTIDOCUMENT",
            "FLOW_CHART_OFFLINE_STORAGE",
            "FLOW_CHART_OFFPAGE_CONNECTOR",
            "FLOW_CHART_ONLINE_STORAGE",
            "FLOW_CHART_OR",
            "FLOW_CHART_PREDEFINED_PROCESS",
            "FLOW_CHART_PREPARATION",
            "FLOW_CHART_PROCESS",
            "FLOW_CHART_PUNCHED_CARD",
            "FLOW_CHART_PUNCHED_TAPE",
            "FLOW_CHART_SORT",
            "FLOW_CHART_SUMMING_JUNCTION",
            "FLOW_CHART_TERMINATOR",
            "ARROW_EAST",
            "ARROW_NORTH_EAST",
            "ARROW_NORTH",
            "SPEECH",
            "STARBURST",
            "TEARDROP",
            "ELLIPSE_RIBBON",
            "ELLIPSE_RIBBON_2",
            "CLOUD_CALLOUT",
            "CUSTOM"
          ],
          "type": "string",
          "enumDescriptions": [
            "The shape type that is not predefined.",
            "Text box shape.",
            "Rectangle shape. Corresponds to ECMA-376 ST_ShapeType 'rect'.",
            "Round corner rectangle shape. Corresponds to ECMA-376 ST_ShapeType 'roundRect'",
            "Ellipse shape. Corresponds to ECMA-376 ST_ShapeType 'ellipse'",
            "Curved arc shape. Corresponds to ECMA-376 ST_ShapeType 'arc'",
            "Bent arrow shape. Corresponds to ECMA-376 ST_ShapeType 'bentArrow'",
            "Bent up arrow shape. Corresponds to ECMA-376 ST_ShapeType 'bentUpArrow'",
            "Bevel shape. Corresponds to ECMA-376 ST_ShapeType 'bevel'",
            "Block arc shape. Corresponds to ECMA-376 ST_ShapeType 'blockArc'",
            "Brace pair shape. Corresponds to ECMA-376 ST_ShapeType 'bracePair'",
            "Bracket pair shape. Corresponds to ECMA-376 ST_ShapeType 'bracketPair'",
            "Can shape. Corresponds to ECMA-376 ST_ShapeType 'can'",
            "Chevron shape. Corresponds to ECMA-376 ST_ShapeType 'chevron'",
            "Chord shape. Corresponds to ECMA-376 ST_ShapeType 'chord'",
            "Cloud shape. Corresponds to ECMA-376 ST_ShapeType 'cloud'",
            "Corner shape. Corresponds to ECMA-376 ST_ShapeType 'corner'",
            "Cube shape. Corresponds to ECMA-376 ST_ShapeType 'cube'",
            "Curved down arrow shape. Corresponds to ECMA-376 ST_ShapeType 'curvedDownArrow'",
            "Curved left arrow shape. Corresponds to ECMA-376 ST_ShapeType 'curvedLeftArrow'",
            "Curved right arrow shape. Corresponds to ECMA-376 ST_ShapeType 'curvedRightArrow'",
            "Curved up arrow shape. Corresponds to ECMA-376 ST_ShapeType 'curvedUpArrow'",
            "Decagon shape. Corresponds to ECMA-376 ST_ShapeType 'decagon'",
            "Diagonal stripe shape. Corresponds to ECMA-376 ST_ShapeType 'diagStripe'",
            "Diamond shape. Corresponds to ECMA-376 ST_ShapeType 'diamond'",
            "Dodecagon shape. Corresponds to ECMA-376 ST_ShapeType 'dodecagon'",
            "Donut shape. Corresponds to ECMA-376 ST_ShapeType 'donut'",
            "Double wave shape. Corresponds to ECMA-376 ST_ShapeType 'doubleWave'",
            "Down arrow shape. Corresponds to ECMA-376 ST_ShapeType 'downArrow'",
            "Callout down arrow shape. Corresponds to ECMA-376 ST_ShapeType 'downArrowCallout'",
            "Folded corner shape. Corresponds to ECMA-376 ST_ShapeType 'foldedCorner'",
            "Frame shape. Corresponds to ECMA-376 ST_ShapeType 'frame'",
            "Half frame shape. Corresponds to ECMA-376 ST_ShapeType 'halfFrame'",
            "Heart shape. Corresponds to ECMA-376 ST_ShapeType 'heart'",
            "Heptagon shape. Corresponds to ECMA-376 ST_ShapeType 'heptagon'",
            "Hexagon shape. Corresponds to ECMA-376 ST_ShapeType 'hexagon'",
            "Home plate shape. Corresponds to ECMA-376 ST_ShapeType 'homePlate'",
            "Horizontal scroll shape. Corresponds to ECMA-376 ST_ShapeType 'horizontalScroll'",
            "Irregular seal 1 shape. Corresponds to ECMA-376 ST_ShapeType 'irregularSeal1'",
            "Irregular seal 2 shape. Corresponds to ECMA-376 ST_ShapeType 'irregularSeal2'",
            "Left arrow shape. Corresponds to ECMA-376 ST_ShapeType 'leftArrow'",
            "Callout left arrow shape. Corresponds to ECMA-376 ST_ShapeType 'leftArrowCallout'",
            "Left brace shape. Corresponds to ECMA-376 ST_ShapeType 'leftBrace'",
            "Left bracket shape. Corresponds to ECMA-376 ST_ShapeType 'leftBracket'",
            "Left right arrow shape. Corresponds to ECMA-376 ST_ShapeType 'leftRightArrow'",
            "Callout left right arrow shape. Corresponds to ECMA-376 ST_ShapeType 'leftRightArrowCallout'",
            "Left right up arrow shape. Corresponds to ECMA-376 ST_ShapeType 'leftRightUpArrow'",
            "Left up arrow shape. Corresponds to ECMA-376 ST_ShapeType 'leftUpArrow'",
            "Lightning bolt shape. Corresponds to ECMA-376 ST_ShapeType 'lightningBolt'",
            "Divide math shape. Corresponds to ECMA-376 ST_ShapeType 'mathDivide'",
            "Equal math shape. Corresponds to ECMA-376 ST_ShapeType 'mathEqual'",
            "Minus math shape. Corresponds to ECMA-376 ST_ShapeType 'mathMinus'",
            "Multiply math shape. Corresponds to ECMA-376 ST_ShapeType 'mathMultiply'",
            "Not equal math shape. Corresponds to ECMA-376 ST_ShapeType 'mathNotEqual'",
            "Plus math shape. Corresponds to ECMA-376 ST_ShapeType 'mathPlus'",
            "Moon shape. Corresponds to ECMA-376 ST_ShapeType 'moon'",
            "No smoking shape. Corresponds to ECMA-376 ST_ShapeType 'noSmoking'",
            "Notched right arrow shape. Corresponds to ECMA-376 ST_ShapeType 'notchedRightArrow'",
            "Octagon shape. Corresponds to ECMA-376 ST_ShapeType 'octagon'",
            "Parallelogram shape. Corresponds to ECMA-376 ST_ShapeType 'parallelogram'",
            "Pentagon shape. Corresponds to ECMA-376 ST_ShapeType 'pentagon'",
            "Pie shape. Corresponds to ECMA-376 ST_ShapeType 'pie'",
            "Plaque shape. Corresponds to ECMA-376 ST_ShapeType 'plaque'",
            "Plus shape. Corresponds to ECMA-376 ST_ShapeType 'plus'",
            "Quad-arrow shape. Corresponds to ECMA-376 ST_ShapeType 'quadArrow'",
            "Callout quad-arrow shape. Corresponds to ECMA-376 ST_ShapeType 'quadArrowCallout'",
            "Ribbon shape. Corresponds to ECMA-376 ST_ShapeType 'ribbon'",
            "Ribbon 2 shape. Corresponds to ECMA-376 ST_ShapeType 'ribbon2'",
            "Right arrow shape. Corresponds to ECMA-376 ST_ShapeType 'rightArrow'",
            "Callout right arrow shape. Corresponds to ECMA-376 ST_ShapeType 'rightArrowCallout'",
            "Right brace shape. Corresponds to ECMA-376 ST_ShapeType 'rightBrace'",
            "Right bracket shape. Corresponds to ECMA-376 ST_ShapeType 'rightBracket'",
            "One round corner rectangle shape. Corresponds to ECMA-376 ST_ShapeType 'round1Rect'",
            "Two diagonal round corner rectangle shape. Corresponds to ECMA-376 ST_ShapeType 'round2DiagRect'",
            "Two same-side round corner rectangle shape. Corresponds to ECMA-376 ST_ShapeType 'round2SameRect'",
            "Right triangle shape. Corresponds to ECMA-376 ST_ShapeType 'rtTriangle'",
            "Smiley face shape. Corresponds to ECMA-376 ST_ShapeType 'smileyFace'",
            "One snip corner rectangle shape. Corresponds to ECMA-376 ST_ShapeType 'snip1Rect'",
            "Two diagonal snip corner rectangle shape. Corresponds to ECMA-376 ST_ShapeType 'snip2DiagRect'",
            "Two same-side snip corner rectangle shape. Corresponds to ECMA-376 ST_ShapeType 'snip2SameRect'",
            "One snip one round corner rectangle shape. Corresponds to ECMA-376 ST_ShapeType 'snipRoundRect'",
            "Ten pointed star shape. Corresponds to ECMA-376 ST_ShapeType 'star10'",
            "Twelve pointed star shape. Corresponds to ECMA-376 ST_ShapeType 'star12'",
            "Sixteen pointed star shape. Corresponds to ECMA-376 ST_ShapeType 'star16'",
            "Twenty four pointed star shape. Corresponds to ECMA-376 ST_ShapeType 'star24'",
            "Thirty two pointed star shape. Corresponds to ECMA-376 ST_ShapeType 'star32'",
            "Four pointed star shape. Corresponds to ECMA-376 ST_ShapeType 'star4'",
            "Five pointed star shape. Corresponds to ECMA-376 ST_ShapeType 'star5'",
            "Six pointed star shape. Corresponds to ECMA-376 ST_ShapeType 'star6'",
            "Seven pointed star shape. Corresponds to ECMA-376 ST_ShapeType 'star7'",
            "Eight pointed star shape. Corresponds to ECMA-376 ST_ShapeType 'star8'",
            "Striped right arrow shape. Corresponds to ECMA-376 ST_ShapeType 'stripedRightArrow'",
            "Sun shape. Corresponds to ECMA-376 ST_ShapeType 'sun'",
            "Trapezoid shape. Corresponds to ECMA-376 ST_ShapeType 'trapezoid'",
            "Triangle shape. Corresponds to ECMA-376 ST_ShapeType 'triangle'",
            "Up arrow shape. Corresponds to ECMA-376 ST_ShapeType 'upArrow'",
            "Callout up arrow shape. Corresponds to ECMA-376 ST_ShapeType 'upArrowCallout'",
            "Up down arrow shape. Corresponds to ECMA-376 ST_ShapeType 'upDownArrow'",
            "U-turn arrow shape. Corresponds to ECMA-376 ST_ShapeType 'uturnArrow'",
            "Vertical scroll shape. Corresponds to ECMA-376 ST_ShapeType 'verticalScroll'",
            "Wave shape. Corresponds to ECMA-376 ST_ShapeType 'wave'",
            "Callout wedge ellipse shape. Corresponds to ECMA-376 ST_ShapeType 'wedgeEllipseCallout'",
            "Callout wedge rectangle shape. Corresponds to ECMA-376 ST_ShapeType 'wedgeRectCallout'",
            "Callout wedge round rectangle shape. Corresponds to ECMA-376 ST_ShapeType 'wedgeRoundRectCallout'",
            "Alternate process flow shape. Corresponds to ECMA-376 ST_ShapeType 'flowChartAlternateProcess'",
            "Collate flow shape. Corresponds to ECMA-376 ST_ShapeType 'flowChartCollate'",
            "Connector flow shape. Corresponds to ECMA-376 ST_ShapeType 'flowChartConnector'",
            "Decision flow shape. Corresponds to ECMA-376 ST_ShapeType 'flowChartDecision'",
            "Delay flow shape. Corresponds to ECMA-376 ST_ShapeType 'flowChartDelay'",
            "Display flow shape. Corresponds to ECMA-376 ST_ShapeType 'flowChartDisplay'",
            "Document flow shape. Corresponds to ECMA-376 ST_ShapeType 'flowChartDocument'",
            "Extract flow shape. Corresponds to ECMA-376 ST_ShapeType 'flowChartExtract'",
            "Input output flow shape. Corresponds to ECMA-376 ST_ShapeType 'flowChartInputOutput'",
            "Internal storage flow shape. Corresponds to ECMA-376 ST_ShapeType 'flowChartInternalStorage'",
            "Magnetic disk flow shape. Corresponds to ECMA-376 ST_ShapeType 'flowChartMagneticDisk'",
            "Magnetic drum flow shape. Corresponds to ECMA-376 ST_ShapeType 'flowChartMagneticDrum'",
            "Magnetic tape flow shape. Corresponds to ECMA-376 ST_ShapeType 'flowChartMagneticTape'",
            "Manual input flow shape. Corresponds to ECMA-376 ST_ShapeType 'flowChartManualInput'",
            "Manual operation flow shape. Corresponds to ECMA-376 ST_ShapeType 'flowChartManualOperation'",
            "Merge flow shape. Corresponds to ECMA-376 ST_ShapeType 'flowChartMerge'",
            "Multi-document flow shape. Corresponds to ECMA-376 ST_ShapeType 'flowChartMultidocument'",
            "Offline storage flow shape. Corresponds to ECMA-376 ST_ShapeType 'flowChartOfflineStorage'",
            "Off-page connector flow shape. Corresponds to ECMA-376 ST_ShapeType 'flowChartOffpageConnector'",
            "Online storage flow shape. Corresponds to ECMA-376 ST_ShapeType 'flowChartOnlineStorage'",
            "Or flow shape. Corresponds to ECMA-376 ST_ShapeType 'flowChartOr'",
            "Predefined process flow shape. Corresponds to ECMA-376 ST_ShapeType 'flowChartPredefinedProcess'",
            "Preparation flow shape. Corresponds to ECMA-376 ST_ShapeType 'flowChartPreparation'",
            "Process flow shape. Corresponds to ECMA-376 ST_ShapeType 'flowChartProcess'",
            "Punched card flow shape. Corresponds to ECMA-376 ST_ShapeType 'flowChartPunchedCard'",
            "Punched tape flow shape. Corresponds to ECMA-376 ST_ShapeType 'flowChartPunchedTape'",
            "Sort flow shape. Corresponds to ECMA-376 ST_ShapeType 'flowChartSort'",
            "Summing junction flow shape. Corresponds to ECMA-376 ST_ShapeType 'flowChartSummingJunction'",
            "Terminator flow shape. Corresponds to ECMA-376 ST_ShapeType 'flowChartTerminator'",
            "East arrow shape.",
            "Northeast arrow shape.",
            "North arrow shape.",
            "Speech shape.",
            "Star burst shape.",
            "Teardrop shape. Corresponds to ECMA-376 ST_ShapeType 'teardrop'",
            "Ellipse ribbon shape. Corresponds to ECMA-376 ST_ShapeType 'ellipseRibbon'",
            "Ellipse ribbon 2 shape. Corresponds to ECMA-376 ST_ShapeType 'ellipseRibbon2'",
            "Callout cloud shape. Corresponds to ECMA-376 ST_ShapeType 'cloudCallout'",
            "Custom shape."
          ]
        }
      },
      "description": "Creates a new shape.",
      "type": "object",
      "id": "CreateShapeRequest"
    },
    "AffineTransform": {
      "id": "AffineTransform",
      "description": "AffineTransform uses a 3x3 matrix with an implied last row of [ 0 0 1 ] to transform source coordinates (x,y) into destination coordinates (x', y') according to: x' x = shear_y scale_y translate_y 1 [ 1 ] After transformation, x' = scale_x * x + shear_x * y + translate_x; y' = scale_y * y + shear_y * x + translate_y; This message is therefore composed of these six matrix elements.",
      "type": "object",
      "properties": {
        "shearX": {
          "description": "The X coordinate shearing element.",
          "type": "number",
          "format": "double"
        },
        "scaleY": {
          "description": "The Y coordinate scaling element.",
          "format": "double",
          "type": "number"
        },
        "translateX": {
          "description": "The X coordinate translation element.",
          "type": "number",
          "format": "double"
        },
        "unit": {
          "description": "The units for translate elements.",
          "enumDescriptions": [
            "The units are unknown.",
            "An English Metric Unit (EMU) is defined as 1/360,000 of a centimeter and thus there are 914,400 EMUs per inch, and 12,700 EMUs per point.",
            "A point, 1/72 of an inch."
          ],
          "enum": [
            "UNIT_UNSPECIFIED",
            "EMU",
            "PT"
          ],
          "type": "string"
        },
        "shearY": {
          "description": "The Y coordinate shearing element.",
          "format": "double",
          "type": "number"
        },
        "translateY": {
          "format": "double",
          "type": "number",
          "description": "The Y coordinate translation element."
        },
        "scaleX": {
          "format": "double",
          "description": "The X coordinate scaling element.",
          "type": "number"
        }
      }
    },
    "Group": {
      "id": "Group",
      "description": "A PageElement kind representing a joined collection of PageElements.",
      "properties": {
        "children": {
          "items": {
            "$ref": "PageElement"
          },
          "type": "array",
          "description": "The collection of elements in the group. The minimum size of a group is 2."
        }
      },
      "type": "object"
    },
    "TableCellProperties": {
      "description": "The properties of the TableCell.",
      "type": "object",
      "properties": {
        "contentAlignment": {
          "type": "string",
          "enum": [
            "CONTENT_ALIGNMENT_UNSPECIFIED",
            "CONTENT_ALIGNMENT_UNSUPPORTED",
            "TOP",
            "MIDDLE",
            "BOTTOM"
          ],
          "enumDescriptions": [
            "An unspecified content alignment. The content alignment is inherited from the parent if it exists.",
            "An unsupported content alignment.",
            "An alignment that aligns the content to the top of the content holder. Corresponds to ECMA-376 ST_TextAnchoringType 't'.",
            "An alignment that aligns the content to the middle of the content holder. Corresponds to ECMA-376 ST_TextAnchoringType 'ctr'.",
            "An alignment that aligns the content to the bottom of the content holder. Corresponds to ECMA-376 ST_TextAnchoringType 'b'."
          ],
          "description": "The alignment of the content in the table cell. The default alignment matches the alignment for newly created table cells in the Slides editor."
        },
        "tableCellBackgroundFill": {
          "$ref": "TableCellBackgroundFill",
          "description": "The background fill of the table cell. The default fill matches the fill for newly created table cells in the Slides editor."
        }
      },
      "id": "TableCellProperties"
    },
    "Image": {
      "properties": {
        "imageProperties": {
          "$ref": "ImageProperties",
          "description": "The properties of the image."
        },
        "sourceUrl": {
          "description": "The source URL is the URL used to insert the image. The source URL can be empty.",
          "type": "string"
        },
        "contentUrl": {
          "description": "An URL to an image with a default lifetime of 30 minutes. This URL is tagged with the account of the requester. Anyone with the URL effectively accesses the image as the original requester. Access to the image may be lost if the presentation's sharing settings change.",
          "type": "string"
        },
        "placeholder": {
          "$ref": "Placeholder",
          "description": "Placeholders are page elements that inherit from corresponding placeholders on layouts and masters. If set, the image is a placeholder image and any inherited properties can be resolved by looking at the parent placeholder identified by the Placeholder.parent_object_id field."
        }
      },
      "id": "Image",
      "type": "object",
      "description": "A PageElement kind representing an image."
    },
    "TextContent": {
      "properties": {
        "textElements": {
          "type": "array",
          "description": "The text contents broken down into its component parts, including styling information. This property is read-only.",
          "items": {
            "$ref": "TextElement"
          }
        },
        "lists": {
          "description": "The bulleted lists contained in this text, keyed by list ID.",
          "type": "object",
          "additionalProperties": {
            "$ref": "List"
          }
        }
      },
      "type": "object",
      "description": "The general text content. The text must reside in a compatible shape (e.g. text box or rectangle) or a table cell in a page.",
      "id": "TextContent"
    },
    "TableBorderRow": {
      "type": "object",
      "id": "TableBorderRow",
      "properties": {
        "tableBorderCells": {
          "type": "array",
          "description": "Properties of each border cell. When a border's adjacent table cells are merged, it is not included in the response.",
          "items": {
            "$ref": "TableBorderCell"
          }
        }
      },
      "description": "Contents of each border row in a table."
    },
    "UpdatePageElementAltTextRequest": {
      "type": "object",
      "id": "UpdatePageElementAltTextRequest",
      "properties": {
        "objectId": {
          "type": "string",
          "description": "The object ID of the page element the updates are applied to."
        },
        "title": {
          "type": "string",
          "description": "The updated alt text title of the page element. If unset the existing value will be maintained. The title is exposed to screen readers and other accessibility interfaces. Only use human readable values related to the content of the page element."
        },
        "description": {
          "description": "The updated alt text description of the page element. If unset the existing value will be maintained. The description is exposed to screen readers and other accessibility interfaces. Only use human readable values related to the content of the page element.",
          "type": "string"
        }
      },
      "description": "Updates the alt text title and/or description of a page element."
    },
    "LayoutPlaceholderIdMapping": {
      "properties": {
        "layoutPlaceholderObjectId": {
          "type": "string",
          "description": "The object ID of the placeholder on a layout that will be applied to a slide."
        },
        "objectId": {
          "type": "string",
          "description": "A user-supplied object ID for the placeholder identified above that to be created onto a slide. If you specify an ID, it must be unique among all pages and page elements in the presentation. The ID must start with an alphanumeric character or an underscore (matches regex `[a-zA-Z0-9_]`); remaining characters may include those as well as a hyphen or colon (matches regex `[a-zA-Z0-9_-:]`). The length of the ID must not be less than 5 or greater than 50. If you don't specify an ID, a unique one is generated."
        },
        "layoutPlaceholder": {
          "$ref": "Placeholder",
          "description": "The placeholder on a layout that will be applied to a slide. Only type and index are needed. For example, a predefined `TITLE_AND_BODY` layout may usually have a TITLE placeholder with index 0 and a BODY placeholder with index 0."
        }
      },
      "id": "LayoutPlaceholderIdMapping",
      "description": "The user-specified ID mapping for a placeholder that will be created on a slide from a specified layout.",
      "type": "object"
    },
    "TableRowProperties": {
      "id": "TableRowProperties",
      "description": "Properties of each row in a table.",
      "properties": {
        "minRowHeight": {
          "$ref": "Dimension",
          "description": "Minimum height of the row. The row will be rendered in the Slides editor at a height equal to or greater than this value in order to show all the text in the row's cell(s)."
        }
      },
      "type": "object"
    },
    "CreateSlideRequest": {
      "description": "Creates a slide.",
      "properties": {
        "insertionIndex": {
          "type": "integer",
          "format": "int32",
          "description": "The optional zero-based index indicating where to insert the slides. If you don't specify an index, the slide is created at the end."
        },
        "placeholderIdMappings": {
          "type": "array",
          "description": "An optional list of object ID mappings from the placeholder(s) on the layout to the placeholders that are created on the slide from the specified layout. Can only be used when `slide_layout_reference` is specified.",
          "items": {
            "$ref": "LayoutPlaceholderIdMapping"
          }
        },
        "objectId": {
          "type": "string",
          "description": "A user-supplied object ID. If you specify an ID, it must be unique among all pages and page elements in the presentation. The ID must start with an alphanumeric character or an underscore (matches regex `[a-zA-Z0-9_]`); remaining characters may include those as well as a hyphen or colon (matches regex `[a-zA-Z0-9_-:]`). The ID length must be between 5 and 50 characters, inclusive. If you don't specify an ID, a unique one is generated."
        },
        "slideLayoutReference": {
          "$ref": "LayoutReference",
          "description": "Layout reference of the slide to be inserted, based on the *current master*, which is one of the following: - The master of the previous slide index. - The master of the first slide, if the insertion_index is zero. - The first master in the presentation, if there are no slides. If the LayoutReference is not found in the current master, a 400 bad request error is returned. If you don't specify a layout reference, the slide uses the predefined `BLANK` layout."
        }
      },
      "id": "CreateSlideRequest",
      "type": "object"
    },
    "SheetsChart": {
      "id": "SheetsChart",
      "description": "A PageElement kind representing a linked chart embedded from Google Sheets.",
      "type": "object",
      "properties": {
        "chartId": {
          "type": "integer",
          "description": "The ID of the specific chart in the Google Sheets spreadsheet that is embedded.",
          "format": "int32"
        },
        "spreadsheetId": {
          "description": "The ID of the Google Sheets spreadsheet that contains the source chart.",
          "type": "string"
        },
        "contentUrl": {
          "description": "The URL of an image of the embedded chart, with a default lifetime of 30 minutes. This URL is tagged with the account of the requester. Anyone with the URL effectively accesses the image as the original requester. Access to the image may be lost if the presentation's sharing settings change.",
          "type": "string"
        },
        "sheetsChartProperties": {
          "description": "The properties of the Sheets chart.",
          "$ref": "SheetsChartProperties"
        }
      }
    },
    "BatchUpdatePresentationResponse": {
      "id": "BatchUpdatePresentationResponse",
      "type": "object",
      "description": "Response message from a batch update.",
      "properties": {
        "replies": {
          "description": "The reply of the updates. This maps 1:1 with the updates, although replies to some requests may be empty.",
          "items": {
            "$ref": "Response"
          },
          "type": "array"
        },
        "presentationId": {
          "type": "string",
          "description": "The presentation the updates were applied to."
        },
        "writeControl": {
          "$ref": "WriteControl",
          "description": "The updated write control after applying the request."
        }
      }
    },
    "Thumbnail": {
      "type": "object",
      "description": "The thumbnail of a page.",
      "id": "Thumbnail",
      "properties": {
        "contentUrl": {
          "description": "The content URL of the thumbnail image. The URL to the image has a default lifetime of 30 minutes. This URL is tagged with the account of the requester. Anyone with the URL effectively accesses the image as the original requester. Access to the image may be lost if the presentation's sharing settings change. The mime type of the thumbnail image is the same as specified in the `GetPageThumbnailRequest`.",
          "type": "string"
        },
        "height": {
          "description": "The positive height in pixels of the thumbnail image.",
          "type": "integer",
          "format": "int32"
        },
        "width": {
          "description": "The positive width in pixels of the thumbnail image.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "CreateShapeResponse": {
      "id": "CreateShapeResponse",
      "description": "The result of creating a shape.",
      "type": "object",
      "properties": {
        "objectId": {
          "description": "The object ID of the created shape.",
          "type": "string"
        }
      }
    },
    "LineConnection": {
      "properties": {
        "connectedObjectId": {
          "type": "string",
          "description": "The object ID of the connected page element. Some page elements, such as groups, tables, and lines do not have connection sites and therefore cannot be connected to a connector line."
        },
        "connectionSiteIndex": {
          "format": "int32",
          "type": "integer",
          "description": "The index of the connection site on the connected page element. In most cases, it corresponds to the predefined connection site index from the ECMA-376 standard. More information on those connection sites can be found in the description of the \"cnx\" attribute in section 20.1.9.9 and Annex H. \"Predefined DrawingML Shape and Text Geometries\" of \"Office Open XML File Formats-Fundamentals and Markup Language Reference\", part 1 of [ECMA-376 5th edition] (http://www.ecma-international.org/publications/standards/Ecma-376.htm). The position of each connection site can also be viewed from Slides editor."
        }
      },
      "type": "object",
      "id": "LineConnection",
      "description": "The properties for one end of a Line connection."
    },
    "PageElement": {
      "type": "object",
      "id": "PageElement",
      "description": "A visual element rendered on a page.",
      "properties": {
        "title": {
          "type": "string",
          "description": "The title of the page element. Combined with description to display alt text. The field is not supported for Group elements."
        },
        "table": {
          "description": "A table page element.",
          "$ref": "Table"
        },
        "transform": {
          "description": "The transform of the page element. The visual appearance of the page element is determined by its absolute transform. To compute the absolute transform, preconcatenate a page element's transform with the transforms of all of its parent groups. If the page element is not in a group, its absolute transform is the same as the value in this field. The initial transform for the newly created Group is always the identity transform.",
          "$ref": "AffineTransform"
        },
        "size": {
          "$ref": "Size",
          "description": "The size of the page element."
        },
        "shape": {
          "description": "A generic shape.",
          "$ref": "Shape"
        },
        "description": {
          "type": "string",
          "description": "The description of the page element. Combined with title to display alt text. The field is not supported for Group elements."
        },
        "sheetsChart": {
          "$ref": "SheetsChart",
          "description": "A linked chart embedded from Google Sheets. Unlinked charts are represented as images."
        },
        "wordArt": {
          "description": "A word art page element.",
          "$ref": "WordArt"
        },
        "elementGroup": {
          "$ref": "Group",
          "description": "A collection of page elements joined as a single unit."
        },
        "objectId": {
          "description": "The object ID for this page element. Object IDs used by google.apps.slides.v1.Page and google.apps.slides.v1.PageElement share the same namespace.",
          "type": "string"
        },
        "line": {
          "description": "A line page element.",
          "$ref": "Line"
        },
        "image": {
          "description": "An image page element.",
          "$ref": "Image"
        },
        "video": {
          "$ref": "Video",
          "description": "A video page element."
        }
      }
    },
    "PageBackgroundFill": {
      "id": "PageBackgroundFill",
      "type": "object",
      "properties": {
        "solidFill": {
          "$ref": "SolidFill",
          "description": "Solid color fill."
        },
        "propertyState": {
          "description": "The background fill property state. Updating the fill on a page will implicitly update this field to `RENDERED`, unless another value is specified in the same request. To have no fill on a page, set this field to `NOT_RENDERED`. In this case, any other fill fields set in the same request will be ignored.",
          "enumDescriptions": [
            "If a property's state is RENDERED, then the element has the corresponding property when rendered on a page. If the element is a placeholder shape as determined by the placeholder field, and it inherits from a placeholder shape, the corresponding field may be unset, meaning that the property value is inherited from a parent placeholder. If the element does not inherit, then the field will contain the rendered value. This is the default value.",
            "If a property's state is NOT_RENDERED, then the element does not have the corresponding property when rendered on a page. However, the field may still be set so it can be inherited by child shapes. To remove a property from a rendered element, set its property_state to NOT_RENDERED.",
            "If a property's state is INHERIT, then the property state uses the value of corresponding `property_state` field on the parent shape. Elements that do not inherit will never have an INHERIT property state."
          ],
          "type": "string",
          "enum": [
            "RENDERED",
            "NOT_RENDERED",
            "INHERIT"
          ]
        },
        "stretchedPictureFill": {
          "$ref": "StretchedPictureFill",
          "description": "Stretched picture fill."
        }
      },
      "description": "The page background fill."
    },
    "Request": {
      "type": "object",
      "id": "Request",
      "properties": {
        "updateImageProperties": {
          "$ref": "UpdateImagePropertiesRequest",
          "description": "Updates the properties of an Image."
        },
        "updateSlideProperties": {
          "description": "Updates the properties of a Slide",
          "$ref": "UpdateSlidePropertiesRequest"
        },
        "mergeTableCells": {
          "$ref": "MergeTableCellsRequest",
          "description": "Merges cells in a Table."
        },
        "updateTextStyle": {
          "description": "Updates the styling of text within a Shape or Table.",
          "$ref": "UpdateTextStyleRequest"
        },
        "ungroupObjects": {
          "description": "Ungroups objects, such as groups.",
          "$ref": "UngroupObjectsRequest"
        },
        "unmergeTableCells": {
          "$ref": "UnmergeTableCellsRequest",
          "description": "Unmerges cells in a Table."
        },
        "groupObjects": {
          "$ref": "GroupObjectsRequest",
          "description": "Groups objects, such as page elements."
        },
        "updatePageElementAltText": {
          "description": "Updates the alt text title and/or description of a page element.",
          "$ref": "UpdatePageElementAltTextRequest"
        },
        "createParagraphBullets": {
          "$ref": "CreateParagraphBulletsRequest",
          "description": "Creates bullets for paragraphs."
        },
        "createImage": {
          "$ref": "CreateImageRequest",
          "description": "Creates an image."
        },
        "updateTableCellProperties": {
          "description": "Updates the properties of a TableCell.",
          "$ref": "UpdateTableCellPropertiesRequest"
        },
        "updateTableBorderProperties": {
          "$ref": "UpdateTableBorderPropertiesRequest",
          "description": "Updates the properties of the table borders in a Table."
        },
        "insertText": {
          "$ref": "InsertTextRequest",
          "description": "Inserts text into a shape or table cell."
        },
        "createSlide": {
          "description": "Creates a new slide.",
          "$ref": "CreateSlideRequest"
        },
        "rerouteLine": {
          "$ref": "RerouteLineRequest",
          "description": "Reroutes a line such that it's connected at the two closest connection sites on the connected page elements."
        },
        "deleteTableColumn": {
          "description": "Deletes a column from a table.",
          "$ref": "DeleteTableColumnRequest"
        },
        "deleteObject": {
          "$ref": "DeleteObjectRequest",
          "description": "Deletes a page or page element from the presentation."
        },
        "replaceAllShapesWithSheetsChart": {
          "$ref": "ReplaceAllShapesWithSheetsChartRequest",
          "description": "Replaces all shapes matching some criteria with a Google Sheets chart."
        },
        "deleteText": {
          "$ref": "DeleteTextRequest",
          "description": "Deletes text from a shape or a table cell."
        },
        "updateSlidesPosition": {
          "description": "Updates the position of a set of slides in the presentation.",
          "$ref": "UpdateSlidesPositionRequest"
        },
        "updatePageElementTransform": {
          "description": "Updates the transform of a page element.",
          "$ref": "UpdatePageElementTransformRequest"
        },
        "updateParagraphStyle": {
          "description": "Updates the styling of paragraphs within a Shape or Table.",
          "$ref": "UpdateParagraphStyleRequest"
        },
        "updatePageProperties": {
          "$ref": "UpdatePagePropertiesRequest",
          "description": "Updates the properties of a Page."
        },
        "createSheetsChart": {
          "description": "Creates an embedded Google Sheets chart.",
          "$ref": "CreateSheetsChartRequest"
        },
        "duplicateObject": {
          "$ref": "DuplicateObjectRequest",
          "description": "Duplicates a slide or page element."
        },
        "updateLineProperties": {
          "$ref": "UpdateLinePropertiesRequest",
          "description": "Updates the properties of a Line."
        },
        "refreshSheetsChart": {
          "$ref": "RefreshSheetsChartRequest",
          "description": "Refreshes a Google Sheets chart."
        },
        "updateTableColumnProperties": {
          "$ref": "UpdateTableColumnPropertiesRequest",
          "description": "Updates the properties of a Table column."
        },
        "replaceAllText": {
          "$ref": "ReplaceAllTextRequest",
          "description": "Replaces all instances of specified text."
        },
        "updateVideoProperties": {
          "$ref": "UpdateVideoPropertiesRequest",
          "description": "Updates the properties of a Video."
        },
        "createShape": {
          "$ref": "CreateShapeRequest",
          "description": "Creates a new shape."
        },
        "deleteParagraphBullets": {
          "$ref": "DeleteParagraphBulletsRequest",
          "description": "Deletes bullets from paragraphs."
        },
        "createLine": {
          "$ref": "CreateLineRequest",
          "description": "Creates a line."
        },
        "replaceAllShapesWithImage": {
          "$ref": "ReplaceAllShapesWithImageRequest",
          "description": "Replaces all shapes matching some criteria with an image."
        },
        "deleteTableRow": {
          "$ref": "DeleteTableRowRequest",
          "description": "Deletes a row from a table."
        },
        "updateTableRowProperties": {
          "description": "Updates the properties of a Table row.",
          "$ref": "UpdateTableRowPropertiesRequest"
        },
        "createVideo": {
          "description": "Creates a video.",
          "$ref": "CreateVideoRequest"
        },
        "updateShapeProperties": {
          "description": "Updates the properties of a Shape.",
          "$ref": "UpdateShapePropertiesRequest"
        },
        "insertTableRows": {
          "$ref": "InsertTableRowsRequest",
          "description": "Inserts rows into a table."
        },
        "replaceImage": {
          "description": "Replaces an existing image with a new image.",
          "$ref": "ReplaceImageRequest"
        },
        "createTable": {
          "$ref": "CreateTableRequest",
          "description": "Creates a new table."
        },
        "insertTableColumns": {
          "description": "Inserts columns into a table.",
          "$ref": "InsertTableColumnsRequest"
        },
        "updateLineCategory": {
          "$ref": "UpdateLineCategoryRequest",
          "description": "Updates the category of a line."
        },
        "updatePageElementsZOrder": {
          "$ref": "UpdatePageElementsZOrderRequest",
          "description": "Updates the Z-order of page elements."
        }
      },
      "description": "A single kind of update to apply to a presentation."
    },
    "UpdateLinePropertiesRequest": {
      "type": "object",
      "description": "Updates the properties of a Line.",
      "properties": {
        "fields": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "The fields that should be updated. At least one field must be specified. The root `lineProperties` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the line solid fill color, set `fields` to `\"lineFill.solidFill.color\"`. To reset a property to its default value, include its field name in the field mask but leave the field itself unset."
        },
        "objectId": {
          "type": "string",
          "description": "The object ID of the line the update is applied to."
        },
        "lineProperties": {
          "$ref": "LineProperties",
          "description": "The line properties to update."
        }
      },
      "id": "UpdateLinePropertiesRequest"
    },
    "UpdatePageElementsZOrderRequest": {
      "id": "UpdatePageElementsZOrderRequest",
      "description": "Updates the Z-order of page elements. Z-order is an ordering of the elements on the page from back to front. The page element in the front may cover the elements that are behind it.",
      "properties": {
        "pageElementObjectIds": {
          "description": "The object IDs of the page elements to update. All the page elements must be on the same page and must not be grouped.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "operation": {
          "enum": [
            "Z_ORDER_OPERATION_UNSPECIFIED",
            "BRING_TO_FRONT",
            "BRING_FORWARD",
            "SEND_BACKWARD",
            "SEND_TO_BACK"
          ],
          "type": "string",
          "description": "The Z-order operation to apply on the page elements. When applying the operation on multiple page elements, the relative Z-orders within these page elements before the operation is maintained.",
          "enumDescriptions": [
            "Unspecified operation.",
            "Brings the page elements to the front of the page.",
            "Brings the page elements forward on the page by one element relative to the forwardmost one in the specified page elements.",
            "Sends the page elements backward on the page by one element relative to the furthest behind one in the specified page elements.",
            "Sends the page elements to the back of the page."
          ]
        }
      },
      "type": "object"
    },
    "UpdateTableRowPropertiesRequest": {
      "properties": {
        "fields": {
          "type": "string",
          "description": "The fields that should be updated. At least one field must be specified. The root `tableRowProperties` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the minimum row height, set `fields` to `\"min_row_height\"`. If '\"min_row_height\"' is included in the field mask but the property is left unset, the minimum row height will default to 0.",
          "format": "google-fieldmask"
        },
        "objectId": {
          "type": "string",
          "description": "The object ID of the table."
        },
        "rowIndices": {
          "type": "array",
          "description": "The list of zero-based indices specifying which rows to update. If no indices are provided, all rows in the table will be updated.",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        },
        "tableRowProperties": {
          "description": "The table row properties to update.",
          "$ref": "TableRowProperties"
        }
      },
      "type": "object",
      "id": "UpdateTableRowPropertiesRequest",
      "description": "Updates the properties of a Table row."
    },
    "CreateTableResponse": {
      "properties": {
        "objectId": {
          "description": "The object ID of the created table.",
          "type": "string"
        }
      },
      "description": "The result of creating a table.",
      "type": "object",
      "id": "CreateTableResponse"
    },
    "SolidFill": {
      "properties": {
        "color": {
          "$ref": "OpaqueColor",
          "description": "The color value of the solid fill."
        },
        "alpha": {
          "format": "float",
          "type": "number",
          "description": "The fraction of this `color` that should be applied to the pixel. That is, the final pixel color is defined by the equation: pixel color = alpha * (color) + (1.0 - alpha) * (background color) This means that a value of 1.0 corresponds to a solid color, whereas a value of 0.0 corresponds to a completely transparent color."
        }
      },
      "id": "SolidFill",
      "description": "A solid color fill. The page or page element is filled entirely with the specified color value. If any field is unset, its value may be inherited from a parent placeholder if it exists.",
      "type": "object"
    },
    "ColorStop": {
      "id": "ColorStop",
      "type": "object",
      "properties": {
        "color": {
          "description": "The color of the gradient stop.",
          "$ref": "OpaqueColor"
        },
        "position": {
          "type": "number",
          "format": "float",
          "description": "The relative position of the color stop in the gradient band measured in percentage. The value should be in the interval [0.0, 1.0]."
        },
        "alpha": {
          "type": "number",
          "format": "float",
          "description": "The alpha value of this color in the gradient band. Defaults to 1.0, fully opaque."
        }
      },
      "description": "A color and position in a gradient band."
    },
    "CropProperties": {
      "description": "The crop properties of an object enclosed in a container. For example, an Image. The crop properties is represented by the offsets of four edges which define a crop rectangle. The offsets are measured in percentage from the corresponding edges of the object's original bounding rectangle towards inside, relative to the object's original dimensions. - If the offset is in the interval (0, 1), the corresponding edge of crop rectangle is positioned inside of the object's original bounding rectangle. - If the offset is negative or greater than 1, the corresponding edge of crop rectangle is positioned outside of the object's original bounding rectangle. - If the left edge of the crop rectangle is on the right side of its right edge, the object will be flipped horizontally. - If the top edge of the crop rectangle is below its bottom edge, the object will be flipped vertically. - If all offsets and rotation angle is 0, the object is not cropped. After cropping, the content in the crop rectangle will be stretched to fit its container.",
      "type": "object",
      "id": "CropProperties",
      "properties": {
        "leftOffset": {
          "format": "float",
          "description": "The offset specifies the left edge of the crop rectangle that is located to the right of the original bounding rectangle left edge, relative to the object's original width.",
          "type": "number"
        },
        "topOffset": {
          "type": "number",
          "description": "The offset specifies the top edge of the crop rectangle that is located below the original bounding rectangle top edge, relative to the object's original height.",
          "format": "float"
        },
        "bottomOffset": {
          "type": "number",
          "format": "float",
          "description": "The offset specifies the bottom edge of the crop rectangle that is located above the original bounding rectangle bottom edge, relative to the object's original height."
        },
        "rightOffset": {
          "type": "number",
          "description": "The offset specifies the right edge of the crop rectangle that is located to the left of the original bounding rectangle right edge, relative to the object's original width.",
          "format": "float"
        },
        "angle": {
          "type": "number",
          "format": "float",
          "description": "The rotation angle of the crop window around its center, in radians. Rotation angle is applied after the offset."
        }
      }
    },
    "UpdateTextStyleRequest": {
      "description": "Update the styling of text in a Shape or Table.",
      "id": "UpdateTextStyleRequest",
      "type": "object",
      "properties": {
        "objectId": {
          "type": "string",
          "description": "The object ID of the shape or table with the text to be styled."
        },
        "cellLocation": {
          "description": "The location of the cell in the table containing the text to style. If `object_id` refers to a table, `cell_location` must have a value. Otherwise, it must not.",
          "$ref": "TableCellLocation"
        },
        "textRange": {
          "$ref": "Range",
          "description": "The range of text to style. The range may be extended to include adjacent newlines. If the range fully contains a paragraph belonging to a list, the paragraph's bullet is also updated with the matching text style."
        },
        "style": {
          "$ref": "TextStyle",
          "description": "The style(s) to set on the text. If the value for a particular style matches that of the parent, that style will be set to inherit. Certain text style changes may cause other changes meant to mirror the behavior of the Slides editor. See the documentation of TextStyle for more information."
        },
        "fields": {
          "description": "The fields that should be updated. At least one field must be specified. The root `style` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example, to update the text style to bold, set `fields` to `\"bold\"`. To reset a property to its default value, include its field name in the field mask but leave the field itself unset.",
          "type": "string",
          "format": "google-fieldmask"
        }
      }
    },
    "ParagraphMarker": {
      "properties": {
        "style": {
          "description": "The paragraph's style",
          "$ref": "ParagraphStyle"
        },
        "bullet": {
          "$ref": "Bullet",
          "description": "The bullet for this paragraph. If not present, the paragraph does not belong to a list."
        }
      },
      "description": "A TextElement kind that represents the beginning of a new paragraph.",
      "type": "object",
      "id": "ParagraphMarker"
    },
    "ImageProperties": {
      "type": "object",
      "properties": {
        "cropProperties": {
          "description": "The crop properties of the image. If not set, the image is not cropped. This property is read-only.",
          "$ref": "CropProperties"
        },
        "outline": {
          "$ref": "Outline",
          "description": "The outline of the image. If not set, the image has no outline."
        },
        "recolor": {
          "$ref": "Recolor",
          "description": "The recolor effect of the image. If not set, the image is not recolored. This property is read-only."
        },
        "brightness": {
          "format": "float",
          "type": "number",
          "description": "The brightness effect of the image. The value should be in the interval [-1.0, 1.0], where 0 means no effect. This property is read-only."
        },
        "link": {
          "description": "The hyperlink destination of the image. If unset, there is no link.",
          "$ref": "Link"
        },
        "transparency": {
          "description": "The transparency effect of the image. The value should be in the interval [0.0, 1.0], where 0 means no effect and 1 means completely transparent. This property is read-only.",
          "type": "number",
          "format": "float"
        },
        "shadow": {
          "description": "The shadow of the image. If not set, the image has no shadow. This property is read-only.",
          "$ref": "Shadow"
        },
        "contrast": {
          "type": "number",
          "description": "The contrast effect of the image. The value should be in the interval [-1.0, 1.0], where 0 means no effect. This property is read-only.",
          "format": "float"
        }
      },
      "id": "ImageProperties",
      "description": "The properties of the Image."
    },
    "GroupObjectsResponse": {
      "description": "The result of grouping objects.",
      "type": "object",
      "id": "GroupObjectsResponse",
      "properties": {
        "objectId": {
          "description": "The object ID of the created group.",
          "type": "string"
        }
      }
    },
    "PageElementProperties": {
      "type": "object",
      "id": "PageElementProperties",
      "properties": {
        "transform": {
          "description": "The transform for the element.",
          "$ref": "AffineTransform"
        },
        "pageObjectId": {
          "type": "string",
          "description": "The object ID of the page where the element is located."
        },
        "size": {
          "description": "The size of the element.",
          "$ref": "Size"
        }
      },
      "description": "Common properties for a page element. Note: When you initially create a PageElement, the API may modify the values of both `size` and `transform`, but the visual size will be unchanged."
    },
    "AutoText": {
      "id": "AutoText",
      "description": "A TextElement kind that represents auto text.",
      "type": "object",
      "properties": {
        "type": {
          "enumDescriptions": [
            "An unspecified autotext type.",
            "Type for autotext that represents the current slide number."
          ],
          "type": "string",
          "description": "The type of this auto text.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "SLIDE_NUMBER"
          ]
        },
        "style": {
          "$ref": "TextStyle",
          "description": "The styling applied to this auto text."
        },
        "content": {
          "description": "The rendered content of this auto text, if available.",
          "type": "string"
        }
      }
    },
    "UpdatePagePropertiesRequest": {
      "id": "UpdatePagePropertiesRequest",
      "description": "Updates the properties of a Page.",
      "properties": {
        "objectId": {
          "type": "string",
          "description": "The object ID of the page the update is applied to."
        },
        "pageProperties": {
          "description": "The page properties to update.",
          "$ref": "PageProperties"
        },
        "fields": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "The fields that should be updated. At least one field must be specified. The root `pageProperties` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the page background solid fill color, set `fields` to `\"pageBackgroundFill.solidFill.color\"`. To reset a property to its default value, include its field name in the field mask but leave the field itself unset."
        }
      },
      "type": "object"
    },
    "CreateVideoResponse": {
      "description": "The result of creating a video.",
      "properties": {
        "objectId": {
          "description": "The object ID of the created video.",
          "type": "string"
        }
      },
      "id": "CreateVideoResponse",
      "type": "object"
    },
    "CreateLineRequest": {
      "properties": {
        "lineCategory": {
          "enum": [
            "STRAIGHT",
            "BENT",
            "CURVED"
          ],
          "type": "string",
          "description": "The category of the line to be created. *Deprecated*: use `category` instead. The exact line type created is determined based on the category and how it's routed to connect to other page elements. If you specify both a `category` and a `line_category`, the `category` takes precedence.",
          "enumDescriptions": [
            "Straight connectors, including straight connector 1. The is the default category when one is not specified.",
            "Bent connectors, including bent connector 2 to 5.",
            "Curved connectors, including curved connector 2 to 5."
          ]
        },
        "elementProperties": {
          "$ref": "PageElementProperties",
          "description": "The element properties for the line."
        },
        "category": {
          "type": "string",
          "enum": [
            "LINE_CATEGORY_UNSPECIFIED",
            "STRAIGHT",
            "BENT",
            "CURVED"
          ],
          "enumDescriptions": [
            "Unspecified line category.",
            "Straight connectors, including straight connector 1.",
            "Bent connectors, including bent connector 2 to 5.",
            "Curved connectors, including curved connector 2 to 5."
          ],
          "description": "The category of the line to be created. The exact line type created is determined based on the category and how it's routed to connect to other page elements. If you specify both a `category` and a `line_category`, the `category` takes precedence. If you do not specify a value for `category`, but specify a value for `line_category`, then the specified `line_category` value is used. If you do not specify either, then STRAIGHT is used."
        },
        "objectId": {
          "description": "A user-supplied object ID. If you specify an ID, it must be unique among all pages and page elements in the presentation. The ID must start with an alphanumeric character or an underscore (matches regex `[a-zA-Z0-9_]`); remaining characters may include those as well as a hyphen or colon (matches regex `[a-zA-Z0-9_-:]`). The length of the ID must not be less than 5 or greater than 50. If you don't specify an ID, a unique one is generated.",
          "type": "string"
        }
      },
      "id": "CreateLineRequest",
      "description": "Creates a line.",
      "type": "object"
    },
    "TextStyle": {
      "description": "Represents the styling that can be applied to a TextRun. If this text is contained in a shape with a parent placeholder, then these text styles may be inherited from the parent. Which text styles are inherited depend on the nesting level of lists: * A text run in a paragraph that is not in a list will inherit its text style from the the newline character in the paragraph at the 0 nesting level of the list inside the parent placeholder. * A text run in a paragraph that is in a list will inherit its text style from the newline character in the paragraph at its corresponding nesting level of the list inside the parent placeholder. Inherited text styles are represented as unset fields in this message. If text is contained in a shape without a parent placeholder, unsetting these fields will revert the style to a value matching the defaults in the Slides editor.",
      "properties": {
        "strikethrough": {
          "description": "Whether or not the text is struck through.",
          "type": "boolean"
        },
        "fontFamily": {
          "type": "string",
          "description": "The font family of the text. The font family can be any font from the Font menu in Slides or from [Google Fonts] (https://fonts.google.com/). If the font name is unrecognized, the text is rendered in `Arial`. Some fonts can affect the weight of the text. If an update request specifies values for both `font_family` and `bold`, the explicitly-set `bold` value is used."
        },
        "baselineOffset": {
          "enum": [
            "BASELINE_OFFSET_UNSPECIFIED",
            "NONE",
            "SUPERSCRIPT",
            "SUBSCRIPT"
          ],
          "type": "string",
          "enumDescriptions": [
            "The text's baseline offset is inherited from the parent.",
            "The text is not vertically offset.",
            "The text is vertically offset upwards (superscript).",
            "The text is vertically offset downwards (subscript)."
          ],
          "description": "The text's vertical offset from its normal position. Text with `SUPERSCRIPT` or `SUBSCRIPT` baseline offsets is automatically rendered in a smaller font size, computed based on the `font_size` field. The `font_size` itself is not affected by changes in this field."
        },
        "underline": {
          "description": "Whether or not the text is underlined.",
          "type": "boolean"
        },
        "bold": {
          "type": "boolean",
          "description": "Whether or not the text is rendered as bold."
        },
        "fontSize": {
          "description": "The size of the text's font. When read, the `font_size` will specified in points.",
          "$ref": "Dimension"
        },
        "backgroundColor": {
          "$ref": "OptionalColor",
          "description": "The background color of the text. If set, the color is either opaque or transparent, depending on if the `opaque_color` field in it is set."
        },
        "italic": {
          "description": "Whether or not the text is italicized.",
          "type": "boolean"
        },
        "link": {
          "description": "The hyperlink destination of the text. If unset, there is no link. Links are not inherited from parent text. Changing the link in an update request causes some other changes to the text style of the range: * When setting a link, the text foreground color will be set to ThemeColorType.HYPERLINK and the text will be underlined. If these fields are modified in the same request, those values will be used instead of the link defaults. * Setting a link on a text range that overlaps with an existing link will also update the existing link to point to the new URL. * Links are not settable on newline characters. As a result, setting a link on a text range that crosses a paragraph boundary, such as `\"ABC\\n123\"`, will separate the newline character(s) into their own text runs. The link will be applied separately to the runs before and after the newline. * Removing a link will update the text style of the range to match the style of the preceding text (or the default text styles if the preceding text is another link) unless different styles are being set in the same request.",
          "$ref": "Link"
        },
        "weightedFontFamily": {
[...]
