{
  "discoveryVersion": "v1",
  "resources": {
    "presentations": {
      "methods": {
        "get": {
          "id": "slides.presentations.get",
          "parameterOrder": [
            "presentationId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/presentations",
            "https://www.googleapis.com/auth/presentations.readonly"
          ],
          "parameters": {
            "presentationId": {
              "type": "string",
              "required": true,
              "pattern": "^[^/]+$",
              "description": "The ID of the presentation to retrieve.",
              "location": "path"
            }
          },
          "description": "Gets the latest version of the specified presentation.",
          "path": "v1/presentations/{+presentationId}",
          "httpMethod": "GET",
          "response": {
            "$ref": "Presentation"
          },
          "flatPath": "v1/presentations/{presentationsId}"
        },
        "batchUpdate": {
          "parameterOrder": [
            "presentationId"
          ],
          "request": {
            "$ref": "BatchUpdatePresentationRequest"
          },
          "path": "v1/presentations/{presentationId}:batchUpdate",
          "flatPath": "v1/presentations/{presentationId}:batchUpdate",
          "httpMethod": "POST",
          "response": {
            "$ref": "BatchUpdatePresentationResponse"
          },
          "parameters": {
            "presentationId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The presentation to apply the updates to."
            }
          },
          "description": "Applies one or more updates to the presentation. Each request is validated before being applied. If any request is not valid, then the entire request will fail and nothing will be applied. Some requests have replies to give you some information about how they are applied. Other requests do not need to return information; these each return an empty reply. The order of replies matches that of the requests. For example, suppose you call batchUpdate with four updates, and only the third one returns information. The response would have two empty replies: the reply to the third request, and another empty reply, in that order. Because other users may be editing the presentation, the presentation might not exactly reflect your changes: your changes may be altered with respect to collaborator changes. If there are no collaborators, the presentation should reflect your changes. In any case, the updates in your request are guaranteed to be applied together atomically.",
          "id": "slides.presentations.batchUpdate",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.readonly",
            "https://www.googleapis.com/auth/presentations",
            "https://www.googleapis.com/auth/spreadsheets",
            "https://www.googleapis.com/auth/spreadsheets.readonly"
          ]
        },
        "create": {
          "flatPath": "v1/presentations",
          "httpMethod": "POST",
          "id": "slides.presentations.create",
          "request": {
            "$ref": "Presentation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/presentations"
          ],
          "parameters": {},
          "path": "v1/presentations",
          "description": "Creates a blank presentation using the title given in the request. If a `presentationId` is provided, it is used as the ID of the new presentation. Otherwise, a new ID is generated. Other fields in the request, including any provided content, are ignored. Returns the created presentation.",
          "response": {
            "$ref": "Presentation"
          },
          "parameterOrder": []
        }
      },
      "resources": {
        "pages": {
          "methods": {
            "get": {
              "parameterOrder": [
                "presentationId",
                "pageObjectId"
              ],
              "parameters": {
                "pageObjectId": {
                  "type": "string",
                  "required": true,
                  "description": "The object ID of the page to retrieve.",
                  "location": "path"
                },
                "presentationId": {
                  "description": "The ID of the presentation to retrieve.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "id": "slides.presentations.pages.get",
              "response": {
                "$ref": "Page"
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/drive.readonly",
                "https://www.googleapis.com/auth/presentations",
                "https://www.googleapis.com/auth/presentations.readonly"
              ],
              "flatPath": "v1/presentations/{presentationId}/pages/{pageObjectId}",
              "description": "Gets the latest version of the specified page in the presentation.",
              "path": "v1/presentations/{presentationId}/pages/{pageObjectId}"
            },
            "getThumbnail": {
              "path": "v1/presentations/{presentationId}/pages/{pageObjectId}/thumbnail",
              "response": {
                "$ref": "Thumbnail"
              },
              "httpMethod": "GET",
              "id": "slides.presentations.pages.getThumbnail",
              "flatPath": "v1/presentations/{presentationId}/pages/{pageObjectId}/thumbnail",
              "scopes": [
                "https://www.googleapis.com/auth/drive",
                "https://www.googleapis.com/auth/drive.file",
                "https://www.googleapis.com/auth/drive.readonly",
                "https://www.googleapis.com/auth/presentations",
                "https://www.googleapis.com/auth/presentations.readonly"
              ],
              "description": "Generates a thumbnail of the latest version of the specified page in the presentation and returns a URL to the thumbnail image. This request counts as an [expensive read request](/slides/limits) for quota purposes.",
              "parameters": {
                "pageObjectId": {
                  "type": "string",
                  "location": "path",
                  "description": "The object ID of the page whose thumbnail to retrieve.",
                  "required": true
                },
                "presentationId": {
                  "description": "The ID of the presentation to retrieve.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "thumbnailProperties.mimeType": {
                  "location": "query",
                  "type": "string",
                  "description": "The optional mime type of the thumbnail image. If you don't specify the mime type, the mime type defaults to PNG.",
                  "enumDescriptions": [
                    "The default mime type."
                  ],
                  "enum": [
                    "PNG"
                  ]
                },
                "thumbnailProperties.thumbnailSize": {
                  "enum": [
                    "THUMBNAIL_SIZE_UNSPECIFIED",
                    "LARGE",
                    "MEDIUM",
                    "SMALL"
                  ],
                  "enumDescriptions": [
                    "The default thumbnail image size. The unspecified thumbnail size implies that the server chooses the size of the image in a way that might vary in the future.",
                    "The thumbnail image width of 1600px.",
                    "The thumbnail image width of 800px.",
                    "The thumbnail image width of 200px."
                  ],
                  "type": "string",
                  "location": "query",
                  "description": "The optional thumbnail image size. If you don't specify the size, the server chooses a default size of the image."
                }
              },
              "parameterOrder": [
                "presentationId",
                "pageObjectId"
              ]
            }
          }
        }
      }
    }
  },
  "canonicalName": "Slides",
  "basePath": "",
  "ownerDomain": "google.com",
  "kind": "discovery#restDescription",
  "schemas": {
    "Autofit": {
      "type": "object",
      "properties": {
        "fontScale": {
          "description": "The font scale applied to the shape. For shapes with autofit_type NONE or SHAPE_AUTOFIT, this value is the default value of 1. For TEXT_AUTOFIT, this value multiplied by the font_size gives the font size that is rendered in the editor. This property is read-only.",
          "type": "number",
          "format": "float"
        },
        "lineSpacingReduction": {
          "format": "float",
          "type": "number",
          "description": "The line spacing reduction applied to the shape. For shapes with autofit_type NONE or SHAPE_AUTOFIT, this value is the default value of 0. For TEXT_AUTOFIT, this value subtracted from the line_spacing gives the line spacing that is rendered in the editor. This property is read-only."
        },
        "autofitType": {
          "description": "The autofit type of the shape. If the autofit type is AUTOFIT_TYPE_UNSPECIFIED, the autofit type is inherited from a parent placeholder if it exists. The field is automatically set to NONE if a request is made that might affect text fitting within its bounding text box. In this case the font_scale is applied to the font_size and the line_spacing_reduction is applied to the line_spacing. Both properties are also reset to default values.",
          "enum": [
            "AUTOFIT_TYPE_UNSPECIFIED",
            "NONE",
            "TEXT_AUTOFIT",
            "SHAPE_AUTOFIT"
          ],
          "enumDescriptions": [
            "The autofit type is unspecified.",
            "Do not autofit.",
            "Shrink text on overflow to fit the shape.",
            "Resize the shape to fit the text."
          ],
          "type": "string"
        }
      },
      "id": "Autofit",
      "description": "The autofit properties of a Shape."
    },
    "PageBackgroundFill": {
      "description": "The page background fill.",
      "properties": {
        "solidFill": {
          "description": "Solid color fill.",
          "$ref": "SolidFill"
        },
        "propertyState": {
          "type": "string",
          "enum": [
            "RENDERED",
            "NOT_RENDERED",
            "INHERIT"
          ],
          "description": "The background fill property state. Updating the fill on a page will implicitly update this field to `RENDERED`, unless another value is specified in the same request. To have no fill on a page, set this field to `NOT_RENDERED`. In this case, any other fill fields set in the same request will be ignored.",
          "enumDescriptions": [
            "If a property's state is RENDERED, then the element has the corresponding property when rendered on a page. If the element is a placeholder shape as determined by the placeholder field, and it inherits from a placeholder shape, the corresponding field may be unset, meaning that the property value is inherited from a parent placeholder. If the element does not inherit, then the field will contain the rendered value. This is the default value.",
            "If a property's state is NOT_RENDERED, then the element does not have the corresponding property when rendered on a page. However, the field may still be set so it can be inherited by child shapes. To remove a property from a rendered element, set its property_state to NOT_RENDERED.",
            "If a property's state is INHERIT, then the property state uses the value of corresponding `property_state` field on the parent shape. Elements that do not inherit will never have an INHERIT property state."
          ]
        },
        "stretchedPictureFill": {
          "description": "Stretched picture fill.",
          "$ref": "StretchedPictureFill"
        }
      },
      "id": "PageBackgroundFill",
      "type": "object"
    },
    "DeleteTableColumnRequest": {
      "properties": {
        "cellLocation": {
          "description": "The reference table cell location from which a column will be deleted. The column this cell spans will be deleted. If this is a merged cell, multiple columns will be deleted. If no columns remain in the table after this deletion, the whole table is deleted.",
          "$ref": "TableCellLocation"
        },
        "tableObjectId": {
          "description": "The table to delete columns from.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Deletes a column from a table.",
      "id": "DeleteTableColumnRequest"
    },
    "CreateSheetsChartRequest": {
      "properties": {
        "elementProperties": {
          "description": "The element properties for the chart. When the aspect ratio of the provided size does not match the chart aspect ratio, the chart is scaled and centered with respect to the size in order to maintain aspect ratio. The provided transform is applied after this operation.",
          "$ref": "PageElementProperties"
        },
        "chartId": {
          "format": "int32",
          "description": "The ID of the specific chart in the Google Sheets spreadsheet.",
          "type": "integer"
        },
        "objectId": {
          "description": "A user-supplied object ID. If specified, the ID must be unique among all pages and page elements in the presentation. The ID should start with a word character [a-zA-Z0-9_] and then followed by any number of the following characters [a-zA-Z0-9_-:]. The length of the ID should not be less than 5 or greater than 50. If empty, a unique identifier will be generated.",
          "type": "string"
        },
        "linkingMode": {
          "description": "The mode with which the chart is linked to the source spreadsheet. When not specified, the chart will be an image that is not linked.",
          "enum": [
            "NOT_LINKED_IMAGE",
            "LINKED"
          ],
          "enumDescriptions": [
            "The chart is not associated with the source spreadsheet and cannot be updated. A chart that is not linked will be inserted as an image.",
            "Linking the chart allows it to be updated, and other collaborators will see a link to the spreadsheet."
          ],
          "type": "string"
        },
        "spreadsheetId": {
          "description": "The ID of the Google Sheets spreadsheet that contains the chart. You might need to add a resource key to the HTTP header for a subset of old files. For more information, see [Access link-shared files using resource keys](https://developers.google.com/drive/api/v3/resource-keys).",
          "type": "string"
        }
      },
      "id": "CreateSheetsChartRequest",
      "type": "object",
      "description": "Creates an embedded Google Sheets chart. NOTE: Chart creation requires at least one of the spreadsheets.readonly, spreadsheets, drive.readonly, drive.file, or drive OAuth scopes."
    },
    "MasterProperties": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The human-readable name of the master."
        }
      },
      "type": "object",
      "description": "The properties of Page that are only relevant for pages with page_type MASTER.",
      "id": "MasterProperties"
    },
    "UpdateTableCellPropertiesRequest": {
      "properties": {
        "tableRange": {
          "$ref": "TableRange",
          "description": "The table range representing the subset of the table to which the updates are applied. If a table range is not specified, the updates will apply to the entire table."
        },
        "tableCellProperties": {
          "$ref": "TableCellProperties",
          "description": "The table cell properties to update."
        },
        "fields": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "The fields that should be updated. At least one field must be specified. The root `tableCellProperties` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the table cell background solid fill color, set `fields` to `\"tableCellBackgroundFill.solidFill.color\"`. To reset a property to its default value, include its field name in the field mask but leave the field itself unset."
        },
        "objectId": {
          "type": "string",
          "description": "The object ID of the table."
        }
      },
      "description": "Update the properties of a TableCell.",
      "type": "object",
      "id": "UpdateTableCellPropertiesRequest"
    },
    "Range": {
      "type": "object",
      "id": "Range",
      "properties": {
        "endIndex": {
          "type": "integer",
          "format": "int32",
          "description": "The optional zero-based index of the end of the collection. Required for `FIXED_RANGE` ranges."
        },
        "startIndex": {
          "type": "integer",
          "description": "The optional zero-based index of the beginning of the collection. Required for `FIXED_RANGE` and `FROM_START_INDEX` ranges.",
          "format": "int32"
        },
        "type": {
          "type": "string",
          "description": "The type of range.",
          "enum": [
            "RANGE_TYPE_UNSPECIFIED",
            "FIXED_RANGE",
            "FROM_START_INDEX",
            "ALL"
          ],
          "enumDescriptions": [
            "Unspecified range type. This value must not be used.",
            "A fixed range. Both the `start_index` and `end_index` must be specified.",
            "Starts the range at `start_index` and continues until the end of the collection. The `end_index` must not be specified.",
            "Sets the range to be the whole length of the collection. Both the `start_index` and the `end_index` must not be specified."
          ]
        }
      },
      "description": "Specifies a contiguous range of an indexed collection, such as characters in text."
    },
    "ReplaceAllShapesWithSheetsChartResponse": {
      "description": "The result of replacing shapes with a Google Sheets chart.",
      "id": "ReplaceAllShapesWithSheetsChartResponse",
      "type": "object",
      "properties": {
        "occurrencesChanged": {
          "format": "int32",
          "description": "The number of shapes replaced with charts.",
          "type": "integer"
        }
      }
    },
    "OpaqueColor": {
      "properties": {
        "rgbColor": {
          "$ref": "RgbColor",
          "description": "An opaque RGB color."
        },
        "themeColor": {
          "type": "string",
          "description": "An opaque theme color.",
          "enumDescriptions": [
            "Unspecified theme color. This value should not be used.",
            "Represents the first dark color.",
            "Represents the first light color.",
            "Represents the second dark color.",
            "Represents the second light color.",
            "Represents the first accent color.",
            "Represents the second accent color.",
            "Represents the third accent color.",
            "Represents the fourth accent color.",
            "Represents the fifth accent color.",
            "Represents the sixth accent color.",
            "Represents the color to use for hyperlinks.",
            "Represents the color to use for visited hyperlinks.",
            "Represents the first text color.",
            "Represents the first background color.",
            "Represents the second text color.",
            "Represents the second background color."
          ],
          "enum": [
            "THEME_COLOR_TYPE_UNSPECIFIED",
            "DARK1",
            "LIGHT1",
            "DARK2",
            "LIGHT2",
            "ACCENT1",
            "ACCENT2",
            "ACCENT3",
            "ACCENT4",
            "ACCENT5",
            "ACCENT6",
            "HYPERLINK",
            "FOLLOWED_HYPERLINK",
            "TEXT1",
            "BACKGROUND1",
            "TEXT2",
            "BACKGROUND2"
          ]
        }
      },
      "id": "OpaqueColor",
      "type": "object",
      "description": "A themeable solid color value."
    },
    "SheetsChart": {
      "properties": {
        "chartId": {
          "description": "The ID of the specific chart in the Google Sheets spreadsheet that is embedded.",
          "format": "int32",
          "type": "integer"
        },
        "contentUrl": {
          "type": "string",
          "description": "The URL of an image of the embedded chart, with a default lifetime of 30 minutes. This URL is tagged with the account of the requester. Anyone with the URL effectively accesses the image as the original requester. Access to the image may be lost if the presentation's sharing settings change."
        },
        "spreadsheetId": {
          "type": "string",
          "description": "The ID of the Google Sheets spreadsheet that contains the source chart."
        },
        "sheetsChartProperties": {
          "description": "The properties of the Sheets chart.",
          "$ref": "SheetsChartProperties"
        }
      },
      "id": "SheetsChart",
      "type": "object",
      "description": "A PageElement kind representing a linked chart embedded from Google Sheets."
    },
    "LineFill": {
      "description": "The fill of the line.",
      "properties": {
        "solidFill": {
          "description": "Solid color fill.",
          "$ref": "SolidFill"
        }
      },
      "type": "object",
      "id": "LineFill"
    },
    "UpdateTableColumnPropertiesRequest": {
      "description": "Updates the properties of a Table column.",
      "properties": {
        "objectId": {
          "type": "string",
          "description": "The object ID of the table."
        },
        "tableColumnProperties": {
          "$ref": "TableColumnProperties",
          "description": "The table column properties to update. If the value of `table_column_properties#column_width` in the request is less than 406,400 EMU (32 points), a 400 bad request error is returned."
        },
        "fields": {
          "description": "The fields that should be updated. At least one field must be specified. The root `tableColumnProperties` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the column width, set `fields` to `\"column_width\"`. If '\"column_width\"' is included in the field mask but the property is left unset, the column width will default to 406,400 EMU (32 points).",
          "type": "string",
          "format": "google-fieldmask"
        },
        "columnIndices": {
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "description": "The list of zero-based indices specifying which columns to update. If no indices are provided, all columns in the table will be updated.",
          "type": "array"
        }
      },
      "id": "UpdateTableColumnPropertiesRequest",
      "type": "object"
    },
    "TableCellBackgroundFill": {
      "type": "object",
      "description": "The table cell background fill.",
      "id": "TableCellBackgroundFill",
      "properties": {
        "propertyState": {
          "type": "string",
          "description": "The background fill property state. Updating the fill on a table cell will implicitly update this field to `RENDERED`, unless another value is specified in the same request. To have no fill on a table cell, set this field to `NOT_RENDERED`. In this case, any other fill fields set in the same request will be ignored.",
          "enumDescriptions": [
            "If a property's state is RENDERED, then the element has the corresponding property when rendered on a page. If the element is a placeholder shape as determined by the placeholder field, and it inherits from a placeholder shape, the corresponding field may be unset, meaning that the property value is inherited from a parent placeholder. If the element does not inherit, then the field will contain the rendered value. This is the default value.",
            "If a property's state is NOT_RENDERED, then the element does not have the corresponding property when rendered on a page. However, the field may still be set so it can be inherited by child shapes. To remove a property from a rendered element, set its property_state to NOT_RENDERED.",
            "If a property's state is INHERIT, then the property state uses the value of corresponding `property_state` field on the parent shape. Elements that do not inherit will never have an INHERIT property state."
          ],
          "enum": [
            "RENDERED",
            "NOT_RENDERED",
            "INHERIT"
          ]
        },
        "solidFill": {
          "$ref": "SolidFill",
          "description": "Solid color fill."
        }
      }
    },
    "TableBorderProperties": {
      "type": "object",
      "description": "The border styling properties of the TableBorderCell.",
      "properties": {
        "weight": {
          "description": "The thickness of the border.",
          "$ref": "Dimension"
        },
        "tableBorderFill": {
          "$ref": "TableBorderFill",
          "description": "The fill of the table border."
        },
        "dashStyle": {
          "enum": [
            "DASH_STYLE_UNSPECIFIED",
            "SOLID",
            "DOT",
            "DASH",
            "DASH_DOT",
            "LONG_DASH",
            "LONG_DASH_DOT"
          ],
          "enumDescriptions": [
            "Unspecified dash style.",
            "Solid line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'solid'. This is the default dash style.",
            "Dotted line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'dot'.",
            "Dashed line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'dash'.",
            "Alternating dashes and dots. Corresponds to ECMA-376 ST_PresetLineDashVal value 'dashDot'.",
            "Line with large dashes. Corresponds to ECMA-376 ST_PresetLineDashVal value 'lgDash'.",
            "Alternating large dashes and dots. Corresponds to ECMA-376 ST_PresetLineDashVal value 'lgDashDot'."
          ],
          "type": "string",
          "description": "The dash style of the border."
        }
      },
      "id": "TableBorderProperties"
    },
    "ReplaceAllShapesWithSheetsChartRequest": {
      "description": "Replaces all shapes that match the given criteria with the provided Google Sheets chart. The chart will be scaled and centered to fit within the bounds of the original shape. NOTE: Replacing shapes with a chart requires at least one of the spreadsheets.readonly, spreadsheets, drive.readonly, or drive OAuth scopes.",
      "type": "object",
      "id": "ReplaceAllShapesWithSheetsChartRequest",
      "properties": {
        "spreadsheetId": {
          "description": "The ID of the Google Sheets spreadsheet that contains the chart.",
          "type": "string"
        },
        "pageObjectIds": {
          "description": "If non-empty, limits the matches to page elements only on the given pages. Returns a 400 bad request error if given the page object ID of a notes page or a notes master, or if a page with that object ID doesn't exist in the presentation.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "linkingMode": {
          "enum": [
            "NOT_LINKED_IMAGE",
            "LINKED"
          ],
          "type": "string",
          "enumDescriptions": [
            "The chart is not associated with the source spreadsheet and cannot be updated. A chart that is not linked will be inserted as an image.",
            "Linking the chart allows it to be updated, and other collaborators will see a link to the spreadsheet."
          ],
          "description": "The mode with which the chart is linked to the source spreadsheet. When not specified, the chart will be an image that is not linked."
        },
        "containsText": {
          "$ref": "SubstringMatchCriteria",
          "description": "The criteria that the shapes must match in order to be replaced. The request will replace all of the shapes that contain the given text."
        },
        "chartId": {
          "description": "The ID of the specific chart in the Google Sheets spreadsheet.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "LayoutReference": {
      "properties": {
        "layoutId": {
          "description": "Layout ID: the object ID of one of the layouts in the presentation.",
          "type": "string"
        },
        "predefinedLayout": {
          "enumDescriptions": [
            "Unspecified layout.",
            "Blank layout, with no placeholders.",
            "Layout with a caption at the bottom.",
            "Layout with a title and a subtitle.",
            "Layout with a title and body.",
            "Layout with a title and two columns.",
            "Layout with only a title.",
            "Layout with a section title.",
            "Layout with a title and subtitle on one side and description on the other.",
            "Layout with one title and one body, arranged in a single column.",
            "Layout with a main point.",
            "Layout with a big number heading."
          ],
          "description": "Predefined layout.",
          "type": "string",
          "enum": [
            "PREDEFINED_LAYOUT_UNSPECIFIED",
            "BLANK",
            "CAPTION_ONLY",
            "TITLE",
            "TITLE_AND_BODY",
            "TITLE_AND_TWO_COLUMNS",
            "TITLE_ONLY",
            "SECTION_HEADER",
            "SECTION_TITLE_AND_DESCRIPTION",
            "ONE_COLUMN_TEXT",
            "MAIN_POINT",
            "BIG_NUMBER"
          ]
        }
      },
      "id": "LayoutReference",
      "description": "Slide layout reference. This may reference either: - A predefined layout - One of the layouts in the presentation.",
      "type": "object"
    },
    "UpdatePageElementAltTextRequest": {
      "description": "Updates the alt text title and/or description of a page element.",
      "properties": {
        "objectId": {
          "description": "The object ID of the page element the updates are applied to.",
          "type": "string"
        },
        "description": {
          "description": "The updated alt text description of the page element. If unset the existing value will be maintained. The description is exposed to screen readers and other accessibility interfaces. Only use human readable values related to the content of the page element.",
          "type": "string"
        },
        "title": {
          "description": "The updated alt text title of the page element. If unset the existing value will be maintained. The title is exposed to screen readers and other accessibility interfaces. Only use human readable values related to the content of the page element.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "UpdatePageElementAltTextRequest"
    },
    "UpdateLineCategoryRequest": {
      "type": "object",
      "description": "Updates the category of a line.",
      "properties": {
        "objectId": {
          "type": "string",
          "description": "The object ID of the line the update is applied to. Only a line with a category indicating it is a \"connector\" can be updated. The line may be rerouted after updating its category."
        },
        "lineCategory": {
          "type": "string",
          "description": "The line category to update to. The exact line type is determined based on the category to update to and how it's routed to connect to other page elements.",
          "enum": [
            "LINE_CATEGORY_UNSPECIFIED",
            "STRAIGHT",
            "BENT",
            "CURVED"
          ],
          "enumDescriptions": [
            "Unspecified line category.",
            "Straight connectors, including straight connector 1.",
            "Bent connectors, including bent connector 2 to 5.",
            "Curved connectors, including curved connector 2 to 5."
          ]
        }
      },
      "id": "UpdateLineCategoryRequest"
    },
    "UpdateVideoPropertiesRequest": {
      "properties": {
        "fields": {
          "format": "google-fieldmask",
          "description": "The fields that should be updated. At least one field must be specified. The root `videoProperties` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the video outline color, set `fields` to `\"outline.outlineFill.solidFill.color\"`. To reset a property to its default value, include its field name in the field mask but leave the field itself unset.",
          "type": "string"
        },
        "videoProperties": {
          "$ref": "VideoProperties",
          "description": "The video properties to update."
        },
        "objectId": {
          "description": "The object ID of the video the updates are applied to.",
          "type": "string"
        }
      },
      "id": "UpdateVideoPropertiesRequest",
      "type": "object",
      "description": "Update the properties of a Video."
    },
    "Video": {
      "description": "A PageElement kind representing a video.",
      "type": "object",
      "id": "Video",
      "properties": {
        "url": {
          "description": "An URL to a video. The URL is valid as long as the source video exists and sharing settings do not change.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The video source's unique identifier for this video."
        },
        "videoProperties": {
          "description": "The properties of the video.",
          "$ref": "VideoProperties"
        },
        "source": {
          "type": "string",
          "description": "The video source.",
          "enumDescriptions": [
            "The video source is unspecified.",
            "The video source is YouTube.",
            "The video source is Google Drive."
          ],
          "enum": [
            "SOURCE_UNSPECIFIED",
            "YOUTUBE",
            "DRIVE"
          ]
        }
      }
    },
    "LineConnection": {
      "type": "object",
      "properties": {
        "connectionSiteIndex": {
          "format": "int32",
          "description": "The index of the connection site on the connected page element. In most cases, it corresponds to the predefined connection site index from the ECMA-376 standard. More information on those connection sites can be found in the description of the \"cnx\" attribute in section 20.1.9.9 and Annex H. \"Predefined DrawingML Shape and Text Geometries\" of \"Office Open XML File Formats-Fundamentals and Markup Language Reference\", part 1 of [ECMA-376 5th edition] (http://www.ecma-international.org/publications/standards/Ecma-376.htm). The position of each connection site can also be viewed from Slides editor.",
          "type": "integer"
        },
        "connectedObjectId": {
          "type": "string",
          "description": "The object ID of the connected page element. Some page elements, such as groups, tables, and lines do not have connection sites and therefore cannot be connected to a connector line."
        }
      },
      "id": "LineConnection",
      "description": "The properties for one end of a Line connection."
    },
    "NotesProperties": {
      "description": "The properties of Page that are only relevant for pages with page_type NOTES.",
      "properties": {
        "speakerNotesObjectId": {
          "type": "string",
          "description": "The object ID of the shape on this notes page that contains the speaker notes for the corresponding slide. The actual shape may not always exist on the notes page. Inserting text using this object ID will automatically create the shape. In this case, the actual shape may have different object ID. The `GetPresentation` or `GetPage` action will always return the latest object ID."
        }
      },
      "id": "NotesProperties",
      "type": "object"
    },
    "TableRow": {
      "id": "TableRow",
      "type": "object",
      "description": "Properties and contents of each row in a table.",
      "properties": {
        "tableCells": {
          "description": "Properties and contents of each cell. Cells that span multiple columns are represented only once with a column_span greater than 1. As a result, the length of this collection does not always match the number of columns of the entire table.",
          "type": "array",
          "items": {
            "$ref": "TableCell"
          }
        },
        "tableRowProperties": {
          "$ref": "TableRowProperties",
          "description": "Properties of the row."
        },
        "rowHeight": {
          "$ref": "Dimension",
          "description": "Height of a row."
        }
      }
    },
    "LineProperties": {
      "properties": {
        "startArrow": {
          "description": "The style of the arrow at the beginning of the line.",
          "enumDescriptions": [
            "An unspecified arrow style.",
            "No arrow.",
            "Arrow with notched back. Corresponds to ECMA-376 ST_LineEndType value 'stealth'.",
            "Filled arrow. Corresponds to ECMA-376 ST_LineEndType value 'triangle'.",
            "Filled circle. Corresponds to ECMA-376 ST_LineEndType value 'oval'.",
            "Filled square.",
            "Filled diamond. Corresponds to ECMA-376 ST_LineEndType value 'diamond'.",
            "Hollow arrow.",
            "Hollow circle.",
            "Hollow square.",
            "Hollow diamond."
          ],
          "enum": [
            "ARROW_STYLE_UNSPECIFIED",
            "NONE",
            "STEALTH_ARROW",
            "FILL_ARROW",
            "FILL_CIRCLE",
            "FILL_SQUARE",
            "FILL_DIAMOND",
            "OPEN_ARROW",
            "OPEN_CIRCLE",
            "OPEN_SQUARE",
            "OPEN_DIAMOND"
          ],
          "type": "string"
        },
        "startConnection": {
          "description": "The connection at the beginning of the line. If unset, there is no connection. Only lines with a Type indicating it is a \"connector\" can have a `start_connection`.",
          "$ref": "LineConnection"
        },
        "link": {
          "description": "The hyperlink destination of the line. If unset, there is no link.",
          "$ref": "Link"
        },
        "endConnection": {
          "$ref": "LineConnection",
          "description": "The connection at the end of the line. If unset, there is no connection. Only lines with a Type indicating it is a \"connector\" can have an `end_connection`."
        },
        "weight": {
          "$ref": "Dimension",
          "description": "The thickness of the line."
        },
        "endArrow": {
          "enum": [
            "ARROW_STYLE_UNSPECIFIED",
            "NONE",
            "STEALTH_ARROW",
            "FILL_ARROW",
            "FILL_CIRCLE",
            "FILL_SQUARE",
            "FILL_DIAMOND",
            "OPEN_ARROW",
            "OPEN_CIRCLE",
            "OPEN_SQUARE",
            "OPEN_DIAMOND"
          ],
          "enumDescriptions": [
            "An unspecified arrow style.",
            "No arrow.",
            "Arrow with notched back. Corresponds to ECMA-376 ST_LineEndType value 'stealth'.",
            "Filled arrow. Corresponds to ECMA-376 ST_LineEndType value 'triangle'.",
            "Filled circle. Corresponds to ECMA-376 ST_LineEndType value 'oval'.",
            "Filled square.",
            "Filled diamond. Corresponds to ECMA-376 ST_LineEndType value 'diamond'.",
            "Hollow arrow.",
            "Hollow circle.",
            "Hollow square.",
            "Hollow diamond."
          ],
          "description": "The style of the arrow at the end of the line.",
          "type": "string"
        },
        "lineFill": {
          "$ref": "LineFill",
          "description": "The fill of the line. The default line fill matches the defaults for new lines created in the Slides editor."
        },
        "dashStyle": {
          "enum": [
            "DASH_STYLE_UNSPECIFIED",
            "SOLID",
            "DOT",
            "DASH",
            "DASH_DOT",
            "LONG_DASH",
            "LONG_DASH_DOT"
          ],
          "description": "The dash style of the line.",
          "enumDescriptions": [
            "Unspecified dash style.",
            "Solid line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'solid'. This is the default dash style.",
            "Dotted line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'dot'.",
            "Dashed line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'dash'.",
            "Alternating dashes and dots. Corresponds to ECMA-376 ST_PresetLineDashVal value 'dashDot'.",
            "Line with large dashes. Corresponds to ECMA-376 ST_PresetLineDashVal value 'lgDash'.",
            "Alternating large dashes and dots. Corresponds to ECMA-376 ST_PresetLineDashVal value 'lgDashDot'."
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "LineProperties",
      "description": "The properties of the Line. When unset, these fields default to values that match the appearance of new lines created in the Slides editor."
    },
    "ReplaceAllTextResponse": {
      "id": "ReplaceAllTextResponse",
      "type": "object",
      "description": "The result of replacing text.",
      "properties": {
        "occurrencesChanged": {
          "type": "integer",
          "format": "int32",
          "description": "The number of occurrences changed by replacing all text."
        }
      }
    },
    "InsertTableRowsRequest": {
      "description": "Inserts rows into a table.",
      "id": "InsertTableRowsRequest",
      "type": "object",
      "properties": {
        "cellLocation": {
          "$ref": "TableCellLocation",
          "description": "The reference table cell location from which rows will be inserted. A new row will be inserted above (or below) the row where the reference cell is. If the reference cell is a merged cell, a new row will be inserted above (or below) the merged cell."
        },
        "tableObjectId": {
          "type": "string",
          "description": "The table to insert rows into."
        },
        "insertBelow": {
          "description": "Whether to insert new rows below the reference cell location. - `True`: insert below the cell. - `False`: insert above the cell.",
          "type": "boolean"
        },
        "number": {
          "description": "The number of rows to be inserted. Maximum 20 per request.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "Response": {
      "properties": {
        "replaceAllShapesWithImage": {
          "description": "The result of replacing all shapes matching some criteria with an image.",
          "$ref": "ReplaceAllShapesWithImageResponse"
        },
        "createSlide": {
          "description": "The result of creating a slide.",
          "$ref": "CreateSlideResponse"
        },
        "duplicateObject": {
          "description": "The result of duplicating an object.",
          "$ref": "DuplicateObjectResponse"
        },
        "createSheetsChart": {
          "$ref": "CreateSheetsChartResponse",
          "description": "The result of creating a Google Sheets chart."
        },
        "createShape": {
          "$ref": "CreateShapeResponse",
          "description": "The result of creating a shape."
        },
        "groupObjects": {
          "$ref": "GroupObjectsResponse",
          "description": "The result of grouping objects."
        },
        "createImage": {
          "$ref": "CreateImageResponse",
          "description": "The result of creating an image."
        },
        "createLine": {
          "$ref": "CreateLineResponse",
          "description": "The result of creating a line."
        },
        "createTable": {
          "$ref": "CreateTableResponse",
          "description": "The result of creating a table."
        },
        "replaceAllText": {
          "description": "The result of replacing text.",
          "$ref": "ReplaceAllTextResponse"
        },
        "replaceAllShapesWithSheetsChart": {
          "description": "The result of replacing all shapes matching some criteria with a Google Sheets chart.",
          "$ref": "ReplaceAllShapesWithSheetsChartResponse"
        },
        "createVideo": {
          "$ref": "CreateVideoResponse",
          "description": "The result of creating a video."
        }
      },
      "description": "A single response from an update.",
      "id": "Response",
      "type": "object"
    },
    "Image": {
      "description": "A PageElement kind representing an image.",
      "type": "object",
      "id": "Image",
      "properties": {
        "sourceUrl": {
          "description": "The source URL is the URL used to insert the image. The source URL can be empty.",
          "type": "string"
        },
        "contentUrl": {
          "type": "string",
          "description": "An URL to an image with a default lifetime of 30 minutes. This URL is tagged with the account of the requester. Anyone with the URL effectively accesses the image as the original requester. Access to the image may be lost if the presentation's sharing settings change."
        },
        "placeholder": {
          "$ref": "Placeholder",
          "description": "Placeholders are page elements that inherit from corresponding placeholders on layouts and masters. If set, the image is a placeholder image and any inherited properties can be resolved by looking at the parent placeholder identified by the Placeholder.parent_object_id field."
        },
        "imageProperties": {
          "description": "The properties of the image.",
          "$ref": "ImageProperties"
        }
      }
    },
    "LayoutPlaceholderIdMapping": {
      "type": "object",
      "id": "LayoutPlaceholderIdMapping",
      "properties": {
        "objectId": {
          "description": "A user-supplied object ID for the placeholder identified above that to be created onto a slide. If you specify an ID, it must be unique among all pages and page elements in the presentation. The ID must start with an alphanumeric character or an underscore (matches regex `[a-zA-Z0-9_]`); remaining characters may include those as well as a hyphen or colon (matches regex `[a-zA-Z0-9_-:]`). The length of the ID must not be less than 5 or greater than 50. If you don't specify an ID, a unique one is generated.",
          "type": "string"
        },
        "layoutPlaceholderObjectId": {
          "description": "The object ID of the placeholder on a layout that will be applied to a slide.",
          "type": "string"
        },
        "layoutPlaceholder": {
          "$ref": "Placeholder",
          "description": "The placeholder on a layout that will be applied to a slide. Only type and index are needed. For example, a predefined `TITLE_AND_BODY` layout may usually have a TITLE placeholder with index 0 and a BODY placeholder with index 0."
        }
      },
      "description": "The user-specified ID mapping for a placeholder that will be created on a slide from a specified layout."
    },
    "OptionalColor": {
      "type": "object",
      "properties": {
        "opaqueColor": {
          "$ref": "OpaqueColor",
          "description": "If set, this will be used as an opaque color. If unset, this represents a transparent color."
        }
      },
      "id": "OptionalColor",
      "description": "A color that can either be fully opaque or fully transparent."
    },
    "TextElement": {
      "description": "A TextElement describes the content of a range of indices in the text content of a Shape or TableCell.",
      "id": "TextElement",
      "type": "object",
      "properties": {
        "endIndex": {
          "type": "integer",
          "description": "The zero-based end index of this text element, exclusive, in Unicode code units.",
          "format": "int32"
        },
        "autoText": {
          "$ref": "AutoText",
          "description": "A TextElement representing a spot in the text that is dynamically replaced with content that can change over time."
        },
        "paragraphMarker": {
          "description": "A marker representing the beginning of a new paragraph. The `start_index` and `end_index` of this TextElement represent the range of the paragraph. Other TextElements with an index range contained inside this paragraph's range are considered to be part of this paragraph. The range of indices of two separate paragraphs will never overlap.",
          "$ref": "ParagraphMarker"
        },
        "startIndex": {
          "type": "integer",
          "description": "The zero-based start index of this text element, in Unicode code units.",
          "format": "int32"
        },
        "textRun": {
          "$ref": "TextRun",
          "description": "A TextElement representing a run of text where all of the characters in the run have the same TextStyle. The `start_index` and `end_index` of TextRuns will always be fully contained in the index range of a single `paragraph_marker` TextElement. In other words, a TextRun will never span multiple paragraphs."
        }
      }
    },
    "CreateVideoResponse": {
      "description": "The result of creating a video.",
      "id": "CreateVideoResponse",
      "type": "object",
      "properties": {
        "objectId": {
          "type": "string",
          "description": "The object ID of the created video."
        }
      }
    },
    "Table": {
      "type": "object",
      "description": "A PageElement kind representing a table.",
      "properties": {
        "tableColumns": {
          "items": {
            "$ref": "TableColumnProperties"
          },
          "type": "array",
          "description": "Properties of each column."
        },
        "verticalBorderRows": {
          "type": "array",
          "description": "Properties of vertical cell borders. A table's vertical cell borders are represented as a grid. The grid has the same number of rows as the table and one more column than the number of columns in the table. For example, if the table is 3 x 3, its vertical borders will be represented as a grid with 3 rows and 4 columns.",
          "items": {
            "$ref": "TableBorderRow"
          }
        },
        "horizontalBorderRows": {
          "type": "array",
          "items": {
            "$ref": "TableBorderRow"
          },
          "description": "Properties of horizontal cell borders. A table's horizontal cell borders are represented as a grid. The grid has one more row than the number of rows in the table and the same number of columns as the table. For example, if the table is 3 x 3, its horizontal borders will be represented as a grid with 4 rows and 3 columns."
        },
        "rows": {
          "type": "integer",
          "description": "Number of rows in the table.",
          "format": "int32"
        },
        "columns": {
          "format": "int32",
          "description": "Number of columns in the table.",
          "type": "integer"
        },
        "tableRows": {
          "type": "array",
          "description": "Properties and contents of each row. Cells that span multiple rows are contained in only one of these rows and have a row_span greater than 1.",
          "items": {
            "$ref": "TableRow"
          }
        }
      },
      "id": "Table"
    },
    "TableColumnProperties": {
      "properties": {
        "columnWidth": {
          "$ref": "Dimension",
          "description": "Width of a column."
        }
      },
      "id": "TableColumnProperties",
      "type": "object",
      "description": "Properties of each column in a table."
    },
    "NestingLevel": {
      "type": "object",
      "description": "Contains properties describing the look and feel of a list bullet at a given level of nesting.",
      "id": "NestingLevel",
      "properties": {
        "bulletStyle": {
          "description": "The style of a bullet at this level of nesting.",
          "$ref": "TextStyle"
        }
      }
    },
    "CreateSheetsChartResponse": {
      "properties": {
        "objectId": {
          "type": "string",
          "description": "The object ID of the created chart."
        }
      },
      "id": "CreateSheetsChartResponse",
      "type": "object",
      "description": "The result of creating an embedded Google Sheets chart."
    },
    "List": {
      "properties": {
        "nestingLevel": {
          "type": "object",
          "description": "A map of nesting levels to the properties of bullets at the associated level. A list has at most nine levels of nesting, so the possible values for the keys of this map are 0 through 8, inclusive.",
          "additionalProperties": {
            "$ref": "NestingLevel"
          }
        },
        "listId": {
          "type": "string",
          "description": "The ID of the list."
        }
      },
      "description": "A List describes the look and feel of bullets belonging to paragraphs associated with a list. A paragraph that is part of a list has an implicit reference to that list's ID.",
      "id": "List",
      "type": "object"
    },
    "UpdateLinePropertiesRequest": {
      "description": "Updates the properties of a Line.",
      "type": "object",
      "id": "UpdateLinePropertiesRequest",
      "properties": {
        "lineProperties": {
          "description": "The line properties to update.",
          "$ref": "LineProperties"
        },
        "objectId": {
          "type": "string",
          "description": "The object ID of the line the update is applied to."
        },
        "fields": {
          "description": "The fields that should be updated. At least one field must be specified. The root `lineProperties` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the line solid fill color, set `fields` to `\"lineFill.solidFill.color\"`. To reset a property to its default value, include its field name in the field mask but leave the field itself unset.",
          "format": "google-fieldmask",
          "type": "string"
        }
      }
    },
    "CreateImageResponse": {
      "type": "object",
      "id": "CreateImageResponse",
      "description": "The result of creating an image.",
      "properties": {
        "objectId": {
          "type": "string",
          "description": "The object ID of the created image."
        }
      }
    },
    "CreateTableRequest": {
      "description": "Creates a new table.",
      "type": "object",
      "properties": {
        "objectId": {
          "description": "A user-supplied object ID. If you specify an ID, it must be unique among all pages and page elements in the presentation. The ID must start with an alphanumeric character or an underscore (matches regex `[a-zA-Z0-9_]`); remaining characters may include those as well as a hyphen or colon (matches regex `[a-zA-Z0-9_-:]`). The length of the ID must not be less than 5 or greater than 50. If you don't specify an ID, a unique one is generated.",
          "type": "string"
        },
        "columns": {
          "type": "integer",
          "description": "Number of columns in the table.",
          "format": "int32"
        },
        "elementProperties": {
          "$ref": "PageElementProperties",
          "description": "The element properties for the table. The table will be created at the provided size, subject to a minimum size. If no size is provided, the table will be automatically sized. Table transforms must have a scale of 1 and no shear components. If no transform is provided, the table will be centered on the page."
        },
        "rows": {
          "description": "Number of rows in the table.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "CreateTableRequest"
    },
    "UpdateShapePropertiesRequest": {
      "type": "object",
      "id": "UpdateShapePropertiesRequest",
      "description": "Update the properties of a Shape.",
      "properties": {
        "shapeProperties": {
          "description": "The shape properties to update.",
          "$ref": "ShapeProperties"
        },
        "objectId": {
          "type": "string",
          "description": "The object ID of the shape the updates are applied to."
        },
        "fields": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "The fields that should be updated. At least one field must be specified. The root `shapeProperties` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the shape background solid fill color, set `fields` to `\"shapeBackgroundFill.solidFill.color\"`. To reset a property to its default value, include its field name in the field mask but leave the field itself unset."
        }
      }
    },
    "RerouteLineRequest": {
      "description": "Reroutes a line such that it's connected at the two closest connection sites on the connected page elements.",
      "type": "object",
      "properties": {
        "objectId": {
          "type": "string",
          "description": "The object ID of the line to reroute. Only a line with a category indicating it is a \"connector\" can be rerouted. The start and end connections of the line must be on different page elements."
        }
      },
      "id": "RerouteLineRequest"
    },
    "CreateShapeResponse": {
      "id": "CreateShapeResponse",
      "type": "object",
      "description": "The result of creating a shape.",
      "properties": {
        "objectId": {
          "type": "string",
          "description": "The object ID of the created shape."
        }
      }
    },
    "ReplaceAllShapesWithImageRequest": {
      "description": "Replaces all shapes that match the given criteria with the provided image. The images replacing the shapes are rectangular after being inserted into the presentation and do not take on the forms of the shapes.",
      "properties": {
        "imageReplaceMethod": {
          "description": "The image replace method. If you specify both a `replace_method` and an `image_replace_method`, the `image_replace_method` takes precedence. If you do not specify a value for `image_replace_method`, but specify a value for `replace_method`, then the specified `replace_method` value is used. If you do not specify either, then CENTER_INSIDE is used.",
          "type": "string",
          "enum": [
            "IMAGE_REPLACE_METHOD_UNSPECIFIED",
            "CENTER_INSIDE",
            "CENTER_CROP"
          ],
          "enumDescriptions": [
            "Unspecified image replace method. This value must not be used.",
            "Scales and centers the image to fit within the bounds of the original shape and maintains the image's aspect ratio. The rendered size of the image may be smaller than the size of the shape. This is the default method when one is not specified.",
            "Scales and centers the image to fill the bounds of the original shape. The image may be cropped in order to fill the shape. The rendered size of the image will be the same as the original shape."
          ]
        },
        "containsText": {
          "$ref": "SubstringMatchCriteria",
          "description": "If set, this request will replace all of the shapes that contain the given text."
        },
        "replaceMethod": {
          "type": "string",
          "enumDescriptions": [
            "Scales and centers the image to fit within the bounds of the original shape and maintains the image's aspect ratio. The rendered size of the image may be smaller than the size of the shape. This is the default method when one is not specified.",
            "Scales and centers the image to fill the bounds of the original shape. The image may be cropped in order to fill the shape. The rendered size of the image will be the same as that of the original shape."
          ],
          "description": "The replace method. *Deprecated*: use `image_replace_method` instead. If you specify both a `replace_method` and an `image_replace_method`, the `image_replace_method` takes precedence.",
          "enum": [
            "CENTER_INSIDE",
            "CENTER_CROP"
          ]
        },
        "imageUrl": {
          "type": "string",
          "description": "The image URL. The image is fetched once at insertion time and a copy is stored for display inside the presentation. Images must be less than 50MB in size, cannot exceed 25 megapixels, and must be in one of PNG, JPEG, or GIF format. The provided URL can be at most 2 kB in length. The URL itself is saved with the image, and exposed via the Image.source_url field."
        },
        "pageObjectIds": {
          "items": {
            "type": "string"
          },
          "description": "If non-empty, limits the matches to page elements only on the given pages. Returns a 400 bad request error if given the page object ID of a notes page or a notes master, or if a page with that object ID doesn't exist in the presentation.",
          "type": "array"
        }
      },
      "id": "ReplaceAllShapesWithImageRequest",
      "type": "object"
    },
    "DuplicateObjectRequest": {
      "properties": {
        "objectId": {
          "type": "string",
          "description": "The ID of the object to duplicate."
        },
        "objectIds": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The object being duplicated may contain other objects, for example when duplicating a slide or a group page element. This map defines how the IDs of duplicated objects are generated: the keys are the IDs of the original objects and its values are the IDs that will be assigned to the corresponding duplicate object. The ID of the source object's duplicate may be specified in this map as well, using the same value of the `object_id` field as a key and the newly desired ID as the value. All keys must correspond to existing IDs in the presentation. All values must be unique in the presentation and must start with an alphanumeric character or an underscore (matches regex `[a-zA-Z0-9_]`); remaining characters may include those as well as a hyphen or colon (matches regex `[a-zA-Z0-9_-:]`). The length of the new ID must not be less than 5 or greater than 50. If any IDs of source objects are omitted from the map, a new random ID will be assigned. If the map is empty or unset, all duplicate objects will receive a new random ID."
        }
      },
      "type": "object",
      "description": "Duplicates a slide or page element. When duplicating a slide, the duplicate slide will be created immediately following the specified slide. When duplicating a page element, the duplicate will be placed on the same page at the same position as the original.",
      "id": "DuplicateObjectRequest"
    },
    "CreateVideoRequest": {
      "id": "CreateVideoRequest",
      "properties": {
        "elementProperties": {
          "$ref": "PageElementProperties",
          "description": "The element properties for the video. The PageElementProperties.size property is optional. If you don't specify a size, a default size is chosen by the server. The PageElementProperties.transform property is optional. The transform must not have shear components. If you don't specify a transform, the video will be placed at the top left corner of the page."
        },
        "objectId": {
          "type": "string",
          "description": "A user-supplied object ID. If you specify an ID, it must be unique among all pages and page elements in the presentation. The ID must start with an alphanumeric character or an underscore (matches regex `[a-zA-Z0-9_]`); remaining characters may include those as well as a hyphen or colon (matches regex `[a-zA-Z0-9_-:]`). The length of the ID must not be less than 5 or greater than 50. If you don't specify an ID, a unique one is generated."
        },
        "source": {
          "description": "The video source.",
          "enumDescriptions": [
            "The video source is unspecified.",
            "The video source is YouTube.",
            "The video source is Google Drive."
          ],
          "enum": [
            "SOURCE_UNSPECIFIED",
            "YOUTUBE",
            "DRIVE"
          ],
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The video source's unique identifier for this video. e.g. For YouTube video https://www.youtube.com/watch?v=7U3axjORYZ0, the ID is 7U3axjORYZ0. For a Google Drive video https://drive.google.com/file/d/1xCgQLFTJi5_Xl8DgW_lcUYq5e-q6Hi5Q the ID is 1xCgQLFTJi5_Xl8DgW_lcUYq5e-q6Hi5Q. To access a Google Drive video file, you might need to add a resource key to the HTTP header for a subset of old files. For more information, see [Access link-shared files using resource keys](https://developers.google.com/drive/api/v3/resource-keys)."
        }
      },
      "description": "Creates a video. NOTE: Creating a video from Google Drive requires that the requesting app have at least one of the drive, drive.readonly, or drive.file OAuth scopes.",
      "type": "object"
    },
    "UpdateImagePropertiesRequest": {
      "properties": {
        "objectId": {
          "description": "The object ID of the image the updates are applied to.",
          "type": "string"
        },
        "fields": {
          "format": "google-fieldmask",
          "description": "The fields that should be updated. At least one field must be specified. The root `imageProperties` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the image outline color, set `fields` to `\"outline.outlineFill.solidFill.color\"`. To reset a property to its default value, include its field name in the field mask but leave the field itself unset.",
          "type": "string"
        },
        "imageProperties": {
          "$ref": "ImageProperties",
          "description": "The image properties to update."
        }
      },
      "type": "object",
      "description": "Update the properties of an Image.",
      "id": "UpdateImagePropertiesRequest"
    },
    "UnmergeTableCellsRequest": {
      "properties": {
        "objectId": {
          "type": "string",
          "description": "The object ID of the table."
        },
        "tableRange": {
          "$ref": "TableRange",
          "description": "The table range specifying which cells of the table to unmerge. All merged cells in this range will be unmerged, and cells that are already unmerged will not be affected. If the range has no merged cells, the request will do nothing. If there is text in any of the merged cells, the text will remain in the upper-left (\"head\") cell of the resulting block of unmerged cells."
        }
      },
      "description": "Unmerges cells in a Table.",
      "id": "UnmergeTableCellsRequest",
      "type": "object"
    },
    "Link": {
      "properties": {
        "url": {
          "description": "If set, indicates this is a link to the external web page at this URL.",
          "type": "string"
        },
        "relativeLink": {
          "enum": [
            "RELATIVE_SLIDE_LINK_UNSPECIFIED",
            "NEXT_SLIDE",
            "PREVIOUS_SLIDE",
            "FIRST_SLIDE",
            "LAST_SLIDE"
          ],
          "description": "If set, indicates this is a link to a slide in this presentation, addressed by its position.",
          "enumDescriptions": [
            "An unspecified relative slide link.",
            "A link to the next slide.",
            "A link to the previous slide.",
            "A link to the first slide in the presentation.",
            "A link to the last slide in the presentation."
          ],
          "type": "string"
        },
        "pageObjectId": {
          "type": "string",
          "description": "If set, indicates this is a link to the specific page in this presentation with this ID. A page with this ID may not exist."
        },
        "slideIndex": {
          "type": "integer",
          "format": "int32",
          "description": "If set, indicates this is a link to the slide at this zero-based index in the presentation. There may not be a slide at this index."
        }
      },
      "description": "A hypertext link.",
      "type": "object",
      "id": "Link"
    },
    "BatchUpdatePresentationRequest": {
      "properties": {
        "writeControl": {
          "description": "Provides control over how write requests are executed.",
          "$ref": "WriteControl"
        },
        "requests": {
          "items": {
            "$ref": "Request"
          },
          "description": "A list of updates to apply to the presentation.",
          "type": "array"
        }
      },
      "id": "BatchUpdatePresentationRequest",
      "type": "object",
      "description": "Request message for PresentationsService.BatchUpdatePresentation."
    },
    "SlideProperties": {
      "description": "The properties of Page that are only relevant for pages with page_type SLIDE.",
      "type": "object",
      "id": "SlideProperties",
      "properties": {
        "layoutObjectId": {
          "type": "string",
          "description": "The object ID of the layout that this slide is based on. This property is read-only."
        },
        "notesPage": {
          "$ref": "Page",
          "description": "The notes page that this slide is associated with. It defines the visual appearance of a notes page when printing or exporting slides with speaker notes. A notes page inherits properties from the notes master. The placeholder shape with type BODY on the notes page contains the speaker notes for this slide. The ID of this shape is identified by the speakerNotesObjectId field. The notes page is read-only except for the text content and styles of the speaker notes shape. This property is read-only."
        },
        "masterObjectId": {
          "type": "string",
          "description": "The object ID of the master that this slide is based on. This property is read-only."
        },
        "isSkipped": {
          "type": "boolean",
          "description": "Whether the slide is skipped in the presentation mode. Defaults to false."
        }
      }
    },
    "WriteControl": {
      "properties": {
        "requiredRevisionId": {
          "type": "string",
          "description": "The revision ID of the presentation required for the write request. If specified and the required revision ID doesn't match the presentation's current revision ID, the request is not processed and returns a 400 bad request error. When a required revision ID is returned in a response, it indicates the revision ID of the document after the request was applied."
        }
      },
      "id": "WriteControl",
      "type": "object",
      "description": "Provides control over how write requests are executed."
    },
    "LayoutProperties": {
      "id": "LayoutProperties",
      "type": "object",
      "description": "The properties of Page are only relevant for pages with page_type LAYOUT.",
      "properties": {
        "name": {
          "description": "The name of the layout.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The human-readable name of the layout."
        },
        "masterObjectId": {
          "description": "The object ID of the master that this layout is based on.",
          "type": "string"
        }
      }
    },
    "WordArt": {
      "id": "WordArt",
      "type": "object",
      "description": "A PageElement kind representing word art.",
      "properties": {
        "renderedText": {
          "type": "string",
          "description": "The text rendered as word art."
        }
      }
    },
    "ParagraphStyle": {
      "id": "ParagraphStyle",
      "type": "object",
      "properties": {
        "lineSpacing": {
          "format": "float",
          "description": "The amount of space between lines, as a percentage of normal, where normal is represented as 100.0. If unset, the value is inherited from the parent.",
          "type": "number"
        },
        "spaceAbove": {
          "$ref": "Dimension",
          "description": "The amount of extra space above the paragraph. If unset, the value is inherited from the parent."
        },
        "indentFirstLine": {
          "description": "The amount of indentation for the start of the first line of the paragraph. If unset, the value is inherited from the parent.",
          "$ref": "Dimension"
        },
        "spaceBelow": {
          "description": "The amount of extra space below the paragraph. If unset, the value is inherited from the parent.",
          "$ref": "Dimension"
        },
        "direction": {
          "type": "string",
          "enumDescriptions": [
            "The text direction is inherited from the parent.",
            "The text goes from left to right.",
            "The text goes from right to left."
          ],
          "enum": [
            "TEXT_DIRECTION_UNSPECIFIED",
            "LEFT_TO_RIGHT",
            "RIGHT_TO_LEFT"
          ],
          "description": "The text direction of this paragraph. If unset, the value defaults to LEFT_TO_RIGHT since text direction is not inherited."
        },
        "indentEnd": {
          "description": "The amount indentation for the paragraph on the side that corresponds to the end of the text, based on the current text direction. If unset, the value is inherited from the parent.",
          "$ref": "Dimension"
        },
        "alignment": {
          "enumDescriptions": [
            "The paragraph alignment is inherited from the parent.",
            "The paragraph is aligned to the start of the line. Left-aligned for LTR text, right-aligned otherwise.",
            "The paragraph is centered.",
            "The paragraph is aligned to the end of the line. Right-aligned for LTR text, left-aligned otherwise.",
            "The paragraph is justified."
          ],
          "description": "The text alignment for this paragraph.",
          "type": "string",
          "enum": [
            "ALIGNMENT_UNSPECIFIED",
            "START",
            "CENTER",
            "END",
            "JUSTIFIED"
          ]
        },
        "indentStart": {
          "description": "The amount indentation for the paragraph on the side that corresponds to the start of the text, based on the current text direction. If unset, the value is inherited from the parent.",
          "$ref": "Dimension"
        },
        "spacingMode": {
          "enumDescriptions": [
            "The spacing mode is inherited from the parent.",
            "Paragraph spacing is always rendered.",
            "Paragraph spacing is skipped between list elements."
          ],
          "enum": [
            "SPACING_MODE_UNSPECIFIED",
            "NEVER_COLLAPSE",
            "COLLAPSE_LISTS"
          ],
          "type": "string",
          "description": "The spacing mode for the paragraph."
        }
      },
      "description": "Styles that apply to a whole paragraph. If this text is contained in a shape with a parent placeholder, then these paragraph styles may be inherited from the parent. Which paragraph styles are inherited depend on the nesting level of lists: * A paragraph not in a list will inherit its paragraph style from the paragraph at the 0 nesting level of the list inside the parent placeholder. * A paragraph in a list will inherit its paragraph style from the paragraph at its corresponding nesting level of the list inside the parent placeholder. Inherited paragraph styles are represented as unset fields in this message."
    },
    "TableBorderRow": {
      "type": "object",
      "id": "TableBorderRow",
      "description": "Contents of each border row in a table.",
      "properties": {
        "tableBorderCells": {
          "type": "array",
          "items": {
            "$ref": "TableBorderCell"
          },
          "description": "Properties of each border cell. When a border's adjacent table cells are merged, it is not included in the response."
        }
      }
    },
    "ColorStop": {
      "id": "ColorStop",
      "properties": {
        "alpha": {
          "format": "float",
          "type": "number",
          "description": "The alpha value of this color in the gradient band. Defaults to 1.0, fully opaque."
        },
        "color": {
          "description": "The color of the gradient stop.",
          "$ref": "OpaqueColor"
        },
        "position": {
          "description": "The relative position of the color stop in the gradient band measured in percentage. The value should be in the interval [0.0, 1.0].",
          "format": "float",
          "type": "number"
        }
      },
      "description": "A color and position in a gradient band.",
      "type": "object"
    },
    "Outline": {
      "properties": {
        "dashStyle": {
          "description": "The dash style of the outline.",
          "enumDescriptions": [
            "Unspecified dash style.",
            "Solid line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'solid'. This is the default dash style.",
            "Dotted line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'dot'.",
            "Dashed line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'dash'.",
            "Alternating dashes and dots. Corresponds to ECMA-376 ST_PresetLineDashVal value 'dashDot'.",
            "Line with large dashes. Corresponds to ECMA-376 ST_PresetLineDashVal value 'lgDash'.",
            "Alternating large dashes and dots. Corresponds to ECMA-376 ST_PresetLineDashVal value 'lgDashDot'."
          ],
          "type": "string",
          "enum": [
            "DASH_STYLE_UNSPECIFIED",
            "SOLID",
            "DOT",
            "DASH",
            "DASH_DOT",
            "LONG_DASH",
            "LONG_DASH_DOT"
          ]
        },
        "weight": {
          "$ref": "Dimension",
          "description": "The thickness of the outline."
        },
        "outlineFill": {
          "description": "The fill of the outline.",
          "$ref": "OutlineFill"
        },
        "propertyState": {
          "enumDescriptions": [
            "If a property's state is RENDERED, then the element has the corresponding property when rendered on a page. If the element is a placeholder shape as determined by the placeholder field, and it inherits from a placeholder shape, the corresponding field may be unset, meaning that the property value is inherited from a parent placeholder. If the element does not inherit, then the field will contain the rendered value. This is the default value.",
            "If a property's state is NOT_RENDERED, then the element does not have the corresponding property when rendered on a page. However, the field may still be set so it can be inherited by child shapes. To remove a property from a rendered element, set its property_state to NOT_RENDERED.",
            "If a property's state is INHERIT, then the property state uses the value of corresponding `property_state` field on the parent shape. Elements that do not inherit will never have an INHERIT property state."
          ],
          "enum": [
            "RENDERED",
            "NOT_RENDERED",
            "INHERIT"
          ],
          "type": "string",
          "description": "The outline property state. Updating the outline on a page element will implicitly update this field to `RENDERED`, unless another value is specified in the same request. To have no outline on a page element, set this field to `NOT_RENDERED`. In this case, any other outline fields set in the same request will be ignored."
        }
      },
      "type": "object",
      "description": "The outline of a PageElement. If these fields are unset, they may be inherited from a parent placeholder if it exists. If there is no parent, the fields will default to the value used for new page elements created in the Slides editor, which may depend on the page element kind.",
      "id": "Outline"
    },
    "GroupObjectsRequest": {
      "id": "GroupObjectsRequest",
      "properties": {
        "childrenObjectIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The object IDs of the objects to group. Only page elements can be grouped. There should be at least two page elements on the same page that are not already in another group. Some page elements, such as videos, tables and placeholders cannot be grouped."
        },
        "groupObjectId": {
          "description": "A user-supplied object ID for the group to be created. If you specify an ID, it must be unique among all pages and page elements in the presentation. The ID must start with an alphanumeric character or an underscore (matches regex `[a-zA-Z0-9_]`); remaining characters may include those as well as a hyphen or colon (matches regex `[a-zA-Z0-9_-:]`). The length of the ID must not be less than 5 or greater than 50. If you don't specify an ID, a unique one is generated.",
          "type": "string"
        }
      },
      "description": "Groups objects to create an object group. For example, groups PageElements to create a Group on the same page as all the children.",
      "type": "object"
    },
    "UpdateTableBorderPropertiesRequest": {
      "properties": {
        "objectId": {
          "description": "The object ID of the table.",
          "type": "string"
        },
        "tableRange": {
          "description": "The table range representing the subset of the table to which the updates are applied. If a table range is not specified, the updates will apply to the entire table.",
          "$ref": "TableRange"
        },
        "borderPosition": {
          "type": "string",
          "description": "The border position in the table range the updates should apply to. If a border position is not specified, the updates will apply to all borders in the table range.",
          "enum": [
            "ALL",
            "BOTTOM",
            "INNER",
            "INNER_HORIZONTAL",
            "INNER_VERTICAL",
            "LEFT",
            "OUTER",
            "RIGHT",
            "TOP"
          ],
          "enumDescriptions": [
            "All borders in the range.",
            "Borders at the bottom of the range.",
            "Borders on the inside of the range.",
            "Horizontal borders on the inside of the range.",
            "Vertical borders on the inside of the range.",
            "Borders at the left of the range.",
            "Borders along the outside of the range.",
            "Borders at the right of the range.",
            "Borders at the top of the range."
          ]
        },
        "fields": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "The fields that should be updated. At least one field must be specified. The root `tableBorderProperties` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the table border solid fill color, set `fields` to `\"tableBorderFill.solidFill.color\"`. To reset a property to its default value, include its field name in the field mask but leave the field itself unset."
        },
        "tableBorderProperties": {
          "$ref": "TableBorderProperties",
          "description": "The table border properties to update."
        }
      },
      "description": "Updates the properties of the table borders in a Table.",
      "type": "object",
      "id": "UpdateTableBorderPropertiesRequest"
    },
    "UpdateParagraphStyleRequest": {
      "id": "UpdateParagraphStyleRequest",
      "type": "object",
      "description": "Updates the styling for all of the paragraphs within a Shape or Table that overlap with the given text index range.",
      "properties": {
        "objectId": {
          "description": "The object ID of the shape or table with the text to be styled.",
          "type": "string"
        },
        "cellLocation": {
          "$ref": "TableCellLocation",
          "description": "The location of the cell in the table containing the paragraph(s) to style. If `object_id` refers to a table, `cell_location` must have a value. Otherwise, it must not."
        },
        "textRange": {
          "$ref": "Range",
          "description": "The range of text containing the paragraph(s) to style."
        },
        "fields": {
          "format": "google-fieldmask",
          "description": "The fields that should be updated. At least one field must be specified. The root `style` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example, to update the paragraph alignment, set `fields` to `\"alignment\"`. To reset a property to its default value, include its field name in the field mask but leave the field itself unset.",
          "type": "string"
        },
        "style": {
          "$ref": "ParagraphStyle",
          "description": "The paragraph's style."
        }
      }
    },
    "PageProperties": {
      "id": "PageProperties",
      "description": "The properties of the Page. The page will inherit properties from the parent page. Depending on the page type the hierarchy is defined in either SlideProperties or LayoutProperties.",
      "properties": {
        "pageBackgroundFill": {
          "description": "The background fill of the page. If unset, the background fill is inherited from a parent page if it exists. If the page has no parent, then the background fill defaults to the corresponding fill in the Slides editor.",
          "$ref": "PageBackgroundFill"
        },
        "colorScheme": {
          "description": "The color scheme of the page. If unset, the color scheme is inherited from a parent page. If the page has no parent, the color scheme uses a default Slides color scheme, matching the defaults in the Slides editor. Only the concrete colors of the first 12 ThemeColorTypes are editable. In addition, only the color scheme on `Master` pages can be updated. To update the field, a color scheme containing mappings from all the first 12 ThemeColorTypes to their concrete colors must be provided. Colors for the remaining ThemeColorTypes will be ignored.",
          "$ref": "ColorScheme"
        }
      },
      "type": "object"
    },
    "Size": {
      "id": "Size",
      "description": "A width and height.",
      "type": "object",
      "properties": {
        "width": {
          "description": "The width of the object.",
          "$ref": "Dimension"
        },
        "height": {
          "description": "The height of the object.",
          "$ref": "Dimension"
        }
      }
    },
    "WeightedFontFamily": {
      "properties": {
        "fontFamily": {
          "description": "The font family of the text. The font family can be any font from the Font menu in Slides or from [Google Fonts] (https://fonts.google.com/). If the font name is unrecognized, the text is rendered in `Arial`.",
          "type": "string"
        },
        "weight": {
          "format": "int32",
          "type": "integer",
          "description": "The rendered weight of the text. This field can have any value that is a multiple of `100` between `100` and `900`, inclusive. This range corresponds to the numerical values described in the CSS 2.1 Specification, [section 15.6](https://www.w3.org/TR/CSS21/fonts.html#font-boldness), with non-numerical values disallowed. Weights greater than or equal to `700` are considered bold, and weights less than `700`are not bold. The default value is `400` (\"normal\")."
        }
      },
      "type": "object",
      "id": "WeightedFontFamily",
      "description": "Represents a font family and weight used to style a TextRun."
    },
    "UpdateTableRowPropertiesRequest": {
      "description": "Updates the properties of a Table row.",
      "id": "UpdateTableRowPropertiesRequest",
      "properties": {
        "objectId": {
          "description": "The object ID of the table.",
          "type": "string"
        },
        "tableRowProperties": {
          "description": "The table row properties to update.",
          "$ref": "TableRowProperties"
        },
        "rowIndices": {
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "type": "array",
          "description": "The list of zero-based indices specifying which rows to update. If no indices are provided, all rows in the table will be updated."
        },
        "fields": {
          "format": "google-fieldmask",
          "description": "The fields that should be updated. At least one field must be specified. The root `tableRowProperties` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field. For example to update the minimum row height, set `fields` to `\"min_row_height\"`. If '\"min_row_height\"' is included in the field mask but the property is left unset, the minimum row height will default to 0.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "PageElement": {
      "properties": {
        "transform": {
          "description": "The transform of the page element. The visual appearance of the page element is determined by its absolute transform. To compute the absolute transform, preconcatenate a page element's transform with the transforms of all of its parent groups. If the page element is not in a group, its absolute transform is the same as the value in this field. The initial transform for the newly created Group is always the identity transform.",
          "$ref": "AffineTransform"
        },
        "line": {
          "$ref": "Line",
          "description": "A line page element."
        },
        "table": {
          "$ref": "Table",
          "description": "A table page element."
        },
        "shape": {
          "description": "A generic shape.",
          "$ref": "Shape"
        },
        "elementGroup": {
          "description": "A collection of page elements joined as a single unit.",
          "$ref": "Group"
        },
        "size": {
          "$ref": "Size",
          "description": "The size of the page element."
        },
        "sheetsChart": {
          "$ref": "SheetsChart",
          "description": "A linked chart embedded from Google Sheets. Unlinked charts are represented as images."
        },
        "image": {
          "$ref": "Image",
          "description": "An image page element."
        },
        "description": {
          "type": "string",
          "description": "The description of the page element. Combined with title to display alt text. The field is not supported for Group elements."
        },
        "video": {
          "description": "A video page element.",
          "$ref": "Video"
        },
        "title": {
          "type": "string",
          "description": "The title of the page element. Combined with description to display alt text. The field is not supported for Group elements."
        },
        "wordArt": {
          "$ref": "WordArt",
          "description": "A word art page element."
        },
        "objectId": {
          "type": "string",
          "description": "The object ID for this page element. Object IDs used by google.apps.slides.v1.Page and google.apps.slides.v1.PageElement share the same namespace."
        }
      },
      "description": "A visual element rendered on a page.",
      "type": "object",
      "id": "PageElement"
    },
    "TableBorderCell": {
      "id": "TableBorderCell",
      "description": "The properties of each border cell.",
      "type": "object",
      "properties": {
        "location": {
          "$ref": "TableCellLocation",
          "description": "The location of the border within the border table."
        },
        "tableBorderProperties": {
          "$ref": "TableBorderProperties",
          "description": "The border properties."
        }
      }
    },
    "CreateTableResponse": {
      "description": "The result of creating a table.",
      "id": "CreateTableResponse",
      "properties": {
        "objectId": {
          "type": "string",
          "description": "The object ID of the created table."
        }
      },
      "type": "object"
    },
    "CreateParagraphBulletsRequest": {
      "type": "object",
      "id": "CreateParagraphBulletsRequest",
      "description": "Creates bullets for all of the paragraphs that overlap with the given text index range. The nesting level of each paragraph will be determined by counting leading tabs in front of each paragraph. To avoid excess space between the bullet and the corresponding paragraph, these leading tabs are removed by this request. This may change the indices of parts of the text. If the paragraph immediately before paragraphs being updated is in a list with a matching preset, the paragraphs being updated are added to that preceding list.",
      "properties": {
        "bulletPreset": {
          "description": "The kinds of bullet glyphs to be used. Defaults to the `BULLET_DISC_CIRCLE_SQUARE` preset.",
          "enumDescriptions": [
            "A bulleted list with a `DISC`, `CIRCLE` and `SQUARE` bullet glyph for the first 3 list nesting levels.",
            "A bulleted list with a `DIAMONDX`, `ARROW3D` and `SQUARE` bullet glyph for the first 3 list nesting levels.",
            "A bulleted list with `CHECKBOX` bullet glyphs for all list nesting levels.",
            "A bulleted list with a `ARROW`, `DIAMOND` and `DISC` bullet glyph for the first 3 list nesting levels.",
            "A bulleted list with a `STAR`, `CIRCLE` and `SQUARE` bullet glyph for the first 3 list nesting levels.",
            "A bulleted list with a `ARROW3D`, `CIRCLE` and `SQUARE` bullet glyph for the first 3 list nesting levels.",
            "A bulleted list with a `LEFTTRIANGLE`, `DIAMOND` and `DISC` bullet glyph for the first 3 list nesting levels.",
            "A bulleted list with a `DIAMONDX`, `HOLLOWDIAMOND` and `SQUARE` bullet glyph for the first 3 list nesting levels.",
            "A bulleted list with a `DIAMOND`, `CIRCLE` and `SQUARE` bullet glyph for the first 3 list nesting levels.",
            "A numbered list with `DIGIT`, `ALPHA` and `ROMAN` numeric glyphs for the first 3 list nesting levels, followed by periods.",
            "A numbered list with `DIGIT`, `ALPHA` and `ROMAN` numeric glyphs for the first 3 list nesting levels, followed by parenthesis.",
            "A numbered list with `DIGIT` numeric glyphs separated by periods, where each nesting level uses the previous nesting level's glyph as a prefix. For example: '1.', '1.1.', '2.', '2.2.'.",
            "A numbered list with `UPPERALPHA`, `ALPHA` and `ROMAN` numeric glyphs for the first 3 list nesting levels, followed by periods.",
            "A numbered list with `UPPERROMAN`, `UPPERALPHA` and `DIGIT` numeric glyphs for the first 3 list nesting levels, followed by periods.",
            "A numbered list with `ZERODIGIT`, `ALPHA` and `ROMAN` numeric glyphs for the first 3 list nesting levels, followed by periods."
          ],
          "type": "string",
          "enum": [
            "BULLET_DISC_CIRCLE_SQUARE",
            "BULLET_DIAMONDX_ARROW3D_SQUARE",
            "BULLET_CHECKBOX",
            "BULLET_ARROW_DIAMOND_DISC",
            "BULLET_STAR_CIRCLE_SQUARE",
            "BULLET_ARROW3D_CIRCLE_SQUARE",
            "BULLET_LEFTTRIANGLE_DIAMOND_DISC",
            "BULLET_DIAMONDX_HOLLOWDIAMOND_SQUARE",
            "BULLET_DIAMOND_CIRCLE_SQUARE",
            "NUMBERED_DIGIT_ALPHA_ROMAN",
            "NUMBERED_DIGIT_ALPHA_ROMAN_PARENS",
            "NUMBERED_DIGIT_NESTED",
            "NUMBERED_UPPERALPHA_ALPHA_ROMAN",
            "NUMBERED_UPPERROMAN_UPPERALPHA_DIGIT",
            "NUMBERED_ZERODIGIT_ALPHA_ROMAN"
          ]
        },
        "cellLocation": {
          "$ref": "TableCellLocation",
          "description": "The optional table cell location if the text to be modified is in a table cell. If present, the object_id must refer to a table."
        },
        "textRange": {
          "description": "The range of text to apply the bullet presets to, based on TextElement indexes.",
          "$ref": "Range"
        },
        "objectId": {
          "type": "string",
          "description": "The object ID of the shape or table containing the text to add bullets to."
        }
      }
    },
    "CreateLineRequest": {
      "id": "CreateLineRequest",
      "properties": {
        "lineCategory": {
          "enum": [
            "STRAIGHT",
            "BENT",
            "CURVED"
          ],
          "description": "The category of the line to be created. *Deprecated*: use `category` instead. The exact line type created is determined based on the category and how it's routed to connect to other page elements. If you specify both a `category` and a `line_category`, the `category` takes precedence.",
          "type": "string",
          "enumDescriptions": [
            "Straight connectors, including straight connector 1. The is the default category when one is not specified.",
            "Bent connectors, including bent connector 2 to 5.",
            "Curved connectors, including curved connector 2 to 5."
          ]
        },
        "objectId": {
          "type": "string",
          "description": "A user-supplied object ID. If you specify an ID, it must be unique among all pages and page elements in the presentation. The ID must start with an alphanumeric character or an underscore (matches regex `[a-zA-Z0-9_]`); remaining characters may include those as well as a hyphen or colon (matches regex `[a-zA-Z0-9_-:]`). The length of the ID must not be less than 5 or greater than 50. If you don't specify an ID, a unique one is generated."
        },
        "category": {
          "enumDescriptions": [
            "Unspecified line category.",
            "Straight connectors, including straight connector 1.",
            "Bent connectors, including bent connector 2 to 5.",
            "Curved connectors, including curved connector 2 to 5."
          ],
          "enum": [
[...]
