{
  "discoveryVersion": "v1",
  "id": "spanner:v1",
  "fullyEncodeReservedExpansion": true,
  "revision": "20230918",
  "rootUrl": "https://spanner.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version_module": true,
  "title": "Cloud Spanner API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/spanner.admin": {
          "description": "Administer your Spanner databases"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/spanner.data": {
          "description": "View and manage the contents of your Spanner databases"
        }
      }
    }
  },
  "version": "v1",
  "schemas": {
    "EncryptionInfo": {
      "type": "object",
      "description": "Encryption information for a Cloud Spanner database or backup.",
      "properties": {
        "kmsKeyVersion": {
          "type": "string",
          "description": "Output only. A Cloud KMS key version that is being used to protect the database or backup.",
          "readOnly": true
        },
        "encryptionType": {
          "description": "Output only. The type of encryption.",
          "readOnly": true,
          "enumDescriptions": [
            "Encryption type was not specified, though data at rest remains encrypted.",
            "The data is encrypted at rest with a key that is fully managed by Google. No key version or status will be populated. This is the default state.",
            "The data is encrypted at rest with a key that is managed by the customer. The active version of the key. `kms_key_version` will be populated, and `encryption_status` may be populated."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "GOOGLE_DEFAULT_ENCRYPTION",
            "CUSTOMER_MANAGED_ENCRYPTION"
          ],
          "type": "string"
        },
        "encryptionStatus": {
          "readOnly": true,
          "$ref": "Status",
          "description": "Output only. If present, the status of a recent encrypt/decrypt call on underlying data for this database or backup. Regardless of status, data is always encrypted at rest."
        }
      },
      "id": "EncryptionInfo"
    },
    "TestIamPermissionsResponse": {
      "description": "Response message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "TestIamPermissionsResponse"
    },
    "CreateDatabaseMetadata": {
      "properties": {
        "database": {
          "type": "string",
          "description": "The database being created."
        }
      },
      "description": "Metadata type for the operation returned by CreateDatabase.",
      "id": "CreateDatabaseMetadata",
      "type": "object"
    },
    "Status": {
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "type": "array"
        }
      }
    },
    "ListInstanceConfigsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "`next_page_token` can be sent in a subsequent ListInstanceConfigs call to fetch more of the matching instance configurations."
        },
        "instanceConfigs": {
          "description": "The list of requested instance configurations.",
          "items": {
            "$ref": "InstanceConfig"
          },
          "type": "array"
        }
      },
      "description": "The response for ListInstanceConfigs.",
      "id": "ListInstanceConfigsResponse",
      "type": "object"
    },
    "Write": {
      "type": "object",
      "properties": {
        "table": {
          "type": "string",
          "description": "Required. The table whose rows will be written."
        },
        "values": {
          "type": "array",
          "description": "The values to be written. `values` can contain more than one list of values. If it does, then multiple rows are written, one for each entry in `values`. Each list in `values` must have exactly as many entries as there are entries in columns above. Sending multiple lists is equivalent to sending multiple `Mutation`s, each containing one `values` entry and repeating table and columns. Individual values in each list are encoded as described here.",
          "items": {
            "items": {
              "type": "any"
            },
            "type": "array"
          }
        },
        "columns": {
          "description": "The names of the columns in table to be written. The list of columns must contain enough columns to allow Cloud Spanner to derive values for all primary key columns in the row(s) to be modified.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "Write",
      "description": "Arguments to insert, update, insert_or_update, and replace operations."
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation",
      "type": "object",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        }
      }
    },
    "CreateBackupMetadata": {
      "description": "Metadata type for the operation returned by CreateBackup.",
      "id": "CreateBackupMetadata",
      "properties": {
        "cancelTime": {
          "type": "string",
          "description": "The time at which cancellation of this operation was received. Operations.CancelOperation starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "format": "google-datetime"
        },
        "database": {
          "description": "The name of the database the backup is created from.",
          "type": "string"
        },
        "name": {
          "description": "The name of the backup being created.",
          "type": "string"
        },
        "progress": {
          "description": "The progress of the CreateBackup operation.",
          "$ref": "OperationProgress"
        }
      },
      "type": "object"
    },
    "InstanceOperationProgress": {
      "id": "InstanceOperationProgress",
      "description": "Encapsulates progress related information for a Cloud Spanner long running instance operations.",
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "description": "If set, the time at which this operation failed or was completed successfully.",
          "type": "string"
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time the request was received."
        },
        "progressPercent": {
          "type": "integer",
          "format": "int32",
          "description": "Percent completion of the operation. Values are between 0 and 100 inclusive."
        }
      },
      "type": "object"
    },
    "ScanData": {
      "properties": {
        "endTime": {
          "description": "The upper bound for when the contained data is defined.",
          "format": "google-datetime",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "description": "A range of time (inclusive) for when the contained data is defined. The lower bound for when the contained data is defined.",
          "format": "google-datetime"
        },
        "data": {
          "$ref": "VisualizationData",
          "description": "Cloud Key Visualizer scan data. The range of time this information covers is captured via the above time range fields. Note, this field is not available to the ListScans method."
        }
      },
      "description": "ScanData contains Cloud Key Visualizer scan data used by the caller to construct a visualization.",
      "id": "ScanData",
      "type": "object"
    },
    "OptimizeRestoredDatabaseMetadata": {
      "id": "OptimizeRestoredDatabaseMetadata",
      "type": "object",
      "properties": {
        "progress": {
          "description": "The progress of the post-restore optimizations.",
          "$ref": "OperationProgress"
        },
        "name": {
          "type": "string",
          "description": "Name of the restored database being optimized."
        }
      },
      "description": "Metadata type for the long-running operation used to track the progress of optimizations performed on a newly restored database. This long-running operation is automatically created by the system after the successful completion of a database restore, and cannot be cancelled."
    },
    "CopyBackupMetadata": {
      "description": "Metadata type for the operation returned by CopyBackup.",
      "properties": {
        "progress": {
          "description": "The progress of the CopyBackup operation.",
          "$ref": "OperationProgress"
        },
        "cancelTime": {
          "format": "google-datetime",
          "description": "The time at which cancellation of CopyBackup operation was received. Operations.CancelOperation starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "string"
        },
        "name": {
          "description": "The name of the backup being created through the copy operation. Values are of the form `projects//instances//backups/`.",
          "type": "string"
        },
        "sourceBackup": {
          "type": "string",
          "description": "The name of the source backup that is being copied. Values are of the form `projects//instances//backups/`."
        }
      },
      "type": "object",
      "id": "CopyBackupMetadata"
    },
    "ResultSetStats": {
      "id": "ResultSetStats",
      "type": "object",
      "description": "Additional statistics about a ResultSet or PartialResultSet.",
      "properties": {
        "rowCountExact": {
          "type": "string",
          "description": "Standard DML returns an exact count of rows that were modified.",
          "format": "int64"
        },
        "rowCountLowerBound": {
          "type": "string",
          "description": "Partitioned DML does not offer exactly-once semantics, so it returns a lower bound of the rows modified.",
          "format": "int64"
        },
        "queryPlan": {
          "$ref": "QueryPlan",
          "description": "QueryPlan for the query associated with this result."
        },
        "queryStats": {
          "description": "Aggregated statistics from the execution of the query. Only present when the query is profiled. For example, a query could return the statistics as follows: { \"rows_returned\": \"3\", \"elapsed_time\": \"1.22 secs\", \"cpu_time\": \"1.19 secs\" }",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        }
      }
    },
    "ListBackupsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "`next_page_token` can be sent in a subsequent ListBackups call to fetch more of the matching backups."
        },
        "backups": {
          "items": {
            "$ref": "Backup"
          },
          "description": "The list of matching backups. Backups returned are ordered by `create_time` in descending order, starting from the most recent `create_time`.",
          "type": "array"
        }
      },
      "description": "The response for ListBackups.",
      "id": "ListBackupsResponse",
      "type": "object"
    },
    "UpdateDatabaseMetadata": {
      "properties": {
        "cancelTime": {
          "type": "string",
          "description": "The time at which this operation was cancelled. If set, this operation is in the process of undoing itself (which is best-effort).",
          "format": "google-datetime"
        },
        "progress": {
          "description": "The progress of the UpdateDatabase operation.",
          "$ref": "OperationProgress"
        },
        "request": {
          "$ref": "UpdateDatabaseRequest",
          "description": "The request for UpdateDatabase."
        }
      },
      "id": "UpdateDatabaseMetadata",
      "type": "object",
      "description": "Metadata type for the operation returned by UpdateDatabase."
    },
    "ListDatabaseOperationsResponse": {
      "description": "The response for ListDatabaseOperations.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "`next_page_token` can be sent in a subsequent ListDatabaseOperations call to fetch more of the matching metadata.",
          "type": "string"
        },
        "operations": {
          "type": "array",
          "description": "The list of matching database long-running operations. Each operation's name will be prefixed by the database's name. The operation's metadata field type `metadata.type_url` describes the type of the metadata.",
          "items": {
            "$ref": "Operation"
          }
        }
      },
      "id": "ListDatabaseOperationsResponse"
    },
    "IndexedKeyRangeInfos": {
      "id": "IndexedKeyRangeInfos",
      "properties": {
        "keyRangeInfos": {
          "additionalProperties": {
            "$ref": "KeyRangeInfos"
          },
          "type": "object",
          "description": "A (sparse) mapping from key bucket index to the KeyRangeInfos for that key bucket."
        }
      },
      "type": "object",
      "description": "A message representing a (sparse) collection of KeyRangeInfos for specific key buckets."
    },
    "PrefixNode": {
      "description": "A message representing a key prefix node in the key prefix hierarchy. for eg. Bigtable keyspaces are lexicographically ordered mappings of keys to values. Keys often have a shared prefix structure where users use the keys to organize data. Eg ///employee In this case Keysight will possibly use one node for a company and reuse it for all employees that fall under the company. Doing so improves legibility in the UI.",
      "properties": {
        "word": {
          "description": "The string represented by the prefix node.",
          "type": "string"
        },
        "startIndex": {
          "type": "integer",
          "format": "int32",
          "description": "The index of the start key bucket of the range that this node spans."
        },
        "endIndex": {
          "type": "integer",
          "description": "The index of the end key bucket of the range that this node spans.",
          "format": "int32"
        },
        "dataSourceNode": {
          "type": "boolean",
          "description": "Whether this corresponds to a data_source name."
        },
        "depth": {
          "format": "int32",
          "type": "integer",
          "description": "The depth in the prefix hierarchy."
        }
      },
      "type": "object",
      "id": "PrefixNode"
    },
    "ExecuteBatchDmlResponse": {
      "properties": {
        "resultSets": {
          "type": "array",
          "description": "One ResultSet for each statement in the request that ran successfully, in the same order as the statements in the request. Each ResultSet does not contain any rows. The ResultSetStats in each ResultSet contain the number of rows modified by the statement. Only the first ResultSet in the response contains valid ResultSetMetadata.",
          "items": {
            "$ref": "ResultSet"
          }
        },
        "status": {
          "description": "If all DML statements are executed successfully, the status is `OK`. Otherwise, the error status of the first failed statement.",
          "$ref": "Status"
        }
      },
      "id": "ExecuteBatchDmlResponse",
      "description": "The response for ExecuteBatchDml. Contains a list of ResultSet messages, one for each DML statement that has successfully executed, in the same order as the statements in the request. If a statement fails, the status in the response body identifies the cause of the failure. To check for DML statements that failed, use the following approach: 1. Check the status in the response message. The google.rpc.Code enum value `OK` indicates that all statements were executed successfully. 2. If the status was not `OK`, check the number of result sets in the response. If the response contains `N` ResultSet messages, then statement `N+1` in the request failed. Example 1: * Request: 5 DML statements, all executed successfully. * Response: 5 ResultSet messages, with the status `OK`. Example 2: * Request: 5 DML statements. The third statement has a syntax error. * Response: 2 ResultSet messages, and a syntax error (`INVALID_ARGUMENT`) status. The number of ResultSet messages indicates that the third statement failed, and the fourth and fifth statements were not executed.",
      "type": "object"
    },
    "InstanceConfig": {
      "properties": {
        "configType": {
          "description": "Output only. Whether this instance config is a Google or User Managed Configuration.",
          "readOnly": true,
          "enum": [
            "TYPE_UNSPECIFIED",
            "GOOGLE_MANAGED",
            "USER_MANAGED"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Google managed configuration.",
            "User managed configuration."
          ],
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "A unique identifier for the instance configuration. Values are of the form `projects//instanceConfigs/a-z*`."
        },
        "displayName": {
          "description": "The name of this instance configuration as it appears in UIs.",
          "type": "string"
        },
        "leaderOptions": {
          "type": "array",
          "description": "Allowed values of the \"default_leader\" schema option for databases in instances that use this instance configuration.",
          "items": {
            "type": "string"
          }
        },
        "etag": {
          "description": "etag is used for optimistic concurrency control as a way to help prevent simultaneous updates of a instance config from overwriting each other. It is strongly suggested that systems make use of the etag in the read-modify-write cycle to perform instance config updates in order to avoid race conditions: An etag is returned in the response which contains instance configs, and systems are expected to put that etag in the request to update instance config to ensure that their change will be applied to the same version of the instance config. If no etag is provided in the call to update instance config, then the existing instance config is overwritten blindly.",
          "type": "string"
        },
        "replicas": {
          "type": "array",
          "description": "The geographic placement of nodes in this instance configuration and their replication properties.",
          "items": {
            "$ref": "ReplicaInfo"
          }
        },
        "reconciling": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. If true, the instance config is being created or updated. If false, there are no ongoing operations for the instance config."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cloud Labels are a flexible and lightweight mechanism for organizing cloud resources into groups that reflect a customer's organizational needs and deployment strategies. Cloud Labels can be used to filter collections of resources. They can be used to control how resource metrics are aggregated. And they can be used as arguments to policy management rules (e.g. route, firewall, load balancing, etc.). * Label keys must be between 1 and 63 characters long and must conform to the following regular expression: `a-z{0,62}`. * Label values must be between 0 and 63 characters long and must conform to the regular expression `[a-z0-9_-]{0,63}`. * No more than 64 labels can be associated with a given resource. See https://goo.gl/xmQnxf for more information on and examples of labels. If you plan to use labels in your own code, please note that additional characters may be allowed in the future. Therefore, you are advised to use an internal label representation, such as JSON, which doesn't rely upon specific characters being disallowed. For example, representing labels as the string: name + \"_\" + value would prove problematic if we were to allow \"_\" in a future release.",
          "type": "object"
        },
        "optionalReplicas": {
          "readOnly": true,
          "items": {
            "$ref": "ReplicaInfo"
          },
          "type": "array",
          "description": "Output only. The available optional replicas to choose from for user managed configurations. Populated for Google managed configurations."
        },
        "freeInstanceAvailability": {
          "readOnly": true,
          "enumDescriptions": [
            "Not specified.",
            "Indicates that free instances are available to be created in this instance config.",
            "Indicates that free instances are not supported in this instance config.",
            "Indicates that free instances are currently not available to be created in this instance config.",
            "Indicates that additional free instances cannot be created in this instance config because the project has reached its limit of free instances."
          ],
          "enum": [
            "FREE_INSTANCE_AVAILABILITY_UNSPECIFIED",
            "AVAILABLE",
            "UNSUPPORTED",
            "DISABLED",
            "QUOTA_EXCEEDED"
          ],
          "description": "Output only. Describes whether free instances are available to be created in this instance config.",
          "type": "string"
        },
        "baseConfig": {
          "type": "string",
          "description": "Base configuration name, e.g. projects//instanceConfigs/nam3, based on which this configuration is created. Only set for user managed configurations. `base_config` must refer to a configuration of type GOOGLE_MANAGED in the same project as this configuration."
        },
        "state": {
          "description": "Output only. The current instance config state. Applicable only for USER_MANAGED configs.",
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "The instance config is still being created.",
            "The instance config is fully created and ready to be used to create instances."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY"
          ],
          "readOnly": true
        }
      },
      "description": "A possible configuration for a Cloud Spanner instance. Configurations define the geographic placement of nodes and their replication.",
      "id": "InstanceConfig",
      "type": "object"
    },
    "CreateSessionRequest": {
      "type": "object",
      "properties": {
        "session": {
          "description": "Required. The session to create.",
          "$ref": "Session"
        }
      },
      "id": "CreateSessionRequest",
      "description": "The request for CreateSession."
    },
    "ReadRequest": {
      "type": "object",
      "properties": {
        "dataBoostEnabled": {
          "description": "If this is for a partitioned read and this field is set to `true`, the request is executed with Spanner Data Boost independent compute resources. If the field is set to `true` but the request does not set `partition_token`, the API returns an `INVALID_ARGUMENT` error.",
          "type": "boolean"
        },
        "table": {
          "description": "Required. The name of the table in the database to be read.",
          "type": "string"
        },
        "requestOptions": {
          "$ref": "RequestOptions",
          "description": "Common options for this request."
        },
        "limit": {
          "description": "If greater than zero, only the first `limit` rows are yielded. If `limit` is zero, the default is no limit. A limit cannot be specified if `partition_token` is set.",
          "type": "string",
          "format": "int64"
        },
        "index": {
          "description": "If non-empty, the name of an index on table. This index is used instead of the table primary key when interpreting key_set and sorting result rows. See key_set for further information.",
          "type": "string"
        },
        "partitionToken": {
          "type": "string",
          "format": "byte",
          "description": "If present, results will be restricted to the specified partition previously created using PartitionRead(). There must be an exact match for the values of fields common to this message and the PartitionReadRequest message used to create this partition_token."
        },
        "keySet": {
          "$ref": "KeySet",
          "description": "Required. `key_set` identifies the rows to be yielded. `key_set` names the primary keys of the rows in table to be yielded, unless index is present. If index is present, then key_set instead names index keys in index. If the partition_token field is empty, rows are yielded in table primary key order (if index is empty) or index key order (if index is non-empty). If the partition_token field is not empty, rows will be yielded in an unspecified order. It is not an error for the `key_set` to name rows that do not exist in the database. Read yields nothing for nonexistent rows."
        },
        "transaction": {
          "description": "The transaction to use. If none is provided, the default is a temporary read-only transaction with strong concurrency.",
          "$ref": "TransactionSelector"
        },
        "resumeToken": {
          "type": "string",
          "format": "byte",
          "description": "If this request is resuming a previously interrupted read, `resume_token` should be copied from the last PartialResultSet yielded before the interruption. Doing this enables the new read to resume where the last read left off. The rest of the request parameters must exactly match the request that yielded this token."
        },
        "columns": {
          "description": "Required. The columns of table to be returned for each row matching this request.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "The request for Read and StreamingRead.",
      "id": "ReadRequest"
    },
    "PartitionReadRequest": {
      "id": "PartitionReadRequest",
      "properties": {
        "keySet": {
          "description": "Required. `key_set` identifies the rows to be yielded. `key_set` names the primary keys of the rows in table to be yielded, unless index is present. If index is present, then key_set instead names index keys in index. It is not an error for the `key_set` to name rows that do not exist in the database. Read yields nothing for nonexistent rows.",
          "$ref": "KeySet"
        },
        "columns": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The columns of table to be returned for each row matching this request."
        },
        "transaction": {
          "description": "Read only snapshot transactions are supported, read/write and single use transactions are not.",
          "$ref": "TransactionSelector"
        },
        "table": {
          "type": "string",
          "description": "Required. The name of the table in the database to be read."
        },
        "index": {
          "type": "string",
          "description": "If non-empty, the name of an index on table. This index is used instead of the table primary key when interpreting key_set and sorting result rows. See key_set for further information."
        },
        "partitionOptions": {
          "description": "Additional options that affect how many partitions are created.",
          "$ref": "PartitionOptions"
        }
      },
      "type": "object",
      "description": "The request for PartitionRead"
    },
    "ListOperationsResponse": {
      "type": "object",
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        }
      }
    },
    "GetPolicyOptions": {
      "type": "object",
      "properties": {
        "requestedPolicyVersion": {
          "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GetPolicyOptions",
      "description": "Encapsulates settings provided to GetIamPolicy."
    },
    "CopyBackupRequest": {
      "id": "CopyBackupRequest",
      "properties": {
        "sourceBackup": {
          "type": "string",
          "description": "Required. The source backup to be copied. The source backup needs to be in READY state for it to be copied. Once CopyBackup is in progress, the source backup cannot be deleted or cleaned up on expiration until CopyBackup is finished. Values are of the form: `projects//instances//backups/`."
        },
        "expireTime": {
          "description": "Required. The expiration time of the backup in microsecond granularity. The expiration time must be at least 6 hours and at most 366 days from the `create_time` of the source backup. Once the `expire_time` has passed, the backup is eligible to be automatically deleted by Cloud Spanner to free the resources used by the backup.",
          "format": "google-datetime",
          "type": "string"
        },
        "encryptionConfig": {
          "description": "Optional. The encryption configuration used to encrypt the backup. If this field is not specified, the backup will use the same encryption configuration as the source backup by default, namely encryption_type = `USE_CONFIG_DEFAULT_OR_BACKUP_ENCRYPTION`.",
          "$ref": "CopyBackupEncryptionConfig"
        },
        "backupId": {
          "type": "string",
          "description": "Required. The id of the backup copy. The `backup_id` appended to `parent` forms the full backup_uri of the form `projects//instances//backups/`."
        }
      },
      "type": "object",
      "description": "The request for CopyBackup."
    },
    "ExecuteSqlRequest": {
      "id": "ExecuteSqlRequest",
      "type": "object",
      "properties": {
        "queryMode": {
          "enum": [
            "NORMAL",
            "PLAN",
            "PROFILE"
          ],
          "type": "string",
          "enumDescriptions": [
            "The default mode. Only the statement results are returned.",
            "This mode returns only the query plan, without any results or execution statistics information.",
            "This mode returns both the query plan and the execution statistics along with the results."
          ],
          "description": "Used to control the amount of debugging information returned in ResultSetStats. If partition_token is set, query_mode can only be set to QueryMode.NORMAL."
        },
        "partitionToken": {
          "format": "byte",
          "description": "If present, results will be restricted to the specified partition previously created using PartitionQuery(). There must be an exact match for the values of fields common to this message and the PartitionQueryRequest message used to create this partition_token.",
          "type": "string"
        },
        "paramTypes": {
          "additionalProperties": {
            "$ref": "Type"
          },
          "description": "It is not always possible for Cloud Spanner to infer the right SQL type from a JSON value. For example, values of type `BYTES` and values of type `STRING` both appear in params as JSON strings. In these cases, `param_types` can be used to specify the exact SQL type for some or all of the SQL statement parameters. See the definition of Type for more information about SQL types.",
          "type": "object"
        },
        "params": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "Parameter names and values that bind to placeholders in the SQL string. A parameter placeholder consists of the `@` character followed by the parameter name (for example, `@firstName`). Parameter names must conform to the naming requirements of identifiers as specified at https://cloud.google.com/spanner/docs/lexical#identifiers. Parameters can appear anywhere that a literal value is expected. The same parameter name can be used more than once, for example: `\"WHERE id \u003e @msg_id AND id \u003c @msg_id + 100\"` It is an error to execute a SQL statement with unbound parameters."
        },
        "seqno": {
          "description": "A per-transaction sequence number used to identify this request. This field makes each request idempotent such that if the request is received multiple times, at most one will succeed. The sequence number must be monotonically increasing within the transaction. If a request arrives for the first time with an out-of-order sequence number, the transaction may be aborted. Replays of previously handled requests will yield the same response as the first execution. Required for DML statements. Ignored for queries.",
          "type": "string",
          "format": "int64"
        },
        "sql": {
          "description": "Required. The SQL string.",
          "type": "string"
        },
        "resumeToken": {
          "format": "byte",
          "type": "string",
          "description": "If this request is resuming a previously interrupted SQL statement execution, `resume_token` should be copied from the last PartialResultSet yielded before the interruption. Doing this enables the new SQL statement execution to resume where the last one left off. The rest of the request parameters must exactly match the request that yielded this token."
        },
        "requestOptions": {
          "description": "Common options for this request.",
          "$ref": "RequestOptions"
        },
        "transaction": {
          "description": "The transaction to use. For queries, if none is provided, the default is a temporary read-only transaction with strong concurrency. Standard DML statements require a read-write transaction. To protect against replays, single-use transactions are not supported. The caller must either supply an existing transaction ID or begin a new transaction. Partitioned DML requires an existing Partitioned DML transaction ID.",
          "$ref": "TransactionSelector"
        },
        "dataBoostEnabled": {
          "description": "If this is for a partitioned query and this field is set to `true`, the request is executed with Spanner Data Boost independent compute resources. If the field is set to `true` but the request does not set `partition_token`, the API returns an `INVALID_ARGUMENT` error.",
          "type": "boolean"
        },
        "queryOptions": {
          "$ref": "QueryOptions",
          "description": "Query optimizer configuration to use for the given query."
        }
      },
      "description": "The request for ExecuteSql and ExecuteStreamingSql."
    },
    "EncryptionConfig": {
      "type": "object",
      "description": "Encryption configuration for a Cloud Spanner database.",
      "id": "EncryptionConfig",
      "properties": {
        "kmsKeyName": {
          "type": "string",
          "description": "The Cloud KMS key to be used for encrypting and decrypting the database. Values are of the form `projects//locations//keyRings//cryptoKeys/`."
        }
      }
    },
    "RequestOptions": {
      "properties": {
        "transactionTag": {
          "description": "A tag used for statistics collection about this transaction. Both request_tag and transaction_tag can be specified for a read or query that belongs to a transaction. The value of transaction_tag should be the same for all requests belonging to the same transaction. If this request doesn't belong to any transaction, transaction_tag will be ignored. Legal characters for `transaction_tag` values are all printable characters (ASCII 32 - 126) and the length of a transaction_tag is limited to 50 characters. Values that exceed this limit are truncated. Any leading underscore (_) characters will be removed from the string.",
          "type": "string"
        },
        "priority": {
          "enum": [
            "PRIORITY_UNSPECIFIED",
            "PRIORITY_LOW",
            "PRIORITY_MEDIUM",
            "PRIORITY_HIGH"
          ],
          "type": "string",
          "description": "Priority for the request.",
          "enumDescriptions": [
            "`PRIORITY_UNSPECIFIED` is equivalent to `PRIORITY_HIGH`.",
            "This specifies that the request is low priority.",
            "This specifies that the request is medium priority.",
            "This specifies that the request is high priority."
          ]
        },
        "requestTag": {
          "description": "A per-request tag which can be applied to queries or reads, used for statistics collection. Both request_tag and transaction_tag can be specified for a read or query that belongs to a transaction. This field is ignored for requests where it's not applicable (e.g. CommitRequest). Legal characters for `request_tag` values are all printable characters (ASCII 32 - 126) and the length of a request_tag is limited to 50 characters. Values that exceed this limit are truncated. Any leading underscore (_) characters will be removed from the string.",
          "type": "string"
        }
      },
      "description": "Common request options for various APIs.",
      "id": "RequestOptions",
      "type": "object"
    },
    "RollbackRequest": {
      "description": "The request for Rollback.",
      "properties": {
        "transactionId": {
          "description": "Required. The transaction to roll back.",
          "type": "string",
          "format": "byte"
        }
      },
      "type": "object",
      "id": "RollbackRequest"
    },
    "Empty": {
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "Empty"
    },
    "ExecuteBatchDmlRequest": {
      "description": "The request for ExecuteBatchDml.",
      "properties": {
        "requestOptions": {
          "description": "Common options for this request.",
          "$ref": "RequestOptions"
        },
        "transaction": {
          "$ref": "TransactionSelector",
          "description": "Required. The transaction to use. Must be a read-write transaction. To protect against replays, single-use transactions are not supported. The caller must either supply an existing transaction ID or begin a new transaction."
        },
        "statements": {
          "items": {
            "$ref": "Statement"
          },
          "type": "array",
          "description": "Required. The list of statements to execute in this batch. Statements are executed serially, such that the effects of statement `i` are visible to statement `i+1`. Each statement must be a DML statement. Execution stops at the first failed statement; the remaining statements are not executed. Callers must provide at least one statement."
        },
        "seqno": {
          "description": "Required. A per-transaction sequence number used to identify this request. This field makes each request idempotent such that if the request is received multiple times, at most one will succeed. The sequence number must be monotonically increasing within the transaction. If a request arrives for the first time with an out-of-order sequence number, the transaction may be aborted. Replays of previously handled requests will yield the same response as the first execution.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "ExecuteBatchDmlRequest"
    },
    "QueryOptions": {
      "description": "Query optimizer configuration.",
      "type": "object",
      "id": "QueryOptions",
      "properties": {
        "optimizerStatisticsPackage": {
          "description": "An option to control the selection of optimizer statistics package. This parameter allows individual queries to use a different query optimizer statistics package. Specifying `latest` as a value instructs Cloud Spanner to use the latest generated statistics package. If not specified, Cloud Spanner uses the statistics package set at the database level options, or the latest package if the database option is not set. The statistics package requested by the query has to be exempt from garbage collection. This can be achieved with the following DDL statement: ``` ALTER STATISTICS SET OPTIONS (allow_gc=false) ``` The list of available statistics packages can be queried from `INFORMATION_SCHEMA.SPANNER_STATISTICS`. Executing a SQL statement with an invalid optimizer statistics package or with a statistics package that allows garbage collection fails with an `INVALID_ARGUMENT` error.",
          "type": "string"
        },
        "optimizerVersion": {
          "description": "An option to control the selection of optimizer version. This parameter allows individual queries to pick different query optimizer versions. Specifying `latest` as a value instructs Cloud Spanner to use the latest supported query optimizer version. If not specified, Cloud Spanner uses the optimizer version set at the database level options. Any other positive integer (from the list of supported optimizer versions) overrides the default optimizer version for query execution. The list of supported optimizer versions can be queried from SPANNER_SYS.SUPPORTED_OPTIMIZER_VERSIONS. Executing a SQL statement with an invalid optimizer version fails with an `INVALID_ARGUMENT` error. See https://cloud.google.com/spanner/docs/query-optimizer/manage-query-optimizer for more information on managing the query optimizer. The `optimizer_version` statement hint has precedence over this setting.",
          "type": "string"
        }
      }
    },
    "RestoreDatabaseRequest": {
      "description": "The request for RestoreDatabase.",
      "properties": {
        "databaseId": {
          "type": "string",
          "description": "Required. The id of the database to create and restore to. This database must not already exist. The `database_id` appended to `parent` forms the full database name of the form `projects//instances//databases/`."
        },
        "backup": {
          "type": "string",
          "description": "Name of the backup from which to restore. Values are of the form `projects//instances//backups/`."
        },
        "encryptionConfig": {
          "description": "Optional. An encryption configuration describing the encryption type and key resources in Cloud KMS used to encrypt/decrypt the database to restore to. If this field is not specified, the restored database will use the same encryption configuration as the backup by default, namely encryption_type = `USE_CONFIG_DEFAULT_OR_BACKUP_ENCRYPTION`.",
          "$ref": "RestoreDatabaseEncryptionConfig"
        }
      },
      "type": "object",
      "id": "RestoreDatabaseRequest"
    },
    "UpdateDatabaseDdlMetadata": {
      "type": "object",
      "id": "UpdateDatabaseDdlMetadata",
      "properties": {
        "statements": {
          "type": "array",
          "description": "For an update this list contains all the statements. For an individual statement, this list contains only that statement.",
          "items": {
            "type": "string"
          }
        },
        "database": {
          "type": "string",
          "description": "The database being modified."
        },
        "commitTimestamps": {
          "type": "array",
          "description": "Reports the commit timestamps of all statements that have succeeded so far, where `commit_timestamps[i]` is the commit timestamp for the statement `statements[i]`.",
          "items": {
            "format": "google-datetime",
            "type": "string"
          }
        },
        "progress": {
          "description": "The progress of the UpdateDatabaseDdl operations. All DDL statements will have continuously updating progress, and `progress[i]` is the operation progress for `statements[i]`. Also, `progress[i]` will have start time and end time populated with commit timestamp of operation, as well as a progress of 100% once the operation has completed.",
          "type": "array",
          "items": {
            "$ref": "OperationProgress"
          }
        },
        "actions": {
          "description": "The brief action info for the DDL statements. `actions[i]` is the brief info for `statements[i]`.",
          "type": "array",
          "items": {
            "$ref": "DdlStatementActionInfo"
          }
        },
        "throttled": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. When true, indicates that the operation is throttled e.g. due to resource constraints. When resources become available the operation will resume and this field will be false again."
        }
      },
      "description": "Metadata type for the operation returned by UpdateDatabaseDdl."
    },
    "Statement": {
      "id": "Statement",
      "type": "object",
      "properties": {
        "params": {
          "type": "object",
          "description": "Parameter names and values that bind to placeholders in the DML string. A parameter placeholder consists of the `@` character followed by the parameter name (for example, `@firstName`). Parameter names can contain letters, numbers, and underscores. Parameters can appear anywhere that a literal value is expected. The same parameter name can be used more than once, for example: `\"WHERE id \u003e @msg_id AND id \u003c @msg_id + 100\"` It is an error to execute a SQL statement with unbound parameters.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "paramTypes": {
          "type": "object",
          "description": "It is not always possible for Cloud Spanner to infer the right SQL type from a JSON value. For example, values of type `BYTES` and values of type `STRING` both appear in params as JSON strings. In these cases, `param_types` can be used to specify the exact SQL type for some or all of the SQL statement parameters. See the definition of Type for more information about SQL types.",
          "additionalProperties": {
            "$ref": "Type"
          }
        },
        "sql": {
          "description": "Required. The DML string.",
          "type": "string"
        }
      },
      "description": "A single DML statement."
    },
    "ChildLink": {
      "id": "ChildLink",
      "description": "Metadata associated with a parent-child relationship appearing in a PlanNode.",
      "type": "object",
      "properties": {
        "variable": {
          "type": "string",
          "description": "Only present if the child node is SCALAR and corresponds to an output variable of the parent node. The field carries the name of the output variable. For example, a `TableScan` operator that reads rows from a table will have child links to the `SCALAR` nodes representing the output variables created for each column that is read by the operator. The corresponding `variable` fields will be set to the variable names assigned to the columns."
        },
        "childIndex": {
          "format": "int32",
          "type": "integer",
          "description": "The node to which the link points."
        },
        "type": {
          "type": "string",
          "description": "The type of the link. For example, in Hash Joins this could be used to distinguish between the build child and the probe child, or in the case of the child being an output variable, to represent the tag associated with the output variable."
        }
      }
    },
    "StructType": {
      "properties": {
        "fields": {
          "items": {
            "$ref": "Field"
          },
          "description": "The list of fields that make up this struct. Order is significant, because values of this struct type are represented as lists, where the order of field values matches the order of fields in the StructType. In turn, the order of fields matches the order of columns in a read request, or the order of fields in the `SELECT` clause of a query.",
          "type": "array"
        }
      },
      "id": "StructType",
      "type": "object",
      "description": "`StructType` defines the fields of a STRUCT type."
    },
    "DdlStatementActionInfo": {
      "properties": {
        "entityType": {
          "type": "string",
          "description": "The entity type for the DDL statement, e.g. TABLE, INDEX, VIEW, etc. This field can be empty string for some DDL statement, e.g. for statement \"ANALYZE\", `entity_type` = \"\"."
        },
        "action": {
          "description": "The action for the DDL statement, e.g. CREATE, ALTER, DROP, GRANT, etc. This field is a non-empty string.",
          "type": "string"
        },
        "entityNames": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The entity name(s) being operated on the DDL statement. E.g. 1. For statement \"CREATE TABLE t1(...)\", `entity_names` = [\"t1\"]. 2. For statement \"GRANT ROLE r1, r2 ...\", `entity_names` = [\"r1\", \"r2\"]. 3. For statement \"ANALYZE\", `entity_names` = []."
        }
      },
      "id": "DdlStatementActionInfo",
      "type": "object",
      "description": "Action information extracted from a DDL statement. This proto is used to display the brief info of the DDL statement for the operation UpdateDatabaseDdl."
    },
    "CopyBackupEncryptionConfig": {
      "type": "object",
      "properties": {
        "kmsKeyName": {
          "type": "string",
          "description": "Optional. The Cloud KMS key that will be used to protect the backup. This field should be set only when encryption_type is `CUSTOMER_MANAGED_ENCRYPTION`. Values are of the form `projects//locations//keyRings//cryptoKeys/`."
        },
        "encryptionType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified. Do not use.",
            "This is the default option for CopyBackup when encryption_config is not specified. For example, if the source backup is using `Customer_Managed_Encryption`, the backup will be using the same Cloud KMS key as the source backup.",
            "Use Google default encryption.",
            "Use customer managed encryption. If specified, either `kms_key_name` or `kms_key_names` must contain valid Cloud KMS key(s)."
          ],
          "enum": [
            "ENCRYPTION_TYPE_UNSPECIFIED",
            "USE_CONFIG_DEFAULT_OR_BACKUP_ENCRYPTION",
            "GOOGLE_DEFAULT_ENCRYPTION",
            "CUSTOMER_MANAGED_ENCRYPTION"
          ],
          "description": "Required. The encryption type of the backup."
        }
      },
      "id": "CopyBackupEncryptionConfig",
      "description": "Encryption configuration for the copied backup."
    },
    "TestIamPermissionsRequest": {
      "id": "TestIamPermissionsRequest",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "description": "REQUIRED: The set of permissions to check for 'resource'. Permissions with wildcards (such as '*', 'spanner.*', 'spanner.instances.*') are not allowed.",
          "type": "array"
        }
      },
      "description": "Request message for `TestIamPermissions` method.",
      "type": "object"
    },
    "CreateInstanceRequest": {
      "description": "The request for CreateInstance.",
      "properties": {
        "instanceId": {
          "type": "string",
          "description": "Required. The ID of the instance to create. Valid identifiers are of the form `a-z*[a-z0-9]` and must be between 2 and 64 characters in length."
        },
        "instance": {
          "description": "Required. The instance to create. The name may be omitted, but if specified must be `/instances/`.",
          "$ref": "Instance"
        }
      },
      "type": "object",
      "id": "CreateInstanceRequest"
    },
    "CommitStats": {
      "type": "object",
      "description": "Additional statistics about a commit.",
      "id": "CommitStats",
      "properties": {
        "mutationCount": {
          "description": "The total number of mutations for the transaction. Knowing the `mutation_count` value can help you maximize the number of mutations in a transaction and minimize the number of API round trips. You can also monitor this value to prevent transactions from exceeding the system [limit](https://cloud.google.com/spanner/quotas#limits_for_creating_reading_updating_and_deleting_data). If the number of mutations exceeds the limit, the server returns [INVALID_ARGUMENT](https://cloud.google.com/spanner/docs/reference/rest/v1/Code#ENUM_VALUES.INVALID_ARGUMENT).",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "ReplicaInfo": {
      "type": "object",
      "id": "ReplicaInfo",
      "properties": {
        "defaultLeaderLocation": {
          "description": "If true, this location is designated as the default leader location where leader replicas are placed. See the [region types documentation](https://cloud.google.com/spanner/docs/instances#region_types) for more details.",
          "type": "boolean"
        },
        "type": {
          "enumDescriptions": [
            "Not specified.",
            "Read-write replicas support both reads and writes. These replicas: * Maintain a full copy of your data. * Serve reads. * Can vote whether to commit a write. * Participate in leadership election. * Are eligible to become a leader.",
            "Read-only replicas only support reads (not writes). Read-only replicas: * Maintain a full copy of your data. * Serve reads. * Do not participate in voting to commit writes. * Are not eligible to become a leader.",
            "Witness replicas don't support reads but do participate in voting to commit writes. Witness replicas: * Do not maintain a full copy of data. * Do not serve reads. * Vote whether to commit writes. * Participate in leader election but are not eligible to become leader."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "READ_WRITE",
            "READ_ONLY",
            "WITNESS"
          ],
          "description": "The type of replica.",
          "type": "string"
        },
        "location": {
          "description": "The location of the serving resources, e.g. \"us-central1\".",
          "type": "string"
        }
      }
    },
    "Metric": {
      "type": "object",
      "properties": {
        "unit": {
          "$ref": "LocalizedString",
          "description": "The unit of the metric."
        },
        "aggregation": {
          "enumDescriptions": [
            "Required default value.",
            "Use the maximum of all values.",
            "Use the sum of all values."
          ],
          "enum": [
            "AGGREGATION_UNSPECIFIED",
            "MAX",
            "SUM"
          ],
          "type": "string",
          "description": "The aggregation function used to aggregate each key bucket"
        },
        "hotValue": {
          "description": "The value that is considered hot for the metric. On a per metric basis hotness signals high utilization and something that might potentially be a cause for concern by the end user. hot_value is used to calibrate and scale visual color scales.",
          "format": "float",
          "type": "number"
        },
        "hasNonzeroData": {
          "type": "boolean",
          "description": "Whether the metric has any non-zero data."
        },
        "visible": {
          "description": "Whether the metric is visible to the end user.",
          "type": "boolean"
        },
        "info": {
          "$ref": "LocalizedString",
          "description": "Information about the metric."
        },
        "displayLabel": {
          "$ref": "LocalizedString",
          "description": "The displayed label of the metric."
        },
        "matrix": {
          "$ref": "MetricMatrix",
          "description": "The data for the metric as a matrix."
        },
        "derived": {
          "description": "The references to numerator and denominator metrics for a derived metric.",
          "$ref": "DerivedMetric"
        },
        "category": {
          "$ref": "LocalizedString",
          "description": "The category of the metric, e.g. \"Activity\", \"Alerts\", \"Reads\", etc."
        },
        "indexedKeyRangeInfos": {
          "description": "The (sparse) mapping from time interval index to an IndexedKeyRangeInfos message, representing those time intervals for which there are informational messages concerning key ranges.",
          "type": "object",
          "additionalProperties": {
            "$ref": "IndexedKeyRangeInfos"
          }
        },
        "indexedHotKeys": {
          "description": "The (sparse) mapping from time index to an IndexedHotKey message, representing those time intervals for which there are hot keys.",
          "type": "object",
          "additionalProperties": {
            "$ref": "IndexedHotKey"
          }
        }
      },
      "id": "Metric",
      "description": "A message representing the actual monitoring data, values for each key bucket over time, of a metric."
    },
    "RestoreInfo": {
      "properties": {
        "sourceType": {
          "type": "string",
          "enumDescriptions": [
            "No restore associated.",
            "A backup was used as the source of the restore."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "BACKUP"
          ],
          "description": "The type of the restore source."
        },
        "backupInfo": {
          "description": "Information about the backup used to restore the database. The backup may no longer exist.",
          "$ref": "BackupInfo"
        }
      },
      "type": "object",
      "id": "RestoreInfo",
      "description": "Information about the database restore."
    },
    "QueryPlan": {
      "description": "Contains an ordered list of nodes appearing in the query plan.",
      "id": "QueryPlan",
      "type": "object",
      "properties": {
        "planNodes": {
          "type": "array",
          "description": "The nodes in the query plan. Plan nodes are returned in pre-order starting with the plan root. Each PlanNode's `id` corresponds to its index in `plan_nodes`.",
          "items": {
            "$ref": "PlanNode"
          }
        }
      }
    },
    "Binding": {
      "id": "Binding",
      "description": "Associates `members`, or principals, with a `role`.",
      "type": "object",
      "properties": {
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        },
        "role": {
          "type": "string",
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`."
        },
        "members": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding."
        }
      }
    },
    "ResultSet": {
      "type": "object",
      "description": "Results from Read or ExecuteSql.",
      "id": "ResultSet",
      "properties": {
        "metadata": {
          "description": "Metadata about the result set, such as row type information.",
          "$ref": "ResultSetMetadata"
        },
        "stats": {
          "$ref": "ResultSetStats",
          "description": "Query plan and execution statistics for the SQL statement that produced this result set. These can be requested by setting ExecuteSqlRequest.query_mode. DML statements always produce stats containing the number of rows modified, unless executed using the ExecuteSqlRequest.QueryMode.PLAN ExecuteSqlRequest.query_mode. Other fields may or may not be populated, based on the ExecuteSqlRequest.query_mode."
        },
        "rows": {
          "items": {
            "items": {
              "type": "any"
            },
            "type": "array"
          },
          "type": "array",
          "description": "Each element in `rows` is a row whose format is defined by metadata.row_type. The ith element in each row matches the ith field in metadata.row_type. Elements are encoded based on type as described here."
        }
      }
    },
    "Expr": {
      "id": "Expr",
      "type": "object",
      "properties": {
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        }
      },
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
    },
    "PartitionedDml": {
      "properties": {},
      "id": "PartitionedDml",
      "type": "object",
      "description": "Message type to initiate a Partitioned DML transaction."
    },
    "CreateInstanceConfigRequest": {
      "id": "CreateInstanceConfigRequest",
      "description": "The request for CreateInstanceConfigRequest.",
      "properties": {
        "validateOnly": {
          "type": "boolean",
          "description": "An option to validate, but not actually execute, a request, and provide the same response."
        },
        "instanceConfigId": {
          "type": "string",
          "description": "Required. The ID of the instance config to create. Valid identifiers are of the form `custom-[-a-z0-9]*[a-z0-9]` and must be between 2 and 64 characters in length. The `custom-` prefix is required to avoid name conflicts with Google managed configurations."
        },
        "instanceConfig": {
          "description": "Required. The InstanceConfig proto of the configuration to create. instance_config.name must be `/instanceConfigs/`. instance_config.base_config must be a Google managed configuration name, e.g. /instanceConfigs/us-east1, /instanceConfigs/nam3.",
          "$ref": "InstanceConfig"
        }
      },
      "type": "object"
    },
    "ListInstancesResponse": {
      "id": "ListInstancesResponse",
      "properties": {
        "instances": {
          "items": {
            "$ref": "Instance"
          },
          "description": "The list of requested instances.",
          "type": "array"
        },
        "unreachable": {
          "description": "The list of unreachable instances. It includes the names of instances whose metadata could not be retrieved within instance_deadline.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "`next_page_token` can be sent in a subsequent ListInstances call to fetch more of the matching instances."
        }
      },
      "description": "The response for ListInstances.",
      "type": "object"
    },
    "ResultSetMetadata": {
      "properties": {
        "rowType": {
          "$ref": "StructType",
          "description": "Indicates the field names and types for the rows in the result set. For example, a SQL query like `\"SELECT UserId, UserName FROM Users\"` could return a `row_type` value like: \"fields\": [ { \"name\": \"UserId\", \"type\": { \"code\": \"INT64\" } }, { \"name\": \"UserName\", \"type\": { \"code\": \"STRING\" } }, ]"
        },
        "transaction": {
          "description": "If the read or SQL query began a transaction as a side-effect, the information about the new transaction is yielded here.",
          "$ref": "Transaction"
        },
        "undeclaredParameters": {
          "$ref": "StructType",
          "description": "A SQL query can be parameterized. In PLAN mode, these parameters can be undeclared. This indicates the field names and types for those undeclared parameters in the SQL query. For example, a SQL query like `\"SELECT * FROM Users where UserId = @userId and UserName = @userName \"` could return a `undeclared_parameters` value like: \"fields\": [ { \"name\": \"UserId\", \"type\": { \"code\": \"INT64\" } }, { \"name\": \"UserName\", \"type\": { \"code\": \"STRING\" } }, ]"
        }
      },
      "description": "Metadata about a ResultSet or PartialResultSet.",
      "type": "object",
      "id": "ResultSetMetadata"
    },
    "PartialResultSet": {
      "description": "Partial results from a streaming read or SQL query. Streaming reads and SQL queries better tolerate large result sets, large rows, and large values, but are a little trickier to consume.",
      "properties": {
        "resumeToken": {
          "format": "byte",
          "description": "Streaming calls might be interrupted for a variety of reasons, such as TCP connection loss. If this occurs, the stream of results can be resumed by re-sending the original request and including `resume_token`. Note that executing any other transaction in the same session invalidates the token.",
          "type": "string"
        },
        "chunkedValue": {
          "description": "If true, then the final value in values is chunked, and must be combined with more values from subsequent `PartialResultSet`s to obtain a complete field value.",
          "type": "boolean"
        },
        "stats": {
          "description": "Query plan and execution statistics for the statement that produced this streaming result set. These can be requested by setting ExecuteSqlRequest.query_mode and are sent only once with the last response in the stream. This field will also be present in the last response for DML statements.",
          "$ref": "ResultSetStats"
        },
        "values": {
          "items": {
            "type": "any"
          },
          "description": "A streamed result set consists of a stream of values, which might be split into many `PartialResultSet` messages to accommodate large rows and/or large values. Every N complete values defines a row, where N is equal to the number of entries in metadata.row_type.fields. Most values are encoded based on type as described here. It is possible that the last value in values is \"chunked\", meaning that the rest of the value is sent in subsequent `PartialResultSet`(s). This is denoted by the chunked_value field. Two or more chunked values can be merged to form a complete value as follows: * `bool/number/null`: cannot be chunked * `string`: concatenate the strings * `list`: concatenate the lists. If the last element in a list is a `string`, `list`, or `object`, merge it with the first element in the next list by applying these rules recursively. * `object`: concatenate the (field name, field value) pairs. If a field name is duplicated, then apply these rules recursively to merge the field values. Some examples of merging: # Strings are concatenated. \"foo\", \"bar\" =\u003e \"foobar\" # Lists of non-strings are concatenated. [2, 3], [4] =\u003e [2, 3, 4] # Lists are concatenated, but the last and first elements are merged # because they are strings. [\"a\", \"b\"], [\"c\", \"d\"] =\u003e [\"a\", \"bc\", \"d\"] # Lists are concatenated, but the last and first elements are merged # because they are lists. Recursively, the last and first elements # of the inner lists are merged because they are strings. [\"a\", [\"b\", \"c\"]], [[\"d\"], \"e\"] =\u003e [\"a\", [\"b\", \"cd\"], \"e\"] # Non-overlapping object fields are combined. {\"a\": \"1\"}, {\"b\": \"2\"} =\u003e {\"a\": \"1\", \"b\": 2\"} # Overlapping object fields are merged. {\"a\": \"1\"}, {\"a\": \"2\"} =\u003e {\"a\": \"12\"} # Examples of merging objects containing lists of strings. {\"a\": [\"1\"]}, {\"a\": [\"2\"]} =\u003e {\"a\": [\"12\"]} For a more complete example, suppose a streaming SQL query is yielding a result set whose rows contain a single string field. The following `PartialResultSet`s might be yielded: { \"metadata\": { ... } \"values\": [\"Hello\", \"W\"] \"chunked_value\": true \"resume_token\": \"Af65...\" } { \"values\": [\"orl\"] \"chunked_value\": true } { \"values\": [\"d\"] \"resume_token\": \"Zx1B...\" } This sequence of `PartialResultSet`s encodes two rows, one containing the field value `\"Hello\"`, and a second containing the field value `\"World\" = \"W\" + \"orl\" + \"d\"`. Not all `PartialResultSet`s contain a `resume_token`. Execution can only be resumed from a previously yielded `resume_token`. For the above sequence of `PartialResultSet`s, resuming the query with `\"resume_token\": \"Af65...\"` will yield results from the `PartialResultSet` with value `[\"orl\"]`.",
          "type": "array"
        },
        "metadata": {
          "description": "Metadata about the result set, such as row type information. Only present in the first response.",
          "$ref": "ResultSetMetadata"
        }
      },
      "type": "object",
      "id": "PartialResultSet"
    },
    "MetricMatrixRow": {
      "id": "MetricMatrixRow",
      "type": "object",
      "properties": {
        "cols": {
          "items": {
            "format": "float",
            "type": "number"
          },
          "description": "The columns of the row.",
          "type": "array"
        }
      },
      "description": "A message representing a row of a matrix of floats."
    },
    "ReadOnly": {
      "type": "object",
      "properties": {
        "minReadTimestamp": {
          "description": "Executes all reads at a timestamp \u003e= `min_read_timestamp`. This is useful for requesting fresher data than some previous read, or data that is fresh enough to observe the effects of some previously committed transaction whose timestamp is known. Note that this option can only be used in single-use transactions. A timestamp in RFC3339 UTC \\\"Zulu\\\" format, accurate to nanoseconds. Example: `\"2014-10-02T15:01:23.045123456Z\"`.",
          "type": "string",
          "format": "google-datetime"
        },
        "strong": {
          "type": "boolean",
          "description": "Read at a timestamp where all previously committed transactions are visible."
        },
        "readTimestamp": {
          "type": "string",
          "format": "google-datetime",
          "description": "Executes all reads at the given timestamp. Unlike other modes, reads at a specific timestamp are repeatable; the same read at the same timestamp always returns the same data. If the timestamp is in the future, the read will block until the specified timestamp, modulo the read's deadline. Useful for large scale consistent reads such as mapreduces, or for coordinating many reads against a consistent snapshot of the data. A timestamp in RFC3339 UTC \\\"Zulu\\\" format, accurate to nanoseconds. Example: `\"2014-10-02T15:01:23.045123456Z\"`."
        },
        "maxStaleness": {
          "format": "google-duration",
          "type": "string",
          "description": "Read data at a timestamp \u003e= `NOW - max_staleness` seconds. Guarantees that all writes that have committed more than the specified number of seconds ago are visible. Because Cloud Spanner chooses the exact timestamp, this mode works even if the client's local clock is substantially skewed from Cloud Spanner commit timestamps. Useful for reading the freshest data available at a nearby replica, while bounding the possible staleness if the local replica has fallen behind. Note that this option can only be used in single-use transactions."
        },
        "exactStaleness": {
          "description": "Executes all reads at a timestamp that is `exact_staleness` old. The timestamp is chosen soon after the read is started. Guarantees that all writes that have committed more than the specified number of seconds ago are visible. Because Cloud Spanner chooses the exact timestamp, this mode works even if the client's local clock is substantially skewed from Cloud Spanner commit timestamps. Useful for reading at nearby replicas without the distributed timestamp negotiation overhead of `max_staleness`.",
          "format": "google-duration",
          "type": "string"
        },
        "returnReadTimestamp": {
          "type": "boolean",
          "description": "If true, the Cloud Spanner-selected read timestamp is included in the Transaction message that describes the transaction."
        }
      },
      "id": "ReadOnly",
      "description": "Message type to initiate a read-only transaction."
    },
    "RestoreDatabaseEncryptionConfig": {
      "id": "RestoreDatabaseEncryptionConfig",
      "type": "object",
      "description": "Encryption configuration for the restored database.",
      "properties": {
        "kmsKeyName": {
          "type": "string",
          "description": "Optional. The Cloud KMS key that will be used to encrypt/decrypt the restored database. This field should be set only when encryption_type is `CUSTOMER_MANAGED_ENCRYPTION`. Values are of the form `projects//locations//keyRings//cryptoKeys/`."
        },
        "encryptionType": {
          "type": "string",
          "enum": [
            "ENCRYPTION_TYPE_UNSPECIFIED",
            "USE_CONFIG_DEFAULT_OR_BACKUP_ENCRYPTION",
            "GOOGLE_DEFAULT_ENCRYPTION",
            "CUSTOMER_MANAGED_ENCRYPTION"
          ],
          "enumDescriptions": [
            "Unspecified. Do not use.",
            "This is the default option when encryption_config is not specified.",
            "Use Google default encryption.",
            "Use customer managed encryption. If specified, `kms_key_name` must must contain a valid Cloud KMS key."
          ],
          "description": "Required. The encryption type of the restored database."
        }
      }
    },
    "CommitResponse": {
      "id": "CommitResponse",
      "properties": {
        "commitTimestamp": {
          "format": "google-datetime",
          "description": "The Cloud Spanner timestamp at which the transaction committed.",
          "type": "string"
        },
        "commitStats": {
          "$ref": "CommitStats",
          "description": "The statistics about this Commit. Not returned by default. For more information, see CommitRequest.return_commit_stats."
        }
      },
      "type": "object",
      "description": "The response for Commit."
    },
    "ListDatabasesResponse": {
      "description": "The response for ListDatabases.",
      "properties": {
        "nextPageToken": {
          "description": "`next_page_token` can be sent in a subsequent ListDatabases call to fetch more of the matching databases.",
          "type": "string"
        },
        "databases": {
          "type": "array",
          "items": {
            "$ref": "Database"
          },
          "description": "Databases that matched the request."
        }
      },
      "type": "object",
      "id": "ListDatabasesResponse"
    },
    "ListDatabaseRolesResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "`next_page_token` can be sent in a subsequent ListDatabaseRoles call to fetch more of the matching roles."
        },
        "databaseRoles": {
          "description": "Database roles that matched the request.",
          "type": "array",
          "items": {
            "$ref": "DatabaseRole"
          }
        }
      },
      "description": "The response for ListDatabaseRoles.",
      "type": "object",
      "id": "ListDatabaseRolesResponse"
    },
    "Session": {
      "properties": {
        "creatorRole": {
          "type": "string",
          "description": "The database role which created this session."
        },
        "labels": {
          "description": "The labels for the session. * Label keys must be between 1 and 63 characters long and must conform to the following regular expression: `[a-z]([-a-z0-9]*[a-z0-9])?`. * Label values must be between 0 and 63 characters long and must conform to the regular expression `([a-z]([-a-z0-9]*[a-z0-9])?)?`. * No more than 64 labels can be associated with a given session. See https://goo.gl/xmQnxf for more information on and examples of labels.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "approximateLastUseTime": {
          "description": "Output only. The approximate timestamp when the session is last used. It is typically earlier than the actual last use time.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "description": "Output only. The name of the session. This is always system-assigned.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The timestamp when the session is created."
        }
      },
      "id": "Session",
      "type": "object",
      "description": "A session in the Cloud Spanner API."
    },
    "UpdateDatabaseRequest": {
      "id": "UpdateDatabaseRequest",
      "type": "object",
      "properties": {
        "updateMask": {
          "type": "string",
          "description": "Required. The list of fields to update. Currently, only `enable_drop_protection` field can be updated.",
          "format": "google-fieldmask"
        },
        "database": {
          "description": "Required. The database to update. The `name` field of the database is of the form `projects//instances//databases/`.",
          "$ref": "Database"
        }
      },
      "description": "The request for UpdateDatabase."
    },
    "ContextValue": {
      "id": "ContextValue",
      "type": "object",
      "properties": {
        "value": {
          "format": "float",
          "type": "number",
          "description": "The value for the context."
        },
        "severity": {
          "description": "The severity of this context.",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "INFO",
            "WARNING",
            "ERROR",
            "FATAL"
          ],
          "enumDescriptions": [
            "Required default value.",
            "Lowest severity level \"Info\".",
            "Middle severity level \"Warning\".",
            "Severity level signaling an error \"Error\"",
            "Severity level signaling a non recoverable error \"Fatal\""
          ],
          "type": "string"
        },
        "label": {
          "description": "The label for the context value. e.g. \"latency\".",
          "$ref": "LocalizedString"
        },
        "unit": {
          "type": "string",
          "description": "The unit of the context value."
        }
      },
      "description": "A message representing context for a KeyRangeInfo, including a label, value, unit, and severity."
    },
    "DerivedMetric": {
      "description": "A message representing a derived metric.",
      "id": "DerivedMetric",
      "properties": {
        "numerator": {
          "description": "The name of the numerator metric. e.g. \"latency\".",
          "$ref": "LocalizedString"
        },
        "denominator": {
          "$ref": "LocalizedString",
          "description": "The name of the denominator metric. e.g. \"rows\"."
        }
      },
      "type": "object"
    },
    "Type": {
      "properties": {
        "protoTypeFqn": {
          "type": "string",
          "description": "If code == PROTO or code == ENUM, then `proto_type_fqn` is the fully qualified name of the proto type representing the proto/enum definition."
        },
        "typeAnnotation": {
          "description": "The TypeAnnotationCode that disambiguates SQL type that Spanner will use to represent values of this type during query processing. This is necessary for some type codes because a single TypeCode can be mapped to different SQL types depending on the SQL dialect. type_annotation typically is not needed to process the content of a value (it doesn't affect serialization) and clients can ignore it on the read path.",
          "enumDescriptions": [
            "Not specified.",
            "PostgreSQL compatible NUMERIC type. This annotation needs to be applied to Type instances having NUMERIC type code to specify that values of this type should be treated as PostgreSQL NUMERIC values. Currently this annotation is always needed for NUMERIC when a client interacts with PostgreSQL-enabled Spanner databases.",
            "PostgreSQL compatible JSONB type. This annotation needs to be applied to Type instances having JSON type code to specify that values of this type should be treated as PostgreSQL JSONB values. Currently this annotation is always needed for JSON when a client interacts with PostgreSQL-enabled Spanner databases."
          ],
          "type": "string",
          "enum": [
            "TYPE_ANNOTATION_CODE_UNSPECIFIED",
            "PG_NUMERIC",
            "PG_JSONB"
          ]
        },
        "structType": {
          "description": "If code == STRUCT, then `struct_type` provides type information for the struct's fields.",
          "$ref": "StructType"
        },
        "code": {
          "type": "string",
          "enum": [
            "TYPE_CODE_UNSPECIFIED",
            "BOOL",
            "INT64",
            "FLOAT64",
            "TIMESTAMP",
            "DATE",
            "STRING",
            "BYTES",
            "ARRAY",
            "STRUCT",
            "NUMERIC",
            "JSON",
            "PROTO",
            "ENUM"
          ],
          "enumDescriptions": [
            "Not specified.",
            "Encoded as JSON `true` or `false`.",
            "Encoded as `string`, in decimal format.",
            "Encoded as `number`, or the strings `\"NaN\"`, `\"Infinity\"`, or `\"-Infinity\"`.",
            "Encoded as `string` in RFC 3339 timestamp format. The time zone must be present, and must be `\"Z\"`. If the schema has the column option `allow_commit_timestamp=true`, the placeholder string `\"spanner.commit_timestamp()\"` can be used to instruct the system to insert the commit timestamp associated with the transaction commit.",
            "Encoded as `string` in RFC 3339 date format.",
            "Encoded as `string`.",
            "Encoded as a base64-encoded `string`, as described in RFC 4648, section 4.",
            "Encoded as `list`, where the list elements are represented according to array_element_type.",
            "Encoded as `list`, where list element `i` is represented according to [struct_type.fields[i]][google.spanner.v1.StructType.fields].",
            "Encoded as `string`, in decimal format or scientific notation format. Decimal format: `[+-]Digits[.[Digits]]` or `+-.Digits` Scientific notation: `[+-]Digits[.[Digits]][ExponentIndicator[+-]Digits]` or `+-.Digits[ExponentIndicator[+-]Digits]` (ExponentIndicator is `\"e\"` or `\"E\"`)",
            "Encoded as a JSON-formatted `string` as described in RFC 7159. The following rules are applied when parsing JSON input: - Whitespace characters are not preserved. - If a JSON object has duplicate keys, only the first key is preserved. - Members of a JSON object are not guaranteed to have their order preserved. - JSON array elements will have their order preserved.",
            "Encoded as a base64-encoded `string`, as described in RFC 4648, section 4.",
            "Encoded as `string`, in decimal format."
          ],
          "description": "Required. The TypeCode for this type."
        },
        "arrayElementType": {
          "description": "If code == ARRAY, then `array_element_type` is the type of the array elements.",
          "$ref": "Type"
        }
      },
      "description": "`Type` indicates the type of a Cloud Spanner value, as might be stored in a table cell or returned from an SQL query.",
      "type": "object",
      "id": "Type"
    },
    "KeyRangeInfo": {
      "type": "object",
      "description": "A message representing information for a key range (possibly one key).",
      "id": "KeyRangeInfo",
      "properties": {
        "endKeyIndex": {
          "format": "int32",
          "description": "The index of the end key in indexed_keys.",
          "type": "integer"
        },
        "info": {
          "description": "Information about this key range, for all metrics.",
          "$ref": "LocalizedString"
        },
        "startKeyIndex": {
          "format": "int32",
          "type": "integer",
          "description": "The index of the start key in indexed_keys."
        },
        "metric": {
          "$ref": "LocalizedString",
          "description": "The name of the metric. e.g. \"latency\"."
        },
        "timeOffset": {
          "description": "The time offset. This is the time since the start of the time interval.",
          "format": "google-duration",
          "type": "string"
        },
        "contextValues": {
          "type": "array",
          "description": "The list of context values for this key range.",
          "items": {
            "$ref": "ContextValue"
          }
        },
        "unit": {
          "$ref": "LocalizedString",
          "description": "The unit of the metric. This is an unstructured field and will be mapped as is to the user."
        },
        "value": {
          "type": "number",
          "format": "float",
          "description": "The value of the metric."
        },
        "keysCount": {
          "format": "int64",
          "description": "The number of keys this range covers.",
          "type": "string"
        }
      }
    },
    "Mutation": {
      "type": "object",
      "properties": {
        "insertOrUpdate": {
          "$ref": "Write",
          "description": "Like insert, except that if the row already exists, then its column values are overwritten with the ones provided. Any column values not explicitly written are preserved. When using insert_or_update, just as when using insert, all `NOT NULL` columns in the table must be given a value. This holds true even when the row already exists and will therefore actually be updated."
        },
        "delete": {
          "$ref": "Delete",
          "description": "Delete rows from a table. Succeeds whether or not the named rows were present."
        },
        "update": {
          "$ref": "Write",
          "description": "Update existing rows in a table. If any of the rows does not already exist, the transaction fails with error `NOT_FOUND`."
        },
        "insert": {
          "description": "Insert new rows in a table. If any of the rows already exist, the write or transaction fails with error `ALREADY_EXISTS`.",
          "$ref": "Write"
        },
        "replace": {
          "$ref": "Write",
          "description": "Like insert, except that if the row already exists, it is deleted, and the column values provided are inserted instead. Unlike insert_or_update, this means any values not explicitly written become `NULL`. In an interleaved table, if you create the child table with the `ON DELETE CASCADE` annotation, then replacing a parent row also deletes the child rows. Otherwise, you must delete the child rows before you replace the parent row."
        }
      },
      "description": "A modification to one or more Cloud Spanner rows. Mutations can be applied to a Cloud Spanner database by sending them in a Commit call.",
      "id": "Mutation"
    },
    "CommitRequest": {
      "properties": {
        "returnCommitStats": {
          "description": "If `true`, then statistics related to the transaction will be included in the CommitResponse. Default value is `false`.",
          "type": "boolean"
        },
        "transactionId": {
          "format": "byte",
          "description": "Commit a previously-started transaction.",
          "type": "string"
        },
        "requestOptions": {
          "$ref": "RequestOptions",
          "description": "Common options for this request."
        },
        "mutations": {
          "items": {
            "$ref": "Mutation"
          },
          "type": "array",
          "description": "The mutations to be executed when this transaction commits. All mutations are applied atomically, in the order they appear in this list."
        },
        "singleUseTransaction": {
          "description": "Execute mutations in a temporary transaction. Note that unlike commit of a previously-started transaction, commit with a temporary transaction is non-idempotent. That is, if the `CommitRequest` is sent to Cloud Spanner more than once (for instance, due to retries in the application, or in the transport library), it is possible that the mutations are executed more than once. If this is undesirable, use BeginTransaction and Commit instead.",
          "$ref": "TransactionOptions"
        }
      },
      "type": "object",
      "description": "The request for Commit.",
      "id": "CommitRequest"
    },
    "UpdateInstanceConfigMetadata": {
      "properties": {
        "instanceConfig": {
          "$ref": "InstanceConfig",
          "description": "The desired instance config after updating."
        },
        "progress": {
          "description": "The progress of the UpdateInstanceConfig operation.",
[...]
