{
  "batchPath": "batch",
  "id": "spanner:v1",
  "mtlsRootUrl": "https://spanner.mtls.googleapis.com/",
  "canonicalName": "Spanner",
  "baseUrl": "https://spanner.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "ownerName": "Google",
  "rootUrl": "https://spanner.googleapis.com/",
  "schemas": {
    "ListScansResponse": {
      "id": "ListScansResponse",
      "type": "object",
      "description": "Response method from the ListScans method.",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "scans": {
          "items": {
            "$ref": "Scan"
          },
          "description": "Available scans based on the list query parameters.",
          "type": "array"
        }
      }
    },
    "PrefixNode": {
      "properties": {
        "dataSourceNode": {
          "description": "Whether this corresponds to a data_source name.",
          "type": "boolean"
        },
        "startIndex": {
          "format": "int32",
          "type": "integer",
          "description": "The index of the start key bucket of the range that this node spans."
        },
        "word": {
          "type": "string",
          "description": "The string represented by the prefix node."
        },
        "endIndex": {
          "format": "int32",
          "type": "integer",
          "description": "The index of the end key bucket of the range that this node spans."
        },
        "depth": {
          "format": "int32",
          "description": "The depth in the prefix hierarchy.",
          "type": "integer"
        }
      },
      "id": "PrefixNode",
      "description": "A message representing a key prefix node in the key prefix hierarchy. for eg. Bigtable keyspaces are lexicographically ordered mappings of keys to values. Keys often have a shared prefix structure where users use the keys to organize data. Eg ///employee In this case Keysight will possibly use one node for a company and reuse it for all employees that fall under the company. Doing so improves legibility in the UI.",
      "type": "object"
    },
    "UpdateDatabaseDdlRequest": {
      "type": "object",
      "id": "UpdateDatabaseDdlRequest",
      "properties": {
        "operationId": {
          "description": "If empty, the new update request is assigned an automatically-generated operation ID. Otherwise, `operation_id` is used to construct the name of the resulting Operation. Specifying an explicit operation ID simplifies determining whether the statements were executed in the event that the UpdateDatabaseDdl call is replayed, or the return value is otherwise lost: the database and `operation_id` fields can be combined to form the name of the resulting longrunning.Operation: `/operations/`. `operation_id` should be unique within the database, and must be a valid identifier: `a-z*`. Note that automatically-generated operation IDs always begin with an underscore. If the named operation already exists, UpdateDatabaseDdl returns `ALREADY_EXISTS`.",
          "type": "string"
        },
        "statements": {
          "items": {
            "type": "string"
          },
          "description": "Required. DDL statements to be applied to the database.",
          "type": "array"
        }
      },
      "description": "Enqueues the given DDL statements to be applied, in order but not necessarily all at once, to the database schema at some point (or points) in the future. The server checks that the statements are executable (syntactically valid, name tables that exist, etc.) before enqueueing them, but they may still fail upon later execution (e.g., if a statement from another batch of statements is applied first and it conflicts in some way, or if there is some data-related problem like a `NULL` value in a column to which `NOT NULL` would be added). If a statement fails, all subsequent statements in the batch are automatically cancelled. Each batch of statements is assigned a name which can be used with the Operations API to monitor progress. See the operation_id field for more details."
    },
    "KeySet": {
      "id": "KeySet",
      "type": "object",
      "properties": {
        "ranges": {
          "type": "array",
          "items": {
            "$ref": "KeyRange"
          },
          "description": "A list of key ranges. See KeyRange for more information about key range specifications."
        },
        "all": {
          "description": "For convenience `all` can be set to `true` to indicate that this `KeySet` matches all keys in the table or index. Note that any keys specified in `keys` or `ranges` are only yielded once.",
          "type": "boolean"
        },
        "keys": {
          "items": {
            "type": "array",
            "items": {
              "type": "any"
            }
          },
          "description": "A list of specific keys. Entries in `keys` should have exactly as many elements as there are columns in the primary or index key with which this `KeySet` is used. Individual key values are encoded as described here.",
          "type": "array"
        }
      },
      "description": "`KeySet` defines a collection of Cloud Spanner keys and/or key ranges. All the keys are expected to be in the same table or index. The keys need not be sorted in any particular way. If the same key is specified multiple times in the set (for example if two ranges, two keys, or a key and a range overlap), Cloud Spanner behaves as if the key were only specified once."
    },
    "BatchCreateSessionsRequest": {
      "type": "object",
      "description": "The request for BatchCreateSessions.",
      "properties": {
        "sessionCount": {
          "description": "Required. The number of sessions to be created in this batch call. The API may return fewer than the requested number of sessions. If a specific number of sessions are desired, the client can make additional calls to BatchCreateSessions (adjusting session_count as necessary).",
          "format": "int32",
          "type": "integer"
        },
        "sessionTemplate": {
          "$ref": "Session",
          "description": "Parameters to be applied to each created session."
        }
      },
      "id": "BatchCreateSessionsRequest"
    },
    "ReadWrite": {
      "description": "Message type to initiate a read-write transaction. Currently this transaction type has no options.",
      "properties": {},
      "id": "ReadWrite",
      "type": "object"
    },
    "DiagnosticMessage": {
      "type": "object",
      "description": "A message representing the key visualizer diagnostic messages.",
      "properties": {
        "shortMessage": {
          "$ref": "LocalizedString",
          "description": "The short message."
        },
        "severity": {
          "description": "The severity of the diagnostic message.",
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "INFO",
            "WARNING",
            "ERROR",
            "FATAL"
          ],
          "enumDescriptions": [
            "Required default value.",
            "Lowest severity level \"Info\".",
            "Middle severity level \"Warning\".",
            "Severity level signaling an error \"Error\"",
            "Severity level signaling a non recoverable error \"Fatal\""
          ]
        },
        "metric": {
          "description": "The metric.",
          "$ref": "LocalizedString"
        },
        "info": {
          "$ref": "LocalizedString",
          "description": "Information about this diagnostic information."
        },
        "metricSpecific": {
          "type": "boolean",
          "description": "Whether this message is specific only for the current metric. By default Diagnostics are shown for all metrics, regardless which metric is the currently selected metric in the UI. However occasionally a metric will generate so many messages that the resulting visual clutter becomes overwhelming. In this case setting this to true, will show the diagnostic messages for that metric only if it is the currently selected metric."
        }
      },
      "id": "DiagnosticMessage"
    },
    "KeyRangeInfo": {
      "type": "object",
      "description": "A message representing information for a key range (possibly one key).",
      "properties": {
        "metric": {
          "description": "The name of the metric. e.g. \"latency\".",
          "$ref": "LocalizedString"
        },
        "value": {
          "type": "number",
          "format": "float",
          "description": "The value of the metric."
        },
        "endKeyIndex": {
          "type": "integer",
          "format": "int32",
          "description": "The index of the end key in indexed_keys."
        },
        "info": {
          "$ref": "LocalizedString",
          "description": "Information about this key range, for all metrics."
        },
        "unit": {
          "description": "The unit of the metric. This is an unstructured field and will be mapped as is to the user.",
          "$ref": "LocalizedString"
        },
        "startKeyIndex": {
          "description": "The index of the start key in indexed_keys.",
          "type": "integer",
          "format": "int32"
        },
        "contextValues": {
          "type": "array",
          "items": {
            "$ref": "ContextValue"
          },
          "description": "The list of context values for this key range."
        },
        "timeOffset": {
          "format": "google-duration",
          "type": "string",
          "description": "The time offset. This is the time since the start of the time interval."
        },
        "keysCount": {
          "description": "The number of keys this range covers.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "KeyRangeInfo"
    },
    "EncryptionConfig": {
      "properties": {
        "kmsKeyName": {
          "description": "The Cloud KMS key to be used for encrypting and decrypting the database. Values are of the form `projects//locations//keyRings//cryptoKeys/`.",
          "type": "string"
        }
      },
      "description": "Encryption configuration for a Cloud Spanner database.",
      "type": "object",
      "id": "EncryptionConfig"
    },
    "Backup": {
      "description": "A backup of a Cloud Spanner database.",
      "properties": {
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the CreateBackup request is received. If the request does not specify `version_time`, the `version_time` of the backup will be equivalent to the `create_time`."
        },
        "referencingBackups": {
          "description": "Output only. The names of the destination backups being created by copying this source backup. The backup names are of the form `projects//instances//backups/`. Referencing backups may exist in different instances. The existence of any referencing backup prevents the backup from being deleted. When the copy operation is done (either successfully completed or cancelled or the destination backup is deleted), the reference to the backup is removed.",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "Output only for the CreateBackup operation. Required for the UpdateBackup operation. A globally unique identifier for the backup which cannot be changed. Values are of the form `projects//instances//backups/a-z*[a-z0-9]` The final segment of the name must be between 2 and 60 characters in length. The backup is stored in the location(s) specified in the instance configuration of the instance containing the backup, identified by the prefix of the backup name of the form `projects//instances/`."
        },
        "sizeBytes": {
          "description": "Output only. Size of the backup in bytes.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "state": {
          "readOnly": true,
          "description": "Output only. The current state of the backup.",
          "enumDescriptions": [
            "Not specified.",
            "The pending backup is still being created. Operations on the backup may fail with `FAILED_PRECONDITION` in this state.",
            "The backup is complete and ready for use."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY"
          ]
        },
        "encryptionInfo": {
          "description": "Output only. The encryption information for the backup.",
          "$ref": "EncryptionInfo",
          "readOnly": true
        },
        "database": {
          "description": "Required for the CreateBackup operation. Name of the database from which this backup was created. This needs to be in the same instance as the backup. Values are of the form `projects//instances//databases/`.",
          "type": "string"
        },
        "referencingDatabases": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. The names of the restored databases that reference the backup. The database names are of the form `projects//instances//databases/`. Referencing databases may exist in different instances. The existence of any referencing database prevents the backup from being deleted. When a restored database from the backup enters the `READY` state, the reference to the backup is removed."
        },
        "versionTime": {
          "description": "The backup will contain an externally consistent copy of the database at the timestamp specified by `version_time`. If `version_time` is not specified, the system will set `version_time` to the `create_time` of the backup.",
          "format": "google-datetime",
          "type": "string"
        },
        "maxExpireTime": {
          "format": "google-datetime",
          "description": "Output only. The max allowed expiration time of the backup, with microseconds granularity. A backup's expiration time can be configured in multiple APIs: CreateBackup, UpdateBackup, CopyBackup. When updating or copying an existing backup, the expiration time specified must be less than `Backup.max_expire_time`.",
          "readOnly": true,
          "type": "string"
        },
        "databaseDialect": {
          "readOnly": true,
          "enum": [
            "DATABASE_DIALECT_UNSPECIFIED",
            "GOOGLE_STANDARD_SQL",
            "POSTGRESQL"
          ],
          "description": "Output only. The database dialect information for the backup.",
          "enumDescriptions": [
            "Default value. This value will create a database with the GOOGLE_STANDARD_SQL dialect.",
            "Google standard SQL.",
            "PostgreSQL supported SQL."
          ],
          "type": "string"
        },
        "expireTime": {
          "type": "string",
          "description": "Required for the CreateBackup operation. The expiration time of the backup, with microseconds granularity that must be at least 6 hours and at most 366 days from the time the CreateBackup request is processed. Once the `expire_time` has passed, the backup is eligible to be automatically deleted by Cloud Spanner to free the resources used by the backup.",
          "format": "google-datetime"
        }
      },
      "id": "Backup",
      "type": "object"
    },
    "MetricMatrixRow": {
      "type": "object",
      "id": "MetricMatrixRow",
      "description": "A message representing a row of a matrix of floats.",
      "properties": {
        "cols": {
          "description": "The columns of the row.",
          "items": {
            "type": "number",
            "format": "float"
          },
          "type": "array"
        }
      }
    },
    "BackupInfo": {
      "properties": {
        "sourceDatabase": {
          "type": "string",
          "description": "Name of the database the backup was created from."
        },
        "versionTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The backup contains an externally consistent copy of `source_database` at the timestamp specified by `version_time`. If the CreateBackup request did not specify `version_time`, the `version_time` of the backup is equivalent to the `create_time`."
        },
        "backup": {
          "type": "string",
          "description": "Name of the backup."
        },
        "createTime": {
          "type": "string",
          "description": "The time the CreateBackup request was received.",
          "format": "google-datetime"
        }
      },
      "id": "BackupInfo",
      "description": "Information about a backup.",
      "type": "object"
    },
    "IndexedKeyRangeInfos": {
      "id": "IndexedKeyRangeInfos",
      "properties": {
        "keyRangeInfos": {
          "additionalProperties": {
            "$ref": "KeyRangeInfos"
          },
          "type": "object",
          "description": "A (sparse) mapping from key bucket index to the KeyRangeInfos for that key bucket."
        }
      },
      "type": "object",
      "description": "A message representing a (sparse) collection of KeyRangeInfos for specific key buckets."
    },
    "ResultSetStats": {
      "type": "object",
      "description": "Additional statistics about a ResultSet or PartialResultSet.",
      "id": "ResultSetStats",
      "properties": {
        "rowCountExact": {
          "type": "string",
          "description": "Standard DML returns an exact count of rows that were modified.",
          "format": "int64"
        },
        "queryStats": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Aggregated statistics from the execution of the query. Only present when the query is profiled. For example, a query could return the statistics as follows: { \"rows_returned\": \"3\", \"elapsed_time\": \"1.22 secs\", \"cpu_time\": \"1.19 secs\" }",
          "type": "object"
        },
        "rowCountLowerBound": {
          "type": "string",
          "description": "Partitioned DML does not offer exactly-once semantics, so it returns a lower bound of the rows modified.",
          "format": "int64"
        },
        "queryPlan": {
          "description": "QueryPlan for the query associated with this result.",
          "$ref": "QueryPlan"
        }
      }
    },
    "PartitionOptions": {
      "description": "Options for a PartitionQueryRequest and PartitionReadRequest.",
      "type": "object",
      "properties": {
        "maxPartitions": {
          "description": "**Note:** This hint is currently ignored by PartitionQuery and PartitionRead requests. The desired maximum number of partitions to return. For example, this may be set to the number of workers available. The default for this option is currently 10,000. The maximum value is currently 200,000. This is only a hint. The actual number of partitions returned may be smaller or larger than this maximum count request.",
          "format": "int64",
          "type": "string"
        },
        "partitionSizeBytes": {
          "type": "string",
          "format": "int64",
          "description": "**Note:** This hint is currently ignored by PartitionQuery and PartitionRead requests. The desired data size for each partition generated. The default for this option is currently 1 GiB. This is only a hint. The actual size of each partition may be smaller or larger than this size request."
        }
      },
      "id": "PartitionOptions"
    },
    "CreateBackupMetadata": {
      "properties": {
        "cancelTime": {
          "format": "google-datetime",
          "description": "The time at which cancellation of this operation was received. Operations.CancelOperation starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "string"
        },
        "progress": {
          "description": "The progress of the CreateBackup operation.",
          "$ref": "OperationProgress"
        },
        "database": {
          "description": "The name of the database the backup is created from.",
          "type": "string"
        },
        "name": {
          "description": "The name of the backup being created.",
          "type": "string"
        }
      },
      "description": "Metadata type for the operation returned by CreateBackup.",
      "type": "object",
      "id": "CreateBackupMetadata"
    },
    "PartitionedDml": {
      "type": "object",
      "id": "PartitionedDml",
      "properties": {},
      "description": "Message type to initiate a Partitioned DML transaction."
    },
    "RequestOptions": {
      "description": "Common request options for various APIs.",
      "properties": {
        "requestTag": {
          "description": "A per-request tag which can be applied to queries or reads, used for statistics collection. Both request_tag and transaction_tag can be specified for a read or query that belongs to a transaction. This field is ignored for requests where it's not applicable (e.g. CommitRequest). Legal characters for `request_tag` values are all printable characters (ASCII 32 - 126) and the length of a request_tag is limited to 50 characters. Values that exceed this limit are truncated. Any leading underscore (_) characters will be removed from the string.",
          "type": "string"
        },
        "transactionTag": {
          "type": "string",
          "description": "A tag used for statistics collection about this transaction. Both request_tag and transaction_tag can be specified for a read or query that belongs to a transaction. The value of transaction_tag should be the same for all requests belonging to the same transaction. If this request doesn't belong to any transaction, transaction_tag will be ignored. Legal characters for `transaction_tag` values are all printable characters (ASCII 32 - 126) and the length of a transaction_tag is limited to 50 characters. Values that exceed this limit are truncated. Any leading underscore (_) characters will be removed from the string."
        },
        "priority": {
          "enumDescriptions": [
            "`PRIORITY_UNSPECIFIED` is equivalent to `PRIORITY_HIGH`.",
            "This specifies that the request is low priority.",
            "This specifies that the request is medium priority.",
            "This specifies that the request is high priority."
          ],
          "description": "Priority for the request.",
          "enum": [
            "PRIORITY_UNSPECIFIED",
            "PRIORITY_LOW",
            "PRIORITY_MEDIUM",
            "PRIORITY_HIGH"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "RequestOptions"
    },
    "ListBackupsResponse": {
      "type": "object",
      "id": "ListBackupsResponse",
      "description": "The response for ListBackups.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "`next_page_token` can be sent in a subsequent ListBackups call to fetch more of the matching backups."
        },
        "backups": {
          "description": "The list of matching backups. Backups returned are ordered by `create_time` in descending order, starting from the most recent `create_time`.",
          "type": "array",
          "items": {
            "$ref": "Backup"
          }
        }
      }
    },
    "ListSessionsResponse": {
      "description": "The response for ListSessions.",
      "type": "object",
      "properties": {
        "sessions": {
          "items": {
            "$ref": "Session"
          },
          "type": "array",
          "description": "The list of requested sessions."
        },
        "nextPageToken": {
          "type": "string",
          "description": "`next_page_token` can be sent in a subsequent ListSessions call to fetch more of the matching sessions."
        }
      },
      "id": "ListSessionsResponse"
    },
    "StructType": {
      "id": "StructType",
      "type": "object",
      "properties": {
        "fields": {
          "type": "array",
          "items": {
            "$ref": "Field"
          },
          "description": "The list of fields that make up this struct. Order is significant, because values of this struct type are represented as lists, where the order of field values matches the order of fields in the StructType. In turn, the order of fields matches the order of columns in a read request, or the order of fields in the `SELECT` clause of a query."
        }
      },
      "description": "`StructType` defines the fields of a STRUCT type."
    },
    "Type": {
      "properties": {
        "code": {
          "type": "string",
          "enum": [
            "TYPE_CODE_UNSPECIFIED",
            "BOOL",
            "INT64",
            "FLOAT64",
            "TIMESTAMP",
            "DATE",
            "STRING",
            "BYTES",
            "ARRAY",
            "STRUCT",
            "NUMERIC",
            "JSON"
          ],
          "description": "Required. The TypeCode for this type.",
          "enumDescriptions": [
            "Not specified.",
            "Encoded as JSON `true` or `false`.",
            "Encoded as `string`, in decimal format.",
            "Encoded as `number`, or the strings `\"NaN\"`, `\"Infinity\"`, or `\"-Infinity\"`.",
            "Encoded as `string` in RFC 3339 timestamp format. The time zone must be present, and must be `\"Z\"`. If the schema has the column option `allow_commit_timestamp=true`, the placeholder string `\"spanner.commit_timestamp()\"` can be used to instruct the system to insert the commit timestamp associated with the transaction commit.",
            "Encoded as `string` in RFC 3339 date format.",
            "Encoded as `string`.",
            "Encoded as a base64-encoded `string`, as described in RFC 4648, section 4.",
            "Encoded as `list`, where the list elements are represented according to array_element_type.",
            "Encoded as `list`, where list element `i` is represented according to [struct_type.fields[i]][google.spanner.v1.StructType.fields].",
            "Encoded as `string`, in decimal format or scientific notation format. Decimal format: `[+-]Digits[.[Digits]]` or `+-.Digits` Scientific notation: `[+-]Digits[.[Digits]][ExponentIndicator[+-]Digits]` or `+-.Digits[ExponentIndicator[+-]Digits]` (ExponentIndicator is `\"e\"` or `\"E\"`)",
            "Encoded as a JSON-formatted `string` as described in RFC 7159. The following rules are applied when parsing JSON input: - Whitespace characters are not preserved. - If a JSON object has duplicate keys, only the first key is preserved. - Members of a JSON object are not guaranteed to have their order preserved. - JSON array elements will have their order preserved."
          ]
        },
        "arrayElementType": {
          "description": "If code == ARRAY, then `array_element_type` is the type of the array elements.",
          "$ref": "Type"
        },
        "structType": {
          "description": "If code == STRUCT, then `struct_type` provides type information for the struct's fields.",
          "$ref": "StructType"
        },
        "typeAnnotation": {
          "enumDescriptions": [
            "Not specified.",
            "PostgreSQL compatible NUMERIC type. This annotation needs to be applied to Type instances having NUMERIC type code to specify that values of this type should be treated as PostgreSQL NUMERIC values. Currently this annotation is always needed for NUMERIC when a client interacts with PostgreSQL-enabled Spanner databases."
          ],
          "description": "The TypeAnnotationCode that disambiguates SQL type that Spanner will use to represent values of this type during query processing. This is necessary for some type codes because a single TypeCode can be mapped to different SQL types depending on the SQL dialect. type_annotation typically is not needed to process the content of a value (it doesn't affect serialization) and clients can ignore it on the read path.",
          "type": "string",
          "enum": [
            "TYPE_ANNOTATION_CODE_UNSPECIFIED",
            "PG_NUMERIC"
          ]
        }
      },
      "description": "`Type` indicates the type of a Cloud Spanner value, as might be stored in a table cell or returned from an SQL query.",
      "type": "object",
      "id": "Type"
    },
    "Instance": {
      "properties": {
        "processingUnits": {
          "type": "integer",
          "description": "The number of processing units allocated to this instance. At most one of processing_units or node_count should be present in the message. This may be zero in API responses for instances that are not yet in state `READY`. See [the documentation](https://cloud.google.com/spanner/docs/compute-capacity) for more information about nodes and processing units.",
          "format": "int32"
        },
        "nodeCount": {
          "description": "The number of nodes allocated to this instance. At most one of either node_count or processing_units should be present in the message. This may be zero in API responses for instances that are not yet in state `READY`. See [the documentation](https://cloud.google.com/spanner/docs/compute-capacity) for more information about nodes and processing units.",
          "format": "int32",
          "type": "integer"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time at which the instance was most recently updated."
        },
        "displayName": {
          "type": "string",
          "description": "Required. The descriptive name for this instance as it appears in UIs. Must be unique per project and between 4 and 30 characters in length."
        },
        "endpointUris": {
          "description": "Deprecated. This field is not populated.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "config": {
          "type": "string",
          "description": "Required. The name of the instance's configuration. Values are of the form `projects//instanceConfigs/`. See also InstanceConfig and ListInstanceConfigs."
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time at which the instance was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "The instance is still being created. Resources may not be available yet, and operations such as database creation may not work.",
            "The instance is fully created and ready to do work such as creating databases."
          ],
          "description": "Output only. The current instance state. For CreateInstance, the state must be either omitted or set to `CREATING`. For UpdateInstance, the state must be either omitted or set to `READY`.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY"
          ]
        },
        "name": {
          "description": "Required. A unique identifier for the instance, which cannot be changed after the instance is created. Values are of the form `projects//instances/a-z*[a-z0-9]`. The final segment of the name must be between 2 and 64 characters in length.",
          "type": "string"
        },
        "labels": {
          "description": "Cloud Labels are a flexible and lightweight mechanism for organizing cloud resources into groups that reflect a customer's organizational needs and deployment strategies. Cloud Labels can be used to filter collections of resources. They can be used to control how resource metrics are aggregated. And they can be used as arguments to policy management rules (e.g. route, firewall, load balancing, etc.). * Label keys must be between 1 and 63 characters long and must conform to the following regular expression: `a-z{0,62}`. * Label values must be between 0 and 63 characters long and must conform to the regular expression `[a-z0-9_-]{0,63}`. * No more than 64 labels can be associated with a given resource. See https://goo.gl/xmQnxf for more information on and examples of labels. If you plan to use labels in your own code, please note that additional characters may be allowed in the future. And so you are advised to use an internal label representation, such as JSON, which doesn't rely upon specific characters being disallowed. For example, representing labels as the string: name + \"_\" + value would prove problematic if we were to allow \"_\" in a future release.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "type": "object",
      "id": "Instance",
      "description": "An isolated set of Cloud Spanner resources on which databases can be hosted."
    },
    "KeyRangeInfos": {
      "properties": {
        "totalSize": {
          "format": "int32",
          "description": "The total size of the list of all KeyRangeInfos. This may be larger than the number of repeated messages above. If that is the case, this number may be used to determine how many are not being shown.",
          "type": "integer"
        },
        "infos": {
          "type": "array",
          "items": {
            "$ref": "KeyRangeInfo"
          },
          "description": "The list individual KeyRangeInfos."
        }
      },
      "id": "KeyRangeInfos",
      "type": "object",
      "description": "A message representing a list of specific information for multiple key ranges."
    },
    "ExecuteBatchDmlResponse": {
      "id": "ExecuteBatchDmlResponse",
      "description": "The response for ExecuteBatchDml. Contains a list of ResultSet messages, one for each DML statement that has successfully executed, in the same order as the statements in the request. If a statement fails, the status in the response body identifies the cause of the failure. To check for DML statements that failed, use the following approach: 1. Check the status in the response message. The google.rpc.Code enum value `OK` indicates that all statements were executed successfully. 2. If the status was not `OK`, check the number of result sets in the response. If the response contains `N` ResultSet messages, then statement `N+1` in the request failed. Example 1: * Request: 5 DML statements, all executed successfully. * Response: 5 ResultSet messages, with the status `OK`. Example 2: * Request: 5 DML statements. The third statement has a syntax error. * Response: 2 ResultSet messages, and a syntax error (`INVALID_ARGUMENT`) status. The number of ResultSet messages indicates that the third statement failed, and the fourth and fifth statements were not executed.",
      "type": "object",
      "properties": {
        "resultSets": {
          "items": {
            "$ref": "ResultSet"
          },
          "type": "array",
          "description": "One ResultSet for each statement in the request that ran successfully, in the same order as the statements in the request. Each ResultSet does not contain any rows. The ResultSetStats in each ResultSet contain the number of rows modified by the statement. Only the first ResultSet in the response contains valid ResultSetMetadata."
        },
        "status": {
          "$ref": "Status",
          "description": "If all DML statements are executed successfully, the status is `OK`. Otherwise, the error status of the first failed statement."
        }
      }
    },
    "CreateInstanceRequest": {
      "type": "object",
      "properties": {
        "instance": {
          "description": "Required. The instance to create. The name may be omitted, but if specified must be `/instances/`.",
          "$ref": "Instance"
        },
        "instanceId": {
          "type": "string",
          "description": "Required. The ID of the instance to create. Valid identifiers are of the form `a-z*[a-z0-9]` and must be between 2 and 64 characters in length."
        }
      },
      "description": "The request for CreateInstance.",
      "id": "CreateInstanceRequest"
    },
    "UpdateInstanceMetadata": {
      "id": "UpdateInstanceMetadata",
      "description": "Metadata type for the operation returned by UpdateInstance.",
      "type": "object",
      "properties": {
        "endTime": {
          "description": "The time at which this operation failed or was completed successfully.",
          "type": "string",
          "format": "google-datetime"
        },
        "instance": {
          "$ref": "Instance",
          "description": "The desired end state of the update."
        },
        "startTime": {
          "description": "The time at which UpdateInstance request was received.",
          "type": "string",
          "format": "google-datetime"
        },
        "cancelTime": {
          "format": "google-datetime",
          "description": "The time at which this operation was cancelled. If set, this operation is in the process of undoing itself (which is guaranteed to succeed) and cannot be cancelled again.",
          "type": "string"
        }
      }
    },
    "ResultSetMetadata": {
      "id": "ResultSetMetadata",
      "properties": {
        "rowType": {
          "description": "Indicates the field names and types for the rows in the result set. For example, a SQL query like `\"SELECT UserId, UserName FROM Users\"` could return a `row_type` value like: \"fields\": [ { \"name\": \"UserId\", \"type\": { \"code\": \"INT64\" } }, { \"name\": \"UserName\", \"type\": { \"code\": \"STRING\" } }, ]",
          "$ref": "StructType"
        },
        "transaction": {
          "$ref": "Transaction",
          "description": "If the read or SQL query began a transaction as a side-effect, the information about the new transaction is yielded here."
        }
      },
      "description": "Metadata about a ResultSet or PartialResultSet.",
      "type": "object"
    },
    "LocalizedString": {
      "id": "LocalizedString",
      "description": "A message representing a user-facing string whose value may need to be translated before being displayed.",
      "type": "object",
      "properties": {
        "args": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "A map of arguments used when creating the localized message. Keys represent parameter names which may be used by the localized version when substituting dynamic values."
        },
        "message": {
          "type": "string",
          "description": "The canonical English version of this message. If no token is provided or the front-end has no message associated with the token, this text will be displayed as-is."
        },
        "token": {
          "type": "string",
          "description": "The token identifying the message, e.g. 'METRIC_READ_CPU'. This should be unique within the service."
        }
      }
    },
    "Field": {
      "description": "Message representing a single field of a struct.",
      "type": "object",
      "properties": {
        "type": {
          "description": "The type of the field.",
          "$ref": "Type"
        },
        "name": {
          "type": "string",
          "description": "The name of the field. For reads, this is the column name. For SQL queries, it is the column alias (e.g., `\"Word\"` in the query `\"SELECT 'hello' AS Word\"`), or the column name (e.g., `\"ColName\"` in the query `\"SELECT ColName FROM Table\"`). Some columns might have an empty name (e.g., `\"SELECT UPPER(ColName)\"`). Note that a query result can contain multiple fields with the same name."
        }
      },
      "id": "Field"
    },
    "GetDatabaseDdlResponse": {
      "type": "object",
      "id": "GetDatabaseDdlResponse",
      "description": "The response for GetDatabaseDdl.",
      "properties": {
        "statements": {
          "description": "A list of formatted DDL statements defining the schema of the database specified in the request.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Binding": {
      "properties": {
        "role": {
          "type": "string",
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`."
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        },
        "members": {
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. ",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "Binding",
      "type": "object",
      "description": "Associates `members`, or principals, with a `role`."
    },
    "ListInstanceConfigsResponse": {
      "properties": {
        "instanceConfigs": {
          "description": "The list of requested instance configurations.",
          "items": {
            "$ref": "InstanceConfig"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "`next_page_token` can be sent in a subsequent ListInstanceConfigs call to fetch more of the matching instance configurations."
        }
      },
      "type": "object",
      "description": "The response for ListInstanceConfigs.",
      "id": "ListInstanceConfigsResponse"
    },
    "PartitionQueryRequest": {
      "properties": {
        "partitionOptions": {
          "$ref": "PartitionOptions",
          "description": "Additional options that affect how many partitions are created."
        },
        "sql": {
          "type": "string",
          "description": "Required. The query request to generate partitions for. The request will fail if the query is not root partitionable. The query plan of a root partitionable query has a single distributed union operator. A distributed union operator conceptually divides one or more tables into multiple splits, remotely evaluates a subquery independently on each split, and then unions all results. This must not contain DML commands, such as INSERT, UPDATE, or DELETE. Use ExecuteStreamingSql with a PartitionedDml transaction for large, partition-friendly DML operations."
        },
        "params": {
          "description": "Parameter names and values that bind to placeholders in the SQL string. A parameter placeholder consists of the `@` character followed by the parameter name (for example, `@firstName`). Parameter names can contain letters, numbers, and underscores. Parameters can appear anywhere that a literal value is expected. The same parameter name can be used more than once, for example: `\"WHERE id \u003e @msg_id AND id \u003c @msg_id + 100\"` It is an error to execute a SQL statement with unbound parameters.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "transaction": {
          "$ref": "TransactionSelector",
          "description": "Read only snapshot transactions are supported, read/write and single use transactions are not."
        },
        "paramTypes": {
          "type": "object",
          "additionalProperties": {
            "$ref": "Type"
          },
          "description": "It is not always possible for Cloud Spanner to infer the right SQL type from a JSON value. For example, values of type `BYTES` and values of type `STRING` both appear in params as JSON strings. In these cases, `param_types` can be used to specify the exact SQL type for some or all of the SQL query parameters. See the definition of Type for more information about SQL types."
        }
      },
      "type": "object",
      "id": "PartitionQueryRequest",
      "description": "The request for PartitionQuery"
    },
    "InstanceConfig": {
      "id": "InstanceConfig",
      "type": "object",
      "description": "A possible configuration for a Cloud Spanner instance. Configurations define the geographic placement of nodes and their replication.",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The name of this instance configuration as it appears in UIs."
        },
        "replicas": {
          "items": {
            "$ref": "ReplicaInfo"
          },
          "description": "The geographic placement of nodes in this instance configuration and their replication properties.",
          "type": "array"
        },
        "leaderOptions": {
          "items": {
            "type": "string"
          },
          "description": "Allowed values of the \"default_leader\" schema option for databases in instances that use this instance configuration.",
          "type": "array"
        },
        "name": {
          "description": "A unique identifier for the instance configuration. Values are of the form `projects//instanceConfigs/a-z*`.",
          "type": "string"
        }
      }
    },
    "CommitStats": {
      "properties": {
        "mutationCount": {
          "description": "The total number of mutations for the transaction. Knowing the `mutation_count` value can help you maximize the number of mutations in a transaction and minimize the number of API round trips. You can also monitor this value to prevent transactions from exceeding the system [limit](https://cloud.google.com/spanner/quotas#limits_for_creating_reading_updating_and_deleting_data). If the number of mutations exceeds the limit, the server returns [INVALID_ARGUMENT](https://cloud.google.com/spanner/docs/reference/rest/v1/Code#ENUM_VALUES.INVALID_ARGUMENT).",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "CommitStats",
      "description": "Additional statistics about a commit."
    },
    "ScanData": {
      "id": "ScanData",
      "description": "ScanData contains Cloud Key Visualizer scan data used by the caller to construct a visualization.",
      "type": "object",
      "properties": {
        "startTime": {
          "type": "string",
          "description": "A range of time (inclusive) for when the contained data is defined. The lower bound for when the contained data is defined.",
          "format": "google-datetime"
        },
        "data": {
          "$ref": "VisualizationData",
          "description": "Cloud Key Visualizer scan data. The range of time this information covers is captured via the above time range fields. Note, this field is not available to the ListScans method."
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The upper bound for when the contained data is defined."
        }
      }
    },
    "DerivedMetric": {
      "description": "A message representing a derived metric.",
      "properties": {
        "numerator": {
          "description": "The name of the numerator metric. e.g. \"latency\".",
          "$ref": "LocalizedString"
        },
        "denominator": {
          "description": "The name of the denominator metric. e.g. \"rows\".",
          "$ref": "LocalizedString"
        }
      },
      "type": "object",
      "id": "DerivedMetric"
    },
    "ListBackupOperationsResponse": {
      "id": "ListBackupOperationsResponse",
      "description": "The response for ListBackupOperations.",
      "type": "object",
      "properties": {
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "description": "The list of matching backup long-running operations. Each operation's name will be prefixed by the backup's name. The operation's metadata field type `metadata.type_url` describes the type of the metadata. Operations returned include those that are pending or have completed/failed/canceled within the last 7 days. Operations returned are ordered by `operation.metadata.value.progress.start_time` in descending order starting from the most recently started operation.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "`next_page_token` can be sent in a subsequent ListBackupOperations call to fetch more of the matching metadata."
        }
      }
    },
    "ListDatabaseRolesResponse": {
      "id": "ListDatabaseRolesResponse",
      "type": "object",
      "description": "The response for ListDatabaseRoles.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "`next_page_token` can be sent in a subsequent ListDatabaseRoles call to fetch more of the matching roles."
        },
        "databaseRoles": {
          "description": "Database roles that matched the request.",
          "items": {
            "$ref": "DatabaseRole"
          },
          "type": "array"
        }
      }
    },
    "VisualizationData": {
      "type": "object",
      "id": "VisualizationData",
      "properties": {
        "diagnosticMessages": {
          "description": "The list of messages (info, alerts, ...)",
          "items": {
            "$ref": "DiagnosticMessage"
          },
          "type": "array"
        },
        "dataSourceSeparatorToken": {
          "type": "string",
          "description": "The token delimiting a datasource name from the rest of a key in a data_source."
        },
        "keySeparator": {
          "type": "string",
          "description": "The token delimiting the key prefixes."
        },
        "prefixNodes": {
          "type": "array",
          "description": "The list of extracted key prefix nodes used in the key prefix hierarchy.",
          "items": {
            "$ref": "PrefixNode"
          }
        },
        "hasPii": {
          "type": "boolean",
          "description": "Whether this scan contains PII."
        },
        "metrics": {
          "description": "The list of data objects for each metric.",
          "type": "array",
          "items": {
            "$ref": "Metric"
          }
        },
        "dataSourceEndToken": {
          "type": "string",
          "description": "The token signifying the end of a data_source."
        },
        "endKeyStrings": {
          "type": "array",
          "description": "We discretize the entire keyspace into buckets. Assuming each bucket has an inclusive keyrange and covers keys from k(i) ... k(n). In this case k(n) would be an end key for a given range. end_key_string is the collection of all such end keys",
          "items": {
            "type": "string"
          }
        },
        "indexedKeys": {
          "description": "Keys of key ranges that contribute significantly to a given metric Can be thought of as heavy hitters.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "keyUnit": {
          "type": "string",
          "description": "The unit for the key: e.g. 'key' or 'chunk'.",
          "enum": [
            "KEY_UNIT_UNSPECIFIED",
            "KEY",
            "CHUNK"
          ],
          "enumDescriptions": [
            "Required default value",
            "Each entry corresponds to one key",
            "Each entry corresponds to a chunk of keys"
          ]
        }
      }
    },
    "Operation": {
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "response": {
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        }
      },
      "type": "object",
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "Session": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The name of the session. This is always system-assigned.",
          "readOnly": true,
          "type": "string"
        },
        "approximateLastUseTime": {
          "description": "Output only. The approximate timestamp when the session is last used. It is typically earlier than the actual last use time.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the session is created.",
          "readOnly": true
        },
        "creatorRole": {
          "type": "string",
          "description": "The database role which created this session."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "The labels for the session. * Label keys must be between 1 and 63 characters long and must conform to the following regular expression: `[a-z]([-a-z0-9]*[a-z0-9])?`. * Label values must be between 0 and 63 characters long and must conform to the regular expression `([a-z]([-a-z0-9]*[a-z0-9])?)?`. * No more than 64 labels can be associated with a given session. See https://goo.gl/xmQnxf for more information on and examples of labels."
        }
      },
      "description": "A session in the Cloud Spanner API.",
      "id": "Session"
    },
    "ChildLink": {
      "id": "ChildLink",
      "description": "Metadata associated with a parent-child relationship appearing in a PlanNode.",
      "type": "object",
      "properties": {
        "variable": {
          "type": "string",
          "description": "Only present if the child node is SCALAR and corresponds to an output variable of the parent node. The field carries the name of the output variable. For example, a `TableScan` operator that reads rows from a table will have child links to the `SCALAR` nodes representing the output variables created for each column that is read by the operator. The corresponding `variable` fields will be set to the variable names assigned to the columns."
        },
        "type": {
          "description": "The type of the link. For example, in Hash Joins this could be used to distinguish between the build child and the probe child, or in the case of the child being an output variable, to represent the tag associated with the output variable.",
          "type": "string"
        },
        "childIndex": {
          "description": "The node to which the link points.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ResultSet": {
      "description": "Results from Read or ExecuteSql.",
      "id": "ResultSet",
      "properties": {
        "rows": {
          "type": "array",
          "description": "Each element in `rows` is a row whose format is defined by metadata.row_type. The ith element in each row matches the ith field in metadata.row_type. Elements are encoded based on type as described here.",
          "items": {
            "items": {
              "type": "any"
            },
            "type": "array"
          }
        },
        "metadata": {
          "description": "Metadata about the result set, such as row type information.",
          "$ref": "ResultSetMetadata"
        },
        "stats": {
          "description": "Query plan and execution statistics for the SQL statement that produced this result set. These can be requested by setting ExecuteSqlRequest.query_mode. DML statements always produce stats containing the number of rows modified, unless executed using the ExecuteSqlRequest.QueryMode.PLAN ExecuteSqlRequest.query_mode. Other fields may or may not be populated, based on the ExecuteSqlRequest.query_mode.",
          "$ref": "ResultSetStats"
        }
      },
      "type": "object"
    },
    "ListDatabasesResponse": {
      "description": "The response for ListDatabases.",
      "properties": {
        "nextPageToken": {
          "description": "`next_page_token` can be sent in a subsequent ListDatabases call to fetch more of the matching databases.",
          "type": "string"
        },
        "databases": {
          "description": "Databases that matched the request.",
          "items": {
            "$ref": "Database"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "ListDatabasesResponse"
    },
    "RollbackRequest": {
      "description": "The request for Rollback.",
      "properties": {
        "transactionId": {
          "description": "Required. The transaction to roll back.",
          "format": "byte",
          "type": "string"
        }
      },
      "id": "RollbackRequest",
      "type": "object"
    },
    "Status": {
      "type": "object",
      "properties": {
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status"
    },
    "BeginTransactionRequest": {
      "description": "The request for BeginTransaction.",
      "id": "BeginTransactionRequest",
      "type": "object",
      "properties": {
        "requestOptions": {
          "$ref": "RequestOptions",
          "description": "Common options for this request. Priority is ignored for this request. Setting the priority in this request_options struct will not do anything. To set the priority for a transaction, set it on the reads and writes that are part of this transaction instead."
        },
        "options": {
          "description": "Required. Options for the new transaction.",
          "$ref": "TransactionOptions"
        }
      }
    },
    "ReadOnly": {
      "description": "Message type to initiate a read-only transaction.",
      "properties": {
        "minReadTimestamp": {
          "format": "google-datetime",
          "type": "string",
          "description": "Executes all reads at a timestamp \u003e= `min_read_timestamp`. This is useful for requesting fresher data than some previous read, or data that is fresh enough to observe the effects of some previously committed transaction whose timestamp is known. Note that this option can only be used in single-use transactions. A timestamp in RFC3339 UTC \\\"Zulu\\\" format, accurate to nanoseconds. Example: `\"2014-10-02T15:01:23.045123456Z\"`."
        },
        "readTimestamp": {
          "description": "Executes all reads at the given timestamp. Unlike other modes, reads at a specific timestamp are repeatable; the same read at the same timestamp always returns the same data. If the timestamp is in the future, the read will block until the specified timestamp, modulo the read's deadline. Useful for large scale consistent reads such as mapreduces, or for coordinating many reads against a consistent snapshot of the data. A timestamp in RFC3339 UTC \\\"Zulu\\\" format, accurate to nanoseconds. Example: `\"2014-10-02T15:01:23.045123456Z\"`.",
          "type": "string",
          "format": "google-datetime"
        },
        "maxStaleness": {
          "format": "google-duration",
          "description": "Read data at a timestamp \u003e= `NOW - max_staleness` seconds. Guarantees that all writes that have committed more than the specified number of seconds ago are visible. Because Cloud Spanner chooses the exact timestamp, this mode works even if the client's local clock is substantially skewed from Cloud Spanner commit timestamps. Useful for reading the freshest data available at a nearby replica, while bounding the possible staleness if the local replica has fallen behind. Note that this option can only be used in single-use transactions.",
          "type": "string"
        },
        "returnReadTimestamp": {
          "type": "boolean",
          "description": "If true, the Cloud Spanner-selected read timestamp is included in the Transaction message that describes the transaction."
        },
        "strong": {
          "type": "boolean",
          "description": "Read at a timestamp where all previously committed transactions are visible."
        },
        "exactStaleness": {
          "type": "string",
          "description": "Executes all reads at a timestamp that is `exact_staleness` old. The timestamp is chosen soon after the read is started. Guarantees that all writes that have committed more than the specified number of seconds ago are visible. Because Cloud Spanner chooses the exact timestamp, this mode works even if the client's local clock is substantially skewed from Cloud Spanner commit timestamps. Useful for reading at nearby replicas without the distributed timestamp negotiation overhead of `max_staleness`.",
          "format": "google-duration"
        }
      },
      "id": "ReadOnly",
      "type": "object"
    },
    "PartitionReadRequest": {
      "type": "object",
      "description": "The request for PartitionRead",
      "properties": {
        "transaction": {
          "description": "Read only snapshot transactions are supported, read/write and single use transactions are not.",
          "$ref": "TransactionSelector"
        },
        "partitionOptions": {
          "description": "Additional options that affect how many partitions are created.",
          "$ref": "PartitionOptions"
        },
        "index": {
          "description": "If non-empty, the name of an index on table. This index is used instead of the table primary key when interpreting key_set and sorting result rows. See key_set for further information.",
          "type": "string"
        },
        "table": {
          "type": "string",
          "description": "Required. The name of the table in the database to be read."
        },
        "keySet": {
          "$ref": "KeySet",
          "description": "Required. `key_set` identifies the rows to be yielded. `key_set` names the primary keys of the rows in table to be yielded, unless index is present. If index is present, then key_set instead names index keys in index. It is not an error for the `key_set` to name rows that do not exist in the database. Read yields nothing for nonexistent rows."
        },
        "columns": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The columns of table to be returned for each row matching this request."
        }
      },
      "id": "PartitionReadRequest"
    },
    "GetIamPolicyRequest": {
      "properties": {
        "options": {
          "$ref": "GetPolicyOptions",
          "description": "OPTIONAL: A `GetPolicyOptions` object for specifying options to `GetIamPolicy`."
        }
      },
      "type": "object",
      "description": "Request message for `GetIamPolicy` method.",
      "id": "GetIamPolicyRequest"
    },
    "CreateDatabaseRequest": {
      "id": "CreateDatabaseRequest",
      "properties": {
        "extraStatements": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. A list of DDL statements to run inside the newly created database. Statements can create tables, indexes, etc. These statements execute atomically with the creation of the database: if there is an error in any statement, the database is not created."
        },
        "encryptionConfig": {
          "description": "Optional. The encryption configuration for the database. If this field is not specified, Cloud Spanner will encrypt/decrypt all data at rest using Google default encryption.",
          "$ref": "EncryptionConfig"
        },
        "createStatement": {
          "type": "string",
          "description": "Required. A `CREATE DATABASE` statement, which specifies the ID of the new database. The database ID must conform to the regular expression `a-z*[a-z0-9]` and be between 2 and 30 characters in length. If the database ID is a reserved word or if it contains a hyphen, the database ID must be enclosed in backticks (`` ` ``)."
        },
        "databaseDialect": {
          "enumDescriptions": [
            "Default value. This value will create a database with the GOOGLE_STANDARD_SQL dialect.",
            "Google standard SQL.",
            "PostgreSQL supported SQL."
          ],
          "description": "Optional. The dialect of the Cloud Spanner Database.",
          "type": "string",
          "enum": [
            "DATABASE_DIALECT_UNSPECIFIED",
            "GOOGLE_STANDARD_SQL",
            "POSTGRESQL"
          ]
        }
      },
      "type": "object",
      "description": "The request for CreateDatabase."
    },
    "BatchCreateSessionsResponse": {
      "id": "BatchCreateSessionsResponse",
      "type": "object",
      "description": "The response for BatchCreateSessions.",
      "properties": {
        "session": {
          "description": "The freshly created sessions.",
          "items": {
            "$ref": "Session"
          },
          "type": "array"
        }
      }
    },
    "IndexedHotKey": {
      "properties": {
        "sparseHotKeys": {
          "description": "A (sparse) mapping from key bucket index to the index of the specific hot row key for that key bucket. The index of the hot row key can be translated to the actual row key via the ScanData.VisualizationData.indexed_keys repeated field.",
          "additionalProperties": {
            "format": "int32",
            "type": "integer"
          },
          "type": "object"
        }
      },
      "type": "object",
      "id": "IndexedHotKey",
      "description": "A message representing a (sparse) collection of hot keys for specific key buckets."
    },
    "Expr": {
      "id": "Expr",
      "properties": {
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        }
      },
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "type": "object"
    },
    "CreateInstanceMetadata": {
      "description": "Metadata type for the operation returned by CreateInstance.",
      "type": "object",
      "properties": {
        "cancelTime": {
          "description": "The time at which this operation was cancelled. If set, this operation is in the process of undoing itself (which is guaranteed to succeed) and cannot be cancelled again.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "The time at which this operation failed or was completed successfully.",
          "type": "string"
        },
        "startTime": {
          "format": "google-datetime",
          "description": "The time at which the CreateInstance request was received.",
          "type": "string"
        },
        "instance": {
          "description": "The instance being created.",
          "$ref": "Instance"
        }
      },
      "id": "CreateInstanceMetadata"
    },
    "CopyBackupRequest": {
      "properties": {
        "encryptionConfig": {
          "$ref": "CopyBackupEncryptionConfig",
          "description": "Optional. The encryption configuration used to encrypt the backup. If this field is not specified, the backup will use the same encryption configuration as the source backup by default, namely encryption_type = `USE_CONFIG_DEFAULT_OR_BACKUP_ENCRYPTION`."
        },
        "sourceBackup": {
          "description": "Required. The source backup to be copied. The source backup needs to be in READY state for it to be copied. Once CopyBackup is in progress, the source backup cannot be deleted or cleaned up on expiration until CopyBackup is finished. Values are of the form: `projects//instances//backups/`.",
          "type": "string"
        },
        "backupId": {
          "description": "Required. The id of the backup copy. The `backup_id` appended to `parent` forms the full backup_uri of the form `projects//instances//backups/`.",
          "type": "string"
        },
        "expireTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Required. The expiration time of the backup in microsecond granularity. The expiration time must be at least 6 hours and at most 366 days from the `create_time` of the source backup. Once the `expire_time` has passed, the backup is eligible to be automatically deleted by Cloud Spanner to free the resources used by the backup."
        }
      },
      "type": "object",
      "id": "CopyBackupRequest",
      "description": "The request for CopyBackup."
    },
    "Empty": {
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "properties": {}
    },
    "MetricMatrix": {
      "id": "MetricMatrix",
      "type": "object",
      "description": "A message representing a matrix of floats.",
      "properties": {
        "rows": {
          "type": "array",
          "items": {
            "$ref": "MetricMatrixRow"
          },
          "description": "The rows of the matrix."
        }
      }
    },
    "OptimizeRestoredDatabaseMetadata": {
      "description": "Metadata type for the long-running operation used to track the progress of optimizations performed on a newly restored database. This long-running operation is automatically created by the system after the successful completion of a database restore, and cannot be cancelled.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the restored database being optimized."
        },
        "progress": {
          "$ref": "OperationProgress",
          "description": "The progress of the post-restore optimizations."
        }
      },
      "id": "OptimizeRestoredDatabaseMetadata"
    },
    "Database": {
      "type": "object",
      "description": "A Cloud Spanner database.",
      "properties": {
        "restoreInfo": {
          "description": "Output only. Applicable only for restored databases. Contains information about the restore source.",
          "$ref": "RestoreInfo",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "description": "Output only. If exists, the time at which the database creation started.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "encryptionInfo": {
          "description": "Output only. For databases that are using customer managed encryption, this field contains the encryption information for the database, such as encryption state and the Cloud KMS key versions that are in use. For databases that are using Google default or other types of encryption, this field is empty. This field is propagated lazily from the backend. There might be a delay from when a key version is being used and when it appears in this field.",
          "items": {
            "$ref": "EncryptionInfo"
          },
          "type": "array",
          "readOnly": true
        },
        "versionRetentionPeriod": {
          "description": "Output only. The period in which Cloud Spanner retains all versions of data for the database. This is the same as the value of version_retention_period database option set using UpdateDatabaseDdl. Defaults to 1 hour, if not set.",
          "readOnly": true,
          "type": "string"
        },
        "encryptionConfig": {
          "description": "Output only. For databases that are using customer managed encryption, this field contains the encryption configuration for the database. For databases that are using Google default or other types of encryption, this field is empty.",
          "readOnly": true,
          "$ref": "EncryptionConfig"
        },
        "earliestVersionTime": {
          "description": "Output only. Earliest timestamp at which older versions of the data can be read. This value is continuously updated by Cloud Spanner and becomes stale the moment it is queried. If you are using this value to recover data, make sure to account for the time from the moment when the value is queried to the moment when you initiate the recovery.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Required. The name of the database. Values are of the form `projects//instances//databases/`, where `` is as specified in the `CREATE DATABASE` statement. This name can be passed to other API methods to identify the database."
        },
        "defaultLeader": {
          "readOnly": true,
          "description": "Output only. The read-write region which contains the database's leader replicas. This is the same as the value of default_leader database option set using DatabaseAdmin.CreateDatabase or DatabaseAdmin.UpdateDatabaseDdl. If not explicitly set, this is empty.",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "READY_OPTIMIZING"
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. The current database state.",
          "enumDescriptions": [
            "Not specified.",
            "The database is still being created. Operations on the database may fail with `FAILED_PRECONDITION` in this state.",
            "The database is fully created and ready for use.",
            "The database is fully created and ready for use, but is still being optimized for performance and cannot handle full load. In this state, the database still references the backup it was restore from, preventing the backup from being deleted. When optimizations are complete, the full performance of the database will be restored, and the database will transition to `READY` state."
          ]
        },
        "databaseDialect": {
          "description": "Output only. The dialect of the Cloud Spanner Database.",
          "enumDescriptions": [
            "Default value. This value will create a database with the GOOGLE_STANDARD_SQL dialect.",
            "Google standard SQL.",
            "PostgreSQL supported SQL."
          ],
          "enum": [
            "DATABASE_DIALECT_UNSPECIFIED",
            "GOOGLE_STANDARD_SQL",
            "POSTGRESQL"
          ],
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "Database"
    },
    "Mutation": {
      "properties": {
        "replace": {
          "description": "Like insert, except that if the row already exists, it is deleted, and the column values provided are inserted instead. Unlike insert_or_update, this means any values not explicitly written become `NULL`. In an interleaved table, if you create the child table with the `ON DELETE CASCADE` annotation, then replacing a parent row also deletes the child rows. Otherwise, you must delete the child rows before you replace the parent row.",
          "$ref": "Write"
        },
        "insertOrUpdate": {
          "$ref": "Write",
          "description": "Like insert, except that if the row already exists, then its column values are overwritten with the ones provided. Any column values not explicitly written are preserved. When using insert_or_update, just as when using insert, all `NOT NULL` columns in the table must be given a value. This holds true even when the row already exists and will therefore actually be updated."
        },
        "delete": {
          "$ref": "Delete",
          "description": "Delete rows from a table. Succeeds whether or not the named rows were present."
        },
        "update": {
          "$ref": "Write",
          "description": "Update existing rows in a table. If any of the rows does not already exist, the transaction fails with error `NOT_FOUND`."
        },
        "insert": {
          "$ref": "Write",
          "description": "Insert new rows in a table. If any of the rows already exist, the write or transaction fails with error `ALREADY_EXISTS`."
        }
      },
      "id": "Mutation",
      "type": "object",
      "description": "A modification to one or more Cloud Spanner rows. Mutations can be applied to a Cloud Spanner database by sending them in a Commit call."
    },
    "Policy": {
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } **YAML example:** bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "type": "object",
      "id": "Policy",
      "properties": {
        "bindings": {
          "items": {
            "$ref": "Binding"
          },
          "type": "array",
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
        },
        "etag": {
          "type": "string",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "format": "byte"
        },
        "version": {
          "format": "int32",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer"
        }
      }
    },
    "UpdateInstanceRequest": {
      "type": "object",
      "id": "UpdateInstanceRequest",
      "properties": {
        "fieldMask": {
          "type": "string",
          "description": "Required. A mask specifying which fields in Instance should be updated. The field mask must always be specified; this prevents any future fields in Instance from being erased accidentally by clients that do not know about them.",
          "format": "google-fieldmask"
        },
        "instance": {
          "description": "Required. The instance to update, which must always include the instance name. Otherwise, only fields mentioned in field_mask need be included.",
          "$ref": "Instance"
        }
      },
      "description": "The request for UpdateInstance."
    },
    "SetIamPolicyRequest": {
      "properties": {
        "policy": {
          "$ref": "Policy",
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
        }
      },
      "description": "Request message for `SetIamPolicy` method.",
      "type": "object",
      "id": "SetIamPolicyRequest"
    },
    "Delete": {
      "id": "Delete",
      "description": "Arguments to delete operations.",
      "properties": {
        "keySet": {
          "description": "Required. The primary keys of the rows within table to delete. The primary keys must be specified in the order in which they appear in the `PRIMARY KEY()` clause of the table's equivalent DDL statement (the DDL statement used to create the table). Delete is idempotent. The transaction will succeed even if some or all rows do not exist.",
          "$ref": "KeySet"
        },
        "table": {
          "type": "string",
          "description": "Required. The table whose rows will be deleted."
        }
      },
      "type": "object"
    },
    "CopyBackupMetadata": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the backup being created through the copy operation. Values are of the form `projects//instances//backups/`."
        },
        "cancelTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which cancellation of CopyBackup operation was received. Operations.CancelOperation starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        },
        "progress": {
          "description": "The progress of the CopyBackup operation.",
          "$ref": "OperationProgress"
        },
        "sourceBackup": {
          "description": "The name of the source backup that is being copied. Values are of the form `projects//instances//backups/`.",
          "type": "string"
        }
      },
      "id": "CopyBackupMetadata",
      "description": "Metadata type for the operation returned by CopyBackup."
    },
    "Metric": {
      "id": "Metric",
      "properties": {
        "matrix": {
          "description": "The data for the metric as a matrix.",
          "$ref": "MetricMatrix"
        },
        "category": {
          "description": "The category of the metric, e.g. \"Activity\", \"Alerts\", \"Reads\", etc.",
          "$ref": "LocalizedString"
        },
        "indexedHotKeys": {
          "type": "object",
          "additionalProperties": {
            "$ref": "IndexedHotKey"
          },
          "description": "The (sparse) mapping from time index to an IndexedHotKey message, representing those time intervals for which there are hot keys."
        },
        "aggregation": {
          "description": "The aggregation function used to aggregate each key bucket",
          "type": "string",
          "enumDescriptions": [
            "Required default value.",
            "Use the maximum of all values.",
            "Use the sum of all values."
          ],
          "enum": [
            "AGGREGATION_UNSPECIFIED",
            "MAX",
            "SUM"
          ]
        },
        "hasNonzeroData": {
          "description": "Whether the metric has any non-zero data.",
          "type": "boolean"
        },
        "derived": {
          "description": "The references to numerator and denominator metrics for a derived metric.",
          "$ref": "DerivedMetric"
        },
        "info": {
          "$ref": "LocalizedString",
          "description": "Information about the metric."
        },
        "visible": {
          "description": "Whether the metric is visible to the end user.",
          "type": "boolean"
        },
        "displayLabel": {
          "$ref": "LocalizedString",
          "description": "The displayed label of the metric."
        },
        "hotValue": {
          "description": "The value that is considered hot for the metric. On a per metric basis hotness signals high utilization and something that might potentially be a cause for concern by the end user. hot_value is used to calibrate and scale visual color scales.",
          "type": "number",
          "format": "float"
        },
        "unit": {
          "$ref": "LocalizedString",
          "description": "The unit of the metric."
        },
        "indexedKeyRangeInfos": {
          "additionalProperties": {
            "$ref": "IndexedKeyRangeInfos"
          },
          "type": "object",
          "description": "The (sparse) mapping from time interval index to an IndexedKeyRangeInfos message, representing those time intervals for which there are informational messages concerning key ranges."
        }
      },
      "description": "A message representing the actual monitoring data, values for each key bucket over time, of a metric.",
      "type": "object"
    },
    "KeyRange": {
      "id": "KeyRange",
      "type": "object",
      "properties": {
        "startClosed": {
          "type": "array",
          "description": "If the start is closed, then the range includes all rows whose first `len(start_closed)` key columns exactly match `start_closed`.",
          "items": {
            "type": "any"
          }
        },
        "endClosed": {
          "description": "If the end is closed, then the range includes all rows whose first `len(end_closed)` key columns exactly match `end_closed`.",
          "type": "array",
          "items": {
            "type": "any"
          }
        },
        "startOpen": {
          "description": "If the start is open, then the range excludes rows whose first `len(start_open)` key columns exactly match `start_open`.",
          "items": {
            "type": "any"
          },
          "type": "array"
        },
        "endOpen": {
          "type": "array",
          "description": "If the end is open, then the range excludes rows whose first `len(end_open)` key columns exactly match `end_open`.",
          "items": {
            "type": "any"
          }
        }
      },
      "description": "KeyRange represents a range of rows in a table or index. A range has a start key and an end key. These keys can be open or closed, indicating if the range includes rows with that key. Keys are represented by lists, where the ith value in the list corresponds to the ith component of the table or index primary key. Individual values are encoded as described here. For example, consider the following table definition: CREATE TABLE UserEvents ( UserName STRING(MAX), EventDate STRING(10) ) PRIMARY KEY(UserName, EventDate); The following keys name rows in this table: \"Bob\", \"2014-09-23\" Since the `UserEvents` table's `PRIMARY KEY` clause names two columns, each `UserEvents` key has two elements; the first is the `UserName`, and the second is the `EventDate`. Key ranges with multiple components are interpreted lexicographically by component using the table or index key's declared sort order. For example, the following range returns all events for user `\"Bob\"` that occurred in the year 2015: \"start_closed\": [\"Bob\", \"2015-01-01\"] \"end_closed\": [\"Bob\", \"2015-12-31\"] Start and end keys can omit trailing key components. This affects the inclusion and exclusion of rows that exactly match the provided key components: if the key is closed, then rows that exactly match the provided components are included; if the key is open, then rows that exactly match are not included. For example, the following range includes all events for `\"Bob\"` that occurred during and after the year 2000: \"start_closed\": [\"Bob\", \"2000-01-01\"] \"end_closed\": [\"Bob\"] The next example retrieves all events for `\"Bob\"`: \"start_closed\": [\"Bob\"] \"end_closed\": [\"Bob\"] To retrieve events before the year 2000: \"start_closed\": [\"Bob\"] \"end_open\": [\"Bob\", \"2000-01-01\"] The following range includes all rows in the table: \"start_closed\": [] \"end_closed\": [] This range returns all users whose `UserName` begins with any character from A to C: \"start_closed\": [\"A\"] \"end_open\": [\"D\"] This range returns all users whose `UserName` begins with B: \"start_closed\": [\"B\"] \"end_open\": [\"C\"] Key ranges honor column sort order. For example, suppose a table is defined as follows: CREATE TABLE DescendingSortedTable { Key INT64, ... ) PRIMARY KEY(Key DESC); The following range retrieves all rows with key values between 1 and 100 inclusive: \"start_closed\": [\"100\"] \"end_closed\": [\"1\"] Note that 100 is passed as the start, and 1 is passed as the end, because `Key` is a descending column in the schema."
    },
[...]
