{
  "name": "spanner",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/spanner.admin": {
          "description": "Administer your Spanner databases"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/spanner.data": {
          "description": "View and manage the contents of your Spanner databases"
        }
      }
    }
  },
  "version": "v1",
  "discoveryVersion": "v1",
  "schemas": {
    "UpdateDatabaseRequest": {
      "description": "The request for UpdateDatabase.",
      "type": "object",
      "properties": {
        "database": {
          "$ref": "Database",
          "description": "Required. The database to update. The `name` field of the database is of the form `projects//instances//databases/`."
        },
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "Required. The list of fields to update. Currently, only `enable_drop_protection` field can be updated."
        }
      },
      "id": "UpdateDatabaseRequest"
    },
    "DerivedMetric": {
      "description": "A message representing a derived metric.",
      "type": "object",
      "id": "DerivedMetric",
      "properties": {
        "numerator": {
          "$ref": "LocalizedString",
          "description": "The name of the numerator metric. e.g. \"latency\"."
        },
        "denominator": {
          "description": "The name of the denominator metric. e.g. \"rows\".",
          "$ref": "LocalizedString"
        }
      }
    },
    "GetPolicyOptions": {
      "description": "Encapsulates settings provided to GetIamPolicy.",
      "properties": {
        "requestedPolicyVersion": {
          "format": "int32",
          "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "GetPolicyOptions"
    },
    "CreateInstanceConfigMetadata": {
      "type": "object",
      "id": "CreateInstanceConfigMetadata",
      "properties": {
        "instanceConfig": {
          "$ref": "InstanceConfig",
          "description": "The target instance config end state."
        },
        "cancelTime": {
          "description": "The time at which this operation was cancelled.",
          "format": "google-datetime",
          "type": "string"
        },
        "progress": {
          "description": "The progress of the CreateInstanceConfig operation.",
          "$ref": "InstanceOperationProgress"
        }
      },
      "description": "Metadata type for the operation returned by CreateInstanceConfig."
    },
    "ListBackupOperationsResponse": {
      "type": "object",
      "id": "ListBackupOperationsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "`next_page_token` can be sent in a subsequent ListBackupOperations call to fetch more of the matching metadata."
        },
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "description": "The list of matching backup long-running operations. Each operation's name will be prefixed by the backup's name. The operation's metadata field type `metadata.type_url` describes the type of the metadata. Operations returned include those that are pending or have completed/failed/canceled within the last 7 days. Operations returned are ordered by `operation.metadata.value.progress.start_time` in descending order starting from the most recently started operation.",
          "type": "array"
        }
      },
      "description": "The response for ListBackupOperations."
    },
    "ListSessionsResponse": {
      "description": "The response for ListSessions.",
      "properties": {
        "sessions": {
          "type": "array",
          "description": "The list of requested sessions.",
          "items": {
            "$ref": "Session"
          }
        },
        "nextPageToken": {
          "description": "`next_page_token` can be sent in a subsequent ListSessions call to fetch more of the matching sessions.",
          "type": "string"
        }
      },
      "id": "ListSessionsResponse",
      "type": "object"
    },
    "SetIamPolicyRequest": {
      "description": "Request message for `SetIamPolicy` method.",
      "type": "object",
      "properties": {
        "policy": {
          "$ref": "Policy",
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
        }
      },
      "id": "SetIamPolicyRequest"
    },
    "Write": {
      "id": "Write",
      "properties": {
        "table": {
          "description": "Required. The table whose rows will be written.",
          "type": "string"
        },
        "columns": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The names of the columns in table to be written. The list of columns must contain enough columns to allow Cloud Spanner to derive values for all primary key columns in the row(s) to be modified."
        },
        "values": {
          "description": "The values to be written. `values` can contain more than one list of values. If it does, then multiple rows are written, one for each entry in `values`. Each list in `values` must have exactly as many entries as there are entries in columns above. Sending multiple lists is equivalent to sending multiple `Mutation`s, each containing one `values` entry and repeating table and columns. Individual values in each list are encoded as described here.",
          "items": {
            "items": {
              "type": "any"
            },
            "type": "array"
          },
          "type": "array"
        }
      },
      "description": "Arguments to insert, update, insert_or_update, and replace operations.",
      "type": "object"
    },
    "ListScansResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "scans": {
          "description": "Available scans based on the list query parameters.",
          "items": {
            "$ref": "Scan"
          },
          "type": "array"
        }
      },
      "id": "ListScansResponse",
      "description": "Response method from the ListScans method.",
      "type": "object"
    },
    "ReadOnly": {
      "id": "ReadOnly",
      "description": "Message type to initiate a read-only transaction.",
      "properties": {
        "strong": {
          "type": "boolean",
          "description": "Read at a timestamp where all previously committed transactions are visible."
        },
        "minReadTimestamp": {
          "format": "google-datetime",
          "type": "string",
          "description": "Executes all reads at a timestamp \u003e= `min_read_timestamp`. This is useful for requesting fresher data than some previous read, or data that is fresh enough to observe the effects of some previously committed transaction whose timestamp is known. Note that this option can only be used in single-use transactions. A timestamp in RFC3339 UTC \\\"Zulu\\\" format, accurate to nanoseconds. Example: `\"2014-10-02T15:01:23.045123456Z\"`."
        },
        "returnReadTimestamp": {
          "type": "boolean",
          "description": "If true, the Cloud Spanner-selected read timestamp is included in the Transaction message that describes the transaction."
        },
        "readTimestamp": {
          "format": "google-datetime",
          "description": "Executes all reads at the given timestamp. Unlike other modes, reads at a specific timestamp are repeatable; the same read at the same timestamp always returns the same data. If the timestamp is in the future, the read will block until the specified timestamp, modulo the read's deadline. Useful for large scale consistent reads such as mapreduces, or for coordinating many reads against a consistent snapshot of the data. A timestamp in RFC3339 UTC \\\"Zulu\\\" format, accurate to nanoseconds. Example: `\"2014-10-02T15:01:23.045123456Z\"`.",
          "type": "string"
        },
        "maxStaleness": {
          "format": "google-duration",
          "type": "string",
          "description": "Read data at a timestamp \u003e= `NOW - max_staleness` seconds. Guarantees that all writes that have committed more than the specified number of seconds ago are visible. Because Cloud Spanner chooses the exact timestamp, this mode works even if the client's local clock is substantially skewed from Cloud Spanner commit timestamps. Useful for reading the freshest data available at a nearby replica, while bounding the possible staleness if the local replica has fallen behind. Note that this option can only be used in single-use transactions."
        },
        "exactStaleness": {
          "type": "string",
          "description": "Executes all reads at a timestamp that is `exact_staleness` old. The timestamp is chosen soon after the read is started. Guarantees that all writes that have committed more than the specified number of seconds ago are visible. Because Cloud Spanner chooses the exact timestamp, this mode works even if the client's local clock is substantially skewed from Cloud Spanner commit timestamps. Useful for reading at nearby replicas without the distributed timestamp negotiation overhead of `max_staleness`.",
          "format": "google-duration"
        }
      },
      "type": "object"
    },
    "CommitRequest": {
      "properties": {
        "requestOptions": {
          "description": "Common options for this request.",
          "$ref": "RequestOptions"
        },
        "mutations": {
          "items": {
            "$ref": "Mutation"
          },
          "description": "The mutations to be executed when this transaction commits. All mutations are applied atomically, in the order they appear in this list.",
          "type": "array"
        },
        "transactionId": {
          "type": "string",
          "format": "byte",
          "description": "Commit a previously-started transaction."
        },
        "returnCommitStats": {
          "type": "boolean",
          "description": "If `true`, then statistics related to the transaction will be included in the CommitResponse. Default value is `false`."
        },
        "singleUseTransaction": {
          "$ref": "TransactionOptions",
          "description": "Execute mutations in a temporary transaction. Note that unlike commit of a previously-started transaction, commit with a temporary transaction is non-idempotent. That is, if the `CommitRequest` is sent to Cloud Spanner more than once (for instance, due to retries in the application, or in the transport library), it is possible that the mutations are executed more than once. If this is undesirable, use BeginTransaction and Commit instead."
        }
      },
      "description": "The request for Commit.",
      "type": "object",
      "id": "CommitRequest"
    },
    "ListInstancesResponse": {
      "description": "The response for ListInstances.",
      "id": "ListInstancesResponse",
      "properties": {
        "instances": {
          "description": "The list of requested instances.",
          "type": "array",
          "items": {
            "$ref": "Instance"
          }
        },
        "unreachable": {
          "description": "The list of unreachable instances. It includes the names of instances whose metadata could not be retrieved within instance_deadline.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "`next_page_token` can be sent in a subsequent ListInstances call to fetch more of the matching instances."
        }
      },
      "type": "object"
    },
    "UpdateDatabaseDdlMetadata": {
      "id": "UpdateDatabaseDdlMetadata",
      "properties": {
        "actions": {
          "type": "array",
          "items": {
            "$ref": "DdlStatementActionInfo"
          },
          "description": "The brief action info for the DDL statements. `actions[i]` is the brief info for `statements[i]`."
        },
        "commitTimestamps": {
          "items": {
            "format": "google-datetime",
            "type": "string"
          },
          "description": "Reports the commit timestamps of all statements that have succeeded so far, where `commit_timestamps[i]` is the commit timestamp for the statement `statements[i]`.",
          "type": "array"
        },
        "statements": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "For an update this list contains all the statements. For an individual statement, this list contains only that statement."
        },
        "database": {
          "type": "string",
          "description": "The database being modified."
        },
        "throttled": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. When true, indicates that the operation is throttled e.g. due to resource constraints. When resources become available the operation will resume and this field will be false again."
        },
        "progress": {
          "description": "The progress of the UpdateDatabaseDdl operations. All DDL statements will have continuously updating progress, and `progress[i]` is the operation progress for `statements[i]`. Also, `progress[i]` will have start time and end time populated with commit timestamp of operation, as well as a progress of 100% once the operation has completed.",
          "items": {
            "$ref": "OperationProgress"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Metadata type for the operation returned by UpdateDatabaseDdl."
    },
    "EncryptionConfig": {
      "description": "Encryption configuration for a Cloud Spanner database.",
      "id": "EncryptionConfig",
      "properties": {
        "kmsKeyName": {
          "description": "The Cloud KMS key to be used for encrypting and decrypting the database. Values are of the form `projects//locations//keyRings//cryptoKeys/`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "UpdateInstanceRequest": {
      "description": "The request for UpdateInstance.",
      "properties": {
        "fieldMask": {
          "format": "google-fieldmask",
          "description": "Required. A mask specifying which fields in Instance should be updated. The field mask must always be specified; this prevents any future fields in Instance from being erased accidentally by clients that do not know about them.",
          "type": "string"
        },
        "instance": {
          "description": "Required. The instance to update, which must always include the instance name. Otherwise, only fields mentioned in field_mask need be included.",
          "$ref": "Instance"
        }
      },
      "id": "UpdateInstanceRequest",
      "type": "object"
    },
    "ReadWrite": {
      "properties": {
        "readLockMode": {
          "enum": [
            "READ_LOCK_MODE_UNSPECIFIED",
            "PESSIMISTIC",
            "OPTIMISTIC"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. If the value is not specified, the pessimistic read lock is used.",
            "Pessimistic lock mode. Read locks are acquired immediately on read.",
            "Optimistic lock mode. Locks for reads within the transaction are not acquired on read. Instead the locks are acquired on a commit to validate that read/queried data has not changed since the transaction started."
          ],
          "description": "Read lock mode for the transaction."
        }
      },
      "type": "object",
      "id": "ReadWrite",
      "description": "Message type to initiate a read-write transaction. Currently this transaction type has no options."
    },
    "Expr": {
      "properties": {
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        },
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        }
      },
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "id": "Expr",
      "type": "object"
    },
    "KeyRangeInfo": {
      "properties": {
        "startKeyIndex": {
          "format": "int32",
          "type": "integer",
          "description": "The index of the start key in indexed_keys."
        },
        "metric": {
          "description": "The name of the metric. e.g. \"latency\".",
          "$ref": "LocalizedString"
        },
        "contextValues": {
          "items": {
            "$ref": "ContextValue"
          },
          "type": "array",
          "description": "The list of context values for this key range."
        },
        "endKeyIndex": {
          "description": "The index of the end key in indexed_keys.",
          "type": "integer",
          "format": "int32"
        },
        "timeOffset": {
          "description": "The time offset. This is the time since the start of the time interval.",
          "type": "string",
          "format": "google-duration"
        },
        "unit": {
          "description": "The unit of the metric. This is an unstructured field and will be mapped as is to the user.",
          "$ref": "LocalizedString"
        },
        "info": {
          "description": "Information about this key range, for all metrics.",
          "$ref": "LocalizedString"
        },
        "keysCount": {
          "format": "int64",
          "description": "The number of keys this range covers.",
          "type": "string"
        },
        "value": {
          "type": "number",
          "format": "float",
          "description": "The value of the metric."
        }
      },
      "id": "KeyRangeInfo",
      "type": "object",
      "description": "A message representing information for a key range (possibly one key)."
    },
    "ListDatabaseRolesResponse": {
      "id": "ListDatabaseRolesResponse",
      "properties": {
        "nextPageToken": {
          "description": "`next_page_token` can be sent in a subsequent ListDatabaseRoles call to fetch more of the matching roles.",
          "type": "string"
        },
        "databaseRoles": {
          "type": "array",
          "items": {
            "$ref": "DatabaseRole"
          },
          "description": "Database roles that matched the request."
        }
      },
      "description": "The response for ListDatabaseRoles.",
      "type": "object"
    },
    "Statement": {
      "properties": {
        "paramTypes": {
          "description": "It is not always possible for Cloud Spanner to infer the right SQL type from a JSON value. For example, values of type `BYTES` and values of type `STRING` both appear in params as JSON strings. In these cases, `param_types` can be used to specify the exact SQL type for some or all of the SQL statement parameters. See the definition of Type for more information about SQL types.",
          "type": "object",
          "additionalProperties": {
            "$ref": "Type"
          }
        },
        "sql": {
          "description": "Required. The DML string.",
          "type": "string"
        },
        "params": {
          "description": "Parameter names and values that bind to placeholders in the DML string. A parameter placeholder consists of the `@` character followed by the parameter name (for example, `@firstName`). Parameter names can contain letters, numbers, and underscores. Parameters can appear anywhere that a literal value is expected. The same parameter name can be used more than once, for example: `\"WHERE id \u003e @msg_id AND id \u003c @msg_id + 100\"` It is an error to execute a SQL statement with unbound parameters.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        }
      },
      "id": "Statement",
      "description": "A single DML statement.",
      "type": "object"
    },
    "CopyBackupEncryptionConfig": {
      "description": "Encryption configuration for the copied backup.",
      "id": "CopyBackupEncryptionConfig",
      "type": "object",
      "properties": {
        "encryptionType": {
          "enumDescriptions": [
            "Unspecified. Do not use.",
            "This is the default option for CopyBackup when encryption_config is not specified. For example, if the source backup is using `Customer_Managed_Encryption`, the backup will be using the same Cloud KMS key as the source backup.",
            "Use Google default encryption.",
            "Use customer managed encryption. If specified, either `kms_key_name` or `kms_key_names` must contain valid Cloud KMS key(s)."
          ],
          "description": "Required. The encryption type of the backup.",
          "type": "string",
          "enum": [
            "ENCRYPTION_TYPE_UNSPECIFIED",
            "USE_CONFIG_DEFAULT_OR_BACKUP_ENCRYPTION",
            "GOOGLE_DEFAULT_ENCRYPTION",
            "CUSTOMER_MANAGED_ENCRYPTION"
          ]
        },
        "kmsKeyName": {
          "description": "Optional. The Cloud KMS key that will be used to protect the backup. This field should be set only when encryption_type is `CUSTOMER_MANAGED_ENCRYPTION`. Values are of the form `projects//locations//keyRings//cryptoKeys/`.",
          "type": "string"
        }
      }
    },
    "CreateInstanceMetadata": {
      "type": "object",
      "description": "Metadata type for the operation returned by CreateInstance.",
      "properties": {
        "instance": {
          "description": "The instance being created.",
          "$ref": "Instance"
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time at which this operation failed or was completed successfully."
        },
        "startTime": {
          "description": "The time at which the CreateInstance request was received.",
          "type": "string",
          "format": "google-datetime"
        },
        "cancelTime": {
          "description": "The time at which this operation was cancelled. If set, this operation is in the process of undoing itself (which is guaranteed to succeed) and cannot be cancelled again.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "CreateInstanceMetadata"
    },
    "CreateInstanceRequest": {
      "id": "CreateInstanceRequest",
      "properties": {
        "instance": {
          "$ref": "Instance",
          "description": "Required. The instance to create. The name may be omitted, but if specified must be `/instances/`."
        },
        "instanceId": {
          "type": "string",
          "description": "Required. The ID of the instance to create. Valid identifiers are of the form `a-z*[a-z0-9]` and must be between 2 and 64 characters in length."
        }
      },
      "description": "The request for CreateInstance.",
      "type": "object"
    },
    "RestoreDatabaseEncryptionConfig": {
      "type": "object",
      "properties": {
        "kmsKeyName": {
          "description": "Optional. The Cloud KMS key that will be used to encrypt/decrypt the restored database. This field should be set only when encryption_type is `CUSTOMER_MANAGED_ENCRYPTION`. Values are of the form `projects//locations//keyRings//cryptoKeys/`.",
          "type": "string"
        },
        "encryptionType": {
          "enumDescriptions": [
            "Unspecified. Do not use.",
            "This is the default option when encryption_config is not specified.",
            "Use Google default encryption.",
            "Use customer managed encryption. If specified, `kms_key_name` must must contain a valid Cloud KMS key."
          ],
          "enum": [
            "ENCRYPTION_TYPE_UNSPECIFIED",
            "USE_CONFIG_DEFAULT_OR_BACKUP_ENCRYPTION",
            "GOOGLE_DEFAULT_ENCRYPTION",
            "CUSTOMER_MANAGED_ENCRYPTION"
          ],
          "description": "Required. The encryption type of the restored database.",
          "type": "string"
        }
      },
      "description": "Encryption configuration for the restored database.",
      "id": "RestoreDatabaseEncryptionConfig"
    },
    "ListBackupsResponse": {
      "description": "The response for ListBackups.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "`next_page_token` can be sent in a subsequent ListBackups call to fetch more of the matching backups.",
          "type": "string"
        },
        "backups": {
          "items": {
            "$ref": "Backup"
          },
          "type": "array",
          "description": "The list of matching backups. Backups returned are ordered by `create_time` in descending order, starting from the most recent `create_time`."
        }
      },
      "id": "ListBackupsResponse"
    },
    "PartialResultSet": {
      "properties": {
        "metadata": {
          "description": "Metadata about the result set, such as row type information. Only present in the first response.",
          "$ref": "ResultSetMetadata"
        },
        "resumeToken": {
          "format": "byte",
          "description": "Streaming calls might be interrupted for a variety of reasons, such as TCP connection loss. If this occurs, the stream of results can be resumed by re-sending the original request and including `resume_token`. Note that executing any other transaction in the same session invalidates the token.",
          "type": "string"
        },
        "values": {
          "type": "array",
          "description": "A streamed result set consists of a stream of values, which might be split into many `PartialResultSet` messages to accommodate large rows and/or large values. Every N complete values defines a row, where N is equal to the number of entries in metadata.row_type.fields. Most values are encoded based on type as described here. It is possible that the last value in values is \"chunked\", meaning that the rest of the value is sent in subsequent `PartialResultSet`(s). This is denoted by the chunked_value field. Two or more chunked values can be merged to form a complete value as follows: * `bool/number/null`: cannot be chunked * `string`: concatenate the strings * `list`: concatenate the lists. If the last element in a list is a `string`, `list`, or `object`, merge it with the first element in the next list by applying these rules recursively. * `object`: concatenate the (field name, field value) pairs. If a field name is duplicated, then apply these rules recursively to merge the field values. Some examples of merging: # Strings are concatenated. \"foo\", \"bar\" =\u003e \"foobar\" # Lists of non-strings are concatenated. [2, 3], [4] =\u003e [2, 3, 4] # Lists are concatenated, but the last and first elements are merged # because they are strings. [\"a\", \"b\"], [\"c\", \"d\"] =\u003e [\"a\", \"bc\", \"d\"] # Lists are concatenated, but the last and first elements are merged # because they are lists. Recursively, the last and first elements # of the inner lists are merged because they are strings. [\"a\", [\"b\", \"c\"]], [[\"d\"], \"e\"] =\u003e [\"a\", [\"b\", \"cd\"], \"e\"] # Non-overlapping object fields are combined. {\"a\": \"1\"}, {\"b\": \"2\"} =\u003e {\"a\": \"1\", \"b\": 2\"} # Overlapping object fields are merged. {\"a\": \"1\"}, {\"a\": \"2\"} =\u003e {\"a\": \"12\"} # Examples of merging objects containing lists of strings. {\"a\": [\"1\"]}, {\"a\": [\"2\"]} =\u003e {\"a\": [\"12\"]} For a more complete example, suppose a streaming SQL query is yielding a result set whose rows contain a single string field. The following `PartialResultSet`s might be yielded: { \"metadata\": { ... } \"values\": [\"Hello\", \"W\"] \"chunked_value\": true \"resume_token\": \"Af65...\" } { \"values\": [\"orl\"] \"chunked_value\": true } { \"values\": [\"d\"] \"resume_token\": \"Zx1B...\" } This sequence of `PartialResultSet`s encodes two rows, one containing the field value `\"Hello\"`, and a second containing the field value `\"World\" = \"W\" + \"orl\" + \"d\"`. Not all `PartialResultSet`s contain a `resume_token`. Execution can only be resumed from a previously yielded `resume_token`. For the above sequence of `PartialResultSet`s, resuming the query with `\"resume_token\": \"Af65...\"` will yield results from the `PartialResultSet` with value `[\"orl\"]`.",
          "items": {
            "type": "any"
          }
        },
        "chunkedValue": {
          "description": "If true, then the final value in values is chunked, and must be combined with more values from subsequent `PartialResultSet`s to obtain a complete field value.",
          "type": "boolean"
        },
        "stats": {
          "description": "Query plan and execution statistics for the statement that produced this streaming result set. These can be requested by setting ExecuteSqlRequest.query_mode and are sent only once with the last response in the stream. This field will also be present in the last response for DML statements.",
          "$ref": "ResultSetStats"
        }
      },
      "description": "Partial results from a streaming read or SQL query. Streaming reads and SQL queries better tolerate large result sets, large rows, and large values, but are a little trickier to consume.",
      "type": "object",
      "id": "PartialResultSet"
    },
    "QueryPlan": {
      "properties": {
        "planNodes": {
          "type": "array",
          "items": {
            "$ref": "PlanNode"
          },
          "description": "The nodes in the query plan. Plan nodes are returned in pre-order starting with the plan root. Each PlanNode's `id` corresponds to its index in `plan_nodes`."
        }
      },
      "id": "QueryPlan",
      "description": "Contains an ordered list of nodes appearing in the query plan.",
      "type": "object"
    },
    "Backup": {
      "id": "Backup",
      "type": "object",
      "description": "A backup of a Cloud Spanner database.",
      "properties": {
        "maxExpireTime": {
          "description": "Output only. The max allowed expiration time of the backup, with microseconds granularity. A backup's expiration time can be configured in multiple APIs: CreateBackup, UpdateBackup, CopyBackup. When updating or copying an existing backup, the expiration time specified must be less than `Backup.max_expire_time`.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "sizeBytes": {
          "readOnly": true,
          "description": "Output only. Size of the backup in bytes.",
          "type": "string",
          "format": "int64"
        },
        "referencingBackups": {
          "items": {
            "type": "string"
          },
          "description": "Output only. The names of the destination backups being created by copying this source backup. The backup names are of the form `projects//instances//backups/`. Referencing backups may exist in different instances. The existence of any referencing backup prevents the backup from being deleted. When the copy operation is done (either successfully completed or cancelled or the destination backup is deleted), the reference to the backup is removed.",
          "type": "array",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Output only for the CreateBackup operation. Required for the UpdateBackup operation. A globally unique identifier for the backup which cannot be changed. Values are of the form `projects//instances//backups/a-z*[a-z0-9]` The final segment of the name must be between 2 and 60 characters in length. The backup is stored in the location(s) specified in the instance configuration of the instance containing the backup, identified by the prefix of the backup name of the form `projects//instances/`."
        },
        "databaseDialect": {
          "enum": [
            "DATABASE_DIALECT_UNSPECIFIED",
            "GOOGLE_STANDARD_SQL",
            "POSTGRESQL"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The database dialect information for the backup.",
          "enumDescriptions": [
            "Default value. This value will create a database with the GOOGLE_STANDARD_SQL dialect.",
            "GoogleSQL supported SQL.",
            "PostgreSQL supported SQL."
          ]
        },
        "createTime": {
          "description": "Output only. The time the CreateBackup request is received. If the request does not specify `version_time`, the `version_time` of the backup will be equivalent to the `create_time`.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "encryptionInfo": {
          "$ref": "EncryptionInfo",
          "description": "Output only. The encryption information for the backup.",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY"
          ],
          "enumDescriptions": [
            "Not specified.",
            "The pending backup is still being created. Operations on the backup may fail with `FAILED_PRECONDITION` in this state.",
            "The backup is complete and ready for use."
          ],
          "description": "Output only. The current state of the backup."
        },
        "database": {
          "type": "string",
          "description": "Required for the CreateBackup operation. Name of the database from which this backup was created. This needs to be in the same instance as the backup. Values are of the form `projects//instances//databases/`."
        },
        "expireTime": {
          "format": "google-datetime",
          "description": "Required for the CreateBackup operation. The expiration time of the backup, with microseconds granularity that must be at least 6 hours and at most 366 days from the time the CreateBackup request is processed. Once the `expire_time` has passed, the backup is eligible to be automatically deleted by Cloud Spanner to free the resources used by the backup.",
          "type": "string"
        },
        "referencingDatabases": {
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. The names of the restored databases that reference the backup. The database names are of the form `projects//instances//databases/`. Referencing databases may exist in different instances. The existence of any referencing database prevents the backup from being deleted. When a restored database from the backup enters the `READY` state, the reference to the backup is removed."
        },
        "versionTime": {
          "description": "The backup will contain an externally consistent copy of the database at the timestamp specified by `version_time`. If `version_time` is not specified, the system will set `version_time` to the `create_time` of the backup.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "CreateDatabaseMetadata": {
      "properties": {
        "database": {
          "type": "string",
          "description": "The database being created."
        }
      },
      "description": "Metadata type for the operation returned by CreateDatabase.",
      "type": "object",
      "id": "CreateDatabaseMetadata"
    },
    "PartitionedDml": {
      "description": "Message type to initiate a Partitioned DML transaction.",
      "id": "PartitionedDml",
      "type": "object",
      "properties": {}
    },
    "CommitResponse": {
      "type": "object",
      "description": "The response for Commit.",
      "id": "CommitResponse",
      "properties": {
        "commitStats": {
          "description": "The statistics about this Commit. Not returned by default. For more information, see CommitRequest.return_commit_stats.",
          "$ref": "CommitStats"
        },
        "commitTimestamp": {
          "format": "google-datetime",
          "type": "string",
          "description": "The Cloud Spanner timestamp at which the transaction committed."
        }
      }
    },
    "RequestOptions": {
      "id": "RequestOptions",
      "type": "object",
      "description": "Common request options for various APIs.",
      "properties": {
        "transactionTag": {
          "description": "A tag used for statistics collection about this transaction. Both request_tag and transaction_tag can be specified for a read or query that belongs to a transaction. The value of transaction_tag should be the same for all requests belonging to the same transaction. If this request doesn't belong to any transaction, transaction_tag will be ignored. Legal characters for `transaction_tag` values are all printable characters (ASCII 32 - 126) and the length of a transaction_tag is limited to 50 characters. Values that exceed this limit are truncated. Any leading underscore (_) characters will be removed from the string.",
          "type": "string"
        },
        "requestTag": {
          "description": "A per-request tag which can be applied to queries or reads, used for statistics collection. Both request_tag and transaction_tag can be specified for a read or query that belongs to a transaction. This field is ignored for requests where it's not applicable (e.g. CommitRequest). Legal characters for `request_tag` values are all printable characters (ASCII 32 - 126) and the length of a request_tag is limited to 50 characters. Values that exceed this limit are truncated. Any leading underscore (_) characters will be removed from the string.",
          "type": "string"
        },
        "priority": {
          "enumDescriptions": [
            "`PRIORITY_UNSPECIFIED` is equivalent to `PRIORITY_HIGH`.",
            "This specifies that the request is low priority.",
            "This specifies that the request is medium priority.",
            "This specifies that the request is high priority."
          ],
          "type": "string",
          "description": "Priority for the request.",
          "enum": [
            "PRIORITY_UNSPECIFIED",
            "PRIORITY_LOW",
            "PRIORITY_MEDIUM",
            "PRIORITY_HIGH"
          ]
        }
      }
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        }
      }
    },
    "BackupInfo": {
      "type": "object",
      "id": "BackupInfo",
      "properties": {
        "versionTime": {
          "description": "The backup contains an externally consistent copy of `source_database` at the timestamp specified by `version_time`. If the CreateBackup request did not specify `version_time`, the `version_time` of the backup is equivalent to the `create_time`.",
          "type": "string",
          "format": "google-datetime"
        },
        "sourceDatabase": {
          "description": "Name of the database the backup was created from.",
          "type": "string"
        },
        "backup": {
          "type": "string",
          "description": "Name of the backup."
        },
        "createTime": {
          "description": "The time the CreateBackup request was received.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Information about a backup."
    },
    "IndexedKeyRangeInfos": {
      "description": "A message representing a (sparse) collection of KeyRangeInfos for specific key buckets.",
      "id": "IndexedKeyRangeInfos",
      "type": "object",
      "properties": {
        "keyRangeInfos": {
          "type": "object",
          "description": "A (sparse) mapping from key bucket index to the KeyRangeInfos for that key bucket.",
          "additionalProperties": {
            "$ref": "KeyRangeInfos"
          }
        }
      }
    },
    "ListDatabasesResponse": {
      "description": "The response for ListDatabases.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "`next_page_token` can be sent in a subsequent ListDatabases call to fetch more of the matching databases."
        },
        "databases": {
          "items": {
            "$ref": "Database"
          },
          "description": "Databases that matched the request.",
          "type": "array"
        }
      },
      "id": "ListDatabasesResponse"
    },
    "ScanData": {
      "type": "object",
      "properties": {
        "startTime": {
          "description": "A range of time (inclusive) for when the contained data is defined. The lower bound for when the contained data is defined.",
          "format": "google-datetime",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The upper bound for when the contained data is defined."
        },
        "data": {
          "$ref": "VisualizationData",
          "description": "Cloud Key Visualizer scan data. The range of time this information covers is captured via the above time range fields. Note, this field is not available to the ListScans method."
        }
      },
      "description": "ScanData contains Cloud Key Visualizer scan data used by the caller to construct a visualization.",
      "id": "ScanData"
    },
    "CopyBackupMetadata": {
      "description": "Metadata type for the operation returned by CopyBackup.",
      "properties": {
        "sourceBackup": {
          "type": "string",
          "description": "The name of the source backup that is being copied. Values are of the form `projects//instances//backups/`."
        },
        "progress": {
          "description": "The progress of the CopyBackup operation.",
          "$ref": "OperationProgress"
        },
        "cancelTime": {
          "description": "The time at which cancellation of CopyBackup operation was received. Operations.CancelOperation starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "description": "The name of the backup being created through the copy operation. Values are of the form `projects//instances//backups/`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "CopyBackupMetadata"
    },
    "ReadRequest": {
      "type": "object",
      "description": "The request for Read and StreamingRead.",
      "properties": {
        "dataBoostEnabled": {
          "description": "If this is for a partitioned read and this field is set to `true`, the request is executed with Spanner Data Boost independent compute resources. If the field is set to `true` but the request does not set `partition_token`, the API returns an `INVALID_ARGUMENT` error.",
          "type": "boolean"
        },
        "index": {
          "type": "string",
          "description": "If non-empty, the name of an index on table. This index is used instead of the table primary key when interpreting key_set and sorting result rows. See key_set for further information."
        },
        "table": {
          "description": "Required. The name of the table in the database to be read.",
          "type": "string"
        },
        "requestOptions": {
          "$ref": "RequestOptions",
          "description": "Common options for this request."
        },
        "partitionToken": {
          "description": "If present, results will be restricted to the specified partition previously created using PartitionRead(). There must be an exact match for the values of fields common to this message and the PartitionReadRequest message used to create this partition_token.",
          "type": "string",
          "format": "byte"
        },
        "resumeToken": {
          "type": "string",
          "format": "byte",
          "description": "If this request is resuming a previously interrupted read, `resume_token` should be copied from the last PartialResultSet yielded before the interruption. Doing this enables the new read to resume where the last read left off. The rest of the request parameters must exactly match the request that yielded this token."
        },
        "columns": {
          "description": "Required. The columns of table to be returned for each row matching this request.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "limit": {
          "type": "string",
          "format": "int64",
          "description": "If greater than zero, only the first `limit` rows are yielded. If `limit` is zero, the default is no limit. A limit cannot be specified if `partition_token` is set."
        },
        "transaction": {
          "$ref": "TransactionSelector",
          "description": "The transaction to use. If none is provided, the default is a temporary read-only transaction with strong concurrency."
        },
        "keySet": {
          "$ref": "KeySet",
          "description": "Required. `key_set` identifies the rows to be yielded. `key_set` names the primary keys of the rows in table to be yielded, unless index is present. If index is present, then key_set instead names index keys in index. If the partition_token field is empty, rows are yielded in table primary key order (if index is empty) or index key order (if index is non-empty). If the partition_token field is not empty, rows will be yielded in an unspecified order. It is not an error for the `key_set` to name rows that do not exist in the database. Read yields nothing for nonexistent rows."
        }
      },
      "id": "ReadRequest"
    },
    "ListDatabaseOperationsResponse": {
      "type": "object",
      "id": "ListDatabaseOperationsResponse",
      "properties": {
        "operations": {
          "type": "array",
          "description": "The list of matching database long-running operations. Each operation's name will be prefixed by the database's name. The operation's metadata field type `metadata.type_url` describes the type of the metadata.",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "description": "`next_page_token` can be sent in a subsequent ListDatabaseOperations call to fetch more of the matching metadata.",
          "type": "string"
        }
      },
      "description": "The response for ListDatabaseOperations."
    },
    "Partition": {
      "properties": {
        "partitionToken": {
          "format": "byte",
          "description": "This token can be passed to Read, StreamingRead, ExecuteSql, or ExecuteStreamingSql requests to restrict the results to those identified by this partition token.",
          "type": "string"
        }
      },
      "description": "Information returned for each partition returned in a PartitionResponse.",
      "id": "Partition",
      "type": "object"
    },
    "LocalizedString": {
      "type": "object",
      "properties": {
        "token": {
          "type": "string",
          "description": "The token identifying the message, e.g. 'METRIC_READ_CPU'. This should be unique within the service."
        },
        "message": {
          "type": "string",
          "description": "The canonical English version of this message. If no token is provided or the front-end has no message associated with the token, this text will be displayed as-is."
        },
        "args": {
          "type": "object",
          "description": "A map of arguments used when creating the localized message. Keys represent parameter names which may be used by the localized version when substituting dynamic values.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "description": "A message representing a user-facing string whose value may need to be translated before being displayed.",
      "id": "LocalizedString"
    },
    "Metric": {
      "type": "object",
      "properties": {
        "hotValue": {
          "format": "float",
          "description": "The value that is considered hot for the metric. On a per metric basis hotness signals high utilization and something that might potentially be a cause for concern by the end user. hot_value is used to calibrate and scale visual color scales.",
          "type": "number"
        },
        "indexedKeyRangeInfos": {
          "description": "The (sparse) mapping from time interval index to an IndexedKeyRangeInfos message, representing those time intervals for which there are informational messages concerning key ranges.",
          "additionalProperties": {
            "$ref": "IndexedKeyRangeInfos"
          },
          "type": "object"
        },
        "unit": {
          "description": "The unit of the metric.",
          "$ref": "LocalizedString"
        },
        "category": {
          "description": "The category of the metric, e.g. \"Activity\", \"Alerts\", \"Reads\", etc.",
          "$ref": "LocalizedString"
        },
        "matrix": {
          "description": "The data for the metric as a matrix.",
          "$ref": "MetricMatrix"
        },
        "visible": {
          "type": "boolean",
          "description": "Whether the metric is visible to the end user."
        },
        "displayLabel": {
          "description": "The displayed label of the metric.",
          "$ref": "LocalizedString"
        },
        "indexedHotKeys": {
          "description": "The (sparse) mapping from time index to an IndexedHotKey message, representing those time intervals for which there are hot keys.",
          "type": "object",
          "additionalProperties": {
            "$ref": "IndexedHotKey"
          }
        },
        "info": {
          "$ref": "LocalizedString",
          "description": "Information about the metric."
        },
        "hasNonzeroData": {
          "description": "Whether the metric has any non-zero data.",
          "type": "boolean"
        },
        "aggregation": {
          "description": "The aggregation function used to aggregate each key bucket",
          "type": "string",
          "enumDescriptions": [
            "Required default value.",
            "Use the maximum of all values.",
            "Use the sum of all values."
          ],
          "enum": [
            "AGGREGATION_UNSPECIFIED",
            "MAX",
            "SUM"
          ]
        },
        "derived": {
          "$ref": "DerivedMetric",
          "description": "The references to numerator and denominator metrics for a derived metric."
        }
      },
      "id": "Metric",
      "description": "A message representing the actual monitoring data, values for each key bucket over time, of a metric."
    },
    "ChildLink": {
      "type": "object",
      "id": "ChildLink",
      "properties": {
        "type": {
          "description": "The type of the link. For example, in Hash Joins this could be used to distinguish between the build child and the probe child, or in the case of the child being an output variable, to represent the tag associated with the output variable.",
          "type": "string"
        },
        "childIndex": {
          "format": "int32",
          "description": "The node to which the link points.",
          "type": "integer"
        },
        "variable": {
          "type": "string",
          "description": "Only present if the child node is SCALAR and corresponds to an output variable of the parent node. The field carries the name of the output variable. For example, a `TableScan` operator that reads rows from a table will have child links to the `SCALAR` nodes representing the output variables created for each column that is read by the operator. The corresponding `variable` fields will be set to the variable names assigned to the columns."
        }
      },
      "description": "Metadata associated with a parent-child relationship appearing in a PlanNode."
    },
    "ExecuteBatchDmlRequest": {
      "description": "The request for ExecuteBatchDml.",
      "properties": {
        "statements": {
          "items": {
            "$ref": "Statement"
          },
          "type": "array",
          "description": "Required. The list of statements to execute in this batch. Statements are executed serially, such that the effects of statement `i` are visible to statement `i+1`. Each statement must be a DML statement. Execution stops at the first failed statement; the remaining statements are not executed. Callers must provide at least one statement."
        },
        "requestOptions": {
          "$ref": "RequestOptions",
          "description": "Common options for this request."
        },
        "transaction": {
          "description": "Required. The transaction to use. Must be a read-write transaction. To protect against replays, single-use transactions are not supported. The caller must either supply an existing transaction ID or begin a new transaction.",
          "$ref": "TransactionSelector"
        },
        "seqno": {
          "format": "int64",
          "description": "Required. A per-transaction sequence number used to identify this request. This field makes each request idempotent such that if the request is received multiple times, at most one will succeed. The sequence number must be monotonically increasing within the transaction. If a request arrives for the first time with an out-of-order sequence number, the transaction may be aborted. Replays of previously handled requests will yield the same response as the first execution.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ExecuteBatchDmlRequest"
    },
    "Type": {
      "type": "object",
      "id": "Type",
      "description": "`Type` indicates the type of a Cloud Spanner value, as might be stored in a table cell or returned from an SQL query.",
      "properties": {
        "protoTypeFqn": {
          "type": "string",
          "description": "If code == PROTO or code == ENUM, then `proto_type_fqn` is the fully qualified name of the proto type representing the proto/enum definition."
        },
        "code": {
          "description": "Required. The TypeCode for this type.",
          "enumDescriptions": [
            "Not specified.",
            "Encoded as JSON `true` or `false`.",
            "Encoded as `string`, in decimal format.",
            "Encoded as `number`, or the strings `\"NaN\"`, `\"Infinity\"`, or `\"-Infinity\"`.",
            "Encoded as `string` in RFC 3339 timestamp format. The time zone must be present, and must be `\"Z\"`. If the schema has the column option `allow_commit_timestamp=true`, the placeholder string `\"spanner.commit_timestamp()\"` can be used to instruct the system to insert the commit timestamp associated with the transaction commit.",
            "Encoded as `string` in RFC 3339 date format.",
            "Encoded as `string`.",
            "Encoded as a base64-encoded `string`, as described in RFC 4648, section 4.",
            "Encoded as `list`, where the list elements are represented according to array_element_type.",
            "Encoded as `list`, where list element `i` is represented according to [struct_type.fields[i]][google.spanner.v1.StructType.fields].",
            "Encoded as `string`, in decimal format or scientific notation format. Decimal format: `[+-]Digits[.[Digits]]` or `+-.Digits` Scientific notation: `[+-]Digits[.[Digits]][ExponentIndicator[+-]Digits]` or `+-.Digits[ExponentIndicator[+-]Digits]` (ExponentIndicator is `\"e\"` or `\"E\"`)",
            "Encoded as a JSON-formatted `string` as described in RFC 7159. The following rules are applied when parsing JSON input: - Whitespace characters are not preserved. - If a JSON object has duplicate keys, only the first key is preserved. - Members of a JSON object are not guaranteed to have their order preserved. - JSON array elements will have their order preserved.",
            "Encoded as a base64-encoded `string`, as described in RFC 4648, section 4.",
            "Encoded as `string`, in decimal format."
          ],
          "enum": [
            "TYPE_CODE_UNSPECIFIED",
            "BOOL",
            "INT64",
            "FLOAT64",
            "TIMESTAMP",
            "DATE",
            "STRING",
            "BYTES",
            "ARRAY",
            "STRUCT",
            "NUMERIC",
            "JSON",
            "PROTO",
            "ENUM"
          ],
          "type": "string"
        },
        "arrayElementType": {
          "description": "If code == ARRAY, then `array_element_type` is the type of the array elements.",
          "$ref": "Type"
        },
        "structType": {
          "$ref": "StructType",
          "description": "If code == STRUCT, then `struct_type` provides type information for the struct's fields."
        },
        "typeAnnotation": {
          "description": "The TypeAnnotationCode that disambiguates SQL type that Spanner will use to represent values of this type during query processing. This is necessary for some type codes because a single TypeCode can be mapped to different SQL types depending on the SQL dialect. type_annotation typically is not needed to process the content of a value (it doesn't affect serialization) and clients can ignore it on the read path.",
          "enum": [
            "TYPE_ANNOTATION_CODE_UNSPECIFIED",
            "PG_NUMERIC",
            "PG_JSONB"
          ],
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "PostgreSQL compatible NUMERIC type. This annotation needs to be applied to Type instances having NUMERIC type code to specify that values of this type should be treated as PostgreSQL NUMERIC values. Currently this annotation is always needed for NUMERIC when a client interacts with PostgreSQL-enabled Spanner databases.",
            "PostgreSQL compatible JSONB type. This annotation needs to be applied to Type instances having JSON type code to specify that values of this type should be treated as PostgreSQL JSONB values. Currently this annotation is always needed for JSON when a client interacts with PostgreSQL-enabled Spanner databases."
          ]
        }
      }
    },
    "DdlStatementActionInfo": {
      "id": "DdlStatementActionInfo",
      "properties": {
        "entityType": {
          "description": "The entity type for the DDL statement, e.g. TABLE, INDEX, VIEW, etc. This field can be empty string for some DDL statement, e.g. for statement \"ANALYZE\", `entity_type` = \"\".",
          "type": "string"
        },
        "entityNames": {
          "description": "The entity name(s) being operated on the DDL statement. E.g. 1. For statement \"CREATE TABLE t1(...)\", `entity_names` = [\"t1\"]. 2. For statement \"GRANT ROLE r1, r2 ...\", `entity_names` = [\"r1\", \"r2\"]. 3. For statement \"ANALYZE\", `entity_names` = [].",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "action": {
          "type": "string",
          "description": "The action for the DDL statement, e.g. CREATE, ALTER, DROP, GRANT, etc. This field is a non-empty string."
        }
      },
      "type": "object",
      "description": "Action information extracted from a DDL statement. This proto is used to display the brief info of the DDL statement for the operation UpdateDatabaseDdl."
    },
    "UpdateDatabaseMetadata": {
      "id": "UpdateDatabaseMetadata",
      "description": "Metadata type for the operation returned by UpdateDatabase.",
      "properties": {
        "request": {
          "description": "The request for UpdateDatabase.",
          "$ref": "UpdateDatabaseRequest"
        },
        "progress": {
          "$ref": "OperationProgress",
          "description": "The progress of the UpdateDatabase operation."
        },
        "cancelTime": {
          "description": "The time at which this operation was cancelled. If set, this operation is in the process of undoing itself (which is best-effort).",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DiagnosticMessage": {
      "id": "DiagnosticMessage",
      "properties": {
        "metricSpecific": {
          "type": "boolean",
          "description": "Whether this message is specific only for the current metric. By default Diagnostics are shown for all metrics, regardless which metric is the currently selected metric in the UI. However occasionally a metric will generate so many messages that the resulting visual clutter becomes overwhelming. In this case setting this to true, will show the diagnostic messages for that metric only if it is the currently selected metric."
        },
        "severity": {
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "INFO",
            "WARNING",
            "ERROR",
            "FATAL"
          ],
          "enumDescriptions": [
            "Required default value.",
            "Lowest severity level \"Info\".",
            "Middle severity level \"Warning\".",
            "Severity level signaling an error \"Error\"",
            "Severity level signaling a non recoverable error \"Fatal\""
          ],
          "description": "The severity of the diagnostic message."
        },
        "shortMessage": {
          "description": "The short message.",
          "$ref": "LocalizedString"
        },
        "metric": {
          "$ref": "LocalizedString",
          "description": "The metric."
        },
        "info": {
          "$ref": "LocalizedString",
          "description": "Information about this diagnostic information."
        }
      },
      "type": "object",
      "description": "A message representing the key visualizer diagnostic messages."
    },
    "CreateDatabaseRequest": {
      "id": "CreateDatabaseRequest",
      "properties": {
        "createStatement": {
          "description": "Required. A `CREATE DATABASE` statement, which specifies the ID of the new database. The database ID must conform to the regular expression `a-z*[a-z0-9]` and be between 2 and 30 characters in length. If the database ID is a reserved word or if it contains a hyphen, the database ID must be enclosed in backticks (`` ` ``).",
          "type": "string"
        },
        "extraStatements": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of DDL statements to run inside the newly created database. Statements can create tables, indexes, etc. These statements execute atomically with the creation of the database: if there is an error in any statement, the database is not created."
        },
        "databaseDialect": {
          "type": "string",
          "description": "Optional. The dialect of the Cloud Spanner Database.",
          "enumDescriptions": [
            "Default value. This value will create a database with the GOOGLE_STANDARD_SQL dialect.",
            "GoogleSQL supported SQL.",
            "PostgreSQL supported SQL."
          ],
          "enum": [
            "DATABASE_DIALECT_UNSPECIFIED",
            "GOOGLE_STANDARD_SQL",
            "POSTGRESQL"
          ]
        },
        "protoDescriptors": {
          "format": "byte",
          "type": "string",
          "description": "Optional. Proto descriptors used by CREATE/ALTER PROTO BUNDLE statements in 'extra_statements' above. Contains a protobuf-serialized [google.protobuf.FileDescriptorSet](https://github.com/protocolbuffers/protobuf/blob/main/src/google/protobuf/descriptor.proto). To generate it, [install](https://grpc.io/docs/protoc-installation/) and run `protoc` with --include_imports and --descriptor_set_out. For example, to generate for moon/shot/app.proto, run \"\"\" $protoc --proto_path=/app_path --proto_path=/lib_path \\ --include_imports \\ --descriptor_set_out=descriptors.data \\ moon/shot/app.proto \"\"\" For more details, see protobuffer [self description](https://developers.google.com/protocol-buffers/docs/techniques#self-description)."
        },
        "encryptionConfig": {
          "description": "Optional. The encryption configuration for the database. If this field is not specified, Cloud Spanner will encrypt/decrypt all data at rest using Google default encryption.",
          "$ref": "EncryptionConfig"
        }
      },
      "type": "object",
      "description": "The request for CreateDatabase."
    },
    "Transaction": {
      "type": "object",
      "description": "A transaction.",
      "properties": {
        "readTimestamp": {
          "type": "string",
          "format": "google-datetime",
          "description": "For snapshot read-only transactions, the read timestamp chosen for the transaction. Not returned by default: see TransactionOptions.ReadOnly.return_read_timestamp. A timestamp in RFC3339 UTC \\\"Zulu\\\" format, accurate to nanoseconds. Example: `\"2014-10-02T15:01:23.045123456Z\"`."
        },
        "id": {
          "type": "string",
          "format": "byte",
          "description": "`id` may be used to identify the transaction in subsequent Read, ExecuteSql, Commit, or Rollback calls. Single-use read-only transactions do not have IDs, because single-use transactions do not support multiple requests."
        }
      },
      "id": "Transaction"
    },
    "TransactionOptions": {
      "properties": {
        "partitionedDml": {
          "description": "Partitioned DML transaction. Authorization to begin a Partitioned DML transaction requires `spanner.databases.beginPartitionedDmlTransaction` permission on the `session` resource.",
          "$ref": "PartitionedDml"
        },
        "readOnly": {
          "description": "Transaction will not write. Authorization to begin a read-only transaction requires `spanner.databases.beginReadOnlyTransaction` permission on the `session` resource.",
          "$ref": "ReadOnly"
        },
        "readWrite": {
          "$ref": "ReadWrite",
          "description": "Transaction may write. Authorization to begin a read-write transaction requires `spanner.databases.beginOrRollbackReadWriteTransaction` permission on the `session` resource."
        }
      },
      "type": "object",
      "id": "TransactionOptions",
      "description": "Transactions: Each session can have at most one active transaction at a time (note that standalone reads and queries use a transaction internally and do count towards the one transaction limit). After the active transaction is completed, the session can immediately be re-used for the next transaction. It is not necessary to create a new session for each transaction. Transaction modes: Cloud Spanner supports three transaction modes: 1. Locking read-write. This type of transaction is the only way to write data into Cloud Spanner. These transactions rely on pessimistic locking and, if necessary, two-phase commit. Locking read-write transactions may abort, requiring the application to retry. 2. Snapshot read-only. Snapshot read-only transactions provide guaranteed consistency across several reads, but do not allow writes. Snapshot read-only transactions can be configured to read at timestamps in the past, or configured to perform a strong read (where Spanner will select a timestamp such that the read is guaranteed to see the effects of all transactions that have committed before the start of the read). Snapshot read-only transactions do not need to be committed. Queries on change streams must be performed with the snapshot read-only transaction mode, specifying a strong read. Please see TransactionOptions.ReadOnly.strong for more details. 3. Partitioned DML. This type of transaction is used to execute a single Partitioned DML statement. Partitioned DML partitions the key space and runs the DML statement over each partition in parallel using separate, internal transactions that commit independently. Partitioned DML transactions do not need to be committed. For transactions that only read, snapshot read-only transactions provide simpler semantics and are almost always faster. In particular, read-only transactions do not take locks, so they do not conflict with read-write transactions. As a consequence of not taking locks, they also do not abort, so retry loops are not needed. Transactions may only read-write data in a single database. They may, however, read-write data in different tables within that database. Locking read-write transactions: Locking transactions may be used to atomically read-modify-write data anywhere in a database. This type of transaction is externally consistent. Clients should attempt to minimize the amount of time a transaction is active. Faster transactions commit with higher probability and cause less contention. Cloud Spanner attempts to keep read locks active as long as the transaction continues to do reads, and the transaction has not been terminated by Commit or Rollback. Long periods of inactivity at the client may cause Cloud Spanner to release a transaction's locks and abort it. Conceptually, a read-write transaction consists of zero or more reads or SQL statements followed by Commit. At any time before Commit, the client can send a Rollback request to abort the transaction. Semantics: Cloud Spanner can commit the transaction if all read locks it acquired are still valid at commit time, and it is able to acquire write locks for all writes. Cloud Spanner can abort the transaction for any reason. If a commit attempt returns `ABORTED`, Cloud Spanner guarantees that the transaction has not modified any user data in Cloud Spanner. Unless the transaction commits, Cloud Spanner makes no guarantees about how long the transaction's locks were held for. It is an error to use Cloud Spanner locks for any sort of mutual exclusion other than between Cloud Spanner transactions themselves. Retrying aborted transactions: When a transaction aborts, the application can choose to retry the whole transaction again. To maximize the chances of successfully committing the retry, the client should execute the retry in the same session as the original attempt. The original session's lock priority increases with each consecutive abort, meaning that each attempt has a slightly better chance of success than the previous. Under some circumstances (for example, many transactions attempting to modify the same row(s)), a transaction can abort many times in a short period before successfully committing. Thus, it is not a good idea to cap the number of retries a transaction can attempt; instead, it is better to limit the total amount of time spent retrying. Idle transactions: A transaction is considered idle if it has no outstanding reads or SQL queries and has not started a read or SQL query within the last 10 seconds. Idle transactions can be aborted by Cloud Spanner so that they don't hold on to locks indefinitely. If an idle transaction is aborted, the commit will fail with error `ABORTED`. If this behavior is undesirable, periodically executing a simple SQL query in the transaction (for example, `SELECT 1`) prevents the transaction from becoming idle. Snapshot read-only transactions: Snapshot read-only transactions provides a simpler method than locking read-write transactions for doing several consistent reads. However, this type of transaction does not support writes. Snapshot transactions do not take locks. Instead, they work by choosing a Cloud Spanner timestamp, then executing all reads at that timestamp. Since they do not acquire locks, they do not block concurrent read-write transactions. Unlike locking read-write transactions, snapshot read-only transactions never abort. They can fail if the chosen read timestamp is garbage collected; however, the default garbage collection policy is generous enough that most applications do not need to worry about this in practice. Snapshot read-only transactions do not need to call Commit or Rollback (and in fact are not permitted to do so). To execute a snapshot transaction, the client specifies a timestamp bound, which tells Cloud Spanner how to choose a read timestamp. The types of timestamp bound are: - Strong (the default). - Bounded staleness. - Exact staleness. If the Cloud Spanner database to be read is geographically distributed, stale read-only transactions can execute more quickly than strong or read-write transactions, because they are able to execute far from the leader replica. Each type of timestamp bound is discussed in detail below. Strong: Strong reads are guaranteed to see the effects of all transactions that have committed before the start of the read. Furthermore, all rows yielded by a single read are consistent with each other -- if any part of the read observes a transaction, all parts of the read see the transaction. Strong reads are not repeatable: two consecutive strong read-only transactions might return inconsistent results if there are concurrent writes. If consistency across reads is required, the reads should be executed within a transaction or at an exact read timestamp. Queries on change streams (see below for more details) must also specify the strong read timestamp bound. See TransactionOptions.ReadOnly.strong. Exact staleness: These timestamp bounds execute reads at a user-specified timestamp. Reads at a timestamp are guaranteed to see a consistent prefix of the global transaction history: they observe modifications done by all transactions with a commit timestamp less than or equal to the read timestamp, and observe none of the modifications done by transactions with a larger commit timestamp. They will block until all conflicting transactions that may be assigned commit timestamps \u003c= the read timestamp have finished. The timestamp can either be expressed as an absolute Cloud Spanner commit timestamp or a staleness relative to the current time. These modes do not require a \"negotiation phase\" to pick a timestamp. As a result, they execute slightly faster than the equivalent boundedly stale concurrency modes. On the other hand, boundedly stale reads usually return fresher results. See TransactionOptions.ReadOnly.read_timestamp and TransactionOptions.ReadOnly.exact_staleness. Bounded staleness: Bounded staleness modes allow Cloud Spanner to pick the read timestamp, subject to a user-provided staleness bound. Cloud Spanner chooses the newest timestamp within the staleness bound that allows execution of the reads at the closest available replica without blocking. All rows yielded are consistent with each other -- if any part of the read observes a transaction, all parts of the read see the transaction. Boundedly stale reads are not repeatable: two stale reads, even if they use the same staleness bound, can execute at different timestamps and thus return inconsistent results. Boundedly stale reads execute in two phases: the first phase negotiates a timestamp among all replicas needed to serve the read. In the second phase, reads are executed at the negotiated timestamp. As a result of the two phase execution, bounded staleness reads are usually a little slower than comparable exact staleness reads. However, they are typically able to return fresher results, and are more likely to execute at the closest replica. Because the timestamp negotiation requires up-front knowledge of which rows will be read, it can only be used with single-use read-only transactions. See TransactionOptions.ReadOnly.max_staleness and TransactionOptions.ReadOnly.min_read_timestamp. Old read timestamps and garbage collection: Cloud Spanner continuously garbage collects deleted and overwritten data in the background to reclaim storage space. This process is known as \"version GC\". By default, version GC reclaims versions after they are one hour old. Because of this, Cloud Spanner cannot perform reads at read timestamps more than one hour in the past. This restriction also applies to in-progress reads and/or SQL queries whose timestamp become too old while executing. Reads and SQL queries with too-old read timestamps fail with the error `FAILED_PRECONDITION`. You can configure and extend the `VERSION_RETENTION_PERIOD` of a database up to a period as long as one week, which allows Cloud Spanner to perform reads up to one week in the past. Querying change Streams: A Change Stream is a schema object that can be configured to watch data changes on the entire database, a set of tables, or a set of columns in a database. When a change stream is created, Spanner automatically defines a corresponding SQL Table-Valued Function (TVF) that can be used to query the change records in the associated change stream using the ExecuteStreamingSql API. The name of the TVF for a change stream is generated from the name of the change stream: READ_. All queries on change stream TVFs must be executed using the ExecuteStreamingSql API with a single-use read-only transaction with a strong read-only timestamp_bound. The change stream TVF allows users to specify the start_timestamp and end_timestamp for the time range of interest. All change records within the retention period is accessible using the strong read-only timestamp_bound. All other TransactionOptions are invalid for change stream queries. In addition, if TransactionOptions.read_only.return_read_timestamp is set to true, a special value of 2^63 - 2 will be returned in the Transaction message that describes the transaction, instead of a valid read timestamp. This special value should be discarded and not used for any subsequent queries. Please see https://cloud.google.com/spanner/docs/change-streams for more details on how to query the change stream TVFs. Partitioned DML transactions: Partitioned DML transactions are used to execute DML statements with a different execution strategy that provides different, and often better, scalability properties for large, table-wide operations than DML in a ReadWrite transaction. Smaller scoped statements, such as an OLTP workload, should prefer using ReadWrite transactions. Partitioned DML partitions the keyspace and runs the DML statement on each partition in separate, internal transactions. These transactions commit automatically when complete, and run independently from one another. To reduce lock contention, this execution strategy only acquires read locks on rows that match the WHERE clause of the statement. Additionally, the smaller per-partition transactions hold locks for less time. That said, Partitioned DML is not a drop-in replacement for standard DML used in ReadWrite transactions. - The DML statement must be fully-partitionable. Specifically, the statement must be expressible as the union of many statements which each access only a single row of the table. - The statement is not applied atomically to all rows of the table. Rather, the statement is applied atomically to partitions of the table, in independent transactions. Secondary index rows are updated atomically with the base table rows. - Partitioned DML does not guarantee exactly-once execution semantics against a partition. The statement will be applied at least once to each partition. It is strongly recommended that the DML statement should be idempotent to avoid unexpected results. For instance, it is potentially dangerous to run a statement such as `UPDATE table SET column = column + 1` as it could be run multiple times against some rows. - The partitions are committed automatically - there is no support for Commit or Rollback. If the call returns an error, or if the client issuing the ExecuteSql call dies, it is possible that some rows had the statement executed on them successfully. It is also possible that statement was never executed against other rows. - Partitioned DML transactions may only contain the execution of a single DML statement via ExecuteSql or ExecuteStreamingSql. - If any error is encountered during the execution of the partitioned DML operation (for instance, a UNIQUE INDEX violation, division by zero, or a value that cannot be stored due to schema constraints), then the operation is stopped at that point and an error is returned. It is possible that at this point, some partitions have been committed (or even committed multiple times), and other partitions have not been run at all. Given the above, Partitioned DML is good fit for large, database-wide, operations that are idempotent, such as deleting old rows from a very large table."
    },
    "UpdateInstanceConfigRequest": {
      "id": "UpdateInstanceConfigRequest",
      "properties": {
        "instanceConfig": {
          "$ref": "InstanceConfig",
          "description": "Required. The user instance config to update, which must always include the instance config name. Otherwise, only fields mentioned in update_mask need be included. To prevent conflicts of concurrent updates, etag can be used."
        },
        "validateOnly": {
          "type": "boolean",
          "description": "An option to validate, but not actually execute, a request, and provide the same response."
        },
        "updateMask": {
          "format": "google-fieldmask",
          "description": "Required. A mask specifying which fields in InstanceConfig should be updated. The field mask must always be specified; this prevents any future fields in InstanceConfig from being erased accidentally by clients that do not know about them. Only display_name and labels can be updated.",
          "type": "string"
        }
      },
      "description": "The request for UpdateInstanceConfigRequest.",
      "type": "object"
    },
    "ListInstanceConfigOperationsResponse": {
      "type": "object",
      "properties": {
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          },
          "description": "The list of matching instance config long-running operations. Each operation's name will be prefixed by the instance config's name. The operation's metadata field type `metadata.type_url` describes the type of the metadata."
        },
        "nextPageToken": {
          "description": "`next_page_token` can be sent in a subsequent ListInstanceConfigOperations call to fetch more of the matching metadata.",
          "type": "string"
        }
      },
      "id": "ListInstanceConfigOperationsResponse",
      "description": "The response for ListInstanceConfigOperations."
    },
    "TestIamPermissionsRequest": {
      "properties": {
        "permissions": {
          "type": "array",
          "description": "REQUIRED: The set of permissions to check for 'resource'. Permissions with wildcards (such as '*', 'spanner.*', 'spanner.instances.*') are not allowed.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "TestIamPermissionsRequest",
      "description": "Request message for `TestIamPermissions` method."
    },
    "Policy": {
      "properties": {
        "etag": {
          "type": "string",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "format": "byte"
        },
        "bindings": {
          "type": "array",
          "items": {
            "$ref": "Binding"
          },
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
        },
        "version": {
          "format": "int32",
          "type": "integer",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        }
      },
      "id": "Policy",
      "type": "object",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } **YAML example:** bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
    },
    "QueryOptions": {
      "properties": {
        "optimizerStatisticsPackage": {
          "type": "string",
          "description": "An option to control the selection of optimizer statistics package. This parameter allows individual queries to use a different query optimizer statistics package. Specifying `latest` as a value instructs Cloud Spanner to use the latest generated statistics package. If not specified, Cloud Spanner uses the statistics package set at the database level options, or the latest package if the database option is not set. The statistics package requested by the query has to be exempt from garbage collection. This can be achieved with the following DDL statement: ``` ALTER STATISTICS SET OPTIONS (allow_gc=false) ``` The list of available statistics packages can be queried from `INFORMATION_SCHEMA.SPANNER_STATISTICS`. Executing a SQL statement with an invalid optimizer statistics package or with a statistics package that allows garbage collection fails with an `INVALID_ARGUMENT` error."
        },
        "optimizerVersion": {
          "type": "string",
          "description": "An option to control the selection of optimizer version. This parameter allows individual queries to pick different query optimizer versions. Specifying `latest` as a value instructs Cloud Spanner to use the latest supported query optimizer version. If not specified, Cloud Spanner uses the optimizer version set at the database level options. Any other positive integer (from the list of supported optimizer versions) overrides the default optimizer version for query execution. The list of supported optimizer versions can be queried from SPANNER_SYS.SUPPORTED_OPTIMIZER_VERSIONS. Executing a SQL statement with an invalid optimizer version fails with an `INVALID_ARGUMENT` error. See https://cloud.google.com/spanner/docs/query-optimizer/manage-query-optimizer for more information on managing the query optimizer. The `optimizer_version` statement hint has precedence over this setting."
        }
      },
      "description": "Query optimizer configuration.",
      "id": "QueryOptions",
      "type": "object"
    },
    "ListInstanceConfigsResponse": {
      "description": "The response for ListInstanceConfigs.",
      "properties": {
        "nextPageToken": {
          "description": "`next_page_token` can be sent in a subsequent ListInstanceConfigs call to fetch more of the matching instance configurations.",
          "type": "string"
        },
        "instanceConfigs": {
          "description": "The list of requested instance configurations.",
          "items": {
            "$ref": "InstanceConfig"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "ListInstanceConfigsResponse"
    },
    "RollbackRequest": {
      "id": "RollbackRequest",
      "type": "object",
      "description": "The request for Rollback.",
      "properties": {
        "transactionId": {
          "description": "Required. The transaction to roll back.",
          "format": "byte",
          "type": "string"
        }
      }
    },
    "FreeInstanceMetadata": {
      "description": "Free instance specific metadata that is kept even after an instance has been upgraded for tracking purposes.",
      "type": "object",
      "id": "FreeInstanceMetadata",
      "properties": {
        "upgradeTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. If present, the timestamp at which the free instance was upgraded to a provisioned instance."
        },
        "expireTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp after which the instance will either be upgraded or scheduled for deletion after a grace period. ExpireBehavior is used to choose between upgrading or scheduling the free instance for deletion. This timestamp is set during the creation of a free instance."
        },
        "expireBehavior": {
          "enumDescriptions": [
            "Not specified.",
            "When the free instance expires, upgrade the instance to a provisioned instance.",
            "When the free instance expires, disable the instance, and delete it after the grace period passes if it has not been upgraded."
          ],
          "enum": [
            "EXPIRE_BEHAVIOR_UNSPECIFIED",
            "FREE_TO_PROVISIONED",
            "REMOVE_AFTER_GRACE_PERIOD"
          ],
          "description": "Specifies the expiration behavior of a free instance. The default of ExpireBehavior is `REMOVE_AFTER_GRACE_PERIOD`. This can be modified during or after creation, and before expiration.",
          "type": "string"
        }
      }
    },
    "BeginTransactionRequest": {
      "properties": {
        "requestOptions": {
          "$ref": "RequestOptions",
          "description": "Common options for this request. Priority is ignored for this request. Setting the priority in this request_options struct will not do anything. To set the priority for a transaction, set it on the reads and writes that are part of this transaction instead."
        },
        "options": {
          "$ref": "TransactionOptions",
          "description": "Required. Options for the new transaction."
        }
      },
      "id": "BeginTransactionRequest",
      "type": "object",
      "description": "The request for BeginTransaction."
    },
    "CreateInstanceConfigRequest": {
      "id": "CreateInstanceConfigRequest",
      "type": "object",
      "properties": {
        "instanceConfig": {
          "$ref": "InstanceConfig",
          "description": "Required. The InstanceConfig proto of the configuration to create. instance_config.name must be `/instanceConfigs/`. instance_config.base_config must be a Google managed configuration name, e.g. /instanceConfigs/us-east1, /instanceConfigs/nam3."
        },
        "instanceConfigId": {
          "type": "string",
          "description": "Required. The ID of the instance config to create. Valid identifiers are of the form `custom-[-a-z0-9]*[a-z0-9]` and must be between 2 and 64 characters in length. The `custom-` prefix is required to avoid name conflicts with Google managed configurations."
        },
        "validateOnly": {
          "description": "An option to validate, but not actually execute, a request, and provide the same response.",
          "type": "boolean"
        }
      },
      "description": "The request for CreateInstanceConfigRequest."
    },
    "StructType": {
      "id": "StructType",
      "type": "object",
      "properties": {
        "fields": {
          "type": "array",
          "description": "The list of fields that make up this struct. Order is significant, because values of this struct type are represented as lists, where the order of field values matches the order of fields in the StructType. In turn, the order of fields matches the order of columns in a read request, or the order of fields in the `SELECT` clause of a query.",
          "items": {
            "$ref": "Field"
          }
        }
      },
      "description": "`StructType` defines the fields of a STRUCT type."
    },
    "CreateBackupMetadata": {
      "type": "object",
      "description": "Metadata type for the operation returned by CreateBackup.",
      "properties": {
        "cancelTime": {
          "type": "string",
[...]
