{
  "id": "sqladmin:v1beta4",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/sqlservice.admin": {
          "description": "Manage your Google SQL Service instances"
        }
      }
    }
  },
  "baseUrl": "https://sqladmin.googleapis.com/",
  "description": "API for Cloud SQL database instance management",
  "ownerDomain": "google.com",
  "basePath": "",
  "kind": "discovery#restDescription",
  "rootUrl": "https://sqladmin.googleapis.com/",
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "canonicalName": "SQL Admin",
  "servicePath": "",
  "version": "v1beta4",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "protocol": "rest",
  "ownerName": "Google",
  "documentationLink": "https://developers.google.com/cloud-sql/",
  "discoveryVersion": "v1",
  "revision": "20230607",
  "resources": {
    "backupRuns": {
      "methods": {
        "list": {
          "parameterOrder": [
            "project",
            "instance"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/backupRuns",
          "httpMethod": "GET",
          "response": {
            "$ref": "BackupRunsListResponse"
          },
          "description": "Lists all backup runs associated with the project or a given instance and configuration in the reverse chronological order of the backup initiation time.",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/backupRuns",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "A previously-returned page token representing part of the larger set of results to view.",
              "type": "string"
            },
            "project": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Project ID of the project that contains the instance."
            },
            "maxResults": {
              "format": "int32",
              "description": "Maximum number of backup runs per response.",
              "location": "query",
              "type": "integer"
            },
            "instance": {
              "location": "path",
              "description": "Cloud SQL instance ID, or \"-\" for all instances. This does not include the project ID.",
              "type": "string",
              "required": true
            }
          },
          "id": "sql.backupRuns.list"
        },
        "get": {
          "id": "sql.backupRuns.get",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/backupRuns/{id}",
          "parameterOrder": [
            "project",
            "instance",
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "project": {
              "required": true,
              "type": "string",
              "description": "Project ID of the project that contains the instance.",
              "location": "path"
            },
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "id": {
              "required": true,
              "format": "int64",
              "type": "string",
              "location": "path",
              "description": "The ID of this backup run."
            }
          },
          "response": {
            "$ref": "BackupRun"
          },
          "description": "Retrieves a resource containing information about a backup run.",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/backupRuns/{id}",
          "httpMethod": "GET"
        },
        "delete": {
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/backupRuns/{id}",
          "id": "sql.backupRuns.delete",
          "parameters": {
            "project": {
              "location": "path",
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string"
            },
            "id": {
              "format": "int64",
              "type": "string",
              "required": true,
              "description": "The ID of the backup run to delete. To find a backup run ID, use the [list](https://cloud.google.com/sql/docs/mysql/admin-api/rest/v1beta4/backupRuns/list) method.",
              "location": "path"
            },
            "instance": {
              "location": "path",
              "type": "string",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/backupRuns/{id}",
          "httpMethod": "DELETE",
          "description": "Deletes the backup taken by a backup run.",
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project",
            "instance",
            "id"
          ]
        },
        "insert": {
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/backupRuns",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "project": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Project ID of the project that contains the instance."
            },
            "instance": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID."
            }
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/backupRuns",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "description": "Creates a new backup run on demand.",
          "request": {
            "$ref": "BackupRun"
          },
          "httpMethod": "POST",
          "id": "sql.backupRuns.insert"
        }
      }
    },
    "operations": {
      "methods": {
        "cancel": {
          "flatPath": "sql/v1beta4/projects/{project}/operations/{operation}/cancel",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameterOrder": [
            "project",
            "operation"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "Empty"
          },
          "description": "Cancels an instance operation that has been performed on an instance.",
          "id": "sql.operations.cancel",
          "path": "sql/v1beta4/projects/{project}/operations/{operation}/cancel",
          "parameters": {
            "project": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Project ID of the project that contains the instance."
            },
            "operation": {
              "description": "Instance operation ID.",
              "location": "path",
              "type": "string",
              "required": true
            }
          }
        },
        "get": {
          "flatPath": "sql/v1beta4/projects/{project}/operations/{operation}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "GET",
          "description": "Retrieves an instance operation that has been performed on an instance.",
          "path": "sql/v1beta4/projects/{project}/operations/{operation}",
          "parameterOrder": [
            "project",
            "operation"
          ],
          "id": "sql.operations.get",
          "parameters": {
            "project": {
              "required": true,
              "location": "path",
              "description": "Project ID of the project that contains the instance.",
              "type": "string"
            },
            "operation": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Instance operation ID."
            }
          }
        },
        "list": {
          "path": "sql/v1beta4/projects/{project}/operations",
          "response": {
            "$ref": "OperationsListResponse"
          },
          "parameterOrder": [
            "project"
          ],
          "id": "sql.operations.list",
          "parameters": {
            "project": {
              "required": true,
              "location": "path",
              "description": "Project ID of the project that contains the instance.",
              "type": "string"
            },
            "pageToken": {
              "description": "A previously-returned page token representing part of the larger set of results to view.",
              "type": "string",
              "location": "query"
            },
            "instance": {
              "location": "query",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string"
            },
            "maxResults": {
              "format": "uint32",
              "description": "Maximum number of operations per response.",
              "type": "integer",
              "location": "query"
            }
          },
          "httpMethod": "GET",
          "flatPath": "sql/v1beta4/projects/{project}/operations",
          "description": "Lists all instance operations that have been performed on the given Cloud SQL instance in the reverse chronological order of the start time.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        }
      }
    },
    "instances": {
      "methods": {
        "reencrypt": {
          "request": {
            "$ref": "InstancesReencryptRequest"
          },
          "parameters": {
            "project": {
              "type": "string",
              "description": "ID of the project that contains the instance.",
              "required": true,
              "location": "path"
            },
            "instance": {
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string",
              "required": true
            }
          },
          "description": "Reencrypt CMEK instance with latest key version.",
          "response": {
            "$ref": "Operation"
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/reencrypt",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/reencrypt",
          "id": "sql.instances.reencrypt",
          "httpMethod": "POST",
          "parameterOrder": [
            "project",
            "instance"
          ]
        },
        "import": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/import",
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "request": {
            "$ref": "InstancesImportRequest"
          },
          "parameters": {
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "project": {
              "type": "string",
              "required": true,
              "description": "Project ID of the project that contains the instance.",
              "location": "path"
            }
          },
          "id": "sql.instances.import",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/import",
          "description": "Imports data into a Cloud SQL instance from a SQL dump or CSV file in Cloud Storage."
        },
        "update": {
          "description": "Updates settings of a Cloud SQL instance. Using this operation might cause your instance to restart.",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "id": "sql.instances.update",
          "parameters": {
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}",
          "httpMethod": "PUT",
          "request": {
            "$ref": "DatabaseInstance"
          },
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}"
        },
        "failover": {
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/failover",
          "id": "sql.instances.failover",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/failover",
          "request": {
            "$ref": "InstancesFailoverRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "httpMethod": "POST",
          "parameters": {
            "project": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "ID of the project that contains the read replica."
            },
            "instance": {
              "location": "path",
              "type": "string",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true
            }
          },
          "response": {
            "$ref": "Operation"
          },
          "description": "Initiates a manual failover of a high availability (HA) primary instance to a standby instance, which becomes the primary instance. Users are then rerouted to the new primary. For more information, see the [Overview of high availability](https://cloud.google.com/sql/docs/mysql/high-availability) page in the Cloud SQL documentation. If using Legacy HA (MySQL only), this causes the instance to failover to its failover replica instance.",
          "parameterOrder": [
            "project",
            "instance"
          ]
        },
        "listServerCas": {
          "httpMethod": "GET",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/listServerCas",
          "id": "sql.instances.listServerCas",
          "parameters": {
            "instance": {
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "type": "string"
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "description": "Lists all of the trusted Certificate Authorities (CAs) for the specified instance. There can be up to three CAs listed: the CA that was used to sign the certificate that is currently in use, a CA that has been added but not yet used to sign a certificate, and a CA used to sign a certificate that has previously rotated out.",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "response": {
            "$ref": "InstancesListServerCasResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/listServerCas"
        },
        "stopReplica": {
          "id": "sql.instances.stopReplica",
          "description": "Stops the replication in the read replica instance.",
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/stopReplica",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/stopReplica",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "httpMethod": "POST",
          "parameters": {
            "instance": {
              "type": "string",
              "description": "Cloud SQL read replica instance name.",
              "location": "path",
              "required": true
            },
            "project": {
              "description": "ID of the project that contains the read replica.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          }
        },
        "truncateLog": {
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "project": {
              "required": true,
              "description": "Project ID of the Cloud SQL project.",
              "location": "path",
              "type": "string"
            },
            "instance": {
              "location": "path",
              "type": "string",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true
            }
          },
          "description": "Truncate MySQL general and slow query log tables MySQL only.",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/truncateLog",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/truncateLog",
          "id": "sql.instances.truncateLog",
          "request": {
            "$ref": "InstancesTruncateLogRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "httpMethod": "POST"
        },
        "addServerCa": {
          "description": "Add a new trusted Certificate Authority (CA) version for the specified instance. Required to prepare for a certificate rotation. If a CA version was previously added but never used in a certificate rotation, this operation replaces that version. There cannot be more than one CA version waiting to be rotated in.",
          "id": "sql.instances.addServerCa",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/addServerCa",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/addServerCa",
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "httpMethod": "POST",
          "parameters": {
            "project": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Project ID of the project that contains the instance."
            },
            "instance": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Cloud SQL instance ID. This does not include the project ID."
            }
          }
        },
        "demoteMaster": {
          "httpMethod": "POST",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/demoteMaster",
          "request": {
            "$ref": "InstancesDemoteMasterRequest"
          },
          "id": "sql.instances.demoteMaster",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/demoteMaster",
          "description": "Demotes the stand-alone instance to be a Cloud SQL read replica for an external database server.",
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "project": {
              "location": "path",
              "type": "string",
              "description": "ID of the project that contains the instance.",
              "required": true
            },
            "instance": {
              "required": true,
              "location": "path",
              "description": "Cloud SQL instance name.",
              "type": "string"
            }
          }
        },
        "resetSslConfig": {
          "response": {
            "$ref": "Operation"
          },
          "description": "Deletes all client certificates and generates a new server SSL certificate for the instance.",
          "id": "sql.instances.resetSslConfig",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/resetSslConfig",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameterOrder": [
            "project",
            "instance"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/resetSslConfig",
          "parameters": {
            "project": {
              "required": true,
              "description": "Project ID of the project that contains the instance.",
              "type": "string",
              "location": "path"
            },
            "instance": {
              "type": "string",
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path"
            }
          }
        },
        "get": {
          "response": {
            "$ref": "DatabaseInstance"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "description": "Retrieves a resource containing information about a Cloud SQL instance.",
          "id": "sql.instances.get",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}",
          "httpMethod": "GET",
          "parameters": {
            "instance": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Database instance ID. This does not include the project ID."
            },
            "project": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Project ID of the project that contains the instance."
            }
          }
        },
        "list": {
          "response": {
            "$ref": "InstancesListResponse"
          },
          "parameters": {
            "filter": {
              "type": "string",
              "description": "A filter expression that filters resources listed in the response. The expression is in the form of field:value. For example, 'instanceType:CLOUD_SQL_INSTANCE'. Fields can be nested as needed as per their JSON representation, such as 'settings.userLabels.auto_start:true'. Multiple filter queries are space-separated. For example. 'state:RUNNABLE instanceType:CLOUD_SQL_INSTANCE'. By default, each expression is an AND expression. However, you can include AND and OR expressions explicitly.",
              "location": "query"
            },
            "maxResults": {
              "location": "query",
              "type": "integer",
              "description": "The maximum number of instances to return. The service may return fewer than this value. If unspecified, at most 500 instances are returned. The maximum value is 1000; values above 1000 are coerced to 1000.",
              "format": "uint32"
            },
            "project": {
              "location": "path",
              "type": "string",
              "description": "Project ID of the project for which to list Cloud SQL instances.",
              "required": true
            },
            "pageToken": {
              "location": "query",
              "description": "A previously-returned page token representing part of the larger set of results to view.",
              "type": "string"
            }
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances",
          "httpMethod": "GET",
          "parameterOrder": [
            "project"
          ],
          "path": "sql/v1beta4/projects/{project}/instances",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Lists instances under a given project.",
          "id": "sql.instances.list"
        },
        "patch": {
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}",
          "id": "sql.instances.patch",
          "description": "Partially updates settings of a Cloud SQL instance by merging the request with the current configuration. This method supports patch semantics.",
          "httpMethod": "PATCH",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}",
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "project": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Project ID of the project that contains the instance."
            },
            "instance": {
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string",
              "required": true
            }
          },
          "request": {
            "$ref": "DatabaseInstance"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "insert": {
          "parameters": {
            "project": {
              "description": "Project ID of the project to which the newly created Cloud SQL instances should belong.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "description": "Creates a new Cloud SQL instance.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameterOrder": [
            "project"
          ],
          "response": {
            "$ref": "Operation"
          },
          "path": "sql/v1beta4/projects/{project}/instances",
          "id": "sql.instances.insert",
          "flatPath": "sql/v1beta4/projects/{project}/instances",
          "httpMethod": "POST",
          "request": {
            "$ref": "DatabaseInstance"
          }
        },
        "promoteReplica": {
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/promoteReplica",
          "response": {
            "$ref": "Operation"
          },
          "description": "Promotes the read replica instance to be a stand-alone Cloud SQL instance. Using this operation might cause your instance to restart.",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/promoteReplica",
          "id": "sql.instances.promoteReplica",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "instance": {
              "required": true,
              "type": "string",
              "description": "Cloud SQL read replica instance name.",
              "location": "path"
            },
            "project": {
              "type": "string",
              "description": "ID of the project that contains the read replica.",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "httpMethod": "POST"
        },
        "delete": {
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "instance": {
              "required": true,
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string"
            },
            "project": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Project ID of the project that contains the instance to be deleted."
            }
          },
          "httpMethod": "DELETE",
          "description": "Deletes a Cloud SQL instance.",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "id": "sql.instances.delete",
          "response": {
            "$ref": "Operation"
          }
        },
        "restoreBackup": {
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/restoreBackup",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "instance": {
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "type": "string"
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "description": "Restores a backup of a Cloud SQL instance. Using this operation might cause your instance to restart.",
          "request": {
            "$ref": "InstancesRestoreBackupRequest"
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "Operation"
          },
          "id": "sql.instances.restoreBackup",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/restoreBackup"
        },
        "restart": {
          "parameters": {
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "project": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Project ID of the project that contains the instance to be restarted."
            }
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/restart",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "httpMethod": "POST",
          "id": "sql.instances.restart",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/restart",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "response": {
            "$ref": "Operation"
          },
          "description": "Restarts a Cloud SQL instance."
        },
        "rotateServerCa": {
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/rotateServerCa",
          "request": {
            "$ref": "InstancesRotateServerCaRequest"
          },
          "description": "Rotates the server certificate to one signed by the Certificate Authority (CA) version previously added with the addServerCA method.",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/rotateServerCa",
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "instance": {
              "type": "string",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "location": "path"
            },
            "project": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Project ID of the project that contains the instance."
            }
          },
          "id": "sql.instances.rotateServerCa",
          "httpMethod": "POST"
        },
        "export": {
          "parameters": {
            "instance": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID."
            },
            "project": {
              "required": true,
              "type": "string",
              "description": "Project ID of the project that contains the instance to be exported.",
              "location": "path"
            }
          },
          "response": {
            "$ref": "Operation"
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/export",
          "id": "sql.instances.export",
          "httpMethod": "POST",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "request": {
            "$ref": "InstancesExportRequest"
          },
          "description": "Exports data from a Cloud SQL instance to a Cloud Storage bucket as a SQL dump or CSV file.",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/export",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "clone": {
          "httpMethod": "POST",
          "parameters": {
            "instance": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the Cloud SQL instance to be cloned (source). This does not include the project ID."
            },
            "project": {
              "type": "string",
              "description": "Project ID of the source as well as the clone Cloud SQL instance.",
              "location": "path",
              "required": true
            }
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/clone",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/clone",
          "description": "Creates a Cloud SQL instance as a clone of the source instance. Using this operation might cause your instance to restart.",
          "id": "sql.instances.clone",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "request": {
            "$ref": "InstancesCloneRequest"
          }
        },
        "startReplica": {
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/startReplica",
          "response": {
            "$ref": "Operation"
          },
          "id": "sql.instances.startReplica",
          "parameters": {
            "instance": {
              "type": "string",
              "location": "path",
              "description": "Cloud SQL read replica instance name.",
              "required": true
            },
            "project": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "ID of the project that contains the read replica."
            }
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/startReplica",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "httpMethod": "POST",
          "description": "Starts the replication in the read replica instance.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        }
      }
    },
    "connect": {
      "methods": {
        "generateEphemeralCert": {
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}:generateEphemeralCert",
          "parameters": {
            "instance": {
              "type": "string",
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path"
            },
            "project": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Project ID of the project that contains the instance."
            }
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "request": {
            "$ref": "GenerateEphemeralCertRequest"
          },
          "id": "sql.connect.generateEphemeral",
          "description": "Generates a short-lived X509 certificate containing the provided public key and signed by a private key specific to the target instance. Users may use the certificate to authenticate as themselves when connecting to the database.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}:generateEphemeralCert",
          "httpMethod": "POST",
          "response": {
            "$ref": "GenerateEphemeralCertResponse"
          }
        },
        "get": {
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/connectSettings",
          "response": {
            "$ref": "ConnectSettings"
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/connectSettings",
          "parameters": {
            "instance": {
              "type": "string",
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path"
            },
            "readTime": {
              "format": "google-datetime",
              "type": "string",
              "location": "query",
              "description": "Optional. Optional snapshot read timestamp to trade freshness for performance."
            },
            "project": {
              "required": true,
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "type": "string"
            }
          },
          "description": "Retrieves connect settings about a Cloud SQL instance.",
          "id": "sql.connect.get",
          "parameterOrder": [
            "project",
            "instance"
          ]
        }
      }
    },
    "tiers": {
      "methods": {
        "list": {
          "path": "sql/v1beta4/projects/{project}/tiers",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.tiers.list",
          "response": {
            "$ref": "TiersListResponse"
          },
          "description": "Lists all available machine types (tiers) for Cloud SQL, for example, `db-custom-1-3840`. For related information, see [Pricing](/sql/pricing).",
          "flatPath": "sql/v1beta4/projects/{project}/tiers",
          "parameters": {
            "project": {
              "type": "string",
              "location": "path",
              "description": "Project ID of the project for which to list tiers.",
              "required": true
            }
          },
          "parameterOrder": [
            "project"
          ],
          "httpMethod": "GET"
        }
      }
    },
    "users": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameterOrder": [
            "project",
            "instance",
            "name"
          ],
          "httpMethod": "GET",
          "id": "sql.users.get",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/users/{name}",
          "response": {
            "$ref": "User"
          },
          "parameters": {
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "instance": {
              "required": true,
              "description": "Database instance ID. This does not include the project ID.",
              "location": "path",
              "type": "string"
            },
            "host": {
              "description": "Host of a user of the instance.",
              "location": "query",
              "type": "string"
            },
            "name": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "User of the instance."
            }
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/users/{name}",
          "description": "Retrieves a resource containing information about a user."
        },
        "list": {
          "parameters": {
            "instance": {
              "location": "path",
              "type": "string",
              "description": "Database instance ID. This does not include the project ID.",
              "required": true
            },
            "project": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Project ID of the project that contains the instance."
            }
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/users",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/users",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "description": "Lists users in the specified Cloud SQL instance.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.users.list",
          "httpMethod": "GET",
          "response": {
            "$ref": "UsersListResponse"
          }
        },
        "delete": {
          "httpMethod": "DELETE",
          "id": "sql.users.delete",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/users",
          "parameters": {
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "host": {
              "location": "query",
              "type": "string",
              "description": "Host of the user in the instance."
            },
            "name": {
              "location": "query",
              "type": "string",
              "description": "Name of the user in the instance."
            },
            "instance": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Database instance ID. This does not include the project ID."
            }
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/users",
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Deletes a user from a Cloud SQL instance."
        },
        "insert": {
          "parameterOrder": [
            "project",
            "instance"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/users",
          "description": "Creates a new user in a Cloud SQL instance.",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/users",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "Operation"
          },
          "id": "sql.users.insert",
          "parameters": {
            "project": {
              "required": true,
              "description": "Project ID of the project that contains the instance.",
              "type": "string",
              "location": "path"
            },
            "instance": {
              "required": true,
              "description": "Database instance ID. This does not include the project ID.",
              "type": "string",
              "location": "path"
            }
          },
          "request": {
            "$ref": "User"
          }
        },
        "update": {
          "request": {
            "$ref": "User"
          },
          "description": "Updates an existing user in a Cloud SQL instance.",
          "response": {
            "$ref": "Operation"
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/users",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/users",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "instance": {
              "location": "path",
              "required": true,
              "description": "Database instance ID. This does not include the project ID.",
              "type": "string"
            },
            "host": {
              "description": "Optional. Host of the user in the instance.",
              "location": "query",
              "type": "string"
            },
            "project": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Project ID of the project that contains the instance."
            },
            "name": {
              "description": "Name of the user in the instance.",
              "type": "string",
              "location": "query"
            }
          },
          "id": "sql.users.update"
        }
      }
    },
    "projects": {
      "resources": {
        "instances": {
          "methods": {
            "verifyExternalSyncSettings": {
              "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/verifyExternalSyncSettings",
              "response": {
                "$ref": "SqlInstancesVerifyExternalSyncSettingsResponse"
              },
              "description": "Verify External primary instance external sync settings.",
              "parameters": {
                "instance": {
                  "location": "path",
                  "description": "Cloud SQL instance ID. This does not include the project ID.",
                  "type": "string",
                  "required": true
                },
                "project": {
                  "description": "Project ID of the project that contains the instance.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sqlservice.admin"
              ],
              "path": "sql/v1beta4/projects/{project}/instances/{instance}/verifyExternalSyncSettings",
              "id": "sql.projects.instances.verifyExternalSyncSettings",
              "request": {
                "$ref": "SqlInstancesVerifyExternalSyncSettingsRequest"
              },
              "parameterOrder": [
                "project",
                "instance"
              ]
            },
            "performDiskShrink": {
              "response": {
                "$ref": "Operation"
              },
              "httpMethod": "POST",
              "parameters": {
                "project": {
                  "required": true,
                  "description": "Project ID of the project that contains the instance.",
                  "location": "path",
                  "type": "string"
                },
                "instance": {
                  "location": "path",
                  "type": "string",
                  "description": "Cloud SQL instance ID. This does not include the project ID.",
                  "required": true
                }
              },
              "path": "sql/v1beta4/projects/{project}/instances/{instance}/performDiskShrink",
              "parameterOrder": [
                "project",
                "instance"
              ],
              "id": "sql.projects.instances.performDiskShrink",
              "request": {
                "$ref": "PerformDiskShrinkContext"
              },
              "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/performDiskShrink",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sqlservice.admin"
              ],
              "description": "Perform Disk Shrink on primary instance."
            },
            "getDiskShrinkConfig": {
              "parameters": {
                "instance": {
                  "required": true,
                  "description": "Cloud SQL instance ID. This does not include the project ID.",
                  "location": "path",
                  "type": "string"
                },
                "project": {
                  "description": "Project ID of the project that contains the instance.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "response": {
                "$ref": "SqlInstancesGetDiskShrinkConfigResponse"
              },
              "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/getDiskShrinkConfig",
              "description": "Get Disk Shrink Config for a given instance.",
              "path": "sql/v1beta4/projects/{project}/instances/{instance}/getDiskShrinkConfig",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sqlservice.admin"
              ],
              "id": "sql.projects.instances.getDiskShrinkConfig",
              "parameterOrder": [
                "project",
                "instance"
              ]
            },
            "resetReplicaSize": {
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sqlservice.admin"
              ],
              "path": "sql/v1beta4/projects/{project}/instances/{instance}/resetReplicaSize",
              "description": "Reset Replica Size to primary instance disk size.",
              "response": {
                "$ref": "Operation"
              },
              "id": "sql.projects.instances.resetReplicaSize",
              "request": {
                "$ref": "SqlInstancesResetReplicaSizeRequest"
              },
              "parameterOrder": [
                "project",
                "instance"
              ],
              "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/resetReplicaSize",
              "parameters": {
                "instance": {
                  "type": "string",
                  "required": true,
                  "description": "Cloud SQL read replica instance name.",
                  "location": "path"
                },
                "project": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "ID of the project that contains the read replica."
                }
              }
            },
            "startExternalSync": {
              "description": "Start External primary instance migration.",
              "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/startExternalSync",
              "request": {
                "$ref": "SqlInstancesStartExternalSyncRequest"
              },
              "parameterOrder": [
                "project",
                "instance"
              ],
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sqlservice.admin"
              ],
              "path": "sql/v1beta4/projects/{project}/instances/{instance}/startExternalSync",
              "parameters": {
                "project": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "ID of the project that contains the instance."
                },
                "instance": {
                  "required": true,
                  "description": "Cloud SQL instance ID. This does not include the project ID.",
                  "location": "path",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Operation"
              },
              "id": "sql.projects.instances.startExternalSync"
            },
            "rescheduleMaintenance": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sqlservice.admin"
              ],
              "id": "sql.projects.instances.rescheduleMaintenance",
              "parameters": {
                "instance": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Cloud SQL instance ID. This does not include the project ID."
                },
                "project": {
                  "required": true,
                  "location": "path",
                  "description": "ID of the project that contains the instance.",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "SqlInstancesRescheduleMaintenanceRequestBody"
              },
              "response": {
                "$ref": "Operation"
              },
              "path": "sql/v1beta4/projects/{project}/instances/{instance}/rescheduleMaintenance",
              "description": "Reschedules the maintenance on the given instance.",
              "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/rescheduleMaintenance",
              "parameterOrder": [
                "project",
                "instance"
              ],
              "httpMethod": "POST"
            }
          }
        }
      }
    },
    "databases": {
      "methods": {
        "delete": {
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/databases/{database}",
          "description": "Deletes a database from a Cloud SQL instance.",
          "parameters": {
            "database": {
              "type": "string",
              "description": "Name of the database to be deleted in the instance.",
              "required": true,
              "location": "path"
            },
            "instance": {
              "required": true,
              "location": "path",
              "description": "Database instance ID. This does not include the project ID.",
              "type": "string"
            },
            "project": {
              "required": true,
              "type": "string",
              "description": "Project ID of the project that contains the instance.",
              "location": "path"
            }
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/databases/{database}",
          "parameterOrder": [
            "project",
            "instance",
            "database"
          ],
          "response": {
            "$ref": "Operation"
          },
          "id": "sql.databases.delete"
        },
        "get": {
          "parameters": {
            "database": {
              "description": "Name of the database in the instance.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "project": {
              "required": true,
              "description": "Project ID of the project that contains the instance.",
              "type": "string",
              "location": "path"
            },
            "instance": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Database instance ID. This does not include the project ID."
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "project",
            "instance",
            "database"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/databases/{database}",
          "description": "Retrieves a resource containing information about a database inside a Cloud SQL instance.",
          "id": "sql.databases.get",
          "response": {
            "$ref": "Database"
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/databases/{database}"
        },
        "list": {
          "response": {
            "$ref": "DatabasesListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameterOrder": [
            "project",
            "instance"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/databases",
          "description": "Lists databases in the specified Cloud SQL instance.",
          "httpMethod": "GET",
          "id": "sql.databases.list",
          "parameters": {
            "project": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Project ID of the project that contains the instance."
            },
            "instance": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID."
            }
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/databases"
        },
        "insert": {
          "parameterOrder": [
            "project",
            "instance"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/databases",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/databases",
          "request": {
            "$ref": "Database"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.databases.insert",
          "description": "Inserts a resource containing information about a database inside a Cloud SQL instance. **Note:** You can't modify the default character set and collation.",
          "parameters": {
            "project": {
              "location": "path",
              "required": true,
              "description": "Project ID of the project that contains the instance.",
              "type": "string"
            },
            "instance": {
              "location": "path",
              "type": "string",
              "description": "Database instance ID. This does not include the project ID.",
              "required": true
            }
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "Operation"
          }
        },
        "update": {
          "parameterOrder": [
            "project",
            "instance",
            "database"
          ],
          "id": "sql.databases.update",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/databases/{database}",
          "httpMethod": "PUT",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/databases/{database}",
          "request": {
            "$ref": "Database"
          },
          "parameters": {
            "project": {
              "required": true,
              "location": "path",
              "description": "Project ID of the project that contains the instance.",
              "type": "string"
            },
            "database": {
              "description": "Name of the database to be updated in the instance.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "instance": {
              "type": "string",
              "description": "Database instance ID. This does not include the project ID.",
              "required": true,
              "location": "path"
            }
          },
          "response": {
            "$ref": "Operation"
          },
          "description": "Updates a resource containing information about a database inside a Cloud SQL instance."
        },
        "patch": {
          "httpMethod": "PATCH",
          "description": "Partially updates a resource containing information about a database inside a Cloud SQL instance. This method supports patch semantics.",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/databases/{database}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "response": {
            "$ref": "Operation"
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/databases/{database}",
          "request": {
            "$ref": "Database"
          },
          "parameterOrder": [
            "project",
            "instance",
            "database"
          ],
          "id": "sql.databases.patch",
          "parameters": {
            "project": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Project ID of the project that contains the instance."
            },
            "instance": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Database instance ID. This does not include the project ID."
            },
            "database": {
              "description": "Name of the database to be updated in the instance.",
              "type": "string",
              "location": "path",
              "required": true
            }
          }
        }
      }
    },
    "sslCerts": {
      "methods": {
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/sslCerts",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "request": {
            "$ref": "SslCertsInsertRequest"
          },
          "response": {
            "$ref": "SslCertsInsertResponse"
          },
          "httpMethod": "POST",
          "id": "sql.sslCerts.insert",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/sslCerts",
          "parameters": {
            "instance": {
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "type": "string"
            },
            "project": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Project ID of the project that contains the instance."
            }
          },
          "description": "Creates an SSL certificate and returns it along with the private key and server certificate authority. The new certificate will not be usable until the instance is restarted."
        },
        "createEphemeral": {
          "request": {
            "$ref": "SslCertsCreateEphemeralRequest"
          },
          "parameters": {
            "project": {
              "location": "path",
              "type": "string",
              "description": "Project ID of the Cloud SQL project.",
              "required": true
            },
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "response": {
            "$ref": "SslCert"
          },
          "httpMethod": "POST",
          "id": "sql.sslCerts.createEphemeral",
          "description": "Generates a short-lived X509 certificate containing the provided public key and signed by a private key specific to the target instance. Users may use the certificate to authenticate as themselves when connecting to the database.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/createEphemeral",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/createEphemeral"
        },
        "list": {
          "response": {
            "$ref": "SslCertsListResponse"
          },
          "parameters": {
            "instance": {
              "type": "string",
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path"
            },
            "project": {
              "type": "string",
              "location": "path",
              "description": "Project ID of the project that contains the instance.",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "httpMethod": "GET",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/sslCerts",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "id": "sql.sslCerts.list",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/sslCerts",
          "description": "Lists all of the current SSL certificates for the instance."
        },
        "get": {
          "response": {
            "$ref": "SslCert"
          },
          "parameterOrder": [
            "project",
            "instance",
            "sha1Fingerprint"
          ],
          "parameters": {
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "instance": {
              "type": "string",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "required": true
            },
            "sha1Fingerprint": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Sha1 FingerPrint."
            }
          },
          "id": "sql.sslCerts.get",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/sslCerts/{sha1Fingerprint}",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/sslCerts/{sha1Fingerprint}",
          "description": "Retrieves a particular SSL certificate. Does not include the private key (required for usage). The private key must be saved from the response to initial creation."
        },
        "delete": {
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/sslCerts/{sha1Fingerprint}",
          "id": "sql.sslCerts.delete",
          "description": "Deletes the SSL certificate. For First Generation instances, the certificate remains valid until the instance is restarted.",
          "parameters": {
            "sha1Fingerprint": {
              "required": true,
              "location": "path",
              "description": "Sha1 FingerPrint.",
              "type": "string"
            },
            "project": {
              "location": "path",
              "type": "string",
              "description": "Project ID of the project that contains the instance.",
              "required": true
            },
            "instance": {
              "type": "string",
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true
            }
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/sslCerts/{sha1Fingerprint}",
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project",
            "instance",
            "sha1Fingerprint"
          ],
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        }
      }
    },
    "flags": {
      "methods": {
        "list": {
          "id": "sql.flags.list",
          "response": {
            "$ref": "FlagsListResponse"
          },
          "httpMethod": "GET",
          "flatPath": "sql/v1beta4/flags",
          "parameterOrder": [],
          "parameters": {
            "databaseVersion": {
              "description": "Database type and version you want to retrieve flags for. By default, this method returns flags for all database types and versions.",
              "type": "string",
              "location": "query"
            }
          },
          "path": "sql/v1beta4/flags",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Lists all available database flags for Cloud SQL instances."
        }
      }
    }
  },
  "title": "Cloud SQL Admin API",
  "mtlsRootUrl": "https://sqladmin.mtls.googleapis.com/",
  "name": "sqladmin",
  "schemas": {
    "InsightsConfig": {
      "type": "object",
      "id": "InsightsConfig",
      "properties": {
        "queryPlansPerMinute": {
          "description": "Number of query execution plans captured by Insights per minute for all queries combined. Default is 5.",
          "type": "integer",
          "format": "int32"
        },
        "queryStringLength": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum query length stored in bytes. Default value: 1024 bytes. Range: 256-4500 bytes. Query length more than this field value will be truncated to this value. When unset, query length will be the default value. Changing query length will restart the database."
        },
        "queryInsightsEnabled": {
          "description": "Whether Query Insights feature is enabled.",
          "type": "boolean"
        },
        "recordApplicationTags": {
          "description": "Whether Query Insights will record application tags from query when enabled.",
          "type": "boolean"
        },
        "recordClientAddress": {
          "description": "Whether Query Insights will record client address when enabled.",
          "type": "boolean"
        }
      },
      "description": "Insights configuration. This specifies when Cloud SQL Insights feature is enabled and optional configuration."
    },
    "InstancesListResponse": {
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "DatabaseInstance"
          },
          "description": "List of database instance resources."
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#instancesList`."
        },
        "warnings": {
          "items": {
            "$ref": "ApiWarning"
          },
          "description": "List of warnings that occurred while handling the request.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results."
        }
      },
      "description": "Database instances list response.",
      "id": "InstancesListResponse"
    },
    "BinLogCoordinates": {
      "id": "BinLogCoordinates",
      "description": "Binary log coordinates.",
      "type": "object",
      "properties": {
        "binLogFileName": {
          "description": "Name of the binary log file for a Cloud SQL instance.",
          "type": "string"
        },
        "kind": {
          "description": "This is always `sql#binLogCoordinates`.",
          "type": "string"
        },
        "binLogPosition": {
          "type": "string",
          "description": "Position (offset) within the binary log file.",
          "format": "int64"
        }
      }
    },
    "GenerateEphemeralCertResponse": {
      "type": "object",
      "description": "Ephemeral certificate creation request.",
      "properties": {
        "ephemeralCert": {
          "description": "Generated cert",
          "$ref": "SslCert"
        }
      },
      "id": "GenerateEphemeralCertResponse"
    },
    "DatabaseFlags": {
      "id": "DatabaseFlags",
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "description": "The value of the flag. Boolean flags are set to `on` for true and `off` for false. This field must be omitted if the flag doesn't take a value."
        },
        "name": {
          "description": "The name of the flag. These flags are passed at instance startup, so include both server options and system variables. Flags are specified with underscores, not hyphens. For more information, see [Configuring Database Flags](https://cloud.google.com/sql/docs/mysql/flags) in the Cloud SQL documentation.",
          "type": "string"
        }
      },
      "description": "Database flags for Cloud SQL instances."
    },
    "CloneContext": {
      "description": "Database instance clone context.",
      "type": "object",
      "id": "CloneContext",
      "properties": {
        "pointInTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Timestamp, if specified, identifies the time to which the source instance is cloned."
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#cloneContext`."
        },
        "pitrTimestampMs": {
          "format": "int64",
          "type": "string",
          "description": "Reserved for future use."
        },
        "binLogCoordinates": {
          "description": "Binary log coordinates, if specified, identify the position up to which the source instance is cloned. If not specified, the source instance is cloned up to the most recent binary log coordinates.",
          "$ref": "BinLogCoordinates"
        },
        "allocatedIpRange": {
          "description": "The name of the allocated ip range for the private ip Cloud SQL instance. For example: \"google-managed-services-default\". If set, the cloned instance ip will be created in the allocated range. The range name must comply with [RFC 1035](https://tools.ietf.org/html/rfc1035). Specifically, the name must be 1-63 characters long and match the regular expression [a-z]([-a-z0-9]*[a-z0-9])?. Reserved for future use.",
          "type": "string"
        },
        "databaseNames": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "(SQL Server only) Clone only the specified databases from the source instance. Clone all databases if empty."
        },
        "destinationInstanceName": {
          "description": "Name of the Cloud SQL instance to be created as a clone.",
          "type": "string"
        }
      }
    },
    "SqlInstancesRescheduleMaintenanceRequestBody": {
      "id": "SqlInstancesRescheduleMaintenanceRequestBody",
      "description": "Reschedule options for maintenance windows.",
      "type": "object",
      "properties": {
        "reschedule": {
          "$ref": "Reschedule",
          "description": "Required. The type of the reschedule the user wants."
        }
      }
    },
    "MySqlSyncConfig": {
      "description": "MySQL-specific external server sync settings.",
      "id": "MySqlSyncConfig",
      "properties": {
        "initialSyncFlags": {
          "type": "array",
          "items": {
            "$ref": "SyncFlags"
          },
          "description": "Flags to use for the initial dump."
        }
      },
      "type": "object"
    },
    "IpMapping": {
      "properties": {
        "ipAddress": {
          "type": "string",
          "description": "The IP address assigned."
        },
        "type": {
          "enumDescriptions": [
            "This is an unknown IP address type.",
            "IP address the customer is supposed to connect to. Usually this is the load balancer's IP address",
            "Source IP address of the connection a read replica establishes to its external primary instance. This IP address can be allowlisted by the customer in case it has a firewall that filters incoming connection to its on premises primary instance.",
            "Private IP used when using private IPs and network peering.",
            "V1 IP of a migrated instance. We want the user to decommission this IP as soon as the migration is complete. Note: V1 instances with V1 ip addresses will be counted as PRIMARY."
          ],
          "enum": [
            "SQL_IP_ADDRESS_TYPE_UNSPECIFIED",
            "PRIMARY",
            "OUTGOING",
            "PRIVATE",
            "MIGRATED_1ST_GEN"
          ],
          "type": "string",
          "description": "The type of this IP address. A `PRIMARY` address is a public address that can accept incoming connections. A `PRIVATE` address is a private address that can accept incoming connections. An `OUTGOING` address is the source address of connections originating from the instance, if supported."
        },
        "timeToRetire": {
          "type": "string",
          "description": "The due time for this IP to be retired in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`. This field is only available when the IP is scheduled to be retired.",
          "format": "google-datetime"
        }
      },
      "description": "Database instance IP Mapping.",
      "id": "IpMapping",
      "type": "object"
    },
    "InstancesListServerCasResponse": {
      "properties": {
        "activeVersion": {
          "type": "string"
        },
        "certs": {
          "items": {
            "$ref": "SslCert"
          },
          "description": "List of server CA certificates for the instance.",
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#instancesListServerCas`."
        }
      },
      "type": "object",
      "description": "Instances ListServerCas response.",
      "id": "InstancesListServerCasResponse"
    },
    "Operation": {
      "description": "An Operation resource. For successful operations that return an Operation resource, only the fields relevant to the operation are populated in the resource.",
      "type": "object",
      "properties": {
        "targetLink": {
          "type": "string"
        },
        "insertTime": {
          "type": "string",
          "description": "The time this operation was enqueued in UTC timezone in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "format": "google-datetime"
        },
        "targetProject": {
          "description": "The project ID of the target instance related to this operation.",
          "type": "string"
        },
        "user": {
          "description": "The email address of the user who initiated this operation.",
          "type": "string"
        },
        "error": {
          "description": "If errors occurred during processing of this operation, this field will be populated.",
          "$ref": "OperationErrors"
        },
        "selfLink": {
          "type": "string",
          "description": "The URI of this resource."
        },
        "status": {
          "type": "string",
          "description": "The status of an operation.",
          "enumDescriptions": [
            "The state of the operation is unknown.",
            "The operation has been queued, but has not started yet.",
            "The operation is running.",
            "The operation completed."
          ],
          "enum": [
            "SQL_OPERATION_STATUS_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "DONE"
          ]
        },
        "name": {
          "description": "An identifier that uniquely identifies the operation. You can use this identifier to retrieve the Operations resource that has information about the operation.",
          "type": "string"
        },
        "operationType": {
          "type": "string",
          "enumDescriptions": [
            "Unknown operation type.",
            "Imports data into a Cloud SQL instance.",
            "Exports data from a Cloud SQL instance to a Cloud Storage bucket.",
            "Creates a new Cloud SQL instance.",
            "Updates the settings of a Cloud SQL instance.",
            "Deletes a Cloud SQL instance.",
            "Restarts the Cloud SQL instance.",
            "",
            "",
            "Performs instance backup.",
            "Deletes an instance backup.",
            "Restores an instance backup.",
            "Injects a privileged user in mysql for MOB instances.",
            "Clones a Cloud SQL instance.",
            "Stops replication on a Cloud SQL read replica instance.",
            "Starts replication on a Cloud SQL read replica instance.",
            "Promotes a Cloud SQL replica instance.",
            "Creates a Cloud SQL replica instance.",
            "Creates a new user in a Cloud SQL instance.",
            "Deletes a user from a Cloud SQL instance.",
            "Updates an existing user in a Cloud SQL instance.",
            "Creates a database in the Cloud SQL instance.",
            "Deletes a database in the Cloud SQL instance.",
            "Updates a database in the Cloud SQL instance.",
            "Performs failover of an HA-enabled Cloud SQL failover replica.",
            "Deletes the backup taken by a backup run.",
            "",
            "Truncates a general or slow log table in MySQL.",
            "Demotes the stand-alone instance to be a Cloud SQL read replica for an external database server.",
            "Indicates that the instance is currently in maintenance. Maintenance typically causes the instance to be unavailable for 1-3 minutes.",
            "This field is deprecated, and will be removed in future version of API.",
            "",
            "Creates clone instance.",
            "Reschedule maintenance to another time.",
            "Starts external sync of a Cloud SQL EM replica to an external primary instance.",
            "Recovers logs from an instance's old data disk.",
            "Performs auto-restart of an HA-enabled Cloud SQL database for auto recovery.",
            "Re-encrypts CMEK instances with latest key version.",
            "Switches over to replica instance from primary."
          ],
          "description": "The type of the operation. Valid values are: * `CREATE` * `DELETE` * `UPDATE` * `RESTART` * `IMPORT` * `EXPORT` * `BACKUP_VOLUME` * `RESTORE_VOLUME` * `CREATE_USER` * `DELETE_USER` * `CREATE_DATABASE` * `DELETE_DATABASE`",
          "enum": [
            "SQL_OPERATION_TYPE_UNSPECIFIED",
            "IMPORT",
            "EXPORT",
            "CREATE",
            "UPDATE",
            "DELETE",
            "RESTART",
            "BACKUP",
            "SNAPSHOT",
            "BACKUP_VOLUME",
            "DELETE_VOLUME",
            "RESTORE_VOLUME",
            "INJECT_USER",
            "CLONE",
            "STOP_REPLICA",
            "START_REPLICA",
            "PROMOTE_REPLICA",
            "CREATE_REPLICA",
            "CREATE_USER",
            "DELETE_USER",
            "UPDATE_USER",
            "CREATE_DATABASE",
            "DELETE_DATABASE",
            "UPDATE_DATABASE",
            "FAILOVER",
            "DELETE_BACKUP",
            "RECREATE_REPLICA",
            "TRUNCATE_LOG",
            "DEMOTE_MASTER",
            "MAINTENANCE",
            "ENABLE_PRIVATE_IP",
            "DEFER_MAINTENANCE",
            "CREATE_CLONE",
            "RESCHEDULE_MAINTENANCE",
            "START_EXTERNAL_SYNC",
            "LOG_CLEANUP",
            "AUTO_RESTART",
            "REENCRYPT",
            "SWITCHOVER"
          ]
        },
        "importContext": {
          "description": "The context for import operation, if applicable.",
          "$ref": "ImportContext"
        },
        "kind": {
          "description": "This is always `sql#operation`.",
          "type": "string"
        },
        "targetId": {
          "type": "string",
          "description": "Name of the database instance related to this operation."
        },
        "backupContext": {
          "$ref": "BackupContext",
          "description": "The context for backup operation, if applicable."
        },
        "startTime": {
          "type": "string",
          "description": "The time this operation actually started in UTC timezone in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "format": "google-datetime"
        },
        "endTime": {
          "type": "string",
          "description": "The time this operation finished in UTC timezone in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "format": "google-datetime"
        },
        "exportContext": {
          "$ref": "ExportContext",
          "description": "The context for export operation, if applicable."
        }
      },
      "id": "Operation"
    },
    "InstancesFailoverRequest": {
      "id": "InstancesFailoverRequest",
      "description": "Instance failover request.",
      "type": "object",
      "properties": {
        "failoverContext": {
          "$ref": "FailoverContext",
          "description": "Failover Context."
        }
      }
    },
    "InstancesReencryptRequest": {
      "type": "object",
      "id": "InstancesReencryptRequest",
      "description": "Database Instance reencrypt request.",
      "properties": {
        "backupReencryptionConfig": {
          "description": "Configuration specific to backup re-encryption",
          "$ref": "BackupReencryptionConfig"
        }
      }
    },
    "SslCert": {
      "id": "SslCert",
      "type": "object",
      "properties": {
        "commonName": {
          "description": "User supplied name. Constrained to [a-zA-Z.-_ ]+.",
          "type": "string"
        },
        "cert": {
          "type": "string",
          "description": "PEM representation."
        },
        "expirationTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time when the certificate expires in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`."
        },
        "instance": {
          "type": "string",
          "description": "Name of the database instance."
        },
        "sha1Fingerprint": {
          "type": "string",
          "description": "Sha1 Fingerprint."
        },
        "certSerialNumber": {
          "description": "Serial number, as extracted from the certificate.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time when the certificate was created in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`."
        },
        "selfLink": {
          "description": "The URI of this resource.",
          "type": "string"
        },
        "kind": {
          "description": "This is always `sql#sslCert`.",
          "type": "string"
        }
      },
      "description": "SslCerts Resource"
    },
    "BackupRun": {
      "id": "BackupRun",
      "description": "A BackupRun resource.",
      "type": "object",
      "properties": {
        "instance": {
          "description": "Name of the database instance.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#backupRun`."
        },
        "location": {
          "description": "Location of the backups.",
          "type": "string"
        },
        "type": {
          "description": "The type of this run; can be either \"AUTOMATED\" or \"ON_DEMAND\" or \"FINAL\". This field defaults to \"ON_DEMAND\" and is ignored, when specified for insert requests.",
          "enum": [
            "SQL_BACKUP_RUN_TYPE_UNSPECIFIED",
            "AUTOMATED",
            "ON_DEMAND"
          ],
          "enumDescriptions": [
            "This is an unknown BackupRun type.",
            "The backup schedule automatically triggers a backup.",
            "The user manually triggers a backup."
          ],
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the backup operation completed in UTC timezone in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`."
        },
        "enqueuedTime": {
          "format": "google-datetime",
          "description": "The time the run was enqueued in UTC timezone in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "type": "string"
        },
        "startTime": {
          "description": "The time the backup operation actually started in UTC timezone in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "type": "string",
          "format": "google-datetime"
        },
        "status": {
          "type": "string",
          "enum": [
            "SQL_BACKUP_RUN_STATUS_UNSPECIFIED",
            "ENQUEUED",
            "OVERDUE",
            "RUNNING",
            "FAILED",
            "SUCCESSFUL",
            "SKIPPED",
            "DELETION_PENDING",
            "DELETION_FAILED",
            "DELETED"
          ],
          "enumDescriptions": [
            "The status of the run is unknown.",
            "The backup operation was enqueued.",
            "The backup is overdue across a given backup window. Indicates a problem. Example: Long-running operation in progress during the whole window.",
            "The backup is in progress.",
            "The backup failed.",
            "The backup was successful.",
            "The backup was skipped (without problems) for a given backup window. Example: Instance was idle.",
            "The backup is about to be deleted.",
            "The backup deletion failed.",
            "The backup has been deleted."
          ],
          "description": "The status of this run."
        },
        "timeZone": {
          "description": "Backup time zone to prevent restores to an instance with a different time zone. Now relevant only for SQL Server.",
          "type": "string"
        },
        "description": {
          "description": "The description of this run, only applicable to on-demand backups.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The identifier for this backup run. Unique only for a specific Cloud SQL instance.",
          "format": "int64"
        },
        "selfLink": {
          "description": "The URI of this resource.",
          "type": "string"
        },
        "backupKind": {
          "description": "Specifies the kind of backup, PHYSICAL or DEFAULT_SNAPSHOT.",
          "enum": [
            "SQL_BACKUP_KIND_UNSPECIFIED",
            "SNAPSHOT",
            "PHYSICAL"
          ],
          "enumDescriptions": [
            "This is an unknown BackupKind.",
            "The snapshot based backups",
            "Physical backups"
          ],
          "type": "string"
        },
        "windowStartTime": {
          "type": "string",
          "description": "The start time of the backup window during which this the backup was attempted in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "format": "google-datetime"
        },
        "diskEncryptionConfiguration": {
          "$ref": "DiskEncryptionConfiguration",
          "description": "Encryption configuration specific to a backup."
        },
        "error": {
          "description": "Information about why the backup operation failed. This is only present if the run has the FAILED status.",
          "$ref": "OperationError"
        },
        "diskEncryptionStatus": {
          "description": "Encryption status specific to a backup.",
          "$ref": "DiskEncryptionStatus"
        }
      }
    },
    "DenyMaintenancePeriod": {
      "description": "Deny Maintenance Periods. This specifies a date range during when all CSA rollout will be denied.",
      "id": "DenyMaintenancePeriod",
      "properties": {
        "endDate": {
          "type": "string",
[...]
