{
  "ownerDomain": "google.com",
  "title": "Cloud SQL Admin API",
  "baseUrl": "https://sqladmin.googleapis.com/",
  "kind": "discovery#restDescription",
  "version": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/sqlservice.admin": {
          "description": "Manage your Google SQL Service instances"
        }
      }
    }
  },
  "ownerName": "Google",
  "basePath": "",
  "revision": "20210913",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "protocol": "rest",
  "name": "sqladmin",
  "servicePath": "",
  "rootUrl": "https://sqladmin.googleapis.com/",
  "schemas": {
    "InstancesExportRequest": {
      "description": "Database instance export request.",
      "properties": {
        "exportContext": {
          "description": "Contains details about the export operation.",
          "$ref": "ExportContext"
        }
      },
      "type": "object",
      "id": "InstancesExportRequest"
    },
    "InstancesCloneRequest": {
      "description": "Database instance clone request.",
      "type": "object",
      "id": "InstancesCloneRequest",
      "properties": {
        "cloneContext": {
          "description": "Contains details about the clone operation.",
          "$ref": "CloneContext"
        }
      }
    },
    "InstancesRestoreBackupRequest": {
      "description": "Database instance restore backup request.",
      "properties": {
        "restoreBackupContext": {
          "description": "Parameters required to perform the restore backup operation.",
          "$ref": "RestoreBackupContext"
        }
      },
      "type": "object",
      "id": "InstancesRestoreBackupRequest"
    },
    "MySqlSyncConfig": {
      "id": "MySqlSyncConfig",
      "type": "object",
      "description": "MySQL-specific external server sync settings.",
      "properties": {
        "initialSyncFlags": {
          "items": {
            "$ref": "SyncFlags"
          },
          "description": "Flags to use for the initial dump.",
          "type": "array"
        }
      }
    },
    "DiskEncryptionConfiguration": {
      "id": "DiskEncryptionConfiguration",
      "type": "object",
      "properties": {
        "kmsKeyName": {
          "type": "string",
          "description": "Resource name of KMS key for disk encryption"
        },
        "kind": {
          "type": "string",
          "description": "This is always **sql#diskEncryptionConfiguration**."
        }
      },
      "description": "Disk encryption configuration for an instance."
    },
    "BackupContext": {
      "properties": {
        "kind": {
          "description": "This is always **sql#backupContext**.",
          "type": "string"
        },
        "backupId": {
          "format": "int64",
          "type": "string",
          "description": "The identifier of the backup."
        }
      },
      "description": "Backup context.",
      "id": "BackupContext",
      "type": "object"
    },
    "IpConfiguration": {
      "type": "object",
      "description": "IP Management configuration.",
      "id": "IpConfiguration",
      "properties": {
        "requireSsl": {
          "type": "boolean",
          "description": "Whether SSL connections over IP are enforced or not."
        },
        "ipv4Enabled": {
          "type": "boolean",
          "description": "Whether the instance is assigned a public IP address or not."
        },
        "authorizedNetworks": {
          "description": "The list of external networks that are allowed to connect to the instance using the IP. In 'CIDR' notation, also known as 'slash' notation (for example: **192.168.100.0/24**).",
          "type": "array",
          "items": {
            "$ref": "AclEntry"
          }
        },
        "allocatedIpRange": {
          "description": "The name of the allocated ip range for the private ip CloudSQL instance. For example: \"google-managed-services-default\". If set, the instance ip will be created in the allocated range. The range name must comply with [RFC 1035](https://tools.ietf.org/html/rfc1035). Specifically, the name must be 1-63 characters long and match the regular expression `[a-z]([-a-z0-9]*[a-z0-9])?.` Reserved for future use.",
          "type": "string"
        },
        "privateNetwork": {
          "type": "string",
          "description": "The resource link for the VPC network from which the Cloud SQL instance is accessible for private IP. For example, **/projects/myProject/global/networks/default**. This setting can be updated, but it cannot be removed after it is set."
        }
      }
    },
    "SslCertDetail": {
      "id": "SslCertDetail",
      "description": "SslCertDetail.",
      "properties": {
        "certPrivateKey": {
          "type": "string",
          "description": "The private key for the client cert, in pem format. Keep private in order to protect your security."
        },
        "certInfo": {
          "$ref": "SslCert",
          "description": "The public information about the cert."
        }
      },
      "type": "object"
    },
    "OnPremisesConfiguration": {
      "id": "OnPremisesConfiguration",
      "description": "On-premises instance configuration.",
      "properties": {
        "caCertificate": {
          "type": "string",
          "description": "PEM representation of the trusted CA's x509 certificate."
        },
        "kind": {
          "type": "string",
          "description": "This is always *sql#onPremisesConfiguration*."
        },
        "clientCertificate": {
          "type": "string",
          "description": "PEM representation of the replica's x509 certificate."
        },
        "sourceInstance": {
          "$ref": "InstanceReference",
          "description": "The reference to Cloud SQL instance if the source is Cloud SQL."
        },
        "clientKey": {
          "type": "string",
          "description": "PEM representation of the replica's private key. The corresponsing public key is encoded in the client's certificate."
        },
        "dumpFilePath": {
          "description": "The dump file to create the Cloud SQL replica.",
          "type": "string"
        },
        "username": {
          "description": "The username for connecting to on-premises instance.",
          "type": "string"
        },
        "password": {
          "type": "string",
          "description": "The password for connecting to on-premises instance."
        },
        "hostPort": {
          "type": "string",
          "description": "The host and port of the on-premises instance in host:port format"
        }
      },
      "type": "object"
    },
    "InsightsConfig": {
      "id": "InsightsConfig",
      "properties": {
        "queryStringLength": {
          "type": "integer",
          "description": "Maximum query length stored in bytes. Default value: 1024 bytes. Range: 256-4500 bytes. Query length more than this field value will be truncated to this value. When unset, query length will be the default value. Changing query length will restart the database.",
          "format": "int32"
        },
        "recordApplicationTags": {
          "type": "boolean",
          "description": "Whether Query Insights will record application tags from query when enabled."
        },
        "queryPlansPerMinute": {
          "description": "Number of query execution plans captured by Insights per minute for all queries combined. Default is 5.",
          "type": "integer",
          "format": "int32"
        },
        "queryInsightsEnabled": {
          "description": "Whether Query Insights feature is enabled.",
          "type": "boolean"
        },
        "recordClientAddress": {
          "description": "Whether Query Insights will record client address when enabled.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Insights configuration. This specifies when Cloud SQL Insights feature is enabled and optional configuration."
    },
    "AclEntry": {
      "type": "object",
      "id": "AclEntry",
      "description": "An entry for an Access Control list.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Optional. A label to identify this entry."
        },
        "kind": {
          "type": "string",
          "description": "This is always **sql#aclEntry**."
        },
        "value": {
          "description": "The allowlisted value for the access control list.",
          "type": "string"
        },
        "expirationTime": {
          "description": "The time when this access control entry expires in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example **2012-11-15T16:19:00.094Z**.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "SqlServerUserDetails": {
      "description": "Represents a Sql Server user on the Cloud SQL instance.",
      "type": "object",
      "id": "SqlServerUserDetails",
      "properties": {
        "disabled": {
          "description": "If the user has been disabled",
          "type": "boolean"
        },
        "serverRoles": {
          "description": "The server roles for this user",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "MySqlReplicaConfiguration": {
      "id": "MySqlReplicaConfiguration",
      "description": "Read-replica configuration specific to MySQL databases.",
      "properties": {
        "username": {
          "type": "string",
          "description": "The username for the replication connection."
        },
        "password": {
          "type": "string",
          "description": "The password for the replication connection."
        },
        "caCertificate": {
          "description": "PEM representation of the trusted CA's x509 certificate.",
          "type": "string"
        },
        "dumpFilePath": {
          "description": "Path to a SQL dump file in Google Cloud Storage from which the replica instance is to be created. The URI is in the form gs://bucketName/fileName. Compressed gzip files (.gz) are also supported. Dumps have the binlog co-ordinates from which replication begins. This can be accomplished by setting --master-data to 1 when using mysqldump.",
          "type": "string"
        },
        "verifyServerCertificate": {
          "description": "Whether or not to check the primary instance's Common Name value in the certificate that it sends during the SSL handshake.",
          "type": "boolean"
        },
        "sslCipher": {
          "type": "string",
          "description": "A list of permissible ciphers to use for SSL encryption."
        },
        "kind": {
          "description": "This is always **sql#mysqlReplicaConfiguration**.",
          "type": "string"
        },
        "clientKey": {
          "description": "PEM representation of the replica's private key. The corresponsing public key is encoded in the client's certificate.",
          "type": "string"
        },
        "clientCertificate": {
          "description": "PEM representation of the replica's x509 certificate.",
          "type": "string"
        },
        "connectRetryInterval": {
          "format": "int32",
          "type": "integer",
          "description": "Seconds to wait between connect retries. MySQL's default is 60 seconds."
        },
        "masterHeartbeatPeriod": {
          "format": "int64",
          "description": "Interval in milliseconds between replication heartbeats.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ReplicaConfiguration": {
      "description": "Read-replica configuration for connecting to the primary instance.",
      "id": "ReplicaConfiguration",
      "type": "object",
      "properties": {
        "failoverTarget": {
          "type": "boolean",
          "description": "Specifies if the replica is the failover target. If the field is set to *true* the replica will be designated as a failover replica. In case the primary instance fails, the replica instance will be promoted as the new primary instance. Only one replica can be specified as failover target, and the replica has to be in different zone with the primary instance."
        },
        "kind": {
          "description": "This is always *sql#replicaConfiguration*.",
          "type": "string"
        },
        "mysqlReplicaConfiguration": {
          "$ref": "MySqlReplicaConfiguration",
          "description": "MySQL specific configuration when replicating from a MySQL on-premises primary instance. Replication configuration information such as the username, password, certificates, and keys are not stored in the instance metadata. The configuration information is used only to set up the replication connection and is stored by MySQL in a file named **master.info** in the data directory."
        }
      }
    },
    "SslCertsInsertResponse": {
      "description": "SslCert insert response.",
      "properties": {
        "clientCert": {
          "$ref": "SslCertDetail",
          "description": "The new client certificate and private key."
        },
        "operation": {
          "$ref": "Operation",
          "description": "The operation to track the ssl certs insert request."
        },
        "kind": {
          "description": "This is always *sql#sslCertsInsert*.",
          "type": "string"
        },
        "serverCaCert": {
          "$ref": "SslCert",
          "description": "The server Certificate Authority's certificate. If this is missing you can force a new one to be generated by calling resetSslConfig method on instances resource."
        }
      },
      "id": "SslCertsInsertResponse",
      "type": "object"
    },
    "TruncateLogContext": {
      "id": "TruncateLogContext",
      "properties": {
        "logType": {
          "type": "string",
          "description": "The type of log to truncate. Valid values are *MYSQL_GENERAL_TABLE* and *MYSQL_SLOW_TABLE*."
        },
        "kind": {
          "description": "This is always *sql#truncateLogContext*.",
          "type": "string"
        }
      },
      "description": "Database Instance truncate log context.",
      "type": "object"
    },
    "SqlInstancesVerifyExternalSyncSettingsResponse": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "This is always *sql#migrationSettingErrorList*."
        },
        "errors": {
          "items": {
            "$ref": "SqlExternalSyncSettingError"
          },
          "type": "array",
          "description": "List of migration violations."
        },
        "warnings": {
          "type": "array",
          "description": "List of migration warnings.",
          "items": {
            "$ref": "SqlExternalSyncSettingError"
          }
        }
      },
      "description": "Instance verify external sync settings response.",
      "id": "SqlInstancesVerifyExternalSyncSettingsResponse",
      "type": "object"
    },
    "UsersListResponse": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "This is always *sql#usersList*.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "An identifier that uniquely identifies the operation. You can use this identifier to retrieve the Operations resource that has information about the operation.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "User"
          },
          "description": "List of user resources in the instance."
        }
      },
      "id": "UsersListResponse",
      "description": "User list response."
    },
    "SqlServerAuditConfig": {
      "description": "SQL Server specific audit configuration.",
      "id": "SqlServerAuditConfig",
      "properties": {
        "kind": {
          "description": "This is always sql#sqlServerAuditConfig",
          "type": "string"
        },
        "bucket": {
          "type": "string",
          "description": "The name of the destination bucket (e.g., gs://mybucket)."
        }
      },
      "type": "object"
    },
    "FlagsListResponse": {
      "properties": {
        "items": {
          "type": "array",
          "description": "List of flags.",
          "items": {
            "$ref": "Flag"
          }
        },
        "kind": {
          "type": "string",
          "description": "This is always **sql#flagsList**."
        }
      },
      "description": "Flags list response.",
      "id": "FlagsListResponse",
      "type": "object"
    },
    "BackupRetentionSettings": {
      "description": "We currently only support backup retention by specifying the number of backups we will retain.",
      "properties": {
        "retentionUnit": {
          "description": "The unit that 'retained_backups' represents.",
          "enum": [
            "RETENTION_UNIT_UNSPECIFIED",
            "COUNT"
          ],
          "enumDescriptions": [
            "Backup retention unit is unspecified, will be treated as COUNT.",
            "Retention will be by count, eg. \"retain the most recent 7 backups\"."
          ],
          "type": "string"
        },
        "retainedBackups": {
          "type": "integer",
          "description": "Depending on the value of retention_unit, this is used to determine if a backup needs to be deleted. If retention_unit is 'COUNT', we will retain this many backups.",
          "format": "int32"
        }
      },
      "id": "BackupRetentionSettings",
      "type": "object"
    },
    "Reschedule": {
      "id": "Reschedule",
      "type": "object",
      "properties": {
        "scheduleTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. Timestamp when the maintenance shall be rescheduled to if reschedule_type=SPECIFIC_TIME, in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example **2012-11-15T16:19:00.094Z**."
        },
        "rescheduleType": {
          "type": "string",
          "description": "Required. The type of the reschedule.",
          "enumDescriptions": [
            "",
            "Reschedules maintenance to happen now (within 5 minutes).",
            "Reschedules maintenance to occur within one week from the originally scheduled day and time.",
            "Reschedules maintenance to a specific time and day."
          ],
          "enum": [
            "RESCHEDULE_TYPE_UNSPECIFIED",
            "IMMEDIATE",
            "NEXT_AVAILABLE_WINDOW",
            "SPECIFIC_TIME"
          ]
        }
      }
    },
    "SqlActiveDirectoryConfig": {
      "id": "SqlActiveDirectoryConfig",
      "type": "object",
      "description": "Active Directory configuration, relevant only for Cloud SQL for SQL Server.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "This is always sql#activeDirectoryConfig."
        },
        "domain": {
          "description": "The name of the domain (e.g., mydomain.com).",
          "type": "string"
        }
      }
    },
    "InstancesRotateServerCaRequest": {
      "id": "InstancesRotateServerCaRequest",
      "properties": {
        "rotateServerCaContext": {
          "description": "Contains details about the rotate server CA operation.",
          "$ref": "RotateServerCaContext"
        }
      },
      "description": "Rotate server CA request.",
      "type": "object"
    },
    "DatabaseFlags": {
      "id": "DatabaseFlags",
      "properties": {
        "value": {
          "type": "string",
          "description": "The value of the flag. Booleans are set to **on** for true and **off** for false. This field must be omitted if the flag doesn't take a value."
        },
        "name": {
          "type": "string",
          "description": "The name of the flag. These flags are passed at instance startup, so include both server options and system variables. Flags are specified with underscores, not hyphens. For more information, see [Configuring Database Flags](https://cloud.google.com/sql/docs/mysql/flags) in the Cloud SQL documentation."
        }
      },
      "description": "Database flags for Cloud SQL instances.",
      "type": "object"
    },
    "DiskEncryptionStatus": {
      "properties": {
        "kmsKeyVersionName": {
          "type": "string",
          "description": "KMS key version used to encrypt the Cloud SQL instance resource"
        },
        "kind": {
          "description": "This is always **sql#diskEncryptionStatus**.",
          "type": "string"
        }
      },
      "id": "DiskEncryptionStatus",
      "description": "Disk encryption status for an instance.",
      "type": "object"
    },
    "BackupRun": {
      "type": "object",
      "properties": {
        "status": {
          "type": "string",
          "enumDescriptions": [
            "The status of the run is unknown.",
            "The backup operation was enqueued.",
            "The backup is overdue across a given backup window. Indicates a problem. Example: Long-running operation in progress during the whole window.",
            "The backup is in progress.",
            "The backup failed.",
            "The backup was successful.",
            "The backup was skipped (without problems) for a given backup window. Example: Instance was idle.",
            "The backup is about to be deleted.",
            "The backup deletion failed.",
            "The backup has been deleted."
          ],
          "enum": [
            "SQL_BACKUP_RUN_STATUS_UNSPECIFIED",
            "ENQUEUED",
            "OVERDUE",
            "RUNNING",
            "FAILED",
            "SUCCESSFUL",
            "SKIPPED",
            "DELETION_PENDING",
            "DELETION_FAILED",
            "DELETED"
          ],
          "description": "The status of this run."
        },
        "enqueuedTime": {
          "type": "string",
          "description": "The time the run was enqueued in UTC timezone in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example **2012-11-15T16:19:00.094Z**.",
          "format": "google-datetime"
        },
        "id": {
          "description": "The identifier for this backup run. Unique only for a specific Cloud SQL instance.",
          "format": "int64",
          "type": "string"
        },
        "error": {
          "$ref": "OperationError",
          "description": "Information about why the backup operation failed. This is only present if the run has the FAILED status."
        },
        "windowStartTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The start time of the backup window during which this the backup was attempted in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example **2012-11-15T16:19:00.094Z**."
        },
        "selfLink": {
          "type": "string",
          "description": "The URI of this resource."
        },
        "instance": {
          "description": "Name of the database instance.",
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "The time the backup operation completed in UTC timezone in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example **2012-11-15T16:19:00.094Z**.",
          "type": "string"
        },
        "startTime": {
          "format": "google-datetime",
          "description": "The time the backup operation actually started in UTC timezone in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example **2012-11-15T16:19:00.094Z**.",
          "type": "string"
        },
        "description": {
          "description": "The description of this run, only applicable to on-demand backups.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "This is always *sql#backupRun*."
        },
        "diskEncryptionConfiguration": {
          "description": "Encryption configuration specific to a backup.",
          "$ref": "DiskEncryptionConfiguration"
        },
        "diskEncryptionStatus": {
          "description": "Encryption status specific to a backup.",
          "$ref": "DiskEncryptionStatus"
        },
        "type": {
          "enumDescriptions": [
            "This is an unknown BackupRun type.",
            "The backup schedule automatically triggers a backup.",
            "The user manually triggers a backup."
          ],
          "enum": [
            "SQL_BACKUP_RUN_TYPE_UNSPECIFIED",
            "AUTOMATED",
            "ON_DEMAND"
          ],
          "type": "string",
          "description": "The type of this run; can be either \"AUTOMATED\" or \"ON_DEMAND\". This field defaults to \"ON_DEMAND\" and is ignored, when specified for insert requests."
        },
        "backupKind": {
          "description": "Specifies the kind of backup, PHYSICAL or DEFAULT_SNAPSHOT.",
          "enumDescriptions": [
            "This is an unknown BackupKind.",
            "The snapshot based backups",
            "Physical backups"
          ],
          "enum": [
            "SQL_BACKUP_KIND_UNSPECIFIED",
            "SNAPSHOT",
            "PHYSICAL"
          ],
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "Location of the backups."
        }
      },
      "description": "A BackupRun resource.",
      "id": "BackupRun"
    },
    "CloneContext": {
      "id": "CloneContext",
      "type": "object",
      "description": "Database instance clone context.",
      "properties": {
        "pointInTime": {
          "type": "string",
          "description": "Timestamp, if specified, identifies the time to which the source instance is cloned.",
          "format": "google-datetime"
        },
        "binLogCoordinates": {
          "$ref": "BinLogCoordinates",
          "description": "Binary log coordinates, if specified, identify the position up to which the source instance is cloned. If not specified, the source instance is cloned up to the most recent binary log coordinates."
        },
        "destinationInstanceName": {
          "description": "Name of the Cloud SQL instance to be created as a clone.",
          "type": "string"
        },
        "kind": {
          "description": "This is always *sql#cloneContext*.",
          "type": "string"
        },
        "pitrTimestampMs": {
          "format": "int64",
          "description": "Reserved for future use.",
          "type": "string"
        }
      }
    },
    "SslCert": {
      "type": "object",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time when the certificate was created in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example **2012-11-15T16:19:00.094Z**"
        },
        "sha1Fingerprint": {
          "type": "string",
          "description": "Sha1 Fingerprint."
        },
        "commonName": {
          "type": "string",
          "description": "User supplied name. Constrained to [a-zA-Z.-_ ]+."
        },
        "selfLink": {
          "description": "The URI of this resource.",
          "type": "string"
        },
        "kind": {
          "description": "This is always **sql#sslCert**.",
          "type": "string"
        },
        "instance": {
          "description": "Name of the database instance.",
          "type": "string"
        },
        "expirationTime": {
          "description": "The time when the certificate expires in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example **2012-11-15T16:19:00.094Z**.",
          "format": "google-datetime",
          "type": "string"
        },
        "cert": {
          "type": "string",
          "description": "PEM representation."
        },
        "certSerialNumber": {
          "description": "Serial number, as extracted from the certificate.",
          "type": "string"
        }
      },
      "id": "SslCert",
      "description": "SslCerts Resource"
    },
    "InstancesDemoteMasterRequest": {
      "description": "Database demote primary instance request.",
      "properties": {
        "demoteMasterContext": {
          "description": "Contains details about the demoteMaster operation.",
          "$ref": "DemoteMasterContext"
        }
      },
      "id": "InstancesDemoteMasterRequest",
      "type": "object"
    },
    "OperationsListResponse": {
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "description": "List of operation resources.",
          "items": {
            "$ref": "Operation"
          }
        },
        "kind": {
          "type": "string",
          "description": "This is always *sql#operationsList*."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results."
        }
      },
      "id": "OperationsListResponse",
      "description": "Operations list response."
    },
    "ExportContext": {
      "id": "ExportContext",
      "type": "object",
      "properties": {
        "fileType": {
          "description": "The file type for the specified uri. * **SQL**: The file contains SQL statements. * **CSV**: The file contains CSV data. * **BAK**: The file contains backup data for a SQL Server instance.",
          "enum": [
            "SQL_FILE_TYPE_UNSPECIFIED",
            "SQL",
            "CSV",
            "BAK"
          ],
          "enumDescriptions": [
            "Unknown file type.",
            "File containing SQL statements.",
            "File in CSV format.",
            ""
          ],
          "type": "string"
        },
        "offload": {
          "description": "Option for export offload.",
          "type": "boolean"
        },
        "uri": {
          "description": "The path to the file in Google Cloud Storage where the export will be stored. The URI is in the form **gs://bucketName/fileName**. If the file already exists, the request succeeds, but the operation fails. If **fileType** is **SQL** and the filename ends with .gz, the contents are compressed.",
          "type": "string"
        },
        "databases": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Databases to be exported. * **MySQL instances:** If **fileType** is **SQL** and no database is specified, all databases are exported, except for the **mysql** system database. If **fileType** is **CSV**, you can specify one database, either by using this property or by using the **csvExportOptions.selectQuery** property, which takes precedence over this property. * **PostgreSQL instances:** You must specify one database to be exported. If **fileType** is **CSV**, this database must match the one specified in the **csvExportOptions.selectQuery** property. * **SQL Server instances:** You must specify one database to be exported, and the **fileType** must be **BAK**."
        },
        "kind": {
          "description": "This is always **sql#exportContext**.",
          "type": "string"
        },
        "csvExportOptions": {
          "type": "object",
          "properties": {
            "selectQuery": {
              "description": "The select query used to extract the data.",
              "type": "string"
            },
            "linesTerminatedBy": {
              "description": "This is used to separate lines. If a line does not contain all fields, the rest of the columns are set to their default values.",
              "type": "string"
            },
            "quoteCharacter": {
              "description": "Specifies the quoting character to be used when a data value is quoted.",
              "type": "string"
            },
            "escapeCharacter": {
              "description": "Specifies the character that should appear before a data character that needs to be escaped.",
              "type": "string"
            },
            "fieldsTerminatedBy": {
              "description": "Specifies the character that separates columns within each row (line) of the file.",
              "type": "string"
            }
          },
          "description": "Options for exporting data as CSV. **MySQL** and **PostgreSQL** instances only."
        },
        "sqlExportOptions": {
          "properties": {
            "schemaOnly": {
              "description": "Export only schemas.",
              "type": "boolean"
            },
            "mysqlExportOptions": {
              "type": "object",
              "description": "Options for exporting from MySQL.",
              "properties": {
                "masterData": {
                  "format": "int32",
                  "description": "Option to include SQL statement required to set up replication. * If set to **1**, the dump file includes a CHANGE MASTER TO statement with the binary log coordinates, and --set-gtid-purged is set to ON. * If set to **2**, the CHANGE MASTER TO statement is written as a SQL comment and has no effect. * If set to any value other than **1**, --set-gtid-purged is set to OFF.",
                  "type": "integer"
                }
              }
            },
            "tables": {
              "items": {
                "type": "string"
              },
              "type": "array",
              "description": "Tables to export, or that were exported, from the specified database. If you specify tables, specify one and only one database. For PostgreSQL instances, you can specify only one table."
            }
          },
          "description": "Options for exporting data as SQL statements.",
          "type": "object"
        }
      },
      "description": "Database instance export context."
    },
    "LocationPreference": {
      "description": "Preferred location. This specifies where a Cloud SQL instance is located. Note that if the preferred location is not available, the instance will be located as close as possible within the region. Only one location may be specified.",
      "properties": {
        "followGaeApplication": {
          "description": "The App Engine application to follow, it must be in the same region as the Cloud SQL instance.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "This is always **sql#locationPreference**."
        },
        "zone": {
          "description": "The preferred Compute Engine zone (for example: us-central1-a, us-central1-b, etc.).",
          "type": "string"
        },
        "secondaryZone": {
          "type": "string",
          "description": "The preferred Compute Engine zone for the secondary/failover (for example: us-central1-a, us-central1-b, etc.). Reserved for future use."
        }
      },
      "type": "object",
      "id": "LocationPreference"
    },
    "Flag": {
      "type": "object",
      "description": "A flag resource.",
      "properties": {
        "type": {
          "enumDescriptions": [
            "This is an unknown flag type.",
            "Boolean type flag.",
            "String type flag.",
            "Integer type flag.",
            "Flag type used for a server startup option.",
            "Type introduced specially for MySQL TimeZone offset. Accept a string value with the format [-12:59, 13:00].",
            "Float type flag.",
            "Comma-separated list of the strings in a SqlFlagType enum."
          ],
          "type": "string",
          "description": "The type of the flag. Flags are typed to being **BOOLEAN**, **STRING**, **INTEGER** or **NONE**. **NONE** is used for flags which do not take a value, such as **skip_grant_tables**.",
          "enum": [
            "SQL_FLAG_TYPE_UNSPECIFIED",
            "BOOLEAN",
            "STRING",
            "INTEGER",
            "NONE",
            "MYSQL_TIMEZONE_OFFSET",
            "FLOAT",
            "REPEATED_STRING"
          ]
        },
        "appliesTo": {
          "type": "array",
          "description": "The database version this flag applies to. Can be **MYSQL_8_0**, **MYSQL_5_6**, or **MYSQL_5_7**.",
          "items": {
            "type": "string",
            "enum": [
              "SQL_DATABASE_VERSION_UNSPECIFIED",
              "MYSQL_5_1",
              "MYSQL_5_5",
              "MYSQL_5_6",
              "MYSQL_5_7",
              "POSTGRES_9_6",
              "POSTGRES_11",
              "SQLSERVER_2017_STANDARD",
              "SQLSERVER_2017_ENTERPRISE",
              "SQLSERVER_2017_EXPRESS",
              "SQLSERVER_2017_WEB",
              "POSTGRES_10",
              "POSTGRES_12",
              "POSTGRES_13",
              "SQLSERVER_2019_STANDARD",
              "SQLSERVER_2019_ENTERPRISE",
              "SQLSERVER_2019_EXPRESS",
              "SQLSERVER_2019_WEB"
            ],
            "enumDescriptions": [
              "This is an unknown database version.",
              "The database version is MySQL 5.1.",
              "The database version is MySQL 5.5.",
              "The database version is MySQL 5.6.",
              "The database version is MySQL 5.7.",
              "The database version is PostgreSQL 9.6.",
              "The database version is PostgreSQL 11.",
              "The database version is SQL Server 2017 Standard.",
              "The database version is SQL Server 2017 Enterprise.",
              "The database version is SQL Server 2017 Express.",
              "The database version is SQL Server 2017 Web.",
              "The database version is PostgreSQL 10.",
              "The database version is PostgreSQL 12.",
              "The database version is PostgreSQL 13.",
              "The database version is SQL Server 2019 Standard.",
              "The database version is SQL Server 2019 Enterprise.",
              "The database version is SQL Server 2019 Express.",
              "The database version is SQL Server 2019 Web."
            ]
          }
        },
        "kind": {
          "type": "string",
          "description": "This is always **sql#flag**."
        },
        "allowedIntValues": {
          "type": "array",
          "description": "Use this field if only certain integers are accepted. Can be combined with min_value and max_value to add additional values.",
          "items": {
            "format": "int64",
            "type": "string"
          }
        },
        "allowedStringValues": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "For **STRING** flags, a list of strings that the value can be set to."
        },
        "inBeta": {
          "type": "boolean",
          "description": "Whether or not the flag is considered in beta."
        },
        "requiresRestart": {
          "description": "Indicates whether changing this flag will trigger a database restart. Only applicable to Second Generation instances.",
          "type": "boolean"
        },
        "maxValue": {
          "type": "string",
          "format": "int64",
          "description": "For **INTEGER** flags, the maximum allowed value."
        },
        "name": {
          "description": "This is the name of the flag. Flag names always use underscores, not hyphens, for example: **max_allowed_packet**",
          "type": "string"
        },
        "minValue": {
          "description": "For **INTEGER** flags, the minimum allowed value.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "Flag"
    },
    "SslCertsCreateEphemeralRequest": {
      "description": "SslCerts create ephemeral certificate request.",
      "type": "object",
      "properties": {
        "public_key": {
          "description": "PEM encoded public key to include in the signed certificate.",
          "type": "string"
        },
        "access_token": {
          "type": "string",
          "description": "Access token to include in the signed certificate."
        }
      },
      "id": "SslCertsCreateEphemeralRequest"
    },
    "OperationError": {
      "id": "OperationError",
      "type": "object",
      "properties": {
        "message": {
          "description": "Additional information about the error encountered.",
          "type": "string"
        },
        "code": {
          "description": "Identifies the specific error that occurred.",
          "type": "string"
        },
        "kind": {
          "description": "This is always **sql#operationError**.",
          "type": "string"
        }
      },
      "description": "Database instance operation error."
    },
    "RestoreBackupContext": {
      "description": "Database instance restore from backup context. Backup context contains source instance id and project id.",
      "type": "object",
      "id": "RestoreBackupContext",
      "properties": {
        "project": {
          "description": "The full project ID of the source instance.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "This is always *sql#restoreBackupContext*."
        },
        "instanceId": {
          "type": "string",
          "description": "The ID of the instance that the backup was taken from."
        },
        "backupRunId": {
          "description": "The ID of the backup run to restore from.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "SqlInstancesRescheduleMaintenanceRequestBody": {
      "properties": {
        "reschedule": {
          "$ref": "Reschedule",
          "description": "Required. The type of the reschedule the user wants."
        }
      },
      "id": "SqlInstancesRescheduleMaintenanceRequestBody",
      "description": "Reschedule options for maintenance windows.",
      "type": "object"
    },
    "GenerateEphemeralCertRequest": {
      "properties": {
        "readTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. Optional snapshot read timestamp to trade freshness for performance."
        },
        "access_token": {
          "type": "string",
          "description": "Optional. Access token to include in the signed certificate."
        },
        "public_key": {
          "description": "PEM encoded public key to include in the signed certificate.",
          "type": "string"
        }
      },
      "description": "Ephemeral certificate creation request.",
      "type": "object",
      "id": "GenerateEphemeralCertRequest"
    },
    "Tier": {
      "id": "Tier",
      "description": "A Google Cloud SQL service tier resource.",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "This is always *sql#tier*."
        },
        "tier": {
          "type": "string",
          "description": "An identifier for the machine type, for example, db-custom-1-3840. For related information, see Pricing."
        },
        "DiskQuota": {
          "description": "The maximum disk size of this tier in bytes.",
          "type": "string",
          "format": "int64"
        },
        "region": {
          "description": "The applicable regions for this tier.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "RAM": {
          "type": "string",
          "description": "The maximum RAM usage of this tier in bytes.",
          "format": "int64"
        }
      }
    },
    "SslCertsListResponse": {
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "This is always *sql#sslCertsList*."
        },
        "items": {
          "type": "array",
          "description": "List of client certificates for the instance.",
          "items": {
            "$ref": "SslCert"
          }
        }
      },
      "description": "SslCerts list response.",
      "id": "SslCertsListResponse"
    },
    "ImportContext": {
      "type": "object",
      "id": "ImportContext",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Path to the import file in Cloud Storage, in the form **gs://bucketName/fileName**. Compressed gzip files (.gz) are supported when **fileType** is **SQL**. The instance must have write permissions to the bucket and read access to the file."
        },
        "database": {
          "type": "string",
          "description": "The target database for the import. If **fileType** is **SQL**, this field is required only if the import file does not specify a database, and is overridden by any database specification in the import file. If **fileType** is **CSV**, one database must be specified."
        },
        "kind": {
          "type": "string",
          "description": "This is always **sql#importContext**."
        },
        "bakImportOptions": {
          "properties": {
            "encryptionOptions": {
              "type": "object",
              "properties": {
                "pvkPassword": {
                  "type": "string",
                  "description": "Password that encrypts the private key"
                },
                "certPath": {
                  "type": "string",
                  "description": "Path to the Certificate (.cer) in Cloud Storage, in the form **gs://bucketName/fileName**. The instance must have write permissions to the bucket and read access to the file."
                },
                "pvkPath": {
                  "type": "string",
                  "description": "Path to the Certificate Private Key (.pvk) in Cloud Storage, in the form **gs://bucketName/fileName**. The instance must have write permissions to the bucket and read access to the file."
                }
              }
            }
          },
          "description": "Import parameters specific to SQL Server .BAK files",
          "type": "object"
        },
        "csvImportOptions": {
          "properties": {
            "escapeCharacter": {
              "type": "string",
              "description": "Specifies the character that should appear before a data character that needs to be escaped."
            },
            "linesTerminatedBy": {
              "description": "This is used to separate lines. If a line does not contain all fields, the rest of the columns are set to their default values.",
              "type": "string"
            },
            "table": {
              "description": "The table to which CSV data is imported.",
              "type": "string"
            },
            "quoteCharacter": {
              "description": "Specifies the quoting character to be used when a data value is quoted.",
              "type": "string"
            },
            "fieldsTerminatedBy": {
              "description": "Specifies the character that separates columns within each row (line) of the file.",
              "type": "string"
            },
            "columns": {
              "items": {
                "type": "string"
              },
              "description": "The columns to which CSV data is imported. If not specified, all columns of the database table are loaded with CSV data.",
              "type": "array"
            }
          },
          "description": "Options for importing data as CSV.",
          "type": "object"
        },
        "fileType": {
          "enum": [
            "SQL_FILE_TYPE_UNSPECIFIED",
            "SQL",
            "CSV",
            "BAK"
          ],
          "enumDescriptions": [
            "Unknown file type.",
            "File containing SQL statements.",
            "File in CSV format.",
            ""
          ],
          "description": "The file type for the specified uri. **SQL**: The file contains SQL statements. **CSV**: The file contains CSV data.",
          "type": "string"
        },
        "importUser": {
          "description": "The PostgreSQL user for this import operation. PostgreSQL instances only.",
          "type": "string"
        }
      },
      "description": "Database instance import context."
    },
    "DatabasesListResponse": {
      "type": "object",
      "properties": {
        "items": {
          "description": "List of database resources in the instance.",
          "items": {
            "$ref": "Database"
          },
          "type": "array"
        },
        "kind": {
          "description": "This is always *sql#databasesList*.",
          "type": "string"
        }
      },
      "description": "Database list response.",
      "id": "DatabasesListResponse"
    },
    "SyncFlags": {
      "description": "Initial sync flags for certain Cloud SQL APIs. Currently used for the MySQL external server initial dump.",
      "id": "SyncFlags",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the flag."
        },
        "value": {
          "type": "string",
          "description": "The value of the flag. This field must be omitted if the flag doesn't take a value."
        }
      }
    },
    "User": {
      "type": "object",
      "description": "A Cloud SQL user resource.",
      "properties": {
        "password": {
          "description": "The password for the user.",
          "type": "string"
        },
        "host": {
          "type": "string",
          "description": "The host name from which the user can connect. For *insert* operations, host defaults to an empty string. For *update* operations, host is specified as part of the request URL. The host name cannot be updated after insertion."
        },
        "name": {
          "type": "string",
          "description": "The name of the user in the Cloud SQL instance. Can be omitted for *update* since it is already specified in the URL."
        },
        "project": {
          "type": "string",
          "description": "The project ID of the project containing the Cloud SQL database. The Google apps domain is prefixed if applicable. Can be omitted for *update* since it is already specified on the URL."
        },
        "instance": {
          "description": "The name of the Cloud SQL instance. This does not include the project ID. Can be omitted for *update* since it is already specified on the URL.",
          "type": "string"
        },
        "type": {
          "description": "The user type. It determines the method to authenticate the user during login. The default is the database's built-in user type.",
          "enum": [
            "BUILT_IN",
            "CLOUD_IAM_USER",
            "CLOUD_IAM_SERVICE_ACCOUNT"
          ],
          "enumDescriptions": [
            "The database's built-in user type.",
            "Cloud IAM user.",
            "Cloud IAM service account."
          ],
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "This field is deprecated and will be removed from a future version of the API."
        },
        "sqlserverUserDetails": {
          "$ref": "SqlServerUserDetails"
        },
        "kind": {
          "type": "string",
          "description": "This is always *sql#user*."
        }
      },
      "id": "User"
    },
    "SslCertsInsertRequest": {
      "description": "SslCerts insert request.",
      "id": "SslCertsInsertRequest",
      "type": "object",
      "properties": {
        "commonName": {
          "type": "string",
          "description": "User supplied name. Must be a distinct name from the other certificates for this instance."
        }
      }
    },
    "ConnectSettings": {
      "type": "object",
      "id": "ConnectSettings",
      "properties": {
        "region": {
          "description": "The cloud region for the instance. e.g. **us-central1**, **europe-west1**. The region cannot be changed after instance creation.",
          "type": "string"
        },
        "databaseVersion": {
          "description": "The database engine type and version. The **databaseVersion** field cannot be changed after instance creation. MySQL instances: **MYSQL_8_0**, **MYSQL_5_7** (default), or **MYSQL_5_6**. PostgreSQL instances: **POSTGRES_9_6**, **POSTGRES_10**, **POSTGRES_11** or **POSTGRES_12** (default). SQL Server instances: **SQLSERVER_2017_STANDARD** (default), **SQLSERVER_2017_ENTERPRISE**, **SQLSERVER_2017_EXPRESS**, or **SQLSERVER_2017_WEB**.",
          "enum": [
            "SQL_DATABASE_VERSION_UNSPECIFIED",
            "MYSQL_5_1",
            "MYSQL_5_5",
            "MYSQL_5_6",
            "MYSQL_5_7",
            "POSTGRES_9_6",
            "POSTGRES_11",
            "SQLSERVER_2017_STANDARD",
            "SQLSERVER_2017_ENTERPRISE",
            "SQLSERVER_2017_EXPRESS",
            "SQLSERVER_2017_WEB",
            "POSTGRES_10",
            "POSTGRES_12",
            "POSTGRES_13",
            "SQLSERVER_2019_STANDARD",
            "SQLSERVER_2019_ENTERPRISE",
            "SQLSERVER_2019_EXPRESS",
            "SQLSERVER_2019_WEB"
          ],
          "type": "string",
          "enumDescriptions": [
            "This is an unknown database version.",
            "The database version is MySQL 5.1.",
            "The database version is MySQL 5.5.",
            "The database version is MySQL 5.6.",
            "The database version is MySQL 5.7.",
            "The database version is PostgreSQL 9.6.",
            "The database version is PostgreSQL 11.",
            "The database version is SQL Server 2017 Standard.",
            "The database version is SQL Server 2017 Enterprise.",
            "The database version is SQL Server 2017 Express.",
            "The database version is SQL Server 2017 Web.",
            "The database version is PostgreSQL 10.",
            "The database version is PostgreSQL 12.",
            "The database version is PostgreSQL 13.",
            "The database version is SQL Server 2019 Standard.",
            "The database version is SQL Server 2019 Enterprise.",
            "The database version is SQL Server 2019 Express.",
            "The database version is SQL Server 2019 Web."
          ]
        },
        "kind": {
          "description": "This is always `sql#connectSettings`.",
          "type": "string"
        },
        "serverCaCert": {
          "description": "SSL configuration.",
          "$ref": "SslCert"
        },
        "ipAddresses": {
          "type": "array",
          "items": {
            "$ref": "IpMapping"
          },
          "description": "The assigned IP addresses for the instance."
        },
        "backendType": {
          "enum": [
            "SQL_BACKEND_TYPE_UNSPECIFIED",
            "FIRST_GEN",
            "SECOND_GEN",
            "EXTERNAL"
          ],
          "description": "**SECOND_GEN**: Cloud SQL database instance. **EXTERNAL**: A database server that is not managed by Google. This property is read-only; use the **tier** property in the **settings** object to determine the database type.",
          "enumDescriptions": [
            "This is an unknown backend type for instance.",
            "V1 speckle instance.",
            "V2 speckle instance.",
            "On premises instance."
          ],
          "type": "string"
        }
      },
      "description": "Connect settings retrieval response."
    },
    "InstancesListServerCasResponse": {
      "type": "object",
      "id": "InstancesListServerCasResponse",
      "description": "Instances ListServerCas response.",
      "properties": {
        "activeVersion": {
          "type": "string"
        },
        "kind": {
          "description": "This is always *sql#instancesListServerCas*.",
          "type": "string"
        },
        "certs": {
          "items": {
            "$ref": "SslCert"
          },
          "description": "List of server CA certificates for the instance.",
          "type": "array"
        }
      }
    },
    "BinLogCoordinates": {
      "type": "object",
      "id": "BinLogCoordinates",
      "description": "Binary log coordinates.",
      "properties": {
        "binLogFileName": {
          "description": "Name of the binary log file for a Cloud SQL instance.",
          "type": "string"
        },
        "binLogPosition": {
          "description": "Position (offset) within the binary log file.",
          "format": "int64",
          "type": "string"
        },
        "kind": {
          "description": "This is always *sql#binLogCoordinates*.",
          "type": "string"
        }
      }
    },
    "Operation": {
      "id": "Operation",
      "description": "An Operation resource. For successful operations that return an Operation resource, only the fields relevant to the operation are populated in the resource.",
      "type": "object",
      "properties": {
        "status": {
          "enum": [
            "SQL_OPERATION_STATUS_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "DONE"
          ],
          "type": "string",
          "description": "The status of an operation. Valid values are: * **PENDING** * **RUNNING** * **DONE** * **SQL_OPERATION_STATUS_UNSPECIFIED**",
          "enumDescriptions": [
            "The state of the operation is unknown.",
            "The operation has been queued, but has not started yet.",
            "The operation is running.",
            "The operation completed."
          ]
        },
        "targetProject": {
          "type": "string",
          "description": "The project ID of the target instance related to this operation."
        },
        "insertTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time this operation was enqueued in UTC timezone in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example **2012-11-15T16:19:00.094Z**."
        },
        "targetId": {
          "type": "string",
          "description": "Name of the database instance related to this operation."
        },
        "selfLink": {
          "description": "The URI of this resource.",
          "type": "string"
        },
        "name": {
          "description": "An identifier that uniquely identifies the operation. You can use this identifier to retrieve the Operations resource that has information about the operation.",
          "type": "string"
        },
        "targetLink": {
          "type": "string"
        },
        "user": {
          "description": "The email address of the user who initiated this operation.",
          "type": "string"
        },
        "operationType": {
          "enumDescriptions": [
            "Unknown operation type.",
            "Imports data into a Cloud SQL instance.",
            "Exports data from a Cloud SQL instance to a Cloud Storage bucket.",
            "Creates a new Cloud SQL instance.",
            "Updates the settings of a Cloud SQL instance.",
            "Deletes a Cloud SQL instance.",
            "Restarts the Cloud SQL instance.",
            "",
            "",
            "Performs instance backup.",
            "Deletes an instance backup.",
            "Restores an instance backup.",
            "Injects a privileged user in mysql for MOB instances.",
            "Clones a Cloud SQL instance.",
            "Stops replication on a Cloud SQL read replica instance.",
            "Starts replication on a Cloud SQL read replica instance.",
            "Promotes a Cloud SQL replica instance.",
            "Creates a Cloud SQL replica instance.",
            "Creates a new user in a Cloud SQL instance.",
            "Deletes a user from a Cloud SQL instance.",
            "Updates an existing user in a Cloud SQL instance.",
            "Creates a database in the Cloud SQL instance.",
            "Deletes a database in the Cloud SQL instance.",
            "Updates a database in the Cloud SQL instance.",
            "Performs failover of an HA-enabled Cloud SQL failover replica.",
            "Deletes the backup taken by a backup run.",
            "",
            "Truncates a general or slow log table in MySQL.",
            "Demotes the stand-alone instance to be a Cloud SQL read replica for an external database server.",
            "Indicates that the instance is currently in maintenance. Maintenance typically causes the instance to be unavailable for 1-3 minutes.",
            "This field is deprecated, and will be removed in future version of API.",
            "",
            "Creates clone instance.",
            "Reschedule maintenance to another time.",
            "Starts external sync of a Cloud SQL EM replica to an external primary instance."
          ],
          "type": "string",
          "enum": [
            "SQL_OPERATION_TYPE_UNSPECIFIED",
            "IMPORT",
            "EXPORT",
            "CREATE",
            "UPDATE",
            "DELETE",
            "RESTART",
            "BACKUP",
            "SNAPSHOT",
            "BACKUP_VOLUME",
            "DELETE_VOLUME",
            "RESTORE_VOLUME",
            "INJECT_USER",
            "CLONE",
            "STOP_REPLICA",
            "START_REPLICA",
            "PROMOTE_REPLICA",
            "CREATE_REPLICA",
            "CREATE_USER",
            "DELETE_USER",
            "UPDATE_USER",
            "CREATE_DATABASE",
            "DELETE_DATABASE",
            "UPDATE_DATABASE",
            "FAILOVER",
            "DELETE_BACKUP",
            "RECREATE_REPLICA",
            "TRUNCATE_LOG",
            "DEMOTE_MASTER",
            "MAINTENANCE",
            "ENABLE_PRIVATE_IP",
            "DEFER_MAINTENANCE",
            "CREATE_CLONE",
            "RESCHEDULE_MAINTENANCE",
            "START_EXTERNAL_SYNC"
          ],
          "description": "The type of the operation. Valid values are: * **CREATE** * **DELETE** * **UPDATE** * **RESTART** * **IMPORT** * **EXPORT** * **BACKUP_VOLUME** * **RESTORE_VOLUME** * **CREATE_USER** * **DELETE_USER** * **CREATE_DATABASE** * **DELETE_DATABASE**"
        },
        "exportContext": {
          "$ref": "ExportContext",
          "description": "The context for export operation, if applicable."
        },
        "kind": {
          "description": "This is always **sql#operation**.",
          "type": "string"
        },
        "backupContext": {
          "$ref": "BackupContext",
          "description": "The context for backup operation, if applicable."
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time this operation actually started in UTC timezone in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example **2012-11-15T16:19:00.094Z**."
        },
        "error": {
          "description": "If errors occurred during processing of this operation, this field will be populated.",
          "$ref": "OperationErrors"
        },
        "importContext": {
          "description": "The context for import operation, if applicable.",
          "$ref": "ImportContext"
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time this operation finished in UTC timezone in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example **2012-11-15T16:19:00.094Z**."
        }
      }
    },
    "GenerateEphemeralCertResponse": {
      "description": "Ephemeral certificate creation request.",
      "properties": {
        "ephemeralCert": {
          "$ref": "SslCert",
          "description": "Generated cert"
        }
      },
      "type": "object",
      "id": "GenerateEphemeralCertResponse"
    },
    "TiersListResponse": {
      "type": "object",
      "id": "TiersListResponse",
      "description": "Tiers list response.",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "Tier"
          },
          "description": "List of tiers."
        },
        "kind": {
          "description": "This is always *sql#tiersList*.",
          "type": "string"
        }
      }
    },
    "SqlExternalSyncSettingError": {
      "properties": {
        "type": {
          "description": "Identifies the specific error that occurred.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "Unsupported migration type.",
            "No pglogical extension installed on databases, applicable for postgres.",
            "pglogical node already exists on databases, applicable for postgres.",
            "The value of parameter wal_level is not set to logical.",
            "The value of parameter shared_preload_libraries does not include pglogical.",
            "The value of parameter max_replication_slots is not sufficient.",
            "The value of parameter max_wal_senders is not sufficient.",
            "The value of parameter max_worker_processes is not sufficient.",
            "Extensions installed are either not supported or having unsupported versions",
            "The value of parameter rds.logical_replication is not set to 1.",
            "The primary instance logging setup doesn't allow EM sync.",
            "The primary instance database parameter setup doesn't allow EM sync.",
            "The gtid_mode is not supported, applicable for MySQL.",
            "SQL Server Agent is not running.",
            "The table definition is not support due to missing primary key or replica identity, applicable for postgres.",
            "The customer has a definer that will break EM setup.",
            "SQL Server @@SERVERNAME does not match actual host name",
            "The primary instance has been setup and will fail the setup."
          ],
          "type": "string",
          "enum": [
            "SQL_EXTERNAL_SYNC_SETTING_ERROR_TYPE_UNSPECIFIED",
            "CONNECTION_FAILURE",
            "BINLOG_NOT_ENABLED",
            "INCOMPATIBLE_DATABASE_VERSION",
            "REPLICA_ALREADY_SETUP",
            "INSUFFICIENT_PRIVILEGE",
            "UNSUPPORTED_MIGRATION_TYPE",
            "NO_PGLOGICAL_INSTALLED",
            "PGLOGICAL_NODE_ALREADY_EXISTS",
            "INVALID_WAL_LEVEL",
            "INVALID_SHARED_PRELOAD_LIBRARY",
            "INSUFFICIENT_MAX_REPLICATION_SLOTS",
            "INSUFFICIENT_MAX_WAL_SENDERS",
            "INSUFFICIENT_MAX_WORKER_PROCESSES",
            "UNSUPPORTED_EXTENSIONS",
            "INVALID_RDS_LOGICAL_REPLICATION",
            "INVALID_LOGGING_SETUP",
            "INVALID_DB_PARAM",
            "UNSUPPORTED_GTID_MODE",
            "SQLSERVER_AGENT_NOT_RUNNING",
            "UNSUPPORTED_TABLE_DEFINITION",
            "UNSUPPORTED_DEFINER",
            "SQLSERVER_SERVERNAME_MISMATCH",
            "PRIMARY_ALREADY_SETUP"
          ]
        },
        "detail": {
          "type": "string",
          "description": "Additional information about the error encountered."
        },
        "kind": {
          "description": "Can be *sql#externalSyncSettingError* or *sql#externalSyncSettingWarning*.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "SqlExternalSyncSettingError",
      "description": "External primary instance migration setting error/warning."
    },
    "SqlOutOfDiskReport": {
      "type": "object",
      "description": "This message wraps up the information written by out-of-disk detection job.",
      "properties": {
        "sqlOutOfDiskState": {
          "enum": [
            "SQL_OUT_OF_DISK_STATE_UNSPECIFIED",
            "NORMAL",
            "SOFT_SHUTDOWN"
          ],
          "enumDescriptions": [
            "Unspecified state",
            "The instance has plenty space on data disk",
            "Data disk is almost used up. It is shutdown to prevent data corruption."
          ],
          "description": "This field represents the state generated by the proactive database wellness job for OutOfDisk issues. * Writers: * the proactive database wellness job for OOD. * Readers: * the proactive database wellness job",
          "type": "string"
        },
        "sqlMinRecommendedIncreaseSizeGb": {
          "description": "The minimum recommended increase size in GigaBytes This field is consumed by the frontend * Writers: * the proactive database wellness job for OOD. * Readers:",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "SqlOutOfDiskReport"
    },
    "DemoteMasterContext": {
      "type": "object",
      "id": "DemoteMasterContext",
      "description": "Database instance demote primary instance context.",
      "properties": {
        "masterInstanceName": {
          "type": "string",
          "description": "The name of the instance which will act as on-premises primary instance in the replication setup."
        },
        "replicaConfiguration": {
          "$ref": "DemoteMasterConfiguration",
          "description": "Configuration specific to read-replicas replicating from the on-premises primary instance."
        },
        "verifyGtidConsistency": {
          "description": "Verify GTID consistency for demote operation. Default value: **True**. Setting this flag to false enables you to bypass GTID consistency check between on-premises primary instance and Cloud SQL instance during the demotion operation but also exposes you to the risk of future replication failures. Change the value only if you know the reason for the GTID divergence and are confident that doing so will not cause any replication issues.",
          "type": "boolean"
        },
        "skipReplicationSetup": {
          "description": "Flag to skip replication setup on the instance.",
          "type": "boolean"
        },
        "kind": {
          "type": "string",
          "description": "This is always *sql#demoteMasterContext*."
        }
      }
    },
    "RotateServerCaContext": {
      "description": "Instance rotate server CA context.",
      "id": "RotateServerCaContext",
      "properties": {
        "kind": {
          "type": "string",
          "description": "This is always *sql#rotateServerCaContext*."
        },
        "nextVersion": {
          "description": "The fingerprint of the next version to be rotated to. If left unspecified, will be rotated to the most recently added server CA version.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DemoteMasterConfiguration": {
      "properties": {
        "mysqlReplicaConfiguration": {
          "description": "MySQL specific configuration when replicating from a MySQL on-premises primary instance. Replication configuration information such as the username, password, certificates, and keys are not stored in the instance metadata. The configuration information is used only to set up the replication connection and is stored by MySQL in a file named **master.info** in the data directory.",
          "$ref": "DemoteMasterMySqlReplicaConfiguration"
        },
        "kind": {
          "type": "string",
          "description": "This is always **sql#demoteMasterConfiguration**."
        }
      },
      "type": "object",
      "description": "Read-replica configuration for connecting to the on-premises primary instance.",
      "id": "DemoteMasterConfiguration"
    },
    "OperationErrors": {
      "description": "Database instance operation errors list wrapper.",
      "id": "OperationErrors",
      "properties": {
        "errors": {
          "items": {
            "$ref": "OperationError"
          },
          "description": "The list of errors encountered while processing this operation.",
          "type": "array"
        },
        "kind": {
          "description": "This is always **sql#operationErrors**.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Database": {
      "id": "Database",
      "properties": {
        "selfLink": {
          "description": "The URI of this resource.",
          "type": "string"
        },
        "sqlserverDatabaseDetails": {
          "$ref": "SqlServerDatabaseDetails"
        },
        "etag": {
          "description": "This field is deprecated and will be removed from a future version of the API.",
          "type": "string"
        },
        "collation": {
          "description": "The Cloud SQL collation value.",
          "type": "string"
        },
        "project": {
          "description": "The project ID of the project containing the Cloud SQL database. The Google apps domain is prefixed if applicable.",
          "type": "string"
        },
        "charset": {
          "description": "The Cloud SQL charset value.",
          "type": "string"
        },
        "kind": {
          "description": "This is always **sql#database**.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the database in the Cloud SQL instance. This does not include the project ID or instance name."
        },
        "instance": {
          "description": "The name of the Cloud SQL instance. This does not include the project ID.",
          "type": "string"
        }
      },
      "description": "Represents a SQL database on the Cloud SQL instance.",
      "type": "object"
    },
    "SqlInstancesVerifyExternalSyncSettingsRequest": {
      "type": "object",
      "properties": {
        "mysqlSyncConfig": {
          "$ref": "MySqlSyncConfig",
          "description": "Optional. MySQL-specific settings for start external sync."
        },
        "verifyConnectionOnly": {
          "description": "Flag to enable verifying connection only",
          "type": "boolean"
        },
        "syncMode": {
          "enumDescriptions": [
            "Unknown external sync mode, will be defaulted to ONLINE mode",
            "Online external sync will set up replication after initial data external sync",
            "Offline external sync only dumps and loads a one-time snapshot of the primary instance's data"
          ],
          "description": "External sync mode",
          "enum": [
            "EXTERNAL_SYNC_MODE_UNSPECIFIED",
            "ONLINE",
            "OFFLINE"
          ],
          "type": "string"
        },
        "verifyReplicationOnly": {
          "type": "boolean",
          "description": "Optional. Flag to verify settings required by replication setup only"
        }
      },
      "description": "Instance verify external sync settings request.",
      "id": "SqlInstancesVerifyExternalSyncSettingsRequest"
    },
    "BackupConfiguration": {
      "id": "BackupConfiguration",
      "type": "object",
      "description": "Database instance backup configuration.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "This is always **sql#backupConfiguration**."
        },
        "startTime": {
          "description": "Start time for the daily backup configuration in UTC timezone in the 24 hour format - **HH:MM**.",
          "type": "string"
        },
        "location": {
          "description": "Location of the backup",
          "type": "string"
        },
        "replicationLogArchivingEnabled": {
          "description": "Reserved for future use.",
          "type": "boolean"
        },
        "backupRetentionSettings": {
          "description": "Backup retention settings.",
          "$ref": "BackupRetentionSettings"
        },
        "binaryLogEnabled": {
          "type": "boolean",
          "description": "(MySQL only) Whether binary log is enabled. If backup configuration is disabled, binarylog must be disabled as well."
        },
        "transactionLogRetentionDays": {
          "type": "integer",
          "description": "The number of days of transaction logs we retain for point in time restore, from 1-7.",
          "format": "int32"
        },
        "enabled": {
          "description": "Whether this configuration is enabled.",
          "type": "boolean"
        },
        "pointInTimeRecoveryEnabled": {
          "description": "(Postgres only) Whether point in time recovery is enabled.",
          "type": "boolean"
        }
      }
    },
    "InstancesTruncateLogRequest": {
      "type": "object",
      "properties": {
        "truncateLogContext": {
          "$ref": "TruncateLogContext",
          "description": "Contains details about the truncate log operation."
        }
      },
      "id": "InstancesTruncateLogRequest",
      "description": "Instance truncate log request."
    },
    "BackupRunsListResponse": {
      "type": "object",
      "id": "BackupRunsListResponse",
      "properties": {
        "kind": {
          "description": "This is always *sql#backupRunsList*.",
          "type": "string"
        },
        "items": {
          "description": "A list of backup runs in reverse chronological order of the enqueued time.",
          "type": "array",
          "items": {
            "$ref": "BackupRun"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results."
        }
      },
      "description": "Backup run list results."
    },
    "MaintenanceWindow": {
      "properties": {
        "day": {
          "description": "day of week (1-7), starting on Monday.",
          "format": "int32",
          "type": "integer"
        },
        "updateTrack": {
          "enumDescriptions": [
            "This is an unknown maintenance timing preference.",
            "For instance update that requires a restart, this update track indicates your instance prefer to restart for new version early in maintenance window.",
            "For instance update that requires a restart, this update track indicates your instance prefer to let Cloud SQL choose the timing of restart (within its Maintenance window, if applicable)."
          ],
          "enum": [
            "SQL_UPDATE_TRACK_UNSPECIFIED",
            "canary",
            "stable"
          ],
          "description": "Maintenance timing setting: **canary** (Earlier) or **stable** (Later). [Learn more](https://cloud.google.com/sql/docs/mysql/instance-settings#maintenance-timing-2ndgen).",
          "type": "string"
        },
        "kind": {
          "description": "This is always **sql#maintenanceWindow**.",
          "type": "string"
        },
        "hour": {
          "type": "integer",
          "format": "int32",
          "description": "hour of day - 0 to 23."
        }
      },
      "id": "MaintenanceWindow",
      "type": "object",
      "description": "Maintenance window. This specifies when a Cloud SQL instance is restarted for system maintenance purposes."
    },
    "InstancesListResponse": {
      "type": "object",
      "description": "Database instances list response.",
      "id": "InstancesListResponse",
      "properties": {
        "kind": {
          "description": "This is always *sql#instancesList*.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "description": "List of database instance resources.",
          "items": {
            "$ref": "DatabaseInstance"
          }
        },
        "warnings": {
          "items": {
            "$ref": "ApiWarning"
          },
          "type": "array",
          "description": "List of warnings that occurred while handling the request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results."
        }
      }
    },
    "InstancesFailoverRequest": {
      "type": "object",
      "properties": {
        "failoverContext": {
          "$ref": "FailoverContext",
          "description": "Failover Context."
        }
      },
      "description": "Instance failover request.",
      "id": "InstancesFailoverRequest"
    },
    "Settings": {
      "id": "Settings",
      "properties": {
        "ipConfiguration": {
          "$ref": "IpConfiguration",
          "description": "The settings for IP Management. This allows to enable or disable the instance IP and manage which external networks can connect to the instance. The IPv4 address cannot be disabled for Second Generation instances."
        },
        "databaseReplicationEnabled": {
          "type": "boolean",
          "description": "Configuration specific to read replica instances. Indicates whether replication is enabled or not."
        },
        "storageAutoResize": {
          "description": "Configuration to increase storage size automatically. The default value is true.",
          "type": "boolean"
        },
        "pricingPlan": {
          "enumDescriptions": [
            "This is an unknown pricing plan for this instance.",
            "The instance is billed at a monthly flat rate.",
            "The instance is billed per usage."
          ],
          "type": "string",
          "enum": [
            "SQL_PRICING_PLAN_UNSPECIFIED",
            "PACKAGE",
            "PER_USE"
          ],
          "description": "The pricing plan for this instance. This can be either **PER_USE** or **PACKAGE**. Only **PER_USE** is supported for Second Generation instances."
        },
        "userLabels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "User-provided labels, represented as a dictionary where each label is a single key value pair."
        },
        "maintenanceWindow": {
          "$ref": "MaintenanceWindow",
          "description": "The maintenance window for this instance. This specifies when the instance can be restarted for maintenance purposes."
        },
        "storageAutoResizeLimit": {
          "type": "string",
          "description": "The maximum size to which storage capacity can be automatically increased. The default value is 0, which specifies that there is no limit.",
          "format": "int64"
        },
        "activeDirectoryConfig": {
          "$ref": "SqlActiveDirectoryConfig",
          "description": "Active Directory configuration, relevant only for Cloud SQL for SQL Server."
        },
        "sqlServerAuditConfig": {
          "$ref": "SqlServerAuditConfig",
          "description": "SQL Server specific audit configuration."
        },
        "replicationType": {
          "type": "string",
          "description": "The type of replication this instance uses. This can be either **ASYNCHRONOUS** or **SYNCHRONOUS**. (Deprecated) This property was only applicable to First Generation instances.",
          "enum": [
            "SQL_REPLICATION_TYPE_UNSPECIFIED",
            "SYNCHRONOUS",
            "ASYNCHRONOUS"
          ],
          "enumDescriptions": [
            "This is an unknown replication type for a Cloud SQL instance.",
            "The synchronous replication mode for First Generation instances. It is the default value.",
            "The asynchronous replication mode for First Generation instances. It provides a slight performance gain, but if an outage occurs while this option is set to asynchronous, you can lose up to a few seconds of updates to your data."
          ]
        },
        "crashSafeReplicationEnabled": {
          "description": "Configuration specific to read replica instances. Indicates whether database flags for crash-safe replication are enabled. This property was only applicable to First Generation instances.",
          "type": "boolean"
        },
        "settingsVersion": {
          "type": "string",
          "description": "The version of instance settings. This is a required field for update method to make sure concurrent updates are handled properly. During update, use the most recent settingsVersion value for this instance and do not try to update this value.",
          "format": "int64"
        },
        "insightsConfig": {
          "description": "Insights configuration, for now relevant only for Postgres.",
          "$ref": "InsightsConfig"
        },
        "dataDiskSizeGb": {
          "type": "string",
          "description": "The size of data disk, in GB. The data disk size minimum is 10GB.",
          "format": "int64"
        },
        "authorizedGaeApplications": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The App Engine app IDs that can access this instance. (Deprecated) Applied to First Generation instances only."
        },
        "locationPreference": {
          "description": "The location preference settings. This allows the instance to be located as near as possible to either an App Engine app or Compute Engine zone for better performance. App Engine co-location was only applicable to First Generation instances.",
          "$ref": "LocationPreference"
        },
        "databaseFlags": {
          "description": "The database flags passed to the instance at startup.",
          "items": {
            "$ref": "DatabaseFlags"
          },
          "type": "array"
        },
        "tier": {
          "description": "The tier (or machine type) for this instance, for example **db-custom-1-3840**.",
          "type": "string"
        },
        "activationPolicy": {
          "type": "string",
          "enum": [
            "SQL_ACTIVATION_POLICY_UNSPECIFIED",
            "ALWAYS",
            "NEVER",
            "ON_DEMAND"
          ],
          "enumDescriptions": [
            "Unknown activation plan.",
            "The instance is always up and running.",
            "The instance never starts.",
            "The instance starts upon receiving requests."
          ],
          "description": "The activation policy specifies when the instance is activated; it is applicable only when the instance state is RUNNABLE. Valid values: * **ALWAYS**: The instance is on, and remains so even in the absence of connection requests. * **NEVER**: The instance is off; it is not activated, even if a connection request arrives."
        },
        "denyMaintenancePeriods": {
          "type": "array",
          "items": {
            "$ref": "DenyMaintenancePeriod"
          },
          "description": "Deny maintenance periods"
        },
        "dataDiskType": {
          "type": "string",
          "enum": [
            "SQL_DATA_DISK_TYPE_UNSPECIFIED",
            "PD_SSD",
            "PD_HDD",
            "OBSOLETE_LOCAL_SSD"
          ],
          "description": "The type of data disk: **PD_SSD** (default) or **PD_HDD**. Not used for First Generation instances.",
          "enumDescriptions": [
            "This is an unknown data disk type.",
            "An SSD data disk.",
            "An HDD data disk.",
            "This field is deprecated and will be removed from a future version of the API."
          ]
        },
        "collation": {
          "type": "string",
          "description": "The name of server Instance collation."
        },
        "backupConfiguration": {
          "description": "The daily backup configuration for the instance.",
          "$ref": "BackupConfiguration"
        },
        "availabilityType": {
          "type": "string",
          "enumDescriptions": [
            "This is an unknown Availability type.",
            "Zonal available instance.",
            "Regional available instance."
          ],
          "description": "Availability type. Potential values: * **ZONAL**: The instance serves data from only one zone. Outages in that zone affect data accessibility. * **REGIONAL**: The instance can serve data from more than one zone in a region (it is highly available)./ For more information, see [Overview of the High Availability Configuration](https://cloud.google.com/sql/docs/mysql/high-availability).",
          "enum": [
            "SQL_AVAILABILITY_TYPE_UNSPECIFIED",
            "ZONAL",
            "REGIONAL"
          ]
        },
        "kind": {
          "description": "This is always **sql#settings**.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Database instance settings."
    },
    "InstancesImportRequest": {
      "properties": {
        "importContext": {
          "description": "Contains details about the import operation.",
          "$ref": "ImportContext"
        }
      },
      "id": "InstancesImportRequest",
      "type": "object",
      "description": "Database instance import request."
    },
    "SqlScheduledMaintenance": {
      "description": "Any scheduled maintenancce for this instance.",
      "id": "SqlScheduledMaintenance",
      "type": "object",
      "properties": {
        "canDefer": {
          "type": "boolean"
        },
        "scheduleDeadlineTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Maintenance cannot be rescheduled to start beyond this deadline."
        },
        "startTime": {
          "format": "google-datetime",
          "description": "The start time of any upcoming scheduled maintenance for this instance.",
          "type": "string"
        },
        "canReschedule": {
          "type": "boolean",
          "description": "If the scheduled maintenance can be rescheduled."
        }
      }
    },
    "DemoteMasterMySqlReplicaConfiguration": {
      "description": "Read-replica configuration specific to MySQL databases.",
      "type": "object",
      "id": "DemoteMasterMySqlReplicaConfiguration",
      "properties": {
        "clientCertificate": {
          "description": "PEM representation of the replica's x509 certificate.",
          "type": "string"
        },
        "clientKey": {
          "description": "PEM representation of the replica's private key. The corresponsing public key is encoded in the client's certificate. The format of the replica's private key can be either PKCS #1 or PKCS #8.",
          "type": "string"
        },
        "password": {
          "description": "The password for the replication connection.",
          "type": "string"
        },
        "caCertificate": {
          "type": "string",
          "description": "PEM representation of the trusted CA's x509 certificate."
        },
        "kind": {
          "type": "string",
          "description": "This is always **sql#demoteMasterMysqlReplicaConfiguration**."
        },
        "username": {
          "type": "string",
          "description": "The username for the replication connection."
        }
      }
    },
    "SqlServerDatabaseDetails": {
      "properties": {
        "compatibilityLevel": {
          "description": "The version of SQL Server with which the database is to be made compatible",
          "type": "integer",
          "format": "int32"
        },
        "recoveryModel": {
          "description": "The recovery model of a SQL Server database",
          "type": "string"
        }
      },
      "type": "object",
      "id": "SqlServerDatabaseDetails",
      "description": "Represents a Sql Server database on the Cloud SQL instance."
    },
    "FailoverContext": {
      "id": "FailoverContext",
      "type": "object",
      "description": "Database instance failover context.",
      "properties": {
        "settingsVersion": {
          "format": "int64",
          "type": "string",
          "description": "The current settings version of this instance. Request will be rejected if this version doesn't match the current settings version."
        },
        "kind": {
          "description": "This is always *sql#failoverContext*.",
          "type": "string"
        }
      }
    },
    "IpMapping": {
      "id": "IpMapping",
      "properties": {
        "timeToRetire": {
          "description": "The due time for this IP to be retired in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example **2012-11-15T16:19:00.094Z**. This field is only available when the IP is scheduled to be retired.",
          "format": "google-datetime",
          "type": "string"
        },
        "ipAddress": {
          "type": "string",
          "description": "The IP address assigned."
        },
        "type": {
          "type": "string",
          "enum": [
            "SQL_IP_ADDRESS_TYPE_UNSPECIFIED",
            "PRIMARY",
            "OUTGOING",
            "PRIVATE",
            "MIGRATED_1ST_GEN"
          ],
          "enumDescriptions": [
            "This is an unknown IP address type.",
            "IP address the customer is supposed to connect to. Usually this is the load balancer's IP address",
            "Source IP address of the connection a read replica establishes to its external primary instance. This IP address can be allowlisted by the customer in case it has a firewall that filters incoming connection to its on premises primary instance.",
            "Private IP used when using private IPs and network peering.",
            "V1 IP of a migrated instance. We want the user to decommission this IP as soon as the migration is complete. Note: V1 instances with V1 ip addresses will be counted as PRIMARY."
          ],
          "description": "The type of this IP address. A **PRIMARY** address is a public address that can accept incoming connections. A **PRIVATE** address is a private address that can accept incoming connections. An **OUTGOING** address is the source address of connections originating from the instance, if supported."
        }
      },
      "type": "object",
      "description": "Database instance IP Mapping."
    },
    "ApiWarning": {
      "description": "An Admin API warning message.",
      "type": "object",
      "id": "ApiWarning",
      "properties": {
        "region": {
          "description": "The region name for REGION_UNREACHABLE warning.",
          "type": "string"
        },
        "message": {
          "description": "The warning message.",
          "type": "string"
        },
        "code": {
          "enum": [
            "SQL_API_WARNING_CODE_UNSPECIFIED",
            "REGION_UNREACHABLE"
          ],
          "enumDescriptions": [
            "An unknown or unset warning type from Cloud SQL API.",
            "Warning when one or more regions are not reachable. The returned result set may be incomplete."
          ],
          "description": "Code to uniquely identify the warning type.",
          "type": "string"
        }
      }
    },
    "DenyMaintenancePeriod": {
      "type": "object",
      "description": "Deny maintenance Periods. This specifies a date range during when all CSA rollout will be denied.",
      "properties": {
        "time": {
          "description": "Time in UTC when the \"deny maintenance period\" starts on start_date and ends on end_date. The time is in format: HH:mm:SS, i.e., 00:00:00",
          "type": "string"
        },
        "endDate": {
          "description": "\"deny maintenance period\" end date. If the year of the end date is empty, the year of the start date also must be empty. In this case, it means the no maintenance interval recurs every year. The date is in format yyyy-mm-dd i.e., 2020-11-01, or mm-dd, i.e., 11-01",
          "type": "string"
        },
        "startDate": {
          "description": "\"deny maintenance period\" start date. If the year of the start date is empty, the year of the end date also must be empty. In this case, it means the deny maintenance period recurs every year. The date is in format yyyy-mm-dd i.e., 2020-11-01, or mm-dd, i.e., 11-01",
          "type": "string"
        }
      },
      "id": "DenyMaintenancePeriod"
    },
    "DatabaseInstance": {
      "type": "object",
      "description": "A Cloud SQL instance resource.",
      "id": "DatabaseInstance",
      "properties": {
        "backendType": {
          "enum": [
            "SQL_BACKEND_TYPE_UNSPECIFIED",
            "FIRST_GEN",
            "SECOND_GEN",
            "EXTERNAL"
          ],
          "enumDescriptions": [
            "This is an unknown backend type for instance.",
            "V1 speckle instance.",
            "V2 speckle instance.",
            "On premises instance."
          ],
          "description": " *SECOND_GEN*: Cloud SQL database instance. *EXTERNAL*: A database server that is not managed by Google. This property is read-only; use the *tier* property in the *settings* object to determine the database type.",
          "type": "string"
        },
        "serviceAccountEmailAddress": {
          "type": "string",
          "description": "The service account email address assigned to the instance. This property is read-only."
        },
        "maxDiskSize": {
          "type": "string",
          "format": "int64",
          "description": "The maximum disk size of the instance in bytes."
        },
        "replicaConfiguration": {
          "$ref": "ReplicaConfiguration",
          "description": "Configuration specific to failover replicas and read replicas."
        },
        "masterInstanceName": {
          "type": "string",
          "description": "The name of the instance which will act as primary in the replication setup."
        },
        "databaseVersion": {
          "type": "string",
          "description": "The database engine type and version. The *databaseVersion* field cannot be changed after instance creation. MySQL instances: *MYSQL_8_0*, *MYSQL_5_7* (default), or *MYSQL_5_6*. PostgreSQL instances: *POSTGRES_9_6*, *POSTGRES_10*, *POSTGRES_11*, *POSTGRES_12*, *POSTGRES_13* (default). SQL Server instances: *SQLSERVER_2019_STANDARD*, *SQLSERVER_2019_ENTERPRISE*, *SQLSERVER_2019_EXPRESS*, or *SQLSERVER_2019_WEB*, *SQLSERVER_2017_STANDARD* (default), *SQLSERVER_2017_ENTERPRISE*, *SQLSERVER_2017_EXPRESS*, or *SQLSERVER_2017_WEB*.",
          "enumDescriptions": [
            "This is an unknown database version.",
            "The database version is MySQL 5.1.",
            "The database version is MySQL 5.5.",
            "The database version is MySQL 5.6.",
            "The database version is MySQL 5.7.",
            "The database version is PostgreSQL 9.6.",
            "The database version is PostgreSQL 11.",
            "The database version is SQL Server 2017 Standard.",
            "The database version is SQL Server 2017 Enterprise.",
            "The database version is SQL Server 2017 Express.",
            "The database version is SQL Server 2017 Web.",
            "The database version is PostgreSQL 10.",
            "The database version is PostgreSQL 12.",
            "The database version is PostgreSQL 13.",
            "The database version is SQL Server 2019 Standard.",
            "The database version is SQL Server 2019 Enterprise.",
            "The database version is SQL Server 2019 Express.",
            "The database version is SQL Server 2019 Web."
          ],
          "enum": [
            "SQL_DATABASE_VERSION_UNSPECIFIED",
            "MYSQL_5_1",
            "MYSQL_5_5",
            "MYSQL_5_6",
            "MYSQL_5_7",
            "POSTGRES_9_6",
            "POSTGRES_11",
            "SQLSERVER_2017_STANDARD",
            "SQLSERVER_2017_ENTERPRISE",
[...]
