{
  "servicePath": "",
  "title": "Cloud SQL Admin API",
  "parameters": {
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ]
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/sqlservice.admin": {
          "description": "Manage your Google SQL Service instances"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "documentationLink": "https://developers.google.com/cloud-sql/",
  "basePath": "",
  "description": "API for Cloud SQL database instance management",
  "protocol": "rest",
  "ownerName": "Google",
  "fullyEncodeReservedExpansion": true,
  "name": "sqladmin",
  "schemas": {
    "OperationsListResponse": {
      "id": "OperationsListResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results.",
          "type": "string"
        },
        "kind": {
          "description": "This is always **sql#operationsList**.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "description": "List of operation resources.",
          "items": {
            "$ref": "Operation"
          }
        }
      },
      "description": "Operations list response."
    },
    "SslCertDetail": {
      "type": "object",
      "description": "SslCertDetail.",
      "properties": {
        "certPrivateKey": {
          "description": "The private key for the client cert, in pem format. Keep private in order to protect your security.",
          "type": "string"
        },
        "certInfo": {
          "$ref": "SslCert",
          "description": "The public information about the cert."
        }
      },
      "id": "SslCertDetail"
    },
    "InstancesDemoteMasterRequest": {
      "properties": {
        "demoteMasterContext": {
          "description": "Contains details about the demoteMaster operation.",
          "$ref": "DemoteMasterContext"
        }
      },
      "id": "InstancesDemoteMasterRequest",
      "type": "object",
      "description": "Database demote primary instance request."
    },
    "FlagsListResponse": {
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "This is always **sql#flagsList**."
        },
        "items": {
          "description": "List of flags.",
          "type": "array",
          "items": {
            "$ref": "Flag"
          }
        }
      },
      "description": "Flags list response.",
      "id": "FlagsListResponse"
    },
    "InstancesFailoverRequest": {
      "description": "Instance failover request.",
      "properties": {
        "failoverContext": {
          "description": "Failover Context.",
          "$ref": "FailoverContext"
        }
      },
      "id": "InstancesFailoverRequest",
      "type": "object"
    },
    "GenerateEphemeralCertRequest": {
      "type": "object",
      "description": "Ephemeral certificate creation request.",
      "id": "GenerateEphemeralCertRequest",
      "properties": {
        "readTime": {
          "type": "string",
          "description": "Optional. Optional snapshot read timestamp to trade freshness for performance.",
          "format": "google-datetime"
        },
        "access_token": {
          "type": "string",
          "description": "Optional. Access token to include in the signed certificate."
        },
        "validDuration": {
          "type": "string",
          "description": "Optional. If set, it will contain the cert valid duration.",
          "format": "google-duration"
        },
        "public_key": {
          "description": "PEM encoded public key to include in the signed certificate.",
          "type": "string"
        }
      }
    },
    "SqlInstancesVerifyExternalSyncSettingsResponse": {
      "description": "Instance verify external sync settings response.",
      "id": "SqlInstancesVerifyExternalSyncSettingsResponse",
      "properties": {
        "warnings": {
          "description": "List of migration warnings.",
          "items": {
            "$ref": "SqlExternalSyncSettingError"
          },
          "type": "array"
        },
        "kind": {
          "description": "This is always **sql#migrationSettingErrorList**.",
          "type": "string"
        },
        "errors": {
          "type": "array",
          "description": "List of migration violations.",
          "items": {
            "$ref": "SqlExternalSyncSettingError"
          }
        }
      },
      "type": "object"
    },
    "OperationError": {
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "This is always **sql#operationError**."
        },
        "message": {
          "description": "Additional information about the error encountered.",
          "type": "string"
        },
        "code": {
          "description": "Identifies the specific error that occurred.",
          "type": "string"
        }
      },
      "description": "Database instance operation error.",
      "id": "OperationError"
    },
    "DemoteMasterMySqlReplicaConfiguration": {
      "id": "DemoteMasterMySqlReplicaConfiguration",
      "type": "object",
      "description": "Read-replica configuration specific to MySQL databases.",
      "properties": {
        "clientKey": {
          "description": "PEM representation of the replica's private key. The corresponsing public key is encoded in the client's certificate. The format of the replica's private key can be either PKCS #1 or PKCS #8.",
          "type": "string"
        },
        "kind": {
          "description": "This is always **sql#demoteMasterMysqlReplicaConfiguration**.",
          "type": "string"
        },
        "username": {
          "description": "The username for the replication connection.",
          "type": "string"
        },
        "caCertificate": {
          "description": "PEM representation of the trusted CA's x509 certificate.",
          "type": "string"
        },
        "password": {
          "type": "string",
          "description": "The password for the replication connection."
        },
        "clientCertificate": {
          "description": "PEM representation of the replica's x509 certificate.",
          "type": "string"
        }
      }
    },
    "InstanceReference": {
      "description": "Reference to another Cloud SQL instance.",
      "properties": {
        "project": {
          "description": "The project ID of the Cloud SQL instance being referenced. The default is the same project ID as the instance references it.",
          "type": "string"
        },
        "name": {
          "description": "The name of the Cloud SQL instance being referenced. This does not include the project ID.",
          "type": "string"
        },
        "region": {
          "type": "string",
          "description": "The region of the Cloud SQL instance being referenced."
        }
      },
      "type": "object",
      "id": "InstanceReference"
    },
    "InstancesExportRequest": {
      "properties": {
        "exportContext": {
          "description": "Contains details about the export operation.",
          "$ref": "ExportContext"
        }
      },
      "id": "InstancesExportRequest",
      "type": "object",
      "description": "Database instance export request."
    },
    "InstancesImportRequest": {
      "properties": {
        "importContext": {
          "$ref": "ImportContext",
          "description": "Contains details about the import operation."
        }
      },
      "type": "object",
      "description": "Database instance import request.",
      "id": "InstancesImportRequest"
    },
    "TiersListResponse": {
      "properties": {
        "items": {
          "description": "List of tiers.",
          "type": "array",
          "items": {
            "$ref": "Tier"
          }
        },
        "kind": {
          "type": "string",
          "description": "This is always *sql#tiersList*."
        }
      },
      "id": "TiersListResponse",
      "type": "object",
      "description": "Tiers list response."
    },
    "SqlServerAuditConfig": {
      "properties": {
        "bucket": {
          "description": "The name of the destination bucket (e.g., gs://mybucket).",
          "type": "string"
        },
        "kind": {
          "description": "This is always sql#sqlServerAuditConfig",
          "type": "string"
        }
      },
      "description": "SQL Server specific audit configuration.",
      "type": "object",
      "id": "SqlServerAuditConfig"
    },
    "GenerateEphemeralCertResponse": {
      "type": "object",
      "description": "Ephemeral certificate creation request.",
      "id": "GenerateEphemeralCertResponse",
      "properties": {
        "ephemeralCert": {
          "description": "Generated cert",
          "$ref": "SslCert"
        }
      }
    },
    "PasswordValidationPolicy": {
      "description": "Database instance local user password validation policy",
      "properties": {
        "reuseInterval": {
          "type": "integer",
          "description": "Number of previous passwords that cannot be reused.",
          "format": "int32"
        },
        "complexity": {
          "description": "The complexity of the password.",
          "enumDescriptions": [
            "Complexity check is not specified.",
            "A combination of lowercase, uppercase, numeric, and non-alphanumeric characters."
          ],
          "type": "string",
          "enum": [
            "COMPLEXITY_UNSPECIFIED",
            "COMPLEXITY_DEFAULT"
          ]
        },
        "minLength": {
          "description": "Minimum number of characters allowed.",
          "type": "integer",
          "format": "int32"
        },
        "disallowUsernameSubstring": {
          "type": "boolean",
          "description": "Disallow username as a part of the password."
        },
        "passwordChangeInterval": {
          "format": "google-duration",
          "description": "Minimum interval after which the password can be changed.",
          "type": "string"
        }
      },
      "id": "PasswordValidationPolicy",
      "type": "object"
    },
    "ReplicaConfiguration": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "This is always **sql#replicaConfiguration**."
        },
        "mysqlReplicaConfiguration": {
          "description": "MySQL specific configuration when replicating from a MySQL on-premises primary instance. Replication configuration information such as the username, password, certificates, and keys are not stored in the instance metadata. The configuration information is used only to set up the replication connection and is stored by MySQL in a file named **master.info** in the data directory.",
          "$ref": "MySqlReplicaConfiguration"
        },
        "failoverTarget": {
          "description": "Specifies if the replica is the failover target. If the field is set to **true** the replica will be designated as a failover replica. In case the primary instance fails, the replica instance will be promoted as the new primary instance. Only one replica can be specified as failover target, and the replica has to be in different zone with the primary instance.",
          "type": "boolean"
        }
      },
      "id": "ReplicaConfiguration",
      "description": "Read-replica configuration for connecting to the primary instance.",
      "type": "object"
    },
    "SqlScheduledMaintenance": {
      "id": "SqlScheduledMaintenance",
      "type": "object",
      "properties": {
        "canDefer": {
          "type": "boolean"
        },
        "scheduleDeadlineTime": {
          "type": "string",
          "description": "Maintenance cannot be rescheduled to start beyond this deadline.",
          "format": "google-datetime"
        },
        "canReschedule": {
          "description": "If the scheduled maintenance can be rescheduled.",
          "type": "boolean"
        },
        "startTime": {
          "description": "The start time of any upcoming scheduled maintenance for this instance.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "Any scheduled maintenancce for this instance."
    },
    "TruncateLogContext": {
      "type": "object",
      "id": "TruncateLogContext",
      "properties": {
        "logType": {
          "description": "The type of log to truncate. Valid values are **MYSQL_GENERAL_TABLE** and **MYSQL_SLOW_TABLE**.",
          "type": "string"
        },
        "kind": {
          "description": "This is always **sql#truncateLogContext**.",
          "type": "string"
        }
      },
      "description": "Database Instance truncate log context."
    },
    "SqlExternalSyncSettingError": {
      "properties": {
        "detail": {
          "description": "Additional information about the error encountered.",
          "type": "string"
        },
        "kind": {
          "description": "Can be **sql#externalSyncSettingError** or **sql#externalSyncSettingWarning**.",
          "type": "string"
        },
        "type": {
          "description": "Identifies the specific error that occurred.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "Unsupported migration type.",
            "No pglogical extension installed on databases, applicable for postgres.",
            "pglogical node already exists on databases, applicable for postgres.",
            "The value of parameter wal_level is not set to logical.",
            "The value of parameter shared_preload_libraries does not include pglogical.",
            "The value of parameter max_replication_slots is not sufficient.",
            "The value of parameter max_wal_senders is not sufficient.",
            "The value of parameter max_worker_processes is not sufficient.",
            "Extensions installed are either not supported or having unsupported versions",
            "The value of parameter rds.logical_replication is not set to 1.",
            "The primary instance logging setup doesn't allow EM sync.",
            "The primary instance database parameter setup doesn't allow EM sync.",
            "The gtid_mode is not supported, applicable for MySQL.",
            "SQL Server Agent is not running.",
            "The table definition is not support due to missing primary key or replica identity, applicable for postgres.",
            "The customer has a definer that will break EM setup.",
            "SQL Server @@SERVERNAME does not match actual host name",
            "The primary instance has been setup and will fail the setup.",
            "The primary instance has unsupported binary log format.",
            "The primary instance's binary log retention setting."
          ],
          "type": "string",
          "enum": [
            "SQL_EXTERNAL_SYNC_SETTING_ERROR_TYPE_UNSPECIFIED",
            "CONNECTION_FAILURE",
            "BINLOG_NOT_ENABLED",
            "INCOMPATIBLE_DATABASE_VERSION",
            "REPLICA_ALREADY_SETUP",
            "INSUFFICIENT_PRIVILEGE",
            "UNSUPPORTED_MIGRATION_TYPE",
            "NO_PGLOGICAL_INSTALLED",
            "PGLOGICAL_NODE_ALREADY_EXISTS",
            "INVALID_WAL_LEVEL",
            "INVALID_SHARED_PRELOAD_LIBRARY",
            "INSUFFICIENT_MAX_REPLICATION_SLOTS",
            "INSUFFICIENT_MAX_WAL_SENDERS",
            "INSUFFICIENT_MAX_WORKER_PROCESSES",
            "UNSUPPORTED_EXTENSIONS",
            "INVALID_RDS_LOGICAL_REPLICATION",
            "INVALID_LOGGING_SETUP",
            "INVALID_DB_PARAM",
            "UNSUPPORTED_GTID_MODE",
            "SQLSERVER_AGENT_NOT_RUNNING",
            "UNSUPPORTED_TABLE_DEFINITION",
            "UNSUPPORTED_DEFINER",
            "SQLSERVER_SERVERNAME_MISMATCH",
            "PRIMARY_ALREADY_SETUP",
            "UNSUPPORTED_BINLOG_FORMAT",
            "BINLOG_RETENTION_SETTING"
          ]
        }
      },
      "id": "SqlExternalSyncSettingError",
      "type": "object",
      "description": "External primary instance migration setting error/warning."
    },
    "SslCertsInsertRequest": {
      "description": "SslCerts insert request.",
      "properties": {
        "commonName": {
          "type": "string",
          "description": "User supplied name. Must be a distinct name from the other certificates for this instance."
        }
      },
      "type": "object",
      "id": "SslCertsInsertRequest"
    },
    "InstancesListServerCasResponse": {
      "description": "Instances ListServerCas response.",
      "id": "InstancesListServerCasResponse",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "This is always **sql#instancesListServerCas**."
        },
        "activeVersion": {
          "type": "string"
        },
        "certs": {
          "description": "List of server CA certificates for the instance.",
          "type": "array",
          "items": {
            "$ref": "SslCert"
          }
        }
      }
    },
    "DatabaseInstance": {
      "type": "object",
      "id": "DatabaseInstance",
      "properties": {
        "ipAddresses": {
          "type": "array",
          "description": "The assigned IP addresses for the instance.",
          "items": {
            "$ref": "IpMapping"
          }
        },
        "databaseVersion": {
          "description": "The database engine type and version. The **databaseVersion** field cannot be changed after instance creation.",
          "enum": [
            "SQL_DATABASE_VERSION_UNSPECIFIED",
            "MYSQL_5_1",
            "MYSQL_5_5",
            "MYSQL_5_6",
            "MYSQL_5_7",
            "POSTGRES_9_6",
            "POSTGRES_11",
            "SQLSERVER_2017_STANDARD",
            "SQLSERVER_2017_ENTERPRISE",
            "SQLSERVER_2017_EXPRESS",
            "SQLSERVER_2017_WEB",
            "POSTGRES_10",
            "POSTGRES_12",
            "MYSQL_8_0",
            "MYSQL_8_0_18",
            "MYSQL_8_0_26",
            "POSTGRES_13",
            "POSTGRES_14",
            "SQLSERVER_2019_STANDARD",
            "SQLSERVER_2019_ENTERPRISE",
            "SQLSERVER_2019_EXPRESS",
            "SQLSERVER_2019_WEB"
          ],
          "type": "string",
          "enumDescriptions": [
            "This is an unknown database version.",
            "The database version is MySQL 5.1.",
            "The database version is MySQL 5.5.",
            "The database version is MySQL 5.6.",
            "The database version is MySQL 5.7.",
            "The database version is PostgreSQL 9.6.",
            "The database version is PostgreSQL 11.",
            "The database version is SQL Server 2017 Standard.",
            "The database version is SQL Server 2017 Enterprise.",
            "The database version is SQL Server 2017 Express.",
            "The database version is SQL Server 2017 Web.",
            "The database version is PostgreSQL 10.",
            "The database version is PostgreSQL 12.",
            "The database version is MySQL 8.",
            "The database major version is MySQL 8.0 and the minor version is 18.",
            "The database major version is MySQL 8.0 and the minor version is 26.",
            "The database version is PostgreSQL 13.",
            "The database version is PostgreSQL 14.",
            "The database version is SQL Server 2019 Standard.",
            "The database version is SQL Server 2019 Enterprise.",
            "The database version is SQL Server 2019 Express.",
            "The database version is SQL Server 2019 Web."
          ]
        },
        "onPremisesConfiguration": {
          "description": "Configuration specific to on-premises instances.",
          "$ref": "OnPremisesConfiguration"
        },
        "databaseInstalledVersion": {
          "readOnly": true,
          "description": "Output only. Stores the current database version running on the instance including minor version such as **MYSQL_8_0_18**.",
          "type": "string"
        },
        "selfLink": {
          "description": "The URI of this resource.",
          "type": "string"
        },
        "etag": {
          "description": "This field is deprecated and will be removed from a future version of the API. Use the **settings.settingsVersion** field instead.",
          "type": "string"
        },
        "serverCaCert": {
          "description": "SSL configuration.",
          "$ref": "SslCert"
        },
        "kind": {
          "type": "string",
          "description": "This is always **sql#instance**."
        },
        "outOfDiskReport": {
          "description": "This field represents the report generated by the proactive database wellness job for OutOfDisk issues. * Writers: * the proactive database wellness job for OOD. * Readers: * the proactive database wellness job",
          "$ref": "SqlOutOfDiskReport"
        },
        "settings": {
          "$ref": "Settings",
          "description": "The user settings."
        },
        "serviceAccountEmailAddress": {
          "type": "string",
          "description": "The service account email address assigned to the instance. This property is read-only."
        },
        "name": {
          "type": "string",
          "description": "Name of the Cloud SQL instance. This does not include the project ID."
        },
        "suspensionReason": {
          "type": "array",
          "items": {
            "enum": [
              "SQL_SUSPENSION_REASON_UNSPECIFIED",
              "BILLING_ISSUE",
              "LEGAL_ISSUE",
              "OPERATIONAL_ISSUE",
              "KMS_KEY_ISSUE"
            ],
            "type": "string",
            "enumDescriptions": [
              "This is an unknown suspension reason.",
              "The instance is suspended due to billing issues (for example:, GCP account issue)",
              "The instance is suspended due to illegal content (for example:, child pornography, copyrighted material, etc.).",
              "The instance is causing operational issues (for example:, causing the database to crash).",
              "The KMS key used by the instance is either revoked or denied access to"
            ]
          },
          "description": "If the instance state is SUSPENDED, the reason for the suspension."
        },
        "replicaConfiguration": {
          "description": "Configuration specific to failover replicas and read replicas.",
          "$ref": "ReplicaConfiguration"
        },
        "region": {
          "description": "The geographical region. Can be: * **us-central** (**FIRST_GEN** instances only) * **us-central1** (**SECOND_GEN** instances only) * **asia-east1** or **europe-west1**. Defaults to **us-central** or **us-central1** depending on the instance type. The region cannot be changed after instance creation.",
          "type": "string"
        },
        "diskEncryptionConfiguration": {
          "description": "Disk encryption configuration specific to an instance.",
          "$ref": "DiskEncryptionConfiguration"
        },
        "ipv6Address": {
          "type": "string",
          "description": "The IPv6 address assigned to the instance. (Deprecated) This property was applicable only to First Generation instances."
        },
        "gceZone": {
          "description": "The Compute Engine zone that the instance is currently serving from. This value could be different from the zone that was specified when the instance was created if the instance has failed over to its secondary zone. WARNING: Changing this might restart the instance.",
          "type": "string"
        },
        "secondaryGceZone": {
          "type": "string",
          "description": "The Compute Engine zone that the failover instance is currently serving from for a regional instance. This value could be different from the zone that was specified when the instance was created if the instance has failed over to its secondary/failover zone. Reserved for future use."
        },
        "connectionName": {
          "type": "string",
          "description": "Connection name of the Cloud SQL instance used in connection strings."
        },
        "replicaNames": {
          "description": "The replicas of the instance.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "masterInstanceName": {
          "type": "string",
          "description": "The name of the instance which will act as primary in the replication setup."
        },
        "diskEncryptionStatus": {
          "description": "Disk encryption status specific to an instance.",
          "$ref": "DiskEncryptionStatus"
        },
        "instanceType": {
          "enum": [
            "SQL_INSTANCE_TYPE_UNSPECIFIED",
            "CLOUD_SQL_INSTANCE",
            "ON_PREMISES_INSTANCE",
            "READ_REPLICA_INSTANCE"
          ],
          "type": "string",
          "enumDescriptions": [
            "This is an unknown Cloud SQL instance type.",
            "A regular Cloud SQL instance that is not replicating from a primary instance.",
            "An instance running on the customer's premises that is not managed by Cloud SQL.",
            "A Cloud SQL instance acting as a read-replica."
          ],
          "description": "The instance type."
        },
        "maxDiskSize": {
          "format": "int64",
          "type": "string",
          "description": "The maximum disk size of the instance in bytes."
        },
        "satisfiesPzs": {
          "type": "boolean",
          "description": "The status indicating if instance satisfiesPzs. Reserved for future use."
        },
        "backendType": {
          "enumDescriptions": [
            "This is an unknown backend type for instance.",
            "V1 speckle instance.",
            "V2 speckle instance.",
            "On premises instance."
          ],
          "description": "The backend type. **SECOND_GEN**: Cloud SQL database instance. **EXTERNAL**: A database server that is not managed by Google. This property is read-only; use the **tier** property in the **settings** object to determine the database type.",
          "type": "string",
          "enum": [
            "SQL_BACKEND_TYPE_UNSPECIFIED",
            "FIRST_GEN",
            "SECOND_GEN",
            "EXTERNAL"
          ]
        },
        "rootPassword": {
          "type": "string",
          "description": "Initial root password. Use only on creation."
        },
        "currentDiskSize": {
          "description": "The current disk usage of the instance in bytes. This property has been deprecated. Use the \"cloudsql.googleapis.com/database/disk/bytes_used\" metric in Cloud Monitoring API instead. Please see [this announcement](https://groups.google.com/d/msg/google-cloud-sql-announce/I_7-F9EBhT0/BtvFtdFeAgAJ) for details.",
          "type": "string",
          "format": "int64"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time when the instance was created in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example **2012-11-15T16:19:00.094Z**."
        },
        "scheduledMaintenance": {
          "description": "The start time of any upcoming scheduled maintenance for this instance.",
          "$ref": "SqlScheduledMaintenance"
        },
        "state": {
          "description": "The current serving state of the Cloud SQL instance.",
          "enumDescriptions": [
            "The state of the instance is unknown.",
            "The instance is running, or has been stopped by owner.",
            "The instance is not available, for example due to problems with billing.",
            "The instance is being deleted.",
            "The instance is being created.",
            "The instance is down for maintenance.",
            "The creation of the instance failed or a fatal error occurred during maintenance.",
            "Deprecated"
          ],
          "enum": [
            "SQL_INSTANCE_STATE_UNSPECIFIED",
            "RUNNABLE",
            "SUSPENDED",
            "PENDING_DELETE",
            "PENDING_CREATE",
            "MAINTENANCE",
            "FAILED",
            "ONLINE_MAINTENANCE"
          ],
          "type": "string"
        },
        "project": {
          "description": "The project ID of the project containing the Cloud SQL instance. The Google apps domain is prefixed if applicable.",
          "type": "string"
        },
        "failoverReplica": {
          "type": "object",
          "description": "The name and status of the failover replica.",
          "properties": {
            "name": {
              "type": "string",
              "description": "The name of the failover replica. If specified at instance creation, a failover replica is created for the instance. The name doesn't include the project ID."
            },
            "available": {
              "type": "boolean",
              "description": "The availability status of the failover replica. A false status indicates that the failover replica is out of sync. The primary instance can only failover to the failover replica when the status is true."
            }
          }
        }
      },
      "description": "A Cloud SQL instance resource."
    },
    "SqlServerDatabaseDetails": {
      "description": "Represents a Sql Server database on the Cloud SQL instance.",
      "properties": {
        "compatibilityLevel": {
          "type": "integer",
          "format": "int32",
          "description": "The version of SQL Server with which the database is to be made compatible"
        },
        "recoveryModel": {
          "type": "string",
          "description": "The recovery model of a SQL Server database"
        }
      },
      "type": "object",
      "id": "SqlServerDatabaseDetails"
    },
    "UsersListResponse": {
      "properties": {
        "kind": {
          "description": "This is always *sql#usersList*.",
          "type": "string"
        },
        "items": {
          "description": "List of user resources in the instance.",
          "items": {
            "$ref": "User"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "An identifier that uniquely identifies the operation. You can use this identifier to retrieve the Operations resource that has information about the operation.",
          "type": "string"
        }
      },
      "description": "User list response.",
      "type": "object",
      "id": "UsersListResponse"
    },
    "Settings": {
      "description": "Database instance settings.",
      "properties": {
        "dataDiskType": {
          "enum": [
            "SQL_DATA_DISK_TYPE_UNSPECIFIED",
            "PD_SSD",
            "PD_HDD",
            "OBSOLETE_LOCAL_SSD"
          ],
          "enumDescriptions": [
            "This is an unknown data disk type.",
            "An SSD data disk.",
            "An HDD data disk.",
            "This field is deprecated and will be removed from a future version of the API."
          ],
          "description": "The type of data disk: **PD_SSD** (default) or **PD_HDD**. Not used for First Generation instances.",
          "type": "string"
        },
        "databaseReplicationEnabled": {
          "description": "Configuration specific to read replica instances. Indicates whether replication is enabled or not. WARNING: Changing this restarts the instance.",
          "type": "boolean"
        },
        "authorizedGaeApplications": {
          "items": {
            "type": "string"
          },
          "description": "The App Engine app IDs that can access this instance. (Deprecated) Applied to First Generation instances only.",
          "type": "array"
        },
        "insightsConfig": {
          "description": "Insights configuration, for now relevant only for Postgres.",
          "$ref": "InsightsConfig"
        },
        "databaseFlags": {
          "description": "The database flags passed to the instance at startup.",
          "items": {
            "$ref": "DatabaseFlags"
          },
          "type": "array"
        },
        "passwordValidationPolicy": {
          "$ref": "PasswordValidationPolicy",
          "description": "The local user password validation policy of the instance."
        },
        "maintenanceWindow": {
          "description": "The maintenance window for this instance. This specifies when the instance can be restarted for maintenance purposes.",
          "$ref": "MaintenanceWindow"
        },
        "activeDirectoryConfig": {
          "$ref": "SqlActiveDirectoryConfig",
          "description": "Active Directory configuration, relevant only for Cloud SQL for SQL Server."
        },
        "userLabels": {
          "description": "User-provided labels, represented as a dictionary where each label is a single key value pair.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "storageAutoResizeLimit": {
          "description": "The maximum size to which storage capacity can be automatically increased. The default value is 0, which specifies that there is no limit.",
          "format": "int64",
          "type": "string"
        },
        "replicationType": {
          "enum": [
            "SQL_REPLICATION_TYPE_UNSPECIFIED",
            "SYNCHRONOUS",
            "ASYNCHRONOUS"
          ],
          "enumDescriptions": [
            "This is an unknown replication type for a Cloud SQL instance.",
            "The synchronous replication mode for First Generation instances. It is the default value.",
            "The asynchronous replication mode for First Generation instances. It provides a slight performance gain, but if an outage occurs while this option is set to asynchronous, you can lose up to a few seconds of updates to your data."
          ],
          "type": "string",
          "description": "The type of replication this instance uses. This can be either **ASYNCHRONOUS** or **SYNCHRONOUS**. (Deprecated) This property was only applicable to First Generation instances."
        },
        "pricingPlan": {
          "description": "The pricing plan for this instance. This can be either **PER_USE** or **PACKAGE**. Only **PER_USE** is supported for Second Generation instances.",
          "type": "string",
          "enumDescriptions": [
            "This is an unknown pricing plan for this instance.",
            "The instance is billed at a monthly flat rate.",
            "The instance is billed per usage."
          ],
          "enum": [
            "SQL_PRICING_PLAN_UNSPECIFIED",
            "PACKAGE",
            "PER_USE"
          ]
        },
        "tier": {
          "description": "The tier (or machine type) for this instance, for example **db-custom-1-3840**. WARNING: Changing this restarts the instance.",
          "type": "string"
        },
        "activationPolicy": {
          "description": "The activation policy specifies when the instance is activated; it is applicable only when the instance state is RUNNABLE. Valid values: * **ALWAYS**: The instance is on, and remains so even in the absence of connection requests. * **NEVER**: The instance is off; it is not activated, even if a connection request arrives.",
          "enumDescriptions": [
            "Unknown activation plan.",
            "The instance is always up and running.",
            "The instance never starts.",
            "The instance starts upon receiving requests."
          ],
          "type": "string",
          "enum": [
            "SQL_ACTIVATION_POLICY_UNSPECIFIED",
            "ALWAYS",
            "NEVER",
            "ON_DEMAND"
          ]
        },
        "crashSafeReplicationEnabled": {
          "description": "Configuration specific to read replica instances. Indicates whether database flags for crash-safe replication are enabled. This property was only applicable to First Generation instances.",
          "type": "boolean"
        },
        "collation": {
          "type": "string",
          "description": "The name of server Instance collation."
        },
        "availabilityType": {
          "enumDescriptions": [
            "This is an unknown Availability type.",
            "Zonal available instance.",
            "Regional available instance."
          ],
          "type": "string",
          "description": "Availability type. Potential values: * **ZONAL**: The instance serves data from only one zone. Outages in that zone affect data accessibility. * **REGIONAL**: The instance can serve data from more than one zone in a region (it is highly available)./ For more information, see [Overview of the High Availability Configuration](https://cloud.google.com/sql/docs/mysql/high-availability).",
          "enum": [
            "SQL_AVAILABILITY_TYPE_UNSPECIFIED",
            "ZONAL",
            "REGIONAL"
          ]
        },
        "kind": {
          "description": "This is always **sql#settings**.",
          "type": "string"
        },
        "locationPreference": {
          "description": "The location preference settings. This allows the instance to be located as near as possible to either an App Engine app or Compute Engine zone for better performance. App Engine co-location was only applicable to First Generation instances.",
          "$ref": "LocationPreference"
        },
        "settingsVersion": {
          "type": "string",
          "description": "The version of instance settings. This is a required field for update method to make sure concurrent updates are handled properly. During update, use the most recent settingsVersion value for this instance and do not try to update this value.",
          "format": "int64"
        },
        "dataDiskSizeGb": {
          "format": "int64",
          "description": "The size of data disk, in GB. The data disk size minimum is 10GB.",
          "type": "string"
        },
        "backupConfiguration": {
          "$ref": "BackupConfiguration",
          "description": "The daily backup configuration for the instance."
        },
        "ipConfiguration": {
          "description": "The settings for IP Management. This allows to enable or disable the instance IP and manage which external networks can connect to the instance. The IPv4 address cannot be disabled for Second Generation instances.",
          "$ref": "IpConfiguration"
        },
        "denyMaintenancePeriods": {
          "items": {
            "$ref": "DenyMaintenancePeriod"
          },
          "type": "array",
          "description": "Deny maintenance periods"
        },
        "storageAutoResize": {
          "type": "boolean",
          "description": "Configuration to increase storage size automatically. The default value is true."
        },
        "sqlServerAuditConfig": {
          "description": "SQL Server specific audit configuration.",
          "$ref": "SqlServerAuditConfig"
        }
      },
      "type": "object",
      "id": "Settings"
    },
    "SqlInstancesRescheduleMaintenanceRequestBody": {
      "type": "object",
      "id": "SqlInstancesRescheduleMaintenanceRequestBody",
      "properties": {
        "reschedule": {
          "description": "Required. The type of the reschedule the user wants.",
          "$ref": "Reschedule"
        }
      },
      "description": "Reschedule options for maintenance windows."
    },
    "BinLogCoordinates": {
      "properties": {
        "binLogPosition": {
          "description": "Position (offset) within the binary log file.",
          "format": "int64",
          "type": "string"
        },
        "kind": {
          "description": "This is always **sql#binLogCoordinates**.",
          "type": "string"
        },
        "binLogFileName": {
          "description": "Name of the binary log file for a Cloud SQL instance.",
          "type": "string"
        }
      },
      "id": "BinLogCoordinates",
      "type": "object",
      "description": "Binary log coordinates."
    },
    "RotateServerCaContext": {
      "id": "RotateServerCaContext",
      "type": "object",
      "properties": {
        "nextVersion": {
          "type": "string",
          "description": "The fingerprint of the next version to be rotated to. If left unspecified, will be rotated to the most recently added server CA version."
        },
        "kind": {
          "description": "This is always **sql#rotateServerCaContext**.",
          "type": "string"
        }
      },
      "description": "Instance rotate server CA context."
    },
    "ExportContext": {
      "type": "object",
      "description": "Database instance export context.",
      "properties": {
        "sqlExportOptions": {
          "type": "object",
          "description": "Options for exporting data as SQL statements.",
          "properties": {
            "mysqlExportOptions": {
              "description": "Options for exporting from MySQL.",
              "type": "object",
              "properties": {
                "masterData": {
                  "description": "Option to include SQL statement required to set up replication. If set to **1**, the dump file includes a CHANGE MASTER TO statement with the binary log coordinates, and --set-gtid-purged is set to ON. If set to **2**, the CHANGE MASTER TO statement is written as a SQL comment and has no effect. If set to any value other than **1**, --set-gtid-purged is set to OFF.",
                  "format": "int32",
                  "type": "integer"
                }
              }
            },
            "tables": {
              "items": {
                "type": "string"
              },
              "type": "array",
              "description": "Tables to export, or that were exported, from the specified database. If you specify tables, specify one and only one database. For PostgreSQL instances, you can specify only one table."
            },
            "schemaOnly": {
              "type": "boolean",
              "description": "Export only schemas."
            }
          }
        },
        "databases": {
          "type": "array",
          "description": "Databases to be exported. **MySQL instances:** If **fileType** is **SQL** and no database is specified, all databases are exported, except for the **mysql** system database. If **fileType** is **CSV**, you can specify one database, either by using this property or by using the **csvExportOptions.selectQuery** property, which takes precedence over this property. **PostgreSQL instances:** You must specify one database to be exported. If **fileType** is **CSV**, this database must match the one specified in the **csvExportOptions.selectQuery** property. **SQL Server instances:** You must specify one database to be exported, and the **fileType** must be **BAK**.",
          "items": {
            "type": "string"
          }
        },
        "offload": {
          "type": "boolean",
          "description": "Option for export offload."
        },
        "fileType": {
          "enumDescriptions": [
            "Unknown file type.",
            "File containing SQL statements.",
            "File in CSV format.",
            ""
          ],
          "description": "The file type for the specified uri.",
          "type": "string",
          "enum": [
            "SQL_FILE_TYPE_UNSPECIFIED",
            "SQL",
            "CSV",
            "BAK"
          ]
        },
        "uri": {
          "description": "The path to the file in Google Cloud Storage where the export will be stored. The URI is in the form **gs://bucketName/fileName**. If the file already exists, the request succeeds, but the operation fails. If **fileType** is **SQL** and the filename ends with .gz, the contents are compressed.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "This is always **sql#exportContext**."
        },
        "csvExportOptions": {
          "properties": {
            "quoteCharacter": {
              "description": "Specifies the quoting character to be used when a data value is quoted.",
              "type": "string"
            },
            "fieldsTerminatedBy": {
              "description": "Specifies the character that separates columns within each row (line) of the file.",
              "type": "string"
            },
            "escapeCharacter": {
              "description": "Specifies the character that should appear before a data character that needs to be escaped.",
              "type": "string"
            },
            "linesTerminatedBy": {
              "description": "This is used to separate lines. If a line does not contain all fields, the rest of the columns are set to their default values.",
              "type": "string"
            },
            "selectQuery": {
              "type": "string",
              "description": "The select query used to extract the data."
            }
          },
          "description": "Options for exporting data as CSV. **MySQL** and **PostgreSQL** instances only.",
          "type": "object"
        }
      },
      "id": "ExportContext"
    },
    "DiskEncryptionStatus": {
      "id": "DiskEncryptionStatus",
      "description": "Disk encryption status for an instance.",
      "properties": {
        "kind": {
          "description": "This is always **sql#diskEncryptionStatus**.",
          "type": "string"
        },
        "kmsKeyVersionName": {
          "type": "string",
          "description": "KMS key version used to encrypt the Cloud SQL instance resource"
        }
      },
      "type": "object"
    },
    "MaintenanceWindow": {
      "properties": {
        "updateTrack": {
          "enum": [
            "SQL_UPDATE_TRACK_UNSPECIFIED",
            "canary",
            "stable"
          ],
          "description": "Maintenance timing setting: **canary** (Earlier) or **stable** (Later). [Learn more](https://cloud.google.com/sql/docs/mysql/instance-settings#maintenance-timing-2ndgen).",
          "type": "string",
          "enumDescriptions": [
            "This is an unknown maintenance timing preference.",
            "For instance update that requires a restart, this update track indicates your instance prefer to restart for new version early in maintenance window.",
            "For instance update that requires a restart, this update track indicates your instance prefer to let Cloud SQL choose the timing of restart (within its Maintenance window, if applicable)."
          ]
        },
        "day": {
          "type": "integer",
          "description": "day of week (1-7), starting on Monday.",
          "format": "int32"
        },
        "kind": {
          "description": "This is always **sql#maintenanceWindow**.",
          "type": "string"
        },
        "hour": {
          "format": "int32",
          "type": "integer",
          "description": "hour of day - 0 to 23."
        }
      },
      "description": "Maintenance window. This specifies when a Cloud SQL instance is restarted for system maintenance purposes.",
      "type": "object",
      "id": "MaintenanceWindow"
    },
    "AclEntry": {
      "id": "AclEntry",
      "properties": {
        "value": {
          "description": "The allowlisted value for the access control list.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Optional. A label to identify this entry."
        },
        "expirationTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time when this access control entry expires in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example **2012-11-15T16:19:00.094Z**."
        },
        "kind": {
          "description": "This is always **sql#aclEntry**.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "An entry for an Access Control list."
    },
    "Tier": {
      "id": "Tier",
      "type": "object",
      "description": "A Google Cloud SQL service tier resource.",
      "properties": {
        "region": {
          "description": "The applicable regions for this tier.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "RAM": {
          "type": "string",
          "format": "int64",
          "description": "The maximum RAM usage of this tier in bytes."
        },
        "kind": {
          "description": "This is always *sql#tier*.",
          "type": "string"
        },
        "DiskQuota": {
          "format": "int64",
          "type": "string",
          "description": "The maximum disk size of this tier in bytes."
        },
        "tier": {
          "description": "An identifier for the machine type, for example, db-custom-1-3840. For related information, see Pricing.",
          "type": "string"
        }
      }
    },
    "LocationPreference": {
      "description": "Preferred location. This specifies where a Cloud SQL instance is located. Note that if the preferred location is not available, the instance will be located as close as possible within the region. Only one location may be specified.",
      "id": "LocationPreference",
      "properties": {
        "zone": {
          "type": "string",
          "description": "The preferred Compute Engine zone (for example: us-central1-a, us-central1-b, etc.). WARNING: Changing this might restart the instance."
        },
        "secondaryZone": {
          "type": "string",
          "description": "The preferred Compute Engine zone for the secondary/failover (for example: us-central1-a, us-central1-b, etc.). Reserved for future use."
        },
        "kind": {
          "description": "This is always **sql#locationPreference**.",
          "type": "string"
        },
        "followGaeApplication": {
          "type": "string",
          "description": "The App Engine application to follow, it must be in the same region as the Cloud SQL instance. WARNING: Changing this might restart the instance."
        }
      },
      "type": "object"
    },
    "UserPasswordValidationPolicy": {
      "description": "User level password validation policy.",
      "properties": {
        "status": {
          "$ref": "PasswordStatus",
          "description": "Output only. Read-only password status.",
          "readOnly": true
        },
        "enableFailedAttemptsCheck": {
          "type": "boolean",
          "description": "If true, failed login attempts check will be enabled."
        },
        "allowedFailedAttempts": {
          "type": "integer",
          "format": "int32",
          "description": "Number of failed login attempts allowed before user get locked."
        },
        "passwordExpirationDuration": {
          "description": "Expiration duration after password is updated.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "id": "UserPasswordValidationPolicy",
      "type": "object"
    },
    "IpMapping": {
      "description": "Database instance IP Mapping.",
      "type": "object",
      "id": "IpMapping",
      "properties": {
        "timeToRetire": {
          "format": "google-datetime",
          "description": "The due time for this IP to be retired in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example **2012-11-15T16:19:00.094Z**. This field is only available when the IP is scheduled to be retired.",
          "type": "string"
        },
        "ipAddress": {
          "description": "The IP address assigned.",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "This is an unknown IP address type.",
            "IP address the customer is supposed to connect to. Usually this is the load balancer's IP address",
            "Source IP address of the connection a read replica establishes to its external primary instance. This IP address can be allowlisted by the customer in case it has a firewall that filters incoming connection to its on premises primary instance.",
            "Private IP used when using private IPs and network peering.",
            "V1 IP of a migrated instance. We want the user to decommission this IP as soon as the migration is complete. Note: V1 instances with V1 ip addresses will be counted as PRIMARY."
          ],
          "description": "The type of this IP address. A **PRIMARY** address is a public address that can accept incoming connections. A **PRIVATE** address is a private address that can accept incoming connections. An **OUTGOING** address is the source address of connections originating from the instance, if supported.",
          "enum": [
            "SQL_IP_ADDRESS_TYPE_UNSPECIFIED",
            "PRIMARY",
            "OUTGOING",
            "PRIVATE",
            "MIGRATED_1ST_GEN"
          ],
          "type": "string"
        }
      }
    },
    "SqlOutOfDiskReport": {
      "properties": {
        "sqlMinRecommendedIncreaseSizeGb": {
          "description": "The minimum recommended increase size in GigaBytes This field is consumed by the frontend * Writers: * the proactive database wellness job for OOD. * Readers:",
          "type": "integer",
          "format": "int32"
        },
        "sqlOutOfDiskState": {
          "type": "string",
          "enum": [
            "SQL_OUT_OF_DISK_STATE_UNSPECIFIED",
            "NORMAL",
            "SOFT_SHUTDOWN"
          ],
          "description": "This field represents the state generated by the proactive database wellness job for OutOfDisk issues. * Writers: * the proactive database wellness job for OOD. * Readers: * the proactive database wellness job",
          "enumDescriptions": [
            "Unspecified state",
            "The instance has plenty space on data disk",
            "Data disk is almost used up. It is shutdown to prevent data corruption."
          ]
        }
      },
      "type": "object",
      "id": "SqlOutOfDiskReport",
      "description": "This message wraps up the information written by out-of-disk detection job."
    },
    "DiskEncryptionConfiguration": {
      "description": "Disk encryption configuration for an instance.",
      "type": "object",
      "id": "DiskEncryptionConfiguration",
      "properties": {
        "kind": {
          "type": "string",
          "description": "This is always **sql#diskEncryptionConfiguration**."
        },
        "kmsKeyName": {
          "description": "Resource name of KMS key for disk encryption",
          "type": "string"
        }
      }
    },
    "Reschedule": {
      "type": "object",
      "id": "Reschedule",
      "properties": {
        "scheduleTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. Timestamp when the maintenance shall be rescheduled to if reschedule_type=SPECIFIC_TIME, in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example **2012-11-15T16:19:00.094Z**."
        },
        "rescheduleType": {
          "description": "Required. The type of the reschedule.",
          "enumDescriptions": [
            "",
            "Reschedules maintenance to happen now (within 5 minutes).",
            "Reschedules maintenance to occur within one week from the originally scheduled day and time.",
            "Reschedules maintenance to a specific time and day."
          ],
          "enum": [
            "RESCHEDULE_TYPE_UNSPECIFIED",
            "IMMEDIATE",
            "NEXT_AVAILABLE_WINDOW",
            "SPECIFIC_TIME"
          ],
          "type": "string"
        }
      }
    },
    "ConnectSettings": {
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "This is always `sql#connectSettings`."
        },
        "region": {
          "description": "The cloud region for the instance. e.g. **us-central1**, **europe-west1**. The region cannot be changed after instance creation.",
          "type": "string"
        },
        "ipAddresses": {
          "items": {
            "$ref": "IpMapping"
          },
          "type": "array",
          "description": "The assigned IP addresses for the instance."
        },
        "serverCaCert": {
          "description": "SSL configuration.",
          "$ref": "SslCert"
        },
        "backendType": {
          "enumDescriptions": [
            "This is an unknown backend type for instance.",
            "V1 speckle instance.",
            "V2 speckle instance.",
            "On premises instance."
          ],
          "description": "**SECOND_GEN**: Cloud SQL database instance. **EXTERNAL**: A database server that is not managed by Google. This property is read-only; use the **tier** property in the **settings** object to determine the database type.",
          "type": "string",
          "enum": [
            "SQL_BACKEND_TYPE_UNSPECIFIED",
            "FIRST_GEN",
            "SECOND_GEN",
            "EXTERNAL"
          ]
        },
        "databaseVersion": {
          "enum": [
            "SQL_DATABASE_VERSION_UNSPECIFIED",
            "MYSQL_5_1",
            "MYSQL_5_5",
            "MYSQL_5_6",
            "MYSQL_5_7",
            "POSTGRES_9_6",
            "POSTGRES_11",
            "SQLSERVER_2017_STANDARD",
            "SQLSERVER_2017_ENTERPRISE",
            "SQLSERVER_2017_EXPRESS",
            "SQLSERVER_2017_WEB",
            "POSTGRES_10",
            "POSTGRES_12",
            "MYSQL_8_0",
            "MYSQL_8_0_18",
            "MYSQL_8_0_26",
            "POSTGRES_13",
            "POSTGRES_14",
            "SQLSERVER_2019_STANDARD",
            "SQLSERVER_2019_ENTERPRISE",
            "SQLSERVER_2019_EXPRESS",
            "SQLSERVER_2019_WEB"
          ],
          "enumDescriptions": [
            "This is an unknown database version.",
            "The database version is MySQL 5.1.",
            "The database version is MySQL 5.5.",
            "The database version is MySQL 5.6.",
            "The database version is MySQL 5.7.",
            "The database version is PostgreSQL 9.6.",
            "The database version is PostgreSQL 11.",
            "The database version is SQL Server 2017 Standard.",
            "The database version is SQL Server 2017 Enterprise.",
            "The database version is SQL Server 2017 Express.",
            "The database version is SQL Server 2017 Web.",
            "The database version is PostgreSQL 10.",
            "The database version is PostgreSQL 12.",
            "The database version is MySQL 8.",
            "The database major version is MySQL 8.0 and the minor version is 18.",
            "The database major version is MySQL 8.0 and the minor version is 26.",
            "The database version is PostgreSQL 13.",
            "The database version is PostgreSQL 14.",
            "The database version is SQL Server 2019 Standard.",
            "The database version is SQL Server 2019 Enterprise.",
            "The database version is SQL Server 2019 Express.",
            "The database version is SQL Server 2019 Web."
          ],
          "type": "string",
          "description": "The database engine type and version. The **databaseVersion** field cannot be changed after instance creation. MySQL instances: **MYSQL_8_0**, **MYSQL_5_7** (default), or **MYSQL_5_6**. PostgreSQL instances: **POSTGRES_9_6**, **POSTGRES_10**, **POSTGRES_11** or **POSTGRES_12** (default). SQL Server instances: **SQLSERVER_2017_STANDARD** (default), **SQLSERVER_2017_ENTERPRISE**, **SQLSERVER_2017_EXPRESS**, or **SQLSERVER_2017_WEB**."
        }
      },
      "description": "Connect settings retrieval response.",
      "id": "ConnectSettings"
    },
    "ImportContext": {
      "properties": {
        "bakImportOptions": {
          "properties": {
            "encryptionOptions": {
              "properties": {
                "pvkPath": {
                  "description": "Path to the Certificate Private Key (.pvk) in Cloud Storage, in the form **gs://bucketName/fileName**. The instance must have write permissions to the bucket and read access to the file.",
                  "type": "string"
                },
                "pvkPassword": {
                  "description": "Password that encrypts the private key",
                  "type": "string"
                },
                "certPath": {
                  "type": "string",
                  "description": "Path to the Certificate (.cer) in Cloud Storage, in the form **gs://bucketName/fileName**. The instance must have write permissions to the bucket and read access to the file."
                }
              },
              "type": "object"
            }
          },
          "description": "Import parameters specific to SQL Server .BAK files",
          "type": "object"
        },
        "importUser": {
          "type": "string",
          "description": "The PostgreSQL user for this import operation. PostgreSQL instances only."
        },
        "csvImportOptions": {
          "description": "Options for importing data as CSV.",
          "properties": {
            "linesTerminatedBy": {
              "description": "This is used to separate lines. If a line does not contain all fields, the rest of the columns are set to their default values.",
              "type": "string"
            },
            "escapeCharacter": {
              "description": "Specifies the character that should appear before a data character that needs to be escaped.",
              "type": "string"
            },
            "table": {
              "type": "string",
              "description": "The table to which CSV data is imported."
            },
            "columns": {
              "type": "array",
              "description": "The columns to which CSV data is imported. If not specified, all columns of the database table are loaded with CSV data.",
              "items": {
                "type": "string"
              }
            },
            "quoteCharacter": {
              "description": "Specifies the quoting character to be used when a data value is quoted.",
              "type": "string"
            },
            "fieldsTerminatedBy": {
              "type": "string",
              "description": "Specifies the character that separates columns within each row (line) of the file."
            }
          },
          "type": "object"
        },
        "uri": {
          "type": "string",
          "description": "Path to the import file in Cloud Storage, in the form **gs://bucketName/fileName**. Compressed gzip files (.gz) are supported when **fileType** is **SQL**. The instance must have write permissions to the bucket and read access to the file."
        },
        "kind": {
          "description": "This is always **sql#importContext**.",
          "type": "string"
        },
        "database": {
          "description": "The target database for the import. If **fileType** is **SQL**, this field is required only if the import file does not specify a database, and is overridden by any database specification in the import file. If **fileType** is **CSV**, one database must be specified.",
          "type": "string"
        },
        "fileType": {
          "description": "The file type for the specified uri. * **SQL**: The file contains SQL statements. * **CSV**: The file contains CSV data. * **BAK**: The file contains backup data for a SQL Server instance.",
          "enum": [
            "SQL_FILE_TYPE_UNSPECIFIED",
            "SQL",
            "CSV",
            "BAK"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown file type.",
            "File containing SQL statements.",
            "File in CSV format.",
            ""
          ]
        }
      },
      "type": "object",
      "description": "Database instance import context.",
      "id": "ImportContext"
    },
    "IpConfiguration": {
      "id": "IpConfiguration",
      "description": "IP Management configuration.",
      "properties": {
        "authorizedNetworks": {
          "description": "The list of external networks that are allowed to connect to the instance using the IP. In 'CIDR' notation, also known as 'slash' notation (for example: **157.197.200.0/24**).",
          "type": "array",
          "items": {
            "$ref": "AclEntry"
          }
        },
        "requireSsl": {
          "type": "boolean",
          "description": "Whether SSL connections over IP are enforced or not."
        },
        "allocatedIpRange": {
          "description": "The name of the allocated ip range for the private ip CloudSQL instance. For example: \"google-managed-services-default\". If set, the instance ip will be created in the allocated range. The range name must comply with [RFC 1035](https://tools.ietf.org/html/rfc1035). Specifically, the name must be 1-63 characters long and match the regular expression `[a-z]([-a-z0-9]*[a-z0-9])?.`",
          "type": "string"
        },
        "privateNetwork": {
          "type": "string",
          "description": "The resource link for the VPC network from which the Cloud SQL instance is accessible for private IP. For example, **/projects/myProject/global/networks/default**. This setting can be updated, but it cannot be removed after it is set."
        },
        "ipv4Enabled": {
          "type": "boolean",
          "description": "Whether the instance is assigned a public IP address or not."
        }
      },
      "type": "object"
    },
    "InstancesRotateServerCaRequest": {
      "description": "Rotate Server CA request.",
      "id": "InstancesRotateServerCaRequest",
      "properties": {
        "rotateServerCaContext": {
          "description": "Contains details about the rotate server CA operation.",
          "$ref": "RotateServerCaContext"
        }
      },
      "type": "object"
    },
    "InstancesRestoreBackupRequest": {
      "id": "InstancesRestoreBackupRequest",
      "description": "Database instance restore backup request.",
      "type": "object",
      "properties": {
        "restoreBackupContext": {
          "description": "Parameters required to perform the restore backup operation.",
          "$ref": "RestoreBackupContext"
        }
      }
    },
    "CloneContext": {
      "description": "Database instance clone context.",
      "type": "object",
      "properties": {
        "binLogCoordinates": {
          "description": "Binary log coordinates, if specified, identify the position up to which the source instance is cloned. If not specified, the source instance is cloned up to the most recent binary log coordinates.",
          "$ref": "BinLogCoordinates"
        },
        "destinationInstanceName": {
          "description": "Name of the Cloud SQL instance to be created as a clone.",
          "type": "string"
        },
        "pointInTime": {
          "type": "string",
          "description": "Timestamp, if specified, identifies the time to which the source instance is cloned.",
          "format": "google-datetime"
        },
        "pitrTimestampMs": {
          "description": "Reserved for future use.",
          "format": "int64",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "This is always **sql#cloneContext**."
        }
      },
      "id": "CloneContext"
    },
    "MySqlReplicaConfiguration": {
      "id": "MySqlReplicaConfiguration",
      "properties": {
        "sslCipher": {
          "description": "A list of permissible ciphers to use for SSL encryption.",
          "type": "string"
        },
        "clientCertificate": {
          "type": "string",
          "description": "PEM representation of the replica's x509 certificate."
        },
        "dumpFilePath": {
          "description": "Path to a SQL dump file in Google Cloud Storage from which the replica instance is to be created. The URI is in the form gs://bucketName/fileName. Compressed gzip files (.gz) are also supported. Dumps have the binlog co-ordinates from which replication begins. This can be accomplished by setting --master-data to 1 when using mysqldump.",
          "type": "string"
        },
        "clientKey": {
          "description": "PEM representation of the replica's private key. The corresponsing public key is encoded in the client's certificate.",
          "type": "string"
        },
        "caCertificate": {
          "description": "PEM representation of the trusted CA's x509 certificate.",
          "type": "string"
        },
        "verifyServerCertificate": {
          "description": "Whether or not to check the primary instance's Common Name value in the certificate that it sends during the SSL handshake.",
          "type": "boolean"
        },
        "connectRetryInterval": {
          "type": "integer",
          "description": "Seconds to wait between connect retries. MySQL's default is 60 seconds.",
          "format": "int32"
        },
        "password": {
          "type": "string",
          "description": "The password for the replication connection."
        },
        "kind": {
          "description": "This is always **sql#mysqlReplicaConfiguration**.",
          "type": "string"
        },
        "masterHeartbeatPeriod": {
          "format": "int64",
          "type": "string",
          "description": "Interval in milliseconds between replication heartbeats."
        },
        "username": {
          "type": "string",
          "description": "The username for the replication connection."
        }
      },
      "description": "Read-replica configuration specific to MySQL databases.",
      "type": "object"
    },
    "OperationErrors": {
      "properties": {
        "errors": {
          "type": "array",
          "items": {
            "$ref": "OperationError"
          },
          "description": "The list of errors encountered while processing this operation."
        },
        "kind": {
          "type": "string",
          "description": "This is always **sql#operationErrors**."
        }
      },
      "description": "Database instance operation errors list wrapper.",
      "type": "object",
      "id": "OperationErrors"
    },
    "SslCertsCreateEphemeralRequest": {
      "type": "object",
      "properties": {
        "public_key": {
          "description": "PEM encoded public key to include in the signed certificate.",
          "type": "string"
        },
        "access_token": {
          "description": "Access token to include in the signed certificate.",
          "type": "string"
        }
      },
      "id": "SslCertsCreateEphemeralRequest",
      "description": "SslCerts create ephemeral certificate request."
    },
    "MySqlSyncConfig": {
      "description": "MySQL-specific external server sync settings.",
      "id": "MySqlSyncConfig",
      "properties": {
        "initialSyncFlags": {
          "description": "Flags to use for the initial dump.",
          "items": {
            "$ref": "SyncFlags"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "OnPremisesConfiguration": {
      "type": "object",
      "properties": {
        "username": {
          "description": "The username for connecting to on-premises instance.",
          "type": "string"
        },
        "sourceInstance": {
          "$ref": "InstanceReference",
          "description": "The reference to Cloud SQL instance if the source is Cloud SQL."
        },
        "caCertificate": {
          "type": "string",
          "description": "PEM representation of the trusted CA's x509 certificate."
        },
        "password": {
          "type": "string",
          "description": "The password for connecting to on-premises instance."
        },
        "kind": {
          "description": "This is always **sql#onPremisesConfiguration**.",
          "type": "string"
        },
        "clientKey": {
          "description": "PEM representation of the replica's private key. The corresponsing public key is encoded in the client's certificate.",
          "type": "string"
        },
        "clientCertificate": {
          "description": "PEM representation of the replica's x509 certificate.",
          "type": "string"
        },
        "hostPort": {
          "type": "string",
          "description": "The host and port of the on-premises instance in host:port format"
        },
        "dumpFilePath": {
          "type": "string",
          "description": "The dump file to create the Cloud SQL replica."
        }
      },
      "description": "On-premises instance configuration.",
      "id": "OnPremisesConfiguration"
    },
    "Database": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "This is always **sql#database**."
        },
        "instance": {
          "type": "string",
          "description": "The name of the Cloud SQL instance. This does not include the project ID."
        },
        "name": {
          "description": "The name of the database in the Cloud SQL instance. This does not include the project ID or instance name.",
          "type": "string"
        },
        "charset": {
          "type": "string",
          "description": "The Cloud SQL charset value."
        },
        "project": {
          "description": "The project ID of the project containing the Cloud SQL database. The Google apps domain is prefixed if applicable.",
          "type": "string"
        },
        "selfLink": {
          "description": "The URI of this resource.",
          "type": "string"
        },
        "etag": {
          "description": "This field is deprecated and will be removed from a future version of the API.",
          "type": "string"
        },
        "sqlserverDatabaseDetails": {
          "$ref": "SqlServerDatabaseDetails"
        },
        "collation": {
          "type": "string",
          "description": "The Cloud SQL collation value."
        }
      },
      "type": "object",
      "id": "Database",
      "description": "Represents a SQL database on the Cloud SQL instance."
    },
    "DemoteMasterContext": {
      "properties": {
        "replicaConfiguration": {
          "description": "Configuration specific to read-replicas replicating from the on-premises primary instance.",
          "$ref": "DemoteMasterConfiguration"
        },
        "kind": {
          "description": "This is always **sql#demoteMasterContext**.",
          "type": "string"
        },
        "skipReplicationSetup": {
          "description": "Flag to skip replication setup on the instance.",
          "type": "boolean"
        },
        "verifyGtidConsistency": {
          "type": "boolean",
          "description": "Verify GTID consistency for demote operation. Default value: **True**. Setting this flag to false enables you to bypass GTID consistency check between on-premises primary instance and Cloud SQL instance during the demotion operation but also exposes you to the risk of future replication failures. Change the value only if you know the reason for the GTID divergence and are confident that doing so will not cause any replication issues."
        },
        "masterInstanceName": {
          "type": "string",
          "description": "The name of the instance which will act as on-premises primary instance in the replication setup."
        }
      },
      "id": "DemoteMasterContext",
      "description": "Database instance demote primary instance context.",
      "type": "object"
    },
    "RestoreBackupContext": {
      "id": "RestoreBackupContext",
      "description": "Database instance restore from backup context. Backup context contains source instance id and project id.",
      "properties": {
        "backupRunId": {
          "type": "string",
          "description": "The ID of the backup run to restore from.",
          "format": "int64"
        },
        "instanceId": {
          "description": "The ID of the instance that the backup was taken from.",
          "type": "string"
        },
        "project": {
          "type": "string",
          "description": "The full project ID of the source instance."
        },
        "kind": {
          "description": "This is always **sql#restoreBackupContext**.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SslCert": {
      "properties": {
        "instance": {
          "description": "Name of the database instance.",
          "type": "string"
        },
        "selfLink": {
          "type": "string",
          "description": "The URI of this resource."
        },
        "cert": {
          "type": "string",
          "description": "PEM representation."
        },
        "createTime": {
          "description": "The time when the certificate was created in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example **2012-11-15T16:19:00.094Z**.",
          "format": "google-datetime",
          "type": "string"
        },
        "commonName": {
          "type": "string",
          "description": "User supplied name. Constrained to [a-zA-Z.-_ ]+."
        },
        "kind": {
          "type": "string",
          "description": "This is always **sql#sslCert**."
        },
        "certSerialNumber": {
          "type": "string",
          "description": "Serial number, as extracted from the certificate."
        },
        "expirationTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time when the certificate expires in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example **2012-11-15T16:19:00.094Z**."
        },
        "sha1Fingerprint": {
          "description": "Sha1 Fingerprint.",
          "type": "string"
        }
      },
      "description": "SslCerts Resource",
      "id": "SslCert",
      "type": "object"
    },
    "PasswordStatus": {
      "properties": {
        "locked": {
          "type": "boolean",
          "description": "If true, user does not have login privileges."
        },
        "passwordExpirationTime": {
          "description": "The expiration time of the current password.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "Read-only password status.",
      "id": "PasswordStatus",
      "type": "object"
    },
    "SslCertsListResponse": {
      "type": "object",
      "properties": {
        "items": {
          "items": {
            "$ref": "SslCert"
          },
          "description": "List of client certificates for the instance.",
          "type": "array"
        },
        "kind": {
          "description": "This is always **sql#sslCertsList**.",
          "type": "string"
        }
      },
      "id": "SslCertsListResponse",
      "description": "SslCerts list response."
    },
    "BackupRunsListResponse": {
      "type": "object",
      "id": "BackupRunsListResponse",
      "description": "Backup run list results.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results."
        },
        "items": {
          "description": "A list of backup runs in reverse chronological order of the enqueued time.",
          "items": {
            "$ref": "BackupRun"
          },
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "This is always **sql#backupRunsList**."
        }
      }
    },
    "ApiWarning": {
      "description": "An Admin API warning message.",
      "id": "ApiWarning",
      "properties": {
        "code": {
          "enum": [
            "SQL_API_WARNING_CODE_UNSPECIFIED",
            "REGION_UNREACHABLE"
          ],
          "description": "Code to uniquely identify the warning type.",
          "type": "string",
          "enumDescriptions": [
            "An unknown or unset warning type from Cloud SQL API.",
            "Warning when one or more regions are not reachable. The returned result set may be incomplete."
          ]
        },
        "message": {
          "type": "string",
          "description": "The warning message."
        },
        "region": {
          "type": "string",
          "description": "The region name for REGION_UNREACHABLE warning."
        }
      },
      "type": "object"
    },
    "SqlInstancesStartExternalSyncRequest": {
      "properties": {
        "syncMode": {
          "enum": [
            "EXTERNAL_SYNC_MODE_UNSPECIFIED",
            "ONLINE",
            "OFFLINE"
          ],
          "enumDescriptions": [
            "Unknown external sync mode, will be defaulted to ONLINE mode",
            "Online external sync will set up replication after initial data external sync",
            "Offline external sync only dumps and loads a one-time snapshot of the primary instance's data"
          ],
          "type": "string",
          "description": "External sync mode."
        },
        "skipVerification": {
          "type": "boolean",
          "description": "Whether to skip the verification step (VESS)."
        },
        "mysqlSyncConfig": {
          "$ref": "MySqlSyncConfig",
          "description": "MySQL-specific settings for start external sync."
        }
      },
      "id": "SqlInstancesStartExternalSyncRequest",
      "type": "object"
    },
    "BackupContext": {
      "id": "BackupContext",
      "properties": {
        "kind": {
          "description": "This is always **sql#backupContext**.",
          "type": "string"
        },
        "backupId": {
          "description": "The identifier of the backup.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "Backup context.",
      "type": "object"
    },
    "SqlServerUserDetails": {
      "properties": {
        "serverRoles": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The server roles for this user"
        },
        "disabled": {
          "type": "boolean",
          "description": "If the user has been disabled"
        }
      },
      "description": "Represents a Sql Server user on the Cloud SQL instance.",
      "id": "SqlServerUserDetails",
      "type": "object"
    },
    "BackupRun": {
      "properties": {
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the backup operation completed in UTC timezone in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example **2012-11-15T16:19:00.094Z**."
        },
        "enqueuedTime": {
          "type": "string",
          "description": "The time the run was enqueued in UTC timezone in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example **2012-11-15T16:19:00.094Z**.",
          "format": "google-datetime"
        },
        "description": {
          "type": "string",
          "description": "The description of this run, only applicable to on-demand backups."
        },
        "status": {
          "description": "The status of this run.",
          "enum": [
            "SQL_BACKUP_RUN_STATUS_UNSPECIFIED",
            "ENQUEUED",
            "OVERDUE",
            "RUNNING",
            "FAILED",
            "SUCCESSFUL",
            "SKIPPED",
            "DELETION_PENDING",
            "DELETION_FAILED",
            "DELETED"
          ],
          "enumDescriptions": [
            "The status of the run is unknown.",
            "The backup operation was enqueued.",
            "The backup is overdue across a given backup window. Indicates a problem. Example: Long-running operation in progress during the whole window.",
            "The backup is in progress.",
            "The backup failed.",
            "The backup was successful.",
            "The backup was skipped (without problems) for a given backup window. Example: Instance was idle.",
            "The backup is about to be deleted.",
            "The backup deletion failed.",
            "The backup has been deleted."
          ],
          "type": "string"
        },
        "windowStartTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The start time of the backup window during which this the backup was attempted in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example **2012-11-15T16:19:00.094Z**."
        },
        "backupKind": {
          "description": "Specifies the kind of backup, PHYSICAL or DEFAULT_SNAPSHOT.",
          "type": "string",
          "enum": [
            "SQL_BACKUP_KIND_UNSPECIFIED",
            "SNAPSHOT",
            "PHYSICAL"
          ],
          "enumDescriptions": [
            "This is an unknown BackupKind.",
            "The snapshot based backups",
            "Physical backups"
          ]
        },
        "instance": {
          "description": "Name of the database instance.",
          "type": "string"
        },
        "diskEncryptionStatus": {
          "description": "Encryption status specific to a backup.",
          "$ref": "DiskEncryptionStatus"
        },
        "startTime": {
          "description": "The time the backup operation actually started in UTC timezone in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example **2012-11-15T16:19:00.094Z**.",
          "type": "string",
          "format": "google-datetime"
        },
        "id": {
          "description": "The identifier for this backup run. Unique only for a specific Cloud SQL instance.",
          "format": "int64",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "Location of the backups."
        },
        "diskEncryptionConfiguration": {
          "$ref": "DiskEncryptionConfiguration",
          "description": "Encryption configuration specific to a backup."
        },
        "selfLink": {
          "description": "The URI of this resource.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "This is always **sql#backupRun**."
        },
        "error": {
          "$ref": "OperationError",
          "description": "Information about why the backup operation failed. This is only present if the run has the FAILED status."
        },
        "type": {
          "enum": [
            "SQL_BACKUP_RUN_TYPE_UNSPECIFIED",
            "AUTOMATED",
            "ON_DEMAND"
          ],
          "enumDescriptions": [
            "This is an unknown BackupRun type.",
            "The backup schedule automatically triggers a backup.",
            "The user manually triggers a backup."
          ],
          "description": "The type of this run; can be either \"AUTOMATED\" or \"ON_DEMAND\". This field defaults to \"ON_DEMAND\" and is ignored, when specified for insert requests.",
          "type": "string"
        }
      },
      "id": "BackupRun",
      "description": "A BackupRun resource.",
      "type": "object"
    },
    "User": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "This is always *sql#user*."
        },
        "type": {
          "enum": [
            "BUILT_IN",
            "CLOUD_IAM_USER",
            "CLOUD_IAM_SERVICE_ACCOUNT"
          ],
          "description": "The user type. It determines the method to authenticate the user during login. The default is the database's built-in user type.",
          "enumDescriptions": [
            "The database's built-in user type.",
            "Cloud IAM user.",
            "Cloud IAM service account."
          ],
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the user in the Cloud SQL instance. Can be omitted for **update** since it is already specified in the URL."
        },
        "passwordPolicy": {
          "$ref": "UserPasswordValidationPolicy",
          "description": "User level password validation policy."
        },
        "instance": {
          "type": "string",
          "description": "The name of the Cloud SQL instance. This does not include the project ID. Can be omitted for *update* since it is already specified on the URL."
        },
        "host": {
          "type": "string",
          "description": "Optional. The host name from which the user can connect. For **insert** operations, host defaults to an empty string. For **update** operations, host is specified as part of the request URL. The host name cannot be updated after insertion. For a MySQL instance, it's required; for a PostgreSQL or SQL Server instance, it's optional."
        },
        "project": {
          "type": "string",
          "description": "The project ID of the project containing the Cloud SQL database. The Google apps domain is prefixed if applicable. Can be omitted for *update* since it is already specified on the URL."
        },
        "password": {
          "description": "The password for the user.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "This field is deprecated and will be removed from a future version of the API."
        },
        "sqlserverUserDetails": {
          "$ref": "SqlServerUserDetails"
        }
      },
      "description": "A Cloud SQL user resource.",
      "id": "User",
      "type": "object"
    },
    "DatabaseFlags": {
      "id": "DatabaseFlags",
      "type": "object",
      "description": "Database flags for Cloud SQL instances.",
      "properties": {
        "value": {
          "description": "The value of the flag. Booleans are set to **on** for true and **off** for false. This field must be omitted if the flag doesn't take a value.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the flag. These flags are passed at instance startup, so include both server options and system variables. Flags are specified with underscores, not hyphens. For more information, see [Configuring Database Flags](https://cloud.google.com/sql/docs/mysql/flags) in the Cloud SQL documentation."
        }
      }
    },
    "Operation": {
      "id": "Operation",
      "type": "object",
      "properties": {
        "targetLink": {
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time this operation finished in UTC timezone in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example **2012-11-15T16:19:00.094Z**."
        },
        "targetProject": {
          "description": "The project ID of the target instance related to this operation.",
          "type": "string"
        },
        "importContext": {
          "$ref": "ImportContext",
          "description": "The context for import operation, if applicable."
        },
        "kind": {
          "description": "This is always **sql#operation**.",
          "type": "string"
        },
        "error": {
          "$ref": "OperationErrors",
          "description": "If errors occurred during processing of this operation, this field will be populated."
        },
        "exportContext": {
          "description": "The context for export operation, if applicable.",
          "$ref": "ExportContext"
        },
        "backupContext": {
          "$ref": "BackupContext",
          "description": "The context for backup operation, if applicable."
        },
        "selfLink": {
          "description": "The URI of this resource.",
          "type": "string"
        },
        "status": {
          "enumDescriptions": [
            "The state of the operation is unknown.",
            "The operation has been queued, but has not started yet.",
            "The operation is running.",
            "The operation completed."
          ],
          "type": "string",
          "enum": [
            "SQL_OPERATION_STATUS_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "DONE"
          ],
          "description": "The status of an operation."
        },
        "targetId": {
          "type": "string",
          "description": "Name of the database instance related to this operation."
        },
        "insertTime": {
          "description": "The time this operation was enqueued in UTC timezone in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example **2012-11-15T16:19:00.094Z**.",
          "type": "string",
          "format": "google-datetime"
        },
        "user": {
          "description": "The email address of the user who initiated this operation.",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time this operation actually started in UTC timezone in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example **2012-11-15T16:19:00.094Z**."
        },
        "operationType": {
          "enum": [
            "SQL_OPERATION_TYPE_UNSPECIFIED",
            "IMPORT",
            "EXPORT",
            "CREATE",
            "UPDATE",
            "DELETE",
            "RESTART",
            "BACKUP",
            "SNAPSHOT",
            "BACKUP_VOLUME",
            "DELETE_VOLUME",
            "RESTORE_VOLUME",
            "INJECT_USER",
            "CLONE",
            "STOP_REPLICA",
            "START_REPLICA",
            "PROMOTE_REPLICA",
            "CREATE_REPLICA",
            "CREATE_USER",
            "DELETE_USER",
            "UPDATE_USER",
            "CREATE_DATABASE",
            "DELETE_DATABASE",
            "UPDATE_DATABASE",
            "FAILOVER",
            "DELETE_BACKUP",
            "RECREATE_REPLICA",
            "TRUNCATE_LOG",
            "DEMOTE_MASTER",
            "MAINTENANCE",
            "ENABLE_PRIVATE_IP",
            "DEFER_MAINTENANCE",
            "CREATE_CLONE",
            "RESCHEDULE_MAINTENANCE",
            "START_EXTERNAL_SYNC"
          ],
          "description": "The type of the operation. Valid values are: * **CREATE** * **DELETE** * **UPDATE** * **RESTART** * **IMPORT** * **EXPORT** * **BACKUP_VOLUME** * **RESTORE_VOLUME** * **CREATE_USER** * **DELETE_USER** * **CREATE_DATABASE** * **DELETE_DATABASE**",
          "enumDescriptions": [
            "Unknown operation type.",
            "Imports data into a Cloud SQL instance.",
            "Exports data from a Cloud SQL instance to a Cloud Storage bucket.",
            "Creates a new Cloud SQL instance.",
            "Updates the settings of a Cloud SQL instance.",
            "Deletes a Cloud SQL instance.",
            "Restarts the Cloud SQL instance.",
            "",
            "",
            "Performs instance backup.",
            "Deletes an instance backup.",
            "Restores an instance backup.",
            "Injects a privileged user in mysql for MOB instances.",
            "Clones a Cloud SQL instance.",
            "Stops replication on a Cloud SQL read replica instance.",
            "Starts replication on a Cloud SQL read replica instance.",
            "Promotes a Cloud SQL replica instance.",
            "Creates a Cloud SQL replica instance.",
            "Creates a new user in a Cloud SQL instance.",
            "Deletes a user from a Cloud SQL instance.",
            "Updates an existing user in a Cloud SQL instance.",
            "Creates a database in the Cloud SQL instance.",
            "Deletes a database in the Cloud SQL instance.",
            "Updates a database in the Cloud SQL instance.",
            "Performs failover of an HA-enabled Cloud SQL failover replica.",
            "Deletes the backup taken by a backup run.",
            "",
            "Truncates a general or slow log table in MySQL.",
            "Demotes the stand-alone instance to be a Cloud SQL read replica for an external database server.",
            "Indicates that the instance is currently in maintenance. Maintenance typically causes the instance to be unavailable for 1-3 minutes.",
            "This field is deprecated, and will be removed in future version of API.",
            "",
            "Creates clone instance.",
            "Reschedule maintenance to another time.",
            "Starts external sync of a Cloud SQL EM replica to an external primary instance."
          ],
          "type": "string"
        },
        "name": {
[...]
