{
  "canonicalName": "SQL Admin",
  "description": "API for Cloud SQL database instance management",
  "rootUrl": "https://sqladmin.googleapis.com/",
  "protocol": "rest",
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://sqladmin.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "batchPath": "batch",
  "version": "v1beta4",
  "servicePath": "",
  "schemas": {
    "UserPasswordValidationPolicy": {
      "description": "User level password validation policy.",
      "properties": {
        "enablePasswordVerification": {
          "type": "boolean",
          "description": "If true, the user must specify the current password before changing the password. This flag is supported only for MySQL."
        },
        "passwordExpirationDuration": {
          "type": "string",
          "description": "Expiration duration after password is updated.",
          "format": "google-duration"
        },
        "allowedFailedAttempts": {
          "type": "integer",
          "description": "Number of failed login attempts allowed before user get locked.",
          "format": "int32"
        },
        "status": {
          "readOnly": true,
          "$ref": "PasswordStatus",
          "description": "Output only. Read-only password status."
        },
        "enableFailedAttemptsCheck": {
          "type": "boolean",
          "description": "If true, failed login attempts check will be enabled."
        }
      },
      "type": "object",
      "id": "UserPasswordValidationPolicy"
    },
    "InstancesExportRequest": {
      "description": "Database instance export request.",
      "id": "InstancesExportRequest",
      "type": "object",
      "properties": {
        "exportContext": {
          "description": "Contains details about the export operation.",
          "$ref": "ExportContext"
        }
      }
    },
    "TruncateLogContext": {
      "properties": {
        "logType": {
          "description": "The type of log to truncate. Valid values are `MYSQL_GENERAL_TABLE` and `MYSQL_SLOW_TABLE`.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#truncateLogContext`."
        }
      },
      "description": "Database Instance truncate log context.",
      "id": "TruncateLogContext",
      "type": "object"
    },
    "SslCertsListResponse": {
      "id": "SslCertsListResponse",
      "type": "object",
      "description": "SslCerts list response.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "This is always `sql#sslCertsList`."
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "SslCert"
          },
          "description": "List of client certificates for the instance."
        }
      }
    },
    "BackupConfiguration": {
      "properties": {
        "transactionLogRetentionDays": {
          "format": "int32",
          "type": "integer",
          "description": "The number of days of transaction logs we retain for point in time restore, from 1-7."
        },
        "replicationLogArchivingEnabled": {
          "type": "boolean",
          "description": "Reserved for future use."
        },
        "location": {
          "type": "string",
          "description": "Location of the backup"
        },
        "enabled": {
          "description": "Whether this configuration is enabled.",
          "type": "boolean"
        },
        "binaryLogEnabled": {
          "description": "(MySQL only) Whether binary log is enabled. If backup configuration is disabled, binarylog must be disabled as well.",
          "type": "boolean"
        },
        "kind": {
          "description": "This is always `sql#backupConfiguration`.",
          "type": "string"
        },
        "startTime": {
          "description": "Start time for the daily backup configuration in UTC timezone in the 24 hour format - `HH:MM`.",
          "type": "string"
        },
        "backupRetentionSettings": {
          "$ref": "BackupRetentionSettings",
          "description": "Backup retention settings."
        },
        "pointInTimeRecoveryEnabled": {
          "description": "Whether point in time recovery is enabled.",
          "type": "boolean"
        }
      },
      "id": "BackupConfiguration",
      "description": "Database instance backup configuration.",
      "type": "object"
    },
    "SslCertsInsertRequest": {
      "description": "SslCerts insert request.",
      "type": "object",
      "id": "SslCertsInsertRequest",
      "properties": {
        "commonName": {
          "type": "string",
          "description": "User supplied name. Must be a distinct name from the other certificates for this instance."
        }
      }
    },
    "DemoteMasterContext": {
      "id": "DemoteMasterContext",
      "type": "object",
      "properties": {
        "masterInstanceName": {
          "description": "The name of the instance which will act as on-premises primary instance in the replication setup.",
          "type": "string"
        },
        "kind": {
          "description": "This is always `sql#demoteMasterContext`.",
          "type": "string"
        },
        "replicaConfiguration": {
          "$ref": "DemoteMasterConfiguration",
          "description": "Configuration specific to read-replicas replicating from the on-premises primary instance."
        },
        "skipReplicationSetup": {
          "description": "Flag to skip replication setup on the instance.",
          "type": "boolean"
        },
        "verifyGtidConsistency": {
          "type": "boolean",
          "description": "Verify the GTID consistency for demote operation. Default value: `True`. Setting this flag to `false` enables you to bypass the GTID consistency check between on-premises primary instance and Cloud SQL instance during the demotion operation but also exposes you to the risk of future replication failures. Change the value only if you know the reason for the GTID divergence and are confident that doing so will not cause any replication issues."
        }
      },
      "description": "Database instance demote primary instance context."
    },
    "SqlServerUserDetails": {
      "id": "SqlServerUserDetails",
      "type": "object",
      "description": "Represents a Sql Server user on the Cloud SQL instance.",
      "properties": {
        "serverRoles": {
          "items": {
            "type": "string"
          },
          "description": "The server roles for this user",
          "type": "array"
        },
        "disabled": {
          "description": "If the user has been disabled",
          "type": "boolean"
        }
      }
    },
    "SqlInstancesVerifyExternalSyncSettingsRequest": {
      "properties": {
        "mysqlSyncConfig": {
          "description": "Optional. MySQL-specific settings for start external sync.",
          "$ref": "MySqlSyncConfig"
        },
        "verifyReplicationOnly": {
          "type": "boolean",
          "description": "Optional. Flag to verify settings required by replication setup only"
        },
        "syncMode": {
          "description": "External sync mode",
          "enum": [
            "EXTERNAL_SYNC_MODE_UNSPECIFIED",
            "ONLINE",
            "OFFLINE"
          ],
          "enumDescriptions": [
            "Unknown external sync mode, will be defaulted to ONLINE mode",
            "Online external sync will set up replication after initial data external sync",
            "Offline external sync only dumps and loads a one-time snapshot of the primary instance's data"
          ],
          "type": "string"
        },
        "verifyConnectionOnly": {
          "description": "Flag to enable verifying connection only",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "SqlInstancesVerifyExternalSyncSettingsRequest"
    },
    "SslCertsInsertResponse": {
      "description": "SslCert insert response.",
      "type": "object",
      "id": "SslCertsInsertResponse",
      "properties": {
        "operation": {
          "description": "The operation to track the ssl certs insert request.",
          "$ref": "Operation"
        },
        "clientCert": {
          "description": "The new client certificate and private key.",
          "$ref": "SslCertDetail"
        },
        "serverCaCert": {
          "$ref": "SslCert",
          "description": "The server Certificate Authority's certificate. If this is missing you can force a new one to be generated by calling resetSslConfig method on instances resource."
        },
        "kind": {
          "description": "This is always `sql#sslCertsInsert`.",
          "type": "string"
        }
      }
    },
    "SslCert": {
      "properties": {
        "kind": {
          "description": "This is always `sql#sslCert`.",
          "type": "string"
        },
        "selfLink": {
          "description": "The URI of this resource.",
          "type": "string"
        },
        "commonName": {
          "type": "string",
          "description": "User supplied name. Constrained to [a-zA-Z.-_ ]+."
        },
        "instance": {
          "description": "Name of the database instance.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time when the certificate was created in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`."
        },
        "sha1Fingerprint": {
          "description": "Sha1 Fingerprint.",
          "type": "string"
        },
        "expirationTime": {
          "format": "google-datetime",
          "description": "The time when the certificate expires in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "type": "string"
        },
        "cert": {
          "type": "string",
          "description": "PEM representation."
        },
        "certSerialNumber": {
          "type": "string",
          "description": "Serial number, as extracted from the certificate."
        }
      },
      "id": "SslCert",
      "description": "SslCerts Resource",
      "type": "object"
    },
    "RestoreBackupContext": {
      "id": "RestoreBackupContext",
      "description": "Database instance restore from backup context. Backup context contains source instance id and project id.",
      "properties": {
        "backupRunId": {
          "format": "int64",
          "type": "string",
          "description": "The ID of the backup run to restore from."
        },
        "kind": {
          "description": "This is always `sql#restoreBackupContext`.",
          "type": "string"
        },
        "instanceId": {
          "type": "string",
          "description": "The ID of the instance that the backup was taken from."
        },
        "project": {
          "type": "string",
          "description": "The full project ID of the source instance."
        }
      },
      "type": "object"
    },
    "InstancesDemoteMasterRequest": {
      "type": "object",
      "properties": {
        "demoteMasterContext": {
          "description": "Contains details about the demoteMaster operation.",
          "$ref": "DemoteMasterContext"
        }
      },
      "id": "InstancesDemoteMasterRequest",
      "description": "Database demote primary instance request."
    },
    "SqlServerAuditConfig": {
      "properties": {
        "retentionInterval": {
          "format": "google-duration",
          "description": "How long to keep generated audit files.",
          "type": "string"
        },
        "uploadInterval": {
          "description": "How often to upload generated audit files.",
          "type": "string",
          "format": "google-duration"
        },
        "kind": {
          "type": "string",
          "description": "This is always sql#sqlServerAuditConfig"
        },
        "bucket": {
          "type": "string",
          "description": "The name of the destination bucket (e.g., gs://mybucket)."
        }
      },
      "id": "SqlServerAuditConfig",
      "description": "SQL Server specific audit configuration.",
      "type": "object"
    },
    "PasswordValidationPolicy": {
      "properties": {
        "complexity": {
          "description": "The complexity of the password.",
          "enumDescriptions": [
            "Complexity check is not specified.",
            "A combination of lowercase, uppercase, numeric, and non-alphanumeric characters."
          ],
          "enum": [
            "COMPLEXITY_UNSPECIFIED",
            "COMPLEXITY_DEFAULT"
          ],
          "type": "string"
        },
        "disallowUsernameSubstring": {
          "description": "Disallow username as a part of the password.",
          "type": "boolean"
        },
        "enablePasswordPolicy": {
          "type": "boolean",
          "description": "Whether the password policy is enabled or not."
        },
        "minLength": {
          "format": "int32",
          "type": "integer",
          "description": "Minimum number of characters allowed."
        },
        "passwordChangeInterval": {
          "type": "string",
          "format": "google-duration",
          "description": "Minimum interval after which the password can be changed. This flag is only supported for PostgreSQL."
        },
        "reuseInterval": {
          "type": "integer",
          "format": "int32",
          "description": "Number of previous passwords that cannot be reused."
        }
      },
      "description": "Database instance local user password validation policy",
      "id": "PasswordValidationPolicy",
      "type": "object"
    },
    "SqlInstancesVerifyExternalSyncSettingsResponse": {
      "type": "object",
      "id": "SqlInstancesVerifyExternalSyncSettingsResponse",
      "properties": {
        "kind": {
          "description": "This is always `sql#migrationSettingErrorList`.",
          "type": "string"
        },
        "warnings": {
          "description": "List of migration warnings.",
          "type": "array",
          "items": {
            "$ref": "SqlExternalSyncSettingError"
          }
        },
        "errors": {
          "items": {
            "$ref": "SqlExternalSyncSettingError"
          },
          "description": "List of migration violations.",
          "type": "array"
        }
      },
      "description": "Instance verify external sync settings response."
    },
    "Settings": {
      "type": "object",
      "description": "Database instance settings.",
      "id": "Settings",
      "properties": {
        "timeZone": {
          "type": "string",
          "description": "Server timezone, relevant only for Cloud SQL for SQL Server."
        },
        "databaseFlags": {
          "type": "array",
          "description": "The database flags passed to the instance at startup.",
          "items": {
            "$ref": "DatabaseFlags"
          }
        },
        "pricingPlan": {
          "enumDescriptions": [
            "This is an unknown pricing plan for this instance.",
            "The instance is billed at a monthly flat rate.",
            "The instance is billed per usage."
          ],
          "enum": [
            "SQL_PRICING_PLAN_UNSPECIFIED",
            "PACKAGE",
            "PER_USE"
          ],
          "type": "string",
          "description": "The pricing plan for this instance. This can be either `PER_USE` or `PACKAGE`. Only `PER_USE` is supported for Second Generation instances."
        },
        "deletionProtectionEnabled": {
          "type": "boolean",
          "description": "Configuration to protect against accidental instance deletion."
        },
        "storageAutoResize": {
          "type": "boolean",
          "description": "Configuration to increase storage size automatically. The default value is true."
        },
        "dataDiskType": {
          "type": "string",
          "description": "The type of data disk: `PD_SSD` (default) or `PD_HDD`. Not used for First Generation instances.",
          "enumDescriptions": [
            "This is an unknown data disk type.",
            "An SSD data disk.",
            "An HDD data disk.",
            "This field is deprecated and will be removed from a future version of the API."
          ],
          "enum": [
            "SQL_DATA_DISK_TYPE_UNSPECIFIED",
            "PD_SSD",
            "PD_HDD",
            "OBSOLETE_LOCAL_SSD"
          ]
        },
        "activeDirectoryConfig": {
          "$ref": "SqlActiveDirectoryConfig",
          "description": "Active Directory configuration, relevant only for Cloud SQL for SQL Server."
        },
        "replicationType": {
          "description": "The type of replication this instance uses. This can be either `ASYNCHRONOUS` or `SYNCHRONOUS`. (Deprecated) This property was only applicable to First Generation instances.",
          "enumDescriptions": [
            "This is an unknown replication type for a Cloud SQL instance.",
            "The synchronous replication mode for First Generation instances. It is the default value.",
            "The asynchronous replication mode for First Generation instances. It provides a slight performance gain, but if an outage occurs while this option is set to asynchronous, you can lose up to a few seconds of updates to your data."
          ],
          "enum": [
            "SQL_REPLICATION_TYPE_UNSPECIFIED",
            "SYNCHRONOUS",
            "ASYNCHRONOUS"
          ],
          "type": "string"
        },
        "storageAutoResizeLimit": {
          "type": "string",
          "description": "The maximum size to which storage capacity can be automatically increased. The default value is 0, which specifies that there is no limit.",
          "format": "int64"
        },
        "crashSafeReplicationEnabled": {
          "type": "boolean",
          "description": "Configuration specific to read replica instances. Indicates whether database flags for crash-safe replication are enabled. This property was only applicable to First Generation instances."
        },
        "tier": {
          "description": "The tier (or machine type) for this instance, for example `db-custom-1-3840`. WARNING: Changing this restarts the instance.",
          "type": "string"
        },
        "dataDiskSizeGb": {
          "type": "string",
          "format": "int64",
          "description": "The size of data disk, in GB. The data disk size minimum is 10GB."
        },
        "collation": {
          "description": "The name of server Instance collation.",
          "type": "string"
        },
        "authorizedGaeApplications": {
          "items": {
            "type": "string"
          },
          "description": "The App Engine app IDs that can access this instance. (Deprecated) Applied to First Generation instances only.",
          "type": "array"
        },
        "passwordValidationPolicy": {
          "$ref": "PasswordValidationPolicy",
          "description": "The local user password validation policy of the instance."
        },
        "sqlServerAuditConfig": {
          "$ref": "SqlServerAuditConfig",
          "description": "SQL Server specific audit configuration."
        },
        "denyMaintenancePeriods": {
          "description": "Deny maintenance periods",
          "type": "array",
          "items": {
            "$ref": "DenyMaintenancePeriod"
          }
        },
        "maintenanceWindow": {
          "$ref": "MaintenanceWindow",
          "description": "The maintenance window for this instance. This specifies when the instance can be restarted for maintenance purposes."
        },
        "activationPolicy": {
          "description": "The activation policy specifies when the instance is activated; it is applicable only when the instance state is RUNNABLE. Valid values: * `ALWAYS`: The instance is on, and remains so even in the absence of connection requests. * `NEVER`: The instance is off; it is not activated, even if a connection request arrives.",
          "enumDescriptions": [
            "Unknown activation plan.",
            "The instance is always up and running.",
            "The instance never starts.",
            "The instance starts upon receiving requests."
          ],
          "type": "string",
          "enum": [
            "SQL_ACTIVATION_POLICY_UNSPECIFIED",
            "ALWAYS",
            "NEVER",
            "ON_DEMAND"
          ]
        },
        "ipConfiguration": {
          "description": "The settings for IP Management. This allows to enable or disable the instance IP and manage which external networks can connect to the instance. The IPv4 address cannot be disabled for Second Generation instances.",
          "$ref": "IpConfiguration"
        },
        "kind": {
          "description": "This is always `sql#settings`.",
          "type": "string"
        },
        "userLabels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "User-provided labels, represented as a dictionary where each label is a single key value pair.",
          "type": "object"
        },
        "advancedMachineFeatures": {
          "$ref": "AdvancedMachineFeatures",
          "description": "Specifies advance machine configuration for the instance relevant only for SQL Server."
        },
        "locationPreference": {
          "description": "The location preference settings. This allows the instance to be located as near as possible to either an App Engine app or Compute Engine zone for better performance. App Engine co-location was only applicable to First Generation instances.",
          "$ref": "LocationPreference"
        },
        "backupConfiguration": {
          "description": "The daily backup configuration for the instance.",
          "$ref": "BackupConfiguration"
        },
        "insightsConfig": {
          "$ref": "InsightsConfig",
          "description": "Insights configuration, for now relevant only for Postgres."
        },
        "databaseReplicationEnabled": {
          "description": "Configuration specific to read replica instances. Indicates whether replication is enabled or not. WARNING: Changing this restarts the instance.",
          "type": "boolean"
        },
        "availabilityType": {
          "description": "Availability type. Potential values: * `ZONAL`: The instance serves data from only one zone. Outages in that zone affect data accessibility. * `REGIONAL`: The instance can serve data from more than one zone in a region (it is highly available)./ For more information, see [Overview of the High Availability Configuration](https://cloud.google.com/sql/docs/mysql/high-availability).",
          "enumDescriptions": [
            "This is an unknown Availability type.",
            "Zonal available instance.",
            "Regional available instance."
          ],
          "type": "string",
          "enum": [
            "SQL_AVAILABILITY_TYPE_UNSPECIFIED",
            "ZONAL",
            "REGIONAL"
          ]
        },
        "settingsVersion": {
          "type": "string",
          "format": "int64",
          "description": "The version of instance settings. This is a required field for update method to make sure concurrent updates are handled properly. During update, use the most recent settingsVersion value for this instance and do not try to update this value."
        },
        "connectorEnforcement": {
          "enum": [
            "CONNECTOR_ENFORCEMENT_UNSPECIFIED",
            "NOT_REQUIRED",
            "REQUIRED"
          ],
          "description": "Specifies if connections must use Cloud SQL connectors. Option values include the following: `NOT_REQUIRED` (Cloud SQL instances can be connected without Cloud SQL Connectors) and `REQUIRED` (Only allow connections that use Cloud SQL Connectors) Note that using REQUIRED disables all existing authorized networks. If this field is not specified when creating a new instance, NOT_REQUIRED is used. If this field is not specified when patching or updating an existing instance, it is left unchanged in the instance.",
          "enumDescriptions": [
            "The requirement for Cloud SQL connectors is unknown.",
            "Do not require Cloud SQL connectors.",
            "Require all connections to use Cloud SQL connectors, including the Cloud SQL Auth Proxy and Cloud SQL Java, Python, and Go connectors. Note: This disables all existing authorized networks."
          ],
          "type": "string"
        }
      }
    },
    "DiskEncryptionConfiguration": {
      "description": "Disk encryption configuration for an instance.",
      "type": "object",
      "id": "DiskEncryptionConfiguration",
      "properties": {
        "kmsKeyName": {
          "description": "Resource name of KMS key for disk encryption",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#diskEncryptionConfiguration`."
        }
      }
    },
    "LocationPreference": {
      "id": "LocationPreference",
      "type": "object",
      "properties": {
        "followGaeApplication": {
          "description": "The App Engine application to follow, it must be in the same region as the Cloud SQL instance. WARNING: Changing this might restart the instance.",
          "type": "string"
        },
        "secondaryZone": {
          "type": "string",
          "description": "The preferred Compute Engine zone for the secondary/failover (for example: us-central1-a, us-central1-b, etc.)."
        },
        "zone": {
          "description": "The preferred Compute Engine zone (for example: us-central1-a, us-central1-b, etc.). WARNING: Changing this might restart the instance.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#locationPreference`."
        }
      },
      "description": "Preferred location. This specifies where a Cloud SQL instance is located. Note that if the preferred location is not available, the instance will be located as close as possible within the region. Only one location may be specified."
    },
    "UsersListResponse": {
      "id": "UsersListResponse",
      "description": "User list response.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Unused.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "This is always *sql#usersList*."
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "User"
          },
          "description": "List of user resources in the instance."
        }
      }
    },
    "SslCertsCreateEphemeralRequest": {
      "id": "SslCertsCreateEphemeralRequest",
      "properties": {
        "public_key": {
          "description": "PEM encoded public key to include in the signed certificate.",
          "type": "string"
        },
        "access_token": {
          "type": "string",
          "description": "Access token to include in the signed certificate."
        }
      },
      "description": "SslCerts create ephemeral certificate request.",
      "type": "object"
    },
    "PasswordStatus": {
      "type": "object",
      "description": "Read-only password status.",
      "properties": {
        "passwordExpirationTime": {
          "description": "The expiration time of the current password.",
          "format": "google-datetime",
          "type": "string"
        },
        "locked": {
          "description": "If true, user does not have login privileges.",
          "type": "boolean"
        }
      },
      "id": "PasswordStatus"
    },
    "OperationsListResponse": {
      "description": "Operations list response.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results."
        },
        "items": {
          "items": {
            "$ref": "Operation"
          },
          "type": "array",
          "description": "List of operation resources."
        },
        "kind": {
          "description": "This is always `sql#operationsList`.",
          "type": "string"
        }
      },
      "id": "OperationsListResponse",
      "type": "object"
    },
    "BackupRunsListResponse": {
      "description": "Backup run list results.",
      "id": "BackupRunsListResponse",
      "type": "object",
      "properties": {
        "kind": {
          "description": "This is always `sql#backupRunsList`.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results.",
          "type": "string"
        },
        "items": {
          "description": "A list of backup runs in reverse chronological order of the enqueued time.",
          "type": "array",
          "items": {
            "$ref": "BackupRun"
          }
        }
      }
    },
    "Database": {
      "id": "Database",
      "type": "object",
      "description": "Represents a SQL database on the Cloud SQL instance.",
      "properties": {
        "selfLink": {
          "type": "string",
          "description": "The URI of this resource."
        },
        "collation": {
          "type": "string",
          "description": "The Cloud SQL collation value."
        },
        "charset": {
          "type": "string",
          "description": "The Cloud SQL charset value."
        },
        "kind": {
          "description": "This is always `sql#database`.",
          "type": "string"
        },
        "project": {
          "type": "string",
          "description": "The project ID of the project containing the Cloud SQL database. The Google apps domain is prefixed if applicable."
        },
        "sqlserverDatabaseDetails": {
          "$ref": "SqlServerDatabaseDetails"
        },
        "instance": {
          "type": "string",
          "description": "The name of the Cloud SQL instance. This does not include the project ID."
        },
        "etag": {
          "description": "This field is deprecated and will be removed from a future version of the API.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the database in the Cloud SQL instance. This does not include the project ID or instance name."
        }
      }
    },
    "InstancesRestoreBackupRequest": {
      "description": "Database instance restore backup request.",
      "id": "InstancesRestoreBackupRequest",
      "type": "object",
      "properties": {
        "restoreBackupContext": {
          "description": "Parameters required to perform the restore backup operation.",
          "$ref": "RestoreBackupContext"
        }
      }
    },
    "TiersListResponse": {
      "description": "Tiers list response.",
      "type": "object",
      "properties": {
        "items": {
          "description": "List of tiers.",
          "items": {
            "$ref": "Tier"
          },
          "type": "array"
        },
        "kind": {
          "description": "This is always `sql#tiersList`.",
          "type": "string"
        }
      },
      "id": "TiersListResponse"
    },
    "InstancesListResponse": {
      "type": "object",
      "id": "InstancesListResponse",
      "properties": {
        "nextPageToken": {
          "description": "The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results.",
          "type": "string"
        },
        "kind": {
          "description": "This is always `sql#instancesList`.",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "DatabaseInstance"
          },
          "type": "array",
          "description": "List of database instance resources."
        },
        "warnings": {
          "items": {
            "$ref": "ApiWarning"
          },
          "type": "array",
          "description": "List of warnings that occurred while handling the request."
        }
      },
      "description": "Database instances list response."
    },
    "SqlActiveDirectoryConfig": {
      "properties": {
        "domain": {
          "description": "The name of the domain (e.g., mydomain.com).",
          "type": "string"
        },
        "kind": {
          "description": "This is always sql#activeDirectoryConfig.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Active Directory configuration, relevant only for Cloud SQL for SQL Server.",
      "id": "SqlActiveDirectoryConfig"
    },
    "InsightsConfig": {
      "type": "object",
      "description": "Insights configuration. This specifies when Cloud SQL Insights feature is enabled and optional configuration.",
      "id": "InsightsConfig",
      "properties": {
        "queryInsightsEnabled": {
          "description": "Whether Query Insights feature is enabled.",
          "type": "boolean"
        },
        "queryPlansPerMinute": {
          "description": "Number of query execution plans captured by Insights per minute for all queries combined. Default is 5.",
          "type": "integer",
          "format": "int32"
        },
        "queryStringLength": {
          "type": "integer",
          "description": "Maximum query length stored in bytes. Default value: 1024 bytes. Range: 256-4500 bytes. Query length more than this field value will be truncated to this value. When unset, query length will be the default value. Changing query length will restart the database.",
          "format": "int32"
        },
        "recordApplicationTags": {
          "description": "Whether Query Insights will record application tags from query when enabled.",
          "type": "boolean"
        },
        "recordClientAddress": {
          "description": "Whether Query Insights will record client address when enabled.",
          "type": "boolean"
        }
      }
    },
    "BackupContext": {
      "description": "Backup context.",
      "id": "BackupContext",
      "type": "object",
      "properties": {
        "kind": {
          "description": "This is always `sql#backupContext`.",
          "type": "string"
        },
        "backupId": {
          "description": "The identifier of the backup.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "MaintenanceWindow": {
      "description": "Maintenance window. This specifies when a Cloud SQL instance is restarted for system maintenance purposes.",
      "id": "MaintenanceWindow",
      "type": "object",
      "properties": {
        "kind": {
          "description": "This is always `sql#maintenanceWindow`.",
          "type": "string"
        },
        "updateTrack": {
          "type": "string",
          "enum": [
            "SQL_UPDATE_TRACK_UNSPECIFIED",
            "canary",
            "stable"
          ],
          "description": "Maintenance timing setting: `canary` (Earlier) or `stable` (Later). [Learn more](https://cloud.google.com/sql/docs/mysql/instance-settings#maintenance-timing-2ndgen).",
          "enumDescriptions": [
            "This is an unknown maintenance timing preference.",
            "For instance update that requires a restart, this update track indicates your instance prefer to restart for new version early in maintenance window.",
            "For instance update that requires a restart, this update track indicates your instance prefer to let Cloud SQL choose the timing of restart (within its Maintenance window, if applicable)."
          ]
        },
        "day": {
          "format": "int32",
          "description": "day of week (1-7), starting on Monday.",
          "type": "integer"
        },
        "hour": {
          "format": "int32",
          "type": "integer",
          "description": "hour of day - 0 to 23."
        }
      }
    },
    "PerformDiskShrinkContext": {
      "id": "PerformDiskShrinkContext",
      "description": "Perform disk shrink context.",
      "type": "object",
      "properties": {
        "targetSizeGb": {
          "format": "int64",
          "type": "string",
          "description": "The target disk shrink size in GigaBytes."
        }
      }
    },
    "SqlScheduledMaintenance": {
      "properties": {
        "canDefer": {
          "type": "boolean"
        },
        "scheduleDeadlineTime": {
          "format": "google-datetime",
          "description": "Maintenance cannot be rescheduled to start beyond this deadline.",
          "type": "string"
        },
        "canReschedule": {
          "description": "If the scheduled maintenance can be rescheduled.",
          "type": "boolean"
        },
        "startTime": {
          "type": "string",
          "description": "The start time of any upcoming scheduled maintenance for this instance.",
          "format": "google-datetime"
        }
      },
      "description": "Any scheduled maintenance for this instance.",
      "id": "SqlScheduledMaintenance",
      "type": "object"
    },
    "CloneContext": {
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "This is always `sql#cloneContext`."
        },
        "allocatedIpRange": {
          "type": "string",
          "description": "The name of the allocated ip range for the private ip Cloud SQL instance. For example: \"google-managed-services-default\". If set, the cloned instance ip will be created in the allocated range. The range name must comply with [RFC 1035](https://tools.ietf.org/html/rfc1035). Specifically, the name must be 1-63 characters long and match the regular expression [a-z]([-a-z0-9]*[a-z0-9])?. Reserved for future use."
        },
        "preferredZone": {
          "type": "string",
          "description": "(Point-in-time recovery for PostgreSQL only) Clone to an instance in the specified zone. If no zone is specified, clone to the same zone as the source instance."
        },
        "binLogCoordinates": {
          "description": "Binary log coordinates, if specified, identify the position up to which the source instance is cloned. If not specified, the source instance is cloned up to the most recent binary log coordinates.",
          "$ref": "BinLogCoordinates"
        },
        "databaseNames": {
          "type": "array",
          "description": "(SQL Server only) Clone only the specified databases from the source instance. Clone all databases if empty.",
          "items": {
            "type": "string"
          }
        },
        "pointInTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Timestamp, if specified, identifies the time to which the source instance is cloned."
        },
        "pitrTimestampMs": {
          "type": "string",
          "description": "Reserved for future use.",
          "format": "int64"
        },
        "destinationInstanceName": {
          "type": "string",
          "description": "Name of the Cloud SQL instance to be created as a clone."
        }
      },
      "id": "CloneContext",
      "description": "Database instance clone context."
    },
    "SslCertDetail": {
      "id": "SslCertDetail",
      "properties": {
        "certInfo": {
          "$ref": "SslCert",
          "description": "The public information about the cert."
        },
        "certPrivateKey": {
          "type": "string",
          "description": "The private key for the client cert, in pem format. Keep private in order to protect your security."
        }
      },
      "type": "object",
      "description": "SslCertDetail."
    },
    "DemoteMasterConfiguration": {
      "properties": {
        "mysqlReplicaConfiguration": {
          "$ref": "DemoteMasterMySqlReplicaConfiguration",
          "description": "MySQL specific configuration when replicating from a MySQL on-premises primary instance. Replication configuration information such as the username, password, certificates, and keys are not stored in the instance metadata. The configuration information is used only to set up the replication connection and is stored by MySQL in a file named `master.info` in the data directory."
        },
        "kind": {
          "description": "This is always `sql#demoteMasterConfiguration`.",
          "type": "string"
        }
      },
      "id": "DemoteMasterConfiguration",
      "description": "Read-replica configuration for connecting to the on-premises primary instance.",
      "type": "object"
    },
    "InstancesListServerCasResponse": {
      "id": "InstancesListServerCasResponse",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "This is always `sql#instancesListServerCas`."
        },
        "certs": {
          "description": "List of server CA certificates for the instance.",
          "items": {
            "$ref": "SslCert"
          },
          "type": "array"
        },
        "activeVersion": {
          "type": "string"
        }
      },
      "description": "Instances ListServerCas response."
    },
    "ConnectSettings": {
      "description": "Connect settings retrieval response.",
      "properties": {
        "databaseVersion": {
          "enumDescriptions": [
            "This is an unknown database version.",
            "The database version is MySQL 5.1.",
            "The database version is MySQL 5.5.",
            "The database version is MySQL 5.6.",
            "The database version is MySQL 5.7.",
            "The database version is SQL Server 2017 Standard.",
            "The database version is SQL Server 2017 Enterprise.",
            "The database version is SQL Server 2017 Express.",
            "The database version is SQL Server 2017 Web.",
            "The database version is PostgreSQL 9.6.",
            "The database version is PostgreSQL 10.",
            "The database version is PostgreSQL 11.",
            "The database version is PostgreSQL 12.",
            "The database version is PostgreSQL 13.",
            "The database version is PostgreSQL 14.",
            "The database version is PostgreSQL 15.",
            "The database version is MySQL 8.",
            "The database major version is MySQL 8.0 and the minor version is 18.",
            "The database major version is MySQL 8.0 and the minor version is 26.",
            "The database major version is MySQL 8.0 and the minor version is 27.",
            "The database major version is MySQL 8.0 and the minor version is 28.",
            "The database major version is MySQL 8.0 and the minor version is 29.",
            "The database major version is MySQL 8.0 and the minor version is 30.",
            "The database major version is MySQL 8.0 and the minor version is 31.",
            "The database major version is MySQL 8.0 and the minor version is 32.",
            "The database major version is MySQL 8.0 and the minor version is 33.",
            "The database major version is MySQL 8.0 and the minor version is 34.",
            "The database major version is MySQL 8.0 and the minor version is 35.",
            "The database major version is MySQL 8.0 and the minor version is 36.",
            "The database version is SQL Server 2019 Standard.",
            "The database version is SQL Server 2019 Enterprise.",
            "The database version is SQL Server 2019 Express.",
            "The database version is SQL Server 2019 Web."
          ],
          "type": "string",
          "description": "The database engine type and version. The `databaseVersion` field cannot be changed after instance creation. MySQL instances: `MYSQL_8_0`, `MYSQL_5_7` (default), or `MYSQL_5_6`. PostgreSQL instances: `POSTGRES_9_6`, `POSTGRES_10`, `POSTGRES_11` or `POSTGRES_12` (default), `POSTGRES_13`, or `POSTGRES_14`. SQL Server instances: `SQLSERVER_2017_STANDARD` (default), `SQLSERVER_2017_ENTERPRISE`, `SQLSERVER_2017_EXPRESS`, `SQLSERVER_2017_WEB`, `SQLSERVER_2019_STANDARD`, `SQLSERVER_2019_ENTERPRISE`, `SQLSERVER_2019_EXPRESS`, or `SQLSERVER_2019_WEB`.",
          "enum": [
            "SQL_DATABASE_VERSION_UNSPECIFIED",
            "MYSQL_5_1",
            "MYSQL_5_5",
            "MYSQL_5_6",
            "MYSQL_5_7",
            "SQLSERVER_2017_STANDARD",
            "SQLSERVER_2017_ENTERPRISE",
            "SQLSERVER_2017_EXPRESS",
            "SQLSERVER_2017_WEB",
            "POSTGRES_9_6",
            "POSTGRES_10",
            "POSTGRES_11",
            "POSTGRES_12",
            "POSTGRES_13",
            "POSTGRES_14",
            "POSTGRES_15",
            "MYSQL_8_0",
            "MYSQL_8_0_18",
            "MYSQL_8_0_26",
            "MYSQL_8_0_27",
            "MYSQL_8_0_28",
            "MYSQL_8_0_29",
            "MYSQL_8_0_30",
            "MYSQL_8_0_31",
            "MYSQL_8_0_32",
            "MYSQL_8_0_33",
            "MYSQL_8_0_34",
            "MYSQL_8_0_35",
            "MYSQL_8_0_36",
            "SQLSERVER_2019_STANDARD",
            "SQLSERVER_2019_ENTERPRISE",
            "SQLSERVER_2019_EXPRESS",
            "SQLSERVER_2019_WEB"
          ]
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#connectSettings`."
        },
        "ipAddresses": {
          "items": {
            "$ref": "IpMapping"
          },
          "type": "array",
          "description": "The assigned IP addresses for the instance."
        },
        "backendType": {
          "enum": [
            "SQL_BACKEND_TYPE_UNSPECIFIED",
            "FIRST_GEN",
            "SECOND_GEN",
            "EXTERNAL"
          ],
          "description": "`SECOND_GEN`: Cloud SQL database instance. `EXTERNAL`: A database server that is not managed by Google. This property is read-only; use the `tier` property in the `settings` object to determine the database type.",
          "type": "string",
          "enumDescriptions": [
            "This is an unknown backend type for instance.",
            "V1 speckle instance.",
            "V2 speckle instance.",
            "On premises instance."
          ]
        },
        "serverCaCert": {
          "$ref": "SslCert",
          "description": "SSL configuration."
        },
        "region": {
          "type": "string",
          "description": "The cloud region for the instance. e.g. `us-central1`, `europe-west1`. The region cannot be changed after instance creation."
        }
      },
      "id": "ConnectSettings",
      "type": "object"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "properties": {},
      "type": "object"
    },
    "AclEntry": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Optional. A label to identify this entry."
        },
        "kind": {
          "description": "This is always `sql#aclEntry`.",
          "type": "string"
        },
        "expirationTime": {
          "format": "google-datetime",
          "description": "The time when this access control entry expires in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "The allowlisted value for the access control list."
        }
      },
      "id": "AclEntry",
      "description": "An entry for an Access Control list."
    },
    "InstancesRotateServerCaRequest": {
      "description": "Rotate Server CA request.",
      "properties": {
        "rotateServerCaContext": {
          "description": "Contains details about the rotate server CA operation.",
          "$ref": "RotateServerCaContext"
        }
      },
      "id": "InstancesRotateServerCaRequest",
      "type": "object"
    },
    "Tier": {
      "description": "A Google Cloud SQL service tier resource.",
      "id": "Tier",
      "properties": {
        "DiskQuota": {
          "description": "The maximum disk size of this tier in bytes.",
          "format": "int64",
          "type": "string"
        },
        "RAM": {
          "format": "int64",
          "description": "The maximum RAM usage of this tier in bytes.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#tier`."
        },
        "tier": {
          "description": "An identifier for the machine type, for example, `db-custom-1-3840`. For related information, see [Pricing](/sql/pricing).",
          "type": "string"
        },
        "region": {
          "description": "The applicable regions for this tier.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "DatabaseInstance": {
      "id": "DatabaseInstance",
      "description": "A Cloud SQL instance resource.",
      "properties": {
        "availableMaintenanceVersions": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. List all maintenance versions applicable on the instance",
          "type": "array"
        },
        "backendType": {
          "enumDescriptions": [
            "This is an unknown backend type for instance.",
            "V1 speckle instance.",
            "V2 speckle instance.",
            "On premises instance."
          ],
          "description": "The backend type. `SECOND_GEN`: Cloud SQL database instance. `EXTERNAL`: A database server that is not managed by Google. This property is read-only; use the `tier` property in the `settings` object to determine the database type.",
          "enum": [
            "SQL_BACKEND_TYPE_UNSPECIFIED",
            "FIRST_GEN",
            "SECOND_GEN",
            "EXTERNAL"
          ],
          "type": "string"
        },
        "maxDiskSize": {
          "type": "string",
          "description": "The maximum disk size of the instance in bytes.",
          "format": "int64"
        },
        "state": {
          "description": "The current serving state of the Cloud SQL instance.",
          "type": "string",
          "enumDescriptions": [
            "The state of the instance is unknown.",
            "The instance is running, or has been stopped by owner.",
            "The instance is not available, for example due to problems with billing.",
            "The instance is being deleted.",
            "The instance is being created.",
            "The instance is down for maintenance.",
            "The creation of the instance failed or a fatal error occurred during maintenance.",
            "Deprecated"
          ],
          "enum": [
            "SQL_INSTANCE_STATE_UNSPECIFIED",
            "RUNNABLE",
            "SUSPENDED",
            "PENDING_DELETE",
            "PENDING_CREATE",
            "MAINTENANCE",
            "FAILED",
            "ONLINE_MAINTENANCE"
          ]
        },
        "rootPassword": {
          "description": "Initial root password. Use only on creation. You must set root passwords before you can connect to PostgreSQL instances.",
          "type": "string"
        },
        "diskEncryptionConfiguration": {
          "description": "Disk encryption configuration specific to an instance.",
          "$ref": "DiskEncryptionConfiguration"
        },
        "currentDiskSize": {
          "format": "int64",
          "description": "The current disk usage of the instance in bytes. This property has been deprecated. Use the \"cloudsql.googleapis.com/database/disk/bytes_used\" metric in Cloud Monitoring API instead. Please see [this announcement](https://groups.google.com/d/msg/google-cloud-sql-announce/I_7-F9EBhT0/BtvFtdFeAgAJ) for details.",
          "type": "string"
        },
        "connectionName": {
          "description": "Connection name of the Cloud SQL instance used in connection strings.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time when the instance was created in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "replicaNames": {
          "description": "The replicas of the instance.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "settings": {
          "$ref": "Settings",
          "description": "The user settings."
        },
        "instanceType": {
          "description": "The instance type.",
          "enumDescriptions": [
            "This is an unknown Cloud SQL instance type.",
            "A regular Cloud SQL instance that is not replicating from a primary instance.",
            "An instance running on the customer's premises that is not managed by Cloud SQL.",
            "A Cloud SQL instance acting as a read-replica."
          ],
          "enum": [
            "SQL_INSTANCE_TYPE_UNSPECIFIED",
            "CLOUD_SQL_INSTANCE",
            "ON_PREMISES_INSTANCE",
            "READ_REPLICA_INSTANCE"
          ],
          "type": "string"
        },
        "databaseInstalledVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Stores the current database version running on the instance including minor version such as `MYSQL_8_0_18`."
        },
        "project": {
          "type": "string",
          "description": "The project ID of the project containing the Cloud SQL instance. The Google apps domain is prefixed if applicable."
        },
        "kind": {
          "description": "This is always `sql#instance`.",
          "type": "string"
        },
        "secondaryGceZone": {
          "type": "string",
          "description": "The Compute Engine zone that the failover instance is currently serving from for a regional instance. This value could be different from the zone that was specified when the instance was created if the instance has failed over to its secondary/failover zone."
        },
        "failoverReplica": {
          "type": "object",
          "properties": {
            "name": {
              "type": "string",
              "description": "The name of the failover replica. If specified at instance creation, a failover replica is created for the instance. The name doesn't include the project ID."
            },
            "available": {
              "type": "boolean",
              "description": "The availability status of the failover replica. A false status indicates that the failover replica is out of sync. The primary instance can only failover to the failover replica when the status is true."
            }
          },
          "description": "The name and status of the failover replica."
        },
        "databaseVersion": {
          "enum": [
            "SQL_DATABASE_VERSION_UNSPECIFIED",
            "MYSQL_5_1",
            "MYSQL_5_5",
            "MYSQL_5_6",
            "MYSQL_5_7",
            "SQLSERVER_2017_STANDARD",
            "SQLSERVER_2017_ENTERPRISE",
            "SQLSERVER_2017_EXPRESS",
            "SQLSERVER_2017_WEB",
            "POSTGRES_9_6",
            "POSTGRES_10",
            "POSTGRES_11",
            "POSTGRES_12",
            "POSTGRES_13",
            "POSTGRES_14",
            "POSTGRES_15",
            "MYSQL_8_0",
            "MYSQL_8_0_18",
            "MYSQL_8_0_26",
            "MYSQL_8_0_27",
            "MYSQL_8_0_28",
            "MYSQL_8_0_29",
            "MYSQL_8_0_30",
            "MYSQL_8_0_31",
            "MYSQL_8_0_32",
            "MYSQL_8_0_33",
            "MYSQL_8_0_34",
            "MYSQL_8_0_35",
            "MYSQL_8_0_36",
            "SQLSERVER_2019_STANDARD",
            "SQLSERVER_2019_ENTERPRISE",
            "SQLSERVER_2019_EXPRESS",
            "SQLSERVER_2019_WEB"
          ],
          "type": "string",
          "enumDescriptions": [
            "This is an unknown database version.",
            "The database version is MySQL 5.1.",
            "The database version is MySQL 5.5.",
            "The database version is MySQL 5.6.",
            "The database version is MySQL 5.7.",
            "The database version is SQL Server 2017 Standard.",
            "The database version is SQL Server 2017 Enterprise.",
            "The database version is SQL Server 2017 Express.",
            "The database version is SQL Server 2017 Web.",
            "The database version is PostgreSQL 9.6.",
            "The database version is PostgreSQL 10.",
            "The database version is PostgreSQL 11.",
            "The database version is PostgreSQL 12.",
            "The database version is PostgreSQL 13.",
            "The database version is PostgreSQL 14.",
            "The database version is PostgreSQL 15.",
            "The database version is MySQL 8.",
            "The database major version is MySQL 8.0 and the minor version is 18.",
            "The database major version is MySQL 8.0 and the minor version is 26.",
            "The database major version is MySQL 8.0 and the minor version is 27.",
            "The database major version is MySQL 8.0 and the minor version is 28.",
            "The database major version is MySQL 8.0 and the minor version is 29.",
            "The database major version is MySQL 8.0 and the minor version is 30.",
            "The database major version is MySQL 8.0 and the minor version is 31.",
            "The database major version is MySQL 8.0 and the minor version is 32.",
            "The database major version is MySQL 8.0 and the minor version is 33.",
            "The database major version is MySQL 8.0 and the minor version is 34.",
            "The database major version is MySQL 8.0 and the minor version is 35.",
            "The database major version is MySQL 8.0 and the minor version is 36.",
            "The database version is SQL Server 2019 Standard.",
            "The database version is SQL Server 2019 Enterprise.",
            "The database version is SQL Server 2019 Express.",
            "The database version is SQL Server 2019 Web."
          ],
          "description": "The database engine type and version. The `databaseVersion` field cannot be changed after instance creation."
        },
        "replicaConfiguration": {
          "description": "Configuration specific to failover replicas and read replicas.",
          "$ref": "ReplicaConfiguration"
        },
        "outOfDiskReport": {
          "description": "This field represents the report generated by the proactive database wellness job for OutOfDisk issues. * Writers: * the proactive database wellness job for OOD. * Readers: * the proactive database wellness job",
          "$ref": "SqlOutOfDiskReport"
        },
        "etag": {
          "type": "string",
          "description": "This field is deprecated and will be removed from a future version of the API. Use the `settings.settingsVersion` field instead."
        },
        "onPremisesConfiguration": {
          "description": "Configuration specific to on-premises instances.",
          "$ref": "OnPremisesConfiguration"
        },
        "scheduledMaintenance": {
          "$ref": "SqlScheduledMaintenance",
          "description": "The start time of any upcoming scheduled maintenance for this instance."
        },
        "masterInstanceName": {
          "description": "The name of the instance which will act as primary in the replication setup.",
          "type": "string"
        },
        "diskEncryptionStatus": {
          "description": "Disk encryption status specific to an instance.",
          "$ref": "DiskEncryptionStatus"
        },
        "ipv6Address": {
          "description": "The IPv6 address assigned to the instance. (Deprecated) This property was applicable only to First Generation instances.",
          "type": "string"
        },
        "maintenanceVersion": {
          "description": "The current software version on the instance.",
          "type": "string"
        },
        "gceZone": {
          "type": "string",
          "description": "The Compute Engine zone that the instance is currently serving from. This value could be different from the zone that was specified when the instance was created if the instance has failed over to its secondary zone. WARNING: Changing this might restart the instance."
        },
        "serviceAccountEmailAddress": {
          "type": "string",
          "description": "The service account email address assigned to the instance. \\This property is read-only."
        },
        "selfLink": {
          "type": "string",
          "description": "The URI of this resource."
        },
        "name": {
          "description": "Name of the Cloud SQL instance. This does not include the project ID.",
          "type": "string"
        },
        "satisfiesPzs": {
          "description": "The status indicating if instance satisfiesPzs. Reserved for future use.",
          "type": "boolean"
        },
        "region": {
          "type": "string",
          "description": "The geographical region. Can be: * `us-central` (`FIRST_GEN` instances only) * `us-central1` (`SECOND_GEN` instances only) * `asia-east1` or `europe-west1`. Defaults to `us-central` or `us-central1` depending on the instance type. The region cannot be changed after instance creation."
        },
        "serverCaCert": {
          "$ref": "SslCert",
          "description": "SSL configuration."
        },
        "ipAddresses": {
          "description": "The assigned IP addresses for the instance.",
          "items": {
            "$ref": "IpMapping"
          },
          "type": "array"
        },
        "suspensionReason": {
          "description": "If the instance state is SUSPENDED, the reason for the suspension.",
          "items": {
            "enum": [
              "SQL_SUSPENSION_REASON_UNSPECIFIED",
              "BILLING_ISSUE",
              "LEGAL_ISSUE",
              "OPERATIONAL_ISSUE",
              "KMS_KEY_ISSUE"
            ],
            "enumDescriptions": [
              "This is an unknown suspension reason.",
              "The instance is suspended due to billing issues (for example:, GCP account issue)",
              "The instance is suspended due to illegal content (for example:, child pornography, copyrighted material, etc.).",
              "The instance is causing operational issues (for example:, causing the database to crash).",
              "The KMS key used by the instance is either revoked or denied access to"
            ],
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "OperationErrors": {
      "description": "Database instance operation errors list wrapper.",
      "properties": {
        "errors": {
          "type": "array",
          "items": {
            "$ref": "OperationError"
          },
          "description": "The list of errors encountered while processing this operation."
        },
        "kind": {
          "description": "This is always `sql#operationErrors`.",
          "type": "string"
        }
      },
      "id": "OperationErrors",
      "type": "object"
    },
    "BackupRun": {
      "type": "object",
      "properties": {
        "endTime": {
          "description": "The time the backup operation completed in UTC timezone in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "type": "string",
          "format": "google-datetime"
        },
        "enqueuedTime": {
          "description": "The time the run was enqueued in UTC timezone in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "format": "google-datetime",
          "type": "string"
        },
        "selfLink": {
          "description": "The URI of this resource.",
          "type": "string"
        },
        "instance": {
          "type": "string",
          "description": "Name of the database instance."
        },
        "id": {
          "format": "int64",
          "type": "string",
          "description": "The identifier for this backup run. Unique only for a specific Cloud SQL instance."
        },
        "diskEncryptionStatus": {
          "$ref": "DiskEncryptionStatus",
          "description": "Encryption status specific to a backup."
        },
        "windowStartTime": {
          "description": "The start time of the backup window during which this the backup was attempted in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "format": "google-datetime",
          "type": "string"
        },
        "description": {
          "description": "The description of this run, only applicable to on-demand backups.",
          "type": "string"
        },
        "timeZone": {
          "description": "Backup time zone to prevent restores to an instance with a different time zone. Now relevant only for SQL Server.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "The type of this run; can be either \"AUTOMATED\" or \"ON_DEMAND\" or \"FINAL\". This field defaults to \"ON_DEMAND\" and is ignored, when specified for insert requests.",
          "enum": [
            "SQL_BACKUP_RUN_TYPE_UNSPECIFIED",
            "AUTOMATED",
            "ON_DEMAND"
          ],
          "enumDescriptions": [
            "This is an unknown BackupRun type.",
            "The backup schedule automatically triggers a backup.",
            "The user manually triggers a backup."
          ]
        },
        "location": {
          "description": "Location of the backups.",
          "type": "string"
        },
        "startTime": {
          "description": "The time the backup operation actually started in UTC timezone in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "format": "google-datetime",
          "type": "string"
        },
        "backupKind": {
          "type": "string",
          "enumDescriptions": [
            "This is an unknown BackupKind.",
            "The snapshot based backups",
            "Physical backups"
          ],
          "description": "Specifies the kind of backup, PHYSICAL or DEFAULT_SNAPSHOT.",
          "enum": [
            "SQL_BACKUP_KIND_UNSPECIFIED",
            "SNAPSHOT",
            "PHYSICAL"
          ]
        },
        "kind": {
          "description": "This is always `sql#backupRun`.",
          "type": "string"
        },
        "error": {
          "$ref": "OperationError",
          "description": "Information about why the backup operation failed. This is only present if the run has the FAILED status."
        },
        "status": {
          "enumDescriptions": [
            "The status of the run is unknown.",
            "The backup operation was enqueued.",
            "The backup is overdue across a given backup window. Indicates a problem. Example: Long-running operation in progress during the whole window.",
            "The backup is in progress.",
            "The backup failed.",
            "The backup was successful.",
            "The backup was skipped (without problems) for a given backup window. Example: Instance was idle.",
            "The backup is about to be deleted.",
            "The backup deletion failed.",
            "The backup has been deleted."
          ],
          "enum": [
            "SQL_BACKUP_RUN_STATUS_UNSPECIFIED",
            "ENQUEUED",
            "OVERDUE",
            "RUNNING",
            "FAILED",
            "SUCCESSFUL",
            "SKIPPED",
            "DELETION_PENDING",
            "DELETION_FAILED",
            "DELETED"
          ],
          "type": "string",
          "description": "The status of this run."
        },
        "diskEncryptionConfiguration": {
          "description": "Encryption configuration specific to a backup.",
          "$ref": "DiskEncryptionConfiguration"
        }
      },
      "description": "A BackupRun resource.",
      "id": "BackupRun"
    },
    "GenerateEphemeralCertRequest": {
      "type": "object",
      "id": "GenerateEphemeralCertRequest",
      "description": "Ephemeral certificate creation request.",
      "properties": {
        "access_token": {
          "description": "Optional. Access token to include in the signed certificate.",
          "type": "string"
        },
        "public_key": {
          "description": "PEM encoded public key to include in the signed certificate.",
          "type": "string"
        },
        "readTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. Optional snapshot read timestamp to trade freshness for performance."
        },
        "validDuration": {
          "type": "string",
          "description": "Optional. If set, it will contain the cert valid duration.",
          "format": "google-duration"
        }
      }
    },
    "SqlInstancesStartExternalSyncRequest": {
      "type": "object",
      "id": "SqlInstancesStartExternalSyncRequest",
      "properties": {
        "syncParallelLevel": {
          "description": "Optional. Parallel level for initial data sync. Currently only applicable for MySQL.",
          "enumDescriptions": [
            "Unknown sync parallel level. Will be defaulted to OPTIMAL.",
            "Minimal parallel level.",
            "Optimal parallel level.",
            "Maximum parallel level."
          ],
          "enum": [
            "EXTERNAL_SYNC_PARALLEL_LEVEL_UNSPECIFIED",
            "MIN",
            "OPTIMAL",
            "MAX"
          ],
          "type": "string"
        },
        "mysqlSyncConfig": {
          "$ref": "MySqlSyncConfig",
          "description": "MySQL-specific settings for start external sync."
        },
        "skipVerification": {
          "description": "Whether to skip the verification step (VESS).",
          "type": "boolean"
        },
        "syncMode": {
          "description": "External sync mode.",
          "enum": [
            "EXTERNAL_SYNC_MODE_UNSPECIFIED",
            "ONLINE",
            "OFFLINE"
          ],
          "enumDescriptions": [
            "Unknown external sync mode, will be defaulted to ONLINE mode",
            "Online external sync will set up replication after initial data external sync",
            "Offline external sync only dumps and loads a one-time snapshot of the primary instance's data"
          ],
          "type": "string"
        }
      }
    },
    "Operation": {
      "type": "object",
      "properties": {
        "status": {
          "description": "The status of an operation.",
          "enum": [
            "SQL_OPERATION_STATUS_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "DONE"
          ],
          "type": "string",
          "enumDescriptions": [
            "The state of the operation is unknown.",
            "The operation has been queued, but has not started yet.",
            "The operation is running.",
            "The operation completed."
          ]
        },
        "targetLink": {
          "type": "string"
        },
        "backupContext": {
          "description": "The context for backup operation, if applicable.",
          "$ref": "BackupContext"
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#operation`."
        },
        "operationType": {
          "enumDescriptions": [
            "Unknown operation type.",
            "Imports data into a Cloud SQL instance.",
            "Exports data from a Cloud SQL instance to a Cloud Storage bucket.",
            "Creates a new Cloud SQL instance.",
            "Updates the settings of a Cloud SQL instance.",
            "Deletes a Cloud SQL instance.",
            "Restarts the Cloud SQL instance.",
            "",
            "",
            "Performs instance backup.",
            "Deletes an instance backup.",
            "Restores an instance backup.",
            "Injects a privileged user in mysql for MOB instances.",
            "Clones a Cloud SQL instance.",
            "Stops replication on a Cloud SQL read replica instance.",
            "Starts replication on a Cloud SQL read replica instance.",
            "Promotes a Cloud SQL replica instance.",
            "Creates a Cloud SQL replica instance.",
            "Creates a new user in a Cloud SQL instance.",
            "Deletes a user from a Cloud SQL instance.",
            "Updates an existing user in a Cloud SQL instance.",
            "Creates a database in the Cloud SQL instance.",
            "Deletes a database in the Cloud SQL instance.",
            "Updates a database in the Cloud SQL instance.",
            "Performs failover of an HA-enabled Cloud SQL failover replica.",
            "Deletes the backup taken by a backup run.",
            "",
            "Truncates a general or slow log table in MySQL.",
            "Demotes the stand-alone instance to be a Cloud SQL read replica for an external database server.",
            "Indicates that the instance is currently in maintenance. Maintenance typically causes the instance to be unavailable for 1-3 minutes.",
            "This field is deprecated, and will be removed in future version of API.",
            "",
            "Creates clone instance.",
            "Reschedule maintenance to another time.",
            "Starts external sync of a Cloud SQL EM replica to an external primary instance.",
            "Recovers logs from an instance's old data disk.",
            "Performs auto-restart of an HA-enabled Cloud SQL database for auto recovery.",
            "Re-encrypts CMEK instances with latest key version."
          ],
          "type": "string",
          "description": "The type of the operation. Valid values are: * `CREATE` * `DELETE` * `UPDATE` * `RESTART` * `IMPORT` * `EXPORT` * `BACKUP_VOLUME` * `RESTORE_VOLUME` * `CREATE_USER` * `DELETE_USER` * `CREATE_DATABASE` * `DELETE_DATABASE`",
          "enum": [
            "SQL_OPERATION_TYPE_UNSPECIFIED",
            "IMPORT",
            "EXPORT",
            "CREATE",
            "UPDATE",
            "DELETE",
            "RESTART",
            "BACKUP",
            "SNAPSHOT",
            "BACKUP_VOLUME",
            "DELETE_VOLUME",
            "RESTORE_VOLUME",
            "INJECT_USER",
            "CLONE",
            "STOP_REPLICA",
            "START_REPLICA",
            "PROMOTE_REPLICA",
            "CREATE_REPLICA",
            "CREATE_USER",
            "DELETE_USER",
            "UPDATE_USER",
            "CREATE_DATABASE",
            "DELETE_DATABASE",
            "UPDATE_DATABASE",
            "FAILOVER",
            "DELETE_BACKUP",
            "RECREATE_REPLICA",
            "TRUNCATE_LOG",
            "DEMOTE_MASTER",
            "MAINTENANCE",
            "ENABLE_PRIVATE_IP",
            "DEFER_MAINTENANCE",
            "CREATE_CLONE",
            "RESCHEDULE_MAINTENANCE",
            "START_EXTERNAL_SYNC",
            "LOG_CLEANUP",
            "AUTO_RESTART",
            "REENCRYPT"
          ]
        },
        "startTime": {
          "type": "string",
          "description": "The time this operation actually started in UTC timezone in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "format": "google-datetime"
        },
        "error": {
          "$ref": "OperationErrors",
          "description": "If errors occurred during processing of this operation, this field will be populated."
        },
        "targetProject": {
          "description": "The project ID of the target instance related to this operation.",
          "type": "string"
        },
        "targetId": {
          "description": "Name of the database instance related to this operation.",
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "The time this operation finished in UTC timezone in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "type": "string"
        },
        "exportContext": {
          "$ref": "ExportContext",
          "description": "The context for export operation, if applicable."
        },
        "user": {
          "type": "string",
          "description": "The email address of the user who initiated this operation."
        },
        "name": {
          "description": "An identifier that uniquely identifies the operation. You can use this identifier to retrieve the Operations resource that has information about the operation.",
          "type": "string"
        },
        "selfLink": {
          "type": "string",
          "description": "The URI of this resource."
        },
        "importContext": {
          "$ref": "ImportContext",
          "description": "The context for import operation, if applicable."
        },
        "insertTime": {
          "description": "The time this operation was enqueued in UTC timezone in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "Operation",
      "description": "An Operation resource. For successful operations that return an Operation resource, only the fields relevant to the operation are populated in the resource."
    },
    "Reschedule": {
      "type": "object",
      "properties": {
        "rescheduleType": {
          "description": "Required. The type of the reschedule.",
          "enum": [
            "RESCHEDULE_TYPE_UNSPECIFIED",
            "IMMEDIATE",
            "NEXT_AVAILABLE_WINDOW",
            "SPECIFIC_TIME"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "Reschedules maintenance to happen now (within 5 minutes).",
            "Reschedules maintenance to occur within one week from the originally scheduled day and time.",
            "Reschedules maintenance to a specific time and day."
          ]
        },
        "scheduleTime": {
          "format": "google-datetime",
          "description": "Optional. Timestamp when the maintenance shall be rescheduled to if reschedule_type=SPECIFIC_TIME, in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "type": "string"
        }
      },
      "id": "Reschedule"
    },
    "DenyMaintenancePeriod": {
      "id": "DenyMaintenancePeriod",
      "description": "Deny Maintenance Periods. This specifies a date range during when all CSA rollout will be denied.",
      "type": "object",
      "properties": {
        "endDate": {
          "type": "string",
          "description": "\"deny maintenance period\" end date. If the year of the end date is empty, the year of the start date also must be empty. In this case, it means the deny maintenance period recurs every year. The date is in format yyyy-mm-dd i.e., 2020-11-01, or mm-dd, i.e., 11-01"
        },
        "startDate": {
          "description": "\"deny maintenance period\" start date. If the year of the start date is empty, the year of the end date also must be empty. In this case, it means the deny maintenance period recurs every year. The date is in format yyyy-mm-dd i.e., 2020-11-01, or mm-dd, i.e., 11-01",
          "type": "string"
        },
        "time": {
          "type": "string",
          "description": "Time in UTC when the \"deny maintenance period\" starts on start_date and ends on end_date. The time is in format: HH:mm:SS, i.e., 00:00:00"
        }
      }
    },
    "OnPremisesConfiguration": {
      "type": "object",
      "description": "On-premises instance configuration.",
      "properties": {
        "hostPort": {
          "type": "string",
          "description": "The host and port of the on-premises instance in host:port format"
        },
        "sourceInstance": {
          "$ref": "InstanceReference",
          "description": "The reference to Cloud SQL instance if the source is Cloud SQL."
        },
        "dumpFilePath": {
          "type": "string",
          "description": "The dump file to create the Cloud SQL replica."
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#onPremisesConfiguration`."
        },
        "password": {
          "type": "string",
          "description": "The password for connecting to on-premises instance."
        },
        "caCertificate": {
          "description": "PEM representation of the trusted CA's x509 certificate.",
          "type": "string"
        },
        "clientCertificate": {
          "type": "string",
          "description": "PEM representation of the replica's x509 certificate."
        },
        "username": {
          "description": "The username for connecting to on-premises instance.",
          "type": "string"
        },
        "clientKey": {
          "type": "string",
          "description": "PEM representation of the replica's private key. The corresponsing public key is encoded in the client's certificate."
        }
      },
      "id": "OnPremisesConfiguration"
    },
    "DemoteMasterMySqlReplicaConfiguration": {
      "type": "object",
      "properties": {
        "caCertificate": {
          "description": "PEM representation of the trusted CA's x509 certificate.",
          "type": "string"
        },
        "kind": {
          "description": "This is always `sql#demoteMasterMysqlReplicaConfiguration`.",
          "type": "string"
        },
        "clientCertificate": {
          "type": "string",
          "description": "PEM representation of the replica's x509 certificate."
        },
        "password": {
          "type": "string",
          "description": "The password for the replication connection."
        },
        "clientKey": {
          "type": "string",
          "description": "PEM representation of the replica's private key. The corresponsing public key is encoded in the client's certificate. The format of the replica's private key can be either PKCS #1 or PKCS #8."
        },
        "username": {
          "type": "string",
          "description": "The username for the replication connection."
        }
      },
      "description": "Read-replica configuration specific to MySQL databases.",
      "id": "DemoteMasterMySqlReplicaConfiguration"
    },
    "InstancesFailoverRequest": {
      "description": "Instance failover request.",
      "type": "object",
      "properties": {
        "failoverContext": {
          "description": "Failover Context.",
          "$ref": "FailoverContext"
        }
      },
      "id": "InstancesFailoverRequest"
    },
    "AdvancedMachineFeatures": {
      "properties": {
        "threadsPerCore": {
          "type": "integer",
          "description": "The number of threads per physical core.",
          "format": "int32"
        }
      },
      "id": "AdvancedMachineFeatures",
      "type": "object",
      "description": "Specifies options for controlling advanced machine features."
    },
    "InstancesTruncateLogRequest": {
      "properties": {
        "truncateLogContext": {
          "$ref": "TruncateLogContext",
          "description": "Contains details about the truncate log operation."
        }
      },
      "description": "Instance truncate log request.",
      "id": "InstancesTruncateLogRequest",
      "type": "object"
    },
    "DatabaseFlags": {
      "properties": {
        "value": {
          "type": "string",
          "description": "The value of the flag. Boolean flags are set to `on` for true and `off` for false. This field must be omitted if the flag doesn't take a value."
        },
        "name": {
          "type": "string",
          "description": "The name of the flag. These flags are passed at instance startup, so include both server options and system variables. Flags are specified with underscores, not hyphens. For more information, see [Configuring Database Flags](https://cloud.google.com/sql/docs/mysql/flags) in the Cloud SQL documentation."
        }
      },
      "id": "DatabaseFlags",
      "type": "object",
      "description": "Database flags for Cloud SQL instances."
    },
    "SqlInstancesRescheduleMaintenanceRequestBody": {
      "id": "SqlInstancesRescheduleMaintenanceRequestBody",
      "description": "Reschedule options for maintenance windows.",
      "type": "object",
      "properties": {
        "reschedule": {
          "description": "Required. The type of the reschedule the user wants.",
          "$ref": "Reschedule"
        }
      }
    },
    "MySqlReplicaConfiguration": {
      "properties": {
        "sslCipher": {
          "type": "string",
          "description": "A list of permissible ciphers to use for SSL encryption."
        },
        "clientKey": {
          "type": "string",
          "description": "PEM representation of the replica's private key. The corresponsing public key is encoded in the client's certificate."
        },
        "dumpFilePath": {
          "type": "string",
          "description": "Path to a SQL dump file in Google Cloud Storage from which the replica instance is to be created. The URI is in the form gs://bucketName/fileName. Compressed gzip files (.gz) are also supported. Dumps have the binlog co-ordinates from which replication begins. This can be accomplished by setting --master-data to 1 when using mysqldump."
        },
        "connectRetryInterval": {
          "type": "integer",
          "description": "Seconds to wait between connect retries. MySQL's default is 60 seconds.",
          "format": "int32"
        },
        "masterHeartbeatPeriod": {
          "format": "int64",
          "type": "string",
          "description": "Interval in milliseconds between replication heartbeats."
        },
        "verifyServerCertificate": {
          "description": "Whether or not to check the primary instance's Common Name value in the certificate that it sends during the SSL handshake.",
          "type": "boolean"
        },
        "caCertificate": {
          "type": "string",
          "description": "PEM representation of the trusted CA's x509 certificate."
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#mysqlReplicaConfiguration`."
        },
        "password": {
          "type": "string",
          "description": "The password for the replication connection."
        },
        "username": {
          "type": "string",
          "description": "The username for the replication connection."
        },
        "clientCertificate": {
          "description": "PEM representation of the replica's x509 certificate.",
          "type": "string"
        }
      },
      "description": "Read-replica configuration specific to MySQL databases.",
      "type": "object",
      "id": "MySqlReplicaConfiguration"
    },
    "GenerateEphemeralCertResponse": {
      "type": "object",
      "properties": {
        "ephemeralCert": {
          "description": "Generated cert",
          "$ref": "SslCert"
        }
      },
      "description": "Ephemeral certificate creation request.",
      "id": "GenerateEphemeralCertResponse"
    },
    "DatabasesListResponse": {
      "description": "Database list response.",
      "properties": {
        "items": {
          "description": "List of database resources in the instance.",
          "items": {
            "$ref": "Database"
          },
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#databasesList`."
        }
      },
      "id": "DatabasesListResponse",
      "type": "object"
    },
    "SqlExternalSyncSettingError": {
      "properties": {
        "kind": {
          "description": "Can be `sql#externalSyncSettingError` or `sql#externalSyncSettingWarning`.",
          "type": "string"
        },
        "type": {
          "description": "Identifies the specific error that occurred.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "The replication user is missing privileges that are required.",
            "Unsupported migration type.",
            "No pglogical extension installed on databases, applicable for postgres.",
            "pglogical node already exists on databases, applicable for postgres.",
            "The value of parameter wal_level is not set to logical.",
            "The value of parameter shared_preload_libraries does not include pglogical.",
            "The value of parameter max_replication_slots is not sufficient.",
            "The value of parameter max_wal_senders is not sufficient.",
            "The value of parameter max_worker_processes is not sufficient.",
            "Extensions installed are either not supported or having unsupported versions",
            "The value of parameter rds.logical_replication is not set to 1.",
            "The primary instance logging setup doesn't allow EM sync.",
            "The primary instance database parameter setup doesn't allow EM sync.",
            "The gtid_mode is not supported, applicable for MySQL.",
            "SQL Server Agent is not running.",
            "The table definition is not support due to missing primary key or replica identity, applicable for postgres.",
            "The customer has a definer that will break EM setup.",
            "SQL Server @@SERVERNAME does not match actual host name.",
            "The primary instance has been setup and will fail the setup.",
            "The primary instance has unsupported binary log format.",
            "The primary instance's binary log retention setting.",
            "The primary instance has tables with unsupported storage engine.",
            "Source has tables with limited support eg: PostgreSQL tables without primary keys.",
            "The replica instance contains existing data.",
            "The replication user is missing privileges that are optional.",
            "Additional BACKUP_ADMIN privilege is granted to the replication user which may lock source MySQL 8 instance for DDLs during initial sync."
          ],
          "enum": [
            "SQL_EXTERNAL_SYNC_SETTING_ERROR_TYPE_UNSPECIFIED",
            "CONNECTION_FAILURE",
            "BINLOG_NOT_ENABLED",
            "INCOMPATIBLE_DATABASE_VERSION",
            "REPLICA_ALREADY_SETUP",
            "INSUFFICIENT_PRIVILEGE",
            "UNSUPPORTED_MIGRATION_TYPE",
            "NO_PGLOGICAL_INSTALLED",
            "PGLOGICAL_NODE_ALREADY_EXISTS",
            "INVALID_WAL_LEVEL",
            "INVALID_SHARED_PRELOAD_LIBRARY",
            "INSUFFICIENT_MAX_REPLICATION_SLOTS",
            "INSUFFICIENT_MAX_WAL_SENDERS",
            "INSUFFICIENT_MAX_WORKER_PROCESSES",
            "UNSUPPORTED_EXTENSIONS",
            "INVALID_RDS_LOGICAL_REPLICATION",
            "INVALID_LOGGING_SETUP",
            "INVALID_DB_PARAM",
            "UNSUPPORTED_GTID_MODE",
            "SQLSERVER_AGENT_NOT_RUNNING",
            "UNSUPPORTED_TABLE_DEFINITION",
            "UNSUPPORTED_DEFINER",
            "SQLSERVER_SERVERNAME_MISMATCH",
            "PRIMARY_ALREADY_SETUP",
            "UNSUPPORTED_BINLOG_FORMAT",
            "BINLOG_RETENTION_SETTING",
            "UNSUPPORTED_STORAGE_ENGINE",
            "LIMITED_SUPPORT_TABLES",
            "EXISTING_DATA_IN_REPLICA",
            "MISSING_OPTIONAL_PRIVILEGES",
            "RISKY_BACKUP_ADMIN_PRIVILEGE"
          ]
        },
        "detail": {
          "description": "Additional information about the error encountered.",
          "type": "string"
        }
      },
      "id": "SqlExternalSyncSettingError",
      "description": "External primary instance migration setting error/warning.",
      "type": "object"
    },
    "BinLogCoordinates": {
      "id": "BinLogCoordinates",
      "properties": {
        "kind": {
          "type": "string",
          "description": "This is always `sql#binLogCoordinates`."
        },
        "binLogFileName": {
          "description": "Name of the binary log file for a Cloud SQL instance.",
          "type": "string"
        },
        "binLogPosition": {
          "format": "int64",
          "type": "string",
          "description": "Position (offset) within the binary log file."
        }
      },
      "type": "object",
      "description": "Binary log coordinates."
    },
    "OperationError": {
      "properties": {
        "code": {
          "type": "string",
          "description": "Identifies the specific error that occurred."
        },
        "kind": {
          "description": "This is always `sql#operationError`.",
          "type": "string"
        },
        "message": {
          "description": "Additional information about the error encountered.",
          "type": "string"
        }
      },
      "description": "Database instance operation error.",
      "id": "OperationError",
      "type": "object"
    },
    "User": {
      "type": "object",
      "id": "User",
      "description": "A Cloud SQL user resource.",
      "properties": {
        "project": {
          "type": "string",
          "description": "The project ID of the project containing the Cloud SQL database. The Google apps domain is prefixed if applicable. Can be omitted for *update* because it is already specified on the URL."
        },
        "etag": {
          "type": "string",
          "description": "This field is deprecated and will be removed from a future version of the API."
        },
        "dualPasswordType": {
          "description": "Dual password status for the user.",
          "enumDescriptions": [
            "The default value.",
            "Do not update the user's dual password status.",
            "No dual password usable for connecting using this user.",
            "Dual password usable for connecting using this user."
          ],
          "type": "string",
          "enum": [
            "DUAL_PASSWORD_TYPE_UNSPECIFIED",
            "NO_MODIFY_DUAL_PASSWORD",
            "NO_DUAL_PASSWORD",
            "DUAL_PASSWORD"
          ]
        },
        "name": {
          "description": "The name of the user in the Cloud SQL instance. Can be omitted for `update` because it is already specified in the URL.",
          "type": "string"
        },
        "password": {
          "type": "string",
          "description": "The password for the user."
        },
        "passwordPolicy": {
          "$ref": "UserPasswordValidationPolicy",
          "description": "User level password validation policy."
        },
        "type": {
          "description": "The user type. It determines the method to authenticate the user during login. The default is the database's built-in user type.",
          "enum": [
            "BUILT_IN",
            "CLOUD_IAM_USER",
            "CLOUD_IAM_SERVICE_ACCOUNT"
          ],
          "enumDescriptions": [
            "The database's built-in user type.",
            "Cloud IAM user.",
            "Cloud IAM service account."
          ],
          "type": "string"
        },
        "instance": {
          "type": "string",
          "description": "The name of the Cloud SQL instance. This does not include the project ID. Can be omitted for *update* because it is already specified on the URL."
        },
        "host": {
          "description": "Optional. The host from which the user can connect. For `insert` operations, host defaults to an empty string. For `update` operations, host is specified as part of the request URL. The host name cannot be updated after insertion. For a MySQL instance, it's required; for a PostgreSQL or SQL Server instance, it's optional.",
          "type": "string"
        },
        "sqlserverUserDetails": {
          "$ref": "SqlServerUserDetails"
        },
        "kind": {
          "description": "This is always `sql#user`.",
          "type": "string"
        }
      }
    },
    "FailoverContext": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "This is always `sql#failoverContext`.",
          "type": "string"
        },
        "settingsVersion": {
          "description": "The current settings version of this instance. Request will be rejected if this version doesn't match the current settings version.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Database instance failover context.",
      "id": "FailoverContext"
    },
    "SqlOutOfDiskReport": {
      "type": "object",
      "description": "This message wraps up the information written by out-of-disk detection job.",
      "properties": {
        "sqlOutOfDiskState": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified state",
            "The instance has plenty space on data disk",
            "Data disk is almost used up. It is shutdown to prevent data corruption."
          ],
          "enum": [
            "SQL_OUT_OF_DISK_STATE_UNSPECIFIED",
            "NORMAL",
            "SOFT_SHUTDOWN"
          ],
          "description": "This field represents the state generated by the proactive database wellness job for OutOfDisk issues. * Writers: * the proactive database wellness job for OOD. * Readers: * the proactive database wellness job"
        },
        "sqlMinRecommendedIncreaseSizeGb": {
          "format": "int32",
          "type": "integer",
          "description": "The minimum recommended increase size in GigaBytes This field is consumed by the frontend * Writers: * the proactive database wellness job for OOD. * Readers:"
        }
      },
      "id": "SqlOutOfDiskReport"
    },
    "ReplicaConfiguration": {
      "id": "ReplicaConfiguration",
      "properties": {
        "mysqlReplicaConfiguration": {
          "$ref": "MySqlReplicaConfiguration",
          "description": "MySQL specific configuration when replicating from a MySQL on-premises primary instance. Replication configuration information such as the username, password, certificates, and keys are not stored in the instance metadata. The configuration information is used only to set up the replication connection and is stored by MySQL in a file named `master.info` in the data directory."
        },
        "kind": {
          "description": "This is always `sql#replicaConfiguration`.",
          "type": "string"
        },
        "failoverTarget": {
[...]
