{
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "baseUrl": "https://sqladmin.googleapis.com/",
  "title": "Cloud SQL Admin API",
  "version": "v1",
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://sqladmin.mtls.googleapis.com/",
  "canonicalName": "SQL Admin",
  "resources": {
    "flags": {
      "methods": {
        "list": {
          "id": "sql.flags.list",
          "httpMethod": "GET",
          "path": "v1/flags",
          "description": "Lists all available database flags for Cloud SQL instances.",
          "flatPath": "v1/flags",
          "parameters": {
            "databaseVersion": {
              "type": "string",
              "description": "Database type and version you want to retrieve flags for. By default, this method returns flags for all database types and versions.",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "response": {
            "$ref": "FlagsListResponse"
          },
          "parameterOrder": []
        }
      }
    },
    "operations": {
      "methods": {
        "get": {
          "path": "v1/projects/{project}/operations/{operation}",
          "httpMethod": "GET",
          "parameters": {
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "operation": {
              "location": "path",
              "description": "Instance operation ID.",
              "type": "string",
              "required": true
            }
          },
          "flatPath": "v1/projects/{project}/operations/{operation}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.operations.get",
          "response": {
            "$ref": "Operation"
          },
          "description": "Retrieves an instance operation that has been performed on an instance.",
          "parameterOrder": [
            "project",
            "operation"
          ]
        },
        "list": {
          "response": {
            "$ref": "OperationsListResponse"
          },
          "flatPath": "v1/projects/{project}/operations",
          "parameters": {
            "instance": {
              "type": "string",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "query"
            },
            "maxResults": {
              "type": "integer",
              "description": "Maximum number of operations per response.",
              "format": "uint32",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "description": "A previously-returned page token representing part of the larger set of results to view.",
              "location": "query"
            },
            "project": {
              "type": "string",
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "location": "path"
            }
          },
          "httpMethod": "GET",
          "path": "v1/projects/{project}/operations",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Lists all instance operations that have been performed on the given Cloud SQL instance in the reverse chronological order of the start time.",
          "parameterOrder": [
            "project"
          ],
          "id": "sql.operations.list"
        }
      }
    },
    "databases": {
      "methods": {
        "get": {
          "response": {
            "$ref": "Database"
          },
          "httpMethod": "GET",
          "flatPath": "v1/projects/{project}/instances/{instance}/databases/{database}",
          "parameters": {
            "database": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Name of the database in the instance."
            },
            "project": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Project ID of the project that contains the instance."
            },
            "instance": {
              "location": "path",
              "description": "Database instance ID. This does not include the project ID.",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Retrieves a resource containing information about a database inside a Cloud SQL instance.",
          "parameterOrder": [
            "project",
            "instance",
            "database"
          ],
          "id": "sql.databases.get",
          "path": "v1/projects/{project}/instances/{instance}/databases/{database}"
        },
        "patch": {
          "description": "Partially updates a resource containing information about a database inside a Cloud SQL instance. This method supports patch semantics.",
          "request": {
            "$ref": "Database"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "v1/projects/{project}/instances/{instance}/databases/{database}",
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "project": {
              "location": "path",
              "type": "string",
              "description": "Project ID of the project that contains the instance.",
              "required": true
            },
            "instance": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Database instance ID. This does not include the project ID."
            },
            "database": {
              "required": true,
              "description": "Name of the database to be updated in the instance.",
              "type": "string",
              "location": "path"
            }
          },
          "path": "v1/projects/{project}/instances/{instance}/databases/{database}",
          "parameterOrder": [
            "project",
            "instance",
            "database"
          ],
          "id": "sql.databases.patch",
          "httpMethod": "PATCH"
        },
        "insert": {
          "httpMethod": "POST",
          "flatPath": "v1/projects/{project}/instances/{instance}/databases",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "request": {
            "$ref": "Database"
          },
          "description": "Inserts a resource containing information about a database inside a Cloud SQL instance. **Note:** You can't modify the default character set and collation.",
          "parameters": {
            "project": {
              "location": "path",
              "type": "string",
              "description": "Project ID of the project that contains the instance.",
              "required": true
            },
            "instance": {
              "description": "Database instance ID. This does not include the project ID.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "id": "sql.databases.insert",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "path": "v1/projects/{project}/instances/{instance}/databases",
          "response": {
            "$ref": "Operation"
          }
        },
        "delete": {
          "response": {
            "$ref": "Operation"
          },
          "id": "sql.databases.delete",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "httpMethod": "DELETE",
          "parameters": {
            "instance": {
              "type": "string",
              "required": true,
              "description": "Database instance ID. This does not include the project ID.",
              "location": "path"
            },
            "database": {
              "type": "string",
              "required": true,
              "description": "Name of the database to be deleted in the instance.",
              "location": "path"
            },
            "project": {
              "required": true,
              "type": "string",
              "description": "Project ID of the project that contains the instance.",
              "location": "path"
            }
          },
          "parameterOrder": [
            "project",
            "instance",
            "database"
          ],
          "flatPath": "v1/projects/{project}/instances/{instance}/databases/{database}",
          "description": "Deletes a database from a Cloud SQL instance.",
          "path": "v1/projects/{project}/instances/{instance}/databases/{database}"
        },
        "update": {
          "flatPath": "v1/projects/{project}/instances/{instance}/databases/{database}",
          "path": "v1/projects/{project}/instances/{instance}/databases/{database}",
          "request": {
            "$ref": "Database"
          },
          "description": "Updates a resource containing information about a database inside a Cloud SQL instance.",
          "parameters": {
            "instance": {
              "location": "path",
              "description": "Database instance ID. This does not include the project ID.",
              "required": true,
              "type": "string"
            },
            "project": {
              "type": "string",
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "required": true
            },
            "database": {
              "required": true,
              "description": "Name of the database to be updated in the instance.",
              "type": "string",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "httpMethod": "PUT",
          "response": {
            "$ref": "Operation"
          },
          "id": "sql.databases.update",
          "parameterOrder": [
            "project",
            "instance",
            "database"
          ]
        },
        "list": {
          "id": "sql.databases.list",
          "httpMethod": "GET",
          "response": {
            "$ref": "DatabasesListResponse"
          },
          "flatPath": "v1/projects/{project}/instances/{instance}/databases",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "description": "Lists databases in the specified Cloud SQL instance.",
          "parameters": {
            "instance": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID."
            },
            "project": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Project ID of the project that contains the instance."
            }
          },
          "path": "v1/projects/{project}/instances/{instance}/databases",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        }
      }
    },
    "instances": {
      "methods": {
        "clone": {
          "parameterOrder": [
            "project",
            "instance"
          ],
          "httpMethod": "POST",
          "id": "sql.instances.clone",
          "parameters": {
            "project": {
              "location": "path",
              "type": "string",
              "description": "Project ID of the source as well as the clone Cloud SQL instance.",
              "required": true
            },
            "instance": {
              "required": true,
              "type": "string",
              "description": "The ID of the Cloud SQL instance to be cloned (source). This does not include the project ID.",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Creates a Cloud SQL instance as a clone of the source instance. Using this operation might cause your instance to restart.",
          "request": {
            "$ref": "InstancesCloneRequest"
          },
          "path": "v1/projects/{project}/instances/{instance}/clone",
          "response": {
            "$ref": "Operation"
          },
          "flatPath": "v1/projects/{project}/instances/{instance}/clone"
        },
        "truncateLog": {
          "id": "sql.instances.truncateLog",
          "description": "Truncate MySQL general and slow query log tables MySQL only.",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "path": "v1/projects/{project}/instances/{instance}/truncateLog",
          "flatPath": "v1/projects/{project}/instances/{instance}/truncateLog",
          "request": {
            "$ref": "InstancesTruncateLogRequest"
          },
          "parameters": {
            "project": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Project ID of the Cloud SQL project."
            },
            "instance": {
              "type": "string",
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true
            }
          }
        },
        "import": {
          "parameters": {
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "project": {
              "required": true,
              "location": "path",
              "description": "Project ID of the project that contains the instance.",
              "type": "string"
            }
          },
          "request": {
            "$ref": "InstancesImportRequest"
          },
          "path": "v1/projects/{project}/instances/{instance}/import",
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "id": "sql.instances.import",
          "flatPath": "v1/projects/{project}/instances/{instance}/import",
          "description": "Imports data into a Cloud SQL instance from a SQL dump or CSV file in Cloud Storage.",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "promoteReplica": {
          "parameters": {
            "project": {
              "type": "string",
              "description": "ID of the project that contains the read replica.",
              "location": "path",
              "required": true
            },
            "instance": {
              "description": "Cloud SQL read replica instance name.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "POST",
          "id": "sql.instances.promoteReplica",
          "flatPath": "v1/projects/{project}/instances/{instance}/promoteReplica",
          "path": "v1/projects/{project}/instances/{instance}/promoteReplica",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "description": "Promotes the read replica instance to be a stand-alone Cloud SQL instance. Using this operation might cause your instance to restart.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "stopReplica": {
          "flatPath": "v1/projects/{project}/instances/{instance}/stopReplica",
          "parameters": {
            "project": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "ID of the project that contains the read replica."
            },
            "instance": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Cloud SQL read replica instance name."
            }
          },
          "httpMethod": "POST",
          "description": "Stops the replication in the read replica instance.",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "id": "sql.instances.stopReplica",
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "path": "v1/projects/{project}/instances/{instance}/stopReplica"
        },
        "export": {
          "response": {
            "$ref": "Operation"
          },
          "id": "sql.instances.export",
          "httpMethod": "POST",
          "path": "v1/projects/{project}/instances/{instance}/export",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "description": "Exports data from a Cloud SQL instance to a Cloud Storage bucket as a SQL dump or CSV file.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "project": {
              "description": "Project ID of the project that contains the instance to be exported.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "instance": {
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "v1/projects/{project}/instances/{instance}/export",
          "request": {
            "$ref": "InstancesExportRequest"
          }
        },
        "resetSslConfig": {
          "path": "v1/projects/{project}/instances/{instance}/resetSslConfig",
          "flatPath": "v1/projects/{project}/instances/{instance}/resetSslConfig",
          "parameters": {
            "instance": {
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string",
              "required": true
            },
            "project": {
              "type": "string",
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "location": "path"
            }
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "description": "Deletes all client certificates and generates a new server SSL certificate for the instance.",
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "httpMethod": "POST",
          "id": "sql.instances.resetSslConfig"
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "path": "v1/projects/{project}/instances/{instance}",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "httpMethod": "PUT",
          "description": "Updates settings of a Cloud SQL instance. Using this operation might cause your instance to restart.",
          "request": {
            "$ref": "DatabaseInstance"
          },
          "response": {
            "$ref": "Operation"
          },
          "id": "sql.instances.update",
          "flatPath": "v1/projects/{project}/instances/{instance}",
          "parameters": {
            "instance": {
              "required": true,
              "type": "string",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path"
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          }
        },
        "insert": {
          "path": "v1/projects/{project}/instances",
          "flatPath": "v1/projects/{project}/instances",
          "request": {
            "$ref": "DatabaseInstance"
          },
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project"
          ],
          "httpMethod": "POST",
          "description": "Creates a new Cloud SQL instance.",
          "parameters": {
            "project": {
              "description": "Project ID of the project to which the newly created Cloud SQL instances should belong.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.instances.insert"
        },
        "addServerCa": {
          "id": "sql.instances.addServerCa",
          "path": "v1/projects/{project}/instances/{instance}/addServerCa",
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "instance": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID."
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Adds a new trusted Certificate Authority (CA) version for the specified instance. Required to prepare for a certificate rotation. If a CA version was previously added but never used in a certificate rotation, this operation replaces that version. There cannot be more than one CA version waiting to be rotated in.",
          "flatPath": "v1/projects/{project}/instances/{instance}/addServerCa",
          "httpMethod": "POST"
        },
        "failover": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "v1/projects/{project}/instances/{instance}/failover",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "path": "v1/projects/{project}/instances/{instance}/failover",
          "parameters": {
            "project": {
              "location": "path",
              "required": true,
              "description": "ID of the project that contains the read replica.",
              "type": "string"
            },
            "instance": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Cloud SQL instance ID. This does not include the project ID."
            }
          },
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "POST",
          "description": "Initiates a manual failover of a high availability (HA) primary instance to a standby instance, which becomes the primary instance. Users are then rerouted to the new primary. For more information, see the [Overview of high availability](https://cloud.google.com/sql/docs/mysql/high-availability) page in the Cloud SQL documentation. If using Legacy HA (MySQL only), this causes the instance to failover to its failover replica instance.",
          "id": "sql.instances.failover",
          "request": {
            "$ref": "InstancesFailoverRequest"
          }
        },
        "get": {
          "parameterOrder": [
            "project",
            "instance"
          ],
          "id": "sql.instances.get",
          "description": "Retrieves a resource containing information about a Cloud SQL instance.",
          "path": "v1/projects/{project}/instances/{instance}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "v1/projects/{project}/instances/{instance}",
          "parameters": {
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "instance": {
              "type": "string",
              "location": "path",
              "description": "Database instance ID. This does not include the project ID.",
              "required": true
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "DatabaseInstance"
          }
        },
        "rotateServerCa": {
          "path": "v1/projects/{project}/instances/{instance}/rotateServerCa",
          "flatPath": "v1/projects/{project}/instances/{instance}/rotateServerCa",
          "description": "Rotates the server certificate to one signed by the Certificate Authority (CA) version previously added with the addServerCA method.",
          "request": {
            "$ref": "InstancesRotateServerCaRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.instances.rotateServerCa",
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "project": {
              "location": "path",
              "required": true,
              "description": "Project ID of the project that contains the instance.",
              "type": "string"
            },
            "instance": {
              "location": "path",
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string"
            }
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "project",
            "instance"
          ]
        },
        "listServerCas": {
          "description": "Lists all of the trusted Certificate Authorities (CAs) for the specified instance. There can be up to three CAs listed: the CA that was used to sign the certificate that is currently in use, a CA that has been added but not yet used to sign a certificate, and a CA used to sign a certificate that has previously rotated out.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "path": "v1/projects/{project}/instances/{instance}/listServerCas",
          "parameters": {
            "instance": {
              "location": "path",
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string"
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "id": "sql.instances.listServerCas",
          "response": {
            "$ref": "InstancesListServerCasResponse"
          },
          "httpMethod": "GET",
          "flatPath": "v1/projects/{project}/instances/{instance}/listServerCas",
          "parameterOrder": [
            "project",
            "instance"
          ]
        },
        "patch": {
          "response": {
            "$ref": "Operation"
          },
          "flatPath": "v1/projects/{project}/instances/{instance}",
          "path": "v1/projects/{project}/instances/{instance}",
          "description": "Partially updates settings of a Cloud SQL instance by merging the request with the current configuration. This method supports patch semantics.",
          "id": "sql.instances.patch",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameterOrder": [
            "project",
            "instance"
          ],
          "httpMethod": "PATCH",
          "parameters": {
            "instance": {
              "location": "path",
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string"
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "request": {
            "$ref": "DatabaseInstance"
          }
        },
        "list": {
          "path": "v1/projects/{project}/instances",
          "parameterOrder": [
            "project"
          ],
          "httpMethod": "GET",
          "parameters": {
            "filter": {
              "description": "A filter expression that filters resources listed in the response. The expression is in the form of field:value. For example, 'instanceType:CLOUD_SQL_INSTANCE'. Fields can be nested as needed as per their JSON representation, such as 'settings.userLabels.auto_start:true'. Multiple filter queries are space-separated. For example. 'state:RUNNABLE instanceType:CLOUD_SQL_INSTANCE'. By default, each expression is an AND expression. However, you can include AND and OR expressions explicitly.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "format": "uint32",
              "location": "query",
              "description": "The maximum number of instances to return. The service may return fewer than this value. If unspecified, at most 500 instances are returned. The maximum value is 1000; values above 1000 are coerced to 1000.",
              "type": "integer"
            },
            "project": {
              "description": "Project ID of the project for which to list Cloud SQL instances.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "A previously-returned page token representing part of the larger set of results to view."
            }
          },
          "description": "Lists instances under a given project.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.instances.list",
          "flatPath": "v1/projects/{project}/instances",
          "response": {
            "$ref": "InstancesListResponse"
          }
        },
        "delete": {
          "httpMethod": "DELETE",
          "path": "v1/projects/{project}/instances/{instance}",
          "id": "sql.instances.delete",
          "description": "Deletes a Cloud SQL instance.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "v1/projects/{project}/instances/{instance}",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "instance": {
              "required": true,
              "type": "string",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path"
            },
            "project": {
              "type": "string",
              "description": "Project ID of the project that contains the instance to be deleted.",
              "required": true,
              "location": "path"
            }
          }
        },
        "startReplica": {
          "response": {
            "$ref": "Operation"
          },
          "description": "Starts the replication in the read replica instance.",
          "path": "v1/projects/{project}/instances/{instance}/startReplica",
          "flatPath": "v1/projects/{project}/instances/{instance}/startReplica",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameterOrder": [
            "project",
            "instance"
          ],
          "id": "sql.instances.startReplica",
          "parameters": {
            "instance": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Cloud SQL read replica instance name."
            },
            "project": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "ID of the project that contains the read replica."
            }
          },
          "httpMethod": "POST"
        },
        "restart": {
          "httpMethod": "POST",
          "flatPath": "v1/projects/{project}/instances/{instance}/restart",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "project": {
              "description": "Project ID of the project that contains the instance to be restarted.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Restarts a Cloud SQL instance.",
          "id": "sql.instances.restart",
          "response": {
            "$ref": "Operation"
          },
          "path": "v1/projects/{project}/instances/{instance}/restart"
        },
        "restoreBackup": {
          "parameterOrder": [
            "project",
            "instance"
          ],
          "path": "v1/projects/{project}/instances/{instance}/restoreBackup",
          "request": {
            "$ref": "InstancesRestoreBackupRequest"
          },
          "flatPath": "v1/projects/{project}/instances/{instance}/restoreBackup",
          "parameters": {
            "instance": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID."
            },
            "project": {
              "required": true,
              "location": "path",
              "description": "Project ID of the project that contains the instance.",
              "type": "string"
            }
          },
          "id": "sql.instances.restoreBackup",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Restores a backup of a Cloud SQL instance. Using this operation might cause your instance to restart.",
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "POST"
        },
        "demoteMaster": {
          "response": {
            "$ref": "Operation"
          },
          "description": "Demotes the stand-alone instance to be a Cloud SQL read replica for an external database server.",
          "path": "v1/projects/{project}/instances/{instance}/demoteMaster",
          "flatPath": "v1/projects/{project}/instances/{instance}/demoteMaster",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.instances.demoteMaster",
          "parameters": {
            "instance": {
              "location": "path",
              "description": "Cloud SQL instance name.",
              "required": true,
              "type": "string"
            },
            "project": {
              "required": true,
              "description": "ID of the project that contains the instance.",
              "type": "string",
              "location": "path"
            }
          },
          "request": {
            "$ref": "InstancesDemoteMasterRequest"
          }
        }
      }
    },
    "projects": {
      "resources": {
        "instances": {
          "methods": {
            "getDiskShrinkConfig": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sqlservice.admin"
              ],
              "response": {
                "$ref": "SqlInstancesGetDiskShrinkConfigResponse"
              },
              "description": "Get Disk Shrink Config for a given instance.",
              "path": "v1/projects/{project}/instances/{instance}/getDiskShrinkConfig",
              "flatPath": "v1/projects/{project}/instances/{instance}/getDiskShrinkConfig",
              "httpMethod": "GET",
              "id": "sql.projects.instances.getDiskShrinkConfig",
              "parameters": {
                "instance": {
                  "description": "Cloud SQL instance ID. This does not include the project ID.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "project": {
                  "required": true,
                  "description": "Project ID of the project that contains the instance.",
                  "location": "path",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "project",
                "instance"
              ]
            },
            "verifyExternalSyncSettings": {
              "response": {
                "$ref": "SqlInstancesVerifyExternalSyncSettingsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sqlservice.admin"
              ],
              "description": "Verify External primary instance external sync settings.",
              "request": {
                "$ref": "SqlInstancesVerifyExternalSyncSettingsRequest"
              },
              "id": "sql.projects.instances.verifyExternalSyncSettings",
              "httpMethod": "POST",
              "parameters": {
                "instance": {
                  "type": "string",
                  "location": "path",
                  "description": "Cloud SQL instance ID. This does not include the project ID.",
                  "required": true
                },
                "project": {
                  "type": "string",
                  "required": true,
                  "description": "Project ID of the project that contains the instance.",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "project",
                "instance"
              ],
              "flatPath": "v1/projects/{project}/instances/{instance}/verifyExternalSyncSettings",
              "path": "v1/projects/{project}/instances/{instance}/verifyExternalSyncSettings"
            },
            "resetReplicaSize": {
              "parameters": {
                "project": {
                  "required": true,
                  "description": "ID of the project that contains the read replica.",
                  "location": "path",
                  "type": "string"
                },
                "instance": {
                  "description": "Cloud SQL read replica instance name.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "project",
                "instance"
              ],
              "path": "v1/projects/{project}/instances/{instance}/resetReplicaSize",
              "flatPath": "v1/projects/{project}/instances/{instance}/resetReplicaSize",
              "request": {
                "$ref": "SqlInstancesResetReplicaSizeRequest"
              },
              "httpMethod": "POST",
              "description": "Reset Replica Size to primary instance disk size.",
              "id": "sql.projects.instances.resetReplicaSize",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sqlservice.admin"
              ],
              "response": {
                "$ref": "Operation"
              }
            },
            "startExternalSync": {
              "path": "v1/projects/{project}/instances/{instance}/startExternalSync",
              "request": {
                "$ref": "SqlInstancesStartExternalSyncRequest"
              },
              "parameters": {
                "project": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "ID of the project that contains the instance."
                },
                "instance": {
                  "required": true,
                  "description": "Cloud SQL instance ID. This does not include the project ID.",
                  "type": "string",
                  "location": "path"
                }
              },
              "flatPath": "v1/projects/{project}/instances/{instance}/startExternalSync",
              "response": {
                "$ref": "Operation"
              },
              "id": "sql.projects.instances.startExternalSync",
              "description": "Start External primary instance migration.",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sqlservice.admin"
              ],
              "parameterOrder": [
                "project",
                "instance"
              ]
            },
            "performDiskShrink": {
              "request": {
                "$ref": "PerformDiskShrinkContext"
              },
              "parameters": {
                "project": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Project ID of the project that contains the instance."
                },
                "instance": {
                  "type": "string",
                  "description": "Cloud SQL instance ID. This does not include the project ID.",
                  "required": true,
                  "location": "path"
                }
              },
              "httpMethod": "POST",
              "flatPath": "v1/projects/{project}/instances/{instance}/performDiskShrink",
              "response": {
                "$ref": "Operation"
              },
              "parameterOrder": [
                "project",
                "instance"
              ],
              "id": "sql.projects.instances.performDiskShrink",
              "description": "Perform Disk Shrink on primary instance.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sqlservice.admin"
              ],
              "path": "v1/projects/{project}/instances/{instance}/performDiskShrink"
            },
            "rescheduleMaintenance": {
              "description": "Reschedules the maintenance on the given instance.",
              "parameterOrder": [
                "project",
                "instance"
              ],
              "id": "sql.projects.instances.rescheduleMaintenance",
              "httpMethod": "POST",
              "parameters": {
                "instance": {
                  "location": "path",
                  "description": "Cloud SQL instance ID. This does not include the project ID.",
                  "required": true,
                  "type": "string"
                },
                "project": {
                  "description": "ID of the project that contains the instance.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "request": {
                "$ref": "SqlInstancesRescheduleMaintenanceRequestBody"
              },
              "flatPath": "v1/projects/{project}/instances/{instance}/rescheduleMaintenance",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sqlservice.admin"
              ],
              "response": {
                "$ref": "Operation"
              },
              "path": "v1/projects/{project}/instances/{instance}/rescheduleMaintenance"
            }
          }
        }
      }
    },
    "sslCerts": {
      "methods": {
        "get": {
          "response": {
            "$ref": "SslCert"
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "project",
            "instance",
            "sha1Fingerprint"
          ],
          "flatPath": "v1/projects/{project}/instances/{instance}/sslCerts/{sha1Fingerprint}",
          "id": "sql.sslCerts.get",
          "path": "v1/projects/{project}/instances/{instance}/sslCerts/{sha1Fingerprint}",
          "description": "Retrieves a particular SSL certificate. Does not include the private key (required for usage). The private key must be saved from the response to initial creation.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "project": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Project ID of the project that contains the instance."
            },
            "sha1Fingerprint": {
              "type": "string",
              "location": "path",
              "description": "Sha1 FingerPrint.",
              "required": true
            },
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          }
        },
        "createEphemeral": {
          "httpMethod": "POST",
          "path": "v1/projects/{project}/instances/{instance}/createEphemeral",
          "flatPath": "v1/projects/{project}/instances/{instance}/createEphemeral",
          "request": {
            "$ref": "SslCertsCreateEphemeralRequest"
          },
          "response": {
            "$ref": "SslCert"
          },
          "description": "Generates a short-lived X509 certificate containing the provided public key and signed by a private key specific to the target instance. Users may use the certificate to authenticate as themselves when connecting to the database.",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "project": {
              "description": "Project ID of the Cloud SQL project.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "instance": {
              "location": "path",
              "type": "string",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true
            }
          },
          "id": "sql.sslCerts.createEphemeral"
        },
        "list": {
          "id": "sql.sslCerts.list",
          "path": "v1/projects/{project}/instances/{instance}/sslCerts",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "v1/projects/{project}/instances/{instance}/sslCerts",
          "httpMethod": "GET",
          "response": {
            "$ref": "SslCertsListResponse"
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "description": "Lists all of the current SSL certificates for the instance.",
          "parameters": {
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "project": {
              "location": "path",
              "required": true,
              "description": "Project ID of the project that contains the instance.",
              "type": "string"
            }
          }
        },
        "insert": {
          "parameterOrder": [
            "project",
            "instance"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "request": {
            "$ref": "SslCertsInsertRequest"
          },
          "description": "Creates an SSL certificate and returns it along with the private key and server certificate authority. The new certificate will not be usable until the instance is restarted.",
          "response": {
            "$ref": "SslCertsInsertResponse"
          },
          "httpMethod": "POST",
          "id": "sql.sslCerts.insert",
          "path": "v1/projects/{project}/instances/{instance}/sslCerts",
          "flatPath": "v1/projects/{project}/instances/{instance}/sslCerts",
          "parameters": {
            "instance": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID."
            },
            "project": {
              "location": "path",
              "description": "Project ID of the project that contains the instance.",
              "type": "string",
              "required": true
            }
          }
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Deletes the SSL certificate. For First Generation instances, the certificate remains valid until the instance is restarted.",
          "path": "v1/projects/{project}/instances/{instance}/sslCerts/{sha1Fingerprint}",
          "httpMethod": "DELETE",
          "id": "sql.sslCerts.delete",
          "flatPath": "v1/projects/{project}/instances/{instance}/sslCerts/{sha1Fingerprint}",
          "parameterOrder": [
            "project",
            "instance",
            "sha1Fingerprint"
          ],
          "parameters": {
            "instance": {
              "type": "string",
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true
            },
            "sha1Fingerprint": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Sha1 FingerPrint."
            },
            "project": {
              "location": "path",
              "description": "Project ID of the project that contains the instance.",
              "type": "string",
              "required": true
            }
          },
          "response": {
            "$ref": "Operation"
          }
        }
      }
    },
    "users": {
      "methods": {
        "delete": {
          "httpMethod": "DELETE",
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "name": {
              "type": "string",
              "description": "Name of the user in the instance.",
              "location": "query"
            },
            "host": {
              "type": "string",
              "location": "query",
              "description": "Host of the user in the instance."
            },
            "instance": {
              "type": "string",
              "description": "Database instance ID. This does not include the project ID.",
              "location": "path",
              "required": true
            },
            "project": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Project ID of the project that contains the instance."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.users.delete",
          "description": "Deletes a user from a Cloud SQL instance.",
          "path": "v1/projects/{project}/instances/{instance}/users",
          "flatPath": "v1/projects/{project}/instances/{instance}/users"
        },
        "update": {
          "request": {
            "$ref": "User"
          },
          "httpMethod": "PUT",
          "description": "Updates an existing user in a Cloud SQL instance.",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "flatPath": "v1/projects/{project}/instances/{instance}/users",
          "path": "v1/projects/{project}/instances/{instance}/users",
          "parameters": {
            "host": {
              "location": "query",
              "description": "Optional. Host of the user in the instance.",
              "type": "string"
            },
            "name": {
              "description": "Name of the user in the instance.",
              "location": "query",
              "type": "string"
            },
            "instance": {
              "description": "Database instance ID. This does not include the project ID.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.users.update",
          "response": {
            "$ref": "Operation"
          }
        },
        "list": {
          "httpMethod": "GET",
          "parameters": {
            "instance": {
              "location": "path",
              "description": "Database instance ID. This does not include the project ID.",
              "required": true,
              "type": "string"
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "id": "sql.users.list",
          "response": {
            "$ref": "UsersListResponse"
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "path": "v1/projects/{project}/instances/{instance}/users",
          "description": "Lists users in the specified Cloud SQL instance.",
          "flatPath": "v1/projects/{project}/instances/{instance}/users"
        },
        "insert": {
          "id": "sql.users.insert",
          "parameters": {
            "project": {
              "required": true,
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "type": "string"
            },
            "instance": {
              "required": true,
              "type": "string",
              "description": "Database instance ID. This does not include the project ID.",
              "location": "path"
            }
          },
          "description": "Creates a new user in a Cloud SQL instance.",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "request": {
            "$ref": "User"
          },
          "flatPath": "v1/projects/{project}/instances/{instance}/users",
          "path": "v1/projects/{project}/instances/{instance}/users",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "POST"
        },
        "get": {
          "flatPath": "v1/projects/{project}/instances/{instance}/users/{name}",
          "description": "Retrieves a resource containing information about a user.",
          "parameters": {
            "instance": {
              "location": "path",
              "type": "string",
              "description": "Database instance ID. This does not include the project ID.",
              "required": true
            },
            "host": {
              "type": "string",
              "description": "Host of a user of the instance.",
              "location": "query"
            },
            "project": {
              "type": "string",
              "required": true,
              "description": "Project ID of the project that contains the instance.",
              "location": "path"
            },
            "name": {
              "description": "User of the instance.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "id": "sql.users.get",
          "response": {
            "$ref": "User"
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameterOrder": [
            "project",
            "instance",
            "name"
          ],
          "path": "v1/projects/{project}/instances/{instance}/users/{name}"
        }
      }
    },
    "connect": {
      "methods": {
        "generateEphemeralCert": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.connect.generateEphemeral",
          "response": {
            "$ref": "GenerateEphemeralCertResponse"
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "request": {
            "$ref": "GenerateEphemeralCertRequest"
          },
          "flatPath": "v1/projects/{project}/instances/{instance}:generateEphemeralCert",
          "httpMethod": "POST",
          "parameters": {
            "instance": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID."
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "description": "Generates a short-lived X509 certificate containing the provided public key and signed by a private key specific to the target instance. Users may use the certificate to authenticate as themselves when connecting to the database.",
          "path": "v1/projects/{project}/instances/{instance}:generateEphemeralCert"
        },
        "get": {
          "id": "sql.connect.get",
          "response": {
            "$ref": "ConnectSettings"
          },
          "parameters": {
            "readTime": {
              "type": "string",
              "format": "google-datetime",
              "description": "Optional. Optional snapshot read timestamp to trade freshness for performance.",
              "location": "query"
            },
            "instance": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID."
            },
            "project": {
              "required": true,
              "location": "path",
              "description": "Project ID of the project that contains the instance.",
              "type": "string"
            }
          },
          "flatPath": "v1/projects/{project}/instances/{instance}/connectSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Retrieves connect settings about a Cloud SQL instance.",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "httpMethod": "GET",
          "path": "v1/projects/{project}/instances/{instance}/connectSettings"
        }
      }
    },
    "tiers": {
      "methods": {
        "list": {
          "description": "Lists all available machine types (tiers) for Cloud SQL, for example, `db-custom-1-3840`. For more information, see https://cloud.google.com/sql/pricing.",
          "parameterOrder": [
            "project"
          ],
          "path": "v1/projects/{project}/tiers",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "project": {
              "type": "string",
              "required": true,
              "description": "Project ID of the project for which to list tiers.",
              "location": "path"
            }
          },
          "flatPath": "v1/projects/{project}/tiers",
          "response": {
            "$ref": "TiersListResponse"
          },
          "id": "sql.tiers.list",
          "httpMethod": "GET"
        }
      }
    },
    "backupRuns": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "v1/projects/{project}/instances/{instance}/backupRuns/{id}",
          "parameters": {
            "instance": {
              "type": "string",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "required": true
            },
            "id": {
              "description": "The ID of this backup run.",
              "location": "path",
              "format": "int64",
              "required": true,
              "type": "string"
            },
            "project": {
              "required": true,
              "location": "path",
              "description": "Project ID of the project that contains the instance.",
              "type": "string"
            }
          },
          "description": "Retrieves a resource containing information about a backup run.",
          "response": {
            "$ref": "BackupRun"
          },
          "id": "sql.backupRuns.get",
          "httpMethod": "GET",
          "path": "v1/projects/{project}/instances/{instance}/backupRuns/{id}",
          "parameterOrder": [
            "project",
            "instance",
            "id"
          ]
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "httpMethod": "DELETE",
          "response": {
            "$ref": "Operation"
          },
          "path": "v1/projects/{project}/instances/{instance}/backupRuns/{id}",
          "parameters": {
            "project": {
              "location": "path",
              "type": "string",
              "description": "Project ID of the project that contains the instance.",
              "required": true
            },
            "id": {
              "location": "path",
              "description": "The ID of the backup run to delete. To find a backup run ID, use the [list](https://cloud.google.com/sql/docs/mysql/admin-api/rest/v1/backupRuns/list) method.",
              "required": true,
              "format": "int64",
              "type": "string"
            },
            "instance": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID."
            }
          },
          "description": "Deletes the backup taken by a backup run.",
          "flatPath": "v1/projects/{project}/instances/{instance}/backupRuns/{id}",
          "id": "sql.backupRuns.delete",
          "parameterOrder": [
            "project",
            "instance",
            "id"
          ]
        },
        "list": {
          "description": "Lists all backup runs associated with the project or a given instance and configuration in the reverse chronological order of the backup initiation time.",
          "parameters": {
            "project": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Project ID of the project that contains the instance."
            },
            "maxResults": {
              "description": "Maximum number of backup runs per response.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            },
            "instance": {
              "location": "path",
              "required": true,
              "description": "Cloud SQL instance ID, or \"-\" for all instances. This does not include the project ID.",
              "type": "string"
            },
            "pageToken": {
              "description": "A previously-returned page token representing part of the larger set of results to view.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "v1/projects/{project}/instances/{instance}/backupRuns",
          "flatPath": "v1/projects/{project}/instances/{instance}/backupRuns",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "id": "sql.backupRuns.list",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "BackupRunsListResponse"
          }
        },
        "insert": {
          "parameterOrder": [
            "project",
            "instance"
          ],
          "path": "v1/projects/{project}/instances/{instance}/backupRuns",
          "description": "Creates a new backup run on demand.",
          "httpMethod": "POST",
          "id": "sql.backupRuns.insert",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "instance": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Cloud SQL instance ID. This does not include the project ID."
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "request": {
            "$ref": "BackupRun"
          },
          "flatPath": "v1/projects/{project}/instances/{instance}/backupRuns",
          "response": {
            "$ref": "Operation"
          }
        }
      }
    }
  },
  "name": "sqladmin",
  "parameters": {
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "default": "json",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    }
  },
  "basePath": "",
  "fullyEncodeReservedExpansion": true,
  "revision": "20230523",
  "schemas": {
    "FlagsListResponse": {
      "type": "object",
      "id": "FlagsListResponse",
      "properties": {
        "kind": {
          "description": "This is always `sql#flagsList`.",
          "type": "string"
        },
        "items": {
          "description": "List of flags.",
          "items": {
            "$ref": "Flag"
          },
          "type": "array"
        }
      },
      "description": "Flags list response."
    },
    "AdvancedMachineFeatures": {
      "type": "object",
      "id": "AdvancedMachineFeatures",
      "properties": {
        "threadsPerCore": {
          "format": "int32",
          "description": "The number of threads per physical core.",
          "type": "integer"
        }
      },
      "description": "Specifies options for controlling advanced machine features."
    },
    "OperationErrors": {
      "id": "OperationErrors",
      "type": "object",
      "properties": {
        "kind": {
          "description": "This is always `sql#operationErrors`.",
          "type": "string"
        },
        "errors": {
          "description": "The list of errors encountered while processing this operation.",
          "type": "array",
          "items": {
            "$ref": "OperationError"
          }
        }
      },
      "description": "Database instance operation errors list wrapper."
    },
    "MySqlSyncConfig": {
      "type": "object",
      "id": "MySqlSyncConfig",
      "properties": {
        "initialSyncFlags": {
          "type": "array",
          "description": "Flags to use for the initial dump.",
          "items": {
            "$ref": "SyncFlags"
          }
        }
      },
      "description": "MySQL-specific external server sync settings."
    },
    "Tier": {
      "type": "object",
      "description": "A Google Cloud SQL service tier resource.",
      "id": "Tier",
      "properties": {
        "DiskQuota": {
          "type": "string",
          "format": "int64",
          "description": "The maximum disk size of this tier in bytes."
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#tier`."
        },
        "RAM": {
          "description": "The maximum RAM usage of this tier in bytes.",
          "type": "string",
          "format": "int64"
        },
        "region": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The applicable regions for this tier."
        },
        "tier": {
          "description": "An identifier for the machine type, for example, `db-custom-1-3840`. For related information, see [Pricing](/sql/pricing).",
          "type": "string"
        }
      }
    },
    "ConnectSettings": {
      "type": "object",
      "id": "ConnectSettings",
      "properties": {
        "serverCaCert": {
          "description": "SSL configuration.",
          "$ref": "SslCert"
        },
        "backendType": {
          "type": "string",
          "enum": [
            "SQL_BACKEND_TYPE_UNSPECIFIED",
            "FIRST_GEN",
            "SECOND_GEN",
            "EXTERNAL"
          ],
          "description": "`SECOND_GEN`: Cloud SQL database instance. `EXTERNAL`: A database server that is not managed by Google. This property is read-only; use the `tier` property in the `settings` object to determine the database type.",
          "enumDescriptions": [
            "This is an unknown backend type for instance.",
            "V1 speckle instance.",
            "V2 speckle instance.",
            "On premises instance."
          ]
        },
        "databaseVersion": {
          "type": "string",
          "description": "The database engine type and version. The `databaseVersion` field cannot be changed after instance creation. MySQL instances: `MYSQL_8_0`, `MYSQL_5_7` (default), or `MYSQL_5_6`. PostgreSQL instances: `POSTGRES_9_6`, `POSTGRES_10`, `POSTGRES_11`, `POSTGRES_12` (default), `POSTGRES_13`, or `POSTGRES_14`. SQL Server instances: `SQLSERVER_2017_STANDARD` (default), `SQLSERVER_2017_ENTERPRISE`, `SQLSERVER_2017_EXPRESS`, `SQLSERVER_2017_WEB`, `SQLSERVER_2019_STANDARD`, `SQLSERVER_2019_ENTERPRISE`, `SQLSERVER_2019_EXPRESS`, or `SQLSERVER_2019_WEB`.",
          "enumDescriptions": [
            "This is an unknown database version.",
            "The database version is MySQL 5.1.",
            "The database version is MySQL 5.5.",
            "The database version is MySQL 5.6.",
            "The database version is MySQL 5.7.",
            "The database version is SQL Server 2017 Standard.",
            "The database version is SQL Server 2017 Enterprise.",
            "The database version is SQL Server 2017 Express.",
            "The database version is SQL Server 2017 Web.",
            "The database version is PostgreSQL 9.6.",
            "The database version is PostgreSQL 10.",
            "The database version is PostgreSQL 11.",
            "The database version is PostgreSQL 12.",
            "The database version is PostgreSQL 13.",
            "The database version is PostgreSQL 14.",
            "The database version is PostgreSQL 15.",
            "The database version is MySQL 8.",
            "The database major version is MySQL 8.0 and the minor version is 18.",
            "The database major version is MySQL 8.0 and the minor version is 26.",
            "The database major version is MySQL 8.0 and the minor version is 27.",
            "The database major version is MySQL 8.0 and the minor version is 28.",
            "The database major version is MySQL 8.0 and the minor version is 29.",
            "The database major version is MySQL 8.0 and the minor version is 30.",
            "The database major version is MySQL 8.0 and the minor version is 31.",
            "The database major version is MySQL 8.0 and the minor version is 32.",
            "The database major version is MySQL 8.0 and the minor version is 33.",
            "The database major version is MySQL 8.0 and the minor version is 34.",
            "The database major version is MySQL 8.0 and the minor version is 35.",
            "The database major version is MySQL 8.0 and the minor version is 36.",
            "The database version is SQL Server 2019 Standard.",
            "The database version is SQL Server 2019 Enterprise.",
            "The database version is SQL Server 2019 Express.",
            "The database version is SQL Server 2019 Web."
          ],
          "enum": [
            "SQL_DATABASE_VERSION_UNSPECIFIED",
            "MYSQL_5_1",
            "MYSQL_5_5",
            "MYSQL_5_6",
            "MYSQL_5_7",
            "SQLSERVER_2017_STANDARD",
            "SQLSERVER_2017_ENTERPRISE",
            "SQLSERVER_2017_EXPRESS",
            "SQLSERVER_2017_WEB",
            "POSTGRES_9_6",
            "POSTGRES_10",
            "POSTGRES_11",
            "POSTGRES_12",
            "POSTGRES_13",
            "POSTGRES_14",
            "POSTGRES_15",
            "MYSQL_8_0",
            "MYSQL_8_0_18",
            "MYSQL_8_0_26",
            "MYSQL_8_0_27",
            "MYSQL_8_0_28",
            "MYSQL_8_0_29",
            "MYSQL_8_0_30",
            "MYSQL_8_0_31",
            "MYSQL_8_0_32",
            "MYSQL_8_0_33",
            "MYSQL_8_0_34",
            "MYSQL_8_0_35",
            "MYSQL_8_0_36",
            "SQLSERVER_2019_STANDARD",
            "SQLSERVER_2019_ENTERPRISE",
            "SQLSERVER_2019_EXPRESS",
            "SQLSERVER_2019_WEB"
          ]
        },
        "region": {
          "type": "string",
          "description": "The cloud region for the instance. For example, `us-central1`, `europe-west1`. The region cannot be changed after instance creation."
        },
        "ipAddresses": {
          "description": "The assigned IP addresses for the instance.",
          "type": "array",
          "items": {
            "$ref": "IpMapping"
          }
        },
        "kind": {
          "description": "This is always `sql#connectSettings`.",
          "type": "string"
        }
      },
      "description": "Connect settings retrieval response."
    },
    "BackupConfiguration": {
      "description": "Database instance backup configuration.",
      "id": "BackupConfiguration",
      "type": "object",
      "properties": {
        "pointInTimeRecoveryEnabled": {
          "type": "boolean",
          "description": "(Postgres only) Whether point in time recovery is enabled."
        },
        "kind": {
          "description": "This is always `sql#backupConfiguration`.",
          "type": "string"
        },
        "binaryLogEnabled": {
          "description": "(MySQL only) Whether binary log is enabled. If backup configuration is disabled, binarylog must be disabled as well.",
          "type": "boolean"
        },
        "startTime": {
          "type": "string",
          "description": "Start time for the daily backup configuration in UTC timezone in the 24 hour format - `HH:MM`."
        },
        "backupRetentionSettings": {
          "description": "Backup retention settings.",
          "$ref": "BackupRetentionSettings"
        },
        "replicationLogArchivingEnabled": {
          "type": "boolean",
          "description": "Reserved for future use."
        },
        "enabled": {
          "type": "boolean",
          "description": "Whether this configuration is enabled."
        },
        "transactionLogRetentionDays": {
          "type": "integer",
          "format": "int32",
          "description": "The number of days of transaction logs we retain for point in time restore, from 1-7."
        },
        "location": {
          "description": "Location of the backup",
          "type": "string"
        }
      }
    },
    "AclEntry": {
      "id": "AclEntry",
      "description": "An entry for an Access Control list.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The allowlisted value for the access control list.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#aclEntry`."
        },
        "expirationTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time when this access control entry expires in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`."
        },
        "name": {
          "type": "string",
          "description": "Optional. A label to identify this entry."
        }
      }
    },
    "SqlServerUserDetails": {
      "id": "SqlServerUserDetails",
      "properties": {
        "serverRoles": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The server roles for this user"
        },
        "disabled": {
          "description": "If the user has been disabled",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Represents a Sql Server user on the Cloud SQL instance."
    },
    "Settings": {
      "properties": {
        "ipConfiguration": {
          "description": "The settings for IP Management. This allows to enable or disable the instance IP and manage which external networks can connect to the instance. The IPv4 address cannot be disabled for Second Generation instances.",
          "$ref": "IpConfiguration"
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#settings`."
        },
        "databaseReplicationEnabled": {
          "type": "boolean",
          "description": "Configuration specific to read replica instances. Indicates whether replication is enabled or not. WARNING: Changing this restarts the instance."
        },
        "connectorEnforcement": {
          "enum": [
            "CONNECTOR_ENFORCEMENT_UNSPECIFIED",
            "NOT_REQUIRED",
            "REQUIRED"
          ],
          "enumDescriptions": [
            "The requirement for Cloud SQL connectors is unknown.",
            "Do not require Cloud SQL connectors.",
            "Require all connections to use Cloud SQL connectors, including the Cloud SQL Auth Proxy and Cloud SQL Java, Python, and Go connectors. Note: This disables all existing authorized networks."
          ],
          "type": "string",
          "description": "Specifies if connections must use Cloud SQL connectors. Option values include the following: `NOT_REQUIRED` (Cloud SQL instances can be connected without Cloud SQL Connectors) and `REQUIRED` (Only allow connections that use Cloud SQL Connectors). Note that using REQUIRED disables all existing authorized networks. If this field is not specified when creating a new instance, NOT_REQUIRED is used. If this field is not specified when patching or updating an existing instance, it is left unchanged in the instance."
        },
        "activationPolicy": {
          "enumDescriptions": [
            "Unknown activation plan.",
            "The instance is always up and running.",
            "The instance never starts.",
            "The instance starts upon receiving requests."
          ],
          "type": "string",
          "enum": [
            "SQL_ACTIVATION_POLICY_UNSPECIFIED",
            "ALWAYS",
            "NEVER",
            "ON_DEMAND"
          ],
          "description": "The activation policy specifies when the instance is activated; it is applicable only when the instance state is RUNNABLE. Valid values: * `ALWAYS`: The instance is on, and remains so even in the absence of connection requests. * `NEVER`: The instance is off; it is not activated, even if a connection request arrives."
        },
        "timeZone": {
          "type": "string",
          "description": "Server timezone, relevant only for Cloud SQL for SQL Server."
        },
        "storageAutoResizeLimit": {
          "description": "The maximum size to which storage capacity can be automatically increased. The default value is 0, which specifies that there is no limit.",
          "type": "string",
          "format": "int64"
        },
        "advancedMachineFeatures": {
          "$ref": "AdvancedMachineFeatures",
          "description": "Specifies advance machine configuration for the instance relevant only for SQL Server."
        },
        "dataDiskType": {
          "description": "The type of data disk: `PD_SSD` (default) or `PD_HDD`. Not used for First Generation instances.",
          "type": "string",
          "enumDescriptions": [
            "This is an unknown data disk type.",
            "An SSD data disk.",
            "An HDD data disk.",
            "This field is deprecated and will be removed from a future version of the API."
          ],
          "enum": [
            "SQL_DATA_DISK_TYPE_UNSPECIFIED",
            "PD_SSD",
            "PD_HDD",
            "OBSOLETE_LOCAL_SSD"
          ]
        },
        "deletionProtectionEnabled": {
          "description": "Configuration to protect against accidental instance deletion.",
          "type": "boolean"
        },
        "denyMaintenancePeriods": {
          "type": "array",
          "description": "Deny maintenance periods",
          "items": {
            "$ref": "DenyMaintenancePeriod"
          }
        },
        "maintenanceWindow": {
          "description": "The maintenance window for this instance. This specifies when the instance can be restarted for maintenance purposes.",
          "$ref": "MaintenanceWindow"
        },
        "replicationType": {
          "type": "string",
          "enumDescriptions": [
            "This is an unknown replication type for a Cloud SQL instance.",
            "The synchronous replication mode for First Generation instances. It is the default value.",
            "The asynchronous replication mode for First Generation instances. It provides a slight performance gain, but if an outage occurs while this option is set to asynchronous, you can lose up to a few seconds of updates to your data."
          ],
          "description": "The type of replication this instance uses. This can be either `ASYNCHRONOUS` or `SYNCHRONOUS`. (Deprecated) This property was only applicable to First Generation instances.",
          "enum": [
            "SQL_REPLICATION_TYPE_UNSPECIFIED",
            "SYNCHRONOUS",
            "ASYNCHRONOUS"
          ]
        },
        "crashSafeReplicationEnabled": {
          "type": "boolean",
          "description": "Configuration specific to read replica instances. Indicates whether database flags for crash-safe replication are enabled. This property was only applicable to First Generation instances."
        },
        "userLabels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "User-provided labels, represented as a dictionary where each label is a single key value pair."
        },
        "dataDiskSizeGb": {
          "format": "int64",
          "type": "string",
          "description": "The size of data disk, in GB. The data disk size minimum is 10GB."
        },
        "passwordValidationPolicy": {
          "$ref": "PasswordValidationPolicy",
          "description": "The local user password validation policy of the instance."
        },
        "activeDirectoryConfig": {
          "$ref": "SqlActiveDirectoryConfig",
          "description": "Active Directory configuration, relevant only for Cloud SQL for SQL Server."
        },
        "sqlServerAuditConfig": {
          "description": "SQL Server specific audit configuration.",
          "$ref": "SqlServerAuditConfig"
        },
        "backupConfiguration": {
          "description": "The daily backup configuration for the instance.",
          "$ref": "BackupConfiguration"
        },
        "pricingPlan": {
          "enumDescriptions": [
            "This is an unknown pricing plan for this instance.",
            "The instance is billed at a monthly flat rate.",
            "The instance is billed per usage."
          ],
          "type": "string",
          "enum": [
            "SQL_PRICING_PLAN_UNSPECIFIED",
            "PACKAGE",
            "PER_USE"
          ],
          "description": "The pricing plan for this instance. This can be either `PER_USE` or `PACKAGE`. Only `PER_USE` is supported for Second Generation instances."
        },
        "tier": {
          "description": "The tier (or machine type) for this instance, for example `db-custom-1-3840`. WARNING: Changing this restarts the instance.",
          "type": "string"
        },
        "collation": {
          "description": "The name of server Instance collation.",
          "type": "string"
        },
        "locationPreference": {
          "$ref": "LocationPreference",
          "description": "The location preference settings. This allows the instance to be located as near as possible to either an App Engine app or Compute Engine zone for better performance. App Engine co-location was only applicable to First Generation instances."
        },
        "settingsVersion": {
          "description": "The version of instance settings. This is a required field for update method to make sure concurrent updates are handled properly. During update, use the most recent settingsVersion value for this instance and do not try to update this value.",
          "type": "string",
          "format": "int64"
        },
        "authorizedGaeApplications": {
          "type": "array",
          "description": "The App Engine app IDs that can access this instance. (Deprecated) Applied to First Generation instances only.",
          "items": {
            "type": "string"
          }
        },
        "availabilityType": {
          "type": "string",
          "description": "Availability type. Potential values: * `ZONAL`: The instance serves data from only one zone. Outages in that zone affect data accessibility. * `REGIONAL`: The instance can serve data from more than one zone in a region (it is highly available)./ For more information, see [Overview of the High Availability Configuration](https://cloud.google.com/sql/docs/mysql/high-availability).",
          "enumDescriptions": [
            "This is an unknown Availability type.",
            "Zonal available instance.",
            "Regional available instance."
          ],
          "enum": [
            "SQL_AVAILABILITY_TYPE_UNSPECIFIED",
            "ZONAL",
            "REGIONAL"
          ]
        },
        "insightsConfig": {
          "description": "Insights configuration, for now relevant only for Postgres.",
          "$ref": "InsightsConfig"
        },
        "storageAutoResize": {
          "description": "Configuration to increase storage size automatically. The default value is true.",
          "type": "boolean"
        },
        "databaseFlags": {
          "description": "The database flags passed to the instance at startup.",
          "type": "array",
          "items": {
            "$ref": "DatabaseFlags"
          }
        }
      },
      "description": "Database instance settings.",
      "id": "Settings",
      "type": "object"
    },
    "InstancesCloneRequest": {
      "id": "InstancesCloneRequest",
      "type": "object",
      "description": "Database instance clone request.",
      "properties": {
        "cloneContext": {
          "description": "Contains details about the clone operation.",
          "$ref": "CloneContext"
        }
      }
    },
    "Reschedule": {
      "id": "Reschedule",
      "properties": {
        "rescheduleType": {
          "enumDescriptions": [
            "",
            "Reschedules maintenance to happen now (within 5 minutes).",
            "Reschedules maintenance to occur within one week from the originally scheduled day and time.",
            "Reschedules maintenance to a specific time and day."
          ],
          "type": "string",
          "enum": [
            "RESCHEDULE_TYPE_UNSPECIFIED",
            "IMMEDIATE",
            "NEXT_AVAILABLE_WINDOW",
            "SPECIFIC_TIME"
          ],
          "description": "Required. The type of the reschedule."
        },
        "scheduleTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. Timestamp when the maintenance shall be rescheduled to if reschedule_type=SPECIFIC_TIME, in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`."
        }
      },
      "type": "object"
    },
    "InstancesListResponse": {
      "description": "Database instances list response.",
      "id": "InstancesListResponse",
      "type": "object",
      "properties": {
        "warnings": {
          "items": {
            "$ref": "ApiWarning"
          },
          "description": "List of warnings that occurred while handling the request.",
          "type": "array"
        },
        "items": {
          "items": {
            "$ref": "DatabaseInstance"
          },
          "type": "array",
          "description": "List of database instance resources."
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#instancesList`."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results."
        }
      }
    },
    "SqlOutOfDiskReport": {
      "id": "SqlOutOfDiskReport",
      "description": "This message wraps up the information written by out-of-disk detection job.",
      "properties": {
        "sqlOutOfDiskState": {
          "description": "This field represents the state generated by the proactive database wellness job for OutOfDisk issues. * Writers: * the proactive database wellness job for OOD. * Readers: * the proactive database wellness job",
          "enumDescriptions": [
            "Unspecified state",
            "The instance has plenty space on data disk",
            "Data disk is almost used up. It is shutdown to prevent data corruption."
          ],
          "enum": [
            "SQL_OUT_OF_DISK_STATE_UNSPECIFIED",
            "NORMAL",
            "SOFT_SHUTDOWN"
          ],
          "type": "string"
        },
        "sqlMinRecommendedIncreaseSizeGb": {
          "description": "The minimum recommended increase size in GigaBytes This field is consumed by the frontend * Writers: * the proactive database wellness job for OOD. * Readers:",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "RestoreBackupContext": {
      "id": "RestoreBackupContext",
      "type": "object",
      "properties": {
        "kind": {
          "description": "This is always `sql#restoreBackupContext`.",
          "type": "string"
        },
        "backupRunId": {
          "description": "The ID of the backup run to restore from.",
          "type": "string",
          "format": "int64"
        },
        "instanceId": {
          "type": "string",
          "description": "The ID of the instance that the backup was taken from."
        },
        "project": {
          "type": "string",
          "description": "The full project ID of the source instance."
        }
      },
      "description": "Database instance restore from backup context. Backup context contains source instance id and project id."
    },
    "BackupRun": {
      "type": "object",
      "id": "BackupRun",
      "properties": {
        "startTime": {
          "type": "string",
          "format": "google-datetime",
[...]
