{
  "parameters": {
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response."
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    }
  },
  "description": "API for Cloud SQL database instance management",
  "version": "v1",
  "mtlsRootUrl": "https://sqladmin.mtls.googleapis.com/",
  "ownerDomain": "google.com",
  "documentationLink": "https://developers.google.com/cloud-sql/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/sqlservice.admin": {
          "description": "Manage your Google SQL Service instances"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "basePath": "",
  "baseUrl": "https://sqladmin.googleapis.com/",
  "protocol": "rest",
  "canonicalName": "SQL Admin",
  "id": "sqladmin:v1",
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "resources": {
    "projects": {
      "resources": {
        "instances": {
          "methods": {
            "startExternalSync": {
              "parameters": {
                "project": {
                  "type": "string",
                  "required": true,
                  "description": "ID of the project that contains the instance.",
                  "location": "path"
                },
                "instance": {
                  "location": "path",
                  "required": true,
                  "description": "Cloud SQL instance ID. This does not include the project ID.",
                  "type": "string"
                }
              },
              "path": "v1/projects/{project}/instances/{instance}/startExternalSync",
              "description": "Start External primary instance migration.",
              "httpMethod": "POST",
              "flatPath": "v1/projects/{project}/instances/{instance}/startExternalSync",
              "response": {
                "$ref": "Operation"
              },
              "id": "sql.projects.instances.startExternalSync",
              "parameterOrder": [
                "project",
                "instance"
              ],
              "request": {
                "$ref": "SqlInstancesStartExternalSyncRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sqlservice.admin"
              ]
            },
            "rescheduleMaintenance": {
              "httpMethod": "POST",
              "parameterOrder": [
                "project",
                "instance"
              ],
              "id": "sql.projects.instances.rescheduleMaintenance",
              "response": {
                "$ref": "Operation"
              },
              "request": {
                "$ref": "SqlInstancesRescheduleMaintenanceRequestBody"
              },
              "parameters": {
                "project": {
                  "location": "path",
                  "required": true,
                  "description": "ID of the project that contains the instance.",
                  "type": "string"
                },
                "instance": {
                  "type": "string",
                  "description": "Cloud SQL instance ID. This does not include the project ID.",
                  "required": true,
                  "location": "path"
                }
              },
              "description": "Reschedules the maintenance on the given instance.",
              "path": "v1/projects/{project}/instances/{instance}/rescheduleMaintenance",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sqlservice.admin"
              ],
              "flatPath": "v1/projects/{project}/instances/{instance}/rescheduleMaintenance"
            },
            "verifyExternalSyncSettings": {
              "flatPath": "v1/projects/{project}/instances/{instance}/verifyExternalSyncSettings",
              "id": "sql.projects.instances.verifyExternalSyncSettings",
              "path": "v1/projects/{project}/instances/{instance}/verifyExternalSyncSettings",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sqlservice.admin"
              ],
              "httpMethod": "POST",
              "parameterOrder": [
                "project",
                "instance"
              ],
              "response": {
                "$ref": "SqlInstancesVerifyExternalSyncSettingsResponse"
              },
              "request": {
                "$ref": "SqlInstancesVerifyExternalSyncSettingsRequest"
              },
              "description": "Verify External primary instance external sync settings.",
              "parameters": {
                "instance": {
                  "description": "Cloud SQL instance ID. This does not include the project ID.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "project": {
                  "description": "Project ID of the project that contains the instance.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              }
            },
            "getDiskShrinkConfig": {
              "id": "sql.projects.instances.getDiskShrinkConfig",
              "description": "Get Disk Shrink Config for a given instance.",
              "flatPath": "v1/projects/{project}/instances/{instance}/getDiskShrinkConfig",
              "response": {
                "$ref": "SqlInstancesGetDiskShrinkConfigResponse"
              },
              "httpMethod": "GET",
              "parameters": {
                "instance": {
                  "description": "Cloud SQL instance ID. This does not include the project ID.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "project": {
                  "location": "path",
                  "type": "string",
                  "description": "Project ID of the project that contains the instance.",
                  "required": true
                }
              },
              "path": "v1/projects/{project}/instances/{instance}/getDiskShrinkConfig",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sqlservice.admin"
              ],
              "parameterOrder": [
                "project",
                "instance"
              ]
            },
            "resetReplicaSize": {
              "request": {
                "$ref": "SqlInstancesResetReplicaSizeRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sqlservice.admin"
              ],
              "parameters": {
                "instance": {
                  "location": "path",
                  "type": "string",
                  "description": "Cloud SQL read replica instance name.",
                  "required": true
                },
                "project": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "ID of the project that contains the read replica."
                }
              },
              "parameterOrder": [
                "project",
                "instance"
              ],
              "response": {
                "$ref": "Operation"
              },
              "description": "Reset Replica Size to primary instance disk size.",
              "path": "v1/projects/{project}/instances/{instance}/resetReplicaSize",
              "flatPath": "v1/projects/{project}/instances/{instance}/resetReplicaSize",
              "id": "sql.projects.instances.resetReplicaSize",
              "httpMethod": "POST"
            },
            "performDiskShrink": {
              "httpMethod": "POST",
              "flatPath": "v1/projects/{project}/instances/{instance}/performDiskShrink",
              "path": "v1/projects/{project}/instances/{instance}/performDiskShrink",
              "parameters": {
                "project": {
                  "location": "path",
                  "description": "Project ID of the project that contains the instance.",
                  "type": "string",
                  "required": true
                },
                "instance": {
                  "location": "path",
                  "required": true,
                  "description": "Cloud SQL instance ID. This does not include the project ID.",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "project",
                "instance"
              ],
              "id": "sql.projects.instances.performDiskShrink",
              "request": {
                "$ref": "PerformDiskShrinkContext"
              },
              "response": {
                "$ref": "Operation"
              },
              "description": "Perform Disk Shrink on primary instance.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sqlservice.admin"
              ]
            }
          }
        }
      }
    },
    "users": {
      "methods": {
        "update": {
          "description": "Updates an existing user in a Cloud SQL instance.",
          "path": "v1/projects/{project}/instances/{instance}/users",
          "httpMethod": "PUT",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "instance": {
              "location": "path",
              "type": "string",
              "description": "Database instance ID. This does not include the project ID.",
              "required": true
            },
            "name": {
              "type": "string",
              "description": "Name of the user in the instance.",
              "location": "query"
            },
            "project": {
              "required": true,
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "type": "string"
            },
            "host": {
              "type": "string",
              "description": "Optional. Host of the user in the instance.",
              "location": "query"
            }
          },
          "request": {
            "$ref": "User"
          },
          "flatPath": "v1/projects/{project}/instances/{instance}/users",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "response": {
            "$ref": "Operation"
          },
          "id": "sql.users.update"
        },
        "delete": {
          "description": "Deletes a user from a Cloud SQL instance.",
          "path": "v1/projects/{project}/instances/{instance}/users",
          "httpMethod": "DELETE",
          "response": {
            "$ref": "Operation"
          },
          "flatPath": "v1/projects/{project}/instances/{instance}/users",
          "parameters": {
            "name": {
              "description": "Name of the user in the instance.",
              "type": "string",
              "location": "query"
            },
            "instance": {
              "description": "Database instance ID. This does not include the project ID.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "host": {
              "location": "query",
              "type": "string",
              "description": "Host of the user in the instance."
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "id": "sql.users.delete",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "list": {
          "response": {
            "$ref": "UsersListResponse"
          },
          "parameters": {
            "instance": {
              "required": true,
              "type": "string",
              "description": "Database instance ID. This does not include the project ID.",
              "location": "path"
            },
            "project": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Project ID of the project that contains the instance."
            }
          },
          "description": "Lists users in the specified Cloud SQL instance.",
          "path": "v1/projects/{project}/instances/{instance}/users",
          "httpMethod": "GET",
          "flatPath": "v1/projects/{project}/instances/{instance}/users",
          "id": "sql.users.list",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameterOrder": [
            "project",
            "instance"
          ]
        },
        "get": {
          "description": "Retrieves a resource containing information about a user.",
          "id": "sql.users.get",
          "flatPath": "v1/projects/{project}/instances/{instance}/users/{name}",
          "path": "v1/projects/{project}/instances/{instance}/users/{name}",
          "httpMethod": "GET",
          "parameterOrder": [
            "project",
            "instance",
            "name"
          ],
          "response": {
            "$ref": "User"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "host": {
              "description": "Host of a user of the instance.",
              "type": "string",
              "location": "query"
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "instance": {
              "required": true,
              "description": "Database instance ID. This does not include the project ID.",
              "type": "string",
              "location": "path"
            },
            "name": {
              "description": "User of the instance.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          }
        },
        "insert": {
          "id": "sql.users.insert",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "v1/projects/{project}/instances/{instance}/users",
          "path": "v1/projects/{project}/instances/{instance}/users",
          "parameters": {
            "project": {
              "location": "path",
              "type": "string",
              "description": "Project ID of the project that contains the instance.",
              "required": true
            },
            "instance": {
              "description": "Database instance ID. This does not include the project ID.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "User"
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "description": "Creates a new user in a Cloud SQL instance."
        }
      }
    },
    "operations": {
      "methods": {
        "get": {
          "flatPath": "v1/projects/{project}/operations/{operation}",
          "parameterOrder": [
            "project",
            "operation"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "operation": {
              "type": "string",
              "description": "Instance operation ID.",
              "required": true,
              "location": "path"
            },
            "project": {
              "type": "string",
              "location": "path",
              "description": "Project ID of the project that contains the instance.",
              "required": true
            }
          },
          "description": "Retrieves an instance operation that has been performed on an instance.",
          "path": "v1/projects/{project}/operations/{operation}",
          "id": "sql.operations.get",
          "httpMethod": "GET",
          "response": {
            "$ref": "Operation"
          }
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.operations.list",
          "parameters": {
            "project": {
              "type": "string",
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "location": "path"
            },
            "maxResults": {
              "format": "uint32",
              "type": "integer",
              "description": "Maximum number of operations per response.",
              "location": "query"
            },
            "instance": {
              "type": "string",
              "location": "query",
              "description": "Cloud SQL instance ID. This does not include the project ID."
            },
            "pageToken": {
              "type": "string",
              "description": "A previously-returned page token representing part of the larger set of results to view.",
              "location": "query"
            }
          },
          "flatPath": "v1/projects/{project}/operations",
          "description": "Lists all instance operations that have been performed on the given Cloud SQL instance in the reverse chronological order of the start time.",
          "path": "v1/projects/{project}/operations",
          "response": {
            "$ref": "OperationsListResponse"
          },
          "parameterOrder": [
            "project"
          ],
          "httpMethod": "GET"
        }
      }
    },
    "backupRuns": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Retrieves a resource containing information about a backup run.",
          "parameterOrder": [
            "project",
            "instance",
            "id"
          ],
          "path": "v1/projects/{project}/instances/{instance}/backupRuns/{id}",
          "response": {
            "$ref": "BackupRun"
          },
          "flatPath": "v1/projects/{project}/instances/{instance}/backupRuns/{id}",
          "parameters": {
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "id": {
              "location": "path",
              "format": "int64",
              "required": true,
              "description": "The ID of this backup run.",
              "type": "string"
            },
            "project": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Project ID of the project that contains the instance."
            }
          },
          "httpMethod": "GET",
          "id": "sql.backupRuns.get"
        },
        "insert": {
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "POST",
          "id": "sql.backupRuns.insert",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "flatPath": "v1/projects/{project}/instances/{instance}/backupRuns",
          "description": "Creates a new backup run on demand.",
          "request": {
            "$ref": "BackupRun"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "project": {
              "type": "string",
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "location": "path"
            },
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "path": "v1/projects/{project}/instances/{instance}/backupRuns"
        },
        "delete": {
          "httpMethod": "DELETE",
          "description": "Deletes the backup taken by a backup run.",
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "id": {
              "description": "The ID of the backup run to delete. To find a backup run ID, use the [list](https://cloud.google.com/sql/docs/mysql/admin-api/rest/v1/backupRuns/list) method.",
              "format": "int64",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "project": {
              "location": "path",
              "required": true,
              "description": "Project ID of the project that contains the instance.",
              "type": "string"
            },
            "instance": {
              "type": "string",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "required": true
            }
          },
          "path": "v1/projects/{project}/instances/{instance}/backupRuns/{id}",
          "flatPath": "v1/projects/{project}/instances/{instance}/backupRuns/{id}",
          "id": "sql.backupRuns.delete",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameterOrder": [
            "project",
            "instance",
            "id"
          ]
        },
        "list": {
          "flatPath": "v1/projects/{project}/instances/{instance}/backupRuns",
          "description": "Lists all backup runs associated with the project or a given instance and configuration in the reverse chronological order of the backup initiation time.",
          "path": "v1/projects/{project}/instances/{instance}/backupRuns",
          "httpMethod": "GET",
          "id": "sql.backupRuns.list",
          "response": {
            "$ref": "BackupRunsListResponse"
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "instance": {
              "type": "string",
              "description": "Cloud SQL instance ID, or \"-\" for all instances. This does not include the project ID.",
              "required": true,
              "location": "path"
            },
            "maxResults": {
              "format": "int32",
              "location": "query",
              "type": "integer",
              "description": "Maximum number of backup runs per response."
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "description": "A previously-returned page token representing part of the larger set of results to view.",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        }
      }
    },
    "instances": {
      "methods": {
        "restoreBackup": {
          "parameterOrder": [
            "project",
            "instance"
          ],
          "request": {
            "$ref": "InstancesRestoreBackupRequest"
          },
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "project": {
              "required": true,
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "type": "string"
            },
            "instance": {
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.instances.restoreBackup",
          "description": "Restores a backup of a Cloud SQL instance. Using this operation might cause your instance to restart.",
          "httpMethod": "POST",
          "path": "v1/projects/{project}/instances/{instance}/restoreBackup",
          "flatPath": "v1/projects/{project}/instances/{instance}/restoreBackup"
        },
        "update": {
          "request": {
            "$ref": "DatabaseInstance"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "httpMethod": "PUT",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "flatPath": "v1/projects/{project}/instances/{instance}",
          "path": "v1/projects/{project}/instances/{instance}",
          "description": "Updates settings of a Cloud SQL instance. Using this operation might cause your instance to restart.",
          "id": "sql.instances.update",
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "project": {
              "type": "string",
              "required": true,
              "description": "Project ID of the project that contains the instance.",
              "location": "path"
            },
            "instance": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID."
            }
          }
        },
        "addServerCa": {
          "parameterOrder": [
            "project",
            "instance"
          ],
          "description": "Adds a new trusted Certificate Authority (CA) version for the specified instance. Required to prepare for a certificate rotation. If a CA version was previously added but never used in a certificate rotation, this operation replaces that version. There cannot be more than one CA version waiting to be rotated in.",
          "flatPath": "v1/projects/{project}/instances/{instance}/addServerCa",
          "httpMethod": "POST",
          "id": "sql.instances.addServerCa",
          "parameters": {
            "instance": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Cloud SQL instance ID. This does not include the project ID."
            },
            "project": {
              "type": "string",
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "location": "path"
            }
          },
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "path": "v1/projects/{project}/instances/{instance}/addServerCa"
        },
        "rotateServerCa": {
          "path": "v1/projects/{project}/instances/{instance}/rotateServerCa",
          "httpMethod": "POST",
          "response": {
            "$ref": "Operation"
          },
          "id": "sql.instances.rotateServerCa",
          "flatPath": "v1/projects/{project}/instances/{instance}/rotateServerCa",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameterOrder": [
            "project",
            "instance"
          ],
          "description": "Rotates the server certificate to one signed by the Certificate Authority (CA) version previously added with the addServerCA method.",
          "parameters": {
            "instance": {
              "required": true,
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string"
            },
            "project": {
              "location": "path",
              "type": "string",
              "description": "Project ID of the project that contains the instance.",
              "required": true
            }
          },
          "request": {
            "$ref": "InstancesRotateServerCaRequest"
          }
        },
        "restart": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "httpMethod": "POST",
          "id": "sql.instances.restart",
          "response": {
            "$ref": "Operation"
          },
          "description": "Restarts a Cloud SQL instance.",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "flatPath": "v1/projects/{project}/instances/{instance}/restart",
          "path": "v1/projects/{project}/instances/{instance}/restart",
          "parameters": {
            "instance": {
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "type": "string"
            },
            "project": {
              "description": "Project ID of the project that contains the instance to be restarted.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          }
        },
        "failover": {
          "parameters": {
            "instance": {
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "type": "string"
            },
            "project": {
              "required": true,
              "description": "ID of the project that contains the read replica.",
              "location": "path",
              "type": "string"
            }
          },
          "description": "Initiates a manual failover of a high availability (HA) primary instance to a standby instance, which becomes the primary instance. Users are then rerouted to the new primary. For more information, see the [Overview of high availability](https://cloud.google.com/sql/docs/mysql/high-availability) page in the Cloud SQL documentation. If using Legacy HA (MySQL only), this causes the instance to failover to its failover replica instance.",
          "httpMethod": "POST",
          "flatPath": "v1/projects/{project}/instances/{instance}/failover",
          "path": "v1/projects/{project}/instances/{instance}/failover",
          "response": {
            "$ref": "Operation"
          },
          "request": {
            "$ref": "InstancesFailoverRequest"
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.instances.failover"
        },
        "startReplica": {
          "flatPath": "v1/projects/{project}/instances/{instance}/startReplica",
          "parameters": {
            "project": {
              "description": "ID of the project that contains the read replica.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "instance": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Cloud SQL read replica instance name."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Starts the replication in the read replica instance.",
          "httpMethod": "POST",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "response": {
            "$ref": "Operation"
          },
          "id": "sql.instances.startReplica",
          "path": "v1/projects/{project}/instances/{instance}/startReplica"
        },
        "promoteReplica": {
          "response": {
            "$ref": "Operation"
          },
          "flatPath": "v1/projects/{project}/instances/{instance}/promoteReplica",
          "path": "v1/projects/{project}/instances/{instance}/promoteReplica",
          "httpMethod": "POST",
          "description": "Promotes the read replica instance to be a stand-alone Cloud SQL instance. Using this operation might cause your instance to restart.",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "id": "sql.instances.promoteReplica",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "instance": {
              "location": "path",
              "type": "string",
              "description": "Cloud SQL read replica instance name.",
              "required": true
            },
            "project": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "ID of the project that contains the read replica."
            }
          }
        },
        "demoteMaster": {
          "path": "v1/projects/{project}/instances/{instance}/demoteMaster",
          "flatPath": "v1/projects/{project}/instances/{instance}/demoteMaster",
          "request": {
            "$ref": "InstancesDemoteMasterRequest"
          },
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "project": {
              "required": true,
              "location": "path",
              "description": "ID of the project that contains the instance.",
              "type": "string"
            },
            "instance": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Cloud SQL instance name."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Demotes the stand-alone instance to be a Cloud SQL read replica for an external database server.",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "id": "sql.instances.demoteMaster",
          "httpMethod": "POST"
        },
        "import": {
          "flatPath": "v1/projects/{project}/instances/{instance}/import",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Imports data into a Cloud SQL instance from a SQL dump or CSV file in Cloud Storage.",
          "id": "sql.instances.import",
          "path": "v1/projects/{project}/instances/{instance}/import",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "instance": {
              "required": true,
              "type": "string",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path"
            },
            "project": {
              "type": "string",
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "required": true
            }
          },
          "request": {
            "$ref": "InstancesImportRequest"
          }
        },
        "delete": {
          "id": "sql.instances.delete",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "instance": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Cloud SQL instance ID. This does not include the project ID."
            },
            "project": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Project ID of the project that contains the instance to be deleted."
            }
          },
          "httpMethod": "DELETE",
          "response": {
            "$ref": "Operation"
          },
          "description": "Deletes a Cloud SQL instance.",
          "path": "v1/projects/{project}/instances/{instance}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "v1/projects/{project}/instances/{instance}"
        },
        "stopReplica": {
          "id": "sql.instances.stopReplica",
          "flatPath": "v1/projects/{project}/instances/{instance}/stopReplica",
          "parameters": {
            "project": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "ID of the project that contains the read replica."
            },
            "instance": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Cloud SQL read replica instance name."
            }
          },
          "httpMethod": "POST",
          "description": "Stops the replication in the read replica instance.",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "path": "v1/projects/{project}/instances/{instance}/stopReplica",
          "response": {
            "$ref": "Operation"
          }
        },
        "resetSslConfig": {
          "path": "v1/projects/{project}/instances/{instance}/resetSslConfig",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameterOrder": [
            "project",
            "instance"
          ],
          "httpMethod": "POST",
          "parameters": {
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "instance": {
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "Operation"
          },
          "id": "sql.instances.resetSslConfig",
          "description": "Deletes all client certificates and generates a new server SSL certificate for the instance.",
          "flatPath": "v1/projects/{project}/instances/{instance}/resetSslConfig"
        },
        "patch": {
          "description": "Partially updates settings of a Cloud SQL instance by merging the request with the current configuration. This method supports patch semantics.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.instances.patch",
          "path": "v1/projects/{project}/instances/{instance}",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "flatPath": "v1/projects/{project}/instances/{instance}",
          "response": {
            "$ref": "Operation"
          },
          "request": {
            "$ref": "DatabaseInstance"
          },
          "parameters": {
            "instance": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID."
            },
            "project": {
              "required": true,
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "type": "string"
            }
          },
          "httpMethod": "PATCH"
        },
        "insert": {
          "description": "Creates a new Cloud SQL instance.",
          "flatPath": "v1/projects/{project}/instances",
          "httpMethod": "POST",
          "parameters": {
            "project": {
              "location": "path",
              "type": "string",
              "description": "Project ID of the project to which the newly created Cloud SQL instances should belong.",
              "required": true
            }
          },
          "parameterOrder": [
            "project"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "request": {
            "$ref": "DatabaseInstance"
          },
          "path": "v1/projects/{project}/instances",
          "id": "sql.instances.insert",
          "response": {
            "$ref": "Operation"
          }
        },
        "clone": {
          "parameterOrder": [
            "project",
            "instance"
          ],
          "path": "v1/projects/{project}/instances/{instance}/clone",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.instances.clone",
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "project": {
              "required": true,
              "type": "string",
              "description": "Project ID of the source as well as the clone Cloud SQL instance.",
              "location": "path"
            },
            "instance": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the Cloud SQL instance to be cloned (source). This does not include the project ID."
            }
          },
          "httpMethod": "POST",
          "flatPath": "v1/projects/{project}/instances/{instance}/clone",
          "description": "Creates a Cloud SQL instance as a clone of the source instance. Using this operation might cause your instance to restart.",
          "request": {
            "$ref": "InstancesCloneRequest"
          }
        },
        "list": {
          "path": "v1/projects/{project}/instances",
          "description": "Lists instances under a given project.",
          "flatPath": "v1/projects/{project}/instances",
          "httpMethod": "GET",
          "id": "sql.instances.list",
          "response": {
            "$ref": "InstancesListResponse"
          },
          "parameters": {
            "maxResults": {
              "description": "The maximum number of instances to return. The service may return fewer than this value. If unspecified, at most 500 instances are returned. The maximum value is 1000; values above 1000 are coerced to 1000.",
              "format": "uint32",
              "type": "integer",
              "location": "query"
            },
            "filter": {
              "description": "A filter expression that filters resources listed in the response. The expression is in the form of field:value. For example, 'instanceType:CLOUD_SQL_INSTANCE'. Fields can be nested as needed as per their JSON representation, such as 'settings.userLabels.auto_start:true'. Multiple filter queries are space-separated. For example. 'state:RUNNABLE instanceType:CLOUD_SQL_INSTANCE'. By default, each expression is an AND expression. However, you can include AND and OR expressions explicitly.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "A previously-returned page token representing part of the larger set of results to view."
            },
            "project": {
              "location": "path",
              "description": "Project ID of the project for which to list Cloud SQL instances.",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameterOrder": [
            "project"
          ]
        },
        "truncateLog": {
          "description": "Truncate MySQL general and slow query log tables MySQL only.",
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "path": "v1/projects/{project}/instances/{instance}/truncateLog",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "request": {
            "$ref": "InstancesTruncateLogRequest"
          },
          "parameters": {
            "project": {
              "type": "string",
              "description": "Project ID of the Cloud SQL project.",
              "required": true,
              "location": "path"
            },
            "instance": {
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "type": "string"
            }
          },
          "id": "sql.instances.truncateLog",
          "httpMethod": "POST",
          "flatPath": "v1/projects/{project}/instances/{instance}/truncateLog"
        },
        "listServerCas": {
          "path": "v1/projects/{project}/instances/{instance}/listServerCas",
          "httpMethod": "GET",
          "response": {
            "$ref": "InstancesListServerCasResponse"
          },
          "parameters": {
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "project": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Project ID of the project that contains the instance."
            }
          },
          "id": "sql.instances.listServerCas",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "flatPath": "v1/projects/{project}/instances/{instance}/listServerCas",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Lists all of the trusted Certificate Authorities (CAs) for the specified instance. There can be up to three CAs listed: the CA that was used to sign the certificate that is currently in use, a CA that has been added but not yet used to sign a certificate, and a CA used to sign a certificate that has previously rotated out."
        },
        "get": {
          "response": {
            "$ref": "DatabaseInstance"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Retrieves a resource containing information about a Cloud SQL instance.",
          "id": "sql.instances.get",
          "path": "v1/projects/{project}/instances/{instance}",
          "flatPath": "v1/projects/{project}/instances/{instance}",
          "httpMethod": "GET",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "project": {
              "required": true,
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "type": "string"
            },
            "instance": {
              "type": "string",
              "required": true,
              "description": "Database instance ID. This does not include the project ID.",
              "location": "path"
            }
          }
        },
        "export": {
          "path": "v1/projects/{project}/instances/{instance}/export",
          "flatPath": "v1/projects/{project}/instances/{instance}/export",
          "httpMethod": "POST",
          "parameters": {
            "instance": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Cloud SQL instance ID. This does not include the project ID."
            },
            "project": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Project ID of the project that contains the instance to be exported."
            }
          },
          "description": "Exports data from a Cloud SQL instance to a Cloud Storage bucket as a SQL dump or CSV file.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "sql.instances.export",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "response": {
            "$ref": "Operation"
          },
          "request": {
            "$ref": "InstancesExportRequest"
          }
        }
      }
    },
    "sslCerts": {
      "methods": {
        "createEphemeral": {
          "id": "sql.sslCerts.createEphemeral",
          "path": "v1/projects/{project}/instances/{instance}/createEphemeral",
          "httpMethod": "POST",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Generates a short-lived X509 certificate containing the provided public key and signed by a private key specific to the target instance. Users may use the certificate to authenticate as themselves when connecting to the database.",
          "request": {
            "$ref": "SslCertsCreateEphemeralRequest"
          },
          "flatPath": "v1/projects/{project}/instances/{instance}/createEphemeral",
          "parameters": {
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "project": {
              "description": "Project ID of the Cloud SQL project.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "SslCert"
          }
        },
        "insert": {
          "request": {
            "$ref": "SslCertsInsertRequest"
          },
          "id": "sql.sslCerts.insert",
          "description": "Creates an SSL certificate and returns it along with the private key and server certificate authority. The new certificate will not be usable until the instance is restarted.",
          "path": "v1/projects/{project}/instances/{instance}/sslCerts",
          "httpMethod": "POST",
          "response": {
            "$ref": "SslCertsInsertResponse"
          },
          "parameters": {
            "project": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Project ID of the project that contains the instance."
            },
            "instance": {
              "location": "path",
              "type": "string",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "v1/projects/{project}/instances/{instance}/sslCerts",
          "parameterOrder": [
            "project",
            "instance"
          ]
        },
        "list": {
          "parameterOrder": [
            "project",
            "instance"
          ],
          "response": {
            "$ref": "SslCertsListResponse"
          },
          "parameters": {
            "project": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Project ID of the project that contains the instance."
            },
            "instance": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Cloud SQL instance ID. This does not include the project ID."
            }
          },
          "description": "Lists all of the current SSL certificates for the instance.",
          "httpMethod": "GET",
          "path": "v1/projects/{project}/instances/{instance}/sslCerts",
          "flatPath": "v1/projects/{project}/instances/{instance}/sslCerts",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.sslCerts.list"
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Deletes the SSL certificate. For First Generation instances, the certificate remains valid until the instance is restarted.",
          "parameterOrder": [
            "project",
            "instance",
            "sha1Fingerprint"
          ],
          "flatPath": "v1/projects/{project}/instances/{instance}/sslCerts/{sha1Fingerprint}",
          "httpMethod": "DELETE",
          "id": "sql.sslCerts.delete",
          "response": {
            "$ref": "Operation"
          },
          "path": "v1/projects/{project}/instances/{instance}/sslCerts/{sha1Fingerprint}",
          "parameters": {
            "project": {
              "type": "string",
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "required": true
            },
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "sha1Fingerprint": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Sha1 FingerPrint."
            }
          }
        },
        "get": {
          "httpMethod": "GET",
          "description": "Retrieves a particular SSL certificate. Does not include the private key (required for usage). The private key must be saved from the response to initial creation.",
          "parameterOrder": [
            "project",
            "instance",
            "sha1Fingerprint"
          ],
          "parameters": {
            "instance": {
              "type": "string",
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true
            },
            "project": {
              "type": "string",
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "location": "path"
            },
            "sha1Fingerprint": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Sha1 FingerPrint."
            }
          },
          "id": "sql.sslCerts.get",
          "path": "v1/projects/{project}/instances/{instance}/sslCerts/{sha1Fingerprint}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "v1/projects/{project}/instances/{instance}/sslCerts/{sha1Fingerprint}",
          "response": {
            "$ref": "SslCert"
          }
        }
      }
    },
    "databases": {
      "methods": {
        "list": {
          "description": "Lists databases in the specified Cloud SQL instance.",
          "id": "sql.databases.list",
          "httpMethod": "GET",
          "path": "v1/projects/{project}/instances/{instance}/databases",
          "parameters": {
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "instance": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID."
            }
          },
          "flatPath": "v1/projects/{project}/instances/{instance}/databases",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "response": {
            "$ref": "DatabasesListResponse"
          }
        },
        "patch": {
          "request": {
            "$ref": "Database"
          },
          "response": {
            "$ref": "Operation"
          },
          "path": "v1/projects/{project}/instances/{instance}/databases/{database}",
          "parameters": {
            "instance": {
              "location": "path",
              "description": "Database instance ID. This does not include the project ID.",
              "type": "string",
              "required": true
            },
            "database": {
              "type": "string",
              "location": "path",
              "description": "Name of the database to be updated in the instance.",
              "required": true
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Partially updates a resource containing information about a database inside a Cloud SQL instance. This method supports patch semantics.",
          "id": "sql.databases.patch",
          "parameterOrder": [
            "project",
            "instance",
            "database"
          ],
          "httpMethod": "PATCH",
          "flatPath": "v1/projects/{project}/instances/{instance}/databases/{database}"
        },
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.databases.insert",
          "httpMethod": "POST",
          "path": "v1/projects/{project}/instances/{instance}/databases",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "instance": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Database instance ID. This does not include the project ID."
            },
            "project": {
              "location": "path",
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string"
            }
          },
          "request": {
            "$ref": "Database"
          },
          "flatPath": "v1/projects/{project}/instances/{instance}/databases",
          "description": "Inserts a resource containing information about a database inside a Cloud SQL instance. **Note:** You can't modify the default character set and collation."
        },
        "delete": {
          "parameters": {
            "project": {
              "location": "path",
              "type": "string",
              "description": "Project ID of the project that contains the instance.",
              "required": true
            },
            "database": {
              "required": true,
              "type": "string",
              "description": "Name of the database to be deleted in the instance.",
              "location": "path"
            },
            "instance": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Database instance ID. This does not include the project ID."
            }
          },
          "httpMethod": "DELETE",
          "response": {
            "$ref": "Operation"
          },
          "flatPath": "v1/projects/{project}/instances/{instance}/databases/{database}",
          "path": "v1/projects/{project}/instances/{instance}/databases/{database}",
          "id": "sql.databases.delete",
          "description": "Deletes a database from a Cloud SQL instance.",
          "parameterOrder": [
            "project",
            "instance",
            "database"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "update": {
          "id": "sql.databases.update",
          "parameterOrder": [
            "project",
            "instance",
            "database"
          ],
          "httpMethod": "PUT",
          "flatPath": "v1/projects/{project}/instances/{instance}/databases/{database}",
          "request": {
            "$ref": "Database"
          },
          "path": "v1/projects/{project}/instances/{instance}/databases/{database}",
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Updates a resource containing information about a database inside a Cloud SQL instance.",
          "parameters": {
            "database": {
              "type": "string",
              "description": "Name of the database to be updated in the instance.",
              "location": "path",
              "required": true
            },
            "project": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Project ID of the project that contains the instance."
            },
            "instance": {
              "required": true,
              "description": "Database instance ID. This does not include the project ID.",
              "type": "string",
              "location": "path"
            }
          }
        },
        "get": {
          "parameterOrder": [
            "project",
            "instance",
            "database"
          ],
          "response": {
            "$ref": "Database"
          },
          "parameters": {
            "database": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Name of the database in the instance."
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "instance": {
              "description": "Database instance ID. This does not include the project ID.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "v1/projects/{project}/instances/{instance}/databases/{database}",
          "httpMethod": "GET",
          "id": "sql.databases.get",
          "description": "Retrieves a resource containing information about a database inside a Cloud SQL instance.",
          "path": "v1/projects/{project}/instances/{instance}/databases/{database}"
        }
      }
    },
    "connect": {
      "methods": {
        "get": {
          "flatPath": "v1/projects/{project}/instances/{instance}/connectSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "path": "v1/projects/{project}/instances/{instance}/connectSettings",
          "httpMethod": "GET",
          "description": "Retrieves connect settings about a Cloud SQL instance.",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "id": "sql.connect.get",
          "response": {
            "$ref": "ConnectSettings"
          },
          "parameters": {
            "project": {
              "required": true,
              "description": "Project ID of the project that contains the instance.",
              "type": "string",
              "location": "path"
            },
            "readTime": {
              "description": "Optional. Optional snapshot read timestamp to trade freshness for performance.",
              "format": "google-datetime",
              "type": "string",
              "location": "query"
            },
            "instance": {
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "type": "string"
            }
          }
        },
        "generateEphemeralCert": {
          "request": {
            "$ref": "GenerateEphemeralCertRequest"
          },
          "response": {
            "$ref": "GenerateEphemeralCertResponse"
          },
          "parameters": {
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "description": "Generates a short-lived X509 certificate containing the provided public key and signed by a private key specific to the target instance. Users may use the certificate to authenticate as themselves when connecting to the database.",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "httpMethod": "POST",
          "path": "v1/projects/{project}/instances/{instance}:generateEphemeralCert",
          "id": "sql.connect.generateEphemeral",
          "flatPath": "v1/projects/{project}/instances/{instance}:generateEphemeralCert"
        }
      }
    },
    "tiers": {
      "methods": {
        "list": {
          "parameters": {
            "project": {
              "required": true,
              "location": "path",
              "description": "Project ID of the project for which to list tiers.",
              "type": "string"
            }
          },
          "id": "sql.tiers.list",
          "parameterOrder": [
            "project"
          ],
          "response": {
            "$ref": "TiersListResponse"
          },
          "httpMethod": "GET",
          "flatPath": "v1/projects/{project}/tiers",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Lists all available machine types (tiers) for Cloud SQL, for example, `db-custom-1-3840`. For more information, see https://cloud.google.com/sql/pricing.",
          "path": "v1/projects/{project}/tiers"
        }
      }
    },
    "flags": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "flatPath": "v1/flags",
          "path": "v1/flags",
          "id": "sql.flags.list",
          "parameterOrder": [],
          "parameters": {
            "databaseVersion": {
              "description": "Database type and version you want to retrieve flags for. By default, this method returns flags for all database types and versions.",
              "location": "query",
              "type": "string"
            }
          },
          "description": "Lists all available database flags for Cloud SQL instances.",
          "response": {
            "$ref": "FlagsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        }
      }
    }
  },
  "title": "Cloud SQL Admin API",
  "schemas": {
    "ImportContext": {
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "This is always `sql#importContext`."
        },
        "importUser": {
          "type": "string",
          "description": "The PostgreSQL user for this import operation. PostgreSQL instances only."
        },
        "csvImportOptions": {
          "type": "object",
          "properties": {
            "fieldsTerminatedBy": {
              "type": "string",
              "description": "Specifies the character that separates columns within each row (line) of the file."
            },
            "escapeCharacter": {
              "type": "string",
              "description": "Specifies the character that should appear before a data character that needs to be escaped."
            },
            "columns": {
              "items": {
                "type": "string"
              },
              "type": "array",
              "description": "The columns to which CSV data is imported. If not specified, all columns of the database table are loaded with CSV data."
            },
            "quoteCharacter": {
              "type": "string",
              "description": "Specifies the quoting character to be used when a data value is quoted."
            },
            "table": {
              "description": "The table to which CSV data is imported.",
              "type": "string"
            },
            "linesTerminatedBy": {
              "description": "This is used to separate lines. If a line does not contain all fields, the rest of the columns are set to their default values.",
              "type": "string"
            }
          },
          "description": "Options for importing data as CSV."
        },
        "uri": {
          "description": "Path to the import file in Cloud Storage, in the form `gs://bucketName/fileName`. Compressed gzip files (.gz) are supported when `fileType` is `SQL`. The instance must have write permissions to the bucket and read access to the file.",
          "type": "string"
        },
        "bakImportOptions": {
          "description": "Import parameters specific to SQL Server .BAK files",
          "type": "object",
          "properties": {
            "striped": {
              "type": "boolean",
              "description": "Whether or not the backup set being restored is striped. Applies only to Cloud SQL for SQL Server."
            },
            "encryptionOptions": {
              "type": "object",
              "properties": {
                "certPath": {
                  "description": "Path to the Certificate (.cer) in Cloud Storage, in the form `gs://bucketName/fileName`. The instance must have write permissions to the bucket and read access to the file.",
                  "type": "string"
                },
                "pvkPath": {
                  "type": "string",
                  "description": "Path to the Certificate Private Key (.pvk) in Cloud Storage, in the form `gs://bucketName/fileName`. The instance must have write permissions to the bucket and read access to the file."
                },
                "pvkPassword": {
                  "description": "Password that encrypts the private key",
                  "type": "string"
                }
              }
            }
          }
        },
        "database": {
          "type": "string",
          "description": "The target database for the import. If `fileType` is `SQL`, this field is required only if the import file does not specify a database, and is overridden by any database specification in the import file. If `fileType` is `CSV`, one database must be specified."
        },
        "fileType": {
          "type": "string",
          "enumDescriptions": [
            "Unknown file type.",
            "File containing SQL statements.",
            "File in CSV format.",
            ""
          ],
          "description": "The file type for the specified uri.\\`SQL`: The file contains SQL statements. \\`CSV`: The file contains CSV data.",
          "enum": [
            "SQL_FILE_TYPE_UNSPECIFIED",
            "SQL",
            "CSV",
            "BAK"
          ]
        }
      },
      "id": "ImportContext",
      "description": "Database instance import context."
    },
    "Settings": {
      "description": "Database instance settings.",
      "type": "object",
      "id": "Settings",
      "properties": {
        "replicationType": {
          "enum": [
            "SQL_REPLICATION_TYPE_UNSPECIFIED",
            "SYNCHRONOUS",
            "ASYNCHRONOUS"
          ],
          "enumDescriptions": [
            "This is an unknown replication type for a Cloud SQL instance.",
            "The synchronous replication mode for First Generation instances. It is the default value.",
            "The asynchronous replication mode for First Generation instances. It provides a slight performance gain, but if an outage occurs while this option is set to asynchronous, you can lose up to a few seconds of updates to your data."
          ],
          "type": "string",
          "description": "The type of replication this instance uses. This can be either `ASYNCHRONOUS` or `SYNCHRONOUS`. (Deprecated) This property was only applicable to First Generation instances."
        },
        "advancedMachineFeatures": {
          "description": "Specifies advance machine configuration for the instance relevant only for SQL Server.",
          "$ref": "AdvancedMachineFeatures"
        },
        "dataDiskType": {
          "description": "The type of data disk: `PD_SSD` (default) or `PD_HDD`. Not used for First Generation instances.",
          "enumDescriptions": [
            "This is an unknown data disk type.",
            "An SSD data disk.",
            "An HDD data disk.",
            "This field is deprecated and will be removed from a future version of the API."
          ],
          "enum": [
            "SQL_DATA_DISK_TYPE_UNSPECIFIED",
            "PD_SSD",
            "PD_HDD",
            "OBSOLETE_LOCAL_SSD"
          ],
          "type": "string"
        },
        "pricingPlan": {
          "type": "string",
          "enumDescriptions": [
            "This is an unknown pricing plan for this instance.",
            "The instance is billed at a monthly flat rate.",
            "The instance is billed per usage."
          ],
          "enum": [
            "SQL_PRICING_PLAN_UNSPECIFIED",
            "PACKAGE",
            "PER_USE"
          ],
          "description": "The pricing plan for this instance. This can be either `PER_USE` or `PACKAGE`. Only `PER_USE` is supported for Second Generation instances."
        },
        "denyMaintenancePeriods": {
          "items": {
            "$ref": "DenyMaintenancePeriod"
          },
          "type": "array",
          "description": "Deny maintenance periods"
        },
        "sqlServerAuditConfig": {
          "description": "SQL Server specific audit configuration.",
          "$ref": "SqlServerAuditConfig"
        },
        "insightsConfig": {
          "$ref": "InsightsConfig",
          "description": "Insights configuration, for now relevant only for Postgres."
        },
        "storageAutoResize": {
          "description": "Configuration to increase storage size automatically. The default value is true.",
          "type": "boolean"
        },
        "storageAutoResizeLimit": {
          "type": "string",
          "format": "int64",
          "description": "The maximum size to which storage capacity can be automatically increased. The default value is 0, which specifies that there is no limit."
        },
        "crashSafeReplicationEnabled": {
          "description": "Configuration specific to read replica instances. Indicates whether database flags for crash-safe replication are enabled. This property was only applicable to First Generation instances.",
          "type": "boolean"
        },
        "deletionProtectionEnabled": {
          "type": "boolean",
          "description": "Configuration to protect against accidental instance deletion."
        },
        "collation": {
          "description": "The name of server Instance collation.",
          "type": "string"
        },
        "timeZone": {
          "description": "Server timezone, relevant only for Cloud SQL for SQL Server.",
          "type": "string"
        },
        "availabilityType": {
          "enum": [
            "SQL_AVAILABILITY_TYPE_UNSPECIFIED",
            "ZONAL",
            "REGIONAL"
          ],
          "description": "Availability type. Potential values: * `ZONAL`: The instance serves data from only one zone. Outages in that zone affect data accessibility. * `REGIONAL`: The instance can serve data from more than one zone in a region (it is highly available)./ For more information, see [Overview of the High Availability Configuration](https://cloud.google.com/sql/docs/mysql/high-availability).",
          "enumDescriptions": [
            "This is an unknown Availability type.",
            "Zonal available instance.",
            "Regional available instance."
          ],
          "type": "string"
        },
        "maintenanceWindow": {
          "description": "The maintenance window for this instance. This specifies when the instance can be restarted for maintenance purposes.",
          "$ref": "MaintenanceWindow"
        },
        "activeDirectoryConfig": {
          "$ref": "SqlActiveDirectoryConfig",
          "description": "Active Directory configuration, relevant only for Cloud SQL for SQL Server."
        },
        "dataDiskSizeGb": {
          "format": "int64",
          "type": "string",
          "description": "The size of data disk, in GB. The data disk size minimum is 10GB."
        },
        "ipConfiguration": {
          "description": "The settings for IP Management. This allows to enable or disable the instance IP and manage which external networks can connect to the instance. The IPv4 address cannot be disabled for Second Generation instances.",
          "$ref": "IpConfiguration"
        },
        "authorizedGaeApplications": {
          "description": "The App Engine app IDs that can access this instance. (Deprecated) Applied to First Generation instances only.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "connectorEnforcement": {
          "enum": [
            "CONNECTOR_ENFORCEMENT_UNSPECIFIED",
            "NOT_REQUIRED",
            "REQUIRED"
          ],
          "type": "string",
          "description": "Specifies if connections must use Cloud SQL connectors. Option values include the following: `NOT_REQUIRED` (Cloud SQL instances can be connected without Cloud SQL Connectors) and `REQUIRED` (Only allow connections that use Cloud SQL Connectors). Note that using REQUIRED disables all existing authorized networks. If this field is not specified when creating a new instance, NOT_REQUIRED is used. If this field is not specified when patching or updating an existing instance, it is left unchanged in the instance.",
          "enumDescriptions": [
            "The requirement for Cloud SQL connectors is unknown.",
            "Do not require Cloud SQL connectors.",
            "Require all connections to use Cloud SQL connectors, including the Cloud SQL Auth Proxy and Cloud SQL Java, Python, and Go connectors. Note: This disables all existing authorized networks."
          ]
        },
        "userLabels": {
          "description": "User-provided labels, represented as a dictionary where each label is a single key value pair.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "settingsVersion": {
          "description": "The version of instance settings. This is a required field for update method to make sure concurrent updates are handled properly. During update, use the most recent settingsVersion value for this instance and do not try to update this value.",
          "format": "int64",
          "type": "string"
        },
        "databaseFlags": {
          "description": "The database flags passed to the instance at startup.",
          "items": {
            "$ref": "DatabaseFlags"
          },
          "type": "array"
        },
        "activationPolicy": {
          "enumDescriptions": [
            "Unknown activation plan.",
            "The instance is always up and running.",
            "The instance never starts.",
            "The instance starts upon receiving requests."
          ],
          "description": "The activation policy specifies when the instance is activated; it is applicable only when the instance state is RUNNABLE. Valid values: * `ALWAYS`: The instance is on, and remains so even in the absence of connection requests. * `NEVER`: The instance is off; it is not activated, even if a connection request arrives.",
          "enum": [
            "SQL_ACTIVATION_POLICY_UNSPECIFIED",
            "ALWAYS",
            "NEVER",
            "ON_DEMAND"
          ],
          "type": "string"
        },
        "databaseReplicationEnabled": {
          "type": "boolean",
          "description": "Configuration specific to read replica instances. Indicates whether replication is enabled or not. WARNING: Changing this restarts the instance."
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#settings`."
        },
        "locationPreference": {
          "description": "The location preference settings. This allows the instance to be located as near as possible to either an App Engine app or Compute Engine zone for better performance. App Engine co-location was only applicable to First Generation instances.",
          "$ref": "LocationPreference"
        },
        "passwordValidationPolicy": {
          "description": "The local user password validation policy of the instance.",
          "$ref": "PasswordValidationPolicy"
        },
        "backupConfiguration": {
          "description": "The daily backup configuration for the instance.",
          "$ref": "BackupConfiguration"
        },
        "tier": {
          "type": "string",
          "description": "The tier (or machine type) for this instance, for example `db-custom-1-3840`. WARNING: Changing this restarts the instance."
        }
      }
    },
    "DatabaseFlags": {
      "id": "DatabaseFlags",
      "type": "object",
      "description": "Database flags for Cloud SQL instances.",
      "properties": {
        "name": {
          "description": "The name of the flag. These flags are passed at instance startup, so include both server options and system variables. Flags are specified with underscores, not hyphens. For more information, see [Configuring Database Flags](https://cloud.google.com/sql/docs/mysql/flags) in the Cloud SQL documentation.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "The value of the flag. Boolean flags are set to `on` for true and `off` for false. This field must be omitted if the flag doesn't take a value."
        }
      }
    },
    "SslCertsListResponse": {
      "properties": {
        "items": {
          "type": "array",
          "description": "List of client certificates for the instance.",
          "items": {
            "$ref": "SslCert"
          }
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#sslCertsList`."
        }
      },
      "description": "SslCerts list response.",
      "id": "SslCertsListResponse",
      "type": "object"
    },
    "DemoteMasterContext": {
      "properties": {
        "replicaConfiguration": {
          "description": "Configuration specific to read-replicas replicating from the on-premises primary instance.",
          "$ref": "DemoteMasterConfiguration"
        },
        "masterInstanceName": {
          "description": "The name of the instance which will act as on-premises primary instance in the replication setup.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#demoteMasterContext`."
        },
        "verifyGtidConsistency": {
          "description": "Verify the GTID consistency for demote operation. Default value: `True`. Setting this flag to `false` enables you to bypass the GTID consistency check between on-premises primary instance and Cloud SQL instance during the demotion operation but also exposes you to the risk of future replication failures. Change the value only if you know the reason for the GTID divergence and are confident that doing so will not cause any replication issues.",
          "type": "boolean"
        },
        "skipReplicationSetup": {
          "type": "boolean",
          "description": "Flag to skip replication setup on the instance."
        }
      },
      "id": "DemoteMasterContext",
      "description": "Database instance demote primary instance context.",
      "type": "object"
    },
    "InsightsConfig": {
      "type": "object",
      "id": "InsightsConfig",
      "description": "Insights configuration. This specifies when Cloud SQL Insights feature is enabled and optional configuration.",
      "properties": {
        "queryPlansPerMinute": {
          "format": "int32",
          "description": "Number of query execution plans captured by Insights per minute for all queries combined. Default is 5.",
          "type": "integer"
        },
        "recordClientAddress": {
          "description": "Whether Query Insights will record client address when enabled.",
          "type": "boolean"
        },
        "queryStringLength": {
          "description": "Maximum query length stored in bytes. Default value: 1024 bytes. Range: 256-4500 bytes. Query length more than this field value will be truncated to this value. When unset, query length will be the default value. Changing query length will restart the database.",
          "type": "integer",
          "format": "int32"
        },
        "recordApplicationTags": {
          "description": "Whether Query Insights will record application tags from query when enabled.",
          "type": "boolean"
        },
        "queryInsightsEnabled": {
          "type": "boolean",
          "description": "Whether Query Insights feature is enabled."
        }
      }
    },
    "BackupRunsListResponse": {
      "id": "BackupRunsListResponse",
      "type": "object",
      "properties": {
        "kind": {
          "description": "This is always `sql#backupRunsList`.",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results."
        },
        "items": {
          "type": "array",
          "description": "A list of backup runs in reverse chronological order of the enqueued time.",
          "items": {
            "$ref": "BackupRun"
          }
        }
      },
      "description": "Backup run list results."
    },
    "GenerateEphemeralCertResponse": {
      "id": "GenerateEphemeralCertResponse",
      "description": "Ephemeral certificate creation request.",
      "type": "object",
      "properties": {
        "ephemeralCert": {
          "description": "Generated cert",
          "$ref": "SslCert"
        }
      }
    },
    "InstanceReference": {
      "properties": {
        "region": {
          "description": "The region of the Cloud SQL instance being referenced.",
          "type": "string"
        },
        "project": {
          "type": "string",
          "description": "The project ID of the Cloud SQL instance being referenced. The default is the same project ID as the instance references it."
        },
        "name": {
          "description": "The name of the Cloud SQL instance being referenced. This does not include the project ID.",
          "type": "string"
        }
      },
      "id": "InstanceReference",
      "description": "Reference to another Cloud SQL instance.",
      "type": "object"
    },
    "Tier": {
      "properties": {
        "kind": {
          "description": "This is always `sql#tier`.",
          "type": "string"
        },
        "region": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The applicable regions for this tier."
        },
        "RAM": {
          "format": "int64",
          "type": "string",
          "description": "The maximum RAM usage of this tier in bytes."
        },
        "DiskQuota": {
          "format": "int64",
          "type": "string",
          "description": "The maximum disk size of this tier in bytes."
        },
        "tier": {
          "description": "An identifier for the machine type, for example, `db-custom-1-3840`. For related information, see [Pricing](/sql/pricing).",
          "type": "string"
        }
      },
      "id": "Tier",
      "description": "A Google Cloud SQL service tier resource.",
      "type": "object"
    },
    "InstancesExportRequest": {
      "properties": {
        "exportContext": {
          "description": "Contains details about the export operation.",
          "$ref": "ExportContext"
        }
      },
      "id": "InstancesExportRequest",
      "type": "object",
      "description": "Database instance export request."
    },
    "DemoteMasterMySqlReplicaConfiguration": {
      "type": "object",
      "properties": {
        "clientCertificate": {
          "type": "string",
          "description": "PEM representation of the replica's x509 certificate."
        },
        "caCertificate": {
          "description": "PEM representation of the trusted CA's x509 certificate.",
          "type": "string"
        },
        "clientKey": {
          "description": "PEM representation of the replica's private key. The corresponsing public key is encoded in the client's certificate. The format of the replica's private key can be either PKCS #1 or PKCS #8.",
          "type": "string"
        },
        "username": {
          "description": "The username for the replication connection.",
          "type": "string"
        },
        "password": {
          "description": "The password for the replication connection.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#demoteMasterMysqlReplicaConfiguration`."
        }
      },
      "description": "Read-replica configuration specific to MySQL databases.",
      "id": "DemoteMasterMySqlReplicaConfiguration"
    },
    "ApiWarning": {
      "properties": {
        "region": {
          "type": "string",
          "description": "The region name for REGION_UNREACHABLE warning."
        },
        "message": {
          "description": "The warning message.",
          "type": "string"
        },
        "code": {
          "type": "string",
          "enumDescriptions": [
            "An unknown or unset warning type from Cloud SQL API.",
            "Warning when one or more regions are not reachable. The returned result set may be incomplete.",
            "Warning when user provided maxResults parameter exceeds the limit. The returned result set may be incomplete."
          ],
          "description": "Code to uniquely identify the warning type.",
          "enum": [
            "SQL_API_WARNING_CODE_UNSPECIFIED",
            "REGION_UNREACHABLE",
            "MAX_RESULTS_EXCEEDS_LIMIT"
          ]
        }
      },
      "id": "ApiWarning",
      "type": "object",
      "description": "An Admin API warning message."
    },
    "InstancesListResponse": {
      "id": "InstancesListResponse",
      "type": "object",
      "description": "Database instances list response.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "This is always `sql#instancesList`."
        },
        "items": {
          "type": "array",
          "description": "List of database instance resources.",
          "items": {
            "$ref": "DatabaseInstance"
          }
        },
        "nextPageToken": {
          "description": "The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results.",
          "type": "string"
        },
        "warnings": {
          "description": "List of warnings that occurred while handling the request.",
          "items": {
            "$ref": "ApiWarning"
          },
          "type": "array"
        }
      }
    },
    "SqlServerUserDetails": {
      "type": "object",
      "description": "Represents a Sql Server user on the Cloud SQL instance.",
      "properties": {
        "serverRoles": {
          "type": "array",
          "description": "The server roles for this user",
[...]
