{
  "title": "Cloud SQL Admin API",
  "version": "v1beta4",
  "discoveryVersion": "v1",
  "id": "sqladmin:v1beta4",
  "documentationLink": "https://developers.google.com/cloud-sql/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/sqlservice.admin": {
          "description": "Manage your Google SQL Service instances"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "servicePath": "",
  "baseUrl": "https://sqladmin.googleapis.com/",
  "parameters": {
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "default": "json"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    }
  },
  "name": "sqladmin",
  "revision": "20230627",
  "protocol": "rest",
  "ownerName": "Google",
  "schemas": {
    "InstancesFailoverRequest": {
      "properties": {
        "failoverContext": {
          "description": "Failover Context.",
          "$ref": "FailoverContext"
        }
      },
      "type": "object",
      "id": "InstancesFailoverRequest",
      "description": "Instance failover request."
    },
    "SslCertsCreateEphemeralRequest": {
      "type": "object",
      "properties": {
        "public_key": {
          "type": "string",
          "description": "PEM encoded public key to include in the signed certificate."
        },
        "access_token": {
          "type": "string",
          "description": "Access token to include in the signed certificate."
        }
      },
      "id": "SslCertsCreateEphemeralRequest",
      "description": "SslCerts create ephemeral certificate request."
    },
    "BackupReencryptionConfig": {
      "description": "Backup Reencryption Config",
      "properties": {
        "backupType": {
          "enum": [
            "BACKUP_TYPE_UNSPECIFIED",
            "AUTOMATED",
            "ON_DEMAND"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown backup type, will be defaulted to AUTOMATIC backup type",
            "Reencrypt automatic backups",
            "Reencrypt on-demand backups"
          ],
          "description": "Type of backups users want to re-encrypt."
        },
        "backupLimit": {
          "description": "Backup re-encryption limit",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "BackupReencryptionConfig",
      "type": "object"
    },
    "LocationPreference": {
      "id": "LocationPreference",
      "properties": {
        "kind": {
          "type": "string",
          "description": "This is always `sql#locationPreference`."
        },
        "zone": {
          "description": "The preferred Compute Engine zone (for example: us-central1-a, us-central1-b, etc.). WARNING: Changing this might restart the instance.",
          "type": "string"
        },
        "followGaeApplication": {
          "type": "string",
          "deprecated": true,
          "description": "The App Engine application to follow, it must be in the same region as the Cloud SQL instance. WARNING: Changing this might restart the instance."
        },
        "secondaryZone": {
          "description": "The preferred Compute Engine zone for the secondary/failover (for example: us-central1-a, us-central1-b, etc.).",
          "type": "string"
        }
      },
      "description": "Preferred location. This specifies where a Cloud SQL instance is located. Note that if the preferred location is not available, the instance will be located as close as possible within the region. Only one location may be specified.",
      "type": "object"
    },
    "SqlInstancesGetDiskShrinkConfigResponse": {
      "type": "object",
      "properties": {
        "message": {
          "description": "Additional message to customers.",
          "type": "string"
        },
        "kind": {
          "description": "This is always `sql#getDiskShrinkConfig`.",
          "type": "string"
        },
        "minimalTargetSizeGb": {
          "type": "string",
          "format": "int64",
          "description": "The minimum size to which a disk can be shrunk in GigaBytes."
        }
      },
      "id": "SqlInstancesGetDiskShrinkConfigResponse",
      "description": "Instance get disk shrink config response."
    },
    "SslCert": {
      "type": "object",
      "properties": {
        "cert": {
          "description": "PEM representation.",
          "type": "string"
        },
        "certSerialNumber": {
          "type": "string",
          "description": "Serial number, as extracted from the certificate."
        },
        "selfLink": {
          "type": "string",
          "description": "The URI of this resource."
        },
        "expirationTime": {
          "type": "string",
          "description": "The time when the certificate expires in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "format": "google-datetime"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "The time when the certificate was created in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "type": "string"
        },
        "instance": {
          "description": "Name of the database instance.",
          "type": "string"
        },
        "commonName": {
          "type": "string",
          "description": "User supplied name. Constrained to [a-zA-Z.-_ ]+."
        },
        "sha1Fingerprint": {
          "type": "string",
          "description": "Sha1 Fingerprint."
        },
        "kind": {
          "description": "This is always `sql#sslCert`.",
          "type": "string"
        }
      },
      "id": "SslCert",
      "description": "SslCerts Resource"
    },
    "FlagsListResponse": {
      "description": "Flags list response.",
      "id": "FlagsListResponse",
      "properties": {
        "items": {
          "description": "List of flags.",
          "type": "array",
          "items": {
            "$ref": "Flag"
          }
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#flagsList`."
        }
      },
      "type": "object"
    },
    "InsightsConfig": {
      "description": "Insights configuration. This specifies when Cloud SQL Insights feature is enabled and optional configuration.",
      "id": "InsightsConfig",
      "type": "object",
      "properties": {
        "queryInsightsEnabled": {
          "type": "boolean",
          "description": "Whether Query Insights feature is enabled."
        },
        "recordApplicationTags": {
          "description": "Whether Query Insights will record application tags from query when enabled.",
          "type": "boolean"
        },
        "queryStringLength": {
          "description": "Maximum query length stored in bytes. Default value: 1024 bytes. Range: 256-4500 bytes. Query length more than this field value will be truncated to this value. When unset, query length will be the default value. Changing query length will restart the database.",
          "type": "integer",
          "format": "int32"
        },
        "queryPlansPerMinute": {
          "description": "Number of query execution plans captured by Insights per minute for all queries combined. Default is 5.",
          "type": "integer",
          "format": "int32"
        },
        "recordClientAddress": {
          "description": "Whether Query Insights will record client address when enabled.",
          "type": "boolean"
        }
      }
    },
    "Operation": {
      "properties": {
        "endTime": {
          "description": "The time this operation finished in UTC timezone in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "description": "An identifier that uniquely identifies the operation. You can use this identifier to retrieve the Operations resource that has information about the operation.",
          "type": "string"
        },
        "targetLink": {
          "type": "string"
        },
        "operationType": {
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            true,
            true,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enumDescriptions": [
            "Unknown operation type.",
            "Imports data into a Cloud SQL instance.",
            "Exports data from a Cloud SQL instance to a Cloud Storage bucket.",
            "Creates a new Cloud SQL instance.",
            "Updates the settings of a Cloud SQL instance.",
            "Deletes a Cloud SQL instance.",
            "Restarts the Cloud SQL instance.",
            "",
            "",
            "Performs instance backup.",
            "Deletes an instance backup.",
            "Restores an instance backup.",
            "Injects a privileged user in mysql for MOB instances.",
            "Clones a Cloud SQL instance.",
            "Stops replication on a Cloud SQL read replica instance.",
            "Starts replication on a Cloud SQL read replica instance.",
            "Promotes a Cloud SQL replica instance.",
            "Creates a Cloud SQL replica instance.",
            "Creates a new user in a Cloud SQL instance.",
            "Deletes a user from a Cloud SQL instance.",
            "Updates an existing user in a Cloud SQL instance.",
            "Creates a database in the Cloud SQL instance.",
            "Deletes a database in the Cloud SQL instance.",
            "Updates a database in the Cloud SQL instance.",
            "Performs failover of an HA-enabled Cloud SQL failover replica.",
            "Deletes the backup taken by a backup run.",
            "",
            "Truncates a general or slow log table in MySQL.",
            "Demotes the stand-alone instance to be a Cloud SQL read replica for an external database server.",
            "Indicates that the instance is currently in maintenance. Maintenance typically causes the instance to be unavailable for 1-3 minutes.",
            "This field is deprecated, and will be removed in future version of API.",
            "",
            "Creates clone instance.",
            "Reschedule maintenance to another time.",
            "Starts external sync of a Cloud SQL EM replica to an external primary instance.",
            "Recovers logs from an instance's old data disk.",
            "Performs auto-restart of an HA-enabled Cloud SQL database for auto recovery.",
            "Re-encrypts CMEK instances with latest key version.",
            "Switches over to replica instance from primary."
          ],
          "enum": [
            "SQL_OPERATION_TYPE_UNSPECIFIED",
            "IMPORT",
            "EXPORT",
            "CREATE",
            "UPDATE",
            "DELETE",
            "RESTART",
            "BACKUP",
            "SNAPSHOT",
            "BACKUP_VOLUME",
            "DELETE_VOLUME",
            "RESTORE_VOLUME",
            "INJECT_USER",
            "CLONE",
            "STOP_REPLICA",
            "START_REPLICA",
            "PROMOTE_REPLICA",
            "CREATE_REPLICA",
            "CREATE_USER",
            "DELETE_USER",
            "UPDATE_USER",
            "CREATE_DATABASE",
            "DELETE_DATABASE",
            "UPDATE_DATABASE",
            "FAILOVER",
            "DELETE_BACKUP",
            "RECREATE_REPLICA",
            "TRUNCATE_LOG",
            "DEMOTE_MASTER",
            "MAINTENANCE",
            "ENABLE_PRIVATE_IP",
            "DEFER_MAINTENANCE",
            "CREATE_CLONE",
            "RESCHEDULE_MAINTENANCE",
            "START_EXTERNAL_SYNC",
            "LOG_CLEANUP",
            "AUTO_RESTART",
            "REENCRYPT",
            "SWITCHOVER"
          ],
          "description": "The type of the operation. Valid values are: * `CREATE` * `DELETE` * `UPDATE` * `RESTART` * `IMPORT` * `EXPORT` * `BACKUP_VOLUME` * `RESTORE_VOLUME` * `CREATE_USER` * `DELETE_USER` * `CREATE_DATABASE` * `DELETE_DATABASE`",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "description": "The time this operation actually started in UTC timezone in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "format": "google-datetime"
        },
        "targetProject": {
          "description": "The project ID of the target instance related to this operation.",
          "type": "string"
        },
        "kind": {
          "description": "This is always `sql#operation`.",
          "type": "string"
        },
        "selfLink": {
          "description": "The URI of this resource.",
          "type": "string"
        },
        "importContext": {
          "description": "The context for import operation, if applicable.",
          "$ref": "ImportContext"
        },
        "exportContext": {
          "$ref": "ExportContext",
          "description": "The context for export operation, if applicable."
        },
        "insertTime": {
          "description": "The time this operation was enqueued in UTC timezone in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "format": "google-datetime",
          "type": "string"
        },
        "targetId": {
          "type": "string",
          "description": "Name of the database instance related to this operation."
        },
        "backupContext": {
          "$ref": "BackupContext",
          "description": "The context for backup operation, if applicable."
        },
        "error": {
          "$ref": "OperationErrors",
          "description": "If errors occurred during processing of this operation, this field will be populated."
        },
        "status": {
          "enumDescriptions": [
            "The state of the operation is unknown.",
            "The operation has been queued, but has not started yet.",
            "The operation is running.",
            "The operation completed."
          ],
          "description": "The status of an operation.",
          "enum": [
            "SQL_OPERATION_STATUS_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "DONE"
          ],
          "type": "string"
        },
        "user": {
          "description": "The email address of the user who initiated this operation.",
          "type": "string"
        }
      },
      "id": "Operation",
      "description": "An Operation resource. For successful operations that return an Operation resource, only the fields relevant to the operation are populated in the resource.",
      "type": "object"
    },
    "SslCertsInsertResponse": {
      "properties": {
        "kind": {
          "description": "This is always `sql#sslCertsInsert`.",
          "type": "string"
        },
        "clientCert": {
          "description": "The new client certificate and private key.",
          "$ref": "SslCertDetail"
        },
        "serverCaCert": {
          "$ref": "SslCert",
          "description": "The server Certificate Authority's certificate. If this is missing you can force a new one to be generated by calling resetSslConfig method on instances resource."
        },
        "operation": {
          "$ref": "Operation",
          "description": "The operation to track the ssl certs insert request."
        }
      },
      "type": "object",
      "description": "SslCert insert response.",
      "id": "SslCertsInsertResponse"
    },
    "SqlInstancesRescheduleMaintenanceRequestBody": {
      "description": "Reschedule options for maintenance windows.",
      "type": "object",
      "properties": {
        "reschedule": {
          "description": "Required. The type of the reschedule the user wants.",
          "$ref": "Reschedule"
        }
      },
      "id": "SqlInstancesRescheduleMaintenanceRequestBody"
    },
    "InstancesRotateServerCaRequest": {
      "description": "Rotate Server CA request.",
      "type": "object",
      "id": "InstancesRotateServerCaRequest",
      "properties": {
        "rotateServerCaContext": {
          "$ref": "RotateServerCaContext",
          "description": "Contains details about the rotate server CA operation."
        }
      }
    },
    "PasswordStatus": {
      "properties": {
        "locked": {
          "description": "If true, user does not have login privileges.",
          "type": "boolean"
        },
        "passwordExpirationTime": {
          "type": "string",
          "description": "The expiration time of the current password.",
          "format": "google-datetime"
        }
      },
      "id": "PasswordStatus",
      "type": "object",
      "description": "Read-only password status."
    },
    "DemoteMasterMySqlReplicaConfiguration": {
      "type": "object",
      "properties": {
        "clientCertificate": {
          "type": "string",
          "description": "PEM representation of the replica's x509 certificate."
        },
        "username": {
          "description": "The username for the replication connection.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#demoteMasterMysqlReplicaConfiguration`."
        },
        "caCertificate": {
          "type": "string",
          "description": "PEM representation of the trusted CA's x509 certificate."
        },
        "password": {
          "description": "The password for the replication connection.",
          "type": "string"
        },
        "clientKey": {
          "type": "string",
          "description": "PEM representation of the replica's private key. The corresponsing public key is encoded in the client's certificate. The format of the replica's private key can be either PKCS #1 or PKCS #8."
        }
      },
      "description": "Read-replica configuration specific to MySQL databases.",
      "id": "DemoteMasterMySqlReplicaConfiguration"
    },
    "SqlServerAuditConfig": {
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "This is always sql#sqlServerAuditConfig"
        },
        "retentionInterval": {
          "format": "google-duration",
          "description": "How long to keep generated audit files.",
          "type": "string"
        },
        "uploadInterval": {
          "format": "google-duration",
          "type": "string",
          "description": "How often to upload generated audit files."
        },
        "bucket": {
          "type": "string",
          "description": "The name of the destination bucket (e.g., gs://mybucket)."
        }
      },
      "id": "SqlServerAuditConfig",
      "description": "SQL Server specific audit configuration."
    },
    "Settings": {
      "type": "object",
      "description": "Database instance settings.",
      "id": "Settings",
      "properties": {
        "storageAutoResize": {
          "description": "Configuration to increase storage size automatically. The default value is true.",
          "type": "boolean"
        },
        "deletionProtectionEnabled": {
          "description": "Configuration to protect against accidental instance deletion.",
          "type": "boolean"
        },
        "pricingPlan": {
          "description": "The pricing plan for this instance. This can be either `PER_USE` or `PACKAGE`. Only `PER_USE` is supported for Second Generation instances.",
          "type": "string",
          "enum": [
            "SQL_PRICING_PLAN_UNSPECIFIED",
            "PACKAGE",
            "PER_USE"
          ],
          "enumDescriptions": [
            "This is an unknown pricing plan for this instance.",
            "The instance is billed at a monthly flat rate.",
            "The instance is billed per usage."
          ]
        },
        "kind": {
          "description": "This is always `sql#settings`.",
          "type": "string"
        },
        "maintenanceWindow": {
          "$ref": "MaintenanceWindow",
          "description": "The maintenance window for this instance. This specifies when the instance can be restarted for maintenance purposes."
        },
        "dataDiskSizeGb": {
          "description": "The size of data disk, in GB. The data disk size minimum is 10GB.",
          "format": "int64",
          "type": "string"
        },
        "activeDirectoryConfig": {
          "description": "Active Directory configuration, relevant only for Cloud SQL for SQL Server.",
          "$ref": "SqlActiveDirectoryConfig"
        },
        "timeZone": {
          "type": "string",
          "description": "Server timezone, relevant only for Cloud SQL for SQL Server."
        },
        "locationPreference": {
          "description": "The location preference settings. This allows the instance to be located as near as possible to either an App Engine app or Compute Engine zone for better performance. App Engine co-location was only applicable to First Generation instances.",
          "$ref": "LocationPreference"
        },
        "sqlServerAuditConfig": {
          "description": "SQL Server specific audit configuration.",
          "$ref": "SqlServerAuditConfig"
        },
        "databaseFlags": {
          "description": "The database flags passed to the instance at startup.",
          "type": "array",
          "items": {
            "$ref": "DatabaseFlags"
          }
        },
        "storageAutoResizeLimit": {
          "format": "int64",
          "type": "string",
          "description": "The maximum size to which storage capacity can be automatically increased. The default value is 0, which specifies that there is no limit."
        },
        "dataDiskType": {
          "enumDeprecated": [
            false,
            false,
            false,
            true
          ],
          "description": "The type of data disk: `PD_SSD` (default) or `PD_HDD`. Not used for First Generation instances.",
          "type": "string",
          "enum": [
            "SQL_DATA_DISK_TYPE_UNSPECIFIED",
            "PD_SSD",
            "PD_HDD",
            "OBSOLETE_LOCAL_SSD"
          ],
          "enumDescriptions": [
            "This is an unknown data disk type.",
            "An SSD data disk.",
            "An HDD data disk.",
            "This field is deprecated and will be removed from a future version of the API."
          ]
        },
        "denyMaintenancePeriods": {
          "items": {
            "$ref": "DenyMaintenancePeriod"
          },
          "type": "array",
          "description": "Deny maintenance periods"
        },
        "dataCacheConfig": {
          "$ref": "DataCacheConfig",
          "description": "Configuration for data cache."
        },
        "insightsConfig": {
          "description": "Insights configuration, for now relevant only for Postgres.",
          "$ref": "InsightsConfig"
        },
        "edition": {
          "type": "string",
          "description": "Optional. The edition of the instance.",
          "enum": [
            "EDITION_UNSPECIFIED",
            "ENTERPRISE",
            "ENTERPRISE_PLUS"
          ],
          "enumDescriptions": [
            "The instance did not specify the edition.",
            "The instance is an enterprise edition.",
            "The instance is an Enterprise Plus edition."
          ]
        },
        "replicationType": {
          "enumDescriptions": [
            "This is an unknown replication type for a Cloud SQL instance.",
            "The synchronous replication mode for First Generation instances. It is the default value.",
            "The asynchronous replication mode for First Generation instances. It provides a slight performance gain, but if an outage occurs while this option is set to asynchronous, you can lose up to a few seconds of updates to your data."
          ],
          "enum": [
            "SQL_REPLICATION_TYPE_UNSPECIFIED",
            "SYNCHRONOUS",
            "ASYNCHRONOUS"
          ],
          "description": "The type of replication this instance uses. This can be either `ASYNCHRONOUS` or `SYNCHRONOUS`. (Deprecated) This property was only applicable to First Generation instances.",
          "type": "string",
          "deprecated": true
        },
        "passwordValidationPolicy": {
          "description": "The local user password validation policy of the instance.",
          "$ref": "PasswordValidationPolicy"
        },
        "connectorEnforcement": {
          "description": "Specifies if connections must use Cloud SQL connectors. Option values include the following: `NOT_REQUIRED` (Cloud SQL instances can be connected without Cloud SQL Connectors) and `REQUIRED` (Only allow connections that use Cloud SQL Connectors) Note that using REQUIRED disables all existing authorized networks. If this field is not specified when creating a new instance, NOT_REQUIRED is used. If this field is not specified when patching or updating an existing instance, it is left unchanged in the instance.",
          "enum": [
            "CONNECTOR_ENFORCEMENT_UNSPECIFIED",
            "NOT_REQUIRED",
            "REQUIRED"
          ],
          "enumDescriptions": [
            "The requirement for Cloud SQL connectors is unknown.",
            "Do not require Cloud SQL connectors.",
            "Require all connections to use Cloud SQL connectors, including the Cloud SQL Auth Proxy and Cloud SQL Java, Python, and Go connectors. Note: This disables all existing authorized networks."
          ],
          "type": "string"
        },
        "userLabels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "User-provided labels, represented as a dictionary where each label is a single key value pair."
        },
        "activationPolicy": {
          "enumDescriptions": [
            "Unknown activation plan.",
            "The instance is always up and running.",
            "The instance never starts.",
            "The instance starts upon receiving requests."
          ],
          "enum": [
            "SQL_ACTIVATION_POLICY_UNSPECIFIED",
            "ALWAYS",
            "NEVER",
            "ON_DEMAND"
          ],
          "description": "The activation policy specifies when the instance is activated; it is applicable only when the instance state is RUNNABLE. Valid values: * `ALWAYS`: The instance is on, and remains so even in the absence of connection requests. * `NEVER`: The instance is off; it is not activated, even if a connection request arrives.",
          "enumDeprecated": [
            false,
            false,
            false,
            true
          ],
          "type": "string"
        },
        "backupConfiguration": {
          "description": "The daily backup configuration for the instance.",
          "$ref": "BackupConfiguration"
        },
        "availabilityType": {
          "enum": [
            "SQL_AVAILABILITY_TYPE_UNSPECIFIED",
            "ZONAL",
            "REGIONAL"
          ],
          "description": "Availability type. Potential values: * `ZONAL`: The instance serves data from only one zone. Outages in that zone affect data accessibility. * `REGIONAL`: The instance can serve data from more than one zone in a region (it is highly available)./ For more information, see [Overview of the High Availability Configuration](https://cloud.google.com/sql/docs/mysql/high-availability).",
          "enumDescriptions": [
            "This is an unknown Availability type.",
            "Zonal available instance.",
            "Regional available instance."
          ],
          "type": "string"
        },
        "advancedMachineFeatures": {
          "$ref": "AdvancedMachineFeatures",
          "description": "Specifies advance machine configuration for the instance relevant only for SQL Server."
        },
        "tier": {
          "type": "string",
          "description": "The tier (or machine type) for this instance, for example `db-custom-1-3840`. WARNING: Changing this restarts the instance."
        },
        "collation": {
          "description": "The name of server Instance collation.",
          "type": "string"
        },
        "authorizedGaeApplications": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "deprecated": true,
          "description": "The App Engine app IDs that can access this instance. (Deprecated) Applied to First Generation instances only."
        },
        "databaseReplicationEnabled": {
          "description": "Configuration specific to read replica instances. Indicates whether replication is enabled or not. WARNING: Changing this restarts the instance.",
          "type": "boolean"
        },
        "crashSafeReplicationEnabled": {
          "deprecated": true,
          "type": "boolean",
          "description": "Configuration specific to read replica instances. Indicates whether database flags for crash-safe replication are enabled. This property was only applicable to First Generation instances."
        },
        "ipConfiguration": {
          "$ref": "IpConfiguration",
          "description": "The settings for IP Management. This allows to enable or disable the instance IP and manage which external networks can connect to the instance. The IPv4 address cannot be disabled for Second Generation instances."
        },
        "settingsVersion": {
          "type": "string",
          "format": "int64",
          "description": "The version of instance settings. This is a required field for update method to make sure concurrent updates are handled properly. During update, use the most recent settingsVersion value for this instance and do not try to update this value."
        }
      }
    },
    "SqlActiveDirectoryConfig": {
      "properties": {
        "domain": {
          "type": "string",
          "description": "The name of the domain (e.g., mydomain.com)."
        },
        "kind": {
          "type": "string",
          "description": "This is always sql#activeDirectoryConfig."
        }
      },
      "type": "object",
      "id": "SqlActiveDirectoryConfig",
      "description": "Active Directory configuration, relevant only for Cloud SQL for SQL Server."
    },
    "SslCertDetail": {
      "id": "SslCertDetail",
      "description": "SslCertDetail.",
      "type": "object",
      "properties": {
        "certInfo": {
          "$ref": "SslCert",
          "description": "The public information about the cert."
        },
        "certPrivateKey": {
          "type": "string",
          "description": "The private key for the client cert, in pem format. Keep private in order to protect your security."
        }
      }
    },
    "SqlInstancesResetReplicaSizeRequest": {
      "id": "SqlInstancesResetReplicaSizeRequest",
      "description": "Instance reset replica size request.",
      "type": "object",
      "properties": {}
    },
    "OnPremisesConfiguration": {
      "properties": {
        "hostPort": {
          "description": "The host and port of the on-premises instance in host:port format",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#onPremisesConfiguration`."
        },
        "dumpFilePath": {
          "description": "The dump file to create the Cloud SQL replica.",
          "type": "string"
        },
        "username": {
          "type": "string",
          "description": "The username for connecting to on-premises instance."
        },
        "password": {
          "description": "The password for connecting to on-premises instance.",
          "type": "string"
        },
        "caCertificate": {
          "description": "PEM representation of the trusted CA's x509 certificate.",
          "type": "string"
        },
        "clientCertificate": {
          "description": "PEM representation of the replica's x509 certificate.",
          "type": "string"
        },
        "sourceInstance": {
          "description": "The reference to Cloud SQL instance if the source is Cloud SQL.",
          "$ref": "InstanceReference"
        },
        "clientKey": {
          "type": "string",
          "description": "PEM representation of the replica's private key. The corresponsing public key is encoded in the client's certificate."
        }
      },
      "description": "On-premises instance configuration.",
      "type": "object",
      "id": "OnPremisesConfiguration"
    },
    "CloneContext": {
      "type": "object",
      "id": "CloneContext",
      "description": "Database instance clone context.",
      "properties": {
        "allocatedIpRange": {
          "type": "string",
          "description": "The name of the allocated ip range for the private ip Cloud SQL instance. For example: \"google-managed-services-default\". If set, the cloned instance ip will be created in the allocated range. The range name must comply with [RFC 1035](https://tools.ietf.org/html/rfc1035). Specifically, the name must be 1-63 characters long and match the regular expression [a-z]([-a-z0-9]*[a-z0-9])?. Reserved for future use."
        },
        "pitrTimestampMs": {
          "type": "string",
          "description": "Reserved for future use.",
          "format": "int64"
        },
        "binLogCoordinates": {
          "$ref": "BinLogCoordinates",
          "description": "Binary log coordinates, if specified, identify the position up to which the source instance is cloned. If not specified, the source instance is cloned up to the most recent binary log coordinates."
        },
        "pointInTime": {
          "type": "string",
          "description": "Timestamp, if specified, identifies the time to which the source instance is cloned.",
          "format": "google-datetime"
        },
        "databaseNames": {
          "description": "(SQL Server only) Clone only the specified databases from the source instance. Clone all databases if empty.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "destinationInstanceName": {
          "description": "Name of the Cloud SQL instance to be created as a clone.",
          "type": "string"
        },
        "preferredZone": {
          "description": "Optional. (Point-in-time recovery for PostgreSQL only) Clone to an instance in the specified zone. If no zone is specified, clone to the same zone as the source instance.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#cloneContext`."
        }
      }
    },
    "ExportContext": {
      "description": "Database instance export context.",
      "id": "ExportContext",
      "properties": {
        "csvExportOptions": {
          "description": "Options for exporting data as CSV. `MySQL` and `PostgreSQL` instances only.",
          "type": "object",
          "properties": {
            "linesTerminatedBy": {
              "description": "This is used to separate lines. If a line does not contain all fields, the rest of the columns are set to their default values.",
              "type": "string"
            },
            "fieldsTerminatedBy": {
              "type": "string",
              "description": "Specifies the character that separates columns within each row (line) of the file."
            },
            "escapeCharacter": {
              "type": "string",
              "description": "Specifies the character that should appear before a data character that needs to be escaped."
            },
            "quoteCharacter": {
              "description": "Specifies the quoting character to be used when a data value is quoted.",
              "type": "string"
            },
            "selectQuery": {
              "type": "string",
              "description": "The select query used to extract the data."
            }
          }
        },
        "uri": {
          "description": "The path to the file in Google Cloud Storage where the export will be stored. The URI is in the form `gs://bucketName/fileName`. If the file already exists, the request succeeds, but the operation fails. If `fileType` is `SQL` and the filename ends with .gz, the contents are compressed.",
          "type": "string"
        },
        "fileType": {
          "description": "The file type for the specified uri.",
          "type": "string",
          "enum": [
            "SQL_FILE_TYPE_UNSPECIFIED",
            "SQL",
            "CSV",
            "BAK"
          ],
          "enumDescriptions": [
            "Unknown file type.",
            "File containing SQL statements.",
            "File in CSV format.",
            ""
          ]
        },
        "kind": {
          "description": "This is always `sql#exportContext`.",
          "type": "string"
        },
        "databases": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Databases to be exported. `MySQL instances:` If `fileType` is `SQL` and no database is specified, all databases are exported, except for the `mysql` system database. If `fileType` is `CSV`, you can specify one database, either by using this property or by using the `csvExportOptions.selectQuery` property, which takes precedence over this property. `PostgreSQL instances:` You must specify one database to be exported. If `fileType` is `CSV`, this database must match the one specified in the `csvExportOptions.selectQuery` property. `SQL Server instances:` You must specify one database to be exported, and the `fileType` must be `BAK`."
        },
        "sqlExportOptions": {
          "properties": {
            "mysqlExportOptions": {
              "type": "object",
              "properties": {
                "masterData": {
                  "description": "Option to include SQL statement required to set up replication. If set to `1`, the dump file includes a CHANGE MASTER TO statement with the binary log coordinates, and --set-gtid-purged is set to ON. If set to `2`, the CHANGE MASTER TO statement is written as a SQL comment and has no effect. If set to any value other than `1`, --set-gtid-purged is set to OFF.",
                  "format": "int32",
                  "type": "integer"
                }
              },
              "description": "Options for exporting from MySQL."
            },
            "tables": {
              "description": "Tables to export, or that were exported, from the specified database. If you specify tables, specify one and only one database. For PostgreSQL instances, you can specify only one table.",
              "items": {
                "type": "string"
              },
              "type": "array"
            },
            "schemaOnly": {
              "description": "Export only schemas.",
              "type": "boolean"
            }
          },
          "type": "object",
          "description": "Options for exporting data as SQL statements."
        },
        "bakExportOptions": {
          "type": "object",
          "properties": {
            "bakType": {
              "enumDescriptions": [
                "default type.",
                "Full backup.",
                "Differential backup."
              ],
              "type": "string",
              "description": "Type of this bak file will be export, FULL or DIFF, SQL Server only",
              "enum": [
                "BAK_TYPE_UNSPECIFIED",
                "FULL",
                "DIFF"
              ]
            },
            "differentialBase": {
              "type": "boolean",
              "description": "Whether or not the backup can be used as a differential base copy_only backup can not be served as differential base"
            },
            "striped": {
              "type": "boolean",
              "description": "Whether or not the export should be striped."
            },
            "copyOnly": {
              "description": "Deprecated: copy_only is deprecated. Use differential_base instead",
              "type": "boolean",
              "deprecated": true
            },
            "stripeCount": {
              "description": "Option for specifying how many stripes to use for the export. If blank, and the value of the striped field is true, the number of stripes is automatically chosen.",
              "type": "integer",
              "format": "int32"
            }
          },
          "description": "Options for exporting BAK files (SQL Server-only)"
        },
        "offload": {
          "description": "Option for export offload.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "MaintenanceWindow": {
      "type": "object",
      "id": "MaintenanceWindow",
      "properties": {
        "updateTrack": {
          "description": "Maintenance timing setting: `canary` (Earlier) or `stable` (Later). [Learn more](https://cloud.google.com/sql/docs/mysql/instance-settings#maintenance-timing-2ndgen).",
          "enumDescriptions": [
            "This is an unknown maintenance timing preference.",
            "For instance update that requires a restart, this update track indicates your instance prefer to restart for new version early in maintenance window.",
            "For instance update that requires a restart, this update track indicates your instance prefer to let Cloud SQL choose the timing of restart (within its Maintenance window, if applicable)."
          ],
          "enum": [
            "SQL_UPDATE_TRACK_UNSPECIFIED",
            "canary",
            "stable"
          ],
          "type": "string"
        },
        "hour": {
          "type": "integer",
          "format": "int32",
          "description": "hour of day - 0 to 23."
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#maintenanceWindow`."
        },
        "day": {
          "type": "integer",
          "format": "int32",
          "description": "day of week (1-7), starting on Monday."
        }
      },
      "description": "Maintenance window. This specifies when a Cloud SQL instance is restarted for system maintenance purposes."
    },
    "Flag": {
      "id": "Flag",
      "description": "A flag resource.",
      "type": "object",
      "properties": {
        "appliesTo": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "SQL_DATABASE_VERSION_UNSPECIFIED",
              "MYSQL_5_1",
              "MYSQL_5_5",
              "MYSQL_5_6",
              "MYSQL_5_7",
              "SQLSERVER_2017_STANDARD",
              "SQLSERVER_2017_ENTERPRISE",
              "SQLSERVER_2017_EXPRESS",
              "SQLSERVER_2017_WEB",
              "POSTGRES_9_6",
              "POSTGRES_10",
              "POSTGRES_11",
              "POSTGRES_12",
              "POSTGRES_13",
              "POSTGRES_14",
              "POSTGRES_15",
              "MYSQL_8_0",
              "MYSQL_8_0_18",
              "MYSQL_8_0_26",
              "MYSQL_8_0_27",
              "MYSQL_8_0_28",
              "MYSQL_8_0_29",
              "MYSQL_8_0_30",
              "MYSQL_8_0_31",
              "MYSQL_8_0_32",
              "MYSQL_8_0_33",
              "MYSQL_8_0_34",
              "MYSQL_8_0_35",
              "MYSQL_8_0_36",
              "SQLSERVER_2019_STANDARD",
              "SQLSERVER_2019_ENTERPRISE",
              "SQLSERVER_2019_EXPRESS",
              "SQLSERVER_2019_WEB",
              "SQLSERVER_2022_STANDARD",
              "SQLSERVER_2022_ENTERPRISE",
              "SQLSERVER_2022_EXPRESS",
              "SQLSERVER_2022_WEB"
            ],
            "enumDeprecated": [
              false,
              true,
              true,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              true,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false
            ],
            "enumDescriptions": [
              "This is an unknown database version.",
              "The database version is MySQL 5.1.",
              "The database version is MySQL 5.5.",
              "The database version is MySQL 5.6.",
              "The database version is MySQL 5.7.",
              "The database version is SQL Server 2017 Standard.",
              "The database version is SQL Server 2017 Enterprise.",
              "The database version is SQL Server 2017 Express.",
              "The database version is SQL Server 2017 Web.",
              "The database version is PostgreSQL 9.6.",
              "The database version is PostgreSQL 10.",
              "The database version is PostgreSQL 11.",
              "The database version is PostgreSQL 12.",
              "The database version is PostgreSQL 13.",
              "The database version is PostgreSQL 14.",
              "The database version is PostgreSQL 15.",
              "The database version is MySQL 8.",
              "The database major version is MySQL 8.0 and the minor version is 18.",
              "The database major version is MySQL 8.0 and the minor version is 26.",
              "The database major version is MySQL 8.0 and the minor version is 27.",
              "The database major version is MySQL 8.0 and the minor version is 28.",
              "The database major version is MySQL 8.0 and the minor version is 29.",
              "The database major version is MySQL 8.0 and the minor version is 30.",
              "The database major version is MySQL 8.0 and the minor version is 31.",
              "The database major version is MySQL 8.0 and the minor version is 32.",
              "The database major version is MySQL 8.0 and the minor version is 33.",
              "The database major version is MySQL 8.0 and the minor version is 34.",
              "The database major version is MySQL 8.0 and the minor version is 35.",
              "The database major version is MySQL 8.0 and the minor version is 36.",
              "The database version is SQL Server 2019 Standard.",
              "The database version is SQL Server 2019 Enterprise.",
              "The database version is SQL Server 2019 Express.",
              "The database version is SQL Server 2019 Web.",
              "The database version is SQL Server 2022 Standard.",
              "The database version is SQL Server 2022 Enterprise.",
              "The database version is SQL Server 2022 Express.",
              "The database version is SQL Server 2022 Web."
            ]
          },
          "description": "The database version this flag applies to. Can be MySQL instances: `MYSQL_8_0`, `MYSQL_8_0_18`, `MYSQL_8_0_26`, `MYSQL_5_7`, or `MYSQL_5_6`. PostgreSQL instances: `POSTGRES_9_6`, `POSTGRES_10`, `POSTGRES_11` or `POSTGRES_12`. SQL Server instances: `SQLSERVER_2017_STANDARD`, `SQLSERVER_2017_ENTERPRISE`, `SQLSERVER_2017_EXPRESS`, `SQLSERVER_2017_WEB`, `SQLSERVER_2019_STANDARD`, `SQLSERVER_2019_ENTERPRISE`, `SQLSERVER_2019_EXPRESS`, or `SQLSERVER_2019_WEB`. See [the complete list](/sql/docs/mysql/admin-api/rest/v1/SqlDatabaseVersion)."
        },
        "type": {
          "description": "The type of the flag. Flags are typed to being `BOOLEAN`, `STRING`, `INTEGER` or `NONE`. `NONE` is used for flags which do not take a value, such as `skip_grant_tables`.",
          "type": "string",
          "enum": [
            "SQL_FLAG_TYPE_UNSPECIFIED",
            "BOOLEAN",
            "STRING",
            "INTEGER",
            "NONE",
            "MYSQL_TIMEZONE_OFFSET",
            "FLOAT",
            "REPEATED_STRING"
          ],
          "enumDescriptions": [
            "This is an unknown flag type.",
            "Boolean type flag.",
            "String type flag.",
            "Integer type flag.",
            "Flag type used for a server startup option.",
            "Type introduced specially for MySQL TimeZone offset. Accept a string value with the format [-12:59, 13:00].",
            "Float type flag.",
            "Comma-separated list of the strings in a SqlFlagType enum."
          ]
        },
        "allowedIntValues": {
          "items": {
            "format": "int64",
            "type": "string"
          },
          "description": "Use this field if only certain integers are accepted. Can be combined with min_value and max_value to add additional values.",
          "type": "array"
        },
        "allowedStringValues": {
          "description": "For `STRING` flags, a list of strings that the value can be set to.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "minValue": {
          "type": "string",
          "description": "For `INTEGER` flags, the minimum allowed value.",
          "format": "int64"
        },
        "kind": {
          "description": "This is always `sql#flag`.",
          "type": "string"
        },
        "requiresRestart": {
          "type": "boolean",
          "description": "Indicates whether changing this flag will trigger a database restart. Only applicable to Second Generation instances."
        },
        "inBeta": {
          "type": "boolean",
          "description": "Whether or not the flag is considered in beta."
        },
        "maxValue": {
          "description": "For `INTEGER` flags, the maximum allowed value.",
          "type": "string",
          "format": "int64"
        },
        "name": {
          "description": "This is the name of the flag. Flag names always use underscores, not hyphens, for example: `max_allowed_packet`",
          "type": "string"
        }
      }
    },
    "DatabasesListResponse": {
      "description": "Database list response.",
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "Database"
          },
          "description": "List of database resources in the instance."
        },
        "kind": {
          "description": "This is always `sql#databasesList`.",
          "type": "string"
        }
      },
      "id": "DatabasesListResponse"
    },
    "PerformDiskShrinkContext": {
      "id": "PerformDiskShrinkContext",
      "properties": {
        "targetSizeGb": {
          "description": "The target disk shrink size in GigaBytes.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Perform disk shrink context."
    },
    "SqlInstancesVerifyExternalSyncSettingsRequest": {
      "type": "object",
      "properties": {
        "mysqlSyncConfig": {
          "$ref": "MySqlSyncConfig",
          "description": "Optional. MySQL-specific settings for start external sync."
        },
        "syncMode": {
          "enumDescriptions": [
            "Unknown external sync mode, will be defaulted to ONLINE mode",
            "Online external sync will set up replication after initial data external sync",
            "Offline external sync only dumps and loads a one-time snapshot of the primary instance's data"
          ],
          "type": "string",
          "enum": [
            "EXTERNAL_SYNC_MODE_UNSPECIFIED",
            "ONLINE",
            "OFFLINE"
          ],
          "description": "External sync mode"
        },
        "verifyConnectionOnly": {
          "description": "Flag to enable verifying connection only",
          "type": "boolean"
        },
        "verifyReplicationOnly": {
          "type": "boolean",
          "description": "Optional. Flag to verify settings required by replication setup only"
        }
      },
      "id": "SqlInstancesVerifyExternalSyncSettingsRequest"
    },
    "SqlOutOfDiskReport": {
      "properties": {
        "sqlMinRecommendedIncreaseSizeGb": {
          "type": "integer",
          "description": "The minimum recommended increase size in GigaBytes This field is consumed by the frontend * Writers: * the proactive database wellness job for OOD. * Readers:",
          "format": "int32"
        },
        "sqlOutOfDiskState": {
          "enum": [
            "SQL_OUT_OF_DISK_STATE_UNSPECIFIED",
            "NORMAL",
            "SOFT_SHUTDOWN"
          ],
          "enumDescriptions": [
            "Unspecified state",
            "The instance has plenty space on data disk",
            "Data disk is almost used up. It is shutdown to prevent data corruption."
          ],
          "description": "This field represents the state generated by the proactive database wellness job for OutOfDisk issues. * Writers: * the proactive database wellness job for OOD. * Readers: * the proactive database wellness job",
          "type": "string"
        }
      },
      "type": "object",
      "id": "SqlOutOfDiskReport",
      "description": "This message wraps up the information written by out-of-disk detection job."
    },
    "Tier": {
      "description": "A Google Cloud SQL service tier resource.",
      "properties": {
        "DiskQuota": {
          "type": "string",
          "description": "The maximum disk size of this tier in bytes.",
          "format": "int64"
        },
        "RAM": {
          "format": "int64",
          "description": "The maximum RAM usage of this tier in bytes.",
          "type": "string"
        },
        "region": {
          "type": "array",
          "description": "The applicable regions for this tier.",
          "items": {
            "type": "string"
          }
        },
        "tier": {
          "type": "string",
          "description": "An identifier for the machine type, for example, `db-custom-1-3840`. For related information, see [Pricing](/sql/pricing)."
        },
        "kind": {
          "description": "This is always `sql#tier`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Tier"
    },
    "BackupRun": {
      "description": "A BackupRun resource.",
      "properties": {
        "location": {
          "description": "Location of the backups.",
          "type": "string"
        },
        "instance": {
          "type": "string",
          "description": "Name of the database instance."
        },
        "description": {
          "type": "string",
          "description": "The description of this run, only applicable to on-demand backups."
        },
        "diskEncryptionStatus": {
          "$ref": "DiskEncryptionStatus",
          "description": "Encryption status specific to a backup."
        },
        "endTime": {
          "format": "google-datetime",
          "description": "The time the backup operation completed in UTC timezone in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "type": "string"
        },
        "startTime": {
          "description": "The time the backup operation actually started in UTC timezone in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "format": "google-datetime",
          "type": "string"
        },
        "status": {
          "type": "string",
          "enumDescriptions": [
            "The status of the run is unknown.",
            "The backup operation was enqueued.",
            "The backup is overdue across a given backup window. Indicates a problem. Example: Long-running operation in progress during the whole window.",
            "The backup is in progress.",
            "The backup failed.",
            "The backup was successful.",
            "The backup was skipped (without problems) for a given backup window. Example: Instance was idle.",
            "The backup is about to be deleted.",
            "The backup deletion failed.",
            "The backup has been deleted."
          ],
          "description": "The status of this run.",
          "enum": [
            "SQL_BACKUP_RUN_STATUS_UNSPECIFIED",
            "ENQUEUED",
            "OVERDUE",
            "RUNNING",
            "FAILED",
            "SUCCESSFUL",
            "SKIPPED",
            "DELETION_PENDING",
            "DELETION_FAILED",
            "DELETED"
          ]
        },
        "enqueuedTime": {
          "description": "The time the run was enqueued in UTC timezone in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "format": "google-datetime",
          "type": "string"
        },
        "windowStartTime": {
          "type": "string",
          "description": "The start time of the backup window during which this the backup was attempted in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "format": "google-datetime"
        },
        "backupKind": {
          "enum": [
            "SQL_BACKUP_KIND_UNSPECIFIED",
            "SNAPSHOT",
            "PHYSICAL"
          ],
          "description": "Specifies the kind of backup, PHYSICAL or DEFAULT_SNAPSHOT.",
          "type": "string",
          "enumDescriptions": [
            "This is an unknown BackupKind.",
            "The snapshot based backups",
            "Physical backups"
          ]
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#backupRun`."
        },
        "error": {
          "$ref": "OperationError",
          "description": "Information about why the backup operation failed. This is only present if the run has the FAILED status."
        },
        "timeZone": {
          "type": "string",
          "description": "Backup time zone to prevent restores to an instance with a different time zone. Now relevant only for SQL Server."
        },
        "diskEncryptionConfiguration": {
          "description": "Encryption configuration specific to a backup.",
          "$ref": "DiskEncryptionConfiguration"
        },
        "type": {
          "description": "The type of this run; can be either \"AUTOMATED\" or \"ON_DEMAND\" or \"FINAL\". This field defaults to \"ON_DEMAND\" and is ignored, when specified for insert requests.",
          "enumDescriptions": [
            "This is an unknown BackupRun type.",
            "The backup schedule automatically triggers a backup.",
            "The user manually triggers a backup."
          ],
          "enum": [
            "SQL_BACKUP_RUN_TYPE_UNSPECIFIED",
            "AUTOMATED",
            "ON_DEMAND"
          ],
          "type": "string"
        },
        "id": {
          "type": "string",
          "format": "int64",
          "description": "The identifier for this backup run. Unique only for a specific Cloud SQL instance."
        },
        "selfLink": {
          "type": "string",
          "description": "The URI of this resource."
        }
      },
      "type": "object",
      "id": "BackupRun"
    },
    "DemoteMasterConfiguration": {
      "description": "Read-replica configuration for connecting to the on-premises primary instance.",
      "properties": {
        "mysqlReplicaConfiguration": {
          "$ref": "DemoteMasterMySqlReplicaConfiguration",
          "description": "MySQL specific configuration when replicating from a MySQL on-premises primary instance. Replication configuration information such as the username, password, certificates, and keys are not stored in the instance metadata. The configuration information is used only to set up the replication connection and is stored by MySQL in a file named `master.info` in the data directory."
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#demoteMasterConfiguration`."
        }
      },
      "type": "object",
      "id": "DemoteMasterConfiguration"
    },
    "RotateServerCaContext": {
      "type": "object",
      "description": "Instance rotate server CA context.",
      "id": "RotateServerCaContext",
      "properties": {
        "kind": {
          "description": "This is always `sql#rotateServerCaContext`.",
          "type": "string"
        },
        "nextVersion": {
          "type": "string",
          "description": "The fingerprint of the next version to be rotated to. If left unspecified, will be rotated to the most recently added server CA version."
        }
      }
    },
    "OperationMetadata": {
      "properties": {
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "apiVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. API version used to start the operation."
        },
        "statusDetail": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "cancelRequested": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "target": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "verb": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation."
        }
      },
      "type": "object",
      "description": "Represents the metadata of the long-running operation.",
      "id": "OperationMetadata"
    },
    "DatabaseInstance": {
      "id": "DatabaseInstance",
      "properties": {
        "instanceType": {
          "enum": [
            "SQL_INSTANCE_TYPE_UNSPECIFIED",
            "CLOUD_SQL_INSTANCE",
            "ON_PREMISES_INSTANCE",
            "READ_REPLICA_INSTANCE"
          ],
          "type": "string",
          "description": "The instance type.",
          "enumDescriptions": [
            "This is an unknown Cloud SQL instance type.",
            "A regular Cloud SQL instance that is not replicating from a primary instance.",
            "An instance running on the customer's premises that is not managed by Cloud SQL.",
            "A Cloud SQL instance acting as a read-replica."
          ]
        },
        "settings": {
          "description": "The user settings.",
          "$ref": "Settings"
        },
        "secondaryGceZone": {
          "type": "string",
          "description": "The Compute Engine zone that the failover instance is currently serving from for a regional instance. This value could be different from the zone that was specified when the instance was created if the instance has failed over to its secondary/failover zone."
        },
        "replicaConfiguration": {
          "description": "Configuration specific to failover replicas and read replicas.",
          "$ref": "ReplicaConfiguration"
        },
        "name": {
          "description": "Name of the Cloud SQL instance. This does not include the project ID.",
          "type": "string"
        },
        "satisfiesPzs": {
          "description": "The status indicating if instance satisfiesPzs. Reserved for future use.",
          "type": "boolean"
        },
        "availableMaintenanceVersions": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. List all maintenance versions applicable on the instance"
        },
        "ipv6Address": {
          "deprecated": true,
          "type": "string",
          "description": "The IPv6 address assigned to the instance. (Deprecated) This property was applicable only to First Generation instances."
        },
        "databaseInstalledVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Stores the current database version running on the instance including minor version such as `MYSQL_8_0_18`."
        },
        "suspensionReason": {
          "items": {
            "enumDescriptions": [
              "This is an unknown suspension reason.",
              "The instance is suspended due to billing issues (for example:, GCP account issue)",
              "The instance is suspended due to illegal content (for example:, child pornography, copyrighted material, etc.).",
              "The instance is causing operational issues (for example:, causing the database to crash).",
              "The KMS key used by the instance is either revoked or denied access to"
            ],
            "type": "string",
            "enum": [
              "SQL_SUSPENSION_REASON_UNSPECIFIED",
              "BILLING_ISSUE",
              "LEGAL_ISSUE",
              "OPERATIONAL_ISSUE",
              "KMS_KEY_ISSUE"
            ]
          },
          "type": "array",
          "description": "If the instance state is SUSPENDED, the reason for the suspension."
        },
        "databaseVersion": {
          "enum": [
            "SQL_DATABASE_VERSION_UNSPECIFIED",
            "MYSQL_5_1",
            "MYSQL_5_5",
            "MYSQL_5_6",
            "MYSQL_5_7",
            "SQLSERVER_2017_STANDARD",
            "SQLSERVER_2017_ENTERPRISE",
            "SQLSERVER_2017_EXPRESS",
            "SQLSERVER_2017_WEB",
            "POSTGRES_9_6",
            "POSTGRES_10",
            "POSTGRES_11",
            "POSTGRES_12",
            "POSTGRES_13",
            "POSTGRES_14",
            "POSTGRES_15",
            "MYSQL_8_0",
            "MYSQL_8_0_18",
            "MYSQL_8_0_26",
            "MYSQL_8_0_27",
            "MYSQL_8_0_28",
            "MYSQL_8_0_29",
            "MYSQL_8_0_30",
            "MYSQL_8_0_31",
            "MYSQL_8_0_32",
            "MYSQL_8_0_33",
            "MYSQL_8_0_34",
            "MYSQL_8_0_35",
            "MYSQL_8_0_36",
            "SQLSERVER_2019_STANDARD",
            "SQLSERVER_2019_ENTERPRISE",
            "SQLSERVER_2019_EXPRESS",
            "SQLSERVER_2019_WEB",
            "SQLSERVER_2022_STANDARD",
            "SQLSERVER_2022_ENTERPRISE",
            "SQLSERVER_2022_EXPRESS",
            "SQLSERVER_2022_WEB"
          ],
          "type": "string",
          "enumDescriptions": [
            "This is an unknown database version.",
            "The database version is MySQL 5.1.",
            "The database version is MySQL 5.5.",
            "The database version is MySQL 5.6.",
            "The database version is MySQL 5.7.",
            "The database version is SQL Server 2017 Standard.",
            "The database version is SQL Server 2017 Enterprise.",
            "The database version is SQL Server 2017 Express.",
            "The database version is SQL Server 2017 Web.",
            "The database version is PostgreSQL 9.6.",
            "The database version is PostgreSQL 10.",
            "The database version is PostgreSQL 11.",
            "The database version is PostgreSQL 12.",
            "The database version is PostgreSQL 13.",
            "The database version is PostgreSQL 14.",
            "The database version is PostgreSQL 15.",
            "The database version is MySQL 8.",
            "The database major version is MySQL 8.0 and the minor version is 18.",
            "The database major version is MySQL 8.0 and the minor version is 26.",
            "The database major version is MySQL 8.0 and the minor version is 27.",
            "The database major version is MySQL 8.0 and the minor version is 28.",
            "The database major version is MySQL 8.0 and the minor version is 29.",
            "The database major version is MySQL 8.0 and the minor version is 30.",
            "The database major version is MySQL 8.0 and the minor version is 31.",
            "The database major version is MySQL 8.0 and the minor version is 32.",
            "The database major version is MySQL 8.0 and the minor version is 33.",
            "The database major version is MySQL 8.0 and the minor version is 34.",
            "The database major version is MySQL 8.0 and the minor version is 35.",
            "The database major version is MySQL 8.0 and the minor version is 36.",
            "The database version is SQL Server 2019 Standard.",
            "The database version is SQL Server 2019 Enterprise.",
            "The database version is SQL Server 2019 Express.",
            "The database version is SQL Server 2019 Web.",
            "The database version is SQL Server 2022 Standard.",
            "The database version is SQL Server 2022 Enterprise.",
            "The database version is SQL Server 2022 Express.",
            "The database version is SQL Server 2022 Web."
          ],
          "description": "The database engine type and version. The `databaseVersion` field cannot be changed after instance creation.",
          "enumDeprecated": [
            false,
            true,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ]
        },
        "serverCaCert": {
          "description": "SSL configuration.",
          "$ref": "SslCert"
        },
        "gceZone": {
          "type": "string",
          "description": "The Compute Engine zone that the instance is currently serving from. This value could be different from the zone that was specified when the instance was created if the instance has failed over to its secondary zone. WARNING: Changing this might restart the instance."
        },
        "ipAddresses": {
          "description": "The assigned IP addresses for the instance.",
          "items": {
            "$ref": "IpMapping"
          },
          "type": "array"
        },
        "selfLink": {
          "description": "The URI of this resource.",
          "type": "string"
        },
        "outOfDiskReport": {
          "description": "This field represents the report generated by the proactive database wellness job for OutOfDisk issues. * Writers: * the proactive database wellness job for OOD. * Readers: * the proactive database wellness job",
          "$ref": "SqlOutOfDiskReport"
        },
        "region": {
          "type": "string",
          "description": "The geographical region. Can be: * `us-central` (`FIRST_GEN` instances only) * `us-central1` (`SECOND_GEN` instances only) * `asia-east1` or `europe-west1`. Defaults to `us-central` or `us-central1` depending on the instance type. The region cannot be changed after instance creation."
        },
        "serviceAccountEmailAddress": {
          "description": "The service account email address assigned to the instance. \\This property is read-only.",
          "type": "string"
        },
        "etag": {
          "description": "This field is deprecated and will be removed from a future version of the API. Use the `settings.settingsVersion` field instead.",
          "type": "string"
        },
        "backendType": {
          "enum": [
            "SQL_BACKEND_TYPE_UNSPECIFIED",
            "FIRST_GEN",
            "SECOND_GEN",
            "EXTERNAL"
          ],
          "enumDescriptions": [
            "This is an unknown backend type for instance.",
            "V1 speckle instance.",
            "V2 speckle instance.",
            "On premises instance."
          ],
          "type": "string",
          "description": "The backend type. `SECOND_GEN`: Cloud SQL database instance. `EXTERNAL`: A database server that is not managed by Google. This property is read-only; use the `tier` property in the `settings` object to determine the database type.",
          "enumDeprecated": [
            false,
            true,
            false,
            false
          ]
        },
        "onPremisesConfiguration": {
          "description": "Configuration specific to on-premises instances.",
          "$ref": "OnPremisesConfiguration"
        },
        "project": {
          "type": "string",
          "description": "The project ID of the project containing the Cloud SQL instance. The Google apps domain is prefixed if applicable."
        },
        "maxDiskSize": {
          "format": "int64",
          "deprecated": true,
          "type": "string",
          "description": "The maximum disk size of the instance in bytes."
        },
        "diskEncryptionStatus": {
          "$ref": "DiskEncryptionStatus",
          "description": "Disk encryption status specific to an instance."
        },
        "state": {
          "type": "string",
          "enum": [
            "SQL_INSTANCE_STATE_UNSPECIFIED",
            "RUNNABLE",
            "SUSPENDED",
            "PENDING_DELETE",
            "PENDING_CREATE",
            "MAINTENANCE",
            "FAILED",
            "ONLINE_MAINTENANCE"
          ],
          "description": "The current serving state of the Cloud SQL instance.",
          "enumDescriptions": [
            "The state of the instance is unknown.",
            "The instance is running, or has been stopped by owner.",
            "The instance is not available, for example due to problems with billing.",
            "The instance is being deleted.",
            "The instance is being created.",
            "The instance is down for maintenance.",
            "The creation of the instance failed or a fatal error occurred during maintenance.",
            "Deprecated"
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true
          ]
        },
        "currentDiskSize": {
          "format": "int64",
          "deprecated": true,
          "type": "string",
          "description": "The current disk usage of the instance in bytes. This property has been deprecated. Use the \"cloudsql.googleapis.com/database/disk/bytes_used\" metric in Cloud Monitoring API instead. Please see [this announcement](https://groups.google.com/d/msg/google-cloud-sql-announce/I_7-F9EBhT0/BtvFtdFeAgAJ) for details."
        },
        "kind": {
          "description": "This is always `sql#instance`.",
          "type": "string"
        },
        "diskEncryptionConfiguration": {
          "description": "Disk encryption configuration specific to an instance.",
          "$ref": "DiskEncryptionConfiguration"
        },
        "connectionName": {
          "description": "Connection name of the Cloud SQL instance used in connection strings.",
          "type": "string"
        },
        "masterInstanceName": {
          "type": "string",
          "description": "The name of the instance which will act as primary in the replication setup."
        },
        "replicaNames": {
          "description": "The replicas of the instance.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "maintenanceVersion": {
          "description": "The current software version on the instance.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time when the instance was created in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "type": "string"
        },
        "failoverReplica": {
          "type": "object",
          "properties": {
            "available": {
              "type": "boolean",
              "description": "The availability status of the failover replica. A false status indicates that the failover replica is out of sync. The primary instance can only failover to the failover replica when the status is true."
            },
            "name": {
              "type": "string",
              "description": "The name of the failover replica. If specified at instance creation, a failover replica is created for the instance. The name doesn't include the project ID."
            }
          },
          "description": "The name and status of the failover replica."
        },
        "scheduledMaintenance": {
          "description": "The start time of any upcoming scheduled maintenance for this instance.",
          "$ref": "SqlScheduledMaintenance"
        },
        "rootPassword": {
          "type": "string",
          "description": "Initial root password. Use only on creation. You must set root passwords before you can connect to PostgreSQL instances."
        }
      },
      "description": "A Cloud SQL instance resource.",
      "type": "object"
    },
    "SslCertsListResponse": {
      "description": "SslCerts list response.",
      "type": "object",
      "id": "SslCertsListResponse",
      "properties": {
        "kind": {
          "description": "This is always `sql#sslCertsList`.",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "SslCert"
          },
          "type": "array",
          "description": "List of client certificates for the instance."
        }
      }
    },
    "DenyMaintenancePeriod": {
      "description": "Deny Maintenance Periods. This specifies a date range during when all CSA rollout will be denied.",
      "properties": {
        "endDate": {
          "type": "string",
          "description": "\"deny maintenance period\" end date. If the year of the end date is empty, the year of the start date also must be empty. In this case, it means the deny maintenance period recurs every year. The date is in format yyyy-mm-dd i.e., 2020-11-01, or mm-dd, i.e., 11-01"
        },
        "time": {
          "description": "Time in UTC when the \"deny maintenance period\" starts on start_date and ends on end_date. The time is in format: HH:mm:SS, i.e., 00:00:00",
          "type": "string"
        },
        "startDate": {
          "description": "\"deny maintenance period\" start date. If the year of the start date is empty, the year of the end date also must be empty. In this case, it means the deny maintenance period recurs every year. The date is in format yyyy-mm-dd i.e., 2020-11-01, or mm-dd, i.e., 11-01",
          "type": "string"
        }
      },
      "id": "DenyMaintenancePeriod",
      "type": "object"
    },
    "SqlInstancesGetLatestRecoveryTimeResponse": {
      "description": "Instance get latest recovery time response.",
      "id": "SqlInstancesGetLatestRecoveryTimeResponse",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "This is always `sql#getLatestRecoveryTime`."
        },
        "latestRecoveryTime": {
          "description": "Timestamp, identifies the latest recovery time of the source instance.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "BackupRunsListResponse": {
      "properties": {
        "items": {
          "items": {
            "$ref": "BackupRun"
          },
          "type": "array",
          "description": "A list of backup runs in reverse chronological order of the enqueued time."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results."
        },
        "kind": {
          "description": "This is always `sql#backupRunsList`.",
          "type": "string"
        }
      },
      "description": "Backup run list results.",
      "id": "BackupRunsListResponse",
      "type": "object"
    },
    "AclEntry": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "This is always `sql#aclEntry`."
        },
        "name": {
          "type": "string",
          "description": "Optional. A label to identify this entry."
        },
        "expirationTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time when this access control entry expires in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`."
        },
        "value": {
          "description": "The allowlisted value for the access control list.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "An entry for an Access Control list.",
      "id": "AclEntry"
    },
    "InstanceReference": {
      "id": "InstanceReference",
      "properties": {
        "region": {
          "type": "string",
          "description": "The region of the Cloud SQL instance being referenced."
        },
        "project": {
          "description": "The project ID of the Cloud SQL instance being referenced. The default is the same project ID as the instance references it.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the Cloud SQL instance being referenced. This does not include the project ID."
        }
      },
      "type": "object",
      "description": "Reference to another Cloud SQL instance."
    },
    "InstancesTruncateLogRequest": {
      "id": "InstancesTruncateLogRequest",
      "type": "object",
      "properties": {
        "truncateLogContext": {
          "$ref": "TruncateLogContext",
          "description": "Contains details about the truncate log operation."
        }
      },
      "description": "Instance truncate log request."
    },
    "InstancesListServerCasResponse": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "This is always `sql#instancesListServerCas`.",
          "type": "string"
        },
        "activeVersion": {
          "type": "string"
        },
        "certs": {
          "items": {
            "$ref": "SslCert"
          },
          "type": "array",
          "description": "List of server CA certificates for the instance."
        }
      },
      "description": "Instances ListServerCas response.",
      "id": "InstancesListServerCasResponse"
    },
    "BinLogCoordinates": {
      "description": "Binary log coordinates.",
      "type": "object",
      "id": "BinLogCoordinates",
      "properties": {
        "binLogPosition": {
          "description": "Position (offset) within the binary log file.",
          "format": "int64",
          "type": "string"
        },
        "binLogFileName": {
          "type": "string",
          "description": "Name of the binary log file for a Cloud SQL instance."
        },
        "kind": {
          "description": "This is always `sql#binLogCoordinates`.",
          "type": "string"
        }
      }
    },
    "SqlExternalSyncSettingError": {
      "description": "External primary instance migration setting error/warning.",
      "properties": {
        "type": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "The replication user is missing privileges that are required.",
            "Unsupported migration type.",
            "No pglogical extension installed on databases, applicable for postgres.",
            "pglogical node already exists on databases, applicable for postgres.",
            "The value of parameter wal_level is not set to logical.",
            "The value of parameter shared_preload_libraries does not include pglogical.",
            "The value of parameter max_replication_slots is not sufficient.",
            "The value of parameter max_wal_senders is not sufficient.",
            "The value of parameter max_worker_processes is not sufficient.",
            "Extensions installed are either not supported or having unsupported versions",
            "The value of parameter rds.logical_replication is not set to 1.",
            "The primary instance logging setup doesn't allow EM sync.",
            "The primary instance database parameter setup doesn't allow EM sync.",
            "The gtid_mode is not supported, applicable for MySQL.",
            "SQL Server Agent is not running.",
            "The table definition is not support due to missing primary key or replica identity, applicable for postgres.",
            "The customer has a definer that will break EM setup.",
            "SQL Server @@SERVERNAME does not match actual host name.",
            "The primary instance has been setup and will fail the setup.",
            "The primary instance has unsupported binary log format.",
            "The primary instance's binary log retention setting.",
            "The primary instance has tables with unsupported storage engine.",
            "Source has tables with limited support eg: PostgreSQL tables without primary keys.",
            "The replica instance contains existing data.",
            "The replication user is missing privileges that are optional.",
            "Additional BACKUP_ADMIN privilege is granted to the replication user which may lock source MySQL 8 instance for DDLs during initial sync.",
            "The Cloud Storage bucket is missing necessary permissions.",
            "The Cloud Storage bucket has an error in the file or contains invalid file information.",
            "The source instance has unsupported database settings for migration.",
            "The replication user is missing parallel import specific privileges. (e.g. LOCK TABLES) for MySQL."
          ],
          "enum": [
            "SQL_EXTERNAL_SYNC_SETTING_ERROR_TYPE_UNSPECIFIED",
            "CONNECTION_FAILURE",
            "BINLOG_NOT_ENABLED",
            "INCOMPATIBLE_DATABASE_VERSION",
            "REPLICA_ALREADY_SETUP",
            "INSUFFICIENT_PRIVILEGE",
            "UNSUPPORTED_MIGRATION_TYPE",
            "NO_PGLOGICAL_INSTALLED",
            "PGLOGICAL_NODE_ALREADY_EXISTS",
            "INVALID_WAL_LEVEL",
            "INVALID_SHARED_PRELOAD_LIBRARY",
            "INSUFFICIENT_MAX_REPLICATION_SLOTS",
            "INSUFFICIENT_MAX_WAL_SENDERS",
            "INSUFFICIENT_MAX_WORKER_PROCESSES",
            "UNSUPPORTED_EXTENSIONS",
            "INVALID_RDS_LOGICAL_REPLICATION",
            "INVALID_LOGGING_SETUP",
            "INVALID_DB_PARAM",
            "UNSUPPORTED_GTID_MODE",
            "SQLSERVER_AGENT_NOT_RUNNING",
            "UNSUPPORTED_TABLE_DEFINITION",
            "UNSUPPORTED_DEFINER",
            "SQLSERVER_SERVERNAME_MISMATCH",
            "PRIMARY_ALREADY_SETUP",
            "UNSUPPORTED_BINLOG_FORMAT",
            "BINLOG_RETENTION_SETTING",
            "UNSUPPORTED_STORAGE_ENGINE",
            "LIMITED_SUPPORT_TABLES",
            "EXISTING_DATA_IN_REPLICA",
            "MISSING_OPTIONAL_PRIVILEGES",
            "RISKY_BACKUP_ADMIN_PRIVILEGE",
            "INSUFFICIENT_GCS_PERMISSIONS",
            "INVALID_FILE_INFO",
            "UNSUPPORTED_DATABASE_SETTINGS",
            "MYSQL_PARALLEL_IMPORT_INSUFFICIENT_PRIVILEGE"
          ],
          "type": "string",
          "description": "Identifies the specific error that occurred."
        },
        "detail": {
          "description": "Additional information about the error encountered.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Can be `sql#externalSyncSettingError` or `sql#externalSyncSettingWarning`."
        }
      },
      "id": "SqlExternalSyncSettingError",
      "type": "object"
    },
    "AdvancedMachineFeatures": {
      "description": "Specifies options for controlling advanced machine features.",
      "properties": {
        "threadsPerCore": {
          "type": "integer",
          "format": "int32",
          "description": "The number of threads per physical core."
        }
      },
      "id": "AdvancedMachineFeatures",
      "type": "object"
    },
    "ConnectSettings": {
      "type": "object",
      "properties": {
        "region": {
          "description": "The cloud region for the instance. e.g. `us-central1`, `europe-west1`. The region cannot be changed after instance creation.",
          "type": "string"
        },
        "kind": {
          "description": "This is always `sql#connectSettings`.",
          "type": "string"
        },
        "dnsName": {
          "type": "string",
          "description": "The dns name of the instance."
        },
        "databaseVersion": {
          "type": "string",
          "enumDescriptions": [
            "This is an unknown database version.",
            "The database version is MySQL 5.1.",
            "The database version is MySQL 5.5.",
            "The database version is MySQL 5.6.",
            "The database version is MySQL 5.7.",
            "The database version is SQL Server 2017 Standard.",
            "The database version is SQL Server 2017 Enterprise.",
            "The database version is SQL Server 2017 Express.",
            "The database version is SQL Server 2017 Web.",
            "The database version is PostgreSQL 9.6.",
            "The database version is PostgreSQL 10.",
            "The database version is PostgreSQL 11.",
            "The database version is PostgreSQL 12.",
            "The database version is PostgreSQL 13.",
            "The database version is PostgreSQL 14.",
            "The database version is PostgreSQL 15.",
            "The database version is MySQL 8.",
            "The database major version is MySQL 8.0 and the minor version is 18.",
            "The database major version is MySQL 8.0 and the minor version is 26.",
            "The database major version is MySQL 8.0 and the minor version is 27.",
            "The database major version is MySQL 8.0 and the minor version is 28.",
            "The database major version is MySQL 8.0 and the minor version is 29.",
            "The database major version is MySQL 8.0 and the minor version is 30.",
            "The database major version is MySQL 8.0 and the minor version is 31.",
            "The database major version is MySQL 8.0 and the minor version is 32.",
            "The database major version is MySQL 8.0 and the minor version is 33.",
            "The database major version is MySQL 8.0 and the minor version is 34.",
            "The database major version is MySQL 8.0 and the minor version is 35.",
            "The database major version is MySQL 8.0 and the minor version is 36.",
            "The database version is SQL Server 2019 Standard.",
            "The database version is SQL Server 2019 Enterprise.",
            "The database version is SQL Server 2019 Express.",
            "The database version is SQL Server 2019 Web.",
            "The database version is SQL Server 2022 Standard.",
            "The database version is SQL Server 2022 Enterprise.",
            "The database version is SQL Server 2022 Express.",
            "The database version is SQL Server 2022 Web."
          ],
          "enumDeprecated": [
            false,
            true,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "description": "The database engine type and version. The `databaseVersion` field cannot be changed after instance creation. MySQL instances: `MYSQL_8_0`, `MYSQL_5_7` (default), or `MYSQL_5_6`. PostgreSQL instances: `POSTGRES_9_6`, `POSTGRES_10`, `POSTGRES_11` or `POSTGRES_12` (default), `POSTGRES_13`, or `POSTGRES_14`. SQL Server instances: `SQLSERVER_2017_STANDARD` (default), `SQLSERVER_2017_ENTERPRISE`, `SQLSERVER_2017_EXPRESS`, `SQLSERVER_2017_WEB`, `SQLSERVER_2019_STANDARD`, `SQLSERVER_2019_ENTERPRISE`, `SQLSERVER_2019_EXPRESS`, or `SQLSERVER_2019_WEB`.",
          "enum": [
            "SQL_DATABASE_VERSION_UNSPECIFIED",
            "MYSQL_5_1",
            "MYSQL_5_5",
            "MYSQL_5_6",
            "MYSQL_5_7",
            "SQLSERVER_2017_STANDARD",
            "SQLSERVER_2017_ENTERPRISE",
            "SQLSERVER_2017_EXPRESS",
            "SQLSERVER_2017_WEB",
            "POSTGRES_9_6",
            "POSTGRES_10",
            "POSTGRES_11",
            "POSTGRES_12",
            "POSTGRES_13",
            "POSTGRES_14",
            "POSTGRES_15",
            "MYSQL_8_0",
            "MYSQL_8_0_18",
            "MYSQL_8_0_26",
            "MYSQL_8_0_27",
            "MYSQL_8_0_28",
            "MYSQL_8_0_29",
            "MYSQL_8_0_30",
            "MYSQL_8_0_31",
            "MYSQL_8_0_32",
            "MYSQL_8_0_33",
            "MYSQL_8_0_34",
            "MYSQL_8_0_35",
            "MYSQL_8_0_36",
            "SQLSERVER_2019_STANDARD",
            "SQLSERVER_2019_ENTERPRISE",
            "SQLSERVER_2019_EXPRESS",
            "SQLSERVER_2019_WEB",
            "SQLSERVER_2022_STANDARD",
            "SQLSERVER_2022_ENTERPRISE",
            "SQLSERVER_2022_EXPRESS",
            "SQLSERVER_2022_WEB"
          ]
        },
        "backendType": {
          "enumDeprecated": [
            false,
            true,
            false,
            false
          ],
          "enum": [
            "SQL_BACKEND_TYPE_UNSPECIFIED",
            "FIRST_GEN",
            "SECOND_GEN",
            "EXTERNAL"
          ],
          "type": "string",
          "description": "`SECOND_GEN`: Cloud SQL database instance. `EXTERNAL`: A database server that is not managed by Google. This property is read-only; use the `tier` property in the `settings` object to determine the database type.",
          "enumDescriptions": [
            "This is an unknown backend type for instance.",
            "V1 speckle instance.",
            "V2 speckle instance.",
            "On premises instance."
          ]
        },
        "ipAddresses": {
          "items": {
            "$ref": "IpMapping"
          },
          "type": "array",
          "description": "The assigned IP addresses for the instance."
        },
        "serverCaCert": {
          "description": "SSL configuration.",
          "$ref": "SslCert"
        }
      },
      "id": "ConnectSettings",
      "description": "Connect settings retrieval response."
    },
    "IpMapping": {
      "properties": {
        "timeToRetire": {
          "format": "google-datetime",
          "description": "The due time for this IP to be retired in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`. This field is only available when the IP is scheduled to be retired.",
          "type": "string"
        },
        "ipAddress": {
          "type": "string",
          "description": "The IP address assigned."
        },
        "type": {
          "type": "string",
          "enum": [
            "SQL_IP_ADDRESS_TYPE_UNSPECIFIED",
            "PRIMARY",
            "OUTGOING",
            "PRIVATE",
            "MIGRATED_1ST_GEN"
          ],
[...]
