{
  "title": "Cloud SQL Admin API",
  "description": "API for Cloud SQL database instance management",
  "version": "v1",
  "baseUrl": "https://sqladmin.googleapis.com/",
  "discoveryVersion": "v1",
  "revision": "20230831",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/sqlservice.admin": {
          "description": "Manage your Google SQL Service instances"
        }
      }
    }
  },
  "parameters": {
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "type": "string",
      "location": "query",
      "description": "Data format for response."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query",
      "default": "true"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    }
  },
  "basePath": "",
  "rootUrl": "https://sqladmin.googleapis.com/",
  "mtlsRootUrl": "https://sqladmin.mtls.googleapis.com/",
  "servicePath": "",
  "canonicalName": "SQL Admin",
  "fullyEncodeReservedExpansion": true,
  "protocol": "rest",
  "name": "sqladmin",
  "schemas": {
    "SqlInstancesVerifyExternalSyncSettingsRequest": {
      "description": "Instance verify external sync settings request.",
      "id": "SqlInstancesVerifyExternalSyncSettingsRequest",
      "properties": {
        "mysqlSyncConfig": {
          "description": "Optional. MySQL-specific settings for start external sync.",
          "$ref": "MySqlSyncConfig"
        },
        "verifyConnectionOnly": {
          "description": "Flag to enable verifying connection only",
          "type": "boolean"
        },
        "syncMode": {
          "enum": [
            "EXTERNAL_SYNC_MODE_UNSPECIFIED",
            "ONLINE",
            "OFFLINE"
          ],
          "enumDescriptions": [
            "Unknown external sync mode, will be defaulted to ONLINE mode",
            "Online external sync will set up replication after initial data external sync",
            "Offline external sync only dumps and loads a one-time snapshot of the primary instance's data"
          ],
          "description": "External sync mode",
          "type": "string"
        },
        "verifyReplicationOnly": {
          "type": "boolean",
          "description": "Optional. Flag to verify settings required by replication setup only"
        }
      },
      "type": "object"
    },
    "DemoteMasterMySqlReplicaConfiguration": {
      "type": "object",
      "description": "Read-replica configuration specific to MySQL databases.",
      "id": "DemoteMasterMySqlReplicaConfiguration",
      "properties": {
        "clientKey": {
          "type": "string",
          "description": "PEM representation of the replica's private key. The corresponsing public key is encoded in the client's certificate. The format of the replica's private key can be either PKCS #1 or PKCS #8."
        },
        "caCertificate": {
          "description": "PEM representation of the trusted CA's x509 certificate.",
          "type": "string"
        },
        "clientCertificate": {
          "description": "PEM representation of the replica's x509 certificate.",
          "type": "string"
        },
        "username": {
          "type": "string",
          "description": "The username for the replication connection."
        },
        "kind": {
          "description": "This is always `sql#demoteMasterMysqlReplicaConfiguration`.",
          "type": "string"
        },
        "password": {
          "description": "The password for the replication connection.",
          "type": "string"
        }
      }
    },
    "DemoteMasterContext": {
      "id": "DemoteMasterContext",
      "properties": {
        "verifyGtidConsistency": {
          "description": "Verify the GTID consistency for demote operation. Default value: `True`. Setting this flag to `false` enables you to bypass the GTID consistency check between on-premises primary instance and Cloud SQL instance during the demotion operation but also exposes you to the risk of future replication failures. Change the value only if you know the reason for the GTID divergence and are confident that doing so will not cause any replication issues.",
          "type": "boolean"
        },
        "masterInstanceName": {
          "description": "The name of the instance which will act as on-premises primary instance in the replication setup.",
          "type": "string"
        },
        "skipReplicationSetup": {
          "description": "Flag to skip replication setup on the instance.",
          "type": "boolean"
        },
        "replicaConfiguration": {
          "description": "Configuration specific to read-replicas replicating from the on-premises primary instance.",
          "$ref": "DemoteMasterConfiguration"
        },
        "kind": {
          "description": "This is always `sql#demoteMasterContext`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Database instance demote primary instance context."
    },
    "BinLogCoordinates": {
      "properties": {
        "binLogFileName": {
          "type": "string",
          "description": "Name of the binary log file for a Cloud SQL instance."
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#binLogCoordinates`."
        },
        "binLogPosition": {
          "description": "Position (offset) within the binary log file.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "BinLogCoordinates",
      "type": "object",
      "description": "Binary log coordinates."
    },
    "IpConfiguration": {
      "type": "object",
      "properties": {
        "privateNetwork": {
          "type": "string",
          "description": "The resource link for the VPC network from which the Cloud SQL instance is accessible for private IP. For example, `/projects/myProject/global/networks/default`. This setting can be updated, but it cannot be removed after it is set."
        },
        "enablePrivatePathForGoogleCloudServices": {
          "description": "Controls connectivity to private IP instances from Google services, such as BigQuery.",
          "type": "boolean"
        },
        "allocatedIpRange": {
          "description": "The name of the allocated ip range for the private ip Cloud SQL instance. For example: \"google-managed-services-default\". If set, the instance ip will be created in the allocated range. The range name must comply with [RFC 1035](https://tools.ietf.org/html/rfc1035). Specifically, the name must be 1-63 characters long and match the regular expression `[a-z]([-a-z0-9]*[a-z0-9])?.`",
          "type": "string"
        },
        "pscConfig": {
          "$ref": "PscConfig",
          "description": "PSC settings for this instance."
        },
        "requireSsl": {
          "description": "Whether SSL connections over IP are enforced or not.",
          "type": "boolean"
        },
        "ipv4Enabled": {
          "type": "boolean",
          "description": "Whether the instance is assigned a public IP address or not."
        },
        "authorizedNetworks": {
          "type": "array",
          "items": {
            "$ref": "AclEntry"
          },
          "description": "The list of external networks that are allowed to connect to the instance using the IP. In 'CIDR' notation, also known as 'slash' notation (for example: `157.197.200.0/24`)."
        }
      },
      "description": "IP Management configuration.",
      "id": "IpConfiguration"
    },
    "IpMapping": {
      "type": "object",
      "id": "IpMapping",
      "description": "Database instance IP Mapping.",
      "properties": {
        "ipAddress": {
          "description": "The IP address assigned.",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "This is an unknown IP address type.",
            "IP address the customer is supposed to connect to. Usually this is the load balancer's IP address",
            "Source IP address of the connection a read replica establishes to its external primary instance. This IP address can be allowlisted by the customer in case it has a firewall that filters incoming connection to its on premises primary instance.",
            "Private IP used when using private IPs and network peering.",
            "V1 IP of a migrated instance. We want the user to decommission this IP as soon as the migration is complete. Note: V1 instances with V1 ip addresses will be counted as PRIMARY."
          ],
          "enum": [
            "SQL_IP_ADDRESS_TYPE_UNSPECIFIED",
            "PRIMARY",
            "OUTGOING",
            "PRIVATE",
            "MIGRATED_1ST_GEN"
          ],
          "description": "The type of this IP address. A `PRIMARY` address is a public address that can accept incoming connections. A `PRIVATE` address is a private address that can accept incoming connections. An `OUTGOING` address is the source address of connections originating from the instance, if supported.",
          "type": "string"
        },
        "timeToRetire": {
          "description": "The due time for this IP to be retired in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`. This field is only available when the IP is scheduled to be retired.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "SslCertsInsertRequest": {
      "description": "SslCerts insert request.",
      "type": "object",
      "id": "SslCertsInsertRequest",
      "properties": {
        "commonName": {
          "type": "string",
          "description": "User supplied name. Must be a distinct name from the other certificates for this instance."
        }
      }
    },
    "RotateServerCaContext": {
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "This is always `sql#rotateServerCaContext`."
        },
        "nextVersion": {
          "description": "The fingerprint of the next version to be rotated to. If left unspecified, will be rotated to the most recently added server CA version.",
          "type": "string"
        }
      },
      "description": "Instance rotate server CA context.",
      "id": "RotateServerCaContext"
    },
    "RestoreBackupContext": {
      "type": "object",
      "description": "Database instance restore from backup context. Backup context contains source instance id and project id.",
      "id": "RestoreBackupContext",
      "properties": {
        "kind": {
          "type": "string",
          "description": "This is always `sql#restoreBackupContext`."
        },
        "instanceId": {
          "description": "The ID of the instance that the backup was taken from.",
          "type": "string"
        },
        "backupRunId": {
          "type": "string",
          "description": "The ID of the backup run to restore from.",
          "format": "int64"
        },
        "project": {
          "description": "The full project ID of the source instance.",
          "type": "string"
        }
      }
    },
    "FlagsListResponse": {
      "id": "FlagsListResponse",
      "description": "Flags list response.",
      "type": "object",
      "properties": {
        "items": {
          "description": "List of flags.",
          "items": {
            "$ref": "Flag"
          },
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#flagsList`."
        }
      }
    },
    "InsightsConfig": {
      "properties": {
        "queryStringLength": {
          "type": "integer",
          "description": "Maximum query length stored in bytes. Default value: 1024 bytes. Range: 256-4500 bytes. Query length more than this field value will be truncated to this value. When unset, query length will be the default value. Changing query length will restart the database.",
          "format": "int32"
        },
        "queryPlansPerMinute": {
          "description": "Number of query execution plans captured by Insights per minute for all queries combined. Default is 5.",
          "type": "integer",
          "format": "int32"
        },
        "recordApplicationTags": {
          "type": "boolean",
          "description": "Whether Query Insights will record application tags from query when enabled."
        },
        "queryInsightsEnabled": {
          "type": "boolean",
          "description": "Whether Query Insights feature is enabled."
        },
        "recordClientAddress": {
          "description": "Whether Query Insights will record client address when enabled.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "InsightsConfig",
      "description": "Insights configuration. This specifies when Cloud SQL Insights feature is enabled and optional configuration."
    },
    "Database": {
      "description": "Represents a SQL database on the Cloud SQL instance.",
      "type": "object",
      "id": "Database",
      "properties": {
        "charset": {
          "type": "string",
          "description": "The Cloud SQL charset value."
        },
        "collation": {
          "description": "The Cloud SQL collation value.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the database in the Cloud SQL instance. This does not include the project ID or instance name."
        },
        "project": {
          "description": "The project ID of the project containing the Cloud SQL database. The Google apps domain is prefixed if applicable.",
          "type": "string"
        },
        "selfLink": {
          "description": "The URI of this resource.",
          "type": "string"
        },
        "instance": {
          "description": "The name of the Cloud SQL instance. This does not include the project ID.",
          "type": "string"
        },
        "sqlserverDatabaseDetails": {
          "$ref": "SqlServerDatabaseDetails"
        },
        "etag": {
          "type": "string",
          "description": "This field is deprecated and will be removed from a future version of the API."
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#database`."
        }
      }
    },
    "InstancesRestoreBackupRequest": {
      "id": "InstancesRestoreBackupRequest",
      "properties": {
        "restoreBackupContext": {
          "description": "Parameters required to perform the restore backup operation.",
          "$ref": "RestoreBackupContext"
        }
      },
      "description": "Database instance restore backup request.",
      "type": "object"
    },
    "PerformDiskShrinkContext": {
      "id": "PerformDiskShrinkContext",
      "properties": {
        "targetSizeGb": {
          "type": "string",
          "format": "int64",
          "description": "The target disk shrink size in GigaBytes."
        }
      },
      "type": "object",
      "description": "Perform disk shrink context."
    },
    "UserPasswordValidationPolicy": {
      "description": "User level password validation policy.",
      "type": "object",
      "properties": {
        "passwordExpirationDuration": {
          "format": "google-duration",
          "type": "string",
          "description": "Expiration duration after password is updated."
        },
        "enablePasswordVerification": {
          "type": "boolean",
          "description": "If true, the user must specify the current password before changing the password. This flag is supported only for MySQL."
        },
        "allowedFailedAttempts": {
          "description": "Number of failed login attempts allowed before user get locked.",
          "type": "integer",
          "format": "int32"
        },
        "enableFailedAttemptsCheck": {
          "type": "boolean",
          "description": "If true, failed login attempts check will be enabled."
        },
        "status": {
          "description": "Output only. Read-only password status.",
          "readOnly": true,
          "$ref": "PasswordStatus"
        }
      },
      "id": "UserPasswordValidationPolicy"
    },
    "OnPremisesConfiguration": {
      "id": "OnPremisesConfiguration",
      "properties": {
        "password": {
          "type": "string",
          "description": "The password for connecting to on-premises instance."
        },
        "hostPort": {
          "type": "string",
          "description": "The host and port of the on-premises instance in host:port format"
        },
        "caCertificate": {
          "description": "PEM representation of the trusted CA's x509 certificate.",
          "type": "string"
        },
        "clientKey": {
          "description": "PEM representation of the replica's private key. The corresponsing public key is encoded in the client's certificate.",
          "type": "string"
        },
        "sourceInstance": {
          "description": "The reference to Cloud SQL instance if the source is Cloud SQL.",
          "$ref": "InstanceReference"
        },
        "username": {
          "type": "string",
          "description": "The username for connecting to on-premises instance."
        },
        "dumpFilePath": {
          "type": "string",
          "description": "The dump file to create the Cloud SQL replica."
        },
        "kind": {
          "description": "This is always `sql#onPremisesConfiguration`.",
          "type": "string"
        },
        "clientCertificate": {
          "description": "PEM representation of the replica's x509 certificate.",
          "type": "string"
        }
      },
      "description": "On-premises instance configuration.",
      "type": "object"
    },
    "GenerateEphemeralCertResponse": {
      "properties": {
        "ephemeralCert": {
          "description": "Generated cert",
          "$ref": "SslCert"
        }
      },
      "id": "GenerateEphemeralCertResponse",
      "description": "Ephemeral certificate creation request.",
      "type": "object"
    },
    "InstancesCloneRequest": {
      "type": "object",
      "properties": {
        "cloneContext": {
          "description": "Contains details about the clone operation.",
          "$ref": "CloneContext"
        }
      },
      "description": "Database instance clone request.",
      "id": "InstancesCloneRequest"
    },
    "DiskEncryptionStatus": {
      "id": "DiskEncryptionStatus",
      "description": "Disk encryption status for an instance.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "This is always `sql#diskEncryptionStatus`.",
          "type": "string"
        },
        "kmsKeyVersionName": {
          "description": "KMS key version used to encrypt the Cloud SQL instance resource",
          "type": "string"
        }
      }
    },
    "ExportContext": {
      "type": "object",
      "description": "Database instance export context.",
      "id": "ExportContext",
      "properties": {
        "kind": {
          "type": "string",
          "description": "This is always `sql#exportContext`."
        },
        "bakExportOptions": {
          "description": "Options for exporting BAK files (SQL Server-only)",
          "type": "object",
          "properties": {
            "copyOnly": {
              "description": "Deprecated: copy_only is deprecated. Use differential_base instead",
              "deprecated": true,
              "type": "boolean"
            },
            "stripeCount": {
              "format": "int32",
              "description": "Option for specifying how many stripes to use for the export. If blank, and the value of the striped field is true, the number of stripes is automatically chosen.",
              "type": "integer"
            },
            "differentialBase": {
              "type": "boolean",
              "description": "Whether or not the backup can be used as a differential base copy_only backup can not be served as differential base"
            },
            "striped": {
              "description": "Whether or not the export should be striped.",
              "type": "boolean"
            },
            "bakType": {
              "enumDescriptions": [
                "Default type.",
                "Full backup.",
                "Differential backup.",
                "Transaction Log backup"
              ],
              "enum": [
                "BAK_TYPE_UNSPECIFIED",
                "FULL",
                "DIFF",
                "TLOG"
              ],
              "description": "Type of this bak file will be export, FULL or DIFF, SQL Server only",
              "type": "string"
            }
          }
        },
        "uri": {
          "type": "string",
          "description": "The path to the file in Google Cloud Storage where the export will be stored. The URI is in the form `gs://bucketName/fileName`. If the file already exists, the request succeeds, but the operation fails. If `fileType` is `SQL` and the filename ends with .gz, the contents are compressed."
        },
        "sqlExportOptions": {
          "type": "object",
          "description": "Options for exporting data as SQL statements.",
          "properties": {
            "tables": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Tables to export, or that were exported, from the specified database. If you specify tables, specify one and only one database. For PostgreSQL instances, you can specify only one table."
            },
            "schemaOnly": {
              "type": "boolean",
              "description": "Export only schemas."
            },
            "mysqlExportOptions": {
              "description": "Options for exporting from MySQL.",
              "type": "object",
              "properties": {
                "masterData": {
                  "format": "int32",
                  "type": "integer",
                  "description": "Option to include SQL statement required to set up replication. If set to `1`, the dump file includes a CHANGE MASTER TO statement with the binary log coordinates, and --set-gtid-purged is set to ON. If set to `2`, the CHANGE MASTER TO statement is written as a SQL comment and has no effect. If set to any value other than `1`, --set-gtid-purged is set to OFF."
                }
              }
            }
          }
        },
        "fileType": {
          "enum": [
            "SQL_FILE_TYPE_UNSPECIFIED",
            "SQL",
            "CSV",
            "BAK"
          ],
          "enumDescriptions": [
            "Unknown file type.",
            "File containing SQL statements.",
            "File in CSV format.",
            ""
          ],
          "description": "The file type for the specified uri.",
          "type": "string"
        },
        "csvExportOptions": {
          "description": "Options for exporting data as CSV. `MySQL` and `PostgreSQL` instances only.",
          "properties": {
            "quoteCharacter": {
              "description": "Specifies the quoting character to be used when a data value is quoted.",
              "type": "string"
            },
            "linesTerminatedBy": {
              "description": "This is used to separate lines. If a line does not contain all fields, the rest of the columns are set to their default values.",
              "type": "string"
            },
            "fieldsTerminatedBy": {
              "description": "Specifies the character that separates columns within each row (line) of the file.",
              "type": "string"
            },
            "escapeCharacter": {
              "description": "Specifies the character that should appear before a data character that needs to be escaped.",
              "type": "string"
            },
            "selectQuery": {
              "type": "string",
              "description": "The select query used to extract the data."
            }
          },
          "type": "object"
        },
        "offload": {
          "type": "boolean",
          "description": "Option for export offload."
        },
        "databases": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Databases to be exported. `MySQL instances:` If `fileType` is `SQL` and no database is specified, all databases are exported, except for the `mysql` system database. If `fileType` is `CSV`, you can specify one database, either by using this property or by using the `csvExportOptions.selectQuery` property, which takes precedence over this property. `PostgreSQL instances:` You must specify one database to be exported. If `fileType` is `CSV`, this database must match the one specified in the `csvExportOptions.selectQuery` property. `SQL Server instances:` You must specify one database to be exported, and the `fileType` must be `BAK`."
        }
      }
    },
    "ConnectSettings": {
      "type": "object",
      "description": "Connect settings retrieval response.",
      "id": "ConnectSettings",
      "properties": {
        "ipAddresses": {
          "description": "The assigned IP addresses for the instance.",
          "type": "array",
          "items": {
            "$ref": "IpMapping"
          }
        },
        "pscEnabled": {
          "type": "boolean",
          "description": "Whether PSC connectivity is enabled for this instance."
        },
        "databaseVersion": {
          "enumDeprecated": [
            false,
            true,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enum": [
            "SQL_DATABASE_VERSION_UNSPECIFIED",
            "MYSQL_5_1",
            "MYSQL_5_5",
            "MYSQL_5_6",
            "MYSQL_5_7",
            "SQLSERVER_2017_STANDARD",
            "SQLSERVER_2017_ENTERPRISE",
            "SQLSERVER_2017_EXPRESS",
            "SQLSERVER_2017_WEB",
            "POSTGRES_9_6",
            "POSTGRES_10",
            "POSTGRES_11",
            "POSTGRES_12",
            "POSTGRES_13",
            "POSTGRES_14",
            "POSTGRES_15",
            "MYSQL_8_0",
            "MYSQL_8_0_18",
            "MYSQL_8_0_26",
            "MYSQL_8_0_27",
            "MYSQL_8_0_28",
            "MYSQL_8_0_29",
            "MYSQL_8_0_30",
            "MYSQL_8_0_31",
            "MYSQL_8_0_32",
            "MYSQL_8_0_33",
            "MYSQL_8_0_34",
            "MYSQL_8_0_35",
            "MYSQL_8_0_36",
            "SQLSERVER_2019_STANDARD",
            "SQLSERVER_2019_ENTERPRISE",
            "SQLSERVER_2019_EXPRESS",
            "SQLSERVER_2019_WEB",
            "SQLSERVER_2022_STANDARD",
            "SQLSERVER_2022_ENTERPRISE",
            "SQLSERVER_2022_EXPRESS",
            "SQLSERVER_2022_WEB"
          ],
          "type": "string",
          "description": "The database engine type and version. The `databaseVersion` field cannot be changed after instance creation. MySQL instances: `MYSQL_8_0`, `MYSQL_5_7` (default), or `MYSQL_5_6`. PostgreSQL instances: `POSTGRES_9_6`, `POSTGRES_10`, `POSTGRES_11`, `POSTGRES_12` (default), `POSTGRES_13`, or `POSTGRES_14`. SQL Server instances: `SQLSERVER_2017_STANDARD` (default), `SQLSERVER_2017_ENTERPRISE`, `SQLSERVER_2017_EXPRESS`, `SQLSERVER_2017_WEB`, `SQLSERVER_2019_STANDARD`, `SQLSERVER_2019_ENTERPRISE`, `SQLSERVER_2019_EXPRESS`, or `SQLSERVER_2019_WEB`.",
          "enumDescriptions": [
            "This is an unknown database version.",
            "The database version is MySQL 5.1.",
            "The database version is MySQL 5.5.",
            "The database version is MySQL 5.6.",
            "The database version is MySQL 5.7.",
            "The database version is SQL Server 2017 Standard.",
            "The database version is SQL Server 2017 Enterprise.",
            "The database version is SQL Server 2017 Express.",
            "The database version is SQL Server 2017 Web.",
            "The database version is PostgreSQL 9.6.",
            "The database version is PostgreSQL 10.",
            "The database version is PostgreSQL 11.",
            "The database version is PostgreSQL 12.",
            "The database version is PostgreSQL 13.",
            "The database version is PostgreSQL 14.",
            "The database version is PostgreSQL 15.",
            "The database version is MySQL 8.",
            "The database major version is MySQL 8.0 and the minor version is 18.",
            "The database major version is MySQL 8.0 and the minor version is 26.",
            "The database major version is MySQL 8.0 and the minor version is 27.",
            "The database major version is MySQL 8.0 and the minor version is 28.",
            "The database major version is MySQL 8.0 and the minor version is 29.",
            "The database major version is MySQL 8.0 and the minor version is 30.",
            "The database major version is MySQL 8.0 and the minor version is 31.",
            "The database major version is MySQL 8.0 and the minor version is 32.",
            "The database major version is MySQL 8.0 and the minor version is 33.",
            "The database major version is MySQL 8.0 and the minor version is 34.",
            "The database major version is MySQL 8.0 and the minor version is 35.",
            "The database major version is MySQL 8.0 and the minor version is 36.",
            "The database version is SQL Server 2019 Standard.",
            "The database version is SQL Server 2019 Enterprise.",
            "The database version is SQL Server 2019 Express.",
            "The database version is SQL Server 2019 Web.",
            "The database version is SQL Server 2022 Standard.",
            "The database version is SQL Server 2022 Enterprise.",
            "The database version is SQL Server 2022 Express.",
            "The database version is SQL Server 2022 Web."
          ]
        },
        "backendType": {
          "enum": [
            "SQL_BACKEND_TYPE_UNSPECIFIED",
            "FIRST_GEN",
            "SECOND_GEN",
            "EXTERNAL"
          ],
          "enumDescriptions": [
            "This is an unknown backend type for instance.",
            "V1 speckle instance.",
            "V2 speckle instance.",
            "On premises instance."
          ],
          "type": "string",
          "enumDeprecated": [
            false,
            true,
            false,
            false
          ],
          "description": "`SECOND_GEN`: Cloud SQL database instance. `EXTERNAL`: A database server that is not managed by Google. This property is read-only; use the `tier` property in the `settings` object to determine the database type."
        },
        "region": {
          "type": "string",
          "description": "The cloud region for the instance. For example, `us-central1`, `europe-west1`. The region cannot be changed after instance creation."
        },
        "dnsName": {
          "description": "The dns name of the instance.",
          "type": "string"
        },
        "serverCaCert": {
          "$ref": "SslCert",
          "description": "SSL configuration."
        },
        "kind": {
          "description": "This is always `sql#connectSettings`.",
          "type": "string"
        }
      }
    },
    "InstancesImportRequest": {
      "description": "Database instance import request.",
      "id": "InstancesImportRequest",
      "properties": {
        "importContext": {
          "$ref": "ImportContext",
          "description": "Contains details about the import operation."
        }
      },
      "type": "object"
    },
    "GenerateEphemeralCertRequest": {
      "properties": {
        "readTime": {
          "description": "Optional. Optional snapshot read timestamp to trade freshness for performance.",
          "format": "google-datetime",
          "type": "string"
        },
        "validDuration": {
          "format": "google-duration",
          "description": "Optional. If set, it will contain the cert valid duration.",
          "type": "string"
        },
        "public_key": {
          "type": "string",
          "description": "PEM encoded public key to include in the signed certificate."
        },
        "access_token": {
          "description": "Optional. Access token to include in the signed certificate.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Ephemeral certificate creation request.",
      "id": "GenerateEphemeralCertRequest"
    },
    "AdvancedMachineFeatures": {
      "type": "object",
      "id": "AdvancedMachineFeatures",
      "properties": {
        "threadsPerCore": {
          "format": "int32",
          "description": "The number of threads per physical core.",
          "type": "integer"
        }
      },
      "description": "Specifies options for controlling advanced machine features."
    },
    "InstancesReencryptRequest": {
      "description": "Database Instance reencrypt request.",
      "properties": {
        "backupReencryptionConfig": {
          "$ref": "BackupReencryptionConfig",
          "description": "Configuration specific to backup re-encryption"
        }
      },
      "id": "InstancesReencryptRequest",
      "type": "object"
    },
    "Flag": {
      "description": "A flag resource.",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "description": "The type of the flag. Flags are typed to being `BOOLEAN`, `STRING`, `INTEGER` or `NONE`. `NONE` is used for flags that do not take a value, such as `skip_grant_tables`.",
          "enum": [
            "SQL_FLAG_TYPE_UNSPECIFIED",
            "BOOLEAN",
            "STRING",
            "INTEGER",
            "NONE",
            "MYSQL_TIMEZONE_OFFSET",
            "FLOAT",
            "REPEATED_STRING"
          ],
          "enumDescriptions": [
            "This is an unknown flag type.",
            "Boolean type flag.",
            "String type flag.",
            "Integer type flag.",
            "Flag type used for a server startup option.",
            "Type introduced specially for MySQL TimeZone offset. Accept a string value with the format [-12:59, 13:00].",
            "Float type flag.",
            "Comma-separated list of the strings in a SqlFlagType enum."
          ]
        },
        "minValue": {
          "description": "For `INTEGER` flags, the minimum allowed value.",
          "format": "int64",
          "type": "string"
        },
        "allowedStringValues": {
          "description": "For `STRING` flags, a list of strings that the value can be set to.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "maxValue": {
          "description": "For `INTEGER` flags, the maximum allowed value.",
          "type": "string",
          "format": "int64"
        },
        "requiresRestart": {
          "description": "Indicates whether changing this flag will trigger a database restart. Only applicable to Second Generation instances.",
          "type": "boolean"
        },
        "allowedIntValues": {
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          },
          "description": "Use this field if only certain integers are accepted. Can be combined with min_value and max_value to add additional values."
        },
        "name": {
          "description": "This is the name of the flag. Flag names always use underscores, not hyphens, for example: `max_allowed_packet`",
          "type": "string"
        },
        "inBeta": {
          "description": "Whether or not the flag is considered in beta.",
          "type": "boolean"
        },
        "appliesTo": {
          "description": "The database version this flag applies to. Can be MySQL instances: `MYSQL_8_0`, `MYSQL_8_0_18`, `MYSQL_8_0_26`, `MYSQL_5_7`, or `MYSQL_5_6`. PostgreSQL instances: `POSTGRES_9_6`, `POSTGRES_10`, `POSTGRES_11` or `POSTGRES_12`. SQL Server instances: `SQLSERVER_2017_STANDARD`, `SQLSERVER_2017_ENTERPRISE`, `SQLSERVER_2017_EXPRESS`, `SQLSERVER_2017_WEB`, `SQLSERVER_2019_STANDARD`, `SQLSERVER_2019_ENTERPRISE`, `SQLSERVER_2019_EXPRESS`, or `SQLSERVER_2019_WEB`. See [the complete list](/sql/docs/mysql/admin-api/rest/v1/SqlDatabaseVersion).",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "This is an unknown database version.",
              "The database version is MySQL 5.1.",
              "The database version is MySQL 5.5.",
              "The database version is MySQL 5.6.",
              "The database version is MySQL 5.7.",
              "The database version is SQL Server 2017 Standard.",
              "The database version is SQL Server 2017 Enterprise.",
              "The database version is SQL Server 2017 Express.",
              "The database version is SQL Server 2017 Web.",
              "The database version is PostgreSQL 9.6.",
              "The database version is PostgreSQL 10.",
              "The database version is PostgreSQL 11.",
              "The database version is PostgreSQL 12.",
              "The database version is PostgreSQL 13.",
              "The database version is PostgreSQL 14.",
              "The database version is PostgreSQL 15.",
              "The database version is MySQL 8.",
              "The database major version is MySQL 8.0 and the minor version is 18.",
              "The database major version is MySQL 8.0 and the minor version is 26.",
              "The database major version is MySQL 8.0 and the minor version is 27.",
              "The database major version is MySQL 8.0 and the minor version is 28.",
              "The database major version is MySQL 8.0 and the minor version is 29.",
              "The database major version is MySQL 8.0 and the minor version is 30.",
              "The database major version is MySQL 8.0 and the minor version is 31.",
              "The database major version is MySQL 8.0 and the minor version is 32.",
              "The database major version is MySQL 8.0 and the minor version is 33.",
              "The database major version is MySQL 8.0 and the minor version is 34.",
              "The database major version is MySQL 8.0 and the minor version is 35.",
              "The database major version is MySQL 8.0 and the minor version is 36.",
              "The database version is SQL Server 2019 Standard.",
              "The database version is SQL Server 2019 Enterprise.",
              "The database version is SQL Server 2019 Express.",
              "The database version is SQL Server 2019 Web.",
              "The database version is SQL Server 2022 Standard.",
              "The database version is SQL Server 2022 Enterprise.",
              "The database version is SQL Server 2022 Express.",
              "The database version is SQL Server 2022 Web."
            ],
            "enumDeprecated": [
              false,
              true,
              true,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              true,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false
            ],
            "type": "string",
            "enum": [
              "SQL_DATABASE_VERSION_UNSPECIFIED",
              "MYSQL_5_1",
              "MYSQL_5_5",
              "MYSQL_5_6",
              "MYSQL_5_7",
              "SQLSERVER_2017_STANDARD",
              "SQLSERVER_2017_ENTERPRISE",
              "SQLSERVER_2017_EXPRESS",
              "SQLSERVER_2017_WEB",
              "POSTGRES_9_6",
              "POSTGRES_10",
              "POSTGRES_11",
              "POSTGRES_12",
              "POSTGRES_13",
              "POSTGRES_14",
              "POSTGRES_15",
              "MYSQL_8_0",
              "MYSQL_8_0_18",
              "MYSQL_8_0_26",
              "MYSQL_8_0_27",
              "MYSQL_8_0_28",
              "MYSQL_8_0_29",
              "MYSQL_8_0_30",
              "MYSQL_8_0_31",
              "MYSQL_8_0_32",
              "MYSQL_8_0_33",
              "MYSQL_8_0_34",
              "MYSQL_8_0_35",
              "MYSQL_8_0_36",
              "SQLSERVER_2019_STANDARD",
              "SQLSERVER_2019_ENTERPRISE",
              "SQLSERVER_2019_EXPRESS",
              "SQLSERVER_2019_WEB",
              "SQLSERVER_2022_STANDARD",
              "SQLSERVER_2022_ENTERPRISE",
              "SQLSERVER_2022_EXPRESS",
              "SQLSERVER_2022_WEB"
            ]
          }
        },
        "kind": {
          "description": "This is always `sql#flag`.",
          "type": "string"
        }
      },
      "id": "Flag"
    },
    "Tier": {
      "id": "Tier",
      "properties": {
        "kind": {
          "description": "This is always `sql#tier`.",
          "type": "string"
        },
        "tier": {
          "type": "string",
          "description": "An identifier for the machine type, for example, `db-custom-1-3840`. For related information, see [Pricing](/sql/pricing)."
        },
        "RAM": {
          "format": "int64",
          "type": "string",
          "description": "The maximum RAM usage of this tier in bytes."
        },
        "DiskQuota": {
          "type": "string",
          "description": "The maximum disk size of this tier in bytes.",
          "format": "int64"
        },
        "region": {
          "description": "The applicable regions for this tier.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "A Google Cloud SQL service tier resource."
    },
    "MaintenanceWindow": {
      "description": "Maintenance window. This specifies when a Cloud SQL instance is restarted for system maintenance purposes.",
      "id": "MaintenanceWindow",
      "properties": {
        "hour": {
          "description": "hour of day - 0 to 23.",
          "format": "int32",
          "type": "integer"
        },
        "updateTrack": {
          "type": "string",
          "enum": [
            "SQL_UPDATE_TRACK_UNSPECIFIED",
            "canary",
            "stable"
          ],
          "enumDescriptions": [
            "This is an unknown maintenance timing preference.",
            "For instance update that requires a restart, this update track indicates your instance prefer to restart for new version early in maintenance window.",
            "For instance update that requires a restart, this update track indicates your instance prefer to let Cloud SQL choose the timing of restart (within its Maintenance window, if applicable)."
          ],
          "description": "Maintenance timing setting: `canary` (Earlier) or `stable` (Later). [Learn more](https://cloud.google.com/sql/docs/mysql/instance-settings#maintenance-timing-2ndgen)."
        },
        "kind": {
          "description": "This is always `sql#maintenanceWindow`.",
          "type": "string"
        },
        "day": {
          "type": "integer",
          "format": "int32",
          "description": "day of week (1-7), starting on Monday."
        }
      },
      "type": "object"
    },
    "ApiWarning": {
      "description": "An Admin API warning message.",
      "properties": {
        "region": {
          "description": "The region name for REGION_UNREACHABLE warning.",
          "type": "string"
        },
        "code": {
          "description": "Code to uniquely identify the warning type.",
          "type": "string",
          "enumDescriptions": [
            "An unknown or unset warning type from Cloud SQL API.",
            "Warning when one or more regions are not reachable. The returned result set may be incomplete.",
            "Warning when user provided maxResults parameter exceeds the limit. The returned result set may be incomplete."
          ],
          "enum": [
            "SQL_API_WARNING_CODE_UNSPECIFIED",
            "REGION_UNREACHABLE",
            "MAX_RESULTS_EXCEEDS_LIMIT"
          ]
        },
        "message": {
          "description": "The warning message.",
          "type": "string"
        }
      },
      "id": "ApiWarning",
      "type": "object"
    },
    "User": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the user in the Cloud SQL instance. Can be omitted for `update` because it is already specified in the URL."
        },
        "sqlserverUserDetails": {
          "$ref": "SqlServerUserDetails"
        },
        "password": {
          "description": "The password for the user.",
          "type": "string"
        },
        "instance": {
          "description": "The name of the Cloud SQL instance. This does not include the project ID. Can be omitted for `update` because it is already specified on the URL.",
          "type": "string"
        },
        "host": {
          "description": "Optional. The host from which the user can connect. For `insert` operations, host defaults to an empty string. For `update` operations, host is specified as part of the request URL. The host name cannot be updated after insertion. For a MySQL instance, it's required; for a PostgreSQL or SQL Server instance, it's optional.",
          "type": "string"
        },
        "dualPasswordType": {
          "enum": [
            "DUAL_PASSWORD_TYPE_UNSPECIFIED",
            "NO_MODIFY_DUAL_PASSWORD",
            "NO_DUAL_PASSWORD",
            "DUAL_PASSWORD"
          ],
          "description": "Dual password status for the user.",
          "enumDescriptions": [
            "The default value.",
            "Do not update the user's dual password status.",
            "No dual password usable for connecting using this user.",
            "Dual password usable for connecting using this user."
          ],
          "type": "string"
        },
        "kind": {
          "description": "This is always `sql#user`.",
          "type": "string"
        },
        "passwordPolicy": {
          "$ref": "UserPasswordValidationPolicy",
          "description": "User level password validation policy."
        },
        "etag": {
          "type": "string",
          "description": "This field is deprecated and will be removed from a future version of the API."
        },
        "project": {
          "description": "The project ID of the project containing the Cloud SQL database. The Google apps domain is prefixed if applicable. Can be omitted for `update` because it is already specified on the URL.",
          "type": "string"
        },
        "type": {
          "enum": [
            "BUILT_IN",
            "CLOUD_IAM_USER",
            "CLOUD_IAM_SERVICE_ACCOUNT"
          ],
          "type": "string",
          "description": "The user type. It determines the method to authenticate the user during login. The default is the database's built-in user type.",
          "enumDescriptions": [
            "The database's built-in user type.",
            "Cloud IAM user.",
            "Cloud IAM service account."
          ]
        }
      },
      "id": "User",
      "type": "object",
      "description": "A Cloud SQL user resource."
    },
    "LocationPreference": {
      "properties": {
        "followGaeApplication": {
          "deprecated": true,
          "description": "The App Engine application to follow, it must be in the same region as the Cloud SQL instance. WARNING: Changing this might restart the instance.",
          "type": "string"
        },
        "zone": {
          "description": "The preferred Compute Engine zone (for example: us-central1-a, us-central1-b, etc.). WARNING: Changing this might restart the instance.",
          "type": "string"
        },
        "kind": {
          "description": "This is always `sql#locationPreference`.",
          "type": "string"
        },
        "secondaryZone": {
          "type": "string",
          "description": "The preferred Compute Engine zone for the secondary/failover (for example: us-central1-a, us-central1-b, etc.). To disable this field, set it to 'no_secondary_zone'."
        }
      },
      "type": "object",
      "id": "LocationPreference",
      "description": "Preferred location. This specifies where a Cloud SQL instance is located. Note that if the preferred location is not available, the instance will be located as close as possible within the region. Only one location may be specified."
    },
    "OperationError": {
      "description": "Database instance operation error.",
      "type": "object",
      "id": "OperationError",
      "properties": {
        "code": {
          "type": "string",
          "description": "Identifies the specific error that occurred."
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#operationError`."
        },
        "message": {
          "description": "Additional information about the error encountered.",
          "type": "string"
        }
      }
    },
    "SqlOutOfDiskReport": {
      "description": "This message wraps up the information written by out-of-disk detection job.",
      "type": "object",
      "properties": {
        "sqlOutOfDiskState": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified state",
            "The instance has plenty space on data disk",
            "Data disk is almost used up. It is shutdown to prevent data corruption."
          ],
          "description": "This field represents the state generated by the proactive database wellness job for OutOfDisk issues. * Writers: * the proactive database wellness job for OOD. * Readers: * the proactive database wellness job",
          "enum": [
            "SQL_OUT_OF_DISK_STATE_UNSPECIFIED",
            "NORMAL",
            "SOFT_SHUTDOWN"
          ]
        },
        "sqlMinRecommendedIncreaseSizeGb": {
          "type": "integer",
          "format": "int32",
          "description": "The minimum recommended increase size in GigaBytes This field is consumed by the frontend * Writers: * the proactive database wellness job for OOD. * Readers:"
        }
      },
      "id": "SqlOutOfDiskReport"
    },
    "DatabaseInstance": {
      "description": "A Cloud SQL instance resource.",
      "type": "object",
      "properties": {
        "secondaryGceZone": {
          "description": "The Compute Engine zone that the failover instance is currently serving from for a regional instance. This value could be different from the zone that was specified when the instance was created if the instance has failed over to its secondary/failover zone.",
          "type": "string"
        },
        "serviceAccountEmailAddress": {
          "description": "The service account email address assigned to the instance.\\This property is read-only.",
          "type": "string"
        },
        "etag": {
          "description": "This field is deprecated and will be removed from a future version of the API. Use the `settings.settingsVersion` field instead.",
          "type": "string"
        },
        "satisfiesPzs": {
          "description": "The status indicating if instance satisfiesPzs. Reserved for future use.",
          "type": "boolean"
        },
        "region": {
          "type": "string",
          "description": "The geographical region. Can be: * `us-central` (`FIRST_GEN` instances only) * `us-central1` (`SECOND_GEN` instances only) * `asia-east1` or `europe-west1`. Defaults to `us-central` or `us-central1` depending on the instance type. The region cannot be changed after instance creation."
        },
        "instanceType": {
          "enumDescriptions": [
            "This is an unknown Cloud SQL instance type.",
            "A regular Cloud SQL instance that is not replicating from a primary instance.",
            "An instance running on the customer's premises that is not managed by Cloud SQL.",
            "A Cloud SQL instance acting as a read-replica."
          ],
          "type": "string",
          "enum": [
            "SQL_INSTANCE_TYPE_UNSPECIFIED",
            "CLOUD_SQL_INSTANCE",
            "ON_PREMISES_INSTANCE",
            "READ_REPLICA_INSTANCE"
          ],
          "description": "The instance type."
        },
        "maxDiskSize": {
          "deprecated": true,
          "type": "string",
          "description": "The maximum disk size of the instance in bytes.",
          "format": "int64"
        },
        "diskEncryptionStatus": {
          "description": "Disk encryption status specific to an instance.",
          "$ref": "DiskEncryptionStatus"
        },
        "databaseVersion": {
          "enumDescriptions": [
            "This is an unknown database version.",
            "The database version is MySQL 5.1.",
            "The database version is MySQL 5.5.",
            "The database version is MySQL 5.6.",
            "The database version is MySQL 5.7.",
            "The database version is SQL Server 2017 Standard.",
            "The database version is SQL Server 2017 Enterprise.",
            "The database version is SQL Server 2017 Express.",
            "The database version is SQL Server 2017 Web.",
            "The database version is PostgreSQL 9.6.",
            "The database version is PostgreSQL 10.",
            "The database version is PostgreSQL 11.",
            "The database version is PostgreSQL 12.",
            "The database version is PostgreSQL 13.",
            "The database version is PostgreSQL 14.",
            "The database version is PostgreSQL 15.",
            "The database version is MySQL 8.",
            "The database major version is MySQL 8.0 and the minor version is 18.",
            "The database major version is MySQL 8.0 and the minor version is 26.",
            "The database major version is MySQL 8.0 and the minor version is 27.",
            "The database major version is MySQL 8.0 and the minor version is 28.",
            "The database major version is MySQL 8.0 and the minor version is 29.",
            "The database major version is MySQL 8.0 and the minor version is 30.",
            "The database major version is MySQL 8.0 and the minor version is 31.",
            "The database major version is MySQL 8.0 and the minor version is 32.",
            "The database major version is MySQL 8.0 and the minor version is 33.",
            "The database major version is MySQL 8.0 and the minor version is 34.",
            "The database major version is MySQL 8.0 and the minor version is 35.",
            "The database major version is MySQL 8.0 and the minor version is 36.",
            "The database version is SQL Server 2019 Standard.",
            "The database version is SQL Server 2019 Enterprise.",
            "The database version is SQL Server 2019 Express.",
            "The database version is SQL Server 2019 Web.",
            "The database version is SQL Server 2022 Standard.",
            "The database version is SQL Server 2022 Enterprise.",
            "The database version is SQL Server 2022 Express.",
            "The database version is SQL Server 2022 Web."
          ],
          "description": "The database engine type and version. The `databaseVersion` field cannot be changed after instance creation.",
          "enumDeprecated": [
            false,
            true,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enum": [
            "SQL_DATABASE_VERSION_UNSPECIFIED",
            "MYSQL_5_1",
            "MYSQL_5_5",
            "MYSQL_5_6",
            "MYSQL_5_7",
            "SQLSERVER_2017_STANDARD",
            "SQLSERVER_2017_ENTERPRISE",
            "SQLSERVER_2017_EXPRESS",
            "SQLSERVER_2017_WEB",
            "POSTGRES_9_6",
            "POSTGRES_10",
            "POSTGRES_11",
            "POSTGRES_12",
            "POSTGRES_13",
            "POSTGRES_14",
            "POSTGRES_15",
            "MYSQL_8_0",
            "MYSQL_8_0_18",
            "MYSQL_8_0_26",
            "MYSQL_8_0_27",
            "MYSQL_8_0_28",
            "MYSQL_8_0_29",
            "MYSQL_8_0_30",
            "MYSQL_8_0_31",
            "MYSQL_8_0_32",
            "MYSQL_8_0_33",
            "MYSQL_8_0_34",
            "MYSQL_8_0_35",
            "MYSQL_8_0_36",
            "SQLSERVER_2019_STANDARD",
            "SQLSERVER_2019_ENTERPRISE",
            "SQLSERVER_2019_EXPRESS",
            "SQLSERVER_2019_WEB",
            "SQLSERVER_2022_STANDARD",
            "SQLSERVER_2022_ENTERPRISE",
            "SQLSERVER_2022_EXPRESS",
            "SQLSERVER_2022_WEB"
          ],
          "type": "string"
        },
        "dnsName": {
          "readOnly": true,
          "description": "Output only. The dns name of the instance.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#instance`."
        },
        "maintenanceVersion": {
          "type": "string",
          "description": "The current software version on the instance."
        },
        "currentDiskSize": {
          "format": "int64",
          "deprecated": true,
          "description": "The current disk usage of the instance in bytes. This property has been deprecated. Use the \"cloudsql.googleapis.com/database/disk/bytes_used\" metric in Cloud Monitoring API instead. Please see [this announcement](https://groups.google.com/d/msg/google-cloud-sql-announce/I_7-F9EBhT0/BtvFtdFeAgAJ) for details.",
          "type": "string"
        },
        "name": {
          "description": "Name of the Cloud SQL instance. This does not include the project ID.",
          "type": "string"
        },
        "ipAddresses": {
          "description": "The assigned IP addresses for the instance.",
          "type": "array",
          "items": {
            "$ref": "IpMapping"
          }
        },
        "onPremisesConfiguration": {
          "$ref": "OnPremisesConfiguration",
          "description": "Configuration specific to on-premises instances."
        },
        "masterInstanceName": {
          "description": "The name of the instance which will act as primary in the replication setup.",
          "type": "string"
        },
        "scheduledMaintenance": {
          "description": "The start time of any upcoming scheduled maintenance for this instance.",
          "$ref": "SqlScheduledMaintenance"
        },
        "diskEncryptionConfiguration": {
          "description": "Disk encryption configuration specific to an instance.",
          "$ref": "DiskEncryptionConfiguration"
        },
        "selfLink": {
          "type": "string",
          "description": "The URI of this resource."
        },
        "serverCaCert": {
          "description": "SSL configuration.",
          "$ref": "SslCert"
        },
        "rootPassword": {
          "type": "string",
          "description": "Initial root password. Use only on creation. You must set root passwords before you can connect to PostgreSQL instances."
        },
        "createTime": {
          "description": "Output only. The time when the instance was created in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "ipv6Address": {
          "description": "The IPv6 address assigned to the instance. (Deprecated) This property was applicable only to First Generation instances.",
          "type": "string",
          "deprecated": true
        },
        "suspensionReason": {
          "description": "If the instance state is SUSPENDED, the reason for the suspension.",
          "type": "array",
          "items": {
            "enum": [
              "SQL_SUSPENSION_REASON_UNSPECIFIED",
              "BILLING_ISSUE",
              "LEGAL_ISSUE",
              "OPERATIONAL_ISSUE",
              "KMS_KEY_ISSUE"
            ],
            "enumDescriptions": [
              "This is an unknown suspension reason.",
              "The instance is suspended due to billing issues (for example:, GCP account issue)",
              "The instance is suspended due to illegal content (for example:, child pornography, copyrighted material, etc.).",
              "The instance is causing operational issues (for example:, causing the database to crash).",
              "The KMS key used by the instance is either revoked or denied access to"
            ],
            "type": "string"
          }
        },
        "project": {
          "type": "string",
          "description": "The project ID of the project containing the Cloud SQL instance. The Google apps domain is prefixed if applicable."
        },
        "databaseInstalledVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Stores the current database version running on the instance including minor version such as `MYSQL_8_0_18`."
        },
        "replicaConfiguration": {
          "$ref": "ReplicaConfiguration",
          "description": "Configuration specific to failover replicas and read replicas."
        },
        "settings": {
          "description": "The user settings.",
          "$ref": "Settings"
        },
        "backendType": {
          "enum": [
            "SQL_BACKEND_TYPE_UNSPECIFIED",
            "FIRST_GEN",
            "SECOND_GEN",
            "EXTERNAL"
          ],
          "type": "string",
          "enumDescriptions": [
            "This is an unknown backend type for instance.",
            "V1 speckle instance.",
            "V2 speckle instance.",
            "On premises instance."
          ],
          "description": "The backend type. `SECOND_GEN`: Cloud SQL database instance. `EXTERNAL`: A database server that is not managed by Google. This property is read-only; use the `tier` property in the `settings` object to determine the database type.",
          "enumDeprecated": [
            false,
            true,
            false,
            false
          ]
        },
        "failoverReplica": {
          "properties": {
            "available": {
              "description": "The availability status of the failover replica. A false status indicates that the failover replica is out of sync. The primary instance can only failover to the failover replica when the status is true.",
              "type": "boolean"
            },
            "name": {
              "description": "The name of the failover replica. If specified at instance creation, a failover replica is created for the instance. The name doesn't include the project ID.",
              "type": "string"
            }
          },
          "type": "object",
          "description": "The name and status of the failover replica."
        },
        "outOfDiskReport": {
          "$ref": "SqlOutOfDiskReport",
          "description": "This field represents the report generated by the proactive database wellness job for OutOfDisk issues. * Writers: * the proactive database wellness job for OOD. * Readers: * the proactive database wellness job"
        },
        "primaryDnsName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The dns name of the primary instance in a replication group."
        },
        "gceZone": {
          "type": "string",
          "description": "The Compute Engine zone that the instance is currently serving from. This value could be different from the zone that was specified when the instance was created if the instance has failed over to its secondary zone. WARNING: Changing this might restart the instance."
        },
        "state": {
          "enum": [
            "SQL_INSTANCE_STATE_UNSPECIFIED",
            "RUNNABLE",
            "SUSPENDED",
            "PENDING_DELETE",
            "PENDING_CREATE",
            "MAINTENANCE",
            "FAILED",
            "ONLINE_MAINTENANCE"
          ],
          "type": "string",
          "enumDescriptions": [
            "The state of the instance is unknown.",
            "The instance is running, or has been stopped by owner.",
            "The instance is not available, for example due to problems with billing.",
            "The instance is being deleted.",
            "The instance is being created.",
            "The instance is down for maintenance.",
            "The creation of the instance failed or a fatal error occurred during maintenance.",
            "Deprecated"
          ],
          "description": "The current serving state of the Cloud SQL instance.",
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true
          ]
        },
        "availableMaintenanceVersions": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. List all maintenance versions applicable on the instance"
        },
        "pscServiceAttachmentLink": {
          "description": "Output only. The link to service attachment of PSC instance.",
          "type": "string",
          "readOnly": true
        },
        "connectionName": {
          "description": "Connection name of the Cloud SQL instance used in connection strings.",
          "type": "string"
        },
        "replicaNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The replicas of the instance."
        }
      },
      "id": "DatabaseInstance"
    },
    "SqlScheduledMaintenance": {
      "id": "SqlScheduledMaintenance",
      "properties": {
        "canReschedule": {
          "type": "boolean",
          "description": "If the scheduled maintenance can be rescheduled."
        },
        "scheduleDeadlineTime": {
          "type": "string",
          "description": "Maintenance cannot be rescheduled to start beyond this deadline.",
          "format": "google-datetime"
        },
        "canDefer": {
          "type": "boolean",
          "deprecated": true
        },
        "startTime": {
          "description": "The start time of any upcoming scheduled maintenance for this instance.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "description": "Any scheduled maintenance for this instance."
    },
    "SqlInstancesGetLatestRecoveryTimeResponse": {
      "properties": {
        "kind": {
          "description": "This is always `sql#getLatestRecoveryTime`.",
          "type": "string"
        },
        "latestRecoveryTime": {
          "format": "google-datetime",
          "description": "Timestamp, identifies the latest recovery time of the source instance.",
          "type": "string"
        }
      },
      "description": "Instance get latest recovery time response.",
      "id": "SqlInstancesGetLatestRecoveryTimeResponse",
      "type": "object"
    },
    "MySqlSyncConfig": {
      "id": "MySqlSyncConfig",
      "properties": {
        "initialSyncFlags": {
          "type": "array",
          "description": "Flags to use for the initial dump.",
          "items": {
            "$ref": "SyncFlags"
          }
        }
      },
      "type": "object",
      "description": "MySQL-specific external server sync settings."
    },
    "SslCertsInsertResponse": {
      "properties": {
        "operation": {
          "$ref": "Operation",
          "description": "The operation to track the ssl certs insert request."
        },
        "kind": {
          "description": "This is always `sql#sslCertsInsert`.",
          "type": "string"
        },
        "clientCert": {
          "$ref": "SslCertDetail",
          "description": "The new client certificate and private key."
        },
        "serverCaCert": {
          "description": "The server Certificate Authority's certificate. If this is missing you can force a new one to be generated by calling resetSslConfig method on instances resource.",
          "$ref": "SslCert"
        }
      },
      "id": "SslCertsInsertResponse",
      "description": "SslCert insert response.",
      "type": "object"
    },
    "SslCertsCreateEphemeralRequest": {
      "id": "SslCertsCreateEphemeralRequest",
      "properties": {
        "public_key": {
          "description": "PEM encoded public key to include in the signed certificate.",
          "type": "string"
        },
        "access_token": {
          "type": "string",
          "description": "Access token to include in the signed certificate."
        }
      },
      "type": "object",
      "description": "SslCerts create ephemeral certificate request."
    },
    "DemoteMasterConfiguration": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "This is always `sql#demoteMasterConfiguration`."
        },
        "mysqlReplicaConfiguration": {
          "description": "MySQL specific configuration when replicating from a MySQL on-premises primary instance. Replication configuration information such as the username, password, certificates, and keys are not stored in the instance metadata. The configuration information is used only to set up the replication connection and is stored by MySQL in a file named `master.info` in the data directory.",
          "$ref": "DemoteMasterMySqlReplicaConfiguration"
        }
      },
      "description": "Read-replica configuration for connecting to the on-premises primary instance.",
      "type": "object",
      "id": "DemoteMasterConfiguration"
    },
    "BackupRun": {
      "properties": {
        "id": {
          "format": "int64",
          "description": "The identifier for this backup run. Unique only for a specific Cloud SQL instance.",
          "type": "string"
        },
        "instance": {
          "description": "Name of the database instance.",
          "type": "string"
        },
        "timeZone": {
          "description": "Backup time zone to prevent restores to an instance with a different time zone. Now relevant only for SQL Server.",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "Location of the backups."
        },
        "enqueuedTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the run was enqueued in UTC timezone in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`."
        },
        "backupKind": {
          "description": "Specifies the kind of backup, PHYSICAL or DEFAULT_SNAPSHOT.",
          "type": "string",
          "enumDescriptions": [
            "This is an unknown BackupKind.",
            "The snapshot based backups",
            "Physical backups"
          ],
          "enum": [
            "SQL_BACKUP_KIND_UNSPECIFIED",
            "SNAPSHOT",
            "PHYSICAL"
          ]
        },
        "selfLink": {
          "type": "string",
          "description": "The URI of this resource."
        },
        "diskEncryptionStatus": {
          "description": "Encryption status specific to a backup.",
          "$ref": "DiskEncryptionStatus"
        },
        "diskEncryptionConfiguration": {
          "$ref": "DiskEncryptionConfiguration",
          "description": "Encryption configuration specific to a backup."
        },
        "startTime": {
          "description": "The time the backup operation actually started in UTC timezone in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "type": "string",
          "format": "google-datetime"
        },
        "description": {
          "description": "The description of this run, only applicable to on-demand backups.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#backupRun`."
        },
        "error": {
          "$ref": "OperationError",
          "description": "Information about why the backup operation failed. This is only present if the run has the FAILED status."
        },
        "status": {
          "description": "The status of this run.",
          "enum": [
            "SQL_BACKUP_RUN_STATUS_UNSPECIFIED",
            "ENQUEUED",
            "OVERDUE",
            "RUNNING",
            "FAILED",
            "SUCCESSFUL",
            "SKIPPED",
            "DELETION_PENDING",
            "DELETION_FAILED",
            "DELETED"
          ],
          "type": "string",
          "enumDescriptions": [
            "The status of the run is unknown.",
            "The backup operation was enqueued.",
            "The backup is overdue across a given backup window. Indicates a problem. Example: Long-running operation in progress during the whole window.",
            "The backup is in progress.",
            "The backup failed.",
            "The backup was successful.",
            "The backup was skipped (without problems) for a given backup window. Example: Instance was idle.",
            "The backup is about to be deleted.",
            "The backup deletion failed.",
            "The backup has been deleted."
          ]
        },
        "endTime": {
          "description": "The time the backup operation completed in UTC timezone in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "format": "google-datetime",
          "type": "string"
        },
        "windowStartTime": {
          "description": "The start time of the backup window during which this the backup was attempted in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "format": "google-datetime",
          "type": "string"
        },
        "type": {
          "description": "The type of this run; can be either \"AUTOMATED\" or \"ON_DEMAND\" or \"FINAL\". This field defaults to \"ON_DEMAND\" and is ignored, when specified for insert requests.",
          "enumDescriptions": [
            "This is an unknown BackupRun type.",
            "The backup schedule automatically triggers a backup.",
            "The user manually triggers a backup."
          ],
          "enum": [
            "SQL_BACKUP_RUN_TYPE_UNSPECIFIED",
            "AUTOMATED",
            "ON_DEMAND"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "BackupRun",
      "description": "A BackupRun resource."
    },
    "ImportContext": {
      "type": "object",
      "description": "Database instance import context.",
      "properties": {
        "fileType": {
          "type": "string",
          "enum": [
            "SQL_FILE_TYPE_UNSPECIFIED",
            "SQL",
            "CSV",
            "BAK"
          ],
          "description": "The file type for the specified uri.\\`SQL`: The file contains SQL statements. \\`CSV`: The file contains CSV data.",
          "enumDescriptions": [
            "Unknown file type.",
            "File containing SQL statements.",
            "File in CSV format.",
            ""
          ]
        },
        "uri": {
          "type": "string",
          "description": "Path to the import file in Cloud Storage, in the form `gs://bucketName/fileName`. Compressed gzip files (.gz) are supported when `fileType` is `SQL`. The instance must have write permissions to the bucket and read access to the file."
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#importContext`."
        },
        "database": {
          "description": "The target database for the import. If `fileType` is `SQL`, this field is required only if the import file does not specify a database, and is overridden by any database specification in the import file. If `fileType` is `CSV`, one database must be specified.",
          "type": "string"
        },
        "importUser": {
          "type": "string",
          "description": "The PostgreSQL user for this import operation. PostgreSQL instances only."
        },
        "bakImportOptions": {
          "type": "object",
          "properties": {
            "striped": {
              "description": "Whether or not the backup set being restored is striped. Applies only to Cloud SQL for SQL Server.",
              "type": "boolean"
            },
            "stopAtMark": {
              "description": "Optional. StopAtMark keyword for transaction log import, Applies to Cloud SQL for SQL Server only",
              "type": "string"
            },
            "noRecovery": {
              "description": "Whether or not the backup importing will restore database with NORECOVERY option Applies only to Cloud SQL for SQL Server.",
              "type": "boolean"
            },
            "stopAt": {
              "format": "google-datetime",
              "description": "Optional. StopAt keyword for transaction log import, Applies to Cloud SQL for SQL Server only",
              "type": "string"
            },
            "bakType": {
              "description": "Type of the bak content, FULL or DIFF",
              "enum": [
                "BAK_TYPE_UNSPECIFIED",
                "FULL",
                "DIFF",
                "TLOG"
              ],
              "type": "string",
              "enumDescriptions": [
                "Default type.",
                "Full backup.",
                "Differential backup.",
                "Transaction Log backup"
              ]
            },
            "recoveryOnly": {
              "type": "boolean",
              "description": "Whether or not the backup importing request will just bring database online without downloading Bak content only one of \"no_recovery\" and \"recovery_only\" can be true otherwise error will return. Applies only to Cloud SQL for SQL Server."
            },
            "encryptionOptions": {
              "properties": {
                "pvkPassword": {
                  "description": "Password that encrypts the private key",
                  "type": "string"
                },
                "pvkPath": {
                  "description": "Path to the Certificate Private Key (.pvk) in Cloud Storage, in the form `gs://bucketName/fileName`. The instance must have write permissions to the bucket and read access to the file.",
                  "type": "string"
                },
                "certPath": {
                  "type": "string",
                  "description": "Path to the Certificate (.cer) in Cloud Storage, in the form `gs://bucketName/fileName`. The instance must have write permissions to the bucket and read access to the file."
                }
              },
              "type": "object"
            }
          },
          "description": "Import parameters specific to SQL Server .BAK files"
        },
        "csvImportOptions": {
          "properties": {
            "escapeCharacter": {
              "type": "string",
              "description": "Specifies the character that should appear before a data character that needs to be escaped."
            },
            "columns": {
              "type": "array",
              "description": "The columns to which CSV data is imported. If not specified, all columns of the database table are loaded with CSV data.",
              "items": {
                "type": "string"
              }
            },
            "table": {
              "type": "string",
              "description": "The table to which CSV data is imported."
            },
            "linesTerminatedBy": {
              "description": "This is used to separate lines. If a line does not contain all fields, the rest of the columns are set to their default values.",
              "type": "string"
            },
            "fieldsTerminatedBy": {
              "type": "string",
              "description": "Specifies the character that separates columns within each row (line) of the file."
            },
            "quoteCharacter": {
              "type": "string",
              "description": "Specifies the quoting character to be used when a data value is quoted."
            }
          },
          "description": "Options for importing data as CSV.",
          "type": "object"
        }
      },
      "id": "ImportContext"
    },
    "Settings": {
      "description": "Database instance settings.",
      "type": "object",
      "id": "Settings",
      "properties": {
        "denyMaintenancePeriods": {
          "type": "array",
          "description": "Deny maintenance periods",
          "items": {
            "$ref": "DenyMaintenancePeriod"
          }
        },
        "insightsConfig": {
          "description": "Insights configuration, for now relevant only for Postgres.",
          "$ref": "InsightsConfig"
        },
        "storageAutoResizeLimit": {
          "type": "string",
          "format": "int64",
          "description": "The maximum size to which storage capacity can be automatically increased. The default value is 0, which specifies that there is no limit."
        },
        "activationPolicy": {
          "enumDeprecated": [
            false,
            false,
            false,
            true
          ],
          "enumDescriptions": [
            "Unknown activation plan.",
            "The instance is always up and running.",
            "The instance never starts.",
            "The instance starts upon receiving requests."
          ],
          "enum": [
            "SQL_ACTIVATION_POLICY_UNSPECIFIED",
            "ALWAYS",
            "NEVER",
            "ON_DEMAND"
          ],
          "type": "string",
          "description": "The activation policy specifies when the instance is activated; it is applicable only when the instance state is RUNNABLE. Valid values: * `ALWAYS`: The instance is on, and remains so even in the absence of connection requests. * `NEVER`: The instance is off; it is not activated, even if a connection request arrives."
        },
        "authorizedGaeApplications": {
          "description": "The App Engine app IDs that can access this instance. (Deprecated) Applied to First Generation instances only.",
          "items": {
            "type": "string"
          },
          "deprecated": true,
          "type": "array"
        },
        "connectorEnforcement": {
          "enum": [
            "CONNECTOR_ENFORCEMENT_UNSPECIFIED",
            "NOT_REQUIRED",
            "REQUIRED"
          ],
          "type": "string",
          "description": "Specifies if connections must use Cloud SQL connectors. Option values include the following: `NOT_REQUIRED` (Cloud SQL instances can be connected without Cloud SQL Connectors) and `REQUIRED` (Only allow connections that use Cloud SQL Connectors). Note that using REQUIRED disables all existing authorized networks. If this field is not specified when creating a new instance, NOT_REQUIRED is used. If this field is not specified when patching or updating an existing instance, it is left unchanged in the instance.",
          "enumDescriptions": [
            "The requirement for Cloud SQL connectors is unknown.",
            "Do not require Cloud SQL connectors.",
            "Require all connections to use Cloud SQL connectors, including the Cloud SQL Auth Proxy and Cloud SQL Java, Python, and Go connectors. Note: This disables all existing authorized networks."
          ]
        },
        "collation": {
          "description": "The name of server Instance collation.",
          "type": "string"
        },
        "passwordValidationPolicy": {
          "$ref": "PasswordValidationPolicy",
          "description": "The local user password validation policy of the instance."
        },
        "kind": {
          "description": "This is always `sql#settings`.",
          "type": "string"
        },
        "edition": {
          "enumDescriptions": [
            "The instance did not specify the edition.",
            "The instance is an enterprise edition.",
            "The instance is an Enterprise Plus edition."
          ],
          "description": "Optional. The edition of the instance.",
          "type": "string",
          "enum": [
            "EDITION_UNSPECIFIED",
            "ENTERPRISE",
            "ENTERPRISE_PLUS"
          ]
        },
        "databaseFlags": {
          "description": "The database flags passed to the instance at startup.",
          "items": {
            "$ref": "DatabaseFlags"
          },
          "type": "array"
        },
        "databaseReplicationEnabled": {
          "type": "boolean",
          "description": "Configuration specific to read replica instances. Indicates whether replication is enabled or not. WARNING: Changing this restarts the instance."
        },
        "settingsVersion": {
          "type": "string",
          "format": "int64",
          "description": "The version of instance settings. This is a required field for update method to make sure concurrent updates are handled properly. During update, use the most recent settingsVersion value for this instance and do not try to update this value."
        },
        "dataCacheConfig": {
          "description": "Configuration for data cache.",
          "$ref": "DataCacheConfig"
        },
        "dataDiskSizeGb": {
          "format": "int64",
          "type": "string",
          "description": "The size of data disk, in GB. The data disk size minimum is 10GB."
        },
        "availabilityType": {
          "description": "Availability type. Potential values: * `ZONAL`: The instance serves data from only one zone. Outages in that zone affect data accessibility. * `REGIONAL`: The instance can serve data from more than one zone in a region (it is highly available)./ For more information, see [Overview of the High Availability Configuration](https://cloud.google.com/sql/docs/mysql/high-availability).",
          "type": "string",
          "enumDescriptions": [
            "This is an unknown Availability type.",
            "Zonal available instance.",
            "Regional available instance."
          ],
          "enum": [
            "SQL_AVAILABILITY_TYPE_UNSPECIFIED",
            "ZONAL",
            "REGIONAL"
          ]
        },
        "deletionProtectionEnabled": {
          "description": "Configuration to protect against accidental instance deletion.",
          "type": "boolean"
        },
        "locationPreference": {
          "description": "The location preference settings. This allows the instance to be located as near as possible to either an App Engine app or Compute Engine zone for better performance. App Engine co-location was only applicable to First Generation instances.",
          "$ref": "LocationPreference"
        },
        "dataDiskType": {
          "enumDeprecated": [
            false,
            false,
            false,
            true
          ],
          "description": "The type of data disk: `PD_SSD` (default) or `PD_HDD`. Not used for First Generation instances.",
          "enumDescriptions": [
            "This is an unknown data disk type.",
            "An SSD data disk.",
            "An HDD data disk.",
            "This field is deprecated and will be removed from a future version of the API."
          ],
          "type": "string",
          "enum": [
            "SQL_DATA_DISK_TYPE_UNSPECIFIED",
            "PD_SSD",
            "PD_HDD",
            "OBSOLETE_LOCAL_SSD"
          ]
        },
        "activeDirectoryConfig": {
          "description": "Active Directory configuration, relevant only for Cloud SQL for SQL Server.",
          "$ref": "SqlActiveDirectoryConfig"
        },
        "crashSafeReplicationEnabled": {
          "type": "boolean",
          "deprecated": true,
          "description": "Configuration specific to read replica instances. Indicates whether database flags for crash-safe replication are enabled. This property was only applicable to First Generation instances."
        },
        "timeZone": {
          "description": "Server timezone, relevant only for Cloud SQL for SQL Server.",
          "type": "string"
        },
        "advancedMachineFeatures": {
          "$ref": "AdvancedMachineFeatures",
          "description": "Specifies advance machine configuration for the instance relevant only for SQL Server."
        },
        "ipConfiguration": {
          "$ref": "IpConfiguration",
          "description": "The settings for IP Management. This allows to enable or disable the instance IP and manage which external networks can connect to the instance. The IPv4 address cannot be disabled for Second Generation instances."
        },
        "sqlServerAuditConfig": {
          "description": "SQL Server specific audit configuration.",
          "$ref": "SqlServerAuditConfig"
        },
        "maintenanceWindow": {
          "$ref": "MaintenanceWindow",
          "description": "The maintenance window for this instance. This specifies when the instance can be restarted for maintenance purposes."
        },
        "storageAutoResize": {
          "type": "boolean",
          "description": "Configuration to increase storage size automatically. The default value is true."
        },
        "backupConfiguration": {
          "description": "The daily backup configuration for the instance.",
          "$ref": "BackupConfiguration"
        },
        "userLabels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "User-provided labels, represented as a dictionary where each label is a single key value pair."
        },
        "replicationType": {
          "enumDescriptions": [
            "This is an unknown replication type for a Cloud SQL instance.",
            "The synchronous replication mode for First Generation instances. It is the default value.",
            "The asynchronous replication mode for First Generation instances. It provides a slight performance gain, but if an outage occurs while this option is set to asynchronous, you can lose up to a few seconds of updates to your data."
          ],
          "type": "string",
          "enum": [
            "SQL_REPLICATION_TYPE_UNSPECIFIED",
            "SYNCHRONOUS",
            "ASYNCHRONOUS"
          ],
          "deprecated": true,
          "description": "The type of replication this instance uses. This can be either `ASYNCHRONOUS` or `SYNCHRONOUS`. (Deprecated) This property was only applicable to First Generation instances."
        },
        "pricingPlan": {
          "enumDescriptions": [
            "This is an unknown pricing plan for this instance.",
            "The instance is billed at a monthly flat rate.",
            "The instance is billed per usage."
          ],
          "enum": [
            "SQL_PRICING_PLAN_UNSPECIFIED",
            "PACKAGE",
            "PER_USE"
          ],
          "type": "string",
          "description": "The pricing plan for this instance. This can be either `PER_USE` or `PACKAGE`. Only `PER_USE` is supported for Second Generation instances."
        },
        "tier": {
          "type": "string",
          "description": "The tier (or machine type) for this instance, for example `db-custom-1-3840`. WARNING: Changing this restarts the instance."
        }
      }
    },
    "SqlInstancesRescheduleMaintenanceRequestBody": {
      "type": "object",
      "id": "SqlInstancesRescheduleMaintenanceRequestBody",
      "properties": {
        "reschedule": {
          "description": "Required. The type of the reschedule the user wants.",
          "$ref": "Reschedule"
        }
      },
      "description": "Reschedule options for maintenance windows."
    },
    "BackupReencryptionConfig": {
      "description": "Backup Reencryption Config",
      "id": "BackupReencryptionConfig",
      "properties": {
        "backupType": {
          "type": "string",
          "enumDescriptions": [
            "Unknown backup type, will be defaulted to AUTOMATIC backup type",
            "Reencrypt automatic backups",
            "Reencrypt on-demand backups"
          ],
          "enum": [
            "BACKUP_TYPE_UNSPECIFIED",
            "AUTOMATED",
            "ON_DEMAND"
          ],
          "description": "Type of backups users want to re-encrypt."
        },
        "backupLimit": {
          "type": "integer",
          "format": "int32",
          "description": "Backup re-encryption limit"
        }
      },
      "type": "object"
    },
    "Empty": {
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty"
    },
    "SqlServerDatabaseDetails": {
      "properties": {
        "compatibilityLevel": {
          "format": "int32",
          "description": "The version of SQL Server with which the database is to be made compatible",
          "type": "integer"
        },
        "recoveryModel": {
          "description": "The recovery model of a SQL Server database",
          "type": "string"
        }
      },
      "type": "object",
      "id": "SqlServerDatabaseDetails",
      "description": "Represents a Sql Server database on the Cloud SQL instance."
    },
    "MySqlReplicaConfiguration": {
      "id": "MySqlReplicaConfiguration",
      "properties": {
        "kind": {
          "description": "This is always `sql#mysqlReplicaConfiguration`.",
          "type": "string"
        },
        "verifyServerCertificate": {
          "description": "Whether or not to check the primary instance's Common Name value in the certificate that it sends during the SSL handshake.",
          "type": "boolean"
        },
        "caCertificate": {
          "description": "PEM representation of the trusted CA's x509 certificate.",
          "type": "string"
        },
        "connectRetryInterval": {
          "type": "integer",
          "format": "int32",
          "description": "Seconds to wait between connect retries. MySQL's default is 60 seconds."
        },
        "dumpFilePath": {
          "type": "string",
          "description": "Path to a SQL dump file in Google Cloud Storage from which the replica instance is to be created. The URI is in the form gs://bucketName/fileName. Compressed gzip files (.gz) are also supported. Dumps have the binlog co-ordinates from which replication begins. This can be accomplished by setting --master-data to 1 when using mysqldump."
        },
        "sslCipher": {
          "type": "string",
          "description": "A list of permissible ciphers to use for SSL encryption."
        },
        "clientCertificate": {
          "description": "PEM representation of the replica's x509 certificate.",
          "type": "string"
        },
        "clientKey": {
          "type": "string",
          "description": "PEM representation of the replica's private key. The corresponsing public key is encoded in the client's certificate."
        },
        "password": {
          "type": "string",
          "description": "The password for the replication connection."
        },
        "username": {
          "type": "string",
          "description": "The username for the replication connection."
        },
        "masterHeartbeatPeriod": {
          "type": "string",
[...]
