{
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "fullyEncodeReservedExpansion": true,
  "canonicalName": "SQL Admin",
  "baseUrl": "https://sqladmin.googleapis.com/",
  "ownerDomain": "google.com",
  "documentationLink": "https://developers.google.com/cloud-sql/",
  "basePath": "",
  "discoveryVersion": "v1",
  "description": "API for Cloud SQL database instance management",
  "revision": "20211023",
  "servicePath": "",
  "id": "sqladmin:v1beta4",
  "version": "v1beta4",
  "title": "Cloud SQL Admin API",
  "name": "sqladmin",
  "rootUrl": "https://sqladmin.googleapis.com/",
  "schemas": {
    "InstancesExportRequest": {
      "id": "InstancesExportRequest",
      "description": "Database instance export request.",
      "properties": {
        "exportContext": {
          "$ref": "ExportContext",
          "description": "Contains details about the export operation."
        }
      },
      "type": "object"
    },
    "InsightsConfig": {
      "description": "Insights configuration. This specifies when Cloud SQL Insights feature is enabled and optional configuration.",
      "type": "object",
      "id": "InsightsConfig",
      "properties": {
        "recordApplicationTags": {
          "description": "Whether Query Insights will record application tags from query when enabled.",
          "type": "boolean"
        },
        "recordClientAddress": {
          "type": "boolean",
          "description": "Whether Query Insights will record client address when enabled."
        },
        "queryInsightsEnabled": {
          "type": "boolean",
          "description": "Whether Query Insights feature is enabled."
        },
        "queryPlansPerMinute": {
          "description": "Number of query execution plans captured by Insights per minute for all queries combined. Default is 5.",
          "format": "int32",
          "type": "integer"
        },
        "queryStringLength": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum query length stored in bytes. Default value: 1024 bytes. Range: 256-4500 bytes. Query length more than this field value will be truncated to this value. When unset, query length will be the default value. Changing query length will restart the database."
        }
      }
    },
    "AclEntry": {
      "type": "object",
      "id": "AclEntry",
      "description": "An entry for an Access Control list.",
      "properties": {
        "kind": {
          "description": "This is always **sql#aclEntry**.",
          "type": "string"
        },
        "expirationTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time when this access control entry expires in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example **2012-11-15T16:19:00.094Z**."
        },
        "name": {
          "type": "string",
          "description": "Optional. A label to identify this entry."
        },
        "value": {
          "type": "string",
          "description": "The allowlisted value for the access control list."
        }
      }
    },
    "ReplicaConfiguration": {
      "properties": {
        "failoverTarget": {
          "type": "boolean",
          "description": "Specifies if the replica is the failover target. If the field is set to **true** the replica will be designated as a failover replica. In case the primary instance fails, the replica instance will be promoted as the new primary instance. Only one replica can be specified as failover target, and the replica has to be in different zone with the primary instance."
        },
        "kind": {
          "type": "string",
          "description": "This is always **sql#replicaConfiguration**."
        },
        "mysqlReplicaConfiguration": {
          "description": "MySQL specific configuration when replicating from a MySQL on-premises primary instance. Replication configuration information such as the username, password, certificates, and keys are not stored in the instance metadata. The configuration information is used only to set up the replication connection and is stored by MySQL in a file named **master.info** in the data directory.",
          "$ref": "MySqlReplicaConfiguration"
        }
      },
      "type": "object",
      "description": "Read-replica configuration for connecting to the primary instance.",
      "id": "ReplicaConfiguration"
    },
    "DemoteMasterConfiguration": {
      "description": "Read-replica configuration for connecting to the on-premises primary instance.",
      "type": "object",
      "id": "DemoteMasterConfiguration",
      "properties": {
        "mysqlReplicaConfiguration": {
          "description": "MySQL specific configuration when replicating from a MySQL on-premises primary instance. Replication configuration information such as the username, password, certificates, and keys are not stored in the instance metadata. The configuration information is used only to set up the replication connection and is stored by MySQL in a file named **master.info** in the data directory.",
          "$ref": "DemoteMasterMySqlReplicaConfiguration"
        },
        "kind": {
          "description": "This is always **sql#demoteMasterConfiguration**.",
          "type": "string"
        }
      }
    },
    "SqlOutOfDiskReport": {
      "description": "This message wraps up the information written by out-of-disk detection job.",
      "id": "SqlOutOfDiskReport",
      "properties": {
        "sqlOutOfDiskState": {
          "enumDescriptions": [
            "Unspecified state",
            "The instance has plenty space on data disk",
            "Data disk is almost used up. It is shutdown to prevent data corruption."
          ],
          "type": "string",
          "enum": [
            "SQL_OUT_OF_DISK_STATE_UNSPECIFIED",
            "NORMAL",
            "SOFT_SHUTDOWN"
          ],
          "description": "This field represents the state generated by the proactive database wellness job for OutOfDisk issues. * Writers: * the proactive database wellness job for OOD. * Readers: * the proactive database wellness job"
        },
        "sqlMinRecommendedIncreaseSizeGb": {
          "description": "The minimum recommended increase size in GigaBytes This field is consumed by the frontend * Writers: * the proactive database wellness job for OOD. * Readers:",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "SqlServerUserDetails": {
      "type": "object",
      "description": "Represents a Sql Server user on the Cloud SQL instance.",
      "properties": {
        "disabled": {
          "type": "boolean",
          "description": "If the user has been disabled"
        },
        "serverRoles": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The server roles for this user"
        }
      },
      "id": "SqlServerUserDetails"
    },
    "InstanceReference": {
      "properties": {
        "project": {
          "description": "The project ID of the Cloud SQL instance being referenced. The default is the same project ID as the instance references it.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the Cloud SQL instance being referenced. This does not include the project ID."
        },
        "region": {
          "type": "string",
          "description": "The region of the Cloud SQL instance being referenced."
        }
      },
      "description": "Reference to another Cloud SQL instance.",
      "id": "InstanceReference",
      "type": "object"
    },
    "GenerateEphemeralCertResponse": {
      "id": "GenerateEphemeralCertResponse",
      "properties": {
        "ephemeralCert": {
          "description": "Generated cert",
          "$ref": "SslCert"
        }
      },
      "type": "object",
      "description": "Ephemeral certificate creation request."
    },
    "SqlInstancesStartExternalSyncRequest": {
      "id": "SqlInstancesStartExternalSyncRequest",
      "properties": {
        "skipVerification": {
          "type": "boolean",
          "description": "Whether to skip the verification step (VESS)."
        },
        "mysqlSyncConfig": {
          "description": "MySQL-specific settings for start external sync.",
          "$ref": "MySqlSyncConfig"
        },
        "syncMode": {
          "description": "External sync mode.",
          "enum": [
            "EXTERNAL_SYNC_MODE_UNSPECIFIED",
            "ONLINE",
            "OFFLINE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown external sync mode, will be defaulted to ONLINE mode",
            "Online external sync will set up replication after initial data external sync",
            "Offline external sync only dumps and loads a one-time snapshot of the primary instance's data"
          ]
        }
      },
      "type": "object"
    },
    "SqlInstancesVerifyExternalSyncSettingsResponse": {
      "properties": {
        "warnings": {
          "description": "List of migration warnings.",
          "type": "array",
          "items": {
            "$ref": "SqlExternalSyncSettingError"
          }
        },
        "errors": {
          "type": "array",
          "description": "List of migration violations.",
          "items": {
            "$ref": "SqlExternalSyncSettingError"
          }
        },
        "kind": {
          "description": "This is always **sql#migrationSettingErrorList**.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "SqlInstancesVerifyExternalSyncSettingsResponse",
      "description": "Instance verify external sync settings response."
    },
    "OperationsListResponse": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "This is always **sql#operationsList**.",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results."
        },
        "items": {
          "type": "array",
          "description": "List of operation resources.",
          "items": {
            "$ref": "Operation"
          }
        }
      },
      "id": "OperationsListResponse",
      "description": "Operations list response."
    },
    "MySqlReplicaConfiguration": {
      "description": "Read-replica configuration specific to MySQL databases.",
      "type": "object",
      "id": "MySqlReplicaConfiguration",
      "properties": {
        "verifyServerCertificate": {
          "type": "boolean",
          "description": "Whether or not to check the primary instance's Common Name value in the certificate that it sends during the SSL handshake."
        },
        "masterHeartbeatPeriod": {
          "format": "int64",
          "type": "string",
          "description": "Interval in milliseconds between replication heartbeats."
        },
        "clientKey": {
          "description": "PEM representation of the replica's private key. The corresponsing public key is encoded in the client's certificate.",
          "type": "string"
        },
        "kind": {
          "description": "This is always **sql#mysqlReplicaConfiguration**.",
          "type": "string"
        },
        "sslCipher": {
          "type": "string",
          "description": "A list of permissible ciphers to use for SSL encryption."
        },
        "password": {
          "type": "string",
          "description": "The password for the replication connection."
        },
        "dumpFilePath": {
          "description": "Path to a SQL dump file in Google Cloud Storage from which the replica instance is to be created. The URI is in the form gs://bucketName/fileName. Compressed gzip files (.gz) are also supported. Dumps have the binlog co-ordinates from which replication begins. This can be accomplished by setting --master-data to 1 when using mysqldump.",
          "type": "string"
        },
        "connectRetryInterval": {
          "description": "Seconds to wait between connect retries. MySQL's default is 60 seconds.",
          "type": "integer",
          "format": "int32"
        },
        "clientCertificate": {
          "description": "PEM representation of the replica's x509 certificate.",
          "type": "string"
        },
        "username": {
          "description": "The username for the replication connection.",
          "type": "string"
        },
        "caCertificate": {
          "description": "PEM representation of the trusted CA's x509 certificate.",
          "type": "string"
        }
      }
    },
    "SqlScheduledMaintenance": {
      "properties": {
        "canDefer": {
          "type": "boolean"
        },
        "scheduleDeadlineTime": {
          "description": "Maintenance cannot be rescheduled to start beyond this deadline.",
          "format": "google-datetime",
          "type": "string"
        },
        "startTime": {
          "description": "The start time of any upcoming scheduled maintenance for this instance.",
          "type": "string",
          "format": "google-datetime"
        },
        "canReschedule": {
          "description": "If the scheduled maintenance can be rescheduled.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "SqlScheduledMaintenance",
      "description": "Any scheduled maintenancce for this instance."
    },
    "User": {
      "type": "object",
      "id": "User",
      "description": "A Cloud SQL user resource.",
      "properties": {
        "etag": {
          "type": "string",
          "description": "This field is deprecated and will be removed from a future version of the API."
        },
        "password": {
          "type": "string",
          "description": "The password for the user."
        },
        "name": {
          "description": "The name of the user in the Cloud SQL instance. Can be omitted for *update* since it is already specified in the URL.",
          "type": "string"
        },
        "host": {
          "description": "The host name from which the user can connect. For *insert* operations, host defaults to an empty string. For *update* operations, host is specified as part of the request URL. The host name cannot be updated after insertion.",
          "type": "string"
        },
        "project": {
          "type": "string",
          "description": "The project ID of the project containing the Cloud SQL database. The Google apps domain is prefixed if applicable. Can be omitted for *update* since it is already specified on the URL."
        },
        "kind": {
          "description": "This is always *sql#user*.",
          "type": "string"
        },
        "instance": {
          "type": "string",
          "description": "The name of the Cloud SQL instance. This does not include the project ID. Can be omitted for *update* since it is already specified on the URL."
        },
        "sqlserverUserDetails": {
          "$ref": "SqlServerUserDetails"
        },
        "type": {
          "enumDescriptions": [
            "The database's built-in user type.",
            "Cloud IAM user.",
            "Cloud IAM service account."
          ],
          "description": "The user type. It determines the method to authenticate the user during login. The default is the database's built-in user type.",
          "type": "string",
          "enum": [
            "BUILT_IN",
            "CLOUD_IAM_USER",
            "CLOUD_IAM_SERVICE_ACCOUNT"
          ]
        }
      }
    },
    "BackupRun": {
      "id": "BackupRun",
      "properties": {
        "diskEncryptionStatus": {
          "description": "Encryption status specific to a backup.",
          "$ref": "DiskEncryptionStatus"
        },
        "windowStartTime": {
          "description": "The start time of the backup window during which this the backup was attempted in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example **2012-11-15T16:19:00.094Z**.",
          "format": "google-datetime",
          "type": "string"
        },
        "diskEncryptionConfiguration": {
          "description": "Encryption configuration specific to a backup.",
          "$ref": "DiskEncryptionConfiguration"
        },
        "instance": {
          "type": "string",
          "description": "Name of the database instance."
        },
        "location": {
          "description": "Location of the backups.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "The description of this run, only applicable to on-demand backups."
        },
        "selfLink": {
          "description": "The URI of this resource.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "This is always **sql#backupRun**."
        },
        "id": {
          "format": "int64",
          "description": "The identifier for this backup run. Unique only for a specific Cloud SQL instance.",
          "type": "string"
        },
        "backupKind": {
          "enumDescriptions": [
            "This is an unknown BackupKind.",
            "The snapshot based backups",
            "Physical backups"
          ],
          "type": "string",
          "description": "Specifies the kind of backup, PHYSICAL or DEFAULT_SNAPSHOT.",
          "enum": [
            "SQL_BACKUP_KIND_UNSPECIFIED",
            "SNAPSHOT",
            "PHYSICAL"
          ]
        },
        "enqueuedTime": {
          "format": "google-datetime",
          "description": "The time the run was enqueued in UTC timezone in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example **2012-11-15T16:19:00.094Z**.",
          "type": "string"
        },
        "error": {
          "$ref": "OperationError",
          "description": "Information about why the backup operation failed. This is only present if the run has the FAILED status."
        },
        "startTime": {
          "type": "string",
          "description": "The time the backup operation actually started in UTC timezone in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example **2012-11-15T16:19:00.094Z**.",
          "format": "google-datetime"
        },
        "endTime": {
          "type": "string",
          "description": "The time the backup operation completed in UTC timezone in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example **2012-11-15T16:19:00.094Z**.",
          "format": "google-datetime"
        },
        "status": {
          "description": "The status of this run.",
          "enumDescriptions": [
            "The status of the run is unknown.",
            "The backup operation was enqueued.",
            "The backup is overdue across a given backup window. Indicates a problem. Example: Long-running operation in progress during the whole window.",
            "The backup is in progress.",
            "The backup failed.",
            "The backup was successful.",
            "The backup was skipped (without problems) for a given backup window. Example: Instance was idle.",
            "The backup is about to be deleted.",
            "The backup deletion failed.",
            "The backup has been deleted."
          ],
          "type": "string",
          "enum": [
            "SQL_BACKUP_RUN_STATUS_UNSPECIFIED",
            "ENQUEUED",
            "OVERDUE",
            "RUNNING",
            "FAILED",
            "SUCCESSFUL",
            "SKIPPED",
            "DELETION_PENDING",
            "DELETION_FAILED",
            "DELETED"
          ]
        },
        "type": {
          "enumDescriptions": [
            "This is an unknown BackupRun type.",
            "The backup schedule automatically triggers a backup.",
            "The user manually triggers a backup."
          ],
          "enum": [
            "SQL_BACKUP_RUN_TYPE_UNSPECIFIED",
            "AUTOMATED",
            "ON_DEMAND"
          ],
          "description": "The type of this run; can be either \"AUTOMATED\" or \"ON_DEMAND\". This field defaults to \"ON_DEMAND\" and is ignored, when specified for insert requests.",
          "type": "string"
        }
      },
      "description": "A BackupRun resource.",
      "type": "object"
    },
    "TruncateLogContext": {
      "properties": {
        "logType": {
          "description": "The type of log to truncate. Valid values are **MYSQL_GENERAL_TABLE** and **MYSQL_SLOW_TABLE**.",
          "type": "string"
        },
        "kind": {
          "description": "This is always **sql#truncateLogContext**.",
          "type": "string"
        }
      },
      "description": "Database Instance truncate log context.",
      "type": "object",
      "id": "TruncateLogContext"
    },
    "Operation": {
      "properties": {
        "targetId": {
          "description": "Name of the database instance related to this operation.",
          "type": "string"
        },
        "status": {
          "enumDescriptions": [
            "The state of the operation is unknown.",
            "The operation has been queued, but has not started yet.",
            "The operation is running.",
            "The operation completed."
          ],
          "enum": [
            "SQL_OPERATION_STATUS_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "DONE"
          ],
          "type": "string",
          "description": "The status of an operation. Valid values are: * **PENDING** * **RUNNING** * **DONE** * **SQL_OPERATION_STATUS_UNSPECIFIED**"
        },
        "insertTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time this operation was enqueued in UTC timezone in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example **2012-11-15T16:19:00.094Z**."
        },
        "name": {
          "type": "string",
          "description": "An identifier that uniquely identifies the operation. You can use this identifier to retrieve the Operations resource that has information about the operation."
        },
        "operationType": {
          "enumDescriptions": [
            "Unknown operation type.",
            "Imports data into a Cloud SQL instance.",
            "Exports data from a Cloud SQL instance to a Cloud Storage bucket.",
            "Creates a new Cloud SQL instance.",
            "Updates the settings of a Cloud SQL instance.",
            "Deletes a Cloud SQL instance.",
            "Restarts the Cloud SQL instance.",
            "",
            "",
            "Performs instance backup.",
            "Deletes an instance backup.",
            "Restores an instance backup.",
            "Injects a privileged user in mysql for MOB instances.",
            "Clones a Cloud SQL instance.",
            "Stops replication on a Cloud SQL read replica instance.",
            "Starts replication on a Cloud SQL read replica instance.",
            "Promotes a Cloud SQL replica instance.",
            "Creates a Cloud SQL replica instance.",
            "Creates a new user in a Cloud SQL instance.",
            "Deletes a user from a Cloud SQL instance.",
            "Updates an existing user in a Cloud SQL instance.",
            "Creates a database in the Cloud SQL instance.",
            "Deletes a database in the Cloud SQL instance.",
            "Updates a database in the Cloud SQL instance.",
            "Performs failover of an HA-enabled Cloud SQL failover replica.",
            "Deletes the backup taken by a backup run.",
            "",
            "Truncates a general or slow log table in MySQL.",
            "Demotes the stand-alone instance to be a Cloud SQL read replica for an external database server.",
            "Indicates that the instance is currently in maintenance. Maintenance typically causes the instance to be unavailable for 1-3 minutes.",
            "This field is deprecated, and will be removed in future version of API.",
            "",
            "Creates clone instance.",
            "Reschedule maintenance to another time.",
            "Starts external sync of a Cloud SQL EM replica to an external primary instance."
          ],
          "enum": [
            "SQL_OPERATION_TYPE_UNSPECIFIED",
            "IMPORT",
            "EXPORT",
            "CREATE",
            "UPDATE",
            "DELETE",
            "RESTART",
            "BACKUP",
            "SNAPSHOT",
            "BACKUP_VOLUME",
            "DELETE_VOLUME",
            "RESTORE_VOLUME",
            "INJECT_USER",
            "CLONE",
            "STOP_REPLICA",
            "START_REPLICA",
            "PROMOTE_REPLICA",
            "CREATE_REPLICA",
            "CREATE_USER",
            "DELETE_USER",
            "UPDATE_USER",
            "CREATE_DATABASE",
            "DELETE_DATABASE",
            "UPDATE_DATABASE",
            "FAILOVER",
            "DELETE_BACKUP",
            "RECREATE_REPLICA",
            "TRUNCATE_LOG",
            "DEMOTE_MASTER",
            "MAINTENANCE",
            "ENABLE_PRIVATE_IP",
            "DEFER_MAINTENANCE",
            "CREATE_CLONE",
            "RESCHEDULE_MAINTENANCE",
            "START_EXTERNAL_SYNC"
          ],
          "type": "string",
          "description": "The type of the operation. Valid values are: * **CREATE** * **DELETE** * **UPDATE** * **RESTART** * **IMPORT** * **EXPORT** * **BACKUP_VOLUME** * **RESTORE_VOLUME** * **CREATE_USER** * **DELETE_USER** * **CREATE_DATABASE** * **DELETE_DATABASE**"
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time this operation actually started in UTC timezone in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example **2012-11-15T16:19:00.094Z**."
        },
        "selfLink": {
          "type": "string",
          "description": "The URI of this resource."
        },
        "targetLink": {
          "type": "string"
        },
        "exportContext": {
          "description": "The context for export operation, if applicable.",
          "$ref": "ExportContext"
        },
        "targetProject": {
          "description": "The project ID of the target instance related to this operation.",
          "type": "string"
        },
        "backupContext": {
          "description": "The context for backup operation, if applicable.",
          "$ref": "BackupContext"
        },
        "user": {
          "description": "The email address of the user who initiated this operation.",
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "The time this operation finished in UTC timezone in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example **2012-11-15T16:19:00.094Z**.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "This is always **sql#operation**."
        },
        "error": {
          "$ref": "OperationErrors",
          "description": "If errors occurred during processing of this operation, this field will be populated."
        },
        "importContext": {
          "description": "The context for import operation, if applicable.",
          "$ref": "ImportContext"
        }
      },
      "description": "An Operation resource. For successful operations that return an Operation resource, only the fields relevant to the operation are populated in the resource.",
      "type": "object",
      "id": "Operation"
    },
    "SslCertsCreateEphemeralRequest": {
      "id": "SslCertsCreateEphemeralRequest",
      "description": "SslCerts create ephemeral certificate request.",
      "properties": {
        "access_token": {
          "description": "Access token to include in the signed certificate.",
          "type": "string"
        },
        "public_key": {
          "description": "PEM encoded public key to include in the signed certificate.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Settings": {
      "type": "object",
      "id": "Settings",
      "description": "Database instance settings.",
      "properties": {
        "authorizedGaeApplications": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The App Engine app IDs that can access this instance. (Deprecated) Applied to First Generation instances only."
        },
        "kind": {
          "type": "string",
          "description": "This is always **sql#settings**."
        },
        "dataDiskType": {
          "enumDescriptions": [
            "This is an unknown data disk type.",
            "An SSD data disk.",
            "An HDD data disk.",
            "This field is deprecated and will be removed from a future version of the API."
          ],
          "description": "The type of data disk: **PD_SSD** (default) or **PD_HDD**. Not used for First Generation instances.",
          "type": "string",
          "enum": [
            "SQL_DATA_DISK_TYPE_UNSPECIFIED",
            "PD_SSD",
            "PD_HDD",
            "OBSOLETE_LOCAL_SSD"
          ]
        },
        "crashSafeReplicationEnabled": {
          "type": "boolean",
          "description": "Configuration specific to read replica instances. Indicates whether database flags for crash-safe replication are enabled. This property was only applicable to First Generation instances."
        },
        "maintenanceWindow": {
          "$ref": "MaintenanceWindow",
          "description": "The maintenance window for this instance. This specifies when the instance can be restarted for maintenance purposes."
        },
        "collation": {
          "type": "string",
          "description": "The name of server Instance collation."
        },
        "storageAutoResize": {
          "description": "Configuration to increase storage size automatically. The default value is true.",
          "type": "boolean"
        },
        "replicationType": {
          "description": "The type of replication this instance uses. This can be either **ASYNCHRONOUS** or **SYNCHRONOUS**. (Deprecated) This property was only applicable to First Generation instances.",
          "type": "string",
          "enumDescriptions": [
            "This is an unknown replication type for a Cloud SQL instance.",
            "The synchronous replication mode for First Generation instances. It is the default value.",
            "The asynchronous replication mode for First Generation instances. It provides a slight performance gain, but if an outage occurs while this option is set to asynchronous, you can lose up to a few seconds of updates to your data."
          ],
          "enum": [
            "SQL_REPLICATION_TYPE_UNSPECIFIED",
            "SYNCHRONOUS",
            "ASYNCHRONOUS"
          ]
        },
        "dataDiskSizeGb": {
          "format": "int64",
          "description": "The size of data disk, in GB. The data disk size minimum is 10GB.",
          "type": "string"
        },
        "locationPreference": {
          "$ref": "LocationPreference",
          "description": "The location preference settings. This allows the instance to be located as near as possible to either an App Engine app or Compute Engine zone for better performance. App Engine co-location was only applicable to First Generation instances."
        },
        "ipConfiguration": {
          "description": "The settings for IP Management. This allows to enable or disable the instance IP and manage which external networks can connect to the instance. The IPv4 address cannot be disabled for Second Generation instances.",
          "$ref": "IpConfiguration"
        },
        "storageAutoResizeLimit": {
          "type": "string",
          "description": "The maximum size to which storage capacity can be automatically increased. The default value is 0, which specifies that there is no limit.",
          "format": "int64"
        },
        "backupConfiguration": {
          "$ref": "BackupConfiguration",
          "description": "The daily backup configuration for the instance."
        },
        "databaseFlags": {
          "type": "array",
          "items": {
            "$ref": "DatabaseFlags"
          },
          "description": "The database flags passed to the instance at startup."
        },
        "activeDirectoryConfig": {
          "description": "Active Directory configuration, relevant only for Cloud SQL for SQL Server.",
          "$ref": "SqlActiveDirectoryConfig"
        },
        "pricingPlan": {
          "type": "string",
          "enumDescriptions": [
            "This is an unknown pricing plan for this instance.",
            "The instance is billed at a monthly flat rate.",
            "The instance is billed per usage."
          ],
          "description": "The pricing plan for this instance. This can be either **PER_USE** or **PACKAGE**. Only **PER_USE** is supported for Second Generation instances.",
          "enum": [
            "SQL_PRICING_PLAN_UNSPECIFIED",
            "PACKAGE",
            "PER_USE"
          ]
        },
        "settingsVersion": {
          "description": "The version of instance settings. This is a required field for update method to make sure concurrent updates are handled properly. During update, use the most recent settingsVersion value for this instance and do not try to update this value.",
          "type": "string",
          "format": "int64"
        },
        "activationPolicy": {
          "type": "string",
          "description": "The activation policy specifies when the instance is activated; it is applicable only when the instance state is RUNNABLE. Valid values: * **ALWAYS**: The instance is on, and remains so even in the absence of connection requests. * **NEVER**: The instance is off; it is not activated, even if a connection request arrives.",
          "enum": [
            "SQL_ACTIVATION_POLICY_UNSPECIFIED",
            "ALWAYS",
            "NEVER",
            "ON_DEMAND"
          ],
          "enumDescriptions": [
            "Unknown activation plan.",
            "The instance is always up and running.",
            "The instance never starts.",
            "The instance starts upon receiving requests."
          ]
        },
        "tier": {
          "type": "string",
          "description": "The tier (or machine type) for this instance, for example **db-custom-1-3840**."
        },
        "availabilityType": {
          "enum": [
            "SQL_AVAILABILITY_TYPE_UNSPECIFIED",
            "ZONAL",
            "REGIONAL"
          ],
          "enumDescriptions": [
            "This is an unknown Availability type.",
            "Zonal available instance.",
            "Regional available instance."
          ],
          "type": "string",
          "description": "Availability type. Potential values: * **ZONAL**: The instance serves data from only one zone. Outages in that zone affect data accessibility. * **REGIONAL**: The instance can serve data from more than one zone in a region (it is highly available)./ For more information, see [Overview of the High Availability Configuration](https://cloud.google.com/sql/docs/mysql/high-availability)."
        },
        "insightsConfig": {
          "description": "Insights configuration, for now relevant only for Postgres.",
          "$ref": "InsightsConfig"
        },
        "userLabels": {
          "type": "object",
          "description": "User-provided labels, represented as a dictionary where each label is a single key value pair.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "denyMaintenancePeriods": {
          "description": "Deny maintenance periods",
          "items": {
            "$ref": "DenyMaintenancePeriod"
          },
          "type": "array"
        },
        "databaseReplicationEnabled": {
          "type": "boolean",
          "description": "Configuration specific to read replica instances. Indicates whether replication is enabled or not."
        },
        "sqlServerAuditConfig": {
          "description": "SQL Server specific audit configuration.",
          "$ref": "SqlServerAuditConfig"
        }
      }
    },
    "InstancesFailoverRequest": {
      "id": "InstancesFailoverRequest",
      "properties": {
        "failoverContext": {
          "description": "Failover Context.",
          "$ref": "FailoverContext"
        }
      },
      "description": "Instance failover request.",
      "type": "object"
    },
    "ImportContext": {
      "description": "Database instance import context.",
      "properties": {
        "bakImportOptions": {
          "type": "object",
          "properties": {
            "encryptionOptions": {
              "properties": {
                "pvkPath": {
                  "type": "string",
                  "description": "Path to the Certificate Private Key (.pvk) in Cloud Storage, in the form **gs://bucketName/fileName**. The instance must have write permissions to the bucket and read access to the file."
                },
                "pvkPassword": {
                  "type": "string",
                  "description": "Password that encrypts the private key"
                },
                "certPath": {
                  "type": "string",
                  "description": "Path to the Certificate (.cer) in Cloud Storage, in the form **gs://bucketName/fileName**. The instance must have write permissions to the bucket and read access to the file."
                }
              },
              "type": "object"
            }
          },
          "description": "Import parameters specific to SQL Server .BAK files"
        },
        "kind": {
          "type": "string",
          "description": "This is always **sql#importContext**."
        },
        "fileType": {
          "description": "The file type for the specified uri. * **SQL**: The file contains SQL statements. * **CSV**: The file contains CSV data. * **BAK**: The file contains backup data for a SQL Server instance.",
          "enumDescriptions": [
            "Unknown file type.",
            "File containing SQL statements.",
            "File in CSV format.",
            ""
          ],
          "enum": [
            "SQL_FILE_TYPE_UNSPECIFIED",
            "SQL",
            "CSV",
            "BAK"
          ],
          "type": "string"
        },
        "uri": {
          "type": "string",
          "description": "Path to the import file in Cloud Storage, in the form **gs://bucketName/fileName**. Compressed gzip files (.gz) are supported when **fileType** is **SQL**. The instance must have write permissions to the bucket and read access to the file."
        },
        "csvImportOptions": {
          "type": "object",
          "description": "Options for importing data as CSV.",
          "properties": {
            "table": {
              "type": "string",
              "description": "The table to which CSV data is imported."
            },
            "columns": {
              "description": "The columns to which CSV data is imported. If not specified, all columns of the database table are loaded with CSV data.",
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "escapeCharacter": {
              "description": "Specifies the character that should appear before a data character that needs to be escaped.",
              "type": "string"
            },
            "quoteCharacter": {
              "description": "Specifies the quoting character to be used when a data value is quoted.",
              "type": "string"
            },
            "linesTerminatedBy": {
              "type": "string",
              "description": "This is used to separate lines. If a line does not contain all fields, the rest of the columns are set to their default values."
            },
            "fieldsTerminatedBy": {
              "type": "string",
              "description": "Specifies the character that separates columns within each row (line) of the file."
            }
          }
        },
        "importUser": {
          "type": "string",
          "description": "The PostgreSQL user for this import operation. PostgreSQL instances only."
        },
        "database": {
          "description": "The target database for the import. If **fileType** is **SQL**, this field is required only if the import file does not specify a database, and is overridden by any database specification in the import file. If **fileType** is **CSV**, one database must be specified.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ImportContext"
    },
    "BackupRunsListResponse": {
      "description": "Backup run list results.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "This is always **sql#backupRunsList**."
        },
        "items": {
          "items": {
            "$ref": "BackupRun"
          },
          "description": "A list of backup runs in reverse chronological order of the enqueued time.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results.",
          "type": "string"
        }
      },
      "id": "BackupRunsListResponse",
      "type": "object"
    },
    "InstancesRestoreBackupRequest": {
      "properties": {
        "restoreBackupContext": {
          "description": "Parameters required to perform the restore backup operation.",
          "$ref": "RestoreBackupContext"
        }
      },
      "id": "InstancesRestoreBackupRequest",
      "description": "Database instance restore backup request.",
      "type": "object"
    },
    "SqlInstancesRescheduleMaintenanceRequestBody": {
      "properties": {
        "reschedule": {
          "$ref": "Reschedule",
          "description": "Required. The type of the reschedule the user wants."
        }
      },
      "description": "Reschedule options for maintenance windows.",
      "type": "object",
      "id": "SqlInstancesRescheduleMaintenanceRequestBody"
    },
    "CloneContext": {
      "description": "Database instance clone context.",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "This is always **sql#cloneContext**."
        },
        "pointInTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Timestamp, if specified, identifies the time to which the source instance is cloned."
        },
        "binLogCoordinates": {
          "$ref": "BinLogCoordinates",
          "description": "Binary log coordinates, if specified, identify the position up to which the source instance is cloned. If not specified, the source instance is cloned up to the most recent binary log coordinates."
        },
        "destinationInstanceName": {
          "description": "Name of the Cloud SQL instance to be created as a clone.",
          "type": "string"
        },
        "pitrTimestampMs": {
          "type": "string",
          "format": "int64",
          "description": "Reserved for future use."
        }
      },
      "id": "CloneContext"
    },
    "DemoteMasterContext": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "This is always **sql#demoteMasterContext**."
        },
        "masterInstanceName": {
          "description": "The name of the instance which will act as on-premises primary instance in the replication setup.",
          "type": "string"
        },
        "replicaConfiguration": {
          "$ref": "DemoteMasterConfiguration",
          "description": "Configuration specific to read-replicas replicating from the on-premises primary instance."
        },
        "skipReplicationSetup": {
          "description": "Flag to skip replication setup on the instance.",
          "type": "boolean"
        },
        "verifyGtidConsistency": {
          "type": "boolean",
          "description": "Verify GTID consistency for demote operation. Default value: **True**. Setting this flag to false enables you to bypass GTID consistency check between on-premises primary instance and Cloud SQL instance during the demotion operation but also exposes you to the risk of future replication failures. Change the value only if you know the reason for the GTID divergence and are confident that doing so will not cause any replication issues."
        }
      },
      "type": "object",
      "description": "Database instance demote primary instance context.",
      "id": "DemoteMasterContext"
    },
    "DiskEncryptionConfiguration": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "This is always **sql#diskEncryptionConfiguration**."
        },
        "kmsKeyName": {
          "type": "string",
          "description": "Resource name of KMS key for disk encryption"
        }
      },
      "type": "object",
      "description": "Disk encryption configuration for an instance.",
      "id": "DiskEncryptionConfiguration"
    },
    "DatabaseFlags": {
      "id": "DatabaseFlags",
      "type": "object",
      "description": "Database flags for Cloud SQL instances.",
      "properties": {
        "name": {
          "description": "The name of the flag. These flags are passed at instance startup, so include both server options and system variables. Flags are specified with underscores, not hyphens. For more information, see [Configuring Database Flags](https://cloud.google.com/sql/docs/mysql/flags) in the Cloud SQL documentation.",
          "type": "string"
        },
        "value": {
          "description": "The value of the flag. Booleans are set to **on** for true and **off** for false. This field must be omitted if the flag doesn't take a value.",
          "type": "string"
        }
      }
    },
    "InstancesDemoteMasterRequest": {
      "properties": {
        "demoteMasterContext": {
          "$ref": "DemoteMasterContext",
          "description": "Contains details about the demoteMaster operation."
        }
      },
      "type": "object",
      "id": "InstancesDemoteMasterRequest",
      "description": "Database demote primary instance request."
    },
    "InstancesTruncateLogRequest": {
      "description": "Instance truncate log request.",
      "id": "InstancesTruncateLogRequest",
      "properties": {
        "truncateLogContext": {
          "$ref": "TruncateLogContext",
          "description": "Contains details about the truncate log operation."
        }
      },
      "type": "object"
    },
    "ConnectSettings": {
      "type": "object",
      "id": "ConnectSettings",
      "properties": {
        "databaseVersion": {
          "enumDescriptions": [
            "This is an unknown database version.",
            "The database version is MySQL 5.1.",
            "The database version is MySQL 5.5.",
            "The database version is MySQL 5.6.",
            "The database version is MySQL 5.7.",
            "The database version is PostgreSQL 9.6.",
            "The database version is PostgreSQL 11.",
            "The database version is SQL Server 2017 Standard.",
            "The database version is SQL Server 2017 Enterprise.",
            "The database version is SQL Server 2017 Express.",
            "The database version is SQL Server 2017 Web.",
            "The database version is PostgreSQL 10.",
            "The database version is PostgreSQL 12.",
            "The database version is MySQL 8.",
            "The database version is PostgreSQL 13.",
            "The database version is SQL Server 2019 Standard.",
            "The database version is SQL Server 2019 Enterprise.",
            "The database version is SQL Server 2019 Express.",
            "The database version is SQL Server 2019 Web."
          ],
          "description": "The database engine type and version. The **databaseVersion** field cannot be changed after instance creation. MySQL instances: **MYSQL_8_0**, **MYSQL_5_7** (default), or **MYSQL_5_6**. PostgreSQL instances: **POSTGRES_9_6**, **POSTGRES_10**, **POSTGRES_11** or **POSTGRES_12** (default). SQL Server instances: **SQLSERVER_2017_STANDARD** (default), **SQLSERVER_2017_ENTERPRISE**, **SQLSERVER_2017_EXPRESS**, or **SQLSERVER_2017_WEB**.",
          "enum": [
            "SQL_DATABASE_VERSION_UNSPECIFIED",
            "MYSQL_5_1",
            "MYSQL_5_5",
            "MYSQL_5_6",
            "MYSQL_5_7",
            "POSTGRES_9_6",
            "POSTGRES_11",
            "SQLSERVER_2017_STANDARD",
            "SQLSERVER_2017_ENTERPRISE",
            "SQLSERVER_2017_EXPRESS",
            "SQLSERVER_2017_WEB",
            "POSTGRES_10",
            "POSTGRES_12",
            "MYSQL_8_0",
            "POSTGRES_13",
            "SQLSERVER_2019_STANDARD",
            "SQLSERVER_2019_ENTERPRISE",
            "SQLSERVER_2019_EXPRESS",
            "SQLSERVER_2019_WEB"
          ],
          "type": "string"
        },
        "backendType": {
          "type": "string",
          "enumDescriptions": [
            "This is an unknown backend type for instance.",
            "V1 speckle instance.",
            "V2 speckle instance.",
            "On premises instance."
          ],
          "description": "**SECOND_GEN**: Cloud SQL database instance. **EXTERNAL**: A database server that is not managed by Google. This property is read-only; use the **tier** property in the **settings** object to determine the database type.",
          "enum": [
            "SQL_BACKEND_TYPE_UNSPECIFIED",
            "FIRST_GEN",
            "SECOND_GEN",
            "EXTERNAL"
          ]
        },
        "region": {
          "type": "string",
          "description": "The cloud region for the instance. e.g. **us-central1**, **europe-west1**. The region cannot be changed after instance creation."
        },
        "serverCaCert": {
          "description": "SSL configuration.",
          "$ref": "SslCert"
        },
        "ipAddresses": {
          "description": "The assigned IP addresses for the instance.",
          "type": "array",
          "items": {
            "$ref": "IpMapping"
          }
        },
        "kind": {
          "description": "This is always `sql#connectSettings`.",
          "type": "string"
        }
      },
      "description": "Connect settings retrieval response."
    },
    "InstancesCloneRequest": {
      "id": "InstancesCloneRequest",
      "properties": {
        "cloneContext": {
          "$ref": "CloneContext",
          "description": "Contains details about the clone operation."
        }
      },
      "description": "Database instance clone request.",
      "type": "object"
    },
    "DenyMaintenancePeriod": {
      "type": "object",
      "properties": {
        "endDate": {
          "type": "string",
          "description": "\"deny maintenance period\" end date. If the year of the end date is empty, the year of the start date also must be empty. In this case, it means the deny maintenance period recurs every year. The date is in format yyyy-mm-dd i.e., 2020-11-01, or mm-dd, i.e., 11-01"
        },
        "startDate": {
          "type": "string",
          "description": "\"deny maintenance period\" start date. If the year of the start date is empty, the year of the end date also must be empty. In this case, it means the deny maintenance period recurs every year. The date is in format yyyy-mm-dd i.e., 2020-11-01, or mm-dd, i.e., 11-01"
        },
        "time": {
          "type": "string",
          "description": "Time in UTC when the \"deny maintenance period\" starts on start_date and ends on end_date. The time is in format: HH:mm:SS, i.e., 00:00:00"
        }
      },
      "description": "Deny Maintenance Periods. This specifies a date range during when all CSA rollout will be denied.",
      "id": "DenyMaintenancePeriod"
    },
    "SslCertsInsertRequest": {
      "type": "object",
      "id": "SslCertsInsertRequest",
      "properties": {
        "commonName": {
          "type": "string",
          "description": "User supplied name. Must be a distinct name from the other certificates for this instance."
        }
      },
      "description": "SslCerts insert request."
    },
    "MySqlSyncConfig": {
      "id": "MySqlSyncConfig",
      "type": "object",
      "properties": {
        "initialSyncFlags": {
          "items": {
            "$ref": "SyncFlags"
          },
          "description": "Flags to use for the initial dump.",
          "type": "array"
        }
      },
      "description": "MySQL-specific external server sync settings."
    },
    "OperationErrors": {
      "description": "Database instance operation errors list wrapper.",
      "properties": {
        "errors": {
          "items": {
            "$ref": "OperationError"
          },
          "description": "The list of errors encountered while processing this operation.",
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "This is always **sql#operationErrors**."
        }
      },
      "id": "OperationErrors",
      "type": "object"
    },
    "SslCertsListResponse": {
      "description": "SslCerts list response.",
      "id": "SslCertsListResponse",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "SslCert"
          },
          "description": "List of client certificates for the instance."
        },
        "kind": {
          "description": "This is always **sql#sslCertsList**.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SqlActiveDirectoryConfig": {
      "id": "SqlActiveDirectoryConfig",
      "properties": {
        "domain": {
          "description": "The name of the domain (e.g., mydomain.com).",
          "type": "string"
        },
        "kind": {
          "description": "This is always sql#activeDirectoryConfig.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Active Directory configuration, relevant only for Cloud SQL for SQL Server."
    },
    "Flag": {
      "properties": {
        "inBeta": {
          "description": "Whether or not the flag is considered in beta.",
          "type": "boolean"
        },
        "kind": {
          "description": "This is always **sql#flag**.",
          "type": "string"
        },
        "minValue": {
          "type": "string",
          "description": "For **INTEGER** flags, the minimum allowed value.",
          "format": "int64"
        },
        "allowedIntValues": {
          "description": "Use this field if only certain integers are accepted. Can be combined with min_value and max_value to add additional values.",
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array"
        },
        "requiresRestart": {
          "description": "Indicates whether changing this flag will trigger a database restart. Only applicable to Second Generation instances.",
          "type": "boolean"
        },
        "type": {
          "enum": [
            "SQL_FLAG_TYPE_UNSPECIFIED",
            "BOOLEAN",
            "STRING",
            "INTEGER",
            "NONE",
            "MYSQL_TIMEZONE_OFFSET",
            "FLOAT",
            "REPEATED_STRING"
          ],
          "description": "The type of the flag. Flags are typed to being **BOOLEAN**, **STRING**, **INTEGER** or **NONE**. **NONE** is used for flags which do not take a value, such as **skip_grant_tables**.",
          "type": "string",
          "enumDescriptions": [
            "This is an unknown flag type.",
            "Boolean type flag.",
            "String type flag.",
            "Integer type flag.",
            "Flag type used for a server startup option.",
            "Type introduced specially for MySQL TimeZone offset. Accept a string value with the format [-12:59, 13:00].",
            "Float type flag.",
            "Comma-separated list of the strings in a SqlFlagType enum."
          ]
        },
        "maxValue": {
          "description": "For **INTEGER** flags, the maximum allowed value.",
          "type": "string",
          "format": "int64"
        },
        "allowedStringValues": {
          "description": "For **STRING** flags, a list of strings that the value can be set to.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "appliesTo": {
          "items": {
            "type": "string",
            "enum": [
              "SQL_DATABASE_VERSION_UNSPECIFIED",
              "MYSQL_5_1",
              "MYSQL_5_5",
              "MYSQL_5_6",
              "MYSQL_5_7",
              "POSTGRES_9_6",
              "POSTGRES_11",
              "SQLSERVER_2017_STANDARD",
              "SQLSERVER_2017_ENTERPRISE",
              "SQLSERVER_2017_EXPRESS",
              "SQLSERVER_2017_WEB",
              "POSTGRES_10",
              "POSTGRES_12",
              "MYSQL_8_0",
              "POSTGRES_13",
              "SQLSERVER_2019_STANDARD",
              "SQLSERVER_2019_ENTERPRISE",
              "SQLSERVER_2019_EXPRESS",
              "SQLSERVER_2019_WEB"
            ],
            "enumDescriptions": [
              "This is an unknown database version.",
              "The database version is MySQL 5.1.",
              "The database version is MySQL 5.5.",
              "The database version is MySQL 5.6.",
              "The database version is MySQL 5.7.",
              "The database version is PostgreSQL 9.6.",
              "The database version is PostgreSQL 11.",
              "The database version is SQL Server 2017 Standard.",
              "The database version is SQL Server 2017 Enterprise.",
              "The database version is SQL Server 2017 Express.",
              "The database version is SQL Server 2017 Web.",
              "The database version is PostgreSQL 10.",
              "The database version is PostgreSQL 12.",
              "The database version is MySQL 8.",
              "The database version is PostgreSQL 13.",
              "The database version is SQL Server 2019 Standard.",
              "The database version is SQL Server 2019 Enterprise.",
              "The database version is SQL Server 2019 Express.",
              "The database version is SQL Server 2019 Web."
            ]
          },
          "description": "The database version this flag applies to. Can be **MYSQL_8_0**, **MYSQL_5_6**, or **MYSQL_5_7**.",
          "type": "array"
        },
        "name": {
          "description": "This is the name of the flag. Flag names always use underscores, not hyphens, for example: **max_allowed_packet**",
          "type": "string"
        }
      },
      "id": "Flag",
      "description": "A flag resource.",
      "type": "object"
    },
    "IpMapping": {
      "type": "object",
      "properties": {
        "timeToRetire": {
          "type": "string",
          "description": "The due time for this IP to be retired in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example **2012-11-15T16:19:00.094Z**. This field is only available when the IP is scheduled to be retired.",
          "format": "google-datetime"
        },
        "type": {
          "description": "The type of this IP address. A **PRIMARY** address is a public address that can accept incoming connections. A **PRIVATE** address is a private address that can accept incoming connections. An **OUTGOING** address is the source address of connections originating from the instance, if supported.",
          "enum": [
            "SQL_IP_ADDRESS_TYPE_UNSPECIFIED",
            "PRIMARY",
            "OUTGOING",
            "PRIVATE",
            "MIGRATED_1ST_GEN"
          ],
          "enumDescriptions": [
            "This is an unknown IP address type.",
            "IP address the customer is supposed to connect to. Usually this is the load balancer's IP address",
            "Source IP address of the connection a read replica establishes to its external primary instance. This IP address can be allowlisted by the customer in case it has a firewall that filters incoming connection to its on premises primary instance.",
            "Private IP used when using private IPs and network peering.",
            "V1 IP of a migrated instance. We want the user to decommission this IP as soon as the migration is complete. Note: V1 instances with V1 ip addresses will be counted as PRIMARY."
          ],
          "type": "string"
        },
        "ipAddress": {
          "type": "string",
          "description": "The IP address assigned."
        }
      },
      "description": "Database instance IP Mapping.",
      "id": "IpMapping"
    },
    "SslCert": {
      "description": "SslCerts Resource",
      "id": "SslCert",
      "type": "object",
      "properties": {
        "cert": {
          "description": "PEM representation.",
          "type": "string"
        },
        "expirationTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time when the certificate expires in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example **2012-11-15T16:19:00.094Z**."
        },
        "sha1Fingerprint": {
          "type": "string",
          "description": "Sha1 Fingerprint."
        },
        "certSerialNumber": {
          "type": "string",
          "description": "Serial number, as extracted from the certificate."
        },
        "selfLink": {
          "type": "string",
          "description": "The URI of this resource."
        },
        "commonName": {
          "type": "string",
          "description": "User supplied name. Constrained to [a-zA-Z.-_ ]+."
        },
        "instance": {
          "description": "Name of the database instance.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "The time when the certificate was created in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example **2012-11-15T16:19:00.094Z**.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "This is always **sql#sslCert**."
        }
      }
    },
    "OperationError": {
      "properties": {
        "message": {
          "description": "Additional information about the error encountered.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "This is always **sql#operationError**."
        },
        "code": {
          "type": "string",
          "description": "Identifies the specific error that occurred."
        }
      },
      "type": "object",
      "description": "Database instance operation error.",
      "id": "OperationError"
    },
    "RotateServerCaContext": {
      "type": "object",
      "description": "Instance rotate server CA context.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "This is always **sql#rotateServerCaContext**."
        },
        "nextVersion": {
          "description": "The fingerprint of the next version to be rotated to. If left unspecified, will be rotated to the most recently added server CA version.",
          "type": "string"
        }
      },
      "id": "RotateServerCaContext"
    },
    "BinLogCoordinates": {
      "properties": {
        "binLogPosition": {
          "description": "Position (offset) within the binary log file.",
          "type": "string",
          "format": "int64"
        },
        "kind": {
          "description": "This is always **sql#binLogCoordinates**.",
          "type": "string"
        },
        "binLogFileName": {
          "type": "string",
          "description": "Name of the binary log file for a Cloud SQL instance."
        }
      },
      "description": "Binary log coordinates.",
      "type": "object",
      "id": "BinLogCoordinates"
    },
    "SslCertsInsertResponse": {
      "description": "SslCert insert response.",
      "properties": {
        "clientCert": {
          "$ref": "SslCertDetail",
          "description": "The new client certificate and private key."
        },
        "kind": {
          "description": "This is always **sql#sslCertsInsert**.",
          "type": "string"
        },
        "operation": {
          "$ref": "Operation",
          "description": "The operation to track the ssl certs insert request."
        },
        "serverCaCert": {
          "description": "The server Certificate Authority's certificate. If this is missing you can force a new one to be generated by calling resetSslConfig method on instances resource.",
          "$ref": "SslCert"
        }
      },
      "id": "SslCertsInsertResponse",
      "type": "object"
    },
    "InstancesListResponse": {
      "description": "Database instances list response.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results.",
          "type": "string"
        },
        "warnings": {
          "items": {
            "$ref": "ApiWarning"
          },
          "type": "array",
          "description": "List of warnings that occurred while handling the request."
        },
        "kind": {
          "type": "string",
          "description": "This is always **sql#instancesList**."
        },
        "items": {
          "items": {
            "$ref": "DatabaseInstance"
          },
          "type": "array",
          "description": "List of database instance resources."
        }
      },
      "id": "InstancesListResponse"
    },
    "FailoverContext": {
      "properties": {
        "settingsVersion": {
          "description": "The current settings version of this instance. Request will be rejected if this version doesn't match the current settings version.",
          "type": "string",
          "format": "int64"
        },
        "kind": {
          "type": "string",
          "description": "This is always **sql#failoverContext**."
        }
      },
      "description": "Database instance failover context.",
      "type": "object",
      "id": "FailoverContext"
    },
    "InstancesRotateServerCaRequest": {
      "id": "InstancesRotateServerCaRequest",
      "description": "Rotate Server CA request.",
      "type": "object",
      "properties": {
        "rotateServerCaContext": {
          "$ref": "RotateServerCaContext",
          "description": "Contains details about the rotate server CA operation."
        }
      }
    },
    "DemoteMasterMySqlReplicaConfiguration": {
      "properties": {
        "clientCertificate": {
          "description": "PEM representation of the replica's x509 certificate.",
          "type": "string"
        },
        "password": {
          "description": "The password for the replication connection.",
          "type": "string"
        },
        "caCertificate": {
          "description": "PEM representation of the trusted CA's x509 certificate.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "This is always **sql#demoteMasterMysqlReplicaConfiguration**."
        },
        "clientKey": {
          "description": "PEM representation of the replica's private key. The corresponsing public key is encoded in the client's certificate. The format of the replica's private key can be either PKCS #1 or PKCS #8.",
          "type": "string"
        },
        "username": {
          "type": "string",
          "description": "The username for the replication connection."
        }
      },
      "description": "Read-replica configuration specific to MySQL databases.",
      "id": "DemoteMasterMySqlReplicaConfiguration",
      "type": "object"
    },
    "BackupContext": {
      "properties": {
        "backupId": {
          "type": "string",
          "description": "The identifier of the backup.",
          "format": "int64"
        },
        "kind": {
          "type": "string",
          "description": "This is always **sql#backupContext**."
        }
      },
      "description": "Backup context.",
      "type": "object",
      "id": "BackupContext"
    },
    "IpConfiguration": {
      "properties": {
        "authorizedNetworks": {
          "description": "The list of external networks that are allowed to connect to the instance using the IP. In 'CIDR' notation, also known as 'slash' notation (for example: **192.168.100.0/24**).",
          "type": "array",
          "items": {
            "$ref": "AclEntry"
          }
        },
        "ipv4Enabled": {
          "type": "boolean",
          "description": "Whether the instance is assigned a public IP address or not."
        },
        "allocatedIpRange": {
          "description": "The name of the allocated ip range for the private ip CloudSQL instance. For example: \"google-managed-services-default\". If set, the instance ip will be created in the allocated range. The range name must comply with [RFC 1035](https://tools.ietf.org/html/rfc1035). Specifically, the name must be 1-63 characters long and match the regular expression `[a-z]([-a-z0-9]*[a-z0-9])?.` Reserved for future use.",
          "type": "string"
        },
        "requireSsl": {
          "type": "boolean",
          "description": "Whether SSL connections over IP are enforced or not."
        },
        "privateNetwork": {
          "type": "string",
          "description": "The resource link for the VPC network from which the Cloud SQL instance is accessible for private IP. For example, **/projects/myProject/global/networks/default**. This setting can be updated, but it cannot be removed after it is set."
        }
      },
      "type": "object",
      "description": "IP Management configuration.",
      "id": "IpConfiguration"
    },
    "SqlServerDatabaseDetails": {
      "type": "object",
      "properties": {
        "recoveryModel": {
          "description": "The recovery model of a SQL Server database",
          "type": "string"
        },
        "compatibilityLevel": {
          "type": "integer",
          "description": "The version of SQL Server with which the database is to be made compatible",
          "format": "int32"
        }
      },
      "description": "Represents a Sql Server database on the Cloud SQL instance.",
      "id": "SqlServerDatabaseDetails"
    },
    "Reschedule": {
      "properties": {
        "rescheduleType": {
          "enum": [
            "RESCHEDULE_TYPE_UNSPECIFIED",
            "IMMEDIATE",
            "NEXT_AVAILABLE_WINDOW",
            "SPECIFIC_TIME"
          ],
          "type": "string",
          "description": "Required. The type of the reschedule.",
          "enumDescriptions": [
            "",
            "Reschedules maintenance to happen now (within 5 minutes).",
            "Reschedules maintenance to occur within one week from the originally scheduled day and time.",
            "Reschedules maintenance to a specific time and day."
          ]
        },
        "scheduleTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. Timestamp when the maintenance shall be rescheduled to if reschedule_type=SPECIFIC_TIME, in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example **2012-11-15T16:19:00.094Z**."
        }
      },
      "type": "object",
      "id": "Reschedule"
    },
    "TiersListResponse": {
      "type": "object",
      "id": "TiersListResponse",
      "description": "Tiers list response.",
      "properties": {
        "items": {
          "items": {
            "$ref": "Tier"
          },
          "type": "array",
          "description": "List of tiers."
        },
        "kind": {
          "type": "string",
          "description": "This is always *sql#tiersList*."
        }
      }
    },
    "InstancesListServerCasResponse": {
      "type": "object",
      "id": "InstancesListServerCasResponse",
      "description": "Instances ListServerCas response.",
      "properties": {
        "activeVersion": {
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "This is always **sql#instancesListServerCas**."
        },
        "certs": {
          "type": "array",
          "description": "List of server CA certificates for the instance.",
          "items": {
            "$ref": "SslCert"
          }
        }
      }
    },
    "LocationPreference": {
      "type": "object",
      "id": "LocationPreference",
      "description": "Preferred location. This specifies where a Cloud SQL instance is located. Note that if the preferred location is not available, the instance will be located as close as possible within the region. Only one location may be specified.",
      "properties": {
        "followGaeApplication": {
          "description": "The App Engine application to follow, it must be in the same region as the Cloud SQL instance.",
          "type": "string"
        },
        "kind": {
          "description": "This is always **sql#locationPreference**.",
          "type": "string"
        },
        "zone": {
          "type": "string",
          "description": "The preferred Compute Engine zone (for example: us-central1-a, us-central1-b, etc.)."
        },
        "secondaryZone": {
          "description": "The preferred Compute Engine zone for the secondary/failover (for example: us-central1-a, us-central1-b, etc.). Reserved for future use.",
          "type": "string"
        }
      }
    },
    "OnPremisesConfiguration": {
      "description": "On-premises instance configuration.",
      "type": "object",
      "id": "OnPremisesConfiguration",
      "properties": {
        "clientCertificate": {
          "type": "string",
          "description": "PEM representation of the replica's x509 certificate."
        },
        "hostPort": {
          "description": "The host and port of the on-premises instance in host:port format",
          "type": "string"
        },
        "caCertificate": {
          "description": "PEM representation of the trusted CA's x509 certificate.",
          "type": "string"
        },
        "kind": {
          "description": "This is always **sql#onPremisesConfiguration**.",
          "type": "string"
        },
        "password": {
          "description": "The password for connecting to on-premises instance.",
          "type": "string"
        },
        "sourceInstance": {
          "$ref": "InstanceReference",
          "description": "The reference to Cloud SQL instance if the source is Cloud SQL."
        },
        "dumpFilePath": {
          "description": "The dump file to create the Cloud SQL replica.",
          "type": "string"
        },
        "username": {
          "type": "string",
          "description": "The username for connecting to on-premises instance."
        },
        "clientKey": {
          "type": "string",
          "description": "PEM representation of the replica's private key. The corresponsing public key is encoded in the client's certificate."
        }
      }
    },
    "Tier": {
      "properties": {
        "tier": {
          "description": "An identifier for the machine type, for example, db-custom-1-3840. For related information, see Pricing.",
          "type": "string"
        },
        "DiskQuota": {
          "type": "string",
          "format": "int64",
          "description": "The maximum disk size of this tier in bytes."
        },
        "RAM": {
          "format": "int64",
          "description": "The maximum RAM usage of this tier in bytes.",
          "type": "string"
        },
        "region": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The applicable regions for this tier."
        },
        "kind": {
          "type": "string",
          "description": "This is always *sql#tier*."
        }
      },
      "description": "A Google Cloud SQL service tier resource.",
      "id": "Tier",
      "type": "object"
    },
    "DatabasesListResponse": {
      "id": "DatabasesListResponse",
      "description": "Database list response.",
      "properties": {
        "items": {
          "description": "List of database resources in the instance.",
          "items": {
            "$ref": "Database"
          },
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "This is always **sql#databasesList**."
        }
      },
      "type": "object"
    },
    "InstancesImportRequest": {
      "id": "InstancesImportRequest",
      "description": "Database instance import request.",
      "type": "object",
      "properties": {
        "importContext": {
          "description": "Contains details about the import operation.",
          "$ref": "ImportContext"
        }
      }
    },
    "FlagsListResponse": {
      "type": "object",
      "id": "FlagsListResponse",
      "description": "Flags list response.",
      "properties": {
        "items": {
          "description": "List of flags.",
          "items": {
            "$ref": "Flag"
          },
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "This is always **sql#flagsList**."
        }
      }
    },
    "SqlExternalSyncSettingError": {
      "properties": {
        "type": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "Unsupported migration type.",
            "No pglogical extension installed on databases, applicable for postgres.",
            "pglogical node already exists on databases, applicable for postgres.",
            "The value of parameter wal_level is not set to logical.",
            "The value of parameter shared_preload_libraries does not include pglogical.",
            "The value of parameter max_replication_slots is not sufficient.",
            "The value of parameter max_wal_senders is not sufficient.",
            "The value of parameter max_worker_processes is not sufficient.",
            "Extensions installed are either not supported or having unsupported versions",
            "The value of parameter rds.logical_replication is not set to 1.",
            "The primary instance logging setup doesn't allow EM sync.",
            "The primary instance database parameter setup doesn't allow EM sync.",
            "The gtid_mode is not supported, applicable for MySQL.",
            "SQL Server Agent is not running.",
            "The table definition is not support due to missing primary key or replica identity, applicable for postgres.",
            "The customer has a definer that will break EM setup.",
            "SQL Server @@SERVERNAME does not match actual host name",
            "The primary instance has been setup and will fail the setup.",
            "The primary instance has unsupported binary log format.",
            "The primary instance's binary log retention setting."
          ],
          "enum": [
            "SQL_EXTERNAL_SYNC_SETTING_ERROR_TYPE_UNSPECIFIED",
            "CONNECTION_FAILURE",
            "BINLOG_NOT_ENABLED",
            "INCOMPATIBLE_DATABASE_VERSION",
            "REPLICA_ALREADY_SETUP",
            "INSUFFICIENT_PRIVILEGE",
            "UNSUPPORTED_MIGRATION_TYPE",
            "NO_PGLOGICAL_INSTALLED",
            "PGLOGICAL_NODE_ALREADY_EXISTS",
            "INVALID_WAL_LEVEL",
            "INVALID_SHARED_PRELOAD_LIBRARY",
            "INSUFFICIENT_MAX_REPLICATION_SLOTS",
            "INSUFFICIENT_MAX_WAL_SENDERS",
            "INSUFFICIENT_MAX_WORKER_PROCESSES",
            "UNSUPPORTED_EXTENSIONS",
            "INVALID_RDS_LOGICAL_REPLICATION",
            "INVALID_LOGGING_SETUP",
            "INVALID_DB_PARAM",
            "UNSUPPORTED_GTID_MODE",
            "SQLSERVER_AGENT_NOT_RUNNING",
            "UNSUPPORTED_TABLE_DEFINITION",
            "UNSUPPORTED_DEFINER",
            "SQLSERVER_SERVERNAME_MISMATCH",
            "PRIMARY_ALREADY_SETUP",
            "UNSUPPORTED_BINLOG_FORMAT",
            "BINLOG_RETENTION_SETTING"
          ],
          "description": "Identifies the specific error that occurred.",
          "type": "string"
        },
        "detail": {
          "type": "string",
          "description": "Additional information about the error encountered."
        },
        "kind": {
          "description": "Can be **sql#externalSyncSettingError** or **sql#externalSyncSettingWarning**.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "External primary instance migration setting error/warning.",
      "id": "SqlExternalSyncSettingError"
    },
    "BackupRetentionSettings": {
      "type": "object",
      "description": "We currently only support backup retention by specifying the number of backups we will retain.",
      "id": "BackupRetentionSettings",
      "properties": {
        "retainedBackups": {
          "format": "int32",
          "description": "Depending on the value of retention_unit, this is used to determine if a backup needs to be deleted. If retention_unit is 'COUNT', we will retain this many backups.",
          "type": "integer"
        },
        "retentionUnit": {
          "type": "string",
          "enum": [
            "RETENTION_UNIT_UNSPECIFIED",
            "COUNT"
          ],
          "enumDescriptions": [
            "Backup retention unit is unspecified, will be treated as COUNT.",
            "Retention will be by count, eg. \"retain the most recent 7 backups\"."
          ],
          "description": "The unit that 'retained_backups' represents."
        }
      }
    },
    "SqlServerAuditConfig": {
      "id": "SqlServerAuditConfig",
      "type": "object",
      "description": "SQL Server specific audit configuration.",
      "properties": {
        "kind": {
          "description": "This is always sql#sqlServerAuditConfig",
          "type": "string"
        },
        "bucket": {
          "type": "string",
          "description": "The name of the destination bucket (e.g., gs://mybucket)."
        }
      }
    },
    "BackupConfiguration": {
      "properties": {
        "pointInTimeRecoveryEnabled": {
          "type": "boolean",
          "description": "(Postgres only) Whether point in time recovery is enabled."
        },
        "binaryLogEnabled": {
          "type": "boolean",
          "description": "(MySQL only) Whether binary log is enabled. If backup configuration is disabled, binarylog must be disabled as well."
        },
        "kind": {
          "type": "string",
          "description": "This is always **sql#backupConfiguration**."
        },
        "transactionLogRetentionDays": {
          "format": "int32",
          "type": "integer",
          "description": "The number of days of transaction logs we retain for point in time restore, from 1-7."
        },
        "replicationLogArchivingEnabled": {
          "type": "boolean",
          "description": "Reserved for future use."
        },
        "backupRetentionSettings": {
          "$ref": "BackupRetentionSettings",
          "description": "Backup retention settings."
        },
        "enabled": {
          "type": "boolean",
          "description": "Whether this configuration is enabled."
        },
        "location": {
          "type": "string",
          "description": "Location of the backup"
        },
        "startTime": {
          "type": "string",
          "description": "Start time for the daily backup configuration in UTC timezone in the 24 hour format - **HH:MM**."
        }
      },
      "description": "Database instance backup configuration.",
      "type": "object",
      "id": "BackupConfiguration"
    },
    "DatabaseInstance": {
      "type": "object",
      "id": "DatabaseInstance",
      "properties": {
        "settings": {
          "description": "The user settings.",
          "$ref": "Settings"
        },
        "region": {
          "description": "The geographical region. Can be: * **us-central** (**FIRST_GEN** instances only) * **us-central1** (**SECOND_GEN** instances only) * **asia-east1** or **europe-west1**. Defaults to **us-central** or **us-central1** depending on the instance type. The region cannot be changed after instance creation.",
          "type": "string"
        },
        "failoverReplica": {
          "type": "object",
          "properties": {
            "available": {
              "type": "boolean",
              "description": "The availability status of the failover replica. A false status indicates that the failover replica is out of sync. The primary instance can only failover to the failover replica when the status is true."
            },
            "name": {
              "description": "The name of the failover replica. If specified at instance creation, a failover replica is created for the instance. The name doesn't include the project ID.",
              "type": "string"
            }
          },
          "description": "The name and status of the failover replica."
        },
        "secondaryGceZone": {
          "type": "string",
          "description": "The Compute Engine zone that the failover instance is currently serving from for a regional instance. This value could be different from the zone that was specified when the instance was created if the instance has failed over to its secondary/failover zone. Reserved for future use."
        },
        "connectionName": {
          "type": "string",
          "description": "Connection name of the Cloud SQL instance used in connection strings."
        },
        "instanceType": {
          "description": "The instance type. This can be one of the following: * **CLOUD_SQL_INSTANCE**: A Cloud SQL instance that is not replicating from a primary instance. * **ON_PREMISES_INSTANCE**: An instance running on the customer's premises. * **READ_REPLICA_INSTANCE**: A Cloud SQL instance configured as a read-replica.",
          "enum": [
            "SQL_INSTANCE_TYPE_UNSPECIFIED",
            "CLOUD_SQL_INSTANCE",
            "ON_PREMISES_INSTANCE",
            "READ_REPLICA_INSTANCE"
          ],
          "enumDescriptions": [
            "This is an unknown Cloud SQL instance type.",
            "A regular Cloud SQL instance.",
            "An instance running on the customer's premises that is not managed by Cloud SQL.",
            "A Cloud SQL instance acting as a read-replica."
          ],
          "type": "string"
        },
        "outOfDiskReport": {
          "$ref": "SqlOutOfDiskReport",
          "description": "This field represents the report generated by the proactive database wellness job for OutOfDisk issues. * Writers: * the proactive database wellness job for OOD. * Readers: * the proactive database wellness job"
        },
        "backendType": {
          "enum": [
            "SQL_BACKEND_TYPE_UNSPECIFIED",
            "FIRST_GEN",
            "SECOND_GEN",
            "EXTERNAL"
          ],
          "description": "The backend type. **SECOND_GEN**: Cloud SQL database instance. **EXTERNAL**: A database server that is not managed by Google. This property is read-only; use the **tier** property in the **settings** object to determine the database type.",
          "type": "string",
          "enumDescriptions": [
            "This is an unknown backend type for instance.",
            "V1 speckle instance.",
            "V2 speckle instance.",
            "On premises instance."
          ]
        },
        "scheduledMaintenance": {
          "description": "The start time of any upcoming scheduled maintenance for this instance.",
          "$ref": "SqlScheduledMaintenance"
        },
        "project": {
          "description": "The project ID of the project containing the Cloud SQL instance. The Google apps domain is prefixed if applicable.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "This is always **sql#instance**."
        },
        "databaseVersion": {
          "description": "The database engine type and version. The **databaseVersion** field cannot be changed after instance creation.",
          "type": "string",
          "enumDescriptions": [
            "This is an unknown database version.",
            "The database version is MySQL 5.1.",
            "The database version is MySQL 5.5.",
            "The database version is MySQL 5.6.",
            "The database version is MySQL 5.7.",
            "The database version is PostgreSQL 9.6.",
            "The database version is PostgreSQL 11.",
            "The database version is SQL Server 2017 Standard.",
            "The database version is SQL Server 2017 Enterprise.",
            "The database version is SQL Server 2017 Express.",
            "The database version is SQL Server 2017 Web.",
            "The database version is PostgreSQL 10.",
            "The database version is PostgreSQL 12.",
            "The database version is MySQL 8.",
            "The database version is PostgreSQL 13.",
            "The database version is SQL Server 2019 Standard.",
            "The database version is SQL Server 2019 Enterprise.",
            "The database version is SQL Server 2019 Express.",
            "The database version is SQL Server 2019 Web."
          ],
          "enum": [
            "SQL_DATABASE_VERSION_UNSPECIFIED",
            "MYSQL_5_1",
            "MYSQL_5_5",
            "MYSQL_5_6",
            "MYSQL_5_7",
            "POSTGRES_9_6",
            "POSTGRES_11",
            "SQLSERVER_2017_STANDARD",
            "SQLSERVER_2017_ENTERPRISE",
            "SQLSERVER_2017_EXPRESS",
            "SQLSERVER_2017_WEB",
            "POSTGRES_10",
            "POSTGRES_12",
            "MYSQL_8_0",
            "POSTGRES_13",
            "SQLSERVER_2019_STANDARD",
            "SQLSERVER_2019_ENTERPRISE",
            "SQLSERVER_2019_EXPRESS",
            "SQLSERVER_2019_WEB"
          ]
        },
        "createTime": {
          "description": "Output only. The time when the instance was created in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example **2012-11-15T16:19:00.094Z**.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "replicaNames": {
          "items": {
            "type": "string"
          },
          "description": "The replicas of the instance.",
          "type": "array"
        },
        "satisfiesPzs": {
          "type": "boolean",
          "description": "The status indicating if instance satisfiesPzs. Reserved for future use."
        },
        "serviceAccountEmailAddress": {
          "type": "string",
          "description": "The service account email address assigned to the instance. This property is read-only."
        },
        "masterInstanceName": {
          "description": "The name of the instance which will act as primary in the replication setup.",
          "type": "string"
        },
        "rootPassword": {
          "type": "string",
          "description": "Initial root password. Use only on creation."
        },
        "name": {
          "type": "string",
          "description": "Name of the Cloud SQL instance. This does not include the project ID."
        },
        "maxDiskSize": {
          "type": "string",
          "description": "The maximum disk size of the instance in bytes.",
          "format": "int64"
        },
        "ipv6Address": {
          "type": "string",
          "description": "The IPv6 address assigned to the instance. (Deprecated) This property was applicable only to First Generation instances."
        },
        "currentDiskSize": {
          "type": "string",
          "format": "int64",
          "description": "The current disk usage of the instance in bytes. This property has been deprecated. Use the \"cloudsql.googleapis.com/database/disk/bytes_used\" metric in Cloud Monitoring API instead. Please see [this announcement](https://groups.google.com/d/msg/google-cloud-sql-announce/I_7-F9EBhT0/BtvFtdFeAgAJ) for details."
        },
        "serverCaCert": {
          "description": "SSL configuration.",
          "$ref": "SslCert"
        },
        "diskEncryptionConfiguration": {
          "$ref": "DiskEncryptionConfiguration",
          "description": "Disk encryption configuration specific to an instance."
        },
        "diskEncryptionStatus": {
          "description": "Disk encryption status specific to an instance.",
          "$ref": "DiskEncryptionStatus"
        },
        "state": {
          "type": "string",
          "enum": [
            "SQL_INSTANCE_STATE_UNSPECIFIED",
            "RUNNABLE",
            "SUSPENDED",
            "PENDING_DELETE",
            "PENDING_CREATE",
            "MAINTENANCE",
            "FAILED",
            "ONLINE_MAINTENANCE"
          ],
          "description": "The current serving state of the Cloud SQL instance.",
          "enumDescriptions": [
            "The state of the instance is unknown.",
            "The instance is running, or has been stopped by owner.",
            "The instance is not available, for example due to problems with billing.",
            "The instance is being deleted.",
            "The instance is being created.",
            "The instance is down for maintenance.",
            "The creation of the instance failed or a fatal error occurred during maintenance.",
            "The instance is under maintenance operations and the database is available."
          ]
        },
        "selfLink": {
          "description": "The URI of this resource.",
          "type": "string"
        },
        "ipAddresses": {
          "description": "The assigned IP addresses for the instance.",
          "items": {
            "$ref": "IpMapping"
          },
          "type": "array"
        },
        "etag": {
          "description": "This field is deprecated and will be removed from a future version of the API. Use the **settings.settingsVersion** field instead.",
          "type": "string"
        },
        "onPremisesConfiguration": {
          "description": "Configuration specific to on-premises instances.",
          "$ref": "OnPremisesConfiguration"
        },
        "suspensionReason": {
          "items": {
            "enumDescriptions": [
              "This is an unknown suspension reason.",
              "The instance is suspended due to billing issues (for example:, GCP account issue)",
              "The instance is suspended due to illegal content (for example:, child pornography, copyrighted material, etc.).",
              "The instance is causing operational issues (for example:, causing the database to crash).",
              "The KMS key used by the instance is either revoked or denied access to"
            ],
            "type": "string",
            "enum": [
              "SQL_SUSPENSION_REASON_UNSPECIFIED",
              "BILLING_ISSUE",
              "LEGAL_ISSUE",
              "OPERATIONAL_ISSUE",
              "KMS_KEY_ISSUE"
            ]
          },
          "type": "array",
          "description": "If the instance state is SUSPENDED, the reason for the suspension."
        },
        "replicaConfiguration": {
          "description": "Configuration specific to failover replicas and read replicas.",
          "$ref": "ReplicaConfiguration"
        },
        "gceZone": {
          "type": "string",
          "description": "The Compute Engine zone that the instance is currently serving from. This value could be different from the zone that was specified when the instance was created if the instance has failed over to its secondary zone."
        }
      },
      "description": "A Cloud SQL instance resource."
    },
    "SyncFlags": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the flag."
        },
        "value": {
          "description": "The value of the flag. This field must be omitted if the flag doesn't take a value.",
          "type": "string"
        }
      },
      "description": "Initial sync flags for certain Cloud SQL APIs. Currently used for the MySQL external server initial dump.",
      "id": "SyncFlags",
      "type": "object"
    },
    "DiskEncryptionStatus": {
      "properties": {
        "kind": {
          "description": "This is always **sql#diskEncryptionStatus**.",
          "type": "string"
        },
        "kmsKeyVersionName": {
          "type": "string",
          "description": "KMS key version used to encrypt the Cloud SQL instance resource"
        }
      },
      "description": "Disk encryption status for an instance.",
      "id": "DiskEncryptionStatus",
      "type": "object"
    },
    "ApiWarning": {
      "id": "ApiWarning",
      "description": "An Admin API warning message.",
      "properties": {
        "message": {
          "description": "The warning message.",
          "type": "string"
        },
        "code": {
          "type": "string",
          "enumDescriptions": [
            "An unknown or unset warning type from Cloud SQL API.",
            "Warning when one or more regions are not reachable. The returned result set may be incomplete."
          ],
          "enum": [
            "SQL_API_WARNING_CODE_UNSPECIFIED",
            "REGION_UNREACHABLE"
          ],
          "description": "Code to uniquely identify the warning type."
        },
        "region": {
          "type": "string",
          "description": "The region name for REGION_UNREACHABLE warning."
        }
      },
      "type": "object"
    },
    "MaintenanceWindow": {
      "id": "MaintenanceWindow",
      "description": "Maintenance window. This specifies when a Cloud SQL instance is restarted for system maintenance purposes.",
      "properties": {
        "kind": {
          "description": "This is always **sql#maintenanceWindow**.",
          "type": "string"
        },
        "hour": {
          "description": "hour of day - 0 to 23.",
          "type": "integer",
          "format": "int32"
        },
        "updateTrack": {
          "type": "string",
          "enumDescriptions": [
            "This is an unknown maintenance timing preference.",
            "For instance update that requires a restart, this update track indicates your instance prefer to restart for new version early in maintenance window.",
            "For instance update that requires a restart, this update track indicates your instance prefer to let Cloud SQL choose the timing of restart (within its Maintenance window, if applicable)."
          ],
          "description": "Maintenance timing setting: **canary** (Earlier) or **stable** (Later). [Learn more](https://cloud.google.com/sql/docs/mysql/instance-settings#maintenance-timing-2ndgen).",
          "enum": [
[...]
