{
  "basePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/sqlservice.admin": {
          "description": "Manage your Google SQL Service instances"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "mtlsRootUrl": "https://sqladmin.mtls.googleapis.com/",
  "rootUrl": "https://sqladmin.googleapis.com/",
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    }
  },
  "batchPath": "batch",
  "documentationLink": "https://developers.google.com/cloud-sql/",
  "description": "API for Cloud SQL database instance management",
  "version": "v1beta4",
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "schemas": {
    "SqlServerUserDetails": {
      "type": "object",
      "properties": {
        "serverRoles": {
          "items": {
            "type": "string"
          },
          "description": "The server roles for this user",
          "type": "array"
        },
        "disabled": {
          "description": "If the user has been disabled",
          "type": "boolean"
        }
      },
      "description": "Represents a Sql Server user on the Cloud SQL instance.",
      "id": "SqlServerUserDetails"
    },
    "CloneContext": {
      "type": "object",
      "id": "CloneContext",
      "description": "Database instance clone context.",
      "properties": {
        "allocatedIpRange": {
          "type": "string",
          "description": "The name of the allocated ip range for the private ip Cloud SQL instance. For example: \"google-managed-services-default\". If set, the cloned instance ip will be created in the allocated range. The range name must comply with [RFC 1035](https://tools.ietf.org/html/rfc1035). Specifically, the name must be 1-63 characters long and match the regular expression [a-z]([-a-z0-9]*[a-z0-9])?. Reserved for future use."
        },
        "pointInTime": {
          "description": "Timestamp, if specified, identifies the time to which the source instance is cloned.",
          "type": "string",
          "format": "google-datetime"
        },
        "databaseNames": {
          "items": {
            "type": "string"
          },
          "description": "(SQL Server only) Clone only the specified databases from the source instance. Clone all databases if empty.",
          "type": "array"
        },
        "kind": {
          "description": "This is always `sql#cloneContext`.",
          "type": "string"
        },
        "pitrTimestampMs": {
          "type": "string",
          "description": "Reserved for future use.",
          "format": "int64"
        },
        "destinationInstanceName": {
          "type": "string",
          "description": "Name of the Cloud SQL instance to be created as a clone."
        },
        "binLogCoordinates": {
          "$ref": "BinLogCoordinates",
          "description": "Binary log coordinates, if specified, identify the position up to which the source instance is cloned. If not specified, the source instance is cloned up to the most recent binary log coordinates."
        }
      }
    },
    "IpMapping": {
      "id": "IpMapping",
      "type": "object",
      "description": "Database instance IP Mapping.",
      "properties": {
        "timeToRetire": {
          "format": "google-datetime",
          "type": "string",
          "description": "The due time for this IP to be retired in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`. This field is only available when the IP is scheduled to be retired."
        },
        "ipAddress": {
          "description": "The IP address assigned.",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "This is an unknown IP address type.",
            "IP address the customer is supposed to connect to. Usually this is the load balancer's IP address",
            "Source IP address of the connection a read replica establishes to its external primary instance. This IP address can be allowlisted by the customer in case it has a firewall that filters incoming connection to its on premises primary instance.",
            "Private IP used when using private IPs and network peering.",
            "V1 IP of a migrated instance. We want the user to decommission this IP as soon as the migration is complete. Note: V1 instances with V1 ip addresses will be counted as PRIMARY."
          ],
          "enum": [
            "SQL_IP_ADDRESS_TYPE_UNSPECIFIED",
            "PRIMARY",
            "OUTGOING",
            "PRIVATE",
            "MIGRATED_1ST_GEN"
          ],
          "description": "The type of this IP address. A `PRIMARY` address is a public address that can accept incoming connections. A `PRIVATE` address is a private address that can accept incoming connections. An `OUTGOING` address is the source address of connections originating from the instance, if supported.",
          "type": "string"
        }
      }
    },
    "SqlInstancesVerifyExternalSyncSettingsRequest": {
      "type": "object",
      "id": "SqlInstancesVerifyExternalSyncSettingsRequest",
      "properties": {
        "syncMode": {
          "enumDescriptions": [
            "Unknown external sync mode, will be defaulted to ONLINE mode",
            "Online external sync will set up replication after initial data external sync",
            "Offline external sync only dumps and loads a one-time snapshot of the primary instance's data"
          ],
          "enum": [
            "EXTERNAL_SYNC_MODE_UNSPECIFIED",
            "ONLINE",
            "OFFLINE"
          ],
          "type": "string",
          "description": "External sync mode"
        },
        "mysqlSyncConfig": {
          "$ref": "MySqlSyncConfig",
          "description": "Optional. MySQL-specific settings for start external sync."
        },
        "verifyReplicationOnly": {
          "description": "Optional. Flag to verify settings required by replication setup only",
          "type": "boolean"
        },
        "verifyConnectionOnly": {
          "type": "boolean",
          "description": "Flag to enable verifying connection only"
        }
      }
    },
    "BinLogCoordinates": {
      "description": "Binary log coordinates.",
      "properties": {
        "binLogFileName": {
          "description": "Name of the binary log file for a Cloud SQL instance.",
          "type": "string"
        },
        "binLogPosition": {
          "type": "string",
          "format": "int64",
          "description": "Position (offset) within the binary log file."
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#binLogCoordinates`."
        }
      },
      "id": "BinLogCoordinates",
      "type": "object"
    },
    "Flag": {
      "description": "A flag resource.",
      "properties": {
        "kind": {
          "description": "This is always `sql#flag`.",
          "type": "string"
        },
        "appliesTo": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "This is an unknown database version.",
              "The database version is MySQL 5.1.",
              "The database version is MySQL 5.5.",
              "The database version is MySQL 5.6.",
              "The database version is MySQL 5.7.",
              "The database version is SQL Server 2017 Standard.",
              "The database version is SQL Server 2017 Enterprise.",
              "The database version is SQL Server 2017 Express.",
              "The database version is SQL Server 2017 Web.",
              "The database version is PostgreSQL 9.6.",
              "The database version is PostgreSQL 10.",
              "The database version is PostgreSQL 11.",
              "The database version is PostgreSQL 12.",
              "The database version is PostgreSQL 13.",
              "The database version is PostgreSQL 14.",
              "The database version is MySQL 8.",
              "The database major version is MySQL 8.0 and the minor version is 18.",
              "The database major version is MySQL 8.0 and the minor version is 26.",
              "The database major version is MySQL 8.0 and the minor version is 27.",
              "The database major version is MySQL 8.0 and the minor version is 28.",
              "The database major version is MySQL 8.0 and the minor version is 29.",
              "The database major version is MySQL 8.0 and the minor version is 30.",
              "The database major version is MySQL 8.0 and the minor version is 31.",
              "The database major version is MySQL 8.0 and the minor version is 32.",
              "The database version is SQL Server 2019 Standard.",
              "The database version is SQL Server 2019 Enterprise.",
              "The database version is SQL Server 2019 Express.",
              "The database version is SQL Server 2019 Web."
            ],
            "enum": [
              "SQL_DATABASE_VERSION_UNSPECIFIED",
              "MYSQL_5_1",
              "MYSQL_5_5",
              "MYSQL_5_6",
              "MYSQL_5_7",
              "SQLSERVER_2017_STANDARD",
              "SQLSERVER_2017_ENTERPRISE",
              "SQLSERVER_2017_EXPRESS",
              "SQLSERVER_2017_WEB",
              "POSTGRES_9_6",
              "POSTGRES_10",
              "POSTGRES_11",
              "POSTGRES_12",
              "POSTGRES_13",
              "POSTGRES_14",
              "MYSQL_8_0",
              "MYSQL_8_0_18",
              "MYSQL_8_0_26",
              "MYSQL_8_0_27",
              "MYSQL_8_0_28",
              "MYSQL_8_0_29",
              "MYSQL_8_0_30",
              "MYSQL_8_0_31",
              "MYSQL_8_0_32",
              "SQLSERVER_2019_STANDARD",
              "SQLSERVER_2019_ENTERPRISE",
              "SQLSERVER_2019_EXPRESS",
              "SQLSERVER_2019_WEB"
            ]
          },
          "type": "array",
          "description": "The database version this flag applies to. Can be MySQL instances: `MYSQL_8_0`, `MYSQL_8_0_18`, `MYSQL_8_0_26`, `MYSQL_5_7`, or `MYSQL_5_6`. PostgreSQL instances: `POSTGRES_9_6`, `POSTGRES_10`, `POSTGRES_11` or `POSTGRES_12`. SQL Server instances: `SQLSERVER_2017_STANDARD`, `SQLSERVER_2017_ENTERPRISE`, `SQLSERVER_2017_EXPRESS`, `SQLSERVER_2017_WEB`, `SQLSERVER_2019_STANDARD`, `SQLSERVER_2019_ENTERPRISE`, `SQLSERVER_2019_EXPRESS`, or `SQLSERVER_2019_WEB`. See [the complete list](/sql/docs/mysql/admin-api/rest/v1/SqlDatabaseVersion)."
        },
        "minValue": {
          "type": "string",
          "description": "For `INTEGER` flags, the minimum allowed value.",
          "format": "int64"
        },
        "allowedStringValues": {
          "type": "array",
          "description": "For `STRING` flags, a list of strings that the value can be set to.",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "This is the name of the flag. Flag names always use underscores, not hyphens, for example: `max_allowed_packet`"
        },
        "maxValue": {
          "description": "For `INTEGER` flags, the maximum allowed value.",
          "format": "int64",
          "type": "string"
        },
        "allowedIntValues": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "Use this field if only certain integers are accepted. Can be combined with min_value and max_value to add additional values.",
          "type": "array"
        },
        "inBeta": {
          "description": "Whether or not the flag is considered in beta.",
          "type": "boolean"
        },
        "type": {
          "type": "string",
          "enum": [
            "SQL_FLAG_TYPE_UNSPECIFIED",
            "BOOLEAN",
            "STRING",
            "INTEGER",
            "NONE",
            "MYSQL_TIMEZONE_OFFSET",
            "FLOAT",
            "REPEATED_STRING"
          ],
          "description": "The type of the flag. Flags are typed to being `BOOLEAN`, `STRING`, `INTEGER` or `NONE`. `NONE` is used for flags which do not take a value, such as `skip_grant_tables`.",
          "enumDescriptions": [
            "This is an unknown flag type.",
            "Boolean type flag.",
            "String type flag.",
            "Integer type flag.",
            "Flag type used for a server startup option.",
            "Type introduced specially for MySQL TimeZone offset. Accept a string value with the format [-12:59, 13:00].",
            "Float type flag.",
            "Comma-separated list of the strings in a SqlFlagType enum."
          ]
        },
        "requiresRestart": {
          "type": "boolean",
          "description": "Indicates whether changing this flag will trigger a database restart. Only applicable to Second Generation instances."
        }
      },
      "type": "object",
      "id": "Flag"
    },
    "RestoreBackupContext": {
      "id": "RestoreBackupContext",
      "type": "object",
      "description": "Database instance restore from backup context. Backup context contains source instance id and project id.",
      "properties": {
        "kind": {
          "description": "This is always `sql#restoreBackupContext`.",
          "type": "string"
        },
        "project": {
          "description": "The full project ID of the source instance.",
          "type": "string"
        },
        "instanceId": {
          "type": "string",
          "description": "The ID of the instance that the backup was taken from."
        },
        "backupRunId": {
          "description": "The ID of the backup run to restore from.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "InstancesExportRequest": {
      "properties": {
        "exportContext": {
          "description": "Contains details about the export operation.",
          "$ref": "ExportContext"
        }
      },
      "id": "InstancesExportRequest",
      "type": "object",
      "description": "Database instance export request."
    },
    "LocationPreference": {
      "type": "object",
      "properties": {
        "followGaeApplication": {
          "description": "The App Engine application to follow, it must be in the same region as the Cloud SQL instance. WARNING: Changing this might restart the instance.",
          "type": "string"
        },
        "kind": {
          "description": "This is always `sql#locationPreference`.",
          "type": "string"
        },
        "secondaryZone": {
          "description": "The preferred Compute Engine zone for the secondary/failover (for example: us-central1-a, us-central1-b, etc.).",
          "type": "string"
        },
        "zone": {
          "type": "string",
          "description": "The preferred Compute Engine zone (for example: us-central1-a, us-central1-b, etc.). WARNING: Changing this might restart the instance."
        }
      },
      "description": "Preferred location. This specifies where a Cloud SQL instance is located. Note that if the preferred location is not available, the instance will be located as close as possible within the region. Only one location may be specified.",
      "id": "LocationPreference"
    },
    "SslCertsInsertRequest": {
      "properties": {
        "commonName": {
          "description": "User supplied name. Must be a distinct name from the other certificates for this instance.",
          "type": "string"
        }
      },
      "description": "SslCerts insert request.",
      "id": "SslCertsInsertRequest",
      "type": "object"
    },
    "IpConfiguration": {
      "properties": {
        "requireSsl": {
          "type": "boolean",
          "description": "Whether SSL connections over IP are enforced or not."
        },
        "ipv4Enabled": {
          "description": "Whether the instance is assigned a public IP address or not.",
          "type": "boolean"
        },
        "allocatedIpRange": {
          "description": "The name of the allocated ip range for the private ip Cloud SQL instance. For example: \"google-managed-services-default\". If set, the instance ip will be created in the allocated range. The range name must comply with [RFC 1035](https://tools.ietf.org/html/rfc1035). Specifically, the name must be 1-63 characters long and match the regular expression `[a-z]([-a-z0-9]*[a-z0-9])?.`",
          "type": "string"
        },
        "authorizedNetworks": {
          "items": {
            "$ref": "AclEntry"
          },
          "type": "array",
          "description": "The list of external networks that are allowed to connect to the instance using the IP. In 'CIDR' notation, also known as 'slash' notation (for example: `157.197.200.0/24`)."
        },
        "enablePrivatePathForGoogleCloudServices": {
          "type": "boolean",
          "description": "Controls connectivity to private IP instances from Google services, such as BigQuery."
        },
        "privateNetwork": {
          "description": "The resource link for the VPC network from which the Cloud SQL instance is accessible for private IP. For example, `/projects/myProject/global/networks/default`. This setting can be updated, but it cannot be removed after it is set.",
          "type": "string"
        }
      },
      "description": "IP Management configuration.",
      "id": "IpConfiguration",
      "type": "object"
    },
    "TiersListResponse": {
      "properties": {
        "items": {
          "items": {
            "$ref": "Tier"
          },
          "type": "array",
          "description": "List of tiers."
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#tiersList`."
        }
      },
      "type": "object",
      "description": "Tiers list response.",
      "id": "TiersListResponse"
    },
    "BackupContext": {
      "type": "object",
      "description": "Backup context.",
      "id": "BackupContext",
      "properties": {
        "kind": {
          "description": "This is always `sql#backupContext`.",
          "type": "string"
        },
        "backupId": {
          "description": "The identifier of the backup.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "MaintenanceWindow": {
      "properties": {
        "hour": {
          "format": "int32",
          "description": "hour of day - 0 to 23.",
          "type": "integer"
        },
        "kind": {
          "description": "This is always `sql#maintenanceWindow`.",
          "type": "string"
        },
        "updateTrack": {
          "enumDescriptions": [
            "This is an unknown maintenance timing preference.",
            "For instance update that requires a restart, this update track indicates your instance prefer to restart for new version early in maintenance window.",
            "For instance update that requires a restart, this update track indicates your instance prefer to let Cloud SQL choose the timing of restart (within its Maintenance window, if applicable)."
          ],
          "description": "Maintenance timing setting: `canary` (Earlier) or `stable` (Later). [Learn more](https://cloud.google.com/sql/docs/mysql/instance-settings#maintenance-timing-2ndgen).",
          "enum": [
            "SQL_UPDATE_TRACK_UNSPECIFIED",
            "canary",
            "stable"
          ],
          "type": "string"
        },
        "day": {
          "type": "integer",
          "format": "int32",
          "description": "day of week (1-7), starting on Monday."
        }
      },
      "type": "object",
      "description": "Maintenance window. This specifies when a Cloud SQL instance is restarted for system maintenance purposes.",
      "id": "MaintenanceWindow"
    },
    "ApiWarning": {
      "properties": {
        "region": {
          "description": "The region name for REGION_UNREACHABLE warning.",
          "type": "string"
        },
        "message": {
          "description": "The warning message.",
          "type": "string"
        },
        "code": {
          "description": "Code to uniquely identify the warning type.",
          "enum": [
            "SQL_API_WARNING_CODE_UNSPECIFIED",
            "REGION_UNREACHABLE",
            "MAX_RESULTS_EXCEEDS_LIMIT"
          ],
          "enumDescriptions": [
            "An unknown or unset warning type from Cloud SQL API.",
            "Warning when one or more regions are not reachable. The returned result set may be incomplete.",
            "Warning when user provided maxResults parameter exceeds the limit. The returned result set may be incomplete."
          ],
          "type": "string"
        }
      },
      "type": "object",
      "description": "An Admin API warning message.",
      "id": "ApiWarning"
    },
    "BackupConfiguration": {
      "id": "BackupConfiguration",
      "properties": {
        "location": {
          "type": "string",
          "description": "Location of the backup"
        },
        "pointInTimeRecoveryEnabled": {
          "type": "boolean",
          "description": "(Postgres only) Whether point in time recovery is enabled."
        },
        "transactionLogRetentionDays": {
          "description": "The number of days of transaction logs we retain for point in time restore, from 1-7.",
          "format": "int32",
          "type": "integer"
        },
        "startTime": {
          "type": "string",
          "description": "Start time for the daily backup configuration in UTC timezone in the 24 hour format - `HH:MM`."
        },
        "replicationLogArchivingEnabled": {
          "description": "Reserved for future use.",
          "type": "boolean"
        },
        "backupRetentionSettings": {
          "description": "Backup retention settings.",
          "$ref": "BackupRetentionSettings"
        },
        "kind": {
          "description": "This is always `sql#backupConfiguration`.",
          "type": "string"
        },
        "enabled": {
          "description": "Whether this configuration is enabled.",
          "type": "boolean"
        },
        "binaryLogEnabled": {
          "type": "boolean",
          "description": "(MySQL only) Whether binary log is enabled. If backup configuration is disabled, binarylog must be disabled as well."
        }
      },
      "description": "Database instance backup configuration.",
      "type": "object"
    },
    "SqlOutOfDiskReport": {
      "type": "object",
      "properties": {
        "sqlOutOfDiskState": {
          "description": "This field represents the state generated by the proactive database wellness job for OutOfDisk issues. * Writers: * the proactive database wellness job for OOD. * Readers: * the proactive database wellness job",
          "enum": [
            "SQL_OUT_OF_DISK_STATE_UNSPECIFIED",
            "NORMAL",
            "SOFT_SHUTDOWN"
          ],
          "enumDescriptions": [
            "Unspecified state",
            "The instance has plenty space on data disk",
            "Data disk is almost used up. It is shutdown to prevent data corruption."
          ],
          "type": "string"
        },
        "sqlMinRecommendedIncreaseSizeGb": {
          "type": "integer",
          "description": "The minimum recommended increase size in GigaBytes This field is consumed by the frontend * Writers: * the proactive database wellness job for OOD. * Readers:",
          "format": "int32"
        }
      },
      "id": "SqlOutOfDiskReport",
      "description": "This message wraps up the information written by out-of-disk detection job."
    },
    "FlagsListResponse": {
      "description": "Flags list response.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "This is always `sql#flagsList`."
        },
        "items": {
          "items": {
            "$ref": "Flag"
          },
          "type": "array",
          "description": "List of flags."
        }
      },
      "id": "FlagsListResponse",
      "type": "object"
    },
    "BackupRunsListResponse": {
      "description": "Backup run list results.",
      "type": "object",
      "properties": {
        "items": {
          "items": {
            "$ref": "BackupRun"
          },
          "description": "A list of backup runs in reverse chronological order of the enqueued time.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results.",
          "type": "string"
        },
        "kind": {
          "description": "This is always `sql#backupRunsList`.",
          "type": "string"
        }
      },
      "id": "BackupRunsListResponse"
    },
    "Operation": {
      "id": "Operation",
      "type": "object",
      "properties": {
        "exportContext": {
          "description": "The context for export operation, if applicable.",
          "$ref": "ExportContext"
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time this operation finished in UTC timezone in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`."
        },
        "error": {
          "description": "If errors occurred during processing of this operation, this field will be populated.",
          "$ref": "OperationErrors"
        },
        "status": {
          "type": "string",
          "description": "The status of an operation.",
          "enum": [
            "SQL_OPERATION_STATUS_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "DONE"
          ],
          "enumDescriptions": [
            "The state of the operation is unknown.",
            "The operation has been queued, but has not started yet.",
            "The operation is running.",
            "The operation completed."
          ]
        },
        "user": {
          "description": "The email address of the user who initiated this operation.",
          "type": "string"
        },
        "operationType": {
          "enumDescriptions": [
            "Unknown operation type.",
            "Imports data into a Cloud SQL instance.",
            "Exports data from a Cloud SQL instance to a Cloud Storage bucket.",
            "Creates a new Cloud SQL instance.",
            "Updates the settings of a Cloud SQL instance.",
            "Deletes a Cloud SQL instance.",
            "Restarts the Cloud SQL instance.",
            "",
            "",
            "Performs instance backup.",
            "Deletes an instance backup.",
            "Restores an instance backup.",
            "Injects a privileged user in mysql for MOB instances.",
            "Clones a Cloud SQL instance.",
            "Stops replication on a Cloud SQL read replica instance.",
            "Starts replication on a Cloud SQL read replica instance.",
            "Promotes a Cloud SQL replica instance.",
            "Creates a Cloud SQL replica instance.",
            "Creates a new user in a Cloud SQL instance.",
            "Deletes a user from a Cloud SQL instance.",
            "Updates an existing user in a Cloud SQL instance.",
            "Creates a database in the Cloud SQL instance.",
            "Deletes a database in the Cloud SQL instance.",
            "Updates a database in the Cloud SQL instance.",
            "Performs failover of an HA-enabled Cloud SQL failover replica.",
            "Deletes the backup taken by a backup run.",
            "",
            "Truncates a general or slow log table in MySQL.",
            "Demotes the stand-alone instance to be a Cloud SQL read replica for an external database server.",
            "Indicates that the instance is currently in maintenance. Maintenance typically causes the instance to be unavailable for 1-3 minutes.",
            "This field is deprecated, and will be removed in future version of API.",
            "",
            "Creates clone instance.",
            "Reschedule maintenance to another time.",
            "Starts external sync of a Cloud SQL EM replica to an external primary instance.",
            "Recovers logs from an instance's old data disk.",
            "Performs auto-restart of an HA-enabled Cloud SQL database for auto recovery."
          ],
          "enum": [
            "SQL_OPERATION_TYPE_UNSPECIFIED",
            "IMPORT",
            "EXPORT",
            "CREATE",
            "UPDATE",
            "DELETE",
            "RESTART",
            "BACKUP",
            "SNAPSHOT",
            "BACKUP_VOLUME",
            "DELETE_VOLUME",
            "RESTORE_VOLUME",
            "INJECT_USER",
            "CLONE",
            "STOP_REPLICA",
            "START_REPLICA",
            "PROMOTE_REPLICA",
            "CREATE_REPLICA",
            "CREATE_USER",
            "DELETE_USER",
            "UPDATE_USER",
            "CREATE_DATABASE",
            "DELETE_DATABASE",
            "UPDATE_DATABASE",
            "FAILOVER",
            "DELETE_BACKUP",
            "RECREATE_REPLICA",
            "TRUNCATE_LOG",
            "DEMOTE_MASTER",
            "MAINTENANCE",
            "ENABLE_PRIVATE_IP",
            "DEFER_MAINTENANCE",
            "CREATE_CLONE",
            "RESCHEDULE_MAINTENANCE",
            "START_EXTERNAL_SYNC",
            "LOG_CLEANUP",
            "AUTO_RESTART"
          ],
          "type": "string",
          "description": "The type of the operation. Valid values are: * `CREATE` * `DELETE` * `UPDATE` * `RESTART` * `IMPORT` * `EXPORT` * `BACKUP_VOLUME` * `RESTORE_VOLUME` * `CREATE_USER` * `DELETE_USER` * `CREATE_DATABASE` * `DELETE_DATABASE`"
        },
        "targetLink": {
          "type": "string"
        },
        "targetProject": {
          "description": "The project ID of the target instance related to this operation.",
          "type": "string"
        },
        "backupContext": {
          "$ref": "BackupContext",
          "description": "The context for backup operation, if applicable."
        },
        "kind": {
          "description": "This is always `sql#operation`.",
          "type": "string"
        },
        "importContext": {
          "$ref": "ImportContext",
          "description": "The context for import operation, if applicable."
        },
        "insertTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time this operation was enqueued in UTC timezone in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`."
        },
        "selfLink": {
          "description": "The URI of this resource.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "An identifier that uniquely identifies the operation. You can use this identifier to retrieve the Operations resource that has information about the operation."
        },
        "startTime": {
          "type": "string",
          "description": "The time this operation actually started in UTC timezone in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "format": "google-datetime"
        },
        "targetId": {
          "type": "string",
          "description": "Name of the database instance related to this operation."
        }
      },
      "description": "An Operation resource. For successful operations that return an Operation resource, only the fields relevant to the operation are populated in the resource."
    },
    "ExportContext": {
      "id": "ExportContext",
      "properties": {
        "fileType": {
          "type": "string",
          "enum": [
            "SQL_FILE_TYPE_UNSPECIFIED",
            "SQL",
            "CSV",
            "BAK"
          ],
          "enumDescriptions": [
            "Unknown file type.",
            "File containing SQL statements.",
            "File in CSV format.",
            ""
          ],
          "description": "The file type for the specified uri."
        },
        "databases": {
          "description": "Databases to be exported. `MySQL instances:` If `fileType` is `SQL` and no database is specified, all databases are exported, except for the `mysql` system database. If `fileType` is `CSV`, you can specify one database, either by using this property or by using the `csvExportOptions.selectQuery` property, which takes precedence over this property. `PostgreSQL instances:` You must specify one database to be exported. If `fileType` is `CSV`, this database must match the one specified in the `csvExportOptions.selectQuery` property. `SQL Server instances:` You must specify one database to be exported, and the `fileType` must be `BAK`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "sqlExportOptions": {
          "properties": {
            "tables": {
              "description": "Tables to export, or that were exported, from the specified database. If you specify tables, specify one and only one database. For PostgreSQL instances, you can specify only one table.",
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "mysqlExportOptions": {
              "description": "Options for exporting from MySQL.",
              "properties": {
                "masterData": {
                  "format": "int32",
                  "type": "integer",
                  "description": "Option to include SQL statement required to set up replication. If set to `1`, the dump file includes a CHANGE MASTER TO statement with the binary log coordinates, and --set-gtid-purged is set to ON. If set to `2`, the CHANGE MASTER TO statement is written as a SQL comment and has no effect. If set to any value other than `1`, --set-gtid-purged is set to OFF."
                }
              },
              "type": "object"
            },
            "schemaOnly": {
              "type": "boolean",
              "description": "Export only schemas."
            }
          },
          "description": "Options for exporting data as SQL statements.",
          "type": "object"
        },
        "offload": {
          "type": "boolean",
          "description": "Option for export offload."
        },
        "uri": {
          "type": "string",
          "description": "The path to the file in Google Cloud Storage where the export will be stored. The URI is in the form `gs://bucketName/fileName`. If the file already exists, the request succeeds, but the operation fails. If `fileType` is `SQL` and the filename ends with .gz, the contents are compressed."
        },
        "kind": {
          "description": "This is always `sql#exportContext`.",
          "type": "string"
        },
        "bakExportOptions": {
          "type": "object",
          "properties": {
            "stripeCount": {
              "format": "int32",
              "type": "integer",
              "description": "Option for specifying how many stripes to use for the export. If blank, and the value of the striped field is true, the number of stripes is automatically chosen."
            },
            "striped": {
              "type": "boolean",
              "description": "Whether or not the export should be striped."
            }
          },
          "description": "Options for exporting BAK files (SQL Server-only)"
        },
        "csvExportOptions": {
          "type": "object",
          "properties": {
            "linesTerminatedBy": {
              "type": "string",
              "description": "This is used to separate lines. If a line does not contain all fields, the rest of the columns are set to their default values."
            },
            "fieldsTerminatedBy": {
              "description": "Specifies the character that separates columns within each row (line) of the file.",
              "type": "string"
            },
            "selectQuery": {
              "type": "string",
              "description": "The select query used to extract the data."
            },
            "quoteCharacter": {
              "type": "string",
              "description": "Specifies the quoting character to be used when a data value is quoted."
            },
            "escapeCharacter": {
              "description": "Specifies the character that should appear before a data character that needs to be escaped.",
              "type": "string"
            }
          },
          "description": "Options for exporting data as CSV. `MySQL` and `PostgreSQL` instances only."
        }
      },
      "description": "Database instance export context.",
      "type": "object"
    },
    "SslCertDetail": {
      "id": "SslCertDetail",
      "type": "object",
      "properties": {
        "certInfo": {
          "$ref": "SslCert",
          "description": "The public information about the cert."
        },
        "certPrivateKey": {
          "type": "string",
          "description": "The private key for the client cert, in pem format. Keep private in order to protect your security."
        }
      },
      "description": "SslCertDetail."
    },
    "DiskEncryptionConfiguration": {
      "id": "DiskEncryptionConfiguration",
      "description": "Disk encryption configuration for an instance.",
      "properties": {
        "kmsKeyName": {
          "description": "Resource name of KMS key for disk encryption",
          "type": "string"
        },
        "kind": {
          "description": "This is always `sql#diskEncryptionConfiguration`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "InstancesCloneRequest": {
      "description": "Database instance clone request.",
      "id": "InstancesCloneRequest",
      "properties": {
        "cloneContext": {
          "$ref": "CloneContext",
          "description": "Contains details about the clone operation."
        }
      },
      "type": "object"
    },
    "InsightsConfig": {
      "properties": {
        "queryInsightsEnabled": {
          "description": "Whether Query Insights feature is enabled.",
          "type": "boolean"
        },
        "recordApplicationTags": {
          "description": "Whether Query Insights will record application tags from query when enabled.",
          "type": "boolean"
        },
        "queryStringLength": {
          "description": "Maximum query length stored in bytes. Default value: 1024 bytes. Range: 256-4500 bytes. Query length more than this field value will be truncated to this value. When unset, query length will be the default value. Changing query length will restart the database.",
          "format": "int32",
          "type": "integer"
        },
        "queryPlansPerMinute": {
          "type": "integer",
          "description": "Number of query execution plans captured by Insights per minute for all queries combined. Default is 5.",
          "format": "int32"
        },
        "recordClientAddress": {
          "description": "Whether Query Insights will record client address when enabled.",
          "type": "boolean"
        }
      },
      "description": "Insights configuration. This specifies when Cloud SQL Insights feature is enabled and optional configuration.",
      "type": "object",
      "id": "InsightsConfig"
    },
    "InstancesImportRequest": {
      "type": "object",
      "id": "InstancesImportRequest",
      "description": "Database instance import request.",
      "properties": {
        "importContext": {
          "description": "Contains details about the import operation.",
          "$ref": "ImportContext"
        }
      }
    },
    "InstancesDemoteMasterRequest": {
      "properties": {
        "demoteMasterContext": {
          "description": "Contains details about the demoteMaster operation.",
          "$ref": "DemoteMasterContext"
        }
      },
      "id": "InstancesDemoteMasterRequest",
      "type": "object",
      "description": "Database demote primary instance request."
    },
    "TruncateLogContext": {
      "type": "object",
      "id": "TruncateLogContext",
      "properties": {
        "logType": {
          "type": "string",
          "description": "The type of log to truncate. Valid values are `MYSQL_GENERAL_TABLE` and `MYSQL_SLOW_TABLE`."
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#truncateLogContext`."
        }
      },
      "description": "Database Instance truncate log context."
    },
    "AclEntry": {
      "description": "An entry for an Access Control list.",
      "id": "AclEntry",
      "properties": {
        "expirationTime": {
          "description": "The time when this access control entry expires in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "type": "string",
          "format": "google-datetime"
        },
        "value": {
          "type": "string",
          "description": "The allowlisted value for the access control list."
        },
        "name": {
          "description": "Optional. A label to identify this entry.",
          "type": "string"
        },
        "kind": {
          "description": "This is always `sql#aclEntry`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "BackupRetentionSettings": {
      "properties": {
        "retainedBackups": {
          "description": "Depending on the value of retention_unit, this is used to determine if a backup needs to be deleted. If retention_unit is 'COUNT', we will retain this many backups.",
          "type": "integer",
          "format": "int32"
        },
        "retentionUnit": {
          "type": "string",
          "description": "The unit that 'retained_backups' represents.",
          "enumDescriptions": [
            "Backup retention unit is unspecified, will be treated as COUNT.",
            "Retention will be by count, eg. \"retain the most recent 7 backups\"."
          ],
          "enum": [
            "RETENTION_UNIT_UNSPECIFIED",
            "COUNT"
          ]
        }
      },
      "type": "object",
      "description": "We currently only support backup retention by specifying the number of backups we will retain.",
      "id": "BackupRetentionSettings"
    },
    "MySqlReplicaConfiguration": {
      "description": "Read-replica configuration specific to MySQL databases.",
      "properties": {
        "dumpFilePath": {
          "description": "Path to a SQL dump file in Google Cloud Storage from which the replica instance is to be created. The URI is in the form gs://bucketName/fileName. Compressed gzip files (.gz) are also supported. Dumps have the binlog co-ordinates from which replication begins. This can be accomplished by setting --master-data to 1 when using mysqldump.",
          "type": "string"
        },
        "sslCipher": {
          "description": "A list of permissible ciphers to use for SSL encryption.",
          "type": "string"
        },
        "password": {
          "description": "The password for the replication connection.",
          "type": "string"
        },
        "caCertificate": {
          "description": "PEM representation of the trusted CA's x509 certificate.",
          "type": "string"
        },
        "connectRetryInterval": {
          "format": "int32",
          "type": "integer",
          "description": "Seconds to wait between connect retries. MySQL's default is 60 seconds."
        },
        "clientKey": {
          "type": "string",
          "description": "PEM representation of the replica's private key. The corresponsing public key is encoded in the client's certificate."
        },
        "verifyServerCertificate": {
          "description": "Whether or not to check the primary instance's Common Name value in the certificate that it sends during the SSL handshake.",
          "type": "boolean"
        },
        "username": {
          "description": "The username for the replication connection.",
          "type": "string"
        },
        "masterHeartbeatPeriod": {
          "type": "string",
          "format": "int64",
          "description": "Interval in milliseconds between replication heartbeats."
        },
        "clientCertificate": {
          "description": "PEM representation of the replica's x509 certificate.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#mysqlReplicaConfiguration`."
        }
      },
      "type": "object",
      "id": "MySqlReplicaConfiguration"
    },
    "SslCertsInsertResponse": {
      "description": "SslCert insert response.",
      "type": "object",
      "properties": {
        "clientCert": {
          "$ref": "SslCertDetail",
          "description": "The new client certificate and private key."
        },
        "serverCaCert": {
          "description": "The server Certificate Authority's certificate. If this is missing you can force a new one to be generated by calling resetSslConfig method on instances resource.",
          "$ref": "SslCert"
        },
        "kind": {
          "description": "This is always `sql#sslCertsInsert`.",
          "type": "string"
        },
        "operation": {
          "$ref": "Operation",
          "description": "The operation to track the ssl certs insert request."
        }
      },
      "id": "SslCertsInsertResponse"
    },
    "SyncFlags": {
      "description": "Initial sync flags for certain Cloud SQL APIs. Currently used for the MySQL external server initial dump.",
      "properties": {
        "value": {
          "description": "The value of the flag. This field must be omitted if the flag doesn't take a value.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the flag."
        }
      },
      "type": "object",
      "id": "SyncFlags"
    },
    "SqlScheduledMaintenance": {
      "type": "object",
      "properties": {
        "canDefer": {
          "type": "boolean"
        },
        "canReschedule": {
          "description": "If the scheduled maintenance can be rescheduled.",
          "type": "boolean"
        },
        "scheduleDeadlineTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Maintenance cannot be rescheduled to start beyond this deadline."
        },
        "startTime": {
          "format": "google-datetime",
          "description": "The start time of any upcoming scheduled maintenance for this instance.",
          "type": "string"
        }
      },
      "id": "SqlScheduledMaintenance",
      "description": "Any scheduled maintenance for this instance."
    },
    "Settings": {
      "properties": {
        "tier": {
          "description": "The tier (or machine type) for this instance, for example `db-custom-1-3840`. WARNING: Changing this restarts the instance.",
          "type": "string"
        },
        "databaseFlags": {
          "type": "array",
          "items": {
            "$ref": "DatabaseFlags"
          },
          "description": "The database flags passed to the instance at startup."
        },
        "timeZone": {
          "type": "string",
          "description": "Server timezone, relevant only for Cloud SQL for SQL Server."
        },
        "userLabels": {
          "description": "User-provided labels, represented as a dictionary where each label is a single key value pair.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "collation": {
          "description": "The name of server Instance collation.",
          "type": "string"
        },
        "denyMaintenancePeriods": {
          "description": "Deny maintenance periods",
          "type": "array",
          "items": {
            "$ref": "DenyMaintenancePeriod"
          }
        },
        "insightsConfig": {
          "description": "Insights configuration, for now relevant only for Postgres.",
          "$ref": "InsightsConfig"
        },
        "ipConfiguration": {
          "description": "The settings for IP Management. This allows to enable or disable the instance IP and manage which external networks can connect to the instance. The IPv4 address cannot be disabled for Second Generation instances.",
          "$ref": "IpConfiguration"
        },
        "settingsVersion": {
          "description": "The version of instance settings. This is a required field for update method to make sure concurrent updates are handled properly. During update, use the most recent settingsVersion value for this instance and do not try to update this value.",
          "type": "string",
          "format": "int64"
        },
        "dataDiskSizeGb": {
          "format": "int64",
          "description": "The size of data disk, in GB. The data disk size minimum is 10GB.",
          "type": "string"
        },
        "pricingPlan": {
          "enumDescriptions": [
            "This is an unknown pricing plan for this instance.",
            "The instance is billed at a monthly flat rate.",
            "The instance is billed per usage."
          ],
          "enum": [
            "SQL_PRICING_PLAN_UNSPECIFIED",
            "PACKAGE",
            "PER_USE"
          ],
          "type": "string",
          "description": "The pricing plan for this instance. This can be either `PER_USE` or `PACKAGE`. Only `PER_USE` is supported for Second Generation instances."
        },
        "locationPreference": {
          "description": "The location preference settings. This allows the instance to be located as near as possible to either an App Engine app or Compute Engine zone for better performance. App Engine co-location was only applicable to First Generation instances.",
          "$ref": "LocationPreference"
        },
        "storageAutoResize": {
          "type": "boolean",
          "description": "Configuration to increase storage size automatically. The default value is true."
        },
        "activeDirectoryConfig": {
          "$ref": "SqlActiveDirectoryConfig",
          "description": "Active Directory configuration, relevant only for Cloud SQL for SQL Server."
        },
        "storageAutoResizeLimit": {
          "description": "The maximum size to which storage capacity can be automatically increased. The default value is 0, which specifies that there is no limit.",
          "type": "string",
          "format": "int64"
        },
        "authorizedGaeApplications": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The App Engine app IDs that can access this instance. (Deprecated) Applied to First Generation instances only."
        },
        "connectorEnforcement": {
          "enum": [
            "CONNECTOR_ENFORCEMENT_UNSPECIFIED",
            "NOT_REQUIRED",
            "REQUIRED"
          ],
          "enumDescriptions": [
            "The requirement for Cloud SQL connectors is unknown.",
            "Do not require Cloud SQL connectors.",
            "Require all connections to use Cloud SQL connectors, including the Cloud SQL Auth Proxy and Cloud SQL Java, Python, and Go connectors. Note: This disables all existing authorized networks."
          ],
          "description": "Specifies if connections must use Cloud SQL connectors. Option values include the following: `NOT_REQUIRED` (Cloud SQL instances can be connected without Cloud SQL Connectors) and `REQUIRED` (Only allow connections that use Cloud SQL Connectors) Note that using REQUIRED disables all existing authorized networks. If this field is not specified when creating a new instance, NOT_REQUIRED is used. If this field is not specified when patching or updating an existing instance, it is left unchanged in the instance.",
          "type": "string"
        },
        "sqlServerAuditConfig": {
          "description": "SQL Server specific audit configuration.",
          "$ref": "SqlServerAuditConfig"
        },
        "backupConfiguration": {
          "description": "The daily backup configuration for the instance.",
          "$ref": "BackupConfiguration"
        },
        "availabilityType": {
          "description": "Availability type. Potential values: * `ZONAL`: The instance serves data from only one zone. Outages in that zone affect data accessibility. * `REGIONAL`: The instance can serve data from more than one zone in a region (it is highly available)./ For more information, see [Overview of the High Availability Configuration](https://cloud.google.com/sql/docs/mysql/high-availability).",
          "enumDescriptions": [
            "This is an unknown Availability type.",
            "Zonal available instance.",
            "Regional available instance."
          ],
          "type": "string",
          "enum": [
            "SQL_AVAILABILITY_TYPE_UNSPECIFIED",
            "ZONAL",
            "REGIONAL"
          ]
        },
        "replicationType": {
          "description": "The type of replication this instance uses. This can be either `ASYNCHRONOUS` or `SYNCHRONOUS`. (Deprecated) This property was only applicable to First Generation instances.",
          "type": "string",
          "enumDescriptions": [
            "This is an unknown replication type for a Cloud SQL instance.",
            "The synchronous replication mode for First Generation instances. It is the default value.",
            "The asynchronous replication mode for First Generation instances. It provides a slight performance gain, but if an outage occurs while this option is set to asynchronous, you can lose up to a few seconds of updates to your data."
          ],
          "enum": [
            "SQL_REPLICATION_TYPE_UNSPECIFIED",
            "SYNCHRONOUS",
            "ASYNCHRONOUS"
          ]
        },
        "passwordValidationPolicy": {
          "description": "The local user password validation policy of the instance.",
          "$ref": "PasswordValidationPolicy"
        },
        "crashSafeReplicationEnabled": {
          "description": "Configuration specific to read replica instances. Indicates whether database flags for crash-safe replication are enabled. This property was only applicable to First Generation instances.",
          "type": "boolean"
        },
        "dataDiskType": {
          "enum": [
            "SQL_DATA_DISK_TYPE_UNSPECIFIED",
            "PD_SSD",
            "PD_HDD",
            "OBSOLETE_LOCAL_SSD"
          ],
          "description": "The type of data disk: `PD_SSD` (default) or `PD_HDD`. Not used for First Generation instances.",
          "enumDescriptions": [
            "This is an unknown data disk type.",
            "An SSD data disk.",
            "An HDD data disk.",
            "This field is deprecated and will be removed from a future version of the API."
          ],
          "type": "string"
        },
        "deletionProtectionEnabled": {
          "description": "Configuration to protect against accidental instance deletion.",
          "type": "boolean"
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#settings`."
        },
        "maintenanceWindow": {
          "$ref": "MaintenanceWindow",
          "description": "The maintenance window for this instance. This specifies when the instance can be restarted for maintenance purposes."
        },
        "activationPolicy": {
          "description": "The activation policy specifies when the instance is activated; it is applicable only when the instance state is RUNNABLE. Valid values: * `ALWAYS`: The instance is on, and remains so even in the absence of connection requests. * `NEVER`: The instance is off; it is not activated, even if a connection request arrives.",
          "enumDescriptions": [
            "Unknown activation plan.",
            "The instance is always up and running.",
            "The instance never starts.",
            "The instance starts upon receiving requests."
          ],
          "type": "string",
          "enum": [
            "SQL_ACTIVATION_POLICY_UNSPECIFIED",
            "ALWAYS",
            "NEVER",
            "ON_DEMAND"
          ]
        },
        "databaseReplicationEnabled": {
          "type": "boolean",
          "description": "Configuration specific to read replica instances. Indicates whether replication is enabled or not. WARNING: Changing this restarts the instance."
        }
      },
      "type": "object",
      "description": "Database instance settings.",
      "id": "Settings"
    },
    "DatabasesListResponse": {
      "properties": {
        "items": {
          "description": "List of database resources in the instance.",
          "type": "array",
          "items": {
            "$ref": "Database"
          }
        },
        "kind": {
          "description": "This is always `sql#databasesList`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "DatabasesListResponse",
      "description": "Database list response."
    },
    "GenerateEphemeralCertResponse": {
      "properties": {
        "ephemeralCert": {
          "$ref": "SslCert",
          "description": "Generated cert"
        }
      },
      "id": "GenerateEphemeralCertResponse",
      "type": "object",
      "description": "Ephemeral certificate creation request."
    },
    "OperationErrors": {
      "id": "OperationErrors",
      "properties": {
        "errors": {
          "items": {
            "$ref": "OperationError"
          },
          "type": "array",
          "description": "The list of errors encountered while processing this operation."
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#operationErrors`."
        }
      },
      "description": "Database instance operation errors list wrapper.",
      "type": "object"
    },
    "PasswordStatus": {
      "id": "PasswordStatus",
      "type": "object",
      "description": "Read-only password status.",
      "properties": {
        "locked": {
          "description": "If true, user does not have login privileges.",
          "type": "boolean"
        },
        "passwordExpirationTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The expiration time of the current password."
        }
      }
    },
    "UserPasswordValidationPolicy": {
      "id": "UserPasswordValidationPolicy",
      "type": "object",
      "properties": {
        "status": {
          "$ref": "PasswordStatus",
          "readOnly": true,
          "description": "Output only. Read-only password status."
        },
        "enablePasswordVerification": {
          "type": "boolean",
          "description": "If true, the user must specify the current password before changing the password. This flag is supported only for MySQL."
        },
        "enableFailedAttemptsCheck": {
          "description": "If true, failed login attempts check will be enabled.",
          "type": "boolean"
        },
        "passwordExpirationDuration": {
          "format": "google-duration",
          "description": "Expiration duration after password is updated.",
          "type": "string"
        },
        "allowedFailedAttempts": {
          "format": "int32",
          "description": "Number of failed login attempts allowed before user get locked.",
          "type": "integer"
        }
      },
      "description": "User level password validation policy."
    },
    "DemoteMasterMySqlReplicaConfiguration": {
      "description": "Read-replica configuration specific to MySQL databases.",
      "properties": {
        "username": {
          "type": "string",
          "description": "The username for the replication connection."
        },
        "clientCertificate": {
          "type": "string",
          "description": "PEM representation of the replica's x509 certificate."
        },
        "caCertificate": {
          "type": "string",
          "description": "PEM representation of the trusted CA's x509 certificate."
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#demoteMasterMysqlReplicaConfiguration`."
        },
        "clientKey": {
          "type": "string",
          "description": "PEM representation of the replica's private key. The corresponsing public key is encoded in the client's certificate. The format of the replica's private key can be either PKCS #1 or PKCS #8."
        },
        "password": {
          "description": "The password for the replication connection.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "DemoteMasterMySqlReplicaConfiguration"
    },
    "InstancesFailoverRequest": {
      "type": "object",
      "id": "InstancesFailoverRequest",
      "description": "Instance failover request.",
      "properties": {
        "failoverContext": {
          "description": "Failover Context.",
          "$ref": "FailoverContext"
        }
      }
    },
    "BackupRun": {
      "type": "object",
      "description": "A BackupRun resource.",
      "id": "BackupRun",
      "properties": {
        "type": {
          "enum": [
            "SQL_BACKUP_RUN_TYPE_UNSPECIFIED",
            "AUTOMATED",
            "ON_DEMAND"
          ],
          "type": "string",
          "description": "The type of this run; can be either \"AUTOMATED\" or \"ON_DEMAND\" or \"FINAL\". This field defaults to \"ON_DEMAND\" and is ignored, when specified for insert requests.",
          "enumDescriptions": [
            "This is an unknown BackupRun type.",
            "The backup schedule automatically triggers a backup.",
            "The user manually triggers a backup."
          ]
        },
        "timeZone": {
          "description": "Backup time zone to prevent restores to an instance with a different time zone. Now relevant only for SQL Server.",
          "type": "string"
        },
        "selfLink": {
          "type": "string",
          "description": "The URI of this resource."
        },
        "location": {
          "description": "Location of the backups.",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "description": "The time the backup operation completed in UTC timezone in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "format": "google-datetime"
        },
        "diskEncryptionStatus": {
          "$ref": "DiskEncryptionStatus",
          "description": "Encryption status specific to a backup."
        },
        "diskEncryptionConfiguration": {
          "description": "Encryption configuration specific to a backup.",
          "$ref": "DiskEncryptionConfiguration"
        },
        "enqueuedTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the run was enqueued in UTC timezone in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`."
        },
        "startTime": {
          "description": "The time the backup operation actually started in UTC timezone in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "type": "string",
          "format": "google-datetime"
        },
        "status": {
          "enum": [
            "SQL_BACKUP_RUN_STATUS_UNSPECIFIED",
            "ENQUEUED",
            "OVERDUE",
            "RUNNING",
            "FAILED",
            "SUCCESSFUL",
            "SKIPPED",
            "DELETION_PENDING",
            "DELETION_FAILED",
            "DELETED"
          ],
          "enumDescriptions": [
            "The status of the run is unknown.",
            "The backup operation was enqueued.",
            "The backup is overdue across a given backup window. Indicates a problem. Example: Long-running operation in progress during the whole window.",
            "The backup is in progress.",
            "The backup failed.",
            "The backup was successful.",
            "The backup was skipped (without problems) for a given backup window. Example: Instance was idle.",
            "The backup is about to be deleted.",
            "The backup deletion failed.",
            "The backup has been deleted."
          ],
          "type": "string",
          "description": "The status of this run."
        },
        "kind": {
          "description": "This is always `sql#backupRun`.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The identifier for this backup run. Unique only for a specific Cloud SQL instance.",
          "format": "int64"
        },
        "error": {
          "description": "Information about why the backup operation failed. This is only present if the run has the FAILED status.",
          "$ref": "OperationError"
        },
        "windowStartTime": {
          "type": "string",
          "description": "The start time of the backup window during which this the backup was attempted in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "format": "google-datetime"
        },
        "backupKind": {
          "enum": [
            "SQL_BACKUP_KIND_UNSPECIFIED",
            "SNAPSHOT",
            "PHYSICAL"
          ],
          "enumDescriptions": [
            "This is an unknown BackupKind.",
            "The snapshot based backups",
            "Physical backups"
          ],
          "type": "string",
          "description": "Specifies the kind of backup, PHYSICAL or DEFAULT_SNAPSHOT."
        },
        "instance": {
          "description": "Name of the database instance.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "The description of this run, only applicable to on-demand backups."
        }
      }
    },
    "DemoteMasterContext": {
      "type": "object",
      "description": "Database instance demote primary instance context.",
      "properties": {
        "kind": {
          "description": "This is always `sql#demoteMasterContext`.",
          "type": "string"
        },
        "verifyGtidConsistency": {
          "description": "Verify the GTID consistency for demote operation. Default value: `True`. Setting this flag to `false` enables you to bypass the GTID consistency check between on-premises primary instance and Cloud SQL instance during the demotion operation but also exposes you to the risk of future replication failures. Change the value only if you know the reason for the GTID divergence and are confident that doing so will not cause any replication issues.",
          "type": "boolean"
        },
        "skipReplicationSetup": {
          "type": "boolean",
          "description": "Flag to skip replication setup on the instance."
        },
        "masterInstanceName": {
          "type": "string",
          "description": "The name of the instance which will act as on-premises primary instance in the replication setup."
        },
        "replicaConfiguration": {
          "description": "Configuration specific to read-replicas replicating from the on-premises primary instance.",
          "$ref": "DemoteMasterConfiguration"
        }
      },
      "id": "DemoteMasterContext"
    },
    "SslCertsListResponse": {
      "properties": {
        "kind": {
          "description": "This is always `sql#sslCertsList`.",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "SslCert"
          },
          "description": "List of client certificates for the instance.",
          "type": "array"
        }
      },
      "id": "SslCertsListResponse",
      "description": "SslCerts list response.",
      "type": "object"
    },
    "ReplicaConfiguration": {
      "id": "ReplicaConfiguration",
      "description": "Read-replica configuration for connecting to the primary instance.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "This is always `sql#replicaConfiguration`."
        },
        "mysqlReplicaConfiguration": {
          "description": "MySQL specific configuration when replicating from a MySQL on-premises primary instance. Replication configuration information such as the username, password, certificates, and keys are not stored in the instance metadata. The configuration information is used only to set up the replication connection and is stored by MySQL in a file named `master.info` in the data directory.",
          "$ref": "MySqlReplicaConfiguration"
        },
        "failoverTarget": {
          "type": "boolean",
          "description": "Specifies if the replica is the failover target. If the field is set to `true` the replica will be designated as a failover replica. In case the primary instance fails, the replica instance will be promoted as the new primary instance. Only one replica can be specified as failover target, and the replica has to be in different zone with the primary instance."
        }
      },
      "type": "object"
    },
    "OperationsListResponse": {
      "type": "object",
      "description": "Operations list response.",
      "id": "OperationsListResponse",
      "properties": {
        "items": {
          "items": {
            "$ref": "Operation"
          },
          "type": "array",
          "description": "List of operation resources."
        },
        "nextPageToken": {
          "description": "The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#operationsList`."
        }
      }
    },
    "InstancesRestoreBackupRequest": {
      "properties": {
        "restoreBackupContext": {
          "description": "Parameters required to perform the restore backup operation.",
          "$ref": "RestoreBackupContext"
        }
      },
      "id": "InstancesRestoreBackupRequest",
      "type": "object",
      "description": "Database instance restore backup request."
    },
    "SqlInstancesVerifyExternalSyncSettingsResponse": {
      "type": "object",
      "id": "SqlInstancesVerifyExternalSyncSettingsResponse",
      "description": "Instance verify external sync settings response.",
      "properties": {
        "errors": {
          "description": "List of migration violations.",
          "type": "array",
          "items": {
            "$ref": "SqlExternalSyncSettingError"
          }
        },
        "warnings": {
          "type": "array",
          "description": "List of migration warnings.",
          "items": {
            "$ref": "SqlExternalSyncSettingError"
          }
        },
        "kind": {
          "description": "This is always `sql#migrationSettingErrorList`.",
          "type": "string"
        }
      }
    },
    "ConnectSettings": {
      "id": "ConnectSettings",
      "properties": {
        "region": {
          "type": "string",
          "description": "The cloud region for the instance. e.g. `us-central1`, `europe-west1`. The region cannot be changed after instance creation."
        },
        "backendType": {
          "description": "`SECOND_GEN`: Cloud SQL database instance. `EXTERNAL`: A database server that is not managed by Google. This property is read-only; use the `tier` property in the `settings` object to determine the database type.",
          "enumDescriptions": [
            "This is an unknown backend type for instance.",
            "V1 speckle instance.",
            "V2 speckle instance.",
            "On premises instance."
          ],
          "type": "string",
          "enum": [
            "SQL_BACKEND_TYPE_UNSPECIFIED",
            "FIRST_GEN",
            "SECOND_GEN",
            "EXTERNAL"
          ]
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#connectSettings`."
        },
        "ipAddresses": {
          "description": "The assigned IP addresses for the instance.",
          "type": "array",
          "items": {
            "$ref": "IpMapping"
          }
        },
        "serverCaCert": {
          "description": "SSL configuration.",
          "$ref": "SslCert"
        },
        "databaseVersion": {
          "enum": [
            "SQL_DATABASE_VERSION_UNSPECIFIED",
            "MYSQL_5_1",
            "MYSQL_5_5",
            "MYSQL_5_6",
            "MYSQL_5_7",
            "SQLSERVER_2017_STANDARD",
            "SQLSERVER_2017_ENTERPRISE",
            "SQLSERVER_2017_EXPRESS",
            "SQLSERVER_2017_WEB",
            "POSTGRES_9_6",
            "POSTGRES_10",
            "POSTGRES_11",
            "POSTGRES_12",
            "POSTGRES_13",
            "POSTGRES_14",
            "MYSQL_8_0",
            "MYSQL_8_0_18",
            "MYSQL_8_0_26",
            "MYSQL_8_0_27",
            "MYSQL_8_0_28",
            "MYSQL_8_0_29",
            "MYSQL_8_0_30",
            "MYSQL_8_0_31",
            "MYSQL_8_0_32",
            "SQLSERVER_2019_STANDARD",
            "SQLSERVER_2019_ENTERPRISE",
            "SQLSERVER_2019_EXPRESS",
            "SQLSERVER_2019_WEB"
          ],
          "enumDescriptions": [
            "This is an unknown database version.",
            "The database version is MySQL 5.1.",
            "The database version is MySQL 5.5.",
            "The database version is MySQL 5.6.",
            "The database version is MySQL 5.7.",
            "The database version is SQL Server 2017 Standard.",
            "The database version is SQL Server 2017 Enterprise.",
            "The database version is SQL Server 2017 Express.",
            "The database version is SQL Server 2017 Web.",
            "The database version is PostgreSQL 9.6.",
            "The database version is PostgreSQL 10.",
            "The database version is PostgreSQL 11.",
            "The database version is PostgreSQL 12.",
            "The database version is PostgreSQL 13.",
            "The database version is PostgreSQL 14.",
            "The database version is MySQL 8.",
            "The database major version is MySQL 8.0 and the minor version is 18.",
            "The database major version is MySQL 8.0 and the minor version is 26.",
            "The database major version is MySQL 8.0 and the minor version is 27.",
            "The database major version is MySQL 8.0 and the minor version is 28.",
            "The database major version is MySQL 8.0 and the minor version is 29.",
            "The database major version is MySQL 8.0 and the minor version is 30.",
            "The database major version is MySQL 8.0 and the minor version is 31.",
            "The database major version is MySQL 8.0 and the minor version is 32.",
            "The database version is SQL Server 2019 Standard.",
            "The database version is SQL Server 2019 Enterprise.",
            "The database version is SQL Server 2019 Express.",
            "The database version is SQL Server 2019 Web."
          ],
          "description": "The database engine type and version. The `databaseVersion` field cannot be changed after instance creation. MySQL instances: `MYSQL_8_0`, `MYSQL_5_7` (default), or `MYSQL_5_6`. PostgreSQL instances: `POSTGRES_9_6`, `POSTGRES_10`, `POSTGRES_11` or `POSTGRES_12` (default), `POSTGRES_13`, or `POSTGRES_14`. SQL Server instances: `SQLSERVER_2017_STANDARD` (default), `SQLSERVER_2017_ENTERPRISE`, `SQLSERVER_2017_EXPRESS`, `SQLSERVER_2017_WEB`, `SQLSERVER_2019_STANDARD`, `SQLSERVER_2019_ENTERPRISE`, `SQLSERVER_2019_EXPRESS`, or `SQLSERVER_2019_WEB`.",
          "type": "string"
        }
      },
      "description": "Connect settings retrieval response.",
      "type": "object"
    },
    "DatabaseFlags": {
      "properties": {
        "value": {
          "type": "string",
          "description": "The value of the flag. Boolean flags are set to `on` for true and `off` for false. This field must be omitted if the flag doesn't take a value."
        },
        "name": {
          "type": "string",
          "description": "The name of the flag. These flags are passed at instance startup, so include both server options and system variables. Flags are specified with underscores, not hyphens. For more information, see [Configuring Database Flags](https://cloud.google.com/sql/docs/mysql/flags) in the Cloud SQL documentation."
        }
      },
      "id": "DatabaseFlags",
      "type": "object",
      "description": "Database flags for Cloud SQL instances."
    },
    "User": {
      "type": "object",
      "id": "User",
      "properties": {
        "type": {
          "description": "The user type. It determines the method to authenticate the user during login. The default is the database's built-in user type.",
          "enum": [
            "BUILT_IN",
            "CLOUD_IAM_USER",
            "CLOUD_IAM_SERVICE_ACCOUNT"
          ],
          "enumDescriptions": [
            "The database's built-in user type.",
            "Cloud IAM user.",
            "Cloud IAM service account."
          ],
          "type": "string"
        },
        "password": {
          "type": "string",
          "description": "The password for the user."
        },
        "name": {
          "type": "string",
          "description": "The name of the user in the Cloud SQL instance. Can be omitted for `update` because it is already specified in the URL."
        },
        "kind": {
          "description": "This is always `sql#user`.",
          "type": "string"
        },
        "sqlserverUserDetails": {
          "$ref": "SqlServerUserDetails"
        },
        "etag": {
          "description": "This field is deprecated and will be removed from a future version of the API.",
          "type": "string"
        },
        "dualPasswordType": {
          "enum": [
            "DUAL_PASSWORD_TYPE_UNSPECIFIED",
            "NO_MODIFY_DUAL_PASSWORD",
            "NO_DUAL_PASSWORD",
            "DUAL_PASSWORD"
          ],
          "type": "string",
          "enumDescriptions": [
            "The default value.",
            "Do not update the user's dual password status.",
            "No dual password usable for connecting using this user.",
            "Dual password usable for connecting using this user."
          ],
          "description": "Dual password status for the user."
        },
        "passwordPolicy": {
          "$ref": "UserPasswordValidationPolicy",
          "description": "User level password validation policy."
        },
        "project": {
          "type": "string",
          "description": "The project ID of the project containing the Cloud SQL database. The Google apps domain is prefixed if applicable. Can be omitted for *update* because it is already specified on the URL."
        },
        "host": {
          "description": "Optional. The host from which the user can connect. For `insert` operations, host defaults to an empty string. For `update` operations, host is specified as part of the request URL. The host name cannot be updated after insertion. For a MySQL instance, it's required; for a PostgreSQL or SQL Server instance, it's optional.",
          "type": "string"
        },
        "instance": {
          "description": "The name of the Cloud SQL instance. This does not include the project ID. Can be omitted for *update* because it is already specified on the URL.",
          "type": "string"
        }
      },
      "description": "A Cloud SQL user resource."
    },
    "GenerateEphemeralCertRequest": {
      "type": "object",
      "id": "GenerateEphemeralCertRequest",
      "properties": {
        "access_token": {
          "type": "string",
          "description": "Optional. Access token to include in the signed certificate."
        },
        "public_key": {
          "description": "PEM encoded public key to include in the signed certificate.",
          "type": "string"
        },
        "validDuration": {
          "description": "Optional. If set, it will contain the cert valid duration.",
          "type": "string",
          "format": "google-duration"
        },
        "readTime": {
          "description": "Optional. Optional snapshot read timestamp to trade freshness for performance.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Ephemeral certificate creation request."
    },
    "OperationError": {
      "description": "Database instance operation error.",
      "properties": {
        "kind": {
          "description": "This is always `sql#operationError`.",
          "type": "string"
        },
        "code": {
          "description": "Identifies the specific error that occurred.",
          "type": "string"
        },
        "message": {
          "type": "string",
          "description": "Additional information about the error encountered."
        }
      },
      "id": "OperationError",
      "type": "object"
    },
    "Reschedule": {
      "id": "Reschedule",
      "properties": {
        "rescheduleType": {
          "enumDescriptions": [
            "",
            "Reschedules maintenance to happen now (within 5 minutes).",
            "Reschedules maintenance to occur within one week from the originally scheduled day and time.",
            "Reschedules maintenance to a specific time and day."
          ],
          "type": "string",
          "description": "Required. The type of the reschedule.",
          "enum": [
            "RESCHEDULE_TYPE_UNSPECIFIED",
            "IMMEDIATE",
            "NEXT_AVAILABLE_WINDOW",
            "SPECIFIC_TIME"
          ]
        },
        "scheduleTime": {
          "type": "string",
          "description": "Optional. Timestamp when the maintenance shall be rescheduled to if reschedule_type=SPECIFIC_TIME, in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "ImportContext": {
      "description": "Database instance import context.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "This is always `sql#importContext`."
        },
        "bakImportOptions": {
          "type": "object",
          "properties": {
            "striped": {
              "type": "boolean",
              "description": "Whether or not the backup set being restored is striped. Applies only to Cloud SQL for SQL Server."
            },
            "encryptionOptions": {
              "properties": {
                "pvkPassword": {
                  "description": "Password that encrypts the private key",
                  "type": "string"
                },
                "pvkPath": {
                  "description": "Path to the Certificate Private Key (.pvk) in Cloud Storage, in the form `gs://bucketName/fileName`. The instance must have write permissions to the bucket and read access to the file.",
                  "type": "string"
                },
                "certPath": {
                  "description": "Path to the Certificate (.cer) in Cloud Storage, in the form `gs://bucketName/fileName`. The instance must have write permissions to the bucket and read access to the file.",
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "description": "Import parameters specific to SQL Server .BAK files"
        },
        "uri": {
          "type": "string",
          "description": "Path to the import file in Cloud Storage, in the form `gs://bucketName/fileName`. Compressed gzip files (.gz) are supported when `fileType` is `SQL`. The instance must have write permissions to the bucket and read access to the file."
        },
        "database": {
          "description": "The target database for the import. If `fileType` is `SQL`, this field is required only if the import file does not specify a database, and is overridden by any database specification in the import file. If `fileType` is `CSV`, one database must be specified.",
          "type": "string"
        },
        "csvImportOptions": {
          "description": "Options for importing data as CSV.",
          "type": "object",
          "properties": {
            "fieldsTerminatedBy": {
              "type": "string",
              "description": "Specifies the character that separates columns within each row (line) of the file."
            },
            "table": {
              "type": "string",
              "description": "The table to which CSV data is imported."
            },
            "escapeCharacter": {
              "type": "string",
              "description": "Specifies the character that should appear before a data character that needs to be escaped."
            },
            "quoteCharacter": {
              "description": "Specifies the quoting character to be used when a data value is quoted.",
              "type": "string"
            },
            "columns": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "The columns to which CSV data is imported. If not specified, all columns of the database table are loaded with CSV data."
            },
            "linesTerminatedBy": {
              "type": "string",
              "description": "This is used to separate lines. If a line does not contain all fields, the rest of the columns are set to their default values."
            }
          }
        },
        "importUser": {
          "description": "The PostgreSQL user for this import operation. PostgreSQL instances only.",
          "type": "string"
        },
        "fileType": {
          "enumDescriptions": [
            "Unknown file type.",
            "File containing SQL statements.",
            "File in CSV format.",
            ""
          ],
          "description": "The file type for the specified uri. * `SQL`: The file contains SQL statements. * `CSV`: The file contains CSV data. * `BAK`: The file contains backup data for a SQL Server instance.",
          "enum": [
            "SQL_FILE_TYPE_UNSPECIFIED",
            "SQL",
            "CSV",
            "BAK"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "ImportContext"
    },
    "OnPremisesConfiguration": {
      "type": "object",
      "properties": {
        "caCertificate": {
          "type": "string",
          "description": "PEM representation of the trusted CA's x509 certificate."
        },
        "clientCertificate": {
          "type": "string",
          "description": "PEM representation of the replica's x509 certificate."
        },
        "kind": {
          "description": "This is always `sql#onPremisesConfiguration`.",
          "type": "string"
        },
        "sourceInstance": {
          "$ref": "InstanceReference",
          "description": "The reference to Cloud SQL instance if the source is Cloud SQL."
        },
        "dumpFilePath": {
          "type": "string",
          "description": "The dump file to create the Cloud SQL replica."
        },
        "password": {
          "description": "The password for connecting to on-premises instance.",
          "type": "string"
        },
        "clientKey": {
          "description": "PEM representation of the replica's private key. The corresponsing public key is encoded in the client's certificate.",
          "type": "string"
        },
        "hostPort": {
          "type": "string",
          "description": "The host and port of the on-premises instance in host:port format"
        },
        "username": {
          "type": "string",
          "description": "The username for connecting to on-premises instance."
        }
      },
      "description": "On-premises instance configuration.",
      "id": "OnPremisesConfiguration"
    },
    "SslCertsCreateEphemeralRequest": {
      "description": "SslCerts create ephemeral certificate request.",
      "properties": {
        "public_key": {
          "description": "PEM encoded public key to include in the signed certificate.",
          "type": "string"
        },
        "access_token": {
          "description": "Access token to include in the signed certificate.",
          "type": "string"
        }
      },
      "id": "SslCertsCreateEphemeralRequest",
      "type": "object"
    },
    "Tier": {
      "properties": {
        "DiskQuota": {
          "format": "int64",
          "description": "The maximum disk size of this tier in bytes.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#tier`."
        },
        "region": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The applicable regions for this tier."
        },
        "RAM": {
          "description": "The maximum RAM usage of this tier in bytes.",
          "type": "string",
          "format": "int64"
        },
        "tier": {
          "description": "An identifier for the machine type, for example, `db-custom-1-3840`. For related information, see [Pricing](/sql/pricing).",
          "type": "string"
        }
      },
      "description": "A Google Cloud SQL service tier resource.",
      "type": "object",
      "id": "Tier"
    },
    "SqlServerDatabaseDetails": {
      "type": "object",
      "description": "Represents a Sql Server database on the Cloud SQL instance.",
      "properties": {
        "compatibilityLevel": {
          "type": "integer",
          "description": "The version of SQL Server with which the database is to be made compatible",
          "format": "int32"
        },
        "recoveryModel": {
          "type": "string",
          "description": "The recovery model of a SQL Server database"
        }
      },
      "id": "SqlServerDatabaseDetails"
    },
    "SqlServerAuditConfig": {
      "id": "SqlServerAuditConfig",
      "description": "SQL Server specific audit configuration.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "This is always sql#sqlServerAuditConfig"
        },
        "retentionInterval": {
          "description": "How long to keep generated audit files.",
          "type": "string",
          "format": "google-duration"
        },
        "uploadInterval": {
          "format": "google-duration",
          "type": "string",
          "description": "How often to upload generated audit files."
        },
        "bucket": {
          "type": "string",
          "description": "The name of the destination bucket (e.g., gs://mybucket)."
        }
      },
      "type": "object"
    },
    "SqlActiveDirectoryConfig": {
      "properties": {
        "kind": {
          "description": "This is always sql#activeDirectoryConfig.",
          "type": "string"
        },
        "domain": {
          "description": "The name of the domain (e.g., mydomain.com).",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Active Directory configuration, relevant only for Cloud SQL for SQL Server.",
      "id": "SqlActiveDirectoryConfig"
    },
    "SqlExternalSyncSettingError": {
      "properties": {
        "kind": {
          "description": "Can be `sql#externalSyncSettingError` or `sql#externalSyncSettingWarning`.",
          "type": "string"
        },
        "detail": {
          "description": "Additional information about the error encountered.",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "Unsupported migration type.",
            "No pglogical extension installed on databases, applicable for postgres.",
            "pglogical node already exists on databases, applicable for postgres.",
            "The value of parameter wal_level is not set to logical.",
            "The value of parameter shared_preload_libraries does not include pglogical.",
            "The value of parameter max_replication_slots is not sufficient.",
            "The value of parameter max_wal_senders is not sufficient.",
            "The value of parameter max_worker_processes is not sufficient.",
            "Extensions installed are either not supported or having unsupported versions",
            "The value of parameter rds.logical_replication is not set to 1.",
            "The primary instance logging setup doesn't allow EM sync.",
            "The primary instance database parameter setup doesn't allow EM sync.",
            "The gtid_mode is not supported, applicable for MySQL.",
            "SQL Server Agent is not running.",
            "The table definition is not support due to missing primary key or replica identity, applicable for postgres.",
            "The customer has a definer that will break EM setup.",
            "SQL Server @@SERVERNAME does not match actual host name",
            "The primary instance has been setup and will fail the setup.",
            "The primary instance has unsupported binary log format.",
            "The primary instance's binary log retention setting.",
            "The primary instance has tables with unsupported storage engine.",
            "Source has tables with limited support eg: PostgreSQL tables without primary keys"
          ],
          "description": "Identifies the specific error that occurred.",
          "type": "string",
          "enum": [
            "SQL_EXTERNAL_SYNC_SETTING_ERROR_TYPE_UNSPECIFIED",
            "CONNECTION_FAILURE",
            "BINLOG_NOT_ENABLED",
            "INCOMPATIBLE_DATABASE_VERSION",
            "REPLICA_ALREADY_SETUP",
            "INSUFFICIENT_PRIVILEGE",
            "UNSUPPORTED_MIGRATION_TYPE",
            "NO_PGLOGICAL_INSTALLED",
            "PGLOGICAL_NODE_ALREADY_EXISTS",
            "INVALID_WAL_LEVEL",
            "INVALID_SHARED_PRELOAD_LIBRARY",
            "INSUFFICIENT_MAX_REPLICATION_SLOTS",
            "INSUFFICIENT_MAX_WAL_SENDERS",
            "INSUFFICIENT_MAX_WORKER_PROCESSES",
            "UNSUPPORTED_EXTENSIONS",
            "INVALID_RDS_LOGICAL_REPLICATION",
            "INVALID_LOGGING_SETUP",
            "INVALID_DB_PARAM",
            "UNSUPPORTED_GTID_MODE",
            "SQLSERVER_AGENT_NOT_RUNNING",
            "UNSUPPORTED_TABLE_DEFINITION",
            "UNSUPPORTED_DEFINER",
            "SQLSERVER_SERVERNAME_MISMATCH",
            "PRIMARY_ALREADY_SETUP",
            "UNSUPPORTED_BINLOG_FORMAT",
            "BINLOG_RETENTION_SETTING",
            "UNSUPPORTED_STORAGE_ENGINE",
            "LIMITED_SUPPORT_TABLES"
          ]
        }
      },
      "id": "SqlExternalSyncSettingError",
      "description": "External primary instance migration setting error/warning.",
      "type": "object"
    },
    "SqlInstancesStartExternalSyncRequest": {
      "id": "SqlInstancesStartExternalSyncRequest",
      "properties": {
        "syncMode": {
          "type": "string",
          "description": "External sync mode.",
          "enum": [
            "EXTERNAL_SYNC_MODE_UNSPECIFIED",
            "ONLINE",
            "OFFLINE"
          ],
          "enumDescriptions": [
            "Unknown external sync mode, will be defaulted to ONLINE mode",
            "Online external sync will set up replication after initial data external sync",
            "Offline external sync only dumps and loads a one-time snapshot of the primary instance's data"
          ]
        },
        "skipVerification": {
          "type": "boolean",
          "description": "Whether to skip the verification step (VESS)."
        },
        "mysqlSyncConfig": {
          "$ref": "MySqlSyncConfig",
          "description": "MySQL-specific settings for start external sync."
        }
      },
      "type": "object"
    },
    "PasswordValidationPolicy": {
      "type": "object",
      "properties": {
        "complexity": {
          "description": "The complexity of the password.",
          "type": "string",
          "enumDescriptions": [
            "Complexity check is not specified.",
            "A combination of lowercase, uppercase, numeric, and non-alphanumeric characters."
          ],
          "enum": [
            "COMPLEXITY_UNSPECIFIED",
            "COMPLEXITY_DEFAULT"
          ]
        },
        "minLength": {
          "type": "integer",
          "format": "int32",
          "description": "Minimum number of characters allowed."
        },
[...]
