{
  "ownerName": "Google",
  "documentationLink": "https://developers.google.com/cloud-sql/",
  "name": "sqladmin",
  "canonicalName": "SQL Admin",
  "kind": "discovery#restDescription",
  "batchPath": "batch",
  "baseUrl": "https://sqladmin.googleapis.com/",
  "revision": "20220127",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "discoveryVersion": "v1",
  "protocol": "rest",
  "basePath": "",
  "servicePath": "",
  "mtlsRootUrl": "https://sqladmin.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "description": "API for Cloud SQL database instance management",
  "ownerDomain": "google.com",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/sqlservice.admin": {
          "description": "Manage your Google SQL Service instances"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "schemas": {
    "InstancesRotateServerCaRequest": {
      "description": "Rotate Server CA request.",
      "properties": {
        "rotateServerCaContext": {
          "$ref": "RotateServerCaContext",
          "description": "Contains details about the rotate server CA operation."
        }
      },
      "type": "object",
      "id": "InstancesRotateServerCaRequest"
    },
    "BackupRunsListResponse": {
      "type": "object",
      "id": "BackupRunsListResponse",
      "properties": {
        "items": {
          "type": "array",
          "description": "A list of backup runs in reverse chronological order of the enqueued time.",
          "items": {
            "$ref": "BackupRun"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results."
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#backupRunsList`."
        }
      },
      "description": "Backup run list results."
    },
    "InstancesTruncateLogRequest": {
      "id": "InstancesTruncateLogRequest",
      "type": "object",
      "properties": {
        "truncateLogContext": {
          "description": "Contains details about the truncate log operation.",
          "$ref": "TruncateLogContext"
        }
      },
      "description": "Instance truncate log request."
    },
    "ReplicaConfiguration": {
      "type": "object",
      "properties": {
        "failoverTarget": {
          "type": "boolean",
          "description": "Specifies if the replica is the failover target. If the field is set to `true` the replica will be designated as a failover replica. In case the primary instance fails, the replica instance will be promoted as the new primary instance. Only one replica can be specified as failover target, and the replica has to be in different zone with the primary instance."
        },
        "kind": {
          "description": "This is always `sql#replicaConfiguration`.",
          "type": "string"
        },
        "mysqlReplicaConfiguration": {
          "$ref": "MySqlReplicaConfiguration",
          "description": "MySQL specific configuration when replicating from a MySQL on-premises primary instance. Replication configuration information such as the username, password, certificates, and keys are not stored in the instance metadata. The configuration information is used only to set up the replication connection and is stored by MySQL in a file named `master.info` in the data directory."
        }
      },
      "description": "Read-replica configuration for connecting to the primary instance.",
      "id": "ReplicaConfiguration"
    },
    "OperationErrors": {
      "id": "OperationErrors",
      "properties": {
        "errors": {
          "type": "array",
          "description": "The list of errors encountered while processing this operation.",
          "items": {
            "$ref": "OperationError"
          }
        },
        "kind": {
          "description": "This is always `sql#operationErrors`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Database instance operation errors list wrapper."
    },
    "SqlServerDatabaseDetails": {
      "type": "object",
      "description": "Represents a Sql Server database on the Cloud SQL instance.",
      "properties": {
        "recoveryModel": {
          "description": "The recovery model of a SQL Server database",
          "type": "string"
        },
        "compatibilityLevel": {
          "format": "int32",
          "type": "integer",
          "description": "The version of SQL Server with which the database is to be made compatible"
        }
      },
      "id": "SqlServerDatabaseDetails"
    },
    "RestoreBackupContext": {
      "id": "RestoreBackupContext",
      "type": "object",
      "properties": {
        "project": {
          "description": "The full project ID of the source instance.",
          "type": "string"
        },
        "kind": {
          "description": "This is always `sql#restoreBackupContext`.",
          "type": "string"
        },
        "instanceId": {
          "type": "string",
          "description": "The ID of the instance that the backup was taken from."
        },
        "backupRunId": {
          "description": "The ID of the backup run to restore from.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "Database instance restore from backup context. Backup context contains source instance id and project id."
    },
    "SqlActiveDirectoryConfig": {
      "id": "SqlActiveDirectoryConfig",
      "description": "Active Directory configuration, relevant only for Cloud SQL for SQL Server.",
      "properties": {
        "domain": {
          "type": "string",
          "description": "The name of the domain (e.g., mydomain.com)."
        },
        "kind": {
          "description": "This is always sql#activeDirectoryConfig.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ConnectSettings": {
      "type": "object",
      "description": "Connect settings retrieval response.",
      "id": "ConnectSettings",
      "properties": {
        "kind": {
          "type": "string",
          "description": "This is always `sql#connectSettings`."
        },
        "serverCaCert": {
          "$ref": "SslCert",
          "description": "SSL configuration."
        },
        "databaseVersion": {
          "enum": [
            "SQL_DATABASE_VERSION_UNSPECIFIED",
            "MYSQL_5_1",
            "MYSQL_5_5",
            "MYSQL_5_6",
            "MYSQL_5_7",
            "POSTGRES_9_6",
            "POSTGRES_11",
            "SQLSERVER_2017_STANDARD",
            "SQLSERVER_2017_ENTERPRISE",
            "SQLSERVER_2017_EXPRESS",
            "SQLSERVER_2017_WEB",
            "POSTGRES_10",
            "POSTGRES_12",
            "MYSQL_8_0",
            "MYSQL_8_0_18",
            "MYSQL_8_0_26",
            "POSTGRES_13",
            "POSTGRES_14",
            "SQLSERVER_2019_STANDARD",
            "SQLSERVER_2019_ENTERPRISE",
            "SQLSERVER_2019_EXPRESS",
            "SQLSERVER_2019_WEB"
          ],
          "type": "string",
          "enumDescriptions": [
            "This is an unknown database version.",
            "The database version is MySQL 5.1.",
            "The database version is MySQL 5.5.",
            "The database version is MySQL 5.6.",
            "The database version is MySQL 5.7.",
            "The database version is PostgreSQL 9.6.",
            "The database version is PostgreSQL 11.",
            "The database version is SQL Server 2017 Standard.",
            "The database version is SQL Server 2017 Enterprise.",
            "The database version is SQL Server 2017 Express.",
            "The database version is SQL Server 2017 Web.",
            "The database version is PostgreSQL 10.",
            "The database version is PostgreSQL 12.",
            "The database version is MySQL 8.",
            "The database major version is MySQL 8.0 and the minor version is 18.",
            "The database major version is MySQL 8.0 and the minor version is 26.",
            "The database version is PostgreSQL 13.",
            "The database version is PostgreSQL 14.",
            "The database version is SQL Server 2019 Standard.",
            "The database version is SQL Server 2019 Enterprise.",
            "The database version is SQL Server 2019 Express.",
            "The database version is SQL Server 2019 Web."
          ],
          "description": "The database engine type and version. The `databaseVersion` field cannot be changed after instance creation. MySQL instances: `MYSQL_8_0`, `MYSQL_5_7` (default), or `MYSQL_5_6`. PostgreSQL instances: `POSTGRES_9_6`, `POSTGRES_10`, `POSTGRES_11` or `POSTGRES_12` (default), `POSTGRES_13`, or `POSTGRES_14`. SQL Server instances: `SQLSERVER_2017_STANDARD` (default), `SQLSERVER_2017_ENTERPRISE`, `SQLSERVER_2017_EXPRESS`, `SQLSERVER_2017_WEB`, `SQLSERVER_2019_STANDARD`, `SQLSERVER_2019_ENTERPRISE`, `SQLSERVER_2019_EXPRESS`, or `SQLSERVER_2019_WEB`."
        },
        "region": {
          "description": "The cloud region for the instance. e.g. `us-central1`, `europe-west1`. The region cannot be changed after instance creation.",
          "type": "string"
        },
        "ipAddresses": {
          "type": "array",
          "items": {
            "$ref": "IpMapping"
          },
          "description": "The assigned IP addresses for the instance."
        },
        "backendType": {
          "enumDescriptions": [
            "This is an unknown backend type for instance.",
            "V1 speckle instance.",
            "V2 speckle instance.",
            "On premises instance."
          ],
          "type": "string",
          "enum": [
            "SQL_BACKEND_TYPE_UNSPECIFIED",
            "FIRST_GEN",
            "SECOND_GEN",
            "EXTERNAL"
          ],
          "description": "`SECOND_GEN`: Cloud SQL database instance. `EXTERNAL`: A database server that is not managed by Google. This property is read-only; use the `tier` property in the `settings` object to determine the database type."
        }
      }
    },
    "SslCertsInsertRequest": {
      "id": "SslCertsInsertRequest",
      "type": "object",
      "description": "SslCerts insert request.",
      "properties": {
        "commonName": {
          "description": "User supplied name. Must be a distinct name from the other certificates for this instance.",
          "type": "string"
        }
      }
    },
    "Flag": {
      "type": "object",
      "properties": {
        "allowedStringValues": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "For `STRING` flags, a list of strings that the value can be set to."
        },
        "name": {
          "type": "string",
          "description": "This is the name of the flag. Flag names always use underscores, not hyphens, for example: `max_allowed_packet`"
        },
        "allowedIntValues": {
          "description": "Use this field if only certain integers are accepted. Can be combined with min_value and max_value to add additional values.",
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array"
        },
        "minValue": {
          "type": "string",
          "description": "For `INTEGER` flags, the minimum allowed value.",
          "format": "int64"
        },
        "inBeta": {
          "type": "boolean",
          "description": "Whether or not the flag is considered in beta."
        },
        "requiresRestart": {
          "type": "boolean",
          "description": "Indicates whether changing this flag will trigger a database restart. Only applicable to Second Generation instances."
        },
        "appliesTo": {
          "description": "The database version this flag applies to. Can be MySQL instances: `MYSQL_8_0`, `MYSQL_8_0_18`, `MYSQL_8_0_26`, `MYSQL_5_7`, or `MYSQL_5_6`. PostgreSQL instances: `POSTGRES_9_6`, `POSTGRES_10`, `POSTGRES_11` or `POSTGRES_12`. SQL Server instances: `SQLSERVER_2017_STANDARD`, `SQLSERVER_2017_ENTERPRISE`, `SQLSERVER_2017_EXPRESS`, `SQLSERVER_2017_WEB`, `SQLSERVER_2019_STANDARD`, `SQLSERVER_2019_ENTERPRISE`, `SQLSERVER_2019_EXPRESS`, or `SQLSERVER_2019_WEB`. See [the complete list](/sql/docs/mysql/admin-api/rest/v1/SqlDatabaseVersion).",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "This is an unknown database version.",
              "The database version is MySQL 5.1.",
              "The database version is MySQL 5.5.",
              "The database version is MySQL 5.6.",
              "The database version is MySQL 5.7.",
              "The database version is PostgreSQL 9.6.",
              "The database version is PostgreSQL 11.",
              "The database version is SQL Server 2017 Standard.",
              "The database version is SQL Server 2017 Enterprise.",
              "The database version is SQL Server 2017 Express.",
              "The database version is SQL Server 2017 Web.",
              "The database version is PostgreSQL 10.",
              "The database version is PostgreSQL 12.",
              "The database version is MySQL 8.",
              "The database major version is MySQL 8.0 and the minor version is 18.",
              "The database major version is MySQL 8.0 and the minor version is 26.",
              "The database version is PostgreSQL 13.",
              "The database version is PostgreSQL 14.",
              "The database version is SQL Server 2019 Standard.",
              "The database version is SQL Server 2019 Enterprise.",
              "The database version is SQL Server 2019 Express.",
              "The database version is SQL Server 2019 Web."
            ],
            "type": "string",
            "enum": [
              "SQL_DATABASE_VERSION_UNSPECIFIED",
              "MYSQL_5_1",
              "MYSQL_5_5",
              "MYSQL_5_6",
              "MYSQL_5_7",
              "POSTGRES_9_6",
              "POSTGRES_11",
              "SQLSERVER_2017_STANDARD",
              "SQLSERVER_2017_ENTERPRISE",
              "SQLSERVER_2017_EXPRESS",
              "SQLSERVER_2017_WEB",
              "POSTGRES_10",
              "POSTGRES_12",
              "MYSQL_8_0",
              "MYSQL_8_0_18",
              "MYSQL_8_0_26",
              "POSTGRES_13",
              "POSTGRES_14",
              "SQLSERVER_2019_STANDARD",
              "SQLSERVER_2019_ENTERPRISE",
              "SQLSERVER_2019_EXPRESS",
              "SQLSERVER_2019_WEB"
            ]
          }
        },
        "maxValue": {
          "type": "string",
          "description": "For `INTEGER` flags, the maximum allowed value.",
          "format": "int64"
        },
        "type": {
          "description": "The type of the flag. Flags are typed to being `BOOLEAN`, `STRING`, `INTEGER` or `NONE`. `NONE` is used for flags which do not take a value, such as `skip_grant_tables`.",
          "enumDescriptions": [
            "This is an unknown flag type.",
            "Boolean type flag.",
            "String type flag.",
            "Integer type flag.",
            "Flag type used for a server startup option.",
            "Type introduced specially for MySQL TimeZone offset. Accept a string value with the format [-12:59, 13:00].",
            "Float type flag.",
            "Comma-separated list of the strings in a SqlFlagType enum."
          ],
          "enum": [
            "SQL_FLAG_TYPE_UNSPECIFIED",
            "BOOLEAN",
            "STRING",
            "INTEGER",
            "NONE",
            "MYSQL_TIMEZONE_OFFSET",
            "FLOAT",
            "REPEATED_STRING"
          ],
          "type": "string"
        },
        "kind": {
          "description": "This is always `sql#flag`.",
          "type": "string"
        }
      },
      "description": "A flag resource.",
      "id": "Flag"
    },
    "InstancesImportRequest": {
      "properties": {
        "importContext": {
          "description": "Contains details about the import operation.",
          "$ref": "ImportContext"
        }
      },
      "id": "InstancesImportRequest",
      "type": "object",
      "description": "Database instance import request."
    },
    "Operation": {
      "type": "object",
      "properties": {
        "targetProject": {
          "type": "string",
          "description": "The project ID of the target instance related to this operation."
        },
        "error": {
          "description": "If errors occurred during processing of this operation, this field will be populated.",
          "$ref": "OperationErrors"
        },
        "startTime": {
          "type": "string",
          "description": "The time this operation actually started in UTC timezone in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "format": "google-datetime"
        },
        "endTime": {
          "type": "string",
          "description": "The time this operation finished in UTC timezone in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "format": "google-datetime"
        },
        "importContext": {
          "description": "The context for import operation, if applicable.",
          "$ref": "ImportContext"
        },
        "backupContext": {
          "description": "The context for backup operation, if applicable.",
          "$ref": "BackupContext"
        },
        "status": {
          "type": "string",
          "description": "The status of an operation.",
          "enum": [
            "SQL_OPERATION_STATUS_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "DONE"
          ],
          "enumDescriptions": [
            "The state of the operation is unknown.",
            "The operation has been queued, but has not started yet.",
            "The operation is running.",
            "The operation completed."
          ]
        },
        "user": {
          "type": "string",
          "description": "The email address of the user who initiated this operation."
        },
        "operationType": {
          "description": "The type of the operation. Valid values are: * `CREATE` * `DELETE` * `UPDATE` * `RESTART` * `IMPORT` * `EXPORT` * `BACKUP_VOLUME` * `RESTORE_VOLUME` * `CREATE_USER` * `DELETE_USER` * `CREATE_DATABASE` * `DELETE_DATABASE`",
          "enumDescriptions": [
            "Unknown operation type.",
            "Imports data into a Cloud SQL instance.",
            "Exports data from a Cloud SQL instance to a Cloud Storage bucket.",
            "Creates a new Cloud SQL instance.",
            "Updates the settings of a Cloud SQL instance.",
            "Deletes a Cloud SQL instance.",
            "Restarts the Cloud SQL instance.",
            "",
            "",
            "Performs instance backup.",
            "Deletes an instance backup.",
            "Restores an instance backup.",
            "Injects a privileged user in mysql for MOB instances.",
            "Clones a Cloud SQL instance.",
            "Stops replication on a Cloud SQL read replica instance.",
            "Starts replication on a Cloud SQL read replica instance.",
            "Promotes a Cloud SQL replica instance.",
            "Creates a Cloud SQL replica instance.",
            "Creates a new user in a Cloud SQL instance.",
            "Deletes a user from a Cloud SQL instance.",
            "Updates an existing user in a Cloud SQL instance.",
            "Creates a database in the Cloud SQL instance.",
            "Deletes a database in the Cloud SQL instance.",
            "Updates a database in the Cloud SQL instance.",
            "Performs failover of an HA-enabled Cloud SQL failover replica.",
            "Deletes the backup taken by a backup run.",
            "",
            "Truncates a general or slow log table in MySQL.",
            "Demotes the stand-alone instance to be a Cloud SQL read replica for an external database server.",
            "Indicates that the instance is currently in maintenance. Maintenance typically causes the instance to be unavailable for 1-3 minutes.",
            "This field is deprecated, and will be removed in future version of API.",
            "",
            "Creates clone instance.",
            "Reschedule maintenance to another time.",
            "Starts external sync of a Cloud SQL EM replica to an external primary instance."
          ],
          "enum": [
            "SQL_OPERATION_TYPE_UNSPECIFIED",
            "IMPORT",
            "EXPORT",
            "CREATE",
            "UPDATE",
            "DELETE",
            "RESTART",
            "BACKUP",
            "SNAPSHOT",
            "BACKUP_VOLUME",
            "DELETE_VOLUME",
            "RESTORE_VOLUME",
            "INJECT_USER",
            "CLONE",
            "STOP_REPLICA",
            "START_REPLICA",
            "PROMOTE_REPLICA",
            "CREATE_REPLICA",
            "CREATE_USER",
            "DELETE_USER",
            "UPDATE_USER",
            "CREATE_DATABASE",
            "DELETE_DATABASE",
            "UPDATE_DATABASE",
            "FAILOVER",
            "DELETE_BACKUP",
            "RECREATE_REPLICA",
            "TRUNCATE_LOG",
            "DEMOTE_MASTER",
            "MAINTENANCE",
            "ENABLE_PRIVATE_IP",
            "DEFER_MAINTENANCE",
            "CREATE_CLONE",
            "RESCHEDULE_MAINTENANCE",
            "START_EXTERNAL_SYNC"
          ],
          "type": "string"
        },
        "targetId": {
          "description": "Name of the database instance related to this operation.",
          "type": "string"
        },
        "exportContext": {
          "$ref": "ExportContext",
          "description": "The context for export operation, if applicable."
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#operation`."
        },
        "targetLink": {
          "type": "string"
        },
        "selfLink": {
          "type": "string",
          "description": "The URI of this resource."
        },
        "name": {
          "type": "string",
          "description": "An identifier that uniquely identifies the operation. You can use this identifier to retrieve the Operations resource that has information about the operation."
        },
        "insertTime": {
          "description": "The time this operation was enqueued in UTC timezone in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "An Operation resource. For successful operations that return an Operation resource, only the fields relevant to the operation are populated in the resource.",
      "id": "Operation"
    },
    "InstancesDemoteMasterRequest": {
      "properties": {
        "demoteMasterContext": {
          "description": "Contains details about the demoteMaster operation.",
          "$ref": "DemoteMasterContext"
        }
      },
      "id": "InstancesDemoteMasterRequest",
      "description": "Database demote primary instance request.",
      "type": "object"
    },
    "SslCertDetail": {
      "id": "SslCertDetail",
      "properties": {
        "certPrivateKey": {
          "type": "string",
          "description": "The private key for the client cert, in pem format. Keep private in order to protect your security."
        },
        "certInfo": {
          "$ref": "SslCert",
          "description": "The public information about the cert."
        }
      },
      "description": "SslCertDetail.",
      "type": "object"
    },
    "BinLogCoordinates": {
      "description": "Binary log coordinates.",
      "id": "BinLogCoordinates",
      "properties": {
        "binLogPosition": {
          "type": "string",
          "format": "int64",
          "description": "Position (offset) within the binary log file."
        },
        "binLogFileName": {
          "type": "string",
          "description": "Name of the binary log file for a Cloud SQL instance."
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#binLogCoordinates`."
        }
      },
      "type": "object"
    },
    "InstancesExportRequest": {
      "id": "InstancesExportRequest",
      "type": "object",
      "properties": {
        "exportContext": {
          "$ref": "ExportContext",
          "description": "Contains details about the export operation."
        }
      },
      "description": "Database instance export request."
    },
    "UsersListResponse": {
      "properties": {
        "items": {
          "description": "List of user resources in the instance.",
          "type": "array",
          "items": {
            "$ref": "User"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "An identifier that uniquely identifies the operation. You can use this identifier to retrieve the Operations resource that has information about the operation."
        },
        "kind": {
          "description": "This is always *sql#usersList*.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "User list response.",
      "id": "UsersListResponse"
    },
    "ExportContext": {
      "properties": {
        "fileType": {
          "description": "The file type for the specified uri.",
          "enum": [
            "SQL_FILE_TYPE_UNSPECIFIED",
            "SQL",
            "CSV",
            "BAK"
          ],
          "enumDescriptions": [
            "Unknown file type.",
            "File containing SQL statements.",
            "File in CSV format.",
            ""
          ],
          "type": "string"
        },
        "csvExportOptions": {
          "type": "object",
          "properties": {
            "selectQuery": {
              "type": "string",
              "description": "The select query used to extract the data."
            },
            "quoteCharacter": {
              "description": "Specifies the quoting character to be used when a data value is quoted.",
              "type": "string"
            },
            "fieldsTerminatedBy": {
              "type": "string",
              "description": "Specifies the character that separates columns within each row (line) of the file."
            },
            "linesTerminatedBy": {
              "type": "string",
              "description": "This is used to separate lines. If a line does not contain all fields, the rest of the columns are set to their default values."
            },
            "escapeCharacter": {
              "type": "string",
              "description": "Specifies the character that should appear before a data character that needs to be escaped."
            }
          },
          "description": "Options for exporting data as CSV. `MySQL` and `PostgreSQL` instances only."
        },
        "kind": {
          "description": "This is always `sql#exportContext`.",
          "type": "string"
        },
        "offload": {
          "description": "Option for export offload.",
          "type": "boolean"
        },
        "uri": {
          "type": "string",
          "description": "The path to the file in Google Cloud Storage where the export will be stored. The URI is in the form `gs://bucketName/fileName`. If the file already exists, the request succeeds, but the operation fails. If `fileType` is `SQL` and the filename ends with .gz, the contents are compressed."
        },
        "sqlExportOptions": {
          "type": "object",
          "description": "Options for exporting data as SQL statements.",
          "properties": {
            "tables": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Tables to export, or that were exported, from the specified database. If you specify tables, specify one and only one database. For PostgreSQL instances, you can specify only one table."
            },
            "mysqlExportOptions": {
              "type": "object",
              "description": "Options for exporting from MySQL.",
              "properties": {
                "masterData": {
                  "description": "Option to include SQL statement required to set up replication. If set to `1`, the dump file includes a CHANGE MASTER TO statement with the binary log coordinates, and --set-gtid-purged is set to ON. If set to `2`, the CHANGE MASTER TO statement is written as a SQL comment and has no effect. If set to any value other than `1`, --set-gtid-purged is set to OFF.",
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "schemaOnly": {
              "type": "boolean",
              "description": "Export only schemas."
            }
          }
        },
        "databases": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Databases to be exported. `MySQL instances:` If `fileType` is `SQL` and no database is specified, all databases are exported, except for the `mysql` system database. If `fileType` is `CSV`, you can specify one database, either by using this property or by using the `csvExportOptions.selectQuery` property, which takes precedence over this property. `PostgreSQL instances:` You must specify one database to be exported. If `fileType` is `CSV`, this database must match the one specified in the `csvExportOptions.selectQuery` property. `SQL Server instances:` You must specify one database to be exported, and the `fileType` must be `BAK`."
        }
      },
      "type": "object",
      "description": "Database instance export context.",
      "id": "ExportContext"
    },
    "IpConfiguration": {
      "type": "object",
      "id": "IpConfiguration",
      "description": "IP Management configuration.",
      "properties": {
        "requireSsl": {
          "type": "boolean",
          "description": "Whether SSL connections over IP are enforced or not."
        },
        "ipv4Enabled": {
          "description": "Whether the instance is assigned a public IP address or not.",
          "type": "boolean"
        },
        "allocatedIpRange": {
          "type": "string",
          "description": "The name of the allocated ip range for the private ip CloudSQL instance. For example: \"google-managed-services-default\". If set, the instance ip will be created in the allocated range. The range name must comply with [RFC 1035](https://tools.ietf.org/html/rfc1035). Specifically, the name must be 1-63 characters long and match the regular expression `[a-z]([-a-z0-9]*[a-z0-9])?.`"
        },
        "privateNetwork": {
          "type": "string",
          "description": "The resource link for the VPC network from which the Cloud SQL instance is accessible for private IP. For example, `/projects/myProject/global/networks/default`. This setting can be updated, but it cannot be removed after it is set."
        },
        "authorizedNetworks": {
          "type": "array",
          "description": "The list of external networks that are allowed to connect to the instance using the IP. In 'CIDR' notation, also known as 'slash' notation (for example: `157.197.200.0/24`).",
          "items": {
            "$ref": "AclEntry"
          }
        }
      }
    },
    "InstancesListResponse": {
      "id": "InstancesListResponse",
      "properties": {
        "warnings": {
          "type": "array",
          "description": "List of warnings that occurred while handling the request.",
          "items": {
            "$ref": "ApiWarning"
          }
        },
        "items": {
          "description": "List of database instance resources.",
          "type": "array",
          "items": {
            "$ref": "DatabaseInstance"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results."
        },
        "kind": {
          "description": "This is always `sql#instancesList`.",
          "type": "string"
        }
      },
      "description": "Database instances list response.",
      "type": "object"
    },
    "InstancesFailoverRequest": {
      "properties": {
        "failoverContext": {
          "$ref": "FailoverContext",
          "description": "Failover Context."
        }
      },
      "type": "object",
      "description": "Instance failover request.",
      "id": "InstancesFailoverRequest"
    },
    "SslCertsListResponse": {
      "description": "SslCerts list response.",
      "id": "SslCertsListResponse",
      "properties": {
        "items": {
          "items": {
            "$ref": "SslCert"
          },
          "type": "array",
          "description": "List of client certificates for the instance."
        },
        "kind": {
          "description": "This is always `sql#sslCertsList`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SslCertsCreateEphemeralRequest": {
      "properties": {
        "public_key": {
          "type": "string",
          "description": "PEM encoded public key to include in the signed certificate."
        },
        "access_token": {
          "type": "string",
          "description": "Access token to include in the signed certificate."
        }
      },
      "description": "SslCerts create ephemeral certificate request.",
      "type": "object",
      "id": "SslCertsCreateEphemeralRequest"
    },
    "MySqlSyncConfig": {
      "id": "MySqlSyncConfig",
      "type": "object",
      "properties": {
        "initialSyncFlags": {
          "items": {
            "$ref": "SyncFlags"
          },
          "description": "Flags to use for the initial dump.",
          "type": "array"
        }
      },
      "description": "MySQL-specific external server sync settings."
    },
    "SqlServerUserDetails": {
      "description": "Represents a Sql Server user on the Cloud SQL instance.",
      "id": "SqlServerUserDetails",
      "type": "object",
      "properties": {
        "serverRoles": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The server roles for this user"
        },
        "disabled": {
          "description": "If the user has been disabled",
          "type": "boolean"
        }
      }
    },
    "Settings": {
      "properties": {
        "locationPreference": {
          "description": "The location preference settings. This allows the instance to be located as near as possible to either an App Engine app or Compute Engine zone for better performance. App Engine co-location was only applicable to First Generation instances.",
          "$ref": "LocationPreference"
        },
        "dataDiskType": {
          "description": "The type of data disk: `PD_SSD` (default) or `PD_HDD`. Not used for First Generation instances.",
          "enum": [
            "SQL_DATA_DISK_TYPE_UNSPECIFIED",
            "PD_SSD",
            "PD_HDD",
            "OBSOLETE_LOCAL_SSD"
          ],
          "enumDescriptions": [
            "This is an unknown data disk type.",
            "An SSD data disk.",
            "An HDD data disk.",
            "This field is deprecated and will be removed from a future version of the API."
          ],
          "type": "string"
        },
        "availabilityType": {
          "enumDescriptions": [
            "This is an unknown Availability type.",
            "Zonal available instance.",
            "Regional available instance."
          ],
          "type": "string",
          "description": "Availability type. Potential values: * `ZONAL`: The instance serves data from only one zone. Outages in that zone affect data accessibility. * `REGIONAL`: The instance can serve data from more than one zone in a region (it is highly available)./ For more information, see [Overview of the High Availability Configuration](https://cloud.google.com/sql/docs/mysql/high-availability).",
          "enum": [
            "SQL_AVAILABILITY_TYPE_UNSPECIFIED",
            "ZONAL",
            "REGIONAL"
          ]
        },
        "storageAutoResize": {
          "type": "boolean",
          "description": "Configuration to increase storage size automatically. The default value is true."
        },
        "activeDirectoryConfig": {
          "$ref": "SqlActiveDirectoryConfig",
          "description": "Active Directory configuration, relevant only for Cloud SQL for SQL Server."
        },
        "backupConfiguration": {
          "description": "The daily backup configuration for the instance.",
          "$ref": "BackupConfiguration"
        },
        "authorizedGaeApplications": {
          "description": "The App Engine app IDs that can access this instance. (Deprecated) Applied to First Generation instances only.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "storageAutoResizeLimit": {
          "format": "int64",
          "description": "The maximum size to which storage capacity can be automatically increased. The default value is 0, which specifies that there is no limit.",
          "type": "string"
        },
        "sqlServerAuditConfig": {
          "$ref": "SqlServerAuditConfig",
          "description": "SQL Server specific audit configuration."
        },
        "replicationType": {
          "enum": [
            "SQL_REPLICATION_TYPE_UNSPECIFIED",
            "SYNCHRONOUS",
            "ASYNCHRONOUS"
          ],
          "type": "string",
          "enumDescriptions": [
            "This is an unknown replication type for a Cloud SQL instance.",
            "The synchronous replication mode for First Generation instances. It is the default value.",
            "The asynchronous replication mode for First Generation instances. It provides a slight performance gain, but if an outage occurs while this option is set to asynchronous, you can lose up to a few seconds of updates to your data."
          ],
          "description": "The type of replication this instance uses. This can be either `ASYNCHRONOUS` or `SYNCHRONOUS`. (Deprecated) This property was only applicable to First Generation instances."
        },
        "collation": {
          "type": "string",
          "description": "The name of server Instance collation."
        },
        "tier": {
          "type": "string",
          "description": "The tier (or machine type) for this instance, for example `db-custom-1-3840`. WARNING: Changing this restarts the instance."
        },
        "pricingPlan": {
          "enumDescriptions": [
            "This is an unknown pricing plan for this instance.",
            "The instance is billed at a monthly flat rate.",
            "The instance is billed per usage."
          ],
          "type": "string",
          "description": "The pricing plan for this instance. This can be either `PER_USE` or `PACKAGE`. Only `PER_USE` is supported for Second Generation instances.",
          "enum": [
            "SQL_PRICING_PLAN_UNSPECIFIED",
            "PACKAGE",
            "PER_USE"
          ]
        },
        "dataDiskSizeGb": {
          "description": "The size of data disk, in GB. The data disk size minimum is 10GB.",
          "format": "int64",
          "type": "string"
        },
        "denyMaintenancePeriods": {
          "items": {
            "$ref": "DenyMaintenancePeriod"
          },
          "type": "array",
          "description": "Deny maintenance periods"
        },
        "databaseReplicationEnabled": {
          "type": "boolean",
          "description": "Configuration specific to read replica instances. Indicates whether replication is enabled or not. WARNING: Changing this restarts the instance."
        },
        "maintenanceWindow": {
          "description": "The maintenance window for this instance. This specifies when the instance can be restarted for maintenance purposes.",
          "$ref": "MaintenanceWindow"
        },
        "crashSafeReplicationEnabled": {
          "description": "Configuration specific to read replica instances. Indicates whether database flags for crash-safe replication are enabled. This property was only applicable to First Generation instances.",
          "type": "boolean"
        },
        "userLabels": {
          "description": "User-provided labels, represented as a dictionary where each label is a single key value pair.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "insightsConfig": {
          "$ref": "InsightsConfig",
          "description": "Insights configuration, for now relevant only for Postgres."
        },
        "ipConfiguration": {
          "$ref": "IpConfiguration",
          "description": "The settings for IP Management. This allows to enable or disable the instance IP and manage which external networks can connect to the instance. The IPv4 address cannot be disabled for Second Generation instances."
        },
        "databaseFlags": {
          "description": "The database flags passed to the instance at startup.",
          "type": "array",
          "items": {
            "$ref": "DatabaseFlags"
          }
        },
        "passwordValidationPolicy": {
          "$ref": "PasswordValidationPolicy",
          "description": "The local user password validation policy of the instance."
        },
        "kind": {
          "description": "This is always `sql#settings`.",
          "type": "string"
        },
        "settingsVersion": {
          "description": "The version of instance settings. This is a required field for update method to make sure concurrent updates are handled properly. During update, use the most recent settingsVersion value for this instance and do not try to update this value.",
          "type": "string",
          "format": "int64"
        },
        "activationPolicy": {
          "enumDescriptions": [
            "Unknown activation plan.",
            "The instance is always up and running.",
            "The instance never starts.",
            "The instance starts upon receiving requests."
          ],
          "description": "The activation policy specifies when the instance is activated; it is applicable only when the instance state is RUNNABLE. Valid values: * `ALWAYS`: The instance is on, and remains so even in the absence of connection requests. * `NEVER`: The instance is off; it is not activated, even if a connection request arrives.",
          "enum": [
            "SQL_ACTIVATION_POLICY_UNSPECIFIED",
            "ALWAYS",
            "NEVER",
            "ON_DEMAND"
          ],
          "type": "string"
        }
      },
      "description": "Database instance settings.",
      "id": "Settings",
      "type": "object"
    },
    "Reschedule": {
      "id": "Reschedule",
      "type": "object",
      "properties": {
        "rescheduleType": {
          "enum": [
            "RESCHEDULE_TYPE_UNSPECIFIED",
            "IMMEDIATE",
            "NEXT_AVAILABLE_WINDOW",
            "SPECIFIC_TIME"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "Reschedules maintenance to happen now (within 5 minutes).",
            "Reschedules maintenance to occur within one week from the originally scheduled day and time.",
            "Reschedules maintenance to a specific time and day."
          ],
          "description": "Required. The type of the reschedule."
        },
        "scheduleTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. Timestamp when the maintenance shall be rescheduled to if reschedule_type=SPECIFIC_TIME, in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`."
        }
      }
    },
    "RotateServerCaContext": {
      "description": "Instance rotate server CA context.",
      "type": "object",
      "id": "RotateServerCaContext",
      "properties": {
        "kind": {
          "type": "string",
          "description": "This is always `sql#rotateServerCaContext`."
        },
        "nextVersion": {
          "description": "The fingerprint of the next version to be rotated to. If left unspecified, will be rotated to the most recently added server CA version.",
          "type": "string"
        }
      }
    },
    "SqlInstancesVerifyExternalSyncSettingsResponse": {
      "type": "object",
      "properties": {
        "warnings": {
          "type": "array",
          "description": "List of migration warnings.",
          "items": {
            "$ref": "SqlExternalSyncSettingError"
          }
        },
        "kind": {
          "description": "This is always `sql#migrationSettingErrorList`.",
          "type": "string"
        },
        "errors": {
          "description": "List of migration violations.",
          "type": "array",
          "items": {
            "$ref": "SqlExternalSyncSettingError"
          }
        }
      },
      "description": "Instance verify external sync settings response.",
      "id": "SqlInstancesVerifyExternalSyncSettingsResponse"
    },
    "ImportContext": {
      "description": "Database instance import context.",
      "id": "ImportContext",
      "type": "object",
      "properties": {
        "bakImportOptions": {
          "properties": {
            "encryptionOptions": {
              "properties": {
                "pvkPath": {
                  "description": "Path to the Certificate Private Key (.pvk) in Cloud Storage, in the form `gs://bucketName/fileName`. The instance must have write permissions to the bucket and read access to the file.",
                  "type": "string"
                },
                "certPath": {
                  "description": "Path to the Certificate (.cer) in Cloud Storage, in the form `gs://bucketName/fileName`. The instance must have write permissions to the bucket and read access to the file.",
                  "type": "string"
                },
                "pvkPassword": {
                  "type": "string",
                  "description": "Password that encrypts the private key"
                }
              },
              "type": "object"
            }
          },
          "description": "Import parameters specific to SQL Server .BAK files",
          "type": "object"
        },
        "importUser": {
          "description": "The PostgreSQL user for this import operation. PostgreSQL instances only.",
          "type": "string"
        },
        "csvImportOptions": {
          "description": "Options for importing data as CSV.",
          "type": "object",
          "properties": {
            "table": {
              "type": "string",
              "description": "The table to which CSV data is imported."
            },
            "columns": {
              "items": {
                "type": "string"
              },
              "description": "The columns to which CSV data is imported. If not specified, all columns of the database table are loaded with CSV data.",
              "type": "array"
            },
            "linesTerminatedBy": {
              "type": "string",
              "description": "This is used to separate lines. If a line does not contain all fields, the rest of the columns are set to their default values."
            },
            "escapeCharacter": {
              "type": "string",
              "description": "Specifies the character that should appear before a data character that needs to be escaped."
            },
            "quoteCharacter": {
              "description": "Specifies the quoting character to be used when a data value is quoted.",
              "type": "string"
            },
            "fieldsTerminatedBy": {
              "type": "string",
              "description": "Specifies the character that separates columns within each row (line) of the file."
            }
          }
        },
        "uri": {
          "description": "Path to the import file in Cloud Storage, in the form `gs://bucketName/fileName`. Compressed gzip files (.gz) are supported when `fileType` is `SQL`. The instance must have write permissions to the bucket and read access to the file.",
          "type": "string"
        },
        "fileType": {
          "enum": [
            "SQL_FILE_TYPE_UNSPECIFIED",
            "SQL",
            "CSV",
            "BAK"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown file type.",
            "File containing SQL statements.",
            "File in CSV format.",
            ""
          ],
          "description": "The file type for the specified uri. * `SQL`: The file contains SQL statements. * `CSV`: The file contains CSV data. * `BAK`: The file contains backup data for a SQL Server instance."
        },
        "kind": {
          "description": "This is always `sql#importContext`.",
          "type": "string"
        },
        "database": {
          "type": "string",
          "description": "The target database for the import. If `fileType` is `SQL`, this field is required only if the import file does not specify a database, and is overridden by any database specification in the import file. If `fileType` is `CSV`, one database must be specified."
        }
      }
    },
    "CloneContext": {
      "description": "Database instance clone context.",
      "type": "object",
      "properties": {
        "pointInTime": {
          "format": "google-datetime",
          "description": "Timestamp, if specified, identifies the time to which the source instance is cloned.",
          "type": "string"
        },
        "destinationInstanceName": {
          "type": "string",
          "description": "Name of the Cloud SQL instance to be created as a clone."
        },
        "allocatedIpRange": {
          "description": "The name of the allocated ip range for the private ip CloudSQL instance. For example: \"google-managed-services-default\". If set, the cloned instance ip will be created in the allocated range. The range name must comply with [RFC 1035](https://tools.ietf.org/html/rfc1035). Specifically, the name must be 1-63 characters long and match the regular expression [a-z]([-a-z0-9]*[a-z0-9])?. Reserved for future use.",
          "type": "string"
        },
        "binLogCoordinates": {
          "$ref": "BinLogCoordinates",
          "description": "Binary log coordinates, if specified, identify the position up to which the source instance is cloned. If not specified, the source instance is cloned up to the most recent binary log coordinates."
        },
        "pitrTimestampMs": {
          "description": "Reserved for future use.",
          "type": "string",
          "format": "int64"
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#cloneContext`."
        }
      },
      "id": "CloneContext"
    },
    "DiskEncryptionConfiguration": {
      "id": "DiskEncryptionConfiguration",
      "properties": {
        "kmsKeyName": {
          "type": "string",
          "description": "Resource name of KMS key for disk encryption"
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#diskEncryptionConfiguration`."
        }
      },
      "description": "Disk encryption configuration for an instance.",
      "type": "object"
    },
    "OperationsListResponse": {
      "id": "OperationsListResponse",
      "description": "Operations list response.",
      "type": "object",
      "properties": {
        "items": {
          "description": "List of operation resources.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results."
        },
        "kind": {
          "description": "This is always `sql#operationsList`.",
          "type": "string"
        }
      }
    },
    "LocationPreference": {
      "id": "LocationPreference",
      "properties": {
        "secondaryZone": {
          "type": "string",
          "description": "The preferred Compute Engine zone for the secondary/failover (for example: us-central1-a, us-central1-b, etc.). Reserved for future use."
        },
        "followGaeApplication": {
          "description": "The App Engine application to follow, it must be in the same region as the Cloud SQL instance. WARNING: Changing this might restart the instance.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#locationPreference`."
        },
        "zone": {
          "description": "The preferred Compute Engine zone (for example: us-central1-a, us-central1-b, etc.). WARNING: Changing this might restart the instance.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Preferred location. This specifies where a Cloud SQL instance is located. Note that if the preferred location is not available, the instance will be located as close as possible within the region. Only one location may be specified."
    },
    "User": {
      "description": "A Cloud SQL user resource.",
      "type": "object",
      "properties": {
        "etag": {
          "type": "string",
          "description": "This field is deprecated and will be removed from a future version of the API."
        },
        "name": {
          "description": "The name of the user in the Cloud SQL instance. Can be omitted for `update` because it is already specified in the URL.",
          "type": "string"
        },
        "instance": {
          "type": "string",
          "description": "The name of the Cloud SQL instance. This does not include the project ID. Can be omitted for *update* because it is already specified on the URL."
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#user`."
        },
        "passwordPolicy": {
          "$ref": "UserPasswordValidationPolicy",
          "description": "User level password validation policy."
        },
        "sqlserverUserDetails": {
          "$ref": "SqlServerUserDetails"
        },
        "host": {
          "description": "Optional. The host from which the user can connect. For `insert` operations, host defaults to an empty string. For `update` operations, host is specified as part of the request URL. The host name cannot be updated after insertion. For a MySQL instance, it's required; for a PostgreSQL or SQL Server instance, it's optional.",
          "type": "string"
        },
        "password": {
          "type": "string",
          "description": "The password for the user."
        },
        "type": {
          "enumDescriptions": [
            "The database's built-in user type.",
            "Cloud IAM user.",
            "Cloud IAM service account."
          ],
          "enum": [
            "BUILT_IN",
            "CLOUD_IAM_USER",
            "CLOUD_IAM_SERVICE_ACCOUNT"
          ],
          "type": "string",
          "description": "The user type. It determines the method to authenticate the user during login. The default is the database's built-in user type."
        },
        "project": {
          "type": "string",
          "description": "The project ID of the project containing the Cloud SQL database. The Google apps domain is prefixed if applicable. Can be omitted for *update* because it is already specified on the URL."
        }
      },
      "id": "User"
    },
    "SqlScheduledMaintenance": {
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "description": "The start time of any upcoming scheduled maintenance for this instance.",
          "type": "string"
        },
        "canReschedule": {
          "type": "boolean",
          "description": "If the scheduled maintenance can be rescheduled."
        },
        "scheduleDeadlineTime": {
          "type": "string",
          "description": "Maintenance cannot be rescheduled to start beyond this deadline.",
          "format": "google-datetime"
        },
        "canDefer": {
          "type": "boolean"
        }
      },
      "description": "Any scheduled maintenancce for this instance.",
      "type": "object",
      "id": "SqlScheduledMaintenance"
    },
    "PasswordValidationPolicy": {
      "id": "PasswordValidationPolicy",
      "type": "object",
      "properties": {
        "minLength": {
          "description": "Minimum number of characters allowed.",
          "type": "integer",
          "format": "int32"
        },
        "complexity": {
          "description": "The complexity of the password.",
          "enum": [
            "COMPLEXITY_UNSPECIFIED",
            "COMPLEXITY_DEFAULT"
          ],
          "type": "string",
          "enumDescriptions": [
            "Complexity check is not specified.",
            "A combination of lowercase, uppercase, numeric, and non-alphanumeric characters."
          ]
        },
        "disallowUsernameSubstring": {
          "type": "boolean",
          "description": "Disallow username as a part of the password."
        },
        "reuseInterval": {
          "format": "int32",
          "description": "Number of previous passwords that cannot be reused.",
          "type": "integer"
        },
        "passwordChangeInterval": {
          "format": "google-duration",
          "type": "string",
          "description": "Minimum interval after which the password can be changed. This flag is only supported for PostgresSQL."
        }
      },
      "description": "Database instance local user password validation policy"
    },
    "DemoteMasterContext": {
      "id": "DemoteMasterContext",
      "type": "object",
      "description": "Database instance demote primary instance context.",
      "properties": {
        "kind": {
          "description": "This is always `sql#demoteMasterContext`.",
          "type": "string"
        },
        "skipReplicationSetup": {
          "type": "boolean",
          "description": "Flag to skip replication setup on the instance."
        },
        "masterInstanceName": {
          "type": "string",
          "description": "The name of the instance which will act as on-premises primary instance in the replication setup."
        },
        "verifyGtidConsistency": {
          "description": "Verify the GTID consistency for demote operation. Default value: `True`. Setting this flag to `false` enables you to bypass the GTID consistency check between on-premises primary instance and Cloud SQL instance during the demotion operation but also exposes you to the risk of future replication failures. Change the value only if you know the reason for the GTID divergence and are confident that doing so will not cause any replication issues.",
          "type": "boolean"
        },
        "replicaConfiguration": {
          "$ref": "DemoteMasterConfiguration",
          "description": "Configuration specific to read-replicas replicating from the on-premises primary instance."
        }
      }
    },
    "IpMapping": {
      "properties": {
        "timeToRetire": {
          "description": "The due time for this IP to be retired in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`. This field is only available when the IP is scheduled to be retired.",
          "type": "string",
          "format": "google-datetime"
        },
        "type": {
          "description": "The type of this IP address. A `PRIMARY` address is a public address that can accept incoming connections. A `PRIVATE` address is a private address that can accept incoming connections. An `OUTGOING` address is the source address of connections originating from the instance, if supported.",
          "enumDescriptions": [
            "This is an unknown IP address type.",
            "IP address the customer is supposed to connect to. Usually this is the load balancer's IP address",
            "Source IP address of the connection a read replica establishes to its external primary instance. This IP address can be allowlisted by the customer in case it has a firewall that filters incoming connection to its on premises primary instance.",
            "Private IP used when using private IPs and network peering.",
            "V1 IP of a migrated instance. We want the user to decommission this IP as soon as the migration is complete. Note: V1 instances with V1 ip addresses will be counted as PRIMARY."
          ],
          "enum": [
            "SQL_IP_ADDRESS_TYPE_UNSPECIFIED",
            "PRIMARY",
            "OUTGOING",
            "PRIVATE",
            "MIGRATED_1ST_GEN"
          ],
          "type": "string"
        },
        "ipAddress": {
          "description": "The IP address assigned.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Database instance IP Mapping.",
      "id": "IpMapping"
    },
    "FailoverContext": {
      "description": "Database instance failover context.",
      "type": "object",
      "id": "FailoverContext",
      "properties": {
        "kind": {
          "type": "string",
          "description": "This is always `sql#failoverContext`."
        },
        "settingsVersion": {
          "description": "The current settings version of this instance. Request will be rejected if this version doesn't match the current settings version.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "DemoteMasterMySqlReplicaConfiguration": {
      "id": "DemoteMasterMySqlReplicaConfiguration",
      "description": "Read-replica configuration specific to MySQL databases.",
      "type": "object",
      "properties": {
        "username": {
          "description": "The username for the replication connection.",
          "type": "string"
        },
        "password": {
          "type": "string",
          "description": "The password for the replication connection."
        },
        "clientCertificate": {
          "type": "string",
          "description": "PEM representation of the replica's x509 certificate."
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#demoteMasterMysqlReplicaConfiguration`."
        },
        "clientKey": {
          "type": "string",
          "description": "PEM representation of the replica's private key. The corresponsing public key is encoded in the client's certificate. The format of the replica's private key can be either PKCS #1 or PKCS #8."
        },
        "caCertificate": {
          "description": "PEM representation of the trusted CA's x509 certificate.",
          "type": "string"
        }
      }
    },
    "DenyMaintenancePeriod": {
      "description": "Deny Maintenance Periods. This specifies a date range during when all CSA rollout will be denied.",
      "properties": {
        "startDate": {
          "type": "string",
          "description": "\"deny maintenance period\" start date. If the year of the start date is empty, the year of the end date also must be empty. In this case, it means the deny maintenance period recurs every year. The date is in format yyyy-mm-dd i.e., 2020-11-01, or mm-dd, i.e., 11-01"
        },
        "endDate": {
          "type": "string",
          "description": "\"deny maintenance period\" end date. If the year of the end date is empty, the year of the start date also must be empty. In this case, it means the deny maintenance period recurs every year. The date is in format yyyy-mm-dd i.e., 2020-11-01, or mm-dd, i.e., 11-01"
        },
        "time": {
          "description": "Time in UTC when the \"deny maintenance period\" starts on start_date and ends on end_date. The time is in format: HH:mm:SS, i.e., 00:00:00",
          "type": "string"
        }
      },
      "id": "DenyMaintenancePeriod",
      "type": "object"
    },
    "SslCert": {
      "id": "SslCert",
      "description": "SslCerts Resource",
      "properties": {
        "commonName": {
          "type": "string",
          "description": "User supplied name. Constrained to [a-zA-Z.-_ ]+."
        },
        "expirationTime": {
          "description": "The time when the certificate expires in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "format": "google-datetime",
          "type": "string"
        },
        "instance": {
          "type": "string",
          "description": "Name of the database instance."
        },
        "kind": {
          "description": "This is always `sql#sslCert`.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time when the certificate was created in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`."
        },
        "selfLink": {
          "description": "The URI of this resource.",
          "type": "string"
        },
        "cert": {
          "type": "string",
          "description": "PEM representation."
        },
        "certSerialNumber": {
          "type": "string",
          "description": "Serial number, as extracted from the certificate."
        },
        "sha1Fingerprint": {
          "description": "Sha1 Fingerprint.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "InstanceReference": {
      "type": "object",
      "description": "Reference to another Cloud SQL instance.",
      "properties": {
        "name": {
          "description": "The name of the Cloud SQL instance being referenced. This does not include the project ID.",
          "type": "string"
        },
        "region": {
          "description": "The region of the Cloud SQL instance being referenced.",
          "type": "string"
        },
        "project": {
          "type": "string",
          "description": "The project ID of the Cloud SQL instance being referenced. The default is the same project ID as the instance references it."
        }
      },
      "id": "InstanceReference"
    },
    "GenerateEphemeralCertResponse": {
      "id": "GenerateEphemeralCertResponse",
      "description": "Ephemeral certificate creation request.",
      "type": "object",
      "properties": {
        "ephemeralCert": {
          "description": "Generated cert",
          "$ref": "SslCert"
        }
      }
    },
    "BackupRun": {
      "properties": {
        "windowStartTime": {
          "type": "string",
          "description": "The start time of the backup window during which this the backup was attempted in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "format": "google-datetime"
        },
        "diskEncryptionStatus": {
          "$ref": "DiskEncryptionStatus",
          "description": "Encryption status specific to a backup."
        },
        "instance": {
          "type": "string",
          "description": "Name of the database instance."
        },
        "endTime": {
          "description": "The time the backup operation completed in UTC timezone in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "type": "string",
          "format": "google-datetime"
        },
        "type": {
          "enum": [
            "SQL_BACKUP_RUN_TYPE_UNSPECIFIED",
            "AUTOMATED",
            "ON_DEMAND"
          ],
          "type": "string",
          "description": "The type of this run; can be either \"AUTOMATED\" or \"ON_DEMAND\". This field defaults to \"ON_DEMAND\" and is ignored, when specified for insert requests.",
          "enumDescriptions": [
            "This is an unknown BackupRun type.",
            "The backup schedule automatically triggers a backup.",
            "The user manually triggers a backup."
          ]
        },
        "error": {
          "$ref": "OperationError",
          "description": "Information about why the backup operation failed. This is only present if the run has the FAILED status."
        },
        "selfLink": {
          "type": "string",
          "description": "The URI of this resource."
        },
        "enqueuedTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the run was enqueued in UTC timezone in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`."
        },
        "status": {
          "enumDescriptions": [
            "The status of the run is unknown.",
            "The backup operation was enqueued.",
            "The backup is overdue across a given backup window. Indicates a problem. Example: Long-running operation in progress during the whole window.",
            "The backup is in progress.",
            "The backup failed.",
            "The backup was successful.",
            "The backup was skipped (without problems) for a given backup window. Example: Instance was idle.",
            "The backup is about to be deleted.",
            "The backup deletion failed.",
            "The backup has been deleted."
          ],
          "description": "The status of this run.",
          "type": "string",
          "enum": [
            "SQL_BACKUP_RUN_STATUS_UNSPECIFIED",
            "ENQUEUED",
            "OVERDUE",
            "RUNNING",
            "FAILED",
            "SUCCESSFUL",
            "SKIPPED",
            "DELETION_PENDING",
            "DELETION_FAILED",
            "DELETED"
          ]
        },
        "diskEncryptionConfiguration": {
          "$ref": "DiskEncryptionConfiguration",
          "description": "Encryption configuration specific to a backup."
        },
        "id": {
          "type": "string",
          "format": "int64",
          "description": "The identifier for this backup run. Unique only for a specific Cloud SQL instance."
        },
        "description": {
          "type": "string",
          "description": "The description of this run, only applicable to on-demand backups."
        },
        "backupKind": {
          "enum": [
            "SQL_BACKUP_KIND_UNSPECIFIED",
            "SNAPSHOT",
            "PHYSICAL"
          ],
          "enumDescriptions": [
            "This is an unknown BackupKind.",
            "The snapshot based backups",
            "Physical backups"
          ],
          "type": "string",
          "description": "Specifies the kind of backup, PHYSICAL or DEFAULT_SNAPSHOT."
        },
        "startTime": {
          "description": "The time the backup operation actually started in UTC timezone in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "type": "string",
          "format": "google-datetime"
        },
        "kind": {
          "description": "This is always `sql#backupRun`.",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "Location of the backups."
        }
      },
      "description": "A BackupRun resource.",
      "type": "object",
      "id": "BackupRun"
    },
    "PasswordStatus": {
      "properties": {
        "locked": {
          "type": "boolean",
          "description": "If true, user does not have login privileges."
        },
        "passwordExpirationTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The expiration time of the current password."
        }
      },
      "id": "PasswordStatus",
      "description": "Read-only password status.",
      "type": "object"
    },
    "UserPasswordValidationPolicy": {
      "type": "object",
      "properties": {
        "allowedFailedAttempts": {
          "description": "Number of failed login attempts allowed before user get locked.",
          "format": "int32",
          "type": "integer"
        },
        "passwordExpirationDuration": {
          "format": "google-duration",
          "description": "Expiration duration after password is updated.",
          "type": "string"
        },
        "status": {
          "readOnly": true,
          "description": "Output only. Read-only password status.",
          "$ref": "PasswordStatus"
        },
        "enableFailedAttemptsCheck": {
          "type": "boolean",
          "description": "If true, failed login attempts check will be enabled."
        }
      },
      "id": "UserPasswordValidationPolicy",
      "description": "User level password validation policy."
    },
    "DemoteMasterConfiguration": {
      "description": "Read-replica configuration for connecting to the on-premises primary instance.",
      "properties": {
        "mysqlReplicaConfiguration": {
          "description": "MySQL specific configuration when replicating from a MySQL on-premises primary instance. Replication configuration information such as the username, password, certificates, and keys are not stored in the instance metadata. The configuration information is used only to set up the replication connection and is stored by MySQL in a file named `master.info` in the data directory.",
          "$ref": "DemoteMasterMySqlReplicaConfiguration"
        },
        "kind": {
          "description": "This is always `sql#demoteMasterConfiguration`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "DemoteMasterConfiguration"
    },
    "DatabasesListResponse": {
      "description": "Database list response.",
      "id": "DatabasesListResponse",
      "properties": {
        "items": {
          "items": {
            "$ref": "Database"
          },
          "type": "array",
          "description": "List of database resources in the instance."
        },
        "kind": {
          "description": "This is always `sql#databasesList`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "FlagsListResponse": {
      "id": "FlagsListResponse",
      "description": "Flags list response.",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "This is always `sql#flagsList`."
        },
        "items": {
          "description": "List of flags.",
          "items": {
            "$ref": "Flag"
          },
          "type": "array"
        }
      }
    },
    "SslCertsInsertResponse": {
      "properties": {
        "operation": {
          "description": "The operation to track the ssl certs insert request.",
          "$ref": "Operation"
        },
        "serverCaCert": {
          "description": "The server Certificate Authority's certificate. If this is missing you can force a new one to be generated by calling resetSslConfig method on instances resource.",
          "$ref": "SslCert"
        },
        "clientCert": {
          "description": "The new client certificate and private key.",
          "$ref": "SslCertDetail"
        },
        "kind": {
          "description": "This is always `sql#sslCertsInsert`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "SslCert insert response.",
      "id": "SslCertsInsertResponse"
    },
    "SqlInstancesRescheduleMaintenanceRequestBody": {
      "type": "object",
      "description": "Reschedule options for maintenance windows.",
      "id": "SqlInstancesRescheduleMaintenanceRequestBody",
      "properties": {
        "reschedule": {
          "description": "Required. The type of the reschedule the user wants.",
          "$ref": "Reschedule"
        }
      }
    },
    "Database": {
      "type": "object",
      "description": "Represents a SQL database on the Cloud SQL instance.",
      "properties": {
        "instance": {
          "type": "string",
          "description": "The name of the Cloud SQL instance. This does not include the project ID."
        },
        "sqlserverDatabaseDetails": {
          "$ref": "SqlServerDatabaseDetails"
        },
        "collation": {
          "type": "string",
          "description": "The Cloud SQL collation value."
        },
        "charset": {
          "type": "string",
          "description": "The Cloud SQL charset value."
        },
        "name": {
          "description": "The name of the database in the Cloud SQL instance. This does not include the project ID or instance name.",
          "type": "string"
        },
        "selfLink": {
          "description": "The URI of this resource.",
          "type": "string"
        },
        "etag": {
          "description": "This field is deprecated and will be removed from a future version of the API.",
          "type": "string"
        },
        "project": {
          "type": "string",
          "description": "The project ID of the project containing the Cloud SQL database. The Google apps domain is prefixed if applicable."
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#database`."
        }
      },
      "id": "Database"
    },
    "OnPremisesConfiguration": {
      "id": "OnPremisesConfiguration",
      "description": "On-premises instance configuration.",
      "type": "object",
      "properties": {
        "dumpFilePath": {
          "type": "string",
          "description": "The dump file to create the Cloud SQL replica."
        },
        "clientKey": {
          "description": "PEM representation of the replica's private key. The corresponsing public key is encoded in the client's certificate.",
          "type": "string"
        },
        "password": {
          "type": "string",
          "description": "The password for connecting to on-premises instance."
        },
        "caCertificate": {
          "type": "string",
          "description": "PEM representation of the trusted CA's x509 certificate."
        },
        "username": {
          "type": "string",
          "description": "The username for connecting to on-premises instance."
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#onPremisesConfiguration`."
        },
        "clientCertificate": {
          "description": "PEM representation of the replica's x509 certificate.",
          "type": "string"
        },
        "hostPort": {
          "type": "string",
          "description": "The host and port of the on-premises instance in host:port format"
        },
        "sourceInstance": {
          "description": "The reference to Cloud SQL instance if the source is Cloud SQL.",
          "$ref": "InstanceReference"
        }
      }
    },
    "DatabaseInstance": {
      "id": "DatabaseInstance",
      "properties": {
        "replicaConfiguration": {
          "description": "Configuration specific to failover replicas and read replicas.",
          "$ref": "ReplicaConfiguration"
        },
        "suspensionReason": {
          "items": {
            "enum": [
              "SQL_SUSPENSION_REASON_UNSPECIFIED",
              "BILLING_ISSUE",
              "LEGAL_ISSUE",
              "OPERATIONAL_ISSUE",
              "KMS_KEY_ISSUE"
            ],
            "enumDescriptions": [
              "This is an unknown suspension reason.",
              "The instance is suspended due to billing issues (for example:, GCP account issue)",
              "The instance is suspended due to illegal content (for example:, child pornography, copyrighted material, etc.).",
              "The instance is causing operational issues (for example:, causing the database to crash).",
              "The KMS key used by the instance is either revoked or denied access to"
            ],
            "type": "string"
          },
          "description": "If the instance state is SUSPENDED, the reason for the suspension.",
          "type": "array"
        },
        "databaseInstalledVersion": {
          "readOnly": true,
          "description": "Output only. Stores the current database version running on the instance including minor version such as `MYSQL_8_0_18`.",
          "type": "string"
        },
        "etag": {
          "description": "This field is deprecated and will be removed from a future version of the API. Use the `settings.settingsVersion` field instead.",
          "type": "string"
        },
        "diskEncryptionConfiguration": {
          "description": "Disk encryption configuration specific to an instance.",
          "$ref": "DiskEncryptionConfiguration"
        },
        "satisfiesPzs": {
          "description": "The status indicating if instance satisfiesPzs. Reserved for future use.",
          "type": "boolean"
        },
        "scheduledMaintenance": {
          "description": "The start time of any upcoming scheduled maintenance for this instance.",
          "$ref": "SqlScheduledMaintenance"
        },
        "settings": {
          "description": "The user settings.",
          "$ref": "Settings"
        },
        "ipv6Address": {
          "description": "The IPv6 address assigned to the instance. (Deprecated) This property was applicable only to First Generation instances.",
          "type": "string"
        },
        "serviceAccountEmailAddress": {
          "description": "The service account email address assigned to the instance. \\This property is read-only.",
          "type": "string"
        },
        "diskEncryptionStatus": {
          "$ref": "DiskEncryptionStatus",
          "description": "Disk encryption status specific to an instance."
        },
        "failoverReplica": {
          "description": "The name and status of the failover replica.",
          "properties": {
            "available": {
              "description": "The availability status of the failover replica. A false status indicates that the failover replica is out of sync. The primary instance can only failover to the failover replica when the status is true.",
              "type": "boolean"
            },
            "name": {
              "type": "string",
              "description": "The name of the failover replica. If specified at instance creation, a failover replica is created for the instance. The name doesn't include the project ID."
            }
          },
          "type": "object"
        },
        "connectionName": {
          "description": "Connection name of the Cloud SQL instance used in connection strings.",
          "type": "string"
        },
        "kind": {
          "description": "This is always `sql#instance`.",
          "type": "string"
        },
        "serverCaCert": {
          "$ref": "SslCert",
          "description": "SSL configuration."
        },
        "region": {
          "description": "The geographical region. Can be: * `us-central` (`FIRST_GEN` instances only) * `us-central1` (`SECOND_GEN` instances only) * `asia-east1` or `europe-west1`. Defaults to `us-central` or `us-central1` depending on the instance type. The region cannot be changed after instance creation.",
          "type": "string"
        },
        "currentDiskSize": {
          "type": "string",
          "description": "The current disk usage of the instance in bytes. This property has been deprecated. Use the \"cloudsql.googleapis.com/database/disk/bytes_used\" metric in Cloud Monitoring API instead. Please see [this announcement](https://groups.google.com/d/msg/google-cloud-sql-announce/I_7-F9EBhT0/BtvFtdFeAgAJ) for details.",
          "format": "int64"
        },
        "masterInstanceName": {
          "description": "The name of the instance which will act as primary in the replication setup.",
          "type": "string"
        },
        "outOfDiskReport": {
          "$ref": "SqlOutOfDiskReport",
          "description": "This field represents the report generated by the proactive database wellness job for OutOfDisk issues. * Writers: * the proactive database wellness job for OOD. * Readers: * the proactive database wellness job"
        },
        "name": {
          "type": "string",
          "description": "Name of the Cloud SQL instance. This does not include the project ID."
        },
        "databaseVersion": {
          "description": "The database engine type and version. The `databaseVersion` field cannot be changed after instance creation.",
          "enum": [
            "SQL_DATABASE_VERSION_UNSPECIFIED",
            "MYSQL_5_1",
            "MYSQL_5_5",
            "MYSQL_5_6",
            "MYSQL_5_7",
            "POSTGRES_9_6",
            "POSTGRES_11",
            "SQLSERVER_2017_STANDARD",
            "SQLSERVER_2017_ENTERPRISE",
            "SQLSERVER_2017_EXPRESS",
            "SQLSERVER_2017_WEB",
            "POSTGRES_10",
            "POSTGRES_12",
            "MYSQL_8_0",
            "MYSQL_8_0_18",
            "MYSQL_8_0_26",
            "POSTGRES_13",
            "POSTGRES_14",
            "SQLSERVER_2019_STANDARD",
            "SQLSERVER_2019_ENTERPRISE",
            "SQLSERVER_2019_EXPRESS",
            "SQLSERVER_2019_WEB"
          ],
          "enumDescriptions": [
            "This is an unknown database version.",
            "The database version is MySQL 5.1.",
            "The database version is MySQL 5.5.",
            "The database version is MySQL 5.6.",
            "The database version is MySQL 5.7.",
            "The database version is PostgreSQL 9.6.",
            "The database version is PostgreSQL 11.",
            "The database version is SQL Server 2017 Standard.",
            "The database version is SQL Server 2017 Enterprise.",
            "The database version is SQL Server 2017 Express.",
            "The database version is SQL Server 2017 Web.",
            "The database version is PostgreSQL 10.",
            "The database version is PostgreSQL 12.",
            "The database version is MySQL 8.",
            "The database major version is MySQL 8.0 and the minor version is 18.",
            "The database major version is MySQL 8.0 and the minor version is 26.",
            "The database version is PostgreSQL 13.",
            "The database version is PostgreSQL 14.",
            "The database version is SQL Server 2019 Standard.",
            "The database version is SQL Server 2019 Enterprise.",
            "The database version is SQL Server 2019 Express.",
            "The database version is SQL Server 2019 Web."
          ],
          "type": "string"
        },
        "gceZone": {
          "type": "string",
          "description": "The Compute Engine zone that the instance is currently serving from. This value could be different from the zone that was specified when the instance was created if the instance has failed over to its secondary zone. WARNING: Changing this might restart the instance."
        },
        "project": {
          "description": "The project ID of the project containing the Cloud SQL instance. The Google apps domain is prefixed if applicable.",
          "type": "string"
        },
        "rootPassword": {
          "type": "string",
          "description": "Initial root password. Use only on creation."
        },
        "instanceType": {
          "enum": [
            "SQL_INSTANCE_TYPE_UNSPECIFIED",
            "CLOUD_SQL_INSTANCE",
            "ON_PREMISES_INSTANCE",
            "READ_REPLICA_INSTANCE"
          ],
          "type": "string",
          "enumDescriptions": [
            "This is an unknown Cloud SQL instance type.",
            "A regular Cloud SQL instance that is not replicating from a primary instance.",
            "An instance running on the customer's premises that is not managed by Cloud SQL.",
            "A Cloud SQL instance acting as a read-replica."
          ],
          "description": "The instance type."
        },
        "ipAddresses": {
          "items": {
            "$ref": "IpMapping"
          },
          "type": "array",
          "description": "The assigned IP addresses for the instance."
        },
        "selfLink": {
          "type": "string",
          "description": "The URI of this resource."
        },
        "backendType": {
          "type": "string",
          "enum": [
            "SQL_BACKEND_TYPE_UNSPECIFIED",
            "FIRST_GEN",
            "SECOND_GEN",
            "EXTERNAL"
          ],
          "description": "The backend type. `SECOND_GEN`: Cloud SQL database instance. `EXTERNAL`: A database server that is not managed by Google. This property is read-only; use the `tier` property in the `settings` object to determine the database type.",
          "enumDescriptions": [
            "This is an unknown backend type for instance.",
            "V1 speckle instance.",
            "V2 speckle instance.",
            "On premises instance."
          ]
        },
        "maintenanceVersion": {
          "type": "string",
          "description": "The current software version on the instance."
        },
        "secondaryGceZone": {
          "description": "The Compute Engine zone that the failover instance is currently serving from for a regional instance. This value could be different from the zone that was specified when the instance was created if the instance has failed over to its secondary/failover zone. Reserved for future use.",
          "type": "string"
        },
        "maxDiskSize": {
          "description": "The maximum disk size of the instance in bytes.",
          "type": "string",
          "format": "int64"
        },
        "state": {
          "enumDescriptions": [
            "The state of the instance is unknown.",
            "The instance is running, or has been stopped by owner.",
            "The instance is not available, for example due to problems with billing.",
            "The instance is being deleted.",
            "The instance is being created.",
            "The instance is down for maintenance.",
            "The creation of the instance failed or a fatal error occurred during maintenance.",
            "Deprecated"
          ],
          "type": "string",
          "enum": [
            "SQL_INSTANCE_STATE_UNSPECIFIED",
            "RUNNABLE",
            "SUSPENDED",
            "PENDING_DELETE",
            "PENDING_CREATE",
            "MAINTENANCE",
            "FAILED",
            "ONLINE_MAINTENANCE"
          ],
          "description": "The current serving state of the Cloud SQL instance."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when the instance was created in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "readOnly": true
        },
        "availableMaintenanceVersions": {
          "items": {
            "type": "string"
          },
          "description": "List all maintenance versions applicable on the instance",
          "type": "array"
        },
        "onPremisesConfiguration": {
          "$ref": "OnPremisesConfiguration",
          "description": "Configuration specific to on-premises instances."
        },
        "replicaNames": {
          "type": "array",
          "description": "The replicas of the instance.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "A Cloud SQL instance resource."
    },
    "SyncFlags": {
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the flag.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "The value of the flag. This field must be omitted if the flag doesn't take a value."
        }
      },
      "description": "Initial sync flags for certain Cloud SQL APIs. Currently used for the MySQL external server initial dump.",
      "id": "SyncFlags"
    },
    "MySqlReplicaConfiguration": {
      "properties": {
        "sslCipher": {
          "type": "string",
          "description": "A list of permissible ciphers to use for SSL encryption."
        },
        "verifyServerCertificate": {
          "type": "boolean",
          "description": "Whether or not to check the primary instance's Common Name value in the certificate that it sends during the SSL handshake."
        },
        "dumpFilePath": {
          "description": "Path to a SQL dump file in Google Cloud Storage from which the replica instance is to be created. The URI is in the form gs://bucketName/fileName. Compressed gzip files (.gz) are also supported. Dumps have the binlog co-ordinates from which replication begins. This can be accomplished by setting --master-data to 1 when using mysqldump.",
          "type": "string"
        },
        "password": {
          "type": "string",
          "description": "The password for the replication connection."
        },
        "caCertificate": {
          "type": "string",
          "description": "PEM representation of the trusted CA's x509 certificate."
        },
        "username": {
          "type": "string",
          "description": "The username for the replication connection."
        },
        "clientCertificate": {
          "type": "string",
          "description": "PEM representation of the replica's x509 certificate."
        },
        "masterHeartbeatPeriod": {
          "description": "Interval in milliseconds between replication heartbeats.",
          "format": "int64",
          "type": "string"
        },
        "connectRetryInterval": {
          "type": "integer",
          "description": "Seconds to wait between connect retries. MySQL's default is 60 seconds.",
          "format": "int32"
        },
        "clientKey": {
          "description": "PEM representation of the replica's private key. The corresponsing public key is encoded in the client's certificate.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#mysqlReplicaConfiguration`."
        }
      },
      "id": "MySqlReplicaConfiguration",
      "description": "Read-replica configuration specific to MySQL databases.",
      "type": "object"
    },
    "InstancesListServerCasResponse": {
      "description": "Instances ListServerCas response.",
      "type": "object",
      "id": "InstancesListServerCasResponse",
      "properties": {
        "kind": {
          "type": "string",
          "description": "This is always `sql#instancesListServerCas`."
        },
        "activeVersion": {
          "type": "string"
        },
        "certs": {
          "type": "array",
          "description": "List of server CA certificates for the instance.",
          "items": {
            "$ref": "SslCert"
          }
        }
      }
    },
    "SqlServerAuditConfig": {
      "id": "SqlServerAuditConfig",
      "type": "object",
      "description": "SQL Server specific audit configuration.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "This is always sql#sqlServerAuditConfig"
        },
        "bucket": {
          "description": "The name of the destination bucket (e.g., gs://mybucket).",
          "type": "string"
        }
      }
    },
    "TiersListResponse": {
      "type": "object",
      "description": "Tiers list response.",
      "id": "TiersListResponse",
      "properties": {
        "kind": {
          "description": "This is always `sql#tiersList`.",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "Tier"
          },
          "description": "List of tiers.",
          "type": "array"
        }
      }
    },
    "BackupRetentionSettings": {
      "id": "BackupRetentionSettings",
      "type": "object",
      "description": "We currently only support backup retention by specifying the number of backups we will retain.",
      "properties": {
        "retainedBackups": {
          "description": "Depending on the value of retention_unit, this is used to determine if a backup needs to be deleted. If retention_unit is 'COUNT', we will retain this many backups.",
          "type": "integer",
          "format": "int32"
        },
        "retentionUnit": {
          "type": "string",
          "description": "The unit that 'retained_backups' represents.",
          "enum": [
            "RETENTION_UNIT_UNSPECIFIED",
            "COUNT"
          ],
          "enumDescriptions": [
            "Backup retention unit is unspecified, will be treated as COUNT.",
            "Retention will be by count, eg. \"retain the most recent 7 backups\"."
          ]
        }
      }
    },
    "DiskEncryptionStatus": {
      "description": "Disk encryption status for an instance.",
      "properties": {
        "kmsKeyVersionName": {
          "type": "string",
          "description": "KMS key version used to encrypt the Cloud SQL instance resource"
        },
        "kind": {
          "description": "This is always `sql#diskEncryptionStatus`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "DiskEncryptionStatus"
    },
    "GenerateEphemeralCertRequest": {
      "description": "Ephemeral certificate creation request.",
      "properties": {
        "validDuration": {
          "format": "google-duration",
          "type": "string",
          "description": "Optional. If set, it will contain the cert valid duration."
        },
        "access_token": {
          "description": "Optional. Access token to include in the signed certificate.",
          "type": "string"
        },
        "public_key": {
          "type": "string",
          "description": "PEM encoded public key to include in the signed certificate."
        },
        "readTime": {
          "format": "google-datetime",
          "description": "Optional. Optional snapshot read timestamp to trade freshness for performance.",
          "type": "string"
        }
      },
      "id": "GenerateEphemeralCertRequest",
      "type": "object"
    },
    "MaintenanceWindow": {
      "type": "object",
      "description": "Maintenance window. This specifies when a Cloud SQL instance is restarted for system maintenance purposes.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "This is always `sql#maintenanceWindow`."
        },
        "day": {
          "type": "integer",
          "format": "int32",
          "description": "day of week (1-7), starting on Monday."
        },
        "updateTrack": {
          "enum": [
            "SQL_UPDATE_TRACK_UNSPECIFIED",
            "canary",
[...]
