{
  "discoveryVersion": "v1",
  "canonicalName": "SQL Admin",
  "revision": "20220215",
  "basePath": "",
  "kind": "discovery#restDescription",
  "resources": {
    "databases": {
      "methods": {
        "get": {
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/databases/{database}",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/databases/{database}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "response": {
            "$ref": "Database"
          },
          "httpMethod": "GET",
          "id": "sql.databases.get",
          "description": "Retrieves a resource containing information about a database inside a Cloud SQL instance.",
          "parameterOrder": [
            "project",
            "instance",
            "database"
          ],
          "parameters": {
            "project": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Project ID of the project that contains the instance."
            },
            "database": {
              "required": true,
              "type": "string",
              "description": "Name of the database in the instance.",
              "location": "path"
            },
            "instance": {
              "description": "Database instance ID. This does not include the project ID.",
              "type": "string",
              "location": "path",
              "required": true
            }
          }
        },
        "update": {
          "httpMethod": "PUT",
          "parameters": {
            "project": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Project ID of the project that contains the instance."
            },
            "database": {
              "location": "path",
              "description": "Name of the database to be updated in the instance.",
              "required": true,
              "type": "string"
            },
            "instance": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Database instance ID. This does not include the project ID."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/databases/{database}",
          "description": "Updates a resource containing information about a database inside a Cloud SQL instance.",
          "response": {
            "$ref": "Operation"
          },
          "id": "sql.databases.update",
          "request": {
            "$ref": "Database"
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/databases/{database}",
          "parameterOrder": [
            "project",
            "instance",
            "database"
          ]
        },
        "list": {
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/databases",
          "id": "sql.databases.list",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "instance": {
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "type": "string"
            },
            "project": {
              "type": "string",
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "response": {
            "$ref": "DatabasesListResponse"
          },
          "httpMethod": "GET",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/databases",
          "description": "Lists databases in the specified Cloud SQL instance."
        },
        "delete": {
          "parameters": {
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "instance": {
              "type": "string",
              "location": "path",
              "description": "Database instance ID. This does not include the project ID.",
              "required": true
            },
            "database": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Name of the database to be deleted in the instance."
            }
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/databases/{database}",
          "response": {
            "$ref": "Operation"
          },
          "description": "Deletes a database from a Cloud SQL instance.",
          "parameterOrder": [
            "project",
            "instance",
            "database"
          ],
          "id": "sql.databases.delete",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/databases/{database}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "httpMethod": "DELETE"
        },
        "patch": {
          "response": {
            "$ref": "Operation"
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/databases/{database}",
          "parameters": {
            "database": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Name of the database to be updated in the instance."
            },
            "instance": {
              "description": "Database instance ID. This does not include the project ID.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "project": {
              "required": true,
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "type": "string"
            }
          },
          "request": {
            "$ref": "Database"
          },
          "parameterOrder": [
            "project",
            "instance",
            "database"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Partially updates a resource containing information about a database inside a Cloud SQL instance. This method supports patch semantics.",
          "id": "sql.databases.patch",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/databases/{database}",
          "httpMethod": "PATCH"
        },
        "insert": {
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/databases",
          "description": "Inserts a resource containing information about a database inside a Cloud SQL instance.",
          "parameters": {
            "project": {
              "required": true,
              "type": "string",
              "description": "Project ID of the project that contains the instance.",
              "location": "path"
            },
            "instance": {
              "description": "Database instance ID. This does not include the project ID.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "response": {
            "$ref": "Operation"
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/databases",
          "request": {
            "$ref": "Database"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.databases.insert",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "httpMethod": "POST"
        }
      }
    },
    "sslCerts": {
      "methods": {
        "delete": {
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/sslCerts/{sha1Fingerprint}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Deletes the SSL certificate. For First Generation instances, the certificate remains valid until the instance is restarted.",
          "id": "sql.sslCerts.delete",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/sslCerts/{sha1Fingerprint}",
          "parameters": {
            "instance": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID."
            },
            "sha1Fingerprint": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Sha1 FingerPrint."
            },
            "project": {
              "type": "string",
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "required": true
            }
          },
          "httpMethod": "DELETE",
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project",
            "instance",
            "sha1Fingerprint"
          ]
        },
        "createEphemeral": {
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/createEphemeral",
          "id": "sql.sslCerts.createEphemeral",
          "description": "Generates a short-lived X509 certificate containing the provided public key and signed by a private key specific to the target instance. Users may use the certificate to authenticate as themselves when connecting to the database.",
          "response": {
            "$ref": "SslCert"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "request": {
            "$ref": "SslCertsCreateEphemeralRequest"
          },
          "httpMethod": "POST",
          "parameters": {
            "project": {
              "location": "path",
              "description": "Project ID of the Cloud SQL project.",
              "type": "string",
              "required": true
            },
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/createEphemeral",
          "parameterOrder": [
            "project",
            "instance"
          ]
        },
        "insert": {
          "parameters": {
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "project": {
              "location": "path",
              "type": "string",
              "description": "Project ID of the project that contains the instance.",
              "required": true
            }
          },
          "id": "sql.sslCerts.insert",
          "response": {
            "$ref": "SslCertsInsertResponse"
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/sslCerts",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "description": "Creates an SSL certificate and returns it along with the private key and server certificate authority. The new certificate will not be usable until the instance is restarted.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "SslCertsInsertRequest"
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/sslCerts"
        },
        "get": {
          "id": "sql.sslCerts.get",
          "description": "Retrieves a particular SSL certificate. Does not include the private key (required for usage). The private key must be saved from the response to initial creation.",
          "parameters": {
            "project": {
              "location": "path",
              "description": "Project ID of the project that contains the instance.",
              "type": "string",
              "required": true
            },
            "instance": {
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "type": "string"
            },
            "sha1Fingerprint": {
              "location": "path",
              "description": "Sha1 FingerPrint.",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/sslCerts/{sha1Fingerprint}",
          "httpMethod": "GET",
          "response": {
            "$ref": "SslCert"
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/sslCerts/{sha1Fingerprint}",
          "parameterOrder": [
            "project",
            "instance",
            "sha1Fingerprint"
          ]
        },
        "list": {
          "parameterOrder": [
            "project",
            "instance"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/sslCerts",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/sslCerts",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "response": {
            "$ref": "SslCertsListResponse"
          },
          "id": "sql.sslCerts.list",
          "httpMethod": "GET",
          "description": "Lists all of the current SSL certificates for the instance.",
          "parameters": {
            "instance": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Cloud SQL instance ID. This does not include the project ID."
            },
            "project": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Project ID of the project that contains the instance."
            }
          }
        }
      }
    },
    "flags": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "parameters": {
            "databaseVersion": {
              "type": "string",
              "description": "Database type and version you want to retrieve flags for. By default, this method returns flags for all database types and versions.",
              "location": "query"
            }
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "response": {
            "$ref": "FlagsListResponse"
          },
          "id": "sql.flags.list",
          "flatPath": "sql/v1beta4/flags",
          "path": "sql/v1beta4/flags",
          "description": "Lists all available database flags for Cloud SQL instances."
        }
      }
    },
    "connect": {
      "methods": {
        "generateEphemeralCert": {
          "response": {
            "$ref": "GenerateEphemeralCertResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "httpMethod": "POST",
          "id": "sql.connect.generateEphemeral",
          "parameters": {
            "instance": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Cloud SQL instance ID. This does not include the project ID."
            },
            "project": {
              "required": true,
              "description": "Project ID of the project that contains the instance.",
              "type": "string",
              "location": "path"
            }
          },
          "description": "Generates a short-lived X509 certificate containing the provided public key and signed by a private key specific to the target instance. Users may use the certificate to authenticate as themselves when connecting to the database.",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}:generateEphemeralCert",
          "request": {
            "$ref": "GenerateEphemeralCertRequest"
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}:generateEphemeralCert"
        },
        "get": {
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/connectSettings",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Retrieves connect settings about a Cloud SQL instance.",
          "httpMethod": "GET",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/connectSettings",
          "id": "sql.connect.get",
          "response": {
            "$ref": "ConnectSettings"
          },
          "parameters": {
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "readTime": {
              "format": "google-datetime",
              "type": "string",
              "location": "query",
              "description": "Optional. Optional snapshot read timestamp to trade freshness for performance."
            },
            "project": {
              "location": "path",
              "type": "string",
              "description": "Project ID of the project that contains the instance.",
              "required": true
            }
          }
        }
      }
    },
    "users": {
      "methods": {
        "list": {
          "description": "Lists users in the specified Cloud SQL instance.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.users.list",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "httpMethod": "GET",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/users",
          "response": {
            "$ref": "UsersListResponse"
          },
          "parameters": {
            "instance": {
              "description": "Database instance ID. This does not include the project ID.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "project": {
              "location": "path",
              "required": true,
              "description": "Project ID of the project that contains the instance.",
              "type": "string"
            }
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/users"
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/users",
          "parameters": {
            "instance": {
              "description": "Database instance ID. This does not include the project ID.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "host": {
              "location": "query",
              "description": "Optional. Host of the user in the instance.",
              "type": "string"
            },
            "name": {
              "description": "Name of the user in the instance.",
              "type": "string",
              "location": "query"
            }
          },
          "id": "sql.users.update",
          "httpMethod": "PUT",
          "description": "Updates an existing user in a Cloud SQL instance.",
          "request": {
            "$ref": "User"
          },
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/users"
        },
        "delete": {
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "host": {
              "location": "query",
              "description": "Host of the user in the instance.",
              "type": "string"
            },
            "name": {
              "type": "string",
              "description": "Name of the user in the instance.",
              "location": "query"
            },
            "project": {
              "required": true,
              "type": "string",
              "description": "Project ID of the project that contains the instance.",
              "location": "path"
            },
            "instance": {
              "location": "path",
              "description": "Database instance ID. This does not include the project ID.",
              "type": "string",
              "required": true
            }
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/users",
          "id": "sql.users.delete",
          "httpMethod": "DELETE",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/users",
          "description": "Deletes a user from a Cloud SQL instance.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "response": {
            "$ref": "Operation"
          }
        },
        "insert": {
          "parameters": {
            "project": {
              "type": "string",
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "required": true
            },
            "instance": {
              "description": "Database instance ID. This does not include the project ID.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/users",
          "response": {
            "$ref": "Operation"
          },
          "request": {
            "$ref": "User"
          },
          "description": "Creates a new user in a Cloud SQL instance.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.users.insert",
          "httpMethod": "POST",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/users"
        }
      }
    },
    "tiers": {
      "methods": {
        "list": {
          "path": "sql/v1beta4/projects/{project}/tiers",
          "description": "Lists all available machine types (tiers) for Cloud SQL, for example, `db-custom-1-3840`. For related information, see [Pricing](/sql/pricing).",
          "parameterOrder": [
            "project"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "project": {
              "required": true,
              "description": "Project ID of the project for which to list tiers.",
              "type": "string",
              "location": "path"
            }
          },
          "response": {
            "$ref": "TiersListResponse"
          },
          "flatPath": "sql/v1beta4/projects/{project}/tiers",
          "id": "sql.tiers.list",
          "httpMethod": "GET"
        }
      }
    },
    "instances": {
      "methods": {
        "truncateLog": {
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/truncateLog",
          "request": {
            "$ref": "InstancesTruncateLogRequest"
          },
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "project": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Project ID of the Cloud SQL project."
            }
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "description": "Truncate MySQL general and slow query log tables MySQL only.",
          "id": "sql.instances.truncateLog",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/truncateLog",
          "httpMethod": "POST"
        },
        "patch": {
          "id": "sql.instances.patch",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameterOrder": [
            "project",
            "instance"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}",
          "response": {
            "$ref": "Operation"
          },
          "request": {
            "$ref": "DatabaseInstance"
          },
          "httpMethod": "PATCH",
          "parameters": {
            "project": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Project ID of the project that contains the instance."
            },
            "instance": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Cloud SQL instance ID. This does not include the project ID."
            }
          },
          "description": "Updates settings of a Cloud SQL instance. This method supports patch semantics.",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}"
        },
        "export": {
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "request": {
            "$ref": "InstancesExportRequest"
          },
          "description": "Exports data from a Cloud SQL instance to a Cloud Storage bucket as a SQL dump or CSV file.",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/export",
          "httpMethod": "POST",
          "id": "sql.instances.export",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/export",
          "parameters": {
            "project": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Project ID of the project that contains the instance to be exported."
            },
            "instance": {
              "location": "path",
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string"
            }
          }
        },
        "update": {
          "parameters": {
            "instance": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID."
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}",
          "httpMethod": "PUT",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}",
          "response": {
            "$ref": "Operation"
          },
          "description": "Updates settings of a Cloud SQL instance. Using this operation might cause your instance to restart.",
          "id": "sql.instances.update",
          "request": {
            "$ref": "DatabaseInstance"
          }
        },
        "stopReplica": {
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/stopReplica",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/stopReplica",
          "id": "sql.instances.stopReplica",
          "response": {
            "$ref": "Operation"
          },
          "description": "Stops the replication in the read replica instance.",
          "parameters": {
            "project": {
              "location": "path",
              "description": "ID of the project that contains the read replica.",
              "type": "string",
              "required": true
            },
            "instance": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Cloud SQL read replica instance name."
            }
          },
          "parameterOrder": [
            "project",
            "instance"
          ]
        },
        "demoteMaster": {
          "description": "Demotes the stand-alone instance to be a Cloud SQL read replica for an external database server.",
          "request": {
            "$ref": "InstancesDemoteMasterRequest"
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/demoteMaster",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/demoteMaster",
          "httpMethod": "POST",
          "id": "sql.instances.demoteMaster",
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "project": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "ID of the project that contains the instance."
            },
            "instance": {
              "required": true,
              "location": "path",
              "description": "Cloud SQL instance name.",
              "type": "string"
            }
          },
          "parameterOrder": [
            "project",
            "instance"
          ]
        },
        "delete": {
          "path": "sql/v1beta4/projects/{project}/instances/{instance}",
          "id": "sql.instances.delete",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}",
          "response": {
            "$ref": "Operation"
          },
          "description": "Deletes a Cloud SQL instance.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameterOrder": [
            "project",
            "instance"
          ],
          "httpMethod": "DELETE",
          "parameters": {
            "project": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Project ID of the project that contains the instance to be deleted."
            },
            "instance": {
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "type": "string"
            }
          }
        },
        "addServerCa": {
          "id": "sql.instances.addServerCa",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/addServerCa",
          "parameters": {
            "project": {
              "required": true,
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "type": "string"
            },
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "description": "Add a new trusted Certificate Authority (CA) version for the specified instance. Required to prepare for a certificate rotation. If a CA version was previously added but never used in a certificate rotation, this operation replaces that version. There cannot be more than one CA version waiting to be rotated in.",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "response": {
            "$ref": "Operation"
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/addServerCa",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "restoreBackup": {
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/restoreBackup",
          "httpMethod": "POST",
          "description": "Restores a backup of a Cloud SQL instance. Using this operation might cause your instance to restart.",
          "parameters": {
            "project": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Project ID of the project that contains the instance."
            },
            "instance": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Cloud SQL instance ID. This does not include the project ID."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "response": {
            "$ref": "Operation"
          },
          "request": {
            "$ref": "InstancesRestoreBackupRequest"
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/restoreBackup",
          "id": "sql.instances.restoreBackup",
          "parameterOrder": [
            "project",
            "instance"
          ]
        },
        "promoteReplica": {
          "parameterOrder": [
            "project",
            "instance"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "Operation"
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/promoteReplica",
          "description": "Promotes the read replica instance to be a stand-alone Cloud SQL instance. Using this operation might cause your instance to restart.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.instances.promoteReplica",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/promoteReplica",
          "parameters": {
            "instance": {
              "required": true,
              "type": "string",
              "description": "Cloud SQL read replica instance name.",
              "location": "path"
            },
            "project": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "ID of the project that contains the read replica."
            }
          }
        },
        "startReplica": {
          "parameterOrder": [
            "project",
            "instance"
          ],
          "description": "Starts the replication in the read replica instance.",
          "parameters": {
            "project": {
              "type": "string",
              "description": "ID of the project that contains the read replica.",
              "required": true,
              "location": "path"
            },
            "instance": {
              "description": "Cloud SQL read replica instance name.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "POST",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/startReplica",
          "id": "sql.instances.startReplica",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/startReplica"
        },
        "resetSslConfig": {
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/resetSslConfig",
          "id": "sql.instances.resetSslConfig",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "description": "Deletes all client certificates and generates a new server SSL certificate for the instance.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "httpMethod": "POST",
          "parameters": {
            "instance": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID."
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "response": {
            "$ref": "Operation"
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/resetSslConfig"
        },
        "failover": {
          "description": "Initiates a manual failover of a high availability (HA) primary instance to a standby instance, which becomes the primary instance. Users are then rerouted to the new primary. For more information, see the [Overview of high availability](https://cloud.google.com/sql/docs/mysql/high-availability) page in the Cloud SQL documentation. If using Legacy HA (MySQL only), this causes the instance to failover to its failover replica instance.",
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "POST",
          "parameters": {
            "project": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "ID of the project that contains the read replica."
            },
            "instance": {
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "type": "string"
            }
          },
          "request": {
            "$ref": "InstancesFailoverRequest"
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/failover",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "id": "sql.instances.failover",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/failover"
        },
        "get": {
          "parameterOrder": [
            "project",
            "instance"
          ],
          "id": "sql.instances.get",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}",
          "httpMethod": "GET",
          "parameters": {
            "instance": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Database instance ID. This does not include the project ID."
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "DatabaseInstance"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Retrieves a resource containing information about a Cloud SQL instance."
        },
        "list": {
          "description": "Lists instances under a given project.",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameterOrder": [
            "project"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances",
          "response": {
            "$ref": "InstancesListResponse"
          },
          "parameters": {
            "maxResults": {
              "location": "query",
              "format": "uint32",
              "description": "The maximum number of results to return per response.",
              "type": "integer"
            },
            "project": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Project ID of the project for which to list Cloud SQL instances."
            },
            "filter": {
              "description": "A filter expression that filters resources listed in the response. The expression is in the form of field:value. For example, 'instanceType:CLOUD_SQL_INSTANCE'. Fields can be nested as needed as per their JSON representation, such as 'settings.userLabels.auto_start:true'. Multiple filter queries are space-separated. For example. 'state:RUNNABLE instanceType:CLOUD_SQL_INSTANCE'. By default, each expression is an AND expression. However, you can include AND and OR expressions explicitly.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "description": "A previously-returned page token representing part of the larger set of results to view.",
              "type": "string",
              "location": "query"
            }
          },
          "path": "sql/v1beta4/projects/{project}/instances",
          "id": "sql.instances.list"
        },
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "path": "sql/v1beta4/projects/{project}/instances",
          "id": "sql.instances.insert",
          "httpMethod": "POST",
          "parameterOrder": [
            "project"
          ],
          "description": "Creates a new Cloud SQL instance.",
          "request": {
            "$ref": "DatabaseInstance"
          },
          "parameters": {
            "project": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Project ID of the project to which the newly created Cloud SQL instances should belong."
            }
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances",
          "response": {
            "$ref": "Operation"
          }
        },
        "clone": {
          "id": "sql.instances.clone",
          "request": {
            "$ref": "InstancesCloneRequest"
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/clone",
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "project": {
              "location": "path",
              "type": "string",
              "description": "Project ID of the source as well as the clone Cloud SQL instance.",
              "required": true
            },
            "instance": {
              "description": "The ID of the Cloud SQL instance to be cloned (source). This does not include the project ID.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Creates a Cloud SQL instance as a clone of the source instance. Using this operation might cause your instance to restart.",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/clone"
        },
        "rotateServerCa": {
          "parameterOrder": [
            "project",
            "instance"
          ],
          "request": {
            "$ref": "InstancesRotateServerCaRequest"
          },
          "id": "sql.instances.rotateServerCa",
          "parameters": {
            "instance": {
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string",
              "location": "path"
            },
            "project": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Project ID of the project that contains the instance."
            }
          },
          "httpMethod": "POST",
          "description": "Rotates the server certificate to one signed by the Certificate Authority (CA) version previously added with the addServerCA method.",
          "response": {
            "$ref": "Operation"
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/rotateServerCa",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/rotateServerCa"
        },
        "restart": {
          "id": "sql.instances.restart",
          "parameters": {
            "project": {
              "location": "path",
              "type": "string",
              "description": "Project ID of the project that contains the instance to be restarted.",
              "required": true
            },
            "instance": {
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/restart",
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "httpMethod": "POST",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/restart",
          "description": "Restarts a Cloud SQL instance."
        },
        "import": {
          "response": {
            "$ref": "Operation"
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/import",
          "description": "Imports data into a Cloud SQL instance from a SQL dump or CSV file in Cloud Storage.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "project": {
              "location": "path",
              "required": true,
              "description": "Project ID of the project that contains the instance.",
              "type": "string"
            },
            "instance": {
              "type": "string",
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path"
            }
          },
          "request": {
            "$ref": "InstancesImportRequest"
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/import",
          "httpMethod": "POST",
          "id": "sql.instances.import",
          "parameterOrder": [
            "project",
            "instance"
          ]
        },
        "listServerCas": {
          "parameterOrder": [
            "project",
            "instance"
          ],
          "description": "Lists all of the trusted Certificate Authorities (CAs) for the specified instance. There can be up to three CAs listed: the CA that was used to sign the certificate that is currently in use, a CA that has been added but not yet used to sign a certificate, and a CA used to sign a certificate that has previously rotated out.",
          "parameters": {
            "project": {
              "location": "path",
              "description": "Project ID of the project that contains the instance.",
              "type": "string",
              "required": true
            },
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "response": {
            "$ref": "InstancesListServerCasResponse"
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/listServerCas",
          "id": "sql.instances.listServerCas",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/listServerCas"
        }
      }
    },
    "projects": {
      "resources": {
        "instances": {
          "methods": {
            "rescheduleMaintenance": {
              "id": "sql.projects.instances.rescheduleMaintenance",
              "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/rescheduleMaintenance",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sqlservice.admin"
              ],
              "parameters": {
                "project": {
                  "description": "ID of the project that contains the instance.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "instance": {
                  "description": "Cloud SQL instance ID. This does not include the project ID.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "request": {
                "$ref": "SqlInstancesRescheduleMaintenanceRequestBody"
              },
              "response": {
                "$ref": "Operation"
              },
              "parameterOrder": [
                "project",
                "instance"
              ],
              "path": "sql/v1beta4/projects/{project}/instances/{instance}/rescheduleMaintenance",
              "description": "Reschedules the maintenance on the given instance.",
              "httpMethod": "POST"
            },
            "startExternalSync": {
              "path": "sql/v1beta4/projects/{project}/instances/{instance}/startExternalSync",
              "parameters": {
                "project": {
                  "type": "string",
                  "required": true,
                  "description": "ID of the project that contains the instance.",
                  "location": "path"
                },
                "instance": {
                  "description": "Cloud SQL instance ID. This does not include the project ID.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/startExternalSync",
              "request": {
                "$ref": "SqlInstancesStartExternalSyncRequest"
              },
              "parameterOrder": [
                "project",
                "instance"
              ],
              "response": {
                "$ref": "Operation"
              },
              "description": "Start External primary instance migration.",
              "httpMethod": "POST",
              "id": "sql.projects.instances.startExternalSync",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sqlservice.admin"
              ]
            },
            "verifyExternalSyncSettings": {
              "response": {
                "$ref": "SqlInstancesVerifyExternalSyncSettingsResponse"
              },
              "parameters": {
                "instance": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Cloud SQL instance ID. This does not include the project ID."
                },
                "project": {
                  "required": true,
                  "type": "string",
                  "description": "Project ID of the project that contains the instance.",
                  "location": "path"
                }
              },
              "path": "sql/v1beta4/projects/{project}/instances/{instance}/verifyExternalSyncSettings",
              "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/verifyExternalSyncSettings",
              "description": "Verify External primary instance external sync settings.",
              "id": "sql.projects.instances.verifyExternalSyncSettings",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sqlservice.admin"
              ],
              "request": {
                "$ref": "SqlInstancesVerifyExternalSyncSettingsRequest"
              },
              "parameterOrder": [
                "project",
                "instance"
              ],
              "httpMethod": "POST"
            }
          }
        }
      }
    },
    "operations": {
      "methods": {
        "list": {
          "path": "sql/v1beta4/projects/{project}/operations",
          "flatPath": "sql/v1beta4/projects/{project}/operations",
          "id": "sql.operations.list",
          "parameterOrder": [
            "project"
          ],
          "response": {
            "$ref": "OperationsListResponse"
          },
          "description": "Lists all instance operations that have been performed on the given Cloud SQL instance in the reverse chronological order of the start time.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "httpMethod": "GET",
          "parameters": {
            "project": {
              "location": "path",
              "description": "Project ID of the project that contains the instance.",
              "type": "string",
              "required": true
            },
            "maxResults": {
              "description": "Maximum number of operations per response.",
              "location": "query",
              "type": "integer",
              "format": "uint32"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "A previously-returned page token representing part of the larger set of results to view."
            },
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "query",
              "type": "string"
            }
          }
        },
        "get": {
          "id": "sql.operations.get",
          "parameters": {
            "operation": {
              "description": "Instance operation ID.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "project": {
              "location": "path",
              "description": "Project ID of the project that contains the instance.",
              "type": "string",
              "required": true
            }
          },
          "description": "Retrieves an instance operation that has been performed on an instance.",
          "parameterOrder": [
            "project",
            "operation"
          ],
          "path": "sql/v1beta4/projects/{project}/operations/{operation}",
          "flatPath": "sql/v1beta4/projects/{project}/operations/{operation}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "GET"
        }
      }
    },
    "backupRuns": {
      "methods": {
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/backupRuns",
          "httpMethod": "POST",
          "request": {
            "$ref": "BackupRun"
          },
          "parameters": {
            "instance": {
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "type": "string"
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "description": "Creates a new backup run on demand.",
          "id": "sql.backupRuns.insert",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/backupRuns",
          "response": {
            "$ref": "Operation"
          }
        },
        "list": {
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/backupRuns",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/backupRuns",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "id": "sql.backupRuns.list",
          "httpMethod": "GET",
          "response": {
            "$ref": "BackupRunsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Lists all backup runs associated with the project or a given instance and configuration in the reverse chronological order of the backup initiation time.",
          "parameters": {
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "A previously-returned page token representing part of the larger set of results to view."
            },
            "project": {
              "required": true,
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "type": "string"
            },
            "maxResults": {
              "description": "Maximum number of backup runs per response.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "instance": {
              "description": "Cloud SQL instance ID, or \"-\" for all instances. This does not include the project ID.",
              "location": "path",
              "type": "string",
              "required": true
            }
          }
        },
        "get": {
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/backupRuns/{id}",
          "response": {
            "$ref": "BackupRun"
          },
          "id": "sql.backupRuns.get",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Retrieves a resource containing information about a backup run.",
          "parameterOrder": [
            "project",
            "instance",
            "id"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/backupRuns/{id}",
          "parameters": {
            "instance": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID."
            },
            "id": {
              "description": "The ID of this backup run.",
              "format": "int64",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "project": {
              "type": "string",
              "location": "path",
              "description": "Project ID of the project that contains the instance.",
              "required": true
            }
          },
          "httpMethod": "GET"
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "httpMethod": "DELETE",
          "description": "Deletes the backup taken by a backup run.",
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project",
            "instance",
            "id"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/backupRuns/{id}",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/backupRuns/{id}",
          "parameters": {
            "id": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The ID of the backup run to delete. To find a backup run ID, use the [list](https://cloud.google.com/sql/docs/mysql/admin-api/rest/v1beta4/backupRuns/list) method.",
              "format": "int64"
            },
            "instance": {
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "type": "string"
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "id": "sql.backupRuns.delete"
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    }
  },
  "documentationLink": "https://developers.google.com/cloud-sql/",
  "schemas": {
    "ConnectSettings": {
      "properties": {
        "region": {
          "description": "The cloud region for the instance. e.g. `us-central1`, `europe-west1`. The region cannot be changed after instance creation.",
          "type": "string"
        },
        "backendType": {
          "description": "`SECOND_GEN`: Cloud SQL database instance. `EXTERNAL`: A database server that is not managed by Google. This property is read-only; use the `tier` property in the `settings` object to determine the database type.",
          "enumDescriptions": [
            "This is an unknown backend type for instance.",
            "V1 speckle instance.",
            "V2 speckle instance.",
            "On premises instance."
          ],
          "type": "string",
          "enum": [
            "SQL_BACKEND_TYPE_UNSPECIFIED",
            "FIRST_GEN",
            "SECOND_GEN",
            "EXTERNAL"
          ]
        },
        "serverCaCert": {
          "description": "SSL configuration.",
          "$ref": "SslCert"
        },
        "databaseVersion": {
          "enum": [
            "SQL_DATABASE_VERSION_UNSPECIFIED",
            "MYSQL_5_1",
            "MYSQL_5_5",
            "MYSQL_5_6",
            "MYSQL_5_7",
            "POSTGRES_9_6",
            "POSTGRES_11",
            "SQLSERVER_2017_STANDARD",
            "SQLSERVER_2017_ENTERPRISE",
            "SQLSERVER_2017_EXPRESS",
            "SQLSERVER_2017_WEB",
            "POSTGRES_10",
            "POSTGRES_12",
            "MYSQL_8_0",
            "MYSQL_8_0_18",
            "MYSQL_8_0_26",
            "POSTGRES_13",
            "POSTGRES_14",
            "SQLSERVER_2019_STANDARD",
            "SQLSERVER_2019_ENTERPRISE",
            "SQLSERVER_2019_EXPRESS",
            "SQLSERVER_2019_WEB"
          ],
          "enumDescriptions": [
            "This is an unknown database version.",
            "The database version is MySQL 5.1.",
            "The database version is MySQL 5.5.",
            "The database version is MySQL 5.6.",
            "The database version is MySQL 5.7.",
            "The database version is PostgreSQL 9.6.",
            "The database version is PostgreSQL 11.",
            "The database version is SQL Server 2017 Standard.",
            "The database version is SQL Server 2017 Enterprise.",
            "The database version is SQL Server 2017 Express.",
            "The database version is SQL Server 2017 Web.",
            "The database version is PostgreSQL 10.",
            "The database version is PostgreSQL 12.",
            "The database version is MySQL 8.",
            "The database major version is MySQL 8.0 and the minor version is 18.",
            "The database major version is MySQL 8.0 and the minor version is 26.",
            "The database version is PostgreSQL 13.",
            "The database version is PostgreSQL 14.",
            "The database version is SQL Server 2019 Standard.",
            "The database version is SQL Server 2019 Enterprise.",
            "The database version is SQL Server 2019 Express.",
            "The database version is SQL Server 2019 Web."
          ],
          "type": "string",
          "description": "The database engine type and version. The `databaseVersion` field cannot be changed after instance creation. MySQL instances: `MYSQL_8_0`, `MYSQL_5_7` (default), or `MYSQL_5_6`. PostgreSQL instances: `POSTGRES_9_6`, `POSTGRES_10`, `POSTGRES_11` or `POSTGRES_12` (default), `POSTGRES_13`, or `POSTGRES_14`. SQL Server instances: `SQLSERVER_2017_STANDARD` (default), `SQLSERVER_2017_ENTERPRISE`, `SQLSERVER_2017_EXPRESS`, `SQLSERVER_2017_WEB`, `SQLSERVER_2019_STANDARD`, `SQLSERVER_2019_ENTERPRISE`, `SQLSERVER_2019_EXPRESS`, or `SQLSERVER_2019_WEB`."
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#connectSettings`."
        },
        "ipAddresses": {
          "items": {
            "$ref": "IpMapping"
          },
          "type": "array",
          "description": "The assigned IP addresses for the instance."
        }
      },
      "description": "Connect settings retrieval response.",
      "id": "ConnectSettings",
      "type": "object"
    },
    "BackupRun": {
      "properties": {
        "status": {
          "enumDescriptions": [
            "The status of the run is unknown.",
            "The backup operation was enqueued.",
            "The backup is overdue across a given backup window. Indicates a problem. Example: Long-running operation in progress during the whole window.",
            "The backup is in progress.",
            "The backup failed.",
            "The backup was successful.",
            "The backup was skipped (without problems) for a given backup window. Example: Instance was idle.",
            "The backup is about to be deleted.",
            "The backup deletion failed.",
            "The backup has been deleted."
          ],
          "enum": [
            "SQL_BACKUP_RUN_STATUS_UNSPECIFIED",
            "ENQUEUED",
            "OVERDUE",
            "RUNNING",
            "FAILED",
            "SUCCESSFUL",
            "SKIPPED",
            "DELETION_PENDING",
            "DELETION_FAILED",
            "DELETED"
          ],
          "description": "The status of this run.",
          "type": "string"
        },
        "windowStartTime": {
          "description": "The start time of the backup window during which this the backup was attempted in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "format": "google-datetime",
          "type": "string"
        },
        "location": {
          "description": "Location of the backups.",
          "type": "string"
        },
        "instance": {
          "type": "string",
          "description": "Name of the database instance."
        },
        "id": {
          "description": "The identifier for this backup run. Unique only for a specific Cloud SQL instance.",
          "type": "string",
          "format": "int64"
        },
        "error": {
          "$ref": "OperationError",
          "description": "Information about why the backup operation failed. This is only present if the run has the FAILED status."
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the backup operation actually started in UTC timezone in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`."
        },
        "type": {
          "type": "string",
          "enum": [
            "SQL_BACKUP_RUN_TYPE_UNSPECIFIED",
            "AUTOMATED",
            "ON_DEMAND"
          ],
          "enumDescriptions": [
            "This is an unknown BackupRun type.",
            "The backup schedule automatically triggers a backup.",
            "The user manually triggers a backup."
          ],
          "description": "The type of this run; can be either \"AUTOMATED\" or \"ON_DEMAND\". This field defaults to \"ON_DEMAND\" and is ignored, when specified for insert requests."
        },
        "enqueuedTime": {
          "format": "google-datetime",
          "description": "The time the run was enqueued in UTC timezone in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#backupRun`."
        },
        "endTime": {
          "description": "The time the backup operation completed in UTC timezone in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "format": "google-datetime",
          "type": "string"
        },
        "backupKind": {
          "enum": [
            "SQL_BACKUP_KIND_UNSPECIFIED",
            "SNAPSHOT",
            "PHYSICAL"
          ],
          "type": "string",
          "enumDescriptions": [
            "This is an unknown BackupKind.",
            "The snapshot based backups",
            "Physical backups"
          ],
          "description": "Specifies the kind of backup, PHYSICAL or DEFAULT_SNAPSHOT."
        },
        "diskEncryptionStatus": {
          "description": "Encryption status specific to a backup.",
          "$ref": "DiskEncryptionStatus"
        },
        "diskEncryptionConfiguration": {
          "$ref": "DiskEncryptionConfiguration",
          "description": "Encryption configuration specific to a backup."
        },
        "description": {
          "type": "string",
          "description": "The description of this run, only applicable to on-demand backups."
        },
        "selfLink": {
          "description": "The URI of this resource.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "BackupRun",
      "description": "A BackupRun resource."
    },
    "OperationError": {
      "description": "Database instance operation error.",
      "type": "object",
      "id": "OperationError",
      "properties": {
        "kind": {
          "type": "string",
          "description": "This is always `sql#operationError`."
        },
        "message": {
          "description": "Additional information about the error encountered.",
          "type": "string"
        },
        "code": {
          "description": "Identifies the specific error that occurred.",
          "type": "string"
        }
      }
    },
    "SqlServerUserDetails": {
      "properties": {
        "disabled": {
          "description": "If the user has been disabled",
          "type": "boolean"
        },
        "serverRoles": {
          "type": "array",
          "description": "The server roles for this user",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "SqlServerUserDetails",
      "description": "Represents a Sql Server user on the Cloud SQL instance."
    },
    "BackupRetentionSettings": {
      "id": "BackupRetentionSettings",
      "description": "We currently only support backup retention by specifying the number of backups we will retain.",
      "properties": {
        "retainedBackups": {
          "description": "Depending on the value of retention_unit, this is used to determine if a backup needs to be deleted. If retention_unit is 'COUNT', we will retain this many backups.",
          "type": "integer",
          "format": "int32"
        },
        "retentionUnit": {
          "enumDescriptions": [
            "Backup retention unit is unspecified, will be treated as COUNT.",
            "Retention will be by count, eg. \"retain the most recent 7 backups\"."
          ],
          "description": "The unit that 'retained_backups' represents.",
          "enum": [
            "RETENTION_UNIT_UNSPECIFIED",
            "COUNT"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "CloneContext": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "This is always `sql#cloneContext`."
        },
        "pointInTime": {
          "type": "string",
          "description": "Timestamp, if specified, identifies the time to which the source instance is cloned.",
          "format": "google-datetime"
        },
        "destinationInstanceName": {
          "description": "Name of the Cloud SQL instance to be created as a clone.",
          "type": "string"
        },
        "binLogCoordinates": {
          "$ref": "BinLogCoordinates",
          "description": "Binary log coordinates, if specified, identify the position up to which the source instance is cloned. If not specified, the source instance is cloned up to the most recent binary log coordinates."
        },
        "pitrTimestampMs": {
          "description": "Reserved for future use.",
          "format": "int64",
          "type": "string"
        },
        "allocatedIpRange": {
          "description": "The name of the allocated ip range for the private ip CloudSQL instance. For example: \"google-managed-services-default\". If set, the cloned instance ip will be created in the allocated range. The range name must comply with [RFC 1035](https://tools.ietf.org/html/rfc1035). Specifically, the name must be 1-63 characters long and match the regular expression [a-z]([-a-z0-9]*[a-z0-9])?. Reserved for future use.",
          "type": "string"
        }
      },
      "description": "Database instance clone context.",
      "type": "object",
      "id": "CloneContext"
    },
    "FailoverContext": {
      "type": "object",
      "properties": {
        "settingsVersion": {
          "format": "int64",
          "type": "string",
          "description": "The current settings version of this instance. Request will be rejected if this version doesn't match the current settings version."
        },
        "kind": {
          "description": "This is always `sql#failoverContext`.",
          "type": "string"
        }
      },
      "description": "Database instance failover context.",
      "id": "FailoverContext"
    },
    "PasswordStatus": {
      "type": "object",
      "description": "Read-only password status.",
      "id": "PasswordStatus",
      "properties": {
        "passwordExpirationTime": {
          "type": "string",
          "description": "The expiration time of the current password.",
          "format": "google-datetime"
        },
        "locked": {
          "type": "boolean",
          "description": "If true, user does not have login privileges."
        }
      }
    },
    "MaintenanceWindow": {
      "id": "MaintenanceWindow",
      "description": "Maintenance window. This specifies when a Cloud SQL instance is restarted for system maintenance purposes.",
      "properties": {
        "day": {
          "format": "int32",
          "description": "day of week (1-7), starting on Monday.",
          "type": "integer"
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#maintenanceWindow`."
        },
        "hour": {
          "type": "integer",
          "description": "hour of day - 0 to 23.",
          "format": "int32"
        },
        "updateTrack": {
          "enum": [
            "SQL_UPDATE_TRACK_UNSPECIFIED",
            "canary",
            "stable"
          ],
          "description": "Maintenance timing setting: `canary` (Earlier) or `stable` (Later). [Learn more](https://cloud.google.com/sql/docs/mysql/instance-settings#maintenance-timing-2ndgen).",
          "type": "string",
          "enumDescriptions": [
            "This is an unknown maintenance timing preference.",
            "For instance update that requires a restart, this update track indicates your instance prefer to restart for new version early in maintenance window.",
            "For instance update that requires a restart, this update track indicates your instance prefer to let Cloud SQL choose the timing of restart (within its Maintenance window, if applicable)."
          ]
        }
      },
      "type": "object"
    },
    "InstancesExportRequest": {
      "id": "InstancesExportRequest",
      "description": "Database instance export request.",
      "properties": {
        "exportContext": {
          "description": "Contains details about the export operation.",
          "$ref": "ExportContext"
        }
      },
      "type": "object"
    },
    "DatabaseInstance": {
      "properties": {
        "replicaNames": {
          "description": "The replicas of the instance.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "satisfiesPzs": {
          "description": "The status indicating if instance satisfiesPzs. Reserved for future use.",
          "type": "boolean"
        },
        "scheduledMaintenance": {
          "description": "The start time of any upcoming scheduled maintenance for this instance.",
          "$ref": "SqlScheduledMaintenance"
        },
        "ipv6Address": {
          "type": "string",
          "description": "The IPv6 address assigned to the instance. (Deprecated) This property was applicable only to First Generation instances."
        },
        "onPremisesConfiguration": {
          "$ref": "OnPremisesConfiguration",
          "description": "Configuration specific to on-premises instances."
        },
        "failoverReplica": {
          "description": "The name and status of the failover replica.",
          "properties": {
            "name": {
              "description": "The name of the failover replica. If specified at instance creation, a failover replica is created for the instance. The name doesn't include the project ID.",
              "type": "string"
            },
            "available": {
              "type": "boolean",
              "description": "The availability status of the failover replica. A false status indicates that the failover replica is out of sync. The primary instance can only failover to the failover replica when the status is true."
            }
          },
          "type": "object"
        },
        "etag": {
          "description": "This field is deprecated and will be removed from a future version of the API. Use the `settings.settingsVersion` field instead.",
          "type": "string"
        },
        "maintenanceVersion": {
          "description": "The current software version on the instance.",
          "type": "string"
        },
        "diskEncryptionConfiguration": {
          "description": "Disk encryption configuration specific to an instance.",
          "$ref": "DiskEncryptionConfiguration"
        },
        "instanceType": {
          "enumDescriptions": [
            "This is an unknown Cloud SQL instance type.",
            "A regular Cloud SQL instance that is not replicating from a primary instance.",
            "An instance running on the customer's premises that is not managed by Cloud SQL.",
            "A Cloud SQL instance acting as a read-replica."
          ],
          "enum": [
            "SQL_INSTANCE_TYPE_UNSPECIFIED",
            "CLOUD_SQL_INSTANCE",
            "ON_PREMISES_INSTANCE",
            "READ_REPLICA_INSTANCE"
          ],
          "description": "The instance type.",
          "type": "string"
        },
        "availableMaintenanceVersions": {
          "description": "List all maintenance versions applicable on the instance",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "connectionName": {
          "description": "Connection name of the Cloud SQL instance used in connection strings.",
          "type": "string"
        },
        "maxDiskSize": {
          "format": "int64",
          "description": "The maximum disk size of the instance in bytes.",
          "type": "string"
        },
        "masterInstanceName": {
          "description": "The name of the instance which will act as primary in the replication setup.",
          "type": "string"
        },
        "outOfDiskReport": {
          "description": "This field represents the report generated by the proactive database wellness job for OutOfDisk issues. * Writers: * the proactive database wellness job for OOD. * Readers: * the proactive database wellness job",
          "$ref": "SqlOutOfDiskReport"
        },
        "databaseInstalledVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Stores the current database version running on the instance including minor version such as `MYSQL_8_0_18`."
        },
        "diskEncryptionStatus": {
          "$ref": "DiskEncryptionStatus",
          "description": "Disk encryption status specific to an instance."
        },
        "selfLink": {
          "type": "string",
          "description": "The URI of this resource."
        },
        "currentDiskSize": {
          "type": "string",
          "format": "int64",
          "description": "The current disk usage of the instance in bytes. This property has been deprecated. Use the \"cloudsql.googleapis.com/database/disk/bytes_used\" metric in Cloud Monitoring API instead. Please see [this announcement](https://groups.google.com/d/msg/google-cloud-sql-announce/I_7-F9EBhT0/BtvFtdFeAgAJ) for details."
        },
        "secondaryGceZone": {
          "type": "string",
          "description": "The Compute Engine zone that the failover instance is currently serving from for a regional instance. This value could be different from the zone that was specified when the instance was created if the instance has failed over to its secondary/failover zone."
        },
        "region": {
          "type": "string",
          "description": "The geographical region. Can be: * `us-central` (`FIRST_GEN` instances only) * `us-central1` (`SECOND_GEN` instances only) * `asia-east1` or `europe-west1`. Defaults to `us-central` or `us-central1` depending on the instance type. The region cannot be changed after instance creation."
        },
        "project": {
          "type": "string",
          "description": "The project ID of the project containing the Cloud SQL instance. The Google apps domain is prefixed if applicable."
        },
        "gceZone": {
          "type": "string",
          "description": "The Compute Engine zone that the instance is currently serving from. This value could be different from the zone that was specified when the instance was created if the instance has failed over to its secondary zone. WARNING: Changing this might restart the instance."
        },
        "serverCaCert": {
          "$ref": "SslCert",
          "description": "SSL configuration."
        },
        "serviceAccountEmailAddress": {
          "description": "The service account email address assigned to the instance. \\This property is read-only.",
          "type": "string"
        },
        "backendType": {
          "type": "string",
          "enum": [
            "SQL_BACKEND_TYPE_UNSPECIFIED",
            "FIRST_GEN",
            "SECOND_GEN",
            "EXTERNAL"
          ],
          "description": "The backend type. `SECOND_GEN`: Cloud SQL database instance. `EXTERNAL`: A database server that is not managed by Google. This property is read-only; use the `tier` property in the `settings` object to determine the database type.",
          "enumDescriptions": [
            "This is an unknown backend type for instance.",
            "V1 speckle instance.",
            "V2 speckle instance.",
            "On premises instance."
          ]
        },
        "suspensionReason": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "This is an unknown suspension reason.",
              "The instance is suspended due to billing issues (for example:, GCP account issue)",
              "The instance is suspended due to illegal content (for example:, child pornography, copyrighted material, etc.).",
              "The instance is causing operational issues (for example:, causing the database to crash).",
              "The KMS key used by the instance is either revoked or denied access to"
            ],
            "enum": [
              "SQL_SUSPENSION_REASON_UNSPECIFIED",
              "BILLING_ISSUE",
              "LEGAL_ISSUE",
              "OPERATIONAL_ISSUE",
              "KMS_KEY_ISSUE"
            ],
            "type": "string"
          },
          "description": "If the instance state is SUSPENDED, the reason for the suspension."
        },
        "databaseVersion": {
          "enumDescriptions": [
            "This is an unknown database version.",
            "The database version is MySQL 5.1.",
            "The database version is MySQL 5.5.",
            "The database version is MySQL 5.6.",
            "The database version is MySQL 5.7.",
            "The database version is PostgreSQL 9.6.",
            "The database version is PostgreSQL 11.",
            "The database version is SQL Server 2017 Standard.",
            "The database version is SQL Server 2017 Enterprise.",
            "The database version is SQL Server 2017 Express.",
            "The database version is SQL Server 2017 Web.",
            "The database version is PostgreSQL 10.",
            "The database version is PostgreSQL 12.",
            "The database version is MySQL 8.",
            "The database major version is MySQL 8.0 and the minor version is 18.",
            "The database major version is MySQL 8.0 and the minor version is 26.",
            "The database version is PostgreSQL 13.",
            "The database version is PostgreSQL 14.",
            "The database version is SQL Server 2019 Standard.",
            "The database version is SQL Server 2019 Enterprise.",
            "The database version is SQL Server 2019 Express.",
            "The database version is SQL Server 2019 Web."
          ],
          "type": "string",
          "description": "The database engine type and version. The `databaseVersion` field cannot be changed after instance creation.",
          "enum": [
            "SQL_DATABASE_VERSION_UNSPECIFIED",
            "MYSQL_5_1",
            "MYSQL_5_5",
            "MYSQL_5_6",
            "MYSQL_5_7",
            "POSTGRES_9_6",
            "POSTGRES_11",
            "SQLSERVER_2017_STANDARD",
            "SQLSERVER_2017_ENTERPRISE",
            "SQLSERVER_2017_EXPRESS",
            "SQLSERVER_2017_WEB",
            "POSTGRES_10",
            "POSTGRES_12",
            "MYSQL_8_0",
            "MYSQL_8_0_18",
            "MYSQL_8_0_26",
            "POSTGRES_13",
            "POSTGRES_14",
            "SQLSERVER_2019_STANDARD",
            "SQLSERVER_2019_ENTERPRISE",
            "SQLSERVER_2019_EXPRESS",
            "SQLSERVER_2019_WEB"
          ]
        },
        "ipAddresses": {
          "description": "The assigned IP addresses for the instance.",
          "items": {
            "$ref": "IpMapping"
          },
          "type": "array"
        },
        "replicaConfiguration": {
          "$ref": "ReplicaConfiguration",
          "description": "Configuration specific to failover replicas and read replicas."
        },
        "rootPassword": {
          "type": "string",
          "description": "Initial root password. Use only on creation."
        },
        "name": {
          "description": "Name of the Cloud SQL instance. This does not include the project ID.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time when the instance was created in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`."
        },
        "kind": {
          "description": "This is always `sql#instance`.",
          "type": "string"
        },
        "state": {
          "enum": [
            "SQL_INSTANCE_STATE_UNSPECIFIED",
            "RUNNABLE",
            "SUSPENDED",
            "PENDING_DELETE",
            "PENDING_CREATE",
            "MAINTENANCE",
            "FAILED",
            "ONLINE_MAINTENANCE"
          ],
          "description": "The current serving state of the Cloud SQL instance.",
          "type": "string",
          "enumDescriptions": [
            "The state of the instance is unknown.",
            "The instance is running, or has been stopped by owner.",
            "The instance is not available, for example due to problems with billing.",
            "The instance is being deleted.",
            "The instance is being created.",
            "The instance is down for maintenance.",
            "The creation of the instance failed or a fatal error occurred during maintenance.",
            "Deprecated"
          ]
        },
        "settings": {
          "$ref": "Settings",
          "description": "The user settings."
        }
      },
      "description": "A Cloud SQL instance resource.",
      "type": "object",
      "id": "DatabaseInstance"
    },
    "BackupContext": {
      "id": "BackupContext",
      "type": "object",
      "properties": {
        "backupId": {
          "format": "int64",
          "type": "string",
          "description": "The identifier of the backup."
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#backupContext`."
        }
      },
      "description": "Backup context."
    },
    "MySqlSyncConfig": {
      "type": "object",
      "id": "MySqlSyncConfig",
      "properties": {
        "initialSyncFlags": {
          "items": {
            "$ref": "SyncFlags"
          },
          "type": "array",
          "description": "Flags to use for the initial dump."
        }
      },
      "description": "MySQL-specific external server sync settings."
    },
    "DemoteMasterConfiguration": {
      "properties": {
        "mysqlReplicaConfiguration": {
          "description": "MySQL specific configuration when replicating from a MySQL on-premises primary instance. Replication configuration information such as the username, password, certificates, and keys are not stored in the instance metadata. The configuration information is used only to set up the replication connection and is stored by MySQL in a file named `master.info` in the data directory.",
          "$ref": "DemoteMasterMySqlReplicaConfiguration"
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#demoteMasterConfiguration`."
        }
      },
      "id": "DemoteMasterConfiguration",
      "description": "Read-replica configuration for connecting to the on-premises primary instance.",
      "type": "object"
    },
    "SslCertsListResponse": {
      "description": "SslCerts list response.",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "This is always `sql#sslCertsList`."
        },
        "items": {
          "description": "List of client certificates for the instance.",
          "items": {
            "$ref": "SslCert"
          },
          "type": "array"
        }
      },
      "id": "SslCertsListResponse"
    },
    "SqlServerDatabaseDetails": {
      "type": "object",
      "description": "Represents a Sql Server database on the Cloud SQL instance.",
      "properties": {
        "recoveryModel": {
          "description": "The recovery model of a SQL Server database",
          "type": "string"
        },
        "compatibilityLevel": {
          "type": "integer",
          "description": "The version of SQL Server with which the database is to be made compatible",
          "format": "int32"
        }
      },
      "id": "SqlServerDatabaseDetails"
    },
    "RotateServerCaContext": {
      "properties": {
        "kind": {
          "type": "string",
[...]
