{
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "id": "streetviewpublish:v1",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "ownerName": "Google",
  "version_module": true,
  "baseUrl": "https://streetviewpublish.googleapis.com/",
  "kind": "discovery#restDescription",
  "schemas": {
    "BatchUpdatePhotosResponse": {
      "description": "Response to batch update of metadata of one or more Photos.",
      "properties": {
        "results": {
          "description": "List of results for each individual Photo updated, in the same order as the request.",
          "type": "array",
          "items": {
            "$ref": "PhotoResponse"
          }
        }
      },
      "type": "object",
      "id": "BatchUpdatePhotosResponse"
    },
    "Pose": {
      "description": "Raw pose measurement for an entity.",
      "id": "Pose",
      "properties": {
        "latLngPair": {
          "$ref": "LatLng",
          "description": "Latitude and longitude pair of the pose, as explained here: https://cloud.google.com/datastore/docs/reference/rest/Shared.Types/LatLng When creating a Photo, if the latitude and longitude pair are not provided, the geolocation from the exif header is used. A latitude and longitude pair not provided in the photo or exif header causes the photo process to fail."
        },
        "altitude": {
          "description": "Altitude of the pose in meters above WGS84 ellipsoid. NaN indicates an unmeasured quantity.",
          "type": "number",
          "format": "double"
        },
        "accuracyMeters": {
          "type": "number",
          "description": "The estimated horizontal accuracy of this pose in meters with 68% confidence (one standard deviation). For example, on Android, this value is available from this method: https://developer.android.com/reference/android/location/Location#getAccuracy(). Other platforms have different methods of obtaining similar accuracy estimations.",
          "format": "float"
        },
        "heading": {
          "description": "Compass heading, measured at the center of the photo in degrees clockwise from North. Value must be \u003e=0 and \u003c360. NaN indicates an unmeasured quantity.",
          "type": "number",
          "format": "double"
        },
        "level": {
          "$ref": "Level",
          "description": "Level (the floor in a building) used to configure vertical navigation."
        },
        "roll": {
          "description": "Roll, measured in degrees. Value must be \u003e= 0 and \u003c360. A value of 0 means level with the horizon. NaN indicates an unmeasured quantity.",
          "type": "number",
          "format": "double"
        },
        "pitch": {
          "description": "Pitch, measured at the center of the photo in degrees. Value must be \u003e=-90 and \u003c= 90. A value of -90 means looking directly down, and a value of 90 means looking directly up. NaN indicates an unmeasured quantity.",
          "type": "number",
          "format": "double"
        }
      },
      "type": "object"
    },
    "Connection": {
      "id": "Connection",
      "type": "object",
      "description": "A connection is the link from a source photo to a destination photo.",
      "properties": {
        "target": {
          "$ref": "PhotoId",
          "description": "Required. The destination of the connection from the containing photo to another photo."
        }
      }
    },
    "Empty": {
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "type": "object",
      "id": "Empty"
    },
    "BatchDeletePhotosResponse": {
      "type": "object",
      "properties": {
        "status": {
          "items": {
            "$ref": "Status"
          },
          "type": "array",
          "description": "The status for the operation to delete a single Photo in the batch request."
        }
      },
      "id": "BatchDeletePhotosResponse",
      "description": "Response to batch delete of one or more Photos."
    },
    "UpdatePhotoRequest": {
      "type": "object",
      "properties": {
        "photo": {
          "description": "Required. Photo object containing the new metadata.",
          "$ref": "Photo"
        },
        "updateMask": {
          "format": "google-fieldmask",
          "description": "Required. Mask that identifies fields on the photo metadata to update. If not present, the old Photo metadata is entirely replaced with the new Photo metadata in this request. The update fails if invalid fields are specified. Multiple fields can be specified in a comma-delimited list. The following fields are valid: * `pose.heading` * `pose.latLngPair` * `pose.pitch` * `pose.roll` * `pose.level` * `pose.altitude` * `connections` * `places` *Note:* When updateMask contains repeated fields, the entire set of repeated values get replaced with the new contents. For example, if updateMask contains `connections` and `UpdatePhotoRequest.photo.connections` is empty, all connections are removed.",
          "type": "string"
        }
      },
      "id": "UpdatePhotoRequest",
      "description": "Request to update the metadata of a Photo. Updating the pixels of a photo is not supported."
    },
    "Level": {
      "type": "object",
      "properties": {
        "number": {
          "type": "number",
          "description": "Floor number, used for ordering. 0 indicates the ground level, 1 indicates the first level above ground level, -1 indicates the first level under ground level. Non-integer values are OK.",
          "format": "double"
        },
        "name": {
          "description": "Required. A name assigned to this Level, restricted to 3 characters. Consider how the elevator buttons would be labeled for this level if there was an elevator.",
          "type": "string"
        }
      },
      "description": "Level information containing level number and its corresponding name.",
      "id": "Level"
    },
    "LatLng": {
      "id": "LatLng",
      "properties": {
        "longitude": {
          "format": "double",
          "type": "number",
          "description": "The longitude in degrees. It must be in the range [-180.0, +180.0]."
        },
        "latitude": {
          "type": "number",
          "format": "double",
          "description": "The latitude in degrees. It must be in the range [-90.0, +90.0]."
        }
      },
      "description": "An object that represents a latitude/longitude pair. This is expressed as a pair of doubles to represent degrees latitude and degrees longitude. Unless specified otherwise, this object must conform to the WGS84 standard. Values must be within normalized ranges.",
      "type": "object"
    },
    "BatchUpdatePhotosRequest": {
      "description": "Request to update the metadata of photos. Updating the pixels of photos is not supported.",
      "id": "BatchUpdatePhotosRequest",
      "type": "object",
      "properties": {
        "updatePhotoRequests": {
          "type": "array",
          "items": {
            "$ref": "UpdatePhotoRequest"
          },
          "description": "Required. List of UpdatePhotoRequests."
        }
      }
    },
    "BatchGetPhotosResponse": {
      "properties": {
        "results": {
          "description": "List of results for each individual Photo requested, in the same order as the requests in BatchGetPhotos.",
          "items": {
            "$ref": "PhotoResponse"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "BatchGetPhotosResponse",
      "description": "Response to batch get of Photos."
    },
    "Status": {
      "id": "Status",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "details": {
          "type": "array",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "UploadRef": {
      "properties": {
        "uploadUrl": {
          "type": "string",
          "description": "An upload reference should be unique for each user. It follows the form: \"https://streetviewpublish.googleapis.com/media/user/{account_id}/photo/{upload_reference}\""
        }
      },
      "type": "object",
      "id": "UploadRef",
      "description": "Upload reference for media files."
    },
    "PhotoId": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Required. A unique identifier for a photo."
        }
      },
      "id": "PhotoId",
      "description": "Identifier for a Photo.",
      "type": "object"
    },
    "ListPhotosResponse": {
      "description": "Response to list all photos that belong to a user.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        },
        "photos": {
          "type": "array",
          "items": {
            "$ref": "Photo"
          },
          "description": "List of photos. The pageSize field in the request determines the number of items returned."
        }
      },
      "id": "ListPhotosResponse",
      "type": "object"
    },
    "Photo": {
      "type": "object",
      "id": "Photo",
      "description": "Photo is used to store 360 photos along with photo metadata.",
      "properties": {
        "connections": {
          "description": "Connections to other photos. A connection represents the link from this photo to another photo.",
          "type": "array",
          "items": {
            "$ref": "Connection"
          }
        },
        "thumbnailUrl": {
          "description": "Output only. The thumbnail URL for showing a preview of the given photo.",
          "type": "string"
        },
        "mapsPublishStatus": {
          "type": "string",
          "enum": [
            "UNSPECIFIED_MAPS_PUBLISH_STATUS",
            "PUBLISHED",
            "REJECTED_UNKNOWN"
          ],
          "description": "Output only. Status in Google Maps, whether this photo was published or rejected. Not currently populated.",
          "enumDescriptions": [
            "The status of the photo is unknown.",
            "The photo is published to the public through Google Maps.",
            "The photo has been rejected for an unknown reason."
          ]
        },
        "downloadUrl": {
          "type": "string",
          "description": "Output only. The download URL for the photo bytes. This field is set only when GetPhotoRequest.view is set to PhotoView.INCLUDE_DOWNLOAD_URL."
        },
        "pose": {
          "$ref": "Pose",
          "description": "Pose of the photo."
        },
        "viewCount": {
          "description": "Output only. View count of the photo.",
          "type": "string",
          "format": "int64"
        },
        "captureTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Absolute time when the photo was captured. When the photo has no exif timestamp, this is used to set a timestamp in the photo metadata."
        },
        "uploadTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time when the image was uploaded."
        },
        "places": {
          "type": "array",
          "description": "Places where this photo belongs.",
          "items": {
            "$ref": "Place"
          }
        },
        "transferStatus": {
          "description": "Output only. Status of rights transfer on this photo.",
          "enum": [
            "TRANSFER_STATUS_UNKNOWN",
            "NEVER_TRANSFERRED",
            "PENDING",
            "COMPLETED",
            "REJECTED",
            "EXPIRED",
            "CANCELLED",
            "RECEIVED_VIA_TRANSFER"
          ],
          "enumDescriptions": [
            "The status of this transfer is unspecified.",
            "This photo has never been in a transfer.",
            "This photo transfer has been initiated, but the receiver has not yet responded.",
            "The photo transfer has been completed, and this photo has been transferred to the recipient.",
            "The recipient rejected this photo transfer.",
            "The photo transfer expired before the recipient took any action.",
            "The sender cancelled this photo transfer.",
            "The recipient owns this photo due to a rights transfer."
          ],
          "type": "string"
        },
        "photoId": {
          "description": "Required when updating a photo. Output only when creating a photo. Identifier for the photo, which is unique among all photos in Google.",
          "$ref": "PhotoId"
        },
        "shareLink": {
          "description": "Output only. The share link for the photo.",
          "type": "string"
        },
        "uploadReference": {
          "$ref": "UploadRef",
          "description": "Required when creating a photo. Input only. The resource URL where the photo bytes are uploaded to."
        }
      }
    },
    "Operation": {
      "id": "Operation",
      "type": "object",
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "Place": {
      "id": "Place",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output-only. The name of the place, localized to the language_code."
        },
        "placeId": {
          "type": "string",
          "description": "Place identifier, as described in https://developers.google.com/places/place-id."
        },
        "languageCode": {
          "type": "string",
          "description": "Output-only. The language_code that the name is localized with. This should be the language_code specified in the request, but may be a fallback."
        }
      },
      "description": "Place metadata for an entity.",
      "type": "object"
    },
    "PhotoResponse": {
      "type": "object",
      "id": "PhotoResponse",
      "properties": {
        "photo": {
          "description": "The Photo resource, if the request was successful.",
          "$ref": "Photo"
        },
        "status": {
          "$ref": "Status",
          "description": "The status for the operation to get or update a single photo in the batch request."
        }
      },
      "description": "Response payload for a single Photo in batch operations including BatchGetPhotos and BatchUpdatePhotos."
    },
    "BatchDeletePhotosRequest": {
      "properties": {
        "photoIds": {
          "items": {
            "type": "string"
          },
          "description": "Required. IDs of the Photos. HTTP GET requests require the following syntax for the URL query parameter: `photoIds=&photoIds=&...`.",
          "type": "array"
        }
      },
      "description": "Request to delete multiple Photos.",
      "id": "BatchDeletePhotosRequest",
      "type": "object"
    }
  },
  "title": "Street View Publish API",
  "parameters": {
    "alt": {
      "default": "json",
      "description": "Data format for response.",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true",
      "type": "boolean"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    }
  },
  "ownerDomain": "google.com",
  "resources": {
    "photo": {
      "methods": {
        "startUpload": {
          "response": {
            "$ref": "UploadRef"
          },
          "id": "streetviewpublish.photo.startUpload",
          "parameters": {},
          "flatPath": "v1/photo:startUpload",
          "scopes": [
            "https://www.googleapis.com/auth/streetviewpublish"
          ],
          "httpMethod": "POST",
          "path": "v1/photo:startUpload",
          "request": {
            "$ref": "Empty"
          },
          "description": "Creates an upload session to start uploading photo bytes. The method uses the upload URL of the returned UploadRef to upload the bytes for the Photo. In addition to the photo requirements shown in https://support.google.com/maps/answer/7012050?ref_topic=6275604, the photo must meet the following requirements: * Photo Sphere XMP metadata must be included in the photo metadata. See https://developers.google.com/streetview/spherical-metadata for the required fields. * The pixel size of the photo must meet the size requirements listed in https://support.google.com/maps/answer/7012050?ref_topic=6275604, and the photo must be a full 360 horizontally. After the upload completes, the method uses UploadRef with CreatePhoto to create the Photo object entry.",
          "parameterOrder": []
        },
        "create": {
          "path": "v1/photo",
          "parameters": {},
          "httpMethod": "POST",
          "request": {
            "$ref": "Photo"
          },
          "id": "streetviewpublish.photo.create",
          "description": "After the client finishes uploading the photo with the returned UploadRef, CreatePhoto publishes the uploaded Photo to Street View on Google Maps. Currently, the only way to set heading, pitch, and roll in CreatePhoto is through the [Photo Sphere XMP metadata](https://developers.google.com/streetview/spherical-metadata) in the photo bytes. CreatePhoto ignores the `pose.heading`, `pose.pitch`, `pose.roll`, `pose.altitude`, and `pose.level` fields in Pose. This method returns the following error codes: * google.rpc.Code.INVALID_ARGUMENT if the request is malformed or if the uploaded photo is not a 360 photo. * google.rpc.Code.NOT_FOUND if the upload reference does not exist. * google.rpc.Code.RESOURCE_EXHAUSTED if the account has reached the storage limit.",
          "scopes": [
            "https://www.googleapis.com/auth/streetviewpublish"
          ],
          "flatPath": "v1/photo",
          "response": {
            "$ref": "Photo"
          },
          "parameterOrder": []
        },
        "get": {
          "id": "streetviewpublish.photo.get",
          "httpMethod": "GET",
          "parameters": {
            "view": {
              "type": "string",
              "location": "query",
              "description": "Required. Specifies if a download URL for the photo bytes should be returned in the Photo response.",
              "enum": [
                "BASIC",
                "INCLUDE_DOWNLOAD_URL"
              ],
              "enumDescriptions": [
                "Server responses do not include the download URL for the photo bytes. The default value.",
                "Server responses include the download URL for the photo bytes."
              ]
            },
            "languageCode": {
              "location": "query",
              "description": "The BCP-47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see http://www.unicode.org/reports/tr35/#Unicode_locale_identifier. If language_code is unspecified, the user's language preference for Google services is used.",
              "type": "string"
            },
            "photoId": {
              "location": "path",
              "type": "string",
              "description": "Required. ID of the Photo.",
              "required": true
            }
          },
          "flatPath": "v1/photo/{photoId}",
          "description": "Gets the metadata of the specified Photo. This method returns the following error codes: * google.rpc.Code.PERMISSION_DENIED if the requesting user did not create the requested Photo. * google.rpc.Code.NOT_FOUND if the requested Photo does not exist. * google.rpc.Code.UNAVAILABLE if the requested Photo is still being indexed.",
          "scopes": [
            "https://www.googleapis.com/auth/streetviewpublish"
          ],
          "response": {
            "$ref": "Photo"
          },
          "path": "v1/photo/{photoId}",
          "parameterOrder": [
            "photoId"
          ]
        },
        "delete": {
          "path": "v1/photo/{photoId}",
          "response": {
            "$ref": "Empty"
          },
          "description": "Deletes a Photo and its metadata. This method returns the following error codes: * google.rpc.Code.PERMISSION_DENIED if the requesting user did not create the requested photo. * google.rpc.Code.NOT_FOUND if the photo ID does not exist.",
          "parameters": {
            "photoId": {
              "required": true,
              "description": "Required. ID of the Photo.",
              "type": "string",
              "location": "path"
            }
          },
          "httpMethod": "DELETE",
          "parameterOrder": [
            "photoId"
          ],
          "id": "streetviewpublish.photo.delete",
          "scopes": [
            "https://www.googleapis.com/auth/streetviewpublish"
          ],
          "flatPath": "v1/photo/{photoId}"
        },
        "update": {
          "response": {
            "$ref": "Photo"
          },
          "scopes": [
            "https://www.googleapis.com/auth/streetviewpublish"
          ],
          "parameterOrder": [
            "id"
          ],
          "description": "Updates the metadata of a Photo, such as pose, place association, connections, etc. Changing the pixels of a photo is not supported. Only the fields specified in the updateMask field are used. If `updateMask` is not present, the update applies to all fields. This method returns the following error codes: * google.rpc.Code.PERMISSION_DENIED if the requesting user did not create the requested photo. * google.rpc.Code.INVALID_ARGUMENT if the request is malformed. * google.rpc.Code.NOT_FOUND if the requested photo does not exist. * google.rpc.Code.UNAVAILABLE if the requested Photo is still being indexed.",
          "parameters": {
            "id": {
              "type": "string",
              "location": "path",
              "description": "Required. A unique identifier for a photo.",
              "required": true
            },
            "updateMask": {
              "type": "string",
              "location": "query",
              "description": "Required. Mask that identifies fields on the photo metadata to update. If not present, the old Photo metadata is entirely replaced with the new Photo metadata in this request. The update fails if invalid fields are specified. Multiple fields can be specified in a comma-delimited list. The following fields are valid: * `pose.heading` * `pose.latLngPair` * `pose.pitch` * `pose.roll` * `pose.level` * `pose.altitude` * `connections` * `places` *Note:* When updateMask contains repeated fields, the entire set of repeated values get replaced with the new contents. For example, if updateMask contains `connections` and `UpdatePhotoRequest.photo.connections` is empty, all connections are removed.",
              "format": "google-fieldmask"
            }
          },
          "id": "streetviewpublish.photo.update",
          "request": {
            "$ref": "Photo"
          },
          "path": "v1/photo/{id}",
          "httpMethod": "PUT",
          "flatPath": "v1/photo/{id}"
        }
      }
    },
    "photos": {
      "methods": {
        "batchDelete": {
          "httpMethod": "POST",
          "description": "Deletes a list of Photos and their metadata. Note that if BatchDeletePhotos fails, either critical fields are missing or there is an authentication error. Even if BatchDeletePhotos succeeds, individual photos in the batch may have failures. These failures are specified in each PhotoResponse.status in BatchDeletePhotosResponse.results. See DeletePhoto for specific failures that can occur per photo.",
          "request": {
            "$ref": "BatchDeletePhotosRequest"
          },
          "path": "v1/photos:batchDelete",
          "parameterOrder": [],
          "parameters": {},
          "id": "streetviewpublish.photos.batchDelete",
          "response": {
            "$ref": "BatchDeletePhotosResponse"
          },
          "flatPath": "v1/photos:batchDelete",
          "scopes": [
            "https://www.googleapis.com/auth/streetviewpublish"
          ]
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/streetviewpublish"
          ],
          "response": {
            "$ref": "ListPhotosResponse"
          },
          "httpMethod": "GET",
          "path": "v1/photos",
          "id": "streetviewpublish.photos.list",
          "flatPath": "v1/photos",
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "The nextPageToken value returned from a previous ListPhotos request, if any.",
              "location": "query"
            },
            "pageSize": {
              "format": "int32",
              "location": "query",
              "type": "integer",
              "description": "The maximum number of photos to return. `pageSize` must be non-negative. If `pageSize` is zero or is not provided, the default page size of 100 is used. The number of photos returned in the response may be less than `pageSize` if the number of photos that belong to the user is less than `pageSize`."
            },
            "languageCode": {
              "location": "query",
              "description": "The BCP-47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see http://www.unicode.org/reports/tr35/#Unicode_locale_identifier. If language_code is unspecified, the user's language preference for Google services is used.",
              "type": "string"
            },
            "filter": {
              "description": "Optional. The filter expression. For example: `placeId=ChIJj61dQgK6j4AR4GeTYWZsKWw`. The filters supported at the moment are: `placeId`, `min_latitude`, `max_latitude`, `min_longitude`, and `max_longitude`.",
              "location": "query",
              "type": "string"
            },
            "view": {
              "enum": [
                "BASIC",
                "INCLUDE_DOWNLOAD_URL"
              ],
              "type": "string",
              "enumDescriptions": [
                "Server responses do not include the download URL for the photo bytes. The default value.",
                "Server responses include the download URL for the photo bytes."
              ],
              "description": "Required. Specifies if a download URL for the photos bytes should be returned in the Photos response.",
              "location": "query"
            }
          },
          "parameterOrder": [],
          "description": "Lists all the Photos that belong to the user. *Note:* Recently created photos that are still being indexed are not returned in the response."
        },
        "batchGet": {
          "parameterOrder": [],
          "description": "Gets the metadata of the specified Photo batch. Note that if BatchGetPhotos fails, either critical fields are missing or there is an authentication error. Even if BatchGetPhotos succeeds, individual photos in the batch may have failures. These failures are specified in each PhotoResponse.status in BatchGetPhotosResponse.results. See GetPhoto for specific failures that can occur per photo.",
          "parameters": {
            "languageCode": {
              "type": "string",
              "location": "query",
              "description": "The BCP-47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see http://www.unicode.org/reports/tr35/#Unicode_locale_identifier. If language_code is unspecified, the user's language preference for Google services is used."
            },
            "view": {
              "type": "string",
              "location": "query",
              "enumDescriptions": [
                "Server responses do not include the download URL for the photo bytes. The default value.",
                "Server responses include the download URL for the photo bytes."
              ],
              "enum": [
                "BASIC",
                "INCLUDE_DOWNLOAD_URL"
              ],
              "description": "Required. Specifies if a download URL for the photo bytes should be returned in the Photo response."
            },
            "photoIds": {
              "repeated": true,
              "type": "string",
              "location": "query",
              "description": "Required. IDs of the Photos. For HTTP GET requests, the URL query parameter should be `photoIds=&photoIds=&...`."
            }
          },
          "flatPath": "v1/photos:batchGet",
          "httpMethod": "GET",
          "id": "streetviewpublish.photos.batchGet",
          "scopes": [
            "https://www.googleapis.com/auth/streetviewpublish"
          ],
          "path": "v1/photos:batchGet",
          "response": {
            "$ref": "BatchGetPhotosResponse"
          }
        },
        "batchUpdate": {
          "flatPath": "v1/photos:batchUpdate",
          "parameters": {},
          "httpMethod": "POST",
          "description": "Updates the metadata of Photos, such as pose, place association, connections, etc. Changing the pixels of photos is not supported. Note that if BatchUpdatePhotos fails, either critical fields are missing or there is an authentication error. Even if BatchUpdatePhotos succeeds, individual photos in the batch may have failures. These failures are specified in each PhotoResponse.status in BatchUpdatePhotosResponse.results. See UpdatePhoto for specific failures that can occur per photo. Only the fields specified in updateMask field are used. If `updateMask` is not present, the update applies to all fields. The number of UpdatePhotoRequest messages in a BatchUpdatePhotosRequest must not exceed 20. *Note:* To update Pose.altitude, Pose.latLngPair has to be filled as well. Otherwise, the request will fail.",
          "request": {
            "$ref": "BatchUpdatePhotosRequest"
          },
          "response": {
            "$ref": "BatchUpdatePhotosResponse"
          },
          "path": "v1/photos:batchUpdate",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/streetviewpublish"
          ],
          "id": "streetviewpublish.photos.batchUpdate"
        }
      }
    }
  },
  "description": "Publishes 360 photos to Google Maps, along with position, orientation, and connectivity metadata. Apps can offer an interface for positioning, connecting, and uploading user-generated Street View images. ",
  "mtlsRootUrl": "https://streetviewpublish.mtls.googleapis.com/",
  "documentationLink": "https://developers.google.com/streetview/publish/",
  "basePath": "",
  "fullyEncodeReservedExpansion": true,
  "name": "streetviewpublish",
  "rootUrl": "https://streetviewpublish.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/streetviewpublish": {
          "description": "Publish and manage your 360 photos on Google Street View"
        }
      }
    }
  },
  "revision": "20211002",
  "canonicalName": "Street View Publish",
  "servicePath": "",
  "version": "v1",
  "protocol": "rest"
}
