{
  "documentationLink": "https://developers.google.com/cloud-test-lab/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "parameters": {
    "alt": {
      "default": "json",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    }
  },
  "ownerName": "Google",
  "baseUrl": "https://testing.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "name": "testing",
  "discoveryVersion": "v1",
  "version": "v1",
  "protocol": "rest",
  "batchPath": "batch",
  "description": "Allows developers to run automated tests for their mobile applications on Google infrastructure.",
  "ownerDomain": "google.com",
  "schemas": {
    "ResultStorage": {
      "id": "ResultStorage",
      "properties": {
        "toolResultsHistory": {
          "description": "The tool results history that contains the tool results execution that results are written to. If not provided, the service will choose an appropriate value.",
          "$ref": "ToolResultsHistory"
        },
        "resultsUrl": {
          "type": "string",
          "description": "Output only. URL to the results in the Firebase Web Console."
        },
        "toolResultsExecution": {
          "description": "Output only. The tool results execution that results are written to.",
          "$ref": "ToolResultsExecution"
        },
        "googleCloudStorage": {
          "$ref": "GoogleCloudStorage",
          "description": "Required."
        }
      },
      "type": "object",
      "description": "Locations where the results of running the test are stored."
    },
    "AndroidRoboTest": {
      "description": "A test of an android application that explores the application on a virtual or physical Android Device, finding culprits and crashes as it goes.",
      "id": "AndroidRoboTest",
      "type": "object",
      "properties": {
        "appApk": {
          "description": "The APK for the application under test.",
          "$ref": "FileReference"
        },
        "roboMode": {
          "enum": [
            "ROBO_MODE_UNSPECIFIED",
            "ROBO_VERSION_1",
            "ROBO_VERSION_2"
          ],
          "type": "string",
          "description": "The mode in which Robo should run. Most clients should allow the server to populate this field automatically.",
          "enumDescriptions": [
            "This means that the server should choose the mode. Recommended.",
            "Runs Robo in UIAutomator-only mode without app resigning",
            "Runs Robo in standard Espresso with UIAutomator fallback"
          ]
        },
        "maxSteps": {
          "type": "integer",
          "description": "The max number of steps Robo can execute. Default is no limit.",
          "format": "int32",
          "deprecated": true
        },
        "startingIntents": {
          "type": "array",
          "items": {
            "$ref": "RoboStartingIntent"
          },
          "description": "The intents used to launch the app for the crawl. If none are provided, then the main launcher activity is launched. If some are provided, then only those provided are launched (the main launcher activity must be provided explicitly)."
        },
        "maxDepth": {
          "format": "int32",
          "type": "integer",
          "deprecated": true,
          "description": "The max depth of the traversal stack Robo can explore. Needs to be at least 2 to make Robo explore the app beyond the first activity. Default is 50."
        },
        "appBundle": {
          "$ref": "AppBundle",
          "description": "A multi-apk app bundle for the application under test."
        },
        "appPackageId": {
          "description": "The java package for the application under test. The default value is determined by examining the application's manifest.",
          "type": "string"
        },
        "roboDirectives": {
          "description": "A set of directives Robo should apply during the crawl. This allows users to customize the crawl. For example, the username and password for a test account can be provided.",
          "type": "array",
          "items": {
            "$ref": "RoboDirective"
          }
        },
        "appInitialActivity": {
          "description": "The initial activity that should be used to start the app.",
          "type": "string"
        },
        "roboScript": {
          "$ref": "FileReference",
          "description": "A JSON file with a sequence of actions Robo should perform as a prologue for the crawl."
        }
      }
    },
    "Date": {
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "id": "Date",
      "type": "object",
      "properties": {
        "month": {
          "type": "integer",
          "format": "int32",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
        },
        "year": {
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "format": "int32"
        },
        "day": {
          "type": "integer",
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
        }
      }
    },
    "NetworkConfiguration": {
      "id": "NetworkConfiguration",
      "type": "object",
      "properties": {
        "id": {
          "description": "The unique opaque id for this network traffic configuration.",
          "type": "string"
        },
        "upRule": {
          "$ref": "TrafficRule",
          "description": "The emulation rule applying to the upload traffic."
        },
        "downRule": {
          "$ref": "TrafficRule",
          "description": "The emulation rule applying to the download traffic."
        }
      }
    },
    "IosRuntimeConfiguration": {
      "id": "IosRuntimeConfiguration",
      "properties": {
        "orientations": {
          "type": "array",
          "items": {
            "$ref": "Orientation"
          },
          "description": "The set of available orientations."
        },
        "locales": {
          "description": "The set of available locales.",
          "type": "array",
          "items": {
            "$ref": "Locale"
          }
        }
      },
      "type": "object",
      "description": "iOS configuration that can be selected at the time a test is run."
    },
    "XcodeVersion": {
      "properties": {
        "tags": {
          "description": "Tags for this Xcode version. Example: \"default\".",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "version": {
          "type": "string",
          "description": "The id for this version. Example: \"9.2\"."
        }
      },
      "description": "An Xcode version that an iOS version is compatible with.",
      "id": "XcodeVersion",
      "type": "object"
    },
    "AndroidRuntimeConfiguration": {
      "type": "object",
      "description": "Android configuration that can be selected at the time a test is run.",
      "id": "AndroidRuntimeConfiguration",
      "properties": {
        "orientations": {
          "items": {
            "$ref": "Orientation"
          },
          "type": "array",
          "description": "The set of available orientations."
        },
        "locales": {
          "type": "array",
          "description": "The set of available locales.",
          "items": {
            "$ref": "Locale"
          }
        }
      }
    },
    "ApkDetail": {
      "properties": {
        "apkManifest": {
          "$ref": "ApkManifest"
        }
      },
      "id": "ApkDetail",
      "description": "Android application details based on application manifest and apk archive contents.",
      "type": "object"
    },
    "UsesFeature": {
      "id": "UsesFeature",
      "description": "A tag within a manifest. https://developer.android.com/guide/topics/manifest/uses-feature-element.html",
      "properties": {
        "isRequired": {
          "description": "The android:required value",
          "type": "boolean"
        },
        "name": {
          "description": "The android:name value",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Service": {
      "id": "Service",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The android:name value"
        },
        "intentFilter": {
          "type": "array",
          "description": "Intent filters in the service",
          "items": {
            "$ref": "IntentFilter"
          }
        }
      },
      "description": "The section of an tag. https://developer.android.com/guide/topics/manifest/service-element"
    },
    "IosDeviceCatalog": {
      "description": "The currently supported iOS devices.",
      "id": "IosDeviceCatalog",
      "type": "object",
      "properties": {
        "runtimeConfiguration": {
          "description": "The set of supported runtime configurations.",
          "$ref": "IosRuntimeConfiguration"
        },
        "xcodeVersions": {
          "items": {
            "$ref": "XcodeVersion"
          },
          "description": "The set of supported Xcode versions.",
          "type": "array"
        },
        "versions": {
          "description": "The set of supported iOS software versions.",
          "items": {
            "$ref": "IosVersion"
          },
          "type": "array"
        },
        "models": {
          "items": {
            "$ref": "IosModel"
          },
          "description": "The set of supported iOS device models.",
          "type": "array"
        }
      }
    },
    "ClientInfo": {
      "description": "Information about the client which invoked the test.",
      "properties": {
        "clientInfoDetails": {
          "description": "The list of detailed information about client.",
          "type": "array",
          "items": {
            "$ref": "ClientInfoDetail"
          }
        },
        "name": {
          "description": "Required. Client name, such as gcloud.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ClientInfo"
    },
    "Distribution": {
      "id": "Distribution",
      "properties": {
        "measurementTime": {
          "description": "Output only. The time this distribution was measured.",
          "type": "string",
          "format": "google-datetime"
        },
        "marketShare": {
          "description": "Output only. The estimated fraction (0-1) of the total market with this configuration.",
          "format": "double",
          "type": "number"
        }
      },
      "description": "Data about the relative number of devices running a given configuration of the Android platform.",
      "type": "object"
    },
    "IosModel": {
      "properties": {
        "supportedVersionIds": {
          "description": "The set of iOS major software versions this device supports.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "formFactor": {
          "description": "Whether this device is a phone, tablet, wearable, etc.",
          "type": "string",
          "enumDescriptions": [
            "Do not use. For proto versioning only.",
            "This device has the shape of a phone.",
            "This device has the shape of a tablet.",
            "This device has the shape of a watch or other wearable."
          ],
          "enum": [
            "DEVICE_FORM_FACTOR_UNSPECIFIED",
            "PHONE",
            "TABLET",
            "WEARABLE"
          ]
        },
        "screenDensity": {
          "type": "integer",
          "description": "Screen density in DPI.",
          "format": "int32"
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Tags for this dimension. Examples: \"default\", \"preview\", \"deprecated\"."
        },
        "deviceCapabilities": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Device capabilities. Copied from https://developer.apple.com/library/archive/documentation/DeviceInformation/Reference/iOSDeviceCompatibility/DeviceCompatibilityMatrix/DeviceCompatibilityMatrix.html"
        },
        "id": {
          "type": "string",
          "description": "The unique opaque id for this model. Use this for invoking the TestExecutionService."
        },
        "name": {
          "type": "string",
          "description": "The human-readable name for this device model. Examples: \"iPhone 4s\", \"iPad Mini 2\"."
        },
        "screenY": {
          "format": "int32",
          "type": "integer",
          "description": "Screen size in the vertical (Y) dimension measured in pixels."
        },
        "screenX": {
          "description": "Screen size in the horizontal (X) dimension measured in pixels.",
          "type": "integer",
          "format": "int32"
        },
        "perVersionInfo": {
          "type": "array",
          "description": "Version-specific information of an iOS model.",
          "items": {
            "$ref": "PerIosVersionInfo"
          }
        }
      },
      "id": "IosModel",
      "type": "object",
      "description": "A description of an iOS device tests may be run on."
    },
    "IntentFilter": {
      "properties": {
        "actionNames": {
          "description": "The android:name value of the tag.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "categoryNames": {
          "description": "The android:name value of the tag.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "mimeType": {
          "type": "string",
          "description": "The android:mimeType value of the tag."
        }
      },
      "type": "object",
      "description": "The section of an tag. https://developer.android.com/guide/topics/manifest/intent-filter-element.html",
      "id": "IntentFilter"
    },
    "IosVersion": {
      "type": "object",
      "description": "An iOS version.",
      "properties": {
        "supportedXcodeVersionIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The available Xcode versions for this version."
        },
        "majorVersion": {
          "type": "integer",
          "description": "An integer representing the major iOS version. Examples: \"8\", \"9\".",
          "format": "int32"
        },
        "minorVersion": {
          "type": "integer",
          "description": "An integer representing the minor iOS version. Examples: \"1\", \"2\".",
          "format": "int32"
        },
        "id": {
          "type": "string",
          "description": "An opaque id for this iOS version. Use this id to invoke the TestExecutionService."
        },
        "tags": {
          "type": "array",
          "description": "Tags for this dimension. Examples: \"default\", \"preview\", \"deprecated\".",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "IosVersion"
    },
    "Metadata": {
      "type": "object",
      "id": "Metadata",
      "properties": {
        "name": {
          "description": "The android:name value",
          "type": "string"
        },
        "value": {
          "description": "The android:value value",
          "type": "string"
        }
      },
      "description": "A tag within a manifest. https://developer.android.com/guide/topics/manifest/meta-data-element.html"
    },
    "ClientInfoDetail": {
      "properties": {
        "key": {
          "description": "Required. The key of detailed client information.",
          "type": "string"
        },
        "value": {
          "description": "Required. The value of detailed client information.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Key-value pair of detailed information about the client which invoked the test. Examples: {'Version', '1.0'}, {'Release Track', 'BETA'}.",
      "id": "ClientInfoDetail"
    },
    "LauncherActivityIntent": {
      "type": "object",
      "description": "Specifies an intent that starts the main launcher activity.",
      "id": "LauncherActivityIntent",
      "properties": {}
    },
    "TestDetails": {
      "type": "object",
      "properties": {
        "progressMessages": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. Human-readable, detailed descriptions of the test's progress. For example: \"Provisioning a device\", \"Starting Test\". During the course of execution new data may be appended to the end of progress_messages."
        },
        "errorMessage": {
          "type": "string",
          "description": "Output only. If the TestState is ERROR, then this string will contain human-readable details about the error."
        }
      },
      "description": "Additional details about the progress of the running test.",
      "id": "TestDetails"
    },
    "ManualSharding": {
      "type": "object",
      "id": "ManualSharding",
      "properties": {
        "testTargetsForShard": {
          "items": {
            "$ref": "TestTargetsForShard"
          },
          "description": "Required. Group of packages, classes, and/or test methods to be run for each manually-created shard. You must specify at least one shard if this field is present. When you select one or more physical devices, the number of repeated test_targets_for_shard must be \u003c= 50. When you select one or more ARM virtual devices, it must be \u003c= 100. When you select only x86 virtual devices, it must be \u003c= 500.",
          "type": "array"
        }
      },
      "description": "Shards test cases into the specified groups of packages, classes, and/or methods. With manual sharding enabled, specifying test targets via environment_variables or in InstrumentationTest is invalid."
    },
    "CancelTestMatrixResponse": {
      "properties": {
        "testState": {
          "enumDescriptions": [
            "Do not use. For proto versioning only.",
            "The execution or matrix is being validated.",
            "The execution or matrix is waiting for resources to become available.",
            "The execution is currently being processed. Can only be set on an execution.",
            "The execution or matrix has terminated normally. On a matrix this means that the matrix level processing completed normally, but individual executions may be in an ERROR state.",
            "The execution or matrix has stopped because it encountered an infrastructure failure.",
            "The execution was not run because it corresponds to a unsupported environment. Can only be set on an execution.",
            "The execution was not run because the provided inputs are incompatible with the requested environment. Example: requested AndroidVersion is lower than APK's minSdkVersion Can only be set on an execution.",
            "The execution was not run because the provided inputs are incompatible with the requested architecture. Example: requested device does not support running the native code in the supplied APK Can only be set on an execution.",
            "The user cancelled the execution. Can only be set on an execution.",
            "The execution or matrix was not run because the provided inputs are not valid. Examples: input file is not of the expected type, is malformed/corrupt, or was flagged as malware"
          ],
          "type": "string",
          "enum": [
            "TEST_STATE_UNSPECIFIED",
            "VALIDATING",
            "PENDING",
            "RUNNING",
            "FINISHED",
            "ERROR",
            "UNSUPPORTED_ENVIRONMENT",
            "INCOMPATIBLE_ENVIRONMENT",
            "INCOMPATIBLE_ARCHITECTURE",
            "CANCELLED",
            "INVALID"
          ],
          "description": "The current rolled-up state of the test matrix. If this state is already final, then the cancelation request will have no effect."
        }
      },
      "description": "Response containing the current state of the specified test matrix.",
      "id": "CancelTestMatrixResponse",
      "type": "object"
    },
    "RoboStartingIntent": {
      "type": "object",
      "properties": {
        "timeout": {
          "format": "google-duration",
          "type": "string",
          "description": "Timeout in seconds for each intent."
        },
        "noActivity": {
          "$ref": "NoActivityIntent",
          "description": "Skips the starting activity"
        },
        "startActivity": {
          "$ref": "StartActivityIntent",
          "description": "An intent that starts an activity with specific details."
        },
        "launcherActivity": {
          "description": "An intent that starts the main launcher activity.",
          "$ref": "LauncherActivityIntent"
        }
      },
      "description": "Message for specifying the start activities to crawl.",
      "id": "RoboStartingIntent"
    },
    "ObbFile": {
      "id": "ObbFile",
      "description": "An opaque binary blob file to install on the device before the test starts.",
      "type": "object",
      "properties": {
        "obb": {
          "description": "Required. Opaque Binary Blob (OBB) file(s) to install on the device.",
          "$ref": "FileReference"
        },
        "obbFileName": {
          "type": "string",
          "description": "Required. OBB file name which must conform to the format as specified by Android e.g. [main|patch].0300110.com.example.android.obb which will be installed into \\/Android/obb/\\/ on the device."
        }
      }
    },
    "TestExecution": {
      "description": "A single test executed in a single environment.",
      "properties": {
        "projectId": {
          "description": "Output only. The cloud project that owns the test execution.",
          "type": "string"
        },
        "testDetails": {
          "$ref": "TestDetails",
          "description": "Output only. Additional details about the running test."
        },
        "toolResultsStep": {
          "$ref": "ToolResultsStep",
          "description": "Output only. Where the results for this execution are written."
        },
        "id": {
          "description": "Output only. Unique id set by the service.",
          "type": "string"
        },
        "shard": {
          "$ref": "Shard",
          "description": "Output only. Details about the shard."
        },
        "matrixId": {
          "type": "string",
          "description": "Output only. Id of the containing TestMatrix."
        },
        "environment": {
          "description": "Output only. How the host machine(s) are configured.",
          "$ref": "Environment"
        },
        "timestamp": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time this test execution was initially created."
        },
        "state": {
          "enum": [
            "TEST_STATE_UNSPECIFIED",
            "VALIDATING",
            "PENDING",
            "RUNNING",
            "FINISHED",
            "ERROR",
            "UNSUPPORTED_ENVIRONMENT",
            "INCOMPATIBLE_ENVIRONMENT",
            "INCOMPATIBLE_ARCHITECTURE",
            "CANCELLED",
            "INVALID"
          ],
          "type": "string",
          "enumDescriptions": [
            "Do not use. For proto versioning only.",
            "The execution or matrix is being validated.",
            "The execution or matrix is waiting for resources to become available.",
            "The execution is currently being processed. Can only be set on an execution.",
            "The execution or matrix has terminated normally. On a matrix this means that the matrix level processing completed normally, but individual executions may be in an ERROR state.",
            "The execution or matrix has stopped because it encountered an infrastructure failure.",
            "The execution was not run because it corresponds to a unsupported environment. Can only be set on an execution.",
            "The execution was not run because the provided inputs are incompatible with the requested environment. Example: requested AndroidVersion is lower than APK's minSdkVersion Can only be set on an execution.",
            "The execution was not run because the provided inputs are incompatible with the requested architecture. Example: requested device does not support running the native code in the supplied APK Can only be set on an execution.",
            "The user cancelled the execution. Can only be set on an execution.",
            "The execution or matrix was not run because the provided inputs are not valid. Examples: input file is not of the expected type, is malformed/corrupt, or was flagged as malware"
          ],
          "description": "Output only. Indicates the current progress of the test execution (e.g., FINISHED)."
        },
        "testSpecification": {
          "description": "Output only. How to run the test.",
          "$ref": "TestSpecification"
        }
      },
      "id": "TestExecution",
      "type": "object"
    },
    "RoboDirective": {
      "type": "object",
      "description": "Directs Robo to interact with a specific UI element if it is encountered during the crawl. Currently, Robo can perform text entry or element click.",
      "id": "RoboDirective",
      "properties": {
        "inputText": {
          "type": "string",
          "description": "The text that Robo is directed to set. If left empty, the directive will be treated as a CLICK on the element matching the resource_name."
        },
        "actionType": {
          "enumDescriptions": [
            "DO NOT USE. For proto versioning only.",
            "Direct Robo to click on the specified element. No-op if specified element is not clickable.",
            "Direct Robo to enter text on the specified element. No-op if specified element is not enabled or does not allow text entry.",
            "Direct Robo to ignore interactions with a specific element."
          ],
          "type": "string",
          "description": "Required. The type of action that Robo should perform on the specified element.",
          "enum": [
            "ACTION_TYPE_UNSPECIFIED",
            "SINGLE_CLICK",
            "ENTER_TEXT",
            "IGNORE"
          ]
        },
        "resourceName": {
          "type": "string",
          "description": "Required. The android resource name of the target UI element. For example, in Java: R.string.foo in xml: @string/foo Only the \"foo\" part is needed. Reference doc: https://developer.android.com/guide/topics/resources/accessing-resources.html"
        }
      }
    },
    "GoogleCloudStorage": {
      "description": "A storage location within Google cloud storage (GCS).",
      "properties": {
        "gcsPath": {
          "description": "Required. The path to a directory in GCS that will eventually contain the results for this test. The requesting user must have write access on the bucket in the supplied path.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudStorage"
    },
    "UniformSharding": {
      "type": "object",
      "id": "UniformSharding",
      "properties": {
        "numShards": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The total number of shards to create. This must always be a positive number that is no greater than the total number of test cases. When you select one or more physical devices, the number of shards must be \u003c= 50. When you select one or more ARM virtual devices, it must be \u003c= 100. When you select only x86 virtual devices, it must be \u003c= 500."
        }
      },
      "description": "Uniformly shards test cases given a total number of shards. For instrumentation tests, it will be translated to \"-e numShard\" and \"-e shardIndex\" AndroidJUnitRunner arguments. With uniform sharding enabled, specifying either of these sharding arguments via `environment_variables` is invalid. Based on the sharding mechanism AndroidJUnitRunner uses, there is no guarantee that test cases will be distributed uniformly across all shards."
    },
    "FileReference": {
      "properties": {
        "gcsPath": {
          "type": "string",
          "description": "A path to a file in Google Cloud Storage. Example: gs://build-app-1414623860166/app%40debug-unaligned.apk These paths are expected to be url encoded (percent encoding)"
        }
      },
      "id": "FileReference",
      "description": "A reference to a file, used for user inputs.",
      "type": "object"
    },
    "SystraceSetup": {
      "id": "SystraceSetup",
      "type": "object",
      "properties": {
        "durationSeconds": {
          "format": "int32",
          "type": "integer",
          "description": "Systrace duration in seconds. Should be between 1 and 30 seconds. 0 disables systrace.",
          "deprecated": true
        }
      }
    },
    "Account": {
      "description": "Identifies an account and how to log into it.",
      "id": "Account",
      "properties": {
        "googleAuto": {
          "description": "An automatic google login account.",
          "$ref": "GoogleAuto"
        }
      },
      "type": "object"
    },
    "TestMatrix": {
      "description": "TestMatrix captures all details about a test. It contains the environment configuration, test specification, test executions and overall state and outcome.",
      "id": "TestMatrix",
      "properties": {
        "projectId": {
          "type": "string",
          "description": "The cloud project that owns the test matrix."
        },
        "flakyTestAttempts": {
          "type": "integer",
          "description": "The number of times a TestExecution should be re-attempted if one or more of its test cases fail for any reason. The maximum number of reruns allowed is 10. Default is 0, which implies no reruns.",
          "format": "int32"
        },
        "testExecutions": {
          "description": "Output only. The list of test executions that the service creates for this matrix.",
          "items": {
            "$ref": "TestExecution"
          },
          "type": "array"
        },
        "invalidMatrixDetails": {
          "enum": [
            "INVALID_MATRIX_DETAILS_UNSPECIFIED",
            "DETAILS_UNAVAILABLE",
            "MALFORMED_APK",
            "MALFORMED_TEST_APK",
            "NO_MANIFEST",
            "NO_PACKAGE_NAME",
            "INVALID_PACKAGE_NAME",
            "TEST_SAME_AS_APP",
            "NO_INSTRUMENTATION",
            "NO_SIGNATURE",
            "INSTRUMENTATION_ORCHESTRATOR_INCOMPATIBLE",
            "NO_TEST_RUNNER_CLASS",
            "NO_LAUNCHER_ACTIVITY",
            "FORBIDDEN_PERMISSIONS",
            "INVALID_ROBO_DIRECTIVES",
            "INVALID_RESOURCE_NAME",
            "INVALID_DIRECTIVE_ACTION",
            "TEST_LOOP_INTENT_FILTER_NOT_FOUND",
            "SCENARIO_LABEL_NOT_DECLARED",
            "SCENARIO_LABEL_MALFORMED",
            "SCENARIO_NOT_DECLARED",
            "DEVICE_ADMIN_RECEIVER",
            "MALFORMED_XC_TEST_ZIP",
            "BUILT_FOR_IOS_SIMULATOR",
            "NO_TESTS_IN_XC_TEST_ZIP",
            "USE_DESTINATION_ARTIFACTS",
            "TEST_NOT_APP_HOSTED",
            "PLIST_CANNOT_BE_PARSED",
            "TEST_ONLY_APK",
            "MALFORMED_IPA",
            "MISSING_URL_SCHEME",
            "MALFORMED_APP_BUNDLE",
            "NO_CODE_APK",
            "INVALID_INPUT_APK",
            "INVALID_APK_PREVIEW_SDK",
            "MATRIX_TOO_LARGE",
            "TEST_QUOTA_EXCEEDED",
            "SERVICE_NOT_ACTIVATED",
            "UNKNOWN_PERMISSION_ERROR"
          ],
          "enumDescriptions": [
            "Do not use. For proto versioning only.",
            "The matrix is INVALID, but there are no further details available.",
            "The input app APK could not be parsed.",
            "The input test APK could not be parsed.",
            "The AndroidManifest.xml could not be found.",
            "The APK manifest does not declare a package name.",
            "The APK application ID (aka package name) is invalid. See also https://developer.android.com/studio/build/application-id",
            "The test package and app package are the same.",
            "The test apk does not declare an instrumentation.",
            "The input app apk does not have a signature.",
            "The test runner class specified by user or in the test APK's manifest file is not compatible with Android Test Orchestrator. Orchestrator is only compatible with AndroidJUnitRunner version 1.1 or higher. Orchestrator can be disabled by using DO_NOT_USE_ORCHESTRATOR OrchestratorOption.",
            "The test APK does not contain the test runner class specified by the user or in the manifest file. This can be caused by one of the following reasons: - the user provided a runner class name that's incorrect, or - the test runner isn't built into the test APK (might be in the app APK instead).",
            "A main launcher activity could not be found.",
            "The app declares one or more permissions that are not allowed.",
            "There is a conflict in the provided robo_directives.",
            "There is at least one invalid resource name in the provided robo directives",
            "Invalid definition of action in the robo directives (e.g. a click or ignore action includes an input text field)",
            "There is no test loop intent filter, or the one that is given is not formatted correctly.",
            "The request contains a scenario label that was not declared in the manifest.",
            "There was an error when parsing a label's value.",
            "The request contains a scenario number that was not declared in the manifest.",
            "Device administrator applications are not allowed.",
            "The zipped XCTest was malformed. The zip did not contain a single .xctestrun file and the contents of the DerivedData/Build/Products directory.",
            "The zipped XCTest was built for the iOS simulator rather than for a physical device.",
            "The .xctestrun file did not specify any test targets.",
            "One or more of the test targets defined in the .xctestrun file specifies \"UseDestinationArtifacts\", which is disallowed.",
            "XC tests which run on physical devices must have \"IsAppHostedTestBundle\" == \"true\" in the xctestrun file.",
            "An Info.plist file in the XCTest zip could not be parsed.",
            "The APK is marked as \"testOnly\". Deprecated and not currently used.",
            "The input IPA could not be parsed.",
            "The application doesn't register the game loop URL scheme.",
            "The iOS application bundle (.app) couldn't be processed.",
            "APK contains no code. See also https://developer.android.com/guide/topics/manifest/application-element.html#code",
            "Either the provided input APK path was malformed, the APK file does not exist, or the user does not have permission to access the APK file.",
            "APK is built for a preview SDK which is unsupported",
            "The matrix expanded to contain too many executions.",
            "Not enough test quota to run the executions in this matrix.",
            "A required cloud service api is not activated. See: https://firebase.google.com/docs/test-lab/android/continuous#requirements",
            "There was an unknown permission issue running this test."
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "type": "string",
          "description": "Output only. Describes why the matrix is considered invalid. Only useful for matrices in the INVALID state."
        },
        "failFast": {
          "type": "boolean",
          "description": "If true, only a single attempt at most will be made to run each execution/shard in the matrix. Flaky test attempts are not affected. Normally, 2 or more attempts are made if a potential infrastructure issue is detected. This feature is for latency sensitive workloads. The incidence of execution failures may be significantly greater for fail-fast matrices and support is more limited because of that expectation."
        },
        "testSpecification": {
          "description": "Required. How to run the test.",
          "$ref": "TestSpecification"
        },
        "testMatrixId": {
          "type": "string",
          "description": "Output only. Unique id set by the service."
        },
        "clientInfo": {
          "description": "Information about the client which invoked the test.",
          "$ref": "ClientInfo"
        },
        "timestamp": {
          "description": "Output only. The time this test matrix was initially created.",
          "format": "google-datetime",
          "type": "string"
        },
        "outcomeSummary": {
          "enumDescriptions": [
            "Do not use. For proto versioning only.",
            "The test matrix run was successful, for instance: - All the test cases passed. - Robo did not detect a crash of the application under test.",
            "A run failed, for instance: - One or more test cases failed. - A test timed out. - The application under test crashed.",
            "Something unexpected happened. The run should still be considered unsuccessful but this is likely a transient problem and re-running the test might be successful.",
            "All tests were skipped, for instance: - All device configurations were incompatible."
          ],
          "type": "string",
          "description": "Output Only. The overall outcome of the test. Only set when the test matrix state is FINISHED.",
          "enum": [
            "OUTCOME_SUMMARY_UNSPECIFIED",
            "SUCCESS",
            "FAILURE",
            "INCONCLUSIVE",
            "SKIPPED"
          ]
        },
        "environmentMatrix": {
          "description": "Required. The devices the tests are being executed on.",
          "$ref": "EnvironmentMatrix"
        },
        "state": {
          "type": "string",
          "enum": [
            "TEST_STATE_UNSPECIFIED",
            "VALIDATING",
            "PENDING",
            "RUNNING",
            "FINISHED",
            "ERROR",
            "UNSUPPORTED_ENVIRONMENT",
            "INCOMPATIBLE_ENVIRONMENT",
            "INCOMPATIBLE_ARCHITECTURE",
            "CANCELLED",
            "INVALID"
          ],
          "enumDescriptions": [
            "Do not use. For proto versioning only.",
            "The execution or matrix is being validated.",
            "The execution or matrix is waiting for resources to become available.",
            "The execution is currently being processed. Can only be set on an execution.",
            "The execution or matrix has terminated normally. On a matrix this means that the matrix level processing completed normally, but individual executions may be in an ERROR state.",
            "The execution or matrix has stopped because it encountered an infrastructure failure.",
            "The execution was not run because it corresponds to a unsupported environment. Can only be set on an execution.",
            "The execution was not run because the provided inputs are incompatible with the requested environment. Example: requested AndroidVersion is lower than APK's minSdkVersion Can only be set on an execution.",
            "The execution was not run because the provided inputs are incompatible with the requested architecture. Example: requested device does not support running the native code in the supplied APK Can only be set on an execution.",
            "The user cancelled the execution. Can only be set on an execution.",
            "The execution or matrix was not run because the provided inputs are not valid. Examples: input file is not of the expected type, is malformed/corrupt, or was flagged as malware"
          ],
          "description": "Output only. Indicates the current progress of the test matrix."
        },
        "resultStorage": {
          "description": "Required. Where the results for the matrix are written.",
          "$ref": "ResultStorage"
        }
      },
      "type": "object"
    },
    "IosDeviceFile": {
      "properties": {
        "devicePath": {
          "type": "string",
          "description": "Location of the file on the device, inside the app's sandboxed filesystem"
        },
        "bundleId": {
          "type": "string",
          "description": "The bundle id of the app where this file lives. iOS apps sandbox their own filesystem, so app files must specify which app installed on the device."
        },
        "content": {
          "$ref": "FileReference",
          "description": "The source file"
        }
      },
      "description": "A file or directory to install on the device before the test starts.",
      "type": "object",
      "id": "IosDeviceFile"
    },
    "ToolResultsStep": {
      "properties": {
        "historyId": {
          "type": "string",
          "description": "Output only. A tool results history ID."
        },
        "projectId": {
          "type": "string",
          "description": "Output only. The cloud project that owns the tool results step."
        },
        "stepId": {
          "type": "string",
          "description": "Output only. A tool results step ID."
        },
        "executionId": {
          "description": "Output only. A tool results execution ID.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents a tool results step resource. This has the results of a TestExecution.",
      "id": "ToolResultsStep"
    },
    "AndroidInstrumentationTest": {
      "description": "A test of an Android application that can control an Android component independently of its normal lifecycle. Android instrumentation tests run an application APK and test APK inside the same process on a virtual or physical AndroidDevice. They also specify a test runner class, such as com.google.GoogleTestRunner, which can vary on the specific instrumentation framework chosen. See for more information on types of Android tests.",
      "type": "object",
      "properties": {
        "shardingOption": {
          "description": "The option to run tests in multiple shards in parallel.",
          "$ref": "ShardingOption"
        },
        "testApk": {
          "$ref": "FileReference",
          "description": "Required. The APK containing the test code to be executed."
        },
        "orchestratorOption": {
          "enumDescriptions": [
            "Default value: the server will choose the mode. Currently implies that the test will run without the orchestrator. In the future, all instrumentation tests will be run with the orchestrator. Using the orchestrator is highly encouraged because of all the benefits it offers.",
            "Run test using orchestrator. ** Only compatible with AndroidJUnitRunner version 1.1 or higher! ** Recommended.",
            "Run test without using orchestrator."
          ],
          "description": "The option of whether running each test within its own invocation of instrumentation with Android Test Orchestrator or not. ** Orchestrator is only compatible with AndroidJUnitRunner version 1.1 or higher! ** Orchestrator offers the following benefits: - No shared state - Crashes are isolated - Logs are scoped per test See for more information about Android Test Orchestrator. If not set, the test will be run without the orchestrator.",
          "enum": [
            "ORCHESTRATOR_OPTION_UNSPECIFIED",
            "USE_ORCHESTRATOR",
            "DO_NOT_USE_ORCHESTRATOR"
          ],
          "type": "string"
        },
        "testPackageId": {
          "type": "string",
          "description": "The java package for the test to be executed. The default value is determined by examining the application's manifest."
        },
        "appBundle": {
          "$ref": "AppBundle",
          "description": "A multi-apk app bundle for the application under test."
        },
        "testRunnerClass": {
          "type": "string",
          "description": "The InstrumentationTestRunner class. The default value is determined by examining the application's manifest."
        },
        "appPackageId": {
          "description": "The java package for the application under test. The default value is determined by examining the application's manifest.",
          "type": "string"
        },
        "appApk": {
          "$ref": "FileReference",
          "description": "The APK for the application under test."
        },
        "testTargets": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Each target must be fully qualified with the package name or class name, in one of these formats: - \"package package_name\" - \"class package_name.class_name\" - \"class package_name.class_name#method_name\" If empty, all targets in the module will be run."
        }
      },
      "id": "AndroidInstrumentationTest"
    },
    "PerAndroidVersionInfo": {
      "description": "A version-specific information of an Android model.",
      "id": "PerAndroidVersionInfo",
      "properties": {
        "versionId": {
          "type": "string",
          "description": "An Android version."
        },
        "deviceCapacity": {
          "enum": [
            "DEVICE_CAPACITY_UNSPECIFIED",
            "DEVICE_CAPACITY_HIGH",
            "DEVICE_CAPACITY_MEDIUM",
            "DEVICE_CAPACITY_LOW",
            "DEVICE_CAPACITY_NONE"
          ],
          "enumDescriptions": [
            "The value of device capacity is unknown or unset.",
            "Devices that are high in capacity (The lab has a large number of these devices). These devices are generally suggested for running a large number of simultaneous tests (e.g. more than 100 tests). Please note that high capacity devices do not guarantee short wait times due to several factors: 1. Traffic (how heavily they are used at any given moment) 2. High capacity devices are prioritized for certain usages, which may cause user tests to be slower than selecting other similar device types.",
            "Devices that are medium in capacity (The lab has a decent number of these devices, though not as many as high capacity devices). These devices are suitable for fewer test runs (e.g. fewer than 100 tests) and only for low shard counts (e.g. less than 10 shards).",
            "Devices that are low in capacity (The lab has a small number of these devices). These devices may be used if users need to test on this specific device model and version. Please note that due to low capacity, the tests may take much longer to finish, especially if a large number of tests are invoked at once. These devices are not suitable for test sharding.",
            "Devices that are completely missing from the lab. These devices are unavailable either temporarily or permanently and should not be requested. If the device is also marked as deprecated, this state is very likely permanent."
          ],
          "type": "string",
          "description": "The number of online devices for an Android version."
        }
      },
      "type": "object"
    },
    "DeviceIpBlockCatalog": {
      "type": "object",
      "id": "DeviceIpBlockCatalog",
      "properties": {
        "ipBlocks": {
          "type": "array",
          "description": "The device IP blocks used by Firebase Test Lab",
          "items": {
            "$ref": "DeviceIpBlock"
          }
        }
      },
      "description": "List of IP blocks used by the Firebase Test Lab"
    },
    "SmartSharding": {
      "type": "object",
      "id": "SmartSharding",
      "description": "Shards test based on previous test case timing records.",
      "properties": {
        "targetedShardDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "The amount of time tests within a shard should take. Default: 300 seconds (5 minutes). The minimum allowed: 120 seconds (2 minutes). The shard count is dynamically set based on time, up to the maximum shard limit (described below). To guarantee at least one test case for each shard, the number of shards will not exceed the number of test cases. Shard duration will be exceeded if: - The maximum shard limit is reached and there is more calculated test time remaining to allocate into shards. - Any individual test is estimated to be longer than the targeted shard duration. Shard duration is not guaranteed because smart sharding uses test case history and default durations which may not be accurate. The rules for finding the test case timing records are: - If the service has processed a test case in the last 30 days, the record of the latest successful test case will be used. - For new test cases, the average duration of other known test cases will be used. - If there are no previous test case timing records available, the default test case duration is 15 seconds. Because the actual shard duration can exceed the targeted shard duration, we recommend that you set the targeted value at least 5 minutes less than the maximum allowed test timeout (45 minutes for physical devices and 60 minutes for virtual), or that you use the custom test timeout value that you set. This approach avoids cancelling the shard before all tests can finish. Note that there is a limit for maximum number of shards. When you select one or more physical devices, the number of shards must be \u003c= 50. When you select one or more ARM virtual devices, it must be \u003c= 100. When you select only x86 virtual devices, it must be \u003c= 500. To guarantee at least one test case for per shard, the number of shards will not exceed the number of test cases. Each shard created counts toward daily test quota."
        }
      }
    },
    "NoActivityIntent": {
      "id": "NoActivityIntent",
      "type": "object",
      "properties": {},
      "description": "Skips the starting activity"
    },
    "ToolResultsExecution": {
      "id": "ToolResultsExecution",
      "description": "Represents a tool results execution resource. This has the results of a TestMatrix.",
      "properties": {
        "projectId": {
          "type": "string",
          "description": "Output only. The cloud project that owns the tool results execution."
        },
        "historyId": {
          "type": "string",
          "description": "Output only. A tool results history ID."
        },
        "executionId": {
          "type": "string",
          "description": "Output only. A tool results execution ID."
        }
      },
      "type": "object"
    },
    "Orientation": {
      "id": "Orientation",
      "properties": {
        "tags": {
          "description": "Tags for this dimension. Example: \"default\".",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "name": {
          "description": "A human-friendly name for this orientation. Example: \"portrait\".",
          "type": "string"
        },
        "id": {
          "description": "The id for this orientation. Example: \"portrait\".",
          "type": "string"
        }
      },
      "description": "Screen orientation of the device.",
      "type": "object"
    },
    "TestTargetsForShard": {
      "description": "Test targets for a shard.",
      "id": "TestTargetsForShard",
      "type": "object",
      "properties": {
        "testTargets": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Group of packages, classes, and/or test methods to be run for each shard. The targets need to be specified in AndroidJUnitRunner argument format. For example, \"package com.my.packages\" \"class com.my.package.MyClass\". The number of test_targets must be greater than 0."
        }
      }
    },
    "ProvidedSoftwareCatalog": {
      "description": "The currently provided software environment on the devices under test.",
      "type": "object",
      "properties": {
        "orchestratorVersion": {
          "deprecated": true,
          "type": "string",
          "description": "Deprecated: Use AndroidX Test Orchestrator going forward. A string representing the current version of Android Test Orchestrator that is used in the environment. The package is available at https://maven.google.com/web/index.html#com.android.support.test:orchestrator."
        },
        "androidxOrchestratorVersion": {
          "type": "string",
          "description": "A string representing the current version of AndroidX Test Orchestrator that is used in the environment. The package is available at https://maven.google.com/web/index.html#androidx.test:orchestrator."
        }
      },
      "id": "ProvidedSoftwareCatalog"
    },
    "GetApkDetailsResponse": {
      "type": "object",
      "properties": {
        "apkDetail": {
          "description": "Details of the Android APK.",
          "$ref": "ApkDetail"
        }
      },
      "description": "Response containing the details of the specified Android application APK.",
      "id": "GetApkDetailsResponse"
    },
    "DeviceFile": {
      "id": "DeviceFile",
      "type": "object",
      "properties": {
        "obbFile": {
          "description": "A reference to an opaque binary blob file.",
          "$ref": "ObbFile"
        },
        "regularFile": {
          "description": "A reference to a regular file.",
          "$ref": "RegularFile"
        }
      },
      "description": "A single device file description."
    },
    "AndroidDeviceCatalog": {
      "description": "The currently supported Android devices.",
      "properties": {
        "runtimeConfiguration": {
          "description": "The set of supported runtime configurations.",
          "$ref": "AndroidRuntimeConfiguration"
        },
        "versions": {
          "items": {
            "$ref": "AndroidVersion"
          },
          "description": "The set of supported Android OS versions.",
          "type": "array"
        },
        "models": {
          "items": {
            "$ref": "AndroidModel"
          },
          "type": "array",
          "description": "The set of supported Android device models."
        }
      },
      "id": "AndroidDeviceCatalog",
      "type": "object"
    },
    "NetworkConfigurationCatalog": {
      "properties": {
        "configurations": {
          "type": "array",
          "items": {
            "$ref": "NetworkConfiguration"
          }
        }
      },
      "id": "NetworkConfigurationCatalog",
      "type": "object"
    },
    "AndroidVersion": {
      "properties": {
        "apiLevel": {
          "description": "The API level for this Android version. Examples: 18, 19.",
          "type": "integer",
          "format": "int32"
        },
        "versionString": {
          "type": "string",
          "description": "A string representing this version of the Android OS. Examples: \"4.3\", \"4.4\"."
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Tags for this dimension. Examples: \"default\", \"preview\", \"deprecated\"."
        },
        "releaseDate": {
          "$ref": "Date",
          "description": "The date this Android version became available in the market."
        },
        "distribution": {
          "description": "Market share for this version.",
          "$ref": "Distribution"
        },
        "id": {
          "type": "string",
          "description": "An opaque id for this Android version. Use this id to invoke the TestExecutionService."
        },
        "codeName": {
          "description": "The code name for this Android version. Examples: \"JellyBean\", \"KitKat\".",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A version of the Android OS.",
      "id": "AndroidVersion"
    },
    "EnvironmentVariable": {
      "id": "EnvironmentVariable",
      "description": "A key-value pair passed as an environment variable to the test.",
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "description": "Value for the environment variable."
        },
        "key": {
          "type": "string",
          "description": "Key for the environment variable."
        }
      }
    },
    "ToolResultsHistory": {
      "description": "Represents a tool results history resource.",
      "type": "object",
      "properties": {
        "historyId": {
          "description": "Required. A tool results history ID.",
          "type": "string"
        },
        "projectId": {
          "type": "string",
          "description": "Required. The cloud project that owns the tool results history."
        }
      },
      "id": "ToolResultsHistory"
    },
    "GoogleAuto": {
      "properties": {},
      "id": "GoogleAuto",
      "description": "Enables automatic Google account login. If set, the service automatically generates a Google test account and adds it to the device, before executing the test. Note that test accounts might be reused. Many applications show their full set of functionalities when an account is present on the device. Logging into the device with these generated accounts allows testing more functionalities.",
      "type": "object"
    },
    "PerIosVersionInfo": {
      "type": "object",
      "properties": {
        "deviceCapacity": {
          "description": "The number of online devices for an iOS version.",
          "type": "string",
          "enumDescriptions": [
            "The value of device capacity is unknown or unset.",
            "Devices that are high in capacity (The lab has a large number of these devices). These devices are generally suggested for running a large number of simultaneous tests (e.g. more than 100 tests). Please note that high capacity devices do not guarantee short wait times due to several factors: 1. Traffic (how heavily they are used at any given moment) 2. High capacity devices are prioritized for certain usages, which may cause user tests to be slower than selecting other similar device types.",
            "Devices that are medium in capacity (The lab has a decent number of these devices, though not as many as high capacity devices). These devices are suitable for fewer test runs (e.g. fewer than 100 tests) and only for low shard counts (e.g. less than 10 shards).",
            "Devices that are low in capacity (The lab has a small number of these devices). These devices may be used if users need to test on this specific device model and version. Please note that due to low capacity, the tests may take much longer to finish, especially if a large number of tests are invoked at once. These devices are not suitable for test sharding.",
            "Devices that are completely missing from the lab. These devices are unavailable either temporarily or permanently and should not be requested. If the device is also marked as deprecated, this state is very likely permanent."
          ],
          "enum": [
            "DEVICE_CAPACITY_UNSPECIFIED",
            "DEVICE_CAPACITY_HIGH",
            "DEVICE_CAPACITY_MEDIUM",
            "DEVICE_CAPACITY_LOW",
            "DEVICE_CAPACITY_NONE"
          ]
        },
        "versionId": {
          "description": "An iOS version.",
          "type": "string"
        }
      },
      "description": "A version-specific information of an iOS model.",
      "id": "PerIosVersionInfo"
    },
    "StartActivityIntent": {
      "id": "StartActivityIntent",
      "properties": {
        "uri": {
          "type": "string",
          "description": "URI for the action."
        },
        "categories": {
          "items": {
            "type": "string"
          },
          "description": "Intent categories to set on the intent.",
          "type": "array"
        },
        "action": {
          "description": "Action name. Required for START_ACTIVITY.",
          "type": "string"
        }
      },
      "description": "A starting intent specified by an action, uri, and categories.",
      "type": "object"
    },
    "EnvironmentMatrix": {
      "id": "EnvironmentMatrix",
      "type": "object",
      "description": "The matrix of environments in which the test is to be executed.",
      "properties": {
        "androidDeviceList": {
          "description": "A list of Android devices; the test will be run only on the specified devices.",
          "$ref": "AndroidDeviceList"
        },
        "androidMatrix": {
          "description": "A matrix of Android devices.",
          "$ref": "AndroidMatrix"
        },
        "iosDeviceList": {
          "$ref": "IosDeviceList",
          "description": "A list of iOS devices."
        }
      }
    },
    "AndroidDeviceList": {
      "type": "object",
      "id": "AndroidDeviceList",
      "description": "A list of Android device configurations in which the test is to be executed.",
      "properties": {
        "androidDevices": {
          "type": "array",
          "items": {
            "$ref": "AndroidDevice"
          },
          "description": "Required. A list of Android devices."
        }
      }
    },
    "Environment": {
      "id": "Environment",
      "description": "The environment in which the test is run.",
      "properties": {
        "androidDevice": {
          "$ref": "AndroidDevice",
          "description": "An Android device which must be used with an Android test."
        },
        "iosDevice": {
          "description": "An iOS device which must be used with an iOS test.",
          "$ref": "IosDevice"
        }
      },
      "type": "object"
    },
    "IosDeviceList": {
      "properties": {
        "iosDevices": {
          "items": {
            "$ref": "IosDevice"
          },
          "type": "array",
          "description": "Required. A list of iOS devices."
        }
      },
      "id": "IosDeviceList",
      "description": "A list of iOS device configurations in which the test is to be executed.",
      "type": "object"
    },
    "IosTestSetup": {
      "id": "IosTestSetup",
      "description": "A description of how to set up an iOS device prior to running the test.",
      "type": "object",
      "properties": {
        "pushFiles": {
          "type": "array",
          "items": {
            "$ref": "IosDeviceFile"
          },
          "description": "List of files to push to the device before starting the test."
        },
        "networkProfile": {
          "type": "string",
          "description": "The network traffic profile used for running the test. Available network profiles can be queried by using the NETWORK_CONFIGURATION environment type when calling TestEnvironmentDiscoveryService.GetTestEnvironmentCatalog."
        },
        "additionalIpas": {
          "type": "array",
          "items": {
            "$ref": "FileReference"
          },
          "description": "iOS apps to install in addition to those being directly tested."
        },
        "pullDirectories": {
          "type": "array",
          "items": {
            "$ref": "IosDeviceFile"
          },
          "description": "List of directories on the device to upload to Cloud Storage at the end of the test. Directories should either be in a shared directory (such as /private/var/mobile/Media) or within an accessible directory inside the app's filesystem (such as /Documents) by specifying the bundle ID."
        }
      }
    },
    "IosRoboTest": {
      "description": "A test that explores an iOS application on an iOS device.",
      "type": "object",
      "id": "IosRoboTest",
      "properties": {
        "appBundleId": {
          "description": "The bundle ID for the app-under-test. This is determined by examining the application's \"Info.plist\" file.",
          "type": "string"
        },
        "roboScript": {
          "description": "An optional Roboscript to customize the crawl. See https://firebase.google.com/docs/test-lab/android/robo-scripts-reference for more information about Roboscripts.",
          "$ref": "FileReference"
        },
        "appIpa": {
          "$ref": "FileReference",
          "description": "Required. The ipa stored at this file should be used to run the test."
        }
      }
    },
    "TestEnvironmentCatalog": {
      "properties": {
        "deviceIpBlockCatalog": {
          "description": "The IP blocks used by devices in the test environment.",
          "$ref": "DeviceIpBlockCatalog"
        },
        "androidDeviceCatalog": {
          "description": "Supported Android devices.",
          "$ref": "AndroidDeviceCatalog"
        },
        "softwareCatalog": {
          "description": "The software test environment provided by TestExecutionService.",
          "$ref": "ProvidedSoftwareCatalog"
        },
        "networkConfigurationCatalog": {
          "$ref": "NetworkConfigurationCatalog",
          "description": "Supported network configurations."
        },
        "iosDeviceCatalog": {
          "$ref": "IosDeviceCatalog",
          "description": "Supported iOS devices."
        }
      },
      "description": "A description of a test environment.",
      "type": "object",
      "id": "TestEnvironmentCatalog"
    },
    "TrafficRule": {
      "properties": {
        "packetLossRatio": {
          "type": "number",
          "format": "float",
          "description": "Packet loss ratio (0.0 - 1.0)."
        },
        "burst": {
          "type": "number",
          "description": "Burst size in kbits.",
          "format": "float"
        },
        "delay": {
          "format": "google-duration",
          "type": "string",
          "description": "Packet delay, must be \u003e= 0."
        },
        "packetDuplicationRatio": {
          "description": "Packet duplication ratio (0.0 - 1.0).",
          "type": "number",
          "format": "float"
        },
        "bandwidth": {
          "format": "float",
          "type": "number",
          "description": "Bandwidth in kbits/second."
        }
      },
      "type": "object",
      "id": "TrafficRule",
      "description": "Network emulation parameters."
    },
    "AndroidModel": {
      "description": "A description of an Android device tests may be run on.",
      "type": "object",
      "properties": {
        "screenX": {
          "format": "int32",
          "type": "integer",
          "description": "Screen size in the horizontal (X) dimension measured in pixels."
        },
        "supportedVersionIds": {
          "items": {
            "type": "string"
          },
          "description": "The set of Android versions this device supports.",
          "type": "array"
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Tags for this dimension. Examples: \"default\", \"preview\", \"deprecated\"."
        },
        "supportedAbis": {
          "description": "The list of supported ABIs for this device. This corresponds to either android.os.Build.SUPPORTED_ABIS (for API level 21 and above) or android.os.Build.CPU_ABI/CPU_ABI2. The most preferred ABI is the first element in the list. Elements are optionally prefixed by \"version_id:\" (where version_id is the id of an AndroidVersion), denoting an ABI that is supported only on a particular version.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "lowFpsVideoRecording": {
          "description": "True if and only if tests with this model are recorded by stitching together screenshots. See use_low_spec_video_recording in device config.",
          "type": "boolean"
        },
        "codename": {
          "description": "The name of the industrial design. This corresponds to android.os.Build.DEVICE.",
          "type": "string"
        },
        "perVersionInfo": {
          "type": "array",
          "description": "Version-specific information of an Android model.",
          "items": {
            "$ref": "PerAndroidVersionInfo"
          }
        },
        "screenDensity": {
          "format": "int32",
          "description": "Screen density in DPI. This corresponds to ro.sf.lcd_density",
          "type": "integer"
        },
        "form": {
          "enum": [
            "DEVICE_FORM_UNSPECIFIED",
            "VIRTUAL",
            "PHYSICAL",
            "EMULATOR"
          ],
          "enumDescriptions": [
            "Do not use. For proto versioning only.",
            "Android virtual device using Compute Engine native virtualization. Firebase Test Lab only.",
            "Actual hardware.",
            "Android virtual device using emulator in nested virtualization. Equivalent to Android Studio."
          ],
          "type": "string",
          "description": "Whether this device is virtual or physical."
        },
        "manufacturer": {
          "type": "string",
          "description": "The manufacturer of this device."
        },
        "screenY": {
          "format": "int32",
          "type": "integer",
          "description": "Screen size in the vertical (Y) dimension measured in pixels."
        },
        "brand": {
          "description": "The company that this device is branded with. Example: \"Google\", \"Samsung\".",
          "type": "string"
        },
        "thumbnailUrl": {
          "description": "URL of a thumbnail image (photo) of the device.",
          "type": "string"
        },
        "formFactor": {
          "enumDescriptions": [
            "Do not use. For proto versioning only.",
            "This device has the shape of a phone.",
            "This device has the shape of a tablet.",
            "This device has the shape of a watch or other wearable."
          ],
          "enum": [
            "DEVICE_FORM_FACTOR_UNSPECIFIED",
            "PHONE",
            "TABLET",
            "WEARABLE"
          ],
          "description": "Whether this device is a phone, tablet, wearable, etc.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The unique opaque id for this model. Use this for invoking the TestExecutionService."
        },
        "name": {
          "description": "The human-readable marketing name for this device model. Examples: \"Nexus 5\", \"Galaxy S5\".",
          "type": "string"
        }
      },
      "id": "AndroidModel"
    },
    "TestSpecification": {
      "description": "A description of how to run the test.",
      "type": "object",
      "id": "TestSpecification",
      "properties": {
        "iosTestSetup": {
          "$ref": "IosTestSetup",
          "description": "Test setup requirements for iOS."
        },
        "iosXcTest": {
          "$ref": "IosXcTest",
          "description": "An iOS XCTest, via an .xctestrun file."
        },
        "testSetup": {
          "description": "Test setup requirements for Android e.g. files to install, bootstrap scripts.",
          "$ref": "TestSetup"
        },
        "androidInstrumentationTest": {
          "description": "An Android instrumentation test.",
          "$ref": "AndroidInstrumentationTest"
        },
        "iosRoboTest": {
          "description": "An iOS Robo test.",
          "$ref": "IosRoboTest"
        },
        "iosTestLoop": {
          "description": "An iOS application with a test loop.",
          "$ref": "IosTestLoop"
        },
        "androidRoboTest": {
          "$ref": "AndroidRoboTest",
          "description": "An Android robo test."
        },
        "disablePerformanceMetrics": {
          "description": "Disables performance metrics recording. May reduce test latency.",
          "type": "boolean"
        },
        "testTimeout": {
          "format": "google-duration",
          "type": "string",
          "description": "Max time a test execution is allowed to run before it is automatically cancelled. The default value is 5 min."
        },
        "disableVideoRecording": {
          "type": "boolean",
          "description": "Disables video recording. May reduce test latency."
        },
        "androidTestLoop": {
          "$ref": "AndroidTestLoop",
          "description": "An Android Application with a Test Loop."
        }
      }
    },
    "IosDevice": {
      "properties": {
        "orientation": {
          "description": "Required. How the device is oriented during the test. Use the TestEnvironmentDiscoveryService to get supported options.",
          "type": "string"
        },
        "locale": {
          "description": "Required. The locale the test device used for testing. Use the TestEnvironmentDiscoveryService to get supported options.",
          "type": "string"
        },
        "iosVersionId": {
          "type": "string",
          "description": "Required. The id of the iOS major software version to be used. Use the TestEnvironmentDiscoveryService to get supported options."
        },
        "iosModelId": {
          "description": "Required. The id of the iOS device to be used. Use the TestEnvironmentDiscoveryService to get supported options.",
          "type": "string"
        }
      },
      "id": "IosDevice",
      "type": "object",
      "description": "A single iOS device."
    },
    "AndroidTestLoop": {
      "description": "A test of an Android Application with a Test Loop. The intent \\ will be implicitly added, since Games is the only user of this api, for the time being.",
      "properties": {
        "scenarios": {
          "description": "The list of scenarios that should be run during the test. The default is all test loops, derived from the application's manifest.",
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          }
        },
        "appApk": {
          "$ref": "FileReference",
          "description": "The APK for the application under test."
        },
        "scenarioLabels": {
          "description": "The list of scenario labels that should be run during the test. The scenario labels should map to labels defined in the application's manifest. For example, player_experience and com.google.test.loops.player_experience add all of the loops labeled in the manifest with the com.google.test.loops.player_experience name to the execution. Scenarios can also be specified in the scenarios field.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "appBundle": {
          "description": "A multi-apk app bundle for the application under test.",
          "$ref": "AppBundle"
        },
        "appPackageId": {
          "description": "The java package for the application under test. The default is determined by examining the application's manifest.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "AndroidTestLoop"
    },
    "AndroidMatrix": {
      "id": "AndroidMatrix",
      "properties": {
        "androidVersionIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. The ids of the set of Android OS version to be used. Use the TestEnvironmentDiscoveryService to get supported options."
        },
        "locales": {
          "description": "Required. The set of locales the test device will enable for testing. Use the TestEnvironmentDiscoveryService to get supported options.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "orientations": {
          "description": "Required. The set of orientations to test with. Use the TestEnvironmentDiscoveryService to get supported options.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "androidModelIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. The ids of the set of Android device to be used. Use the TestEnvironmentDiscoveryService to get supported options."
        }
      },
      "type": "object",
      "description": "A set of Android device configuration permutations is defined by the the cross-product of the given axes. Internally, the given AndroidMatrix will be expanded into a set of AndroidDevices. Only supported permutations will be instantiated. Invalid permutations (e.g., incompatible models/versions) are ignored."
    },
    "IosTestLoop": {
      "properties": {
        "appIpa": {
          "description": "Required. The .ipa of the application to test.",
          "$ref": "FileReference"
        },
        "appBundleId": {
          "type": "string",
          "description": "Output only. The bundle id for the application under test."
        },
        "scenarios": {
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "type": "array",
          "description": "The list of scenarios that should be run during the test. Defaults to the single scenario 0 if unspecified."
        }
      },
      "type": "object",
      "description": "A test of an iOS application that implements one or more game loop scenarios. This test type accepts an archived application (.ipa file) and a list of integer scenarios that will be executed on the app sequentially.",
      "id": "IosTestLoop"
    },
    "Apk": {
      "description": "An Android package file to install.",
      "properties": {
        "location": {
          "description": "The path to an APK to be installed on the device before the test begins.",
          "$ref": "FileReference"
        },
        "packageName": {
          "description": "The java package for the APK to be installed. Value is determined by examining the application's manifest.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Apk"
    },
    "Shard": {
      "description": "Output only. Details about the shard.",
      "properties": {
        "numShards": {
          "format": "int32",
          "description": "Output only. The total number of shards.",
          "type": "integer",
          "readOnly": true
        },
        "testTargetsForShard": {
          "$ref": "TestTargetsForShard",
          "readOnly": true,
          "description": "Output only. Test targets for each shard. Only set for manual sharding."
        },
        "estimatedShardDuration": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The estimated shard duration based on previous test case timing records, if available.",
          "format": "google-duration"
        },
        "shardIndex": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. The index of the shard among all the shards."
        }
      },
      "type": "object",
      "id": "Shard"
    },
    "RegularFile": {
      "type": "object",
      "id": "RegularFile",
      "properties": {
        "content": {
          "$ref": "FileReference",
          "description": "Required. The source file."
        },
        "devicePath": {
          "type": "string",
          "description": "Required. Where to put the content on the device. Must be an absolute, allowlisted path. If the file exists, it will be replaced. The following device-side directories and any of their subdirectories are allowlisted: ${EXTERNAL_STORAGE}, /sdcard, or /storage ${ANDROID_DATA}/local/tmp, or /data/local/tmp Specifying a path outside of these directory trees is invalid. The paths /sdcard and /data will be made available and treated as implicit path substitutions. E.g. if /sdcard on a particular device does not map to external storage, the system will replace it with the external storage path prefix for that device and copy the file there. It is strongly advised to use the Environment API in app and test code to access files on the device in a portable way."
        }
      },
      "description": "A file or directory to install on the device before the test starts."
    },
    "ApkManifest": {
      "type": "object",
      "properties": {
        "versionName": {
          "type": "string",
          "description": "Version number shown to users."
        },
        "intentFilters": {
          "type": "array",
          "items": {
            "$ref": "IntentFilter"
          }
        },
        "metadata": {
          "items": {
            "$ref": "Metadata"
          },
          "type": "array",
          "description": "Meta-data tags defined in the manifest."
        },
        "usesFeature": {
          "type": "array",
          "description": "Feature usage tags defined in the manifest.",
          "items": {
            "$ref": "UsesFeature"
          }
        },
        "targetSdkVersion": {
          "type": "integer",
          "description": "Specifies the API Level on which the application is designed to run.",
          "format": "int32"
        },
        "minSdkVersion": {
          "type": "integer",
          "format": "int32",
          "description": "Minimum API level required for the application to run."
        },
        "usesPermission": {
          "description": "Permissions declared to be used by the application",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "versionCode": {
          "type": "string",
          "format": "int64",
          "description": "Version number used internally by the app."
        },
        "maxSdkVersion": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum API level on which the application is designed to run."
        },
        "applicationLabel": {
          "type": "string",
          "description": "User-readable name for the application."
        },
        "packageName": {
          "description": "Full Java-style package name for this application, e.g. \"com.example.foo\".",
          "type": "string"
        },
        "services": {
          "items": {
            "$ref": "Service"
          },
          "description": "Services contained in the tag.",
          "type": "array"
        }
      },
      "id": "ApkManifest",
      "description": "An Android app manifest. See http://developer.android.com/guide/topics/manifest/manifest-intro.html"
    },
    "DeviceIpBlock": {
      "id": "DeviceIpBlock",
      "properties": {
        "form": {
          "description": "Whether this block is used by physical or virtual devices",
          "enumDescriptions": [
            "Do not use. For proto versioning only.",
            "Android virtual device using Compute Engine native virtualization. Firebase Test Lab only.",
            "Actual hardware.",
            "Android virtual device using emulator in nested virtualization. Equivalent to Android Studio."
          ],
          "type": "string",
          "enum": [
            "DEVICE_FORM_UNSPECIFIED",
            "VIRTUAL",
            "PHYSICAL",
            "EMULATOR"
          ]
        },
        "block": {
          "description": "An IP address block in CIDR notation eg: 34.68.194.64/29",
          "type": "string"
        },
        "addedDate": {
          "$ref": "Date",
          "description": "The date this block was added to Firebase Test Lab"
        }
      },
      "type": "object",
      "description": "A single device IP block"
    },
    "ShardingOption": {
      "id": "ShardingOption",
      "properties": {
        "uniformSharding": {
          "description": "Uniformly shards test cases given a total number of shards.",
          "$ref": "UniformSharding"
        },
        "manualSharding": {
          "$ref": "ManualSharding",
          "description": "Shards test cases into the specified groups of packages, classes, and/or methods."
        },
        "smartSharding": {
          "description": "Shards test based on previous test case timing records.",
          "$ref": "SmartSharding"
        }
      },
      "type": "object",
      "description": "Options for enabling sharding."
    },
    "Locale": {
      "properties": {
        "name": {
          "type": "string",
          "description": "A human-friendly name for this language/locale. Example: \"English\"."
        },
        "tags": {
          "description": "Tags for this dimension. Example: \"default\".",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "region": {
          "type": "string",
          "description": "A human-friendly string representing the region for this locale. Example: \"United States\". Not present for every locale."
        },
        "id": {
          "type": "string",
          "description": "The id for this locale. Example: \"en_US\"."
        }
      },
      "description": "A location/region designation for language.",
      "type": "object",
      "id": "Locale"
    },
    "IosXcTest": {
      "type": "object",
      "id": "IosXcTest",
      "description": "A test of an iOS application that uses the XCTest framework. Xcode supports the option to \"build for testing\", which generates an .xctestrun file that contains a test specification (arguments, test methods, etc). This test type accepts a zip file containing the .xctestrun file and the corresponding contents of the Build/Products directory that contains all the binaries needed to run the tests.",
      "properties": {
        "xctestrun": {
          "description": "An .xctestrun file that will override the .xctestrun file in the tests zip. Because the .xctestrun file contains environment variables along with test methods to run and/or ignore, this can be useful for sharding tests. Default is taken from the tests zip.",
          "$ref": "FileReference"
        },
        "testSpecialEntitlements": {
          "type": "boolean",
          "description": "The option to test special app entitlements. Setting this would re-sign the app having special entitlements with an explicit application-identifier. Currently supports testing aps-environment entitlement."
        },
        "testsZip": {
          "description": "Required. The .zip containing the .xctestrun file and the contents of the DerivedData/Build/Products directory. The .xctestrun file in this zip is ignored if the xctestrun field is specified.",
          "$ref": "FileReference"
        },
        "xcodeVersion": {
          "description": "The Xcode version that should be used for the test. Use the TestEnvironmentDiscoveryService to get supported options. Defaults to the latest Xcode version Firebase Test Lab supports.",
          "type": "string"
        },
        "appBundleId": {
          "type": "string",
          "description": "Output only. The bundle id for the application under test."
        }
      }
    },
    "AppBundle": {
      "id": "AppBundle",
      "properties": {
        "bundleLocation": {
          "description": ".aab file representing the app bundle under test.",
          "$ref": "FileReference"
        }
      },
      "type": "object",
      "description": "An Android App Bundle file format, containing a BundleConfig.pb file, a base module directory, zero or more dynamic feature module directories. See https://developer.android.com/guide/app-bundle/build for guidance on building App Bundles."
    },
    "AndroidDevice": {
      "description": "A single Android device.",
      "id": "AndroidDevice",
      "type": "object",
      "properties": {
        "locale": {
          "description": "Required. The locale the test device used for testing. Use the TestEnvironmentDiscoveryService to get supported options.",
          "type": "string"
        },
        "orientation": {
          "type": "string",
          "description": "Required. How the device is oriented during the test. Use the TestEnvironmentDiscoveryService to get supported options."
        },
        "androidVersionId": {
          "description": "Required. The id of the Android OS version to be used. Use the TestEnvironmentDiscoveryService to get supported options.",
          "type": "string"
        },
        "androidModelId": {
          "description": "Required. The id of the Android device to be used. Use the TestEnvironmentDiscoveryService to get supported options.",
          "type": "string"
        }
      }
    },
    "TestSetup": {
      "description": "A description of how to set up the Android device prior to running the test.",
      "type": "object",
      "properties": {
        "networkProfile": {
          "description": "The network traffic profile used for running the test. Available network profiles can be queried by using the NETWORK_CONFIGURATION environment type when calling TestEnvironmentDiscoveryService.GetTestEnvironmentCatalog.",
          "type": "string"
        },
        "systrace": {
          "$ref": "SystraceSetup",
          "deprecated": true,
          "description": "Systrace configuration for the run. Deprecated: Systrace used Python 2 which was sunsetted on 2020-01-01. Systrace is no longer supported in the Cloud Testing API, and no Systrace file will be provided in the results."
        },
        "environmentVariables": {
          "items": {
            "$ref": "EnvironmentVariable"
          },
          "type": "array",
          "description": "Environment variables to set for the test (only applicable for instrumentation tests)."
        },
        "dontAutograntPermissions": {
          "type": "boolean",
          "description": "Whether to prevent all runtime permissions to be granted at app install"
        },
        "filesToPush": {
          "description": "List of files to push to the device before starting the test.",
          "items": {
            "$ref": "DeviceFile"
          },
          "type": "array"
        },
        "account": {
          "description": "The device will be logged in on this account for the duration of the test.",
          "$ref": "Account"
        },
        "directoriesToPull": {
          "description": "List of directories on the device to upload to GCS at the end of the test; they must be absolute paths under /sdcard, /storage or /data/local/tmp. Path names are restricted to characters a-z A-Z 0-9 _ - . + and / Note: The paths /sdcard and /data will be made available and treated as implicit path substitutions. E.g. if /sdcard on a particular device does not map to external storage, the system will replace it with the external storage path prefix for that device.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "additionalApks": {
          "type": "array",
          "items": {
            "$ref": "Apk"
          },
          "description": "APKs to install in addition to those being directly tested. These will be installed after the app under test. Currently capped at 100."
        }
      },
      "id": "TestSetup"
    }
  },
  "rootUrl": "https://testing.googleapis.com/",
  "mtlsRootUrl": "https://testing.mtls.googleapis.com/",
  "basePath": "",
  "title": "Cloud Testing API",
  "resources": {
    "applicationDetailService": {
      "methods": {
        "getApkDetails": {
          "request": {
            "$ref": "FileReference"
          },
          "id": "testing.applicationDetailService.getApkDetails",
          "description": "Gets the details of an Android application APK.",
          "response": {
            "$ref": "GetApkDetailsResponse"
          },
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST",
          "flatPath": "v1/applicationDetailService/getApkDetails",
          "parameterOrder": [],
          "path": "v1/applicationDetailService/getApkDetails"
        }
      }
    },
    "projects": {
      "resources": {
        "testMatrices": {
          "methods": {
            "cancel": {
              "flatPath": "v1/projects/{projectId}/testMatrices/{testMatrixId}:cancel",
              "response": {
                "$ref": "CancelTestMatrixResponse"
              },
              "httpMethod": "POST",
              "description": "Cancels unfinished test executions in a test matrix. This call returns immediately and cancellation proceeds asynchronously. If the matrix is already final, this operation will have no effect. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the Test Matrix does not exist",
              "parameters": {
                "testMatrixId": {
                  "type": "string",
                  "required": true,
                  "description": "Test matrix that will be canceled.",
                  "location": "path"
                },
                "projectId": {
                  "required": true,
                  "description": "Cloud project that owns the test.",
                  "type": "string",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "testing.projects.testMatrices.cancel",
              "path": "v1/projects/{projectId}/testMatrices/{testMatrixId}:cancel",
              "parameterOrder": [
                "projectId",
                "testMatrixId"
              ]
            },
            "get": {
              "description": "Checks the status of a test matrix and the executions once they are created. The test matrix will contain the list of test executions to run if and only if the resultStorage.toolResultsExecution fields have been populated. Note: Flaky test executions may be added to the matrix at a later stage. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the Test Matrix does not exist",
              "response": {
                "$ref": "TestMatrix"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "id": "testing.projects.testMatrices.get",
              "parameterOrder": [
                "projectId",
                "testMatrixId"
              ],
              "path": "v1/projects/{projectId}/testMatrices/{testMatrixId}",
              "parameters": {
                "testMatrixId": {
                  "description": "Unique test matrix id which was assigned by the service.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "projectId": {
                  "type": "string",
                  "location": "path",
                  "description": "Cloud project that owns the test matrix.",
                  "required": true
[...]
