{
  "version": "v1",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "batchPath": "batch",
  "description": "Allows developers to run automated tests for their mobile applications on Google infrastructure.",
  "servicePath": "",
  "ownerDomain": "google.com",
  "protocol": "rest",
  "parameters": {
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "location": "query",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    }
  },
  "name": "testing",
  "revision": "20221004",
  "id": "testing:v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        }
      }
    }
  },
  "resources": {
    "testEnvironmentCatalog": {
      "methods": {
        "get": {
          "response": {
            "$ref": "TestEnvironmentCatalog"
          },
          "flatPath": "v1/testEnvironmentCatalog/{environmentType}",
          "id": "testing.testEnvironmentCatalog.get",
          "description": "Gets the catalog of supported test environments. May return any of the following canonical error codes: - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the environment type does not exist - INTERNAL - if an internal error occurred",
          "parameters": {
            "projectId": {
              "type": "string",
              "description": "For authorization, the cloud project requesting the TestEnvironmentCatalog.",
              "location": "query"
            },
            "environmentType": {
              "required": true,
              "enum": [
                "ENVIRONMENT_TYPE_UNSPECIFIED",
                "ANDROID",
                "IOS",
                "NETWORK_CONFIGURATION",
                "PROVIDED_SOFTWARE",
                "DEVICE_IP_BLOCKS"
              ],
              "enumDescriptions": [
                "Do not use. For proto versioning only.",
                "A device running a version of the Android OS.",
                "A device running a version of iOS.",
                "A network configuration to use when running a test.",
                "The software environment provided by TestExecutionService.",
                "The IP blocks used by devices in the test environment."
              ],
              "description": "Required. The type of environment that should be listed.",
              "type": "string",
              "location": "path"
            }
          },
          "parameterOrder": [
            "environmentType"
          ],
          "httpMethod": "GET",
          "path": "v1/testEnvironmentCatalog/{environmentType}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ]
        }
      }
    },
    "projects": {
      "resources": {
        "testMatrices": {
          "methods": {
            "create": {
              "parameterOrder": [
                "projectId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/projects/{projectId}/testMatrices",
              "description": "Creates and runs a matrix of tests according to the given specifications. Unsupported environments will be returned in the state UNSUPPORTED. A test matrix is limited to use at most 2000 devices in parallel. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed or if the matrix tries to use too many simultaneous devices.",
              "request": {
                "$ref": "TestMatrix"
              },
              "flatPath": "v1/projects/{projectId}/testMatrices",
              "parameters": {
                "requestId": {
                  "type": "string",
                  "description": "A string id used to detect duplicated requests. Ids are automatically scoped to a project, so users should ensure the ID is unique per-project. A UUID is recommended. Optional, but strongly recommended.",
                  "location": "query"
                },
                "projectId": {
                  "type": "string",
                  "description": "The GCE project under which this job will run.",
                  "location": "path",
                  "required": true
                }
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "TestMatrix"
              },
              "id": "testing.projects.testMatrices.create"
            },
            "get": {
              "parameters": {
                "testMatrixId": {
                  "location": "path",
                  "type": "string",
                  "description": "Unique test matrix id which was assigned by the service.",
                  "required": true
                },
                "projectId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Cloud project that owns the test matrix."
                }
              },
              "id": "testing.projects.testMatrices.get",
              "response": {
                "$ref": "TestMatrix"
              },
              "httpMethod": "GET",
              "flatPath": "v1/projects/{projectId}/testMatrices/{testMatrixId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "path": "v1/projects/{projectId}/testMatrices/{testMatrixId}",
              "parameterOrder": [
                "projectId",
                "testMatrixId"
              ],
              "description": "Checks the status of a test matrix. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the Test Matrix does not exist"
            },
            "cancel": {
              "response": {
                "$ref": "CancelTestMatrixResponse"
              },
              "path": "v1/projects/{projectId}/testMatrices/{testMatrixId}:cancel",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "testing.projects.testMatrices.cancel",
              "description": "Cancels unfinished test executions in a test matrix. This call returns immediately and cancellation proceeds asynchronously. If the matrix is already final, this operation will have no effect. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the Test Matrix does not exist",
              "flatPath": "v1/projects/{projectId}/testMatrices/{testMatrixId}:cancel",
              "parameterOrder": [
                "projectId",
                "testMatrixId"
              ],
              "parameters": {
                "testMatrixId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Test matrix that will be canceled."
                },
                "projectId": {
                  "type": "string",
                  "description": "Cloud project that owns the test.",
                  "required": true,
                  "location": "path"
                }
              }
            }
          }
        }
      }
    },
    "applicationDetailService": {
      "methods": {
        "getApkDetails": {
          "description": "Gets the details of an Android application APK.",
          "path": "v1/applicationDetailService/getApkDetails",
          "httpMethod": "POST",
          "id": "testing.applicationDetailService.getApkDetails",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [],
          "flatPath": "v1/applicationDetailService/getApkDetails",
          "response": {
            "$ref": "GetApkDetailsResponse"
          },
          "parameters": {},
          "request": {
            "$ref": "FileReference"
          }
        }
      }
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "basePath": "",
  "mtlsRootUrl": "https://testing.mtls.googleapis.com/",
  "documentationLink": "https://developers.google.com/cloud-test-lab/",
  "baseUrl": "https://testing.googleapis.com/",
  "title": "Cloud Testing API",
  "rootUrl": "https://testing.googleapis.com/",
  "kind": "discovery#restDescription",
  "schemas": {
    "ClientInfo": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. Client name, such as gcloud."
        },
        "clientInfoDetails": {
          "description": "The list of detailed information about client.",
          "items": {
            "$ref": "ClientInfoDetail"
          },
          "type": "array"
        }
      },
      "description": "Information about the client which invoked the test.",
      "type": "object",
      "id": "ClientInfo"
    },
    "GoogleAuto": {
      "type": "object",
      "properties": {},
      "id": "GoogleAuto",
      "description": "Enables automatic Google account login. If set, the service automatically generates a Google test account and adds it to the device, before executing the test. Note that test accounts might be reused. Many applications show their full set of functionalities when an account is present on the device. Logging into the device with these generated accounts allows testing more functionalities."
    },
    "AndroidRuntimeConfiguration": {
      "properties": {
        "locales": {
          "type": "array",
          "items": {
            "$ref": "Locale"
          },
          "description": "The set of available locales."
        },
        "orientations": {
          "description": "The set of available orientations.",
          "items": {
            "$ref": "Orientation"
          },
          "type": "array"
        }
      },
      "description": "Android configuration that can be selected at the time a test is run.",
      "type": "object",
      "id": "AndroidRuntimeConfiguration"
    },
    "ToolResultsStep": {
      "description": "Represents a tool results step resource. This has the results of a TestExecution.",
      "properties": {
        "historyId": {
          "description": "Output only. A tool results history ID.",
          "type": "string"
        },
        "stepId": {
          "type": "string",
          "description": "Output only. A tool results step ID."
        },
        "executionId": {
          "description": "Output only. A tool results execution ID.",
          "type": "string"
        },
        "projectId": {
          "description": "Output only. The cloud project that owns the tool results step.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ToolResultsStep"
    },
    "ShardingOption": {
      "type": "object",
      "properties": {
        "manualSharding": {
          "$ref": "ManualSharding",
          "description": "Shards test cases into the specified groups of packages, classes, and/or methods."
        },
        "uniformSharding": {
          "$ref": "UniformSharding",
          "description": "Uniformly shards test cases given a total number of shards."
        }
      },
      "id": "ShardingOption",
      "description": "Options for enabling sharding."
    },
    "AndroidDeviceList": {
      "id": "AndroidDeviceList",
      "description": "A list of Android device configurations in which the test is to be executed.",
      "type": "object",
      "properties": {
        "androidDevices": {
          "type": "array",
          "description": "Required. A list of Android devices.",
          "items": {
            "$ref": "AndroidDevice"
          }
        }
      }
    },
    "ResultStorage": {
      "description": "Locations where the results of running the test are stored.",
      "type": "object",
      "properties": {
        "googleCloudStorage": {
          "$ref": "GoogleCloudStorage",
          "description": "Required."
        },
        "toolResultsHistory": {
          "$ref": "ToolResultsHistory",
          "description": "The tool results history that contains the tool results execution that results are written to. If not provided, the service will choose an appropriate value."
        },
        "resultsUrl": {
          "type": "string",
          "description": "Output only. URL to the results in the Firebase Web Console."
        },
        "toolResultsExecution": {
          "description": "Output only. The tool results execution that results are written to.",
          "$ref": "ToolResultsExecution"
        }
      },
      "id": "ResultStorage"
    },
    "AndroidRoboTest": {
      "id": "AndroidRoboTest",
      "description": "A test of an android application that explores the application on a virtual or physical Android Device, finding culprits and crashes as it goes.",
      "type": "object",
      "properties": {
        "maxSteps": {
          "description": "The max number of steps Robo can execute. Default is no limit.",
          "format": "int32",
          "type": "integer"
        },
        "roboScript": {
          "description": "A JSON file with a sequence of actions Robo should perform as a prologue for the crawl.",
          "$ref": "FileReference"
        },
        "startingIntents": {
          "description": "The intents used to launch the app for the crawl. If none are provided, then the main launcher activity is launched. If some are provided, then only those provided are launched (the main launcher activity must be provided explicitly).",
          "type": "array",
          "items": {
            "$ref": "RoboStartingIntent"
          }
        },
        "roboDirectives": {
          "description": "A set of directives Robo should apply during the crawl. This allows users to customize the crawl. For example, the username and password for a test account can be provided.",
          "items": {
            "$ref": "RoboDirective"
          },
          "type": "array"
        },
        "roboMode": {
          "type": "string",
          "description": "The mode in which Robo should run. Most clients should allow the server to populate this field automatically.",
          "enum": [
            "ROBO_MODE_UNSPECIFIED",
            "ROBO_VERSION_1",
            "ROBO_VERSION_2"
          ],
          "enumDescriptions": [
            "This means that the server should choose the mode. Recommended.",
            "Runs Robo in UIAutomator-only mode without app resigning",
            "Runs Robo in standard Espresso with UIAutomator fallback"
          ]
        },
        "maxDepth": {
          "format": "int32",
          "description": "The max depth of the traversal stack Robo can explore. Needs to be at least 2 to make Robo explore the app beyond the first activity. Default is 50.",
          "type": "integer"
        },
        "appPackageId": {
          "type": "string",
          "description": "The java package for the application under test. The default value is determined by examining the application's manifest."
        },
        "appInitialActivity": {
          "type": "string",
          "description": "The initial activity that should be used to start the app."
        },
        "appBundle": {
          "description": "A multi-apk app bundle for the application under test.",
          "$ref": "AppBundle"
        },
        "appApk": {
          "description": "The APK for the application under test.",
          "$ref": "FileReference"
        }
      }
    },
    "ObbFile": {
      "type": "object",
      "properties": {
        "obb": {
          "description": "Required. Opaque Binary Blob (OBB) file(s) to install on the device.",
          "$ref": "FileReference"
        },
        "obbFileName": {
          "description": "Required. OBB file name which must conform to the format as specified by Android e.g. [main|patch].0300110.com.example.android.obb which will be installed into \\/Android/obb/\\/ on the device.",
          "type": "string"
        }
      },
      "id": "ObbFile",
      "description": "An opaque binary blob file to install on the device before the test starts."
    },
    "DeviceIpBlockCatalog": {
      "properties": {
        "ipBlocks": {
          "description": "The device IP blocks used by Firebase Test Lab",
          "type": "array",
          "items": {
            "$ref": "DeviceIpBlock"
          }
        }
      },
      "id": "DeviceIpBlockCatalog",
      "type": "object",
      "description": "List of IP blocks used by the Firebase Test Lab"
    },
    "EnvironmentVariable": {
      "description": "A key-value pair passed as an environment variable to the test.",
      "properties": {
        "key": {
          "description": "Key for the environment variable.",
          "type": "string"
        },
        "value": {
          "description": "Value for the environment variable.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "EnvironmentVariable"
    },
    "IosDeviceCatalog": {
      "type": "object",
      "description": "The currently supported iOS devices.",
      "properties": {
        "versions": {
          "items": {
            "$ref": "IosVersion"
          },
          "type": "array",
          "description": "The set of supported iOS software versions."
        },
        "runtimeConfiguration": {
          "description": "The set of supported runtime configurations.",
          "$ref": "IosRuntimeConfiguration"
        },
        "models": {
          "type": "array",
          "items": {
            "$ref": "IosModel"
          },
          "description": "The set of supported iOS device models."
        },
        "xcodeVersions": {
          "type": "array",
          "description": "The set of supported Xcode versions.",
          "items": {
            "$ref": "XcodeVersion"
          }
        }
      },
      "id": "IosDeviceCatalog"
    },
    "FileReference": {
      "type": "object",
      "properties": {
        "gcsPath": {
          "type": "string",
          "description": "A path to a file in Google Cloud Storage. Example: gs://build-app-1414623860166/app%40debug-unaligned.apk These paths are expected to be url encoded (percent encoding)"
        }
      },
      "description": "A reference to a file, used for user inputs.",
      "id": "FileReference"
    },
    "ManualSharding": {
      "id": "ManualSharding",
      "type": "object",
      "description": "Shards test cases into the specified groups of packages, classes, and/or methods. With manual sharding enabled, specifying test targets via environment_variables or in InstrumentationTest is invalid.",
      "properties": {
        "testTargetsForShard": {
          "description": "Required. Group of packages, classes, and/or test methods to be run for each manually-created shard. You must specify at least one shard if this field is present. When you select one or more physical devices, the number of repeated test_targets_for_shard must be \u003c= 50. When you select one or more ARM virtual devices, it must be \u003c= 50. When you select only x86 virtual devices, it must be \u003c= 500.",
          "type": "array",
          "items": {
            "$ref": "TestTargetsForShard"
          }
        }
      }
    },
    "AndroidInstrumentationTest": {
      "description": "A test of an Android application that can control an Android component independently of its normal lifecycle. Android instrumentation tests run an application APK and test APK inside the same process on a virtual or physical AndroidDevice. They also specify a test runner class, such as com.google.GoogleTestRunner, which can vary on the specific instrumentation framework chosen. See for more information on types of Android tests.",
      "properties": {
        "testApk": {
          "$ref": "FileReference",
          "description": "Required. The APK containing the test code to be executed."
        },
        "appBundle": {
          "description": "A multi-apk app bundle for the application under test.",
          "$ref": "AppBundle"
        },
        "appApk": {
          "description": "The APK for the application under test.",
          "$ref": "FileReference"
        },
        "orchestratorOption": {
          "enumDescriptions": [
            "Default value: the server will choose the mode. Currently implies that the test will run without the orchestrator. In the future, all instrumentation tests will be run with the orchestrator. Using the orchestrator is highly encouraged because of all the benefits it offers.",
            "Run test using orchestrator. ** Only compatible with AndroidJUnitRunner version 1.1 or higher! ** Recommended.",
            "Run test without using orchestrator."
          ],
          "type": "string",
          "enum": [
            "ORCHESTRATOR_OPTION_UNSPECIFIED",
            "USE_ORCHESTRATOR",
            "DO_NOT_USE_ORCHESTRATOR"
          ],
          "description": "The option of whether running each test within its own invocation of instrumentation with Android Test Orchestrator or not. ** Orchestrator is only compatible with AndroidJUnitRunner version 1.1 or higher! ** Orchestrator offers the following benefits: - No shared state - Crashes are isolated - Logs are scoped per test See for more information about Android Test Orchestrator. If not set, the test will be run without the orchestrator."
        },
        "testRunnerClass": {
          "type": "string",
          "description": "The InstrumentationTestRunner class. The default value is determined by examining the application's manifest."
        },
        "testTargets": {
          "items": {
            "type": "string"
          },
          "description": "Each target must be fully qualified with the package name or class name, in one of these formats: - \"package package_name\" - \"class package_name.class_name\" - \"class package_name.class_name#method_name\" If empty, all targets in the module will be run.",
          "type": "array"
        },
        "testPackageId": {
          "description": "The java package for the test to be executed. The default value is determined by examining the application's manifest.",
          "type": "string"
        },
        "appPackageId": {
          "description": "The java package for the application under test. The default value is determined by examining the application's manifest.",
          "type": "string"
        },
        "shardingOption": {
          "$ref": "ShardingOption",
          "description": "The option to run tests in multiple shards in parallel."
        }
      },
      "type": "object",
      "id": "AndroidInstrumentationTest"
    },
    "IosTestLoop": {
      "id": "IosTestLoop",
      "type": "object",
      "properties": {
        "scenarios": {
          "type": "array",
          "description": "The list of scenarios that should be run during the test. Defaults to the single scenario 0 if unspecified.",
          "items": {
            "format": "int32",
            "type": "integer"
          }
        },
        "appIpa": {
          "$ref": "FileReference",
          "description": "Required. The .ipa of the application to test."
        },
        "appBundleId": {
          "type": "string",
          "description": "Output only. The bundle id for the application under test."
        }
      },
      "description": "A test of an iOS application that implements one or more game loop scenarios. This test type accepts an archived application (.ipa file) and a list of integer scenarios that will be executed on the app sequentially."
    },
    "UniformSharding": {
      "description": "Uniformly shards test cases given a total number of shards. For instrumentation tests, it will be translated to \"-e numShard\" and \"-e shardIndex\" AndroidJUnitRunner arguments. With uniform sharding enabled, specifying either of these sharding arguments via `environment_variables` is invalid. Based on the sharding mechanism AndroidJUnitRunner uses, there is no guarantee that test cases will be distributed uniformly across all shards.",
      "type": "object",
      "id": "UniformSharding",
      "properties": {
        "numShards": {
          "type": "integer",
          "description": "Required. The total number of shards to create. This must always be a positive number that is no greater than the total number of test cases. When you select one or more physical devices, the number of shards must be \u003c= 50. When you select one or more ARM virtual devices, it must be \u003c= 50. When you select only x86 virtual devices, it must be \u003c= 500.",
          "format": "int32"
        }
      }
    },
    "SystraceSetup": {
      "id": "SystraceSetup",
      "properties": {
        "durationSeconds": {
          "type": "integer",
          "description": "Systrace duration in seconds. Should be between 1 and 30 seconds. 0 disables systrace.",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "NetworkConfigurationCatalog": {
      "properties": {
        "configurations": {
          "type": "array",
          "items": {
            "$ref": "NetworkConfiguration"
          }
        }
      },
      "type": "object",
      "id": "NetworkConfigurationCatalog"
    },
    "LauncherActivityIntent": {
      "description": "Specifies an intent that starts the main launcher activity.",
      "id": "LauncherActivityIntent",
      "type": "object",
      "properties": {}
    },
    "ToolResultsExecution": {
      "type": "object",
      "description": "Represents a tool results execution resource. This has the results of a TestMatrix.",
      "properties": {
        "executionId": {
          "type": "string",
          "description": "Output only. A tool results execution ID."
        },
        "historyId": {
          "description": "Output only. A tool results history ID.",
          "type": "string"
        },
        "projectId": {
          "type": "string",
          "description": "Output only. The cloud project that owns the tool results execution."
        }
      },
      "id": "ToolResultsExecution"
    },
    "DeviceFile": {
      "description": "A single device file description.",
      "id": "DeviceFile",
      "type": "object",
      "properties": {
        "obbFile": {
          "$ref": "ObbFile",
          "description": "A reference to an opaque binary blob file."
        },
        "regularFile": {
          "$ref": "RegularFile",
          "description": "A reference to a regular file."
        }
      }
    },
    "IosRuntimeConfiguration": {
      "type": "object",
      "description": "iOS configuration that can be selected at the time a test is run.",
      "properties": {
        "orientations": {
          "items": {
            "$ref": "Orientation"
          },
          "type": "array",
          "description": "The set of available orientations."
        },
        "locales": {
          "description": "The set of available locales.",
          "items": {
            "$ref": "Locale"
          },
          "type": "array"
        }
      },
      "id": "IosRuntimeConfiguration"
    },
    "TrafficRule": {
      "properties": {
        "burst": {
          "type": "number",
          "description": "Burst size in kbits.",
          "format": "float"
        },
        "packetDuplicationRatio": {
          "description": "Packet duplication ratio (0.0 - 1.0).",
          "format": "float",
          "type": "number"
        },
        "delay": {
          "format": "google-duration",
          "type": "string",
          "description": "Packet delay, must be \u003e= 0."
        },
        "bandwidth": {
          "format": "float",
          "type": "number",
          "description": "Bandwidth in kbits/second."
        },
        "packetLossRatio": {
          "description": "Packet loss ratio (0.0 - 1.0).",
          "format": "float",
          "type": "number"
        }
      },
      "id": "TrafficRule",
      "description": "Network emulation parameters.",
      "type": "object"
    },
    "AppBundle": {
      "properties": {
        "bundleLocation": {
          "description": ".aab file representing the app bundle under test.",
          "$ref": "FileReference"
        }
      },
      "id": "AppBundle",
      "description": "An Android App Bundle file format, containing a BundleConfig.pb file, a base module directory, zero or more dynamic feature module directories. See https://developer.android.com/guide/app-bundle/build for guidance on building App Bundles.",
      "type": "object"
    },
    "IosXcTest": {
      "id": "IosXcTest",
      "description": "A test of an iOS application that uses the XCTest framework. Xcode supports the option to \"build for testing\", which generates an .xctestrun file that contains a test specification (arguments, test methods, etc). This test type accepts a zip file containing the .xctestrun file and the corresponding contents of the Build/Products directory that contains all the binaries needed to run the tests.",
      "properties": {
        "xctestrun": {
          "$ref": "FileReference",
          "description": "An .xctestrun file that will override the .xctestrun file in the tests zip. Because the .xctestrun file contains environment variables along with test methods to run and/or ignore, this can be useful for sharding tests. Default is taken from the tests zip."
        },
        "testSpecialEntitlements": {
          "description": "The option to test special app entitlements. Setting this would re-sign the app having special entitlements with an explicit application-identifier. Currently supports testing aps-environment entitlement.",
          "type": "boolean"
        },
        "appBundleId": {
          "type": "string",
          "description": "Output only. The bundle id for the application under test."
        },
        "xcodeVersion": {
          "description": "The Xcode version that should be used for the test. Use the TestEnvironmentDiscoveryService to get supported options. Defaults to the latest Xcode version Firebase Test Lab supports.",
          "type": "string"
        },
        "testsZip": {
          "description": "Required. The .zip containing the .xctestrun file and the contents of the DerivedData/Build/Products directory. The .xctestrun file in this zip is ignored if the xctestrun field is specified.",
          "$ref": "FileReference"
        }
      },
      "type": "object"
    },
    "ProvidedSoftwareCatalog": {
      "id": "ProvidedSoftwareCatalog",
      "description": "The currently provided software environment on the devices under test.",
      "type": "object",
      "properties": {
        "androidxOrchestratorVersion": {
          "description": "A string representing the current version of AndroidX Test Orchestrator that is used in the environment. The package is available at https://maven.google.com/web/index.html#androidx.test:orchestrator.",
          "type": "string"
        },
        "orchestratorVersion": {
          "description": "Deprecated: Use AndroidX Test Orchestrator going forward. A string representing the current version of Android Test Orchestrator that is used in the environment. The package is available at https://maven.google.com/web/index.html#com.android.support.test:orchestrator.",
          "type": "string"
        }
      }
    },
    "DeviceIpBlock": {
      "id": "DeviceIpBlock",
      "properties": {
        "block": {
          "description": "An IP address block in CIDR notation eg: 34.68.194.64/29",
          "type": "string"
        },
        "addedDate": {
          "description": "The date this block was added to Firebase Test Lab",
          "$ref": "Date"
        },
        "form": {
          "type": "string",
          "description": "Whether this block is used by physical or virtual devices",
          "enumDescriptions": [
            "Do not use. For proto versioning only.",
            "Android virtual device using Compute Engine native virtualization. Firebase Test Lab only.",
            "Actual hardware.",
            "Android virtual device using emulator in nested virtualization. Equivalent to Android Studio."
          ],
          "enum": [
            "DEVICE_FORM_UNSPECIFIED",
            "VIRTUAL",
            "PHYSICAL",
            "EMULATOR"
          ]
        }
      },
      "description": "A single device IP block",
      "type": "object"
    },
    "AndroidDeviceCatalog": {
      "description": "The currently supported Android devices.",
      "type": "object",
      "properties": {
        "models": {
          "type": "array",
          "items": {
            "$ref": "AndroidModel"
          },
          "description": "The set of supported Android device models."
        },
        "versions": {
          "items": {
            "$ref": "AndroidVersion"
          },
          "description": "The set of supported Android OS versions.",
          "type": "array"
        },
        "runtimeConfiguration": {
          "$ref": "AndroidRuntimeConfiguration",
          "description": "The set of supported runtime configurations."
        }
      },
      "id": "AndroidDeviceCatalog"
    },
    "GetApkDetailsResponse": {
      "properties": {
        "apkDetail": {
          "$ref": "ApkDetail",
          "description": "Details of the Android APK."
        }
      },
      "id": "GetApkDetailsResponse",
      "type": "object",
      "description": "Response containing the details of the specified Android application APK."
    },
    "TestDetails": {
      "type": "object",
      "description": "Additional details about the progress of the running test.",
      "properties": {
        "errorMessage": {
          "type": "string",
          "description": "Output only. If the TestState is ERROR, then this string will contain human-readable details about the error."
        },
        "progressMessages": {
          "description": "Output only. Human-readable, detailed descriptions of the test's progress. For example: \"Provisioning a device\", \"Starting Test\". During the course of execution new data may be appended to the end of progress_messages.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "TestDetails"
    },
    "IntentFilter": {
      "type": "object",
      "description": "The section of an tag. https://developer.android.com/guide/topics/manifest/intent-filter-element.html",
      "id": "IntentFilter",
      "properties": {
        "actionNames": {
          "type": "array",
          "description": "The android:name value of the tag.",
          "items": {
            "type": "string"
          }
        },
        "categoryNames": {
          "description": "The android:name value of the tag.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "mimeType": {
          "type": "string",
          "description": "The android:mimeType value of the tag."
        }
      }
    },
    "StartActivityIntent": {
      "type": "object",
      "id": "StartActivityIntent",
      "properties": {
        "uri": {
          "description": "URI for the action.",
          "type": "string"
        },
        "action": {
          "description": "Action name. Required for START_ACTIVITY.",
          "type": "string"
        },
        "categories": {
          "type": "array",
          "description": "Intent categories to set on the intent.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "A starting intent specified by an action, uri, and categories."
    },
    "IosDevice": {
      "type": "object",
      "description": "A single iOS device.",
      "properties": {
        "orientation": {
          "description": "Required. How the device is oriented during the test. Use the TestEnvironmentDiscoveryService to get supported options.",
          "type": "string"
        },
        "locale": {
          "description": "Required. The locale the test device used for testing. Use the TestEnvironmentDiscoveryService to get supported options.",
          "type": "string"
        },
        "iosModelId": {
          "type": "string",
          "description": "Required. The id of the iOS device to be used. Use the TestEnvironmentDiscoveryService to get supported options."
        },
        "iosVersionId": {
          "description": "Required. The id of the iOS major software version to be used. Use the TestEnvironmentDiscoveryService to get supported options.",
          "type": "string"
        }
      },
      "id": "IosDevice"
    },
    "RoboStartingIntent": {
      "id": "RoboStartingIntent",
      "description": "Message for specifying the start activities to crawl.",
      "properties": {
        "launcherActivity": {
          "$ref": "LauncherActivityIntent",
          "description": "An intent that starts the main launcher activity."
        },
        "timeout": {
          "type": "string",
          "format": "google-duration",
          "description": "Timeout in seconds for each intent."
        },
        "startActivity": {
          "$ref": "StartActivityIntent",
          "description": "An intent that starts an activity with specific details."
        }
      },
      "type": "object"
    },
    "GoogleCloudStorage": {
      "properties": {
        "gcsPath": {
          "description": "Required. The path to a directory in GCS that will eventually contain the results for this test. The requesting user must have write access on the bucket in the supplied path.",
          "type": "string"
        }
      },
      "description": "A storage location within Google cloud storage (GCS).",
      "id": "GoogleCloudStorage",
      "type": "object"
    },
    "IosVersion": {
      "description": "An iOS version.",
      "type": "object",
      "id": "IosVersion",
      "properties": {
        "tags": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Tags for this dimension. Examples: \"default\", \"preview\", \"deprecated\"."
        },
        "supportedXcodeVersionIds": {
          "description": "The available Xcode versions for this version.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "minorVersion": {
          "description": "An integer representing the minor iOS version. Examples: \"1\", \"2\".",
          "format": "int32",
          "type": "integer"
        },
        "id": {
          "description": "An opaque id for this iOS version. Use this id to invoke the TestExecutionService.",
          "type": "string"
        },
        "majorVersion": {
          "format": "int32",
          "type": "integer",
          "description": "An integer representing the major iOS version. Examples: \"8\", \"9\"."
        }
      }
    },
    "TestSpecification": {
      "id": "TestSpecification",
      "description": "A description of how to run the test.",
      "type": "object",
      "properties": {
        "androidInstrumentationTest": {
          "$ref": "AndroidInstrumentationTest",
          "description": "An Android instrumentation test."
        },
        "disablePerformanceMetrics": {
          "type": "boolean",
          "description": "Disables performance metrics recording. May reduce test latency."
        },
        "disableVideoRecording": {
          "description": "Disables video recording. May reduce test latency.",
          "type": "boolean"
        },
        "testTimeout": {
          "type": "string",
          "description": "Max time a test execution is allowed to run before it is automatically cancelled. The default value is 5 min.",
          "format": "google-duration"
        },
        "androidRoboTest": {
          "$ref": "AndroidRoboTest",
          "description": "An Android robo test."
        },
        "iosTestLoop": {
          "$ref": "IosTestLoop",
          "description": "An iOS application with a test loop."
        },
        "iosTestSetup": {
          "$ref": "IosTestSetup",
          "description": "Test setup requirements for iOS."
        },
        "androidTestLoop": {
          "description": "An Android Application with a Test Loop.",
          "$ref": "AndroidTestLoop"
        },
        "iosXcTest": {
          "$ref": "IosXcTest",
          "description": "An iOS XCTest, via an .xctestrun file."
        },
        "testSetup": {
          "description": "Test setup requirements for Android e.g. files to install, bootstrap scripts.",
          "$ref": "TestSetup"
        }
      }
    },
    "TestSetup": {
      "properties": {
        "account": {
          "$ref": "Account",
          "description": "The device will be logged in on this account for the duration of the test."
        },
        "dontAutograntPermissions": {
          "type": "boolean",
          "description": "Whether to prevent all runtime permissions to be granted at app install"
        },
        "directoriesToPull": {
          "description": "List of directories on the device to upload to GCS at the end of the test; they must be absolute paths under /sdcard, /storage or /data/local/tmp. Path names are restricted to characters a-z A-Z 0-9 _ - . + and / Note: The paths /sdcard and /data will be made available and treated as implicit path substitutions. E.g. if /sdcard on a particular device does not map to external storage, the system will replace it with the external storage path prefix for that device.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "networkProfile": {
          "description": "The network traffic profile used for running the test. Available network profiles can be queried by using the NETWORK_CONFIGURATION environment type when calling TestEnvironmentDiscoveryService.GetTestEnvironmentCatalog.",
          "type": "string"
        },
        "environmentVariables": {
          "description": "Environment variables to set for the test (only applicable for instrumentation tests).",
          "type": "array",
          "items": {
            "$ref": "EnvironmentVariable"
          }
        },
        "systrace": {
          "description": "Deprecated: Systrace uses Python 2 which has been sunset 2020-01-01. Support of Systrace may stop at any time, at which point no Systrace file will be provided in the results. Systrace configuration for the run. If set a systrace will be taken, starting on test start and lasting for the configured duration. The systrace file thus obtained is put in the results bucket together with the other artifacts from the run.",
          "$ref": "SystraceSetup"
        },
        "filesToPush": {
          "items": {
            "$ref": "DeviceFile"
          },
          "type": "array",
          "description": "List of files to push to the device before starting the test."
        },
        "additionalApks": {
          "type": "array",
          "items": {
            "$ref": "Apk"
          },
          "description": "APKs to install in addition to those being directly tested. Currently capped at 100."
        }
      },
      "id": "TestSetup",
      "type": "object",
      "description": "A description of how to set up the Android device prior to running the test."
    },
    "TestTargetsForShard": {
      "properties": {
        "testTargets": {
          "items": {
            "type": "string"
          },
          "description": "Group of packages, classes, and/or test methods to be run for each shard. The targets need to be specified in AndroidJUnitRunner argument format. For example, \"package com.my.packages\" \"class com.my.package.MyClass\". The number of test_targets must be greater than 0.",
          "type": "array"
        }
      },
      "description": "Test targets for a shard.",
      "id": "TestTargetsForShard",
      "type": "object"
    },
    "RoboDirective": {
      "properties": {
        "actionType": {
          "description": "Required. The type of action that Robo should perform on the specified element.",
          "enumDescriptions": [
            "DO NOT USE. For proto versioning only.",
            "Direct Robo to click on the specified element. No-op if specified element is not clickable.",
            "Direct Robo to enter text on the specified element. No-op if specified element is not enabled or does not allow text entry.",
            "Direct Robo to ignore interactions with a specific element."
          ],
          "type": "string",
          "enum": [
            "ACTION_TYPE_UNSPECIFIED",
            "SINGLE_CLICK",
            "ENTER_TEXT",
            "IGNORE"
          ]
        },
        "inputText": {
          "description": "The text that Robo is directed to set. If left empty, the directive will be treated as a CLICK on the element matching the resource_name.",
          "type": "string"
        },
        "resourceName": {
          "type": "string",
          "description": "Required. The android resource name of the target UI element. For example, in Java: R.string.foo in xml: @string/foo Only the \"foo\" part is needed. Reference doc: https://developer.android.com/guide/topics/resources/accessing-resources.html"
        }
      },
      "type": "object",
      "id": "RoboDirective",
      "description": "Directs Robo to interact with a specific UI element if it is encountered during the crawl. Currently, Robo can perform text entry or element click."
    },
    "IosModel": {
      "properties": {
        "formFactor": {
          "enum": [
            "DEVICE_FORM_FACTOR_UNSPECIFIED",
            "PHONE",
            "TABLET",
            "WEARABLE"
          ],
          "type": "string",
          "description": "Whether this device is a phone, tablet, wearable, etc.",
          "enumDescriptions": [
            "Do not use. For proto versioning only.",
            "This device has the shape of a phone.",
            "This device has the shape of a tablet.",
            "This device has the shape of a watch or other wearable."
          ]
        },
        "screenY": {
          "description": "Screen size in the vertical (Y) dimension measured in pixels.",
          "format": "int32",
          "type": "integer"
        },
        "deviceCapabilities": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Device capabilities. Copied from https://developer.apple.com/library/archive/documentation/DeviceInformation/Reference/iOSDeviceCompatibility/DeviceCompatibilityMatrix/DeviceCompatibilityMatrix.html"
        },
        "id": {
          "description": "The unique opaque id for this model. Use this for invoking the TestExecutionService.",
          "type": "string"
        },
        "tags": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Tags for this dimension. Examples: \"default\", \"preview\", \"deprecated\"."
        },
        "supportedVersionIds": {
          "description": "The set of iOS major software versions this device supports.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "screenX": {
          "description": "Screen size in the horizontal (X) dimension measured in pixels.",
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "type": "string",
          "description": "The human-readable name for this device model. Examples: \"iPhone 4s\", \"iPad Mini 2\"."
        },
        "screenDensity": {
          "description": "Screen density in DPI.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "IosModel",
      "description": "A description of an iOS device tests may be run on.",
      "type": "object"
    },
    "Shard": {
      "type": "object",
      "id": "Shard",
      "properties": {
        "numShards": {
          "description": "Output only. The total number of shards.",
          "type": "integer",
          "format": "int32"
        },
        "testTargetsForShard": {
          "description": "Output only. Test targets for each shard. Only set for manual sharding.",
          "$ref": "TestTargetsForShard"
        },
        "shardIndex": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. The index of the shard among all the shards."
        }
      },
      "description": "Output only. Details about the shard."
    },
    "AndroidModel": {
      "description": "A description of an Android device tests may be run on.",
      "type": "object",
      "properties": {
        "lowFpsVideoRecording": {
          "type": "boolean",
          "description": "True if and only if tests with this model are recorded by stitching together screenshots. See use_low_spec_video_recording in device config."
        },
        "supportedAbis": {
          "items": {
            "type": "string"
          },
          "description": "The list of supported ABIs for this device. This corresponds to either android.os.Build.SUPPORTED_ABIS (for API level 21 and above) or android.os.Build.CPU_ABI/CPU_ABI2. The most preferred ABI is the first element in the list. Elements are optionally prefixed by \"version_id:\" (where version_id is the id of an AndroidVersion), denoting an ABI that is supported only on a particular version.",
          "type": "array"
        },
        "screenX": {
          "format": "int32",
          "description": "Screen size in the horizontal (X) dimension measured in pixels.",
          "type": "integer"
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Tags for this dimension. Examples: \"default\", \"preview\", \"deprecated\"."
        },
        "form": {
          "enum": [
            "DEVICE_FORM_UNSPECIFIED",
            "VIRTUAL",
            "PHYSICAL",
            "EMULATOR"
          ],
          "description": "Whether this device is virtual or physical.",
          "type": "string",
          "enumDescriptions": [
            "Do not use. For proto versioning only.",
            "Android virtual device using Compute Engine native virtualization. Firebase Test Lab only.",
            "Actual hardware.",
            "Android virtual device using emulator in nested virtualization. Equivalent to Android Studio."
          ]
        },
        "manufacturer": {
          "type": "string",
          "description": "The manufacturer of this device."
        },
        "screenY": {
          "format": "int32",
          "description": "Screen size in the vertical (Y) dimension measured in pixels.",
          "type": "integer"
        },
        "supportedVersionIds": {
          "description": "The set of Android versions this device supports.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "The human-readable marketing name for this device model. Examples: \"Nexus 5\", \"Galaxy S5\".",
          "type": "string"
        },
        "thumbnailUrl": {
          "description": "URL of a thumbnail image (photo) of the device.",
          "type": "string"
        },
        "screenDensity": {
          "description": "Screen density in DPI. This corresponds to ro.sf.lcd_density",
          "format": "int32",
          "type": "integer"
        },
        "id": {
          "description": "The unique opaque id for this model. Use this for invoking the TestExecutionService.",
          "type": "string"
        },
        "codename": {
          "type": "string",
          "description": "The name of the industrial design. This corresponds to android.os.Build.DEVICE."
        },
        "brand": {
          "description": "The company that this device is branded with. Example: \"Google\", \"Samsung\".",
          "type": "string"
        },
        "formFactor": {
          "description": "Whether this device is a phone, tablet, wearable, etc.",
          "enum": [
            "DEVICE_FORM_FACTOR_UNSPECIFIED",
            "PHONE",
            "TABLET",
            "WEARABLE"
          ],
          "enumDescriptions": [
            "Do not use. For proto versioning only.",
            "This device has the shape of a phone.",
            "This device has the shape of a tablet.",
            "This device has the shape of a watch or other wearable."
          ],
          "type": "string"
        }
      },
      "id": "AndroidModel"
    },
    "XcodeVersion": {
      "description": "An Xcode version that an iOS version is compatible with.",
      "properties": {
        "version": {
          "description": "The id for this version. Example: \"9.2\".",
          "type": "string"
        },
        "tags": {
          "description": "Tags for this Xcode version. Example: \"default\".",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "XcodeVersion",
      "type": "object"
    },
    "ToolResultsHistory": {
      "type": "object",
      "properties": {
        "projectId": {
          "description": "Required. The cloud project that owns the tool results history.",
          "type": "string"
        },
        "historyId": {
          "description": "Required. A tool results history ID.",
          "type": "string"
        }
      },
      "description": "Represents a tool results history resource.",
      "id": "ToolResultsHistory"
    },
    "EnvironmentMatrix": {
      "properties": {
        "androidDeviceList": {
          "$ref": "AndroidDeviceList",
          "description": "A list of Android devices; the test will be run only on the specified devices."
        },
        "androidMatrix": {
          "$ref": "AndroidMatrix",
          "description": "A matrix of Android devices."
        },
        "iosDeviceList": {
          "description": "A list of iOS devices.",
          "$ref": "IosDeviceList"
        }
      },
      "id": "EnvironmentMatrix",
      "description": "The matrix of environments in which the test is to be executed.",
      "type": "object"
    },
    "AndroidDevice": {
      "id": "AndroidDevice",
      "properties": {
        "locale": {
          "description": "Required. The locale the test device used for testing. Use the TestEnvironmentDiscoveryService to get supported options.",
          "type": "string"
        },
        "androidVersionId": {
          "type": "string",
          "description": "Required. The id of the Android OS version to be used. Use the TestEnvironmentDiscoveryService to get supported options."
        },
        "orientation": {
          "description": "Required. How the device is oriented during the test. Use the TestEnvironmentDiscoveryService to get supported options.",
          "type": "string"
        },
        "androidModelId": {
          "type": "string",
          "description": "Required. The id of the Android device to be used. Use the TestEnvironmentDiscoveryService to get supported options."
        }
      },
      "type": "object",
      "description": "A single Android device."
    },
    "IosDeviceFile": {
      "description": "A file or directory to install on the device before the test starts.",
      "id": "IosDeviceFile",
      "properties": {
        "devicePath": {
          "description": "Location of the file on the device, inside the app's sandboxed filesystem",
          "type": "string"
        },
        "content": {
          "description": "The source file",
          "$ref": "FileReference"
        },
        "bundleId": {
          "description": "The bundle id of the app where this file lives. iOS apps sandbox their own filesystem, so app files must specify which app installed on the device.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Account": {
      "type": "object",
      "description": "Identifies an account and how to log into it.",
      "id": "Account",
      "properties": {
        "googleAuto": {
          "$ref": "GoogleAuto",
          "description": "An automatic google login account."
        }
      }
    },
    "ClientInfoDetail": {
      "id": "ClientInfoDetail",
      "properties": {
        "value": {
          "description": "Required. The value of detailed client information.",
          "type": "string"
        },
        "key": {
          "description": "Required. The key of detailed client information.",
          "type": "string"
        }
      },
      "description": "Key-value pair of detailed information about the client which invoked the test. Examples: {'Version', '1.0'}, {'Release Track', 'BETA'}.",
      "type": "object"
    },
    "IosTestSetup": {
      "type": "object",
      "description": "A description of how to set up an iOS device prior to running the test.",
      "properties": {
        "networkProfile": {
          "type": "string",
          "description": "The network traffic profile used for running the test. Available network profiles can be queried by using the NETWORK_CONFIGURATION environment type when calling TestEnvironmentDiscoveryService.GetTestEnvironmentCatalog."
        },
        "pullDirectories": {
          "description": "List of directories on the device to upload to Cloud Storage at the end of the test. Directories should either be in a shared directory (such as /private/var/mobile/Media) or within an accessible directory inside the app's filesystem (such as /Documents) by specifying the bundle ID.",
          "type": "array",
          "items": {
            "$ref": "IosDeviceFile"
          }
        },
        "pushFiles": {
          "type": "array",
          "description": "List of files to push to the device before starting the test.",
          "items": {
            "$ref": "IosDeviceFile"
          }
        },
        "additionalIpas": {
          "type": "array",
          "description": "iOS apps to install in addition to those being directly tested.",
          "items": {
            "$ref": "FileReference"
          }
        }
      },
      "id": "IosTestSetup"
    },
    "AndroidTestLoop": {
      "type": "object",
      "id": "AndroidTestLoop",
      "properties": {
        "appBundle": {
          "description": "A multi-apk app bundle for the application under test.",
          "$ref": "AppBundle"
        },
        "appPackageId": {
          "type": "string",
          "description": "The java package for the application under test. The default is determined by examining the application's manifest."
        },
        "appApk": {
          "$ref": "FileReference",
          "description": "The APK for the application under test."
        },
        "scenarios": {
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "type": "array",
          "description": "The list of scenarios that should be run during the test. The default is all test loops, derived from the application's manifest."
        },
        "scenarioLabels": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of scenario labels that should be run during the test. The scenario labels should map to labels defined in the application's manifest. For example, player_experience and com.google.test.loops.player_experience add all of the loops labeled in the manifest with the com.google.test.loops.player_experience name to the execution. Scenarios can also be specified in the scenarios field."
        }
      },
      "description": "A test of an Android Application with a Test Loop. The intent \\ will be implicitly added, since Games is the only user of this api, for the time being."
    },
    "ApkManifest": {
      "properties": {
        "targetSdkVersion": {
          "format": "int32",
          "type": "integer",
          "description": "Specifies the API Level on which the application is designed to run."
        },
        "applicationLabel": {
          "type": "string",
          "description": "User-readable name for the application."
        },
        "packageName": {
          "description": "Full Java-style package name for this application, e.g. \"com.example.foo\".",
          "type": "string"
        },
        "usesPermission": {
          "items": {
            "type": "string"
          },
          "description": "Permissions declared to be used by the application",
          "type": "array"
        },
        "intentFilters": {
          "items": {
            "$ref": "IntentFilter"
          },
          "type": "array"
        },
        "versionCode": {
          "format": "int64",
          "type": "string",
          "description": "Version number used internally by the app."
        },
        "minSdkVersion": {
          "format": "int32",
          "description": "Minimum API level required for the application to run.",
          "type": "integer"
        },
        "versionName": {
          "type": "string",
          "description": "Version number shown to users."
        },
        "maxSdkVersion": {
          "type": "integer",
          "description": "Maximum API level on which the application is designed to run.",
          "format": "int32"
        }
      },
      "description": "An Android app manifest. See http://developer.android.com/guide/topics/manifest/manifest-intro.html",
      "type": "object",
      "id": "ApkManifest"
    },
    "AndroidMatrix": {
      "id": "AndroidMatrix",
      "properties": {
        "orientations": {
          "description": "Required. The set of orientations to test with. Use the TestEnvironmentDiscoveryService to get supported options.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "locales": {
          "items": {
            "type": "string"
          },
          "description": "Required. The set of locales the test device will enable for testing. Use the TestEnvironmentDiscoveryService to get supported options.",
          "type": "array"
        },
        "androidModelIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The ids of the set of Android device to be used. Use the TestEnvironmentDiscoveryService to get supported options."
        },
        "androidVersionIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The ids of the set of Android OS version to be used. Use the TestEnvironmentDiscoveryService to get supported options."
        }
      },
      "type": "object",
      "description": "A set of Android device configuration permutations is defined by the the cross-product of the given axes. Internally, the given AndroidMatrix will be expanded into a set of AndroidDevices. Only supported permutations will be instantiated. Invalid permutations (e.g., incompatible models/versions) are ignored."
    },
    "Locale": {
      "id": "Locale",
      "properties": {
        "name": {
          "type": "string",
          "description": "A human-friendly name for this language/locale. Example: \"English\"."
        },
        "region": {
          "type": "string",
          "description": "A human-friendly string representing the region for this locale. Example: \"United States\". Not present for every locale."
        },
        "tags": {
          "description": "Tags for this dimension. Example: \"default\".",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "id": {
          "description": "The id for this locale. Example: \"en_US\".",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A location/region designation for language."
    },
    "Distribution": {
      "id": "Distribution",
      "type": "object",
      "properties": {
        "measurementTime": {
          "description": "Output only. The time this distribution was measured.",
          "format": "google-datetime",
          "type": "string"
        },
        "marketShare": {
          "type": "number",
          "description": "Output only. The estimated fraction (0-1) of the total market with this configuration.",
          "format": "double"
        }
      },
      "description": "Data about the relative number of devices running a given configuration of the Android platform."
    },
    "TestMatrix": {
      "properties": {
        "resultStorage": {
          "$ref": "ResultStorage",
          "description": "Required. Where the results for the matrix are written."
        },
        "flakyTestAttempts": {
          "format": "int32",
          "type": "integer",
          "description": "The number of times a TestExecution should be re-attempted if one or more of its test cases fail for any reason. The maximum number of reruns allowed is 10. Default is 0, which implies no reruns."
        },
        "clientInfo": {
          "description": "Information about the client which invoked the test.",
          "$ref": "ClientInfo"
        },
        "projectId": {
          "type": "string",
          "description": "The cloud project that owns the test matrix."
        },
        "testSpecification": {
          "$ref": "TestSpecification",
          "description": "Required. How to run the test."
        },
        "outcomeSummary": {
          "type": "string",
          "enum": [
            "OUTCOME_SUMMARY_UNSPECIFIED",
            "SUCCESS",
            "FAILURE",
            "INCONCLUSIVE",
            "SKIPPED"
          ],
          "enumDescriptions": [
            "Do not use. For proto versioning only.",
            "The test matrix run was successful, for instance: - All the test cases passed. - Robo did not detect a crash of the application under test.",
            "A run failed, for instance: - One or more test case failed. - A test timed out. - The application under test crashed.",
            "Something unexpected happened. The run should still be considered unsuccessful but this is likely a transient problem and re-running the test might be successful.",
            "All tests were skipped, for instance: - All device configurations were incompatible."
          ],
          "description": "Output Only. The overall outcome of the test. Only set when the test matrix state is FINISHED."
        },
        "environmentMatrix": {
          "$ref": "EnvironmentMatrix",
          "description": "Required. The devices the tests are being executed on."
        },
        "invalidMatrixDetails": {
          "enumDescriptions": [
            "Do not use. For proto versioning only.",
            "The matrix is INVALID, but there are no further details available.",
            "The input app APK could not be parsed.",
            "The input test APK could not be parsed.",
            "The AndroidManifest.xml could not be found.",
            "The APK manifest does not declare a package name.",
            "The APK application ID (aka package name) is invalid. See also https://developer.android.com/studio/build/application-id",
            "The test package and app package are the same.",
            "The test apk does not declare an instrumentation.",
            "The input app apk does not have a signature.",
            "The test runner class specified by user or in the test APK's manifest file is not compatible with Android Test Orchestrator. Orchestrator is only compatible with AndroidJUnitRunner version 1.1 or higher. Orchestrator can be disabled by using DO_NOT_USE_ORCHESTRATOR OrchestratorOption.",
            "The test APK does not contain the test runner class specified by user or in the manifest file. This can be caused by either of the following reasons: - the user provided a runner class name that's incorrect, or - the test runner isn't built into the test APK (might be in the app APK instead).",
            "A main launcher activity could not be found.",
            "The app declares one or more permissions that are not allowed.",
            "There is a conflict in the provided robo_directives.",
            "There is at least one invalid resource name in the provided robo directives",
            "Invalid definition of action in the robo directives (e.g. a click or ignore action includes an input text field)",
            "There is no test loop intent filter, or the one that is given is not formatted correctly.",
            "The request contains a scenario label that was not declared in the manifest.",
            "There was an error when parsing a label's value.",
            "The request contains a scenario number that was not declared in the manifest.",
            "Device administrator applications are not allowed.",
            "The zipped XCTest was malformed. The zip did not contain a single .xctestrun file and the contents of the DerivedData/Build/Products directory.",
            "The zipped XCTest was built for the iOS simulator rather than for a physical device.",
            "The .xctestrun file did not specify any test targets.",
            "One or more of the test targets defined in the .xctestrun file specifies \"UseDestinationArtifacts\", which is disallowed.",
            "XC tests which run on physical devices must have \"IsAppHostedTestBundle\" == \"true\" in the xctestrun file.",
            "An Info.plist file in the XCTest zip could not be parsed.",
            "The APK is marked as \"testOnly\". Deprecated and not currently used.",
            "The input IPA could not be parsed.",
            "The application doesn't register the game loop URL scheme.",
            "The iOS application bundle (.app) couldn't be processed.",
            "APK contains no code. See also https://developer.android.com/guide/topics/manifest/application-element.html#code",
            "Either the provided input APK path was malformed, the APK file does not exist, or the user does not have permission to access the APK file.",
            "APK is built for a preview SDK which is unsupported",
            "The matrix expanded to contain too many executions."
          ],
          "type": "string",
          "enum": [
            "INVALID_MATRIX_DETAILS_UNSPECIFIED",
            "DETAILS_UNAVAILABLE",
            "MALFORMED_APK",
            "MALFORMED_TEST_APK",
            "NO_MANIFEST",
            "NO_PACKAGE_NAME",
            "INVALID_PACKAGE_NAME",
            "TEST_SAME_AS_APP",
            "NO_INSTRUMENTATION",
            "NO_SIGNATURE",
            "INSTRUMENTATION_ORCHESTRATOR_INCOMPATIBLE",
            "NO_TEST_RUNNER_CLASS",
            "NO_LAUNCHER_ACTIVITY",
            "FORBIDDEN_PERMISSIONS",
            "INVALID_ROBO_DIRECTIVES",
            "INVALID_RESOURCE_NAME",
            "INVALID_DIRECTIVE_ACTION",
            "TEST_LOOP_INTENT_FILTER_NOT_FOUND",
            "SCENARIO_LABEL_NOT_DECLARED",
            "SCENARIO_LABEL_MALFORMED",
            "SCENARIO_NOT_DECLARED",
            "DEVICE_ADMIN_RECEIVER",
            "MALFORMED_XC_TEST_ZIP",
            "BUILT_FOR_IOS_SIMULATOR",
            "NO_TESTS_IN_XC_TEST_ZIP",
            "USE_DESTINATION_ARTIFACTS",
            "TEST_NOT_APP_HOSTED",
            "PLIST_CANNOT_BE_PARSED",
            "TEST_ONLY_APK",
            "MALFORMED_IPA",
            "MISSING_URL_SCHEME",
            "MALFORMED_APP_BUNDLE",
            "NO_CODE_APK",
            "INVALID_INPUT_APK",
            "INVALID_APK_PREVIEW_SDK",
            "MATRIX_TOO_LARGE"
          ],
          "description": "Output only. Describes why the matrix is considered invalid. Only useful for matrices in the INVALID state."
        },
        "failFast": {
          "description": "If true, only a single attempt at most will be made to run each execution/shard in the matrix. Flaky test attempts are not affected. Normally, 2 or more attempts are made if a potential infrastructure issue is detected. This feature is for latency sensitive workloads. The incidence of execution failures may be significantly greater for fail-fast matrices and support is more limited because of that expectation.",
          "type": "boolean"
        },
        "testExecutions": {
          "description": "Output only. The list of test executions that the service creates for this matrix.",
          "items": {
            "$ref": "TestExecution"
          },
          "type": "array"
        },
        "testMatrixId": {
          "description": "Output only. Unique id set by the service.",
          "type": "string"
        },
        "timestamp": {
          "description": "Output only. The time this test matrix was initially created.",
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "enum": [
            "TEST_STATE_UNSPECIFIED",
            "VALIDATING",
            "PENDING",
            "RUNNING",
            "FINISHED",
            "ERROR",
            "UNSUPPORTED_ENVIRONMENT",
            "INCOMPATIBLE_ENVIRONMENT",
            "INCOMPATIBLE_ARCHITECTURE",
            "CANCELLED",
            "INVALID"
          ],
          "description": "Output only. Indicates the current progress of the test matrix.",
          "enumDescriptions": [
            "Do not use. For proto versioning only.",
            "The execution or matrix is being validated.",
            "The execution or matrix is waiting for resources to become available.",
            "The execution is currently being processed. Can only be set on an execution.",
            "The execution or matrix has terminated normally. On a matrix this means that the matrix level processing completed normally, but individual executions may be in an ERROR state.",
            "The execution or matrix has stopped because it encountered an infrastructure failure.",
            "The execution was not run because it corresponds to a unsupported environment. Can only be set on an execution.",
            "The execution was not run because the provided inputs are incompatible with the requested environment. Example: requested AndroidVersion is lower than APK's minSdkVersion Can only be set on an execution.",
            "The execution was not run because the provided inputs are incompatible with the requested architecture. Example: requested device does not support running the native code in the supplied APK Can only be set on an execution.",
            "The user cancelled the execution. Can only be set on an execution.",
            "The execution or matrix was not run because the provided inputs are not valid. Examples: input file is not of the expected type, is malformed/corrupt, or was flagged as malware"
          ],
          "type": "string"
        }
      },
      "description": "TestMatrix captures all details about a test. It contains the environment configuration, test specification, test executions and overall state and outcome.",
      "type": "object",
      "id": "TestMatrix"
    },
    "CancelTestMatrixResponse": {
      "description": "Response containing the current state of the specified test matrix.",
      "properties": {
        "testState": {
          "enumDescriptions": [
            "Do not use. For proto versioning only.",
            "The execution or matrix is being validated.",
            "The execution or matrix is waiting for resources to become available.",
            "The execution is currently being processed. Can only be set on an execution.",
            "The execution or matrix has terminated normally. On a matrix this means that the matrix level processing completed normally, but individual executions may be in an ERROR state.",
            "The execution or matrix has stopped because it encountered an infrastructure failure.",
            "The execution was not run because it corresponds to a unsupported environment. Can only be set on an execution.",
            "The execution was not run because the provided inputs are incompatible with the requested environment. Example: requested AndroidVersion is lower than APK's minSdkVersion Can only be set on an execution.",
            "The execution was not run because the provided inputs are incompatible with the requested architecture. Example: requested device does not support running the native code in the supplied APK Can only be set on an execution.",
            "The user cancelled the execution. Can only be set on an execution.",
            "The execution or matrix was not run because the provided inputs are not valid. Examples: input file is not of the expected type, is malformed/corrupt, or was flagged as malware"
          ],
          "type": "string",
          "enum": [
            "TEST_STATE_UNSPECIFIED",
            "VALIDATING",
            "PENDING",
            "RUNNING",
            "FINISHED",
            "ERROR",
            "UNSUPPORTED_ENVIRONMENT",
            "INCOMPATIBLE_ENVIRONMENT",
            "INCOMPATIBLE_ARCHITECTURE",
            "CANCELLED",
            "INVALID"
          ],
          "description": "The current rolled-up state of the test matrix. If this state is already final, then the cancelation request will have no effect."
        }
      },
      "id": "CancelTestMatrixResponse",
      "type": "object"
    },
    "Date": {
      "type": "object",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "id": "Date",
      "properties": {
        "year": {
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "format": "int32"
        },
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer",
          "format": "int32"
        },
        "day": {
          "type": "integer",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32"
        }
      }
    },
    "ApkDetail": {
      "id": "ApkDetail",
      "type": "object",
      "description": "Android application details based on application manifest and apk archive contents.",
      "properties": {
        "apkManifest": {
          "$ref": "ApkManifest"
        }
      }
    },
    "Environment": {
      "properties": {
        "androidDevice": {
          "$ref": "AndroidDevice",
          "description": "An Android device which must be used with an Android test."
        },
        "iosDevice": {
          "description": "An iOS device which must be used with an iOS test.",
          "$ref": "IosDevice"
        }
      },
      "description": "The environment in which the test is run.",
      "type": "object",
      "id": "Environment"
    },
    "TestExecution": {
      "description": "A single test executed in a single environment.",
      "type": "object",
      "properties": {
        "state": {
          "enum": [
            "TEST_STATE_UNSPECIFIED",
            "VALIDATING",
            "PENDING",
            "RUNNING",
            "FINISHED",
            "ERROR",
            "UNSUPPORTED_ENVIRONMENT",
            "INCOMPATIBLE_ENVIRONMENT",
            "INCOMPATIBLE_ARCHITECTURE",
            "CANCELLED",
            "INVALID"
          ],
          "type": "string",
          "enumDescriptions": [
            "Do not use. For proto versioning only.",
            "The execution or matrix is being validated.",
            "The execution or matrix is waiting for resources to become available.",
            "The execution is currently being processed. Can only be set on an execution.",
            "The execution or matrix has terminated normally. On a matrix this means that the matrix level processing completed normally, but individual executions may be in an ERROR state.",
            "The execution or matrix has stopped because it encountered an infrastructure failure.",
            "The execution was not run because it corresponds to a unsupported environment. Can only be set on an execution.",
            "The execution was not run because the provided inputs are incompatible with the requested environment. Example: requested AndroidVersion is lower than APK's minSdkVersion Can only be set on an execution.",
            "The execution was not run because the provided inputs are incompatible with the requested architecture. Example: requested device does not support running the native code in the supplied APK Can only be set on an execution.",
            "The user cancelled the execution. Can only be set on an execution.",
            "The execution or matrix was not run because the provided inputs are not valid. Examples: input file is not of the expected type, is malformed/corrupt, or was flagged as malware"
          ],
          "description": "Output only. Indicates the current progress of the test execution (e.g., FINISHED)."
        },
        "testDetails": {
          "$ref": "TestDetails",
          "description": "Output only. Additional details about the running test."
        },
        "id": {
          "description": "Output only. Unique id set by the service.",
          "type": "string"
        },
        "shard": {
          "$ref": "Shard",
          "description": "Output only. Details about the shard."
        },
        "projectId": {
          "description": "Output only. The cloud project that owns the test execution.",
          "type": "string"
        },
        "environment": {
          "description": "Output only. How the host machine(s) are configured.",
          "$ref": "Environment"
        },
        "testSpecification": {
          "description": "Output only. How to run the test.",
          "$ref": "TestSpecification"
        },
        "timestamp": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time this test execution was initially created."
        },
        "toolResultsStep": {
          "description": "Output only. Where the results for this execution are written.",
          "$ref": "ToolResultsStep"
        },
        "matrixId": {
          "type": "string",
          "description": "Output only. Id of the containing TestMatrix."
        }
      },
      "id": "TestExecution"
    },
    "Apk": {
      "description": "An Android package file to install.",
      "id": "Apk",
      "properties": {
        "location": {
          "$ref": "FileReference",
          "description": "The path to an APK to be installed on the device before the test begins."
        },
        "packageName": {
          "type": "string",
          "description": "The java package for the APK to be installed. Value is determined by examining the application's manifest."
        }
      },
      "type": "object"
    },
    "IosDeviceList": {
      "description": "A list of iOS device configurations in which the test is to be executed.",
      "properties": {
        "iosDevices": {
          "description": "Required. A list of iOS devices.",
          "items": {
            "$ref": "IosDevice"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "IosDeviceList"
    },
    "AndroidVersion": {
      "description": "A version of the Android OS.",
      "type": "object",
      "id": "AndroidVersion",
      "properties": {
        "releaseDate": {
          "description": "The date this Android version became available in the market.",
          "$ref": "Date"
        },
        "distribution": {
          "$ref": "Distribution",
          "description": "Market share for this version."
        },
        "tags": {
          "description": "Tags for this dimension. Examples: \"default\", \"preview\", \"deprecated\".",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "apiLevel": {
          "format": "int32",
          "type": "integer",
          "description": "The API level for this Android version. Examples: 18, 19."
        },
        "id": {
          "type": "string",
          "description": "An opaque id for this Android version. Use this id to invoke the TestExecutionService."
        },
        "codeName": {
          "type": "string",
          "description": "The code name for this Android version. Examples: \"JellyBean\", \"KitKat\"."
        },
        "versionString": {
          "description": "A string representing this version of the Android OS. Examples: \"4.3\", \"4.4\".",
          "type": "string"
        }
      }
    },
    "RegularFile": {
      "type": "object",
      "description": "A file or directory to install on the device before the test starts.",
      "properties": {
        "content": {
          "$ref": "FileReference",
          "description": "Required. The source file."
        },
        "devicePath": {
          "description": "Required. Where to put the content on the device. Must be an absolute, allowlisted path. If the file exists, it will be replaced. The following device-side directories and any of their subdirectories are allowlisted: ${EXTERNAL_STORAGE}, /sdcard, or /storage ${ANDROID_DATA}/local/tmp, or /data/local/tmp Specifying a path outside of these directory trees is invalid. The paths /sdcard and /data will be made available and treated as implicit path substitutions. E.g. if /sdcard on a particular device does not map to external storage, the system will replace it with the external storage path prefix for that device and copy the file there. It is strongly advised to use the Environment API in app and test code to access files on the device in a portable way.",
          "type": "string"
        }
      },
      "id": "RegularFile"
    },
    "NetworkConfiguration": {
      "properties": {
        "upRule": {
          "$ref": "TrafficRule",
          "description": "The emulation rule applying to the upload traffic."
        },
        "downRule": {
          "description": "The emulation rule applying to the download traffic.",
          "$ref": "TrafficRule"
        },
        "id": {
          "type": "string",
          "description": "The unique opaque id for this network traffic configuration."
        }
      },
      "id": "NetworkConfiguration",
      "type": "object"
    },
    "TestEnvironmentCatalog": {
      "id": "TestEnvironmentCatalog",
      "description": "A description of a test environment.",
      "type": "object",
      "properties": {
        "iosDeviceCatalog": {
          "$ref": "IosDeviceCatalog",
          "description": "Supported iOS devices."
        },
        "androidDeviceCatalog": {
          "description": "Supported Android devices.",
          "$ref": "AndroidDeviceCatalog"
        },
        "networkConfigurationCatalog": {
          "$ref": "NetworkConfigurationCatalog",
          "description": "Supported network configurations."
        },
        "softwareCatalog": {
          "$ref": "ProvidedSoftwareCatalog",
          "description": "The software test environment provided by TestExecutionService."
        },
        "deviceIpBlockCatalog": {
          "$ref": "DeviceIpBlockCatalog",
          "description": "The IP blocks used by devices in the test environment."
        }
      }
    },
    "Orientation": {
      "type": "object",
      "description": "Screen orientation of the device.",
      "id": "Orientation",
      "properties": {
        "id": {
          "description": "The id for this orientation. Example: \"portrait\".",
          "type": "string"
        },
        "tags": {
          "items": {
            "type": "string"
          },
          "description": "Tags for this dimension. Example: \"default\".",
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "A human-friendly name for this orientation. Example: \"portrait\"."
        }
      }
    }
  }
}
