{
  "basePath": "",
  "id": "toolresults:v1",
  "revision": "20200217",
  "documentationLink": "https://firebase.google.com/docs/test-lab/",
  "discoveryVersion": "v1",
  "version_module": true,
  "schemas": {
    "BlankScreen": {
      "type": "object",
      "properties": {
        "screenId": {
          "type": "string",
          "description": "The screen id of the element"
        }
      },
      "id": "BlankScreen",
      "description": "A warning that Robo encountered a screen that was mostly blank; this may\nindicate a problem with the app."
    },
    "EncounteredLoginScreen": {
      "id": "EncounteredLoginScreen",
      "description": "Additional details about encountered login screens.",
      "type": "object",
      "properties": {
        "distinctScreens": {
          "description": "Number of encountered distinct login screens.",
          "format": "int32",
          "type": "integer"
        },
        "screenIds": {
          "description": "Subset of login screens.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "PendingGoogleUpdateInsight": {
      "type": "object",
      "properties": {
        "nameOfGoogleLibrary": {
          "description": "The name of the Google-provided library with the non-SDK API dependency.",
          "type": "string"
        }
      },
      "id": "PendingGoogleUpdateInsight",
      "description": "This insight indicates that the hidden API usage originates from a\nGoogle-provided library. Users need not take any action."
    },
    "IosAppCrashed": {
      "id": "IosAppCrashed",
      "description": "Additional details for an iOS app crash.",
      "type": "object",
      "properties": {
        "stackTrace": {
          "description": "The stack trace, if one is available.\nOptional.",
          "$ref": "StackTrace"
        }
      }
    },
    "NativeCrash": {
      "type": "object",
      "properties": {
        "stackTrace": {
          "$ref": "StackTrace",
          "description": "The stack trace of the native crash.\nOptional."
        }
      },
      "id": "NativeCrash",
      "description": "Additional details for a native crash."
    },
    "NonSdkApiUsageViolationReport": {
      "id": "NonSdkApiUsageViolationReport",
      "description": "Contains a summary and examples of non-sdk API usage violations.",
      "type": "object",
      "properties": {
        "targetSdkVersion": {
          "description": "Specifies the API Level on which the application is designed to run.",
          "format": "int32",
          "type": "integer"
        },
        "exampleApis": {
          "type": "array",
          "items": {
            "$ref": "NonSdkApi"
          },
          "description": "Examples of the detected API usages."
        },
        "uniqueApis": {
          "description": "Total number of unique Non-SDK API's accessed.",
          "format": "int32",
          "type": "integer"
        },
        "minSdkVersion": {
          "description": "Minimum API level required for the application to run.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "PerformedGoogleLogin": {
      "type": "object",
      "properties": {},
      "id": "PerformedGoogleLogin",
      "description": "A notification that Robo signed in with Google."
    },
    "PerformedMonkeyActions": {
      "description": "A notification that Robo performed some monkey actions.",
      "type": "object",
      "properties": {
        "totalActions": {
          "type": "integer",
          "description": "The total number of monkey actions performed during the crawl.",
          "format": "int32"
        }
      },
      "id": "PerformedMonkeyActions"
    },
    "FatalException": {
      "description": "Additional details for a fatal exception.",
      "type": "object",
      "properties": {
        "stackTrace": {
          "$ref": "StackTrace",
          "description": "The stack trace of the fatal exception.\nOptional."
        }
      },
      "id": "FatalException"
    },
    "LauncherActivityNotFound": {
      "id": "LauncherActivityNotFound",
      "description": "Failed to find the launcher activity of an app.",
      "type": "object",
      "properties": {}
    },
    "UnusedRoboDirective": {
      "type": "object",
      "properties": {
        "resourceName": {
          "description": "The name of the resource that was unused.",
          "type": "string"
        }
      },
      "id": "UnusedRoboDirective",
      "description": "Additional details of an unused robodirective."
    },
    "NonSdkApi": {
      "type": "object",
      "properties": {
        "invocationCount": {
          "description": "The total number of times this API was observed to have been called.",
          "format": "int32",
          "type": "integer"
        },
        "exampleStackTraces": {
          "description": "Example stack traces of this API being called.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "apiSignature": {
          "description": "The signature of the Non-SDK API",
          "type": "string"
        },
        "list": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "NONE",
            "WHITE",
            "BLACK",
            "GREY",
            "GREY_MAX_O",
            "GREY_MAX_P",
            "GREY_MAX_Q"
          ],
          "description": "Which list this API appears on",
          "type": "string"
        },
        "insights": {
          "description": "Optional debugging insights for non-SDK API violations.",
          "type": "array",
          "items": {
            "$ref": "NonSdkApiInsight"
          }
        }
      },
      "id": "NonSdkApi",
      "description": "A non-sdk API and examples of it being called along with other metadata\nSee\nhttps://developer.android.com/distribute/best-practices/develop/restrictions-non-sdk-interfaces"
    },
    "UsedRoboDirective": {
      "description": "Additional details of a used Robo directive.",
      "type": "object",
      "properties": {
        "resourceName": {
          "description": "The name of the resource that was used.",
          "type": "string"
        }
      },
      "id": "UsedRoboDirective"
    },
    "CrashDialogError": {
      "description": "Crash dialog was detected during the test execution",
      "type": "object",
      "properties": {
        "crashPackage": {
          "description": "The name of the package that caused the dialog.",
          "type": "string"
        }
      },
      "id": "CrashDialogError"
    },
    "InsufficientCoverage": {
      "type": "object",
      "properties": {},
      "id": "InsufficientCoverage",
      "description": "A warning that Robo did not crawl potentially important parts of the app."
    },
    "NonSdkApiInsight": {
      "description": "Non-SDK API insights (to address debugging solutions).",
      "type": "object",
      "properties": {
        "pendingGoogleUpdateInsight": {
          "$ref": "PendingGoogleUpdateInsight",
          "description": "An insight indicating that the hidden API usage originates from a\nGoogle-provided library."
        },
        "upgradeInsight": {
          "$ref": "UpgradeInsight",
          "description": "An insight indicating that the hidden API usage originates from the\nuse of a library that needs to be upgraded."
        },
        "exampleTraceMessages": {
          "description": "Optional sample stack traces, for which this insight applies (there\nshould be at least one).",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "matcherId": {
          "type": "string",
          "description": "A unique ID, to be used for determining the effectiveness of this\nparticular insight in the context of a matcher. (required)"
        }
      },
      "id": "NonSdkApiInsight"
    },
    "UIElementTooDeep": {
      "type": "object",
      "properties": {
        "screenStateId": {
          "description": "The screen state id of the element",
          "type": "string"
        },
        "screenId": {
          "type": "string",
          "description": "The screen id of the element"
        },
        "depth": {
          "description": "The depth of the screen element",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "UIElementTooDeep",
      "description": "A warning that the screen hierarchy is deeper than the recommended threshold."
    },
    "UnspecifiedWarning": {
      "description": "Default unspecified warning.",
      "type": "object",
      "properties": {},
      "id": "UnspecifiedWarning"
    },
    "NonSdkApiUsageViolation": {
      "description": "Additional details for a non-sdk API usage violation.",
      "type": "object",
      "properties": {
        "uniqueApis": {
          "description": "Total number of unique hidden API's accessed.",
          "format": "int32",
          "type": "integer"
        },
        "apiSignatures": {
          "description": "Signatures of a subset of those hidden API's.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "NonSdkApiUsageViolation"
    },
    "UpgradeInsight": {
      "id": "UpgradeInsight",
      "description": "This insight is a recommendation to upgrade a given library to the specified\nversion, in order to avoid dependencies on non-SDK APIs.",
      "type": "object",
      "properties": {
        "upgradeToVersion": {
          "description": "The suggested version to upgrade to.\nOptional: In case we are not sure which version solves this problem",
          "type": "string"
        },
        "packageName": {
          "description": "The name of the package to be upgraded.",
          "type": "string"
        }
      }
    },
    "StartActivityNotFound": {
      "description": "User provided intent failed to resolve to an activity.",
      "type": "object",
      "properties": {
        "action": {
          "type": "string"
        },
        "uri": {
          "type": "string"
        }
      },
      "id": "StartActivityNotFound"
    },
    "AvailableDeepLinks": {
      "type": "object",
      "properties": {},
      "id": "AvailableDeepLinks",
      "description": "A suggestion to use deep links for a Robo run."
    },
    "InAppPurchasesFound": {
      "description": "Additional details of in-app purchases encountered during the crawl.",
      "type": "object",
      "properties": {
        "inAppPurchasesFlowsStarted": {
          "description": "The total number of in-app purchases flows started.",
          "format": "int32",
          "type": "integer"
        },
        "inAppPurchasesFlowsExplored": {
          "description": "The total number of in-app purchases flows explored: how many times the\nrobo tries to buy a SKU.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "InAppPurchasesFound"
    },
    "FailedToInstall": {
      "id": "FailedToInstall",
      "description": "Failed to install the APK.",
      "type": "object",
      "properties": {}
    },
    "RoboScriptExecution": {
      "description": "Execution stats for a user-provided Robo script.",
      "type": "object",
      "properties": {
        "totalActions": {
          "type": "integer",
          "description": "The total number of actions in the Robo script.",
          "format": "int32"
        },
        "successfulActions": {
          "description": "The number of Robo script actions executed successfully.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "RoboScriptExecution"
    },
    "ANR": {
      "type": "object",
      "properties": {
        "stackTrace": {
          "$ref": "StackTrace",
          "description": "The stack trace of the ANR crash.\nOptional."
        }
      },
      "id": "ANR",
      "description": "Additional details for an ANR crash."
    },
    "StackTrace": {
      "type": "object",
      "properties": {
        "exception": {
          "description": "The stack trace message.\n\nRequired",
          "type": "string"
        }
      },
      "id": "StackTrace",
      "description": "A stacktrace."
    },
    "UsedRoboIgnoreDirective": {
      "type": "object",
      "properties": {
        "resourceName": {
          "description": "The name of the resource that was ignored.",
          "type": "string"
        }
      },
      "id": "UsedRoboIgnoreDirective",
      "description": "Additional details of a used Robo directive with an ignore action.\nNote: This is a different scenario than unused directive."
    },
    "OverlappingUIElements": {
      "type": "object",
      "properties": {
        "screenId": {
          "type": "string",
          "description": "The screen id of the elements"
        },
        "resourceName": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Resource names of the overlapping screen elements"
        }
      },
      "id": "OverlappingUIElements",
      "description": "A warning that Robo encountered a screen that has overlapping clickable\nelements; this may indicate a potential UI issue."
    },
    "EncounteredNonAndroidUiWidgetScreen": {
      "description": "Additional details about encountered screens with elements that are not\nAndroid UI widgets.",
      "type": "object",
      "properties": {
        "distinctScreens": {
          "description": "Number of encountered distinct screens with non Android UI widgets.",
          "format": "int32",
          "type": "integer"
        },
        "screenIds": {
          "description": "Subset of screens which contain non Android UI widgets.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "EncounteredNonAndroidUiWidgetScreen"
    }
  },
  "protocol": "rest",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "canonicalName": "Tool Results",
  "rootUrl": "https://toolresults.googleapis.com/",
  "ownerDomain": "google.com",
  "name": "toolresults",
  "batchPath": "batch",
  "mtlsRootUrl": "https://toolresults.mtls.googleapis.com/",
  "title": "Cloud Tool Results API",
  "ownerName": "Google",
  "resources": {},
  "parameters": {
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "alt": {
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response."
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    }
  },
  "version": "v1",
  "baseUrl": "https://toolresults.googleapis.com/",
  "kind": "discovery#restDescription",
  "description": "API to publish and access results from developer tools.",
  "servicePath": ""
}
