{
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "servicePath": "",
  "ownerDomain": "google.com",
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "description": "This API converts video files into formats suitable for consumer distribution. For more information, see the Transcoder API overview. ",
  "id": "transcoder:v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "canonicalName": "Transcoder",
  "baseUrl": "https://transcoder.googleapis.com/",
  "basePath": "",
  "rootUrl": "https://transcoder.googleapis.com/",
  "documentationLink": "https://cloud.google.com/transcoder/docs/",
  "protocol": "rest",
  "revision": "20230308",
  "mtlsRootUrl": "https://transcoder.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "title": "Transcoder API",
  "discoveryVersion": "v1",
  "version_module": true,
  "schemas": {
    "BwdifConfig": {
      "type": "object",
      "description": "Bob Weaver Deinterlacing Filter Configuration.",
      "properties": {
        "mode": {
          "description": "Specifies the deinterlacing mode to adopt. The default is `send_frame`. Supported values: - `send_frame`: Output one frame for each frame - `send_field`: Output one frame for each field",
          "type": "string"
        },
        "deinterlaceAllFrames": {
          "description": "Deinterlace all frames rather than just the frames identified as interlaced. The default is `false`.",
          "type": "boolean"
        },
        "parity": {
          "type": "string",
          "description": "The picture field parity assumed for the input interlaced video. The default is `auto`. Supported values: - `tff`: Assume the top field is first - `bff`: Assume the bottom field is first - `auto`: Enable automatic detection of field parity"
        }
      },
      "id": "BwdifConfig"
    },
    "TextStream": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The name for this particular text stream that will be added to the HLS/DASH manifest. Not supported in MP4 files."
        },
        "codec": {
          "description": "The codec for this text stream. The default is `webvtt`. Supported text codecs: - `srt` - `ttml` - `cea608` - `cea708` - `webvtt`",
          "type": "string"
        },
        "mapping": {
          "type": "array",
          "items": {
            "$ref": "TextMapping"
          },
          "description": "The mapping for the `Job.edit_list` atoms with text `EditAtom.inputs`."
        },
        "languageCode": {
          "type": "string",
          "description": "The BCP-47 language code, such as `en-US` or `sr-Latn`. For more information, see https://www.unicode.org/reports/tr35/#Unicode_locale_identifier. Not supported in MP4 files."
        }
      },
      "id": "TextStream",
      "type": "object",
      "description": "Encoding of a text stream. For example, closed captions or subtitles."
    },
    "NormalizedCoordinate": {
      "type": "object",
      "properties": {
        "x": {
          "type": "number",
          "description": "Normalized x coordinate.",
          "format": "double"
        },
        "y": {
          "type": "number",
          "description": "Normalized y coordinate.",
          "format": "double"
        }
      },
      "description": "2D normalized coordinates. Default: `{0.0, 0.0}`",
      "id": "NormalizedCoordinate"
    },
    "Output": {
      "id": "Output",
      "description": "Location of output file(s) in a Cloud Storage bucket.",
      "type": "object",
      "properties": {
        "uri": {
          "description": "URI for the output file(s). For example, `gs://my-bucket/outputs/`. If empty, the value is populated from `Job.output_uri`. See [Supported input and output formats](https://cloud.google.com/transcoder/docs/concepts/supported-input-and-output-formats).",
          "type": "string"
        }
      }
    },
    "ElementaryStream": {
      "type": "object",
      "properties": {
        "audioStream": {
          "$ref": "AudioStream",
          "description": "Encoding of an audio stream."
        },
        "textStream": {
          "description": "Encoding of a text stream. For example, closed captions or subtitles.",
          "$ref": "TextStream"
        },
        "videoStream": {
          "description": "Encoding of a video stream.",
          "$ref": "VideoStream"
        },
        "key": {
          "description": "A unique key for this elementary stream.",
          "type": "string"
        }
      },
      "description": "Encoding of an input file such as an audio, video, or text track. Elementary streams must be packaged before mapping and sharing between different output formats.",
      "id": "ElementaryStream"
    },
    "SpriteSheet": {
      "description": "Sprite sheet configuration.",
      "id": "SpriteSheet",
      "properties": {
        "spriteHeightPixels": {
          "format": "int32",
          "type": "integer",
          "description": "Required. The height of sprite in pixels. Must be an even integer. To preserve the source aspect ratio, set the SpriteSheet.sprite_height_pixels field or the SpriteSheet.sprite_width_pixels field, but not both (the API will automatically calculate the missing field). For portrait videos that contain horizontal ASR and rotation metadata, provide the height, in pixels, per the horizontal ASR. The API calculates the width per the horizontal ASR. The API detects any rotation metadata and swaps the requested height and width for the output."
        },
        "interval": {
          "format": "google-duration",
          "type": "string",
          "description": "Starting from `0s`, create sprites at regular intervals. Specify the interval value in seconds."
        },
        "quality": {
          "description": "The quality of the generated sprite sheet. Enter a value between 1 and 100, where 1 is the lowest quality and 100 is the highest quality. The default is 100. A high quality value corresponds to a low image data compression ratio.",
          "format": "int32",
          "type": "integer"
        },
        "rowCount": {
          "description": "The maximum number of rows per sprite sheet. When the sprite sheet is full, a new sprite sheet is created. The default is 0, which indicates no maximum limit.",
          "format": "int32",
          "type": "integer"
        },
        "columnCount": {
          "format": "int32",
          "description": "The maximum number of sprites per row in a sprite sheet. The default is 0, which indicates no maximum limit.",
          "type": "integer"
        },
        "filePrefix": {
          "description": "Required. File name prefix for the generated sprite sheets. Each sprite sheet has an incremental 10-digit zero-padded suffix starting from 0 before the extension, such as `sprite_sheet0000000123.jpeg`.",
          "type": "string"
        },
        "totalCount": {
          "description": "Total number of sprites. Create the specified number of sprites distributed evenly across the timeline of the output media. The default is 100.",
          "format": "int32",
          "type": "integer"
        },
        "endTimeOffset": {
          "format": "google-duration",
          "type": "string",
          "description": "End time in seconds, relative to the output file timeline. When `end_time_offset` is not specified, the sprites are generated until the end of the output file."
        },
        "spriteWidthPixels": {
          "description": "Required. The width of sprite in pixels. Must be an even integer. To preserve the source aspect ratio, set the SpriteSheet.sprite_width_pixels field or the SpriteSheet.sprite_height_pixels field, but not both (the API will automatically calculate the missing field). For portrait videos that contain horizontal ASR and rotation metadata, provide the width, in pixels, per the horizontal ASR. The API calculates the height per the horizontal ASR. The API detects any rotation metadata and swaps the requested height and width for the output.",
          "type": "integer",
          "format": "int32"
        },
        "format": {
          "description": "Format type. The default is `jpeg`. Supported formats: - `jpeg`",
          "type": "string"
        },
        "startTimeOffset": {
          "type": "string",
          "format": "google-duration",
          "description": "Start time in seconds, relative to the output file timeline. Determines the first sprite to pick. The default is `0s`."
        }
      },
      "type": "object"
    },
    "Input": {
      "type": "object",
      "id": "Input",
      "properties": {
        "key": {
          "description": "A unique key for this input. Must be specified when using advanced mapping and edit lists.",
          "type": "string"
        },
        "uri": {
          "type": "string",
          "description": "URI of the media. Input files must be at least 5 seconds in duration and stored in Cloud Storage (for example, `gs://bucket/inputs/file.mp4`). If empty, the value is populated from `Job.input_uri`. See [Supported input and output formats](https://cloud.google.com/transcoder/docs/concepts/supported-input-and-output-formats)."
        },
        "preprocessingConfig": {
          "$ref": "PreprocessingConfig",
          "description": "Preprocessing configurations."
        }
      },
      "description": "Input asset."
    },
    "ListJobTemplatesResponse": {
      "id": "ListJobTemplatesResponse",
      "description": "Response message for `TranscoderService.ListJobTemplates`.",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of regions that could not be reached."
        },
        "jobTemplates": {
          "type": "array",
          "description": "List of job templates in the specified region.",
          "items": {
            "$ref": "JobTemplate"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The pagination token."
        }
      },
      "type": "object"
    },
    "Crop": {
      "id": "Crop",
      "properties": {
        "rightPixels": {
          "format": "int32",
          "description": "The number of pixels to crop from the right. The default is 0.",
          "type": "integer"
        },
        "topPixels": {
          "format": "int32",
          "type": "integer",
          "description": "The number of pixels to crop from the top. The default is 0."
        },
        "leftPixels": {
          "type": "integer",
          "description": "The number of pixels to crop from the left. The default is 0.",
          "format": "int32"
        },
        "bottomPixels": {
          "type": "integer",
          "description": "The number of pixels to crop from the bottom. The default is 0.",
          "format": "int32"
        }
      },
      "description": "Video cropping configuration for the input video. The cropped input video is scaled to match the output resolution.",
      "type": "object"
    },
    "Deinterlace": {
      "properties": {
        "bwdif": {
          "$ref": "BwdifConfig",
          "description": "Specifies the Bob Weaver Deinterlacing Filter Configuration."
        },
        "yadif": {
          "description": "Specifies the Yet Another Deinterlacing Filter Configuration.",
          "$ref": "YadifConfig"
        }
      },
      "type": "object",
      "id": "Deinterlace",
      "description": "Deinterlace configuration for input video."
    },
    "Deblock": {
      "id": "Deblock",
      "description": "Deblock preprocessing configuration. **Note:** This configuration is not supported.",
      "properties": {
        "strength": {
          "description": "Set strength of the deblocker. Enter a value between 0 and 1. The higher the value, the stronger the block removal. 0 is no deblocking. The default is 0.",
          "type": "number",
          "format": "double"
        },
        "enabled": {
          "description": "Enable deblocker. The default is `false`.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "Image": {
      "id": "Image",
      "properties": {
        "alpha": {
          "format": "double",
          "description": "Target image opacity. Valid values are from `1.0` (solid, default) to `0.0` (transparent), exclusive. Set this to a value greater than `0.0`.",
          "type": "number"
        },
        "uri": {
          "type": "string",
          "description": "Required. URI of the JPEG image in Cloud Storage. For example, `gs://bucket/inputs/image.jpeg`. JPEG is the only supported image type."
        },
        "resolution": {
          "description": "Normalized image resolution, based on output video resolution. Valid values: `0.0`–`1.0`. To respect the original image aspect ratio, set either `x` or `y` to `0.0`. To use the original image resolution, set both `x` and `y` to `0.0`.",
          "$ref": "NormalizedCoordinate"
        }
      },
      "description": "Overlaid jpeg image.",
      "type": "object"
    },
    "JobConfig": {
      "properties": {
        "overlays": {
          "type": "array",
          "description": "List of overlays on the output video, in descending Z-order.",
          "items": {
            "$ref": "Overlay"
          }
        },
        "muxStreams": {
          "type": "array",
          "description": "List of multiplexing settings for output streams.",
          "items": {
            "$ref": "MuxStream"
          }
        },
        "elementaryStreams": {
          "items": {
            "$ref": "ElementaryStream"
          },
          "description": "List of elementary streams.",
          "type": "array"
        },
        "pubsubDestination": {
          "$ref": "PubsubDestination",
          "description": "Destination on Pub/Sub."
        },
        "manifests": {
          "type": "array",
          "items": {
            "$ref": "Manifest"
          },
          "description": "List of output manifests."
        },
        "inputs": {
          "type": "array",
          "description": "List of input assets stored in Cloud Storage.",
          "items": {
            "$ref": "Input"
          }
        },
        "spriteSheets": {
          "description": "List of output sprite sheets. Spritesheets require at least one VideoStream in the Jobconfig.",
          "items": {
            "$ref": "SpriteSheet"
          },
          "type": "array"
        },
        "adBreaks": {
          "description": "List of ad breaks. Specifies where to insert ad break tags in the output manifests.",
          "type": "array",
          "items": {
            "$ref": "AdBreak"
          }
        },
        "editList": {
          "items": {
            "$ref": "EditAtom"
          },
          "type": "array",
          "description": "List of `Edit atom`s. Defines the ultimate timeline of the resulting file or manifest."
        },
        "output": {
          "$ref": "Output",
          "description": "Output configuration."
        }
      },
      "id": "JobConfig",
      "type": "object",
      "description": "Job configuration"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "Empty",
      "type": "object"
    },
    "Denoise": {
      "id": "Denoise",
      "properties": {
        "strength": {
          "format": "double",
          "description": "Set strength of the denoise. Enter a value between 0 and 1. The higher the value, the smoother the image. 0 is no denoising. The default is 0.",
          "type": "number"
        },
        "tune": {
          "type": "string",
          "description": "Set the denoiser mode. The default is `standard`. Supported denoiser modes: - `standard` - `grain`"
        }
      },
      "type": "object",
      "description": "Denoise preprocessing configuration. **Note:** This configuration is not supported."
    },
    "AnimationEnd": {
      "id": "AnimationEnd",
      "properties": {
        "startTimeOffset": {
          "type": "string",
          "description": "The time to end overlay object, in seconds. Default: 0",
          "format": "google-duration"
        }
      },
      "description": "End previous overlay animation from the video. Without AnimationEnd, the overlay object will keep the state of previous animation until the end of the video.",
      "type": "object"
    },
    "AnimationStatic": {
      "type": "object",
      "id": "AnimationStatic",
      "description": "Display static overlay object.",
      "properties": {
        "xy": {
          "$ref": "NormalizedCoordinate",
          "description": "Normalized coordinates based on output video resolution. Valid values: `0.0`–`1.0`. `xy` is the upper-left coordinate of the overlay object. For example, use the x and y coordinates {0,0} to position the top-left corner of the overlay animation in the top-left corner of the output video."
        },
        "startTimeOffset": {
          "description": "The time to start displaying the overlay object, in seconds. Default: 0",
          "format": "google-duration",
          "type": "string"
        }
      }
    },
    "EditAtom": {
      "id": "EditAtom",
      "type": "object",
      "properties": {
        "startTimeOffset": {
          "format": "google-duration",
          "description": "Start time in seconds for the atom, relative to the input file timeline. The default is `0s`.",
          "type": "string"
        },
        "inputs": {
          "type": "array",
          "description": "List of `Input.key`s identifying files that should be used in this atom. The listed `inputs` must have the same timeline.",
          "items": {
            "type": "string"
          }
        },
        "endTimeOffset": {
          "description": "End time in seconds for the atom, relative to the input file timeline. When `end_time_offset` is not specified, the `inputs` are used until the end of the atom.",
          "type": "string",
          "format": "google-duration"
        },
        "key": {
          "type": "string",
          "description": "A unique key for this atom. Must be specified when using advanced mapping."
        }
      },
      "description": "Edit atom."
    },
    "H265CodecSettings": {
      "type": "object",
      "properties": {
        "vbvSizeBits": {
          "description": "Size of the Video Buffering Verifier (VBV) buffer in bits. Must be greater than zero. The default is equal to `VideoStream.bitrate_bps`.",
          "type": "integer",
          "format": "int32"
        },
        "enableTwoPass": {
          "type": "boolean",
          "description": "Use two-pass encoding strategy to achieve better video quality. `VideoStream.rate_control_mode` must be `vbr`. The default is `false`."
        },
        "bFrameCount": {
          "description": "The number of consecutive B-frames. Must be greater than or equal to zero. Must be less than `VideoStream.gop_frame_count` if set. The default is 0.",
          "format": "int32",
          "type": "integer"
        },
        "bPyramid": {
          "description": "Allow B-pyramid for reference frame selection. This may not be supported on all decoders. The default is `false`.",
          "type": "boolean"
        },
        "preset": {
          "type": "string",
          "description": "Enforces the specified codec preset. The default is `veryfast`. The available options are [FFmpeg-compatible](https://trac.ffmpeg.org/wiki/Encode/H.265). Note that certain values for this field may cause the transcoder to override other fields you set in the `H265CodecSettings` message."
        },
        "widthPixels": {
          "type": "integer",
          "description": "The width of the video in pixels. Must be an even integer. When not specified, the width is adjusted to match the specified height and input aspect ratio. If both are omitted, the input width is used. For portrait videos that contain horizontal ASR and rotation metadata, provide the width, in pixels, per the horizontal ASR. The API calculates the height per the horizontal ASR. The API detects any rotation metadata and swaps the requested height and width for the output.",
          "format": "int32"
        },
        "tune": {
          "type": "string",
          "description": "Enforces the specified codec tune. The available options are [FFmpeg-compatible](https://trac.ffmpeg.org/wiki/Encode/H.265). Note that certain values for this field may cause the transcoder to override other fields you set in the `H265CodecSettings` message."
        },
        "allowOpenGop": {
          "type": "boolean",
          "description": "Specifies whether an open Group of Pictures (GOP) structure should be allowed or not. The default is `false`."
        },
        "bitrateBps": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The video bitrate in bits per second. The minimum value is 1,000. The maximum value is 800,000,000."
        },
        "heightPixels": {
          "format": "int32",
          "description": "The height of the video in pixels. Must be an even integer. When not specified, the height is adjusted to match the specified width and input aspect ratio. If both are omitted, the input height is used. For portrait videos that contain horizontal ASR and rotation metadata, provide the height, in pixels, per the horizontal ASR. The API calculates the width per the horizontal ASR. The API detects any rotation metadata and swaps the requested height and width for the output.",
          "type": "integer"
        },
        "aqStrength": {
          "description": "Specify the intensity of the adaptive quantizer (AQ). Must be between 0 and 1, where 0 disables the quantizer and 1 maximizes the quantizer. A higher value equals a lower bitrate but smoother image. The default is 0.",
          "format": "double",
          "type": "number"
        },
        "gopFrameCount": {
          "description": "Select the GOP size based on the specified frame count. Must be greater than zero.",
          "type": "integer",
          "format": "int32"
        },
        "profile": {
          "description": "Enforces the specified codec profile. The following profiles are supported: * 8-bit profiles * `main` (default) * `main-intra` * `mainstillpicture` * 10-bit profiles * `main10` (default) * `main10-intra` * `main422-10` * `main422-10-intra` * `main444-10` * `main444-10-intra` * 12-bit profiles * `main12` (default) * `main12-intra` * `main422-12` * `main422-12-intra` * `main444-12` * `main444-12-intra` The available options are [FFmpeg-compatible](https://x265.readthedocs.io/). Note that certain values for this field may cause the transcoder to override other fields you set in the `H265CodecSettings` message.",
          "type": "string"
        },
        "gopDuration": {
          "format": "google-duration",
          "description": "Select the GOP size based on the specified duration. The default is `3s`. Note that `gopDuration` must be less than or equal to [`segmentDuration`](#SegmentSettings), and [`segmentDuration`](#SegmentSettings) must be divisible by `gopDuration`.",
          "type": "string"
        },
        "frameRate": {
          "description": "Required. The target video frame rate in frames per second (FPS). Must be less than or equal to 120. Will default to the input frame rate if larger than the input frame rate. The API will generate an output FPS that is divisible by the input FPS, and smaller or equal to the target FPS. See [Calculating frame rate](https://cloud.google.com/transcoder/docs/concepts/frame-rate) for more information.",
          "type": "number",
          "format": "double"
        },
        "crfLevel": {
          "format": "int32",
          "description": "Target CRF level. Must be between 10 and 36, where 10 is the highest quality and 36 is the most efficient compression. The default is 21.",
          "type": "integer"
        },
        "vbvFullnessBits": {
          "type": "integer",
          "format": "int32",
          "description": "Initial fullness of the Video Buffering Verifier (VBV) buffer in bits. Must be greater than zero. The default is equal to 90% of `VideoStream.vbv_size_bits`."
        },
        "pixelFormat": {
          "description": "Pixel format to use. The default is `yuv420p`. Supported pixel formats: - `yuv420p` pixel format - `yuv422p` pixel format - `yuv444p` pixel format - `yuv420p10` 10-bit HDR pixel format - `yuv422p10` 10-bit HDR pixel format - `yuv444p10` 10-bit HDR pixel format - `yuv420p12` 12-bit HDR pixel format - `yuv422p12` 12-bit HDR pixel format - `yuv444p12` 12-bit HDR pixel format",
          "type": "string"
        },
        "rateControlMode": {
          "type": "string",
          "description": "Specify the `rate_control_mode`. The default is `vbr`. Supported rate control modes: - `vbr` - variable bitrate - `crf` - constant rate factor"
        }
      },
      "id": "H265CodecSettings",
      "description": "H265 codec settings."
    },
    "PreprocessingConfig": {
      "type": "object",
      "id": "PreprocessingConfig",
      "properties": {
        "pad": {
          "description": "Specify the video pad filter configuration.",
          "$ref": "Pad"
        },
        "color": {
          "description": "Color preprocessing configuration.",
          "$ref": "Color"
        },
        "deblock": {
          "$ref": "Deblock",
          "description": "Deblock preprocessing configuration."
        },
        "deinterlace": {
          "description": "Specify the video deinterlace configuration.",
          "$ref": "Deinterlace"
        },
        "audio": {
          "description": "Audio preprocessing configuration.",
          "$ref": "Audio"
        },
        "crop": {
          "$ref": "Crop",
          "description": "Specify the video cropping configuration."
        },
        "denoise": {
          "$ref": "Denoise",
          "description": "Denoise preprocessing configuration."
        }
      },
      "description": "Preprocessing configurations."
    },
    "YadifConfig": {
      "properties": {
        "parity": {
          "description": "The picture field parity assumed for the input interlaced video. The default is `auto`. Supported values: - `tff`: Assume the top field is first - `bff`: Assume the bottom field is first - `auto`: Enable automatic detection of field parity",
          "type": "string"
        },
        "disableSpatialInterlacing": {
          "type": "boolean",
          "description": "Disable spacial interlacing. The default is `false`."
        },
        "mode": {
          "type": "string",
          "description": "Specifies the deinterlacing mode to adopt. The default is `send_frame`. Supported values: - `send_frame`: Output one frame for each frame - `send_field`: Output one frame for each field"
        },
        "deinterlaceAllFrames": {
          "type": "boolean",
          "description": "Deinterlace all frames rather than just the frames identified as interlaced. The default is `false`."
        }
      },
      "id": "YadifConfig",
      "type": "object",
      "description": "Yet Another Deinterlacing Filter Configuration."
    },
    "Vp9CodecSettings": {
      "properties": {
        "rateControlMode": {
          "description": "Specify the `rate_control_mode`. The default is `vbr`. Supported rate control modes: - `vbr` - variable bitrate",
          "type": "string"
        },
        "frameRate": {
          "description": "Required. The target video frame rate in frames per second (FPS). Must be less than or equal to 120. Will default to the input frame rate if larger than the input frame rate. The API will generate an output FPS that is divisible by the input FPS, and smaller or equal to the target FPS. See [Calculating frame rate](https://cloud.google.com/transcoder/docs/concepts/frame-rate) for more information.",
          "type": "number",
          "format": "double"
        },
        "pixelFormat": {
          "description": "Pixel format to use. The default is `yuv420p`. Supported pixel formats: - `yuv420p` pixel format - `yuv422p` pixel format - `yuv444p` pixel format - `yuv420p10` 10-bit HDR pixel format - `yuv422p10` 10-bit HDR pixel format - `yuv444p10` 10-bit HDR pixel format - `yuv420p12` 12-bit HDR pixel format - `yuv422p12` 12-bit HDR pixel format - `yuv444p12` 12-bit HDR pixel format",
          "type": "string"
        },
        "bitrateBps": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The video bitrate in bits per second. The minimum value is 1,000. The maximum value is 480,000,000."
        },
        "heightPixels": {
          "format": "int32",
          "description": "The height of the video in pixels. Must be an even integer. When not specified, the height is adjusted to match the specified width and input aspect ratio. If both are omitted, the input height is used. For portrait videos that contain horizontal ASR and rotation metadata, provide the height, in pixels, per the horizontal ASR. The API calculates the width per the horizontal ASR. The API detects any rotation metadata and swaps the requested height and width for the output.",
          "type": "integer"
        },
        "crfLevel": {
          "type": "integer",
          "format": "int32",
          "description": "Target CRF level. Must be between 10 and 36, where 10 is the highest quality and 36 is the most efficient compression. The default is 21. **Note:** This field is not supported."
        },
        "gopFrameCount": {
          "description": "Select the GOP size based on the specified frame count. Must be greater than zero.",
          "type": "integer",
          "format": "int32"
        },
        "profile": {
          "type": "string",
          "description": "Enforces the specified codec profile. The following profiles are supported: * `profile0` (default) * `profile1` * `profile2` * `profile3` The available options are [WebM-compatible](https://www.webmproject.org/vp9/profiles/). Note that certain values for this field may cause the transcoder to override other fields you set in the `Vp9CodecSettings` message."
        },
        "widthPixels": {
          "type": "integer",
          "description": "The width of the video in pixels. Must be an even integer. When not specified, the width is adjusted to match the specified height and input aspect ratio. If both are omitted, the input width is used. For portrait videos that contain horizontal ASR and rotation metadata, provide the width, in pixels, per the horizontal ASR. The API calculates the height per the horizontal ASR. The API detects any rotation metadata and swaps the requested height and width for the output.",
          "format": "int32"
        },
        "gopDuration": {
          "description": "Select the GOP size based on the specified duration. The default is `3s`. Note that `gopDuration` must be less than or equal to [`segmentDuration`](#SegmentSettings), and [`segmentDuration`](#SegmentSettings) must be divisible by `gopDuration`.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Vp9CodecSettings",
      "description": "VP9 codec settings."
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "type": "array"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "AdBreak": {
      "properties": {
        "startTimeOffset": {
          "description": "Start time in seconds for the ad break, relative to the output file timeline. The default is `0s`.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Ad break.",
      "id": "AdBreak"
    },
    "JobTemplate": {
      "description": "Transcoding job template resource.",
      "type": "object",
      "id": "JobTemplate",
      "properties": {
        "config": {
          "description": "The configuration for this template.",
          "$ref": "JobConfig"
        },
        "name": {
          "type": "string",
          "description": "The resource name of the job template. Format: `projects/{project_number}/locations/{location}/jobTemplates/{job_template}`"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The labels associated with this job template. You can use these to organize and group your job templates."
        }
      }
    },
    "Color": {
      "properties": {
        "brightness": {
          "description": "Control brightness of the video. Enter a value between -1 and 1, where -1 is minimum brightness and 1 is maximum brightness. 0 is no change. The default is 0.",
          "type": "number",
          "format": "double"
        },
        "saturation": {
          "format": "double",
          "type": "number",
          "description": "Control color saturation of the video. Enter a value between -1 and 1, where -1 is fully desaturated and 1 is maximum saturation. 0 is no change. The default is 0."
        },
        "contrast": {
          "type": "number",
          "format": "double",
          "description": "Control black and white contrast of the video. Enter a value between -1 and 1, where -1 is minimum contrast and 1 is maximum contrast. 0 is no change. The default is 0."
        }
      },
      "description": "Color preprocessing configuration. **Note:** This configuration is not supported.",
      "id": "Color",
      "type": "object"
    },
    "VideoStream": {
      "type": "object",
      "properties": {
        "vp9": {
          "description": "VP9 codec settings.",
          "$ref": "Vp9CodecSettings"
        },
        "h265": {
          "description": "H265 codec settings.",
          "$ref": "H265CodecSettings"
        },
        "h264": {
          "$ref": "H264CodecSettings",
          "description": "H264 codec settings."
        }
      },
      "description": "Video stream resource.",
      "id": "VideoStream"
    },
    "Audio": {
      "description": "Audio preprocessing configuration.",
      "type": "object",
      "id": "Audio",
      "properties": {
        "lowBoost": {
          "description": "Enable boosting low frequency components. The default is `false`. **Note:** This field is not supported.",
          "type": "boolean"
        },
        "lufs": {
          "format": "double",
          "type": "number",
          "description": "Specify audio loudness normalization in loudness units relative to full scale (LUFS). Enter a value between -24 and 0 (the default), where: * -24 is the Advanced Television Systems Committee (ATSC A/85) standard * -23 is the EU R128 broadcast standard * -19 is the prior standard for online mono audio * -18 is the ReplayGain standard * -16 is the prior standard for stereo audio * -14 is the new online audio standard recommended by Spotify, as well as Amazon Echo * 0 disables normalization"
        },
        "highBoost": {
          "description": "Enable boosting high frequency components. The default is `false`. **Note:** This field is not supported.",
          "type": "boolean"
        }
      }
    },
    "Pad": {
      "description": "Pad filter configuration for the input video. The padded input video is scaled after padding with black to match the output resolution.",
      "id": "Pad",
      "properties": {
        "bottomPixels": {
          "description": "The number of pixels to add to the bottom. The default is 0.",
          "format": "int32",
          "type": "integer"
        },
        "topPixels": {
          "type": "integer",
          "format": "int32",
          "description": "The number of pixels to add to the top. The default is 0."
        },
        "leftPixels": {
          "format": "int32",
          "description": "The number of pixels to add to the left. The default is 0.",
          "type": "integer"
        },
        "rightPixels": {
          "format": "int32",
          "type": "integer",
          "description": "The number of pixels to add to the right. The default is 0."
        }
      },
      "type": "object"
    },
    "AnimationFade": {
      "description": "Display overlay object with fade animation.",
      "id": "AnimationFade",
      "type": "object",
      "properties": {
        "xy": {
          "description": "Normalized coordinates based on output video resolution. Valid values: `0.0`–`1.0`. `xy` is the upper-left coordinate of the overlay object. For example, use the x and y coordinates {0,0} to position the top-left corner of the overlay animation in the top-left corner of the output video.",
          "$ref": "NormalizedCoordinate"
        },
        "endTimeOffset": {
          "type": "string",
          "description": "The time to end the fade animation, in seconds. Default: `start_time_offset` + 1s",
          "format": "google-duration"
        },
        "fadeType": {
          "type": "string",
          "enumDescriptions": [
            "The fade type is not specified.",
            "Fade the overlay object into view.",
            "Fade the overlay object out of view."
          ],
          "description": "Required. Type of fade animation: `FADE_IN` or `FADE_OUT`.",
          "enum": [
            "FADE_TYPE_UNSPECIFIED",
            "FADE_IN",
            "FADE_OUT"
          ]
        },
        "startTimeOffset": {
          "format": "google-duration",
          "type": "string",
          "description": "The time to start the fade animation, in seconds. Default: 0"
        }
      }
    },
    "Job": {
      "description": "Transcoding job resource.",
      "id": "Job",
      "properties": {
        "state": {
          "enum": [
            "PROCESSING_STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ],
          "type": "string",
          "enumDescriptions": [
            "The processing state is not specified.",
            "The job is enqueued and will be picked up for processing soon.",
            "The job is being processed.",
            "The job has been completed successfully.",
            "The job has failed. For additional information, see `failure_reason` and `failure_details`"
          ],
          "readOnly": true,
          "description": "Output only. The current state of the job."
        },
        "outputUri": {
          "type": "string",
          "description": "Input only. Specify the `output_uri` to populate an empty `Job.config.output.uri` or `JobTemplate.config.output.uri` when using template. URI for the output file(s). For example, `gs://my-bucket/outputs/`. See [Supported input and output formats](https://cloud.google.com/transcoder/docs/concepts/supported-input-and-output-formats)."
        },
        "ttlAfterCompletionDays": {
          "type": "integer",
          "description": "Job time to live value in days, which will be effective after job completion. Job should be deleted automatically after the given TTL. Enter a value between 1 and 90. The default is 30.",
          "format": "int32"
        },
        "endTime": {
          "readOnly": true,
          "description": "Output only. The time the transcoding finished.",
          "format": "google-datetime",
          "type": "string"
        },
        "startTime": {
          "description": "Output only. The time the transcoding started.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the job was created."
        },
        "templateId": {
          "type": "string",
          "description": "Input only. Specify the `template_id` to use for populating `Job.config`. The default is `preset/web-hd`, which is the only supported preset. User defined JobTemplate: `{job_template_id}`"
        },
        "error": {
          "$ref": "Status",
          "description": "Output only. An error object that describes the reason for the failure. This property is always present when `state` is `FAILED`.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "The resource name of the job. Format: `projects/{project_number}/locations/{location}/jobs/{job}`"
        },
        "config": {
          "$ref": "JobConfig",
          "description": "The configuration for this job."
        },
        "labels": {
          "type": "object",
          "description": "The labels associated with this job. You can use these to organize and group your jobs.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "inputUri": {
          "description": "Input only. Specify the `input_uri` to populate empty `uri` fields in each element of `Job.config.inputs` or `JobTemplate.config.inputs` when using template. URI of the media. Input files must be at least 5 seconds in duration and stored in Cloud Storage (for example, `gs://bucket/inputs/file.mp4`). See [Supported input and output formats](https://cloud.google.com/transcoder/docs/concepts/supported-input-and-output-formats).",
          "type": "string"
        }
      },
      "type": "object"
    },
    "MuxStream": {
      "id": "MuxStream",
      "type": "object",
      "properties": {
        "segmentSettings": {
          "description": "Segment settings for `ts`, `fmp4` and `vtt`.",
          "$ref": "SegmentSettings"
        },
        "key": {
          "type": "string",
          "description": "A unique key for this multiplexed stream. HLS media manifests will be named `MuxStream.key` with the `.m3u8` extension suffix."
        },
        "fileName": {
          "description": "The name of the generated file. The default is `MuxStream.key` with the extension suffix corresponding to the `MuxStream.container`. Individual segments also have an incremental 10-digit zero-padded suffix starting from 0 before the extension, such as `mux_stream0000000123.ts`.",
          "type": "string"
        },
        "container": {
          "description": "The container format. The default is `mp4` Supported container formats: - `ts` - `fmp4`- the corresponding file extension is `.m4s` - `mp4` - `vtt` See also: [Supported input and output formats](https://cloud.google.com/transcoder/docs/concepts/supported-input-and-output-formats)",
          "type": "string"
        },
        "elementaryStreams": {
          "description": "List of `ElementaryStream.key`s multiplexed in this stream.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Multiplexing settings for output stream."
    },
    "H264CodecSettings": {
      "properties": {
        "preset": {
          "description": "Enforces the specified codec preset. The default is `veryfast`. The available options are [FFmpeg-compatible](https://trac.ffmpeg.org/wiki/Encode/H.264#Preset). Note that certain values for this field may cause the transcoder to override other fields you set in the `H264CodecSettings` message.",
          "type": "string"
        },
        "vbvFullnessBits": {
          "format": "int32",
          "description": "Initial fullness of the Video Buffering Verifier (VBV) buffer in bits. Must be greater than zero. The default is equal to 90% of `VideoStream.vbv_size_bits`.",
          "type": "integer"
        },
        "bitrateBps": {
          "description": "Required. The video bitrate in bits per second. The minimum value is 1,000. The maximum value is 800,000,000.",
          "type": "integer",
          "format": "int32"
        },
        "widthPixels": {
          "description": "The width of the video in pixels. Must be an even integer. When not specified, the width is adjusted to match the specified height and input aspect ratio. If both are omitted, the input width is used. For portrait videos that contain horizontal ASR and rotation metadata, provide the width, in pixels, per the horizontal ASR. The API calculates the height per the horizontal ASR. The API detects any rotation metadata and swaps the requested height and width for the output.",
          "type": "integer",
          "format": "int32"
        },
        "enableTwoPass": {
          "type": "boolean",
          "description": "Use two-pass encoding strategy to achieve better video quality. `VideoStream.rate_control_mode` must be `vbr`. The default is `false`."
        },
        "bPyramid": {
          "type": "boolean",
          "description": "Allow B-pyramid for reference frame selection. This may not be supported on all decoders. The default is `false`."
        },
        "frameRate": {
          "description": "Required. The target video frame rate in frames per second (FPS). Must be less than or equal to 120. Will default to the input frame rate if larger than the input frame rate. The API will generate an output FPS that is divisible by the input FPS, and smaller or equal to the target FPS. See [Calculating frame rate](https://cloud.google.com/transcoder/docs/concepts/frame-rate) for more information.",
          "format": "double",
          "type": "number"
        },
        "vbvSizeBits": {
          "type": "integer",
          "description": "Size of the Video Buffering Verifier (VBV) buffer in bits. Must be greater than zero. The default is equal to `VideoStream.bitrate_bps`.",
          "format": "int32"
        },
        "allowOpenGop": {
          "type": "boolean",
          "description": "Specifies whether an open Group of Pictures (GOP) structure should be allowed or not. The default is `false`."
        },
        "gopDuration": {
          "type": "string",
          "description": "Select the GOP size based on the specified duration. The default is `3s`. Note that `gopDuration` must be less than or equal to [`segmentDuration`](#SegmentSettings), and [`segmentDuration`](#SegmentSettings) must be divisible by `gopDuration`.",
          "format": "google-duration"
        },
        "aqStrength": {
          "description": "Specify the intensity of the adaptive quantizer (AQ). Must be between 0 and 1, where 0 disables the quantizer and 1 maximizes the quantizer. A higher value equals a lower bitrate but smoother image. The default is 0.",
          "type": "number",
          "format": "double"
        },
        "tune": {
          "description": "Enforces the specified codec tune. The available options are [FFmpeg-compatible](https://trac.ffmpeg.org/wiki/Encode/H.264#Tune). Note that certain values for this field may cause the transcoder to override other fields you set in the `H264CodecSettings` message.",
          "type": "string"
        },
        "pixelFormat": {
          "description": "Pixel format to use. The default is `yuv420p`. Supported pixel formats: - `yuv420p` pixel format - `yuv422p` pixel format - `yuv444p` pixel format - `yuv420p10` 10-bit HDR pixel format - `yuv422p10` 10-bit HDR pixel format - `yuv444p10` 10-bit HDR pixel format - `yuv420p12` 12-bit HDR pixel format - `yuv422p12` 12-bit HDR pixel format - `yuv444p12` 12-bit HDR pixel format",
          "type": "string"
        },
        "crfLevel": {
          "type": "integer",
          "description": "Target CRF level. Must be between 10 and 36, where 10 is the highest quality and 36 is the most efficient compression. The default is 21.",
          "format": "int32"
        },
        "rateControlMode": {
          "type": "string",
          "description": "Specify the `rate_control_mode`. The default is `vbr`. Supported rate control modes: - `vbr` - variable bitrate - `crf` - constant rate factor"
        },
        "gopFrameCount": {
          "format": "int32",
          "description": "Select the GOP size based on the specified frame count. Must be greater than zero.",
          "type": "integer"
        },
        "profile": {
          "description": "Enforces the specified codec profile. The following profiles are supported: * `baseline` * `main` * `high` (default) The available options are [FFmpeg-compatible](https://trac.ffmpeg.org/wiki/Encode/H.264#Tune). Note that certain values for this field may cause the transcoder to override other fields you set in the `H264CodecSettings` message.",
          "type": "string"
        },
        "entropyCoder": {
          "type": "string",
          "description": "The entropy coder to use. The default is `cabac`. Supported entropy coders: - `cavlc` - `cabac`"
        },
        "heightPixels": {
          "format": "int32",
          "type": "integer",
          "description": "The height of the video in pixels. Must be an even integer. When not specified, the height is adjusted to match the specified width and input aspect ratio. If both are omitted, the input height is used. For portrait videos that contain horizontal ASR and rotation metadata, provide the height, in pixels, per the horizontal ASR. The API calculates the width per the horizontal ASR. The API detects any rotation metadata and swaps the requested height and width for the output."
        },
        "bFrameCount": {
          "type": "integer",
          "description": "The number of consecutive B-frames. Must be greater than or equal to zero. Must be less than `VideoStream.gop_frame_count` if set. The default is 0.",
          "format": "int32"
        }
      },
      "id": "H264CodecSettings",
      "type": "object",
      "description": "H264 codec settings."
    },
    "Manifest": {
      "type": "object",
      "description": "Manifest configuration.",
      "id": "Manifest",
      "properties": {
        "muxStreams": {
          "type": "array",
          "description": "Required. List of user given `MuxStream.key`s that should appear in this manifest. When `Manifest.type` is `HLS`, a media manifest with name `MuxStream.key` and `.m3u8` extension is generated for each element of the `Manifest.mux_streams`.",
          "items": {
            "type": "string"
          }
        },
        "fileName": {
          "type": "string",
          "description": "The name of the generated file. The default is `manifest` with the extension suffix corresponding to the `Manifest.type`."
        },
        "type": {
          "enum": [
            "MANIFEST_TYPE_UNSPECIFIED",
            "HLS",
            "DASH"
          ],
          "type": "string",
          "description": "Required. Type of the manifest, can be `HLS` or `DASH`.",
          "enumDescriptions": [
            "The manifest type is not specified.",
            "Create `HLS` manifest. The corresponding file extension is `.m3u8`.",
            "Create `DASH` manifest. The corresponding file extension is `.mpd`."
          ]
        }
      }
    },
    "Overlay": {
      "properties": {
        "image": {
          "description": "Image overlay.",
          "$ref": "Image"
        },
        "animations": {
          "description": "List of Animations. The list should be chronological, without any time overlap.",
          "type": "array",
          "items": {
            "$ref": "Animation"
          }
        }
      },
      "type": "object",
      "description": "Overlay configuration.",
      "id": "Overlay"
    },
    "SegmentSettings": {
      "properties": {
        "individualSegments": {
          "description": "Required. Create an individual segment file. The default is `false`.",
          "type": "boolean"
        },
        "segmentDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "Duration of the segments in seconds. The default is `6.0s`. Note that `segmentDuration` must be greater than or equal to [`gopDuration`](#videostream), and `segmentDuration` must be divisible by [`gopDuration`](#videostream)."
        }
      },
      "type": "object",
      "description": "Segment settings for `ts`, `fmp4` and `vtt`.",
      "id": "SegmentSettings"
    },
    "TextMapping": {
      "properties": {
        "inputKey": {
          "type": "string",
          "description": "Required. The `Input.key` that identifies the input file."
        },
        "inputTrack": {
          "type": "integer",
          "description": "Required. The zero-based index of the track in the input file.",
          "format": "int32"
        },
        "atomKey": {
          "type": "string",
          "description": "Required. The `EditAtom.key` that references atom with text inputs in the `Job.edit_list`."
        }
      },
      "description": "The mapping for the `Job.edit_list` atoms with text `EditAtom.inputs`.",
      "id": "TextMapping",
      "type": "object"
    },
    "Animation": {
      "description": "Animation types.",
      "type": "object",
      "properties": {
        "animationStatic": {
          "description": "Display static overlay object.",
          "$ref": "AnimationStatic"
        },
        "animationEnd": {
          "$ref": "AnimationEnd",
          "description": "End previous animation."
        },
        "animationFade": {
          "$ref": "AnimationFade",
          "description": "Display overlay object with fade animation."
        }
      },
      "id": "Animation"
    },
    "AudioMapping": {
      "type": "object",
      "description": "The mapping for the `Job.edit_list` atoms with audio `EditAtom.inputs`.",
      "properties": {
        "gainDb": {
          "description": "Audio volume control in dB. Negative values decrease volume, positive values increase. The default is 0.",
          "type": "number",
          "format": "double"
        },
        "inputChannel": {
          "description": "Required. The zero-based index of the channel in the input audio stream.",
          "format": "int32",
          "type": "integer"
        },
        "inputKey": {
          "type": "string",
          "description": "Required. The `Input.key` that identifies the input file."
        },
        "outputChannel": {
          "description": "Required. The zero-based index of the channel in the output audio stream.",
          "type": "integer",
          "format": "int32"
        },
        "inputTrack": {
          "format": "int32",
          "type": "integer",
          "description": "Required. The zero-based index of the track in the input file."
        },
        "atomKey": {
          "type": "string",
          "description": "Required. The `EditAtom.key` that references the atom with audio inputs in the `Job.edit_list`."
        }
      },
      "id": "AudioMapping"
    },
    "PubsubDestination": {
      "description": "A Pub/Sub destination.",
      "type": "object",
      "properties": {
        "topic": {
          "description": "The name of the Pub/Sub topic to publish job completion notification to. For example: `projects/{project}/topics/{topic}`.",
          "type": "string"
        }
      },
      "id": "PubsubDestination"
    },
    "AudioStream": {
      "properties": {
        "channelLayout": {
          "description": "A list of channel names specifying layout of the audio channels. This only affects the metadata embedded in the container headers, if supported by the specified format. The default is `[\"fl\", \"fr\"]`. Supported channel names: - `fl` - Front left channel - `fr` - Front right channel - `sl` - Side left channel - `sr` - Side right channel - `fc` - Front center channel - `lfe` - Low frequency",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "languageCode": {
          "type": "string",
          "description": "The BCP-47 language code, such as `en-US` or `sr-Latn`. For more information, see https://www.unicode.org/reports/tr35/#Unicode_locale_identifier. Not supported in MP4 files."
        },
        "bitrateBps": {
          "type": "integer",
          "description": "Required. Audio bitrate in bits per second. Must be between 1 and 10,000,000.",
          "format": "int32"
        },
        "sampleRateHertz": {
          "description": "The audio sample rate in Hertz. The default is 48000 Hertz.",
          "format": "int32",
          "type": "integer"
        },
        "displayName": {
          "type": "string",
          "description": "The name for this particular audio stream that will be added to the HLS/DASH manifest. Not supported in MP4 files."
        },
        "mapping": {
          "type": "array",
          "items": {
            "$ref": "AudioMapping"
          },
          "description": "The mapping for the `Job.edit_list` atoms with audio `EditAtom.inputs`."
        },
        "channelCount": {
          "type": "integer",
          "description": "Number of audio channels. Must be between 1 and 6. The default is 2.",
          "format": "int32"
        },
        "codec": {
          "type": "string",
          "description": "The codec for this audio stream. The default is `aac`. Supported audio codecs: - `aac` - `aac-he` - `aac-he-v2` - `mp3` - `ac3` - `eac3`"
        }
      },
      "description": "Audio stream resource.",
      "id": "AudioStream",
      "type": "object"
    },
    "ListJobsResponse": {
      "description": "Response message for `TranscoderService.ListJobs`.",
      "id": "ListJobsResponse",
      "properties": {
        "unreachable": {
          "description": "List of regions that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The pagination token."
        },
        "jobs": {
          "type": "array",
          "items": {
            "$ref": "Job"
          },
          "description": "List of jobs in the specified region."
        }
      },
      "type": "object"
    }
  },
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "jobs": {
              "methods": {
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Job"
                  },
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "transcoder.projects.locations.jobs.get",
                  "description": "Returns the job data.",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+$",
                      "description": "Required. The name of the job to retrieve. Format: `projects/{project}/locations/{location}/jobs/{job}`",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}"
                },
                "list": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs",
                  "response": {
                    "$ref": "ListJobsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageSize": {
                      "description": "The maximum number of items to return.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. Format: `projects/{project}/locations/{location}`",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "orderBy": {
                      "location": "query",
                      "type": "string",
                      "description": "One or more fields to compare and use to sort the output. See https://google.aip.dev/132#ordering."
                    },
                    "pageToken": {
                      "description": "The `next_page_token` value returned from a previous List request, if any.",
                      "type": "string",
                      "location": "query"
                    },
                    "filter": {
                      "location": "query",
                      "description": "The filter expression, following the syntax outlined in https://google.aip.dev/160.",
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "description": "Lists jobs in the specified region.",
                  "path": "v1/{+parent}/jobs",
                  "id": "transcoder.projects.locations.jobs.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "create": {
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent location to create and process this job. Format: `projects/{project}/locations/{location}`",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "Job"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Job"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs",
                  "httpMethod": "POST",
                  "id": "transcoder.projects.locations.jobs.create",
                  "description": "Creates a job in the specified region.",
                  "path": "v1/{+parent}/jobs"
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "id": "transcoder.projects.locations.jobs.delete",
                  "description": "Deletes a job.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "allowMissing": {
                      "description": "If set to true, and the job is not found, the request will succeed but no action will be taken on the server.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "name": {
                      "required": true,
                      "location": "path",
                      "description": "Required. The name of the job to delete. Format: `projects/{project}/locations/{location}/jobs/{job}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+$",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Empty"
                  }
                }
              }
            },
            "jobTemplates": {
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "JobTemplate"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. The name of the job template to retrieve. Format: `projects/{project}/locations/{location}/jobTemplates/{job_template}`",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobTemplates/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobTemplates/{jobTemplatesId}",
                  "id": "transcoder.projects.locations.jobTemplates.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Returns the job template data.",
                  "path": "v1/{+name}"
                },
                "delete": {
                  "description": "Deletes a job template.",
                  "path": "v1/{+name}",
                  "id": "transcoder.projects.locations.jobTemplates.delete",
                  "httpMethod": "DELETE",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobTemplates/{jobTemplatesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "allowMissing": {
                      "type": "boolean",
                      "description": "If set to true, and the job template is not found, the request will succeed but no action will be taken on the server.",
                      "location": "query"
                    },
                    "name": {
                      "description": "Required. The name of the job template to delete. `projects/{project}/locations/{location}/jobTemplates/{job_template}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobTemplates/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "create": {
                  "response": {
                    "$ref": "JobTemplate"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobTemplates",
                  "description": "Creates a job template in the specified region.",
                  "request": {
                    "$ref": "JobTemplate"
                  },
                  "path": "v1/{+parent}/jobTemplates",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "id": "transcoder.projects.locations.jobTemplates.create",
                  "parameters": {
                    "jobTemplateId": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. The ID to use for the job template, which will become the final component of the job template's resource name. This value should be 4-63 characters, and valid characters must match the regular expression `a-zA-Z*`."
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. The parent location to create this job template. Format: `projects/{project}/locations/{location}`",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "list": {
                  "id": "transcoder.projects.locations.jobTemplates.list",
                  "parameters": {
                    "pageSize": {
                      "description": "The maximum number of items to return.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "The `next_page_token` value returned from a previous List request, if any."
                    },
                    "orderBy": {
                      "location": "query",
                      "type": "string",
                      "description": "One or more fields to compare and use to sort the output. See https://google.aip.dev/132#ordering."
                    },
                    "parent": {
                      "required": true,
                      "description": "Required. The parent location from which to retrieve the collection of job templates. Format: `projects/{project}/locations/{location}`",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "filter": {
                      "description": "The filter expression, following the syntax outlined in https://google.aip.dev/160.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListJobTemplatesResponse"
                  },
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/jobTemplates",
                  "description": "Lists job templates in the specified region.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobTemplates",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "parameters": {
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "alt": {
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    }
  },
  "version": "v1",
  "name": "transcoder",
  "batchPath": "batch"
}
