{
  "discoveryVersion": "v1",
  "description": "This API converts video files into formats suitable for consumer distribution. For more information, see the Transcoder API overview. ",
  "revision": "20221027",
  "documentationLink": "https://cloud.google.com/transcoder/docs/",
  "ownerName": "Google",
  "rootUrl": "https://transcoder.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "id": "transcoder:v1",
  "batchPath": "batch",
  "name": "transcoder",
  "parameters": {
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "location": "query",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    }
  },
  "basePath": "",
  "mtlsRootUrl": "https://transcoder.mtls.googleapis.com/",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "jobTemplates": {
              "methods": {
                "delete": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobTemplates/{jobTemplatesId}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobTemplates/[^/]+$",
                      "location": "path",
                      "description": "Required. The name of the job template to delete. `projects/{project}/locations/{location}/jobTemplates/{job_template}`"
                    },
                    "allowMissing": {
                      "description": "If set to true, and the job template is not found, the request will succeed but no action will be taken on the server.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "description": "Deletes a job template.",
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "transcoder.projects.locations.jobTemplates.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "id": "transcoder.projects.locations.jobTemplates.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "The `next_page_token` value returned from a previous List request, if any."
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent location from which to retrieve the collection of job templates. Format: `projects/{project}/locations/{location}`",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "The maximum number of items to return."
                    },
                    "orderBy": {
                      "type": "string",
                      "location": "query",
                      "description": "One or more fields to compare and use to sort the output. See https://google.aip.dev/132#ordering."
                    },
                    "filter": {
                      "description": "The filter expression, following the syntax outlined in https://google.aip.dev/160.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+parent}/jobTemplates",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListJobTemplatesResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobTemplates",
                  "description": "Lists job templates in the specified region.",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "get": {
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "transcoder.projects.locations.jobTemplates.get",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobTemplates/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the job template to retrieve. Format: `projects/{project}/locations/{location}/jobTemplates/{job_template}`"
                    }
                  },
                  "description": "Returns the job template data.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobTemplates/{jobTemplatesId}",
                  "response": {
                    "$ref": "JobTemplate"
                  }
                },
                "create": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobTemplates",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Creates a job template in the specified region.",
                  "parameters": {
                    "jobTemplateId": {
                      "description": "Required. The ID to use for the job template, which will become the final component of the job template's resource name. This value should be 4-63 characters, and valid characters must match the regular expression `a-zA-Z*`.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent location to create this job template. Format: `projects/{project}/locations/{location}`"
                    }
                  },
                  "id": "transcoder.projects.locations.jobTemplates.create",
                  "request": {
                    "$ref": "JobTemplate"
                  },
                  "response": {
                    "$ref": "JobTemplate"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/jobTemplates"
                }
              }
            },
            "jobs": {
              "methods": {
                "delete": {
                  "parameters": {
                    "allowMissing": {
                      "location": "query",
                      "description": "If set to true, and the job is not found, the request will succeed but no action will be taken on the server.",
                      "type": "boolean"
                    },
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+$",
                      "description": "Required. The name of the job to delete. Format: `projects/{project}/locations/{location}/jobs/{job}`"
                    }
                  },
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "transcoder.projects.locations.jobs.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}",
                  "description": "Deletes a job."
                },
                "list": {
                  "httpMethod": "GET",
                  "id": "transcoder.projects.locations.jobs.list",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "The maximum number of items to return.",
                      "type": "integer"
                    },
                    "parent": {
                      "description": "Required. Format: `projects/{project}/locations/{location}`",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "The filter expression, following the syntax outlined in https://google.aip.dev/160."
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The `next_page_token` value returned from a previous List request, if any."
                    },
                    "orderBy": {
                      "type": "string",
                      "description": "One or more fields to compare and use to sort the output. See https://google.aip.dev/132#ordering.",
                      "location": "query"
                    }
                  },
                  "path": "v1/{+parent}/jobs",
                  "response": {
                    "$ref": "ListJobsResponse"
                  },
                  "description": "Lists jobs in the specified region.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "create": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs",
                  "path": "v1/{+parent}/jobs",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. The parent location to create and process this job. Format: `projects/{project}/locations/{location}`"
                    }
                  },
                  "response": {
                    "$ref": "Job"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "Job"
                  },
                  "id": "transcoder.projects.locations.jobs.create",
                  "description": "Creates a job in the specified region.",
                  "httpMethod": "POST"
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}",
                  "id": "transcoder.projects.locations.jobs.get",
                  "description": "Returns the job data.",
                  "response": {
                    "$ref": "Job"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. The name of the job to retrieve. Format: `projects/{project}/locations/{location}/jobs/{job}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+$"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "baseUrl": "https://transcoder.googleapis.com/",
  "title": "Transcoder API",
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "fullyEncodeReservedExpansion": true,
  "canonicalName": "Transcoder",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version": "v1",
  "servicePath": "",
  "version_module": true,
  "schemas": {
    "AnimationFade": {
      "id": "AnimationFade",
      "description": "Display overlay object with fade animation.",
      "type": "object",
      "properties": {
        "xy": {
          "description": "Normalized coordinates based on output video resolution. Valid values: `0.0`–`1.0`. `xy` is the upper-left coordinate of the overlay object. For example, use the x and y coordinates {0,0} to position the top-left corner of the overlay animation in the top-left corner of the output video.",
          "$ref": "NormalizedCoordinate"
        },
        "endTimeOffset": {
          "type": "string",
          "format": "google-duration",
          "description": "The time to end the fade animation, in seconds. Default: `start_time_offset` + 1s"
        },
        "startTimeOffset": {
          "description": "The time to start the fade animation, in seconds. Default: 0",
          "type": "string",
          "format": "google-duration"
        },
        "fadeType": {
          "enum": [
            "FADE_TYPE_UNSPECIFIED",
            "FADE_IN",
            "FADE_OUT"
          ],
          "enumDescriptions": [
            "The fade type is not specified.",
            "Fade the overlay object into view.",
            "Fade the overlay object out of view."
          ],
          "description": "Required. Type of fade animation: `FADE_IN` or `FADE_OUT`.",
          "type": "string"
        }
      }
    },
    "TextMapping": {
      "properties": {
        "atomKey": {
          "description": "Required. The `EditAtom.key` that references atom with text inputs in the `Job.edit_list`.",
          "type": "string"
        },
        "inputKey": {
          "description": "Required. The `Input.key` that identifies the input file.",
          "type": "string"
        },
        "inputTrack": {
          "description": "Required. The zero-based index of the track in the input file.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "The mapping for the `Job.edit_list` atoms with text `EditAtom.inputs`.",
      "id": "TextMapping"
    },
    "PreprocessingConfig": {
      "id": "PreprocessingConfig",
      "type": "object",
      "description": "Preprocessing configurations.",
      "properties": {
        "audio": {
          "description": "Audio preprocessing configuration.",
          "$ref": "Audio"
        },
        "crop": {
          "description": "Specify the video cropping configuration.",
          "$ref": "Crop"
        },
        "denoise": {
          "description": "Denoise preprocessing configuration.",
          "$ref": "Denoise"
        },
        "pad": {
          "$ref": "Pad",
          "description": "Specify the video pad filter configuration."
        },
        "deinterlace": {
          "$ref": "Deinterlace",
          "description": "Specify the video deinterlace configuration."
        },
        "deblock": {
          "description": "Deblock preprocessing configuration.",
          "$ref": "Deblock"
        },
        "color": {
          "description": "Color preprocessing configuration.",
          "$ref": "Color"
        }
      }
    },
    "Vp9CodecSettings": {
      "type": "object",
      "properties": {
        "widthPixels": {
          "description": "The width of the video in pixels. Must be an even integer. When not specified, the width is adjusted to match the specified height and input aspect ratio. If both are omitted, the input width is used.",
          "format": "int32",
          "type": "integer"
        },
        "gopDuration": {
          "description": "Select the GOP size based on the specified duration. The default is `3s`. Note that `gopDuration` must be less than or equal to [`segmentDuration`](#SegmentSettings), and [`segmentDuration`](#SegmentSettings) must be divisible by `gopDuration`.",
          "format": "google-duration",
          "type": "string"
        },
        "gopFrameCount": {
          "format": "int32",
          "type": "integer",
          "description": "Select the GOP size based on the specified frame count. Must be greater than zero."
        },
        "rateControlMode": {
          "type": "string",
          "description": "Specify the `rate_control_mode`. The default is `vbr`. Supported rate control modes: - `vbr` - variable bitrate"
        },
        "heightPixels": {
          "format": "int32",
          "description": "The height of the video in pixels. Must be an even integer. When not specified, the height is adjusted to match the specified width and input aspect ratio. If both are omitted, the input height is used.",
          "type": "integer"
        },
        "crfLevel": {
          "description": "Target CRF level. Must be between 10 and 36, where 10 is the highest quality and 36 is the most efficient compression. The default is 21. **Note:** This field is not supported.",
          "type": "integer",
          "format": "int32"
        },
        "bitrateBps": {
          "format": "int32",
          "description": "Required. The video bitrate in bits per second. The minimum value is 1,000. The maximum value is 480,000,000.",
          "type": "integer"
        },
        "frameRate": {
          "format": "double",
          "type": "number",
          "description": "Required. The target video frame rate in frames per second (FPS). Must be less than or equal to 120. Will default to the input frame rate if larger than the input frame rate. The API will generate an output FPS that is divisible by the input FPS, and smaller or equal to the target FPS. See [Calculating frame rate](https://cloud.google.com/transcoder/docs/concepts/frame-rate) for more information."
        },
        "profile": {
          "type": "string",
          "description": "Enforces the specified codec profile. The following profiles are supported: * `profile0` (default) * `profile1` * `profile2` * `profile3` The available options are [WebM-compatible](https://www.webmproject.org/vp9/profiles/). Note that certain values for this field may cause the transcoder to override other fields you set in the `Vp9CodecSettings` message."
        },
        "pixelFormat": {
          "description": "Pixel format to use. The default is `yuv420p`. Supported pixel formats: - `yuv420p` pixel format - `yuv422p` pixel format - `yuv444p` pixel format - `yuv420p10` 10-bit HDR pixel format - `yuv422p10` 10-bit HDR pixel format - `yuv444p10` 10-bit HDR pixel format - `yuv420p12` 12-bit HDR pixel format - `yuv422p12` 12-bit HDR pixel format - `yuv444p12` 12-bit HDR pixel format",
          "type": "string"
        }
      },
      "id": "Vp9CodecSettings",
      "description": "VP9 codec settings."
    },
    "TextStream": {
      "description": "Encoding of a text stream. For example, closed captions or subtitles.",
      "type": "object",
      "properties": {
        "mapping": {
          "description": "The mapping for the `Job.edit_list` atoms with text `EditAtom.inputs`.",
          "items": {
            "$ref": "TextMapping"
          },
          "type": "array"
        },
        "codec": {
          "type": "string",
          "description": "The codec for this text stream. The default is `webvtt`. Supported text codecs: - `srt` - `ttml` - `cea608` - `cea708` - `webvtt`"
        }
      },
      "id": "TextStream"
    },
    "H264CodecSettings": {
      "properties": {
        "frameRate": {
          "description": "Required. The target video frame rate in frames per second (FPS). Must be less than or equal to 120. Will default to the input frame rate if larger than the input frame rate. The API will generate an output FPS that is divisible by the input FPS, and smaller or equal to the target FPS. See [Calculating frame rate](https://cloud.google.com/transcoder/docs/concepts/frame-rate) for more information.",
          "type": "number",
          "format": "double"
        },
        "tune": {
          "type": "string",
          "description": "Enforces the specified codec tune. The available options are [FFmpeg-compatible](https://trac.ffmpeg.org/wiki/Encode/H.264#Tune). Note that certain values for this field may cause the transcoder to override other fields you set in the `H264CodecSettings` message."
        },
        "bitrateBps": {
          "format": "int32",
          "type": "integer",
          "description": "Required. The video bitrate in bits per second. The minimum value is 1,000. The maximum value is 800,000,000."
        },
        "entropyCoder": {
          "type": "string",
          "description": "The entropy coder to use. The default is `cabac`. Supported entropy coders: - `cavlc` - `cabac`"
        },
        "gopFrameCount": {
          "type": "integer",
          "format": "int32",
          "description": "Select the GOP size based on the specified frame count. Must be greater than zero."
        },
        "profile": {
          "description": "Enforces the specified codec profile. The following profiles are supported: * `baseline` * `main` * `high` (default) The available options are [FFmpeg-compatible](https://trac.ffmpeg.org/wiki/Encode/H.264#Tune). Note that certain values for this field may cause the transcoder to override other fields you set in the `H264CodecSettings` message.",
          "type": "string"
        },
        "gopDuration": {
          "type": "string",
          "description": "Select the GOP size based on the specified duration. The default is `3s`. Note that `gopDuration` must be less than or equal to [`segmentDuration`](#SegmentSettings), and [`segmentDuration`](#SegmentSettings) must be divisible by `gopDuration`.",
          "format": "google-duration"
        },
        "preset": {
          "description": "Enforces the specified codec preset. The default is `veryfast`. The available options are [FFmpeg-compatible](https://trac.ffmpeg.org/wiki/Encode/H.264#Preset). Note that certain values for this field may cause the transcoder to override other fields you set in the `H264CodecSettings` message.",
          "type": "string"
        },
        "bFrameCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of consecutive B-frames. Must be greater than or equal to zero. Must be less than `VideoStream.gop_frame_count` if set. The default is 0."
        },
        "heightPixels": {
          "description": "The height of the video in pixels. Must be an even integer. When not specified, the height is adjusted to match the specified width and input aspect ratio. If both are omitted, the input height is used.",
          "format": "int32",
          "type": "integer"
        },
        "bPyramid": {
          "type": "boolean",
          "description": "Allow B-pyramid for reference frame selection. This may not be supported on all decoders. The default is `false`."
        },
        "aqStrength": {
          "description": "Specify the intensity of the adaptive quantizer (AQ). Must be between 0 and 1, where 0 disables the quantizer and 1 maximizes the quantizer. A higher value equals a lower bitrate but smoother image. The default is 0.",
          "format": "double",
          "type": "number"
        },
        "enableTwoPass": {
          "description": "Use two-pass encoding strategy to achieve better video quality. `VideoStream.rate_control_mode` must be `vbr`. The default is `false`.",
          "type": "boolean"
        },
        "vbvSizeBits": {
          "type": "integer",
          "format": "int32",
          "description": "Size of the Video Buffering Verifier (VBV) buffer in bits. Must be greater than zero. The default is equal to `VideoStream.bitrate_bps`."
        },
        "crfLevel": {
          "description": "Target CRF level. Must be between 10 and 36, where 10 is the highest quality and 36 is the most efficient compression. The default is 21.",
          "type": "integer",
          "format": "int32"
        },
        "allowOpenGop": {
          "description": "Specifies whether an open Group of Pictures (GOP) structure should be allowed or not. The default is `false`.",
          "type": "boolean"
        },
        "widthPixels": {
          "type": "integer",
          "description": "The width of the video in pixels. Must be an even integer. When not specified, the width is adjusted to match the specified height and input aspect ratio. If both are omitted, the input width is used.",
          "format": "int32"
        },
        "pixelFormat": {
          "description": "Pixel format to use. The default is `yuv420p`. Supported pixel formats: - `yuv420p` pixel format - `yuv422p` pixel format - `yuv444p` pixel format - `yuv420p10` 10-bit HDR pixel format - `yuv422p10` 10-bit HDR pixel format - `yuv444p10` 10-bit HDR pixel format - `yuv420p12` 12-bit HDR pixel format - `yuv422p12` 12-bit HDR pixel format - `yuv444p12` 12-bit HDR pixel format",
          "type": "string"
        },
        "rateControlMode": {
          "type": "string",
          "description": "Specify the `rate_control_mode`. The default is `vbr`. Supported rate control modes: - `vbr` - variable bitrate - `crf` - constant rate factor"
        },
        "vbvFullnessBits": {
          "format": "int32",
          "description": "Initial fullness of the Video Buffering Verifier (VBV) buffer in bits. Must be greater than zero. The default is equal to 90% of `VideoStream.vbv_size_bits`.",
          "type": "integer"
        }
      },
      "description": "H264 codec settings.",
      "id": "H264CodecSettings",
      "type": "object"
    },
    "AudioStream": {
      "description": "Audio stream resource.",
      "id": "AudioStream",
      "type": "object",
      "properties": {
        "bitrateBps": {
          "description": "Required. Audio bitrate in bits per second. Must be between 1 and 10,000,000.",
          "format": "int32",
          "type": "integer"
        },
        "mapping": {
          "type": "array",
          "items": {
            "$ref": "AudioMapping"
          },
          "description": "The mapping for the `Job.edit_list` atoms with audio `EditAtom.inputs`."
        },
        "channelLayout": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of channel names specifying layout of the audio channels. This only affects the metadata embedded in the container headers, if supported by the specified format. The default is `[\"fl\", \"fr\"]`. Supported channel names: - `fl` - Front left channel - `fr` - Front right channel - `sl` - Side left channel - `sr` - Side right channel - `fc` - Front center channel - `lfe` - Low frequency"
        },
        "codec": {
          "type": "string",
          "description": "The codec for this audio stream. The default is `aac`. Supported audio codecs: - `aac` - `aac-he` - `aac-he-v2` - `mp3` - `ac3` - `eac3`"
        },
        "channelCount": {
          "format": "int32",
          "description": "Number of audio channels. Must be between 1 and 6. The default is 2.",
          "type": "integer"
        },
        "sampleRateHertz": {
          "type": "integer",
          "format": "int32",
          "description": "The audio sample rate in Hertz. The default is 48000 Hertz."
        }
      }
    },
    "Job": {
      "description": "Transcoding job resource.",
      "id": "Job",
      "properties": {
        "outputUri": {
          "type": "string",
          "description": "Input only. Specify the `output_uri` to populate an empty `Job.config.output.uri` or `JobTemplate.config.output.uri` when using template. URI for the output file(s). For example, `gs://my-bucket/outputs/`. See [Supported input and output formats](https://cloud.google.com/transcoder/docs/concepts/supported-input-and-output-formats)."
        },
        "ttlAfterCompletionDays": {
          "type": "integer",
          "description": "Job time to live value in days, which will be effective after job completion. Job should be deleted automatically after the given TTL. Enter a value between 1 and 90. The default is 30.",
          "format": "int32"
        },
        "endTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the transcoding finished."
        },
        "templateId": {
          "type": "string",
          "description": "Input only. Specify the `template_id` to use for populating `Job.config`. The default is `preset/web-hd`. Preset Transcoder templates: - `preset/{preset_id}` - User defined JobTemplate: `{job_template_id}`"
        },
        "inputUri": {
          "type": "string",
          "description": "Input only. Specify the `input_uri` to populate empty `uri` fields in each element of `Job.config.inputs` or `JobTemplate.config.inputs` when using template. URI of the media. Input files must be at least 5 seconds in duration and stored in Cloud Storage (for example, `gs://bucket/inputs/file.mp4`). See [Supported input and output formats](https://cloud.google.com/transcoder/docs/concepts/supported-input-and-output-formats)."
        },
        "config": {
          "$ref": "JobConfig",
          "description": "The configuration for this job."
        },
        "state": {
          "enumDescriptions": [
            "The processing state is not specified.",
            "The job is enqueued and will be picked up for processing soon.",
            "The job is being processed.",
            "The job has been completed successfully.",
            "The job has failed. For additional information, see `failure_reason` and `failure_details`"
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "PROCESSING_STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ],
          "description": "Output only. The current state of the job."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The labels associated with this job. You can use these to organize and group your jobs."
        },
        "name": {
          "type": "string",
          "description": "The resource name of the job. Format: `projects/{project_number}/locations/{location}/jobs/{job}`"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the job was created.",
          "format": "google-datetime"
        },
        "startTime": {
          "readOnly": true,
          "description": "Output only. The time the transcoding started.",
          "type": "string",
          "format": "google-datetime"
        },
        "error": {
          "$ref": "Status",
          "description": "Output only. An error object that describes the reason for the failure. This property is always present when `state` is `FAILED`.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "Audio": {
      "description": "Audio preprocessing configuration.",
      "type": "object",
      "properties": {
        "lufs": {
          "description": "Specify audio loudness normalization in loudness units relative to full scale (LUFS). Enter a value between -24 and 0 (the default), where: * -24 is the Advanced Television Systems Committee (ATSC A/85) standard * -23 is the EU R128 broadcast standard * -19 is the prior standard for online mono audio * -18 is the ReplayGain standard * -16 is the prior standard for stereo audio * -14 is the new online audio standard recommended by Spotify, as well as Amazon Echo * 0 disables normalization",
          "type": "number",
          "format": "double"
        },
        "lowBoost": {
          "type": "boolean",
          "description": "Enable boosting low frequency components. The default is `false`. **Note:** This field is not supported."
        },
        "highBoost": {
          "type": "boolean",
          "description": "Enable boosting high frequency components. The default is `false`. **Note:** This field is not supported."
        }
      },
      "id": "Audio"
    },
    "VideoStream": {
      "id": "VideoStream",
      "description": "Video stream resource.",
      "properties": {
        "h265": {
          "description": "H265 codec settings.",
          "$ref": "H265CodecSettings"
        },
        "vp9": {
          "$ref": "Vp9CodecSettings",
          "description": "VP9 codec settings."
        },
        "h264": {
          "$ref": "H264CodecSettings",
          "description": "H264 codec settings."
        }
      },
      "type": "object"
    },
    "Overlay": {
      "id": "Overlay",
      "properties": {
        "animations": {
          "description": "List of Animations. The list should be chronological, without any time overlap.",
          "items": {
            "$ref": "Animation"
          },
          "type": "array"
        },
        "image": {
          "$ref": "Image",
          "description": "Image overlay."
        }
      },
      "description": "Overlay configuration.",
      "type": "object"
    },
    "NormalizedCoordinate": {
      "properties": {
        "x": {
          "type": "number",
          "description": "Normalized x coordinate.",
          "format": "double"
        },
        "y": {
          "description": "Normalized y coordinate.",
          "type": "number",
          "format": "double"
        }
      },
      "id": "NormalizedCoordinate",
      "type": "object",
      "description": "2D normalized coordinates. Default: `{0.0, 0.0}`"
    },
    "Image": {
      "properties": {
        "uri": {
          "type": "string",
          "description": "Required. URI of the JPEG image in Cloud Storage. For example, `gs://bucket/inputs/image.jpeg`. JPEG is the only supported image type."
        },
        "resolution": {
          "$ref": "NormalizedCoordinate",
          "description": "Normalized image resolution, based on output video resolution. Valid values: `0.0`–`1.0`. To respect the original image aspect ratio, set either `x` or `y` to `0.0`. To use the original image resolution, set both `x` and `y` to `0.0`."
        },
        "alpha": {
          "format": "double",
          "description": "Target image opacity. Valid values are from `1.0` (solid, default) to `0.0` (transparent), exclusive. Set this to a value greater than `0.0`.",
          "type": "number"
        }
      },
      "type": "object",
      "id": "Image",
      "description": "Overlaid jpeg image."
    },
    "Deblock": {
      "properties": {
        "strength": {
          "type": "number",
          "format": "double",
          "description": "Set strength of the deblocker. Enter a value between 0 and 1. The higher the value, the stronger the block removal. 0 is no deblocking. The default is 0."
        },
        "enabled": {
          "description": "Enable deblocker. The default is `false`.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "Deblock",
      "description": "Deblock preprocessing configuration. **Note:** This configuration is not supported."
    },
    "Crop": {
      "type": "object",
      "properties": {
        "bottomPixels": {
          "description": "The number of pixels to crop from the bottom. The default is 0.",
          "format": "int32",
          "type": "integer"
        },
        "leftPixels": {
          "format": "int32",
          "description": "The number of pixels to crop from the left. The default is 0.",
          "type": "integer"
        },
        "rightPixels": {
          "description": "The number of pixels to crop from the right. The default is 0.",
          "format": "int32",
          "type": "integer"
        },
        "topPixels": {
          "description": "The number of pixels to crop from the top. The default is 0.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "Crop",
      "description": "Video cropping configuration for the input video. The cropped input video is scaled to match the output resolution."
    },
    "Output": {
      "type": "object",
      "id": "Output",
      "description": "Location of output file(s) in a Cloud Storage bucket.",
      "properties": {
        "uri": {
          "type": "string",
          "description": "URI for the output file(s). For example, `gs://my-bucket/outputs/`. If empty, the value is populated from `Job.output_uri`. See [Supported input and output formats](https://cloud.google.com/transcoder/docs/concepts/supported-input-and-output-formats)."
        }
      }
    },
    "AdBreak": {
      "description": "Ad break.",
      "type": "object",
      "properties": {
        "startTimeOffset": {
          "description": "Start time in seconds for the ad break, relative to the output file timeline. The default is `0s`.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "id": "AdBreak"
    },
    "ListJobsResponse": {
      "type": "object",
      "id": "ListJobsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The pagination token."
        },
        "unreachable": {
          "type": "array",
          "description": "List of regions that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "jobs": {
          "items": {
            "$ref": "Job"
          },
          "type": "array",
          "description": "List of jobs in the specified region."
        }
      },
      "description": "Response message for `TranscoderService.ListJobs`."
    },
    "Deinterlace": {
      "properties": {
        "bwdif": {
          "description": "Specifies the Bob Weaver Deinterlacing Filter Configuration.",
          "$ref": "BwdifConfig"
        },
        "yadif": {
          "description": "Specifies the Yet Another Deinterlacing Filter Configuration.",
          "$ref": "YadifConfig"
        }
      },
      "id": "Deinterlace",
      "description": "Deinterlace configuration for input video.",
      "type": "object"
    },
    "AnimationStatic": {
      "properties": {
        "startTimeOffset": {
          "description": "The time to start displaying the overlay object, in seconds. Default: 0",
          "format": "google-duration",
          "type": "string"
        },
        "xy": {
          "description": "Normalized coordinates based on output video resolution. Valid values: `0.0`–`1.0`. `xy` is the upper-left coordinate of the overlay object. For example, use the x and y coordinates {0,0} to position the top-left corner of the overlay animation in the top-left corner of the output video.",
          "$ref": "NormalizedCoordinate"
        }
      },
      "id": "AnimationStatic",
      "description": "Display static overlay object.",
      "type": "object"
    },
    "Color": {
      "id": "Color",
      "description": "Color preprocessing configuration. **Note:** This configuration is not supported.",
      "properties": {
        "saturation": {
          "format": "double",
          "description": "Control color saturation of the video. Enter a value between -1 and 1, where -1 is fully desaturated and 1 is maximum saturation. 0 is no change. The default is 0.",
          "type": "number"
        },
        "contrast": {
          "type": "number",
          "format": "double",
          "description": "Control black and white contrast of the video. Enter a value between -1 and 1, where -1 is minimum contrast and 1 is maximum contrast. 0 is no change. The default is 0."
        },
        "brightness": {
          "format": "double",
          "description": "Control brightness of the video. Enter a value between -1 and 1, where -1 is minimum brightness and 1 is maximum brightness. 0 is no change. The default is 0.",
          "type": "number"
        }
      },
      "type": "object"
    },
    "JobTemplate": {
      "id": "JobTemplate",
      "properties": {
        "config": {
          "$ref": "JobConfig",
          "description": "The configuration for this template."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The labels associated with this job template. You can use these to organize and group your job templates."
        },
        "name": {
          "description": "The resource name of the job template. Format: `projects/{project_number}/locations/{location}/jobTemplates/{job_template}`",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Transcoding job template resource."
    },
    "SpriteSheet": {
      "id": "SpriteSheet",
      "properties": {
        "rowCount": {
          "type": "integer",
          "description": "The maximum number of rows per sprite sheet. When the sprite sheet is full, a new sprite sheet is created. The default is 0, which indicates no maximum limit.",
          "format": "int32"
        },
        "spriteHeightPixels": {
          "description": "Required. The height of sprite in pixels. Must be an even integer. To preserve the source aspect ratio, set the SpriteSheet.sprite_height_pixels field or the SpriteSheet.sprite_width_pixels field, but not both (the API will automatically calculate the missing field).",
          "format": "int32",
          "type": "integer"
        },
        "interval": {
          "format": "google-duration",
          "description": "Starting from `0s`, create sprites at regular intervals. Specify the interval value in seconds.",
          "type": "string"
        },
        "endTimeOffset": {
          "type": "string",
          "format": "google-duration",
          "description": "End time in seconds, relative to the output file timeline. When `end_time_offset` is not specified, the sprites are generated until the end of the output file."
        },
        "filePrefix": {
          "type": "string",
          "description": "Required. File name prefix for the generated sprite sheets. Each sprite sheet has an incremental 10-digit zero-padded suffix starting from 0 before the extension, such as `sprite_sheet0000000123.jpeg`."
        },
        "startTimeOffset": {
          "format": "google-duration",
          "description": "Start time in seconds, relative to the output file timeline. Determines the first sprite to pick. The default is `0s`.",
          "type": "string"
        },
        "quality": {
          "type": "integer",
          "description": "The quality of the generated sprite sheet. Enter a value between 1 and 100, where 1 is the lowest quality and 100 is the highest quality. The default is 100. A high quality value corresponds to a low image data compression ratio.",
          "format": "int32"
        },
        "spriteWidthPixels": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The width of sprite in pixels. Must be an even integer. To preserve the source aspect ratio, set the SpriteSheet.sprite_width_pixels field or the SpriteSheet.sprite_height_pixels field, but not both (the API will automatically calculate the missing field)."
        },
        "format": {
          "description": "Format type. The default is `jpeg`. Supported formats: - `jpeg`",
          "type": "string"
        },
        "totalCount": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of sprites. Create the specified number of sprites distributed evenly across the timeline of the output media. The default is 100."
        },
        "columnCount": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum number of sprites per row in a sprite sheet. The default is 0, which indicates no maximum limit."
        }
      },
      "type": "object",
      "description": "Sprite sheet configuration."
    },
    "AudioMapping": {
      "id": "AudioMapping",
      "type": "object",
      "description": "The mapping for the `Job.edit_list` atoms with audio `EditAtom.inputs`.",
      "properties": {
        "inputKey": {
          "type": "string",
          "description": "Required. The `Input.key` that identifies the input file."
        },
        "outputChannel": {
          "format": "int32",
          "type": "integer",
          "description": "Required. The zero-based index of the channel in the output audio stream."
        },
        "atomKey": {
          "type": "string",
          "description": "Required. The `EditAtom.key` that references the atom with audio inputs in the `Job.edit_list`."
        },
        "inputTrack": {
          "format": "int32",
          "description": "Required. The zero-based index of the track in the input file.",
          "type": "integer"
        },
        "inputChannel": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The zero-based index of the channel in the input audio stream."
        },
        "gainDb": {
          "type": "number",
          "format": "double",
          "description": "Audio volume control in dB. Negative values decrease volume, positive values increase. The default is 0."
        }
      }
    },
    "JobConfig": {
      "type": "object",
      "properties": {
        "elementaryStreams": {
          "items": {
            "$ref": "ElementaryStream"
          },
          "type": "array",
          "description": "List of elementary streams."
        },
        "output": {
          "description": "Output configuration.",
          "$ref": "Output"
        },
        "spriteSheets": {
          "items": {
            "$ref": "SpriteSheet"
          },
          "type": "array",
          "description": "List of output sprite sheets. Spritesheets require at least one VideoStream in the Jobconfig."
        },
        "editList": {
          "type": "array",
          "items": {
            "$ref": "EditAtom"
          },
          "description": "List of `Edit atom`s. Defines the ultimate timeline of the resulting file or manifest."
        },
        "inputs": {
          "description": "List of input assets stored in Cloud Storage.",
          "type": "array",
          "items": {
            "$ref": "Input"
          }
        },
        "adBreaks": {
          "description": "List of ad breaks. Specifies where to insert ad break tags in the output manifests.",
          "type": "array",
          "items": {
            "$ref": "AdBreak"
          }
        },
        "overlays": {
          "description": "List of overlays on the output video, in descending Z-order.",
          "type": "array",
          "items": {
            "$ref": "Overlay"
          }
        },
        "muxStreams": {
          "items": {
            "$ref": "MuxStream"
          },
          "description": "List of multiplexing settings for output streams.",
          "type": "array"
        },
        "pubsubDestination": {
          "$ref": "PubsubDestination",
          "description": "Destination on Pub/Sub."
        },
        "manifests": {
          "description": "List of output manifests.",
          "type": "array",
          "items": {
            "$ref": "Manifest"
          }
        }
      },
      "id": "JobConfig",
      "description": "Job configuration"
    },
    "PubsubDestination": {
      "id": "PubsubDestination",
      "properties": {
        "topic": {
          "type": "string",
          "description": "The name of the Pub/Sub topic to publish job completion notification to. For example: `projects/{project}/topics/{topic}`."
        }
      },
      "type": "object",
      "description": "A Pub/Sub destination."
    },
    "YadifConfig": {
      "id": "YadifConfig",
      "properties": {
        "parity": {
          "description": "The picture field parity assumed for the input interlaced video. The default is `auto`. Supported values: - `tff`: Assume the top field is first - `bff`: Assume the bottom field is first - `auto`: Enable automatic detection of field parity",
          "type": "string"
        },
        "disableSpatialInterlacing": {
          "type": "boolean",
          "description": "Disable spacial interlacing. The default is `false`."
        },
        "deinterlaceAllFrames": {
          "description": "Deinterlace all frames rather than just the frames identified as interlaced. The default is `false`.",
          "type": "boolean"
        },
        "mode": {
          "type": "string",
          "description": "Specifies the deinterlacing mode to adopt. The default is `send_frame`. Supported values: - `send_frame`: Output one frame for each frame - `send_field`: Output one frame for each field"
        }
      },
      "type": "object",
      "description": "Yet Another Deinterlacing Filter Configuration."
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "Status": {
      "properties": {
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "type": "array"
        }
      },
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object"
    },
    "H265CodecSettings": {
      "properties": {
        "bitrateBps": {
          "format": "int32",
          "type": "integer",
          "description": "Required. The video bitrate in bits per second. The minimum value is 1,000. The maximum value is 800,000,000."
        },
        "allowOpenGop": {
          "description": "Specifies whether an open Group of Pictures (GOP) structure should be allowed or not. The default is `false`.",
          "type": "boolean"
        },
        "gopFrameCount": {
          "type": "integer",
          "description": "Select the GOP size based on the specified frame count. Must be greater than zero.",
          "format": "int32"
        },
        "gopDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "Select the GOP size based on the specified duration. The default is `3s`. Note that `gopDuration` must be less than or equal to [`segmentDuration`](#SegmentSettings), and [`segmentDuration`](#SegmentSettings) must be divisible by `gopDuration`."
        },
        "heightPixels": {
          "format": "int32",
          "type": "integer",
          "description": "The height of the video in pixels. Must be an even integer. When not specified, the height is adjusted to match the specified width and input aspect ratio. If both are omitted, the input height is used."
        },
        "enableTwoPass": {
          "description": "Use two-pass encoding strategy to achieve better video quality. `VideoStream.rate_control_mode` must be `vbr`. The default is `false`.",
          "type": "boolean"
        },
        "bPyramid": {
          "description": "Allow B-pyramid for reference frame selection. This may not be supported on all decoders. The default is `false`.",
          "type": "boolean"
        },
        "widthPixels": {
          "type": "integer",
          "format": "int32",
          "description": "The width of the video in pixels. Must be an even integer. When not specified, the width is adjusted to match the specified height and input aspect ratio. If both are omitted, the input width is used."
        },
        "rateControlMode": {
          "description": "Specify the `rate_control_mode`. The default is `vbr`. Supported rate control modes: - `vbr` - variable bitrate - `crf` - constant rate factor",
          "type": "string"
        },
        "aqStrength": {
          "description": "Specify the intensity of the adaptive quantizer (AQ). Must be between 0 and 1, where 0 disables the quantizer and 1 maximizes the quantizer. A higher value equals a lower bitrate but smoother image. The default is 0.",
          "format": "double",
          "type": "number"
        },
        "pixelFormat": {
          "type": "string",
          "description": "Pixel format to use. The default is `yuv420p`. Supported pixel formats: - `yuv420p` pixel format - `yuv422p` pixel format - `yuv444p` pixel format - `yuv420p10` 10-bit HDR pixel format - `yuv422p10` 10-bit HDR pixel format - `yuv444p10` 10-bit HDR pixel format - `yuv420p12` 12-bit HDR pixel format - `yuv422p12` 12-bit HDR pixel format - `yuv444p12` 12-bit HDR pixel format"
        },
        "vbvSizeBits": {
          "description": "Size of the Video Buffering Verifier (VBV) buffer in bits. Must be greater than zero. The default is equal to `VideoStream.bitrate_bps`.",
          "type": "integer",
          "format": "int32"
        },
        "preset": {
          "description": "Enforces the specified codec preset. The default is `veryfast`. The available options are [FFmpeg-compatible](https://trac.ffmpeg.org/wiki/Encode/H.265). Note that certain values for this field may cause the transcoder to override other fields you set in the `H265CodecSettings` message.",
          "type": "string"
        },
        "vbvFullnessBits": {
          "type": "integer",
          "description": "Initial fullness of the Video Buffering Verifier (VBV) buffer in bits. Must be greater than zero. The default is equal to 90% of `VideoStream.vbv_size_bits`.",
          "format": "int32"
        },
        "bFrameCount": {
          "format": "int32",
          "type": "integer",
          "description": "The number of consecutive B-frames. Must be greater than or equal to zero. Must be less than `VideoStream.gop_frame_count` if set. The default is 0."
        },
        "frameRate": {
          "format": "double",
          "description": "Required. The target video frame rate in frames per second (FPS). Must be less than or equal to 120. Will default to the input frame rate if larger than the input frame rate. The API will generate an output FPS that is divisible by the input FPS, and smaller or equal to the target FPS. See [Calculating frame rate](https://cloud.google.com/transcoder/docs/concepts/frame-rate) for more information.",
          "type": "number"
        },
        "crfLevel": {
          "format": "int32",
          "type": "integer",
          "description": "Target CRF level. Must be between 10 and 36, where 10 is the highest quality and 36 is the most efficient compression. The default is 21."
        },
        "profile": {
          "type": "string",
          "description": "Enforces the specified codec profile. The following profiles are supported: * 8-bit profiles * `main` (default) * `main-intra` * `mainstillpicture` * 10-bit profiles * `main10` (default) * `main10-intra` * `main422-10` * `main422-10-intra` * `main444-10` * `main444-10-intra` * 12-bit profiles * `main12` (default) * `main12-intra` * `main422-12` * `main422-12-intra` * `main444-12` * `main444-12-intra` The available options are [FFmpeg-compatible](https://x265.readthedocs.io/). Note that certain values for this field may cause the transcoder to override other fields you set in the `H265CodecSettings` message."
        },
        "tune": {
          "description": "Enforces the specified codec tune. The available options are [FFmpeg-compatible](https://trac.ffmpeg.org/wiki/Encode/H.265). Note that certain values for this field may cause the transcoder to override other fields you set in the `H265CodecSettings` message.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "H265 codec settings.",
      "id": "H265CodecSettings"
    },
    "Input": {
      "properties": {
        "key": {
          "type": "string",
          "description": "A unique key for this input. Must be specified when using advanced mapping and edit lists."
        },
        "preprocessingConfig": {
          "description": "Preprocessing configurations.",
          "$ref": "PreprocessingConfig"
        },
        "uri": {
          "description": "URI of the media. Input files must be at least 5 seconds in duration and stored in Cloud Storage (for example, `gs://bucket/inputs/file.mp4`). If empty, the value is populated from `Job.input_uri`. See [Supported input and output formats](https://cloud.google.com/transcoder/docs/concepts/supported-input-and-output-formats).",
          "type": "string"
        }
      },
      "description": "Input asset.",
      "type": "object",
      "id": "Input"
    },
    "Pad": {
      "id": "Pad",
      "properties": {
        "leftPixels": {
          "description": "The number of pixels to add to the left. The default is 0.",
          "type": "integer",
          "format": "int32"
        },
        "topPixels": {
          "type": "integer",
          "format": "int32",
          "description": "The number of pixels to add to the top. The default is 0."
        },
        "bottomPixels": {
          "type": "integer",
          "format": "int32",
          "description": "The number of pixels to add to the bottom. The default is 0."
        },
        "rightPixels": {
          "description": "The number of pixels to add to the right. The default is 0.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "Pad filter configuration for the input video. The padded input video is scaled after padding with black to match the output resolution."
    },
    "MuxStream": {
      "id": "MuxStream",
      "properties": {
        "segmentSettings": {
          "description": "Segment settings for `ts`, `fmp4` and `vtt`.",
          "$ref": "SegmentSettings"
        },
        "key": {
          "description": "A unique key for this multiplexed stream. HLS media manifests will be named `MuxStream.key` with the `.m3u8` extension suffix.",
          "type": "string"
        },
        "elementaryStreams": {
          "items": {
            "type": "string"
          },
          "description": "List of `ElementaryStream.key`s multiplexed in this stream.",
          "type": "array"
        },
        "fileName": {
          "type": "string",
          "description": "The name of the generated file. The default is `MuxStream.key` with the extension suffix corresponding to the `MuxStream.container`. Individual segments also have an incremental 10-digit zero-padded suffix starting from 0 before the extension, such as `mux_stream0000000123.ts`."
        },
        "container": {
          "description": "The container format. The default is `mp4` Supported container formats: - `ts` - `fmp4`- the corresponding file extension is `.m4s` - `mp4` - `vtt` See also: [Supported input and output formats](https://cloud.google.com/transcoder/docs/concepts/supported-input-and-output-formats)",
          "type": "string"
        }
      },
      "description": "Multiplexing settings for output stream.",
      "type": "object"
    },
    "Animation": {
      "properties": {
        "animationFade": {
          "$ref": "AnimationFade",
          "description": "Display overlay object with fade animation."
        },
        "animationEnd": {
          "description": "End previous animation.",
          "$ref": "AnimationEnd"
        },
        "animationStatic": {
          "description": "Display static overlay object.",
          "$ref": "AnimationStatic"
        }
      },
      "id": "Animation",
      "description": "Animation types.",
      "type": "object"
    },
    "SegmentSettings": {
      "type": "object",
      "properties": {
        "individualSegments": {
          "description": "Required. Create an individual segment file. The default is `false`.",
          "type": "boolean"
        },
        "segmentDuration": {
          "format": "google-duration",
          "type": "string",
          "description": "Duration of the segments in seconds. The default is `6.0s`. Note that `segmentDuration` must be greater than or equal to [`gopDuration`](#videostream), and `segmentDuration` must be divisible by [`gopDuration`](#videostream)."
        }
      },
      "description": "Segment settings for `ts`, `fmp4` and `vtt`.",
      "id": "SegmentSettings"
    },
    "Denoise": {
      "description": "Denoise preprocessing configuration. **Note:** This configuration is not supported.",
      "type": "object",
      "properties": {
        "tune": {
          "type": "string",
          "description": "Set the denoiser mode. The default is `standard`. Supported denoiser modes: - `standard` - `grain`"
        },
        "strength": {
          "format": "double",
          "description": "Set strength of the denoise. Enter a value between 0 and 1. The higher the value, the smoother the image. 0 is no denoising. The default is 0.",
          "type": "number"
        }
      },
      "id": "Denoise"
    },
    "AnimationEnd": {
      "id": "AnimationEnd",
      "type": "object",
      "properties": {
        "startTimeOffset": {
          "description": "The time to end overlay object, in seconds. Default: 0",
          "format": "google-duration",
          "type": "string"
        }
      },
      "description": "End previous overlay animation from the video. Without AnimationEnd, the overlay object will keep the state of previous animation until the end of the video."
    },
    "EditAtom": {
      "description": "Edit atom.",
      "id": "EditAtom",
      "properties": {
        "endTimeOffset": {
          "description": "End time in seconds for the atom, relative to the input file timeline. When `end_time_offset` is not specified, the `inputs` are used until the end of the atom.",
          "format": "google-duration",
          "type": "string"
        },
        "startTimeOffset": {
          "type": "string",
          "format": "google-duration",
          "description": "Start time in seconds for the atom, relative to the input file timeline. The default is `0s`."
        },
        "inputs": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of `Input.key`s identifying files that should be used in this atom. The listed `inputs` must have the same timeline."
        },
        "key": {
          "description": "A unique key for this atom. Must be specified when using advanced mapping.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "BwdifConfig": {
      "id": "BwdifConfig",
      "description": "Bob Weaver Deinterlacing Filter Configuration.",
      "type": "object",
      "properties": {
        "parity": {
          "description": "The picture field parity assumed for the input interlaced video. The default is `auto`. Supported values: - `tff`: Assume the top field is first - `bff`: Assume the bottom field is first - `auto`: Enable automatic detection of field parity",
          "type": "string"
        },
        "mode": {
          "description": "Specifies the deinterlacing mode to adopt. The default is `send_frame`. Supported values: - `send_frame`: Output one frame for each frame - `send_field`: Output one frame for each field",
          "type": "string"
        },
        "deinterlaceAllFrames": {
          "type": "boolean",
          "description": "Deinterlace all frames rather than just the frames identified as interlaced. The default is `false`."
        }
      }
    },
    "ElementaryStream": {
      "properties": {
        "textStream": {
          "description": "Encoding of a text stream. For example, closed captions or subtitles.",
          "$ref": "TextStream"
        },
        "audioStream": {
          "$ref": "AudioStream",
          "description": "Encoding of an audio stream."
        },
        "key": {
          "type": "string",
          "description": "A unique key for this elementary stream."
        },
        "videoStream": {
          "description": "Encoding of a video stream.",
          "$ref": "VideoStream"
        }
      },
      "description": "Encoding of an input file such as an audio, video, or text track. Elementary streams must be packaged before mapping and sharing between different output formats.",
      "id": "ElementaryStream",
      "type": "object"
    },
    "Manifest": {
      "id": "Manifest",
      "description": "Manifest configuration.",
      "type": "object",
      "properties": {
        "muxStreams": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. List of user given `MuxStream.key`s that should appear in this manifest. When `Manifest.type` is `HLS`, a media manifest with name `MuxStream.key` and `.m3u8` extension is generated for each element of the `Manifest.mux_streams`."
        },
        "fileName": {
          "description": "The name of the generated file. The default is `manifest` with the extension suffix corresponding to the `Manifest.type`.",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "The manifest type is not specified.",
            "Create `HLS` manifest. The corresponding file extension is `.m3u8`.",
            "Create `DASH` manifest. The corresponding file extension is `.mpd`."
          ],
          "description": "Required. Type of the manifest, can be `HLS` or `DASH`.",
          "enum": [
            "MANIFEST_TYPE_UNSPECIFIED",
            "HLS",
            "DASH"
          ],
          "type": "string"
        }
      }
    },
    "ListJobTemplatesResponse": {
      "description": "Response message for `TranscoderService.ListJobTemplates`.",
      "properties": {
        "unreachable": {
          "description": "List of regions that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "jobTemplates": {
          "type": "array",
          "description": "List of job templates in the specified region.",
          "items": {
            "$ref": "JobTemplate"
          }
        },
        "nextPageToken": {
          "description": "The pagination token.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListJobTemplatesResponse"
    }
  }
}
