{
  "version": "v1",
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "resources": {
    "flights": {
      "methods": {
        "computeFlightEmissions": {
          "response": {
            "$ref": "ComputeFlightEmissionsResponse"
          },
          "parameterOrder": [],
          "parameters": {},
          "request": {
            "$ref": "ComputeFlightEmissionsRequest"
          },
          "flatPath": "v1/flights:computeFlightEmissions",
          "description": "Stateless method to retrieve emission estimates. Details on how emission estimates are computed: https://github.com/google/travel-impact-model The response will contain all entries that match the input flight legs, in the same order. If there are no estimates available for a certain flight leg, the response will return the flight leg object with empty emission fields. The request will still be considered successful. Reasons for missing emission estimates include: - The flight is unknown to the server. - The input flight leg is missing one or more identifiers. - The flight date is in the past. - The aircraft type is not supported by the model. - Missing seat configuration. The request can contain up to 1000 flight legs. If the request has more than 1000 direct flights, if will fail with an INVALID_ARGUMENT error.",
          "httpMethod": "POST",
          "id": "travelimpactmodel.flights.computeFlightEmissions",
          "path": "v1/flights:computeFlightEmissions"
        }
      }
    }
  },
  "name": "travelimpactmodel",
  "batchPath": "batch",
  "rootUrl": "https://travelimpactmodel.googleapis.com/",
  "baseUrl": "https://travelimpactmodel.googleapis.com/",
  "revision": "20230822",
  "protocol": "rest",
  "version_module": true,
  "parameters": {
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "description": "Data format for response.",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    }
  },
  "ownerName": "Google",
  "canonicalName": "Travel Impact Model",
  "kind": "discovery#restDescription",
  "documentationLink": "https://developers.google.com/travel/impact-model",
  "basePath": "",
  "mtlsRootUrl": "https://travelimpactmodel.mtls.googleapis.com/",
  "id": "travelimpactmodel:v1",
  "fullyEncodeReservedExpansion": true,
  "description": "Travel Impact Model API lets you query travel carbon emission estimates.",
  "schemas": {
    "EmissionsGramsPerPax": {
      "description": "Grouped emissions per seating class results.",
      "type": "object",
      "properties": {
        "premiumEconomy": {
          "description": "Emissions for one passenger in premium economy class in grams. This field is always computed and populated, regardless of whether the aircraft has premium economy class seats or not.",
          "type": "integer",
          "format": "int32"
        },
        "first": {
          "description": "Emissions for one passenger in first class in grams. This field is always computed and populated, regardless of whether the aircraft has first class seats or not.",
          "format": "int32",
          "type": "integer"
        },
        "economy": {
          "description": "Emissions for one passenger in economy class in grams. This field is always computed and populated, regardless of whether the aircraft has economy class seats or not.",
          "format": "int32",
          "type": "integer"
        },
        "business": {
          "format": "int32",
          "description": "Emissions for one passenger in business class in grams. This field is always computed and populated, regardless of whether the aircraft has business class seats or not.",
          "type": "integer"
        }
      },
      "id": "EmissionsGramsPerPax"
    },
    "ComputeFlightEmissionsRequest": {
      "properties": {
        "flights": {
          "description": "Required. Direct flights to return emission estimates for.",
          "type": "array",
          "items": {
            "$ref": "Flight"
          }
        }
      },
      "id": "ComputeFlightEmissionsRequest",
      "description": "Input definition for the ComputeFlightEmissions request.",
      "type": "object"
    },
    "Date": {
      "type": "object",
      "properties": {
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32",
          "type": "integer"
        },
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer",
          "format": "int32"
        },
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "id": "Date"
    },
    "Flight": {
      "type": "object",
      "id": "Flight",
      "properties": {
        "origin": {
          "description": "Required. IATA airport code for flight origin, e.g. \"LHR\".",
          "type": "string"
        },
        "flightNumber": {
          "format": "int32",
          "description": "Required. Flight number, e.g. 324.",
          "type": "integer"
        },
        "destination": {
          "description": "Required. IATA airport code for flight destination, e.g. \"JFK\".",
          "type": "string"
        },
        "departureDate": {
          "$ref": "Date",
          "description": "Required. Date of the flight in the time zone of the origin airport. Must be a date in the present or future."
        },
        "operatingCarrierCode": {
          "type": "string",
          "description": "Required. IATA carrier code, e.g. \"AA\"."
        }
      },
      "description": "All details related to a single request item for a direct flight emission estimates."
    },
    "ModelVersion": {
      "type": "object",
      "id": "ModelVersion",
      "properties": {
        "dated": {
          "type": "string",
          "description": "Dated versions: Model datasets are recreated with refreshed input data but no change to the algorithms regularly."
        },
        "major": {
          "type": "integer",
          "description": "Major versions: Major changes to methodology (e.g. adding new data sources to the model that lead to major output changes). Such changes will be infrequent and announced well in advance. Might involve API version changes, which will respect guidelines in https://cloud.google.com/endpoints/docs/openapi/versioning-an-api#backwards-incompatible",
          "format": "int32"
        },
        "minor": {
          "format": "int32",
          "type": "integer",
          "description": "Minor versions: Changes to the model that, while being consistent across schema versions, change the model parameters or implementation."
        },
        "patch": {
          "type": "integer",
          "description": "Patch versions: Implementation changes meant to address bugs or inaccuracies in the model implementation.",
          "format": "int32"
        }
      },
      "description": "Travel Impact Model version. For more information about the model versioning see https://github.com/google/travel-impact-model/#versioning."
    },
    "FlightWithEmissions": {
      "description": "Direct flight with emission estimates.",
      "id": "FlightWithEmissions",
      "type": "object",
      "properties": {
        "flight": {
          "$ref": "Flight",
          "description": "Required. Matches the flight identifiers in the request. Note: all IATA codes are capitalized."
        },
        "emissionsGramsPerPax": {
          "$ref": "EmissionsGramsPerPax",
          "description": "Optional. Per-passenger emission estimate numbers. Will not be present if emissions could not be computed. For the list of reasons why emissions could not be computed, see ComputeFlightEmissions."
        }
      }
    },
    "ComputeFlightEmissionsResponse": {
      "description": "Output definition for the ComputeFlightEmissions response.",
      "type": "object",
      "properties": {
        "flightEmissions": {
          "description": "List of flight legs with emission estimates.",
          "type": "array",
          "items": {
            "$ref": "FlightWithEmissions"
          }
        },
        "modelVersion": {
          "description": "The model version under which emission estimates for all flights in this response were computed.",
          "$ref": "ModelVersion"
        }
      },
      "id": "ComputeFlightEmissionsResponse"
    }
  },
  "servicePath": "",
  "title": "Travel Impact Model API"
}
