{
  "revision": "20230820",
  "fullyEncodeReservedExpansion": true,
  "id": "travelimpactmodel:v1",
  "mtlsRootUrl": "https://travelimpactmodel.mtls.googleapis.com/",
  "version": "v1",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "kind": "discovery#restDescription",
  "name": "travelimpactmodel",
  "ownerDomain": "google.com",
  "version_module": true,
  "protocol": "rest",
  "canonicalName": "Travel Impact Model",
  "resources": {
    "flights": {
      "methods": {
        "computeFlightEmissions": {
          "parameterOrder": [],
          "request": {
            "$ref": "ComputeFlightEmissionsRequest"
          },
          "httpMethod": "POST",
          "parameters": {},
          "description": "Stateless method to retrieve emission estimates. Details on how emission estimates are computed: https://github.com/google/travel-impact-model The response will contain all entries that match the input flight legs, in the same order. If there are no estimates available for a certain flight leg, the response will return the flight leg object with empty emission fields. The request will still be considered successful. Reasons for missing emission estimates include: - The flight is unknown to the server. - The input flight leg is missing one or more identifiers. - The flight date is in the past. - The aircraft type is not supported by the model. - Missing seat configuration. The request can contain up to 1000 flight legs. If the request has more than 1000 direct flights, if will fail with an INVALID_ARGUMENT error.",
          "id": "travelimpactmodel.flights.computeFlightEmissions",
          "response": {
            "$ref": "ComputeFlightEmissionsResponse"
          },
          "flatPath": "v1/flights:computeFlightEmissions",
          "path": "v1/flights:computeFlightEmissions"
        }
      }
    }
  },
  "description": "Travel Impact Model API lets you query travel carbon emission estimates.",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "servicePath": "",
  "basePath": "",
  "rootUrl": "https://travelimpactmodel.googleapis.com/",
  "parameters": {
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response."
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    }
  },
  "title": "Travel Impact Model API",
  "schemas": {
    "Flight": {
      "type": "object",
      "id": "Flight",
      "properties": {
        "operatingCarrierCode": {
          "description": "Required. IATA carrier code, e.g. \"AA\".",
          "type": "string"
        },
        "flightNumber": {
          "description": "Required. Flight number, e.g. 324.",
          "type": "integer",
          "format": "int32"
        },
        "destination": {
          "type": "string",
          "description": "Required. IATA airport code for flight destination, e.g. \"JFK\"."
        },
        "origin": {
          "description": "Required. IATA airport code for flight origin, e.g. \"LHR\".",
          "type": "string"
        },
        "departureDate": {
          "description": "Required. Date of the flight in the time zone of the origin airport. Must be a date in the present or future.",
          "$ref": "Date"
        }
      },
      "description": "All details related to a single request item for a direct flight emission estimates."
    },
    "Date": {
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "properties": {
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer",
          "format": "int32"
        },
        "day": {
          "type": "integer",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32"
        },
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "Date"
    },
    "FlightWithEmissions": {
      "id": "FlightWithEmissions",
      "description": "Direct flight with emission estimates.",
      "properties": {
        "flight": {
          "description": "Required. Matches the flight identifiers in the request. Note: all IATA codes are capitalized.",
          "$ref": "Flight"
        },
        "emissionsGramsPerPax": {
          "$ref": "EmissionsGramsPerPax",
          "description": "Optional. Per-passenger emission estimate numbers. Will not be present if emissions could not be computed. For the list of reasons why emissions could not be computed, see ComputeFlightEmissions."
        }
      },
      "type": "object"
    },
    "ComputeFlightEmissionsRequest": {
      "description": "Input definition for the ComputeFlightEmissions request.",
      "type": "object",
      "id": "ComputeFlightEmissionsRequest",
      "properties": {
        "flights": {
          "items": {
            "$ref": "Flight"
          },
          "type": "array",
          "description": "Required. Direct flights to return emission estimates for."
        }
      }
    },
    "EmissionsGramsPerPax": {
      "id": "EmissionsGramsPerPax",
      "type": "object",
      "properties": {
        "economy": {
          "type": "integer",
          "format": "int32",
          "description": "Emissions for one passenger in economy class in grams. This field is always computed and populated, regardless of whether the aircraft has economy class seats or not."
        },
        "business": {
          "description": "Emissions for one passenger in business class in grams. This field is always computed and populated, regardless of whether the aircraft has business class seats or not.",
          "type": "integer",
          "format": "int32"
        },
        "premiumEconomy": {
          "type": "integer",
          "format": "int32",
          "description": "Emissions for one passenger in premium economy class in grams. This field is always computed and populated, regardless of whether the aircraft has premium economy class seats or not."
        },
        "first": {
          "type": "integer",
          "format": "int32",
          "description": "Emissions for one passenger in first class in grams. This field is always computed and populated, regardless of whether the aircraft has first class seats or not."
        }
      },
      "description": "Grouped emissions per seating class results."
    },
    "ModelVersion": {
      "description": "Travel Impact Model version. For more information about the model versioning see https://github.com/google/travel-impact-model/#versioning.",
      "type": "object",
      "properties": {
        "dated": {
          "type": "string",
          "description": "Dated versions: Model datasets are recreated with refreshed input data but no change to the algorithms regularly."
        },
        "major": {
          "description": "Major versions: Major changes to methodology (e.g. adding new data sources to the model that lead to major output changes). Such changes will be infrequent and announced well in advance. Might involve API version changes, which will respect guidelines in https://cloud.google.com/endpoints/docs/openapi/versioning-an-api#backwards-incompatible",
          "type": "integer",
          "format": "int32"
        },
        "minor": {
          "format": "int32",
          "type": "integer",
          "description": "Minor versions: Changes to the model that, while being consistent across schema versions, change the model parameters or implementation."
        },
        "patch": {
          "description": "Patch versions: Implementation changes meant to address bugs or inaccuracies in the model implementation.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "ModelVersion"
    },
    "ComputeFlightEmissionsResponse": {
      "properties": {
        "modelVersion": {
          "description": "The model version under which emission estimates for all flights in this response were computed.",
          "$ref": "ModelVersion"
        },
        "flightEmissions": {
          "type": "array",
          "items": {
            "$ref": "FlightWithEmissions"
          },
          "description": "List of flight legs with emission estimates."
        }
      },
      "type": "object",
      "id": "ComputeFlightEmissionsResponse",
      "description": "Output definition for the ComputeFlightEmissions response."
    }
  },
  "baseUrl": "https://travelimpactmodel.googleapis.com/",
  "documentationLink": "https://developers.google.com/travel/impact-model",
  "ownerName": "Google"
}
