{
  "canonicalName": "Travel Impact Model",
  "rootUrl": "https://travelimpactmodel.googleapis.com/",
  "revision": "20230820",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "basePath": "",
  "discoveryVersion": "v1",
  "id": "travelimpactmodel:v1",
  "mtlsRootUrl": "https://travelimpactmodel.mtls.googleapis.com/",
  "resources": {
    "flights": {
      "methods": {
        "computeFlightEmissions": {
          "flatPath": "v1/flights:computeFlightEmissions",
          "path": "v1/flights:computeFlightEmissions",
          "httpMethod": "POST",
          "id": "travelimpactmodel.flights.computeFlightEmissions",
          "request": {
            "$ref": "ComputeFlightEmissionsRequest"
          },
          "parameterOrder": [],
          "response": {
            "$ref": "ComputeFlightEmissionsResponse"
          },
          "parameters": {},
          "description": "Stateless method to retrieve emission estimates. Details on how emission estimates are computed: https://github.com/google/travel-impact-model The response will contain all entries that match the input flight legs, in the same order. If there are no estimates available for a certain flight leg, the response will return the flight leg object with empty emission fields. The request will still be considered successful. Reasons for missing emission estimates include: - The flight is unknown to the server. - The input flight leg is missing one or more identifiers. - The flight date is in the past. - The aircraft type is not supported by the model. - Missing seat configuration. The request can contain up to 1000 flight legs. If the request has more than 1000 direct flights, if will fail with an INVALID_ARGUMENT error."
        }
      }
    }
  },
  "description": "Travel Impact Model API lets you query travel carbon emission estimates.",
  "protocol": "rest",
  "version_module": true,
  "ownerName": "Google",
  "fullyEncodeReservedExpansion": true,
  "schemas": {
    "Flight": {
      "description": "All details related to a single request item for a direct flight emission estimates.",
      "type": "object",
      "properties": {
        "origin": {
          "description": "Required. IATA airport code for flight origin, e.g. \"LHR\".",
          "type": "string"
        },
        "destination": {
          "description": "Required. IATA airport code for flight destination, e.g. \"JFK\".",
          "type": "string"
        },
        "flightNumber": {
          "description": "Required. Flight number, e.g. 324.",
          "format": "int32",
          "type": "integer"
        },
        "departureDate": {
          "description": "Required. Date of the flight in the time zone of the origin airport. Must be a date in the present or future.",
          "$ref": "Date"
        },
        "operatingCarrierCode": {
          "description": "Required. IATA carrier code, e.g. \"AA\".",
          "type": "string"
        }
      },
      "id": "Flight"
    },
    "FlightWithEmissions": {
      "id": "FlightWithEmissions",
      "type": "object",
      "description": "Direct flight with emission estimates.",
      "properties": {
        "flight": {
          "description": "Required. Matches the flight identifiers in the request. Note: all IATA codes are capitalized.",
          "$ref": "Flight"
        },
        "emissionsGramsPerPax": {
          "$ref": "EmissionsGramsPerPax",
          "description": "Optional. Per-passenger emission estimate numbers. Will not be present if emissions could not be computed. For the list of reasons why emissions could not be computed, see ComputeFlightEmissions."
        }
      }
    },
    "ComputeFlightEmissionsRequest": {
      "properties": {
        "flights": {
          "description": "Required. Direct flights to return emission estimates for.",
          "items": {
            "$ref": "Flight"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Input definition for the ComputeFlightEmissions request.",
      "id": "ComputeFlightEmissionsRequest"
    },
    "Date": {
      "id": "Date",
      "type": "object",
      "properties": {
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer",
          "format": "int32"
        },
        "month": {
          "format": "int32",
          "type": "integer",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
        },
        "year": {
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "format": "int32"
        }
      },
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
    },
    "EmissionsGramsPerPax": {
      "id": "EmissionsGramsPerPax",
      "description": "Grouped emissions per seating class results.",
      "type": "object",
      "properties": {
        "premiumEconomy": {
          "type": "integer",
          "description": "Emissions for one passenger in premium economy class in grams. This field is always computed and populated, regardless of whether the aircraft has premium economy class seats or not.",
          "format": "int32"
        },
        "business": {
          "format": "int32",
          "type": "integer",
          "description": "Emissions for one passenger in business class in grams. This field is always computed and populated, regardless of whether the aircraft has business class seats or not."
        },
        "first": {
          "type": "integer",
          "description": "Emissions for one passenger in first class in grams. This field is always computed and populated, regardless of whether the aircraft has first class seats or not.",
          "format": "int32"
        },
        "economy": {
          "format": "int32",
          "type": "integer",
          "description": "Emissions for one passenger in economy class in grams. This field is always computed and populated, regardless of whether the aircraft has economy class seats or not."
        }
      }
    },
    "ComputeFlightEmissionsResponse": {
      "properties": {
        "flightEmissions": {
          "type": "array",
          "items": {
            "$ref": "FlightWithEmissions"
          },
          "description": "List of flight legs with emission estimates."
        },
        "modelVersion": {
          "description": "The model version under which emission estimates for all flights in this response were computed.",
          "$ref": "ModelVersion"
        }
      },
      "id": "ComputeFlightEmissionsResponse",
      "description": "Output definition for the ComputeFlightEmissions response.",
      "type": "object"
    },
    "ModelVersion": {
      "description": "Travel Impact Model version. For more information about the model versioning see https://github.com/google/travel-impact-model/#versioning.",
      "id": "ModelVersion",
      "properties": {
        "major": {
          "description": "Major versions: Major changes to methodology (e.g. adding new data sources to the model that lead to major output changes). Such changes will be infrequent and announced well in advance. Might involve API version changes, which will respect guidelines in https://cloud.google.com/endpoints/docs/openapi/versioning-an-api#backwards-incompatible",
          "format": "int32",
          "type": "integer"
        },
        "dated": {
          "description": "Dated versions: Model datasets are recreated with refreshed input data but no change to the algorithms regularly.",
          "type": "string"
        },
        "minor": {
          "format": "int32",
          "type": "integer",
          "description": "Minor versions: Changes to the model that, while being consistent across schema versions, change the model parameters or implementation."
        },
        "patch": {
          "format": "int32",
          "description": "Patch versions: Implementation changes meant to address bugs or inaccuracies in the model implementation.",
          "type": "integer"
        }
      },
      "type": "object"
    }
  },
  "name": "travelimpactmodel",
  "version": "v1",
  "batchPath": "batch",
  "baseUrl": "https://travelimpactmodel.googleapis.com/",
  "ownerDomain": "google.com",
  "kind": "discovery#restDescription",
  "parameters": {
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    }
  },
  "servicePath": "",
  "documentationLink": "https://developers.google.com/travel/impact-model",
  "title": "Travel Impact Model API"
}
