{
  "parameters": {
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    }
  },
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://travelimpactmodel.mtls.googleapis.com/",
  "description": "Travel Impact Model API lets you query travel carbon emission estimates.",
  "kind": "discovery#restDescription",
  "baseUrl": "https://travelimpactmodel.googleapis.com/",
  "title": "Travel Impact Model API",
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "basePath": "",
  "version": "v1",
  "version_module": true,
  "discoveryVersion": "v1",
  "servicePath": "",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "revision": "20230822",
  "name": "travelimpactmodel",
  "protocol": "rest",
  "canonicalName": "Travel Impact Model",
  "id": "travelimpactmodel:v1",
  "ownerName": "Google",
  "documentationLink": "https://developers.google.com/travel/impact-model",
  "rootUrl": "https://travelimpactmodel.googleapis.com/",
  "resources": {
    "flights": {
      "methods": {
        "computeFlightEmissions": {
          "description": "Stateless method to retrieve emission estimates. Details on how emission estimates are computed: https://github.com/google/travel-impact-model The response will contain all entries that match the input flight legs, in the same order. If there are no estimates available for a certain flight leg, the response will return the flight leg object with empty emission fields. The request will still be considered successful. Reasons for missing emission estimates include: - The flight is unknown to the server. - The input flight leg is missing one or more identifiers. - The flight date is in the past. - The aircraft type is not supported by the model. - Missing seat configuration. The request can contain up to 1000 flight legs. If the request has more than 1000 direct flights, if will fail with an INVALID_ARGUMENT error.",
          "request": {
            "$ref": "ComputeFlightEmissionsRequest"
          },
          "parameters": {},
          "httpMethod": "POST",
          "id": "travelimpactmodel.flights.computeFlightEmissions",
          "flatPath": "v1/flights:computeFlightEmissions",
          "path": "v1/flights:computeFlightEmissions",
          "parameterOrder": [],
          "response": {
            "$ref": "ComputeFlightEmissionsResponse"
          }
        }
      }
    }
  },
  "schemas": {
    "FlightWithEmissions": {
      "properties": {
        "emissionsGramsPerPax": {
          "description": "Optional. Per-passenger emission estimate numbers. Will not be present if emissions could not be computed. For the list of reasons why emissions could not be computed, see ComputeFlightEmissions.",
          "$ref": "EmissionsGramsPerPax"
        },
        "flight": {
          "$ref": "Flight",
          "description": "Required. Matches the flight identifiers in the request. Note: all IATA codes are capitalized."
        }
      },
      "id": "FlightWithEmissions",
      "description": "Direct flight with emission estimates.",
      "type": "object"
    },
    "Flight": {
      "type": "object",
      "id": "Flight",
      "description": "All details related to a single request item for a direct flight emission estimates.",
      "properties": {
        "departureDate": {
          "description": "Required. Date of the flight in the time zone of the origin airport. Must be a date in the present or future.",
          "$ref": "Date"
        },
        "destination": {
          "description": "Required. IATA airport code for flight destination, e.g. \"JFK\".",
          "type": "string"
        },
        "origin": {
          "description": "Required. IATA airport code for flight origin, e.g. \"LHR\".",
          "type": "string"
        },
        "flightNumber": {
          "description": "Required. Flight number, e.g. 324.",
          "format": "int32",
          "type": "integer"
        },
        "operatingCarrierCode": {
          "type": "string",
          "description": "Required. IATA carrier code, e.g. \"AA\"."
        }
      }
    },
    "Date": {
      "type": "object",
      "id": "Date",
      "properties": {
        "day": {
          "type": "integer",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32"
        },
        "month": {
          "format": "int32",
          "type": "integer",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
        },
        "year": {
          "format": "int32",
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
        }
      },
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
    },
    "EmissionsGramsPerPax": {
      "id": "EmissionsGramsPerPax",
      "properties": {
        "premiumEconomy": {
          "type": "integer",
          "format": "int32",
          "description": "Emissions for one passenger in premium economy class in grams. This field is always computed and populated, regardless of whether the aircraft has premium economy class seats or not."
        },
        "economy": {
          "type": "integer",
          "format": "int32",
          "description": "Emissions for one passenger in economy class in grams. This field is always computed and populated, regardless of whether the aircraft has economy class seats or not."
        },
        "first": {
          "description": "Emissions for one passenger in first class in grams. This field is always computed and populated, regardless of whether the aircraft has first class seats or not.",
          "format": "int32",
          "type": "integer"
        },
        "business": {
          "format": "int32",
          "type": "integer",
          "description": "Emissions for one passenger in business class in grams. This field is always computed and populated, regardless of whether the aircraft has business class seats or not."
        }
      },
      "description": "Grouped emissions per seating class results.",
      "type": "object"
    },
    "ComputeFlightEmissionsResponse": {
      "type": "object",
      "description": "Output definition for the ComputeFlightEmissions response.",
      "properties": {
        "flightEmissions": {
          "items": {
            "$ref": "FlightWithEmissions"
          },
          "type": "array",
          "description": "List of flight legs with emission estimates."
        },
        "modelVersion": {
          "$ref": "ModelVersion",
          "description": "The model version under which emission estimates for all flights in this response were computed."
        }
      },
      "id": "ComputeFlightEmissionsResponse"
    },
    "ModelVersion": {
      "id": "ModelVersion",
      "properties": {
        "dated": {
          "type": "string",
          "description": "Dated versions: Model datasets are recreated with refreshed input data but no change to the algorithms regularly."
        },
        "major": {
          "description": "Major versions: Major changes to methodology (e.g. adding new data sources to the model that lead to major output changes). Such changes will be infrequent and announced well in advance. Might involve API version changes, which will respect guidelines in https://cloud.google.com/endpoints/docs/openapi/versioning-an-api#backwards-incompatible",
          "format": "int32",
          "type": "integer"
        },
        "minor": {
          "description": "Minor versions: Changes to the model that, while being consistent across schema versions, change the model parameters or implementation.",
          "format": "int32",
          "type": "integer"
        },
        "patch": {
          "description": "Patch versions: Implementation changes meant to address bugs or inaccuracies in the model implementation.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "Travel Impact Model version. For more information about the model versioning see https://github.com/google/travel-impact-model/#versioning."
    },
    "ComputeFlightEmissionsRequest": {
      "description": "Input definition for the ComputeFlightEmissions request.",
      "type": "object",
      "properties": {
        "flights": {
          "type": "array",
          "description": "Required. Direct flights to return emission estimates for.",
          "items": {
            "$ref": "Flight"
          }
        }
      },
      "id": "ComputeFlightEmissionsRequest"
    }
  }
}
