{
  "baseUrl": "https://vault.googleapis.com/",
  "kind": "discovery#restDescription",
  "parameters": {
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "default": "json",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    }
  },
  "ownerDomain": "google.com",
  "rootUrl": "https://vault.googleapis.com/",
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "resources": {
    "matters": {
      "methods": {
        "reopen": {
          "flatPath": "v1/matters/{matterId}:reopen",
          "request": {
            "$ref": "ReopenMatterRequest"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "response": {
            "$ref": "ReopenMatterResponse"
          },
          "description": "Reopens the specified matter. Returns the matter with updated state.",
          "id": "vault.matters.reopen",
          "parameterOrder": [
            "matterId"
          ],
          "path": "v1/matters/{matterId}:reopen",
          "parameters": {
            "matterId": {
              "description": "The matter ID.",
              "type": "string",
              "location": "path",
              "required": true
            }
          }
        },
        "removePermissions": {
          "path": "v1/matters/{matterId}:removePermissions",
          "httpMethod": "POST",
          "parameterOrder": [
            "matterId"
          ],
          "id": "vault.matters.removePermissions",
          "flatPath": "v1/matters/{matterId}:removePermissions",
          "request": {
            "$ref": "RemoveMatterPermissionsRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "parameters": {
            "matterId": {
              "description": "The matter ID.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "description": "Removes an account as a matter collaborator.",
          "response": {
            "$ref": "Empty"
          }
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery",
            "https://www.googleapis.com/auth/ediscovery.readonly"
          ],
          "id": "vault.matters.list",
          "parameterOrder": [],
          "parameters": {
            "view": {
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "The amount of detail is unspecified. Same as **BASIC**.",
                "Returns the matter ID, name, description, and state. Default choice.",
                "Returns the basic details and a list of matter owners and collaborators (see [MatterPermissions](https://developers.google.com/vault/reference/rest/v1/matters#matterpermission))."
              ],
              "enum": [
                "VIEW_UNSPECIFIED",
                "BASIC",
                "FULL"
              ],
              "description": "Specifies how much information about the matter to return in response."
            },
            "state": {
              "description": "If set, lists only matters with the specified state. The default lists matters of all states.",
              "enumDescriptions": [
                "The matter has no specified state.",
                "The matter is open.",
                "The matter is closed.",
                "The matter is deleted."
              ],
              "type": "string",
              "location": "query",
              "enum": [
                "STATE_UNSPECIFIED",
                "OPEN",
                "CLOSED",
                "DELETED"
              ]
            },
            "pageSize": {
              "description": "The number of matters to return in the response. Default and maximum are 100.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The pagination token as returned in the response."
            }
          },
          "path": "v1/matters",
          "response": {
            "$ref": "ListMattersResponse"
          },
          "httpMethod": "GET",
          "description": "Lists matters the requestor has access to.",
          "flatPath": "v1/matters"
        },
        "addPermissions": {
          "request": {
            "$ref": "AddMatterPermissionsRequest"
          },
          "parameters": {
            "matterId": {
              "required": true,
              "location": "path",
              "description": "The matter ID.",
              "type": "string"
            }
          },
          "parameterOrder": [
            "matterId"
          ],
          "description": "Adds an account as a matter collaborator.",
          "flatPath": "v1/matters/{matterId}:addPermissions",
          "httpMethod": "POST",
          "id": "vault.matters.addPermissions",
          "response": {
            "$ref": "MatterPermission"
          },
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "path": "v1/matters/{matterId}:addPermissions"
        },
        "delete": {
          "description": "Deletes the specified matter. Returns the matter with updated state.",
          "response": {
            "$ref": "Matter"
          },
          "path": "v1/matters/{matterId}",
          "id": "vault.matters.delete",
          "parameterOrder": [
            "matterId"
          ],
          "parameters": {
            "matterId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The matter ID"
            }
          },
          "flatPath": "v1/matters/{matterId}",
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "httpMethod": "DELETE"
        },
        "create": {
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "description": "Creates a matter with the given name and description. The initial state is open, and the owner is the method caller. Returns the created matter with default view.",
          "httpMethod": "POST",
          "path": "v1/matters",
          "id": "vault.matters.create",
          "request": {
            "$ref": "Matter"
          },
          "parameters": {},
          "flatPath": "v1/matters",
          "parameterOrder": [],
          "response": {
            "$ref": "Matter"
          }
        },
        "undelete": {
          "id": "vault.matters.undelete",
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "parameterOrder": [
            "matterId"
          ],
          "path": "v1/matters/{matterId}:undelete",
          "parameters": {
            "matterId": {
              "type": "string",
              "location": "path",
              "description": "The matter ID.",
              "required": true
            }
          },
          "flatPath": "v1/matters/{matterId}:undelete",
          "request": {
            "$ref": "UndeleteMatterRequest"
          },
          "description": "Undeletes the specified matter. Returns the matter with updated state.",
          "httpMethod": "POST",
          "response": {
            "$ref": "Matter"
          }
        },
        "close": {
          "path": "v1/matters/{matterId}:close",
          "parameters": {
            "matterId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The matter ID."
            }
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "flatPath": "v1/matters/{matterId}:close",
          "request": {
            "$ref": "CloseMatterRequest"
          },
          "parameterOrder": [
            "matterId"
          ],
          "id": "vault.matters.close",
          "description": "Closes the specified matter. Returns the matter with updated state.",
          "response": {
            "$ref": "CloseMatterResponse"
          }
        },
        "count": {
          "parameterOrder": [
            "matterId"
          ],
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "matterId": {
              "type": "string",
              "required": true,
              "description": "The matter ID.",
              "location": "path"
            }
          },
          "request": {
            "$ref": "CountArtifactsRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "flatPath": "v1/matters/{matterId}:count",
          "description": "Counts the accounts processed by the specified query.",
          "path": "v1/matters/{matterId}:count",
          "id": "vault.matters.count",
          "httpMethod": "POST"
        },
        "update": {
          "flatPath": "v1/matters/{matterId}",
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "parameterOrder": [
            "matterId"
          ],
          "response": {
            "$ref": "Matter"
          },
          "parameters": {
            "matterId": {
              "type": "string",
              "description": "The matter ID.",
              "required": true,
              "location": "path"
            }
          },
          "description": "Updates the specified matter. This updates only the name and description of the matter, identified by matter ID. Changes to any other fields are ignored. Returns the default view of the matter.",
          "id": "vault.matters.update",
          "request": {
            "$ref": "Matter"
          },
          "path": "v1/matters/{matterId}",
          "httpMethod": "PUT"
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery",
            "https://www.googleapis.com/auth/ediscovery.readonly"
          ],
          "parameterOrder": [
            "matterId"
          ],
          "response": {
            "$ref": "Matter"
          },
          "httpMethod": "GET",
          "path": "v1/matters/{matterId}",
          "description": "Gets the specified matter.",
          "flatPath": "v1/matters/{matterId}",
          "id": "vault.matters.get",
          "parameters": {
            "matterId": {
              "description": "The matter ID.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "view": {
              "description": "Specifies how much information about the matter to return in the response.",
              "enumDescriptions": [
                "The amount of detail is unspecified. Same as **BASIC**.",
                "Returns the matter ID, name, description, and state. Default choice.",
                "Returns the basic details and a list of matter owners and collaborators (see [MatterPermissions](https://developers.google.com/vault/reference/rest/v1/matters#matterpermission))."
              ],
              "enum": [
                "VIEW_UNSPECIFIED",
                "BASIC",
                "FULL"
              ],
              "location": "query",
              "type": "string"
            }
          }
        }
      },
      "resources": {
        "exports": {
          "methods": {
            "delete": {
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery"
              ],
              "parameterOrder": [
                "matterId",
                "exportId"
              ],
              "id": "vault.matters.exports.delete",
              "description": "Deletes an export.",
              "flatPath": "v1/matters/{matterId}/exports/{exportId}",
              "parameters": {
                "exportId": {
                  "description": "The export ID.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "matterId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "The matter ID."
                }
              },
              "response": {
                "$ref": "Empty"
              },
              "path": "v1/matters/{matterId}/exports/{exportId}"
            },
            "get": {
              "path": "v1/matters/{matterId}/exports/{exportId}",
              "parameterOrder": [
                "matterId",
                "exportId"
              ],
              "httpMethod": "GET",
              "description": "Gets an export.",
              "flatPath": "v1/matters/{matterId}/exports/{exportId}",
              "parameters": {
                "exportId": {
                  "description": "The export ID.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "matterId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "The matter ID."
                }
              },
              "response": {
                "$ref": "Export"
              },
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery",
                "https://www.googleapis.com/auth/ediscovery.readonly"
              ],
              "id": "vault.matters.exports.get"
            },
            "create": {
              "path": "v1/matters/{matterId}/exports",
              "parameters": {
                "matterId": {
                  "description": "The matter ID.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "id": "vault.matters.exports.create",
              "request": {
                "$ref": "Export"
              },
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery"
              ],
              "description": "Creates an export.",
              "response": {
                "$ref": "Export"
              },
              "parameterOrder": [
                "matterId"
              ],
              "flatPath": "v1/matters/{matterId}/exports",
              "httpMethod": "POST"
            },
            "list": {
              "description": "Lists details about the exports in the specified matter.",
              "id": "vault.matters.exports.list",
              "response": {
                "$ref": "ListExportsResponse"
              },
              "flatPath": "v1/matters/{matterId}/exports",
              "parameters": {
                "pageSize": {
                  "description": "The number of exports to return in the response.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "pageToken": {
                  "description": "The pagination token as returned in the response.",
                  "location": "query",
                  "type": "string"
                },
                "matterId": {
                  "location": "path",
                  "description": "The matter ID.",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "matterId"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery",
                "https://www.googleapis.com/auth/ediscovery.readonly"
              ],
              "path": "v1/matters/{matterId}/exports"
            }
          }
        },
        "holds": {
          "methods": {
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery",
                "https://www.googleapis.com/auth/ediscovery.readonly"
              ],
              "flatPath": "v1/matters/{matterId}/holds/{holdId}",
              "id": "vault.matters.holds.get",
              "parameterOrder": [
                "matterId",
                "holdId"
              ],
              "description": "Gets the specified hold.",
              "parameters": {
                "matterId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "The matter ID."
                },
                "view": {
                  "type": "string",
                  "enumDescriptions": [
                    "Not specified. Defaults to **FULL_HOLD**.",
                    "Returns the hold ID, name, update time, service, and query.",
                    "Returns all details of **BASIC_HOLD** and the entities the hold applies to, such as accounts or organizational unit."
                  ],
                  "location": "query",
                  "description": "The amount of detail to return for a hold.",
                  "enum": [
                    "HOLD_VIEW_UNSPECIFIED",
                    "BASIC_HOLD",
                    "FULL_HOLD"
                  ]
                },
                "holdId": {
                  "required": true,
                  "description": "The hold ID.",
                  "location": "path",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Hold"
              },
              "httpMethod": "GET",
              "path": "v1/matters/{matterId}/holds/{holdId}"
            },
            "addHeldAccounts": {
              "flatPath": "v1/matters/{matterId}/holds/{holdId}:addHeldAccounts",
              "path": "v1/matters/{matterId}/holds/{holdId}:addHeldAccounts",
              "request": {
                "$ref": "AddHeldAccountsRequest"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "matterId",
                "holdId"
              ],
              "response": {
                "$ref": "AddHeldAccountsResponse"
              },
              "description": "Adds accounts to a hold. Returns a list of accounts that have been successfully added. Accounts can be added only to an existing account-based hold.",
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery"
              ],
              "parameters": {
                "holdId": {
                  "type": "string",
                  "description": "The hold ID.",
                  "required": true,
                  "location": "path"
                },
                "matterId": {
                  "type": "string",
                  "location": "path",
                  "description": "The matter ID.",
                  "required": true
                }
              },
              "id": "vault.matters.holds.addHeldAccounts"
            },
            "delete": {
              "flatPath": "v1/matters/{matterId}/holds/{holdId}",
              "id": "vault.matters.holds.delete",
              "httpMethod": "DELETE",
              "parameters": {
                "holdId": {
                  "type": "string",
                  "description": "The hold ID.",
                  "location": "path",
                  "required": true
                },
                "matterId": {
                  "type": "string",
                  "description": "The matter ID.",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "matterId",
                "holdId"
              ],
              "path": "v1/matters/{matterId}/holds/{holdId}",
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery"
              ],
              "description": "Removes the specified hold and releases the accounts or organizational unit covered by the hold. If the data is not preserved by another hold or retention rule, it might be purged.",
              "response": {
                "$ref": "Empty"
              }
            },
            "list": {
              "flatPath": "v1/matters/{matterId}/holds",
              "httpMethod": "GET",
              "parameters": {
                "matterId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "The matter ID."
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "The number of holds to return in the response, between 0 and 100 inclusive. Leaving this empty, or as 0, is the same as **page_size** = 100."
                },
                "view": {
                  "description": "The amount of detail to return for a hold.",
                  "enum": [
                    "HOLD_VIEW_UNSPECIFIED",
                    "BASIC_HOLD",
                    "FULL_HOLD"
                  ],
                  "location": "query",
                  "enumDescriptions": [
                    "Not specified. Defaults to **FULL_HOLD**.",
                    "Returns the hold ID, name, update time, service, and query.",
                    "Returns all details of **BASIC_HOLD** and the entities the hold applies to, such as accounts or organizational unit."
                  ],
                  "type": "string"
                },
                "pageToken": {
                  "description": "The pagination token as returned in the response. An empty token means start from the beginning.",
                  "location": "query",
                  "type": "string"
                }
              },
              "id": "vault.matters.holds.list",
              "parameterOrder": [
                "matterId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery",
                "https://www.googleapis.com/auth/ediscovery.readonly"
              ],
              "response": {
                "$ref": "ListHoldsResponse"
              },
              "description": "Lists the holds in a matter.",
              "path": "v1/matters/{matterId}/holds"
            },
            "update": {
              "description": "Updates the scope (organizational unit or accounts) and query parameters of a hold. You cannot add accounts to a hold that covers an organizational unit, nor can you add organizational units to a hold that covers individual accounts. If you try, the unsupported values are ignored.",
              "flatPath": "v1/matters/{matterId}/holds/{holdId}",
              "parameters": {
                "matterId": {
                  "required": true,
                  "description": "The matter ID.",
                  "location": "path",
                  "type": "string"
                },
                "holdId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "The ID of the hold."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery"
              ],
              "request": {
                "$ref": "Hold"
              },
              "httpMethod": "PUT",
              "response": {
                "$ref": "Hold"
              },
              "parameterOrder": [
                "matterId",
                "holdId"
              ],
              "id": "vault.matters.holds.update",
              "path": "v1/matters/{matterId}/holds/{holdId}"
            },
            "create": {
              "parameterOrder": [
                "matterId"
              ],
              "description": "Creates a hold in the specified matter.",
              "response": {
                "$ref": "Hold"
              },
              "flatPath": "v1/matters/{matterId}/holds",
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery"
              ],
              "httpMethod": "POST",
              "parameters": {
                "matterId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "The matter ID."
                }
              },
              "id": "vault.matters.holds.create",
              "request": {
                "$ref": "Hold"
              },
              "path": "v1/matters/{matterId}/holds"
            },
            "removeHeldAccounts": {
              "httpMethod": "POST",
              "path": "v1/matters/{matterId}/holds/{holdId}:removeHeldAccounts",
              "parameterOrder": [
                "matterId",
                "holdId"
              ],
              "description": "Removes the specified accounts from a hold. Returns a list of statuses in the same order as the request.",
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery"
              ],
              "parameters": {
                "holdId": {
                  "location": "path",
                  "description": "The hold ID.",
                  "required": true,
                  "type": "string"
                },
                "matterId": {
                  "required": true,
                  "type": "string",
                  "description": "The matter ID.",
                  "location": "path"
                }
              },
              "flatPath": "v1/matters/{matterId}/holds/{holdId}:removeHeldAccounts",
              "request": {
                "$ref": "RemoveHeldAccountsRequest"
              },
              "id": "vault.matters.holds.removeHeldAccounts",
              "response": {
                "$ref": "RemoveHeldAccountsResponse"
              }
            }
          },
          "resources": {
            "accounts": {
              "methods": {
                "list": {
                  "flatPath": "v1/matters/{matterId}/holds/{holdId}/accounts",
                  "parameterOrder": [
                    "matterId",
                    "holdId"
                  ],
                  "parameters": {
                    "holdId": {
                      "location": "path",
                      "description": "The hold ID.",
                      "required": true,
                      "type": "string"
                    },
                    "matterId": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "The matter ID."
                    }
                  },
                  "path": "v1/matters/{matterId}/holds/{holdId}/accounts",
                  "scopes": [
                    "https://www.googleapis.com/auth/ediscovery",
                    "https://www.googleapis.com/auth/ediscovery.readonly"
                  ],
                  "httpMethod": "GET",
                  "description": "Lists the accounts covered by a hold. This can list only individually-specified accounts covered by the hold. If the hold covers an organizational unit, use the [Admin SDK](https://developers.google.com/admin-sdk/). to list the members of the organizational unit on hold.",
                  "response": {
                    "$ref": "ListHeldAccountsResponse"
                  },
                  "id": "vault.matters.holds.accounts.list"
                },
                "create": {
                  "parameters": {
                    "matterId": {
                      "description": "The matter ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "holdId": {
                      "type": "string",
                      "description": "The hold ID.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1/matters/{matterId}/holds/{holdId}/accounts",
                  "response": {
                    "$ref": "HeldAccount"
                  },
                  "path": "v1/matters/{matterId}/holds/{holdId}/accounts",
                  "id": "vault.matters.holds.accounts.create",
                  "description": "Adds an account to a hold. Accounts can be added only to a hold that does not have an organizational unit set. If you try to add an account to an organizational unit-based hold, an error is returned.",
                  "scopes": [
                    "https://www.googleapis.com/auth/ediscovery"
                  ],
                  "request": {
                    "$ref": "HeldAccount"
                  },
                  "parameterOrder": [
                    "matterId",
                    "holdId"
                  ]
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/ediscovery"
                  ],
                  "httpMethod": "DELETE",
                  "description": "Removes an account from a hold.",
                  "id": "vault.matters.holds.accounts.delete",
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v1/matters/{matterId}/holds/{holdId}/accounts/{accountId}",
                  "flatPath": "v1/matters/{matterId}/holds/{holdId}/accounts/{accountId}",
                  "parameters": {
                    "holdId": {
                      "description": "The hold ID.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "matterId": {
                      "required": true,
                      "description": "The matter ID.",
                      "type": "string",
                      "location": "path"
                    },
                    "accountId": {
                      "required": true,
                      "description": "The ID of the account to remove from the hold.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "matterId",
                    "holdId",
                    "accountId"
                  ]
                }
              }
            }
          }
        },
        "savedQueries": {
          "methods": {
            "create": {
              "flatPath": "v1/matters/{matterId}/savedQueries",
              "description": "Creates a saved query.",
              "response": {
                "$ref": "SavedQuery"
              },
              "httpMethod": "POST",
              "path": "v1/matters/{matterId}/savedQueries",
              "id": "vault.matters.savedQueries.create",
              "parameters": {
                "matterId": {
                  "description": "The ID of the matter to create the saved query in.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "SavedQuery"
              },
              "parameterOrder": [
                "matterId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery"
              ]
            },
            "delete": {
              "flatPath": "v1/matters/{matterId}/savedQueries/{savedQueryId}",
              "id": "vault.matters.savedQueries.delete",
              "response": {
                "$ref": "Empty"
              },
              "path": "v1/matters/{matterId}/savedQueries/{savedQueryId}",
              "parameters": {
                "matterId": {
                  "location": "path",
                  "description": "The ID of the matter to delete the saved query from.",
                  "required": true,
                  "type": "string"
                },
                "savedQueryId": {
                  "description": "ID of the saved query to delete.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery"
              ],
              "parameterOrder": [
                "matterId",
                "savedQueryId"
              ],
              "description": "Deletes the specified saved query.",
              "httpMethod": "DELETE"
            },
            "list": {
              "path": "v1/matters/{matterId}/savedQueries",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery",
                "https://www.googleapis.com/auth/ediscovery.readonly"
              ],
              "flatPath": "v1/matters/{matterId}/savedQueries",
              "id": "vault.matters.savedQueries.list",
              "parameterOrder": [
                "matterId"
              ],
              "description": "Lists the saved queries in a matter.",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "The pagination token as returned in the previous response. An empty token means start from the beginning.",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "description": "The maximum number of saved queries to return.",
                  "type": "integer"
                },
                "matterId": {
                  "required": true,
                  "description": "The ID of the matter to get the saved queries for.",
                  "type": "string",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "ListSavedQueriesResponse"
              }
            },
            "get": {
              "path": "v1/matters/{matterId}/savedQueries/{savedQueryId}",
              "parameterOrder": [
                "matterId",
                "savedQueryId"
              ],
              "parameters": {
                "matterId": {
                  "description": "The ID of the matter to get the saved query from.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "savedQueryId": {
                  "type": "string",
                  "description": "ID of the saved query to retrieve.",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "v1/matters/{matterId}/savedQueries/{savedQueryId}",
              "id": "vault.matters.savedQueries.get",
              "response": {
                "$ref": "SavedQuery"
              },
              "description": "Retrieves the specified saved query.",
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery",
                "https://www.googleapis.com/auth/ediscovery.readonly"
              ],
              "httpMethod": "GET"
            }
          }
        }
      }
    },
    "operations": {
      "methods": {
        "delete": {
          "parameters": {
            "name": {
              "location": "path",
              "description": "The name of the operation resource to be deleted.",
              "type": "string",
              "pattern": "^operations/.*$",
              "required": true
            }
          },
          "response": {
            "$ref": "Empty"
          },
          "httpMethod": "DELETE",
          "parameterOrder": [
            "name"
          ],
          "path": "v1/{+name}",
          "flatPath": "v1/operations/{operationsId}",
          "id": "vault.operations.delete",
          "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`."
        },
        "list": {
          "id": "vault.operations.list",
          "response": {
            "$ref": "ListOperationsResponse"
          },
          "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
          "flatPath": "v1/operations",
          "parameters": {
            "name": {
              "required": true,
              "description": "The name of the operation's parent resource.",
              "location": "path",
              "type": "string",
              "pattern": "^operations$"
            },
            "pageSize": {
              "location": "query",
              "type": "integer",
              "description": "The standard list page size.",
              "format": "int32"
            },
            "filter": {
              "location": "query",
              "description": "The standard list filter.",
              "type": "string"
            },
            "pageToken": {
              "description": "The standard list page token.",
              "location": "query",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "path": "v1/{+name}"
        },
        "get": {
          "httpMethod": "GET",
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery",
            "https://www.googleapis.com/auth/ediscovery.readonly"
          ],
          "id": "vault.operations.get",
          "path": "v1/{+name}",
          "flatPath": "v1/operations/{operationsId}",
          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^operations/.*$",
              "location": "path",
              "description": "The name of the operation resource.",
              "required": true
            }
          }
        },
        "cancel": {
          "flatPath": "v1/operations/{operationsId}:cancel",
          "httpMethod": "POST",
          "parameters": {
            "name": {
              "type": "string",
              "location": "path",
              "pattern": "^operations/.*$",
              "description": "The name of the operation resource to be cancelled.",
              "required": true
            }
          },
          "id": "vault.operations.cancel",
          "path": "v1/{+name}:cancel",
          "request": {
            "$ref": "CancelOperationRequest"
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Empty"
          },
          "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "version": "v1",
  "mtlsRootUrl": "https://vault.mtls.googleapis.com/",
  "basePath": "",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "revision": "20230323",
  "canonicalName": "Vault",
  "id": "vault:v1",
  "description": "Retention and eDiscovery for Google Workspace. To work with Vault resources, the account must have the [required Vault privileges](https://support.google.com/vault/answer/2799699) and access to the matter. To access a matter, the account must have created the matter, have the matter shared with them, or have the **View All Matters** privilege. For example, to download an export, an account needs the **Manage Exports** privilege and the matter shared with them. ",
  "version_module": true,
  "schemas": {
    "MailCountResult": {
      "description": "Gmail and classic Hangouts-specific count metrics.",
      "type": "object",
      "properties": {
        "matchingAccountsCount": {
          "description": "Total number of accounts that can be queried and have more than zero messages.",
          "type": "string",
          "format": "int64"
        },
        "queriedAccountsCount": {
          "format": "int64",
          "type": "string",
          "description": "Total number of accounts involved in this count operation."
        },
        "nonQueryableAccounts": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "When **DataScope** is **HELD_DATA** and when account emails are passed in explicitly, the list of accounts in the request that are not queried because they are not on hold in the matter. For other data scopes, this field is not set."
        },
        "accountCounts": {
          "description": "Subtotal count per matching account that have more than zero messages.",
          "items": {
            "$ref": "AccountCount"
          },
          "type": "array"
        },
        "accountCountErrors": {
          "type": "array",
          "items": {
            "$ref": "AccountCountError"
          },
          "description": "Errors occurred when querying these accounts."
        }
      },
      "id": "MailCountResult"
    },
    "RemoveMatterPermissionsRequest": {
      "type": "object",
      "description": "Remove an account as a matter collaborator.",
      "properties": {
        "accountId": {
          "description": "The account ID.",
          "type": "string"
        }
      },
      "id": "RemoveMatterPermissionsRequest"
    },
    "GroupsExportOptions": {
      "properties": {
        "exportFormat": {
          "enum": [
            "EXPORT_FORMAT_UNSPECIFIED",
            "MBOX",
            "PST"
          ],
          "enumDescriptions": [
            "No export format specified.",
            "Export as MBOX. Only available for Gmail, Groups, Hangouts and Voice.",
            "Export as PST. Only available for Gmail, Groups, Hangouts, Voice and Calendar."
          ],
          "description": "The file format for exported messages.",
          "type": "string"
        }
      },
      "id": "GroupsExportOptions",
      "description": "Options for Groups exports.",
      "type": "object"
    },
    "ReopenMatterRequest": {
      "id": "ReopenMatterRequest",
      "properties": {},
      "description": "Reopen a matter by ID.",
      "type": "object"
    },
    "RemoveHeldAccountsRequest": {
      "id": "RemoveHeldAccountsRequest",
      "properties": {
        "accountIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The account IDs of the accounts to remove from the hold."
        }
      },
      "description": "Remove a list of accounts from a hold.",
      "type": "object"
    },
    "ReopenMatterResponse": {
      "description": "Response to a ReopenMatterRequest.",
      "type": "object",
      "id": "ReopenMatterResponse",
      "properties": {
        "matter": {
          "description": "The updated matter, with state **OPEN**.",
          "$ref": "Matter"
        }
      }
    },
    "RemoveHeldAccountsResponse": {
      "id": "RemoveHeldAccountsResponse",
      "type": "object",
      "description": "Response for batch delete held accounts.",
      "properties": {
        "statuses": {
          "type": "array",
          "description": "A list of statuses for the deleted accounts. Results have the same order as the request.",
          "items": {
            "$ref": "Status"
          }
        }
      }
    },
    "TeamDriveInfo": {
      "properties": {
        "teamDriveIds": {
          "description": "List of Team Drive IDs, as provided by the [Drive API](https://developers.google.com/drive).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "TeamDriveInfo",
      "description": "Team Drives to search",
      "type": "object"
    },
    "HeldHangoutsChatQuery": {
      "description": "Options for Chat holds.",
      "properties": {
        "includeRooms": {
          "type": "boolean",
          "description": "To include messages in Chat spaces the user was a member of, set to **true**."
        }
      },
      "type": "object",
      "id": "HeldHangoutsChatQuery"
    },
    "ExportOptions": {
      "type": "object",
      "id": "ExportOptions",
      "properties": {
        "groupsOptions": {
          "description": "Options for Groups exports.",
          "$ref": "GroupsExportOptions"
        },
        "driveOptions": {
          "description": "Options for Drive exports.",
          "$ref": "DriveExportOptions"
        },
        "hangoutsChatOptions": {
          "description": "Options for Chat exports.",
          "$ref": "HangoutsChatExportOptions"
        },
        "mailOptions": {
          "$ref": "MailExportOptions",
          "description": "Options for Gmail exports."
        },
        "region": {
          "description": "The requested data region for the export.",
          "enum": [
            "EXPORT_REGION_UNSPECIFIED",
            "ANY",
            "US",
            "EUROPE"
          ],
          "enumDescriptions": [
            "The region is unspecified. Defaults to ANY.",
            "Any region.",
            "United States region.",
            "Europe region."
          ],
          "type": "string"
        },
        "voiceOptions": {
          "$ref": "VoiceExportOptions",
          "description": "Options for Voice exports."
        }
      },
      "description": "Additional options for exports"
    },
    "CountArtifactsRequest": {
      "id": "CountArtifactsRequest",
      "description": "Count artifacts request.",
      "properties": {
        "query": {
          "$ref": "Query",
          "description": "The search query."
        },
        "view": {
          "description": "Sets the granularity of the count results.",
          "enum": [
            "COUNT_RESULT_VIEW_UNSPECIFIED",
            "TOTAL_COUNT",
            "ALL"
          ],
          "enumDescriptions": [
            "Default. Same as **TOTAL_COUNT**.",
            "Response includes counts of the total accounts, queried accounts, matching accounts, non-queryable accounts, and queried account errors.",
            "Response includes the same details as **TOTAL_COUNT**, plus additional account breakdown."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "Operation": {
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "response": {
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        }
      },
      "id": "Operation"
    },
    "CloudStorageFile": {
      "id": "CloudStorageFile",
      "type": "object",
      "description": "The export file in Cloud Storage",
      "properties": {
        "bucketName": {
          "description": "The name of the Cloud Storage bucket for the export file. You can use this value in the [Cloud Storage JSON or XML APIs](https://cloud.google.com/storage/docs/apis), but not to list the bucket contents. Instead, you can [get individual export files](https://cloud.google.com/storage/docs/json_api/v1/objects/get) by object name.",
          "type": "string"
        },
        "md5Hash": {
          "type": "string",
          "description": "The md5 hash of the file."
        },
        "objectName": {
          "type": "string",
          "description": "The name of the Cloud Storage object for the export file. You can use this value in the [Cloud Storage JSON or XML APIs](https://cloud.google.com/storage/docs/apis)."
        },
        "size": {
          "description": "The export file size.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "Matter": {
      "properties": {
        "matterPermissions": {
          "type": "array",
          "description": "Lists the users and their permission for the matter. Currently there is no programmer defined limit on the number of permissions a matter can have.",
          "items": {
            "$ref": "MatterPermission"
          }
        },
        "description": {
          "description": "An optional description for the matter.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "The matter has no specified state.",
            "The matter is open.",
            "The matter is closed.",
            "The matter is deleted."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "OPEN",
            "CLOSED",
            "DELETED"
          ],
          "description": "The state of the matter.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the matter."
        },
        "matterId": {
          "type": "string",
          "description": "The matter ID, which is generated by the server. Leave blank when creating a matter."
        }
      },
      "description": "Represents a matter. To work with Vault resources, the account must have the [required Vault privileges] (https://support.google.com/vault/answer/2799699) and access to the matter. To access a matter, the account must have created the matter, have the matter shared with them, or have the **View All Matters** privilege.",
      "id": "Matter",
      "type": "object"
    },
    "VoiceExportOptions": {
      "type": "object",
      "id": "VoiceExportOptions",
      "description": "The options for Voice exports.",
      "properties": {
        "exportFormat": {
          "enumDescriptions": [
            "No export format specified.",
            "Export as MBOX. Only available for Gmail, Groups, Hangouts and Voice.",
            "Export as PST. Only available for Gmail, Groups, Hangouts, Voice and Calendar."
          ],
          "type": "string",
          "enum": [
            "EXPORT_FORMAT_UNSPECIFIED",
            "MBOX",
            "PST"
          ],
          "description": "The file format for exported text messages."
        }
      }
    },
    "AddHeldAccountResult": {
      "type": "object",
      "properties": {
        "status": {
          "description": "Reports the request status. If it failed, returns an error message.",
          "$ref": "Status"
        },
        "account": {
          "description": "Returned when the account was successfully created.",
          "$ref": "HeldAccount"
        }
      },
      "description": "The status of each account creation, and the **HeldAccount**, if successful.",
      "id": "AddHeldAccountResult"
    },
    "HeldGroupsQuery": {
      "description": "Query options for group holds.",
      "properties": {
        "endTime": {
          "type": "string",
          "description": "The end time for the query. Specify in GMT. The value is rounded to 12 AM on the specified date.",
          "format": "google-datetime"
        },
        "startTime": {
          "description": "The start time for the query. Specify in GMT. The value is rounded to 12 AM on the specified date.",
          "format": "google-datetime",
          "type": "string"
        },
        "terms": {
          "type": "string",
          "description": "The [search operators](https://support.google.com/vault/answer/2474474) used to refine the messages covered by the hold."
        }
      },
      "type": "object",
      "id": "HeldGroupsQuery"
    },
    "HangoutsChatOptions": {
      "description": "Additional options for Google Chat search",
      "id": "HangoutsChatOptions",
      "properties": {
        "includeRooms": {
          "description": "For searches by account or organizational unit, set to **true** to include rooms.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "ListExportsResponse": {
      "id": "ListExportsResponse",
      "description": "The exports for a matter.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Page token to retrieve the next page of results in the list.",
          "type": "string"
        },
        "exports": {
          "items": {
            "$ref": "Export"
          },
          "description": "The list of exports.",
          "type": "array"
        }
      }
    },
    "HeldVoiceQuery": {
      "properties": {
        "coveredData": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Covered data unspecified.",
              "Voice text messages.",
              "Voicemails and their transcripts.",
              "Call logs."
            ],
            "enum": [
              "COVERED_DATA_UNSPECIFIED",
              "TEXT_MESSAGES",
              "VOICEMAILS",
              "CALL_LOGS"
            ]
          },
          "description": "A list of data types covered by the hold. Should be non-empty. Order does not matter and duplicates are ignored.",
          "type": "array"
        }
      },
      "description": "Options for Voice holds.",
      "id": "HeldVoiceQuery",
      "type": "object"
    },
    "HeldOrgUnit": {
      "description": "The organizational unit covered by a hold. This structure is immutable.",
      "type": "object",
      "properties": {
        "orgUnitId": {
          "type": "string",
          "description": "The organizational unit's immutable ID as provided by the [Admin SDK](https://developers.google.com/admin-sdk/)."
        },
        "holdTime": {
          "format": "google-datetime",
          "description": "When the organizational unit was put on hold. This property is immutable.",
          "type": "string"
        }
      },
      "id": "HeldOrgUnit"
    },
    "CloseMatterRequest": {
      "properties": {},
      "id": "CloseMatterRequest",
      "type": "object",
      "description": "Close a matter by ID."
    },
    "UndeleteMatterRequest": {
      "id": "UndeleteMatterRequest",
      "properties": {},
      "description": "Undelete a matter by ID.",
      "type": "object"
    },
    "ListMattersResponse": {
      "type": "object",
      "description": "Provides the list of matters.",
      "id": "ListMattersResponse",
      "properties": {
        "matters": {
          "description": "List of matters.",
          "items": {
            "$ref": "Matter"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Page token to retrieve the next page of results in the list.",
          "type": "string"
        }
      }
    },
    "AddHeldAccountsResponse": {
      "properties": {
        "responses": {
          "description": "The list of responses, in the same order as the batch request.",
          "type": "array",
          "items": {
            "$ref": "AddHeldAccountResult"
          }
        }
      },
      "type": "object",
      "id": "AddHeldAccountsResponse",
      "description": "Response for batch create held accounts."
    },
    "ListSavedQueriesResponse": {
      "type": "object",
      "id": "ListSavedQueriesResponse",
      "properties": {
        "nextPageToken": {
          "description": "Page token to retrieve the next page of results in the list. If this is empty, then there are no more saved queries to list.",
          "type": "string"
        },
        "savedQueries": {
          "type": "array",
          "items": {
            "$ref": "SavedQuery"
          },
          "description": "List of saved queries."
        }
      },
      "description": "Definition of the response for method ListSaveQuery."
    },
    "ExportStats": {
      "id": "ExportStats",
      "type": "object",
      "description": "Progress information for an export.",
      "properties": {
        "totalArtifactCount": {
          "description": "The number of messages or files to be exported.",
          "type": "string",
          "format": "int64"
        },
        "sizeInBytes": {
          "format": "int64",
          "description": "The size of export in bytes.",
          "type": "string"
        },
        "exportedArtifactCount": {
          "type": "string",
          "description": "The number of messages or files already processed for export.",
          "format": "int64"
        }
      }
    },
    "DriveOptions": {
      "type": "object",
      "description": "Additional options for Drive search",
      "id": "DriveOptions",
      "properties": {
        "includeTeamDrives": {
          "description": "Set to true to include Team Drive.",
          "type": "boolean"
        },
        "includeSharedDrives": {
          "description": "Set to **true** to include shared drives.",
          "type": "boolean"
        },
        "versionDate": {
          "format": "google-datetime",
          "type": "string",
          "description": "Search the current version of the Drive file, but export the contents of the last version saved before 12:00 AM UTC on the specified date. Enter the date in UTC."
        },
        "clientSideEncryptedOption": {
          "type": "string",
          "description": "Set whether the results include only content encrypted with [Google Workspace Client-side encryption](https://support.google.com/a?p=cse_ov) content, only unencrypted content, or both. Defaults to both. Currently supported for Drive.",
          "enum": [
            "CLIENT_SIDE_ENCRYPTED_OPTION_UNSPECIFIED",
            "CLIENT_SIDE_ENCRYPTED_OPTION_ANY",
            "CLIENT_SIDE_ENCRYPTED_OPTION_ENCRYPTED",
            "CLIENT_SIDE_ENCRYPTED_OPTION_UNENCRYPTED"
          ],
          "enumDescriptions": [
            "Encryption status unspecified. Results include both client-side encrypted and non-encrypted content.",
            "Include both client-side encrypted and unencrypted content in results.",
            "Include client-side encrypted content only.",
            "Include unencrypted content only."
          ]
        }
      }
    },
    "AccountInfo": {
      "properties": {
        "emails": {
          "type": "array",
          "description": "A set of accounts to search.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "The accounts to search",
      "id": "AccountInfo"
    },
    "HangoutsChatInfo": {
      "id": "HangoutsChatInfo",
      "type": "object",
      "properties": {
        "roomId": {
          "description": "A list of Chat spaces IDs, as provided by the [Chat API](https://developers.google.com/chat). There is a limit of exporting from 500 Chat spaces per request.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "The Chat spaces to search"
    },
    "SavedQuery": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The name of the saved query."
        },
        "savedQueryId": {
          "description": "A unique identifier for the saved query.",
          "type": "string"
        },
        "query": {
          "$ref": "Query",
          "description": "The search parameters of the saved query."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The server-generated timestamp when the saved query was created."
        },
        "matterId": {
          "description": "Output only. The matter ID of the matter the saved query is saved in. The server does not use this field during create and always uses matter ID in the URL.",
          "type": "string"
        }
      },
      "id": "SavedQuery",
      "description": "The definition of a saved query. To work with Vault resources, the account must have the [required Vault privileges](https://support.google.com/vault/answer/2799699) and access to the matter. To access a matter, the account must have created the matter, have the matter shared with them, or have the **View All Matters** privilege.",
      "type": "object"
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "properties": {},
      "description": "The request message for Operations.CancelOperation.",
      "type": "object"
    },
    "OrgUnitInfo": {
      "id": "OrgUnitInfo",
      "type": "object",
      "description": "The organizational unit to search",
      "properties": {
        "orgUnitId": {
          "description": "The name of the organizational unit to search, as provided by the [Admin SDK Directory API](https://developers.google.com/admin-sdk/directory/).",
          "type": "string"
        }
      }
    },
    "HangoutsChatExportOptions": {
      "properties": {
        "exportFormat": {
          "description": "The file format for exported messages.",
          "type": "string",
          "enum": [
            "EXPORT_FORMAT_UNSPECIFIED",
            "MBOX",
            "PST"
          ],
          "enumDescriptions": [
            "No export format specified.",
            "Export as MBOX. Only available for Gmail, Groups, Hangouts and Voice.",
            "Export as PST. Only available for Gmail, Groups, Hangouts, Voice and Calendar."
          ]
        }
      },
      "description": "Options for Chat exports.",
      "type": "object",
      "id": "HangoutsChatExportOptions"
    },
    "CountArtifactsMetadata": {
      "properties": {
        "query": {
          "description": "The search query from the request.",
          "$ref": "Query"
        },
        "matterId": {
          "description": "The matter ID of the associated matter.",
          "type": "string"
        },
        "startTime": {
          "description": "Creation time of count operation.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "End time of count operation. Available when operation is done.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Long running operation metadata for CountArtifacts.",
      "id": "CountArtifactsMetadata",
      "type": "object"
    },
    "AddMatterPermissionsRequest": {
      "description": "Add an account with the permission specified. The role cannot be owner. If an account already has a role in the matter, the existing role is overwritten.",
      "id": "AddMatterPermissionsRequest",
      "type": "object",
      "properties": {
        "matterPermission": {
          "$ref": "MatterPermission",
          "description": "The account and its role to add."
        },
        "ccMe": {
          "description": "Only relevant if **sendEmails** is **true**. To CC the requestor in the email message, set to **true**. To not CC requestor, set to **false**.",
          "type": "boolean"
        },
        "sendEmails": {
          "description": "To send a notification email to the added account, set to **true**. To not send a notification email, set to **false**.",
          "type": "boolean"
        }
      }
    },
    "Export": {
      "description": "An export. To work with Vault resources, the account must have the [required Vault privileges](https://support.google.com/vault/answer/2799699) and access to the matter. To access a matter, the account must have created the matter, have the matter shared with them, or have the **View All Matters** privilege.",
      "properties": {
        "cloudStorageSink": {
          "description": "Output only. The sink for export files in Cloud Storage.",
          "$ref": "CloudStorageSink"
        },
        "exportOptions": {
          "$ref": "ExportOptions",
          "description": "Additional export options."
        },
        "requester": {
          "description": "Output only. The requester of the export.",
          "$ref": "UserInfo"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time when the export was created.",
          "type": "string"
        },
        "id": {
          "description": "Output only. The generated export ID.",
          "type": "string"
        },
        "matterId": {
          "type": "string",
          "description": "Output only. The matter ID."
        },
        "status": {
          "enum": [
            "EXPORT_STATUS_UNSPECIFIED",
            "COMPLETED",
            "FAILED",
            "IN_PROGRESS"
          ],
          "enumDescriptions": [
            "The status is unspecified.",
            "The export completed.",
            "The export failed.",
            "The export is in progress."
          ],
          "description": "Output only. The status of the export.",
          "type": "string"
        },
        "query": {
          "$ref": "Query",
          "description": "The query parameters used to create the export."
        },
        "name": {
          "description": "The export name. Don't use special characters (~!$'(),;@:/?) in the name, they can prevent you from downloading exports.",
          "type": "string"
        },
        "stats": {
          "$ref": "ExportStats",
          "description": "Output only. Details about the export progress and size."
        }
      },
      "id": "Export",
      "type": "object"
    },
    "UserInfo": {
      "id": "UserInfo",
      "properties": {
        "email": {
          "type": "string",
          "description": "The email address of the user."
        },
        "displayName": {
          "description": "The displayed name of the user.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "User's information."
    },
    "HeldMailQuery": {
      "properties": {
        "terms": {
          "description": "The [search operators](https://support.google.com/vault/answer/2474474) used to refine the messages covered by the hold.",
          "type": "string"
        },
        "endTime": {
          "description": "The end time for the query. Specify in GMT. The value is rounded to 12 AM on the specified date.",
          "type": "string",
          "format": "google-datetime"
        },
        "startTime": {
          "description": "The start time for the query. Specify in GMT. The value is rounded to 12 AM on the specified date.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "HeldMailQuery",
      "description": "Query options for Gmail holds.",
      "type": "object"
    },
    "Hold": {
      "id": "Hold",
      "properties": {
        "updateTime": {
          "description": "The last time this hold was modified.",
          "type": "string",
          "format": "google-datetime"
        },
        "query": {
          "description": "Service-specific options. If set, **CorpusQuery** must match **CorpusType**.",
          "$ref": "CorpusQuery"
        },
        "holdId": {
          "description": "The unique immutable ID of the hold. Assigned during creation.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the hold."
        },
        "orgUnit": {
          "$ref": "HeldOrgUnit",
          "description": "If set, the hold applies to all members of the organizational unit and **accounts** must be empty. This property is mutable. For Groups holds, set **accounts**."
        },
        "corpus": {
          "type": "string",
          "description": "The service to be searched.",
          "enumDescriptions": [
            "No service specified.",
            "Drive, including Meet and Sites.",
            "For search, Gmail and classic Hangouts. For holds, Gmail only.",
            "Groups.",
            "For export, Google Chat only. For holds, Google Chat and classic Hangouts.",
            "Google Voice."
          ],
          "enum": [
            "CORPUS_TYPE_UNSPECIFIED",
            "DRIVE",
            "MAIL",
            "GROUPS",
            "HANGOUTS_CHAT",
            "VOICE"
          ]
        },
        "accounts": {
          "items": {
            "$ref": "HeldAccount"
          },
          "type": "array",
          "description": "If set, the hold applies to the specified accounts and **orgUnit** must be empty."
        }
      },
      "type": "object",
      "description": "A hold. A hold prevents the specified Google Workspace service from purging data for specific accounts or all members of an organizational unit. To work with Vault resources, the account must have the [required Vault privileges] (https://support.google.com/vault/answer/2799699) and access to the matter. To access a matter, the account must have created the matter, have the matter shared with them, or have the **View All Matters** privilege."
    },
    "ListHoldsResponse": {
      "type": "object",
      "properties": {
        "holds": {
          "items": {
            "$ref": "Hold"
          },
          "type": "array",
          "description": "The list of holds."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Page token to retrieve the next page of results in the list. If this is empty, then there are no more holds to list."
        }
      },
      "id": "ListHoldsResponse",
      "description": "The holds for a matter."
    },
    "VoiceOptions": {
      "description": "Additional options for Voice search",
      "properties": {
        "coveredData": {
          "items": {
            "enumDescriptions": [
              "Covered data unspecified.",
              "Voice text messages.",
              "Voicemails and their transcripts.",
              "Call logs."
            ],
            "enum": [
              "COVERED_DATA_UNSPECIFIED",
              "TEXT_MESSAGES",
              "VOICEMAILS",
              "CALL_LOGS"
            ],
            "type": "string"
          },
          "description": "Datatypes to search",
          "type": "array"
        }
      },
      "id": "VoiceOptions",
      "type": "object"
    },
    "HeldDriveQuery": {
      "description": "Options for Drive holds.",
      "id": "HeldDriveQuery",
      "properties": {
        "includeTeamDriveFiles": {
          "description": "To include files in Team Drives in the hold, set to **true**.",
          "type": "boolean"
        },
        "includeSharedDriveFiles": {
          "description": "To include files in shared drives in the hold, set to **true**.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "CorpusQuery": {
      "id": "CorpusQuery",
      "description": "Service-specific options for holds.",
      "properties": {
        "hangoutsChatQuery": {
          "$ref": "HeldHangoutsChatQuery",
          "description": "Service-specific options for Chat holds. If set, **CorpusType** must be **HANGOUTS_CHAT**."
        },
        "driveQuery": {
          "description": "Service-specific options for Drive holds. If set, **CorpusType** must be **DRIVE**.",
          "$ref": "HeldDriveQuery"
        },
        "mailQuery": {
          "$ref": "HeldMailQuery",
          "description": "Service-specific options for Gmail holds. If set, **CorpusType** must be **MAIL**."
        },
        "voiceQuery": {
          "$ref": "HeldVoiceQuery",
          "description": "Service-specific options for Voice holds. If set, **CorpusType** must be **VOICE**."
        },
        "groupsQuery": {
          "description": "Service-specific options for Groups holds. If set, **CorpusType** must be **GROUPS**.",
          "$ref": "HeldGroupsQuery"
        }
      },
      "type": "object"
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "type": "object"
    },
    "MailExportOptions": {
      "type": "object",
      "id": "MailExportOptions",
      "properties": {
        "useNewExport": {
          "description": "To use the new export system, set to **true**.",
          "type": "boolean"
        },
        "exportFormat": {
          "enum": [
            "EXPORT_FORMAT_UNSPECIFIED",
            "MBOX",
            "PST"
          ],
          "enumDescriptions": [
            "No export format specified.",
            "Export as MBOX. Only available for Gmail, Groups, Hangouts and Voice.",
            "Export as PST. Only available for Gmail, Groups, Hangouts, Voice and Calendar."
          ],
          "description": "The file format for exported messages.",
          "type": "string"
        },
        "showConfidentialModeContent": {
          "description": "To export confidential mode content, set to **true**.",
          "type": "boolean"
        }
      },
      "description": "Options for Gmail exports."
    },
    "SitesUrlInfo": {
      "description": "The published site URLs of new Google Sites to search",
      "type": "object",
      "id": "SitesUrlInfo",
      "properties": {
        "urls": {
          "description": "A list of published site URLs.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GroupsCountResult": {
      "properties": {
        "queriedAccountsCount": {
          "type": "string",
          "description": "Total number of accounts involved in this count operation.",
          "format": "int64"
        },
        "accountCountErrors": {
          "items": {
            "$ref": "AccountCountError"
          },
          "type": "array",
          "description": "Error occurred when querying these accounts."
        },
        "nonQueryableAccounts": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "When **DataScope** is **HELD_DATA**, these accounts in the request are not queried because they are not on hold. For other data scope, this field is not set."
        },
        "accountCounts": {
          "items": {
            "$ref": "AccountCount"
          },
          "type": "array",
          "description": "Subtotal count per matching account that have more than zero messages."
        },
        "matchingAccountsCount": {
          "type": "string",
          "format": "int64",
          "description": "Total number of accounts that can be queried and have more than zero messages."
        }
      },
      "type": "object",
      "description": "Groups specific count metrics.",
      "id": "GroupsCountResult"
    },
    "AddHeldAccountsRequest": {
      "type": "object",
      "description": "Add a list of accounts to a hold.",
      "properties": {
        "emails": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A comma-separated list of the emails of the accounts to add to the hold. Specify either **emails** or **account_ids**, but not both."
        },
        "accountIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A comma-separated list of the account IDs of the accounts to add to the hold. Specify either **emails** or **account_ids**, but not both."
        }
      },
      "id": "AddHeldAccountsRequest"
    },
    "Query": {
      "id": "Query",
      "type": "object",
      "properties": {
        "voiceOptions": {
          "description": "Set Voice search-specific options.",
          "$ref": "VoiceOptions"
        },
        "startTime": {
          "type": "string",
          "description": "The start time for the search query. Specify in GMT. The value is rounded to 12 AM on the specified date.",
          "format": "google-datetime"
        },
        "sitesUrlInfo": {
          "description": "Required when **SearchMethod** is **SITES_URL**.",
          "$ref": "SitesUrlInfo"
        },
        "driveOptions": {
          "$ref": "DriveOptions",
          "description": "Set Drive search-specific options."
        },
        "dataScope": {
          "enum": [
            "DATA_SCOPE_UNSPECIFIED",
            "ALL_DATA",
            "HELD_DATA",
            "UNPROCESSED_DATA"
          ],
          "type": "string",
          "enumDescriptions": [
            "No data source specified.",
            "All available data.",
            "Only data on hold.",
            "Only data not yet processed by Vault. (Gmail and Groups only)"
          ],
          "description": "The data source to search."
        },
        "terms": {
          "description": "Service-specific [search operators](https://support.google.com/vault/answer/2474474) to filter search results.",
          "type": "string"
        },
        "teamDriveInfo": {
          "description": "Required when **SearchMethod** is **TEAM_DRIVE**.",
          "$ref": "TeamDriveInfo"
        },
        "sharedDriveInfo": {
          "description": "Required when **SearchMethod** is **SHARED_DRIVE**.",
          "$ref": "SharedDriveInfo"
        },
        "method": {
          "description": "The entity to search. This field replaces **searchMethod** to support shared drives. When **searchMethod** is **TEAM_DRIVE**, the response of this field is **SHARED_DRIVE**.",
          "enum": [
            "SEARCH_METHOD_UNSPECIFIED",
            "ACCOUNT",
            "ORG_UNIT",
            "TEAM_DRIVE",
            "ENTIRE_ORG",
            "ROOM",
            "SITES_URL",
            "SHARED_DRIVE"
          ],
          "enumDescriptions": [
            "A search method must be specified or else it is rejected.",
            "Search the data of the accounts specified in [AccountInfo](https://developers.google.com/vault/reference/rest/v1/Query#accountinfo).",
            "Search the data of all accounts in the organizational unit specified in [OrgUnitInfo](https://developers.google.com/vault/reference/rest/v1/Query#orgunitinfo).",
            "Search the data in the Team Drive specified in **team_drive_info**.",
            "Search the data of all accounts in the organization. Supported only for Gmail. When specified, you don't need to specify **AccountInfo** or **OrgUnitInfo**.",
            "Search messages in the Chat spaces specified in [HangoutsChatInfo](https://developers.google.com/vault/reference/rest/v1/Query#hangoutschatinfo).",
            "Search for sites by the published site URLs specified in [SitesUrlInfo](https://developers.google.com/vault/reference/rest/v1/Query#sitesurlinfo).",
            "Search the files in the shared drives specified in [SharedDriveInfo](https://developers.google.com/vault/reference/rest/v1/Query#shareddriveinfo)."
          ],
          "type": "string"
        },
        "timeZone": {
          "description": "The time zone name. It should be an IANA TZ name, such as \"America/Los_Angeles\". For a list of time zone names, see [Time Zone](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones). For more information about how Vault uses time zones, see [the Vault help center](https://support.google.com/vault/answer/6092995#time).",
          "type": "string"
        },
        "mailOptions": {
          "$ref": "MailOptions",
          "description": "Set Gmail search-specific options."
        },
        "hangoutsChatInfo": {
          "description": "Required when **SearchMethod** is **ROOM**. (read-only)",
          "$ref": "HangoutsChatInfo"
        },
        "corpus": {
          "enumDescriptions": [
            "No service specified.",
            "Drive, including Meet and Sites.",
            "For search, Gmail and classic Hangouts. For holds, Gmail only.",
            "Groups.",
            "For export, Google Chat only. For holds, Google Chat and classic Hangouts.",
            "Google Voice."
          ],
          "description": "The Google Workspace service to search.",
          "enum": [
            "CORPUS_TYPE_UNSPECIFIED",
            "DRIVE",
            "MAIL",
            "GROUPS",
            "HANGOUTS_CHAT",
            "VOICE"
          ],
          "type": "string"
        },
        "orgUnitInfo": {
          "$ref": "OrgUnitInfo",
          "description": "Required when **SearchMethod** is **ORG_UNIT**."
        },
        "endTime": {
          "description": "The end time for the search query. Specify in GMT. The value is rounded to 12 AM on the specified date.",
          "format": "google-datetime",
          "type": "string"
        },
        "searchMethod": {
          "enum": [
            "SEARCH_METHOD_UNSPECIFIED",
            "ACCOUNT",
            "ORG_UNIT",
            "TEAM_DRIVE",
            "ENTIRE_ORG",
            "ROOM",
            "SITES_URL",
            "SHARED_DRIVE"
          ],
          "enumDescriptions": [
            "A search method must be specified or else it is rejected.",
            "Search the data of the accounts specified in [AccountInfo](https://developers.google.com/vault/reference/rest/v1/Query#accountinfo).",
            "Search the data of all accounts in the organizational unit specified in [OrgUnitInfo](https://developers.google.com/vault/reference/rest/v1/Query#orgunitinfo).",
            "Search the data in the Team Drive specified in **team_drive_info**.",
            "Search the data of all accounts in the organization. Supported only for Gmail. When specified, you don't need to specify **AccountInfo** or **OrgUnitInfo**.",
            "Search messages in the Chat spaces specified in [HangoutsChatInfo](https://developers.google.com/vault/reference/rest/v1/Query#hangoutschatinfo).",
            "Search for sites by the published site URLs specified in [SitesUrlInfo](https://developers.google.com/vault/reference/rest/v1/Query#sitesurlinfo).",
            "Search the files in the shared drives specified in [SharedDriveInfo](https://developers.google.com/vault/reference/rest/v1/Query#shareddriveinfo)."
          ],
          "type": "string",
          "description": "The search method to use."
        },
        "accountInfo": {
          "$ref": "AccountInfo",
          "description": "Required when **SearchMethod** is **ACCOUNT**."
        },
        "hangoutsChatOptions": {
          "description": "Set Chat search-specific options. (read-only)",
          "$ref": "HangoutsChatOptions"
        }
      },
      "description": "The query definition used for search and export."
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        }
      },
      "id": "ListOperationsResponse"
    },
    "Status": {
      "id": "Status",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object"
    },
    "SharedDriveInfo": {
      "description": "The shared drives to search",
      "properties": {
        "sharedDriveIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of shared drive IDs, as provided by the [Drive API](https://developers.google.com/drive)."
        }
      },
      "type": "object",
      "id": "SharedDriveInfo"
    },
    "DriveExportOptions": {
      "properties": {
        "includeAccessInfo": {
          "description": "To include access level information for users with [indirect access](https://support.google.com/vault/answer/6099459#metadata) to files, set to **true**.",
          "type": "boolean"
        }
      },
      "description": "Options for Drive exports.",
      "id": "DriveExportOptions",
      "type": "object"
    },
    "HeldAccount": {
      "type": "object",
      "properties": {
        "email": {
          "description": "The primary email address of the account. If used as an input, this takes precedence over **accountId**.",
          "type": "string"
        },
        "holdTime": {
          "description": "Output only. When the account was put on hold.",
          "type": "string",
          "format": "google-datetime"
        },
        "accountId": {
          "type": "string",
          "description": "The account ID, as provided by the [Admin SDK](https://developers.google.com/admin-sdk/)."
        },
        "firstName": {
          "type": "string",
          "description": "Output only. The first name of the account holder."
        },
        "lastName": {
          "description": "Output only. The last name of the account holder.",
          "type": "string"
        }
      },
      "id": "HeldAccount",
      "description": "An account covered by a hold. This structure is immutable. It can be an individual account or a Google Group, depending on the service. To work with Vault resources, the account must have the [required Vault privileges] (https://support.google.com/vault/answer/2799699) and access to the matter. To access a matter, the account must have created the matter, have the matter shared with them, or have the **View All Matters** privilege."
    },
    "ListHeldAccountsResponse": {
      "properties": {
        "accounts": {
          "description": "The held accounts on a hold.",
          "items": {
            "$ref": "HeldAccount"
          },
          "type": "array"
        }
      },
      "description": "Returns a list of the accounts covered by a hold.",
      "id": "ListHeldAccountsResponse",
      "type": "object"
    },
    "CloudStorageSink": {
      "id": "CloudStorageSink",
      "properties": {
        "files": {
          "type": "array",
          "description": "Output only. The exported files in Cloud Storage.",
          "items": {
            "$ref": "CloudStorageFile"
          }
        }
      },
      "description": "Export sink for Cloud Storage files.",
      "type": "object"
    },
    "MailOptions": {
      "description": "Additional options for Gmail search",
      "id": "MailOptions",
      "properties": {
        "excludeDrafts": {
          "type": "boolean",
          "description": "Set to **true** to exclude drafts."
        }
      },
      "type": "object"
    },
    "CountArtifactsResponse": {
      "type": "object",
      "description": "Definition of the response for method CountArtifacts.",
      "id": "CountArtifactsResponse",
      "properties": {
        "totalCount": {
          "format": "int64",
          "description": "Total count of messages.",
          "type": "string"
        },
        "mailCountResult": {
          "description": "Count metrics for Gmail and classic Hangouts.",
          "$ref": "MailCountResult"
        },
        "groupsCountResult": {
          "description": "Count metrics for Groups.",
          "$ref": "GroupsCountResult"
        }
      }
    },
    "AccountCountError": {
      "description": "An error that occurred when querying a specific account",
      "type": "object",
      "properties": {
        "account": {
          "description": "Account owner.",
          "$ref": "UserInfo"
        },
        "errorType": {
          "description": "Account query error.",
          "enumDescriptions": [
            "Default.",
            "Permanent - prefix terms expanded to too many query terms.",
            "Permanent - query contains too many terms.",
            "Transient - data in transit between storage replicas, temporarily unavailable.",
            "Unrecognized error.",
            "Deadline exceeded when querying the account."
          ],
          "type": "string",
          "enum": [
            "ERROR_TYPE_UNSPECIFIED",
            "WILDCARD_TOO_BROAD",
            "TOO_MANY_TERMS",
            "LOCATION_UNAVAILABLE",
            "UNKNOWN",
            "DEADLINE_EXCEEDED"
          ]
        }
      },
      "id": "AccountCountError"
    },
    "MatterPermission": {
      "type": "object",
      "id": "MatterPermission",
      "description": "Users can be matter owners or collaborators. Each matter has only one owner. All others users who can access the matter are collaborators. When an account is purged, its corresponding MatterPermission resources cease to exist.",
      "properties": {
        "role": {
          "type": "string",
          "description": "The user's role for the matter.",
          "enumDescriptions": [
            "No role assigned.",
            "A collaborator on the matter.",
            "The owner of the matter."
          ],
          "enum": [
            "ROLE_UNSPECIFIED",
            "COLLABORATOR",
            "OWNER"
          ]
        },
        "accountId": {
          "type": "string",
          "description": "The account ID, as provided by the [Admin SDK](https://developers.google.com/admin-sdk/)."
        }
      }
    },
    "AccountCount": {
      "description": "The results count for each account.",
      "id": "AccountCount",
      "properties": {
        "count": {
          "format": "int64",
          "description": "The number of results (messages or files) found for this account.",
          "type": "string"
        },
        "account": {
          "$ref": "UserInfo",
          "description": "Account owner."
        }
      },
      "type": "object"
    },
    "CloseMatterResponse": {
      "properties": {
        "matter": {
          "description": "The updated matter, with state **CLOSED**.",
          "$ref": "Matter"
        }
      },
      "description": "Response to a CloseMatterRequest.",
      "type": "object",
      "id": "CloseMatterResponse"
    }
  },
  "servicePath": "",
  "title": "Google Vault API",
  "name": "vault",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/ediscovery": {
          "description": "Manage your eDiscovery data"
        },
        "https://www.googleapis.com/auth/ediscovery.readonly": {
          "description": "View your eDiscovery data"
        }
      }
    }
  },
  "protocol": "rest",
  "ownerName": "Google",
  "documentationLink": "https://developers.google.com/vault"
}
