{
  "protocol": "rest",
  "name": "vault",
  "description": "Retention and eDiscovery for Google Workspace. To work with Vault resources, the account must have the [required Vault privileges](https://support.google.com/vault/answer/2799699) and access to the matter. To access a matter, the account must have created the matter, have the matter shared with them, or have the **View All Matters** privilege. For example, to download an export, an account needs the **Manage Exports** privilege and the matter shared with them. ",
  "kind": "discovery#restDescription",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/ediscovery": {
          "description": "Manage your eDiscovery data"
        },
        "https://www.googleapis.com/auth/ediscovery.readonly": {
          "description": "View your eDiscovery data"
        }
      }
    }
  },
  "canonicalName": "Vault",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "servicePath": "",
  "version_module": true,
  "resources": {
    "matters": {
      "methods": {
        "close": {
          "request": {
            "$ref": "CloseMatterRequest"
          },
          "flatPath": "v1/matters/{matterId}:close",
          "httpMethod": "POST",
          "response": {
            "$ref": "CloseMatterResponse"
          },
          "parameterOrder": [
            "matterId"
          ],
          "parameters": {
            "matterId": {
              "location": "path",
              "description": "The matter ID.",
              "type": "string",
              "required": true
            }
          },
          "description": "Closes the specified matter. Returns the matter with updated state.",
          "path": "v1/matters/{matterId}:close",
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "id": "vault.matters.close"
        },
        "create": {
          "flatPath": "v1/matters",
          "description": "Creates a matter with the given name and description. The initial state is open, and the owner is the method caller. Returns the created matter with default view.",
          "parameterOrder": [],
          "parameters": {},
          "httpMethod": "POST",
          "id": "vault.matters.create",
          "request": {
            "$ref": "Matter"
          },
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "path": "v1/matters",
          "response": {
            "$ref": "Matter"
          }
        },
        "reopen": {
          "path": "v1/matters/{matterId}:reopen",
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "request": {
            "$ref": "ReopenMatterRequest"
          },
          "response": {
            "$ref": "ReopenMatterResponse"
          },
          "parameters": {
            "matterId": {
              "location": "path",
              "type": "string",
              "description": "The matter ID.",
              "required": true
            }
          },
          "flatPath": "v1/matters/{matterId}:reopen",
          "id": "vault.matters.reopen",
          "description": "Reopens the specified matter. Returns the matter with updated state.",
          "parameterOrder": [
            "matterId"
          ],
          "httpMethod": "POST"
        },
        "addPermissions": {
          "path": "v1/matters/{matterId}:addPermissions",
          "flatPath": "v1/matters/{matterId}:addPermissions",
          "parameterOrder": [
            "matterId"
          ],
          "response": {
            "$ref": "MatterPermission"
          },
          "parameters": {
            "matterId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The matter ID."
            }
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "AddMatterPermissionsRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "id": "vault.matters.addPermissions",
          "description": "Adds an account as a matter collaborator."
        },
        "count": {
          "parameters": {
            "matterId": {
              "location": "path",
              "description": "The matter ID.",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "matterId"
          ],
          "id": "vault.matters.count",
          "description": "Counts the accounts processed by the specified query.",
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "POST",
          "path": "v1/matters/{matterId}:count",
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "request": {
            "$ref": "CountArtifactsRequest"
          },
          "flatPath": "v1/matters/{matterId}:count"
        },
        "undelete": {
          "parameters": {
            "matterId": {
              "description": "The matter ID.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "flatPath": "v1/matters/{matterId}:undelete",
          "httpMethod": "POST",
          "description": "Undeletes the specified matter. Returns the matter with updated state.",
          "parameterOrder": [
            "matterId"
          ],
          "path": "v1/matters/{matterId}:undelete",
          "id": "vault.matters.undelete",
          "response": {
            "$ref": "Matter"
          },
          "request": {
            "$ref": "UndeleteMatterRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ]
        },
        "removePermissions": {
          "parameters": {
            "matterId": {
              "location": "path",
              "type": "string",
              "description": "The matter ID.",
              "required": true
            }
          },
          "path": "v1/matters/{matterId}:removePermissions",
          "parameterOrder": [
            "matterId"
          ],
          "response": {
            "$ref": "Empty"
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "RemoveMatterPermissionsRequest"
          },
          "description": "Removes an account as a matter collaborator.",
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "id": "vault.matters.removePermissions",
          "flatPath": "v1/matters/{matterId}:removePermissions"
        },
        "update": {
          "parameters": {
            "matterId": {
              "location": "path",
              "description": "The matter ID.",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "v1/matters/{matterId}",
          "request": {
            "$ref": "Matter"
          },
          "path": "v1/matters/{matterId}",
          "id": "vault.matters.update",
          "description": "Updates the specified matter. This updates only the name and description of the matter, identified by matter ID. Changes to any other fields are ignored. Returns the default view of the matter.",
          "response": {
            "$ref": "Matter"
          },
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "parameterOrder": [
            "matterId"
          ],
          "httpMethod": "PUT"
        },
        "list": {
          "response": {
            "$ref": "ListMattersResponse"
          },
          "path": "v1/matters",
          "description": "Lists matters the requestor has access to.",
          "parameters": {
            "pageSize": {
              "description": "The number of matters to return in the response. Default and maximum are 100.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "view": {
              "enumDescriptions": [
                "The amount of detail is unspecified. Same as **BASIC**.",
                "Returns the matter ID, name, description, and state. Default choice.",
                "Returns the basic details and a list of matter owners and collaborators (see [MatterPermissions](https://developers.google.com/vault/reference/rest/v1/matters#matterpermission))."
              ],
              "location": "query",
              "enum": [
                "VIEW_UNSPECIFIED",
                "BASIC",
                "FULL"
              ],
              "type": "string",
              "description": "Specifies how much information about the matter to return in response."
            },
            "state": {
              "description": "If set, lists only matters with the specified state. The default lists matters of all states.",
              "enum": [
                "STATE_UNSPECIFIED",
                "OPEN",
                "CLOSED",
                "DELETED"
              ],
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "The matter has no specified state.",
                "The matter is open.",
                "The matter is closed.",
                "The matter is deleted."
              ]
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The pagination token as returned in the response."
            }
          },
          "parameterOrder": [],
          "id": "vault.matters.list",
          "flatPath": "v1/matters",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery",
            "https://www.googleapis.com/auth/ediscovery.readonly"
          ]
        },
        "delete": {
          "description": "Deletes the specified matter. Returns the matter with updated state.",
          "id": "vault.matters.delete",
          "flatPath": "v1/matters/{matterId}",
          "path": "v1/matters/{matterId}",
          "parameterOrder": [
            "matterId"
          ],
          "response": {
            "$ref": "Matter"
          },
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "parameters": {
            "matterId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The matter ID"
            }
          }
        },
        "get": {
          "response": {
            "$ref": "Matter"
          },
          "description": "Gets the specified matter.",
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery",
            "https://www.googleapis.com/auth/ediscovery.readonly"
          ],
          "httpMethod": "GET",
          "path": "v1/matters/{matterId}",
          "parameters": {
            "view": {
              "description": "Specifies how much information about the matter to return in the response.",
              "location": "query",
              "enum": [
                "VIEW_UNSPECIFIED",
                "BASIC",
                "FULL"
              ],
              "type": "string",
              "enumDescriptions": [
                "The amount of detail is unspecified. Same as **BASIC**.",
                "Returns the matter ID, name, description, and state. Default choice.",
                "Returns the basic details and a list of matter owners and collaborators (see [MatterPermissions](https://developers.google.com/vault/reference/rest/v1/matters#matterpermission))."
              ]
            },
            "matterId": {
              "required": true,
              "type": "string",
              "description": "The matter ID.",
              "location": "path"
            }
          },
          "parameterOrder": [
            "matterId"
          ],
          "flatPath": "v1/matters/{matterId}",
          "id": "vault.matters.get"
        }
      },
      "resources": {
        "holds": {
          "resources": {
            "accounts": {
              "methods": {
                "delete": {
                  "parameterOrder": [
                    "matterId",
                    "holdId",
                    "accountId"
                  ],
                  "description": "Removes an account from a hold.",
                  "flatPath": "v1/matters/{matterId}/holds/{holdId}/accounts/{accountId}",
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/ediscovery"
                  ],
                  "path": "v1/matters/{matterId}/holds/{holdId}/accounts/{accountId}",
                  "parameters": {
                    "matterId": {
                      "description": "The matter ID.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "accountId": {
                      "required": true,
                      "description": "The ID of the account to remove from the hold.",
                      "type": "string",
                      "location": "path"
                    },
                    "holdId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "The hold ID."
                    }
                  },
                  "id": "vault.matters.holds.accounts.delete"
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/ediscovery",
                    "https://www.googleapis.com/auth/ediscovery.readonly"
                  ],
                  "parameters": {
                    "matterId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The matter ID."
                    },
                    "holdId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "The hold ID."
                    }
                  },
                  "id": "vault.matters.holds.accounts.list",
                  "response": {
                    "$ref": "ListHeldAccountsResponse"
                  },
                  "path": "v1/matters/{matterId}/holds/{holdId}/accounts",
                  "httpMethod": "GET",
                  "flatPath": "v1/matters/{matterId}/holds/{holdId}/accounts",
                  "parameterOrder": [
                    "matterId",
                    "holdId"
                  ],
                  "description": "Lists the accounts covered by a hold. This can list only individually-specified accounts covered by the hold. If the hold covers an organizational unit, use the [Admin SDK](https://developers.google.com/admin-sdk/). to list the members of the organizational unit on hold."
                },
                "create": {
                  "response": {
                    "$ref": "HeldAccount"
                  },
                  "id": "vault.matters.holds.accounts.create",
                  "parameterOrder": [
                    "matterId",
                    "holdId"
                  ],
                  "request": {
                    "$ref": "HeldAccount"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "matterId": {
                      "location": "path",
                      "description": "The matter ID.",
                      "type": "string",
                      "required": true
                    },
                    "holdId": {
                      "required": true,
                      "type": "string",
                      "description": "The hold ID.",
                      "location": "path"
                    }
                  },
                  "description": "Adds an account to a hold. Accounts can be added only to a hold that does not have an organizational unit set. If you try to add an account to an organizational unit-based hold, an error is returned.",
                  "flatPath": "v1/matters/{matterId}/holds/{holdId}/accounts",
                  "scopes": [
                    "https://www.googleapis.com/auth/ediscovery"
                  ],
                  "path": "v1/matters/{matterId}/holds/{holdId}/accounts"
                }
              }
            }
          },
          "methods": {
            "create": {
              "parameters": {
                "matterId": {
                  "location": "path",
                  "required": true,
                  "description": "The matter ID.",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery"
              ],
              "response": {
                "$ref": "Hold"
              },
              "path": "v1/matters/{matterId}/holds",
              "httpMethod": "POST",
              "flatPath": "v1/matters/{matterId}/holds",
              "id": "vault.matters.holds.create",
              "parameterOrder": [
                "matterId"
              ],
              "description": "Creates a hold in the specified matter.",
              "request": {
                "$ref": "Hold"
              }
            },
            "delete": {
              "path": "v1/matters/{matterId}/holds/{holdId}",
              "parameterOrder": [
                "matterId",
                "holdId"
              ],
              "description": "Removes the specified hold and releases the accounts or organizational unit covered by the hold. If the data is not preserved by another hold or retention rule, it might be purged.",
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "v1/matters/{matterId}/holds/{holdId}",
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery"
              ],
              "id": "vault.matters.holds.delete",
              "parameters": {
                "matterId": {
                  "required": true,
                  "description": "The matter ID.",
                  "location": "path",
                  "type": "string"
                },
                "holdId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "The hold ID."
                }
              },
              "httpMethod": "DELETE"
            },
            "addHeldAccounts": {
              "request": {
                "$ref": "AddHeldAccountsRequest"
              },
              "flatPath": "v1/matters/{matterId}/holds/{holdId}:addHeldAccounts",
              "path": "v1/matters/{matterId}/holds/{holdId}:addHeldAccounts",
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery"
              ],
              "httpMethod": "POST",
              "description": "Adds accounts to a hold. Returns a list of accounts that have been successfully added. Accounts can be added only to an existing account-based hold.",
              "response": {
                "$ref": "AddHeldAccountsResponse"
              },
              "parameters": {
                "matterId": {
                  "location": "path",
                  "description": "The matter ID.",
                  "type": "string",
                  "required": true
                },
                "holdId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "The hold ID."
                }
              },
              "id": "vault.matters.holds.addHeldAccounts",
              "parameterOrder": [
                "matterId",
                "holdId"
              ]
            },
            "removeHeldAccounts": {
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery"
              ],
              "path": "v1/matters/{matterId}/holds/{holdId}:removeHeldAccounts",
              "httpMethod": "POST",
              "id": "vault.matters.holds.removeHeldAccounts",
              "description": "Removes the specified accounts from a hold. Returns a list of statuses in the same order as the request.",
              "request": {
                "$ref": "RemoveHeldAccountsRequest"
              },
              "flatPath": "v1/matters/{matterId}/holds/{holdId}:removeHeldAccounts",
              "parameterOrder": [
                "matterId",
                "holdId"
              ],
              "response": {
                "$ref": "RemoveHeldAccountsResponse"
              },
              "parameters": {
                "holdId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "The hold ID."
                },
                "matterId": {
                  "required": true,
                  "description": "The matter ID.",
                  "type": "string",
                  "location": "path"
                }
              }
            },
            "update": {
              "parameterOrder": [
                "matterId",
                "holdId"
              ],
              "httpMethod": "PUT",
              "request": {
                "$ref": "Hold"
              },
              "path": "v1/matters/{matterId}/holds/{holdId}",
              "id": "vault.matters.holds.update",
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery"
              ],
              "response": {
                "$ref": "Hold"
              },
              "flatPath": "v1/matters/{matterId}/holds/{holdId}",
              "description": "Updates the scope (organizational unit or accounts) and query parameters of a hold. You cannot add accounts to a hold that covers an organizational unit, nor can you add organizational units to a hold that covers individual accounts. If you try, the unsupported values are ignored.",
              "parameters": {
                "holdId": {
                  "required": true,
                  "type": "string",
                  "description": "The ID of the hold.",
                  "location": "path"
                },
                "matterId": {
                  "description": "The matter ID.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              }
            },
            "list": {
              "id": "vault.matters.holds.list",
              "flatPath": "v1/matters/{matterId}/holds",
              "parameterOrder": [
                "matterId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery",
                "https://www.googleapis.com/auth/ediscovery.readonly"
              ],
              "response": {
                "$ref": "ListHoldsResponse"
              },
              "path": "v1/matters/{matterId}/holds",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "description": "The number of holds to return in the response, between 0 and 100 inclusive. Leaving this empty, or as 0, is the same as **page_size** = 100.",
                  "format": "int32",
                  "type": "integer"
                },
                "view": {
                  "location": "query",
                  "enumDescriptions": [
                    "Not specified. Defaults to **FULL_HOLD**.",
                    "Returns the hold ID, name, update time, service, and query.",
                    "Returns all details of **BASIC_HOLD** and the entities the hold applies to, such as accounts or organizational unit."
                  ],
                  "enum": [
                    "HOLD_VIEW_UNSPECIFIED",
                    "BASIC_HOLD",
                    "FULL_HOLD"
                  ],
                  "type": "string",
                  "description": "The amount of detail to return for a hold."
                },
                "matterId": {
                  "description": "The matter ID.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "pageToken": {
                  "description": "The pagination token as returned in the response. An empty token means start from the beginning.",
                  "type": "string",
                  "location": "query"
                }
              },
              "httpMethod": "GET",
              "description": "Lists the holds in a matter."
            },
            "get": {
              "response": {
                "$ref": "Hold"
              },
              "description": "Gets the specified hold.",
              "parameterOrder": [
                "matterId",
                "holdId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery",
                "https://www.googleapis.com/auth/ediscovery.readonly"
              ],
              "path": "v1/matters/{matterId}/holds/{holdId}",
              "httpMethod": "GET",
              "flatPath": "v1/matters/{matterId}/holds/{holdId}",
              "id": "vault.matters.holds.get",
              "parameters": {
                "view": {
                  "description": "The amount of detail to return for a hold.",
                  "enumDescriptions": [
                    "Not specified. Defaults to **FULL_HOLD**.",
                    "Returns the hold ID, name, update time, service, and query.",
                    "Returns all details of **BASIC_HOLD** and the entities the hold applies to, such as accounts or organizational unit."
                  ],
                  "enum": [
                    "HOLD_VIEW_UNSPECIFIED",
                    "BASIC_HOLD",
                    "FULL_HOLD"
                  ],
                  "location": "query",
                  "type": "string"
                },
                "holdId": {
                  "description": "The hold ID.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "matterId": {
                  "required": true,
                  "description": "The matter ID.",
                  "type": "string",
                  "location": "path"
                }
              }
            }
          }
        },
        "savedQueries": {
          "methods": {
            "get": {
              "flatPath": "v1/matters/{matterId}/savedQueries/{savedQueryId}",
              "response": {
                "$ref": "SavedQuery"
              },
              "httpMethod": "GET",
              "description": "Retrieves the specified saved query.",
              "parameters": {
                "savedQueryId": {
                  "location": "path",
                  "required": true,
                  "description": "ID of the saved query to retrieve.",
                  "type": "string"
                },
                "matterId": {
                  "description": "The ID of the matter to get the saved query from.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "path": "v1/matters/{matterId}/savedQueries/{savedQueryId}",
              "parameterOrder": [
                "matterId",
                "savedQueryId"
              ],
              "id": "vault.matters.savedQueries.get",
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery",
                "https://www.googleapis.com/auth/ediscovery.readonly"
              ]
            },
            "create": {
              "httpMethod": "POST",
              "description": "Creates a saved query.",
              "path": "v1/matters/{matterId}/savedQueries",
              "flatPath": "v1/matters/{matterId}/savedQueries",
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery"
              ],
              "parameters": {
                "matterId": {
                  "type": "string",
                  "location": "path",
                  "description": "The ID of the matter to create the saved query in.",
                  "required": true
                }
              },
              "id": "vault.matters.savedQueries.create",
              "response": {
                "$ref": "SavedQuery"
              },
              "parameterOrder": [
                "matterId"
              ],
              "request": {
                "$ref": "SavedQuery"
              }
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery",
                "https://www.googleapis.com/auth/ediscovery.readonly"
              ],
              "httpMethod": "GET",
              "flatPath": "v1/matters/{matterId}/savedQueries",
              "id": "vault.matters.savedQueries.list",
              "path": "v1/matters/{matterId}/savedQueries",
              "parameterOrder": [
                "matterId"
              ],
              "description": "Lists the saved queries in a matter.",
              "response": {
                "$ref": "ListSavedQueriesResponse"
              },
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "description": "The maximum number of saved queries to return.",
                  "type": "integer"
                },
                "pageToken": {
                  "location": "query",
                  "description": "The pagination token as returned in the previous response. An empty token means start from the beginning.",
                  "type": "string"
                },
                "matterId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "The ID of the matter to get the saved queries for."
                }
              }
            },
            "delete": {
              "path": "v1/matters/{matterId}/savedQueries/{savedQueryId}",
              "parameterOrder": [
                "matterId",
                "savedQueryId"
              ],
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery"
              ],
              "parameters": {
                "savedQueryId": {
                  "type": "string",
                  "location": "path",
                  "description": "ID of the saved query to delete.",
                  "required": true
                },
                "matterId": {
                  "description": "The ID of the matter to delete the saved query from.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "description": "Deletes the specified saved query.",
              "id": "vault.matters.savedQueries.delete",
              "httpMethod": "DELETE",
              "flatPath": "v1/matters/{matterId}/savedQueries/{savedQueryId}"
            }
          }
        },
        "exports": {
          "methods": {
            "list": {
              "id": "vault.matters.exports.list",
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery",
                "https://www.googleapis.com/auth/ediscovery.readonly"
              ],
              "flatPath": "v1/matters/{matterId}/exports",
              "response": {
                "$ref": "ListExportsResponse"
              },
              "parameters": {
                "matterId": {
                  "description": "The matter ID.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "The pagination token as returned in the response."
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "description": "The number of exports to return in the response.",
                  "location": "query"
                }
              },
              "httpMethod": "GET",
              "path": "v1/matters/{matterId}/exports",
              "parameterOrder": [
                "matterId"
              ],
              "description": "Lists details about the exports in the specified matter."
            },
            "delete": {
              "path": "v1/matters/{matterId}/exports/{exportId}",
              "parameters": {
                "matterId": {
                  "required": true,
                  "type": "string",
                  "description": "The matter ID.",
                  "location": "path"
                },
                "exportId": {
                  "type": "string",
                  "location": "path",
                  "description": "The export ID.",
                  "required": true
                }
              },
              "parameterOrder": [
                "matterId",
                "exportId"
              ],
              "id": "vault.matters.exports.delete",
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery"
              ],
              "description": "Deletes an export.",
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "v1/matters/{matterId}/exports/{exportId}"
            },
            "get": {
              "flatPath": "v1/matters/{matterId}/exports/{exportId}",
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery",
                "https://www.googleapis.com/auth/ediscovery.readonly"
              ],
              "response": {
                "$ref": "Export"
              },
              "description": "Gets an export.",
              "id": "vault.matters.exports.get",
              "parameters": {
                "exportId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The export ID."
                },
                "matterId": {
                  "location": "path",
                  "type": "string",
                  "description": "The matter ID.",
                  "required": true
                }
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "matterId",
                "exportId"
              ],
              "path": "v1/matters/{matterId}/exports/{exportId}"
            },
            "create": {
              "parameters": {
                "matterId": {
                  "type": "string",
                  "location": "path",
                  "description": "The matter ID.",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery"
              ],
              "request": {
                "$ref": "Export"
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "Export"
              },
              "flatPath": "v1/matters/{matterId}/exports",
              "id": "vault.matters.exports.create",
              "path": "v1/matters/{matterId}/exports",
              "description": "Creates an export.",
              "parameterOrder": [
                "matterId"
              ]
            }
          }
        }
      }
    },
    "operations": {
      "methods": {
        "cancel": {
          "path": "v1/{+name}:cancel",
          "id": "vault.operations.cancel",
          "request": {
            "$ref": "CancelOperationRequest"
          },
          "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1/operations/{operationsId}:cancel",
          "httpMethod": "POST",
          "response": {
            "$ref": "Empty"
          },
          "parameters": {
            "name": {
              "location": "path",
              "description": "The name of the operation resource to be cancelled.",
              "type": "string",
              "pattern": "^operations/.*$",
              "required": true
            }
          }
        },
        "list": {
          "id": "vault.operations.list",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "ListOperationsResponse"
          },
          "flatPath": "v1/operations",
          "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`. NOTE: the `name` binding allows API services to override the binding to use different resource name schemes, such as `users/*/operations`. To override the binding, API services can add a binding such as `\"/v1/{name=users/*}/operations\"` to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id.",
          "parameters": {
            "pageToken": {
              "description": "The standard list page token.",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "The standard list page size."
            },
            "filter": {
              "type": "string",
              "description": "The standard list filter.",
              "location": "query"
            },
            "name": {
              "location": "path",
              "required": true,
              "description": "The name of the operation's parent resource.",
              "pattern": "^operations$",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "path": "v1/{+name}"
        },
        "delete": {
          "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
          "id": "vault.operations.delete",
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^operations/.*$",
              "location": "path",
              "required": true,
              "description": "The name of the operation resource to be deleted."
            }
          },
          "path": "v1/{+name}",
          "flatPath": "v1/operations/{operationsId}",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Empty"
          }
        },
        "get": {
          "response": {
            "$ref": "Operation"
          },
          "id": "vault.operations.get",
          "path": "v1/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery",
            "https://www.googleapis.com/auth/ediscovery.readonly"
          ],
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1/operations/{operationsId}",
          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
          "parameters": {
            "name": {
              "required": true,
              "pattern": "^operations/.*$",
              "type": "string",
              "location": "path",
              "description": "The name of the operation resource."
            }
          }
        }
      }
    }
  },
  "rootUrl": "https://vault.googleapis.com/",
  "parameters": {
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "location": "query",
      "description": "Data format for response.",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    }
  },
  "basePath": "",
  "mtlsRootUrl": "https://vault.mtls.googleapis.com/",
  "documentationLink": "https://developers.google.com/vault",
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "baseUrl": "https://vault.googleapis.com/",
  "title": "Google Vault API",
  "fullyEncodeReservedExpansion": true,
  "version": "v1",
  "schemas": {
    "HangoutsChatOptions": {
      "description": "Additional options for Google Chat search",
      "id": "HangoutsChatOptions",
      "type": "object",
      "properties": {
        "includeRooms": {
          "description": "For searches by account or organizational unit, set to **true** to include rooms.",
          "type": "boolean"
        }
      }
    },
    "MatterPermission": {
      "properties": {
        "role": {
          "type": "string",
          "enumDescriptions": [
            "No role assigned.",
            "A collaborator on the matter.",
            "The owner of the matter."
          ],
          "description": "The user's role for the matter.",
          "enum": [
            "ROLE_UNSPECIFIED",
            "COLLABORATOR",
            "OWNER"
          ]
        },
        "accountId": {
          "type": "string",
          "description": "The account ID, as provided by the [Admin SDK](https://developers.google.com/admin-sdk/)."
        }
      },
      "description": "Users can be matter owners or collaborators. Each matter has only one owner. All others users who can access the matter are collaborators. When an account is purged, its corresponding MatterPermission resources cease to exist.",
      "type": "object",
      "id": "MatterPermission"
    },
    "CorpusQuery": {
      "description": "Service-specific options for holds.",
      "type": "object",
      "properties": {
        "voiceQuery": {
          "description": "Service-specific options for Voice holds. If set, **CorpusType** must be **VOICE**.",
          "$ref": "HeldVoiceQuery"
        },
        "mailQuery": {
          "description": "Service-specific options for Gmail holds. If set, **CorpusType** must be **MAIL**.",
          "$ref": "HeldMailQuery"
        },
        "hangoutsChatQuery": {
          "description": "Service-specific options for Chat holds. If set, **CorpusType** must be **HANGOUTS_CHAT**.",
          "$ref": "HeldHangoutsChatQuery"
        },
        "groupsQuery": {
          "description": "Service-specific options for Groups holds. If set, **CorpusType** must be **GROUPS**.",
          "$ref": "HeldGroupsQuery"
        },
        "driveQuery": {
          "$ref": "HeldDriveQuery",
          "description": "Service-specific options for Drive holds. If set, **CorpusType** must be **DRIVE**."
        }
      },
      "id": "CorpusQuery"
    },
    "ExportOptions": {
      "id": "ExportOptions",
      "properties": {
        "driveOptions": {
          "description": "Options for Drive exports.",
          "$ref": "DriveExportOptions"
        },
        "mailOptions": {
          "$ref": "MailExportOptions",
          "description": "Options for Gmail exports."
        },
        "groupsOptions": {
          "$ref": "GroupsExportOptions",
          "description": "Options for Groups exports."
        },
        "region": {
          "type": "string",
          "enumDescriptions": [
            "The region is unspecified. Defaults to ANY.",
            "Any region.",
            "United States region.",
            "Europe region."
          ],
          "enum": [
            "EXPORT_REGION_UNSPECIFIED",
            "ANY",
            "US",
            "EUROPE"
          ],
          "description": "The requested data region for the export."
        },
        "hangoutsChatOptions": {
          "$ref": "HangoutsChatExportOptions",
          "description": "Options for Chat exports."
        },
        "voiceOptions": {
          "description": "Options for Voice exports.",
          "$ref": "VoiceExportOptions"
        }
      },
      "description": "Additional options for exports",
      "type": "object"
    },
    "AddMatterPermissionsRequest": {
      "description": "Add an account with the permission specified. The role cannot be owner. If an account already has a role in the matter, the existing role is overwritten.",
      "type": "object",
      "id": "AddMatterPermissionsRequest",
      "properties": {
        "ccMe": {
          "type": "boolean",
          "description": "Only relevant if **sendEmails** is **true**. To CC the requestor in the email message, set to **true**. To not CC requestor, set to **false**."
        },
        "sendEmails": {
          "description": "To send a notification email to the added account, set to **true**. To not send a notification email, set to **false**.",
          "type": "boolean"
        },
        "matterPermission": {
          "description": "The account and its role to add.",
          "$ref": "MatterPermission"
        }
      }
    },
    "HeldHangoutsChatQuery": {
      "id": "HeldHangoutsChatQuery",
      "properties": {
        "includeRooms": {
          "description": "To include messages in Chat spaces the user was a member of, set to **true**.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Options for Chat holds."
    },
    "ListHoldsResponse": {
      "properties": {
        "holds": {
          "type": "array",
          "description": "The list of holds.",
          "items": {
            "$ref": "Hold"
          }
        },
        "nextPageToken": {
          "description": "Page token to retrieve the next page of results in the list. If this is empty, then there are no more holds to list.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListHoldsResponse",
      "description": "The holds for a matter."
    },
    "GroupsExportOptions": {
      "id": "GroupsExportOptions",
      "type": "object",
      "description": "Options for Groups exports.",
      "properties": {
        "exportFormat": {
          "description": "The file format for exported messages.",
          "type": "string",
          "enumDescriptions": [
            "No export format specified.",
            "Export as MBOX. Only available for Gmail, Groups, Hangouts and Voice.",
            "Export as PST. Only available for Gmail, Groups, Hangouts, Voice and Calendar."
          ],
          "enum": [
            "EXPORT_FORMAT_UNSPECIFIED",
            "MBOX",
            "PST"
          ]
        }
      }
    },
    "ReopenMatterResponse": {
      "description": "Response to a ReopenMatterRequest.",
      "properties": {
        "matter": {
          "$ref": "Matter",
          "description": "The updated matter, with state **OPEN**."
        }
      },
      "id": "ReopenMatterResponse",
      "type": "object"
    },
    "AddHeldAccountResult": {
      "properties": {
        "status": {
          "description": "Reports the request status. If it failed, returns an error message.",
          "$ref": "Status"
        },
        "account": {
          "$ref": "HeldAccount",
          "description": "Returned when the account was successfully created."
        }
      },
      "type": "object",
      "id": "AddHeldAccountResult",
      "description": "The status of each account creation, and the **HeldAccount**, if successful."
    },
    "SavedQuery": {
      "description": "The definition of a saved query. To work with Vault resources, the account must have the [required Vault privileges](https://support.google.com/vault/answer/2799699) and access to the matter. To access a matter, the account must have created the matter, have the matter shared with them, or have the **View All Matters** privilege.",
      "properties": {
        "matterId": {
          "description": "Output only. The matter ID of the matter the saved query is saved in. The server does not use this field during create and always uses matter ID in the URL.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The server-generated timestamp when the saved query was created.",
          "type": "string"
        },
        "displayName": {
          "description": "The name of the saved query.",
          "type": "string"
        },
        "query": {
          "$ref": "Query",
          "description": "The search parameters of the saved query."
        },
        "savedQueryId": {
          "description": "A unique identifier for the saved query.",
          "type": "string"
        }
      },
      "id": "SavedQuery",
      "type": "object"
    },
    "MailExportOptions": {
      "id": "MailExportOptions",
      "description": "Options for Gmail exports.",
      "type": "object",
      "properties": {
        "useNewExport": {
          "type": "boolean",
          "description": "To use the new export system, set to **true**."
        },
        "showConfidentialModeContent": {
          "type": "boolean",
          "description": "To export confidential mode content, set to **true**."
        },
        "exportFormat": {
          "enum": [
            "EXPORT_FORMAT_UNSPECIFIED",
            "MBOX",
            "PST"
          ],
          "type": "string",
          "description": "The file format for exported messages.",
          "enumDescriptions": [
            "No export format specified.",
            "Export as MBOX. Only available for Gmail, Groups, Hangouts and Voice.",
            "Export as PST. Only available for Gmail, Groups, Hangouts, Voice and Calendar."
          ]
        }
      }
    },
    "RemoveMatterPermissionsRequest": {
      "properties": {
        "accountId": {
          "type": "string",
          "description": "The account ID."
        }
      },
      "id": "RemoveMatterPermissionsRequest",
      "type": "object",
      "description": "Remove an account as a matter collaborator."
    },
    "Hold": {
      "properties": {
        "corpus": {
          "description": "The service to be searched.",
          "type": "string",
          "enum": [
            "CORPUS_TYPE_UNSPECIFIED",
            "DRIVE",
            "MAIL",
            "GROUPS",
            "HANGOUTS_CHAT",
            "VOICE"
          ],
          "enumDescriptions": [
            "No service specified.",
            "Drive, including Meet and Sites.",
            "For search, Gmail and classic Hangouts. For holds, Gmail only.",
            "Groups.",
            "For export, Google Chat only. For holds, Google Chat and classic Hangouts.",
            "Google Voice."
          ]
        },
        "orgUnit": {
          "$ref": "HeldOrgUnit",
          "description": "If set, the hold applies to all members of the organizational unit and **accounts** must be empty. This property is mutable. For Groups holds, set **accounts**."
        },
        "accounts": {
          "description": "If set, the hold applies to the specified accounts and **orgUnit** must be empty.",
          "type": "array",
          "items": {
            "$ref": "HeldAccount"
          }
        },
        "updateTime": {
          "description": "The last time this hold was modified.",
          "format": "google-datetime",
          "type": "string"
        },
        "query": {
          "description": "Service-specific options. If set, **CorpusQuery** must match **CorpusType**.",
          "$ref": "CorpusQuery"
        },
        "holdId": {
          "type": "string",
          "description": "The unique immutable ID of the hold. Assigned during creation."
        },
        "name": {
          "description": "The name of the hold.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Hold",
      "description": "A hold. A hold prevents the specified Google Workspace service from purging data for specific accounts or all members of an organizational unit. To work with Vault resources, the account must have the [required Vault privileges] (https://support.google.com/vault/answer/2799699) and access to the matter. To access a matter, the account must have created the matter, have the matter shared with them, or have the **View All Matters** privilege."
    },
    "GroupsCountResult": {
      "type": "object",
      "properties": {
        "queriedAccountsCount": {
          "format": "int64",
          "type": "string",
          "description": "Total number of accounts involved in this count operation."
        },
        "accountCounts": {
          "items": {
            "$ref": "AccountCount"
          },
          "description": "Subtotal count per matching account that have more than zero messages.",
          "type": "array"
        },
        "accountCountErrors": {
          "items": {
            "$ref": "AccountCountError"
          },
          "type": "array",
          "description": "Error occurred when querying these accounts."
        },
        "nonQueryableAccounts": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "When **DataScope** is **HELD_DATA**, these accounts in the request are not queried because they are not on hold. For other data scope, this field is not set."
        },
        "matchingAccountsCount": {
          "description": "Total number of accounts that can be queried and have more than zero messages.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Groups specific count metrics.",
      "id": "GroupsCountResult"
    },
    "HangoutsChatInfo": {
      "properties": {
        "roomId": {
          "items": {
            "type": "string"
          },
          "description": "A list of Chat spaces IDs, as provided by the [Chat API](https://developers.google.com/hangouts/chat).",
          "type": "array"
        }
      },
      "description": "The Chat spaces to search",
      "type": "object",
      "id": "HangoutsChatInfo"
    },
    "HeldOrgUnit": {
      "properties": {
        "orgUnitId": {
          "description": "The organizational unit's immutable ID as provided by the [Admin SDK](https://developers.google.com/admin-sdk/).",
          "type": "string"
        },
        "holdTime": {
          "description": "When the organizational unit was put on hold. This property is immutable.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "The organizational unit covered by a hold. This structure is immutable.",
      "type": "object",
      "id": "HeldOrgUnit"
    },
    "CloseMatterResponse": {
      "description": "Response to a CloseMatterRequest.",
      "type": "object",
      "id": "CloseMatterResponse",
      "properties": {
        "matter": {
          "$ref": "Matter",
          "description": "The updated matter, with state **CLOSED**."
        }
      }
    },
    "AccountInfo": {
      "properties": {
        "emails": {
          "items": {
            "type": "string"
          },
          "description": "A set of accounts to search.",
          "type": "array"
        }
      },
      "description": "The accounts to search",
      "id": "AccountInfo",
      "type": "object"
    },
    "HeldMailQuery": {
      "id": "HeldMailQuery",
      "description": "Query options for Gmail holds.",
      "properties": {
        "terms": {
          "type": "string",
          "description": "The [search operators](https://support.google.com/vault/answer/2474474) used to refine the messages covered by the hold."
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The end time for the query. Specify in GMT. The value is rounded to 12 AM on the specified date."
        },
        "startTime": {
          "type": "string",
          "description": "The start time for the query. Specify in GMT. The value is rounded to 12 AM on the specified date.",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "RemoveHeldAccountsResponse": {
      "properties": {
        "statuses": {
          "description": "A list of statuses for the deleted accounts. Results have the same order as the request.",
          "type": "array",
          "items": {
            "$ref": "Status"
          }
        }
      },
      "id": "RemoveHeldAccountsResponse",
      "type": "object",
      "description": "Response for batch delete held accounts."
    },
    "AccountCountError": {
      "type": "object",
      "properties": {
        "errorType": {
          "type": "string",
          "enumDescriptions": [
            "Default.",
            "Permanent - prefix terms expanded to too many query terms.",
            "Permanent - query contains too many terms.",
            "Transient - data in transit between storage replicas, temporarily unavailable.",
            "Unrecognized error.",
            "Deadline exceeded when querying the account."
          ],
          "enum": [
            "ERROR_TYPE_UNSPECIFIED",
            "WILDCARD_TOO_BROAD",
            "TOO_MANY_TERMS",
            "LOCATION_UNAVAILABLE",
            "UNKNOWN",
            "DEADLINE_EXCEEDED"
          ],
          "description": "Account query error."
        },
        "account": {
          "description": "Account owner.",
          "$ref": "UserInfo"
        }
      },
      "description": "An error that occurred when querying a specific account",
      "id": "AccountCountError"
    },
    "ListOperationsResponse": {
      "type": "object",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "operations": {
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "id": "ListOperationsResponse"
    },
    "HangoutsChatExportOptions": {
      "id": "HangoutsChatExportOptions",
      "properties": {
        "exportFormat": {
          "description": "The file format for exported messages.",
          "type": "string",
          "enum": [
            "EXPORT_FORMAT_UNSPECIFIED",
            "MBOX",
            "PST"
          ],
          "enumDescriptions": [
            "No export format specified.",
            "Export as MBOX. Only available for Gmail, Groups, Hangouts and Voice.",
            "Export as PST. Only available for Gmail, Groups, Hangouts, Voice and Calendar."
          ]
        }
      },
      "description": "Options for Chat exports.",
      "type": "object"
    },
    "HeldAccount": {
      "properties": {
        "firstName": {
          "type": "string",
          "description": "Output only. The first name of the account holder."
        },
        "holdTime": {
          "format": "google-datetime",
          "description": "Output only. When the account was put on hold.",
          "type": "string"
        },
        "accountId": {
          "type": "string",
          "description": "The account ID, as provided by the [Admin SDK](https://developers.google.com/admin-sdk/)."
        },
        "lastName": {
          "type": "string",
          "description": "Output only. The last name of the account holder."
        },
        "email": {
          "type": "string",
          "description": "The primary email address of the account. If used as an input, this takes precedence over **accountId**."
        }
      },
      "description": "An account covered by a hold. This structure is immutable. It can be an individual account or a Google Group, depending on the service. To work with Vault resources, the account must have the [required Vault privileges] (https://support.google.com/vault/answer/2799699) and access to the matter. To access a matter, the account must have created the matter, have the matter shared with them, or have the **View All Matters** privilege.",
      "type": "object",
      "id": "HeldAccount"
    },
    "ExportStats": {
      "id": "ExportStats",
      "properties": {
        "sizeInBytes": {
          "format": "int64",
          "description": "The size of export in bytes.",
          "type": "string"
        },
        "exportedArtifactCount": {
          "description": "The number of messages or files already processed for export.",
          "format": "int64",
          "type": "string"
        },
        "totalArtifactCount": {
          "type": "string",
          "description": "The number of messages or files to be exported.",
          "format": "int64"
        }
      },
      "description": "Progress information for an export.",
      "type": "object"
    },
    "TeamDriveInfo": {
      "id": "TeamDriveInfo",
      "description": "Team Drives to search",
      "properties": {
        "teamDriveIds": {
          "description": "List of Team Drive IDs, as provided by the [Drive API](https://developers.google.com/drive).",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "DriveExportOptions": {
      "type": "object",
      "id": "DriveExportOptions",
      "description": "Options for Drive exports.",
      "properties": {
        "includeAccessInfo": {
          "description": "To include access level information for users with [indirect access](https://support.google.com/vault/answer/6099459#metadata) to files, set to **true**.",
          "type": "boolean"
        }
      }
    },
    "Matter": {
      "description": "Represents a matter. To work with Vault resources, the account must have the [required Vault privileges] (https://support.google.com/vault/answer/2799699) and access to the matter. To access a matter, the account must have created the matter, have the matter shared with them, or have the **View All Matters** privilege.",
      "properties": {
        "matterId": {
          "type": "string",
          "description": "The matter ID, which is generated by the server. Leave blank when creating a matter."
        },
        "description": {
          "description": "An optional description for the matter.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "description": "The state of the matter.",
          "enumDescriptions": [
            "The matter has no specified state.",
            "The matter is open.",
            "The matter is closed.",
            "The matter is deleted."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "OPEN",
            "CLOSED",
            "DELETED"
          ]
        },
        "name": {
          "description": "The name of the matter.",
          "type": "string"
        },
        "matterPermissions": {
          "items": {
            "$ref": "MatterPermission"
          },
          "description": "Lists the users and their permission for the matter. Currently there is no programmer defined limit on the number of permissions a matter can have.",
          "type": "array"
        }
      },
      "id": "Matter",
      "type": "object"
    },
    "CloudStorageFile": {
      "type": "object",
      "id": "CloudStorageFile",
      "properties": {
        "size": {
          "format": "int64",
          "type": "string",
          "description": "The export file size."
        },
        "bucketName": {
          "description": "The name of the Cloud Storage bucket for the export file. You can use this value in the [Cloud Storage JSON or XML APIs](https://cloud.google.com/storage/docs/apis), but not to list the bucket contents. Instead, you can [get individual export files](https://cloud.google.com/storage/docs/json_api/v1/objects/get) by object name.",
          "type": "string"
        },
        "objectName": {
          "description": "The name of the Cloud Storage object for the export file. You can use this value in the [Cloud Storage JSON or XML APIs](https://cloud.google.com/storage/docs/apis).",
          "type": "string"
        },
        "md5Hash": {
          "description": "The md5 hash of the file.",
          "type": "string"
        }
      },
      "description": "The export file in Cloud Storage"
    },
    "HeldVoiceQuery": {
      "description": "Options for Voice holds.",
      "properties": {
        "coveredData": {
          "items": {
            "enumDescriptions": [
              "Covered data unspecified.",
              "Voice text messages.",
              "Voicemails and their transcripts.",
              "Call logs."
            ],
            "type": "string",
            "enum": [
              "COVERED_DATA_UNSPECIFIED",
              "TEXT_MESSAGES",
              "VOICEMAILS",
              "CALL_LOGS"
            ]
          },
          "description": "A list of data types covered by the hold. Should be non-empty. Order does not matter and duplicates are ignored.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "HeldVoiceQuery"
    },
    "MailCountResult": {
      "properties": {
        "matchingAccountsCount": {
          "type": "string",
          "description": "Total number of accounts that can be queried and have more than zero messages.",
          "format": "int64"
        },
        "accountCounts": {
          "items": {
            "$ref": "AccountCount"
          },
          "type": "array",
          "description": "Subtotal count per matching account that have more than zero messages."
        },
        "accountCountErrors": {
          "description": "Errors occurred when querying these accounts.",
          "items": {
            "$ref": "AccountCountError"
          },
          "type": "array"
        },
        "nonQueryableAccounts": {
          "type": "array",
          "description": "When **DataScope** is **HELD_DATA** and when account emails are passed in explicitly, the list of accounts in the request that are not queried because they are not on hold in the matter. For other data scopes, this field is not set.",
          "items": {
            "type": "string"
          }
        },
        "queriedAccountsCount": {
          "description": "Total number of accounts involved in this count operation.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "MailCountResult",
      "description": "Gmail and classic Hangouts-specific count metrics.",
      "type": "object"
    },
    "CloudStorageSink": {
      "type": "object",
      "properties": {
        "files": {
          "items": {
            "$ref": "CloudStorageFile"
          },
          "description": "Output only. The exported files in Cloud Storage.",
          "type": "array"
        }
      },
      "id": "CloudStorageSink",
      "description": "Export sink for Cloud Storage files."
    },
    "Operation": {
      "properties": {
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "response": {
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "id": "Operation"
    },
    "ListExportsResponse": {
      "type": "object",
      "description": "The exports for a matter.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Page token to retrieve the next page of results in the list."
        },
        "exports": {
          "description": "The list of exports.",
          "items": {
            "$ref": "Export"
          },
          "type": "array"
        }
      },
      "id": "ListExportsResponse"
    },
    "CountArtifactsMetadata": {
      "description": "Long running operation metadata for CountArtifacts.",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Creation time of count operation."
        },
        "matterId": {
          "description": "The matter ID of the associated matter.",
          "type": "string"
        },
        "query": {
          "description": "The search query from the request.",
          "$ref": "Query"
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "End time of count operation. Available when operation is done."
        }
      },
      "id": "CountArtifactsMetadata",
      "type": "object"
    },
    "ListHeldAccountsResponse": {
      "properties": {
        "accounts": {
          "description": "The held accounts on a hold.",
          "items": {
            "$ref": "HeldAccount"
          },
          "type": "array"
        }
      },
      "description": "Returns a list of the accounts covered by a hold.",
      "type": "object",
      "id": "ListHeldAccountsResponse"
    },
    "ListSavedQueriesResponse": {
      "id": "ListSavedQueriesResponse",
      "description": "Definition of the response for method ListSaveQuery.",
      "properties": {
        "savedQueries": {
          "type": "array",
          "description": "List of saved queries.",
          "items": {
            "$ref": "SavedQuery"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Page token to retrieve the next page of results in the list. If this is empty, then there are no more saved queries to list."
        }
      },
      "type": "object"
    },
    "CountArtifactsRequest": {
      "id": "CountArtifactsRequest",
      "properties": {
        "query": {
          "description": "The search query.",
          "$ref": "Query"
        },
        "view": {
          "description": "Sets the granularity of the count results.",
          "type": "string",
          "enum": [
            "COUNT_RESULT_VIEW_UNSPECIFIED",
            "TOTAL_COUNT",
            "ALL"
          ],
          "enumDescriptions": [
            "Default. Same as **TOTAL_COUNT**.",
            "Response includes counts of the total accounts, queried accounts, matching accounts, non-queryable accounts, and queried account errors.",
            "Response includes the same details as **TOTAL_COUNT**, plus additional account breakdown."
          ]
        }
      },
      "type": "object",
      "description": "Count artifacts request."
    },
    "HeldDriveQuery": {
      "id": "HeldDriveQuery",
      "type": "object",
      "properties": {
        "includeSharedDriveFiles": {
          "type": "boolean",
          "description": "To include files in shared drives in the hold, set to **true**."
        },
        "includeTeamDriveFiles": {
          "type": "boolean",
          "description": "To include files in Team Drives in the hold, set to **true**."
        }
      },
      "description": "Options for Drive holds."
    },
    "ReopenMatterRequest": {
      "id": "ReopenMatterRequest",
      "properties": {},
      "type": "object",
      "description": "Reopen a matter by ID."
    },
    "AddHeldAccountsRequest": {
      "type": "object",
      "properties": {
        "emails": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A comma-separated list of the emails of the accounts to add to the hold. Specify either **emails** or **account_ids**, but not both."
        },
        "accountIds": {
          "description": "A comma-separated list of the account IDs of the accounts to add to the hold. Specify either **emails** or **account_ids**, but not both.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Add a list of accounts to a hold.",
      "id": "AddHeldAccountsRequest"
    },
    "HeldGroupsQuery": {
      "type": "object",
      "properties": {
        "terms": {
          "type": "string",
          "description": "The [search operators](https://support.google.com/vault/answer/2474474) used to refine the messages covered by the hold."
        },
        "startTime": {
          "format": "google-datetime",
          "description": "The start time for the query. Specify in GMT. The value is rounded to 12 AM on the specified date.",
          "type": "string"
        },
        "endTime": {
          "description": "The end time for the query. Specify in GMT. The value is rounded to 12 AM on the specified date.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "HeldGroupsQuery",
      "description": "Query options for group holds."
    },
    "SharedDriveInfo": {
      "id": "SharedDriveInfo",
      "description": "The shared drives to search",
      "properties": {
        "sharedDriveIds": {
          "description": "A list of shared drive IDs, as provided by the [Drive API](https://developers.google.com/drive).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "AccountCount": {
      "description": "The results count for each account.",
      "id": "AccountCount",
      "properties": {
        "count": {
          "format": "int64",
          "description": "The number of results (messages or files) found for this account.",
          "type": "string"
        },
        "account": {
          "description": "Account owner.",
          "$ref": "UserInfo"
        }
      },
      "type": "object"
    },
    "DriveOptions": {
      "description": "Additional options for Drive search",
      "type": "object",
      "id": "DriveOptions",
      "properties": {
        "includeTeamDrives": {
          "description": "Set to true to include Team Drive.",
          "type": "boolean"
        },
        "versionDate": {
          "type": "string",
          "description": "Search the current version of the Drive file, but export the contents of the last version saved before 12:00 AM UTC on the specified date. Enter the date in UTC.",
          "format": "google-datetime"
        },
        "includeSharedDrives": {
          "description": "Set to **true** to include shared drives.",
          "type": "boolean"
        }
      }
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          }
        }
      },
      "type": "object"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "properties": {},
      "type": "object",
      "id": "Empty"
    },
    "MailOptions": {
      "type": "object",
      "description": "Additional options for Gmail search",
      "properties": {
        "excludeDrafts": {
          "type": "boolean",
          "description": "Set to **true** to exclude drafts."
        }
      },
      "id": "MailOptions"
    },
    "CancelOperationRequest": {
      "properties": {},
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "id": "CancelOperationRequest"
    },
    "OrgUnitInfo": {
      "description": "The organizational unit to search",
      "properties": {
        "orgUnitId": {
          "description": "The name of the organizational unit to search, as provided by the [Admin SDK Directory API](https://developers.google.com/admin-sdk/directory/).",
          "type": "string"
        }
      },
      "type": "object",
      "id": "OrgUnitInfo"
    },
    "ListMattersResponse": {
      "type": "object",
      "description": "Provides the list of matters.",
      "properties": {
        "matters": {
          "items": {
            "$ref": "Matter"
          },
          "description": "List of matters.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Page token to retrieve the next page of results in the list.",
          "type": "string"
        }
      },
      "id": "ListMattersResponse"
    },
    "Export": {
      "id": "Export",
      "type": "object",
      "properties": {
        "matterId": {
          "type": "string",
          "description": "Output only. The matter ID."
        },
        "status": {
          "description": "Output only. The status of the export.",
          "enumDescriptions": [
            "The status is unspecified.",
            "The export completed.",
            "The export failed.",
            "The export is in progress."
          ],
          "type": "string",
          "enum": [
            "EXPORT_STATUS_UNSPECIFIED",
            "COMPLETED",
            "FAILED",
            "IN_PROGRESS"
          ]
        },
        "name": {
          "type": "string",
          "description": "The export name. Don't use special characters (~!$'(),;@:/?) in the name, they can prevent you from downloading exports."
        },
        "exportOptions": {
          "description": "Additional export options.",
          "$ref": "ExportOptions"
        },
        "query": {
          "$ref": "Query",
          "description": "The query parameters used to create the export."
        },
        "stats": {
          "description": "Output only. Details about the export progress and size.",
          "$ref": "ExportStats"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when the export was created."
        },
        "cloudStorageSink": {
          "$ref": "CloudStorageSink",
          "description": "Output only. The sink for export files in Cloud Storage."
        },
        "id": {
          "type": "string",
          "description": "Output only. The generated export ID."
        },
        "requester": {
          "description": "Output only. The requester of the export.",
          "$ref": "UserInfo"
        }
      },
      "description": "An export. To work with Vault resources, the account must have the [required Vault privileges](https://support.google.com/vault/answer/2799699) and access to the matter. To access a matter, the account must have created the matter, have the matter shared with them, or have the **View All Matters** privilege."
    },
    "AddHeldAccountsResponse": {
      "properties": {
        "responses": {
          "type": "array",
          "description": "The list of responses, in the same order as the batch request.",
          "items": {
            "$ref": "AddHeldAccountResult"
          }
        }
      },
      "type": "object",
      "description": "Response for batch create held accounts.",
      "id": "AddHeldAccountsResponse"
    },
    "UserInfo": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The displayed name of the user."
        },
        "email": {
          "type": "string",
          "description": "The email address of the user."
        }
      },
      "id": "UserInfo",
      "description": "User's information."
    },
    "CloseMatterRequest": {
      "type": "object",
      "description": "Close a matter by ID.",
      "id": "CloseMatterRequest",
      "properties": {}
    },
    "RemoveHeldAccountsRequest": {
      "description": "Remove a list of accounts from a hold.",
      "type": "object",
      "properties": {
        "accountIds": {
          "description": "The account IDs of the accounts to remove from the hold.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "RemoveHeldAccountsRequest"
    },
    "CountArtifactsResponse": {
      "description": "Definition of the response for method CountArtifacts.",
      "properties": {
        "groupsCountResult": {
          "$ref": "GroupsCountResult",
          "description": "Count metrics for Groups."
        },
        "totalCount": {
          "format": "int64",
          "type": "string",
          "description": "Total count of messages."
        },
        "mailCountResult": {
          "description": "Count metrics for Gmail and classic Hangouts.",
          "$ref": "MailCountResult"
        }
      },
      "id": "CountArtifactsResponse",
      "type": "object"
    },
    "Query": {
      "description": "The query definition used for search and export.",
      "id": "Query",
      "type": "object",
      "properties": {
        "method": {
          "enum": [
            "SEARCH_METHOD_UNSPECIFIED",
            "ACCOUNT",
            "ORG_UNIT",
            "TEAM_DRIVE",
            "ENTIRE_ORG",
            "ROOM",
            "SHARED_DRIVE"
          ],
          "description": "The entity to search. This field replaces **searchMethod** to support shared drives. When **searchMethod** is **TEAM_DRIVE**, the response of this field is **SHARED_DRIVE**.",
          "enumDescriptions": [
            "A search method must be specified or else it is rejected.",
            "Search the data of the accounts specified in [AccountInfo](https://developers.google.com/vault/reference/rest/v1/Query#accountinfo).",
            "Search the data of all accounts in the organizational unit specified in [OrgUnitInfo](https://developers.google.com/vault/reference/rest/v1/Query#orgunitinfo).",
            "Search the data in the Team Drive specified in **team_drive_info**.",
            "Search the data of all accounts in the organization. Supported only for Gmail. When specified, you don't need to specify **AccountInfo** or **OrgUnitInfo**.",
            "Search messages in the Chat spaces specified in [HangoutsChatInfo](https://developers.google.com/vault/reference/rest/v1/Query#hangoutschatinfo).",
            "Search the files in the shared drives specified in [SharedDriveInfo](https://developers.google.com/vault/reference/rest/v1/Query#shareddriveinfo)."
          ],
          "type": "string"
        },
        "mailOptions": {
          "$ref": "MailOptions",
          "description": "Set Gmail search-specific options."
        },
        "accountInfo": {
          "description": "Required when **SearchMethod** is **ACCOUNT**.",
          "$ref": "AccountInfo"
        },
        "timeZone": {
          "type": "string",
          "description": "The time zone name. It should be an IANA TZ name, such as \"America/Los_Angeles\". For a list of time zone names, see [Time Zone](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones). For more information about how Vault uses time zones, see [the Vault help center](https://support.google.com/vault/answer/6092995#time)."
        },
        "corpus": {
          "description": "The Google Workspace service to search.",
          "enumDescriptions": [
            "No service specified.",
            "Drive, including Meet and Sites.",
            "For search, Gmail and classic Hangouts. For holds, Gmail only.",
            "Groups.",
            "For export, Google Chat only. For holds, Google Chat and classic Hangouts.",
            "Google Voice."
          ],
          "type": "string",
          "enum": [
            "CORPUS_TYPE_UNSPECIFIED",
            "DRIVE",
            "MAIL",
            "GROUPS",
            "HANGOUTS_CHAT",
            "VOICE"
          ]
        },
        "voiceOptions": {
          "$ref": "VoiceOptions",
          "description": "Set Voice search-specific options."
        },
        "hangoutsChatInfo": {
          "description": "Required when **SearchMethod** is **ROOM**. (read-only)",
          "$ref": "HangoutsChatInfo"
        },
        "startTime": {
          "description": "The start time for the search query. Specify in GMT. The value is rounded to 12 AM on the specified date.",
          "format": "google-datetime",
          "type": "string"
        },
        "orgUnitInfo": {
          "$ref": "OrgUnitInfo",
          "description": "Required when **SearchMethod** is **ORG_UNIT**."
        },
        "dataScope": {
          "type": "string",
          "enum": [
            "DATA_SCOPE_UNSPECIFIED",
            "ALL_DATA",
            "HELD_DATA",
            "UNPROCESSED_DATA"
          ],
          "enumDescriptions": [
            "No data source specified.",
            "All available data.",
            "Only data on hold.",
            "Only data not yet processed by Vault. (Gmail and Groups only)"
          ],
          "description": "The data source to search."
        },
        "searchMethod": {
          "type": "string",
          "description": "The search method to use.",
          "enumDescriptions": [
            "A search method must be specified or else it is rejected.",
            "Search the data of the accounts specified in [AccountInfo](https://developers.google.com/vault/reference/rest/v1/Query#accountinfo).",
            "Search the data of all accounts in the organizational unit specified in [OrgUnitInfo](https://developers.google.com/vault/reference/rest/v1/Query#orgunitinfo).",
            "Search the data in the Team Drive specified in **team_drive_info**.",
            "Search the data of all accounts in the organization. Supported only for Gmail. When specified, you don't need to specify **AccountInfo** or **OrgUnitInfo**.",
            "Search messages in the Chat spaces specified in [HangoutsChatInfo](https://developers.google.com/vault/reference/rest/v1/Query#hangoutschatinfo).",
            "Search the files in the shared drives specified in [SharedDriveInfo](https://developers.google.com/vault/reference/rest/v1/Query#shareddriveinfo)."
          ],
          "enum": [
            "SEARCH_METHOD_UNSPECIFIED",
            "ACCOUNT",
            "ORG_UNIT",
            "TEAM_DRIVE",
            "ENTIRE_ORG",
            "ROOM",
            "SHARED_DRIVE"
          ]
        },
        "hangoutsChatOptions": {
          "$ref": "HangoutsChatOptions",
          "description": "Set Chat search-specific options. (read-only)"
        },
        "terms": {
          "type": "string",
          "description": "Service-specific [search operators](https://support.google.com/vault/answer/2474474) to filter search results."
        },
        "teamDriveInfo": {
          "$ref": "TeamDriveInfo",
          "description": "Required when **SearchMethod** is **TEAM_DRIVE**."
        },
        "endTime": {
          "format": "google-datetime",
          "description": "The end time for the search query. Specify in GMT. The value is rounded to 12 AM on the specified date.",
          "type": "string"
        },
        "driveOptions": {
          "$ref": "DriveOptions",
          "description": "Set Drive search-specific options."
        },
        "sharedDriveInfo": {
          "$ref": "SharedDriveInfo",
          "description": "Required when **SearchMethod** is **SHARED_DRIVE**."
        }
      }
    },
    "UndeleteMatterRequest": {
      "id": "UndeleteMatterRequest",
      "properties": {},
      "type": "object",
      "description": "Undelete a matter by ID."
    },
    "VoiceExportOptions": {
      "id": "VoiceExportOptions",
      "type": "object",
      "properties": {
        "exportFormat": {
          "enum": [
            "EXPORT_FORMAT_UNSPECIFIED",
            "MBOX",
            "PST"
          ],
          "type": "string",
          "enumDescriptions": [
            "No export format specified.",
            "Export as MBOX. Only available for Gmail, Groups, Hangouts and Voice.",
            "Export as PST. Only available for Gmail, Groups, Hangouts, Voice and Calendar."
          ],
          "description": "The file format for exported text messages."
        }
      },
      "description": "The options for Voice exports."
    },
    "VoiceOptions": {
      "type": "object",
      "id": "VoiceOptions",
      "properties": {
        "coveredData": {
          "description": "Datatypes to search",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Covered data unspecified.",
              "Voice text messages.",
              "Voicemails and their transcripts.",
              "Call logs."
            ],
            "enum": [
              "COVERED_DATA_UNSPECIFIED",
              "TEXT_MESSAGES",
              "VOICEMAILS",
              "CALL_LOGS"
            ]
          }
        }
      },
      "description": "Additional options for Voice search"
    }
  },
  "id": "vault:v1",
  "revision": "20220316"
}
