{
  "description": "API for Verified Access chrome extension to provide credential verification for chrome devices connecting to an enterprise network",
  "baseUrl": "https://verifiedaccess.googleapis.com/",
  "discoveryVersion": "v1",
  "canonicalName": "verifiedaccess",
  "rootUrl": "https://verifiedaccess.googleapis.com/",
  "schemas": {
    "VerifyChallengeResponseRequest": {
      "properties": {
        "challengeResponse": {
          "format": "byte",
          "description": "Required. The generated response to the challenge, the bytes representation of SignedData.",
          "type": "string"
        },
        "expectedIdentity": {
          "description": "Optional. Service can optionally provide identity information about the device or user associated with the key. For an EMK, this value is the enrolled domain. For an EUK, this value is the user's email address. If present, this value will be checked against contents of the response, and verification will fail if there is no match.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Signed ChallengeResponse.",
      "id": "VerifyChallengeResponseRequest"
    },
    "CrowdStrikeAgent": {
      "type": "object",
      "id": "CrowdStrikeAgent",
      "properties": {
        "agentId": {
          "description": "The Agent ID of the Crowdstrike agent.",
          "type": "string"
        },
        "customerId": {
          "type": "string",
          "description": "The Customer ID to which the agent belongs to."
        }
      },
      "description": "Properties of the CrowdStrike agent installed on a device."
    },
    "Challenge": {
      "properties": {
        "challenge": {
          "description": "Generated challenge, the bytes representation of SignedData.",
          "format": "byte",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Challenge",
      "description": "Result message for VerifiedAccess.GenerateChallenge."
    },
    "DeviceSignals": {
      "type": "object",
      "id": "DeviceSignals",
      "description": "The device signals as reported by Chrome. Unless otherwise specified, signals are available on all platforms.",
      "properties": {
        "windowsMachineDomain": {
          "description": "Windows domain that the current machine has joined. Available on Windows only.",
          "type": "string"
        },
        "thirdPartyBlockingEnabled": {
          "type": "boolean",
          "description": "Whether Chrome is blocking third-party software injection or not. This setting may be controlled by an enterprise policy: https://chromeenterprise.google/policies/?policy=ThirdPartyBlockingEnabled. Available on Windows only."
        },
        "screenLockSecured": {
          "type": "string",
          "enum": [
            "SCREEN_LOCK_SECURED_UNSPECIFIED",
            "SCREEN_LOCK_SECURED_UNKNOWN",
            "SCREEN_LOCK_SECURED_DISABLED",
            "SCREEN_LOCK_SECURED_ENABLED"
          ],
          "description": "The state of the Screen Lock password protection. On ChromeOS, this value will always be ENABLED as there is not way to disable requiring a password or pin when unlocking the device.",
          "enumDescriptions": [
            "Unspecified.",
            "Chrome could not evaluate the state of the Screen Lock mechanism.",
            "The Screen Lock is not password-protected.",
            "The Screen Lock is password-protected."
          ]
        },
        "displayName": {
          "description": "The display name of the device, as defined by the user.",
          "type": "string"
        },
        "systemDnsServers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of the addesses of all OS level DNS servers configured in the device's network settings."
        },
        "diskEncryption": {
          "enum": [
            "DISK_ENCRYPTION_UNSPECIFIED",
            "DISK_ENCRYPTION_UNKNOWN",
            "DISK_ENCRYPTION_DISABLED",
            "DISK_ENCRYPTION_ENCRYPTED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Chrome could not evaluate the encryption state.",
            "The main disk is not encrypted.",
            "The main disk is encrypted."
          ],
          "description": "The encryption state of the disk. On ChromeOS, the main disk is always ENCRYPTED."
        },
        "hostname": {
          "description": "Hostname of the device.",
          "type": "string"
        },
        "trigger": {
          "enum": [
            "TRIGGER_UNSPECIFIED",
            "TRIGGER_BROWSER_NAVIGATION",
            "TRIGGER_LOGIN_SCREEN"
          ],
          "type": "string",
          "description": "The trigger which generated this set of signals.",
          "enumDescriptions": [
            "Unspecified.",
            "When navigating to an URL inside a browser.",
            "When signing into an account on the ChromeOS login screen."
          ]
        },
        "deviceAffiliationIds": {
          "type": "array",
          "description": "Affiliation IDs of the organizations that are affiliated with the organization that is currently managing the device. When the sets of device and profile affiliation IDs overlap, it means that the organizations managing the device and user are affiliated. To learn more about user affiliation, visit https://support.google.com/chrome/a/answer/12801245?ref_topic=9027936.",
          "items": {
            "type": "string"
          }
        },
        "imei": {
          "description": "International Mobile Equipment Identity (IMEI) of the device. Available on ChromeOS only.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "meid": {
          "type": "array",
          "description": "Mobile Equipment Identifier (MEID) of the device. Available on ChromeOS only.",
          "items": {
            "type": "string"
          }
        },
        "macAddresses": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "MAC addresses of the device."
        },
        "deviceEnrollmentDomain": {
          "type": "string",
          "description": "Enrollment domain of the customer which is currently managing the device."
        },
        "siteIsolationEnabled": {
          "type": "boolean",
          "description": "Whether the Site Isolation (a.k.a Site Per Process) setting is enabled. That setting may be controlled by an enterprise policy: https://chromeenterprise.google/policies/#SitePerProcess"
        },
        "profileAffiliationIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Affiliation IDs of the organizations that are affiliated with the organization that is currently managing the Chrome Profile’s user or ChromeOS user."
        },
        "serialNumber": {
          "type": "string",
          "description": "The serial number of the device. On Windows, this represents the BIOS's serial number. Not available on most Linux distributions."
        },
        "safeBrowsingProtectionLevel": {
          "description": "Safe Browsing Protection Level. That setting may be controlled by an enterprise policy: https://chromeenterprise.google/policies/#SafeBrowsingProtectionLevel.",
          "enum": [
            "SAFE_BROWSING_PROTECTION_LEVEL_UNSPECIFIED",
            "INACTIVE",
            "STANDARD",
            "ENHANCED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Safe Browsing is disabled.",
            "Safe Browsing is active in the standard mode.",
            "Safe Browsing is active in the enhanced mode."
          ]
        },
        "passwordProtectionWarningTrigger": {
          "enum": [
            "PASSWORD_PROTECTION_WARNING_TRIGGER_UNSPECIFIED",
            "POLICY_UNSET",
            "PASSWORD_PROTECTION_OFF",
            "PASSWORD_REUSE",
            "PHISHING_REUSE"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "The policy is not set.",
            "No password protection warning will be shown.",
            "Password protection warning is shown if a protected password is re-used.",
            "Password protection warning is shown if a protected password is re-used on a known phishing website."
          ],
          "description": "Whether the Password Protection Warning feature is enabled or not. Password protection alerts users when they reuse their protected password on potentially suspicious sites. This setting is controlled by an enterprise policy: https://chromeenterprise.google/policies/#PasswordProtectionWarningTrigger. Note that the policy unset does not have the same effects as having the policy explicitly set to `PASSWORD_PROTECTION_OFF`.",
          "type": "string"
        },
        "chromeRemoteDesktopAppBlocked": {
          "type": "boolean",
          "description": "Whether access to the Chrome Remote Desktop application is blocked via a policy."
        },
        "allowScreenLock": {
          "type": "boolean",
          "description": "Value of the AllowScreenLock policy on the device. See https://chromeenterprise.google/policies/?policy=AllowScreenLock for more details. Available on ChromeOS only."
        },
        "crowdStrikeAgent": {
          "description": "Crowdstrike agent properties installed on the device, if any. Available on Windows and MacOS only.",
          "$ref": "CrowdStrikeAgent"
        },
        "browserVersion": {
          "type": "string",
          "description": "Current version of the Chrome browser which generated this set of signals. Example value: \"107.0.5286.0\"."
        },
        "deviceManufacturer": {
          "type": "string",
          "description": "The name of the device's manufacturer."
        },
        "deviceModel": {
          "description": "The name of the device's model.",
          "type": "string"
        },
        "secureBootMode": {
          "description": "Whether the device's startup software has its Secure Boot feature enabled. Available on Windows only.",
          "type": "string",
          "enum": [
            "SECURE_BOOT_MODE_UNSPECIFIED",
            "SECURE_BOOT_MODE_UNKNOWN",
            "SECURE_BOOT_MODE_DISABLED",
            "SECURE_BOOT_MODE_ENABLED"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Chrome was unable to determine the Secure Boot mode.",
            "Secure Boot was disabled on the startup software.",
            "Secure Boot was enabled on the startup software."
          ]
        },
        "osVersion": {
          "type": "string",
          "description": "The current version of the Operating System. On Windows and linux, the value will also include the security patch information."
        },
        "windowsUserDomain": {
          "description": "Windows domain for the current OS user. Available on Windows only.",
          "type": "string"
        },
        "builtInDnsClientEnabled": {
          "type": "boolean",
          "description": "Whether Chrome's built-in DNS client is used. The OS DNS client is otherwise used. This value may be controlled by an enterprise policy: https://chromeenterprise.google/policies/#BuiltInDnsClientEnabled."
        },
        "realtimeUrlCheckMode": {
          "type": "string",
          "description": "Whether Enterprise-grade (i.e. custom) unsafe URL scanning is enabled or not. This setting may be controlled by an enterprise policy: https://chromeenterprise.google/policies/#EnterpriseRealTimeUrlCheckMode",
          "enumDescriptions": [
            "Unspecified.",
            "Disabled. Consumer Safe Browsing checks are applied.",
            "Realtime check for main frame URLs is enabled."
          ],
          "enum": [
            "REALTIME_URL_CHECK_MODE_UNSPECIFIED",
            "REALTIME_URL_CHECK_MODE_DISABLED",
            "REALTIME_URL_CHECK_MODE_ENABLED_MAIN_FRAME"
          ]
        },
        "operatingSystem": {
          "enumDescriptions": [
            "UNSPECIFIED.",
            "ChromeOS.",
            "ChromiumOS.",
            "Windows.",
            "Mac Os X.",
            "Linux"
          ],
          "description": "The type of the Operating System currently running on the device.",
          "type": "string",
          "enum": [
            "OPERATING_SYSTEM_UNSPECIFIED",
            "CHROME_OS",
            "CHROMIUM_OS",
            "WINDOWS",
            "MAC_OS_X",
            "LINUX"
          ]
        },
        "osFirewall": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Chrome could not evaluate the OS firewall state.",
            "The OS firewall is disabled.",
            "The OS firewall is enabled."
          ],
          "enum": [
            "OS_FIREWALL_UNSPECIFIED",
            "OS_FIREWALL_UNKNOWN",
            "OS_FIREWALL_DISABLED",
            "OS_FIREWALL_ENABLED"
          ],
          "description": "The state of the OS level firewall. On ChromeOS, the value will always be ENABLED on regular devices and UNKNOWN on devices in developer mode."
        }
      }
    },
    "VerifyChallengeResponseResult": {
      "description": "Result message for VerifiedAccess.VerifyChallengeResponse.",
      "type": "object",
      "properties": {
        "deviceSignal": {
          "type": "string",
          "description": "Deprecated. Device signal in json string representation. Prefer using `device_signals` instead."
        },
        "customerId": {
          "description": "Unique customer id that this device belongs to, as defined by the Google Admin SDK at https://developers.google.com/admin-sdk/directory/v1/guides/manage-customers",
          "type": "string"
        },
        "virtualDeviceId": {
          "type": "string",
          "description": "Virtual device id of the device. The definition of virtual device id is platform-specific."
        },
        "virtualProfileId": {
          "description": "The ID of a profile on the device.",
          "type": "string"
        },
        "deviceEnrollmentId": {
          "description": "Device enrollment id for ChromeOS devices.",
          "type": "string"
        },
        "signedPublicKeyAndChallenge": {
          "type": "string",
          "description": "Certificate Signing Request (in the SPKAC format, base64 encoded) is returned in this field. This field will be set only if device has included CSR in its challenge response. (the option to include CSR is now available for both user and machine responses)"
        },
        "profileKeyTrustLevel": {
          "enum": [
            "KEY_TRUST_LEVEL_UNSPECIFIED",
            "CHROME_OS_VERIFIED_MODE",
            "CHROME_OS_DEVELOPER_MODE",
            "CHROME_BROWSER_HW_KEY",
            "CHROME_BROWSER_OS_KEY",
            "CHROME_BROWSER_NO_KEY"
          ],
          "type": "string",
          "description": "Profile attested key trust level.",
          "enumDescriptions": [
            "UNSPECIFIED.",
            "ChromeOS device in verified mode.",
            "ChromeOS device in developer mode.",
            "Chrome Browser with the key stored in the device hardware.",
            "Chrome Browser with the key stored at OS level.",
            "Chrome Browser without an attestation key."
          ]
        },
        "deviceSignals": {
          "$ref": "DeviceSignals",
          "description": "Device signals."
        },
        "profileCustomerId": {
          "description": "Unique customer id that this profile belongs to, as defined by the Google Admin SDK at https://developers.google.com/admin-sdk/directory/v1/guides/manage-customers",
          "type": "string"
        },
        "attestedDeviceId": {
          "description": "Attested device ID (ADID).",
          "type": "string"
        },
        "devicePermanentId": {
          "description": "Device permanent id is returned in this field (for the machine response only).",
          "type": "string"
        },
        "keyTrustLevel": {
          "type": "string",
          "enum": [
            "KEY_TRUST_LEVEL_UNSPECIFIED",
            "CHROME_OS_VERIFIED_MODE",
            "CHROME_OS_DEVELOPER_MODE",
            "CHROME_BROWSER_HW_KEY",
            "CHROME_BROWSER_OS_KEY",
            "CHROME_BROWSER_NO_KEY"
          ],
          "enumDescriptions": [
            "UNSPECIFIED.",
            "ChromeOS device in verified mode.",
            "ChromeOS device in developer mode.",
            "Chrome Browser with the key stored in the device hardware.",
            "Chrome Browser with the key stored at OS level.",
            "Chrome Browser without an attestation key."
          ],
          "description": "Device attested key trust level."
        }
      },
      "id": "VerifyChallengeResponseResult"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "Empty",
      "type": "object"
    }
  },
  "title": "Chrome Verified Access API",
  "revision": "20230801",
  "id": "verifiedaccess:v2",
  "mtlsRootUrl": "https://verifiedaccess.mtls.googleapis.com/",
  "ownerName": "Google",
  "version_module": true,
  "parameters": {
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string",
      "default": "json",
      "description": "Data format for response."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    }
  },
  "protocol": "rest",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "batchPath": "batch",
  "basePath": "",
  "resources": {
    "challenge": {
      "methods": {
        "generate": {
          "parameters": {},
          "description": "Generates a new challenge.",
          "response": {
            "$ref": "Challenge"
          },
          "flatPath": "v2/challenge:generate",
          "request": {
            "$ref": "Empty"
          },
          "id": "verifiedaccess.challenge.generate",
          "path": "v2/challenge:generate",
          "scopes": [
            "https://www.googleapis.com/auth/verifiedaccess"
          ],
          "httpMethod": "POST",
          "parameterOrder": []
        },
        "verify": {
          "description": "Verifies the challenge response.",
          "parameterOrder": [],
          "flatPath": "v2/challenge:verify",
          "request": {
            "$ref": "VerifyChallengeResponseRequest"
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "VerifyChallengeResponseResult"
          },
          "scopes": [
            "https://www.googleapis.com/auth/verifiedaccess"
          ],
          "id": "verifiedaccess.challenge.verify",
          "path": "v2/challenge:verify",
          "parameters": {}
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/verifiedaccess": {
          "description": "Verify your enterprise credentials"
        }
      }
    }
  },
  "documentationLink": "https://developers.google.com/chrome/verified-access",
  "name": "verifiedaccess",
  "kind": "discovery#restDescription",
  "version": "v2",
  "ownerDomain": "google.com",
  "servicePath": ""
}
