{
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "resources": {
    "challenge": {
      "methods": {
        "generate": {
          "response": {
            "$ref": "Challenge"
          },
          "parameterOrder": [],
          "path": "v2/challenge:generate",
          "request": {
            "$ref": "Empty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/verifiedaccess"
          ],
          "flatPath": "v2/challenge:generate",
          "parameters": {},
          "httpMethod": "POST",
          "description": "Generates a new challenge.",
          "id": "verifiedaccess.challenge.generate"
        },
        "verify": {
          "httpMethod": "POST",
          "request": {
            "$ref": "VerifyChallengeResponseRequest"
          },
          "description": "Verifies the challenge response.",
          "parameters": {},
          "path": "v2/challenge:verify",
          "scopes": [
            "https://www.googleapis.com/auth/verifiedaccess"
          ],
          "flatPath": "v2/challenge:verify",
          "response": {
            "$ref": "VerifyChallengeResponseResult"
          },
          "id": "verifiedaccess.challenge.verify",
          "parameterOrder": []
        }
      }
    }
  },
  "canonicalName": "verifiedaccess",
  "id": "verifiedaccess:v2",
  "revision": "20220519",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/verifiedaccess": {
          "description": "Verify your enterprise credentials"
        }
      }
    }
  },
  "mtlsRootUrl": "https://verifiedaccess.mtls.googleapis.com/",
  "parameters": {
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "default": "json",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    }
  },
  "description": "API for Verified Access chrome extension to provide credential verification for chrome devices connecting to an enterprise network",
  "baseUrl": "https://verifiedaccess.googleapis.com/",
  "servicePath": "",
  "name": "verifiedaccess",
  "batchPath": "batch",
  "version_module": true,
  "schemas": {
    "VerifyChallengeResponseResult": {
      "properties": {
        "keyTrustLevel": {
          "description": "Device attested key trust level.",
          "enumDescriptions": [
            "UNSPECIFIED.",
            "ChromeOS device in verified mode.",
            "ChromeOS device in developer mode.",
            "Chrome Browser with the key stored in TPM.",
            "Chrome Browser with the key stored at OS level."
          ],
          "enum": [
            "KEY_TRUST_LEVEL_UNSPECIFIED",
            "CHROME_OS_VERIFIED_MODE",
            "CHROME_OS_DEVELOPER_MODE",
            "CHROME_BROWSER_TPM_KEY",
            "CHROME_BROWSER_OS_KEY"
          ],
          "type": "string"
        },
        "signedPublicKeyAndChallenge": {
          "type": "string",
          "description": "Certificate Signing Request (in the SPKAC format, base64 encoded) is returned in this field. This field will be set only if device has included CSR in its challenge response. (the option to include CSR is now available for both user and machine responses)"
        },
        "deviceSignal": {
          "type": "string",
          "description": "Device signal in json string representation."
        },
        "devicePermanentId": {
          "description": "Device permanent id is returned in this field (for the machine response only).",
          "type": "string"
        }
      },
      "id": "VerifyChallengeResponseResult",
      "type": "object",
      "description": "Result message for VerifiedAccess.VerifyChallengeResponse."
    },
    "Empty": {
      "properties": {},
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "Challenge": {
      "type": "object",
      "id": "Challenge",
      "properties": {
        "challenge": {
          "description": "Generated challenge, the bytes representation of SignedData.",
          "format": "byte",
          "type": "string"
        },
        "alternativeChallenge": {
          "format": "byte",
          "type": "string",
          "description": "Challenge generated with the old signing key, the bytes representation of SignedData (this will only be present during key rotation)."
        }
      },
      "description": "Result message for VerifiedAccess.CreateChallenge."
    },
    "VerifyChallengeResponseRequest": {
      "properties": {
        "challengeResponse": {
          "description": "Required. The generated response to the challenge, the bytes representation of SignedData.",
          "type": "string",
          "format": "byte"
        },
        "expectedIdentity": {
          "description": "Optional. Service can optionally provide identity information about the device or user associated with the key. For an EMK, this value is the enrolled domain. For an EUK, this value is the user's email address. If present, this value will be checked against contents of the response, and verification will fail if there is no match.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "VerifyChallengeResponseRequest",
      "description": "Signed ChallengeResponse."
    }
  },
  "ownerName": "Google",
  "rootUrl": "https://verifiedaccess.googleapis.com/",
  "title": "Chrome Verified Access API",
  "documentationLink": "https://developers.google.com/chrome/verified-access",
  "version": "v2",
  "fullyEncodeReservedExpansion": true,
  "basePath": "",
  "ownerDomain": "google.com",
  "kind": "discovery#restDescription"
}
