{
  "title": "versionhistory.googleapis.com API",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "baseUrl": "https://versionhistory.googleapis.com/",
  "description": "Version History API - Prod",
  "version_module": true,
  "version": "v1",
  "discoveryVersion": "v1",
  "revision": "20221029",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "rootUrl": "https://versionhistory.googleapis.com/",
  "resources": {
    "platforms": {
      "resources": {
        "channels": {
          "resources": {
            "versions": {
              "resources": {
                "releases": {
                  "methods": {
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "pageSize": {
                          "format": "int32",
                          "description": "Optional. Optional limit on the number of releases to include in the response. If unspecified, the server will pick an appropriate default.",
                          "type": "integer",
                          "location": "query"
                        },
                        "orderBy": {
                          "type": "string",
                          "description": "Optional. Ordering string. Valid order_by strings are \"version\", \"name\", \"starttime\", \"endtime\", \"platform\", \"channel\", and \"fraction\". Optionally, you can append \"desc\" or \"asc\" to specify the sorting order. Multiple order_by strings can be used in a comma separated list. Ordering by channel will sort by distance from the stable channel (not alphabetically). A list of channels sorted in this order is: stable, beta, dev, canary, and canary_asan. Sorting by name may cause unexpected behaviour as it is a naive string sort. For example, 1.0.0.8 will be before 1.0.0.10 in descending order. If order_by is not specified the response will be sorted by starttime in descending order. Ex) \"...?order_by=starttime asc\" Ex) \"...?order_by=platform desc, channel, startime desc\"",
                          "location": "query"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. A page token, received from a previous `ListReleases` call. Provide this to retrieve the subsequent page."
                        },
                        "parent": {
                          "required": true,
                          "pattern": "^[^/]+/platforms/[^/]+/channels/[^/]+/versions/[^/]+$",
                          "description": "Required. The version, which owns this collection of releases. Format: {product}/platforms/{platform}/channels/{channel}/versions/{version}",
                          "type": "string",
                          "location": "path"
                        },
                        "filter": {
                          "description": "Optional. Filter string. Format is a comma separated list of All comma separated filter clauses are conjoined with a logical \"and\". Valid field_names are \"version\", \"name\", \"platform\", \"channel\", \"fraction\" \"starttime\", and \"endtime\". Valid operators are \"\u003c\", \"\u003c=\", \"=\", \"\u003e=\", and \"\u003e\". Channel comparison is done by distance from stable. must be a valid channel when filtering by channel. Ex) stable \u003c beta, beta \u003c dev, canary \u003c canary_asan. Version comparison is done numerically. Ex) 1.0.0.8 \u003c 1.0.0.10. If version is not entirely written, the version will be appended with 0 for the missing fields. Ex) version \u003e 80 becoms version \u003e 80.0.0.0 When filtering by starttime or endtime, string must be in RFC 3339 date string format. Name and platform are filtered by string comparison. Ex) \"...?filter=channel\u003c=beta, version \u003e= 80 Ex) \"...?filter=version \u003e 80, version \u003c 81 Ex) \"...?filter=starttime\u003e2020-01-01T00:00:00Z",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "path": "v1/{+parent}/releases",
                      "id": "versionhistory.platforms.channels.versions.releases.list",
                      "response": {
                        "$ref": "ListReleasesResponse"
                      },
                      "httpMethod": "GET",
                      "flatPath": "v1/{v1Id}/platforms/{platformsId}/channels/{channelsId}/versions/{versionsId}/releases",
                      "description": "Returns list of releases of the given version."
                    }
                  }
                }
              },
              "methods": {
                "list": {
                  "path": "v1/{+parent}/versions",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Returns list of version for the given platform/channel.",
                  "id": "versionhistory.platforms.channels.versions.list",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListVersionsResponse"
                  },
                  "flatPath": "v1/{v1Id}/platforms/{platformsId}/channels/{channelsId}/versions",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A page token, received from a previous `ListVersions` call. Provide this to retrieve the subsequent page.",
                      "type": "string"
                    },
                    "orderBy": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Ordering string. Valid order_by strings are \"version\", \"name\", \"platform\", and \"channel\". Optionally, you can append \" desc\" or \" asc\" to specify the sorting order. Multiple order_by strings can be used in a comma separated list. Ordering by channel will sort by distance from the stable channel (not alphabetically). A list of channels sorted in this order is: stable, beta, dev, canary, and canary_asan. Sorting by name may cause unexpected behaviour as it is a naive string sort. For example, 1.0.0.8 will be before 1.0.0.10 in descending order. If order_by is not specified the response will be sorted by version in descending order. Ex) \"...?order_by=version asc\" Ex) \"...?order_by=platform desc, channel, version\""
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. Optional limit on the number of versions to include in the response. If unspecified, the server will pick an appropriate default."
                    },
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^[^/]+/platforms/[^/]+/channels/[^/]+$",
                      "required": true,
                      "description": "Required. The channel, which owns this collection of versions. Format: {product}/platforms/{platform}/channels/{channel}"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. Filter string. Format is a comma separated list of All comma separated filter clauses are conjoined with a logical \"and\". Valid field_names are \"version\", \"name\", \"platform\", and \"channel\". Valid operators are \"\u003c\", \"\u003c=\", \"=\", \"\u003e=\", and \"\u003e\". Channel comparison is done by distance from stable. Ex) stable \u003c beta, beta \u003c dev, canary \u003c canary_asan. Version comparison is done numerically. If version is not entirely written, the version will be appended with 0 in missing fields. Ex) version \u003e 80 becoms version \u003e 80.0.0.0 Name and platform are filtered by string comparison. Ex) \"...?filter=channel\u003c=beta, version \u003e= 80 Ex) \"...?filter=version \u003e 80, version \u003c 81",
                      "location": "query"
                    }
                  }
                }
              }
            }
          },
          "methods": {
            "list": {
              "response": {
                "$ref": "ListChannelsResponse"
              },
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^[^/]+/platforms/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. The platform, which owns this collection of channels. Format: {product}/platforms/{platform}"
                },
                "pageSize": {
                  "description": "Optional. Optional limit on the number of channels to include in the response. If unspecified, the server will pick an appropriate default.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListChannels` call. Provide this to retrieve the subsequent page.",
                  "location": "query",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "description": "Returns list of channels that are available for a given platform.",
              "flatPath": "v1/{v1Id}/platforms/{platformsId}/channels",
              "path": "v1/{+parent}/channels",
              "parameterOrder": [
                "parent"
              ],
              "id": "versionhistory.platforms.channels.list"
            }
          }
        }
      },
      "methods": {
        "list": {
          "id": "versionhistory.platforms.list",
          "path": "v1/{+parent}/platforms",
          "parameters": {
            "parent": {
              "type": "string",
              "location": "path",
              "description": "Required. The product, which owns this collection of platforms. Format: {product}",
              "pattern": "^[^/]+$",
              "required": true
            },
            "pageSize": {
              "description": "Optional. Optional limit on the number of channels to include in the response. If unspecified, the server will pick an appropriate default.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Optional. A page token, received from a previous `ListChannels` call. Provide this to retrieve the subsequent page."
            }
          },
          "parameterOrder": [
            "parent"
          ],
          "response": {
            "$ref": "ListPlatformsResponse"
          },
          "description": "Returns list of platforms that are available for a given product. The resource \"product\" has no resource name in its name.",
          "flatPath": "v1/{v1Id}/platforms",
          "httpMethod": "GET"
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://versionhistory.mtls.googleapis.com/",
  "canonicalName": "Version History",
  "fullyEncodeReservedExpansion": true,
  "basePath": "",
  "parameters": {
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "alt": {
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    }
  },
  "schemas": {
    "Version": {
      "description": "Each Version is owned by a Channel. A Version only displays the Version number (e.g. 84.0.4147.38). A Version owns a collection of releases.",
      "id": "Version",
      "type": "object",
      "properties": {
        "version": {
          "type": "string",
          "description": "String containing just the version number. e.g. \"84.0.4147.38\""
        },
        "name": {
          "description": "Version name. Format is \"{product}/platforms/{platform}/channels/{channel}/versions/{version}\" e.g. \"chrome/platforms/win/channels/beta/versions/84.0.4147.38\"",
          "type": "string"
        }
      }
    },
    "Interval": {
      "description": "Represents a time interval, encoded as a Timestamp start (inclusive) and a Timestamp end (exclusive). The start must be less than or equal to the end. When the start equals the end, the interval is empty (matches no time). When both start and end are unspecified, the interval matches any time.",
      "id": "Interval",
      "type": "object",
      "properties": {
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end."
        },
        "startTime": {
          "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "ListPlatformsResponse": {
      "type": "object",
      "id": "ListPlatformsResponse",
      "description": "Response message for ListPlatforms.",
      "properties": {
        "platforms": {
          "type": "array",
          "items": {
            "$ref": "Platform"
          },
          "description": "The list of platforms."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "Channel": {
      "description": "Each Channel is owned by a Platform and owns a collection of versions. Possible Channels are listed in the Channel enum below. Not all Channels are available for every Platform (e.g. CANARY does not exist for LINUX).",
      "properties": {
        "channelType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "CHANNEL_TYPE_UNSPECIFIED",
            "STABLE",
            "BETA",
            "DEV",
            "CANARY",
            "CANARY_ASAN",
            "ALL",
            "EXTENDED"
          ],
          "description": "Type of channel."
        },
        "name": {
          "type": "string",
          "description": "Channel name. Format is \"{product}/platforms/{platform}/channels/{channel}\""
        }
      },
      "id": "Channel",
      "type": "object"
    },
    "ListReleasesResponse": {
      "id": "ListReleasesResponse",
      "type": "object",
      "description": "Response message for ListReleases.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "releases": {
          "items": {
            "$ref": "Release"
          },
          "type": "array",
          "description": "The list of releases."
        }
      }
    },
    "ListVersionsResponse": {
      "id": "ListVersionsResponse",
      "type": "object",
      "description": "Response message for ListVersions.",
      "properties": {
        "versions": {
          "description": "The list of versions.",
          "items": {
            "$ref": "Version"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "Release": {
      "properties": {
        "serving": {
          "$ref": "Interval",
          "description": "Timestamp interval of when the release was live. If end_time is unspecified, the release is currently live."
        },
        "version": {
          "type": "string",
          "description": "String containing just the version number. e.g. \"84.0.4147.38\""
        },
        "name": {
          "type": "string",
          "description": "Release name. Format is \"{product}/platforms/{platform}/channels/{channel}/versions/{version}/releases/{release}\""
        },
        "fractionGroup": {
          "format": "int64",
          "description": "Rollout fraction group. Only fractions with the same fraction_group are statistically comparable: there may be non-fractional differences between different fraction groups.",
          "type": "string"
        },
        "fraction": {
          "type": "number",
          "description": "Rollout fraction. This fraction indicates the fraction of people that should receive this version in this release. If the fraction is not specified in ReleaseManager, the API will assume fraction is 1.",
          "format": "double"
        }
      },
      "type": "object",
      "id": "Release",
      "description": "A Release is owned by a Version. A Release contains information about the release(s) of its parent version. This includes when the release began and ended, as well as what percentage it was released at. If the version is released again, or if the serving percentage changes, it will create another release under the version."
    },
    "Platform": {
      "id": "Platform",
      "properties": {
        "name": {
          "description": "Platform name. Format is \"{product}/platforms/{platform}\"",
          "type": "string"
        },
        "platformType": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "Type of platform.",
          "type": "string",
          "enum": [
            "PLATFORM_TYPE_UNSPECIFIED",
            "WIN",
            "WIN64",
            "MAC",
            "LINUX",
            "ANDROID",
            "WEBVIEW",
            "IOS",
            "ALL",
            "MAC_ARM64",
            "LACROS",
            "LACROS_ARM32",
            "CHROMEOS",
            "LACROS_ARM64",
            "FUCHSIA"
          ]
        }
      },
      "type": "object",
      "description": "Each Platform is owned by a Product and owns a collection of channels. Available platforms are listed in Platform enum below. Not all Channels are available for every Platform (e.g. CANARY does not exist for LINUX)."
    },
    "ListChannelsResponse": {
      "type": "object",
      "id": "ListChannelsResponse",
      "description": "Response message for ListChannels.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "channels": {
          "description": "The list of channels.",
          "type": "array",
          "items": {
            "$ref": "Channel"
          }
        }
      }
    }
  },
  "batchPath": "batch",
  "protocol": "rest",
  "id": "versionhistory:v1",
  "documentationLink": "https://developers.chrome.com/versionhistory",
  "name": "versionhistory",
  "servicePath": ""
}
