{
  "description": "Detects objects, explicit content, and scene changes in videos. It also specifies the region for annotation and transcribes speech to text. Supports both asynchronous API and streaming API.",
  "documentationLink": "https://cloud.google.com/video-intelligence/docs/",
  "revision": "20201002",
  "title": "Cloud Video Intelligence API",
  "basePath": "",
  "kind": "discovery#restDescription",
  "name": "videointelligence",
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "protocol": "rest",
  "parameters": {
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string"
    }
  },
  "canonicalName": "Cloud Video Intelligence",
  "servicePath": "",
  "resources": {
    "videos": {
      "methods": {
        "annotate": {
          "id": "videointelligence.videos.annotate",
          "description": "Performs asynchronous video annotation. Progress and results can be retrieved through the `google.longrunning.Operations` interface. `Operation.metadata` contains `AnnotateVideoProgress` (progress). `Operation.response` contains `AnnotateVideoResponse` (results).",
          "httpMethod": "POST",
          "parameterOrder": [],
          "path": "v1p2beta1/videos:annotate",
          "request": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_AnnotateVideoRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "GoogleLongrunning_Operation"
          },
          "flatPath": "v1p2beta1/videos:annotate",
          "parameters": {}
        }
      }
    }
  },
  "version_module": true,
  "mtlsRootUrl": "https://videointelligence.mtls.googleapis.com/",
  "rootUrl": "https://videointelligence.googleapis.com/",
  "version": "v1p2beta1",
  "id": "videointelligence:v1p2beta1",
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "schemas": {
    "GoogleCloudVideointelligenceV1_FaceFrame": {
      "description": "Deprecated. No effect.",
      "id": "GoogleCloudVideointelligenceV1_FaceFrame",
      "properties": {
        "timeOffset": {
          "type": "string",
          "format": "google-duration",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this location."
        },
        "normalizedBoundingBoxes": {
          "type": "array",
          "description": "Normalized Bounding boxes in a frame. There can be more than one boxes if the same face is detected in multiple locations within the current frame.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_NormalizedBoundingBox"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p2beta1_TextFrame": {
      "properties": {
        "rotatedBoundingBox": {
          "description": "Bounding polygon of the detected text for this frame.",
          "$ref": "GoogleCloudVideointelligenceV1p2beta1_NormalizedBoundingPoly"
        },
        "timeOffset": {
          "description": "Timestamp of this frame.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p2beta1_TextFrame",
      "type": "object",
      "description": "Video frame level annotation results for text annotation (OCR). Contains information regarding timestamp and bounding box locations for the frames containing detected OCR text snippets."
    },
    "GoogleCloudVideointelligenceV1beta2_FaceFrame": {
      "properties": {
        "timeOffset": {
          "type": "string",
          "format": "google-duration",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this location."
        },
        "normalizedBoundingBoxes": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_NormalizedBoundingBox"
          },
          "type": "array",
          "description": "Normalized Bounding boxes in a frame. There can be more than one boxes if the same face is detected in multiple locations within the current frame."
        }
      },
      "type": "object",
      "description": "Deprecated. No effect.",
      "id": "GoogleCloudVideointelligenceV1beta2_FaceFrame"
    },
    "GoogleCloudVideointelligenceV1p2beta1_VideoAnnotationProgress": {
      "description": "Annotation progress for a single video.",
      "id": "GoogleCloudVideointelligenceV1p2beta1_VideoAnnotationProgress",
      "properties": {
        "feature": {
          "type": "string",
          "enum": [
            "FEATURE_UNSPECIFIED",
            "LABEL_DETECTION",
            "SHOT_CHANGE_DETECTION",
            "EXPLICIT_CONTENT_DETECTION",
            "FACE_DETECTION",
            "SPEECH_TRANSCRIPTION",
            "TEXT_DETECTION",
            "OBJECT_TRACKING",
            "LOGO_RECOGNITION",
            "PERSON_DETECTION"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Label detection. Detect objects, such as dog or flower.",
            "Shot change detection.",
            "Explicit content detection.",
            "Human face detection.",
            "Speech transcription.",
            "OCR text detection and tracking.",
            "Object detection and tracking.",
            "Logo detection, tracking, and recognition.",
            "Person detection."
          ],
          "description": "Specifies which feature is being tracked if the request contains more than one feature."
        },
        "progressPercent": {
          "type": "integer",
          "description": "Approximate percentage processed thus far. Guaranteed to be 100 when fully processed.",
          "format": "int32"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time of the most recent update."
        },
        "segment": {
          "description": "Specifies which segment is being tracked if the request contains more than one segment.",
          "$ref": "GoogleCloudVideointelligenceV1p2beta1_VideoSegment"
        },
        "startTime": {
          "description": "Time when the request was received.",
          "type": "string",
          "format": "google-datetime"
        },
        "inputUri": {
          "description": "Video file location in [Cloud Storage](https://cloud.google.com/storage/).",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1_TextFrame": {
      "id": "GoogleCloudVideointelligenceV1_TextFrame",
      "properties": {
        "rotatedBoundingBox": {
          "description": "Bounding polygon of the detected text for this frame.",
          "$ref": "GoogleCloudVideointelligenceV1_NormalizedBoundingPoly"
        },
        "timeOffset": {
          "type": "string",
          "format": "google-duration",
          "description": "Timestamp of this frame."
        }
      },
      "type": "object",
      "description": "Video frame level annotation results for text annotation (OCR). Contains information regarding timestamp and bounding box locations for the frames containing detected OCR text snippets."
    },
    "GoogleCloudVideointelligenceV1p3beta1_TextAnnotation": {
      "description": "Annotations related to one detected OCR text snippet. This will contain the corresponding text, confidence value, and frame level information for each detection.",
      "properties": {
        "version": {
          "type": "string",
          "description": "Feature version."
        },
        "segments": {
          "description": "All video segments where OCR detected text appears.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_TextSegment"
          }
        },
        "text": {
          "description": "The detected text.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p3beta1_TextAnnotation"
    },
    "GoogleCloudVideointelligenceV1p3beta1_ObjectTrackingFrame": {
      "type": "object",
      "properties": {
        "normalizedBoundingBox": {
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_NormalizedBoundingBox",
          "description": "The normalized bounding box location of this object track for the frame."
        },
        "timeOffset": {
          "description": "The timestamp of the frame in microseconds.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p3beta1_ObjectTrackingFrame",
      "description": "Video frame level annotations for object detection and tracking. This field stores per frame location, time offset, and confidence."
    },
    "GoogleCloudVideointelligenceV1beta2_TextFrame": {
      "id": "GoogleCloudVideointelligenceV1beta2_TextFrame",
      "description": "Video frame level annotation results for text annotation (OCR). Contains information regarding timestamp and bounding box locations for the frames containing detected OCR text snippets.",
      "properties": {
        "rotatedBoundingBox": {
          "description": "Bounding polygon of the detected text for this frame.",
          "$ref": "GoogleCloudVideointelligenceV1beta2_NormalizedBoundingPoly"
        },
        "timeOffset": {
          "description": "Timestamp of this frame.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1_FaceDetectionAnnotation": {
      "type": "object",
      "properties": {
        "version": {
          "type": "string",
          "description": "Feature version."
        }
      },
      "description": "Face detection annotation.",
      "id": "GoogleCloudVideointelligenceV1_FaceDetectionAnnotation"
    },
    "GoogleCloudVideointelligenceV1_VideoSegment": {
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1_VideoSegment",
      "description": "Video segment.",
      "properties": {
        "startTimeOffset": {
          "format": "google-duration",
          "type": "string",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the start of the segment (inclusive)."
        },
        "endTimeOffset": {
          "type": "string",
          "format": "google-duration",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the end of the segment (inclusive)."
        }
      }
    },
    "GoogleCloudVideointelligenceV1p2beta1_ObjectTrackingConfig": {
      "description": "Config for OBJECT_TRACKING.",
      "properties": {
        "model": {
          "type": "string",
          "description": "Model to use for object tracking. Supported values: \"builtin/stable\" (the default if unset) and \"builtin/latest\"."
        }
      },
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p2beta1_ObjectTrackingConfig"
    },
    "GoogleCloudVideointelligenceV1_ObjectTrackingAnnotation": {
      "description": "Annotations corresponding to one tracked object.",
      "properties": {
        "confidence": {
          "type": "number",
          "description": "Object category's labeling confidence of this track.",
          "format": "float"
        },
        "version": {
          "type": "string",
          "description": "Feature version."
        },
        "segment": {
          "description": "Non-streaming batch mode ONLY. Each object track corresponds to one video segment where it appears.",
          "$ref": "GoogleCloudVideointelligenceV1_VideoSegment"
        },
        "trackId": {
          "type": "string",
          "description": "Streaming mode ONLY. In streaming mode, we do not know the end time of a tracked object before it is completed. Hence, there is no VideoSegment info returned. Instead, we provide a unique identifiable integer track_id so that the customers can correlate the results of the ongoing ObjectTrackAnnotation of the same track_id over time.",
          "format": "int64"
        },
        "frames": {
          "description": "Information corresponding to all frames where this object track appears. Non-streaming batch mode: it may be one or multiple ObjectTrackingFrame messages in frames. Streaming mode: it can only be one ObjectTrackingFrame message in frames.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_ObjectTrackingFrame"
          }
        },
        "entity": {
          "description": "Entity to specify the object category that this track is labeled as.",
          "$ref": "GoogleCloudVideointelligenceV1_Entity"
        }
      },
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1_ObjectTrackingAnnotation"
    },
    "GoogleCloudVideointelligenceV1p3beta1_StreamingAnnotateVideoResponse": {
      "description": "`StreamingAnnotateVideoResponse` is the only message returned to the client by `StreamingAnnotateVideo`. A series of zero or more `StreamingAnnotateVideoResponse` messages are streamed back to the client.",
      "properties": {
        "error": {
          "description": "If set, returns a google.rpc.Status message that specifies the error for the operation.",
          "$ref": "GoogleRpc_Status"
        },
        "annotationResults": {
          "description": "Streaming annotation results.",
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_StreamingVideoAnnotationResults"
        },
        "annotationResultsUri": {
          "type": "string",
          "description": "Google Cloud Storage URI that stores annotation results of one streaming session in JSON format. It is the annotation_result_storage_directory from the request followed by '/cloud_project_number-session_id'."
        }
      },
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p3beta1_StreamingAnnotateVideoResponse"
    },
    "GoogleCloudVideointelligenceV1p1beta1_VideoSegment": {
      "properties": {
        "endTimeOffset": {
          "description": "Time-offset, relative to the beginning of the video, corresponding to the end of the segment (inclusive).",
          "format": "google-duration",
          "type": "string"
        },
        "startTimeOffset": {
          "description": "Time-offset, relative to the beginning of the video, corresponding to the start of the segment (inclusive).",
          "format": "google-duration",
          "type": "string"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p1beta1_VideoSegment",
      "type": "object",
      "description": "Video segment."
    },
    "GoogleCloudVideointelligenceV1_AnnotateVideoProgress": {
      "properties": {
        "annotationProgress": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_VideoAnnotationProgress"
          },
          "description": "Progress metadata for all videos specified in `AnnotateVideoRequest`."
        }
      },
      "description": "Video annotation progress. Included in the `metadata` field of the `Operation` returned by the `GetOperation` call of the `google::longrunning::Operations` service.",
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1_AnnotateVideoProgress"
    },
    "GoogleCloudVideointelligenceV1p1beta1_ExplicitContentAnnotation": {
      "type": "object",
      "description": "Explicit content annotation (based on per-frame visual signals only). If no explicit content has been detected in a frame, no annotations are present for that frame.",
      "id": "GoogleCloudVideointelligenceV1p1beta1_ExplicitContentAnnotation",
      "properties": {
        "version": {
          "type": "string",
          "description": "Feature version."
        },
        "frames": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_ExplicitContentFrame"
          },
          "type": "array",
          "description": "All video frames where explicit content was detected."
        }
      }
    },
    "GoogleCloudVideointelligenceV1p1beta1_LabelFrame": {
      "type": "object",
      "description": "Video frame level annotation results for label detection.",
      "properties": {
        "timeOffset": {
          "type": "string",
          "format": "google-duration",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this location."
        },
        "confidence": {
          "description": "Confidence that the label is accurate. Range: [0, 1].",
          "type": "number",
          "format": "float"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p1beta1_LabelFrame"
    },
    "GoogleCloudVideointelligenceV1p2beta1_Entity": {
      "properties": {
        "entityId": {
          "type": "string",
          "description": "Opaque entity ID. Some IDs may be available in [Google Knowledge Graph Search API](https://developers.google.com/knowledge-graph/)."
        },
        "languageCode": {
          "description": "Language code for `description` in BCP-47 format.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Textual description, e.g., `Fixed-gear bicycle`."
        }
      },
      "type": "object",
      "description": "Detected entity from video analysis.",
      "id": "GoogleCloudVideointelligenceV1p2beta1_Entity"
    },
    "GoogleCloudVideointelligenceV1p2beta1_FaceDetectionAnnotation": {
      "description": "Face detection annotation.",
      "properties": {
        "version": {
          "description": "Feature version.",
          "type": "string"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p2beta1_FaceDetectionAnnotation",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1beta2_ObjectTrackingFrame": {
      "properties": {
        "timeOffset": {
          "type": "string",
          "format": "google-duration",
          "description": "The timestamp of the frame in microseconds."
        },
        "normalizedBoundingBox": {
          "$ref": "GoogleCloudVideointelligenceV1beta2_NormalizedBoundingBox",
          "description": "The normalized bounding box location of this object track for the frame."
        }
      },
      "id": "GoogleCloudVideointelligenceV1beta2_ObjectTrackingFrame",
      "description": "Video frame level annotations for object detection and tracking. This field stores per frame location, time offset, and confidence.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p2beta1_VideoAnnotationResults": {
      "properties": {
        "speechTranscriptions": {
          "type": "array",
          "description": "Speech transcription.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_SpeechTranscription"
          }
        },
        "segmentPresenceLabelAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_LabelAnnotation"
          },
          "type": "array",
          "description": "Presence label annotations on video level or user-specified segment level. There is exactly one element for each unique label. Compared to the existing topical `segment_label_annotations`, this field presents more fine-grained, segment-level labels detected in video content and is made available only when the client sets `LabelDetectionConfig.model` to \"builtin/latest\" in the request."
        },
        "shotAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_VideoSegment"
          },
          "type": "array",
          "description": "Shot annotations. Each shot is represented as a video segment."
        },
        "faceAnnotations": {
          "description": "Deprecated. Please use `face_detection_annotations` instead.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_FaceAnnotation"
          },
          "type": "array"
        },
        "error": {
          "description": "If set, indicates an error. Note that for a single `AnnotateVideoRequest` some videos may succeed and some may fail.",
          "$ref": "GoogleRpc_Status"
        },
        "frameLabelAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_LabelAnnotation"
          },
          "type": "array",
          "description": "Label annotations on frame level. There is exactly one element for each unique label."
        },
        "textAnnotations": {
          "type": "array",
          "description": "OCR text detection and tracking. Annotations for list of detected text snippets. Each will have list of frame information associated with it.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_TextAnnotation"
          }
        },
        "segment": {
          "$ref": "GoogleCloudVideointelligenceV1p2beta1_VideoSegment",
          "description": "Video segment on which the annotation is run."
        },
        "objectAnnotations": {
          "description": "Annotations for list of objects detected and tracked in video.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_ObjectTrackingAnnotation"
          },
          "type": "array"
        },
        "shotPresenceLabelAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_LabelAnnotation"
          },
          "type": "array",
          "description": "Presence label annotations on shot level. There is exactly one element for each unique label. Compared to the existing topical `shot_label_annotations`, this field presents more fine-grained, shot-level labels detected in video content and is made available only when the client sets `LabelDetectionConfig.model` to \"builtin/latest\" in the request."
        },
        "shotLabelAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_LabelAnnotation"
          },
          "type": "array",
          "description": "Topical label annotations on shot level. There is exactly one element for each unique label."
        },
        "inputUri": {
          "description": "Video file location in [Cloud Storage](https://cloud.google.com/storage/).",
          "type": "string"
        },
        "explicitAnnotation": {
          "$ref": "GoogleCloudVideointelligenceV1p2beta1_ExplicitContentAnnotation",
          "description": "Explicit content annotation."
        },
        "faceDetectionAnnotations": {
          "description": "Face detection annotations.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_FaceDetectionAnnotation"
          },
          "type": "array"
        },
        "personDetectionAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_PersonDetectionAnnotation"
          },
          "type": "array",
          "description": "Person detection annotations."
        },
        "logoRecognitionAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_LogoRecognitionAnnotation"
          },
          "type": "array",
          "description": "Annotations for list of logos detected, tracked and recognized in video."
        },
        "segmentLabelAnnotations": {
          "type": "array",
          "description": "Topical label annotations on video level or user-specified segment level. There is exactly one element for each unique label.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_LabelAnnotation"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p2beta1_VideoAnnotationResults",
      "description": "Annotation results for a single video."
    },
    "GoogleCloudVideointelligenceV1p1beta1_FaceAnnotation": {
      "type": "object",
      "properties": {
        "segments": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_FaceSegment"
          },
          "description": "All video segments where a face was detected.",
          "type": "array"
        },
        "thumbnail": {
          "type": "string",
          "description": "Thumbnail of a representative face view (in JPEG format).",
          "format": "byte"
        },
        "frames": {
          "type": "array",
          "description": "All video frames where a face was detected.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_FaceFrame"
          }
        }
      },
      "id": "GoogleCloudVideointelligenceV1p1beta1_FaceAnnotation",
      "description": "Deprecated. No effect."
    },
    "GoogleCloudVideointelligenceV1p1beta1_TimestampedObject": {
      "type": "object",
      "properties": {
        "attributes": {
          "description": "Optional. The attributes of the object in the bounding box.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_DetectedAttribute"
          },
          "type": "array"
        },
        "normalizedBoundingBox": {
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_NormalizedBoundingBox",
          "description": "Normalized Bounding box in a frame, where the object is located."
        },
        "timeOffset": {
          "type": "string",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this object.",
          "format": "google-duration"
        },
        "landmarks": {
          "type": "array",
          "description": "Optional. The detected landmarks.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_DetectedLandmark"
          }
        }
      },
      "id": "GoogleCloudVideointelligenceV1p1beta1_TimestampedObject",
      "description": "For tracking related features. An object at time_offset with attributes, and located with normalized_bounding_box."
    },
    "GoogleCloudVideointelligenceV1_WordInfo": {
      "description": "Word-specific information for recognized words. Word information is only included in the response when certain request parameters are set, such as `enable_word_time_offsets`.",
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1_WordInfo",
      "properties": {
        "endTime": {
          "description": "Time offset relative to the beginning of the audio, and corresponding to the end of the spoken word. This field is only set if `enable_word_time_offsets=true` and only in the top hypothesis. This is an experimental feature and the accuracy of the time offset can vary.",
          "type": "string",
          "format": "google-duration"
        },
        "startTime": {
          "description": "Time offset relative to the beginning of the audio, and corresponding to the start of the spoken word. This field is only set if `enable_word_time_offsets=true` and only in the top hypothesis. This is an experimental feature and the accuracy of the time offset can vary.",
          "format": "google-duration",
          "type": "string"
        },
        "speakerTag": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. A distinct integer value is assigned for every speaker within the audio. This field specifies which one of those speakers was detected to have spoken this word. Value ranges from 1 up to diarization_speaker_count, and is only set if speaker diarization is enabled.",
          "readOnly": true
        },
        "word": {
          "description": "The word corresponding to this set of information.",
          "type": "string"
        },
        "confidence": {
          "readOnly": true,
          "format": "float",
          "type": "number",
          "description": "Output only. The confidence estimate between 0.0 and 1.0. A higher number indicates an estimated greater likelihood that the recognized words are correct. This field is set only for the top alternative. This field is not guaranteed to be accurate and users should not rely on it to be always provided. The default of 0.0 is a sentinel value indicating `confidence` was not set."
        }
      }
    },
    "GoogleCloudVideointelligenceV1p3beta1_LabelFrame": {
      "id": "GoogleCloudVideointelligenceV1p3beta1_LabelFrame",
      "description": "Video frame level annotation results for label detection.",
      "type": "object",
      "properties": {
        "timeOffset": {
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this location.",
          "type": "string",
          "format": "google-duration"
        },
        "confidence": {
          "description": "Confidence that the label is accurate. Range: [0, 1].",
          "type": "number",
          "format": "float"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p3beta1_SpeechTranscription": {
      "description": "A speech recognition result corresponding to a portion of the audio.",
      "id": "GoogleCloudVideointelligenceV1p3beta1_SpeechTranscription",
      "type": "object",
      "properties": {
        "alternatives": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_SpeechRecognitionAlternative"
          },
          "description": "May contain one or more recognition hypotheses (up to the maximum specified in `max_alternatives`). These alternatives are ordered in terms of accuracy, with the top (first) alternative being the most probable, as ranked by the recognizer.",
          "type": "array"
        },
        "languageCode": {
          "description": "Output only. The [BCP-47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt) language tag of the language in this result. This language code was detected to have the most likelihood of being spoken in the audio.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GoogleCloudVideointelligenceV1p3beta1_CelebrityTrack": {
      "id": "GoogleCloudVideointelligenceV1p3beta1_CelebrityTrack",
      "type": "object",
      "description": "The annotation result of a celebrity face track. RecognizedCelebrity field could be empty if the face track does not have any matched celebrities.",
      "properties": {
        "faceTrack": {
          "description": "A track of a person's face.",
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_Track"
        },
        "celebrities": {
          "description": "Top N match of the celebrities for the face in this track.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_RecognizedCelebrity"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p3beta1_TextSegment": {
      "type": "object",
      "properties": {
        "segment": {
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_VideoSegment",
          "description": "Video segment where a text snippet was detected."
        },
        "frames": {
          "type": "array",
          "description": "Information related to the frames where OCR detected text appears.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_TextFrame"
          }
        },
        "confidence": {
          "type": "number",
          "description": "Confidence for the track of detected text. It is calculated as the highest over all frames where OCR detected text appears.",
          "format": "float"
        }
      },
      "description": "Video segment level annotation results for text detection.",
      "id": "GoogleCloudVideointelligenceV1p3beta1_TextSegment"
    },
    "GoogleCloudVideointelligenceV1p1beta1_LabelAnnotation": {
      "description": "Label annotation.",
      "properties": {
        "categoryEntities": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_Entity"
          },
          "description": "Common categories for the detected entity. For example, when the label is `Terrier`, the category is likely `dog`. And in some cases there might be more than one categories e.g., `Terrier` could also be a `pet`.",
          "type": "array"
        },
        "frames": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_LabelFrame"
          },
          "description": "All video frames where a label was detected.",
          "type": "array"
        },
        "version": {
          "type": "string",
          "description": "Feature version."
        },
        "segments": {
          "type": "array",
          "description": "All video segments where a label was detected.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_LabelSegment"
          }
        },
        "entity": {
          "description": "Detected entity.",
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_Entity"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p1beta1_LabelAnnotation",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1_ExplicitContentFrame": {
      "id": "GoogleCloudVideointelligenceV1_ExplicitContentFrame",
      "properties": {
        "pornographyLikelihood": {
          "description": "Likelihood of the pornography content..",
          "type": "string",
          "enumDescriptions": [
            "Unspecified likelihood.",
            "Very unlikely.",
            "Unlikely.",
            "Possible.",
            "Likely.",
            "Very likely."
          ],
          "enum": [
            "LIKELIHOOD_UNSPECIFIED",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ]
        },
        "timeOffset": {
          "type": "string",
          "format": "google-duration",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this location."
        }
      },
      "description": "Video frame level annotation results for explicit content.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1_LabelAnnotation": {
      "properties": {
        "categoryEntities": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_Entity"
          },
          "description": "Common categories for the detected entity. For example, when the label is `Terrier`, the category is likely `dog`. And in some cases there might be more than one categories e.g., `Terrier` could also be a `pet`.",
          "type": "array"
        },
        "segments": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_LabelSegment"
          },
          "description": "All video segments where a label was detected."
        },
        "version": {
          "description": "Feature version.",
          "type": "string"
        },
        "frames": {
          "description": "All video frames where a label was detected.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_LabelFrame"
          }
        },
        "entity": {
          "$ref": "GoogleCloudVideointelligenceV1_Entity",
          "description": "Detected entity."
        }
      },
      "id": "GoogleCloudVideointelligenceV1_LabelAnnotation",
      "type": "object",
      "description": "Label annotation."
    },
    "GoogleCloudVideointelligenceV1p2beta1_SpeechTranscriptionConfig": {
      "description": "Config for SPEECH_TRANSCRIPTION.",
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p2beta1_SpeechTranscriptionConfig",
      "properties": {
        "enableSpeakerDiarization": {
          "description": "Optional. If 'true', enables speaker detection for each recognized word in the top alternative of the recognition result using a speaker_tag provided in the WordInfo. Note: When this is true, we send all the words from the beginning of the audio for the top alternative in every consecutive response. This is done in order to improve our speaker tags as our models learn to identify the speakers in the conversation over time.",
          "type": "boolean"
        },
        "diarizationSpeakerCount": {
          "type": "integer",
          "description": "Optional. If set, specifies the estimated number of speakers in the conversation. If not set, defaults to '2'. Ignored unless enable_speaker_diarization is set to true.",
          "format": "int32"
        },
        "enableAutomaticPunctuation": {
          "description": "Optional. If 'true', adds punctuation to recognition result hypotheses. This feature is only available in select languages. Setting this for requests in other languages has no effect at all. The default 'false' value does not add punctuation to result hypotheses. NOTE: \"This is currently offered as an experimental service, complimentary to all users. In the future this may be exclusively available as a premium feature.\"",
          "type": "boolean"
        },
        "audioTracks": {
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "type": "array",
          "description": "Optional. For file formats, such as MXF or MKV, supporting multiple audio tracks, specify up to two tracks. Default: track 0."
        },
        "languageCode": {
          "type": "string",
          "description": "Required. *Required* The language of the supplied audio as a [BCP-47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt) language tag. Example: \"en-US\". See [Language Support](https://cloud.google.com/speech/docs/languages) for a list of the currently supported language codes."
        },
        "speechContexts": {
          "description": "Optional. A means to provide context to assist the speech recognition.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_SpeechContext"
          },
          "type": "array"
        },
        "filterProfanity": {
          "type": "boolean",
          "description": "Optional. If set to `true`, the server will attempt to filter out profanities, replacing all but the initial character in each filtered word with asterisks, e.g. \"f***\". If set to `false` or omitted, profanities won't be filtered out."
        },
        "maxAlternatives": {
          "description": "Optional. Maximum number of recognition hypotheses to be returned. Specifically, the maximum number of `SpeechRecognitionAlternative` messages within each `SpeechTranscription`. The server may return fewer than `max_alternatives`. Valid values are `0`-`30`. A value of `0` or `1` will return a maximum of one. If omitted, will return a maximum of one.",
          "type": "integer",
          "format": "int32"
        },
        "enableWordConfidence": {
          "description": "Optional. If `true`, the top result includes a list of words and the confidence for those words. If `false`, no word-level confidence information is returned. The default is `false`.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p2beta1_DetectedAttribute": {
      "id": "GoogleCloudVideointelligenceV1p2beta1_DetectedAttribute",
      "properties": {
        "confidence": {
          "format": "float",
          "description": "Detected attribute confidence. Range [0, 1].",
          "type": "number"
        },
        "name": {
          "description": "The name of the attribute, for example, glasses, dark_glasses, mouth_open. A full list of supported type names will be provided in the document.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Text value of the detection result. For example, the value for \"HairColor\" can be \"black\", \"blonde\", etc."
        }
      },
      "description": "A generic detected attribute represented by name in string format.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p3beta1_NormalizedBoundingBox": {
      "description": "Normalized bounding box. The normalized vertex coordinates are relative to the original image. Range: [0, 1].",
      "properties": {
        "left": {
          "description": "Left X coordinate.",
          "format": "float",
          "type": "number"
        },
        "bottom": {
          "type": "number",
          "description": "Bottom Y coordinate.",
          "format": "float"
        },
        "top": {
          "description": "Top Y coordinate.",
          "format": "float",
          "type": "number"
        },
        "right": {
          "description": "Right X coordinate.",
          "format": "float",
          "type": "number"
        }
      },
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p3beta1_NormalizedBoundingBox"
    },
    "GoogleCloudVideointelligenceV1beta2_DetectedAttribute": {
      "properties": {
        "value": {
          "type": "string",
          "description": "Text value of the detection result. For example, the value for \"HairColor\" can be \"black\", \"blonde\", etc."
        },
        "name": {
          "type": "string",
          "description": "The name of the attribute, for example, glasses, dark_glasses, mouth_open. A full list of supported type names will be provided in the document."
        },
        "confidence": {
          "description": "Detected attribute confidence. Range [0, 1].",
          "type": "number",
          "format": "float"
        }
      },
      "description": "A generic detected attribute represented by name in string format.",
      "id": "GoogleCloudVideointelligenceV1beta2_DetectedAttribute",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1_AnnotateVideoResponse": {
      "description": "Video annotation response. Included in the `response` field of the `Operation` returned by the `GetOperation` call of the `google::longrunning::Operations` service.",
      "type": "object",
      "properties": {
        "annotationResults": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_VideoAnnotationResults"
          },
          "description": "Annotation results for all videos specified in `AnnotateVideoRequest`."
        }
      },
      "id": "GoogleCloudVideointelligenceV1_AnnotateVideoResponse"
    },
    "GoogleCloudVideointelligenceV1p2beta1_TextAnnotation": {
      "properties": {
        "text": {
          "description": "The detected text.",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "Feature version."
        },
        "segments": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_TextSegment"
          },
          "description": "All video segments where OCR detected text appears."
        }
      },
      "description": "Annotations related to one detected OCR text snippet. This will contain the corresponding text, confidence value, and frame level information for each detection.",
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p2beta1_TextAnnotation"
    },
    "GoogleCloudVideointelligenceV1p2beta1_TimestampedObject": {
      "description": "For tracking related features. An object at time_offset with attributes, and located with normalized_bounding_box.",
      "type": "object",
      "properties": {
        "normalizedBoundingBox": {
          "description": "Normalized Bounding box in a frame, where the object is located.",
          "$ref": "GoogleCloudVideointelligenceV1p2beta1_NormalizedBoundingBox"
        },
        "attributes": {
          "description": "Optional. The attributes of the object in the bounding box.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_DetectedAttribute"
          }
        },
        "timeOffset": {
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this object.",
          "type": "string",
          "format": "google-duration"
        },
        "landmarks": {
          "description": "Optional. The detected landmarks.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_DetectedLandmark"
          }
        }
      },
      "id": "GoogleCloudVideointelligenceV1p2beta1_TimestampedObject"
    },
    "GoogleCloudVideointelligenceV1p2beta1_SpeechContext": {
      "description": "Provides \"hints\" to the speech recognizer to favor specific words and phrases in the results.",
      "id": "GoogleCloudVideointelligenceV1p2beta1_SpeechContext",
      "properties": {
        "phrases": {
          "type": "array",
          "description": "Optional. A list of strings containing words and phrases \"hints\" so that the speech recognition is more likely to recognize them. This can be used to improve the accuracy for specific words and phrases, for example, if specific commands are typically spoken by the user. This can also be used to add additional words to the vocabulary of the recognizer. See [usage limits](https://cloud.google.com/speech/limits#content).",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleRpc_Status": {
      "id": "GoogleRpc_Status",
      "properties": {
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          }
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      },
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "GoogleCloudVideointelligenceV1p3beta1_PersonDetectionAnnotation": {
      "properties": {
        "version": {
          "type": "string",
          "description": "Feature version."
        },
        "tracks": {
          "type": "array",
          "description": "The detected tracks of a person.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_Track"
          }
        }
      },
      "type": "object",
      "description": "Person detection annotation per video.",
      "id": "GoogleCloudVideointelligenceV1p3beta1_PersonDetectionAnnotation"
    },
    "GoogleCloudVideointelligenceV1p1beta1_VideoAnnotationProgress": {
      "description": "Annotation progress for a single video.",
      "properties": {
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time of the most recent update."
        },
        "progressPercent": {
          "type": "integer",
          "description": "Approximate percentage processed thus far. Guaranteed to be 100 when fully processed.",
          "format": "int32"
        },
        "inputUri": {
          "type": "string",
          "description": "Video file location in [Cloud Storage](https://cloud.google.com/storage/)."
        },
        "segment": {
          "description": "Specifies which segment is being tracked if the request contains more than one segment.",
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_VideoSegment"
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time when the request was received."
        },
        "feature": {
          "enumDescriptions": [
            "Unspecified.",
            "Label detection. Detect objects, such as dog or flower.",
            "Shot change detection.",
            "Explicit content detection.",
            "Human face detection.",
            "Speech transcription.",
            "OCR text detection and tracking.",
            "Object detection and tracking.",
            "Logo detection, tracking, and recognition.",
            "Person detection."
          ],
          "description": "Specifies which feature is being tracked if the request contains more than one feature.",
          "type": "string",
          "enum": [
            "FEATURE_UNSPECIFIED",
            "LABEL_DETECTION",
            "SHOT_CHANGE_DETECTION",
            "EXPLICIT_CONTENT_DETECTION",
            "FACE_DETECTION",
            "SPEECH_TRANSCRIPTION",
            "TEXT_DETECTION",
            "OBJECT_TRACKING",
            "LOGO_RECOGNITION",
            "PERSON_DETECTION"
          ]
        }
      },
      "id": "GoogleCloudVideointelligenceV1p1beta1_VideoAnnotationProgress",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1_ObjectTrackingFrame": {
      "id": "GoogleCloudVideointelligenceV1_ObjectTrackingFrame",
      "type": "object",
      "properties": {
        "timeOffset": {
          "type": "string",
          "description": "The timestamp of the frame in microseconds.",
          "format": "google-duration"
        },
        "normalizedBoundingBox": {
          "description": "The normalized bounding box location of this object track for the frame.",
          "$ref": "GoogleCloudVideointelligenceV1_NormalizedBoundingBox"
        }
      },
      "description": "Video frame level annotations for object detection and tracking. This field stores per frame location, time offset, and confidence."
    },
    "GoogleCloudVideointelligenceV1p2beta1_PersonDetectionConfig": {
      "type": "object",
      "properties": {
        "includeBoundingBoxes": {
          "description": "Whether bounding boxes are included in the person detection annotation output.",
          "type": "boolean"
        },
        "includePoseLandmarks": {
          "description": "Whether to enable pose landmarks detection. Ignored if 'include_bounding_boxes' is set to false.",
          "type": "boolean"
        },
        "includeAttributes": {
          "type": "boolean",
          "description": "Whether to enable person attributes detection, such as cloth color (black, blue, etc), type (coat, dress, etc), pattern (plain, floral, etc), hair, etc. Ignored if 'include_bounding_boxes' is set to false."
        }
      },
      "description": "Config for PERSON_DETECTION.",
      "id": "GoogleCloudVideointelligenceV1p2beta1_PersonDetectionConfig"
    },
    "GoogleCloudVideointelligenceV1p2beta1_SpeechRecognitionAlternative": {
      "type": "object",
      "description": "Alternative hypotheses (a.k.a. n-best list).",
      "id": "GoogleCloudVideointelligenceV1p2beta1_SpeechRecognitionAlternative",
      "properties": {
        "transcript": {
          "description": "Transcript text representing the words that the user spoke.",
          "type": "string"
        },
        "words": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. A list of word-specific information for each recognized word. Note: When `enable_speaker_diarization` is set to true, you will see all the words from the beginning of the audio.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_WordInfo"
          }
        },
        "confidence": {
          "readOnly": true,
          "description": "Output only. The confidence estimate between 0.0 and 1.0. A higher number indicates an estimated greater likelihood that the recognized words are correct. This field is set only for the top alternative. This field is not guaranteed to be accurate and users should not rely on it to be always provided. The default of 0.0 is a sentinel value indicating `confidence` was not set.",
          "format": "float",
          "type": "number"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p3beta1_FaceAnnotation": {
      "description": "Deprecated. No effect.",
      "id": "GoogleCloudVideointelligenceV1p3beta1_FaceAnnotation",
      "type": "object",
      "properties": {
        "frames": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_FaceFrame"
          },
          "description": "All video frames where a face was detected.",
          "type": "array"
        },
        "thumbnail": {
          "format": "byte",
          "type": "string",
          "description": "Thumbnail of a representative face view (in JPEG format)."
        },
        "segments": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_FaceSegment"
          },
          "description": "All video segments where a face was detected.",
          "type": "array"
        }
      }
    },
    "GoogleCloudVideointelligenceV1_Track": {
      "id": "GoogleCloudVideointelligenceV1_Track",
      "type": "object",
      "description": "A track of an object instance.",
      "properties": {
        "confidence": {
          "format": "float",
          "description": "Optional. The confidence score of the tracked object.",
          "type": "number"
        },
        "attributes": {
          "type": "array",
          "description": "Optional. Attributes in the track level.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_DetectedAttribute"
          }
        },
        "timestampedObjects": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_TimestampedObject"
          },
          "description": "The object with timestamp and attributes per frame in the track."
        },
        "segment": {
          "$ref": "GoogleCloudVideointelligenceV1_VideoSegment",
          "description": "Video segment of a track."
        }
      }
    },
    "GoogleCloudVideointelligenceV1beta2_ObjectTrackingAnnotation": {
      "properties": {
        "confidence": {
          "description": "Object category's labeling confidence of this track.",
          "format": "float",
          "type": "number"
        },
        "frames": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_ObjectTrackingFrame"
          },
          "description": "Information corresponding to all frames where this object track appears. Non-streaming batch mode: it may be one or multiple ObjectTrackingFrame messages in frames. Streaming mode: it can only be one ObjectTrackingFrame message in frames.",
          "type": "array"
        },
        "version": {
          "description": "Feature version.",
          "type": "string"
        },
        "entity": {
          "$ref": "GoogleCloudVideointelligenceV1beta2_Entity",
          "description": "Entity to specify the object category that this track is labeled as."
        },
        "trackId": {
          "type": "string",
          "description": "Streaming mode ONLY. In streaming mode, we do not know the end time of a tracked object before it is completed. Hence, there is no VideoSegment info returned. Instead, we provide a unique identifiable integer track_id so that the customers can correlate the results of the ongoing ObjectTrackAnnotation of the same track_id over time.",
          "format": "int64"
        },
        "segment": {
          "description": "Non-streaming batch mode ONLY. Each object track corresponds to one video segment where it appears.",
          "$ref": "GoogleCloudVideointelligenceV1beta2_VideoSegment"
        }
      },
      "type": "object",
      "description": "Annotations corresponding to one tracked object.",
      "id": "GoogleCloudVideointelligenceV1beta2_ObjectTrackingAnnotation"
    },
    "GoogleCloudVideointelligenceV1p1beta1_Track": {
      "properties": {
        "attributes": {
          "description": "Optional. Attributes in the track level.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_DetectedAttribute"
          },
          "type": "array"
        },
        "confidence": {
          "description": "Optional. The confidence score of the tracked object.",
          "format": "float",
          "type": "number"
        },
        "segment": {
          "description": "Video segment of a track.",
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_VideoSegment"
        },
        "timestampedObjects": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_TimestampedObject"
          },
          "description": "The object with timestamp and attributes per frame in the track."
        }
      },
      "id": "GoogleCloudVideointelligenceV1p1beta1_Track",
      "description": "A track of an object instance.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p1beta1_SpeechRecognitionAlternative": {
      "id": "GoogleCloudVideointelligenceV1p1beta1_SpeechRecognitionAlternative",
      "description": "Alternative hypotheses (a.k.a. n-best list).",
      "properties": {
        "words": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. A list of word-specific information for each recognized word. Note: When `enable_speaker_diarization` is set to true, you will see all the words from the beginning of the audio.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_WordInfo"
          }
        },
        "transcript": {
          "type": "string",
          "description": "Transcript text representing the words that the user spoke."
        },
        "confidence": {
          "type": "number",
          "description": "Output only. The confidence estimate between 0.0 and 1.0. A higher number indicates an estimated greater likelihood that the recognized words are correct. This field is set only for the top alternative. This field is not guaranteed to be accurate and users should not rely on it to be always provided. The default of 0.0 is a sentinel value indicating `confidence` was not set.",
          "format": "float",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1beta2_AnnotateVideoProgress": {
      "description": "Video annotation progress. Included in the `metadata` field of the `Operation` returned by the `GetOperation` call of the `google::longrunning::Operations` service.",
      "id": "GoogleCloudVideointelligenceV1beta2_AnnotateVideoProgress",
      "properties": {
        "annotationProgress": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_VideoAnnotationProgress"
          },
          "type": "array",
          "description": "Progress metadata for all videos specified in `AnnotateVideoRequest`."
        }
      },
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p3beta1_DetectedAttribute": {
      "type": "object",
      "properties": {
        "confidence": {
          "format": "float",
          "description": "Detected attribute confidence. Range [0, 1].",
          "type": "number"
        },
        "name": {
          "description": "The name of the attribute, for example, glasses, dark_glasses, mouth_open. A full list of supported type names will be provided in the document.",
          "type": "string"
        },
        "value": {
          "description": "Text value of the detection result. For example, the value for \"HairColor\" can be \"black\", \"blonde\", etc.",
          "type": "string"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p3beta1_DetectedAttribute",
      "description": "A generic detected attribute represented by name in string format."
    },
    "GoogleCloudVideointelligenceV1p2beta1_ExplicitContentFrame": {
      "type": "object",
      "properties": {
        "timeOffset": {
          "format": "google-duration",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this location.",
          "type": "string"
        },
        "pornographyLikelihood": {
          "enumDescriptions": [
            "Unspecified likelihood.",
            "Very unlikely.",
            "Unlikely.",
            "Possible.",
            "Likely.",
            "Very likely."
          ],
          "description": "Likelihood of the pornography content..",
          "type": "string",
          "enum": [
            "LIKELIHOOD_UNSPECIFIED",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ]
        }
      },
      "id": "GoogleCloudVideointelligenceV1p2beta1_ExplicitContentFrame",
      "description": "Video frame level annotation results for explicit content."
    },
    "GoogleCloudVideointelligenceV1p1beta1_SpeechTranscription": {
      "description": "A speech recognition result corresponding to a portion of the audio.",
      "type": "object",
      "properties": {
        "alternatives": {
          "description": "May contain one or more recognition hypotheses (up to the maximum specified in `max_alternatives`). These alternatives are ordered in terms of accuracy, with the top (first) alternative being the most probable, as ranked by the recognizer.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_SpeechRecognitionAlternative"
          }
        },
        "languageCode": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The [BCP-47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt) language tag of the language in this result. This language code was detected to have the most likelihood of being spoken in the audio."
        }
      },
      "id": "GoogleCloudVideointelligenceV1p1beta1_SpeechTranscription"
    },
    "GoogleCloudVideointelligenceV1p3beta1_ObjectTrackingAnnotation": {
      "type": "object",
      "properties": {
        "frames": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_ObjectTrackingFrame"
          },
          "description": "Information corresponding to all frames where this object track appears. Non-streaming batch mode: it may be one or multiple ObjectTrackingFrame messages in frames. Streaming mode: it can only be one ObjectTrackingFrame message in frames."
        },
        "segment": {
          "description": "Non-streaming batch mode ONLY. Each object track corresponds to one video segment where it appears.",
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_VideoSegment"
        },
        "entity": {
          "description": "Entity to specify the object category that this track is labeled as.",
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_Entity"
        },
        "trackId": {
          "format": "int64",
          "description": "Streaming mode ONLY. In streaming mode, we do not know the end time of a tracked object before it is completed. Hence, there is no VideoSegment info returned. Instead, we provide a unique identifiable integer track_id so that the customers can correlate the results of the ongoing ObjectTrackAnnotation of the same track_id over time.",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "Feature version."
        },
        "confidence": {
          "format": "float",
          "description": "Object category's labeling confidence of this track.",
          "type": "number"
        }
      },
      "description": "Annotations corresponding to one tracked object.",
      "id": "GoogleCloudVideointelligenceV1p3beta1_ObjectTrackingAnnotation"
    },
    "GoogleCloudVideointelligenceV1p3beta1_AnnotateVideoResponse": {
      "id": "GoogleCloudVideointelligenceV1p3beta1_AnnotateVideoResponse",
      "description": "Video annotation response. Included in the `response` field of the `Operation` returned by the `GetOperation` call of the `google::longrunning::Operations` service.",
      "properties": {
        "annotationResults": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_VideoAnnotationResults"
          },
          "description": "Annotation results for all videos specified in `AnnotateVideoRequest`."
        }
      },
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1_Entity": {
      "id": "GoogleCloudVideointelligenceV1_Entity",
      "type": "object",
      "properties": {
        "languageCode": {
          "type": "string",
          "description": "Language code for `description` in BCP-47 format."
        },
        "entityId": {
          "description": "Opaque entity ID. Some IDs may be available in [Google Knowledge Graph Search API](https://developers.google.com/knowledge-graph/).",
          "type": "string"
        },
        "description": {
          "description": "Textual description, e.g., `Fixed-gear bicycle`.",
          "type": "string"
        }
      },
      "description": "Detected entity from video analysis."
    },
    "GoogleCloudVideointelligenceV1p1beta1_LabelSegment": {
      "type": "object",
      "properties": {
        "segment": {
          "description": "Video segment where a label was detected.",
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_VideoSegment"
        },
        "confidence": {
          "format": "float",
          "description": "Confidence that the label is accurate. Range: [0, 1].",
          "type": "number"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p1beta1_LabelSegment",
      "description": "Video segment level annotation results for label detection."
    },
    "GoogleCloudVideointelligenceV1p3beta1_CelebrityRecognitionAnnotation": {
      "description": "Celebrity recognition annotation per video.",
      "id": "GoogleCloudVideointelligenceV1p3beta1_CelebrityRecognitionAnnotation",
      "properties": {
        "version": {
          "type": "string",
          "description": "Feature version."
        },
        "celebrityTracks": {
          "description": "The tracks detected from the input video, including recognized celebrities and other detected faces in the video.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_CelebrityTrack"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p2beta1_ObjectTrackingFrame": {
      "description": "Video frame level annotations for object detection and tracking. This field stores per frame location, time offset, and confidence.",
      "properties": {
        "normalizedBoundingBox": {
          "description": "The normalized bounding box location of this object track for the frame.",
          "$ref": "GoogleCloudVideointelligenceV1p2beta1_NormalizedBoundingBox"
        },
        "timeOffset": {
          "type": "string",
          "description": "The timestamp of the frame in microseconds.",
          "format": "google-duration"
        }
      },
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p2beta1_ObjectTrackingFrame"
    },
    "GoogleCloudVideointelligenceV1beta2_ExplicitContentAnnotation": {
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1beta2_ExplicitContentAnnotation",
      "properties": {
        "frames": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_ExplicitContentFrame"
          },
          "type": "array",
          "description": "All video frames where explicit content was detected."
        },
        "version": {
          "description": "Feature version.",
          "type": "string"
        }
      },
      "description": "Explicit content annotation (based on per-frame visual signals only). If no explicit content has been detected in a frame, no annotations are present for that frame."
    },
    "GoogleCloudVideointelligenceV1p2beta1_FaceFrame": {
      "description": "Deprecated. No effect.",
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p2beta1_FaceFrame",
      "properties": {
        "normalizedBoundingBoxes": {
          "description": "Normalized Bounding boxes in a frame. There can be more than one boxes if the same face is detected in multiple locations within the current frame.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_NormalizedBoundingBox"
          },
          "type": "array"
        },
        "timeOffset": {
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this location.",
          "type": "string",
          "format": "google-duration"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p2beta1_ExplicitContentDetectionConfig": {
      "description": "Config for EXPLICIT_CONTENT_DETECTION.",
      "id": "GoogleCloudVideointelligenceV1p2beta1_ExplicitContentDetectionConfig",
      "properties": {
        "model": {
          "description": "Model to use for explicit content detection. Supported values: \"builtin/stable\" (the default if unset) and \"builtin/latest\".",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1beta2_PersonDetectionAnnotation": {
      "type": "object",
      "properties": {
        "version": {
          "type": "string",
          "description": "Feature version."
        },
        "tracks": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_Track"
          },
          "description": "The detected tracks of a person."
        }
      },
      "description": "Person detection annotation per video.",
      "id": "GoogleCloudVideointelligenceV1beta2_PersonDetectionAnnotation"
    },
    "GoogleCloudVideointelligenceV1p1beta1_DetectedAttribute": {
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p1beta1_DetectedAttribute",
      "properties": {
        "name": {
          "description": "The name of the attribute, for example, glasses, dark_glasses, mouth_open. A full list of supported type names will be provided in the document.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Text value of the detection result. For example, the value for \"HairColor\" can be \"black\", \"blonde\", etc."
        },
        "confidence": {
          "description": "Detected attribute confidence. Range [0, 1].",
          "format": "float",
          "type": "number"
        }
      },
      "description": "A generic detected attribute represented by name in string format."
    },
    "GoogleCloudVideointelligenceV1p2beta1_NormalizedVertex": {
      "id": "GoogleCloudVideointelligenceV1p2beta1_NormalizedVertex",
      "properties": {
        "x": {
          "type": "number",
          "description": "X coordinate.",
          "format": "float"
        },
        "y": {
          "format": "float",
          "type": "number",
          "description": "Y coordinate."
        }
      },
      "type": "object",
      "description": "A vertex represents a 2D point in the image. NOTE: the normalized vertex coordinates are relative to the original image and range from 0 to 1."
    },
    "GoogleCloudVideointelligenceV1beta2_VideoAnnotationResults": {
      "properties": {
        "personDetectionAnnotations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_PersonDetectionAnnotation"
          },
          "description": "Person detection annotations."
        },
        "faceDetectionAnnotations": {
          "description": "Face detection annotations.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_FaceDetectionAnnotation"
          }
        },
        "logoRecognitionAnnotations": {
          "description": "Annotations for list of logos detected, tracked and recognized in video.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_LogoRecognitionAnnotation"
          }
        },
        "error": {
          "description": "If set, indicates an error. Note that for a single `AnnotateVideoRequest` some videos may succeed and some may fail.",
          "$ref": "GoogleRpc_Status"
        },
        "segment": {
          "description": "Video segment on which the annotation is run.",
          "$ref": "GoogleCloudVideointelligenceV1beta2_VideoSegment"
        },
        "segmentLabelAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_LabelAnnotation"
          },
          "description": "Topical label annotations on video level or user-specified segment level. There is exactly one element for each unique label.",
          "type": "array"
        },
        "faceAnnotations": {
          "description": "Deprecated. Please use `face_detection_annotations` instead.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_FaceAnnotation"
          }
        },
        "shotAnnotations": {
          "description": "Shot annotations. Each shot is represented as a video segment.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_VideoSegment"
          },
          "type": "array"
        },
        "explicitAnnotation": {
          "description": "Explicit content annotation.",
          "$ref": "GoogleCloudVideointelligenceV1beta2_ExplicitContentAnnotation"
        },
        "textAnnotations": {
          "description": "OCR text detection and tracking. Annotations for list of detected text snippets. Each will have list of frame information associated with it.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_TextAnnotation"
          },
          "type": "array"
        },
        "frameLabelAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_LabelAnnotation"
          },
          "description": "Label annotations on frame level. There is exactly one element for each unique label.",
          "type": "array"
        },
        "shotPresenceLabelAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_LabelAnnotation"
          },
          "type": "array",
          "description": "Presence label annotations on shot level. There is exactly one element for each unique label. Compared to the existing topical `shot_label_annotations`, this field presents more fine-grained, shot-level labels detected in video content and is made available only when the client sets `LabelDetectionConfig.model` to \"builtin/latest\" in the request."
        },
        "inputUri": {
          "description": "Video file location in [Cloud Storage](https://cloud.google.com/storage/).",
          "type": "string"
        },
        "objectAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_ObjectTrackingAnnotation"
          },
          "type": "array",
          "description": "Annotations for list of objects detected and tracked in video."
        },
        "segmentPresenceLabelAnnotations": {
          "description": "Presence label annotations on video level or user-specified segment level. There is exactly one element for each unique label. Compared to the existing topical `segment_label_annotations`, this field presents more fine-grained, segment-level labels detected in video content and is made available only when the client sets `LabelDetectionConfig.model` to \"builtin/latest\" in the request.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_LabelAnnotation"
          },
          "type": "array"
        },
        "shotLabelAnnotations": {
          "type": "array",
          "description": "Topical label annotations on shot level. There is exactly one element for each unique label.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_LabelAnnotation"
          }
        },
        "speechTranscriptions": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_SpeechTranscription"
          },
          "description": "Speech transcription.",
          "type": "array"
        }
      },
      "description": "Annotation results for a single video.",
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1beta2_VideoAnnotationResults"
    },
    "GoogleCloudVideointelligenceV1_TextSegment": {
      "properties": {
        "frames": {
          "description": "Information related to the frames where OCR detected text appears.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_TextFrame"
          },
          "type": "array"
        },
        "confidence": {
          "description": "Confidence for the track of detected text. It is calculated as the highest over all frames where OCR detected text appears.",
          "type": "number",
          "format": "float"
        },
        "segment": {
          "description": "Video segment where a text snippet was detected.",
          "$ref": "GoogleCloudVideointelligenceV1_VideoSegment"
        }
      },
      "description": "Video segment level annotation results for text detection.",
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1_TextSegment"
    },
    "GoogleCloudVideointelligenceV1p2beta1_WordInfo": {
      "type": "object",
      "description": "Word-specific information for recognized words. Word information is only included in the response when certain request parameters are set, such as `enable_word_time_offsets`.",
      "id": "GoogleCloudVideointelligenceV1p2beta1_WordInfo",
      "properties": {
        "word": {
          "type": "string",
          "description": "The word corresponding to this set of information."
        },
        "speakerTag": {
          "type": "integer",
          "readOnly": true,
          "description": "Output only. A distinct integer value is assigned for every speaker within the audio. This field specifies which one of those speakers was detected to have spoken this word. Value ranges from 1 up to diarization_speaker_count, and is only set if speaker diarization is enabled.",
          "format": "int32"
        },
        "endTime": {
          "description": "Time offset relative to the beginning of the audio, and corresponding to the end of the spoken word. This field is only set if `enable_word_time_offsets=true` and only in the top hypothesis. This is an experimental feature and the accuracy of the time offset can vary.",
          "type": "string",
          "format": "google-duration"
        },
        "startTime": {
          "description": "Time offset relative to the beginning of the audio, and corresponding to the start of the spoken word. This field is only set if `enable_word_time_offsets=true` and only in the top hypothesis. This is an experimental feature and the accuracy of the time offset can vary.",
          "format": "google-duration",
          "type": "string"
        },
        "confidence": {
          "format": "float",
          "readOnly": true,
          "description": "Output only. The confidence estimate between 0.0 and 1.0. A higher number indicates an estimated greater likelihood that the recognized words are correct. This field is set only for the top alternative. This field is not guaranteed to be accurate and users should not rely on it to be always provided. The default of 0.0 is a sentinel value indicating `confidence` was not set.",
          "type": "number"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p3beta1_SpeechRecognitionAlternative": {
      "description": "Alternative hypotheses (a.k.a. n-best list).",
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p3beta1_SpeechRecognitionAlternative",
      "properties": {
        "transcript": {
          "description": "Transcript text representing the words that the user spoke.",
          "type": "string"
        },
        "words": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_WordInfo"
          },
          "description": "Output only. A list of word-specific information for each recognized word. Note: When `enable_speaker_diarization` is set to true, you will see all the words from the beginning of the audio."
        },
        "confidence": {
          "format": "float",
          "readOnly": true,
          "type": "number",
          "description": "Output only. The confidence estimate between 0.0 and 1.0. A higher number indicates an estimated greater likelihood that the recognized words are correct. This field is set only for the top alternative. This field is not guaranteed to be accurate and users should not rely on it to be always provided. The default of 0.0 is a sentinel value indicating `confidence` was not set."
        }
      }
    },
    "GoogleCloudVideointelligenceV1p2beta1_AnnotateVideoRequest": {
      "id": "GoogleCloudVideointelligenceV1p2beta1_AnnotateVideoRequest",
      "properties": {
        "locationId": {
          "type": "string",
          "description": "Optional. Cloud region where annotation should take place. Supported cloud regions are: `us-east1`, `us-west1`, `europe-west1`, `asia-east1`. If no region is specified, the region will be determined based on video file location."
        },
        "inputUri": {
          "description": "Input video location. Currently, only [Cloud Storage](https://cloud.google.com/storage/) URIs are supported. URIs must be specified in the following format: `gs://bucket-id/object-id` (other URI formats return google.rpc.Code.INVALID_ARGUMENT). For more information, see [Request URIs](https://cloud.google.com/storage/docs/request-endpoints). To identify multiple videos, a video URI may include wildcards in the `object-id`. Supported wildcards: '*' to match 0 or more characters; '?' to match 1 character. If unset, the input video should be embedded in the request as `input_content`. If set, `input_content` must be unset.",
          "type": "string"
        },
        "outputUri": {
          "description": "Optional. Location where the output (in JSON format) should be stored. Currently, only [Cloud Storage](https://cloud.google.com/storage/) URIs are supported. These must be specified in the following format: `gs://bucket-id/object-id` (other URI formats return google.rpc.Code.INVALID_ARGUMENT). For more information, see [Request URIs](https://cloud.google.com/storage/docs/request-endpoints).",
          "type": "string"
        },
        "videoContext": {
          "$ref": "GoogleCloudVideointelligenceV1p2beta1_VideoContext",
          "description": "Additional video context and/or feature-specific parameters."
        },
        "inputContent": {
          "description": "The video data bytes. If unset, the input video(s) should be specified via the `input_uri`. If set, `input_uri` must be unset.",
          "type": "string",
          "format": "byte"
        },
        "features": {
          "items": {
            "type": "string",
            "enum": [
              "FEATURE_UNSPECIFIED",
              "LABEL_DETECTION",
              "SHOT_CHANGE_DETECTION",
              "EXPLICIT_CONTENT_DETECTION",
              "FACE_DETECTION",
              "SPEECH_TRANSCRIPTION",
              "TEXT_DETECTION",
              "OBJECT_TRACKING",
              "LOGO_RECOGNITION",
              "PERSON_DETECTION"
            ],
            "enumDescriptions": [
              "Unspecified.",
              "Label detection. Detect objects, such as dog or flower.",
              "Shot change detection.",
              "Explicit content detection.",
              "Human face detection.",
              "Speech transcription.",
              "OCR text detection and tracking.",
              "Object detection and tracking.",
              "Logo detection, tracking, and recognition.",
              "Person detection."
            ]
          },
          "description": "Required. Requested video annotation features.",
          "type": "array"
        }
      },
      "description": "Video annotation request.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p3beta1_LabelAnnotation": {
      "properties": {
        "entity": {
          "description": "Detected entity.",
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_Entity"
        },
        "version": {
          "type": "string",
          "description": "Feature version."
        },
        "segments": {
          "type": "array",
          "description": "All video segments where a label was detected.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_LabelSegment"
          }
        },
        "categoryEntities": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_Entity"
          },
          "description": "Common categories for the detected entity. For example, when the label is `Terrier`, the category is likely `dog`. And in some cases there might be more than one categories e.g., `Terrier` could also be a `pet`.",
          "type": "array"
        },
        "frames": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_LabelFrame"
          },
          "type": "array",
          "description": "All video frames where a label was detected."
        }
      },
      "description": "Label annotation.",
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p3beta1_LabelAnnotation"
    },
    "GoogleCloudVideointelligenceV1p3beta1_DetectedLandmark": {
      "description": "A generic detected landmark represented by name in string format and a 2D location.",
      "id": "GoogleCloudVideointelligenceV1p3beta1_DetectedLandmark",
      "properties": {
        "name": {
          "description": "The name of this landmark, for example, left_hand, right_shoulder.",
          "type": "string"
        },
        "confidence": {
          "type": "number",
          "format": "float",
          "description": "The confidence score of the detected landmark. Range [0, 1]."
        },
        "point": {
          "description": "The 2D point of the detected landmark using the normalized image coordindate system. The normalized coordinates have the range from 0 to 1.",
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_NormalizedVertex"
        }
      },
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1beta2_VideoAnnotationProgress": {
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1beta2_VideoAnnotationProgress",
      "properties": {
        "startTime": {
          "type": "string",
          "description": "Time when the request was received.",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Time of the most recent update.",
          "type": "string",
          "format": "google-datetime"
        },
        "inputUri": {
          "description": "Video file location in [Cloud Storage](https://cloud.google.com/storage/).",
          "type": "string"
        },
        "segment": {
          "description": "Specifies which segment is being tracked if the request contains more than one segment.",
          "$ref": "GoogleCloudVideointelligenceV1beta2_VideoSegment"
        },
        "progressPercent": {
          "type": "integer",
          "format": "int32",
          "description": "Approximate percentage processed thus far. Guaranteed to be 100 when fully processed."
        },
        "feature": {
          "enumDescriptions": [
            "Unspecified.",
            "Label detection. Detect objects, such as dog or flower.",
            "Shot change detection.",
            "Explicit content detection.",
            "Human face detection.",
            "Speech transcription.",
            "OCR text detection and tracking.",
            "Object detection and tracking.",
            "Logo detection, tracking, and recognition.",
            "Person detection."
          ],
          "type": "string",
          "description": "Specifies which feature is being tracked if the request contains more than one feature.",
          "enum": [
            "FEATURE_UNSPECIFIED",
            "LABEL_DETECTION",
            "SHOT_CHANGE_DETECTION",
            "EXPLICIT_CONTENT_DETECTION",
            "FACE_DETECTION",
            "SPEECH_TRANSCRIPTION",
            "TEXT_DETECTION",
            "OBJECT_TRACKING",
            "LOGO_RECOGNITION",
            "PERSON_DETECTION"
          ]
        }
      },
      "description": "Annotation progress for a single video."
    },
    "GoogleCloudVideointelligenceV1beta2_TextAnnotation": {
      "id": "GoogleCloudVideointelligenceV1beta2_TextAnnotation",
      "properties": {
        "text": {
          "type": "string",
          "description": "The detected text."
        },
        "version": {
          "description": "Feature version.",
          "type": "string"
        },
        "segments": {
          "description": "All video segments where OCR detected text appears.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_TextSegment"
          }
        }
      },
      "type": "object",
      "description": "Annotations related to one detected OCR text snippet. This will contain the corresponding text, confidence value, and frame level information for each detection."
    },
    "GoogleCloudVideointelligenceV1p2beta1_AnnotateVideoResponse": {
      "type": "object",
      "properties": {
        "annotationResults": {
          "type": "array",
          "description": "Annotation results for all videos specified in `AnnotateVideoRequest`.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_VideoAnnotationResults"
          }
        }
      },
      "description": "Video annotation response. Included in the `response` field of the `Operation` returned by the `GetOperation` call of the `google::longrunning::Operations` service.",
      "id": "GoogleCloudVideointelligenceV1p2beta1_AnnotateVideoResponse"
    },
    "GoogleCloudVideointelligenceV1beta2_LabelAnnotation": {
      "id": "GoogleCloudVideointelligenceV1beta2_LabelAnnotation",
      "description": "Label annotation.",
      "properties": {
        "version": {
          "description": "Feature version.",
          "type": "string"
        },
        "segments": {
          "description": "All video segments where a label was detected.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_LabelSegment"
          }
        },
        "entity": {
          "$ref": "GoogleCloudVideointelligenceV1beta2_Entity",
          "description": "Detected entity."
        },
        "frames": {
          "description": "All video frames where a label was detected.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_LabelFrame"
          }
        },
        "categoryEntities": {
          "description": "Common categories for the detected entity. For example, when the label is `Terrier`, the category is likely `dog`. And in some cases there might be more than one categories e.g., `Terrier` could also be a `pet`.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_Entity"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p3beta1_ExplicitContentAnnotation": {
      "description": "Explicit content annotation (based on per-frame visual signals only). If no explicit content has been detected in a frame, no annotations are present for that frame.",
      "type": "object",
      "properties": {
        "frames": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_ExplicitContentFrame"
          },
          "description": "All video frames where explicit content was detected.",
          "type": "array"
        },
        "version": {
          "description": "Feature version.",
          "type": "string"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p3beta1_ExplicitContentAnnotation"
    },
    "GoogleCloudVideointelligenceV1p3beta1_Track": {
      "type": "object",
      "description": "A track of an object instance.",
      "id": "GoogleCloudVideointelligenceV1p3beta1_Track",
      "properties": {
        "segment": {
          "description": "Video segment of a track.",
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_VideoSegment"
        },
        "attributes": {
          "description": "Optional. Attributes in the track level.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_DetectedAttribute"
          },
          "type": "array"
        },
        "timestampedObjects": {
          "description": "The object with timestamp and attributes per frame in the track.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_TimestampedObject"
          }
        },
        "confidence": {
          "description": "Optional. The confidence score of the tracked object.",
          "type": "number",
          "format": "float"
        }
      }
    },
    "GoogleLongrunning_Operation": {
      "properties": {
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "GoogleRpc_Status"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        }
      },
      "id": "GoogleLongrunning_Operation",
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "GoogleCloudVideointelligenceV1p1beta1_DetectedLandmark": {
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p1beta1_DetectedLandmark",
      "description": "A generic detected landmark represented by name in string format and a 2D location.",
      "properties": {
        "confidence": {
          "description": "The confidence score of the detected landmark. Range [0, 1].",
          "format": "float",
          "type": "number"
        },
        "name": {
          "description": "The name of this landmark, for example, left_hand, right_shoulder.",
          "type": "string"
        },
        "point": {
[...]
