{
  "protocol": "rest",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "resources": {
    "videos": {
      "methods": {
        "annotate": {
          "request": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_AnnotateVideoRequest"
          },
          "parameterOrder": [],
          "httpMethod": "POST",
          "response": {
            "$ref": "GoogleLongrunning_Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1beta2/videos:annotate",
          "id": "videointelligence.videos.annotate",
          "flatPath": "v1beta2/videos:annotate",
          "parameters": {},
          "description": "Performs asynchronous video annotation. Progress and results can be retrieved through the `google.longrunning.Operations` interface. `Operation.metadata` contains `AnnotateVideoProgress` (progress). `Operation.response` contains `AnnotateVideoResponse` (results)."
        }
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "mtlsRootUrl": "https://videointelligence.mtls.googleapis.com/",
  "schemas": {
    "GoogleCloudVideointelligenceV1p1beta1_LabelFrame": {
      "properties": {
        "timeOffset": {
          "type": "string",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this location.",
          "format": "google-duration"
        },
        "confidence": {
          "type": "number",
          "format": "float",
          "description": "Confidence that the label is accurate. Range: [0, 1]."
        }
      },
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p1beta1_LabelFrame",
      "description": "Video frame level annotation results for label detection."
    },
    "GoogleCloudVideointelligenceV1p1beta1_Track": {
      "id": "GoogleCloudVideointelligenceV1p1beta1_Track",
      "type": "object",
      "properties": {
        "confidence": {
          "type": "number",
          "format": "float",
          "description": "Optional. The confidence score of the tracked object."
        },
        "timestampedObjects": {
          "description": "The object with timestamp and attributes per frame in the track.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_TimestampedObject"
          },
          "type": "array"
        },
        "segment": {
          "description": "Video segment of a track.",
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_VideoSegment"
        },
        "attributes": {
          "description": "Optional. Attributes in the track level.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_DetectedAttribute"
          }
        }
      },
      "description": "A track of an object instance."
    },
    "GoogleCloudVideointelligenceV1p2beta1_LabelSegment": {
      "description": "Video segment level annotation results for label detection.",
      "id": "GoogleCloudVideointelligenceV1p2beta1_LabelSegment",
      "type": "object",
      "properties": {
        "confidence": {
          "type": "number",
          "description": "Confidence that the label is accurate. Range: [0, 1].",
          "format": "float"
        },
        "segment": {
          "$ref": "GoogleCloudVideointelligenceV1p2beta1_VideoSegment",
          "description": "Video segment where a label was detected."
        }
      }
    },
    "GoogleCloudVideointelligenceV1p3beta1_FaceFrame": {
      "properties": {
        "normalizedBoundingBoxes": {
          "description": "Normalized Bounding boxes in a frame. There can be more than one boxes if the same face is detected in multiple locations within the current frame.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_NormalizedBoundingBox"
          }
        },
        "timeOffset": {
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this location.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p3beta1_FaceFrame",
      "type": "object",
      "description": "Deprecated. No effect."
    },
    "GoogleCloudVideointelligenceV1p3beta1_CelebrityRecognitionAnnotation": {
      "description": "Celebrity recognition annotation per video.",
      "properties": {
        "version": {
          "description": "Feature version.",
          "type": "string"
        },
        "celebrityTracks": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_CelebrityTrack"
          },
          "type": "array",
          "description": "The tracks detected from the input video, including recognized celebrities and other detected faces in the video."
        }
      },
      "id": "GoogleCloudVideointelligenceV1p3beta1_CelebrityRecognitionAnnotation",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p1beta1_PersonDetectionAnnotation": {
      "description": "Person detection annotation per video.",
      "id": "GoogleCloudVideointelligenceV1p1beta1_PersonDetectionAnnotation",
      "properties": {
        "tracks": {
          "description": "The detected tracks of a person.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_Track"
          }
        },
        "version": {
          "type": "string",
          "description": "Feature version."
        }
      },
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1_ExplicitContentFrame": {
      "id": "GoogleCloudVideointelligenceV1_ExplicitContentFrame",
      "properties": {
        "timeOffset": {
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this location.",
          "type": "string",
          "format": "google-duration"
        },
        "pornographyLikelihood": {
          "enumDescriptions": [
            "Unspecified likelihood.",
            "Very unlikely.",
            "Unlikely.",
            "Possible.",
            "Likely.",
            "Very likely."
          ],
          "type": "string",
          "description": "Likelihood of the pornography content..",
          "enum": [
            "LIKELIHOOD_UNSPECIFIED",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ]
        }
      },
      "description": "Video frame level annotation results for explicit content.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p3beta1_DetectedLandmark": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of this landmark, for example, left_hand, right_shoulder."
        },
        "confidence": {
          "format": "float",
          "description": "The confidence score of the detected landmark. Range [0, 1].",
          "type": "number"
        },
        "point": {
          "description": "The 2D point of the detected landmark using the normalized image coordindate system. The normalized coordinates have the range from 0 to 1.",
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_NormalizedVertex"
        }
      },
      "description": "A generic detected landmark represented by name in string format and a 2D location.",
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p3beta1_DetectedLandmark"
    },
    "GoogleCloudVideointelligenceV1_WordInfo": {
      "type": "object",
      "properties": {
        "confidence": {
          "readOnly": true,
          "description": "Output only. The confidence estimate between 0.0 and 1.0. A higher number indicates an estimated greater likelihood that the recognized words are correct. This field is set only for the top alternative. This field is not guaranteed to be accurate and users should not rely on it to be always provided. The default of 0.0 is a sentinel value indicating `confidence` was not set.",
          "format": "float",
          "type": "number"
        },
        "startTime": {
          "type": "string",
          "format": "google-duration",
          "description": "Time offset relative to the beginning of the audio, and corresponding to the start of the spoken word. This field is only set if `enable_word_time_offsets=true` and only in the top hypothesis. This is an experimental feature and the accuracy of the time offset can vary."
        },
        "speakerTag": {
          "format": "int32",
          "description": "Output only. A distinct integer value is assigned for every speaker within the audio. This field specifies which one of those speakers was detected to have spoken this word. Value ranges from 1 up to diarization_speaker_count, and is only set if speaker diarization is enabled.",
          "type": "integer",
          "readOnly": true
        },
        "endTime": {
          "type": "string",
          "description": "Time offset relative to the beginning of the audio, and corresponding to the end of the spoken word. This field is only set if `enable_word_time_offsets=true` and only in the top hypothesis. This is an experimental feature and the accuracy of the time offset can vary.",
          "format": "google-duration"
        },
        "word": {
          "description": "The word corresponding to this set of information.",
          "type": "string"
        }
      },
      "description": "Word-specific information for recognized words. Word information is only included in the response when certain request parameters are set, such as `enable_word_time_offsets`.",
      "id": "GoogleCloudVideointelligenceV1_WordInfo"
    },
    "GoogleCloudVideointelligenceV1beta2_Entity": {
      "properties": {
        "description": {
          "description": "Textual description, e.g., `Fixed-gear bicycle`.",
          "type": "string"
        },
        "languageCode": {
          "description": "Language code for `description` in BCP-47 format.",
          "type": "string"
        },
        "entityId": {
          "description": "Opaque entity ID. Some IDs may be available in [Google Knowledge Graph Search API](https://developers.google.com/knowledge-graph/).",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Detected entity from video analysis.",
      "id": "GoogleCloudVideointelligenceV1beta2_Entity"
    },
    "GoogleCloudVideointelligenceV1p3beta1_SpeechRecognitionAlternative": {
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p3beta1_SpeechRecognitionAlternative",
      "description": "Alternative hypotheses (a.k.a. n-best list).",
      "properties": {
        "transcript": {
          "type": "string",
          "description": "Transcript text representing the words that the user spoke."
        },
        "confidence": {
          "format": "float",
          "description": "Output only. The confidence estimate between 0.0 and 1.0. A higher number indicates an estimated greater likelihood that the recognized words are correct. This field is set only for the top alternative. This field is not guaranteed to be accurate and users should not rely on it to be always provided. The default of 0.0 is a sentinel value indicating `confidence` was not set.",
          "readOnly": true,
          "type": "number"
        },
        "words": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_WordInfo"
          },
          "type": "array",
          "description": "Output only. A list of word-specific information for each recognized word. Note: When `enable_speaker_diarization` is set to true, you will see all the words from the beginning of the audio."
        }
      }
    },
    "GoogleCloudVideointelligenceV1_LogoRecognitionAnnotation": {
      "id": "GoogleCloudVideointelligenceV1_LogoRecognitionAnnotation",
      "type": "object",
      "properties": {
        "segments": {
          "type": "array",
          "description": "All video segments where the recognized logo appears. There might be multiple instances of the same logo class appearing in one VideoSegment.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_VideoSegment"
          }
        },
        "entity": {
          "$ref": "GoogleCloudVideointelligenceV1_Entity",
          "description": "Entity category information to specify the logo class that all the logo tracks within this LogoRecognitionAnnotation are recognized as."
        },
        "tracks": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_Track"
          },
          "description": "All logo tracks where the recognized logo appears. Each track corresponds to one logo instance appearing in consecutive frames."
        }
      },
      "description": "Annotation corresponding to one detected, tracked and recognized logo class."
    },
    "GoogleCloudVideointelligenceV1p2beta1_LogoRecognitionAnnotation": {
      "id": "GoogleCloudVideointelligenceV1p2beta1_LogoRecognitionAnnotation",
      "type": "object",
      "description": "Annotation corresponding to one detected, tracked and recognized logo class.",
      "properties": {
        "tracks": {
          "description": "All logo tracks where the recognized logo appears. Each track corresponds to one logo instance appearing in consecutive frames.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_Track"
          }
        },
        "entity": {
          "description": "Entity category information to specify the logo class that all the logo tracks within this LogoRecognitionAnnotation are recognized as.",
          "$ref": "GoogleCloudVideointelligenceV1p2beta1_Entity"
        },
        "segments": {
          "description": "All video segments where the recognized logo appears. There might be multiple instances of the same logo class appearing in one VideoSegment.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_VideoSegment"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudVideointelligenceV1beta2_DetectedLandmark": {
      "type": "object",
      "properties": {
        "point": {
          "$ref": "GoogleCloudVideointelligenceV1beta2_NormalizedVertex",
          "description": "The 2D point of the detected landmark using the normalized image coordindate system. The normalized coordinates have the range from 0 to 1."
        },
        "name": {
          "type": "string",
          "description": "The name of this landmark, for example, left_hand, right_shoulder."
        },
        "confidence": {
          "format": "float",
          "type": "number",
          "description": "The confidence score of the detected landmark. Range [0, 1]."
        }
      },
      "description": "A generic detected landmark represented by name in string format and a 2D location.",
      "id": "GoogleCloudVideointelligenceV1beta2_DetectedLandmark"
    },
    "GoogleCloudVideointelligenceV1beta2_TextDetectionConfig": {
      "type": "object",
      "description": "Config for TEXT_DETECTION.",
      "id": "GoogleCloudVideointelligenceV1beta2_TextDetectionConfig",
      "properties": {
        "languageHints": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Language hint can be specified if the language to be detected is known a priori. It can increase the accuracy of the detection. Language hint must be language code in BCP-47 format. Automatic language detection is performed if no hint is provided."
        },
        "model": {
          "type": "string",
          "description": "Model to use for text detection. Supported values: \"builtin/stable\" (the default if unset) and \"builtin/latest\"."
        }
      }
    },
    "GoogleCloudVideointelligenceV1_LabelAnnotation": {
      "type": "object",
      "properties": {
        "version": {
          "description": "Feature version.",
          "type": "string"
        },
        "categoryEntities": {
          "description": "Common categories for the detected entity. For example, when the label is `Terrier`, the category is likely `dog`. And in some cases there might be more than one categories e.g., `Terrier` could also be a `pet`.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_Entity"
          },
          "type": "array"
        },
        "segments": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_LabelSegment"
          },
          "description": "All video segments where a label was detected."
        },
        "frames": {
          "description": "All video frames where a label was detected.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_LabelFrame"
          }
        },
        "entity": {
          "description": "Detected entity.",
          "$ref": "GoogleCloudVideointelligenceV1_Entity"
        }
      },
      "id": "GoogleCloudVideointelligenceV1_LabelAnnotation",
      "description": "Label annotation."
    },
    "GoogleCloudVideointelligenceV1p2beta1_WordInfo": {
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p2beta1_WordInfo",
      "description": "Word-specific information for recognized words. Word information is only included in the response when certain request parameters are set, such as `enable_word_time_offsets`.",
      "properties": {
        "word": {
          "description": "The word corresponding to this set of information.",
          "type": "string"
        },
        "confidence": {
          "type": "number",
          "format": "float",
          "description": "Output only. The confidence estimate between 0.0 and 1.0. A higher number indicates an estimated greater likelihood that the recognized words are correct. This field is set only for the top alternative. This field is not guaranteed to be accurate and users should not rely on it to be always provided. The default of 0.0 is a sentinel value indicating `confidence` was not set.",
          "readOnly": true
        },
        "speakerTag": {
          "description": "Output only. A distinct integer value is assigned for every speaker within the audio. This field specifies which one of those speakers was detected to have spoken this word. Value ranges from 1 up to diarization_speaker_count, and is only set if speaker diarization is enabled.",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        },
        "endTime": {
          "description": "Time offset relative to the beginning of the audio, and corresponding to the end of the spoken word. This field is only set if `enable_word_time_offsets=true` and only in the top hypothesis. This is an experimental feature and the accuracy of the time offset can vary.",
          "type": "string",
          "format": "google-duration"
        },
        "startTime": {
          "type": "string",
          "format": "google-duration",
          "description": "Time offset relative to the beginning of the audio, and corresponding to the start of the spoken word. This field is only set if `enable_word_time_offsets=true` and only in the top hypothesis. This is an experimental feature and the accuracy of the time offset can vary."
        }
      }
    },
    "GoogleCloudVideointelligenceV1p3beta1_TextAnnotation": {
      "id": "GoogleCloudVideointelligenceV1p3beta1_TextAnnotation",
      "description": "Annotations related to one detected OCR text snippet. This will contain the corresponding text, confidence value, and frame level information for each detection.",
      "properties": {
        "segments": {
          "description": "All video segments where OCR detected text appears.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_TextSegment"
          },
          "type": "array"
        },
        "version": {
          "description": "Feature version.",
          "type": "string"
        },
        "text": {
          "description": "The detected text.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p1beta1_SpeechRecognitionAlternative": {
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p1beta1_SpeechRecognitionAlternative",
      "description": "Alternative hypotheses (a.k.a. n-best list).",
      "properties": {
        "words": {
          "type": "array",
          "description": "Output only. A list of word-specific information for each recognized word. Note: When `enable_speaker_diarization` is set to true, you will see all the words from the beginning of the audio.",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_WordInfo"
          }
        },
        "confidence": {
          "type": "number",
          "format": "float",
          "description": "Output only. The confidence estimate between 0.0 and 1.0. A higher number indicates an estimated greater likelihood that the recognized words are correct. This field is set only for the top alternative. This field is not guaranteed to be accurate and users should not rely on it to be always provided. The default of 0.0 is a sentinel value indicating `confidence` was not set.",
          "readOnly": true
        },
        "transcript": {
          "type": "string",
          "description": "Transcript text representing the words that the user spoke."
        }
      }
    },
    "GoogleCloudVideointelligenceV1beta2_LabelAnnotation": {
      "properties": {
        "entity": {
          "$ref": "GoogleCloudVideointelligenceV1beta2_Entity",
          "description": "Detected entity."
        },
        "categoryEntities": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_Entity"
          },
          "type": "array",
          "description": "Common categories for the detected entity. For example, when the label is `Terrier`, the category is likely `dog`. And in some cases there might be more than one categories e.g., `Terrier` could also be a `pet`."
        },
        "version": {
          "type": "string",
          "description": "Feature version."
        },
        "segments": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_LabelSegment"
          },
          "type": "array",
          "description": "All video segments where a label was detected."
        },
        "frames": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_LabelFrame"
          },
          "type": "array",
          "description": "All video frames where a label was detected."
        }
      },
      "id": "GoogleCloudVideointelligenceV1beta2_LabelAnnotation",
      "description": "Label annotation.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p2beta1_FaceSegment": {
      "description": "Video segment level annotation results for face detection.",
      "type": "object",
      "properties": {
        "segment": {
          "$ref": "GoogleCloudVideointelligenceV1p2beta1_VideoSegment",
          "description": "Video segment where a face was detected."
        }
      },
      "id": "GoogleCloudVideointelligenceV1p2beta1_FaceSegment"
    },
    "GoogleCloudVideointelligenceV1_SpeechRecognitionAlternative": {
      "properties": {
        "transcript": {
          "type": "string",
          "description": "Transcript text representing the words that the user spoke."
        },
        "confidence": {
          "description": "Output only. The confidence estimate between 0.0 and 1.0. A higher number indicates an estimated greater likelihood that the recognized words are correct. This field is set only for the top alternative. This field is not guaranteed to be accurate and users should not rely on it to be always provided. The default of 0.0 is a sentinel value indicating `confidence` was not set.",
          "format": "float",
          "type": "number",
          "readOnly": true
        },
        "words": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_WordInfo"
          },
          "description": "Output only. A list of word-specific information for each recognized word. Note: When `enable_speaker_diarization` is set to true, you will see all the words from the beginning of the audio.",
          "readOnly": true,
          "type": "array"
        }
      },
      "description": "Alternative hypotheses (a.k.a. n-best list).",
      "id": "GoogleCloudVideointelligenceV1_SpeechRecognitionAlternative",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p3beta1_WordInfo": {
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p3beta1_WordInfo",
      "properties": {
        "word": {
          "type": "string",
          "description": "The word corresponding to this set of information."
        },
        "speakerTag": {
          "readOnly": true,
          "format": "int32",
          "description": "Output only. A distinct integer value is assigned for every speaker within the audio. This field specifies which one of those speakers was detected to have spoken this word. Value ranges from 1 up to diarization_speaker_count, and is only set if speaker diarization is enabled.",
          "type": "integer"
        },
        "startTime": {
          "type": "string",
          "description": "Time offset relative to the beginning of the audio, and corresponding to the start of the spoken word. This field is only set if `enable_word_time_offsets=true` and only in the top hypothesis. This is an experimental feature and the accuracy of the time offset can vary.",
          "format": "google-duration"
        },
        "endTime": {
          "description": "Time offset relative to the beginning of the audio, and corresponding to the end of the spoken word. This field is only set if `enable_word_time_offsets=true` and only in the top hypothesis. This is an experimental feature and the accuracy of the time offset can vary.",
          "type": "string",
          "format": "google-duration"
        },
        "confidence": {
          "description": "Output only. The confidence estimate between 0.0 and 1.0. A higher number indicates an estimated greater likelihood that the recognized words are correct. This field is set only for the top alternative. This field is not guaranteed to be accurate and users should not rely on it to be always provided. The default of 0.0 is a sentinel value indicating `confidence` was not set.",
          "readOnly": true,
          "format": "float",
          "type": "number"
        }
      },
      "description": "Word-specific information for recognized words. Word information is only included in the response when certain request parameters are set, such as `enable_word_time_offsets`."
    },
    "GoogleCloudVideointelligenceV1_Entity": {
      "type": "object",
      "properties": {
        "entityId": {
          "description": "Opaque entity ID. Some IDs may be available in [Google Knowledge Graph Search API](https://developers.google.com/knowledge-graph/).",
          "type": "string"
        },
        "languageCode": {
          "type": "string",
          "description": "Language code for `description` in BCP-47 format."
        },
        "description": {
          "description": "Textual description, e.g., `Fixed-gear bicycle`.",
          "type": "string"
        }
      },
      "id": "GoogleCloudVideointelligenceV1_Entity",
      "description": "Detected entity from video analysis."
    },
    "GoogleCloudVideointelligenceV1beta2_ObjectTrackingAnnotation": {
      "id": "GoogleCloudVideointelligenceV1beta2_ObjectTrackingAnnotation",
      "properties": {
        "segment": {
          "$ref": "GoogleCloudVideointelligenceV1beta2_VideoSegment",
          "description": "Non-streaming batch mode ONLY. Each object track corresponds to one video segment where it appears."
        },
        "frames": {
          "description": "Information corresponding to all frames where this object track appears. Non-streaming batch mode: it may be one or multiple ObjectTrackingFrame messages in frames. Streaming mode: it can only be one ObjectTrackingFrame message in frames.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_ObjectTrackingFrame"
          }
        },
        "trackId": {
          "description": "Streaming mode ONLY. In streaming mode, we do not know the end time of a tracked object before it is completed. Hence, there is no VideoSegment info returned. Instead, we provide a unique identifiable integer track_id so that the customers can correlate the results of the ongoing ObjectTrackAnnotation of the same track_id over time.",
          "type": "string",
          "format": "int64"
        },
        "entity": {
          "$ref": "GoogleCloudVideointelligenceV1beta2_Entity",
          "description": "Entity to specify the object category that this track is labeled as."
        },
        "confidence": {
          "type": "number",
          "description": "Object category's labeling confidence of this track.",
          "format": "float"
        },
        "version": {
          "type": "string",
          "description": "Feature version."
        }
      },
      "type": "object",
      "description": "Annotations corresponding to one tracked object."
    },
    "GoogleCloudVideointelligenceV1beta2_FaceDetectionConfig": {
      "description": "Config for FACE_DETECTION.",
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1beta2_FaceDetectionConfig",
      "properties": {
        "includeBoundingBoxes": {
          "type": "boolean",
          "description": "Whether bounding boxes are included in the face annotation output."
        },
        "model": {
          "description": "Model to use for face detection. Supported values: \"builtin/stable\" (the default if unset) and \"builtin/latest\".",
          "type": "string"
        },
        "includeAttributes": {
          "type": "boolean",
          "description": "Whether to enable face attributes detection, such as glasses, dark_glasses, mouth_open etc. Ignored if 'include_bounding_boxes' is set to false."
        }
      }
    },
    "GoogleCloudVideointelligenceV1p1beta1_WordInfo": {
      "description": "Word-specific information for recognized words. Word information is only included in the response when certain request parameters are set, such as `enable_word_time_offsets`.",
      "id": "GoogleCloudVideointelligenceV1p1beta1_WordInfo",
      "properties": {
        "word": {
          "description": "The word corresponding to this set of information.",
          "type": "string"
        },
        "startTime": {
          "format": "google-duration",
          "type": "string",
          "description": "Time offset relative to the beginning of the audio, and corresponding to the start of the spoken word. This field is only set if `enable_word_time_offsets=true` and only in the top hypothesis. This is an experimental feature and the accuracy of the time offset can vary."
        },
        "confidence": {
          "type": "number",
          "readOnly": true,
          "format": "float",
          "description": "Output only. The confidence estimate between 0.0 and 1.0. A higher number indicates an estimated greater likelihood that the recognized words are correct. This field is set only for the top alternative. This field is not guaranteed to be accurate and users should not rely on it to be always provided. The default of 0.0 is a sentinel value indicating `confidence` was not set."
        },
        "speakerTag": {
          "type": "integer",
          "description": "Output only. A distinct integer value is assigned for every speaker within the audio. This field specifies which one of those speakers was detected to have spoken this word. Value ranges from 1 up to diarization_speaker_count, and is only set if speaker diarization is enabled.",
          "format": "int32",
          "readOnly": true
        },
        "endTime": {
          "format": "google-duration",
          "type": "string",
          "description": "Time offset relative to the beginning of the audio, and corresponding to the end of the spoken word. This field is only set if `enable_word_time_offsets=true` and only in the top hypothesis. This is an experimental feature and the accuracy of the time offset can vary."
        }
      },
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1beta2_ExplicitContentAnnotation": {
      "properties": {
        "version": {
          "type": "string",
          "description": "Feature version."
        },
        "frames": {
          "description": "All video frames where explicit content was detected.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_ExplicitContentFrame"
          }
        }
      },
      "description": "Explicit content annotation (based on per-frame visual signals only). If no explicit content has been detected in a frame, no annotations are present for that frame.",
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1beta2_ExplicitContentAnnotation"
    },
    "GoogleCloudVideointelligenceV1p1beta1_ExplicitContentFrame": {
      "id": "GoogleCloudVideointelligenceV1p1beta1_ExplicitContentFrame",
      "properties": {
        "timeOffset": {
          "format": "google-duration",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this location.",
          "type": "string"
        },
        "pornographyLikelihood": {
          "description": "Likelihood of the pornography content..",
          "type": "string",
          "enum": [
            "LIKELIHOOD_UNSPECIFIED",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "enumDescriptions": [
            "Unspecified likelihood.",
            "Very unlikely.",
            "Unlikely.",
            "Possible.",
            "Likely.",
            "Very likely."
          ]
        }
      },
      "description": "Video frame level annotation results for explicit content.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p2beta1_ObjectTrackingFrame": {
      "description": "Video frame level annotations for object detection and tracking. This field stores per frame location, time offset, and confidence.",
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p2beta1_ObjectTrackingFrame",
      "properties": {
        "timeOffset": {
          "description": "The timestamp of the frame in microseconds.",
          "type": "string",
          "format": "google-duration"
        },
        "normalizedBoundingBox": {
          "description": "The normalized bounding box location of this object track for the frame.",
          "$ref": "GoogleCloudVideointelligenceV1p2beta1_NormalizedBoundingBox"
        }
      }
    },
    "GoogleCloudVideointelligenceV1_Track": {
      "properties": {
        "segment": {
          "$ref": "GoogleCloudVideointelligenceV1_VideoSegment",
          "description": "Video segment of a track."
        },
        "timestampedObjects": {
          "description": "The object with timestamp and attributes per frame in the track.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_TimestampedObject"
          }
        },
        "confidence": {
          "description": "Optional. The confidence score of the tracked object.",
          "type": "number",
          "format": "float"
        },
        "attributes": {
          "type": "array",
          "description": "Optional. Attributes in the track level.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_DetectedAttribute"
          }
        }
      },
      "description": "A track of an object instance.",
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1_Track"
    },
    "GoogleCloudVideointelligenceV1p2beta1_PersonDetectionAnnotation": {
      "id": "GoogleCloudVideointelligenceV1p2beta1_PersonDetectionAnnotation",
      "type": "object",
      "description": "Person detection annotation per video.",
      "properties": {
        "version": {
          "type": "string",
          "description": "Feature version."
        },
        "tracks": {
          "description": "The detected tracks of a person.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_Track"
          }
        }
      }
    },
    "GoogleCloudVideointelligenceV1beta2_ShotChangeDetectionConfig": {
      "type": "object",
      "properties": {
        "model": {
          "type": "string",
          "description": "Model to use for shot change detection. Supported values: \"builtin/stable\" (the default if unset) and \"builtin/latest\"."
        }
      },
      "id": "GoogleCloudVideointelligenceV1beta2_ShotChangeDetectionConfig",
      "description": "Config for SHOT_CHANGE_DETECTION."
    },
    "GoogleCloudVideointelligenceV1p3beta1_TextSegment": {
      "id": "GoogleCloudVideointelligenceV1p3beta1_TextSegment",
      "description": "Video segment level annotation results for text detection.",
      "type": "object",
      "properties": {
        "confidence": {
          "type": "number",
          "format": "float",
          "description": "Confidence for the track of detected text. It is calculated as the highest over all frames where OCR detected text appears."
        },
        "frames": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_TextFrame"
          },
          "description": "Information related to the frames where OCR detected text appears.",
          "type": "array"
        },
        "segment": {
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_VideoSegment",
          "description": "Video segment where a text snippet was detected."
        }
      }
    },
    "GoogleCloudVideointelligenceV1p2beta1_AnnotateVideoProgress": {
      "properties": {
        "annotationProgress": {
          "type": "array",
          "description": "Progress metadata for all videos specified in `AnnotateVideoRequest`.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_VideoAnnotationProgress"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p2beta1_AnnotateVideoProgress",
      "description": "Video annotation progress. Included in the `metadata` field of the `Operation` returned by the `GetOperation` call of the `google::longrunning::Operations` service."
    },
    "GoogleCloudVideointelligenceV1_FaceFrame": {
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1_FaceFrame",
      "description": "Deprecated. No effect.",
      "properties": {
        "normalizedBoundingBoxes": {
          "description": "Normalized Bounding boxes in a frame. There can be more than one boxes if the same face is detected in multiple locations within the current frame.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_NormalizedBoundingBox"
          }
        },
        "timeOffset": {
          "type": "string",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this location.",
          "format": "google-duration"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p1beta1_TextAnnotation": {
      "description": "Annotations related to one detected OCR text snippet. This will contain the corresponding text, confidence value, and frame level information for each detection.",
      "type": "object",
      "properties": {
        "text": {
          "description": "The detected text.",
          "type": "string"
        },
        "segments": {
          "description": "All video segments where OCR detected text appears.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_TextSegment"
          }
        },
        "version": {
          "type": "string",
          "description": "Feature version."
        }
      },
      "id": "GoogleCloudVideointelligenceV1p1beta1_TextAnnotation"
    },
    "GoogleCloudVideointelligenceV1beta2_AnnotateVideoResponse": {
      "id": "GoogleCloudVideointelligenceV1beta2_AnnotateVideoResponse",
      "type": "object",
      "description": "Video annotation response. Included in the `response` field of the `Operation` returned by the `GetOperation` call of the `google::longrunning::Operations` service.",
      "properties": {
        "annotationResults": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_VideoAnnotationResults"
          },
          "description": "Annotation results for all videos specified in `AnnotateVideoRequest`.",
          "type": "array"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p3beta1_ObjectTrackingAnnotation": {
      "description": "Annotations corresponding to one tracked object.",
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p3beta1_ObjectTrackingAnnotation",
      "properties": {
        "confidence": {
          "description": "Object category's labeling confidence of this track.",
          "type": "number",
          "format": "float"
        },
        "entity": {
          "description": "Entity to specify the object category that this track is labeled as.",
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_Entity"
        },
        "trackId": {
          "format": "int64",
          "description": "Streaming mode ONLY. In streaming mode, we do not know the end time of a tracked object before it is completed. Hence, there is no VideoSegment info returned. Instead, we provide a unique identifiable integer track_id so that the customers can correlate the results of the ongoing ObjectTrackAnnotation of the same track_id over time.",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "Feature version."
        },
        "frames": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_ObjectTrackingFrame"
          },
          "description": "Information corresponding to all frames where this object track appears. Non-streaming batch mode: it may be one or multiple ObjectTrackingFrame messages in frames. Streaming mode: it can only be one ObjectTrackingFrame message in frames."
        },
        "segment": {
          "description": "Non-streaming batch mode ONLY. Each object track corresponds to one video segment where it appears.",
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_VideoSegment"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p2beta1_TimestampedObject": {
      "type": "object",
      "properties": {
        "timeOffset": {
          "type": "string",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this object.",
          "format": "google-duration"
        },
        "normalizedBoundingBox": {
          "description": "Normalized Bounding box in a frame, where the object is located.",
          "$ref": "GoogleCloudVideointelligenceV1p2beta1_NormalizedBoundingBox"
        },
        "attributes": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_DetectedAttribute"
          },
          "description": "Optional. The attributes of the object in the bounding box.",
          "type": "array"
        },
        "landmarks": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_DetectedLandmark"
          },
          "type": "array",
          "description": "Optional. The detected landmarks."
        }
      },
      "description": "For tracking related features. An object at time_offset with attributes, and located with normalized_bounding_box.",
      "id": "GoogleCloudVideointelligenceV1p2beta1_TimestampedObject"
    },
    "GoogleCloudVideointelligenceV1p1beta1_VideoSegment": {
      "description": "Video segment.",
      "properties": {
        "endTimeOffset": {
          "format": "google-duration",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the end of the segment (inclusive).",
          "type": "string"
        },
        "startTimeOffset": {
          "description": "Time-offset, relative to the beginning of the video, corresponding to the start of the segment (inclusive).",
          "type": "string",
          "format": "google-duration"
        }
      },
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p1beta1_VideoSegment"
    },
    "GoogleCloudVideointelligenceV1_SpeechTranscription": {
      "id": "GoogleCloudVideointelligenceV1_SpeechTranscription",
      "description": "A speech recognition result corresponding to a portion of the audio.",
      "properties": {
        "alternatives": {
          "description": "May contain one or more recognition hypotheses (up to the maximum specified in `max_alternatives`). These alternatives are ordered in terms of accuracy, with the top (first) alternative being the most probable, as ranked by the recognizer.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_SpeechRecognitionAlternative"
          },
          "type": "array"
        },
        "languageCode": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The [BCP-47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt) language tag of the language in this result. This language code was detected to have the most likelihood of being spoken in the audio."
        }
      },
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p2beta1_NormalizedVertex": {
      "type": "object",
      "properties": {
        "y": {
          "type": "number",
          "format": "float",
          "description": "Y coordinate."
        },
        "x": {
          "type": "number",
          "format": "float",
          "description": "X coordinate."
        }
      },
      "id": "GoogleCloudVideointelligenceV1p2beta1_NormalizedVertex",
      "description": "A vertex represents a 2D point in the image. NOTE: the normalized vertex coordinates are relative to the original image and range from 0 to 1."
    },
    "GoogleCloudVideointelligenceV1p1beta1_ExplicitContentAnnotation": {
      "description": "Explicit content annotation (based on per-frame visual signals only). If no explicit content has been detected in a frame, no annotations are present for that frame.",
      "properties": {
        "frames": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_ExplicitContentFrame"
          },
          "description": "All video frames where explicit content was detected."
        },
        "version": {
          "description": "Feature version.",
          "type": "string"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p1beta1_ExplicitContentAnnotation",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1_ObjectTrackingFrame": {
      "id": "GoogleCloudVideointelligenceV1_ObjectTrackingFrame",
      "description": "Video frame level annotations for object detection and tracking. This field stores per frame location, time offset, and confidence.",
      "type": "object",
      "properties": {
        "timeOffset": {
          "format": "google-duration",
          "type": "string",
          "description": "The timestamp of the frame in microseconds."
        },
        "normalizedBoundingBox": {
          "$ref": "GoogleCloudVideointelligenceV1_NormalizedBoundingBox",
          "description": "The normalized bounding box location of this object track for the frame."
        }
      }
    },
    "GoogleCloudVideointelligenceV1beta2_TimestampedObject": {
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1beta2_TimestampedObject",
      "properties": {
        "landmarks": {
          "description": "Optional. The detected landmarks.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_DetectedLandmark"
          }
        },
        "attributes": {
          "description": "Optional. The attributes of the object in the bounding box.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_DetectedAttribute"
          }
        },
        "timeOffset": {
          "type": "string",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this object.",
          "format": "google-duration"
        },
        "normalizedBoundingBox": {
          "$ref": "GoogleCloudVideointelligenceV1beta2_NormalizedBoundingBox",
          "description": "Normalized Bounding box in a frame, where the object is located."
        }
      },
      "description": "For tracking related features. An object at time_offset with attributes, and located with normalized_bounding_box."
    },
    "GoogleCloudVideointelligenceV1beta2_ExplicitContentFrame": {
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1beta2_ExplicitContentFrame",
      "description": "Video frame level annotation results for explicit content.",
      "properties": {
        "timeOffset": {
          "type": "string",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this location.",
          "format": "google-duration"
        },
        "pornographyLikelihood": {
          "type": "string",
          "description": "Likelihood of the pornography content..",
          "enumDescriptions": [
            "Unspecified likelihood.",
            "Very unlikely.",
            "Unlikely.",
            "Possible.",
            "Likely.",
            "Very likely."
          ],
          "enum": [
            "LIKELIHOOD_UNSPECIFIED",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ]
        }
      }
    },
    "GoogleCloudVideointelligenceV1beta2_SpeechContext": {
      "type": "object",
      "properties": {
        "phrases": {
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of strings containing words and phrases \"hints\" so that the speech recognition is more likely to recognize them. This can be used to improve the accuracy for specific words and phrases, for example, if specific commands are typically spoken by the user. This can also be used to add additional words to the vocabulary of the recognizer. See [usage limits](https://cloud.google.com/speech/limits#content).",
          "type": "array"
        }
      },
      "description": "Provides \"hints\" to the speech recognizer to favor specific words and phrases in the results.",
      "id": "GoogleCloudVideointelligenceV1beta2_SpeechContext"
    },
    "GoogleCloudVideointelligenceV1p1beta1_AnnotateVideoResponse": {
      "type": "object",
      "description": "Video annotation response. Included in the `response` field of the `Operation` returned by the `GetOperation` call of the `google::longrunning::Operations` service.",
      "id": "GoogleCloudVideointelligenceV1p1beta1_AnnotateVideoResponse",
      "properties": {
        "annotationResults": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_VideoAnnotationResults"
          },
          "description": "Annotation results for all videos specified in `AnnotateVideoRequest`."
        }
      }
    },
    "GoogleCloudVideointelligenceV1beta2_DetectedAttribute": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the attribute, for example, glasses, dark_glasses, mouth_open. A full list of supported type names will be provided in the document."
        },
        "confidence": {
          "type": "number",
          "description": "Detected attribute confidence. Range [0, 1].",
          "format": "float"
        },
        "value": {
          "description": "Text value of the detection result. For example, the value for \"HairColor\" can be \"black\", \"blonde\", etc.",
          "type": "string"
        }
      },
      "description": "A generic detected attribute represented by name in string format.",
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1beta2_DetectedAttribute"
    },
    "GoogleCloudVideointelligenceV1p2beta1_Track": {
      "description": "A track of an object instance.",
      "properties": {
        "segment": {
          "description": "Video segment of a track.",
          "$ref": "GoogleCloudVideointelligenceV1p2beta1_VideoSegment"
        },
        "timestampedObjects": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_TimestampedObject"
          },
          "description": "The object with timestamp and attributes per frame in the track.",
          "type": "array"
        },
        "confidence": {
          "format": "float",
          "description": "Optional. The confidence score of the tracked object.",
          "type": "number"
        },
        "attributes": {
          "description": "Optional. Attributes in the track level.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_DetectedAttribute"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p2beta1_Track"
    },
    "GoogleCloudVideointelligenceV1beta2_VideoSegment": {
      "description": "Video segment.",
      "properties": {
        "startTimeOffset": {
          "format": "google-duration",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the start of the segment (inclusive).",
          "type": "string"
        },
        "endTimeOffset": {
          "format": "google-duration",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the end of the segment (inclusive).",
          "type": "string"
        }
      },
      "id": "GoogleCloudVideointelligenceV1beta2_VideoSegment",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p3beta1_RecognizedCelebrity": {
      "description": "The recognized celebrity with confidence score.",
      "type": "object",
      "properties": {
        "celebrity": {
          "description": "The recognized celebrity.",
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_Celebrity"
        },
        "confidence": {
          "description": "Recognition confidence. Range [0, 1].",
          "type": "number",
          "format": "float"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p3beta1_RecognizedCelebrity"
    },
    "GoogleCloudVideointelligenceV1p2beta1_NormalizedBoundingPoly": {
      "id": "GoogleCloudVideointelligenceV1p2beta1_NormalizedBoundingPoly",
      "type": "object",
      "description": "Normalized bounding polygon for text (that might not be aligned with axis). Contains list of the corner points in clockwise order starting from top-left corner. For example, for a rectangular bounding box: When the text is horizontal it might look like: 0----1 | | 3----2 When it's clockwise rotated 180 degrees around the top-left corner it becomes: 2----3 | | 1----0 and the vertex order will still be (0, 1, 2, 3). Note that values can be less than 0, or greater than 1 due to trignometric calculations for location of the box.",
      "properties": {
        "vertices": {
          "type": "array",
          "description": "Normalized vertices of the bounding polygon.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_NormalizedVertex"
          }
        }
      }
    },
    "GoogleCloudVideointelligenceV1beta2_AnnotateVideoProgress": {
      "properties": {
        "annotationProgress": {
          "description": "Progress metadata for all videos specified in `AnnotateVideoRequest`.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_VideoAnnotationProgress"
          }
        }
      },
      "description": "Video annotation progress. Included in the `metadata` field of the `Operation` returned by the `GetOperation` call of the `google::longrunning::Operations` service.",
      "id": "GoogleCloudVideointelligenceV1beta2_AnnotateVideoProgress",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p3beta1_Track": {
      "description": "A track of an object instance.",
      "id": "GoogleCloudVideointelligenceV1p3beta1_Track",
      "properties": {
        "segment": {
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_VideoSegment",
          "description": "Video segment of a track."
        },
        "confidence": {
          "format": "float",
          "type": "number",
          "description": "Optional. The confidence score of the tracked object."
        },
        "timestampedObjects": {
          "type": "array",
          "description": "The object with timestamp and attributes per frame in the track.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_TimestampedObject"
          }
        },
        "attributes": {
          "description": "Optional. Attributes in the track level.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_DetectedAttribute"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1_DetectedAttribute": {
      "description": "A generic detected attribute represented by name in string format.",
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1_DetectedAttribute",
      "properties": {
        "name": {
          "description": "The name of the attribute, for example, glasses, dark_glasses, mouth_open. A full list of supported type names will be provided in the document.",
          "type": "string"
        },
        "confidence": {
          "description": "Detected attribute confidence. Range [0, 1].",
          "format": "float",
          "type": "number"
        },
        "value": {
          "description": "Text value of the detection result. For example, the value for \"HairColor\" can be \"black\", \"blonde\", etc.",
          "type": "string"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p1beta1_ObjectTrackingAnnotation": {
      "id": "GoogleCloudVideointelligenceV1p1beta1_ObjectTrackingAnnotation",
      "properties": {
        "frames": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_ObjectTrackingFrame"
          },
          "description": "Information corresponding to all frames where this object track appears. Non-streaming batch mode: it may be one or multiple ObjectTrackingFrame messages in frames. Streaming mode: it can only be one ObjectTrackingFrame message in frames.",
          "type": "array"
        },
        "entity": {
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_Entity",
          "description": "Entity to specify the object category that this track is labeled as."
        },
        "trackId": {
          "type": "string",
          "format": "int64",
          "description": "Streaming mode ONLY. In streaming mode, we do not know the end time of a tracked object before it is completed. Hence, there is no VideoSegment info returned. Instead, we provide a unique identifiable integer track_id so that the customers can correlate the results of the ongoing ObjectTrackAnnotation of the same track_id over time."
        },
        "segment": {
          "description": "Non-streaming batch mode ONLY. Each object track corresponds to one video segment where it appears.",
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_VideoSegment"
        },
        "version": {
          "description": "Feature version.",
          "type": "string"
        },
        "confidence": {
          "description": "Object category's labeling confidence of this track.",
          "format": "float",
          "type": "number"
        }
      },
      "type": "object",
      "description": "Annotations corresponding to one tracked object."
    },
    "GoogleCloudVideointelligenceV1p2beta1_VideoSegment": {
      "type": "object",
      "description": "Video segment.",
      "id": "GoogleCloudVideointelligenceV1p2beta1_VideoSegment",
      "properties": {
        "endTimeOffset": {
          "description": "Time-offset, relative to the beginning of the video, corresponding to the end of the segment (inclusive).",
          "format": "google-duration",
          "type": "string"
        },
        "startTimeOffset": {
          "format": "google-duration",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the start of the segment (inclusive).",
          "type": "string"
        }
      }
    },
    "GoogleCloudVideointelligenceV1beta2_SpeechTranscription": {
      "id": "GoogleCloudVideointelligenceV1beta2_SpeechTranscription",
      "type": "object",
      "description": "A speech recognition result corresponding to a portion of the audio.",
      "properties": {
        "languageCode": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The [BCP-47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt) language tag of the language in this result. This language code was detected to have the most likelihood of being spoken in the audio."
        },
        "alternatives": {
          "description": "May contain one or more recognition hypotheses (up to the maximum specified in `max_alternatives`). These alternatives are ordered in terms of accuracy, with the top (first) alternative being the most probable, as ranked by the recognizer.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_SpeechRecognitionAlternative"
          }
        }
      }
    },
    "GoogleCloudVideointelligenceV1p2beta1_LabelFrame": {
      "properties": {
        "timeOffset": {
          "format": "google-duration",
          "type": "string",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this location."
        },
        "confidence": {
          "description": "Confidence that the label is accurate. Range: [0, 1].",
          "format": "float",
          "type": "number"
        }
      },
      "type": "object",
      "description": "Video frame level annotation results for label detection.",
      "id": "GoogleCloudVideointelligenceV1p2beta1_LabelFrame"
    },
    "GoogleCloudVideointelligenceV1beta2_VideoAnnotationResults": {
      "description": "Annotation results for a single video.",
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1beta2_VideoAnnotationResults",
      "properties": {
        "speechTranscriptions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_SpeechTranscription"
          },
          "description": "Speech transcription."
        },
        "segment": {
          "description": "Video segment on which the annotation is run.",
          "$ref": "GoogleCloudVideointelligenceV1beta2_VideoSegment"
        },
        "error": {
          "description": "If set, indicates an error. Note that for a single `AnnotateVideoRequest` some videos may succeed and some may fail.",
          "$ref": "GoogleRpc_Status"
        },
        "frameLabelAnnotations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_LabelAnnotation"
          },
          "description": "Label annotations on frame level. There is exactly one element for each unique label."
        },
        "faceDetectionAnnotations": {
          "description": "Face detection annotations.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_FaceDetectionAnnotation"
          }
        },
        "segmentLabelAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_LabelAnnotation"
          },
          "type": "array",
          "description": "Topical label annotations on video level or user-specified segment level. There is exactly one element for each unique label."
        },
        "explicitAnnotation": {
          "description": "Explicit content annotation.",
          "$ref": "GoogleCloudVideointelligenceV1beta2_ExplicitContentAnnotation"
        },
        "objectAnnotations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_ObjectTrackingAnnotation"
          },
          "description": "Annotations for list of objects detected and tracked in video."
        },
        "shotAnnotations": {
          "type": "array",
          "description": "Shot annotations. Each shot is represented as a video segment.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_VideoSegment"
          }
        },
        "inputUri": {
          "type": "string",
          "description": "Video file location in [Cloud Storage](https://cloud.google.com/storage/)."
        },
        "personDetectionAnnotations": {
          "type": "array",
          "description": "Person detection annotations.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_PersonDetectionAnnotation"
          }
        },
        "shotLabelAnnotations": {
          "description": "Topical label annotations on shot level. There is exactly one element for each unique label.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_LabelAnnotation"
          },
          "type": "array"
        },
        "textAnnotations": {
          "description": "OCR text detection and tracking. Annotations for list of detected text snippets. Each will have list of frame information associated with it.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_TextAnnotation"
          },
          "type": "array"
        },
        "logoRecognitionAnnotations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_LogoRecognitionAnnotation"
          },
          "description": "Annotations for list of logos detected, tracked and recognized in video."
        },
        "faceAnnotations": {
          "description": "Deprecated. Please use `face_detection_annotations` instead.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_FaceAnnotation"
          },
          "type": "array"
        },
        "segmentPresenceLabelAnnotations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_LabelAnnotation"
          },
          "description": "Presence label annotations on video level or user-specified segment level. There is exactly one element for each unique label. Compared to the existing topical `segment_label_annotations`, this field presents more fine-grained, segment-level labels detected in video content and is made available only when the client sets `LabelDetectionConfig.model` to \"builtin/latest\" in the request."
        },
        "shotPresenceLabelAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_LabelAnnotation"
          },
          "description": "Presence label annotations on shot level. There is exactly one element for each unique label. Compared to the existing topical `shot_label_annotations`, this field presents more fine-grained, shot-level labels detected in video content and is made available only when the client sets `LabelDetectionConfig.model` to \"builtin/latest\" in the request.",
          "type": "array"
        }
      }
    },
    "GoogleCloudVideointelligenceV1_AnnotateVideoResponse": {
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1_AnnotateVideoResponse",
      "properties": {
        "annotationResults": {
          "type": "array",
          "description": "Annotation results for all videos specified in `AnnotateVideoRequest`.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_VideoAnnotationResults"
          }
        }
      },
      "description": "Video annotation response. Included in the `response` field of the `Operation` returned by the `GetOperation` call of the `google::longrunning::Operations` service."
    },
    "GoogleCloudVideointelligenceV1p3beta1_DetectedAttribute": {
      "id": "GoogleCloudVideointelligenceV1p3beta1_DetectedAttribute",
      "description": "A generic detected attribute represented by name in string format.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the attribute, for example, glasses, dark_glasses, mouth_open. A full list of supported type names will be provided in the document.",
          "type": "string"
        },
        "confidence": {
          "description": "Detected attribute confidence. Range [0, 1].",
          "type": "number",
          "format": "float"
        },
        "value": {
          "description": "Text value of the detection result. For example, the value for \"HairColor\" can be \"black\", \"blonde\", etc.",
          "type": "string"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p3beta1_TextFrame": {
      "properties": {
        "rotatedBoundingBox": {
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_NormalizedBoundingPoly",
          "description": "Bounding polygon of the detected text for this frame."
        },
        "timeOffset": {
          "description": "Timestamp of this frame.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p3beta1_TextFrame",
      "description": "Video frame level annotation results for text annotation (OCR). Contains information regarding timestamp and bounding box locations for the frames containing detected OCR text snippets.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p1beta1_SpeechTranscription": {
      "description": "A speech recognition result corresponding to a portion of the audio.",
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p1beta1_SpeechTranscription",
      "properties": {
        "alternatives": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_SpeechRecognitionAlternative"
          },
          "type": "array",
          "description": "May contain one or more recognition hypotheses (up to the maximum specified in `max_alternatives`). These alternatives are ordered in terms of accuracy, with the top (first) alternative being the most probable, as ranked by the recognizer."
        },
        "languageCode": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The [BCP-47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt) language tag of the language in this result. This language code was detected to have the most likelihood of being spoken in the audio."
        }
      }
    },
    "GoogleCloudVideointelligenceV1p1beta1_AnnotateVideoProgress": {
      "description": "Video annotation progress. Included in the `metadata` field of the `Operation` returned by the `GetOperation` call of the `google::longrunning::Operations` service.",
      "properties": {
        "annotationProgress": {
          "description": "Progress metadata for all videos specified in `AnnotateVideoRequest`.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_VideoAnnotationProgress"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p1beta1_AnnotateVideoProgress"
    },
    "GoogleCloudVideointelligenceV1_TextAnnotation": {
      "properties": {
        "version": {
          "description": "Feature version.",
          "type": "string"
        },
        "segments": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_TextSegment"
          },
          "description": "All video segments where OCR detected text appears.",
          "type": "array"
        },
        "text": {
          "description": "The detected text.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Annotations related to one detected OCR text snippet. This will contain the corresponding text, confidence value, and frame level information for each detection.",
      "id": "GoogleCloudVideointelligenceV1_TextAnnotation"
    },
    "GoogleCloudVideointelligenceV1p1beta1_VideoAnnotationResults": {
      "properties": {
        "frameLabelAnnotations": {
          "description": "Label annotations on frame level. There is exactly one element for each unique label.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_LabelAnnotation"
          }
        },
        "speechTranscriptions": {
          "type": "array",
          "description": "Speech transcription.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_SpeechTranscription"
          }
        },
        "shotAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_VideoSegment"
          },
          "description": "Shot annotations. Each shot is represented as a video segment.",
          "type": "array"
        },
        "segment": {
          "description": "Video segment on which the annotation is run.",
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_VideoSegment"
        },
        "objectAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_ObjectTrackingAnnotation"
          },
          "description": "Annotations for list of objects detected and tracked in video.",
          "type": "array"
        },
        "shotLabelAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_LabelAnnotation"
          },
          "type": "array",
          "description": "Topical label annotations on shot level. There is exactly one element for each unique label."
        },
        "error": {
          "$ref": "GoogleRpc_Status",
          "description": "If set, indicates an error. Note that for a single `AnnotateVideoRequest` some videos may succeed and some may fail."
        },
        "segmentLabelAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_LabelAnnotation"
          },
          "description": "Topical label annotations on video level or user-specified segment level. There is exactly one element for each unique label.",
          "type": "array"
        },
        "explicitAnnotation": {
          "description": "Explicit content annotation.",
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_ExplicitContentAnnotation"
        },
        "faceDetectionAnnotations": {
          "description": "Face detection annotations.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_FaceDetectionAnnotation"
          }
        },
        "logoRecognitionAnnotations": {
          "description": "Annotations for list of logos detected, tracked and recognized in video.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_LogoRecognitionAnnotation"
          },
          "type": "array"
        },
        "segmentPresenceLabelAnnotations": {
          "description": "Presence label annotations on video level or user-specified segment level. There is exactly one element for each unique label. Compared to the existing topical `segment_label_annotations`, this field presents more fine-grained, segment-level labels detected in video content and is made available only when the client sets `LabelDetectionConfig.model` to \"builtin/latest\" in the request.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_LabelAnnotation"
          },
          "type": "array"
        },
        "personDetectionAnnotations": {
          "type": "array",
          "description": "Person detection annotations.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_PersonDetectionAnnotation"
          }
        },
        "inputUri": {
          "description": "Video file location in [Cloud Storage](https://cloud.google.com/storage/).",
          "type": "string"
        },
        "textAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_TextAnnotation"
          },
          "type": "array",
          "description": "OCR text detection and tracking. Annotations for list of detected text snippets. Each will have list of frame information associated with it."
        },
        "shotPresenceLabelAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_LabelAnnotation"
          },
          "description": "Presence label annotations on shot level. There is exactly one element for each unique label. Compared to the existing topical `shot_label_annotations`, this field presents more fine-grained, shot-level labels detected in video content and is made available only when the client sets `LabelDetectionConfig.model` to \"builtin/latest\" in the request.",
          "type": "array"
        },
        "faceAnnotations": {
          "description": "Deprecated. Please use `face_detection_annotations` instead.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_FaceAnnotation"
          },
          "type": "array"
        }
      },
      "description": "Annotation results for a single video.",
      "id": "GoogleCloudVideointelligenceV1p1beta1_VideoAnnotationResults",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1_FaceSegment": {
      "type": "object",
      "description": "Video segment level annotation results for face detection.",
      "properties": {
        "segment": {
          "description": "Video segment where a face was detected.",
          "$ref": "GoogleCloudVideointelligenceV1_VideoSegment"
        }
      },
      "id": "GoogleCloudVideointelligenceV1_FaceSegment"
    },
    "GoogleCloudVideointelligenceV1p2beta1_ExplicitContentFrame": {
      "id": "GoogleCloudVideointelligenceV1p2beta1_ExplicitContentFrame",
      "description": "Video frame level annotation results for explicit content.",
      "type": "object",
      "properties": {
        "timeOffset": {
          "format": "google-duration",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this location.",
          "type": "string"
        },
        "pornographyLikelihood": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified likelihood.",
            "Very unlikely.",
            "Unlikely.",
            "Possible.",
            "Likely.",
            "Very likely."
          ],
          "description": "Likelihood of the pornography content..",
          "enum": [
            "LIKELIHOOD_UNSPECIFIED",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ]
        }
      }
    },
    "GoogleCloudVideointelligenceV1_NormalizedBoundingPoly": {
      "description": "Normalized bounding polygon for text (that might not be aligned with axis). Contains list of the corner points in clockwise order starting from top-left corner. For example, for a rectangular bounding box: When the text is horizontal it might look like: 0----1 | | 3----2 When it's clockwise rotated 180 degrees around the top-left corner it becomes: 2----3 | | 1----0 and the vertex order will still be (0, 1, 2, 3). Note that values can be less than 0, or greater than 1 due to trignometric calculations for location of the box.",
      "properties": {
        "vertices": {
          "description": "Normalized vertices of the bounding polygon.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_NormalizedVertex"
          }
        }
      },
      "id": "GoogleCloudVideointelligenceV1_NormalizedBoundingPoly",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p2beta1_DetectedAttribute": {
      "properties": {
        "value": {
          "description": "Text value of the detection result. For example, the value for \"HairColor\" can be \"black\", \"blonde\", etc.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the attribute, for example, glasses, dark_glasses, mouth_open. A full list of supported type names will be provided in the document."
        },
        "confidence": {
          "description": "Detected attribute confidence. Range [0, 1].",
          "type": "number",
          "format": "float"
        }
      },
      "description": "A generic detected attribute represented by name in string format.",
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p2beta1_DetectedAttribute"
    },
    "GoogleCloudVideointelligenceV1p2beta1_TextFrame": {
      "type": "object",
      "description": "Video frame level annotation results for text annotation (OCR). Contains information regarding timestamp and bounding box locations for the frames containing detected OCR text snippets.",
      "properties": {
        "timeOffset": {
          "type": "string",
          "format": "google-duration",
          "description": "Timestamp of this frame."
        },
        "rotatedBoundingBox": {
          "description": "Bounding polygon of the detected text for this frame.",
          "$ref": "GoogleCloudVideointelligenceV1p2beta1_NormalizedBoundingPoly"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p2beta1_TextFrame"
    },
    "GoogleCloudVideointelligenceV1p3beta1_LabelSegment": {
      "description": "Video segment level annotation results for label detection.",
      "properties": {
        "confidence": {
          "type": "number",
          "description": "Confidence that the label is accurate. Range: [0, 1].",
          "format": "float"
        },
        "segment": {
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_VideoSegment",
          "description": "Video segment where a label was detected."
        }
      },
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p3beta1_LabelSegment"
    },
    "GoogleCloudVideointelligenceV1beta2_FaceSegment": {
      "id": "GoogleCloudVideointelligenceV1beta2_FaceSegment",
      "type": "object",
      "description": "Video segment level annotation results for face detection.",
      "properties": {
        "segment": {
          "description": "Video segment where a face was detected.",
          "$ref": "GoogleCloudVideointelligenceV1beta2_VideoSegment"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p3beta1_FaceAnnotation": {
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p3beta1_FaceAnnotation",
      "properties": {
        "segments": {
          "description": "All video segments where a face was detected.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_FaceSegment"
          }
        },
        "thumbnail": {
          "format": "byte",
          "type": "string",
          "description": "Thumbnail of a representative face view (in JPEG format)."
        },
        "frames": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_FaceFrame"
          },
          "description": "All video frames where a face was detected.",
          "type": "array"
        }
      },
      "description": "Deprecated. No effect."
    },
    "GoogleCloudVideointelligenceV1beta2_NormalizedBoundingBox": {
      "id": "GoogleCloudVideointelligenceV1beta2_NormalizedBoundingBox",
      "properties": {
        "right": {
          "description": "Right X coordinate.",
          "format": "float",
          "type": "number"
        },
        "left": {
          "type": "number",
          "description": "Left X coordinate.",
          "format": "float"
        },
        "bottom": {
          "format": "float",
          "type": "number",
          "description": "Bottom Y coordinate."
        },
        "top": {
          "description": "Top Y coordinate.",
          "format": "float",
          "type": "number"
        }
      },
      "description": "Normalized bounding box. The normalized vertex coordinates are relative to the original image. Range: [0, 1].",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1beta2_AnnotateVideoRequest": {
      "id": "GoogleCloudVideointelligenceV1beta2_AnnotateVideoRequest",
      "description": "Video annotation request.",
      "type": "object",
      "properties": {
        "outputUri": {
          "type": "string",
          "description": "Optional. Location where the output (in JSON format) should be stored. Currently, only [Cloud Storage](https://cloud.google.com/storage/) URIs are supported. These must be specified in the following format: `gs://bucket-id/object-id` (other URI formats return google.rpc.Code.INVALID_ARGUMENT). For more information, see [Request URIs](https://cloud.google.com/storage/docs/request-endpoints)."
        },
        "features": {
          "items": {
            "enumDescriptions": [
              "Unspecified.",
              "Label detection. Detect objects, such as dog or flower.",
              "Shot change detection.",
              "Explicit content detection.",
              "Human face detection.",
              "Speech transcription.",
              "OCR text detection and tracking.",
              "Object detection and tracking.",
              "Logo detection, tracking, and recognition.",
              "Person detection."
            ],
            "enum": [
              "FEATURE_UNSPECIFIED",
              "LABEL_DETECTION",
              "SHOT_CHANGE_DETECTION",
              "EXPLICIT_CONTENT_DETECTION",
              "FACE_DETECTION",
              "SPEECH_TRANSCRIPTION",
              "TEXT_DETECTION",
              "OBJECT_TRACKING",
              "LOGO_RECOGNITION",
              "PERSON_DETECTION"
            ],
            "type": "string"
          },
          "description": "Required. Requested video annotation features.",
          "type": "array"
        },
        "inputContent": {
          "description": "The video data bytes. If unset, the input video(s) should be specified via the `input_uri`. If set, `input_uri` must be unset.",
          "type": "string",
          "format": "byte"
        },
        "locationId": {
          "type": "string",
          "description": "Optional. Cloud region where annotation should take place. Supported cloud regions are: `us-east1`, `us-west1`, `europe-west1`, `asia-east1`. If no region is specified, the region will be determined based on video file location."
        },
        "videoContext": {
          "description": "Additional video context and/or feature-specific parameters.",
          "$ref": "GoogleCloudVideointelligenceV1beta2_VideoContext"
        },
        "inputUri": {
          "description": "Input video location. Currently, only [Cloud Storage](https://cloud.google.com/storage/) URIs are supported. URIs must be specified in the following format: `gs://bucket-id/object-id` (other URI formats return google.rpc.Code.INVALID_ARGUMENT). For more information, see [Request URIs](https://cloud.google.com/storage/docs/request-endpoints). To identify multiple videos, a video URI may include wildcards in the `object-id`. Supported wildcards: '*' to match 0 or more characters; '?' to match 1 character. If unset, the input video should be embedded in the request as `input_content`. If set, `input_content` must be unset.",
          "type": "string"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p1beta1_DetectedLandmark": {
      "id": "GoogleCloudVideointelligenceV1p1beta1_DetectedLandmark",
      "type": "object",
      "description": "A generic detected landmark represented by name in string format and a 2D location.",
      "properties": {
        "name": {
          "description": "The name of this landmark, for example, left_hand, right_shoulder.",
          "type": "string"
        },
        "confidence": {
          "type": "number",
          "description": "The confidence score of the detected landmark. Range [0, 1].",
          "format": "float"
        },
        "point": {
          "description": "The 2D point of the detected landmark using the normalized image coordindate system. The normalized coordinates have the range from 0 to 1.",
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_NormalizedVertex"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p2beta1_FaceDetectionAnnotation": {
      "description": "Face detection annotation.",
      "properties": {
        "version": {
          "type": "string",
          "description": "Feature version."
        }
      },
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p2beta1_FaceDetectionAnnotation"
    },
    "GoogleCloudVideointelligenceV1p3beta1_FaceSegment": {
      "description": "Video segment level annotation results for face detection.",
      "properties": {
        "segment": {
          "description": "Video segment where a face was detected.",
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_VideoSegment"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p3beta1_FaceSegment",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p3beta1_NormalizedBoundingPoly": {
      "description": "Normalized bounding polygon for text (that might not be aligned with axis). Contains list of the corner points in clockwise order starting from top-left corner. For example, for a rectangular bounding box: When the text is horizontal it might look like: 0----1 | | 3----2 When it's clockwise rotated 180 degrees around the top-left corner it becomes: 2----3 | | 1----0 and the vertex order will still be (0, 1, 2, 3). Note that values can be less than 0, or greater than 1 due to trignometric calculations for location of the box.",
      "properties": {
        "vertices": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_NormalizedVertex"
          },
          "description": "Normalized vertices of the bounding polygon."
        }
      },
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p3beta1_NormalizedBoundingPoly"
    },
    "GoogleCloudVideointelligenceV1_AnnotateVideoProgress": {
      "description": "Video annotation progress. Included in the `metadata` field of the `Operation` returned by the `GetOperation` call of the `google::longrunning::Operations` service.",
      "properties": {
        "annotationProgress": {
          "type": "array",
          "description": "Progress metadata for all videos specified in `AnnotateVideoRequest`.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_VideoAnnotationProgress"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1_AnnotateVideoProgress"
    },
    "GoogleCloudVideointelligenceV1beta2_FaceFrame": {
      "properties": {
        "normalizedBoundingBoxes": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_NormalizedBoundingBox"
          },
          "description": "Normalized Bounding boxes in a frame. There can be more than one boxes if the same face is detected in multiple locations within the current frame.",
          "type": "array"
        },
        "timeOffset": {
          "format": "google-duration",
          "type": "string",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this location."
        }
      },
      "description": "Deprecated. No effect.",
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1beta2_FaceFrame"
    },
    "GoogleCloudVideointelligenceV1p3beta1_PersonDetectionAnnotation": {
      "id": "GoogleCloudVideointelligenceV1p3beta1_PersonDetectionAnnotation",
      "properties": {
        "version": {
          "description": "Feature version.",
          "type": "string"
        },
        "tracks": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_Track"
          },
          "type": "array",
          "description": "The detected tracks of a person."
        }
      },
      "type": "object",
      "description": "Person detection annotation per video."
    },
    "GoogleCloudVideointelligenceV1beta2_Track": {
      "id": "GoogleCloudVideointelligenceV1beta2_Track",
      "description": "A track of an object instance.",
      "properties": {
        "confidence": {
          "description": "Optional. The confidence score of the tracked object.",
          "format": "float",
          "type": "number"
        },
        "segment": {
          "description": "Video segment of a track.",
          "$ref": "GoogleCloudVideointelligenceV1beta2_VideoSegment"
        },
        "timestampedObjects": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_TimestampedObject"
          },
          "description": "The object with timestamp and attributes per frame in the track."
        },
        "attributes": {
          "type": "array",
          "description": "Optional. Attributes in the track level.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_DetectedAttribute"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p3beta1_VideoAnnotationResults": {
      "type": "object",
      "properties": {
        "segmentPresenceLabelAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_LabelAnnotation"
          },
          "description": "Presence label annotations on video level or user-specified segment level. There is exactly one element for each unique label. Compared to the existing topical `segment_label_annotations`, this field presents more fine-grained, segment-level labels detected in video content and is made available only when the client sets `LabelDetectionConfig.model` to \"builtin/latest\" in the request.",
          "type": "array"
        },
        "shotAnnotations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_VideoSegment"
          },
          "description": "Shot annotations. Each shot is represented as a video segment."
        },
        "textAnnotations": {
          "description": "OCR text detection and tracking. Annotations for list of detected text snippets. Each will have list of frame information associated with it.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_TextAnnotation"
          }
        },
        "segmentLabelAnnotations": {
          "type": "array",
          "description": "Topical label annotations on video level or user-specified segment level. There is exactly one element for each unique label.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_LabelAnnotation"
          }
        },
        "frameLabelAnnotations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_LabelAnnotation"
          },
          "description": "Label annotations on frame level. There is exactly one element for each unique label."
        },
        "shotLabelAnnotations": {
          "description": "Topical label annotations on shot level. There is exactly one element for each unique label.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_LabelAnnotation"
          },
          "type": "array"
        },
        "inputUri": {
          "type": "string",
          "description": "Video file location in [Cloud Storage](https://cloud.google.com/storage/)."
        },
        "logoRecognitionAnnotations": {
          "description": "Annotations for list of logos detected, tracked and recognized in video.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_LogoRecognitionAnnotation"
          }
        },
        "error": {
          "description": "If set, indicates an error. Note that for a single `AnnotateVideoRequest` some videos may succeed and some may fail.",
          "$ref": "GoogleRpc_Status"
        },
        "objectAnnotations": {
          "description": "Annotations for list of objects detected and tracked in video.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_ObjectTrackingAnnotation"
          },
          "type": "array"
        },
        "segment": {
          "description": "Video segment on which the annotation is run.",
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_VideoSegment"
        },
        "speechTranscriptions": {
          "type": "array",
          "description": "Speech transcription.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_SpeechTranscription"
          }
        },
        "faceDetectionAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_FaceDetectionAnnotation"
          },
          "description": "Face detection annotations.",
          "type": "array"
        },
        "shotPresenceLabelAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_LabelAnnotation"
          },
          "type": "array",
          "description": "Presence label annotations on shot level. There is exactly one element for each unique label. Compared to the existing topical `shot_label_annotations`, this field presents more fine-grained, shot-level labels detected in video content and is made available only when the client sets `LabelDetectionConfig.model` to \"builtin/latest\" in the request."
        },
        "celebrityRecognitionAnnotations": {
          "description": "Celebrity recognition annotations.",
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_CelebrityRecognitionAnnotation"
        },
        "faceAnnotations": {
[...]
