{
  "parameters": {
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    }
  },
  "version_module": true,
  "description": "Detects objects, explicit content, and scene changes in videos. It also specifies the region for annotation and transcribes speech to text. Supports both asynchronous API and streaming API.",
  "name": "videointelligence",
  "fullyEncodeReservedExpansion": true,
  "ownerDomain": "google.com",
  "id": "videointelligence:v1beta2",
  "discoveryVersion": "v1",
  "basePath": "",
  "documentationLink": "https://cloud.google.com/video-intelligence/docs/",
  "schemas": {
    "GoogleCloudVideointelligenceV1_WordInfo": {
      "properties": {
        "startTime": {
          "description": "Time offset relative to the beginning of the audio, and corresponding to the start of the spoken word. This field is only set if `enable_word_time_offsets=true` and only in the top hypothesis. This is an experimental feature and the accuracy of the time offset can vary.",
          "type": "string",
          "format": "google-duration"
        },
        "endTime": {
          "description": "Time offset relative to the beginning of the audio, and corresponding to the end of the spoken word. This field is only set if `enable_word_time_offsets=true` and only in the top hypothesis. This is an experimental feature and the accuracy of the time offset can vary.",
          "format": "google-duration",
          "type": "string"
        },
        "word": {
          "type": "string",
          "description": "The word corresponding to this set of information."
        },
        "confidence": {
          "format": "float",
          "readOnly": true,
          "type": "number",
          "description": "Output only. The confidence estimate between 0.0 and 1.0. A higher number indicates an estimated greater likelihood that the recognized words are correct. This field is set only for the top alternative. This field is not guaranteed to be accurate and users should not rely on it to be always provided. The default of 0.0 is a sentinel value indicating `confidence` was not set."
        },
        "speakerTag": {
          "type": "integer",
          "description": "Output only. A distinct integer value is assigned for every speaker within the audio. This field specifies which one of those speakers was detected to have spoken this word. Value ranges from 1 up to diarization_speaker_count, and is only set if speaker diarization is enabled.",
          "format": "int32",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1_WordInfo",
      "description": "Word-specific information for recognized words. Word information is only included in the response when certain request parameters are set, such as `enable_word_time_offsets`."
    },
    "GoogleCloudVideointelligenceV1p1beta1_ObjectTrackingFrame": {
      "id": "GoogleCloudVideointelligenceV1p1beta1_ObjectTrackingFrame",
      "type": "object",
      "properties": {
        "timeOffset": {
          "format": "google-duration",
          "description": "The timestamp of the frame in microseconds.",
          "type": "string"
        },
        "normalizedBoundingBox": {
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_NormalizedBoundingBox",
          "description": "The normalized bounding box location of this object track for the frame."
        }
      },
      "description": "Video frame level annotations for object detection and tracking. This field stores per frame location, time offset, and confidence."
    },
    "GoogleCloudVideointelligenceV1beta2_TextFrame": {
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1beta2_TextFrame",
      "description": "Video frame level annotation results for text annotation (OCR). Contains information regarding timestamp and bounding box locations for the frames containing detected OCR text snippets.",
      "properties": {
        "timeOffset": {
          "type": "string",
          "format": "google-duration",
          "description": "Timestamp of this frame."
        },
        "rotatedBoundingBox": {
          "$ref": "GoogleCloudVideointelligenceV1beta2_NormalizedBoundingPoly",
          "description": "Bounding polygon of the detected text for this frame."
        }
      }
    },
    "GoogleCloudVideointelligenceV1p3beta1_LogoRecognitionAnnotation": {
      "properties": {
        "entity": {
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_Entity",
          "description": "Entity category information to specify the logo class that all the logo tracks within this LogoRecognitionAnnotation are recognized as."
        },
        "segments": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_VideoSegment"
          },
          "description": "All video segments where the recognized logo appears. There might be multiple instances of the same logo class appearing in one VideoSegment."
        },
        "tracks": {
          "type": "array",
          "description": "All logo tracks where the recognized logo appears. Each track corresponds to one logo instance appearing in consecutive frames.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_Track"
          }
        }
      },
      "type": "object",
      "description": "Annotation corresponding to one detected, tracked and recognized logo class.",
      "id": "GoogleCloudVideointelligenceV1p3beta1_LogoRecognitionAnnotation"
    },
    "GoogleCloudVideointelligenceV1_TextAnnotation": {
      "properties": {
        "segments": {
          "type": "array",
          "description": "All video segments where OCR detected text appears.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_TextSegment"
          }
        },
        "text": {
          "type": "string",
          "description": "The detected text."
        },
        "version": {
          "type": "string",
          "description": "Feature version."
        }
      },
      "type": "object",
      "description": "Annotations related to one detected OCR text snippet. This will contain the corresponding text, confidence value, and frame level information for each detection.",
      "id": "GoogleCloudVideointelligenceV1_TextAnnotation"
    },
    "GoogleCloudVideointelligenceV1p1beta1_ExplicitContentAnnotation": {
      "properties": {
        "frames": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_ExplicitContentFrame"
          },
          "description": "All video frames where explicit content was detected."
        },
        "version": {
          "type": "string",
          "description": "Feature version."
        }
      },
      "description": "Explicit content annotation (based on per-frame visual signals only). If no explicit content has been detected in a frame, no annotations are present for that frame.",
      "id": "GoogleCloudVideointelligenceV1p1beta1_ExplicitContentAnnotation",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1_AnnotateVideoResponse": {
      "id": "GoogleCloudVideointelligenceV1_AnnotateVideoResponse",
      "description": "Video annotation response. Included in the `response` field of the `Operation` returned by the `GetOperation` call of the `google::longrunning::Operations` service.",
      "type": "object",
      "properties": {
        "annotationResults": {
          "description": "Annotation results for all videos specified in `AnnotateVideoRequest`.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_VideoAnnotationResults"
          }
        }
      }
    },
    "GoogleCloudVideointelligenceV1p3beta1_NormalizedBoundingPoly": {
      "id": "GoogleCloudVideointelligenceV1p3beta1_NormalizedBoundingPoly",
      "type": "object",
      "description": "Normalized bounding polygon for text (that might not be aligned with axis). Contains list of the corner points in clockwise order starting from top-left corner. For example, for a rectangular bounding box: When the text is horizontal it might look like: 0----1 | | 3----2 When it's clockwise rotated 180 degrees around the top-left corner it becomes: 2----3 | | 1----0 and the vertex order will still be (0, 1, 2, 3). Note that values can be less than 0, or greater than 1 due to trignometric calculations for location of the box.",
      "properties": {
        "vertices": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_NormalizedVertex"
          },
          "description": "Normalized vertices of the bounding polygon."
        }
      }
    },
    "GoogleCloudVideointelligenceV1p1beta1_TextAnnotation": {
      "type": "object",
      "properties": {
        "segments": {
          "description": "All video segments where OCR detected text appears.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_TextSegment"
          }
        },
        "text": {
          "type": "string",
          "description": "The detected text."
        },
        "version": {
          "description": "Feature version.",
          "type": "string"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p1beta1_TextAnnotation",
      "description": "Annotations related to one detected OCR text snippet. This will contain the corresponding text, confidence value, and frame level information for each detection."
    },
    "GoogleCloudVideointelligenceV1p2beta1_ObjectTrackingFrame": {
      "type": "object",
      "properties": {
        "normalizedBoundingBox": {
          "$ref": "GoogleCloudVideointelligenceV1p2beta1_NormalizedBoundingBox",
          "description": "The normalized bounding box location of this object track for the frame."
        },
        "timeOffset": {
          "description": "The timestamp of the frame in microseconds.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p2beta1_ObjectTrackingFrame",
      "description": "Video frame level annotations for object detection and tracking. This field stores per frame location, time offset, and confidence."
    },
    "GoogleCloudVideointelligenceV1p1beta1_TextFrame": {
      "description": "Video frame level annotation results for text annotation (OCR). Contains information regarding timestamp and bounding box locations for the frames containing detected OCR text snippets.",
      "id": "GoogleCloudVideointelligenceV1p1beta1_TextFrame",
      "type": "object",
      "properties": {
        "rotatedBoundingBox": {
          "description": "Bounding polygon of the detected text for this frame.",
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_NormalizedBoundingPoly"
        },
        "timeOffset": {
          "format": "google-duration",
          "type": "string",
          "description": "Timestamp of this frame."
        }
      }
    },
    "GoogleCloudVideointelligenceV1p1beta1_LabelFrame": {
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p1beta1_LabelFrame",
      "description": "Video frame level annotation results for label detection.",
      "properties": {
        "confidence": {
          "description": "Confidence that the label is accurate. Range: [0, 1].",
          "type": "number",
          "format": "float"
        },
        "timeOffset": {
          "format": "google-duration",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this location.",
          "type": "string"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p1beta1_TextSegment": {
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p1beta1_TextSegment",
      "properties": {
        "confidence": {
          "type": "number",
          "format": "float",
          "description": "Confidence for the track of detected text. It is calculated as the highest over all frames where OCR detected text appears."
        },
        "frames": {
          "description": "Information related to the frames where OCR detected text appears.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_TextFrame"
          },
          "type": "array"
        },
        "segment": {
          "description": "Video segment where a text snippet was detected.",
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_VideoSegment"
        }
      },
      "description": "Video segment level annotation results for text detection."
    },
    "GoogleCloudVideointelligenceV1p1beta1_DetectedLandmark": {
      "description": "A generic detected landmark represented by name in string format and a 2D location.",
      "id": "GoogleCloudVideointelligenceV1p1beta1_DetectedLandmark",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of this landmark, for example, left_hand, right_shoulder."
        },
        "confidence": {
          "format": "float",
          "description": "The confidence score of the detected landmark. Range [0, 1].",
          "type": "number"
        },
        "point": {
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_NormalizedVertex",
          "description": "The 2D point of the detected landmark using the normalized image coordindate system. The normalized coordinates have the range from 0 to 1."
        }
      }
    },
    "GoogleCloudVideointelligenceV1p3beta1_TextFrame": {
      "description": "Video frame level annotation results for text annotation (OCR). Contains information regarding timestamp and bounding box locations for the frames containing detected OCR text snippets.",
      "type": "object",
      "properties": {
        "rotatedBoundingBox": {
          "description": "Bounding polygon of the detected text for this frame.",
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_NormalizedBoundingPoly"
        },
        "timeOffset": {
          "type": "string",
          "description": "Timestamp of this frame.",
          "format": "google-duration"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p3beta1_TextFrame"
    },
    "GoogleCloudVideointelligenceV1p3beta1_AnnotateVideoProgress": {
      "properties": {
        "annotationProgress": {
          "description": "Progress metadata for all videos specified in `AnnotateVideoRequest`.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_VideoAnnotationProgress"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p3beta1_AnnotateVideoProgress",
      "description": "Video annotation progress. Included in the `metadata` field of the `Operation` returned by the `GetOperation` call of the `google::longrunning::Operations` service.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1beta2_LabelDetectionConfig": {
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1beta2_LabelDetectionConfig",
      "description": "Config for LABEL_DETECTION.",
      "properties": {
        "stationaryCamera": {
          "type": "boolean",
          "description": "Whether the video has been shot from a stationary (i.e., non-moving) camera. When set to true, might improve detection accuracy for moving objects. Should be used with `SHOT_AND_FRAME_MODE` enabled."
        },
        "model": {
          "description": "Model to use for label detection. Supported values: \"builtin/stable\" (the default if unset) and \"builtin/latest\".",
          "type": "string"
        },
        "videoConfidenceThreshold": {
          "format": "float",
          "type": "number",
          "description": "The confidence threshold we perform filtering on the labels from video-level and shot-level detections. If not set, it's set to 0.3 by default. The valid range for this threshold is [0.1, 0.9]. Any value set outside of this range will be clipped. Note: For best results, follow the default threshold. We will update the default threshold everytime when we release a new model."
        },
        "labelDetectionMode": {
          "enumDescriptions": [
            "Unspecified.",
            "Detect shot-level labels.",
            "Detect frame-level labels.",
            "Detect both shot-level and frame-level labels."
          ],
          "enum": [
            "LABEL_DETECTION_MODE_UNSPECIFIED",
            "SHOT_MODE",
            "FRAME_MODE",
            "SHOT_AND_FRAME_MODE"
          ],
          "description": "What labels should be detected with LABEL_DETECTION, in addition to video-level labels or segment-level labels. If unspecified, defaults to `SHOT_MODE`.",
          "type": "string"
        },
        "frameConfidenceThreshold": {
          "description": "The confidence threshold we perform filtering on the labels from frame-level detection. If not set, it is set to 0.4 by default. The valid range for this threshold is [0.1, 0.9]. Any value set outside of this range will be clipped. Note: For best results, follow the default threshold. We will update the default threshold everytime when we release a new model.",
          "type": "number",
          "format": "float"
        }
      }
    },
    "GoogleCloudVideointelligenceV1_DetectedLandmark": {
      "type": "object",
      "properties": {
        "point": {
          "description": "The 2D point of the detected landmark using the normalized image coordindate system. The normalized coordinates have the range from 0 to 1.",
          "$ref": "GoogleCloudVideointelligenceV1_NormalizedVertex"
        },
        "name": {
          "description": "The name of this landmark, for example, left_hand, right_shoulder.",
          "type": "string"
        },
        "confidence": {
          "description": "The confidence score of the detected landmark. Range [0, 1].",
          "type": "number",
          "format": "float"
        }
      },
      "id": "GoogleCloudVideointelligenceV1_DetectedLandmark",
      "description": "A generic detected landmark represented by name in string format and a 2D location."
    },
    "GoogleCloudVideointelligenceV1_Track": {
      "id": "GoogleCloudVideointelligenceV1_Track",
      "description": "A track of an object instance.",
      "properties": {
        "confidence": {
          "type": "number",
          "description": "Optional. The confidence score of the tracked object.",
          "format": "float"
        },
        "timestampedObjects": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_TimestampedObject"
          },
          "description": "The object with timestamp and attributes per frame in the track."
        },
        "attributes": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_DetectedAttribute"
          },
          "type": "array",
          "description": "Optional. Attributes in the track level."
        },
        "segment": {
          "$ref": "GoogleCloudVideointelligenceV1_VideoSegment",
          "description": "Video segment of a track."
        }
      },
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1beta2_AnnotateVideoProgress": {
      "properties": {
        "annotationProgress": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_VideoAnnotationProgress"
          },
          "description": "Progress metadata for all videos specified in `AnnotateVideoRequest`.",
          "type": "array"
        }
      },
      "description": "Video annotation progress. Included in the `metadata` field of the `Operation` returned by the `GetOperation` call of the `google::longrunning::Operations` service.",
      "id": "GoogleCloudVideointelligenceV1beta2_AnnotateVideoProgress",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p1beta1_Track": {
      "properties": {
        "confidence": {
          "format": "float",
          "description": "Optional. The confidence score of the tracked object.",
          "type": "number"
        },
        "timestampedObjects": {
          "type": "array",
          "description": "The object with timestamp and attributes per frame in the track.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_TimestampedObject"
          }
        },
        "segment": {
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_VideoSegment",
          "description": "Video segment of a track."
        },
        "attributes": {
          "type": "array",
          "description": "Optional. Attributes in the track level.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_DetectedAttribute"
          }
        }
      },
      "id": "GoogleCloudVideointelligenceV1p1beta1_Track",
      "type": "object",
      "description": "A track of an object instance."
    },
    "GoogleCloudVideointelligenceV1_LabelSegment": {
      "description": "Video segment level annotation results for label detection.",
      "properties": {
        "segment": {
          "description": "Video segment where a label was detected.",
          "$ref": "GoogleCloudVideointelligenceV1_VideoSegment"
        },
        "confidence": {
          "type": "number",
          "format": "float",
          "description": "Confidence that the label is accurate. Range: [0, 1]."
        }
      },
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1_LabelSegment"
    },
    "GoogleCloudVideointelligenceV1beta2_WordInfo": {
      "id": "GoogleCloudVideointelligenceV1beta2_WordInfo",
      "type": "object",
      "description": "Word-specific information for recognized words. Word information is only included in the response when certain request parameters are set, such as `enable_word_time_offsets`.",
      "properties": {
        "confidence": {
          "readOnly": true,
          "type": "number",
          "format": "float",
          "description": "Output only. The confidence estimate between 0.0 and 1.0. A higher number indicates an estimated greater likelihood that the recognized words are correct. This field is set only for the top alternative. This field is not guaranteed to be accurate and users should not rely on it to be always provided. The default of 0.0 is a sentinel value indicating `confidence` was not set."
        },
        "endTime": {
          "type": "string",
          "format": "google-duration",
          "description": "Time offset relative to the beginning of the audio, and corresponding to the end of the spoken word. This field is only set if `enable_word_time_offsets=true` and only in the top hypothesis. This is an experimental feature and the accuracy of the time offset can vary."
        },
        "startTime": {
          "description": "Time offset relative to the beginning of the audio, and corresponding to the start of the spoken word. This field is only set if `enable_word_time_offsets=true` and only in the top hypothesis. This is an experimental feature and the accuracy of the time offset can vary.",
          "type": "string",
          "format": "google-duration"
        },
        "speakerTag": {
          "type": "integer",
          "description": "Output only. A distinct integer value is assigned for every speaker within the audio. This field specifies which one of those speakers was detected to have spoken this word. Value ranges from 1 up to diarization_speaker_count, and is only set if speaker diarization is enabled.",
          "readOnly": true,
          "format": "int32"
        },
        "word": {
          "description": "The word corresponding to this set of information.",
          "type": "string"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p2beta1_SpeechTranscription": {
      "properties": {
        "languageCode": {
          "readOnly": true,
          "description": "Output only. The [BCP-47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt) language tag of the language in this result. This language code was detected to have the most likelihood of being spoken in the audio.",
          "type": "string"
        },
        "alternatives": {
          "type": "array",
          "description": "May contain one or more recognition hypotheses (up to the maximum specified in `max_alternatives`). These alternatives are ordered in terms of accuracy, with the top (first) alternative being the most probable, as ranked by the recognizer.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_SpeechRecognitionAlternative"
          }
        }
      },
      "description": "A speech recognition result corresponding to a portion of the audio.",
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p2beta1_SpeechTranscription"
    },
    "GoogleCloudVideointelligenceV1beta2_ObjectTrackingFrame": {
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1beta2_ObjectTrackingFrame",
      "properties": {
        "timeOffset": {
          "type": "string",
          "description": "The timestamp of the frame in microseconds.",
          "format": "google-duration"
        },
        "normalizedBoundingBox": {
          "$ref": "GoogleCloudVideointelligenceV1beta2_NormalizedBoundingBox",
          "description": "The normalized bounding box location of this object track for the frame."
        }
      },
      "description": "Video frame level annotations for object detection and tracking. This field stores per frame location, time offset, and confidence."
    },
    "GoogleCloudVideointelligenceV1beta2_Track": {
      "properties": {
        "timestampedObjects": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_TimestampedObject"
          },
          "description": "The object with timestamp and attributes per frame in the track."
        },
        "attributes": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_DetectedAttribute"
          },
          "description": "Optional. Attributes in the track level.",
          "type": "array"
        },
        "confidence": {
          "description": "Optional. The confidence score of the tracked object.",
          "type": "number",
          "format": "float"
        },
        "segment": {
          "description": "Video segment of a track.",
          "$ref": "GoogleCloudVideointelligenceV1beta2_VideoSegment"
        }
      },
      "id": "GoogleCloudVideointelligenceV1beta2_Track",
      "description": "A track of an object instance.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1beta2_ExplicitContentDetectionConfig": {
      "id": "GoogleCloudVideointelligenceV1beta2_ExplicitContentDetectionConfig",
      "type": "object",
      "properties": {
        "model": {
          "type": "string",
          "description": "Model to use for explicit content detection. Supported values: \"builtin/stable\" (the default if unset) and \"builtin/latest\"."
        }
      },
      "description": "Config for EXPLICIT_CONTENT_DETECTION."
    },
    "GoogleCloudVideointelligenceV1p1beta1_VideoAnnotationResults": {
      "type": "object",
      "description": "Annotation results for a single video.",
      "id": "GoogleCloudVideointelligenceV1p1beta1_VideoAnnotationResults",
      "properties": {
        "inputUri": {
          "type": "string",
          "description": "Video file location in [Cloud Storage](https://cloud.google.com/storage/)."
        },
        "segmentLabelAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_LabelAnnotation"
          },
          "type": "array",
          "description": "Topical label annotations on video level or user-specified segment level. There is exactly one element for each unique label."
        },
        "segment": {
          "description": "Video segment on which the annotation is run.",
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_VideoSegment"
        },
        "shotLabelAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_LabelAnnotation"
          },
          "type": "array",
          "description": "Topical label annotations on shot level. There is exactly one element for each unique label."
        },
        "objectAnnotations": {
          "description": "Annotations for list of objects detected and tracked in video.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_ObjectTrackingAnnotation"
          },
          "type": "array"
        },
        "speechTranscriptions": {
          "description": "Speech transcription.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_SpeechTranscription"
          },
          "type": "array"
        },
        "error": {
          "$ref": "GoogleRpc_Status",
          "description": "If set, indicates an error. Note that for a single `AnnotateVideoRequest` some videos may succeed and some may fail."
        },
        "frameLabelAnnotations": {
          "description": "Label annotations on frame level. There is exactly one element for each unique label.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_LabelAnnotation"
          }
        },
        "segmentPresenceLabelAnnotations": {
          "description": "Presence label annotations on video level or user-specified segment level. There is exactly one element for each unique label. Compared to the existing topical `segment_label_annotations`, this field presents more fine-grained, segment-level labels detected in video content and is made available only when the client sets `LabelDetectionConfig.model` to \"builtin/latest\" in the request.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_LabelAnnotation"
          },
          "type": "array"
        },
        "shotPresenceLabelAnnotations": {
          "type": "array",
          "description": "Presence label annotations on shot level. There is exactly one element for each unique label. Compared to the existing topical `shot_label_annotations`, this field presents more fine-grained, shot-level labels detected in video content and is made available only when the client sets `LabelDetectionConfig.model` to \"builtin/latest\" in the request.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_LabelAnnotation"
          }
        },
        "shotAnnotations": {
          "description": "Shot annotations. Each shot is represented as a video segment.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_VideoSegment"
          }
        },
        "explicitAnnotation": {
          "description": "Explicit content annotation.",
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_ExplicitContentAnnotation"
        },
        "logoRecognitionAnnotations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_LogoRecognitionAnnotation"
          },
          "description": "Annotations for list of logos detected, tracked and recognized in video."
        },
        "textAnnotations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_TextAnnotation"
          },
          "description": "OCR text detection and tracking. Annotations for list of detected text snippets. Each will have list of frame information associated with it."
        }
      }
    },
    "GoogleCloudVideointelligenceV1p3beta1_Entity": {
      "id": "GoogleCloudVideointelligenceV1p3beta1_Entity",
      "properties": {
        "languageCode": {
          "description": "Language code for `description` in BCP-47 format.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Textual description, e.g., `Fixed-gear bicycle`."
        },
        "entityId": {
          "description": "Opaque entity ID. Some IDs may be available in [Google Knowledge Graph Search API](https://developers.google.com/knowledge-graph/).",
          "type": "string"
        }
      },
      "description": "Detected entity from video analysis.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1_LogoRecognitionAnnotation": {
      "description": "Annotation corresponding to one detected, tracked and recognized logo class.",
      "id": "GoogleCloudVideointelligenceV1_LogoRecognitionAnnotation",
      "properties": {
        "entity": {
          "$ref": "GoogleCloudVideointelligenceV1_Entity",
          "description": "Entity category information to specify the logo class that all the logo tracks within this LogoRecognitionAnnotation are recognized as."
        },
        "segments": {
          "description": "All video segments where the recognized logo appears. There might be multiple instances of the same logo class appearing in one VideoSegment.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_VideoSegment"
          },
          "type": "array"
        },
        "tracks": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_Track"
          },
          "description": "All logo tracks where the recognized logo appears. Each track corresponds to one logo instance appearing in consecutive frames."
        }
      },
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p3beta1_DetectedAttribute": {
      "type": "object",
      "properties": {
        "confidence": {
          "type": "number",
          "format": "float",
          "description": "Detected attribute confidence. Range [0, 1]."
        },
        "name": {
          "type": "string",
          "description": "The name of the attribute, for example, glasses, dark_glasses, mouth_open. A full list of supported type names will be provided in the document."
        },
        "value": {
          "type": "string",
          "description": "Text value of the detection result. For example, the value for \"HairColor\" can be \"black\", \"blonde\", etc."
        }
      },
      "id": "GoogleCloudVideointelligenceV1p3beta1_DetectedAttribute",
      "description": "A generic detected attribute represented by name in string format."
    },
    "GoogleCloudVideointelligenceV1beta2_ExplicitContentFrame": {
      "id": "GoogleCloudVideointelligenceV1beta2_ExplicitContentFrame",
      "properties": {
        "pornographyLikelihood": {
          "description": "Likelihood of the pornography content..",
          "enumDescriptions": [
            "Unspecified likelihood.",
            "Very unlikely.",
            "Unlikely.",
            "Possible.",
            "Likely.",
            "Very likely."
          ],
          "type": "string",
          "enum": [
            "LIKELIHOOD_UNSPECIFIED",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ]
        },
        "timeOffset": {
          "format": "google-duration",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this location.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Video frame level annotation results for explicit content."
    },
    "GoogleCloudVideointelligenceV1beta2_ExplicitContentAnnotation": {
      "description": "Explicit content annotation (based on per-frame visual signals only). If no explicit content has been detected in a frame, no annotations are present for that frame.",
      "properties": {
        "version": {
          "type": "string",
          "description": "Feature version."
        },
        "frames": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_ExplicitContentFrame"
          },
          "description": "All video frames where explicit content was detected."
        }
      },
      "id": "GoogleCloudVideointelligenceV1beta2_ExplicitContentAnnotation",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p2beta1_ExplicitContentAnnotation": {
      "type": "object",
      "properties": {
        "frames": {
          "description": "All video frames where explicit content was detected.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_ExplicitContentFrame"
          },
          "type": "array"
        },
        "version": {
          "type": "string",
          "description": "Feature version."
        }
      },
      "description": "Explicit content annotation (based on per-frame visual signals only). If no explicit content has been detected in a frame, no annotations are present for that frame.",
      "id": "GoogleCloudVideointelligenceV1p2beta1_ExplicitContentAnnotation"
    },
    "GoogleCloudVideointelligenceV1_ExplicitContentAnnotation": {
      "id": "GoogleCloudVideointelligenceV1_ExplicitContentAnnotation",
      "properties": {
        "version": {
          "description": "Feature version.",
          "type": "string"
        },
        "frames": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_ExplicitContentFrame"
          },
          "description": "All video frames where explicit content was detected."
        }
      },
      "type": "object",
      "description": "Explicit content annotation (based on per-frame visual signals only). If no explicit content has been detected in a frame, no annotations are present for that frame."
    },
    "GoogleCloudVideointelligenceV1_AnnotateVideoProgress": {
      "id": "GoogleCloudVideointelligenceV1_AnnotateVideoProgress",
      "properties": {
        "annotationProgress": {
          "description": "Progress metadata for all videos specified in `AnnotateVideoRequest`.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_VideoAnnotationProgress"
          }
        }
      },
      "description": "Video annotation progress. Included in the `metadata` field of the `Operation` returned by the `GetOperation` call of the `google::longrunning::Operations` service.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p3beta1_FaceDetectionAnnotation": {
      "type": "object",
      "properties": {
        "tracks": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_Track"
          },
          "description": "The face tracks with attributes.",
          "type": "array"
        },
        "thumbnail": {
          "format": "byte",
          "description": "The thumbnail of a person's face.",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "Feature version."
        }
      },
      "id": "GoogleCloudVideointelligenceV1p3beta1_FaceDetectionAnnotation",
      "description": "Face detection annotation."
    },
    "GoogleRpc_Status": {
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      },
      "id": "GoogleRpc_Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "GoogleCloudVideointelligenceV1p1beta1_WordInfo": {
      "type": "object",
      "description": "Word-specific information for recognized words. Word information is only included in the response when certain request parameters are set, such as `enable_word_time_offsets`.",
      "properties": {
        "confidence": {
          "readOnly": true,
          "description": "Output only. The confidence estimate between 0.0 and 1.0. A higher number indicates an estimated greater likelihood that the recognized words are correct. This field is set only for the top alternative. This field is not guaranteed to be accurate and users should not rely on it to be always provided. The default of 0.0 is a sentinel value indicating `confidence` was not set.",
          "type": "number",
          "format": "float"
        },
        "startTime": {
          "description": "Time offset relative to the beginning of the audio, and corresponding to the start of the spoken word. This field is only set if `enable_word_time_offsets=true` and only in the top hypothesis. This is an experimental feature and the accuracy of the time offset can vary.",
          "type": "string",
          "format": "google-duration"
        },
        "word": {
          "type": "string",
          "description": "The word corresponding to this set of information."
        },
        "endTime": {
          "format": "google-duration",
          "description": "Time offset relative to the beginning of the audio, and corresponding to the end of the spoken word. This field is only set if `enable_word_time_offsets=true` and only in the top hypothesis. This is an experimental feature and the accuracy of the time offset can vary.",
          "type": "string"
        },
        "speakerTag": {
          "type": "integer",
          "description": "Output only. A distinct integer value is assigned for every speaker within the audio. This field specifies which one of those speakers was detected to have spoken this word. Value ranges from 1 up to diarization_speaker_count, and is only set if speaker diarization is enabled.",
          "format": "int32",
          "readOnly": true
        }
      },
      "id": "GoogleCloudVideointelligenceV1p1beta1_WordInfo"
    },
    "GoogleCloudVideointelligenceV1p2beta1_WordInfo": {
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p2beta1_WordInfo",
      "description": "Word-specific information for recognized words. Word information is only included in the response when certain request parameters are set, such as `enable_word_time_offsets`.",
      "properties": {
        "speakerTag": {
          "format": "int32",
          "readOnly": true,
          "type": "integer",
          "description": "Output only. A distinct integer value is assigned for every speaker within the audio. This field specifies which one of those speakers was detected to have spoken this word. Value ranges from 1 up to diarization_speaker_count, and is only set if speaker diarization is enabled."
        },
        "word": {
          "type": "string",
          "description": "The word corresponding to this set of information."
        },
        "startTime": {
          "type": "string",
          "format": "google-duration",
          "description": "Time offset relative to the beginning of the audio, and corresponding to the start of the spoken word. This field is only set if `enable_word_time_offsets=true` and only in the top hypothesis. This is an experimental feature and the accuracy of the time offset can vary."
        },
        "confidence": {
          "format": "float",
          "description": "Output only. The confidence estimate between 0.0 and 1.0. A higher number indicates an estimated greater likelihood that the recognized words are correct. This field is set only for the top alternative. This field is not guaranteed to be accurate and users should not rely on it to be always provided. The default of 0.0 is a sentinel value indicating `confidence` was not set.",
          "readOnly": true,
          "type": "number"
        },
        "endTime": {
          "format": "google-duration",
          "description": "Time offset relative to the beginning of the audio, and corresponding to the end of the spoken word. This field is only set if `enable_word_time_offsets=true` and only in the top hypothesis. This is an experimental feature and the accuracy of the time offset can vary.",
          "type": "string"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p3beta1_VideoAnnotationProgress": {
      "id": "GoogleCloudVideointelligenceV1p3beta1_VideoAnnotationProgress",
      "properties": {
        "inputUri": {
          "description": "Video file location in [Cloud Storage](https://cloud.google.com/storage/).",
          "type": "string"
        },
        "segment": {
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_VideoSegment",
          "description": "Specifies which segment is being tracked if the request contains more than one segment."
        },
        "feature": {
          "enum": [
            "FEATURE_UNSPECIFIED",
            "LABEL_DETECTION",
            "SHOT_CHANGE_DETECTION",
            "EXPLICIT_CONTENT_DETECTION",
            "FACE_DETECTION",
            "SPEECH_TRANSCRIPTION",
            "TEXT_DETECTION",
            "OBJECT_TRACKING",
            "LOGO_RECOGNITION",
            "CELEBRITY_RECOGNITION",
            "PERSON_DETECTION"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Label detection. Detect objects, such as dog or flower.",
            "Shot change detection.",
            "Explicit content detection.",
            "Human face detection.",
            "Speech transcription.",
            "OCR text detection and tracking.",
            "Object detection and tracking.",
            "Logo detection, tracking, and recognition.",
            "Celebrity recognition.",
            "Person detection."
          ],
          "description": "Specifies which feature is being tracked if the request contains more than one feature."
        },
        "updateTime": {
          "type": "string",
          "description": "Time of the most recent update.",
          "format": "google-datetime"
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time when the request was received."
        },
        "progressPercent": {
          "type": "integer",
          "format": "int32",
          "description": "Approximate percentage processed thus far. Guaranteed to be 100 when fully processed."
        }
      },
      "description": "Annotation progress for a single video.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p3beta1_SpeechRecognitionAlternative": {
      "properties": {
        "transcript": {
          "description": "Transcript text representing the words that the user spoke.",
          "type": "string"
        },
        "words": {
          "description": "Output only. A list of word-specific information for each recognized word. Note: When `enable_speaker_diarization` is set to true, you will see all the words from the beginning of the audio.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_WordInfo"
          },
          "readOnly": true,
          "type": "array"
        },
        "confidence": {
          "format": "float",
          "readOnly": true,
          "type": "number",
          "description": "Output only. The confidence estimate between 0.0 and 1.0. A higher number indicates an estimated greater likelihood that the recognized words are correct. This field is set only for the top alternative. This field is not guaranteed to be accurate and users should not rely on it to be always provided. The default of 0.0 is a sentinel value indicating `confidence` was not set."
        }
      },
      "description": "Alternative hypotheses (a.k.a. n-best list).",
      "id": "GoogleCloudVideointelligenceV1p3beta1_SpeechRecognitionAlternative",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1beta2_ShotChangeDetectionConfig": {
      "type": "object",
      "description": "Config for SHOT_CHANGE_DETECTION.",
      "id": "GoogleCloudVideointelligenceV1beta2_ShotChangeDetectionConfig",
      "properties": {
        "model": {
          "description": "Model to use for shot change detection. Supported values: \"builtin/stable\" (the default if unset) and \"builtin/latest\".",
          "type": "string"
        }
      }
    },
    "GoogleCloudVideointelligenceV1_ObjectTrackingAnnotation": {
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1_ObjectTrackingAnnotation",
      "description": "Annotations corresponding to one tracked object.",
      "properties": {
        "entity": {
          "description": "Entity to specify the object category that this track is labeled as.",
          "$ref": "GoogleCloudVideointelligenceV1_Entity"
        },
        "segment": {
          "description": "Non-streaming batch mode ONLY. Each object track corresponds to one video segment where it appears.",
          "$ref": "GoogleCloudVideointelligenceV1_VideoSegment"
        },
        "confidence": {
          "description": "Object category's labeling confidence of this track.",
          "format": "float",
          "type": "number"
        },
        "frames": {
          "type": "array",
          "description": "Information corresponding to all frames where this object track appears. Non-streaming batch mode: it may be one or multiple ObjectTrackingFrame messages in frames. Streaming mode: it can only be one ObjectTrackingFrame message in frames.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_ObjectTrackingFrame"
          }
        },
        "trackId": {
          "type": "string",
          "description": "Streaming mode ONLY. In streaming mode, we do not know the end time of a tracked object before it is completed. Hence, there is no VideoSegment info returned. Instead, we provide a unique identifiable integer track_id so that the customers can correlate the results of the ongoing ObjectTrackAnnotation of the same track_id over time.",
          "format": "int64"
        },
        "version": {
          "description": "Feature version.",
          "type": "string"
        }
      }
    },
    "GoogleCloudVideointelligenceV1_Entity": {
      "properties": {
        "languageCode": {
          "type": "string",
          "description": "Language code for `description` in BCP-47 format."
        },
        "description": {
          "description": "Textual description, e.g., `Fixed-gear bicycle`.",
          "type": "string"
        },
        "entityId": {
          "type": "string",
          "description": "Opaque entity ID. Some IDs may be available in [Google Knowledge Graph Search API](https://developers.google.com/knowledge-graph/)."
        }
      },
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1_Entity",
      "description": "Detected entity from video analysis."
    },
    "GoogleCloudVideointelligenceV1beta2_DetectedLandmark": {
      "id": "GoogleCloudVideointelligenceV1beta2_DetectedLandmark",
      "properties": {
        "confidence": {
          "format": "float",
          "description": "The confidence score of the detected landmark. Range [0, 1].",
          "type": "number"
        },
        "name": {
          "type": "string",
          "description": "The name of this landmark, for example, left_hand, right_shoulder."
        },
        "point": {
          "$ref": "GoogleCloudVideointelligenceV1beta2_NormalizedVertex",
          "description": "The 2D point of the detected landmark using the normalized image coordindate system. The normalized coordinates have the range from 0 to 1."
        }
      },
      "type": "object",
      "description": "A generic detected landmark represented by name in string format and a 2D location."
    },
    "GoogleCloudVideointelligenceV1p2beta1_VideoSegment": {
      "properties": {
        "startTimeOffset": {
          "format": "google-duration",
          "type": "string",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the start of the segment (inclusive)."
        },
        "endTimeOffset": {
          "description": "Time-offset, relative to the beginning of the video, corresponding to the end of the segment (inclusive).",
          "format": "google-duration",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Video segment.",
      "id": "GoogleCloudVideointelligenceV1p2beta1_VideoSegment"
    },
    "GoogleCloudVideointelligenceV1p3beta1_TextAnnotation": {
      "description": "Annotations related to one detected OCR text snippet. This will contain the corresponding text, confidence value, and frame level information for each detection.",
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p3beta1_TextAnnotation",
      "properties": {
        "version": {
          "type": "string",
          "description": "Feature version."
        },
        "text": {
          "type": "string",
          "description": "The detected text."
        },
        "segments": {
          "description": "All video segments where OCR detected text appears.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_TextSegment"
          }
        }
      }
    },
    "GoogleCloudVideointelligenceV1p1beta1_SpeechRecognitionAlternative": {
      "description": "Alternative hypotheses (a.k.a. n-best list).",
      "properties": {
        "words": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_WordInfo"
          },
          "readOnly": true,
          "description": "Output only. A list of word-specific information for each recognized word. Note: When `enable_speaker_diarization` is set to true, you will see all the words from the beginning of the audio."
        },
        "transcript": {
          "description": "Transcript text representing the words that the user spoke.",
          "type": "string"
        },
        "confidence": {
          "readOnly": true,
          "type": "number",
          "description": "Output only. The confidence estimate between 0.0 and 1.0. A higher number indicates an estimated greater likelihood that the recognized words are correct. This field is set only for the top alternative. This field is not guaranteed to be accurate and users should not rely on it to be always provided. The default of 0.0 is a sentinel value indicating `confidence` was not set.",
          "format": "float"
        }
      },
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p1beta1_SpeechRecognitionAlternative"
    },
    "GoogleCloudVideointelligenceV1p3beta1_StreamingVideoAnnotationResults": {
      "id": "GoogleCloudVideointelligenceV1p3beta1_StreamingVideoAnnotationResults",
      "properties": {
        "objectAnnotations": {
          "type": "array",
          "description": "Object tracking results.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_ObjectTrackingAnnotation"
          }
        },
        "shotAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_VideoSegment"
          },
          "type": "array",
          "description": "Shot annotation results. Each shot is represented as a video segment."
        },
        "labelAnnotations": {
          "type": "array",
          "description": "Label annotation results.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_LabelAnnotation"
          }
        },
        "explicitAnnotation": {
          "description": "Explicit content annotation results.",
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_ExplicitContentAnnotation"
        }
      },
      "type": "object",
      "description": "Streaming annotation results corresponding to a portion of the video that is currently being processed."
    },
    "GoogleCloudVideointelligenceV1beta2_VideoAnnotationProgress": {
      "type": "object",
      "description": "Annotation progress for a single video.",
      "properties": {
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time of the most recent update."
        },
        "segment": {
          "description": "Specifies which segment is being tracked if the request contains more than one segment.",
          "$ref": "GoogleCloudVideointelligenceV1beta2_VideoSegment"
        },
        "inputUri": {
          "type": "string",
          "description": "Video file location in [Cloud Storage](https://cloud.google.com/storage/)."
        },
        "feature": {
          "enumDescriptions": [
            "Unspecified.",
            "Label detection. Detect objects, such as dog or flower.",
            "Shot change detection.",
            "Explicit content detection.",
            "Speech transcription.",
            "OCR text detection and tracking.",
            "Object detection and tracking.",
            "Logo detection, tracking, and recognition."
          ],
          "enum": [
            "FEATURE_UNSPECIFIED",
            "LABEL_DETECTION",
            "SHOT_CHANGE_DETECTION",
            "EXPLICIT_CONTENT_DETECTION",
            "SPEECH_TRANSCRIPTION",
            "TEXT_DETECTION",
            "OBJECT_TRACKING",
            "LOGO_RECOGNITION"
          ],
          "type": "string",
          "description": "Specifies which feature is being tracked if the request contains more than one feature."
        },
        "progressPercent": {
          "description": "Approximate percentage processed thus far. Guaranteed to be 100 when fully processed.",
          "type": "integer",
          "format": "int32"
        },
        "startTime": {
          "description": "Time when the request was received.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudVideointelligenceV1beta2_VideoAnnotationProgress"
    },
    "GoogleCloudVideointelligenceV1beta2_SpeechTranscription": {
      "properties": {
        "languageCode": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The [BCP-47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt) language tag of the language in this result. This language code was detected to have the most likelihood of being spoken in the audio."
        },
        "alternatives": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_SpeechRecognitionAlternative"
          },
          "type": "array",
          "description": "May contain one or more recognition hypotheses (up to the maximum specified in `max_alternatives`). These alternatives are ordered in terms of accuracy, with the top (first) alternative being the most probable, as ranked by the recognizer."
        }
      },
      "id": "GoogleCloudVideointelligenceV1beta2_SpeechTranscription",
      "description": "A speech recognition result corresponding to a portion of the audio.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1beta2_SpeechTranscriptionConfig": {
      "id": "GoogleCloudVideointelligenceV1beta2_SpeechTranscriptionConfig",
      "description": "Config for SPEECH_TRANSCRIPTION.",
      "properties": {
        "speechContexts": {
          "description": "Optional. A means to provide context to assist the speech recognition.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_SpeechContext"
          }
        },
        "diarizationSpeakerCount": {
          "description": "Optional. If set, specifies the estimated number of speakers in the conversation. If not set, defaults to '2'. Ignored unless enable_speaker_diarization is set to true.",
          "type": "integer",
          "format": "int32"
        },
        "enableAutomaticPunctuation": {
          "type": "boolean",
          "description": "Optional. If 'true', adds punctuation to recognition result hypotheses. This feature is only available in select languages. Setting this for requests in other languages has no effect at all. The default 'false' value does not add punctuation to result hypotheses. NOTE: \"This is currently offered as an experimental service, complimentary to all users. In the future this may be exclusively available as a premium feature.\""
        },
        "audioTracks": {
          "type": "array",
          "description": "Optional. For file formats, such as MXF or MKV, supporting multiple audio tracks, specify up to two tracks. Default: track 0.",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        },
        "filterProfanity": {
          "type": "boolean",
          "description": "Optional. If set to `true`, the server will attempt to filter out profanities, replacing all but the initial character in each filtered word with asterisks, e.g. \"f***\". If set to `false` or omitted, profanities won't be filtered out."
        },
        "enableWordConfidence": {
          "type": "boolean",
          "description": "Optional. If `true`, the top result includes a list of words and the confidence for those words. If `false`, no word-level confidence information is returned. The default is `false`."
        },
        "enableSpeakerDiarization": {
          "description": "Optional. If 'true', enables speaker detection for each recognized word in the top alternative of the recognition result using a speaker_tag provided in the WordInfo. Note: When this is true, we send all the words from the beginning of the audio for the top alternative in every consecutive response. This is done in order to improve our speaker tags as our models learn to identify the speakers in the conversation over time.",
          "type": "boolean"
        },
        "maxAlternatives": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Maximum number of recognition hypotheses to be returned. Specifically, the maximum number of `SpeechRecognitionAlternative` messages within each `SpeechTranscription`. The server may return fewer than `max_alternatives`. Valid values are `0`-`30`. A value of `0` or `1` will return a maximum of one. If omitted, will return a maximum of one."
        },
        "languageCode": {
          "type": "string",
          "description": "Required. *Required* The language of the supplied audio as a [BCP-47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt) language tag. Example: \"en-US\". See [Language Support](https://cloud.google.com/speech/docs/languages) for a list of the currently supported language codes."
        }
      },
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1beta2_TextAnnotation": {
      "properties": {
        "version": {
          "type": "string",
          "description": "Feature version."
        },
        "segments": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_TextSegment"
          },
          "type": "array",
          "description": "All video segments where OCR detected text appears."
        },
        "text": {
          "description": "The detected text.",
          "type": "string"
        }
      },
      "id": "GoogleCloudVideointelligenceV1beta2_TextAnnotation",
      "type": "object",
      "description": "Annotations related to one detected OCR text snippet. This will contain the corresponding text, confidence value, and frame level information for each detection."
    },
    "GoogleCloudVideointelligenceV1p2beta1_DetectedAttribute": {
      "id": "GoogleCloudVideointelligenceV1p2beta1_DetectedAttribute",
      "type": "object",
      "properties": {
        "confidence": {
          "format": "float",
          "type": "number",
          "description": "Detected attribute confidence. Range [0, 1]."
        },
        "value": {
          "type": "string",
          "description": "Text value of the detection result. For example, the value for \"HairColor\" can be \"black\", \"blonde\", etc."
        },
        "name": {
          "type": "string",
          "description": "The name of the attribute, for example, glasses, dark_glasses, mouth_open. A full list of supported type names will be provided in the document."
        }
      },
      "description": "A generic detected attribute represented by name in string format."
    },
    "GoogleCloudVideointelligenceV1p3beta1_VideoAnnotationResults": {
      "id": "GoogleCloudVideointelligenceV1p3beta1_VideoAnnotationResults",
      "type": "object",
      "description": "Annotation results for a single video.",
      "properties": {
        "personDetectionAnnotations": {
          "type": "array",
          "description": "Person detection annotations.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_PersonDetectionAnnotation"
          }
        },
        "segmentLabelAnnotations": {
          "type": "array",
          "description": "Topical label annotations on video level or user-specified segment level. There is exactly one element for each unique label.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_LabelAnnotation"
          }
        },
        "segmentPresenceLabelAnnotations": {
          "type": "array",
          "description": "Presence label annotations on video level or user-specified segment level. There is exactly one element for each unique label. Compared to the existing topical `segment_label_annotations`, this field presents more fine-grained, segment-level labels detected in video content and is made available only when the client sets `LabelDetectionConfig.model` to \"builtin/latest\" in the request.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_LabelAnnotation"
          }
        },
        "objectAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_ObjectTrackingAnnotation"
          },
          "description": "Annotations for list of objects detected and tracked in video.",
          "type": "array"
        },
        "logoRecognitionAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_LogoRecognitionAnnotation"
          },
          "type": "array",
          "description": "Annotations for list of logos detected, tracked and recognized in video."
        },
        "inputUri": {
          "description": "Video file location in [Cloud Storage](https://cloud.google.com/storage/).",
          "type": "string"
        },
        "celebrityRecognitionAnnotations": {
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_CelebrityRecognitionAnnotation",
          "description": "Celebrity recognition annotations."
        },
        "speechTranscriptions": {
          "description": "Speech transcription.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_SpeechTranscription"
          }
        },
        "explicitAnnotation": {
          "description": "Explicit content annotation.",
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_ExplicitContentAnnotation"
        },
        "shotAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_VideoSegment"
          },
          "type": "array",
          "description": "Shot annotations. Each shot is represented as a video segment."
        },
        "error": {
          "$ref": "GoogleRpc_Status",
          "description": "If set, indicates an error. Note that for a single `AnnotateVideoRequest` some videos may succeed and some may fail."
        },
        "shotLabelAnnotations": {
          "description": "Topical label annotations on shot level. There is exactly one element for each unique label.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_LabelAnnotation"
          }
        },
        "shotPresenceLabelAnnotations": {
          "description": "Presence label annotations on shot level. There is exactly one element for each unique label. Compared to the existing topical `shot_label_annotations`, this field presents more fine-grained, shot-level labels detected in video content and is made available only when the client sets `LabelDetectionConfig.model` to \"builtin/latest\" in the request.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_LabelAnnotation"
          },
          "type": "array"
        },
        "faceDetectionAnnotations": {
          "description": "Face detection annotations.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_FaceDetectionAnnotation"
          }
        },
        "segment": {
          "description": "Video segment on which the annotation is run.",
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_VideoSegment"
        },
        "textAnnotations": {
          "description": "OCR text detection and tracking. Annotations for list of detected text snippets. Each will have list of frame information associated with it.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_TextAnnotation"
          }
        },
        "frameLabelAnnotations": {
          "type": "array",
          "description": "Label annotations on frame level. There is exactly one element for each unique label.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_LabelAnnotation"
          }
        }
      }
    },
    "GoogleCloudVideointelligenceV1p3beta1_CelebrityTrack": {
      "id": "GoogleCloudVideointelligenceV1p3beta1_CelebrityTrack",
      "description": "The annotation result of a celebrity face track. RecognizedCelebrity field could be empty if the face track does not have any matched celebrities.",
      "type": "object",
      "properties": {
        "faceTrack": {
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_Track",
          "description": "A track of a person's face."
        },
        "celebrities": {
          "type": "array",
          "description": "Top N match of the celebrities for the face in this track.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_RecognizedCelebrity"
          }
        }
      }
    },
    "GoogleCloudVideointelligenceV1p2beta1_NormalizedVertex": {
      "description": "A vertex represents a 2D point in the image. NOTE: the normalized vertex coordinates are relative to the original image and range from 0 to 1.",
      "properties": {
        "x": {
          "description": "X coordinate.",
          "format": "float",
          "type": "number"
        },
        "y": {
          "type": "number",
          "format": "float",
          "description": "Y coordinate."
        }
      },
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p2beta1_NormalizedVertex"
    },
    "GoogleCloudVideointelligenceV1p3beta1_LabelAnnotation": {
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p3beta1_LabelAnnotation",
      "properties": {
        "segments": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_LabelSegment"
          },
          "description": "All video segments where a label was detected."
        },
        "frames": {
          "type": "array",
          "description": "All video frames where a label was detected.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_LabelFrame"
          }
        },
        "categoryEntities": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_Entity"
          },
          "description": "Common categories for the detected entity. For example, when the label is `Terrier`, the category is likely `dog`. And in some cases there might be more than one categories e.g., `Terrier` could also be a `pet`."
        },
        "version": {
          "description": "Feature version.",
          "type": "string"
        },
        "entity": {
          "description": "Detected entity.",
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_Entity"
        }
      },
      "description": "Label annotation."
    },
    "GoogleCloudVideointelligenceV1beta2_SpeechRecognitionAlternative": {
      "id": "GoogleCloudVideointelligenceV1beta2_SpeechRecognitionAlternative",
      "description": "Alternative hypotheses (a.k.a. n-best list).",
      "type": "object",
      "properties": {
        "confidence": {
          "type": "number",
          "description": "Output only. The confidence estimate between 0.0 and 1.0. A higher number indicates an estimated greater likelihood that the recognized words are correct. This field is set only for the top alternative. This field is not guaranteed to be accurate and users should not rely on it to be always provided. The default of 0.0 is a sentinel value indicating `confidence` was not set.",
          "readOnly": true,
          "format": "float"
        },
        "words": {
          "description": "Output only. A list of word-specific information for each recognized word. Note: When `enable_speaker_diarization` is set to true, you will see all the words from the beginning of the audio.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_WordInfo"
          }
        },
        "transcript": {
          "type": "string",
          "description": "Transcript text representing the words that the user spoke."
        }
      }
    },
    "GoogleCloudVideointelligenceV1beta2_ObjectTrackingAnnotation": {
      "description": "Annotations corresponding to one tracked object.",
      "type": "object",
      "properties": {
        "version": {
          "description": "Feature version.",
          "type": "string"
        },
        "confidence": {
          "type": "number",
          "description": "Object category's labeling confidence of this track.",
          "format": "float"
        },
        "trackId": {
          "type": "string",
          "description": "Streaming mode ONLY. In streaming mode, we do not know the end time of a tracked object before it is completed. Hence, there is no VideoSegment info returned. Instead, we provide a unique identifiable integer track_id so that the customers can correlate the results of the ongoing ObjectTrackAnnotation of the same track_id over time.",
          "format": "int64"
        },
        "segment": {
          "description": "Non-streaming batch mode ONLY. Each object track corresponds to one video segment where it appears.",
          "$ref": "GoogleCloudVideointelligenceV1beta2_VideoSegment"
        },
        "frames": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_ObjectTrackingFrame"
          },
          "description": "Information corresponding to all frames where this object track appears. Non-streaming batch mode: it may be one or multiple ObjectTrackingFrame messages in frames. Streaming mode: it can only be one ObjectTrackingFrame message in frames."
        },
        "entity": {
          "$ref": "GoogleCloudVideointelligenceV1beta2_Entity",
          "description": "Entity to specify the object category that this track is labeled as."
        }
      },
      "id": "GoogleCloudVideointelligenceV1beta2_ObjectTrackingAnnotation"
    },
    "GoogleCloudVideointelligenceV1beta2_LabelSegment": {
      "properties": {
        "segment": {
          "$ref": "GoogleCloudVideointelligenceV1beta2_VideoSegment",
          "description": "Video segment where a label was detected."
        },
        "confidence": {
          "type": "number",
          "format": "float",
          "description": "Confidence that the label is accurate. Range: [0, 1]."
        }
      },
      "id": "GoogleCloudVideointelligenceV1beta2_LabelSegment",
      "description": "Video segment level annotation results for label detection.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p1beta1_LogoRecognitionAnnotation": {
      "properties": {
        "segments": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_VideoSegment"
          },
          "description": "All video segments where the recognized logo appears. There might be multiple instances of the same logo class appearing in one VideoSegment.",
          "type": "array"
        },
        "tracks": {
          "type": "array",
          "description": "All logo tracks where the recognized logo appears. Each track corresponds to one logo instance appearing in consecutive frames.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_Track"
          }
        },
        "entity": {
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_Entity",
          "description": "Entity category information to specify the logo class that all the logo tracks within this LogoRecognitionAnnotation are recognized as."
        }
      },
      "id": "GoogleCloudVideointelligenceV1p1beta1_LogoRecognitionAnnotation",
      "description": "Annotation corresponding to one detected, tracked and recognized logo class.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1_NormalizedBoundingBox": {
      "description": "Normalized bounding box. The normalized vertex coordinates are relative to the original image. Range: [0, 1].",
      "properties": {
        "left": {
          "type": "number",
          "description": "Left X coordinate.",
          "format": "float"
        },
        "top": {
          "type": "number",
          "format": "float",
          "description": "Top Y coordinate."
        },
        "right": {
          "description": "Right X coordinate.",
          "type": "number",
          "format": "float"
        },
        "bottom": {
          "format": "float",
          "type": "number",
          "description": "Bottom Y coordinate."
        }
      },
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1_NormalizedBoundingBox"
    },
    "GoogleCloudVideointelligenceV1p2beta1_NormalizedBoundingBox": {
      "description": "Normalized bounding box. The normalized vertex coordinates are relative to the original image. Range: [0, 1].",
      "type": "object",
      "properties": {
        "top": {
          "format": "float",
          "type": "number",
          "description": "Top Y coordinate."
        },
        "left": {
          "format": "float",
          "type": "number",
          "description": "Left X coordinate."
        },
        "right": {
          "format": "float",
          "description": "Right X coordinate.",
          "type": "number"
        },
        "bottom": {
          "description": "Bottom Y coordinate.",
          "type": "number",
          "format": "float"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p2beta1_NormalizedBoundingBox"
    },
    "GoogleCloudVideointelligenceV1p3beta1_WordInfo": {
      "description": "Word-specific information for recognized words. Word information is only included in the response when certain request parameters are set, such as `enable_word_time_offsets`.",
      "type": "object",
      "properties": {
        "startTime": {
          "type": "string",
          "format": "google-duration",
          "description": "Time offset relative to the beginning of the audio, and corresponding to the start of the spoken word. This field is only set if `enable_word_time_offsets=true` and only in the top hypothesis. This is an experimental feature and the accuracy of the time offset can vary."
        },
        "speakerTag": {
          "readOnly": true,
          "description": "Output only. A distinct integer value is assigned for every speaker within the audio. This field specifies which one of those speakers was detected to have spoken this word. Value ranges from 1 up to diarization_speaker_count, and is only set if speaker diarization is enabled.",
          "format": "int32",
          "type": "integer"
        },
        "endTime": {
          "format": "google-duration",
          "type": "string",
          "description": "Time offset relative to the beginning of the audio, and corresponding to the end of the spoken word. This field is only set if `enable_word_time_offsets=true` and only in the top hypothesis. This is an experimental feature and the accuracy of the time offset can vary."
        },
        "confidence": {
          "format": "float",
          "description": "Output only. The confidence estimate between 0.0 and 1.0. A higher number indicates an estimated greater likelihood that the recognized words are correct. This field is set only for the top alternative. This field is not guaranteed to be accurate and users should not rely on it to be always provided. The default of 0.0 is a sentinel value indicating `confidence` was not set.",
          "readOnly": true,
          "type": "number"
        },
        "word": {
          "type": "string",
          "description": "The word corresponding to this set of information."
        }
      },
      "id": "GoogleCloudVideointelligenceV1p3beta1_WordInfo"
    },
    "GoogleCloudVideointelligenceV1_VideoAnnotationResults": {
      "id": "GoogleCloudVideointelligenceV1_VideoAnnotationResults",
      "description": "Annotation results for a single video.",
      "properties": {
        "objectAnnotations": {
          "description": "Annotations for list of objects detected and tracked in video.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_ObjectTrackingAnnotation"
          },
          "type": "array"
        },
        "error": {
          "$ref": "GoogleRpc_Status",
          "description": "If set, indicates an error. Note that for a single `AnnotateVideoRequest` some videos may succeed and some may fail."
        },
        "frameLabelAnnotations": {
          "description": "Label annotations on frame level. There is exactly one element for each unique label.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_LabelAnnotation"
          }
        },
        "shotAnnotations": {
          "description": "Shot annotations. Each shot is represented as a video segment.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_VideoSegment"
          }
        },
        "segmentLabelAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_LabelAnnotation"
          },
          "description": "Topical label annotations on video level or user-specified segment level. There is exactly one element for each unique label.",
          "type": "array"
        },
        "shotLabelAnnotations": {
          "description": "Topical label annotations on shot level. There is exactly one element for each unique label.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_LabelAnnotation"
          }
        },
        "segmentPresenceLabelAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_LabelAnnotation"
          },
          "type": "array",
          "description": "Presence label annotations on video level or user-specified segment level. There is exactly one element for each unique label. Compared to the existing topical `segment_label_annotations`, this field presents more fine-grained, segment-level labels detected in video content and is made available only when the client sets `LabelDetectionConfig.model` to \"builtin/latest\" in the request."
        },
        "segment": {
          "description": "Video segment on which the annotation is run.",
          "$ref": "GoogleCloudVideointelligenceV1_VideoSegment"
        },
        "shotPresenceLabelAnnotations": {
          "type": "array",
          "description": "Presence label annotations on shot level. There is exactly one element for each unique label. Compared to the existing topical `shot_label_annotations`, this field presents more fine-grained, shot-level labels detected in video content and is made available only when the client sets `LabelDetectionConfig.model` to \"builtin/latest\" in the request.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_LabelAnnotation"
          }
        },
        "logoRecognitionAnnotations": {
          "description": "Annotations for list of logos detected, tracked and recognized in video.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_LogoRecognitionAnnotation"
          }
        },
        "explicitAnnotation": {
          "$ref": "GoogleCloudVideointelligenceV1_ExplicitContentAnnotation",
          "description": "Explicit content annotation."
        },
        "speechTranscriptions": {
          "type": "array",
          "description": "Speech transcription.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_SpeechTranscription"
          }
        },
        "textAnnotations": {
          "type": "array",
          "description": "OCR text detection and tracking. Annotations for list of detected text snippets. Each will have list of frame information associated with it.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_TextAnnotation"
          }
        },
        "inputUri": {
          "type": "string",
          "description": "Video file location in [Cloud Storage](https://cloud.google.com/storage/)."
        }
      },
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p3beta1_Celebrity": {
      "type": "object",
      "properties": {
        "name": {
          "description": "The resource name of the celebrity. Have the format `video-intelligence/kg-mid` indicates a celebrity from preloaded gallery. kg-mid is the id in Google knowledge graph, which is unique for the celebrity.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Textual description of additional information about the celebrity, if applicable."
        },
        "displayName": {
          "type": "string",
          "description": "The celebrity name."
        }
      },
      "id": "GoogleCloudVideointelligenceV1p3beta1_Celebrity",
      "description": "Celebrity definition."
    },
    "GoogleCloudVideointelligenceV1_DetectedAttribute": {
      "id": "GoogleCloudVideointelligenceV1_DetectedAttribute",
      "description": "A generic detected attribute represented by name in string format.",
      "properties": {
        "confidence": {
          "type": "number",
          "description": "Detected attribute confidence. Range [0, 1].",
          "format": "float"
        },
        "value": {
          "description": "Text value of the detection result. For example, the value for \"HairColor\" can be \"black\", \"blonde\", etc.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the attribute, for example, glasses, dark_glasses, mouth_open. A full list of supported type names will be provided in the document."
        }
      },
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p2beta1_VideoAnnotationProgress": {
      "type": "object",
      "description": "Annotation progress for a single video.",
      "properties": {
        "progressPercent": {
          "description": "Approximate percentage processed thus far. Guaranteed to be 100 when fully processed.",
          "format": "int32",
          "type": "integer"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time of the most recent update."
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time when the request was received."
        },
        "feature": {
          "description": "Specifies which feature is being tracked if the request contains more than one feature.",
          "enumDescriptions": [
            "Unspecified.",
            "Label detection. Detect objects, such as dog or flower.",
            "Shot change detection.",
            "Explicit content detection.",
            "Speech transcription.",
            "OCR text detection and tracking.",
            "Object detection and tracking.",
            "Logo detection, tracking, and recognition."
          ],
          "type": "string",
          "enum": [
            "FEATURE_UNSPECIFIED",
            "LABEL_DETECTION",
            "SHOT_CHANGE_DETECTION",
            "EXPLICIT_CONTENT_DETECTION",
            "SPEECH_TRANSCRIPTION",
            "TEXT_DETECTION",
            "OBJECT_TRACKING",
            "LOGO_RECOGNITION"
          ]
        },
        "inputUri": {
          "description": "Video file location in [Cloud Storage](https://cloud.google.com/storage/).",
          "type": "string"
        },
        "segment": {
          "$ref": "GoogleCloudVideointelligenceV1p2beta1_VideoSegment",
          "description": "Specifies which segment is being tracked if the request contains more than one segment."
        }
      },
      "id": "GoogleCloudVideointelligenceV1p2beta1_VideoAnnotationProgress"
    },
    "GoogleCloudVideointelligenceV1p2beta1_Entity": {
      "id": "GoogleCloudVideointelligenceV1p2beta1_Entity",
      "type": "object",
      "description": "Detected entity from video analysis.",
      "properties": {
        "languageCode": {
          "description": "Language code for `description` in BCP-47 format.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Textual description, e.g., `Fixed-gear bicycle`."
        },
        "entityId": {
          "description": "Opaque entity ID. Some IDs may be available in [Google Knowledge Graph Search API](https://developers.google.com/knowledge-graph/).",
          "type": "string"
        }
      }
    },
    "GoogleCloudVideointelligenceV1beta2_LabelAnnotation": {
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1beta2_LabelAnnotation",
      "description": "Label annotation.",
      "properties": {
        "entity": {
          "$ref": "GoogleCloudVideointelligenceV1beta2_Entity",
          "description": "Detected entity."
        },
        "frames": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_LabelFrame"
          },
          "description": "All video frames where a label was detected.",
          "type": "array"
        },
        "version": {
          "description": "Feature version.",
          "type": "string"
        },
        "segments": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_LabelSegment"
          },
          "type": "array",
          "description": "All video segments where a label was detected."
        },
        "categoryEntities": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_Entity"
          },
          "type": "array",
          "description": "Common categories for the detected entity. For example, when the label is `Terrier`, the category is likely `dog`. And in some cases there might be more than one categories e.g., `Terrier` could also be a `pet`."
        }
      }
    },
    "GoogleCloudVideointelligenceV1p1beta1_VideoAnnotationProgress": {
      "type": "object",
      "description": "Annotation progress for a single video.",
      "id": "GoogleCloudVideointelligenceV1p1beta1_VideoAnnotationProgress",
      "properties": {
        "inputUri": {
          "description": "Video file location in [Cloud Storage](https://cloud.google.com/storage/).",
          "type": "string"
        },
        "feature": {
          "description": "Specifies which feature is being tracked if the request contains more than one feature.",
          "enum": [
            "FEATURE_UNSPECIFIED",
            "LABEL_DETECTION",
            "SHOT_CHANGE_DETECTION",
            "EXPLICIT_CONTENT_DETECTION",
            "SPEECH_TRANSCRIPTION",
            "TEXT_DETECTION",
            "OBJECT_TRACKING",
            "LOGO_RECOGNITION"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Label detection. Detect objects, such as dog or flower.",
            "Shot change detection.",
            "Explicit content detection.",
            "Speech transcription.",
            "OCR text detection and tracking.",
            "Object detection and tracking.",
            "Logo detection, tracking, and recognition."
          ]
        },
        "updateTime": {
          "description": "Time of the most recent update.",
          "format": "google-datetime",
          "type": "string"
        },
        "startTime": {
          "description": "Time when the request was received.",
          "format": "google-datetime",
          "type": "string"
        },
        "segment": {
          "description": "Specifies which segment is being tracked if the request contains more than one segment.",
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_VideoSegment"
        },
        "progressPercent": {
          "format": "int32",
          "description": "Approximate percentage processed thus far. Guaranteed to be 100 when fully processed.",
          "type": "integer"
        }
      }
    },
    "GoogleCloudVideointelligenceV1beta2_DetectedAttribute": {
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1beta2_DetectedAttribute",
      "description": "A generic detected attribute represented by name in string format.",
      "properties": {
        "confidence": {
          "format": "float",
          "description": "Detected attribute confidence. Range [0, 1].",
          "type": "number"
        },
        "value": {
          "description": "Text value of the detection result. For example, the value for \"HairColor\" can be \"black\", \"blonde\", etc.",
          "type": "string"
        },
        "name": {
          "description": "The name of the attribute, for example, glasses, dark_glasses, mouth_open. A full list of supported type names will be provided in the document.",
          "type": "string"
        }
      }
    },
    "GoogleCloudVideointelligenceV1_TimestampedObject": {
      "type": "object",
      "properties": {
        "timeOffset": {
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this object.",
          "type": "string",
          "format": "google-duration"
        },
        "attributes": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_DetectedAttribute"
          },
          "description": "Optional. The attributes of the object in the bounding box.",
          "type": "array"
        },
        "normalizedBoundingBox": {
          "description": "Normalized Bounding box in a frame, where the object is located.",
          "$ref": "GoogleCloudVideointelligenceV1_NormalizedBoundingBox"
        },
        "landmarks": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_DetectedLandmark"
          },
          "description": "Optional. The detected landmarks."
        }
      },
      "description": "For tracking related features. An object at time_offset with attributes, and located with normalized_bounding_box.",
      "id": "GoogleCloudVideointelligenceV1_TimestampedObject"
    },
    "GoogleCloudVideointelligenceV1p3beta1_NormalizedBoundingBox": {
      "id": "GoogleCloudVideointelligenceV1p3beta1_NormalizedBoundingBox",
      "description": "Normalized bounding box. The normalized vertex coordinates are relative to the original image. Range: [0, 1].",
      "type": "object",
      "properties": {
        "top": {
          "format": "float",
          "description": "Top Y coordinate.",
          "type": "number"
        },
        "left": {
          "type": "number",
          "format": "float",
          "description": "Left X coordinate."
        },
        "bottom": {
          "type": "number",
[...]
