{
  "resources": {
    "videos": {
      "methods": {
        "annotate": {
          "description": "Performs asynchronous video annotation. Progress and results can be retrieved through the `google.longrunning.Operations` interface. `Operation.metadata` contains `AnnotateVideoProgress` (progress). `Operation.response` contains `AnnotateVideoResponse` (results).",
          "path": "v1p1beta1/videos:annotate",
          "httpMethod": "POST",
          "response": {
            "$ref": "GoogleLongrunning_Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [],
          "request": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_AnnotateVideoRequest"
          },
          "parameters": {},
          "flatPath": "v1p1beta1/videos:annotate",
          "id": "videointelligence.videos.annotate"
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "description": "Detects objects, explicit content, and scene changes in videos. It also specifies the region for annotation and transcribes speech to text. Supports both asynchronous API and streaming API.",
  "canonicalName": "Cloud Video Intelligence",
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "mtlsRootUrl": "https://videointelligence.mtls.googleapis.com/",
  "id": "videointelligence:v1p1beta1",
  "batchPath": "batch",
  "parameters": {
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    }
  },
  "fullyEncodeReservedExpansion": true,
  "version": "v1p1beta1",
  "servicePath": "",
  "title": "Cloud Video Intelligence API",
  "revision": "20201002",
  "basePath": "",
  "version_module": true,
  "ownerName": "Google",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "rootUrl": "https://videointelligence.googleapis.com/",
  "protocol": "rest",
  "ownerDomain": "google.com",
  "schemas": {
    "GoogleCloudVideointelligenceV1p3beta1_PersonDetectionAnnotation": {
      "type": "object",
      "properties": {
        "tracks": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_Track"
          },
          "type": "array",
          "description": "The detected tracks of a person."
        },
        "version": {
          "description": "Feature version.",
          "type": "string"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p3beta1_PersonDetectionAnnotation",
      "description": "Person detection annotation per video."
    },
    "GoogleCloudVideointelligenceV1p3beta1_ObjectTrackingAnnotation": {
      "description": "Annotations corresponding to one tracked object.",
      "type": "object",
      "properties": {
        "segment": {
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_VideoSegment",
          "description": "Non-streaming batch mode ONLY. Each object track corresponds to one video segment where it appears."
        },
        "trackId": {
          "format": "int64",
          "description": "Streaming mode ONLY. In streaming mode, we do not know the end time of a tracked object before it is completed. Hence, there is no VideoSegment info returned. Instead, we provide a unique identifiable integer track_id so that the customers can correlate the results of the ongoing ObjectTrackAnnotation of the same track_id over time.",
          "type": "string"
        },
        "confidence": {
          "type": "number",
          "description": "Object category's labeling confidence of this track.",
          "format": "float"
        },
        "frames": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_ObjectTrackingFrame"
          },
          "description": "Information corresponding to all frames where this object track appears. Non-streaming batch mode: it may be one or multiple ObjectTrackingFrame messages in frames. Streaming mode: it can only be one ObjectTrackingFrame message in frames."
        },
        "entity": {
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_Entity",
          "description": "Entity to specify the object category that this track is labeled as."
        },
        "version": {
          "type": "string",
          "description": "Feature version."
        }
      },
      "id": "GoogleCloudVideointelligenceV1p3beta1_ObjectTrackingAnnotation"
    },
    "GoogleCloudVideointelligenceV1p3beta1_VideoAnnotationProgress": {
      "description": "Annotation progress for a single video.",
      "properties": {
        "progressPercent": {
          "type": "integer",
          "format": "int32",
          "description": "Approximate percentage processed thus far. Guaranteed to be 100 when fully processed."
        },
        "updateTime": {
          "description": "Time of the most recent update.",
          "format": "google-datetime",
          "type": "string"
        },
        "inputUri": {
          "description": "Video file location in [Cloud Storage](https://cloud.google.com/storage/).",
          "type": "string"
        },
        "feature": {
          "enumDescriptions": [
            "Unspecified.",
            "Label detection. Detect objects, such as dog or flower.",
            "Shot change detection.",
            "Explicit content detection.",
            "Human face detection.",
            "Speech transcription.",
            "OCR text detection and tracking.",
            "Object detection and tracking.",
            "Logo detection, tracking, and recognition.",
            "Celebrity recognition.",
            "Person detection."
          ],
          "type": "string",
          "description": "Specifies which feature is being tracked if the request contains more than one feature.",
          "enum": [
            "FEATURE_UNSPECIFIED",
            "LABEL_DETECTION",
            "SHOT_CHANGE_DETECTION",
            "EXPLICIT_CONTENT_DETECTION",
            "FACE_DETECTION",
            "SPEECH_TRANSCRIPTION",
            "TEXT_DETECTION",
            "OBJECT_TRACKING",
            "LOGO_RECOGNITION",
            "CELEBRITY_RECOGNITION",
            "PERSON_DETECTION"
          ]
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time when the request was received."
        },
        "segment": {
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_VideoSegment",
          "description": "Specifies which segment is being tracked if the request contains more than one segment."
        }
      },
      "id": "GoogleCloudVideointelligenceV1p3beta1_VideoAnnotationProgress",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p1beta1_VideoContext": {
      "properties": {
        "speechTranscriptionConfig": {
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_SpeechTranscriptionConfig",
          "description": "Config for SPEECH_TRANSCRIPTION."
        },
        "personDetectionConfig": {
          "description": "Config for PERSON_DETECTION.",
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_PersonDetectionConfig"
        },
        "segments": {
          "description": "Video segments to annotate. The segments may overlap and are not required to be contiguous or span the whole video. If unspecified, each video is treated as a single segment.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_VideoSegment"
          },
          "type": "array"
        },
        "faceDetectionConfig": {
          "description": "Config for FACE_DETECTION.",
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_FaceDetectionConfig"
        },
        "objectTrackingConfig": {
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_ObjectTrackingConfig",
          "description": "Config for OBJECT_TRACKING."
        },
        "explicitContentDetectionConfig": {
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_ExplicitContentDetectionConfig",
          "description": "Config for EXPLICIT_CONTENT_DETECTION."
        },
        "textDetectionConfig": {
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_TextDetectionConfig",
          "description": "Config for TEXT_DETECTION."
        },
        "shotChangeDetectionConfig": {
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_ShotChangeDetectionConfig",
          "description": "Config for SHOT_CHANGE_DETECTION."
        },
        "labelDetectionConfig": {
          "description": "Config for LABEL_DETECTION.",
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_LabelDetectionConfig"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p1beta1_VideoContext",
      "description": "Video context and/or feature-specific parameters.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1_TextFrame": {
      "type": "object",
      "description": "Video frame level annotation results for text annotation (OCR). Contains information regarding timestamp and bounding box locations for the frames containing detected OCR text snippets.",
      "id": "GoogleCloudVideointelligenceV1_TextFrame",
      "properties": {
        "rotatedBoundingBox": {
          "description": "Bounding polygon of the detected text for this frame.",
          "$ref": "GoogleCloudVideointelligenceV1_NormalizedBoundingPoly"
        },
        "timeOffset": {
          "description": "Timestamp of this frame.",
          "type": "string",
          "format": "google-duration"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p1beta1_AnnotateVideoRequest": {
      "id": "GoogleCloudVideointelligenceV1p1beta1_AnnotateVideoRequest",
      "properties": {
        "features": {
          "description": "Required. Requested video annotation features.",
          "items": {
            "enumDescriptions": [
              "Unspecified.",
              "Label detection. Detect objects, such as dog or flower.",
              "Shot change detection.",
              "Explicit content detection.",
              "Human face detection.",
              "Speech transcription.",
              "OCR text detection and tracking.",
              "Object detection and tracking.",
              "Logo detection, tracking, and recognition.",
              "Person detection."
            ],
            "enum": [
              "FEATURE_UNSPECIFIED",
              "LABEL_DETECTION",
              "SHOT_CHANGE_DETECTION",
              "EXPLICIT_CONTENT_DETECTION",
              "FACE_DETECTION",
              "SPEECH_TRANSCRIPTION",
              "TEXT_DETECTION",
              "OBJECT_TRACKING",
              "LOGO_RECOGNITION",
              "PERSON_DETECTION"
            ],
            "type": "string"
          },
          "type": "array"
        },
        "outputUri": {
          "description": "Optional. Location where the output (in JSON format) should be stored. Currently, only [Cloud Storage](https://cloud.google.com/storage/) URIs are supported. These must be specified in the following format: `gs://bucket-id/object-id` (other URI formats return google.rpc.Code.INVALID_ARGUMENT). For more information, see [Request URIs](https://cloud.google.com/storage/docs/request-endpoints).",
          "type": "string"
        },
        "inputContent": {
          "description": "The video data bytes. If unset, the input video(s) should be specified via the `input_uri`. If set, `input_uri` must be unset.",
          "format": "byte",
          "type": "string"
        },
        "inputUri": {
          "type": "string",
          "description": "Input video location. Currently, only [Cloud Storage](https://cloud.google.com/storage/) URIs are supported. URIs must be specified in the following format: `gs://bucket-id/object-id` (other URI formats return google.rpc.Code.INVALID_ARGUMENT). For more information, see [Request URIs](https://cloud.google.com/storage/docs/request-endpoints). To identify multiple videos, a video URI may include wildcards in the `object-id`. Supported wildcards: '*' to match 0 or more characters; '?' to match 1 character. If unset, the input video should be embedded in the request as `input_content`. If set, `input_content` must be unset."
        },
        "videoContext": {
          "description": "Additional video context and/or feature-specific parameters.",
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_VideoContext"
        },
        "locationId": {
          "type": "string",
          "description": "Optional. Cloud region where annotation should take place. Supported cloud regions are: `us-east1`, `us-west1`, `europe-west1`, `asia-east1`. If no region is specified, the region will be determined based on video file location."
        }
      },
      "type": "object",
      "description": "Video annotation request."
    },
    "GoogleCloudVideointelligenceV1p1beta1_NormalizedBoundingBox": {
      "type": "object",
      "description": "Normalized bounding box. The normalized vertex coordinates are relative to the original image. Range: [0, 1].",
      "properties": {
        "top": {
          "type": "number",
          "format": "float",
          "description": "Top Y coordinate."
        },
        "left": {
          "format": "float",
          "description": "Left X coordinate.",
          "type": "number"
        },
        "bottom": {
          "description": "Bottom Y coordinate.",
          "format": "float",
          "type": "number"
        },
        "right": {
          "description": "Right X coordinate.",
          "format": "float",
          "type": "number"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p1beta1_NormalizedBoundingBox"
    },
    "GoogleCloudVideointelligenceV1_LogoRecognitionAnnotation": {
      "properties": {
        "tracks": {
          "description": "All logo tracks where the recognized logo appears. Each track corresponds to one logo instance appearing in consecutive frames.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_Track"
          }
        },
        "entity": {
          "description": "Entity category information to specify the logo class that all the logo tracks within this LogoRecognitionAnnotation are recognized as.",
          "$ref": "GoogleCloudVideointelligenceV1_Entity"
        },
        "segments": {
          "description": "All video segments where the recognized logo appears. There might be multiple instances of the same logo class appearing in one VideoSegment.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_VideoSegment"
          },
          "type": "array"
        }
      },
      "description": "Annotation corresponding to one detected, tracked and recognized logo class.",
      "id": "GoogleCloudVideointelligenceV1_LogoRecognitionAnnotation",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p1beta1_FaceAnnotation": {
      "id": "GoogleCloudVideointelligenceV1p1beta1_FaceAnnotation",
      "description": "Deprecated. No effect.",
      "properties": {
        "segments": {
          "type": "array",
          "description": "All video segments where a face was detected.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_FaceSegment"
          }
        },
        "thumbnail": {
          "format": "byte",
          "type": "string",
          "description": "Thumbnail of a representative face view (in JPEG format)."
        },
        "frames": {
          "description": "All video frames where a face was detected.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_FaceFrame"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p1beta1_TextFrame": {
      "id": "GoogleCloudVideointelligenceV1p1beta1_TextFrame",
      "type": "object",
      "description": "Video frame level annotation results for text annotation (OCR). Contains information regarding timestamp and bounding box locations for the frames containing detected OCR text snippets.",
      "properties": {
        "rotatedBoundingBox": {
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_NormalizedBoundingPoly",
          "description": "Bounding polygon of the detected text for this frame."
        },
        "timeOffset": {
          "description": "Timestamp of this frame.",
          "type": "string",
          "format": "google-duration"
        }
      }
    },
    "GoogleRpc_Status": {
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          }
        },
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "GoogleRpc_Status"
    },
    "GoogleCloudVideointelligenceV1p1beta1_DetectedLandmark": {
      "description": "A generic detected landmark represented by name in string format and a 2D location.",
      "properties": {
        "name": {
          "description": "The name of this landmark, for example, left_hand, right_shoulder.",
          "type": "string"
        },
        "point": {
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_NormalizedVertex",
          "description": "The 2D point of the detected landmark using the normalized image coordindate system. The normalized coordinates have the range from 0 to 1."
        },
        "confidence": {
          "description": "The confidence score of the detected landmark. Range [0, 1].",
          "type": "number",
          "format": "float"
        }
      },
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p1beta1_DetectedLandmark"
    },
    "GoogleCloudVideointelligenceV1p3beta1_AnnotateVideoProgress": {
      "properties": {
        "annotationProgress": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_VideoAnnotationProgress"
          },
          "description": "Progress metadata for all videos specified in `AnnotateVideoRequest`.",
          "type": "array"
        }
      },
      "description": "Video annotation progress. Included in the `metadata` field of the `Operation` returned by the `GetOperation` call of the `google::longrunning::Operations` service.",
      "id": "GoogleCloudVideointelligenceV1p3beta1_AnnotateVideoProgress",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p2beta1_PersonDetectionAnnotation": {
      "type": "object",
      "properties": {
        "tracks": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_Track"
          },
          "type": "array",
          "description": "The detected tracks of a person."
        },
        "version": {
          "type": "string",
          "description": "Feature version."
        }
      },
      "description": "Person detection annotation per video.",
      "id": "GoogleCloudVideointelligenceV1p2beta1_PersonDetectionAnnotation"
    },
    "GoogleCloudVideointelligenceV1p3beta1_DetectedLandmark": {
      "id": "GoogleCloudVideointelligenceV1p3beta1_DetectedLandmark",
      "description": "A generic detected landmark represented by name in string format and a 2D location.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of this landmark, for example, left_hand, right_shoulder.",
          "type": "string"
        },
        "point": {
          "description": "The 2D point of the detected landmark using the normalized image coordindate system. The normalized coordinates have the range from 0 to 1.",
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_NormalizedVertex"
        },
        "confidence": {
          "format": "float",
          "description": "The confidence score of the detected landmark. Range [0, 1].",
          "type": "number"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p2beta1_TextSegment": {
      "id": "GoogleCloudVideointelligenceV1p2beta1_TextSegment",
      "description": "Video segment level annotation results for text detection.",
      "type": "object",
      "properties": {
        "segment": {
          "description": "Video segment where a text snippet was detected.",
          "$ref": "GoogleCloudVideointelligenceV1p2beta1_VideoSegment"
        },
        "frames": {
          "description": "Information related to the frames where OCR detected text appears.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_TextFrame"
          }
        },
        "confidence": {
          "description": "Confidence for the track of detected text. It is calculated as the highest over all frames where OCR detected text appears.",
          "format": "float",
          "type": "number"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p1beta1_TextDetectionConfig": {
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p1beta1_TextDetectionConfig",
      "properties": {
        "model": {
          "type": "string",
          "description": "Model to use for text detection. Supported values: \"builtin/stable\" (the default if unset) and \"builtin/latest\"."
        },
        "languageHints": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Language hint can be specified if the language to be detected is known a priori. It can increase the accuracy of the detection. Language hint must be language code in BCP-47 format. Automatic language detection is performed if no hint is provided."
        }
      },
      "description": "Config for TEXT_DETECTION."
    },
    "GoogleCloudVideointelligenceV1p3beta1_LogoRecognitionAnnotation": {
      "description": "Annotation corresponding to one detected, tracked and recognized logo class.",
      "properties": {
        "entity": {
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_Entity",
          "description": "Entity category information to specify the logo class that all the logo tracks within this LogoRecognitionAnnotation are recognized as."
        },
        "segments": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_VideoSegment"
          },
          "description": "All video segments where the recognized logo appears. There might be multiple instances of the same logo class appearing in one VideoSegment."
        },
        "tracks": {
          "description": "All logo tracks where the recognized logo appears. Each track corresponds to one logo instance appearing in consecutive frames.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_Track"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p3beta1_LogoRecognitionAnnotation",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1beta2_VideoSegment": {
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1beta2_VideoSegment",
      "properties": {
        "startTimeOffset": {
          "type": "string",
          "format": "google-duration",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the start of the segment (inclusive)."
        },
        "endTimeOffset": {
          "format": "google-duration",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the end of the segment (inclusive).",
          "type": "string"
        }
      },
      "description": "Video segment."
    },
    "GoogleCloudVideointelligenceV1p2beta1_VideoAnnotationProgress": {
      "description": "Annotation progress for a single video.",
      "properties": {
        "startTime": {
          "description": "Time when the request was received.",
          "type": "string",
          "format": "google-datetime"
        },
        "progressPercent": {
          "description": "Approximate percentage processed thus far. Guaranteed to be 100 when fully processed.",
          "format": "int32",
          "type": "integer"
        },
        "updateTime": {
          "description": "Time of the most recent update.",
          "type": "string",
          "format": "google-datetime"
        },
        "feature": {
          "type": "string",
          "enum": [
            "FEATURE_UNSPECIFIED",
            "LABEL_DETECTION",
            "SHOT_CHANGE_DETECTION",
            "EXPLICIT_CONTENT_DETECTION",
            "FACE_DETECTION",
            "SPEECH_TRANSCRIPTION",
            "TEXT_DETECTION",
            "OBJECT_TRACKING",
            "LOGO_RECOGNITION",
            "PERSON_DETECTION"
          ],
          "description": "Specifies which feature is being tracked if the request contains more than one feature.",
          "enumDescriptions": [
            "Unspecified.",
            "Label detection. Detect objects, such as dog or flower.",
            "Shot change detection.",
            "Explicit content detection.",
            "Human face detection.",
            "Speech transcription.",
            "OCR text detection and tracking.",
            "Object detection and tracking.",
            "Logo detection, tracking, and recognition.",
            "Person detection."
          ]
        },
        "segment": {
          "description": "Specifies which segment is being tracked if the request contains more than one segment.",
          "$ref": "GoogleCloudVideointelligenceV1p2beta1_VideoSegment"
        },
        "inputUri": {
          "type": "string",
          "description": "Video file location in [Cloud Storage](https://cloud.google.com/storage/)."
        }
      },
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p2beta1_VideoAnnotationProgress"
    },
    "GoogleCloudVideointelligenceV1beta2_TimestampedObject": {
      "id": "GoogleCloudVideointelligenceV1beta2_TimestampedObject",
      "type": "object",
      "properties": {
        "landmarks": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_DetectedLandmark"
          },
          "description": "Optional. The detected landmarks."
        },
        "normalizedBoundingBox": {
          "$ref": "GoogleCloudVideointelligenceV1beta2_NormalizedBoundingBox",
          "description": "Normalized Bounding box in a frame, where the object is located."
        },
        "attributes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_DetectedAttribute"
          },
          "description": "Optional. The attributes of the object in the bounding box."
        },
        "timeOffset": {
          "format": "google-duration",
          "type": "string",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this object."
        }
      },
      "description": "For tracking related features. An object at time_offset with attributes, and located with normalized_bounding_box."
    },
    "GoogleCloudVideointelligenceV1_Track": {
      "type": "object",
      "description": "A track of an object instance.",
      "id": "GoogleCloudVideointelligenceV1_Track",
      "properties": {
        "timestampedObjects": {
          "description": "The object with timestamp and attributes per frame in the track.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_TimestampedObject"
          },
          "type": "array"
        },
        "attributes": {
          "type": "array",
          "description": "Optional. Attributes in the track level.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_DetectedAttribute"
          }
        },
        "confidence": {
          "type": "number",
          "description": "Optional. The confidence score of the tracked object.",
          "format": "float"
        },
        "segment": {
          "$ref": "GoogleCloudVideointelligenceV1_VideoSegment",
          "description": "Video segment of a track."
        }
      }
    },
    "GoogleCloudVideointelligenceV1beta2_DetectedAttribute": {
      "description": "A generic detected attribute represented by name in string format.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the attribute, for example, glasses, dark_glasses, mouth_open. A full list of supported type names will be provided in the document."
        },
        "value": {
          "description": "Text value of the detection result. For example, the value for \"HairColor\" can be \"black\", \"blonde\", etc.",
          "type": "string"
        },
        "confidence": {
          "description": "Detected attribute confidence. Range [0, 1].",
          "format": "float",
          "type": "number"
        }
      },
      "id": "GoogleCloudVideointelligenceV1beta2_DetectedAttribute"
    },
    "GoogleCloudVideointelligenceV1_TextAnnotation": {
      "id": "GoogleCloudVideointelligenceV1_TextAnnotation",
      "type": "object",
      "properties": {
        "segments": {
          "description": "All video segments where OCR detected text appears.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_TextSegment"
          },
          "type": "array"
        },
        "version": {
          "description": "Feature version.",
          "type": "string"
        },
        "text": {
          "type": "string",
          "description": "The detected text."
        }
      },
      "description": "Annotations related to one detected OCR text snippet. This will contain the corresponding text, confidence value, and frame level information for each detection."
    },
    "GoogleCloudVideointelligenceV1beta2_FaceSegment": {
      "description": "Video segment level annotation results for face detection.",
      "properties": {
        "segment": {
          "description": "Video segment where a face was detected.",
          "$ref": "GoogleCloudVideointelligenceV1beta2_VideoSegment"
        }
      },
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1beta2_FaceSegment"
    },
    "GoogleCloudVideointelligenceV1p3beta1_AnnotateVideoResponse": {
      "id": "GoogleCloudVideointelligenceV1p3beta1_AnnotateVideoResponse",
      "description": "Video annotation response. Included in the `response` field of the `Operation` returned by the `GetOperation` call of the `google::longrunning::Operations` service.",
      "type": "object",
      "properties": {
        "annotationResults": {
          "description": "Annotation results for all videos specified in `AnnotateVideoRequest`.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_VideoAnnotationResults"
          }
        }
      }
    },
    "GoogleCloudVideointelligenceV1_TimestampedObject": {
      "id": "GoogleCloudVideointelligenceV1_TimestampedObject",
      "properties": {
        "attributes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_DetectedAttribute"
          },
          "description": "Optional. The attributes of the object in the bounding box."
        },
        "landmarks": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_DetectedLandmark"
          },
          "description": "Optional. The detected landmarks.",
          "type": "array"
        },
        "timeOffset": {
          "format": "google-duration",
          "type": "string",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this object."
        },
        "normalizedBoundingBox": {
          "$ref": "GoogleCloudVideointelligenceV1_NormalizedBoundingBox",
          "description": "Normalized Bounding box in a frame, where the object is located."
        }
      },
      "type": "object",
      "description": "For tracking related features. An object at time_offset with attributes, and located with normalized_bounding_box."
    },
    "GoogleCloudVideointelligenceV1p2beta1_ExplicitContentFrame": {
      "id": "GoogleCloudVideointelligenceV1p2beta1_ExplicitContentFrame",
      "description": "Video frame level annotation results for explicit content.",
      "properties": {
        "timeOffset": {
          "type": "string",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this location.",
          "format": "google-duration"
        },
        "pornographyLikelihood": {
          "description": "Likelihood of the pornography content..",
          "type": "string",
          "enumDescriptions": [
            "Unspecified likelihood.",
            "Very unlikely.",
            "Unlikely.",
            "Possible.",
            "Likely.",
            "Very likely."
          ],
          "enum": [
            "LIKELIHOOD_UNSPECIFIED",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p1beta1_DetectedAttribute": {
      "properties": {
        "value": {
          "type": "string",
          "description": "Text value of the detection result. For example, the value for \"HairColor\" can be \"black\", \"blonde\", etc."
        },
        "name": {
          "description": "The name of the attribute, for example, glasses, dark_glasses, mouth_open. A full list of supported type names will be provided in the document.",
          "type": "string"
        },
        "confidence": {
          "format": "float",
          "description": "Detected attribute confidence. Range [0, 1].",
          "type": "number"
        }
      },
      "type": "object",
      "description": "A generic detected attribute represented by name in string format.",
      "id": "GoogleCloudVideointelligenceV1p1beta1_DetectedAttribute"
    },
    "GoogleCloudVideointelligenceV1p3beta1_LabelFrame": {
      "description": "Video frame level annotation results for label detection.",
      "properties": {
        "confidence": {
          "description": "Confidence that the label is accurate. Range: [0, 1].",
          "format": "float",
          "type": "number"
        },
        "timeOffset": {
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this location.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p3beta1_LabelFrame",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1_FaceSegment": {
      "type": "object",
      "description": "Video segment level annotation results for face detection.",
      "properties": {
        "segment": {
          "description": "Video segment where a face was detected.",
          "$ref": "GoogleCloudVideointelligenceV1_VideoSegment"
        }
      },
      "id": "GoogleCloudVideointelligenceV1_FaceSegment"
    },
    "GoogleCloudVideointelligenceV1p1beta1_NormalizedVertex": {
      "id": "GoogleCloudVideointelligenceV1p1beta1_NormalizedVertex",
      "properties": {
        "y": {
          "description": "Y coordinate.",
          "type": "number",
          "format": "float"
        },
        "x": {
          "description": "X coordinate.",
          "type": "number",
          "format": "float"
        }
      },
      "description": "A vertex represents a 2D point in the image. NOTE: the normalized vertex coordinates are relative to the original image and range from 0 to 1.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1beta2_ObjectTrackingFrame": {
      "description": "Video frame level annotations for object detection and tracking. This field stores per frame location, time offset, and confidence.",
      "type": "object",
      "properties": {
        "normalizedBoundingBox": {
          "description": "The normalized bounding box location of this object track for the frame.",
          "$ref": "GoogleCloudVideointelligenceV1beta2_NormalizedBoundingBox"
        },
        "timeOffset": {
          "description": "The timestamp of the frame in microseconds.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "id": "GoogleCloudVideointelligenceV1beta2_ObjectTrackingFrame"
    },
    "GoogleCloudVideointelligenceV1p3beta1_StreamingVideoAnnotationResults": {
      "properties": {
        "labelAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_LabelAnnotation"
          },
          "type": "array",
          "description": "Label annotation results."
        },
        "objectAnnotations": {
          "description": "Object tracking results.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_ObjectTrackingAnnotation"
          },
          "type": "array"
        },
        "frameTimestamp": {
          "format": "google-duration",
          "description": "Timestamp of the processed frame in microseconds.",
          "type": "string"
        },
        "shotAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_VideoSegment"
          },
          "description": "Shot annotation results. Each shot is represented as a video segment.",
          "type": "array"
        },
        "explicitAnnotation": {
          "description": "Explicit content annotation results.",
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_ExplicitContentAnnotation"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p3beta1_StreamingVideoAnnotationResults",
      "description": "Streaming annotation results corresponding to a portion of the video that is currently being processed. Only ONE type of annotation will be specified in the response.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p3beta1_RecognizedCelebrity": {
      "properties": {
        "celebrity": {
          "description": "The recognized celebrity.",
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_Celebrity"
        },
        "confidence": {
          "type": "number",
          "description": "Recognition confidence. Range [0, 1].",
          "format": "float"
        }
      },
      "description": "The recognized celebrity with confidence score.",
      "id": "GoogleCloudVideointelligenceV1p3beta1_RecognizedCelebrity",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1beta2_DetectedLandmark": {
      "description": "A generic detected landmark represented by name in string format and a 2D location.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of this landmark, for example, left_hand, right_shoulder."
        },
        "confidence": {
          "type": "number",
          "description": "The confidence score of the detected landmark. Range [0, 1].",
          "format": "float"
        },
        "point": {
          "description": "The 2D point of the detected landmark using the normalized image coordindate system. The normalized coordinates have the range from 0 to 1.",
          "$ref": "GoogleCloudVideointelligenceV1beta2_NormalizedVertex"
        }
      },
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1beta2_DetectedLandmark"
    },
    "GoogleCloudVideointelligenceV1_DetectedLandmark": {
      "description": "A generic detected landmark represented by name in string format and a 2D location.",
      "id": "GoogleCloudVideointelligenceV1_DetectedLandmark",
      "properties": {
        "confidence": {
          "description": "The confidence score of the detected landmark. Range [0, 1].",
          "format": "float",
          "type": "number"
        },
        "point": {
          "$ref": "GoogleCloudVideointelligenceV1_NormalizedVertex",
          "description": "The 2D point of the detected landmark using the normalized image coordindate system. The normalized coordinates have the range from 0 to 1."
        },
        "name": {
          "description": "The name of this landmark, for example, left_hand, right_shoulder.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p2beta1_FaceSegment": {
      "id": "GoogleCloudVideointelligenceV1p2beta1_FaceSegment",
      "type": "object",
      "properties": {
        "segment": {
          "$ref": "GoogleCloudVideointelligenceV1p2beta1_VideoSegment",
          "description": "Video segment where a face was detected."
        }
      },
      "description": "Video segment level annotation results for face detection."
    },
    "GoogleCloudVideointelligenceV1p1beta1_ExplicitContentAnnotation": {
      "id": "GoogleCloudVideointelligenceV1p1beta1_ExplicitContentAnnotation",
      "description": "Explicit content annotation (based on per-frame visual signals only). If no explicit content has been detected in a frame, no annotations are present for that frame.",
      "properties": {
        "frames": {
          "description": "All video frames where explicit content was detected.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_ExplicitContentFrame"
          }
        },
        "version": {
          "description": "Feature version.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1beta2_NormalizedVertex": {
      "properties": {
        "x": {
          "type": "number",
          "description": "X coordinate.",
          "format": "float"
        },
        "y": {
          "format": "float",
          "type": "number",
          "description": "Y coordinate."
        }
      },
      "id": "GoogleCloudVideointelligenceV1beta2_NormalizedVertex",
      "description": "A vertex represents a 2D point in the image. NOTE: the normalized vertex coordinates are relative to the original image and range from 0 to 1.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p3beta1_VideoSegment": {
      "id": "GoogleCloudVideointelligenceV1p3beta1_VideoSegment",
      "properties": {
        "startTimeOffset": {
          "description": "Time-offset, relative to the beginning of the video, corresponding to the start of the segment (inclusive).",
          "format": "google-duration",
          "type": "string"
        },
        "endTimeOffset": {
          "type": "string",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the end of the segment (inclusive).",
          "format": "google-duration"
        }
      },
      "description": "Video segment.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p1beta1_FaceDetectionAnnotation": {
      "description": "Face detection annotation.",
      "type": "object",
      "properties": {
        "version": {
          "description": "Feature version.",
          "type": "string"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p1beta1_FaceDetectionAnnotation"
    },
    "GoogleCloudVideointelligenceV1p1beta1_NormalizedBoundingPoly": {
      "id": "GoogleCloudVideointelligenceV1p1beta1_NormalizedBoundingPoly",
      "properties": {
        "vertices": {
          "description": "Normalized vertices of the bounding polygon.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_NormalizedVertex"
          }
        }
      },
      "description": "Normalized bounding polygon for text (that might not be aligned with axis). Contains list of the corner points in clockwise order starting from top-left corner. For example, for a rectangular bounding box: When the text is horizontal it might look like: 0----1 | | 3----2 When it's clockwise rotated 180 degrees around the top-left corner it becomes: 2----3 | | 1----0 and the vertex order will still be (0, 1, 2, 3). Note that values can be less than 0, or greater than 1 due to trignometric calculations for location of the box.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p3beta1_ExplicitContentFrame": {
      "id": "GoogleCloudVideointelligenceV1p3beta1_ExplicitContentFrame",
      "properties": {
        "timeOffset": {
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this location.",
          "format": "google-duration",
          "type": "string"
        },
        "pornographyLikelihood": {
          "enum": [
            "LIKELIHOOD_UNSPECIFIED",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "description": "Likelihood of the pornography content..",
          "enumDescriptions": [
            "Unspecified likelihood.",
            "Very unlikely.",
            "Unlikely.",
            "Possible.",
            "Likely.",
            "Very likely."
          ],
          "type": "string"
        }
      },
      "type": "object",
      "description": "Video frame level annotation results for explicit content."
    },
    "GoogleCloudVideointelligenceV1beta2_LabelFrame": {
      "id": "GoogleCloudVideointelligenceV1beta2_LabelFrame",
      "description": "Video frame level annotation results for label detection.",
      "type": "object",
      "properties": {
        "confidence": {
          "description": "Confidence that the label is accurate. Range: [0, 1].",
          "type": "number",
          "format": "float"
        },
        "timeOffset": {
          "format": "google-duration",
          "type": "string",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this location."
        }
      }
    },
    "GoogleCloudVideointelligenceV1p2beta1_LabelAnnotation": {
      "id": "GoogleCloudVideointelligenceV1p2beta1_LabelAnnotation",
      "type": "object",
      "description": "Label annotation.",
      "properties": {
        "entity": {
          "description": "Detected entity.",
          "$ref": "GoogleCloudVideointelligenceV1p2beta1_Entity"
        },
        "segments": {
          "type": "array",
          "description": "All video segments where a label was detected.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_LabelSegment"
          }
        },
        "categoryEntities": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_Entity"
          },
          "description": "Common categories for the detected entity. For example, when the label is `Terrier`, the category is likely `dog`. And in some cases there might be more than one categories e.g., `Terrier` could also be a `pet`.",
          "type": "array"
        },
        "version": {
          "type": "string",
          "description": "Feature version."
        },
        "frames": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_LabelFrame"
          },
          "type": "array",
          "description": "All video frames where a label was detected."
        }
      }
    },
    "GoogleCloudVideointelligenceV1p1beta1_ObjectTrackingFrame": {
      "id": "GoogleCloudVideointelligenceV1p1beta1_ObjectTrackingFrame",
      "description": "Video frame level annotations for object detection and tracking. This field stores per frame location, time offset, and confidence.",
      "type": "object",
      "properties": {
        "timeOffset": {
          "type": "string",
          "description": "The timestamp of the frame in microseconds.",
          "format": "google-duration"
        },
        "normalizedBoundingBox": {
          "description": "The normalized bounding box location of this object track for the frame.",
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_NormalizedBoundingBox"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p1beta1_AnnotateVideoProgress": {
      "description": "Video annotation progress. Included in the `metadata` field of the `Operation` returned by the `GetOperation` call of the `google::longrunning::Operations` service.",
      "properties": {
        "annotationProgress": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_VideoAnnotationProgress"
          },
          "description": "Progress metadata for all videos specified in `AnnotateVideoRequest`.",
          "type": "array"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p1beta1_AnnotateVideoProgress",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1beta2_TextSegment": {
      "properties": {
        "frames": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_TextFrame"
          },
          "description": "Information related to the frames where OCR detected text appears."
        },
        "segment": {
          "description": "Video segment where a text snippet was detected.",
          "$ref": "GoogleCloudVideointelligenceV1beta2_VideoSegment"
        },
        "confidence": {
          "description": "Confidence for the track of detected text. It is calculated as the highest over all frames where OCR detected text appears.",
          "type": "number",
          "format": "float"
        }
      },
      "description": "Video segment level annotation results for text detection.",
      "id": "GoogleCloudVideointelligenceV1beta2_TextSegment",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p2beta1_NormalizedVertex": {
      "id": "GoogleCloudVideointelligenceV1p2beta1_NormalizedVertex",
      "type": "object",
      "properties": {
        "x": {
          "format": "float",
          "description": "X coordinate.",
          "type": "number"
        },
        "y": {
          "type": "number",
          "format": "float",
          "description": "Y coordinate."
        }
      },
      "description": "A vertex represents a 2D point in the image. NOTE: the normalized vertex coordinates are relative to the original image and range from 0 to 1."
    },
    "GoogleCloudVideointelligenceV1_ObjectTrackingAnnotation": {
      "description": "Annotations corresponding to one tracked object.",
      "properties": {
        "entity": {
          "$ref": "GoogleCloudVideointelligenceV1_Entity",
          "description": "Entity to specify the object category that this track is labeled as."
        },
        "segment": {
          "$ref": "GoogleCloudVideointelligenceV1_VideoSegment",
          "description": "Non-streaming batch mode ONLY. Each object track corresponds to one video segment where it appears."
        },
        "frames": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_ObjectTrackingFrame"
          },
          "type": "array",
          "description": "Information corresponding to all frames where this object track appears. Non-streaming batch mode: it may be one or multiple ObjectTrackingFrame messages in frames. Streaming mode: it can only be one ObjectTrackingFrame message in frames."
        },
        "version": {
          "type": "string",
          "description": "Feature version."
        },
        "confidence": {
          "type": "number",
          "description": "Object category's labeling confidence of this track.",
          "format": "float"
        },
        "trackId": {
          "format": "int64",
          "description": "Streaming mode ONLY. In streaming mode, we do not know the end time of a tracked object before it is completed. Hence, there is no VideoSegment info returned. Instead, we provide a unique identifiable integer track_id so that the customers can correlate the results of the ongoing ObjectTrackAnnotation of the same track_id over time.",
          "type": "string"
        }
      },
      "id": "GoogleCloudVideointelligenceV1_ObjectTrackingAnnotation",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1beta2_TextAnnotation": {
      "description": "Annotations related to one detected OCR text snippet. This will contain the corresponding text, confidence value, and frame level information for each detection.",
      "type": "object",
      "properties": {
        "text": {
          "type": "string",
          "description": "The detected text."
        },
        "segments": {
          "description": "All video segments where OCR detected text appears.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_TextSegment"
          },
          "type": "array"
        },
        "version": {
          "description": "Feature version.",
          "type": "string"
        }
      },
      "id": "GoogleCloudVideointelligenceV1beta2_TextAnnotation"
    },
    "GoogleCloudVideointelligenceV1beta2_SpeechRecognitionAlternative": {
      "type": "object",
      "properties": {
        "transcript": {
          "type": "string",
          "description": "Transcript text representing the words that the user spoke."
        },
        "words": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_WordInfo"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. A list of word-specific information for each recognized word. Note: When `enable_speaker_diarization` is set to true, you will see all the words from the beginning of the audio."
        },
        "confidence": {
          "description": "Output only. The confidence estimate between 0.0 and 1.0. A higher number indicates an estimated greater likelihood that the recognized words are correct. This field is set only for the top alternative. This field is not guaranteed to be accurate and users should not rely on it to be always provided. The default of 0.0 is a sentinel value indicating `confidence` was not set.",
          "format": "float",
          "type": "number",
          "readOnly": true
        }
      },
      "id": "GoogleCloudVideointelligenceV1beta2_SpeechRecognitionAlternative",
      "description": "Alternative hypotheses (a.k.a. n-best list)."
    },
    "GoogleCloudVideointelligenceV1p2beta1_FaceFrame": {
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p2beta1_FaceFrame",
      "properties": {
        "normalizedBoundingBoxes": {
          "type": "array",
          "description": "Normalized Bounding boxes in a frame. There can be more than one boxes if the same face is detected in multiple locations within the current frame.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_NormalizedBoundingBox"
          }
        },
        "timeOffset": {
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this location.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "description": "Deprecated. No effect."
    },
    "GoogleCloudVideointelligenceV1p2beta1_Entity": {
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p2beta1_Entity",
      "description": "Detected entity from video analysis.",
      "properties": {
        "entityId": {
          "description": "Opaque entity ID. Some IDs may be available in [Google Knowledge Graph Search API](https://developers.google.com/knowledge-graph/).",
          "type": "string"
        },
        "languageCode": {
          "type": "string",
          "description": "Language code for `description` in BCP-47 format."
        },
        "description": {
          "type": "string",
          "description": "Textual description, e.g., `Fixed-gear bicycle`."
        }
      }
    },
    "GoogleCloudVideointelligenceV1p3beta1_FaceDetectionAnnotation": {
      "description": "Face detection annotation.",
      "properties": {
        "version": {
          "type": "string",
          "description": "Feature version."
        }
      },
      "id": "GoogleCloudVideointelligenceV1p3beta1_FaceDetectionAnnotation",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p1beta1_ShotChangeDetectionConfig": {
      "properties": {
        "model": {
          "type": "string",
          "description": "Model to use for shot change detection. Supported values: \"builtin/stable\" (the default if unset) and \"builtin/latest\"."
        }
      },
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p1beta1_ShotChangeDetectionConfig",
      "description": "Config for SHOT_CHANGE_DETECTION."
    },
    "GoogleCloudVideointelligenceV1p1beta1_FaceSegment": {
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p1beta1_FaceSegment",
      "properties": {
        "segment": {
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_VideoSegment",
          "description": "Video segment where a face was detected."
        }
      },
      "description": "Video segment level annotation results for face detection."
    },
    "GoogleCloudVideointelligenceV1beta2_WordInfo": {
      "id": "GoogleCloudVideointelligenceV1beta2_WordInfo",
      "properties": {
        "confidence": {
          "readOnly": true,
          "description": "Output only. The confidence estimate between 0.0 and 1.0. A higher number indicates an estimated greater likelihood that the recognized words are correct. This field is set only for the top alternative. This field is not guaranteed to be accurate and users should not rely on it to be always provided. The default of 0.0 is a sentinel value indicating `confidence` was not set.",
          "type": "number",
          "format": "float"
        },
        "endTime": {
          "description": "Time offset relative to the beginning of the audio, and corresponding to the end of the spoken word. This field is only set if `enable_word_time_offsets=true` and only in the top hypothesis. This is an experimental feature and the accuracy of the time offset can vary.",
          "format": "google-duration",
          "type": "string"
        },
        "word": {
          "type": "string",
          "description": "The word corresponding to this set of information."
        },
        "speakerTag": {
          "description": "Output only. A distinct integer value is assigned for every speaker within the audio. This field specifies which one of those speakers was detected to have spoken this word. Value ranges from 1 up to diarization_speaker_count, and is only set if speaker diarization is enabled.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "startTime": {
          "type": "string",
          "format": "google-duration",
          "description": "Time offset relative to the beginning of the audio, and corresponding to the start of the spoken word. This field is only set if `enable_word_time_offsets=true` and only in the top hypothesis. This is an experimental feature and the accuracy of the time offset can vary."
        }
      },
      "description": "Word-specific information for recognized words. Word information is only included in the response when certain request parameters are set, such as `enable_word_time_offsets`.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p1beta1_VideoAnnotationProgress": {
      "properties": {
        "inputUri": {
          "type": "string",
          "description": "Video file location in [Cloud Storage](https://cloud.google.com/storage/)."
        },
        "updateTime": {
          "description": "Time of the most recent update.",
          "type": "string",
          "format": "google-datetime"
        },
        "feature": {
          "enumDescriptions": [
            "Unspecified.",
            "Label detection. Detect objects, such as dog or flower.",
            "Shot change detection.",
            "Explicit content detection.",
            "Human face detection.",
            "Speech transcription.",
            "OCR text detection and tracking.",
            "Object detection and tracking.",
            "Logo detection, tracking, and recognition.",
            "Person detection."
          ],
          "type": "string",
          "description": "Specifies which feature is being tracked if the request contains more than one feature.",
          "enum": [
            "FEATURE_UNSPECIFIED",
            "LABEL_DETECTION",
            "SHOT_CHANGE_DETECTION",
            "EXPLICIT_CONTENT_DETECTION",
            "FACE_DETECTION",
            "SPEECH_TRANSCRIPTION",
            "TEXT_DETECTION",
            "OBJECT_TRACKING",
            "LOGO_RECOGNITION",
            "PERSON_DETECTION"
          ]
        },
        "segment": {
          "description": "Specifies which segment is being tracked if the request contains more than one segment.",
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_VideoSegment"
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time when the request was received."
        },
        "progressPercent": {
          "format": "int32",
          "type": "integer",
          "description": "Approximate percentage processed thus far. Guaranteed to be 100 when fully processed."
        }
      },
      "type": "object",
      "description": "Annotation progress for a single video.",
      "id": "GoogleCloudVideointelligenceV1p1beta1_VideoAnnotationProgress"
    },
    "GoogleCloudVideointelligenceV1p1beta1_ExplicitContentFrame": {
      "properties": {
        "pornographyLikelihood": {
          "enumDescriptions": [
            "Unspecified likelihood.",
            "Very unlikely.",
            "Unlikely.",
            "Possible.",
            "Likely.",
            "Very likely."
          ],
          "description": "Likelihood of the pornography content..",
          "type": "string",
          "enum": [
            "LIKELIHOOD_UNSPECIFIED",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ]
        },
        "timeOffset": {
          "type": "string",
          "format": "google-duration",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this location."
        }
      },
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p1beta1_ExplicitContentFrame",
      "description": "Video frame level annotation results for explicit content."
    },
    "GoogleCloudVideointelligenceV1p1beta1_ExplicitContentDetectionConfig": {
      "type": "object",
      "description": "Config for EXPLICIT_CONTENT_DETECTION.",
      "properties": {
        "model": {
          "type": "string",
          "description": "Model to use for explicit content detection. Supported values: \"builtin/stable\" (the default if unset) and \"builtin/latest\"."
        }
      },
      "id": "GoogleCloudVideointelligenceV1p1beta1_ExplicitContentDetectionConfig"
    },
    "GoogleCloudVideointelligenceV1_TextSegment": {
      "type": "object",
      "properties": {
        "confidence": {
          "type": "number",
          "format": "float",
          "description": "Confidence for the track of detected text. It is calculated as the highest over all frames where OCR detected text appears."
        },
        "frames": {
          "description": "Information related to the frames where OCR detected text appears.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_TextFrame"
          },
          "type": "array"
        },
        "segment": {
          "description": "Video segment where a text snippet was detected.",
          "$ref": "GoogleCloudVideointelligenceV1_VideoSegment"
        }
      },
      "id": "GoogleCloudVideointelligenceV1_TextSegment",
      "description": "Video segment level annotation results for text detection."
    },
    "GoogleCloudVideointelligenceV1beta2_AnnotateVideoProgress": {
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1beta2_AnnotateVideoProgress",
      "description": "Video annotation progress. Included in the `metadata` field of the `Operation` returned by the `GetOperation` call of the `google::longrunning::Operations` service.",
      "properties": {
        "annotationProgress": {
          "description": "Progress metadata for all videos specified in `AnnotateVideoRequest`.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_VideoAnnotationProgress"
          },
          "type": "array"
        }
      }
    },
    "GoogleLongrunning_Operation": {
      "properties": {
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "response": {
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "error": {
          "$ref": "GoogleRpc_Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        }
      },
      "id": "GoogleLongrunning_Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1beta2_SpeechTranscription": {
      "description": "A speech recognition result corresponding to a portion of the audio.",
      "id": "GoogleCloudVideointelligenceV1beta2_SpeechTranscription",
      "type": "object",
      "properties": {
        "alternatives": {
          "description": "May contain one or more recognition hypotheses (up to the maximum specified in `max_alternatives`). These alternatives are ordered in terms of accuracy, with the top (first) alternative being the most probable, as ranked by the recognizer.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_SpeechRecognitionAlternative"
          },
          "type": "array"
        },
        "languageCode": {
          "description": "Output only. The [BCP-47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt) language tag of the language in this result. This language code was detected to have the most likelihood of being spoken in the audio.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p2beta1_AnnotateVideoProgress": {
      "description": "Video annotation progress. Included in the `metadata` field of the `Operation` returned by the `GetOperation` call of the `google::longrunning::Operations` service.",
      "properties": {
        "annotationProgress": {
          "type": "array",
          "description": "Progress metadata for all videos specified in `AnnotateVideoRequest`.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_VideoAnnotationProgress"
          }
        }
      },
      "id": "GoogleCloudVideointelligenceV1p2beta1_AnnotateVideoProgress",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p3beta1_SpeechTranscription": {
      "description": "A speech recognition result corresponding to a portion of the audio.",
      "properties": {
        "languageCode": {
          "description": "Output only. The [BCP-47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt) language tag of the language in this result. This language code was detected to have the most likelihood of being spoken in the audio.",
          "type": "string",
          "readOnly": true
        },
        "alternatives": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_SpeechRecognitionAlternative"
          },
          "description": "May contain one or more recognition hypotheses (up to the maximum specified in `max_alternatives`). These alternatives are ordered in terms of accuracy, with the top (first) alternative being the most probable, as ranked by the recognizer.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p3beta1_SpeechTranscription"
    },
    "GoogleCloudVideointelligenceV1beta2_VideoAnnotationProgress": {
      "properties": {
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time of the most recent update."
        },
        "segment": {
          "description": "Specifies which segment is being tracked if the request contains more than one segment.",
          "$ref": "GoogleCloudVideointelligenceV1beta2_VideoSegment"
        },
        "feature": {
          "enum": [
            "FEATURE_UNSPECIFIED",
            "LABEL_DETECTION",
            "SHOT_CHANGE_DETECTION",
            "EXPLICIT_CONTENT_DETECTION",
            "FACE_DETECTION",
            "SPEECH_TRANSCRIPTION",
            "TEXT_DETECTION",
            "OBJECT_TRACKING",
            "LOGO_RECOGNITION",
            "PERSON_DETECTION"
          ],
          "description": "Specifies which feature is being tracked if the request contains more than one feature.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Label detection. Detect objects, such as dog or flower.",
            "Shot change detection.",
            "Explicit content detection.",
            "Human face detection.",
            "Speech transcription.",
            "OCR text detection and tracking.",
            "Object detection and tracking.",
            "Logo detection, tracking, and recognition.",
            "Person detection."
          ]
        },
        "progressPercent": {
          "type": "integer",
          "format": "int32",
          "description": "Approximate percentage processed thus far. Guaranteed to be 100 when fully processed."
        },
        "inputUri": {
          "description": "Video file location in [Cloud Storage](https://cloud.google.com/storage/).",
          "type": "string"
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Time when the request was received.",
          "type": "string"
        }
      },
      "id": "GoogleCloudVideointelligenceV1beta2_VideoAnnotationProgress",
      "type": "object",
      "description": "Annotation progress for a single video."
    },
    "GoogleCloudVideointelligenceV1_NormalizedBoundingBox": {
      "description": "Normalized bounding box. The normalized vertex coordinates are relative to the original image. Range: [0, 1].",
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1_NormalizedBoundingBox",
      "properties": {
        "right": {
          "type": "number",
          "description": "Right X coordinate.",
          "format": "float"
        },
        "bottom": {
          "format": "float",
          "type": "number",
          "description": "Bottom Y coordinate."
        },
        "left": {
          "description": "Left X coordinate.",
          "type": "number",
          "format": "float"
        },
        "top": {
          "type": "number",
          "description": "Top Y coordinate.",
          "format": "float"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p3beta1_DetectedAttribute": {
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p3beta1_DetectedAttribute",
      "properties": {
        "name": {
          "description": "The name of the attribute, for example, glasses, dark_glasses, mouth_open. A full list of supported type names will be provided in the document.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Text value of the detection result. For example, the value for \"HairColor\" can be \"black\", \"blonde\", etc."
        },
        "confidence": {
          "type": "number",
          "description": "Detected attribute confidence. Range [0, 1].",
          "format": "float"
        }
      },
      "description": "A generic detected attribute represented by name in string format."
    },
    "GoogleCloudVideointelligenceV1p1beta1_PersonDetectionAnnotation": {
      "properties": {
        "tracks": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_Track"
          },
          "description": "The detected tracks of a person.",
          "type": "array"
        },
        "version": {
          "description": "Feature version.",
          "type": "string"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p1beta1_PersonDetectionAnnotation",
      "description": "Person detection annotation per video.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p3beta1_ObjectTrackingFrame": {
      "type": "object",
      "description": "Video frame level annotations for object detection and tracking. This field stores per frame location, time offset, and confidence.",
      "properties": {
        "normalizedBoundingBox": {
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_NormalizedBoundingBox",
          "description": "The normalized bounding box location of this object track for the frame."
        },
        "timeOffset": {
          "description": "The timestamp of the frame in microseconds.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p3beta1_ObjectTrackingFrame"
    },
    "GoogleCloudVideointelligenceV1_AnnotateVideoResponse": {
      "id": "GoogleCloudVideointelligenceV1_AnnotateVideoResponse",
      "properties": {
        "annotationResults": {
          "description": "Annotation results for all videos specified in `AnnotateVideoRequest`.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_VideoAnnotationResults"
          }
        }
      },
      "type": "object",
      "description": "Video annotation response. Included in the `response` field of the `Operation` returned by the `GetOperation` call of the `google::longrunning::Operations` service."
    },
    "GoogleCloudVideointelligenceV1p1beta1_TextSegment": {
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p1beta1_TextSegment",
      "properties": {
        "frames": {
          "description": "Information related to the frames where OCR detected text appears.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_TextFrame"
          },
          "type": "array"
        },
        "confidence": {
          "description": "Confidence for the track of detected text. It is calculated as the highest over all frames where OCR detected text appears.",
          "format": "float",
          "type": "number"
        },
        "segment": {
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_VideoSegment",
          "description": "Video segment where a text snippet was detected."
        }
      },
      "description": "Video segment level annotation results for text detection."
    },
    "GoogleCloudVideointelligenceV1p2beta1_FaceAnnotation": {
      "type": "object",
      "description": "Deprecated. No effect.",
      "properties": {
        "segments": {
          "description": "All video segments where a face was detected.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_FaceSegment"
          }
        },
        "thumbnail": {
          "type": "string",
          "description": "Thumbnail of a representative face view (in JPEG format).",
          "format": "byte"
        },
        "frames": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_FaceFrame"
          },
          "description": "All video frames where a face was detected.",
          "type": "array"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p2beta1_FaceAnnotation"
    },
    "GoogleCloudVideointelligenceV1p1beta1_AnnotateVideoResponse": {
      "description": "Video annotation response. Included in the `response` field of the `Operation` returned by the `GetOperation` call of the `google::longrunning::Operations` service.",
      "properties": {
        "annotationResults": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_VideoAnnotationResults"
          },
          "description": "Annotation results for all videos specified in `AnnotateVideoRequest`.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p1beta1_AnnotateVideoResponse"
    },
    "GoogleCloudVideointelligenceV1beta2_Track": {
      "properties": {
        "attributes": {
          "type": "array",
          "description": "Optional. Attributes in the track level.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_DetectedAttribute"
          }
        },
        "segment": {
          "description": "Video segment of a track.",
          "$ref": "GoogleCloudVideointelligenceV1beta2_VideoSegment"
        },
        "confidence": {
          "format": "float",
          "type": "number",
          "description": "Optional. The confidence score of the tracked object."
        },
        "timestampedObjects": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_TimestampedObject"
          },
          "description": "The object with timestamp and attributes per frame in the track."
        }
      },
      "id": "GoogleCloudVideointelligenceV1beta2_Track",
      "type": "object",
      "description": "A track of an object instance."
    },
    "GoogleCloudVideointelligenceV1p3beta1_TextAnnotation": {
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p3beta1_TextAnnotation",
      "description": "Annotations related to one detected OCR text snippet. This will contain the corresponding text, confidence value, and frame level information for each detection.",
      "properties": {
        "segments": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_TextSegment"
          },
          "description": "All video segments where OCR detected text appears."
        },
        "version": {
          "description": "Feature version.",
          "type": "string"
        },
        "text": {
          "type": "string",
          "description": "The detected text."
        }
      }
    },
    "GoogleCloudVideointelligenceV1p3beta1_NormalizedBoundingBox": {
      "type": "object",
      "description": "Normalized bounding box. The normalized vertex coordinates are relative to the original image. Range: [0, 1].",
      "properties": {
        "left": {
          "description": "Left X coordinate.",
          "format": "float",
          "type": "number"
        },
        "right": {
          "type": "number",
          "format": "float",
          "description": "Right X coordinate."
        },
        "top": {
          "type": "number",
          "description": "Top Y coordinate.",
          "format": "float"
        },
        "bottom": {
          "format": "float",
          "description": "Bottom Y coordinate.",
          "type": "number"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p3beta1_NormalizedBoundingBox"
    },
    "GoogleCloudVideointelligenceV1p1beta1_PersonDetectionConfig": {
      "type": "object",
      "properties": {
        "includeAttributes": {
          "type": "boolean",
          "description": "Whether to enable person attributes detection, such as cloth color (black, blue, etc), type (coat, dress, etc), pattern (plain, floral, etc), hair, etc. Ignored if 'include_bounding_boxes' is set to false."
        },
        "includeBoundingBoxes": {
          "type": "boolean",
          "description": "Whether bounding boxes are included in the person detection annotation output."
        },
        "includePoseLandmarks": {
          "description": "Whether to enable pose landmarks detection. Ignored if 'include_bounding_boxes' is set to false.",
          "type": "boolean"
        }
      },
      "description": "Config for PERSON_DETECTION.",
      "id": "GoogleCloudVideointelligenceV1p1beta1_PersonDetectionConfig"
    },
    "GoogleCloudVideointelligenceV1beta2_FaceAnnotation": {
      "properties": {
        "frames": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_FaceFrame"
          },
          "description": "All video frames where a face was detected.",
          "type": "array"
        },
        "thumbnail": {
          "description": "Thumbnail of a representative face view (in JPEG format).",
          "format": "byte",
          "type": "string"
        },
        "segments": {
          "description": "All video segments where a face was detected.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_FaceSegment"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudVideointelligenceV1beta2_FaceAnnotation",
      "type": "object",
      "description": "Deprecated. No effect."
    },
    "GoogleCloudVideointelligenceV1beta2_ObjectTrackingAnnotation": {
      "description": "Annotations corresponding to one tracked object.",
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1beta2_ObjectTrackingAnnotation",
      "properties": {
        "confidence": {
          "type": "number",
          "description": "Object category's labeling confidence of this track.",
          "format": "float"
        },
        "segment": {
          "$ref": "GoogleCloudVideointelligenceV1beta2_VideoSegment",
          "description": "Non-streaming batch mode ONLY. Each object track corresponds to one video segment where it appears."
        },
        "version": {
          "type": "string",
          "description": "Feature version."
        },
        "trackId": {
          "description": "Streaming mode ONLY. In streaming mode, we do not know the end time of a tracked object before it is completed. Hence, there is no VideoSegment info returned. Instead, we provide a unique identifiable integer track_id so that the customers can correlate the results of the ongoing ObjectTrackAnnotation of the same track_id over time.",
          "format": "int64",
          "type": "string"
        },
        "frames": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_ObjectTrackingFrame"
          },
          "description": "Information corresponding to all frames where this object track appears. Non-streaming batch mode: it may be one or multiple ObjectTrackingFrame messages in frames. Streaming mode: it can only be one ObjectTrackingFrame message in frames."
        },
        "entity": {
          "description": "Entity to specify the object category that this track is labeled as.",
          "$ref": "GoogleCloudVideointelligenceV1beta2_Entity"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p1beta1_TextAnnotation": {
      "properties": {
        "segments": {
          "type": "array",
          "description": "All video segments where OCR detected text appears.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_TextSegment"
          }
        },
        "text": {
          "type": "string",
          "description": "The detected text."
        },
        "version": {
          "type": "string",
          "description": "Feature version."
        }
      },
      "description": "Annotations related to one detected OCR text snippet. This will contain the corresponding text, confidence value, and frame level information for each detection.",
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p1beta1_TextAnnotation"
    },
    "GoogleCloudVideointelligenceV1_VideoAnnotationProgress": {
      "properties": {
        "startTime": {
          "description": "Time when the request was received.",
          "type": "string",
          "format": "google-datetime"
        },
        "progressPercent": {
          "format": "int32",
          "type": "integer",
          "description": "Approximate percentage processed thus far. Guaranteed to be 100 when fully processed."
        },
        "segment": {
          "$ref": "GoogleCloudVideointelligenceV1_VideoSegment",
          "description": "Specifies which segment is being tracked if the request contains more than one segment."
        },
        "feature": {
          "type": "string",
          "description": "Specifies which feature is being tracked if the request contains more than one feature.",
          "enumDescriptions": [
            "Unspecified.",
            "Label detection. Detect objects, such as dog or flower.",
            "Shot change detection.",
            "Explicit content detection.",
            "Human face detection.",
            "Speech transcription.",
            "OCR text detection and tracking.",
            "Object detection and tracking.",
            "Logo detection, tracking, and recognition.",
            "Person detection."
          ],
          "enum": [
            "FEATURE_UNSPECIFIED",
            "LABEL_DETECTION",
            "SHOT_CHANGE_DETECTION",
            "EXPLICIT_CONTENT_DETECTION",
            "FACE_DETECTION",
            "SPEECH_TRANSCRIPTION",
            "TEXT_DETECTION",
            "OBJECT_TRACKING",
            "LOGO_RECOGNITION",
            "PERSON_DETECTION"
          ]
        },
        "inputUri": {
          "type": "string",
          "description": "Video file location in [Cloud Storage](https://cloud.google.com/storage/)."
        },
        "updateTime": {
          "description": "Time of the most recent update.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "description": "Annotation progress for a single video.",
      "id": "GoogleCloudVideointelligenceV1_VideoAnnotationProgress"
    },
    "GoogleCloudVideointelligenceV1_FaceAnnotation": {
      "type": "object",
      "properties": {
        "frames": {
          "description": "All video frames where a face was detected.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_FaceFrame"
          },
          "type": "array"
        },
        "segments": {
          "description": "All video segments where a face was detected.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_FaceSegment"
          },
          "type": "array"
        },
        "thumbnail": {
          "description": "Thumbnail of a representative face view (in JPEG format).",
          "type": "string",
          "format": "byte"
        }
      },
      "id": "GoogleCloudVideointelligenceV1_FaceAnnotation",
      "description": "Deprecated. No effect."
    },
    "GoogleCloudVideointelligenceV1p3beta1_Track": {
      "id": "GoogleCloudVideointelligenceV1p3beta1_Track",
      "properties": {
        "attributes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_DetectedAttribute"
          },
          "description": "Optional. Attributes in the track level."
        },
        "confidence": {
          "format": "float",
          "description": "Optional. The confidence score of the tracked object.",
          "type": "number"
        },
        "timestampedObjects": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_TimestampedObject"
          },
          "description": "The object with timestamp and attributes per frame in the track."
        },
        "segment": {
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_VideoSegment",
          "description": "Video segment of a track."
        }
      },
      "type": "object",
      "description": "A track of an object instance."
    },
    "GoogleCloudVideointelligenceV1_SpeechRecognitionAlternative": {
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1_SpeechRecognitionAlternative",
      "description": "Alternative hypotheses (a.k.a. n-best list).",
      "properties": {
        "transcript": {
          "type": "string",
          "description": "Transcript text representing the words that the user spoke."
        },
        "confidence": {
          "type": "number",
          "readOnly": true,
          "format": "float",
          "description": "Output only. The confidence estimate between 0.0 and 1.0. A higher number indicates an estimated greater likelihood that the recognized words are correct. This field is set only for the top alternative. This field is not guaranteed to be accurate and users should not rely on it to be always provided. The default of 0.0 is a sentinel value indicating `confidence` was not set."
        },
        "words": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_WordInfo"
          },
          "description": "Output only. A list of word-specific information for each recognized word. Note: When `enable_speaker_diarization` is set to true, you will see all the words from the beginning of the audio.",
          "type": "array",
          "readOnly": true
        }
      }
    },
    "GoogleCloudVideointelligenceV1_FaceFrame": {
      "description": "Deprecated. No effect.",
      "type": "object",
      "properties": {
        "timeOffset": {
          "format": "google-duration",
          "type": "string",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this location."
        },
        "normalizedBoundingBoxes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_NormalizedBoundingBox"
          },
          "description": "Normalized Bounding boxes in a frame. There can be more than one boxes if the same face is detected in multiple locations within the current frame."
        }
      },
      "id": "GoogleCloudVideointelligenceV1_FaceFrame"
    },
    "GoogleCloudVideointelligenceV1p3beta1_ExplicitContentAnnotation": {
      "type": "object",
      "description": "Explicit content annotation (based on per-frame visual signals only). If no explicit content has been detected in a frame, no annotations are present for that frame.",
      "id": "GoogleCloudVideointelligenceV1p3beta1_ExplicitContentAnnotation",
      "properties": {
        "version": {
          "description": "Feature version.",
          "type": "string"
        },
        "frames": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_ExplicitContentFrame"
          },
          "description": "All video frames where explicit content was detected."
        }
      }
    },
    "GoogleCloudVideointelligenceV1p2beta1_FaceDetectionAnnotation": {
      "type": "object",
      "properties": {
        "version": {
          "description": "Feature version.",
          "type": "string"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p2beta1_FaceDetectionAnnotation",
      "description": "Face detection annotation."
    },
    "GoogleCloudVideointelligenceV1p3beta1_Celebrity": {
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p3beta1_Celebrity",
      "properties": {
        "name": {
          "description": "The resource name of the celebrity. Have the format `video-intelligence/kg-mid` indicates a celebrity from preloaded gallery. kg-mid is the id in Google knowledge graph, which is unique for the celebrity.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The celebrity name."
        },
        "description": {
          "type": "string",
          "description": "Textual description of additional information about the celebrity, if applicable."
        }
      },
      "description": "Celebrity definition."
    },
    "GoogleCloudVideointelligenceV1p3beta1_SpeechRecognitionAlternative": {
      "id": "GoogleCloudVideointelligenceV1p3beta1_SpeechRecognitionAlternative",
      "description": "Alternative hypotheses (a.k.a. n-best list).",
      "properties": {
        "transcript": {
          "description": "Transcript text representing the words that the user spoke.",
          "type": "string"
        },
        "words": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_WordInfo"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. A list of word-specific information for each recognized word. Note: When `enable_speaker_diarization` is set to true, you will see all the words from the beginning of the audio."
        },
        "confidence": {
          "readOnly": true,
          "format": "float",
          "description": "Output only. The confidence estimate between 0.0 and 1.0. A higher number indicates an estimated greater likelihood that the recognized words are correct. This field is set only for the top alternative. This field is not guaranteed to be accurate and users should not rely on it to be always provided. The default of 0.0 is a sentinel value indicating `confidence` was not set.",
          "type": "number"
        }
      },
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1_Entity": {
      "id": "GoogleCloudVideointelligenceV1_Entity",
      "type": "object",
      "properties": {
        "description": {
          "description": "Textual description, e.g., `Fixed-gear bicycle`.",
          "type": "string"
        },
        "entityId": {
          "description": "Opaque entity ID. Some IDs may be available in [Google Knowledge Graph Search API](https://developers.google.com/knowledge-graph/).",
          "type": "string"
        },
        "languageCode": {
          "description": "Language code for `description` in BCP-47 format.",
          "type": "string"
        }
      },
      "description": "Detected entity from video analysis."
    },
    "GoogleCloudVideointelligenceV1_DetectedAttribute": {
      "type": "object",
      "description": "A generic detected attribute represented by name in string format.",
      "id": "GoogleCloudVideointelligenceV1_DetectedAttribute",
      "properties": {
        "confidence": {
          "type": "number",
[...]
