{
  "rootUrl": "https://videointelligence.googleapis.com/",
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "documentationLink": "https://cloud.google.com/video-intelligence/docs/",
  "resources": {
    "operations": {
      "resources": {
        "projects": {
          "resources": {
            "locations": {
              "resources": {
                "operations": {
                  "methods": {
                    "cancel": {
                      "response": {
                        "$ref": "GoogleProtobuf_Empty"
                      },
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "The name of the operation resource to be cancelled."
                        }
                      },
                      "flatPath": "v1/operations/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                      "path": "v1/operations/{+name}:cancel",
                      "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "videointelligence.operations.projects.locations.operations.cancel",
                      "httpMethod": "POST"
                    },
                    "delete": {
                      "httpMethod": "DELETE",
                      "parameters": {
                        "name": {
                          "description": "The name of the operation resource to be deleted.",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                          "location": "path"
                        }
                      },
                      "flatPath": "v1/operations/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                      "response": {
                        "$ref": "GoogleProtobuf_Empty"
                      },
                      "path": "v1/operations/{+name}",
                      "id": "videointelligence.operations.projects.locations.operations.delete"
                    },
                    "get": {
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "The name of the operation resource.",
                          "type": "string"
                        }
                      },
                      "flatPath": "v1/operations/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                      "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "videointelligence.operations.projects.locations.operations.get",
                      "response": {
                        "$ref": "GoogleLongrunning_Operation"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/operations/{+name}",
                      "httpMethod": "GET"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "videos": {
      "methods": {
        "annotate": {
          "flatPath": "v1/videos:annotate",
          "request": {
            "$ref": "GoogleCloudVideointelligenceV1_AnnotateVideoRequest"
          },
          "description": "Performs asynchronous video annotation. Progress and results can be retrieved through the `google.longrunning.Operations` interface. `Operation.metadata` contains `AnnotateVideoProgress` (progress). `Operation.response` contains `AnnotateVideoResponse` (results).",
          "parameterOrder": [],
          "httpMethod": "POST",
          "path": "v1/videos:annotate",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {},
          "response": {
            "$ref": "GoogleLongrunning_Operation"
          },
          "id": "videointelligence.videos.annotate"
        }
      }
    },
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "corpora": {
              "resources": {
                "operations": {
                  "methods": {
                    "get": {
                      "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                      "httpMethod": "GET",
                      "path": "v1/{+name}",
                      "id": "videointelligence.projects.locations.corpora.operations.get",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/corpora/{corporaId}/operations/{operationsId}",
                      "parameters": {
                        "name": {
                          "required": true,
                          "location": "path",
                          "description": "The name of the operation resource.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/corpora/[^/]+/operations/[^/]+$",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunning_Operation"
                      }
                    }
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "list": {
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`. NOTE: the `name` binding allows API services to override the binding to use different resource name schemes, such as `users/*/operations`. To override the binding, API services can add a binding such as `\"/v1/{name=users/*}/operations\"` to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}/operations",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "pageToken": {
                      "description": "The standard list page token.",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "description": "The name of the operation's parent resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The standard list page size.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    }
                  },
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleLongrunning_ListOperationsResponse"
                  },
                  "id": "videointelligence.projects.locations.operations.list"
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The name of the operation resource to be deleted.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleProtobuf_Empty"
                  },
                  "id": "videointelligence.projects.locations.operations.delete",
                  "httpMethod": "DELETE",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`."
                },
                "get": {
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "response": {
                    "$ref": "GoogleLongrunning_Operation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "videointelligence.projects.locations.operations.get",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "description": "The name of the operation resource.",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET"
                },
                "cancel": {
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleLongrunning_CancelOperationRequest"
                  },
                  "path": "v1/{+name}:cancel",
                  "response": {
                    "$ref": "GoogleProtobuf_Empty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be cancelled."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "videointelligence.projects.locations.operations.cancel"
                }
              }
            },
            "corpura": {
              "resources": {
                "operations": {
                  "methods": {
                    "get": {
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/corpura/[^/]+/operations/[^/]+$",
                          "description": "The name of the operation resource."
                        }
                      },
                      "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/corpura/{corpuraId}/operations/{operationsId}",
                      "response": {
                        "$ref": "GoogleLongrunning_Operation"
                      },
                      "path": "v1/{+name}",
                      "id": "videointelligence.projects.locations.corpura.operations.get"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "ownerName": "Google",
  "version": "v1",
  "description": "Detects objects, explicit content, and scene changes in videos. It also specifies the region for annotation and transcribes speech to text. Supports both asynchronous API and streaming API.",
  "name": "videointelligence",
  "ownerDomain": "google.com",
  "baseUrl": "https://videointelligence.googleapis.com/",
  "canonicalName": "Cloud Video Intelligence",
  "parameters": {
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "alt": {
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    }
  },
  "title": "Cloud Video Intelligence API",
  "basePath": "",
  "batchPath": "batch",
  "revision": "20200921",
  "mtlsRootUrl": "https://videointelligence.mtls.googleapis.com/",
  "servicePath": "",
  "id": "videointelligence:v1",
  "schemas": {
    "GoogleCloudVideointelligenceV1beta2_VideoAnnotationResults": {
      "id": "GoogleCloudVideointelligenceV1beta2_VideoAnnotationResults",
      "type": "object",
      "properties": {
        "logoRecognitionAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_LogoRecognitionAnnotation"
          },
          "type": "array",
          "description": "Annotations for list of logos detected, tracked and recognized in video."
        },
        "inputUri": {
          "description": "Video file location in [Cloud Storage](https://cloud.google.com/storage/).",
          "type": "string"
        },
        "speechTranscriptions": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_SpeechTranscription"
          },
          "description": "Speech transcription.",
          "type": "array"
        },
        "error": {
          "description": "If set, indicates an error. Note that for a single `AnnotateVideoRequest` some videos may succeed and some may fail.",
          "$ref": "GoogleRpc_Status"
        },
        "frameLabelAnnotations": {
          "type": "array",
          "description": "Label annotations on frame level. There is exactly one element for each unique label.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_LabelAnnotation"
          }
        },
        "personDetectionAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_PersonDetectionAnnotation"
          },
          "type": "array",
          "description": "Person detection annotations."
        },
        "segmentLabelAnnotations": {
          "type": "array",
          "description": "Topical label annotations on video level or user-specified segment level. There is exactly one element for each unique label.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_LabelAnnotation"
          }
        },
        "textAnnotations": {
          "description": "OCR text detection and tracking. Annotations for list of detected text snippets. Each will have list of frame information associated with it.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_TextAnnotation"
          }
        },
        "explicitAnnotation": {
          "description": "Explicit content annotation.",
          "$ref": "GoogleCloudVideointelligenceV1beta2_ExplicitContentAnnotation"
        },
        "faceDetectionAnnotations": {
          "description": "Face detection annotations.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_FaceDetectionAnnotation"
          }
        },
        "objectAnnotations": {
          "description": "Annotations for list of objects detected and tracked in video.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_ObjectTrackingAnnotation"
          }
        },
        "shotAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_VideoSegment"
          },
          "description": "Shot annotations. Each shot is represented as a video segment.",
          "type": "array"
        },
        "segmentPresenceLabelAnnotations": {
          "description": "Presence label annotations on video level or user-specified segment level. There is exactly one element for each unique label. Compared to the existing topical `segment_label_annotations`, this field presents more fine-grained, segment-level labels detected in video content and is made available only when the client sets `LabelDetectionConfig.model` to \"builtin/latest\" in the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_LabelAnnotation"
          }
        },
        "shotLabelAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_LabelAnnotation"
          },
          "description": "Topical label annotations on shot level. There is exactly one element for each unique label.",
          "type": "array"
        },
        "shotPresenceLabelAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_LabelAnnotation"
          },
          "type": "array",
          "description": "Presence label annotations on shot level. There is exactly one element for each unique label. Compared to the existing topical `shot_label_annotations`, this field presents more fine-grained, shot-level labels detected in video content and is made available only when the client sets `LabelDetectionConfig.model` to \"builtin/latest\" in the request."
        },
        "segment": {
          "$ref": "GoogleCloudVideointelligenceV1beta2_VideoSegment",
          "description": "Video segment on which the annotation is run."
        }
      },
      "description": "Annotation results for a single video."
    },
    "GoogleCloudVideointelligenceV1p1beta1_NormalizedBoundingBox": {
      "type": "object",
      "description": "Normalized bounding box. The normalized vertex coordinates are relative to the original image. Range: [0, 1].",
      "properties": {
        "top": {
          "format": "float",
          "type": "number",
          "description": "Top Y coordinate."
        },
        "right": {
          "description": "Right X coordinate.",
          "type": "number",
          "format": "float"
        },
        "bottom": {
          "description": "Bottom Y coordinate.",
          "type": "number",
          "format": "float"
        },
        "left": {
          "format": "float",
          "type": "number",
          "description": "Left X coordinate."
        }
      },
      "id": "GoogleCloudVideointelligenceV1p1beta1_NormalizedBoundingBox"
    },
    "GoogleCloudVideointelligenceV1p1beta1_VideoAnnotationProgress": {
      "id": "GoogleCloudVideointelligenceV1p1beta1_VideoAnnotationProgress",
      "type": "object",
      "properties": {
        "progressPercent": {
          "description": "Approximate percentage processed thus far. Guaranteed to be 100 when fully processed.",
          "type": "integer",
          "format": "int32"
        },
        "segment": {
          "description": "Specifies which segment is being tracked if the request contains more than one segment.",
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_VideoSegment"
        },
        "feature": {
          "type": "string",
          "enum": [
            "FEATURE_UNSPECIFIED",
            "LABEL_DETECTION",
            "SHOT_CHANGE_DETECTION",
            "EXPLICIT_CONTENT_DETECTION",
            "FACE_DETECTION",
            "SPEECH_TRANSCRIPTION",
            "TEXT_DETECTION",
            "OBJECT_TRACKING",
            "LOGO_RECOGNITION",
            "PERSON_DETECTION"
          ],
          "description": "Specifies which feature is being tracked if the request contains more than one feature.",
          "enumDescriptions": [
            "Unspecified.",
            "Label detection. Detect objects, such as dog or flower.",
            "Shot change detection.",
            "Explicit content detection.",
            "Human face detection.",
            "Speech transcription.",
            "OCR text detection and tracking.",
            "Object detection and tracking.",
            "Logo detection, tracking, and recognition.",
            "Person detection."
          ]
        },
        "startTime": {
          "description": "Time when the request was received.",
          "format": "google-datetime",
          "type": "string"
        },
        "inputUri": {
          "description": "Video file location in [Cloud Storage](https://cloud.google.com/storage/).",
          "type": "string"
        },
        "updateTime": {
          "description": "Time of the most recent update.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Annotation progress for a single video."
    },
    "GoogleCloudVideointelligenceV1beta2_AnnotateVideoResponse": {
      "description": "Video annotation response. Included in the `response` field of the `Operation` returned by the `GetOperation` call of the `google::longrunning::Operations` service.",
      "properties": {
        "annotationResults": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_VideoAnnotationResults"
          },
          "description": "Annotation results for all videos specified in `AnnotateVideoRequest`.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1beta2_AnnotateVideoResponse"
    },
    "GoogleCloudVideointelligenceV1p3beta1_TextAnnotation": {
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p3beta1_TextAnnotation",
      "description": "Annotations related to one detected OCR text snippet. This will contain the corresponding text, confidence value, and frame level information for each detection.",
      "properties": {
        "version": {
          "type": "string",
          "description": "Feature version."
        },
        "segments": {
          "description": "All video segments where OCR detected text appears.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_TextSegment"
          }
        },
        "text": {
          "type": "string",
          "description": "The detected text."
        }
      }
    },
    "GoogleCloudVideointelligenceV1beta2_Entity": {
      "properties": {
        "description": {
          "description": "Textual description, e.g., `Fixed-gear bicycle`.",
          "type": "string"
        },
        "languageCode": {
          "type": "string",
          "description": "Language code for `description` in BCP-47 format."
        },
        "entityId": {
          "description": "Opaque entity ID. Some IDs may be available in [Google Knowledge Graph Search API](https://developers.google.com/knowledge-graph/).",
          "type": "string"
        }
      },
      "description": "Detected entity from video analysis.",
      "id": "GoogleCloudVideointelligenceV1beta2_Entity",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p3beta1_LabelFrame": {
      "type": "object",
      "properties": {
        "confidence": {
          "description": "Confidence that the label is accurate. Range: [0, 1].",
          "format": "float",
          "type": "number"
        },
        "timeOffset": {
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this location.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p3beta1_LabelFrame",
      "description": "Video frame level annotation results for label detection."
    },
    "GoogleCloudVideointelligenceV1p3beta1_ObjectTrackingFrame": {
      "properties": {
        "normalizedBoundingBox": {
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_NormalizedBoundingBox",
          "description": "The normalized bounding box location of this object track for the frame."
        },
        "timeOffset": {
          "format": "google-duration",
          "description": "The timestamp of the frame in microseconds.",
          "type": "string"
        }
      },
      "description": "Video frame level annotations for object detection and tracking. This field stores per frame location, time offset, and confidence.",
      "id": "GoogleCloudVideointelligenceV1p3beta1_ObjectTrackingFrame",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p3beta1_PersonDetectionAnnotation": {
      "description": "Person detection annotation per video.",
      "id": "GoogleCloudVideointelligenceV1p3beta1_PersonDetectionAnnotation",
      "properties": {
        "version": {
          "description": "Feature version.",
          "type": "string"
        },
        "tracks": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_Track"
          },
          "type": "array",
          "description": "The detected tracks of a person."
        }
      },
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p1beta1_ExplicitContentFrame": {
      "description": "Video frame level annotation results for explicit content.",
      "properties": {
        "pornographyLikelihood": {
          "enum": [
            "LIKELIHOOD_UNSPECIFIED",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "description": "Likelihood of the pornography content..",
          "enumDescriptions": [
            "Unspecified likelihood.",
            "Very unlikely.",
            "Unlikely.",
            "Possible.",
            "Likely.",
            "Very likely."
          ],
          "type": "string"
        },
        "timeOffset": {
          "format": "google-duration",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this location.",
          "type": "string"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p1beta1_ExplicitContentFrame",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1_PersonDetectionConfig": {
      "type": "object",
      "description": "Config for PERSON_DETECTION.",
      "properties": {
        "includePoseLandmarks": {
          "type": "boolean",
          "description": "Whether to enable pose landmarks detection. Ignored if 'include_bounding_boxes' is set to false."
        },
        "includeAttributes": {
          "description": "Whether to enable person attributes detection, such as cloth color (black, blue, etc), type (coat, dress, etc), pattern (plain, floral, etc), hair, etc. Ignored if 'include_bounding_boxes' is set to false.",
          "type": "boolean"
        },
        "includeBoundingBoxes": {
          "description": "Whether bounding boxes are included in the person detection annotation output.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudVideointelligenceV1_PersonDetectionConfig"
    },
    "GoogleCloudVideointelligenceV1_TextAnnotation": {
      "description": "Annotations related to one detected OCR text snippet. This will contain the corresponding text, confidence value, and frame level information for each detection.",
      "properties": {
        "segments": {
          "type": "array",
          "description": "All video segments where OCR detected text appears.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_TextSegment"
          }
        },
        "text": {
          "type": "string",
          "description": "The detected text."
        },
        "version": {
          "type": "string",
          "description": "Feature version."
        }
      },
      "id": "GoogleCloudVideointelligenceV1_TextAnnotation",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1_VideoContext": {
      "properties": {
        "shotChangeDetectionConfig": {
          "$ref": "GoogleCloudVideointelligenceV1_ShotChangeDetectionConfig",
          "description": "Config for SHOT_CHANGE_DETECTION."
        },
        "personDetectionConfig": {
          "$ref": "GoogleCloudVideointelligenceV1_PersonDetectionConfig",
          "description": "Config for PERSON_DETECTION."
        },
        "explicitContentDetectionConfig": {
          "$ref": "GoogleCloudVideointelligenceV1_ExplicitContentDetectionConfig",
          "description": "Config for EXPLICIT_CONTENT_DETECTION."
        },
        "speechTranscriptionConfig": {
          "$ref": "GoogleCloudVideointelligenceV1_SpeechTranscriptionConfig",
          "description": "Config for SPEECH_TRANSCRIPTION."
        },
        "faceDetectionConfig": {
          "description": "Config for FACE_DETECTION.",
          "$ref": "GoogleCloudVideointelligenceV1_FaceDetectionConfig"
        },
        "segments": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_VideoSegment"
          },
          "description": "Video segments to annotate. The segments may overlap and are not required to be contiguous or span the whole video. If unspecified, each video is treated as a single segment."
        },
        "objectTrackingConfig": {
          "description": "Config for OBJECT_TRACKING.",
          "$ref": "GoogleCloudVideointelligenceV1_ObjectTrackingConfig"
        },
        "labelDetectionConfig": {
          "description": "Config for LABEL_DETECTION.",
          "$ref": "GoogleCloudVideointelligenceV1_LabelDetectionConfig"
        },
        "textDetectionConfig": {
          "description": "Config for TEXT_DETECTION.",
          "$ref": "GoogleCloudVideointelligenceV1_TextDetectionConfig"
        }
      },
      "description": "Video context and/or feature-specific parameters.",
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1_VideoContext"
    },
    "GoogleCloudVideointelligenceV1p2beta1_ObjectTrackingAnnotation": {
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p2beta1_ObjectTrackingAnnotation",
      "description": "Annotations corresponding to one tracked object.",
      "properties": {
        "segment": {
          "description": "Non-streaming batch mode ONLY. Each object track corresponds to one video segment where it appears.",
          "$ref": "GoogleCloudVideointelligenceV1p2beta1_VideoSegment"
        },
        "version": {
          "description": "Feature version.",
          "type": "string"
        },
        "trackId": {
          "format": "int64",
          "description": "Streaming mode ONLY. In streaming mode, we do not know the end time of a tracked object before it is completed. Hence, there is no VideoSegment info returned. Instead, we provide a unique identifiable integer track_id so that the customers can correlate the results of the ongoing ObjectTrackAnnotation of the same track_id over time.",
          "type": "string"
        },
        "confidence": {
          "format": "float",
          "type": "number",
          "description": "Object category's labeling confidence of this track."
        },
        "entity": {
          "$ref": "GoogleCloudVideointelligenceV1p2beta1_Entity",
          "description": "Entity to specify the object category that this track is labeled as."
        },
        "frames": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_ObjectTrackingFrame"
          },
          "type": "array",
          "description": "Information corresponding to all frames where this object track appears. Non-streaming batch mode: it may be one or multiple ObjectTrackingFrame messages in frames. Streaming mode: it can only be one ObjectTrackingFrame message in frames."
        }
      }
    },
    "GoogleCloudVideointelligenceV1p2beta1_ExplicitContentAnnotation": {
      "id": "GoogleCloudVideointelligenceV1p2beta1_ExplicitContentAnnotation",
      "type": "object",
      "description": "Explicit content annotation (based on per-frame visual signals only). If no explicit content has been detected in a frame, no annotations are present for that frame.",
      "properties": {
        "frames": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_ExplicitContentFrame"
          },
          "description": "All video frames where explicit content was detected.",
          "type": "array"
        },
        "version": {
          "description": "Feature version.",
          "type": "string"
        }
      }
    },
    "GoogleCloudVideointelligenceV1_DetectedAttribute": {
      "id": "GoogleCloudVideointelligenceV1_DetectedAttribute",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the attribute, for example, glasses, dark_glasses, mouth_open. A full list of supported type names will be provided in the document."
        },
        "confidence": {
          "description": "Detected attribute confidence. Range [0, 1].",
          "format": "float",
          "type": "number"
        },
        "value": {
          "description": "Text value of the detection result. For example, the value for \"HairColor\" can be \"black\", \"blonde\", etc.",
          "type": "string"
        }
      },
      "description": "A generic detected attribute represented by name in string format."
    },
    "GoogleCloudVideointelligenceV1p1beta1_Track": {
      "properties": {
        "segment": {
          "description": "Video segment of a track.",
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_VideoSegment"
        },
        "attributes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_DetectedAttribute"
          },
          "description": "Optional. Attributes in the track level."
        },
        "confidence": {
          "type": "number",
          "format": "float",
          "description": "Optional. The confidence score of the tracked object."
        },
        "timestampedObjects": {
          "type": "array",
          "description": "The object with timestamp and attributes per frame in the track.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_TimestampedObject"
          }
        }
      },
      "id": "GoogleCloudVideointelligenceV1p1beta1_Track",
      "description": "A track of an object instance.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1beta2_ExplicitContentFrame": {
      "id": "GoogleCloudVideointelligenceV1beta2_ExplicitContentFrame",
      "properties": {
        "pornographyLikelihood": {
          "enum": [
            "LIKELIHOOD_UNSPECIFIED",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified likelihood.",
            "Very unlikely.",
            "Unlikely.",
            "Possible.",
            "Likely.",
            "Very likely."
          ],
          "description": "Likelihood of the pornography content.."
        },
        "timeOffset": {
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this location.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "type": "object",
      "description": "Video frame level annotation results for explicit content."
    },
    "GoogleProtobuf_Empty": {
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "id": "GoogleProtobuf_Empty"
    },
    "GoogleCloudVideointelligenceV1p2beta1_ExplicitContentFrame": {
      "id": "GoogleCloudVideointelligenceV1p2beta1_ExplicitContentFrame",
      "properties": {
        "timeOffset": {
          "type": "string",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this location.",
          "format": "google-duration"
        },
        "pornographyLikelihood": {
          "enumDescriptions": [
            "Unspecified likelihood.",
            "Very unlikely.",
            "Unlikely.",
            "Possible.",
            "Likely.",
            "Very likely."
          ],
          "description": "Likelihood of the pornography content..",
          "type": "string",
          "enum": [
            "LIKELIHOOD_UNSPECIFIED",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ]
        }
      },
      "description": "Video frame level annotation results for explicit content.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p3beta1_StreamingVideoAnnotationResults": {
      "properties": {
        "shotAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_VideoSegment"
          },
          "description": "Shot annotation results. Each shot is represented as a video segment.",
          "type": "array"
        },
        "objectAnnotations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_ObjectTrackingAnnotation"
          },
          "description": "Object tracking results."
        },
        "explicitAnnotation": {
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_ExplicitContentAnnotation",
          "description": "Explicit content annotation results."
        },
        "labelAnnotations": {
          "description": "Label annotation results.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_LabelAnnotation"
          }
        }
      },
      "id": "GoogleCloudVideointelligenceV1p3beta1_StreamingVideoAnnotationResults",
      "type": "object",
      "description": "Streaming annotation results corresponding to a portion of the video that is currently being processed."
    },
    "GoogleCloudVideointelligenceV1p2beta1_NormalizedVertex": {
      "id": "GoogleCloudVideointelligenceV1p2beta1_NormalizedVertex",
      "properties": {
        "x": {
          "description": "X coordinate.",
          "format": "float",
          "type": "number"
        },
        "y": {
          "description": "Y coordinate.",
          "type": "number",
          "format": "float"
        }
      },
      "type": "object",
      "description": "A vertex represents a 2D point in the image. NOTE: the normalized vertex coordinates are relative to the original image and range from 0 to 1."
    },
    "GoogleCloudVideointelligenceV1_ExplicitContentFrame": {
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1_ExplicitContentFrame",
      "properties": {
        "pornographyLikelihood": {
          "enum": [
            "LIKELIHOOD_UNSPECIFIED",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "description": "Likelihood of the pornography content..",
          "type": "string",
          "enumDescriptions": [
            "Unspecified likelihood.",
            "Very unlikely.",
            "Unlikely.",
            "Possible.",
            "Likely.",
            "Very likely."
          ]
        },
        "timeOffset": {
          "format": "google-duration",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this location.",
          "type": "string"
        }
      },
      "description": "Video frame level annotation results for explicit content."
    },
    "GoogleCloudVideointelligenceV1p2beta1_AnnotateVideoProgress": {
      "id": "GoogleCloudVideointelligenceV1p2beta1_AnnotateVideoProgress",
      "type": "object",
      "description": "Video annotation progress. Included in the `metadata` field of the `Operation` returned by the `GetOperation` call of the `google::longrunning::Operations` service.",
      "properties": {
        "annotationProgress": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_VideoAnnotationProgress"
          },
          "type": "array",
          "description": "Progress metadata for all videos specified in `AnnotateVideoRequest`."
        }
      }
    },
    "GoogleCloudVideointelligenceV1p2beta1_ObjectTrackingFrame": {
      "type": "object",
      "description": "Video frame level annotations for object detection and tracking. This field stores per frame location, time offset, and confidence.",
      "properties": {
        "normalizedBoundingBox": {
          "$ref": "GoogleCloudVideointelligenceV1p2beta1_NormalizedBoundingBox",
          "description": "The normalized bounding box location of this object track for the frame."
        },
        "timeOffset": {
          "type": "string",
          "format": "google-duration",
          "description": "The timestamp of the frame in microseconds."
        }
      },
      "id": "GoogleCloudVideointelligenceV1p2beta1_ObjectTrackingFrame"
    },
    "GoogleCloudVideointelligenceV1_TextDetectionConfig": {
      "description": "Config for TEXT_DETECTION.",
      "type": "object",
      "properties": {
        "languageHints": {
          "description": "Language hint can be specified if the language to be detected is known a priori. It can increase the accuracy of the detection. Language hint must be language code in BCP-47 format. Automatic language detection is performed if no hint is provided.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "model": {
          "description": "Model to use for text detection. Supported values: \"builtin/stable\" (the default if unset) and \"builtin/latest\".",
          "type": "string"
        }
      },
      "id": "GoogleCloudVideointelligenceV1_TextDetectionConfig"
    },
    "GoogleCloudVideointelligenceV1p1beta1_TextFrame": {
      "id": "GoogleCloudVideointelligenceV1p1beta1_TextFrame",
      "description": "Video frame level annotation results for text annotation (OCR). Contains information regarding timestamp and bounding box locations for the frames containing detected OCR text snippets.",
      "type": "object",
      "properties": {
        "timeOffset": {
          "type": "string",
          "format": "google-duration",
          "description": "Timestamp of this frame."
        },
        "rotatedBoundingBox": {
          "description": "Bounding polygon of the detected text for this frame.",
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_NormalizedBoundingPoly"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p3beta1_TextSegment": {
      "properties": {
        "frames": {
          "description": "Information related to the frames where OCR detected text appears.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_TextFrame"
          },
          "type": "array"
        },
        "confidence": {
          "format": "float",
          "description": "Confidence for the track of detected text. It is calculated as the highest over all frames where OCR detected text appears.",
          "type": "number"
        },
        "segment": {
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_VideoSegment",
          "description": "Video segment where a text snippet was detected."
        }
      },
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p3beta1_TextSegment",
      "description": "Video segment level annotation results for text detection."
    },
    "GoogleCloudVideointelligenceV1_WordInfo": {
      "id": "GoogleCloudVideointelligenceV1_WordInfo",
      "properties": {
        "confidence": {
          "readOnly": true,
          "description": "Output only. The confidence estimate between 0.0 and 1.0. A higher number indicates an estimated greater likelihood that the recognized words are correct. This field is set only for the top alternative. This field is not guaranteed to be accurate and users should not rely on it to be always provided. The default of 0.0 is a sentinel value indicating `confidence` was not set.",
          "type": "number",
          "format": "float"
        },
        "speakerTag": {
          "description": "Output only. A distinct integer value is assigned for every speaker within the audio. This field specifies which one of those speakers was detected to have spoken this word. Value ranges from 1 up to diarization_speaker_count, and is only set if speaker diarization is enabled.",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        },
        "word": {
          "description": "The word corresponding to this set of information.",
          "type": "string"
        },
        "endTime": {
          "description": "Time offset relative to the beginning of the audio, and corresponding to the end of the spoken word. This field is only set if `enable_word_time_offsets=true` and only in the top hypothesis. This is an experimental feature and the accuracy of the time offset can vary.",
          "type": "string",
          "format": "google-duration"
        },
        "startTime": {
          "format": "google-duration",
          "description": "Time offset relative to the beginning of the audio, and corresponding to the start of the spoken word. This field is only set if `enable_word_time_offsets=true` and only in the top hypothesis. This is an experimental feature and the accuracy of the time offset can vary.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Word-specific information for recognized words. Word information is only included in the response when certain request parameters are set, such as `enable_word_time_offsets`."
    },
    "GoogleCloudVideointelligenceV1beta2_ObjectTrackingAnnotation": {
      "properties": {
        "confidence": {
          "format": "float",
          "description": "Object category's labeling confidence of this track.",
          "type": "number"
        },
        "version": {
          "description": "Feature version.",
          "type": "string"
        },
        "entity": {
          "$ref": "GoogleCloudVideointelligenceV1beta2_Entity",
          "description": "Entity to specify the object category that this track is labeled as."
        },
        "segment": {
          "$ref": "GoogleCloudVideointelligenceV1beta2_VideoSegment",
          "description": "Non-streaming batch mode ONLY. Each object track corresponds to one video segment where it appears."
        },
        "trackId": {
          "format": "int64",
          "type": "string",
          "description": "Streaming mode ONLY. In streaming mode, we do not know the end time of a tracked object before it is completed. Hence, there is no VideoSegment info returned. Instead, we provide a unique identifiable integer track_id so that the customers can correlate the results of the ongoing ObjectTrackAnnotation of the same track_id over time."
        },
        "frames": {
          "description": "Information corresponding to all frames where this object track appears. Non-streaming batch mode: it may be one or multiple ObjectTrackingFrame messages in frames. Streaming mode: it can only be one ObjectTrackingFrame message in frames.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_ObjectTrackingFrame"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudVideointelligenceV1beta2_ObjectTrackingAnnotation",
      "description": "Annotations corresponding to one tracked object.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1_ExplicitContentDetectionConfig": {
      "properties": {
        "model": {
          "type": "string",
          "description": "Model to use for explicit content detection. Supported values: \"builtin/stable\" (the default if unset) and \"builtin/latest\"."
        }
      },
      "id": "GoogleCloudVideointelligenceV1_ExplicitContentDetectionConfig",
      "type": "object",
      "description": "Config for EXPLICIT_CONTENT_DETECTION."
    },
    "GoogleCloudVideointelligenceV1p3beta1_RecognizedCelebrity": {
      "description": "The recognized celebrity with confidence score.",
      "properties": {
        "confidence": {
          "type": "number",
          "format": "float",
          "description": "Recognition confidence. Range [0, 1]."
        },
        "celebrity": {
          "description": "The recognized celebrity.",
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_Celebrity"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p3beta1_RecognizedCelebrity",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p3beta1_TextFrame": {
      "properties": {
        "timeOffset": {
          "type": "string",
          "description": "Timestamp of this frame.",
          "format": "google-duration"
        },
        "rotatedBoundingBox": {
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_NormalizedBoundingPoly",
          "description": "Bounding polygon of the detected text for this frame."
        }
      },
      "type": "object",
      "description": "Video frame level annotation results for text annotation (OCR). Contains information regarding timestamp and bounding box locations for the frames containing detected OCR text snippets.",
      "id": "GoogleCloudVideointelligenceV1p3beta1_TextFrame"
    },
    "GoogleCloudVideointelligenceV1p3beta1_AnnotateVideoProgress": {
      "properties": {
        "annotationProgress": {
          "description": "Progress metadata for all videos specified in `AnnotateVideoRequest`.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_VideoAnnotationProgress"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Video annotation progress. Included in the `metadata` field of the `Operation` returned by the `GetOperation` call of the `google::longrunning::Operations` service.",
      "id": "GoogleCloudVideointelligenceV1p3beta1_AnnotateVideoProgress"
    },
    "GoogleCloudVideointelligenceV1p3beta1_LabelSegment": {
      "properties": {
        "segment": {
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_VideoSegment",
          "description": "Video segment where a label was detected."
        },
        "confidence": {
          "description": "Confidence that the label is accurate. Range: [0, 1].",
          "format": "float",
          "type": "number"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p3beta1_LabelSegment",
      "description": "Video segment level annotation results for label detection.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p3beta1_StreamingAnnotateVideoResponse": {
      "id": "GoogleCloudVideointelligenceV1p3beta1_StreamingAnnotateVideoResponse",
      "description": "`StreamingAnnotateVideoResponse` is the only message returned to the client by `StreamingAnnotateVideo`. A series of zero or more `StreamingAnnotateVideoResponse` messages are streamed back to the client.",
      "type": "object",
      "properties": {
        "annotationResults": {
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_StreamingVideoAnnotationResults",
          "description": "Streaming annotation results."
        },
        "error": {
          "$ref": "GoogleRpc_Status",
          "description": "If set, returns a google.rpc.Status message that specifies the error for the operation."
        },
        "annotationResultsUri": {
          "description": "Google Cloud Storage URI that stores annotation results of one streaming session in JSON format. It is the annotation_result_storage_directory from the request followed by '/cloud_project_number-session_id'.",
          "type": "string"
        }
      }
    },
    "GoogleCloudVideointelligenceV1beta2_NormalizedBoundingPoly": {
      "type": "object",
      "properties": {
        "vertices": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_NormalizedVertex"
          },
          "description": "Normalized vertices of the bounding polygon."
        }
      },
      "description": "Normalized bounding polygon for text (that might not be aligned with axis). Contains list of the corner points in clockwise order starting from top-left corner. For example, for a rectangular bounding box: When the text is horizontal it might look like: 0----1 | | 3----2 When it's clockwise rotated 180 degrees around the top-left corner it becomes: 2----3 | | 1----0 and the vertex order will still be (0, 1, 2, 3). Note that values can be less than 0, or greater than 1 due to trignometric calculations for location of the box.",
      "id": "GoogleCloudVideointelligenceV1beta2_NormalizedBoundingPoly"
    },
    "GoogleCloudVideointelligenceV1p2beta1_LabelSegment": {
      "properties": {
        "confidence": {
          "description": "Confidence that the label is accurate. Range: [0, 1].",
          "type": "number",
          "format": "float"
        },
        "segment": {
          "$ref": "GoogleCloudVideointelligenceV1p2beta1_VideoSegment",
          "description": "Video segment where a label was detected."
        }
      },
      "description": "Video segment level annotation results for label detection.",
      "id": "GoogleCloudVideointelligenceV1p2beta1_LabelSegment",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1beta2_LabelAnnotation": {
      "description": "Label annotation.",
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1beta2_LabelAnnotation",
      "properties": {
        "segments": {
          "description": "All video segments where a label was detected.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_LabelSegment"
          }
        },
        "categoryEntities": {
          "description": "Common categories for the detected entity. For example, when the label is `Terrier`, the category is likely `dog`. And in some cases there might be more than one categories e.g., `Terrier` could also be a `pet`.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_Entity"
          }
        },
        "frames": {
          "description": "All video frames where a label was detected.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_LabelFrame"
          }
        },
        "version": {
          "description": "Feature version.",
          "type": "string"
        },
        "entity": {
          "$ref": "GoogleCloudVideointelligenceV1beta2_Entity",
          "description": "Detected entity."
        }
      }
    },
    "GoogleCloudVideointelligenceV1p3beta1_VideoAnnotationProgress": {
      "properties": {
        "progressPercent": {
          "format": "int32",
          "type": "integer",
          "description": "Approximate percentage processed thus far. Guaranteed to be 100 when fully processed."
        },
        "startTime": {
          "description": "Time when the request was received.",
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Time of the most recent update.",
          "type": "string"
        },
        "inputUri": {
          "type": "string",
          "description": "Video file location in [Cloud Storage](https://cloud.google.com/storage/)."
        },
        "segment": {
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_VideoSegment",
          "description": "Specifies which segment is being tracked if the request contains more than one segment."
        },
        "feature": {
          "type": "string",
          "description": "Specifies which feature is being tracked if the request contains more than one feature.",
          "enumDescriptions": [
            "Unspecified.",
            "Label detection. Detect objects, such as dog or flower.",
            "Shot change detection.",
            "Explicit content detection.",
            "Human face detection.",
            "Speech transcription.",
            "OCR text detection and tracking.",
            "Object detection and tracking.",
            "Logo detection, tracking, and recognition.",
            "Celebrity recognition.",
            "Person detection."
          ],
          "enum": [
            "FEATURE_UNSPECIFIED",
            "LABEL_DETECTION",
            "SHOT_CHANGE_DETECTION",
            "EXPLICIT_CONTENT_DETECTION",
            "FACE_DETECTION",
            "SPEECH_TRANSCRIPTION",
            "TEXT_DETECTION",
            "OBJECT_TRACKING",
            "LOGO_RECOGNITION",
            "CELEBRITY_RECOGNITION",
            "PERSON_DETECTION"
          ]
        }
      },
      "description": "Annotation progress for a single video.",
      "id": "GoogleCloudVideointelligenceV1p3beta1_VideoAnnotationProgress",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p2beta1_FaceDetectionAnnotation": {
      "id": "GoogleCloudVideointelligenceV1p2beta1_FaceDetectionAnnotation",
      "description": "Face detection annotation.",
      "properties": {
        "version": {
          "type": "string",
          "description": "Feature version."
        }
      },
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p2beta1_WordInfo": {
      "properties": {
        "word": {
          "type": "string",
          "description": "The word corresponding to this set of information."
        },
        "startTime": {
          "type": "string",
          "format": "google-duration",
          "description": "Time offset relative to the beginning of the audio, and corresponding to the start of the spoken word. This field is only set if `enable_word_time_offsets=true` and only in the top hypothesis. This is an experimental feature and the accuracy of the time offset can vary."
        },
        "confidence": {
          "format": "float",
          "readOnly": true,
          "description": "Output only. The confidence estimate between 0.0 and 1.0. A higher number indicates an estimated greater likelihood that the recognized words are correct. This field is set only for the top alternative. This field is not guaranteed to be accurate and users should not rely on it to be always provided. The default of 0.0 is a sentinel value indicating `confidence` was not set.",
          "type": "number"
        },
        "endTime": {
          "type": "string",
          "description": "Time offset relative to the beginning of the audio, and corresponding to the end of the spoken word. This field is only set if `enable_word_time_offsets=true` and only in the top hypothesis. This is an experimental feature and the accuracy of the time offset can vary.",
          "format": "google-duration"
        },
        "speakerTag": {
          "type": "integer",
          "readOnly": true,
          "description": "Output only. A distinct integer value is assigned for every speaker within the audio. This field specifies which one of those speakers was detected to have spoken this word. Value ranges from 1 up to diarization_speaker_count, and is only set if speaker diarization is enabled.",
          "format": "int32"
        }
      },
      "description": "Word-specific information for recognized words. Word information is only included in the response when certain request parameters are set, such as `enable_word_time_offsets`.",
      "id": "GoogleCloudVideointelligenceV1p2beta1_WordInfo",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p2beta1_NormalizedBoundingPoly": {
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p2beta1_NormalizedBoundingPoly",
      "description": "Normalized bounding polygon for text (that might not be aligned with axis). Contains list of the corner points in clockwise order starting from top-left corner. For example, for a rectangular bounding box: When the text is horizontal it might look like: 0----1 | | 3----2 When it's clockwise rotated 180 degrees around the top-left corner it becomes: 2----3 | | 1----0 and the vertex order will still be (0, 1, 2, 3). Note that values can be less than 0, or greater than 1 due to trignometric calculations for location of the box.",
      "properties": {
        "vertices": {
          "description": "Normalized vertices of the bounding polygon.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_NormalizedVertex"
          }
        }
      }
    },
    "GoogleCloudVideointelligenceV1beta2_LogoRecognitionAnnotation": {
      "id": "GoogleCloudVideointelligenceV1beta2_LogoRecognitionAnnotation",
      "type": "object",
      "description": "Annotation corresponding to one detected, tracked and recognized logo class.",
      "properties": {
        "segments": {
          "type": "array",
          "description": "All video segments where the recognized logo appears. There might be multiple instances of the same logo class appearing in one VideoSegment.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_VideoSegment"
          }
        },
        "entity": {
          "description": "Entity category information to specify the logo class that all the logo tracks within this LogoRecognitionAnnotation are recognized as.",
          "$ref": "GoogleCloudVideointelligenceV1beta2_Entity"
        },
        "tracks": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_Track"
          },
          "type": "array",
          "description": "All logo tracks where the recognized logo appears. Each track corresponds to one logo instance appearing in consecutive frames."
        }
      }
    },
    "GoogleCloudVideointelligenceV1p1beta1_FaceDetectionAnnotation": {
      "id": "GoogleCloudVideointelligenceV1p1beta1_FaceDetectionAnnotation",
      "properties": {
        "version": {
          "type": "string",
          "description": "Feature version."
        }
      },
      "description": "Face detection annotation.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p3beta1_FaceDetectionAnnotation": {
      "properties": {
        "version": {
          "description": "Feature version.",
          "type": "string"
        }
      },
      "description": "Face detection annotation.",
      "id": "GoogleCloudVideointelligenceV1p3beta1_FaceDetectionAnnotation",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p3beta1_NormalizedBoundingBox": {
      "id": "GoogleCloudVideointelligenceV1p3beta1_NormalizedBoundingBox",
      "description": "Normalized bounding box. The normalized vertex coordinates are relative to the original image. Range: [0, 1].",
      "type": "object",
      "properties": {
        "bottom": {
          "description": "Bottom Y coordinate.",
          "type": "number",
          "format": "float"
        },
        "left": {
          "description": "Left X coordinate.",
          "format": "float",
          "type": "number"
        },
        "right": {
          "description": "Right X coordinate.",
          "type": "number",
          "format": "float"
        },
        "top": {
          "type": "number",
          "format": "float",
          "description": "Top Y coordinate."
        }
      }
    },
    "GoogleCloudVideointelligenceV1p2beta1_VideoAnnotationResults": {
      "description": "Annotation results for a single video.",
      "properties": {
        "inputUri": {
          "type": "string",
          "description": "Video file location in [Cloud Storage](https://cloud.google.com/storage/)."
        },
        "faceDetectionAnnotations": {
          "description": "Face detection annotations.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_FaceDetectionAnnotation"
          }
        },
        "error": {
          "$ref": "GoogleRpc_Status",
          "description": "If set, indicates an error. Note that for a single `AnnotateVideoRequest` some videos may succeed and some may fail."
        },
        "segment": {
          "description": "Video segment on which the annotation is run.",
          "$ref": "GoogleCloudVideointelligenceV1p2beta1_VideoSegment"
        },
        "personDetectionAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_PersonDetectionAnnotation"
          },
          "type": "array",
          "description": "Person detection annotations."
        },
        "logoRecognitionAnnotations": {
          "description": "Annotations for list of logos detected, tracked and recognized in video.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_LogoRecognitionAnnotation"
          }
        },
        "frameLabelAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_LabelAnnotation"
          },
          "description": "Label annotations on frame level. There is exactly one element for each unique label.",
          "type": "array"
        },
        "textAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_TextAnnotation"
          },
          "description": "OCR text detection and tracking. Annotations for list of detected text snippets. Each will have list of frame information associated with it.",
          "type": "array"
        },
        "objectAnnotations": {
          "type": "array",
          "description": "Annotations for list of objects detected and tracked in video.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_ObjectTrackingAnnotation"
          }
        },
        "segmentPresenceLabelAnnotations": {
          "description": "Presence label annotations on video level or user-specified segment level. There is exactly one element for each unique label. Compared to the existing topical `segment_label_annotations`, this field presents more fine-grained, segment-level labels detected in video content and is made available only when the client sets `LabelDetectionConfig.model` to \"builtin/latest\" in the request.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_LabelAnnotation"
          },
          "type": "array"
        },
        "explicitAnnotation": {
          "description": "Explicit content annotation.",
          "$ref": "GoogleCloudVideointelligenceV1p2beta1_ExplicitContentAnnotation"
        },
        "segmentLabelAnnotations": {
          "description": "Topical label annotations on video level or user-specified segment level. There is exactly one element for each unique label.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_LabelAnnotation"
          }
        },
        "shotAnnotations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_VideoSegment"
          },
          "description": "Shot annotations. Each shot is represented as a video segment."
        },
        "speechTranscriptions": {
          "type": "array",
          "description": "Speech transcription.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_SpeechTranscription"
          }
        },
        "shotPresenceLabelAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_LabelAnnotation"
          },
          "description": "Presence label annotations on shot level. There is exactly one element for each unique label. Compared to the existing topical `shot_label_annotations`, this field presents more fine-grained, shot-level labels detected in video content and is made available only when the client sets `LabelDetectionConfig.model` to \"builtin/latest\" in the request.",
          "type": "array"
        },
        "shotLabelAnnotations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_LabelAnnotation"
          },
          "description": "Topical label annotations on shot level. There is exactly one element for each unique label."
        }
      },
      "id": "GoogleCloudVideointelligenceV1p2beta1_VideoAnnotationResults",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1_ShotChangeDetectionConfig": {
      "properties": {
        "model": {
          "description": "Model to use for shot change detection. Supported values: \"builtin/stable\" (the default if unset) and \"builtin/latest\".",
          "type": "string"
        }
      },
      "id": "GoogleCloudVideointelligenceV1_ShotChangeDetectionConfig",
      "description": "Config for SHOT_CHANGE_DETECTION.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1_AnnotateVideoResponse": {
      "properties": {
        "annotationResults": {
          "type": "array",
          "description": "Annotation results for all videos specified in `AnnotateVideoRequest`.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_VideoAnnotationResults"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1_AnnotateVideoResponse",
      "description": "Video annotation response. Included in the `response` field of the `Operation` returned by the `GetOperation` call of the `google::longrunning::Operations` service."
    },
    "GoogleCloudVideointelligenceV1_Entity": {
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1_Entity",
      "description": "Detected entity from video analysis.",
      "properties": {
        "languageCode": {
          "description": "Language code for `description` in BCP-47 format.",
          "type": "string"
        },
        "entityId": {
          "description": "Opaque entity ID. Some IDs may be available in [Google Knowledge Graph Search API](https://developers.google.com/knowledge-graph/).",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Textual description, e.g., `Fixed-gear bicycle`."
        }
      }
    },
    "GoogleCloudVideointelligenceV1p3beta1_CelebrityRecognitionAnnotation": {
      "type": "object",
      "description": "Celebrity recognition annotation per video.",
      "properties": {
        "celebrityTracks": {
          "description": "The tracks detected from the input video, including recognized celebrities and other detected faces in the video.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_CelebrityTrack"
          },
          "type": "array"
        },
        "version": {
          "type": "string",
          "description": "Feature version."
        }
      },
      "id": "GoogleCloudVideointelligenceV1p3beta1_CelebrityRecognitionAnnotation"
    },
    "GoogleCloudVideointelligenceV1p3beta1_AnnotateVideoResponse": {
      "id": "GoogleCloudVideointelligenceV1p3beta1_AnnotateVideoResponse",
      "type": "object",
      "properties": {
        "annotationResults": {
          "type": "array",
          "description": "Annotation results for all videos specified in `AnnotateVideoRequest`.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_VideoAnnotationResults"
          }
        }
      },
      "description": "Video annotation response. Included in the `response` field of the `Operation` returned by the `GetOperation` call of the `google::longrunning::Operations` service."
    },
    "GoogleCloudVideointelligenceV1_PersonDetectionAnnotation": {
      "description": "Person detection annotation per video.",
      "id": "GoogleCloudVideointelligenceV1_PersonDetectionAnnotation",
      "properties": {
        "version": {
          "type": "string",
          "description": "Feature version."
        },
        "tracks": {
          "description": "The detected tracks of a person.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_Track"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p2beta1_DetectedLandmark": {
      "type": "object",
      "description": "A generic detected landmark represented by name in string format and a 2D location.",
      "properties": {
        "point": {
          "description": "The 2D point of the detected landmark using the normalized image coordindate system. The normalized coordinates have the range from 0 to 1.",
          "$ref": "GoogleCloudVideointelligenceV1p2beta1_NormalizedVertex"
        },
        "confidence": {
          "description": "The confidence score of the detected landmark. Range [0, 1].",
          "format": "float",
          "type": "number"
        },
        "name": {
          "description": "The name of this landmark, for example, left_hand, right_shoulder.",
          "type": "string"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p2beta1_DetectedLandmark"
    },
    "GoogleCloudVideointelligenceV1_FaceDetectionAnnotation": {
      "id": "GoogleCloudVideointelligenceV1_FaceDetectionAnnotation",
      "type": "object",
      "properties": {
        "version": {
          "description": "Feature version.",
          "type": "string"
        }
      },
      "description": "Face detection annotation."
    },
    "GoogleCloudVideointelligenceV1p1beta1_ObjectTrackingAnnotation": {
      "type": "object",
      "properties": {
        "trackId": {
          "description": "Streaming mode ONLY. In streaming mode, we do not know the end time of a tracked object before it is completed. Hence, there is no VideoSegment info returned. Instead, we provide a unique identifiable integer track_id so that the customers can correlate the results of the ongoing ObjectTrackAnnotation of the same track_id over time.",
          "type": "string",
          "format": "int64"
        },
        "segment": {
          "description": "Non-streaming batch mode ONLY. Each object track corresponds to one video segment where it appears.",
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_VideoSegment"
        },
        "entity": {
          "description": "Entity to specify the object category that this track is labeled as.",
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_Entity"
        },
        "version": {
          "description": "Feature version.",
          "type": "string"
        },
        "confidence": {
          "format": "float",
          "type": "number",
          "description": "Object category's labeling confidence of this track."
        },
        "frames": {
          "description": "Information corresponding to all frames where this object track appears. Non-streaming batch mode: it may be one or multiple ObjectTrackingFrame messages in frames. Streaming mode: it can only be one ObjectTrackingFrame message in frames.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_ObjectTrackingFrame"
          },
          "type": "array"
        }
      },
      "description": "Annotations corresponding to one tracked object.",
      "id": "GoogleCloudVideointelligenceV1p1beta1_ObjectTrackingAnnotation"
    },
    "GoogleCloudVideointelligenceV1_ObjectTrackingFrame": {
      "id": "GoogleCloudVideointelligenceV1_ObjectTrackingFrame",
      "type": "object",
      "description": "Video frame level annotations for object detection and tracking. This field stores per frame location, time offset, and confidence.",
      "properties": {
        "normalizedBoundingBox": {
          "$ref": "GoogleCloudVideointelligenceV1_NormalizedBoundingBox",
          "description": "The normalized bounding box location of this object track for the frame."
        },
        "timeOffset": {
          "description": "The timestamp of the frame in microseconds.",
          "format": "google-duration",
          "type": "string"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p2beta1_PersonDetectionAnnotation": {
      "properties": {
        "version": {
          "type": "string",
          "description": "Feature version."
        },
        "tracks": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_Track"
          },
          "description": "The detected tracks of a person."
        }
      },
      "id": "GoogleCloudVideointelligenceV1p2beta1_PersonDetectionAnnotation",
      "type": "object",
      "description": "Person detection annotation per video."
    },
    "GoogleCloudVideointelligenceV1p1beta1_WordInfo": {
      "properties": {
        "speakerTag": {
          "readOnly": true,
          "format": "int32",
          "type": "integer",
          "description": "Output only. A distinct integer value is assigned for every speaker within the audio. This field specifies which one of those speakers was detected to have spoken this word. Value ranges from 1 up to diarization_speaker_count, and is only set if speaker diarization is enabled."
        },
        "word": {
          "type": "string",
          "description": "The word corresponding to this set of information."
        },
        "startTime": {
          "description": "Time offset relative to the beginning of the audio, and corresponding to the start of the spoken word. This field is only set if `enable_word_time_offsets=true` and only in the top hypothesis. This is an experimental feature and the accuracy of the time offset can vary.",
          "type": "string",
          "format": "google-duration"
        },
        "confidence": {
          "readOnly": true,
          "format": "float",
          "type": "number",
          "description": "Output only. The confidence estimate between 0.0 and 1.0. A higher number indicates an estimated greater likelihood that the recognized words are correct. This field is set only for the top alternative. This field is not guaranteed to be accurate and users should not rely on it to be always provided. The default of 0.0 is a sentinel value indicating `confidence` was not set."
        },
        "endTime": {
          "type": "string",
          "description": "Time offset relative to the beginning of the audio, and corresponding to the end of the spoken word. This field is only set if `enable_word_time_offsets=true` and only in the top hypothesis. This is an experimental feature and the accuracy of the time offset can vary.",
          "format": "google-duration"
        }
      },
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p1beta1_WordInfo",
      "description": "Word-specific information for recognized words. Word information is only included in the response when certain request parameters are set, such as `enable_word_time_offsets`."
    },
    "GoogleCloudVideointelligenceV1p2beta1_TimestampedObject": {
      "id": "GoogleCloudVideointelligenceV1p2beta1_TimestampedObject",
      "properties": {
        "attributes": {
          "description": "Optional. The attributes of the object in the bounding box.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_DetectedAttribute"
          },
          "type": "array"
        },
        "normalizedBoundingBox": {
          "description": "Normalized Bounding box in a frame, where the object is located.",
          "$ref": "GoogleCloudVideointelligenceV1p2beta1_NormalizedBoundingBox"
        },
        "landmarks": {
          "description": "Optional. The detected landmarks.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_DetectedLandmark"
          }
        },
        "timeOffset": {
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this object.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "description": "For tracking related features. An object at time_offset with attributes, and located with normalized_bounding_box.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1beta2_AnnotateVideoProgress": {
      "id": "GoogleCloudVideointelligenceV1beta2_AnnotateVideoProgress",
      "type": "object",
      "properties": {
        "annotationProgress": {
          "description": "Progress metadata for all videos specified in `AnnotateVideoRequest`.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_VideoAnnotationProgress"
          }
        }
      },
      "description": "Video annotation progress. Included in the `metadata` field of the `Operation` returned by the `GetOperation` call of the `google::longrunning::Operations` service."
    },
    "GoogleCloudVideointelligenceV1p3beta1_CelebrityTrack": {
      "id": "GoogleCloudVideointelligenceV1p3beta1_CelebrityTrack",
      "type": "object",
      "description": "The annotation result of a celebrity face track. RecognizedCelebrity field could be empty if the face track does not have any matched celebrities.",
      "properties": {
        "celebrities": {
          "description": "Top N match of the celebrities for the face in this track.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_RecognizedCelebrity"
          }
        },
        "faceTrack": {
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_Track",
          "description": "A track of a person's face."
        }
      }
    },
    "GoogleCloudVideointelligenceV1beta2_VideoSegment": {
      "properties": {
        "startTimeOffset": {
          "format": "google-duration",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the start of the segment (inclusive).",
          "type": "string"
        },
        "endTimeOffset": {
          "type": "string",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the end of the segment (inclusive).",
          "format": "google-duration"
        }
      },
      "id": "GoogleCloudVideointelligenceV1beta2_VideoSegment",
      "type": "object",
      "description": "Video segment."
    },
    "GoogleCloudVideointelligenceV1p2beta1_VideoSegment": {
      "id": "GoogleCloudVideointelligenceV1p2beta1_VideoSegment",
      "type": "object",
      "properties": {
        "endTimeOffset": {
          "type": "string",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the end of the segment (inclusive).",
          "format": "google-duration"
        },
        "startTimeOffset": {
          "format": "google-duration",
          "type": "string",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the start of the segment (inclusive)."
        }
      },
      "description": "Video segment."
    },
    "GoogleCloudVideointelligenceV1p3beta1_VideoAnnotationResults": {
      "type": "object",
      "description": "Annotation results for a single video.",
      "properties": {
        "shotLabelAnnotations": {
          "description": "Topical label annotations on shot level. There is exactly one element for each unique label.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_LabelAnnotation"
          },
          "type": "array"
        },
        "segmentLabelAnnotations": {
          "description": "Topical label annotations on video level or user-specified segment level. There is exactly one element for each unique label.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_LabelAnnotation"
          }
        },
        "inputUri": {
          "type": "string",
          "description": "Video file location in [Cloud Storage](https://cloud.google.com/storage/)."
        },
        "segmentPresenceLabelAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_LabelAnnotation"
          },
          "type": "array",
          "description": "Presence label annotations on video level or user-specified segment level. There is exactly one element for each unique label. Compared to the existing topical `segment_label_annotations`, this field presents more fine-grained, segment-level labels detected in video content and is made available only when the client sets `LabelDetectionConfig.model` to \"builtin/latest\" in the request."
        },
        "explicitAnnotation": {
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_ExplicitContentAnnotation",
          "description": "Explicit content annotation."
        },
        "personDetectionAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_PersonDetectionAnnotation"
          },
          "description": "Person detection annotations.",
          "type": "array"
        },
        "celebrityRecognitionAnnotations": {
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_CelebrityRecognitionAnnotation",
          "description": "Celebrity recognition annotations."
        },
        "shotPresenceLabelAnnotations": {
          "description": "Presence label annotations on shot level. There is exactly one element for each unique label. Compared to the existing topical `shot_label_annotations`, this field presents more fine-grained, shot-level labels detected in video content and is made available only when the client sets `LabelDetectionConfig.model` to \"builtin/latest\" in the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_LabelAnnotation"
          }
        },
        "faceDetectionAnnotations": {
          "description": "Face detection annotations.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_FaceDetectionAnnotation"
          }
        },
        "segment": {
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_VideoSegment",
          "description": "Video segment on which the annotation is run."
        },
        "error": {
          "$ref": "GoogleRpc_Status",
          "description": "If set, indicates an error. Note that for a single `AnnotateVideoRequest` some videos may succeed and some may fail."
        },
        "frameLabelAnnotations": {
          "description": "Label annotations on frame level. There is exactly one element for each unique label.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_LabelAnnotation"
          }
        },
        "speechTranscriptions": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_SpeechTranscription"
          },
          "description": "Speech transcription.",
          "type": "array"
        },
        "objectAnnotations": {
          "description": "Annotations for list of objects detected and tracked in video.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_ObjectTrackingAnnotation"
          },
          "type": "array"
        },
        "textAnnotations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_TextAnnotation"
          },
          "description": "OCR text detection and tracking. Annotations for list of detected text snippets. Each will have list of frame information associated with it."
        },
        "logoRecognitionAnnotations": {
          "description": "Annotations for list of logos detected, tracked and recognized in video.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_LogoRecognitionAnnotation"
          }
        },
        "shotAnnotations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_VideoSegment"
          },
          "description": "Shot annotations. Each shot is represented as a video segment."
        }
      },
      "id": "GoogleCloudVideointelligenceV1p3beta1_VideoAnnotationResults"
    },
    "GoogleLongrunning_Operation": {
      "type": "object",
      "id": "GoogleLongrunning_Operation",
      "properties": {
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "$ref": "GoogleRpc_Status",
          "description": "The error result of the operation in case of failure or cancellation."
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "GoogleCloudVideointelligenceV1p1beta1_DetectedAttribute": {
      "description": "A generic detected attribute represented by name in string format.",
      "id": "GoogleCloudVideointelligenceV1p1beta1_DetectedAttribute",
      "properties": {
        "confidence": {
          "format": "float",
          "description": "Detected attribute confidence. Range [0, 1].",
          "type": "number"
        },
        "name": {
          "type": "string",
          "description": "The name of the attribute, for example, glasses, dark_glasses, mouth_open. A full list of supported type names will be provided in the document."
        },
        "value": {
          "description": "Text value of the detection result. For example, the value for \"HairColor\" can be \"black\", \"blonde\", etc.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p1beta1_TimestampedObject": {
      "id": "GoogleCloudVideointelligenceV1p1beta1_TimestampedObject",
      "description": "For tracking related features. An object at time_offset with attributes, and located with normalized_bounding_box.",
      "properties": {
        "normalizedBoundingBox": {
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_NormalizedBoundingBox",
          "description": "Normalized Bounding box in a frame, where the object is located."
        },
        "timeOffset": {
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this object.",
          "format": "google-duration",
          "type": "string"
        },
        "landmarks": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_DetectedLandmark"
          },
          "description": "Optional. The detected landmarks."
        },
        "attributes": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_DetectedAttribute"
          },
          "description": "Optional. The attributes of the object in the bounding box.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p2beta1_TextFrame": {
      "properties": {
        "rotatedBoundingBox": {
          "$ref": "GoogleCloudVideointelligenceV1p2beta1_NormalizedBoundingPoly",
          "description": "Bounding polygon of the detected text for this frame."
        },
        "timeOffset": {
          "description": "Timestamp of this frame.",
[...]
