{
  "discoveryVersion": "v1",
  "id": "vision:v1",
  "servicePath": "",
  "canonicalName": "Vision",
  "ownerDomain": "google.com",
  "parameters": {
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "description": "Data format for response.",
      "location": "query",
      "type": "string"
    }
  },
  "description": "Integrates Google Vision features, including image labeling, face, logo, and landmark detection, optical character recognition (OCR), and detection of explicit content, into applications.",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud-vision": {
          "description": "Apply machine learning models to understand and label images"
        }
      }
    }
  },
  "documentationLink": "https://cloud.google.com/vision/",
  "title": "Cloud Vision API",
  "name": "vision",
  "resources": {
    "images": {
      "methods": {
        "annotate": {
          "response": {
            "$ref": "BatchAnnotateImagesResponse"
          },
          "flatPath": "v1/images:annotate",
          "path": "v1/images:annotate",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-vision"
          ],
          "description": "Run image detection and annotation for a batch of images.",
          "request": {
            "$ref": "BatchAnnotateImagesRequest"
          },
          "parameterOrder": [],
          "httpMethod": "POST",
          "id": "vision.images.annotate"
        },
        "asyncBatchAnnotate": {
          "request": {
            "$ref": "AsyncBatchAnnotateImagesRequest"
          },
          "parameterOrder": [],
          "description": "Run asynchronous image detection and annotation for a list of images. Progress and results can be retrieved through the `google.longrunning.Operations` interface. `Operation.metadata` contains `OperationMetadata` (metadata). `Operation.response` contains `AsyncBatchAnnotateImagesResponse` (results). This service will write image annotation outputs to json files in customer GCS bucket, each json file containing BatchAnnotateImagesResponse proto.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-vision"
          ],
          "httpMethod": "POST",
          "parameters": {},
          "response": {
            "$ref": "Operation"
          },
          "flatPath": "v1/images:asyncBatchAnnotate",
          "path": "v1/images:asyncBatchAnnotate",
          "id": "vision.images.asyncBatchAnnotate"
        }
      }
    },
    "projects": {
      "resources": {
        "operations": {
          "methods": {
            "get": {
              "parameters": {
                "name": {
                  "description": "The name of the operation resource.",
                  "pattern": "^projects/[^/]+/operations/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "flatPath": "v1/projects/{projectsId}/operations/{operationsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-vision"
              ],
              "parameterOrder": [
                "name"
              ],
              "id": "vision.projects.operations.get",
              "response": {
                "$ref": "Operation"
              },
              "httpMethod": "GET",
              "path": "v1/{+name}",
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
            }
          }
        },
        "files": {
          "methods": {
            "annotate": {
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "BatchAnnotateFilesResponse"
              },
              "path": "v1/{+parent}/files:annotate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-vision"
              ],
              "id": "vision.projects.files.annotate",
              "httpMethod": "POST",
              "flatPath": "v1/projects/{projectsId}/files:annotate",
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "description": "Optional. Target project and location to make a call. Format: `projects/{project-id}/locations/{location-id}`. If no parent is specified, a region will be chosen automatically. Supported location-ids: `us`: USA country only, `asia`: East asia areas, like Japan, Taiwan, `eu`: The European Union. Example: `projects/project-A/locations/eu`.",
                  "required": true
                }
              },
              "description": "Service that performs image detection and annotation for a batch of files. Now only \"application/pdf\", \"image/tiff\" and \"image/gif\" are supported. This service will extract at most 5 (customers can specify which 5 in AnnotateFileRequest.pages) frames (gif) or pages (pdf or tiff) from each file provided and perform detection and annotation for each image extracted.",
              "request": {
                "$ref": "BatchAnnotateFilesRequest"
              }
            },
            "asyncBatchAnnotate": {
              "parameterOrder": [
                "parent"
              ],
              "description": "Run asynchronous image detection and annotation for a list of generic files, such as PDF files, which may contain multiple pages and multiple images per page. Progress and results can be retrieved through the `google.longrunning.Operations` interface. `Operation.metadata` contains `OperationMetadata` (metadata). `Operation.response` contains `AsyncBatchAnnotateFilesResponse` (results).",
              "request": {
                "$ref": "AsyncBatchAnnotateFilesRequest"
              },
              "id": "vision.projects.files.asyncBatchAnnotate",
              "flatPath": "v1/projects/{projectsId}/files:asyncBatchAnnotate",
              "response": {
                "$ref": "Operation"
              },
              "path": "v1/{+parent}/files:asyncBatchAnnotate",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "description": "Optional. Target project and location to make a call. Format: `projects/{project-id}/locations/{location-id}`. If no parent is specified, a region will be chosen automatically. Supported location-ids: `us`: USA country only, `asia`: East asia areas, like Japan, Taiwan, `eu`: The European Union. Example: `projects/project-A/locations/eu`.",
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-vision"
              ]
            }
          }
        },
        "images": {
          "methods": {
            "asyncBatchAnnotate": {
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/projects/{projectsId}/images:asyncBatchAnnotate",
              "id": "vision.projects.images.asyncBatchAnnotate",
              "path": "v1/{+parent}/images:asyncBatchAnnotate",
              "response": {
                "$ref": "Operation"
              },
              "parameters": {
                "parent": {
                  "description": "Optional. Target project and location to make a call. Format: `projects/{project-id}/locations/{location-id}`. If no parent is specified, a region will be chosen automatically. Supported location-ids: `us`: USA country only, `asia`: East asia areas, like Japan, Taiwan, `eu`: The European Union. Example: `projects/project-A/locations/eu`.",
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "httpMethod": "POST",
              "description": "Run asynchronous image detection and annotation for a list of images. Progress and results can be retrieved through the `google.longrunning.Operations` interface. `Operation.metadata` contains `OperationMetadata` (metadata). `Operation.response` contains `AsyncBatchAnnotateImagesResponse` (results). This service will write image annotation outputs to json files in customer GCS bucket, each json file containing BatchAnnotateImagesResponse proto.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-vision"
              ],
              "request": {
                "$ref": "AsyncBatchAnnotateImagesRequest"
              }
            },
            "annotate": {
              "flatPath": "v1/projects/{projectsId}/images:annotate",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Optional. Target project and location to make a call. Format: `projects/{project-id}/locations/{location-id}`. If no parent is specified, a region will be chosen automatically. Supported location-ids: `us`: USA country only, `asia`: East asia areas, like Japan, Taiwan, `eu`: The European Union. Example: `projects/project-A/locations/eu`.",
                  "location": "path"
                }
              },
              "path": "v1/{+parent}/images:annotate",
              "request": {
                "$ref": "BatchAnnotateImagesRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-vision"
              ],
              "httpMethod": "POST",
              "description": "Run image detection and annotation for a batch of images.",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "BatchAnnotateImagesResponse"
              },
              "id": "vision.projects.images.annotate"
            }
          }
        },
        "locations": {
          "resources": {
            "files": {
              "methods": {
                "asyncBatchAnnotate": {
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Optional. Target project and location to make a call. Format: `projects/{project-id}/locations/{location-id}`. If no parent is specified, a region will be chosen automatically. Supported location-ids: `us`: USA country only, `asia`: East asia areas, like Japan, Taiwan, `eu`: The European Union. Example: `projects/project-A/locations/eu`.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "vision.projects.locations.files.asyncBatchAnnotate",
                  "path": "v1/{+parent}/files:asyncBatchAnnotate",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-vision"
                  ],
                  "request": {
                    "$ref": "AsyncBatchAnnotateFilesRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/files:asyncBatchAnnotate",
                  "description": "Run asynchronous image detection and annotation for a list of generic files, such as PDF files, which may contain multiple pages and multiple images per page. Progress and results can be retrieved through the `google.longrunning.Operations` interface. `Operation.metadata` contains `OperationMetadata` (metadata). `Operation.response` contains `AsyncBatchAnnotateFilesResponse` (results).",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "annotate": {
                  "request": {
                    "$ref": "BatchAnnotateFilesRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-vision"
                  ],
                  "description": "Service that performs image detection and annotation for a batch of files. Now only \"application/pdf\", \"image/tiff\" and \"image/gif\" are supported. This service will extract at most 5 (customers can specify which 5 in AnnotateFileRequest.pages) frames (gif) or pages (pdf or tiff) from each file provided and perform detection and annotation for each image extracted.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/files:annotate",
                  "path": "v1/{+parent}/files:annotate",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "BatchAnnotateFilesResponse"
                  },
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Optional. Target project and location to make a call. Format: `projects/{project-id}/locations/{location-id}`. If no parent is specified, a region will be chosen automatically. Supported location-ids: `us`: USA country only, `asia`: East asia areas, like Japan, Taiwan, `eu`: The European Union. Example: `projects/project-A/locations/eu`.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "httpMethod": "POST",
                  "id": "vision.projects.locations.files.annotate"
                }
              }
            },
            "products": {
              "methods": {
                "create": {
                  "description": "Creates and returns a new product resource. Possible errors: * Returns INVALID_ARGUMENT if display_name is missing or longer than 4096 characters. * Returns INVALID_ARGUMENT if description is longer than 4096 characters. * Returns INVALID_ARGUMENT if product_category is missing or invalid.",
                  "id": "vision.projects.locations.products.create",
                  "parameters": {
                    "productId": {
                      "location": "query",
                      "type": "string",
                      "description": "A user-supplied resource id for this Product. If set, the server will attempt to use this value as the resource id. If it is already in use, an error is returned with code ALREADY_EXISTS. Must be at most 128 characters long. It cannot contain the character `/`."
                    },
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The project in which the Product should be created. Format is `projects/PROJECT_ID/locations/LOC_ID`."
                    }
                  },
                  "response": {
                    "$ref": "Product"
                  },
                  "path": "v1/{+parent}/products",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-vision"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "Product"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/products",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "purge": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-vision"
                  ],
                  "path": "v1/{+parent}/products:purge",
                  "request": {
                    "$ref": "PurgeProductsRequest"
                  },
                  "id": "vision.projects.locations.products.purge",
                  "description": "Asynchronous API to delete all Products in a ProductSet or all Products that are in no ProductSet. If a Product is a member of the specified ProductSet in addition to other ProductSets, the Product will still be deleted. It is recommended to not delete the specified ProductSet until after this operation has completed. It is also recommended to not add any of the Products involved in the batch delete to a new ProductSet while this operation is running because those Products may still end up deleted. It's not possible to undo the PurgeProducts operation. Therefore, it is recommended to keep the csv files used in ImportProductSets (if that was how you originally built the Product Set) before starting PurgeProducts, in case you need to re-import the data after deletion. If the plan is to purge all of the Products from a ProductSet and then re-use the empty ProductSet to re-import new Products into the empty ProductSet, you must wait until the PurgeProducts operation has finished for that ProductSet. The google.longrunning.Operation API can be used to keep track of the progress and results of the request. `Operation.metadata` contains `BatchOperationMetadata`. (progress)",
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/products:purge",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The project and location in which the Products should be deleted. Format is `projects/PROJECT_ID/locations/LOC_ID`.",
                      "required": true
                    }
                  }
                },
                "list": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/products",
                  "id": "vision.projects.locations.products.list",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. The project OR ProductSet from which Products should be listed. Format: `projects/PROJECT_ID/locations/LOC_ID`"
                    },
                    "pageToken": {
                      "description": "The next_page_token returned from a previous List request, if any.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "The maximum number of items to return. Default 10, maximum 100.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    }
                  },
                  "path": "v1/{+parent}/products",
                  "description": "Lists products in an unspecified order. Possible errors: * Returns INVALID_ARGUMENT if page_size is greater than 100 or less than 1.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListProductsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-vision"
                  ],
                  "httpMethod": "GET"
                },
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-vision"
                  ],
                  "httpMethod": "PATCH",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/products/{productsId}",
                  "id": "vision.projects.locations.products.patch",
                  "response": {
                    "$ref": "Product"
                  },
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "Product"
                  },
                  "description": "Makes changes to a Product resource. Only the `display_name`, `description`, and `labels` fields can be updated right now. If labels are updated, the change will not be reflected in queries until the next index time. Possible errors: * Returns NOT_FOUND if the Product does not exist. * Returns INVALID_ARGUMENT if display_name is present in update_mask but is missing from the request or longer than 4096 characters. * Returns INVALID_ARGUMENT if description is present in update_mask but is longer than 4096 characters. * Returns INVALID_ARGUMENT if product_category is present in update_mask.",
                  "parameters": {
                    "name": {
                      "description": "The resource name of the product. Format is: `projects/PROJECT_ID/locations/LOC_ID/products/PRODUCT_ID`. This field is ignored when creating a product.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+$",
                      "location": "path"
                    },
                    "updateMask": {
                      "description": "The FieldMask that specifies which fields to update. If update_mask isn't specified, all mutable fields are to be updated. Valid mask paths include `product_labels`, `display_name`, and `description`.",
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string"
                    }
                  }
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+$",
                      "description": "Required. Resource name of product to delete. Format is: `projects/PROJECT_ID/locations/LOC_ID/products/PRODUCT_ID`"
                    }
                  },
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/products/{productsId}",
                  "id": "vision.projects.locations.products.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-vision"
                  ],
                  "description": "Permanently deletes a product and its reference images. Metadata of the product and all its images will be deleted right away, but search queries against ProductSets containing the product may still work until all related caches are refreshed.",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  }
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-vision"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Product"
                  },
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+$",
                      "description": "Required. Resource name of the Product to get. Format is: `projects/PROJECT_ID/locations/LOC_ID/products/PRODUCT_ID`",
                      "type": "string"
                    }
                  },
                  "description": "Gets information associated with a Product. Possible errors: * Returns NOT_FOUND if the Product does not exist.",
                  "id": "vision.projects.locations.products.get",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/products/{productsId}"
                }
              },
              "resources": {
                "referenceImages": {
                  "methods": {
                    "list": {
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "Required. Resource name of the product containing the reference images. Format is `projects/PROJECT_ID/locations/LOC_ID/products/PRODUCT_ID`.",
                          "type": "string"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "A token identifying a page of results to be returned. This is the value of `nextPageToken` returned in a previous reference image list request. Defaults to the first page if not specified.",
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "The maximum number of items to return. Default 10, maximum 100.",
                          "location": "query",
                          "format": "int32",
                          "type": "integer"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-vision"
                      ],
                      "description": "Lists reference images. Possible errors: * Returns NOT_FOUND if the parent product does not exist. * Returns INVALID_ARGUMENT if the page_size is greater than 100, or less than 1.",
                      "path": "v1/{+parent}/referenceImages",
                      "response": {
                        "$ref": "ListReferenceImagesResponse"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/products/{productsId}/referenceImages",
                      "httpMethod": "GET",
                      "id": "vision.projects.locations.products.referenceImages.list",
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "create": {
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "required": true,
                          "location": "path",
                          "description": "Required. Resource name of the product in which to create the reference image. Format is `projects/PROJECT_ID/locations/LOC_ID/products/PRODUCT_ID`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+$",
                          "type": "string"
                        },
                        "referenceImageId": {
                          "type": "string",
                          "description": "A user-supplied resource id for the ReferenceImage to be added. If set, the server will attempt to use this value as the resource id. If it is already in use, an error is returned with code ALREADY_EXISTS. Must be at most 128 characters long. It cannot contain the character `/`.",
                          "location": "query"
                        }
                      },
                      "description": "Creates and returns a new ReferenceImage resource. The `bounding_poly` field is optional. If `bounding_poly` is not specified, the system will try to detect regions of interest in the image that are compatible with the product_category on the parent product. If it is specified, detection is ALWAYS skipped. The system converts polygons into non-rotated rectangles. Note that the pipeline will resize the image if the image resolution is too large to process (above 50MP). Possible errors: * Returns INVALID_ARGUMENT if the image_uri is missing or longer than 4096 characters. * Returns INVALID_ARGUMENT if the product does not exist. * Returns INVALID_ARGUMENT if bounding_poly is not provided, and nothing compatible with the parent product's product_category is detected. * Returns INVALID_ARGUMENT if bounding_poly contains more than 10 polygons.",
                      "request": {
                        "$ref": "ReferenceImage"
                      },
                      "id": "vision.projects.locations.products.referenceImages.create",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/products/{productsId}/referenceImages",
                      "response": {
                        "$ref": "ReferenceImage"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-vision"
                      ],
                      "path": "v1/{+parent}/referenceImages"
                    },
                    "delete": {
                      "httpMethod": "DELETE",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-vision"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Empty"
                      },
                      "path": "v1/{+name}",
                      "id": "vision.projects.locations.products.referenceImages.delete",
                      "description": "Permanently deletes a reference image. The image metadata will be deleted right away, but search queries against ProductSets containing the image may still work until all related caches are refreshed. The actual image files are not deleted from Google Cloud Storage.",
                      "parameters": {
                        "name": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "Required. The resource name of the reference image to delete. Format is: `projects/PROJECT_ID/locations/LOC_ID/products/PRODUCT_ID/referenceImages/IMAGE_ID`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/referenceImages/[^/]+$"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/products/{productsId}/referenceImages/{referenceImagesId}"
                    },
                    "get": {
                      "id": "vision.projects.locations.products.referenceImages.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-vision"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/products/{productsId}/referenceImages/{referenceImagesId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "ReferenceImage"
                      },
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "Required. The resource name of the ReferenceImage to get. Format is: `projects/PROJECT_ID/locations/LOC_ID/products/PRODUCT_ID/referenceImages/IMAGE_ID`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/referenceImages/[^/]+$",
                          "location": "path",
                          "required": true
                        }
                      },
                      "description": "Gets information associated with a ReferenceImage. Possible errors: * Returns NOT_FOUND if the specified image does not exist.",
                      "httpMethod": "GET"
                    }
                  }
                }
              }
            },
            "productSets": {
              "methods": {
                "create": {
                  "response": {
                    "$ref": "ProductSet"
                  },
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The project in which the ProductSet should be created. Format is `projects/PROJECT_ID/locations/LOC_ID`.",
                      "location": "path"
                    },
                    "productSetId": {
                      "location": "query",
                      "description": "A user-supplied resource id for this ProductSet. If set, the server will attempt to use this value as the resource id. If it is already in use, an error is returned with code ALREADY_EXISTS. Must be at most 128 characters long. It cannot contain the character `/`.",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "ProductSet"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-vision"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/productSets",
                  "httpMethod": "POST",
                  "description": "Creates and returns a new ProductSet resource. Possible errors: * Returns INVALID_ARGUMENT if display_name is missing, or is longer than 4096 characters.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/productSets",
                  "id": "vision.projects.locations.productSets.create"
                },
                "import": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-vision"
                  ],
                  "httpMethod": "POST",
                  "path": "v1/{+parent}/productSets:import",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "ImportProductSetsRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/productSets:import",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The project in which the ProductSets should be imported. Format is `projects/PROJECT_ID/locations/LOC_ID`."
                    }
                  },
                  "description": "Asynchronous API that imports a list of reference images to specified product sets based on a list of image information. The google.longrunning.Operation API can be used to keep track of the progress and results of the request. `Operation.metadata` contains `BatchOperationMetadata`. (progress) `Operation.response` contains `ImportProductSetsResponse`. (results) The input source of this method is a csv file on Google Cloud Storage. For the format of the csv file please see ImportProductSetsGcsSource.csv_file_uri.",
                  "id": "vision.projects.locations.productSets.import"
                },
                "list": {
                  "path": "v1/{+parent}/productSets",
                  "id": "vision.projects.locations.productSets.list",
                  "description": "Lists ProductSets in an unspecified order. Possible errors: * Returns INVALID_ARGUMENT if page_size is greater than 100, or less than 1.",
                  "response": {
                    "$ref": "ListProductSetsResponse"
                  },
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/productSets",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-vision"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The next_page_token returned from a previous List request, if any."
                    },
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The project from which ProductSets should be listed. Format is `projects/PROJECT_ID/locations/LOC_ID`.",
                      "location": "path",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "The maximum number of items to return. Default 10, maximum 100."
                    }
                  }
                },
                "removeProduct": {
                  "id": "vision.projects.locations.productSets.removeProduct",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "RemoveProductFromProductSetRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-vision"
                  ],
                  "description": "Removes a Product from the specified ProductSet.",
                  "httpMethod": "POST",
                  "path": "v1/{+name}:removeProduct",
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name for the ProductSet to modify. Format is: `projects/PROJECT_ID/locations/LOC_ID/productSets/PRODUCT_SET_ID`",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/productSets/[^/]+$",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/productSets/{productSetsId}:removeProduct",
                  "response": {
                    "$ref": "Empty"
                  }
                },
                "delete": {
                  "description": "Permanently deletes a ProductSet. Products and ReferenceImages in the ProductSet are not deleted. The actual image files are not deleted from Google Cloud Storage.",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/productSets/{productSetsId}",
                  "id": "vision.projects.locations.productSets.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-vision"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. Resource name of the ProductSet to delete. Format is: `projects/PROJECT_ID/locations/LOC_ID/productSets/PRODUCT_SET_ID`",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/productSets/[^/]+$"
                    }
                  },
                  "path": "v1/{+name}"
                },
                "addProduct": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-vision"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v1/{+name}:addProduct",
                  "description": "Adds a Product to the specified ProductSet. If the Product is already present, no change is made. One Product can be added to at most 100 ProductSets. Possible errors: * Returns NOT_FOUND if the Product or the ProductSet doesn't exist.",
                  "id": "vision.projects.locations.productSets.addProduct",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/productSets/{productSetsId}:addProduct",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The resource name for the ProductSet to modify. Format is: `projects/PROJECT_ID/locations/LOC_ID/productSets/PRODUCT_SET_ID`",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/productSets/[^/]+$",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "AddProductToProductSetRequest"
                  }
                },
                "get": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. Resource name of the ProductSet to get. Format is: `projects/PROJECT_ID/locations/LOC_ID/productSets/PRODUCT_SET_ID`",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/productSets/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-vision"
                  ],
                  "response": {
                    "$ref": "ProductSet"
                  },
                  "description": "Gets information associated with a ProductSet. Possible errors: * Returns NOT_FOUND if the ProductSet does not exist.",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "vision.projects.locations.productSets.get",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/productSets/{productSetsId}"
                },
                "patch": {
                  "response": {
                    "$ref": "ProductSet"
                  },
                  "description": "Makes changes to a ProductSet resource. Only display_name can be updated currently. Possible errors: * Returns NOT_FOUND if the ProductSet does not exist. * Returns INVALID_ARGUMENT if display_name is present in update_mask but missing from the request or longer than 4096 characters.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-vision"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "vision.projects.locations.productSets.patch",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/productSets/{productSetsId}",
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "The resource name of the ProductSet. Format is: `projects/PROJECT_ID/locations/LOC_ID/productSets/PRODUCT_SET_ID`. This field is ignored when creating a ProductSet.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/productSets/[^/]+$",
                      "required": true,
                      "location": "path"
                    },
                    "updateMask": {
                      "location": "query",
                      "description": "The FieldMask that specifies which fields to update. If update_mask isn't specified, all mutable fields are to be updated. Valid mask path is `display_name`.",
                      "format": "google-fieldmask",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "ProductSet"
                  }
                }
              },
              "resources": {
                "products": {
                  "methods": {
                    "list": {
                      "description": "Lists the Products in a ProductSet, in an unspecified order. If the ProductSet does not exist, the products field of the response will be empty. Possible errors: * Returns INVALID_ARGUMENT if page_size is greater than 100 or less than 1.",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-vision"
                      ],
                      "id": "vision.projects.locations.productSets.products.list",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}/products",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/productSets/{productSetsId}/products",
                      "response": {
                        "$ref": "ListProductsInProductSetResponse"
                      },
                      "parameters": {
                        "name": {
                          "description": "Required. The ProductSet resource for which to retrieve Products. Format is: `projects/PROJECT_ID/locations/LOC_ID/productSets/PRODUCT_SET_ID`",
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/productSets/[^/]+$"
                        },
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "description": "The maximum number of items to return. Default 10, maximum 100.",
                          "format": "int32"
                        },
                        "pageToken": {
                          "description": "The next_page_token returned from a previous List request, if any.",
                          "location": "query",
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            },
            "images": {
              "methods": {
                "asyncBatchAnnotate": {
                  "path": "v1/{+parent}/images:asyncBatchAnnotate",
                  "parameters": {
                    "parent": {
                      "description": "Optional. Target project and location to make a call. Format: `projects/{project-id}/locations/{location-id}`. If no parent is specified, a region will be chosen automatically. Supported location-ids: `us`: USA country only, `asia`: East asia areas, like Japan, Taiwan, `eu`: The European Union. Example: `projects/project-A/locations/eu`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "AsyncBatchAnnotateImagesRequest"
                  },
                  "description": "Run asynchronous image detection and annotation for a list of images. Progress and results can be retrieved through the `google.longrunning.Operations` interface. `Operation.metadata` contains `OperationMetadata` (metadata). `Operation.response` contains `AsyncBatchAnnotateImagesResponse` (results). This service will write image annotation outputs to json files in customer GCS bucket, each json file containing BatchAnnotateImagesResponse proto.",
                  "httpMethod": "POST",
                  "id": "vision.projects.locations.images.asyncBatchAnnotate",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-vision"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/images:asyncBatchAnnotate",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "annotate": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-vision"
                  ],
                  "path": "v1/{+parent}/images:annotate",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Optional. Target project and location to make a call. Format: `projects/{project-id}/locations/{location-id}`. If no parent is specified, a region will be chosen automatically. Supported location-ids: `us`: USA country only, `asia`: East asia areas, like Japan, Taiwan, `eu`: The European Union. Example: `projects/project-A/locations/eu`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "BatchAnnotateImagesRequest"
                  },
                  "httpMethod": "POST",
                  "description": "Run image detection and annotation for a batch of images.",
                  "id": "vision.projects.locations.images.annotate",
                  "response": {
                    "$ref": "BatchAnnotateImagesResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/images:annotate"
                }
              }
            },
            "operations": {
              "methods": {
                "get": {
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "vision.projects.locations.operations.get",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "The name of the operation resource."
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-vision"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "locations": {
      "resources": {
        "operations": {
          "methods": {
            "get": {
              "id": "vision.locations.operations.get",
              "flatPath": "v1/locations/{locationsId}/operations/{operationsId}",
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "parameters": {
                "name": {
                  "description": "The name of the operation resource.",
                  "location": "path",
                  "pattern": "^locations/[^/]+/operations/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-vision"
              ],
              "path": "v1/{+name}",
              "response": {
                "$ref": "Operation"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET"
            }
          }
        }
      }
    },
    "operations": {
      "methods": {
        "get": {
          "flatPath": "v1/operations/{operationsId}",
          "parameterOrder": [
            "name"
          ],
          "id": "vision.operations.get",
          "parameters": {
            "name": {
              "pattern": "^operations/[^/]+$",
              "location": "path",
              "description": "The name of the operation resource.",
              "required": true,
              "type": "string"
            }
          },
          "path": "v1/{+name}",
          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-vision"
          ],
          "response": {
            "$ref": "Operation"
          }
        },
        "list": {
          "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-vision"
          ],
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "pageToken": {
              "description": "The standard list page token.",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "location": "query",
              "description": "The standard list page size.",
              "format": "int32",
              "type": "integer"
            },
            "filter": {
              "type": "string",
              "description": "The standard list filter.",
              "location": "query"
            },
            "name": {
              "type": "string",
              "pattern": "^operations$",
              "location": "path",
              "description": "The name of the operation's parent resource.",
              "required": true
            }
          },
          "flatPath": "v1/operations",
          "httpMethod": "GET",
          "id": "vision.operations.list",
          "path": "v1/{+name}",
          "response": {
            "$ref": "ListOperationsResponse"
          }
        },
        "delete": {
          "flatPath": "v1/operations/{operationsId}",
          "path": "v1/{+name}",
          "id": "vision.operations.delete",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-vision"
          ],
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Empty"
          },
          "parameters": {
            "name": {
              "type": "string",
              "location": "path",
              "pattern": "^operations/.*$",
              "required": true,
              "description": "The name of the operation resource to be deleted."
            }
          },
          "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
          "httpMethod": "DELETE"
        },
        "cancel": {
          "response": {
            "$ref": "Empty"
          },
          "path": "v1/{+name}:cancel",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-vision"
          ],
          "flatPath": "v1/operations/{operationsId}:cancel",
          "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "parameterOrder": [
            "name"
          ],
          "id": "vision.operations.cancel",
          "request": {
            "$ref": "CancelOperationRequest"
          },
          "httpMethod": "POST",
          "parameters": {
            "name": {
              "description": "The name of the operation resource to be cancelled.",
              "required": true,
              "type": "string",
              "location": "path",
              "pattern": "^operations/.*$"
            }
          }
        }
      }
    },
    "files": {
      "methods": {
        "annotate": {
          "parameterOrder": [],
          "httpMethod": "POST",
          "description": "Service that performs image detection and annotation for a batch of files. Now only \"application/pdf\", \"image/tiff\" and \"image/gif\" are supported. This service will extract at most 5 (customers can specify which 5 in AnnotateFileRequest.pages) frames (gif) or pages (pdf or tiff) from each file provided and perform detection and annotation for each image extracted.",
          "flatPath": "v1/files:annotate",
          "request": {
            "$ref": "BatchAnnotateFilesRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-vision"
          ],
          "parameters": {},
          "response": {
            "$ref": "BatchAnnotateFilesResponse"
          },
          "id": "vision.files.annotate",
          "path": "v1/files:annotate"
        },
        "asyncBatchAnnotate": {
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "AsyncBatchAnnotateFilesRequest"
          },
          "id": "vision.files.asyncBatchAnnotate",
          "path": "v1/files:asyncBatchAnnotate",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-vision"
          ],
          "description": "Run asynchronous image detection and annotation for a list of generic files, such as PDF files, which may contain multiple pages and multiple images per page. Progress and results can be retrieved through the `google.longrunning.Operations` interface. `Operation.metadata` contains `OperationMetadata` (metadata). `Operation.response` contains `AsyncBatchAnnotateFilesResponse` (results).",
          "parameterOrder": [],
          "flatPath": "v1/files:asyncBatchAnnotate",
          "parameters": {}
        }
      }
    }
  },
  "basePath": "",
  "version": "v1",
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "fullyEncodeReservedExpansion": true,
  "mtlsRootUrl": "https://vision.mtls.googleapis.com/",
  "revision": "20230710",
  "protocol": "rest",
  "batchPath": "batch",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "rootUrl": "https://vision.googleapis.com/",
  "schemas": {
    "GoogleCloudVisionV1p1beta1InputConfig": {
      "description": "The desired input location and metadata.",
      "properties": {
        "content": {
          "description": "File content, represented as a stream of bytes. Note: As with all `bytes` fields, protobuffers use a pure binary representation, whereas JSON representations use base64. Currently, this field only works for BatchAnnotateFiles requests. It does not work for AsyncBatchAnnotateFiles requests.",
          "format": "byte",
          "type": "string"
        },
        "gcsSource": {
          "description": "The Google Cloud Storage location to read the input from.",
          "$ref": "GoogleCloudVisionV1p1beta1GcsSource"
        },
        "mimeType": {
          "type": "string",
          "description": "The type of the file. Currently only \"application/pdf\", \"image/tiff\" and \"image/gif\" are supported. Wildcards are not supported."
        }
      },
      "id": "GoogleCloudVisionV1p1beta1InputConfig",
      "type": "object"
    },
    "GoogleCloudVisionV1p2beta1ColorInfo": {
      "properties": {
        "color": {
          "$ref": "Color",
          "description": "RGB components of the color."
        },
        "pixelFraction": {
          "format": "float",
          "description": "The fraction of pixels the color occupies in the image. Value in range [0, 1].",
          "type": "number"
        },
        "score": {
          "format": "float",
          "type": "number",
          "description": "Image-specific score for this color. Value in range [0, 1]."
        }
      },
      "id": "GoogleCloudVisionV1p2beta1ColorInfo",
      "description": "Color information consists of RGB channels, score, and the fraction of the image that the color occupies in the image.",
      "type": "object"
    },
    "GoogleCloudVisionV1p3beta1Position": {
      "properties": {
        "x": {
          "format": "float",
          "type": "number",
          "description": "X coordinate."
        },
        "z": {
          "description": "Z coordinate (or depth).",
          "type": "number",
          "format": "float"
        },
        "y": {
          "type": "number",
          "description": "Y coordinate.",
          "format": "float"
        }
      },
      "type": "object",
      "description": "A 3D position in the image, used primarily for Face detection landmarks. A valid Position must have both x and y coordinates. The position coordinates are in the same scale as the original image.",
      "id": "GoogleCloudVisionV1p3beta1Position"
    },
    "ImageSource": {
      "type": "object",
      "properties": {
        "gcsImageUri": {
          "description": "**Use `image_uri` instead.** The Google Cloud Storage URI of the form `gs://bucket_name/object_name`. Object versioning is not supported. See [Google Cloud Storage Request URIs](https://cloud.google.com/storage/docs/reference-uris) for more info.",
          "type": "string"
        },
        "imageUri": {
          "description": "The URI of the source image. Can be either: 1. A Google Cloud Storage URI of the form `gs://bucket_name/object_name`. Object versioning is not supported. See [Google Cloud Storage Request URIs](https://cloud.google.com/storage/docs/reference-uris) for more info. 2. A publicly-accessible image HTTP/HTTPS URL. When fetching images from HTTP/HTTPS URLs, Google cannot guarantee that the request will be completed. Your request may fail if the specified host denies the request (e.g. due to request throttling or DOS prevention), or if Google throttles requests to the site for abuse prevention. You should not depend on externally-hosted images for production applications. When both `gcs_image_uri` and `image_uri` are specified, `image_uri` takes precedence.",
          "type": "string"
        }
      },
      "id": "ImageSource",
      "description": "External image source (Google Cloud Storage or web URL image location)."
    },
    "GoogleCloudVisionV1p1beta1Paragraph": {
      "id": "GoogleCloudVisionV1p1beta1Paragraph",
      "type": "object",
      "description": "Structural unit of text representing a number of words in certain order.",
      "properties": {
        "boundingBox": {
          "$ref": "GoogleCloudVisionV1p1beta1BoundingPoly",
          "description": "The bounding box for the paragraph. The vertices are in the order of top-left, top-right, bottom-right, bottom-left. When a rotation of the bounding box is detected the rotation is represented as around the top-left corner as defined when the text is read in the 'natural' orientation. For example: * when the text is horizontal it might look like: 0----1 | | 3----2 * when it's rotated 180 degrees around the top-left corner it becomes: 2----3 | | 1----0 and the vertex order will still be (0, 1, 2, 3)."
        },
        "words": {
          "type": "array",
          "description": "List of all words in this paragraph.",
          "items": {
            "$ref": "GoogleCloudVisionV1p1beta1Word"
          }
        },
        "confidence": {
          "description": "Confidence of the OCR results for the paragraph. Range [0, 1].",
          "format": "float",
          "type": "number"
        },
        "property": {
          "$ref": "GoogleCloudVisionV1p1beta1TextAnnotationTextProperty",
          "description": "Additional information detected for the paragraph."
        }
      }
    },
    "GoogleCloudVisionV1p2beta1WebDetectionWebImage": {
      "description": "Metadata for online images.",
      "type": "object",
      "properties": {
        "url": {
          "description": "The result image URL.",
          "type": "string"
        },
        "score": {
          "format": "float",
          "description": "(Deprecated) Overall relevancy score for the image.",
          "type": "number"
        }
      },
      "id": "GoogleCloudVisionV1p2beta1WebDetectionWebImage"
    },
    "GoogleCloudVisionV1p3beta1Paragraph": {
      "description": "Structural unit of text representing a number of words in certain order.",
      "type": "object",
      "properties": {
        "boundingBox": {
          "description": "The bounding box for the paragraph. The vertices are in the order of top-left, top-right, bottom-right, bottom-left. When a rotation of the bounding box is detected the rotation is represented as around the top-left corner as defined when the text is read in the 'natural' orientation. For example: * when the text is horizontal it might look like: 0----1 | | 3----2 * when it's rotated 180 degrees around the top-left corner it becomes: 2----3 | | 1----0 and the vertex order will still be (0, 1, 2, 3).",
          "$ref": "GoogleCloudVisionV1p3beta1BoundingPoly"
        },
        "words": {
          "items": {
            "$ref": "GoogleCloudVisionV1p3beta1Word"
          },
          "description": "List of all words in this paragraph.",
          "type": "array"
        },
        "property": {
          "description": "Additional information detected for the paragraph.",
          "$ref": "GoogleCloudVisionV1p3beta1TextAnnotationTextProperty"
        },
        "confidence": {
          "description": "Confidence of the OCR results for the paragraph. Range [0, 1].",
          "type": "number",
          "format": "float"
        }
      },
      "id": "GoogleCloudVisionV1p3beta1Paragraph"
    },
    "BatchOperationMetadata": {
      "properties": {
        "state": {
          "description": "The current state of the batch operation.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PROCESSING",
            "SUCCESSFUL",
            "FAILED",
            "CANCELLED"
          ],
          "enumDescriptions": [
            "Invalid.",
            "Request is actively being processed.",
            "The request is done and at least one item has been successfully processed.",
            "The request is done and no item has been successfully processed.",
            "The request is done after the longrunning.Operations.CancelOperation has been called by the user. Any records that were processed before the cancel command are output as specified in the request."
          ]
        },
        "endTime": {
          "description": "The time when the batch request is finished and google.longrunning.Operation.done is set to true.",
          "format": "google-datetime",
          "type": "string"
        },
        "submitTime": {
          "description": "The time when the batch request was submitted to the server.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "BatchOperationMetadata",
      "description": "Metadata for the batch operations such as the current state. This is included in the `metadata` field of the `Operation` returned by the `GetOperation` call of the `google::longrunning::Operations` service.",
      "type": "object"
    },
    "GoogleCloudVisionV1p1beta1Position": {
      "type": "object",
      "description": "A 3D position in the image, used primarily for Face detection landmarks. A valid Position must have both x and y coordinates. The position coordinates are in the same scale as the original image.",
      "id": "GoogleCloudVisionV1p1beta1Position",
      "properties": {
        "x": {
          "description": "X coordinate.",
          "format": "float",
          "type": "number"
        },
        "y": {
          "format": "float",
          "type": "number",
          "description": "Y coordinate."
        },
        "z": {
          "description": "Z coordinate (or depth).",
          "type": "number",
          "format": "float"
        }
      }
    },
    "GoogleCloudVisionV1p3beta1CropHint": {
      "description": "Single crop hint that is used to generate a new crop when serving an image.",
      "properties": {
        "confidence": {
          "type": "number",
          "description": "Confidence of this being a salient region. Range [0, 1].",
          "format": "float"
        },
        "boundingPoly": {
          "$ref": "GoogleCloudVisionV1p3beta1BoundingPoly",
          "description": "The bounding polygon for the crop region. The coordinates of the bounding box are in the original image's scale."
        },
        "importanceFraction": {
          "type": "number",
          "description": "Fraction of importance of this salient region with respect to the original image.",
          "format": "float"
        }
      },
      "type": "object",
      "id": "GoogleCloudVisionV1p3beta1CropHint"
    },
    "GoogleCloudVisionV1p4beta1TextAnnotation": {
      "description": "TextAnnotation contains a structured representation of OCR extracted text. The hierarchy of an OCR extracted text structure is like this: TextAnnotation -\u003e Page -\u003e Block -\u003e Paragraph -\u003e Word -\u003e Symbol Each structural component, starting from Page, may further have their own properties. Properties describe detected languages, breaks etc.. Please refer to the TextAnnotation.TextProperty message definition below for more detail.",
      "id": "GoogleCloudVisionV1p4beta1TextAnnotation",
      "properties": {
        "pages": {
          "type": "array",
          "description": "List of pages detected by OCR.",
          "items": {
            "$ref": "GoogleCloudVisionV1p4beta1Page"
          }
        },
        "text": {
          "description": "UTF-8 text detected on the pages.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ProductSearchParams": {
      "properties": {
        "filter": {
          "description": "The filtering expression. This can be used to restrict search results based on Product labels. We currently support an AND of OR of key-value expressions, where each expression within an OR must have the same key. An '=' should be used to connect the key and value. For example, \"(color = red OR color = blue) AND brand = Google\" is acceptable, but \"(color = red OR brand = Google)\" is not acceptable. \"color: red\" is not acceptable because it uses a ':' instead of an '='.",
          "type": "string"
        },
        "productSet": {
          "description": "The resource name of a ProductSet to be searched for similar images. Format is: `projects/PROJECT_ID/locations/LOC_ID/productSets/PRODUCT_SET_ID`.",
          "type": "string"
        },
        "boundingPoly": {
          "description": "The bounding polygon around the area of interest in the image. If it is not specified, system discretion will be applied.",
          "$ref": "BoundingPoly"
        },
        "productCategories": {
          "description": "The list of product categories to search in. Currently, we only consider the first category, and either \"homegoods-v2\", \"apparel-v2\", \"toys-v2\", \"packagedgoods-v1\", or \"general-v1\" should be specified. The legacy categories \"homegoods\", \"apparel\", and \"toys\" are still supported but will be deprecated. For new products, please use \"homegoods-v2\", \"apparel-v2\", or \"toys-v2\" for better product search accuracy. It is recommended to migrate existing products to these categories as well.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ProductSearchParams",
      "description": "Parameters for a product search request.",
      "type": "object"
    },
    "GoogleCloudVisionV1p1beta1Vertex": {
      "description": "A vertex represents a 2D point in the image. NOTE: the vertex coordinates are in the same scale as the original image.",
      "id": "GoogleCloudVisionV1p1beta1Vertex",
      "properties": {
        "y": {
          "description": "Y coordinate.",
          "type": "integer",
          "format": "int32"
        },
        "x": {
          "description": "X coordinate.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "GoogleCloudVisionV1p1beta1ProductSearchResultsObjectAnnotation": {
      "properties": {
        "name": {
          "description": "Object name, expressed in its `language_code` language.",
          "type": "string"
        },
        "mid": {
          "type": "string",
          "description": "Object ID that should align with EntityAnnotation mid."
        },
        "languageCode": {
          "type": "string",
          "description": "The BCP-47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see http://www.unicode.org/reports/tr35/#Unicode_locale_identifier."
        },
        "score": {
          "type": "number",
          "description": "Score of the result. Range [0, 1].",
          "format": "float"
        }
      },
      "id": "GoogleCloudVisionV1p1beta1ProductSearchResultsObjectAnnotation",
      "type": "object",
      "description": "Prediction for what the object in the bounding box is."
    },
    "GoogleCloudVisionV1p3beta1InputConfig": {
      "type": "object",
      "properties": {
        "mimeType": {
          "type": "string",
          "description": "The type of the file. Currently only \"application/pdf\", \"image/tiff\" and \"image/gif\" are supported. Wildcards are not supported."
        },
        "gcsSource": {
          "$ref": "GoogleCloudVisionV1p3beta1GcsSource",
          "description": "The Google Cloud Storage location to read the input from."
        },
        "content": {
          "format": "byte",
          "description": "File content, represented as a stream of bytes. Note: As with all `bytes` fields, protobuffers use a pure binary representation, whereas JSON representations use base64. Currently, this field only works for BatchAnnotateFiles requests. It does not work for AsyncBatchAnnotateFiles requests.",
          "type": "string"
        }
      },
      "id": "GoogleCloudVisionV1p3beta1InputConfig",
      "description": "The desired input location and metadata."
    },
    "GoogleCloudVisionV1p2beta1Page": {
      "type": "object",
      "id": "GoogleCloudVisionV1p2beta1Page",
      "properties": {
        "width": {
          "type": "integer",
          "format": "int32",
          "description": "Page width. For PDFs the unit is points. For images (including TIFFs) the unit is pixels."
        },
        "height": {
          "description": "Page height. For PDFs the unit is points. For images (including TIFFs) the unit is pixels.",
          "type": "integer",
          "format": "int32"
        },
        "property": {
          "description": "Additional information detected on the page.",
          "$ref": "GoogleCloudVisionV1p2beta1TextAnnotationTextProperty"
        },
        "confidence": {
          "format": "float",
          "description": "Confidence of the OCR results on the page. Range [0, 1].",
          "type": "number"
        },
        "blocks": {
          "description": "List of blocks of text, images etc on this page.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p2beta1Block"
          }
        }
      },
      "description": "Detected page from OCR."
    },
    "Property": {
      "description": "A `Property` consists of a user-supplied name/value pair.",
      "id": "Property",
      "type": "object",
      "properties": {
        "value": {
          "description": "Value of the property.",
          "type": "string"
        },
        "uint64Value": {
          "format": "uint64",
          "description": "Value of numeric properties.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name of the property."
        }
      }
    },
    "GoogleCloudVisionV1p4beta1Block": {
      "id": "GoogleCloudVisionV1p4beta1Block",
      "properties": {
        "confidence": {
          "type": "number",
          "format": "float",
          "description": "Confidence of the OCR results on the block. Range [0, 1]."
        },
        "property": {
          "description": "Additional information detected for the block.",
          "$ref": "GoogleCloudVisionV1p4beta1TextAnnotationTextProperty"
        },
        "paragraphs": {
          "description": "List of paragraphs in this block (if this blocks is of type text).",
          "items": {
            "$ref": "GoogleCloudVisionV1p4beta1Paragraph"
          },
          "type": "array"
        },
        "blockType": {
          "enum": [
            "UNKNOWN",
            "TEXT",
            "TABLE",
            "PICTURE",
            "RULER",
            "BARCODE"
          ],
          "description": "Detected block type (text, image etc) for this block.",
          "enumDescriptions": [
            "Unknown block type.",
            "Regular text block.",
            "Table block.",
            "Image block.",
            "Horizontal/vertical line box.",
            "Barcode block."
          ],
          "type": "string"
        },
        "boundingBox": {
          "description": "The bounding box for the block. The vertices are in the order of top-left, top-right, bottom-right, bottom-left. When a rotation of the bounding box is detected the rotation is represented as around the top-left corner as defined when the text is read in the 'natural' orientation. For example: * when the text is horizontal it might look like: 0----1 | | 3----2 * when it's rotated 180 degrees around the top-left corner it becomes: 2----3 | | 1----0 and the vertex order will still be (0, 1, 2, 3).",
          "$ref": "GoogleCloudVisionV1p4beta1BoundingPoly"
        }
      },
      "type": "object",
      "description": "Logical element on the page."
    },
    "GoogleCloudVisionV1p4beta1AsyncAnnotateFileResponse": {
      "description": "The response for a single offline file annotation request.",
      "type": "object",
      "properties": {
        "outputConfig": {
          "$ref": "GoogleCloudVisionV1p4beta1OutputConfig",
          "description": "The output location and metadata from AsyncAnnotateFileRequest."
        }
      },
      "id": "GoogleCloudVisionV1p4beta1AsyncAnnotateFileResponse"
    },
    "GoogleCloudVisionV1p4beta1ProductKeyValue": {
      "id": "GoogleCloudVisionV1p4beta1ProductKeyValue",
      "properties": {
        "key": {
          "type": "string",
          "description": "The key of the label attached to the product. Cannot be empty and cannot exceed 128 bytes."
        },
        "value": {
          "description": "The value of the label attached to the product. Cannot be empty and cannot exceed 128 bytes.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A product label represented as a key-value pair."
    },
    "GoogleCloudVisionV1p4beta1BatchAnnotateFilesResponse": {
      "properties": {
        "responses": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p4beta1AnnotateFileResponse"
          },
          "description": "The list of file annotation responses, each response corresponding to each AnnotateFileRequest in BatchAnnotateFilesRequest."
        }
      },
      "id": "GoogleCloudVisionV1p4beta1BatchAnnotateFilesResponse",
      "type": "object",
      "description": "A list of file annotation responses."
    },
    "BatchAnnotateImagesResponse": {
      "description": "Response to a batch image annotation request.",
      "type": "object",
      "id": "BatchAnnotateImagesResponse",
      "properties": {
        "responses": {
          "items": {
            "$ref": "AnnotateImageResponse"
          },
          "description": "Individual responses to image annotation requests within the batch.",
          "type": "array"
        }
      }
    },
    "GoogleCloudVisionV1p2beta1AsyncBatchAnnotateFilesResponse": {
      "properties": {
        "responses": {
          "type": "array",
          "description": "The list of file annotation responses, one for each request in AsyncBatchAnnotateFilesRequest.",
          "items": {
            "$ref": "GoogleCloudVisionV1p2beta1AsyncAnnotateFileResponse"
          }
        }
      },
      "description": "Response to an async batch file annotation request.",
      "id": "GoogleCloudVisionV1p2beta1AsyncBatchAnnotateFilesResponse",
      "type": "object"
    },
    "BoundingPoly": {
      "type": "object",
      "properties": {
        "normalizedVertices": {
          "description": "The bounding polygon normalized vertices.",
          "type": "array",
          "items": {
            "$ref": "NormalizedVertex"
          }
        },
        "vertices": {
          "type": "array",
          "description": "The bounding polygon vertices.",
          "items": {
            "$ref": "Vertex"
          }
        }
      },
      "id": "BoundingPoly",
      "description": "A bounding polygon for the detected image annotation."
    },
    "OutputConfig": {
      "type": "object",
      "properties": {
        "gcsDestination": {
          "description": "The Google Cloud Storage location to write the output(s) to.",
          "$ref": "GcsDestination"
        },
        "batchSize": {
          "type": "integer",
          "description": "The max number of response protos to put into each output JSON file on Google Cloud Storage. The valid range is [1, 100]. If not specified, the default value is 20. For example, for one pdf file with 100 pages, 100 response protos will be generated. If `batch_size` = 20, then 5 json files each containing 20 response protos will be written under the prefix `gcs_destination`.`uri`. Currently, batch_size only applies to GcsDestination, with potential future support for other output configurations.",
          "format": "int32"
        }
      },
      "id": "OutputConfig",
      "description": "The desired output location and metadata."
    },
    "GoogleCloudVisionV1p4beta1GcsSource": {
      "description": "The Google Cloud Storage location where the input will be read from.",
      "id": "GoogleCloudVisionV1p4beta1GcsSource",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Google Cloud Storage URI for the input file. This must only be a Google Cloud Storage object. Wildcards are not currently supported."
        }
      },
      "type": "object"
    },
    "BatchAnnotateImagesRequest": {
      "description": "Multiple image annotation requests are batched into a single service call.",
      "id": "BatchAnnotateImagesRequest",
      "properties": {
        "parent": {
          "type": "string",
          "description": "Optional. Target project and location to make a call. Format: `projects/{project-id}/locations/{location-id}`. If no parent is specified, a region will be chosen automatically. Supported location-ids: `us`: USA country only, `asia`: East asia areas, like Japan, Taiwan, `eu`: The European Union. Example: `projects/project-A/locations/eu`."
        },
        "requests": {
          "items": {
            "$ref": "AnnotateImageRequest"
          },
          "type": "array",
          "description": "Required. Individual image annotation requests for this batch."
        }
      },
      "type": "object"
    },
    "LatLongRect": {
      "type": "object",
      "description": "Rectangle determined by min and max `LatLng` pairs.",
      "id": "LatLongRect",
      "properties": {
        "maxLatLng": {
          "$ref": "LatLng",
          "description": "Max lat/long pair."
        },
        "minLatLng": {
          "$ref": "LatLng",
          "description": "Min lat/long pair."
        }
      }
    },
    "ImportProductSetsGcsSource": {
      "description": "The Google Cloud Storage location for a csv file which preserves a list of ImportProductSetRequests in each line.",
      "type": "object",
      "id": "ImportProductSetsGcsSource",
      "properties": {
        "csvFileUri": {
          "description": "The Google Cloud Storage URI of the input csv file. The URI must start with `gs://`. The format of the input csv file should be one image per line. In each line, there are 8 columns. 1. image-uri 2. image-id 3. product-set-id 4. product-id 5. product-category 6. product-display-name 7. labels 8. bounding-poly The `image-uri`, `product-set-id`, `product-id`, and `product-category` columns are required. All other columns are optional. If the `ProductSet` or `Product` specified by the `product-set-id` and `product-id` values does not exist, then the system will create a new `ProductSet` or `Product` for the image. In this case, the `product-display-name` column refers to display_name, the `product-category` column refers to product_category, and the `labels` column refers to product_labels. The `image-id` column is optional but must be unique if provided. If it is empty, the system will automatically assign a unique id to the image. The `product-display-name` column is optional. If it is empty, the system sets the display_name field for the product to a space (\" \"). You can update the `display_name` later by using the API. If a `Product` with the specified `product-id` already exists, then the system ignores the `product-display-name`, `product-category`, and `labels` columns. The `labels` column (optional) is a line containing a list of comma-separated key-value pairs, in the following format: \"key_1=value_1,key_2=value_2,...,key_n=value_n\" The `bounding-poly` column (optional) identifies one region of interest from the image in the same manner as `CreateReferenceImage`. If you do not specify the `bounding-poly` column, then the system will try to detect regions of interest automatically. At most one `bounding-poly` column is allowed per line. If the image contains multiple regions of interest, add a line to the CSV file that includes the same product information, and the `bounding-poly` values for each region of interest. The `bounding-poly` column must contain an even number of comma-separated numbers, in the format \"p1_x,p1_y,p2_x,p2_y,...,pn_x,pn_y\". Use non-negative integers for absolute bounding polygons, and float values in [0, 1] for normalized bounding polygons. The system will resize the image if the image resolution is too large to process (larger than 20MP).",
          "type": "string"
        }
      }
    },
    "GoogleCloudVisionV1p3beta1AnnotateFileResponse": {
      "properties": {
        "inputConfig": {
          "$ref": "GoogleCloudVisionV1p3beta1InputConfig",
          "description": "Information about the file for which this response is generated."
        },
        "totalPages": {
          "description": "This field gives the total number of pages in the file.",
          "type": "integer",
          "format": "int32"
        },
        "error": {
          "description": "If set, represents the error message for the failed request. The `responses` field will not be set in this case.",
          "$ref": "Status"
        },
        "responses": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p3beta1AnnotateImageResponse"
          },
          "description": "Individual responses to images found within the file. This field will be empty if the `error` field is set."
        }
      },
      "id": "GoogleCloudVisionV1p3beta1AnnotateFileResponse",
      "description": "Response to a single file annotation request. A file may contain one or more images, which individually have their own responses.",
      "type": "object"
    },
    "GoogleCloudVisionV1p1beta1TextAnnotationTextProperty": {
      "type": "object",
      "id": "GoogleCloudVisionV1p1beta1TextAnnotationTextProperty",
      "properties": {
        "detectedLanguages": {
          "type": "array",
          "description": "A list of detected languages together with confidence.",
          "items": {
            "$ref": "GoogleCloudVisionV1p1beta1TextAnnotationDetectedLanguage"
          }
        },
        "detectedBreak": {
          "$ref": "GoogleCloudVisionV1p1beta1TextAnnotationDetectedBreak",
          "description": "Detected start or end of a text segment."
        }
      },
      "description": "Additional information detected on the structural component."
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "GoogleCloudVisionV1p1beta1ProductSearchResults": {
      "type": "object",
      "properties": {
        "results": {
          "items": {
            "$ref": "GoogleCloudVisionV1p1beta1ProductSearchResultsResult"
          },
          "type": "array",
          "description": "List of results, one for each product match."
        },
        "productGroupedResults": {
          "items": {
            "$ref": "GoogleCloudVisionV1p1beta1ProductSearchResultsGroupedResult"
          },
          "description": "List of results grouped by products detected in the query image. Each entry corresponds to one bounding polygon in the query image, and contains the matching products specific to that region. There may be duplicate product matches in the union of all the per-product results.",
          "type": "array"
        },
        "indexTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Timestamp of the index which provided these results. Products added to the product set and products removed from the product set after this time are not reflected in the current results."
        }
      },
      "id": "GoogleCloudVisionV1p1beta1ProductSearchResults",
      "description": "Results for a product search request."
    },
    "GoogleCloudVisionV1p1beta1ProductKeyValue": {
      "properties": {
        "value": {
          "type": "string",
          "description": "The value of the label attached to the product. Cannot be empty and cannot exceed 128 bytes."
        },
        "key": {
          "type": "string",
          "description": "The key of the label attached to the product. Cannot be empty and cannot exceed 128 bytes."
        }
      },
      "description": "A product label represented as a key-value pair.",
      "type": "object",
      "id": "GoogleCloudVisionV1p1beta1ProductKeyValue"
    },
    "GoogleCloudVisionV1p4beta1Symbol": {
      "id": "GoogleCloudVisionV1p4beta1Symbol",
      "properties": {
        "confidence": {
          "description": "Confidence of the OCR results for the symbol. Range [0, 1].",
          "type": "number",
          "format": "float"
        },
        "text": {
          "description": "The actual UTF-8 representation of the symbol.",
          "type": "string"
        },
        "boundingBox": {
          "description": "The bounding box for the symbol. The vertices are in the order of top-left, top-right, bottom-right, bottom-left. When a rotation of the bounding box is detected the rotation is represented as around the top-left corner as defined when the text is read in the 'natural' orientation. For example: * when the text is horizontal it might look like: 0----1 | | 3----2 * when it's rotated 180 degrees around the top-left corner it becomes: 2----3 | | 1----0 and the vertex order will still be (0, 1, 2, 3).",
          "$ref": "GoogleCloudVisionV1p4beta1BoundingPoly"
        },
        "property": {
          "description": "Additional information detected for the symbol.",
          "$ref": "GoogleCloudVisionV1p4beta1TextAnnotationTextProperty"
        }
      },
      "description": "A single symbol representation.",
      "type": "object"
    },
    "Vertex": {
      "description": "A vertex represents a 2D point in the image. NOTE: the vertex coordinates are in the same scale as the original image.",
      "type": "object",
[...]
