{
  "discoveryVersion": "v1",
  "id": "vmmigration:v1alpha1",
  "batchPath": "batch",
  "parameters": {
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "alt": {
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response."
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    }
  },
  "ownerName": "Google",
  "version": "v1alpha1",
  "basePath": "",
  "version_module": true,
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "name": "vmmigration",
  "description": "Use the Migrate to Virtual Machines API to programmatically migrate workloads. ",
  "schemas": {
    "UpgradeStatus": {
      "properties": {
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "FAILED",
            "SUCCEEDED"
          ],
          "enumDescriptions": [
            "The state was not sampled by the health checks yet.",
            "The upgrade has started.",
            "The upgrade failed.",
            "The upgrade finished successfully."
          ],
          "description": "The state of the upgradeAppliance operation."
        },
        "version": {
          "type": "string",
          "description": "The version to upgrade to."
        },
        "error": {
          "description": "Provides details on the state of the upgrade operation in case of an error.",
          "$ref": "Status"
        },
        "startTime": {
          "format": "google-datetime",
          "description": "The time the operation was started.",
          "type": "string"
        },
        "previousVersion": {
          "description": "The version from which we upgraded.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "UpgradeStatus contains information about upgradeAppliance operation.",
      "id": "UpgradeStatus"
    },
    "AwsVmsDetails": {
      "type": "object",
      "description": "AWSVmsDetails describes VMs in AWS.",
      "id": "AwsVmsDetails",
      "properties": {
        "details": {
          "type": "array",
          "items": {
            "$ref": "AwsVmDetails"
          },
          "description": "The details of the AWS VMs."
        }
      }
    },
    "PauseMigrationRequest": {
      "id": "PauseMigrationRequest",
      "description": "Request message for 'PauseMigration' request.",
      "properties": {},
      "type": "object"
    },
    "MigratingVm": {
      "type": "object",
      "id": "MigratingVm",
      "properties": {
        "targetDefaults": {
          "$ref": "TargetVMDetails",
          "description": "The default configuration of the target VM that will be created in GCP as a result of the migration. Deprecated: Use compute_engine_target_defaults instead."
        },
        "computeEngineVmDefaults": {
          "$ref": "TargetVMDetails",
          "description": "Details of the VM in Compute Engine. Deprecated: Use compute_engine_target_defaults instead."
        },
        "stateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The last time the migrating VM state was updated."
        },
        "sourceVmId": {
          "type": "string",
          "description": "The unique ID of the VM in the source. The VM's name in vSphere can be changed, so this is not the VM's name but rather its moRef id. This id is of the form vm-."
        },
        "description": {
          "description": "The description attached to the migrating VM by the user.",
          "type": "string"
        },
        "policy": {
          "$ref": "SchedulePolicy",
          "description": "The replication schedule policy."
        },
        "currentSyncInfo": {
          "readOnly": true,
          "$ref": "ReplicationCycle",
          "description": "Output only. The percentage progress of the current running replication cycle."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the migrating VM was created (this refers to this resource and not to the time it was installed in the source).",
          "readOnly": true
        },
        "name": {
          "description": "Output only. The identifier of the MigratingVm.",
          "type": "string",
          "readOnly": true
        },
        "recentCloneJobs": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. The recent clone jobs performed on the migrating VM. This field holds the vm's last completed clone job and the vm's running clone job, if one exists. Note: To have this field populated you need to explicitly request it via the \"view\" parameter of the Get/List request.",
          "items": {
            "$ref": "CloneJob"
          }
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The labels of the migrating VM."
        },
        "lastSync": {
          "readOnly": true,
          "$ref": "ReplicationSync",
          "description": "Output only. The most updated snapshot created time in the source that finished replication."
        },
        "state": {
          "readOnly": true,
          "description": "Output only. State of the MigratingVm.",
          "enumDescriptions": [
            "The state was not sampled by the health checks yet.",
            "The VM in the source is being verified.",
            "The source VM was verified, and it's ready to start replication.",
            "Migration is going through the first sync cycle.",
            "The replication is active, and it's running or scheduled to run.",
            "The source VM is being turned off, and a final replication is currently running.",
            "The source VM was stopped and replicated. The replication is currently paused.",
            "A cutover job is active and replication cycle is running the final sync.",
            "The replication was paused by the user and no cycles are scheduled to run.",
            "The migrating VM is being finalized and migration resources are being removed.",
            "The replication process is done. The migrating VM is finalized and no longer consumes billable resources.",
            "The replication process encountered an unrecoverable error and was aborted."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "READY",
            "FIRST_SYNC",
            "ACTIVE",
            "CUTTING_OVER",
            "CUTOVER",
            "FINAL_SYNC",
            "PAUSED",
            "FINALIZING",
            "FINALIZED",
            "ERROR"
          ]
        },
        "displayName": {
          "description": "The display name attached to the MigratingVm by the user.",
          "type": "string"
        },
        "computeEngineTargetDefaults": {
          "$ref": "ComputeEngineTargetDefaults",
          "description": "Details of the target VM in Compute Engine."
        },
        "recentCutoverJobs": {
          "type": "array",
          "items": {
            "$ref": "CutoverJob"
          },
          "description": "Output only. The recent cutover jobs performed on the migrating VM. This field holds the vm's last completed cutover job and the vm's running cutover job, if one exists. Note: To have this field populated you need to explicitly request it via the \"view\" parameter of the Get/List request.",
          "readOnly": true
        },
        "error": {
          "$ref": "Status",
          "description": "Output only. Provides details on the state of the Migrating VM in case of an error in replication.",
          "readOnly": true
        },
        "awsSourceVmDetails": {
          "$ref": "AwsSourceVmDetails",
          "description": "Output only. Details of the VM from an AWS source.",
          "readOnly": true
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The last time the migrating VM resource was updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "group": {
          "readOnly": true,
          "description": "Output only. The group this migrating vm is included in, if any. The group is represented by the full path of the appropriate Group resource.",
          "type": "string"
        }
      },
      "description": "MigratingVm describes the VM that will be migrated from a Source environment and its replication state."
    },
    "ComputeEngineTargetDetails": {
      "description": "ComputeEngineTargetDetails is a collection of details for creating a VM in a target Compute Engine project.",
      "type": "object",
      "properties": {
        "metadata": {
          "type": "object",
          "description": "The metadata key/value pairs to assign to the VM.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "diskType": {
          "enumDescriptions": [
            "An unspecified disk type. Will be used as STANDARD.",
            "A Standard disk type.",
            "SSD hard disk type.",
            "An alternative to SSD persistent disks that balance performance and cost."
          ],
          "type": "string",
          "description": "The disk type to use in the VM.",
          "enum": [
            "COMPUTE_ENGINE_DISK_TYPE_UNSPECIFIED",
            "COMPUTE_ENGINE_DISK_TYPE_STANDARD",
            "COMPUTE_ENGINE_DISK_TYPE_SSD",
            "COMPUTE_ENGINE_DISK_TYPE_BALANCED"
          ]
        },
        "appliedLicense": {
          "description": "The OS license returned from the adaptation module report.",
          "$ref": "AppliedLicense"
        },
        "networkTags": {
          "description": "A map of network tags to associate with the VM.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "networkInterfaces": {
          "type": "array",
          "description": "List of NICs connected to this VM.",
          "items": {
            "$ref": "NetworkInterface"
          }
        },
        "machineTypeSeries": {
          "description": "The machine type series to create the VM with.",
          "type": "string"
        },
        "serviceAccount": {
          "description": "The service account to associate the VM with.",
          "type": "string"
        },
        "computeScheduling": {
          "$ref": "ComputeScheduling",
          "description": "Compute instance scheduling information (if empty default is used)."
        },
        "hostname": {
          "type": "string",
          "description": "The hostname to assign to the VM."
        },
        "additionalLicenses": {
          "type": "array",
          "description": "Additional licenses to assign to the VM.",
          "items": {
            "type": "string"
          }
        },
        "zone": {
          "description": "The zone in which to create the VM.",
          "type": "string"
        },
        "vmName": {
          "type": "string",
          "description": "The name of the VM to create."
        },
        "project": {
          "type": "string",
          "description": "The GCP target project ID or project name."
        },
        "labels": {
          "description": "A map of labels to associate with the VM.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "licenseType": {
          "enum": [
            "COMPUTE_ENGINE_LICENSE_TYPE_DEFAULT",
            "COMPUTE_ENGINE_LICENSE_TYPE_PAYG",
            "COMPUTE_ENGINE_LICENSE_TYPE_BYOL"
          ],
          "description": "The license type to use in OS adaptation.",
          "enumDescriptions": [
            "The license type is the default for the OS.",
            "The license type is Pay As You Go license type.",
            "The license type is Bring Your Own License type."
          ],
          "type": "string"
        },
        "secureBoot": {
          "type": "boolean",
          "description": "Defines whether the instance has Secure Boot enabled. This can be set to true only if the vm boot option is EFI."
        },
        "machineType": {
          "description": "The machine type to create the VM with.",
          "type": "string"
        },
        "bootOption": {
          "enum": [
            "COMPUTE_ENGINE_BOOT_OPTION_UNSPECIFIED",
            "COMPUTE_ENGINE_BOOT_OPTION_EFI",
            "COMPUTE_ENGINE_BOOT_OPTION_BIOS"
          ],
          "description": "The VM Boot Option, as set in the source vm.",
          "type": "string",
          "enumDescriptions": [
            "The boot option is unknown.",
            "The boot option is EFI.",
            "The boot option is BIOS."
          ]
        }
      },
      "id": "ComputeEngineTargetDetails"
    },
    "ListCloneJobsResponse": {
      "description": "Response message for 'ListCloneJobs' request.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "readOnly": true,
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "readOnly": true,
          "description": "Output only. Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "cloneJobs": {
          "readOnly": true,
          "description": "Output only. The list of clone jobs response.",
          "items": {
            "$ref": "CloneJob"
          },
          "type": "array"
        }
      },
      "id": "ListCloneJobsResponse"
    },
    "Location": {
      "type": "object",
      "properties": {
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        }
      },
      "id": "Location",
      "description": "A resource that represents Google Cloud Platform location."
    },
    "FinalizeMigrationRequest": {
      "description": "Request message for 'FinalizeMigration' request.",
      "properties": {},
      "type": "object",
      "id": "FinalizeMigrationRequest"
    },
    "AccessKeyCredentials": {
      "description": "Message describing AWS Credentials using access key id and secret.",
      "properties": {
        "secretAccessKey": {
          "description": "Input only. AWS secret access key.",
          "type": "string"
        },
        "accessKeyId": {
          "type": "string",
          "description": "AWS access key ID."
        }
      },
      "id": "AccessKeyCredentials",
      "type": "object"
    },
    "FetchInventoryResponse": {
      "id": "FetchInventoryResponse",
      "properties": {
        "awsVms": {
          "description": "The description of the VMs in a Source of type AWS.",
          "$ref": "AwsVmsDetails"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. The timestamp when the source was last queried (if the result is from the cache).",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "vmwareVms": {
          "$ref": "VmwareVmsDetails",
          "description": "The description of the VMs in a Source of type Vmware."
        }
      },
      "type": "object",
      "description": "Response message for fetchInventory."
    },
    "VmwareVmsDetails": {
      "type": "object",
      "id": "VmwareVmsDetails",
      "description": "VmwareVmsDetails describes VMs in vCenter.",
      "properties": {
        "details": {
          "description": "The details of the vmware VMs.",
          "items": {
            "$ref": "VmwareVmDetails"
          },
          "type": "array"
        }
      }
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        },
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        }
      },
      "id": "Status",
      "type": "object"
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "CutoverJob": {
      "type": "object",
      "properties": {
        "stateTime": {
          "readOnly": true,
          "description": "Output only. The time the state was last updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "computeEngineVmDetails": {
          "readOnly": true,
          "description": "Output only. Details of the VM in Compute Engine. Deprecated: Use compute_engine_target_details instead.",
          "$ref": "TargetVMDetails"
        },
        "steps": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The cutover steps list representing its progress.",
          "items": {
            "$ref": "CutoverStep"
          }
        },
        "progressPercent": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. The current progress in percentage of the cutover job.",
          "readOnly": true
        },
        "progress": {
          "readOnly": true,
          "description": "Output only. The current progress in percentage of the cutover job.",
          "type": "integer",
          "format": "int32"
        },
        "endTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the cutover job had finished."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the cutover job was created (as an API call, not when it was actually created in the target)."
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. State of the cutover job.",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "FAILED",
            "SUCCEEDED",
            "CANCELLED",
            "CANCELLING",
            "ACTIVE",
            "ADAPTING_OS"
          ],
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
            "The cutover job has not yet started.",
            "The cutover job finished with errors.",
            "The cutover job finished successfully.",
            "The cutover job was cancelled.",
            "The cutover job is being cancelled.",
            "The cutover job is active and running.",
            "OS adaptation is running as part of the cutover job to generate license."
          ]
        },
        "computeEngineTargetDetails": {
          "readOnly": true,
          "description": "Output only. Details of the target VM in Compute Engine.",
          "$ref": "ComputeEngineTargetDetails"
        },
        "stateMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A message providing possible extra details about the current state."
        },
        "name": {
          "description": "Output only. The name of the cutover job.",
          "readOnly": true,
          "type": "string"
        },
        "targetDetails": {
          "readOnly": true,
          "description": "Output only. Details of the VM to create as the target of this cutover job. Deprecated: Use compute_engine_target_details instead.",
          "$ref": "TargetVMDetails"
        },
        "error": {
          "$ref": "Status",
          "description": "Output only. Provides details for the errors that led to the Cutover Job's state.",
          "readOnly": true
        }
      },
      "id": "CutoverJob",
      "description": "CutoverJob message describes a cutover of a migrating VM. The CutoverJob is the operation of shutting down the VM, creating a snapshot and clonning the VM using the replicated snapshot."
    },
    "CycleStep": {
      "properties": {
        "startTime": {
          "type": "string",
          "description": "The time the cycle step has started.",
          "format": "google-datetime"
        },
        "postProcessing": {
          "description": "Post processing step.",
          "$ref": "PostProcessingStep"
        },
        "endTime": {
          "description": "The time the cycle step has ended.",
          "format": "google-datetime",
          "type": "string"
        },
        "initializingReplication": {
          "$ref": "InitializingReplicationStep",
          "description": "Initializing replication step."
        },
        "replicating": {
          "$ref": "ReplicatingStep",
          "description": "Replicating step."
        }
      },
      "type": "object",
      "description": "CycleStep holds information about a step progress.",
      "id": "CycleStep"
    },
    "ResumeMigrationRequest": {
      "properties": {},
      "description": "Request message for 'ResumeMigration' request.",
      "id": "ResumeMigrationRequest",
      "type": "object"
    },
    "AwsSourceVmDetails": {
      "properties": {
        "committedStorageBytes": {
          "format": "int64",
          "description": "The total size of the disks being migrated in bytes.",
          "type": "string"
        },
        "firmware": {
          "enum": [
            "FIRMWARE_UNSPECIFIED",
            "EFI",
            "BIOS"
          ],
          "enumDescriptions": [
            "The firmware is unknown.",
            "The firmware is EFI.",
            "The firmware is BIOS."
          ],
          "type": "string",
          "description": "The firmware type of the source VM."
        }
      },
      "type": "object",
      "description": "Represent the source AWS VM details.",
      "id": "AwsSourceVmDetails"
    },
    "MigrationError": {
      "description": "Represents migration resource error information that can be used with google.rpc.Status message. MigrationError is used to present the user with error information in migration operations.",
      "type": "object",
      "properties": {
        "errorTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the error occurred."
        },
        "code": {
          "description": "Output only. The error code.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is not used.",
            "Migrate for Compute encountered an unknown error.",
            "Migrate for Compute encountered an error while validating replication source health.",
            "Migrate for Compute encountered an error during source data operation.",
            "Migrate for Compute encountered an error during target data operation.",
            "Migrate for Compute encountered an error during OS adaptation.",
            "Migrate for Compute encountered an error in clone operation.",
            "Migrate for Compute encountered an error in cutover operation.",
            "Migrate for Compute encountered an error during utilization report creation.",
            "Migrate for Compute encountered an error during appliance upgrade."
          ],
          "enum": [
            "ERROR_CODE_UNSPECIFIED",
            "UNKNOWN_ERROR",
            "SOURCE_VALIDATION_ERROR",
            "SOURCE_REPLICATION_ERROR",
            "TARGET_REPLICATION_ERROR",
            "OS_ADAPTATION_ERROR",
            "CLONE_ERROR",
            "CUTOVER_ERROR",
            "UTILIZATION_REPORT_ERROR",
            "APPLIANCE_UPGRADE_ERROR"
          ],
          "readOnly": true
        },
        "errorMessage": {
          "readOnly": true,
          "$ref": "LocalizedMessage",
          "description": "Output only. The localized error message."
        },
        "actionItem": {
          "description": "Output only. Suggested action for solving the error.",
          "$ref": "LocalizedMessage",
          "readOnly": true
        },
        "helpLinks": {
          "items": {
            "$ref": "Link"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. URL(s) pointing to additional information on handling the current error."
        }
      },
      "id": "MigrationError"
    },
    "DatacenterConnector": {
      "id": "DatacenterConnector",
      "properties": {
        "registrationId": {
          "description": "Immutable. A unique key for this connector. This key is internal to the OVA connector and is supplied with its creation during the registration process and can not be modified.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "OFFLINE",
            "FAILED",
            "ACTIVE"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
            "The state was not sampled by the health checks yet.",
            "The source was sampled by health checks and is not available.",
            "The source is available but might not be usable yet due to unvalidated credentials or another reason. The credentials referred to are the ones to the Source. The error message will contain further details.",
            "The source exists and its credentials were verified."
          ],
          "description": "Output only. State of the DatacenterConnector, as determined by the health checks."
        },
        "stateTime": {
          "description": "Output only. The time the state was last set.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Output only. The connector's name.",
          "readOnly": true
        },
        "upgradeStatus": {
          "readOnly": true,
          "$ref": "UpgradeStatus",
          "description": "Output only. The status of the current / last upgradeAppliance operation."
        },
        "applianceInfrastructureVersion": {
          "description": "Output only. Appliance OVA version. This is the OVA which is manually installed by the user and contains the infrastructure for the automatically updatable components on the appliance.",
          "readOnly": true,
          "type": "string"
        },
        "availableVersions": {
          "description": "Output only. The available versions for updating this appliance.",
          "readOnly": true,
          "$ref": "AvailableUpdates"
        },
        "version": {
          "description": "The version running in the DatacenterConnector. This is supplied by the OVA connector during the registration process and can not be modified.",
          "type": "string"
        },
        "serviceAccount": {
          "description": "The service account to use in the connector when communicating with the cloud.",
          "type": "string"
        },
        "bucket": {
          "description": "Output only. The communication channel between the datacenter connector and GCP.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time the connector was created (as an API call, not when it was actually installed).",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "applianceSoftwareVersion": {
          "description": "Output only. Appliance last installed update bundle version. This is the version of the automatically updatable components on the appliance.",
          "type": "string",
          "readOnly": true
        },
        "error": {
          "readOnly": true,
          "$ref": "Status",
          "description": "Output only. Provides details on the state of the Datacenter Connector in case of an error."
        },
        "updateTime": {
          "description": "Output only. The last time the connector was updated with an API call.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "DatacenterConnector message describes a connector between the Source and GCP, which is installed on a vmware datacenter (an OVA vm installed by the user) to connect the Datacenter to GCP and support vm migration data transfer."
    },
    "VmwareSourceDetails": {
      "id": "VmwareSourceDetails",
      "properties": {
        "thumbprint": {
          "type": "string",
          "description": "The thumbprint representing the certificate for the vcenter."
        },
        "password": {
          "type": "string",
          "description": "Input only. The credentials password. This is write only and can not be read in a GET operation."
        },
        "vcenterIp": {
          "description": "The ip address of the vcenter this Source represents.",
          "type": "string"
        },
        "username": {
          "description": "The credentials username.",
          "type": "string"
        }
      },
      "description": "VmwareSourceDetails message describes a specific source details for the vmware source type.",
      "type": "object"
    },
    "SchedulePolicy": {
      "type": "object",
      "description": "A policy for scheduling replications.",
      "properties": {
        "idleDuration": {
          "description": "The idle duration between replication stages.",
          "type": "string",
          "format": "google-duration"
        },
        "skipOsAdaptation": {
          "type": "boolean",
          "description": "A flag to indicate whether to skip OS adaptation during the replication sync. OS adaptation is a process where the VM's operating system undergoes changes and adaptations to fully function on Compute Engine."
        }
      },
      "id": "SchedulePolicy"
    },
    "CancelCloneJobRequest": {
      "description": "Request message for 'CancelCloneJob' request.",
      "id": "CancelCloneJobRequest",
      "properties": {},
      "type": "object"
    },
    "TargetVMDetails": {
      "type": "object",
      "id": "TargetVMDetails",
      "properties": {
        "diskType": {
          "enum": [
            "DISK_TYPE_UNSPECIFIED",
            "STANDARD",
            "BALANCED",
            "SSD"
          ],
          "enumDescriptions": [
            "An unspecified disk type. Will be used as STANDARD.",
            "A Standard disk type.",
            "An alternative to SSD persistent disks that balance performance and cost.",
            "SSD hard disk type."
          ],
          "description": "The disk type to use in the VM.",
          "type": "string"
        },
        "computeScheduling": {
          "$ref": "ComputeScheduling",
          "description": "Compute instance scheduling information (if empty default is used)."
        },
        "project": {
          "readOnly": true,
          "description": "Output only. The project in which to create the VM.",
          "type": "string"
        },
        "machineTypeSeries": {
          "type": "string",
          "description": "The machine type series to create the VM with."
        },
        "licenseType": {
          "enum": [
            "DEFAULT",
            "PAYG",
            "BYOL"
          ],
          "enumDescriptions": [
            "The license type is the default for the OS.",
            "The license type is Pay As You Go license type.",
            "The license type is Bring Your Own License type."
          ],
          "description": "The license type to use in OS adaptation.",
          "type": "string"
        },
        "networkInterfaces": {
          "description": "List of NICs connected to this VM.",
          "items": {
            "$ref": "NetworkInterface"
          },
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "The name of the VM to create."
        },
        "internalIp": {
          "type": "string",
          "description": "The internal IP to define in the VM. The formats accepted are: `ephemeral` \\ ipv4 address \\ a named address resource full path."
        },
        "subnetwork": {
          "description": "The subnetwork to connect the VM to.",
          "type": "string"
        },
        "targetProject": {
          "description": "The full path of the resource of type TargetProject which represents the Compute Engine project in which to create this VM.",
          "type": "string"
        },
        "machineType": {
          "description": "The machine type to create the VM with.",
          "type": "string"
        },
        "network": {
          "description": "The network to connect the VM to.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "A map of labels to associate with the VM."
        },
        "zone": {
          "type": "string",
          "description": "The zone in which to create the VM."
        },
        "externalIp": {
          "type": "string",
          "description": "The external IP to define in the VM."
        },
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "The metadata key/value pairs to assign to the VM."
        },
        "appliedLicense": {
          "$ref": "AppliedLicense",
          "readOnly": true,
          "description": "Output only. The OS license returned from the adaptation module report."
        },
        "secureBoot": {
          "type": "boolean",
          "description": "Defines whether the instance has Secure Boot enabled. This can be set to true only if the vm boot option is EFI."
        },
        "serviceAccount": {
          "description": "The service account to associate the VM with.",
          "type": "string"
        },
        "networkTags": {
          "description": "A map of network tags to associate with the VM.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "bootOption": {
          "type": "string",
          "enumDescriptions": [
            "The boot option is unknown.",
            "The boot option is EFI.",
            "The boot option is BIOS."
          ],
          "enum": [
            "BOOT_OPTION_UNSPECIFIED",
            "EFI",
            "BIOS"
          ],
          "readOnly": true,
          "description": "Output only. The VM Boot Option, as set in the source vm."
        }
      },
      "description": "TargetVMDetails is a collection of details for creating a VM in a target Compute Engine project."
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          },
          "type": "array"
        }
      }
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "id": "Operation",
      "properties": {
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "response": {
          "type": "object",
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        }
      }
    },
    "CancelCutoverJobRequest": {
      "type": "object",
      "properties": {},
      "description": "Request message for 'CancelCutoverJob' request.",
      "id": "CancelCutoverJobRequest"
    },
    "CancelOperationRequest": {
      "properties": {},
      "type": "object",
      "description": "The request message for Operations.CancelOperation.",
      "id": "CancelOperationRequest"
    },
    "UpgradeApplianceRequest": {
      "properties": {
        "requestId": {
          "type": "string",
          "description": "A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and t he request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        }
      },
      "id": "UpgradeApplianceRequest",
      "description": "Request message for 'UpgradeAppliance' request.",
      "type": "object"
    },
    "Link": {
      "id": "Link",
      "type": "object",
      "properties": {
        "url": {
          "type": "string",
          "description": "The URL of the link."
        },
        "description": {
          "description": "Describes what the link offers.",
          "type": "string"
        }
      },
      "description": "Describes a URL link."
    },
    "SchedulingNodeAffinity": {
      "type": "object",
      "properties": {
        "values": {
          "description": "Corresponds to the label values of Node resource.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "operator": {
          "enumDescriptions": [
            "An unknown, unexpected behavior.",
            "The node resource group should be in these resources affinity.",
            "The node resource group should not be in these resources affinity."
          ],
          "description": "The operator to use for the node resources specified in the `values` parameter.",
          "type": "string",
          "enum": [
            "OPERATOR_UNSPECIFIED",
            "IN",
            "NOT_IN"
          ]
        },
        "key": {
          "type": "string",
          "description": "The label key of Node resource to reference."
        }
      },
      "id": "SchedulingNodeAffinity",
      "description": "Node Affinity: the configuration of desired nodes onto which this Instance could be scheduled. Based on https://cloud.google.com/compute/docs/reference/rest/v1/instances/setScheduling"
    },
    "AwsVmDetails": {
      "properties": {
        "architecture": {
          "type": "string",
          "description": "The CPU architecture.",
          "enum": [
            "VM_ARCHITECTURE_UNSPECIFIED",
            "I386",
            "X86_64",
            "ARM64",
            "X86_64_MAC"
          ],
          "enumDescriptions": [
            "The architecture is unknown.",
            "The architecture is I386.",
            "The architecture is X86_64.",
            "The architecture is ARM64.",
            "The architecture is X86_64_MAC."
          ]
        },
        "diskCount": {
          "format": "int32",
          "type": "integer",
          "description": "The number of disks the VM has."
        },
        "instanceType": {
          "type": "string",
          "description": "The instance type of the VM."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The tags of the VM."
        },
        "sourceId": {
          "type": "string",
          "description": "The id of the AWS's source this VM is connected to."
        },
        "vmId": {
          "type": "string",
          "description": "The VM ID in AWS."
        },
        "osDescription": {
          "type": "string",
          "description": "The VM's OS."
        },
        "sourceDescription": {
          "type": "string",
          "description": "The descriptive name of the AWS's source this VM is connected to."
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the VM. Note that this value is not necessarily unique."
        },
        "vpcId": {
          "type": "string",
          "description": "The VPC ID the VM belongs to."
        },
        "bootOption": {
          "enum": [
            "BOOT_OPTION_UNSPECIFIED",
            "EFI",
            "BIOS"
          ],
          "enumDescriptions": [
            "The boot option is unknown.",
            "The boot option is UEFI.",
            "The boot option is LEGACY-BIOS."
          ],
          "type": "string",
          "description": "The VM Boot Option."
        },
        "powerState": {
          "enumDescriptions": [
            "Power state is not specified.",
            "The VM is turned on.",
            "The VM is turned off.",
            "The VM is suspended. This is similar to hibernation or sleep mode.",
            "The VM is starting."
          ],
          "readOnly": true,
          "description": "Output only. The power state of the VM at the moment list was taken.",
          "enum": [
            "POWER_STATE_UNSPECIFIED",
            "ON",
            "OFF",
            "SUSPENDED",
            "PENDING"
          ],
          "type": "string"
        },
        "committedStorageMb": {
          "description": "The total size of the storage allocated to the VM in MB.",
          "format": "int64",
          "type": "string"
        },
        "securityGroups": {
          "items": {
            "$ref": "AwsSecurityGroup"
          },
          "type": "array",
          "description": "The security groups the VM belongs to."
        },
        "memoryMb": {
          "format": "int32",
          "description": "The memory size of the VM in MB.",
          "type": "integer"
        },
        "cpuCount": {
          "format": "int32",
          "description": "The number of cpus the VM has.",
          "type": "integer"
        },
        "virtualizationType": {
          "enum": [
            "VM_VIRTUALIZATION_TYPE_UNSPECIFIED",
            "HVM",
            "PARAVIRTUAL"
          ],
          "enumDescriptions": [
            "The virtualization type is unknown.",
            "The virtualziation type is HVM.",
            "The virtualziation type is PARAVIRTUAL."
          ],
          "type": "string",
          "description": "The virtualization type."
        },
        "zone": {
          "description": "The AWS zone of the VM.",
          "type": "string"
        }
      },
      "description": "AwsVmDetails describes a VM in AWS.",
      "type": "object",
      "id": "AwsVmDetails"
    },
    "UtilizationReport": {
      "description": "Utilization report details the utilization (CPU, memory, etc.) of selected source VMs.",
      "id": "UtilizationReport",
      "type": "object",
      "properties": {
        "frameEndTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The point in time when the time frame ends. Notice that the time frame is counted backwards. For instance if the \"frame_end_time\" value is 2021/01/20 and the time frame is WEEK then the report covers the week between 2021/01/20 and 2021/01/14."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the report was created (this refers to the time of the request, not the time the report creation completed)."
        },
        "displayName": {
          "description": "The report display name, as assigned by the user.",
          "type": "string"
        },
        "timeFrame": {
          "description": "Time frame of the report.",
          "enum": [
            "TIME_FRAME_UNSPECIFIED",
            "WEEK",
            "MONTH",
            "YEAR"
          ],
          "type": "string",
          "enumDescriptions": [
            "The time frame was not specified and will default to WEEK.",
            "One week.",
            "One month.",
            "One year."
          ]
        },
        "vmCount": {
          "format": "int32",
          "description": "Output only. Total number of VMs included in the report.",
          "readOnly": true,
          "type": "integer"
        },
        "vms": {
          "type": "array",
          "description": "List of utilization information per VM. When sent as part of the request, the \"vm_id\" field is used in order to specify which VMs to include in the report. In that case all other fields are ignored.",
          "items": {
            "$ref": "VmUtilizationInfo"
          }
        },
        "vmsCount": {
          "readOnly": true,
          "description": "Output only. Total number of VMs included in the report.",
          "format": "int32",
          "type": "integer"
        },
        "stateTime": {
          "description": "Output only. The time the state was last set.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Output only. The report unique name.",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "The state is unknown. This value is not in use.",
            "The report is in the making.",
            "Report creation completed successfully.",
            "Report creation failed."
          ],
          "description": "Output only. Current state of the report.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "SUCCEEDED",
            "FAILED"
          ]
        },
        "error": {
          "$ref": "Status",
          "readOnly": true,
          "description": "Output only. Provides details on the state of the report in case of an error."
        }
      }
    },
    "AwsSourceDetails": {
      "properties": {
        "accessKeyId": {
          "description": "AWS access key ID.",
          "type": "string"
        },
        "publicIp": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The source's public IP. All communication initiated by this source will originate from this IP."
        },
        "state": {
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
            "The state was not sampled by the health checks yet.",
            "The source is available but might not be usable yet due to invalid credentials or another reason. The error message will contain further details.",
            "The source exists and its credentials were verified."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "FAILED",
            "ACTIVE"
          ],
          "description": "Output only. State of the source as determined by the health check.",
          "type": "string"
        },
        "migrationResourcesUserTags": {
          "description": "User specified tags to add to every M2VM generated resource in AWS. These tags will be set in addition to the default tags that are set as part of the migration process. The tags must not begin with the reserved prefix `m2vm`.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "inventoryTags": {
          "type": "object",
          "description": "Deprecated: AWS resource tags to limit the scope of the source inventory. Use inventory_tag_list instead.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "secretAccessKey": {
          "type": "string",
          "description": "Input only. AWS secret access key."
        },
        "inventoryTagList": {
          "description": "AWS resource tags to limit the scope of the source inventory.",
          "type": "array",
          "items": {
            "$ref": "Tag"
          }
        },
        "inventorySecurityGroupNames": {
          "type": "array",
          "description": "AWS security group names to limit the scope of the source inventory.",
          "items": {
            "type": "string"
          }
        },
        "error": {
          "readOnly": true,
          "$ref": "Status",
          "description": "Output only. Provides details on the state of the Source in case of an error."
        },
        "accessKeyCreds": {
          "$ref": "AccessKeyCredentials",
          "description": "AWS Credentials using access key id and secret."
        },
        "awsRegion": {
          "description": "Immutable. The AWS region that the source VMs will be migrated from.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "AwsSourceDetails",
      "description": "AwsSourceDetails message describes a specific source details for the AWS source type."
    },
    "VmUtilizationInfo": {
      "type": "object",
      "properties": {
        "vmwareVmDetails": {
          "description": "The description of the VM in a Source of type Vmware.",
          "$ref": "VmwareVmDetails"
        },
        "vmId": {
          "description": "The VM's ID in the source.",
          "type": "string"
        },
        "utilization": {
          "description": "Utilization metrics for this VM.",
          "$ref": "VmUtilizationMetrics"
        }
      },
      "description": "Utilization information of a single VM.",
      "id": "VmUtilizationInfo"
    },
    "CloneStep": {
      "description": "CloneStep holds information about the clone step progress.",
      "id": "CloneStep",
      "type": "object",
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "description": "The time the step has ended.",
          "type": "string"
        },
        "instantiatingMigratedVm": {
          "description": "Instantiating migrated VM step.",
          "$ref": "InstantiatingMigratedVMStep"
        },
        "adaptingOs": {
          "description": "Adapting OS step.",
          "$ref": "AdaptingOSStep"
        },
        "preparingVmDisks": {
          "$ref": "PreparingVMDisksStep",
          "description": "Preparing VM disks step."
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the step has started."
        }
      }
    },
    "OperationMetadata": {
      "properties": {
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the operation was created."
        },
        "apiVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. API version used to start the operation."
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the operation finished running."
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string",
          "readOnly": true
        },
        "statusMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "verb": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation."
        }
      },
      "id": "OperationMetadata",
      "type": "object",
      "description": "Represents the metadata of the long-running operation."
    },
    "StartMigrationRequest": {
      "id": "StartMigrationRequest",
      "type": "object",
      "properties": {},
      "description": "Request message for 'StartMigrationRequest' request."
    },
    "ListGroupsResponse": {
      "description": "Response message for 'ListGroups' request.",
      "type": "object",
      "properties": {
        "groups": {
          "type": "array",
          "description": "Output only. The list of groups response.",
          "readOnly": true,
          "items": {
            "$ref": "Group"
          }
        },
        "nextPageToken": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. Locations that could not be reached."
        }
      },
      "id": "ListGroupsResponse"
    },
    "ListTargetProjectsResponse": {
      "description": "Response message for 'ListTargetProjects' call.",
      "type": "object",
      "properties": {
        "unreachable": {
          "readOnly": true,
          "description": "Output only. Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "targetProjects": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The list of target response.",
          "items": {
            "$ref": "TargetProject"
          }
        },
        "nextPageToken": {
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "ListTargetProjectsResponse"
    },
    "ShuttingDownSourceVMStep": {
      "description": "ShuttingDownSourceVMStep contains specific step details.",
      "properties": {},
      "id": "ShuttingDownSourceVMStep",
      "type": "object"
    },
    "ApplianceVersion": {
      "id": "ApplianceVersion",
      "type": "object",
      "properties": {
        "releaseNotesUri": {
          "type": "string",
          "description": "Link to a page that contains the version release notes."
        },
        "critical": {
          "type": "boolean",
          "description": "Determine whether it's critical to upgrade the appliance to this version."
        },
        "version": {
          "type": "string",
          "description": "The appliance version."
        },
        "uri": {
          "type": "string",
          "description": "A link for downloading the version."
        }
      },
      "description": "Describes an appliance version."
    },
    "InstantiatingMigratedVMStep": {
      "properties": {},
      "id": "InstantiatingMigratedVMStep",
      "description": "InstantiatingMigratedVMStep contains specific step details.",
      "type": "object"
    },
    "AvailableUpdates": {
      "type": "object",
      "id": "AvailableUpdates",
      "properties": {
        "inPlaceUpdate": {
          "$ref": "ApplianceVersion",
          "description": "The latest version for in place update. The current appliance can be updated to this version using the API or m4c CLI."
        },
        "newDeployableAppliance": {
          "description": "The newest deployable version of the appliance. The current appliance can't be updated into this version, and the owner must manually deploy this OVA to a new appliance.",
          "$ref": "ApplianceVersion"
        }
      },
      "description": "Holds informatiom about the available versions for upgrade."
    },
    "VmUtilizationMetrics": {
      "description": "Utilization metrics values for a single VM.",
      "id": "VmUtilizationMetrics",
      "properties": {
        "memoryMaxPercent": {
          "type": "integer",
          "description": "Max memory usage, percent.",
          "format": "int32"
        },
        "diskIoRateMax": {
          "type": "string",
          "format": "int64",
          "description": "Max disk IO rate, in kilobytes per second."
        },
        "cpuAverage": {
          "type": "integer",
          "description": "Average CPU usage, percent.",
          "format": "int32"
        },
        "memoryMax": {
          "format": "int32",
          "description": "Max memory usage, percent.",
          "type": "integer"
        },
        "diskIoRateAverageKbps": {
          "description": "Average disk IO rate, in kilobytes per second.",
          "type": "string",
          "format": "int64"
        },
        "cpuAveragePercent": {
          "description": "Average CPU usage, percent.",
          "format": "int32",
          "type": "integer"
        },
        "networkThroughputMax": {
          "type": "string",
          "description": "Max network throughput (combined transmit-rates and receive-rates), in kilobytes per second.",
          "format": "int64"
        },
        "networkThroughputAverage": {
          "type": "string",
          "format": "int64",
          "description": "Average network throughput (combined transmit-rates and receive-rates), in kilobytes per second."
        },
        "cpuMaxPercent": {
          "description": "Max CPU usage, percent.",
          "format": "int32",
          "type": "integer"
        },
        "networkThroughputAverageKbps": {
          "format": "int64",
          "description": "Average network throughput (combined transmit-rates and receive-rates), in kilobytes per second.",
          "type": "string"
        },
        "networkThroughputMaxKbps": {
          "type": "string",
          "format": "int64",
          "description": "Max network throughput (combined transmit-rates and receive-rates), in kilobytes per second."
        },
        "memoryAveragePercent": {
          "format": "int32",
          "description": "Average memory usage, percent.",
          "type": "integer"
        },
        "cpuMax": {
          "format": "int32",
          "type": "integer",
          "description": "Max CPU usage, percent."
        },
        "diskIoRateMaxKbps": {
          "description": "Max disk IO rate, in kilobytes per second.",
          "format": "int64",
          "type": "string"
        },
        "diskIoRateAverage": {
          "format": "int64",
          "type": "string",
          "description": "Average disk IO rate, in kilobytes per second."
        },
        "memoryAverage": {
          "type": "integer",
          "format": "int32",
          "description": "Average memory usage, percent."
        }
      },
      "type": "object"
    },
    "ReplicatingStep": {
      "properties": {
        "lastThirtyMinutesAverageBytesPerSecond": {
          "type": "string",
          "format": "int64",
          "description": "The source disks replication rate for the last 30 minutes in bytes per second."
        },
        "lastTwoMinutesAverageBytesPerSecond": {
          "type": "string",
          "description": "The source disks replication rate for the last 2 minutes in bytes per second.",
          "format": "int64"
        },
        "replicatedBytes": {
          "description": "Replicated bytes in the step.",
          "format": "int64",
          "type": "string"
        },
        "totalBytes": {
          "description": "Total bytes to be handled in the step.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "ReplicatingStep",
      "description": "ReplicatingStep contains specific step details."
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "type": "object"
    },
    "LocalizedMessage": {
      "properties": {
        "message": {
          "type": "string",
          "description": "The localized error message in the above locale."
        },
        "locale": {
          "description": "The locale used following the specification defined at https://www.rfc-editor.org/rfc/bcp/bcp47.txt. Examples are: \"en-US\", \"fr-CH\", \"es-MX\"",
          "type": "string"
        }
      },
      "id": "LocalizedMessage",
      "description": "Provides a localized error message that is safe to return to the user which can be attached to an RPC error.",
      "type": "object"
    },
    "ListReplicationCyclesResponse": {
      "id": "ListReplicationCyclesResponse",
      "description": "Response message for 'ListReplicationCycles' request.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "readOnly": true,
          "type": "string"
        },
        "replicationCycles": {
          "description": "Output only. The list of replication cycles response.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "ReplicationCycle"
          }
        },
        "unreachable": {
          "description": "Output only. Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true
        }
      }
    },
    "Tag": {
      "properties": {
        "value": {
          "description": "Value of tag.",
          "type": "string"
        },
        "key": {
          "type": "string",
          "description": "Key of tag."
        }
      },
      "description": "Tag is an AWS tag representation.",
      "type": "object",
      "id": "Tag"
    },
    "RemoveGroupMigrationRequest": {
      "id": "RemoveGroupMigrationRequest",
      "properties": {
        "migratingVm": {
          "type": "string",
          "description": "The MigratingVm to remove."
        }
      },
      "type": "object",
      "description": "Request message for 'RemoveMigration' request."
    },
    "ListUtilizationReportsResponse": {
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Output only. Locations that could not be reached.",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string",
          "readOnly": true
        },
        "utilizationReports": {
          "description": "Output only. The list of reports.",
          "items": {
            "$ref": "UtilizationReport"
          },
          "type": "array",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Response message for 'ListUtilizationReports' request.",
      "id": "ListUtilizationReportsResponse"
    },
    "TargetProject": {
      "properties": {
        "description": {
          "type": "string",
          "description": "The target project's description."
        },
        "project": {
          "description": "The target project ID (number) or project name.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time this target project resource was created (not related to when the Compute Engine project it points to was created).",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The last time the target project resource was updated."
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The name of the target project.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "TargetProject message represents a target Compute Engine project for a migration or a clone.",
      "id": "TargetProject"
    },
    "ReplicationSync": {
      "description": "ReplicationSync contain information about the last replica sync to the cloud.",
      "type": "object",
      "properties": {
        "lastSyncTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The most updated snapshot created time in the source that finished replication."
        }
      },
      "id": "ReplicationSync"
    },
    "CloneJob": {
      "type": "object",
      "properties": {
        "endTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the clone job was ended.",
          "format": "google-datetime"
        },
        "computeEngineTargetDetails": {
          "$ref": "ComputeEngineTargetDetails",
          "readOnly": true,
          "description": "Output only. Details of the target VM in Compute Engine."
        },
        "stateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the state was last updated."
        },
        "steps": {
          "type": "array",
          "description": "Output only. The clone steps list representing its progress.",
          "readOnly": true,
          "items": {
            "$ref": "CloneStep"
          }
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "ACTIVE",
            "FAILED",
            "SUCCEEDED",
            "CANCELLED",
            "CANCELLING",
            "ADAPTING_OS"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. State of the clone job.",
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
            "The clone job has not yet started.",
            "The clone job is active and running.",
            "The clone job finished with errors.",
            "The clone job finished successfully.",
            "The clone job was cancelled.",
            "The clone job is being cancelled.",
            "OS adaptation is running as part of the clone job to generate license."
          ]
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the clone."
        },
        "error": {
          "description": "Output only. Provides details for the errors that led to the Clone Job's state.",
          "$ref": "Status",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the clone job was created (as an API call, not when it was actually created in the target).",
          "type": "string"
        },
        "targetDetails": {
          "$ref": "TargetVMDetails",
          "description": "Output only. Details of the VM to create as the target of this clone job. Deprecated: Use compute_engine_target_details instead.",
          "readOnly": true
        },
        "computeEngineVmDetails": {
          "$ref": "TargetVMDetails",
          "readOnly": true,
          "description": "Output only. Details of the VM in Compute Engine. Deprecated: Use compute_engine_target_details instead."
        }
      },
      "id": "CloneJob",
      "description": "CloneJob describes the process of creating a clone of a MigratingVM to the requested target based on the latest successful uploaded snapshots. While the migration cycles of a MigratingVm take place, it is possible to verify the uploaded VM can be started in the cloud, by creating a clone. The clone can be created without any downtime, and it is created using the latest snapshots which are already in the cloud. The cloneJob is only responsible for its work, not its products, which means once it is finished, it will never touch the instance it created. It will only delete it in case of the CloneJob being cancelled or upon failure to clone."
    },
    "VmwareVmDetails": {
      "type": "object",
      "properties": {
        "vmId": {
          "type": "string",
          "description": "The VM's id in the source (note that this is not the MigratingVm's id). This is the moref id of the VM."
        },
        "guestDescription": {
          "type": "string",
          "description": "The VM's OS. See for example https://vdc-repo.vmware.com/vmwb-repository/dcr-public/da47f910-60ac-438b-8b9b-6122f4d14524/16b7274a-bf8b-4b4c-a05e-746f2aa93c8c/doc/vim.vm.GuestOsDescriptor.GuestOsIdentifier.html for types of strings this might hold."
        },
        "powerState": {
          "type": "string",
          "description": "The power state of the VM at the moment list was taken.",
          "enumDescriptions": [
            "Power state is not specified.",
            "The VM is turned ON.",
            "The VM is turned OFF.",
            "The VM is suspended. This is similar to hibernation or sleep mode."
          ],
          "enum": [
            "POWER_STATE_UNSPECIFIED",
            "ON",
            "OFF",
            "SUSPENDED"
          ]
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the VM. Note that this is not necessarily unique."
        },
        "memoryMb": {
          "format": "int32",
          "type": "integer",
          "description": "The size of the memory of the VM in MB."
        },
        "committedStorage": {
          "description": "The total size of the storage allocated to the VM in MB.",
          "format": "int64",
          "type": "string"
        },
        "cpuCount": {
          "description": "The number of cpus in the VM.",
          "type": "integer",
          "format": "int32"
        },
        "diskCount": {
          "format": "int32",
          "description": "The number of disks the VM has.",
          "type": "integer"
        },
        "committedStorageMb": {
          "description": "The total size of the storage allocated to the VM in MB.",
          "type": "string",
          "format": "int64"
        },
        "datacenterId": {
          "type": "string",
          "description": "The id of the vCenter's datacenter this VM is contained in."
        },
        "bootOption": {
          "type": "string",
          "enum": [
            "BOOT_OPTION_UNSPECIFIED",
            "EFI",
            "BIOS"
          ],
          "description": "Output only. The VM Boot Option.",
          "readOnly": true,
          "enumDescriptions": [
            "The boot option is unknown.",
            "The boot option is EFI.",
            "The boot option is BIOS."
          ]
        },
        "datacenterDescription": {
          "description": "The descriptive name of the vCenter's datacenter this VM is contained in.",
          "type": "string"
        },
        "uuid": {
          "description": "The unique identifier of the VM in vCenter.",
          "type": "string"
        }
      },
      "id": "VmwareVmDetails",
      "description": "VmwareVmDetails describes a VM in vCenter."
    },
    "AdaptingOSStep": {
      "description": "AdaptingOSStep contains specific step details.",
      "type": "object",
      "id": "AdaptingOSStep",
      "properties": {}
    },
    "PreparingVMDisksStep": {
      "properties": {},
      "type": "object",
      "id": "PreparingVMDisksStep",
      "description": "PreparingVMDisksStep contains specific step details."
    },
    "ReplicationCycle": {
      "type": "object",
      "id": "ReplicationCycle",
      "description": "ReplicationCycle contains information about the current replication cycle status.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The identifier of the ReplicationCycle."
        },
        "progress": {
          "type": "integer",
          "format": "int32",
          "description": "The current progress in percentage of this cycle."
        },
        "startTime": {
          "format": "google-datetime",
          "description": "The time the replication cycle has started.",
          "type": "string"
        },
        "cycleNumber": {
          "format": "int32",
          "type": "integer",
          "description": "The cycle's ordinal number."
        },
        "endTime": {
          "description": "The time the replication cycle has ended.",
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "type": "string",
          "description": "State of the ReplicationCycle.",
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
            "The replication cycle is running.",
            "The replication cycle is paused.",
            "The replication cycle finished with errors.",
            "The replication cycle finished successfully."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "PAUSED",
            "FAILED",
            "SUCCEEDED"
          ]
        },
        "error": {
          "$ref": "Status",
          "description": "Provides details on the state of the cycle in case of an error."
        },
        "progressPercent": {
          "description": "The current progress in percentage of this cycle. Was replaced by 'steps' field, which breaks down the cycle progression more accurately.",
          "format": "int32",
          "type": "integer"
        },
        "totalPauseDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "The accumulated duration the replication cycle was paused."
        },
        "steps": {
          "type": "array",
          "items": {
            "$ref": "CycleStep"
          },
          "description": "The cycle's steps list representing its progress."
        }
      }
    },
    "CutoverStep": {
      "type": "object",
      "properties": {
        "previousReplicationCycle": {
          "$ref": "ReplicationCycle",
          "description": "A replication cycle prior cutover step."
        },
        "preparingVmDisks": {
          "$ref": "PreparingVMDisksStep",
          "description": "Preparing VM disks step."
        },
        "startTime": {
          "type": "string",
          "description": "The time the step has started.",
          "format": "google-datetime"
        },
        "instantiatingMigratedVm": {
          "description": "Instantiating migrated VM step.",
          "$ref": "InstantiatingMigratedVMStep"
        },
        "finalSync": {
          "description": "Final sync step.",
          "$ref": "ReplicationCycle"
        },
        "shuttingDownSourceVm": {
          "description": "Shutting down VM step.",
          "$ref": "ShuttingDownSourceVMStep"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the step has ended."
        }
      },
      "id": "CutoverStep",
      "description": "CutoverStep holds information about the cutover step progress."
    },
    "ComputeScheduling": {
      "properties": {
        "minNodeCpus": {
          "type": "integer",
          "format": "int32",
          "description": "The minimum number of virtual CPUs this instance will consume when running on a sole-tenant node. Ignored if no node_affinites are configured."
        },
        "onHostMaintenance": {
          "description": "How the instance should behave when the host machine undergoes maintenance that may temporarily impact instance performance.",
          "enum": [
            "ON_HOST_MAINTENANCE_UNSPECIFIED",
            "TERMINATE",
            "MIGRATE"
          ],
          "type": "string",
          "enumDescriptions": [
            "An unknown, unexpected behavior.",
            "Terminate the instance when the host machine undergoes maintenance.",
            "Migrate the instance when the host machine undergoes maintenance."
          ]
        },
        "nodeAffinities": {
          "items": {
            "$ref": "SchedulingNodeAffinity"
          },
          "description": "A set of node affinity and anti-affinity configurations for sole tenant nodes.",
          "type": "array"
        },
        "restartType": {
          "enumDescriptions": [
            "Unspecified behavior. This will use the default.",
            "The Instance should be automatically restarted whenever it is terminated by Compute Engine.",
            "The Instance isn't automatically restarted whenever it is terminated by Compute Engine."
          ],
          "enum": [
            "RESTART_TYPE_UNSPECIFIED",
            "AUTOMATIC_RESTART",
            "NO_AUTOMATIC_RESTART"
          ],
          "type": "string",
          "description": "Whether the Instance should be automatically restarted whenever it is terminated by Compute Engine (not terminated by user). This configuration is identical to `automaticRestart` field in Compute Engine create instance under scheduling. It was changed to an enum (instead of a boolean) to match the default value in Compute Engine which is automatic restart."
        },
        "automaticRestart": {
          "type": "boolean"
        }
      },
      "description": "Scheduling information for VM on maintenance/restart behaviour and node allocation in sole tenant nodes.",
      "type": "object",
      "id": "ComputeScheduling"
    },
    "InitializingReplicationStep": {
      "description": "InitializingReplicationStep contains specific step details.",
      "properties": {},
      "id": "InitializingReplicationStep",
      "type": "object"
    },
    "AddGroupMigrationRequest": {
      "type": "object",
      "id": "AddGroupMigrationRequest",
      "properties": {
        "migratingVm": {
          "description": "The full path name of the MigratingVm to add.",
          "type": "string"
        }
      },
      "description": "Request message for 'AddGroupMigration' request."
    },
    "PostProcessingStep": {
      "description": "PostProcessingStep contains specific step details.",
      "id": "PostProcessingStep",
      "properties": {},
      "type": "object"
    },
    "AppliedLicense": {
      "id": "AppliedLicense",
      "type": "object",
      "description": "AppliedLicense holds the license data returned by adaptation module report.",
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "NONE",
            "PAYG",
            "BYOL"
          ],
          "enumDescriptions": [
            "Unspecified license for the OS.",
            "No license available for the OS.",
            "The license type is Pay As You Go license type.",
            "The license type is Bring Your Own License type."
          ],
          "type": "string",
          "description": "The license type that was used in OS adaptation."
        },
        "osLicense": {
          "type": "string",
          "description": "The OS license returned from the adaptation module's report."
        }
      }
    },
    "ListDatacenterConnectorsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string",
          "readOnly": true
        },
        "datacenterConnectors": {
          "items": {
            "$ref": "DatacenterConnector"
          },
          "type": "array",
          "description": "Output only. The list of sources response.",
          "readOnly": true
        },
        "unreachable": {
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. Locations that could not be reached."
        }
      },
      "type": "object",
      "id": "ListDatacenterConnectorsResponse",
      "description": "Response message for 'ListDatacenterConnectors' request."
    },
    "NetworkInterface": {
      "description": "NetworkInterface represents a NIC of a VM.",
      "properties": {
        "network": {
          "description": "The network to connect the NIC to.",
          "type": "string"
        },
        "externalIp": {
          "description": "The external IP to define in the NIC.",
          "type": "string"
        },
        "subnetwork": {
          "description": "The subnetwork to connect the NIC to.",
          "type": "string"
        },
        "internalIp": {
          "description": "The internal IP to define in the NIC. The formats accepted are: `ephemeral` \\ ipv4 address \\ a named address resource full path.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "NetworkInterface"
    },
    "AwsSecurityGroup": {
      "type": "object",
      "id": "AwsSecurityGroup",
      "properties": {
        "id": {
          "description": "The AWS security group id.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The AWS security group name."
        }
      },
      "description": "AwsSecurityGroup describes a security group of an AWS VM."
    },
    "ListCutoverJobsResponse": {
      "description": "Response message for 'ListCutoverJobs' request.",
      "id": "ListCutoverJobsResponse",
      "type": "object",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. Locations that could not be reached.",
          "type": "array"
        },
        "cutoverJobs": {
          "readOnly": true,
          "items": {
            "$ref": "CutoverJob"
          },
          "description": "Output only. The list of cutover jobs response.",
          "type": "array"
        },
        "nextPageToken": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "ComputeEngineTargetDefaults": {
      "description": "ComputeEngineTargetDefaults is a collection of details for creating a VM in a target Compute Engine project.",
      "type": "object",
      "id": "ComputeEngineTargetDefaults",
      "properties": {
        "bootOption": {
          "enumDescriptions": [
            "The boot option is unknown.",
            "The boot option is EFI.",
            "The boot option is BIOS."
          ],
          "type": "string",
          "description": "Output only. The VM Boot Option, as set in the source vm.",
          "enum": [
            "COMPUTE_ENGINE_BOOT_OPTION_UNSPECIFIED",
            "COMPUTE_ENGINE_BOOT_OPTION_EFI",
            "COMPUTE_ENGINE_BOOT_OPTION_BIOS"
          ],
          "readOnly": true
        },
        "hostname": {
          "description": "The hostname to assign to the VM.",
          "type": "string"
        },
        "serviceAccount": {
          "description": "The service account to associate the VM with.",
          "type": "string"
        },
        "machineTypeSeries": {
          "description": "The machine type series to create the VM with.",
          "type": "string"
        },
        "additionalLicenses": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Additional licenses to assign to the VM."
        },
        "machineType": {
          "description": "The machine type to create the VM with.",
          "type": "string"
        },
        "targetProject": {
          "type": "string",
          "description": "The full path of the resource of type TargetProject which represents the Compute Engine project in which to create this VM."
        },
        "secureBoot": {
          "type": "boolean",
          "description": "Defines whether the instance has Secure Boot enabled. This can be set to true only if the vm boot option is EFI."
        },
        "diskType": {
          "enumDescriptions": [
            "An unspecified disk type. Will be used as STANDARD.",
            "A Standard disk type.",
            "SSD hard disk type.",
            "An alternative to SSD persistent disks that balance performance and cost."
          ],
          "description": "The disk type to use in the VM.",
          "enum": [
            "COMPUTE_ENGINE_DISK_TYPE_UNSPECIFIED",
            "COMPUTE_ENGINE_DISK_TYPE_STANDARD",
            "COMPUTE_ENGINE_DISK_TYPE_SSD",
            "COMPUTE_ENGINE_DISK_TYPE_BALANCED"
          ],
          "type": "string"
        },
        "vmName": {
          "type": "string",
          "description": "The name of the VM to create."
        },
        "computeScheduling": {
          "$ref": "ComputeScheduling",
          "description": "Compute instance scheduling information (if empty default is used)."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "A map of labels to associate with the VM."
        },
        "zone": {
          "description": "The zone in which to create the VM.",
          "type": "string"
        },
        "networkInterfaces": {
          "description": "List of NICs connected to this VM.",
          "type": "array",
          "items": {
            "$ref": "NetworkInterface"
          }
        },
        "appliedLicense": {
          "$ref": "AppliedLicense",
          "description": "Output only. The OS license returned from the adaptation module report.",
          "readOnly": true
        },
        "licenseType": {
          "type": "string",
          "description": "The license type to use in OS adaptation.",
          "enum": [
            "COMPUTE_ENGINE_LICENSE_TYPE_DEFAULT",
            "COMPUTE_ENGINE_LICENSE_TYPE_PAYG",
            "COMPUTE_ENGINE_LICENSE_TYPE_BYOL"
          ],
          "enumDescriptions": [
            "The license type is the default for the OS.",
            "The license type is Pay As You Go license type.",
            "The license type is Bring Your Own License type."
          ]
        },
        "networkTags": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A map of network tags to associate with the VM."
        },
        "metadata": {
          "description": "The metadata key/value pairs to assign to the VM.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "ListMigratingVmsResponse": {
      "id": "ListMigratingVmsResponse",
      "type": "object",
      "properties": {
        "migratingVms": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "MigratingVm"
          },
          "description": "Output only. The list of Migrating VMs response."
        },
        "unreachable": {
          "type": "array",
          "description": "Output only. Locations that could not be reached.",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Response message for 'ListMigratingVms' request."
    },
    "Group": {
      "description": "Describes message for 'Group' resource. The Group is a collections of several MigratingVms.",
      "id": "Group",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The create time timestamp.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Output only. The Group name.",
          "readOnly": true
        },
        "description": {
          "description": "User-provided description of the group.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The update time timestamp.",
          "format": "google-datetime"
        },
        "displayName": {
          "type": "string",
          "description": "Display name is a user defined name for this group which can be updated."
        }
      },
      "type": "object"
    },
    "Source": {
      "description": "Source message describes a specific vm migration Source resource. It contains the source environment information.",
      "properties": {
        "description": {
          "description": "User-provided description of the source.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "The labels of the source.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "vmware": {
          "$ref": "VmwareSourceDetails",
          "description": "Vmware type source details."
        },
        "aws": {
          "$ref": "AwsSourceDetails",
          "description": "AWS type source details."
        },
        "error": {
          "description": "Output only. Provides details on the state of the Source in case of an error.",
          "readOnly": true,
          "$ref": "Status"
        },
        "name": {
          "type": "string",
          "description": "Output only. The Source name.",
          "readOnly": true
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The update time timestamp."
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The create time timestamp."
        }
      },
      "type": "object",
      "id": "Source"
    },
    "ListSourcesResponse": {
      "id": "ListSourcesResponse",
      "properties": {
        "sources": {
          "items": {
            "$ref": "Source"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. The list of sources response."
        },
        "nextPageToken": {
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string",
          "readOnly": true
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Output only. Locations that could not be reached.",
          "readOnly": true,
          "type": "array"
        }
      },
      "type": "object",
      "description": "Response message for 'ListSources' request."
    }
  },
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "groups": {
              "methods": {
                "removeGroupMigration": {
[...]
