{
  "discoveryVersion": "v1",
  "title": "VM Migration API",
  "description": "Use the Migrate for Compute Engine API to programmatically migrate workloads. ",
  "schemas": {
    "ListCutoverJobsResponse": {
      "properties": {
        "unreachable": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "cutoverJobs": {
          "description": "Output only. The list of cutover jobs response.",
          "readOnly": true,
          "items": {
            "$ref": "CutoverJob"
          },
          "type": "array"
        },
        "nextPageToken": {
          "readOnly": true,
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for 'ListCutoverJobs' request.",
      "id": "ListCutoverJobsResponse",
      "type": "object"
    },
    "VmwareSourceDetails": {
      "description": "VmwareSourceDetails message describes a specific source details for the vmware source type.",
      "id": "VmwareSourceDetails",
      "type": "object",
      "properties": {
        "thumbprint": {
          "description": "The thumbprint representing the certificate for the vcenter.",
          "type": "string"
        },
        "username": {
          "description": "The credentials username.",
          "type": "string"
        },
        "password": {
          "type": "string",
          "description": "Input only. The credentials password. This is write only and can not be read in a GET operation."
        },
        "vcenterIp": {
          "type": "string",
          "description": "The ip address of the vcenter this Source represents."
        }
      }
    },
    "LocalizedMessage": {
      "type": "object",
      "id": "LocalizedMessage",
      "description": "Provides a localized error message that is safe to return to the user which can be attached to an RPC error.",
      "properties": {
        "message": {
          "description": "The localized error message in the above locale.",
          "type": "string"
        },
        "locale": {
          "description": "The locale used following the specification defined at http://www.rfc-editor.org/rfc/bcp/bcp47.txt. Examples are: \"en-US\", \"fr-CH\", \"es-MX\"",
          "type": "string"
        }
      }
    },
    "CloneJob": {
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "ACTIVE",
            "FAILED",
            "SUCCEEDED",
            "CANCELLED",
            "CANCELLING",
            "ADAPTING_OS"
          ],
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
            "The clone job has not yet started.",
            "The clone job is active and running.",
            "The clone job finished with errors.",
            "The clone job finished successfully.",
            "The clone job was cancelled.",
            "The clone job is being cancelled.",
            "OS adaptation is running as part of the clone job to generate license."
          ],
          "type": "string",
          "description": "Output only. State of the clone job.",
          "readOnly": true
        },
        "stateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the state was last updated."
        },
        "targetDetails": {
          "$ref": "TargetVMDetails",
          "description": "Output only. Details of the VM to create as the target of this clone job. Deprecated: Use compute_engine_target_details instead.",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the clone job was created (as an API call, not when it was actually created in the target).",
          "format": "google-datetime"
        },
        "error": {
          "description": "Output only. Provides details for the errors that led to the Clone Job's state.",
          "$ref": "Status",
          "readOnly": true
        },
        "computeEngineTargetDetails": {
          "description": "Output only. Details of the target VM in Compute Engine.",
          "$ref": "ComputeEngineTargetDetails",
          "readOnly": true
        },
        "computeEngineVmDetails": {
          "$ref": "TargetVMDetails",
          "description": "Output only. Details of the VM in Compute Engine. Deprecated: Use compute_engine_target_details instead.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "The name of the clone."
        }
      },
      "id": "CloneJob",
      "type": "object",
      "description": "CloneJob describes the process of creating a clone of a MigratingVM to the requested target based on the latest successful uploaded snapshots. While the migration cycles of a MigratingVm take place, it is possible to verify the uploaded VM can be started in the cloud, by creating a clone. The clone can be created without any downtime, and it is created using the latest snapshots which are already in the cloud. The cloneJob is only responsible for its work, not its products, which means once it is finished, it will never touch the instance it created. It will only delete it in case of the CloneJob being cancelled or upon failure to clone."
    },
    "TargetVMDetails": {
      "properties": {
        "internalIp": {
          "type": "string",
          "description": "The internal IP to define in the VM. The formats accepted are: `ephemeral` \\ ipv4 address \\ a named address resource full path."
        },
        "secureBoot": {
          "type": "boolean",
          "description": "Defines whether the instance has Secure Boot enabled. This can be set to true only if the vm boot option is EFI."
        },
        "networkInterfaces": {
          "type": "array",
          "items": {
            "$ref": "NetworkInterface"
          },
          "description": "List of NICs connected to this VM."
        },
        "network": {
          "description": "The network to connect the VM to.",
          "type": "string"
        },
        "externalIp": {
          "type": "string",
          "description": "The external IP to define in the VM."
        },
        "zone": {
          "type": "string",
          "description": "The zone in which to create the VM."
        },
        "machineTypeSeries": {
          "type": "string",
          "description": "The machine type series to create the VM with."
        },
        "computeScheduling": {
          "description": "Compute instance scheduling information (if empty default is used).",
          "$ref": "ComputeScheduling"
        },
        "subnetwork": {
          "description": "The subnetwork to connect the VM to.",
          "type": "string"
        },
        "name": {
          "description": "The name of the VM to create.",
          "type": "string"
        },
        "machineType": {
          "description": "The machine type to create the VM with.",
          "type": "string"
        },
        "licenseType": {
          "enumDescriptions": [
            "The license type is the default for the OS.",
            "The license type is Pay As You Go license type.",
            "The license type is Bring Your Own License type."
          ],
          "type": "string",
          "enum": [
            "DEFAULT",
            "PAYG",
            "BYOL"
          ],
          "description": "The license type to use in OS adaptation."
        },
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "The metadata key/value pairs to assign to the VM."
        },
        "networkTags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A map of network tags to associate with the VM."
        },
        "serviceAccount": {
          "description": "The service account to associate the VM with.",
          "type": "string"
        },
        "diskType": {
          "enumDescriptions": [
            "An unspecified disk type. Will be used as STANDARD.",
            "A Standard disk type.",
            "An alternative to SSD persistent disks that balance performance and cost.",
            "SSD hard disk type."
          ],
          "type": "string",
          "description": "The disk type to use in the VM.",
          "enum": [
            "DISK_TYPE_UNSPECIFIED",
            "STANDARD",
            "BALANCED",
            "SSD"
          ]
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "A map of labels to associate with the VM."
        },
        "appliedLicense": {
          "readOnly": true,
          "description": "Output only. The OS license returned from the adaptation module report.",
          "$ref": "AppliedLicense"
        },
        "project": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The project in which to create the VM."
        },
        "bootOption": {
          "description": "Output only. The VM Boot Option, as set in the source vm.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "BOOT_OPTION_UNSPECIFIED",
            "EFI",
            "BIOS"
          ],
          "enumDescriptions": [
            "The boot option is unknown.",
            "The boot option is EFI.",
            "The boot option is BIOS."
          ]
        },
        "targetProject": {
          "type": "string",
          "description": "The full path of the resource of type TargetProject which represents the Compute Engine project in which to create this VM."
        }
      },
      "id": "TargetVMDetails",
      "type": "object",
      "description": "TargetVMDetails is a collection of details for creating a VM in a target Compute Engine project."
    },
    "Operation": {
      "type": "object",
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation"
    },
    "ComputeEngineTargetDetails": {
      "description": "ComputeEngineTargetDetails is a collection of details for creating a VM in a target Compute Engine project.",
      "properties": {
        "vmName": {
          "description": "The name of the VM to create.",
          "type": "string"
        },
        "machineTypeSeries": {
          "type": "string",
          "description": "The machine type series to create the VM with."
        },
        "serviceAccount": {
          "type": "string",
          "description": "The service account to associate the VM with."
        },
        "computeScheduling": {
          "$ref": "ComputeScheduling",
          "description": "Compute instance scheduling information (if empty default is used)."
        },
        "networkTags": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A map of network tags to associate with the VM."
        },
        "secureBoot": {
          "description": "Defines whether the instance has Secure Boot enabled. This can be set to true only if the vm boot option is EFI.",
          "type": "boolean"
        },
        "zone": {
          "type": "string",
          "description": "The zone in which to create the VM."
        },
        "diskType": {
          "description": "The disk type to use in the VM.",
          "type": "string",
          "enumDescriptions": [
            "An unspecified disk type. Will be used as STANDARD.",
            "A Standard disk type.",
            "SSD hard disk type.",
            "An alternative to SSD persistent disks that balance performance and cost."
          ],
          "enum": [
            "COMPUTE_ENGINE_DISK_TYPE_UNSPECIFIED",
            "COMPUTE_ENGINE_DISK_TYPE_STANDARD",
            "COMPUTE_ENGINE_DISK_TYPE_SSD",
            "COMPUTE_ENGINE_DISK_TYPE_BALANCED"
          ]
        },
        "machineType": {
          "type": "string",
          "description": "The machine type to create the VM with."
        },
        "additionalLicenses": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Additional licenses to assign to the VM."
        },
        "licenseType": {
          "description": "The license type to use in OS adaptation.",
          "enumDescriptions": [
            "The license type is the default for the OS.",
            "The license type is Pay As You Go license type.",
            "The license type is Bring Your Own License type."
          ],
          "type": "string",
          "enum": [
            "COMPUTE_ENGINE_LICENSE_TYPE_DEFAULT",
            "COMPUTE_ENGINE_LICENSE_TYPE_PAYG",
            "COMPUTE_ENGINE_LICENSE_TYPE_BYOL"
          ]
        },
        "project": {
          "type": "string",
          "description": "The GCP target project ID or project name."
        },
        "appliedLicense": {
          "$ref": "AppliedLicense",
          "description": "The OS license returned from the adaptation module report."
        },
        "metadata": {
          "description": "The metadata key/value pairs to assign to the VM.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "labels": {
          "description": "A map of labels to associate with the VM.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "networkInterfaces": {
          "description": "List of NICs connected to this VM.",
          "items": {
            "$ref": "NetworkInterface"
          },
          "type": "array"
        },
        "bootOption": {
          "description": "The VM Boot Option, as set in the source vm.",
          "type": "string",
          "enumDescriptions": [
            "The boot option is unknown.",
            "The boot option is EFI.",
            "The boot option is BIOS."
          ],
          "enum": [
            "COMPUTE_ENGINE_BOOT_OPTION_UNSPECIFIED",
            "COMPUTE_ENGINE_BOOT_OPTION_EFI",
            "COMPUTE_ENGINE_BOOT_OPTION_BIOS"
          ]
        }
      },
      "id": "ComputeEngineTargetDetails",
      "type": "object"
    },
    "Group": {
      "type": "object",
      "id": "Group",
      "description": "Describes message for 'Group' resource. The Group is a collections of several MigratingVms.",
      "properties": {
        "description": {
          "type": "string",
          "description": "User-provided description of the group."
        },
        "createTime": {
          "description": "Output only. The create time timestamp.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The update time timestamp.",
          "readOnly": true
        },
        "displayName": {
          "description": "Display name is a user defined name for this group which can be updated.",
          "type": "string"
        },
        "name": {
          "description": "The Group name.",
          "type": "string"
        }
      }
    },
    "CancelCloneJobRequest": {
      "description": "Request message for 'CancelCloneJob' request.",
      "properties": {},
      "id": "CancelCloneJobRequest",
      "type": "object"
    },
    "UtilizationReport": {
      "id": "UtilizationReport",
      "properties": {
        "frameEndTime": {
          "type": "string",
          "description": "Output only. The point in time when the time frame ends. Notice that the time frame is counted backwards. For instance if the \"frame_end_time\" value is 2021/01/20 and the time frame is WEEK then the report covers the week between 2021/01/20 and 2021/01/14.",
          "format": "google-datetime",
          "readOnly": true
        },
        "stateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the state was last set.",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the report was created (this refers to the time of the request, not the time the report creation completed).",
          "type": "string"
        },
        "displayName": {
          "description": "The report display name, as assigned by the user.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "The state is unknown. This value is not in use.",
            "The report is in the making.",
            "Report creation completed successfully.",
            "Report creation failed."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. Current state of the report.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "SUCCEEDED",
            "FAILED"
          ]
        },
        "error": {
          "description": "Output only. Provides details on the state of the report in case of an error.",
          "readOnly": true,
          "$ref": "Status"
        },
        "vmsCount": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. Total number of VMs included in the report.",
          "readOnly": true
        },
        "vms": {
          "description": "List of utilization information per VM. When sent as part of the request, the \"vm_id\" field is used in order to specify which VMs to include in the report. In that case all other fields are ignored.",
          "items": {
            "$ref": "VmUtilizationInfo"
          },
          "type": "array"
        },
        "timeFrame": {
          "description": "Time frame of the report.",
          "type": "string",
          "enumDescriptions": [
            "The time frame was not specified and will default to WEEK.",
            "One week.",
            "One month.",
            "One year."
          ],
          "enum": [
            "TIME_FRAME_UNSPECIFIED",
            "WEEK",
            "MONTH",
            "YEAR"
          ]
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The report unique name."
        },
        "vmCount": {
          "format": "int32",
          "readOnly": true,
          "type": "integer",
          "description": "Output only. Total number of VMs included in the report."
        }
      },
      "description": "Utilization report details the utilization (CPU, memory, etc.) of selected source VMs.",
      "type": "object"
    },
    "PauseMigrationRequest": {
      "properties": {},
      "id": "PauseMigrationRequest",
      "type": "object",
      "description": "Request message for 'PauseMigration' request."
    },
    "Empty": {
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "id": "Empty"
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "id": "ListLocationsResponse",
      "type": "object"
    },
    "ListDatacenterConnectorsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "readOnly": true
        },
        "unreachable": {
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. Locations that could not be reached."
        },
        "datacenterConnectors": {
          "readOnly": true,
          "description": "Output only. The list of sources response.",
          "items": {
            "$ref": "DatacenterConnector"
          },
          "type": "array"
        }
      },
      "id": "ListDatacenterConnectorsResponse",
      "description": "Response message for 'ListDatacenterConnectors' request."
    },
    "ComputeScheduling": {
      "type": "object",
      "id": "ComputeScheduling",
      "description": "Scheduling information for VM on maintenance/restart behaviour and node allocation in sole tenant nodes.",
      "properties": {
        "automaticRestart": {
          "type": "boolean"
        },
        "minNodeCpus": {
          "type": "integer",
          "format": "int32",
          "description": "The minimum number of virtual CPUs this instance will consume when running on a sole-tenant node. Ignored if no node_affinites are configured."
        },
        "nodeAffinities": {
          "type": "array",
          "items": {
            "$ref": "SchedulingNodeAffinity"
          },
          "description": "A set of node affinity and anti-affinity configurations for sole tenant nodes."
        },
        "restartType": {
          "description": "Whether the Instance should be automatically restarted whenever it is terminated by Compute Engine (not terminated by user). This configuration is identical to `automaticRestart` field in Compute Engine create instance under scheduling. It was changed to an enum (instead of a boolean) to match the default value in Compute Engine which is automatic restart.",
          "type": "string",
          "enum": [
            "RESTART_TYPE_UNSPECIFIED",
            "AUTOMATIC_RESTART",
            "NO_AUTOMATIC_RESTART"
          ],
          "enumDescriptions": [
            "Unspecified behavior. This will use the default.",
            "The Instance should be automatically restarted whenever it is terminated by Compute Engine.",
            "The Instance isn't automatically restarted whenever it is terminated by Compute Engine."
          ]
        },
        "onHostMaintenance": {
          "type": "string",
          "description": "How the instance should behave when the host machine undergoes maintenance that may temporarily impact instance performance.",
          "enumDescriptions": [
            "An unknown, unexpected behavior.",
            "Terminate the instance when the host machine undergoes maintenance.",
            "Migrate the instance when the host machine undergoes maintenance."
          ],
          "enum": [
            "ON_HOST_MAINTENANCE_UNSPECIFIED",
            "TERMINATE",
            "MIGRATE"
          ]
        }
      }
    },
    "Status": {
      "properties": {
        "details": {
          "type": "array",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      },
      "id": "Status",
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "MigratingVm": {
      "id": "MigratingVm",
      "description": "MigratingVm describes the VM that will be migrated from a Source environment and its replication state.",
      "type": "object",
      "properties": {
        "description": {
          "description": "The description attached to the migrating VM by the user.",
          "type": "string"
        },
        "targetDefaults": {
          "$ref": "TargetVMDetails",
          "description": "The default configuration of the target VM that will be created in GCP as a result of the migration. Deprecated: Use compute_engine_target_defaults instead."
        },
        "computeEngineVmDefaults": {
          "$ref": "TargetVMDetails",
          "description": "Details of the VM in Compute Engine. Deprecated: Use compute_engine_target_defaults instead."
        },
        "name": {
          "description": "Output only. The identifier of the MigratingVm.",
          "readOnly": true,
          "type": "string"
        },
        "group": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The group this migrating vm is included in, if any. The group is represented by the full path of the appropriate Group resource."
        },
        "recentCloneJobs": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The recent clone jobs performed on the migrating VM. This field holds the vm's last completed clone job and the vm's running clone job, if one exists. Note: To have this field populated you need to explicitly request it via the \"view\" parameter of the Get/List request.",
          "items": {
            "$ref": "CloneJob"
          }
        },
        "policy": {
          "description": "The replication schedule policy.",
          "$ref": "SchedulePolicy"
        },
        "stateTime": {
          "format": "google-datetime",
          "description": "Output only. The last time the migrating VM state was updated.",
          "type": "string",
          "readOnly": true
        },
        "labels": {
          "type": "object",
          "description": "The labels of the migrating VM.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time the migrating VM was created (this refers to this resource and not to the time it was installed in the source).",
          "format": "google-datetime",
          "type": "string"
        },
        "recentCutoverJobs": {
          "items": {
            "$ref": "CutoverJob"
          },
          "readOnly": true,
          "description": "Output only. The recent cutover jobs performed on the migrating VM. This field holds the vm's last completed cutover job and the vm's running cutover job, if one exists. Note: To have this field populated you need to explicitly request it via the \"view\" parameter of the Get/List request.",
          "type": "array"
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "READY",
            "FIRST_SYNC",
            "ACTIVE",
            "CUTTING_OVER",
            "CUTOVER",
            "FINAL_SYNC",
            "PAUSED",
            "FINALIZING",
            "FINALIZED",
            "ERROR"
          ],
          "enumDescriptions": [
            "The state was not sampled by the health checks yet.",
            "The VM in the source is being verified.",
            "The source VM was verified, and it's ready to start replication.",
            "Migration is going through the first sync cycle.",
            "The replication is active, and it's running or scheduled to run.",
            "The source VM is being turned off, and a final replication is currently running.",
            "The source VM was stopped and replicated. The replication is currently paused.",
            "A cutover job is active and replication cycle is running the final sync.",
            "The replication was paused by the user and no cycles are scheduled to run.",
            "The migrating VM is being finalized and migration resources are being removed.",
            "The replication process is done. The migrating VM is finalized and no longer consumes billable resources.",
            "The replication process encountered an unrecoverable error and was aborted."
          ],
          "description": "Output only. State of the MigratingVm.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The display name attached to the MigratingVm by the user."
        },
        "currentSyncInfo": {
          "readOnly": true,
          "description": "Output only. The percentage progress of the current running replication cycle.",
          "$ref": "ReplicationCycle"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The last time the migrating VM resource was updated.",
          "readOnly": true,
          "type": "string"
        },
        "sourceVmId": {
          "description": "The unique ID of the VM in the source. The VM's name in vSphere can be changed, so this is not the VM's name but rather its moRef id. This id is of the form vm-.",
          "type": "string"
        },
        "error": {
          "readOnly": true,
          "description": "Output only. Provides details on the state of the Migrating VM in case of an error in replication.",
          "$ref": "Status"
        },
        "lastSync": {
          "description": "Output only. The most updated snapshot created time in the source that finished replication.",
          "$ref": "ReplicationSync",
          "readOnly": true
        },
        "computeEngineTargetDefaults": {
          "description": "Details of the target VM in Compute Engine.",
          "$ref": "ComputeEngineTargetDefaults"
        }
      }
    },
    "ResumeMigrationRequest": {
      "id": "ResumeMigrationRequest",
      "description": "Request message for 'ResumeMigration' request.",
      "type": "object",
      "properties": {}
    },
    "StartMigrationRequest": {
      "description": "Request message for 'StartMigrationRequest' request.",
      "properties": {},
      "id": "StartMigrationRequest",
      "type": "object"
    },
    "Link": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "Describes what the link offers."
        },
        "url": {
          "description": "The URL of the link.",
          "type": "string"
        }
      },
      "id": "Link",
      "description": "Describes a URL link."
    },
    "ReplicationSync": {
      "description": "ReplicationSync contain information about the last replica sync to the cloud.",
      "id": "ReplicationSync",
      "properties": {
        "lastSyncTime": {
          "description": "The most updated snapshot created time in the source that finished replication.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "VmwareVmsDetails": {
      "properties": {
        "details": {
          "items": {
            "$ref": "VmwareVmDetails"
          },
          "type": "array",
          "description": "The details of the vmware VMs."
        }
      },
      "type": "object",
      "description": "VmwareVmsDetails describes VMs in vCenter.",
      "id": "VmwareVmsDetails"
    },
    "PostProcessingStep": {
      "id": "PostProcessingStep",
      "type": "object",
      "properties": {},
      "description": "PostProcessingStep contains specific step details."
    },
    "ListCloneJobsResponse": {
      "id": "ListCloneJobsResponse",
      "properties": {
        "cloneJobs": {
          "description": "Output only. The list of clone jobs response.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "CloneJob"
          }
        },
        "nextPageToken": {
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "readOnly": true,
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. Locations that could not be reached."
        }
      },
      "description": "Response message for 'ListCloneJobs' request.",
      "type": "object"
    },
    "VmwareVmDetails": {
      "id": "VmwareVmDetails",
      "type": "object",
      "properties": {
        "datacenterId": {
          "description": "The id of the vCenter's datacenter this VM is contained in.",
          "type": "string"
        },
        "memoryMb": {
          "type": "integer",
          "format": "int32",
          "description": "The size of the memory of the VM in MB."
        },
        "vmId": {
          "type": "string",
          "description": "The VM's id in the source (note that this is not the MigratingVm's id). This is the moref id of the VM."
        },
        "diskCount": {
          "type": "integer",
          "description": "The number of disks the VM has.",
          "format": "int32"
        },
        "displayName": {
          "description": "The display name of the VM. Note that this is not necessarily unique.",
          "type": "string"
        },
        "committedStorageMb": {
          "description": "The total size of the storage allocated to the VM in MB.",
          "type": "string",
          "format": "int64"
        },
        "uuid": {
          "description": "The unique identifier of the VM in vCenter.",
          "type": "string"
        },
        "committedStorage": {
          "type": "string",
          "description": "The total size of the storage allocated to the VM in MB.",
          "format": "int64"
        },
        "bootOption": {
          "enumDescriptions": [
            "The boot option is unknown.",
            "The boot option is EFI.",
            "The boot option is BIOS."
          ],
          "enum": [
            "BOOT_OPTION_UNSPECIFIED",
            "EFI",
            "BIOS"
          ],
          "description": "Output only. The VM Boot Option.",
          "readOnly": true,
          "type": "string"
        },
        "cpuCount": {
          "type": "integer",
          "description": "The number of cpus in the VM.",
          "format": "int32"
        },
        "guestDescription": {
          "type": "string",
          "description": "The VM's OS. See for example https://pubs.vmware.com/vi-sdk/visdk250/ReferenceGuide/vim.vm.GuestOsDescriptor.GuestOsIdentifier.html for types of strings this might hold."
        },
        "datacenterDescription": {
          "description": "The descriptive name of the vCenter's datacenter this VM is contained in.",
          "type": "string"
        },
        "powerState": {
          "enum": [
            "POWER_STATE_UNSPECIFIED",
            "ON",
            "OFF",
            "SUSPENDED"
          ],
          "description": "The power state of the VM at the moment list was taken.",
          "type": "string",
          "enumDescriptions": [
            "Power state is not specified.",
            "The VM is turned ON.",
            "The VM is turned OFF.",
            "The VM is suspended. This is similar to hibernation or sleep mode."
          ]
        }
      },
      "description": "VmwareVmDetails describes a VM in vCenter."
    },
    "FinalizeMigrationRequest": {
      "type": "object",
      "id": "FinalizeMigrationRequest",
      "description": "Request message for 'FinalizeMigration' request.",
      "properties": {}
    },
    "FetchInventoryResponse": {
      "properties": {
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The timestamp when the source was last queried (if the result is from the cache).",
          "type": "string"
        },
        "vmwareVms": {
          "readOnly": true,
          "$ref": "VmwareVmsDetails",
          "description": "Output only. The description of the VMs in a Source of type Vmware."
        }
      },
      "id": "FetchInventoryResponse",
      "type": "object",
      "description": "Response message for fetchInventory."
    },
    "AppliedLicense": {
      "properties": {
        "osLicense": {
          "description": "The OS license returned from the adaptation module's report.",
          "type": "string"
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "NONE",
            "PAYG",
            "BYOL"
          ],
          "enumDescriptions": [
            "Unspecified license for the OS.",
            "No license available for the OS.",
            "The license type is Pay As You Go license type.",
            "The license type is is Bring Your Own License type."
          ],
          "description": "The license type that was used in OS adaptation.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "AppliedLicense",
      "description": "AppliedLicense holds the license data returned by adaptation module report."
    },
    "DatacenterConnector": {
      "type": "object",
      "description": "DatacenterConnector message describes a connector between the Source and GCP, which is installed on a vmware datacenter (an OVA vm installed by the user) to connect the Datacenter to GCP and support vm migration data transfer.",
      "id": "DatacenterConnector",
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. The connector's name.",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "OFFLINE",
            "FAILED",
            "ACTIVE"
          ],
          "description": "Output only. State of the DatacenterConnector, as determined by the health checks.",
          "readOnly": true,
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
            "The state was not sampled by the health checks yet.",
            "The source was sampled by health checks and is not available.",
            "The source is available but might not be usable yet due to unvalidated credentials or another reason. The credentials referred to are the ones to the Source. The error message will contain further details.",
            "The source exists and its credentials were verified."
          ],
          "type": "string"
        },
        "error": {
          "readOnly": true,
          "$ref": "Status",
          "description": "Output only. Provides details on the state of the Datacenter Connector in case of an error."
        },
        "bucket": {
          "type": "string",
          "description": "Output only. The communication channel between the datacenter connector and GCP.",
          "readOnly": true
        },
        "serviceAccount": {
          "description": "The service account to use in the connector when communicating with the cloud.",
          "type": "string"
        },
        "registrationId": {
          "description": "Immutable. A unique key for this connector. This key is internal to the OVA connector and is supplied with its creation during the registration process and can not be modified.",
          "type": "string"
        },
        "stateTime": {
          "type": "string",
          "description": "Output only. The time the state was last set.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "version": {
          "description": "The version running in the DatacenterConnector. This is supplied by the OVA connector during the registration process and can not be modified.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the connector was created (as an API call, not when it was actually installed).",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The last time the connector was updated with an API call.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "ComputeEngineTargetDefaults": {
      "description": "ComputeEngineTargetDefaults is a collection of details for creating a VM in a target Compute Engine project.",
      "properties": {
        "bootOption": {
          "enum": [
            "COMPUTE_ENGINE_BOOT_OPTION_UNSPECIFIED",
            "COMPUTE_ENGINE_BOOT_OPTION_EFI",
            "COMPUTE_ENGINE_BOOT_OPTION_BIOS"
          ],
          "description": "Output only. The VM Boot Option, as set in the source vm.",
          "type": "string",
          "enumDescriptions": [
            "The boot option is unknown.",
            "The boot option is EFI.",
            "The boot option is BIOS."
          ],
          "readOnly": true
        },
        "vmName": {
          "description": "The name of the VM to create.",
          "type": "string"
        },
        "secureBoot": {
          "description": "Defines whether the instance has Secure Boot enabled. This can be set to true only if the vm boot option is EFI.",
          "type": "boolean"
        },
        "networkInterfaces": {
          "description": "List of NICs connected to this VM.",
          "type": "array",
          "items": {
            "$ref": "NetworkInterface"
          }
        },
        "computeScheduling": {
          "description": "Compute instance scheduling information (if empty default is used).",
          "$ref": "ComputeScheduling"
        },
        "machineTypeSeries": {
          "type": "string",
          "description": "The machine type series to create the VM with."
        },
        "labels": {
          "description": "A map of labels to associate with the VM.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "targetProject": {
          "type": "string",
          "description": "The full path of the resource of type TargetProject which represents the Compute Engine project in which to create this VM."
        },
        "additionalLicenses": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Additional licenses to assign to the VM."
        },
        "machineType": {
          "description": "The machine type to create the VM with.",
          "type": "string"
        },
        "appliedLicense": {
          "description": "Output only. The OS license returned from the adaptation module report.",
          "readOnly": true,
          "$ref": "AppliedLicense"
        },
        "zone": {
          "description": "The zone in which to create the VM.",
          "type": "string"
        },
        "metadata": {
          "description": "The metadata key/value pairs to assign to the VM.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "licenseType": {
          "description": "The license type to use in OS adaptation.",
          "enum": [
            "COMPUTE_ENGINE_LICENSE_TYPE_DEFAULT",
            "COMPUTE_ENGINE_LICENSE_TYPE_PAYG",
            "COMPUTE_ENGINE_LICENSE_TYPE_BYOL"
          ],
          "enumDescriptions": [
            "The license type is the default for the OS.",
            "The license type is Pay As You Go license type.",
            "The license type is Bring Your Own License type."
          ],
          "type": "string"
        },
        "serviceAccount": {
          "description": "The service account to associate the VM with.",
          "type": "string"
        },
        "diskType": {
          "enum": [
            "COMPUTE_ENGINE_DISK_TYPE_UNSPECIFIED",
            "COMPUTE_ENGINE_DISK_TYPE_STANDARD",
            "COMPUTE_ENGINE_DISK_TYPE_SSD",
            "COMPUTE_ENGINE_DISK_TYPE_BALANCED"
          ],
          "type": "string",
          "enumDescriptions": [
            "An unspecified disk type. Will be used as STANDARD.",
            "A Standard disk type.",
            "SSD hard disk type.",
            "An alternative to SSD persistent disks that balance performance and cost."
          ],
          "description": "The disk type to use in the VM."
        },
        "networkTags": {
          "items": {
            "type": "string"
          },
          "description": "A map of network tags to associate with the VM.",
          "type": "array"
        }
      },
      "id": "ComputeEngineTargetDefaults",
      "type": "object"
    },
    "CycleStep": {
      "id": "CycleStep",
      "type": "object",
      "description": "CycleStep hold information about a step progress.",
      "properties": {
        "startTime": {
          "description": "The time the cycle step has started.",
          "format": "google-datetime",
          "type": "string"
        },
        "initializingReplication": {
          "description": "Initializing replication step.",
          "$ref": "InitializingReplicationStep"
        },
        "postProcessing": {
          "$ref": "PostProcessingStep",
          "description": "Post processing step."
        },
        "replicating": {
          "description": "Replicating step.",
          "$ref": "ReplicatingStep"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the cycle step has ended."
        }
      }
    },
    "ReplicatingStep": {
      "id": "ReplicatingStep",
      "properties": {
        "lastThirtyMinutesAverageBytesPerSecond": {
          "format": "int64",
          "type": "string",
          "description": "The source disks replication rate for the last 30 minutes in bytes per second."
        },
        "totalBytes": {
          "format": "int64",
          "description": "Total bytes to be handled in the step.",
          "type": "string"
        },
        "lastTwoMinutesAverageBytesPerSecond": {
          "type": "string",
          "format": "int64",
          "description": "The source disks replication rate for the last 2 minutes in bytes per second."
        },
        "replicatedBytes": {
          "type": "string",
          "description": "Replicated bytes in the step.",
          "format": "int64"
        }
      },
      "type": "object",
      "description": "ReplicatingStep contains specific step details."
    },
    "MigrationError": {
      "id": "MigrationError",
      "properties": {
        "errorTime": {
          "description": "Output only. The time the error occurred.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "errorMessage": {
          "$ref": "LocalizedMessage",
          "readOnly": true,
          "description": "Output only. The localized error message."
        },
        "actionItem": {
          "readOnly": true,
          "$ref": "LocalizedMessage",
          "description": "Output only. Suggested action for solving the error."
        },
        "code": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "ERROR_CODE_UNSPECIFIED",
            "UNKNOWN_ERROR",
            "SOURCE_VALIDATION_ERROR",
            "SOURCE_REPLICATION_ERROR",
            "TARGET_REPLICATION_ERROR",
            "OS_ADAPTATION_ERROR",
            "CLONE_ERROR",
            "CUTOVER_ERROR",
            "UTILIZATION_REPORT_ERROR",
            "APPLIANCE_UPGRADE_ERROR"
          ],
          "enumDescriptions": [
            "Default value. This value is not used.",
            "Migrate for Compute encountered an unknown error.",
            "Migrate for Compute encountered an error while validating replication source health.",
            "Migrate for Compute encountered an error during source data operation.",
            "Migrate for Compute encountered an error during target data operation.",
            "Migrate for Compute encountered an error during OS adaptation.",
            "Migrate for Compute encountered an error in clone operation.",
            "Migrate for Compute encountered an error in cutover operation.",
            "Migrate for Compute encountered an error during utilization report creation.",
            "Migrate for Compute encountered an error during appliance upgrade."
          ],
          "description": "Output only. The error code."
        },
        "helpLinks": {
          "items": {
            "$ref": "Link"
          },
          "description": "Output only. URL(s) pointing to additional information on handling the current error.",
          "readOnly": true,
          "type": "array"
        }
      },
      "description": "Represents migration resource error information that can be used with google.rpc.Status message. MigrationError is used to present the user with error information in migration operations.",
      "type": "object"
    },
    "AddGroupMigrationRequest": {
      "properties": {
        "migratingVm": {
          "type": "string",
          "description": "The full path name of the MigratingVm to add."
        }
      },
      "id": "AddGroupMigrationRequest",
      "type": "object",
      "description": "Request message for 'AddGroupMigration' request."
    },
    "ReplicationCycle": {
      "id": "ReplicationCycle",
      "properties": {
        "steps": {
          "items": {
            "$ref": "CycleStep"
          },
          "type": "array",
          "description": "The cycle's steps list reflecting its progress."
        },
        "progress": {
          "description": "The current progress in percentage of this cycle.",
          "format": "int32",
          "type": "integer"
        },
        "endTime": {
          "description": "The time the replication cycle has ended.",
          "type": "string",
          "format": "google-datetime"
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time the replication cycle has started."
        },
        "totalPauseDuration": {
          "description": "The accumulated duration the replication cycle was paused.",
          "format": "google-duration",
          "type": "string"
        },
        "progressPercent": {
          "format": "int32",
          "type": "integer",
          "description": "The current progress in percentage of this cycle."
        }
      },
      "description": "ReplicationCycle contains information about the current replication cycle status.",
      "type": "object"
    },
    "VmUtilizationMetrics": {
      "properties": {
        "diskIoRateAverage": {
          "description": "Average disk IO rate, in kilobytes per second.",
          "format": "int64",
          "type": "string"
        },
        "diskIoRateAverageKbps": {
          "format": "int64",
          "description": "Average disk IO rate, in kilobytes per second.",
          "type": "string"
        },
        "cpuAveragePercent": {
          "format": "int32",
          "description": "Average CPU usage, percent.",
          "type": "integer"
        },
        "memoryMax": {
          "type": "integer",
          "description": "Max memory usage, percent.",
          "format": "int32"
        },
        "diskIoRateMaxKbps": {
          "format": "int64",
          "description": "Max disk IO rate, in kilobytes per second.",
          "type": "string"
        },
        "networkThroughputMax": {
          "format": "int64",
          "type": "string",
          "description": "Max network throughput (combined transmit-rates and receive-rates), in kilobytes per second."
        },
        "networkThroughputMaxKbps": {
          "description": "Max network throughput (combined transmit-rates and receive-rates), in kilobytes per second.",
          "format": "int64",
          "type": "string"
        },
        "memoryAveragePercent": {
          "format": "int32",
          "description": "Average memory usage, percent.",
          "type": "integer"
        },
        "cpuAverage": {
          "format": "int32",
          "description": "Average CPU usage, percent.",
          "type": "integer"
        },
        "cpuMaxPercent": {
          "type": "integer",
          "format": "int32",
          "description": "Max CPU usage, percent."
        },
        "networkThroughputAverage": {
          "format": "int64",
          "description": "Average network throughput (combined transmit-rates and receive-rates), in kilobytes per second.",
          "type": "string"
        },
        "networkThroughputAverageKbps": {
          "description": "Average network throughput (combined transmit-rates and receive-rates), in kilobytes per second.",
          "format": "int64",
          "type": "string"
        },
        "memoryAverage": {
          "format": "int32",
          "description": "Average memory usage, percent.",
          "type": "integer"
        },
        "diskIoRateMax": {
          "type": "string",
          "format": "int64",
          "description": "Max disk IO rate, in kilobytes per second."
        },
        "cpuMax": {
          "type": "integer",
          "format": "int32",
          "description": "Max CPU usage, percent."
        },
        "memoryMaxPercent": {
          "description": "Max memory usage, percent.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "Utilization metrics values for a single VM.",
      "id": "VmUtilizationMetrics"
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "properties": {},
      "id": "CancelOperationRequest",
      "type": "object"
    },
    "TargetProject": {
      "description": "TargetProject message represents a target Compute Engine project for a migration or a clone.",
      "type": "object",
      "id": "TargetProject",
      "properties": {
        "project": {
          "type": "string",
          "description": "The target project ID (number) or project name."
        },
        "description": {
          "type": "string",
          "description": "The target project's description."
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time this target project resource was created (not related to when the Compute Engine project it points to was created).",
          "type": "string"
        },
        "name": {
          "description": "The name of the target project.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The last time the target project resource was updated."
        }
      }
    },
    "ListTargetProjectsResponse": {
      "id": "ListTargetProjectsResponse",
      "properties": {
        "nextPageToken": {
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "readOnly": true,
          "type": "string"
        },
        "targetProjects": {
          "description": "Output only. The list of target response.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "TargetProject"
          }
        },
        "unreachable": {
          "description": "Output only. Locations that could not be reached.",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Response message for 'ListTargetProjects' call.",
      "type": "object"
    },
    "ListGroupsResponse": {
      "id": "ListGroupsResponse",
      "type": "object",
      "description": "Response message for 'ListGroups' request.",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. Locations that could not be reached.",
          "readOnly": true
        },
        "groups": {
          "type": "array",
          "description": "Output only. The list of groups response.",
          "readOnly": true,
          "items": {
            "$ref": "Group"
          }
        },
        "nextPageToken": {
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "VmUtilizationInfo": {
      "id": "VmUtilizationInfo",
      "description": "Utilization information of a single VM.",
      "properties": {
        "utilization": {
          "$ref": "VmUtilizationMetrics",
          "description": "Utilization metrics for this VM."
        },
        "vmwareVmDetails": {
          "$ref": "VmwareVmDetails",
          "description": "The description of the VM in a Source of type Vmware."
        },
        "vmId": {
          "type": "string",
          "description": "The VM's ID in the source."
        }
      },
      "type": "object"
    },
    "ListMigratingVmsResponse": {
      "properties": {
        "migratingVms": {
          "type": "array",
          "description": "Output only. The list of Migrating VMs response.",
          "readOnly": true,
          "items": {
            "$ref": "MigratingVm"
          }
        },
        "nextPageToken": {
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "readOnly": true,
          "type": "string"
        },
        "unreachable": {
          "readOnly": true,
          "description": "Output only. Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Response message for 'ListMigratingVms' request.",
      "id": "ListMigratingVmsResponse"
    },
    "Source": {
      "id": "Source",
      "description": "Source message describes a specific vm migration Source resource. It contains the source environment information.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. The Source name.",
          "readOnly": true
        },
        "error": {
          "$ref": "Status",
          "readOnly": true,
          "description": "Output only. Provides details on the state of the Source in case of an error."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The labels of the source."
        },
        "vmware": {
          "description": "Vmware type source details.",
          "$ref": "VmwareSourceDetails"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The create time timestamp.",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "description": "User-provided description of the source.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The update time timestamp.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "Location": {
      "description": "A resource that represents Google Cloud Platform location.",
      "properties": {
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        }
      },
      "id": "Location",
      "type": "object"
    },
    "OperationMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "id": "OperationMetadata",
      "type": "object",
      "properties": {
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "type": "string",
          "readOnly": true
        },
        "target": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "endTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the operation finished running.",
          "type": "string"
        },
        "statusMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "requestedCancellation": {
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime"
        }
      }
    },
    "ListSourcesResponse": {
      "properties": {
        "unreachable": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. Locations that could not be reached.",
          "type": "array"
        },
        "sources": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The list of sources response.",
          "items": {
            "$ref": "Source"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "readOnly": true
        }
      },
      "id": "ListSourcesResponse",
      "description": "Response message for 'ListSources' request.",
      "type": "object"
    },
    "SchedulePolicy": {
      "properties": {
        "idleDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "The idle duration between replication stages."
        },
        "skipOsAdaptation": {
          "description": "A flag to indicate whether to skip OS adaptation during the replication sync. OS adaptation is a process where the VM's operating system undergoes changes and adaptations to fully function on Compute Engine.",
          "type": "boolean"
        }
      },
      "description": "A policy for scheduling replications.",
      "type": "object",
      "id": "SchedulePolicy"
    },
    "SchedulingNodeAffinity": {
      "type": "object",
      "id": "SchedulingNodeAffinity",
      "description": "Node Affinity: the configuration of desired nodes onto which this Instance could be scheduled. Based on https://cloud.google.com/compute/docs/reference/rest/v1/instances/setScheduling",
      "properties": {
        "operator": {
          "enum": [
            "OPERATOR_UNSPECIFIED",
            "IN",
            "NOT_IN"
          ],
          "description": "The operator to use for the node resources specified in the `values` parameter.",
          "type": "string",
          "enumDescriptions": [
            "An unknown, unexpected behavior.",
            "The node resource group should be in these resources affinity.",
            "The node resource group should not be in these resources affinity."
          ]
        },
        "values": {
          "items": {
            "type": "string"
          },
          "description": "Corresponds to the label values of Node resource.",
          "type": "array"
        },
        "key": {
          "description": "The label key of Node resource to reference.",
          "type": "string"
        }
      }
    },
    "ListUtilizationReportsResponse": {
      "type": "object",
      "description": "Response message for 'ListUtilizationReports' request.",
      "properties": {
        "utilizationReports": {
          "type": "array",
          "items": {
            "$ref": "UtilizationReport"
          },
          "description": "Output only. The list of reports.",
          "readOnly": true
        },
        "nextPageToken": {
          "readOnly": true,
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListUtilizationReportsResponse"
    },
    "CancelCutoverJobRequest": {
      "properties": {},
      "description": "Request message for 'CancelCutoverJob' request.",
      "type": "object",
      "id": "CancelCutoverJobRequest"
    },
    "CutoverJob": {
      "description": "CutoverJob message describes a cutover of a migrating VM. The CutoverJob is the operation of shutting down the VM, creating a snapshot and clonning the VM using the replicated snapshot.",
      "properties": {
        "computeEngineVmDetails": {
          "$ref": "TargetVMDetails",
          "description": "Output only. Details of the VM in Compute Engine. Deprecated: Use compute_engine_target_details instead.",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The time the cutover job was created (as an API call, not when it was actually created in the target).",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "error": {
          "description": "Output only. Provides details for the errors that led to the Cutover Job's state.",
          "readOnly": true,
          "$ref": "Status"
        },
        "progressPercent": {
          "type": "integer",
          "readOnly": true,
          "description": "Output only. The current progress in percentage of the cutover job.",
          "format": "int32"
        },
        "progress": {
          "type": "integer",
          "format": "int32",
          "readOnly": true,
          "description": "Output only. The current progress in percentage of the cutover job."
        },
        "targetDetails": {
          "$ref": "TargetVMDetails",
          "description": "Output only. Details of the VM to create as the target of this cutover job. Deprecated: Use compute_engine_target_details instead.",
          "readOnly": true
        },
        "name": {
          "description": "Output only. The name of the cutover job.",
          "type": "string",
          "readOnly": true
        },
        "stateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the state was last updated."
        },
        "stateMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A message providing possible extra details about the current state."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "FAILED",
            "SUCCEEDED",
            "CANCELLED",
            "CANCELLING",
            "ACTIVE",
            "ADAPTING_OS"
          ],
          "description": "Output only. State of the cutover job.",
          "readOnly": true,
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
            "The cutover job has not yet started.",
            "The cutover job finished with errors.",
            "The cutover job finished successfully.",
            "The cutover job was cancelled.",
            "The cutover job is being cancelled.",
            "The cutover job is active and running.",
            "OS adaptation is running as part of the cutover job to generate license."
          ],
          "type": "string"
        },
        "computeEngineTargetDetails": {
          "$ref": "ComputeEngineTargetDetails",
          "readOnly": true,
          "description": "Output only. Details of the target VM in Compute Engine."
        }
      },
      "id": "CutoverJob",
      "type": "object"
    },
    "NetworkInterface": {
      "id": "NetworkInterface",
      "type": "object",
      "properties": {
        "network": {
          "description": "The network to connect the NIC to.",
          "type": "string"
        },
        "externalIp": {
          "type": "string",
          "description": "The external IP to define in the NIC."
        },
        "internalIp": {
          "type": "string",
          "description": "The internal IP to define in the NIC. The formats accepted are: `ephemeral` \\ ipv4 address \\ a named address resource full path."
        },
        "subnetwork": {
          "description": "The subnetwork to connect the NIC to.",
          "type": "string"
        }
      },
      "description": "NetworkInterface represents a NIC of a VM."
    },
    "ListOperationsResponse": {
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "type": "object"
    },
    "InitializingReplicationStep": {
      "description": "InitializingReplicationStep contains specific step details.",
      "id": "InitializingReplicationStep",
      "properties": {},
      "type": "object"
    },
    "RemoveGroupMigrationRequest": {
      "id": "RemoveGroupMigrationRequest",
      "type": "object",
      "properties": {
        "migratingVm": {
          "type": "string",
          "description": "The MigratingVm to remove."
        }
      },
      "description": "Request message for 'RemoveMigration' request."
    }
  },
  "documentationLink": "https://cloud.google.com/migrate/compute-engine",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "canonicalName": "VM Migration Service",
  "servicePath": "",
  "version_module": true,
  "ownerDomain": "google.com",
  "kind": "discovery#restDescription",
  "rootUrl": "https://vmmigration.googleapis.com/",
  "version": "v1alpha1",
  "parameters": {
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "type": "string",
      "location": "query",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    }
  },
  "mtlsRootUrl": "https://vmmigration.mtls.googleapis.com/",
  "id": "vmmigration:v1alpha1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "revision": "20220120",
  "fullyEncodeReservedExpansion": true,
  "baseUrl": "https://vmmigration.googleapis.com/",
  "protocol": "rest",
  "batchPath": "batch",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "get": {
              "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1alpha1/{+name}",
              "description": "Gets information about a location.",
              "id": "vmmigration.projects.locations.get",
              "parameters": {
                "name": {
                  "description": "Resource name for the location.",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              },
              "response": {
                "$ref": "Location"
              },
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "flatPath": "v1alpha1/projects/{projectsId}/locations",
              "description": "Lists information about the supported locations for this service.",
              "parameterOrder": [
                "name"
              ],
              "id": "vmmigration.projects.locations.list",
              "path": "v1alpha1/{+name}/locations",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of results to return. If not set, the service selects a default."
                },
                "filter": {
                  "type": "string",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like \"displayName=tokyo\", and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query"
                },
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "The resource that owns the locations collection, if applicable.",
                  "pattern": "^projects/[^/]+$"
                },
                "pageToken": {
                  "type": "string",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query"
                }
              }
            }
          },
          "resources": {
            "targetProjects": {
              "methods": {
                "get": {
                  "parameters": {
                    "name": {
                      "description": "Required. The TargetProject name.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/targetProjects/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "id": "vmmigration.projects.locations.targetProjects.get",
                  "httpMethod": "GET",
                  "description": "Gets details of a single TargetProject. NOTE: TargetProject is a global resource; hence the only supported value for location is `global`.",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/targetProjects/{targetProjectsId}",
                  "path": "v1alpha1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "TargetProject"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "create": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "TargetProject"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/targetProjects",
                  "path": "v1alpha1/{+parent}/targetProjects",
                  "id": "vmmigration.projects.locations.targetProjects.create",
                  "parameters": {
                    "requestId": {
                      "description": "A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and t he request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The TargetProject's parent."
                    },
                    "targetProjectId": {
                      "description": "Required. The target_project identifier.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "description": "Creates a new TargetProject in a given project. NOTE: TargetProject is a global resource; hence the only supported value for location is `global`."
                },
                "list": {
                  "parameters": {
                    "orderBy": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. the order by fields for the result."
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. A page token, received from a previous `ListTargets` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListTargets` must match the call that provided the page token."
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query",
                      "description": "Optional. The maximum number of targets to return. The service may return fewer than this value. If unspecified, at most 500 targets will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                    },
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent, which owns this collection of targets.",
                      "type": "string",
                      "location": "path"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. The filter request.",
                      "location": "query"
                    }
                  },
                  "httpMethod": "GET",
                  "description": "Lists TargetProjects in a given project. NOTE: TargetProject is a global resource; hence the only supported value for location is `global`.",
                  "response": {
                    "$ref": "ListTargetProjectsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1alpha1/{+parent}/targetProjects",
                  "id": "vmmigration.projects.locations.targetProjects.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/targetProjects"
                },
                "delete": {
                  "id": "vmmigration.projects.locations.targetProjects.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "description": "Deletes a single TargetProject. NOTE: TargetProject is a global resource; hence the only supported value for location is `global`.",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/targetProjects/{targetProjectsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The TargetProject name.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/targetProjects/[^/]+$",
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and t he request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    }
                  },
                  "path": "v1alpha1/{+name}"
                },
                "patch": {
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/targetProjects/{targetProjectsId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "TargetProject"
                  },
                  "path": "v1alpha1/{+name}",
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/targetProjects/[^/]+$",
                      "description": "The name of the target project.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string",
                      "description": "Field mask is used to specify the fields to be overwritten in the TargetProject resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten."
                    },
                    "requestId": {
                      "type": "string",
                      "description": "A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and t he request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates the parameters of a single TargetProject. NOTE: TargetProject is a global resource; hence the only supported value for location is `global`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "vmmigration.projects.locations.targetProjects.patch"
                }
              }
            },
            "groups": {
              "methods": {
                "get": {
                  "response": {
                    "$ref": "Group"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/groups/[^/]+$",
                      "location": "path",
                      "description": "Required. The group name.",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "id": "vmmigration.projects.locations.groups.get",
                  "description": "Gets details of a single Group.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/groups/{groupsId}",
                  "path": "v1alpha1/{+name}"
                },
                "removeGroupMigration": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "vmmigration.projects.locations.groups.removeGroupMigration",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "RemoveGroupMigrationRequest"
                  },
                  "path": "v1alpha1/{+group}:removeGroupMigration",
                  "parameterOrder": [
                    "group"
                  ],
                  "parameters": {
                    "group": {
                      "location": "path",
                      "description": "Required. The name of the Group.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/groups/[^/]+$"
                    }
                  },
                  "description": "Removes a MigratingVm from a Group.",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/groups/{groupsId}:removeGroupMigration",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "addGroupMigration": {
                  "parameterOrder": [
                    "group"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "group": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/groups/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The full path name of the Group to add to."
                    }
                  },
                  "description": "Adds a MigratingVm to a Group.",
                  "request": {
                    "$ref": "AddGroupMigrationRequest"
                  },
                  "id": "vmmigration.projects.locations.groups.addGroupMigration",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1alpha1/{+group}:addGroupMigration",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/groups/{groupsId}:addGroupMigration"
                },
                "create": {
                  "id": "vmmigration.projects.locations.groups.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Creates a new Group in a given project and location.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/groups",
                  "parameters": {
                    "parent": {
                      "description": "Required. The Group's parent.",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    },
                    "requestId": {
                      "description": "A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and t he request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    },
                    "groupId": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. The group identifier."
                    }
                  },
                  "request": {
                    "$ref": "Group"
                  },
                  "path": "v1alpha1/{+parent}/groups",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "list": {
                  "path": "v1alpha1/{+parent}/groups",
                  "description": "Lists Groups in a given project and location.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListGroupsResponse"
                  },
                  "parameters": {
                    "orderBy": {
                      "description": "Optional. the order by fields for the result.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
[...]
