{
  "version": "v1alpha1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "servicePath": "",
  "title": "VM Migration API",
  "id": "vmmigration:v1alpha1",
  "ownerDomain": "google.com",
  "fullyEncodeReservedExpansion": true,
  "canonicalName": "VM Migration Service",
  "revision": "20230119",
  "discoveryVersion": "v1",
  "rootUrl": "https://vmmigration.googleapis.com/",
  "version_module": true,
  "name": "vmmigration",
  "mtlsRootUrl": "https://vmmigration.mtls.googleapis.com/",
  "documentationLink": "https://cloud.google.com/migrate/virtual-machines",
  "batchPath": "batch",
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "schemas": {
    "CloneJob": {
      "description": "CloneJob describes the process of creating a clone of a MigratingVM to the requested target based on the latest successful uploaded snapshots. While the migration cycles of a MigratingVm take place, it is possible to verify the uploaded VM can be started in the cloud, by creating a clone. The clone can be created without any downtime, and it is created using the latest snapshots which are already in the cloud. The cloneJob is only responsible for its work, not its products, which means once it is finished, it will never touch the instance it created. It will only delete it in case of the CloneJob being cancelled or upon failure to clone.",
      "properties": {
        "computeEngineVmDetails": {
          "readOnly": true,
          "$ref": "TargetVMDetails",
          "description": "Output only. Details of the VM in Compute Engine. Deprecated: Use compute_engine_target_details instead."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time the clone job was created (as an API call, not when it was actually created in the target).",
          "readOnly": true,
          "format": "google-datetime"
        },
        "state": {
          "type": "string",
          "description": "Output only. State of the clone job.",
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
            "The clone job has not yet started.",
            "The clone job is active and running.",
            "The clone job finished with errors.",
            "The clone job finished successfully.",
            "The clone job was cancelled.",
            "The clone job is being cancelled.",
            "OS adaptation is running as part of the clone job to generate license."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "ACTIVE",
            "FAILED",
            "SUCCEEDED",
            "CANCELLED",
            "CANCELLING",
            "ADAPTING_OS"
          ]
        },
        "targetDetails": {
          "description": "Output only. Details of the VM to create as the target of this clone job. Deprecated: Use compute_engine_target_details instead.",
          "$ref": "TargetVMDetails",
          "readOnly": true
        },
        "computeEngineTargetDetails": {
          "readOnly": true,
          "description": "Output only. Details of the target VM in Compute Engine.",
          "$ref": "ComputeEngineTargetDetails"
        },
        "endTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the clone job was ended.",
          "format": "google-datetime"
        },
        "error": {
          "description": "Output only. Provides details for the errors that led to the Clone Job's state.",
          "$ref": "Status",
          "readOnly": true
        },
        "steps": {
          "description": "Output only. The clone steps list representing its progress.",
          "type": "array",
          "items": {
            "$ref": "CloneStep"
          },
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the clone."
        },
        "stateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the state was last updated.",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "CloneJob"
    },
    "CloneStep": {
      "description": "CloneStep holds information about the clone step progress.",
      "properties": {
        "endTime": {
          "type": "string",
          "description": "The time the step has ended.",
          "format": "google-datetime"
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time the step has started."
        },
        "instantiatingMigratedVm": {
          "$ref": "InstantiatingMigratedVMStep",
          "description": "Instantiating migrated VM step."
        },
        "adaptingOs": {
          "description": "Adapting OS step.",
          "$ref": "AdaptingOSStep"
        },
        "preparingVmDisks": {
          "description": "Preparing VM disks step.",
          "$ref": "PreparingVMDisksStep"
        }
      },
      "type": "object",
      "id": "CloneStep"
    },
    "ListCutoverJobsResponse": {
      "type": "object",
      "properties": {
        "cutoverJobs": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. The list of cutover jobs response.",
          "items": {
            "$ref": "CutoverJob"
          }
        },
        "nextPageToken": {
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "readOnly": true,
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. Locations that could not be reached."
        }
      },
      "description": "Response message for 'ListCutoverJobs' request.",
      "id": "ListCutoverJobsResponse"
    },
    "ListGroupsResponse": {
      "description": "Response message for 'ListGroups' request.",
      "properties": {
        "nextPageToken": {
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string",
          "readOnly": true
        },
        "groups": {
          "type": "array",
          "description": "Output only. The list of groups response.",
          "readOnly": true,
          "items": {
            "$ref": "Group"
          }
        },
        "unreachable": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. Locations that could not be reached."
        }
      },
      "id": "ListGroupsResponse",
      "type": "object"
    },
    "ListDatacenterConnectorsResponse": {
      "properties": {
        "datacenterConnectors": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The list of sources response.",
          "items": {
            "$ref": "DatacenterConnector"
          }
        },
        "nextPageToken": {
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "readOnly": true,
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "description": "Output only. Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        }
      },
      "id": "ListDatacenterConnectorsResponse",
      "description": "Response message for 'ListDatacenterConnectors' request.",
      "type": "object"
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array"
        }
      },
      "id": "ListLocationsResponse"
    },
    "VmUtilizationInfo": {
      "description": "Utilization information of a single VM.",
      "properties": {
        "vmwareVmDetails": {
          "$ref": "VmwareVmDetails",
          "description": "The description of the VM in a Source of type Vmware."
        },
        "utilization": {
          "description": "Utilization metrics for this VM.",
          "$ref": "VmUtilizationMetrics"
        },
        "vmId": {
          "type": "string",
          "description": "The VM's ID in the source."
        }
      },
      "type": "object",
      "id": "VmUtilizationInfo"
    },
    "ApplianceVersion": {
      "id": "ApplianceVersion",
      "properties": {
        "releaseNotesUri": {
          "type": "string",
          "description": "Link to a page that contains the version release notes."
        },
        "version": {
          "type": "string",
          "description": "The appliance version."
        },
        "critical": {
          "description": "Determine whether it's critical to upgrade the appliance to this version.",
          "type": "boolean"
        },
        "uri": {
          "description": "A link for downloading the version.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Describes an appliance version."
    },
    "CancelCutoverJobRequest": {
      "properties": {},
      "type": "object",
      "id": "CancelCutoverJobRequest",
      "description": "Request message for 'CancelCutoverJob' request."
    },
    "Link": {
      "properties": {
        "description": {
          "type": "string",
          "description": "Describes what the link offers."
        },
        "url": {
          "type": "string",
          "description": "The URL of the link."
        }
      },
      "id": "Link",
      "description": "Describes a URL link.",
      "type": "object"
    },
    "MigrationError": {
      "properties": {
        "actionItem": {
          "description": "Output only. Suggested action for solving the error.",
          "$ref": "LocalizedMessage",
          "readOnly": true
        },
        "errorMessage": {
          "readOnly": true,
          "description": "Output only. The localized error message.",
          "$ref": "LocalizedMessage"
        },
        "errorTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the error occurred."
        },
        "code": {
          "type": "string",
          "description": "Output only. The error code.",
          "readOnly": true,
          "enum": [
            "ERROR_CODE_UNSPECIFIED",
            "UNKNOWN_ERROR",
            "SOURCE_VALIDATION_ERROR",
            "SOURCE_REPLICATION_ERROR",
            "TARGET_REPLICATION_ERROR",
            "OS_ADAPTATION_ERROR",
            "CLONE_ERROR",
            "CUTOVER_ERROR",
            "UTILIZATION_REPORT_ERROR",
            "APPLIANCE_UPGRADE_ERROR"
          ],
          "enumDescriptions": [
            "Default value. This value is not used.",
            "Migrate for Compute encountered an unknown error.",
            "Migrate for Compute encountered an error while validating replication source health.",
            "Migrate for Compute encountered an error during source data operation.",
            "Migrate for Compute encountered an error during target data operation.",
            "Migrate for Compute encountered an error during OS adaptation.",
            "Migrate for Compute encountered an error in clone operation.",
            "Migrate for Compute encountered an error in cutover operation.",
            "Migrate for Compute encountered an error during utilization report creation.",
            "Migrate for Compute encountered an error during appliance upgrade."
          ]
        },
        "helpLinks": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Link"
          },
          "description": "Output only. URL(s) pointing to additional information on handling the current error."
        }
      },
      "type": "object",
      "description": "Represents migration resource error information that can be used with google.rpc.Status message. MigrationError is used to present the user with error information in migration operations.",
      "id": "MigrationError"
    },
    "ReplicationCycle": {
      "id": "ReplicationCycle",
      "description": "ReplicationCycle contains information about the current replication cycle status.",
      "properties": {
        "cycleNumber": {
          "type": "integer",
          "format": "int32",
          "description": "The cycle's ordinal number."
        },
        "name": {
          "type": "string",
          "description": "The identifier of the ReplicationCycle."
        },
        "progress": {
          "format": "int32",
          "type": "integer",
          "description": "The current progress in percentage of this cycle."
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the replication cycle has started."
        },
        "steps": {
          "description": "The cycle's steps list representing its progress.",
          "type": "array",
          "items": {
            "$ref": "CycleStep"
          }
        },
        "totalPauseDuration": {
          "description": "The accumulated duration the replication cycle was paused.",
          "type": "string",
          "format": "google-duration"
        },
        "progressPercent": {
          "format": "int32",
          "description": "The current progress in percentage of this cycle. Was replaced by 'steps' field, which breaks down the cycle progression more accurately.",
          "type": "integer"
        },
        "error": {
          "$ref": "Status",
          "description": "Provides details on the state of the cycle in case of an error."
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the replication cycle has ended."
        },
        "state": {
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
            "The replication cycle is running.",
            "The replication cycle is paused.",
            "The replication cycle finished with errors.",
            "The replication cycle finished successfully."
          ],
          "description": "State of the ReplicationCycle.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "PAUSED",
            "FAILED",
            "SUCCEEDED"
          ]
        }
      },
      "type": "object"
    },
    "ComputeEngineTargetDetails": {
      "description": "ComputeEngineTargetDetails is a collection of details for creating a VM in a target Compute Engine project.",
      "id": "ComputeEngineTargetDetails",
      "type": "object",
      "properties": {
        "licenseType": {
          "description": "The license type to use in OS adaptation.",
          "enumDescriptions": [
            "The license type is the default for the OS.",
            "The license type is Pay As You Go license type.",
            "The license type is Bring Your Own License type."
          ],
          "type": "string",
          "enum": [
            "COMPUTE_ENGINE_LICENSE_TYPE_DEFAULT",
            "COMPUTE_ENGINE_LICENSE_TYPE_PAYG",
            "COMPUTE_ENGINE_LICENSE_TYPE_BYOL"
          ]
        },
        "additionalLicenses": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Additional licenses to assign to the VM."
        },
        "zone": {
          "description": "The zone in which to create the VM.",
          "type": "string"
        },
        "networkTags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A map of network tags to associate with the VM."
        },
        "appliedLicense": {
          "description": "The OS license returned from the adaptation module report.",
          "$ref": "AppliedLicense"
        },
        "bootOption": {
          "enum": [
            "COMPUTE_ENGINE_BOOT_OPTION_UNSPECIFIED",
            "COMPUTE_ENGINE_BOOT_OPTION_EFI",
            "COMPUTE_ENGINE_BOOT_OPTION_BIOS"
          ],
          "type": "string",
          "description": "The VM Boot Option, as set in the source vm.",
          "enumDescriptions": [
            "The boot option is unknown.",
            "The boot option is EFI.",
            "The boot option is BIOS."
          ]
        },
        "labels": {
          "type": "object",
          "description": "A map of labels to associate with the VM.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "metadata": {
          "description": "The metadata key/value pairs to assign to the VM.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "hostname": {
          "description": "The hostname to assign to the VM.",
          "type": "string"
        },
        "serviceAccount": {
          "type": "string",
          "description": "The service account to associate the VM with."
        },
        "project": {
          "type": "string",
          "description": "The Google Cloud target project ID or project name."
        },
        "diskType": {
          "type": "string",
          "description": "The disk type to use in the VM.",
          "enum": [
            "COMPUTE_ENGINE_DISK_TYPE_UNSPECIFIED",
            "COMPUTE_ENGINE_DISK_TYPE_STANDARD",
            "COMPUTE_ENGINE_DISK_TYPE_SSD",
            "COMPUTE_ENGINE_DISK_TYPE_BALANCED"
          ],
          "enumDescriptions": [
            "An unspecified disk type. Will be used as STANDARD.",
            "A Standard disk type.",
            "SSD hard disk type.",
            "An alternative to SSD persistent disks that balance performance and cost."
          ]
        },
        "secureBoot": {
          "description": "Defines whether the instance has Secure Boot enabled. This can be set to true only if the vm boot option is EFI.",
          "type": "boolean"
        },
        "machineTypeSeries": {
          "type": "string",
          "description": "The machine type series to create the VM with."
        },
        "networkInterfaces": {
          "type": "array",
          "description": "List of NICs connected to this VM.",
          "items": {
            "$ref": "NetworkInterface"
          }
        },
        "vmName": {
          "description": "The name of the VM to create.",
          "type": "string"
        },
        "machineType": {
          "description": "The machine type to create the VM with.",
          "type": "string"
        },
        "computeScheduling": {
          "$ref": "ComputeScheduling",
          "description": "Compute instance scheduling information (if empty default is used)."
        }
      }
    },
    "AvailableUpdates": {
      "description": "Holds informatiom about the available versions for upgrade.",
      "type": "object",
      "id": "AvailableUpdates",
      "properties": {
        "inPlaceUpdate": {
          "$ref": "ApplianceVersion",
          "description": "The latest version for in place update. The current appliance can be updated to this version using the API or m4c CLI."
        },
        "newDeployableAppliance": {
          "$ref": "ApplianceVersion",
          "description": "The newest deployable version of the appliance. The current appliance can't be updated into this version, and the owner must manually deploy this OVA to a new appliance."
        }
      }
    },
    "ListTargetProjectsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "readOnly": true,
          "type": "string"
        },
        "targetProjects": {
          "items": {
            "$ref": "TargetProject"
          },
          "description": "Output only. The list of target response.",
          "type": "array",
          "readOnly": true
        },
        "unreachable": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. Locations that could not be reached."
        }
      },
      "type": "object",
      "id": "ListTargetProjectsResponse",
      "description": "Response message for 'ListTargetProjects' call."
    },
    "ListCloneJobsResponse": {
      "id": "ListCloneJobsResponse",
      "properties": {
        "cloneJobs": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "CloneJob"
          },
          "description": "Output only. The list of clone jobs response."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Output only. Locations that could not be reached.",
          "type": "array",
          "readOnly": true
        },
        "nextPageToken": {
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response message for 'ListCloneJobs' request."
    },
    "StartMigrationRequest": {
      "type": "object",
      "description": "Request message for 'StartMigrationRequest' request.",
      "id": "StartMigrationRequest",
      "properties": {}
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "AwsSourceVmDetails": {
      "properties": {
        "firmware": {
          "enumDescriptions": [
            "The firmware is unknown.",
            "The firmware is EFI.",
            "The firmware is BIOS."
          ],
          "type": "string",
          "description": "The firmware type of the source VM.",
          "enum": [
            "FIRMWARE_UNSPECIFIED",
            "EFI",
            "BIOS"
          ]
        },
        "committedStorageBytes": {
          "format": "int64",
          "description": "The total size of the disks being migrated in bytes.",
          "type": "string"
        }
      },
      "id": "AwsSourceVmDetails",
      "description": "Represent the source AWS VM details.",
      "type": "object"
    },
    "AppliedLicense": {
      "id": "AppliedLicense",
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "NONE",
            "PAYG",
            "BYOL"
          ],
          "enumDescriptions": [
            "Unspecified license for the OS.",
            "No license available for the OS.",
            "The license type is Pay As You Go license type.",
            "The license type is Bring Your Own License type."
          ],
          "type": "string",
          "description": "The license type that was used in OS adaptation."
        },
        "osLicense": {
          "description": "The OS license returned from the adaptation module's report.",
          "type": "string"
        }
      },
      "description": "AppliedLicense holds the license data returned by adaptation module report.",
      "type": "object"
    },
    "FinalizeMigrationRequest": {
      "id": "FinalizeMigrationRequest",
      "type": "object",
      "properties": {},
      "description": "Request message for 'FinalizeMigration' request."
    },
    "CancelCloneJobRequest": {
      "properties": {},
      "id": "CancelCloneJobRequest",
      "description": "Request message for 'CancelCloneJob' request.",
      "type": "object"
    },
    "VmUtilizationMetrics": {
      "id": "VmUtilizationMetrics",
      "type": "object",
      "properties": {
        "networkThroughputMax": {
          "type": "string",
          "format": "int64",
          "description": "Max network throughput (combined transmit-rates and receive-rates), in kilobytes per second."
        },
        "diskIoRateAverageKbps": {
          "format": "int64",
          "type": "string",
          "description": "Average disk IO rate, in kilobytes per second."
        },
        "cpuAverage": {
          "description": "Average CPU usage, percent.",
          "type": "integer",
          "format": "int32"
        },
        "memoryAveragePercent": {
          "description": "Average memory usage, percent.",
          "type": "integer",
          "format": "int32"
        },
        "networkThroughputAverage": {
          "description": "Average network throughput (combined transmit-rates and receive-rates), in kilobytes per second.",
          "format": "int64",
          "type": "string"
        },
        "cpuMaxPercent": {
          "type": "integer",
          "format": "int32",
          "description": "Max CPU usage, percent."
        },
        "cpuMax": {
          "description": "Max CPU usage, percent.",
          "format": "int32",
          "type": "integer"
        },
        "networkThroughputAverageKbps": {
          "description": "Average network throughput (combined transmit-rates and receive-rates), in kilobytes per second.",
          "type": "string",
          "format": "int64"
        },
        "diskIoRateMaxKbps": {
          "type": "string",
          "description": "Max disk IO rate, in kilobytes per second.",
          "format": "int64"
        },
        "cpuAveragePercent": {
          "description": "Average CPU usage, percent.",
          "format": "int32",
          "type": "integer"
        },
        "diskIoRateAverage": {
          "description": "Average disk IO rate, in kilobytes per second.",
          "type": "string",
          "format": "int64"
        },
        "networkThroughputMaxKbps": {
          "type": "string",
          "format": "int64",
          "description": "Max network throughput (combined transmit-rates and receive-rates), in kilobytes per second."
        },
        "memoryAverage": {
          "type": "integer",
          "format": "int32",
          "description": "Average memory usage, percent."
        },
        "memoryMaxPercent": {
          "description": "Max memory usage, percent.",
          "format": "int32",
          "type": "integer"
        },
        "memoryMax": {
          "type": "integer",
          "description": "Max memory usage, percent.",
          "format": "int32"
        },
        "diskIoRateMax": {
          "format": "int64",
          "type": "string",
          "description": "Max disk IO rate, in kilobytes per second."
        }
      },
      "description": "Utilization metrics values for a single VM."
    },
    "AdaptingOSStep": {
      "description": "AdaptingOSStep contains specific step details.",
      "id": "AdaptingOSStep",
      "type": "object",
      "properties": {}
    },
    "TargetVMDetails": {
      "description": "TargetVMDetails is a collection of details for creating a VM in a target Compute Engine project.",
      "id": "TargetVMDetails",
      "properties": {
        "subnetwork": {
          "type": "string",
          "description": "The subnetwork to connect the VM to."
        },
        "networkInterfaces": {
          "description": "List of NICs connected to this VM.",
          "items": {
            "$ref": "NetworkInterface"
          },
          "type": "array"
        },
        "secureBoot": {
          "type": "boolean",
          "description": "Defines whether the instance has Secure Boot enabled. This can be set to true only if the vm boot option is EFI."
        },
        "targetProject": {
          "type": "string",
          "description": "The full path of the resource of type TargetProject which represents the Compute Engine project in which to create this VM."
        },
        "computeScheduling": {
          "$ref": "ComputeScheduling",
          "description": "Compute instance scheduling information (if empty default is used)."
        },
        "internalIp": {
          "type": "string",
          "description": "The internal IP to define in the VM. The formats accepted are: `ephemeral` \\ ipv4 address \\ a named address resource full path."
        },
        "project": {
          "readOnly": true,
          "description": "Output only. The project in which to create the VM.",
          "type": "string"
        },
        "machineType": {
          "description": "The machine type to create the VM with.",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The metadata key/value pairs to assign to the VM.",
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "The name of the VM to create."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "A map of labels to associate with the VM."
        },
        "diskType": {
          "description": "The disk type to use in the VM.",
          "type": "string",
          "enum": [
            "DISK_TYPE_UNSPECIFIED",
            "STANDARD",
            "BALANCED",
            "SSD"
          ],
          "enumDescriptions": [
            "An unspecified disk type. Will be used as STANDARD.",
            "A Standard disk type.",
            "An alternative to SSD persistent disks that balance performance and cost.",
            "SSD hard disk type."
          ]
        },
        "networkTags": {
          "type": "array",
          "description": "A map of network tags to associate with the VM.",
          "items": {
            "type": "string"
          }
        },
        "licenseType": {
          "enum": [
            "DEFAULT",
            "PAYG",
            "BYOL"
          ],
          "description": "The license type to use in OS adaptation.",
          "type": "string",
          "enumDescriptions": [
            "The license type is the default for the OS.",
            "The license type is Pay As You Go license type.",
            "The license type is Bring Your Own License type."
          ]
        },
        "machineTypeSeries": {
          "description": "The machine type series to create the VM with.",
          "type": "string"
        },
        "network": {
          "description": "The network to connect the VM to.",
          "type": "string"
        },
        "externalIp": {
          "description": "The external IP to define in the VM.",
          "type": "string"
        },
        "bootOption": {
          "enumDescriptions": [
            "The boot option is unknown.",
            "The boot option is EFI.",
            "The boot option is BIOS."
          ],
          "readOnly": true,
          "enum": [
            "BOOT_OPTION_UNSPECIFIED",
            "EFI",
            "BIOS"
          ],
          "description": "Output only. The VM Boot Option, as set in the source vm.",
          "type": "string"
        },
        "zone": {
          "type": "string",
          "description": "The zone in which to create the VM."
        },
        "serviceAccount": {
          "description": "The service account to associate the VM with.",
          "type": "string"
        },
        "appliedLicense": {
          "description": "Output only. The OS license returned from the adaptation module report.",
          "readOnly": true,
          "$ref": "AppliedLicense"
        }
      },
      "type": "object"
    },
    "PreparingVMDisksStep": {
      "id": "PreparingVMDisksStep",
      "properties": {},
      "description": "PreparingVMDisksStep contains specific step details.",
      "type": "object"
    },
    "TargetProject": {
      "properties": {
        "createTime": {
          "description": "Output only. The time this target project resource was created (not related to when the Compute Engine project it points to was created).",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "description": {
          "description": "The target project's description.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The last time the target project resource was updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "project": {
          "description": "The target project ID (number) or project name.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. The name of the target project.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "TargetProject message represents a target Compute Engine project for a migration or a clone.",
      "id": "TargetProject"
    },
    "AccessKeyCredentials": {
      "id": "AccessKeyCredentials",
      "type": "object",
      "description": "Message describing AWS Credentials using access key id and secret.",
      "properties": {
        "secretAccessKey": {
          "description": "Input only. AWS secret access key.",
          "type": "string"
        },
        "accessKeyId": {
          "description": "AWS access key ID.",
          "type": "string"
        }
      }
    },
    "VmwareVmDetails": {
      "id": "VmwareVmDetails",
      "type": "object",
      "description": "VmwareVmDetails describes a VM in vCenter.",
      "properties": {
        "vmId": {
          "type": "string",
          "description": "The VM's id in the source (note that this is not the MigratingVm's id). This is the moref id of the VM."
        },
        "committedStorageMb": {
          "description": "The total size of the storage allocated to the VM in MB.",
          "format": "int64",
          "type": "string"
        },
        "diskCount": {
          "format": "int32",
          "description": "The number of disks the VM has.",
          "type": "integer"
        },
        "powerState": {
          "type": "string",
          "enumDescriptions": [
            "Power state is not specified.",
            "The VM is turned ON.",
            "The VM is turned OFF.",
            "The VM is suspended. This is similar to hibernation or sleep mode."
          ],
          "description": "The power state of the VM at the moment list was taken.",
          "enum": [
            "POWER_STATE_UNSPECIFIED",
            "ON",
            "OFF",
            "SUSPENDED"
          ]
        },
        "bootOption": {
          "enumDescriptions": [
            "The boot option is unknown.",
            "The boot option is EFI.",
            "The boot option is BIOS."
          ],
          "enum": [
            "BOOT_OPTION_UNSPECIFIED",
            "EFI",
            "BIOS"
          ],
          "description": "Output only. The VM Boot Option.",
          "readOnly": true,
          "type": "string"
        },
        "guestDescription": {
          "type": "string",
          "description": "The VM's OS. See for example https://vdc-repo.vmware.com/vmwb-repository/dcr-public/da47f910-60ac-438b-8b9b-6122f4d14524/16b7274a-bf8b-4b4c-a05e-746f2aa93c8c/doc/vim.vm.GuestOsDescriptor.GuestOsIdentifier.html for types of strings this might hold."
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the VM. Note that this is not necessarily unique."
        },
        "cpuCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of cpus in the VM."
        },
        "datacenterDescription": {
          "type": "string",
          "description": "The descriptive name of the vCenter's datacenter this VM is contained in."
        },
        "committedStorage": {
          "type": "string",
          "description": "The total size of the storage allocated to the VM in MB.",
          "format": "int64"
        },
        "datacenterId": {
          "description": "The id of the vCenter's datacenter this VM is contained in.",
          "type": "string"
        },
        "memoryMb": {
          "type": "integer",
          "format": "int32",
          "description": "The size of the memory of the VM in MB."
        },
        "uuid": {
          "description": "The unique identifier of the VM in vCenter.",
          "type": "string"
        }
      }
    },
    "UtilizationReport": {
      "type": "object",
      "description": "Utilization report details the utilization (CPU, memory, etc.) of selected source VMs.",
      "id": "UtilizationReport",
      "properties": {
        "frameEndTime": {
          "type": "string",
          "description": "Output only. The point in time when the time frame ends. Notice that the time frame is counted backwards. For instance if the \"frame_end_time\" value is 2021/01/20 and the time frame is WEEK then the report covers the week between 2021/01/20 and 2021/01/14.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "state": {
          "description": "Output only. Current state of the report.",
          "readOnly": true,
          "enumDescriptions": [
            "The state is unknown. This value is not in use.",
            "The report is in the making.",
            "Report creation completed successfully.",
            "Report creation failed."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "SUCCEEDED",
            "FAILED"
          ],
          "type": "string"
        },
        "vmsCount": {
          "readOnly": true,
          "format": "int32",
          "description": "Output only. Total number of VMs included in the report.",
          "type": "integer"
        },
        "name": {
          "type": "string",
          "description": "Output only. The report unique name.",
          "readOnly": true
        },
        "displayName": {
          "description": "The report display name, as assigned by the user.",
          "type": "string"
        },
        "error": {
          "readOnly": true,
          "description": "Output only. Provides details on the state of the report in case of an error.",
          "$ref": "Status"
        },
        "timeFrame": {
          "description": "Time frame of the report.",
          "enumDescriptions": [
            "The time frame was not specified and will default to WEEK.",
            "One week.",
            "One month.",
            "One year."
          ],
          "enum": [
            "TIME_FRAME_UNSPECIFIED",
            "WEEK",
            "MONTH",
            "YEAR"
          ],
          "type": "string"
        },
        "vms": {
          "description": "List of utilization information per VM. When sent as part of the request, the \"vm_id\" field is used in order to specify which VMs to include in the report. In that case all other fields are ignored.",
          "type": "array",
          "items": {
            "$ref": "VmUtilizationInfo"
          }
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the report was created (this refers to the time of the request, not the time the report creation completed)."
        },
        "vmCount": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. Total number of VMs included in the report.",
          "readOnly": true
        },
        "stateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the state was last set.",
          "readOnly": true
        }
      }
    },
    "NetworkInterface": {
      "id": "NetworkInterface",
      "type": "object",
      "description": "NetworkInterface represents a NIC of a VM.",
      "properties": {
        "internalIp": {
          "description": "The internal IP to define in the NIC. The formats accepted are: `ephemeral` \\ ipv4 address \\ a named address resource full path.",
          "type": "string"
        },
        "subnetwork": {
          "description": "The subnetwork to connect the NIC to.",
          "type": "string"
        },
        "network": {
          "type": "string",
          "description": "The network to connect the NIC to."
        },
        "externalIp": {
          "type": "string",
          "description": "The external IP to define in the NIC."
        }
      }
    },
    "InitializingReplicationStep": {
      "properties": {},
      "id": "InitializingReplicationStep",
      "description": "InitializingReplicationStep contains specific step details.",
      "type": "object"
    },
    "VmwareVmsDetails": {
      "properties": {
        "details": {
          "description": "The details of the vmware VMs.",
          "type": "array",
          "items": {
            "$ref": "VmwareVmDetails"
          }
        }
      },
      "description": "VmwareVmsDetails describes VMs in vCenter.",
      "type": "object",
      "id": "VmwareVmsDetails"
    },
    "UpgradeStatus": {
      "properties": {
        "state": {
          "type": "string",
          "enumDescriptions": [
            "The state was not sampled by the health checks yet.",
            "The upgrade has started.",
            "The upgrade failed.",
            "The upgrade finished successfully."
          ],
          "description": "The state of the upgradeAppliance operation.",
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "FAILED",
            "SUCCEEDED"
          ]
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the operation was started."
        },
        "previousVersion": {
          "description": "The version from which we upgraded.",
          "type": "string"
        },
        "error": {
          "description": "Provides details on the state of the upgrade operation in case of an error.",
          "$ref": "Status"
        },
        "version": {
          "type": "string",
          "description": "The version to upgrade to."
        }
      },
      "description": "UpgradeStatus contains information about upgradeAppliance operation.",
      "id": "UpgradeStatus",
      "type": "object"
    },
    "RemoveGroupMigrationRequest": {
      "properties": {
        "migratingVm": {
          "type": "string",
          "description": "The MigratingVm to remove."
        }
      },
      "type": "object",
      "description": "Request message for 'RemoveMigration' request.",
      "id": "RemoveGroupMigrationRequest"
    },
    "InstantiatingMigratedVMStep": {
      "properties": {},
      "description": "InstantiatingMigratedVMStep contains specific step details.",
      "type": "object",
      "id": "InstantiatingMigratedVMStep"
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "id": "CancelOperationRequest",
      "properties": {}
    },
    "PauseMigrationRequest": {
      "type": "object",
      "id": "PauseMigrationRequest",
      "description": "Request message for 'PauseMigration' request.",
      "properties": {}
    },
    "OperationMetadata": {
      "type": "object",
      "properties": {
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation was created."
        },
        "statusMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "apiVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. API version used to start the operation."
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the operation finished running.",
          "type": "string"
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Represents the metadata of the long-running operation.",
      "id": "OperationMetadata"
    },
    "ListOperationsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        }
      },
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "id": "ListOperationsResponse"
    },
    "AwsVmDetails": {
      "type": "object",
      "id": "AwsVmDetails",
      "description": "AwsVmDetails describes a VM in AWS.",
      "properties": {
        "instanceType": {
          "type": "string",
          "description": "The instance type of the VM."
        },
        "sourceId": {
          "description": "The id of the AWS's source this VM is connected to.",
          "type": "string"
        },
        "virtualizationType": {
          "enum": [
            "VM_VIRTUALIZATION_TYPE_UNSPECIFIED",
            "HVM",
            "PARAVIRTUAL"
          ],
          "description": "The virtualization type.",
          "enumDescriptions": [
            "The virtualization type is unknown.",
            "The virtualziation type is HVM.",
            "The virtualziation type is PARAVIRTUAL."
          ],
          "type": "string"
        },
        "vpcId": {
          "description": "The VPC ID the VM belongs to.",
          "type": "string"
        },
        "diskCount": {
          "format": "int32",
          "type": "integer",
          "description": "The number of disks the VM has."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The tags of the VM."
        },
        "displayName": {
          "description": "The display name of the VM. Note that this value is not necessarily unique.",
          "type": "string"
        },
        "vmId": {
          "description": "The VM ID in AWS.",
          "type": "string"
        },
        "powerState": {
          "enumDescriptions": [
            "Power state is not specified.",
            "The VM is turned on.",
            "The VM is turned off.",
            "The VM is suspended. This is similar to hibernation or sleep mode.",
            "The VM is starting."
          ],
          "description": "Output only. The power state of the VM at the moment list was taken.",
          "enum": [
            "POWER_STATE_UNSPECIFIED",
            "ON",
            "OFF",
            "SUSPENDED",
            "PENDING"
          ],
          "readOnly": true,
          "type": "string"
        },
        "sourceDescription": {
          "type": "string",
          "description": "The descriptive name of the AWS's source this VM is connected to."
        },
        "memoryMb": {
          "type": "integer",
          "description": "The memory size of the VM in MB.",
          "format": "int32"
        },
        "architecture": {
          "description": "The CPU architecture.",
          "enum": [
            "VM_ARCHITECTURE_UNSPECIFIED",
            "I386",
            "X86_64",
            "ARM64",
            "X86_64_MAC"
          ],
          "enumDescriptions": [
            "The architecture is unknown.",
            "The architecture is I386.",
            "The architecture is X86_64.",
            "The architecture is ARM64.",
            "The architecture is X86_64_MAC."
          ],
          "type": "string"
        },
        "cpuCount": {
          "type": "integer",
          "description": "The number of cpus the VM has.",
          "format": "int32"
        },
        "securityGroups": {
          "description": "The security groups the VM belongs to.",
          "type": "array",
          "items": {
            "$ref": "AwsSecurityGroup"
          }
        },
        "zone": {
          "description": "The AWS zone of the VM.",
          "type": "string"
        },
        "osDescription": {
          "type": "string",
          "description": "The VM's OS."
        },
        "committedStorageMb": {
          "type": "string",
          "format": "int64",
          "description": "The total size of the storage allocated to the VM in MB."
        },
        "bootOption": {
          "enum": [
            "BOOT_OPTION_UNSPECIFIED",
            "EFI",
            "BIOS"
          ],
          "enumDescriptions": [
            "The boot option is unknown.",
            "The boot option is UEFI.",
            "The boot option is LEGACY-BIOS."
          ],
          "type": "string",
          "description": "The VM Boot Option."
        }
      }
    },
    "AwsSecurityGroup": {
      "description": "AwsSecurityGroup describes a security group of an AWS VM.",
      "id": "AwsSecurityGroup",
      "properties": {
        "name": {
          "description": "The AWS security group name.",
          "type": "string"
        },
        "id": {
          "description": "The AWS security group id.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CycleStep": {
      "id": "CycleStep",
      "description": "CycleStep holds information about a step progress.",
      "type": "object",
      "properties": {
        "endTime": {
          "description": "The time the cycle step has ended.",
          "type": "string",
          "format": "google-datetime"
        },
        "replicating": {
          "$ref": "ReplicatingStep",
          "description": "Replicating step."
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time the cycle step has started."
        },
        "initializingReplication": {
          "$ref": "InitializingReplicationStep",
          "description": "Initializing replication step."
        },
        "postProcessing": {
          "$ref": "PostProcessingStep",
          "description": "Post processing step."
        }
      }
    },
    "Tag": {
      "id": "Tag",
      "description": "Tag is an AWS tag representation.",
      "properties": {
        "value": {
          "description": "Value of tag.",
          "type": "string"
        },
        "key": {
          "description": "Key of tag.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AwsSourceDetails": {
      "type": "object",
      "description": "AwsSourceDetails message describes a specific source details for the AWS source type.",
      "id": "AwsSourceDetails",
      "properties": {
        "state": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. State of the source as determined by the health check.",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "FAILED",
            "ACTIVE"
          ],
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
            "The state was not sampled by the health checks yet.",
            "The source is available but might not be usable yet due to invalid credentials or another reason. The error message will contain further details.",
            "The source exists and its credentials were verified."
          ]
        },
        "accessKeyCreds": {
          "$ref": "AccessKeyCredentials",
          "description": "AWS Credentials using access key id and secret."
        },
        "inventorySecurityGroupNames": {
          "type": "array",
          "description": "AWS security group names to limit the scope of the source inventory.",
          "items": {
            "type": "string"
          }
        },
        "migrationResourcesUserTags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "User specified tags to add to every M2VM generated resource in AWS. These tags will be set in addition to the default tags that are set as part of the migration process. The tags must not begin with the reserved prefix `m2vm`."
        },
        "error": {
          "description": "Output only. Provides details on the state of the Source in case of an error.",
          "readOnly": true,
          "$ref": "Status"
        },
        "inventoryTagList": {
          "description": "AWS resource tags to limit the scope of the source inventory.",
          "type": "array",
          "items": {
            "$ref": "Tag"
          }
        },
        "publicIp": {
          "type": "string",
          "description": "Output only. The source's public IP. All communication initiated by this source will originate from this IP.",
          "readOnly": true
        },
        "awsRegion": {
          "description": "Immutable. The AWS region that the source VMs will be migrated from.",
          "type": "string"
        }
      }
    },
    "AwsVmsDetails": {
      "description": "AWSVmsDetails describes VMs in AWS.",
      "properties": {
        "details": {
          "type": "array",
          "description": "The details of the AWS VMs.",
          "items": {
            "$ref": "AwsVmDetails"
          }
        }
      },
      "type": "object",
      "id": "AwsVmsDetails"
    },
    "LocalizedMessage": {
      "properties": {
        "locale": {
          "type": "string",
          "description": "The locale used following the specification defined at https://www.rfc-editor.org/rfc/bcp/bcp47.txt. Examples are: \"en-US\", \"fr-CH\", \"es-MX\""
        },
        "message": {
          "type": "string",
          "description": "The localized error message in the above locale."
        }
      },
      "id": "LocalizedMessage",
      "type": "object",
      "description": "Provides a localized error message that is safe to return to the user which can be attached to an RPC error."
    },
    "ComputeEngineTargetDefaults": {
      "id": "ComputeEngineTargetDefaults",
      "description": "ComputeEngineTargetDefaults is a collection of details for creating a VM in a target Compute Engine project.",
      "properties": {
        "appliedLicense": {
          "readOnly": true,
          "$ref": "AppliedLicense",
          "description": "Output only. The OS license returned from the adaptation module report."
        },
        "labels": {
          "description": "A map of labels to associate with the VM.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "diskType": {
          "description": "The disk type to use in the VM.",
          "type": "string",
          "enumDescriptions": [
            "An unspecified disk type. Will be used as STANDARD.",
            "A Standard disk type.",
            "SSD hard disk type.",
            "An alternative to SSD persistent disks that balance performance and cost."
          ],
          "enum": [
            "COMPUTE_ENGINE_DISK_TYPE_UNSPECIFIED",
            "COMPUTE_ENGINE_DISK_TYPE_STANDARD",
            "COMPUTE_ENGINE_DISK_TYPE_SSD",
            "COMPUTE_ENGINE_DISK_TYPE_BALANCED"
          ]
        },
        "computeScheduling": {
          "$ref": "ComputeScheduling",
          "description": "Compute instance scheduling information (if empty default is used)."
        },
        "hostname": {
          "type": "string",
          "description": "The hostname to assign to the VM."
        },
        "networkInterfaces": {
          "items": {
            "$ref": "NetworkInterface"
          },
          "description": "List of NICs connected to this VM.",
          "type": "array"
        },
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "The metadata key/value pairs to assign to the VM."
        },
        "networkTags": {
          "description": "A map of network tags to associate with the VM.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "serviceAccount": {
          "type": "string",
          "description": "The service account to associate the VM with."
        },
        "additionalLicenses": {
          "description": "Additional licenses to assign to the VM.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "zone": {
          "type": "string",
          "description": "The zone in which to create the VM."
        },
        "machineTypeSeries": {
          "description": "The machine type series to create the VM with.",
          "type": "string"
        },
        "bootOption": {
          "description": "Output only. The VM Boot Option, as set in the source vm.",
          "enum": [
            "COMPUTE_ENGINE_BOOT_OPTION_UNSPECIFIED",
            "COMPUTE_ENGINE_BOOT_OPTION_EFI",
            "COMPUTE_ENGINE_BOOT_OPTION_BIOS"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "The boot option is unknown.",
            "The boot option is EFI.",
            "The boot option is BIOS."
          ]
        },
        "machineType": {
          "type": "string",
          "description": "The machine type to create the VM with."
        },
        "licenseType": {
          "type": "string",
          "description": "The license type to use in OS adaptation.",
          "enumDescriptions": [
            "The license type is the default for the OS.",
            "The license type is Pay As You Go license type.",
            "The license type is Bring Your Own License type."
          ],
          "enum": [
            "COMPUTE_ENGINE_LICENSE_TYPE_DEFAULT",
            "COMPUTE_ENGINE_LICENSE_TYPE_PAYG",
            "COMPUTE_ENGINE_LICENSE_TYPE_BYOL"
          ]
        },
        "secureBoot": {
          "type": "boolean",
          "description": "Defines whether the instance has Secure Boot enabled. This can be set to true only if the vm boot option is EFI."
        },
        "vmName": {
          "description": "The name of the VM to create.",
          "type": "string"
        },
        "targetProject": {
          "description": "The full path of the resource of type TargetProject which represents the Compute Engine project in which to create this VM.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "PostProcessingStep": {
      "type": "object",
      "id": "PostProcessingStep",
      "properties": {},
      "description": "PostProcessingStep contains specific step details."
    },
    "AddGroupMigrationRequest": {
      "id": "AddGroupMigrationRequest",
      "properties": {
        "migratingVm": {
          "description": "The full path name of the MigratingVm to add.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request message for 'AddGroupMigration' request."
    },
    "ResumeMigrationRequest": {
      "type": "object",
      "id": "ResumeMigrationRequest",
      "description": "Request message for 'ResumeMigration' request.",
      "properties": {}
    },
    "ListSourcesResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string",
          "readOnly": true
        },
        "sources": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The list of sources response.",
          "items": {
            "$ref": "Source"
          }
        },
        "unreachable": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. Locations that could not be reached.",
          "type": "array"
        }
      },
      "description": "Response message for 'ListSources' request.",
      "type": "object",
      "id": "ListSourcesResponse"
    },
    "Source": {
      "type": "object",
      "id": "Source",
      "description": "Source message describes a specific vm migration Source resource. It contains the source environment information.",
      "properties": {
        "vmware": {
          "$ref": "VmwareSourceDetails",
          "description": "Vmware type source details."
        },
        "name": {
          "description": "Output only. The Source name.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The create time timestamp."
        },
        "error": {
          "readOnly": true,
          "$ref": "Status",
          "description": "Output only. Provides details on the state of the Source in case of an error."
        },
        "aws": {
          "description": "AWS type source details.",
          "$ref": "AwsSourceDetails"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The update time timestamp.",
          "readOnly": true
        },
        "description": {
          "description": "User-provided description of the source.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The labels of the source."
        }
      }
    },
    "ListReplicationCyclesResponse": {
      "description": "Response message for 'ListReplicationCycles' request.",
      "properties": {
        "nextPageToken": {
          "readOnly": true,
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. Locations that could not be reached.",
          "type": "array"
        },
        "replicationCycles": {
          "items": {
            "$ref": "ReplicationCycle"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. The list of replication cycles response."
        }
      },
      "id": "ListReplicationCyclesResponse",
      "type": "object"
    },
    "MigratingVm": {
      "id": "MigratingVm",
      "properties": {
        "policy": {
          "$ref": "SchedulePolicy",
          "description": "The replication schedule policy."
        },
        "state": {
          "description": "Output only. State of the MigratingVm.",
          "enumDescriptions": [
            "The state was not sampled by the health checks yet.",
            "The VM in the source is being verified.",
            "The source VM was verified, and it's ready to start replication.",
            "Migration is going through the first sync cycle.",
            "The replication is active, and it's running or scheduled to run.",
            "The source VM is being turned off, and a final replication is currently running.",
            "The source VM was stopped and replicated. The replication is currently paused.",
            "A cutover job is active and replication cycle is running the final sync.",
            "The replication was paused by the user and no cycles are scheduled to run.",
            "The migrating VM is being finalized and migration resources are being removed.",
            "The replication process is done. The migrating VM is finalized and no longer consumes billable resources.",
            "The replication process encountered an unrecoverable error and was aborted."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "READY",
            "FIRST_SYNC",
            "ACTIVE",
            "CUTTING_OVER",
            "CUTOVER",
            "FINAL_SYNC",
            "PAUSED",
            "FINALIZING",
            "FINALIZED",
            "ERROR"
          ],
          "type": "string",
          "readOnly": true
        },
        "recentCutoverJobs": {
          "items": {
            "$ref": "CutoverJob"
          },
          "description": "Output only. The recent cutover jobs performed on the migrating VM. This field holds the vm's last completed cutover job and the vm's running cutover job, if one exists. Note: To have this field populated you need to explicitly request it via the \"view\" parameter of the Get/List request.",
          "type": "array",
          "readOnly": true
        },
        "currentSyncInfo": {
          "description": "Output only. Details of the current running replication cycle.",
          "$ref": "ReplicationCycle",
          "readOnly": true
        },
        "lastSync": {
          "description": "Output only. The most updated snapshot created time in the source that finished replication.",
          "$ref": "ReplicationSync",
          "readOnly": true
        },
        "computeEngineVmDefaults": {
          "description": "Details of the VM in Compute Engine. Deprecated: Use compute_engine_target_defaults instead.",
          "$ref": "TargetVMDetails"
        },
        "sourceVmId": {
          "description": "The unique ID of the VM in the source. The VM's name in vSphere can be changed, so this is not the VM's name but rather its moRef id. This id is of the form vm-.",
          "type": "string"
        },
        "awsSourceVmDetails": {
          "readOnly": true,
          "description": "Output only. Details of the VM from an AWS source.",
          "$ref": "AwsSourceVmDetails"
        },
        "computeEngineTargetDefaults": {
          "$ref": "ComputeEngineTargetDefaults",
          "description": "Details of the target VM in Compute Engine."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The labels of the migrating VM."
        },
        "error": {
          "readOnly": true,
          "description": "Output only. Provides details on the state of the Migrating VM in case of an error in replication.",
          "$ref": "Status"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The last time the migrating VM resource was updated.",
          "format": "google-datetime",
          "readOnly": true
        },
        "description": {
          "description": "The description attached to the migrating VM by the user.",
          "type": "string"
        },
        "recentCloneJobs": {
          "items": {
            "$ref": "CloneJob"
          },
          "type": "array",
          "description": "Output only. The recent clone jobs performed on the migrating VM. This field holds the vm's last completed clone job and the vm's running clone job, if one exists. Note: To have this field populated you need to explicitly request it via the \"view\" parameter of the Get/List request.",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the migrating VM was created (this refers to this resource and not to the time it was installed in the source)."
        },
        "targetDefaults": {
          "description": "The default configuration of the target VM that will be created in Google Cloud as a result of the migration. Deprecated: Use compute_engine_target_defaults instead.",
          "$ref": "TargetVMDetails"
        },
        "stateTime": {
          "description": "Output only. The last time the migrating VM state was updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "description": "Output only. The identifier of the MigratingVm.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The display name attached to the MigratingVm by the user."
        },
        "group": {
          "description": "Output only. The group this migrating vm is included in, if any. The group is represented by the full path of the appropriate Group resource.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "MigratingVm describes the VM that will be migrated from a Source environment and its replication state.",
      "type": "object"
    },
    "SchedulePolicy": {
      "properties": {
        "skipOsAdaptation": {
          "type": "boolean",
          "description": "A flag to indicate whether to skip OS adaptation during the replication sync. OS adaptation is a process where the VM's operating system undergoes changes and adaptations to fully function on Compute Engine."
        },
        "idleDuration": {
          "description": "The idle duration between replication stages.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "type": "object",
      "description": "A policy for scheduling replications.",
      "id": "SchedulePolicy"
    },
    "UpgradeApplianceRequest": {
      "description": "Request message for 'UpgradeAppliance' request.",
      "type": "object",
      "id": "UpgradeApplianceRequest",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and t he request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        }
      }
    },
    "Operation": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "response": {
          "type": "object",
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        }
      },
      "id": "Operation",
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "SchedulingNodeAffinity": {
      "properties": {
        "operator": {
          "type": "string",
          "description": "The operator to use for the node resources specified in the `values` parameter.",
          "enum": [
            "OPERATOR_UNSPECIFIED",
            "IN",
            "NOT_IN"
          ],
          "enumDescriptions": [
            "An unknown, unexpected behavior.",
            "The node resource group should be in these resources affinity.",
            "The node resource group should not be in these resources affinity."
          ]
        },
        "key": {
          "type": "string",
          "description": "The label key of Node resource to reference."
        },
        "values": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Corresponds to the label values of Node resource."
        }
      },
      "description": "Node Affinity: the configuration of desired nodes onto which this Instance could be scheduled. Based on https://cloud.google.com/compute/docs/reference/rest/v1/instances/setScheduling",
      "id": "SchedulingNodeAffinity",
      "type": "object"
    },
    "VmwareSourceDetails": {
      "description": "VmwareSourceDetails message describes a specific source details for the vmware source type.",
      "id": "VmwareSourceDetails",
      "properties": {
        "username": {
          "type": "string",
          "description": "The credentials username."
        },
        "thumbprint": {
          "type": "string",
          "description": "The thumbprint representing the certificate for the vcenter."
        },
        "password": {
          "type": "string",
          "description": "Input only. The credentials password. This is write only and can not be read in a GET operation."
        },
        "vcenterIp": {
          "description": "The ip address of the vcenter this Source represents.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Status": {
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "type": "array"
        }
      },
      "id": "Status"
    },
    "CutoverStep": {
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time the step has ended."
        },
        "instantiatingMigratedVm": {
          "description": "Instantiating migrated VM step.",
          "$ref": "InstantiatingMigratedVMStep"
        },
        "preparingVmDisks": {
          "description": "Preparing VM disks step.",
          "$ref": "PreparingVMDisksStep"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the step has started."
        },
        "finalSync": {
          "$ref": "ReplicationCycle",
          "description": "Final sync step."
        },
        "shuttingDownSourceVm": {
          "description": "Shutting down VM step.",
          "$ref": "ShuttingDownSourceVMStep"
        },
        "previousReplicationCycle": {
          "description": "A replication cycle prior cutover step.",
          "$ref": "ReplicationCycle"
        }
      },
      "description": "CutoverStep holds information about the cutover step progress.",
      "id": "CutoverStep",
      "type": "object"
    },
    "CutoverJob": {
      "type": "object",
      "properties": {
        "computeEngineVmDetails": {
          "description": "Output only. Details of the VM in Compute Engine. Deprecated: Use compute_engine_target_details instead.",
          "$ref": "TargetVMDetails",
          "readOnly": true
        },
        "stateMessage": {
          "type": "string",
          "description": "Output only. A message providing possible extra details about the current state.",
          "readOnly": true
        },
        "computeEngineTargetDetails": {
          "$ref": "ComputeEngineTargetDetails",
          "readOnly": true,
          "description": "Output only. Details of the target VM in Compute Engine."
        },
        "endTime": {
          "description": "Output only. The time the cutover job had finished.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "progressPercent": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. The current progress in percentage of the cutover job.",
          "readOnly": true
        },
        "progress": {
          "format": "int32",
          "description": "Output only. The current progress in percentage of the cutover job.",
          "readOnly": true,
          "type": "integer"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the cutover job was created (as an API call, not when it was actually created in the target)."
        },
        "state": {
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
            "The cutover job has not yet started.",
            "The cutover job finished with errors.",
            "The cutover job finished successfully.",
            "The cutover job was cancelled.",
            "The cutover job is being cancelled.",
            "The cutover job is active and running.",
            "OS adaptation is running as part of the cutover job to generate license."
          ],
          "description": "Output only. State of the cutover job.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "FAILED",
            "SUCCEEDED",
            "CANCELLED",
            "CANCELLING",
            "ACTIVE",
            "ADAPTING_OS"
          ]
        },
        "stateTime": {
          "description": "Output only. The time the state was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "description": "Output only. The name of the cutover job.",
          "type": "string",
          "readOnly": true
        },
        "error": {
          "$ref": "Status",
          "description": "Output only. Provides details for the errors that led to the Cutover Job's state.",
          "readOnly": true
        },
        "targetDetails": {
          "readOnly": true,
          "$ref": "TargetVMDetails",
          "description": "Output only. Details of the VM to create as the target of this cutover job. Deprecated: Use compute_engine_target_details instead."
        },
        "steps": {
          "readOnly": true,
          "description": "Output only. The cutover steps list representing its progress.",
          "type": "array",
          "items": {
            "$ref": "CutoverStep"
          }
        }
      },
      "description": "CutoverJob message describes a cutover of a migrating VM. The CutoverJob is the operation of shutting down the VM, creating a snapshot and clonning the VM using the replicated snapshot.",
      "id": "CutoverJob"
    },
    "ShuttingDownSourceVMStep": {
      "type": "object",
      "properties": {},
      "description": "ShuttingDownSourceVMStep contains specific step details.",
      "id": "ShuttingDownSourceVMStep"
    },
    "DatacenterConnector": {
      "properties": {
        "stateTime": {
          "readOnly": true,
          "description": "Output only. The time the state was last set.",
          "type": "string",
          "format": "google-datetime"
        },
        "availableVersions": {
          "readOnly": true,
          "$ref": "AvailableUpdates",
          "description": "Output only. The available versions for updating this appliance."
        },
        "applianceInfrastructureVersion": {
          "description": "Output only. Appliance OVA version. This is the OVA which is manually installed by the user and contains the infrastructure for the automatically updatable components on the appliance.",
          "readOnly": true,
          "type": "string"
        },
        "upgradeStatus": {
          "readOnly": true,
          "$ref": "UpgradeStatus",
          "description": "Output only. The status of the current / last upgradeAppliance operation."
        },
        "applianceSoftwareVersion": {
          "type": "string",
          "description": "Output only. Appliance last installed update bundle version. This is the version of the automatically updatable components on the appliance.",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the connector was created (as an API call, not when it was actually installed).",
          "readOnly": true
        },
        "state": {
          "readOnly": true,
          "description": "Output only. State of the DatacenterConnector, as determined by the health checks.",
          "type": "string",
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
            "The state was not sampled by the health checks yet.",
            "The source was sampled by health checks and is not available.",
            "The source is available but might not be usable yet due to unvalidated credentials or another reason. The credentials referred to are the ones to the Source. The error message will contain further details.",
            "The source exists and its credentials were verified."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "OFFLINE",
            "FAILED",
            "ACTIVE"
          ]
        },
        "version": {
          "type": "string",
          "description": "The version running in the DatacenterConnector. This is supplied by the OVA connector during the registration process and can not be modified."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The connector's name."
        },
        "bucket": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The communication channel between the datacenter connector and Google Cloud."
        },
        "serviceAccount": {
          "description": "The service account to use in the connector when communicating with the cloud.",
          "type": "string"
        },
        "error": {
          "readOnly": true,
          "description": "Output only. Provides details on the state of the Datacenter Connector in case of an error.",
          "$ref": "Status"
        },
        "registrationId": {
          "type": "string",
          "description": "Immutable. A unique key for this connector. This key is internal to the OVA connector and is supplied with its creation during the registration process and can not be modified."
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The last time the connector was updated with an API call."
        }
      },
      "id": "DatacenterConnector",
      "type": "object",
      "description": "DatacenterConnector message describes a connector between the Source and Google Cloud, which is installed on a vmware datacenter (an OVA vm installed by the user) to connect the Datacenter to Google Cloud and support vm migration data transfer."
    },
    "FetchInventoryResponse": {
      "properties": {
        "vmwareVms": {
          "description": "The description of the VMs in a Source of type Vmware.",
          "$ref": "VmwareVmsDetails"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the source was last queried (if the result is from the cache)."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "readOnly": true
        },
        "awsVms": {
          "description": "The description of the VMs in a Source of type AWS.",
          "$ref": "AwsVmsDetails"
        }
      },
      "id": "FetchInventoryResponse",
      "description": "Response message for fetchInventory.",
      "type": "object"
    },
    "ReplicationSync": {
      "type": "object",
      "description": "ReplicationSync contain information about the last replica sync to the cloud.",
      "id": "ReplicationSync",
      "properties": {
        "lastSyncTime": {
          "description": "The most updated snapshot created time in the source that finished replication.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "ListMigratingVmsResponse": {
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. Locations that could not be reached.",
          "type": "array"
        },
        "migratingVms": {
          "items": {
            "$ref": "MigratingVm"
          },
          "readOnly": true,
          "description": "Output only. The list of Migrating VMs response.",
          "type": "array"
        },
        "nextPageToken": {
          "readOnly": true,
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for 'ListMigratingVms' request.",
      "type": "object",
      "id": "ListMigratingVmsResponse"
    },
    "ComputeScheduling": {
      "type": "object",
      "id": "ComputeScheduling",
      "properties": {
        "minNodeCpus": {
          "type": "integer",
          "format": "int32",
          "description": "The minimum number of virtual CPUs this instance will consume when running on a sole-tenant node. Ignored if no node_affinites are configured."
        },
        "automaticRestart": {
          "type": "boolean"
        },
        "restartType": {
          "enumDescriptions": [
            "Unspecified behavior. This will use the default.",
            "The Instance should be automatically restarted whenever it is terminated by Compute Engine.",
            "The Instance isn't automatically restarted whenever it is terminated by Compute Engine."
          ],
          "type": "string",
          "description": "Whether the Instance should be automatically restarted whenever it is terminated by Compute Engine (not terminated by user). This configuration is identical to `automaticRestart` field in Compute Engine create instance under scheduling. It was changed to an enum (instead of a boolean) to match the default value in Compute Engine which is automatic restart.",
          "enum": [
            "RESTART_TYPE_UNSPECIFIED",
            "AUTOMATIC_RESTART",
            "NO_AUTOMATIC_RESTART"
          ]
        },
        "onHostMaintenance": {
          "enumDescriptions": [
            "An unknown, unexpected behavior.",
            "Terminate the instance when the host machine undergoes maintenance.",
            "Migrate the instance when the host machine undergoes maintenance."
          ],
          "description": "How the instance should behave when the host machine undergoes maintenance that may temporarily impact instance performance.",
          "type": "string",
          "enum": [
            "ON_HOST_MAINTENANCE_UNSPECIFIED",
            "TERMINATE",
            "MIGRATE"
          ]
        },
        "nodeAffinities": {
          "description": "A set of node affinity and anti-affinity configurations for sole tenant nodes.",
          "type": "array",
          "items": {
            "$ref": "SchedulingNodeAffinity"
          }
        }
      },
      "description": "Scheduling information for VM on maintenance/restart behaviour and node allocation in sole tenant nodes."
    },
    "Location": {
      "description": "A resource that represents Google Cloud Platform location.",
      "type": "object",
      "id": "Location",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        }
      }
    },
    "ListUtilizationReportsResponse": {
      "properties": {
        "unreachable": {
          "readOnly": true,
          "description": "Output only. Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "utilizationReports": {
          "items": {
            "$ref": "UtilizationReport"
          },
          "description": "Output only. The list of reports.",
          "readOnly": true,
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "type": "object",
      "id": "ListUtilizationReportsResponse",
      "description": "Response message for 'ListUtilizationReports' request."
    },
    "ReplicatingStep": {
      "properties": {
        "totalBytes": {
          "description": "Total bytes to be handled in the step.",
          "format": "int64",
          "type": "string"
        },
        "lastThirtyMinutesAverageBytesPerSecond": {
          "description": "The source disks replication rate for the last 30 minutes in bytes per second.",
          "format": "int64",
          "type": "string"
        },
        "replicatedBytes": {
          "type": "string",
          "description": "Replicated bytes in the step.",
          "format": "int64"
        },
        "lastTwoMinutesAverageBytesPerSecond": {
          "description": "The source disks replication rate for the last 2 minutes in bytes per second.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "ReplicatingStep",
      "description": "ReplicatingStep contains specific step details.",
      "type": "object"
    },
    "Group": {
      "id": "Group",
      "type": "object",
      "description": "Describes message for 'Group' resource. The Group is a collections of several MigratingVms.",
      "properties": {
        "name": {
          "description": "Output only. The Group name.",
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "description": "Display name is a user defined name for this group which can be updated.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "User-provided description of the group."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The update time timestamp."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The create time timestamp.",
          "readOnly": true
        }
      }
    }
  },
  "ownerName": "Google",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "targetProjects": {
              "methods": {
                "delete": {
                  "id": "vmmigration.projects.locations.targetProjects.delete",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The TargetProject name.",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/targetProjects/[^/]+$"
                    },
                    "requestId": {
                      "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and t he request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "description": "Deletes a single TargetProject. NOTE: TargetProject is a global resource; hence the only supported value for location is `global`.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/targetProjects/{targetProjectsId}",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1alpha1/{+name}"
                },
                "create": {
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. The TargetProject's parent.",
[...]
