{
  "discoveryVersion": "v1",
  "parameters": {
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "location": "query",
      "description": "Data format for response."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    }
  },
  "id": "vmmigration:v1alpha1",
  "canonicalName": "VM Migration Service",
  "schemas": {
    "AdaptingOSStep": {
      "type": "object",
      "properties": {},
      "id": "AdaptingOSStep",
      "description": "AdaptingOSStep contains specific step details."
    },
    "ListDatacenterConnectorsResponse": {
      "description": "Response message for 'ListDatacenterConnectors' request.",
      "id": "ListDatacenterConnectorsResponse",
      "properties": {
        "nextPageToken": {
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "readOnly": true,
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. Locations that could not be reached."
        },
        "datacenterConnectors": {
          "description": "Output only. The list of sources response.",
          "readOnly": true,
          "items": {
            "$ref": "DatacenterConnector"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "ComputeEngineTargetDetails": {
      "type": "object",
      "properties": {
        "serviceAccount": {
          "description": "The service account to associate the VM with.",
          "type": "string"
        },
        "licenseType": {
          "description": "The license type to use in OS adaptation.",
          "enumDescriptions": [
            "The license type is the default for the OS.",
            "The license type is Pay As You Go license type.",
            "The license type is Bring Your Own License type."
          ],
          "type": "string",
          "enum": [
            "COMPUTE_ENGINE_LICENSE_TYPE_DEFAULT",
            "COMPUTE_ENGINE_LICENSE_TYPE_PAYG",
            "COMPUTE_ENGINE_LICENSE_TYPE_BYOL"
          ]
        },
        "appliedLicense": {
          "description": "The OS license returned from the adaptation module report.",
          "$ref": "AppliedLicense"
        },
        "secureBoot": {
          "type": "boolean",
          "description": "Defines whether the instance has Secure Boot enabled. This can be set to true only if the VM boot option is EFI."
        },
        "vmName": {
          "description": "The name of the VM to create.",
          "type": "string"
        },
        "machineType": {
          "description": "The machine type to create the VM with.",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "The metadata key/value pairs to assign to the VM."
        },
        "machineTypeSeries": {
          "description": "The machine type series to create the VM with.",
          "type": "string"
        },
        "diskType": {
          "enum": [
            "COMPUTE_ENGINE_DISK_TYPE_UNSPECIFIED",
            "COMPUTE_ENGINE_DISK_TYPE_STANDARD",
            "COMPUTE_ENGINE_DISK_TYPE_SSD",
            "COMPUTE_ENGINE_DISK_TYPE_BALANCED"
          ],
          "type": "string",
          "description": "The disk type to use in the VM.",
          "enumDescriptions": [
            "An unspecified disk type. Will be used as STANDARD.",
            "A Standard disk type.",
            "SSD hard disk type.",
            "An alternative to SSD persistent disks that balance performance and cost."
          ]
        },
        "hostname": {
          "type": "string",
          "description": "The hostname to assign to the VM."
        },
        "bootOption": {
          "type": "string",
          "description": "The VM Boot Option, as set in the source VM.",
          "enum": [
            "COMPUTE_ENGINE_BOOT_OPTION_UNSPECIFIED",
            "COMPUTE_ENGINE_BOOT_OPTION_EFI",
            "COMPUTE_ENGINE_BOOT_OPTION_BIOS"
          ],
          "enumDescriptions": [
            "The boot option is unknown.",
            "The boot option is EFI.",
            "The boot option is BIOS."
          ]
        },
        "additionalLicenses": {
          "items": {
            "type": "string"
          },
          "description": "Additional licenses to assign to the VM.",
          "type": "array"
        },
        "zone": {
          "description": "The zone in which to create the VM.",
          "type": "string"
        },
        "labels": {
          "description": "A map of labels to associate with the VM.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "networkInterfaces": {
          "items": {
            "$ref": "NetworkInterface"
          },
          "description": "List of NICs connected to this VM.",
          "type": "array"
        },
        "networkTags": {
          "items": {
            "type": "string"
          },
          "description": "A list of network tags to associate with the VM.",
          "type": "array"
        },
        "project": {
          "description": "The Google Cloud target project ID or project name.",
          "type": "string"
        },
        "computeScheduling": {
          "description": "Compute instance scheduling information (if empty default is used).",
          "$ref": "ComputeScheduling"
        }
      },
      "id": "ComputeEngineTargetDetails",
      "description": "ComputeEngineTargetDetails is a collection of details for creating a VM in a target Compute Engine project."
    },
    "CloneJob": {
      "id": "CloneJob",
      "type": "object",
      "description": "CloneJob describes the process of creating a clone of a MigratingVM to the requested target based on the latest successful uploaded snapshots. While the migration cycles of a MigratingVm take place, it is possible to verify the uploaded VM can be started in the cloud, by creating a clone. The clone can be created without any downtime, and it is created using the latest snapshots which are already in the cloud. The cloneJob is only responsible for its work, not its products, which means once it is finished, it will never touch the instance it created. It will only delete it in case of the CloneJob being cancelled or upon failure to clone.",
      "properties": {
        "error": {
          "description": "Output only. Provides details for the errors that led to the Clone Job's state.",
          "$ref": "Status",
          "readOnly": true
        },
        "targetDetails": {
          "description": "Output only. Details of the VM to create as the target of this clone job. Deprecated: Use compute_engine_target_details instead.",
          "$ref": "TargetVMDetails",
          "deprecated": true,
          "readOnly": true
        },
        "computeEngineTargetDetails": {
          "$ref": "ComputeEngineTargetDetails",
          "readOnly": true,
          "description": "Output only. Details of the target VM in Compute Engine."
        },
        "stateTime": {
          "readOnly": true,
          "description": "Output only. The time the state was last updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "readOnly": true,
          "description": "Output only. The time the clone job was ended.",
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "description": "Output only. The name of the clone.",
          "readOnly": true,
          "type": "string"
        },
        "computeEngineVmDetails": {
          "description": "Output only. Details of the VM in Compute Engine. Deprecated: Use compute_engine_target_details instead.",
          "deprecated": true,
          "$ref": "TargetVMDetails",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the clone job was created (as an API call, not when it was actually created in the target)."
        },
        "steps": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "CloneStep"
          },
          "description": "Output only. The clone steps list representing its progress."
        },
        "computeEngineDisksTargetDetails": {
          "description": "Output only. Details of the target Persistent Disks in Compute Engine.",
          "readOnly": true,
          "$ref": "ComputeEngineDisksTargetDetails"
        },
        "state": {
          "type": "string",
          "description": "Output only. State of the clone job.",
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
            "The clone job has not yet started.",
            "The clone job is active and running.",
            "The clone job finished with errors.",
            "The clone job finished successfully.",
            "The clone job was cancelled.",
            "The clone job is being cancelled.",
            "OS adaptation is running as part of the clone job to generate license."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "ACTIVE",
            "FAILED",
            "SUCCEEDED",
            "CANCELLED",
            "CANCELLING",
            "ADAPTING_OS"
          ]
        }
      }
    },
    "VmwareVmDetails": {
      "properties": {
        "uuid": {
          "description": "The unique identifier of the VM in vCenter.",
          "type": "string"
        },
        "datacenterDescription": {
          "description": "The descriptive name of the vCenter's datacenter this VM is contained in.",
          "type": "string"
        },
        "cpuCount": {
          "description": "The number of cpus in the VM.",
          "format": "int32",
          "type": "integer"
        },
        "powerState": {
          "description": "The power state of the VM at the moment list was taken.",
          "type": "string",
          "enum": [
            "POWER_STATE_UNSPECIFIED",
            "ON",
            "OFF",
            "SUSPENDED"
          ],
          "enumDescriptions": [
            "Power state is not specified.",
            "The VM is turned ON.",
            "The VM is turned OFF.",
            "The VM is suspended. This is similar to hibernation or sleep mode."
          ]
        },
        "guestDescription": {
          "description": "The VM's OS. See for example https://vdc-repo.vmware.com/vmwb-repository/dcr-public/da47f910-60ac-438b-8b9b-6122f4d14524/16b7274a-bf8b-4b4c-a05e-746f2aa93c8c/doc/vim.vm.GuestOsDescriptor.GuestOsIdentifier.html for types of strings this might hold.",
          "type": "string"
        },
        "bootOption": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "BOOT_OPTION_UNSPECIFIED",
            "EFI",
            "BIOS"
          ],
          "description": "Output only. The VM Boot Option.",
          "enumDescriptions": [
            "The boot option is unknown.",
            "The boot option is EFI.",
            "The boot option is BIOS."
          ]
        },
        "memoryMb": {
          "format": "int32",
          "type": "integer",
          "description": "The size of the memory of the VM in MB."
        },
        "datacenterId": {
          "type": "string",
          "description": "The id of the vCenter's datacenter this VM is contained in."
        },
        "vmId": {
          "type": "string",
          "description": "The VM's id in the source (note that this is not the MigratingVm's id). This is the moref id of the VM."
        },
        "diskCount": {
          "description": "The number of disks the VM has.",
          "format": "int32",
          "type": "integer"
        },
        "committedStorage": {
          "type": "string",
          "description": "The total size of the storage allocated to the VM in MB.",
          "deprecated": true,
          "format": "int64"
        },
        "committedStorageMb": {
          "type": "string",
          "format": "int64",
          "description": "The total size of the storage allocated to the VM in MB."
        },
        "displayName": {
          "description": "The display name of the VM. Note that this is not necessarily unique.",
          "type": "string"
        }
      },
      "description": "VmwareVmDetails describes a VM in vCenter.",
      "type": "object",
      "id": "VmwareVmDetails"
    },
    "ListCloneJobsResponse": {
      "id": "ListCloneJobsResponse",
      "type": "object",
      "description": "Response message for 'ListCloneJobs' request.",
      "properties": {
        "nextPageToken": {
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string",
          "readOnly": true
        },
        "cloneJobs": {
          "items": {
            "$ref": "CloneJob"
          },
          "description": "Output only. The list of clone jobs response.",
          "readOnly": true,
          "type": "array"
        },
        "unreachable": {
          "readOnly": true,
          "description": "Output only. Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "Empty",
      "type": "object"
    },
    "DisksMigrationVmTargetDefaults": {
      "description": "Details for creation of a VM that migrated data disks will be attached to.",
      "properties": {
        "networkTags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of network tags to associate with the VM."
        },
        "serviceAccount": {
          "type": "string",
          "description": "Optional. The service account to associate the VM with."
        },
        "machineType": {
          "type": "string",
          "description": "Required. The machine type to create the VM with."
        },
        "bootDiskDefaults": {
          "$ref": "BootDiskDefaults",
          "description": "Optional. Details of the boot disk of the VM."
        },
        "labels": {
          "description": "Optional. A map of labels to associate with the VM.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "networkInterfaces": {
          "description": "Optional. NICs to attach to the VM.",
          "items": {
            "$ref": "NetworkInterface"
          },
          "type": "array"
        },
        "machineTypeSeries": {
          "type": "string",
          "description": "Optional. The machine type series to create the VM with. For presentation only."
        },
        "vmName": {
          "description": "Required. The name of the VM to create.",
          "type": "string"
        },
        "additionalLicenses": {
          "description": "Optional. Additional licenses to assign to the VM.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "metadata": {
          "description": "Optional. The metadata key/value pairs to assign to the VM.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "secureBoot": {
          "description": "Optional. Defines whether the instance has Secure Boot enabled. This can be set to true only if the VM boot option is EFI.",
          "type": "boolean"
        },
        "computeScheduling": {
          "description": "Optional. Compute instance scheduling information (if empty default is used).",
          "$ref": "ComputeScheduling"
        },
        "hostname": {
          "description": "Optional. The hostname to assign to the VM.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "DisksMigrationVmTargetDefaults"
    },
    "ListMigratingVmsResponse": {
      "properties": {
        "migratingVms": {
          "readOnly": true,
          "description": "Output only. The list of Migrating VMs response.",
          "type": "array",
          "items": {
            "$ref": "MigratingVm"
          }
        },
        "nextPageToken": {
          "readOnly": true,
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. Locations that could not be reached."
        }
      },
      "id": "ListMigratingVmsResponse",
      "type": "object",
      "description": "Response message for 'ListMigratingVms' request."
    },
    "Tag": {
      "description": "Tag is an AWS tag representation.",
      "type": "object",
      "id": "Tag",
      "properties": {
        "value": {
          "type": "string",
          "description": "Value of tag."
        },
        "key": {
          "description": "Key of tag.",
          "type": "string"
        }
      }
    },
    "SchedulingNodeAffinity": {
      "description": "Node Affinity: the configuration of desired nodes onto which this Instance could be scheduled. Based on https://cloud.google.com/compute/docs/reference/rest/v1/instances/setScheduling",
      "type": "object",
      "properties": {
        "key": {
          "description": "The label key of Node resource to reference.",
          "type": "string"
        },
        "operator": {
          "description": "The operator to use for the node resources specified in the `values` parameter.",
          "enum": [
            "OPERATOR_UNSPECIFIED",
            "IN",
            "NOT_IN"
          ],
          "type": "string",
          "enumDescriptions": [
            "An unknown, unexpected behavior.",
            "The node resource group should be in these resources affinity.",
            "The node resource group should not be in these resources affinity."
          ]
        },
        "values": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Corresponds to the label values of Node resource."
        }
      },
      "id": "SchedulingNodeAffinity"
    },
    "InstantiatingMigratedVMStep": {
      "id": "InstantiatingMigratedVMStep",
      "type": "object",
      "description": "InstantiatingMigratedVMStep contains specific step details.",
      "properties": {}
    },
    "VmUtilizationInfo": {
      "description": "Utilization information of a single VM.",
      "properties": {
        "vmwareVmDetails": {
          "$ref": "VmwareVmDetails",
          "description": "The description of the VM in a Source of type Vmware."
        },
        "utilization": {
          "$ref": "VmUtilizationMetrics",
          "description": "Utilization metrics for this VM."
        },
        "vmId": {
          "description": "The VM's ID in the source.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "VmUtilizationInfo"
    },
    "ListLocationsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request."
        }
      },
      "description": "The response message for Locations.ListLocations.",
      "type": "object",
      "id": "ListLocationsResponse"
    },
    "PersistentDisk": {
      "description": "Details of a created Persistent Disk.",
      "type": "object",
      "properties": {
        "diskUri": {
          "type": "string",
          "description": "The URI of the Persistent Disk."
        },
        "sourceDiskNumber": {
          "format": "int32",
          "type": "integer",
          "description": "The ordinal number of the source VM disk."
        }
      },
      "id": "PersistentDisk"
    },
    "VmAttachmentDetails": {
      "description": "Details for attachment of the disk to a VM.",
      "id": "VmAttachmentDetails",
      "properties": {
        "deviceName": {
          "type": "string",
          "description": "Optional. Specifies a unique device name of your choice that is reflected into the /dev/disk/by-id/google-* tree of a Linux operating system running within the instance. If not specified, the server chooses a default device name to apply to this disk, in the form persistent-disk-x, where x is a number assigned by Google Compute Engine. This field is only applicable for persistent disks."
        }
      },
      "type": "object"
    },
    "ApplianceVersion": {
      "properties": {
        "critical": {
          "description": "Determine whether it's critical to upgrade the appliance to this version.",
          "type": "boolean"
        },
        "version": {
          "type": "string",
          "description": "The appliance version."
        },
        "releaseNotesUri": {
          "type": "string",
          "description": "Link to a page that contains the version release notes."
        },
        "uri": {
          "type": "string",
          "description": "A link for downloading the version."
        }
      },
      "id": "ApplianceVersion",
      "description": "Describes an appliance version.",
      "type": "object"
    },
    "PersistentDiskDefaults": {
      "properties": {
        "diskType": {
          "description": "The disk type to use.",
          "type": "string",
          "enum": [
            "COMPUTE_ENGINE_DISK_TYPE_UNSPECIFIED",
            "COMPUTE_ENGINE_DISK_TYPE_STANDARD",
            "COMPUTE_ENGINE_DISK_TYPE_SSD",
            "COMPUTE_ENGINE_DISK_TYPE_BALANCED"
          ],
          "enumDescriptions": [
            "An unspecified disk type. Will be used as STANDARD.",
            "A Standard disk type.",
            "SSD hard disk type.",
            "An alternative to SSD persistent disks that balance performance and cost."
          ]
        },
        "sourceDiskNumber": {
          "format": "int32",
          "description": "Required. The ordinal number of the source VM disk.",
          "type": "integer"
        },
        "vmAttachmentDetails": {
          "$ref": "VmAttachmentDetails",
          "description": "Optional. Details for attachment of the disk to a VM. Used when the disk is set to be attacked to a target VM."
        },
        "diskName": {
          "description": "Optional. The name of the Persistent Disk to create.",
          "type": "string"
        },
        "additionalLabels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "A map of labels to associate with the Persistent Disk.",
          "type": "object"
        }
      },
      "id": "PersistentDiskDefaults",
      "type": "object",
      "description": "Details for creation of a Persistent Disk."
    },
    "SchedulePolicy": {
      "type": "object",
      "description": "A policy for scheduling replications.",
      "properties": {
        "skipOsAdaptation": {
          "type": "boolean",
          "description": "A flag to indicate whether to skip OS adaptation during the replication sync. OS adaptation is a process where the VM's operating system undergoes changes and adaptations to fully function on Compute Engine."
        },
        "idleDuration": {
          "type": "string",
          "description": "The idle duration between replication stages.",
          "format": "google-duration"
        }
      },
      "id": "SchedulePolicy"
    },
    "AzureSourceVmDetails": {
      "type": "object",
      "properties": {
        "vmCapabilitiesInfo": {
          "description": "Output only. Information about VM capabilities needed for some Compute Engine features.",
          "readOnly": true,
          "$ref": "VmCapabilities"
        },
        "committedStorageBytes": {
          "description": "The total size of the disks being migrated in bytes.",
          "format": "int64",
          "type": "string"
        },
        "disks": {
          "items": {
            "$ref": "AzureDiskDetails"
          },
          "type": "array",
          "description": "The disks attached to the source VM."
        },
        "firmware": {
          "enumDescriptions": [
            "The firmware is unknown.",
            "The firmware is EFI.",
            "The firmware is BIOS."
          ],
          "description": "The firmware type of the source VM.",
          "type": "string",
          "enum": [
            "FIRMWARE_UNSPECIFIED",
            "EFI",
            "BIOS"
          ]
        }
      },
      "description": "Represent the source Azure VM details.",
      "id": "AzureSourceVmDetails"
    },
    "DisksMigrationVmTargetDetails": {
      "id": "DisksMigrationVmTargetDetails",
      "properties": {
        "vmUri": {
          "readOnly": true,
          "description": "Output only. The URI of the Compute Engine VM.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Details for the VM created VM as part of disks migration."
    },
    "ListReplicationCyclesResponse": {
      "properties": {
        "nextPageToken": {
          "readOnly": true,
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "description": "Output only. Locations that could not be reached.",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "replicationCycles": {
          "items": {
            "$ref": "ReplicationCycle"
          },
          "description": "Output only. The list of replication cycles response.",
          "type": "array",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "ListReplicationCyclesResponse",
      "description": "Response message for 'ListReplicationCycles' request."
    },
    "NetworkInterface": {
      "id": "NetworkInterface",
      "properties": {
        "internalIp": {
          "description": "The internal IP to define in the NIC. The formats accepted are: `ephemeral` \\ ipv4 address \\ a named address resource full path.",
          "type": "string"
        },
        "subnetwork": {
          "type": "string",
          "description": "The subnetwork to connect the NIC to."
        },
        "externalIp": {
          "description": "The external IP to define in the NIC.",
          "type": "string"
        },
        "network": {
          "description": "The network to connect the NIC to.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "NetworkInterface represents a NIC of a VM."
    },
    "ListCutoverJobsResponse": {
      "type": "object",
      "description": "Response message for 'ListCutoverJobs' request.",
      "properties": {
        "cutoverJobs": {
          "readOnly": true,
          "description": "Output only. The list of cutover jobs response.",
          "items": {
            "$ref": "CutoverJob"
          },
          "type": "array"
        },
        "unreachable": {
          "description": "Output only. Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true
        },
        "nextPageToken": {
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "ListCutoverJobsResponse"
    },
    "OperationMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "id": "OperationMetadata",
      "type": "object",
      "properties": {
        "statusMessage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "requestedCancellation": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "type": "string"
        },
        "apiVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. API version used to start the operation."
        },
        "target": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "verb": {
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true
        },
        "endTime": {
          "readOnly": true,
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "Group": {
      "description": "Describes message for 'Group' resource. The Group is a collections of several MigratingVms.",
      "type": "object",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The create time timestamp."
        },
        "name": {
          "description": "Output only. The Group name.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The update time timestamp."
        },
        "displayName": {
          "description": "Display name is a user defined name for this group which can be updated.",
          "type": "string"
        },
        "migrationTargetType": {
          "enum": [
            "MIGRATION_TARGET_TYPE_UNSPECIFIED",
            "MIGRATION_TARGET_TYPE_GCE",
            "MIGRATION_TARGET_TYPE_DISKS"
          ],
          "description": "Immutable. The target type of this group.",
          "enumDescriptions": [
            "Group type is not specified. This defaults to Compute Engine targets.",
            "All MigratingVMs in the group must have Compute Engine targets.",
            "All MigratingVMs in the group must have Compute Engine Disks targets."
          ],
          "type": "string"
        },
        "description": {
          "description": "User-provided description of the group.",
          "type": "string"
        }
      },
      "id": "Group"
    },
    "DiskImageDefaults": {
      "properties": {
        "sourceImage": {
          "description": "Required. The Image resource used when creating the disk.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Contains details about the image source used to create the disk.",
      "id": "DiskImageDefaults"
    },
    "ResumeMigrationRequest": {
      "description": "Request message for 'ResumeMigration' request.",
      "type": "object",
      "properties": {},
      "id": "ResumeMigrationRequest"
    },
    "CutoverForecast": {
      "properties": {
        "estimatedCutoverJobDuration": {
          "description": "Output only. Estimation of the CutoverJob duration.",
          "format": "google-duration",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "CutoverForecast holds information about future CutoverJobs of a MigratingVm.",
      "id": "CutoverForecast"
    },
    "CancelCutoverJobRequest": {
      "properties": {},
      "description": "Request message for 'CancelCutoverJob' request.",
      "id": "CancelCutoverJobRequest",
      "type": "object"
    },
    "DatacenterConnector": {
      "properties": {
        "availableVersions": {
          "readOnly": true,
          "description": "Output only. The available versions for updating this appliance.",
          "$ref": "AvailableUpdates"
        },
        "bucket": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The communication channel between the datacenter connector and Google Cloud."
        },
        "stateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the state was last set.",
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The connector's name.",
          "type": "string"
        },
        "applianceInfrastructureVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Appliance OVA version. This is the OVA which is manually installed by the user and contains the infrastructure for the automatically updatable components on the appliance."
        },
        "version": {
          "type": "string",
          "description": "The version running in the DatacenterConnector. This is supplied by the OVA connector during the registration process and can not be modified."
        },
        "serviceAccount": {
          "description": "The service account to use in the connector when communicating with the cloud.",
          "type": "string"
        },
        "applianceSoftwareVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Appliance last installed update bundle version. This is the version of the automatically updatable components on the appliance."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The last time the connector was updated with an API call."
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "OFFLINE",
            "FAILED",
            "ACTIVE"
          ],
          "type": "string",
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
            "The state was not sampled by the health checks yet.",
            "The source was sampled by health checks and is not available.",
            "The source is available but might not be usable yet due to unvalidated credentials or another reason. The credentials referred to are the ones to the Source. The error message will contain further details.",
            "The source exists and its credentials were verified."
          ],
          "description": "Output only. State of the DatacenterConnector, as determined by the health checks."
        },
        "registrationId": {
          "description": "Immutable. A unique key for this connector. This key is internal to the OVA connector and is supplied with its creation during the registration process and can not be modified.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time the connector was created (as an API call, not when it was actually installed).",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "error": {
          "readOnly": true,
          "description": "Output only. Provides details on the state of the Datacenter Connector in case of an error.",
          "$ref": "Status"
        },
        "upgradeStatus": {
          "$ref": "UpgradeStatus",
          "description": "Output only. The status of the current / last upgradeAppliance operation.",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "DatacenterConnector",
      "description": "DatacenterConnector message describes a connector between the Source and Google Cloud, which is installed on a vmware datacenter (an OVA vm installed by the user) to connect the Datacenter to Google Cloud and support vm migration data transfer."
    },
    "UtilizationReport": {
      "id": "UtilizationReport",
      "properties": {
        "displayName": {
          "description": "The report display name, as assigned by the user.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The report unique name."
        },
        "timeFrame": {
          "description": "Time frame of the report.",
          "enum": [
            "TIME_FRAME_UNSPECIFIED",
            "WEEK",
            "MONTH",
            "YEAR"
          ],
          "enumDescriptions": [
            "The time frame was not specified and will default to WEEK.",
            "One week.",
            "One month.",
            "One year."
          ],
          "type": "string"
        },
        "error": {
          "readOnly": true,
          "$ref": "Status",
          "description": "Output only. Provides details on the state of the report in case of an error."
        },
        "frameEndTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The point in time when the time frame ends. Notice that the time frame is counted backwards. For instance if the \"frame_end_time\" value is 2021/01/20 and the time frame is WEEK then the report covers the week between 2021/01/20 and 2021/01/14.",
          "readOnly": true
        },
        "vms": {
          "type": "array",
          "items": {
            "$ref": "VmUtilizationInfo"
          },
          "description": "List of utilization information per VM. When sent as part of the request, the \"vm_id\" field is used in order to specify which VMs to include in the report. In that case all other fields are ignored."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the report was created (this refers to the time of the request, not the time the report creation completed).",
          "format": "google-datetime"
        },
        "stateTime": {
          "description": "Output only. The time the state was last set.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "vmCount": {
          "type": "integer",
          "description": "Output only. Total number of VMs included in the report.",
          "readOnly": true,
          "format": "int32"
        },
        "vmsCount": {
          "format": "int32",
          "deprecated": true,
          "type": "integer",
          "description": "Output only. Total number of VMs included in the report.",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "The state is unknown. This value is not in use.",
            "The report is in the making.",
            "Report creation completed successfully.",
            "Report creation failed."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "SUCCEEDED",
            "FAILED"
          ],
          "description": "Output only. Current state of the report.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Utilization report details the utilization (CPU, memory, etc.) of selected source VMs."
    },
    "CancelCloneJobRequest": {
      "id": "CancelCloneJobRequest",
      "description": "Request message for 'CancelCloneJob' request.",
      "type": "object",
      "properties": {}
    },
    "CutoverJob": {
      "description": "CutoverJob message describes a cutover of a migrating VM. The CutoverJob is the operation of shutting down the VM, creating a snapshot and clonning the VM using the replicated snapshot.",
      "type": "object",
      "id": "CutoverJob",
      "properties": {
        "state": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
            "The cutover job has not yet started.",
            "The cutover job finished with errors.",
            "The cutover job finished successfully.",
            "The cutover job was cancelled.",
            "The cutover job is being cancelled.",
            "The cutover job is active and running.",
            "OS adaptation is running as part of the cutover job to generate license."
          ],
          "description": "Output only. State of the cutover job.",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "FAILED",
            "SUCCEEDED",
            "CANCELLED",
            "CANCELLING",
            "ACTIVE",
            "ADAPTING_OS"
          ]
        },
        "computeEngineVmDetails": {
          "readOnly": true,
          "$ref": "TargetVMDetails",
          "deprecated": true,
          "description": "Output only. Details of the VM in Compute Engine. Deprecated: Use compute_engine_target_details instead."
        },
        "targetDetails": {
          "deprecated": true,
          "$ref": "TargetVMDetails",
          "readOnly": true,
          "description": "Output only. Details of the VM to create as the target of this cutover job. Deprecated: Use compute_engine_target_details instead."
        },
        "computeEngineTargetDetails": {
          "description": "Output only. Details of the target VM in Compute Engine.",
          "readOnly": true,
          "$ref": "ComputeEngineTargetDetails"
        },
        "progressPercent": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. The current progress in percentage of the cutover job.",
          "readOnly": true
        },
        "stateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the state was last updated."
        },
        "steps": {
          "readOnly": true,
          "description": "Output only. The cutover steps list representing its progress.",
          "items": {
            "$ref": "CutoverStep"
          },
          "type": "array"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the cutover job."
        },
        "computeEngineDisksTargetDetails": {
          "$ref": "ComputeEngineDisksTargetDetails",
          "description": "Output only. Details of the target Persistent Disks in Compute Engine.",
          "readOnly": true
        },
        "progress": {
          "format": "int32",
          "readOnly": true,
          "description": "Output only. The current progress in percentage of the cutover job.",
          "type": "integer",
          "deprecated": true
        },
        "error": {
          "readOnly": true,
          "description": "Output only. Provides details for the errors that led to the Cutover Job's state.",
          "$ref": "Status"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the cutover job had finished."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time the cutover job was created (as an API call, not when it was actually created in the target).",
          "readOnly": true,
          "format": "google-datetime"
        },
        "stateMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A message providing possible extra details about the current state."
        }
      }
    },
    "AwsSecurityGroup": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The AWS security group name."
        },
        "id": {
          "description": "The AWS security group id.",
          "type": "string"
        }
      },
      "id": "AwsSecurityGroup",
      "description": "AwsSecurityGroup describes a security group of an AWS VM.",
      "type": "object"
    },
    "ShuttingDownSourceVMStep": {
      "description": "ShuttingDownSourceVMStep contains specific step details.",
      "id": "ShuttingDownSourceVMStep",
      "properties": {},
      "type": "object"
    },
    "OSDisk": {
      "id": "OSDisk",
      "type": "object",
      "description": "A message describing the OS disk.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The disk's full name."
        },
        "type": {
          "description": "The disk's type.",
          "type": "string"
        },
        "sizeGb": {
          "format": "int32",
          "type": "integer",
          "description": "The disk's size in GB."
        }
      }
    },
    "AccessKeyCredentials": {
      "properties": {
        "accessKeyId": {
          "description": "AWS access key ID.",
          "type": "string"
        },
        "sessionToken": {
          "type": "string",
          "description": "Input only. AWS session token. Used only when AWS security token service (STS) is responsible for creating the temporary credentials."
        },
        "secretAccessKey": {
          "description": "Input only. AWS secret access key.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "AccessKeyCredentials",
      "description": "Message describing AWS Credentials using access key id and secret."
    },
    "ListOperationsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        }
      },
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse"
    },
    "ClientSecretCredentials": {
      "id": "ClientSecretCredentials",
      "properties": {
        "clientId": {
          "description": "Azure client ID.",
          "type": "string"
        },
        "tenantId": {
          "description": "Azure tenant ID.",
          "type": "string"
        },
        "clientSecret": {
          "type": "string",
          "description": "Input only. Azure client secret."
        }
      },
      "type": "object",
      "description": "Message describing Azure Credentials using tenant ID, client ID and secret."
    },
    "MigratingVm": {
      "id": "MigratingVm",
      "description": "MigratingVm describes the VM that will be migrated from a Source environment and its replication state.",
      "type": "object",
      "properties": {
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The labels of the migrating VM."
        },
        "computeEngineTargetDefaults": {
          "$ref": "ComputeEngineTargetDefaults",
          "description": "Details of the target VM in Compute Engine."
        },
        "stateTime": {
          "description": "Output only. The last time the migrating VM state was updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "recentCutoverJobs": {
          "readOnly": true,
          "description": "Output only. The recent cutover jobs performed on the migrating VM. This field holds the vm's last completed cutover job and the vm's running cutover job, if one exists. Note: To have this field populated you need to explicitly request it via the \"view\" parameter of the Get/List request.",
          "type": "array",
          "items": {
            "$ref": "CutoverJob"
          }
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The identifier of the MigratingVm."
        },
        "vmwareSourceVmDetails": {
          "readOnly": true,
          "description": "Output only. Details of the VM from a Vmware source.",
          "$ref": "VmwareSourceVmDetails"
        },
        "computeEngineVmDefaults": {
          "description": "Details of the VM in Compute Engine. Deprecated: Use compute_engine_target_defaults instead.",
          "$ref": "TargetVMDetails",
          "deprecated": true
        },
        "recentCloneJobs": {
          "description": "Output only. The recent clone jobs performed on the migrating VM. This field holds the vm's last completed clone job and the vm's running clone job, if one exists. Note: To have this field populated you need to explicitly request it via the \"view\" parameter of the Get/List request.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "CloneJob"
          }
        },
        "lastReplicationCycle": {
          "description": "Output only. Details of the last replication cycle. This will be updated whenever a replication cycle is finished and is not to be confused with last_sync which is only updated on successful replication cycles.",
          "$ref": "ReplicationCycle",
          "readOnly": true
        },
        "group": {
          "type": "string",
          "description": "Output only. The group this migrating vm is included in, if any. The group is represented by the full path of the appropriate Group resource.",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "The description attached to the migrating VM by the user."
        },
        "updateTime": {
          "description": "Output only. The last time the migrating VM resource was updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "sourceVmId": {
          "description": "The unique ID of the VM in the source. The VM's name in vSphere can be changed, so this is not the VM's name but rather its moRef id. This id is of the form vm-.",
          "type": "string"
        },
        "awsSourceVmDetails": {
          "$ref": "AwsSourceVmDetails",
          "readOnly": true,
          "description": "Output only. Details of the VM from an AWS source."
        },
        "error": {
          "$ref": "Status",
          "readOnly": true,
          "description": "Output only. Provides details on the state of the Migrating VM in case of an error in replication."
        },
        "cutoverForecast": {
          "description": "Output only. Provides details of future CutoverJobs of a MigratingVm. Set to empty when cutover forecast is unavailable.",
          "readOnly": true,
          "$ref": "CutoverForecast"
        },
        "targetDefaults": {
          "description": "The default configuration of the target VM that will be created in Google Cloud as a result of the migration. Deprecated: Use compute_engine_target_defaults instead.",
          "deprecated": true,
          "$ref": "TargetVMDetails"
        },
        "computeEngineDisksTargetDefaults": {
          "$ref": "ComputeEngineDisksTargetDefaults",
          "description": "Details of the target Persistent Disks in Compute Engine."
        },
        "policy": {
          "description": "The replication schedule policy.",
          "$ref": "SchedulePolicy"
        },
        "azureSourceVmDetails": {
          "$ref": "AzureSourceVmDetails",
          "readOnly": true,
          "description": "Output only. Details of the VM from an Azure source."
        },
        "currentSyncInfo": {
          "readOnly": true,
          "$ref": "ReplicationCycle",
          "description": "Output only. Details of the current running replication cycle."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time the migrating VM was created (this refers to this resource and not to the time it was installed in the source).",
          "readOnly": true,
          "type": "string"
        },
        "lastSync": {
          "readOnly": true,
          "$ref": "ReplicationSync",
          "description": "Output only. The most updated snapshot created time in the source that finished replication."
        },
        "state": {
          "enumDescriptions": [
            "The state was not sampled by the health checks yet.",
            "The VM in the source is being verified.",
            "The source VM was verified, and it's ready to start replication.",
            "Migration is going through the first sync cycle.",
            "The replication is active, and it's running or scheduled to run.",
            "The source VM is being turned off, and a final replication is currently running.",
            "The source VM was stopped and replicated. The replication is currently paused.",
            "A cutover job is active and replication cycle is running the final sync.",
            "The replication was paused by the user and no cycles are scheduled to run.",
            "The migrating VM is being finalized and migration resources are being removed.",
            "The replication process is done. The migrating VM is finalized and no longer consumes billable resources.",
            "The replication process encountered an unrecoverable error and was aborted."
          ],
          "description": "Output only. State of the MigratingVm.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "READY",
            "FIRST_SYNC",
            "ACTIVE",
            "CUTTING_OVER",
            "CUTOVER",
            "FINAL_SYNC",
            "PAUSED",
            "FINALIZING",
            "FINALIZED",
            "ERROR"
          ],
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The display name attached to the MigratingVm by the user."
        }
      }
    },
    "PreparingVMDisksStep": {
      "id": "PreparingVMDisksStep",
      "properties": {},
      "description": "PreparingVMDisksStep contains specific step details.",
      "type": "object"
    },
    "ComputeScheduling": {
      "properties": {
        "minNodeCpus": {
          "format": "int32",
          "type": "integer",
          "description": "The minimum number of virtual CPUs this instance will consume when running on a sole-tenant node. Ignored if no node_affinites are configured."
        },
        "restartType": {
          "enum": [
            "RESTART_TYPE_UNSPECIFIED",
            "AUTOMATIC_RESTART",
            "NO_AUTOMATIC_RESTART"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified behavior. This will use the default.",
            "The Instance should be automatically restarted whenever it is terminated by Compute Engine.",
            "The Instance isn't automatically restarted whenever it is terminated by Compute Engine."
          ],
          "description": "Whether the Instance should be automatically restarted whenever it is terminated by Compute Engine (not terminated by user). This configuration is identical to `automaticRestart` field in Compute Engine create instance under scheduling. It was changed to an enum (instead of a boolean) to match the default value in Compute Engine which is automatic restart."
        },
        "automaticRestart": {
          "type": "boolean",
          "deprecated": true
        },
        "nodeAffinities": {
          "description": "A set of node affinity and anti-affinity configurations for sole tenant nodes.",
          "items": {
            "$ref": "SchedulingNodeAffinity"
          },
          "type": "array"
        },
        "onHostMaintenance": {
          "type": "string",
          "description": "How the instance should behave when the host machine undergoes maintenance that may temporarily impact instance performance.",
          "enumDescriptions": [
            "An unknown, unexpected behavior.",
            "Terminate the instance when the host machine undergoes maintenance.",
            "Migrate the instance when the host machine undergoes maintenance."
          ],
          "enum": [
            "ON_HOST_MAINTENANCE_UNSPECIFIED",
            "TERMINATE",
            "MIGRATE"
          ]
        }
      },
      "type": "object",
      "id": "ComputeScheduling",
      "description": "Scheduling information for VM on maintenance/restart behaviour and node allocation in sole tenant nodes."
    },
    "LocalizedMessage": {
      "description": "Provides a localized error message that is safe to return to the user which can be attached to an RPC error.",
      "properties": {
        "locale": {
          "description": "The locale used following the specification defined at https://www.rfc-editor.org/rfc/bcp/bcp47.txt. Examples are: \"en-US\", \"fr-CH\", \"es-MX\"",
          "type": "string"
        },
        "message": {
          "type": "string",
          "description": "The localized error message in the above locale."
        }
      },
      "id": "LocalizedMessage",
      "type": "object"
    },
    "MigrationError": {
      "description": "Represents migration resource error information that can be used with google.rpc.Status message. MigrationError is used to present the user with error information in migration operations.",
      "type": "object",
      "id": "MigrationError",
      "properties": {
        "errorTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the error occurred."
        },
        "actionItem": {
          "readOnly": true,
          "description": "Output only. Suggested action for solving the error.",
          "$ref": "LocalizedMessage"
        },
        "code": {
          "description": "Output only. The error code.",
          "enum": [
            "ERROR_CODE_UNSPECIFIED",
            "UNKNOWN_ERROR",
            "SOURCE_VALIDATION_ERROR",
            "SOURCE_REPLICATION_ERROR",
            "TARGET_REPLICATION_ERROR",
            "OS_ADAPTATION_ERROR",
            "CLONE_ERROR",
            "CUTOVER_ERROR",
            "UTILIZATION_REPORT_ERROR",
            "APPLIANCE_UPGRADE_ERROR",
            "IMAGE_IMPORT_ERROR"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is not used.",
            "Migrate to Virtual Machines encountered an unknown error.",
            "Migrate to Virtual Machines encountered an error while validating replication source health.",
            "Migrate to Virtual Machines encountered an error during source data operation.",
            "Migrate to Virtual Machines encountered an error during target data operation.",
            "Migrate to Virtual Machines encountered an error during OS adaptation.",
            "Migrate to Virtual Machines encountered an error in clone operation.",
            "Migrate to Virtual Machines encountered an error in cutover operation.",
            "Migrate to Virtual Machines encountered an error during utilization report creation.",
            "Migrate to Virtual Machines encountered an error during appliance upgrade.",
            "Migrate to Virtual Machines encountered an error in image import operation."
          ]
        },
        "helpLinks": {
          "description": "Output only. URL(s) pointing to additional information on handling the current error.",
          "readOnly": true,
          "items": {
            "$ref": "Link"
          },
          "type": "array"
        },
        "errorMessage": {
          "$ref": "LocalizedMessage",
          "readOnly": true,
          "description": "Output only. The localized error message."
        }
      }
    },
    "AzureVmsDetails": {
      "properties": {
        "details": {
          "type": "array",
          "items": {
            "$ref": "AzureVmDetails"
          },
          "description": "The details of the Azure VMs."
        }
      },
      "type": "object",
      "id": "AzureVmsDetails",
      "description": "AzureVmsDetails describes VMs in Azure."
    },
    "UpgradeApplianceRequest": {
      "description": "Request message for 'UpgradeAppliance' request.",
      "type": "object",
      "id": "UpgradeApplianceRequest",
      "properties": {
        "requestId": {
          "description": "A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      }
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "properties": {},
      "id": "CancelOperationRequest"
    },
    "VmwareVmsDetails": {
      "properties": {
        "details": {
          "description": "The details of the vmware VMs.",
          "items": {
            "$ref": "VmwareVmDetails"
          },
          "type": "array"
        }
      },
      "id": "VmwareVmsDetails",
      "description": "VmwareVmsDetails describes VMs in vCenter.",
      "type": "object"
    },
    "MigrationWarning": {
      "properties": {
        "helpLinks": {
          "items": {
            "$ref": "Link"
          },
          "type": "array",
          "description": "URL(s) pointing to additional information on handling the current warning."
        },
        "warningMessage": {
          "description": "The localized warning message.",
          "$ref": "LocalizedMessage"
        },
        "actionItem": {
          "$ref": "LocalizedMessage",
          "description": "Suggested action for solving the warning."
        },
        "code": {
          "enum": [
            "WARNING_CODE_UNSPECIFIED",
            "ADAPTATION_WARNING"
          ],
          "enumDescriptions": [
            "Default value. This value is not used.",
            "A warning originated from OS Adaptation."
          ],
          "type": "string",
          "description": "The warning code."
        },
        "warningTime": {
          "description": "The time the warning occurred.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "MigrationWarning",
      "description": "Represents migration resource warning information that can be used with google.rpc.Status message. MigrationWarning is used to present the user with warning information in migration operations.",
      "type": "object"
    },
    "VmwareSourceDetails": {
      "type": "object",
      "id": "VmwareSourceDetails",
      "description": "VmwareSourceDetails message describes a specific source details for the vmware source type.",
      "properties": {
        "vcenterIp": {
          "type": "string",
          "description": "The ip address of the vcenter this Source represents."
        },
        "resolvedVcenterHost": {
          "type": "string",
          "description": "The hostname of the vcenter."
        },
        "thumbprint": {
          "type": "string",
          "description": "The thumbprint representing the certificate for the vcenter."
        },
        "username": {
          "description": "The credentials username.",
          "type": "string"
        },
        "password": {
          "type": "string",
          "description": "Input only. The credentials password. This is write only and can not be read in a GET operation."
        }
      }
    },
    "DisksMigrationDisksTargetDefaults": {
      "description": "Details for a disk only migration.",
      "properties": {},
      "id": "DisksMigrationDisksTargetDefaults",
      "type": "object"
    },
    "StartMigrationRequest": {
      "properties": {},
      "type": "object",
      "id": "StartMigrationRequest",
      "description": "Request message for 'StartMigrationRequest' request."
    },
    "BootDiskDefaults": {
      "type": "object",
      "description": "BootDiskDefaults hold information about the boot disk of a VM.",
      "id": "BootDiskDefaults",
      "properties": {
        "deviceName": {
          "description": "Optional. Specifies a unique device name of your choice that is reflected into the /dev/disk/by-id/google-* tree of a Linux operating system running within the instance. If not specified, the server chooses a default device name to apply to this disk, in the form persistent-disk-x, where x is a number assigned by Google Compute Engine. This field is only applicable for persistent disks.",
          "type": "string"
        },
        "diskType": {
          "type": "string",
          "enum": [
            "COMPUTE_ENGINE_DISK_TYPE_UNSPECIFIED",
            "COMPUTE_ENGINE_DISK_TYPE_STANDARD",
            "COMPUTE_ENGINE_DISK_TYPE_SSD",
            "COMPUTE_ENGINE_DISK_TYPE_BALANCED"
          ],
          "enumDescriptions": [
            "An unspecified disk type. Will be used as STANDARD.",
            "A Standard disk type.",
            "SSD hard disk type.",
            "An alternative to SSD persistent disks that balance performance and cost."
          ],
          "description": "Optional. The type of disk provisioning to use for the VM."
        },
        "diskName": {
          "description": "Optional. The name of the disk.",
          "type": "string"
        },
        "image": {
          "$ref": "DiskImageDefaults",
          "description": "The image to use when creating the disk."
        }
      }
    },
    "ComputeEngineDisksTargetDetails": {
      "type": "object",
      "description": "ComputeEngineDisksTargetDetails is a collection of created Persistent Disks details.",
      "id": "ComputeEngineDisksTargetDetails",
      "properties": {
        "disks": {
          "description": "The details of each created Persistent Disk.",
          "items": {
            "$ref": "PersistentDisk"
          },
          "type": "array"
        },
        "disksTargetDetails": {
          "description": "Details of the disks-only migration target.",
          "$ref": "DisksMigrationDisksTargetDetails"
        },
        "vmTargetDetails": {
          "description": "Details for the VM the migrated data disks are attached to.",
          "$ref": "DisksMigrationVmTargetDetails"
        }
      }
    },
    "Source": {
      "properties": {
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The labels of the source."
        },
        "error": {
          "description": "Output only. Provides details on the state of the Source in case of an error.",
          "readOnly": true,
          "$ref": "Status",
          "deprecated": true
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The update time timestamp."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The create time timestamp.",
          "type": "string",
          "readOnly": true
        },
        "azure": {
          "description": "Azure type source details.",
          "$ref": "AzureSourceDetails"
        },
        "name": {
          "description": "Output only. The Source name.",
          "readOnly": true,
          "type": "string"
        },
        "aws": {
          "description": "AWS type source details.",
          "$ref": "AwsSourceDetails"
        },
        "description": {
          "description": "User-provided description of the source.",
          "type": "string"
        },
        "vmware": {
          "description": "Vmware type source details.",
          "$ref": "VmwareSourceDetails"
        }
      },
      "description": "Source message describes a specific vm migration Source resource. It contains the source environment information.",
      "id": "Source",
      "type": "object"
    },
    "VmUtilizationMetrics": {
      "id": "VmUtilizationMetrics",
      "properties": {
        "cpuAverage": {
          "format": "int32",
          "type": "integer",
          "description": "Average CPU usage, percent.",
          "deprecated": true
        },
        "diskIoRateAverageKbps": {
          "type": "string",
          "description": "Average disk IO rate, in kilobytes per second.",
          "format": "int64"
        },
        "cpuAveragePercent": {
          "description": "Average CPU usage, percent.",
          "type": "integer",
          "format": "int32"
        },
        "networkThroughputAverage": {
          "deprecated": true,
          "format": "int64",
          "type": "string",
          "description": "Average network throughput (combined transmit-rates and receive-rates), in kilobytes per second."
        },
        "memoryAverage": {
          "deprecated": true,
          "format": "int32",
          "description": "Average memory usage, percent.",
          "type": "integer"
        },
        "memoryMax": {
          "description": "Max memory usage, percent.",
          "type": "integer",
          "deprecated": true,
          "format": "int32"
        },
        "memoryMaxPercent": {
          "type": "integer",
          "format": "int32",
          "description": "Max memory usage, percent."
        },
        "networkThroughputMaxKbps": {
          "description": "Max network throughput (combined transmit-rates and receive-rates), in kilobytes per second.",
          "type": "string",
          "format": "int64"
        },
        "networkThroughputAverageKbps": {
          "description": "Average network throughput (combined transmit-rates and receive-rates), in kilobytes per second.",
          "type": "string",
          "format": "int64"
        },
        "networkThroughputMax": {
          "deprecated": true,
          "format": "int64",
          "type": "string",
          "description": "Max network throughput (combined transmit-rates and receive-rates), in kilobytes per second."
        },
        "memoryAveragePercent": {
          "description": "Average memory usage, percent.",
          "format": "int32",
          "type": "integer"
        },
        "diskIoRateMax": {
          "type": "string",
          "format": "int64",
          "deprecated": true,
          "description": "Max disk IO rate, in kilobytes per second."
        },
        "diskIoRateMaxKbps": {
          "description": "Max disk IO rate, in kilobytes per second.",
          "type": "string",
          "format": "int64"
        },
        "cpuMax": {
          "type": "integer",
          "format": "int32",
          "description": "Max CPU usage, percent.",
          "deprecated": true
        },
        "diskIoRateAverage": {
          "description": "Average disk IO rate, in kilobytes per second.",
          "format": "int64",
          "deprecated": true,
          "type": "string"
        },
        "cpuMaxPercent": {
          "type": "integer",
          "format": "int32",
          "description": "Max CPU usage, percent."
        }
      },
      "type": "object",
      "description": "Utilization metrics values for a single VM."
    },
    "OSDescription": {
      "type": "object",
      "properties": {
        "plan": {
          "type": "string",
          "description": "OS plan."
        },
        "type": {
          "description": "OS type.",
          "type": "string"
        },
        "publisher": {
          "description": "OS publisher.",
          "type": "string"
        },
        "offer": {
          "type": "string",
          "description": "OS offer."
        }
      },
      "id": "OSDescription",
      "description": "A message describing the VM's OS. Including OS, Publisher, Offer and Plan if applicable."
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation",
      "properties": {
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AzureSourceDetails": {
      "properties": {
        "state": {
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
            "The state was not sampled by the health checks yet.",
            "The source is available but might not be usable yet due to invalid credentials or another reason. The error message will contain further details.",
            "The source exists and its credentials were verified."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "FAILED",
            "ACTIVE"
          ],
          "type": "string",
          "description": "Output only. State of the source as determined by the health check."
        },
        "error": {
          "readOnly": true,
          "$ref": "Status",
          "description": "Output only. Provides details on the state of the Source in case of an error."
        },
        "subscriptionId": {
          "description": "Immutable. Azure subscription ID.",
          "type": "string"
        },
        "azureLocation": {
          "description": "Immutable. The Azure location (region) that the source VMs will be migrated from.",
          "type": "string"
        },
        "migrationResourcesUserTags": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "User specified tags to add to every M2VM generated resource in Azure. These tags will be set in addition to the default tags that are set as part of the migration process. The tags must not begin with the reserved prefix `m4ce` or `m2vm`.",
          "type": "object"
        },
        "clientSecretCreds": {
          "$ref": "ClientSecretCredentials",
          "description": "Azure Credentials using tenant ID, client ID and secret."
        },
        "resourceGroupId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The ID of the Azure resource group that contains all resources related to the migration process of this source."
        }
      },
      "id": "AzureSourceDetails",
      "type": "object",
      "description": "AzureSourceDetails message describes a specific source details for the Azure source type."
    },
    "VmwareSourceVmDetails": {
      "type": "object",
      "description": "Represent the source Vmware VM details.",
      "properties": {
        "vmCapabilitiesInfo": {
          "readOnly": true,
          "description": "Output only. Information about VM capabilities needed for some Compute Engine features.",
          "$ref": "VmCapabilities"
        },
        "committedStorageBytes": {
          "format": "int64",
          "description": "The total size of the disks being migrated in bytes.",
          "type": "string"
        },
        "firmware": {
          "enum": [
            "FIRMWARE_UNSPECIFIED",
            "EFI",
            "BIOS"
          ],
          "enumDescriptions": [
            "The firmware is unknown.",
            "The firmware is EFI.",
            "The firmware is BIOS."
          ],
          "type": "string",
          "description": "The firmware type of the source VM."
        },
        "disks": {
          "description": "The disks attached to the source VM.",
          "items": {
            "$ref": "VmwareDiskDetails"
          },
          "type": "array"
        }
      },
      "id": "VmwareSourceVmDetails"
    },
    "PauseMigrationRequest": {
      "type": "object",
      "id": "PauseMigrationRequest",
      "description": "Request message for 'PauseMigration' request.",
      "properties": {}
    },
    "AwsDiskDetails": {
      "description": "The details of an AWS instance disk.",
      "id": "AwsDiskDetails",
      "properties": {
        "volumeId": {
          "type": "string",
          "description": "AWS volume ID."
        },
        "sizeGb": {
          "format": "int64",
          "description": "Size in GB.",
          "type": "string"
        },
        "diskNumber": {
          "description": "The ordinal number of the disk.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "VmCapabilities": {
      "description": "Migrating VM source information about the VM capabilities needed for some Compute Engine features.",
      "id": "VmCapabilities",
      "properties": {
        "osCapabilities": {
          "readOnly": true,
          "description": "Output only. Unordered list. List of certain VM OS capabilities needed for some Compute Engine features.",
          "items": {
            "type": "string",
            "enum": [
              "OS_CAPABILITY_UNSPECIFIED",
              "OS_CAPABILITY_NVME_STORAGE_ACCESS",
              "OS_CAPABILITY_GVNIC_NETWORK_INTERFACE"
            ],
            "enumDescriptions": [
              "This is for API compatibility only and is not in use.",
              "NVMe driver installed and the VM can use NVMe PD or local SSD.",
              "gVNIC virtual NIC driver supported."
            ]
          },
          "type": "array"
        },
        "lastOsCapabilitiesUpdateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The last time OS capabilities list was updated."
        }
      },
      "type": "object"
    },
    "AwsVmDetails": {
      "type": "object",
      "properties": {
        "osDescription": {
          "description": "The VM's OS.",
          "type": "string"
        },
        "sourceDescription": {
          "description": "The descriptive name of the AWS's source this VM is connected to.",
          "type": "string"
        },
        "memoryMb": {
          "type": "integer",
          "description": "The memory size of the VM in MB.",
          "format": "int32"
        },
        "architecture": {
          "enum": [
            "VM_ARCHITECTURE_UNSPECIFIED",
            "I386",
            "X86_64",
            "ARM64",
            "X86_64_MAC"
          ],
          "enumDescriptions": [
            "The architecture is unknown.",
            "The architecture is I386.",
            "The architecture is X86_64.",
            "The architecture is ARM64.",
            "The architecture is X86_64_MAC."
          ],
          "type": "string",
          "description": "The CPU architecture."
        },
        "powerState": {
          "enumDescriptions": [
            "Power state is not specified.",
            "The VM is turned on.",
            "The VM is turned off.",
            "The VM is suspended. This is similar to hibernation or sleep mode.",
            "The VM is starting."
          ],
          "readOnly": true,
          "description": "Output only. The power state of the VM at the moment list was taken.",
          "type": "string",
          "enum": [
            "POWER_STATE_UNSPECIFIED",
            "ON",
            "OFF",
            "SUSPENDED",
            "PENDING"
          ]
        },
        "committedStorageMb": {
          "format": "int64",
          "description": "The total size of the storage allocated to the VM in MB.",
          "type": "string"
        },
        "virtualizationType": {
          "type": "string",
          "enumDescriptions": [
            "The virtualization type is unknown.",
            "The virtualziation type is HVM.",
            "The virtualziation type is PARAVIRTUAL."
          ],
          "enum": [
            "VM_VIRTUALIZATION_TYPE_UNSPECIFIED",
            "HVM",
            "PARAVIRTUAL"
          ],
          "description": "The virtualization type."
        },
        "vpcId": {
          "description": "The VPC ID the VM belongs to.",
          "type": "string"
        },
        "tags": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The tags of the VM.",
          "type": "object"
        },
        "sourceId": {
          "type": "string",
          "description": "The id of the AWS's source this VM is connected to."
        },
        "cpuCount": {
          "format": "int32",
          "type": "integer",
          "description": "The number of cpus the VM has."
        },
        "diskCount": {
          "description": "The number of disks the VM has.",
          "format": "int32",
          "type": "integer"
        },
        "zone": {
          "type": "string",
          "description": "The AWS zone of the VM."
        },
        "vmId": {
          "description": "The VM ID in AWS.",
          "type": "string"
        },
        "displayName": {
          "description": "The display name of the VM. Note that this value is not necessarily unique.",
          "type": "string"
        },
        "securityGroups": {
          "type": "array",
          "description": "The security groups the VM belongs to.",
          "items": {
            "$ref": "AwsSecurityGroup"
          }
        },
        "instanceType": {
          "description": "The instance type of the VM.",
          "type": "string"
        },
        "bootOption": {
          "description": "The VM Boot Option.",
          "enumDescriptions": [
            "The boot option is unknown.",
            "The boot option is UEFI.",
            "The boot option is LEGACY-BIOS."
          ],
          "enum": [
            "BOOT_OPTION_UNSPECIFIED",
            "EFI",
            "BIOS"
          ],
          "type": "string"
        }
      },
      "id": "AwsVmDetails",
      "description": "AwsVmDetails describes a VM in AWS."
    },
    "DisksMigrationDisksTargetDetails": {
      "id": "DisksMigrationDisksTargetDetails",
      "description": "Details for a disks-only migration.",
      "properties": {},
      "type": "object"
    },
    "TargetVMDetails": {
      "description": "TargetVMDetails is a collection of details for creating a VM in a target Compute Engine project.",
      "id": "TargetVMDetails",
      "type": "object",
      "deprecated": true,
      "properties": {
        "licenseType": {
          "description": "The license type to use in OS adaptation.",
          "enum": [
            "DEFAULT",
            "PAYG",
            "BYOL"
          ],
          "type": "string",
          "enumDescriptions": [
            "The license type is the default for the OS.",
            "The license type is Pay As You Go license type.",
            "The license type is Bring Your Own License type."
          ]
        },
        "appliedLicense": {
          "description": "Output only. The OS license returned from the adaptation module report.",
          "$ref": "AppliedLicense",
          "readOnly": true
        },
        "machineTypeSeries": {
          "type": "string",
          "description": "The machine type series to create the VM with."
        },
        "externalIp": {
          "description": "The external IP to define in the VM.",
          "type": "string"
        },
        "project": {
          "deprecated": true,
          "description": "Output only. The project in which to create the VM.",
          "readOnly": true,
          "type": "string"
        },
        "targetProject": {
          "description": "The full path of the resource of type TargetProject which represents the Compute Engine project in which to create this VM.",
          "type": "string"
        },
        "labels": {
          "description": "A map of labels to associate with the VM.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "network": {
          "type": "string",
          "description": "The network to connect the VM to."
        },
        "internalIp": {
          "type": "string",
          "description": "The internal IP to define in the VM. The formats accepted are: `ephemeral` \\ ipv4 address \\ a named address resource full path."
        },
        "networkInterfaces": {
          "type": "array",
          "description": "List of NICs connected to this VM.",
          "items": {
            "$ref": "NetworkInterface"
          }
        },
        "networkTags": {
          "type": "array",
          "description": "A list of network tags to associate with the VM.",
          "items": {
            "type": "string"
          }
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The metadata key/value pairs to assign to the VM."
        },
        "bootOption": {
          "readOnly": true,
          "enumDescriptions": [
            "The boot option is unknown.",
            "The boot option is EFI.",
            "The boot option is BIOS."
          ],
          "description": "Output only. The VM Boot Option, as set in the source VM.",
          "enum": [
            "BOOT_OPTION_UNSPECIFIED",
            "EFI",
            "BIOS"
          ],
          "type": "string"
        },
        "name": {
          "description": "The name of the VM to create.",
          "type": "string"
        },
        "subnetwork": {
          "description": "The subnetwork to connect the VM to.",
          "type": "string"
        },
        "secureBoot": {
          "description": "Defines whether the instance has Secure Boot enabled. This can be set to true only if the vm boot option is EFI.",
          "type": "boolean"
        },
        "serviceAccount": {
          "type": "string",
          "description": "The service account to associate the VM with."
        },
        "machineType": {
          "description": "The machine type to create the VM with.",
          "type": "string"
        },
        "diskType": {
          "enumDescriptions": [
            "An unspecified disk type. Will be used as STANDARD.",
            "A Standard disk type.",
            "An alternative to SSD persistent disks that balance performance and cost.",
            "SSD hard disk type."
          ],
          "type": "string",
          "enum": [
            "DISK_TYPE_UNSPECIFIED",
            "STANDARD",
            "BALANCED",
            "SSD"
          ],
          "description": "The disk type to use in the VM."
        },
        "zone": {
          "type": "string",
          "description": "The zone in which to create the VM."
        },
        "computeScheduling": {
          "$ref": "ComputeScheduling",
          "description": "Compute instance scheduling information (if empty default is used)."
        }
      }
    },
    "VmwareDiskDetails": {
      "properties": {
        "label": {
          "type": "string",
          "description": "The disk label."
        },
        "sizeGb": {
          "format": "int64",
          "description": "Size in GB.",
          "type": "string"
        },
        "diskNumber": {
          "description": "The ordinal number of the disk.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "VmwareDiskDetails",
      "description": "The details of a Vmware VM disk.",
      "type": "object"
    },
    "AppliedLicense": {
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified license for the OS.",
            "No license available for the OS.",
            "The license type is Pay As You Go license type.",
            "The license type is Bring Your Own License type."
          ],
          "description": "The license type that was used in OS adaptation.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "NONE",
            "PAYG",
            "BYOL"
          ]
        },
        "osLicense": {
          "description": "The OS license returned from the adaptation module's report.",
          "type": "string"
        }
      },
      "description": "AppliedLicense holds the license data returned by adaptation module report.",
      "id": "AppliedLicense",
      "type": "object"
    },
    "CloneStep": {
      "description": "CloneStep holds information about the clone step progress.",
      "type": "object",
      "properties": {
        "adaptingOs": {
          "description": "Adapting OS step.",
          "$ref": "AdaptingOSStep"
        },
        "startTime": {
          "type": "string",
          "description": "The time the step has started.",
          "format": "google-datetime"
        },
        "preparingVmDisks": {
          "description": "Preparing VM disks step.",
          "$ref": "PreparingVMDisksStep"
        },
        "endTime": {
          "description": "The time the step has ended.",
          "type": "string",
          "format": "google-datetime"
        },
        "instantiatingMigratedVm": {
          "description": "Instantiating migrated VM step.",
          "$ref": "InstantiatingMigratedVMStep"
        }
      },
      "id": "CloneStep"
    },
    "Disk": {
      "description": "A message describing a data disk.",
      "properties": {
        "lun": {
          "description": "The disk's Logical Unit Number (LUN).",
          "type": "integer",
          "format": "int32"
        },
        "sizeGb": {
          "format": "int32",
          "description": "The disk size in GB.",
          "type": "integer"
        },
        "name": {
          "type": "string",
          "description": "The disk name."
        }
      },
      "type": "object",
      "id": "Disk"
    },
    "RemoveGroupMigrationRequest": {
      "properties": {
        "migratingVm": {
          "description": "The MigratingVm to remove.",
          "type": "string"
        }
      },
      "description": "Request message for 'RemoveMigration' request.",
      "id": "RemoveGroupMigrationRequest",
      "type": "object"
    },
    "ReplicatingStep": {
      "properties": {
        "lastThirtyMinutesAverageBytesPerSecond": {
          "type": "string",
          "format": "int64",
          "description": "The source disks replication rate for the last 30 minutes in bytes per second."
        },
        "replicatedBytes": {
          "description": "Replicated bytes in the step.",
          "type": "string",
          "format": "int64"
        },
        "lastTwoMinutesAverageBytesPerSecond": {
          "type": "string",
          "format": "int64",
          "description": "The source disks replication rate for the last 2 minutes in bytes per second."
        },
        "totalBytes": {
          "description": "Total bytes to be handled in the step.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "description": "ReplicatingStep contains specific step details.",
      "id": "ReplicatingStep"
    },
    "AwsSourceVmDetails": {
      "id": "AwsSourceVmDetails",
      "properties": {
        "disks": {
          "type": "array",
          "description": "The disks attached to the source VM.",
          "items": {
            "$ref": "AwsDiskDetails"
          }
        },
        "vmCapabilitiesInfo": {
          "readOnly": true,
          "description": "Output only. Information about VM capabilities needed for some Compute Engine features.",
          "$ref": "VmCapabilities"
        },
        "committedStorageBytes": {
          "type": "string",
          "format": "int64",
          "description": "The total size of the disks being migrated in bytes."
        },
        "firmware": {
          "enum": [
            "FIRMWARE_UNSPECIFIED",
            "EFI",
            "BIOS"
          ],
          "enumDescriptions": [
            "The firmware is unknown.",
            "The firmware is EFI.",
            "The firmware is BIOS."
          ],
          "description": "The firmware type of the source VM.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represent the source AWS VM details."
    },
    "Link": {
      "type": "object",
      "description": "Describes a URL link.",
      "properties": {
        "url": {
          "type": "string",
          "description": "The URL of the link."
        },
        "description": {
          "type": "string",
          "description": "Describes what the link offers."
        }
      },
      "id": "Link"
    },
    "AvailableUpdates": {
      "description": "Holds informatiom about the available versions for upgrade.",
      "properties": {
        "newDeployableAppliance": {
          "description": "The newest deployable version of the appliance. The current appliance can't be updated into this version, and the owner must manually deploy this OVA to a new appliance.",
          "$ref": "ApplianceVersion"
        },
        "inPlaceUpdate": {
          "description": "The latest version for in place update. The current appliance can be updated to this version using the API or m4c CLI.",
          "$ref": "ApplianceVersion"
        }
      },
      "id": "AvailableUpdates",
      "type": "object"
    },
    "TargetProject": {
      "type": "object",
      "id": "TargetProject",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "type": "string",
[...]
