{
  "discoveryVersion": "v1",
  "schemas": {
    "ManagementCluster": {
      "id": "ManagementCluster",
      "description": "Management cluster configuration.",
      "type": "object",
      "properties": {
        "nodeTypeConfigs": {
          "description": "Required. The map of cluster node types in this cluster, where the key is canonical identifier of the node type (corresponds to the `NodeType`).",
          "additionalProperties": {
            "$ref": "NodeTypeConfig"
          },
          "type": "object"
        },
        "clusterId": {
          "description": "Required. The user-provided identifier of the new `Cluster`. The identifier must meet the following requirements: * Only contains 1-63 alphanumeric characters and hyphens * Begins with an alphabetical character * Ends with a non-hyphen character * Not formatted as a UUID * Complies with [RFC 1034](https://datatracker.ietf.org/doc/html/rfc1034) (section 3.5)",
          "type": "string"
        }
      }
    },
    "NodeTypeConfig": {
      "type": "object",
      "id": "NodeTypeConfig",
      "properties": {
        "customCoreCount": {
          "description": "Optional. Customized number of cores available to each node of the type. This number must always be one of `nodeType.availableCustomCoreCounts`. If zero is provided max value from `nodeType.availableCustomCoreCounts` will be used.",
          "format": "int32",
          "type": "integer"
        },
        "nodeCount": {
          "description": "Required. The number of nodes of this type in the cluster",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Information about the type and number of nodes associated with the cluster."
    },
    "NetworkService": {
      "type": "object",
      "id": "NetworkService",
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "UNPROVISIONED",
            "RECONCILING",
            "ACTIVE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified service state. This is the default value.",
            "Service is not provisioned.",
            "Service is in the process of being provisioned/deprovisioned.",
            "Service is active."
          ],
          "description": "Output only. State of the service. New values may be added to this enum when appropriate.",
          "readOnly": true
        },
        "enabled": {
          "description": "True if the service is enabled; false otherwise.",
          "type": "boolean"
        }
      },
      "description": "Represents a network service that is managed by a `NetworkPolicy` resource. A network service provides a way to control an aspect of external access to VMware workloads. For example, whether the VMware workloads in the private clouds governed by a network policy can access or be accessed from the internet."
    },
    "Cluster": {
      "type": "object",
      "description": "A cluster in a private cloud.",
      "id": "Cluster",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Output only. Creation time of this resource.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "uid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. System-generated unique identifier for the resource."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of this cluster. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-central1-a/privateClouds/my-cloud/clusters/my-cluster`"
        },
        "management": {
          "type": "boolean",
          "description": "Output only. True if the cluster is a management cluster; false otherwise. There can only be one management cluster in a private cloud and it has to be the first one.",
          "readOnly": true
        },
        "nodeTypeConfigs": {
          "additionalProperties": {
            "$ref": "NodeTypeConfig"
          },
          "description": "Required. The map of cluster node types in this cluster, where the key is canonical identifier of the node type (corresponds to the `NodeType`).",
          "type": "object"
        },
        "state": {
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "The Cluster is operational and can be used by the user.",
            "The Cluster is being deployed.",
            "Adding or removing of a node to the cluster, any other cluster specific updates.",
            "The Cluster is being deleted.",
            "The Cluster is undergoing maintenance, for example: a failed node is getting replaced."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "UPDATING",
            "DELETING",
            "REPAIRING"
          ],
          "readOnly": true,
          "description": "Output only. State of the resource."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Last update time of this resource.",
          "readOnly": true
        }
      }
    },
    "ListPrivateCloudsResponse": {
      "type": "object",
      "id": "ListPrivateCloudsResponse",
      "properties": {
        "privateClouds": {
          "items": {
            "$ref": "PrivateCloud"
          },
          "type": "array",
          "description": "A list of private clouds."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached when making an aggregated query using wildcards."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "Response message for VmwareEngine.ListPrivateClouds"
    },
    "PrivateCloud": {
      "id": "PrivateCloud",
      "description": "Represents a private cloud resource. Private clouds of type `STANDARD` and `TIME_LIMITED` are zonal resources, `STRETCHED` private clouds are regional.",
      "properties": {
        "name": {
          "description": "Output only. The resource name of this private cloud. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-central1-a/privateClouds/my-cloud`",
          "readOnly": true,
          "type": "string"
        },
        "expireTime": {
          "type": "string",
          "description": "Output only. Time when the resource will be irreversibly deleted.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "description": {
          "type": "string",
          "description": "User-provided description for this private cloud."
        },
        "vcenter": {
          "readOnly": true,
          "description": "Output only. Vcenter appliance.",
          "$ref": "Vcenter"
        },
        "networkConfig": {
          "description": "Required. Network configuration of the private cloud.",
          "$ref": "NetworkConfig"
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "UPDATING",
            "FAILED",
            "DELETED",
            "PURGING"
          ],
          "description": "Output only. State of the resource. New values may be added to this enum when appropriate.",
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "The private cloud is ready.",
            "The private cloud is being created.",
            "The private cloud is being updated.",
            "The private cloud is in failed state.",
            "The private cloud is scheduled for deletion. The deletion process can be cancelled by using the corresponding undelete method.",
            "The private cloud is irreversibly deleted and is being removed from the system."
          ]
        },
        "type": {
          "type": "string",
          "description": "Optional. Type of the private cloud. Defaults to STANDARD.",
          "enum": [
            "STANDARD",
            "TIME_LIMITED"
          ],
          "enumDescriptions": [
            "Standard private is a zonal resource, with 3+ nodes. Default type.",
            "Time limited private cloud is a zonal resource, can have only 1 node and has limited life span. Will be deleted after defined period of time, can be converted into standard private cloud by expanding it up to 3 or more nodes."
          ]
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Last update time of this resource."
        },
        "hcx": {
          "$ref": "Hcx",
          "description": "Output only. HCX appliance.",
          "readOnly": true
        },
        "deleteTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time when the resource was scheduled for deletion.",
          "format": "google-datetime"
        },
        "managementCluster": {
          "description": "Required. Input only. The management cluster for this private cloud. This field is required during creation of the private cloud to provide details for the default cluster. The following fields can't be changed after private cloud creation: `ManagementCluster.clusterId`, `ManagementCluster.nodeTypeId`.",
          "$ref": "ManagementCluster"
        },
        "nsx": {
          "readOnly": true,
          "description": "Output only. NSX appliance.",
          "$ref": "Nsx"
        },
        "uid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. System-generated unique identifier for the resource."
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Creation time of this resource.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Binding": {
      "properties": {
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`.",
          "type": "string"
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        },
        "members": {
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Associates `members`, or principals, with a `role`.",
      "type": "object",
      "id": "Binding"
    },
    "ResetNsxCredentialsRequest": {
      "description": "Request message for VmwareEngine.ResetNsxCredentials",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server guarantees that a request doesn't result in creation of duplicate commitments for at least 60 minutes. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        }
      },
      "type": "object",
      "id": "ResetNsxCredentialsRequest"
    },
    "HcxActivationKey": {
      "id": "HcxActivationKey",
      "type": "object",
      "description": "HCX activation key. A default key is created during private cloud provisioning, but this behavior is subject to change and you should always verify active keys. Use VmwareEngine.ListHcxActivationKeys to retrieve existing keys and VmwareEngine.CreateHcxActivationKey to create new ones.",
      "properties": {
        "createTime": {
          "description": "Output only. Creation time of HCX activation key.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "enumDescriptions": [
            "Unspecified state.",
            "State of a newly generated activation key.",
            "State of key when it has been used to activate HCX appliance.",
            "State of key when it is being created."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "AVAILABLE",
            "CONSUMED",
            "CREATING"
          ],
          "description": "Output only. State of HCX activation key.",
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of this HcxActivationKey. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-central1/privateClouds/my-cloud/hcxActivationKeys/my-key`"
        },
        "activationKey": {
          "type": "string",
          "description": "Output only. HCX activation key.",
          "readOnly": true
        },
        "uid": {
          "description": "Output only. System-generated unique identifier for the resource.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "Location": {
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        }
      },
      "type": "object",
      "id": "Location"
    },
    "OperationMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "type": "object",
      "properties": {
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "type": "string",
          "readOnly": true
        },
        "verb": {
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string"
        },
        "requestedCancellation": {
          "type": "boolean",
          "description": "Output only. True if the user has requested cancellation of the operation; false otherwise. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true
        },
        "target": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the operation finished running."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "type": "string"
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "OperationMetadata"
    },
    "NodeType": {
      "properties": {
        "availableCustomCoreCounts": {
          "readOnly": true,
          "description": "Output only. List of possible values of custom core count.",
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        },
        "nodeTypeId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The canonical identifier of the node type (corresponds to the `NodeType`). For example: standard-72."
        },
        "totalCoreCount": {
          "format": "int32",
          "description": "Output only. The total number of CPU cores in a single node.",
          "type": "integer",
          "readOnly": true
        },
        "displayName": {
          "description": "Output only. The friendly name for this node type. For example: ve1-standard-72",
          "readOnly": true,
          "type": "string"
        },
        "virtualCpuCount": {
          "description": "Output only. The total number of virtual CPUs in a single node.",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of this node type. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-proj/locations/us-central1-a/nodeTypes/standard-72`"
        },
        "memoryGb": {
          "type": "integer",
          "format": "int32",
          "readOnly": true,
          "description": "Output only. The amount of physical memory available, defined in GB."
        },
        "diskSizeGb": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. The amount of storage available, defined in GB.",
          "format": "int32"
        }
      },
      "id": "NodeType",
      "type": "object",
      "description": "Describes node type."
    },
    "ListClustersResponse": {
      "id": "ListClustersResponse",
      "description": "Response message for VmwareEngine.ListClusters",
      "type": "object",
      "properties": {
        "clusters": {
          "type": "array",
          "items": {
            "$ref": "Cluster"
          },
          "description": "A list of private cloud clusters."
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached when making an aggregated query using wildcards.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "PeeringRoute": {
      "description": "Exchanged network peering route.",
      "properties": {
        "type": {
          "readOnly": true,
          "description": "Output only. Type of the route in the peer VPC network.",
          "enumDescriptions": [
            "Unspecified peering route type. This is the default value.",
            "Dynamic routes in the peer network.",
            "Static routes in the peer network.",
            "Created, updated, and removed automatically by Google Cloud when subnets are created, modified, or deleted in the peer network."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "DYNAMIC_PEERING_ROUTE",
            "STATIC_PEERING_ROUTE",
            "SUBNET_PEERING_ROUTE"
          ],
          "type": "string"
        },
        "imported": {
          "type": "boolean",
          "description": "Output only. True if the peering route has been imported from a peered VPC network; false otherwise. The import happens if the field `NetworkPeering.importCustomRoutes` is true for this network, `NetworkPeering.exportCustomRoutes` is true for the peer VPC network, and the import does not result in a route conflict.",
          "readOnly": true
        },
        "destRange": {
          "type": "string",
          "description": "Output only. Destination range of the peering route in CIDR notation.",
          "readOnly": true
        },
        "priority": {
          "type": "string",
          "readOnly": true,
          "format": "int64",
          "description": "Output only. The priority of the peering route."
        },
        "direction": {
          "type": "string",
          "enum": [
            "DIRECTION_UNSPECIFIED",
            "INCOMING",
            "OUTGOING"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified exchanged routes direction. This is default.",
            "Routes imported from the peer network.",
            "Routes exported to the peer network."
          ],
          "description": "Output only. Direction of the routes exchanged with the peer network, from the VMware Engine network perspective: * Routes of direction `INCOMING` are imported from the peer network. * Routes of direction `OUTGOING` are exported from the intranet VPC network of the VMware Engine network."
        },
        "nextHopRegion": {
          "description": "Output only. Region containing the next hop of the peering route. This field only applies to dynamic routes in the peer VPC network.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "PeeringRoute"
    },
    "ListOperationsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        }
      },
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse",
      "type": "object"
    },
    "Empty": {
      "type": "object",
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "ResetVcenterCredentialsRequest": {
      "properties": {
        "requestId": {
          "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server guarantees that a request doesn't result in creation of duplicate commitments for at least 60 minutes. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ResetVcenterCredentialsRequest",
      "description": "Request message for VmwareEngine.ResetVcenterCredentials"
    },
    "NetworkPolicy": {
      "id": "NetworkPolicy",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Creation time of this resource.",
          "type": "string"
        },
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. System-generated unique identifier for the resource."
        },
        "vmwareEngineNetworkCanonical": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The canonical name of the VMware Engine network in the form: `projects/{project_number}/locations/{location}/vmwareEngineNetworks/{vmware_engine_network_id}`"
        },
        "edgeServicesCidr": {
          "description": "Required. IP address range in CIDR notation used to create internet access and external IP access. An RFC 1918 CIDR block, with a \"/26\" prefix, is required. The range cannot overlap with any prefixes either in the consumer VPC network or in use by the private clouds attached to that VPC network.",
          "type": "string"
        },
        "externalIp": {
          "$ref": "NetworkService",
          "description": "Network service that allows External IP addresses to be assigned to VMware workloads. This service can only be enabled when `internet_access` is also enabled."
        },
        "name": {
          "description": "Output only. The resource name of this network policy. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-central1/networkPolicies/my-network-policy`",
          "type": "string",
          "readOnly": true
        },
        "internetAccess": {
          "description": "Network service that allows VMware workloads to access the internet.",
          "$ref": "NetworkService"
        },
        "description": {
          "description": "Optional. User-provided description for this network policy.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Last update time of this resource."
        },
        "vmwareEngineNetwork": {
          "description": "Optional. The relative resource name of the VMware Engine network. Specify the name in the following form: `projects/{project}/locations/{location}/vmwareEngineNetworks/{vmware_engine_network_id}` where `{project}` can either be a project number or a project ID.",
          "type": "string"
        }
      },
      "description": "Represents a network policy resource. Network policies are regional resources. You can use a network policy to enable or disable internet access and external IP access. Network policies are associated with a VMware Engine network, which might span across regions. For a given region, a network policy applies to all private clouds in the VMware Engine network associated with the policy.",
      "type": "object"
    },
    "ListVmwareEngineNetworksResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unreachable resources."
        },
        "vmwareEngineNetworks": {
          "items": {
            "$ref": "VmwareEngineNetwork"
          },
          "type": "array",
          "description": "A list of VMware Engine networks."
        }
      },
      "type": "object",
      "id": "ListVmwareEngineNetworksResponse",
      "description": "Response message for VmwareEngine.ListVmwareEngineNetworks"
    },
    "Status": {
      "properties": {
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        },
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "type": "object"
    },
    "UndeletePrivateCloudRequest": {
      "type": "object",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        }
      },
      "description": "Request message for VmwareEngine.UndeletePrivateCloud",
      "id": "UndeletePrivateCloudRequest"
    },
    "Policy": {
      "properties": {
        "version": {
          "format": "int32",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer"
        },
        "etag": {
          "type": "string",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "format": "byte"
        },
        "auditConfigs": {
          "type": "array",
          "description": "Specifies cloud audit logging configuration for this policy.",
          "items": {
            "$ref": "AuditConfig"
          }
        },
        "bindings": {
          "type": "array",
          "items": {
            "$ref": "Binding"
          },
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
        }
      },
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "id": "Policy",
      "type": "object"
    },
    "Hcx": {
      "type": "object",
      "properties": {
        "internalIp": {
          "description": "Internal IP address of the appliance.",
          "type": "string"
        },
        "state": {
          "description": "Output only. The state of the appliance.",
          "enumDescriptions": [
            "Unspecified appliance state. This is the default value.",
            "The appliance is operational and can be used.",
            "The appliance is being deployed."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING"
          ],
          "readOnly": true
        },
        "version": {
          "type": "string",
          "description": "Version of the appliance."
        },
        "fqdn": {
          "type": "string",
          "description": "Fully qualified domain name of the appliance."
        }
      },
      "description": "Details about a HCX Cloud Manager appliance.",
      "id": "Hcx"
    },
    "TestIamPermissionsResponse": {
      "type": "object",
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
        }
      },
      "description": "Response message for `TestIamPermissions` method.",
      "id": "TestIamPermissionsResponse"
    },
    "TestIamPermissionsRequest": {
      "type": "object",
      "properties": {
        "permissions": {
          "type": "array",
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "TestIamPermissionsRequest",
      "description": "Request message for `TestIamPermissions` method."
    },
    "Expr": {
      "id": "Expr",
      "properties": {
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        }
      },
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "type": "object"
    },
    "PrivateConnection": {
      "id": "PrivateConnection",
      "description": "Private connection resource that provides connectivity for VMware Engine private clouds.",
      "type": "object",
      "properties": {
        "peeringId": {
          "type": "string",
          "description": "Output only. VPC network peering id between given network VPC and VMwareEngineNetwork.",
          "readOnly": true
        },
        "routingMode": {
          "type": "string",
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "Global Routing Mode",
            "Regional Routing Mode"
          ],
          "description": "Optional. Routing Mode. Default value is set to GLOBAL. For type = PRIVATE_SERVICE_ACCESS, this field can be set to GLOBAL or REGIONAL, for other types only GLOBAL is supported.",
          "enum": [
            "ROUTING_MODE_UNSPECIFIED",
            "GLOBAL",
            "REGIONAL"
          ]
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. Last update time of this resource.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "uid": {
          "description": "Output only. System-generated unique identifier for the resource.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Creation time of this resource.",
          "format": "google-datetime"
        },
        "state": {
          "description": "Output only. State of the private connection.",
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "The private connection is being created.",
            "The private connection is ready.",
            "The private connection is being updated.",
            "The private connection is being deleted.",
            "The private connection is not provisioned, since no private cloud is present for which this private connection is needed.",
            "The private connection is in failed state."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "UPDATING",
            "DELETING",
            "UNPROVISIONED",
            "FAILED"
          ]
        },
        "type": {
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "Connection used for establishing [private services access](https://cloud.google.com/vpc/docs/private-services-access).",
            "Connection used for connecting to NetApp Cloud Volumes.",
            "Connection used for connecting to Dell PowerScale.",
            "Connection used for connecting to third-party services."
          ],
          "description": "Required. Private connection type.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "PRIVATE_SERVICE_ACCESS",
            "NETAPP_CLOUD_VOLUMES",
            "DELL_POWERSCALE",
            "THIRD_PARTY_SERVICE"
          ],
          "type": "string"
        },
        "vmwareEngineNetworkCanonical": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The canonical name of the VMware Engine network in the form: `projects/{project_number}/locations/{location}/vmwareEngineNetworks/{vmware_engine_network_id}`"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the private connection. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-central1/privateConnections/my-connection`"
        },
        "description": {
          "description": "Optional. User-provided description for this private connection.",
          "type": "string"
        },
        "vmwareEngineNetwork": {
          "description": "Required. The relative resource name of Legacy VMware Engine network. Specify the name in the following form: `projects/{project}/locations/{location}/vmwareEngineNetworks/{vmware_engine_network_id}` where `{project}`, `{location}` will be same as specified in private connection resource name and `{vmware_engine_network_id}` will be in the form of `{location}`-default e.g. projects/project/locations/us-central1/vmwareEngineNetworks/us-central1-default.",
          "type": "string"
        },
        "peeringState": {
          "enum": [
            "PEERING_STATE_UNSPECIFIED",
            "PEERING_ACTIVE",
            "PEERING_INACTIVE"
          ],
          "readOnly": true,
          "description": "Output only. Peering state between service network and VMware Engine network.",
          "type": "string",
          "enumDescriptions": [
            "The default value. This value is used if the peering state is omitted or unknown.",
            "The peering is in active state.",
            "The peering is in inactive state."
          ]
        },
        "serviceNetwork": {
          "description": "Required. Service network to create private connection. Specify the name in the following form: `projects/{project}/global/networks/{network_id}` For type = PRIVATE_SERVICE_ACCESS, this field represents servicenetworking VPC, e.g. projects/project-tp/global/networks/servicenetworking. For type = NETAPP_CLOUD_VOLUME, this field represents NetApp service VPC, e.g. projects/project-tp/global/networks/netapp-tenant-vpc. For type = DELL_POWERSCALE, this field represent Dell service VPC, e.g. projects/project-tp/global/networks/dell-tenant-vpc. For type= THIRD_PARTY_SERVICE, this field could represent a consumer VPC or any other producer VPC to which the VMware Engine Network needs to be connected, e.g. projects/project/global/networks/vpc.",
          "type": "string"
        }
      }
    },
    "NetworkConfig": {
      "type": "object",
      "properties": {
        "managementIpAddressLayoutVersion": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. The IP address layout version of the management IP address range. Possible versions include: * `managementIpAddressLayoutVersion=1`: Indicates the legacy IP address layout used by some existing private clouds. This is no longer supported for new private clouds as it does not support all features. * `managementIpAddressLayoutVersion=2`: Indicates the latest IP address layout used by all newly created private clouds. This version supports all current features.",
          "readOnly": true
        },
        "vmwareEngineNetworkCanonical": {
          "description": "Output only. The canonical name of the VMware Engine network in the form: `projects/{project_number}/locations/{location}/vmwareEngineNetworks/{vmware_engine_network_id}`",
          "readOnly": true,
          "type": "string"
        },
        "vmwareEngineNetwork": {
          "description": "Optional. The relative resource name of the VMware Engine network attached to the private cloud. Specify the name in the following form: `projects/{project}/locations/{location}/vmwareEngineNetworks/{vmware_engine_network_id}` where `{project}` can either be a project number or a project ID.",
          "type": "string"
        },
        "managementCidr": {
          "description": "Required. Management CIDR used by VMware management appliances.",
          "type": "string"
        }
      },
      "id": "NetworkConfig",
      "description": "Network configuration in the consumer project with which the peering has to be done."
    },
    "VpcNetwork": {
      "description": "Represents a VMware Engine VPC network that is managed by a VMware Engine network resource.",
      "id": "VpcNetwork",
      "properties": {
        "type": {
          "description": "Output only. Type of VPC network (INTRANET, INTERNET, or GOOGLE_CLOUD)",
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "VPC network that will be peered with a consumer VPC network or the intranet VPC of another VMware Engine network. Access a private cloud through Compute Engine VMs on a peered VPC network or an on-premises resource connected to a peered consumer VPC network.",
            "VPC network used for internet access to and from a private cloud.",
            "VPC network used for access to Google Cloud services like Cloud Storage."
          ],
          "readOnly": true,
          "enum": [
            "TYPE_UNSPECIFIED",
            "INTRANET",
            "INTERNET",
            "GOOGLE_CLOUD"
          ],
          "type": "string"
        },
        "network": {
          "description": "Output only. The relative resource name of the service VPC network this VMware Engine network is attached to. For example: `projects/123123/global/networks/my-network`",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListNetworkPoliciesResponse": {
      "properties": {
        "networkPolicies": {
          "description": "A list of network policies.",
          "items": {
            "$ref": "NetworkPolicy"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be send as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "unreachable": {
          "description": "Locations that could not be reached when making an aggregated query using wildcards.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Response message for VmwareEngine.ListNetworkPolicies",
      "id": "ListNetworkPoliciesResponse",
      "type": "object"
    },
    "ListPrivateConnectionsResponse": {
      "description": "Response message for VmwareEngine.ListPrivateConnections",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "privateConnections": {
          "items": {
            "$ref": "PrivateConnection"
          },
          "description": "A list of private connections.",
          "type": "array"
        },
        "unreachable": {
          "description": "Unreachable resources.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "ListPrivateConnectionsResponse",
      "type": "object"
    },
    "Operation": {
      "properties": {
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        }
      },
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation"
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "locations": {
          "type": "array",
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "type": "object",
      "id": "ListLocationsResponse"
    },
    "ListPrivateConnectionPeeringRoutesResponse": {
      "type": "object",
      "id": "ListPrivateConnectionPeeringRoutesResponse",
      "description": "Response message for VmwareEngine.ListPrivateConnectionPeeringRoutes",
      "properties": {
        "peeringRoutes": {
          "description": "A list of peering routes.",
          "type": "array",
          "items": {
            "$ref": "PeeringRoute"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "SetIamPolicyRequest": {
      "description": "Request message for `SetIamPolicy` method.",
      "type": "object",
      "id": "SetIamPolicyRequest",
      "properties": {
        "updateMask": {
          "type": "string",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "format": "google-fieldmask"
        },
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        }
      }
    },
    "AuditLogConfig": {
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "type": "object",
      "properties": {
        "exemptedMembers": {
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "logType": {
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "type": "string",
          "description": "The log type that this config enables."
        }
      },
      "id": "AuditLogConfig"
    },
    "ListHcxActivationKeysResponse": {
      "type": "object",
      "description": "Response message for VmwareEngine.ListHcxActivationKeys",
      "id": "ListHcxActivationKeysResponse",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached when making an aggregated query using wildcards.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "hcxActivationKeys": {
          "items": {
            "$ref": "HcxActivationKey"
          },
          "type": "array",
          "description": "List of HCX activation keys."
        }
      }
    },
    "AuditConfig": {
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "id": "AuditConfig",
      "properties": {
        "auditLogConfigs": {
          "description": "The configuration for logging of each type of permission.",
          "items": {
            "$ref": "AuditLogConfig"
          },
          "type": "array"
        },
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Credentials": {
      "description": "Credentials for a private cloud.",
      "id": "Credentials",
      "type": "object",
      "properties": {
        "password": {
          "type": "string",
          "description": "Initial password."
        },
        "username": {
          "description": "Initial username.",
          "type": "string"
        }
      }
    },
    "Nsx": {
      "type": "object",
      "description": "Details about a NSX Manager appliance.",
      "id": "Nsx",
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING"
          ],
          "description": "Output only. The state of the appliance.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified appliance state. This is the default value.",
            "The appliance is operational and can be used.",
            "The appliance is being deployed."
          ]
        },
        "version": {
          "description": "Version of the appliance.",
          "type": "string"
        },
        "internalIp": {
          "type": "string",
          "description": "Internal IP address of the appliance."
        },
        "fqdn": {
          "type": "string",
          "description": "Fully qualified domain name of the appliance."
        }
      }
    },
    "Vcenter": {
      "properties": {
        "version": {
          "description": "Version of the appliance.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified appliance state. This is the default value.",
            "The appliance is operational and can be used.",
            "The appliance is being deployed."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING"
          ],
          "description": "Output only. The state of the appliance."
        },
        "fqdn": {
          "description": "Fully qualified domain name of the appliance.",
          "type": "string"
        },
        "internalIp": {
          "type": "string",
          "description": "Internal IP address of the appliance."
        }
      },
      "id": "Vcenter",
      "description": "Details about a vCenter Server management appliance.",
      "type": "object"
    },
    "Subnet": {
      "properties": {
        "name": {
          "description": "Output only. The resource name of this subnet. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-central1-a/privateClouds/my-cloud/subnets/my-subnet`",
          "type": "string",
          "readOnly": true
        },
        "gatewayIp": {
          "type": "string",
          "description": "The IP address of the gateway of this subnet. Must fall within the IP prefix defined above."
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The type of the subnet. For example \"management\" or \"userDefined\"."
        },
        "ipCidrRange": {
          "type": "string",
          "description": "The IP address range of the subnet in CIDR format '10.0.0.0/24'."
        },
        "state": {
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "The subnet is ready.",
            "The subnet is being created.",
            "The subnet is being updated.",
            "The subnet is being deleted.",
            "Changes requested in the last operation are being propagated.",
            "Last operation on the subnet did not succeed. Subnet's payload is reverted back to its most recent working state."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "UPDATING",
            "DELETING",
            "RECONCILING",
            "FAILED"
          ],
          "description": "Output only. The state of the resource.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "Subnet",
      "description": "Subnet in a private cloud. Either `management` subnets (such as vMotion) that are read-only, or `userDefined`, which can also be updated.",
      "type": "object"
    },
    "VmwareEngineNetwork": {
      "type": "object",
      "id": "VmwareEngineNetwork",
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "UPDATING",
            "DELETING"
          ],
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "The VMware Engine network is being created.",
            "The VMware Engine network is ready.",
            "The VMware Engine network is being updated.",
            "The VMware Engine network is being deleted."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. State of the VMware Engine network."
        },
        "vpcNetworks": {
          "description": "Output only. VMware Engine service VPC networks that provide connectivity from a private cloud to customer projects, the internet, and other Google Cloud services.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "VpcNetwork"
          }
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "LEGACY"
          ],
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "Network type used by private clouds created in projects without a network of type `STANDARD`. This network type is no longer used for new VMware Engine private cloud deployments."
          ],
          "type": "string",
          "description": "Required. VMware Engine network type."
        },
        "uid": {
          "type": "string",
          "description": "Output only. System-generated unique identifier for the resource.",
          "readOnly": true
        },
        "etag": {
          "type": "string",
          "description": "Checksum that may be sent on update and delete requests to ensure that the user-provided value is up to date before the server processes a request. The server computes checksums based on the value of other fields in the request."
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Last update time of this resource.",
          "format": "google-datetime"
        },
        "description": {
          "description": "User-provided description for this VMware Engine network.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Creation time of this resource.",
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the VMware Engine network. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/global/vmwareEngineNetworks/my-network`"
        }
      },
      "description": "VMware Engine network resource that provides connectivity for VMware Engine private clouds."
    },
    "ListNodeTypesResponse": {
      "description": "Response message for VmwareEngine.ListNodeTypes",
      "id": "ListNodeTypesResponse",
      "type": "object",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached when making an aggregated query using wildcards.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "nodeTypes": {
          "description": "A list of Node Types.",
          "type": "array",
          "items": {
            "$ref": "NodeType"
          }
        }
      }
    },
    "ListSubnetsResponse": {
      "type": "object",
      "description": "Response message for VmwareEngine.ListSubnets",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "subnets": {
          "type": "array",
          "items": {
            "$ref": "Subnet"
          },
          "description": "A list of subnets."
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached when making an aggregated query using wildcards.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListSubnetsResponse"
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "kind": "discovery#restDescription",
  "basePath": "",
  "servicePath": "",
  "rootUrl": "https://vmwareengine.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "name": "vmwareengine",
  "revision": "20230922",
  "documentationLink": "https://cloud.google.com/solutions/vmware-as-a-service",
  "protocol": "rest",
  "ownerDomain": "google.com",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "path": "v1/{+name}/locations",
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "type": "string",
                  "location": "query"
                },
                "name": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "pattern": "^projects/[^/]+$"
                },
                "filter": {
                  "type": "string",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists information about the supported locations for this service.",
              "httpMethod": "GET",
              "flatPath": "v1/projects/{projectsId}/locations",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "id": "vmwareengine.projects.locations.list",
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "description": "Gets information about a location.",
              "id": "vmwareengine.projects.locations.get",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Resource name for the location.",
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              },
              "path": "v1/{+name}",
              "response": {
                "$ref": "Location"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          },
          "resources": {
            "privateClouds": {
              "methods": {
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of the private cloud to delete. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-central1-a/privateClouds/my-cloud`",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/privateClouds/[^/]+$",
                      "required": true,
                      "location": "path"
                    },
                    "delayHours": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. Time delay of the deletion specified in hours. The default value is `3`. Specifying a non-zero value for this field changes the value of `PrivateCloud.state` to `DELETED` and sets `expire_time` to the planned deletion time. Deletion can be cancelled before `expire_time` elapses using VmwareEngine.UndeletePrivateCloud. Specifying a value of `0` for this field instead begins the deletion process and ceases billing immediately. During the final deletion process, the value of `PrivateCloud.state` becomes `PURGING`.",
                      "location": "query"
                    },
                    "force": {
                      "description": "Optional. If set to true, cascade delete is enabled and all children of this private cloud resource are also deleted. When this flag is set to false, the private cloud will not be deleted if there are any children other than the management cluster. The management cluster is always deleted.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "requestId": {
                      "description": "Optional. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "description": "Schedules a `PrivateCloud` resource for deletion. A `PrivateCloud` resource scheduled for deletion has `PrivateCloud.state` set to `DELETED` and `expireTime` set to the time when deletion is final and can no longer be reversed. The delete operation is marked as done as soon as the `PrivateCloud` is successfully scheduled for deletion (this also applies when `delayHours` is set to zero), and the operation is not kept in pending state until `PrivateCloud` is purged. `PrivateCloud` can be restored using `UndeletePrivateCloud` method before the `expireTime` elapses. When `expireTime` is reached, deletion is final and all private cloud resources are irreversibly removed and billing stops. During the final removal process, `PrivateCloud.state` is set to `PURGING`. `PrivateCloud` can be polled using standard `GET` method for the whole period of deletion and purging. It will not be returned only when it is completely purged.",
                  "id": "vmwareengine.projects.locations.privateClouds.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/privateClouds/{privateCloudsId}",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "getIamPolicy": {
                  "response": {
                    "$ref": "Policy"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/privateClouds/{privateCloudsId}:getIamPolicy",
                  "path": "v1/{+resource}:getIamPolicy",
                  "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
                  "id": "vmwareengine.projects.locations.privateClouds.getIamPolicy",
                  "httpMethod": "GET",
                  "parameters": {
                    "options.requestedPolicyVersion": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer",
                      "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
                    },
                    "resource": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/privateClouds/[^/]+$",
                      "type": "string",
                      "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "resource"
                  ]
                },
                "undelete": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "UndeletePrivateCloudRequest"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/privateClouds/[^/]+$",
                      "description": "Required. The resource name of the private cloud scheduled for deletion. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-central1-a/privateClouds/my-cloud`"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/privateClouds/{privateCloudsId}:undelete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}:undelete",
                  "id": "vmwareengine.projects.locations.privateClouds.undelete",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Restores a private cloud that was previously scheduled for deletion by `DeletePrivateCloud`. A `PrivateCloud` resource scheduled for deletion has `PrivateCloud.state` set to `DELETED` and `PrivateCloud.expireTime` set to the time when deletion can no longer be reversed."
                },
                "create": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/privateClouds",
                  "id": "vmwareengine.projects.locations.privateClouds.create",
                  "request": {
                    "$ref": "PrivateCloud"
                  },
                  "parameters": {
                    "privateCloudId": {
                      "description": "Required. The user-provided identifier of the private cloud to be created. This identifier must be unique among each `PrivateCloud` within the parent and becomes the final token in the name URI. The identifier must meet the following requirements: * Only contains 1-63 alphanumeric characters and hyphens * Begins with an alphabetical character * Ends with a non-hyphen character * Not formatted as a UUID * Complies with [RFC 1034](https://datatracker.ietf.org/doc/html/rfc1034) (section 3.5)",
                      "location": "query",
                      "type": "string"
                    },
                    "validateOnly": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Optional. True if you want the request to be validated and not executed; false otherwise."
                    },
                    "parent": {
                      "description": "Required. The resource name of the location to create the new private cloud in. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-central1-a`",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "requestId": {
                      "description": "Optional. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+parent}/privateClouds",
                  "httpMethod": "POST",
                  "description": "Creates a new `PrivateCloud` resource in a given project and location. Private clouds of type `STANDARD` and `TIME_LIMITED` are zonal resources, `STRETCHED` private clouds are regional. Creating a private cloud also creates a [management cluster](https://cloud.google.com/vmware-engine/docs/concepts-vmware-components) for that private cloud.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "get": {
                  "response": {
                    "$ref": "PrivateCloud"
                  },
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/privateClouds/{privateCloudsId}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/privateClouds/[^/]+$",
                      "description": "Required. The resource name of the private cloud to retrieve. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-central1-a/privateClouds/my-cloud`",
                      "location": "path"
                    }
                  },
                  "description": "Retrieves a `PrivateCloud` resource by its resource name.",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "vmwareengine.projects.locations.privateClouds.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}"
                },
                "showVcenterCredentials": {
                  "parameterOrder": [
                    "privateCloud"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+privateCloud}:showVcenterCredentials",
                  "id": "vmwareengine.projects.locations.privateClouds.showVcenterCredentials",
                  "parameters": {
                    "privateCloud": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/privateClouds/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The resource name of the private cloud to be queried for credentials. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-central1-a/privateClouds/my-cloud`",
                      "required": true
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/privateClouds/{privateCloudsId}:showVcenterCredentials",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Credentials"
                  },
                  "description": "Gets details of credentials for Vcenter appliance."
                },
                "resetVcenterCredentials": {
                  "path": "v1/{+privateCloud}:resetVcenterCredentials",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/privateClouds/{privateCloudsId}:resetVcenterCredentials",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "vmwareengine.projects.locations.privateClouds.resetVcenterCredentials",
                  "description": "Resets credentials of the Vcenter appliance.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "privateCloud": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/privateClouds/[^/]+$",
                      "location": "path",
                      "description": "Required. The resource name of the private cloud to reset credentials for. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-central1-a/privateClouds/my-cloud`",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "privateCloud"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "ResetVcenterCredentialsRequest"
                  }
                },
                "setIamPolicy": {
                  "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/privateClouds/{privateCloudsId}:setIamPolicy",
                  "httpMethod": "POST",
                  "parameters": {
                    "resource": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/privateClouds/[^/]+$",
                      "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  },
                  "id": "vmwareengine.projects.locations.privateClouds.setIamPolicy",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+resource}:setIamPolicy",
                  "response": {
                    "$ref": "Policy"
                  },
                  "parameterOrder": [
                    "resource"
                  ]
                },
                "showNsxCredentials": {
                  "path": "v1/{+privateCloud}:showNsxCredentials",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/privateClouds/{privateCloudsId}:showNsxCredentials",
                  "response": {
                    "$ref": "Credentials"
                  },
                  "parameters": {
                    "privateCloud": {
                      "type": "string",
                      "description": "Required. The resource name of the private cloud to be queried for credentials. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-central1-a/privateClouds/my-cloud`",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/privateClouds/[^/]+$"
                    }
                  },
                  "description": "Gets details of credentials for NSX appliance.",
                  "id": "vmwareengine.projects.locations.privateClouds.showNsxCredentials",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "privateCloud"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "testIamPermissions": {
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  },
                  "parameters": {
                    "resource": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/privateClouds/[^/]+$",
                      "type": "string",
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
                  "path": "v1/{+resource}:testIamPermissions",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/privateClouds/{privateCloudsId}:testIamPermissions",
                  "parameterOrder": [
                    "resource"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "vmwareengine.projects.locations.privateClouds.testIamPermissions",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  }
                },
                "resetNsxCredentials": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "privateCloud": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/privateClouds/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. The resource name of the private cloud to reset credentials for. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-central1-a/privateClouds/my-cloud`",
                      "location": "path"
                    }
                  },
                  "id": "vmwareengine.projects.locations.privateClouds.resetNsxCredentials",
                  "parameterOrder": [
                    "privateCloud"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/privateClouds/{privateCloudsId}:resetNsxCredentials",
                  "description": "Resets credentials of the NSX appliance.",
                  "request": {
                    "$ref": "ResetNsxCredentialsRequest"
                  },
                  "path": "v1/{+privateCloud}:resetNsxCredentials"
                },
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "vmwareengine.projects.locations.privateClouds.patch",
                  "path": "v1/{+name}",
                  "request": {
                    "$ref": "PrivateCloud"
                  },
                  "description": "Modifies a `PrivateCloud` resource. Only the following fields can be updated: `description`. Only fields specified in `updateMask` are applied. During operation processing, the resource is temporarily in the `ACTIVE` state before the operation fully completes. For that period of time, you can't update the resource. Use the operation status to determine when the processing fully completes.",
                  "parameters": {
                    "updateMask": {
                      "description": "Required. Field mask is used to specify the fields to be overwritten in the `PrivateCloud` resource by the update. The fields specified in `updateMask` are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query"
                    },
                    "name": {
                      "type": "string",
                      "location": "path",
                      "description": "Output only. The resource name of this private cloud. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-central1-a/privateClouds/my-cloud`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/privateClouds/[^/]+$",
                      "required": true
                    },
                    "requestId": {
                      "location": "query",
                      "description": "Optional. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/privateClouds/{privateCloudsId}",
                  "httpMethod": "PATCH"
                },
                "list": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/privateClouds",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListPrivateCloudsResponse"
                  },
                  "path": "v1/{+parent}/privateClouds",
                  "id": "vmwareengine.projects.locations.privateClouds.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "orderBy": {
                      "description": "Sorts list results by a certain order. By default, returned results are ordered by `name` in ascending order. You can also sort results in descending order based on the `name` value using `orderBy=\"name desc\"`. Currently, only ordering by `name` is supported.",
                      "type": "string",
[...]
