{
  "id": "walletobjects:v1",
  "batchPath": "batch",
  "servicePath": "",
  "description": "API for issuers to save and manage Google Wallet Objects.",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/wallet_object.issuer": {
          "description": "Private Service: https://www.googleapis.com/auth/wallet_object.issuer"
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "mtlsRootUrl": "https://walletobjects.mtls.googleapis.com/",
  "protocol": "rest",
  "basePath": "",
  "rootUrl": "https://walletobjects.googleapis.com/",
  "parameters": {
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "description": "Data format for response."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format.",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "canonicalName": "Walletobjects",
  "baseUrl": "https://walletobjects.googleapis.com/",
  "kind": "discovery#restDescription",
  "name": "walletobjects",
  "schemas": {
    "BoardingAndSeatingInfo": {
      "properties": {
        "boardingPrivilegeImage": {
          "$ref": "Image",
          "description": "A small image shown above the boarding barcode. Airlines can use it to communicate any special boarding privileges. In the event the security program logo is also set, this image might be rendered alongside the logo for that security program."
        },
        "boardingGroup": {
          "type": "string",
          "description": "The value of boarding group (or zone) this passenger shall board with. eg: \"B\" The label for this value will be determined by the `boardingPolicy` field in the `flightClass` referenced by this object."
        },
        "seatNumber": {
          "type": "string",
          "description": "The value of passenger seat. If there is no specific identifier, use `seatAssignment` instead. eg: \"25A\""
        },
        "boardingPosition": {
          "type": "string",
          "description": "The value of boarding position. eg: \"76\""
        },
        "sequenceNumber": {
          "description": "The sequence number on the boarding pass. This usually matches the sequence in which the passengers checked in. Airline might use the number for manual boarding and bag tags. eg: \"49\"",
          "type": "string"
        },
        "seatAssignment": {
          "$ref": "LocalizedString",
          "description": "The passenger's seat assignment. To be used when there is no specific identifier to use in `seatNumber`. eg: \"assigned at gate\""
        },
        "seatClass": {
          "type": "string",
          "description": "The value of the seat class. eg: \"Economy\" or \"Economy Plus\""
        },
        "boardingDoor": {
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true
          ],
          "type": "string",
          "enum": [
            "BOARDING_DOOR_UNSPECIFIED",
            "FRONT",
            "front",
            "BACK",
            "back"
          ],
          "enumDescriptions": [
            "",
            "",
            "Legacy alias for `FRONT`. Deprecated.",
            "",
            "Legacy alias for `BACK`. Deprecated."
          ],
          "description": "Set this field only if this flight boards through more than one door or bridge and you want to explicitly print the door location on the boarding pass. Most airlines route their passengers to the right door or bridge by refering to doors/bridges by the `seatClass`. In those cases `boardingDoor` should not be set."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#boardingAndSeatingInfo\"`.",
          "type": "string",
          "deprecated": true
        }
      },
      "id": "BoardingAndSeatingInfo",
      "type": "object"
    },
    "LocalizedString": {
      "type": "object",
      "properties": {
        "translatedValues": {
          "type": "array",
          "description": "Contains the translations for the string.",
          "items": {
            "$ref": "TranslatedString"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#localizedString\"`.",
          "type": "string",
          "deprecated": true
        },
        "defaultValue": {
          "description": "Contains the string to be displayed if no appropriate translation is available.",
          "$ref": "TranslatedString"
        }
      },
      "id": "LocalizedString"
    },
    "GenericObjectListResponse": {
      "id": "GenericObjectListResponse",
      "type": "object",
      "properties": {
        "resources": {
          "description": "Resources corresponding to the list request.",
          "type": "array",
          "items": {
            "$ref": "GenericObject"
          }
        },
        "pagination": {
          "$ref": "Pagination",
          "description": "Pagination of the response."
        }
      },
      "description": "List response which contains the list of all generic objects for a given issuer ID."
    },
    "TicketLeg": {
      "type": "object",
      "id": "TicketLeg",
      "properties": {
        "destinationStationCode": {
          "type": "string",
          "description": "The destination station code."
        },
        "destinationName": {
          "description": "The destination name.",
          "$ref": "LocalizedString"
        },
        "departureDateTime": {
          "description": "The date/time of departure. This is required if there is no validity time interval set on the transit object. This is an ISO 8601 extended format date/time, with or without an offset. Time may be specified up to nanosecond precision. Offsets may be specified with seconds precision (even though offset seconds is not part of ISO 8601). For example: `1985-04-12T23:20:50.52Z` would be 20 minutes and 50.52 seconds after the 23rd hour of April 12th, 1985 in UTC. `1985-04-12T19:20:50.52-04:00` would be 20 minutes and 50.52 seconds after the 19th hour of April 12th, 1985, 4 hours before UTC (same instant in time as the above example). If the event were in New York, this would be the equivalent of Eastern Daylight Time (EDT). Remember that offset varies in regions that observe Daylight Saving Time (or Summer Time), depending on the time of the year. `1985-04-12T19:20:50.52` would be 20 minutes and 50.52 seconds after the 19th hour of April 12th, 1985 with no offset information. The portion of the date/time without the offset is considered the \"local date/time\". This should be the local date/time at the origin station. For example, if the departure occurs at the 20th hour of June 5th, 2018 at the origin station, the local date/time portion should be `2018-06-05T20:00:00`. If the local date/time at the origin station is 4 hours before UTC, an offset of `-04:00` may be appended. Without offset information, some rich features may not be available.",
          "type": "string"
        },
        "transitTerminusName": {
          "$ref": "LocalizedString",
          "description": "Terminus station or destination of the train/bus/etc."
        },
        "originStationCode": {
          "description": "The origin station code. This is required if `destinationStationCode` is present or if `originName` is not present.",
          "type": "string"
        },
        "transitOperatorName": {
          "$ref": "LocalizedString",
          "description": "The name of the transit operator that is operating this leg of a trip."
        },
        "carriage": {
          "type": "string",
          "description": "The train or ship name/number that the passsenger needs to board."
        },
        "ticketSeats": {
          "type": "array",
          "description": "The reserved seat for the passenger(s). If only one seat is to be specified then use the `ticketSeat` field instead. Both `ticketSeat` and `ticketSeats` may not be set.",
          "items": {
            "$ref": "TicketSeat"
          }
        },
        "fareName": {
          "$ref": "LocalizedString",
          "description": "Short description/name of the fare for this leg of travel. Eg \"Anytime Single Use\"."
        },
        "zone": {
          "description": "The zone of boarding within the platform.",
          "type": "string"
        },
        "ticketSeat": {
          "description": "The reserved seat for the passenger(s). If more than one seat is to be specified then use the `ticketSeats` field instead. Both `ticketSeat` and `ticketSeats` may not be set.",
          "$ref": "TicketSeat"
        },
        "originName": {
          "$ref": "LocalizedString",
          "description": "The name of the origin station. This is required if `desinationName` is present or if `originStationCode` is not present."
        },
        "platform": {
          "description": "The platform or gate where the passenger can board the carriage.",
          "type": "string"
        },
        "arrivalDateTime": {
          "type": "string",
          "description": "The date/time of arrival. This is an ISO 8601 extended format date/time, with or without an offset. Time may be specified up to nanosecond precision. Offsets may be specified with seconds precision (even though offset seconds is not part of ISO 8601). For example: `1985-04-12T23:20:50.52Z` would be 20 minutes and 50.52 seconds after the 23rd hour of April 12th, 1985 in UTC. `1985-04-12T19:20:50.52-04:00` would be 20 minutes and 50.52 seconds after the 19th hour of April 12th, 1985, 4 hours before UTC (same instant in time as the above example). If the event were in New York, this would be the equivalent of Eastern Daylight Time (EDT). Remember that offset varies in regions that observe Daylight Saving Time (or Summer Time), depending on the time of the year. `1985-04-12T19:20:50.52` would be 20 minutes and 50.52 seconds after the 19th hour of April 12th, 1985 with no offset information. The portion of the date/time without the offset is considered the \"local date/time\". This should be the local date/time at the destination station. For example, if the event occurs at the 20th hour of June 5th, 2018 at the destination station, the local date/time portion should be `2018-06-05T20:00:00`. If the local date/time at the destination station is 4 hours before UTC, an offset of `-04:00` may be appended. Without offset information, some rich features may not be available."
        }
      }
    },
    "UpcomingNotification": {
      "id": "UpcomingNotification",
      "type": "object",
      "properties": {
        "enableNotification": {
          "type": "boolean",
          "description": "Indicates if the object needs to have upcoming notification enabled."
        }
      },
      "description": "Indicates that the issuer would like Google Wallet to send an upcoming card validity notification 1 day before card becomes valid/usable."
    },
    "RotatingBarcode": {
      "properties": {
        "alternateText": {
          "description": "An optional text that will override the default text that shows under the barcode. This field is intended for a human readable equivalent of the barcode value, used when the barcode cannot be scanned.",
          "type": "string"
        },
        "totpDetails": {
          "$ref": "RotatingBarcodeTotpDetails",
          "description": "Details used to evaluate the {totp_value_n} substitutions."
        },
        "renderEncoding": {
          "type": "string",
          "enum": [
            "RENDER_ENCODING_UNSPECIFIED",
            "UTF_8"
          ],
          "description": "The render encoding for the barcode. When specified, barcode is rendered in the given encoding. Otherwise best known encoding is chosen by Google.",
          "enumDescriptions": [
            "",
            "UTF_8 encoding for barcodes. This is only supported for barcode type qrCode."
          ]
        },
        "showCodeText": {
          "description": "Optional text that will be shown when the barcode is hidden behind a click action. This happens in cases where a pass has Smart Tap enabled. If not specified, a default is chosen by Google.",
          "$ref": "LocalizedString"
        },
        "valuePattern": {
          "description": "String encoded barcode value. This string supports the following substitutions: * {totp_value_n}: Replaced with the TOTP value (see TotpDetails.parameters). * {totp_timestamp_millis}: Replaced with the timestamp (millis since epoch) at which the barcode was generated. * {totp_timestamp_seconds}: Replaced with the timestamp (seconds since epoch) at which the barcode was generated.",
          "type": "string"
        },
        "initialRotatingBarcodeValues": {
          "description": "Input only. NOTE: This feature is only available for the transit vertical. Optional set of initial rotating barcode values. This allows a small subset of barcodes to be included with the object. Further rotating barcode values must be uploaded with the UploadRotatingBarcodeValues endpoint.",
          "$ref": "RotatingBarcodeValues"
        },
        "type": {
          "enum": [
            "BARCODE_TYPE_UNSPECIFIED",
            "AZTEC",
            "aztec",
            "CODE_39",
            "code39",
            "CODE_128",
            "code128",
            "CODABAR",
            "codabar",
            "DATA_MATRIX",
            "dataMatrix",
            "EAN_8",
            "ean8",
            "EAN_13",
            "ean13",
            "EAN13",
            "ITF_14",
            "itf14",
            "PDF_417",
            "pdf417",
            "PDF417",
            "QR_CODE",
            "qrCode",
            "qrcode",
            "UPC_A",
            "upcA",
            "TEXT_ONLY",
            "textOnly"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "Not supported for Rotating Barcodes.",
            "Legacy alias for `AZTEC`. Deprecated. Not supported for Rotating Barcodes.",
            "Not supported for Rotating Barcodes.",
            "Legacy alias for `CODE_39`. Deprecated. Not supported for Rotating Barcodes.",
            "Not supported for Rotating Barcodes.",
            "Legacy alias for `CODE_128`. Deprecated. Not supported for Rotating Barcodes.",
            "Not supported for Rotating Barcodes.",
            "Legacy alias for `CODABAR`. Deprecated. Not supported for Rotating Barcodes.",
            "A 2D matrix barcode consisting of black and white. Cells or modules are arranged in either a square or rectangle. Not supported for Rotating Barcodes.",
            "Legacy alias for `DATA_MATRIX`. Deprecated. Not supported for Rotating Barcodes.",
            "Not supported for Rotating Barcodes.",
            "Legacy alias for `EAN_8`. Deprecated. Not supported for Rotating Barcodes.",
            "Not supported for Rotating Barcodes.",
            "Legacy alias for `EAN_13`. Deprecated. Not supported for Rotating Barcodes.",
            "Legacy alias for `EAN_13`. Deprecated. Not supported for Rotating Barcodes.",
            "14 digit ITF code Not supported for Rotating Barcodes.",
            "Legacy alias for `ITF_14`. Deprecated. Not supported for Rotating Barcodes.",
            "Supported for Rotating Barcodes.",
            "Legacy alias for `PDF_417`. Deprecated.",
            "Legacy alias for `PDF_417`. Deprecated.",
            "Supported for Rotating Barcodes.",
            "Legacy alias for `QR_CODE`. Deprecated.",
            "Legacy alias for `QR_CODE`. Deprecated.",
            "11 or 12 digit codes Not supported for Rotating Barcodes.",
            "Legacy alias for `UPC_A`. Deprecated. Not supported for Rotating Barcodes.",
            "Renders the field as a text field. The `alternateText` field may not be used with a barcode of type `textOnly`. Not supported for Rotating Barcodes.",
            "Legacy alias for `TEXT_ONLY`. Deprecated. Not supported for Rotating Barcodes."
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            true,
            true,
            false,
            true,
            false,
            true,
            true,
            false,
            true,
            true,
            false,
            true,
            false,
            true
          ],
          "description": "The type of this barcode."
        }
      },
      "type": "object",
      "id": "RotatingBarcode"
    },
    "ReservationInfo": {
      "id": "ReservationInfo",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#reservationInfo\"`.",
          "deprecated": true,
          "type": "string"
        },
        "frequentFlyerInfo": {
          "description": "Frequent flyer membership information.",
          "$ref": "FrequentFlyerInfo"
        },
        "eticketNumber": {
          "description": "E-ticket number.",
          "type": "string"
        },
        "confirmationCode": {
          "type": "string",
          "description": "Confirmation code needed to check into this flight. This is the number that the passenger would enter into a kiosk at the airport to look up the flight and print a boarding pass."
        }
      },
      "type": "object"
    },
    "TranslatedString": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "description": "The UTF-8 encoded translated string."
        },
        "language": {
          "type": "string",
          "description": "Represents the BCP 47 language tag. Example values are \"en-US\", \"en-GB\", \"de\", or \"de-AT\"."
        },
        "kind": {
          "deprecated": true,
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#translatedString\"`.",
          "type": "string"
        }
      },
      "id": "TranslatedString"
    },
    "GenericClassAddMessageResponse": {
      "description": "Response to adding a new issuer message to the class. This contains the entire updated GenericClass.",
      "type": "object",
      "properties": {
        "resource": {
          "$ref": "GenericClass",
          "description": "The updated EventTicketClass resource."
        }
      },
      "id": "GenericClassAddMessageResponse"
    },
    "TransitObjectUploadRotatingBarcodeValuesRequest": {
      "description": "Request to upload rotating barcode values.",
      "properties": {
        "blob": {
          "$ref": "Media",
          "description": "A reference to the rotating barcode values payload that was uploaded."
        },
        "mediaRequestInfo": {
          "description": "Extra information about the uploaded media.",
          "$ref": "MediaRequestInfo"
        }
      },
      "type": "object",
      "id": "TransitObjectUploadRotatingBarcodeValuesRequest"
    },
    "CardTemplateOverride": {
      "id": "CardTemplateOverride",
      "properties": {
        "cardRowTemplateInfos": {
          "description": "Template information for rows in the card view. At most three rows are allowed to be specified.",
          "type": "array",
          "items": {
            "$ref": "CardRowTemplateInfo"
          }
        }
      },
      "type": "object"
    },
    "RotatingBarcodeTotpDetails": {
      "description": "Configuration for the time-based OTP substitutions. See https://tools.ietf.org/html/rfc6238",
      "type": "object",
      "id": "RotatingBarcodeTotpDetails",
      "properties": {
        "periodMillis": {
          "format": "int64",
          "description": "The time interval used for the TOTP value generation, in milliseconds.",
          "type": "string"
        },
        "algorithm": {
          "enum": [
            "TOTP_ALGORITHM_UNSPECIFIED",
            "TOTP_SHA1"
          ],
          "enumDescriptions": [
            "",
            "TOTP algorithm from RFC 6238 with the SHA1 hash function"
          ],
          "description": "The TOTP algorithm used to generate the OTP.",
          "type": "string"
        },
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "RotatingBarcodeTotpDetailsTotpParameters"
          },
          "description": "The TOTP parameters for each of the {totp_value_*} substitutions. The TotpParameters at index n is used for the {totp_value_n} substitution."
        }
      }
    },
    "AppLinkDataAppLinkInfoAppTarget": {
      "type": "object",
      "properties": {
        "packageName": {
          "type": "string",
          "description": "Package name for AppTarget. For example: com.google.android.gm"
        },
        "targetUri": {
          "$ref": "Uri",
          "description": "URI for AppTarget. The description on the URI must be set. Prefer setting package field instead, if this target is defined for your application."
        }
      },
      "id": "AppLinkDataAppLinkInfoAppTarget"
    },
    "FirstRowOption": {
      "properties": {
        "transitOption": {
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true,
            false,
            true
          ],
          "enumDescriptions": [
            "",
            "",
            "Legacy alias for `ORIGIN_AND_DESTINATION_NAMES`. Deprecated.",
            "",
            "Legacy alias for `ORIGIN_AND_DESTINATION_CODES`. Deprecated.",
            "",
            "Legacy alias for `ORIGIN_NAME`. Deprecated."
          ],
          "enum": [
            "TRANSIT_OPTION_UNSPECIFIED",
            "ORIGIN_AND_DESTINATION_NAMES",
            "originAndDestinationNames",
            "ORIGIN_AND_DESTINATION_CODES",
            "originAndDestinationCodes",
            "ORIGIN_NAME",
            "originName"
          ]
        },
        "fieldOption": {
          "description": "A reference to the field to be displayed in the first row.",
          "$ref": "FieldSelector"
        }
      },
      "type": "object",
      "id": "FirstRowOption"
    },
    "EventTicketClassAddMessageResponse": {
      "id": "EventTicketClassAddMessageResponse",
      "properties": {
        "resource": {
          "description": "The updated EventTicketClass resource.",
          "$ref": "EventTicketClass"
        }
      },
      "type": "object"
    },
    "Issuer": {
      "properties": {
        "callbackOptions": {
          "$ref": "CallbackOptions",
          "description": "Allows the issuer to provide their callback settings."
        },
        "contactInfo": {
          "$ref": "IssuerContactInfo",
          "description": "Issuer contact information."
        },
        "name": {
          "description": "The account name of the issuer.",
          "type": "string"
        },
        "issuerId": {
          "type": "string",
          "description": "The unique identifier for an issuer account. This is automatically generated when the issuer is inserted.",
          "format": "int64"
        },
        "homepageUrl": {
          "description": "URL for the issuer's home page.",
          "type": "string"
        },
        "smartTapMerchantData": {
          "$ref": "SmartTapMerchantData",
          "description": "Available only to Smart Tap enabled partners. Contact support for additional guidance."
        }
      },
      "id": "Issuer",
      "type": "object"
    },
    "LoyaltyPointsBalance": {
      "properties": {
        "money": {
          "description": "The money form of a balance. Only one of these subtypes (string, int, double, money) should be populated.",
          "$ref": "Money"
        },
        "double": {
          "format": "double",
          "description": "The double form of a balance. Only one of these subtypes (string, int, double, money) should be populated.",
          "type": "number"
        },
        "string": {
          "type": "string",
          "description": "The string form of a balance. Only one of these subtypes (string, int, double, money) should be populated."
        },
        "int": {
          "description": "The integer form of a balance. Only one of these subtypes (string, int, double, money) should be populated.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "LoyaltyPointsBalance"
    },
    "BoardingAndSeatingPolicy": {
      "id": "BoardingAndSeatingPolicy",
      "properties": {
        "kind": {
          "deprecated": true,
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#boardingAndSeatingPolicy\"`.",
          "type": "string"
        },
        "seatClassPolicy": {
          "description": "Seating policy which dictates how we display the seat class. If unset, Google will default to `cabinBased`.",
          "enum": [
            "SEAT_CLASS_POLICY_UNSPECIFIED",
            "CABIN_BASED",
            "cabinBased",
            "CLASS_BASED",
            "classBased",
            "TIER_BASED",
            "tierBased",
            "SEAT_CLASS_POLICY_OTHER",
            "seatClassPolicyOther"
          ],
          "enumDescriptions": [
            "",
            "",
            "Legacy alias for `CABIN_BASED`. Deprecated.",
            "",
            "Legacy alias for `CLASS_BASED`. Deprecated.",
            "",
            "Legacy alias for `TIER_BASED`. Deprecated.",
            "",
            "Legacy alias for `SEAT_CLASS_POLICY_OTHER`. Deprecated."
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            true
          ],
          "type": "string"
        },
        "boardingPolicy": {
          "type": "string",
          "description": "Indicates the policy the airline uses for boarding. If unset, Google will default to `zoneBased`.",
          "enum": [
            "BOARDING_POLICY_UNSPECIFIED",
            "ZONE_BASED",
            "zoneBased",
            "GROUP_BASED",
            "groupBased",
            "BOARDING_POLICY_OTHER",
            "boardingPolicyOther"
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true,
            false,
            true
          ],
          "enumDescriptions": [
            "",
            "",
            "Legacy alias for `ZONE_BASED`. Deprecated.",
            "",
            "Legacy alias for `GROUP_BASED`. Deprecated.",
            "",
            "Legacy alias for `BOARDING_POLICY_OTHER`. Deprecated."
          ]
        }
      },
      "type": "object"
    },
    "ListTemplateOverride": {
      "type": "object",
      "properties": {
        "secondRowOption": {
          "description": "A reference to the field to be displayed in the second row. This option is only displayed if there are not multiple user objects in a group. If there is a group, the second row will always display a field shared by all objects. To set this override, please set secondRowOption to the FieldSelector of you choice.",
          "$ref": "FieldSelector"
        },
        "thirdRowOption": {
          "deprecated": true,
          "$ref": "FieldSelector",
          "description": "An unused/deprecated field. Setting it will have no effect on what the user sees."
        },
        "firstRowOption": {
          "description": "Specifies from a predefined set of options or from a reference to the field what will be displayed in the first row. To set this override, set the FirstRowOption.fieldOption to the FieldSelector of your choice.",
          "$ref": "FirstRowOption"
        }
      },
      "id": "ListTemplateOverride"
    },
    "TransitObjectAddMessageResponse": {
      "type": "object",
      "id": "TransitObjectAddMessageResponse",
      "properties": {
        "resource": {
          "$ref": "TransitObject",
          "description": "The updated TransitObject resource."
        }
      }
    },
    "BarcodeSectionDetail": {
      "id": "BarcodeSectionDetail",
      "properties": {
        "fieldSelector": {
          "$ref": "FieldSelector",
          "description": "A reference to an existing text-based or image field to display."
        }
      },
      "type": "object"
    },
    "SmartTapMerchantData": {
      "type": "object",
      "properties": {
        "authenticationKeys": {
          "items": {
            "$ref": "AuthenticationKey"
          },
          "description": "Available only to Smart Tap enabled partners. Contact support for additional guidance.",
          "type": "array"
        },
        "smartTapMerchantId": {
          "format": "int64",
          "type": "string",
          "description": "Available only to Smart Tap enabled partners. Contact support for additional guidance."
        }
      },
      "id": "SmartTapMerchantData"
    },
    "PassConstraints": {
      "description": "Container for any constraints that may be placed on passes.",
      "type": "object",
      "id": "PassConstraints",
      "properties": {
        "nfcConstraint": {
          "type": "array",
          "description": "The NFC constraints for the pass.",
          "items": {
            "enumDescriptions": [
              "Default value, no specified constraint.",
              "Payment cards will not be conveyed while the pass is open.",
              "Closed loop transit cards will not be conveyed while the pass is open."
            ],
            "enum": [
              "NFC_CONSTRAINT_UNSPECIFIED",
              "BLOCK_PAYMENT",
              "BLOCK_CLOSED_LOOP_TRANSIT"
            ],
            "type": "string"
          }
        },
        "screenshotEligibility": {
          "type": "string",
          "enum": [
            "SCREENSHOT_ELIGIBILITY_UNSPECIFIED",
            "ELIGIBLE",
            "INELIGIBLE"
          ],
          "enumDescriptions": [
            "Default value, same as ELIGIBLE.",
            "Default behavior for all existing Passes if ScreenshotEligibility is not set. Allows screenshots to be taken on Android devices.",
            "Disallows screenshots to be taken on Android devices. Note that older versions of Wallet may still allow screenshots to be taken."
          ],
          "description": "The screenshot eligibility for the pass."
        }
      }
    },
    "LoyaltyClassListResponse": {
      "id": "LoyaltyClassListResponse",
      "properties": {
        "resources": {
          "description": "Resources corresponding to the list request.",
          "type": "array",
          "items": {
            "$ref": "LoyaltyClass"
          }
        },
        "pagination": {
          "$ref": "Pagination",
          "description": "Pagination of the response."
        }
      },
      "type": "object"
    },
    "EventTicketObject": {
      "type": "object",
      "properties": {
        "hasLinkedDevice": {
          "type": "boolean",
          "description": "Whether this object is currently linked to a single device. This field is set by the platform when a user saves the object, linking it to their device. Intended for use by select partners. Contact support for additional information."
        },
        "appLinkData": {
          "$ref": "AppLinkData",
          "description": "Optional information about the partner app link."
        },
        "textModulesData": {
          "items": {
            "$ref": "TextModuleData"
          },
          "description": "Text module data. If text module data is also defined on the class, both will be displayed. The maximum number of these fields displayed is 10 from the object and 10 from the class.",
          "type": "array"
        },
        "disableExpirationNotification": {
          "type": "boolean",
          "description": "Indicates if notifications should explicitly be suppressed. If this field is set to true, regardless of the `messages` field, expiration notifications to the user will be suppressed. By default, this field is set to false. Currently, this can only be set for offers."
        },
        "imageModulesData": {
          "description": "Image module data. The maximum number of these fields displayed is 1 from object level and 1 for class object level.",
          "items": {
            "$ref": "ImageModuleData"
          },
          "type": "array"
        },
        "state": {
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            true
          ],
          "enumDescriptions": [
            "",
            "Object is active and displayed to with other active objects.",
            "Legacy alias for `ACTIVE`. Deprecated.",
            "",
            "Legacy alias for `COMPLETED`. Deprecated.",
            "Object is no longer valid (`validTimeInterval` passed).",
            "Legacy alias for `EXPIRED`. Deprecated.",
            "",
            "Legacy alias for `INACTIVE`. Deprecated."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "active",
            "COMPLETED",
            "completed",
            "EXPIRED",
            "expired",
            "INACTIVE",
            "inactive"
          ],
          "description": "Required. The state of the object. This field is used to determine how an object is displayed in the app. For example, an `inactive` object is moved to the \"Expired passes\" section."
        },
        "ticketHolderName": {
          "type": "string",
          "description": "Name of the ticket holder, if the ticket is assigned to a person. E.g. \"John Doe\" or \"Jane Doe\"."
        },
        "linksModuleData": {
          "$ref": "LinksModuleData",
          "description": "Links module data. If links module data is also defined on the class, both will be displayed."
        },
        "infoModuleData": {
          "description": "Deprecated. Use textModulesData instead.",
          "$ref": "InfoModuleData"
        },
        "hexBackgroundColor": {
          "type": "string",
          "description": "The background color for the card. If not set the dominant color of the hero image is used, and if no hero image is set, the dominant color of the logo is used. The format is #rrggbb where rrggbb is a hex RGB triplet, such as `#ffcc00`. You can also use the shorthand version of the RGB triplet which is #rgb, such as `#fc0`."
        },
        "classReference": {
          "$ref": "EventTicketClass",
          "description": "A copy of the inherited fields of the parent class. These fields are retrieved during a GET."
        },
        "heroImage": {
          "description": "Optional banner image displayed on the front of the card. If none is present, hero image of the class, if present, will be displayed. If hero image of the class is also not present, nothing will be displayed.",
          "$ref": "Image"
        },
        "groupingInfo": {
          "description": "Information that controls how passes are grouped together.",
          "$ref": "GroupingInfo"
        },
        "reservationInfo": {
          "$ref": "EventReservationInfo",
          "description": "Reservation details for this ticket. This is expected to be shared amongst all tickets that were purchased in the same order."
        },
        "smartTapRedemptionValue": {
          "type": "string",
          "description": "The value that will be transmitted to a Smart Tap certified terminal over NFC for this object. The class level fields `enableSmartTap` and `redemptionIssuers` must also be set up correctly in order for the pass to support Smart Tap. Only ASCII characters are supported."
        },
        "version": {
          "description": "Deprecated",
          "type": "string",
          "format": "int64",
          "deprecated": true
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "Message"
          },
          "description": "An array of messages displayed in the app. All users of this object will receive its associated messages. The maximum number of these fields is 10."
        },
        "validTimeInterval": {
          "description": "The time period this object will be `active` and object can be used. An object's state will be changed to `expired` when this time period has passed.",
          "$ref": "TimeInterval"
        },
        "linkedOfferIds": {
          "description": "A list of offer objects linked to this event ticket. The offer objects must already exist. Offer object IDs should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "passConstraints": {
          "$ref": "PassConstraints",
          "description": "Pass constraints for the object. Includes limiting NFC and screenshot behaviors."
        },
        "seatInfo": {
          "description": "Seating details for this ticket.",
          "$ref": "EventSeat"
        },
        "ticketNumber": {
          "type": "string",
          "description": "The number of the ticket. This can be a unique identifier across all tickets in an issuer's system, all tickets for the event (e.g. XYZ1234512345), or all tickets in the order (1, 2, 3, etc.)."
        },
        "hasUsers": {
          "description": "Indicates if the object has users. This field is set by the platform.",
          "type": "boolean"
        },
        "locations": {
          "type": "array",
          "description": "Note: This field is currently not supported to trigger geo notifications.",
          "items": {
            "$ref": "LatLongPoint"
          }
        },
        "classId": {
          "type": "string",
          "description": "Required. The class associated with this object. The class must be of the same type as this object, must already exist, and must be approved. Class IDs should follow the format issuer ID.identifier where the former is issued by Google and latter is chosen by you."
        },
        "rotatingBarcode": {
          "$ref": "RotatingBarcode",
          "description": "The rotating barcode type and value."
        },
        "id": {
          "type": "string",
          "description": "Required. The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID.identifier where the former is issued by Google and latter is chosen by you. The unique identifier should only include alphanumeric characters, '.', '_', or '-'."
        },
        "barcode": {
          "$ref": "Barcode",
          "description": "The barcode type and value."
        },
        "faceValue": {
          "$ref": "Money",
          "description": "The face value of the ticket, matching what would be printed on a physical version of the ticket."
        },
        "kind": {
          "type": "string",
          "deprecated": true,
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#eventTicketObject\"`."
        },
        "ticketType": {
          "$ref": "LocalizedString",
          "description": "The type of the ticket, such as \"Adult\" or \"Child\", or \"VIP\" or \"Standard\"."
        }
      },
      "id": "EventTicketObject"
    },
    "DiffVersionResponse": {
      "properties": {
        "objectSizeBytes": {
          "format": "int64",
          "type": "string",
          "description": "The total size of the server object."
        },
        "objectVersion": {
          "description": "The version of the object stored at the server.",
          "type": "string"
        }
      },
      "id": "DiffVersionResponse",
      "type": "object",
      "description": "Backend response for a Diff get version response. For details on the Scotty Diff protocol, visit http://go/scotty-diff-protocol."
    },
    "Permission": {
      "id": "Permission",
      "type": "object",
      "properties": {
        "emailAddress": {
          "type": "string",
          "description": "The email address of the user, group, or service account to which this permission refers to."
        },
        "role": {
          "enumDescriptions": [
            "",
            "",
            "Legacy alias for `OWNER`. Deprecated.",
            "",
            "Legacy alias for `READER`. Deprecated.",
            "",
            "Legacy alias for `WRITER`. Deprecated."
          ],
          "description": "The role granted by this permission.",
          "type": "string",
          "enum": [
            "ROLE_UNSPECIFIED",
            "OWNER",
            "owner",
            "READER",
            "reader",
            "WRITER",
            "writer"
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true,
            false,
            true
          ]
        }
      }
    },
    "EventVenue": {
      "id": "EventVenue",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#eventVenue\"`.",
          "deprecated": true,
          "type": "string"
        },
        "address": {
          "$ref": "LocalizedString",
          "description": "The address of the venue, such as \"24 Willie Mays Plaza\\nSan Francisco, CA 94107\". Address lines are separated by line feed (`\\n`) characters. This is required."
        },
        "name": {
          "description": "The name of the venue, such as \"AT&T Park\". This is required.",
          "$ref": "LocalizedString"
        }
      }
    },
    "FlightCarrier": {
      "type": "object",
      "id": "FlightCarrier",
      "properties": {
        "kind": {
          "type": "string",
          "deprecated": true,
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#flightCarrier\"`."
        },
        "carrierIataCode": {
          "description": "Two character IATA airline code of the marketing carrier (as opposed to operating carrier). Exactly one of this or `carrierIcaoCode` needs to be provided for `carrier` and `operatingCarrier`. eg: \"LX\" for Swiss Air",
          "type": "string"
        },
        "wideAirlineLogo": {
          "description": "The wide logo of the airline. When provided, this will be used in place of the airline logo in the top left of the card view.",
          "$ref": "Image"
        },
        "airlineAllianceLogo": {
          "$ref": "Image",
          "description": "A logo for the airline alliance, displayed below the QR code that the passenger scans to board."
        },
        "carrierIcaoCode": {
          "type": "string",
          "description": "Three character ICAO airline code of the marketing carrier (as opposed to operating carrier). Exactly one of this or `carrierIataCode` needs to be provided for `carrier` and `operatingCarrier`. eg: \"EZY\" for Easy Jet"
        },
        "airlineLogo": {
          "$ref": "Image",
          "description": "A logo for the airline described by carrierIataCode and localizedAirlineName. This logo will be rendered at the top of the detailed card view."
        },
        "airlineName": {
          "description": "A localized name of the airline specified by carrierIataCode. If unset, `issuer_name` or `localized_issuer_name` from `FlightClass` will be used for display purposes. eg: \"Swiss Air\" for \"LX\"",
          "$ref": "LocalizedString"
        }
      }
    },
    "TransitClass": {
      "id": "TransitClass",
      "type": "object",
      "properties": {
        "transitType": {
          "description": "Required. The type of transit this class represents, such as \"bus\".",
          "enumDescriptions": [
            "",
            "",
            "Legacy alias for `BUS`. Deprecated.",
            "",
            "Legacy alias for `RAIL`. Deprecated.",
            "",
            "Legacy alias for `TRAM`. Deprecated.",
            "",
            "Legacy alias for `FERRY`. Deprecated.",
            "",
            "Legacy alias for `OTHER`. Deprecated."
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            true
          ],
          "enum": [
            "TRANSIT_TYPE_UNSPECIFIED",
            "BUS",
            "bus",
            "RAIL",
            "rail",
            "TRAM",
            "tram",
            "FERRY",
            "ferry",
            "OTHER",
            "other"
          ],
          "type": "string"
        },
        "customOtherRestrictionsLabel": {
          "description": "A custom label to use for the other restrictions value (`transitObject.ticketRestrictions.otherRestrictions`).",
          "$ref": "LocalizedString"
        },
        "textModulesData": {
          "items": {
            "$ref": "TextModuleData"
          },
          "description": "Text module data. If text module data is also defined on the class, both will be displayed. The maximum number of these fields displayed is 10 from the object and 10 from the class.",
          "type": "array"
        },
        "customDiscountMessageLabel": {
          "$ref": "LocalizedString",
          "description": "A custom label to use for the transit discount message value (`transitObject.purchaseDetails.ticketCost.discountMessage`)."
        },
        "customCoachLabel": {
          "$ref": "LocalizedString",
          "description": "A custom label to use for the coach value (`transitObject.ticketLeg.ticketSeat.coach`)."
        },
        "hexBackgroundColor": {
          "description": "The background color for the card. If not set the dominant color of the hero image is used, and if no hero image is set, the dominant color of the logo is used. The format is #rrggbb where rrggbb is a hex RGB triplet, such as `#ffcc00`. You can also use the shorthand version of the RGB triplet which is #rgb, such as `#fc0`.",
          "type": "string"
        },
        "countryCode": {
          "description": "Country code used to display the card's country (when the user is not in that country), as well as to display localized content when content is not available in the user's locale.",
          "type": "string"
        },
        "customPlatformLabel": {
          "description": "A custom label to use for the boarding platform value (`transitObject.ticketLeg.platform`).",
          "$ref": "LocalizedString"
        },
        "customPurchaseReceiptNumberLabel": {
          "description": "A custom label to use for the purchase receipt number value (`transitObject.purchaseDetails.purchaseReceiptNumber`).",
          "$ref": "LocalizedString"
        },
        "messages": {
          "type": "array",
          "description": "An array of messages displayed in the app. All users of this object will receive its associated messages. The maximum number of these fields is 10.",
          "items": {
            "$ref": "Message"
          }
        },
        "customSeatLabel": {
          "description": "A custom label to use for the seat location value (`transitObject.ticketLeg.ticketSeat.seat`).",
          "$ref": "LocalizedString"
        },
        "infoModuleData": {
          "deprecated": true,
          "$ref": "InfoModuleData",
          "description": "Deprecated. Use textModulesData instead."
        },
        "heroImage": {
          "$ref": "Image",
          "description": "Optional banner image displayed on the front of the card. If none is present, nothing will be displayed. The image will display at 100% width."
        },
        "securityAnimation": {
          "description": "Optional information about the security animation. If this is set a security animation will be rendered on pass details.",
          "$ref": "SecurityAnimation"
        },
        "wideLogo": {
          "$ref": "Image",
          "description": "The wide logo of the ticket. When provided, this will be used in place of the logo in the top left of the card view."
        },
        "reviewStatus": {
          "enumDescriptions": [
            "",
            "",
            "Legacy alias for `UNDER_REVIEW`. Deprecated.",
            "",
            "Legacy alias for `APPROVED`. Deprecated.",
            "",
            "Legacy alias for `REJECTED`. Deprecated.",
            "",
            "Legacy alias for `DRAFT`. Deprecated."
          ],
          "description": "Required. The status of the class. This field can be set to `draft` or `underReview` using the insert, patch, or update API calls. Once the review state is changed from `draft` it may not be changed back to `draft`. You should keep this field to `draft` when the class is under development. A `draft` class cannot be used to create any object. You should set this field to `underReview` when you believe the class is ready for use. The platform will automatically set this field to `approved` and it can be immediately used to create or migrate objects. When updating an already `approved` class you should keep setting this field to `underReview`.",
          "type": "string",
          "enum": [
            "REVIEW_STATUS_UNSPECIFIED",
            "UNDER_REVIEW",
            "underReview",
            "APPROVED",
            "approved",
            "REJECTED",
            "rejected",
            "DRAFT",
            "draft"
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            true
          ]
        },
        "id": {
          "type": "string",
          "description": "Required. The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
        },
        "customPurchasePriceLabel": {
          "$ref": "LocalizedString",
          "description": "A custom label to use for the purchase price value (`transitObject.purchaseDetails.ticketCost.purchasePrice`)."
        },
        "allowMultipleUsersPerObject": {
          "deprecated": true,
          "type": "boolean",
          "description": "Deprecated. Use `multipleDevicesAndHoldersAllowedStatus` instead."
        },
        "locations": {
          "items": {
            "$ref": "LatLongPoint"
          },
          "type": "array",
          "description": "Note: This field is currently not supported to trigger geo notifications."
        },
        "classTemplateInfo": {
          "$ref": "ClassTemplateInfo",
          "description": "Template information about how the class should be displayed. If unset, Google will fallback to a default set of fields to display."
        },
        "issuerName": {
          "type": "string",
          "description": "Required. The issuer name. Recommended maximum length is 20 characters to ensure full string is displayed on smaller screens."
        },
        "linksModuleData": {
          "description": "Links module data. If links module data is also defined on the object, both will be displayed.",
          "$ref": "LinksModuleData"
        },
        "customPurchaseFaceValueLabel": {
          "$ref": "LocalizedString",
          "description": "A custom label to use for the purchase face value (`transitObject.purchaseDetails.ticketCost.faceValue`)."
        },
        "redemptionIssuers": {
          "description": "Identifies which redemption issuers can redeem the pass over Smart Tap. Redemption issuers are identified by their issuer ID. Redemption issuers must have at least one Smart Tap key configured. The `enableSmartTap` and object level `smartTapRedemptionLevel` fields must also be set up correctly in order for a pass to support Smart Tap.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "multipleDevicesAndHoldersAllowedStatus": {
          "enum": [
            "STATUS_UNSPECIFIED",
            "MULTIPLE_HOLDERS",
            "ONE_USER_ALL_DEVICES",
            "ONE_USER_ONE_DEVICE",
            "multipleHolders",
            "oneUserAllDevices",
            "oneUserOneDevice"
          ],
          "enumDescriptions": [
            "Unspecified preference.",
            "The same object can be saved by any number of different users, and on any number of devices. Partners typically use this setup for passes that do not need to be restricted to a single user or pinned to a single device.",
            "An object can only be saved by one user, but this user can view and use it on multiple of their devices. Once the first user saves the object, no other user will be allowed to view or save it.",
            "An object can only be saved by one user on a single device. Intended for use by select partners in limited circumstances. An example use case is a transit ticket that should be \"device pinned\", meaning it can be saved, viewed and used only by a single user on a single device. Contact support for additional information.",
            "Legacy alias for `MULTIPLE_HOLDERS`. Deprecated.",
            "Legacy alias for `ONE_USER_ALL_DEVICES`. Deprecated.",
            "Legacy alias for `ONE_USER_ONE_DEVICE`. Deprecated."
          ],
          "description": "Identifies whether multiple users and devices will save the same object referencing this class.",
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            true,
            true,
            true
          ],
          "type": "string"
        },
        "languageOverride": {
          "description": "If this field is present, transit tickets served to a user's device will always be in this language. Represents the BCP 47 language tag. Example values are \"en-US\", \"en-GB\", \"de\", or \"de-AT\".",
          "type": "string"
        },
        "localizedIssuerName": {
          "description": "Translated strings for the issuer_name. Recommended maximum length is 20 characters to ensure full string is displayed on smaller screens.",
          "$ref": "LocalizedString"
        },
        "enableSingleLegItinerary": {
          "type": "boolean",
          "description": "Controls the display of the single-leg itinerary for this class. By default, an itinerary will only display for multi-leg trips."
        },
        "watermark": {
          "$ref": "Image",
          "description": "Watermark image to display on the user's device."
        },
        "viewUnlockRequirement": {
          "enumDescriptions": [
            "Default value, same as UNLOCK_NOT_REQUIRED.",
            "Default behavior for all the existing Passes if ViewUnlockRequirement is not set.",
            "Requires the user to unlock their device each time the pass is viewed. If the user removes their device lock after saving the pass, then they will be prompted to create a device lock before the pass can be viewed."
          ],
          "enum": [
            "VIEW_UNLOCK_REQUIREMENT_UNSPECIFIED",
            "UNLOCK_NOT_REQUIRED",
            "UNLOCK_REQUIRED_TO_VIEW"
          ],
          "type": "string",
          "description": "View Unlock Requirement options for the transit ticket."
        },
        "customConfirmationCodeLabel": {
          "description": "A custom label to use for the confirmation code value (`transitObject.purchaseDetails.confirmationCode`).",
          "$ref": "LocalizedString"
        },
        "activationOptions": {
          "description": "Activation options for an activatable ticket.",
          "$ref": "ActivationOptions"
        },
        "enableSmartTap": {
          "description": "Identifies whether this class supports Smart Tap. The `redemptionIssuers` and object level `smartTapRedemptionLevel` fields must also be set up correctly in order for a pass to support Smart Tap.",
          "type": "boolean"
        },
        "review": {
          "$ref": "Review",
          "description": "The review comments set by the platform when a class is marked `approved` or `rejected`."
        },
        "callbackOptions": {
          "$ref": "CallbackOptions",
          "description": "Callback options to be used to call the issuer back for every save/delete of an object for this class by the end-user. All objects of this class are eligible for the callback."
        },
        "customFareClassLabel": {
          "$ref": "LocalizedString",
          "description": "A custom label to use for the fare class value (`transitObject.ticketLeg.ticketSeat.fareClass`)."
        },
        "transitOperatorName": {
          "$ref": "LocalizedString",
          "description": "The name of the transit operator."
        },
        "wordMark": {
          "$ref": "Image",
          "deprecated": true,
          "description": "Deprecated."
        },
        "customFareNameLabel": {
          "description": "A custom label to use for the transit fare name value (`transitObject.ticketLeg.fareName`).",
          "$ref": "LocalizedString"
        },
        "customCarriageLabel": {
          "$ref": "LocalizedString",
          "description": "A custom label to use for the carriage value (`transitObject.ticketLeg.carriage`)."
        },
        "customRouteRestrictionsDetailsLabel": {
          "$ref": "LocalizedString",
          "description": "A custom label to use for the route restrictions details value (`transitObject.ticketRestrictions.routeRestrictionsDetails`)."
        },
        "customConcessionCategoryLabel": {
          "$ref": "LocalizedString",
          "description": "A custom label to use for the transit concession category value (`transitObject.concessionCategory`)."
        },
        "customTimeRestrictionsLabel": {
          "description": "A custom label to use for the time restrictions details value (`transitObject.ticketRestrictions.timeRestrictions`).",
          "$ref": "LocalizedString"
        },
        "customTransitTerminusNameLabel": {
          "description": "A custom label to use for the transit terminus name value (`transitObject.ticketLeg.transitTerminusName`).",
          "$ref": "LocalizedString"
        },
        "imageModulesData": {
          "type": "array",
          "description": "Image module data. The maximum number of these fields displayed is 1 from object level and 1 for class object level.",
          "items": {
            "$ref": "ImageModuleData"
          }
        },
        "logo": {
          "$ref": "Image",
          "description": "Required. The logo image of the ticket. This image is displayed in the card detail view of the app."
        },
        "homepageUri": {
          "description": "The URI of your application's home page. Populating the URI in this field results in the exact same behavior as populating an URI in linksModuleData (when an object is rendered, a link to the homepage is shown in what would usually be thought of as the linksModuleData section of the object).",
          "$ref": "Uri"
        },
        "customTicketNumberLabel": {
          "$ref": "LocalizedString",
          "description": "A custom label to use for the ticket number value (`transitObject.ticketNumber`)."
        },
        "customRouteRestrictionsLabel": {
          "description": "A custom label to use for the route restrictions value (`transitObject.ticketRestrictions.routeRestrictions`).",
          "$ref": "LocalizedString"
        },
        "version": {
          "type": "string",
          "description": "Deprecated",
          "format": "int64",
          "deprecated": true
        },
        "customZoneLabel": {
          "$ref": "LocalizedString",
          "description": "A custom label to use for the boarding zone value (`transitObject.ticketLeg.zone`)."
        }
      }
    },
    "DiscoverableProgramMerchantSigninInfo": {
      "description": "Information about the merchant hosted signin flow for a program.",
      "id": "DiscoverableProgramMerchantSigninInfo",
      "properties": {
        "signinWebsite": {
          "description": "The URL to direct the user to for the merchant's signin site.",
          "$ref": "Uri"
        }
      },
      "type": "object"
    },
    "DiffChecksumsResponse": {
      "type": "object",
      "properties": {
        "objectLocation": {
          "$ref": "CompositeMedia",
          "description": "If set, calculate the checksums based on the contents and return them to the caller."
        },
        "objectVersion": {
          "description": "The object version of the object the checksums are being returned for.",
          "type": "string"
        },
        "checksumsLocation": {
          "description": "Exactly one of these fields must be populated. If checksums_location is filled, the server will return the corresponding contents to the user. If object_location is filled, the server will calculate the checksums based on the content there and return that to the user. For details on the format of the checksums, see http://go/scotty-diff-protocol.",
          "$ref": "CompositeMedia"
        },
        "chunkSizeBytes": {
          "type": "string",
          "format": "int64",
          "description": "The chunk size of checksums. Must be a multiple of 256KB."
        },
        "objectSizeBytes": {
          "description": "The total size of the server object.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "Backend response for a Diff get checksums response. For details on the Scotty Diff protocol, visit http://go/scotty-diff-protocol.",
      "id": "DiffChecksumsResponse"
    },
    "TicketRestrictions": {
      "type": "object",
      "id": "TicketRestrictions",
      "properties": {
        "otherRestrictions": {
          "$ref": "LocalizedString",
          "description": "Extra restrictions that don't fall under the \"route\" or \"time\" categories."
        },
        "routeRestrictionsDetails": {
          "$ref": "LocalizedString",
          "description": "More details about the above `routeRestrictions`."
        },
        "timeRestrictions": {
          "description": "Restrictions about times this ticket may be used.",
          "$ref": "LocalizedString"
        },
        "routeRestrictions": {
          "$ref": "LocalizedString",
          "description": "Restrictions about routes that may be taken. For example, this may be the string \"Reserved CrossCountry trains only\"."
        }
      }
    },
    "TicketCost": {
      "id": "TicketCost",
      "type": "object",
      "properties": {
        "purchasePrice": {
          "$ref": "Money",
          "description": "The actual purchase price of the ticket, after tax and/or discounts."
        },
        "faceValue": {
          "$ref": "Money",
          "description": "The face value of the ticket."
        },
        "discountMessage": {
          "$ref": "LocalizedString",
          "description": "A message describing any kind of discount that was applied."
        }
      }
    },
    "LabelValueRow": {
      "type": "object",
      "id": "LabelValueRow",
      "properties": {
        "columns": {
          "description": "A list of labels and values. These will be displayed in a singular column, one after the other, not in multiple columns, despite the field name.",
          "items": {
            "$ref": "LabelValue"
          },
          "type": "array"
        }
      }
    },
    "AuthenticationKey": {
      "type": "object",
      "id": "AuthenticationKey",
      "properties": {
        "publicKeyPem": {
          "description": "Available only to Smart Tap enabled partners. Contact support for additional guidance.",
          "type": "string"
        },
        "id": {
          "type": "integer",
          "format": "int32",
          "description": "Available only to Smart Tap enabled partners. Contact support for additional guidance."
        }
      }
    },
    "Image": {
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#image\"`.",
          "type": "string",
          "deprecated": true
        },
        "sourceUri": {
          "description": "The URI for the image.",
          "$ref": "ImageUri"
        },
        "contentDescription": {
          "description": "Description of the image used for accessibility.",
          "$ref": "LocalizedString"
        }
      },
      "type": "object",
      "description": "Wrapping type for Google hosted images. Next ID: 7",
      "id": "Image"
    },
    "LatLongPoint": {
      "properties": {
        "latitude": {
          "description": "The latitude specified as any value in the range of -90.0 through +90.0, both inclusive. Values outside these bounds will be rejected.",
          "format": "double",
          "type": "number"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#latLongPoint\"`.",
          "type": "string",
          "deprecated": true
        },
        "longitude": {
          "format": "double",
          "description": "The longitude specified in the range -180.0 through +180.0, both inclusive. Values outside these bounds will be rejected.",
          "type": "number"
        }
      },
      "id": "LatLongPoint",
      "type": "object"
    },
    "DiffUploadResponse": {
      "id": "DiffUploadResponse",
      "properties": {
        "originalObject": {
          "$ref": "CompositeMedia",
          "description": "The location of the original file for a diff upload request. Must be filled in if responding to an upload start notification."
        },
        "objectVersion": {
          "description": "The object version of the object at the server. Must be included in the end notification response. The version in the end notification response must correspond to the new version of the object that is now stored at the server, after the upload.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Backend response for a Diff upload request. For details on the Scotty Diff protocol, visit http://go/scotty-diff-protocol."
    },
    "TransitObjectUploadRotatingBarcodeValuesResponse": {
      "type": "object",
      "properties": {},
      "id": "TransitObjectUploadRotatingBarcodeValuesResponse",
      "description": "Response for uploading rotating barcode values."
    },
    "LinksModuleData": {
      "properties": {
        "uris": {
          "items": {
            "$ref": "Uri"
          },
          "type": "array",
          "description": "The list of URIs."
        }
      },
      "id": "LinksModuleData",
      "type": "object"
    },
    "EventTicketClassListResponse": {
      "id": "EventTicketClassListResponse",
      "type": "object",
      "properties": {
        "resources": {
          "type": "array",
          "description": "Resources corresponding to the list request.",
          "items": {
            "$ref": "EventTicketClass"
          }
        },
        "pagination": {
          "description": "Pagination of the response.",
          "$ref": "Pagination"
        }
      }
    },
    "GenericObject": {
      "description": "Generic Object Next ID: 121",
      "properties": {
        "validTimeInterval": {
          "description": "The time period this object will be considered valid or usable. When the time period is passed, the object will be considered expired, which will affect the rendering on user's devices.",
          "$ref": "TimeInterval"
        },
        "header": {
          "description": "Required. The title of the pass, such as \"50% off coupon\" or \"Library card\" or \"Voucher\". This field is required and appears in the title row of the pass detail view.",
          "$ref": "LocalizedString"
        },
        "notifications": {
          "$ref": "Notifications",
          "description": "The notification settings that are enabled for this object."
        },
        "id": {
          "type": "string",
          "description": "Required. The unique identifier for an object. This ID must be unique across all objects from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`."
        },
        "groupingInfo": {
          "description": "Information that controls how passes are grouped together.",
          "$ref": "GroupingInfo"
        },
        "genericType": {
          "type": "string",
          "enum": [
            "GENERIC_TYPE_UNSPECIFIED",
            "GENERIC_SEASON_PASS",
            "GENERIC_UTILITY_BILLS",
            "GENERIC_PARKING_PASS",
            "GENERIC_VOUCHER",
            "GENERIC_GYM_MEMBERSHIP",
            "GENERIC_LIBRARY_MEMBERSHIP",
            "GENERIC_RESERVATIONS",
            "GENERIC_AUTO_INSURANCE",
            "GENERIC_HOME_INSURANCE",
            "GENERIC_ENTRY_TICKET",
            "GENERIC_RECEIPT",
            "GENERIC_OTHER"
          ],
          "description": "Specify which `GenericType` the card belongs to.",
          "enumDescriptions": [
            "Unspecified generic type.",
            "Season pass",
            "Utility bills",
            "Parking pass",
            "Voucher",
            "Gym membership cards",
            "Library membership cards",
            "Reservations",
            "Auto-insurance cards",
            "Home-insurance cards",
            "Entry tickets",
            "Receipts",
            "Other type"
          ]
        },
        "textModulesData": {
          "description": "Text module data. If `textModulesData` is also defined on the class, both will be displayed. The maximum number of these fields displayed is 10 from class and 10 from object.",
          "type": "array",
          "items": {
            "$ref": "TextModuleData"
          }
        },
        "wideLogo": {
          "$ref": "Image",
          "description": "The wide logo of the pass. When provided, this will be used in place of the logo in the top left of the card view."
        },
        "passConstraints": {
          "description": "Pass constraints for the object. Includes limiting NFC and screenshot behaviors.",
          "$ref": "PassConstraints"
        },
        "linksModuleData": {
          "description": "Links module data. If `linksModuleData` is also defined on the class, both will be displayed. The maximum number of these fields displayed is 10 from class and 10 from object.",
          "$ref": "LinksModuleData"
        },
        "appLinkData": {
          "description": "Information about the partner app link. The maximum number of these fields displayed is 10.",
          "$ref": "AppLinkData"
        },
        "smartTapRedemptionValue": {
          "type": "string",
          "description": "The value that will be transmitted to a Smart Tap certified terminal over NFC for this object. The class level fields `enableSmartTap` and `redemptionIssuers` must also be set up correctly in order for the pass to support Smart Tap. Only ASCII characters are supported."
        },
        "classId": {
          "type": "string",
          "description": "Required. The class associated with this object. The class must be of the same type as this object, must already exist, and must be approved. Class IDs should follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you."
        },
        "hexBackgroundColor": {
          "type": "string",
          "description": "The background color for the card. If not set, the dominant color of the hero image is used, and if no hero image is set, the dominant color of the logo is used and if logo is not set, a color would be chosen by Google."
        },
        "imageModulesData": {
          "items": {
            "$ref": "ImageModuleData"
          },
          "description": "Image module data. Only one of the image from class and one from object level will be rendered when both set.",
          "type": "array"
        },
        "state": {
          "enumDescriptions": [
            "",
            "Object is active and displayed to with other active objects.",
            "Legacy alias for `ACTIVE`. Deprecated.",
            "",
            "Legacy alias for `COMPLETED`. Deprecated.",
            "Object is no longer valid (`validTimeInterval` passed).",
            "Legacy alias for `EXPIRED`. Deprecated.",
            "",
            "Legacy alias for `INACTIVE`. Deprecated."
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            true
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "active",
            "COMPLETED",
            "completed",
            "EXPIRED",
            "expired",
            "INACTIVE",
            "inactive"
          ],
          "description": "The state of the object. This field is used to determine how an object is displayed in the app. For example, an `inactive` object is moved to the \"Expired passes\" section. If this is not provided, the object would be considered `ACTIVE`."
        },
        "logo": {
          "$ref": "Image",
          "description": "The logo image of the pass. This image is displayed in the card detail view in upper left, and also on the list/thumbnail view. If the logo is not present, the first letter of `cardTitle` would be shown as logo."
        },
        "cardTitle": {
          "description": "Required. The header of the pass. This is usually the Business name such as \"XXX Gym\", \"AAA Insurance\". This field is required and appears in the header row at the very top of the pass.",
          "$ref": "LocalizedString"
        },
        "subheader": {
          "description": "The title label of the pass, such as location where this pass can be used. Appears right above the title in the title row in the pass detail view.",
          "$ref": "LocalizedString"
        },
        "heroImage": {
          "$ref": "Image",
          "description": "Banner image displayed on the front of the card if present. The image will be displayed at 100% width."
        },
        "hasUsers": {
          "type": "boolean",
          "description": "Indicates if the object has users. This field is set by the platform."
        },
        "barcode": {
          "description": "The barcode type and value. If pass does not have a barcode, we can allow the issuer to set Barcode.alternate_text and display just that.",
          "$ref": "Barcode"
        },
        "rotatingBarcode": {
          "description": "The rotating barcode settings/details.",
          "$ref": "RotatingBarcode"
        }
      },
      "type": "object",
      "id": "GenericObject"
    },
    "DiscoverableProgram": {
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "TRUSTED_TESTERS",
            "trustedTesters",
            "LIVE",
            "live",
            "DISABLED",
            "disabled"
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true,
            false,
            true
          ],
          "description": "Visibility state of the discoverable program.",
          "enumDescriptions": [
            "",
            "Visible only to testers that have access to issuer account.",
            "Legacy alias for `TRUSTED_TESTERS`. Deprecated.",
            "Visible to all.",
            "Legacy alias for `LIVE`. Deprecated.",
            "Not visible.",
            "Legacy alias for `DISABLED`. Deprecated."
          ],
          "type": "string"
        },
        "merchantSignupInfo": {
          "$ref": "DiscoverableProgramMerchantSignupInfo",
          "description": "Information about the ability to signup and add a valuable for this program through a merchant site. Used when MERCHANT_HOSTED_SIGNUP is enabled."
        },
        "merchantSigninInfo": {
          "description": "Information about the ability to signin and add a valuable for this program through a merchant site. Used when MERCHANT_HOSTED_SIGNIN is enabled.",
          "$ref": "DiscoverableProgramMerchantSigninInfo"
        }
      },
      "id": "DiscoverableProgram",
      "type": "object",
      "description": "Information about how a class may be discovered and instantiated from within the Android Pay app. This is done by searching for a loyalty or gift card program and scanning or manually entering."
    },
    "TemplateItem": {
      "type": "object",
      "id": "TemplateItem",
      "properties": {
        "firstValue": {
          "$ref": "FieldSelector",
          "description": "A reference to a field to display. If both `firstValue` and `secondValue` are populated, they will both appear as one item with a slash between them. For example, values A and B would be shown as \"A / B\"."
        },
        "predefinedItem": {
          "enumDescriptions": [
            "",
            "",
            "Legacy alias for `FREQUENT_FLYER_PROGRAM_NAME_AND_NUMBER`. Deprecated.",
            "",
            "Legacy alias for `FLIGHT_NUMBER_AND_OPERATING_FLIGHT_NUMBER`. Deprecated."
          ],
          "enum": [
            "PREDEFINED_ITEM_UNSPECIFIED",
            "FREQUENT_FLYER_PROGRAM_NAME_AND_NUMBER",
            "frequentFlyerProgramNameAndNumber",
            "FLIGHT_NUMBER_AND_OPERATING_FLIGHT_NUMBER",
            "flightNumberAndOperatingFlightNumber"
          ],
          "type": "string",
          "description": "A predefined item to display. Only one of `firstValue` or `predefinedItem` may be set.",
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true
          ]
        },
        "secondValue": {
          "$ref": "FieldSelector",
          "description": "A reference to a field to display. This may only be populated if the `firstValue` field is populated."
        }
      }
    },
    "ContentTypeInfo": {
      "description": "Detailed Content-Type information from Scotty. The Content-Type of the media will typically be filled in by the header or Scotty's best_guess, but this extended information provides the backend with more information so that it can make a better decision if needed. This is only used on media upload requests from Scotty.",
      "type": "object",
      "properties": {
        "bestGuess": {
          "type": "string",
          "description": "Scotty's best guess of what the content type of the file is."
        },
        "fromUrlPath": {
          "description": "The content type of the file derived from the file extension of the URL path. The URL path is assumed to represent a file name (which is typically only true for agents that are providing a REST API).",
          "type": "string"
        },
        "fromFileName": {
          "description": "The content type of the file derived from the file extension of the original file name used by the client.",
          "type": "string"
        },
        "fromHeader": {
          "description": "The content type of the file as specified in the request headers, multipart headers, or RUPIO start request.",
          "type": "string"
        },
        "fromBytes": {
          "description": "The content type of the file derived by looking at specific bytes (i.e. \"magic bytes\") of the actual file.",
          "type": "string"
        }
      },
      "id": "ContentTypeInfo"
    },
    "EventTicketObjectListResponse": {
      "properties": {
        "pagination": {
          "description": "Pagination of the response.",
          "$ref": "Pagination"
        },
        "resources": {
          "description": "Resources corresponding to the list request.",
          "items": {
            "$ref": "EventTicketObject"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "EventTicketObjectListResponse"
    },
    "FlightClassAddMessageResponse": {
      "type": "object",
      "properties": {
        "resource": {
          "$ref": "FlightClass",
          "description": "The updated FlightClass resource."
        }
      },
      "id": "FlightClassAddMessageResponse"
    },
    "OfferClassListResponse": {
      "type": "object",
      "id": "OfferClassListResponse",
      "properties": {
        "pagination": {
          "$ref": "Pagination",
          "description": "Pagination of the response."
        },
        "resources": {
          "items": {
            "$ref": "OfferClass"
          },
          "description": "Resources corresponding to the list request.",
          "type": "array"
        }
      }
    },
    "GiftCardClassAddMessageResponse": {
      "type": "object",
      "id": "GiftCardClassAddMessageResponse",
      "properties": {
        "resource": {
          "$ref": "GiftCardClass",
          "description": "The updated GiftCardClass resource."
        }
      }
    },
    "ActivationStatus": {
      "id": "ActivationStatus",
      "type": "object",
      "properties": {
        "state": {
          "type": "string",
          "enum": [
            "UNKNOWN_STATE",
            "NOT_ACTIVATED",
            "not_activated",
            "ACTIVATED",
            "activated"
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true
          ],
          "enumDescriptions": [
            "",
            "Not-Activated, this is the default status",
            "Legacy alias for `NOT_ACTIVATED`. Deprecated.",
            "Activated",
            "Legacy alias for `ACTIVATED`. Deprecated."
          ]
        }
      },
      "description": "The activation status of the object. This field includes activation status if valuable supports activation."
    },
    "LoyaltyObjectListResponse": {
      "properties": {
        "pagination": {
          "description": "Pagination of the response.",
          "$ref": "Pagination"
        },
        "resources": {
          "description": "Resources corresponding to the list request.",
          "type": "array",
          "items": {
            "$ref": "LoyaltyObject"
          }
        }
      },
      "id": "LoyaltyObjectListResponse",
      "type": "object"
    },
    "Money": {
      "properties": {
        "currencyCode": {
          "type": "string",
          "description": "The currency code, such as \"USD\" or \"EUR.\""
        },
        "micros": {
          "type": "string",
          "description": "The unit of money amount in micros. For example, $1 USD would be represented as 1000000 micros.",
          "format": "int64"
        },
        "kind": {
          "type": "string",
          "deprecated": true,
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#money\"`."
        }
      },
      "type": "object",
      "id": "Money"
    },
    "Permissions": {
      "id": "Permissions",
      "type": "object",
      "properties": {
        "issuerId": {
          "format": "int64",
          "type": "string",
          "description": "ID of the issuer the list of permissions refer to."
        },
        "permissions": {
          "items": {
            "$ref": "Permission"
          },
          "description": "The complete list of permissions for the issuer account.",
          "type": "array"
        }
      }
    },
    "FieldReference": {
      "id": "FieldReference",
      "description": "Reference definition to use with field overrides.",
      "type": "object",
      "properties": {
        "fieldPath": {
          "type": "string",
          "description": "Path to the field being referenced, prefixed with \"object\" or \"class\" and separated with dots. For example, it may be the string \"object.purchaseDetails.purchasePrice\"."
        },
        "dateFormat": {
          "type": "string",
          "description": "Only valid if the `fieldPath` references a date field. Chooses how the date field will be formatted and displayed in the UI.",
          "enum": [
            "DATE_FORMAT_UNSPECIFIED",
            "DATE_TIME",
            "dateTime",
            "DATE_ONLY",
            "dateOnly",
            "TIME_ONLY",
            "timeOnly",
            "DATE_TIME_YEAR",
            "dateTimeYear",
            "DATE_YEAR",
            "dateYear",
            "YEAR_MONTH",
            "YEAR_MONTH_DAY"
          ],
          "enumDescriptions": [
            "Default option when no format is specified, when selected, no formatting will be applied.",
            "Renders `2018-12-14T13:00:00` as `Dec 14, 1:00 PM` in `en_US`.",
            "Legacy alias for `DATE_TIME`. Deprecated.",
            "Renders `2018-12-14T13:00:00` as `Dec 14` in `en_US`.",
            "Legacy alias for `DATE_ONLY`. Deprecated.",
            "Renders `2018-12-14T13:00:00` as `1:00 PM` in `en_US`.",
            "Legacy alias for `TIME_ONLY`. Deprecated.",
            "Renders `2018-12-14T13:00:00` as `Dec 14, 2018, 1:00 PM` in `en_US`.",
            "Legacy alias for `DATE_TIME_YEAR`. Deprecated.",
            "Renders `2018-12-14T13:00:00` as `Dec 14, 2018` in `en_US`.",
            "Legacy alias for `DATE_YEAR`. Deprecated.",
            "Renders `2018-12-14T13:00:00` as `2018-12`.",
            "Renders `2018-12-14T13:00:00` as `2018-12-14`."
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            false
          ]
        }
      }
    },
    "OfferObjectListResponse": {
      "id": "OfferObjectListResponse",
      "properties": {
        "resources": {
          "description": "Resources corresponding to the list request.",
          "type": "array",
          "items": {
            "$ref": "OfferObject"
          }
        },
        "pagination": {
          "description": "Pagination of the response.",
          "$ref": "Pagination"
        }
      },
      "type": "object"
    },
    "EventTicketObjectAddMessageResponse": {
      "id": "EventTicketObjectAddMessageResponse",
      "type": "object",
      "properties": {
        "resource": {
          "$ref": "EventTicketObject",
          "description": "The updated EventTicketObject resource."
        }
      }
    },
    "GenericClass": {
      "description": "Generic Class",
      "id": "GenericClass",
      "type": "object",
      "properties": {
        "id": {
          "description": "Required. The unique identifier for the class. This ID must be unique across all from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`.",
          "type": "string"
        },
        "securityAnimation": {
          "$ref": "SecurityAnimation",
          "description": "Optional information about the security animation. If this is set a security animation will be rendered on pass details."
        },
        "messages": {
          "items": {
            "$ref": "Message"
          },
          "type": "array",
          "description": "An array of messages displayed in the app. All users of this object will receive its associated messages. The maximum number of these fields is 10."
        },
        "linksModuleData": {
          "$ref": "LinksModuleData",
          "description": "Links module data. If `linksModuleData` is also defined on the object, both will be displayed. The maximum number of these fields displayed is 10 from class and 10 from object."
        },
        "viewUnlockRequirement": {
          "type": "string",
          "enumDescriptions": [
            "Default value, same as UNLOCK_NOT_REQUIRED.",
            "Default behavior for all the existing Passes if ViewUnlockRequirement is not set.",
            "Requires the user to unlock their device each time the pass is viewed. If the user removes their device lock after saving the pass, then they will be prompted to create a device lock before the pass can be viewed."
          ],
          "description": "View Unlock Requirement options for the generic pass.",
          "enum": [
            "VIEW_UNLOCK_REQUIREMENT_UNSPECIFIED",
            "UNLOCK_NOT_REQUIRED",
            "UNLOCK_REQUIRED_TO_VIEW"
          ]
        },
        "multipleDevicesAndHoldersAllowedStatus": {
          "description": "Identifies whether multiple users and devices will save the same object referencing this class.",
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            true,
            true,
            true
          ],
          "enumDescriptions": [
            "Unspecified preference.",
            "The same object can be saved by any number of different users, and on any number of devices. Partners typically use this setup for passes that do not need to be restricted to a single user or pinned to a single device.",
            "An object can only be saved by one user, but this user can view and use it on multiple of their devices. Once the first user saves the object, no other user will be allowed to view or save it.",
            "An object can only be saved by one user on a single device. Intended for use by select partners in limited circumstances. An example use case is a transit ticket that should be \"device pinned\", meaning it can be saved, viewed and used only by a single user on a single device. Contact support for additional information.",
            "Legacy alias for `MULTIPLE_HOLDERS`. Deprecated.",
            "Legacy alias for `ONE_USER_ALL_DEVICES`. Deprecated.",
            "Legacy alias for `ONE_USER_ONE_DEVICE`. Deprecated."
          ],
          "enum": [
            "STATUS_UNSPECIFIED",
            "MULTIPLE_HOLDERS",
            "ONE_USER_ALL_DEVICES",
            "ONE_USER_ONE_DEVICE",
            "multipleHolders",
            "oneUserAllDevices",
            "oneUserOneDevice"
          ],
          "type": "string"
        },
        "imageModulesData": {
          "type": "array",
          "items": {
            "$ref": "ImageModuleData"
          },
          "description": "Image module data. If `imageModulesData` is also defined on the object, both will be displayed. Only one of the image from class and one from object level will be rendered when both set."
        },
        "enableSmartTap": {
          "type": "boolean",
          "description": "Available only to Smart Tap enabled partners. Contact support for additional guidance."
        },
        "textModulesData": {
          "type": "array",
          "items": {
            "$ref": "TextModuleData"
          },
          "description": "Text module data. If `textModulesData` is also defined on the object, both will be displayed. The maximum number of these fields displayed is 10 from class and 10 from object."
        },
        "classTemplateInfo": {
          "$ref": "ClassTemplateInfo",
          "description": "Template information about how the class should be displayed. If unset, Google will fallback to a default set of fields to display."
        },
        "callbackOptions": {
          "description": "Callback options to be used to call the issuer back for every save/delete of an object for this class by the end-user. All objects of this class are eligible for the callback.",
          "$ref": "CallbackOptions"
        },
        "redemptionIssuers": {
          "type": "array",
          "description": "Identifies which redemption issuers can redeem the pass over Smart Tap. Redemption issuers are identified by their issuer ID. Redemption issuers must have at least one Smart Tap key configured. The `enableSmartTap` and object level `smartTapRedemptionLevel` fields must also be set up correctly in order for a pass to support Smart Tap.",
          "items": {
            "format": "int64",
            "type": "string"
          }
        }
      }
    },
    "SmartTap": {
      "id": "SmartTap",
      "properties": {
        "merchantId": {
          "description": "Smart Tap merchant ID of who engaged in the Smart Tap interaction.",
          "format": "int64",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#smartTap\"`.",
          "deprecated": true,
          "type": "string"
        },
        "infos": {
          "description": "Communication from merchant to user.",
          "type": "array",
          "items": {
            "$ref": "IssuerToUserInfo"
          }
        },
        "id": {
          "description": "The unique identifier for a smart tap. This value should follow the format issuer ID.identifier where the former is issued by Google and latter is the Smart Tap id. The Smart Tap id is a Base64 encoded string which represents the id which was generated by the Google Pay app.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CompositeMedia": {
      "id": "CompositeMedia",
      "type": "object",
      "description": "A sequence of media data references representing composite data. Introduced to support Bigstore composite objects. For details, visit http://go/bigstore-composites.",
      "properties": {
        "inline": {
          "type": "string",
          "format": "byte",
          "description": "Media data, set if reference_type is INLINE"
        },
        "blobstore2Info": {
          "$ref": "Blobstore2Info",
          "description": "Blobstore v2 info, set if reference_type is BLOBSTORE_REF and it refers to a v2 blob."
        },
        "cosmoBinaryReference": {
          "description": "A binary data reference for a media download. Serves as a technology-agnostic binary reference in some Google infrastructure. This value is a serialized storage_cosmo.BinaryReference proto. Storing it as bytes is a hack to get around the fact that the cosmo proto (as well as others it includes) doesn't support JavaScript. This prevents us from including the actual type of this field.",
          "format": "byte",
          "type": "string"
        },
        "crc32cHash": {
          "format": "uint32",
          "description": "crc32.c hash for the payload.",
          "type": "integer"
        },
        "length": {
          "type": "string",
          "format": "int64",
          "description": "Size of the data, in bytes"
        },
        "referenceType": {
          "type": "string",
          "enumDescriptions": [
            "Reference contains a GFS path or a local path.",
            "Reference points to a blobstore object. This could be either a v1 blob_ref or a v2 blobstore2_info. Clients should check blobstore2_info first, since v1 is being deprecated.",
            "Data is included into this proto buffer",
            "Reference points to a bigstore object",
            "Indicates the data is stored in cosmo_binary_reference."
          ],
          "enum": [
            "PATH",
            "BLOB_REF",
            "INLINE",
            "BIGSTORE_REF",
            "COSMO_BINARY_REFERENCE"
          ],
          "description": "Describes what the field reference contains."
        },
        "md5Hash": {
          "description": "MD5 hash for the payload.",
          "type": "string",
          "format": "byte"
        },
        "sha1Hash": {
          "format": "byte",
          "description": "SHA-1 hash for the payload.",
          "type": "string"
        },
        "path": {
          "description": "Path to the data, set if reference_type is PATH",
          "type": "string"
        },
        "blobRef": {
          "deprecated": true,
          "description": "Blobstore v1 reference, set if reference_type is BLOBSTORE_REF This should be the byte representation of a blobstore.BlobRef. Since Blobstore is deprecating v1, use blobstore2_info instead. For now, any v2 blob will also be represented in this field as v1 BlobRef.",
          "format": "byte",
          "type": "string"
        },
        "objectId": {
          "description": "Reference to a TI Blob, set if reference_type is BIGSTORE_REF.",
          "$ref": "ObjectId"
        }
[...]
