{
  "revision": "20240430",
  "batchPath": "batch",
  "kind": "discovery#restDescription",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/wallet_object.issuer": {
          "description": "Private Service: https://www.googleapis.com/auth/wallet_object.issuer"
        }
      }
    }
  },
  "version": "v1",
  "ownerDomain": "google.com",
  "id": "walletobjects:v1",
  "ownerName": "Google",
  "rootUrl": "https://walletobjects.googleapis.com/",
  "name": "walletobjects",
  "mtlsRootUrl": "https://walletobjects.mtls.googleapis.com/",
  "servicePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "discoveryVersion": "v1",
  "schemas": {
    "ImageModuleData": {
      "id": "ImageModuleData",
      "type": "object",
      "properties": {
        "mainImage": {
          "$ref": "Image",
          "description": "A 100% width image."
        },
        "id": {
          "type": "string",
          "description": "The ID associated with an image module. This field is here to enable ease of management of image modules."
        }
      }
    },
    "TextModuleData": {
      "id": "TextModuleData",
      "properties": {
        "id": {
          "type": "string",
          "description": "The ID associated with a text module. This field is here to enable ease of management of text modules."
        },
        "header": {
          "description": "The header of the Text Module. Recommended maximum length is 35 characters to ensure full string is displayed on smaller screens.",
          "type": "string"
        },
        "localizedHeader": {
          "$ref": "LocalizedString",
          "description": "Translated strings for the header. Recommended maximum length is 35 characters to ensure full string is displayed on smaller screens."
        },
        "body": {
          "description": "The body of the Text Module, which is defined as an uninterrupted string. Recommended maximum length is 500 characters to ensure full string is displayed on smaller screens.",
          "type": "string"
        },
        "localizedBody": {
          "description": "Translated strings for the body. Recommended maximum length is 500 characters to ensure full string is displayed on smaller screens.",
          "$ref": "LocalizedString"
        }
      },
      "type": "object",
      "description": "Data for Text module. All fields are optional. Header will be displayed if available, different types of bodies will be concatenated if they are defined."
    },
    "BoardingAndSeatingInfo": {
      "id": "BoardingAndSeatingInfo",
      "properties": {
        "sequenceNumber": {
          "description": "The sequence number on the boarding pass. This usually matches the sequence in which the passengers checked in. Airline might use the number for manual boarding and bag tags. eg: \"49\"",
          "type": "string"
        },
        "boardingPrivilegeImage": {
          "description": "A small image shown above the boarding barcode. Airlines can use it to communicate any special boarding privileges. In the event the security program logo is also set, this image might be rendered alongside the logo for that security program.",
          "$ref": "Image"
        },
        "boardingDoor": {
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true
          ],
          "description": "Set this field only if this flight boards through more than one door or bridge and you want to explicitly print the door location on the boarding pass. Most airlines route their passengers to the right door or bridge by refering to doors/bridges by the `seatClass`. In those cases `boardingDoor` should not be set.",
          "enumDescriptions": [
            "",
            "",
            "Legacy alias for `FRONT`. Deprecated.",
            "",
            "Legacy alias for `BACK`. Deprecated."
          ],
          "type": "string",
          "enum": [
            "BOARDING_DOOR_UNSPECIFIED",
            "FRONT",
            "front",
            "BACK",
            "back"
          ]
        },
        "seatNumber": {
          "type": "string",
          "description": "The value of passenger seat. If there is no specific identifier, use `seatAssignment` instead. eg: \"25A\""
        },
        "boardingGroup": {
          "type": "string",
          "description": "The value of boarding group (or zone) this passenger shall board with. eg: \"B\" The label for this value will be determined by the `boardingPolicy` field in the `flightClass` referenced by this object."
        },
        "seatAssignment": {
          "description": "The passenger's seat assignment. To be used when there is no specific identifier to use in `seatNumber`. eg: \"assigned at gate\"",
          "$ref": "LocalizedString"
        },
        "boardingPosition": {
          "type": "string",
          "description": "The value of boarding position. eg: \"76\""
        },
        "seatClass": {
          "type": "string",
          "description": "The value of the seat class. eg: \"Economy\" or \"Economy Plus\""
        },
        "kind": {
          "deprecated": true,
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#boardingAndSeatingInfo\"`."
        }
      },
      "type": "object"
    },
    "FlightHeader": {
      "id": "FlightHeader",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#flightHeader\"`.",
          "deprecated": true,
          "type": "string"
        },
        "carrier": {
          "$ref": "FlightCarrier",
          "description": "Information about airline carrier. This is a required property of `flightHeader`."
        },
        "flightNumber": {
          "type": "string",
          "description": "The flight number without IATA carrier code. This field should contain only digits. This is a required property of `flightHeader`. eg: \"123\""
        },
        "operatingFlightNumber": {
          "type": "string",
          "description": "The flight number used by the operating carrier without IATA carrier code. This field should contain only digits. eg: \"234\""
        },
        "operatingCarrier": {
          "$ref": "FlightCarrier",
          "description": "Information about operating airline carrier."
        },
        "flightNumberDisplayOverride": {
          "type": "string",
          "description": "Override value to use for flight number. The default value used for display purposes is carrier + flight_number. If a different value needs to be shown to passengers, use this field to override the default behavior. eg: \"XX1234 / YY576\""
        }
      }
    },
    "TicketLeg": {
      "type": "object",
      "id": "TicketLeg",
      "properties": {
        "carriage": {
          "type": "string",
          "description": "The train or ship name/number that the passsenger needs to board."
        },
        "transitOperatorName": {
          "$ref": "LocalizedString",
          "description": "The name of the transit operator that is operating this leg of a trip."
        },
        "fareName": {
          "description": "Short description/name of the fare for this leg of travel. Eg \"Anytime Single Use\".",
          "$ref": "LocalizedString"
        },
        "originStationCode": {
          "type": "string",
          "description": "The origin station code. This is required if `destinationStationCode` is present or if `originName` is not present."
        },
        "ticketSeats": {
          "type": "array",
          "items": {
            "$ref": "TicketSeat"
          },
          "description": "The reserved seat for the passenger(s). If only one seat is to be specified then use the `ticketSeat` field instead. Both `ticketSeat` and `ticketSeats` may not be set."
        },
        "destinationStationCode": {
          "type": "string",
          "description": "The destination station code."
        },
        "ticketSeat": {
          "description": "The reserved seat for the passenger(s). If more than one seat is to be specified then use the `ticketSeats` field instead. Both `ticketSeat` and `ticketSeats` may not be set.",
          "$ref": "TicketSeat"
        },
        "originName": {
          "description": "The name of the origin station. This is required if `desinationName` is present or if `originStationCode` is not present.",
          "$ref": "LocalizedString"
        },
        "platform": {
          "type": "string",
          "description": "The platform or gate where the passenger can board the carriage."
        },
        "zone": {
          "description": "The zone of boarding within the platform.",
          "type": "string"
        },
        "destinationName": {
          "$ref": "LocalizedString",
          "description": "The destination name."
        },
        "transitTerminusName": {
          "$ref": "LocalizedString",
          "description": "Terminus station or destination of the train/bus/etc."
        },
        "arrivalDateTime": {
          "type": "string",
          "description": "The date/time of arrival. This is an ISO 8601 extended format date/time, with or without an offset. Time may be specified up to nanosecond precision. Offsets may be specified with seconds precision (even though offset seconds is not part of ISO 8601). For example: `1985-04-12T23:20:50.52Z` would be 20 minutes and 50.52 seconds after the 23rd hour of April 12th, 1985 in UTC. `1985-04-12T19:20:50.52-04:00` would be 20 minutes and 50.52 seconds after the 19th hour of April 12th, 1985, 4 hours before UTC (same instant in time as the above example). If the event were in New York, this would be the equivalent of Eastern Daylight Time (EDT). Remember that offset varies in regions that observe Daylight Saving Time (or Summer Time), depending on the time of the year. `1985-04-12T19:20:50.52` would be 20 minutes and 50.52 seconds after the 19th hour of April 12th, 1985 with no offset information. The portion of the date/time without the offset is considered the \"local date/time\". This should be the local date/time at the destination station. For example, if the event occurs at the 20th hour of June 5th, 2018 at the destination station, the local date/time portion should be `2018-06-05T20:00:00`. If the local date/time at the destination station is 4 hours before UTC, an offset of `-04:00` may be appended. Without offset information, some rich features may not be available."
        },
        "departureDateTime": {
          "type": "string",
          "description": "The date/time of departure. This is required if there is no validity time interval set on the transit object. This is an ISO 8601 extended format date/time, with or without an offset. Time may be specified up to nanosecond precision. Offsets may be specified with seconds precision (even though offset seconds is not part of ISO 8601). For example: `1985-04-12T23:20:50.52Z` would be 20 minutes and 50.52 seconds after the 23rd hour of April 12th, 1985 in UTC. `1985-04-12T19:20:50.52-04:00` would be 20 minutes and 50.52 seconds after the 19th hour of April 12th, 1985, 4 hours before UTC (same instant in time as the above example). If the event were in New York, this would be the equivalent of Eastern Daylight Time (EDT). Remember that offset varies in regions that observe Daylight Saving Time (or Summer Time), depending on the time of the year. `1985-04-12T19:20:50.52` would be 20 minutes and 50.52 seconds after the 19th hour of April 12th, 1985 with no offset information. The portion of the date/time without the offset is considered the \"local date/time\". This should be the local date/time at the origin station. For example, if the departure occurs at the 20th hour of June 5th, 2018 at the origin station, the local date/time portion should be `2018-06-05T20:00:00`. If the local date/time at the origin station is 4 hours before UTC, an offset of `-04:00` may be appended. Without offset information, some rich features may not be available."
        }
      }
    },
    "DiffDownloadResponse": {
      "properties": {
        "objectLocation": {
          "description": "The original object location.",
          "$ref": "CompositeMedia"
        }
      },
      "id": "DiffDownloadResponse",
      "type": "object",
      "description": "Backend response for a Diff download response. For details on the Scotty Diff protocol, visit http://go/scotty-diff-protocol."
    },
    "TransitObjectAddMessageResponse": {
      "properties": {
        "resource": {
          "$ref": "TransitObject",
          "description": "The updated TransitObject resource."
        }
      },
      "type": "object",
      "id": "TransitObjectAddMessageResponse"
    },
    "Barcode": {
      "properties": {
        "kind": {
          "deprecated": true,
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#barcode\"`."
        },
        "showCodeText": {
          "$ref": "LocalizedString",
          "description": "Optional text that will be shown when the barcode is hidden behind a click action. This happens in cases where a pass has Smart Tap enabled. If not specified, a default is chosen by Google."
        },
        "renderEncoding": {
          "enum": [
            "RENDER_ENCODING_UNSPECIFIED",
            "UTF_8"
          ],
          "description": "The render encoding for the barcode. When specified, barcode is rendered in the given encoding. Otherwise best known encoding is chosen by Google.",
          "enumDescriptions": [
            "",
            "UTF_8 encoding for barcodes. This is only supported for barcode type qrCode."
          ],
          "type": "string"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            "Not supported for Rotating Barcodes.",
            "Legacy alias for `AZTEC`. Deprecated. Not supported for Rotating Barcodes.",
            "Not supported for Rotating Barcodes.",
            "Legacy alias for `CODE_39`. Deprecated. Not supported for Rotating Barcodes.",
            "Not supported for Rotating Barcodes.",
            "Legacy alias for `CODE_128`. Deprecated. Not supported for Rotating Barcodes.",
            "Not supported for Rotating Barcodes.",
            "Legacy alias for `CODABAR`. Deprecated. Not supported for Rotating Barcodes.",
            "A 2D matrix barcode consisting of black and white. Cells or modules are arranged in either a square or rectangle. Not supported for Rotating Barcodes.",
            "Legacy alias for `DATA_MATRIX`. Deprecated. Not supported for Rotating Barcodes.",
            "Not supported for Rotating Barcodes.",
            "Legacy alias for `EAN_8`. Deprecated. Not supported for Rotating Barcodes.",
            "Not supported for Rotating Barcodes.",
            "Legacy alias for `EAN_13`. Deprecated. Not supported for Rotating Barcodes.",
            "Legacy alias for `EAN_13`. Deprecated. Not supported for Rotating Barcodes.",
            "14 digit ITF code Not supported for Rotating Barcodes.",
            "Legacy alias for `ITF_14`. Deprecated. Not supported for Rotating Barcodes.",
            "Supported for Rotating Barcodes.",
            "Legacy alias for `PDF_417`. Deprecated.",
            "Legacy alias for `PDF_417`. Deprecated.",
            "Supported for Rotating Barcodes.",
            "Legacy alias for `QR_CODE`. Deprecated.",
            "Legacy alias for `QR_CODE`. Deprecated.",
            "11 or 12 digit codes Not supported for Rotating Barcodes.",
            "Legacy alias for `UPC_A`. Deprecated. Not supported for Rotating Barcodes.",
            "Renders the field as a text field. The `alternateText` field may not be used with a barcode of type `textOnly`. Not supported for Rotating Barcodes.",
            "Legacy alias for `TEXT_ONLY`. Deprecated. Not supported for Rotating Barcodes."
          ],
          "enum": [
            "BARCODE_TYPE_UNSPECIFIED",
            "AZTEC",
            "aztec",
            "CODE_39",
            "code39",
            "CODE_128",
            "code128",
            "CODABAR",
            "codabar",
            "DATA_MATRIX",
            "dataMatrix",
            "EAN_8",
            "ean8",
            "EAN_13",
            "ean13",
            "EAN13",
            "ITF_14",
            "itf14",
            "PDF_417",
            "pdf417",
            "PDF417",
            "QR_CODE",
            "qrCode",
            "qrcode",
            "UPC_A",
            "upcA",
            "TEXT_ONLY",
            "textOnly"
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            true,
            true,
            false,
            true,
            false,
            true,
            true,
            false,
            true,
            true,
            false,
            true,
            false,
            true
          ],
          "description": "The type of barcode."
        },
        "value": {
          "description": "The value encoded in the barcode.",
          "type": "string"
        },
        "alternateText": {
          "type": "string",
          "description": "An optional text that will override the default text that shows under the barcode. This field is intended for a human readable equivalent of the barcode value, used when the barcode cannot be scanned."
        }
      },
      "id": "Barcode",
      "type": "object"
    },
    "Money": {
      "id": "Money",
      "properties": {
        "micros": {
          "type": "string",
          "format": "int64",
          "description": "The unit of money amount in micros. For example, $1 USD would be represented as 1000000 micros."
        },
        "currencyCode": {
          "description": "The currency code, such as \"USD\" or \"EUR.\"",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#money\"`.",
          "deprecated": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "DiscoverableProgramMerchantSigninInfo": {
      "description": "Information about the merchant hosted signin flow for a program.",
      "id": "DiscoverableProgramMerchantSigninInfo",
      "properties": {
        "signinWebsite": {
          "$ref": "Uri",
          "description": "The URL to direct the user to for the merchant's signin site."
        }
      },
      "type": "object"
    },
    "Pagination": {
      "type": "object",
      "properties": {
        "resultsPerPage": {
          "type": "integer",
          "description": "Number of results returned in this page.",
          "format": "int32"
        },
        "kind": {
          "type": "string",
          "deprecated": true,
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#pagination\"`."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Page token to send to fetch the next page."
        }
      },
      "id": "Pagination"
    },
    "OfferClassAddMessageResponse": {
      "properties": {
        "resource": {
          "$ref": "OfferClass",
          "description": "The updated OfferClass resource."
        }
      },
      "id": "OfferClassAddMessageResponse",
      "type": "object"
    },
    "CardTemplateOverride": {
      "type": "object",
      "id": "CardTemplateOverride",
      "properties": {
        "cardRowTemplateInfos": {
          "type": "array",
          "description": "Template information for rows in the card view. At most three rows are allowed to be specified.",
          "items": {
            "$ref": "CardRowTemplateInfo"
          }
        }
      }
    },
    "AppLinkDataAppLinkInfo": {
      "id": "AppLinkDataAppLinkInfo",
      "type": "object",
      "properties": {
        "appTarget": {
          "$ref": "AppLinkDataAppLinkInfoAppTarget",
          "description": "Url to follow when opening the App Link Module on clients. It will be used by partners to open their webpage or deeplink into their app."
        },
        "title": {
          "description": "String to be displayed in the title of the App Link Module Required",
          "$ref": "LocalizedString"
        },
        "appLogoImage": {
          "$ref": "Image",
          "description": "Optional image to be displayed in the App Link Module"
        },
        "description": {
          "description": "String to be displayed in the description of the App Link Module Required",
          "$ref": "LocalizedString"
        }
      }
    },
    "FrequentFlyerInfo": {
      "type": "object",
      "id": "FrequentFlyerInfo",
      "properties": {
        "kind": {
          "type": "string",
          "deprecated": true,
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#frequentFlyerInfo\"`."
        },
        "frequentFlyerNumber": {
          "description": "Frequent flyer number. Required for each nested object of kind `walletobjects#frequentFlyerInfo`.",
          "type": "string"
        },
        "frequentFlyerProgramName": {
          "$ref": "LocalizedString",
          "description": "Frequent flyer program name. eg: \"Lufthansa Miles & More\""
        }
      }
    },
    "MediaRequestInfo": {
      "description": "Extra information added to operations that support Scotty media requests.",
      "type": "object",
      "id": "MediaRequestInfo",
      "properties": {
        "requestReceivedParamsServingInfo": {
          "description": "The partition of the Scotty server handling this request. type is uploader_service.RequestReceivedParamsServingInfo LINT.IfChange(request_received_params_serving_info_annotations) LINT.ThenChange()",
          "type": "string",
          "format": "byte"
        },
        "customData": {
          "type": "string",
          "description": "Data to be copied to backend requests. Custom data is returned to Scotty in the agent_state field, which Scotty will then provide in subsequent upload notifications."
        },
        "requestId": {
          "description": "The Scotty request ID.",
          "type": "string"
        },
        "currentBytes": {
          "type": "string",
          "format": "int64",
          "description": "The number of current bytes uploaded or downloaded."
        },
        "totalBytes": {
          "description": "The total size of the file.",
          "type": "string",
          "format": "int64"
        },
        "notificationType": {
          "type": "string",
          "description": "The type of notification received from Scotty.",
          "enumDescriptions": [
            "Such requests signals the start of a request containing media upload. Only the media field(s) in the inserted/updated resource are set. The response should either return an error or succeed. On success, responses don't need to contain anything.",
            "Such requests signals that the upload has progressed and that the backend might want to access the media file specified in relevant fields in the resource. Only the media field(s) in the inserted/updated resource are set. The response should either return an error or succeed. On success, responses don't need to contain anything.",
            "Such requests signals the end of a request containing media upload. END should be handled just like normal Insert/Upload requests, that is, they should process the request and return a complete resource in the response. Pointers to media data (a GFS path usually) appear in the relevant fields in the inserted/updated resource. See gdata.Media in data.proto.",
            "Such requests occur after an END and signal that the response has been sent back to the client. RESPONSE_SENT is only sent to the backend if it is configured to receive them. The response does not need to contain anything.",
            "Such requests indicate that an error occurred while processing the request. ERROR is only sent to the backend if it is configured to receive them. It is not guaranteed that all errors will result in this notification to the backend, even if the backend requests them. Since these requests are just for informational purposes, the response does not need to contain anything."
          ],
          "enum": [
            "START",
            "PROGRESS",
            "END",
            "RESPONSE_SENT",
            "ERROR"
          ]
        },
        "totalBytesIsEstimated": {
          "type": "boolean",
          "description": "Whether the total bytes field contains an estimated data."
        },
        "diffObjectVersion": {
          "description": "Set if the http request info is diff encoded. The value of this field is the version number of the base revision. This is corresponding to Apiary's mediaDiffObjectVersion (//depot/google3/java/com/google/api/server/media/variable/DiffObjectVersionVariable.java). See go/esf-scotty-diff-upload for more information.",
          "type": "string"
        },
        "finalStatus": {
          "format": "int32",
          "description": "The existence of the final_status field indicates that this is the last call to the agent for this request_id. http://google3/uploader/agent/scotty_agent.proto?l=737&rcl=347601929",
          "type": "integer"
        }
      }
    },
    "LocalizedString": {
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "deprecated": true,
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#localizedString\"`."
        },
        "translatedValues": {
          "items": {
            "$ref": "TranslatedString"
          },
          "type": "array",
          "description": "Contains the translations for the string."
        },
        "defaultValue": {
          "description": "Contains the string to be displayed if no appropriate translation is available.",
          "$ref": "TranslatedString"
        }
      },
      "id": "LocalizedString"
    },
    "GenericObjectAddMessageResponse": {
      "description": "Response to adding a new issuer message to the object. This contains the entire updated GenericObject.",
      "type": "object",
      "properties": {
        "resource": {
          "$ref": "GenericObject",
          "description": "The updated GenericObject resource."
        }
      },
      "id": "GenericObjectAddMessageResponse"
    },
    "IssuerToUserInfo": {
      "id": "IssuerToUserInfo",
      "type": "object",
      "properties": {
        "action": {
          "enum": [
            "ACTION_UNSPECIFIED",
            "S2AP",
            "s2ap",
            "SIGN_UP",
            "signUp"
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true
          ],
          "enumDescriptions": [
            "",
            "",
            "Legacy alias for `S2AP`. Deprecated.",
            "",
            "Legacy alias for `SIGN_UP`. Deprecated."
          ],
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "JSON web token for action S2AP."
        },
        "signUpInfo": {
          "$ref": "SignUpInfo"
        },
        "url": {
          "description": "Currently not used, consider deprecating.",
          "type": "string"
        }
      }
    },
    "LoyaltyObjectAddMessageResponse": {
      "type": "object",
      "id": "LoyaltyObjectAddMessageResponse",
      "properties": {
        "resource": {
          "$ref": "LoyaltyObject",
          "description": "The updated LoyaltyObject resource."
        }
      }
    },
    "GenericObject": {
      "type": "object",
      "properties": {
        "rotatingBarcode": {
          "$ref": "RotatingBarcode",
          "description": "The rotating barcode settings/details."
        },
        "hexBackgroundColor": {
          "type": "string",
          "description": "The background color for the card. If not set, the dominant color of the hero image is used, and if no hero image is set, the dominant color of the logo is used and if logo is not set, a color would be chosen by Google."
        },
        "imageModulesData": {
          "type": "array",
          "items": {
            "$ref": "ImageModuleData"
          },
          "description": "Image module data. Only one of the image from class and one from object level will be rendered when both set."
        },
        "state": {
          "description": "The state of the object. This field is used to determine how an object is displayed in the app. For example, an `inactive` object is moved to the \"Expired passes\" section. If this is not provided, the object would be considered `ACTIVE`.",
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            true
          ],
          "enumDescriptions": [
            "",
            "Object is active and displayed to with other active objects.",
            "Legacy alias for `ACTIVE`. Deprecated.",
            "",
            "Legacy alias for `COMPLETED`. Deprecated.",
            "Object is no longer valid (`validTimeInterval` passed).",
            "Legacy alias for `EXPIRED`. Deprecated.",
            "",
            "Legacy alias for `INACTIVE`. Deprecated."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "active",
            "COMPLETED",
            "completed",
            "EXPIRED",
            "expired",
            "INACTIVE",
            "inactive"
          ]
        },
        "classId": {
          "description": "Required. The class associated with this object. The class must be of the same type as this object, must already exist, and must be approved. Class IDs should follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you.",
          "type": "string"
        },
        "linksModuleData": {
          "$ref": "LinksModuleData",
          "description": "Links module data. If `linksModuleData` is also defined on the class, both will be displayed. The maximum number of these fields displayed is 10 from class and 10 from object."
        },
        "logo": {
          "description": "The logo image of the pass. This image is displayed in the card detail view in upper left, and also on the list/thumbnail view. If the logo is not present, the first letter of `cardTitle` would be shown as logo.",
          "$ref": "Image"
        },
        "smartTapRedemptionValue": {
          "description": "The value that will be transmitted to a Smart Tap certified terminal over NFC for this object. The class level fields `enableSmartTap` and `redemptionIssuers` must also be set up correctly in order for the pass to support Smart Tap. Only ASCII characters are supported.",
          "type": "string"
        },
        "wideLogo": {
          "$ref": "Image",
          "description": "The wide logo of the pass. When provided, this will be used in place of the logo in the top left of the card view."
        },
        "validTimeInterval": {
          "$ref": "TimeInterval",
          "description": "The time period this object will be considered valid or usable. When the time period is passed, the object will be considered expired, which will affect the rendering on user's devices."
        },
        "cardTitle": {
          "$ref": "LocalizedString",
          "description": "Required. The header of the pass. This is usually the Business name such as \"XXX Gym\", \"AAA Insurance\". This field is required and appears in the header row at the very top of the pass."
        },
        "notifications": {
          "$ref": "Notifications",
          "description": "The notification settings that are enabled for this object."
        },
        "subheader": {
          "$ref": "LocalizedString",
          "description": "The title label of the pass, such as location where this pass can be used. Appears right above the title in the title row in the pass detail view."
        },
        "textModulesData": {
          "description": "Text module data. If `textModulesData` is also defined on the class, both will be displayed. The maximum number of these fields displayed is 10 from class and 10 from object.",
          "items": {
            "$ref": "TextModuleData"
          },
          "type": "array"
        },
        "header": {
          "$ref": "LocalizedString",
          "description": "Required. The title of the pass, such as \"50% off coupon\" or \"Library card\" or \"Voucher\". This field is required and appears in the title row of the pass detail view."
        },
        "genericType": {
          "type": "string",
          "enum": [
            "GENERIC_TYPE_UNSPECIFIED",
            "GENERIC_SEASON_PASS",
            "GENERIC_UTILITY_BILLS",
            "GENERIC_PARKING_PASS",
            "GENERIC_VOUCHER",
            "GENERIC_GYM_MEMBERSHIP",
            "GENERIC_LIBRARY_MEMBERSHIP",
            "GENERIC_RESERVATIONS",
            "GENERIC_AUTO_INSURANCE",
            "GENERIC_HOME_INSURANCE",
            "GENERIC_ENTRY_TICKET",
            "GENERIC_RECEIPT",
            "GENERIC_OTHER"
          ],
          "enumDescriptions": [
            "Unspecified generic type.",
            "Season pass",
            "Utility bills",
            "Parking pass",
            "Voucher",
            "Gym membership cards",
            "Library membership cards",
            "Reservations",
            "Auto-insurance cards",
            "Home-insurance cards",
            "Entry tickets",
            "Receipts",
            "Other type"
          ],
          "description": "Specify which `GenericType` the card belongs to."
        },
        "groupingInfo": {
          "description": "Information that controls how passes are grouped together.",
          "$ref": "GroupingInfo"
        },
        "heroImage": {
          "$ref": "Image",
          "description": "Banner image displayed on the front of the card if present. The image will be displayed at 100% width."
        },
        "passConstraints": {
          "$ref": "PassConstraints",
          "description": "Pass constraints for the object. Includes limiting NFC and screenshot behaviors."
        },
        "id": {
          "description": "Required. The unique identifier for an object. This ID must be unique across all objects from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`.",
          "type": "string"
        },
        "hasUsers": {
          "type": "boolean",
          "description": "Indicates if the object has users. This field is set by the platform."
        },
        "barcode": {
          "$ref": "Barcode",
          "description": "The barcode type and value. If pass does not have a barcode, we can allow the issuer to set Barcode.alternate_text and display just that."
        },
        "appLinkData": {
          "$ref": "AppLinkData",
          "description": "Information about the partner app link. The maximum number of these fields displayed is 10."
        }
      },
      "description": "Generic Object",
      "id": "GenericObject"
    },
    "GiftCardObject": {
      "type": "object",
      "properties": {
        "smartTapRedemptionValue": {
          "type": "string",
          "description": "The value that will be transmitted to a Smart Tap certified terminal over NFC for this object. The class level fields `enableSmartTap` and `redemptionIssuers` must also be set up correctly in order for the pass to support Smart Tap. Only ASCII characters are supported."
        },
        "balanceUpdateTime": {
          "description": "The date and time when the balance was last updated. Offset is required. If balance is updated and this property is not provided, system will default to the current time.",
          "$ref": "DateTime"
        },
        "pin": {
          "description": "The card's PIN.",
          "type": "string"
        },
        "passConstraints": {
          "$ref": "PassConstraints",
          "description": "Pass constraints for the object. Includes limiting NFC and screenshot behaviors."
        },
        "validTimeInterval": {
          "$ref": "TimeInterval",
          "description": "The time period this object will be `active` and object can be used. An object's state will be changed to `expired` when this time period has passed."
        },
        "state": {
          "type": "string",
          "description": "Required. The state of the object. This field is used to determine how an object is displayed in the app. For example, an `inactive` object is moved to the \"Expired passes\" section.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "active",
            "COMPLETED",
            "completed",
            "EXPIRED",
            "expired",
            "INACTIVE",
            "inactive"
          ],
          "enumDescriptions": [
            "",
            "Object is active and displayed to with other active objects.",
            "Legacy alias for `ACTIVE`. Deprecated.",
            "",
            "Legacy alias for `COMPLETED`. Deprecated.",
            "Object is no longer valid (`validTimeInterval` passed).",
            "Legacy alias for `EXPIRED`. Deprecated.",
            "",
            "Legacy alias for `INACTIVE`. Deprecated."
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            true
          ]
        },
        "cardNumber": {
          "description": "Required. The card's number.",
          "type": "string"
        },
        "messages": {
          "description": "An array of messages displayed in the app. All users of this object will receive its associated messages. The maximum number of these fields is 10.",
          "type": "array",
          "items": {
            "$ref": "Message"
          }
        },
        "textModulesData": {
          "type": "array",
          "description": "Text module data. If text module data is also defined on the class, both will be displayed. The maximum number of these fields displayed is 10 from the object and 10 from the class.",
          "items": {
            "$ref": "TextModuleData"
          }
        },
        "appLinkData": {
          "description": "Optional information about the partner app link.",
          "$ref": "AppLinkData"
        },
        "imageModulesData": {
          "description": "Image module data. The maximum number of these fields displayed is 1 from object level and 1 for class object level.",
          "items": {
            "$ref": "ImageModuleData"
          },
          "type": "array"
        },
        "classReference": {
          "description": "A copy of the inherited fields of the parent class. These fields are retrieved during a GET.",
          "$ref": "GiftCardClass"
        },
        "hasLinkedDevice": {
          "type": "boolean",
          "description": "Whether this object is currently linked to a single device. This field is set by the platform when a user saves the object, linking it to their device. Intended for use by select partners. Contact support for additional information."
        },
        "barcode": {
          "description": "The barcode type and value.",
          "$ref": "Barcode"
        },
        "heroImage": {
          "$ref": "Image",
          "description": "Optional banner image displayed on the front of the card. If none is present, hero image of the class, if present, will be displayed. If hero image of the class is also not present, nothing will be displayed."
        },
        "disableExpirationNotification": {
          "type": "boolean",
          "description": "Indicates if notifications should explicitly be suppressed. If this field is set to true, regardless of the `messages` field, expiration notifications to the user will be suppressed. By default, this field is set to false. Currently, this can only be set for offers."
        },
        "classId": {
          "type": "string",
          "description": "Required. The class associated with this object. The class must be of the same type as this object, must already exist, and must be approved. Class IDs should follow the format issuer ID.identifier where the former is issued by Google and latter is chosen by you."
        },
        "linksModuleData": {
          "description": "Links module data. If links module data is also defined on the class, both will be displayed.",
          "$ref": "LinksModuleData"
        },
        "id": {
          "description": "Required. The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID.identifier where the former is issued by Google and latter is chosen by you. The unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
          "type": "string"
        },
        "rotatingBarcode": {
          "description": "The rotating barcode type and value.",
          "$ref": "RotatingBarcode"
        },
        "balance": {
          "$ref": "Money",
          "description": "The card's monetary balance."
        },
        "locations": {
          "type": "array",
          "description": "Note: This field is currently not supported to trigger geo notifications.",
          "items": {
            "$ref": "LatLongPoint"
          }
        },
        "hasUsers": {
          "description": "Indicates if the object has users. This field is set by the platform.",
          "type": "boolean"
        },
        "groupingInfo": {
          "description": "Information that controls how passes are grouped together.",
          "$ref": "GroupingInfo"
        },
        "kind": {
          "type": "string",
          "deprecated": true,
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#giftCardObject\"`."
        },
        "version": {
          "format": "int64",
          "type": "string",
          "deprecated": true,
          "description": "Deprecated"
        },
        "eventNumber": {
          "description": "The card's event number, an optional field used by some gift cards.",
          "type": "string"
        },
        "infoModuleData": {
          "description": "Deprecated. Use textModulesData instead.",
          "$ref": "InfoModuleData"
        }
      },
      "id": "GiftCardObject"
    },
    "FlightClass": {
      "id": "FlightClass",
      "properties": {
        "destination": {
          "$ref": "AirportInfo",
          "description": "Required. Destination airport."
        },
        "localScheduledArrivalDateTime": {
          "description": "The scheduled time the aircraft plans to reach the destination gate (not the runway). Note: This field should not change too close to the flight time. For updates to departure times (delays, etc), please set `localEstimatedOrActualArrivalDateTime`. This is an ISO 8601 extended format date/time without an offset. Time may be specified up to millisecond precision. eg: `2027-03-05T06:30:00` This should be the local date/time at the airport (not a UTC time). Google will reject the request if UTC offset is provided. Time zones will be calculated by Google based on arrival airport. If this is not set, Google will set it based on data from other sources.",
          "type": "string"
        },
        "homepageUri": {
          "$ref": "Uri",
          "description": "The URI of your application's home page. Populating the URI in this field results in the exact same behavior as populating an URI in linksModuleData (when an object is rendered, a link to the homepage is shown in what would usually be thought of as the linksModuleData section of the object)."
        },
        "messages": {
          "type": "array",
          "description": "An array of messages displayed in the app. All users of this object will receive its associated messages. The maximum number of these fields is 10.",
          "items": {
            "$ref": "Message"
          }
        },
        "localGateClosingDateTime": {
          "type": "string",
          "description": "The gate closing time as it would be printed on the boarding pass. Do not set this field if you do not want to print it in the boarding pass. This is an ISO 8601 extended format date/time without an offset. Time may be specified up to millisecond precision. eg: `2027-03-05T06:30:00` This should be the local date/time at the airport (not a UTC time). Google will reject the request if UTC offset is provided. Time zones will be calculated by Google based on departure airport."
        },
        "boardingAndSeatingPolicy": {
          "$ref": "BoardingAndSeatingPolicy",
          "description": "Policies for boarding and seating. These will inform which labels will be shown to users."
        },
        "infoModuleData": {
          "deprecated": true,
          "description": "Deprecated. Use textModulesData instead.",
          "$ref": "InfoModuleData"
        },
        "heroImage": {
          "description": "Optional banner image displayed on the front of the card. If none is present, nothing will be displayed. The image will display at 100% width.",
          "$ref": "Image"
        },
        "allowMultipleUsersPerObject": {
          "type": "boolean",
          "deprecated": true,
          "description": "Deprecated. Use `multipleDevicesAndHoldersAllowedStatus` instead."
        },
        "localEstimatedOrActualArrivalDateTime": {
          "description": "The estimated time the aircraft plans to reach the destination gate (not the runway) or the actual time it reached the gate. This field should be set if at least one of the below is true: - It differs from the scheduled time. Google will use it to calculate the delay. - The aircraft already arrived at the gate. Google will use it to inform the user that the flight has arrived at the gate. This is an ISO 8601 extended format date/time without an offset. Time may be specified up to millisecond precision. eg: `2027-03-05T06:30:00` This should be the local date/time at the airport (not a UTC time). Google will reject the request if UTC offset is provided. Time zones will be calculated by Google based on arrival airport. If this is not set, Google will set it based on data from other sources.",
          "type": "string"
        },
        "callbackOptions": {
          "$ref": "CallbackOptions",
          "description": "Callback options to be used to call the issuer back for every save/delete of an object for this class by the end-user. All objects of this class are eligible for the callback."
        },
        "hexBackgroundColor": {
          "description": "The background color for the card. If not set the dominant color of the hero image is used, and if no hero image is set, the dominant color of the logo is used. The format is #rrggbb where rrggbb is a hex RGB triplet, such as `#ffcc00`. You can also use the shorthand version of the RGB triplet which is #rgb, such as `#fc0`.",
          "type": "string"
        },
        "linksModuleData": {
          "description": "Links module data. If links module data is also defined on the object, both will be displayed.",
          "$ref": "LinksModuleData"
        },
        "viewUnlockRequirement": {
          "description": "View Unlock Requirement options for the boarding pass.",
          "enum": [
            "VIEW_UNLOCK_REQUIREMENT_UNSPECIFIED",
            "UNLOCK_NOT_REQUIRED",
            "UNLOCK_REQUIRED_TO_VIEW"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value, same as UNLOCK_NOT_REQUIRED.",
            "Default behavior for all the existing Passes if ViewUnlockRequirement is not set.",
            "Requires the user to unlock their device each time the pass is viewed. If the user removes their device lock after saving the pass, then they will be prompted to create a device lock before the pass can be viewed."
          ]
        },
        "securityAnimation": {
          "$ref": "SecurityAnimation",
          "description": "Optional information about the security animation. If this is set a security animation will be rendered on pass details."
        },
        "redemptionIssuers": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array",
          "description": "Identifies which redemption issuers can redeem the pass over Smart Tap. Redemption issuers are identified by their issuer ID. Redemption issuers must have at least one Smart Tap key configured. The `enableSmartTap` and object level `smartTapRedemptionLevel` fields must also be set up correctly in order for a pass to support Smart Tap."
        },
        "localScheduledDepartureDateTime": {
          "type": "string",
          "description": "Required. The scheduled date and time when the aircraft is expected to depart the gate (not the runway) Note: This field should not change too close to the departure time. For updates to departure times (delays, etc), please set `localEstimatedOrActualDepartureDateTime`. This is an ISO 8601 extended format date/time without an offset. Time may be specified up to millisecond precision. eg: `2027-03-05T06:30:00` This should be the local date/time at the airport (not a UTC time). Google will reject the request if UTC offset is provided. Time zones will be calculated by Google based on departure airport."
        },
        "flightStatus": {
          "enum": [
            "FLIGHT_STATUS_UNSPECIFIED",
            "SCHEDULED",
            "scheduled",
            "ACTIVE",
            "active",
            "LANDED",
            "landed",
            "CANCELLED",
            "cancelled",
            "REDIRECTED",
            "redirected",
            "DIVERTED",
            "diverted"
          ],
          "enumDescriptions": [
            "",
            "Flight is on time, early, or delayed.",
            "Legacy alias for `SCHEDULED`. Deprecated.",
            "Flight is in progress (taxiing, taking off, landing, airborne).",
            "Legacy alias for `ACTIVE`. Deprecated.",
            "Flight landed at the original destination.",
            "Legacy alias for `LANDED`. Deprecated.",
            "Flight is cancelled.",
            "Legacy alias for `CANCELLED`. Deprecated.",
            "Flight is airborne but heading to a different airport than the original destination.",
            "Legacy alias for `REDIRECTED`. Deprecated.",
            "Flight has already landed at a different airport than the original destination.",
            "Legacy alias for `DIVERTED`. Deprecated."
          ],
          "type": "string",
          "description": "Status of this flight. If unset, Google will compute status based on data from other sources, such as FlightStats, etc. Note: Google-computed status will not be returned in API responses.",
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            true
          ]
        },
        "reviewStatus": {
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            true
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "Legacy alias for `UNDER_REVIEW`. Deprecated.",
            "",
            "Legacy alias for `APPROVED`. Deprecated.",
            "",
            "Legacy alias for `REJECTED`. Deprecated.",
            "",
            "Legacy alias for `DRAFT`. Deprecated."
          ],
          "description": "Required. The status of the class. This field can be set to `draft` or `underReview` using the insert, patch, or update API calls. Once the review state is changed from `draft` it may not be changed back to `draft`. You should keep this field to `draft` when the class is under development. A `draft` class cannot be used to create any object. You should set this field to `underReview` when you believe the class is ready for use. The platform will automatically set this field to `approved` and it can be immediately used to create or migrate objects. When updating an already `approved` class you should keep setting this field to `underReview`.",
          "enum": [
            "REVIEW_STATUS_UNSPECIFIED",
            "UNDER_REVIEW",
            "underReview",
            "APPROVED",
            "approved",
            "REJECTED",
            "rejected",
            "DRAFT",
            "draft"
          ]
        },
        "locations": {
          "type": "array",
          "items": {
            "$ref": "LatLongPoint"
          },
          "description": "Note: This field is currently not supported to trigger geo notifications."
        },
        "localizedIssuerName": {
          "$ref": "LocalizedString",
          "description": "Translated strings for the issuer_name. Recommended maximum length is 20 characters to ensure full string is displayed on smaller screens."
        },
        "id": {
          "description": "Required. The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
          "type": "string"
        },
        "kind": {
          "deprecated": true,
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#flightClass\"`.",
          "type": "string"
        },
        "countryCode": {
          "type": "string",
          "description": "Country code used to display the card's country (when the user is not in that country), as well as to display localized content when content is not available in the user's locale."
        },
        "flightHeader": {
          "$ref": "FlightHeader",
          "description": "Required. Information about the flight carrier and number."
        },
        "issuerName": {
          "description": "Required. The issuer name. Recommended maximum length is 20 characters to ensure full string is displayed on smaller screens.",
          "type": "string"
        },
        "enableSmartTap": {
          "description": "Identifies whether this class supports Smart Tap. The `redemptionIssuers` and object level `smartTapRedemptionLevel` fields must also be set up correctly in order for a pass to support Smart Tap.",
          "type": "boolean"
        },
        "classTemplateInfo": {
          "description": "Template information about how the class should be displayed. If unset, Google will fallback to a default set of fields to display.",
          "$ref": "ClassTemplateInfo"
        },
        "wordMark": {
          "description": "Deprecated.",
          "$ref": "Image",
          "deprecated": true
        },
        "imageModulesData": {
          "items": {
            "$ref": "ImageModuleData"
          },
          "description": "Image module data. The maximum number of these fields displayed is 1 from object level and 1 for class object level.",
          "type": "array"
        },
        "multipleDevicesAndHoldersAllowedStatus": {
          "type": "string",
          "enum": [
            "STATUS_UNSPECIFIED",
            "MULTIPLE_HOLDERS",
            "ONE_USER_ALL_DEVICES",
            "ONE_USER_ONE_DEVICE",
            "multipleHolders",
            "oneUserAllDevices",
            "oneUserOneDevice"
          ],
          "enumDescriptions": [
            "Unspecified preference.",
            "The Pass object is shareable by a user and can be saved by any number of different users, and on any number of devices. Partners typically use this setup for passes that do not need to be restricted to a single user or pinned to a single device.",
            "An object can only be saved by one user, but this user can view and use it on multiple of their devices. Once the first user saves the object, no other user will be allowed to view or save it.",
            "An object can only be saved by one user on a single device. Intended for use by select partners in limited circumstances. An example use case is a transit ticket that should be \"device pinned\", meaning it can be saved, viewed and used only by a single user on a single device. Contact support for additional information.",
            "Legacy alias for `MULTIPLE_HOLDERS`. Deprecated.",
            "Legacy alias for `ONE_USER_ALL_DEVICES`. Deprecated.",
            "Legacy alias for `ONE_USER_ONE_DEVICE`. Deprecated."
          ],
          "description": "Identifies whether multiple users and devices will save the same object referencing this class.",
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            true,
            true,
            true
          ]
        },
        "origin": {
          "$ref": "AirportInfo",
          "description": "Required. Origin airport."
        },
        "version": {
          "format": "int64",
          "type": "string",
          "description": "Deprecated",
          "deprecated": true
        },
        "textModulesData": {
          "items": {
            "$ref": "TextModuleData"
          },
          "type": "array",
          "description": "Text module data. If text module data is also defined on the class, both will be displayed. The maximum number of these fields displayed is 10 from the object and 10 from the class."
        },
        "localBoardingDateTime": {
          "description": "The boarding time as it would be printed on the boarding pass. This is an ISO 8601 extended format date/time without an offset. Time may be specified up to millisecond precision. eg: `2027-03-05T06:30:00` This should be the local date/time at the airport (not a UTC time). Google will reject the request if UTC offset is provided. Time zones will be calculated by Google based on departure airport. If this is not set, Google will set it based on data from other sources.",
          "type": "string"
        },
        "languageOverride": {
          "description": "If this field is present, boarding passes served to a user's device will always be in this language. Represents the BCP 47 language tag. Example values are \"en-US\", \"en-GB\", \"de\", or \"de-AT\".",
          "type": "string"
        },
        "localEstimatedOrActualDepartureDateTime": {
          "description": "The estimated time the aircraft plans to pull from the gate or the actual time the aircraft already pulled from the gate. Note: This is not the runway time. This field should be set if at least one of the below is true: - It differs from the scheduled time. Google will use it to calculate the delay. - The aircraft already pulled from the gate. Google will use it to inform the user when the flight actually departed. This is an ISO 8601 extended format date/time without an offset. Time may be specified up to millisecond precision. eg: `2027-03-05T06:30:00` This should be the local date/time at the airport (not a UTC time). Google will reject the request if UTC offset is provided. Time zones will be calculated by Google based on departure airport. If this is not set, Google will set it based on data from other sources.",
          "type": "string"
        },
        "review": {
          "description": "The review comments set by the platform when a class is marked `approved` or `rejected`.",
          "$ref": "Review"
        }
      },
      "type": "object"
    },
    "ClassTemplateInfo": {
      "id": "ClassTemplateInfo",
      "type": "object",
      "properties": {
        "detailsTemplateOverride": {
          "$ref": "DetailsTemplateOverride",
          "description": "Override for the details view (beneath the card view)."
        },
        "cardTemplateOverride": {
          "description": "Override for the card view.",
          "$ref": "CardTemplateOverride"
        },
        "listTemplateOverride": {
          "$ref": "ListTemplateOverride",
          "description": "Override for the passes list view."
        },
        "cardBarcodeSectionDetails": {
          "$ref": "CardBarcodeSectionDetails",
          "description": "Specifies extra information to be displayed above and below the barcode."
        }
      }
    },
    "LabelValueRow": {
      "type": "object",
      "properties": {
        "columns": {
          "description": "A list of labels and values. These will be displayed in a singular column, one after the other, not in multiple columns, despite the field name.",
          "items": {
            "$ref": "LabelValue"
          },
          "type": "array"
        }
      },
      "id": "LabelValueRow"
    },
    "EventTicketObject": {
      "type": "object",
      "id": "EventTicketObject",
      "properties": {
        "hasLinkedDevice": {
          "description": "Whether this object is currently linked to a single device. This field is set by the platform when a user saves the object, linking it to their device. Intended for use by select partners. Contact support for additional information.",
          "type": "boolean"
        },
        "id": {
          "type": "string",
          "description": "Required. The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID.identifier where the former is issued by Google and latter is chosen by you. The unique identifier should only include alphanumeric characters, '.', '_', or '-'."
        },
        "appLinkData": {
          "description": "Optional information about the partner app link.",
          "$ref": "AppLinkData"
        },
        "hexBackgroundColor": {
          "type": "string",
          "description": "The background color for the card. If not set the dominant color of the hero image is used, and if no hero image is set, the dominant color of the logo is used. The format is #rrggbb where rrggbb is a hex RGB triplet, such as `#ffcc00`. You can also use the shorthand version of the RGB triplet which is #rgb, such as `#fc0`."
        },
        "textModulesData": {
          "type": "array",
          "description": "Text module data. If text module data is also defined on the class, both will be displayed. The maximum number of these fields displayed is 10 from the object and 10 from the class.",
          "items": {
            "$ref": "TextModuleData"
          }
        },
        "classReference": {
          "description": "A copy of the inherited fields of the parent class. These fields are retrieved during a GET.",
          "$ref": "EventTicketClass"
        },
        "kind": {
          "deprecated": true,
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#eventTicketObject\"`.",
          "type": "string"
        },
        "heroImage": {
          "description": "Optional banner image displayed on the front of the card. If none is present, hero image of the class, if present, will be displayed. If hero image of the class is also not present, nothing will be displayed.",
          "$ref": "Image"
        },
        "seatInfo": {
          "$ref": "EventSeat",
          "description": "Seating details for this ticket."
        },
        "ticketHolderName": {
          "type": "string",
          "description": "Name of the ticket holder, if the ticket is assigned to a person. E.g. \"John Doe\" or \"Jane Doe\"."
        },
        "validTimeInterval": {
          "$ref": "TimeInterval",
          "description": "The time period this object will be `active` and object can be used. An object's state will be changed to `expired` when this time period has passed."
        },
        "disableExpirationNotification": {
          "type": "boolean",
          "description": "Indicates if notifications should explicitly be suppressed. If this field is set to true, regardless of the `messages` field, expiration notifications to the user will be suppressed. By default, this field is set to false. Currently, this can only be set for offers."
        },
        "version": {
          "type": "string",
          "format": "int64",
          "deprecated": true,
          "description": "Deprecated"
        },
        "hasUsers": {
          "type": "boolean",
          "description": "Indicates if the object has users. This field is set by the platform."
        },
        "ticketNumber": {
          "description": "The number of the ticket. This can be a unique identifier across all tickets in an issuer's system, all tickets for the event (e.g. XYZ1234512345), or all tickets in the order (1, 2, 3, etc.).",
          "type": "string"
        },
        "passConstraints": {
          "description": "Pass constraints for the object. Includes limiting NFC and screenshot behaviors.",
          "$ref": "PassConstraints"
        },
        "faceValue": {
          "description": "The face value of the ticket, matching what would be printed on a physical version of the ticket.",
          "$ref": "Money"
        },
        "linkedOfferIds": {
          "type": "array",
          "description": "A list of offer objects linked to this event ticket. The offer objects must already exist. Offer object IDs should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you.",
          "items": {
            "type": "string"
          }
        },
        "smartTapRedemptionValue": {
          "type": "string",
          "description": "The value that will be transmitted to a Smart Tap certified terminal over NFC for this object. The class level fields `enableSmartTap` and `redemptionIssuers` must also be set up correctly in order for the pass to support Smart Tap. Only ASCII characters are supported."
        },
        "infoModuleData": {
          "$ref": "InfoModuleData",
          "description": "Deprecated. Use textModulesData instead."
        },
        "reservationInfo": {
          "description": "Reservation details for this ticket. This is expected to be shared amongst all tickets that were purchased in the same order.",
          "$ref": "EventReservationInfo"
        },
        "messages": {
          "description": "An array of messages displayed in the app. All users of this object will receive its associated messages. The maximum number of these fields is 10.",
          "items": {
            "$ref": "Message"
          },
          "type": "array"
        },
        "classId": {
          "description": "Required. The class associated with this object. The class must be of the same type as this object, must already exist, and must be approved. Class IDs should follow the format issuer ID.identifier where the former is issued by Google and latter is chosen by you.",
          "type": "string"
        },
        "imageModulesData": {
          "type": "array",
          "description": "Image module data. The maximum number of these fields displayed is 1 from object level and 1 for class object level.",
          "items": {
            "$ref": "ImageModuleData"
          }
        },
        "ticketType": {
          "description": "The type of the ticket, such as \"Adult\" or \"Child\", or \"VIP\" or \"Standard\".",
          "$ref": "LocalizedString"
        },
        "linksModuleData": {
          "description": "Links module data. If links module data is also defined on the class, both will be displayed.",
          "$ref": "LinksModuleData"
        },
        "rotatingBarcode": {
          "$ref": "RotatingBarcode",
          "description": "The rotating barcode type and value."
        },
        "locations": {
          "items": {
            "$ref": "LatLongPoint"
          },
          "type": "array",
          "description": "Note: This field is currently not supported to trigger geo notifications."
        },
        "barcode": {
          "description": "The barcode type and value.",
          "$ref": "Barcode"
        },
        "groupingInfo": {
          "description": "Information that controls how passes are grouped together.",
          "$ref": "GroupingInfo"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "active",
            "COMPLETED",
            "completed",
            "EXPIRED",
            "expired",
            "INACTIVE",
            "inactive"
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            true
          ],
          "description": "Required. The state of the object. This field is used to determine how an object is displayed in the app. For example, an `inactive` object is moved to the \"Expired passes\" section.",
          "enumDescriptions": [
            "",
            "Object is active and displayed to with other active objects.",
            "Legacy alias for `ACTIVE`. Deprecated.",
            "",
            "Legacy alias for `COMPLETED`. Deprecated.",
            "Object is no longer valid (`validTimeInterval` passed).",
            "Legacy alias for `EXPIRED`. Deprecated.",
            "",
            "Legacy alias for `INACTIVE`. Deprecated."
          ]
        }
      }
    },
    "GenericClassListResponse": {
      "type": "object",
      "id": "GenericClassListResponse",
      "properties": {
        "pagination": {
          "description": "Pagination of the response.",
          "$ref": "Pagination"
        },
        "resources": {
          "description": "Resources corresponding to the list request.",
          "items": {
            "$ref": "GenericClass"
          },
          "type": "array"
        }
      },
      "description": "List response which contains the list of all generic classes for a given issuer ID."
    },
    "AuthenticationKey": {
      "properties": {
        "publicKeyPem": {
          "type": "string",
          "description": "Available only to Smart Tap enabled partners. Contact support for additional guidance."
        },
        "id": {
          "type": "integer",
          "format": "int32",
          "description": "Available only to Smart Tap enabled partners. Contact support for additional guidance."
        }
      },
      "type": "object",
      "id": "AuthenticationKey"
    },
    "JwtResource": {
      "id": "JwtResource",
      "properties": {
        "jwt": {
          "type": "string",
          "description": "A string representing a JWT of the format described at https://developers.google.com/wallet/reference/rest/v1/Jwt"
        }
      },
      "type": "object"
    },
    "OfferObject": {
      "properties": {
        "textModulesData": {
          "items": {
            "$ref": "TextModuleData"
          },
          "description": "Text module data. If text module data is also defined on the class, both will be displayed. The maximum number of these fields displayed is 10 from the object and 10 from the class.",
          "type": "array"
        },
        "kind": {
          "deprecated": true,
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#offerObject\"`.",
          "type": "string"
        },
        "barcode": {
          "description": "The barcode type and value.",
          "$ref": "Barcode"
        },
        "classReference": {
          "$ref": "OfferClass",
          "description": "A copy of the inherited fields of the parent class. These fields are retrieved during a GET."
        },
        "validTimeInterval": {
          "$ref": "TimeInterval",
          "description": "The time period this object will be `active` and object can be used. An object's state will be changed to `expired` when this time period has passed."
        },
        "passConstraints": {
          "$ref": "PassConstraints",
          "description": "Pass constraints for the object. Includes limiting NFC and screenshot behaviors."
        },
        "linksModuleData": {
          "description": "Links module data. If links module data is also defined on the class, both will be displayed.",
          "$ref": "LinksModuleData"
        },
        "infoModuleData": {
          "$ref": "InfoModuleData",
          "description": "Deprecated. Use textModulesData instead."
        },
        "id": {
          "type": "string",
          "description": "Required. The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID.identifier where the former is issued by Google and latter is chosen by you. The unique identifier should only include alphanumeric characters, '.', '_', or '-'."
        },
        "hasUsers": {
          "type": "boolean",
          "description": "Indicates if the object has users. This field is set by the platform."
        },
        "smartTapRedemptionValue": {
          "description": "The value that will be transmitted to a Smart Tap certified terminal over NFC for this object. The class level fields `enableSmartTap` and `redemptionIssuers` must also be set up correctly in order for the pass to support Smart Tap. Only ASCII characters are supported.",
          "type": "string"
        },
        "appLinkData": {
          "$ref": "AppLinkData",
          "description": "Optional information about the partner app link."
        },
        "groupingInfo": {
          "$ref": "GroupingInfo",
          "description": "Information that controls how passes are grouped together."
        },
        "messages": {
          "items": {
            "$ref": "Message"
          },
          "description": "An array of messages displayed in the app. All users of this object will receive its associated messages. The maximum number of these fields is 10.",
          "type": "array"
        },
        "state": {
          "enumDescriptions": [
            "",
            "Object is active and displayed to with other active objects.",
            "Legacy alias for `ACTIVE`. Deprecated.",
            "",
            "Legacy alias for `COMPLETED`. Deprecated.",
            "Object is no longer valid (`validTimeInterval` passed).",
            "Legacy alias for `EXPIRED`. Deprecated.",
            "",
            "Legacy alias for `INACTIVE`. Deprecated."
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            true
          ],
          "description": "Required. The state of the object. This field is used to determine how an object is displayed in the app. For example, an `inactive` object is moved to the \"Expired passes\" section.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "active",
            "COMPLETED",
            "completed",
            "EXPIRED",
            "expired",
            "INACTIVE",
            "inactive"
          ],
          "type": "string"
        },
        "heroImage": {
          "description": "Optional banner image displayed on the front of the card. If none is present, hero image of the class, if present, will be displayed. If hero image of the class is also not present, nothing will be displayed.",
          "$ref": "Image"
        },
        "locations": {
          "items": {
            "$ref": "LatLongPoint"
          },
          "type": "array",
          "description": "Note: This field is currently not supported to trigger geo notifications."
        },
        "disableExpirationNotification": {
          "description": "Indicates if notifications should explicitly be suppressed. If this field is set to true, regardless of the `messages` field, expiration notifications to the user will be suppressed. By default, this field is set to false. Currently, this can only be set for offers.",
          "type": "boolean"
        },
        "version": {
          "deprecated": true,
          "description": "Deprecated",
          "format": "int64",
          "type": "string"
        },
        "imageModulesData": {
          "description": "Image module data. The maximum number of these fields displayed is 1 from object level and 1 for class object level.",
          "items": {
            "$ref": "ImageModuleData"
          },
          "type": "array"
        },
        "hasLinkedDevice": {
          "type": "boolean",
          "description": "Whether this object is currently linked to a single device. This field is set by the platform when a user saves the object, linking it to their device. Intended for use by select partners. Contact support for additional information."
        },
        "rotatingBarcode": {
          "$ref": "RotatingBarcode",
          "description": "The rotating barcode type and value."
        },
        "classId": {
          "description": "Required. The class associated with this object. The class must be of the same type as this object, must already exist, and must be approved. Class IDs should follow the format issuer ID.identifier where the former is issued by Google and latter is chosen by you.",
          "type": "string"
        }
      },
      "id": "OfferObject",
      "type": "object"
    },
    "DeviceContext": {
      "properties": {
        "deviceToken": {
          "type": "string",
          "description": "If set, redemption information will only be returned to the given device upon activation of the object. This should not be used as a stable identifier to trace a user's device. It can change across different passes for the same device or even across different activations for the same device. When setting this, callers must also set has_linked_device on the object being activated."
        }
      },
      "type": "object",
      "id": "DeviceContext",
      "description": "Device context associated with the object."
    },
    "ActivationStatus": {
      "id": "ActivationStatus",
      "description": "The activation status of the object. This field includes activation status if valuable supports activation.",
      "type": "object",
      "properties": {
        "state": {
          "enum": [
            "UNKNOWN_STATE",
            "NOT_ACTIVATED",
            "not_activated",
            "ACTIVATED",
            "activated"
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true
          ],
          "enumDescriptions": [
            "",
            "Not-Activated, this is the default status",
            "Legacy alias for `NOT_ACTIVATED`. Deprecated.",
            "Activated",
            "Legacy alias for `ACTIVATED`. Deprecated."
          ],
          "type": "string"
        }
      }
    },
    "GiftCardObjectAddMessageResponse": {
      "type": "object",
      "properties": {
        "resource": {
          "description": "The updated GiftCardObject resource.",
          "$ref": "GiftCardObject"
        }
      },
      "id": "GiftCardObjectAddMessageResponse"
    },
    "EventVenue": {
      "properties": {
        "kind": {
          "type": "string",
          "deprecated": true,
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#eventVenue\"`."
        },
        "address": {
          "$ref": "LocalizedString",
          "description": "The address of the venue, such as \"24 Willie Mays Plaza\\nSan Francisco, CA 94107\". Address lines are separated by line feed (`\\n`) characters. This is required."
        },
        "name": {
          "description": "The name of the venue, such as \"AT&T Park\". This is required.",
          "$ref": "LocalizedString"
        }
      },
      "type": "object",
      "id": "EventVenue"
    },
    "LoyaltyPointsBalance": {
      "type": "object",
      "properties": {
        "string": {
          "type": "string",
          "description": "The string form of a balance. Only one of these subtypes (string, int, double, money) should be populated."
        },
        "int": {
          "type": "integer",
          "format": "int32",
          "description": "The integer form of a balance. Only one of these subtypes (string, int, double, money) should be populated."
        },
        "money": {
          "$ref": "Money",
          "description": "The money form of a balance. Only one of these subtypes (string, int, double, money) should be populated."
        },
        "double": {
          "type": "number",
          "description": "The double form of a balance. Only one of these subtypes (string, int, double, money) should be populated.",
          "format": "double"
        }
      },
      "id": "LoyaltyPointsBalance"
    },
    "LinksModuleData": {
      "type": "object",
      "id": "LinksModuleData",
      "properties": {
        "uris": {
          "items": {
            "$ref": "Uri"
          },
          "description": "The list of URIs.",
          "type": "array"
        }
      }
    },
    "DiscoverableProgram": {
      "description": "Information about how a class may be discovered and instantiated from within the Android Pay app. This is done by searching for a loyalty or gift card program and scanning or manually entering.",
      "type": "object",
      "properties": {
        "state": {
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true,
            false,
            true
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "TRUSTED_TESTERS",
            "trustedTesters",
            "LIVE",
            "live",
            "DISABLED",
            "disabled"
          ],
          "description": "Visibility state of the discoverable program.",
          "enumDescriptions": [
            "",
            "Visible only to testers that have access to issuer account.",
            "Legacy alias for `TRUSTED_TESTERS`. Deprecated.",
            "Visible to all.",
            "Legacy alias for `LIVE`. Deprecated.",
            "Not visible.",
            "Legacy alias for `DISABLED`. Deprecated."
          ]
        },
        "merchantSignupInfo": {
          "description": "Information about the ability to signup and add a valuable for this program through a merchant site. Used when MERCHANT_HOSTED_SIGNUP is enabled.",
          "$ref": "DiscoverableProgramMerchantSignupInfo"
        },
        "merchantSigninInfo": {
          "$ref": "DiscoverableProgramMerchantSigninInfo",
          "description": "Information about the ability to signin and add a valuable for this program through a merchant site. Used when MERCHANT_HOSTED_SIGNIN is enabled."
        }
      },
      "id": "DiscoverableProgram"
    },
    "DiffVersionResponse": {
      "type": "object",
      "description": "Backend response for a Diff get version response. For details on the Scotty Diff protocol, visit http://go/scotty-diff-protocol.",
      "id": "DiffVersionResponse",
      "properties": {
        "objectVersion": {
          "type": "string",
          "description": "The version of the object stored at the server."
        },
        "objectSizeBytes": {
          "description": "The total size of the server object.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "GenericClassAddMessageResponse": {
      "description": "Response to adding a new issuer message to the class. This contains the entire updated GenericClass.",
      "type": "object",
      "id": "GenericClassAddMessageResponse",
      "properties": {
        "resource": {
          "description": "The updated EventTicketClass resource.",
          "$ref": "GenericClass"
        }
      }
    },
    "GenericClass": {
      "description": "Generic Class",
      "properties": {
        "callbackOptions": {
          "$ref": "CallbackOptions",
          "description": "Callback options to be used to call the issuer back for every save/delete of an object for this class by the end-user. All objects of this class are eligible for the callback."
        },
        "multipleDevicesAndHoldersAllowedStatus": {
          "enum": [
            "STATUS_UNSPECIFIED",
            "MULTIPLE_HOLDERS",
            "ONE_USER_ALL_DEVICES",
            "ONE_USER_ONE_DEVICE",
            "multipleHolders",
            "oneUserAllDevices",
            "oneUserOneDevice"
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            true,
            true,
            true
          ],
          "description": "Identifies whether multiple users and devices will save the same object referencing this class.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified preference.",
            "The Pass object is shareable by a user and can be saved by any number of different users, and on any number of devices. Partners typically use this setup for passes that do not need to be restricted to a single user or pinned to a single device.",
            "An object can only be saved by one user, but this user can view and use it on multiple of their devices. Once the first user saves the object, no other user will be allowed to view or save it.",
            "An object can only be saved by one user on a single device. Intended for use by select partners in limited circumstances. An example use case is a transit ticket that should be \"device pinned\", meaning it can be saved, viewed and used only by a single user on a single device. Contact support for additional information.",
            "Legacy alias for `MULTIPLE_HOLDERS`. Deprecated.",
            "Legacy alias for `ONE_USER_ALL_DEVICES`. Deprecated.",
            "Legacy alias for `ONE_USER_ONE_DEVICE`. Deprecated."
          ]
        },
        "securityAnimation": {
          "description": "Optional information about the security animation. If this is set a security animation will be rendered on pass details.",
          "$ref": "SecurityAnimation"
        },
        "viewUnlockRequirement": {
          "enumDescriptions": [
            "Default value, same as UNLOCK_NOT_REQUIRED.",
            "Default behavior for all the existing Passes if ViewUnlockRequirement is not set.",
            "Requires the user to unlock their device each time the pass is viewed. If the user removes their device lock after saving the pass, then they will be prompted to create a device lock before the pass can be viewed."
          ],
          "description": "View Unlock Requirement options for the generic pass.",
          "type": "string",
          "enum": [
            "VIEW_UNLOCK_REQUIREMENT_UNSPECIFIED",
            "UNLOCK_NOT_REQUIRED",
            "UNLOCK_REQUIRED_TO_VIEW"
          ]
        },
        "linksModuleData": {
          "$ref": "LinksModuleData",
          "description": "Links module data. If `linksModuleData` is also defined on the object, both will be displayed. The maximum number of these fields displayed is 10 from class and 10 from object."
        },
        "classTemplateInfo": {
          "$ref": "ClassTemplateInfo",
          "description": "Template information about how the class should be displayed. If unset, Google will fallback to a default set of fields to display."
        },
        "messages": {
          "description": "An array of messages displayed in the app. All users of this object will receive its associated messages. The maximum number of these fields is 10.",
          "items": {
            "$ref": "Message"
          },
          "type": "array"
        },
        "id": {
          "type": "string",
          "description": "Required. The unique identifier for the class. This ID must be unique across all from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`."
        },
        "textModulesData": {
          "description": "Text module data. If `textModulesData` is also defined on the object, both will be displayed. The maximum number of these fields displayed is 10 from class and 10 from object.",
          "items": {
            "$ref": "TextModuleData"
          },
          "type": "array"
        },
        "imageModulesData": {
          "description": "Image module data. If `imageModulesData` is also defined on the object, both will be displayed. Only one of the image from class and one from object level will be rendered when both set.",
          "type": "array",
          "items": {
            "$ref": "ImageModuleData"
          }
        },
        "redemptionIssuers": {
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          },
          "description": "Identifies which redemption issuers can redeem the pass over Smart Tap. Redemption issuers are identified by their issuer ID. Redemption issuers must have at least one Smart Tap key configured. The `enableSmartTap` and object level `smartTapRedemptionLevel` fields must also be set up correctly in order for a pass to support Smart Tap."
        },
        "enableSmartTap": {
          "type": "boolean",
          "description": "Available only to Smart Tap enabled partners. Contact support for additional guidance."
        }
      },
      "id": "GenericClass",
      "type": "object"
    },
    "DetailsTemplateOverride": {
      "properties": {
        "detailsItemInfos": {
          "items": {
            "$ref": "DetailsItemInfo"
          },
          "type": "array",
          "description": "Information for the \"nth\" item displayed in the details list."
        }
      },
      "id": "DetailsTemplateOverride",
      "type": "object"
    },
    "CallbackOptions": {
      "type": "object",
      "id": "CallbackOptions",
      "properties": {
        "updateRequestUrl": {
          "deprecated": true,
          "description": "URL for the merchant endpoint that would be called to request updates. The URL should be hosted on HTTPS and robots.txt should allow the URL path to be accessible by UserAgent:Googlebot. Deprecated.",
          "type": "string"
        },
        "url": {
          "type": "string",
          "description": "The HTTPS url configured by the merchant. The URL should be hosted on HTTPS and robots.txt should allow the URL path to be accessible by UserAgent:Googlebot."
        }
      }
    },
    "GenericObjectListResponse": {
      "id": "GenericObjectListResponse",
      "properties": {
        "resources": {
          "type": "array",
          "description": "Resources corresponding to the list request.",
          "items": {
            "$ref": "GenericObject"
          }
        },
        "pagination": {
          "$ref": "Pagination",
          "description": "Pagination of the response."
        }
      },
      "description": "List response which contains the list of all generic objects for a given issuer ID.",
      "type": "object"
    },
    "LoyaltyClass": {
      "properties": {
        "accountIdLabel": {
          "description": "The account ID label, such as \"Member ID.\" Recommended maximum length is 15 characters to ensure full string is displayed on smaller screens.",
          "type": "string"
        },
        "programLogo": {
          "$ref": "Image",
          "description": "Required. The logo of the loyalty program or company. This logo is displayed in both the details and list views of the app."
        },
        "hexBackgroundColor": {
          "type": "string",
          "description": "The background color for the card. If not set the dominant color of the hero image is used, and if no hero image is set, the dominant color of the logo is used. The format is #rrggbb where rrggbb is a hex RGB triplet, such as `#ffcc00`. You can also use the shorthand version of the RGB triplet which is #rgb, such as `#fc0`."
        },
        "enableSmartTap": {
          "type": "boolean",
          "description": "Identifies whether this class supports Smart Tap. The `redemptionIssuers` and one of object level `smartTapRedemptionLevel`, barcode.value`, or `accountId` fields must also be set up correctly in order for a pass to support Smart Tap."
        },
        "localizedIssuerName": {
          "$ref": "LocalizedString",
          "description": "Translated strings for the issuer_name. Recommended maximum length is 20 characters to ensure full string is displayed on smaller screens."
        },
        "rewardsTierLabel": {
          "type": "string",
          "description": "The rewards tier label, such as \"Rewards Tier.\" Recommended maximum length is 9 characters to ensure full string is displayed on smaller screens."
        },
        "reviewStatus": {
          "description": "Required. The status of the class. This field can be set to `draft` or `underReview` using the insert, patch, or update API calls. Once the review state is changed from `draft` it may not be changed back to `draft`. You should keep this field to `draft` when the class is under development. A `draft` class cannot be used to create any object. You should set this field to `underReview` when you believe the class is ready for use. The platform will automatically set this field to `approved` and it can be immediately used to create or migrate objects. When updating an already `approved` class you should keep setting this field to `underReview`.",
          "enumDescriptions": [
            "",
            "",
            "Legacy alias for `UNDER_REVIEW`. Deprecated.",
            "",
            "Legacy alias for `APPROVED`. Deprecated.",
            "",
            "Legacy alias for `REJECTED`. Deprecated.",
            "",
            "Legacy alias for `DRAFT`. Deprecated."
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            true
          ],
          "type": "string",
          "enum": [
            "REVIEW_STATUS_UNSPECIFIED",
            "UNDER_REVIEW",
            "underReview",
            "APPROVED",
            "approved",
            "REJECTED",
            "rejected",
            "DRAFT",
            "draft"
          ]
        },
        "review": {
          "description": "The review comments set by the platform when a class is marked `approved` or `rejected`.",
          "$ref": "Review"
        },
        "infoModuleData": {
          "deprecated": true,
          "$ref": "InfoModuleData",
          "description": "Deprecated. Use textModulesData instead."
        },
        "localizedAccountNameLabel": {
          "$ref": "LocalizedString",
          "description": "Translated strings for the account_name_label. Recommended maximum length is 15 characters to ensure full string is displayed on smaller screens."
        },
        "securityAnimation": {
          "$ref": "SecurityAnimation",
          "description": "Optional information about the security animation. If this is set a security animation will be rendered on pass details."
        },
        "classTemplateInfo": {
          "$ref": "ClassTemplateInfo",
          "description": "Template information about how the class should be displayed. If unset, Google will fallback to a default set of fields to display."
        },
        "heroImage": {
          "$ref": "Image",
          "description": "Optional banner image displayed on the front of the card. If none is present, nothing will be displayed. The image will display at 100% width."
        },
        "imageModulesData": {
          "description": "Image module data. The maximum number of these fields displayed is 1 from object level and 1 for class object level.",
          "type": "array",
          "items": {
            "$ref": "ImageModuleData"
          }
        },
        "localizedProgramName": {
          "$ref": "LocalizedString",
          "description": "Translated strings for the program_name. The app may display an ellipsis after the first 20 characters to ensure full string is displayed on smaller screens."
        },
        "localizedSecondaryRewardsTier": {
          "$ref": "LocalizedString",
          "description": "Translated strings for the secondary_rewards_tier."
        },
        "callbackOptions": {
          "$ref": "CallbackOptions",
          "description": "Callback options to be used to call the issuer back for every save/delete of an object for this class by the end-user. All objects of this class are eligible for the callback."
        },
        "issuerName": {
          "type": "string",
          "description": "Required. The issuer name. Recommended maximum length is 20 characters to ensure full string is displayed on smaller screens."
        },
        "rewardsTier": {
          "description": "The rewards tier, such as \"Gold\" or \"Platinum.\" Recommended maximum length is 7 characters to ensure full string is displayed on smaller screens.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Required. The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
        },
        "locations": {
          "items": {
            "$ref": "LatLongPoint"
          },
          "type": "array",
          "description": "Note: This field is currently not supported to trigger geo notifications."
        },
        "secondaryRewardsTier": {
          "description": "The secondary rewards tier, such as \"Gold\" or \"Platinum.\"",
          "type": "string"
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "Message"
          },
[...]
