{
  "description": "API for issuers to save and manage Google Wallet Objects.",
  "parameters": {
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "location": "query",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    }
  },
  "rootUrl": "https://walletobjects.googleapis.com/",
  "discoveryVersion": "v1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "kind": "discovery#restDescription",
  "basePath": "",
  "id": "walletobjects:v1",
  "resources": {
    "giftcardobject": {
      "methods": {
        "addmessage": {
          "id": "walletobjects.giftcardobject.addmessage",
          "description": "Adds a message to the gift card object referenced by the given object ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/giftCardObject/{resourceId}/addMessage",
          "flatPath": "walletobjects/v1/giftCardObject/{resourceId}/addMessage",
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          },
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "AddMessageRequest"
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "GiftCardObjectAddMessageResponse"
          }
        },
        "get": {
          "parameters": {
            "resourceId": {
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path"
            }
          },
          "parameterOrder": [
            "resourceId"
          ],
          "flatPath": "walletobjects/v1/giftCardObject/{resourceId}",
          "description": "Returns the gift card object with the given object ID.",
          "path": "walletobjects/v1/giftCardObject/{resourceId}",
          "id": "walletobjects.giftcardobject.get",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "GiftCardObject"
          },
          "httpMethod": "GET"
        },
        "patch": {
          "path": "walletobjects/v1/giftCardObject/{resourceId}",
          "id": "walletobjects.giftcardobject.patch",
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string"
            }
          },
          "description": "Updates the gift card object referenced by the given object ID. This method supports patch semantics.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "PATCH",
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "GiftCardObject"
          },
          "flatPath": "walletobjects/v1/giftCardObject/{resourceId}",
          "response": {
            "$ref": "GiftCardObject"
          }
        },
        "insert": {
          "parameters": {},
          "parameterOrder": [],
          "id": "walletobjects.giftcardobject.insert",
          "path": "walletobjects/v1/giftCardObject",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Inserts an gift card object with the given ID and properties.",
          "flatPath": "walletobjects/v1/giftCardObject",
          "request": {
            "$ref": "GiftCardObject"
          },
          "response": {
            "$ref": "GiftCardObject"
          }
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/giftCardObject/{resourceId}",
          "httpMethod": "PUT",
          "description": "Updates the gift card object referenced by the given object ID.",
          "id": "walletobjects.giftcardobject.update",
          "parameterOrder": [
            "resourceId"
          ],
          "parameters": {
            "resourceId": {
              "location": "path",
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true
            }
          },
          "response": {
            "$ref": "GiftCardObject"
          },
          "flatPath": "walletobjects/v1/giftCardObject/{resourceId}",
          "request": {
            "$ref": "GiftCardObject"
          }
        },
        "list": {
          "parameters": {
            "classId": {
              "description": "The ID of the class whose objects will be listed.",
              "type": "string",
              "location": "query"
            },
            "token": {
              "type": "string",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects.",
              "location": "query"
            },
            "maxResults": {
              "format": "int32",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "type": "integer",
              "location": "query"
            }
          },
          "id": "walletobjects.giftcardobject.list",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/giftCardObject",
          "response": {
            "$ref": "GiftCardObjectListResponse"
          },
          "description": "Returns a list of all gift card objects for a given issuer ID.",
          "parameterOrder": [],
          "path": "walletobjects/v1/giftCardObject",
          "httpMethod": "GET"
        }
      }
    },
    "genericobject": {
      "methods": {
        "patch": {
          "flatPath": "walletobjects/v1/genericObject/{resourceId}",
          "description": "Updates the generic object referenced by the given object ID. This method supports patch semantics.",
          "parameters": {
            "resourceId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "GenericObject"
          },
          "httpMethod": "PATCH",
          "id": "walletobjects.genericobject.patch",
          "request": {
            "$ref": "GenericObject"
          },
          "path": "walletobjects/v1/genericObject/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ]
        },
        "addmessage": {
          "httpMethod": "POST",
          "id": "walletobjects.genericobject.addmessage",
          "flatPath": "walletobjects/v1/genericObject/{resourceId}/addMessage",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ],
          "path": "walletobjects/v1/genericObject/{resourceId}/addMessage",
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string"
            }
          },
          "description": "Adds a message to the generic object referenced by the given object ID.",
          "request": {
            "$ref": "AddMessageRequest"
          },
          "response": {
            "$ref": "GenericObjectAddMessageResponse"
          }
        },
        "insert": {
          "description": "Inserts a generic object with the given ID and properties.",
          "request": {
            "$ref": "GenericObject"
          },
          "flatPath": "walletobjects/v1/genericObject",
          "path": "walletobjects/v1/genericObject",
          "id": "walletobjects.genericobject.insert",
          "parameterOrder": [],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {},
          "response": {
            "$ref": "GenericObject"
          }
        },
        "list": {
          "response": {
            "$ref": "GenericObjectListResponse"
          },
          "flatPath": "walletobjects/v1/genericObject",
          "id": "walletobjects.genericobject.list",
          "path": "walletobjects/v1/genericObject",
          "httpMethod": "GET",
          "parameters": {
            "maxResults": {
              "location": "query",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "type": "integer",
              "format": "int32"
            },
            "classId": {
              "location": "query",
              "type": "string",
              "description": "The ID of the class whose objects will be listed."
            },
            "token": {
              "type": "string",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects.",
              "location": "query"
            }
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Returns a list of all generic objects for a given issuer ID."
        },
        "get": {
          "description": "Returns the generic object with the given object ID.",
          "path": "walletobjects/v1/genericObject/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "flatPath": "walletobjects/v1/genericObject/{resourceId}",
          "httpMethod": "GET",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "response": {
            "$ref": "GenericObject"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.genericobject.get"
        },
        "update": {
          "request": {
            "$ref": "GenericObject"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Updates the generic object referenced by the given object ID.",
          "response": {
            "$ref": "GenericObject"
          },
          "id": "walletobjects.genericobject.update",
          "path": "walletobjects/v1/genericObject/{resourceId}",
          "httpMethod": "PUT",
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`."
            }
          },
          "parameterOrder": [
            "resourceId"
          ],
          "flatPath": "walletobjects/v1/genericObject/{resourceId}"
        }
      }
    },
    "media": {
      "methods": {
        "upload": {
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.media.upload",
          "supportsMediaUpload": true,
          "flatPath": "walletobjects/v1/transitObject/{resourceId}/uploadRotatingBarcodeValues",
          "parameters": {
            "resourceId": {
              "type": "string",
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          },
          "description": "Uploads rotating barcode values for the transit object referenced by the given object ID. Note the max upload size is specified in google3/production/config/cdd/apps-upload/customers/payments-consumer-passes/config.gcl and enforced by Scotty.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/transitObject/{resourceId}/uploadRotatingBarcodeValues",
          "response": {
            "$ref": "TransitObjectUploadRotatingBarcodeValuesResponse"
          },
          "request": {
            "$ref": "TransitObjectUploadRotatingBarcodeValuesRequest"
          },
          "httpMethod": "POST",
          "mediaUpload": {
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/walletobjects/v1/transitObject/{resourceId}/uploadRotatingBarcodeValues"
              }
            },
            "accept": [
              "*/*"
            ]
          }
        },
        "download": {
          "useMediaDownloadService": true,
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string"
            }
          },
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.media.download",
          "flatPath": "walletobjects/v1/transitObject/{resourceId}/downloadRotatingBarcodeValues",
          "path": "walletobjects/v1/transitObject/{resourceId}/downloadRotatingBarcodeValues",
          "response": {
            "$ref": "Media"
          },
          "supportsMediaDownload": true,
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "GET",
          "description": "Downloads rotating barcode values for the transit object referenced by the given object ID."
        }
      }
    },
    "genericclass": {
      "methods": {
        "addmessage": {
          "request": {
            "$ref": "AddMessageRequest"
          },
          "id": "walletobjects.genericclass.addmessage",
          "parameterOrder": [
            "resourceId"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "GenericClassAddMessageResponse"
          },
          "path": "walletobjects/v1/genericClass/{resourceId}/addMessage",
          "description": "Adds a message to the generic class referenced by the given class ID.",
          "parameters": {
            "resourceId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/genericClass/{resourceId}/addMessage"
        },
        "get": {
          "httpMethod": "GET",
          "parameters": {
            "resourceId": {
              "required": true,
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`.",
              "type": "string",
              "location": "path"
            }
          },
          "id": "walletobjects.genericclass.get",
          "path": "walletobjects/v1/genericClass/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Returns the generic class with the given class ID.",
          "flatPath": "walletobjects/v1/genericClass/{resourceId}",
          "response": {
            "$ref": "GenericClass"
          }
        },
        "update": {
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`.",
              "required": true,
              "location": "path"
            }
          },
          "request": {
            "$ref": "GenericClass"
          },
          "description": "Updates the Generic class referenced by the given class ID.",
          "id": "walletobjects.genericclass.update",
          "parameterOrder": [
            "resourceId"
          ],
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/genericClass/{resourceId}",
          "path": "walletobjects/v1/genericClass/{resourceId}",
          "response": {
            "$ref": "GenericClass"
          }
        },
        "patch": {
          "parameters": {
            "resourceId": {
              "location": "path",
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`.",
              "required": true
            }
          },
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "GenericClass"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/genericClass/{resourceId}",
          "path": "walletobjects/v1/genericClass/{resourceId}",
          "description": "Updates the generic class referenced by the given class ID. This method supports patch semantics.",
          "id": "walletobjects.genericclass.patch",
          "response": {
            "$ref": "GenericClass"
          },
          "httpMethod": "PATCH"
        },
        "insert": {
          "flatPath": "walletobjects/v1/genericClass",
          "path": "walletobjects/v1/genericClass",
          "id": "walletobjects.genericclass.insert",
          "description": "Inserts a generic class with the given ID and properties.",
          "httpMethod": "POST",
          "request": {
            "$ref": "GenericClass"
          },
          "parameterOrder": [],
          "response": {
            "$ref": "GenericClass"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {}
        },
        "list": {
          "response": {
            "$ref": "GenericClassListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/genericClass",
          "httpMethod": "GET",
          "description": "Returns a list of all generic classes for a given issuer ID.",
          "parameters": {
            "token": {
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes.",
              "type": "string",
              "location": "query"
            },
            "issuerId": {
              "description": "The ID of the issuer authorized to list classes.",
              "format": "int64",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            }
          },
          "parameterOrder": [],
          "id": "walletobjects.genericclass.list",
          "flatPath": "walletobjects/v1/genericClass"
        }
      }
    },
    "loyaltyclass": {
      "methods": {
        "get": {
          "parameters": {
            "resourceId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "id": "walletobjects.loyaltyclass.get",
          "parameterOrder": [
            "resourceId"
          ],
          "httpMethod": "GET",
          "flatPath": "walletobjects/v1/loyaltyClass/{resourceId}",
          "response": {
            "$ref": "LoyaltyClass"
          },
          "description": "Returns the loyalty class with the given class ID.",
          "path": "walletobjects/v1/loyaltyClass/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "list": {
          "path": "walletobjects/v1/loyaltyClass",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "issuerId": {
              "description": "The ID of the issuer authorized to list classes.",
              "location": "query",
              "type": "string",
              "format": "int64"
            },
            "token": {
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            }
          },
          "response": {
            "$ref": "LoyaltyClassListResponse"
          },
          "id": "walletobjects.loyaltyclass.list",
          "description": "Returns a list of all loyalty classes for a given issuer ID.",
          "flatPath": "walletobjects/v1/loyaltyClass",
          "httpMethod": "GET"
        },
        "addmessage": {
          "request": {
            "$ref": "AddMessageRequest"
          },
          "path": "walletobjects/v1/loyaltyClass/{resourceId}/addMessage",
          "response": {
            "$ref": "LoyaltyClassAddMessageResponse"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.loyaltyclass.addmessage",
          "parameterOrder": [
            "resourceId"
          ],
          "flatPath": "walletobjects/v1/loyaltyClass/{resourceId}/addMessage",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "description": "Adds a message to the loyalty class referenced by the given class ID."
        },
        "patch": {
          "description": "Updates the loyalty class referenced by the given class ID. This method supports patch semantics.",
          "id": "walletobjects.loyaltyclass.patch",
          "request": {
            "$ref": "LoyaltyClass"
          },
          "httpMethod": "PATCH",
          "path": "walletobjects/v1/loyaltyClass/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "flatPath": "walletobjects/v1/loyaltyClass/{resourceId}",
          "response": {
            "$ref": "LoyaltyClass"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "update": {
          "httpMethod": "PUT",
          "path": "walletobjects/v1/loyaltyClass/{resourceId}",
          "request": {
            "$ref": "LoyaltyClass"
          },
          "id": "walletobjects.loyaltyclass.update",
          "description": "Updates the loyalty class referenced by the given class ID.",
          "flatPath": "walletobjects/v1/loyaltyClass/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "LoyaltyClass"
          },
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          }
        },
        "insert": {
          "response": {
            "$ref": "LoyaltyClass"
          },
          "flatPath": "walletobjects/v1/loyaltyClass",
          "id": "walletobjects.loyaltyclass.insert",
          "description": "Inserts an loyalty class with the given ID and properties.",
          "request": {
            "$ref": "LoyaltyClass"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/loyaltyClass",
          "parameters": {},
          "parameterOrder": []
        }
      }
    },
    "offerobject": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "path": "walletobjects/v1/offerObject/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Returns the offer object with the given object ID.",
          "response": {
            "$ref": "OfferObject"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "flatPath": "walletobjects/v1/offerObject/{resourceId}",
          "id": "walletobjects.offerobject.get"
        },
        "insert": {
          "flatPath": "walletobjects/v1/offerObject",
          "httpMethod": "POST",
          "response": {
            "$ref": "OfferObject"
          },
          "parameterOrder": [],
          "description": "Inserts an offer object with the given ID and properties.",
          "parameters": {},
          "path": "walletobjects/v1/offerObject",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.offerobject.insert",
          "request": {
            "$ref": "OfferObject"
          }
        },
        "list": {
          "path": "walletobjects/v1/offerObject",
          "id": "walletobjects.offerobject.list",
          "description": "Returns a list of all offer objects for a given issuer ID.",
          "httpMethod": "GET",
          "parameters": {
            "maxResults": {
              "format": "int32",
              "type": "integer",
              "location": "query",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined."
            },
            "classId": {
              "location": "query",
              "description": "The ID of the class whose objects will be listed.",
              "type": "string"
            },
            "token": {
              "type": "string",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects.",
              "location": "query"
            }
          },
          "flatPath": "walletobjects/v1/offerObject",
          "parameterOrder": [],
          "response": {
            "$ref": "OfferObjectListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "update": {
          "response": {
            "$ref": "OfferObject"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "httpMethod": "PUT",
          "request": {
            "$ref": "OfferObject"
          },
          "id": "walletobjects.offerobject.update",
          "path": "walletobjects/v1/offerObject/{resourceId}",
          "parameters": {
            "resourceId": {
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Updates the offer object referenced by the given object ID.",
          "flatPath": "walletobjects/v1/offerObject/{resourceId}"
        },
        "addmessage": {
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "flatPath": "walletobjects/v1/offerObject/{resourceId}/addMessage",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "OfferObjectAddMessageResponse"
          },
          "request": {
            "$ref": "AddMessageRequest"
          },
          "path": "walletobjects/v1/offerObject/{resourceId}/addMessage",
          "httpMethod": "POST",
          "description": "Adds a message to the offer object referenced by the given object ID.",
          "id": "walletobjects.offerobject.addmessage"
        },
        "patch": {
          "description": "Updates the offer object referenced by the given object ID. This method supports patch semantics.",
          "id": "walletobjects.offerobject.patch",
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "type": "string"
            }
          },
          "request": {
            "$ref": "OfferObject"
          },
          "response": {
            "$ref": "OfferObject"
          },
          "flatPath": "walletobjects/v1/offerObject/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "PATCH",
          "path": "walletobjects/v1/offerObject/{resourceId}"
        }
      }
    },
    "jwt": {
      "methods": {
        "insert": {
          "httpMethod": "POST",
          "parameterOrder": [],
          "flatPath": "walletobjects/v1/jwt",
          "parameters": {},
          "request": {
            "$ref": "JwtResource"
          },
          "response": {
            "$ref": "JwtInsertResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Inserts the resources in the JWT.",
          "path": "walletobjects/v1/jwt",
          "id": "walletobjects.jwt.insert"
        }
      }
    },
    "flightobject": {
      "methods": {
        "get": {
          "response": {
            "$ref": "FlightObject"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.flightobject.get",
          "httpMethod": "GET",
          "description": "Returns the flight object with the given object ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "flatPath": "walletobjects/v1/flightObject/{resourceId}",
          "path": "walletobjects/v1/flightObject/{resourceId}"
        },
        "update": {
          "path": "walletobjects/v1/flightObject/{resourceId}",
          "response": {
            "$ref": "FlightObject"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "FlightObject"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/flightObject/{resourceId}",
          "description": "Updates the flight object referenced by the given object ID.",
          "httpMethod": "PUT",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "id": "walletobjects.flightobject.update"
        },
        "addmessage": {
          "flatPath": "walletobjects/v1/flightObject/{resourceId}/addMessage",
          "response": {
            "$ref": "FlightObjectAddMessageResponse"
          },
          "request": {
            "$ref": "AddMessageRequest"
          },
          "path": "walletobjects/v1/flightObject/{resourceId}/addMessage",
          "id": "walletobjects.flightobject.addmessage",
          "httpMethod": "POST",
          "description": "Adds a message to the flight object referenced by the given object ID.",
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ]
        },
        "patch": {
          "httpMethod": "PATCH",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "description": "Updates the flight object referenced by the given object ID. This method supports patch semantics.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.flightobject.patch",
          "flatPath": "walletobjects/v1/flightObject/{resourceId}",
          "path": "walletobjects/v1/flightObject/{resourceId}",
          "request": {
            "$ref": "FlightObject"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "FlightObject"
          }
        },
        "list": {
          "flatPath": "walletobjects/v1/flightObject",
          "httpMethod": "GET",
          "description": "Returns a list of all flight objects for a given issuer ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.flightobject.list",
          "response": {
            "$ref": "FlightObjectListResponse"
          },
          "parameterOrder": [],
          "parameters": {
            "classId": {
              "type": "string",
              "description": "The ID of the class whose objects will be listed.",
              "location": "query"
            },
            "token": {
              "type": "string",
              "location": "query",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects."
            },
            "maxResults": {
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            }
          },
          "path": "walletobjects/v1/flightObject"
        },
        "insert": {
          "flatPath": "walletobjects/v1/flightObject",
          "id": "walletobjects.flightobject.insert",
          "parameterOrder": [],
          "request": {
            "$ref": "FlightObject"
          },
          "parameters": {},
          "path": "walletobjects/v1/flightObject",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Inserts an flight object with the given ID and properties.",
          "response": {
            "$ref": "FlightObject"
          },
          "httpMethod": "POST"
        }
      }
    },
    "issuer": {
      "methods": {
        "update": {
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "Issuer"
          },
          "httpMethod": "PUT",
          "request": {
            "$ref": "Issuer"
          },
          "flatPath": "walletobjects/v1/issuer/{resourceId}",
          "id": "walletobjects.issuer.update",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/issuer/{resourceId}",
          "description": "Updates the issuer referenced by the given issuer ID.",
          "parameters": {
            "resourceId": {
              "required": true,
              "location": "path",
              "description": "The unique identifier for an issuer.",
              "type": "string",
              "format": "int64"
            }
          }
        },
        "get": {
          "response": {
            "$ref": "Issuer"
          },
          "path": "walletobjects/v1/issuer/{resourceId}",
          "id": "walletobjects.issuer.get",
          "description": "Returns the issuer with the given issuer ID.",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "format": "int64",
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The unique identifier for an issuer."
            }
          },
          "flatPath": "walletobjects/v1/issuer/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ]
        },
        "patch": {
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "request": {
            "$ref": "Issuer"
          },
          "httpMethod": "PATCH",
          "parameters": {
            "resourceId": {
              "type": "string",
              "location": "path",
              "description": "The unique identifier for an issuer.",
              "required": true,
              "format": "int64"
            }
          },
          "path": "walletobjects/v1/issuer/{resourceId}",
          "response": {
            "$ref": "Issuer"
          },
          "flatPath": "walletobjects/v1/issuer/{resourceId}",
          "id": "walletobjects.issuer.patch",
          "description": "Updates the issuer referenced by the given issuer ID. This method supports patch semantics."
        },
        "insert": {
          "id": "walletobjects.issuer.insert",
          "response": {
            "$ref": "Issuer"
          },
          "flatPath": "walletobjects/v1/issuer",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [],
          "httpMethod": "POST",
          "path": "walletobjects/v1/issuer",
          "parameters": {},
          "request": {
            "$ref": "Issuer"
          },
          "description": "Inserts an issuer with the given ID and properties."
        },
        "list": {
          "description": "Returns a list of all issuers shared to the caller.",
          "parameters": {},
          "httpMethod": "GET",
          "id": "walletobjects.issuer.list",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/issuer",
          "path": "walletobjects/v1/issuer",
          "response": {
            "$ref": "IssuerListResponse"
          },
          "parameterOrder": []
        }
      }
    },
    "giftcardclass": {
      "methods": {
        "patch": {
          "flatPath": "walletobjects/v1/giftCardClass/{resourceId}",
          "id": "walletobjects.giftcardclass.patch",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "PATCH",
          "description": "Updates the gift card class referenced by the given class ID. This method supports patch semantics.",
          "response": {
            "$ref": "GiftCardClass"
          },
          "path": "walletobjects/v1/giftCardClass/{resourceId}",
          "request": {
            "$ref": "GiftCardClass"
          },
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "resourceId"
          ]
        },
        "list": {
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Returns a list of all gift card classes for a given issuer ID.",
          "parameters": {
            "issuerId": {
              "location": "query",
              "format": "int64",
              "type": "string",
              "description": "The ID of the issuer authorized to list classes."
            },
            "token": {
              "location": "query",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes.",
              "type": "string"
            },
            "maxResults": {
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            }
          },
          "flatPath": "walletobjects/v1/giftCardClass",
          "response": {
            "$ref": "GiftCardClassListResponse"
          },
          "path": "walletobjects/v1/giftCardClass",
          "id": "walletobjects.giftcardclass.list",
          "parameterOrder": []
        },
        "insert": {
          "flatPath": "walletobjects/v1/giftCardClass",
          "description": "Inserts an gift card class with the given ID and properties.",
          "parameters": {},
          "parameterOrder": [],
          "request": {
            "$ref": "GiftCardClass"
          },
          "path": "walletobjects/v1/giftCardClass",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "GiftCardClass"
          },
          "id": "walletobjects.giftcardclass.insert"
        },
        "get": {
          "flatPath": "walletobjects/v1/giftCardClass/{resourceId}",
          "httpMethod": "GET",
          "path": "walletobjects/v1/giftCardClass/{resourceId}",
          "description": "Returns the gift card class with the given class ID.",
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.giftcardclass.get",
          "response": {
            "$ref": "GiftCardClass"
          },
          "parameterOrder": [
            "resourceId"
          ]
        },
        "addmessage": {
          "id": "walletobjects.giftcardclass.addmessage",
          "parameters": {
            "resourceId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "flatPath": "walletobjects/v1/giftCardClass/{resourceId}/addMessage",
          "request": {
            "$ref": "AddMessageRequest"
          },
          "description": "Adds a message to the gift card class referenced by the given class ID.",
          "parameterOrder": [
            "resourceId"
          ],
          "path": "walletobjects/v1/giftCardClass/{resourceId}/addMessage",
          "response": {
            "$ref": "GiftCardClassAddMessageResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "POST"
        },
        "update": {
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.giftcardclass.update",
          "request": {
            "$ref": "GiftCardClass"
          },
          "description": "Updates the gift card class referenced by the given class ID.",
          "response": {
            "$ref": "GiftCardClass"
          },
          "flatPath": "walletobjects/v1/giftCardClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "required": true,
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path"
            }
          },
          "parameterOrder": [
            "resourceId"
          ],
          "path": "walletobjects/v1/giftCardClass/{resourceId}"
        }
      }
    },
    "permissions": {
      "methods": {
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Updates the permissions for the given issuer.",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an issuer. This ID must be unique across all issuers.",
              "required": true,
              "location": "path",
              "type": "string",
              "format": "int64"
            }
          },
          "response": {
            "$ref": "Permissions"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "httpMethod": "PUT",
          "id": "walletobjects.permissions.update",
          "flatPath": "walletobjects/v1/permissions/{resourceId}",
          "request": {
            "$ref": "Permissions"
          },
          "path": "walletobjects/v1/permissions/{resourceId}"
        },
        "get": {
          "httpMethod": "GET",
          "path": "walletobjects/v1/permissions/{resourceId}",
          "id": "walletobjects.permissions.get",
          "description": "Returns the permissions for the given issuer id.",
          "parameterOrder": [
            "resourceId"
          ],
          "flatPath": "walletobjects/v1/permissions/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an issuer. This ID must be unique across all issuers.",
              "location": "path",
              "type": "string",
              "format": "int64",
              "required": true
            }
          },
          "response": {
            "$ref": "Permissions"
          }
        }
      }
    },
    "offerclass": {
      "methods": {
        "addmessage": {
          "request": {
            "$ref": "AddMessageRequest"
          },
          "parameters": {
            "resourceId": {
              "required": true,
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "type": "string"
            }
          },
          "response": {
            "$ref": "OfferClassAddMessageResponse"
          },
          "flatPath": "walletobjects/v1/offerClass/{resourceId}/addMessage",
          "path": "walletobjects/v1/offerClass/{resourceId}/addMessage",
          "id": "walletobjects.offerclass.addmessage",
          "parameterOrder": [
            "resourceId"
          ],
          "httpMethod": "POST",
          "description": "Adds a message to the offer class referenced by the given class ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "patch": {
          "request": {
            "$ref": "OfferClass"
          },
          "path": "walletobjects/v1/offerClass/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ],
          "httpMethod": "PATCH",
          "response": {
            "$ref": "OfferClass"
          },
          "flatPath": "walletobjects/v1/offerClass/{resourceId}",
          "id": "walletobjects.offerclass.patch",
          "description": "Updates the offer class referenced by the given class ID. This method supports patch semantics.",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          }
        },
        "list": {
          "httpMethod": "GET",
          "parameters": {
            "issuerId": {
              "format": "int64",
              "type": "string",
              "description": "The ID of the issuer authorized to list classes.",
              "location": "query"
            },
            "maxResults": {
              "type": "integer",
              "location": "query",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "format": "int32"
            },
            "token": {
              "location": "query",
              "type": "string",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes."
            }
          },
          "parameterOrder": [],
          "path": "walletobjects/v1/offerClass",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Returns a list of all offer classes for a given issuer ID.",
          "response": {
            "$ref": "OfferClassListResponse"
          },
          "id": "walletobjects.offerclass.list",
          "flatPath": "walletobjects/v1/offerClass"
        },
        "get": {
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "location": "path"
            }
          },
          "httpMethod": "GET",
          "id": "walletobjects.offerclass.get",
          "path": "walletobjects/v1/offerClass/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "OfferClass"
          },
          "description": "Returns the offer class with the given class ID.",
          "flatPath": "walletobjects/v1/offerClass/{resourceId}"
        },
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "request": {
            "$ref": "OfferClass"
          },
          "parameters": {},
          "path": "walletobjects/v1/offerClass",
          "description": "Inserts an offer class with the given ID and properties.",
          "parameterOrder": [],
          "response": {
            "$ref": "OfferClass"
          },
          "httpMethod": "POST",
          "flatPath": "walletobjects/v1/offerClass",
          "id": "walletobjects.offerclass.insert"
        },
        "update": {
          "path": "walletobjects/v1/offerClass/{resourceId}",
          "description": "Updates the offer class referenced by the given class ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/offerClass/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "OfferClass"
          },
          "httpMethod": "PUT",
          "id": "walletobjects.offerclass.update",
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          },
          "response": {
            "$ref": "OfferClass"
          }
        }
      }
    },
    "smarttap": {
      "methods": {
        "insert": {
          "response": {
            "$ref": "SmartTap"
          },
          "path": "walletobjects/v1/smartTap",
          "httpMethod": "POST",
          "parameters": {},
          "parameterOrder": [],
          "flatPath": "walletobjects/v1/smartTap",
          "description": "Inserts the smart tap.",
          "request": {
            "$ref": "SmartTap"
          },
          "id": "walletobjects.smarttap.insert",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        }
      }
    },
    "eventticketclass": {
      "methods": {
        "patch": {
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "request": {
            "$ref": "EventTicketClass"
          },
          "flatPath": "walletobjects/v1/eventTicketClass/{resourceId}",
          "response": {
            "$ref": "EventTicketClass"
          },
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "required": true
            }
          },
          "id": "walletobjects.eventticketclass.patch",
          "httpMethod": "PATCH",
          "description": "Updates the event ticket class referenced by the given class ID. This method supports patch semantics.",
          "path": "walletobjects/v1/eventTicketClass/{resourceId}"
        },
        "addmessage": {
          "parameters": {
            "resourceId": {
              "required": true,
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path"
            }
          },
          "flatPath": "walletobjects/v1/eventTicketClass/{resourceId}/addMessage",
          "request": {
            "$ref": "AddMessageRequest"
          },
          "path": "walletobjects/v1/eventTicketClass/{resourceId}/addMessage",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.eventticketclass.addmessage",
          "parameterOrder": [
            "resourceId"
          ],
          "description": "Adds a message to the event ticket class referenced by the given class ID.",
          "httpMethod": "POST",
          "response": {
            "$ref": "EventTicketClassAddMessageResponse"
          }
        },
        "update": {
          "response": {
            "$ref": "EventTicketClass"
          },
          "path": "walletobjects/v1/eventTicketClass/{resourceId}",
          "flatPath": "walletobjects/v1/eventTicketClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "required": true,
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "type": "string"
            }
          },
          "id": "walletobjects.eventticketclass.update",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "PUT",
          "request": {
            "$ref": "EventTicketClass"
          },
          "description": "Updates the event ticket class referenced by the given class ID.",
          "parameterOrder": [
            "resourceId"
          ]
        },
        "list": {
          "parameterOrder": [],
          "response": {
            "$ref": "EventTicketClassListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "issuerId": {
              "type": "string",
              "format": "int64",
              "location": "query",
              "description": "The ID of the issuer authorized to list classes."
            },
            "token": {
              "type": "string",
              "location": "query",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes."
            },
            "maxResults": {
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            }
          },
          "path": "walletobjects/v1/eventTicketClass",
          "httpMethod": "GET",
          "id": "walletobjects.eventticketclass.list",
          "description": "Returns a list of all event ticket classes for a given issuer ID.",
          "flatPath": "walletobjects/v1/eventTicketClass"
        },
        "get": {
          "httpMethod": "GET",
          "parameters": {
            "resourceId": {
              "type": "string",
              "required": true,
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "EventTicketClass"
          },
          "flatPath": "walletobjects/v1/eventTicketClass/{resourceId}",
          "id": "walletobjects.eventticketclass.get",
          "path": "walletobjects/v1/eventTicketClass/{resourceId}",
          "description": "Returns the event ticket class with the given class ID."
        },
        "insert": {
          "request": {
            "$ref": "EventTicketClass"
          },
          "response": {
            "$ref": "EventTicketClass"
          },
          "httpMethod": "POST",
          "parameters": {},
          "path": "walletobjects/v1/eventTicketClass",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Inserts an event ticket class with the given ID and properties.",
          "id": "walletobjects.eventticketclass.insert",
          "flatPath": "walletobjects/v1/eventTicketClass"
        }
      }
    },
    "loyaltyobject": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Returns a list of all loyalty objects for a given issuer ID.",
          "response": {
            "$ref": "LoyaltyObjectListResponse"
          },
          "httpMethod": "GET",
          "parameterOrder": [],
          "id": "walletobjects.loyaltyobject.list",
          "path": "walletobjects/v1/loyaltyObject",
          "flatPath": "walletobjects/v1/loyaltyObject",
          "parameters": {
            "token": {
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "type": "integer",
              "format": "int32",
              "location": "query",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined."
            },
            "classId": {
              "location": "query",
              "type": "string",
              "description": "The ID of the class whose objects will be listed."
            }
          }
        },
        "insert": {
          "path": "walletobjects/v1/loyaltyObject",
          "parameters": {},
          "description": "Inserts an loyalty object with the given ID and properties.",
          "httpMethod": "POST",
          "response": {
            "$ref": "LoyaltyObject"
          },
          "parameterOrder": [],
          "id": "walletobjects.loyaltyobject.insert",
          "flatPath": "walletobjects/v1/loyaltyObject",
          "request": {
            "$ref": "LoyaltyObject"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "addmessage": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/loyaltyObject/{resourceId}/addMessage",
          "request": {
            "$ref": "AddMessageRequest"
          },
          "flatPath": "walletobjects/v1/loyaltyObject/{resourceId}/addMessage",
          "description": "Adds a message to the loyalty object referenced by the given object ID.",
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "response": {
            "$ref": "LoyaltyObjectAddMessageResponse"
          },
          "id": "walletobjects.loyaltyobject.addmessage",
          "httpMethod": "POST",
          "parameterOrder": [
            "resourceId"
          ]
        },
        "modifylinkedofferobjects": {
          "path": "walletobjects/v1/loyaltyObject/{resourceId}/modifyLinkedOfferObjects",
          "parameterOrder": [
            "resourceId"
          ],
          "httpMethod": "POST",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "request": {
            "$ref": "ModifyLinkedOfferObjectsRequest"
          },
          "id": "walletobjects.loyaltyobject.modifylinkedofferobjects",
          "flatPath": "walletobjects/v1/loyaltyObject/{resourceId}/modifyLinkedOfferObjects",
          "response": {
            "$ref": "LoyaltyObject"
          },
          "description": "Modifies linked offer objects for the loyalty object with the given ID."
        },
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/loyaltyObject/{resourceId}",
          "response": {
            "$ref": "LoyaltyObject"
          },
          "request": {
            "$ref": "LoyaltyObject"
          },
          "id": "walletobjects.loyaltyobject.patch",
          "httpMethod": "PATCH",
          "flatPath": "walletobjects/v1/loyaltyObject/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "description": "Updates the loyalty object referenced by the given object ID. This method supports patch semantics."
        },
        "update": {
          "description": "Updates the loyalty object referenced by the given object ID.",
          "httpMethod": "PUT",
          "flatPath": "walletobjects/v1/loyaltyObject/{resourceId}",
          "id": "walletobjects.loyaltyobject.update",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "LoyaltyObject"
          },
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "request": {
            "$ref": "LoyaltyObject"
          },
          "path": "walletobjects/v1/loyaltyObject/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "get": {
          "path": "walletobjects/v1/loyaltyObject/{resourceId}",
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "type": "string"
            }
          },
          "description": "Returns the loyalty object with the given object ID.",
          "id": "walletobjects.loyaltyobject.get",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "LoyaltyObject"
          },
          "httpMethod": "GET",
          "flatPath": "walletobjects/v1/loyaltyObject/{resourceId}"
        }
      }
    },
    "transitobject": {
      "methods": {
        "list": {
          "parameterOrder": [],
          "parameters": {
            "maxResults": {
              "type": "integer",
              "format": "int32",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "location": "query"
            },
            "classId": {
              "type": "string",
              "description": "The ID of the class whose objects will be listed.",
              "location": "query"
            },
            "token": {
              "location": "query",
              "type": "string",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects."
            }
          },
          "flatPath": "walletobjects/v1/transitObject",
          "description": "Returns a list of all transit objects for a given issuer ID.",
          "id": "walletobjects.transitobject.list",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/transitObject",
          "httpMethod": "GET",
          "response": {
            "$ref": "TransitObjectListResponse"
          }
        },
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Inserts an transit object with the given ID and properties.",
          "parameters": {},
          "parameterOrder": [],
          "flatPath": "walletobjects/v1/transitObject",
          "id": "walletobjects.transitobject.insert",
          "path": "walletobjects/v1/transitObject",
          "request": {
            "$ref": "TransitObject"
          },
          "response": {
            "$ref": "TransitObject"
          },
          "httpMethod": "POST"
        },
        "get": {
          "httpMethod": "GET",
          "id": "walletobjects.transitobject.get",
          "response": {
            "$ref": "TransitObject"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/transitObject/{resourceId}",
          "description": "Returns the transit object with the given object ID.",
          "parameterOrder": [
            "resourceId"
          ],
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "path": "walletobjects/v1/transitObject/{resourceId}"
        },
        "update": {
          "description": "Updates the transit object referenced by the given object ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ],
          "httpMethod": "PUT",
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "location": "path"
            }
          },
          "request": {
            "$ref": "TransitObject"
          },
          "response": {
            "$ref": "TransitObject"
          },
          "flatPath": "walletobjects/v1/transitObject/{resourceId}",
          "id": "walletobjects.transitobject.update",
          "path": "walletobjects/v1/transitObject/{resourceId}"
        },
        "patch": {
          "response": {
            "$ref": "TransitObject"
          },
          "description": "Updates the transit object referenced by the given object ID. This method supports patch semantics.",
          "id": "walletobjects.transitobject.patch",
          "httpMethod": "PATCH",
          "flatPath": "walletobjects/v1/transitObject/{resourceId}",
          "request": {
            "$ref": "TransitObject"
          },
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string"
            }
          },
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/transitObject/{resourceId}"
        },
        "addmessage": {
          "response": {
            "$ref": "TransitObjectAddMessageResponse"
          },
          "description": "Adds a message to the transit object referenced by the given object ID.",
          "parameters": {
            "resourceId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "id": "walletobjects.transitobject.addmessage",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "POST",
          "parameterOrder": [
            "resourceId"
          ],
          "flatPath": "walletobjects/v1/transitObject/{resourceId}/addMessage",
          "path": "walletobjects/v1/transitObject/{resourceId}/addMessage",
          "request": {
            "$ref": "AddMessageRequest"
          }
        }
      }
    },
    "transitclass": {
      "methods": {
        "addmessage": {
          "request": {
            "$ref": "AddMessageRequest"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "parameters": {
            "resourceId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "description": "Adds a message to the transit class referenced by the given class ID.",
          "path": "walletobjects/v1/transitClass/{resourceId}/addMessage",
          "id": "walletobjects.transitclass.addmessage",
          "httpMethod": "POST",
          "flatPath": "walletobjects/v1/transitClass/{resourceId}/addMessage",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "TransitClassAddMessageResponse"
          }
        },
        "patch": {
          "id": "walletobjects.transitclass.patch",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "TransitClass"
          },
          "flatPath": "walletobjects/v1/transitClass/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "httpMethod": "PATCH",
          "request": {
            "$ref": "TransitClass"
          },
          "description": "Updates the transit class referenced by the given class ID. This method supports patch semantics.",
          "path": "walletobjects/v1/transitClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "type": "string",
              "required": true
            }
          }
        },
        "list": {
          "description": "Returns a list of all transit classes for a given issuer ID.",
          "httpMethod": "GET",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.transitclass.list",
          "flatPath": "walletobjects/v1/transitClass",
          "parameters": {
            "maxResults": {
              "type": "integer",
              "format": "int32",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "location": "query"
            },
            "issuerId": {
              "location": "query",
              "type": "string",
              "description": "The ID of the issuer authorized to list classes.",
              "format": "int64"
            },
            "token": {
              "type": "string",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes.",
              "location": "query"
            }
          },
          "response": {
            "$ref": "TransitClassListResponse"
          },
          "path": "walletobjects/v1/transitClass"
        },
        "insert": {
          "response": {
            "$ref": "TransitClass"
          },
          "id": "walletobjects.transitclass.insert",
          "parameterOrder": [],
          "description": "Inserts a transit class with the given ID and properties.",
          "flatPath": "walletobjects/v1/transitClass",
          "request": {
            "$ref": "TransitClass"
          },
          "httpMethod": "POST",
          "path": "walletobjects/v1/transitClass",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {}
        },
        "get": {
          "flatPath": "walletobjects/v1/transitClass/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.transitclass.get",
          "description": "Returns the transit class with the given class ID.",
          "response": {
            "$ref": "TransitClass"
          },
          "parameters": {
            "resourceId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "path": "walletobjects/v1/transitClass/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "httpMethod": "GET"
        },
        "update": {
          "id": "walletobjects.transitclass.update",
          "response": {
            "$ref": "TransitClass"
          },
          "path": "walletobjects/v1/transitClass/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "parameters": {
            "resourceId": {
              "type": "string",
              "required": true,
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "request": {
            "$ref": "TransitClass"
          },
          "flatPath": "walletobjects/v1/transitClass/{resourceId}",
          "httpMethod": "PUT",
          "description": "Updates the transit class referenced by the given class ID."
        }
      }
    },
    "eventticketobject": {
      "methods": {
        "patch": {
          "flatPath": "walletobjects/v1/eventTicketObject/{resourceId}",
          "description": "Updates the event ticket object referenced by the given object ID. This method supports patch semantics.",
          "request": {
            "$ref": "EventTicketObject"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "PATCH",
          "path": "walletobjects/v1/eventTicketObject/{resourceId}",
          "response": {
            "$ref": "EventTicketObject"
          },
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "id": "walletobjects.eventticketobject.patch",
          "parameterOrder": [
            "resourceId"
          ]
        },
        "modifylinkedofferobjects": {
          "parameters": {
            "resourceId": {
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "type": "string"
            }
          },
          "path": "walletobjects/v1/eventTicketObject/{resourceId}/modifyLinkedOfferObjects",
          "response": {
            "$ref": "EventTicketObject"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "POST",
          "id": "walletobjects.eventticketobject.modifylinkedofferobjects",
          "description": "Modifies linked offer objects for the event ticket object with the given ID.",
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "ModifyLinkedOfferObjectsRequest"
          },
          "flatPath": "walletobjects/v1/eventTicketObject/{resourceId}/modifyLinkedOfferObjects"
        },
        "addmessage": {
          "id": "walletobjects.eventticketobject.addmessage",
          "description": "Adds a message to the event ticket object referenced by the given object ID.",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "EventTicketObjectAddMessageResponse"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/eventTicketObject/{resourceId}/addMessage",
          "request": {
            "$ref": "AddMessageRequest"
          },
[...]
