{
  "title": "Google Wallet API",
  "servicePath": "",
  "ownerName": "Google",
  "protocol": "rest",
  "canonicalName": "Walletobjects",
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/wallet_object.issuer": {
          "description": "Private Service: https://www.googleapis.com/auth/wallet_object.issuer"
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "revision": "20240109",
  "version": "v1",
  "rootUrl": "https://walletobjects.googleapis.com/",
  "basePath": "",
  "ownerDomain": "google.com",
  "description": "API for issuers to save and manage Google Wallet Objects.",
  "baseUrl": "https://walletobjects.googleapis.com/",
  "mtlsRootUrl": "https://walletobjects.mtls.googleapis.com/",
  "documentationLink": "https://developers.google.com/pay/passes",
  "parameters": {
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true",
      "type": "boolean"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    }
  },
  "resources": {
    "eventticketclass": {
      "methods": {
        "list": {
          "parameters": {
            "issuerId": {
              "location": "query",
              "description": "The ID of the issuer authorized to list classes.",
              "type": "string",
              "format": "int64"
            },
            "maxResults": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined."
            },
            "token": {
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes.",
              "location": "query",
              "type": "string"
            }
          },
          "flatPath": "walletobjects/v1/eventTicketClass",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Returns a list of all event ticket classes for a given issuer ID.",
          "id": "walletobjects.eventticketclass.list",
          "response": {
            "$ref": "EventTicketClassListResponse"
          },
          "path": "walletobjects/v1/eventTicketClass",
          "parameterOrder": [],
          "httpMethod": "GET"
        },
        "update": {
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "response": {
            "$ref": "EventTicketClass"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/eventTicketClass/{resourceId}",
          "httpMethod": "PUT",
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.eventticketclass.update",
          "description": "Updates the event ticket class referenced by the given class ID.",
          "request": {
            "$ref": "EventTicketClass"
          },
          "flatPath": "walletobjects/v1/eventTicketClass/{resourceId}"
        },
        "addmessage": {
          "description": "Adds a message to the event ticket class referenced by the given class ID.",
          "httpMethod": "POST",
          "path": "walletobjects/v1/eventTicketClass/{resourceId}/addMessage",
          "parameters": {
            "resourceId": {
              "required": true,
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "type": "string"
            }
          },
          "id": "walletobjects.eventticketclass.addmessage",
          "request": {
            "$ref": "AddMessageRequest"
          },
          "flatPath": "walletobjects/v1/eventTicketClass/{resourceId}/addMessage",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "EventTicketClassAddMessageResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "patch": {
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "PATCH",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "description": "Updates the event ticket class referenced by the given class ID. This method supports patch semantics.",
          "path": "walletobjects/v1/eventTicketClass/{resourceId}",
          "response": {
            "$ref": "EventTicketClass"
          },
          "id": "walletobjects.eventticketclass.patch",
          "flatPath": "walletobjects/v1/eventTicketClass/{resourceId}",
          "request": {
            "$ref": "EventTicketClass"
          }
        },
        "insert": {
          "flatPath": "walletobjects/v1/eventTicketClass",
          "httpMethod": "POST",
          "request": {
            "$ref": "EventTicketClass"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "EventTicketClass"
          },
          "parameters": {},
          "description": "Inserts an event ticket class with the given ID and properties.",
          "id": "walletobjects.eventticketclass.insert",
          "parameterOrder": [],
          "path": "walletobjects/v1/eventTicketClass"
        },
        "get": {
          "flatPath": "walletobjects/v1/eventTicketClass/{resourceId}",
          "description": "Returns the event ticket class with the given class ID.",
          "path": "walletobjects/v1/eventTicketClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "location": "path",
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "EventTicketClass"
          },
          "id": "walletobjects.eventticketclass.get",
          "parameterOrder": [
            "resourceId"
          ],
          "httpMethod": "GET"
        }
      }
    },
    "loyaltyobject": {
      "methods": {
        "patch": {
          "id": "walletobjects.loyaltyobject.patch",
          "request": {
            "$ref": "LoyaltyObject"
          },
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "required": true
            }
          },
          "httpMethod": "PATCH",
          "response": {
            "$ref": "LoyaltyObject"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/loyaltyObject/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "description": "Updates the loyalty object referenced by the given object ID. This method supports patch semantics.",
          "path": "walletobjects/v1/loyaltyObject/{resourceId}"
        },
        "addmessage": {
          "id": "walletobjects.loyaltyobject.addmessage",
          "response": {
            "$ref": "LoyaltyObjectAddMessageResponse"
          },
          "request": {
            "$ref": "AddMessageRequest"
          },
          "parameters": {
            "resourceId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "description": "Adds a message to the loyalty object referenced by the given object ID.",
          "path": "walletobjects/v1/loyaltyObject/{resourceId}/addMessage",
          "flatPath": "walletobjects/v1/loyaltyObject/{resourceId}/addMessage",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ]
        },
        "modifylinkedofferobjects": {
          "flatPath": "walletobjects/v1/loyaltyObject/{resourceId}/modifyLinkedOfferObjects",
          "request": {
            "$ref": "ModifyLinkedOfferObjectsRequest"
          },
          "path": "walletobjects/v1/loyaltyObject/{resourceId}/modifyLinkedOfferObjects",
          "id": "walletobjects.loyaltyobject.modifylinkedofferobjects",
          "description": "Modifies linked offer objects for the loyalty object with the given ID.",
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "LoyaltyObject"
          }
        },
        "get": {
          "parameterOrder": [
            "resourceId"
          ],
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "description": "Returns the loyalty object with the given object ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "GET",
          "path": "walletobjects/v1/loyaltyObject/{resourceId}",
          "response": {
            "$ref": "LoyaltyObject"
          },
          "id": "walletobjects.loyaltyobject.get",
          "flatPath": "walletobjects/v1/loyaltyObject/{resourceId}"
        },
        "update": {
          "request": {
            "$ref": "LoyaltyObject"
          },
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "required": true
            }
          },
          "path": "walletobjects/v1/loyaltyObject/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.loyaltyobject.update",
          "response": {
            "$ref": "LoyaltyObject"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "PUT",
          "flatPath": "walletobjects/v1/loyaltyObject/{resourceId}",
          "description": "Updates the loyalty object referenced by the given object ID."
        },
        "insert": {
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "request": {
            "$ref": "LoyaltyObject"
          },
          "id": "walletobjects.loyaltyobject.insert",
          "description": "Inserts an loyalty object with the given ID and properties.",
          "path": "walletobjects/v1/loyaltyObject",
          "response": {
            "$ref": "LoyaltyObject"
          },
          "parameterOrder": [],
          "flatPath": "walletobjects/v1/loyaltyObject",
          "parameters": {}
        },
        "list": {
          "flatPath": "walletobjects/v1/loyaltyObject",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "GET",
          "parameterOrder": [],
          "response": {
            "$ref": "LoyaltyObjectListResponse"
          },
          "description": "Returns a list of all loyalty objects for a given issuer ID.",
          "id": "walletobjects.loyaltyobject.list",
          "path": "walletobjects/v1/loyaltyObject",
          "parameters": {
            "token": {
              "location": "query",
              "type": "string",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects."
            },
            "classId": {
              "location": "query",
              "description": "The ID of the class whose objects will be listed.",
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "format": "int32",
              "location": "query"
            }
          }
        }
      }
    },
    "flightobject": {
      "methods": {
        "list": {
          "id": "walletobjects.flightobject.list",
          "description": "Returns a list of all flight objects for a given issuer ID.",
          "parameterOrder": [],
          "flatPath": "walletobjects/v1/flightObject",
          "httpMethod": "GET",
          "parameters": {
            "classId": {
              "description": "The ID of the class whose objects will be listed.",
              "location": "query",
              "type": "string"
            },
            "token": {
              "location": "query",
              "type": "string",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects."
            },
            "maxResults": {
              "type": "integer",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "location": "query",
              "format": "int32"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "FlightObjectListResponse"
          },
          "path": "walletobjects/v1/flightObject"
        },
        "update": {
          "id": "walletobjects.flightobject.update",
          "request": {
            "$ref": "FlightObject"
          },
          "response": {
            "$ref": "FlightObject"
          },
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "type": "string"
            }
          },
          "description": "Updates the flight object referenced by the given object ID.",
          "parameterOrder": [
            "resourceId"
          ],
          "path": "walletobjects/v1/flightObject/{resourceId}",
          "httpMethod": "PUT",
          "flatPath": "walletobjects/v1/flightObject/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "get": {
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ],
          "path": "walletobjects/v1/flightObject/{resourceId}",
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true
            }
          },
          "description": "Returns the flight object with the given object ID.",
          "response": {
            "$ref": "FlightObject"
          },
          "flatPath": "walletobjects/v1/flightObject/{resourceId}",
          "id": "walletobjects.flightobject.get"
        },
        "addmessage": {
          "flatPath": "walletobjects/v1/flightObject/{resourceId}/addMessage",
          "id": "walletobjects.flightobject.addmessage",
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          },
          "response": {
            "$ref": "FlightObjectAddMessageResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "AddMessageRequest"
          },
          "path": "walletobjects/v1/flightObject/{resourceId}/addMessage",
          "description": "Adds a message to the flight object referenced by the given object ID.",
          "parameterOrder": [
            "resourceId"
          ]
        },
        "patch": {
          "id": "walletobjects.flightobject.patch",
          "path": "walletobjects/v1/flightObject/{resourceId}",
          "flatPath": "walletobjects/v1/flightObject/{resourceId}",
          "response": {
            "$ref": "FlightObject"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Updates the flight object referenced by the given object ID. This method supports patch semantics.",
          "request": {
            "$ref": "FlightObject"
          },
          "parameters": {
            "resourceId": {
              "type": "string",
              "location": "path",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true
            }
          },
          "parameterOrder": [
            "resourceId"
          ],
          "httpMethod": "PATCH"
        },
        "insert": {
          "parameterOrder": [],
          "path": "walletobjects/v1/flightObject",
          "parameters": {},
          "flatPath": "walletobjects/v1/flightObject",
          "request": {
            "$ref": "FlightObject"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "POST",
          "id": "walletobjects.flightobject.insert",
          "response": {
            "$ref": "FlightObject"
          },
          "description": "Inserts an flight object with the given ID and properties."
        }
      }
    },
    "genericobject": {
      "methods": {
        "list": {
          "response": {
            "$ref": "GenericObjectListResponse"
          },
          "httpMethod": "GET",
          "description": "Returns a list of all generic objects for a given issuer ID.",
          "parameters": {
            "token": {
              "type": "string",
              "location": "query",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects."
            },
            "maxResults": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined."
            },
            "classId": {
              "location": "query",
              "type": "string",
              "description": "The ID of the class whose objects will be listed."
            }
          },
          "parameterOrder": [],
          "path": "walletobjects/v1/genericObject",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/genericObject",
          "id": "walletobjects.genericobject.list"
        },
        "get": {
          "flatPath": "walletobjects/v1/genericObject/{resourceId}",
          "description": "Returns the generic object with the given object ID.",
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.genericobject.get",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "GET",
          "path": "walletobjects/v1/genericObject/{resourceId}",
          "response": {
            "$ref": "GenericObject"
          },
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          }
        },
        "insert": {
          "flatPath": "walletobjects/v1/genericObject",
          "path": "walletobjects/v1/genericObject",
          "parameters": {},
          "response": {
            "$ref": "GenericObject"
          },
          "id": "walletobjects.genericobject.insert",
          "httpMethod": "POST",
          "parameterOrder": [],
          "request": {
            "$ref": "GenericObject"
          },
          "description": "Inserts a generic object with the given ID and properties.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "update": {
          "response": {
            "$ref": "GenericObject"
          },
          "httpMethod": "PUT",
          "description": "Updates the generic object referenced by the given object ID.",
          "flatPath": "walletobjects/v1/genericObject/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`.",
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "GenericObject"
          },
          "path": "walletobjects/v1/genericObject/{resourceId}",
          "id": "walletobjects.genericobject.update"
        },
        "patch": {
          "description": "Updates the generic object referenced by the given object ID. This method supports patch semantics.",
          "request": {
            "$ref": "GenericObject"
          },
          "flatPath": "walletobjects/v1/genericObject/{resourceId}",
          "parameters": {
            "resourceId": {
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`.",
              "location": "path",
              "type": "string"
            }
          },
          "response": {
            "$ref": "GenericObject"
          },
          "id": "walletobjects.genericobject.patch",
          "httpMethod": "PATCH",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/genericObject/{resourceId}"
        }
      }
    },
    "permissions": {
      "methods": {
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.permissions.update",
          "parameters": {
            "resourceId": {
              "required": true,
              "location": "path",
              "format": "int64",
              "type": "string",
              "description": "The unique identifier for an issuer. This ID must be unique across all issuers."
            }
          },
          "flatPath": "walletobjects/v1/permissions/{resourceId}",
          "response": {
            "$ref": "Permissions"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "httpMethod": "PUT",
          "path": "walletobjects/v1/permissions/{resourceId}",
          "description": "Updates the permissions for the given issuer.",
          "request": {
            "$ref": "Permissions"
          }
        },
        "get": {
          "flatPath": "walletobjects/v1/permissions/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "Permissions"
          },
          "description": "Returns the permissions for the given issuer id.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/permissions/{resourceId}",
          "parameters": {
            "resourceId": {
              "format": "int64",
              "required": true,
              "description": "The unique identifier for an issuer. This ID must be unique across all issuers.",
              "type": "string",
              "location": "path"
            }
          },
          "id": "walletobjects.permissions.get",
          "httpMethod": "GET"
        }
      }
    },
    "giftcardclass": {
      "methods": {
        "list": {
          "parameterOrder": [],
          "id": "walletobjects.giftcardclass.list",
          "flatPath": "walletobjects/v1/giftCardClass",
          "parameters": {
            "maxResults": {
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            },
            "issuerId": {
              "format": "int64",
              "type": "string",
              "description": "The ID of the issuer authorized to list classes.",
              "location": "query"
            },
            "token": {
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes.",
              "type": "string",
              "location": "query"
            }
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "GiftCardClassListResponse"
          },
          "path": "walletobjects/v1/giftCardClass",
          "description": "Returns a list of all gift card classes for a given issuer ID."
        },
        "get": {
          "httpMethod": "GET",
          "parameters": {
            "resourceId": {
              "required": true,
              "location": "path",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string"
            }
          },
          "description": "Returns the gift card class with the given class ID.",
          "response": {
            "$ref": "GiftCardClass"
          },
          "flatPath": "walletobjects/v1/giftCardClass/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "path": "walletobjects/v1/giftCardClass/{resourceId}",
          "id": "walletobjects.giftcardclass.get",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "addmessage": {
          "httpMethod": "POST",
          "id": "walletobjects.giftcardclass.addmessage",
          "description": "Adds a message to the gift card class referenced by the given class ID.",
          "path": "walletobjects/v1/giftCardClass/{resourceId}/addMessage",
          "flatPath": "walletobjects/v1/giftCardClass/{resourceId}/addMessage",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "request": {
            "$ref": "AddMessageRequest"
          },
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "response": {
            "$ref": "GiftCardClassAddMessageResponse"
          }
        },
        "insert": {
          "httpMethod": "POST",
          "parameterOrder": [],
          "response": {
            "$ref": "GiftCardClass"
          },
          "parameters": {},
          "path": "walletobjects/v1/giftCardClass",
          "request": {
            "$ref": "GiftCardClass"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/giftCardClass",
          "id": "walletobjects.giftcardclass.insert",
          "description": "Inserts an gift card class with the given ID and properties."
        },
        "patch": {
          "httpMethod": "PATCH",
          "flatPath": "walletobjects/v1/giftCardClass/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ],
          "description": "Updates the gift card class referenced by the given class ID. This method supports patch semantics.",
          "request": {
            "$ref": "GiftCardClass"
          },
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "path": "walletobjects/v1/giftCardClass/{resourceId}",
          "id": "walletobjects.giftcardclass.patch",
          "response": {
            "$ref": "GiftCardClass"
          }
        },
        "update": {
          "httpMethod": "PUT",
          "request": {
            "$ref": "GiftCardClass"
          },
          "flatPath": "walletobjects/v1/giftCardClass/{resourceId}",
          "description": "Updates the gift card class referenced by the given class ID.",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "GiftCardClass"
          },
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/giftCardClass/{resourceId}",
          "id": "walletobjects.giftcardclass.update"
        }
      }
    },
    "loyaltyclass": {
      "methods": {
        "addmessage": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Adds a message to the loyalty class referenced by the given class ID.",
          "id": "walletobjects.loyaltyclass.addmessage",
          "request": {
            "$ref": "AddMessageRequest"
          },
          "path": "walletobjects/v1/loyaltyClass/{resourceId}/addMessage",
          "flatPath": "walletobjects/v1/loyaltyClass/{resourceId}/addMessage",
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "required": true
            }
          },
          "response": {
            "$ref": "LoyaltyClassAddMessageResponse"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "resourceId"
          ]
        },
        "update": {
          "description": "Updates the loyalty class referenced by the given class ID.",
          "flatPath": "walletobjects/v1/loyaltyClass/{resourceId}",
          "httpMethod": "PUT",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/loyaltyClass/{resourceId}",
          "request": {
            "$ref": "LoyaltyClass"
          },
          "response": {
            "$ref": "LoyaltyClass"
          },
          "id": "walletobjects.loyaltyclass.update"
        },
        "patch": {
          "response": {
            "$ref": "LoyaltyClass"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/loyaltyClass/{resourceId}",
          "httpMethod": "PATCH",
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.loyaltyclass.patch",
          "request": {
            "$ref": "LoyaltyClass"
          },
          "path": "walletobjects/v1/loyaltyClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "required": true,
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path"
            }
          },
          "description": "Updates the loyalty class referenced by the given class ID. This method supports patch semantics."
        },
        "insert": {
          "parameterOrder": [],
          "response": {
            "$ref": "LoyaltyClass"
          },
          "path": "walletobjects/v1/loyaltyClass",
          "id": "walletobjects.loyaltyclass.insert",
          "description": "Inserts an loyalty class with the given ID and properties.",
          "request": {
            "$ref": "LoyaltyClass"
          },
          "parameters": {},
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/loyaltyClass"
        },
        "list": {
          "id": "walletobjects.loyaltyclass.list",
          "parameterOrder": [],
          "description": "Returns a list of all loyalty classes for a given issuer ID.",
          "path": "walletobjects/v1/loyaltyClass",
          "httpMethod": "GET",
          "response": {
            "$ref": "LoyaltyClassListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/loyaltyClass",
          "parameters": {
            "maxResults": {
              "location": "query",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "format": "int32",
              "type": "integer"
            },
            "token": {
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes.",
              "location": "query",
              "type": "string"
            },
            "issuerId": {
              "format": "int64",
              "type": "string",
              "location": "query",
              "description": "The ID of the issuer authorized to list classes."
            }
          }
        },
        "get": {
          "id": "walletobjects.loyaltyclass.get",
          "response": {
            "$ref": "LoyaltyClass"
          },
          "flatPath": "walletobjects/v1/loyaltyClass/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ],
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          },
          "description": "Returns the loyalty class with the given class ID.",
          "httpMethod": "GET",
          "path": "walletobjects/v1/loyaltyClass/{resourceId}"
        }
      }
    },
    "transitclass": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "path": "walletobjects/v1/transitClass",
          "description": "Returns a list of all transit classes for a given issuer ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.transitclass.list",
          "flatPath": "walletobjects/v1/transitClass",
          "response": {
            "$ref": "TransitClassListResponse"
          },
          "parameterOrder": [],
          "parameters": {
            "token": {
              "location": "query",
              "type": "string",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes."
            },
            "issuerId": {
              "location": "query",
              "format": "int64",
              "type": "string",
              "description": "The ID of the issuer authorized to list classes."
            },
            "maxResults": {
              "format": "int32",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "type": "integer",
              "location": "query"
            }
          }
        },
        "update": {
          "flatPath": "walletobjects/v1/transitClass/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "request": {
            "$ref": "TransitClass"
          },
          "httpMethod": "PUT",
          "description": "Updates the transit class referenced by the given class ID.",
          "id": "walletobjects.transitclass.update",
          "response": {
            "$ref": "TransitClass"
          },
          "path": "walletobjects/v1/transitClass/{resourceId}"
        },
        "insert": {
          "parameterOrder": [],
          "flatPath": "walletobjects/v1/transitClass",
          "httpMethod": "POST",
          "id": "walletobjects.transitclass.insert",
          "request": {
            "$ref": "TransitClass"
          },
          "path": "walletobjects/v1/transitClass",
          "response": {
            "$ref": "TransitClass"
          },
          "description": "Inserts a transit class with the given ID and properties.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {}
        },
        "addmessage": {
          "flatPath": "walletobjects/v1/transitClass/{resourceId}/addMessage",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "TransitClassAddMessageResponse"
          },
          "description": "Adds a message to the transit class referenced by the given class ID.",
          "path": "walletobjects/v1/transitClass/{resourceId}/addMessage",
          "parameterOrder": [
            "resourceId"
          ],
          "httpMethod": "POST",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "id": "walletobjects.transitclass.addmessage",
          "request": {
            "$ref": "AddMessageRequest"
          }
        },
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ],
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "type": "string"
            }
          },
          "request": {
            "$ref": "TransitClass"
          },
          "path": "walletobjects/v1/transitClass/{resourceId}",
          "flatPath": "walletobjects/v1/transitClass/{resourceId}",
          "id": "walletobjects.transitclass.patch",
          "httpMethod": "PATCH",
          "description": "Updates the transit class referenced by the given class ID. This method supports patch semantics.",
          "response": {
            "$ref": "TransitClass"
          }
        },
        "get": {
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "TransitClass"
          },
          "flatPath": "walletobjects/v1/transitClass/{resourceId}",
          "httpMethod": "GET",
          "id": "walletobjects.transitclass.get",
          "description": "Returns the transit class with the given class ID.",
          "parameters": {
            "resourceId": {
              "type": "string",
              "required": true,
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          },
          "path": "walletobjects/v1/transitClass/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        }
      }
    },
    "genericclass": {
      "methods": {
        "patch": {
          "path": "walletobjects/v1/genericClass/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`.",
              "required": true,
              "location": "path"
            }
          },
          "request": {
            "$ref": "GenericClass"
          },
          "id": "walletobjects.genericclass.patch",
          "flatPath": "walletobjects/v1/genericClass/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "GenericClass"
          },
          "description": "Updates the generic class referenced by the given class ID. This method supports patch semantics.",
          "httpMethod": "PATCH"
        },
        "update": {
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "GenericClass"
          },
          "request": {
            "$ref": "GenericClass"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/genericClass/{resourceId}",
          "httpMethod": "PUT",
          "description": "Updates the Generic class referenced by the given class ID.",
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`.",
              "required": true,
              "type": "string"
            }
          },
          "path": "walletobjects/v1/genericClass/{resourceId}",
          "id": "walletobjects.genericclass.update"
        },
        "insert": {
          "parameterOrder": [],
          "id": "walletobjects.genericclass.insert",
          "request": {
            "$ref": "GenericClass"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "GenericClass"
          },
          "flatPath": "walletobjects/v1/genericClass",
          "parameters": {},
          "description": "Inserts a generic class with the given ID and properties.",
          "httpMethod": "POST",
          "path": "walletobjects/v1/genericClass"
        },
        "list": {
          "description": "Returns a list of all generic classes for a given issuer ID.",
          "flatPath": "walletobjects/v1/genericClass",
          "response": {
            "$ref": "GenericClassListResponse"
          },
          "parameterOrder": [],
          "httpMethod": "GET",
          "parameters": {
            "issuerId": {
              "location": "query",
              "format": "int64",
              "type": "string",
              "description": "The ID of the issuer authorized to list classes."
            },
            "maxResults": {
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "token": {
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes.",
              "location": "query",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.genericclass.list",
          "path": "walletobjects/v1/genericClass"
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/genericClass/{resourceId}",
          "description": "Returns the generic class with the given class ID.",
          "response": {
            "$ref": "GenericClass"
          },
          "parameters": {
            "resourceId": {
              "required": true,
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`.",
              "type": "string",
              "location": "path"
            }
          },
          "parameterOrder": [
            "resourceId"
          ],
          "flatPath": "walletobjects/v1/genericClass/{resourceId}",
          "id": "walletobjects.genericclass.get",
          "httpMethod": "GET"
        }
      }
    },
    "smarttap": {
      "methods": {
        "insert": {
          "response": {
            "$ref": "SmartTap"
          },
          "path": "walletobjects/v1/smartTap",
          "id": "walletobjects.smarttap.insert",
          "parameters": {},
          "parameterOrder": [],
          "httpMethod": "POST",
          "request": {
            "$ref": "SmartTap"
          },
          "flatPath": "walletobjects/v1/smartTap",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Inserts the smart tap."
        }
      }
    },
    "giftcardobject": {
      "methods": {
        "get": {
          "parameters": {
            "resourceId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "path": "walletobjects/v1/giftCardObject/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "description": "Returns the gift card object with the given object ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.giftcardobject.get",
          "httpMethod": "GET",
          "flatPath": "walletobjects/v1/giftCardObject/{resourceId}",
          "response": {
            "$ref": "GiftCardObject"
          }
        },
        "addmessage": {
          "flatPath": "walletobjects/v1/giftCardObject/{resourceId}/addMessage",
          "path": "walletobjects/v1/giftCardObject/{resourceId}/addMessage",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Adds a message to the gift card object referenced by the given object ID.",
          "httpMethod": "POST",
          "id": "walletobjects.giftcardobject.addmessage",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "response": {
            "$ref": "GiftCardObjectAddMessageResponse"
          },
          "request": {
            "$ref": "AddMessageRequest"
          },
          "parameterOrder": [
            "resourceId"
          ]
        },
        "insert": {
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "request": {
            "$ref": "GiftCardObject"
          },
          "flatPath": "walletobjects/v1/giftCardObject",
          "path": "walletobjects/v1/giftCardObject",
          "response": {
            "$ref": "GiftCardObject"
          },
          "id": "walletobjects.giftcardobject.insert",
          "parameterOrder": [],
          "description": "Inserts an gift card object with the given ID and properties.",
          "parameters": {}
        },
        "update": {
          "description": "Updates the gift card object referenced by the given object ID.",
          "response": {
            "$ref": "GiftCardObject"
          },
          "request": {
            "$ref": "GiftCardObject"
          },
          "id": "walletobjects.giftcardobject.update",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ],
          "flatPath": "walletobjects/v1/giftCardObject/{resourceId}",
          "httpMethod": "PUT",
          "path": "walletobjects/v1/giftCardObject/{resourceId}"
        },
        "patch": {
          "httpMethod": "PATCH",
          "request": {
            "$ref": "GiftCardObject"
          },
          "path": "walletobjects/v1/giftCardObject/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.giftcardobject.patch",
          "flatPath": "walletobjects/v1/giftCardObject/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "location": "path"
            }
          },
          "response": {
            "$ref": "GiftCardObject"
          },
          "description": "Updates the gift card object referenced by the given object ID. This method supports patch semantics."
        },
        "list": {
          "description": "Returns a list of all gift card objects for a given issuer ID.",
          "parameterOrder": [],
          "response": {
            "$ref": "GiftCardObjectListResponse"
          },
          "parameters": {
            "classId": {
              "type": "string",
              "location": "query",
              "description": "The ID of the class whose objects will be listed."
            },
            "token": {
              "type": "string",
              "location": "query",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects."
            },
            "maxResults": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined."
            }
          },
          "httpMethod": "GET",
          "id": "walletobjects.giftcardobject.list",
          "flatPath": "walletobjects/v1/giftCardObject",
          "path": "walletobjects/v1/giftCardObject",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        }
      }
    },
    "offerclass": {
      "methods": {
        "list": {
          "id": "walletobjects.offerclass.list",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "token": {
              "location": "query",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes.",
              "type": "string"
            },
            "issuerId": {
              "description": "The ID of the issuer authorized to list classes.",
              "format": "int64",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "format": "int32",
              "type": "integer",
              "location": "query",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined."
            }
          },
          "path": "walletobjects/v1/offerClass",
          "parameterOrder": [],
          "response": {
            "$ref": "OfferClassListResponse"
          },
          "flatPath": "walletobjects/v1/offerClass",
          "httpMethod": "GET",
          "description": "Returns a list of all offer classes for a given issuer ID."
        },
        "insert": {
          "path": "walletobjects/v1/offerClass",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "POST",
          "parameters": {},
          "flatPath": "walletobjects/v1/offerClass",
          "request": {
            "$ref": "OfferClass"
          },
          "description": "Inserts an offer class with the given ID and properties.",
          "id": "walletobjects.offerclass.insert",
          "response": {
            "$ref": "OfferClass"
          },
          "parameterOrder": []
        },
        "patch": {
          "response": {
            "$ref": "OfferClass"
          },
          "request": {
            "$ref": "OfferClass"
          },
          "id": "walletobjects.offerclass.patch",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/offerClass/{resourceId}",
          "httpMethod": "PATCH",
          "parameterOrder": [
            "resourceId"
          ],
          "path": "walletobjects/v1/offerClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "description": "Updates the offer class referenced by the given class ID. This method supports patch semantics."
        },
        "get": {
          "description": "Returns the offer class with the given class ID.",
          "path": "walletobjects/v1/offerClass/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "OfferClass"
          },
          "flatPath": "walletobjects/v1/offerClass/{resourceId}",
          "httpMethod": "GET",
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true
            }
          },
          "id": "walletobjects.offerclass.get"
        },
        "update": {
          "httpMethod": "PUT",
          "description": "Updates the offer class referenced by the given class ID.",
          "parameters": {
            "resourceId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "parameterOrder": [
            "resourceId"
          ],
          "path": "walletobjects/v1/offerClass/{resourceId}",
          "id": "walletobjects.offerclass.update",
          "response": {
            "$ref": "OfferClass"
          },
          "request": {
            "$ref": "OfferClass"
          },
          "flatPath": "walletobjects/v1/offerClass/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "addmessage": {
          "path": "walletobjects/v1/offerClass/{resourceId}/addMessage",
          "response": {
            "$ref": "OfferClassAddMessageResponse"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "httpMethod": "POST",
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Adds a message to the offer class referenced by the given class ID.",
          "request": {
            "$ref": "AddMessageRequest"
          },
          "flatPath": "walletobjects/v1/offerClass/{resourceId}/addMessage",
          "id": "walletobjects.offerclass.addmessage"
        }
      }
    },
    "eventticketobject": {
      "methods": {
        "patch": {
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "type": "string"
            }
          },
          "response": {
            "$ref": "EventTicketObject"
          },
          "description": "Updates the event ticket object referenced by the given object ID. This method supports patch semantics.",
          "id": "walletobjects.eventticketobject.patch",
          "request": {
            "$ref": "EventTicketObject"
          },
          "flatPath": "walletobjects/v1/eventTicketObject/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "path": "walletobjects/v1/eventTicketObject/{resourceId}"
        },
        "modifylinkedofferobjects": {
          "request": {
            "$ref": "ModifyLinkedOfferObjectsRequest"
          },
          "response": {
            "$ref": "EventTicketObject"
          },
          "httpMethod": "POST",
          "parameters": {
            "resourceId": {
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path"
            }
          },
          "id": "walletobjects.eventticketobject.modifylinkedofferobjects",
          "path": "walletobjects/v1/eventTicketObject/{resourceId}/modifyLinkedOfferObjects",
          "flatPath": "walletobjects/v1/eventTicketObject/{resourceId}/modifyLinkedOfferObjects",
          "description": "Modifies linked offer objects for the event ticket object with the given ID.",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "update": {
          "description": "Updates the event ticket object referenced by the given object ID.",
          "id": "walletobjects.eventticketobject.update",
          "path": "walletobjects/v1/eventTicketObject/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/eventTicketObject/{resourceId}",
          "parameters": {
            "resourceId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "httpMethod": "PUT",
          "request": {
            "$ref": "EventTicketObject"
          },
          "response": {
            "$ref": "EventTicketObject"
          },
          "parameterOrder": [
            "resourceId"
          ]
        },
        "addmessage": {
          "id": "walletobjects.eventticketobject.addmessage",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ],
          "httpMethod": "POST",
          "flatPath": "walletobjects/v1/eventTicketObject/{resourceId}/addMessage",
          "description": "Adds a message to the event ticket object referenced by the given object ID.",
          "response": {
            "$ref": "EventTicketObjectAddMessageResponse"
          },
          "request": {
            "$ref": "AddMessageRequest"
          },
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "path": "walletobjects/v1/eventTicketObject/{resourceId}/addMessage"
        },
        "insert": {
          "response": {
            "$ref": "EventTicketObject"
          },
          "id": "walletobjects.eventticketobject.insert",
          "flatPath": "walletobjects/v1/eventTicketObject",
          "parameters": {},
          "description": "Inserts an event ticket object with the given ID and properties.",
          "path": "walletobjects/v1/eventTicketObject",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "request": {
            "$ref": "EventTicketObject"
          },
          "httpMethod": "POST"
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ],
          "flatPath": "walletobjects/v1/eventTicketObject/{resourceId}",
          "id": "walletobjects.eventticketobject.get",
          "parameters": {
            "resourceId": {
              "type": "string",
              "location": "path",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true
            }
          },
          "path": "walletobjects/v1/eventTicketObject/{resourceId}",
          "httpMethod": "GET",
          "response": {
            "$ref": "EventTicketObject"
          },
          "description": "Returns the event ticket object with the given object ID."
        },
        "list": {
          "httpMethod": "GET",
          "description": "Returns a list of all event ticket objects for a given issuer ID.",
          "flatPath": "walletobjects/v1/eventTicketObject",
          "parameterOrder": [],
          "parameters": {
            "maxResults": {
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "classId": {
              "location": "query",
              "description": "The ID of the class whose objects will be listed.",
              "type": "string"
            },
            "token": {
              "type": "string",
              "location": "query",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects."
            }
          },
          "path": "walletobjects/v1/eventTicketObject",
          "response": {
            "$ref": "EventTicketObjectListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.eventticketobject.list"
        }
      }
    },
    "jwt": {
      "methods": {
        "insert": {
          "parameterOrder": [],
          "request": {
            "$ref": "JwtResource"
          },
          "description": "Inserts the resources in the JWT.",
          "path": "walletobjects/v1/jwt",
          "response": {
            "$ref": "JwtInsertResponse"
          },
          "flatPath": "walletobjects/v1/jwt",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.jwt.insert",
          "parameters": {}
        }
      }
    },
    "offerobject": {
      "methods": {
        "update": {
          "response": {
            "$ref": "OfferObject"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/offerObject/{resourceId}",
          "description": "Updates the offer object referenced by the given object ID.",
          "id": "walletobjects.offerobject.update",
          "request": {
            "$ref": "OfferObject"
          },
          "httpMethod": "PUT",
          "path": "walletobjects/v1/offerObject/{resourceId}"
        },
        "patch": {
          "httpMethod": "PATCH",
          "description": "Updates the offer object referenced by the given object ID. This method supports patch semantics.",
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "OfferObject"
          },
          "path": "walletobjects/v1/offerObject/{resourceId}",
          "request": {
            "$ref": "OfferObject"
          },
          "id": "walletobjects.offerobject.patch",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ],
          "flatPath": "walletobjects/v1/offerObject/{resourceId}"
        },
        "addmessage": {
          "request": {
            "$ref": "AddMessageRequest"
          },
          "description": "Adds a message to the offer object referenced by the given object ID.",
          "httpMethod": "POST",
          "parameterOrder": [
            "resourceId"
          ],
          "parameters": {
            "resourceId": {
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path"
            }
          },
          "response": {
            "$ref": "OfferObjectAddMessageResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.offerobject.addmessage",
          "path": "walletobjects/v1/offerObject/{resourceId}/addMessage",
          "flatPath": "walletobjects/v1/offerObject/{resourceId}/addMessage"
        },
        "get": {
          "response": {
            "$ref": "OfferObject"
          },
          "id": "walletobjects.offerobject.get",
          "flatPath": "walletobjects/v1/offerObject/{resourceId}",
          "path": "walletobjects/v1/offerObject/{resourceId}",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "type": "string"
            }
          },
          "description": "Returns the offer object with the given object ID.",
          "parameterOrder": [
            "resourceId"
          ]
        },
        "list": {
          "response": {
            "$ref": "OfferObjectListResponse"
          },
          "description": "Returns a list of all offer objects for a given issuer ID.",
          "flatPath": "walletobjects/v1/offerObject",
          "parameters": {
            "maxResults": {
              "location": "query",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "format": "int32",
              "type": "integer"
            },
            "token": {
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects.",
              "type": "string",
              "location": "query"
            },
            "classId": {
              "description": "The ID of the class whose objects will be listed.",
              "type": "string",
              "location": "query"
            }
          },
          "id": "walletobjects.offerobject.list",
          "path": "walletobjects/v1/offerObject",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": []
        },
        "insert": {
          "description": "Inserts an offer object with the given ID and properties.",
          "response": {
            "$ref": "OfferObject"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/offerObject",
          "request": {
            "$ref": "OfferObject"
          },
          "id": "walletobjects.offerobject.insert",
          "httpMethod": "POST",
          "flatPath": "walletobjects/v1/offerObject",
          "parameters": {},
          "parameterOrder": []
        }
      }
    },
    "flightclass": {
      "methods": {
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "request": {
            "$ref": "FlightClass"
          },
          "description": "Updates the flight class referenced by the given class ID.",
          "path": "walletobjects/v1/flightClass/{resourceId}",
          "response": {
            "$ref": "FlightClass"
          },
          "flatPath": "walletobjects/v1/flightClass/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "parameters": {
            "resourceId": {
              "required": true,
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "type": "string"
            }
          },
          "httpMethod": "PUT",
          "id": "walletobjects.flightclass.update"
        },
        "get": {
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "id": "walletobjects.flightclass.get",
          "response": {
            "$ref": "FlightClass"
          },
          "path": "walletobjects/v1/flightClass/{resourceId}",
          "httpMethod": "GET",
          "description": "Returns the flight class with the given class ID.",
          "flatPath": "walletobjects/v1/flightClass/{resourceId}"
        },
        "insert": {
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "POST",
          "id": "walletobjects.flightclass.insert",
          "response": {
            "$ref": "FlightClass"
          },
          "description": "Inserts an flight class with the given ID and properties.",
          "parameters": {},
          "flatPath": "walletobjects/v1/flightClass",
          "request": {
            "$ref": "FlightClass"
          },
          "path": "walletobjects/v1/flightClass"
        },
        "list": {
          "description": "Returns a list of all flight classes for a given issuer ID.",
          "parameterOrder": [],
          "id": "walletobjects.flightclass.list",
          "flatPath": "walletobjects/v1/flightClass",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "GET",
          "path": "walletobjects/v1/flightClass",
          "parameters": {
            "issuerId": {
              "type": "string",
              "location": "query",
              "format": "int64",
              "description": "The ID of the issuer authorized to list classes."
            },
            "maxResults": {
              "location": "query",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "type": "integer",
              "format": "int32"
            },
            "token": {
              "location": "query",
              "type": "string",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes."
            }
          },
          "response": {
            "$ref": "FlightClassListResponse"
          }
        },
        "addmessage": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.flightclass.addmessage",
          "httpMethod": "POST",
          "path": "walletobjects/v1/flightClass/{resourceId}/addMessage",
          "parameters": {
            "resourceId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "description": "Adds a message to the flight class referenced by the given class ID.",
          "request": {
            "$ref": "AddMessageRequest"
          },
          "response": {
            "$ref": "FlightClassAddMessageResponse"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "flatPath": "walletobjects/v1/flightClass/{resourceId}/addMessage"
        },
        "patch": {
          "httpMethod": "PATCH",
          "description": "Updates the flight class referenced by the given class ID. This method supports patch semantics.",
          "path": "walletobjects/v1/flightClass/{resourceId}",
          "flatPath": "walletobjects/v1/flightClass/{resourceId}",
          "id": "walletobjects.flightclass.patch",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "FlightClass"
          },
          "request": {
            "$ref": "FlightClass"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "type": "string",
              "required": true
            }
          }
        }
      }
    },
    "media": {
      "methods": {
        "download": {
          "parameters": {
            "resourceId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "path": "walletobjects/v1/transitObject/{resourceId}/downloadRotatingBarcodeValues",
          "supportsMediaDownload": true,
          "flatPath": "walletobjects/v1/transitObject/{resourceId}/downloadRotatingBarcodeValues",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ],
          "description": "Downloads rotating barcode values for the transit object referenced by the given object ID.",
          "useMediaDownloadService": true,
          "id": "walletobjects.media.download",
          "response": {
            "$ref": "Media"
          },
          "httpMethod": "GET"
        },
        "upload": {
          "request": {
            "$ref": "TransitObjectUploadRotatingBarcodeValuesRequest"
          },
          "path": "walletobjects/v1/transitObject/{resourceId}/uploadRotatingBarcodeValues",
          "parameterOrder": [
            "resourceId"
          ],
          "description": "Uploads rotating barcode values for the transit object referenced by the given object ID. Note the max upload size is specified in google3/production/config/cdd/apps-upload/customers/payments-consumer-passes/config.gcl and enforced by Scotty.",
          "response": {
            "$ref": "TransitObjectUploadRotatingBarcodeValuesResponse"
          },
          "parameters": {
            "resourceId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "POST",
          "mediaUpload": {
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/walletobjects/v1/transitObject/{resourceId}/uploadRotatingBarcodeValues"
              }
            },
            "accept": [
              "*/*"
            ]
          },
          "flatPath": "walletobjects/v1/transitObject/{resourceId}/uploadRotatingBarcodeValues",
          "supportsMediaUpload": true,
          "id": "walletobjects.media.upload"
        }
      }
    },
    "transitobject": {
      "methods": {
        "insert": {
          "flatPath": "walletobjects/v1/transitObject",
          "parameters": {},
          "parameterOrder": [],
          "response": {
            "$ref": "TransitObject"
          },
          "path": "walletobjects/v1/transitObject",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "TransitObject"
          },
          "id": "walletobjects.transitobject.insert",
[...]
