{
  "mtlsRootUrl": "https://webfonts.mtls.googleapis.com/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "resources": {
    "webfonts": {
      "methods": {
        "list": {
          "path": "v1/webfonts",
          "id": "webfonts.webfonts.list",
          "httpMethod": "GET",
          "parameterOrder": [],
          "response": {
            "$ref": "WebfontList"
          },
          "description": "Retrieves the list of fonts currently served by the Google Fonts Developer API.",
          "flatPath": "v1/webfonts",
          "parameters": {
            "subset": {
              "type": "string",
              "location": "query",
              "description": "Filters by Webfont.subset, if subset is found in Webfont.subsets. If not set, returns all families."
            },
            "capability": {
              "enumDescriptions": [
                "Default means static ttf fonts.",
                "Use WOFF2(Compressed)instead of ttf.",
                "Prefer variable font files instead of static fonts instantiated at standard weights."
              ],
              "repeated": true,
              "enum": [
                "CAPABILITY_UNSPECIFIED",
                "WOFF2",
                "VF"
              ],
              "location": "query",
              "description": "Controls the font urls in `Webfont.files`, by default, static ttf fonts are sent.",
              "type": "string"
            },
            "family": {
              "type": "string",
              "location": "query",
              "description": "Filters by Webfont.family, using literal match. If not set, returns all families",
              "repeated": true
            },
            "sort": {
              "enumDescriptions": [
                "No sorting specified, use the default sorting method.",
                "Sort alphabetically",
                "Sort by date added",
                "Sort by popularity",
                "Sort by number of styles",
                "Sort by trending"
              ],
              "location": "query",
              "enum": [
                "SORT_UNDEFINED",
                "ALPHA",
                "DATE",
                "POPULARITY",
                "STYLE",
                "TRENDING"
              ],
              "description": "Enables sorting of the list.",
              "type": "string"
            }
          }
        }
      }
    }
  },
  "rootUrl": "https://webfonts.googleapis.com/",
  "version": "v1",
  "documentationLink": "https://developers.google.com/fonts/docs/developer_api",
  "revision": "20230419",
  "ownerDomain": "google.com",
  "id": "webfonts:v1",
  "description": "The Google Web Fonts Developer API lets you retrieve information about web fonts served by Google.",
  "basePath": "",
  "ownerName": "Google",
  "kind": "discovery#restDescription",
  "name": "webfonts",
  "title": "Web Fonts Developer API",
  "baseUrl": "https://webfonts.googleapis.com/",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "canonicalName": "Webfonts",
  "parameters": {
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "location": "query",
      "default": "json"
    }
  },
  "schemas": {
    "Axis": {
      "properties": {
        "start": {
          "type": "number",
          "description": "minimum value",
          "format": "float"
        },
        "end": {
          "description": "maximum value",
          "type": "number",
          "format": "float"
        },
        "tag": {
          "description": "tag name.",
          "type": "string"
        }
      },
      "description": "Metadata for a variable font axis.",
      "type": "object",
      "id": "Axis"
    },
    "WebfontList": {
      "description": "Response containing the list of fonts currently served by the Google Fonts API.",
      "id": "WebfontList",
      "properties": {
        "kind": {
          "description": "This kind represents a list of webfont objects in the webfonts service.",
          "type": "string"
        },
        "items": {
          "description": "The list of fonts currently served by the Google Fonts API.",
          "type": "array",
          "items": {
            "$ref": "Webfont"
          }
        }
      },
      "type": "object"
    },
    "Webfont": {
      "properties": {
        "subsets": {
          "type": "array",
          "description": "The scripts supported by the font.",
          "items": {
            "type": "string"
          }
        },
        "family": {
          "description": "The name of the font.",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "The font version."
        },
        "lastModified": {
          "description": "The date (format \"yyyy-MM-dd\") the font was modified for the last time.",
          "type": "string"
        },
        "category": {
          "type": "string",
          "description": "The category of the font."
        },
        "variants": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The available variants for the font."
        },
        "kind": {
          "description": "This kind represents a webfont object in the webfonts service.",
          "type": "string"
        },
        "menu": {
          "description": "Font URL for menu subset, a subset of the font that is enough to display the font name",
          "type": "string"
        },
        "axes": {
          "type": "array",
          "description": "Axis for variable fonts.",
          "items": {
            "$ref": "Axis"
          }
        },
        "files": {
          "description": "The font files (with all supported scripts) for each one of the available variants, as a key : value map.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Metadata describing a family of fonts.",
      "id": "Webfont"
    }
  },
  "servicePath": "",
  "batchPath": "batch"
}
