{
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "protocol": "rest",
  "revision": "20220819",
  "title": "Web Risk API",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version": "v1",
  "version_module": true,
  "documentationLink": "https://cloud.google.com/web-risk/",
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "canonicalName": "Web Risk",
  "name": "webrisk",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "schemas": {
    "GoogleCloudWebriskV1SearchHashesResponse": {
      "properties": {
        "threats": {
          "description": "The full hashes that matched the requested prefixes. The hash will be populated in the key.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudWebriskV1SearchHashesResponseThreatHash"
          }
        },
        "negativeExpireTime": {
          "type": "string",
          "description": "For requested entities that did not match the threat list, how long to cache the response until.",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "GoogleCloudWebriskV1SearchHashesResponse"
    },
    "GoogleCloudWebriskV1SearchHashesResponseThreatHash": {
      "id": "GoogleCloudWebriskV1SearchHashesResponseThreatHash",
      "description": "Contains threat information on a matching hash.",
      "type": "object",
      "properties": {
        "threatTypes": {
          "items": {
            "enum": [
              "THREAT_TYPE_UNSPECIFIED",
              "MALWARE",
              "SOCIAL_ENGINEERING",
              "UNWANTED_SOFTWARE",
              "SOCIAL_ENGINEERING_EXTENDED_COVERAGE"
            ],
            "type": "string",
            "enumDescriptions": [
              "No entries should match this threat type. This threat type is unused.",
              "Malware targeting any platform.",
              "Social engineering targeting any platform.",
              "Unwanted software targeting any platform.",
              "Extended Coverage Social Engineering list targeting any platform."
            ]
          },
          "description": "The ThreatList this threat belongs to. This must contain at least one entry.",
          "type": "array"
        },
        "expireTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The cache lifetime for the returned match. Clients must not cache this response past this timestamp to avoid false positives."
        },
        "hash": {
          "description": "A 32 byte SHA256 hash. This field is in binary format. For JSON requests, hashes are base64-encoded.",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "GoogleCloudWebriskV1Submission": {
      "type": "object",
      "description": "Wraps a URI that might be displaying malicious content.",
      "properties": {
        "threatTypes": {
          "items": {
            "enum": [
              "THREAT_TYPE_UNSPECIFIED",
              "MALWARE",
              "SOCIAL_ENGINEERING",
              "UNWANTED_SOFTWARE",
              "SOCIAL_ENGINEERING_EXTENDED_COVERAGE"
            ],
            "enumDescriptions": [
              "No entries should match this threat type. This threat type is unused.",
              "Malware targeting any platform.",
              "Social engineering targeting any platform.",
              "Unwanted software targeting any platform.",
              "Extended Coverage Social Engineering list targeting any platform."
            ],
            "type": "string"
          },
          "type": "array",
          "description": "ThreatTypes found to be associated with the submitted URI after reviewing it. This may be empty if the URI was not added to any list."
        },
        "uri": {
          "description": "Required. The URI that is being reported for malicious content to be analyzed.",
          "type": "string"
        }
      },
      "id": "GoogleCloudWebriskV1Submission"
    },
    "GoogleCloudWebriskV1SearchUrisResponse": {
      "type": "object",
      "id": "GoogleCloudWebriskV1SearchUrisResponse",
      "properties": {
        "threat": {
          "$ref": "GoogleCloudWebriskV1SearchUrisResponseThreatUri",
          "description": "The threat list matches. This may be empty if the URI is on no list."
        }
      }
    },
    "GoogleLongrunningListOperationsResponse": {
      "type": "object",
      "id": "GoogleLongrunningListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "operations": {
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "GoogleLongrunningOperation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "GoogleCloudWebriskV1ComputeThreatListDiffResponseChecksum": {
      "type": "object",
      "id": "GoogleCloudWebriskV1ComputeThreatListDiffResponseChecksum",
      "description": "The expected state of a client's local database.",
      "properties": {
        "sha256": {
          "format": "byte",
          "type": "string",
          "description": "The SHA256 hash of the client state; that is, of the sorted list of all hashes present in the database."
        }
      }
    },
    "GoogleCloudWebriskV1ThreatEntryAdditions": {
      "id": "GoogleCloudWebriskV1ThreatEntryAdditions",
      "description": "Contains the set of entries to add to a local database. May contain a combination of compressed and raw data in a single response.",
      "properties": {
        "riceHashes": {
          "$ref": "GoogleCloudWebriskV1RiceDeltaEncoding",
          "description": "The encoded 4-byte prefixes of SHA256-formatted entries, using a Golomb-Rice encoding. The hashes are converted to uint32, sorted in ascending order, then delta encoded and stored as encoded_data."
        },
        "rawHashes": {
          "description": "The raw SHA256-formatted entries. Repeated to allow returning sets of hashes with different prefix sizes.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudWebriskV1RawHashes"
          }
        }
      },
      "type": "object"
    },
    "GoogleLongrunningCancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "id": "GoogleLongrunningCancelOperationRequest",
      "properties": {},
      "type": "object"
    },
    "GoogleLongrunningOperation": {
      "id": "GoogleLongrunningOperation",
      "type": "object",
      "properties": {
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "error": {
          "$ref": "GoogleRpcStatus",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "This field will contain a `SubmitUriMetadata` object.",
          "type": "object"
        },
        "response": {
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "This will match the pattern `/v1/{project-name}/operations/{operation-id}`."
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "GoogleProtobufEmpty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "type": "object",
      "id": "GoogleProtobufEmpty"
    },
    "GoogleCloudWebriskV1ThreatEntryRemovals": {
      "description": "Contains the set of entries to remove from a local database.",
      "id": "GoogleCloudWebriskV1ThreatEntryRemovals",
      "type": "object",
      "properties": {
        "rawIndices": {
          "description": "The raw removal indices for a local list.",
          "$ref": "GoogleCloudWebriskV1RawIndices"
        },
        "riceIndices": {
          "description": "The encoded local, lexicographically-sorted list indices, using a Golomb-Rice encoding. Used for sending compressed removal indices. The removal indices (uint32) are sorted in ascending order, then delta encoded and stored as encoded_data.",
          "$ref": "GoogleCloudWebriskV1RiceDeltaEncoding"
        }
      }
    },
    "GoogleCloudWebriskV1RiceDeltaEncoding": {
      "type": "object",
      "description": "The Rice-Golomb encoded data. Used for sending compressed 4-byte hashes or compressed removal indices.",
      "properties": {
        "riceParameter": {
          "format": "int32",
          "type": "integer",
          "description": "The Golomb-Rice parameter, which is a number between 2 and 28. This field is missing (that is, zero) if `num_entries` is zero."
        },
        "entryCount": {
          "type": "integer",
          "description": "The number of entries that are delta encoded in the encoded data. If only a single integer was encoded, this will be zero and the single value will be stored in `first_value`.",
          "format": "int32"
        },
        "encodedData": {
          "description": "The encoded deltas that are encoded using the Golomb-Rice coder.",
          "format": "byte",
          "type": "string"
        },
        "firstValue": {
          "description": "The offset of the first entry in the encoded data, or, if only a single integer was encoded, that single integer's value. If the field is empty or missing, assume zero.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "GoogleCloudWebriskV1RiceDeltaEncoding"
    },
    "GoogleCloudWebriskV1RawHashes": {
      "description": "The uncompressed threat entries in hash format. Hashes can be anywhere from 4 to 32 bytes in size. A large majority are 4 bytes, but some hashes are lengthened if they collide with the hash of a popular URI. Used for sending ThreatEntryAdditons to clients that do not support compression, or when sending non-4-byte hashes to clients that do support compression.",
      "id": "GoogleCloudWebriskV1RawHashes",
      "properties": {
        "rawHashes": {
          "type": "string",
          "format": "byte",
          "description": "The hashes, in binary format, concatenated into one long string. Hashes are sorted in lexicographic order. For JSON API users, hashes are base64-encoded."
        },
        "prefixSize": {
          "type": "integer",
          "description": "The number of bytes for each prefix encoded below. This field can be anywhere from 4 (shortest prefix) to 32 (full SHA256 hash). In practice this is almost always 4, except in exceptional circumstances.",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "GoogleCloudWebriskV1SearchUrisResponseThreatUri": {
      "properties": {
        "expireTime": {
          "type": "string",
          "description": "The cache lifetime for the returned match. Clients must not cache this response past this timestamp to avoid false positives.",
          "format": "google-datetime"
        },
        "threatTypes": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "No entries should match this threat type. This threat type is unused.",
              "Malware targeting any platform.",
              "Social engineering targeting any platform.",
              "Unwanted software targeting any platform.",
              "Extended Coverage Social Engineering list targeting any platform."
            ],
            "enum": [
              "THREAT_TYPE_UNSPECIFIED",
              "MALWARE",
              "SOCIAL_ENGINEERING",
              "UNWANTED_SOFTWARE",
              "SOCIAL_ENGINEERING_EXTENDED_COVERAGE"
            ],
            "type": "string"
          },
          "description": "The ThreatList this threat belongs to."
        }
      },
      "id": "GoogleCloudWebriskV1SearchUrisResponseThreatUri",
      "type": "object",
      "description": "Contains threat information on a matching uri."
    },
    "GoogleCloudWebriskV1SubmitUriRequest": {
      "type": "object",
      "description": "Request to send a potentially malicious URI to WebRisk.",
      "properties": {
        "submission": {
          "$ref": "GoogleCloudWebriskV1Submission",
          "description": "Required. The submission that contains the URI to be scanned."
        }
      },
      "id": "GoogleCloudWebriskV1SubmitUriRequest"
    },
    "GoogleCloudWebriskV1RawIndices": {
      "id": "GoogleCloudWebriskV1RawIndices",
      "type": "object",
      "description": "A set of raw indices to remove from a local list.",
      "properties": {
        "indices": {
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "description": "The indices to remove from a lexicographically-sorted local list.",
          "type": "array"
        }
      }
    },
    "GoogleCloudWebriskV1SubmitUriMetadata": {
      "type": "object",
      "description": "Metadata for the Submit URI long-running operation.",
      "properties": {
        "state": {
          "enumDescriptions": [
            "Default unspecified state.",
            "The operation is currently running.",
            "The operation finished with a success status.",
            "The operation was cancelled.",
            "The operation finished with a failure status.",
            "The operation was closed with no action taken."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "SUCCEEDED",
            "CANCELLED",
            "FAILED",
            "CLOSED"
          ],
          "type": "string",
          "description": "The state of the operation."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Latest update time of the operation."
        },
        "createTime": {
          "description": "Creation time of the operation.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudWebriskV1SubmitUriMetadata"
    },
    "GoogleCloudWebriskV1ComputeThreatListDiffResponse": {
      "id": "GoogleCloudWebriskV1ComputeThreatListDiffResponse",
      "type": "object",
      "properties": {
        "responseType": {
          "description": "The type of response. This may indicate that an action must be taken by the client when the response is received.",
          "enumDescriptions": [
            "Unknown.",
            "Partial updates are applied to the client's existing local database.",
            "Full updates resets the client's entire local database. This means that either the client had no state, was seriously out-of-date, or the client is believed to be corrupt."
          ],
          "enum": [
            "RESPONSE_TYPE_UNSPECIFIED",
            "DIFF",
            "RESET"
          ],
          "type": "string"
        },
        "recommendedNextDiff": {
          "format": "google-datetime",
          "type": "string",
          "description": "The soonest the client should wait before issuing any diff request. Querying sooner is unlikely to produce a meaningful diff. Waiting longer is acceptable considering the use case. If this field is not set clients may update as soon as they want."
        },
        "checksum": {
          "$ref": "GoogleCloudWebriskV1ComputeThreatListDiffResponseChecksum",
          "description": "The expected SHA256 hash of the client state; that is, of the sorted list of all hashes present in the database after applying the provided diff. If the client state doesn't match the expected state, the client must discard this diff and retry later."
        },
        "additions": {
          "$ref": "GoogleCloudWebriskV1ThreatEntryAdditions",
          "description": "A set of entries to add to a local threat type's list."
        },
        "newVersionToken": {
          "type": "string",
          "description": "The new opaque client version token. This should be retained by the client and passed into the next call of ComputeThreatListDiff as 'version_token'. A separate version token should be stored and used for each threatList.",
          "format": "byte"
        },
        "removals": {
          "$ref": "GoogleCloudWebriskV1ThreatEntryRemovals",
          "description": "A set of entries to remove from a local threat type's list. This field may be empty."
        }
      }
    },
    "GoogleRpcStatus": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          }
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      },
      "type": "object",
      "id": "GoogleRpcStatus"
    }
  },
  "parameters": {
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "location": "query",
      "default": "json",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    }
  },
  "rootUrl": "https://webrisk.googleapis.com/",
  "description": "",
  "mtlsRootUrl": "https://webrisk.mtls.googleapis.com/",
  "basePath": "",
  "kind": "discovery#restDescription",
  "baseUrl": "https://webrisk.googleapis.com/",
  "servicePath": "",
  "ownerName": "Google",
  "resources": {
    "projects": {
      "resources": {
        "uris": {
          "methods": {
            "submit": {
              "parameterOrder": [
                "parent"
              ],
              "description": "Submits a URI suspected of containing malicious content to be reviewed. Returns a google.longrunning.Operation which, once the review is complete, is updated with its result. You can use the [Pub/Sub API] (https://cloud.google.com/pubsub) to receive notifications for the returned Operation. If the result verifies the existence of malicious content, the site will be added to the [Google's Social Engineering lists] (https://support.google.com/webmasters/answer/6350487/) in order to protect users that could get exposed to this threat in the future. Only allowlisted projects can use this method during Early Access. Please reach out to Sales or your customer engineer to obtain access.",
              "id": "webrisk.projects.uris.submit",
              "request": {
                "$ref": "GoogleCloudWebriskV1SubmitUriRequest"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+parent}/uris:submit",
              "parameters": {
                "parent": {
                  "description": "Required. The name of the project that is making the submission. This string is in the format \"projects/{project_number}\".",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "flatPath": "v1/projects/{projectsId}/uris:submit"
            }
          }
        },
        "operations": {
          "methods": {
            "get": {
              "path": "v1/{+name}",
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "description": "The name of the operation resource.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/operations/[^/]+$"
                }
              },
              "id": "webrisk.projects.operations.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "flatPath": "v1/projects/{projectsId}/operations/{operationsId}"
            },
            "delete": {
              "httpMethod": "DELETE",
              "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/operations/{operationsId}",
              "id": "webrisk.projects.operations.delete",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The name of the operation resource to be deleted.",
                  "pattern": "^projects/[^/]+/operations/[^/]+$"
                }
              },
              "path": "v1/{+name}"
            },
            "cancel": {
              "path": "v1/{+name}:cancel",
              "id": "webrisk.projects.operations.cancel",
              "flatPath": "v1/projects/{projectsId}/operations/{operationsId}:cancel",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "The name of the operation resource to be cancelled.",
                  "pattern": "^projects/[^/]+/operations/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
              "request": {
                "$ref": "GoogleLongrunningCancelOperationRequest"
              }
            },
            "list": {
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The name of the operation's parent resource."
                },
                "filter": {
                  "type": "string",
                  "description": "The standard list filter.",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "The standard list page token."
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "description": "The standard list page size.",
                  "format": "int32"
                }
              },
              "id": "webrisk.projects.operations.list",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/operations",
              "path": "v1/{+name}/operations",
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`. NOTE: the `name` binding allows API services to override the binding to use different resource name schemes, such as `users/*/operations`. To override the binding, API services can add a binding such as `\"/v1/{name=users/*}/operations\"` to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id."
            }
          }
        },
        "submissions": {
          "methods": {
            "create": {
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "description": "Required. The name of the project that is making the submission. This string is in the format \"projects/{project_number}\".",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleCloudWebriskV1Submission"
              },
              "description": "Creates a Submission of a URI suspected of containing phishing content to be reviewed. If the result verifies the existence of malicious phishing content, the site will be added to the [Google's Social Engineering lists](https://support.google.com/webmasters/answer/6350487/) in order to protect users that could get exposed to this threat in the future. Only allowlisted projects can use this method during Early Access. Please reach out to Sales or your customer engineer to obtain access.",
              "request": {
                "$ref": "GoogleCloudWebriskV1Submission"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+parent}/submissions",
              "flatPath": "v1/projects/{projectsId}/submissions",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "id": "webrisk.projects.submissions.create"
            }
          }
        }
      }
    },
    "uris": {
      "methods": {
        "search": {
          "path": "v1/uris:search",
          "parameters": {
            "uri": {
              "location": "query",
              "description": "Required. The URI to be checked for matches.",
              "type": "string"
            },
            "threatTypes": {
              "location": "query",
              "description": "Required. The ThreatLists to search in. Multiple ThreatLists may be specified.",
              "repeated": true,
              "enumDescriptions": [
                "No entries should match this threat type. This threat type is unused.",
                "Malware targeting any platform.",
                "Social engineering targeting any platform.",
                "Unwanted software targeting any platform.",
                "Extended Coverage Social Engineering list targeting any platform."
              ],
              "type": "string",
              "enum": [
                "THREAT_TYPE_UNSPECIFIED",
                "MALWARE",
                "SOCIAL_ENGINEERING",
                "UNWANTED_SOFTWARE",
                "SOCIAL_ENGINEERING_EXTENDED_COVERAGE"
              ]
            }
          },
          "id": "webrisk.uris.search",
          "description": "This method is used to check whether a URI is on a given threatList. Multiple threatLists may be searched in a single query. The response will list all requested threatLists the URI was found to match. If the URI is not found on any of the requested ThreatList an empty response will be returned.",
          "httpMethod": "GET",
          "response": {
            "$ref": "GoogleCloudWebriskV1SearchUrisResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1/uris:search",
          "parameterOrder": []
        }
      }
    },
    "hashes": {
      "methods": {
        "search": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1/hashes:search",
          "description": "Gets the full hashes that match the requested hash prefix. This is used after a hash prefix is looked up in a threatList and there is a match. The client side threatList only holds partial hashes so the client must query this method to determine if there is a full hash match of a threat.",
          "path": "v1/hashes:search",
          "parameterOrder": [],
          "parameters": {
            "hashPrefix": {
              "location": "query",
              "type": "string",
              "format": "byte",
              "description": "A hash prefix, consisting of the most significant 4-32 bytes of a SHA256 hash. For JSON requests, this field is base64-encoded. Note that if this parameter is provided by a URI, it must be encoded using the web safe base64 variant (RFC 4648)."
            },
            "threatTypes": {
              "enumDescriptions": [
                "No entries should match this threat type. This threat type is unused.",
                "Malware targeting any platform.",
                "Social engineering targeting any platform.",
                "Unwanted software targeting any platform.",
                "Extended Coverage Social Engineering list targeting any platform."
              ],
              "type": "string",
              "repeated": true,
              "location": "query",
              "description": "Required. The ThreatLists to search in. Multiple ThreatLists may be specified.",
              "enum": [
                "THREAT_TYPE_UNSPECIFIED",
                "MALWARE",
                "SOCIAL_ENGINEERING",
                "UNWANTED_SOFTWARE",
                "SOCIAL_ENGINEERING_EXTENDED_COVERAGE"
              ]
            }
          },
          "id": "webrisk.hashes.search",
          "httpMethod": "GET",
          "response": {
            "$ref": "GoogleCloudWebriskV1SearchHashesResponse"
          }
        }
      }
    },
    "threatLists": {
      "methods": {
        "computeDiff": {
          "parameters": {
            "constraints.maxDiffEntries": {
              "location": "query",
              "description": "The maximum size in number of entries. The diff will not contain more entries than this value. This should be a power of 2 between 2**10 and 2**20. If zero, no diff size limit is set.",
              "format": "int32",
              "type": "integer"
            },
            "constraints.supportedCompressions": {
              "repeated": true,
              "location": "query",
              "enum": [
                "COMPRESSION_TYPE_UNSPECIFIED",
                "RAW",
                "RICE"
              ],
              "type": "string",
              "description": "The compression types supported by the client.",
              "enumDescriptions": [
                "Unknown.",
                "Raw, uncompressed data.",
                "Rice-Golomb encoded data."
              ]
            },
            "threatType": {
              "description": "Required. The threat list to update. Only a single ThreatType should be specified per request. If you want to handle multiple ThreatTypes, you must make one request per ThreatType.",
              "enumDescriptions": [
                "No entries should match this threat type. This threat type is unused.",
                "Malware targeting any platform.",
                "Social engineering targeting any platform.",
                "Unwanted software targeting any platform.",
                "Extended Coverage Social Engineering list targeting any platform."
              ],
              "type": "string",
              "location": "query",
              "enum": [
                "THREAT_TYPE_UNSPECIFIED",
                "MALWARE",
                "SOCIAL_ENGINEERING",
                "UNWANTED_SOFTWARE",
                "SOCIAL_ENGINEERING_EXTENDED_COVERAGE"
              ]
            },
            "constraints.maxDatabaseEntries": {
              "type": "integer",
              "format": "int32",
              "location": "query",
              "description": "Sets the maximum number of entries that the client is willing to have in the local database. This should be a power of 2 between 2**10 and 2**20. If zero, no database size limit is set."
            },
            "versionToken": {
              "description": "The current version token of the client for the requested list (the client version that was received from the last successful diff). If the client does not have a version token (this is the first time calling ComputeThreatListDiff), this may be left empty and a full database snapshot will be returned.",
              "location": "query",
              "format": "byte",
              "type": "string"
            }
          },
          "flatPath": "v1/threatLists:computeDiff",
          "parameterOrder": [],
          "description": "Gets the most recent threat list diffs. These diffs should be applied to a local database of hashes to keep it up-to-date. If the local database is empty or excessively out-of-date, a complete snapshot of the database will be returned. This Method only updates a single ThreatList at a time. To update multiple ThreatList databases, this method needs to be called once for each list.",
          "httpMethod": "GET",
          "id": "webrisk.threatLists.computeDiff",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "GoogleCloudWebriskV1ComputeThreatListDiffResponse"
          },
          "path": "v1/threatLists:computeDiff"
        }
      }
    }
  },
  "id": "webrisk:v1"
}
