{
  "parameters": {
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "alt": {
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    }
  },
  "version": "v1",
  "discoveryVersion": "v1",
  "revision": "20230621",
  "fullyEncodeReservedExpansion": true,
  "rootUrl": "https://workloadmanager.googleapis.com/",
  "servicePath": "",
  "ownerDomain": "google.com",
  "name": "workloadmanager",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "path": "v1/{+name}/locations",
              "id": "workloadmanager.projects.locations.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectsId}/locations",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "description": "Lists information about the supported locations for this service.",
              "parameters": {
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page."
                },
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "The resource that owns the locations collection, if applicable.",
                  "pattern": "^projects/[^/]+$"
                }
              },
              "response": {
                "$ref": "ListLocationsResponse"
              }
            },
            "get": {
              "id": "workloadmanager.projects.locations.get",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Location"
              },
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets information about a location.",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Resource name for the location.",
                  "type": "string"
                }
              }
            }
          },
          "resources": {
            "evaluations": {
              "methods": {
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations",
                  "parameters": {
                    "evaluationId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. Id of the requesting object"
                    },
                    "parent": {
                      "required": true,
                      "description": "Required. The resource prefix of the evaluation location using the form: `projects/{project_id}/locations/{location_id}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string"
                    },
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Creates a new Evaluation in a given project and location.",
                  "path": "v1/{+parent}/evaluations",
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "Evaluation"
                  },
                  "id": "workloadmanager.projects.locations.evaluations.create",
                  "httpMethod": "POST"
                },
                "get": {
                  "id": "workloadmanager.projects.locations.evaluations.get",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/evaluations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. Name of the resource"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Evaluation"
                  },
                  "description": "Gets details of a single Evaluation.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations/{evaluationsId}",
                  "path": "v1/{+name}",
                  "httpMethod": "GET"
                },
                "list": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "workloadmanager.projects.locations.evaluations.list",
                  "description": "Lists Evaluations in a given project and location.",
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "description": "Filtering results",
                      "type": "string"
                    },
                    "orderBy": {
                      "location": "query",
                      "description": "Hint for how to order the results",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. Parent value for ListEvaluationsRequest",
                      "location": "path",
                      "required": true
                    },
                    "pageToken": {
                      "description": "A token identifying a page of results the server should return.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default."
                    }
                  },
                  "path": "v1/{+parent}/evaluations",
                  "response": {
                    "$ref": "ListEvaluationsResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              },
              "resources": {
                "executions": {
                  "resources": {
                    "results": {
                      "methods": {
                        "list": {
                          "httpMethod": "GET",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "List the running result of a single Execution.",
                          "parameters": {
                            "filter": {
                              "description": "Filtering results",
                              "location": "query",
                              "type": "string"
                            },
                            "pageSize": {
                              "location": "query",
                              "description": "Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                              "format": "int32",
                              "type": "integer"
                            },
                            "pageToken": {
                              "location": "query",
                              "type": "string",
                              "description": "A token identifying a page of results the server should return."
                            },
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/evaluations/[^/]+/executions/[^/]+$",
                              "type": "string",
                              "description": "Required. The execution results. Format: {parent}/evaluations/*/executions/*/results",
                              "location": "path",
                              "required": true
                            }
                          },
                          "path": "v1/{+parent}/results",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations/{evaluationsId}/executions/{executionsId}/results",
                          "id": "workloadmanager.projects.locations.evaluations.executions.results.list",
                          "response": {
                            "$ref": "ListExecutionResultsResponse"
                          },
                          "parameterOrder": [
                            "parent"
                          ]
                        }
                      }
                    },
                    "scannedResources": {
                      "methods": {
                        "list": {
                          "httpMethod": "GET",
                          "response": {
                            "$ref": "ListScannedResourcesResponse"
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations/{evaluationsId}/executions/{executionsId}/scannedResources",
                          "parameters": {
                            "pageSize": {
                              "location": "query",
                              "description": "Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                              "type": "integer",
                              "format": "int32"
                            },
                            "orderBy": {
                              "description": "Field to sort by. See https://google.aip.dev/132#ordering for more details.",
                              "type": "string",
                              "location": "query"
                            },
                            "parent": {
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/evaluations/[^/]+/executions/[^/]+$",
                              "type": "string",
                              "description": "Required. parent for ListScannedResourcesRequest",
                              "required": true
                            },
                            "rule": {
                              "type": "string",
                              "location": "query",
                              "description": "rule name"
                            },
                            "pageToken": {
                              "description": "A token identifying a page of results the server should return.",
                              "location": "query",
                              "type": "string"
                            },
                            "filter": {
                              "type": "string",
                              "location": "query",
                              "description": "Filtering results"
                            }
                          },
                          "id": "workloadmanager.projects.locations.evaluations.executions.scannedResources.list",
                          "path": "v1/{+parent}/scannedResources",
                          "description": "List all scanned resources for a single Execution.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        }
                      }
                    }
                  },
                  "methods": {
                    "get": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations/{evaluationsId}/executions/{executionsId}",
                      "response": {
                        "$ref": "Execution"
                      },
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/evaluations/[^/]+/executions/[^/]+$",
                          "location": "path",
                          "description": "Required. Name of the resource",
                          "required": true
                        }
                      },
                      "id": "workloadmanager.projects.locations.evaluations.executions.get",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "description": "Gets details of a single Execution.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "run": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations/{evaluationsId}/executions:run",
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "Operation"
                      },
                      "description": "Creates a new Execution in a given project and location.",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/evaluations/[^/]+$",
                          "type": "string",
                          "description": "Required. The resource name of the Execution using the form: 'projects/{project}/locations/{location}/evaluations/{evaluation}/executions/{execution}'",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "id": "workloadmanager.projects.locations.evaluations.executions.run",
                      "path": "v1/{+name}/executions:run",
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "RunEvaluationRequest"
                      }
                    },
                    "list": {
                      "description": "Lists Executions in a given project and location.",
                      "parameters": {
                        "orderBy": {
                          "type": "string",
                          "location": "query",
                          "description": "Field to sort by. See https://google.aip.dev/132#ordering for more details."
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "A token identifying a page of results the server should return.",
                          "location": "query"
                        },
                        "parent": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/evaluations/[^/]+$",
                          "description": "Required. The resource prefix of the Execution using the form: 'projects/{project}/locations/{location}/evaluations/{evaluation}'"
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "description": "Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                          "format": "int32"
                        },
                        "filter": {
                          "description": "Filtering results",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "ListExecutionsResponse"
                      },
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations/{evaluationsId}/executions",
                      "id": "workloadmanager.projects.locations.evaluations.executions.list",
                      "path": "v1/{+parent}/executions",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ]
                    }
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "list": {
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "description": "The standard list page size.",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "The name of the operation's parent resource."
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "path": "v1/{+name}/operations",
                  "id": "workloadmanager.projects.locations.operations.list",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "The name of the operation resource to be deleted.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "id": "workloadmanager.projects.locations.operations.delete",
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v1/{+name}"
                },
                "get": {
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "workloadmanager.projects.locations.operations.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "The name of the operation resource.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
                },
                "cancel": {
                  "path": "v1/{+name}:cancel",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "The name of the operation resource to be cancelled.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "id": "workloadmanager.projects.locations.operations.cancel",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
                }
              }
            },
            "insights": {
              "methods": {
                "writeInsight": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "WriteInsightResponse"
                  },
                  "id": "workloadmanager.projects.locations.insights.writeInsight",
                  "request": {
                    "$ref": "WriteInsightRequest"
                  },
                  "path": "v1/{+location}/insights:writeInsight",
                  "description": "Write the data insights to workload manager data warehouse.",
                  "httpMethod": "POST",
                  "parameters": {
                    "location": {
                      "description": "Required. The GCP location. The format is: projects/{project}/locations/{location}.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "location"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/insights:writeInsight"
                }
              }
            },
            "rules": {
              "methods": {
                "list": {
                  "path": "v1/{+parent}/rules",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/rules",
                  "id": "workloadmanager.projects.locations.rules.list",
                  "description": "Lists rules in a given project.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListRulesResponse"
                  },
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "description": "Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "parent": {
                      "description": "Required. The [project] on which to execute the request. The format is: projects/{project_id}/locations/{location} Currently, the pre-defined rules are global available to all projects and all regions",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "A token identifying a page of results the server should return.",
                      "location": "query"
                    },
                    "customRulesBucket": {
                      "location": "query",
                      "description": "The Cloud Storage bucket name for custom rules.",
                      "type": "string"
                    },
                    "filter": {
                      "description": "Filter based on primary_category, secondary_category",
                      "type": "string",
                      "location": "query"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "protocol": "rest",
  "ownerName": "Google",
  "mtlsRootUrl": "https://workloadmanager.mtls.googleapis.com/",
  "title": "Workload Manager API",
  "documentationLink": "https://cloud.google.com/workload-manager/docs",
  "version_module": true,
  "batchPath": "batch",
  "baseUrl": "https://workloadmanager.googleapis.com/",
  "id": "workloadmanager:v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "description": "",
  "basePath": "",
  "canonicalName": "Workload Manager",
  "kind": "discovery#restDescription",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "schemas": {
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "id": "Status",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "details": {
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      }
    },
    "ExecutionResult": {
      "id": "ExecutionResult",
      "description": "Message describing the result of an execution",
      "type": "object",
      "properties": {
        "violationMessage": {
          "type": "string",
          "description": "the violation message of an execution"
        },
        "documentationUrl": {
          "type": "string",
          "description": "the document url of the rule"
        },
        "severity": {
          "description": "severity of violation",
          "type": "string"
        },
        "rule": {
          "type": "string",
          "description": "the rule which violate in execution"
        },
        "resource": {
          "$ref": "Resource",
          "description": "the violate resource"
        },
        "violationDetails": {
          "description": "the details of violation in result",
          "$ref": "ViolationDetails"
        }
      }
    },
    "Evaluation": {
      "description": "LINT.IfChange Message describing Evaluation object",
      "type": "object",
      "id": "Evaluation",
      "properties": {
        "resourceFilter": {
          "description": "annotations as key value pairs",
          "$ref": "ResourceFilter"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels as key value pairs",
          "type": "object"
        },
        "customRulesBucket": {
          "description": "The Cloud Storage bucket name for custom rules.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. [Output only] Create time stamp",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "ruleVersions": {
          "items": {
            "type": "string"
          },
          "description": "Output only. [Output only] The updated rule ids if exist.",
          "readOnly": true,
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "name of resource names have the form 'projects/{project_id}/locations/{location_id}/evaluations/{evaluation_id}'"
        },
        "schedule": {
          "description": "crontab format schedule for scheduled evaluation, currently only support the following schedule: \"0 */1 * * *\", \"0 */6 * * *\", \"0 */12 * * *\", \"0 0 */1 * *\", \"0 0 */7 * *\",",
          "type": "string"
        },
        "description": {
          "description": "Description of the Evaluation",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. [Output only] Update time stamp",
          "readOnly": true
        },
        "resourceStatus": {
          "readOnly": true,
          "description": "Output only. [Output only] The updated rule ids if exist.",
          "$ref": "ResourceStatus"
        },
        "ruleNames": {
          "type": "array",
          "description": "the name of the rule",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Execution": {
      "description": "Message describing Execution object",
      "properties": {
        "state": {
          "description": "Output only. [Output only] State",
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "state of execution is unspecified",
            "the execution is running in backend service",
            "the execution run success",
            "the execution run failed"
          ],
          "type": "string"
        },
        "name": {
          "description": "The name of execution resource. The format is projects/{project}/locations/{location}/evaluations/{evaluation}/executions/{execution}",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels as key value pairs",
          "type": "object"
        },
        "evaluationId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. [Output only] Evaluation ID"
        },
        "runType": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "ONE_TIME",
            "SCHEDULED"
          ],
          "description": "type represent whether the execution executed directly by user or scheduled according evaluation.schedule field.",
          "enumDescriptions": [
            "type of execution is unspecified",
            "type of execution is one time",
            "type of execution is scheduled"
          ]
        },
        "inventoryTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. [Output only] Inventory time stamp"
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Output only. [Output only] Start time stamp",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "description": "Output only. [Output only] End time stamp",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "Execution"
    },
    "RunEvaluationRequest": {
      "properties": {
        "executionId": {
          "type": "string",
          "description": "Required. Id of the requesting object If auto-generating Id server-side, remove this field and execution_id from the method_signature of Create RPC"
        },
        "requestId": {
          "type": "string",
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        },
        "execution": {
          "$ref": "Execution",
          "description": "Required. The resource being created"
        }
      },
      "id": "RunEvaluationRequest",
      "type": "object",
      "description": "Message for creating a Execution"
    },
    "GceInstanceFilter": {
      "description": "Message describing compute engine instance filter",
      "id": "GceInstanceFilter",
      "type": "object",
      "properties": {
        "serviceAccounts": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Service account of compute engine"
        }
      }
    },
    "ListScannedResourcesResponse": {
      "id": "ListScannedResourcesResponse",
      "type": "object",
      "description": "Message for response to list scanned resources",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "scannedResources": {
          "type": "array",
          "description": "All scanned resources in response",
          "items": {
            "$ref": "ScannedResource"
          }
        }
      }
    },
    "OperationMetadata": {
      "type": "object",
      "properties": {
        "statusMessage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running.",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the operation was created."
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string",
          "readOnly": true
        },
        "apiVersion": {
          "type": "string",
          "description": "Output only. API version used to start the operation.",
          "readOnly": true
        },
        "requestedCancellation": {
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean"
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation."
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "Empty",
      "type": "object"
    },
    "ListExecutionsResponse": {
      "type": "object",
      "id": "ListExecutionsResponse",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "executions": {
          "description": "The list of Execution",
          "items": {
            "$ref": "Execution"
          },
          "type": "array"
        }
      },
      "description": "Message for response to listing Executions"
    },
    "ListRulesResponse": {
      "description": "Mesesage of response of list rules",
      "properties": {
        "rules": {
          "description": "all rules in response",
          "type": "array",
          "items": {
            "$ref": "Rule"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      },
      "type": "object",
      "id": "ListRulesResponse"
    },
    "Location": {
      "properties": {
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        }
      },
      "type": "object",
      "description": "A resource that represents a Google Cloud location.",
      "id": "Location"
    },
    "ResourceFilter": {
      "properties": {
        "scopes": {
          "type": "array",
          "description": "The scopes of evaluation resource",
          "items": {
            "type": "string"
          }
        },
        "resourceIdPatterns": {
          "type": "array",
          "description": "The id pattern for filter resource",
          "items": {
            "type": "string"
          }
        },
        "gceInstanceFilter": {
          "$ref": "GceInstanceFilter",
          "description": "Filter compute engine resource"
        },
        "inclusionLabels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The label used for filter resource",
          "type": "object"
        }
      },
      "description": "Message describing resource filters",
      "type": "object",
      "id": "ResourceFilter"
    },
    "SapDiscoveryMetadata": {
      "type": "object",
      "description": "Message describing SAP discovery system metadata",
      "properties": {
        "sapProduct": {
          "type": "string",
          "description": "This sap product name"
        },
        "environmentType": {
          "description": "Should be \"prod\", \"QA\", \"dev\", \"staging\", etc.",
          "type": "string"
        },
        "customerRegion": {
          "type": "string",
          "description": "Customer region string for customer's use. Does not represent GCP region."
        },
        "definedSystem": {
          "type": "string",
          "description": "Customer defined, something like \"E-commerce pre prod\""
        }
      },
      "id": "SapDiscoveryMetadata"
    },
    "ResourceStatus": {
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING"
          ],
          "type": "string",
          "description": "State of the resource",
          "enumDescriptions": [
            "The state has not been populated in this message.",
            "Resource has an active Create operation.",
            "Resource has no outstanding operations on it or has active Update operations.",
            "Resource has an active Delete operation."
          ]
        },
        "rulesNewerVersions": {
          "description": "Historical: Used before 2023-05-22 the new version of rule id if exists",
          "type": "array",
          "items": {
            "type": "string"
          },
          "deprecated": true
        }
      },
      "type": "object",
      "description": "Message describing resource status",
      "id": "ResourceStatus"
    },
    "SqlserverValidationValidationDetail": {
      "properties": {
        "details": {
          "type": "array",
          "description": "Required. Details wraps map that represents collected data names and values.",
          "items": {
            "$ref": "SqlserverValidationDetails"
          }
        },
        "type": {
          "enum": [
            "SQLSERVER_VALIDATION_TYPE_UNSPECIFIED",
            "OS",
            "DB_LOG_DISK_SEPARATION",
            "DB_MAX_PARALLELISM",
            "DB_CXPACKET_WAITS",
            "DB_TRANSACTION_LOG_HANDLING",
            "DB_VIRTUAL_LOG_FILE_COUNT",
            "DB_BUFFER_POOL_EXTENSION",
            "DB_MAX_SERVER_MEMORY"
          ],
          "enumDescriptions": [
            "Unspecified type.",
            "The Sqlserver system named OS",
            "The LOG_DISK_SEPARATION table",
            "The MAX_PARALLELISM table",
            "The CXPACKET_WAITS table",
            "The TRANSACTION_LOG_HANDLING table",
            "The VIRTUAL_LOG_FILE_COUNT table",
            "The BUFFER_POOL_EXTENSION table",
            "The MAX_SERVER_MEMORY table"
          ],
          "description": "The Sqlserver system that the validation data is from.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "SqlserverValidationValidationDetail",
      "description": "Message describing the Sqlserver validation metrics."
    },
    "WriteInsightResponse": {
      "properties": {},
      "id": "WriteInsightResponse",
      "description": "The response for write insights request.",
      "type": "object"
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        }
      },
      "description": "The response message for Operations.ListOperations.",
      "type": "object"
    },
    "SapDiscoveryResource": {
      "id": "SapDiscoveryResource",
      "type": "object",
      "description": "Message describing a resource.",
      "properties": {
        "resourceKind": {
          "type": "string",
          "description": "ComputeInstance, ComputeDisk, VPC, Bare Metal server, etc."
        },
        "relatedResources": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of resource URIs related to this resource."
        },
        "resourceType": {
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "COMPUTE",
            "STORAGE",
            "NETWORK"
          ],
          "enumDescriptions": [
            "Undefined resource type.",
            "This is a compute resource.",
            "This a storage resource.",
            "This is a network resource."
          ],
          "description": "The type of this resource.",
          "type": "string"
        },
        "resourceUri": {
          "type": "string",
          "description": "URI of the resource, includes project, location, and name."
        },
        "updateTime": {
          "type": "string",
          "description": "Unix timestamp of when this resource last had its discovery data updated.",
          "format": "google-datetime"
        }
      }
    },
    "SqlserverValidation": {
      "properties": {
        "agentVersion": {
          "type": "string",
          "description": "The agent version collected this data point"
        },
        "validationDetails": {
          "description": "A list of SqlServer validation metrics data.",
          "type": "array",
          "items": {
            "$ref": "SqlserverValidationValidationDetail"
          }
        }
      },
      "id": "SqlserverValidation",
      "description": "A presentation of SQLServer workload insight. The schema of SqlServer workloads validation related data.",
      "type": "object"
    },
    "SapDiscovery": {
      "id": "SapDiscovery",
      "type": "object",
      "description": "LINT.IfChange The schema of SAP system discovery data.",
      "properties": {
        "applicationLayer": {
          "$ref": "SapDiscoveryComponent",
          "description": "An SAP system may run without an application layer."
        },
        "systemId": {
          "description": "A combination of database SID, database instance URI and tenant DB name to make a unique identifier per-system.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Unix timestamp this system has been updated last."
        },
        "metadata": {
          "$ref": "SapDiscoveryMetadata",
          "description": "The metadata for SAP system discovery data."
        },
        "databaseLayer": {
          "description": "An SAP System must have a database.",
          "$ref": "SapDiscoveryComponent"
        }
      }
    },
    "SqlserverValidationDetails": {
      "description": "Message containing collected data names and values.",
      "properties": {
        "fields": {
          "description": "Required. Collected data is in format.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "type": "object",
      "id": "SqlserverValidationDetails"
    },
    "CancelOperationRequest": {
      "type": "object",
      "properties": {},
      "description": "The request message for Operations.CancelOperation.",
      "id": "CancelOperationRequest"
    },
    "SapDiscoveryComponent": {
      "description": "Message describing the system component.",
      "properties": {
        "sid": {
          "description": "The sap identifier, used by the SAP software and helps differentiate systems for customers.",
          "type": "string"
        },
        "applicationType": {
          "type": "string",
          "description": "The component is a SAP application."
        },
        "hostProject": {
          "description": "Pantheon Project in which the resources reside.",
          "type": "string"
        },
        "resources": {
          "type": "array",
          "description": "The resources in a component.",
          "items": {
            "$ref": "SapDiscoveryResource"
          }
        },
        "databaseType": {
          "type": "string",
          "description": "The component is a SAP database."
        }
      },
      "id": "SapDiscoveryComponent",
      "type": "object"
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "response": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        }
      },
      "id": "Operation",
      "type": "object"
    },
    "Resource": {
      "type": "object",
      "id": "Resource",
      "description": "Message represent resource in execution result",
      "properties": {
        "name": {
          "description": "the name of the resource",
          "type": "string"
        },
        "serviceAccount": {
          "description": "the service account accosiate with resource",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "the type of reresource"
        }
      }
    },
    "WriteInsightRequest": {
      "id": "WriteInsightRequest",
      "type": "object",
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        },
        "insight": {
          "description": "Required. The metrics data details.",
          "$ref": "Insight"
        }
      },
      "description": "Request for sending the data insights."
    },
    "Rule": {
      "type": "object",
      "id": "Rule",
      "properties": {
        "primaryCategory": {
          "type": "string",
          "description": "the primary category"
        },
        "secondaryCategory": {
          "description": "the secondary category",
          "type": "string"
        },
        "errorMessage": {
          "type": "string",
          "description": "the message template for rule"
        },
        "description": {
          "type": "string",
          "description": "descrite rule in plain language"
        },
        "name": {
          "type": "string",
          "description": "rule name"
        },
        "severity": {
          "type": "string",
          "description": "the severity of the rule"
        },
        "revisionId": {
          "readOnly": true,
          "description": "Output only. the version of the rule",
          "type": "string"
        },
        "displayName": {
          "description": "the name display in UI",
          "type": "string"
        },
        "uri": {
          "description": "the docuement url for the rule",
          "type": "string"
        },
        "remediation": {
          "type": "string",
          "description": "the remediation for the rule"
        }
      },
      "description": "Message represent a rule"
    },
    "ListExecutionResultsResponse": {
      "description": "Message for response of list execution results",
      "id": "ListExecutionResultsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "executionResults": {
          "items": {
            "$ref": "ExecutionResult"
          },
          "type": "array",
          "description": "The versions from the specified publisher."
        }
      },
      "type": "object"
    },
    "ListEvaluationsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "evaluations": {
          "items": {
            "$ref": "Evaluation"
          },
          "description": "The list of Evaluation",
          "type": "array"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        }
      },
      "description": "Message for response to listing Evaluations",
      "id": "ListEvaluationsResponse",
      "type": "object"
    },
    "Insight": {
      "properties": {
        "sentTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. [Output only] Create time stamp"
        },
        "sapValidation": {
          "$ref": "SapValidation",
          "description": "The insights data for the sap workload validation."
        },
        "instanceId": {
          "type": "string",
          "description": "Required. The instance id where the insight is generated from"
        },
        "sapDiscovery": {
          "$ref": "SapDiscovery",
          "description": "The insights data for sap system discovery. This is a copy of SAP System proto and should get updated whenever that one changes."
        },
        "sqlserverValidation": {
          "description": "The insights data for the sqlserver workload validation.",
          "$ref": "SqlserverValidation"
        }
      },
      "id": "Insight",
      "description": "A presentation of host resource usage where the workload runs.",
      "type": "object"
    },
    "SapValidation": {
      "type": "object",
      "properties": {
        "validationDetails": {
          "type": "array",
          "description": "A list of SAP validation metrics data.",
          "items": {
            "$ref": "SapValidationValidationDetail"
          }
        }
      },
      "id": "SapValidation",
      "description": "A presentation of SAP workload insight. The schema of SAP workloads validation related data."
    },
    "SapValidationValidationDetail": {
      "id": "SapValidationValidationDetail",
      "description": "Message describing the SAP validation metrics.",
      "type": "object",
      "properties": {
        "sapValidationType": {
          "description": "The SAP system that the validation data is from.",
          "enum": [
            "SAP_VALIDATION_TYPE_UNSPECIFIED",
            "SYSTEM",
            "COROSYNC",
            "PACEMAKER",
            "HANA",
            "NETWEAVER"
          ],
          "enumDescriptions": [
            "Unspecified type.",
            "The SAP system named SYSTEM.",
            "The SAP system named COROSYNC.",
            "The SAP system named PACEMAKER.",
            "The SAP system named HANA.",
            "The SAP system named NETWEAVER."
          ],
          "type": "string"
        },
        "details": {
          "description": "The pairs of metrics data: field name & field value.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "ListLocationsResponse": {
      "properties": {
        "locations": {
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse",
      "type": "object"
    },
    "ViolationDetails": {
      "properties": {
        "observed": {
          "description": "observed",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "serviceAccount": {
          "type": "string",
          "description": "the service account associate with resource"
        },
        "asset": {
          "type": "string",
          "description": "the name of asset"
        }
      },
      "id": "ViolationDetails",
      "description": "Message describing the violdation in execution result",
      "type": "object"
    },
    "ScannedResource": {
      "properties": {
        "resource": {
          "description": "resource name",
          "type": "string"
        }
      },
      "description": "Message of scanned resource",
      "id": "ScannedResource",
      "type": "object"
    }
  }
}
