{
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "baseUrl": "https://workstations.googleapis.com/",
  "kind": "discovery#restDescription",
  "rootUrl": "https://workstations.googleapis.com/",
  "canonicalName": "Cloud Workstations",
  "discoveryVersion": "v1",
  "basePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "description": "",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "version": "v1beta",
  "protocol": "rest",
  "mtlsRootUrl": "https://workstations.mtls.googleapis.com/",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "workstationClusters": {
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "path": "v1beta/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Returns the requested WorkstationCluster.",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}",
                  "id": "workstations.projects.locations.workstationClusters.get",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+$",
                      "location": "path",
                      "description": "Required. Name of the requested resource."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "WorkstationCluster"
                  }
                },
                "delete": {
                  "path": "v1beta/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}",
                  "description": "Deletes the specified WorkstationCluster.",
                  "parameters": {
                    "validateOnly": {
                      "type": "boolean",
                      "description": "If set, validate the request and preview the review, but do not actually apply it.",
                      "location": "query"
                    },
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+$",
                      "description": "Required. Name of the cluster to delete.",
                      "location": "path",
                      "required": true
                    },
                    "etag": {
                      "type": "string",
                      "location": "query",
                      "description": "If set, the request will be rejected if the latest version of the cluster on the server does not have this etag."
                    },
                    "force": {
                      "location": "query",
                      "type": "boolean",
                      "description": "If set, any WorkstationConfigs and Workstations in the cluster will also be deleted. Otherwise, the request will work only if the cluster has no configs or workstations."
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "workstations.projects.locations.workstationClusters.delete",
                  "httpMethod": "DELETE"
                },
                "list": {
                  "path": "v1beta/{+parent}/workstationClusters",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "description": "next_page_token value returned from a previous List request, if any.",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "Maximum number of items to return.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "parent": {
                      "required": true,
                      "description": "Required. Parent resource name.",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters",
                  "httpMethod": "GET",
                  "description": "Returns all WorkstationClusters in the specified location.",
                  "response": {
                    "$ref": "ListWorkstationClustersResponse"
                  },
                  "id": "workstations.projects.locations.workstationClusters.list"
                },
                "create": {
                  "parameters": {
                    "validateOnly": {
                      "location": "query",
                      "type": "boolean",
                      "description": "If set, validate the request and preview the review, but do not actually apply it."
                    },
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. Parent resource name.",
                      "type": "string"
                    },
                    "workstationClusterId": {
                      "description": "Required. ID to use for the cluster.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "path": "v1beta/{+parent}/workstationClusters",
                  "description": "Creates a new WorkstationCluster.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters",
                  "id": "workstations.projects.locations.workstationClusters.create",
                  "request": {
                    "$ref": "WorkstationCluster"
                  },
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "patch": {
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "WorkstationCluster"
                  },
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}",
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta/{+name}",
                  "parameters": {
                    "allowMissing": {
                      "type": "boolean",
                      "location": "query",
                      "description": "If set, and the cluster is not found, a new cluster will be created. In this situation, update_mask is ignored."
                    },
                    "validateOnly": {
                      "location": "query",
                      "type": "boolean",
                      "description": "If set, validate the request and preview the review, but do not actually apply it."
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "description": "Required. Mask specifying which fields in the cluster should be updated.",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+$",
                      "location": "path",
                      "description": "Full name of this resource.",
                      "required": true
                    }
                  },
                  "id": "workstations.projects.locations.workstationClusters.patch",
                  "description": "Updates an existing WorkstationCluster.",
                  "response": {
                    "$ref": "Operation"
                  }
                }
              },
              "resources": {
                "workstationConfigs": {
                  "resources": {
                    "workstations": {
                      "methods": {
                        "listUsable": {
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}/workstations:listUsable",
                          "response": {
                            "$ref": "ListUsableWorkstationsResponse"
                          },
                          "description": "Returns all Workstations using the specified config on which the caller has the \"workstations.workstations.use\" permission.",
                          "parameters": {
                            "pageToken": {
                              "location": "query",
                              "description": "next_page_token value returned from a previous List request, if any.",
                              "type": "string"
                            },
                            "pageSize": {
                              "format": "int32",
                              "type": "integer",
                              "location": "query",
                              "description": "Maximum number of items to return."
                            },
                            "parent": {
                              "type": "string",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+$",
                              "description": "Required. Parent resource name.",
                              "location": "path"
                            }
                          },
                          "path": "v1beta/{+parent}/workstations:listUsable",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameterOrder": [
                            "parent"
                          ],
                          "httpMethod": "GET",
                          "id": "workstations.projects.locations.workstationClusters.workstationConfigs.workstations.listUsable"
                        },
                        "get": {
                          "id": "workstations.projects.locations.workstationClusters.workstationConfigs.workstations.get",
                          "httpMethod": "GET",
                          "path": "v1beta/{+name}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}/workstations/{workstationsId}",
                          "parameterOrder": [
                            "name"
                          ],
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+/workstations/[^/]+$",
                              "type": "string",
                              "location": "path",
                              "description": "Required. Name of the requested resource.",
                              "required": true
                            }
                          },
                          "description": "Returns the requested Workstation.",
                          "response": {
                            "$ref": "Workstation"
                          }
                        },
                        "testIamPermissions": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "request": {
                            "$ref": "TestIamPermissionsRequest"
                          },
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}/workstations/{workstationsId}:testIamPermissions",
                          "path": "v1beta/{+resource}:testIamPermissions",
                          "httpMethod": "POST",
                          "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
                          "id": "workstations.projects.locations.workstationClusters.workstationConfigs.workstations.testIamPermissions",
                          "parameters": {
                            "resource": {
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+/workstations/[^/]+$",
                              "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                              "type": "string"
                            }
                          },
                          "parameterOrder": [
                            "resource"
                          ],
                          "response": {
                            "$ref": "TestIamPermissionsResponse"
                          }
                        },
                        "stop": {
                          "request": {
                            "$ref": "StopWorkstationRequest"
                          },
                          "response": {
                            "$ref": "Operation"
                          },
                          "description": "Stops running a workstation, reducing costs.",
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "workstations.projects.locations.workstationClusters.workstationConfigs.workstations.stop",
                          "path": "v1beta/{+name}:stop",
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}/workstations/{workstationsId}:stop",
                          "httpMethod": "POST",
                          "parameters": {
                            "name": {
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+/workstations/[^/]+$",
                              "description": "Required. Name of the workstation to stop.",
                              "location": "path",
                              "type": "string"
                            }
                          }
                        },
                        "delete": {
                          "parameters": {
                            "validateOnly": {
                              "location": "query",
                              "description": "If set, validate the request and preview the review, but do not actually apply it.",
                              "type": "boolean"
                            },
                            "name": {
                              "type": "string",
                              "required": true,
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+/workstations/[^/]+$",
                              "description": "Required. Name of the workstation to delete."
                            },
                            "etag": {
                              "type": "string",
                              "description": "If set, the request will be rejected if the latest version of the workstation on the server does not have this etag.",
                              "location": "query"
                            }
                          },
                          "id": "workstations.projects.locations.workstationClusters.workstationConfigs.workstations.delete",
                          "response": {
                            "$ref": "Operation"
                          },
                          "description": "Deletes the specified Workstation.",
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}/workstations/{workstationsId}",
                          "parameterOrder": [
                            "name"
                          ],
                          "path": "v1beta/{+name}",
                          "httpMethod": "DELETE",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        },
                        "list": {
                          "description": "Returns all Workstations using the specified config.",
                          "response": {
                            "$ref": "ListWorkstationsResponse"
                          },
                          "path": "v1beta/{+parent}/workstations",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameterOrder": [
                            "parent"
                          ],
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}/workstations",
                          "id": "workstations.projects.locations.workstationClusters.workstationConfigs.workstations.list",
                          "parameters": {
                            "pageToken": {
                              "description": "next_page_token value returned from a previous List request, if any.",
                              "location": "query",
                              "type": "string"
                            },
                            "parent": {
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+$",
                              "type": "string",
                              "description": "Required. Parent resource name."
                            },
                            "pageSize": {
                              "description": "Maximum number of items to return.",
                              "type": "integer",
                              "location": "query",
                              "format": "int32"
                            }
                          },
                          "httpMethod": "GET"
                        },
                        "setIamPolicy": {
                          "path": "v1beta/{+resource}:setIamPolicy",
                          "response": {
                            "$ref": "Policy"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "resource": {
                              "required": true,
                              "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                              "location": "path",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+/workstations/[^/]+$"
                            }
                          },
                          "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}/workstations/{workstationsId}:setIamPolicy",
                          "id": "workstations.projects.locations.workstationClusters.workstationConfigs.workstations.setIamPolicy",
                          "request": {
                            "$ref": "SetIamPolicyRequest"
                          },
                          "parameterOrder": [
                            "resource"
                          ],
                          "httpMethod": "POST"
                        },
                        "create": {
                          "path": "v1beta/{+parent}/workstations",
                          "description": "Creates a new Workstation.",
                          "id": "workstations.projects.locations.workstationClusters.workstationConfigs.workstations.create",
                          "parameterOrder": [
                            "parent"
                          ],
                          "parameters": {
                            "validateOnly": {
                              "location": "query",
                              "type": "boolean",
                              "description": "If set, validate the request and preview the review, but do not actually apply it."
                            },
                            "workstationId": {
                              "type": "string",
                              "description": "Required. ID to use for the workstation.",
                              "location": "query"
                            },
                            "parent": {
                              "required": true,
                              "type": "string",
                              "description": "Required. Parent resource name.",
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+$"
                            }
                          },
                          "request": {
                            "$ref": "Workstation"
                          },
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}/workstations",
                          "httpMethod": "POST",
                          "response": {
                            "$ref": "Operation"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        },
                        "patch": {
                          "description": "Updates an existing Workstation.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1beta/{+name}",
                          "parameterOrder": [
                            "name"
                          ],
                          "httpMethod": "PATCH",
                          "request": {
                            "$ref": "Workstation"
                          },
                          "id": "workstations.projects.locations.workstationClusters.workstationConfigs.workstations.patch",
                          "response": {
                            "$ref": "Operation"
                          },
                          "parameters": {
                            "allowMissing": {
                              "type": "boolean",
                              "description": "If set, and the config is not found, a new config will be created. In this situation, update_mask is ignored.",
                              "location": "query"
                            },
                            "validateOnly": {
                              "location": "query",
                              "type": "boolean",
                              "description": "If set, validate the request and preview the review, but do not actually apply it."
                            },
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+/workstations/[^/]+$",
                              "type": "string",
                              "description": "Full name of this resource.",
                              "required": true,
                              "location": "path"
                            },
                            "updateMask": {
                              "location": "query",
                              "type": "string",
                              "format": "google-fieldmask",
                              "description": "Required. Mask specifying which fields in the config should be updated."
                            }
                          },
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}/workstations/{workstationsId}"
                        },
                        "getIamPolicy": {
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}/workstations/{workstationsId}:getIamPolicy",
                          "httpMethod": "GET",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "options.requestedPolicyVersion": {
                              "format": "int32",
                              "location": "query",
                              "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                              "type": "integer"
                            },
                            "resource": {
                              "required": true,
                              "type": "string",
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+/workstations/[^/]+$",
                              "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
                            }
                          },
                          "response": {
                            "$ref": "Policy"
                          },
                          "parameterOrder": [
                            "resource"
                          ],
                          "id": "workstations.projects.locations.workstationClusters.workstationConfigs.workstations.getIamPolicy",
                          "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
                          "path": "v1beta/{+resource}:getIamPolicy"
                        },
                        "generateAccessToken": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameterOrder": [
                            "workstation"
                          ],
                          "request": {
                            "$ref": "GenerateAccessTokenRequest"
                          },
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}/workstations/{workstationsId}:generateAccessToken",
                          "httpMethod": "POST",
                          "path": "v1beta/{+workstation}:generateAccessToken",
                          "description": "Returns a short-lived credential that can be used to send authenticated and authorized traffic to a workstation.",
                          "parameters": {
                            "workstation": {
                              "location": "path",
                              "description": "Required. Name of the workstation for which the access token should be generated.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+/workstations/[^/]+$",
                              "type": "string",
                              "required": true
                            }
                          },
                          "response": {
                            "$ref": "GenerateAccessTokenResponse"
                          },
                          "id": "workstations.projects.locations.workstationClusters.workstationConfigs.workstations.generateAccessToken"
                        },
                        "start": {
                          "request": {
                            "$ref": "StartWorkstationRequest"
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "response": {
                            "$ref": "Operation"
                          },
                          "description": "Starts running a workstation so that users can connect to it.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "name": {
                              "location": "path",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+/workstations/[^/]+$",
                              "required": true,
                              "description": "Required. Name of the workstation to start."
                            }
                          },
                          "httpMethod": "POST",
                          "path": "v1beta/{+name}:start",
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}/workstations/{workstationsId}:start",
                          "id": "workstations.projects.locations.workstationClusters.workstationConfigs.workstations.start"
                        }
                      }
                    }
                  },
                  "methods": {
                    "list": {
                      "parameters": {
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "next_page_token value returned from a previous List request, if any."
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Maximum number of items to return.",
                          "location": "query"
                        },
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+$",
                          "required": true,
                          "description": "Required. Parent resource name.",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "workstations.projects.locations.workstationClusters.workstationConfigs.list",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs",
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET",
                      "path": "v1beta/{+parent}/workstationConfigs",
                      "description": "Returns all WorkstationConfigs in the specified cluster.",
                      "response": {
                        "$ref": "ListWorkstationConfigsResponse"
                      }
                    },
                    "delete": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+$",
                          "required": true,
                          "description": "Required. Name of the config to delete.",
                          "location": "path"
                        },
                        "force": {
                          "location": "query",
                          "description": "If set, any Workstations in the config will also be deleted. Otherwise, the request will work only if the config has no workstations.",
                          "type": "boolean"
                        },
                        "validateOnly": {
                          "description": "If set, validate the request and preview the review, but do not actually apply it.",
                          "type": "boolean",
                          "location": "query"
                        },
                        "etag": {
                          "description": "If set, the request will be rejected if the latest version of the config on the server does not have this etag.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}",
                      "description": "Deletes the specified WorkstationConfig.",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "workstations.projects.locations.workstationClusters.workstationConfigs.delete",
                      "response": {
                        "$ref": "Operation"
                      },
                      "path": "v1beta/{+name}",
                      "httpMethod": "DELETE"
                    },
                    "listUsable": {
                      "path": "v1beta/{+parent}/workstationConfigs:listUsable",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "workstations.projects.locations.workstationClusters.workstationConfigs.listUsable",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs:listUsable",
                      "response": {
                        "$ref": "ListUsableWorkstationConfigsResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Returns all WorkstationConfigs in the specified cluster on which the caller has the \"workstations.workstation.create\" permission.",
                      "httpMethod": "GET",
                      "parameters": {
                        "pageToken": {
                          "description": "next_page_token value returned from a previous List request, if any.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+$",
                          "required": true,
                          "description": "Required. Parent resource name.",
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "Maximum number of items to return.",
                          "format": "int32",
                          "location": "query",
                          "type": "integer"
                        }
                      }
                    },
                    "patch": {
                      "request": {
                        "$ref": "WorkstationConfig"
                      },
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}",
                      "description": "Updates an existing WorkstationConfig.",
                      "id": "workstations.projects.locations.workstationClusters.workstationConfigs.patch",
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta/{+name}",
                      "httpMethod": "PATCH",
                      "parameters": {
                        "validateOnly": {
                          "location": "query",
                          "type": "boolean",
                          "description": "If set, validate the request and preview the review, but do not actually apply it."
                        },
                        "allowMissing": {
                          "location": "query",
                          "description": "If set, and the config is not found, a new config will be created. In this situation, update_mask is ignored.",
                          "type": "boolean"
                        },
                        "updateMask": {
                          "location": "query",
                          "description": "Required. Mask specifying which fields in the config should be updated.",
                          "type": "string",
                          "format": "google-fieldmask"
                        },
                        "name": {
                          "type": "string",
                          "location": "path",
                          "description": "Full name of this resource.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+$"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "getIamPolicy": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta/{+resource}:getIamPolicy",
                      "parameterOrder": [
                        "resource"
                      ],
                      "httpMethod": "GET",
                      "id": "workstations.projects.locations.workstationClusters.workstationConfigs.getIamPolicy",
                      "response": {
                        "$ref": "Policy"
                      },
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}:getIamPolicy",
                      "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
                      "parameters": {
                        "resource": {
                          "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+$",
                          "type": "string",
                          "required": true
                        },
                        "options.requestedPolicyVersion": {
                          "format": "int32",
                          "type": "integer",
                          "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                          "location": "query"
                        }
                      }
                    },
                    "setIamPolicy": {
                      "request": {
                        "$ref": "SetIamPolicyRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}:setIamPolicy",
                      "id": "workstations.projects.locations.workstationClusters.workstationConfigs.setIamPolicy",
                      "parameters": {
                        "resource": {
                          "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "Policy"
                      },
                      "path": "v1beta/{+resource}:setIamPolicy",
                      "parameterOrder": [
                        "resource"
                      ]
                    },
                    "create": {
                      "request": {
                        "$ref": "WorkstationConfig"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta/{+parent}/workstationConfigs",
                      "id": "workstations.projects.locations.workstationClusters.workstationConfigs.create",
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "description": "Required. Parent resource name.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+$",
                          "type": "string"
                        },
                        "validateOnly": {
                          "location": "query",
                          "type": "boolean",
                          "description": "If set, validate the request and preview the review, but do not actually apply it."
                        },
                        "workstationConfigId": {
                          "description": "Required. ID to use for the config.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs",
                      "description": "Creates a new WorkstationConfig."
                    },
                    "get": {
                      "httpMethod": "GET",
                      "path": "v1beta/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Returns the requested WorkstationConfig.",
                      "id": "workstations.projects.locations.workstationClusters.workstationConfigs.get",
                      "response": {
                        "$ref": "WorkstationConfig"
                      },
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}",
                      "parameters": {
                        "name": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "Required. Name of the requested resource.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+$"
                        }
                      }
                    },
                    "testIamPermissions": {
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}:testIamPermissions",
                      "request": {
                        "$ref": "TestIamPermissionsRequest"
                      },
                      "response": {
                        "$ref": "TestIamPermissionsResponse"
                      },
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "resource"
                      ],
                      "id": "workstations.projects.locations.workstationClusters.workstationConfigs.testIamPermissions",
                      "path": "v1beta/{+resource}:testIamPermissions",
                      "parameters": {
                        "resource": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+$",
                          "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
                        }
                      },
                      "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning."
                    }
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "cancel": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "description": "The name of the operation resource to be cancelled.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "workstations.projects.locations.operations.cancel",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta/{+name}:cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel"
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "description": "The name of the operation resource to be deleted."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta/{+name}",
                  "id": "workstations.projects.locations.operations.delete"
                },
                "get": {
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource.",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "GET",
                  "id": "workstations.projects.locations.operations.get",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "path": "v1beta/{+name}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "path": "v1beta/{+name}/operations",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/operations",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "workstations.projects.locations.operations.list",
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "description": "The standard list page size.",
                      "format": "int32"
                    },
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "The name of the operation's parent resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list page token."
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`. NOTE: the `name` binding allows API services to override the binding to use different resource name schemes, such as `users/*/operations`. To override the binding, API services can add a binding such as `\"/v1/{name=users/*}/operations\"` to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET"
                }
              }
            }
          }
        }
      }
    }
  },
  "id": "workstations:v1beta",
  "revision": "20221206",
  "servicePath": "",
  "batchPath": "batch",
  "name": "workstations",
  "title": "Cloud Workstations API",
  "documentationLink": "https://cloud.google.com/workstations",
  "ownerName": "Google",
  "schemas": {
    "AuditConfig": {
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "id": "AuditConfig",
      "type": "object",
      "properties": {
        "auditLogConfigs": {
          "description": "The configuration for logging of each type of permission.",
          "items": {
            "$ref": "AuditLogConfig"
          },
          "type": "array"
        },
        "service": {
          "type": "string",
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
        }
      }
    },
    "GceRegionalPersistentDisk": {
      "id": "GceRegionalPersistentDisk",
      "properties": {
        "reclaimPolicy": {
          "description": "What should happen to the disk after the Workstation is deleted. Defaults to DELETE.",
          "enum": [
            "RECLAIM_POLICY_UNSPECIFIED",
            "DELETE",
            "RETAIN"
          ],
          "enumDescriptions": [
            "Do not use.",
            "The persistent disk will be deleted with the Workstation.",
            "The persistent disk will be remain after the workstation is deleted, and the administrator must manually delete the disk."
          ],
          "type": "string"
        },
        "diskType": {
          "description": "Type of the disk to use.",
          "type": "string"
        },
        "sizeGb": {
          "format": "int32",
          "description": "Size of the disk in GB. Must be empty if source_snapshot is set.",
          "type": "integer"
        },
        "fsType": {
          "type": "string",
          "description": "Type of file system that the disk should be formatted with. The Workstation image must support this file system type. Must be empty if source_snapshot is set."
        }
      },
      "type": "object",
      "description": "A PersistentDirectory backed by a Compute Engine regional persistent disk."
    },
    "ListWorkstationConfigsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "workstationConfigs": {
          "type": "array",
          "description": "The requested configs.",
          "items": {
            "$ref": "WorkstationConfig"
          }
        },
        "unreachable": {
          "type": "array",
          "description": "Unreachable resources.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListWorkstationConfigsResponse",
      "description": "Response message for ListWorkstationConfigs.",
      "type": "object"
    },
    "StopWorkstationRequest": {
      "properties": {
        "etag": {
          "description": "If set, the request will be rejected if the latest version of the workstation on the server does not have this etag.",
          "type": "string"
        },
        "validateOnly": {
          "description": "If set, validate the request and preview the review, but do not actually apply it.",
          "type": "boolean"
        }
      },
      "description": "Request message for StopWorkstation.",
      "id": "StopWorkstationRequest",
      "type": "object"
    },
    "Empty": {
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "type": "object"
    },
    "StartWorkstationRequest": {
      "id": "StartWorkstationRequest",
      "type": "object",
      "properties": {
        "validateOnly": {
          "type": "boolean",
          "description": "If set, validate the request and preview the review, but do not actually apply it."
        },
        "etag": {
          "description": "If set, the request will be rejected if the latest version of the workstation on the server does not have this etag.",
          "type": "string"
        }
      },
      "description": "Request message for StartWorkstation."
    },
    "ListWorkstationClustersResponse": {
      "type": "object",
      "description": "Response message for ListWorkstationClusters.",
      "id": "ListWorkstationClustersResponse",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Unreachable resources."
        },
        "workstationClusters": {
          "type": "array",
          "description": "The requested clusters.",
          "items": {
            "$ref": "WorkstationCluster"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        }
      }
    },
    "Host": {
      "description": "The system will attempt to keep enough computational resources on standby Runtime host for a Workstation.",
      "properties": {
        "gceInstance": {
          "$ref": "GceInstance",
          "description": "Specifies a Google Compute Engine Instance as the host."
        }
      },
      "type": "object",
      "id": "Host"
    },
    "GceInstance": {
      "id": "GceInstance",
      "type": "object",
      "properties": {
        "tags": {
          "items": {
            "type": "string"
          },
          "description": "Network tags to add to the Google Compute Engine machines backing the Workstations.",
          "type": "array"
        },
        "confidentialInstanceConfig": {
          "description": "A set of Confidential Google Compute Engine Instance option.",
          "$ref": "GceConfidentialInstanceConfig"
        },
        "shieldedInstanceConfig": {
          "description": "A set of Shielded Google Compute Engine Instance options.",
          "$ref": "GceShieldedInstanceConfig"
        },
        "poolSize": {
          "type": "integer",
          "description": "Number of instances to pool for faster Workstation starup.",
          "format": "int32"
        },
        "machineType": {
          "description": "The name of a Google Compute Engine machine type.",
          "type": "string"
        },
        "serviceAccount": {
          "description": "Email address of the service account that will be used on VM instances used to support this config. This service account must have permission to pull the specified container image. If not set, VMs will run without a service account, in which case the image must be publicly accessible.",
          "type": "string"
        },
        "bootDiskSizeGb": {
          "description": "Size of the boot disk in GB.",
          "type": "integer",
          "format": "int32"
        },
        "disablePublicIpAddresses": {
          "type": "boolean",
          "description": "Whether instances have no public IP address."
        }
      },
      "description": "A runtime using a Google Compute Engine Instance."
    },
    "Binding": {
      "type": "object",
      "description": "Associates `members`, or principals, with a `role`.",
      "properties": {
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        },
        "members": {
          "items": {
            "type": "string"
          },
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. ",
          "type": "array"
        },
        "role": {
          "type": "string",
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`."
        }
      },
      "id": "Binding"
    },
    "TestIamPermissionsResponse": {
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "TestIamPermissionsResponse",
      "description": "Response message for `TestIamPermissions` method.",
      "type": "object"
    },
    "SetIamPolicyRequest": {
      "id": "SetIamPolicyRequest",
      "type": "object",
      "properties": {
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`"
        },
        "policy": {
          "$ref": "Policy",
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
        }
      },
      "description": "Request message for `SetIamPolicy` method."
    },
    "ListUsableWorkstationConfigsResponse": {
      "id": "ListUsableWorkstationConfigsResponse",
      "properties": {
        "workstationConfigs": {
          "description": "The requested configs.",
          "items": {
            "$ref": "WorkstationConfig"
          },
          "type": "array"
        },
        "unreachable": {
          "type": "array",
          "description": "Unreachable resources.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        }
      },
      "type": "object",
      "description": "Response message for ListUsableWorkstationConfigs."
    },
    "GenerateAccessTokenRequest": {
      "properties": {
        "ttl": {
          "description": "Desired lifetime duration of the access token. This value must be at most 24 hours. If a value is not specified, the token's lifetime will be set to a default value of 1 hour.",
          "format": "google-duration",
          "type": "string"
        },
        "expireTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Desired expiration time of the access token. This value must be at most 24 hours in the future. If a value is not specified, the token's expiration time will be set to a default value of 1 hour in the future."
        }
      },
      "id": "GenerateAccessTokenRequest",
      "type": "object",
      "description": "Request message for GenerateAccessToken."
    },
    "PrivateClusterConfig": {
      "id": "PrivateClusterConfig",
      "properties": {
        "enablePrivateEndpoint": {
          "type": "boolean",
          "description": "Whether Workstations endpoint is private."
        },
        "clusterHostname": {
          "description": "Output only. Hostname for the Workstation Cluster. This field will be populated only when private endpoint is enabled. To access workstations in the cluster, create a new DNS zone mapping this domain name to an internal IP address and a forwarding rule mapping that address to the service attachment.",
          "type": "string",
          "readOnly": true
        },
        "serviceAttachmentUri": {
          "description": "Output only. Service attachment URI for the Workstation Cluster. The service attachemnt is created when private endpoint is enabled. To access workstations in the cluster, configure access to the managed service using (Private Service Connect)[https://cloud.google.com/vpc/docs/configure-private-service-connect-services].",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Configuration options for private clusters.",
      "type": "object"
    },
    "Container": {
      "description": "A Docker container.",
      "properties": {
        "image": {
          "description": "Docker image defining the container. This image must be accessible by the config's service account.",
          "type": "string"
        },
        "runAsUser": {
          "description": "If set, overrides the USER specified in the image with the given uid.",
          "format": "int32",
          "type": "integer"
        },
        "workingDir": {
          "description": "If set, overrides the default DIR specified by the image.",
          "type": "string"
        },
        "command": {
          "type": "array",
          "description": "If set, overrides the default ENTRYPOINT specified by the image.",
          "items": {
            "type": "string"
          }
        },
        "args": {
          "description": "Arguments passed to the entrypoint.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "env": {
          "description": "Environment variables passed to the container.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "id": "Container",
      "type": "object"
    },
    "ListUsableWorkstationsResponse": {
      "type": "object",
      "description": "Response message for ListUsableWorkstations.",
      "id": "ListUsableWorkstationsResponse",
      "properties": {
        "workstations": {
          "items": {
            "$ref": "Workstation"
          },
          "type": "array",
          "description": "The requested workstations."
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Unreachable resources."
        }
      }
    },
    "WorkstationCluster": {
      "id": "WorkstationCluster",
      "properties": {
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time when this resource was most recently updated.",
          "readOnly": true
        },
        "degraded": {
          "type": "boolean",
          "description": "Output only. Whether this resource is in degraded mode, in which case it may require user action to restore full functionality. Details can be found in the `conditions` field.",
          "readOnly": true
        },
        "uid": {
          "readOnly": true,
          "description": "Output only. A system-assigned unique identified for this resource.",
          "type": "string"
        },
        "etag": {
          "description": "Checksum computed by the server. May be sent on update and delete requests to ensure that the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "reconciling": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Indicates whether this resource is currently being updated to match its intended state."
        },
        "subnetwork": {
          "type": "string",
          "description": "Name of the Compute Engine subnetwork in which instances associated with this cluster will be created. Must be part of the subnetwork specified for this cluster."
        },
        "network": {
          "type": "string",
          "description": "Name of the Compute Engine network in which instances associated with this cluster will be created."
        },
        "conditions": {
          "type": "array",
          "items": {
            "$ref": "Status"
          },
          "description": "Output only. Status conditions describing the current resource state.",
          "readOnly": true
        },
        "deleteTime": {
          "readOnly": true,
          "description": "Output only. Time when this resource was soft-deleted.",
          "format": "google-datetime",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time when this resource was created."
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Client-specified annotations.",
          "type": "object"
        },
        "displayName": {
          "description": "Human-readable name for this resource.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Full name of this resource."
        },
        "privateClusterConfig": {
          "description": "Configuration for private cluster.",
          "$ref": "PrivateClusterConfig"
        }
      },
      "type": "object",
      "description": "A grouping of WorkstationConfigs and their associated Workstations in a region."
    },
    "TestIamPermissionsRequest": {
      "type": "object",
      "description": "Request message for `TestIamPermissions` method.",
      "id": "TestIamPermissionsRequest",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
        }
      }
    },
    "WorkstationConfig": {
      "type": "object",
      "id": "WorkstationConfig",
      "properties": {
        "annotations": {
          "description": "Client-specified annotations.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "description": "Full name of this resource.",
          "type": "string"
        },
        "deleteTime": {
          "readOnly": true,
          "description": "Output only. Time when this resource was soft-deleted.",
          "type": "string",
          "format": "google-datetime"
        },
        "etag": {
          "description": "Checksum computed by the server. May be sent on update and delete requests to ensure that the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "persistentDirectories": {
          "type": "array",
          "items": {
            "$ref": "PersistentDirectory"
          },
          "description": "Directories to persist across Workstation sessions."
        },
        "container": {
          "description": "Container that will be run for each Workstation using this config when that Workstation is started.",
          "$ref": "Container"
        },
        "createTime": {
          "description": "Output only. Time when this resource was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "conditions": {
          "readOnly": true,
          "description": "Output only. Status conditions describing the current resource state.",
          "type": "array",
          "items": {
            "$ref": "Status"
          }
        },
        "degraded": {
          "readOnly": true,
          "description": "Output only. Whether this resource is in degraded mode, in which case it may require user action to restore full functionality. Details can be found in the `conditions` field.",
          "type": "boolean"
        },
        "reconciling": {
          "description": "Output only. Indicates whether this resource is currently being updated to match its intended state.",
          "readOnly": true,
          "type": "boolean"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. Time when this resource was most recently updated.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "displayName": {
          "description": "Human-readable name for this resource.",
          "type": "string"
        },
        "idleTimeout": {
          "format": "google-duration",
          "type": "string",
          "description": "How long to wait before automatically stopping an instance that hasn't received any user traffic. A value of 0 indicates that this instance should never time out due to idleness. Defaults to 20 minutes."
        },
        "uid": {
          "description": "Output only. A system-assigned unique identified for this resource.",
          "type": "string",
          "readOnly": true
        },
        "runningTimeout": {
          "format": "google-duration",
          "description": "How long to wait before automatically stopping a workstation after it started. A value of 0 indicates that workstations using this config should never time out. Must be greater than 0 and less than 24 hours if encryption_key is set. Defaults to 12 hours.",
          "type": "string"
        },
        "host": {
          "description": "Runtime host for the Workstation.",
          "$ref": "Host"
        }
      },
      "description": "A set of configuration options describing how a workstation will be run. WorkstationConfigs are intended to be shared across multiple workstations."
    },
    "ListWorkstationsResponse": {
      "id": "ListWorkstationsResponse",
      "type": "object",
      "description": "Response message for ListWorkstations.",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "workstations": {
          "type": "array",
          "items": {
            "$ref": "Workstation"
          },
          "description": "The requested workstations."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Unreachable resources."
        }
      }
    },
    "GceShieldedInstanceConfig": {
      "id": "GceShieldedInstanceConfig",
      "type": "object",
      "properties": {
        "enableVtpm": {
          "description": "Whether the instance has the vTPM enabled.",
          "type": "boolean"
        },
        "enableIntegrityMonitoring": {
          "description": "Whether the instance has integrity monitoring enabled.",
          "type": "boolean"
        },
        "enableSecureBoot": {
          "description": "Whether the instance has Secure Boot enabled.",
          "type": "boolean"
        }
      },
      "description": "A set of Shielded Google Compute Engine Instance options."
    },
    "Expr": {
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        }
      },
      "id": "Expr",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "type": "object"
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "id": "ListOperationsResponse",
      "type": "object"
    },
    "Operation": {
      "type": "object",
      "id": "Operation",
      "properties": {
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "response": {
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "PersistentDirectory": {
      "properties": {
        "gcePd": {
          "$ref": "GceRegionalPersistentDisk",
          "description": "A PersistentDirectory backed by a Compute Engine persistent disk."
        },
        "mountPath": {
          "type": "string",
          "description": "Location of this directory in the running Workstation."
        }
      },
      "description": "A directory persisted across Workstation sessions.",
      "type": "object",
      "id": "PersistentDirectory"
    },
    "CancelOperationRequest": {
      "type": "object",
      "description": "The request message for Operations.CancelOperation.",
      "id": "CancelOperationRequest",
      "properties": {}
    },
    "Policy": {
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } **YAML example:** bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "type": "object",
      "properties": {
        "auditConfigs": {
          "type": "array",
          "description": "Specifies cloud audit logging configuration for this policy.",
          "items": {
            "$ref": "AuditConfig"
          }
        },
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer",
          "format": "int32"
        },
        "etag": {
          "type": "string",
          "format": "byte",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
        },
        "bindings": {
          "type": "array",
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "items": {
            "$ref": "Binding"
          }
        }
      },
      "id": "Policy"
    },
    "GceConfidentialInstanceConfig": {
      "properties": {
        "enableConfidentialCompute": {
          "description": "Whether the instance has confidential compute enabled.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "A set of Confidential Google Compute Engine Instance option.",
      "id": "GceConfidentialInstanceConfig"
    },
    "GenerateAccessTokenResponse": {
      "properties": {
        "expireTime": {
          "type": "string",
          "description": "Time at which the generated token will expire.",
          "format": "google-datetime"
        },
        "accessToken": {
          "type": "string",
          "description": "The generated bearer access token. To use this token, include it in an Authorization header of an HTTP request sent to the associated workstation's hostname, e.g. \"Authorization: Bearer \"."
        }
      },
      "id": "GenerateAccessTokenResponse",
      "type": "object",
      "description": "Response message for GenerateAccessToken."
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          }
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "Status"
    },
    "AuditLogConfig": {
      "type": "object",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "properties": {
        "logType": {
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "enumDescriptions": [
            "Default case. Should never be this.",
[...]
