{
  "servicePath": "",
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "protocol": "rest",
  "description": "Execute workflows created with Workflows API.",
  "ownerDomain": "google.com",
  "id": "workflowexecutions:v1",
  "kind": "discovery#restDescription",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "batchPath": "batch",
  "documentationLink": "https://cloud.google.com/workflows",
  "mtlsRootUrl": "https://workflowexecutions.mtls.googleapis.com/",
  "title": "Workflow Executions API",
  "basePath": "",
  "parameters": {
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    }
  },
  "version": "v1",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "workflows": {
              "resources": {
                "executions": {
                  "methods": {
                    "create": {
                      "request": {
                        "$ref": "Execution"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workflows/{workflowsId}/executions",
                      "httpMethod": "POST",
                      "id": "workflowexecutions.projects.locations.workflows.executions.create",
                      "description": "Creates a new execution using the latest revision of the given workflow.",
                      "path": "v1/{+parent}/executions",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "Execution"
                      },
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/workflows/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "Required. Name of the workflow for which an execution should be created. Format: projects/{project}/locations/{location}/workflows/{workflow} The latest revision of the workflow will be used."
                        }
                      }
                    },
                    "list": {
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "ListExecutionsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "workflowexecutions.projects.locations.workflows.executions.list",
                      "description": "Returns a list of executions which belong to the workflow with the given name. The method returns executions of all workflow revisions. Returned executions are ordered by their start time (newest first).",
                      "path": "v1/{+parent}/executions",
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workflows/{workflowsId}/executions",
                      "parameters": {
                        "view": {
                          "description": "Optional. A view defining which fields should be filled in the returned executions. The API will default to the BASIC view.",
                          "enum": [
                            "EXECUTION_VIEW_UNSPECIFIED",
                            "BASIC",
                            "FULL"
                          ],
                          "type": "string",
                          "location": "query",
                          "enumDescriptions": [
                            "The default / unset value.",
                            "Includes only basic metadata about the execution. The following fields are returned: name, start_time, end_time, duration, state, and workflow_revision_id.",
                            "Includes all data."
                          ]
                        },
                        "filter": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. Filters applied to the [Executions.ListExecutions] results. The following fields are supported for filtering: executionID, state, startTime, endTime, duration, workflowRevisionID, stepName, and label."
                        },
                        "orderBy": {
                          "description": "Optional. The ordering applied to the [Executions.ListExecutions] results. By default the ordering is based on descending start time. The following fields are supported for order by: executionID, startTime, endTime, duration, state, and workflowRevisionID.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "description": "Required. Name of the workflow for which the executions should be listed. Format: projects/{project}/locations/{location}/workflows/{workflow}",
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/workflows/[^/]+$"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "A page token, received from a previous `ListExecutions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListExecutions` must match the call that provided the page token. Note that pagination is applied to dynamic data. The list of executions returned can change between page requests."
                        },
                        "pageSize": {
                          "description": "Maximum number of executions to return per call. Max supported value depends on the selected Execution view: it's 1000 for BASIC and 100 for FULL. The default value used if the field is not specified is 100, regardless of the selected view. Values greater than the max value will be coerced down to it.",
                          "type": "integer",
                          "location": "query",
                          "format": "int32"
                        }
                      }
                    },
                    "get": {
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "Required. Name of the execution to be retrieved. Format: projects/{project}/locations/{location}/workflows/{workflow}/executions/{execution}",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/workflows/[^/]+/executions/[^/]+$",
                          "type": "string"
                        },
                        "view": {
                          "enumDescriptions": [
                            "The default / unset value.",
                            "Includes only basic metadata about the execution. The following fields are returned: name, start_time, end_time, duration, state, and workflow_revision_id.",
                            "Includes all data."
                          ],
                          "description": "Optional. A view defining which fields should be filled in the returned execution. The API will default to the FULL view.",
                          "location": "query",
                          "enum": [
                            "EXECUTION_VIEW_UNSPECIFIED",
                            "BASIC",
                            "FULL"
                          ],
                          "type": "string"
                        }
                      },
                      "id": "workflowexecutions.projects.locations.workflows.executions.get",
                      "response": {
                        "$ref": "Execution"
                      },
                      "path": "v1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Returns an execution of the given name.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workflows/{workflowsId}/executions/{executionsId}",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "cancel": {
                      "path": "v1/{+name}:cancel",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workflows/{workflowsId}/executions/{executionsId}:cancel",
                      "id": "workflowexecutions.projects.locations.workflows.executions.cancel",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "CancelExecutionRequest"
                      },
                      "parameters": {
                        "name": {
                          "description": "Required. Name of the execution to be cancelled. Format: projects/{project}/locations/{location}/workflows/{workflow}/executions/{execution}",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/workflows/[^/]+/executions/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "Execution"
                      },
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Cancels an execution of the given name."
                    },
                    "exportData": {
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "ExportDataResponse"
                      },
                      "path": "v1/{+name}:exportData",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workflows/{workflowsId}/executions/{executionsId}:exportData",
                      "id": "workflowexecutions.projects.locations.workflows.executions.exportData",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Returns all metadata stored about an execution, excluding most data that is already accessible via other API methods.",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/workflows/[^/]+/executions/[^/]+$",
                          "description": "Required. Name of the execution to be data exported. Format: projects/{project}/locations/{location}/workflows/{workflow}/executions/{execution}",
                          "location": "path"
                        }
                      }
                    }
                  },
                  "resources": {
                    "callbacks": {
                      "methods": {
                        "list": {
                          "description": "Returns a list of active callbacks which belong to the execution with the given name. The returned callbacks are ordered by callback ID. first).",
                          "id": "workflowexecutions.projects.locations.workflows.executions.callbacks.list",
                          "path": "v1/{+parent}/callbacks",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workflows/{workflowsId}/executions/{executionsId}/callbacks",
                          "response": {
                            "$ref": "ListCallbacksResponse"
                          },
                          "parameters": {
                            "parent": {
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/workflows/[^/]+/executions/[^/]+$",
                              "required": true,
                              "description": "Required. Name of the execution for which the callbacks should be listed. Format: projects/{project}/locations/{location}/workflows/{workflow}/executions/{execution}",
                              "type": "string"
                            },
                            "pageToken": {
                              "type": "string",
                              "location": "query",
                              "description": "A page token, received from a previous `ListCallbacks` call. Provide this to retrieve the subsequent page. Note that pagination is applied to dynamic data. The list of callbacks returned can change between page requests if callbacks are created or deleted."
                            },
                            "pageSize": {
                              "description": "Maximum number of callbacks to return per call. The default value is 100 and is also the maximum value.",
                              "format": "int32",
                              "location": "query",
                              "type": "integer"
                            }
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "httpMethod": "GET"
                        }
                      }
                    }
                  }
                }
              },
              "methods": {
                "triggerPubsubExecution": {
                  "parameters": {
                    "workflow": {
                      "type": "string",
                      "description": "Required. Name of the workflow for which an execution should be created. Format: projects/{project}/locations/{location}/workflows/{workflow}",
                      "pattern": "^projects/[^/]+/locations/[^/]+/workflows/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workflows/{workflowsId}:triggerPubsubExecution",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Triggers a new execution using the latest revision of the given workflow by a Pub/Sub push notification.",
                  "path": "v1/{+workflow}:triggerPubsubExecution",
                  "id": "workflowexecutions.projects.locations.workflows.triggerPubsubExecution",
                  "response": {
                    "$ref": "Execution"
                  },
                  "request": {
                    "$ref": "TriggerPubsubExecutionRequest"
                  },
                  "parameterOrder": [
                    "workflow"
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "canonicalName": "Workflow Executions",
  "baseUrl": "https://workflowexecutions.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "rootUrl": "https://workflowexecutions.googleapis.com/",
  "ownerName": "Google",
  "name": "workflowexecutions",
  "revision": "20230829",
  "version_module": true,
  "schemas": {
    "Position": {
      "description": "Position contains source position information about the stack trace element such as line number, column number and length of the code block in bytes.",
      "type": "object",
      "properties": {
        "line": {
          "format": "int64",
          "type": "string",
          "description": "The source code line number the current instruction was generated from."
        },
        "column": {
          "type": "string",
          "format": "int64",
          "description": "The source code column position (of the line) the current instruction was generated from."
        },
        "length": {
          "format": "int64",
          "description": "The number of bytes of source code making up this stack trace element.",
          "type": "string"
        }
      },
      "id": "Position"
    },
    "StateError": {
      "type": "object",
      "description": "Describes an error related to the current state of the Execution resource.",
      "id": "StateError",
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "KMS_ERROR"
          ],
          "enumDescriptions": [
            "No type specified.",
            "Caused by an issue with KMS."
          ],
          "description": "The type of this state error.",
          "type": "string"
        },
        "details": {
          "type": "string",
          "description": "Provides specifics about the error."
        }
      }
    },
    "Error": {
      "properties": {
        "context": {
          "description": "Human-readable stack trace string.",
          "type": "string"
        },
        "stackTrace": {
          "description": "Stack trace with detailed information of where error was generated.",
          "$ref": "StackTrace"
        },
        "payload": {
          "type": "string",
          "description": "Error message and data returned represented as a JSON string."
        }
      },
      "description": "Error describes why the execution was abnormally terminated.",
      "type": "object",
      "id": "Error"
    },
    "ExportDataResponse": {
      "type": "object",
      "properties": {
        "data": {
          "type": "string",
          "description": "The JSON string with customer data and metadata of an execution of the given name"
        }
      },
      "description": "Response for the ExportData method.",
      "id": "ExportDataResponse"
    },
    "StackTraceElement": {
      "properties": {
        "position": {
          "$ref": "Position",
          "description": "The source position information of the stack trace element."
        },
        "step": {
          "description": "The step the error occurred at.",
          "type": "string"
        },
        "routine": {
          "description": "The routine where the error occurred.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A single stack element (frame) where an error occurred.",
      "id": "StackTraceElement"
    },
    "Step": {
      "description": "Represents a step of the workflow this execution is running.",
      "properties": {
        "routine": {
          "description": "Name of a routine within the workflow.",
          "type": "string"
        },
        "step": {
          "description": "Name of a step within the routine.",
          "type": "string"
        }
      },
      "id": "Step",
      "type": "object"
    },
    "Execution": {
      "type": "object",
      "description": "A running instance of a [Workflow](/workflows/docs/reference/rest/v1/projects.locations.workflows).",
      "id": "Execution",
      "properties": {
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Marks the beginning of execution."
        },
        "result": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Output of the execution represented as a JSON string. The value can only be present if the execution's state is `SUCCEEDED`."
        },
        "status": {
          "readOnly": true,
          "description": "Output only. Status tracks the current steps and progress data of this execution.",
          "$ref": "Status"
        },
        "argument": {
          "description": "Input parameters of the execution represented as a JSON string. The size limit is 32KB. *Note*: If you are using the REST API directly to run your workflow, you must escape any JSON string value of `argument`. Example: `'{\"argument\":\"{\\\"firstName\\\":\\\"FIRST\\\",\\\"lastName\\\":\\\"LAST\\\"}\"}'`",
          "type": "string"
        },
        "error": {
          "$ref": "Error",
          "readOnly": true,
          "description": "Output only. The error which caused the execution to finish prematurely. The value is only present if the execution's state is `FAILED` or `CANCELLED`."
        },
        "callLogLevel": {
          "description": "The call logging level associated to this execution.",
          "enumDescriptions": [
            "No call logging level specified.",
            "Log all call steps within workflows, all call returns, and all exceptions raised.",
            "Log only exceptions that are raised from call steps within workflows.",
            "Explicitly log nothing."
          ],
          "type": "string",
          "enum": [
            "CALL_LOG_LEVEL_UNSPECIFIED",
            "LOG_ALL_CALLS",
            "LOG_ERRORS_ONLY",
            "LOG_NONE"
          ]
        },
        "workflowRevisionId": {
          "type": "string",
          "description": "Output only. Revision of the workflow this execution is using.",
          "readOnly": true
        },
        "stateError": {
          "readOnly": true,
          "description": "Output only. Error regarding the state of the Execution resource. For example, this field will have error details if the execution data is unavailable due to revoked KMS key permissions.",
          "$ref": "StateError"
        },
        "duration": {
          "type": "string",
          "description": "Output only. Measures the duration of the execution.",
          "readOnly": true,
          "format": "google-duration"
        },
        "endTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Marks the end of execution, successful or not."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED",
            "UNAVAILABLE",
            "QUEUED"
          ],
          "enumDescriptions": [
            "Invalid state.",
            "The execution is in progress.",
            "The execution finished successfully.",
            "The execution failed with an error.",
            "The execution was stopped intentionally.",
            "Execution data is unavailable. See the `state_error` field.",
            "Request has been placed in the backlog for processing at a later time."
          ],
          "description": "Output only. Current state of the execution.",
          "type": "string",
          "readOnly": true
        },
        "labels": {
          "description": "Labels associated with this execution. Labels can contain at most 64 entries. Keys and values can be no longer than 63 characters and can only contain lowercase letters, numeric characters, underscores, and dashes. Label keys must start with a letter. International characters are allowed. By default, labels are inherited from the workflow but are overridden by any labels associated with the execution.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "description": "Output only. The resource name of the execution. Format: projects/{project}/locations/{location}/workflows/{workflow}/executions/{execution}",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "StackTrace": {
      "id": "StackTrace",
      "properties": {
        "elements": {
          "description": "An array of stack elements.",
          "items": {
            "$ref": "StackTraceElement"
          },
          "type": "array"
        }
      },
      "description": "A collection of stack elements (frames) where an error occurred.",
      "type": "object"
    },
    "ListCallbacksResponse": {
      "description": "RPC response object for the ListCallbacks method.",
      "id": "ListCallbacksResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "callbacks": {
          "type": "array",
          "items": {
            "$ref": "Callback"
          },
          "description": "The callbacks which match the request."
        }
      },
      "type": "object"
    },
    "ListExecutionsResponse": {
      "properties": {
        "executions": {
          "description": "The executions which match the request.",
          "type": "array",
          "items": {
            "$ref": "Execution"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "ListExecutionsResponse",
      "description": "Response for the ListExecutions method.",
      "type": "object"
    },
    "CancelExecutionRequest": {
      "type": "object",
      "description": "Request for the CancelExecution method.",
      "id": "CancelExecutionRequest",
      "properties": {}
    },
    "TriggerPubsubExecutionRequest": {
      "type": "object",
      "id": "TriggerPubsubExecutionRequest",
      "properties": {
        "GCPCloudEventsMode": {
          "type": "string",
          "description": "Required. LINT: LEGACY_NAMES The query parameter value for __GCP_CloudEventsMode, set by the Eventarc service when configuring triggers."
        },
        "subscription": {
          "type": "string",
          "description": "Required. The subscription of the Pub/Sub push notification. Format: projects/{project}/subscriptions/{sub}"
        },
        "message": {
          "$ref": "PubsubMessage",
          "description": "Required. The message of the Pub/Sub push notification."
        },
        "deliveryAttempt": {
          "format": "int32",
          "type": "integer",
          "description": "The number of attempts that have been made to deliver this message. This is set by Pub/Sub for subscriptions that have the \"dead letter\" feature enabled, and hence provided here for compatibility, but is ignored by Workflows."
        }
      },
      "description": "Request for the TriggerPubsubExecution method."
    },
    "PubsubMessage": {
      "type": "object",
      "properties": {
        "publishTime": {
          "type": "string",
          "description": "Optional. The time at which the message was published, populated by the server when it receives the `Publish` call. It must not be populated by the publisher in a `Publish` call.",
          "format": "google-datetime"
        },
        "orderingKey": {
          "type": "string",
          "description": "Optional. If non-empty, identifies related messages for which publish order should be respected. If a `Subscription` has `enable_message_ordering` set to `true`, messages published with the same non-empty `ordering_key` value will be delivered to subscribers in the order in which they are received by the Pub/Sub system. All `PubsubMessage`s published in a given `PublishRequest` must specify the same `ordering_key` value. For more information, see [ordering messages](https://cloud.google.com/pubsub/docs/ordering)."
        },
        "attributes": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Attributes for this message. If this field is empty, the message must contain non-empty data. This can be used to filter messages on the subscription."
        },
        "data": {
          "description": "Optional. The message data field. If this field is empty, the message must contain at least one attribute.",
          "format": "byte",
          "type": "string"
        },
        "messageId": {
          "description": "Optional. ID of this message, assigned by the server when the message is published. Guaranteed to be unique within the topic. This value may be read by a subscriber that receives a `PubsubMessage` via a `Pull` call or a push delivery. It must not be populated by the publisher in a `Publish` call.",
          "type": "string"
        }
      },
      "description": "A message that is published by publishers and consumed by subscribers. The message must contain either a non-empty data field or at least one attribute. Note that client libraries represent this object differently depending on the language. See the corresponding [client library documentation](https://cloud.google.com/pubsub/docs/reference/libraries) for more information. See [quotas and limits] (https://cloud.google.com/pubsub/quotas) for more information about message limits.",
      "id": "PubsubMessage"
    },
    "Status": {
      "id": "Status",
      "description": "Represents the current status of this execution.",
      "type": "object",
      "properties": {
        "currentSteps": {
          "items": {
            "$ref": "Step"
          },
          "type": "array",
          "description": "A list of currently executing or last executed step names for the workflow execution currently running. If the workflow has succeeded or failed, this is the last attempted or executed step. Presently, if the current step is inside a subworkflow, the list only includes that step. In the future, the list will contain items for each step in the call stack, starting with the outermost step in the `main` subworkflow, and ending with the most deeply nested step."
        }
      }
    },
    "Callback": {
      "description": "An instance of a Callback created by an execution.",
      "id": "Callback",
      "properties": {
        "method": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The method accepted by the callback. E.g. GET, POST, PUT."
        },
        "availablePayloads": {
          "description": "Output only. The payloads received by the callback that have not been processed by a waiting execution step.",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "waiters": {
          "readOnly": true,
          "format": "int64",
          "type": "string",
          "description": "Output only. Number of execution steps waiting on this callback."
        },
        "name": {
          "type": "string",
          "description": "Output only. The resource name of the callback. Format: projects/{project}/locations/{location}/workflows/{workflow}/executions/{execution}/callback/{callback}",
          "readOnly": true
        }
      },
      "type": "object"
    }
  }
}
