{
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "version_module": true,
  "baseUrl": "https://workstations.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "kind": "discovery#restDescription",
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    }
  },
  "description": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "schemas": {
    "OperationMetadata": {
      "type": "object",
      "properties": {
        "statusDetail": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "cancelRequested": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running.",
          "type": "string",
          "readOnly": true
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "type": "string"
        },
        "target": {
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string"
        },
        "verb": {
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string"
        }
      },
      "description": "Represents the metadata of the long-running operation.",
      "id": "OperationMetadata"
    },
    "GceConfidentialInstanceConfig": {
      "properties": {
        "enableConfidentialCompute": {
          "type": "boolean",
          "description": "Whether the instance has confidential compute enabled."
        }
      },
      "type": "object",
      "description": "A set of Confidential Google Compute Engine Instance option.",
      "id": "GceConfidentialInstanceConfig"
    },
    "ListWorkstationConfigsResponse": {
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Unreachable resources."
        },
        "workstationConfigs": {
          "type": "array",
          "description": "The requested configs.",
          "items": {
            "$ref": "WorkstationConfig"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      },
      "id": "ListWorkstationConfigsResponse",
      "description": "Response message for ListWorkstationConfigs.",
      "type": "object"
    },
    "ListUsableWorkstationsResponse": {
      "type": "object",
      "properties": {
        "unreachable": {
          "description": "Unreachable resources.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "workstations": {
          "items": {
            "$ref": "Workstation"
          },
          "type": "array",
          "description": "The requested workstations."
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      },
      "id": "ListUsableWorkstationsResponse",
      "description": "Response message for ListUsableWorkstations."
    },
    "StopWorkstationRequest": {
      "properties": {
        "validateOnly": {
          "type": "boolean",
          "description": "If set, validate the request and preview the review, but do not actually apply it."
        },
        "etag": {
          "description": "If set, the request will be rejected if the latest version of the workstation on the server does not have this etag.",
          "type": "string"
        }
      },
      "description": "Request message for StopWorkstation.",
      "type": "object",
      "id": "StopWorkstationRequest"
    },
    "GceShieldedInstanceConfig": {
      "type": "object",
      "id": "GceShieldedInstanceConfig",
      "properties": {
        "enableSecureBoot": {
          "description": "Whether the instance has Secure Boot enabled.",
          "type": "boolean"
        },
        "enableIntegrityMonitoring": {
          "type": "boolean",
          "description": "Whether the instance has integrity monitoring enabled."
        },
        "enableVtpm": {
          "type": "boolean",
          "description": "Whether the instance has the vTPM enabled."
        }
      },
      "description": "A set of Shielded Google Compute Engine Instance options."
    },
    "AuditLogConfig": {
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "type": "object",
      "properties": {
        "exemptedMembers": {
          "type": "array",
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "items": {
            "type": "string"
          }
        },
        "logType": {
          "type": "string",
          "description": "The log type that this config enables.",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ]
        }
      },
      "id": "AuditLogConfig"
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          },
          "type": "array"
        }
      }
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "properties": {},
      "id": "CancelOperationRequest"
    },
    "Binding": {
      "id": "Binding",
      "description": "Associates `members`, or principals, with a `role`.",
      "type": "object",
      "properties": {
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`.",
          "type": "string"
        },
        "members": {
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. ",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        }
      }
    },
    "GceRegionalPersistentDisk": {
      "properties": {
        "fsType": {
          "type": "string",
          "description": "Type of file system that the disk should be formatted with. The Workstation image must support this file system type. Must be empty if source_snapshot is set."
        },
        "reclaimPolicy": {
          "enumDescriptions": [
            "Do not use.",
            "The persistent disk will be deleted with the Workstation.",
            "The persistent disk will be remain after the workstation is deleted, and the administrator must manually delete the disk."
          ],
          "enum": [
            "RECLAIM_POLICY_UNSPECIFIED",
            "DELETE",
            "RETAIN"
          ],
          "description": "What should happen to the disk after the Workstation is deleted. Defaults to DELETE.",
          "type": "string"
        },
        "sizeGb": {
          "description": "Size of the disk in GB. Must be empty if source_snapshot is set.",
          "format": "int32",
          "type": "integer"
        },
        "diskType": {
          "type": "string",
          "description": "Type of the disk to use."
        }
      },
      "id": "GceRegionalPersistentDisk",
      "type": "object",
      "description": "A PersistentDirectory backed by a Compute Engine regional persistent disk."
    },
    "AuditConfig": {
      "properties": {
        "auditLogConfigs": {
          "type": "array",
          "items": {
            "$ref": "AuditLogConfig"
          },
          "description": "The configuration for logging of each type of permission."
        },
        "service": {
          "type": "string",
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
        }
      },
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "id": "AuditConfig",
      "type": "object"
    },
    "ListWorkstationClustersResponse": {
      "type": "object",
      "id": "ListWorkstationClustersResponse",
      "description": "Response message for ListWorkstationClusters.",
      "properties": {
        "workstationClusters": {
          "items": {
            "$ref": "WorkstationCluster"
          },
          "type": "array",
          "description": "The requested clusters."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Unreachable resources."
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      }
    },
    "WorkstationCluster": {
      "properties": {
        "annotations": {
          "description": "Client-specified annotations.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "subnetwork": {
          "description": "Name of the Compute Engine subnetwork in which instances associated with this cluster will be created. Must be part of the subnetwork specified for this cluster.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Checksum computed by the server. May be sent on update and delete requests to ensure that the client has an up-to-date value before proceeding."
        },
        "conditions": {
          "readOnly": true,
          "items": {
            "$ref": "Status"
          },
          "type": "array",
          "description": "Output only. Status conditions describing the current resource state."
        },
        "deleteTime": {
          "type": "string",
          "description": "Output only. Time when this resource was soft-deleted.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "uid": {
          "readOnly": true,
          "description": "Output only. A system-assigned unique identified for this resource.",
          "type": "string"
        },
        "reconciling": {
          "description": "Output only. Indicates whether this resource is currently being updated to match its intended state.",
          "readOnly": true,
          "type": "boolean"
        },
        "degraded": {
          "type": "boolean",
          "description": "Output only. Whether this resource is in degraded mode, in which case it may require user action to restore full functionality. Details can be found in the `conditions` field.",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Time when this resource was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Full name of this resource."
        },
        "network": {
          "type": "string",
          "description": "Name of the Compute Engine network in which instances associated with this cluster will be created."
        },
        "privateClusterConfig": {
          "$ref": "PrivateClusterConfig",
          "description": "Configuration for private cluster."
        },
        "displayName": {
          "description": "Human-readable name for this resource.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Time when this resource was most recently updated.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "WorkstationCluster",
      "type": "object",
      "description": "A grouping of WorkstationConfigs and their associated Workstations in a region."
    },
    "Host": {
      "type": "object",
      "id": "Host",
      "properties": {
        "gceInstance": {
          "$ref": "GceInstance",
          "description": "Specifies a Google Compute Engine Instance as the host."
        }
      },
      "description": "The system will attempt to keep enough computational resources on standby Runtime host for a Workstation."
    },
    "PersistentDirectory": {
      "description": "A directory persisted across Workstation sessions.",
      "id": "PersistentDirectory",
      "properties": {
        "mountPath": {
          "type": "string",
          "description": "Location of this directory in the running Workstation."
        },
        "gcePd": {
          "$ref": "GceRegionalPersistentDisk",
          "description": "A PersistentDirectory backed by a Compute Engine persistent disk."
        }
      },
      "type": "object"
    },
    "GceInstance": {
      "type": "object",
      "description": "A runtime using a Google Compute Engine Instance.",
      "id": "GceInstance",
      "properties": {
        "disablePublicIpAddresses": {
          "description": "Whether instances have no public IP address.",
          "type": "boolean"
        },
        "tags": {
          "type": "array",
          "description": "Network tags to add to the Google Compute Engine machines backing the Workstations.",
          "items": {
            "type": "string"
          }
        },
        "bootDiskSizeGb": {
          "format": "int32",
          "description": "Size of the boot disk in GB.",
          "type": "integer"
        },
        "confidentialInstanceConfig": {
          "$ref": "GceConfidentialInstanceConfig",
          "description": "A set of Confidential Google Compute Engine Instance option."
        },
        "shieldedInstanceConfig": {
          "description": "A set of Shielded Google Compute Engine Instance options.",
          "$ref": "GceShieldedInstanceConfig"
        },
        "poolSize": {
          "type": "integer",
          "description": "Number of instances to pool for faster Workstation starup.",
          "format": "int32"
        },
        "machineType": {
          "description": "The name of a Google Compute Engine machine type.",
          "type": "string"
        },
        "serviceAccount": {
          "description": "Email address of the service account that will be used on VM instances used to support this config. This service account must have permission to pull the specified container image. If not set, VMs will run without a service account, in which case the image must be publicly accessible.",
          "type": "string"
        }
      }
    },
    "TestIamPermissionsRequest": {
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "type": "array"
        }
      },
      "description": "Request message for `TestIamPermissions` method.",
      "type": "object",
      "id": "TestIamPermissionsRequest"
    },
    "SetIamPolicyRequest": {
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        },
        "updateMask": {
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "type": "string",
          "format": "google-fieldmask"
        }
      },
      "type": "object",
      "id": "SetIamPolicyRequest",
      "description": "Request message for `SetIamPolicy` method."
    },
    "Empty": {
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty"
    },
    "Expr": {
      "id": "Expr",
      "properties": {
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
    },
    "GenerateAccessTokenResponse": {
      "type": "object",
      "id": "GenerateAccessTokenResponse",
      "description": "Response message for GenerateAccessToken.",
      "properties": {
        "expireTime": {
          "description": "Time at which the generated token will expire.",
          "type": "string",
          "format": "google-datetime"
        },
        "accessToken": {
          "type": "string",
          "description": "The generated bearer access token. To use this token, include it in an Authorization header of an HTTP request sent to the associated workstation's hostname, e.g. \"Authorization: Bearer \"."
        }
      }
    },
    "Container": {
      "properties": {
        "workingDir": {
          "description": "If set, overrides the default DIR specified by the image.",
          "type": "string"
        },
        "args": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Arguments passed to the entrypoint."
        },
        "command": {
          "type": "array",
          "description": "If set, overrides the default ENTRYPOINT specified by the image.",
          "items": {
            "type": "string"
          }
        },
        "env": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Environment variables passed to the container."
        },
        "image": {
          "description": "Docker image defining the container. This image must be accessible by the config's service account.",
          "type": "string"
        },
        "runAsUser": {
          "description": "If set, overrides the USER specified in the image with the given uid.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "Container",
      "description": "A Docker container.",
      "type": "object"
    },
    "ListWorkstationsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        },
        "unreachable": {
          "description": "Unreachable resources.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "workstations": {
          "items": {
            "$ref": "Workstation"
          },
          "description": "The requested workstations.",
          "type": "array"
        }
      },
      "id": "ListWorkstationsResponse",
      "type": "object",
      "description": "Response message for ListWorkstations."
    },
    "GenerateAccessTokenRequest": {
      "type": "object",
      "description": "Request message for GenerateAccessToken.",
      "id": "GenerateAccessTokenRequest",
      "properties": {
        "expireTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Desired expiration time of the access token. This value must be at most 24 hours in the future. If a value is not specified, the token's expiration time will be set to a default value of 1 hour in the future."
        },
        "ttl": {
          "type": "string",
          "format": "google-duration",
          "description": "Desired lifetime duration of the access token. This value must be at most 24 hours. If a value is not specified, the token's lifetime will be set to a default value of 1 hour."
        }
      }
    },
    "ListUsableWorkstationConfigsResponse": {
      "description": "Response message for ListUsableWorkstationConfigs.",
      "id": "ListUsableWorkstationConfigsResponse",
      "type": "object",
      "properties": {
        "workstationConfigs": {
          "items": {
            "$ref": "WorkstationConfig"
          },
          "type": "array",
          "description": "The requested configs."
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "unreachable": {
          "description": "Unreachable resources.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "PrivateClusterConfig": {
      "type": "object",
      "properties": {
        "enablePrivateEndpoint": {
          "description": "Whether Workstations endpoint is private.",
          "type": "boolean"
        },
        "clusterHostname": {
          "type": "string",
          "description": "Output only. Hostname for the Workstation Cluster. This field will be populated only when private endpoint is enabled. To access workstations in the cluster, create a new DNS zone mapping this domain name to an internal IP address and a forwarding rule mapping that address to the service attachment.",
          "readOnly": true
        },
        "serviceAttachmentUri": {
          "description": "Output only. Service attachment URI for the Workstation Cluster. The service attachemnt is created when private endpoint is enabled. To access workstations in the cluster, configure access to the managed service using (Private Service Connect)[https://cloud.google.com/vpc/docs/configure-private-service-connect-services].",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "PrivateClusterConfig",
      "description": "Configuration options for private clusters."
    },
    "TestIamPermissionsResponse": {
      "type": "object",
      "id": "TestIamPermissionsResponse",
      "description": "Response message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "type": "array",
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Policy": {
      "properties": {
        "auditConfigs": {
          "items": {
            "$ref": "AuditConfig"
          },
          "type": "array",
          "description": "Specifies cloud audit logging configuration for this policy."
        },
        "version": {
          "type": "integer",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32"
        },
        "bindings": {
          "type": "array",
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "items": {
            "$ref": "Binding"
          }
        },
        "etag": {
          "format": "byte",
          "type": "string",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
        }
      },
      "type": "object",
      "id": "Policy",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } **YAML example:** bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
    },
    "Operation": {
      "id": "Operation",
      "type": "object",
      "properties": {
        "response": {
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "StartWorkstationRequest": {
      "type": "object",
      "properties": {
        "etag": {
          "description": "If set, the request will be rejected if the latest version of the workstation on the server does not have this etag.",
          "type": "string"
        },
        "validateOnly": {
          "description": "If set, validate the request and preview the review, but do not actually apply it.",
          "type": "boolean"
        }
      },
      "description": "Request message for StartWorkstation.",
      "id": "StartWorkstationRequest"
    },
    "Status": {
      "properties": {
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "WorkstationConfig": {
      "properties": {
        "deleteTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time when this resource was soft-deleted.",
          "readOnly": true
        },
        "runningTimeout": {
          "format": "google-duration",
          "type": "string",
          "description": "How long to wait before automatically stopping a workstation after it started. A value of 0 indicates that workstations using this config should never time out. Must be greater than 0 and less than 24 hours if encryption_key is set. Defaults to 12 hours."
        },
        "createTime": {
          "description": "Output only. Time when this resource was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "etag": {
          "type": "string",
          "description": "Checksum computed by the server. May be sent on update and delete requests to ensure that the client has an up-to-date value before proceeding."
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time when this resource was most recently updated."
        },
        "conditions": {
          "items": {
            "$ref": "Status"
          },
          "type": "array",
          "description": "Output only. Status conditions describing the current resource state.",
          "readOnly": true
        },
        "degraded": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether this resource is in degraded mode, in which case it may require user action to restore full functionality. Details can be found in the `conditions` field."
        },
        "host": {
          "$ref": "Host",
          "description": "Runtime host for the Workstation."
        },
        "uid": {
          "type": "string",
          "description": "Output only. A system-assigned unique identified for this resource.",
          "readOnly": true
        },
        "displayName": {
          "description": "Human-readable name for this resource.",
          "type": "string"
        },
        "persistentDirectories": {
          "type": "array",
          "items": {
            "$ref": "PersistentDirectory"
          },
          "description": "Directories to persist across Workstation sessions."
        },
        "container": {
          "$ref": "Container",
          "description": "Container that will be run for each Workstation using this config when that Workstation is started."
        },
        "reconciling": {
          "type": "boolean",
          "description": "Output only. Indicates whether this resource is currently being updated to match its intended state.",
          "readOnly": true
        },
        "annotations": {
          "description": "Client-specified annotations.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "description": "Full name of this resource.",
          "type": "string"
        },
        "idleTimeout": {
          "type": "string",
          "description": "How long to wait before automatically stopping an instance that hasn't received any user traffic. A value of 0 indicates that this instance should never time out due to idleness. Defaults to 20 minutes.",
          "format": "google-duration"
        }
      },
      "description": "A set of configuration options describing how a workstation will be run. WorkstationConfigs are intended to be shared across multiple workstations.",
      "id": "WorkstationConfig",
      "type": "object"
    },
    "Workstation": {
      "type": "object",
      "id": "Workstation",
      "properties": {
        "deleteTime": {
          "description": "Output only. Time when this resource was soft-deleted.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. Time when this resource was most recently updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "Do not use.",
            "The workstation is not yet ready to accept requests from users but will be soon.",
            "The workstation is ready to accept requests from users.",
            "The workstation is being stopped.",
            "The workstation is stopped and will not be able to receive requests until it is started."
          ],
          "type": "string",
          "description": "Output only. Current state of the workstation.",
          "enum": [
            "STATE_UNSPECIFIED",
            "STATE_STARTING",
            "STATE_RUNNING",
            "STATE_STOPPING",
            "STATE_STOPPED"
          ]
        },
        "host": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Host to which clients can send HTTPS traffic that will be received by the workstation. Authorized traffic will be received to the workstation as HTTP on port 80. To send traffic to a different port, clients may prefix the host with the destination port in the format \"{port}-{host}\"."
        },
        "uid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A system-assigned unique identified for this resource."
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Client-specified annotations."
        },
        "name": {
          "type": "string",
          "description": "Full name of this resource."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time when this resource was created."
        },
        "etag": {
          "type": "string",
          "description": "Checksum computed by the server. May be sent on update and delete requests to ensure that the client has an up-to-date value before proceeding."
        },
        "reconciling": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Indicates whether this resource is currently being updated to match its intended state."
        },
        "displayName": {
          "type": "string",
          "description": "Human-readable name for this resource."
        }
      },
      "description": "A single instance of a developer workstation with its own persistent storage."
    }
  },
  "protocol": "rest",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "workstationClusters": {
              "methods": {
                "delete": {
                  "path": "v1beta/{+name}",
                  "description": "Deletes the specified WorkstationCluster.",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}",
                  "id": "workstations.projects.locations.workstationClusters.delete",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "validateOnly": {
                      "location": "query",
                      "type": "boolean",
                      "description": "If set, validate the request and preview the review, but do not actually apply it."
                    },
                    "name": {
                      "location": "path",
                      "description": "Required. Name of the cluster to delete.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+$"
                    },
                    "force": {
                      "type": "boolean",
                      "location": "query",
                      "description": "If set, any WorkstationConfigs and Workstations in the cluster will also be deleted. Otherwise, the request will work only if the cluster has no configs or workstations."
                    },
                    "etag": {
                      "type": "string",
                      "location": "query",
                      "description": "If set, the request will be rejected if the latest version of the cluster on the server does not have this etag."
                    }
                  }
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Returns the requested WorkstationCluster.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+$",
                      "location": "path",
                      "description": "Required. Name of the requested resource.",
                      "required": true
                    }
                  },
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "WorkstationCluster"
                  },
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}",
                  "id": "workstations.projects.locations.workstationClusters.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta/{+name}"
                },
                "create": {
                  "id": "workstations.projects.locations.workstationClusters.create",
                  "parameters": {
                    "validateOnly": {
                      "description": "If set, validate the request and preview the review, but do not actually apply it.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "workstationClusterId": {
                      "description": "Required. ID to use for the cluster.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. Parent resource name.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters",
                  "request": {
                    "$ref": "WorkstationCluster"
                  },
                  "path": "v1beta/{+parent}/workstationClusters",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Creates a new WorkstationCluster.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST"
                },
                "list": {
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. Parent resource name.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true
                    },
                    "pageToken": {
                      "description": "next_page_token value returned from a previous List request, if any.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "Maximum number of items to return.",
                      "type": "integer",
                      "location": "query"
                    }
                  },
                  "id": "workstations.projects.locations.workstationClusters.list",
                  "path": "v1beta/{+parent}/workstationClusters",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListWorkstationClustersResponse"
                  },
                  "description": "Returns all WorkstationClusters in the specified location.",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "patch": {
                  "id": "workstations.projects.locations.workstationClusters.patch",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "validateOnly": {
                      "type": "boolean",
                      "description": "If set, validate the request and preview the review, but do not actually apply it.",
                      "location": "query"
                    },
                    "allowMissing": {
                      "type": "boolean",
                      "location": "query",
                      "description": "If set, and the cluster is not found, a new cluster will be created. In this situation, update_mask is ignored."
                    },
                    "name": {
                      "description": "Full name of this resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "description": "Required. Mask specifying which fields in the cluster should be updated.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "WorkstationCluster"
                  },
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Updates an existing WorkstationCluster.",
                  "path": "v1beta/{+name}",
                  "httpMethod": "PATCH"
                }
              },
              "resources": {
                "workstationConfigs": {
                  "methods": {
                    "listUsable": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs:listUsable",
                      "response": {
                        "$ref": "ListUsableWorkstationConfigsResponse"
                      },
                      "path": "v1beta/{+parent}/workstationConfigs:listUsable",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+$",
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "Required. Parent resource name."
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "next_page_token value returned from a previous List request, if any."
                        },
                        "pageSize": {
                          "format": "int32",
                          "description": "Maximum number of items to return.",
                          "type": "integer",
                          "location": "query"
                        }
                      },
                      "httpMethod": "GET",
                      "id": "workstations.projects.locations.workstationClusters.workstationConfigs.listUsable",
                      "description": "Returns all WorkstationConfigs in the specified cluster on which the caller has the \"workstations.workstation.create\" permission."
                    },
                    "list": {
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs",
                      "description": "Returns all WorkstationConfigs in the specified cluster.",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "ListWorkstationConfigsResponse"
                      },
                      "path": "v1beta/{+parent}/workstationConfigs",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. Parent resource name.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+$"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "next_page_token value returned from a previous List request, if any.",
                          "type": "string"
                        },
                        "pageSize": {
                          "location": "query",
                          "description": "Maximum number of items to return.",
                          "type": "integer",
                          "format": "int32"
                        }
                      },
                      "id": "workstations.projects.locations.workstationClusters.workstationConfigs.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "setIamPolicy": {
                      "parameters": {
                        "resource": {
                          "location": "path",
                          "required": true,
                          "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+$"
                        }
                      },
                      "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}:setIamPolicy",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Policy"
                      },
                      "request": {
                        "$ref": "SetIamPolicyRequest"
                      },
                      "parameterOrder": [
                        "resource"
                      ],
                      "httpMethod": "POST",
                      "path": "v1beta/{+resource}:setIamPolicy",
                      "id": "workstations.projects.locations.workstationClusters.workstationConfigs.setIamPolicy"
                    },
                    "delete": {
                      "httpMethod": "DELETE",
                      "id": "workstations.projects.locations.workstationClusters.workstationConfigs.delete",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}",
                      "description": "Deletes the specified WorkstationConfig.",
                      "parameters": {
                        "name": {
                          "description": "Required. Name of the config to delete.",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+$",
                          "location": "path"
                        },
                        "validateOnly": {
                          "description": "If set, validate the request and preview the review, but do not actually apply it.",
                          "location": "query",
                          "type": "boolean"
                        },
                        "etag": {
                          "type": "string",
                          "location": "query",
                          "description": "If set, the request will be rejected if the latest version of the config on the server does not have this etag."
                        },
                        "force": {
                          "location": "query",
                          "description": "If set, any Workstations in the config will also be deleted. Otherwise, the request will work only if the config has no workstations.",
                          "type": "boolean"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "path": "v1beta/{+name}",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "patch": {
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1beta/{+name}",
                      "request": {
                        "$ref": "WorkstationConfig"
                      },
                      "id": "workstations.projects.locations.workstationClusters.workstationConfigs.patch",
                      "description": "Updates an existing WorkstationConfig.",
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+$",
                          "description": "Full name of this resource.",
                          "required": true,
                          "type": "string"
                        },
                        "allowMissing": {
                          "type": "boolean",
                          "description": "If set, and the config is not found, a new config will be created. In this situation, update_mask is ignored.",
                          "location": "query"
                        },
                        "updateMask": {
                          "type": "string",
                          "description": "Required. Mask specifying which fields in the config should be updated.",
                          "format": "google-fieldmask",
                          "location": "query"
                        },
                        "validateOnly": {
                          "location": "query",
                          "type": "boolean",
                          "description": "If set, validate the request and preview the review, but do not actually apply it."
                        }
                      },
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "PATCH"
                    },
                    "getIamPolicy": {
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}:getIamPolicy",
                      "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
                      "parameterOrder": [
                        "resource"
                      ],
                      "response": {
                        "$ref": "Policy"
                      },
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta/{+resource}:getIamPolicy",
                      "parameters": {
                        "resource": {
                          "location": "path",
                          "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+$",
                          "required": true,
                          "type": "string"
                        },
                        "options.requestedPolicyVersion": {
                          "location": "query",
                          "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                          "type": "integer",
                          "format": "int32"
                        }
                      },
                      "id": "workstations.projects.locations.workstationClusters.workstationConfigs.getIamPolicy"
                    },
                    "testIamPermissions": {
                      "parameters": {
                        "resource": {
                          "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "resource"
                      ],
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "TestIamPermissionsResponse"
                      },
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}:testIamPermissions",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "workstations.projects.locations.workstationClusters.workstationConfigs.testIamPermissions",
                      "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
                      "request": {
                        "$ref": "TestIamPermissionsRequest"
                      },
                      "path": "v1beta/{+resource}:testIamPermissions"
                    },
                    "create": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Creates a new WorkstationConfig.",
                      "response": {
                        "$ref": "Operation"
                      },
                      "id": "workstations.projects.locations.workstationClusters.workstationConfigs.create",
                      "request": {
                        "$ref": "WorkstationConfig"
                      },
                      "parameters": {
                        "workstationConfigId": {
                          "type": "string",
                          "location": "query",
                          "description": "Required. ID to use for the config."
                        },
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+$",
                          "description": "Required. Parent resource name.",
                          "type": "string",
                          "required": true
                        },
                        "validateOnly": {
                          "description": "If set, validate the request and preview the review, but do not actually apply it.",
                          "type": "boolean",
                          "location": "query"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs",
                      "httpMethod": "POST",
                      "path": "v1beta/{+parent}/workstationConfigs"
                    },
                    "get": {
                      "response": {
                        "$ref": "WorkstationConfig"
                      },
                      "path": "v1beta/{+name}",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}",
                      "parameters": {
                        "name": {
                          "required": true,
                          "location": "path",
                          "description": "Required. Name of the requested resource.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+$",
                          "type": "string"
                        }
                      },
                      "description": "Returns the requested WorkstationConfig.",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "workstations.projects.locations.workstationClusters.workstationConfigs.get",
                      "parameterOrder": [
                        "name"
                      ]
                    }
                  },
                  "resources": {
                    "workstations": {
                      "methods": {
                        "stop": {
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+/workstations/[^/]+$",
                              "description": "Required. Name of the workstation to stop.",
                              "type": "string",
                              "location": "path",
                              "required": true
                            }
                          },
                          "id": "workstations.projects.locations.workstationClusters.workstationConfigs.workstations.stop",
                          "path": "v1beta/{+name}:stop",
                          "description": "Stops running a workstation, reducing costs.",
                          "parameterOrder": [
                            "name"
                          ],
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}/workstations/{workstationsId}:stop",
                          "response": {
                            "$ref": "Operation"
                          },
                          "request": {
                            "$ref": "StopWorkstationRequest"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "POST"
                        },
                        "create": {
                          "id": "workstations.projects.locations.workstationClusters.workstationConfigs.workstations.create",
                          "parameterOrder": [
                            "parent"
                          ],
                          "parameters": {
                            "validateOnly": {
                              "type": "boolean",
                              "description": "If set, validate the request and preview the review, but do not actually apply it.",
                              "location": "query"
                            },
                            "workstationId": {
                              "type": "string",
                              "location": "query",
                              "description": "Required. ID to use for the workstation."
                            },
                            "parent": {
                              "required": true,
                              "type": "string",
                              "description": "Required. Parent resource name.",
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+$"
                            }
                          },
                          "request": {
                            "$ref": "Workstation"
                          },
                          "httpMethod": "POST",
                          "response": {
                            "$ref": "Operation"
                          },
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}/workstations",
                          "description": "Creates a new Workstation.",
                          "path": "v1beta/{+parent}/workstations",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        },
                        "start": {
                          "id": "workstations.projects.locations.workstationClusters.workstationConfigs.workstations.start",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameterOrder": [
                            "name"
                          ],
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}/workstations/{workstationsId}:start",
                          "description": "Starts running a workstation so that users can connect to it.",
                          "request": {
                            "$ref": "StartWorkstationRequest"
                          },
                          "response": {
                            "$ref": "Operation"
                          },
                          "path": "v1beta/{+name}:start",
                          "httpMethod": "POST",
                          "parameters": {
                            "name": {
                              "location": "path",
                              "type": "string",
                              "required": true,
                              "description": "Required. Name of the workstation to start.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+/workstations/[^/]+$"
                            }
                          }
                        },
                        "listUsable": {
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}/workstations:listUsable",
                          "id": "workstations.projects.locations.workstationClusters.workstationConfigs.workstations.listUsable",
                          "httpMethod": "GET",
                          "path": "v1beta/{+parent}/workstations:listUsable",
                          "parameters": {
                            "pageSize": {
                              "description": "Maximum number of items to return.",
                              "location": "query",
                              "type": "integer",
                              "format": "int32"
                            },
                            "parent": {
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+$",
                              "required": true,
                              "location": "path",
                              "description": "Required. Parent resource name."
                            },
                            "pageToken": {
                              "description": "next_page_token value returned from a previous List request, if any.",
                              "location": "query",
                              "type": "string"
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameterOrder": [
                            "parent"
                          ],
                          "response": {
                            "$ref": "ListUsableWorkstationsResponse"
                          },
                          "description": "Returns all Workstations using the specified config on which the caller has the \"workstations.workstations.use\" permission."
                        },
                        "setIamPolicy": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "workstations.projects.locations.workstationClusters.workstationConfigs.workstations.setIamPolicy",
                          "parameters": {
                            "resource": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+/workstations/[^/]+$",
                              "required": true,
                              "type": "string",
                              "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                              "location": "path"
                            }
                          },
                          "request": {
                            "$ref": "SetIamPolicyRequest"
                          },
                          "httpMethod": "POST",
                          "parameterOrder": [
                            "resource"
                          ],
                          "path": "v1beta/{+resource}:setIamPolicy",
                          "response": {
                            "$ref": "Policy"
                          },
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}/workstations/{workstationsId}:setIamPolicy",
                          "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors."
                        },
                        "testIamPermissions": {
                          "response": {
                            "$ref": "TestIamPermissionsResponse"
                          },
                          "path": "v1beta/{+resource}:testIamPermissions",
                          "parameterOrder": [
                            "resource"
                          ],
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}/workstations/{workstationsId}:testIamPermissions",
                          "parameters": {
                            "resource": {
                              "location": "path",
                              "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                              "required": true,
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+/workstations/[^/]+$"
                            }
                          },
                          "id": "workstations.projects.locations.workstationClusters.workstationConfigs.workstations.testIamPermissions",
                          "httpMethod": "POST",
                          "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
                          "request": {
                            "$ref": "TestIamPermissionsRequest"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        },
                        "list": {
                          "parameterOrder": [
                            "parent"
                          ],
                          "id": "workstations.projects.locations.workstationClusters.workstationConfigs.workstations.list",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1beta/{+parent}/workstations",
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}/workstations",
                          "parameters": {
                            "pageToken": {
                              "description": "next_page_token value returned from a previous List request, if any.",
                              "type": "string",
                              "location": "query"
                            },
                            "pageSize": {
                              "description": "Maximum number of items to return.",
                              "type": "integer",
                              "format": "int32",
                              "location": "query"
                            },
                            "parent": {
                              "location": "path",
                              "description": "Required. Parent resource name.",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+$",
                              "type": "string"
                            }
                          },
                          "httpMethod": "GET",
                          "description": "Returns all Workstations using the specified config.",
                          "response": {
                            "$ref": "ListWorkstationsResponse"
                          }
                        },
                        "patch": {
                          "description": "Updates an existing Workstation.",
                          "request": {
                            "$ref": "Workstation"
                          },
                          "id": "workstations.projects.locations.workstationClusters.workstationConfigs.workstations.patch",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1beta/{+name}",
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}/workstations/{workstationsId}",
                          "parameterOrder": [
                            "name"
                          ],
                          "httpMethod": "PATCH",
                          "response": {
                            "$ref": "Operation"
                          },
                          "parameters": {
                            "validateOnly": {
                              "description": "If set, validate the request and preview the review, but do not actually apply it.",
                              "type": "boolean",
                              "location": "query"
                            },
                            "name": {
                              "type": "string",
                              "required": true,
                              "location": "path",
                              "description": "Full name of this resource.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+/workstations/[^/]+$"
                            },
                            "updateMask": {
                              "description": "Required. Mask specifying which fields in the config should be updated.",
                              "type": "string",
                              "location": "query",
                              "format": "google-fieldmask"
                            },
                            "allowMissing": {
                              "type": "boolean",
                              "description": "If set, and the config is not found, a new config will be created. In this situation, update_mask is ignored.",
                              "location": "query"
                            }
                          }
                        },
                        "delete": {
                          "parameterOrder": [
                            "name"
                          ],
                          "path": "v1beta/{+name}",
                          "description": "Deletes the specified Workstation.",
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}/workstations/{workstationsId}",
                          "httpMethod": "DELETE",
                          "id": "workstations.projects.locations.workstationClusters.workstationConfigs.workstations.delete",
                          "parameters": {
                            "validateOnly": {
                              "type": "boolean",
                              "location": "query",
                              "description": "If set, validate the request and preview the review, but do not actually apply it."
                            },
                            "etag": {
                              "location": "query",
                              "type": "string",
                              "description": "If set, the request will be rejected if the latest version of the workstation on the server does not have this etag."
                            },
                            "name": {
                              "description": "Required. Name of the workstation to delete.",
                              "type": "string",
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+/workstations/[^/]+$",
                              "required": true
                            }
                          },
                          "response": {
                            "$ref": "Operation"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        },
                        "get": {
                          "parameterOrder": [
                            "name"
                          ],
                          "response": {
                            "$ref": "Workstation"
                          },
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}/workstations/{workstationsId}",
                          "parameters": {
                            "name": {
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+/workstations/[^/]+$",
                              "description": "Required. Name of the requested resource.",
                              "type": "string",
                              "location": "path"
                            }
                          },
                          "description": "Returns the requested Workstation.",
                          "id": "workstations.projects.locations.workstationClusters.workstationConfigs.workstations.get",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1beta/{+name}",
                          "httpMethod": "GET"
                        },
                        "getIamPolicy": {
                          "id": "workstations.projects.locations.workstationClusters.workstationConfigs.workstations.getIamPolicy",
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}/workstations/{workstationsId}:getIamPolicy",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "GET",
                          "response": {
                            "$ref": "Policy"
                          },
                          "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
                          "parameterOrder": [
                            "resource"
                          ],
                          "parameters": {
                            "options.requestedPolicyVersion": {
                              "location": "query",
                              "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                              "format": "int32",
                              "type": "integer"
                            },
                            "resource": {
                              "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                              "required": true,
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+/workstations/[^/]+$",
                              "type": "string"
                            }
                          },
                          "path": "v1beta/{+resource}:getIamPolicy"
                        },
                        "generateAccessToken": {
                          "path": "v1beta/{+workstation}:generateAccessToken",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "workstation": {
                              "required": true,
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+/workstations/[^/]+$",
                              "description": "Required. Name of the workstation for which the access token should be generated.",
                              "location": "path"
                            }
                          },
                          "parameterOrder": [
                            "workstation"
                          ],
                          "request": {
                            "$ref": "GenerateAccessTokenRequest"
                          },
                          "id": "workstations.projects.locations.workstationClusters.workstationConfigs.workstations.generateAccessToken",
                          "httpMethod": "POST",
                          "description": "Returns a short-lived credential that can be used to send authenticated and authorized traffic to a workstation.",
[...]
