{
  "basePath": "",
  "id": "workflowexecutions:v1",
  "title": "Workflow Executions API",
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "version": "v1",
  "protocol": "rest",
  "parameters": {
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    }
  },
  "revision": "20220830",
  "mtlsRootUrl": "https://workflowexecutions.mtls.googleapis.com/",
  "description": "Execute workflows created with Workflows API.",
  "baseUrl": "https://workflowexecutions.googleapis.com/",
  "canonicalName": "Workflow Executions",
  "documentationLink": "https://cloud.google.com/workflows",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "batchPath": "batch",
  "schemas": {
    "TriggerPubsubExecutionRequest": {
      "properties": {
        "GCPCloudEventsMode": {
          "type": "string",
          "description": "Required. LINT: LEGACY_NAMES The query parameter value for __GCP_CloudEventsMode, set by the Eventarc service when configuring triggers."
        },
        "message": {
          "$ref": "PubsubMessage",
          "description": "Required. The message of the Pub/Sub push notification."
        },
        "subscription": {
          "type": "string",
          "description": "Required. The subscription of the Pub/Sub push notification. Format: projects/{project}/subscriptions/{sub}"
        }
      },
      "id": "TriggerPubsubExecutionRequest",
      "type": "object",
      "description": "Request for the TriggerPubsubExecution method."
    },
    "StackTrace": {
      "properties": {
        "elements": {
          "items": {
            "$ref": "StackTraceElement"
          },
          "description": "An array of stack elements.",
          "type": "array"
        }
      },
      "description": "A collection of stack elements (frames) where an error occurred.",
      "id": "StackTrace",
      "type": "object"
    },
    "PubsubMessage": {
      "type": "object",
      "properties": {
        "data": {
          "description": "The message data field. If this field is empty, the message must contain at least one attribute.",
          "type": "string",
          "format": "byte"
        },
        "publishTime": {
          "description": "The time at which the message was published, populated by the server when it receives the `Publish` call. It must not be populated by the publisher in a `Publish` call.",
          "format": "google-datetime",
          "type": "string"
        },
        "orderingKey": {
          "description": "If non-empty, identifies related messages for which publish order should be respected. If a `Subscription` has `enable_message_ordering` set to `true`, messages published with the same non-empty `ordering_key` value will be delivered to subscribers in the order in which they are received by the Pub/Sub system. All `PubsubMessage`s published in a given `PublishRequest` must specify the same `ordering_key` value. For more information, see [ordering messages](https://cloud.google.com/pubsub/docs/ordering).",
          "type": "string"
        },
        "attributes": {
          "description": "Attributes for this message. If this field is empty, the message must contain non-empty data. This can be used to filter messages on the subscription.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "messageId": {
          "description": "ID of this message, assigned by the server when the message is published. Guaranteed to be unique within the topic. This value may be read by a subscriber that receives a `PubsubMessage` via a `Pull` call or a push delivery. It must not be populated by the publisher in a `Publish` call.",
          "type": "string"
        }
      },
      "description": "A message that is published by publishers and consumed by subscribers. The message must contain either a non-empty data field or at least one attribute. Note that client libraries represent this object differently depending on the language. See the corresponding [client library documentation](https://cloud.google.com/pubsub/docs/reference/libraries) for more information. See [quotas and limits] (https://cloud.google.com/pubsub/quotas) for more information about message limits.",
      "id": "PubsubMessage"
    },
    "Position": {
      "id": "Position",
      "type": "object",
      "description": "Position contains source position information about the stack trace element such as line number, column number and length of the code block in bytes.",
      "properties": {
        "line": {
          "description": "The source code line number the current instruction was generated from.",
          "type": "string",
          "format": "int64"
        },
        "length": {
          "type": "string",
          "description": "The number of bytes of source code making up this stack trace element.",
          "format": "int64"
        },
        "column": {
          "format": "int64",
          "description": "The source code column position (of the line) the current instruction was generated from.",
          "type": "string"
        }
      }
    },
    "ListExecutionsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "executions": {
          "type": "array",
          "items": {
            "$ref": "Execution"
          },
          "description": "The executions which match the request."
        }
      },
      "description": "Response for the ListExecutions method.",
      "id": "ListExecutionsResponse"
    },
    "Error": {
      "properties": {
        "context": {
          "description": "Human-readable stack trace string.",
          "type": "string"
        },
        "stackTrace": {
          "$ref": "StackTrace",
          "description": "Stack trace with detailed information of where error was generated."
        },
        "payload": {
          "type": "string",
          "description": "Error message and data returned represented as a JSON string."
        }
      },
      "description": "Error describes why the execution was abnormally terminated.",
      "id": "Error",
      "type": "object"
    },
    "StackTraceElement": {
      "type": "object",
      "id": "StackTraceElement",
      "properties": {
        "routine": {
          "description": "The routine where the error occurred.",
          "type": "string"
        },
        "position": {
          "description": "The source position information of the stack trace element.",
          "$ref": "Position"
        },
        "step": {
          "description": "The step the error occurred at.",
          "type": "string"
        }
      },
      "description": "A single stack element (frame) where an error occurred."
    },
    "Step": {
      "properties": {
        "step": {
          "description": "Name of a step within the routine.",
          "type": "string"
        },
        "routine": {
          "description": "Name of a routine within the workflow.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Step",
      "description": "Represents a step of the workflow this execution is running."
    },
    "CancelExecutionRequest": {
      "id": "CancelExecutionRequest",
      "type": "object",
      "description": "Request for the CancelExecution method.",
      "properties": {}
    },
    "Execution": {
      "id": "Execution",
      "properties": {
        "argument": {
          "type": "string",
          "description": "Input parameters of the execution represented as a JSON string. The size limit is 32KB. *Note*: If you are using the REST API directly to run your workflow, you must escape any JSON string value of `argument`. Example: `'{\"argument\":\"{\\\"firstName\\\":\\\"FIRST\\\",\\\"lastName\\\":\\\"LAST\\\"}\"}'`"
        },
        "result": {
          "type": "string",
          "description": "Output only. Output of the execution represented as a JSON string. The value can only be present if the execution's state is `SUCCEEDED`.",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED"
          ],
          "description": "Output only. Current state of the execution.",
          "readOnly": true,
          "enumDescriptions": [
            "Invalid state.",
            "The execution is in progress.",
            "The execution finished successfully.",
            "The execution failed with an error.",
            "The execution was stopped intentionally."
          ]
        },
        "startTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Marks the beginning of execution.",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Output only. The resource name of the execution. Format: projects/{project}/locations/{location}/workflows/{workflow}/executions/{execution}",
          "readOnly": true
        },
        "error": {
          "description": "Output only. The error which caused the execution to finish prematurely. The value is only present if the execution's state is `FAILED` or `CANCELLED`.",
          "readOnly": true,
          "$ref": "Error"
        },
        "callLogLevel": {
          "description": "The call logging level associated to this execution.",
          "enumDescriptions": [
            "No call logging specified.",
            "Log all call steps within workflows, all call returns, and all exceptions raised.",
            "Log only exceptions that are raised from call steps within workflows."
          ],
          "enum": [
            "CALL_LOG_LEVEL_UNSPECIFIED",
            "LOG_ALL_CALLS",
            "LOG_ERRORS_ONLY"
          ],
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Marks the end of execution, successful or not."
        },
        "status": {
          "$ref": "Status",
          "description": "Output only. Status tracks the current steps and progress data of this execution. \u003e **Preview:** This field is covered by the \u003e [Pre-GA Offerings Terms](https://cloud.google.com/terms/service-terms) of \u003e the Google Cloud Terms of Service. Pre-GA features might have limited \u003e support, and changes to pre-GA features might not be compatible with \u003e other pre-GA versions. For more information, see the \u003e [launch stage descriptions](https://cloud.google.com/products#product-launch-stages). \u003e This field is usable only if your project has access. See the \u003e [access request page](https://docs.google.com/forms/d/e/1FAIpQLSdgwrSV8Y4xZv_tvI6X2JEGX1-ty9yizv3_EAOVHWVKXvDLEA/viewform).",
          "readOnly": true
        },
        "workflowRevisionId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Revision of the workflow this execution is using."
        }
      },
      "type": "object",
      "description": "A running instance of a [Workflow](/workflows/docs/reference/rest/v1/projects.locations.workflows)."
    },
    "Status": {
      "type": "object",
      "properties": {
        "currentSteps": {
          "description": "A list of currently executing or last executed step names for the workflow execution currently running. If the workflow has succeeded or failed, this is the last attempted or executed step. Presently, if the current step is inside a subworkflow, the list only includes that step. In the future, the list will contain items for each step in the call stack, starting with the outermost step in the `main` subworkflow, and ending with the most deeply nested step.",
          "items": {
            "$ref": "Step"
          },
          "type": "array"
        }
      },
      "description": "\u003e **Preview:** This field is covered by the \u003e [Pre-GA Offerings Terms](https://cloud.google.com/terms/service-terms) of \u003e the Google Cloud Terms of Service. Pre-GA features might have limited \u003e support, and changes to pre-GA features might not be compatible with \u003e other pre-GA versions. For more information, see the \u003e [launch stage descriptions](https://cloud.google.com/products#product-launch-stages). \u003e This field is usable only if your project has access. See the \u003e [access request page](https://docs.google.com/forms/d/e/1FAIpQLSdgwrSV8Y4xZv_tvI6X2JEGX1-ty9yizv3_EAOVHWVKXvDLEA/viewform). Represents the current status of this execution.",
      "id": "Status"
    }
  },
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "version_module": true,
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "servicePath": "",
  "rootUrl": "https://workflowexecutions.googleapis.com/",
  "name": "workflowexecutions",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "workflows": {
              "resources": {
                "executions": {
                  "methods": {
                    "create": {
                      "response": {
                        "$ref": "Execution"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Creates a new execution using the latest revision of the given workflow.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workflows/{workflowsId}/executions",
                      "id": "workflowexecutions.projects.locations.workflows.executions.create",
                      "httpMethod": "POST",
                      "path": "v1/{+parent}/executions",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "description": "Required. Name of the workflow for which an execution should be created. Format: projects/{project}/locations/{location}/workflows/{workflow} The latest revision of the workflow will be used.",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/workflows/[^/]+$",
                          "location": "path"
                        }
                      },
                      "request": {
                        "$ref": "Execution"
                      }
                    },
                    "cancel": {
                      "response": {
                        "$ref": "Execution"
                      },
                      "httpMethod": "POST",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workflows/{workflowsId}/executions/{executionsId}:cancel",
                      "description": "Cancels an execution of the given name.",
                      "id": "workflowexecutions.projects.locations.workflows.executions.cancel",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "CancelExecutionRequest"
                      },
                      "path": "v1/{+name}:cancel",
                      "parameters": {
                        "name": {
                          "description": "Required. Name of the execution to be cancelled. Format: projects/{project}/locations/{location}/workflows/{workflow}/executions/{execution}",
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/workflows/[^/]+/executions/[^/]+$"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Returns a list of executions which belong to the workflow with the given name. The method returns executions of all workflow revisions. Returned executions are ordered by their start time (newest first).",
                      "httpMethod": "GET",
                      "parameters": {
                        "parent": {
                          "description": "Required. Name of the workflow for which the executions should be listed. Format: projects/{project}/locations/{location}/workflows/{workflow}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/workflows/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "pageToken": {
                          "description": "A page token, received from a previous `ListExecutions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListExecutions` must match the call that provided the page token.",
                          "type": "string",
                          "location": "query"
                        },
                        "view": {
                          "enum": [
                            "EXECUTION_VIEW_UNSPECIFIED",
                            "BASIC",
                            "FULL"
                          ],
                          "type": "string",
                          "location": "query",
                          "enumDescriptions": [
                            "The default / unset value.",
                            "Includes only basic metadata about the execution. Following fields are returned: name, start_time, end_time, state and workflow_revision_id.",
                            "Includes all data."
                          ],
                          "description": "Optional. A view defining which fields should be filled in the returned executions. The API will default to the BASIC view."
                        },
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "type": "integer",
                          "description": "Maximum number of executions to return per call. Max supported value depends on the selected Execution view: it's 1000 for BASIC and 100 for FULL. The default value used if the field is not specified is 100, regardless of the selected view. Values greater than the max value will be coerced down to it."
                        }
                      },
                      "id": "workflowexecutions.projects.locations.workflows.executions.list",
                      "response": {
                        "$ref": "ListExecutionsResponse"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workflows/{workflowsId}/executions",
                      "path": "v1/{+parent}/executions"
                    },
                    "get": {
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "Execution"
                      },
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/workflows/[^/]+/executions/[^/]+$",
                          "required": true,
                          "description": "Required. Name of the execution to be retrieved. Format: projects/{project}/locations/{location}/workflows/{workflow}/executions/{execution}",
                          "type": "string",
                          "location": "path"
                        },
                        "view": {
                          "enum": [
                            "EXECUTION_VIEW_UNSPECIFIED",
                            "BASIC",
                            "FULL"
                          ],
                          "type": "string",
                          "location": "query",
                          "description": "Optional. A view defining which fields should be filled in the returned execution. The API will default to the FULL view.",
                          "enumDescriptions": [
                            "The default / unset value.",
                            "Includes only basic metadata about the execution. Following fields are returned: name, start_time, end_time, state and workflow_revision_id.",
                            "Includes all data."
                          ]
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workflows/{workflowsId}/executions/{executionsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "workflowexecutions.projects.locations.workflows.executions.get",
                      "description": "Returns an execution of the given name.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                }
              },
              "methods": {
                "triggerPubsubExecution": {
                  "path": "v1/{+workflow}:triggerPubsubExecution",
                  "response": {
                    "$ref": "Execution"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workflows/{workflowsId}:triggerPubsubExecution",
                  "parameterOrder": [
                    "workflow"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "TriggerPubsubExecutionRequest"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "workflow": {
                      "type": "string",
                      "description": "Required. Name of the workflow for which an execution should be created. Format: projects/{project}/locations/{location}/workflows/{workflow}",
                      "pattern": "^projects/[^/]+/locations/[^/]+/workflows/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "id": "workflowexecutions.projects.locations.workflows.triggerPubsubExecution",
                  "description": "Triggers a new execution using the latest revision of the given workflow by a Pub/Sub push notification."
                }
              }
            }
          }
        }
      }
    }
  },
  "ownerDomain": "google.com"
}
