{
  "revision": "20231011",
  "discoveryVersion": "v1",
  "title": "Cloud Workstations API",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "version": "v1beta",
  "basePath": "",
  "canonicalName": "Cloud Workstations",
  "name": "workstations",
  "mtlsRootUrl": "https://workstations.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "ownerDomain": "google.com",
  "kind": "discovery#restDescription",
  "version_module": true,
  "rootUrl": "https://workstations.googleapis.com/",
  "parameters": {
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    }
  },
  "id": "workstations:v1beta",
  "servicePath": "",
  "schemas": {
    "ListWorkstationConfigsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "description": "Unreachable resources.",
          "items": {
            "type": "string"
          }
        },
        "workstationConfigs": {
          "items": {
            "$ref": "WorkstationConfig"
          },
          "type": "array",
          "description": "The requested configs."
        }
      },
      "description": "Response message for ListWorkstationConfigs.",
      "id": "ListWorkstationConfigsResponse",
      "type": "object"
    },
    "Binding": {
      "description": "Associates `members`, or principals, with a `role`.",
      "type": "object",
      "properties": {
        "condition": {
          "$ref": "Expr",
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "members": {
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "role": {
          "type": "string",
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`."
        }
      },
      "id": "Binding"
    },
    "SetIamPolicyRequest": {
      "id": "SetIamPolicyRequest",
      "type": "object",
      "properties": {
        "updateMask": {
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "format": "google-fieldmask",
          "type": "string"
        },
        "policy": {
          "$ref": "Policy",
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
        }
      },
      "description": "Request message for `SetIamPolicy` method."
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "id": "Status",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "type": "array"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      }
    },
    "AuditLogConfig": {
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "properties": {
        "logType": {
          "type": "string",
          "description": "The log type that this config enables.",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ]
        },
        "exemptedMembers": {
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "AuditLogConfig"
    },
    "PersistentDirectory": {
      "description": "A directory to persist across workstation sessions.",
      "id": "PersistentDirectory",
      "type": "object",
      "properties": {
        "mountPath": {
          "type": "string",
          "description": "Optional. Location of this directory in the running workstation."
        },
        "gcePd": {
          "$ref": "GceRegionalPersistentDisk",
          "description": "A PersistentDirectory backed by a Compute Engine persistent disk."
        }
      }
    },
    "TestIamPermissionsRequest": {
      "type": "object",
      "description": "Request message for `TestIamPermissions` method.",
      "id": "TestIamPermissionsRequest",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "type": "array"
        }
      }
    },
    "CustomerEncryptionKey": {
      "type": "object",
      "description": "A customer-managed encryption key (CMEK) for the Compute Engine resources of the associated workstation configuration. Specify the name of your Cloud KMS encryption key and the default service account. We recommend that you use a separate service account and follow [Cloud KMS best practices](https://cloud.google.com/kms/docs/separation-of-duties).",
      "id": "CustomerEncryptionKey",
      "properties": {
        "kmsKeyServiceAccount": {
          "type": "string",
          "description": "Immutable. The service account to use with the specified KMS key. We recommend that you use a separate service account and follow KMS best practices. For more information, see [Separation of duties](https://cloud.google.com/kms/docs/separation-of-duties) and `gcloud kms keys add-iam-policy-binding` [`--member`](https://cloud.google.com/sdk/gcloud/reference/kms/keys/add-iam-policy-binding#--member)."
        },
        "kmsKey": {
          "description": "Immutable. The name of the Google Cloud KMS encryption key. For example, `\"projects/PROJECT_ID/locations/REGION/keyRings/KEY_RING/cryptoKeys/KEY_NAME\"`. The key must be in the same region as the workstation configuration.",
          "type": "string"
        }
      }
    },
    "StartWorkstationRequest": {
      "properties": {
        "etag": {
          "description": "Optional. If set, the request will be rejected if the latest version of the workstation on the server does not have this ETag.",
          "type": "string"
        },
        "validateOnly": {
          "description": "Optional. If set, validate the request and preview the review, but do not actually apply it.",
          "type": "boolean"
        }
      },
      "id": "StartWorkstationRequest",
      "type": "object",
      "description": "Request message for StartWorkstation."
    },
    "GoogleProtobufEmpty": {
      "id": "GoogleProtobufEmpty",
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "PrivateClusterConfig": {
      "description": "Configuration options for private workstation clusters.",
      "properties": {
        "serviceAttachmentUri": {
          "description": "Output only. Service attachment URI for the workstation cluster. The service attachemnt is created when private endpoint is enabled. To access workstations in the workstation cluster, configure access to the managed service using [Private Service Connect](https://cloud.google.com/vpc/docs/configure-private-service-connect-services).",
          "readOnly": true,
          "type": "string"
        },
        "allowedProjects": {
          "description": "Optional. Additional projects that are allowed to attach to the workstation cluster's service attachment. By default, the workstation cluster's project and the VPC host project (if different) are allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "clusterHostname": {
          "type": "string",
          "description": "Output only. Hostname for the workstation cluster. This field will be populated only when private endpoint is enabled. To access workstations in the workstation cluster, create a new DNS zone mapping this domain name to an internal IP address and a forwarding rule mapping that address to the service attachment.",
          "readOnly": true
        },
        "enablePrivateEndpoint": {
          "description": "Immutable. Whether Workstations endpoint is private.",
          "type": "boolean"
        }
      },
      "id": "PrivateClusterConfig",
      "type": "object"
    },
    "GceRegionalPersistentDisk": {
      "description": "A PersistentDirectory backed by a Compute Engine regional persistent disk. The persistent_directories field is repeated, but it may contain only one entry. It creates a [persistent disk](https://cloud.google.com/compute/docs/disks/persistent-disks) that mounts to the workstation VM at `/home` when the session starts and detaches when the session ends. If this field is empty, workstations created with this configuration do not have a persistent home directory.",
      "id": "GceRegionalPersistentDisk",
      "type": "object",
      "properties": {
        "fsType": {
          "description": "Optional. Type of file system that the disk should be formatted with. The workstation image must support this file system type. Must be empty if source_snapshot is set. Defaults to `\"ext4\"`.",
          "type": "string"
        },
        "sizeGb": {
          "format": "int32",
          "description": "Optional. The GB capacity of a persistent home directory for each workstation created with this configuration. Must be empty if source_snapshot is set. Valid values are `10`, `50`, `100`, `200`, `500`, or `1000`. Defaults to `200`. If less than `200` GB, the disk_type must be `\"pd-balanced\"` or `\"pd-ssd\"`.",
          "type": "integer"
        },
        "reclaimPolicy": {
          "type": "string",
          "enum": [
            "RECLAIM_POLICY_UNSPECIFIED",
            "DELETE",
            "RETAIN"
          ],
          "description": "Optional. Whether the persistent disk should be deleted when the workstation is deleted. Valid values are `DELETE` and `RETAIN`. Defaults to `DELETE`.",
          "enumDescriptions": [
            "Do not use.",
            "Delete the persistent disk when deleting the workstation.",
            "Keep the persistent disk when deleting the workstation. An administrator must manually delete the disk."
          ]
        },
        "sourceSnapshot": {
          "type": "string",
          "description": "Optional. Name of the snapshot to use as the source for the disk. If set, size_gb and fs_type must be empty."
        },
        "diskType": {
          "type": "string",
          "description": "Optional. The [type of the persistent disk](https://cloud.google.com/compute/docs/disks#disk-types) for the home directory. Defaults to `\"pd-standard\"`."
        }
      }
    },
    "AuditConfig": {
      "type": "object",
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "properties": {
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        },
        "auditLogConfigs": {
          "type": "array",
          "items": {
            "$ref": "AuditLogConfig"
          },
          "description": "The configuration for logging of each type of permission."
        }
      },
      "id": "AuditConfig"
    },
    "ListUsableWorkstationsResponse": {
      "id": "ListUsableWorkstationsResponse",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "unreachable": {
          "description": "Unreachable resources.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "workstations": {
          "type": "array",
          "description": "The requested workstations.",
          "items": {
            "$ref": "Workstation"
          }
        }
      },
      "type": "object",
      "description": "Response message for ListUsableWorkstations."
    },
    "GceConfidentialInstanceConfig": {
      "id": "GceConfidentialInstanceConfig",
      "description": "A set of Compute Engine Confidential VM instance options.",
      "type": "object",
      "properties": {
        "enableConfidentialCompute": {
          "type": "boolean",
          "description": "Optional. Whether the instance has confidential compute enabled."
        }
      }
    },
    "WorkstationCluster": {
      "id": "WorkstationCluster",
      "description": "A workstation cluster resource in the Cloud Workstations API. Defines a group of workstations in a particular region and the VPC network they're attached to.",
      "type": "object",
      "properties": {
        "network": {
          "description": "Immutable. Name of the Compute Engine network in which instances associated with this workstation cluster will be created.",
          "type": "string"
        },
        "uid": {
          "description": "Output only. A system-assigned unique identifier for this workstation cluster.",
          "type": "string",
          "readOnly": true
        },
        "subnetwork": {
          "description": "Immutable. Name of the Compute Engine subnetwork in which instances associated with this workstation cluster will be created. Must be part of the subnetwork specified for this workstation cluster.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Time when this workstation cluster was created."
        },
        "controlPlaneIp": {
          "type": "string",
          "description": "Output only. The private IP address of the control plane for this workstation cluster. Workstation VMs need access to this IP address to work with the service, so make sure that your firewall rules allow egress from the workstation VMs to this address.",
          "readOnly": true
        },
        "degraded": {
          "type": "boolean",
          "description": "Output only. Whether this workstation cluster is in degraded mode, in which case it may require user action to restore full functionality. Details can be found in conditions.",
          "readOnly": true
        },
        "reconciling": {
          "description": "Output only. Indicates whether this workstation cluster is currently being updated to match its intended state.",
          "readOnly": true,
          "type": "boolean"
        },
        "annotations": {
          "description": "Optional. Client-specified annotations.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "deleteTime": {
          "description": "Output only. Time when this workstation cluster was soft-deleted.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Full name of this workstation cluster."
        },
        "updateTime": {
          "description": "Output only. Time when this workstation cluster was most recently updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "privateClusterConfig": {
          "$ref": "PrivateClusterConfig",
          "description": "Optional. Configuration for private workstation cluster."
        },
        "displayName": {
          "description": "Optional. Human-readable name for this workstation cluster.",
          "type": "string"
        },
        "labels": {
          "description": "Optional. [Labels](https://cloud.google.com/workstations/docs/label-resources) that are applied to the workstation cluster and that are also propagated to the underlying Compute Engine resources.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "conditions": {
          "description": "Output only. Status conditions describing the workstation cluster's current state.",
          "items": {
            "$ref": "Status"
          },
          "type": "array",
          "readOnly": true
        },
        "etag": {
          "type": "string",
          "description": "Optional. Checksum computed by the server. May be sent on update and delete requests to make sure that the client has an up-to-date value before proceeding."
        },
        "domainConfig": {
          "$ref": "DomainConfig",
          "description": "Optional. Configuration options for a custom domain."
        }
      }
    },
    "GenerateAccessTokenRequest": {
      "description": "Request message for GenerateAccessToken.",
      "id": "GenerateAccessTokenRequest",
      "type": "object",
      "properties": {
        "expireTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Desired expiration time of the access token. This value must be at most 24 hours in the future. If a value is not specified, the token's expiration time will be set to a default value of 1 hour in the future."
        },
        "ttl": {
          "description": "Desired lifetime duration of the access token. This value must be at most 24 hours. If a value is not specified, the token's lifetime will be set to a default value of 1 hour.",
          "format": "google-duration",
          "type": "string"
        }
      }
    },
    "Host": {
      "id": "Host",
      "properties": {
        "gceInstance": {
          "$ref": "GceInstance",
          "description": "Specifies a Compute Engine instance as the host."
        }
      },
      "type": "object",
      "description": "Runtime host for a workstation."
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "properties": {},
      "id": "CancelOperationRequest",
      "type": "object"
    },
    "ReadinessCheck": {
      "description": "A readiness check to be performed on a workstation.",
      "properties": {
        "port": {
          "description": "Optional. Port to which the request should be sent.",
          "type": "integer",
          "format": "int32"
        },
        "path": {
          "type": "string",
          "description": "Optional. Path to which the request should be sent."
        }
      },
      "type": "object",
      "id": "ReadinessCheck"
    },
    "DomainConfig": {
      "properties": {
        "domain": {
          "type": "string",
          "description": "Immutable. Domain used by Workstations for HTTP ingress."
        }
      },
      "type": "object",
      "description": "Configuration options for a custom domain.",
      "id": "DomainConfig"
    },
    "ListUsableWorkstationConfigsResponse": {
      "type": "object",
      "properties": {
        "workstationConfigs": {
          "items": {
            "$ref": "WorkstationConfig"
          },
          "description": "The requested configs.",
          "type": "array"
        },
        "unreachable": {
          "description": "Unreachable resources.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      },
      "description": "Response message for ListUsableWorkstationConfigs.",
      "id": "ListUsableWorkstationConfigsResponse"
    },
    "WorkstationConfig": {
      "id": "WorkstationConfig",
      "properties": {
        "encryptionKey": {
          "description": "Immutable. Encrypts resources of this workstation configuration using a customer-managed encryption key (CMEK). If specified, the boot disk of the Compute Engine instance and the persistent disk are encrypted using this encryption key. If this field is not set, the disks are encrypted using a generated key. Customer-managed encryption keys do not protect disk metadata. If the customer-managed encryption key is rotated, when the workstation instance is stopped, the system attempts to recreate the persistent disk with the new version of the key. Be sure to keep older versions of the key until the persistent disk is recreated. Otherwise, data on the persistent disk might be lost. If the encryption key is revoked, the workstation session automatically stops within 7 hours. Immutable after the workstation configuration is created.",
          "$ref": "CustomerEncryptionKey"
        },
        "annotations": {
          "description": "Optional. Client-specified annotations.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "readinessChecks": {
          "description": "Optional. Readiness checks to perform when starting a workstation using this workstation configuration. Mark a workstation as running only after all specified readiness checks return 200 status codes.",
          "items": {
            "$ref": "ReadinessCheck"
          },
          "type": "array"
        },
        "reconciling": {
          "readOnly": true,
          "description": "Output only. Indicates whether this workstation configuration is currently being updated to match its intended state.",
          "type": "boolean"
        },
        "uid": {
          "readOnly": true,
          "description": "Output only. A system-assigned unique identifier for this workstation configuration.",
          "type": "string"
        },
        "enableAuditAgent": {
          "description": "Optional. Whether to enable Linux `auditd` logging on the workstation. When enabled, a service account must also be specified that has `logging.buckets.write` permission on the project. Operating system audit logging is distinct from [Cloud Audit Logs](https://cloud.google.com/workstations/docs/audit-logging).",
          "type": "boolean"
        },
        "container": {
          "description": "Optional. Container that runs upon startup for each workstation using this workstation configuration.",
          "$ref": "Container"
        },
        "conditions": {
          "description": "Output only. Status conditions describing the current resource state.",
          "items": {
            "$ref": "Status"
          },
          "type": "array",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. Full name of this workstation configuration."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. [Labels](https://cloud.google.com/workstations/docs/label-resources) that are applied to the workstation configuration and that are also propagated to the underlying Compute Engine resources."
        },
        "displayName": {
          "description": "Optional. Human-readable name for this workstation configuration.",
          "type": "string"
        },
        "idleTimeout": {
          "type": "string",
          "description": "Optional. Number of seconds to wait before automatically stopping a workstation after it last received user traffic. A value of `\"0s\"` indicates that Cloud Workstations VMs created with this configuration should never time out due to idleness. Provide [duration](https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#duration) terminated by `s` for seconds—for example, `\"7200s\"` (2 hours). The default is `\"1200s\"` (20 minutes).",
          "format": "google-duration"
        },
        "degraded": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether this resource is degraded, in which case it may require user action to restore full functionality. See also the conditions field."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time when this workstation configuration was created."
        },
        "ephemeralDirectories": {
          "description": "Optional. Ephemeral directories which won't persist across workstation sessions.",
          "type": "array",
          "items": {
            "$ref": "EphemeralDirectory"
          }
        },
        "deleteTime": {
          "description": "Output only. Time when this workstation configuration was soft-deleted.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "host": {
          "description": "Optional. Runtime host for the workstation.",
          "$ref": "Host"
        },
        "runningTimeout": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. Number of seconds that a workstation can run until it is automatically shut down. We recommend that workstations be shut down daily to reduce costs and so that security updates can be applied upon restart. The idle_timeout and running_timeout fields are independent of each other. Note that the running_timeout field shuts down VMs after the specified time, regardless of whether or not the VMs are idle. Provide duration terminated by `s` for seconds—for example, `\"54000s\"` (15 hours). Defaults to `\"43200s\"` (12 hours). A value of `\"0s\"` indicates that workstations using this configuration should never time out. If encryption_key is set, it must be greater than `\"0s\"` and less than `\"86400s\"` (24 hours). Warning: A value of `\"0s\"` indicates that Cloud Workstations VMs created with this configuration have no maximum running time. This is strongly discouraged because you incur costs and will not pick up security updates."
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. Time when this workstation configuration was most recently updated.",
          "format": "google-datetime",
          "readOnly": true
        },
        "etag": {
          "description": "Optional. Checksum computed by the server. May be sent on update and delete requests to make sure that the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "persistentDirectories": {
          "items": {
            "$ref": "PersistentDirectory"
          },
          "description": "Optional. Directories to persist across workstation sessions.",
          "type": "array"
        },
        "replicaZones": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Immutable. Specifies the zones used to replicate the VM and disk resources within the region. If set, exactly two zones within the workstation cluster's region must be specified—for example, `['us-central1-a', 'us-central1-f']`. If this field is empty, two default zones within the region are used. Immutable after the workstation configuration is created."
        }
      },
      "description": "A workstation configuration resource in the Cloud Workstations API. Workstation configurations act as templates for workstations. The workstation configuration defines details such as the workstation virtual machine (VM) instance type, persistent storage, container image defining environment, which IDE or Code Editor to use, and more. Administrators and platform teams can also use [Identity and Access Management (IAM)](https://cloud.google.com/iam/docs/overview) rules to grant access to teams or to individual developers.",
      "type": "object"
    },
    "ListOperationsResponse": {
      "type": "object",
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "GenerateAccessTokenResponse": {
      "id": "GenerateAccessTokenResponse",
      "properties": {
        "accessToken": {
          "type": "string",
          "description": "The generated bearer access token. To use this token, include it in an Authorization header of an HTTP request sent to the associated workstation's hostname—for example, `Authorization: Bearer `."
        },
        "expireTime": {
          "description": "Time at which the generated token will expire.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "description": "Response message for GenerateAccessToken."
    },
    "ListWorkstationsResponse": {
      "type": "object",
      "properties": {
        "workstations": {
          "type": "array",
          "description": "The requested workstations.",
          "items": {
            "$ref": "Workstation"
          }
        },
        "nextPageToken": {
          "description": "Optional. Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "description": "Optional. Unreachable resources.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Response message for ListWorkstations.",
      "id": "ListWorkstationsResponse"
    },
    "ListWorkstationClustersResponse": {
      "id": "ListWorkstationClustersResponse",
      "description": "Response message for ListWorkstationClusters.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        },
        "workstationClusters": {
          "type": "array",
          "items": {
            "$ref": "WorkstationCluster"
          },
          "description": "The requested workstation clusters."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unreachable resources."
        }
      },
      "type": "object"
    },
    "GceInstance": {
      "description": "A runtime using a Compute Engine instance.",
      "properties": {
        "serviceAccount": {
          "description": "Optional. The email address of the service account for Cloud Workstations VMs created with this configuration. When specified, be sure that the service account has `logginglogEntries.create` permission on the project so it can write logs out to Cloud Logging. If using a custom container image, the service account must have permissions to pull the specified image. If you as the administrator want to be able to `ssh` into the underlying VM, you need to set this value to a service account for which you have the `iam.serviceAccounts.actAs` permission. Conversely, if you don't want anyone to be able to `ssh` into the underlying VM, use a service account where no one has that permission. If not set, VMs run with a service account provided by the Cloud Workstations service, and the image must be publicly accessible.",
          "type": "string"
        },
        "serviceAccountScopes": {
          "description": "Optional. Scopes to grant to the service_account. Various scopes are automatically added based on feature usage. When specified, users of workstations under this configuration must have `iam.serviceAccounts.actAs` on the service account.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "pooledInstances": {
          "type": "integer",
          "description": "Output only. Number of instances currently available in the pool for faster workstation startup.",
          "readOnly": true,
          "format": "int32"
        },
        "confidentialInstanceConfig": {
          "$ref": "GceConfidentialInstanceConfig",
          "description": "Optional. A set of Compute Engine Confidential VM instance options."
        },
        "accelerators": {
          "type": "array",
          "items": {
            "$ref": "Accelerator"
          },
          "description": "Optional. A list of the type and count of accelerator cards attached to the instance."
        },
        "disablePublicIpAddresses": {
          "type": "boolean",
          "description": "Optional. When set to true, disables public IP addresses for VMs. If you disable public IP addresses, you must set up Private Google Access or Cloud NAT on your network. If you use Private Google Access and you use `private.googleapis.com` or `restricted.googleapis.com` for Container Registry and Artifact Registry, make sure that you set up DNS records for domains `*.gcr.io` and `*.pkg.dev`. Defaults to false (VMs have public IP addresses)."
        },
        "shieldedInstanceConfig": {
          "description": "Optional. A set of Compute Engine Shielded instance options.",
          "$ref": "GceShieldedInstanceConfig"
        },
        "bootDiskSizeGb": {
          "description": "Optional. The size of the boot disk for the VM in gigabytes (GB). The minimum boot disk size is `30` GB. Defaults to `50` GB.",
          "type": "integer",
          "format": "int32"
        },
        "poolSize": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The number of VMs that the system should keep idle so that new workstations can be started quickly for new users. Defaults to `0` in the API."
        },
        "tags": {
          "description": "Optional. Network tags to add to the Compute Engine VMs backing the workstations. This option applies [network tags](https://cloud.google.com/vpc/docs/add-remove-network-tags) to VMs created with this configuration. These network tags enable the creation of [firewall rules](https://cloud.google.com/workstations/docs/configure-firewall-rules).",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "machineType": {
          "type": "string",
          "description": "Optional. The type of machine to use for VM instances—for example, `\"e2-standard-4\"`. For more information about machine types that Cloud Workstations supports, see the list of [available machine types](https://cloud.google.com/workstations/docs/available-machine-types)."
        },
        "enableNestedVirtualization": {
          "type": "boolean",
          "description": "Optional. Whether to enable nested virtualization on Cloud Workstations VMs created under this workstation configuration. Nested virtualization lets you run virtual machine (VM) instances inside your workstation. Before enabling nested virtualization, consider the following important considerations. Cloud Workstations instances are subject to the [same restrictions as Compute Engine instances](https://cloud.google.com/compute/docs/instances/nested-virtualization/overview#restrictions): * **Organization policy**: projects, folders, or organizations may be restricted from creating nested VMs if the **Disable VM nested virtualization** constraint is enforced in the organization policy. For more information, see the Compute Engine section, [Checking whether nested virtualization is allowed](https://cloud.google.com/compute/docs/instances/nested-virtualization/managing-constraint#checking_whether_nested_virtualization_is_allowed). * **Performance**: nested VMs might experience a 10% or greater decrease in performance for workloads that are CPU-bound and possibly greater than a 10% decrease for workloads that are input/output bound. * **Machine Type**: nested virtualization can only be enabled on workstation configurations that specify a machine_type in the N1 or N2 machine series. * **GPUs**: nested virtualization may not be enabled on workstation configurations with accelerators. * **Operating System**: Because [Container-Optimized OS](https://cloud.google.com/compute/docs/images/os-details#container-optimized_os_cos) does not support nested virtualization, when nested virtualization is enabled, the underlying Compute Engine VM instances boot from an [Ubuntu LTS](https://cloud.google.com/compute/docs/images/os-details#ubuntu_lts) image."
        }
      },
      "type": "object",
      "id": "GceInstance"
    },
    "Policy": {
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "type": "object",
      "properties": {
        "etag": {
          "format": "byte",
          "type": "string",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
        },
        "version": {
          "type": "integer",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32"
        },
        "auditConfigs": {
          "type": "array",
          "items": {
            "$ref": "AuditConfig"
          },
          "description": "Specifies cloud audit logging configuration for this policy."
        },
        "bindings": {
          "type": "array",
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "items": {
            "$ref": "Binding"
          }
        }
      },
      "id": "Policy"
    },
    "GcePersistentDisk": {
      "type": "object",
      "properties": {
        "sourceImage": {
          "type": "string",
          "description": "Optional. Name of the disk image to use as the source for the disk. Must be empty if source_snapshot is set. Updating source_image will update content in the ephemeral directory after the workstation is restarted. This field is mutable."
        },
        "diskType": {
          "type": "string",
          "description": "Optional. Type of the disk to use. Defaults to `\"pd-standard\"`."
        },
        "readOnly": {
          "description": "Optional. Whether the disk is read only. If true, the disk may be shared by multiple VMs and source_snapshot must be set.",
          "type": "boolean"
        },
        "sourceSnapshot": {
          "type": "string",
          "description": "Optional. Name of the snapshot to use as the source for the disk. Must be empty if source_image is set. Must be empty if read_only is false. Updating source_snapshot will update content in the ephemeral directory after the workstation is restarted. This field is mutable."
        }
      },
      "id": "GcePersistentDisk",
      "description": "An EphemeralDirectory is backed by a Compute Engine persistent disk."
    },
    "EphemeralDirectory": {
      "type": "object",
      "description": "An ephemeral directory which won't persist across workstation sessions. It is freshly created on every workstation start operation.",
      "properties": {
        "gcePd": {
          "$ref": "GcePersistentDisk",
          "description": "An EphemeralDirectory backed by a Compute Engine persistent disk."
        },
        "mountPath": {
          "type": "string",
          "description": "Required. Location of this directory in the running workstation."
        }
      },
      "id": "EphemeralDirectory"
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        }
      }
    },
    "OperationMetadata": {
      "type": "object",
      "description": "Metadata for long-running operations.",
      "properties": {
        "statusMessage": {
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string"
        },
        "verb": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation."
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Time that the operation finished running."
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time that the operation was created.",
          "format": "google-datetime"
        },
        "requestedCancellation": {
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation.",
          "readOnly": true
        },
        "apiVersion": {
          "type": "string",
          "description": "Output only. API version used to start the operation.",
          "readOnly": true
        }
      },
      "id": "OperationMetadata"
    },
    "Workstation": {
      "id": "Workstation",
      "description": "A single instance of a developer workstation with its own persistent storage.",
      "type": "object",
      "properties": {
        "env": {
          "type": "object",
          "description": "Optional. Environment variables passed to the workstation container's entrypoint.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "startTime": {
          "description": "Output only. Time when this workstation was most recently successfully started, regardless of the workstation's initial state.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "annotations": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Client-specified annotations."
        },
        "labels": {
          "description": "Optional. [Labels](https://cloud.google.com/workstations/docs/label-resources) that are applied to the workstation and that are also propagated to the underlying Compute Engine resources.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "deleteTime": {
          "description": "Output only. Time when this workstation was soft-deleted.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "host": {
          "description": "Output only. Host to which clients can send HTTPS traffic that will be received by the workstation. Authorized traffic will be received to the workstation as HTTP on port 80. To send traffic to a different port, clients may prefix the host with the destination port in the format `{port}-{host}`.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. Time when this workstation was created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Do not use.",
            "The workstation is not yet ready to accept requests from users but will be soon.",
            "The workstation is ready to accept requests from users.",
            "The workstation is being stopped.",
            "The workstation is stopped and will not be able to receive requests until it is started."
          ],
          "description": "Output only. Current state of the workstation.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "STATE_STARTING",
            "STATE_RUNNING",
            "STATE_STOPPING",
            "STATE_STOPPED"
          ]
        },
        "name": {
          "type": "string",
          "description": "Identifier. Full name of this workstation."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time when this workstation was most recently updated."
        },
        "etag": {
          "description": "Optional. Checksum computed by the server. May be sent on update and delete requests to make sure that the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "reconciling": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Indicates whether this workstation is currently being updated to match its intended state."
        },
        "uid": {
          "readOnly": true,
          "description": "Output only. A system-assigned unique identifier for this workstation.",
          "type": "string"
        },
        "displayName": {
          "description": "Optional. Human-readable name for this workstation.",
          "type": "string"
        }
      }
    },
    "TestIamPermissionsResponse": {
      "description": "Response message for `TestIamPermissions` method.",
      "id": "TestIamPermissionsResponse",
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
        }
      },
      "type": "object"
    },
    "Container": {
      "description": "A Docker container.",
      "id": "Container",
      "properties": {
        "workingDir": {
          "description": "Optional. If set, overrides the default DIR specified by the image.",
          "type": "string"
        },
        "args": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Arguments passed to the entrypoint."
        },
        "image": {
          "description": "Optional. A Docker container image that defines a custom environment. Cloud Workstations provides a number of [preconfigured images](https://cloud.google.com/workstations/docs/preconfigured-base-images), but you can create your own [custom container images](https://cloud.google.com/workstations/docs/custom-container-images). If using a private image, the `host.gceInstance.serviceAccount` field must be specified in the workstation configuration and must have permission to pull the specified image. Otherwise, the image must be publicly accessible.",
          "type": "string"
        },
        "command": {
          "description": "Optional. If set, overrides the default ENTRYPOINT specified by the image.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "runAsUser": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. If set, overrides the USER specified in the image with the given uid."
        },
        "env": {
          "description": "Optional. Environment variables passed to the container's entrypoint.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "type": "object"
    },
    "StopWorkstationRequest": {
      "description": "Request message for StopWorkstation.",
      "properties": {
        "validateOnly": {
          "type": "boolean",
          "description": "Optional. If set, validate the request and preview the review, but do not actually apply it."
        },
        "etag": {
          "type": "string",
          "description": "Optional. If set, the request will be rejected if the latest version of the workstation on the server does not have this ETag."
        }
      },
      "id": "StopWorkstationRequest",
      "type": "object"
    },
    "GceShieldedInstanceConfig": {
      "description": "A set of Compute Engine Shielded instance options.",
      "properties": {
        "enableIntegrityMonitoring": {
          "description": "Optional. Whether the instance has integrity monitoring enabled.",
          "type": "boolean"
        },
        "enableSecureBoot": {
          "type": "boolean",
          "description": "Optional. Whether the instance has Secure Boot enabled."
        },
        "enableVtpm": {
          "type": "boolean",
          "description": "Optional. Whether the instance has the vTPM enabled."
        }
      },
      "id": "GceShieldedInstanceConfig",
      "type": "object"
    },
    "Expr": {
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "properties": {
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Expr"
    },
    "Accelerator": {
      "properties": {
        "type": {
          "description": "Optional. Type of accelerator resource to attach to the instance, for example, `\"nvidia-tesla-p100\"`.",
          "type": "string"
        },
        "count": {
          "description": "Optional. Number of accelerator cards exposed to the instance.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "An accelerator card attached to the instance.",
      "id": "Accelerator"
    }
  },
  "description": "Allows administrators to create managed developer environments in the cloud. ",
  "ownerName": "Google",
  "documentationLink": "https://cloud.google.com/workstations",
  "batchPath": "batch",
  "baseUrl": "https://workstations.googleapis.com/",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "workstationClusters": {
              "resources": {
                "workstationConfigs": {
                  "methods": {
                    "getIamPolicy": {
                      "id": "workstations.projects.locations.workstationClusters.workstationConfigs.getIamPolicy",
                      "response": {
                        "$ref": "Policy"
                      },
                      "parameters": {
                        "options.requestedPolicyVersion": {
                          "format": "int32",
                          "location": "query",
                          "type": "integer",
                          "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
                        },
                        "resource": {
                          "type": "string",
                          "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+$",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "resource"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta/{+resource}:getIamPolicy",
                      "httpMethod": "GET",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}:getIamPolicy",
                      "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set."
                    },
                    "create": {
                      "request": {
                        "$ref": "WorkstationConfig"
                      },
                      "description": "Creates a new workstation configuration.",
                      "id": "workstations.projects.locations.workstationClusters.workstationConfigs.create",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "validateOnly": {
                          "description": "Optional. If set, validate the request and preview the review, but do not actually apply it.",
                          "type": "boolean",
                          "location": "query"
                        },
                        "workstationConfigId": {
                          "type": "string",
                          "location": "query",
                          "description": "Required. ID to use for the workstation configuration."
                        },
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+$",
                          "required": true,
                          "description": "Required. Parent resource name.",
                          "type": "string"
                        }
                      },
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "Operation"
                      },
                      "path": "v1beta/{+parent}/workstationConfigs",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs"
                    },
                    "testIamPermissions": {
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "TestIamPermissionsResponse"
                      },
                      "id": "workstations.projects.locations.workstationClusters.workstationConfigs.testIamPermissions",
                      "path": "v1beta/{+resource}:testIamPermissions",
                      "parameters": {
                        "resource": {
                          "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+$",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "resource"
                      ],
                      "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}:testIamPermissions",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "TestIamPermissionsRequest"
                      }
                    },
                    "list": {
                      "httpMethod": "GET",
                      "path": "v1beta/{+parent}/workstationConfigs",
                      "response": {
                        "$ref": "ListWorkstationConfigsResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Returns all workstation configurations in the specified cluster.",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs",
                      "parameters": {
                        "pageSize": {
                          "format": "int32",
                          "type": "integer",
                          "location": "query",
                          "description": "Optional. Maximum number of items to return."
                        },
                        "parent": {
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+$",
                          "description": "Required. Parent resource name.",
                          "required": true
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "Optional. next_page_token value returned from a previous List request, if any.",
                          "location": "query"
                        }
                      },
                      "id": "workstations.projects.locations.workstationClusters.workstationConfigs.list"
                    },
                    "delete": {
                      "id": "workstations.projects.locations.workstationClusters.workstationConfigs.delete",
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameters": {
                        "validateOnly": {
                          "type": "boolean",
                          "description": "Optional. If set, validate the request and preview the review, but do not actually apply it.",
                          "location": "query"
                        },
                        "etag": {
                          "type": "string",
                          "description": "Optional. If set, the request is rejected if the latest version of the workstation configuration on the server does not have this ETag.",
                          "location": "query"
                        },
                        "force": {
                          "description": "Optional. If set, any workstations in the workstation configuration are also deleted. Otherwise, the request works only if the workstation configuration has no workstations.",
                          "type": "boolean",
                          "location": "query"
                        },
                        "name": {
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+$",
                          "description": "Required. Name of the workstation configuration to delete.",
                          "location": "path"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1beta/{+name}",
                      "description": "Deletes the specified workstation configuration.",
                      "httpMethod": "DELETE",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}"
                    },
                    "setIamPolicy": {
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "resource"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}:setIamPolicy",
                      "request": {
                        "$ref": "SetIamPolicyRequest"
                      },
                      "id": "workstations.projects.locations.workstationClusters.workstationConfigs.setIamPolicy",
                      "path": "v1beta/{+resource}:setIamPolicy",
                      "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
                      "response": {
                        "$ref": "Policy"
                      },
                      "parameters": {
                        "resource": {
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+$",
                          "required": true,
                          "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "get": {
                      "httpMethod": "GET",
                      "id": "workstations.projects.locations.workstationClusters.workstationConfigs.get",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. Name of the requested resource."
                        }
                      },
                      "description": "Returns the requested workstation configuration.",
                      "response": {
                        "$ref": "WorkstationConfig"
                      },
                      "path": "v1beta/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}"
                    },
                    "patch": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}",
                      "description": "Updates an existing workstation configuration.",
                      "path": "v1beta/{+name}",
                      "request": {
                        "$ref": "WorkstationConfig"
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "id": "workstations.projects.locations.workstationClusters.workstationConfigs.patch",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "PATCH",
                      "parameters": {
                        "updateMask": {
                          "type": "string",
                          "location": "query",
                          "description": "Required. Mask specifying which fields in the workstation configuration should be updated.",
                          "format": "google-fieldmask"
                        },
                        "allowMissing": {
                          "location": "query",
                          "description": "Optional. If set and the workstation configuration is not found, a new workstation configuration will be created. In this situation, update_mask is ignored.",
                          "type": "boolean"
                        },
                        "validateOnly": {
                          "description": "Optional. If set, validate the request and preview the review, but do not actually apply it.",
                          "location": "query",
                          "type": "boolean"
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Identifier. Full name of this workstation configuration."
                        }
                      }
                    },
                    "listUsable": {
                      "description": "Returns all workstation configurations in the specified cluster on which the caller has the \"workstations.workstation.create\" permission.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "ListUsableWorkstationConfigsResponse"
                      },
                      "path": "v1beta/{+parent}/workstationConfigs:listUsable",
                      "httpMethod": "GET",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs:listUsable",
                      "id": "workstations.projects.locations.workstationClusters.workstationConfigs.listUsable",
                      "parameters": {
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. next_page_token value returned from a previous List request, if any."
                        },
                        "parent": {
                          "location": "path",
                          "required": true,
                          "description": "Required. Parent resource name.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+$"
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "format": "int32",
                          "description": "Optional. Maximum number of items to return."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  },
                  "resources": {
                    "workstations": {
                      "methods": {
                        "testIamPermissions": {
                          "response": {
                            "$ref": "TestIamPermissionsResponse"
                          },
                          "parameters": {
                            "resource": {
                              "location": "path",
                              "required": true,
                              "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+/workstations/[^/]+$",
                              "type": "string"
                            }
                          },
                          "parameterOrder": [
                            "resource"
                          ],
                          "id": "workstations.projects.locations.workstationClusters.workstationConfigs.workstations.testIamPermissions",
                          "httpMethod": "POST",
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}/workstations/{workstationsId}:testIamPermissions",
                          "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
                          "request": {
                            "$ref": "TestIamPermissionsRequest"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1beta/{+resource}:testIamPermissions"
                        },
                        "list": {
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}/workstations",
                          "parameters": {
                            "parent": {
                              "type": "string",
                              "description": "Required. Parent resource name.",
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+$"
                            },
                            "pageSize": {
                              "description": "Optional. Maximum number of items to return.",
                              "location": "query",
                              "type": "integer",
                              "format": "int32"
                            },
                            "pageToken": {
                              "type": "string",
                              "location": "query",
                              "description": "Optional. next_page_token value returned from a previous List request, if any."
                            }
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "httpMethod": "GET",
                          "id": "workstations.projects.locations.workstationClusters.workstationConfigs.workstations.list",
                          "description": "Returns all Workstations using the specified workstation configuration.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1beta/{+parent}/workstations",
                          "response": {
                            "$ref": "ListWorkstationsResponse"
                          }
                        },
                        "get": {
                          "parameterOrder": [
                            "name"
                          ],
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}/workstations/{workstationsId}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Returns the requested workstation.",
                          "response": {
                            "$ref": "Workstation"
                          },
                          "id": "workstations.projects.locations.workstationClusters.workstationConfigs.workstations.get",
                          "httpMethod": "GET",
                          "path": "v1beta/{+name}",
                          "parameters": {
                            "name": {
                              "type": "string",
                              "required": true,
                              "location": "path",
                              "description": "Required. Name of the requested resource.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+/workstations/[^/]+$"
                            }
                          }
                        },
                        "create": {
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}/workstations",
                          "request": {
                            "$ref": "Workstation"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1beta/{+parent}/workstations",
                          "parameters": {
                            "workstationId": {
                              "location": "query",
                              "type": "string",
                              "description": "Required. ID to use for the workstation."
                            },
                            "parent": {
                              "description": "Required. Parent resource name.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+$",
                              "location": "path",
                              "type": "string",
                              "required": true
                            },
                            "validateOnly": {
                              "type": "boolean",
                              "location": "query",
                              "description": "Optional. If set, validate the request and preview the review, but do not actually apply it."
                            }
                          },
                          "response": {
                            "$ref": "Operation"
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "description": "Creates a new workstation.",
                          "id": "workstations.projects.locations.workstationClusters.workstationConfigs.workstations.create",
                          "httpMethod": "POST"
                        },
                        "listUsable": {
                          "parameters": {
                            "parent": {
                              "location": "path",
                              "description": "Required. Parent resource name.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+$",
                              "required": true,
                              "type": "string"
                            },
                            "pageToken": {
                              "type": "string",
                              "location": "query",
                              "description": "Optional. next_page_token value returned from a previous List request, if any."
                            },
                            "pageSize": {
                              "format": "int32",
                              "location": "query",
                              "description": "Optional. Maximum number of items to return.",
                              "type": "integer"
                            }
                          },
                          "description": "Returns all workstations using the specified workstation configuration on which the caller has the \"workstations.workstations.use\" permission.",
                          "path": "v1beta/{+parent}/workstations:listUsable",
                          "parameterOrder": [
                            "parent"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "GET",
                          "id": "workstations.projects.locations.workstationClusters.workstationConfigs.workstations.listUsable",
                          "response": {
                            "$ref": "ListUsableWorkstationsResponse"
                          },
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}/workstations:listUsable"
                        },
                        "stop": {
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "response": {
                            "$ref": "Operation"
                          },
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}/workstations/{workstationsId}:stop",
                          "description": "Stops running a workstation, reducing costs.",
                          "id": "workstations.projects.locations.workstationClusters.workstationConfigs.workstations.stop",
                          "httpMethod": "POST",
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+/workstations/[^/]+$",
                              "required": true,
                              "description": "Required. Name of the workstation to stop.",
                              "type": "string",
                              "location": "path"
                            }
                          },
                          "request": {
                            "$ref": "StopWorkstationRequest"
                          },
                          "path": "v1beta/{+name}:stop"
                        },
                        "setIamPolicy": {
                          "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
                          "parameters": {
                            "resource": {
                              "type": "string",
                              "required": true,
                              "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+/workstations/[^/]+$",
                              "location": "path"
                            }
                          },
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}/workstations/{workstationsId}:setIamPolicy",
                          "request": {
                            "$ref": "SetIamPolicyRequest"
                          },
                          "response": {
                            "$ref": "Policy"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1beta/{+resource}:setIamPolicy",
                          "httpMethod": "POST",
                          "parameterOrder": [
                            "resource"
                          ],
                          "id": "workstations.projects.locations.workstationClusters.workstationConfigs.workstations.setIamPolicy"
                        },
                        "delete": {
                          "response": {
                            "$ref": "Operation"
                          },
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}/workstations/{workstationsId}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameterOrder": [
                            "name"
                          ],
                          "path": "v1beta/{+name}",
                          "id": "workstations.projects.locations.workstationClusters.workstationConfigs.workstations.delete",
                          "description": "Deletes the specified workstation.",
                          "parameters": {
[...]
