{
  "revision": "20230113",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "ownerDomain": "google.com",
  "kind": "discovery#restDescription",
  "servicePath": "",
  "discoveryVersion": "v1",
  "name": "workstations",
  "baseUrl": "https://workstations.googleapis.com/",
  "description": "",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "workstationClusters": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "ListWorkstationClustersResponse"
                  },
                  "httpMethod": "GET",
                  "description": "Returns all workstation clusters in the specified location.",
                  "path": "v1beta/{+parent}/workstationClusters",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "description": "next_page_token value returned from a previous List request, if any.",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. Parent resource name."
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Maximum number of items to return.",
                      "location": "query"
                    }
                  },
                  "id": "workstations.projects.locations.workstationClusters.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "path": "v1beta/{+name}",
                  "response": {
                    "$ref": "WorkstationCluster"
                  },
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. Name of the requested resource.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+$"
                    }
                  },
                  "id": "workstations.projects.locations.workstationClusters.get",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Returns the requested workstation cluster.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "description": "Deletes the specified workstation cluster.",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1beta/{+name}",
                  "parameters": {
                    "validateOnly": {
                      "description": "If set, validate the request and preview the review, but do not actually apply it.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "etag": {
                      "location": "query",
                      "type": "string",
                      "description": "If set, the request will be rejected if the latest version of the cluster on the server does not have this etag."
                    },
                    "name": {
                      "description": "Required. Name of the cluster to delete.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+$",
                      "location": "path",
                      "required": true
                    },
                    "force": {
                      "location": "query",
                      "description": "If set, any workstation configurations and workstations in the cluster will also be deleted. Otherwise, the request will work only if the cluster has no configurations or workstations.",
                      "type": "boolean"
                    }
                  },
                  "id": "workstations.projects.locations.workstationClusters.delete"
                },
                "create": {
                  "parameters": {
                    "validateOnly": {
                      "description": "If set, validate the request and preview the review, but do not actually apply it.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. Parent resource name."
                    },
                    "workstationClusterId": {
                      "location": "query",
                      "description": "Required. ID to use for the cluster.",
                      "type": "string"
                    }
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "WorkstationCluster"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "workstations.projects.locations.workstationClusters.create",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters",
                  "description": "Creates a new workstation cluster.",
                  "path": "v1beta/{+parent}/workstationClusters",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "patch": {
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}",
                  "parameters": {
                    "validateOnly": {
                      "description": "If set, validate the request and preview the review, but do not actually apply it.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "allowMissing": {
                      "description": "If set, and the cluster is not found, a new cluster will be created. In this situation, update_mask is ignored.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+$",
                      "description": "Full name of this resource.",
                      "type": "string",
                      "location": "path"
                    },
                    "updateMask": {
                      "type": "string",
                      "description": "Required. Mask specifying which fields in the cluster should be updated.",
                      "location": "query",
                      "format": "google-fieldmask"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "workstations.projects.locations.workstationClusters.patch",
                  "description": "Updates an existing workstation cluster.",
                  "request": {
                    "$ref": "WorkstationCluster"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1beta/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH"
                }
              },
              "resources": {
                "workstationConfigs": {
                  "methods": {
                    "setIamPolicy": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta/{+resource}:setIamPolicy",
                      "httpMethod": "POST",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}:setIamPolicy",
                      "parameters": {
                        "resource": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+$",
                          "required": true,
                          "location": "path",
                          "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
                        }
                      },
                      "response": {
                        "$ref": "Policy"
                      },
                      "parameterOrder": [
                        "resource"
                      ],
                      "request": {
                        "$ref": "SetIamPolicyRequest"
                      },
                      "id": "workstations.projects.locations.workstationClusters.workstationConfigs.setIamPolicy",
                      "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors."
                    },
                    "create": {
                      "description": "Creates a new workstation configuration.",
                      "parameters": {
                        "workstationConfigId": {
                          "description": "Required. ID to use for the config.",
                          "location": "query",
                          "type": "string"
                        },
                        "validateOnly": {
                          "location": "query",
                          "type": "boolean",
                          "description": "If set, validate the request and preview the review, but do not actually apply it."
                        },
                        "parent": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+$",
                          "location": "path",
                          "description": "Required. Parent resource name.",
                          "required": true
                        }
                      },
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs",
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "WorkstationConfig"
                      },
                      "path": "v1beta/{+parent}/workstationConfigs",
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "id": "workstations.projects.locations.workstationClusters.workstationConfigs.create"
                    },
                    "get": {
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+$",
                          "required": true,
                          "description": "Required. Name of the requested resource."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta/{+name}",
                      "description": "Returns the requested workstation configuration.",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}",
                      "id": "workstations.projects.locations.workstationClusters.workstationConfigs.get",
                      "response": {
                        "$ref": "WorkstationConfig"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET"
                    },
                    "list": {
                      "httpMethod": "GET",
                      "description": "Returns all workstation configurations in the specified cluster.",
                      "parameters": {
                        "pageSize": {
                          "format": "int32",
                          "type": "integer",
                          "description": "Maximum number of items to return.",
                          "location": "query"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+$",
                          "description": "Required. Parent resource name.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "next_page_token value returned from a previous List request, if any."
                        }
                      },
                      "id": "workstations.projects.locations.workstationClusters.workstationConfigs.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1beta/{+parent}/workstationConfigs",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs",
                      "response": {
                        "$ref": "ListWorkstationConfigsResponse"
                      }
                    },
                    "delete": {
                      "id": "workstations.projects.locations.workstationClusters.workstationConfigs.delete",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "force": {
                          "location": "query",
                          "description": "If set, any Workstations in the config will also be deleted. Otherwise, the request will work only if the config has no workstations.",
                          "type": "boolean"
                        },
                        "etag": {
                          "location": "query",
                          "description": "If set, the request will be rejected if the latest version of the config on the server does not have this etag.",
                          "type": "string"
                        },
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+$",
                          "location": "path",
                          "description": "Required. Name of the config to delete.",
                          "required": true
                        },
                        "validateOnly": {
                          "location": "query",
                          "type": "boolean",
                          "description": "If set, validate the request and preview the review, but do not actually apply it."
                        }
                      },
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1beta/{+name}",
                      "response": {
                        "$ref": "Operation"
                      },
                      "description": "Deletes the specified workstation configuration.",
                      "httpMethod": "DELETE"
                    },
                    "listUsable": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1beta/{+parent}/workstationConfigs:listUsable",
                      "response": {
                        "$ref": "ListUsableWorkstationConfigsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Returns all workstation configurations in the specified cluster on which the caller has the \"workstations.workstation.create\" permission.",
                      "httpMethod": "GET",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs:listUsable",
                      "id": "workstations.projects.locations.workstationClusters.workstationConfigs.listUsable",
                      "parameters": {
                        "pageSize": {
                          "location": "query",
                          "description": "Maximum number of items to return.",
                          "type": "integer",
                          "format": "int32"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "next_page_token value returned from a previous List request, if any.",
                          "type": "string"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+$",
                          "description": "Required. Parent resource name.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        }
                      }
                    },
                    "getIamPolicy": {
                      "path": "v1beta/{+resource}:getIamPolicy",
                      "parameters": {
                        "resource": {
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+$",
                          "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                          "location": "path"
                        },
                        "options.requestedPolicyVersion": {
                          "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                          "format": "int32",
                          "location": "query",
                          "type": "integer"
                        }
                      },
                      "response": {
                        "$ref": "Policy"
                      },
                      "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}:getIamPolicy",
                      "parameterOrder": [
                        "resource"
                      ],
                      "id": "workstations.projects.locations.workstationClusters.workstationConfigs.getIamPolicy",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "testIamPermissions": {
                      "response": {
                        "$ref": "TestIamPermissionsResponse"
                      },
                      "path": "v1beta/{+resource}:testIamPermissions",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}:testIamPermissions",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "workstations.projects.locations.workstationClusters.workstationConfigs.testIamPermissions",
                      "parameterOrder": [
                        "resource"
                      ],
                      "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
                      "request": {
                        "$ref": "TestIamPermissionsRequest"
                      },
                      "parameters": {
                        "resource": {
                          "type": "string",
                          "required": true,
                          "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+$",
                          "location": "path"
                        }
                      },
                      "httpMethod": "POST"
                    },
                    "patch": {
                      "path": "v1beta/{+name}",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}",
                      "response": {
                        "$ref": "Operation"
                      },
                      "httpMethod": "PATCH",
                      "id": "workstations.projects.locations.workstationClusters.workstationConfigs.patch",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Updates an existing workstation configuration.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "validateOnly": {
                          "description": "If set, validate the request and preview the review, but do not actually apply it.",
                          "location": "query",
                          "type": "boolean"
                        },
                        "allowMissing": {
                          "location": "query",
                          "type": "boolean",
                          "description": "If set, and the config is not found, a new config will be created. In this situation, update_mask is ignored."
                        },
                        "updateMask": {
                          "location": "query",
                          "format": "google-fieldmask",
                          "description": "Required. Mask specifying which fields in the config should be updated.",
                          "type": "string"
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+$",
                          "type": "string",
                          "description": "Full name of this resource.",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "request": {
                        "$ref": "WorkstationConfig"
                      }
                    }
                  },
                  "resources": {
                    "workstations": {
                      "methods": {
                        "delete": {
                          "response": {
                            "$ref": "Operation"
                          },
                          "parameters": {
                            "etag": {
                              "type": "string",
                              "description": "If set, the request will be rejected if the latest version of the workstation on the server does not have this etag.",
                              "location": "query"
                            },
                            "name": {
                              "location": "path",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+/workstations/[^/]+$",
                              "description": "Required. Name of the workstation to delete.",
                              "required": true
                            },
                            "validateOnly": {
                              "description": "If set, validate the request and preview the review, but do not actually apply it.",
                              "location": "query",
                              "type": "boolean"
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameterOrder": [
                            "name"
                          ],
                          "description": "Deletes the specified workstation.",
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}/workstations/{workstationsId}",
                          "id": "workstations.projects.locations.workstationClusters.workstationConfigs.workstations.delete",
                          "httpMethod": "DELETE",
                          "path": "v1beta/{+name}"
                        },
                        "setIamPolicy": {
                          "parameters": {
                            "resource": {
                              "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+/workstations/[^/]+$",
                              "location": "path",
                              "required": true
                            }
                          },
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}/workstations/{workstationsId}:setIamPolicy",
                          "httpMethod": "POST",
                          "id": "workstations.projects.locations.workstationClusters.workstationConfigs.workstations.setIamPolicy",
                          "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
                          "response": {
                            "$ref": "Policy"
                          },
                          "parameterOrder": [
                            "resource"
                          ],
                          "path": "v1beta/{+resource}:setIamPolicy",
                          "request": {
                            "$ref": "SetIamPolicyRequest"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        },
                        "getIamPolicy": {
                          "parameters": {
                            "resource": {
                              "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+/workstations/[^/]+$",
                              "type": "string",
                              "required": true,
                              "location": "path"
                            },
                            "options.requestedPolicyVersion": {
                              "format": "int32",
                              "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                              "location": "query",
                              "type": "integer"
                            }
                          },
                          "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
                          "parameterOrder": [
                            "resource"
                          ],
                          "response": {
                            "$ref": "Policy"
                          },
                          "httpMethod": "GET",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}/workstations/{workstationsId}:getIamPolicy",
                          "id": "workstations.projects.locations.workstationClusters.workstationConfigs.workstations.getIamPolicy",
                          "path": "v1beta/{+resource}:getIamPolicy"
                        },
                        "create": {
                          "response": {
                            "$ref": "Operation"
                          },
                          "description": "Creates a new workstation.",
                          "request": {
                            "$ref": "Workstation"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "workstations.projects.locations.workstationClusters.workstationConfigs.workstations.create",
                          "parameterOrder": [
                            "parent"
                          ],
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}/workstations",
                          "httpMethod": "POST",
                          "path": "v1beta/{+parent}/workstations",
                          "parameters": {
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+$",
                              "type": "string",
                              "location": "path",
                              "description": "Required. Parent resource name.",
                              "required": true
                            },
                            "validateOnly": {
                              "location": "query",
                              "description": "If set, validate the request and preview the review, but do not actually apply it.",
                              "type": "boolean"
                            },
                            "workstationId": {
                              "location": "query",
                              "type": "string",
                              "description": "Required. ID to use for the workstation."
                            }
                          }
                        },
                        "generateAccessToken": {
                          "description": "Returns a short-lived credential that can be used to send authenticated and authorized traffic to a workstation.",
                          "id": "workstations.projects.locations.workstationClusters.workstationConfigs.workstations.generateAccessToken",
                          "path": "v1beta/{+workstation}:generateAccessToken",
                          "parameters": {
                            "workstation": {
                              "type": "string",
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+/workstations/[^/]+$",
                              "description": "Required. Name of the workstation for which the access token should be generated.",
                              "required": true
                            }
                          },
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}/workstations/{workstationsId}:generateAccessToken",
                          "httpMethod": "POST",
                          "request": {
                            "$ref": "GenerateAccessTokenRequest"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "response": {
                            "$ref": "GenerateAccessTokenResponse"
                          },
                          "parameterOrder": [
                            "workstation"
                          ]
                        },
                        "testIamPermissions": {
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}/workstations/{workstationsId}:testIamPermissions",
                          "httpMethod": "POST",
                          "parameters": {
                            "resource": {
                              "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                              "required": true,
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+/workstations/[^/]+$",
                              "type": "string"
                            }
                          },
                          "request": {
                            "$ref": "TestIamPermissionsRequest"
                          },
                          "path": "v1beta/{+resource}:testIamPermissions",
                          "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
                          "response": {
                            "$ref": "TestIamPermissionsResponse"
                          },
                          "parameterOrder": [
                            "resource"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "workstations.projects.locations.workstationClusters.workstationConfigs.workstations.testIamPermissions"
                        },
                        "start": {
                          "path": "v1beta/{+name}:start",
                          "parameterOrder": [
                            "name"
                          ],
                          "response": {
                            "$ref": "Operation"
                          },
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}/workstations/{workstationsId}:start",
                          "description": "Starts running a workstation so that users can connect to it.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "POST",
                          "request": {
                            "$ref": "StartWorkstationRequest"
                          },
                          "parameters": {
                            "name": {
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "description": "Required. Name of the workstation to start.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+/workstations/[^/]+$"
                            }
                          },
                          "id": "workstations.projects.locations.workstationClusters.workstationConfigs.workstations.start"
                        },
                        "list": {
                          "response": {
                            "$ref": "ListWorkstationsResponse"
                          },
                          "httpMethod": "GET",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "pageToken": {
                              "location": "query",
                              "description": "next_page_token value returned from a previous List request, if any.",
                              "type": "string"
                            },
                            "parent": {
                              "description": "Required. Parent resource name.",
                              "type": "string",
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+$"
                            },
                            "pageSize": {
                              "description": "Maximum number of items to return.",
                              "location": "query",
                              "type": "integer",
                              "format": "int32"
                            }
                          },
                          "path": "v1beta/{+parent}/workstations",
                          "parameterOrder": [
                            "parent"
                          ],
                          "description": "Returns all Workstations using the specified config.",
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}/workstations",
                          "id": "workstations.projects.locations.workstationClusters.workstationConfigs.workstations.list"
                        },
                        "stop": {
                          "request": {
                            "$ref": "StopWorkstationRequest"
                          },
                          "path": "v1beta/{+name}:stop",
                          "id": "workstations.projects.locations.workstationClusters.workstationConfigs.workstations.stop",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "response": {
                            "$ref": "Operation"
                          },
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}/workstations/{workstationsId}:stop",
                          "httpMethod": "POST",
                          "description": "Stops running a workstation, reducing costs.",
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+/workstations/[^/]+$",
                              "type": "string",
                              "location": "path",
                              "description": "Required. Name of the workstation to stop.",
                              "required": true
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ]
                        },
                        "listUsable": {
                          "description": "Returns all Workstations using the specified config on which the caller has the \"workstations.workstations.use\" permission.",
                          "httpMethod": "GET",
                          "parameters": {
                            "pageToken": {
                              "type": "string",
                              "location": "query",
                              "description": "next_page_token value returned from a previous List request, if any."
                            },
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+$",
                              "description": "Required. Parent resource name.",
                              "location": "path",
                              "type": "string",
                              "required": true
                            },
                            "pageSize": {
                              "type": "integer",
                              "location": "query",
                              "format": "int32",
                              "description": "Maximum number of items to return."
                            }
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "id": "workstations.projects.locations.workstationClusters.workstationConfigs.workstations.listUsable",
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}/workstations:listUsable",
                          "path": "v1beta/{+parent}/workstations:listUsable",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "response": {
                            "$ref": "ListUsableWorkstationsResponse"
                          }
                        },
                        "get": {
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}/workstations/{workstationsId}",
                          "parameterOrder": [
                            "name"
                          ],
                          "response": {
                            "$ref": "Workstation"
                          },
                          "id": "workstations.projects.locations.workstationClusters.workstationConfigs.workstations.get",
                          "description": "Returns the requested workstation.",
                          "parameters": {
                            "name": {
                              "location": "path",
                              "description": "Required. Name of the requested resource.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+/workstations/[^/]+$",
                              "required": true,
                              "type": "string"
                            }
                          },
                          "path": "v1beta/{+name}",
                          "httpMethod": "GET",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        },
                        "patch": {
                          "httpMethod": "PATCH",
                          "id": "workstations.projects.locations.workstationClusters.workstationConfigs.workstations.patch",
                          "description": "Updates an existing workstation.",
                          "path": "v1beta/{+name}",
                          "parameterOrder": [
                            "name"
                          ],
                          "request": {
                            "$ref": "Workstation"
                          },
                          "parameters": {
                            "name": {
                              "required": true,
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+/workstations/[^/]+$",
                              "type": "string",
                              "description": "Full name of this resource."
                            },
                            "allowMissing": {
                              "description": "If set, and the config is not found, a new config will be created. In this situation, update_mask is ignored.",
                              "type": "boolean",
                              "location": "query"
                            },
                            "updateMask": {
                              "type": "string",
                              "description": "Required. Mask specifying which fields in the config should be updated.",
                              "format": "google-fieldmask",
                              "location": "query"
                            },
                            "validateOnly": {
                              "description": "If set, validate the request and preview the review, but do not actually apply it.",
                              "type": "boolean",
                              "location": "query"
                            }
                          },
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}/workstations/{workstationsId}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "response": {
                            "$ref": "Operation"
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "delete": {
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "description": "The name of the operation resource to be deleted.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "path": "v1beta/{+name}",
                  "id": "workstations.projects.locations.operations.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}"
                },
                "cancel": {
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
                  "id": "workstations.projects.locations.operations.cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "httpMethod": "POST",
                  "path": "v1beta/{+name}:cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "The name of the operation resource to be cancelled.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  }
                },
                "list": {
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "path": "v1beta/{+name}/operations",
                  "id": "workstations.projects.locations.operations.list",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/operations",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query",
                      "description": "The standard list page size."
                    },
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "The name of the operation's parent resource."
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list page token."
                    }
                  },
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`. NOTE: the `name` binding allows API services to override the binding to use different resource name schemes, such as `users/*/operations`. To override the binding, API services can add a binding such as `\"/v1/{name=users/*}/operations\"` to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id."
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta/{+name}",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource.",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "id": "workstations.projects.locations.operations.get",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}"
                }
              }
            }
          }
        }
      }
    }
  },
  "basePath": "",
  "version": "v1beta",
  "id": "workstations:v1beta",
  "batchPath": "batch",
  "protocol": "rest",
  "schemas": {
    "Host": {
      "id": "Host",
      "description": "Runtime host for a workstation.",
      "properties": {
        "gceInstance": {
          "description": "Specifies a Compute Engine instance as the host.",
          "$ref": "GceInstance"
        }
      },
      "type": "object"
    },
    "ListUsableWorkstationConfigsResponse": {
      "description": "Response message for ListUsableWorkstationConfigs.",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "workstationConfigs": {
          "type": "array",
          "items": {
            "$ref": "WorkstationConfig"
          },
          "description": "The requested configs."
        },
        "unreachable": {
          "description": "Unreachable resources.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "ListUsableWorkstationConfigsResponse",
      "type": "object"
    },
    "ListWorkstationConfigsResponse": {
      "type": "object",
      "description": "Response message for ListWorkstationConfigs.",
      "id": "ListWorkstationConfigsResponse",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "workstationConfigs": {
          "items": {
            "$ref": "WorkstationConfig"
          },
          "description": "The requested configs.",
          "type": "array"
        },
        "unreachable": {
          "type": "array",
          "description": "Unreachable resources.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GenerateAccessTokenRequest": {
      "type": "object",
      "description": "Request message for GenerateAccessToken.",
      "properties": {
        "ttl": {
          "format": "google-duration",
          "description": "Desired lifetime duration of the access token. This value must be at most 24 hours. If a value is not specified, the token's lifetime will be set to a default value of 1 hour.",
          "type": "string"
        },
        "expireTime": {
          "description": "Desired expiration time of the access token. This value must be at most 24 hours in the future. If a value is not specified, the token's expiration time will be set to a default value of 1 hour in the future.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GenerateAccessTokenRequest"
    },
    "ListWorkstationsResponse": {
      "type": "object",
      "description": "Response message for ListWorkstations.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        },
        "workstations": {
          "type": "array",
          "description": "The requested workstations.",
          "items": {
            "$ref": "Workstation"
          }
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unreachable resources."
        }
      },
      "id": "ListWorkstationsResponse"
    },
    "PersistentDirectory": {
      "type": "object",
      "properties": {
        "mountPath": {
          "type": "string",
          "description": "Location of this directory in the running workstation."
        },
        "gcePd": {
          "description": "A PersistentDirectory backed by a Compute Engine persistent disk.",
          "$ref": "GceRegionalPersistentDisk"
        }
      },
      "description": "A directory to persist across workstation sessions.",
      "id": "PersistentDirectory"
    },
    "StopWorkstationRequest": {
      "type": "object",
      "id": "StopWorkstationRequest",
      "properties": {
        "etag": {
          "type": "string",
          "description": "If set, the request will be rejected if the latest version of the workstation on the server does not have this etag."
        },
        "validateOnly": {
          "description": "If set, validate the request and preview the review, but do not actually apply it.",
          "type": "boolean"
        }
      },
      "description": "Request message for StopWorkstation."
    },
    "WorkstationCluster": {
      "properties": {
        "annotations": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Client-specified annotations."
        },
        "labels": {
          "type": "object",
          "description": "Client-specified labels that are applied to the resource and that are also propagated to the underlying Compute Engine resources.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "deleteTime": {
          "description": "Output only. Time when this resource was soft-deleted.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "uid": {
          "description": "Output only. A system-assigned unique identified for this resource.",
          "type": "string",
          "readOnly": true
        },
        "privateClusterConfig": {
          "$ref": "PrivateClusterConfig",
          "description": "Configuration for private cluster."
        },
        "reconciling": {
          "description": "Output only. Indicates whether this resource is currently being updated to match its intended state.",
          "type": "boolean",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "Human-readable name for this resource."
        },
        "subnetwork": {
          "type": "string",
          "description": "Immutable. Name of the Compute Engine subnetwork in which instances associated with this cluster will be created. Must be part of the subnetwork specified for this cluster."
        },
        "name": {
          "description": "Full name of this resource.",
          "type": "string"
        },
        "etag": {
          "description": "Checksum computed by the server. May be sent on update and delete requests to ensure that the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "network": {
          "type": "string",
          "description": "Immutable. Name of the Compute Engine network in which instances associated with this cluster will be created."
        },
        "createTime": {
          "description": "Output only. Time when this resource was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "conditions": {
          "items": {
            "$ref": "Status"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. Status conditions describing the current resource state."
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Time when this resource was most recently updated.",
          "type": "string",
          "readOnly": true
        },
        "degraded": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether this resource is in degraded mode, in which case it may require user action to restore full functionality. Details can be found in the `conditions` field."
        }
      },
      "description": "A grouping of workstation configurations and the associated workstations in that region.",
      "type": "object",
      "id": "WorkstationCluster"
    },
    "GenerateAccessTokenResponse": {
      "id": "GenerateAccessTokenResponse",
      "description": "Response message for GenerateAccessToken.",
      "type": "object",
      "properties": {
        "expireTime": {
          "description": "Time at which the generated token will expire.",
          "type": "string",
          "format": "google-datetime"
        },
        "accessToken": {
          "description": "The generated bearer access token. To use this token, include it in an Authorization header of an HTTP request sent to the associated workstation's hostname, for example, `Authorization: Bearer `.",
          "type": "string"
        }
      }
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "properties": {
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string",
          "readOnly": true
        },
        "statusMessage": {
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time that the operation finished running.",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. Time that the operation was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "requestedCancellation": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation."
        },
        "apiVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. API version used to start the operation."
        },
        "target": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation."
        }
      },
      "description": "Metadata for long-running operations.",
      "type": "object"
    },
    "AuditLogConfig": {
      "id": "AuditLogConfig",
      "type": "object",
      "properties": {
        "logType": {
          "description": "The log type that this config enables.",
          "type": "string",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ]
        },
        "exemptedMembers": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
        }
      },
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
    },
    "ListOperationsResponse": {
      "type": "object",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        }
      },
      "id": "ListOperationsResponse"
    },
    "GceShieldedInstanceConfig": {
      "properties": {
        "enableVtpm": {
          "description": "Whether the instance has the vTPM enabled.",
          "type": "boolean"
        },
        "enableSecureBoot": {
          "description": "Whether the instance has Secure Boot enabled.",
          "type": "boolean"
        },
        "enableIntegrityMonitoring": {
          "description": "Whether the instance has integrity monitoring enabled.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GceShieldedInstanceConfig",
      "description": "A set of Compute Engine Shielded instance options."
    },
    "GoogleProtobufEmpty": {
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "GoogleProtobufEmpty"
    },
    "ListUsableWorkstationsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "workstations": {
          "description": "The requested workstations.",
          "type": "array",
          "items": {
            "$ref": "Workstation"
          }
        },
        "unreachable": {
          "description": "Unreachable resources.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Response message for ListUsableWorkstations.",
      "id": "ListUsableWorkstationsResponse"
    },
    "GceRegionalPersistentDisk": {
      "id": "GceRegionalPersistentDisk",
      "type": "object",
      "properties": {
        "sizeGb": {
          "type": "integer",
          "description": "Size of the disk in GB. Must be empty if source_snapshot is set.",
          "format": "int32"
        },
        "fsType": {
          "description": "Type of file system that the disk should be formatted with. The workstation image must support this file system type. Must be empty if source_snapshot is set.",
          "type": "string"
        },
        "reclaimPolicy": {
          "type": "string",
          "enumDescriptions": [
            "Do not use.",
            "The persistent disk will be deleted with the workstation.",
            "The persistent disk will be remain after the workstation is deleted, and the administrator must manually delete the disk."
          ],
          "description": "What should happen to the disk after the workstation is deleted. Defaults to DELETE.",
          "enum": [
            "RECLAIM_POLICY_UNSPECIFIED",
            "DELETE",
            "RETAIN"
          ]
        },
        "diskType": {
          "type": "string",
          "description": "Type of the disk to use."
        }
      },
      "description": "A PersistentDirectory backed by a Compute Engine regional persistent disk."
    },
    "Policy": {
      "id": "Policy",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } **YAML example:** bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "properties": {
        "auditConfigs": {
          "description": "Specifies cloud audit logging configuration for this policy.",
          "items": {
            "$ref": "AuditConfig"
          },
          "type": "array"
        },
        "etag": {
          "format": "byte",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "type": "string"
        },
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer",
          "format": "int32"
        },
        "bindings": {
          "type": "array",
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "items": {
            "$ref": "Binding"
          }
        }
      },
      "type": "object"
    },
    "Expr": {
      "id": "Expr",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "properties": {
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Status": {
      "properties": {
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          }
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      },
      "id": "Status",
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "ListWorkstationClustersResponse": {
      "description": "Response message for ListWorkstationClusters.",
      "id": "ListWorkstationClustersResponse",
      "type": "object",
      "properties": {
        "workstationClusters": {
          "items": {
            "$ref": "WorkstationCluster"
          },
          "description": "The requested clusters.",
          "type": "array"
        },
        "unreachable": {
          "type": "array",
          "description": "Unreachable resources.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      }
    },
    "Binding": {
      "description": "Associates `members`, or principals, with a `role`.",
      "properties": {
        "members": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. "
        },
        "condition": {
          "$ref": "Expr",
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Binding"
    },
    "TestIamPermissionsRequest": {
      "id": "TestIamPermissionsRequest",
      "properties": {
        "permissions": {
          "type": "array",
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Request message for `TestIamPermissions` method.",
      "type": "object"
    },
    "Operation": {
      "id": "Operation",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "response": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object"
    },
    "GceInstance": {
      "description": "A runtime using a Compute Engine instance.",
      "type": "object",
      "id": "GceInstance",
      "properties": {
        "serviceAccount": {
          "description": "Email address of the service account that will be used on VM instances used to support this config. This service account must have permission to pull the specified container image. If not set, VMs will run without a service account, in which case the image must be publicly accessible.",
          "type": "string"
        },
        "shieldedInstanceConfig": {
          "$ref": "GceShieldedInstanceConfig",
          "description": "A set of Compute Engine Shielded instance options."
        },
        "confidentialInstanceConfig": {
          "$ref": "GceConfidentialInstanceConfig",
          "description": "A set of Compute Engine Confidential VM instance options."
        },
        "disablePublicIpAddresses": {
          "description": "Whether instances have no public IP address.",
          "type": "boolean"
        },
        "tags": {
          "description": "Network tags to add to the Compute Engine machines backing the Workstations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "poolSize": {
          "format": "int32",
          "type": "integer",
          "description": "Number of instances to pool for faster workstation starup."
        },
        "bootDiskSizeGb": {
          "format": "int32",
          "description": "Size of the boot disk in GB.",
          "type": "integer"
        },
        "machineType": {
          "type": "string",
          "description": "The name of a Compute Engine machine type."
        }
      }
    },
    "WorkstationConfig": {
      "type": "object",
      "id": "WorkstationConfig",
      "description": "A set of configuration options describing how a workstation will be run. Workstation configurations are intended to be shared across multiple workstations.",
      "properties": {
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time when this resource was created."
        },
        "idleTimeout": {
          "format": "google-duration",
          "description": "How long to wait before automatically stopping an instance that hasn't received any user traffic. A value of 0 indicates that this instance should never time out due to idleness. Defaults to 20 minutes.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Human-readable name for this resource."
        },
        "name": {
          "type": "string",
          "description": "Full name of this resource."
        },
        "deleteTime": {
          "format": "google-datetime",
          "description": "Output only. Time when this resource was soft-deleted.",
          "readOnly": true,
          "type": "string"
        },
        "encryptionKey": {
          "$ref": "CustomerEncryptionKey",
          "description": "Encrypts resources of this workstation configuration using a customer-specified encryption key. If specified, the boot disk of the Compute Engine instance and the persistent disk will be encrypted using this encryption key. If this field is not set, the disks will be encrypted using a generated key. Customer-specified encryption keys do not protect disk metadata. If the customer-specified encryption key is rotated, when the workstation instance is stopped, the system will attempt to recreate the persistent disk with the new version of the key. Be sure to keep older versions of the key until the persistent disk is recreated. Otherwise, data on the persistent disk will be lost. If the encryption key is revoked, the workstation session will automatically be stopped within 7 hours."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Client-specified labels that are applied to the resource and that are also propagated to the underlying Compute Engine resources.",
          "type": "object"
        },
        "runningTimeout": {
          "description": "How long to wait before automatically stopping a workstation after it started. A value of 0 indicates that workstations using this config should never time out. Must be greater than 0 and less than 24 hours if encryption_key is set. Defaults to 12 hours.",
          "format": "google-duration",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Checksum computed by the server. May be sent on update and delete requests to ensure that the client has an up-to-date value before proceeding."
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Client-specified annotations.",
          "type": "object"
        },
        "uid": {
          "type": "string",
          "description": "Output only. A system-assigned unique identified for this resource.",
          "readOnly": true
        },
        "host": {
          "$ref": "Host",
          "description": "Runtime host for the workstation."
        },
        "conditions": {
          "items": {
            "$ref": "Status"
          },
          "readOnly": true,
          "description": "Output only. Status conditions describing the current resource state.",
          "type": "array"
        },
        "reconciling": {
          "readOnly": true,
          "description": "Output only. Indicates whether this resource is currently being updated to match its intended state.",
          "type": "boolean"
        },
        "persistentDirectories": {
          "type": "array",
          "items": {
            "$ref": "PersistentDirectory"
          },
          "description": "Directories to persist across workstation sessions."
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time when this resource was most recently updated."
        },
        "degraded": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether this resource is in degraded mode, in which case it may require user action to restore full functionality. Details can be found in the `conditions` field."
        },
        "container": {
          "$ref": "Container",
          "description": "Container that will be run for each workstation using this configuration when that workstation is started."
        }
      }
    },
    "TestIamPermissionsResponse": {
      "id": "TestIamPermissionsResponse",
      "type": "object",
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Response message for `TestIamPermissions` method."
    },
    "SetIamPolicyRequest": {
      "type": "object",
      "id": "SetIamPolicyRequest",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        },
        "updateMask": {
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "type": "string",
          "format": "google-fieldmask"
        }
      },
      "description": "Request message for `SetIamPolicy` method."
    },
    "CustomerEncryptionKey": {
      "type": "object",
      "id": "CustomerEncryptionKey",
      "properties": {
        "kmsKey": {
          "description": "The name of the encryption key that is stored in Google Cloud KMS, for example, `projects/PROJECT_ID/locations/REGION/keyRings/KEY_RING/cryptoKeys/KEY_NAME`.",
          "type": "string"
        },
        "kmsKeyServiceAccount": {
          "type": "string",
          "description": "The service account being used for the encryption request for the given KMS key. If absent, the Compute Engine default service account is used. However, it is recommended to use a separate service account and to follow KMS best practices mentioned at https://cloud.google.com/kms/docs/separation-of-duties"
        }
      },
      "description": "A customer-specified encryption key for the Compute Engine resources of this workstation configuration."
    },
    "Container": {
      "type": "object",
      "description": "A Docker container.",
      "properties": {
        "workingDir": {
          "description": "If set, overrides the default DIR specified by the image.",
          "type": "string"
        },
        "runAsUser": {
          "format": "int32",
          "description": "If set, overrides the USER specified in the image with the given uid.",
          "type": "integer"
        },
        "image": {
          "type": "string",
          "description": "Docker image defining the container. This image must be accessible by the config's service account."
        },
        "args": {
          "type": "array",
          "description": "Arguments passed to the entrypoint.",
          "items": {
            "type": "string"
          }
        },
        "command": {
          "items": {
            "type": "string"
          },
          "description": "If set, overrides the default ENTRYPOINT specified by the image.",
          "type": "array"
        },
        "env": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Environment variables passed to the container."
        }
      },
      "id": "Container"
    },
    "Workstation": {
      "type": "object",
      "description": "A single instance of a developer workstation with its own persistent storage.",
[...]
