{
  "discoveryVersion": "v1",
  "canonicalName": "YouTube",
  "description": "The YouTube Data API v3 is an API that provides access to YouTube data, such as videos, playlists, and channels.",
  "parameters": {
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "basePath": "",
  "fullyEncodeReservedExpansion": true,
  "documentationLink": "https://developers.google.com/youtube/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/youtube.readonly": {
          "description": "View your YouTube account"
        },
        "https://www.googleapis.com/auth/youtubepartner": {
          "description": "View and manage your assets and associated content on YouTube"
        },
        "https://www.googleapis.com/auth/youtubepartner-channel-audit": {
          "description": "View private information of your YouTube channel relevant during the audit process with a YouTube partner"
        },
        "https://www.googleapis.com/auth/youtube.force-ssl": {
          "description": "See, edit, and permanently delete your YouTube videos, ratings, comments and captions"
        },
        "https://www.googleapis.com/auth/youtube": {
          "description": "Manage your YouTube account"
        },
        "https://www.googleapis.com/auth/youtube.upload": {
          "description": "Manage your YouTube videos"
        },
        "https://www.googleapis.com/auth/youtube.channel-memberships.creator": {
          "description": "See a list of your current active channel members, their current level, and when they became a member"
        }
      }
    }
  },
  "baseUrl": "https://www.googleapis.com/",
  "protocol": "rest",
  "batchPath": "batch/youtube",
  "revision": "20200909",
  "schemas": {
    "LiveChatMessageDeletedDetails": {
      "id": "LiveChatMessageDeletedDetails",
      "properties": {
        "deletedMessageId": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "LiveStreamListResponse": {
      "type": "object",
      "properties": {
        "tokenPagination": {
          "$ref": "TokenPagination"
        },
        "items": {
          "type": "array",
          "description": "A list of live streams that match the request criteria.",
          "items": {
            "$ref": "LiveStream"
          }
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "eventId": {
          "description": "Serialized EventId of the request which produced this response.",
          "type": "string"
        },
        "kind": {
          "default": "youtube#liveStreamListResponse",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#liveStreamListResponse\".",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set."
        },
        "pageInfo": {
          "$ref": "PageInfo"
        },
        "visitorId": {
          "type": "string",
          "description": "The visitorId identifies the visitor."
        },
        "prevPageToken": {
          "type": "string",
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set."
        }
      },
      "id": "LiveStreamListResponse"
    },
    "PropertyValue": {
      "type": "object",
      "id": "PropertyValue",
      "properties": {
        "property": {
          "description": "A property.",
          "type": "string"
        },
        "value": {
          "description": "The property's value.",
          "type": "string"
        }
      },
      "description": "A pair Property / Value."
    },
    "Subscription": {
      "description": "A *subscription* resource contains information about a YouTube user subscription. A subscription notifies a user when new videos are added to a channel or when another user takes one of several actions on YouTube, such as uploading a video, rating a video, or commenting on a video.",
      "id": "Subscription",
      "type": "object",
      "properties": {
        "id": {
          "description": "The ID that YouTube uses to uniquely identify the subscription.",
          "type": "string"
        },
        "contentDetails": {
          "$ref": "SubscriptionContentDetails",
          "description": "The contentDetails object contains basic statistics about the subscription."
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "kind": {
          "default": "youtube#subscription",
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#subscription\"."
        },
        "subscriberSnippet": {
          "description": "The subscriberSnippet object contains basic details about the subscriber.",
          "$ref": "SubscriptionSubscriberSnippet"
        },
        "snippet": {
          "$ref": "SubscriptionSnippet",
          "description": "The snippet object contains basic details about the subscription, including its title and the channel that the user subscribed to."
        }
      }
    },
    "VideoLiveStreamingDetails": {
      "id": "VideoLiveStreamingDetails",
      "description": "Details about the live streaming metadata.",
      "properties": {
        "actualStartTime": {
          "description": "The time that the broadcast actually started. The value is specified in ISO 8601 format. This value will not be available until the broadcast begins.",
          "type": "string"
        },
        "scheduledStartTime": {
          "type": "string",
          "description": "The time that the broadcast is scheduled to begin. The value is specified in ISO 8601 format."
        },
        "actualEndTime": {
          "description": "The time that the broadcast actually ended. The value is specified in ISO 8601 format. This value will not be available until the broadcast is over.",
          "type": "string"
        },
        "activeLiveChatId": {
          "description": "The ID of the currently active live chat attached to this video. This field is filled only if the video is a currently live broadcast that has live chat. Once the broadcast transitions to complete this field will be removed and the live chat closed down. For persistent broadcasts that live chat id will no longer be tied to this video but rather to the new video being displayed at the persistent page.",
          "type": "string"
        },
        "scheduledEndTime": {
          "type": "string",
          "description": "The time that the broadcast is scheduled to end. The value is specified in ISO 8601 format. If the value is empty or the property is not present, then the broadcast is scheduled to continue indefinitely."
        },
        "concurrentViewers": {
          "format": "uint64",
          "description": "The number of viewers currently watching the broadcast. The property and its value will be present if the broadcast has current viewers and the broadcast owner has not hidden the viewcount for the video. Note that YouTube stops tracking the number of concurrent viewers for a broadcast when the broadcast ends. So, this property would not identify the number of viewers watching an archived video of a live broadcast that already ended.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ActivityContentDetailsPromotedItem": {
      "properties": {
        "adTag": {
          "description": "The URL the client should fetch to request a promoted item.",
          "type": "string"
        },
        "descriptionText": {
          "description": "The text description to accompany the promoted item.",
          "type": "string"
        },
        "destinationUrl": {
          "description": "The URL the client should direct the user to, if the user chooses to visit the advertiser's website.",
          "type": "string"
        },
        "ctaType": {
          "type": "string",
          "description": "The type of call-to-action, a message to the user indicating action that can be taken.",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "ctaTypeUnspecified",
            "visitAdvertiserSite"
          ]
        },
        "customCtaButtonText": {
          "description": "The custom call-to-action button text. If specified, it will override the default button text for the cta_type.",
          "type": "string"
        },
        "clickTrackingUrl": {
          "type": "string",
          "description": "The URL the client should ping to indicate that the user clicked through on this promoted item."
        },
        "impressionUrl": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The list of impression URLs. The client should ping all of these URLs to indicate that the user was shown this promoted item."
        },
        "videoId": {
          "description": "The ID that YouTube uses to uniquely identify the promoted video.",
          "type": "string"
        },
        "creativeViewUrl": {
          "type": "string",
          "description": "The URL the client should ping to indicate that the user was shown this promoted item."
        },
        "forecastingUrl": {
          "items": {
            "type": "string"
          },
          "description": "The list of forecasting URLs. The client should ping all of these URLs when a promoted item is not available, to indicate that a promoted item could have been shown.",
          "type": "array"
        }
      },
      "id": "ActivityContentDetailsPromotedItem",
      "description": "Details about a resource which is being promoted.",
      "type": "object"
    },
    "InfoCardSnippetTeaser": {
      "type": "object",
      "properties": {
        "teaserText": {
          "description": "The teaser text to show at the top of the player for the info-card. Required for channel and link type cards. Optional for video and playlist type cards.",
          "type": "string"
        },
        "teaserStartOffset": {
          "type": "string",
          "description": "The offset from the video start at which the teaser should be displayed (activated), in milliseconds. Required.",
          "format": "google-duration"
        }
      },
      "id": "InfoCardSnippetTeaser"
    },
    "LiveChatMessage": {
      "id": "LiveChatMessage",
      "properties": {
        "kind": {
          "default": "youtube#liveChatMessage",
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#liveChatMessage\"."
        },
        "id": {
          "type": "string",
          "description": "The ID that YouTube assigns to uniquely identify the message."
        },
        "authorDetails": {
          "$ref": "LiveChatMessageAuthorDetails",
          "description": "The authorDetails object contains basic details about the user that posted this message."
        },
        "snippet": {
          "$ref": "LiveChatMessageSnippet",
          "description": "The snippet object contains basic details about the message."
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        }
      },
      "description": "A *liveChatMessage* resource represents a chat message in a YouTube Live Chat.",
      "type": "object"
    },
    "LiveStreamHealthStatus": {
      "id": "LiveStreamHealthStatus",
      "type": "object",
      "properties": {
        "lastUpdateTimeSeconds": {
          "type": "string",
          "description": "The last time this status was updated (in seconds)",
          "format": "uint64"
        },
        "status": {
          "description": "The status code of this stream",
          "type": "string",
          "enum": [
            "good",
            "ok",
            "bad",
            "noData",
            "revoked"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "configurationIssues": {
          "items": {
            "$ref": "LiveStreamConfigurationIssue"
          },
          "description": "The configurations issues on this stream",
          "type": "array"
        }
      }
    },
    "LiveStreamSnippet": {
      "id": "LiveStreamSnippet",
      "type": "object",
      "properties": {
        "description": {
          "description": "The stream's description. The value cannot be longer than 10000 characters.",
          "type": "string"
        },
        "channelId": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the channel that is transmitting the stream."
        },
        "isDefaultStream": {
          "type": "boolean"
        },
        "title": {
          "type": "string",
          "description": "The stream's title. The value must be between 1 and 128 characters long."
        },
        "publishedAt": {
          "type": "string",
          "description": "The date and time that the stream was created. The value is specified in ISO 8601 format."
        }
      }
    },
    "LiveBroadcastStatus": {
      "type": "object",
      "properties": {
        "selfDeclaredMadeForKids": {
          "description": "This field will be set to True if the creator declares the broadcast to be kids only: go/live-cw-work.",
          "type": "boolean"
        },
        "privacyStatus": {
          "enum": [
            "public",
            "unlisted",
            "private"
          ],
          "description": "The broadcast's privacy status. Note that the broadcast represents exactly one YouTube video, so the privacy settings are identical to those supported for videos. In addition, you can set this field by modifying the broadcast resource or by setting the privacyStatus field of the corresponding video resource.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "madeForKids": {
          "description": "Whether the broadcast is made for kids or not, decided by YouTube instead of the creator. This field is read only.",
          "type": "boolean"
        },
        "liveBroadcastPriority": {
          "description": "Priority of the live broadcast event (internal state).",
          "type": "string",
          "enum": [
            "liveBroadcastPriorityUnspecified",
            "low",
            "normal",
            "high"
          ],
          "enumDescriptions": [
            "",
            "Low priority broadcast: for low view count HoAs or other low priority broadcasts.",
            "Normal priority broadcast: for regular HoAs and broadcasts.",
            "High priority broadcast: for high profile HoAs, like PixelCorp ones."
          ]
        },
        "recordingStatus": {
          "enum": [
            "liveBroadcastRecordingStatusUnspecified",
            "notRecording",
            "recording",
            "recorded"
          ],
          "type": "string",
          "enumDescriptions": [
            "No value or the value is unknown.",
            "The recording has not yet been started.",
            "The recording is currently on.",
            "The recording is completed, and cannot be started again."
          ],
          "description": "The broadcast's recording status."
        },
        "lifeCycleStatus": {
          "description": "The broadcast's status. The status can be updated using the API's liveBroadcasts.transition method.",
          "enumDescriptions": [
            "No value or the value is unknown.",
            "Incomplete settings, but otherwise valid",
            "Complete settings",
            "Visible only to partner, may need special UI treatment",
            "Viper is recording; this means the \"clock\" is running",
            "The broadcast is finished.",
            "This broadcast was removed by admin action",
            "Transition into TESTING has been requested",
            "Transition into LIVE has been requested"
          ],
          "type": "string",
          "enum": [
            "lifeCycleStatusUnspecified",
            "created",
            "ready",
            "testing",
            "live",
            "complete",
            "revoked",
            "testStarting",
            "liveStarting"
          ]
        }
      },
      "id": "LiveBroadcastStatus",
      "description": "Live broadcast state."
    },
    "VideoLocalization": {
      "properties": {
        "description": {
          "description": "Localized version of the video's description.",
          "type": "string"
        },
        "title": {
          "description": "Localized version of the video's title.",
          "type": "string"
        }
      },
      "id": "VideoLocalization",
      "type": "object",
      "description": "Localized versions of certain video properties (e.g. title)."
    },
    "LiveChatBanSnippet": {
      "properties": {
        "banDurationSeconds": {
          "type": "string",
          "format": "uint64",
          "description": "The duration of a ban, only filled if the ban has type TEMPORARY."
        },
        "liveChatId": {
          "description": "The chat this ban is pertinent to.",
          "type": "string"
        },
        "bannedUserDetails": {
          "$ref": "ChannelProfileDetails"
        },
        "type": {
          "enum": [
            "liveChatBanTypeUnspecified",
            "permanent",
            "temporary"
          ],
          "enumDescriptions": [
            "An invalid ban type.",
            "A permanent ban.",
            "A temporary ban."
          ],
          "description": "The type of ban.",
          "type": "string"
        }
      },
      "id": "LiveChatBanSnippet",
      "type": "object"
    },
    "AccessPolicy": {
      "type": "object",
      "description": "Rights management policy for YouTube resources.",
      "id": "AccessPolicy",
      "properties": {
        "allowed": {
          "type": "boolean",
          "description": "The value of allowed indicates whether the access to the policy is allowed or denied by default."
        },
        "exception": {
          "description": "A list of region codes that identify countries where the default policy do not apply.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "I18nRegionSnippet": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The human-readable name of the region."
        },
        "gl": {
          "description": "The region code as a 2-letter ISO country code.",
          "type": "string"
        }
      },
      "id": "I18nRegionSnippet",
      "type": "object",
      "description": "Basic details about an i18n region, such as region code and human-readable name."
    },
    "LiveChatSuperChatDetails": {
      "type": "object",
      "properties": {
        "currency": {
          "description": "The currency in which the purchase was made.",
          "type": "string"
        },
        "amountMicros": {
          "format": "uint64",
          "description": "The amount purchased by the user, in micros (1,750,000 micros = 1.75).",
          "type": "string"
        },
        "tier": {
          "type": "integer",
          "description": "The tier in which the amount belongs. Lower amounts belong to lower tiers. The lowest tier is 1.",
          "format": "uint32"
        },
        "userComment": {
          "description": "The comment added by the user to this Super Chat event.",
          "type": "string"
        },
        "amountDisplayString": {
          "description": "A rendered string that displays the fund amount and currency to the user.",
          "type": "string"
        }
      },
      "id": "LiveChatSuperChatDetails"
    },
    "VideoPlayer": {
      "properties": {
        "embedHtml": {
          "description": "An \u003ciframe\u003e tag that embeds a player that will play the video.",
          "type": "string"
        },
        "embedWidth": {
          "description": "The embed width",
          "type": "string",
          "format": "int64"
        },
        "embedHeight": {
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "VideoPlayer",
      "description": "Player to be used for a video playback."
    },
    "LiveChatMessageAuthorDetails": {
      "id": "LiveChatMessageAuthorDetails",
      "type": "object",
      "properties": {
        "channelUrl": {
          "description": "The channel's URL.",
          "type": "string"
        },
        "isChatOwner": {
          "description": "Whether the author is the owner of the live chat.",
          "type": "boolean"
        },
        "displayName": {
          "type": "string",
          "description": "The channel's display name."
        },
        "channelId": {
          "type": "string",
          "description": "The YouTube channel ID."
        },
        "isChatSponsor": {
          "type": "boolean",
          "description": "Whether the author is a sponsor of the live chat."
        },
        "isVerified": {
          "description": "Whether the author's identity has been verified by YouTube.",
          "type": "boolean"
        },
        "isChatModerator": {
          "description": "Whether the author is a moderator of the live chat.",
          "type": "boolean"
        },
        "profileImageUrl": {
          "type": "string",
          "description": "The channels's avatar URL."
        }
      }
    },
    "LiveBroadcastStatistics": {
      "description": "Statistics about the live broadcast. These represent a snapshot of the values at the time of the request. Statistics are only returned for live broadcasts.",
      "type": "object",
      "id": "LiveBroadcastStatistics",
      "properties": {
        "totalChatCount": {
          "type": "string",
          "format": "uint64",
          "description": "The total number of live chat messages currently on the broadcast. The property and its value will be present if the broadcast is public, has the live chat feature enabled, and has at least one message. Note that this field will not be filled after the broadcast ends. So this property would not identify the number of chat messages for an archived video of a completed live broadcast."
        }
      }
    },
    "ChannelSectionSnippet": {
      "description": "Basic details about a channel section, including title, style and position.",
      "type": "object",
      "id": "ChannelSectionSnippet",
      "properties": {
        "localized": {
          "description": "Localized title, read-only.",
          "$ref": "ChannelSectionLocalization"
        },
        "title": {
          "type": "string",
          "description": "The channel section's title for multiple_playlists and multiple_channels."
        },
        "channelId": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the channel that published the channel section."
        },
        "position": {
          "description": "The position of the channel section in the channel.",
          "format": "uint32",
          "type": "integer"
        },
        "style": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "channelsectionStyleUnspecified",
            "horizontalRow",
            "verticalList"
          ],
          "description": "The style of the channel section.",
          "type": "string"
        },
        "defaultLanguage": {
          "description": "The language of the channel section's default title and description.",
          "type": "string"
        },
        "type": {
          "enum": [
            "channelsectionTypeUnspecified",
            "singlePlaylist",
            "multiplePlaylists",
            "popularUploads",
            "recentUploads",
            "likes",
            "allPlaylists",
            "likedPlaylists",
            "recentPosts",
            "recentActivity",
            "liveEvents",
            "upcomingEvents",
            "completedEvents",
            "multipleChannels",
            "postedVideos",
            "postedPlaylists",
            "subscriptions"
          ],
          "description": "The type of the channel section.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        }
      }
    },
    "ActivityContentDetailsBulletin": {
      "type": "object",
      "properties": {
        "resourceId": {
          "$ref": "ResourceId",
          "description": "The resourceId object contains information that identifies the resource associated with a bulletin post. @mutable youtube.activities.insert"
        }
      },
      "description": "Details about a channel bulletin post.",
      "id": "ActivityContentDetailsBulletin"
    },
    "MonitorStreamInfo": {
      "id": "MonitorStreamInfo",
      "type": "object",
      "description": "Settings and Info of the monitor stream",
      "properties": {
        "embedHtml": {
          "type": "string",
          "description": "HTML code that embeds a player that plays the monitor stream."
        },
        "enableMonitorStream": {
          "annotations": {
            "required": [
              "youtube.liveBroadcasts.update"
            ]
          },
          "description": "This value determines whether the monitor stream is enabled for the broadcast. If the monitor stream is enabled, then YouTube will broadcast the event content on a special stream intended only for the broadcaster's consumption. The broadcaster can use the stream to review the event content and also to identify the optimal times to insert cuepoints. You need to set this value to true if you intend to have a broadcast delay for your event. *Note:* This property cannot be updated once the broadcast is in the testing or live state.",
          "type": "boolean"
        },
        "broadcastStreamDelayMs": {
          "description": "If you have set the enableMonitorStream property to true, then this property determines the length of the live broadcast delay.",
          "annotations": {
            "required": [
              "youtube.liveBroadcasts.update"
            ]
          },
          "format": "uint32",
          "type": "integer"
        }
      }
    },
    "I18nLanguageSnippet": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The human-readable name of the language in the language itself."
        },
        "hl": {
          "description": "A short BCP-47 code that uniquely identifies a language.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "I18nLanguageSnippet",
      "description": "Basic details about an i18n language, such as language code and human-readable name."
    },
    "ChannelLocalization": {
      "properties": {
        "title": {
          "type": "string",
          "description": "The localized strings for channel's title."
        },
        "description": {
          "type": "string",
          "description": "The localized strings for channel's description."
        }
      },
      "type": "object",
      "description": "Channel localization setting",
      "id": "ChannelLocalization"
    },
    "InvideoPromotion": {
      "id": "InvideoPromotion",
      "type": "object",
      "description": "Describes an invideo promotion campaign consisting of multiple promoted items. A campaign belongs to a single channel_id.",
      "properties": {
        "defaultTiming": {
          "$ref": "InvideoTiming",
          "description": "The default temporal position within the video where the promoted item will be displayed. Can be overridden by more specific timing in the item."
        },
        "useSmartTiming": {
          "type": "boolean",
          "description": "Indicates whether the channel's promotional campaign uses \"smart timing.\" This feature attempts to show promotions at a point in the video when they are more likely to be clicked and less likely to disrupt the viewing experience. This feature also picks up a single promotion to show on each video."
        },
        "items": {
          "type": "array",
          "description": "List of promoted items in decreasing priority.",
          "items": {
            "$ref": "PromotedItem"
          }
        },
        "position": {
          "$ref": "InvideoPosition",
          "description": "The spatial position within the video where the promoted item will be displayed."
        }
      }
    },
    "ActivityContentDetailsFavorite": {
      "description": "Information about a video that was marked as a favorite video.",
      "type": "object",
      "properties": {
        "resourceId": {
          "description": "The resourceId object contains information that identifies the resource that was marked as a favorite.",
          "$ref": "ResourceId"
        }
      },
      "id": "ActivityContentDetailsFavorite"
    },
    "SuperStickerMetadata": {
      "type": "object",
      "properties": {
        "altText": {
          "type": "string",
          "description": "Internationalized alt text that describes the sticker image and any animation associated with it."
        },
        "altTextLanguage": {
          "type": "string",
          "description": "Specifies the localization language in which the alt text is returned."
        },
        "stickerId": {
          "type": "string",
          "description": "Unique identifier of the Super Sticker. This is a shorter form of the alt_text that includes pack name and a recognizable characteristic of the sticker."
        }
      },
      "id": "SuperStickerMetadata"
    },
    "Endscreen": {
      "type": "object",
      "properties": {
        "elements": {
          "type": "array",
          "items": {
            "$ref": "EndscreenElement"
          },
          "description": "A list of endscreen elements."
        },
        "startOffset": {
          "description": "The time we start the endscreen in milliseconds.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "id": "Endscreen"
    },
    "SubscriptionContentDetails": {
      "properties": {
        "totalItemCount": {
          "type": "integer",
          "format": "uint32",
          "description": "The approximate number of items that the subscription points to."
        },
        "activityType": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "subscriptionActivityTypeUnspecified",
            "all",
            "uploads"
          ],
          "description": "The type of activity this subscription is for (only uploads, everything).",
          "type": "string"
        },
        "newItemCount": {
          "format": "uint32",
          "type": "integer",
          "description": "The number of new items in the subscription since its content was last read."
        }
      },
      "type": "object",
      "id": "SubscriptionContentDetails",
      "description": "Details about the content to witch a subscription refers."
    },
    "VideoContentDetails": {
      "properties": {
        "licensedContent": {
          "description": "The value of is_license_content indicates whether the video is licensed content.",
          "type": "boolean"
        },
        "regionRestriction": {
          "$ref": "VideoContentDetailsRegionRestriction",
          "description": "The regionRestriction object contains information about the countries where a video is (or is not) viewable. The object will contain either the contentDetails.regionRestriction.allowed property or the contentDetails.regionRestriction.blocked property."
        },
        "countryRestriction": {
          "$ref": "AccessPolicy",
          "description": "The countryRestriction object contains information about the countries where a video is (or is not) viewable."
        },
        "caption": {
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "true",
            "false"
          ],
          "type": "string",
          "description": "The value of captions indicates whether the video has captions or not."
        },
        "hasCustomThumbnail": {
          "description": "Indicates whether the video uploader has provided a custom thumbnail image for the video. This property is only visible to the video uploader.",
          "type": "boolean"
        },
        "dimension": {
          "type": "string",
          "description": "The value of dimension indicates whether the video is available in 3D or in 2D."
        },
        "contentRating": {
          "description": "Specifies the ratings that the video received under various rating schemes.",
          "$ref": "ContentRating"
        },
        "projection": {
          "enum": [
            "rectangular",
            "360"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "description": "Specifies the projection format of the video."
        },
        "definition": {
          "enumDescriptions": [
            "sd",
            "hd"
          ],
          "type": "string",
          "description": "The value of definition indicates whether the video is available in high definition or only in standard definition.",
          "enum": [
            "sd",
            "hd"
          ]
        },
        "duration": {
          "type": "string",
          "description": "The length of the video. The tag value is an ISO 8601 duration in the format PT#M#S, in which the letters PT indicate that the value specifies a period of time, and the letters M and S refer to length in minutes and seconds, respectively. The # characters preceding the M and S letters are both integers that specify the number of minutes (or seconds) of the video. For example, a value of PT15M51S indicates that the video is 15 minutes and 51 seconds long."
        }
      },
      "description": "Details about the content of a YouTube Video.",
      "id": "VideoContentDetails",
      "type": "object"
    },
    "VideoStatistics": {
      "description": "Statistics about the video, such as the number of times the video was viewed or liked.",
      "id": "VideoStatistics",
      "properties": {
        "dislikeCount": {
          "description": "The number of users who have indicated that they disliked the video by giving it a negative rating.",
          "type": "string",
          "format": "uint64"
        },
        "favoriteCount": {
          "description": "The number of users who currently have the video marked as a favorite video.",
          "type": "string",
          "format": "uint64"
        },
        "likeCount": {
          "format": "uint64",
          "description": "The number of users who have indicated that they liked the video by giving it a positive rating.",
          "type": "string"
        },
        "commentCount": {
          "description": "The number of comments for the video.",
          "format": "uint64",
          "type": "string"
        },
        "viewCount": {
          "description": "The number of times the video has been viewed.",
          "type": "string",
          "format": "uint64"
        }
      },
      "type": "object"
    },
    "SubscriptionSnippet": {
      "type": "object",
      "id": "SubscriptionSnippet",
      "properties": {
        "resourceId": {
          "$ref": "ResourceId",
          "annotations": {
            "required": [
              "youtube.subscriptions.insert"
            ]
          },
          "description": "The id object contains information about the channel that the user subscribed to."
        },
        "thumbnails": {
          "$ref": "ThumbnailDetails",
          "description": "A map of thumbnail images associated with the video. For each object in the map, the key is the name of the thumbnail image, and the value is an object that contains other information about the thumbnail."
        },
        "description": {
          "description": "The subscription's details.",
          "type": "string"
        },
        "channelId": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the subscriber's channel."
        },
        "title": {
          "type": "string",
          "description": "The subscription's title."
        },
        "publishedAt": {
          "type": "string",
          "description": "The date and time that the subscription was created. The value is specified in ISO 8601 format."
        },
        "channelTitle": {
          "description": "Channel title for the channel that the subscription belongs to.",
          "type": "string"
        }
      },
      "description": "Basic details about a subscription, including title, description and thumbnails of the subscribed item."
    },
    "ChannelElement": {
      "id": "ChannelElement",
      "type": "object",
      "properties": {
        "customMessage": {
          "description": "Customized message for the element. Required.",
          "type": "string"
        },
        "channelId": {
          "type": "string",
          "description": "External channel ID. Required."
        }
      }
    },
    "PlaylistItemSnippet": {
      "description": "Basic details about a playlist, including title, description and thumbnails. Basic details of a YouTube Playlist item provided by the author. Next ID: 13",
      "properties": {
        "resourceId": {
          "description": "The id object contains information that can be used to uniquely identify the resource that is included in the playlist as the playlist item.",
          "$ref": "ResourceId"
        },
        "channelId": {
          "description": "The ID that YouTube uses to uniquely identify the user that added the item to the playlist.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "The item's description."
        },
        "thumbnails": {
          "$ref": "ThumbnailDetails",
          "description": "A map of thumbnail images associated with the playlist item. For each object in the map, the key is the name of the thumbnail image, and the value is an object that contains other information about the thumbnail."
        },
        "position": {
          "format": "uint32",
          "type": "integer",
          "description": "The order in which the item appears in the playlist. The value uses a zero-based index, so the first item has a position of 0, the second item has a position of 1, and so forth."
        },
        "publishedAt": {
          "description": "The date and time that the item was added to the playlist. The value is specified in ISO 8601 format.",
          "type": "string"
        },
        "playlistId": {
          "description": "The ID that YouTube uses to uniquely identify thGe playlist that the playlist item is in.",
          "type": "string"
        },
        "channelTitle": {
          "description": "Channel title for the channel that the playlist item belongs to.",
          "type": "string"
        },
        "title": {
          "description": "The item's title.",
          "type": "string"
        }
      },
      "id": "PlaylistItemSnippet",
      "type": "object"
    },
    "VideoListResponse": {
      "id": "VideoListResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set.",
          "type": "string"
        },
        "tokenPagination": {
          "$ref": "TokenPagination"
        },
        "items": {
          "items": {
            "$ref": "Video"
          },
          "type": "array"
        },
        "eventId": {
          "description": "Serialized EventId of the request which produced this response.",
          "type": "string"
        },
        "pageInfo": {
          "$ref": "PageInfo",
          "description": "General pagination information."
        },
        "prevPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#videoListResponse\".",
          "default": "youtube#videoListResponse",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "visitorId": {
          "type": "string",
          "description": "The visitorId identifies the visitor."
        }
      }
    },
    "VideoProjectDetails": {
      "properties": {
        "tags": {
          "description": "A list of project tags associated with the video during the upload.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Project specific details about the content of a YouTube Video.",
      "id": "VideoProjectDetails",
      "type": "object"
    },
    "ChannelConversionPing": {
      "type": "object",
      "properties": {
        "conversionUrl": {
          "type": "string",
          "description": "The url (without the schema) that the player shall send the ping to. It's at caller's descretion to decide which schema to use (http vs https) Example of a returned url: //googleads.g.doubleclick.net/pagead/ viewthroughconversion/962985656/?data=path%3DtHe_path%3Btype%3D cview%3Butuid%3DGISQtTNGYqaYl4sKxoVvKA&labe=default The caller must append biscotti authentication (ms param in case of mobile, for example) to this ping."
        },
        "context": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "subscribe",
            "unsubscribe",
            "cview"
          ],
          "description": "Defines the context of the ping.",
          "type": "string"
        }
      },
      "id": "ChannelConversionPing",
      "description": "Pings that the app shall fire (authenticated by biscotti cookie). Each ping has a context, in which the app must fire the ping, and a url identifying the ping."
    },
    "I18nLanguageListResponse": {
      "id": "I18nLanguageListResponse",
      "properties": {
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "eventId": {
          "description": "Serialized EventId of the request which produced this response.",
          "type": "string"
        },
        "items": {
          "description": "A list of supported i18n languages. In this map, the i18n language ID is the map key, and its value is the corresponding i18nLanguage resource.",
          "items": {
            "$ref": "I18nLanguage"
          },
          "type": "array"
        },
        "visitorId": {
          "description": "The visitorId identifies the visitor.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#i18nLanguageListResponse\".",
          "default": "youtube#i18nLanguageListResponse",
          "type": "string"
        }
      },
      "type": "object"
    },
    "VideoAbuseReport": {
      "id": "VideoAbuseReport",
      "properties": {
        "videoId": {
          "description": "The ID that YouTube uses to uniquely identify the video.",
          "type": "string"
        },
        "reasonId": {
          "type": "string",
          "description": "The high-level, or primary, reason that the content is abusive. The value is an abuse report reason ID."
        },
        "language": {
          "description": "The language that the content was viewed in.",
          "type": "string"
        },
        "secondaryReasonId": {
          "description": "The specific, or secondary, reason that this content is abusive (if available). The value is an abuse report reason ID that is a valid secondary reason for the primary reason.",
          "type": "string"
        },
        "comments": {
          "description": "Additional comments regarding the abuse report.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "InvideoBranding": {
      "type": "object",
      "description": "LINT.IfChange Describes an invideo branding.",
      "properties": {
        "position": {
          "description": "The spatial position within the video where the branding watermark will be displayed.",
          "$ref": "InvideoPosition"
        },
        "timing": {
          "description": "The temporal position within the video where watermark will be displayed.",
          "$ref": "InvideoTiming"
        },
        "targetChannelId": {
          "type": "string",
          "description": "The channel to which this branding links. If not present it defaults to the current channel."
        },
        "imageUrl": {
          "description": "The url of the uploaded image. Only used in apiary to api communication.",
          "type": "string"
        },
        "imageBytes": {
          "format": "byte",
          "type": "string",
          "description": "The bytes the uploaded image. Only used in api to youtube communication."
        }
      },
      "id": "InvideoBranding"
    },
    "PlaylistContentDetails": {
      "id": "PlaylistContentDetails",
      "type": "object",
      "properties": {
        "itemCount": {
          "type": "integer",
          "format": "uint32",
          "description": "The number of videos in the playlist."
        }
      }
    },
    "ChannelSectionListResponse": {
      "type": "object",
      "properties": {
        "visitorId": {
          "description": "The visitorId identifies the visitor.",
          "type": "string"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#channelSectionListResponse\".",
          "default": "youtube#channelSectionListResponse",
          "type": "string"
        },
        "eventId": {
          "description": "Serialized EventId of the request which produced this response.",
          "type": "string"
        },
        "items": {
          "description": "A list of ChannelSections that match the request criteria.",
          "items": {
            "$ref": "ChannelSection"
          },
          "type": "array"
        }
      },
      "id": "ChannelSectionListResponse"
    },
    "PlaylistElement": {
      "properties": {
        "playlistId": {
          "description": "External playlist ID. Required.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "PlaylistElement"
    },
    "LiveChatUserBannedMessageDetails": {
      "type": "object",
      "properties": {
        "banType": {
          "type": "string",
          "enum": [
            "permanent",
            "temporary"
          ],
          "enumDescriptions": [
            "",
            ""
          ],
          "description": "The type of ban."
        },
        "bannedUserDetails": {
          "description": "The details of the user that was banned.",
          "$ref": "ChannelProfileDetails"
        },
        "banDurationSeconds": {
          "description": "The duration of the ban. This property is only present if the banType is temporary.",
          "format": "uint64",
          "type": "string"
        }
      },
      "id": "LiveChatUserBannedMessageDetails"
    },
    "MerchandiseElement": {
      "type": "object",
      "properties": {},
      "id": "MerchandiseElement"
    },
    "TestItem": {
      "type": "object",
      "id": "TestItem",
      "properties": {
        "snippet": {
          "$ref": "TestItemTestItemSnippet"
        },
        "gaia": {
          "type": "string",
          "format": "int64"
        },
        "id": {
          "type": "string"
        }
      }
    },
    "VideoSuggestionsTagSuggestion": {
      "description": "A single tag suggestion with it's relevance information.",
      "type": "object",
      "properties": {
        "categoryRestricts": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A set of video categories for which the tag is relevant. You can use this information to display appropriate tag suggestions based on the video category that the video uploader associates with the video. By default, tag suggestions are relevant for all categories if there are no restricts defined for the keyword."
        },
        "tag": {
          "type": "string",
          "description": "The keyword tag suggested for the video."
        }
      },
      "id": "VideoSuggestionsTagSuggestion"
    },
    "ChannelSnippet": {
      "properties": {
        "publishedAt": {
          "description": "The date and time that the channel was created. The value is specified in \u003c a href=\"//www.w3.org/TR/NOTE-datetime\"\u003eISO 8601 format.",
          "type": "string"
        },
        "thumbnails": {
          "$ref": "ThumbnailDetails",
          "description": "A map of thumbnail images associated with the channel. For each object in the map, the key is the name of the thumbnail image, and the value is an object that contains other information about the thumbnail. When displaying thumbnails in your application, make sure that your code uses the image URLs exactly as they are returned in API responses. For example, your application should not use the http domain instead of the https domain in a URL returned in an API response. Beginning in July 2018, channel thumbnail URLs will only be available in the https domain, which is how the URLs appear in API responses. After that time, you might see broken images in your application if it tries to load YouTube images from the http domain."
        },
        "localized": {
          "$ref": "ChannelLocalization",
          "description": "Localized title and description, read-only."
        },
        "description": {
          "description": "The description of the channel.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The channel's title."
        },
        "customUrl": {
          "description": "The custom url of the channel.",
          "type": "string"
        },
        "country": {
          "type": "string",
          "description": "The country of the channel."
        },
        "defaultLanguage": {
          "type": "string",
          "description": "The language of the channel's default title and description."
        }
      },
      "type": "object",
      "description": "Basic details about a channel, including title, description and thumbnails.",
      "id": "ChannelSnippet"
    },
    "ActivityContentDetailsComment": {
      "id": "ActivityContentDetailsComment",
      "properties": {
        "resourceId": {
          "$ref": "ResourceId",
          "description": "The resourceId object contains information that identifies the resource associated with the comment."
        }
      },
      "description": "Information about a resource that received a comment.",
      "type": "object"
    },
    "Entity": {
      "type": "object",
      "properties": {
        "typeId": {
          "type": "string"
        },
        "url": {
          "type": "string"
        },
        "id": {
          "type": "string"
        }
      },
      "id": "Entity"
    },
    "VideoStatus": {
      "description": "Basic details about a video category, such as its localized title. Next Id: 17",
      "id": "VideoStatus",
      "type": "object",
      "properties": {
        "madeForKids": {
          "type": "boolean"
        },
        "publishAt": {
          "description": "The date and time when the video is scheduled to publish. It can be set only if the privacy status of the video is private. The value is specified in ISO 8601 format.",
          "type": "string"
        },
        "selfDeclaredMadeForKids": {
          "type": "boolean"
        },
        "privacyStatus": {
          "description": "The video's privacy status.",
          "enum": [
            "public",
            "unlisted",
            "private"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "uploadStatus": {
          "type": "string",
          "description": "The status of the uploaded video.",
          "enum": [
            "uploaded",
            "processed",
            "failed",
            "rejected",
            "deleted"
          ],
          "enumDescriptions": [
            "Video has been uploaded but not processed yet.",
            "Video has been successfully processed.",
            "Processing has failed. See FailureReason.",
            "Video has been rejected. See RejectionReason.",
            "Video has been deleted."
          ]
        },
        "failureReason": {
          "description": "This value explains why a video failed to upload. This property is only present if the uploadStatus property indicates that the upload failed.",
          "enum": [
            "conversion",
            "invalidFile",
            "emptyFile",
            "tooSmall",
            "codec",
            "uploadAborted"
          ],
          "enumDescriptions": [
            "Unable to convert video content.",
            "Invalid file format.",
            "Empty file.",
            "File was too small.",
            "Unsupported codec.",
            "Upload wasn't finished."
          ],
          "type": "string"
        },
        "embeddable": {
          "description": "This value indicates if the video can be embedded on another website. @mutable youtube.videos.insert youtube.videos.update",
          "type": "boolean"
        },
        "license": {
          "enum": [
            "youtube",
            "creativeCommon"
          ],
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string",
          "description": "The video's license. @mutable youtube.videos.insert youtube.videos.update"
        },
        "publicStatsViewable": {
          "type": "boolean",
          "description": "This value indicates if the extended video statistics on the watch page can be viewed by everyone. Note that the view count, likes, etc will still be visible if this is disabled. @mutable youtube.videos.insert youtube.videos.update"
        },
        "rejectionReason": {
          "type": "string",
          "enumDescriptions": [
            "Copyright infringement.",
            "Inappropriate video content.",
            "Duplicate upload in the same channel.",
            "Terms of use violation.",
            "Uploader account was suspended.",
            "Video duration was too long.",
            "Blocked by content owner.",
            "Uploader closed his/her account.",
            "Trademark infringement.",
            "An unspecified legal reason."
          ],
          "enum": [
            "copyright",
            "inappropriate",
            "duplicate",
            "termsOfUse",
            "uploaderAccountSuspended",
            "length",
            "claim",
            "uploaderAccountClosed",
            "trademark",
            "legal"
          ],
          "description": "This value explains why YouTube rejected an uploaded video. This property is only present if the uploadStatus property indicates that the upload was rejected."
        }
      }
    },
    "RelatedEntity": {
      "type": "object",
      "id": "RelatedEntity",
      "properties": {
        "entity": {
          "$ref": "Entity"
        }
      }
    },
    "CommentThreadSnippet": {
      "description": "Basic details about a comment thread.",
      "type": "object",
      "id": "CommentThreadSnippet",
      "properties": {
        "totalReplyCount": {
          "description": "The total number of replies (not including the top level comment).",
          "format": "uint32",
          "type": "integer"
        },
        "isPublic": {
          "description": "Whether the thread (and therefore all its comments) is visible to all YouTube users.",
          "type": "boolean"
        },
        "topLevelComment": {
          "$ref": "Comment",
          "description": "The top level comment of this thread."
        },
        "channelId": {
          "description": "The YouTube channel the comments in the thread refer to or the channel with the video the comments refer to. If video_id isn't set the comments refer to the channel itself.",
          "type": "string"
        },
        "canReply": {
          "description": "Whether the current viewer of the thread can reply to it. This is viewer specific - other viewers may see a different value for this field.",
          "type": "boolean"
        },
        "videoId": {
          "description": "The ID of the video the comments refer to, if any. No video_id implies a channel discussion comment.",
          "type": "string"
        }
      }
    },
    "ChannelStatistics": {
      "description": "Statistics about a channel: number of subscribers, number of videos in the channel, etc.",
      "type": "object",
      "id": "ChannelStatistics",
      "properties": {
        "viewCount": {
          "type": "string",
          "format": "uint64",
          "description": "The number of times the channel has been viewed."
        },
        "videoCount": {
          "type": "string",
          "description": "The number of videos uploaded to the channel.",
          "format": "uint64"
        },
        "subscriberCount": {
          "type": "string",
          "description": "The number of subscribers that the channel has.",
          "format": "uint64"
        },
        "commentCount": {
          "description": "The number of comments for the channel.",
          "format": "uint64",
          "type": "string"
        },
        "hiddenSubscriberCount": {
          "description": "Whether or not the number of subscribers is shown for this user.",
          "type": "boolean"
        }
      }
    },
    "VideoProcessingDetailsProcessingProgress": {
      "id": "VideoProcessingDetailsProcessingProgress",
      "description": "Video processing progress and completion time estimate.",
      "type": "object",
      "properties": {
        "partsProcessed": {
          "format": "uint64",
          "description": "The number of parts of the video that YouTube has already processed. You can estimate the percentage of the video that YouTube has already processed by calculating: 100 * parts_processed / parts_total Note that since the estimated number of parts could increase without a corresponding increase in the number of parts that have already been processed, it is possible that the calculated progress could periodically decrease while YouTube processes a video.",
          "type": "string"
        },
        "timeLeftMs": {
          "format": "uint64",
          "description": "An estimate of the amount of time, in millseconds, that YouTube needs to finish processing the video.",
          "type": "string"
        },
        "partsTotal": {
          "format": "uint64",
          "type": "string",
          "description": "An estimate of the total number of parts that need to be processed for the video. The number may be updated with more precise estimates while YouTube processes the video."
        }
      }
    },
    "InfoCards": {
      "id": "InfoCards",
      "type": "object",
      "properties": {
        "items": {
          "description": "A list of infocards.",
          "type": "array",
          "items": {
            "$ref": "InfoCard"
          }
        }
      }
    },
    "ChannelStatus": {
      "type": "object",
      "properties": {
        "isLinked": {
          "description": "If true, then the user is linked to either a YouTube username or G+ account. Otherwise, the user doesn't have a public YouTube identity.",
          "type": "boolean"
        },
        "privacyStatus": {
          "type": "string",
          "enum": [
            "public",
            "unlisted",
            "private"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "Privacy status of the channel."
        },
        "longUploadsStatus": {
          "enum": [
            "longUploadsUnspecified",
            "allowed",
            "eligible",
            "disallowed"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "description": "The long uploads status of this channel. See https://support.google.com/youtube/answer/71673 for more information."
        },
        "madeForKids": {
          "type": "boolean"
        },
        "selfDeclaredMadeForKids": {
          "type": "boolean"
        }
      },
      "description": "JSON template for the status part of a channel.",
      "id": "ChannelStatus"
    },
    "VideoElement": {
      "id": "VideoElement",
      "properties": {
        "playbackStartOffset": {
          "description": "Playback start time offset in milliseconds. Optional.",
          "format": "google-duration",
          "type": "string"
        },
        "videoType": {
          "type": "string",
          "enum": [
            "videoTypeUnknown",
            "fixed",
            "recentUpload",
            "bestForViewer"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "videoId": {
          "description": "Encrypted Video ID. Required.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "LinkElementUploadedImage": {
      "id": "LinkElementUploadedImage",
      "properties": {
        "imageFile": {
          "type": "string",
          "description": "Image reference on the thumbnail service."
        },
        "version": {
          "description": "The version in the thumbnail service.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "SuperChatEventSnippet": {
      "id": "SuperChatEventSnippet",
      "properties": {
        "messageType": {
          "type": "integer",
          "format": "uint32",
          "description": "The tier for the paid message, which is based on the amount of money spent to purchase the message."
        },
        "commentText": {
          "type": "string",
          "description": "The text contents of the comment left by the user."
        },
        "amountMicros": {
          "description": "The purchase amount, in micros of the purchase currency. e.g., 1 is represented as 1000000.",
          "type": "string",
          "format": "uint64"
        },
        "supporterDetails": {
          "$ref": "ChannelProfileDetails",
          "description": "Details about the supporter."
        },
        "displayString": {
          "description": "A rendered string that displays the purchase amount and currency (e.g., \"$1.00\"). The string is rendered for the given language.",
          "type": "string"
        },
        "superStickerMetadata": {
          "$ref": "SuperStickerMetadata",
          "description": "If this event is a Super Sticker event, this field will contain metadata about the Super Sticker."
        },
        "createdAt": {
          "type": "string",
          "description": "The date and time when the event occurred. The value is specified in ISO 8601 format."
        },
        "currency": {
          "description": "The currency in which the purchase was made. ISO 4217.",
          "type": "string"
        },
        "isSuperStickerEvent": {
          "description": "True if this event is a Super Sticker event.",
          "type": "boolean"
        },
        "channelId": {
          "description": "Channel id where the event occurred.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "PlaylistPlayer": {
      "properties": {
        "embedHtml": {
          "type": "string",
          "description": "An \u003ciframe\u003e tag that embeds a player that will play the playlist."
        }
      },
      "id": "PlaylistPlayer",
      "type": "object"
    },
    "AbuseType": {
      "type": "object",
      "id": "AbuseType",
      "properties": {
        "id": {
          "type": "string"
        }
      }
    },
    "EndscreenElement": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "UUID for this element."
        },
        "kind": {
          "description": "Identifies what kind of resource this is.",
          "default": "youtube#endscreen",
          "type": "string"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "snippet": {
          "$ref": "EndscreenElementSnippet",
          "description": "The snippet object contains basic details about the element."
        }
      },
      "id": "EndscreenElement"
    },
    "Sponsor": {
      "type": "object",
      "description": "A `__sponsor__` resource represents a sponsor for a YouTube channel. A sponsor provides recurring monetary support to a creator and receives special benefits.",
      "id": "Sponsor",
      "properties": {
        "snippet": {
          "$ref": "SponsorSnippet",
          "description": "The `snippet` object contains basic details about the sponsor."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"youtube#sponsor\"`.",
          "default": "youtube#sponsor"
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        }
      }
    },
    "ChannelTopicDetails": {
      "properties": {
        "topicCategories": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of Wikipedia URLs that describe the channel's content."
        },
        "topicIds": {
          "type": "array",
          "description": "A list of Freebase topic IDs associated with the channel. You can retrieve information about each topic using the Freebase Topic API.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ChannelTopicDetails",
      "description": "Freebase topic information related to the channel.",
      "type": "object"
    },
    "WatchSettings": {
      "properties": {
        "featuredPlaylistId": {
          "description": "An ID that uniquely identifies a playlist that displays next to the video player.",
          "type": "string"
        },
        "textColor": {
          "type": "string",
          "description": "The background color for the video watch page's branded area."
        },
        "backgroundColor": {
          "description": "The text color for the video watch page's branded area.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Branding properties for the watch. All deprecated.",
      "id": "WatchSettings"
    },
    "VideoRecordingDetails": {
      "description": "Recording information associated with the video.",
      "id": "VideoRecordingDetails",
      "properties": {
        "locationDescription": {
          "description": "The text description of the location where the video was recorded.",
          "type": "string"
        },
        "location": {
          "description": "The geolocation information associated with the video.",
          "$ref": "GeoPoint"
        },
        "recordingDate": {
          "description": "The date and time when the video was recorded. The value is specified in ISO 8601 (YYYY-MM-DDThh:mm:ss.sssZ) format.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SubscribeElement": {
      "properties": {},
      "type": "object",
      "id": "SubscribeElement"
    },
    "ChannelConversionPings": {
      "id": "ChannelConversionPings",
      "properties": {
        "pings": {
          "type": "array",
          "items": {
            "$ref": "ChannelConversionPing"
          },
          "description": "Pings that the app shall fire (authenticated by biscotti cookie). Each ping has a context, in which the app must fire the ping, and a url identifying the ping."
        }
      },
      "type": "object",
      "description": "The conversionPings object encapsulates information about conversion pings that need to be respected by the channel."
    },
    "Video": {
      "description": "A *video* resource represents a YouTube video.",
      "type": "object",
      "properties": {
        "projectDetails": {
          "description": "The projectDetails object contains information about the project specific video metadata.",
          "$ref": "VideoProjectDetails"
        },
        "id": {
          "description": "The ID that YouTube uses to uniquely identify the video.",
          "type": "string"
        },
        "contentDetails": {
          "$ref": "VideoContentDetails",
          "description": "The contentDetails object contains information about the video content, including the length of the video and its aspect ratio."
        },
        "status": {
          "$ref": "VideoStatus",
          "description": "The status object contains information about the video's uploading, processing, and privacy statuses."
        },
        "liveStreamingDetails": {
          "$ref": "VideoLiveStreamingDetails",
          "description": "The liveStreamingDetails object contains metadata about a live video broadcast. The object will only be present in a video resource if the video is an upcoming, live, or completed live broadcast."
        },
        "recordingDetails": {
          "description": "The recordingDetails object encapsulates information about the location, date and address where the video was recorded.",
          "$ref": "VideoRecordingDetails"
        },
        "player": {
          "description": "The player object contains information that you would use to play the video in an embedded player.",
          "$ref": "VideoPlayer"
        },
        "suggestions": {
          "$ref": "VideoSuggestions",
          "description": "The suggestions object encapsulates suggestions that identify opportunities to improve the video quality or the metadata for the uploaded video. This data can only be retrieved by the video owner."
        },
        "fileDetails": {
          "$ref": "VideoFileDetails",
          "description": "The fileDetails object encapsulates information about the video file that was uploaded to YouTube, including the file's resolution, duration, audio and video codecs, stream bitrates, and more. This data can only be retrieved by the video owner."
        },
        "ageGating": {
          "$ref": "VideoAgeGating",
          "description": "Age restriction details related to a video. This data can only be retrieved by the video owner."
        },
        "topicDetails": {
          "description": "The topicDetails object encapsulates information about Freebase topics associated with the video.",
          "$ref": "VideoTopicDetails"
        },
        "monetizationDetails": {
          "$ref": "VideoMonetizationDetails",
          "description": "The monetizationDetails object encapsulates information about the monetization status of the video."
        },
        "processingDetails": {
          "description": "The processingDetails object encapsulates information about YouTube's progress in processing the uploaded video file. The properties in the object identify the current processing status and an estimate of the time remaining until YouTube finishes processing the video. This part also indicates whether different types of data or content, such as file details or thumbnail images, are available for the video. The processingProgress object is designed to be polled so that the video uploaded can track the progress that YouTube has made in processing the uploaded video file. This data can only be retrieved by the video owner.",
          "$ref": "VideoProcessingDetails"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#video\".",
          "default": "youtube#video"
        },
        "snippet": {
          "$ref": "VideoSnippet",
          "description": "The snippet object contains basic details about the video, such as its title, description, and category."
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "localizations": {
          "type": "object",
          "description": "The localizations object contains localized versions of the basic details about the video, such as its title and description.",
          "additionalProperties": {
            "$ref": "VideoLocalization"
          }
        },
        "statistics": {
          "$ref": "VideoStatistics",
          "description": "The statistics object contains statistics about the video."
        }
      },
      "id": "Video"
    },
    "I18nLanguage": {
      "properties": {
        "id": {
          "description": "The ID that YouTube uses to uniquely identify the i18n language.",
          "type": "string"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "kind": {
          "default": "youtube#i18nLanguage",
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#i18nLanguage\"."
        },
        "snippet": {
          "$ref": "I18nLanguageSnippet",
          "description": "The snippet object contains basic details about the i18n language, such as language code and human-readable name."
        }
      },
      "type": "object",
      "description": "An *i18nLanguage* resource identifies a UI language currently supported by YouTube.",
      "id": "I18nLanguage"
    },
    "InvideoPosition": {
      "id": "InvideoPosition",
      "description": "Describes the spatial position of a visual widget inside a video. It is a union of various position types, out of which only will be set one.",
      "type": "object",
      "properties": {
        "cornerPosition": {
          "enum": [
            "topLeft",
            "topRight",
            "bottomLeft",
            "bottomRight"
          ],
          "type": "string",
          "description": "Describes in which corner of the video the visual widget will appear.",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "type": {
          "enumDescriptions": [
            ""
          ],
          "description": "Defines the position type.",
          "type": "string",
          "enum": [
            "corner"
          ]
        }
      }
    },
    "CommentListResponse": {
      "id": "CommentListResponse",
      "type": "object",
      "properties": {
        "kind": {
          "default": "youtube#commentListResponse",
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#commentListResponse\"."
        },
        "tokenPagination": {
          "$ref": "TokenPagination"
        },
        "visitorId": {
          "type": "string",
          "description": "The visitorId identifies the visitor."
        },
        "eventId": {
          "type": "string",
          "description": "Serialized EventId of the request which produced this response."
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "items": {
          "type": "array",
          "description": "A list of comments that match the request criteria.",
          "items": {
            "$ref": "Comment"
          }
        },
        "pageInfo": {
          "$ref": "PageInfo",
          "description": "General pagination information."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set."
        }
      }
    },
    "VideoSnippet": {
      "id": "VideoSnippet",
      "type": "object",
      "description": "Basic details about a video, including title, description, uploader, thumbnails and category.",
      "properties": {
        "categoryId": {
          "type": "string",
          "description": "The YouTube video category associated with the video."
        },
        "description": {
          "description": "The video's description. @mutable youtube.videos.insert youtube.videos.update",
          "type": "string"
        },
        "defaultLanguage": {
          "description": "The language of the videos's default snippet.",
          "type": "string"
        },
        "channelId": {
          "description": "The ID that YouTube uses to uniquely identify the channel that the video was uploaded to.",
          "type": "string"
        },
        "publishedAt": {
          "type": "string",
          "description": "The date and time that the video was uploaded. The value is specified in ISO 8601 format."
        },
        "liveBroadcastContent": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "none",
            "upcoming",
            "live",
            "completed"
          ],
          "description": "Indicates if the video is an upcoming/active live broadcast. Or it's \"none\" if the video is not an upcoming/active live broadcast."
        },
        "channelTitle": {
          "description": "Channel title for the channel that the video belongs to.",
          "type": "string"
        },
        "localized": {
          "$ref": "VideoLocalization",
          "description": "Localized snippet selected with the hl parameter. If no such localization exists, this field is populated with the default snippet. (Read-only)"
        },
        "tags": {
          "description": "A list of keyword tags associated with the video. Tags may contain spaces.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "title": {
          "description": "The video's title. @mutable youtube.videos.insert youtube.videos.update",
          "type": "string"
        },
        "defaultAudioLanguage": {
          "type": "string",
          "description": "The default_audio_language property specifies the language spoken in the video's default audio track."
        },
        "thumbnails": {
          "$ref": "ThumbnailDetails",
          "description": "A map of thumbnail images associated with the video. For each object in the map, the key is the name of the thumbnail image, and the value is an object that contains other information about the thumbnail."
        }
      }
    },
    "ThumbnailSetResponse": {
      "properties": {
        "visitorId": {
          "type": "string",
          "description": "The visitorId identifies the visitor."
        },
        "kind": {
          "default": "youtube#thumbnailSetResponse",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#thumbnailSetResponse\".",
          "type": "string"
        },
        "eventId": {
          "type": "string",
          "description": "Serialized EventId of the request which produced this response."
        },
        "items": {
          "description": "A list of thumbnails.",
          "type": "array",
          "items": {
            "$ref": "ThumbnailDetails"
          }
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        }
      },
      "id": "ThumbnailSetResponse",
      "type": "object"
    },
    "LiveBroadcastListResponse": {
      "type": "object",
      "id": "LiveBroadcastListResponse",
      "properties": {
        "eventId": {
          "type": "string",
          "description": "Serialized EventId of the request which produced this response."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#liveBroadcastListResponse\".",
          "type": "string",
          "default": "youtube#liveBroadcastListResponse"
        },
        "tokenPagination": {
          "$ref": "TokenPagination"
        },
        "items": {
          "description": "A list of broadcasts that match the request criteria.",
          "items": {
            "$ref": "LiveBroadcast"
          },
          "type": "array"
        },
        "prevPageToken": {
          "type": "string",
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set."
        },
        "visitorId": {
          "type": "string",
          "description": "The visitorId identifies the visitor."
        },
        "pageInfo": {
          "description": "General pagination information.",
          "$ref": "PageInfo"
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        }
      }
    },
    "ActivityContentDetailsRecommendation": {
      "description": "Information that identifies the recommended resource.",
      "type": "object",
      "properties": {
        "seedResourceId": {
          "$ref": "ResourceId",
          "description": "The seedResourceId object contains information about the resource that caused the recommendation."
        },
        "reason": {
          "type": "string",
          "description": "The reason that the resource is recommended to the user.",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "reasonUnspecified",
            "videoFavorited",
            "videoLiked",
            "videoWatched"
          ]
        },
        "resourceId": {
          "$ref": "ResourceId",
          "description": "The resourceId object contains information that identifies the recommended resource."
        }
      },
      "id": "ActivityContentDetailsRecommendation"
    },
    "ChannelToStoreLinkDetails": {
      "type": "object",
      "properties": {
        "storeUrl": {
          "type": "string",
          "description": "Landing page of the store."
        },
        "storeName": {
          "description": "Name of the store.",
          "type": "string"
        }
      },
      "description": "Information specific to a store on a merchandising platform linked to a YouTube channel.",
      "id": "ChannelToStoreLinkDetails"
    },
    "EndscreenElementSnippet": {
      "id": "EndscreenElementSnippet",
      "type": "object",
      "properties": {
        "subscribeElement": {
          "$ref": "SubscribeElement"
        },
        "duration": {
          "type": "string",
          "description": "Duration of the element in milliseconds. Required.",
          "format": "google-duration"
        },
        "left": {
          "format": "float",
          "type": "number",
          "description": "Fraction of video width."
        },
        "top": {
          "type": "number",
          "description": "Fraction of video height.",
          "format": "float"
        },
        "width": {
          "description": "Fraction of video width.",
          "format": "float",
          "type": "number"
        },
        "startOffset": {
          "format": "google-duration",
          "description": "Start of the element in milliseconds. Required.",
          "type": "string"
        },
        "channelElement": {
          "$ref": "ChannelElement"
        },
        "videoElement": {
          "$ref": "VideoElement"
        },
        "playlistElement": {
          "$ref": "PlaylistElement"
        },
        "linkElement": {
          "$ref": "LinkElement"
        },
        "merchandiseElement": {
          "$ref": "MerchandiseElement"
        }
      }
    },
    "MembershipsLevelSnippet": {
      "type": "object",
      "properties": {
        "levelDetails": {
          "$ref": "LevelDetails",
          "description": "Details about the pricing level."
        },
        "creatorChannelId": {
          "type": "string",
          "description": "The id of the channel that's offering channel memberships."
        }
      },
      "id": "MembershipsLevelSnippet"
    },
    "LocalizedString": {
      "id": "LocalizedString",
      "properties": {
        "value": {
          "type": "string"
        },
        "language": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GuideCategory": {
      "id": "GuideCategory",
      "type": "object",
      "description": "A *guideCategory* resource identifies a category that YouTube algorithmically assigns based on a channel's content or other indicators, such as the channel's popularity. The list is similar to video categories, with the difference being that a video's uploader can assign a video category but only YouTube can assign a channel category.",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#guideCategory\".",
          "default": "youtube#guideCategory",
          "type": "string"
        },
        "snippet": {
          "description": "The snippet object contains basic details about the category, such as its title.",
          "$ref": "GuideCategorySnippet"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the guide category."
        }
      }
    },
    "LiveChatBan": {
      "type": "object",
      "description": "A `__liveChatBan__` resource represents a ban for a YouTube live chat.",
      "properties": {
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "id": {
          "description": "The ID that YouTube assigns to uniquely identify the ban.",
          "type": "string"
        },
        "snippet": {
          "description": "The `snippet` object contains basic details about the ban.",
          "$ref": "LiveChatBanSnippet"
        },
        "kind": {
          "default": "youtube#liveChatBan",
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"youtube#liveChatBan\"`."
        }
      },
      "id": "LiveChatBan"
    },
    "CaptionSnippet": {
      "type": "object",
      "description": "Basic details about a caption track, such as its language and name.",
      "properties": {
        "isLarge": {
          "type": "boolean",
          "description": "Indicates whether the caption track uses large text for the vision-impaired. The default value is false."
        },
        "isDraft": {
          "type": "boolean",
          "description": "Indicates whether the caption track is a draft. If the value is true, then the track is not publicly visible. The default value is false. @mutable youtube.captions.insert youtube.captions.update"
        },
        "videoId": {
          "description": "The ID that YouTube uses to uniquely identify the video associated with the caption track. @mutable youtube.captions.insert",
          "annotations": {
            "required": [
              "youtube.captions.insert"
            ]
          },
          "type": "string"
        },
        "lastUpdated": {
          "description": "The date and time when the caption track was last updated. The value is specified in ISO 8601 format.",
          "type": "string"
        },
        "isAutoSynced": {
          "description": "Indicates whether YouTube synchronized the caption track to the audio track in the video. The value will be true if a sync was explicitly requested when the caption track was uploaded. For example, when calling the captions.insert or captions.update methods, you can set the sync parameter to true to instruct YouTube to sync the uploaded track to the video. If the value is false, YouTube uses the time codes in the uploaded caption track to determine when to display captions.",
          "type": "boolean"
        },
        "isEasyReader": {
          "type": "boolean",
          "description": "Indicates whether caption track is formatted for \"easy reader,\" meaning it is at a third-grade level for language learners. The default value is false."
        },
        "audioTrackType": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "unknown",
            "primary",
            "commentary",
            "descriptive"
          ],
          "description": "The type of audio track associated with the caption track.",
          "type": "string"
        },
        "language": {
          "type": "string",
          "description": "The language of the caption track. The property value is a BCP-47 language tag."
        },
        "name": {
          "description": "The name of the caption track. The name is intended to be visible to the user as an option during playback.",
          "type": "string"
        },
        "status": {
          "enum": [
            "serving",
            "syncing",
            "failed"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "The caption track's status.",
          "type": "string"
        },
        "isCC": {
          "type": "boolean",
          "description": "Indicates whether the track contains closed captions for the deaf and hard of hearing. The default value is false."
        },
        "failureReason": {
          "description": "The reason that YouTube failed to process the caption track. This property is only present if the state property's value is failed.",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "unknownFormat",
            "unsupportedFormat",
            "processingFailed"
          ]
        },
        "trackKind": {
          "enum": [
            "standard",
            "ASR",
            "forced"
          ],
          "type": "string",
          "description": "The caption track's type.",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      },
      "id": "CaptionSnippet"
    },
    "LiveChatTextMessageDetails": {
      "type": "object",
      "properties": {
        "messageText": {
          "type": "string",
          "description": "The user's message."
        }
      },
      "id": "LiveChatTextMessageDetails"
    },
    "PlaylistSnippet": {
      "description": "Basic details about a playlist, including title, description and thumbnails.",
      "type": "object",
      "properties": {
        "description": {
          "description": "The playlist's description.",
          "type": "string"
        },
        "defaultLanguage": {
          "type": "string",
          "description": "The language of the playlist's default title and description."
        },
        "title": {
          "type": "string",
          "description": "The playlist's title."
        },
        "publishedAt": {
          "type": "string",
          "description": "The date and time that the playlist was created. The value is specified in ISO 8601 format."
        },
        "localized": {
          "$ref": "PlaylistLocalization",
          "description": "Localized title and description, read-only."
        },
        "tags": {
          "type": "array",
          "description": "Keyword tags associated with the playlist.",
          "items": {
            "type": "string"
          }
        },
        "thumbnails": {
          "description": "A map of thumbnail images associated with the playlist. For each object in the map, the key is the name of the thumbnail image, and the value is an object that contains other information about the thumbnail.",
          "$ref": "ThumbnailDetails"
        },
        "channelId": {
          "description": "The ID that YouTube uses to uniquely identify the channel that published the playlist.",
          "type": "string"
        },
        "channelTitle": {
          "description": "The channel title of the channel that the video belongs to.",
          "type": "string"
        }
      },
      "id": "PlaylistSnippet"
    },
    "VideoRatingListResponse": {
      "type": "object",
      "id": "VideoRatingListResponse",
      "properties": {
        "items": {
          "description": "A list of ratings that match the request criteria.",
          "items": {
            "$ref": "VideoRating"
          },
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#videoGetRatingResponse\".",
          "default": "youtube#videoGetRatingResponse"
        },
        "visitorId": {
          "description": "The visitorId identifies the visitor.",
          "type": "string"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "eventId": {
          "description": "Serialized EventId of the request which produced this response.",
          "type": "string"
        }
      }
    },
    "Caption": {
      "properties": {
        "id": {
          "description": "The ID that YouTube uses to uniquely identify the caption track.",
          "annotations": {
            "required": [
              "youtube.captions.update"
            ]
          },
          "type": "string"
        },
        "kind": {
          "default": "youtube#caption",
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#caption\"."
        },
        "snippet": {
          "description": "The snippet object contains basic details about the caption.",
          "$ref": "CaptionSnippet"
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        }
      },
      "id": "Caption",
      "type": "object",
      "description": "A *caption* resource represents a YouTube caption track. A caption track is associated with exactly one YouTube video."
    },
    "ChannelListResponse": {
      "id": "ChannelListResponse",
      "type": "object",
      "properties": {
        "pageInfo": {
          "$ref": "PageInfo",
          "description": "General pagination information."
        },
        "tokenPagination": {
          "$ref": "TokenPagination"
        },
        "eventId": {
          "type": "string",
          "description": "Serialized EventId of the request which produced this response."
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "Channel"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#channelListResponse\".",
          "type": "string",
          "default": "youtube#channelListResponse"
        },
        "nextPageToken": {
          "type": "string",
[...]
