{
  "batchPath": "batch/youtube",
  "revision": "20200802",
  "kind": "discovery#restDescription",
  "documentationLink": "https://developers.google.com/youtube/",
  "title": "YouTube Data API v3",
  "canonicalName": "YouTube",
  "protocol": "rest",
  "rootUrl": "https://www.googleapis.com/",
  "mtlsRootUrl": "https://www.mtls.googleapis.com/",
  "id": "youtube:v3",
  "baseUrl": "https://www.googleapis.com/",
  "parameters": {
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "default": "json",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    }
  },
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/youtube.force-ssl": {
          "description": "See, edit, and permanently delete your YouTube videos, ratings, comments and captions"
        },
        "https://www.googleapis.com/auth/youtube.upload": {
          "description": "Manage your YouTube videos"
        },
        "https://www.googleapis.com/auth/youtubepartner-channel-audit": {
          "description": "View private information of your YouTube channel relevant during the audit process with a YouTube partner"
        },
        "https://www.googleapis.com/auth/youtube.readonly": {
          "description": "View your YouTube account"
        },
        "https://www.googleapis.com/auth/youtube": {
          "description": "Manage your YouTube account"
        },
        "https://www.googleapis.com/auth/youtubepartner": {
          "description": "View and manage your assets and associated content on YouTube"
        },
        "https://www.googleapis.com/auth/youtube.channel-memberships.creator": {
          "description": "See a list of your current active channel members, their current level, and when they became a member"
        }
      }
    }
  },
  "version": "v3",
  "schemas": {
    "SuperStickerMetadata": {
      "properties": {
        "altTextLanguage": {
          "description": "Specifies the localization language in which the alt text is returned.",
          "type": "string"
        },
        "altText": {
          "description": "Internationalized alt text that describes the sticker image and any animation associated with it.",
          "type": "string"
        },
        "stickerId": {
          "description": "Unique identifier of the Super Sticker. This is a shorter form of the alt_text that includes pack name and a recognizable characteristic of the sticker.",
          "type": "string"
        }
      },
      "id": "SuperStickerMetadata",
      "type": "object"
    },
    "MemberListResponse": {
      "properties": {
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "visitorId": {
          "type": "string",
          "description": "The visitorId identifies the visitor."
        },
        "tokenPagination": {
          "$ref": "TokenPagination"
        },
        "pageInfo": {
          "$ref": "PageInfo"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set."
        },
        "items": {
          "description": "A list of members that match the request criteria.",
          "type": "array",
          "items": {
            "$ref": "Member"
          }
        },
        "eventId": {
          "type": "string",
          "description": "Serialized EventId of the request which produced this response."
        },
        "kind": {
          "default": "youtube#memberListResponse",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#memberListResponse\".",
          "type": "string"
        }
      },
      "type": "object",
      "id": "MemberListResponse"
    },
    "TokenPagination": {
      "properties": {},
      "id": "TokenPagination",
      "type": "object",
      "description": "Stub token pagination template to suppress results."
    },
    "ChannelSection": {
      "properties": {
        "id": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the channel section."
        },
        "kind": {
          "default": "youtube#channelSection",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#channelSection\".",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "targeting": {
          "$ref": "ChannelSectionTargeting",
          "description": "The targeting object contains basic targeting settings about the channel section."
        },
        "contentDetails": {
          "description": "The contentDetails object contains details about the channel section content, such as a list of playlists or channels featured in the section.",
          "$ref": "ChannelSectionContentDetails"
        },
        "snippet": {
          "description": "The snippet object contains basic details about the channel section, such as its type, style and title.",
          "$ref": "ChannelSectionSnippet"
        },
        "localizations": {
          "type": "object",
          "additionalProperties": {
            "$ref": "ChannelSectionLocalization"
          },
          "description": "Localizations for different languages"
        }
      },
      "type": "object",
      "id": "ChannelSection"
    },
    "CommentThread": {
      "type": "object",
      "id": "CommentThread",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#commentThread\".",
          "default": "youtube#commentThread"
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "id": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the comment thread."
        },
        "snippet": {
          "description": "The snippet object contains basic details about the comment thread and also the top level comment.",
          "$ref": "CommentThreadSnippet"
        },
        "replies": {
          "description": "The replies object contains a limited number of replies (if any) to the top level comment found in the snippet.",
          "$ref": "CommentThreadReplies"
        }
      },
      "description": "A *comment thread* represents information that applies to a top level comment and all its replies. It can also include the top level comment itself and some of the replies."
    },
    "VideoAbuseReport": {
      "properties": {
        "comments": {
          "description": "Additional comments regarding the abuse report.",
          "type": "string"
        },
        "language": {
          "type": "string",
          "description": "The language that the content was viewed in."
        },
        "reasonId": {
          "description": "The high-level, or primary, reason that the content is abusive. The value is an abuse report reason ID.",
          "type": "string"
        },
        "secondaryReasonId": {
          "type": "string",
          "description": "The specific, or secondary, reason that this content is abusive (if available). The value is an abuse report reason ID that is a valid secondary reason for the primary reason."
        },
        "videoId": {
          "description": "The ID that YouTube uses to uniquely identify the video.",
          "type": "string"
        }
      },
      "id": "VideoAbuseReport",
      "type": "object"
    },
    "SearchResult": {
      "properties": {
        "snippet": {
          "$ref": "SearchResultSnippet",
          "description": "The snippet object contains basic details about a search result, such as its title or description. For example, if the search result is a video, then the title will be the video's title and the description will be the video's description."
        },
        "id": {
          "description": "The id object contains information that can be used to uniquely identify the resource that matches the search request.",
          "$ref": "ResourceId"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "youtube#searchResult",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#searchResult\"."
        }
      },
      "type": "object",
      "id": "SearchResult",
      "description": "A search result contains information about a YouTube video, channel, or playlist that matches the search parameters specified in an API request. While a search result points to a uniquely identifiable resource, like a video, it does not have its own persistent data."
    },
    "IngestionInfo": {
      "properties": {
        "rtmpsBackupIngestionAddress": {
          "type": "string",
          "description": "This ingestion url may be used instead of backupIngestionAddress in order to stream via RTMPS. Not applicable to non-RTMP streams."
        },
        "ingestionAddress": {
          "type": "string",
          "description": "The primary ingestion URL that you should use to stream video to YouTube. You must stream video to this URL. Depending on which application or tool you use to encode your video stream, you may need to enter the stream URL and stream name separately or you may need to concatenate them in the following format: *STREAM_URL/STREAM_NAME* "
        },
        "streamName": {
          "type": "string",
          "description": "The HTTP or RTMP stream name that YouTube assigns to the video stream."
        },
        "rtmpsIngestionAddress": {
          "type": "string",
          "description": "This ingestion url may be used instead of ingestionAddress in order to stream via RTMPS. Not applicable to non-RTMP streams."
        },
        "backupIngestionAddress": {
          "type": "string",
          "description": "The backup ingestion URL that you should use to stream video to YouTube. You have the option of simultaneously streaming the content that you are sending to the ingestionAddress to this URL."
        }
      },
      "type": "object",
      "description": "Describes information necessary for ingesting an RTMP or an HTTP stream.",
      "id": "IngestionInfo"
    },
    "Channel": {
      "id": "Channel",
      "properties": {
        "id": {
          "description": "The ID that YouTube uses to uniquely identify the channel.",
          "type": "string"
        },
        "localizations": {
          "description": "Localizations for different languages",
          "type": "object",
          "additionalProperties": {
            "$ref": "ChannelLocalization"
          }
        },
        "statistics": {
          "description": "The statistics object encapsulates statistics for the channel.",
          "$ref": "ChannelStatistics"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#channel\".",
          "default": "youtube#channel"
        },
        "brandingSettings": {
          "$ref": "ChannelBrandingSettings",
          "description": "The brandingSettings object encapsulates information about the branding of the channel."
        },
        "contentDetails": {
          "$ref": "ChannelContentDetails",
          "description": "The contentDetails object encapsulates information about the channel's content."
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "auditDetails": {
          "$ref": "ChannelAuditDetails",
          "description": "The auditionDetails object encapsulates channel data that is relevant for YouTube Partners during the audition process."
        },
        "contentOwnerDetails": {
          "description": "The contentOwnerDetails object encapsulates channel data that is relevant for YouTube Partners linked with the channel.",
          "$ref": "ChannelContentOwnerDetails"
        },
        "status": {
          "description": "The status object encapsulates information about the privacy status of the channel.",
          "$ref": "ChannelStatus"
        },
        "conversionPings": {
          "description": "The conversionPings object encapsulates information about conversion pings that need to be respected by the channel.",
          "$ref": "ChannelConversionPings"
        },
        "invideoPromotion": {
          "$ref": "InvideoPromotion",
          "description": "The invideoPromotion object encapsulates information about promotion campaign associated with the channel."
        },
        "topicDetails": {
          "$ref": "ChannelTopicDetails",
          "description": "The topicDetails object encapsulates information about Freebase topics associated with the channel."
        },
        "snippet": {
          "$ref": "ChannelSnippet",
          "description": "The snippet object contains basic details about the channel, such as its title, description, and thumbnail images."
        }
      },
      "type": "object",
      "description": "A *channel* resource contains information about a YouTube channel."
    },
    "InvideoBranding": {
      "type": "object",
      "properties": {
        "imageUrl": {
          "description": "The url of the uploaded image. Only used in apiary to api communication.",
          "type": "string"
        },
        "targetChannelId": {
          "description": "The channel to which this branding links. If not present it defaults to the current channel.",
          "type": "string"
        },
        "imageBytes": {
          "format": "byte",
          "type": "string",
          "description": "The bytes the uploaded image. Only used in api to youtube communication."
        },
        "position": {
          "description": "The spatial position within the video where the branding watermark will be displayed.",
          "$ref": "InvideoPosition"
        },
        "timing": {
          "description": "The temporal position within the video where watermark will be displayed.",
          "$ref": "InvideoTiming"
        }
      },
      "id": "InvideoBranding",
      "description": "LINT.IfChange Describes an invideo branding."
    },
    "VideoCategoryListResponse": {
      "id": "VideoCategoryListResponse",
      "properties": {
        "prevPageToken": {
          "type": "string",
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set."
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "pageInfo": {
          "description": "General pagination information.",
          "$ref": "PageInfo"
        },
        "tokenPagination": {
          "$ref": "TokenPagination"
        },
        "visitorId": {
          "type": "string",
          "description": "The visitorId identifies the visitor."
        },
        "items": {
          "description": "A list of video categories that can be associated with YouTube videos. In this map, the video category ID is the map key, and its value is the corresponding videoCategory resource.",
          "type": "array",
          "items": {
            "$ref": "VideoCategory"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#videoCategoryListResponse\".",
          "type": "string",
          "default": "youtube#videoCategoryListResponse"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set."
        },
        "eventId": {
          "description": "Serialized EventId of the request which produced this response.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "LocalizedString": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string"
        },
        "language": {
          "type": "string"
        }
      },
      "id": "LocalizedString"
    },
    "ChannelSectionLocalization": {
      "type": "object",
      "id": "ChannelSectionLocalization",
      "properties": {
        "title": {
          "description": "The localized strings for channel section's title.",
          "type": "string"
        }
      },
      "description": "ChannelSection localization setting"
    },
    "VideoMonetizationDetails": {
      "properties": {
        "access": {
          "$ref": "AccessPolicy",
          "description": "The value of access indicates whether the video can be monetized or not."
        }
      },
      "id": "VideoMonetizationDetails",
      "type": "object",
      "description": "Details about monetization of a YouTube Video."
    },
    "ChannelBrandingSettings": {
      "description": "Branding properties of a YouTube channel.",
      "properties": {
        "image": {
          "description": "Branding properties for branding images.",
          "$ref": "ImageSettings"
        },
        "hints": {
          "description": "Additional experimental branding properties.",
          "type": "array",
          "items": {
            "$ref": "PropertyValue"
          }
        },
        "watch": {
          "$ref": "WatchSettings",
          "description": "Branding properties for the watch page."
        },
        "channel": {
          "$ref": "ChannelSettings",
          "description": "Branding properties for the channel view."
        }
      },
      "id": "ChannelBrandingSettings",
      "type": "object"
    },
    "LiveChatFanFundingEventDetails": {
      "id": "LiveChatFanFundingEventDetails",
      "type": "object",
      "properties": {
        "amountDisplayString": {
          "description": "A rendered string that displays the fund amount and currency to the user.",
          "type": "string"
        },
        "userComment": {
          "type": "string",
          "description": "The comment added by the user to this fan funding event."
        },
        "amountMicros": {
          "type": "string",
          "format": "uint64",
          "description": "The amount of the fund."
        },
        "currency": {
          "description": "The currency in which the fund was made.",
          "type": "string"
        }
      }
    },
    "LiveStreamSnippet": {
      "type": "object",
      "id": "LiveStreamSnippet",
      "properties": {
        "publishedAt": {
          "type": "string",
          "description": "The date and time that the stream was created. The value is specified in ISO 8601 format."
        },
        "isDefaultStream": {
          "type": "boolean"
        },
        "title": {
          "type": "string",
          "description": "The stream's title. The value must be between 1 and 128 characters long."
        },
        "description": {
          "description": "The stream's description. The value cannot be longer than 10000 characters.",
          "type": "string"
        },
        "channelId": {
          "description": "The ID that YouTube uses to uniquely identify the channel that is transmitting the stream.",
          "type": "string"
        }
      }
    },
    "LiveBroadcastListResponse": {
      "type": "object",
      "id": "LiveBroadcastListResponse",
      "properties": {
        "eventId": {
          "type": "string",
          "description": "Serialized EventId of the request which produced this response."
        },
        "prevPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set.",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set."
        },
        "pageInfo": {
          "description": "General pagination information.",
          "$ref": "PageInfo"
        },
        "visitorId": {
          "description": "The visitorId identifies the visitor.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#liveBroadcastListResponse\".",
          "default": "youtube#liveBroadcastListResponse",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "tokenPagination": {
          "$ref": "TokenPagination"
        },
        "items": {
          "type": "array",
          "description": "A list of broadcasts that match the request criteria.",
          "items": {
            "$ref": "LiveBroadcast"
          }
        }
      }
    },
    "VideoListResponse": {
      "id": "VideoListResponse",
      "properties": {
        "nextPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set.",
          "type": "string"
        },
        "kind": {
          "default": "youtube#videoListResponse",
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#videoListResponse\"."
        },
        "eventId": {
          "description": "Serialized EventId of the request which produced this response.",
          "type": "string"
        },
        "tokenPagination": {
          "$ref": "TokenPagination"
        },
        "items": {
          "items": {
            "$ref": "Video"
          },
          "type": "array"
        },
        "prevPageToken": {
          "type": "string",
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set."
        },
        "pageInfo": {
          "$ref": "PageInfo",
          "description": "General pagination information."
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "visitorId": {
          "type": "string",
          "description": "The visitorId identifies the visitor."
        }
      },
      "type": "object"
    },
    "VideoContentDetailsRegionRestriction": {
      "properties": {
        "blocked": {
          "description": "A list of region codes that identify countries where the video is blocked. If this property is present and a country is not listed in its value, then the video is viewable in that country. If this property is present and contains an empty list, the video is viewable in all countries.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "allowed": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of region codes that identify countries where the video is viewable. If this property is present and a country is not listed in its value, then the video is blocked from appearing in that country. If this property is present and contains an empty list, the video is blocked in all countries."
        }
      },
      "id": "VideoContentDetailsRegionRestriction",
      "description": "DEPRECATED Region restriction of the video.",
      "type": "object"
    },
    "GuideCategory": {
      "description": "A *guideCategory* resource identifies a category that YouTube algorithmically assigns based on a channel's content or other indicators, such as the channel's popularity. The list is similar to video categories, with the difference being that a video's uploader can assign a video category but only YouTube can assign a channel category.",
      "type": "object",
      "id": "GuideCategory",
      "properties": {
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#guideCategory\".",
          "type": "string",
          "default": "youtube#guideCategory"
        },
        "id": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the guide category."
        },
        "snippet": {
          "description": "The snippet object contains basic details about the category, such as its title.",
          "$ref": "GuideCategorySnippet"
        }
      }
    },
    "LiveBroadcastSnippet": {
      "description": "Basic broadcast information.",
      "properties": {
        "publishedAt": {
          "type": "string",
          "description": "The date and time that the broadcast was added to YouTube's live broadcast schedule. The value is specified in ISO 8601 format."
        },
        "channelId": {
          "description": "The ID that YouTube uses to uniquely identify the channel that is publishing the broadcast.",
          "type": "string"
        },
        "scheduledEndTime": {
          "description": "The date and time that the broadcast is scheduled to end. The value is specified in ISO 8601 format.",
          "type": "string"
        },
        "actualStartTime": {
          "description": "The date and time that the broadcast actually started. This information is only available once the broadcast's state is live. The value is specified in ISO 8601 format.",
          "type": "string"
        },
        "thumbnails": {
          "description": "A map of thumbnail images associated with the broadcast. For each nested object in this object, the key is the name of the thumbnail image, and the value is an object that contains other information about the thumbnail.",
          "$ref": "ThumbnailDetails"
        },
        "liveChatId": {
          "type": "string",
          "description": "The id of the live chat for this broadcast."
        },
        "isDefaultBroadcast": {
          "type": "boolean",
          "description": "Indicates whether this broadcast is the default broadcast. Internal only."
        },
        "title": {
          "description": "The broadcast's title. Note that the broadcast represents exactly one YouTube video. You can set this field by modifying the broadcast resource or by setting the title field of the corresponding video resource.",
          "type": "string"
        },
        "actualEndTime": {
          "description": "The date and time that the broadcast actually ended. This information is only available once the broadcast's state is complete. The value is specified in ISO 8601 format.",
          "type": "string"
        },
        "scheduledStartTime": {
          "description": "The date and time that the broadcast is scheduled to start. The value is specified in ISO 8601 format.",
          "type": "string"
        },
        "description": {
          "description": "The broadcast's description. As with the title, you can set this field by modifying the broadcast resource or by setting the description field of the corresponding video resource.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "LiveBroadcastSnippet"
    },
    "ChannelConversionPing": {
      "id": "ChannelConversionPing",
      "description": "Pings that the app shall fire (authenticated by biscotti cookie). Each ping has a context, in which the app must fire the ping, and a url identifying the ping.",
      "type": "object",
      "properties": {
        "context": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "Defines the context of the ping.",
          "type": "string",
          "enum": [
            "subscribe",
            "unsubscribe",
            "cview"
          ]
        },
        "conversionUrl": {
          "type": "string",
          "description": "The url (without the schema) that the player shall send the ping to. It's at caller's descretion to decide which schema to use (http vs https) Example of a returned url: //googleads.g.doubleclick.net/pagead/ viewthroughconversion/962985656/?data=path%3DtHe_path%3Btype%3D cview%3Butuid%3DGISQtTNGYqaYl4sKxoVvKA&labe=default The caller must append biscotti authentication (ms param in case of mobile, for example) to this ping."
        }
      }
    },
    "VideoAbuseReportReasonListResponse": {
      "type": "object",
      "properties": {
        "visitorId": {
          "description": "The `visitorId` identifies the visitor.",
          "type": "string"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"youtube#videoAbuseReportReasonListResponse\"`.",
          "default": "youtube#videoAbuseReportReasonListResponse"
        },
        "eventId": {
          "description": "Serialized EventId of the request which produced this response.",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "VideoAbuseReportReason"
          },
          "description": "A list of valid abuse reasons that are used with `video.ReportAbuse`.",
          "type": "array"
        }
      },
      "id": "VideoAbuseReportReasonListResponse"
    },
    "VideoRecordingDetails": {
      "type": "object",
      "id": "VideoRecordingDetails",
      "properties": {
        "location": {
          "description": "The geolocation information associated with the video.",
          "$ref": "GeoPoint"
        },
        "locationDescription": {
          "description": "The text description of the location where the video was recorded.",
          "type": "string"
        },
        "recordingDate": {
          "description": "The date and time when the video was recorded. The value is specified in ISO 8601 (YYYY-MM-DDThh:mm:ss.sssZ) format.",
          "type": "string"
        }
      },
      "description": "Recording information associated with the video."
    },
    "Activity": {
      "type": "object",
      "id": "Activity",
      "description": "An *activity* resource contains information about an action that a particular channel, or user, has taken on YouTube.The actions reported in activity feeds include rating a video, sharing a video, marking a video as a favorite, commenting on a video, uploading a video, and so forth. Each activity resource identifies the type of action, the channel associated with the action, and the resource(s) associated with the action, such as the video that was rated or uploaded.",
      "properties": {
        "etag": {
          "description": "Etag of this resource",
          "type": "string"
        },
        "snippet": {
          "$ref": "ActivitySnippet",
          "description": "The snippet object contains basic details about the activity, including the activity's type and group ID."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#activity\".",
          "default": "youtube#activity",
          "type": "string"
        },
        "contentDetails": {
          "$ref": "ActivityContentDetails",
          "description": "The contentDetails object contains information about the content associated with the activity. For example, if the snippet.type value is videoRated, then the contentDetails object's content identifies the rated video."
        },
        "id": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the activity."
        }
      }
    },
    "Entity": {
      "properties": {
        "id": {
          "type": "string"
        },
        "typeId": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "Entity"
    },
    "GuideCategoryListResponse": {
      "properties": {
        "eventId": {
          "type": "string",
          "description": "Serialized EventId of the request which produced this response."
        },
        "items": {
          "items": {
            "$ref": "GuideCategory"
          },
          "type": "array",
          "description": "A list of categories that can be associated with YouTube channels. In this map, the category ID is the map key, and its value is the corresponding guideCategory resource."
        },
        "nextPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set.",
          "type": "string"
        },
        "prevPageToken": {
          "type": "string",
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set."
        },
        "pageInfo": {
          "$ref": "PageInfo"
        },
        "kind": {
          "type": "string",
          "default": "youtube#guideCategoryListResponse",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#guideCategoryListResponse\"."
        },
        "tokenPagination": {
          "$ref": "TokenPagination"
        },
        "visitorId": {
          "description": "The visitorId identifies the visitor.",
          "type": "string"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GuideCategoryListResponse"
    },
    "VideoAbuseReportSecondaryReason": {
      "id": "VideoAbuseReportSecondaryReason",
      "type": "object",
      "properties": {
        "label": {
          "type": "string",
          "description": "The localized label for this abuse report secondary reason."
        },
        "id": {
          "type": "string",
          "description": "The ID of this abuse report secondary reason."
        }
      }
    },
    "PropertyValue": {
      "description": "A pair Property / Value.",
      "id": "PropertyValue",
      "type": "object",
      "properties": {
        "property": {
          "type": "string",
          "description": "A property."
        },
        "value": {
          "type": "string",
          "description": "The property's value."
        }
      }
    },
    "LiveBroadcastStatus": {
      "description": "Live broadcast state.",
      "properties": {
        "madeForKids": {
          "description": "Whether the broadcast is made for kids or not, decided by YouTube instead of the creator. This field is read only.",
          "type": "boolean"
        },
        "lifeCycleStatus": {
          "enumDescriptions": [
            "No value or the value is unknown.",
            "Incomplete settings, but otherwise valid",
            "Complete settings",
            "Visible only to partner, may need special UI treatment",
            "Viper is recording; this means the \"clock\" is running",
            "The broadcast is finished.",
            "This broadcast was removed by admin action",
            "Transition into TESTING has been requested",
            "Transition into LIVE has been requested"
          ],
          "type": "string",
          "enum": [
            "lifeCycleStatusUnspecified",
            "created",
            "ready",
            "testing",
            "live",
            "complete",
            "revoked",
            "testStarting",
            "liveStarting"
          ],
          "description": "The broadcast's status. The status can be updated using the API's liveBroadcasts.transition method."
        },
        "recordingStatus": {
          "enumDescriptions": [
            "No value or the value is unknown.",
            "The recording has not yet been started.",
            "The recording is currently on.",
            "The recording is completed, and cannot be started again."
          ],
          "type": "string",
          "enum": [
            "liveBroadcastRecordingStatusUnspecified",
            "notRecording",
            "recording",
            "recorded"
          ],
          "description": "The broadcast's recording status."
        },
        "selfDeclaredMadeForKids": {
          "description": "This field will be set to True if the creator declares the broadcast to be kids only: go/live-cw-work.",
          "type": "boolean"
        },
        "liveBroadcastPriority": {
          "type": "string",
          "description": "Priority of the live broadcast event (internal state).",
          "enum": [
            "liveBroadcastPriorityUnspecified",
            "low",
            "normal",
            "high"
          ],
          "enumDescriptions": [
            "",
            "Low priority broadcast: for low view count HoAs or other low priority broadcasts.",
            "Normal priority broadcast: for regular HoAs and broadcasts.",
            "High priority broadcast: for high profile HoAs, like PixelCorp ones."
          ]
        },
        "privacyStatus": {
          "enum": [
            "public",
            "unlisted",
            "private"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "The broadcast's privacy status. Note that the broadcast represents exactly one YouTube video, so the privacy settings are identical to those supported for videos. In addition, you can set this field by modifying the broadcast resource or by setting the privacyStatus field of the corresponding video resource.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "LiveBroadcastStatus"
    },
    "AbuseType": {
      "properties": {
        "id": {
          "type": "string"
        }
      },
      "id": "AbuseType",
      "type": "object"
    },
    "ChannelStatistics": {
      "properties": {
        "commentCount": {
          "type": "string",
          "description": "The number of comments for the channel.",
          "format": "uint64"
        },
        "videoCount": {
          "format": "uint64",
          "type": "string",
          "description": "The number of videos uploaded to the channel."
        },
        "viewCount": {
          "description": "The number of times the channel has been viewed.",
          "format": "uint64",
          "type": "string"
        },
        "subscriberCount": {
          "description": "The number of subscribers that the channel has.",
          "type": "string",
          "format": "uint64"
        },
        "hiddenSubscriberCount": {
          "description": "Whether or not the number of subscribers is shown for this user.",
          "type": "boolean"
        }
      },
      "description": "Statistics about a channel: number of subscribers, number of videos in the channel, etc.",
      "type": "object",
      "id": "ChannelStatistics"
    },
    "LiveChatBan": {
      "description": "A `__liveChatBan__` resource represents a ban for a YouTube live chat.",
      "type": "object",
      "properties": {
        "snippet": {
          "$ref": "LiveChatBanSnippet",
          "description": "The `snippet` object contains basic details about the ban."
        },
        "kind": {
          "default": "youtube#liveChatBan",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"youtube#liveChatBan\"`.",
          "type": "string"
        },
        "id": {
          "description": "The ID that YouTube assigns to uniquely identify the ban.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        }
      },
      "id": "LiveChatBan"
    },
    "ActivityContentDetailsLike": {
      "description": "Information about a resource that received a positive (like) rating.",
      "type": "object",
      "id": "ActivityContentDetailsLike",
      "properties": {
        "resourceId": {
          "description": "The resourceId object contains information that identifies the rated resource.",
          "$ref": "ResourceId"
        }
      }
    },
    "I18nRegion": {
      "id": "I18nRegion",
      "type": "object",
      "description": "A *i18nRegion* resource identifies a region where YouTube is available.",
      "properties": {
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "kind": {
          "default": "youtube#i18nRegion",
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#i18nRegion\"."
        },
        "snippet": {
          "description": "The snippet object contains basic details about the i18n region, such as region code and human-readable name.",
          "$ref": "I18nRegionSnippet"
        },
        "id": {
          "description": "The ID that YouTube uses to uniquely identify the i18n region.",
          "type": "string"
        }
      }
    },
    "PlaylistItemSnippet": {
      "properties": {
        "publishedAt": {
          "type": "string",
          "description": "The date and time that the item was added to the playlist. The value is specified in ISO 8601 format."
        },
        "channelTitle": {
          "type": "string",
          "description": "Channel title for the channel that the playlist item belongs to."
        },
        "position": {
          "format": "uint32",
          "description": "The order in which the item appears in the playlist. The value uses a zero-based index, so the first item has a position of 0, the second item has a position of 1, and so forth.",
          "type": "integer"
        },
        "resourceId": {
          "description": "The id object contains information that can be used to uniquely identify the resource that is included in the playlist as the playlist item.",
          "$ref": "ResourceId"
        },
        "title": {
          "type": "string",
          "description": "The item's title."
        },
        "thumbnails": {
          "$ref": "ThumbnailDetails",
          "description": "A map of thumbnail images associated with the playlist item. For each object in the map, the key is the name of the thumbnail image, and the value is an object that contains other information about the thumbnail."
        },
        "description": {
          "description": "The item's description.",
          "type": "string"
        },
        "channelId": {
          "description": "The ID that YouTube uses to uniquely identify the user that added the item to the playlist.",
          "type": "string"
        },
        "playlistId": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify thGe playlist that the playlist item is in."
        }
      },
      "type": "object",
      "description": "Basic details about a playlist, including title, description and thumbnails. Basic details of a YouTube Playlist item provided by the author. Next ID: 13",
      "id": "PlaylistItemSnippet"
    },
    "SponsorListResponse": {
      "type": "object",
      "id": "SponsorListResponse",
      "properties": {
        "pageInfo": {
          "$ref": "PageInfo"
        },
        "nextPageToken": {
          "description": "The token that can be used as the value of the `pageToken` parameter to retrieve the next page in the result set.",
          "type": "string"
        },
        "kind": {
          "default": "youtube#sponsorListResponse",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"youtube#sponsorListResponse\".",
          "type": "string"
        },
        "visitorId": {
          "description": "The `visitorId` identifies the visitor.",
          "type": "string"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "eventId": {
          "description": "Serialized EventId of the request which produced this response.",
          "type": "string"
        },
        "tokenPagination": {
          "$ref": "TokenPagination"
        },
        "items": {
          "items": {
            "$ref": "Sponsor"
          },
          "description": "A list of sponsors that match the request criteria.",
          "type": "array"
        }
      }
    },
    "VideoAbuseReportReason": {
      "id": "VideoAbuseReportReason",
      "type": "object",
      "description": "A `__videoAbuseReportReason__` resource identifies a reason that a video could be reported as abusive. Video abuse report reasons are used with `video.ReportAbuse`.",
      "properties": {
        "snippet": {
          "description": "The `snippet` object contains basic details about the abuse report reason.",
          "$ref": "VideoAbuseReportReasonSnippet"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"youtube#videoAbuseReportReason\"`.",
          "default": "youtube#videoAbuseReportReason",
          "type": "string"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The ID of this abuse report reason."
        }
      }
    },
    "VideoStatistics": {
      "type": "object",
      "properties": {
        "likeCount": {
          "format": "uint64",
          "type": "string",
          "description": "The number of users who have indicated that they liked the video by giving it a positive rating."
        },
        "favoriteCount": {
          "format": "uint64",
          "description": "The number of users who currently have the video marked as a favorite video.",
          "type": "string"
        },
        "viewCount": {
          "type": "string",
          "format": "uint64",
          "description": "The number of times the video has been viewed."
        },
        "commentCount": {
          "description": "The number of comments for the video.",
          "format": "uint64",
          "type": "string"
        },
        "dislikeCount": {
          "type": "string",
          "description": "The number of users who have indicated that they disliked the video by giving it a negative rating.",
          "format": "uint64"
        }
      },
      "id": "VideoStatistics",
      "description": "Statistics about the video, such as the number of times the video was viewed or liked."
    },
    "ChannelCard": {
      "type": "object",
      "id": "ChannelCard",
      "properties": {
        "channelId": {
          "description": "External channel ID. Required.",
          "type": "string"
        },
        "customMessage": {
          "type": "string",
          "description": "Each card can have a custom message. Required."
        }
      }
    },
    "RelatedEntity": {
      "properties": {
        "entity": {
          "$ref": "Entity"
        }
      },
      "type": "object",
      "id": "RelatedEntity"
    },
    "InfoCard": {
      "id": "InfoCard",
      "properties": {
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "snippet": {
          "$ref": "InfoCardSnippet",
          "description": "The snippet object contains basic details about the infocard."
        },
        "id": {
          "type": "string",
          "description": "UUID for this infocard."
        },
        "kind": {
          "default": "youtube#infocard",
          "type": "string",
          "description": "Identifies what kind of resource this is."
        }
      },
      "type": "object"
    },
    "CommentThreadReplies": {
      "type": "object",
      "description": "Comments written in (direct or indirect) reply to the top level comment.",
      "id": "CommentThreadReplies",
      "properties": {
        "comments": {
          "description": "A limited number of replies. Unless the number of replies returned equals total_reply_count in the snippet the returned replies are only a subset of the total number of replies.",
          "type": "array",
          "items": {
            "$ref": "Comment"
          }
        }
      }
    },
    "PromotedItemId": {
      "type": "object",
      "description": "Describes a single promoted item id. It is a union of various possible types.",
      "properties": {
        "recentlyUploadedBy": {
          "description": "If type is recentUpload, this field identifies the channel from which to take the recent upload. If missing, the channel is assumed to be the same channel for which the invideoPromotion is set.",
          "type": "string"
        },
        "type": {
          "description": "Describes the type of the promoted item.",
          "type": "string",
          "enum": [
            "video",
            "website",
            "recentUpload"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "websiteUrl": {
          "type": "string",
          "description": "If the promoted item represents a website, this field represents the url pointing to the website. This field will be present only if type has the value website."
        },
        "videoId": {
          "description": "If the promoted item represents a video, this field represents the unique YouTube ID identifying it. This field will be present only if type has the value video.",
          "type": "string"
        }
      },
      "id": "PromotedItemId"
    },
    "SearchResultSnippet": {
      "properties": {
        "thumbnails": {
          "description": "A map of thumbnail images associated with the search result. For each object in the map, the key is the name of the thumbnail image, and the value is an object that contains other information about the thumbnail.",
          "$ref": "ThumbnailDetails"
        },
        "title": {
          "description": "The title of the search result.",
          "type": "string"
        },
        "channelTitle": {
          "type": "string",
          "description": "The title of the channel that published the resource that the search result identifies."
        },
        "liveBroadcastContent": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "none",
            "upcoming",
            "live",
            "completed"
          ],
          "description": "It indicates if the resource (video or channel) has upcoming/active live broadcast content. Or it's \"none\" if there is not any upcoming/active live broadcasts."
        },
        "description": {
          "description": "A description of the search result.",
          "type": "string"
        },
        "channelId": {
          "type": "string",
          "description": "The value that YouTube uses to uniquely identify the channel that published the resource that the search result identifies."
        },
        "publishedAt": {
          "description": "The creation date and time of the resource that the search result identifies. The value is specified in ISO 8601 format.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Basic details about a search result, including title, description and thumbnails of the item referenced by the search result.",
      "id": "SearchResultSnippet"
    },
    "VideoFileDetailsVideoStream": {
      "description": "Information about a video stream.",
      "id": "VideoFileDetailsVideoStream",
      "type": "object",
      "properties": {
        "codec": {
          "description": "The video codec that the stream uses.",
          "type": "string"
        },
        "vendor": {
          "description": "A value that uniquely identifies a video vendor. Typically, the value is a four-letter vendor code.",
          "type": "string"
        },
        "frameRateFps": {
          "format": "double",
          "description": "The video stream's frame rate, in frames per second.",
          "type": "number"
        },
        "aspectRatio": {
          "format": "double",
          "type": "number",
          "description": "The video content's display aspect ratio, which specifies the aspect ratio in which the video should be displayed."
        },
        "widthPixels": {
          "format": "uint32",
          "description": "The encoded video content's width in pixels. You can calculate the video's encoding aspect ratio as width_pixels / height_pixels.",
          "type": "integer"
        },
        "rotation": {
          "enum": [
            "none",
            "clockwise",
            "upsideDown",
            "counterClockwise",
            "other"
          ],
          "description": "The amount that YouTube needs to rotate the original source content to properly display the video.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "bitrateBps": {
          "description": "The video stream's bitrate, in bits per second.",
          "format": "uint64",
          "type": "string"
        },
        "heightPixels": {
          "format": "uint32",
          "description": "The encoded video content's height in pixels.",
          "type": "integer"
        }
      }
    },
    "Thumbnail": {
      "properties": {
        "width": {
          "format": "uint32",
          "type": "integer",
          "description": "(Optional) Width of the thumbnail image."
        },
        "height": {
          "type": "integer",
          "description": "(Optional) Height of the thumbnail image.",
          "format": "uint32"
        },
        "url": {
          "description": "The thumbnail image's URL.",
          "type": "string"
        }
      },
      "id": "Thumbnail",
      "description": "A thumbnail is an image representing a YouTube resource.",
      "type": "object"
    },
    "SuperChatEvent": {
      "id": "SuperChatEvent",
      "description": "A `__superChatEvent__` resource represents a Super Chat purchase on a YouTube channel.",
      "properties": {
        "kind": {
          "default": "youtube#superChatEvent",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"youtube#superChatEvent\"`.",
          "type": "string"
        },
        "id": {
          "description": "The ID that YouTube assigns to uniquely identify the Super Chat event.",
          "type": "string"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "snippet": {
          "$ref": "SuperChatEventSnippet",
          "description": "The `snippet` object contains basic details about the Super Chat event."
        }
      },
      "type": "object"
    },
    "SuperChatEventListResponse": {
      "id": "SuperChatEventListResponse",
      "type": "object",
      "properties": {
        "pageInfo": {
          "$ref": "PageInfo"
        },
        "tokenPagination": {
          "$ref": "TokenPagination"
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set."
        },
        "kind": {
          "type": "string",
          "default": "youtube#superChatEventListResponse",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#superChatEventListResponse\"."
        },
        "eventId": {
          "type": "string",
          "description": "Serialized EventId of the request which produced this response."
        },
        "items": {
          "description": "A list of Super Chat purchases that match the request criteria.",
          "items": {
            "$ref": "SuperChatEvent"
          },
          "type": "array"
        },
        "visitorId": {
          "type": "string",
          "description": "The visitorId identifies the visitor."
        }
      }
    },
    "MembershipsDuration": {
      "id": "MembershipsDuration",
      "properties": {
        "memberTotalDurationMonths": {
          "description": "The cumulative time the user has been a member across all levels in complete months (the time is rounded down to the nearest integer).",
          "type": "integer",
          "format": "int32"
        },
        "memberSince": {
          "description": "The date and time when the user became a continuous member across all levels.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "InvideoPosition": {
      "type": "object",
      "description": "Describes the spatial position of a visual widget inside a video. It is a union of various position types, out of which only will be set one.",
      "properties": {
        "type": {
          "enumDescriptions": [
            ""
          ],
          "type": "string",
          "description": "Defines the position type.",
          "enum": [
            "corner"
          ]
        },
        "cornerPosition": {
          "enum": [
            "topLeft",
            "topRight",
            "bottomLeft",
            "bottomRight"
          ],
          "description": "Describes in which corner of the video the visual widget will appear.",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        }
      },
      "id": "InvideoPosition"
    },
    "PlaylistSnippet": {
      "id": "PlaylistSnippet",
      "type": "object",
      "properties": {
        "title": {
          "description": "The playlist's title.",
          "type": "string"
        },
        "publishedAt": {
          "description": "The date and time that the playlist was created. The value is specified in ISO 8601 format.",
          "type": "string"
        },
        "channelTitle": {
          "type": "string",
          "description": "The channel title of the channel that the video belongs to."
        },
        "thumbnails": {
          "description": "A map of thumbnail images associated with the playlist. For each object in the map, the key is the name of the thumbnail image, and the value is an object that contains other information about the thumbnail.",
          "$ref": "ThumbnailDetails"
        },
        "description": {
          "type": "string",
          "description": "The playlist's description."
        },
        "channelId": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the channel that published the playlist."
        },
        "defaultLanguage": {
          "type": "string",
          "description": "The language of the playlist's default title and description."
        },
        "localized": {
          "description": "Localized title and description, read-only.",
          "$ref": "PlaylistLocalization"
        },
        "tags": {
          "description": "Keyword tags associated with the playlist.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Basic details about a playlist, including title, description and thumbnails."
    },
    "ActivityContentDetailsSocial": {
      "properties": {
        "referenceUrl": {
          "type": "string",
          "description": "The URL of the social network post."
        },
        "author": {
          "description": "The author of the social network post.",
          "type": "string"
        },
        "resourceId": {
          "$ref": "ResourceId",
          "description": "The resourceId object encapsulates information that identifies the resource associated with a social network post."
        },
        "type": {
          "description": "The name of the social network.",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "typeUnspecified",
            "googlePlus",
            "facebook",
            "twitter"
          ]
        },
        "imageUrl": {
          "type": "string",
          "description": "An image of the post's author."
        }
      },
      "id": "ActivityContentDetailsSocial",
      "type": "object",
      "description": "Details about a social network post."
    },
    "LiveBroadcastContentDetails": {
      "type": "object",
      "id": "LiveBroadcastContentDetails",
      "description": "Detailed settings of a broadcast.",
      "properties": {
        "enableAutoStop": {
          "description": "This setting indicates whether auto stop is enabled for this broadcast. The default value for this property is false. This setting can only be used by Events.",
          "type": "boolean"
        },
        "enableEmbed": {
          "description": "This setting indicates whether the broadcast video can be played in an embedded player. If you choose to archive the video (using the enableArchive property), this setting will also apply to the archived video.",
          "annotations": {
            "required": [
              "youtube.liveBroadcasts.update"
            ]
          },
          "type": "boolean"
        },
        "recordFromStart": {
          "description": "Automatically start recording after the event goes live. The default value for this property is true. *Important:* You must also set the enableDvr property's value to true if you want the playback to be available immediately after the broadcast ends. If you set this property's value to true but do not also set the enableDvr property to true, there may be a delay of around one day before the archived video will be available for playback.",
          "type": "boolean",
          "annotations": {
            "required": [
              "youtube.liveBroadcasts.update"
            ]
          }
        },
        "monitorStream": {
          "description": "The monitorStream object contains information about the monitor stream, which the broadcaster can use to review the event content before the broadcast stream is shown publicly.",
          "$ref": "MonitorStreamInfo"
        },
        "enableDvr": {
          "type": "boolean",
          "description": "This setting determines whether viewers can access DVR controls while watching the video. DVR controls enable the viewer to control the video playback experience by pausing, rewinding, or fast forwarding content. The default value for this property is true. *Important:* You must set the value to true and also set the enableArchive property's value to true if you want to make playback available immediately after the broadcast ends.",
          "annotations": {
            "required": [
              "youtube.liveBroadcasts.update"
            ]
          }
        },
        "projection": {
          "description": "The projection format of this broadcast. This defaults to rectangular.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "projectionUnspecified",
            "rectangular",
            "360",
            "mesh"
          ]
        },
        "enableLowLatency": {
          "type": "boolean",
          "description": "Indicates whether this broadcast has low latency enabled."
        },
        "latencyPreference": {
          "type": "string",
          "description": "If both this and enable_low_latency are set, they must match. LATENCY_NORMAL should match enable_low_latency=false LATENCY_LOW should match enable_low_latency=true LATENCY_ULTRA_LOW should have enable_low_latency omitted.",
          "enum": [
            "latencyPreferenceUnspecified",
            "normal",
            "low",
            "ultraLow"
          ],
          "enumDescriptions": [
            "",
            "Best for: highest quality viewer playbacks and higher resolutions.",
            "Best for: near real-time interaction, with minimal playback buffering.",
            "Best for: real-time interaction Does not support: Closed captions, 1440p, and 4k resolutions"
          ]
        },
        "boundStreamId": {
          "description": "This value uniquely identifies the live stream bound to the broadcast.",
          "type": "string"
        },
        "enableContentEncryption": {
          "type": "boolean",
          "annotations": {
            "required": [
              "youtube.liveBroadcasts.update"
            ]
          },
          "description": "This setting indicates whether YouTube should enable content encryption for the broadcast."
        },
        "enableAutoStart": {
          "type": "boolean",
          "description": "This setting indicates whether auto start is enabled for this broadcast. The default value for this property is false. This setting can only be used by Events."
        },
        "mesh": {
          "type": "string",
          "description": "The mesh for projecting the video if projection is mesh. The mesh value must be a UTF-8 string containing the base-64 encoding of 3D mesh data that follows the Spherical Video V2 RFC specification for an mshp box, excluding the box size and type but including the following four reserved zero bytes for the version and flags.",
          "format": "byte"
        },
        "boundStreamLastUpdateTimeMs": {
          "type": "string",
          "description": "The date and time that the live stream referenced by boundStreamId was last updated."
        },
        "startWithSlate": {
          "description": "This setting indicates whether the broadcast should automatically begin with an in-stream slate when you update the broadcast's status to live. After updating the status, you then need to send a liveCuepoints.insert request that sets the cuepoint's eventState to end to remove the in-stream slate and make your broadcast stream visible to viewers.",
          "annotations": {
            "required": [
              "youtube.liveBroadcasts.update"
            ]
          },
          "type": "boolean"
        },
        "enableClosedCaptions": {
          "type": "boolean",
          "description": "This setting indicates whether HTTP POST closed captioning is enabled for this broadcast. The ingestion URL of the closed captions is returned through the liveStreams API. This is mutually exclusive with using the closed_captions_type property, and is equivalent to setting closed_captions_type to CLOSED_CAPTIONS_HTTP_POST."
        },
        "closedCaptionsType": {
          "type": "string",
          "enum": [
            "closedCaptionsTypeUnspecified",
            "closedCaptionsDisabled",
            "closedCaptionsHttpPost",
            "closedCaptionsEmbedded"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        }
      }
    },
    "ActivitySnippet": {
      "properties": {
        "publishedAt": {
          "description": "The date and time that the video was uploaded. The value is specified in ISO 8601 format.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "The type of activity that the resource describes.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "typeUnspecified",
            "upload",
            "like",
            "favorite",
            "comment",
            "subscription",
            "playlistItem",
            "recommendation",
            "bulletin",
            "social",
            "channelItem",
            "promotedItem"
          ]
        },
        "groupId": {
          "type": "string",
          "description": "The group ID associated with the activity. A group ID identifies user events that are associated with the same user and resource. For example, if a user rates a video and marks the same video as a favorite, the entries for those events would have the same group ID in the user's activity feed. In your user interface, you can avoid repetition by grouping events with the same groupId value."
        },
        "description": {
          "type": "string",
          "description": "The description of the resource primarily associated with the activity. @mutable youtube.activities.insert"
        },
        "channelId": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the channel associated with the activity."
        },
        "title": {
          "type": "string",
          "description": "The title of the resource primarily associated with the activity."
        },
        "thumbnails": {
          "$ref": "ThumbnailDetails",
          "description": "A map of thumbnail images associated with the resource that is primarily associated with the activity. For each object in the map, the key is the name of the thumbnail image, and the value is an object that contains other information about the thumbnail."
        },
        "channelTitle": {
          "description": "Channel title for the channel responsible for this activity",
          "type": "string"
        }
      },
      "id": "ActivitySnippet",
      "type": "object",
      "description": "Basic details about an activity, including title, description, thumbnails, activity type and group. Next ID: 12"
    },
    "LiveChatModeratorListResponse": {
      "properties": {
        "kind": {
          "type": "string",
          "default": "youtube#liveChatModeratorListResponse",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#liveChatModeratorListResponse\"."
        },
        "eventId": {
          "type": "string",
          "description": "Serialized EventId of the request which produced this response."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set."
        },
        "tokenPagination": {
          "$ref": "TokenPagination"
        },
        "pageInfo": {
          "description": "General pagination information.",
          "$ref": "PageInfo"
        },
        "visitorId": {
          "description": "The visitorId identifies the visitor.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "LiveChatModerator"
          },
          "description": "A list of moderators that match the request criteria."
        },
        "prevPageToken": {
          "type": "string",
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set."
        }
      },
      "id": "LiveChatModeratorListResponse",
      "type": "object"
    },
    "ActivityContentDetailsRecommendation": {
      "type": "object",
      "description": "Information that identifies the recommended resource.",
      "properties": {
        "reason": {
          "description": "The reason that the resource is recommended to the user.",
          "type": "string",
          "enum": [
            "reasonUnspecified",
            "videoFavorited",
            "videoLiked",
            "videoWatched"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "resourceId": {
          "$ref": "ResourceId",
          "description": "The resourceId object contains information that identifies the recommended resource."
        },
        "seedResourceId": {
          "$ref": "ResourceId",
          "description": "The seedResourceId object contains information about the resource that caused the recommendation."
        }
      },
      "id": "ActivityContentDetailsRecommendation"
    },
    "SearchListResponse": {
      "properties": {
        "pageInfo": {
          "description": "General pagination information.",
          "$ref": "PageInfo"
        },
        "kind": {
          "default": "youtube#searchListResponse",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#searchListResponse\".",
          "type": "string"
        },
        "tokenPagination": {
          "$ref": "TokenPagination"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set."
        },
        "prevPageToken": {
          "type": "string",
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set."
        },
        "regionCode": {
          "type": "string"
        },
        "items": {
          "description": "Pagination information for token pagination.",
          "items": {
            "$ref": "SearchResult"
          },
          "type": "array"
        },
        "eventId": {
          "description": "Serialized EventId of the request which produced this response.",
          "type": "string"
        },
        "visitorId": {
          "description": "The visitorId identifies the visitor.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        }
      },
      "id": "SearchListResponse",
      "type": "object"
    },
    "ChannelBannerResource": {
      "description": "A channel banner returned as the response to a channel_banner.insert call.",
      "type": "object",
      "properties": {
        "etag": {
          "type": "string"
        },
        "url": {
          "type": "string",
          "description": "The URL of this banner image."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#channelBannerResource\".",
          "default": "youtube#channelBannerResource"
        }
      },
      "id": "ChannelBannerResource"
    },
    "InfoCardSnippet": {
      "id": "InfoCardSnippet",
      "type": "object",
      "properties": {
        "channelInfocard": {
          "$ref": "ChannelCard"
        },
        "teaser": {
          "$ref": "InfoCardSnippetTeaser",
          "description": "Each card can have a teaser. Required."
        },
        "playlistInfocard": {
          "$ref": "PlaylistCard"
        },
        "linkInfocard": {
          "$ref": "LinkCard"
        },
        "videoInfocard": {
          "$ref": "VideoCard"
        }
      }
    },
    "ChannelSettings": {
      "id": "ChannelSettings",
      "description": "Branding properties for the channel view.",
      "properties": {
        "showBrowseView": {
          "description": "Whether the tab to browse the videos should be displayed.",
          "type": "boolean"
        },
        "featuredChannelsTitle": {
          "description": "Title for the featured channels tab.",
          "type": "string"
        },
        "defaultTab": {
          "type": "string",
          "description": "Which content tab users should see when viewing the channel."
        },
        "keywords": {
          "type": "string",
          "description": "Lists keywords associated with the channel, comma-separated."
        },
        "country": {
          "type": "string",
          "description": "The country of the channel."
        },
        "trackingAnalyticsAccountId": {
          "description": "The ID for a Google Analytics account to track and measure traffic to the channels.",
          "type": "string"
        },
        "title": {
          "description": "Specifies the channel title.",
          "type": "string"
        },
        "showRelatedChannels": {
          "description": "Whether related channels should be proposed.",
          "type": "boolean"
        },
        "unsubscribedTrailer": {
          "type": "string",
          "description": "The trailer of the channel, for users that are not subscribers."
        },
        "featuredChannelsUrls": {
          "type": "array",
          "description": "The list of featured channels.",
          "items": {
            "type": "string"
          }
        },
        "description": {
          "description": "Specifies the channel description.",
          "type": "string"
        },
        "defaultLanguage": {
          "type": "string"
        },
        "profileColor": {
          "description": "A prominent color that can be rendered on this channel page.",
          "type": "string"
        },
        "moderateComments": {
          "description": "Whether user-submitted comments left on the channel page need to be approved by the channel owner to be publicly visible.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "ChannelStatus": {
      "id": "ChannelStatus",
      "type": "object",
      "description": "JSON template for the status part of a channel.",
      "properties": {
        "isLinked": {
          "type": "boolean",
          "description": "If true, then the user is linked to either a YouTube username or G+ account. Otherwise, the user doesn't have a public YouTube identity."
        },
        "longUploadsStatus": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "longUploadsUnspecified",
            "allowed",
            "eligible",
            "disallowed"
          ],
          "description": "The long uploads status of this channel. See https://support.google.com/youtube/answer/71673 for more information."
        },
        "privacyStatus": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "public",
            "unlisted",
            "private"
          ],
          "description": "Privacy status of the channel."
        },
        "madeForKids": {
          "type": "boolean"
        },
        "selfDeclaredMadeForKids": {
          "type": "boolean"
        }
      }
    },
    "TestItemTestItemSnippet": {
      "id": "TestItemTestItemSnippet",
      "properties": {},
      "type": "object"
    },
    "LiveStreamConfigurationIssue": {
      "type": "object",
      "id": "LiveStreamConfigurationIssue",
      "properties": {
        "reason": {
          "type": "string",
          "description": "The short-form reason for this issue."
        },
        "type": {
          "description": "The kind of error happening.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "gopSizeOver",
            "gopSizeLong",
            "gopSizeShort",
            "openGop",
            "badContainer",
            "audioBitrateHigh",
            "audioBitrateLow",
            "audioSampleRate",
            "bitrateHigh",
            "bitrateLow",
            "audioCodec",
            "videoCodec",
            "noAudioStream",
            "noVideoStream",
            "multipleVideoStreams",
            "multipleAudioStreams",
            "audioTooManyChannels",
            "interlacedVideo",
            "frameRateHigh",
            "resolutionMismatch",
            "videoCodecMismatch",
            "videoInterlaceMismatch",
            "videoProfileMismatch",
            "videoBitrateMismatch",
            "framerateMismatch",
            "gopMismatch",
            "audioSampleRateMismatch",
            "audioStereoMismatch",
            "audioCodecMismatch",
            "audioBitrateMismatch",
            "videoResolutionSuboptimal",
            "videoResolutionUnsupported",
            "videoIngestionStarved",
            "videoIngestionFasterThanRealtime"
          ],
          "type": "string"
        },
        "severity": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "info",
            "warning",
            "error"
          ],
          "description": "How severe this issue is to the stream."
        },
        "description": {
          "description": "The long-form description of the issue and how to resolve it.",
          "type": "string"
        }
      }
    },
    "CaptionSnippet": {
      "description": "Basic details about a caption track, such as its language and name.",
      "type": "object",
      "properties": {
        "status": {
          "type": "string",
          "description": "The caption track's status.",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "serving",
            "syncing",
            "failed"
          ]
        },
        "videoId": {
          "description": "The ID that YouTube uses to uniquely identify the video associated with the caption track. @mutable youtube.captions.insert",
          "type": "string",
          "annotations": {
            "required": [
              "youtube.captions.insert"
            ]
          }
        },
        "lastUpdated": {
          "type": "string",
          "description": "The date and time when the caption track was last updated. The value is specified in ISO 8601 format."
        },
        "failureReason": {
          "description": "The reason that YouTube failed to process the caption track. This property is only present if the state property's value is failed.",
          "type": "string",
          "enum": [
            "unknownFormat",
            "unsupportedFormat",
            "processingFailed"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "language": {
          "type": "string",
          "description": "The language of the caption track. The property value is a BCP-47 language tag."
        },
        "isEasyReader": {
          "description": "Indicates whether caption track is formatted for \"easy reader,\" meaning it is at a third-grade level for language learners. The default value is false.",
          "type": "boolean"
        },
        "isDraft": {
          "type": "boolean",
          "description": "Indicates whether the caption track is a draft. If the value is true, then the track is not publicly visible. The default value is false. @mutable youtube.captions.insert youtube.captions.update"
        },
        "audioTrackType": {
          "description": "The type of audio track associated with the caption track.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "unknown",
            "primary",
            "commentary",
            "descriptive"
          ]
        },
        "name": {
          "type": "string",
          "description": "The name of the caption track. The name is intended to be visible to the user as an option during playback."
        },
        "isAutoSynced": {
          "description": "Indicates whether YouTube synchronized the caption track to the audio track in the video. The value will be true if a sync was explicitly requested when the caption track was uploaded. For example, when calling the captions.insert or captions.update methods, you can set the sync parameter to true to instruct YouTube to sync the uploaded track to the video. If the value is false, YouTube uses the time codes in the uploaded caption track to determine when to display captions.",
          "type": "boolean"
        },
        "trackKind": {
          "description": "The caption track's type.",
          "type": "string",
          "enum": [
            "standard",
            "ASR",
            "forced"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "isLarge": {
          "description": "Indicates whether the caption track uses large text for the vision-impaired. The default value is false.",
          "type": "boolean"
        },
        "isCC": {
          "type": "boolean",
          "description": "Indicates whether the track contains closed captions for the deaf and hard of hearing. The default value is false."
        }
      },
      "id": "CaptionSnippet"
    },
    "MemberSnippet": {
      "type": "object",
      "id": "MemberSnippet",
      "properties": {
        "membershipsDetails": {
          "description": "Details about the user's membership.",
          "$ref": "MembershipsDetails"
        },
        "memberDetails": {
          "$ref": "ChannelProfileDetails",
          "description": "Details about the member."
        },
        "creatorChannelId": {
          "description": "The id of the channel that's offering memberships.",
          "type": "string"
        }
      }
    },
    "GuideCategorySnippet": {
      "id": "GuideCategorySnippet",
      "properties": {
        "title": {
          "type": "string",
          "description": "Description of the guide category."
        },
        "channelId": {
          "type": "string"
        }
      },
      "type": "object",
      "description": "Basic details about a guide category."
    },
    "LiveBroadcast": {
      "type": "object",
      "id": "LiveBroadcast",
      "description": "A *liveBroadcast* resource represents an event that will be streamed, via live video, on YouTube.",
      "properties": {
        "statistics": {
          "$ref": "LiveBroadcastStatistics",
          "description": "The statistics object contains info about the event's current stats. These include concurrent viewers and total chat count. Statistics can change (in either direction) during the lifetime of an event. Statistics are only returned while the event is live."
        },
        "status": {
          "description": "The status object contains information about the event's status.",
          "$ref": "LiveBroadcastStatus"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "contentDetails": {
          "description": "The contentDetails object contains information about the event's video content, such as whether the content can be shown in an embedded video player or if it will be archived and therefore available for viewing after the event has concluded.",
          "$ref": "LiveBroadcastContentDetails"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#liveBroadcast\".",
          "type": "string",
          "default": "youtube#liveBroadcast"
        },
        "snippet": {
          "$ref": "LiveBroadcastSnippet",
          "description": "The snippet object contains basic details about the event, including its title, description, start time, and end time."
        },
        "id": {
          "type": "string",
          "description": "The ID that YouTube assigns to uniquely identify the broadcast."
        }
      }
    },
    "VideoRating": {
      "type": "object",
      "description": "Basic details about rating of a video.",
      "id": "VideoRating",
      "properties": {
        "rating": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "none",
            "like",
            "dislike"
          ],
          "description": "Rating of a video."
        },
        "videoId": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the video."
        }
      }
    },
    "ChannelSnippet": {
      "description": "Basic details about a channel, including title, description and thumbnails.",
      "type": "object",
      "properties": {
        "customUrl": {
          "type": "string",
          "description": "The custom url of the channel."
        },
        "localized": {
          "$ref": "ChannelLocalization",
          "description": "Localized title and description, read-only."
        },
        "country": {
          "type": "string",
          "description": "The country of the channel."
        },
        "thumbnails": {
          "$ref": "ThumbnailDetails",
          "description": "A map of thumbnail images associated with the channel. For each object in the map, the key is the name of the thumbnail image, and the value is an object that contains other information about the thumbnail. When displaying thumbnails in your application, make sure that your code uses the image URLs exactly as they are returned in API responses. For example, your application should not use the http domain instead of the https domain in a URL returned in an API response. Beginning in July 2018, channel thumbnail URLs will only be available in the https domain, which is how the URLs appear in API responses. After that time, you might see broken images in your application if it tries to load YouTube images from the http domain."
        },
        "description": {
          "description": "The description of the channel.",
          "type": "string"
        },
        "publishedAt": {
          "description": "The date and time that the channel was created. The value is specified in \u003c a href=\"//www.w3.org/TR/NOTE-datetime\"\u003eISO 8601 format.",
          "type": "string"
        },
        "title": {
          "description": "The channel's title.",
          "type": "string"
        },
        "defaultLanguage": {
          "description": "The language of the channel's default title and description.",
          "type": "string"
        }
      },
      "id": "ChannelSnippet"
    },
    "SponsorSnippet": {
      "properties": {
        "cumulativeDurationMonths": {
          "format": "int32",
          "type": "integer",
          "description": "The cumulative time a user has been a sponsor in months."
        },
        "channelId": {
          "type": "string",
          "description": "The id of the channel being sponsored."
        },
        "sponsorDetails": {
          "$ref": "ChannelProfileDetails",
          "description": "Details about the sponsor."
        },
        "sponsorSince": {
          "type": "string",
          "description": "The date and time when the user became a sponsor. The value is specified in ISO 8601 (`YYYY-MM-DDThh:mm:ss.sZ`) format."
        }
      },
      "type": "object",
      "id": "SponsorSnippet"
    },
    "Comment": {
      "id": "Comment",
      "type": "object",
      "description": "A *comment* represents a single YouTube comment.",
      "properties": {
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the comment."
        },
        "snippet": {
          "description": "The snippet object contains basic details about the comment.",
          "$ref": "CommentSnippet"
        },
        "kind": {
          "default": "youtube#comment",
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#comment\"."
        }
      }
    },
    "I18nRegionSnippet": {
      "description": "Basic details about an i18n region, such as region code and human-readable name.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The human-readable name of the region."
        },
        "gl": {
          "description": "The region code as a 2-letter ISO country code.",
          "type": "string"
        }
      },
      "id": "I18nRegionSnippet",
      "type": "object"
    },
    "ChannelAuditDetails": {
      "description": "The auditDetails object encapsulates channel data that is relevant for YouTube Partners during the audit process.",
      "properties": {
        "communityGuidelinesGoodStanding": {
          "type": "boolean",
          "description": "Whether or not the channel respects the community guidelines."
        },
        "copyrightStrikesGoodStanding": {
          "description": "Whether or not the channel has any copyright strikes.",
          "type": "boolean"
        },
        "contentIdClaimsGoodStanding": {
          "type": "boolean",
          "description": "Whether or not the channel has any unresolved claims."
        }
      },
      "id": "ChannelAuditDetails",
      "type": "object"
    },
    "GeoPoint": {
      "description": "Geographical coordinates of a point, in WGS84.",
      "properties": {
        "latitude": {
          "description": "Latitude in degrees.",
          "format": "double",
          "type": "number"
        },
        "longitude": {
          "description": "Longitude in degrees.",
          "type": "number",
          "format": "double"
        },
        "altitude": {
          "type": "number",
          "format": "double",
          "description": "Altitude above the reference ellipsoid, in meters."
        }
      },
      "type": "object",
      "id": "GeoPoint"
    },
    "ChannelLocalization": {
      "description": "Channel localization setting",
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "The localized strings for channel's description."
        },
        "title": {
          "description": "The localized strings for channel's title.",
          "type": "string"
        }
      },
      "id": "ChannelLocalization"
    },
    "VideoTopicDetails": {
      "id": "VideoTopicDetails",
      "description": "Freebase topic information related to the video.",
      "type": "object",
      "properties": {
        "relevantTopicIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Similar to topic_id, except that these topics are merely relevant to the video. These are topics that may be mentioned in, or appear in the video. You can retrieve information about each topic using Freebase Topic API."
        },
        "topicIds": {
          "description": "A list of Freebase topic IDs that are centrally associated with the video. These are topics that are centrally featured in the video, and it can be said that the video is mainly about each of these. You can retrieve information about each topic using the \u003c a href=\"http://wiki.freebase.com/wiki/Topic_API\"\u003eFreebase Topic API.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "topicCategories": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of Wikipedia URLs that provide a high-level description of the video's content."
        }
      }
    },
    "LiveStreamStatus": {
      "properties": {
        "streamStatus": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "created",
            "ready",
            "active",
            "inactive",
            "error"
          ]
        },
        "healthStatus": {
          "description": "The health status of the stream.",
          "$ref": "LiveStreamHealthStatus"
        }
      },
      "id": "LiveStreamStatus",
      "description": "Brief description of the live stream status.",
      "type": "object"
    },
    "VideoContentDetails": {
      "description": "Details about the content of a YouTube Video.",
      "type": "object",
      "id": "VideoContentDetails",
      "properties": {
        "dimension": {
          "description": "The value of dimension indicates whether the video is available in 3D or in 2D.",
          "type": "string"
        },
        "regionRestriction": {
[...]
