{
  "basePath": "",
  "rootUrl": "https://youtube.googleapis.com/",
  "name": "youtube",
  "id": "youtube:v3",
  "mtlsRootUrl": "https://youtube.mtls.googleapis.com/",
  "servicePath": "",
  "discoveryVersion": "v1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/youtubepartner-channel-audit": {
          "description": "View private information of your YouTube channel relevant during the audit process with a YouTube partner"
        },
        "https://www.googleapis.com/auth/youtubepartner": {
          "description": "View and manage your assets and associated content on YouTube"
        },
        "https://www.googleapis.com/auth/youtube": {
          "description": "Manage your YouTube account"
        },
        "https://www.googleapis.com/auth/youtube.upload": {
          "description": "Manage your YouTube videos"
        },
        "https://www.googleapis.com/auth/youtube.force-ssl": {
          "description": "See, edit, and permanently delete your YouTube videos, ratings, comments and captions"
        },
        "https://www.googleapis.com/auth/youtube.readonly": {
          "description": "View your YouTube account"
        },
        "https://www.googleapis.com/auth/youtube.channel-memberships.creator": {
          "description": "See a list of your current active channel members, their current level, and when they became a member"
        }
      }
    }
  },
  "version": "v3",
  "schemas": {
    "LiveChatFanFundingEventDetails": {
      "type": "object",
      "properties": {
        "currency": {
          "type": "string",
          "description": "The currency in which the fund was made."
        },
        "userComment": {
          "type": "string",
          "description": "The comment added by the user to this fan funding event."
        },
        "amountMicros": {
          "format": "uint64",
          "description": "The amount of the fund.",
          "type": "string"
        },
        "amountDisplayString": {
          "description": "A rendered string that displays the fund amount and currency to the user.",
          "type": "string"
        }
      },
      "id": "LiveChatFanFundingEventDetails"
    },
    "LiveChatGiftMembershipReceivedDetails": {
      "type": "object",
      "properties": {
        "associatedMembershipGiftingMessageId": {
          "type": "string",
          "description": "The ID of the membership gifting message that is related to this gift membership. This ID will always refer to a message whose type is 'membershipGiftingEvent'."
        },
        "memberLevelName": {
          "type": "string",
          "description": "The name of the Level at which the viewer is a member. This matches the `snippet.membershipGiftingDetails.giftMembershipsLevelName` of the associated membership gifting message. The Level names are defined by the YouTube channel offering the Membership. In some situations this field isn't filled."
        },
        "gifterChannelId": {
          "type": "string",
          "description": "The ID of the user that made the membership gifting purchase. This matches the `snippet.authorChannelId` of the associated membership gifting message."
        }
      },
      "id": "LiveChatGiftMembershipReceivedDetails"
    },
    "SuperChatEventSnippet": {
      "properties": {
        "isSuperStickerEvent": {
          "description": "True if this event is a Super Sticker event.",
          "type": "boolean"
        },
        "createdAt": {
          "type": "string",
          "description": "The date and time when the event occurred.",
          "format": "date-time"
        },
        "superStickerMetadata": {
          "description": "If this event is a Super Sticker event, this field will contain metadata about the Super Sticker.",
          "$ref": "SuperStickerMetadata"
        },
        "supporterDetails": {
          "description": "Details about the supporter.",
          "$ref": "ChannelProfileDetails"
        },
        "currency": {
          "type": "string",
          "description": "The currency in which the purchase was made. ISO 4217."
        },
        "amountMicros": {
          "type": "string",
          "format": "uint64",
          "description": "The purchase amount, in micros of the purchase currency. e.g., 1 is represented as 1000000."
        },
        "commentText": {
          "description": "The text contents of the comment left by the user.",
          "type": "string"
        },
        "displayString": {
          "description": "A rendered string that displays the purchase amount and currency (e.g., \"$1.00\"). The string is rendered for the given language.",
          "type": "string"
        },
        "messageType": {
          "format": "uint32",
          "type": "integer",
          "description": "The tier for the paid message, which is based on the amount of money spent to purchase the message."
        },
        "channelId": {
          "description": "Channel id where the event occurred.",
          "type": "string"
        }
      },
      "id": "SuperChatEventSnippet",
      "type": "object"
    },
    "VideoSuggestions": {
      "id": "VideoSuggestions",
      "properties": {
        "processingErrors": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "audioFile",
              "imageFile",
              "projectFile",
              "notAVideoFile",
              "docFile",
              "archiveFile",
              "unsupportedSpatialAudioLayout"
            ],
            "enumDescriptions": [
              "File contains audio only (e.g., an MP3 file).",
              "Image file (e.g., a JPEG image).",
              "Movie project file (e.g., Microsoft Windows Movie Maker project).",
              "Other non-video file.",
              "Document or text file (e.g., MS Word document).",
              "An archive file (e.g., a ZIP archive).",
              "Unsupported spatial audio layout type."
            ]
          },
          "description": "A list of errors that will prevent YouTube from successfully processing the uploaded video video. These errors indicate that, regardless of the video's current processing status, eventually, that status will almost certainly be failed."
        },
        "processingWarnings": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unrecognized file format, transcoding is likely to fail.",
              "Unrecognized video codec, transcoding is likely to fail.",
              "Unrecognized audio codec, transcoding is likely to fail.",
              "Conflicting container and stream resolutions.",
              "Edit lists are not currently supported.",
              "Video codec that is known to cause problems was used.",
              "Audio codec that is known to cause problems was used.",
              "Unsupported VR video stereo mode.",
              "Unsupported spherical video projection type.",
              "Unsupported HDR pixel format.",
              "Unspecified HDR color metadata.",
              "Problematic HDR lookup table attached."
            ],
            "enum": [
              "unknownContainer",
              "unknownVideoCodec",
              "unknownAudioCodec",
              "inconsistentResolution",
              "hasEditlist",
              "problematicVideoCodec",
              "problematicAudioCodec",
              "unsupportedVrStereoMode",
              "unsupportedSphericalProjectionType",
              "unsupportedHdrPixelFormat",
              "unsupportedHdrColorMetadata",
              "problematicHdrLookupTable"
            ]
          },
          "description": "A list of reasons why YouTube may have difficulty transcoding the uploaded video or that might result in an erroneous transcoding. These warnings are generated before YouTube actually processes the uploaded video file. In addition, they identify issues that are unlikely to cause the video processing to fail but that might cause problems such as sync issues, video artifacts, or a missing audio track.",
          "type": "array"
        },
        "tagSuggestions": {
          "type": "array",
          "items": {
            "$ref": "VideoSuggestionsTagSuggestion"
          },
          "description": "A list of keyword tags that could be added to the video's metadata to increase the likelihood that users will locate your video when searching or browsing on YouTube."
        },
        "editorSuggestions": {
          "items": {
            "enumDescriptions": [
              "Picture brightness levels seem off and could be corrected.",
              "The video appears shaky and could be stabilized.",
              "Margins (mattes) detected around the picture could be cropped.",
              "The audio track appears silent and could be swapped with a better quality one."
            ],
            "enum": [
              "videoAutoLevels",
              "videoStabilize",
              "videoCrop",
              "audioQuietAudioSwap"
            ],
            "type": "string"
          },
          "description": "A list of video editing operations that might improve the video quality or playback experience of the uploaded video.",
          "type": "array"
        },
        "processingHints": {
          "items": {
            "enumDescriptions": [
              "The MP4 file is not streamable, this will slow down the processing. MOOV atom was not found at the beginning of the file.",
              "Probably a better quality version of the video exists. The video has wide screen aspect ratio, but is not an HD video.",
              "Uploaded video is spherical video.",
              "Uploaded video has spatial audio.",
              "Uploaded video is VR video.",
              "Uploaded video is HDR video."
            ],
            "type": "string",
            "enum": [
              "nonStreamableMov",
              "sendBestQualityVideo",
              "sphericalVideo",
              "spatialAudio",
              "vrVideo",
              "hdrVideo"
            ]
          },
          "type": "array",
          "description": "A list of suggestions that may improve YouTube's ability to process the video."
        }
      },
      "description": "Specifies suggestions on how to improve video content, including encoding hints, tag suggestions, and editor suggestions.",
      "type": "object"
    },
    "PlaylistItemListResponse": {
      "type": "object",
      "id": "PlaylistItemListResponse",
      "properties": {
        "items": {
          "items": {
            "$ref": "PlaylistItem"
          },
          "description": "A list of playlist items that match the request criteria.",
          "type": "array"
        },
        "pageInfo": {
          "description": "General pagination information.",
          "$ref": "PageInfo"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#playlistItemListResponse\". Etag of this resource.",
          "type": "string",
          "default": "youtube#playlistItemListResponse"
        },
        "prevPageToken": {
          "type": "string",
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set."
        },
        "visitorId": {
          "description": "The visitorId identifies the visitor.",
          "type": "string"
        },
        "etag": {
          "type": "string"
        },
        "nextPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set.",
          "type": "string"
        },
        "eventId": {
          "type": "string",
          "description": "Serialized EventId of the request which produced this response."
        },
        "tokenPagination": {
          "$ref": "TokenPagination"
        }
      }
    },
    "PlaylistContentDetails": {
      "type": "object",
      "properties": {
        "itemCount": {
          "type": "integer",
          "format": "uint32",
          "description": "The number of videos in the playlist."
        }
      },
      "id": "PlaylistContentDetails"
    },
    "CdnSettings": {
      "description": "Brief description of the live stream cdn settings.",
      "type": "object",
      "properties": {
        "format": {
          "type": "string",
          "description": "The format of the video stream that you are sending to Youtube. ",
          "annotations": {
            "required": [
              "youtube.liveStreams.insert",
              "youtube.liveStreams.update"
            ]
          },
          "deprecated": true
        },
        "frameRate": {
          "type": "string",
          "enum": [
            "30fps",
            "60fps",
            "variable"
          ],
          "description": "The frame rate of the inbound video data.",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "ingestionInfo": {
          "$ref": "IngestionInfo",
          "description": "The ingestionInfo object contains information that YouTube provides that you need to transmit your RTMP or HTTP stream to YouTube."
        },
        "ingestionType": {
          "enum": [
            "rtmp",
            "dash",
            "webrtc",
            "hls"
          ],
          "description": " The method or protocol used to transmit the video stream.",
          "type": "string",
          "annotations": {
            "required": [
              "youtube.liveStreams.insert",
              "youtube.liveStreams.update"
            ]
          },
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "resolution": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "The resolution of the inbound video data.",
          "enum": [
            "240p",
            "360p",
            "480p",
            "720p",
            "1080p",
            "1440p",
            "2160p",
            "variable"
          ],
          "type": "string"
        }
      },
      "id": "CdnSettings"
    },
    "SubscriptionSubscriberSnippet": {
      "description": "Basic details about a subscription's subscriber including title, description, channel ID and thumbnails.",
      "properties": {
        "title": {
          "type": "string",
          "description": "The title of the subscriber."
        },
        "description": {
          "description": "The description of the subscriber.",
          "type": "string"
        },
        "thumbnails": {
          "$ref": "ThumbnailDetails",
          "description": "Thumbnails for this subscriber."
        },
        "channelId": {
          "description": "The channel ID of the subscriber.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "SubscriptionSubscriberSnippet"
    },
    "LiveChatBan": {
      "id": "LiveChatBan",
      "description": "A `__liveChatBan__` resource represents a ban for a YouTube live chat.",
      "properties": {
        "snippet": {
          "description": "The `snippet` object contains basic details about the ban.",
          "$ref": "LiveChatBanSnippet"
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"youtube#liveChatBan\"`.",
          "type": "string",
          "default": "youtube#liveChatBan"
        },
        "id": {
          "description": "The ID that YouTube assigns to uniquely identify the ban.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "PlaylistItemSnippet": {
      "properties": {
        "publishedAt": {
          "description": "The date and time that the item was added to the playlist.",
          "type": "string",
          "format": "date-time"
        },
        "videoOwnerChannelTitle": {
          "description": "Channel title for the channel this video belongs to.",
          "type": "string"
        },
        "videoOwnerChannelId": {
          "description": "Channel id for the channel this video belongs to.",
          "type": "string"
        },
        "channelTitle": {
          "description": "Channel title for the channel that the playlist item belongs to.",
          "type": "string"
        },
        "thumbnails": {
          "$ref": "ThumbnailDetails",
          "description": "A map of thumbnail images associated with the playlist item. For each object in the map, the key is the name of the thumbnail image, and the value is an object that contains other information about the thumbnail."
        },
        "title": {
          "type": "string",
          "description": "The item's title."
        },
        "resourceId": {
          "$ref": "ResourceId",
          "description": "The id object contains information that can be used to uniquely identify the resource that is included in the playlist as the playlist item.",
          "annotations": {
            "required": [
              "youtube.playlistItems.insert",
              "youtube.playlistItems.update"
            ]
          }
        },
        "description": {
          "type": "string",
          "description": "The item's description."
        },
        "position": {
          "description": "The order in which the item appears in the playlist. The value uses a zero-based index, so the first item has a position of 0, the second item has a position of 1, and so forth.",
          "format": "uint32",
          "type": "integer"
        },
        "playlistId": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify thGe playlist that the playlist item is in.",
          "annotations": {
            "required": [
              "youtube.playlistItems.insert",
              "youtube.playlistItems.update"
            ]
          }
        },
        "channelId": {
          "description": "The ID that YouTube uses to uniquely identify the user that added the item to the playlist.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Basic details about a playlist, including title, description and thumbnails. Basic details of a YouTube Playlist item provided by the author. Next ID: 15",
      "id": "PlaylistItemSnippet"
    },
    "Cuepoint": {
      "properties": {
        "insertionOffsetTimeMs": {
          "type": "string",
          "description": "The time when the cuepoint should be inserted by offset to the broadcast actual start time.",
          "format": "int64"
        },
        "durationSecs": {
          "type": "integer",
          "description": "The duration of this cuepoint.",
          "format": "uint32"
        },
        "etag": {
          "type": "string"
        },
        "walltimeMs": {
          "description": "The wall clock time at which the cuepoint should be inserted. Only one of insertion_offset_time_ms and walltime_ms may be set at a time.",
          "type": "string",
          "format": "uint64"
        },
        "id": {
          "type": "string",
          "description": "The identifier for cuepoint resource."
        },
        "cueType": {
          "enum": [
            "cueTypeUnspecified",
            "cueTypeAd"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ]
        }
      },
      "type": "object",
      "description": "Note that there may be a 5-second end-point resolution issue. For instance, if a cuepoint comes in for 22:03:27, we may stuff the cuepoint into 22:03:25 or 22:03:30, depending. This is an artifact of HLS.",
      "id": "Cuepoint"
    },
    "LiveChatBanSnippet": {
      "properties": {
        "type": {
          "type": "string",
          "description": "The type of ban.",
          "enum": [
            "liveChatBanTypeUnspecified",
            "permanent",
            "temporary"
          ],
          "enumDescriptions": [
            "An invalid ban type.",
            "A permanent ban.",
            "A temporary ban."
          ]
        },
        "banDurationSeconds": {
          "type": "string",
          "description": "The duration of a ban, only filled if the ban has type TEMPORARY.",
          "format": "uint64"
        },
        "bannedUserDetails": {
          "$ref": "ChannelProfileDetails"
        },
        "liveChatId": {
          "type": "string",
          "description": "The chat this ban is pertinent to."
        }
      },
      "id": "LiveChatBanSnippet",
      "type": "object"
    },
    "WatchSettings": {
      "properties": {
        "backgroundColor": {
          "type": "string",
          "description": "The text color for the video watch page's branded area."
        },
        "textColor": {
          "description": "The background color for the video watch page's branded area.",
          "type": "string"
        },
        "featuredPlaylistId": {
          "type": "string",
          "description": "An ID that uniquely identifies a playlist that displays next to the video player."
        }
      },
      "id": "WatchSettings",
      "type": "object",
      "description": "Branding properties for the watch. All deprecated."
    },
    "I18nLanguageListResponse": {
      "id": "I18nLanguageListResponse",
      "properties": {
        "eventId": {
          "description": "Serialized EventId of the request which produced this response.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#i18nLanguageListResponse\".",
          "default": "youtube#i18nLanguageListResponse"
        },
        "visitorId": {
          "description": "The visitorId identifies the visitor.",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "I18nLanguage"
          },
          "description": "A list of supported i18n languages. In this map, the i18n language ID is the map key, and its value is the corresponding i18nLanguage resource.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "LiveChatModeratorSnippet": {
      "properties": {
        "moderatorDetails": {
          "$ref": "ChannelProfileDetails",
          "description": "Details about the moderator."
        },
        "liveChatId": {
          "type": "string",
          "description": "The ID of the live chat this moderator can act on."
        }
      },
      "id": "LiveChatModeratorSnippet",
      "type": "object"
    },
    "CommentThreadListResponse": {
      "id": "CommentThreadListResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set."
        },
        "visitorId": {
          "deprecated": true,
          "type": "string",
          "description": "The visitorId identifies the visitor."
        },
        "kind": {
          "type": "string",
          "default": "youtube#commentThreadListResponse",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#commentThreadListResponse\"."
        },
        "eventId": {
          "type": "string",
          "description": "Serialized EventId of the request which produced this response.",
          "deprecated": true
        },
        "pageInfo": {
          "$ref": "PageInfo",
          "description": "General pagination information."
        },
        "tokenPagination": {
          "deprecated": true,
          "$ref": "TokenPagination"
        },
        "items": {
          "description": "A list of comment threads that match the request criteria.",
          "items": {
            "$ref": "CommentThread"
          },
          "type": "array"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "PlaylistStatus": {
      "properties": {
        "privacyStatus": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "The playlist's privacy status.",
          "enum": [
            "public",
            "unlisted",
            "private"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "PlaylistStatus"
    },
    "LiveChatModerator": {
      "properties": {
        "id": {
          "description": "The ID that YouTube assigns to uniquely identify the moderator.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "kind": {
          "default": "youtube#liveChatModerator",
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#liveChatModerator\"."
        },
        "snippet": {
          "$ref": "LiveChatModeratorSnippet",
          "description": "The snippet object contains basic details about the moderator."
        }
      },
      "id": "LiveChatModerator",
      "type": "object",
      "description": "A *liveChatModerator* resource represents a moderator for a YouTube live chat. A chat moderator has the ability to ban/unban users from a chat, remove message, etc."
    },
    "LevelDetails": {
      "id": "LevelDetails",
      "properties": {
        "displayName": {
          "description": "The name that should be used when referring to this level.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "I18nRegion": {
      "id": "I18nRegion",
      "description": "A *i18nRegion* resource identifies a region where YouTube is available.",
      "properties": {
        "snippet": {
          "$ref": "I18nRegionSnippet",
          "description": "The snippet object contains basic details about the i18n region, such as region code and human-readable name."
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "id": {
          "description": "The ID that YouTube uses to uniquely identify the i18n region.",
          "type": "string"
        },
        "kind": {
          "default": "youtube#i18nRegion",
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#i18nRegion\"."
        }
      },
      "type": "object"
    },
    "ActivityContentDetailsUpload": {
      "properties": {
        "videoId": {
          "description": "The ID that YouTube uses to uniquely identify the uploaded video.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Information about the uploaded video.",
      "id": "ActivityContentDetailsUpload"
    },
    "LiveChatTextMessageDetails": {
      "properties": {
        "messageText": {
          "description": "The user's message.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "LiveChatTextMessageDetails"
    },
    "VideoProcessingDetailsProcessingProgress": {
      "properties": {
        "partsTotal": {
          "description": "An estimate of the total number of parts that need to be processed for the video. The number may be updated with more precise estimates while YouTube processes the video.",
          "type": "string",
          "format": "uint64"
        },
        "partsProcessed": {
          "description": "The number of parts of the video that YouTube has already processed. You can estimate the percentage of the video that YouTube has already processed by calculating: 100 * parts_processed / parts_total Note that since the estimated number of parts could increase without a corresponding increase in the number of parts that have already been processed, it is possible that the calculated progress could periodically decrease while YouTube processes a video.",
          "type": "string",
          "format": "uint64"
        },
        "timeLeftMs": {
          "format": "uint64",
          "description": "An estimate of the amount of time, in millseconds, that YouTube needs to finish processing the video.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Video processing progress and completion time estimate.",
      "id": "VideoProcessingDetailsProcessingProgress"
    },
    "PropertyValue": {
      "id": "PropertyValue",
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "description": "The property's value."
        },
        "property": {
          "type": "string",
          "description": "A property."
        }
      },
      "description": "A pair Property / Value."
    },
    "Member": {
      "description": "A *member* resource represents a member for a YouTube channel. A member provides recurring monetary support to a creator and receives special benefits.",
      "type": "object",
      "id": "Member",
      "properties": {
        "snippet": {
          "$ref": "MemberSnippet",
          "description": "The snippet object contains basic details about the member."
        },
        "kind": {
          "type": "string",
          "default": "youtube#member",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#member\"."
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        }
      }
    },
    "SearchResult": {
      "description": "A search result contains information about a YouTube video, channel, or playlist that matches the search parameters specified in an API request. While a search result points to a uniquely identifiable resource, like a video, it does not have its own persistent data.",
      "id": "SearchResult",
      "type": "object",
      "properties": {
        "snippet": {
          "$ref": "SearchResultSnippet",
          "description": "The snippet object contains basic details about a search result, such as its title or description. For example, if the search result is a video, then the title will be the video's title and the description will be the video's description."
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#searchResult\".",
          "default": "youtube#searchResult"
        },
        "id": {
          "$ref": "ResourceId",
          "description": "The id object contains information that can be used to uniquely identify the resource that matches the search request."
        }
      }
    },
    "LiveBroadcast": {
      "description": "A *liveBroadcast* resource represents an event that will be streamed, via live video, on YouTube.",
      "id": "LiveBroadcast",
      "properties": {
        "monetizationDetails": {
          "$ref": "LiveBroadcastMonetizationDetails",
          "description": "The monetizationDetails object contains information about the event's monetization details."
        },
        "id": {
          "annotations": {
            "required": [
              "youtube.liveBroadcasts.update"
            ]
          },
          "description": "The ID that YouTube assigns to uniquely identify the broadcast.",
          "type": "string"
        },
        "contentDetails": {
          "$ref": "LiveBroadcastContentDetails",
          "description": "The contentDetails object contains information about the event's video content, such as whether the content can be shown in an embedded video player or if it will be archived and therefore available for viewing after the event has concluded."
        },
        "snippet": {
          "$ref": "LiveBroadcastSnippet",
          "description": "The snippet object contains basic details about the event, including its title, description, start time, and end time."
        },
        "status": {
          "description": "The status object contains information about the event's status.",
          "$ref": "LiveBroadcastStatus"
        },
        "statistics": {
          "$ref": "LiveBroadcastStatistics",
          "description": "The statistics object contains info about the event's current stats. These include concurrent viewers and total chat count. Statistics can change (in either direction) during the lifetime of an event. Statistics are only returned while the event is live."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#liveBroadcast\".",
          "default": "youtube#liveBroadcast",
          "type": "string"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "I18nRegionListResponse": {
      "properties": {
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "items": {
          "description": "A list of regions where YouTube is available. In this map, the i18n region ID is the map key, and its value is the corresponding i18nRegion resource.",
          "type": "array",
          "items": {
            "$ref": "I18nRegion"
          }
        },
        "visitorId": {
          "description": "The visitorId identifies the visitor.",
          "deprecated": true,
          "type": "string"
        },
        "kind": {
          "default": "youtube#i18nRegionListResponse",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#i18nRegionListResponse\".",
          "type": "string"
        },
        "eventId": {
          "type": "string",
          "description": "Serialized EventId of the request which produced this response.",
          "deprecated": true
        }
      },
      "id": "I18nRegionListResponse",
      "type": "object"
    },
    "LocalizedString": {
      "type": "object",
      "id": "LocalizedString",
      "properties": {
        "value": {
          "type": "string"
        },
        "language": {
          "type": "string"
        }
      }
    },
    "Channel": {
      "type": "object",
      "properties": {
        "snippet": {
          "$ref": "ChannelSnippet",
          "description": "The snippet object contains basic details about the channel, such as its title, description, and thumbnail images."
        },
        "auditDetails": {
          "description": "The auditionDetails object encapsulates channel data that is relevant for YouTube Partners during the audition process.",
          "$ref": "ChannelAuditDetails"
        },
        "contentDetails": {
          "$ref": "ChannelContentDetails",
          "description": "The contentDetails object encapsulates information about the channel's content."
        },
        "statistics": {
          "$ref": "ChannelStatistics",
          "description": "The statistics object encapsulates statistics for the channel."
        },
        "id": {
          "description": "The ID that YouTube uses to uniquely identify the channel.",
          "type": "string"
        },
        "localizations": {
          "additionalProperties": {
            "$ref": "ChannelLocalization"
          },
          "type": "object",
          "description": "Localizations for different languages"
        },
        "status": {
          "$ref": "ChannelStatus",
          "description": "The status object encapsulates information about the privacy status of the channel."
        },
        "conversionPings": {
          "description": "The conversionPings object encapsulates information about conversion pings that need to be respected by the channel.",
          "deprecated": true,
          "$ref": "ChannelConversionPings"
        },
        "topicDetails": {
          "description": "The topicDetails object encapsulates information about Freebase topics associated with the channel.",
          "$ref": "ChannelTopicDetails"
        },
        "brandingSettings": {
          "$ref": "ChannelBrandingSettings",
          "description": "The brandingSettings object encapsulates information about the branding of the channel."
        },
        "kind": {
          "type": "string",
          "default": "youtube#channel",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#channel\"."
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "contentOwnerDetails": {
          "description": "The contentOwnerDetails object encapsulates channel data that is relevant for YouTube Partners linked with the channel.",
          "$ref": "ChannelContentOwnerDetails"
        }
      },
      "description": "A *channel* resource contains information about a YouTube channel.",
      "id": "Channel"
    },
    "AccessPolicy": {
      "id": "AccessPolicy",
      "type": "object",
      "description": "Rights management policy for YouTube resources.",
      "properties": {
        "exception": {
          "description": "A list of region codes that identify countries where the default policy do not apply.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "allowed": {
          "type": "boolean",
          "description": "The value of allowed indicates whether the access to the policy is allowed or denied by default."
        }
      }
    },
    "LiveChatModeratorListResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set."
        },
        "visitorId": {
          "deprecated": true,
          "type": "string",
          "description": "The visitorId identifies the visitor."
        },
        "tokenPagination": {
          "deprecated": true,
          "$ref": "TokenPagination"
        },
        "eventId": {
          "deprecated": true,
          "description": "Serialized EventId of the request which produced this response.",
          "type": "string"
        },
        "prevPageToken": {
          "type": "string",
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set."
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#liveChatModeratorListResponse\".",
          "default": "youtube#liveChatModeratorListResponse"
        },
        "pageInfo": {
          "$ref": "PageInfo",
          "description": "General pagination information."
        },
        "items": {
          "items": {
            "$ref": "LiveChatModerator"
          },
          "description": "A list of moderators that match the request criteria.",
          "type": "array"
        }
      },
      "id": "LiveChatModeratorListResponse"
    },
    "ChannelConversionPings": {
      "properties": {
        "pings": {
          "description": "Pings that the app shall fire (authenticated by biscotti cookie). Each ping has a context, in which the app must fire the ping, and a url identifying the ping.",
          "type": "array",
          "items": {
            "$ref": "ChannelConversionPing"
          }
        }
      },
      "type": "object",
      "id": "ChannelConversionPings",
      "description": "The conversionPings object encapsulates information about conversion pings that need to be respected by the channel."
    },
    "VideoAbuseReport": {
      "properties": {
        "reasonId": {
          "description": "The high-level, or primary, reason that the content is abusive. The value is an abuse report reason ID.",
          "type": "string"
        },
        "language": {
          "type": "string",
          "description": "The language that the content was viewed in."
        },
        "videoId": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the video."
        },
        "secondaryReasonId": {
          "type": "string",
          "description": "The specific, or secondary, reason that this content is abusive (if available). The value is an abuse report reason ID that is a valid secondary reason for the primary reason."
        },
        "comments": {
          "type": "string",
          "description": "Additional comments regarding the abuse report."
        }
      },
      "id": "VideoAbuseReport",
      "type": "object"
    },
    "ChannelStatus": {
      "properties": {
        "selfDeclaredMadeForKids": {
          "type": "boolean"
        },
        "longUploadsStatus": {
          "enum": [
            "longUploadsUnspecified",
            "allowed",
            "eligible",
            "disallowed"
          ],
          "description": "The long uploads status of this channel. See https://support.google.com/youtube/answer/71673 for more information.",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "privacyStatus": {
          "description": "Privacy status of the channel.",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "public",
            "unlisted",
            "private"
          ],
          "type": "string"
        },
        "isLinked": {
          "type": "boolean",
          "description": "If true, then the user is linked to either a YouTube username or G+ account. Otherwise, the user doesn't have a public YouTube identity."
        },
        "madeForKids": {
          "type": "boolean"
        }
      },
      "description": "JSON template for the status part of a channel.",
      "type": "object",
      "id": "ChannelStatus"
    },
    "LiveBroadcastStatistics": {
      "description": "Statistics about the live broadcast. These represent a snapshot of the values at the time of the request. Statistics are only returned for live broadcasts.",
      "type": "object",
      "id": "LiveBroadcastStatistics",
      "properties": {
        "concurrentViewers": {
          "description": "The number of viewers currently watching the broadcast. The property and its value will be present if the broadcast has current viewers and the broadcast owner has not hidden the viewcount for the video. Note that YouTube stops tracking the number of concurrent viewers for a broadcast when the broadcast ends. So, this property would not identify the number of viewers watching an archived video of a live broadcast that already ended.",
          "type": "string",
          "format": "uint64"
        }
      }
    },
    "ChannelSettings": {
      "description": "Branding properties for the channel view.",
      "type": "object",
      "properties": {
        "trackingAnalyticsAccountId": {
          "type": "string",
          "description": "The ID for a Google Analytics account to track and measure traffic to the channels."
        },
        "showRelatedChannels": {
          "type": "boolean",
          "deprecated": true,
          "description": "Whether related channels should be proposed."
        },
        "unsubscribedTrailer": {
          "type": "string",
          "description": "The trailer of the channel, for users that are not subscribers."
        },
        "profileColor": {
          "type": "string",
          "description": "A prominent color that can be rendered on this channel page.",
          "deprecated": true
        },
        "moderateComments": {
          "type": "boolean",
          "description": "Whether user-submitted comments left on the channel page need to be approved by the channel owner to be publicly visible."
        },
        "description": {
          "type": "string",
          "description": "Specifies the channel description."
        },
        "defaultLanguage": {
          "type": "string"
        },
        "keywords": {
          "description": "Lists keywords associated with the channel, comma-separated.",
          "type": "string"
        },
        "title": {
          "description": "Specifies the channel title.",
          "type": "string"
        },
        "defaultTab": {
          "deprecated": true,
          "description": "Which content tab users should see when viewing the channel.",
          "type": "string"
        },
        "country": {
          "type": "string",
          "description": "The country of the channel."
        },
        "showBrowseView": {
          "type": "boolean",
          "deprecated": true,
          "description": "Whether the tab to browse the videos should be displayed."
        },
        "featuredChannelsUrls": {
          "items": {
            "type": "string"
          },
          "deprecated": true,
          "description": "The list of featured channels.",
          "type": "array"
        },
        "featuredChannelsTitle": {
          "type": "string",
          "deprecated": true,
          "description": "Title for the featured channels tab."
        }
      },
      "id": "ChannelSettings"
    },
    "ImageSettings": {
      "properties": {
        "bannerMobileExtraHdImageUrl": {
          "deprecated": true,
          "type": "string",
          "description": "Banner image. Mobile size high resolution (1440x395)."
        },
        "bannerTvMediumImageUrl": {
          "deprecated": true,
          "type": "string",
          "description": "Banner image. TV size medium resolution (1280x720)."
        },
        "bannerMobileImageUrl": {
          "type": "string",
          "description": "Banner image. Mobile size (640x175).",
          "deprecated": true
        },
        "largeBrandedBannerImageImapScript": {
          "deprecated": true,
          "description": "The image map script for the large banner image.",
          "$ref": "LocalizedProperty"
        },
        "bannerTvLowImageUrl": {
          "deprecated": true,
          "type": "string",
          "description": "Banner image. TV size low resolution (854x480)."
        },
        "bannerMobileLowImageUrl": {
          "deprecated": true,
          "description": "Banner image. Mobile size low resolution (320x88).",
          "type": "string"
        },
        "watchIconImageUrl": {
          "deprecated": true,
          "type": "string"
        },
        "smallBrandedBannerImageImapScript": {
          "deprecated": true,
          "description": "The image map script for the small banner image.",
          "$ref": "LocalizedProperty"
        },
        "bannerImageUrl": {
          "type": "string",
          "deprecated": true,
          "description": "Banner image. Desktop size (1060x175)."
        },
        "bannerTabletImageUrl": {
          "description": "Banner image. Tablet size (1707x283).",
          "type": "string",
          "deprecated": true
        },
        "bannerTvHighImageUrl": {
          "type": "string",
          "description": "Banner image. TV size high resolution (1920x1080).",
          "deprecated": true
        },
        "bannerMobileHdImageUrl": {
          "type": "string",
          "deprecated": true,
          "description": "Banner image. Mobile size high resolution (1280x360)."
        },
        "smallBrandedBannerImageUrl": {
          "$ref": "LocalizedProperty",
          "deprecated": true,
          "description": "The URL for the 640px by 70px banner image that appears below the video player in the default view of the video watch page. The URL for the image that appears above the top-left corner of the video player. This is a 25-pixel-high image with a flexible width that cannot exceed 170 pixels."
        },
        "largeBrandedBannerImageUrl": {
          "deprecated": true,
          "$ref": "LocalizedProperty",
          "description": "The URL for the 854px by 70px image that appears below the video player in the expanded video view of the video watch page."
        },
        "bannerExternalUrl": {
          "description": "This is generated when a ChannelBanner.Insert request has succeeded for the given channel.",
          "type": "string"
        },
        "bannerTabletExtraHdImageUrl": {
          "description": "Banner image. Tablet size extra high resolution (2560x424).",
          "deprecated": true,
          "type": "string"
        },
        "bannerTabletLowImageUrl": {
          "type": "string",
          "description": "Banner image. Tablet size low resolution (1138x188).",
          "deprecated": true
        },
        "trackingImageUrl": {
          "description": "The URL for a 1px by 1px tracking pixel that can be used to collect statistics for views of the channel or video pages.",
          "type": "string",
          "deprecated": true
        },
        "bannerTvImageUrl": {
          "description": "Banner image. TV size extra high resolution (2120x1192).",
          "type": "string",
          "deprecated": true
        },
        "backgroundImageUrl": {
          "description": "The URL for the background image shown on the video watch page. The image should be 1200px by 615px, with a maximum file size of 128k.",
          "deprecated": true,
          "$ref": "LocalizedProperty"
        },
        "bannerMobileMediumHdImageUrl": {
          "description": "Banner image. Mobile size medium/high resolution (960x263).",
          "deprecated": true,
          "type": "string"
        },
        "bannerTabletHdImageUrl": {
          "type": "string",
          "deprecated": true,
          "description": "Banner image. Tablet size high resolution (2276x377)."
        }
      },
      "id": "ImageSettings",
      "type": "object",
      "description": "Branding properties for images associated with the channel."
    },
    "Playlist": {
      "properties": {
        "localizations": {
          "description": "Localizations for different languages",
          "type": "object",
          "additionalProperties": {
            "$ref": "PlaylistLocalization"
          }
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#playlist\".",
          "default": "youtube#playlist",
          "type": "string"
        },
        "status": {
          "description": "The status object contains status information for the playlist.",
          "$ref": "PlaylistStatus"
        },
        "contentDetails": {
          "description": "The contentDetails object contains information like video count.",
          "$ref": "PlaylistContentDetails"
        },
        "id": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the playlist."
        },
        "player": {
          "description": "The player object contains information that you would use to play the playlist in an embedded player.",
          "$ref": "PlaylistPlayer"
        },
        "snippet": {
          "description": "The snippet object contains basic details about the playlist, such as its title and description.",
          "$ref": "PlaylistSnippet"
        }
      },
      "type": "object",
      "id": "Playlist",
      "description": "A *playlist* resource represents a YouTube playlist. A playlist is a collection of videos that can be viewed sequentially and shared with other users. A playlist can contain up to 200 videos, and YouTube does not limit the number of playlists that each user creates. By default, playlists are publicly visible to other users, but playlists can be public or private. YouTube also uses playlists to identify special collections of videos for a channel, such as: - uploaded videos - favorite videos - positively rated (liked) videos - watch history - watch later To be more specific, these lists are associated with a channel, which is a collection of a person, group, or company's videos, playlists, and other YouTube information. You can retrieve the playlist IDs for each of these lists from the channel resource for a given channel. You can then use the playlistItems.list method to retrieve any of those lists. You can also add or remove items from those lists by calling the playlistItems.insert and playlistItems.delete methods."
    },
    "ChannelConversionPing": {
      "id": "ChannelConversionPing",
      "type": "object",
      "description": "Pings that the app shall fire (authenticated by biscotti cookie). Each ping has a context, in which the app must fire the ping, and a url identifying the ping.",
      "properties": {
        "conversionUrl": {
          "description": "The url (without the schema) that the player shall send the ping to. It's at caller's descretion to decide which schema to use (http vs https) Example of a returned url: //googleads.g.doubleclick.net/pagead/ viewthroughconversion/962985656/?data=path%3DtHe_path%3Btype%3D cview%3Butuid%3DGISQtTNGYqaYl4sKxoVvKA&labe=default The caller must append biscotti authentication (ms param in case of mobile, for example) to this ping.",
          "type": "string"
        },
        "context": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "description": "Defines the context of the ping.",
          "enum": [
            "subscribe",
            "unsubscribe",
            "cview"
          ]
        }
      }
    },
    "PlaylistSnippet": {
      "properties": {
        "channelId": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the channel that published the playlist."
        },
        "channelTitle": {
          "type": "string",
          "description": "The channel title of the channel that the video belongs to."
        },
        "thumbnails": {
          "$ref": "ThumbnailDetails",
          "description": "A map of thumbnail images associated with the playlist. For each object in the map, the key is the name of the thumbnail image, and the value is an object that contains other information about the thumbnail."
        },
        "description": {
          "type": "string",
          "description": "The playlist's description."
        },
        "title": {
          "description": "The playlist's title.",
          "type": "string",
          "annotations": {
            "required": [
              "youtube.playlists.insert",
              "youtube.playlists.update"
            ]
          }
        },
        "defaultLanguage": {
          "type": "string",
          "description": "The language of the playlist's default title and description."
        },
        "publishedAt": {
          "description": "The date and time that the playlist was created.",
          "type": "string",
          "format": "date-time"
        },
        "thumbnailVideoId": {
          "type": "string",
          "description": "Note: if the playlist has a custom thumbnail, this field will not be populated. The video id selected by the user that will be used as the thumbnail of this playlist. This field defaults to the first publicly viewable video in the playlist, if: 1. The user has never selected a video to be the thumbnail of the playlist. 2. The user selects a video to be the thumbnail, and then removes that video from the playlist. 3. The user selects a non-owned video to be the thumbnail, but that video becomes private, or gets deleted."
        },
        "tags": {
          "description": "Keyword tags associated with the playlist.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "deprecated": true
        },
        "localized": {
          "$ref": "PlaylistLocalization",
          "description": "Localized title and description, read-only."
        }
      },
      "description": "Basic details about a playlist, including title, description and thumbnails.",
      "type": "object",
      "id": "PlaylistSnippet"
    },
    "VideoAbuseReportReasonSnippet": {
      "id": "VideoAbuseReportReasonSnippet",
      "type": "object",
      "description": "Basic details about a video category, such as its localized title.",
      "properties": {
        "secondaryReasons": {
          "type": "array",
          "items": {
            "$ref": "VideoAbuseReportSecondaryReason"
          },
          "description": "The secondary reasons associated with this reason, if any are available. (There might be 0 or more.)"
        },
        "label": {
          "type": "string",
          "description": "The localized label belonging to this abuse report reason."
        }
      }
    },
    "ActivityContentDetailsPlaylistItem": {
      "id": "ActivityContentDetailsPlaylistItem",
      "description": "Information about a new playlist item.",
      "properties": {
        "playlistItemId": {
          "description": "ID of the item within the playlist.",
          "type": "string"
        },
        "resourceId": {
          "$ref": "ResourceId",
          "description": "The resourceId object contains information about the resource that was added to the playlist."
        },
        "playlistId": {
          "type": "string",
          "description": "The value that YouTube uses to uniquely identify the playlist."
        }
      },
      "type": "object"
    },
    "VideoGetRatingResponse": {
      "properties": {
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "visitorId": {
          "type": "string",
          "description": "The visitorId identifies the visitor.",
          "deprecated": true
        },
        "eventId": {
          "description": "Serialized EventId of the request which produced this response.",
          "type": "string",
          "deprecated": true
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#videoGetRatingResponse\".",
          "default": "youtube#videoGetRatingResponse",
          "type": "string"
        },
        "items": {
          "description": "A list of ratings that match the request criteria.",
          "items": {
            "$ref": "VideoRating"
          },
          "type": "array"
        }
      },
      "id": "VideoGetRatingResponse",
      "type": "object"
    },
    "ChannelTopicDetails": {
      "description": "Freebase topic information related to the channel.",
      "id": "ChannelTopicDetails",
      "type": "object",
      "properties": {
        "topicCategories": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of Wikipedia URLs that describe the channel's content."
        },
        "topicIds": {
          "description": "A list of Freebase topic IDs associated with the channel. You can retrieve information about each topic using the Freebase Topic API.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "deprecated": true
        }
      }
    },
    "VideoAbuseReportSecondaryReason": {
      "id": "VideoAbuseReportSecondaryReason",
      "properties": {
        "id": {
          "description": "The ID of this abuse report secondary reason.",
          "type": "string"
        },
        "label": {
          "type": "string",
          "description": "The localized label for this abuse report secondary reason."
        }
      },
      "type": "object"
    },
    "PlaylistItemStatus": {
      "properties": {
        "privacyStatus": {
          "enum": [
            "public",
            "unlisted",
            "private"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "description": "This resource's privacy status."
        }
      },
      "id": "PlaylistItemStatus",
      "description": "Information about the playlist item's privacy status.",
      "type": "object"
    },
    "ChannelBannerResource": {
      "description": "A channel banner returned as the response to a channel_banner.insert call.",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#channelBannerResource\".",
          "default": "youtube#channelBannerResource",
          "type": "string"
        },
        "etag": {
          "type": "string"
        },
        "url": {
          "type": "string",
          "description": "The URL of this banner image."
        }
      },
      "id": "ChannelBannerResource",
      "type": "object"
    },
    "ThirdPartyLinkSnippet": {
      "description": "Basic information about a third party account link, including its type and type-specific information.",
      "id": "ThirdPartyLinkSnippet",
      "properties": {
        "channelToStoreLink": {
          "$ref": "ChannelToStoreLinkDetails",
          "description": "Information specific to a link between a channel and a store on a merchandising platform."
        },
        "type": {
          "enumDescriptions": [
            "",
            "A link that is connecting (or about to connect) a channel with a store on a merchandising platform in order to enable retail commerce capabilities for that channel on YouTube."
          ],
          "enum": [
            "linkUnspecified",
            "channelToStoreLink"
          ],
          "description": "Type of the link named after the entities that are being linked.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ActivityContentDetailsSocial": {
      "type": "object",
      "id": "ActivityContentDetailsSocial",
      "properties": {
        "referenceUrl": {
          "description": "The URL of the social network post.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enum": [
            "unspecified",
            "googlePlus",
            "facebook",
            "twitter"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "description": "The name of the social network."
        },
        "resourceId": {
          "$ref": "ResourceId",
          "description": "The resourceId object encapsulates information that identifies the resource associated with a social network post."
        },
        "author": {
          "description": "The author of the social network post.",
          "type": "string"
        },
        "imageUrl": {
          "description": "An image of the post's author.",
          "type": "string"
        }
      },
      "description": "Details about a social network post."
    },
    "SubscriptionSnippet": {
      "description": "Basic details about a subscription, including title, description and thumbnails of the subscribed item.",
      "properties": {
        "resourceId": {
          "$ref": "ResourceId",
          "annotations": {
            "required": [
              "youtube.subscriptions.insert"
            ]
          },
          "description": "The id object contains information about the channel that the user subscribed to."
        },
        "channelId": {
          "description": "The ID that YouTube uses to uniquely identify the subscriber's channel.",
          "type": "string"
        },
        "description": {
          "description": "The subscription's details.",
          "type": "string"
        },
        "channelTitle": {
          "type": "string",
          "description": "Channel title for the channel that the subscription belongs to."
        },
        "publishedAt": {
          "type": "string",
          "format": "date-time",
          "description": "The date and time that the subscription was created."
        },
        "thumbnails": {
          "description": "A map of thumbnail images associated with the video. For each object in the map, the key is the name of the thumbnail image, and the value is an object that contains other information about the thumbnail.",
          "$ref": "ThumbnailDetails"
        },
        "title": {
          "description": "The subscription's title.",
          "type": "string"
        }
      },
      "id": "SubscriptionSnippet",
      "type": "object"
    },
    "VideoLiveStreamingDetails": {
      "type": "object",
      "id": "VideoLiveStreamingDetails",
      "properties": {
        "scheduledStartTime": {
          "type": "string",
          "description": "The time that the broadcast is scheduled to begin.",
          "format": "date-time"
        },
        "concurrentViewers": {
          "description": "The number of viewers currently watching the broadcast. The property and its value will be present if the broadcast has current viewers and the broadcast owner has not hidden the viewcount for the video. Note that YouTube stops tracking the number of concurrent viewers for a broadcast when the broadcast ends. So, this property would not identify the number of viewers watching an archived video of a live broadcast that already ended.",
          "type": "string",
          "format": "uint64"
        },
        "activeLiveChatId": {
          "description": "The ID of the currently active live chat attached to this video. This field is filled only if the video is a currently live broadcast that has live chat. Once the broadcast transitions to complete this field will be removed and the live chat closed down. For persistent broadcasts that live chat id will no longer be tied to this video but rather to the new video being displayed at the persistent page.",
          "type": "string"
        },
        "actualEndTime": {
          "type": "string",
          "format": "date-time",
          "description": "The time that the broadcast actually ended. This value will not be available until the broadcast is over."
        },
        "scheduledEndTime": {
          "description": "The time that the broadcast is scheduled to end. If the value is empty or the property is not present, then the broadcast is scheduled to contiue indefinitely.",
          "format": "date-time",
          "type": "string"
        },
        "actualStartTime": {
          "type": "string",
          "format": "date-time",
          "description": "The time that the broadcast actually started. This value will not be available until the broadcast begins."
        }
      },
      "description": "Details about the live streaming metadata."
    },
    "MembershipsDurationAtLevel": {
      "properties": {
        "memberSince": {
          "type": "string",
          "description": "The date and time when the user became a continuous member for the given level."
        },
        "memberTotalDurationMonths": {
          "description": "The cumulative time the user has been a member for the given level in complete months (the time is rounded down to the nearest integer).",
          "format": "int32",
          "type": "integer"
        },
        "level": {
          "description": "Pricing level ID.",
          "type": "string"
        }
      },
      "id": "MembershipsDurationAtLevel",
      "type": "object"
    },
    "CommentThreadSnippet": {
      "type": "object",
      "description": "Basic details about a comment thread.",
      "id": "CommentThreadSnippet",
      "properties": {
        "videoId": {
          "description": "The ID of the video the comments refer to, if any. No video_id implies a channel discussion comment.",
          "type": "string"
        },
        "topLevelComment": {
          "description": "The top level comment of this thread.",
          "$ref": "Comment"
        },
        "isPublic": {
          "type": "boolean",
          "description": "Whether the thread (and therefore all its comments) is visible to all YouTube users."
        },
        "channelId": {
          "type": "string",
          "description": "The YouTube channel the comments in the thread refer to or the channel with the video the comments refer to. If video_id isn't set the comments refer to the channel itself."
        },
        "canReply": {
          "type": "boolean",
          "description": "Whether the current viewer of the thread can reply to it. This is viewer specific - other viewers may see a different value for this field."
        },
        "totalReplyCount": {
          "description": "The total number of replies (not including the top level comment).",
          "type": "integer",
          "format": "uint32"
        }
      }
    },
    "CaptionSnippet": {
      "type": "object",
      "id": "CaptionSnippet",
      "properties": {
        "isCC": {
          "type": "boolean",
          "description": "Indicates whether the track contains closed captions for the deaf and hard of hearing. The default value is false."
        },
        "language": {
          "type": "string",
          "description": "The language of the caption track. The property value is a BCP-47 language tag.",
          "annotations": {
            "required": [
              "youtube.captions.insert"
            ]
          }
        },
        "status": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "The caption track's status.",
          "enum": [
            "serving",
            "syncing",
            "failed"
          ],
          "type": "string"
        },
        "name": {
          "description": "The name of the caption track. The name is intended to be visible to the user as an option during playback.",
          "type": "string",
          "annotations": {
            "required": [
              "youtube.captions.insert"
            ]
          }
        },
        "isAutoSynced": {
          "description": "Indicates whether YouTube synchronized the caption track to the audio track in the video. The value will be true if a sync was explicitly requested when the caption track was uploaded. For example, when calling the captions.insert or captions.update methods, you can set the sync parameter to true to instruct YouTube to sync the uploaded track to the video. If the value is false, YouTube uses the time codes in the uploaded caption track to determine when to display captions.",
          "type": "boolean"
        },
        "isLarge": {
          "type": "boolean",
          "description": "Indicates whether the caption track uses large text for the vision-impaired. The default value is false."
        },
        "failureReason": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "unknownFormat",
            "unsupportedFormat",
            "processingFailed"
          ],
          "description": "The reason that YouTube failed to process the caption track. This property is only present if the state property's value is failed."
        },
        "videoId": {
          "description": "The ID that YouTube uses to uniquely identify the video associated with the caption track. @mutable youtube.captions.insert",
          "annotations": {
            "required": [
              "youtube.captions.insert"
            ]
          },
          "type": "string"
        },
        "lastUpdated": {
          "description": "The date and time when the caption track was last updated.",
          "format": "date-time",
          "type": "string"
        },
        "trackKind": {
          "enum": [
            "standard",
            "ASR",
            "forced"
          ],
          "type": "string",
          "description": "The caption track's type.",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "isDraft": {
          "description": "Indicates whether the caption track is a draft. If the value is true, then the track is not publicly visible. The default value is false. @mutable youtube.captions.insert youtube.captions.update",
          "type": "boolean"
        },
        "isEasyReader": {
          "type": "boolean",
          "description": "Indicates whether caption track is formatted for \"easy reader,\" meaning it is at a third-grade level for language learners. The default value is false."
        },
        "audioTrackType": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "description": "The type of audio track associated with the caption track.",
          "enum": [
            "unknown",
            "primary",
            "commentary",
            "descriptive"
          ],
          "type": "string"
        }
      },
      "description": "Basic details about a caption track, such as its language and name."
    },
    "LiveChatMessageAuthorDetails": {
      "id": "LiveChatMessageAuthorDetails",
      "properties": {
        "channelUrl": {
          "description": "The channel's URL.",
          "type": "string"
        },
        "displayName": {
          "description": "The channel's display name.",
          "type": "string"
        },
        "profileImageUrl": {
          "type": "string",
          "description": "The channels's avatar URL."
        },
        "isChatSponsor": {
          "description": "Whether the author is a sponsor of the live chat.",
          "type": "boolean"
        },
        "channelId": {
          "type": "string",
          "description": "The YouTube channel ID."
        },
        "isVerified": {
          "type": "boolean",
          "description": "Whether the author's identity has been verified by YouTube."
        },
        "isChatOwner": {
          "description": "Whether the author is the owner of the live chat.",
          "type": "boolean"
        },
        "isChatModerator": {
          "description": "Whether the author is a moderator of the live chat.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "VideoLocalization": {
      "id": "VideoLocalization",
      "description": "Localized versions of certain video properties (e.g. title).",
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "Localized version of the video's description."
        },
        "title": {
          "description": "Localized version of the video's title.",
          "type": "string"
        }
      }
    },
    "LiveBroadcastSnippet": {
      "id": "LiveBroadcastSnippet",
      "type": "object",
      "properties": {
        "actualStartTime": {
          "type": "string",
          "description": "The date and time that the broadcast actually started. This information is only available once the broadcast's state is live.",
          "format": "date-time"
        },
        "isDefaultBroadcast": {
          "description": "Indicates whether this broadcast is the default broadcast. Internal only.",
          "type": "boolean"
        },
        "liveChatId": {
          "type": "string",
          "description": "The id of the live chat for this broadcast."
        },
        "scheduledEndTime": {
          "description": "The date and time that the broadcast is scheduled to end.",
          "format": "date-time",
          "type": "string"
        },
        "thumbnails": {
          "$ref": "ThumbnailDetails",
          "description": "A map of thumbnail images associated with the broadcast. For each nested object in this object, the key is the name of the thumbnail image, and the value is an object that contains other information about the thumbnail."
        },
        "publishedAt": {
          "format": "date-time",
          "description": "The date and time that the broadcast was added to YouTube's live broadcast schedule.",
          "type": "string"
        },
        "channelId": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the channel that is publishing the broadcast."
        },
        "description": {
          "type": "string",
          "description": "The broadcast's description. As with the title, you can set this field by modifying the broadcast resource or by setting the description field of the corresponding video resource."
        },
        "actualEndTime": {
          "description": "The date and time that the broadcast actually ended. This information is only available once the broadcast's state is complete.",
          "type": "string",
          "format": "date-time"
        },
        "scheduledStartTime": {
          "format": "date-time",
          "description": "The date and time that the broadcast is scheduled to start.",
          "annotations": {
            "required": [
              "youtube.liveBroadcasts.insert",
              "youtube.liveBroadcasts.update"
            ]
          },
          "type": "string"
        },
        "title": {
          "description": "The broadcast's title. Note that the broadcast represents exactly one YouTube video. You can set this field by modifying the broadcast resource or by setting the title field of the corresponding video resource.",
          "annotations": {
            "required": [
              "youtube.liveBroadcasts.insert",
              "youtube.liveBroadcasts.update"
            ]
          },
          "type": "string"
        }
      },
      "description": "Basic broadcast information."
    },
    "Caption": {
      "properties": {
        "id": {
          "description": "The ID that YouTube uses to uniquely identify the caption track.",
          "type": "string",
          "annotations": {
            "required": [
              "youtube.captions.update"
            ]
          }
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "snippet": {
          "description": "The snippet object contains basic details about the caption.",
          "$ref": "CaptionSnippet"
        },
        "kind": {
          "default": "youtube#caption",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#caption\".",
          "type": "string"
        }
      },
      "description": "A *caption* resource represents a YouTube caption track. A caption track is associated with exactly one YouTube video.",
      "type": "object",
      "id": "Caption"
    },
    "ActivityContentDetailsSubscription": {
      "description": "Information about a channel that a user subscribed to.",
      "id": "ActivityContentDetailsSubscription",
      "properties": {
        "resourceId": {
          "description": "The resourceId object contains information that identifies the resource that the user subscribed to.",
          "$ref": "ResourceId"
        }
      },
      "type": "object"
    },
    "ChannelSnippet": {
      "properties": {
        "customUrl": {
          "description": "The custom url of the channel.",
          "type": "string"
        },
        "thumbnails": {
          "description": "A map of thumbnail images associated with the channel. For each object in the map, the key is the name of the thumbnail image, and the value is an object that contains other information about the thumbnail. When displaying thumbnails in your application, make sure that your code uses the image URLs exactly as they are returned in API responses. For example, your application should not use the http domain instead of the https domain in a URL returned in an API response. Beginning in July 2018, channel thumbnail URLs will only be available in the https domain, which is how the URLs appear in API responses. After that time, you might see broken images in your application if it tries to load YouTube images from the http domain. Thumbnail images might be empty for newly created channels and might take up to one day to populate.",
          "$ref": "ThumbnailDetails"
        },
        "country": {
          "description": "The country of the channel.",
          "type": "string"
        },
        "publishedAt": {
          "format": "date-time",
          "description": "The date and time that the channel was created.",
          "type": "string"
        },
        "defaultLanguage": {
          "description": "The language of the channel's default title and description.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "The description of the channel."
        },
        "localized": {
          "$ref": "ChannelLocalization",
          "description": "Localized title and description, read-only."
        },
        "title": {
          "type": "string",
          "description": "The channel's title."
        }
      },
      "description": "Basic details about a channel, including title, description and thumbnails.",
      "type": "object",
      "id": "ChannelSnippet"
    },
    "LiveChatSuperStickerDetails": {
      "properties": {
        "currency": {
          "type": "string",
          "description": "The currency in which the purchase was made."
        },
        "superStickerMetadata": {
          "description": "Information about the Super Sticker.",
          "$ref": "SuperStickerMetadata"
        },
        "amountDisplayString": {
          "type": "string",
          "description": "A rendered string that displays the fund amount and currency to the user."
        },
        "tier": {
          "type": "integer",
          "description": "The tier in which the amount belongs. Lower amounts belong to lower tiers. The lowest tier is 1.",
          "format": "uint32"
        },
        "amountMicros": {
          "type": "string",
          "format": "uint64",
          "description": "The amount purchased by the user, in micros (1,750,000 micros = 1.75)."
        }
      },
      "type": "object",
      "id": "LiveChatSuperStickerDetails"
    },
    "Comment": {
      "id": "Comment",
      "description": "A *comment* represents a single YouTube comment.",
      "type": "object",
      "properties": {
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "snippet": {
          "description": "The snippet object contains basic details about the comment.",
          "$ref": "CommentSnippet"
        },
        "kind": {
          "default": "youtube#comment",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#comment\".",
          "type": "string"
        },
        "id": {
          "description": "The ID that YouTube uses to uniquely identify the comment.",
          "type": "string"
        }
      }
    },
    "TestItemTestItemSnippet": {
      "type": "object",
      "id": "TestItemTestItemSnippet",
      "properties": {}
    },
    "PlaylistLocalization": {
      "description": "Playlist localization setting",
      "id": "PlaylistLocalization",
      "type": "object",
      "properties": {
        "title": {
          "type": "string",
          "description": "The localized strings for playlist's title."
        },
        "description": {
          "type": "string",
          "description": "The localized strings for playlist's description."
        }
      }
    },
    "Activity": {
      "description": "An *activity* resource contains information about an action that a particular channel, or user, has taken on YouTube.The actions reported in activity feeds include rating a video, sharing a video, marking a video as a favorite, commenting on a video, uploading a video, and so forth. Each activity resource identifies the type of action, the channel associated with the action, and the resource(s) associated with the action, such as the video that was rated or uploaded.",
      "properties": {
        "snippet": {
          "description": "The snippet object contains basic details about the activity, including the activity's type and group ID.",
          "$ref": "ActivitySnippet"
        },
        "etag": {
          "description": "Etag of this resource",
          "type": "string"
        },
        "kind": {
          "default": "youtube#activity",
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#activity\"."
        },
        "contentDetails": {
          "$ref": "ActivityContentDetails",
          "description": "The contentDetails object contains information about the content associated with the activity. For example, if the snippet.type value is videoRated, then the contentDetails object's content identifies the rated video."
        },
        "id": {
          "description": "The ID that YouTube uses to uniquely identify the activity.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Activity"
    },
    "ChannelBrandingSettings": {
      "description": "Branding properties of a YouTube channel.",
      "type": "object",
      "properties": {
        "channel": {
          "description": "Branding properties for the channel view.",
          "$ref": "ChannelSettings"
        },
        "image": {
          "$ref": "ImageSettings",
          "description": "Branding properties for branding images."
        },
        "hints": {
          "type": "array",
          "description": "Additional experimental branding properties.",
          "items": {
            "$ref": "PropertyValue"
          },
          "deprecated": true
        },
        "watch": {
          "deprecated": true,
          "$ref": "WatchSettings",
          "description": "Branding properties for the watch page."
        }
      },
      "id": "ChannelBrandingSettings"
    },
    "ActivityContentDetailsRecommendation": {
      "type": "object",
      "description": "Information that identifies the recommended resource.",
      "properties": {
        "resourceId": {
          "description": "The resourceId object contains information that identifies the recommended resource.",
          "$ref": "ResourceId"
        },
        "reason": {
          "enum": [
            "reasonUnspecified",
            "videoFavorited",
            "videoLiked",
            "videoWatched"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "description": "The reason that the resource is recommended to the user."
        },
        "seedResourceId": {
          "$ref": "ResourceId",
          "description": "The seedResourceId object contains information about the resource that caused the recommendation."
        }
      },
      "id": "ActivityContentDetailsRecommendation"
    },
    "CommentThread": {
      "properties": {
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "snippet": {
          "$ref": "CommentThreadSnippet",
          "description": "The snippet object contains basic details about the comment thread and also the top level comment."
        },
        "id": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the comment thread."
        },
        "replies": {
          "$ref": "CommentThreadReplies",
          "description": "The replies object contains a limited number of replies (if any) to the top level comment found in the snippet."
        },
        "kind": {
          "default": "youtube#commentThread",
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#commentThread\"."
        }
      },
      "description": "A *comment thread* represents information that applies to a top level comment and all its replies. It can also include the top level comment itself and some of the replies.",
      "id": "CommentThread",
      "type": "object"
    },
    "ActivityContentDetailsComment": {
      "properties": {
        "resourceId": {
          "$ref": "ResourceId",
          "description": "The resourceId object contains information that identifies the resource associated with the comment."
        }
      },
      "id": "ActivityContentDetailsComment",
      "description": "Information about a resource that received a comment.",
      "type": "object"
    },
    "Subscription": {
      "description": "A *subscription* resource contains information about a YouTube user subscription. A subscription notifies a user when new videos are added to a channel or when another user takes one of several actions on YouTube, such as uploading a video, rating a video, or commenting on a video.",
      "type": "object",
      "properties": {
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "snippet": {
          "$ref": "SubscriptionSnippet",
          "description": "The snippet object contains basic details about the subscription, including its title and the channel that the user subscribed to."
        },
        "subscriberSnippet": {
          "$ref": "SubscriptionSubscriberSnippet",
          "description": "The subscriberSnippet object contains basic details about the subscriber."
        },
        "id": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the subscription."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#subscription\".",
          "type": "string",
          "default": "youtube#subscription"
        },
        "contentDetails": {
          "$ref": "SubscriptionContentDetails",
          "description": "The contentDetails object contains basic statistics about the subscription."
        }
      },
      "id": "Subscription"
    },
    "VideoMonetizationDetails": {
      "description": "Details about monetization of a YouTube Video.",
      "type": "object",
      "properties": {
        "access": {
          "description": "The value of access indicates whether the video can be monetized or not.",
          "$ref": "AccessPolicy"
        }
      },
      "id": "VideoMonetizationDetails"
    },
    "VideoProcessingDetails": {
      "description": "Describes processing status and progress and availability of some other Video resource parts.",
      "properties": {
        "processingProgress": {
          "description": "The processingProgress object contains information about the progress YouTube has made in processing the video. The values are really only relevant if the video's processing status is processing.",
          "$ref": "VideoProcessingDetailsProcessingProgress"
        },
        "processingIssuesAvailability": {
          "type": "string",
          "description": "This value indicates whether the video processing engine has generated suggestions that might improve YouTube's ability to process the the video, warnings that explain video processing problems, or errors that cause video processing problems. You can retrieve these suggestions by requesting the suggestions part in your videos.list() request."
        },
        "editorSuggestionsAvailability": {
          "description": "This value indicates whether video editing suggestions, which might improve video quality or the playback experience, are available for the video. You can retrieve these suggestions by requesting the suggestions part in your videos.list() request.",
          "type": "string"
        },
        "thumbnailsAvailability": {
          "description": "This value indicates whether thumbnail images have been generated for the video.",
          "type": "string"
        },
        "processingFailureReason": {
          "enum": [
            "uploadFailed",
            "transcodeFailed",
            "streamingFailed",
            "other"
          ],
          "type": "string",
          "description": "The reason that YouTube failed to process the video. This property will only have a value if the processingStatus property's value is failed.",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "fileDetailsAvailability": {
          "description": "This value indicates whether file details are available for the uploaded video. You can retrieve a video's file details by requesting the fileDetails part in your videos.list() request.",
          "type": "string"
        },
        "processingStatus": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "description": "The video's processing status. This value indicates whether YouTube was able to process the video or if the video is still being processed.",
          "enum": [
            "processing",
            "succeeded",
            "failed",
            "terminated"
          ],
          "type": "string"
        },
        "tagSuggestionsAvailability": {
          "type": "string",
          "description": "This value indicates whether keyword (tag) suggestions are available for the video. Tags can be added to a video's metadata to make it easier for other users to find the video. You can retrieve these suggestions by requesting the suggestions part in your videos.list() request."
        }
      },
      "type": "object",
      "id": "VideoProcessingDetails"
    },
    "PlaylistPlayer": {
      "id": "PlaylistPlayer",
      "properties": {
        "embedHtml": {
          "type": "string",
          "description": "An \u003ciframe\u003e tag that embeds a player that will play the playlist."
        }
      },
      "type": "object"
    },
    "ChannelSectionLocalization": {
      "type": "object",
      "description": "ChannelSection localization setting",
      "id": "ChannelSectionLocalization",
      "properties": {
        "title": {
          "deprecated": true,
          "type": "string",
          "description": "The localized strings for channel section's title."
        }
      }
    },
    "LiveStreamListResponse": {
      "properties": {
        "prevPageToken": {
          "type": "string",
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set."
        },
        "items": {
          "description": "A list of live streams that match the request criteria.",
          "type": "array",
          "items": {
            "$ref": "LiveStream"
          }
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set."
        },
        "visitorId": {
          "deprecated": true,
          "type": "string",
          "description": "The visitorId identifies the visitor."
        },
        "eventId": {
          "deprecated": true,
          "description": "Serialized EventId of the request which produced this response.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "youtube#liveStreamListResponse",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#liveStreamListResponse\"."
        },
        "pageInfo": {
          "$ref": "PageInfo"
        },
        "tokenPagination": {
          "deprecated": true,
          "$ref": "TokenPagination"
        }
      },
      "type": "object",
      "id": "LiveStreamListResponse"
    },
    "LiveChatSuperChatDetails": {
      "type": "object",
      "properties": {
        "tier": {
          "description": "The tier in which the amount belongs. Lower amounts belong to lower tiers. The lowest tier is 1.",
          "format": "uint32",
          "type": "integer"
        },
        "amountMicros": {
          "format": "uint64",
          "description": "The amount purchased by the user, in micros (1,750,000 micros = 1.75).",
          "type": "string"
        },
        "userComment": {
          "description": "The comment added by the user to this Super Chat event.",
          "type": "string"
        },
        "currency": {
          "type": "string",
          "description": "The currency in which the purchase was made."
        },
        "amountDisplayString": {
          "description": "A rendered string that displays the fund amount and currency to the user.",
          "type": "string"
        }
      },
      "id": "LiveChatSuperChatDetails"
    },
    "VideoFileDetailsVideoStream": {
      "properties": {
        "heightPixels": {
          "description": "The encoded video content's height in pixels.",
          "type": "integer",
          "format": "uint32"
        },
        "codec": {
          "description": "The video codec that the stream uses.",
          "type": "string"
        },
        "widthPixels": {
          "format": "uint32",
          "type": "integer",
          "description": "The encoded video content's width in pixels. You can calculate the video's encoding aspect ratio as width_pixels / height_pixels."
        },
        "rotation": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "none",
            "clockwise",
            "upsideDown",
            "counterClockwise",
            "other"
          ],
          "description": "The amount that YouTube needs to rotate the original source content to properly display the video.",
          "type": "string"
        },
        "aspectRatio": {
          "description": "The video content's display aspect ratio, which specifies the aspect ratio in which the video should be displayed.",
          "type": "number",
          "format": "double"
        },
        "bitrateBps": {
          "format": "uint64",
          "description": "The video stream's bitrate, in bits per second.",
          "type": "string"
        },
        "frameRateFps": {
          "format": "double",
          "type": "number",
          "description": "The video stream's frame rate, in frames per second."
        },
        "vendor": {
          "type": "string",
[...]
