{
  "id": "youtube:v3",
  "ownerName": "Google",
  "kind": "discovery#restDescription",
  "parameters": {
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    }
  },
  "documentationLink": "https://developers.google.com/youtube/",
  "canonicalName": "YouTube",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "servicePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/youtubepartner-channel-audit": {
          "description": "View private information of your YouTube channel relevant during the audit process with a YouTube partner"
        },
        "https://www.googleapis.com/auth/youtube.force-ssl": {
          "description": "See, edit, and permanently delete your YouTube videos, ratings, comments and captions"
        },
        "https://www.googleapis.com/auth/youtubepartner": {
          "description": "View and manage your assets and associated content on YouTube"
        },
        "https://www.googleapis.com/auth/youtube.channel-memberships.creator": {
          "description": "See a list of your current active channel members, their current level, and when they became a member"
        },
        "https://www.googleapis.com/auth/youtube.readonly": {
          "description": "View your YouTube account"
        },
        "https://www.googleapis.com/auth/youtube": {
          "description": "Manage your YouTube account"
        },
        "https://www.googleapis.com/auth/youtube.upload": {
          "description": "Manage your YouTube videos"
        }
      }
    }
  },
  "baseUrl": "https://youtube.googleapis.com/",
  "description": "The YouTube Data API v3 is an API that provides access to YouTube data, such as videos, playlists, and channels.",
  "title": "YouTube Data API v3",
  "schemas": {
    "ChannelConversionPing": {
      "properties": {
        "conversionUrl": {
          "description": "The url (without the schema) that the player shall send the ping to. It's at caller's descretion to decide which schema to use (http vs https) Example of a returned url: //googleads.g.doubleclick.net/pagead/ viewthroughconversion/962985656/?data=path%3DtHe_path%3Btype%3D cview%3Butuid%3DGISQtTNGYqaYl4sKxoVvKA&labe=default The caller must append biscotti authentication (ms param in case of mobile, for example) to this ping.",
          "type": "string"
        },
        "context": {
          "enum": [
            "subscribe",
            "unsubscribe",
            "cview"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "Defines the context of the ping."
        }
      },
      "type": "object",
      "description": "Pings that the app shall fire (authenticated by biscotti cookie). Each ping has a context, in which the app must fire the ping, and a url identifying the ping.",
      "id": "ChannelConversionPing"
    },
    "LocalizedString": {
      "type": "object",
      "properties": {
        "language": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      },
      "id": "LocalizedString"
    },
    "VideoAbuseReportReason": {
      "id": "VideoAbuseReportReason",
      "properties": {
        "snippet": {
          "$ref": "VideoAbuseReportReasonSnippet",
          "description": "The `snippet` object contains basic details about the abuse report reason."
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "kind": {
          "type": "string",
          "default": "youtube#videoAbuseReportReason",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"youtube#videoAbuseReportReason\"`."
        },
        "id": {
          "description": "The ID of this abuse report reason.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A `__videoAbuseReportReason__` resource identifies a reason that a video could be reported as abusive. Video abuse report reasons are used with `video.ReportAbuse`."
    },
    "VideoContentDetailsRegionRestriction": {
      "description": "DEPRECATED Region restriction of the video.",
      "id": "VideoContentDetailsRegionRestriction",
      "type": "object",
      "properties": {
        "blocked": {
          "description": "A list of region codes that identify countries where the video is blocked. If this property is present and a country is not listed in its value, then the video is viewable in that country. If this property is present and contains an empty list, the video is viewable in all countries.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "allowed": {
          "description": "A list of region codes that identify countries where the video is viewable. If this property is present and a country is not listed in its value, then the video is blocked from appearing in that country. If this property is present and contains an empty list, the video is blocked in all countries.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "Subscription": {
      "type": "object",
      "description": "A *subscription* resource contains information about a YouTube user subscription. A subscription notifies a user when new videos are added to a channel or when another user takes one of several actions on YouTube, such as uploading a video, rating a video, or commenting on a video.",
      "properties": {
        "contentDetails": {
          "description": "The contentDetails object contains basic statistics about the subscription.",
          "$ref": "SubscriptionContentDetails"
        },
        "subscriberSnippet": {
          "description": "The subscriberSnippet object contains basic details about the subscriber.",
          "$ref": "SubscriptionSubscriberSnippet"
        },
        "id": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the subscription."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#subscription\".",
          "type": "string",
          "default": "youtube#subscription"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "snippet": {
          "description": "The snippet object contains basic details about the subscription, including its title and the channel that the user subscribed to.",
          "$ref": "SubscriptionSnippet"
        }
      },
      "id": "Subscription"
    },
    "PlaylistPlayer": {
      "type": "object",
      "properties": {
        "embedHtml": {
          "description": "An \u003ciframe\u003e tag that embeds a player that will play the playlist.",
          "type": "string"
        }
      },
      "id": "PlaylistPlayer"
    },
    "ThirdPartyLinkSnippet": {
      "type": "object",
      "properties": {
        "channelToStoreLink": {
          "$ref": "ChannelToStoreLinkDetails",
          "description": "Information specific to a link between a channel and a store on a merchandising platform."
        },
        "type": {
          "enum": [
            "linkUnspecified",
            "channelToStoreLink"
          ],
          "description": "Type of the link named after the entities that are being linked.",
          "enumDescriptions": [
            "",
            "A link that is connecting (or about to connect) a channel with a store on a merchandising platform in order to enable retail commerce capabilities for that channel on YouTube."
          ],
          "type": "string"
        }
      },
      "id": "ThirdPartyLinkSnippet",
      "description": "Basic information about a third party account link, including its type and type-specific information."
    },
    "LiveChatMessageSnippet": {
      "properties": {
        "hasDisplayContent": {
          "type": "boolean",
          "description": "Whether the message has display content that should be displayed to users."
        },
        "liveChatId": {
          "type": "string"
        },
        "publishedAt": {
          "type": "string",
          "description": "The date and time when the message was orignally published. The value is specified in ISO 8601 format."
        },
        "type": {
          "enum": [
            "invalidType",
            "textMessageEvent",
            "tombstone",
            "fanFundingEvent",
            "chatEndedEvent",
            "sponsorOnlyModeStartedEvent",
            "sponsorOnlyModeEndedEvent",
            "newSponsorEvent",
            "messageDeletedEvent",
            "messageRetractedEvent",
            "userBannedEvent",
            "superChatEvent",
            "superStickerEvent"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "The type of message, this will always be present, it determines the contents of the message as well as which fields will be present."
        },
        "userBannedDetails": {
          "$ref": "LiveChatUserBannedMessageDetails"
        },
        "superChatDetails": {
          "description": "Details about the Super Chat event, this is only set if the type is 'superChatEvent'.",
          "$ref": "LiveChatSuperChatDetails"
        },
        "authorChannelId": {
          "description": "The ID of the user that authored this message, this field is not always filled. textMessageEvent - the user that wrote the message fanFundingEvent - the user that funded the broadcast newSponsorEvent - the user that just became a sponsor messageDeletedEvent - the moderator that took the action messageRetractedEvent - the author that retracted their message userBannedEvent - the moderator that took the action superChatEvent - the user that made the purchase",
          "type": "string"
        },
        "messageDeletedDetails": {
          "$ref": "LiveChatMessageDeletedDetails"
        },
        "textMessageDetails": {
          "description": "Details about the text message, this is only set if the type is 'textMessageEvent'.",
          "$ref": "LiveChatTextMessageDetails"
        },
        "fanFundingEventDetails": {
          "$ref": "LiveChatFanFundingEventDetails",
          "description": "Details about the funding event, this is only set if the type is 'fanFundingEvent'."
        },
        "messageRetractedDetails": {
          "$ref": "LiveChatMessageRetractedDetails"
        },
        "superStickerDetails": {
          "$ref": "LiveChatSuperStickerDetails",
          "description": "Details about the Super Sticker event, this is only set if the type is 'superStickerEvent'."
        },
        "displayMessage": {
          "description": "Contains a string that can be displayed to the user. If this field is not present the message is silent, at the moment only messages of type TOMBSTONE and CHAT_ENDED_EVENT are silent.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "LiveChatMessageSnippet"
    },
    "InvideoBranding": {
      "properties": {
        "imageUrl": {
          "type": "string",
          "description": "The url of the uploaded image. Only used in apiary to api communication."
        },
        "timing": {
          "description": "The temporal position within the video where watermark will be displayed.",
          "$ref": "InvideoTiming"
        },
        "position": {
          "$ref": "InvideoPosition",
          "description": "The spatial position within the video where the branding watermark will be displayed."
        },
        "targetChannelId": {
          "description": "The channel to which this branding links. If not present it defaults to the current channel.",
          "type": "string"
        },
        "imageBytes": {
          "format": "byte",
          "type": "string",
          "description": "The bytes the uploaded image. Only used in api to youtube communication."
        }
      },
      "description": "LINT.IfChange Describes an invideo branding.",
      "id": "InvideoBranding",
      "type": "object"
    },
    "LiveStreamStatus": {
      "id": "LiveStreamStatus",
      "properties": {
        "healthStatus": {
          "$ref": "LiveStreamHealthStatus",
          "description": "The health status of the stream."
        },
        "streamStatus": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "created",
            "ready",
            "active",
            "inactive",
            "error"
          ],
          "type": "string"
        }
      },
      "description": "Brief description of the live stream status.",
      "type": "object"
    },
    "ThumbnailDetails": {
      "type": "object",
      "id": "ThumbnailDetails",
      "description": "Internal representation of thumbnails for a YouTube resource.",
      "properties": {
        "high": {
          "description": "The high quality image for this resource.",
          "$ref": "Thumbnail"
        },
        "default": {
          "description": "The default image for this resource.",
          "$ref": "Thumbnail"
        },
        "maxres": {
          "$ref": "Thumbnail",
          "description": "The maximum resolution quality image for this resource."
        },
        "standard": {
          "description": "The standard quality image for this resource.",
          "$ref": "Thumbnail"
        },
        "medium": {
          "description": "The medium quality image for this resource.",
          "$ref": "Thumbnail"
        }
      }
    },
    "SuperChatEventSnippet": {
      "properties": {
        "messageType": {
          "description": "The tier for the paid message, which is based on the amount of money spent to purchase the message.",
          "format": "uint32",
          "type": "integer"
        },
        "supporterDetails": {
          "description": "Details about the supporter.",
          "$ref": "ChannelProfileDetails"
        },
        "displayString": {
          "type": "string",
          "description": "A rendered string that displays the purchase amount and currency (e.g., \"$1.00\"). The string is rendered for the given language."
        },
        "createdAt": {
          "type": "string",
          "description": "The date and time when the event occurred. The value is specified in ISO 8601 format."
        },
        "isSuperStickerEvent": {
          "type": "boolean",
          "description": "True if this event is a Super Sticker event."
        },
        "superStickerMetadata": {
          "$ref": "SuperStickerMetadata",
          "description": "If this event is a Super Sticker event, this field will contain metadata about the Super Sticker."
        },
        "commentText": {
          "type": "string",
          "description": "The text contents of the comment left by the user."
        },
        "channelId": {
          "description": "Channel id where the event occurred.",
          "type": "string"
        },
        "amountMicros": {
          "format": "uint64",
          "description": "The purchase amount, in micros of the purchase currency. e.g., 1 is represented as 1000000.",
          "type": "string"
        },
        "currency": {
          "description": "The currency in which the purchase was made. ISO 4217.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "SuperChatEventSnippet"
    },
    "ActivityContentDetailsBulletin": {
      "id": "ActivityContentDetailsBulletin",
      "description": "Details about a channel bulletin post.",
      "properties": {
        "resourceId": {
          "description": "The resourceId object contains information that identifies the resource associated with a bulletin post. @mutable youtube.activities.insert",
          "$ref": "ResourceId"
        }
      },
      "type": "object"
    },
    "MembershipsDurationAtLevel": {
      "id": "MembershipsDurationAtLevel",
      "properties": {
        "memberSince": {
          "description": "The date and time when the user became a continuous member for the given level.",
          "type": "string"
        },
        "level": {
          "type": "string",
          "description": "Pricing level ID."
        },
        "memberTotalDurationMonths": {
          "description": "The cumulative time the user has been a member for the given level in complete months (the time is rounded down to the nearest integer).",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "MembershipsLevelListResponse": {
      "type": "object",
      "id": "MembershipsLevelListResponse",
      "properties": {
        "items": {
          "items": {
            "$ref": "MembershipsLevel"
          },
          "type": "array",
          "description": "A list of pricing levels offered by a creator to the fans."
        },
        "eventId": {
          "description": "Serialized EventId of the request which produced this response.",
          "type": "string"
        },
        "kind": {
          "default": "youtube#membershipsLevelListResponse",
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#membershipsLevelListResponse\"."
        },
        "visitorId": {
          "description": "The visitorId identifies the visitor.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        }
      }
    },
    "ContentRating": {
      "type": "object",
      "description": "Ratings schemes. The country-specific ratings are mostly for movies and shows. LINT.IfChange",
      "id": "ContentRating",
      "properties": {
        "nbcplRating": {
          "type": "string",
          "description": "The video's rating in Poland.",
          "enum": [
            "nbcplUnspecified",
            "nbcplI",
            "nbcplIi",
            "nbcplIii",
            "nbcplIv",
            "nbcpl18plus",
            "nbcplUnrated"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "fcbmRating": {
          "enum": [
            "fcbmUnspecified",
            "fcbmU",
            "fcbmPg13",
            "fcbmP13",
            "fcbm18",
            "fcbm18sx",
            "fcbm18pa",
            "fcbm18sg",
            "fcbm18pl",
            "fcbmUnrated"
          ],
          "enumDescriptions": [
            "",
            "U",
            "PG13",
            "P13",
            "18",
            "18SX",
            "18PA",
            "18SG",
            "18PL",
            ""
          ],
          "type": "string",
          "description": "The video's rating from Malaysia's Film Censorship Board."
        },
        "tvpgRating": {
          "enum": [
            "tvpgUnspecified",
            "tvpgY",
            "tvpgY7",
            "tvpgY7Fv",
            "tvpgG",
            "tvpgPg",
            "pg14",
            "tvpgMa",
            "tvpgUnrated"
          ],
          "enumDescriptions": [
            "",
            "TV-Y",
            "TV-Y7",
            "TV-Y7-FV",
            "TV-G",
            "TV-PG",
            "TV-14",
            "TV-MA",
            ""
          ],
          "description": "The video's TV Parental Guidelines (TVPG) rating.",
          "type": "string"
        },
        "mcstRating": {
          "type": "string",
          "description": "The video's rating system for Vietnam - MCST",
          "enum": [
            "mcstUnspecified",
            "mcstP",
            "mcst0",
            "mcstC13",
            "mcstC16",
            "mcst16plus",
            "mcstC18",
            "mcstGPg",
            "mcstUnrated"
          ],
          "enumDescriptions": [
            "",
            "P",
            "0",
            "C13",
            "C16",
            "16+",
            "C18",
            "MCST_G_PG",
            ""
          ]
        },
        "rteRating": {
          "enum": [
            "rteUnspecified",
            "rteGa",
            "rteCh",
            "rtePs",
            "rteMa",
            "rteUnrated"
          ],
          "type": "string",
          "description": "The video's rating from Ireland's Raidió Teilifís Éireann.",
          "enumDescriptions": [
            "",
            "GA",
            "CH",
            "PS",
            "MA",
            ""
          ]
        },
        "kmrbRating": {
          "enum": [
            "kmrbUnspecified",
            "kmrbAll",
            "kmrb12plus",
            "kmrb15plus",
            "kmrbTeenr",
            "kmrbR",
            "kmrbUnrated"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "전체관람가",
            "12세 이상 관람가",
            "15세 이상 관람가",
            "",
            "청소년 관람불가",
            ""
          ],
          "description": "The video's Korea Media Rating Board (영상물등급위원회) rating. The KMRB rates videos in South Korea."
        },
        "smsaRating": {
          "type": "string",
          "enumDescriptions": [
            "",
            "All ages",
            "7",
            "11",
            "15",
            ""
          ],
          "enum": [
            "smsaUnspecified",
            "smsaA",
            "smsa7",
            "smsa11",
            "smsa15",
            "smsaUnrated"
          ],
          "description": "The video's rating from Statens medieråd (Sweden's National Media Council)."
        },
        "eefilmRating": {
          "enumDescriptions": [
            "",
            "Pere",
            "L",
            "MS-6",
            "K-6",
            "MS-12",
            "K-12",
            "K-14",
            "K-16",
            ""
          ],
          "enum": [
            "eefilmUnspecified",
            "eefilmPere",
            "eefilmL",
            "eefilmMs6",
            "eefilmK6",
            "eefilmMs12",
            "eefilmK12",
            "eefilmK14",
            "eefilmK16",
            "eefilmUnrated"
          ],
          "description": "The video's rating in Estonia.",
          "type": "string"
        },
        "nbcRating": {
          "type": "string",
          "description": "The video's rating from the Maldives National Bureau of Classification.",
          "enumDescriptions": [
            "",
            "G",
            "PG",
            "12+",
            "15+",
            "18+",
            "18+R",
            "PU",
            ""
          ],
          "enum": [
            "nbcUnspecified",
            "nbcG",
            "nbcPg",
            "nbc12plus",
            "nbc15plus",
            "nbc18plus",
            "nbc18plusr",
            "nbcPu",
            "nbcUnrated"
          ]
        },
        "cscfRating": {
          "description": "The video's rating from Luxembourg's Commission de surveillance de la classification des films (CSCF).",
          "enum": [
            "cscfUnspecified",
            "cscfAl",
            "cscfA",
            "cscf6",
            "cscf9",
            "cscf12",
            "cscf16",
            "cscf18",
            "cscfUnrated"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "AL",
            "A",
            "6",
            "9",
            "12",
            "16",
            "18",
            ""
          ]
        },
        "acbRating": {
          "type": "string",
          "enumDescriptions": [
            "",
            "E",
            "Programs that have been given a P classification by the Australian Communications and Media Authority. These programs are intended for preschool children.",
            "Programs that have been given a C classification by the Australian Communications and Media Authority. These programs are intended for children (other than preschool children) who are younger than 14 years of age.",
            "G",
            "PG",
            "M",
            "MA15+",
            "R18+",
            ""
          ],
          "description": "The video's Australian Classification Board (ACB) or Australian Communications and Media Authority (ACMA) rating. ACMA ratings are used to classify children's television programming.",
          "enum": [
            "acbUnspecified",
            "acbE",
            "acbP",
            "acbC",
            "acbG",
            "acbPg",
            "acbM",
            "acbMa15plus",
            "acbR18plus",
            "acbUnrated"
          ]
        },
        "fcoRating": {
          "description": "The video's rating from Hong Kong's Office for Film, Newspaper and Article Administration.",
          "type": "string",
          "enum": [
            "fcoUnspecified",
            "fcoI",
            "fcoIia",
            "fcoIib",
            "fcoIi",
            "fcoIii",
            "fcoUnrated"
          ],
          "enumDescriptions": [
            "",
            "I",
            "IIA",
            "IIB",
            "II",
            "III",
            ""
          ]
        },
        "rcnofRating": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "description": "The video's rating from the Hungarian Nemzeti Filmiroda, the Rating Committee of the National Office of Film.",
          "enum": [
            "rcnofUnspecified",
            "rcnofI",
            "rcnofIi",
            "rcnofIii",
            "rcnofIv",
            "rcnofV",
            "rcnofVi",
            "rcnofUnrated"
          ]
        },
        "cnaRating": {
          "enumDescriptions": [
            "",
            "AP",
            "12",
            "15",
            "18",
            "18+",
            ""
          ],
          "description": "The video's rating from Romania's CONSILIUL NATIONAL AL AUDIOVIZUALULUI (CNA).",
          "enum": [
            "cnaUnspecified",
            "cnaAp",
            "cna12",
            "cna15",
            "cna18",
            "cna18plus",
            "cnaUnrated"
          ],
          "type": "string"
        },
        "nfrcRating": {
          "enumDescriptions": [
            "",
            "A",
            "B",
            "C",
            "D",
            "X",
            ""
          ],
          "type": "string",
          "description": "The video's rating from the Bulgarian National Film Center.",
          "enum": [
            "nfrcUnspecified",
            "nfrcA",
            "nfrcB",
            "nfrcC",
            "nfrcD",
            "nfrcX",
            "nfrcUnrated"
          ]
        },
        "resorteviolenciaRating": {
          "description": "The video's rating in Venezuela.",
          "enumDescriptions": [
            "",
            "A",
            "B",
            "C",
            "D",
            "E",
            ""
          ],
          "enum": [
            "resorteviolenciaUnspecified",
            "resorteviolenciaA",
            "resorteviolenciaB",
            "resorteviolenciaC",
            "resorteviolenciaD",
            "resorteviolenciaE",
            "resorteviolenciaUnrated"
          ],
          "type": "string"
        },
        "bbfcRating": {
          "enumDescriptions": [
            "",
            "U",
            "PG",
            "12A",
            "12",
            "15",
            "18",
            "R18",
            ""
          ],
          "description": "The video's British Board of Film Classification (BBFC) rating.",
          "type": "string",
          "enum": [
            "bbfcUnspecified",
            "bbfcU",
            "bbfcPg",
            "bbfc12a",
            "bbfc12",
            "bbfc15",
            "bbfc18",
            "bbfcR18",
            "bbfcUnrated"
          ]
        },
        "csaRating": {
          "description": "The video's rating from France's Conseil supérieur de l’audiovisuel, which rates broadcast content.",
          "enum": [
            "csaUnspecified",
            "csaT",
            "csa10",
            "csa12",
            "csa16",
            "csa18",
            "csaInterdiction",
            "csaUnrated"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "T",
            "10",
            "12",
            "16",
            "18",
            "Interdiction",
            ""
          ]
        },
        "russiaRating": {
          "description": "The video's National Film Registry of the Russian Federation (MKRF - Russia) rating.",
          "type": "string",
          "enumDescriptions": [
            "",
            "0+",
            "6+",
            "12+",
            "16+",
            "18+",
            ""
          ],
          "enum": [
            "russiaUnspecified",
            "russia0",
            "russia6",
            "russia12",
            "russia16",
            "russia18",
            "russiaUnrated"
          ]
        },
        "agcomRating": {
          "enumDescriptions": [
            "",
            "T",
            "VM14",
            "VM18",
            ""
          ],
          "enum": [
            "agcomUnspecified",
            "agcomT",
            "agcomVm14",
            "agcomVm18",
            "agcomUnrated"
          ],
          "description": "The video's rating from Italy's Autorità per le Garanzie nelle Comunicazioni (AGCOM).",
          "type": "string"
        },
        "eirinRating": {
          "type": "string",
          "enumDescriptions": [
            "",
            "G",
            "PG-12",
            "R15+",
            "R18+",
            ""
          ],
          "description": "The video's Eirin (映倫) rating. Eirin is the Japanese rating system.",
          "enum": [
            "eirinUnspecified",
            "eirinG",
            "eirinPg12",
            "eirinR15plus",
            "eirinR18plus",
            "eirinUnrated"
          ]
        },
        "nmcRating": {
          "enumDescriptions": [
            "",
            "G",
            "PG",
            "PG-13",
            "PG-15",
            "15+",
            "18+",
            "18TC",
            ""
          ],
          "description": "The National Media Council ratings system for United Arab Emirates.",
          "type": "string",
          "enum": [
            "nmcUnspecified",
            "nmcG",
            "nmcPg",
            "nmcPg13",
            "nmcPg15",
            "nmc15plus",
            "nmc18plus",
            "nmc18tc",
            "nmcUnrated"
          ]
        },
        "nfvcbRating": {
          "description": "The video's rating from Nigeria's National Film and Video Censors Board.",
          "enumDescriptions": [
            "",
            "G",
            "PG",
            "12",
            "12A",
            "15",
            "18",
            "RE",
            ""
          ],
          "type": "string",
          "enum": [
            "nfvcbUnspecified",
            "nfvcbG",
            "nfvcbPg",
            "nfvcb12",
            "nfvcb12a",
            "nfvcb15",
            "nfvcb18",
            "nfvcbRe",
            "nfvcbUnrated"
          ]
        },
        "icaaRating": {
          "enum": [
            "icaaUnspecified",
            "icaaApta",
            "icaa7",
            "icaa12",
            "icaa13",
            "icaa16",
            "icaa18",
            "icaaX",
            "icaaUnrated"
          ],
          "description": "The video's Instituto de la Cinematografía y de las Artes Audiovisuales (ICAA - Spain) rating.",
          "type": "string",
          "enumDescriptions": [
            "",
            "APTA",
            "7",
            "12",
            "13",
            "16",
            "18",
            "X",
            ""
          ]
        },
        "kfcbRating": {
          "enumDescriptions": [
            "",
            "GE",
            "PG",
            "16",
            "18",
            ""
          ],
          "type": "string",
          "description": "The video's rating from the Kenya Film Classification Board.",
          "enum": [
            "kfcbUnspecified",
            "kfcbG",
            "kfcbPg",
            "kfcb16plus",
            "kfcbR",
            "kfcbUnrated"
          ]
        },
        "smaisRating": {
          "enumDescriptions": [
            "",
            "L",
            "7",
            "12",
            "14",
            "16",
            "18",
            ""
          ],
          "description": "The video's rating in Iceland.",
          "enum": [
            "smaisUnspecified",
            "smaisL",
            "smais7",
            "smais12",
            "smais14",
            "smais16",
            "smais18",
            "smaisUnrated"
          ],
          "type": "string"
        },
        "oflcRating": {
          "type": "string",
          "enum": [
            "oflcUnspecified",
            "oflcG",
            "oflcPg",
            "oflcM",
            "oflcR13",
            "oflcR15",
            "oflcR16",
            "oflcR18",
            "oflcUnrated",
            "oflcRp13",
            "oflcRp16",
            "oflcRp18"
          ],
          "enumDescriptions": [
            "",
            "G",
            "PG",
            "M",
            "R13",
            "R15",
            "R16",
            "R18",
            "",
            "RP13",
            "RP16",
            "RP18"
          ],
          "description": "The video's Office of Film and Literature Classification (OFLC - New Zealand) rating."
        },
        "bfvcRating": {
          "enumDescriptions": [
            "",
            "G",
            "E",
            "13",
            "15",
            "18",
            "20",
            "B",
            ""
          ],
          "type": "string",
          "description": "The video's rating from Thailand's Board of Film and Video Censors.",
          "enum": [
            "bfvcUnspecified",
            "bfvcG",
            "bfvcE",
            "bfvc13",
            "bfvc15",
            "bfvc18",
            "bfvc20",
            "bfvcB",
            "bfvcUnrated"
          ]
        },
        "skfilmRating": {
          "enum": [
            "skfilmUnspecified",
            "skfilmG",
            "skfilmP2",
            "skfilmP5",
            "skfilmP8",
            "skfilmUnrated"
          ],
          "type": "string",
          "description": "The video's rating in Slovakia.",
          "enumDescriptions": [
            "",
            "G",
            "P2",
            "P5",
            "P8",
            ""
          ]
        },
        "chfilmRating": {
          "description": "The video's rating in Switzerland.",
          "enum": [
            "chfilmUnspecified",
            "chfilm0",
            "chfilm6",
            "chfilm12",
            "chfilm16",
            "chfilm18",
            "chfilmUnrated"
          ],
          "enumDescriptions": [
            "",
            "0",
            "6",
            "12",
            "16",
            "18",
            ""
          ],
          "type": "string"
        },
        "fskRating": {
          "enum": [
            "fskUnspecified",
            "fsk0",
            "fsk6",
            "fsk12",
            "fsk16",
            "fsk18",
            "fskUnrated"
          ],
          "enumDescriptions": [
            "",
            "FSK 0",
            "FSK 6",
            "FSK 12",
            "FSK 16",
            "FSK 18",
            ""
          ],
          "type": "string",
          "description": "The video's Freiwillige Selbstkontrolle der Filmwirtschaft (FSK - Germany) rating."
        },
        "mpaatRating": {
          "type": "string",
          "enumDescriptions": [
            "",
            "GB",
            "RB"
          ],
          "enum": [
            "mpaatUnspecified",
            "mpaatGb",
            "mpaatRb"
          ],
          "description": "The rating system for trailer, DVD, and Ad in the US. See http://movielabs.com/md/ratings/v2.3/html/US_MPAAT_Ratings.html."
        },
        "mocRating": {
          "type": "string",
          "enum": [
            "mocUnspecified",
            "mocE",
            "mocT",
            "moc7",
            "moc12",
            "moc15",
            "moc18",
            "mocX",
            "mocBanned",
            "mocUnrated"
          ],
          "description": "The video's Ministerio de Cultura (Colombia) rating.",
          "enumDescriptions": [
            "",
            "E",
            "T",
            "7",
            "12",
            "15",
            "18",
            "X",
            "Banned",
            ""
          ]
        },
        "lsfRating": {
          "description": "The video's rating from Indonesia's Lembaga Sensor Film.",
          "enum": [
            "lsfUnspecified",
            "lsfSu",
            "lsfA",
            "lsfBo",
            "lsf13",
            "lsfR",
            "lsf17",
            "lsfD",
            "lsf21",
            "lsfUnrated"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "SU",
            "A",
            "BO",
            "13",
            "R",
            "17",
            "D",
            "21",
            ""
          ]
        },
        "catvfrRating": {
          "enumDescriptions": [
            "",
            "G",
            "8+",
            "13+",
            "16+",
            "18+",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "catvfrUnspecified",
            "catvfrG",
            "catvfr8plus",
            "catvfr13plus",
            "catvfr16plus",
            "catvfr18plus",
            "catvfrUnrated",
            "catvfrE"
          ],
          "description": "The video's rating from the Canadian Radio-Television and Telecommunications Commission (CRTC) for Canadian French-language broadcasts. For more information, see the Canadian Broadcast Standards Council website."
        },
        "incaaRating": {
          "type": "string",
          "enumDescriptions": [
            "",
            "ATP (Apta para todo publico)",
            "13 (Solo apta para mayores de 13 años)",
            "16 (Solo apta para mayores de 16 años)",
            "18 (Solo apta para mayores de 18 años)",
            "X (Solo apta para mayores de 18 años, de exhibición condicionada)",
            ""
          ],
          "description": "The video's INCAA (Instituto Nacional de Cine y Artes Audiovisuales - Argentina) rating.",
          "enum": [
            "incaaUnspecified",
            "incaaAtp",
            "incaaSam13",
            "incaaSam16",
            "incaaSam18",
            "incaaC",
            "incaaUnrated"
          ]
        },
        "ytRating": {
          "description": "A rating that YouTube uses to identify age-restricted content.",
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "ytUnspecified",
            "ytAgeRestricted"
          ]
        },
        "cncRating": {
          "enumDescriptions": [
            "",
            "T",
            "10",
            "12",
            "16",
            "18",
            "E",
            "interdiction",
            ""
          ],
          "description": "Rating system in France - Commission de classification cinematographique",
          "type": "string",
          "enum": [
            "cncUnspecified",
            "cncT",
            "cnc10",
            "cnc12",
            "cnc16",
            "cnc18",
            "cncE",
            "cncInterdiction",
            "cncUnrated"
          ]
        },
        "chvrsRating": {
          "description": "The video's Canadian Home Video Rating System (CHVRS) rating.",
          "enum": [
            "chvrsUnspecified",
            "chvrsG",
            "chvrsPg",
            "chvrs14a",
            "chvrs18a",
            "chvrsR",
            "chvrsE",
            "chvrsUnrated"
          ],
          "enumDescriptions": [
            "",
            "G",
            "PG",
            "14A",
            "18A",
            "R",
            "E",
            ""
          ],
          "type": "string"
        },
        "mpaaRating": {
          "enumDescriptions": [
            "",
            "G",
            "PG",
            "PG-13",
            "R",
            "NC-17",
            "! X",
            ""
          ],
          "enum": [
            "mpaaUnspecified",
            "mpaaG",
            "mpaaPg",
            "mpaaPg13",
            "mpaaR",
            "mpaaNc17",
            "mpaaX",
            "mpaaUnrated"
          ],
          "type": "string",
          "description": "The video's Motion Picture Association of America (MPAA) rating."
        },
        "mccaaRating": {
          "type": "string",
          "enumDescriptions": [
            "",
            "U",
            "PG",
            "12A",
            "12",
            "14 - this rating was removed from the new classification structure introduced in 2013.",
            "15",
            "16 - this rating was removed from the new classification structure introduced in 2013.",
            "18",
            ""
          ],
          "enum": [
            "mccaaUnspecified",
            "mccaaU",
            "mccaaPg",
            "mccaa12a",
            "mccaa12",
            "mccaa14",
            "mccaa15",
            "mccaa16",
            "mccaa18",
            "mccaaUnrated"
          ],
          "description": "The video's rating from Malta's Film Age-Classification Board."
        },
        "menaMpaaRating": {
          "type": "string",
          "enum": [
            "menaMpaaUnspecified",
            "menaMpaaG",
            "menaMpaaPg",
            "menaMpaaPg13",
            "menaMpaaR",
            "menaMpaaUnrated"
          ],
          "description": "The rating system for MENA countries, a clone of MPAA. It is needed to prevent titles go live w/o additional QC check, since some of them can be inappropriate for the countries at all. See b/33408548 for more details.",
          "enumDescriptions": [
            "",
            "G",
            "PG",
            "PG-13",
            "R",
            "To keep the same enum values as MPAA's items have, skip NC_17."
          ]
        },
        "cccRating": {
          "enum": [
            "cccUnspecified",
            "cccTe",
            "ccc6",
            "ccc14",
            "ccc18",
            "ccc18v",
            "ccc18s",
            "cccUnrated"
          ],
          "type": "string",
          "description": "The video's Consejo de Calificación Cinematográfica (Chile) rating.",
          "enumDescriptions": [
            "",
            "Todo espectador",
            "6+ - Inconveniente para menores de 7 años",
            "14+",
            "18+",
            "18+ - contenido excesivamente violento",
            "18+ - contenido pornográfico",
            ""
          ]
        },
        "mibacRating": {
          "enum": [
            "mibacUnspecified",
            "mibacT",
            "mibacVap",
            "mibacVm12",
            "mibacVm14",
            "mibacVm18",
            "mibacUnrated"
          ],
          "description": "The video's rating from the Ministero dei Beni e delle Attività Culturali e del Turismo (Italy).",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "egfilmRating": {
          "type": "string",
          "enumDescriptions": [
            "",
            "GN",
            "18",
            "BN",
            ""
          ],
          "enum": [
            "egfilmUnspecified",
            "egfilmGn",
            "egfilm18",
            "egfilmBn",
            "egfilmUnrated"
          ],
          "description": "The video's rating in Egypt."
        },
        "kijkwijzerRating": {
          "enum": [
            "kijkwijzerUnspecified",
            "kijkwijzerAl",
            "kijkwijzer6",
            "kijkwijzer9",
            "kijkwijzer12",
            "kijkwijzer16",
            "kijkwijzer18",
            "kijkwijzerUnrated"
          ],
          "description": "The video's NICAM/Kijkwijzer rating from the Nederlands Instituut voor de Classificatie van Audiovisuele Media (Netherlands).",
          "enumDescriptions": [
            "",
            "AL",
            "6",
            "9",
            "12",
            "16",
            "",
            ""
          ],
          "type": "string"
        },
        "mtrcbRating": {
          "enumDescriptions": [
            "",
            "G",
            "PG",
            "R-13",
            "R-16",
            "R-18",
            "X",
            ""
          ],
          "type": "string",
          "description": "The video's rating from the Movie and Television Review and Classification Board (Philippines).",
          "enum": [
            "mtrcbUnspecified",
            "mtrcbG",
            "mtrcbPg",
            "mtrcbR13",
            "mtrcbR16",
            "mtrcbR18",
            "mtrcbX",
            "mtrcbUnrated"
          ]
        },
        "ifcoRating": {
          "type": "string",
          "enum": [
            "ifcoUnspecified",
            "ifcoG",
            "ifcoPg",
            "ifco12",
            "ifco12a",
            "ifco15",
            "ifco15a",
            "ifco16",
            "ifco18",
            "ifcoUnrated"
          ],
          "description": "The video's Irish Film Classification Office (IFCO - Ireland) rating. See the IFCO website for more information.",
          "enumDescriptions": [
            "",
            "G",
            "PG",
            "12",
            "12A",
            "15",
            "15A",
            "16",
            "18",
            ""
          ]
        },
        "fpbRating": {
          "description": "The video's rating from South Africa's Film and Publication Board.",
          "type": "string",
          "enum": [
            "fpbUnspecified",
            "fpbA",
            "fpbPg",
            "fpb79Pg",
            "fpb1012Pg",
            "fpb13",
            "fpb16",
            "fpb18",
            "fpbX18",
            "fpbXx",
            "fpbUnrated",
            "fpb10"
          ],
          "enumDescriptions": [
            "",
            "A",
            "PG",
            "7-9PG",
            "10-12PG",
            "13",
            "16",
            "18",
            "X18",
            "XX",
            "",
            "10"
          ]
        },
        "cceRating": {
          "enumDescriptions": [
            "",
            "4",
            "6",
            "12",
            "16",
            "18",
            "",
            "14"
          ],
          "enum": [
            "cceUnspecified",
            "cceM4",
            "cceM6",
            "cceM12",
            "cceM16",
            "cceM18",
            "cceUnrated",
            "cceM14"
          ],
          "description": "The video's rating from Portugal's Comissão de Classificação de Espect´culos.",
          "type": "string"
        },
        "medietilsynetRating": {
          "enum": [
            "medietilsynetUnspecified",
            "medietilsynetA",
            "medietilsynet6",
            "medietilsynet7",
            "medietilsynet9",
            "medietilsynet11",
            "medietilsynet12",
            "medietilsynet15",
            "medietilsynet18",
            "medietilsynetUnrated"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "A",
            "6",
            "7",
            "9",
            "11",
            "12",
            "15",
            "18",
            ""
          ],
          "description": "The video's rating from Medietilsynet, the Norwegian Media Authority."
        },
        "djctqRatingReasons": {
          "type": "array",
          "description": "Reasons that explain why the video received its DJCQT (Brazil) rating.",
          "items": {
            "enumDescriptions": [
              "",
              "Brazil rating content descriptors. See http://go/brazilratings section F. Violência (Violence)",
              "Violência extrema (Extreme violence)",
              "Conteúdo sexual (Sexual content)",
              "Nudez (Nudity)",
              "Sexo (Sex)",
              "Sexo Explícito (Explicit sex)",
              "Drogas (Drugs)",
              "Drogas Lícitas (Legal drugs)",
              "Drogas Ilícitas (Illegal drugs)",
              "Linguagem Imprópria (Inappropriate language)",
              "Atos Criminosos (Criminal Acts)",
              "Conteúdo Impactante (Impacting content)"
            ],
            "enum": [
              "djctqRatingReasonUnspecified",
              "djctqViolence",
              "djctqExtremeViolence",
              "djctqSexualContent",
              "djctqNudity",
              "djctqSex",
              "djctqExplicitSex",
              "djctqDrugs",
              "djctqLegalDrugs",
              "djctqIllegalDrugs",
              "djctqInappropriateLanguage",
              "djctqCriminalActs",
              "djctqImpactingContent"
            ],
            "type": "string"
          }
        },
        "fpbRatingReasons": {
          "description": "Reasons that explain why the video received its FPB (South Africa) rating.",
          "items": {
            "enum": [
              "fpbRatingReasonUnspecified",
              "fpbBlasphemy",
              "fpbLanguage",
              "fpbNudity",
              "fpbPrejudice",
              "fpbSex",
              "fpbViolence",
              "fpbDrugs",
              "fpbSexualViolence",
              "fpbHorror",
              "fpbCriminalTechniques",
              "fpbImitativeActsTechniques"
            ],
            "enumDescriptions": [
              "",
              "South Africa rating content descriptors.",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "type": "string"
          },
          "type": "array"
        },
        "bmukkRating": {
          "type": "string",
          "enumDescriptions": [
            "",
            "Unrestricted",
            "6+",
            "8+",
            "10+",
            "12+",
            "14+",
            "16+",
            ""
          ],
          "description": "The video's rating from the Austrian Board of Media Classification (Bundesministerium für Unterricht, Kunst und Kultur).",
          "enum": [
            "bmukkUnspecified",
            "bmukkAa",
            "bmukk6",
            "bmukk8",
            "bmukk10",
            "bmukk12",
            "bmukk14",
            "bmukk16",
            "bmukkUnrated"
          ]
        },
        "czfilmRating": {
          "enum": [
            "czfilmUnspecified",
            "czfilmU",
            "czfilm12",
            "czfilm14",
            "czfilm18",
            "czfilmUnrated"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "U",
            "12",
            "14",
            "18",
            ""
          ],
          "description": "The video's rating in the Czech Republic."
        },
        "pefilmRating": {
          "type": "string",
          "enumDescriptions": [
            "",
            "PT",
            "PG",
            "14",
            "18",
            ""
          ],
          "enum": [
            "pefilmUnspecified",
            "pefilmPt",
            "pefilmPg",
            "pefilm14",
            "pefilm18",
            "pefilmUnrated"
          ],
          "description": "The video's rating in Peru."
        },
        "fmocRating": {
          "type": "string",
          "enum": [
            "fmocUnspecified",
            "fmocU",
            "fmoc10",
            "fmoc12",
            "fmoc16",
            "fmoc18",
            "fmocE",
            "fmocUnrated"
          ],
          "description": "This property has been deprecated. Use the contentDetails.contentRating.cncRating instead.",
          "enumDescriptions": [
            "",
            "U",
            "10",
            "12",
            "16",
            "18",
            "E",
            ""
          ]
        },
        "cbfcRating": {
          "description": "The video's Central Board of Film Certification (CBFC - India) rating.",
          "enumDescriptions": [
            "",
            "U",
            "U/A",
            "A",
            "S",
            ""
          ],
          "type": "string",
          "enum": [
            "cbfcUnspecified",
            "cbfcU",
            "cbfcUA",
            "cbfcA",
            "cbfcS",
            "cbfcUnrated"
          ]
        },
        "mekuRating": {
          "type": "string",
          "enum": [
            "mekuUnspecified",
            "mekuS",
            "meku7",
            "meku12",
            "meku16",
            "meku18",
            "mekuUnrated"
          ],
          "enumDescriptions": [
            "",
            "S",
            "7",
            "12",
            "16",
            "18",
            ""
          ],
          "description": "The video's rating from Finland's Kansallinen Audiovisuaalinen Instituutti (National Audiovisual Institute)."
        },
        "grfilmRating": {
          "enumDescriptions": [
            "",
            "K",
            "E",
            "K-12",
            "K-13",
            "K-15",
            "K-17",
            "K-18",
            ""
          ],
          "enum": [
            "grfilmUnspecified",
            "grfilmK",
            "grfilmE",
            "grfilmK12",
            "grfilmK13",
            "grfilmK15",
            "grfilmK17",
            "grfilmK18",
            "grfilmUnrated"
          ],
          "description": "The video's rating in Greece.",
          "type": "string"
        },
        "anatelRating": {
          "type": "string",
          "description": "The video's Anatel (Asociación Nacional de Televisión) rating for Chilean television.",
          "enumDescriptions": [
            "",
            "F",
            "I",
            "I-7",
            "I-10",
            "I-12",
            "R",
            "A",
            ""
          ],
          "enum": [
            "anatelUnspecified",
            "anatelF",
            "anatelI",
            "anatelI7",
            "anatelI10",
            "anatelI12",
            "anatelR",
            "anatelA",
            "anatelUnrated"
          ]
        },
        "nkclvRating": {
          "enum": [
            "nkclvUnspecified",
            "nkclvU",
            "nkclv7plus",
            "nkclv12plus",
            "nkclv16plus",
            "nkclv18plus",
            "nkclvUnrated"
          ],
          "enumDescriptions": [
            "",
            "U",
            "7+",
            "12+",
            "! 16+",
            "18+",
            ""
          ],
          "type": "string",
          "description": "The video's rating from the Nacionãlais Kino centrs (National Film Centre of Latvia)."
        },
        "catvRating": {
          "description": "Rating system for Canadian TV - Canadian TV Classification System The video's rating from the Canadian Radio-Television and Telecommunications Commission (CRTC) for Canadian English-language broadcasts. For more information, see the Canadian Broadcast Standards Council website.",
          "enum": [
            "catvUnspecified",
            "catvC",
            "catvC8",
            "catvG",
            "catvPg",
            "catv14plus",
            "catv18plus",
            "catvUnrated",
            "catvE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "C",
            "C8",
            "G",
            "PG",
            "14+",
            "18+",
            "",
            ""
          ]
        },
        "moctwRating": {
          "description": "The video's rating from Taiwan's Ministry of Culture (文化部).",
          "type": "string",
          "enumDescriptions": [
            "",
            "G",
            "P",
            "PG",
            "R",
            "",
            "R-12",
            "R-15"
          ],
          "enum": [
            "moctwUnspecified",
            "moctwG",
            "moctwP",
            "moctwPg",
            "moctwR",
            "moctwUnrated",
            "moctwR12",
            "moctwR15"
          ]
        },
        "mccypRating": {
          "enumDescriptions": [
            "",
            "A",
            "7",
            "11",
            "15",
            ""
          ],
          "type": "string",
          "description": "The video's rating from the Danish Film Institute's (Det Danske Filminstitut) Media Council for Children and Young People.",
          "enum": [
            "mccypUnspecified",
            "mccypA",
            "mccyp7",
            "mccyp11",
            "mccyp15",
            "mccypUnrated"
          ]
        },
        "mdaRating": {
          "enum": [
            "mdaUnspecified",
            "mdaG",
            "mdaPg",
            "mdaPg13",
            "mdaNc16",
            "mdaM18",
            "mdaR21",
            "mdaUnrated"
          ],
          "enumDescriptions": [
            "",
            "G",
            "PG",
            "PG13",
            "NC16",
            "M18",
            "R21",
            ""
          ],
          "description": "The video's rating from Singapore's Media Development Authority (MDA) and, specifically, it's Board of Film Censors (BFC).",
          "type": "string"
        },
        "rtcRating": {
          "enumDescriptions": [
            "",
            "AA",
            "A",
            "B",
            "B15",
            "C",
            "D",
            ""
          ],
          "enum": [
            "rtcUnspecified",
            "rtcAa",
            "rtcA",
            "rtcB",
            "rtcB15",
            "rtcC",
            "rtcD",
            "rtcUnrated"
          ],
          "description": "The video's General Directorate of Radio, Television and Cinematography (Mexico) rating.",
          "type": "string"
        },
        "ecbmctRating": {
          "enumDescriptions": [
            "",
            "G",
            "7A",
            "7+",
            "13A",
            "13+",
            "15A",
            "15+",
            "18+",
            ""
          ],
          "enum": [
            "ecbmctUnspecified",
            "ecbmctG",
            "ecbmct7a",
            "ecbmct7plus",
            "ecbmct13a",
            "ecbmct13plus",
            "ecbmct15a",
            "ecbmct15plus",
            "ecbmct18plus",
            "ecbmctUnrated"
          ],
          "type": "string",
          "description": "Rating system in Turkey - Evaluation and Classification Board of the Ministry of Culture and Tourism"
        },
        "djctqRating": {
          "enum": [
            "djctqUnspecified",
            "djctqL",
            "djctq10",
            "djctq12",
            "djctq14",
            "djctq16",
            "djctq18",
            "djctqEr",
            "djctqL10",
            "djctqL12",
            "djctqL14",
            "djctqL16",
            "djctqL18",
            "djctq1012",
            "djctq1014",
            "djctq1016",
            "djctq1018",
            "djctq1214",
            "djctq1216",
            "djctq1218",
            "djctq1416",
            "djctq1418",
            "djctq1618",
            "djctqUnrated"
          ],
          "type": "string",
          "description": "The video's Departamento de Justiça, Classificação, Qualificação e Títulos (DJCQT - Brazil) rating.",
          "enumDescriptions": [
            "",
            "L",
            "10",
            "12",
            "14",
            "16",
            "18",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "cicfRating": {
          "enum": [
            "cicfUnspecified",
            "cicfE",
            "cicfKtEa",
            "cicfKntEna",
            "cicfUnrated"
          ],
          "type": "string",
          "description": "The video's rating from the Commission de Contrôle des Films (Belgium).",
          "enumDescriptions": [
            "",
            "E",
            "KT/EA",
            "KNT/ENA",
            ""
          ]
        },
        "ilfilmRating": {
          "enumDescriptions": [
            "",
            "AA",
            "12",
            "14",
            "16",
            "18",
            ""
          ],
          "enum": [
            "ilfilmUnspecified",
            "ilfilmAa",
            "ilfilm12",
            "ilfilm14",
            "ilfilm16",
            "ilfilm18",
            "ilfilmUnrated"
          ],
          "description": "The video's rating in Israel.",
          "type": "string"
        }
      }
    },
    "PageInfo": {
      "description": "Paging details for lists of resources, including total number of items available and number of resources returned in a single page.",
      "type": "object",
      "properties": {
        "totalResults": {
          "format": "int32",
          "description": "The total number of results in the result set.",
          "type": "integer"
        },
        "resultsPerPage": {
          "description": "The number of results included in the API response.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "PageInfo"
    },
    "ChannelSectionContentDetails": {
      "description": "Details about a channelsection, including playlists and channels.",
      "properties": {
        "playlists": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The playlist ids for type single_playlist and multiple_playlists. For singlePlaylist, only one playlistId is allowed."
        },
        "channels": {
          "items": {
            "type": "string"
          },
          "description": "The channel ids for type multiple_channels.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "ChannelSectionContentDetails"
    },
    "ActivitySnippet": {
      "description": "Basic details about an activity, including title, description, thumbnails, activity type and group. Next ID: 12",
      "id": "ActivitySnippet",
      "properties": {
        "description": {
          "type": "string",
          "description": "The description of the resource primarily associated with the activity. @mutable youtube.activities.insert"
        },
        "channelTitle": {
          "description": "Channel title for the channel responsible for this activity",
          "type": "string"
        },
        "groupId": {
          "description": "The group ID associated with the activity. A group ID identifies user events that are associated with the same user and resource. For example, if a user rates a video and marks the same video as a favorite, the entries for those events would have the same group ID in the user's activity feed. In your user interface, you can avoid repetition by grouping events with the same groupId value.",
          "type": "string"
        },
        "channelId": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the channel associated with the activity."
        },
        "title": {
          "description": "The title of the resource primarily associated with the activity.",
          "type": "string"
        },
        "publishedAt": {
          "type": "string",
          "description": "The date and time that the video was uploaded. The value is specified in ISO 8601 format."
        },
        "type": {
          "enum": [
            "typeUnspecified",
            "upload",
            "like",
            "favorite",
            "comment",
            "subscription",
            "playlistItem",
            "recommendation",
            "bulletin",
            "social",
            "channelItem",
            "promotedItem"
          ],
          "description": "The type of activity that the resource describes.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "thumbnails": {
          "description": "A map of thumbnail images associated with the resource that is primarily associated with the activity. For each object in the map, the key is the name of the thumbnail image, and the value is an object that contains other information about the thumbnail.",
          "$ref": "ThumbnailDetails"
        }
      },
      "type": "object"
    },
    "VideoPlayer": {
      "description": "Player to be used for a video playback.",
      "type": "object",
      "id": "VideoPlayer",
      "properties": {
        "embedHtml": {
          "description": "An \u003ciframe\u003e tag that embeds a player that will play the video.",
          "type": "string"
        },
        "embedHeight": {
          "format": "int64",
          "type": "string"
        },
        "embedWidth": {
          "format": "int64",
          "type": "string",
          "description": "The embed width"
        }
      }
    },
    "ChannelContentDetails": {
      "properties": {
        "relatedPlaylists": {
          "properties": {
            "uploads": {
              "description": "The ID of the playlist that contains the channel\"s uploaded videos. Use the videos.insert method to upload new videos and the videos.delete method to delete previously uploaded videos.",
              "type": "string"
            },
            "likes": {
              "type": "string",
              "description": "The ID of the playlist that contains the channel\"s liked videos. Use the playlistItems.insert and playlistItems.delete to add or remove items from that list."
            },
            "favorites": {
              "description": "The ID of the playlist that contains the channel\"s favorite videos. Use the playlistItems.insert and playlistItems.delete to add or remove items from that list.",
              "type": "string"
            },
            "watchHistory": {
              "type": "string",
              "description": "The ID of the playlist that contains the channel\"s watch history. Use the playlistItems.insert and playlistItems.delete to add or remove items from that list."
            },
            "watchLater": {
              "type": "string",
              "description": "The ID of the playlist that contains the channel\"s watch later playlist. Use the playlistItems.insert and playlistItems.delete to add or remove items from that list."
            }
          },
          "type": "object"
        }
      },
      "description": "Details about the content of a channel.",
      "id": "ChannelContentDetails",
      "type": "object"
    },
    "ActivityContentDetails": {
      "id": "ActivityContentDetails",
      "type": "object",
      "description": "Details about the content of an activity: the video that was shared, the channel that was subscribed to, etc.",
      "properties": {
        "recommendation": {
          "description": "The recommendation object contains information about a recommended resource. This property is only present if the snippet.type is recommendation.",
          "$ref": "ActivityContentDetailsRecommendation"
        },
        "subscription": {
          "$ref": "ActivityContentDetailsSubscription",
          "description": "The subscription object contains information about a channel that a user subscribed to. This property is only present if the snippet.type is subscription."
        },
        "upload": {
          "$ref": "ActivityContentDetailsUpload",
          "description": "The upload object contains information about the uploaded video. This property is only present if the snippet.type is upload."
        },
        "playlistItem": {
          "description": "The playlistItem object contains information about a new playlist item. This property is only present if the snippet.type is playlistItem.",
          "$ref": "ActivityContentDetailsPlaylistItem"
        },
        "channelItem": {
          "$ref": "ActivityContentDetailsChannelItem",
          "description": "The channelItem object contains details about a resource which was added to a channel. This property is only present if the snippet.type is channelItem."
        },
        "social": {
          "description": "The social object contains details about a social network post. This property is only present if the snippet.type is social.",
          "$ref": "ActivityContentDetailsSocial"
        },
        "bulletin": {
          "$ref": "ActivityContentDetailsBulletin",
          "description": "The bulletin object contains details about a channel bulletin post. This object is only present if the snippet.type is bulletin."
        },
        "comment": {
          "description": "The comment object contains information about a resource that received a comment. This property is only present if the snippet.type is comment.",
          "$ref": "ActivityContentDetailsComment"
        },
        "favorite": {
          "$ref": "ActivityContentDetailsFavorite",
          "description": "The favorite object contains information about a video that was marked as a favorite video. This property is only present if the snippet.type is favorite."
        },
        "promotedItem": {
          "$ref": "ActivityContentDetailsPromotedItem",
          "description": "The promotedItem object contains details about a resource which is being promoted. This property is only present if the snippet.type is promotedItem."
        },
        "like": {
          "description": "The like object contains information about a resource that received a positive (like) rating. This property is only present if the snippet.type is like.",
          "$ref": "ActivityContentDetailsLike"
        }
      }
    },
    "CommentThreadListResponse": {
      "properties": {
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "items": {
          "description": "A list of comment threads that match the request criteria.",
          "type": "array",
          "items": {
            "$ref": "CommentThread"
          }
        },
        "kind": {
          "default": "youtube#commentThreadListResponse",
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#commentThreadListResponse\"."
        },
        "tokenPagination": {
          "$ref": "TokenPagination"
        },
        "pageInfo": {
          "description": "General pagination information.",
          "$ref": "PageInfo"
        },
        "eventId": {
          "type": "string",
          "description": "Serialized EventId of the request which produced this response."
        },
        "visitorId": {
          "description": "The visitorId identifies the visitor.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "CommentThreadListResponse"
    },
    "SearchListResponse": {
      "id": "SearchListResponse",
      "properties": {
        "prevPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set.",
          "type": "string"
        },
        "regionCode": {
          "type": "string"
        },
        "tokenPagination": {
          "$ref": "TokenPagination"
        },
        "nextPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set.",
          "type": "string"
        },
        "eventId": {
          "description": "Serialized EventId of the request which produced this response.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "youtube#searchListResponse",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#searchListResponse\"."
        },
        "items": {
          "items": {
            "$ref": "SearchResult"
          },
          "description": "Pagination information for token pagination.",
          "type": "array"
        },
        "visitorId": {
          "description": "The visitorId identifies the visitor.",
          "type": "string"
        },
        "pageInfo": {
          "description": "General pagination information.",
          "$ref": "PageInfo"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "VideoTopicDetails": {
      "properties": {
        "topicCategories": {
          "type": "array",
          "description": "A list of Wikipedia URLs that provide a high-level description of the video's content.",
          "items": {
            "type": "string"
          }
        },
        "relevantTopicIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Similar to topic_id, except that these topics are merely relevant to the video. These are topics that may be mentioned in, or appear in the video. You can retrieve information about each topic using Freebase Topic API."
        },
        "topicIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of Freebase topic IDs that are centrally associated with the video. These are topics that are centrally featured in the video, and it can be said that the video is mainly about each of these. You can retrieve information about each topic using the \u003c a href=\"http://wiki.freebase.com/wiki/Topic_API\"\u003eFreebase Topic API."
        }
      },
      "description": "Freebase topic information related to the video.",
      "type": "object",
      "id": "VideoTopicDetails"
    },
    "ChannelSettings": {
      "properties": {
        "profileColor": {
          "description": "A prominent color that can be rendered on this channel page.",
          "type": "string"
        },
        "country": {
          "description": "The country of the channel.",
          "type": "string"
        },
        "defaultTab": {
          "description": "Which content tab users should see when viewing the channel.",
          "type": "string"
        },
        "trackingAnalyticsAccountId": {
          "description": "The ID for a Google Analytics account to track and measure traffic to the channels.",
          "type": "string"
        },
        "featuredChannelsTitle": {
          "type": "string",
          "description": "Title for the featured channels tab."
        },
        "moderateComments": {
          "type": "boolean",
          "description": "Whether user-submitted comments left on the channel page need to be approved by the channel owner to be publicly visible."
        },
        "showBrowseView": {
          "description": "Whether the tab to browse the videos should be displayed.",
          "type": "boolean"
        },
        "unsubscribedTrailer": {
          "description": "The trailer of the channel, for users that are not subscribers.",
          "type": "string"
        },
        "keywords": {
          "description": "Lists keywords associated with the channel, comma-separated.",
          "type": "string"
        },
        "featuredChannelsUrls": {
          "type": "array",
          "description": "The list of featured channels.",
          "items": {
            "type": "string"
          }
        },
        "title": {
          "description": "Specifies the channel title.",
          "type": "string"
        },
        "description": {
          "description": "Specifies the channel description.",
          "type": "string"
        },
        "showRelatedChannels": {
          "description": "Whether related channels should be proposed.",
          "type": "boolean"
        },
        "defaultLanguage": {
          "type": "string"
        }
      },
      "description": "Branding properties for the channel view.",
      "type": "object",
      "id": "ChannelSettings"
    },
    "Thumbnail": {
      "id": "Thumbnail",
      "type": "object",
      "description": "A thumbnail is an image representing a YouTube resource.",
      "properties": {
        "url": {
          "type": "string",
          "description": "The thumbnail image's URL."
        },
        "height": {
          "format": "uint32",
          "type": "integer",
          "description": "(Optional) Height of the thumbnail image."
        },
        "width": {
          "format": "uint32",
          "description": "(Optional) Width of the thumbnail image.",
          "type": "integer"
        }
      }
    },
    "Channel": {
      "description": "A *channel* resource contains information about a YouTube channel.",
      "properties": {
        "conversionPings": {
          "$ref": "ChannelConversionPings",
          "description": "The conversionPings object encapsulates information about conversion pings that need to be respected by the channel."
        },
        "topicDetails": {
          "description": "The topicDetails object encapsulates information about Freebase topics associated with the channel.",
          "$ref": "ChannelTopicDetails"
        },
        "localizations": {
          "description": "Localizations for different languages",
          "additionalProperties": {
            "$ref": "ChannelLocalization"
          },
          "type": "object"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#channel\".",
          "default": "youtube#channel",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "id": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the channel."
        },
        "contentDetails": {
          "$ref": "ChannelContentDetails",
          "description": "The contentDetails object encapsulates information about the channel's content."
        },
        "brandingSettings": {
          "description": "The brandingSettings object encapsulates information about the branding of the channel.",
          "$ref": "ChannelBrandingSettings"
        },
        "contentOwnerDetails": {
          "$ref": "ChannelContentOwnerDetails",
          "description": "The contentOwnerDetails object encapsulates channel data that is relevant for YouTube Partners linked with the channel."
        },
        "status": {
          "description": "The status object encapsulates information about the privacy status of the channel.",
          "$ref": "ChannelStatus"
        },
        "snippet": {
          "description": "The snippet object contains basic details about the channel, such as its title, description, and thumbnail images.",
          "$ref": "ChannelSnippet"
        },
        "statistics": {
          "description": "The statistics object encapsulates statistics for the channel.",
          "$ref": "ChannelStatistics"
        },
        "auditDetails": {
          "$ref": "ChannelAuditDetails",
          "description": "The auditionDetails object encapsulates channel data that is relevant for YouTube Partners during the audition process."
        }
      },
      "id": "Channel",
      "type": "object"
    },
    "LiveStreamListResponse": {
      "properties": {
        "pageInfo": {
          "$ref": "PageInfo"
        },
        "prevPageToken": {
          "type": "string",
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set."
        },
        "eventId": {
          "description": "Serialized EventId of the request which produced this response.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "nextPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set.",
          "type": "string"
        },
        "tokenPagination": {
          "$ref": "TokenPagination"
        },
        "visitorId": {
          "type": "string",
          "description": "The visitorId identifies the visitor."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#liveStreamListResponse\".",
          "default": "youtube#liveStreamListResponse",
          "type": "string"
        },
        "items": {
          "type": "array",
          "description": "A list of live streams that match the request criteria.",
          "items": {
            "$ref": "LiveStream"
          }
        }
      },
      "id": "LiveStreamListResponse",
      "type": "object"
    },
    "VideoFileDetails": {
      "properties": {
        "fileName": {
          "type": "string",
          "description": "The uploaded file's name. This field is present whether a video file or another type of file was uploaded."
        },
        "fileSize": {
          "description": "The uploaded file's size in bytes. This field is present whether a video file or another type of file was uploaded.",
          "type": "string",
          "format": "uint64"
        },
        "container": {
          "type": "string",
          "description": "The uploaded video file's container format."
        },
        "durationMs": {
          "format": "uint64",
          "description": "The length of the uploaded video in milliseconds.",
          "type": "string"
        },
        "audioStreams": {
          "description": "A list of audio streams contained in the uploaded video file. Each item in the list contains detailed metadata about an audio stream.",
          "items": {
            "$ref": "VideoFileDetailsAudioStream"
          },
          "type": "array"
        },
        "bitrateBps": {
          "format": "uint64",
          "type": "string",
          "description": "The uploaded video file's combined (video and audio) bitrate in bits per second."
        },
        "creationTime": {
          "type": "string",
          "description": "The date and time when the uploaded video file was created. The value is specified in ISO 8601 format. Currently, the following ISO 8601 formats are supported: - Date only: YYYY-MM-DD - Naive time: YYYY-MM-DDTHH:MM:SS - Time with timezone: YYYY-MM-DDTHH:MM:SS+HH:MM "
        },
        "videoStreams": {
          "description": "A list of video streams contained in the uploaded video file. Each item in the list contains detailed metadata about a video stream.",
          "type": "array",
          "items": {
            "$ref": "VideoFileDetailsVideoStream"
          }
        },
        "fileType": {
          "description": "The uploaded file's type as detected by YouTube's video processing engine. Currently, YouTube only processes video files, but this field is present whether a video file or another type of file was uploaded.",
          "enumDescriptions": [
            "Known video file (e.g., an MP4 file).",
            "Audio only file (e.g., an MP3 file).",
            "Image file (e.g., a JPEG image).",
            "Archive file (e.g., a ZIP archive).",
            "Document or text file (e.g., MS Word document).",
            "Movie project file (e.g., Microsoft Windows Movie Maker project).",
            "Other non-video file type."
          ],
          "type": "string",
          "enum": [
            "video",
            "audio",
            "image",
            "archive",
            "document",
            "project",
            "other"
          ]
        }
      },
      "id": "VideoFileDetails",
      "type": "object",
      "description": "Describes original video file properties, including technical details about audio and video streams, but also metadata information like content length, digitization time, or geotagging information."
    },
    "LiveStreamContentDetails": {
      "properties": {
        "isReusable": {
          "description": "Indicates whether the stream is reusable, which means that it can be bound to multiple broadcasts. It is common for broadcasters to reuse the same stream for many different broadcasts if those broadcasts occur at different times. If you set this value to false, then the stream will not be reusable, which means that it can only be bound to one broadcast. Non-reusable streams differ from reusable streams in the following ways: - A non-reusable stream can only be bound to one broadcast. - A non-reusable stream might be deleted by an automated process after the broadcast ends. - The liveStreams.list method does not list non-reusable streams if you call the method and set the mine parameter to true. The only way to use that method to retrieve the resource for a non-reusable stream is to use the id parameter to identify the stream. ",
          "type": "boolean"
        },
        "closedCaptionsIngestionUrl": {
          "description": "The ingestion URL where the closed captions of this stream are sent.",
          "type": "string"
        }
      },
      "description": "Detailed settings of a stream.",
      "type": "object",
      "id": "LiveStreamContentDetails"
    },
    "PlaylistItem": {
      "id": "PlaylistItem",
      "properties": {
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "kind": {
          "default": "youtube#playlistItem",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#playlistItem\".",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the playlist item."
        },
        "snippet": {
          "description": "The snippet object contains basic details about the playlist item, such as its title and position in the playlist.",
          "$ref": "PlaylistItemSnippet"
        },
        "contentDetails": {
          "$ref": "PlaylistItemContentDetails",
          "description": "The contentDetails object is included in the resource if the included item is a YouTube video. The object contains additional information about the video."
        },
        "status": {
          "$ref": "PlaylistItemStatus",
          "description": "The status object contains information about the playlist item's privacy status."
        }
      },
      "description": "A *playlistItem* resource identifies another resource, such as a video, that is included in a playlist. In addition, the playlistItem resource contains details about the included resource that pertain specifically to how that resource is used in that playlist. YouTube uses playlists to identify special collections of videos for a channel, such as: - uploaded videos - favorite videos - positively rated (liked) videos - watch history - watch later To be more specific, these lists are associated with a channel, which is a collection of a person, group, or company's videos, playlists, and other YouTube information. You can retrieve the playlist IDs for each of these lists from the channel resource for a given channel. You can then use the playlistItems.list method to retrieve any of those lists. You can also add or remove items from those lists by calling the playlistItems.insert and playlistItems.delete methods. For example, if a user gives a positive rating to a video, you would insert that video into the liked videos playlist for that user's channel.",
      "type": "object"
    },
    "Entity": {
      "id": "Entity",
      "properties": {
        "url": {
          "type": "string"
        },
        "typeId": {
          "type": "string"
        },
        "id": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "MemberSnippet": {
      "properties": {
        "membershipsDetails": {
          "description": "Details about the user's membership.",
          "$ref": "MembershipsDetails"
        },
        "memberDetails": {
          "description": "Details about the member.",
          "$ref": "ChannelProfileDetails"
        },
        "creatorChannelId": {
          "description": "The id of the channel that's offering memberships.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "MemberSnippet"
    },
    "ChannelSection": {
      "properties": {
        "targeting": {
          "$ref": "ChannelSectionTargeting",
          "description": "The targeting object contains basic targeting settings about the channel section."
        },
        "contentDetails": {
          "description": "The contentDetails object contains details about the channel section content, such as a list of playlists or channels featured in the section.",
          "$ref": "ChannelSectionContentDetails"
        },
        "snippet": {
          "$ref": "ChannelSectionSnippet",
          "description": "The snippet object contains basic details about the channel section, such as its type, style and title."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#channelSection\".",
          "default": "youtube#channelSection",
          "type": "string"
        },
        "localizations": {
          "type": "object",
          "additionalProperties": {
            "$ref": "ChannelSectionLocalization"
          },
          "description": "Localizations for different languages"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the channel section."
        }
      },
      "id": "ChannelSection",
      "type": "object"
    },
    "LiveStreamConfigurationIssue": {
      "properties": {
        "reason": {
          "description": "The short-form reason for this issue.",
          "type": "string"
        },
        "type": {
          "description": "The kind of error happening.",
          "type": "string",
          "enum": [
            "gopSizeOver",
            "gopSizeLong",
            "gopSizeShort",
            "openGop",
            "badContainer",
            "audioBitrateHigh",
            "audioBitrateLow",
            "audioSampleRate",
            "bitrateHigh",
            "bitrateLow",
            "audioCodec",
            "videoCodec",
            "noAudioStream",
            "noVideoStream",
            "multipleVideoStreams",
            "multipleAudioStreams",
            "audioTooManyChannels",
            "interlacedVideo",
            "frameRateHigh",
            "resolutionMismatch",
            "videoCodecMismatch",
            "videoInterlaceMismatch",
            "videoProfileMismatch",
            "videoBitrateMismatch",
            "framerateMismatch",
            "gopMismatch",
            "audioSampleRateMismatch",
            "audioStereoMismatch",
            "audioCodecMismatch",
            "audioBitrateMismatch",
            "videoResolutionSuboptimal",
            "videoResolutionUnsupported",
            "videoIngestionStarved",
            "videoIngestionFasterThanRealtime"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "severity": {
          "description": "How severe this issue is to the stream.",
          "type": "string",
          "enum": [
            "info",
            "warning",
            "error"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "description": {
          "type": "string",
          "description": "The long-form description of the issue and how to resolve it."
        }
      },
      "id": "LiveStreamConfigurationIssue",
      "type": "object"
    },
    "PlaylistLocalization": {
      "properties": {
        "description": {
          "description": "The localized strings for playlist's description.",
          "type": "string"
        },
        "title": {
          "description": "The localized strings for playlist's title.",
          "type": "string"
        }
      },
      "id": "PlaylistLocalization",
      "type": "object",
      "description": "Playlist localization setting"
    },
    "CommentThreadSnippet": {
      "properties": {
        "canReply": {
          "type": "boolean",
          "description": "Whether the current viewer of the thread can reply to it. This is viewer specific - other viewers may see a different value for this field."
        },
        "totalReplyCount": {
          "description": "The total number of replies (not including the top level comment).",
          "type": "integer",
          "format": "uint32"
        },
        "topLevelComment": {
          "description": "The top level comment of this thread.",
          "$ref": "Comment"
        },
        "videoId": {
          "type": "string",
          "description": "The ID of the video the comments refer to, if any. No video_id implies a channel discussion comment."
        },
        "channelId": {
          "description": "The YouTube channel the comments in the thread refer to or the channel with the video the comments refer to. If video_id isn't set the comments refer to the channel itself.",
          "type": "string"
        },
        "isPublic": {
          "type": "boolean",
          "description": "Whether the thread (and therefore all its comments) is visible to all YouTube users."
        }
      },
      "id": "CommentThreadSnippet",
      "description": "Basic details about a comment thread.",
      "type": "object"
    },
    "VideoCategoryListResponse": {
      "type": "object",
      "id": "VideoCategoryListResponse",
      "properties": {
        "eventId": {
          "type": "string",
          "description": "Serialized EventId of the request which produced this response."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set."
        },
        "prevPageToken": {
          "type": "string",
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#videoCategoryListResponse\".",
          "default": "youtube#videoCategoryListResponse",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "pageInfo": {
          "$ref": "PageInfo",
          "description": "General pagination information."
        },
        "tokenPagination": {
          "$ref": "TokenPagination"
        },
        "visitorId": {
          "type": "string",
          "description": "The visitorId identifies the visitor."
        },
        "items": {
[...]
