{
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "baseUrl": "https://www.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "name": "youtube",
  "protocol": "rest",
  "servicePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/youtube.upload": {
          "description": "Manage your YouTube videos"
        },
        "https://www.googleapis.com/auth/youtubepartner": {
          "description": "View and manage your assets and associated content on YouTube"
        },
        "https://www.googleapis.com/auth/youtube.readonly": {
          "description": "View your YouTube account"
        },
        "https://www.googleapis.com/auth/youtubepartner-channel-audit": {
          "description": "View private information of your YouTube channel relevant during the audit process with a YouTube partner"
        },
        "https://www.googleapis.com/auth/youtube.force-ssl": {
          "description": "See, edit, and permanently delete your YouTube videos, ratings, comments and captions"
        },
        "https://www.googleapis.com/auth/youtube": {
          "description": "Manage your YouTube account"
        },
        "https://www.googleapis.com/auth/youtube.channel-memberships.creator": {
          "description": "See a list of your current active channel members, their current level, and when they became a member"
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "canonicalName": "YouTube",
  "version": "v3",
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://www.mtls.googleapis.com/",
  "ownerName": "Google",
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "type": "string",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    }
  },
  "batchPath": "batch/youtube/v3",
  "id": "youtube:v3",
  "documentationLink": "https://developers.google.com/youtube/",
  "kind": "discovery#restDescription",
  "resources": {
    "playlistItems": {
      "methods": {
        "list": {
          "description": "Retrieves a list of resources, possibly filtered.",
          "response": {
            "$ref": "PlaylistItemListResponse"
          },
          "httpMethod": "GET",
          "flatPath": "youtube/v3/playlistItems",
          "parameters": {
            "onBehalfOfContentOwner": {
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query"
            },
            "part": {
              "required": true,
              "description": "The *part* parameter specifies a comma-separated list of one or more playlistItem resource properties that the API response will include. If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in a playlistItem resource, the snippet property contains numerous fields, including the title, description, position, and resourceId properties. As such, if you set *part=snippet*, the API response will contain all of those properties.",
              "type": "string",
              "repeated": true,
              "location": "query"
            },
            "id": {
              "type": "string",
              "location": "query",
              "repeated": true
            },
            "playlistId": {
              "type": "string",
              "description": "Return the playlist items within the given playlist.",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "location": "query"
            },
            "videoId": {
              "type": "string",
              "location": "query",
              "description": "Return the playlist items associated with the given video ID."
            },
            "maxResults": {
              "type": "integer",
              "location": "query",
              "default": "5",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "format": "uint32"
            }
          },
          "parameterOrder": [
            "part"
          ],
          "path": "youtube/v3/playlistItems",
          "id": "youtube.playlistItems.list",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        },
        "insert": {
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "path": "youtube/v3/playlistItems",
          "parameterOrder": [
            "part"
          ],
          "description": "Inserts a new resource into this collection.",
          "parameters": {
            "onBehalfOfContentOwner": {
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string"
            },
            "part": {
              "type": "string",
              "location": "query",
              "required": true,
              "repeated": true,
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include."
            }
          },
          "response": {
            "$ref": "PlaylistItem"
          },
          "id": "youtube.playlistItems.insert",
          "flatPath": "youtube/v3/playlistItems",
          "request": {
            "$ref": "PlaylistItem"
          }
        },
        "delete": {
          "parameterOrder": [
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "path": "youtube/v3/playlistItems",
          "id": "youtube.playlistItems.delete",
          "parameters": {
            "onBehalfOfContentOwner": {
              "location": "query",
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            },
            "id": {
              "location": "query",
              "type": "string",
              "required": true
            }
          },
          "description": "Deletes a resource.",
          "httpMethod": "DELETE",
          "flatPath": "youtube/v3/playlistItems"
        },
        "update": {
          "path": "youtube/v3/playlistItems",
          "request": {
            "$ref": "PlaylistItem"
          },
          "description": "Updates an existing resource.",
          "id": "youtube.playlistItems.update",
          "httpMethod": "PUT",
          "response": {
            "$ref": "PlaylistItem"
          },
          "parameterOrder": [
            "part"
          ],
          "flatPath": "youtube/v3/playlistItems",
          "parameters": {
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string",
              "location": "query"
            },
            "part": {
              "location": "query",
              "type": "string",
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. Note that this method will override the existing values for all of the mutable properties that are contained in any parts that the parameter value specifies. For example, a playlist item can specify a start time and end time, which identify the times portion of the video that should play when users watch the video in the playlist. If your request is updating a playlist item that sets these values, and the request's part parameter value includes the contentDetails part, the playlist item's start and end times will be updated to whatever value the request body specifies. If the request body does not specify values, the existing start and end times will be removed and replaced with the default settings.",
              "required": true,
              "repeated": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        }
      }
    },
    "playlists": {
      "methods": {
        "insert": {
          "httpMethod": "POST",
          "description": "Inserts a new resource into this collection.",
          "flatPath": "youtube/v3/playlists",
          "parameterOrder": [
            "part"
          ],
          "parameters": {
            "part": {
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include.",
              "repeated": true,
              "required": true,
              "location": "query",
              "type": "string"
            },
            "onBehalfOfContentOwnerChannel": {
              "location": "query",
              "type": "string",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel."
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "youtube/v3/playlists",
          "id": "youtube.playlists.insert",
          "response": {
            "$ref": "Playlist"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "request": {
            "$ref": "Playlist"
          }
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameterOrder": [
            "part"
          ],
          "id": "youtube.playlists.list",
          "parameters": {
            "part": {
              "location": "query",
              "required": true,
              "type": "string",
              "description": "The *part* parameter specifies a comma-separated list of one or more playlist resource properties that the API response will include. If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in a playlist resource, the snippet property contains properties like author, title, description, tags, and timeCreated. As such, if you set *part=snippet*, the API response will contain all of those properties.",
              "repeated": true
            },
            "pageToken": {
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "type": "string",
              "location": "query"
            },
            "onBehalfOfContentOwnerChannel": {
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "type": "string",
              "location": "query"
            },
            "hl": {
              "description": "Returen content in specified language",
              "location": "query",
              "type": "string"
            },
            "channelId": {
              "description": "Return the playlists owned by the specified channel ID.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "default": "5",
              "type": "integer",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "format": "uint32",
              "location": "query"
            },
            "id": {
              "description": "Return the playlists with the given IDs for Stubby or Apiary.",
              "location": "query",
              "repeated": true,
              "type": "string"
            },
            "mine": {
              "location": "query",
              "description": "Return the playlists owned by the authenticated user.",
              "type": "boolean"
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            }
          },
          "description": "Retrieves a list of resources, possibly filtered.",
          "flatPath": "youtube/v3/playlists",
          "path": "youtube/v3/playlists",
          "httpMethod": "GET",
          "response": {
            "$ref": "PlaylistListResponse"
          }
        },
        "delete": {
          "description": "Deletes a resource.",
          "parameters": {
            "id": {
              "location": "query",
              "required": true,
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "id": "youtube.playlists.delete",
          "parameterOrder": [
            "id"
          ],
          "flatPath": "youtube/v3/playlists",
          "httpMethod": "DELETE",
          "path": "youtube/v3/playlists"
        },
        "update": {
          "parameterOrder": [
            "part"
          ],
          "httpMethod": "PUT",
          "request": {
            "$ref": "Playlist"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "description": "Updates an existing resource.",
          "path": "youtube/v3/playlists",
          "parameters": {
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "part": {
              "required": true,
              "repeated": true,
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. Note that this method will override the existing values for mutable properties that are contained in any parts that the request body specifies. For example, a playlist's description is contained in the snippet part, which must be included in the request body. If the request does not specify a value for the snippet.description property, the playlist's existing description will be deleted.",
              "location": "query",
              "type": "string"
            }
          },
          "flatPath": "youtube/v3/playlists",
          "id": "youtube.playlists.update",
          "response": {
            "$ref": "Playlist"
          }
        }
      }
    },
    "thirdPartyLinks": {
      "methods": {
        "update": {
          "path": "youtube/v3/thirdPartyLinks",
          "flatPath": "youtube/v3/thirdPartyLinks",
          "parameters": {
            "part": {
              "type": "string",
              "location": "query",
              "required": true,
              "description": "The *part* parameter specifies the thirdPartyLink resource parts that the API request and response will include. Supported values are linkingToken, status, and snippet.",
              "repeated": true
            }
          },
          "request": {
            "$ref": "ThirdPartyLink"
          },
          "description": "Updates an existing resource.",
          "parameterOrder": [
            "part"
          ],
          "httpMethod": "PUT",
          "response": {
            "$ref": "ThirdPartyLink"
          },
          "id": "youtube.thirdPartyLinks.update"
        },
        "delete": {
          "httpMethod": "DELETE",
          "path": "youtube/v3/thirdPartyLinks",
          "parameterOrder": [
            "linkingToken",
            "type"
          ],
          "description": "Deletes a resource.",
          "flatPath": "youtube/v3/thirdPartyLinks",
          "id": "youtube.thirdPartyLinks.delete",
          "parameters": {
            "part": {
              "type": "string",
              "description": "Do not use. Required for compatibility.",
              "location": "query",
              "repeated": true
            },
            "type": {
              "description": "Type of the link to be deleted.",
              "required": true,
              "type": "string",
              "location": "query",
              "enum": [
                "linkUnspecified",
                "channelToStoreLink"
              ],
              "enumDescriptions": [
                "",
                "A link that is connecting (or about to connect) a channel with a store on a merchandising platform in order to enable retail commerce capabilities for that channel on YouTube."
              ]
            },
            "linkingToken": {
              "location": "query",
              "description": "Delete the partner links with the given linking token.",
              "type": "string",
              "required": true
            }
          }
        },
        "list": {
          "id": "youtube.thirdPartyLinks.list",
          "path": "youtube/v3/thirdPartyLinks",
          "flatPath": "youtube/v3/thirdPartyLinks",
          "description": "Retrieves a list of resources, possibly filtered.",
          "parameters": {
            "linkingToken": {
              "location": "query",
              "description": "Get a third party link with the given linking token.",
              "type": "string"
            },
            "part": {
              "location": "query",
              "description": "The *part* parameter specifies the thirdPartyLink resource parts that the API response will include. Supported values are linkingToken, status, and snippet.",
              "repeated": true,
              "required": true,
              "type": "string"
            },
            "type": {
              "enum": [
                "linkUnspecified",
                "channelToStoreLink"
              ],
              "description": "Get a third party link of the given type.",
              "enumDescriptions": [
                "",
                "A link that is connecting (or about to connect) a channel with a store on a merchandising platform in order to enable retail commerce capabilities for that channel on YouTube."
              ],
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [
            "part"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "ThirdPartyLink"
          }
        },
        "insert": {
          "description": "Inserts a new resource into this collection.",
          "parameters": {
            "part": {
              "location": "query",
              "description": "The *part* parameter specifies the thirdPartyLink resource parts that the API request and response will include. Supported values are linkingToken, status, and snippet.",
              "type": "string",
              "required": true,
              "repeated": true
            }
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "ThirdPartyLink"
          },
          "response": {
            "$ref": "ThirdPartyLink"
          },
          "flatPath": "youtube/v3/thirdPartyLinks",
          "path": "youtube/v3/thirdPartyLinks",
          "parameterOrder": [
            "part"
          ],
          "id": "youtube.thirdPartyLinks.insert"
        }
      }
    },
    "tests": {
      "methods": {
        "insert": {
          "flatPath": "youtube/v3/tests",
          "parameterOrder": [
            "part"
          ],
          "parameters": {
            "part": {
              "type": "string",
              "required": true,
              "location": "query",
              "repeated": true
            }
          },
          "id": "youtube.tests.insert",
          "description": "POST method.",
          "path": "youtube/v3/tests",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.readonly"
          ],
          "response": {
            "$ref": "TestItem"
          },
          "request": {
            "$ref": "TestItem"
          },
          "httpMethod": "POST"
        }
      }
    },
    "channels": {
      "methods": {
        "list": {
          "description": "Retrieves a list of resources, possibly filtered.",
          "parameters": {
            "managedByMe": {
              "type": "boolean",
              "location": "query",
              "description": "Return the channels managed by the authenticated user."
            },
            "hl": {
              "location": "query",
              "description": "Stands for \"host language\". Specifies the localization language of the metadata to be filled into snippet.localized. The field is filled with the default metadata if there is no localization in the specified language. The parameter value must be a language code included in the list returned by the i18nLanguages.list method (e.g. en_US, es_MX).",
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string"
            },
            "mine": {
              "description": "Return the ids of channels owned by the authenticated user.",
              "location": "query",
              "type": "boolean"
            },
            "part": {
              "location": "query",
              "description": "The *part* parameter specifies a comma-separated list of one or more channel resource properties that the API response will include. If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in a channel resource, the contentDetails property contains other properties, such as the uploads properties. As such, if you set *part=contentDetails*, the API response will also contain all of those nested properties.",
              "repeated": true,
              "required": true,
              "type": "string"
            },
            "categoryId": {
              "type": "string",
              "description": "Return the channels within the specified guide category ID.",
              "location": "query"
            },
            "pageToken": {
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "type": "string",
              "location": "query"
            },
            "forUsername": {
              "location": "query",
              "type": "string",
              "description": "Return the channel associated with a YouTube username."
            },
            "id": {
              "description": "Return the channels with the specified IDs.",
              "type": "string",
              "repeated": true,
              "location": "query"
            },
            "maxResults": {
              "default": "5",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "type": "integer",
              "location": "query",
              "format": "uint32"
            },
            "mySubscribers": {
              "description": "Return the channels subscribed to the authenticated user",
              "type": "boolean",
              "location": "query"
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "part"
          ],
          "flatPath": "youtube/v3/channels",
          "path": "youtube/v3/channels",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner",
            "https://www.googleapis.com/auth/youtubepartner-channel-audit"
          ],
          "id": "youtube.channels.list",
          "response": {
            "$ref": "ChannelListResponse"
          }
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "flatPath": "youtube/v3/channels",
          "httpMethod": "PUT",
          "description": "Updates an existing resource.",
          "path": "youtube/v3/channels",
          "id": "youtube.channels.update",
          "parameterOrder": [
            "part"
          ],
          "parameters": {
            "onBehalfOfContentOwner": {
              "location": "query",
              "description": "The *onBehalfOfContentOwner* parameter indicates that the authenticated user is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with needs to be linked to the specified YouTube content owner.",
              "type": "string"
            },
            "part": {
              "location": "query",
              "type": "string",
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. The API currently only allows the parameter value to be set to either brandingSettings or invideoPromotion. (You cannot update both of those parts with a single request.) Note that this method overrides the existing values for all of the mutable properties that are contained in any parts that the parameter value specifies.",
              "repeated": true,
              "required": true
            }
          },
          "request": {
            "$ref": "Channel"
          },
          "response": {
            "$ref": "Channel"
          }
        }
      }
    },
    "i18nRegions": {
      "methods": {
        "list": {
          "parameters": {
            "part": {
              "location": "query",
              "description": "The *part* parameter specifies the i18nRegion resource properties that the API response will include. Set the parameter value to snippet.",
              "required": true,
              "type": "string",
              "repeated": true
            },
            "hl": {
              "default": "en_US",
              "location": "query",
              "type": "string"
            }
          },
          "response": {
            "$ref": "I18nRegionListResponse"
          },
          "parameterOrder": [
            "part"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "path": "youtube/v3/i18nRegions",
          "id": "youtube.i18nRegions.list",
          "httpMethod": "GET",
          "flatPath": "youtube/v3/i18nRegions",
          "description": "Retrieves a list of resources, possibly filtered."
        }
      }
    },
    "videoCategories": {
      "methods": {
        "list": {
          "flatPath": "youtube/v3/videoCategories",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "response": {
            "$ref": "VideoCategoryListResponse"
          },
          "id": "youtube.videoCategories.list",
          "parameterOrder": [
            "part"
          ],
          "httpMethod": "GET",
          "path": "youtube/v3/videoCategories",
          "description": "Retrieves a list of resources, possibly filtered.",
          "parameters": {
            "part": {
              "location": "query",
              "required": true,
              "repeated": true,
              "type": "string",
              "description": "The *part* parameter specifies the videoCategory resource properties that the API response will include. Set the parameter value to snippet."
            },
            "hl": {
              "location": "query",
              "default": "en-US",
              "type": "string"
            },
            "id": {
              "description": "Returns the video categories with the given IDs for Stubby or Apiary.",
              "type": "string",
              "repeated": true,
              "location": "query"
            },
            "regionCode": {
              "location": "query",
              "type": "string"
            }
          }
        }
      }
    },
    "activities": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly"
          ],
          "flatPath": "youtube/v3/activities",
          "path": "youtube/v3/activities",
          "description": "Retrieves a list of resources, possibly filtered.",
          "parameters": {
            "home": {
              "location": "query",
              "type": "boolean"
            },
            "part": {
              "location": "query",
              "type": "string",
              "repeated": true,
              "required": true,
              "description": "The *part* parameter specifies a comma-separated list of one or more activity resource properties that the API response will include. If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in an activity resource, the snippet property contains other properties that identify the type of activity, a display title for the activity, and so forth. If you set *part=snippet*, the API response will also contain all of those nested properties."
            },
            "pageToken": {
              "location": "query",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "type": "string"
            },
            "maxResults": {
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "format": "uint32",
              "location": "query",
              "default": "5",
              "type": "integer"
            },
            "mine": {
              "location": "query",
              "type": "boolean"
            },
            "publishedAfter": {
              "type": "string",
              "location": "query",
              "format": "google-datetime"
            },
            "regionCode": {
              "type": "string",
              "location": "query"
            },
            "channelId": {
              "type": "string",
              "location": "query"
            },
            "publishedBefore": {
              "type": "string",
              "location": "query",
              "format": "google-datetime"
            }
          },
          "response": {
            "$ref": "ActivityListResponse"
          },
          "id": "youtube.activities.list",
          "parameterOrder": [
            "part"
          ],
          "httpMethod": "GET"
        }
      }
    },
    "videoAbuseReportReasons": {
      "methods": {
        "list": {
          "parameterOrder": [
            "part"
          ],
          "httpMethod": "GET",
          "parameters": {
            "hl": {
              "default": "en_US",
              "location": "query",
              "type": "string"
            },
            "part": {
              "description": "The *part* parameter specifies the videoCategory resource parts that the API response will include. Supported values are id and snippet.",
              "repeated": true,
              "location": "query",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "youtube/v3/videoAbuseReportReasons",
          "response": {
            "$ref": "VideoAbuseReportReasonListResponse"
          },
          "path": "youtube/v3/videoAbuseReportReasons",
          "description": "Retrieves a list of resources, possibly filtered.",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly"
          ],
          "id": "youtube.videoAbuseReportReasons.list"
        }
      }
    },
    "watermarks": {
      "methods": {
        "unset": {
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameters": {
            "channelId": {
              "required": true,
              "type": "string",
              "location": "query"
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            }
          },
          "id": "youtube.watermarks.unset",
          "parameterOrder": [
            "channelId"
          ],
          "httpMethod": "POST",
          "description": "Allows removal of channel watermark.",
          "flatPath": "youtube/v3/watermarks/unset",
          "path": "youtube/v3/watermarks/unset"
        },
        "set": {
          "path": "youtube/v3/watermarks/set",
          "parameterOrder": [
            "channelId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.upload",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "description": "Allows upload of watermark image and setting it for a channel.",
          "supportsMediaUpload": true,
          "request": {
            "$ref": "InvideoBranding"
          },
          "parameters": {
            "channelId": {
              "type": "string",
              "location": "query",
              "required": true
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query"
            }
          },
          "mediaUpload": {
            "accept": [
              "image/jpeg",
              "image/png",
              "application/octet-stream"
            ],
            "protocols": {
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/youtube/v3/watermarks/set"
              },
              "simple": {
                "multipart": true,
                "path": "/upload/youtube/v3/watermarks/set"
              }
            },
            "maxSize": "10485760"
          },
          "flatPath": "youtube/v3/watermarks/set",
          "id": "youtube.watermarks.set",
          "httpMethod": "POST"
        }
      }
    },
    "abuseReports": {
      "methods": {
        "insert": {
          "request": {
            "$ref": "AbuseReport"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "path": "youtube/v3/abuseReports",
          "description": "Inserts a new resource into this collection.",
          "id": "youtube.abuseReports.insert",
          "parameters": {
            "part": {
              "location": "query",
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include.",
              "required": true,
              "repeated": true,
              "type": "string"
            }
          },
          "flatPath": "youtube/v3/abuseReports",
          "response": {
            "$ref": "AbuseReport"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "part"
          ]
        }
      }
    },
    "liveStreams": {
      "methods": {
        "delete": {
          "parameterOrder": [
            "id"
          ],
          "path": "youtube/v3/liveStreams",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "parameters": {
            "onBehalfOfContentOwnerChannel": {
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "location": "query",
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string",
              "location": "query"
            },
            "id": {
              "location": "query",
              "type": "string",
              "required": true
            }
          },
          "flatPath": "youtube/v3/liveStreams",
          "id": "youtube.liveStreams.delete",
          "description": "Deletes an existing stream for the authenticated user."
        },
        "list": {
          "httpMethod": "GET",
          "parameters": {
            "id": {
              "type": "string",
              "location": "query",
              "description": "Return LiveStreams with the given ids from Stubby or Apiary.",
              "repeated": true
            },
            "pageToken": {
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "location": "query",
              "type": "string"
            },
            "onBehalfOfContentOwnerChannel": {
              "type": "string",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "location": "query"
            },
            "maxResults": {
              "default": "5",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "location": "query",
              "type": "integer",
              "format": "uint32"
            },
            "mine": {
              "location": "query",
              "type": "boolean"
            },
            "part": {
              "repeated": true,
              "type": "string",
              "location": "query",
              "required": true,
              "description": "The *part* parameter specifies a comma-separated list of one or more liveStream resource properties that the API response will include. The part names that you can include in the parameter value are id, snippet, cdn, and status."
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            }
          },
          "path": "youtube/v3/liveStreams",
          "id": "youtube.liveStreams.list",
          "response": {
            "$ref": "LiveStreamListResponse"
          },
          "flatPath": "youtube/v3/liveStreams",
          "parameterOrder": [
            "part"
          ],
          "description": "Retrieve the list of streams associated with the given channel. --",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly"
          ]
        },
        "update": {
          "response": {
            "$ref": "LiveStream"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "path": "youtube/v3/liveStreams",
          "parameters": {
            "part": {
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. The part properties that you can include in the parameter value are id, snippet, cdn, and status. Note that this method will override the existing values for all of the mutable properties that are contained in any parts that the parameter value specifies. If the request body does not specify a value for a mutable property, the existing value for that property will be removed.",
              "location": "query",
              "type": "string",
              "repeated": true,
              "required": true
            },
            "onBehalfOfContentOwnerChannel": {
              "location": "query",
              "type": "string",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel."
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            }
          },
          "description": "Updates an existing stream for the authenticated user.",
          "id": "youtube.liveStreams.update",
          "request": {
            "$ref": "LiveStream"
          },
          "httpMethod": "PUT",
          "flatPath": "youtube/v3/liveStreams",
          "parameterOrder": [
            "part"
          ]
        },
        "insert": {
          "response": {
            "$ref": "LiveStream"
          },
          "id": "youtube.liveStreams.insert",
          "path": "youtube/v3/liveStreams",
          "parameterOrder": [
            "part"
          ],
          "httpMethod": "POST",
          "flatPath": "youtube/v3/liveStreams",
          "request": {
            "$ref": "LiveStream"
          },
          "parameters": {
            "onBehalfOfContentOwner": {
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string"
            },
            "part": {
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. The part properties that you can include in the parameter value are id, snippet, cdn, and status.",
              "repeated": true,
              "required": true,
              "type": "string",
              "location": "query"
            },
            "onBehalfOfContentOwnerChannel": {
              "location": "query",
              "type": "string",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel."
            }
          },
          "description": "Inserts a new stream for the authenticated user.",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ]
        }
      }
    },
    "comments": {
      "methods": {
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "id": "youtube.comments.update",
          "response": {
            "$ref": "Comment"
          },
          "request": {
            "$ref": "Comment"
          },
          "description": "Updates an existing resource.",
          "parameterOrder": [
            "part"
          ],
          "httpMethod": "PUT",
          "parameters": {
            "part": {
              "location": "query",
              "type": "string",
              "description": "The *part* parameter identifies the properties that the API response will include. You must at least include the snippet part in the parameter value since that part contains all of the properties that the API request can update.",
              "repeated": true,
              "required": true
            }
          },
          "flatPath": "youtube/v3/comments",
          "path": "youtube/v3/comments"
        },
        "delete": {
          "httpMethod": "DELETE",
          "id": "youtube.comments.delete",
          "parameterOrder": [
            "id"
          ],
          "flatPath": "youtube/v3/comments",
          "description": "Deletes a resource.",
          "parameters": {
            "id": {
              "type": "string",
              "location": "query",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "path": "youtube/v3/comments"
        },
        "markAsSpam": {
          "path": "youtube/v3/comments/markAsSpam",
          "description": "Expresses the caller's opinion that one or more comments should be flagged as spam.",
          "parameters": {
            "id": {
              "description": "Flags the comments with the given IDs as spam in the caller's opinion.",
              "repeated": true,
              "type": "string",
              "location": "query",
              "required": true
            }
          },
          "flatPath": "youtube/v3/comments/markAsSpam",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "id": "youtube.comments.markAsSpam",
          "httpMethod": "POST",
          "parameterOrder": [
            "id"
          ]
        },
        "list": {
          "path": "youtube/v3/comments",
          "httpMethod": "GET",
          "parameters": {
            "id": {
              "repeated": true,
              "location": "query",
              "type": "string",
              "description": "Returns the comments with the given IDs for One Platform."
            },
            "textFormat": {
              "enum": [
                "textFormatUnspecified",
                "html",
                "plainText"
              ],
              "type": "string",
              "description": "The requested text format for the returned comments.",
              "enumDescriptions": [
                "",
                "Returns the comments in HTML format. This is the default value.",
                "Returns the comments in plain text format."
              ],
              "location": "query",
              "default": "html"
            },
            "part": {
              "location": "query",
              "description": "The *part* parameter specifies a comma-separated list of one or more comment resource properties that the API response will include.",
              "type": "string",
              "required": true,
              "repeated": true
            },
            "maxResults": {
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "default": "20",
              "type": "integer",
              "format": "uint32",
              "location": "query"
            },
            "parentId": {
              "description": "Returns replies to the specified comment. Note, currently YouTube features only one level of replies (ie replies to top level comments). However replies to replies may be supported in the future.",
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "location": "query",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "response": {
            "$ref": "CommentListResponse"
          },
          "id": "youtube.comments.list",
          "flatPath": "youtube/v3/comments",
          "description": "Retrieves a list of resources, possibly filtered.",
          "parameterOrder": [
            "part"
          ]
        },
        "setModerationStatus": {
          "description": "Sets the moderation status of one or more comments.",
          "parameters": {
            "moderationStatus": {
              "required": true,
              "enumDescriptions": [
                "The comment is available for public display.",
                "The comment is awaiting review by a moderator.",
                "",
                "The comment is unfit for display."
              ],
              "type": "string",
              "enum": [
                "published",
                "heldForReview",
                "likelySpam",
                "rejected"
              ],
              "location": "query",
              "description": "Specifies the requested moderation status. Note, comments can be in statuses, which are not available through this call. For example, this call does not allow to mark a comment as 'likely spam'. Valid values: MODERATION_STATUS_PUBLISHED, MODERATION_STATUS_HELD_FOR_REVIEW, MODERATION_STATUS_REJECTED."
            },
            "id": {
              "repeated": true,
              "type": "string",
              "description": "Modifies the moderation status of the comments with the given IDs",
              "location": "query",
              "required": true
            },
            "banAuthor": {
              "location": "query",
              "type": "boolean",
              "description": "If set to true the author of the comment gets added to the ban list. This means all future comments of the author will autmomatically be rejected. Only valid in combination with STATUS_REJECTED.",
              "default": "false"
            }
          },
          "parameterOrder": [
            "id",
            "moderationStatus"
          ],
          "path": "youtube/v3/comments/setModerationStatus",
          "id": "youtube.comments.setModerationStatus",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "flatPath": "youtube/v3/comments/setModerationStatus",
          "httpMethod": "POST"
        },
        "insert": {
          "flatPath": "youtube/v3/comments",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "parameterOrder": [
            "part"
          ],
          "httpMethod": "POST",
          "path": "youtube/v3/comments",
          "response": {
            "$ref": "Comment"
          },
          "parameters": {
            "part": {
              "location": "query",
              "repeated": true,
              "description": "The *part* parameter identifies the properties that the API response will include. Set the parameter value to snippet. The snippet part has a quota cost of 2 units.",
              "type": "string",
              "required": true
            }
          },
          "id": "youtube.comments.insert",
          "description": "Inserts a new resource into this collection.",
          "request": {
            "$ref": "Comment"
          }
        }
      }
    },
    "subscriptions": {
      "methods": {
        "insert": {
          "response": {
            "$ref": "Subscription"
          },
          "id": "youtube.subscriptions.insert",
          "parameters": {
            "part": {
              "type": "string",
              "required": true,
              "repeated": true,
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include.",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "path": "youtube/v3/subscriptions",
          "httpMethod": "POST",
          "request": {
            "$ref": "Subscription"
          },
          "parameterOrder": [
            "part"
          ],
          "flatPath": "youtube/v3/subscriptions",
          "description": "Inserts a new resource into this collection."
        },
        "delete": {
          "id": "youtube.subscriptions.delete",
          "description": "Deletes a resource.",
          "httpMethod": "DELETE",
          "flatPath": "youtube/v3/subscriptions",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameterOrder": [
            "id"
          ],
          "path": "youtube/v3/subscriptions",
          "parameters": {
            "id": {
              "required": true,
              "location": "query",
              "type": "string"
            }
          }
        },
        "list": {
          "parameterOrder": [
            "part"
          ],
          "id": "youtube.subscriptions.list",
          "parameters": {
            "channelId": {
              "description": "Return the subscriptions of the given channel owner.",
              "type": "string",
              "location": "query"
            },
            "myRecentSubscribers": {
              "location": "query",
              "type": "boolean"
            },
            "order": {
              "enumDescriptions": [
                "",
                "Sort by relevance.",
                "Sort by order of activity.",
                "Sort alphabetically."
              ],
              "description": "The order of the returned subscriptions",
              "location": "query",
              "enum": [
                "subscriptionOrderUnspecified",
                "relevance",
                "unread",
                "alphabetical"
              ],
              "type": "string",
              "default": "relevance"
            },
            "onBehalfOfContentOwnerChannel": {
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "type": "string",
              "location": "query"
            },
            "part": {
              "required": true,
              "description": "The *part* parameter specifies a comma-separated list of one or more subscription resource properties that the API response will include. If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in a subscription resource, the snippet property contains other properties, such as a display title for the subscription. If you set *part=snippet*, the API response will also contain all of those nested properties.",
              "type": "string",
              "repeated": true,
              "location": "query"
            },
            "forChannelId": {
              "description": "Return the subscriptions to the subset of these channels that the authenticated user is subscribed to.",
              "type": "string",
              "location": "query"
            },
            "mine": {
              "type": "boolean",
              "location": "query",
              "description": "Flag for returning the subscriptions of the authenticated user."
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query"
            },
            "mySubscribers": {
              "type": "boolean",
              "location": "query",
              "description": "Return the subscribers of the given channel owner."
            },
            "pageToken": {
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "type": "string",
              "location": "query"
            },
            "id": {
              "type": "string",
              "location": "query",
              "repeated": true,
              "description": "Return the subscriptions with the given IDs for Stubby or Apiary."
            },
            "maxResults": {
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "type": "integer",
              "location": "query",
              "format": "uint32",
              "default": "5"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "flatPath": "youtube/v3/subscriptions",
          "description": "Retrieves a list of resources, possibly filtered.",
          "response": {
            "$ref": "SubscriptionListResponse"
          },
          "path": "youtube/v3/subscriptions",
          "httpMethod": "GET"
        }
      }
    },
    "liveChatMessages": {
      "methods": {
        "list": {
          "flatPath": "youtube/v3/liveChat/messages",
          "httpMethod": "GET",
          "parameterOrder": [
            "liveChatId",
            "part"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly"
          ],
          "parameters": {
            "part": {
              "required": true,
              "location": "query",
              "repeated": true,
              "description": "The *part* parameter specifies the liveChatComment resource parts that the API response will include. Supported values are id and snippet.",
              "type": "string"
            },
            "maxResults": {
              "location": "query",
              "type": "integer",
              "format": "uint32",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "default": "500"
            },
            "pageToken": {
              "type": "string",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken property identify other pages that could be retrieved.",
              "location": "query"
            },
            "liveChatId": {
              "description": "The id of the live chat for which comments should be returned.",
              "type": "string",
              "required": true,
              "location": "query"
            },
            "profileImageSize": {
              "format": "uint32",
              "description": "Specifies the size of the profile image that should be returned for each user.",
              "type": "integer",
              "location": "query"
            },
            "hl": {
              "description": "Specifies the localization language in which the system messages should be returned.",
              "type": "string",
              "location": "query"
            }
          },
          "id": "youtube.liveChatMessages.list",
          "path": "youtube/v3/liveChat/messages",
          "description": "Retrieves a list of resources, possibly filtered.",
          "response": {
            "$ref": "LiveChatMessageListResponse"
          }
        },
        "delete": {
          "httpMethod": "DELETE",
          "parameters": {
            "id": {
              "required": true,
              "location": "query",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "parameterOrder": [
            "id"
          ],
          "path": "youtube/v3/liveChat/messages",
          "flatPath": "youtube/v3/liveChat/messages",
          "description": "Deletes a chat message.",
          "id": "youtube.liveChatMessages.delete"
        },
        "insert": {
          "flatPath": "youtube/v3/liveChat/messages",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "request": {
            "$ref": "LiveChatMessage"
          },
          "id": "youtube.liveChatMessages.insert",
          "parameterOrder": [
            "part"
          ],
          "description": "Inserts a new resource into this collection.",
          "path": "youtube/v3/liveChat/messages",
          "parameters": {
            "part": {
              "type": "string",
              "repeated": true,
              "description": "The *part* parameter serves two purposes. It identifies the properties that the write operation will set as well as the properties that the API response will include. Set the parameter value to snippet.",
              "location": "query",
              "required": true
            }
          },
          "response": {
            "$ref": "LiveChatMessage"
          }
        }
      }
    },
    "sponsors": {
      "methods": {
        "list": {
          "id": "youtube.sponsors.list",
          "description": "Retrieves a list of sponsors that match the request criteria for a channel.",
          "flatPath": "youtube/v3/sponsors",
          "response": {
            "$ref": "SponsorListResponse"
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "part"
          ],
          "path": "youtube/v3/sponsors",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly"
          ],
          "parameters": {
            "filter": {
              "enumDescriptions": [
                "",
                "Return the most recent sponsors, from newest to oldest.",
                "Return all sponsors, from newest to oldest."
              ],
              "description": "Parameter that specifies which channel sponsors to return.",
              "location": "query",
              "type": "string",
              "default": "newest",
              "enum": [
                "sponsorFilterUnknown",
                "newest",
                "all"
              ]
            },
            "maxResults": {
              "type": "integer",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "format": "uint32",
              "location": "query",
              "default": "5"
            },
            "part": {
              "repeated": true,
              "type": "string",
              "location": "query",
              "required": true,
              "description": "The *part* parameter specifies the sponsor resource parts that the API response will include. Supported values are id and snippet."
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved."
            }
          }
        }
      }
    },
    "membershipsLevels": {
      "methods": {
        "list": {
          "path": "youtube/v3/membershipsLevels",
          "description": "Retrieves a list of all pricing levels offered by a creator to the fans.",
          "parameters": {
            "part": {
              "location": "query",
              "required": true,
              "type": "string",
              "repeated": true,
              "description": "The *part* parameter specifies the membershipsLevel resource parts that the API response will include. Supported values are id and snippet."
            }
          },
          "id": "youtube.membershipsLevels.list",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.channel-memberships.creator",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "httpMethod": "GET",
          "parameterOrder": [
            "part"
          ],
          "response": {
            "$ref": "MembershipsLevelListResponse"
          },
          "flatPath": "youtube/v3/membershipsLevels"
        }
      }
    },
    "captions": {
      "methods": {
        "insert": {
          "supportsMediaUpload": true,
          "mediaUpload": {
            "maxSize": "104857600",
            "accept": [
              "text/xml",
              "application/octet-stream",
              "*/*"
            ],
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/youtube/v3/captions"
              },
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/youtube/v3/captions"
              }
            }
          },
          "response": {
            "$ref": "Caption"
          },
          "request": {
            "$ref": "Caption"
          },
          "description": "Inserts a new resource into this collection.",
          "parameters": {
            "sync": {
              "description": "Extra parameter to allow automatically syncing the uploaded caption/transcript with the audio.",
              "location": "query",
              "type": "boolean"
            },
            "onBehalfOf": {
              "location": "query",
              "description": "ID of the Google+ Page for the channel that the request is be on behalf of",
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string",
              "location": "query"
            },
            "part": {
              "location": "query",
              "required": true,
              "repeated": true,
              "type": "string",
              "description": "The *part* parameter specifies the caption resource parts that the API response will include. Set the parameter value to snippet."
            }
          },
          "id": "youtube.captions.insert",
          "parameterOrder": [
            "part"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "httpMethod": "POST",
          "flatPath": "youtube/v3/captions",
          "path": "youtube/v3/captions"
        },
        "download": {
          "description": "Downloads a caption track.",
          "supportsMediaDownload": true,
          "parameterOrder": [
            "id"
          ],
          "path": "youtube/v3/captions/{id}",
          "useMediaDownloadService": true,
          "httpMethod": "GET",
          "parameters": {
            "tlang": {
              "type": "string",
              "description": "tlang is the language code; machine translate the captions into this language.",
              "location": "query"
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string"
            },
            "id": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the caption track to download, required for One Platform."
            },
            "tfmt": {
              "location": "query",
              "description": "Convert the captions into this format. Supported options are sbv, srt, and vtt.",
              "type": "string"
            },
            "onBehalfOf": {
              "description": "ID of the Google+ Page for the channel that the request is be on behalf of",
              "location": "query",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "flatPath": "youtube/v3/captions/{id}",
          "id": "youtube.captions.download"
        },
        "update": {
          "description": "Updates an existing resource.",
          "flatPath": "youtube/v3/captions",
          "id": "youtube.captions.update",
          "mediaUpload": {
            "maxSize": "104857600",
            "protocols": {
              "resumable": {
                "path": "/resumable/upload/youtube/v3/captions",
                "multipart": true
              },
              "simple": {
                "path": "/upload/youtube/v3/captions",
                "multipart": true
              }
            },
            "accept": [
              "text/xml",
              "application/octet-stream",
              "*/*"
            ]
          },
          "supportsMediaUpload": true,
          "request": {
            "$ref": "Caption"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "path": "youtube/v3/captions",
          "parameters": {
            "sync": {
              "type": "boolean",
              "location": "query",
              "description": "Extra parameter to allow automatically syncing the uploaded caption/transcript with the audio."
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            },
            "part": {
              "required": true,
              "type": "string",
              "repeated": true,
              "location": "query",
              "description": "The *part* parameter specifies a comma-separated list of one or more caption resource parts that the API response will include. The part names that you can include in the parameter value are id and snippet."
            },
            "onBehalfOf": {
              "location": "query",
              "description": "ID of the Google+ Page for the channel that the request is on behalf of.",
              "type": "string"
            }
          },
          "parameterOrder": [
            "part"
          ],
          "httpMethod": "PUT",
          "response": {
            "$ref": "Caption"
          }
        },
        "delete": {
          "id": "youtube.captions.delete",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameterOrder": [
            "id"
          ],
          "description": "Deletes a resource.",
          "httpMethod": "DELETE",
          "flatPath": "youtube/v3/captions",
          "path": "youtube/v3/captions",
          "parameters": {
            "onBehalfOf": {
              "location": "query",
              "type": "string",
              "description": "ID of the Google+ Page for the channel that the request is be on behalf of"
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query"
            },
            "id": {
              "required": true,
              "type": "string",
              "location": "query"
            }
          }
        },
        "list": {
          "response": {
            "$ref": "CaptionListResponse"
          },
          "path": "youtube/v3/captions",
          "description": "Retrieves a list of resources, possibly filtered.",
          "parameters": {
            "videoId": {
              "required": true,
              "location": "query",
              "type": "string",
              "description": "Returns the captions for the specified video."
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string",
              "location": "query"
            },
            "id": {
              "type": "string",
              "repeated": true,
              "location": "query",
              "description": "Returns the captions with the given IDs for Stubby or Apiary."
            },
            "part": {
              "description": "The *part* parameter specifies a comma-separated list of one or more caption resource parts that the API response will include. The part names that you can include in the parameter value are id and snippet.",
              "repeated": true,
              "type": "string",
              "required": true,
              "location": "query"
            },
            "onBehalfOf": {
              "description": "ID of the Google+ Page for the channel that the request is on behalf of.",
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [
            "videoId",
            "part"
          ],
          "id": "youtube.captions.list",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "flatPath": "youtube/v3/captions",
          "httpMethod": "GET"
        }
      }
    },
    "liveChatBans": {
      "methods": {
        "delete": {
          "parameterOrder": [
            "id"
          ],
          "description": "Deletes a chat ban.",
[...]
