{
  "basePath": "",
  "discoveryVersion": "v1",
  "version": "v3",
  "documentationLink": "https://developers.google.com/youtube/",
  "title": "YouTube Data API v3",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "description": "The YouTube Data API v3 is an API that provides access to YouTube data, such as videos, playlists, and channels.",
  "ownerName": "Google",
  "resources": {
    "members": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/youtube.channel-memberships.creator"
          ],
          "flatPath": "youtube/v3/members",
          "response": {
            "$ref": "MemberListResponse"
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "part"
          ],
          "path": "youtube/v3/members",
          "id": "youtube.members.list",
          "description": "Retrieves a list of members that match the request criteria for a channel.",
          "parameters": {
            "part": {
              "repeated": true,
              "required": true,
              "type": "string",
              "description": "The *part* parameter specifies the member resource parts that the API response will include. Set the parameter value to snippet.",
              "location": "query"
            },
            "pageToken": {
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "location": "query",
              "type": "string"
            },
            "mode": {
              "enum": [
                "listMembersModeUnknown",
                "updates",
                "all_current"
              ],
              "location": "query",
              "description": "Parameter that specifies which channel members to return.",
              "enumDescriptions": [
                "",
                "Return only members that joined after the first call with this mode was made.",
                "Return all current members, from newest to oldest."
              ],
              "default": "all_current",
              "type": "string"
            },
            "maxResults": {
              "default": "5",
              "type": "integer",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "location": "query",
              "format": "uint32",
              "minimum": "0",
              "maximum": "1000"
            },
            "filterByMemberChannelId": {
              "description": "Comma separated list of channel IDs. Only data about members that are part of this list will be included in the response.",
              "location": "query",
              "type": "string"
            },
            "hasAccessToLevel": {
              "description": "Filter members in the results set to the ones that have access to a level.",
              "location": "query",
              "type": "string"
            }
          }
        }
      }
    },
    "liveChatModerators": {
      "methods": {
        "delete": {
          "description": "Deletes a chat moderator.",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "flatPath": "youtube/v3/liveChat/moderators",
          "parameters": {
            "id": {
              "type": "string",
              "location": "query",
              "required": true
            }
          },
          "httpMethod": "DELETE",
          "path": "youtube/v3/liveChat/moderators",
          "parameterOrder": [
            "id"
          ],
          "id": "youtube.liveChatModerators.delete"
        },
        "insert": {
          "description": "Inserts a new resource into this collection.",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "path": "youtube/v3/liveChat/moderators",
          "flatPath": "youtube/v3/liveChat/moderators",
          "response": {
            "$ref": "LiveChatModerator"
          },
          "request": {
            "$ref": "LiveChatModerator"
          },
          "parameterOrder": [
            "part"
          ],
          "httpMethod": "POST",
          "parameters": {
            "part": {
              "required": true,
              "location": "query",
              "repeated": true,
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response returns. Set the parameter value to snippet.",
              "type": "string"
            }
          },
          "id": "youtube.liveChatModerators.insert"
        },
        "list": {
          "response": {
            "$ref": "LiveChatModeratorListResponse"
          },
          "httpMethod": "GET",
          "id": "youtube.liveChatModerators.list",
          "path": "youtube/v3/liveChat/moderators",
          "description": "Retrieves a list of resources, possibly filtered.",
          "flatPath": "youtube/v3/liveChat/moderators",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly"
          ],
          "parameters": {
            "pageToken": {
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "location": "query",
              "type": "string"
            },
            "liveChatId": {
              "type": "string",
              "location": "query",
              "description": "The id of the live chat for which moderators should be returned.",
              "required": true
            },
            "maxResults": {
              "default": "5",
              "location": "query",
              "maximum": "50",
              "format": "uint32",
              "type": "integer",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "minimum": "0"
            },
            "part": {
              "description": "The *part* parameter specifies the liveChatModerator resource parts that the API response will include. Supported values are id and snippet.",
              "repeated": true,
              "required": true,
              "type": "string",
              "location": "query"
            }
          },
          "parameterOrder": [
            "liveChatId",
            "part"
          ]
        }
      }
    },
    "superChatEvents": {
      "methods": {
        "list": {
          "id": "youtube.superChatEvents.list",
          "path": "youtube/v3/superChatEvents",
          "response": {
            "$ref": "SuperChatEventListResponse"
          },
          "parameterOrder": [
            "part"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly"
          ],
          "description": "Retrieves a list of resources, possibly filtered.",
          "httpMethod": "GET",
          "parameters": {
            "part": {
              "repeated": true,
              "required": true,
              "location": "query",
              "description": "The *part* parameter specifies the superChatEvent resource parts that the API response will include. Supported values are id and snippet.",
              "type": "string"
            },
            "hl": {
              "type": "string",
              "description": "Return rendered funding amounts in specified language.",
              "location": "query"
            },
            "maxResults": {
              "type": "integer",
              "format": "uint32",
              "maximum": "50",
              "default": "5",
              "location": "query",
              "minimum": "1",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set."
            },
            "pageToken": {
              "type": "string",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "location": "query"
            }
          },
          "flatPath": "youtube/v3/superChatEvents"
        }
      }
    },
    "liveChatMessages": {
      "methods": {
        "delete": {
          "flatPath": "youtube/v3/liveChat/messages",
          "parameters": {
            "id": {
              "required": true,
              "location": "query",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "id": "youtube.liveChatMessages.delete",
          "parameterOrder": [
            "id"
          ],
          "path": "youtube/v3/liveChat/messages",
          "description": "Deletes a chat message.",
          "httpMethod": "DELETE"
        },
        "list": {
          "path": "youtube/v3/liveChat/messages",
          "httpMethod": "GET",
          "description": "Retrieves a list of resources, possibly filtered.",
          "parameters": {
            "part": {
              "required": true,
              "location": "query",
              "repeated": true,
              "type": "string",
              "description": "The *part* parameter specifies the liveChatComment resource parts that the API response will include. Supported values are id and snippet."
            },
            "profileImageSize": {
              "location": "query",
              "format": "uint32",
              "type": "integer",
              "description": "Specifies the size of the profile image that should be returned for each user.",
              "maximum": "720",
              "minimum": "16"
            },
            "liveChatId": {
              "description": "The id of the live chat for which comments should be returned.",
              "required": true,
              "location": "query",
              "type": "string"
            },
            "hl": {
              "location": "query",
              "type": "string",
              "description": "Specifies the localization language in which the system messages should be returned."
            },
            "pageToken": {
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken property identify other pages that could be retrieved.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "minimum": "200",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "default": "500",
              "type": "integer",
              "location": "query",
              "maximum": "2000",
              "format": "uint32"
            }
          },
          "flatPath": "youtube/v3/liveChat/messages",
          "id": "youtube.liveChatMessages.list",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly"
          ],
          "response": {
            "$ref": "LiveChatMessageListResponse"
          },
          "parameterOrder": [
            "liveChatId",
            "part"
          ]
        },
        "insert": {
          "parameters": {
            "part": {
              "required": true,
              "location": "query",
              "description": "The *part* parameter serves two purposes. It identifies the properties that the write operation will set as well as the properties that the API response will include. Set the parameter value to snippet.",
              "repeated": true,
              "type": "string"
            }
          },
          "description": "Inserts a new resource into this collection.",
          "flatPath": "youtube/v3/liveChat/messages",
          "httpMethod": "POST",
          "path": "youtube/v3/liveChat/messages",
          "parameterOrder": [
            "part"
          ],
          "request": {
            "$ref": "LiveChatMessage"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "id": "youtube.liveChatMessages.insert",
          "response": {
            "$ref": "LiveChatMessage"
          }
        }
      }
    },
    "videoAbuseReportReasons": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "path": "youtube/v3/videoAbuseReportReasons",
          "parameterOrder": [
            "part"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly"
          ],
          "id": "youtube.videoAbuseReportReasons.list",
          "flatPath": "youtube/v3/videoAbuseReportReasons",
          "parameters": {
            "part": {
              "description": "The *part* parameter specifies the videoCategory resource parts that the API response will include. Supported values are id and snippet.",
              "required": true,
              "location": "query",
              "type": "string",
              "repeated": true
            },
            "hl": {
              "location": "query",
              "default": "en-US",
              "type": "string"
            }
          },
          "description": "Retrieves a list of resources, possibly filtered.",
          "response": {
            "$ref": "VideoAbuseReportReasonListResponse"
          }
        }
      }
    },
    "i18nRegions": {
      "methods": {
        "list": {
          "response": {
            "$ref": "I18nRegionListResponse"
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameters": {
            "part": {
              "required": true,
              "description": "The *part* parameter specifies the i18nRegion resource properties that the API response will include. Set the parameter value to snippet.",
              "location": "query",
              "repeated": true,
              "type": "string"
            },
            "hl": {
              "default": "en_US",
              "type": "string",
              "location": "query"
            }
          },
          "description": "Retrieves a list of resources, possibly filtered.",
          "id": "youtube.i18nRegions.list",
          "path": "youtube/v3/i18nRegions",
          "flatPath": "youtube/v3/i18nRegions",
          "parameterOrder": [
            "part"
          ]
        }
      }
    },
    "channelBanners": {
      "methods": {
        "insert": {
          "parameters": {
            "onBehalfOfContentOwner": {
              "type": "string",
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            },
            "onBehalfOfContentOwnerChannel": {
              "location": "query",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "type": "string"
            },
            "channelId": {
              "description": "Unused, channel_id is currently derived from the security context of the requestor.",
              "type": "string",
              "location": "query"
            }
          },
          "httpMethod": "POST",
          "flatPath": "youtube/v3/channelBanners/insert",
          "mediaUpload": {
            "protocols": {
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/youtube/v3/channelBanners/insert"
              },
              "simple": {
                "path": "/upload/youtube/v3/channelBanners/insert",
                "multipart": true
              }
            },
            "accept": [
              "image/jpeg",
              "image/png",
              "application/octet-stream"
            ],
            "maxSize": "6291456"
          },
          "description": "Inserts a new resource into this collection.",
          "response": {
            "$ref": "ChannelBannerResource"
          },
          "supportsMediaUpload": true,
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.upload"
          ],
          "path": "youtube/v3/channelBanners/insert",
          "request": {
            "$ref": "ChannelBannerResource"
          },
          "parameterOrder": [],
          "id": "youtube.channelBanners.insert"
        }
      }
    },
    "comments": {
      "methods": {
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "flatPath": "youtube/v3/comments",
          "request": {
            "$ref": "Comment"
          },
          "path": "youtube/v3/comments",
          "parameterOrder": [
            "part"
          ],
          "id": "youtube.comments.update",
          "response": {
            "$ref": "Comment"
          },
          "httpMethod": "PUT",
          "description": "Updates an existing resource.",
          "parameters": {
            "part": {
              "repeated": true,
              "required": true,
              "location": "query",
              "description": "The *part* parameter identifies the properties that the API response will include. You must at least include the snippet part in the parameter value since that part contains all of the properties that the API request can update.",
              "type": "string"
            }
          }
        },
        "insert": {
          "path": "youtube/v3/comments",
          "response": {
            "$ref": "Comment"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "part"
          ],
          "parameters": {
            "part": {
              "location": "query",
              "type": "string",
              "required": true,
              "repeated": true,
              "description": "The *part* parameter identifies the properties that the API response will include. Set the parameter value to snippet. The snippet part has a quota cost of 2 units."
            }
          },
          "description": "Inserts a new resource into this collection.",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "flatPath": "youtube/v3/comments",
          "request": {
            "$ref": "Comment"
          },
          "id": "youtube.comments.insert"
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "flatPath": "youtube/v3/comments",
          "httpMethod": "DELETE",
          "id": "youtube.comments.delete",
          "parameters": {
            "id": {
              "type": "string",
              "location": "query",
              "required": true
            }
          },
          "parameterOrder": [
            "id"
          ],
          "path": "youtube/v3/comments",
          "description": "Deletes a resource."
        },
        "setModerationStatus": {
          "parameterOrder": [
            "id",
            "moderationStatus"
          ],
          "flatPath": "youtube/v3/comments/setModerationStatus",
          "id": "youtube.comments.setModerationStatus",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "parameters": {
            "moderationStatus": {
              "required": true,
              "enum": [
                "published",
                "heldForReview",
                "likelySpam",
                "rejected"
              ],
              "description": "Specifies the requested moderation status. Note, comments can be in statuses, which are not available through this call. For example, this call does not allow to mark a comment as 'likely spam'. Valid values: MODERATION_STATUS_PUBLISHED, MODERATION_STATUS_HELD_FOR_REVIEW, MODERATION_STATUS_REJECTED.",
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "The comment is available for public display.",
                "The comment is awaiting review by a moderator.",
                "",
                "The comment is unfit for display."
              ]
            },
            "id": {
              "repeated": true,
              "type": "string",
              "location": "query",
              "description": "Modifies the moderation status of the comments with the given IDs",
              "required": true
            },
            "banAuthor": {
              "description": "If set to true the author of the comment gets added to the ban list. This means all future comments of the author will autmomatically be rejected. Only valid in combination with STATUS_REJECTED.",
              "type": "boolean",
              "default": "false",
              "location": "query"
            }
          },
          "httpMethod": "POST",
          "path": "youtube/v3/comments/setModerationStatus",
          "description": "Sets the moderation status of one or more comments."
        },
        "markAsSpam": {
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "flatPath": "youtube/v3/comments/markAsSpam",
          "parameterOrder": [
            "id"
          ],
          "parameters": {
            "id": {
              "description": "Flags the comments with the given IDs as spam in the caller's opinion.",
              "location": "query",
              "type": "string",
              "required": true,
              "repeated": true
            }
          },
          "id": "youtube.comments.markAsSpam",
          "path": "youtube/v3/comments/markAsSpam",
          "description": "Expresses the caller's opinion that one or more comments should be flagged as spam."
        },
        "list": {
          "flatPath": "youtube/v3/comments",
          "httpMethod": "GET",
          "response": {
            "$ref": "CommentListResponse"
          },
          "parameterOrder": [
            "part"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "path": "youtube/v3/comments",
          "id": "youtube.comments.list",
          "parameters": {
            "id": {
              "description": "Returns the comments with the given IDs for One Platform.",
              "repeated": true,
              "type": "string",
              "location": "query"
            },
            "textFormat": {
              "type": "string",
              "enumDescriptions": [
                "",
                "Returns the comments in HTML format. This is the default value.",
                "Returns the comments in plain text format."
              ],
              "description": "The requested text format for the returned comments.",
              "enum": [
                "textFormatUnspecified",
                "html",
                "plainText"
              ],
              "location": "query",
              "default": "html"
            },
            "parentId": {
              "type": "string",
              "location": "query",
              "description": "Returns replies to the specified comment. Note, currently YouTube features only one level of replies (ie replies to top level comments). However replies to replies may be supported in the future."
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved."
            },
            "maxResults": {
              "location": "query",
              "type": "integer",
              "default": "20",
              "maximum": "100",
              "minimum": "1",
              "format": "uint32",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set."
            },
            "part": {
              "location": "query",
              "required": true,
              "type": "string",
              "repeated": true,
              "description": "The *part* parameter specifies a comma-separated list of one or more comment resource properties that the API response will include."
            }
          },
          "description": "Retrieves a list of resources, possibly filtered."
        }
      }
    },
    "thumbnails": {
      "methods": {
        "set": {
          "path": "youtube/v3/thumbnails/set",
          "mediaUpload": {
            "accept": [
              "image/jpeg",
              "image/png",
              "application/octet-stream"
            ],
            "maxSize": "2097152",
            "protocols": {
              "simple": {
                "path": "/upload/youtube/v3/thumbnails/set",
                "multipart": true
              },
              "resumable": {
                "path": "/resumable/upload/youtube/v3/thumbnails/set",
                "multipart": true
              }
            }
          },
          "id": "youtube.thumbnails.set",
          "parameterOrder": [
            "videoId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.upload",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "supportsMediaUpload": true,
          "httpMethod": "POST",
          "response": {
            "$ref": "ThumbnailSetResponse"
          },
          "parameters": {
            "videoId": {
              "description": "Returns the Thumbnail with the given video IDs for Stubby or Apiary.",
              "location": "query",
              "required": true,
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            }
          },
          "flatPath": "youtube/v3/thumbnails/set",
          "description": "As this is not an insert in a strict sense (it supports uploading/setting of a thumbnail for multiple videos, which doesn't result in creation of a single resource), I use a custom verb here."
        }
      }
    },
    "commentThreads": {
      "methods": {
        "list": {
          "parameters": {
            "textFormat": {
              "type": "string",
              "location": "query",
              "default": "html",
              "description": "The requested text format for the returned comments.",
              "enum": [
                "textFormatUnspecified",
                "html",
                "plainText"
              ],
              "enumDescriptions": [
                "",
                "Returns the comments in HTML format. This is the default value.",
                "Returns the comments in plain text format."
              ]
            },
            "videoId": {
              "description": "Returns the comment threads of the specified video.",
              "type": "string",
              "location": "query"
            },
            "id": {
              "repeated": true,
              "location": "query",
              "description": "Returns the comment threads with the given IDs for Stubby or Apiary.",
              "type": "string"
            },
            "searchTerms": {
              "description": "Limits the returned comment threads to those matching the specified key words. Not compatible with the 'id' filter.",
              "location": "query",
              "type": "string"
            },
            "moderationStatus": {
              "type": "string",
              "location": "query",
              "default": "published",
              "description": "Limits the returned comment threads to those with the specified moderation status. Not compatible with the 'id' filter. Valid values: published, heldForReview, likelySpam.",
              "enum": [
                "published",
                "heldForReview",
                "likelySpam",
                "rejected"
              ],
              "enumDescriptions": [
                "The comment is available for public display.",
                "The comment is awaiting review by a moderator.",
                "",
                "The comment is unfit for display."
              ]
            },
            "allThreadsRelatedToChannelId": {
              "description": "Returns the comment threads of all videos of the channel and the channel comments as well.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "maximum": "100",
              "format": "uint32",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "minimum": "1",
              "default": "20",
              "location": "query",
              "type": "integer"
            },
            "order": {
              "type": "string",
              "enumDescriptions": [
                "",
                "Order by time.",
                "Order by relevance."
              ],
              "enum": [
                "orderUnspecified",
                "time",
                "relevance"
              ],
              "location": "query",
              "default": "time"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved."
            },
            "part": {
              "repeated": true,
              "location": "query",
              "required": true,
              "description": "The *part* parameter specifies a comma-separated list of one or more commentThread resource properties that the API response will include.",
              "type": "string"
            },
            "channelId": {
              "type": "string",
              "description": "Returns the comment threads for all the channel comments (ie does not include comments left on videos).",
              "location": "query"
            }
          },
          "path": "youtube/v3/commentThreads",
          "id": "youtube.commentThreads.list",
          "response": {
            "$ref": "CommentThreadListResponse"
          },
          "parameterOrder": [
            "part"
          ],
          "description": "Retrieves a list of resources, possibly filtered.",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "flatPath": "youtube/v3/commentThreads"
        },
        "update": {
          "id": "youtube.commentThreads.update",
          "description": "Updates an existing resource.",
          "request": {
            "$ref": "CommentThread"
          },
          "parameters": {
            "part": {
              "required": true,
              "type": "string",
              "repeated": true,
              "description": "The *part* parameter specifies a comma-separated list of commentThread resource properties that the API response will include. You must at least include the snippet part in the parameter value since that part contains all of the properties that the API request can update.",
              "location": "query"
            }
          },
          "httpMethod": "PUT",
          "flatPath": "youtube/v3/commentThreads",
          "response": {
            "$ref": "CommentThread"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "path": "youtube/v3/commentThreads",
          "parameterOrder": [
            "part"
          ]
        },
        "insert": {
          "id": "youtube.commentThreads.insert",
          "parameterOrder": [
            "part"
          ],
          "httpMethod": "POST",
          "description": "Inserts a new resource into this collection.",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "response": {
            "$ref": "CommentThread"
          },
          "parameters": {
            "part": {
              "repeated": true,
              "location": "query",
              "type": "string",
              "required": true,
              "description": "The *part* parameter identifies the properties that the API response will include. Set the parameter value to snippet. The snippet part has a quota cost of 2 units."
            }
          },
          "path": "youtube/v3/commentThreads",
          "request": {
            "$ref": "CommentThread"
          },
          "flatPath": "youtube/v3/commentThreads"
        }
      }
    },
    "tests": {
      "methods": {
        "insert": {
          "description": "POST method.",
          "request": {
            "$ref": "TestItem"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube.readonly"
          ],
          "path": "youtube/v3/tests",
          "flatPath": "youtube/v3/tests",
          "response": {
            "$ref": "TestItem"
          },
          "httpMethod": "POST",
          "parameters": {
            "part": {
              "required": true,
              "type": "string",
              "repeated": true,
              "location": "query"
            }
          },
          "parameterOrder": [
            "part"
          ],
          "id": "youtube.tests.insert"
        }
      }
    },
    "playlistItems": {
      "methods": {
        "delete": {
          "parameters": {
            "id": {
              "required": true,
              "location": "query",
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string",
              "location": "query"
            }
          },
          "httpMethod": "DELETE",
          "parameterOrder": [
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "path": "youtube/v3/playlistItems",
          "flatPath": "youtube/v3/playlistItems",
          "id": "youtube.playlistItems.delete",
          "description": "Deletes a resource."
        },
        "list": {
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved."
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            },
            "part": {
              "type": "string",
              "repeated": true,
              "location": "query",
              "description": "The *part* parameter specifies a comma-separated list of one or more playlistItem resource properties that the API response will include. If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in a playlistItem resource, the snippet property contains numerous fields, including the title, description, position, and resourceId properties. As such, if you set *part=snippet*, the API response will contain all of those properties.",
              "required": true
            },
            "id": {
              "location": "query",
              "type": "string",
              "repeated": true
            },
            "maxResults": {
              "default": "5",
              "location": "query",
              "minimum": "0",
              "type": "integer",
              "format": "uint32",
              "maximum": "50",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set."
            },
            "playlistId": {
              "type": "string",
              "description": "Return the playlist items within the given playlist.",
              "location": "query"
            },
            "videoId": {
              "type": "string",
              "description": "Return the playlist items associated with the given video ID.",
              "location": "query"
            }
          },
          "httpMethod": "GET",
          "id": "youtube.playlistItems.list",
          "response": {
            "$ref": "PlaylistItemListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "description": "Retrieves a list of resources, possibly filtered.",
          "path": "youtube/v3/playlistItems",
          "flatPath": "youtube/v3/playlistItems",
          "parameterOrder": [
            "part"
          ]
        },
        "update": {
          "response": {
            "$ref": "PlaylistItem"
          },
          "path": "youtube/v3/playlistItems",
          "flatPath": "youtube/v3/playlistItems",
          "parameterOrder": [
            "part"
          ],
          "id": "youtube.playlistItems.update",
          "description": "Updates an existing resource.",
          "httpMethod": "PUT",
          "request": {
            "$ref": "PlaylistItem"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameters": {
            "part": {
              "location": "query",
              "required": true,
              "type": "string",
              "repeated": true,
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. Note that this method will override the existing values for all of the mutable properties that are contained in any parts that the parameter value specifies. For example, a playlist item can specify a start time and end time, which identify the times portion of the video that should play when users watch the video in the playlist. If your request is updating a playlist item that sets these values, and the request's part parameter value includes the contentDetails part, the playlist item's start and end times will be updated to whatever value the request body specifies. If the request body does not specify values, the existing start and end times will be removed and replaced with the default settings."
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            }
          }
        },
        "insert": {
          "flatPath": "youtube/v3/playlistItems",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "response": {
            "$ref": "PlaylistItem"
          },
          "description": "Inserts a new resource into this collection.",
          "id": "youtube.playlistItems.insert",
          "httpMethod": "POST",
          "path": "youtube/v3/playlistItems",
          "request": {
            "$ref": "PlaylistItem"
          },
          "parameters": {
            "part": {
              "repeated": true,
              "required": true,
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include.",
              "type": "string",
              "location": "query"
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query"
            }
          },
          "parameterOrder": [
            "part"
          ]
        }
      }
    },
    "abuseReports": {
      "methods": {
        "insert": {
          "parameterOrder": [
            "part"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "request": {
            "$ref": "AbuseReport"
          },
          "response": {
            "$ref": "AbuseReport"
          },
          "description": "Inserts a new resource into this collection.",
          "flatPath": "youtube/v3/abuseReports",
          "httpMethod": "POST",
          "path": "youtube/v3/abuseReports",
          "parameters": {
            "part": {
              "type": "string",
              "location": "query",
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include.",
              "repeated": true,
              "required": true
            }
          },
          "id": "youtube.abuseReports.insert"
        }
      }
    },
    "liveBroadcasts": {
      "methods": {
        "bind": {
          "parameters": {
            "onBehalfOfContentOwnerChannel": {
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "location": "query",
              "type": "string"
            },
            "id": {
              "type": "string",
              "required": true,
              "description": "Broadcast to bind to the stream",
              "location": "query"
            },
            "part": {
              "type": "string",
              "repeated": true,
              "location": "query",
              "required": true,
              "description": "The *part* parameter specifies a comma-separated list of one or more liveBroadcast resource properties that the API response will include. The part names that you can include in the parameter value are id, snippet, contentDetails, and status."
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string",
              "location": "query"
            },
            "streamId": {
              "type": "string",
              "location": "query",
              "description": "Stream to bind, if not set unbind the current one."
            }
          },
          "id": "youtube.liveBroadcasts.bind",
          "response": {
            "$ref": "LiveBroadcast"
          },
          "path": "youtube/v3/liveBroadcasts/bind",
          "description": "Bind a broadcast to a stream.",
          "parameterOrder": [
            "id",
            "part"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "httpMethod": "POST",
          "flatPath": "youtube/v3/liveBroadcasts/bind"
        },
        "update": {
          "parameters": {
            "onBehalfOfContentOwner": {
              "type": "string",
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            },
            "onBehalfOfContentOwnerChannel": {
              "type": "string",
              "location": "query",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel."
            },
            "part": {
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. The part properties that you can include in the parameter value are id, snippet, contentDetails, and status. Note that this method will override the existing values for all of the mutable properties that are contained in any parts that the parameter value specifies. For example, a broadcast's privacy status is defined in the status part. As such, if your request is updating a private or unlisted broadcast, and the request's part parameter value includes the status part, the broadcast's privacy setting will be updated to whatever value the request body specifies. If the request body does not specify a value, the existing privacy setting will be removed and the broadcast will revert to the default privacy setting.",
              "repeated": true,
              "location": "query",
              "type": "string",
              "required": true
            }
          },
          "httpMethod": "PUT",
          "flatPath": "youtube/v3/liveBroadcasts",
          "id": "youtube.liveBroadcasts.update",
          "path": "youtube/v3/liveBroadcasts",
          "response": {
            "$ref": "LiveBroadcast"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "description": "Updates an existing broadcast for the authenticated user.",
          "parameterOrder": [
            "part"
          ],
          "request": {
            "$ref": "LiveBroadcast"
          }
        },
        "insert": {
          "id": "youtube.liveBroadcasts.insert",
          "path": "youtube/v3/liveBroadcasts",
          "parameterOrder": [
            "part"
          ],
          "response": {
            "$ref": "LiveBroadcast"
          },
          "parameters": {
            "part": {
              "type": "string",
              "location": "query",
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. The part properties that you can include in the parameter value are id, snippet, contentDetails, and status.",
              "required": true,
              "repeated": true
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query"
            },
            "onBehalfOfContentOwnerChannel": {
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "type": "string",
              "location": "query"
            }
          },
          "request": {
            "$ref": "LiveBroadcast"
          },
          "httpMethod": "POST",
          "flatPath": "youtube/v3/liveBroadcasts",
          "description": "Inserts a new stream for the authenticated user.",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ]
        },
        "delete": {
          "path": "youtube/v3/liveBroadcasts",
          "flatPath": "youtube/v3/liveBroadcasts",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "parameters": {
            "onBehalfOfContentOwnerChannel": {
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "type": "string",
              "location": "query"
            },
            "id": {
              "required": true,
              "description": "Broadcast to delete.",
              "type": "string",
              "location": "query"
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string"
            }
          },
          "id": "youtube.liveBroadcasts.delete",
          "parameterOrder": [
            "id"
          ],
          "httpMethod": "DELETE",
          "description": "Delete a given broadcast."
        },
        "transition": {
          "path": "youtube/v3/liveBroadcasts/transition",
          "parameters": {
            "part": {
              "description": "The *part* parameter specifies a comma-separated list of one or more liveBroadcast resource properties that the API response will include. The part names that you can include in the parameter value are id, snippet, contentDetails, and status.",
              "location": "query",
              "type": "string",
              "required": true,
              "repeated": true
            },
            "broadcastStatus": {
              "description": "The status to which the broadcast is going to transition.",
              "enumDescriptions": [
                "",
                "Start testing the broadcast. YouTube transmits video to the broadcast's monitor stream. Note that you can only transition a broadcast to the testing state if its contentDetails.monitorStream.enableMonitorStream property is set to true.\",",
                "Return only persistent broadcasts.",
                "The broadcast is over. YouTube stops transmitting video."
              ],
              "type": "string",
              "required": true,
              "location": "query",
              "enum": [
                "statusUnspecified",
                "testing",
                "live",
                "complete"
              ]
            },
            "onBehalfOfContentOwnerChannel": {
              "type": "string",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "location": "query"
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            },
            "id": {
              "required": true,
              "type": "string",
              "description": "Broadcast to transition.",
              "location": "query"
            }
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "broadcastStatus",
            "id",
            "part"
          ],
          "description": "Transition a broadcast to a given status.",
          "id": "youtube.liveBroadcasts.transition",
          "response": {
            "$ref": "LiveBroadcast"
          },
          "flatPath": "youtube/v3/liveBroadcasts/transition",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ]
        },
        "list": {
          "path": "youtube/v3/liveBroadcasts",
          "flatPath": "youtube/v3/liveBroadcasts",
          "id": "youtube.liveBroadcasts.list",
          "parameterOrder": [
            "part"
          ],
          "description": "Retrieve the list of broadcasts associated with the given channel.",
          "response": {
            "$ref": "LiveBroadcastListResponse"
          },
          "parameters": {
            "part": {
              "repeated": true,
              "location": "query",
              "required": true,
              "type": "string",
              "description": "The *part* parameter specifies a comma-separated list of one or more liveBroadcast resource properties that the API response will include. The part names that you can include in the parameter value are id, snippet, contentDetails, status and statistics."
            },
            "broadcastType": {
              "default": "event",
              "description": "Return only broadcasts with the selected type.",
              "type": "string",
              "enumDescriptions": [
                "",
                "Return all broadcasts.",
                "Return only scheduled event broadcasts.",
                "Return only persistent broadcasts."
              ],
              "enum": [
                "broadcastTypeFilterUnspecified",
                "all",
                "event",
                "persistent"
              ],
              "location": "query"
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            },
            "id": {
              "repeated": true,
              "description": "Return broadcasts with the given ids from Stubby or Apiary.",
              "type": "string",
              "location": "query"
            },
            "onBehalfOfContentOwnerChannel": {
              "type": "string",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "location": "query"
            },
            "mine": {
              "type": "boolean",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "type": "string"
            },
            "broadcastStatus": {
              "enum": [
                "broadcastStatusFilterUnspecified",
                "all",
                "active",
                "upcoming",
                "completed"
              ],
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "",
                "Return all broadcasts.",
                "Return current live broadcasts.",
                "Return broadcasts that have not yet started.",
                "Return broadcasts that have already ended."
              ],
              "description": "Return broadcasts with a certain status, e.g. active broadcasts."
            },
            "maxResults": {
              "default": "5",
              "minimum": "0",
              "type": "integer",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "location": "query",
              "format": "uint32",
              "maximum": "50"
            }
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly"
          ]
        }
      }
    },
    "channelSections": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "flatPath": "youtube/v3/channelSections",
          "id": "youtube.channelSections.list",
          "parameterOrder": [
            "part"
          ],
          "parameters": {
            "channelId": {
              "type": "string",
              "location": "query",
              "description": "Return the ChannelSections owned by the specified channel ID."
            },
            "hl": {
              "type": "string",
              "location": "query",
              "description": "Return content in specified language"
            },
            "mine": {
              "location": "query",
              "description": "Return the ChannelSections owned by the authenticated user.",
              "type": "boolean"
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "part": {
              "type": "string",
              "repeated": true,
              "required": true,
              "location": "query",
              "description": "The *part* parameter specifies a comma-separated list of one or more channelSection resource properties that the API response will include. The part names that you can include in the parameter value are id, snippet, and contentDetails. If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in a channelSection resource, the snippet property contains other properties, such as a display title for the channelSection. If you set *part=snippet*, the API response will also contain all of those nested properties."
            },
            "id": {
              "description": "Return the ChannelSections with the given IDs for Stubby or Apiary.",
              "repeated": true,
              "type": "string",
              "location": "query"
            }
          },
          "response": {
            "$ref": "ChannelSectionListResponse"
          },
          "description": "Retrieves a list of resources, possibly filtered.",
          "path": "youtube/v3/channelSections",
          "httpMethod": "GET"
        },
        "update": {
          "description": "Updates an existing resource.",
          "parameters": {
            "part": {
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. The part names that you can include in the parameter value are snippet and contentDetails.",
              "type": "string",
              "repeated": true,
              "required": true,
              "location": "query"
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            }
          },
          "flatPath": "youtube/v3/channelSections",
          "request": {
            "$ref": "ChannelSection"
          },
          "httpMethod": "PUT",
          "id": "youtube.channelSections.update",
          "response": {
            "$ref": "ChannelSection"
          },
          "path": "youtube/v3/channelSections",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameterOrder": [
            "part"
          ]
        },
        "insert": {
          "id": "youtube.channelSections.insert",
          "flatPath": "youtube/v3/channelSections",
          "description": "Inserts a new resource into this collection.",
          "httpMethod": "POST",
          "path": "youtube/v3/channelSections",
          "request": {
            "$ref": "ChannelSection"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "response": {
            "$ref": "ChannelSection"
          },
          "parameters": {
            "onBehalfOfContentOwnerChannel": {
              "type": "string",
              "location": "query",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel."
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            },
            "part": {
              "required": true,
              "repeated": true,
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. The part names that you can include in the parameter value are snippet and contentDetails.",
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [
            "part"
          ]
        },
        "delete": {
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameters": {
            "id": {
              "required": true,
              "type": "string",
              "location": "query"
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string"
            }
          },
          "flatPath": "youtube/v3/channelSections",
          "parameterOrder": [
            "id"
          ],
          "description": "Deletes a resource.",
          "id": "youtube.channelSections.delete",
          "path": "youtube/v3/channelSections"
        }
      }
    },
    "liveChatBans": {
      "methods": {
        "delete": {
          "flatPath": "youtube/v3/liveChat/bans",
          "httpMethod": "DELETE",
          "description": "Deletes a chat ban.",
          "parameterOrder": [
            "id"
          ],
          "parameters": {
            "id": {
              "type": "string",
              "required": true,
              "location": "query"
            }
          },
          "path": "youtube/v3/liveChat/bans",
          "id": "youtube.liveChatBans.delete",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ]
        },
        "insert": {
          "flatPath": "youtube/v3/liveChat/bans",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "parameterOrder": [
            "part"
          ],
          "request": {
            "$ref": "LiveChatBan"
          },
          "description": "Inserts a new resource into this collection.",
          "httpMethod": "POST",
          "id": "youtube.liveChatBans.insert",
          "parameters": {
            "part": {
              "type": "string",
              "repeated": true,
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response returns. Set the parameter value to snippet.",
              "required": true,
              "location": "query"
            }
          },
          "path": "youtube/v3/liveChat/bans",
          "response": {
            "$ref": "LiveChatBan"
          }
        }
      }
    },
    "playlists": {
      "methods": {
        "insert": {
          "httpMethod": "POST",
          "parameters": {
            "onBehalfOfContentOwnerChannel": {
              "location": "query",
              "type": "string",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel."
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string",
              "location": "query"
            },
            "part": {
              "required": true,
              "type": "string",
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include.",
              "location": "query",
              "repeated": true
            }
          },
          "description": "Inserts a new resource into this collection.",
          "request": {
            "$ref": "Playlist"
          },
          "response": {
            "$ref": "Playlist"
          },
          "parameterOrder": [
            "part"
          ],
          "path": "youtube/v3/playlists",
          "flatPath": "youtube/v3/playlists",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "id": "youtube.playlists.insert"
        },
        "list": {
          "path": "youtube/v3/playlists",
          "description": "Retrieves a list of resources, possibly filtered.",
          "response": {
            "$ref": "PlaylistListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "id": "youtube.playlists.list",
          "httpMethod": "GET",
          "parameters": {
            "part": {
              "description": "The *part* parameter specifies a comma-separated list of one or more playlist resource properties that the API response will include. If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in a playlist resource, the snippet property contains properties like author, title, description, tags, and timeCreated. As such, if you set *part=snippet*, the API response will contain all of those properties.",
              "location": "query",
              "type": "string",
              "required": true,
              "repeated": true
            },
            "channelId": {
              "description": "Return the playlists owned by the specified channel ID.",
              "location": "query",
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "id": {
              "repeated": true,
              "location": "query",
              "type": "string",
              "description": "Return the playlists with the given IDs for Stubby or Apiary."
            },
            "pageToken": {
              "type": "string",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "location": "query"
            },
            "hl": {
              "description": "Returen content in specified language",
              "location": "query",
              "type": "string"
            },
            "onBehalfOfContentOwnerChannel": {
              "location": "query",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "type": "string"
            },
            "mine": {
              "description": "Return the playlists owned by the authenticated user.",
              "location": "query",
              "type": "boolean"
            },
            "maxResults": {
              "location": "query",
              "minimum": "0",
              "default": "5",
              "format": "uint32",
              "maximum": "50",
              "type": "integer",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set."
            }
          },
          "flatPath": "youtube/v3/playlists",
          "parameterOrder": [
            "part"
          ]
        },
        "update": {
          "request": {
            "$ref": "Playlist"
          },
          "flatPath": "youtube/v3/playlists",
          "response": {
            "$ref": "Playlist"
          },
          "path": "youtube/v3/playlists",
          "description": "Updates an existing resource.",
          "id": "youtube.playlists.update",
          "parameterOrder": [
            "part"
          ],
          "parameters": {
            "onBehalfOfContentOwner": {
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query"
            },
            "part": {
              "required": true,
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. Note that this method will override the existing values for mutable properties that are contained in any parts that the request body specifies. For example, a playlist's description is contained in the snippet part, which must be included in the request body. If the request does not specify a value for the snippet.description property, the playlist's existing description will be deleted.",
              "repeated": true,
              "type": "string",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "httpMethod": "PUT"
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "id": "youtube.playlists.delete",
          "parameters": {
            "id": {
              "type": "string",
              "location": "query",
              "required": true
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string"
            }
          },
          "path": "youtube/v3/playlists",
          "flatPath": "youtube/v3/playlists",
          "parameterOrder": [
            "id"
          ],
          "httpMethod": "DELETE",
          "description": "Deletes a resource."
        }
      }
    },
    "activities": {
      "methods": {
        "list": {
          "path": "youtube/v3/activities",
          "parameterOrder": [
            "part"
          ],
          "description": "Retrieves a list of resources, possibly filtered.",
          "httpMethod": "GET",
          "parameters": {
            "publishedAfter": {
              "type": "string",
              "location": "query",
              "format": "google-datetime"
            },
            "part": {
              "repeated": true,
              "description": "The *part* parameter specifies a comma-separated list of one or more activity resource properties that the API response will include. If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in an activity resource, the snippet property contains other properties that identify the type of activity, a display title for the activity, and so forth. If you set *part=snippet*, the API response will also contain all of those nested properties.",
              "required": true,
              "location": "query",
              "type": "string"
            },
            "publishedBefore": {
              "format": "google-datetime",
              "type": "string",
              "location": "query"
            },
            "mine": {
              "type": "boolean",
              "location": "query"
            },
            "channelId": {
              "type": "string",
              "location": "query"
            },
            "regionCode": {
              "location": "query",
              "type": "string"
            },
            "home": {
              "type": "boolean",
              "location": "query"
            },
            "maxResults": {
              "type": "integer",
              "minimum": "0",
              "format": "uint32",
              "location": "query",
              "default": "5",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "maximum": "50"
            },
            "pageToken": {
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "type": "string",
              "location": "query"
            }
          },
          "id": "youtube.activities.list",
          "flatPath": "youtube/v3/activities",
          "response": {
            "$ref": "ActivityListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly"
          ]
        }
      }
    },
    "liveStreams": {
      "methods": {
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "httpMethod": "DELETE",
          "parameters": {
            "onBehalfOfContentOwner": {
              "location": "query",
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            },
            "id": {
              "location": "query",
              "type": "string",
[...]
