{
  "servicePath": "",
  "description": "The YouTube Data API v3 is an API that provides access to YouTube data, such as videos, playlists, and channels.",
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "basePath": "",
  "canonicalName": "YouTube",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/youtubepartner-channel-audit": {
          "description": "View private information of your YouTube channel relevant during the audit process with a YouTube partner"
        },
        "https://www.googleapis.com/auth/youtube.force-ssl": {
          "description": "See, edit, and permanently delete your YouTube videos, ratings, comments and captions"
        },
        "https://www.googleapis.com/auth/youtube.channel-memberships.creator": {
          "description": "See a list of your current active channel members, their current level, and when they became a member"
        },
        "https://www.googleapis.com/auth/youtubepartner": {
          "description": "View and manage your assets and associated content on YouTube"
        },
        "https://www.googleapis.com/auth/youtube.upload": {
          "description": "Manage your YouTube videos"
        },
        "https://www.googleapis.com/auth/youtube.readonly": {
          "description": "View your YouTube account"
        },
        "https://www.googleapis.com/auth/youtube": {
          "description": "Manage your YouTube account"
        }
      }
    }
  },
  "mtlsRootUrl": "https://youtube.mtls.googleapis.com/",
  "documentationLink": "https://developers.google.com/youtube/",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "revision": "20230502",
  "schemas": {
    "VideoPlayer": {
      "id": "VideoPlayer",
      "type": "object",
      "description": "Player to be used for a video playback.",
      "properties": {
        "embedHeight": {
          "type": "string",
          "format": "int64"
        },
        "embedWidth": {
          "format": "int64",
          "type": "string",
          "description": "The embed width"
        },
        "embedHtml": {
          "type": "string",
          "description": "An \u003ciframe\u003e tag that embeds a player that will play the video."
        }
      }
    },
    "ChannelSectionContentDetails": {
      "id": "ChannelSectionContentDetails",
      "properties": {
        "channels": {
          "description": "The channel ids for type multiple_channels.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "playlists": {
          "description": "The playlist ids for type single_playlist and multiple_playlists. For singlePlaylist, only one playlistId is allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Details about a channelsection, including playlists and channels."
    },
    "LiveChatSuperChatDetails": {
      "properties": {
        "userComment": {
          "description": "The comment added by the user to this Super Chat event.",
          "type": "string"
        },
        "amountMicros": {
          "type": "string",
          "description": "The amount purchased by the user, in micros (1,750,000 micros = 1.75).",
          "format": "uint64"
        },
        "currency": {
          "description": "The currency in which the purchase was made.",
          "type": "string"
        },
        "tier": {
          "description": "The tier in which the amount belongs. Lower amounts belong to lower tiers. The lowest tier is 1.",
          "format": "uint32",
          "type": "integer"
        },
        "amountDisplayString": {
          "description": "A rendered string that displays the fund amount and currency to the user.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "LiveChatSuperChatDetails"
    },
    "PlaylistStatus": {
      "type": "object",
      "properties": {
        "privacyStatus": {
          "type": "string",
          "description": "The playlist's privacy status.",
          "enum": [
            "public",
            "unlisted",
            "private"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      },
      "id": "PlaylistStatus"
    },
    "Comment": {
      "id": "Comment",
      "description": "A *comment* represents a single YouTube comment.",
      "type": "object",
      "properties": {
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "kind": {
          "default": "youtube#comment",
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#comment\"."
        },
        "snippet": {
          "$ref": "CommentSnippet",
          "description": "The snippet object contains basic details about the comment."
        },
        "id": {
          "description": "The ID that YouTube uses to uniquely identify the comment.",
          "type": "string"
        }
      }
    },
    "VideoMonetizationDetails": {
      "properties": {
        "access": {
          "$ref": "AccessPolicy",
          "description": "The value of access indicates whether the video can be monetized or not."
        }
      },
      "type": "object",
      "id": "VideoMonetizationDetails",
      "description": "Details about monetization of a YouTube Video."
    },
    "TokenPagination": {
      "description": "Stub token pagination template to suppress results.",
      "properties": {},
      "id": "TokenPagination",
      "type": "object"
    },
    "LiveBroadcastStatus": {
      "id": "LiveBroadcastStatus",
      "description": "Live broadcast state.",
      "properties": {
        "selfDeclaredMadeForKids": {
          "type": "boolean",
          "description": "This field will be set to True if the creator declares the broadcast to be kids only: go/live-cw-work."
        },
        "liveBroadcastPriority": {
          "description": "Priority of the live broadcast event (internal state).",
          "enum": [
            "liveBroadcastPriorityUnspecified",
            "low",
            "normal",
            "high"
          ],
          "enumDescriptions": [
            "",
            "Low priority broadcast: for low view count HoAs or other low priority broadcasts.",
            "Normal priority broadcast: for regular HoAs and broadcasts.",
            "High priority broadcast: for high profile HoAs, like PixelCorp ones."
          ],
          "type": "string"
        },
        "lifeCycleStatus": {
          "enumDescriptions": [
            "No value or the value is unknown.",
            "Incomplete settings, but otherwise valid",
            "Complete settings",
            "Visible only to partner, may need special UI treatment",
            "Viper is recording; this means the \"clock\" is running",
            "The broadcast is finished.",
            "This broadcast was removed by admin action",
            "Transition into TESTING has been requested",
            "Transition into LIVE has been requested"
          ],
          "type": "string",
          "enum": [
            "lifeCycleStatusUnspecified",
            "created",
            "ready",
            "testing",
            "live",
            "complete",
            "revoked",
            "testStarting",
            "liveStarting"
          ],
          "description": "The broadcast's status. The status can be updated using the API's liveBroadcasts.transition method."
        },
        "recordingStatus": {
          "type": "string",
          "enum": [
            "liveBroadcastRecordingStatusUnspecified",
            "notRecording",
            "recording",
            "recorded"
          ],
          "enumDescriptions": [
            "No value or the value is unknown.",
            "The recording has not yet been started.",
            "The recording is currently on.",
            "The recording is completed, and cannot be started again."
          ],
          "description": "The broadcast's recording status."
        },
        "privacyStatus": {
          "annotations": {
            "required": [
              "youtube.liveBroadcasts.insert",
              "youtube.liveBroadcasts.update"
            ]
          },
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "The broadcast's privacy status. Note that the broadcast represents exactly one YouTube video, so the privacy settings are identical to those supported for videos. In addition, you can set this field by modifying the broadcast resource or by setting the privacyStatus field of the corresponding video resource.",
          "enum": [
            "public",
            "unlisted",
            "private"
          ],
          "type": "string"
        },
        "madeForKids": {
          "description": "Whether the broadcast is made for kids or not, decided by YouTube instead of the creator. This field is read only.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "Subscription": {
      "properties": {
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "id": {
          "description": "The ID that YouTube uses to uniquely identify the subscription.",
          "type": "string"
        },
        "snippet": {
          "description": "The snippet object contains basic details about the subscription, including its title and the channel that the user subscribed to.",
          "$ref": "SubscriptionSnippet"
        },
        "subscriberSnippet": {
          "description": "The subscriberSnippet object contains basic details about the subscriber.",
          "$ref": "SubscriptionSubscriberSnippet"
        },
        "contentDetails": {
          "description": "The contentDetails object contains basic statistics about the subscription.",
          "$ref": "SubscriptionContentDetails"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#subscription\".",
          "type": "string",
          "default": "youtube#subscription"
        }
      },
      "type": "object",
      "id": "Subscription",
      "description": "A *subscription* resource contains information about a YouTube user subscription. A subscription notifies a user when new videos are added to a channel or when another user takes one of several actions on YouTube, such as uploading a video, rating a video, or commenting on a video."
    },
    "ActivityContentDetailsSocial": {
      "properties": {
        "author": {
          "description": "The author of the social network post.",
          "type": "string"
        },
        "referenceUrl": {
          "type": "string",
          "description": "The URL of the social network post."
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "unspecified",
            "googlePlus",
            "facebook",
            "twitter"
          ],
          "description": "The name of the social network."
        },
        "resourceId": {
          "$ref": "ResourceId",
          "description": "The resourceId object encapsulates information that identifies the resource associated with a social network post."
        },
        "imageUrl": {
          "description": "An image of the post's author.",
          "type": "string"
        }
      },
      "description": "Details about a social network post.",
      "id": "ActivityContentDetailsSocial",
      "type": "object"
    },
    "Caption": {
      "type": "object",
      "properties": {
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "kind": {
          "default": "youtube#caption",
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#caption\"."
        },
        "snippet": {
          "description": "The snippet object contains basic details about the caption.",
          "$ref": "CaptionSnippet"
        },
        "id": {
          "annotations": {
            "required": [
              "youtube.captions.update"
            ]
          },
          "description": "The ID that YouTube uses to uniquely identify the caption track.",
          "type": "string"
        }
      },
      "description": "A *caption* resource represents a YouTube caption track. A caption track is associated with exactly one YouTube video.",
      "id": "Caption"
    },
    "VideoAbuseReportReasonSnippet": {
      "properties": {
        "label": {
          "type": "string",
          "description": "The localized label belonging to this abuse report reason."
        },
        "secondaryReasons": {
          "description": "The secondary reasons associated with this reason, if any are available. (There might be 0 or more.)",
          "type": "array",
          "items": {
            "$ref": "VideoAbuseReportSecondaryReason"
          }
        }
      },
      "type": "object",
      "description": "Basic details about a video category, such as its localized title.",
      "id": "VideoAbuseReportReasonSnippet"
    },
    "LiveStreamStatus": {
      "id": "LiveStreamStatus",
      "type": "object",
      "properties": {
        "streamStatus": {
          "enum": [
            "created",
            "ready",
            "active",
            "inactive",
            "error"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "healthStatus": {
          "description": "The health status of the stream.",
          "$ref": "LiveStreamHealthStatus"
        }
      },
      "description": "Brief description of the live stream status."
    },
    "ChannelSectionListResponse": {
      "type": "object",
      "id": "ChannelSectionListResponse",
      "properties": {
        "kind": {
          "default": "youtube#channelSectionListResponse",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#channelSectionListResponse\".",
          "type": "string"
        },
        "eventId": {
          "description": "Serialized EventId of the request which produced this response.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "ChannelSection"
          },
          "description": "A list of ChannelSections that match the request criteria."
        },
        "visitorId": {
          "type": "string",
          "description": "The visitorId identifies the visitor."
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        }
      }
    },
    "CaptionListResponse": {
      "type": "object",
      "id": "CaptionListResponse",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#captionListResponse\".",
          "type": "string",
          "default": "youtube#captionListResponse"
        },
        "visitorId": {
          "description": "The visitorId identifies the visitor.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "Caption"
          },
          "description": "A list of captions that match the request criteria."
        },
        "eventId": {
          "type": "string",
          "description": "Serialized EventId of the request which produced this response."
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        }
      }
    },
    "PlaylistItemListResponse": {
      "id": "PlaylistItemListResponse",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "PlaylistItem"
          },
          "description": "A list of playlist items that match the request criteria."
        },
        "eventId": {
          "type": "string",
          "description": "Serialized EventId of the request which produced this response."
        },
        "prevPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set.",
          "type": "string"
        },
        "visitorId": {
          "description": "The visitorId identifies the visitor.",
          "type": "string"
        },
        "kind": {
          "default": "youtube#playlistItemListResponse",
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#playlistItemListResponse\". Etag of this resource."
        },
        "etag": {
          "type": "string"
        },
        "tokenPagination": {
          "$ref": "TokenPagination"
        },
        "pageInfo": {
          "$ref": "PageInfo",
          "description": "General pagination information."
        },
        "nextPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "TestItemTestItemSnippet": {
      "type": "object",
      "id": "TestItemTestItemSnippet",
      "properties": {}
    },
    "VideoProcessingDetailsProcessingProgress": {
      "description": "Video processing progress and completion time estimate.",
      "id": "VideoProcessingDetailsProcessingProgress",
      "type": "object",
      "properties": {
        "partsTotal": {
          "description": "An estimate of the total number of parts that need to be processed for the video. The number may be updated with more precise estimates while YouTube processes the video.",
          "format": "uint64",
          "type": "string"
        },
        "partsProcessed": {
          "type": "string",
          "format": "uint64",
          "description": "The number of parts of the video that YouTube has already processed. You can estimate the percentage of the video that YouTube has already processed by calculating: 100 * parts_processed / parts_total Note that since the estimated number of parts could increase without a corresponding increase in the number of parts that have already been processed, it is possible that the calculated progress could periodically decrease while YouTube processes a video."
        },
        "timeLeftMs": {
          "format": "uint64",
          "type": "string",
          "description": "An estimate of the amount of time, in millseconds, that YouTube needs to finish processing the video."
        }
      }
    },
    "VideoStatus": {
      "description": "Basic details about a video category, such as its localized title. Next Id: 18",
      "type": "object",
      "id": "VideoStatus",
      "properties": {
        "failureReason": {
          "description": "This value explains why a video failed to upload. This property is only present if the uploadStatus property indicates that the upload failed.",
          "enumDescriptions": [
            "Unable to convert video content.",
            "Invalid file format.",
            "Empty file.",
            "File was too small.",
            "Unsupported codec.",
            "Upload wasn't finished."
          ],
          "enum": [
            "conversion",
            "invalidFile",
            "emptyFile",
            "tooSmall",
            "codec",
            "uploadAborted"
          ],
          "type": "string"
        },
        "privacyStatus": {
          "description": "The video's privacy status.",
          "type": "string",
          "enum": [
            "public",
            "unlisted",
            "private"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "publicStatsViewable": {
          "type": "boolean",
          "description": "This value indicates if the extended video statistics on the watch page can be viewed by everyone. Note that the view count, likes, etc will still be visible if this is disabled. @mutable youtube.videos.insert youtube.videos.update"
        },
        "madeForKids": {
          "type": "boolean"
        },
        "selfDeclaredMadeForKids": {
          "type": "boolean"
        },
        "rejectionReason": {
          "enum": [
            "copyright",
            "inappropriate",
            "duplicate",
            "termsOfUse",
            "uploaderAccountSuspended",
            "length",
            "claim",
            "uploaderAccountClosed",
            "trademark",
            "legal"
          ],
          "description": "This value explains why YouTube rejected an uploaded video. This property is only present if the uploadStatus property indicates that the upload was rejected.",
          "enumDescriptions": [
            "Copyright infringement.",
            "Inappropriate video content.",
            "Duplicate upload in the same channel.",
            "Terms of use violation.",
            "Uploader account was suspended.",
            "Video duration was too long.",
            "Blocked by content owner.",
            "Uploader closed his/her account.",
            "Trademark infringement.",
            "An unspecified legal reason."
          ],
          "type": "string"
        },
        "license": {
          "enumDescriptions": [
            "",
            ""
          ],
          "description": "The video's license. @mutable youtube.videos.insert youtube.videos.update",
          "enum": [
            "youtube",
            "creativeCommon"
          ],
          "type": "string"
        },
        "publishAt": {
          "format": "date-time",
          "type": "string",
          "description": "The date and time when the video is scheduled to publish. It can be set only if the privacy status of the video is private.."
        },
        "uploadStatus": {
          "type": "string",
          "description": "The status of the uploaded video.",
          "enumDescriptions": [
            "Video has been uploaded but not processed yet.",
            "Video has been successfully processed.",
            "Processing has failed. See FailureReason.",
            "Video has been rejected. See RejectionReason.",
            "Video has been deleted."
          ],
          "enum": [
            "uploaded",
            "processed",
            "failed",
            "rejected",
            "deleted"
          ]
        },
        "embeddable": {
          "type": "boolean",
          "description": "This value indicates if the video can be embedded on another website. @mutable youtube.videos.insert youtube.videos.update"
        }
      }
    },
    "VideoRecordingDetails": {
      "id": "VideoRecordingDetails",
      "type": "object",
      "description": "Recording information associated with the video.",
      "properties": {
        "location": {
          "$ref": "GeoPoint",
          "description": "The geolocation information associated with the video."
        },
        "recordingDate": {
          "description": "The date and time when the video was recorded.",
          "format": "date-time",
          "type": "string"
        },
        "locationDescription": {
          "description": "The text description of the location where the video was recorded.",
          "type": "string"
        }
      }
    },
    "LanguageTag": {
      "properties": {
        "value": {
          "type": "string"
        }
      },
      "id": "LanguageTag",
      "type": "object"
    },
    "VideoContentDetails": {
      "description": "Details about the content of a YouTube Video.",
      "id": "VideoContentDetails",
      "properties": {
        "caption": {
          "enumDescriptions": [
            "",
            ""
          ],
          "description": "The value of captions indicates whether the video has captions or not.",
          "enum": [
            "true",
            "false"
          ],
          "type": "string"
        },
        "duration": {
          "type": "string",
          "description": "The length of the video. The tag value is an ISO 8601 duration in the format PT#M#S, in which the letters PT indicate that the value specifies a period of time, and the letters M and S refer to length in minutes and seconds, respectively. The # characters preceding the M and S letters are both integers that specify the number of minutes (or seconds) of the video. For example, a value of PT15M51S indicates that the video is 15 minutes and 51 seconds long."
        },
        "projection": {
          "type": "string",
          "enum": [
            "rectangular",
            "360"
          ],
          "enumDescriptions": [
            "",
            ""
          ],
          "description": "Specifies the projection format of the video."
        },
        "countryRestriction": {
          "$ref": "AccessPolicy",
          "description": "The countryRestriction object contains information about the countries where a video is (or is not) viewable."
        },
        "contentRating": {
          "description": "Specifies the ratings that the video received under various rating schemes.",
          "$ref": "ContentRating"
        },
        "regionRestriction": {
          "$ref": "VideoContentDetailsRegionRestriction",
          "description": "The regionRestriction object contains information about the countries where a video is (or is not) viewable. The object will contain either the contentDetails.regionRestriction.allowed property or the contentDetails.regionRestriction.blocked property."
        },
        "definition": {
          "type": "string",
          "description": "The value of definition indicates whether the video is available in high definition or only in standard definition.",
          "enumDescriptions": [
            "sd",
            "hd"
          ],
          "enum": [
            "sd",
            "hd"
          ]
        },
        "dimension": {
          "type": "string",
          "description": "The value of dimension indicates whether the video is available in 3D or in 2D."
        },
        "hasCustomThumbnail": {
          "description": "Indicates whether the video uploader has provided a custom thumbnail image for the video. This property is only visible to the video uploader.",
          "type": "boolean"
        },
        "licensedContent": {
          "description": "The value of is_license_content indicates whether the video is licensed content.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "TestItem": {
      "type": "object",
      "properties": {
        "gaia": {
          "type": "string",
          "format": "int64"
        },
        "snippet": {
          "$ref": "TestItemTestItemSnippet"
        },
        "featuredPart": {
          "type": "boolean"
        },
        "id": {
          "type": "string"
        }
      },
      "id": "TestItem"
    },
    "ActivitySnippet": {
      "type": "object",
      "description": "Basic details about an activity, including title, description, thumbnails, activity type and group. Next ID: 12",
      "id": "ActivitySnippet",
      "properties": {
        "publishedAt": {
          "type": "string",
          "description": "The date and time that the video was uploaded.",
          "format": "date-time"
        },
        "title": {
          "description": "The title of the resource primarily associated with the activity.",
          "type": "string"
        },
        "description": {
          "description": "The description of the resource primarily associated with the activity. @mutable youtube.activities.insert",
          "type": "string"
        },
        "thumbnails": {
          "$ref": "ThumbnailDetails",
          "description": "A map of thumbnail images associated with the resource that is primarily associated with the activity. For each object in the map, the key is the name of the thumbnail image, and the value is an object that contains other information about the thumbnail."
        },
        "channelId": {
          "description": "The ID that YouTube uses to uniquely identify the channel associated with the activity.",
          "type": "string"
        },
        "groupId": {
          "type": "string",
          "description": "The group ID associated with the activity. A group ID identifies user events that are associated with the same user and resource. For example, if a user rates a video and marks the same video as a favorite, the entries for those events would have the same group ID in the user's activity feed. In your user interface, you can avoid repetition by grouping events with the same groupId value."
        },
        "type": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "The type of activity that the resource describes.",
          "type": "string",
          "enum": [
            "typeUnspecified",
            "upload",
            "like",
            "favorite",
            "comment",
            "subscription",
            "playlistItem",
            "recommendation",
            "bulletin",
            "social",
            "channelItem",
            "promotedItem"
          ]
        },
        "channelTitle": {
          "type": "string",
          "description": "Channel title for the channel responsible for this activity"
        }
      }
    },
    "ChannelTopicDetails": {
      "type": "object",
      "properties": {
        "topicCategories": {
          "description": "A list of Wikipedia URLs that describe the channel's content.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "topicIds": {
          "items": {
            "type": "string"
          },
          "description": "A list of Freebase topic IDs associated with the channel. You can retrieve information about each topic using the Freebase Topic API.",
          "type": "array"
        }
      },
      "id": "ChannelTopicDetails",
      "description": "Freebase topic information related to the channel."
    },
    "LiveStream": {
      "properties": {
        "contentDetails": {
          "description": "The content_details object contains information about the stream, including the closed captions ingestion URL.",
          "$ref": "LiveStreamContentDetails"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "cdn": {
          "description": "The cdn object defines the live stream's content delivery network (CDN) settings. These settings provide details about the manner in which you stream your content to YouTube.",
          "$ref": "CdnSettings"
        },
        "id": {
          "annotations": {
            "required": [
              "youtube.liveStreams.update"
            ]
          },
          "description": "The ID that YouTube assigns to uniquely identify the stream.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#liveStream\".",
          "default": "youtube#liveStream",
          "type": "string"
        },
        "status": {
          "description": "The status object contains information about live stream's status.",
          "$ref": "LiveStreamStatus"
        },
        "snippet": {
          "$ref": "LiveStreamSnippet",
          "description": "The snippet object contains basic details about the stream, including its channel, title, and description."
        }
      },
      "description": "A live stream describes a live ingestion point.",
      "type": "object",
      "id": "LiveStream"
    },
    "PlaylistSnippet": {
      "properties": {
        "title": {
          "description": "The playlist's title.",
          "type": "string",
          "annotations": {
            "required": [
              "youtube.playlists.insert",
              "youtube.playlists.update"
            ]
          }
        },
        "channelTitle": {
          "type": "string",
          "description": "The channel title of the channel that the video belongs to."
        },
        "defaultLanguage": {
          "type": "string",
          "description": "The language of the playlist's default title and description."
        },
        "thumbnailVideoId": {
          "type": "string",
          "description": "Note: if the playlist has a custom thumbnail, this field will not be populated. The video id selected by the user that will be used as the thumbnail of this playlist. This field defaults to the first publicly viewable video in the playlist, if: 1. The user has never selected a video to be the thumbnail of the playlist. 2. The user selects a video to be the thumbnail, and then removes that video from the playlist. 3. The user selects a non-owned video to be the thumbnail, but that video becomes private, or gets deleted."
        },
        "localized": {
          "$ref": "PlaylistLocalization",
          "description": "Localized title and description, read-only."
        },
        "tags": {
          "description": "Keyword tags associated with the playlist.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "publishedAt": {
          "format": "date-time",
          "type": "string",
          "description": "The date and time that the playlist was created."
        },
        "channelId": {
          "description": "The ID that YouTube uses to uniquely identify the channel that published the playlist.",
          "type": "string"
        },
        "thumbnails": {
          "description": "A map of thumbnail images associated with the playlist. For each object in the map, the key is the name of the thumbnail image, and the value is an object that contains other information about the thumbnail.",
          "$ref": "ThumbnailDetails"
        },
        "description": {
          "description": "The playlist's description.",
          "type": "string"
        }
      },
      "id": "PlaylistSnippet",
      "description": "Basic details about a playlist, including title, description and thumbnails.",
      "type": "object"
    },
    "ChannelStatus": {
      "id": "ChannelStatus",
      "type": "object",
      "description": "JSON template for the status part of a channel.",
      "properties": {
        "madeForKids": {
          "type": "boolean"
        },
        "longUploadsStatus": {
          "enum": [
            "longUploadsUnspecified",
            "allowed",
            "eligible",
            "disallowed"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "description": "The long uploads status of this channel. See https://support.google.com/youtube/answer/71673 for more information.",
          "type": "string"
        },
        "privacyStatus": {
          "enum": [
            "public",
            "unlisted",
            "private"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "description": "Privacy status of the channel."
        },
        "selfDeclaredMadeForKids": {
          "type": "boolean"
        },
        "isLinked": {
          "type": "boolean",
          "description": "If true, then the user is linked to either a YouTube username or G+ account. Otherwise, the user doesn't have a public YouTube identity."
        }
      }
    },
    "ActivityContentDetailsComment": {
      "properties": {
        "resourceId": {
          "description": "The resourceId object contains information that identifies the resource associated with the comment.",
          "$ref": "ResourceId"
        }
      },
      "type": "object",
      "id": "ActivityContentDetailsComment",
      "description": "Information about a resource that received a comment."
    },
    "SubscriptionContentDetails": {
      "type": "object",
      "id": "SubscriptionContentDetails",
      "description": "Details about the content to witch a subscription refers.",
      "properties": {
        "totalItemCount": {
          "format": "uint32",
          "type": "integer",
          "description": "The approximate number of items that the subscription points to."
        },
        "newItemCount": {
          "type": "integer",
          "description": "The number of new items in the subscription since its content was last read.",
          "format": "uint32"
        },
        "activityType": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "The type of activity this subscription is for (only uploads, everything).",
          "type": "string",
          "enum": [
            "subscriptionActivityTypeUnspecified",
            "all",
            "uploads"
          ]
        }
      }
    },
    "ChannelBrandingSettings": {
      "type": "object",
      "properties": {
        "watch": {
          "description": "Branding properties for the watch page.",
          "$ref": "WatchSettings"
        },
        "channel": {
          "$ref": "ChannelSettings",
          "description": "Branding properties for the channel view."
        },
        "hints": {
          "type": "array",
          "description": "Additional experimental branding properties.",
          "items": {
            "$ref": "PropertyValue"
          }
        },
        "image": {
          "$ref": "ImageSettings",
          "description": "Branding properties for branding images."
        }
      },
      "id": "ChannelBrandingSettings",
      "description": "Branding properties of a YouTube channel."
    },
    "ContentRating": {
      "id": "ContentRating",
      "type": "object",
      "properties": {
        "grfilmRating": {
          "enum": [
            "grfilmUnspecified",
            "grfilmK",
            "grfilmE",
            "grfilmK12",
            "grfilmK13",
            "grfilmK15",
            "grfilmK17",
            "grfilmK18",
            "grfilmUnrated"
          ],
          "description": "The video's rating in Greece.",
          "type": "string",
          "enumDescriptions": [
            "",
            "K",
            "E",
            "K-12",
            "K-13",
            "K-15",
            "K-17",
            "K-18",
            ""
          ]
        },
        "nmcRating": {
          "enum": [
            "nmcUnspecified",
            "nmcG",
            "nmcPg",
            "nmcPg13",
            "nmcPg15",
            "nmc15plus",
            "nmc18plus",
            "nmc18tc",
            "nmcUnrated"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "G",
            "PG",
            "PG-13",
            "PG-15",
            "15+",
            "18+",
            "18TC",
            ""
          ],
          "description": "The National Media Council ratings system for United Arab Emirates."
        },
        "acbRating": {
          "description": "The video's Australian Classification Board (ACB) or Australian Communications and Media Authority (ACMA) rating. ACMA ratings are used to classify children's television programming.",
          "enumDescriptions": [
            "",
            "E",
            "Programs that have been given a P classification by the Australian Communications and Media Authority. These programs are intended for preschool children.",
            "Programs that have been given a C classification by the Australian Communications and Media Authority. These programs are intended for children (other than preschool children) who are younger than 14 years of age.",
            "G",
            "PG",
            "M",
            "MA15+",
            "R18+",
            ""
          ],
          "type": "string",
          "enum": [
            "acbUnspecified",
            "acbE",
            "acbP",
            "acbC",
            "acbG",
            "acbPg",
            "acbM",
            "acbMa15plus",
            "acbR18plus",
            "acbUnrated"
          ]
        },
        "smsaRating": {
          "enum": [
            "smsaUnspecified",
            "smsaA",
            "smsa7",
            "smsa11",
            "smsa15",
            "smsaUnrated"
          ],
          "description": "The video's rating from Statens medieråd (Sweden's National Media Council).",
          "enumDescriptions": [
            "",
            "All ages",
            "7",
            "11",
            "15",
            ""
          ],
          "type": "string"
        },
        "cscfRating": {
          "enum": [
            "cscfUnspecified",
            "cscfAl",
            "cscfA",
            "cscf6",
            "cscf9",
            "cscf12",
            "cscf16",
            "cscf18",
            "cscfUnrated"
          ],
          "enumDescriptions": [
            "",
            "AL",
            "A",
            "6",
            "9",
            "12",
            "16",
            "18",
            ""
          ],
          "description": "The video's rating from Luxembourg's Commission de surveillance de la classification des films (CSCF).",
          "type": "string"
        },
        "catvfrRating": {
          "description": "The video's rating from the Canadian Radio-Television and Telecommunications Commission (CRTC) for Canadian French-language broadcasts. For more information, see the Canadian Broadcast Standards Council website.",
          "enumDescriptions": [
            "",
            "G",
            "8+",
            "13+",
            "16+",
            "18+",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "catvfrUnspecified",
            "catvfrG",
            "catvfr8plus",
            "catvfr13plus",
            "catvfr16plus",
            "catvfr18plus",
            "catvfrUnrated",
            "catvfrE"
          ]
        },
        "cncRating": {
          "type": "string",
          "enum": [
            "cncUnspecified",
            "cncT",
            "cnc10",
            "cnc12",
            "cnc16",
            "cnc18",
            "cncE",
            "cncInterdiction",
            "cncUnrated"
          ],
          "description": "Rating system in France - Commission de classification cinematographique",
          "enumDescriptions": [
            "",
            "T",
            "10",
            "12",
            "16",
            "18",
            "E",
            "interdiction",
            ""
          ]
        },
        "csaRating": {
          "enum": [
            "csaUnspecified",
            "csaT",
            "csa10",
            "csa12",
            "csa16",
            "csa18",
            "csaInterdiction",
            "csaUnrated"
          ],
          "description": "The video's rating from France's Conseil supérieur de l’audiovisuel, which rates broadcast content.",
          "type": "string",
          "enumDescriptions": [
            "",
            "T",
            "10",
            "12",
            "16",
            "18",
            "Interdiction",
            ""
          ]
        },
        "kmrbRating": {
          "type": "string",
          "description": "The video's Korea Media Rating Board (영상물등급위원회) rating. The KMRB rates videos in South Korea.",
          "enumDescriptions": [
            "",
            "전체관람가",
            "12세 이상 관람가",
            "15세 이상 관람가",
            "",
            "청소년 관람불가",
            ""
          ],
          "enum": [
            "kmrbUnspecified",
            "kmrbAll",
            "kmrb12plus",
            "kmrb15plus",
            "kmrbTeenr",
            "kmrbR",
            "kmrbUnrated"
          ]
        },
        "eirinRating": {
          "enum": [
            "eirinUnspecified",
            "eirinG",
            "eirinPg12",
            "eirinR15plus",
            "eirinR18plus",
            "eirinUnrated"
          ],
          "enumDescriptions": [
            "",
            "G",
            "PG-12",
            "R15+",
            "R18+",
            ""
          ],
          "type": "string",
          "description": "The video's Eirin (映倫) rating. Eirin is the Japanese rating system."
        },
        "russiaRating": {
          "enum": [
            "russiaUnspecified",
            "russia0",
            "russia6",
            "russia12",
            "russia16",
            "russia18",
            "russiaUnrated"
          ],
          "description": "The video's National Film Registry of the Russian Federation (MKRF - Russia) rating.",
          "type": "string",
          "enumDescriptions": [
            "",
            "0+",
            "6+",
            "12+",
            "16+",
            "18+",
            ""
          ]
        },
        "fcbmRating": {
          "enum": [
            "fcbmUnspecified",
            "fcbmU",
            "fcbmPg13",
            "fcbmP13",
            "fcbm18",
            "fcbm18sx",
            "fcbm18pa",
            "fcbm18sg",
            "fcbm18pl",
            "fcbmUnrated"
          ],
          "enumDescriptions": [
            "",
            "U",
            "PG13",
            "P13",
            "18",
            "18SX",
            "18PA",
            "18SG",
            "18PL",
            ""
          ],
          "type": "string",
          "description": "The video's rating from Malaysia's Film Censorship Board."
        },
        "mekuRating": {
          "enum": [
            "mekuUnspecified",
            "mekuS",
            "meku7",
            "meku12",
            "meku16",
            "meku18",
            "mekuUnrated"
          ],
          "type": "string",
          "description": "The video's rating from Finland's Kansallinen Audiovisuaalinen Instituutti (National Audiovisual Institute).",
          "enumDescriptions": [
            "",
            "S",
            "7",
            "12",
            "16",
            "18",
            ""
          ]
        },
        "oflcRating": {
          "type": "string",
          "enumDescriptions": [
            "",
            "G",
            "PG",
            "M",
            "R13",
            "R15",
            "R16",
            "R18",
            "",
            "RP13",
            "RP16",
            "RP18"
          ],
          "enum": [
            "oflcUnspecified",
            "oflcG",
            "oflcPg",
            "oflcM",
            "oflcR13",
            "oflcR15",
            "oflcR16",
            "oflcR18",
            "oflcUnrated",
            "oflcRp13",
            "oflcRp16",
            "oflcRp18"
          ],
          "description": "The video's Office of Film and Literature Classification (OFLC - New Zealand) rating."
        },
        "czfilmRating": {
          "enumDescriptions": [
            "",
            "U",
            "12",
            "14",
            "18",
            ""
          ],
          "description": "The video's rating in the Czech Republic.",
          "enum": [
            "czfilmUnspecified",
            "czfilmU",
            "czfilm12",
            "czfilm14",
            "czfilm18",
            "czfilmUnrated"
          ],
          "type": "string"
        },
        "smaisRating": {
          "type": "string",
          "enum": [
            "smaisUnspecified",
            "smaisL",
            "smais7",
            "smais12",
            "smais14",
            "smais16",
            "smais18",
            "smaisUnrated"
          ],
          "description": "The video's rating in Iceland.",
          "enumDescriptions": [
            "",
            "L",
            "7",
            "12",
            "14",
            "16",
            "18",
            ""
          ]
        },
        "cceRating": {
          "type": "string",
          "description": "The video's rating from Portugal's Comissão de Classificação de Espect´culos.",
          "enum": [
            "cceUnspecified",
            "cceM4",
            "cceM6",
            "cceM12",
            "cceM16",
            "cceM18",
            "cceUnrated",
            "cceM14"
          ],
          "enumDescriptions": [
            "",
            "4",
            "6",
            "12",
            "16",
            "18",
            "",
            "14"
          ]
        },
        "mibacRating": {
          "description": "The video's rating from the Ministero dei Beni e delle Attività Culturali e del Turismo (Italy).",
          "enum": [
            "mibacUnspecified",
            "mibacT",
            "mibacVap",
            "mibacVm6",
            "mibacVm12",
            "mibacVm14",
            "mibacVm16",
            "mibacVm18",
            "mibacUnrated"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "eefilmRating": {
          "description": "The video's rating in Estonia.",
          "enumDescriptions": [
            "",
            "Pere",
            "L",
            "MS-6",
            "K-6",
            "MS-12",
            "K-12",
            "K-14",
            "K-16",
            ""
          ],
          "enum": [
            "eefilmUnspecified",
            "eefilmPere",
            "eefilmL",
            "eefilmMs6",
            "eefilmK6",
            "eefilmMs12",
            "eefilmK12",
            "eefilmK14",
            "eefilmK16",
            "eefilmUnrated"
          ],
          "type": "string"
        },
        "agcomRating": {
          "description": "The video's rating from Italy's Autorità per le Garanzie nelle Comunicazioni (AGCOM).",
          "enum": [
            "agcomUnspecified",
            "agcomT",
            "agcomVm14",
            "agcomVm18",
            "agcomUnrated"
          ],
          "enumDescriptions": [
            "",
            "T",
            "VM14",
            "VM18",
            ""
          ],
          "type": "string"
        },
        "cbfcRating": {
          "enum": [
            "cbfcUnspecified",
            "cbfcU",
            "cbfcUA",
            "cbfcUA7plus",
            "cbfcUA13plus",
            "cbfcUA16plus",
            "cbfcA",
            "cbfcS",
            "cbfcUnrated"
          ],
          "enumDescriptions": [
            "",
            "U",
            "U/A",
            "U/A 7+",
            "U/A 13+",
            "U/A 16+",
            "A",
            "S",
            ""
          ],
          "type": "string",
          "description": "The video's Central Board of Film Certification (CBFC - India) rating."
        },
        "resorteviolenciaRating": {
          "enumDescriptions": [
            "",
            "A",
            "B",
            "C",
            "D",
            "E",
            ""
          ],
          "description": "The video's rating in Venezuela.",
          "enum": [
            "resorteviolenciaUnspecified",
            "resorteviolenciaA",
            "resorteviolenciaB",
            "resorteviolenciaC",
            "resorteviolenciaD",
            "resorteviolenciaE",
            "resorteviolenciaUnrated"
          ],
          "type": "string"
        },
        "fmocRating": {
          "enumDescriptions": [
            "",
            "U",
            "10",
            "12",
            "16",
            "18",
            "E",
            ""
          ],
          "enum": [
            "fmocUnspecified",
            "fmocU",
            "fmoc10",
            "fmoc12",
            "fmoc16",
            "fmoc18",
            "fmocE",
            "fmocUnrated"
          ],
          "description": "This property has been deprecated. Use the contentDetails.contentRating.cncRating instead.",
          "type": "string"
        },
        "catvRating": {
          "enum": [
            "catvUnspecified",
            "catvC",
            "catvC8",
            "catvG",
            "catvPg",
            "catv14plus",
            "catv18plus",
            "catvUnrated",
            "catvE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "C",
            "C8",
            "G",
            "PG",
            "14+",
            "18+",
            "",
            ""
          ],
          "description": "Rating system for Canadian TV - Canadian TV Classification System The video's rating from the Canadian Radio-Television and Telecommunications Commission (CRTC) for Canadian English-language broadcasts. For more information, see the Canadian Broadcast Standards Council website."
        },
        "nfrcRating": {
          "description": "The video's rating from the Bulgarian National Film Center.",
          "type": "string",
          "enum": [
            "nfrcUnspecified",
            "nfrcA",
            "nfrcB",
            "nfrcC",
            "nfrcD",
            "nfrcX",
            "nfrcUnrated"
          ],
          "enumDescriptions": [
            "",
            "A",
            "B",
            "C",
            "D",
            "X",
            ""
          ]
        },
        "cnaRating": {
          "type": "string",
          "enumDescriptions": [
            "",
            "AP",
            "12",
            "15",
            "18",
            "18+",
            ""
          ],
          "enum": [
            "cnaUnspecified",
            "cnaAp",
            "cna12",
            "cna15",
            "cna18",
            "cna18plus",
            "cnaUnrated"
          ],
          "description": "The video's rating from Romania's CONSILIUL NATIONAL AL AUDIOVIZUALULUI (CNA)."
        },
        "mpaatRating": {
          "enum": [
            "mpaatUnspecified",
            "mpaatGb",
            "mpaatRb"
          ],
          "enumDescriptions": [
            "",
            "GB",
            "RB"
          ],
          "description": "The rating system for trailer, DVD, and Ad in the US. See http://movielabs.com/md/ratings/v2.3/html/US_MPAAT_Ratings.html.",
          "type": "string"
        },
        "chvrsRating": {
          "type": "string",
          "enumDescriptions": [
            "",
            "G",
            "PG",
            "14A",
            "18A",
            "R",
            "E",
            ""
          ],
          "description": "The video's Canadian Home Video Rating System (CHVRS) rating.",
          "enum": [
            "chvrsUnspecified",
            "chvrsG",
            "chvrsPg",
            "chvrs14a",
            "chvrs18a",
            "chvrsR",
            "chvrsE",
            "chvrsUnrated"
          ]
        },
        "rtcRating": {
          "description": "The video's General Directorate of Radio, Television and Cinematography (Mexico) rating.",
          "enum": [
            "rtcUnspecified",
            "rtcAa",
            "rtcA",
            "rtcB",
            "rtcB15",
            "rtcC",
            "rtcD",
            "rtcUnrated"
          ],
          "enumDescriptions": [
            "",
            "AA",
            "A",
            "B",
            "B15",
            "C",
            "D",
            ""
          ],
          "type": "string"
        },
        "pefilmRating": {
          "enum": [
            "pefilmUnspecified",
            "pefilmPt",
            "pefilmPg",
            "pefilm14",
            "pefilm18",
            "pefilmUnrated"
          ],
          "enumDescriptions": [
            "",
            "PT",
            "PG",
            "14",
            "18",
            ""
          ],
          "description": "The video's rating in Peru.",
          "type": "string"
        },
        "lsfRating": {
          "enumDescriptions": [
            "",
            "SU",
            "A",
            "BO",
            "13",
            "R",
            "17",
            "D",
            "21",
            ""
          ],
          "enum": [
            "lsfUnspecified",
            "lsfSu",
            "lsfA",
            "lsfBo",
            "lsf13",
            "lsfR",
            "lsf17",
            "lsfD",
            "lsf21",
            "lsfUnrated"
          ],
          "type": "string",
          "description": "The video's rating from Indonesia's Lembaga Sensor Film."
        },
        "djctqRating": {
          "enum": [
            "djctqUnspecified",
            "djctqL",
            "djctq10",
            "djctq12",
            "djctq14",
            "djctq16",
            "djctq18",
            "djctqEr",
            "djctqL10",
            "djctqL12",
            "djctqL14",
            "djctqL16",
            "djctqL18",
            "djctq1012",
            "djctq1014",
            "djctq1016",
            "djctq1018",
            "djctq1214",
            "djctq1216",
            "djctq1218",
            "djctq1416",
            "djctq1418",
            "djctq1618",
            "djctqUnrated"
          ],
          "description": "The video's Departamento de Justiça, Classificação, Qualificação e Títulos (DJCQT - Brazil) rating.",
          "type": "string",
          "enumDescriptions": [
            "",
            "L",
            "10",
            "12",
            "14",
            "16",
            "18",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "moctwRating": {
          "enumDescriptions": [
            "",
            "G",
            "P",
            "PG",
            "R",
            "",
            "R-12",
            "R-15"
          ],
          "type": "string",
          "enum": [
            "moctwUnspecified",
            "moctwG",
            "moctwP",
            "moctwPg",
            "moctwR",
            "moctwUnrated",
            "moctwR12",
            "moctwR15"
          ],
          "description": "The video's rating from Taiwan's Ministry of Culture (文化部)."
        },
        "ilfilmRating": {
          "type": "string",
          "enumDescriptions": [
            "",
            "AA",
            "12",
            "14",
            "16",
            "18",
            ""
          ],
          "enum": [
            "ilfilmUnspecified",
            "ilfilmAa",
            "ilfilm12",
            "ilfilm14",
            "ilfilm16",
            "ilfilm18",
            "ilfilmUnrated"
          ],
          "description": "The video's rating in Israel."
        },
        "mdaRating": {
          "description": "The video's rating from Singapore's Media Development Authority (MDA) and, specifically, it's Board of Film Censors (BFC).",
          "enum": [
            "mdaUnspecified",
            "mdaG",
            "mdaPg",
            "mdaPg13",
            "mdaNc16",
            "mdaM18",
            "mdaR21",
            "mdaUnrated"
          ],
          "enumDescriptions": [
            "",
            "G",
            "PG",
            "PG13",
            "NC16",
            "M18",
            "R21",
            ""
          ],
          "type": "string"
        },
        "skfilmRating": {
          "enum": [
            "skfilmUnspecified",
            "skfilmG",
            "skfilmP2",
            "skfilmP5",
            "skfilmP8",
            "skfilmUnrated"
          ],
          "description": "The video's rating in Slovakia.",
          "type": "string",
          "enumDescriptions": [
            "",
            "G",
            "P2",
            "P5",
            "P8",
            ""
          ]
        },
        "bfvcRating": {
          "enumDescriptions": [
            "",
            "G",
            "E",
            "13",
            "15",
            "18",
            "20",
            "B",
            ""
          ],
          "description": "The video's rating from Thailand's Board of Film and Video Censors.",
          "enum": [
            "bfvcUnspecified",
            "bfvcG",
            "bfvcE",
            "bfvc13",
            "bfvc15",
            "bfvc18",
            "bfvc20",
            "bfvcB",
            "bfvcUnrated"
          ],
          "type": "string"
        },
        "mccypRating": {
          "description": "The video's rating from the Danish Film Institute's (Det Danske Filminstitut) Media Council for Children and Young People.",
          "enumDescriptions": [
            "",
            "A",
            "7",
            "11",
            "15",
            ""
          ],
          "enum": [
            "mccypUnspecified",
            "mccypA",
            "mccyp7",
            "mccyp11",
            "mccyp15",
            "mccypUnrated"
          ],
          "type": "string"
        },
        "bmukkRating": {
          "enumDescriptions": [
            "",
            "Unrestricted",
            "6+",
            "8+",
            "10+",
            "12+",
            "14+",
            "16+",
            ""
          ],
          "enum": [
            "bmukkUnspecified",
            "bmukkAa",
            "bmukk6",
            "bmukk8",
            "bmukk10",
            "bmukk12",
            "bmukk14",
            "bmukk16",
            "bmukkUnrated"
          ],
          "description": "The video's rating from the Austrian Board of Media Classification (Bundesministerium für Unterricht, Kunst und Kultur).",
          "type": "string"
        },
        "nfvcbRating": {
          "description": "The video's rating from Nigeria's National Film and Video Censors Board.",
          "enumDescriptions": [
            "",
            "G",
            "PG",
            "12",
            "12A",
            "15",
            "18",
            "RE",
            ""
          ],
          "enum": [
            "nfvcbUnspecified",
            "nfvcbG",
            "nfvcbPg",
            "nfvcb12",
            "nfvcb12a",
            "nfvcb15",
            "nfvcb18",
            "nfvcbRe",
            "nfvcbUnrated"
          ],
          "type": "string"
        },
        "mpaaRating": {
          "type": "string",
          "enumDescriptions": [
            "",
            "G",
            "PG",
            "PG-13",
            "R",
            "NC-17",
            "! X",
            ""
          ],
          "enum": [
            "mpaaUnspecified",
            "mpaaG",
            "mpaaPg",
            "mpaaPg13",
            "mpaaR",
            "mpaaNc17",
            "mpaaX",
            "mpaaUnrated"
          ],
          "description": "The video's Motion Picture Association of America (MPAA) rating."
        },
        "tvpgRating": {
          "description": "The video's TV Parental Guidelines (TVPG) rating.",
          "enumDescriptions": [
            "",
            "TV-Y",
            "TV-Y7",
            "TV-Y7-FV",
            "TV-G",
            "TV-PG",
            "TV-14",
            "TV-MA",
            ""
          ],
          "type": "string",
          "enum": [
            "tvpgUnspecified",
            "tvpgY",
            "tvpgY7",
            "tvpgY7Fv",
            "tvpgG",
            "tvpgPg",
            "pg14",
            "tvpgMa",
            "tvpgUnrated"
          ]
        },
        "fpbRatingReasons": {
          "items": {
            "enum": [
              "fpbRatingReasonUnspecified",
              "fpbBlasphemy",
              "fpbLanguage",
              "fpbNudity",
              "fpbPrejudice",
              "fpbSex",
              "fpbViolence",
              "fpbDrugs",
              "fpbSexualViolence",
              "fpbHorror",
              "fpbCriminalTechniques",
              "fpbImitativeActsTechniques"
            ],
            "enumDescriptions": [
              "",
              "South Africa rating content descriptors.",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "type": "string"
          },
          "description": "Reasons that explain why the video received its FPB (South Africa) rating.",
          "type": "array"
        },
        "mtrcbRating": {
          "description": "The video's rating from the Movie and Television Review and Classification Board (Philippines).",
          "enumDescriptions": [
            "",
            "G",
            "PG",
            "R-13",
            "R-16",
            "R-18",
            "X",
            ""
          ],
          "type": "string",
          "enum": [
            "mtrcbUnspecified",
            "mtrcbG",
            "mtrcbPg",
            "mtrcbR13",
            "mtrcbR16",
            "mtrcbR18",
            "mtrcbX",
            "mtrcbUnrated"
          ]
        },
        "ifcoRating": {
          "type": "string",
          "enum": [
            "ifcoUnspecified",
            "ifcoG",
            "ifcoPg",
            "ifco12",
            "ifco12a",
            "ifco15",
            "ifco15a",
            "ifco16",
            "ifco18",
            "ifcoUnrated"
          ],
          "description": "The video's Irish Film Classification Office (IFCO - Ireland) rating. See the IFCO website for more information.",
          "enumDescriptions": [
            "",
            "G",
            "PG",
            "12",
            "12A",
            "15",
            "15A",
            "16",
            "18",
            ""
          ]
        },
        "nbcRating": {
          "enumDescriptions": [
            "",
            "G",
            "PG",
            "12+",
            "15+",
            "18+",
            "18+R",
            "PU",
            ""
          ],
          "description": "The video's rating from the Maldives National Bureau of Classification.",
          "type": "string",
          "enum": [
            "nbcUnspecified",
            "nbcG",
            "nbcPg",
            "nbc12plus",
            "nbc15plus",
            "nbc18plus",
            "nbc18plusr",
            "nbcPu",
            "nbcUnrated"
          ]
        },
        "anatelRating": {
          "type": "string",
          "enumDescriptions": [
            "",
            "F",
            "I",
            "I-7",
            "I-10",
            "I-12",
            "R",
            "A",
            ""
          ],
          "enum": [
            "anatelUnspecified",
            "anatelF",
            "anatelI",
            "anatelI7",
            "anatelI10",
            "anatelI12",
            "anatelR",
            "anatelA",
            "anatelUnrated"
          ],
          "description": "The video's Anatel (Asociación Nacional de Televisión) rating for Chilean television."
        },
        "mcstRating": {
          "enumDescriptions": [
            "",
            "P",
            "0",
            "C13",
            "C16",
            "16+",
            "C18",
            "MCST_G_PG",
            ""
          ],
          "type": "string",
          "description": "The video's rating system for Vietnam - MCST",
          "enum": [
            "mcstUnspecified",
            "mcstP",
            "mcst0",
            "mcstC13",
            "mcstC16",
            "mcst16plus",
            "mcstC18",
            "mcstGPg",
            "mcstUnrated"
          ]
        },
        "bbfcRating": {
          "type": "string",
          "enum": [
            "bbfcUnspecified",
            "bbfcU",
            "bbfcPg",
            "bbfc12a",
            "bbfc12",
            "bbfc15",
            "bbfc18",
            "bbfcR18",
            "bbfcUnrated"
          ],
          "description": "The video's British Board of Film Classification (BBFC) rating.",
          "enumDescriptions": [
            "",
            "U",
            "PG",
            "12A",
            "12",
            "15",
            "18",
            "R18",
            ""
          ]
        },
        "fpbRating": {
          "type": "string",
          "enum": [
            "fpbUnspecified",
            "fpbA",
            "fpbPg",
            "fpb79Pg",
            "fpb1012Pg",
            "fpb13",
            "fpb16",
            "fpb18",
            "fpbX18",
            "fpbXx",
            "fpbUnrated",
            "fpb10"
          ],
          "description": "The video's rating from South Africa's Film and Publication Board.",
          "enumDescriptions": [
            "",
            "A",
            "PG",
            "7-9PG",
            "10-12PG",
            "13",
            "16",
            "18",
            "X18",
            "XX",
            "",
            "10"
          ]
        },
        "rcnofRating": {
          "enum": [
            "rcnofUnspecified",
            "rcnofI",
            "rcnofIi",
            "rcnofIii",
            "rcnofIv",
            "rcnofV",
            "rcnofVi",
            "rcnofUnrated"
          ],
          "description": "The video's rating from the Hungarian Nemzeti Filmiroda, the Rating Committee of the National Office of Film.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "menaMpaaRating": {
          "enum": [
            "menaMpaaUnspecified",
            "menaMpaaG",
            "menaMpaaPg",
            "menaMpaaPg13",
            "menaMpaaR",
            "menaMpaaUnrated"
          ],
          "type": "string",
          "description": "The rating system for MENA countries, a clone of MPAA. It is needed to prevent titles go live w/o additional QC check, since some of them can be inappropriate for the countries at all. See b/33408548 for more details.",
          "enumDescriptions": [
            "",
            "G",
            "PG",
            "PG-13",
            "R",
            "To keep the same enum values as MPAA's items have, skip NC_17."
          ]
        },
        "nbcplRating": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "The video's rating in Poland.",
          "enum": [
            "nbcplUnspecified",
            "nbcplI",
            "nbcplIi",
            "nbcplIii",
            "nbcplIv",
            "nbcpl18plus",
            "nbcplUnrated"
          ],
          "type": "string"
        },
        "mccaaRating": {
          "enum": [
            "mccaaUnspecified",
            "mccaaU",
            "mccaaPg",
            "mccaa12a",
            "mccaa12",
            "mccaa14",
            "mccaa15",
            "mccaa16",
            "mccaa18",
            "mccaaUnrated"
          ],
          "type": "string",
          "description": "The video's rating from Malta's Film Age-Classification Board.",
          "enumDescriptions": [
            "",
            "U",
            "PG",
            "12A",
            "12",
            "14 - this rating was removed from the new classification structure introduced in 2013.",
            "15",
            "16 - this rating was removed from the new classification structure introduced in 2013.",
            "18",
            ""
          ]
        },
        "egfilmRating": {
          "enumDescriptions": [
            "",
            "GN",
            "18",
            "BN",
            ""
          ],
          "type": "string",
          "enum": [
            "egfilmUnspecified",
            "egfilmGn",
            "egfilm18",
            "egfilmBn",
            "egfilmUnrated"
          ],
          "description": "The video's rating in Egypt."
        },
        "fcoRating": {
          "description": "The video's rating from Hong Kong's Office for Film, Newspaper and Article Administration.",
          "type": "string",
          "enumDescriptions": [
            "",
            "I",
            "IIA",
            "IIB",
            "II",
            "III",
            ""
          ],
          "enum": [
            "fcoUnspecified",
            "fcoI",
            "fcoIia",
            "fcoIib",
            "fcoIi",
            "fcoIii",
            "fcoUnrated"
          ]
        },
        "icaaRating": {
          "type": "string",
          "enumDescriptions": [
            "",
            "APTA",
            "7",
            "12",
            "13",
            "16",
            "18",
            "X",
            ""
          ],
          "enum": [
            "icaaUnspecified",
            "icaaApta",
            "icaa7",
            "icaa12",
            "icaa13",
            "icaa16",
            "icaa18",
            "icaaX",
            "icaaUnrated"
          ],
          "description": "The video's Instituto de la Cinematografía y de las Artes Audiovisuales (ICAA - Spain) rating."
        },
        "cccRating": {
          "enum": [
            "cccUnspecified",
            "cccTe",
            "ccc6",
            "ccc14",
            "ccc18",
            "ccc18v",
            "ccc18s",
            "cccUnrated"
          ],
          "type": "string",
          "description": "The video's Consejo de Calificación Cinematográfica (Chile) rating.",
          "enumDescriptions": [
            "",
            "Todo espectador",
            "6+ - Inconveniente para menores de 7 años",
            "14+",
            "18+",
            "18+ - contenido excesivamente violento",
            "18+ - contenido pornográfico",
            ""
          ]
        },
        "medietilsynetRating": {
          "description": "The video's rating from Medietilsynet, the Norwegian Media Authority.",
          "enumDescriptions": [
            "",
            "A",
            "6",
            "7",
            "9",
            "11",
            "12",
            "15",
            "18",
            ""
          ],
          "type": "string",
          "enum": [
            "medietilsynetUnspecified",
            "medietilsynetA",
            "medietilsynet6",
            "medietilsynet7",
            "medietilsynet9",
            "medietilsynet11",
            "medietilsynet12",
            "medietilsynet15",
            "medietilsynet18",
            "medietilsynetUnrated"
          ]
        },
        "nkclvRating": {
          "enum": [
            "nkclvUnspecified",
            "nkclvU",
            "nkclv7plus",
            "nkclv12plus",
            "nkclv16plus",
            "nkclv18plus",
            "nkclvUnrated"
          ],
          "type": "string",
          "description": "The video's rating from the Nacionãlais Kino centrs (National Film Centre of Latvia).",
          "enumDescriptions": [
            "",
            "U",
            "7+",
            "12+",
            "! 16+",
            "18+",
            ""
          ]
        },
        "incaaRating": {
          "description": "The video's INCAA (Instituto Nacional de Cine y Artes Audiovisuales - Argentina) rating.",
          "type": "string",
          "enumDescriptions": [
            "",
            "ATP (Apta para todo publico)",
            "13 (Solo apta para mayores de 13 años)",
            "16 (Solo apta para mayores de 16 años)",
            "18 (Solo apta para mayores de 18 años)",
            "X (Solo apta para mayores de 18 años, de exhibición condicionada)",
            ""
          ],
          "enum": [
            "incaaUnspecified",
            "incaaAtp",
            "incaaSam13",
            "incaaSam16",
            "incaaSam18",
            "incaaC",
            "incaaUnrated"
          ]
        },
        "kijkwijzerRating": {
          "type": "string",
          "description": "The video's NICAM/Kijkwijzer rating from the Nederlands Instituut voor de Classificatie van Audiovisuele Media (Netherlands).",
          "enumDescriptions": [
            "",
            "AL",
            "6",
            "9",
            "12",
            "16",
            "",
            ""
          ],
          "enum": [
            "kijkwijzerUnspecified",
            "kijkwijzerAl",
            "kijkwijzer6",
            "kijkwijzer9",
            "kijkwijzer12",
            "kijkwijzer16",
            "kijkwijzer18",
            "kijkwijzerUnrated"
          ]
        },
        "chfilmRating": {
          "type": "string",
          "enumDescriptions": [
            "",
            "0",
            "6",
            "12",
            "16",
            "18",
            ""
          ],
          "enum": [
            "chfilmUnspecified",
            "chfilm0",
            "chfilm6",
            "chfilm12",
            "chfilm16",
            "chfilm18",
            "chfilmUnrated"
          ],
          "description": "The video's rating in Switzerland."
        },
        "rteRating": {
          "type": "string",
          "description": "The video's rating from Ireland's Raidió Teilifís Éireann.",
          "enum": [
            "rteUnspecified",
            "rteGa",
            "rteCh",
            "rtePs",
            "rteMa",
            "rteUnrated"
          ],
          "enumDescriptions": [
            "",
            "GA",
            "CH",
            "PS",
            "MA",
            ""
          ]
        },
        "ytRating": {
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "ytUnspecified",
            "ytAgeRestricted"
          ],
          "description": "A rating that YouTube uses to identify age-restricted content."
        },
        "ecbmctRating": {
          "enum": [
            "ecbmctUnspecified",
            "ecbmctG",
            "ecbmct7a",
            "ecbmct7plus",
            "ecbmct13a",
            "ecbmct13plus",
            "ecbmct15a",
            "ecbmct15plus",
            "ecbmct18plus",
            "ecbmctUnrated"
          ],
          "description": "Rating system in Turkey - Evaluation and Classification Board of the Ministry of Culture and Tourism",
          "enumDescriptions": [
            "",
            "G",
            "7A",
            "7+",
            "13A",
            "13+",
            "15A",
            "15+",
            "18+",
            ""
          ],
          "type": "string"
        },
        "fskRating": {
          "type": "string",
          "enum": [
            "fskUnspecified",
            "fsk0",
            "fsk6",
            "fsk12",
            "fsk16",
            "fsk18",
            "fskUnrated"
          ],
          "description": "The video's Freiwillige Selbstkontrolle der Filmwirtschaft (FSK - Germany) rating.",
          "enumDescriptions": [
            "",
            "FSK 0",
            "FSK 6",
            "FSK 12",
            "FSK 16",
            "FSK 18",
            ""
          ]
        },
        "mocRating": {
          "enumDescriptions": [
            "",
            "E",
            "T",
            "7",
            "12",
            "15",
            "18",
            "X",
            "Banned",
            ""
          ],
          "enum": [
            "mocUnspecified",
            "mocE",
            "mocT",
            "moc7",
            "moc12",
            "moc15",
            "moc18",
            "mocX",
            "mocBanned",
            "mocUnrated"
          ],
          "description": "The video's Ministerio de Cultura (Colombia) rating.",
          "type": "string"
        },
        "kfcbRating": {
          "type": "string",
          "enumDescriptions": [
            "",
            "GE",
            "PG",
            "16",
            "18",
            ""
          ],
          "enum": [
            "kfcbUnspecified",
            "kfcbG",
            "kfcbPg",
            "kfcb16plus",
            "kfcbR",
            "kfcbUnrated"
          ],
          "description": "The video's rating from the Kenya Film Classification Board."
        },
        "cicfRating": {
          "description": "The video's rating from the Commission de Contrôle des Films (Belgium).",
          "enum": [
            "cicfUnspecified",
            "cicfE",
            "cicfKtEa",
            "cicfKntEna",
            "cicfUnrated"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "E",
            "KT/EA",
            "KNT/ENA",
            ""
          ]
        },
        "djctqRatingReasons": {
          "type": "array",
          "items": {
            "enum": [
              "djctqRatingReasonUnspecified",
              "djctqViolence",
              "djctqExtremeViolence",
              "djctqSexualContent",
              "djctqNudity",
              "djctqSex",
              "djctqExplicitSex",
              "djctqDrugs",
              "djctqLegalDrugs",
              "djctqIllegalDrugs",
              "djctqInappropriateLanguage",
              "djctqCriminalActs",
              "djctqImpactingContent"
            ],
            "type": "string",
            "enumDescriptions": [
              "",
              "Brazil rating content descriptors. See http://go/brazilratings section F. Violência (Violence)",
              "Violência extrema (Extreme violence)",
              "Conteúdo sexual (Sexual content)",
              "Nudez (Nudity)",
              "Sexo (Sex)",
              "Sexo Explícito (Explicit sex)",
              "Drogas (Drugs)",
              "Drogas Lícitas (Legal drugs)",
              "Drogas Ilícitas (Illegal drugs)",
              "Linguagem Imprópria (Inappropriate language)",
              "Atos Criminosos (Criminal Acts)",
              "Conteúdo Impactante (Impacting content)"
            ]
          },
          "description": "Reasons that explain why the video received its DJCQT (Brazil) rating."
        }
      },
      "description": "Ratings schemes. The country-specific ratings are mostly for movies and shows. LINT.IfChange"
    },
    "VideoCategoryListResponse": {
      "properties": {
        "tokenPagination": {
          "$ref": "TokenPagination"
        },
        "pageInfo": {
          "$ref": "PageInfo",
          "description": "General pagination information."
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "prevPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set.",
          "type": "string"
        },
        "kind": {
          "default": "youtube#videoCategoryListResponse",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#videoCategoryListResponse\".",
          "type": "string"
        },
        "eventId": {
          "type": "string",
          "description": "Serialized EventId of the request which produced this response."
        },
        "nextPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set.",
          "type": "string"
        },
        "visitorId": {
          "type": "string",
          "description": "The visitorId identifies the visitor."
        },
        "items": {
          "items": {
            "$ref": "VideoCategory"
          },
          "description": "A list of video categories that can be associated with YouTube videos. In this map, the video category ID is the map key, and its value is the corresponding videoCategory resource.",
          "type": "array"
        }
      },
      "id": "VideoCategoryListResponse",
      "type": "object"
    },
    "MembershipsDetails": {
      "properties": {
        "membershipsDurationAtLevels": {
          "type": "array",
          "items": {
            "$ref": "MembershipsDurationAtLevel"
          },
          "description": "Data about memberships duration on particular pricing levels."
        },
        "highestAccessibleLevel": {
          "type": "string",
          "description": "Id of the highest level that the user has access to at the moment."
        },
        "highestAccessibleLevelDisplayName": {
          "type": "string",
          "description": "Display name for the highest level that the user has access to at the moment."
        },
        "membershipsDuration": {
          "description": "Data about memberships duration without taking into consideration pricing levels.",
          "$ref": "MembershipsDuration"
        },
        "accessibleLevels": {
          "description": "Ids of all levels that the user has access to. This includes the currently active level and all other levels that are included because of a higher purchase.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "MembershipsDetails"
    },
    "I18nRegionSnippet": {
      "description": "Basic details about an i18n region, such as region code and human-readable name.",
      "properties": {
        "gl": {
          "description": "The region code as a 2-letter ISO country code.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The human-readable name of the region."
        }
      },
      "type": "object",
      "id": "I18nRegionSnippet"
    },
    "PropertyValue": {
      "description": "A pair Property / Value.",
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "description": "The property's value."
        },
        "property": {
          "type": "string",
          "description": "A property."
        }
      },
      "id": "PropertyValue"
    },
    "LiveChatFanFundingEventDetails": {
      "type": "object",
      "properties": {
        "userComment": {
          "type": "string",
          "description": "The comment added by the user to this fan funding event."
        },
        "amountMicros": {
          "format": "uint64",
          "description": "The amount of the fund.",
          "type": "string"
        },
        "amountDisplayString": {
          "type": "string",
          "description": "A rendered string that displays the fund amount and currency to the user."
        },
        "currency": {
          "type": "string",
          "description": "The currency in which the fund was made."
        }
      },
      "id": "LiveChatFanFundingEventDetails"
    },
    "LiveChatMemberMilestoneChatDetails": {
      "id": "LiveChatMemberMilestoneChatDetails",
      "type": "object",
      "properties": {
        "memberLevelName": {
          "type": "string",
          "description": "The name of the Level at which the viever is a member. The Level names are defined by the YouTube channel offering the Membership. In some situations this field isn't filled."
        },
        "userComment": {
          "type": "string",
          "description": "The comment added by the member to this Member Milestone Chat. This field is empty for messages without a comment from the member."
        },
        "memberMonth": {
          "description": "The total amount of months (rounded up) the viewer has been a member that granted them this Member Milestone Chat. This is the same number of months as is being displayed to YouTube users.",
          "type": "integer",
          "format": "uint32"
        }
      }
    },
    "LiveChatBan": {
      "type": "object",
      "id": "LiveChatBan",
      "description": "A `__liveChatBan__` resource represents a ban for a YouTube live chat.",
      "properties": {
        "snippet": {
          "description": "The `snippet` object contains basic details about the ban.",
          "$ref": "LiveChatBanSnippet"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "kind": {
          "default": "youtube#liveChatBan",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"youtube#liveChatBan\"`.",
          "type": "string"
        },
        "id": {
          "description": "The ID that YouTube assigns to uniquely identify the ban.",
          "type": "string"
        }
      }
    },
    "CommentThreadReplies": {
      "id": "CommentThreadReplies",
      "type": "object",
      "description": "Comments written in (direct or indirect) reply to the top level comment.",
      "properties": {
        "comments": {
          "type": "array",
          "description": "A limited number of replies. Unless the number of replies returned equals total_reply_count in the snippet the returned replies are only a subset of the total number of replies.",
          "items": {
            "$ref": "Comment"
          }
        }
      }
    },
    "ChannelSection": {
      "id": "ChannelSection",
      "properties": {
        "snippet": {
          "$ref": "ChannelSectionSnippet",
          "description": "The snippet object contains basic details about the channel section, such as its type, style and title."
        },
        "contentDetails": {
          "$ref": "ChannelSectionContentDetails",
          "description": "The contentDetails object contains details about the channel section content, such as a list of playlists or channels featured in the section."
        },
        "localizations": {
          "additionalProperties": {
            "$ref": "ChannelSectionLocalization"
          },
          "description": "Localizations for different languages",
          "type": "object"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "kind": {
          "default": "youtube#channelSection",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#channelSection\".",
          "type": "string"
        },
        "targeting": {
          "description": "The targeting object contains basic targeting settings about the channel section.",
          "$ref": "ChannelSectionTargeting"
        },
        "id": {
          "description": "The ID that YouTube uses to uniquely identify the channel section.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SuperChatEventSnippet": {
      "properties": {
        "superStickerMetadata": {
          "description": "If this event is a Super Sticker event, this field will contain metadata about the Super Sticker.",
          "$ref": "SuperStickerMetadata"
        },
        "currency": {
          "type": "string",
          "description": "The currency in which the purchase was made. ISO 4217."
        },
        "amountMicros": {
          "type": "string",
          "format": "uint64",
          "description": "The purchase amount, in micros of the purchase currency. e.g., 1 is represented as 1000000."
        },
        "createdAt": {
          "format": "date-time",
          "description": "The date and time when the event occurred.",
          "type": "string"
        },
        "messageType": {
          "description": "The tier for the paid message, which is based on the amount of money spent to purchase the message.",
          "format": "uint32",
          "type": "integer"
        },
        "commentText": {
          "type": "string",
          "description": "The text contents of the comment left by the user."
        },
        "isSuperStickerEvent": {
          "description": "True if this event is a Super Sticker event.",
          "type": "boolean"
        },
        "supporterDetails": {
          "$ref": "ChannelProfileDetails",
          "description": "Details about the supporter."
        },
        "channelId": {
          "type": "string",
          "description": "Channel id where the event occurred."
        },
        "displayString": {
          "description": "A rendered string that displays the purchase amount and currency (e.g., \"$1.00\"). The string is rendered for the given language.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "SuperChatEventSnippet"
    },
    "ActivityListResponse": {
      "id": "ActivityListResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set."
        },
        "visitorId": {
          "type": "string",
          "description": "The visitorId identifies the visitor."
        },
        "prevPageToken": {
          "type": "string",
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set."
        },
        "tokenPagination": {
          "$ref": "TokenPagination"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#activityListResponse\".",
          "type": "string",
          "default": "youtube#activityListResponse"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "Activity"
          }
        },
        "eventId": {
          "description": "Serialized EventId of the request which produced this response.",
          "type": "string"
        },
        "pageInfo": {
          "description": "General pagination information.",
          "$ref": "PageInfo"
        }
      },
      "type": "object"
    },
    "SuperStickerMetadata": {
      "properties": {
        "stickerId": {
          "description": "Unique identifier of the Super Sticker. This is a shorter form of the alt_text that includes pack name and a recognizable characteristic of the sticker.",
          "type": "string"
        },
        "altText": {
          "description": "Internationalized alt text that describes the sticker image and any animation associated with it.",
          "type": "string"
        },
        "altTextLanguage": {
          "description": "Specifies the localization language in which the alt text is returned.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "SuperStickerMetadata"
    },
    "GeoPoint": {
      "description": "Geographical coordinates of a point, in WGS84.",
      "type": "object",
      "properties": {
        "longitude": {
          "description": "Longitude in degrees.",
          "format": "double",
          "type": "number"
        },
        "altitude": {
          "type": "number",
          "format": "double",
          "description": "Altitude above the reference ellipsoid, in meters."
        },
        "latitude": {
          "format": "double",
          "type": "number",
          "description": "Latitude in degrees."
        }
      },
      "id": "GeoPoint"
    },
    "LocalizedProperty": {
      "properties": {
        "default": {
          "type": "string"
        },
        "localized": {
          "type": "array",
          "items": {
            "$ref": "LocalizedString"
          }
        },
        "defaultLanguage": {
          "$ref": "LanguageTag",
          "description": "The language of the default property."
        }
      },
      "id": "LocalizedProperty",
      "type": "object"
    },
    "ChannelConversionPings": {
      "type": "object",
      "properties": {
        "pings": {
          "items": {
            "$ref": "ChannelConversionPing"
          },
          "description": "Pings that the app shall fire (authenticated by biscotti cookie). Each ping has a context, in which the app must fire the ping, and a url identifying the ping.",
          "type": "array"
        }
      },
      "description": "The conversionPings object encapsulates information about conversion pings that need to be respected by the channel.",
      "id": "ChannelConversionPings"
    },
    "InvideoPosition": {
      "id": "InvideoPosition",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            ""
          ],
          "description": "Defines the position type.",
          "enum": [
            "corner"
          ]
        },
        "cornerPosition": {
          "enum": [
            "topLeft",
            "topRight",
            "bottomLeft",
            "bottomRight"
          ],
          "description": "Describes in which corner of the video the visual widget will appear.",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        }
      },
      "type": "object",
      "description": "Describes the spatial position of a visual widget inside a video. It is a union of various position types, out of which only will be set one."
    },
    "InvideoBranding": {
      "id": "InvideoBranding",
      "properties": {
        "imageBytes": {
          "format": "byte",
          "description": "The bytes the uploaded image. Only used in api to youtube communication.",
          "type": "string"
        },
        "imageUrl": {
          "description": "The url of the uploaded image. Only used in apiary to api communication.",
          "type": "string"
        },
        "timing": {
          "description": "The temporal position within the video where watermark will be displayed.",
          "$ref": "InvideoTiming"
        },
        "position": {
          "$ref": "InvideoPosition",
          "description": "The spatial position within the video where the branding watermark will be displayed."
        },
        "targetChannelId": {
          "description": "The channel to which this branding links. If not present it defaults to the current channel.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "LINT.IfChange Describes an invideo branding."
    },
    "ActivityContentDetailsPromotedItem": {
      "type": "object",
      "id": "ActivityContentDetailsPromotedItem",
      "properties": {
        "ctaType": {
          "description": "The type of call-to-action, a message to the user indicating action that can be taken.",
          "enum": [
            "ctaTypeUnspecified",
            "visitAdvertiserSite"
          ],
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string"
        },
        "descriptionText": {
          "type": "string",
          "description": "The text description to accompany the promoted item."
        },
        "videoId": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the promoted video."
        },
        "creativeViewUrl": {
          "type": "string",
[...]
