{
  "servicePath": "",
  "documentationLink": "https://developers.google.com/youtube/",
  "id": "youtube:v3",
  "baseUrl": "https://youtube.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "revision": "20201231",
  "version": "v3",
  "rootUrl": "https://youtube.googleapis.com/",
  "basePath": "",
  "parameters": {
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    }
  },
  "name": "youtube",
  "kind": "discovery#restDescription",
  "description": "The YouTube Data API v3 is an API that provides access to YouTube data, such as videos, playlists, and channels.",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "schemas": {
    "ContentRating": {
      "properties": {
        "bbfcRating": {
          "description": "The video's British Board of Film Classification (BBFC) rating.",
          "enumDescriptions": [
            "",
            "U",
            "PG",
            "12A",
            "12",
            "15",
            "18",
            "R18",
            ""
          ],
          "enum": [
            "bbfcUnspecified",
            "bbfcU",
            "bbfcPg",
            "bbfc12a",
            "bbfc12",
            "bbfc15",
            "bbfc18",
            "bbfcR18",
            "bbfcUnrated"
          ],
          "type": "string"
        },
        "csaRating": {
          "description": "The video's rating from France's Conseil supérieur de l’audiovisuel, which rates broadcast content.",
          "type": "string",
          "enum": [
            "csaUnspecified",
            "csaT",
            "csa10",
            "csa12",
            "csa16",
            "csa18",
            "csaInterdiction",
            "csaUnrated"
          ],
          "enumDescriptions": [
            "",
            "T",
            "10",
            "12",
            "16",
            "18",
            "Interdiction",
            ""
          ]
        },
        "resorteviolenciaRating": {
          "description": "The video's rating in Venezuela.",
          "enum": [
            "resorteviolenciaUnspecified",
            "resorteviolenciaA",
            "resorteviolenciaB",
            "resorteviolenciaC",
            "resorteviolenciaD",
            "resorteviolenciaE",
            "resorteviolenciaUnrated"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "A",
            "B",
            "C",
            "D",
            "E",
            ""
          ]
        },
        "nkclvRating": {
          "description": "The video's rating from the Nacionãlais Kino centrs (National Film Centre of Latvia).",
          "enumDescriptions": [
            "",
            "U",
            "7+",
            "12+",
            "! 16+",
            "18+",
            ""
          ],
          "type": "string",
          "enum": [
            "nkclvUnspecified",
            "nkclvU",
            "nkclv7plus",
            "nkclv12plus",
            "nkclv16plus",
            "nkclv18plus",
            "nkclvUnrated"
          ]
        },
        "smsaRating": {
          "enumDescriptions": [
            "",
            "All ages",
            "7",
            "11",
            "15",
            ""
          ],
          "enum": [
            "smsaUnspecified",
            "smsaA",
            "smsa7",
            "smsa11",
            "smsa15",
            "smsaUnrated"
          ],
          "type": "string",
          "description": "The video's rating from Statens medieråd (Sweden's National Media Council)."
        },
        "ecbmctRating": {
          "description": "Rating system in Turkey - Evaluation and Classification Board of the Ministry of Culture and Tourism",
          "enumDescriptions": [
            "",
            "G",
            "7A",
            "7+",
            "13A",
            "13+",
            "15A",
            "15+",
            "18+",
            ""
          ],
          "type": "string",
          "enum": [
            "ecbmctUnspecified",
            "ecbmctG",
            "ecbmct7a",
            "ecbmct7plus",
            "ecbmct13a",
            "ecbmct13plus",
            "ecbmct15a",
            "ecbmct15plus",
            "ecbmct18plus",
            "ecbmctUnrated"
          ]
        },
        "nfrcRating": {
          "description": "The video's rating from the Bulgarian National Film Center.",
          "type": "string",
          "enum": [
            "nfrcUnspecified",
            "nfrcA",
            "nfrcB",
            "nfrcC",
            "nfrcD",
            "nfrcX",
            "nfrcUnrated"
          ],
          "enumDescriptions": [
            "",
            "A",
            "B",
            "C",
            "D",
            "X",
            ""
          ]
        },
        "mdaRating": {
          "enumDescriptions": [
            "",
            "G",
            "PG",
            "PG13",
            "NC16",
            "M18",
            "R21",
            ""
          ],
          "description": "The video's rating from Singapore's Media Development Authority (MDA) and, specifically, it's Board of Film Censors (BFC).",
          "enum": [
            "mdaUnspecified",
            "mdaG",
            "mdaPg",
            "mdaPg13",
            "mdaNc16",
            "mdaM18",
            "mdaR21",
            "mdaUnrated"
          ],
          "type": "string"
        },
        "russiaRating": {
          "enum": [
            "russiaUnspecified",
            "russia0",
            "russia6",
            "russia12",
            "russia16",
            "russia18",
            "russiaUnrated"
          ],
          "enumDescriptions": [
            "",
            "0+",
            "6+",
            "12+",
            "16+",
            "18+",
            ""
          ],
          "description": "The video's National Film Registry of the Russian Federation (MKRF - Russia) rating.",
          "type": "string"
        },
        "smaisRating": {
          "description": "The video's rating in Iceland.",
          "type": "string",
          "enumDescriptions": [
            "",
            "L",
            "7",
            "12",
            "14",
            "16",
            "18",
            ""
          ],
          "enum": [
            "smaisUnspecified",
            "smaisL",
            "smais7",
            "smais12",
            "smais14",
            "smais16",
            "smais18",
            "smaisUnrated"
          ]
        },
        "tvpgRating": {
          "description": "The video's TV Parental Guidelines (TVPG) rating.",
          "enum": [
            "tvpgUnspecified",
            "tvpgY",
            "tvpgY7",
            "tvpgY7Fv",
            "tvpgG",
            "tvpgPg",
            "pg14",
            "tvpgMa",
            "tvpgUnrated"
          ],
          "enumDescriptions": [
            "",
            "TV-Y",
            "TV-Y7",
            "TV-Y7-FV",
            "TV-G",
            "TV-PG",
            "TV-14",
            "TV-MA",
            ""
          ],
          "type": "string"
        },
        "mcstRating": {
          "enumDescriptions": [
            "",
            "P",
            "0",
            "C13",
            "C16",
            "16+",
            "C18",
            "MCST_G_PG",
            ""
          ],
          "type": "string",
          "enum": [
            "mcstUnspecified",
            "mcstP",
            "mcst0",
            "mcstC13",
            "mcstC16",
            "mcst16plus",
            "mcstC18",
            "mcstGPg",
            "mcstUnrated"
          ],
          "description": "The video's rating system for Vietnam - MCST"
        },
        "fskRating": {
          "enum": [
            "fskUnspecified",
            "fsk0",
            "fsk6",
            "fsk12",
            "fsk16",
            "fsk18",
            "fskUnrated"
          ],
          "enumDescriptions": [
            "",
            "FSK 0",
            "FSK 6",
            "FSK 12",
            "FSK 16",
            "FSK 18",
            ""
          ],
          "type": "string",
          "description": "The video's Freiwillige Selbstkontrolle der Filmwirtschaft (FSK - Germany) rating."
        },
        "egfilmRating": {
          "enum": [
            "egfilmUnspecified",
            "egfilmGn",
            "egfilm18",
            "egfilmBn",
            "egfilmUnrated"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "GN",
            "18",
            "BN",
            ""
          ],
          "description": "The video's rating in Egypt."
        },
        "anatelRating": {
          "enumDescriptions": [
            "",
            "F",
            "I",
            "I-7",
            "I-10",
            "I-12",
            "R",
            "A",
            ""
          ],
          "description": "The video's Anatel (Asociación Nacional de Televisión) rating for Chilean television.",
          "enum": [
            "anatelUnspecified",
            "anatelF",
            "anatelI",
            "anatelI7",
            "anatelI10",
            "anatelI12",
            "anatelR",
            "anatelA",
            "anatelUnrated"
          ],
          "type": "string"
        },
        "bmukkRating": {
          "enum": [
            "bmukkUnspecified",
            "bmukkAa",
            "bmukk6",
            "bmukk8",
            "bmukk10",
            "bmukk12",
            "bmukk14",
            "bmukk16",
            "bmukkUnrated"
          ],
          "description": "The video's rating from the Austrian Board of Media Classification (Bundesministerium für Unterricht, Kunst und Kultur).",
          "type": "string",
          "enumDescriptions": [
            "",
            "Unrestricted",
            "6+",
            "8+",
            "10+",
            "12+",
            "14+",
            "16+",
            ""
          ]
        },
        "rtcRating": {
          "enum": [
            "rtcUnspecified",
            "rtcAa",
            "rtcA",
            "rtcB",
            "rtcB15",
            "rtcC",
            "rtcD",
            "rtcUnrated"
          ],
          "description": "The video's General Directorate of Radio, Television and Cinematography (Mexico) rating.",
          "type": "string",
          "enumDescriptions": [
            "",
            "AA",
            "A",
            "B",
            "B15",
            "C",
            "D",
            ""
          ]
        },
        "fcoRating": {
          "type": "string",
          "enum": [
            "fcoUnspecified",
            "fcoI",
            "fcoIia",
            "fcoIib",
            "fcoIi",
            "fcoIii",
            "fcoUnrated"
          ],
          "enumDescriptions": [
            "",
            "I",
            "IIA",
            "IIB",
            "II",
            "III",
            ""
          ],
          "description": "The video's rating from Hong Kong's Office for Film, Newspaper and Article Administration."
        },
        "skfilmRating": {
          "description": "The video's rating in Slovakia.",
          "enum": [
            "skfilmUnspecified",
            "skfilmG",
            "skfilmP2",
            "skfilmP5",
            "skfilmP8",
            "skfilmUnrated"
          ],
          "enumDescriptions": [
            "",
            "G",
            "P2",
            "P5",
            "P8",
            ""
          ],
          "type": "string"
        },
        "eefilmRating": {
          "type": "string",
          "enumDescriptions": [
            "",
            "Pere",
            "L",
            "MS-6",
            "K-6",
            "MS-12",
            "K-12",
            "K-14",
            "K-16",
            ""
          ],
          "description": "The video's rating in Estonia.",
          "enum": [
            "eefilmUnspecified",
            "eefilmPere",
            "eefilmL",
            "eefilmMs6",
            "eefilmK6",
            "eefilmMs12",
            "eefilmK12",
            "eefilmK14",
            "eefilmK16",
            "eefilmUnrated"
          ]
        },
        "catvRating": {
          "enumDescriptions": [
            "",
            "C",
            "C8",
            "G",
            "PG",
            "14+",
            "18+",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "catvUnspecified",
            "catvC",
            "catvC8",
            "catvG",
            "catvPg",
            "catv14plus",
            "catv18plus",
            "catvUnrated",
            "catvE"
          ],
          "description": "Rating system for Canadian TV - Canadian TV Classification System The video's rating from the Canadian Radio-Television and Telecommunications Commission (CRTC) for Canadian English-language broadcasts. For more information, see the Canadian Broadcast Standards Council website."
        },
        "cnaRating": {
          "enumDescriptions": [
            "",
            "AP",
            "12",
            "15",
            "18",
            "18+",
            ""
          ],
          "type": "string",
          "enum": [
            "cnaUnspecified",
            "cnaAp",
            "cna12",
            "cna15",
            "cna18",
            "cna18plus",
            "cnaUnrated"
          ],
          "description": "The video's rating from Romania's CONSILIUL NATIONAL AL AUDIOVIZUALULUI (CNA)."
        },
        "mccaaRating": {
          "type": "string",
          "enumDescriptions": [
            "",
            "U",
            "PG",
            "12A",
            "12",
            "14 - this rating was removed from the new classification structure introduced in 2013.",
            "15",
            "16 - this rating was removed from the new classification structure introduced in 2013.",
            "18",
            ""
          ],
          "description": "The video's rating from Malta's Film Age-Classification Board.",
          "enum": [
            "mccaaUnspecified",
            "mccaaU",
            "mccaaPg",
            "mccaa12a",
            "mccaa12",
            "mccaa14",
            "mccaa15",
            "mccaa16",
            "mccaa18",
            "mccaaUnrated"
          ]
        },
        "ytRating": {
          "type": "string",
          "enum": [
            "ytUnspecified",
            "ytAgeRestricted"
          ],
          "description": "A rating that YouTube uses to identify age-restricted content.",
          "enumDescriptions": [
            "",
            ""
          ]
        },
        "kijkwijzerRating": {
          "enum": [
            "kijkwijzerUnspecified",
            "kijkwijzerAl",
            "kijkwijzer6",
            "kijkwijzer9",
            "kijkwijzer12",
            "kijkwijzer16",
            "kijkwijzer18",
            "kijkwijzerUnrated"
          ],
          "description": "The video's NICAM/Kijkwijzer rating from the Nederlands Instituut voor de Classificatie van Audiovisuele Media (Netherlands).",
          "enumDescriptions": [
            "",
            "AL",
            "6",
            "9",
            "12",
            "16",
            "",
            ""
          ],
          "type": "string"
        },
        "icaaRating": {
          "description": "The video's Instituto de la Cinematografía y de las Artes Audiovisuales (ICAA - Spain) rating.",
          "enumDescriptions": [
            "",
            "APTA",
            "7",
            "12",
            "13",
            "16",
            "18",
            "X",
            ""
          ],
          "type": "string",
          "enum": [
            "icaaUnspecified",
            "icaaApta",
            "icaa7",
            "icaa12",
            "icaa13",
            "icaa16",
            "icaa18",
            "icaaX",
            "icaaUnrated"
          ]
        },
        "eirinRating": {
          "type": "string",
          "description": "The video's Eirin (映倫) rating. Eirin is the Japanese rating system.",
          "enum": [
            "eirinUnspecified",
            "eirinG",
            "eirinPg12",
            "eirinR15plus",
            "eirinR18plus",
            "eirinUnrated"
          ],
          "enumDescriptions": [
            "",
            "G",
            "PG-12",
            "R15+",
            "R18+",
            ""
          ]
        },
        "nbcplRating": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "nbcplUnspecified",
            "nbcplI",
            "nbcplIi",
            "nbcplIii",
            "nbcplIv",
            "nbcpl18plus",
            "nbcplUnrated"
          ],
          "description": "The video's rating in Poland.",
          "type": "string"
        },
        "kmrbRating": {
          "enum": [
            "kmrbUnspecified",
            "kmrbAll",
            "kmrb12plus",
            "kmrb15plus",
            "kmrbTeenr",
            "kmrbR",
            "kmrbUnrated"
          ],
          "enumDescriptions": [
            "",
            "전체관람가",
            "12세 이상 관람가",
            "15세 이상 관람가",
            "",
            "청소년 관람불가",
            ""
          ],
          "type": "string",
          "description": "The video's Korea Media Rating Board (영상물등급위원회) rating. The KMRB rates videos in South Korea."
        },
        "rcnofRating": {
          "enum": [
            "rcnofUnspecified",
            "rcnofI",
            "rcnofIi",
            "rcnofIii",
            "rcnofIv",
            "rcnofV",
            "rcnofVi",
            "rcnofUnrated"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "The video's rating from the Hungarian Nemzeti Filmiroda, the Rating Committee of the National Office of Film.",
          "type": "string"
        },
        "mccypRating": {
          "type": "string",
          "enum": [
            "mccypUnspecified",
            "mccypA",
            "mccyp7",
            "mccyp11",
            "mccyp15",
            "mccypUnrated"
          ],
          "enumDescriptions": [
            "",
            "A",
            "7",
            "11",
            "15",
            ""
          ],
          "description": "The video's rating from the Danish Film Institute's (Det Danske Filminstitut) Media Council for Children and Young People."
        },
        "mpaatRating": {
          "type": "string",
          "enum": [
            "mpaatUnspecified",
            "mpaatGb",
            "mpaatRb"
          ],
          "enumDescriptions": [
            "",
            "GB",
            "RB"
          ],
          "description": "The rating system for trailer, DVD, and Ad in the US. See http://movielabs.com/md/ratings/v2.3/html/US_MPAAT_Ratings.html."
        },
        "chvrsRating": {
          "description": "The video's Canadian Home Video Rating System (CHVRS) rating.",
          "enum": [
            "chvrsUnspecified",
            "chvrsG",
            "chvrsPg",
            "chvrs14a",
            "chvrs18a",
            "chvrsR",
            "chvrsE",
            "chvrsUnrated"
          ],
          "enumDescriptions": [
            "",
            "G",
            "PG",
            "14A",
            "18A",
            "R",
            "E",
            ""
          ],
          "type": "string"
        },
        "bfvcRating": {
          "enumDescriptions": [
            "",
            "G",
            "E",
            "13",
            "15",
            "18",
            "20",
            "B",
            ""
          ],
          "enum": [
            "bfvcUnspecified",
            "bfvcG",
            "bfvcE",
            "bfvc13",
            "bfvc15",
            "bfvc18",
            "bfvc20",
            "bfvcB",
            "bfvcUnrated"
          ],
          "type": "string",
          "description": "The video's rating from Thailand's Board of Film and Video Censors."
        },
        "moctwRating": {
          "enumDescriptions": [
            "",
            "G",
            "P",
            "PG",
            "R",
            "",
            "R-12",
            "R-15"
          ],
          "enum": [
            "moctwUnspecified",
            "moctwG",
            "moctwP",
            "moctwPg",
            "moctwR",
            "moctwUnrated",
            "moctwR12",
            "moctwR15"
          ],
          "type": "string",
          "description": "The video's rating from Taiwan's Ministry of Culture (文化部)."
        },
        "fpbRatingReasons": {
          "type": "array",
          "items": {
            "enum": [
              "fpbRatingReasonUnspecified",
              "fpbBlasphemy",
              "fpbLanguage",
              "fpbNudity",
              "fpbPrejudice",
              "fpbSex",
              "fpbViolence",
              "fpbDrugs",
              "fpbSexualViolence",
              "fpbHorror",
              "fpbCriminalTechniques",
              "fpbImitativeActsTechniques"
            ],
            "enumDescriptions": [
              "",
              "South Africa rating content descriptors.",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "type": "string"
          },
          "description": "Reasons that explain why the video received its FPB (South Africa) rating."
        },
        "incaaRating": {
          "enumDescriptions": [
            "",
            "ATP (Apta para todo publico)",
            "13 (Solo apta para mayores de 13 años)",
            "16 (Solo apta para mayores de 16 años)",
            "18 (Solo apta para mayores de 18 años)",
            "X (Solo apta para mayores de 18 años, de exhibición condicionada)",
            ""
          ],
          "description": "The video's INCAA (Instituto Nacional de Cine y Artes Audiovisuales - Argentina) rating.",
          "enum": [
            "incaaUnspecified",
            "incaaAtp",
            "incaaSam13",
            "incaaSam16",
            "incaaSam18",
            "incaaC",
            "incaaUnrated"
          ],
          "type": "string"
        },
        "ifcoRating": {
          "description": "The video's Irish Film Classification Office (IFCO - Ireland) rating. See the IFCO website for more information.",
          "enum": [
            "ifcoUnspecified",
            "ifcoG",
            "ifcoPg",
            "ifco12",
            "ifco12a",
            "ifco15",
            "ifco15a",
            "ifco16",
            "ifco18",
            "ifcoUnrated"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "G",
            "PG",
            "12",
            "12A",
            "15",
            "15A",
            "16",
            "18",
            ""
          ]
        },
        "grfilmRating": {
          "enumDescriptions": [
            "",
            "K",
            "E",
            "K-12",
            "K-13",
            "K-15",
            "K-17",
            "K-18",
            ""
          ],
          "description": "The video's rating in Greece.",
          "type": "string",
          "enum": [
            "grfilmUnspecified",
            "grfilmK",
            "grfilmE",
            "grfilmK12",
            "grfilmK13",
            "grfilmK15",
            "grfilmK17",
            "grfilmK18",
            "grfilmUnrated"
          ]
        },
        "cicfRating": {
          "enumDescriptions": [
            "",
            "E",
            "KT/EA",
            "KNT/ENA",
            ""
          ],
          "enum": [
            "cicfUnspecified",
            "cicfE",
            "cicfKtEa",
            "cicfKntEna",
            "cicfUnrated"
          ],
          "type": "string",
          "description": "The video's rating from the Commission de Contrôle des Films (Belgium)."
        },
        "mpaaRating": {
          "description": "The video's Motion Picture Association of America (MPAA) rating.",
          "type": "string",
          "enum": [
            "mpaaUnspecified",
            "mpaaG",
            "mpaaPg",
            "mpaaPg13",
            "mpaaR",
            "mpaaNc17",
            "mpaaX",
            "mpaaUnrated"
          ],
          "enumDescriptions": [
            "",
            "G",
            "PG",
            "PG-13",
            "R",
            "NC-17",
            "! X",
            ""
          ]
        },
        "menaMpaaRating": {
          "description": "The rating system for MENA countries, a clone of MPAA. It is needed to prevent titles go live w/o additional QC check, since some of them can be inappropriate for the countries at all. See b/33408548 for more details.",
          "type": "string",
          "enumDescriptions": [
            "",
            "G",
            "PG",
            "PG-13",
            "R",
            "To keep the same enum values as MPAA's items have, skip NC_17."
          ],
          "enum": [
            "menaMpaaUnspecified",
            "menaMpaaG",
            "menaMpaaPg",
            "menaMpaaPg13",
            "menaMpaaR",
            "menaMpaaUnrated"
          ]
        },
        "cncRating": {
          "description": "Rating system in France - Commission de classification cinematographique",
          "enum": [
            "cncUnspecified",
            "cncT",
            "cnc10",
            "cnc12",
            "cnc16",
            "cnc18",
            "cncE",
            "cncInterdiction",
            "cncUnrated"
          ],
          "enumDescriptions": [
            "",
            "T",
            "10",
            "12",
            "16",
            "18",
            "E",
            "interdiction",
            ""
          ],
          "type": "string"
        },
        "nmcRating": {
          "type": "string",
          "enum": [
            "nmcUnspecified",
            "nmcG",
            "nmcPg",
            "nmcPg13",
            "nmcPg15",
            "nmc15plus",
            "nmc18plus",
            "nmc18tc",
            "nmcUnrated"
          ],
          "description": "The National Media Council ratings system for United Arab Emirates.",
          "enumDescriptions": [
            "",
            "G",
            "PG",
            "PG-13",
            "PG-15",
            "15+",
            "18+",
            "18TC",
            ""
          ]
        },
        "nfvcbRating": {
          "enumDescriptions": [
            "",
            "G",
            "PG",
            "12",
            "12A",
            "15",
            "18",
            "RE",
            ""
          ],
          "enum": [
            "nfvcbUnspecified",
            "nfvcbG",
            "nfvcbPg",
            "nfvcb12",
            "nfvcb12a",
            "nfvcb15",
            "nfvcb18",
            "nfvcbRe",
            "nfvcbUnrated"
          ],
          "description": "The video's rating from Nigeria's National Film and Video Censors Board.",
          "type": "string"
        },
        "pefilmRating": {
          "enum": [
            "pefilmUnspecified",
            "pefilmPt",
            "pefilmPg",
            "pefilm14",
            "pefilm18",
            "pefilmUnrated"
          ],
          "enumDescriptions": [
            "",
            "PT",
            "PG",
            "14",
            "18",
            ""
          ],
          "description": "The video's rating in Peru.",
          "type": "string"
        },
        "djctqRating": {
          "description": "The video's Departamento de Justiça, Classificação, Qualificação e Títulos (DJCQT - Brazil) rating.",
          "enum": [
            "djctqUnspecified",
            "djctqL",
            "djctq10",
            "djctq12",
            "djctq14",
            "djctq16",
            "djctq18",
            "djctqEr",
            "djctqL10",
            "djctqL12",
            "djctqL14",
            "djctqL16",
            "djctqL18",
            "djctq1012",
            "djctq1014",
            "djctq1016",
            "djctq1018",
            "djctq1214",
            "djctq1216",
            "djctq1218",
            "djctq1416",
            "djctq1418",
            "djctq1618",
            "djctqUnrated"
          ],
          "enumDescriptions": [
            "",
            "L",
            "10",
            "12",
            "14",
            "16",
            "18",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "lsfRating": {
          "enumDescriptions": [
            "",
            "SU",
            "A",
            "BO",
            "13",
            "R",
            "17",
            "D",
            "21",
            ""
          ],
          "type": "string",
          "enum": [
            "lsfUnspecified",
            "lsfSu",
            "lsfA",
            "lsfBo",
            "lsf13",
            "lsfR",
            "lsf17",
            "lsfD",
            "lsf21",
            "lsfUnrated"
          ],
          "description": "The video's rating from Indonesia's Lembaga Sensor Film."
        },
        "djctqRatingReasons": {
          "items": {
            "enum": [
              "djctqRatingReasonUnspecified",
              "djctqViolence",
              "djctqExtremeViolence",
              "djctqSexualContent",
              "djctqNudity",
              "djctqSex",
              "djctqExplicitSex",
              "djctqDrugs",
              "djctqLegalDrugs",
              "djctqIllegalDrugs",
              "djctqInappropriateLanguage",
              "djctqCriminalActs",
              "djctqImpactingContent"
            ],
            "enumDescriptions": [
              "",
              "Brazil rating content descriptors. See http://go/brazilratings section F. Violência (Violence)",
              "Violência extrema (Extreme violence)",
              "Conteúdo sexual (Sexual content)",
              "Nudez (Nudity)",
              "Sexo (Sex)",
              "Sexo Explícito (Explicit sex)",
              "Drogas (Drugs)",
              "Drogas Lícitas (Legal drugs)",
              "Drogas Ilícitas (Illegal drugs)",
              "Linguagem Imprópria (Inappropriate language)",
              "Atos Criminosos (Criminal Acts)",
              "Conteúdo Impactante (Impacting content)"
            ],
            "type": "string"
          },
          "description": "Reasons that explain why the video received its DJCQT (Brazil) rating.",
          "type": "array"
        },
        "fpbRating": {
          "enum": [
            "fpbUnspecified",
            "fpbA",
            "fpbPg",
            "fpb79Pg",
            "fpb1012Pg",
            "fpb13",
            "fpb16",
            "fpb18",
            "fpbX18",
            "fpbXx",
            "fpbUnrated",
            "fpb10"
          ],
          "enumDescriptions": [
            "",
            "A",
            "PG",
            "7-9PG",
            "10-12PG",
            "13",
            "16",
            "18",
            "X18",
            "XX",
            "",
            "10"
          ],
          "description": "The video's rating from South Africa's Film and Publication Board.",
          "type": "string"
        },
        "fcbmRating": {
          "enum": [
            "fcbmUnspecified",
            "fcbmU",
            "fcbmPg13",
            "fcbmP13",
            "fcbm18",
            "fcbm18sx",
            "fcbm18pa",
            "fcbm18sg",
            "fcbm18pl",
            "fcbmUnrated"
          ],
          "type": "string",
          "description": "The video's rating from Malaysia's Film Censorship Board.",
          "enumDescriptions": [
            "",
            "U",
            "PG13",
            "P13",
            "18",
            "18SX",
            "18PA",
            "18SG",
            "18PL",
            ""
          ]
        },
        "cbfcRating": {
          "description": "The video's Central Board of Film Certification (CBFC - India) rating.",
          "enum": [
            "cbfcUnspecified",
            "cbfcU",
            "cbfcUA",
            "cbfcA",
            "cbfcS",
            "cbfcUnrated"
          ],
          "enumDescriptions": [
            "",
            "U",
            "U/A",
            "A",
            "S",
            ""
          ],
          "type": "string"
        },
        "cscfRating": {
          "enum": [
            "cscfUnspecified",
            "cscfAl",
            "cscfA",
            "cscf6",
            "cscf9",
            "cscf12",
            "cscf16",
            "cscf18",
            "cscfUnrated"
          ],
          "description": "The video's rating from Luxembourg's Commission de surveillance de la classification des films (CSCF).",
          "type": "string",
          "enumDescriptions": [
            "",
            "AL",
            "A",
            "6",
            "9",
            "12",
            "16",
            "18",
            ""
          ]
        },
        "medietilsynetRating": {
          "description": "The video's rating from Medietilsynet, the Norwegian Media Authority.",
          "enumDescriptions": [
            "",
            "A",
            "6",
            "7",
            "9",
            "11",
            "12",
            "15",
            "18",
            ""
          ],
          "type": "string",
          "enum": [
            "medietilsynetUnspecified",
            "medietilsynetA",
            "medietilsynet6",
            "medietilsynet7",
            "medietilsynet9",
            "medietilsynet11",
            "medietilsynet12",
            "medietilsynet15",
            "medietilsynet18",
            "medietilsynetUnrated"
          ]
        },
        "oflcRating": {
          "description": "The video's Office of Film and Literature Classification (OFLC - New Zealand) rating.",
          "type": "string",
          "enumDescriptions": [
            "",
            "G",
            "PG",
            "M",
            "R13",
            "R15",
            "R16",
            "R18",
            "",
            "RP13",
            "RP16",
            "RP18"
          ],
          "enum": [
            "oflcUnspecified",
            "oflcG",
            "oflcPg",
            "oflcM",
            "oflcR13",
            "oflcR15",
            "oflcR16",
            "oflcR18",
            "oflcUnrated",
            "oflcRp13",
            "oflcRp16",
            "oflcRp18"
          ]
        },
        "cceRating": {
          "enumDescriptions": [
            "",
            "4",
            "6",
            "12",
            "16",
            "18",
            "",
            "14"
          ],
          "enum": [
            "cceUnspecified",
            "cceM4",
            "cceM6",
            "cceM12",
            "cceM16",
            "cceM18",
            "cceUnrated",
            "cceM14"
          ],
          "description": "The video's rating from Portugal's Comissão de Classificação de Espect´culos.",
          "type": "string"
        },
        "acbRating": {
          "enum": [
            "acbUnspecified",
            "acbE",
            "acbP",
            "acbC",
            "acbG",
            "acbPg",
            "acbM",
            "acbMa15plus",
            "acbR18plus",
            "acbUnrated"
          ],
          "enumDescriptions": [
            "",
            "E",
            "Programs that have been given a P classification by the Australian Communications and Media Authority. These programs are intended for preschool children.",
            "Programs that have been given a C classification by the Australian Communications and Media Authority. These programs are intended for children (other than preschool children) who are younger than 14 years of age.",
            "G",
            "PG",
            "M",
            "MA15+",
            "R18+",
            ""
          ],
          "type": "string",
          "description": "The video's Australian Classification Board (ACB) or Australian Communications and Media Authority (ACMA) rating. ACMA ratings are used to classify children's television programming."
        },
        "czfilmRating": {
          "enum": [
            "czfilmUnspecified",
            "czfilmU",
            "czfilm12",
            "czfilm14",
            "czfilm18",
            "czfilmUnrated"
          ],
          "enumDescriptions": [
            "",
            "U",
            "12",
            "14",
            "18",
            ""
          ],
          "description": "The video's rating in the Czech Republic.",
          "type": "string"
        },
        "ilfilmRating": {
          "enum": [
            "ilfilmUnspecified",
            "ilfilmAa",
            "ilfilm12",
            "ilfilm14",
            "ilfilm16",
            "ilfilm18",
            "ilfilmUnrated"
          ],
          "enumDescriptions": [
            "",
            "AA",
            "12",
            "14",
            "16",
            "18",
            ""
          ],
          "type": "string",
          "description": "The video's rating in Israel."
        },
        "chfilmRating": {
          "type": "string",
          "enum": [
            "chfilmUnspecified",
            "chfilm0",
            "chfilm6",
            "chfilm12",
            "chfilm16",
            "chfilm18",
            "chfilmUnrated"
          ],
          "enumDescriptions": [
            "",
            "0",
            "6",
            "12",
            "16",
            "18",
            ""
          ],
          "description": "The video's rating in Switzerland."
        },
        "catvfrRating": {
          "enumDescriptions": [
            "",
            "G",
            "8+",
            "13+",
            "16+",
            "18+",
            "",
            ""
          ],
          "enum": [
            "catvfrUnspecified",
            "catvfrG",
            "catvfr8plus",
            "catvfr13plus",
            "catvfr16plus",
            "catvfr18plus",
            "catvfrUnrated",
            "catvfrE"
          ],
          "description": "The video's rating from the Canadian Radio-Television and Telecommunications Commission (CRTC) for Canadian French-language broadcasts. For more information, see the Canadian Broadcast Standards Council website.",
          "type": "string"
        },
        "cccRating": {
          "description": "The video's Consejo de Calificación Cinematográfica (Chile) rating.",
          "enum": [
            "cccUnspecified",
            "cccTe",
            "ccc6",
            "ccc14",
            "ccc18",
            "ccc18v",
            "ccc18s",
            "cccUnrated"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "Todo espectador",
            "6+ - Inconveniente para menores de 7 años",
            "14+",
            "18+",
            "18+ - contenido excesivamente violento",
            "18+ - contenido pornográfico",
            ""
          ]
        },
        "kfcbRating": {
          "enumDescriptions": [
            "",
            "GE",
            "PG",
            "16",
            "18",
            ""
          ],
          "description": "The video's rating from the Kenya Film Classification Board.",
          "enum": [
            "kfcbUnspecified",
            "kfcbG",
            "kfcbPg",
            "kfcb16plus",
            "kfcbR",
            "kfcbUnrated"
          ],
          "type": "string"
        },
        "mocRating": {
          "enumDescriptions": [
            "",
            "E",
            "T",
            "7",
            "12",
            "15",
            "18",
            "X",
            "Banned",
            ""
          ],
          "description": "The video's Ministerio de Cultura (Colombia) rating.",
          "enum": [
            "mocUnspecified",
            "mocE",
            "mocT",
            "moc7",
            "moc12",
            "moc15",
            "moc18",
            "mocX",
            "mocBanned",
            "mocUnrated"
          ],
          "type": "string"
        },
        "agcomRating": {
          "type": "string",
          "description": "The video's rating from Italy's Autorità per le Garanzie nelle Comunicazioni (AGCOM).",
          "enumDescriptions": [
            "",
            "T",
            "VM14",
            "VM18",
            ""
          ],
          "enum": [
            "agcomUnspecified",
            "agcomT",
            "agcomVm14",
            "agcomVm18",
            "agcomUnrated"
          ]
        },
        "fmocRating": {
          "enumDescriptions": [
            "",
            "U",
            "10",
            "12",
            "16",
            "18",
            "E",
            ""
          ],
          "type": "string",
          "description": "This property has been deprecated. Use the contentDetails.contentRating.cncRating instead.",
          "enum": [
            "fmocUnspecified",
            "fmocU",
            "fmoc10",
            "fmoc12",
            "fmoc16",
            "fmoc18",
            "fmocE",
            "fmocUnrated"
          ]
        },
        "nbcRating": {
          "type": "string",
          "description": "The video's rating from the Maldives National Bureau of Classification.",
          "enum": [
            "nbcUnspecified",
            "nbcG",
            "nbcPg",
            "nbc12plus",
            "nbc15plus",
            "nbc18plus",
            "nbc18plusr",
            "nbcPu",
            "nbcUnrated"
          ],
          "enumDescriptions": [
            "",
            "G",
            "PG",
            "12+",
            "15+",
            "18+",
            "18+R",
            "PU",
            ""
          ]
        },
        "rteRating": {
          "enum": [
            "rteUnspecified",
            "rteGa",
            "rteCh",
            "rtePs",
            "rteMa",
            "rteUnrated"
          ],
          "description": "The video's rating from Ireland's Raidió Teilifís Éireann.",
          "enumDescriptions": [
            "",
            "GA",
            "CH",
            "PS",
            "MA",
            ""
          ],
          "type": "string"
        },
        "mekuRating": {
          "type": "string",
          "enumDescriptions": [
            "",
            "S",
            "7",
            "12",
            "16",
            "18",
            ""
          ],
          "description": "The video's rating from Finland's Kansallinen Audiovisuaalinen Instituutti (National Audiovisual Institute).",
          "enum": [
            "mekuUnspecified",
            "mekuS",
            "meku7",
            "meku12",
            "meku16",
            "meku18",
            "mekuUnrated"
          ]
        },
        "mibacRating": {
          "enum": [
            "mibacUnspecified",
            "mibacT",
            "mibacVap",
            "mibacVm12",
            "mibacVm14",
            "mibacVm18",
            "mibacUnrated"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "description": "The video's rating from the Ministero dei Beni e delle Attività Culturali e del Turismo (Italy)."
        },
        "mtrcbRating": {
          "enum": [
            "mtrcbUnspecified",
            "mtrcbG",
            "mtrcbPg",
            "mtrcbR13",
            "mtrcbR16",
            "mtrcbR18",
            "mtrcbX",
            "mtrcbUnrated"
          ],
          "type": "string",
          "description": "The video's rating from the Movie and Television Review and Classification Board (Philippines).",
          "enumDescriptions": [
            "",
            "G",
            "PG",
            "R-13",
            "R-16",
            "R-18",
            "X",
            ""
          ]
        }
      },
      "id": "ContentRating",
      "description": "Ratings schemes. The country-specific ratings are mostly for movies and shows. LINT.IfChange",
      "type": "object"
    },
    "SearchResultSnippet": {
      "properties": {
        "channelTitle": {
          "description": "The title of the channel that published the resource that the search result identifies.",
          "type": "string"
        },
        "title": {
          "description": "The title of the search result.",
          "type": "string"
        },
        "thumbnails": {
          "$ref": "ThumbnailDetails",
          "description": "A map of thumbnail images associated with the search result. For each object in the map, the key is the name of the thumbnail image, and the value is an object that contains other information about the thumbnail."
        },
        "description": {
          "type": "string",
          "description": "A description of the search result."
        },
        "publishedAt": {
          "description": "The creation date and time of the resource that the search result identifies. The value is specified in ISO 8601 format.",
          "type": "string"
        },
        "liveBroadcastContent": {
          "type": "string",
          "enum": [
            "none",
            "upcoming",
            "live",
            "completed"
          ],
          "enumDescriptions": [
            "",
            "The live broadcast is upcoming.",
            "The live broadcast is active.",
            "The live broadcast has been completed."
          ],
          "description": "It indicates if the resource (video or channel) has upcoming/active live broadcast content. Or it's \"none\" if there is not any upcoming/active live broadcasts."
        },
        "channelId": {
          "description": "The value that YouTube uses to uniquely identify the channel that published the resource that the search result identifies.",
          "type": "string"
        }
      },
      "description": "Basic details about a search result, including title, description and thumbnails of the item referenced by the search result.",
      "type": "object",
      "id": "SearchResultSnippet"
    },
    "Subscription": {
      "id": "Subscription",
      "type": "object",
      "description": "A *subscription* resource contains information about a YouTube user subscription. A subscription notifies a user when new videos are added to a channel or when another user takes one of several actions on YouTube, such as uploading a video, rating a video, or commenting on a video.",
      "properties": {
        "subscriberSnippet": {
          "$ref": "SubscriptionSubscriberSnippet",
          "description": "The subscriberSnippet object contains basic details about the subscriber."
        },
        "contentDetails": {
          "description": "The contentDetails object contains basic statistics about the subscription.",
          "$ref": "SubscriptionContentDetails"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#subscription\".",
          "default": "youtube#subscription",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the subscription."
        },
        "snippet": {
          "description": "The snippet object contains basic details about the subscription, including its title and the channel that the user subscribed to.",
          "$ref": "SubscriptionSnippet"
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        }
      }
    },
    "VideoCategorySnippet": {
      "id": "VideoCategorySnippet",
      "type": "object",
      "properties": {
        "channelId": {
          "description": "The YouTube channel that created the video category.",
          "type": "string",
          "default": "UCBR8-60-B28hp2BmDPdntcQ"
        },
        "assignable": {
          "type": "boolean"
        },
        "title": {
          "type": "string",
          "description": "The video category's title."
        }
      },
      "description": "Basic details about a video category, such as its localized title."
    },
    "LevelDetails": {
      "id": "LevelDetails",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The name that should be used when referring to this level."
        }
      },
      "type": "object"
    },
    "TestItemTestItemSnippet": {
      "id": "TestItemTestItemSnippet",
      "properties": {},
      "type": "object"
    },
    "GeoPoint": {
      "description": "Geographical coordinates of a point, in WGS84.",
      "properties": {
        "latitude": {
          "description": "Latitude in degrees.",
          "type": "number",
          "format": "double"
        },
        "longitude": {
          "description": "Longitude in degrees.",
          "format": "double",
          "type": "number"
        },
        "altitude": {
          "type": "number",
          "description": "Altitude above the reference ellipsoid, in meters.",
          "format": "double"
        }
      },
      "id": "GeoPoint",
      "type": "object"
    },
    "LiveChatSuperStickerDetails": {
      "id": "LiveChatSuperStickerDetails",
      "properties": {
        "currency": {
          "type": "string",
          "description": "The currency in which the purchase was made."
        },
        "amountMicros": {
          "description": "The amount purchased by the user, in micros (1,750,000 micros = 1.75).",
          "type": "string",
          "format": "uint64"
        },
        "tier": {
          "description": "The tier in which the amount belongs. Lower amounts belong to lower tiers. The lowest tier is 1.",
          "format": "uint32",
          "type": "integer"
        },
        "superStickerMetadata": {
          "$ref": "SuperStickerMetadata",
          "description": "Information about the Super Sticker."
        },
        "amountDisplayString": {
          "description": "A rendered string that displays the fund amount and currency to the user.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ChannelTopicDetails": {
      "type": "object",
      "description": "Freebase topic information related to the channel.",
      "id": "ChannelTopicDetails",
      "properties": {
        "topicCategories": {
          "description": "A list of Wikipedia URLs that describe the channel's content.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "topicIds": {
          "type": "array",
          "description": "A list of Freebase topic IDs associated with the channel. You can retrieve information about each topic using the Freebase Topic API.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "MembershipsDetails": {
      "type": "object",
      "properties": {
        "membershipsDurationAtLevels": {
          "description": "Data about memberships duration on particular pricing levels.",
          "type": "array",
          "items": {
            "$ref": "MembershipsDurationAtLevel"
          }
        },
        "highestAccessibleLevel": {
          "type": "string",
          "description": "Id of the highest level that the user has access to at the moment."
        },
        "accessibleLevels": {
          "items": {
            "type": "string"
          },
          "description": "Ids of all levels that the user has access to. This includes the currently active level and all other levels that are included because of a higher purchase.",
          "type": "array"
        },
        "membershipsDuration": {
          "$ref": "MembershipsDuration",
          "description": "Data about memberships duration without taking into consideration pricing levels."
        },
        "highestAccessibleLevelDisplayName": {
          "type": "string",
          "description": "Display name for the highest level that the user has access to at the moment."
        }
      },
      "id": "MembershipsDetails"
    },
    "SubscriptionContentDetails": {
      "description": "Details about the content to witch a subscription refers.",
      "id": "SubscriptionContentDetails",
      "type": "object",
      "properties": {
        "totalItemCount": {
          "format": "uint32",
          "description": "The approximate number of items that the subscription points to.",
          "type": "integer"
        },
        "newItemCount": {
          "type": "integer",
          "format": "uint32",
          "description": "The number of new items in the subscription since its content was last read."
        },
        "activityType": {
          "type": "string",
          "description": "The type of activity this subscription is for (only uploads, everything).",
          "enum": [
            "subscriptionActivityTypeUnspecified",
            "all",
            "uploads"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      }
    },
    "ChannelSectionLocalization": {
      "type": "object",
      "description": "ChannelSection localization setting",
      "properties": {
        "title": {
          "type": "string",
          "description": "The localized strings for channel section's title."
        }
      },
      "id": "ChannelSectionLocalization"
    },
    "PlaylistItemListResponse": {
      "id": "PlaylistItemListResponse",
      "type": "object",
      "properties": {
        "visitorId": {
          "type": "string",
          "description": "The visitorId identifies the visitor."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#playlistItemListResponse\". Etag of this resource.",
          "default": "youtube#playlistItemListResponse",
          "type": "string"
        },
        "tokenPagination": {
          "$ref": "TokenPagination"
        },
        "etag": {
          "type": "string"
        },
        "prevPageToken": {
          "type": "string",
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set."
        },
        "items": {
          "type": "array",
          "description": "A list of playlist items that match the request criteria.",
          "items": {
            "$ref": "PlaylistItem"
          }
        },
        "pageInfo": {
          "$ref": "PageInfo",
          "description": "General pagination information."
        },
        "eventId": {
          "description": "Serialized EventId of the request which produced this response.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set.",
          "type": "string"
        }
      }
    },
    "ChannelSectionContentDetails": {
      "type": "object",
      "description": "Details about a channelsection, including playlists and channels.",
      "properties": {
        "playlists": {
          "description": "The playlist ids for type single_playlist and multiple_playlists. For singlePlaylist, only one playlistId is allowed.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "channels": {
          "description": "The channel ids for type multiple_channels.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "ChannelSectionContentDetails"
    },
    "LanguageTag": {
      "type": "object",
      "id": "LanguageTag",
      "properties": {
        "value": {
          "type": "string"
        }
      }
    },
    "VideoProcessingDetails": {
      "description": "Describes processing status and progress and availability of some other Video resource parts.",
      "properties": {
        "processingFailureReason": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "description": "The reason that YouTube failed to process the video. This property will only have a value if the processingStatus property's value is failed.",
          "enum": [
            "uploadFailed",
            "transcodeFailed",
            "streamingFailed",
            "other"
          ],
          "type": "string"
        },
        "processingIssuesAvailability": {
          "description": "This value indicates whether the video processing engine has generated suggestions that might improve YouTube's ability to process the the video, warnings that explain video processing problems, or errors that cause video processing problems. You can retrieve these suggestions by requesting the suggestions part in your videos.list() request.",
          "type": "string"
        },
        "tagSuggestionsAvailability": {
          "type": "string",
          "description": "This value indicates whether keyword (tag) suggestions are available for the video. Tags can be added to a video's metadata to make it easier for other users to find the video. You can retrieve these suggestions by requesting the suggestions part in your videos.list() request."
        },
        "processingProgress": {
          "$ref": "VideoProcessingDetailsProcessingProgress",
          "description": "The processingProgress object contains information about the progress YouTube has made in processing the video. The values are really only relevant if the video's processing status is processing."
        },
        "thumbnailsAvailability": {
          "description": "This value indicates whether thumbnail images have been generated for the video.",
          "type": "string"
        },
        "processingStatus": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "description": "The video's processing status. This value indicates whether YouTube was able to process the video or if the video is still being processed.",
          "enum": [
            "processing",
            "succeeded",
            "failed",
            "terminated"
          ]
        },
        "fileDetailsAvailability": {
          "type": "string",
          "description": "This value indicates whether file details are available for the uploaded video. You can retrieve a video's file details by requesting the fileDetails part in your videos.list() request."
        },
        "editorSuggestionsAvailability": {
          "description": "This value indicates whether video editing suggestions, which might improve video quality or the playback experience, are available for the video. You can retrieve these suggestions by requesting the suggestions part in your videos.list() request.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "VideoProcessingDetails"
    },
    "LiveChatTextMessageDetails": {
      "id": "LiveChatTextMessageDetails",
      "properties": {
        "messageText": {
          "description": "The user's message.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "MembershipsLevel": {
      "description": "A *membershipsLevel* resource represents an offer made by YouTube creators for their fans. Users can become members of the channel by joining one of the available levels. They will provide recurring monetary support and receives special benefits.",
      "type": "object",
      "id": "MembershipsLevel",
      "properties": {
        "snippet": {
          "$ref": "MembershipsLevelSnippet",
          "description": "The snippet object contains basic details about the level."
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "id": {
          "type": "string",
          "description": "The ID that YouTube assigns to uniquely identify the memberships level."
        },
        "kind": {
          "type": "string",
          "default": "youtube#membershipsLevel",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#membershipsLevelListResponse\"."
        }
      }
    },
    "VideoSuggestions": {
      "id": "VideoSuggestions",
      "description": "Specifies suggestions on how to improve video content, including encoding hints, tag suggestions, and editor suggestions.",
      "properties": {
        "processingHints": {
          "description": "A list of suggestions that may improve YouTube's ability to process the video.",
          "type": "array",
          "items": {
            "enum": [
              "nonStreamableMov",
              "sendBestQualityVideo",
              "sphericalVideo",
              "spatialAudio",
              "vrVideo",
              "hdrVideo"
            ],
            "type": "string",
            "enumDescriptions": [
              "The MP4 file is not streamable, this will slow down the processing. MOOV atom was not found at the beginning of the file.",
              "Probably a better quality version of the video exists. The video has wide screen aspect ratio, but is not an HD video.",
              "Uploaded video is spherical video.",
              "Uploaded video has spatial audio.",
              "Uploaded video is VR video.",
              "Uploaded video is HDR video."
            ]
          }
        },
        "editorSuggestions": {
          "type": "array",
          "description": "A list of video editing operations that might improve the video quality or playback experience of the uploaded video.",
          "items": {
            "type": "string",
            "enum": [
              "videoAutoLevels",
              "videoStabilize",
              "videoCrop",
              "audioQuietAudioSwap"
            ],
            "enumDescriptions": [
              "Picture brightness levels seem off and could be corrected.",
              "The video appears shaky and could be stabilized.",
              "Margins (mattes) detected around the picture could be cropped.",
              "The audio track appears silent and could be swapped with a better quality one."
            ]
          }
        },
        "tagSuggestions": {
          "description": "A list of keyword tags that could be added to the video's metadata to increase the likelihood that users will locate your video when searching or browsing on YouTube.",
          "items": {
            "$ref": "VideoSuggestionsTagSuggestion"
          },
          "type": "array"
        },
        "processingWarnings": {
          "items": {
            "enum": [
              "unknownContainer",
              "unknownVideoCodec",
              "unknownAudioCodec",
              "inconsistentResolution",
              "hasEditlist",
              "problematicVideoCodec",
              "problematicAudioCodec",
              "unsupportedVrStereoMode",
              "unsupportedSphericalProjectionType",
              "unsupportedHdrPixelFormat",
              "unsupportedHdrColorMetadata",
              "problematicHdrLookupTable"
            ],
            "type": "string",
            "enumDescriptions": [
              "Unrecognized file format, transcoding is likely to fail.",
              "Unrecognized video codec, transcoding is likely to fail.",
              "Unrecognized audio codec, transcoding is likely to fail.",
              "Conflicting container and stream resolutions.",
              "Edit lists are not currently supported.",
              "Video codec that is known to cause problems was used.",
              "Audio codec that is known to cause problems was used.",
              "Unsupported VR video stereo mode.",
              "Unsupported spherical video projection type.",
              "Unsupported HDR pixel format.",
              "Unspecified HDR color metadata.",
              "Problematic HDR lookup table attached."
            ]
          },
          "type": "array",
          "description": "A list of reasons why YouTube may have difficulty transcoding the uploaded video or that might result in an erroneous transcoding. These warnings are generated before YouTube actually processes the uploaded video file. In addition, they identify issues that are unlikely to cause the video processing to fail but that might cause problems such as sync issues, video artifacts, or a missing audio track."
        },
        "processingErrors": {
          "description": "A list of errors that will prevent YouTube from successfully processing the uploaded video video. These errors indicate that, regardless of the video's current processing status, eventually, that status will almost certainly be failed.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "File contains audio only (e.g., an MP3 file).",
              "Image file (e.g., a JPEG image).",
              "Movie project file (e.g., Microsoft Windows Movie Maker project).",
              "Other non-video file.",
              "Document or text file (e.g., MS Word document).",
              "An archive file (e.g., a ZIP archive).",
              "Unsupported spatial audio layout type."
            ],
            "enum": [
              "audioFile",
              "imageFile",
              "projectFile",
              "notAVideoFile",
              "docFile",
              "archiveFile",
              "unsupportedSpatialAudioLayout"
            ]
          }
        }
      },
      "type": "object"
    },
    "PageInfo": {
      "properties": {
        "resultsPerPage": {
          "description": "The number of results included in the API response.",
          "type": "integer",
          "format": "int32"
        },
        "totalResults": {
          "type": "integer",
          "description": "The total number of results in the result set.",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "Paging details for lists of resources, including total number of items available and number of resources returned in a single page.",
      "id": "PageInfo"
    },
    "MembershipsDurationAtLevel": {
      "properties": {
        "memberTotalDurationMonths": {
          "description": "The cumulative time the user has been a member for the given level in complete months (the time is rounded down to the nearest integer).",
          "format": "int32",
          "type": "integer"
        },
        "memberSince": {
          "type": "string",
          "description": "The date and time when the user became a continuous member for the given level."
        },
        "level": {
          "description": "Pricing level ID.",
          "type": "string"
        }
      },
      "id": "MembershipsDurationAtLevel",
      "type": "object"
    },
    "ActivityContentDetailsChannelItem": {
      "properties": {
        "resourceId": {
          "$ref": "ResourceId",
          "description": "The resourceId object contains information that identifies the resource that was added to the channel."
        }
      },
      "id": "ActivityContentDetailsChannelItem",
      "type": "object",
      "description": "Details about a resource which was added to a channel."
    },
    "LiveBroadcastSnippet": {
      "id": "LiveBroadcastSnippet",
      "type": "object",
      "properties": {
        "channelId": {
          "description": "The ID that YouTube uses to uniquely identify the channel that is publishing the broadcast.",
          "type": "string"
        },
        "publishedAt": {
          "description": "The date and time that the broadcast was added to YouTube's live broadcast schedule. The value is specified in ISO 8601 format.",
          "type": "string"
        },
        "isDefaultBroadcast": {
          "type": "boolean",
          "description": "Indicates whether this broadcast is the default broadcast. Internal only."
        },
        "title": {
          "description": "The broadcast's title. Note that the broadcast represents exactly one YouTube video. You can set this field by modifying the broadcast resource or by setting the title field of the corresponding video resource.",
          "type": "string"
        },
        "actualEndTime": {
          "description": "The date and time that the broadcast actually ended. This information is only available once the broadcast's state is complete. The value is specified in ISO 8601 format.",
          "type": "string"
        },
        "thumbnails": {
          "$ref": "ThumbnailDetails",
          "description": "A map of thumbnail images associated with the broadcast. For each nested object in this object, the key is the name of the thumbnail image, and the value is an object that contains other information about the thumbnail."
        },
        "actualStartTime": {
          "description": "The date and time that the broadcast actually started. This information is only available once the broadcast's state is live. The value is specified in ISO 8601 format.",
          "type": "string"
        },
        "description": {
          "description": "The broadcast's description. As with the title, you can set this field by modifying the broadcast resource or by setting the description field of the corresponding video resource.",
          "type": "string"
        },
        "scheduledStartTime": {
          "description": "The date and time that the broadcast is scheduled to start. The value is specified in ISO 8601 format.",
          "type": "string"
        },
        "liveChatId": {
          "description": "The id of the live chat for this broadcast.",
          "type": "string"
        },
        "scheduledEndTime": {
          "description": "The date and time that the broadcast is scheduled to end. The value is specified in ISO 8601 format.",
          "type": "string"
        }
      },
      "description": "Basic broadcast information."
    },
    "VideoRating": {
      "properties": {
        "videoId": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the video."
        },
        "rating": {
          "description": "Rating of a video.",
          "enumDescriptions": [
            "",
            "The entity is liked.",
            "The entity is disliked."
          ],
          "type": "string",
          "enum": [
            "none",
            "like",
            "dislike"
          ]
        }
      },
      "description": "Basic details about rating of a video.",
      "type": "object",
      "id": "VideoRating"
    },
    "VideoFileDetailsAudioStream": {
      "type": "object",
      "description": "Information about an audio stream.",
      "id": "VideoFileDetailsAudioStream",
      "properties": {
        "vendor": {
          "type": "string",
          "description": "A value that uniquely identifies a video vendor. Typically, the value is a four-letter vendor code."
        },
        "channelCount": {
          "description": "The number of audio channels that the stream contains.",
          "type": "integer",
          "format": "uint32"
        },
        "bitrateBps": {
          "description": "The audio stream's bitrate, in bits per second.",
          "type": "string",
          "format": "uint64"
        },
        "codec": {
          "description": "The audio codec that the stream uses.",
          "type": "string"
        }
      }
    },
    "ChannelSection": {
      "properties": {
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "localizations": {
          "type": "object",
          "additionalProperties": {
            "$ref": "ChannelSectionLocalization"
          },
          "description": "Localizations for different languages"
        },
        "id": {
          "description": "The ID that YouTube uses to uniquely identify the channel section.",
          "type": "string"
        },
        "kind": {
          "default": "youtube#channelSection",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#channelSection\".",
          "type": "string"
        },
        "targeting": {
          "description": "The targeting object contains basic targeting settings about the channel section.",
          "$ref": "ChannelSectionTargeting"
        },
        "snippet": {
          "$ref": "ChannelSectionSnippet",
          "description": "The snippet object contains basic details about the channel section, such as its type, style and title."
        },
        "contentDetails": {
          "$ref": "ChannelSectionContentDetails",
          "description": "The contentDetails object contains details about the channel section content, such as a list of playlists or channels featured in the section."
        }
      },
      "type": "object",
      "id": "ChannelSection"
    },
    "WatchSettings": {
      "id": "WatchSettings",
      "description": "Branding properties for the watch. All deprecated.",
      "type": "object",
      "properties": {
        "featuredPlaylistId": {
          "type": "string",
          "description": "An ID that uniquely identifies a playlist that displays next to the video player."
        },
        "backgroundColor": {
          "type": "string",
          "description": "The text color for the video watch page's branded area."
        },
        "textColor": {
          "type": "string",
          "description": "The background color for the video watch page's branded area."
        }
      }
    },
    "CdnSettings": {
      "properties": {
        "frameRate": {
          "enum": [
            "30fps",
            "60fps",
            "variable"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "The frame rate of the inbound video data."
        },
        "ingestionType": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "description": " The method or protocol used to transmit the video stream.",
          "type": "string",
          "enum": [
            "rtmp",
            "dash",
            "webrtc",
            "hls"
          ]
        },
        "format": {
          "type": "string",
          "description": "The format of the video stream that you are sending to Youtube. "
        },
        "ingestionInfo": {
          "description": "The ingestionInfo object contains information that YouTube provides that you need to transmit your RTMP or HTTP stream to YouTube.",
          "$ref": "IngestionInfo"
        },
        "resolution": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "240p",
            "360p",
            "480p",
            "720p",
            "1080p",
            "1440p",
            "2160p",
            "variable"
          ],
          "type": "string",
          "description": "The resolution of the inbound video data."
        }
      },
      "description": "Brief description of the live stream cdn settings.",
      "id": "CdnSettings",
      "type": "object"
    },
    "LiveStreamStatus": {
      "type": "object",
      "id": "LiveStreamStatus",
      "description": "Brief description of the live stream status.",
      "properties": {
        "streamStatus": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "created",
            "ready",
            "active",
            "inactive",
            "error"
          ]
        },
        "healthStatus": {
          "description": "The health status of the stream.",
          "$ref": "LiveStreamHealthStatus"
        }
      }
    },
    "AbuseType": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        }
      },
      "id": "AbuseType"
    },
    "SearchListResponse": {
      "properties": {
        "pageInfo": {
          "description": "General pagination information.",
          "$ref": "PageInfo"
        },
        "regionCode": {
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "prevPageToken": {
          "type": "string",
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set."
        },
        "visitorId": {
          "type": "string",
          "description": "The visitorId identifies the visitor."
        },
        "eventId": {
          "description": "Serialized EventId of the request which produced this response.",
          "type": "string"
        },
        "tokenPagination": {
          "$ref": "TokenPagination"
        },
        "kind": {
          "default": "youtube#searchListResponse",
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#searchListResponse\"."
        },
        "items": {
          "description": "Pagination information for token pagination.",
          "items": {
            "$ref": "SearchResult"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set."
        }
      },
      "id": "SearchListResponse",
      "type": "object"
    },
    "Video": {
      "description": "A *video* resource represents a YouTube video.",
      "type": "object",
      "id": "Video",
      "properties": {
        "processingDetails": {
          "$ref": "VideoProcessingDetails",
          "description": "The processingDetails object encapsulates information about YouTube's progress in processing the uploaded video file. The properties in the object identify the current processing status and an estimate of the time remaining until YouTube finishes processing the video. This part also indicates whether different types of data or content, such as file details or thumbnail images, are available for the video. The processingProgress object is designed to be polled so that the video uploaded can track the progress that YouTube has made in processing the uploaded video file. This data can only be retrieved by the video owner."
        },
        "localizations": {
          "description": "The localizations object contains localized versions of the basic details about the video, such as its title and description.",
          "type": "object",
          "additionalProperties": {
            "$ref": "VideoLocalization"
          }
        },
        "suggestions": {
          "$ref": "VideoSuggestions",
          "description": "The suggestions object encapsulates suggestions that identify opportunities to improve the video quality or the metadata for the uploaded video. This data can only be retrieved by the video owner."
        },
        "liveStreamingDetails": {
          "description": "The liveStreamingDetails object contains metadata about a live video broadcast. The object will only be present in a video resource if the video is an upcoming, live, or completed live broadcast.",
          "$ref": "VideoLiveStreamingDetails"
        },
        "monetizationDetails": {
          "description": "The monetizationDetails object encapsulates information about the monetization status of the video.",
          "$ref": "VideoMonetizationDetails"
        },
        "id": {
          "description": "The ID that YouTube uses to uniquely identify the video.",
          "type": "string"
        },
        "topicDetails": {
          "$ref": "VideoTopicDetails",
          "description": "The topicDetails object encapsulates information about Freebase topics associated with the video."
        },
        "projectDetails": {
          "$ref": "VideoProjectDetails",
          "description": "The projectDetails object contains information about the project specific video metadata. b/157517979: This part was never populated after it was added. However, it sees non-zero traffic because there is generated client code in the wild that refers to it [1]. We keep this field and do NOT remove it because otherwise V3 would return an error when this part gets requested [2]. [1] https://developers.google.com/resources/api-libraries/documentation/youtube/v3/csharp/latest/classGoogle_1_1Apis_1_1YouTube_1_1v3_1_1Data_1_1VideoProjectDetails.html [2] http://google3/video/youtube/src/python/servers/data_api/common.py?l=1565-1569&rcl=344141677"
        },
        "snippet": {
          "description": "The snippet object contains basic details about the video, such as its title, description, and category.",
          "$ref": "VideoSnippet"
        },
        "contentDetails": {
          "description": "The contentDetails object contains information about the video content, including the length of the video and its aspect ratio.",
          "$ref": "VideoContentDetails"
        },
        "ageGating": {
          "$ref": "VideoAgeGating",
          "description": "Age restriction details related to a video. This data can only be retrieved by the video owner."
        },
        "player": {
          "description": "The player object contains information that you would use to play the video in an embedded player.",
          "$ref": "VideoPlayer"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "statistics": {
          "description": "The statistics object contains statistics about the video.",
          "$ref": "VideoStatistics"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#video\".",
          "default": "youtube#video",
          "type": "string"
        },
        "fileDetails": {
          "description": "The fileDetails object encapsulates information about the video file that was uploaded to YouTube, including the file's resolution, duration, audio and video codecs, stream bitrates, and more. This data can only be retrieved by the video owner.",
          "$ref": "VideoFileDetails"
        },
        "status": {
          "description": "The status object contains information about the video's uploading, processing, and privacy statuses.",
          "$ref": "VideoStatus"
        },
        "recordingDetails": {
          "description": "The recordingDetails object encapsulates information about the location, date and address where the video was recorded.",
          "$ref": "VideoRecordingDetails"
        }
      }
    },
    "VideoFileDetailsVideoStream": {
      "description": "Information about a video stream.",
      "id": "VideoFileDetailsVideoStream",
      "properties": {
        "aspectRatio": {
          "description": "The video content's display aspect ratio, which specifies the aspect ratio in which the video should be displayed.",
          "format": "double",
          "type": "number"
        },
        "widthPixels": {
          "type": "integer",
          "format": "uint32",
          "description": "The encoded video content's width in pixels. You can calculate the video's encoding aspect ratio as width_pixels / height_pixels."
        },
        "frameRateFps": {
          "description": "The video stream's frame rate, in frames per second.",
          "format": "double",
          "type": "number"
        },
        "vendor": {
          "description": "A value that uniquely identifies a video vendor. Typically, the value is a four-letter vendor code.",
          "type": "string"
        },
        "codec": {
          "description": "The video codec that the stream uses.",
          "type": "string"
        },
        "heightPixels": {
          "format": "uint32",
          "description": "The encoded video content's height in pixels.",
          "type": "integer"
        },
        "rotation": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "none",
            "clockwise",
            "upsideDown",
            "counterClockwise",
            "other"
          ],
          "type": "string",
          "description": "The amount that YouTube needs to rotate the original source content to properly display the video."
        },
        "bitrateBps": {
          "format": "uint64",
          "description": "The video stream's bitrate, in bits per second.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "VideoProcessingDetailsProcessingProgress": {
      "id": "VideoProcessingDetailsProcessingProgress",
      "properties": {
        "timeLeftMs": {
          "format": "uint64",
          "description": "An estimate of the amount of time, in millseconds, that YouTube needs to finish processing the video.",
          "type": "string"
        },
        "partsTotal": {
          "description": "An estimate of the total number of parts that need to be processed for the video. The number may be updated with more precise estimates while YouTube processes the video.",
          "type": "string",
          "format": "uint64"
        },
        "partsProcessed": {
          "type": "string",
          "format": "uint64",
          "description": "The number of parts of the video that YouTube has already processed. You can estimate the percentage of the video that YouTube has already processed by calculating: 100 * parts_processed / parts_total Note that since the estimated number of parts could increase without a corresponding increase in the number of parts that have already been processed, it is possible that the calculated progress could periodically decrease while YouTube processes a video."
        }
      },
      "type": "object",
      "description": "Video processing progress and completion time estimate."
    },
    "CaptionListResponse": {
      "type": "object",
      "id": "CaptionListResponse",
      "properties": {
        "eventId": {
          "type": "string",
          "description": "Serialized EventId of the request which produced this response."
        },
        "visitorId": {
          "description": "The visitorId identifies the visitor.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "kind": {
          "default": "youtube#captionListResponse",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#captionListResponse\".",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "Caption"
          },
          "description": "A list of captions that match the request criteria.",
          "type": "array"
        }
      }
    },
    "ChannelAuditDetails": {
      "type": "object",
      "description": "The auditDetails object encapsulates channel data that is relevant for YouTube Partners during the audit process.",
      "properties": {
        "contentIdClaimsGoodStanding": {
          "description": "Whether or not the channel has any unresolved claims.",
          "type": "boolean"
        },
        "communityGuidelinesGoodStanding": {
          "type": "boolean",
          "description": "Whether or not the channel respects the community guidelines."
        },
        "copyrightStrikesGoodStanding": {
          "type": "boolean",
          "description": "Whether or not the channel has any copyright strikes."
        }
      },
      "id": "ChannelAuditDetails"
    },
    "CommentThreadReplies": {
      "id": "CommentThreadReplies",
      "type": "object",
      "description": "Comments written in (direct or indirect) reply to the top level comment.",
      "properties": {
        "comments": {
          "description": "A limited number of replies. Unless the number of replies returned equals total_reply_count in the snippet the returned replies are only a subset of the total number of replies.",
          "items": {
            "$ref": "Comment"
          },
          "type": "array"
        }
      }
    },
    "VideoLiveStreamingDetails": {
      "id": "VideoLiveStreamingDetails",
      "type": "object",
      "description": "Details about the live streaming metadata.",
      "properties": {
        "scheduledStartTime": {
          "description": "The time that the broadcast is scheduled to begin. The value is specified in ISO 8601 format.",
          "type": "string"
        },
        "actualEndTime": {
          "type": "string",
          "description": "The time that the broadcast actually ended. The value is specified in ISO 8601 format. This value will not be available until the broadcast is over."
        },
        "activeLiveChatId": {
          "type": "string",
          "description": "The ID of the currently active live chat attached to this video. This field is filled only if the video is a currently live broadcast that has live chat. Once the broadcast transitions to complete this field will be removed and the live chat closed down. For persistent broadcasts that live chat id will no longer be tied to this video but rather to the new video being displayed at the persistent page."
        },
        "concurrentViewers": {
          "description": "The number of viewers currently watching the broadcast. The property and its value will be present if the broadcast has current viewers and the broadcast owner has not hidden the viewcount for the video. Note that YouTube stops tracking the number of concurrent viewers for a broadcast when the broadcast ends. So, this property would not identify the number of viewers watching an archived video of a live broadcast that already ended.",
          "type": "string",
          "format": "uint64"
        },
        "actualStartTime": {
          "type": "string",
          "description": "The time that the broadcast actually started. The value is specified in ISO 8601 format. This value will not be available until the broadcast begins."
        },
        "scheduledEndTime": {
          "type": "string",
          "description": "The time that the broadcast is scheduled to end. The value is specified in ISO 8601 format. If the value is empty or the property is not present, then the broadcast is scheduled to continue indefinitely."
        }
      }
    },
    "ActivityContentDetailsSubscription": {
      "properties": {
        "resourceId": {
          "description": "The resourceId object contains information that identifies the resource that the user subscribed to.",
          "$ref": "ResourceId"
        }
      },
      "id": "ActivityContentDetailsSubscription",
      "type": "object",
      "description": "Information about a channel that a user subscribed to."
    },
    "VideoAbuseReportReason": {
      "id": "VideoAbuseReportReason",
      "type": "object",
      "properties": {
        "snippet": {
          "$ref": "VideoAbuseReportReasonSnippet",
          "description": "The `snippet` object contains basic details about the abuse report reason."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"youtube#videoAbuseReportReason\"`.",
          "type": "string",
          "default": "youtube#videoAbuseReportReason"
        },
        "id": {
          "description": "The ID of this abuse report reason.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        }
      },
      "description": "A `__videoAbuseReportReason__` resource identifies a reason that a video could be reported as abusive. Video abuse report reasons are used with `video.ReportAbuse`."
    },
    "SuperChatEventListResponse": {
      "type": "object",
      "id": "SuperChatEventListResponse",
      "properties": {
        "tokenPagination": {
          "$ref": "TokenPagination"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "eventId": {
          "type": "string",
          "description": "Serialized EventId of the request which produced this response."
        },
        "kind": {
          "default": "youtube#superChatEventListResponse",
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#superChatEventListResponse\"."
        },
        "visitorId": {
          "description": "The visitorId identifies the visitor.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "description": "A list of Super Chat purchases that match the request criteria.",
          "items": {
            "$ref": "SuperChatEvent"
          }
        },
        "nextPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set.",
          "type": "string"
        },
        "pageInfo": {
          "$ref": "PageInfo"
        }
      }
    },
    "ActivityContentDetailsSocial": {
      "type": "object",
      "description": "Details about a social network post.",
      "properties": {
        "referenceUrl": {
          "description": "The URL of the social network post.",
          "type": "string"
        },
        "author": {
          "type": "string",
          "description": "The author of the social network post."
        },
        "type": {
          "type": "string",
          "enum": [
            "typeUnspecified",
            "googlePlus",
            "facebook",
            "twitter"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "description": "The name of the social network."
        },
        "imageUrl": {
          "description": "An image of the post's author.",
          "type": "string"
        },
        "resourceId": {
          "description": "The resourceId object encapsulates information that identifies the resource associated with a social network post.",
          "$ref": "ResourceId"
        }
      },
      "id": "ActivityContentDetailsSocial"
    },
    "VideoContentDetailsRegionRestriction": {
      "properties": {
        "blocked": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of region codes that identify countries where the video is blocked. If this property is present and a country is not listed in its value, then the video is viewable in that country. If this property is present and contains an empty list, the video is viewable in all countries."
        },
        "allowed": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of region codes that identify countries where the video is viewable. If this property is present and a country is not listed in its value, then the video is blocked from appearing in that country. If this property is present and contains an empty list, the video is blocked in all countries."
        }
      },
      "type": "object",
      "id": "VideoContentDetailsRegionRestriction",
      "description": "DEPRECATED Region restriction of the video."
    },
    "VideoSnippet": {
      "description": "Basic details about a video, including title, description, uploader, thumbnails and category.",
      "properties": {
        "defaultLanguage": {
          "type": "string",
          "description": "The language of the videos's default snippet."
        },
        "liveBroadcastContent": {
          "enumDescriptions": [
            "",
            "The live broadcast is upcoming.",
            "The live broadcast is active.",
            "The live broadcast has been completed."
          ],
          "description": "Indicates if the video is an upcoming/active live broadcast. Or it's \"none\" if the video is not an upcoming/active live broadcast.",
          "type": "string",
          "enum": [
            "none",
            "upcoming",
            "live",
            "completed"
[...]
