{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/youtube.force-ssl": {
          "description": "See, edit, and permanently delete your YouTube videos, ratings, comments and captions"
        },
        "https://www.googleapis.com/auth/youtubepartner-channel-audit": {
          "description": "View private information of your YouTube channel relevant during the audit process with a YouTube partner"
        },
        "https://www.googleapis.com/auth/youtube.readonly": {
          "description": "View your YouTube account"
        },
        "https://www.googleapis.com/auth/youtube": {
          "description": "Manage your YouTube account"
        },
        "https://www.googleapis.com/auth/youtube.upload": {
          "description": "Manage your YouTube videos"
        },
        "https://www.googleapis.com/auth/youtube.channel-memberships.creator": {
          "description": "See a list of your current active channel members, their current level, and when they became a member"
        },
        "https://www.googleapis.com/auth/youtubepartner": {
          "description": "View and manage your assets and associated content on YouTube"
        }
      }
    }
  },
  "basePath": "",
  "title": "YouTube Data API v3",
  "parameters": {
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    }
  },
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "version": "v3",
  "resources": {
    "playlists": {
      "methods": {
        "list": {
          "id": "youtube.playlists.list",
          "parameterOrder": [
            "part"
          ],
          "description": "Retrieves a list of resources, possibly filtered.",
          "response": {
            "$ref": "PlaylistListResponse"
          },
          "flatPath": "youtube/v3/playlists",
          "httpMethod": "GET",
          "path": "youtube/v3/playlists",
          "parameters": {
            "maxResults": {
              "default": "5",
              "location": "query",
              "format": "uint32",
              "description": "The \u003ccode\u003e\u003cstrong\u003emaxResults\u003c/strong\u003e\u003c/code\u003e parameter specifies the\nmaximum number of items that should be returned in the result set.",
              "type": "integer"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The \u003ccode\u003e\u003cstrong\u003epageToken\u003c/strong\u003e\u003c/code\u003e parameter identifies a specific\npage in the result set that should be returned. In an API response, the\n\u003ccode\u003enextPageToken\u003c/code\u003e and \u003ccode\u003eprevPageToken\u003c/code\u003e properties\nidentify other pages that could be retrieved."
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "description": "\u003cstrong\u003eNote:\u003c/strong\u003e This parameter is intended exclusively for YouTube\ncontent partners.\u003cbr\u003e\u003cbr\u003eThe\n\u003ccode\u003e\u003cstrong\u003eonBehalfOfContentOwner\u003c/strong\u003e\u003c/code\u003e parameter indicates\nthat the\nrequest's authorization credentials identify a YouTube CMS user who is\nacting on behalf of the content owner specified in the parameter value.\nThis parameter is intended for YouTube content partners that own and manage\nmany different YouTube channels. It allows content owners to authenticate\nonce and get access to all their video and channel data, without having to\nprovide authentication credentials for each individual channel. The CMS\naccount that the user authenticates with must be linked to the specified\nYouTube content owner.",
              "location": "query"
            },
            "mine": {
              "type": "boolean",
              "location": "query",
              "description": "Return the playlists owned by the authenticated user."
            },
            "part": {
              "type": "string",
              "repeated": true,
              "location": "query",
              "required": true,
              "description": "The \u003ccode\u003e\u003cstrong\u003epart\u003c/strong\u003e\u003c/code\u003e parameter specifies a\ncomma-separated list of one or more \u003ccode\u003eplaylist\u003c/code\u003e resource\nproperties that the API response will include.\u003cbr\u003e\u003cbr\u003eIf the parameter\nidentifies a property that contains child properties, the child properties\nwill be included in the response. For example, in a \u003ccode\u003eplaylist\u003c/code\u003e\nresource, the \u003ccode\u003esnippet\u003c/code\u003e property contains properties like\n\u003ccode\u003eauthor\u003c/code\u003e, \u003ccode\u003etitle\u003c/code\u003e, \u003ccode\u003edescription\u003c/code\u003e,\n\u003ccode\u003etags\u003c/code\u003e, and \u003ccode\u003etimeCreated\u003c/code\u003e. As such, if you set\n\u003ccode\u003e\u003cstrong\u003epart=snippet\u003c/strong\u003e\u003c/code\u003e, the API response will contain\nall of those properties."
            },
            "id": {
              "repeated": true,
              "location": "query",
              "description": "Return the playlists with the given IDs for Stubby or Apiary.",
              "type": "string"
            },
            "onBehalfOfContentOwnerChannel": {
              "description": "This parameter can only be used in a properly \u003ca\nhref=\"/youtube/v3/guides/authentication\"\u003eauthorized request\u003c/a\u003e.\n\u003cstrong\u003eNote:\u003c/strong\u003e This parameter is intended exclusively for YouTube\ncontent partners.\u003cbr\u003e\u003cbr\u003eThe\n\u003ccode\u003e\u003cstrong\u003eonBehalfOfContentOwnerChannel\u003c/strong\u003e\u003c/code\u003e parameter\nspecifies the YouTube channel ID of the channel to which a video is being\nadded. This parameter is required when a request specifies a value for the\n\u003ccode\u003eonBehalfOfContentOwner\u003c/code\u003e parameter, and it can only be used in\nconjunction with that parameter. In addition, the request must be\nauthorized using a CMS account that is linked to the content owner that the\n\u003ccode\u003eonBehalfOfContentOwner\u003c/code\u003e parameter specifies. Finally, the\nchannel that the \u003ccode\u003eonBehalfOfContentOwnerChannel\u003c/code\u003e parameter value\nspecifies must be linked to the content owner that the\n\u003ccode\u003eonBehalfOfContentOwner\u003c/code\u003e parameter specifies.\u003cbr\u003e\u003cbr\u003eThis\nparameter is intended for YouTube content partners that own and manage many\ndifferent YouTube channels. It allows content owners to authenticate once\nand perform actions on behalf of the channel specified in the parameter\nvalue, without having to provide authentication credentials for each\nseparate channel.",
              "location": "query",
              "type": "string"
            },
            "hl": {
              "description": "Returen content in specified language",
              "type": "string",
              "location": "query"
            },
            "channelId": {
              "location": "query",
              "description": "Return the playlists owned by the specified channel ID.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        },
        "update": {
          "parameters": {
            "onBehalfOfContentOwner": {
              "location": "query",
              "type": "string",
              "description": "\u003cstrong\u003eNote:\u003c/strong\u003e This parameter is intended exclusively for YouTube\ncontent partners.\u003cbr\u003e\u003cbr\u003eThe\n\u003ccode\u003e\u003cstrong\u003eonBehalfOfContentOwner\u003c/strong\u003e\u003c/code\u003e parameter indicates\nthat the\nrequest's authorization credentials identify a YouTube CMS user who is\nacting on behalf of the content owner specified in the parameter value.\nThis parameter is intended for YouTube content partners that own and manage\nmany different YouTube channels. It allows content owners to authenticate\nonce and get access to all their video and channel data, without having to\nprovide authentication credentials for each individual channel. The CMS\naccount that the user authenticates with must be linked to the specified\nYouTube content owner."
            },
            "part": {
              "required": true,
              "repeated": true,
              "location": "query",
              "description": "The \u003ccode\u003e\u003cstrong\u003epart\u003c/strong\u003e\u003c/code\u003e parameter serves two purposes in\nthis operation. It identifies the properties that the write operation will\nset as well as the properties that the API response will\ninclude.\u003cbr/\u003e\u003cbr/\u003eNote that this method will override the existing values\nfor mutable properties that are contained in any parts that the request\nbody specifies. For example, a\nplaylist's description is contained in the \u003ccode\u003esnippet\u003c/code\u003e part, which\nmust be included in the request body. If the request does not specify a\nvalue for the \u003ccode\u003esnippet.description\u003c/code\u003e property, the playlist's\nexisting description will be deleted.",
              "type": "string"
            }
          },
          "path": "youtube/v3/playlists",
          "httpMethod": "PUT",
          "parameterOrder": [
            "part"
          ],
          "id": "youtube.playlists.update",
          "request": {
            "$ref": "Playlist"
          },
          "description": "Updates an existing resource.",
          "response": {
            "$ref": "Playlist"
          },
          "flatPath": "youtube/v3/playlists",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        },
        "delete": {
          "parameterOrder": [
            "id"
          ],
          "parameters": {
            "onBehalfOfContentOwner": {
              "location": "query",
              "type": "string",
              "description": "\u003cstrong\u003eNote:\u003c/strong\u003e This parameter is intended exclusively for YouTube\ncontent partners.\u003cbr\u003e\u003cbr\u003eThe\n\u003ccode\u003e\u003cstrong\u003eonBehalfOfContentOwner\u003c/strong\u003e\u003c/code\u003e parameter indicates\nthat the\nrequest's authorization credentials identify a YouTube CMS user who is\nacting on behalf of the content owner specified in the parameter value.\nThis parameter is intended for YouTube content partners that own and manage\nmany different YouTube channels. It allows content owners to authenticate\nonce and get access to all their video and channel data, without having to\nprovide authentication credentials for each individual channel. The CMS\naccount that the user authenticates with must be linked to the specified\nYouTube content owner."
            },
            "id": {
              "required": true,
              "location": "query",
              "type": "string"
            }
          },
          "id": "youtube.playlists.delete",
          "description": "Deletes a resource.",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "path": "youtube/v3/playlists",
          "httpMethod": "DELETE",
          "flatPath": "youtube/v3/playlists"
        },
        "insert": {
          "path": "youtube/v3/playlists",
          "httpMethod": "POST",
          "parameterOrder": [
            "part"
          ],
          "parameters": {
            "onBehalfOfContentOwner": {
              "description": "\u003cstrong\u003eNote:\u003c/strong\u003e This parameter is intended exclusively for YouTube\ncontent partners.\u003cbr\u003e\u003cbr\u003eThe\n\u003ccode\u003e\u003cstrong\u003eonBehalfOfContentOwner\u003c/strong\u003e\u003c/code\u003e parameter indicates\nthat the\nrequest's authorization credentials identify a YouTube CMS user who is\nacting on behalf of the content owner specified in the parameter value.\nThis parameter is intended for YouTube content partners that own and manage\nmany different YouTube channels. It allows content owners to authenticate\nonce and get access to all their video and channel data, without having to\nprovide authentication credentials for each individual channel. The CMS\naccount that the user authenticates with must be linked to the specified\nYouTube content owner.",
              "type": "string",
              "location": "query"
            },
            "onBehalfOfContentOwnerChannel": {
              "description": "This parameter can only be used in a properly \u003ca\nhref=\"/youtube/v3/guides/authentication\"\u003eauthorized request\u003c/a\u003e.\n\u003cstrong\u003eNote:\u003c/strong\u003e This parameter is intended exclusively for YouTube\ncontent partners.\u003cbr\u003e\u003cbr\u003eThe\n\u003ccode\u003e\u003cstrong\u003eonBehalfOfContentOwnerChannel\u003c/strong\u003e\u003c/code\u003e parameter\nspecifies the YouTube channel ID of the channel to which a video is being\nadded. This parameter is required when a request specifies a value for the\n\u003ccode\u003eonBehalfOfContentOwner\u003c/code\u003e parameter, and it can only be used in\nconjunction with that parameter. In addition, the request must be\nauthorized using a CMS account that is linked to the content owner that the\n\u003ccode\u003eonBehalfOfContentOwner\u003c/code\u003e parameter specifies. Finally, the\nchannel that the \u003ccode\u003eonBehalfOfContentOwnerChannel\u003c/code\u003e parameter value\nspecifies must be linked to the content owner that the\n\u003ccode\u003eonBehalfOfContentOwner\u003c/code\u003e parameter specifies.\u003cbr\u003e\u003cbr\u003eThis\nparameter is intended for YouTube content partners that own and manage many\ndifferent YouTube channels. It allows content owners to authenticate once\nand perform actions on behalf of the channel specified in the parameter\nvalue, without having to provide authentication credentials for each\nseparate channel.",
              "type": "string",
              "location": "query"
            },
            "part": {
              "repeated": true,
              "location": "query",
              "description": "The \u003ccode\u003e\u003cstrong\u003epart\u003c/strong\u003e\u003c/code\u003e parameter serves two purposes in\nthis operation. It identifies the properties that the write operation will\nset as well as the properties that the API response will include.",
              "type": "string",
              "required": true
            }
          },
          "response": {
            "$ref": "Playlist"
          },
          "description": "Inserts a new resource into this collection.",
          "id": "youtube.playlists.insert",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "flatPath": "youtube/v3/playlists",
          "request": {
            "$ref": "Playlist"
          }
        }
      }
    },
    "playlistItems": {
      "methods": {
        "update": {
          "request": {
            "$ref": "PlaylistItem"
          },
          "flatPath": "youtube/v3/playlistItems",
          "path": "youtube/v3/playlistItems",
          "parameterOrder": [
            "part"
          ],
          "id": "youtube.playlistItems.update",
          "parameters": {
            "part": {
              "required": true,
              "repeated": true,
              "type": "string",
              "description": "The \u003ccode\u003e\u003cstrong\u003epart\u003c/strong\u003e\u003c/code\u003e parameter serves two purposes in\nthis operation. It identifies the properties that the write operation will\nset as well as the properties that the API response will\ninclude.\u003cbr/\u003e\u003cbr/\u003eNote that this method will override the existing values\nfor all of the mutable properties that are contained in any parts that the\nparameter value specifies. For example, a playlist item can specify a start\ntime and end time, which identify the times portion of the video that\nshould play when users watch the video in the playlist. If your request is\nupdating a playlist item that sets these values, and the\nrequest's \u003ccode\u003epart\u003c/code\u003e parameter value includes the\n\u003ccode\u003econtentDetails\u003c/code\u003e part, the playlist item's start and end times\nwill be updated to whatever value the request body specifies. If the\nrequest body does not specify values, the existing start and end times will\nbe removed and replaced with the default settings.",
              "location": "query"
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "description": "\u003cstrong\u003eNote:\u003c/strong\u003e This parameter is intended exclusively for YouTube\ncontent partners.\u003cbr\u003e\u003cbr\u003eThe\n\u003ccode\u003e\u003cstrong\u003eonBehalfOfContentOwner\u003c/strong\u003e\u003c/code\u003e parameter indicates\nthat the\nrequest's authorization credentials identify a YouTube CMS user who is\nacting on behalf of the content owner specified in the parameter value.\nThis parameter is intended for YouTube content partners that own and manage\nmany different YouTube channels. It allows content owners to authenticate\nonce and get access to all their video and channel data, without having to\nprovide authentication credentials for each individual channel. The CMS\naccount that the user authenticates with must be linked to the specified\nYouTube content owner.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "description": "Updates an existing resource.",
          "httpMethod": "PUT",
          "response": {
            "$ref": "PlaylistItem"
          }
        },
        "insert": {
          "path": "youtube/v3/playlistItems",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "response": {
            "$ref": "PlaylistItem"
          },
          "parameterOrder": [
            "part"
          ],
          "parameters": {
            "onBehalfOfContentOwner": {
              "type": "string",
              "location": "query",
              "description": "\u003cstrong\u003eNote:\u003c/strong\u003e This parameter is intended exclusively for YouTube\ncontent partners.\u003cbr\u003e\u003cbr\u003eThe\n\u003ccode\u003e\u003cstrong\u003eonBehalfOfContentOwner\u003c/strong\u003e\u003c/code\u003e parameter indicates\nthat the\nrequest's authorization credentials identify a YouTube CMS user who is\nacting on behalf of the content owner specified in the parameter value.\nThis parameter is intended for YouTube content partners that own and manage\nmany different YouTube channels. It allows content owners to authenticate\nonce and get access to all their video and channel data, without having to\nprovide authentication credentials for each individual channel. The CMS\naccount that the user authenticates with must be linked to the specified\nYouTube content owner."
            },
            "part": {
              "type": "string",
              "required": true,
              "description": "The \u003ccode\u003e\u003cstrong\u003epart\u003c/strong\u003e\u003c/code\u003e parameter serves two purposes in\nthis operation. It identifies the properties that the write operation will\nset as well as the properties that the API response will include.",
              "repeated": true,
              "location": "query"
            }
          },
          "httpMethod": "POST",
          "id": "youtube.playlistItems.insert",
          "flatPath": "youtube/v3/playlistItems",
          "request": {
            "$ref": "PlaylistItem"
          },
          "description": "Inserts a new resource into this collection."
        },
        "list": {
          "parameterOrder": [
            "part"
          ],
          "parameters": {
            "videoId": {
              "location": "query",
              "type": "string",
              "description": "Return the playlist items associated with the given video ID."
            },
            "id": {
              "repeated": true,
              "type": "string",
              "location": "query"
            },
            "part": {
              "description": "The \u003ccode\u003e\u003cstrong\u003epart\u003c/strong\u003e\u003c/code\u003e parameter specifies a\ncomma-separated list of one or more \u003ccode\u003eplaylistItem\u003c/code\u003e resource\nproperties that the API response will include.\u003cbr\u003e\u003cbr\u003eIf the parameter\nidentifies a property that contains child properties, the child properties\nwill be included in the response. For example, in a\n\u003ccode\u003eplaylistItem\u003c/code\u003e resource, the \u003ccode\u003esnippet\u003c/code\u003e property\ncontains numerous fields, including the \u003ccode\u003etitle\u003c/code\u003e,\n\u003ccode\u003edescription\u003c/code\u003e, \u003ccode\u003eposition\u003c/code\u003e, and\n\u003ccode\u003eresourceId\u003c/code\u003e properties. As such, if you set\n\u003ccode\u003e\u003cstrong\u003epart=snippet\u003c/strong\u003e\u003c/code\u003e, the API response will contain\nall of those properties.",
              "required": true,
              "type": "string",
              "location": "query",
              "repeated": true
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "type": "string",
              "description": "\u003cstrong\u003eNote:\u003c/strong\u003e This parameter is intended exclusively for YouTube\ncontent partners.\u003cbr\u003e\u003cbr\u003eThe\n\u003ccode\u003e\u003cstrong\u003eonBehalfOfContentOwner\u003c/strong\u003e\u003c/code\u003e parameter indicates\nthat the\nrequest's authorization credentials identify a YouTube CMS user who is\nacting on behalf of the content owner specified in the parameter value.\nThis parameter is intended for YouTube content partners that own and manage\nmany different YouTube channels. It allows content owners to authenticate\nonce and get access to all their video and channel data, without having to\nprovide authentication credentials for each individual channel. The CMS\naccount that the user authenticates with must be linked to the specified\nYouTube content owner."
            },
            "maxResults": {
              "type": "integer",
              "description": "The \u003ccode\u003e\u003cstrong\u003emaxResults\u003c/strong\u003e\u003c/code\u003e parameter specifies the\nmaximum number of items that should be returned in the result set.",
              "default": "5",
              "location": "query",
              "format": "uint32"
            },
            "pageToken": {
              "type": "string",
              "description": "The \u003ccode\u003e\u003cstrong\u003epageToken\u003c/strong\u003e\u003c/code\u003e parameter identifies a specific\npage in the result set that should be returned. In an API response, the\n\u003ccode\u003enextPageToken\u003c/code\u003e and \u003ccode\u003eprevPageToken\u003c/code\u003e properties\nidentify other pages that could be retrieved.",
              "location": "query"
            },
            "playlistId": {
              "location": "query",
              "description": "Return the playlist items within the given playlist.",
              "type": "string"
            }
          },
          "path": "youtube/v3/playlistItems",
          "id": "youtube.playlistItems.list",
          "description": "Retrieves a list of resources, possibly filtered.",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "httpMethod": "GET",
          "flatPath": "youtube/v3/playlistItems",
          "response": {
            "$ref": "PlaylistItemListResponse"
          }
        },
        "delete": {
          "parameters": {
            "id": {
              "type": "string",
              "location": "query",
              "required": true
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "description": "\u003cstrong\u003eNote:\u003c/strong\u003e This parameter is intended exclusively for YouTube\ncontent partners.\u003cbr\u003e\u003cbr\u003eThe\n\u003ccode\u003e\u003cstrong\u003eonBehalfOfContentOwner\u003c/strong\u003e\u003c/code\u003e parameter indicates\nthat the\nrequest's authorization credentials identify a YouTube CMS user who is\nacting on behalf of the content owner specified in the parameter value.\nThis parameter is intended for YouTube content partners that own and manage\nmany different YouTube channels. It allows content owners to authenticate\nonce and get access to all their video and channel data, without having to\nprovide authentication credentials for each individual channel. The CMS\naccount that the user authenticates with must be linked to the specified\nYouTube content owner.",
              "location": "query"
            }
          },
          "description": "Deletes a resource.",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "flatPath": "youtube/v3/playlistItems",
          "path": "youtube/v3/playlistItems",
          "id": "youtube.playlistItems.delete",
          "parameterOrder": [
            "id"
          ],
          "httpMethod": "DELETE"
        }
      }
    },
    "videoAbuseReportReasons": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly"
          ],
          "description": "Retrieves a list of resources, possibly filtered.",
          "path": "youtube/v3/videoAbuseReportReasons",
          "httpMethod": "GET",
          "parameterOrder": [
            "part"
          ],
          "id": "youtube.videoAbuseReportReasons.list",
          "parameters": {
            "hl": {
              "location": "query",
              "default": "en_US",
              "type": "string"
            },
            "part": {
              "required": true,
              "type": "string",
              "location": "query",
              "description": "The \u003ccode\u003e\u003cstrong\u003epart\u003c/strong\u003e\u003c/code\u003e parameter specifies the\n\u003ccode\u003evideoCategory\u003c/code\u003e resource parts that the API response will\ninclude. Supported values are \u003ccode\u003eid\u003c/code\u003e and \u003ccode\u003esnippet\u003c/code\u003e.",
              "repeated": true
            }
          },
          "response": {
            "$ref": "VideoAbuseReportReasonListResponse"
          },
          "flatPath": "youtube/v3/videoAbuseReportReasons"
        }
      }
    },
    "guideCategories": {
      "methods": {
        "list": {
          "response": {
            "$ref": "GuideCategoryListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "id": "youtube.guideCategories.list",
          "path": "youtube/v3/guideCategories",
          "httpMethod": "GET",
          "flatPath": "youtube/v3/guideCategories",
          "parameters": {
            "part": {
              "location": "query",
              "description": "The \u003ccode\u003e\u003cstrong\u003epart\u003c/strong\u003e\u003c/code\u003e parameter specifies the\n\u003ccode\u003eguideCategory\u003c/code\u003e resource properties that the API response will\ninclude. Set the parameter value to \u003ccode\u003esnippet\u003c/code\u003e.",
              "repeated": true,
              "type": "string",
              "required": true
            },
            "hl": {
              "location": "query",
              "default": "en-US",
              "type": "string"
            },
            "regionCode": {
              "description": "Return all categories in the given region code.",
              "location": "query",
              "type": "string"
            },
            "id": {
              "type": "string",
              "description": "Return the guide categories with the given IDs.",
              "location": "query",
              "repeated": true
            }
          },
          "parameterOrder": [
            "part"
          ],
          "description": "Retrieves a list of guide categories."
        }
      }
    },
    "videoCategories": {
      "methods": {
        "list": {
          "parameterOrder": [
            "part"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameters": {
            "hl": {
              "location": "query",
              "default": "en_US",
              "type": "string"
            },
            "regionCode": {
              "location": "query",
              "type": "string"
            },
            "id": {
              "type": "string",
              "location": "query",
              "repeated": true,
              "description": "Returns the video categories with the given IDs for Stubby or Apiary."
            },
            "part": {
              "type": "string",
              "required": true,
              "location": "query",
              "repeated": true,
              "description": "The \u003ccode\u003e\u003cstrong\u003epart\u003c/strong\u003e\u003c/code\u003e parameter specifies the\n\u003ccode\u003evideoCategory\u003c/code\u003e resource properties that the API response will\ninclude. Set the parameter value to \u003ccode\u003esnippet\u003c/code\u003e."
            }
          },
          "id": "youtube.videoCategories.list",
          "response": {
            "$ref": "VideoCategoryListResponse"
          },
          "path": "youtube/v3/videoCategories",
          "description": "Retrieves a list of resources, possibly filtered.",
          "httpMethod": "GET",
          "flatPath": "youtube/v3/videoCategories"
        }
      }
    },
    "i18nRegions": {
      "methods": {
        "list": {
          "path": "youtube/v3/i18nRegions",
          "parameterOrder": [
            "part"
          ],
          "response": {
            "$ref": "I18nRegionListResponse"
          },
          "flatPath": "youtube/v3/i18nRegions",
          "id": "youtube.i18nRegions.list",
          "description": "Retrieves a list of resources, possibly filtered.",
          "parameters": {
            "hl": {
              "type": "string",
              "default": "en_US",
              "location": "query"
            },
            "part": {
              "type": "string",
              "repeated": true,
              "description": "The \u003ccode\u003e\u003cstrong\u003epart\u003c/strong\u003e\u003c/code\u003e parameter specifies the\n\u003ccode\u003ei18nRegion\u003c/code\u003e resource properties that the API response will\ninclude. Set the parameter value to \u003ccode\u003esnippet\u003c/code\u003e.",
              "required": true,
              "location": "query"
            }
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        }
      }
    },
    "videos": {
      "methods": {
        "insert": {
          "response": {
            "$ref": "Video"
          },
          "supportsMediaUpload": true,
          "request": {
            "$ref": "Video"
          },
          "httpMethod": "POST",
          "id": "youtube.videos.insert",
          "description": "Inserts a new resource into this collection.",
          "parameters": {
            "stabilize": {
              "type": "boolean",
              "location": "query",
              "description": "Should stabilize be applied to the upload."
            },
            "notifySubscribers": {
              "default": "true",
              "description": "Notify the channel subscribers about the new video. As default, the\nnotification is enabled.",
              "location": "query",
              "type": "boolean"
            },
            "autoLevels": {
              "type": "boolean",
              "description": "Should auto-levels be applied to the upload.",
              "location": "query"
            },
            "onBehalfOfContentOwnerChannel": {
              "location": "query",
              "description": "This parameter can only be used in a properly \u003ca\nhref=\"/youtube/v3/guides/authentication\"\u003eauthorized request\u003c/a\u003e.\n\u003cstrong\u003eNote:\u003c/strong\u003e This parameter is intended exclusively for YouTube\ncontent partners.\u003cbr\u003e\u003cbr\u003eThe\n\u003ccode\u003e\u003cstrong\u003eonBehalfOfContentOwnerChannel\u003c/strong\u003e\u003c/code\u003e parameter\nspecifies the YouTube channel ID of the channel to which a video is being\nadded. This parameter is required when a request specifies a value for the\n\u003ccode\u003eonBehalfOfContentOwner\u003c/code\u003e parameter, and it can only be used in\nconjunction with that parameter. In addition, the request must be\nauthorized using a CMS account that is linked to the content owner that the\n\u003ccode\u003eonBehalfOfContentOwner\u003c/code\u003e parameter specifies. Finally, the\nchannel that the \u003ccode\u003eonBehalfOfContentOwnerChannel\u003c/code\u003e parameter value\nspecifies must be linked to the content owner that the\n\u003ccode\u003eonBehalfOfContentOwner\u003c/code\u003e parameter specifies.\u003cbr\u003e\u003cbr\u003eThis\nparameter is intended for YouTube content partners that own and manage many\ndifferent YouTube channels. It allows content owners to authenticate once\nand perform actions on behalf of the channel specified in the parameter\nvalue, without having to provide authentication credentials for each\nseparate channel.",
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "description": "\u003cstrong\u003eNote:\u003c/strong\u003e This parameter is intended exclusively for YouTube\ncontent partners.\u003cbr\u003e\u003cbr\u003eThe\n\u003ccode\u003e\u003cstrong\u003eonBehalfOfContentOwner\u003c/strong\u003e\u003c/code\u003e parameter indicates\nthat the\nrequest's authorization credentials identify a YouTube CMS user who is\nacting on behalf of the content owner specified in the parameter value.\nThis parameter is intended for YouTube content partners that own and manage\nmany different YouTube channels. It allows content owners to authenticate\nonce and get access to all their video and channel data, without having to\nprovide authentication credentials for each individual channel. The CMS\naccount that the user authenticates with must be linked to the specified\nYouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "part": {
              "type": "string",
              "location": "query",
              "repeated": true,
              "description": "The \u003ccode\u003e\u003cstrong\u003epart\u003c/strong\u003e\u003c/code\u003e parameter serves two purposes in\nthis operation. It identifies the properties that the write operation will\nset as well as the properties that the API response will\ninclude.\u003cbr/\u003e\u003cbr/\u003eNote that not all parts contain properties that can be\nset when inserting or updating a video. For example, the\n\u003ccode\u003estatistics\u003c/code\u003e object encapsulates statistics that YouTube\ncalculates for a video and does not contain values that you can set or\nmodify. If the parameter value specifies a \u003ccode\u003epart\u003c/code\u003e that does not\ncontain mutable values, that \u003ccode\u003epart\u003c/code\u003e will still be included in\nthe API response.",
              "required": true
            }
          },
          "flatPath": "youtube/v3/videos",
          "mediaUpload": {
            "accept": [
              "video/*",
              "application/octet-stream"
            ],
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/youtube/v3/videos"
              }
            },
            "maxSize": "137438953472"
          },
          "path": "youtube/v3/videos",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.upload",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameterOrder": [
            "part"
          ]
        },
        "update": {
          "description": "Updates an existing resource.",
          "parameters": {
            "onBehalfOfContentOwner": {
              "location": "query",
              "type": "string",
              "description": "\u003cstrong\u003eNote:\u003c/strong\u003e This parameter is intended exclusively for YouTube\ncontent partners.\u003cbr\u003e\u003cbr\u003eThe\n\u003ccode\u003e\u003cstrong\u003eonBehalfOfContentOwner\u003c/strong\u003e\u003c/code\u003e parameter indicates\nthat the\nrequest's authorization credentials identify a YouTube CMS user who is\nacting on behalf of the content owner specified in the parameter value.\nThis parameter is intended for YouTube content partners that own and manage\nmany different YouTube channels. It allows content owners to authenticate\nonce and get access to all their video and channel data, without having to\nprovide authentication credentials for each individual channel. The actual\nCMS account that the user authenticates with must be linked to the\nspecified YouTube content owner."
            },
            "part": {
              "required": true,
              "repeated": true,
              "location": "query",
              "description": "The \u003ccode\u003e\u003cstrong\u003epart\u003c/strong\u003e\u003c/code\u003e parameter serves two purposes in\nthis operation. It identifies the properties that the write operation will\nset as well as the properties that the API response will\ninclude.\u003cbr/\u003e\u003cbr/\u003eNote that this method will override the existing values\nfor all of the mutable properties that are contained in any parts that the\nparameter value specifies. For example, a\nvideo's privacy setting is contained in the \u003ccode\u003estatus\u003c/code\u003e part. As\nsuch, if your request is updating a private video, and the request's\n\u003ccode\u003epart\u003c/code\u003e parameter value includes the \u003ccode\u003estatus\u003c/code\u003e part,\nthe\nvideo's privacy setting will be updated to whatever value the request body\nspecifies. If the request body does not specify a value, the existing\nprivacy setting will be removed and the video will revert to the default\nprivacy setting.\u003cbr/\u003e\u003cbr/\u003eIn addition, not all parts contain properties\nthat can be set when inserting or updating a video. For example, the\n\u003ccode\u003estatistics\u003c/code\u003e object encapsulates statistics that YouTube\ncalculates for a video and does not contain values that you can set or\nmodify. If the parameter value specifies a \u003ccode\u003epart\u003c/code\u003e that does not\ncontain mutable values, that \u003ccode\u003epart\u003c/code\u003e will still be included in\nthe API response.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "request": {
            "$ref": "Video"
          },
          "id": "youtube.videos.update",
          "response": {
            "$ref": "Video"
          },
          "parameterOrder": [
            "part"
          ],
          "flatPath": "youtube/v3/videos",
          "path": "youtube/v3/videos",
          "httpMethod": "PUT"
        },
        "delete": {
          "parameterOrder": [
            "id"
          ],
          "path": "youtube/v3/videos",
          "id": "youtube.videos.delete",
          "description": "Deletes a resource.",
          "parameters": {
            "id": {
              "location": "query",
              "required": true,
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "description": "\u003cstrong\u003eNote:\u003c/strong\u003e This parameter is intended exclusively for YouTube\ncontent partners.\u003cbr\u003e\u003cbr\u003eThe\n\u003ccode\u003e\u003cstrong\u003eonBehalfOfContentOwner\u003c/strong\u003e\u003c/code\u003e parameter indicates\nthat the\nrequest's authorization credentials identify a YouTube CMS user who is\nacting on behalf of the content owner specified in the parameter value.\nThis parameter is intended for YouTube content partners that own and manage\nmany different YouTube channels. It allows content owners to authenticate\nonce and get access to all their video and channel data, without having to\nprovide authentication credentials for each individual channel. The actual\nCMS account that the user authenticates with must be linked to the\nspecified YouTube content owner.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "httpMethod": "DELETE",
          "flatPath": "youtube/v3/videos"
        },
        "getRating": {
          "id": "youtube.videos.getRating",
          "path": "youtube/v3/videos/getRating",
          "flatPath": "youtube/v3/videos/getRating",
          "description": "Retrieves the ratings that the authorized user gave to a list of specified\nvideos.",
          "parameters": {
            "id": {
              "type": "string",
              "repeated": true,
              "location": "query",
              "required": true
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "description": "\u003cstrong\u003eNote:\u003c/strong\u003e This parameter is intended exclusively for YouTube\ncontent partners.\u003cbr\u003e\u003cbr\u003eThe\n\u003ccode\u003e\u003cstrong\u003eonBehalfOfContentOwner\u003c/strong\u003e\u003c/code\u003e parameter indicates\nthat the\nrequest's authorization credentials identify a YouTube CMS user who is\nacting on behalf of the content owner specified in the parameter value.\nThis parameter is intended for YouTube content partners that own and manage\nmany different YouTube channels. It allows content owners to authenticate\nonce and get access to all their video and channel data, without having to\nprovide authentication credentials for each individual channel. The CMS\naccount that the user authenticates with must be linked to the specified\nYouTube content owner.",
              "location": "query"
            }
          },
          "parameterOrder": [
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "VideoRatingListResponse"
          }
        },
        "reportAbuse": {
          "parameters": {
            "onBehalfOfContentOwner": {
              "location": "query",
              "type": "string",
              "description": "\u003cstrong\u003eNote:\u003c/strong\u003e This parameter is intended exclusively for YouTube\ncontent partners.\u003cbr\u003e\u003cbr\u003eThe\n\u003ccode\u003e\u003cstrong\u003eonBehalfOfContentOwner\u003c/strong\u003e\u003c/code\u003e parameter indicates\nthat the\nrequest's authorization credentials identify a YouTube CMS user who is\nacting on behalf of the content owner specified in the parameter value.\nThis parameter is intended for YouTube content partners that own and manage\nmany different YouTube channels. It allows content owners to authenticate\nonce and get access to all their video and channel data, without having to\nprovide authentication credentials for each individual channel. The CMS\naccount that the user authenticates with must be linked to the specified\nYouTube content owner."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "description": "Report abuse for a video.",
          "request": {
            "$ref": "VideoAbuseReport"
          },
          "id": "youtube.videos.reportAbuse",
          "path": "youtube/v3/videos/reportAbuse",
          "flatPath": "youtube/v3/videos/reportAbuse",
          "httpMethod": "POST",
          "parameterOrder": []
        },
        "list": {
          "response": {
            "$ref": "VideoListResponse"
          },
          "httpMethod": "GET",
          "parameters": {
            "maxResults": {
              "location": "query",
              "description": "The \u003ccode\u003e\u003cstrong\u003emaxResults\u003c/strong\u003e\u003c/code\u003e parameter specifies the\nmaximum number of items that should be returned in the result\nset.\u003cbr\u003e\u003cbr\u003e\u003cstrong\u003eNote:\u003c/strong\u003e This parameter is supported for use in\nconjunction with the \u003ccode\u003e\u003ca href=\"#myRating\"\u003emyRating\u003c/a\u003e\u003c/code\u003e and\n\u003ccode\u003e\u003ca href=\"#chart\"\u003echart\u003c/a\u003e\u003c/code\u003e parameters, but it is not supported\nfor use in conjunction with the \u003ccode\u003e\u003ca href=\"#id\"\u003eid\u003c/a\u003e\u003c/code\u003e\nparameter.",
              "default": "5",
              "type": "integer",
              "format": "uint32"
            },
            "part": {
              "description": "The \u003ccode\u003e\u003cstrong\u003epart\u003c/strong\u003e\u003c/code\u003e parameter specifies a\ncomma-separated list of one or more \u003ccode\u003evideo\u003c/code\u003e resource properties\nthat the API response will include.\u003cbr\u003e\u003cbr\u003eIf the parameter identifies a\nproperty that contains child properties, the child properties will be\nincluded in the response. For example, in a \u003ccode\u003evideo\u003c/code\u003e resource,\nthe \u003ccode\u003esnippet\u003c/code\u003e property contains the \u003ccode\u003echannelId\u003c/code\u003e,\n\u003ccode\u003etitle\u003c/code\u003e, \u003ccode\u003edescription\u003c/code\u003e, \u003ccode\u003etags\u003c/code\u003e, and\n\u003ccode\u003ecategoryId\u003c/code\u003e properties. As such, if you set\n\u003ccode\u003e\u003cstrong\u003epart=snippet\u003c/strong\u003e\u003c/code\u003e, the API response will contain\nall of those properties.",
              "type": "string",
              "location": "query",
              "repeated": true,
              "required": true
            },
            "chart": {
              "enum": [
                "chartUnspecified",
                "mostPopular"
              ],
              "type": "string",
              "description": "Return the videos that are in the specified chart.",
              "location": "query"
            },
            "locale": {
              "type": "string",
              "location": "query"
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "location": "query",
              "description": "\u003cstrong\u003eNote:\u003c/strong\u003e This parameter is intended exclusively for YouTube\ncontent partners.\u003cbr\u003e\u003cbr\u003eThe\n\u003ccode\u003e\u003cstrong\u003eonBehalfOfContentOwner\u003c/strong\u003e\u003c/code\u003e parameter indicates\nthat the\nrequest's authorization credentials identify a YouTube CMS user who is\nacting on behalf of the content owner specified in the parameter value.\nThis parameter is intended for YouTube content partners that own and manage\nmany different YouTube channels. It allows content owners to authenticate\nonce and get access to all their video and channel data, without having to\nprovide authentication credentials for each individual channel. The CMS\naccount that the user authenticates with must be linked to the specified\nYouTube content owner."
            },
            "myRating": {
              "description": "Return videos liked/disliked by the authenticated user.\nDoes not support RateType.RATED_TYPE_NONE.",
              "location": "query",
              "type": "string",
              "enum": [
                "none",
                "like",
                "dislike"
              ]
            },
            "videoCategoryId": {
              "type": "string",
              "default": "0",
              "location": "query",
              "description": "Use chart that is specific to the specified video category"
            },
            "pageToken": {
              "description": "The \u003ccode\u003e\u003cstrong\u003epageToken\u003c/strong\u003e\u003c/code\u003e parameter identifies a specific\npage in the result set that should be returned. In an API response, the\n\u003ccode\u003enextPageToken\u003c/code\u003e and \u003ccode\u003eprevPageToken\u003c/code\u003e properties\nidentify other pages that could be retrieved.\u003cbr\u003e\u003cbr\u003e\u003cstrong\u003eNote:\u003c/strong\u003e\nThis parameter is supported for use in conjunction with the \u003ccode\u003e\u003ca\nhref=\"#myRating\"\u003emyRating\u003c/a\u003e\u003c/code\u003e and \u003ccode\u003e\u003ca\nhref=\"#chart\"\u003echart\u003c/a\u003e\u003c/code\u003e parameters, but it is not supported for use\nin conjunction with the \u003ccode\u003e\u003ca href=\"#id\"\u003eid\u003c/a\u003e\u003c/code\u003e parameter.",
              "location": "query",
              "type": "string"
            },
            "regionCode": {
              "type": "string",
              "location": "query",
              "description": "Use a chart that is specific to the specified region"
            },
            "maxHeight": {
              "format": "int32",
              "type": "integer",
              "location": "query"
            },
            "id": {
              "type": "string",
              "repeated": true,
              "location": "query",
              "description": "Return videos with the given ids."
            },
            "maxWidth": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "Return the player with maximum height specified in"
            },
            "hl": {
              "location": "query",
              "type": "string",
              "description": "Stands for \"host language\". Specifies the localization language of the\nmetadata to be filled into snippet.localized. The field is filled with the\ndefault metadata if there is no localization in the specified language.\nThe parameter value must be a language code included in the list returned\nby the i18nLanguages.list method (e.g. en_US, es_MX)."
            }
          },
          "parameterOrder": [
            "part"
          ],
          "flatPath": "youtube/v3/videos",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "path": "youtube/v3/videos",
          "id": "youtube.videos.list",
          "description": "Retrieves a list of resources, possibly filtered."
        },
        "rate": {
          "parameterOrder": [
            "id",
            "rating"
          ],
          "description": "Adds a like or dislike rating to a video or removes a rating from a video.",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameters": {
            "id": {
              "location": "query",
              "required": true,
              "type": "string"
            },
            "rating": {
              "type": "string",
              "enum": [
                "none",
                "like",
                "dislike"
              ],
              "required": true,
              "location": "query"
            }
          },
          "flatPath": "youtube/v3/videos/rate",
          "id": "youtube.videos.rate",
          "httpMethod": "POST",
          "path": "youtube/v3/videos/rate"
        }
      }
    },
    "channelSections": {
      "methods": {
        "update": {
          "response": {
            "$ref": "ChannelSection"
          },
          "id": "youtube.channelSections.update",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "path": "youtube/v3/channelSections",
          "httpMethod": "PUT",
          "flatPath": "youtube/v3/channelSections",
          "parameters": {
            "onBehalfOfContentOwner": {
              "type": "string",
              "location": "query",
              "description": "\u003cstrong\u003eNote:\u003c/strong\u003e This parameter is intended exclusively for YouTube\ncontent partners.\u003cbr\u003e\u003cbr\u003eThe\n\u003ccode\u003e\u003cstrong\u003eonBehalfOfContentOwner\u003c/strong\u003e\u003c/code\u003e parameter indicates\nthat the\nrequest's authorization credentials identify a YouTube CMS user who is\nacting on behalf of the content owner specified in the parameter value.\nThis parameter is intended for YouTube content partners that own and manage\nmany different YouTube channels. It allows content owners to authenticate\nonce and get access to all their video and channel data, without having to\nprovide authentication credentials for each individual channel. The CMS\naccount that the user authenticates with must be linked to the specified\nYouTube content owner."
            },
            "part": {
              "required": true,
              "type": "string",
              "repeated": true,
              "description": "The \u003ccode\u003e\u003cstrong\u003epart\u003c/strong\u003e\u003c/code\u003e parameter serves two purposes in\nthis operation. It identifies the properties that the write operation will\nset as well as the properties that the API response will\ninclude.\u003cbr/\u003e\u003cbr/\u003eThe \u003ccode\u003epart\u003c/code\u003e names that you can include in the\nparameter value are \u003ccode\u003esnippet\u003c/code\u003e and \u003ccode\u003econtentDetails\u003c/code\u003e.",
              "location": "query"
            }
          },
          "request": {
            "$ref": "ChannelSection"
          },
          "description": "Updates an existing resource.",
          "parameterOrder": [
            "part"
          ]
        },
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameters": {
            "onBehalfOfContentOwnerChannel": {
              "description": "This parameter can only be used in a properly \u003ca\nhref=\"/youtube/v3/guides/authentication\"\u003eauthorized request\u003c/a\u003e.\n\u003cstrong\u003eNote:\u003c/strong\u003e This parameter is intended exclusively for YouTube\ncontent partners.\u003cbr\u003e\u003cbr\u003eThe\n\u003ccode\u003e\u003cstrong\u003eonBehalfOfContentOwnerChannel\u003c/strong\u003e\u003c/code\u003e parameter\nspecifies the YouTube channel ID of the channel to which a video is being\nadded. This parameter is required when a request specifies a value for the\n\u003ccode\u003eonBehalfOfContentOwner\u003c/code\u003e parameter, and it can only be used in\nconjunction with that parameter. In addition, the request must be\nauthorized using a CMS account that is linked to the content owner that the\n\u003ccode\u003eonBehalfOfContentOwner\u003c/code\u003e parameter specifies. Finally, the\nchannel that the \u003ccode\u003eonBehalfOfContentOwnerChannel\u003c/code\u003e parameter value\nspecifies must be linked to the content owner that the\n\u003ccode\u003eonBehalfOfContentOwner\u003c/code\u003e parameter specifies.\u003cbr\u003e\u003cbr\u003eThis\nparameter is intended for YouTube content partners that own and manage many\ndifferent YouTube channels. It allows content owners to authenticate once\nand perform actions on behalf of the channel specified in the parameter\nvalue, without having to provide authentication credentials for each\nseparate channel.",
              "location": "query",
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "type": "string",
              "description": "\u003cstrong\u003eNote:\u003c/strong\u003e This parameter is intended exclusively for YouTube\ncontent partners.\u003cbr\u003e\u003cbr\u003eThe\n\u003ccode\u003e\u003cstrong\u003eonBehalfOfContentOwner\u003c/strong\u003e\u003c/code\u003e parameter indicates\nthat the\nrequest's authorization credentials identify a YouTube CMS user who is\nacting on behalf of the content owner specified in the parameter value.\nThis parameter is intended for YouTube content partners that own and manage\nmany different YouTube channels. It allows content owners to authenticate\nonce and get access to all their video and channel data, without having to\nprovide authentication credentials for each individual channel. The CMS\naccount that the user authenticates with must be linked to the specified\nYouTube content owner."
            },
            "part": {
              "location": "query",
              "required": true,
              "description": "The \u003ccode\u003e\u003cstrong\u003epart\u003c/strong\u003e\u003c/code\u003e parameter serves two purposes in\nthis operation. It identifies the properties that the write operation will\nset as well as the properties that the API response will\ninclude.\u003cbr/\u003e\u003cbr/\u003eThe \u003ccode\u003epart\u003c/code\u003e names that you can include in the\nparameter value are \u003ccode\u003esnippet\u003c/code\u003e and \u003ccode\u003econtentDetails\u003c/code\u003e.",
              "type": "string",
              "repeated": true
            }
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "part"
          ],
          "id": "youtube.channelSections.insert",
          "path": "youtube/v3/channelSections",
          "flatPath": "youtube/v3/channelSections",
          "response": {
            "$ref": "ChannelSection"
          },
          "description": "Inserts a new resource into this collection.",
          "request": {
            "$ref": "ChannelSection"
          }
        },
        "list": {
          "parameters": {
            "id": {
              "repeated": true,
              "location": "query",
              "type": "string",
              "description": "Return the ChannelSections with the given IDs for Stubby or Apiary."
            },
            "onBehalfOfContentOwner": {
              "description": "\u003cstrong\u003eNote:\u003c/strong\u003e This parameter is intended exclusively for YouTube\ncontent partners.\u003cbr\u003e\u003cbr\u003eThe\n\u003ccode\u003e\u003cstrong\u003eonBehalfOfContentOwner\u003c/strong\u003e\u003c/code\u003e parameter indicates\nthat the\nrequest's authorization credentials identify a YouTube CMS user who is\nacting on behalf of the content owner specified in the parameter value.\nThis parameter is intended for YouTube content partners that own and manage\nmany different YouTube channels. It allows content owners to authenticate\nonce and get access to all their video and channel data, without having to\nprovide authentication credentials for each individual channel. The CMS\naccount that the user authenticates with must be linked to the specified\nYouTube content owner.",
              "type": "string",
              "location": "query"
            },
            "mine": {
              "location": "query",
              "description": "Return the ChannelSections owned by the authenticated user.",
              "type": "boolean"
            },
            "part": {
              "description": "The \u003ccode\u003e\u003cstrong\u003epart\u003c/strong\u003e\u003c/code\u003e parameter specifies a\ncomma-separated list of one or more \u003ccode\u003echannelSection\u003c/code\u003e resource\nproperties that the API response will include. The \u003ccode\u003epart\u003c/code\u003e names\nthat you can include in the parameter value are \u003ccode\u003eid\u003c/code\u003e,\n\u003ccode\u003esnippet\u003c/code\u003e, and \u003ccode\u003econtentDetails\u003c/code\u003e.\u003cbr\u003e\u003cbr\u003eIf the\nparameter identifies a property that contains child properties, the child\nproperties will be included in the response. For example, in a\n\u003ccode\u003echannelSection\u003c/code\u003e resource, the \u003ccode\u003esnippet\u003c/code\u003e property\ncontains other properties, such as a display title for the channelSection.\nIf you set \u003ccode\u003e\u003cstrong\u003epart=snippet\u003c/strong\u003e\u003c/code\u003e, the API response\nwill also contain all of those nested properties.",
              "repeated": true,
              "type": "string",
              "required": true,
              "location": "query"
            },
            "hl": {
              "location": "query",
              "type": "string",
              "description": "Return content in specified language"
            },
            "channelId": {
              "location": "query",
              "description": "Return the ChannelSections owned by the specified channel ID.",
              "type": "string"
            }
          },
          "flatPath": "youtube/v3/channelSections",
          "httpMethod": "GET",
          "id": "youtube.channelSections.list",
          "response": {
            "$ref": "ChannelSectionListResponse"
          },
          "description": "Retrieves a list of resources, possibly filtered.",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "path": "youtube/v3/channelSections",
          "parameterOrder": [
            "part"
          ]
        },
        "delete": {
          "id": "youtube.channelSections.delete",
          "description": "Deletes a resource.",
          "httpMethod": "DELETE",
          "path": "youtube/v3/channelSections",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameterOrder": [
            "id"
          ],
          "parameters": {
            "id": {
              "type": "string",
              "required": true,
              "location": "query"
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "description": "\u003cstrong\u003eNote:\u003c/strong\u003e This parameter is intended exclusively for YouTube\ncontent partners.\u003cbr\u003e\u003cbr\u003eThe\n\u003ccode\u003e\u003cstrong\u003eonBehalfOfContentOwner\u003c/strong\u003e\u003c/code\u003e parameter indicates\nthat the\nrequest's authorization credentials identify a YouTube CMS user who is\nacting on behalf of the content owner specified in the parameter value.\nThis parameter is intended for YouTube content partners that own and manage\nmany different YouTube channels. It allows content owners to authenticate\nonce and get access to all their video and channel data, without having to\nprovide authentication credentials for each individual channel. The CMS\naccount that the user authenticates with must be linked to the specified\nYouTube content owner.",
              "location": "query"
            }
          },
          "flatPath": "youtube/v3/channelSections"
        }
      }
    },
    "liveStreams": {
      "methods": {
        "insert": {
          "parameterOrder": [
            "part"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "description": "Inserts a new stream for the authenticated user.",
          "request": {
            "$ref": "LiveStream"
          },
          "flatPath": "youtube/v3/liveStreams",
          "path": "youtube/v3/liveStreams",
          "httpMethod": "POST",
          "response": {
            "$ref": "LiveStream"
          },
          "parameters": {
            "part": {
              "required": true,
              "type": "string",
              "location": "query",
              "description": "The \u003ccode\u003e\u003cstrong\u003epart\u003c/strong\u003e\u003c/code\u003e parameter serves two purposes in\nthis operation. It identifies the properties that the write operation will\nset as well as the properties that the API response will\ninclude.\u003cbr\u003e\u003cbr\u003eThe \u003ccode\u003epart\u003c/code\u003e properties that you can include in\nthe parameter value are \u003ccode\u003eid\u003c/code\u003e, \u003ccode\u003esnippet\u003c/code\u003e,\n\u003ccode\u003ecdn\u003c/code\u003e, and \u003ccode\u003estatus\u003c/code\u003e.",
              "repeated": true
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "location": "query",
              "description": "\u003cstrong\u003eNote:\u003c/strong\u003e This parameter is intended exclusively for YouTube\ncontent partners.\u003cbr\u003e\u003cbr\u003eThe\n\u003ccode\u003e\u003cstrong\u003eonBehalfOfContentOwner\u003c/strong\u003e\u003c/code\u003e parameter indicates\nthat the\nrequest's authorization credentials identify a YouTube CMS user who is\nacting on behalf of the content owner specified in the parameter value.\nThis parameter is intended for YouTube content partners that own and manage\nmany different YouTube channels. It allows content owners to authenticate\nonce and get access to all their video and channel data, without having to\nprovide authentication credentials for each individual channel. The CMS\naccount that the user authenticates with must be linked to the specified\nYouTube content owner."
            },
            "onBehalfOfContentOwnerChannel": {
              "location": "query",
              "type": "string",
              "description": "This parameter can only be used in a properly \u003ca\nhref=\"/youtube/v3/guides/authentication\"\u003eauthorized request\u003c/a\u003e.\n\u003cstrong\u003eNote:\u003c/strong\u003e This parameter is intended exclusively for YouTube\ncontent partners.\u003cbr\u003e\u003cbr\u003eThe\n\u003ccode\u003e\u003cstrong\u003eonBehalfOfContentOwnerChannel\u003c/strong\u003e\u003c/code\u003e parameter\nspecifies the YouTube channel ID of the channel to which a video is being\nadded. This parameter is required when a request specifies a value for the\n\u003ccode\u003eonBehalfOfContentOwner\u003c/code\u003e parameter, and it can only be used in\nconjunction with that parameter. In addition, the request must be\nauthorized using a CMS account that is linked to the content owner that the\n\u003ccode\u003eonBehalfOfContentOwner\u003c/code\u003e parameter specifies. Finally, the\nchannel that the \u003ccode\u003eonBehalfOfContentOwnerChannel\u003c/code\u003e parameter value\nspecifies must be linked to the content owner that the\n\u003ccode\u003eonBehalfOfContentOwner\u003c/code\u003e parameter specifies.\u003cbr\u003e\u003cbr\u003eThis\nparameter is intended for YouTube content partners that own and manage many\ndifferent YouTube channels. It allows content owners to authenticate once\nand perform actions on behalf of the channel specified in the parameter\nvalue, without having to provide authentication credentials for each\nseparate channel."
            }
          },
          "id": "youtube.liveStreams.insert"
        },
        "list": {
          "parameterOrder": [
            "part"
          ],
          "parameters": {
            "id": {
              "description": "Return LiveStreams with the given ids from Stubby or Apiary.",
              "repeated": true,
              "type": "string",
              "location": "query"
            },
            "onBehalfOfContentOwnerChannel": {
              "description": "This parameter can only be used in a properly \u003ca\nhref=\"/youtube/v3/guides/authentication\"\u003eauthorized request\u003c/a\u003e.\n\u003cstrong\u003eNote:\u003c/strong\u003e This parameter is intended exclusively for YouTube\ncontent partners.\u003cbr\u003e\u003cbr\u003eThe\n\u003ccode\u003e\u003cstrong\u003eonBehalfOfContentOwnerChannel\u003c/strong\u003e\u003c/code\u003e parameter\nspecifies the YouTube channel ID of the channel to which a video is being\nadded. This parameter is required when a request specifies a value for the\n\u003ccode\u003eonBehalfOfContentOwner\u003c/code\u003e parameter, and it can only be used in\nconjunction with that parameter. In addition, the request must be\nauthorized using a CMS account that is linked to the content owner that the\n\u003ccode\u003eonBehalfOfContentOwner\u003c/code\u003e parameter specifies. Finally, the\nchannel that the \u003ccode\u003eonBehalfOfContentOwnerChannel\u003c/code\u003e parameter value\nspecifies must be linked to the content owner that the\n\u003ccode\u003eonBehalfOfContentOwner\u003c/code\u003e parameter specifies.\u003cbr\u003e\u003cbr\u003eThis\nparameter is intended for YouTube content partners that own and manage many\ndifferent YouTube channels. It allows content owners to authenticate once\nand perform actions on behalf of the channel specified in the parameter\nvalue, without having to provide authentication credentials for each\nseparate channel.",
              "type": "string",
              "location": "query"
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "location": "query",
              "description": "\u003cstrong\u003eNote:\u003c/strong\u003e This parameter is intended exclusively for YouTube\ncontent partners.\u003cbr\u003e\u003cbr\u003eThe\n\u003ccode\u003e\u003cstrong\u003eonBehalfOfContentOwner\u003c/strong\u003e\u003c/code\u003e parameter indicates\nthat the\nrequest's authorization credentials identify a YouTube CMS user who is\nacting on behalf of the content owner specified in the parameter value.\nThis parameter is intended for YouTube content partners that own and manage\nmany different YouTube channels. It allows content owners to authenticate\nonce and get access to all their video and channel data, without having to\nprovide authentication credentials for each individual channel. The CMS\naccount that the user authenticates with must be linked to the specified\nYouTube content owner."
            },
            "mine": {
              "location": "query",
              "type": "boolean"
            },
            "maxResults": {
              "format": "uint32",
              "default": "5",
              "type": "integer",
              "description": "The \u003ccode\u003e\u003cstrong\u003emaxResults\u003c/strong\u003e\u003c/code\u003e parameter specifies the\nmaximum number of items that should be returned in the result set.",
              "location": "query"
            },
            "pageToken": {
              "description": "The \u003ccode\u003e\u003cstrong\u003epageToken\u003c/strong\u003e\u003c/code\u003e parameter identifies a specific\npage in the result set that should be returned. In an API response, the\n\u003ccode\u003enextPageToken\u003c/code\u003e and \u003ccode\u003eprevPageToken\u003c/code\u003e properties\nidentify other pages that could be retrieved.",
              "type": "string",
              "location": "query"
            },
            "part": {
              "location": "query",
              "type": "string",
              "description": "The \u003ccode\u003e\u003cstrong\u003epart\u003c/strong\u003e\u003c/code\u003e parameter specifies a\ncomma-separated list of one or more \u003ccode\u003eliveStream\u003c/code\u003e resource\nproperties that the API response will include. The \u003ccode\u003epart\u003c/code\u003e names\nthat you can include in the parameter value are \u003ccode\u003eid\u003c/code\u003e,\n\u003ccode\u003esnippet\u003c/code\u003e, \u003ccode\u003ecdn\u003c/code\u003e, and \u003ccode\u003estatus\u003c/code\u003e.",
              "repeated": true,
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly"
          ],
          "httpMethod": "GET",
          "path": "youtube/v3/liveStreams",
          "response": {
            "$ref": "LiveStreamListResponse"
          },
          "id": "youtube.liveStreams.list",
          "flatPath": "youtube/v3/liveStreams",
          "description": "Retrieve the list of streams associated with the given channel. --"
        },
        "update": {
          "httpMethod": "PUT",
          "path": "youtube/v3/liveStreams",
          "id": "youtube.liveStreams.update",
          "description": "Updates an existing stream for the authenticated user.",
          "flatPath": "youtube/v3/liveStreams",
          "parameters": {
            "onBehalfOfContentOwnerChannel": {
              "description": "This parameter can only be used in a properly \u003ca\nhref=\"/youtube/v3/guides/authentication\"\u003eauthorized request\u003c/a\u003e.\n\u003cstrong\u003eNote:\u003c/strong\u003e This parameter is intended exclusively for YouTube\ncontent partners.\u003cbr\u003e\u003cbr\u003eThe\n\u003ccode\u003e\u003cstrong\u003eonBehalfOfContentOwnerChannel\u003c/strong\u003e\u003c/code\u003e parameter\nspecifies the YouTube channel ID of the channel to which a video is being\nadded. This parameter is required when a request specifies a value for the\n\u003ccode\u003eonBehalfOfContentOwner\u003c/code\u003e parameter, and it can only be used in\nconjunction with that parameter. In addition, the request must be\nauthorized using a CMS account that is linked to the content owner that the\n\u003ccode\u003eonBehalfOfContentOwner\u003c/code\u003e parameter specifies. Finally, the\nchannel that the \u003ccode\u003eonBehalfOfContentOwnerChannel\u003c/code\u003e parameter value\nspecifies must be linked to the content owner that the\n\u003ccode\u003eonBehalfOfContentOwner\u003c/code\u003e parameter specifies.\u003cbr\u003e\u003cbr\u003eThis\nparameter is intended for YouTube content partners that own and manage many\ndifferent YouTube channels. It allows content owners to authenticate once\nand perform actions on behalf of the channel specified in the parameter\nvalue, without having to provide authentication credentials for each\nseparate channel.",
              "location": "query",
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "description": "\u003cstrong\u003eNote:\u003c/strong\u003e This parameter is intended exclusively for YouTube\ncontent partners.\u003cbr\u003e\u003cbr\u003eThe\n\u003ccode\u003e\u003cstrong\u003eonBehalfOfContentOwner\u003c/strong\u003e\u003c/code\u003e parameter indicates\nthat the\nrequest's authorization credentials identify a YouTube CMS user who is\nacting on behalf of the content owner specified in the parameter value.\nThis parameter is intended for YouTube content partners that own and manage\nmany different YouTube channels. It allows content owners to authenticate\nonce and get access to all their video and channel data, without having to\nprovide authentication credentials for each individual channel. The CMS\naccount that the user authenticates with must be linked to the specified\nYouTube content owner.",
              "location": "query"
            },
            "part": {
              "repeated": true,
              "description": "The \u003ccode\u003e\u003cstrong\u003epart\u003c/strong\u003e\u003c/code\u003e parameter serves two purposes in\nthis operation. It identifies the properties that the write operation will\nset as well as the properties that the API response will\ninclude.\u003cbr\u003e\u003cbr\u003eThe \u003ccode\u003epart\u003c/code\u003e properties that you can include in\nthe parameter value are \u003ccode\u003eid\u003c/code\u003e, \u003ccode\u003esnippet\u003c/code\u003e,\n\u003ccode\u003ecdn\u003c/code\u003e, and \u003ccode\u003estatus\u003c/code\u003e.\u003cbr\u003e\u003cbr\u003eNote that this method\nwill override the existing values for all of the mutable properties that\nare contained in any parts that the parameter value specifies. If the\nrequest body does not specify a value for a mutable property, the existing\nvalue for that property will be removed.",
              "required": true,
              "type": "string",
              "location": "query"
            }
          },
          "request": {
            "$ref": "LiveStream"
          },
          "response": {
            "$ref": "LiveStream"
          },
          "parameterOrder": [
            "part"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ]
        },
        "delete": {
          "parameterOrder": [
            "id"
          ],
          "httpMethod": "DELETE",
          "description": "Deletes an existing stream for the authenticated user.",
          "flatPath": "youtube/v3/liveStreams",
          "id": "youtube.liveStreams.delete",
          "parameters": {
            "onBehalfOfContentOwnerChannel": {
              "description": "This parameter can only be used in a properly \u003ca\nhref=\"/youtube/v3/guides/authentication\"\u003eauthorized request\u003c/a\u003e.\n\u003cstrong\u003eNote:\u003c/strong\u003e This parameter is intended exclusively for YouTube\ncontent partners.\u003cbr\u003e\u003cbr\u003eThe\n\u003ccode\u003e\u003cstrong\u003eonBehalfOfContentOwnerChannel\u003c/strong\u003e\u003c/code\u003e parameter\nspecifies the YouTube channel ID of the channel to which a video is being\nadded. This parameter is required when a request specifies a value for the\n\u003ccode\u003eonBehalfOfContentOwner\u003c/code\u003e parameter, and it can only be used in\nconjunction with that parameter. In addition, the request must be\nauthorized using a CMS account that is linked to the content owner that the\n\u003ccode\u003eonBehalfOfContentOwner\u003c/code\u003e parameter specifies. Finally, the\nchannel that the \u003ccode\u003eonBehalfOfContentOwnerChannel\u003c/code\u003e parameter value\nspecifies must be linked to the content owner that the\n\u003ccode\u003eonBehalfOfContentOwner\u003c/code\u003e parameter specifies.\u003cbr\u003e\u003cbr\u003eThis\nparameter is intended for YouTube content partners that own and manage many\ndifferent YouTube channels. It allows content owners to authenticate once\nand perform actions on behalf of the channel specified in the parameter\nvalue, without having to provide authentication credentials for each\nseparate channel.",
              "location": "query",
              "type": "string"
            },
            "id": {
              "location": "query",
              "required": true,
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "description": "\u003cstrong\u003eNote:\u003c/strong\u003e This parameter is intended exclusively for YouTube\ncontent partners.\u003cbr\u003e\u003cbr\u003eThe\n\u003ccode\u003e\u003cstrong\u003eonBehalfOfContentOwner\u003c/strong\u003e\u003c/code\u003e parameter indicates\nthat the\nrequest's authorization credentials identify a YouTube CMS user who is\nacting on behalf of the content owner specified in the parameter value.\nThis parameter is intended for YouTube content partners that own and manage\nmany different YouTube channels. It allows content owners to authenticate\nonce and get access to all their video and channel data, without having to\nprovide authentication credentials for each individual channel. The CMS\naccount that the user authenticates with must be linked to the specified\nYouTube content owner.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "youtube/v3/liveStreams",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ]
        }
      }
    },
    "comments": {
      "methods": {
        "markAsSpam": {
          "description": "Expresses the caller's opinion that one or more comments should be flagged\nas spam.",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "parameters": {
            "id": {
              "description": "Flags the comments with the given IDs as spam in the caller's opinion.",
              "location": "query",
              "repeated": true,
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "id"
          ],
          "flatPath": "youtube/v3/comments/markAsSpam",
          "httpMethod": "POST",
          "id": "youtube.comments.markAsSpam",
          "path": "youtube/v3/comments/markAsSpam"
        },
        "update": {
          "parameters": {
            "part": {
              "required": true,
              "location": "query",
              "repeated": true,
              "type": "string",
              "description": "The \u003ccode\u003e\u003cstrong\u003epart\u003c/strong\u003e\u003c/code\u003e parameter identifies the properties\nthat the API response will include. You must at least include the\n\u003ccode\u003esnippet\u003c/code\u003e part in the parameter value since that part contains\nall of the properties that the API request can update."
            }
          },
          "parameterOrder": [
            "part"
          ],
          "description": "Updates an existing resource.",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "httpMethod": "PUT",
          "response": {
            "$ref": "Comment"
          },
          "request": {
            "$ref": "Comment"
          },
          "id": "youtube.comments.update",
          "flatPath": "youtube/v3/comments",
          "path": "youtube/v3/comments"
        },
        "setModerationStatus": {
          "flatPath": "youtube/v3/comments/setModerationStatus",
          "parameterOrder": [
            "id",
            "moderationStatus"
          ],
          "httpMethod": "POST",
          "parameters": {
            "banAuthor": {
              "description": "If set to true the author of the comment gets added to the ban list.\nThis means all future comments of the author will autmomatically be\nrejected.\nOnly valid in combination with STATUS_REJECTED.",
              "type": "boolean",
              "location": "query",
              "default": "false"
            },
            "moderationStatus": {
              "description": "Specifies the requested moderation status. Note, comments can be in\nstatuses, which are not available through this call. For example, this\ncall does not allow to mark a comment as 'likely spam'.\nValid values: MODERATION_STATUS_PUBLISHED,\nMODERATION_STATUS_HELD_FOR_REVIEW, MODERATION_STATUS_REJECTED.",
              "enum": [
                "published",
                "heldForReview",
                "likelySpam",
                "rejected"
              ],
              "type": "string",
              "required": true,
              "location": "query"
            },
            "id": {
              "required": true,
              "description": "Modifies the moderation status of the comments with the given IDs",
              "repeated": true,
              "type": "string",
              "location": "query"
            }
          },
          "path": "youtube/v3/comments/setModerationStatus",
          "description": "Sets the moderation status of one or more comments.",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "id": "youtube.comments.setModerationStatus"
        },
        "list": {
          "description": "Retrieves a list of resources, possibly filtered.",
          "response": {
            "$ref": "CommentListResponse"
          },
          "httpMethod": "GET",
          "parameters": {
            "pageToken": {
              "description": "The \u003ccode\u003e\u003cstrong\u003epageToken\u003c/strong\u003e\u003c/code\u003e parameter identifies a specific\npage in the result set that should be returned. In an API response, the\n\u003ccode\u003enextPageToken\u003c/code\u003e and \u003ccode\u003eprevPageToken\u003c/code\u003e properties\nidentify other pages that could be retrieved.",
              "type": "string",
              "location": "query"
            },
            "parentId": {
              "description": "Returns replies to the specified comment.\nNote, currently YouTube features only one level of replies (ie replies\nto top level comments). However replies to replies may be supported in\nthe future.",
              "type": "string",
              "location": "query"
            },
            "textFormat": {
              "enum": [
                "textFormatUnspecified",
                "html",
                "plainText"
              ],
              "location": "query",
              "description": "The requested text format for the returned comments.",
              "type": "string",
              "default": "html"
            },
            "maxResults": {
              "type": "integer",
              "format": "uint32",
              "location": "query",
              "description": "The \u003ccode\u003e\u003cstrong\u003emaxResults\u003c/strong\u003e\u003c/code\u003e parameter specifies the\nmaximum number of items that should be returned in the result set.",
              "default": "20"
            },
            "id": {
              "description": "Returns the comments with the given IDs for One Platform.",
              "repeated": true,
              "location": "query",
              "type": "string"
            },
            "part": {
              "required": true,
              "repeated": true,
              "location": "query",
              "description": "The \u003ccode\u003e\u003cstrong\u003epart\u003c/strong\u003e\u003c/code\u003e parameter specifies a\ncomma-separated list of one or more \u003ccode\u003ecomment\u003c/code\u003e resource\nproperties that the API response will include.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "parameterOrder": [
            "part"
          ],
          "flatPath": "youtube/v3/comments",
          "id": "youtube.comments.list",
          "path": "youtube/v3/comments"
        },
        "insert": {
          "description": "Inserts a new resource into this collection.",
          "path": "youtube/v3/comments",
          "httpMethod": "POST",
          "id": "youtube.comments.insert",
          "response": {
            "$ref": "Comment"
          },
          "flatPath": "youtube/v3/comments",
          "parameters": {
            "part": {
              "description": "The \u003ccode\u003e\u003cstrong\u003epart\u003c/strong\u003e\u003c/code\u003e parameter identifies the properties\nthat the API response will include. Set the parameter value to\n\u003ccode\u003esnippet\u003c/code\u003e. The \u003ccode\u003esnippet\u003c/code\u003e part has a quota cost of 2\nunits.",
              "required": true,
              "type": "string",
              "repeated": true,
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "request": {
            "$ref": "Comment"
          },
          "parameterOrder": [
            "part"
          ]
        },
        "delete": {
          "httpMethod": "DELETE",
          "flatPath": "youtube/v3/comments",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "id": "youtube.comments.delete",
          "description": "Deletes a resource.",
          "parameters": {
            "id": {
              "location": "query",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "id"
          ],
          "path": "youtube/v3/comments"
        }
      }
    },
    "liveChatModerators": {
      "methods": {
        "insert": {
          "parameterOrder": [
            "part"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "id": "youtube.liveChatModerators.insert",
          "parameters": {
            "part": {
              "description": "The \u003ccode\u003e\u003cstrong\u003epart\u003c/strong\u003e\u003c/code\u003e parameter serves two purposes in\nthis operation. It identifies the properties that the write operation will\nset as well as the properties that the API response returns. Set the\nparameter value to \u003ccode\u003esnippet\u003c/code\u003e.",
              "location": "query",
              "required": true,
              "repeated": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "LiveChatModerator"
          },
          "flatPath": "youtube/v3/liveChat/moderators",
          "request": {
            "$ref": "LiveChatModerator"
          },
          "path": "youtube/v3/liveChat/moderators",
          "httpMethod": "POST",
          "description": "Inserts a new resource into this collection."
        },
        "list": {
          "parameters": {
            "liveChatId": {
              "required": true,
              "location": "query",
              "type": "string",
              "description": "The id of the live chat for which moderators should be returned."
            },
            "pageToken": {
              "type": "string",
              "description": "The \u003ccode\u003e\u003cstrong\u003epageToken\u003c/strong\u003e\u003c/code\u003e parameter identifies a specific\npage in the result set that should be returned. In an API response, the\n\u003ccode\u003enextPageToken\u003c/code\u003e and \u003ccode\u003eprevPageToken\u003c/code\u003e properties\nidentify other pages that could be retrieved.",
              "location": "query"
            },
            "part": {
              "type": "string",
              "repeated": true,
              "location": "query",
              "description": "The \u003ccode\u003e\u003cstrong\u003epart\u003c/strong\u003e\u003c/code\u003e parameter specifies the\n\u003ccode\u003eliveChatModerator\u003c/code\u003e resource parts that the API response will\ninclude. Supported values are \u003ccode\u003eid\u003c/code\u003e and \u003ccode\u003esnippet\u003c/code\u003e.",
              "required": true
            },
            "maxResults": {
              "type": "integer",
              "location": "query",
              "description": "The \u003ccode\u003e\u003cstrong\u003emaxResults\u003c/strong\u003e\u003c/code\u003e parameter specifies the\nmaximum number of items that should be returned in the result set.",
              "format": "uint32",
              "default": "5"
            }
          },
          "id": "youtube.liveChatModerators.list",
          "flatPath": "youtube/v3/liveChat/moderators",
          "path": "youtube/v3/liveChat/moderators",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly"
          ],
          "response": {
            "$ref": "LiveChatModeratorListResponse"
          },
          "description": "Retrieves a list of resources, possibly filtered.",
          "parameterOrder": [
            "liveChatId",
            "part"
          ]
        },
        "delete": {
          "parameters": {
            "id": {
              "location": "query",
              "type": "string",
              "required": true
            }
          },
          "httpMethod": "DELETE",
          "path": "youtube/v3/liveChat/moderators",
          "parameterOrder": [
            "id"
          ],
          "id": "youtube.liveChatModerators.delete",
          "description": "Deletes a chat moderator.",
          "flatPath": "youtube/v3/liveChat/moderators",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ]
        }
      }
    },
    "liveChatBans": {
      "methods": {
        "insert": {
          "path": "youtube/v3/liveChat/bans",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "description": "Inserts a new resource into this collection.",
          "flatPath": "youtube/v3/liveChat/bans",
          "parameters": {
            "part": {
              "description": "The \u003ccode\u003e\u003cstrong\u003epart\u003c/strong\u003e\u003c/code\u003e parameter serves two purposes in\nthis operation. It identifies the properties that the write operation will\nset as well as the properties that the API response returns. Set the\nparameter value to \u003ccode\u003esnippet\u003c/code\u003e.",
              "required": true,
              "repeated": true,
              "location": "query",
              "type": "string"
            }
          },
          "response": {
            "$ref": "LiveChatBan"
          },
          "parameterOrder": [
            "part"
          ],
          "httpMethod": "POST",
          "id": "youtube.liveChatBans.insert",
          "request": {
            "$ref": "LiveChatBan"
          }
        },
        "delete": {
          "flatPath": "youtube/v3/liveChat/bans",
          "parameterOrder": [
            "id"
          ],
          "description": "Deletes a chat ban.",
          "path": "youtube/v3/liveChat/bans",
          "parameters": {
            "id": {
              "required": true,
              "location": "query",
              "type": "string"
            }
          },
          "id": "youtube.liveChatBans.delete",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ]
        }
      }
    },
    "i18nLanguages": {
      "methods": {
[...]
