{
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "name": "youtube",
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://youtube.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "documentationLink": "https://developers.google.com/youtube/",
  "description": "The YouTube Data API v3 is an API that provides access to YouTube data, such as videos, playlists, and channels.",
  "canonicalName": "YouTube",
  "discoveryVersion": "v1",
  "basePath": "",
  "parameters": {
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "description": "Data format for response.",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    }
  },
  "resources": {
    "thumbnails": {
      "methods": {
        "set": {
          "description": "As this is not an insert in a strict sense (it supports uploading/setting of a thumbnail for multiple videos, which doesn't result in creation of a single resource), I use a custom verb here.",
          "path": "youtube/v3/thumbnails/set",
          "supportsMediaUpload": true,
          "mediaUpload": {
            "maxSize": "2097152",
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/youtube/v3/thumbnails/set"
              }
            },
            "accept": [
              "image/jpeg",
              "image/png",
              "application/octet-stream"
            ]
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.upload",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "flatPath": "youtube/v3/thumbnails/set",
          "parameters": {
            "videoId": {
              "description": "Returns the Thumbnail with the given video IDs for Stubby or Apiary.",
              "location": "query",
              "required": true,
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            }
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "ThumbnailSetResponse"
          },
          "id": "youtube.thumbnails.set",
          "parameterOrder": [
            "videoId"
          ]
        }
      }
    },
    "playlists": {
      "methods": {
        "update": {
          "request": {
            "$ref": "Playlist"
          },
          "parameterOrder": [
            "part"
          ],
          "id": "youtube.playlists.update",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "description": "Updates an existing resource.",
          "httpMethod": "PUT",
          "parameters": {
            "part": {
              "required": true,
              "repeated": true,
              "location": "query",
              "type": "string",
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. Note that this method will override the existing values for mutable properties that are contained in any parts that the request body specifies. For example, a playlist's description is contained in the snippet part, which must be included in the request body. If the request does not specify a value for the snippet.description property, the playlist's existing description will be deleted."
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query"
            }
          },
          "flatPath": "youtube/v3/playlists",
          "response": {
            "$ref": "Playlist"
          },
          "path": "youtube/v3/playlists"
        },
        "insert": {
          "parameterOrder": [
            "part"
          ],
          "description": "Inserts a new resource into this collection.",
          "request": {
            "$ref": "Playlist"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "flatPath": "youtube/v3/playlists",
          "response": {
            "$ref": "Playlist"
          },
          "id": "youtube.playlists.insert",
          "path": "youtube/v3/playlists",
          "parameters": {
            "onBehalfOfContentOwnerChannel": {
              "location": "query",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "type": "string"
            },
            "part": {
              "type": "string",
              "location": "query",
              "required": true,
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include.",
              "repeated": true
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            }
          }
        },
        "delete": {
          "parameterOrder": [
            "id"
          ],
          "flatPath": "youtube/v3/playlists",
          "id": "youtube.playlists.delete",
          "httpMethod": "DELETE",
          "path": "youtube/v3/playlists",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "description": "Deletes a resource.",
          "parameters": {
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "id": {
              "location": "query",
              "required": true,
              "type": "string"
            }
          }
        },
        "list": {
          "id": "youtube.playlists.list",
          "flatPath": "youtube/v3/playlists",
          "path": "youtube/v3/playlists",
          "httpMethod": "GET",
          "parameterOrder": [
            "part"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameters": {
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "part": {
              "required": true,
              "type": "string",
              "repeated": true,
              "location": "query",
              "description": "The *part* parameter specifies a comma-separated list of one or more playlist resource properties that the API response will include. If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in a playlist resource, the snippet property contains properties like author, title, description, tags, and timeCreated. As such, if you set *part=snippet*, the API response will contain all of those properties."
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved."
            },
            "onBehalfOfContentOwnerChannel": {
              "location": "query",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "type": "string"
            },
            "id": {
              "repeated": true,
              "type": "string",
              "location": "query",
              "description": "Return the playlists with the given IDs for Stubby or Apiary."
            },
            "maxResults": {
              "type": "integer",
              "format": "uint32",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "default": "5",
              "location": "query"
            },
            "hl": {
              "location": "query",
              "type": "string",
              "description": "Returen content in specified language"
            },
            "mine": {
              "type": "boolean",
              "description": "Return the playlists owned by the authenticated user.",
              "location": "query"
            },
            "channelId": {
              "description": "Return the playlists owned by the specified channel ID.",
              "location": "query",
              "type": "string"
            }
          },
          "response": {
            "$ref": "PlaylistListResponse"
          },
          "description": "Retrieves a list of resources, possibly filtered."
        }
      }
    },
    "commentThreads": {
      "methods": {
        "insert": {
          "flatPath": "youtube/v3/commentThreads",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "path": "youtube/v3/commentThreads",
          "parameterOrder": [
            "part"
          ],
          "request": {
            "$ref": "CommentThread"
          },
          "parameters": {
            "part": {
              "location": "query",
              "type": "string",
              "repeated": true,
              "description": "The *part* parameter identifies the properties that the API response will include. Set the parameter value to snippet. The snippet part has a quota cost of 2 units.",
              "required": true
            }
          },
          "id": "youtube.commentThreads.insert",
          "httpMethod": "POST",
          "response": {
            "$ref": "CommentThread"
          },
          "description": "Inserts a new resource into this collection."
        },
        "list": {
          "parameterOrder": [
            "part"
          ],
          "path": "youtube/v3/commentThreads",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "flatPath": "youtube/v3/commentThreads",
          "parameters": {
            "searchTerms": {
              "type": "string",
              "location": "query",
              "description": "Limits the returned comment threads to those matching the specified key words. Not compatible with the 'id' filter."
            },
            "videoId": {
              "type": "string",
              "location": "query",
              "description": "Returns the comment threads of the specified video."
            },
            "part": {
              "description": "The *part* parameter specifies a comma-separated list of one or more commentThread resource properties that the API response will include.",
              "location": "query",
              "repeated": true,
              "type": "string",
              "required": true
            },
            "order": {
              "default": "time",
              "enumDescriptions": [
                "",
                "",
                ""
              ],
              "location": "query",
              "enum": [
                "orderUnspecified",
                "time",
                "relevance"
              ],
              "type": "string"
            },
            "maxResults": {
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "location": "query",
              "default": "20",
              "format": "uint32",
              "type": "integer"
            },
            "moderationStatus": {
              "description": "Limits the returned comment threads to those with the specified moderation status. Not compatible with the 'id' filter. Valid values: published, heldForReview, likelySpam.",
              "enum": [
                "published",
                "heldForReview",
                "likelySpam",
                "rejected"
              ],
              "type": "string",
              "location": "query",
              "enumDescriptions": [
                "",
                "",
                "",
                ""
              ],
              "default": "published"
            },
            "textFormat": {
              "type": "string",
              "default": "html",
              "enum": [
                "textFormatUnspecified",
                "html",
                "plainText"
              ],
              "enumDescriptions": [
                "",
                "",
                ""
              ],
              "location": "query",
              "description": "The requested text format for the returned comments."
            },
            "allThreadsRelatedToChannelId": {
              "location": "query",
              "description": "Returns the comment threads of all videos of the channel and the channel comments as well.",
              "type": "string"
            },
            "channelId": {
              "location": "query",
              "type": "string",
              "description": "Returns the comment threads for all the channel comments (ie does not include comments left on videos)."
            },
            "pageToken": {
              "type": "string",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "location": "query"
            },
            "id": {
              "description": "Returns the comment threads with the given IDs for Stubby or Apiary.",
              "type": "string",
              "location": "query",
              "repeated": true
            }
          },
          "httpMethod": "GET",
          "description": "Retrieves a list of resources, possibly filtered.",
          "id": "youtube.commentThreads.list",
          "response": {
            "$ref": "CommentThreadListResponse"
          }
        },
        "update": {
          "description": "Updates an existing resource.",
          "parameters": {
            "part": {
              "type": "string",
              "required": true,
              "description": "The *part* parameter specifies a comma-separated list of commentThread resource properties that the API response will include. You must at least include the snippet part in the parameter value since that part contains all of the properties that the API request can update.",
              "location": "query",
              "repeated": true
            }
          },
          "response": {
            "$ref": "CommentThread"
          },
          "flatPath": "youtube/v3/commentThreads",
          "request": {
            "$ref": "CommentThread"
          },
          "path": "youtube/v3/commentThreads",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "httpMethod": "PUT",
          "parameterOrder": [
            "part"
          ],
          "id": "youtube.commentThreads.update"
        }
      }
    },
    "comments": {
      "methods": {
        "insert": {
          "parameters": {
            "part": {
              "type": "string",
              "description": "The *part* parameter identifies the properties that the API response will include. Set the parameter value to snippet. The snippet part has a quota cost of 2 units.",
              "repeated": true,
              "required": true,
              "location": "query"
            }
          },
          "request": {
            "$ref": "Comment"
          },
          "description": "Inserts a new resource into this collection.",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "id": "youtube.comments.insert",
          "httpMethod": "POST",
          "response": {
            "$ref": "Comment"
          },
          "parameterOrder": [
            "part"
          ],
          "flatPath": "youtube/v3/comments",
          "path": "youtube/v3/comments"
        },
        "update": {
          "request": {
            "$ref": "Comment"
          },
          "response": {
            "$ref": "Comment"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "httpMethod": "PUT",
          "description": "Updates an existing resource.",
          "flatPath": "youtube/v3/comments",
          "parameterOrder": [
            "part"
          ],
          "id": "youtube.comments.update",
          "parameters": {
            "part": {
              "description": "The *part* parameter identifies the properties that the API response will include. You must at least include the snippet part in the parameter value since that part contains all of the properties that the API request can update.",
              "required": true,
              "type": "string",
              "location": "query",
              "repeated": true
            }
          },
          "path": "youtube/v3/comments"
        },
        "delete": {
          "description": "Deletes a resource.",
          "id": "youtube.comments.delete",
          "httpMethod": "DELETE",
          "flatPath": "youtube/v3/comments",
          "parameterOrder": [
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "path": "youtube/v3/comments",
          "parameters": {
            "id": {
              "required": true,
              "location": "query",
              "type": "string"
            }
          }
        },
        "markAsSpam": {
          "flatPath": "youtube/v3/comments/markAsSpam",
          "parameterOrder": [
            "id"
          ],
          "httpMethod": "POST",
          "path": "youtube/v3/comments/markAsSpam",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "description": "Expresses the caller's opinion that one or more comments should be flagged as spam.",
          "id": "youtube.comments.markAsSpam",
          "parameters": {
            "id": {
              "type": "string",
              "description": "Flags the comments with the given IDs as spam in the caller's opinion.",
              "repeated": true,
              "required": true,
              "location": "query"
            }
          }
        },
        "setModerationStatus": {
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "flatPath": "youtube/v3/comments/setModerationStatus",
          "parameters": {
            "banAuthor": {
              "location": "query",
              "default": "false",
              "description": "If set to true the author of the comment gets added to the ban list. This means all future comments of the author will autmomatically be rejected. Only valid in combination with STATUS_REJECTED.",
              "type": "boolean"
            },
            "id": {
              "type": "string",
              "location": "query",
              "description": "Modifies the moderation status of the comments with the given IDs",
              "repeated": true,
              "required": true
            },
            "moderationStatus": {
              "type": "string",
              "enum": [
                "published",
                "heldForReview",
                "likelySpam",
                "rejected"
              ],
              "enumDescriptions": [
                "",
                "",
                "",
                ""
              ],
              "required": true,
              "location": "query",
              "description": "Specifies the requested moderation status. Note, comments can be in statuses, which are not available through this call. For example, this call does not allow to mark a comment as 'likely spam'. Valid values: MODERATION_STATUS_PUBLISHED, MODERATION_STATUS_HELD_FOR_REVIEW, MODERATION_STATUS_REJECTED."
            }
          },
          "description": "Sets the moderation status of one or more comments.",
          "id": "youtube.comments.setModerationStatus",
          "parameterOrder": [
            "id",
            "moderationStatus"
          ],
          "httpMethod": "POST",
          "path": "youtube/v3/comments/setModerationStatus"
        },
        "list": {
          "httpMethod": "GET",
          "response": {
            "$ref": "CommentListResponse"
          },
          "path": "youtube/v3/comments",
          "parameterOrder": [
            "part"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "flatPath": "youtube/v3/comments",
          "description": "Retrieves a list of resources, possibly filtered.",
          "parameters": {
            "textFormat": {
              "type": "string",
              "enumDescriptions": [
                "",
                "",
                ""
              ],
              "location": "query",
              "default": "html",
              "description": "The requested text format for the returned comments.",
              "enum": [
                "textFormatUnspecified",
                "html",
                "plainText"
              ]
            },
            "parentId": {
              "type": "string",
              "description": "Returns replies to the specified comment. Note, currently YouTube features only one level of replies (ie replies to top level comments). However replies to replies may be supported in the future.",
              "location": "query"
            },
            "part": {
              "description": "The *part* parameter specifies a comma-separated list of one or more comment resource properties that the API response will include.",
              "location": "query",
              "type": "string",
              "repeated": true,
              "required": true
            },
            "id": {
              "type": "string",
              "location": "query",
              "repeated": true,
              "description": "Returns the comments with the given IDs for One Platform."
            },
            "maxResults": {
              "location": "query",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "format": "uint32",
              "type": "integer",
              "default": "20"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved."
            }
          },
          "id": "youtube.comments.list"
        }
      }
    },
    "i18nLanguages": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "response": {
            "$ref": "I18nLanguageListResponse"
          },
          "parameters": {
            "hl": {
              "location": "query",
              "default": "en_US",
              "type": "string"
            },
            "part": {
              "location": "query",
              "repeated": true,
              "required": true,
              "description": "The *part* parameter specifies the i18nLanguage resource properties that the API response will include. Set the parameter value to snippet.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "description": "Retrieves a list of resources, possibly filtered.",
          "path": "youtube/v3/i18nLanguages",
          "parameterOrder": [
            "part"
          ],
          "id": "youtube.i18nLanguages.list",
          "flatPath": "youtube/v3/i18nLanguages"
        }
      }
    },
    "liveChatMessages": {
      "methods": {
        "insert": {
          "path": "youtube/v3/liveChat/messages",
          "parameters": {
            "part": {
              "type": "string",
              "location": "query",
              "description": "The *part* parameter serves two purposes. It identifies the properties that the write operation will set as well as the properties that the API response will include. Set the parameter value to snippet.",
              "repeated": true,
              "required": true
            }
          },
          "flatPath": "youtube/v3/liveChat/messages",
          "parameterOrder": [
            "part"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "response": {
            "$ref": "LiveChatMessage"
          },
          "description": "Inserts a new resource into this collection.",
          "id": "youtube.liveChatMessages.insert",
          "httpMethod": "POST",
          "request": {
            "$ref": "LiveChatMessage"
          }
        },
        "list": {
          "path": "youtube/v3/liveChat/messages",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly"
          ],
          "response": {
            "$ref": "LiveChatMessageListResponse"
          },
          "description": "Retrieves a list of resources, possibly filtered.",
          "httpMethod": "GET",
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken property identify other pages that could be retrieved.",
              "location": "query"
            },
            "liveChatId": {
              "location": "query",
              "required": true,
              "description": "The id of the live chat for which comments should be returned.",
              "type": "string"
            },
            "part": {
              "description": "The *part* parameter specifies the liveChatComment resource parts that the API response will include. Supported values are id and snippet.",
              "type": "string",
              "required": true,
              "repeated": true,
              "location": "query"
            },
            "profileImageSize": {
              "description": "Specifies the size of the profile image that should be returned for each user.",
              "location": "query",
              "format": "uint32",
              "type": "integer"
            },
            "maxResults": {
              "format": "uint32",
              "type": "integer",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "default": "500",
              "location": "query"
            },
            "hl": {
              "type": "string",
              "description": "Specifies the localization language in which the system messages should be returned.",
              "location": "query"
            }
          },
          "flatPath": "youtube/v3/liveChat/messages",
          "parameterOrder": [
            "liveChatId",
            "part"
          ],
          "id": "youtube.liveChatMessages.list"
        },
        "delete": {
          "description": "Deletes a chat message.",
          "httpMethod": "DELETE",
          "id": "youtube.liveChatMessages.delete",
          "parameterOrder": [
            "id"
          ],
          "parameters": {
            "id": {
              "location": "query",
              "type": "string",
              "required": true
            }
          },
          "flatPath": "youtube/v3/liveChat/messages",
          "path": "youtube/v3/liveChat/messages",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ]
        }
      }
    },
    "membershipsLevels": {
      "methods": {
        "list": {
          "path": "youtube/v3/membershipsLevels",
          "parameterOrder": [
            "part"
          ],
          "flatPath": "youtube/v3/membershipsLevels",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.channel-memberships.creator",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "id": "youtube.membershipsLevels.list",
          "description": "Retrieves a list of all pricing levels offered by a creator to the fans.",
          "response": {
            "$ref": "MembershipsLevelListResponse"
          },
          "parameters": {
            "part": {
              "required": true,
              "location": "query",
              "repeated": true,
              "description": "The *part* parameter specifies the membershipsLevel resource parts that the API response will include. Supported values are id and snippet.",
              "type": "string"
            }
          },
          "httpMethod": "GET"
        }
      }
    },
    "sponsors": {
      "methods": {
        "list": {
          "flatPath": "youtube/v3/sponsors",
          "description": "Retrieves a list of sponsors that match the request criteria for a channel.",
          "path": "youtube/v3/sponsors",
          "parameters": {
            "filter": {
              "default": "newest",
              "enum": [
                "sponsorFilterUnknown",
                "newest",
                "all"
              ],
              "type": "string",
              "description": "Parameter that specifies which channel sponsors to return.",
              "enumDescriptions": [
                "",
                "",
                ""
              ],
              "location": "query"
            },
            "maxResults": {
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "default": "5",
              "format": "uint32",
              "type": "integer",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "location": "query"
            },
            "part": {
              "type": "string",
              "repeated": true,
              "required": true,
              "location": "query",
              "description": "The *part* parameter specifies the sponsor resource parts that the API response will include. Supported values are id and snippet."
            }
          },
          "parameterOrder": [
            "part"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "SponsorListResponse"
          },
          "id": "youtube.sponsors.list",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly"
          ]
        }
      }
    },
    "liveChatBans": {
      "methods": {
        "delete": {
          "httpMethod": "DELETE",
          "path": "youtube/v3/liveChat/bans",
          "parameters": {
            "id": {
              "required": true,
              "type": "string",
              "location": "query"
            }
          },
          "parameterOrder": [
            "id"
          ],
          "description": "Deletes a chat ban.",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "id": "youtube.liveChatBans.delete",
          "flatPath": "youtube/v3/liveChat/bans"
        },
        "insert": {
          "response": {
            "$ref": "LiveChatBan"
          },
          "httpMethod": "POST",
          "parameters": {
            "part": {
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response returns. Set the parameter value to snippet.",
              "location": "query",
              "type": "string",
              "repeated": true,
              "required": true
            }
          },
          "request": {
            "$ref": "LiveChatBan"
          },
          "path": "youtube/v3/liveChat/bans",
          "description": "Inserts a new resource into this collection.",
          "parameterOrder": [
            "part"
          ],
          "flatPath": "youtube/v3/liveChat/bans",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "id": "youtube.liveChatBans.insert"
        }
      }
    },
    "superChatEvents": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly"
          ],
          "description": "Retrieves a list of resources, possibly filtered.",
          "response": {
            "$ref": "SuperChatEventListResponse"
          },
          "id": "youtube.superChatEvents.list",
          "parameters": {
            "maxResults": {
              "type": "integer",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "default": "5",
              "location": "query",
              "format": "uint32"
            },
            "part": {
              "location": "query",
              "repeated": true,
              "type": "string",
              "required": true,
              "description": "The *part* parameter specifies the superChatEvent resource parts that the API response will include. Supported values are id and snippet."
            },
            "hl": {
              "location": "query",
              "type": "string",
              "description": "Return rendered funding amounts in specified language."
            },
            "pageToken": {
              "location": "query",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "type": "string"
            }
          },
          "path": "youtube/v3/superChatEvents",
          "flatPath": "youtube/v3/superChatEvents",
          "httpMethod": "GET",
          "parameterOrder": [
            "part"
          ]
        }
      }
    },
    "channels": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "response": {
            "$ref": "ChannelListResponse"
          },
          "parameters": {
            "hl": {
              "location": "query",
              "type": "string",
              "description": "Stands for \"host language\". Specifies the localization language of the metadata to be filled into snippet.localized. The field is filled with the default metadata if there is no localization in the specified language. The parameter value must be a language code included in the list returned by the i18nLanguages.list method (e.g. en_US, es_MX)."
            },
            "maxResults": {
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "location": "query",
              "type": "integer",
              "default": "5",
              "format": "uint32"
            },
            "part": {
              "type": "string",
              "description": "The *part* parameter specifies a comma-separated list of one or more channel resource properties that the API response will include. If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in a channel resource, the contentDetails property contains other properties, such as the uploads properties. As such, if you set *part=contentDetails*, the API response will also contain all of those nested properties.",
              "repeated": true,
              "location": "query",
              "required": true
            },
            "mine": {
              "location": "query",
              "type": "boolean",
              "description": "Return the ids of channels owned by the authenticated user."
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            },
            "mySubscribers": {
              "location": "query",
              "type": "boolean",
              "description": "Return the channels subscribed to the authenticated user"
            },
            "forUsername": {
              "description": "Return the channel associated with a YouTube username.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "type": "string"
            },
            "categoryId": {
              "type": "string",
              "location": "query",
              "description": "Return the channels within the specified guide category ID."
            },
            "id": {
              "description": "Return the channels with the specified IDs.",
              "type": "string",
              "location": "query",
              "repeated": true
            },
            "managedByMe": {
              "type": "boolean",
              "description": "Return the channels managed by the authenticated user.",
              "location": "query"
            }
          },
          "id": "youtube.channels.list",
          "description": "Retrieves a list of resources, possibly filtered.",
          "path": "youtube/v3/channels",
          "flatPath": "youtube/v3/channels",
          "parameterOrder": [
            "part"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner",
            "https://www.googleapis.com/auth/youtubepartner-channel-audit"
          ]
        },
        "update": {
          "parameterOrder": [
            "part"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameters": {
            "onBehalfOfContentOwner": {
              "description": "The *onBehalfOfContentOwner* parameter indicates that the authenticated user is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with needs to be linked to the specified YouTube content owner.",
              "type": "string",
              "location": "query"
            },
            "part": {
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. The API currently only allows the parameter value to be set to either brandingSettings or invideoPromotion. (You cannot update both of those parts with a single request.) Note that this method overrides the existing values for all of the mutable properties that are contained in any parts that the parameter value specifies.",
              "location": "query",
              "type": "string",
              "required": true,
              "repeated": true
            }
          },
          "description": "Updates an existing resource.",
          "path": "youtube/v3/channels",
          "request": {
            "$ref": "Channel"
          },
          "httpMethod": "PUT",
          "flatPath": "youtube/v3/channels",
          "id": "youtube.channels.update",
          "response": {
            "$ref": "Channel"
          }
        }
      }
    },
    "tests": {
      "methods": {
        "insert": {
          "request": {
            "$ref": "TestItem"
          },
          "parameterOrder": [
            "part"
          ],
          "flatPath": "youtube/v3/tests",
          "id": "youtube.tests.insert",
          "response": {
            "$ref": "TestItem"
          },
          "path": "youtube/v3/tests",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.readonly"
          ],
          "description": "POST method.",
          "parameters": {
            "part": {
              "repeated": true,
              "location": "query",
              "type": "string",
              "required": true
            }
          },
          "httpMethod": "POST"
        }
      }
    },
    "playlistItems": {
      "methods": {
        "delete": {
          "id": "youtube.playlistItems.delete",
          "flatPath": "youtube/v3/playlistItems",
          "description": "Deletes a resource.",
          "httpMethod": "DELETE",
          "parameters": {
            "onBehalfOfContentOwner": {
              "location": "query",
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            },
            "id": {
              "required": true,
              "location": "query",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "path": "youtube/v3/playlistItems",
          "parameterOrder": [
            "id"
          ]
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "flatPath": "youtube/v3/playlistItems",
          "parameters": {
            "maxResults": {
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "location": "query",
              "default": "5",
              "format": "uint32",
              "type": "integer"
            },
            "videoId": {
              "location": "query",
              "description": "Return the playlist items associated with the given video ID.",
              "type": "string"
            },
            "playlistId": {
              "description": "Return the playlist items within the given playlist.",
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "type": "string",
              "location": "query"
            },
            "part": {
              "required": true,
              "repeated": true,
              "location": "query",
              "type": "string",
              "description": "The *part* parameter specifies a comma-separated list of one or more playlistItem resource properties that the API response will include. If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in a playlistItem resource, the snippet property contains numerous fields, including the title, description, position, and resourceId properties. As such, if you set *part=snippet*, the API response will contain all of those properties."
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            },
            "id": {
              "location": "query",
              "repeated": true,
              "type": "string"
            }
          },
          "description": "Retrieves a list of resources, possibly filtered.",
          "path": "youtube/v3/playlistItems",
          "id": "youtube.playlistItems.list",
          "response": {
            "$ref": "PlaylistItemListResponse"
          },
          "parameterOrder": [
            "part"
          ],
          "httpMethod": "GET"
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "path": "youtube/v3/playlistItems",
          "response": {
            "$ref": "PlaylistItem"
          },
          "flatPath": "youtube/v3/playlistItems",
          "description": "Updates an existing resource.",
          "id": "youtube.playlistItems.update",
          "request": {
            "$ref": "PlaylistItem"
          },
          "httpMethod": "PUT",
          "parameterOrder": [
            "part"
          ],
          "parameters": {
            "part": {
              "repeated": true,
              "required": true,
              "type": "string",
              "location": "query",
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. Note that this method will override the existing values for all of the mutable properties that are contained in any parts that the parameter value specifies. For example, a playlist item can specify a start time and end time, which identify the times portion of the video that should play when users watch the video in the playlist. If your request is updating a playlist item that sets these values, and the request's part parameter value includes the contentDetails part, the playlist item's start and end times will be updated to whatever value the request body specifies. If the request body does not specify values, the existing start and end times will be removed and replaced with the default settings."
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string"
            }
          }
        },
        "insert": {
          "httpMethod": "POST",
          "flatPath": "youtube/v3/playlistItems",
          "parameterOrder": [
            "part"
          ],
          "id": "youtube.playlistItems.insert",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameters": {
            "part": {
              "type": "string",
              "required": true,
              "repeated": true,
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include.",
              "location": "query"
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            }
          },
          "response": {
            "$ref": "PlaylistItem"
          },
          "request": {
            "$ref": "PlaylistItem"
          },
          "description": "Inserts a new resource into this collection.",
          "path": "youtube/v3/playlistItems"
        }
      }
    },
    "liveStreams": {
      "methods": {
        "delete": {
          "path": "youtube/v3/liveStreams",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "id": "youtube.liveStreams.delete",
          "flatPath": "youtube/v3/liveStreams",
          "parameters": {
            "onBehalfOfContentOwnerChannel": {
              "type": "string",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "location": "query"
            },
            "id": {
              "type": "string",
              "location": "query",
              "required": true
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            }
          },
          "description": "Deletes an existing stream for the authenticated user."
        },
        "insert": {
          "httpMethod": "POST",
          "description": "Inserts a new stream for the authenticated user.",
          "response": {
            "$ref": "LiveStream"
          },
          "request": {
            "$ref": "LiveStream"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "id": "youtube.liveStreams.insert",
          "parameterOrder": [
            "part"
          ],
          "path": "youtube/v3/liveStreams",
          "parameters": {
            "part": {
              "type": "string",
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. The part properties that you can include in the parameter value are id, snippet, cdn, and status.",
              "repeated": true,
              "required": true,
              "location": "query"
            },
            "onBehalfOfContentOwnerChannel": {
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "location": "query",
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string"
            }
          },
          "flatPath": "youtube/v3/liveStreams"
        },
        "update": {
          "response": {
            "$ref": "LiveStream"
          },
          "path": "youtube/v3/liveStreams",
          "parameters": {
            "onBehalfOfContentOwner": {
              "type": "string",
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            },
            "onBehalfOfContentOwnerChannel": {
              "location": "query",
              "type": "string",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel."
            },
            "part": {
              "repeated": true,
              "type": "string",
              "required": true,
              "location": "query",
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. The part properties that you can include in the parameter value are id, snippet, cdn, and status. Note that this method will override the existing values for all of the mutable properties that are contained in any parts that the parameter value specifies. If the request body does not specify a value for a mutable property, the existing value for that property will be removed."
            }
          },
          "parameterOrder": [
            "part"
          ],
          "description": "Updates an existing stream for the authenticated user.",
          "id": "youtube.liveStreams.update",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "httpMethod": "PUT",
          "flatPath": "youtube/v3/liveStreams",
          "request": {
            "$ref": "LiveStream"
          }
        },
        "list": {
          "id": "youtube.liveStreams.list",
          "response": {
            "$ref": "LiveStreamListResponse"
          },
          "path": "youtube/v3/liveStreams",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly"
          ],
          "flatPath": "youtube/v3/liveStreams",
          "parameterOrder": [
            "part"
          ],
          "httpMethod": "GET",
          "description": "Retrieve the list of streams associated with the given channel. --",
          "parameters": {
            "maxResults": {
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "default": "5",
              "type": "integer",
              "format": "uint32",
              "location": "query"
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string",
              "location": "query"
            },
            "mine": {
              "type": "boolean",
              "location": "query"
            },
            "pageToken": {
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "type": "string",
              "location": "query"
            },
            "part": {
              "type": "string",
              "repeated": true,
              "description": "The *part* parameter specifies a comma-separated list of one or more liveStream resource properties that the API response will include. The part names that you can include in the parameter value are id, snippet, cdn, and status.",
              "location": "query",
              "required": true
            },
            "id": {
              "type": "string",
              "repeated": true,
              "description": "Return LiveStreams with the given ids from Stubby or Apiary.",
              "location": "query"
            },
            "onBehalfOfContentOwnerChannel": {
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "type": "string",
              "location": "query"
            }
          }
        }
      }
    },
    "liveChatModerators": {
      "methods": {
        "list": {
          "id": "youtube.liveChatModerators.list",
          "description": "Retrieves a list of resources, possibly filtered.",
          "parameters": {
            "maxResults": {
              "format": "uint32",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "default": "5",
              "type": "integer",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "location": "query"
            },
            "liveChatId": {
              "required": true,
              "description": "The id of the live chat for which moderators should be returned.",
              "location": "query",
              "type": "string"
            },
            "part": {
              "type": "string",
              "description": "The *part* parameter specifies the liveChatModerator resource parts that the API response will include. Supported values are id and snippet.",
              "location": "query",
              "required": true,
              "repeated": true
            }
          },
          "httpMethod": "GET",
          "flatPath": "youtube/v3/liveChat/moderators",
          "response": {
            "$ref": "LiveChatModeratorListResponse"
          },
          "parameterOrder": [
            "liveChatId",
            "part"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly"
          ],
          "path": "youtube/v3/liveChat/moderators"
        },
        "insert": {
          "flatPath": "youtube/v3/liveChat/moderators",
          "id": "youtube.liveChatModerators.insert",
          "httpMethod": "POST",
          "path": "youtube/v3/liveChat/moderators",
          "parameterOrder": [
            "part"
          ],
          "response": {
            "$ref": "LiveChatModerator"
          },
          "parameters": {
            "part": {
              "required": true,
              "location": "query",
              "type": "string",
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response returns. Set the parameter value to snippet.",
              "repeated": true
            }
          },
          "description": "Inserts a new resource into this collection.",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "request": {
            "$ref": "LiveChatModerator"
          }
        },
        "delete": {
          "path": "youtube/v3/liveChat/moderators",
          "parameters": {
            "id": {
              "type": "string",
              "location": "query",
              "required": true
            }
          },
          "id": "youtube.liveChatModerators.delete",
          "flatPath": "youtube/v3/liveChat/moderators",
          "parameterOrder": [
            "id"
          ],
          "httpMethod": "DELETE",
          "description": "Deletes a chat moderator.",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ]
        }
      }
    },
    "liveBroadcasts": {
      "methods": {
        "transition": {
          "httpMethod": "POST",
          "parameters": {
            "onBehalfOfContentOwner": {
              "location": "query",
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            },
            "id": {
              "required": true,
              "description": "Broadcast to transition.",
              "location": "query",
              "type": "string"
            },
            "broadcastStatus": {
              "required": true,
              "location": "query",
              "enum": [
                "statusUnspecified",
                "testing",
                "live",
                "complete"
              ],
              "description": "The status to which the broadcast is going to transition.",
              "enumDescriptions": [
                "",
                "",
                "",
                ""
              ],
              "type": "string"
            },
            "onBehalfOfContentOwnerChannel": {
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "type": "string",
              "location": "query"
            },
            "part": {
              "repeated": true,
              "type": "string",
              "location": "query",
              "description": "The *part* parameter specifies a comma-separated list of one or more liveBroadcast resource properties that the API response will include. The part names that you can include in the parameter value are id, snippet, contentDetails, and status.",
              "required": true
            }
          },
          "flatPath": "youtube/v3/liveBroadcasts/transition",
          "path": "youtube/v3/liveBroadcasts/transition",
          "response": {
            "$ref": "LiveBroadcast"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "parameterOrder": [
            "id",
            "broadcastStatus",
            "part"
          ],
          "description": "Transition a broadcast to a given status.",
          "id": "youtube.liveBroadcasts.transition"
        },
        "update": {
          "response": {
            "$ref": "LiveBroadcast"
          },
          "parameterOrder": [
            "part"
          ],
          "flatPath": "youtube/v3/liveBroadcasts",
          "path": "youtube/v3/liveBroadcasts",
          "request": {
            "$ref": "LiveBroadcast"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "httpMethod": "PUT",
          "description": "Updates an existing broadcast for the authenticated user.",
          "id": "youtube.liveBroadcasts.update",
          "parameters": {
            "part": {
              "type": "string",
              "location": "query",
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. The part properties that you can include in the parameter value are id, snippet, contentDetails, and status. Note that this method will override the existing values for all of the mutable properties that are contained in any parts that the parameter value specifies. For example, a broadcast's privacy status is defined in the status part. As such, if your request is updating a private or unlisted broadcast, and the request's part parameter value includes the status part, the broadcast's privacy setting will be updated to whatever value the request body specifies. If the request body does not specify a value, the existing privacy setting will be removed and the broadcast will revert to the default privacy setting.",
              "repeated": true,
              "required": true
            },
            "onBehalfOfContentOwnerChannel": {
              "location": "query",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            }
          }
        },
        "insert": {
          "path": "youtube/v3/liveBroadcasts",
          "id": "youtube.liveBroadcasts.insert",
          "response": {
            "$ref": "LiveBroadcast"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "parameterOrder": [
            "part"
          ],
          "description": "Inserts a new stream for the authenticated user.",
          "httpMethod": "POST",
          "flatPath": "youtube/v3/liveBroadcasts",
          "parameters": {
            "onBehalfOfContentOwner": {
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string"
            },
            "part": {
              "location": "query",
              "repeated": true,
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. The part properties that you can include in the parameter value are id, snippet, contentDetails, and status.",
              "type": "string",
              "required": true
            },
            "onBehalfOfContentOwnerChannel": {
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "location": "query",
              "type": "string"
            }
          },
          "request": {
            "$ref": "LiveBroadcast"
          }
        },
        "list": {
          "flatPath": "youtube/v3/liveBroadcasts",
          "path": "youtube/v3/liveBroadcasts",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly"
          ],
          "parameterOrder": [
            "part"
          ],
          "response": {
            "$ref": "LiveBroadcastListResponse"
          },
          "parameters": {
            "maxResults": {
              "default": "5",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "type": "integer",
              "format": "uint32",
              "location": "query"
            },
            "broadcastStatus": {
              "location": "query",
              "description": "Return broadcasts with a certain status, e.g. active broadcasts.",
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                ""
              ],
              "enum": [
                "broadcastStatusFilterUnspecified",
                "all",
                "active",
                "upcoming",
                "completed"
              ],
              "type": "string"
            },
            "broadcastType": {
              "default": "event",
              "description": "Return only broadcasts with the selected type.",
              "enumDescriptions": [
                "",
                "",
                "",
                ""
              ],
              "location": "query",
              "enum": [
                "broadcastTypeFilterUnspecified",
                "all",
                "event",
                "persistent"
              ],
              "type": "string"
            },
            "id": {
              "type": "string",
              "location": "query",
              "repeated": true,
              "description": "Return broadcasts with the given ids from Stubby or Apiary."
            },
            "mine": {
              "type": "boolean",
              "location": "query"
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            },
            "pageToken": {
              "type": "string",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "location": "query"
            },
            "part": {
              "location": "query",
              "description": "The *part* parameter specifies a comma-separated list of one or more liveBroadcast resource properties that the API response will include. The part names that you can include in the parameter value are id, snippet, contentDetails, and status.",
              "required": true,
              "type": "string",
              "repeated": true
            },
            "onBehalfOfContentOwnerChannel": {
              "type": "string",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "location": "query"
            }
          },
          "description": "Retrieve the list of broadcasts associated with the given channel.",
          "id": "youtube.liveBroadcasts.list",
          "httpMethod": "GET"
        },
        "bind": {
          "response": {
            "$ref": "LiveBroadcast"
          },
          "parameters": {
            "part": {
              "location": "query",
              "description": "The *part* parameter specifies a comma-separated list of one or more liveBroadcast resource properties that the API response will include. The part names that you can include in the parameter value are id, snippet, contentDetails, and status.",
              "required": true,
              "type": "string",
              "repeated": true
            },
            "onBehalfOfContentOwnerChannel": {
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "location": "query",
              "type": "string"
            },
            "streamId": {
              "location": "query",
              "description": "Stream to bind, if not set unbind the current one.",
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            },
            "id": {
              "description": "Broadcast to bind to the stream",
              "type": "string",
              "location": "query",
              "required": true
            }
          },
          "id": "youtube.liveBroadcasts.bind",
          "httpMethod": "POST",
          "path": "youtube/v3/liveBroadcasts/bind",
          "parameterOrder": [
            "id",
            "part"
          ],
          "description": "Bind a broadcast to a stream.",
          "flatPath": "youtube/v3/liveBroadcasts/bind",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ]
        },
        "control": {
          "parameters": {
            "onBehalfOfContentOwnerChannel": {
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "type": "string",
              "location": "query"
            },
            "onBehalfOfContentOwner": {
[...]
