{
  "documentationLink": "https://developers.google.com/youtube/",
  "baseUrl": "https://youtube.googleapis.com/",
  "batchPath": "batch",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "discoveryVersion": "v1",
  "revision": "20201013",
  "schemas": {
    "CdnSettings": {
      "properties": {
        "frameRate": {
          "description": "The frame rate of the inbound video data.",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "30fps",
            "60fps",
            "variable"
          ],
          "type": "string"
        },
        "ingestionType": {
          "description": " The method or protocol used to transmit the video stream.",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "rtmp",
            "dash",
            "webrtc",
            "hls"
          ]
        },
        "ingestionInfo": {
          "$ref": "IngestionInfo",
          "description": "The ingestionInfo object contains information that YouTube provides that you need to transmit your RTMP or HTTP stream to YouTube."
        },
        "format": {
          "description": "The format of the video stream that you are sending to Youtube. ",
          "type": "string"
        },
        "resolution": {
          "enum": [
            "240p",
            "360p",
            "480p",
            "720p",
            "1080p",
            "1440p",
            "2160p",
            "variable"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "description": "The resolution of the inbound video data."
        }
      },
      "type": "object",
      "id": "CdnSettings",
      "description": "Brief description of the live stream cdn settings."
    },
    "WatchSettings": {
      "properties": {
        "featuredPlaylistId": {
          "type": "string",
          "description": "An ID that uniquely identifies a playlist that displays next to the video player."
        },
        "textColor": {
          "type": "string",
          "description": "The background color for the video watch page's branded area."
        },
        "backgroundColor": {
          "type": "string",
          "description": "The text color for the video watch page's branded area."
        }
      },
      "id": "WatchSettings",
      "description": "Branding properties for the watch. All deprecated.",
      "type": "object"
    },
    "LiveStreamSnippet": {
      "type": "object",
      "properties": {
        "channelId": {
          "description": "The ID that YouTube uses to uniquely identify the channel that is transmitting the stream.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "The stream's description. The value cannot be longer than 10000 characters."
        },
        "publishedAt": {
          "description": "The date and time that the stream was created. The value is specified in ISO 8601 format.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The stream's title. The value must be between 1 and 128 characters long."
        },
        "isDefaultStream": {
          "type": "boolean"
        }
      },
      "id": "LiveStreamSnippet"
    },
    "VideoAbuseReportSecondaryReason": {
      "type": "object",
      "id": "VideoAbuseReportSecondaryReason",
      "properties": {
        "id": {
          "type": "string",
          "description": "The ID of this abuse report secondary reason."
        },
        "label": {
          "description": "The localized label for this abuse report secondary reason.",
          "type": "string"
        }
      }
    },
    "MembershipsDuration": {
      "id": "MembershipsDuration",
      "properties": {
        "memberSince": {
          "description": "The date and time when the user became a continuous member across all levels.",
          "type": "string"
        },
        "memberTotalDurationMonths": {
          "type": "integer",
          "description": "The cumulative time the user has been a member across all levels in complete months (the time is rounded down to the nearest integer).",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "ActivityContentDetailsUpload": {
      "properties": {
        "videoId": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the uploaded video."
        }
      },
      "id": "ActivityContentDetailsUpload",
      "description": "Information about the uploaded video.",
      "type": "object"
    },
    "LiveChatMessageDeletedDetails": {
      "properties": {
        "deletedMessageId": {
          "type": "string"
        }
      },
      "id": "LiveChatMessageDeletedDetails",
      "type": "object"
    },
    "ActivitySnippet": {
      "description": "Basic details about an activity, including title, description, thumbnails, activity type and group. Next ID: 12",
      "type": "object",
      "id": "ActivitySnippet",
      "properties": {
        "type": {
          "enum": [
            "typeUnspecified",
            "upload",
            "like",
            "favorite",
            "comment",
            "subscription",
            "playlistItem",
            "recommendation",
            "bulletin",
            "social",
            "channelItem",
            "promotedItem"
          ],
          "description": "The type of activity that the resource describes.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "thumbnails": {
          "$ref": "ThumbnailDetails",
          "description": "A map of thumbnail images associated with the resource that is primarily associated with the activity. For each object in the map, the key is the name of the thumbnail image, and the value is an object that contains other information about the thumbnail."
        },
        "channelId": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the channel associated with the activity."
        },
        "description": {
          "description": "The description of the resource primarily associated with the activity. @mutable youtube.activities.insert",
          "type": "string"
        },
        "publishedAt": {
          "type": "string",
          "description": "The date and time that the video was uploaded. The value is specified in ISO 8601 format."
        },
        "channelTitle": {
          "type": "string",
          "description": "Channel title for the channel responsible for this activity"
        },
        "groupId": {
          "type": "string",
          "description": "The group ID associated with the activity. A group ID identifies user events that are associated with the same user and resource. For example, if a user rates a video and marks the same video as a favorite, the entries for those events would have the same group ID in the user's activity feed. In your user interface, you can avoid repetition by grouping events with the same groupId value."
        },
        "title": {
          "type": "string",
          "description": "The title of the resource primarily associated with the activity."
        }
      }
    },
    "ChannelConversionPings": {
      "properties": {
        "pings": {
          "items": {
            "$ref": "ChannelConversionPing"
          },
          "description": "Pings that the app shall fire (authenticated by biscotti cookie). Each ping has a context, in which the app must fire the ping, and a url identifying the ping.",
          "type": "array"
        }
      },
      "description": "The conversionPings object encapsulates information about conversion pings that need to be respected by the channel.",
      "type": "object",
      "id": "ChannelConversionPings"
    },
    "VideoCategoryListResponse": {
      "properties": {
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "pageInfo": {
          "description": "General pagination information.",
          "$ref": "PageInfo"
        },
        "visitorId": {
          "type": "string",
          "description": "The visitorId identifies the visitor."
        },
        "tokenPagination": {
          "$ref": "TokenPagination"
        },
        "eventId": {
          "type": "string",
          "description": "Serialized EventId of the request which produced this response."
        },
        "items": {
          "type": "array",
          "description": "A list of video categories that can be associated with YouTube videos. In this map, the video category ID is the map key, and its value is the corresponding videoCategory resource.",
          "items": {
            "$ref": "VideoCategory"
          }
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#videoCategoryListResponse\".",
          "default": "youtube#videoCategoryListResponse"
        },
        "prevPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "VideoCategoryListResponse"
    },
    "LocalizedString": {
      "type": "object",
      "id": "LocalizedString",
      "properties": {
        "value": {
          "type": "string"
        },
        "language": {
          "type": "string"
        }
      }
    },
    "Activity": {
      "type": "object",
      "id": "Activity",
      "properties": {
        "snippet": {
          "$ref": "ActivitySnippet",
          "description": "The snippet object contains basic details about the activity, including the activity's type and group ID."
        },
        "etag": {
          "description": "Etag of this resource",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the activity."
        },
        "contentDetails": {
          "$ref": "ActivityContentDetails",
          "description": "The contentDetails object contains information about the content associated with the activity. For example, if the snippet.type value is videoRated, then the contentDetails object's content identifies the rated video."
        },
        "kind": {
          "default": "youtube#activity",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#activity\".",
          "type": "string"
        }
      },
      "description": "An *activity* resource contains information about an action that a particular channel, or user, has taken on YouTube.The actions reported in activity feeds include rating a video, sharing a video, marking a video as a favorite, commenting on a video, uploading a video, and so forth. Each activity resource identifies the type of action, the channel associated with the action, and the resource(s) associated with the action, such as the video that was rated or uploaded."
    },
    "LiveChatMessageSnippet": {
      "id": "LiveChatMessageSnippet",
      "type": "object",
      "properties": {
        "type": {
          "description": "The type of message, this will always be present, it determines the contents of the message as well as which fields will be present.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "invalidType",
            "textMessageEvent",
            "tombstone",
            "fanFundingEvent",
            "chatEndedEvent",
            "sponsorOnlyModeStartedEvent",
            "sponsorOnlyModeEndedEvent",
            "newSponsorEvent",
            "messageDeletedEvent",
            "messageRetractedEvent",
            "userBannedEvent",
            "superChatEvent",
            "superStickerEvent"
          ],
          "type": "string"
        },
        "messageDeletedDetails": {
          "$ref": "LiveChatMessageDeletedDetails"
        },
        "hasDisplayContent": {
          "description": "Whether the message has display content that should be displayed to users.",
          "type": "boolean"
        },
        "authorChannelId": {
          "type": "string",
          "description": "The ID of the user that authored this message, this field is not always filled. textMessageEvent - the user that wrote the message fanFundingEvent - the user that funded the broadcast newSponsorEvent - the user that just became a sponsor messageDeletedEvent - the moderator that took the action messageRetractedEvent - the author that retracted their message userBannedEvent - the moderator that took the action superChatEvent - the user that made the purchase"
        },
        "superChatDetails": {
          "description": "Details about the Super Chat event, this is only set if the type is 'superChatEvent'.",
          "$ref": "LiveChatSuperChatDetails"
        },
        "liveChatId": {
          "type": "string"
        },
        "fanFundingEventDetails": {
          "$ref": "LiveChatFanFundingEventDetails",
          "description": "Details about the funding event, this is only set if the type is 'fanFundingEvent'."
        },
        "messageRetractedDetails": {
          "$ref": "LiveChatMessageRetractedDetails"
        },
        "displayMessage": {
          "type": "string",
          "description": "Contains a string that can be displayed to the user. If this field is not present the message is silent, at the moment only messages of type TOMBSTONE and CHAT_ENDED_EVENT are silent."
        },
        "userBannedDetails": {
          "$ref": "LiveChatUserBannedMessageDetails"
        },
        "superStickerDetails": {
          "description": "Details about the Super Sticker event, this is only set if the type is 'superStickerEvent'.",
          "$ref": "LiveChatSuperStickerDetails"
        },
        "textMessageDetails": {
          "description": "Details about the text message, this is only set if the type is 'textMessageEvent'.",
          "$ref": "LiveChatTextMessageDetails"
        },
        "publishedAt": {
          "description": "The date and time when the message was orignally published. The value is specified in ISO 8601 format.",
          "type": "string"
        }
      }
    },
    "ChannelAuditDetails": {
      "type": "object",
      "description": "The auditDetails object encapsulates channel data that is relevant for YouTube Partners during the audit process.",
      "id": "ChannelAuditDetails",
      "properties": {
        "contentIdClaimsGoodStanding": {
          "description": "Whether or not the channel has any unresolved claims.",
          "type": "boolean"
        },
        "communityGuidelinesGoodStanding": {
          "description": "Whether or not the channel respects the community guidelines.",
          "type": "boolean"
        },
        "copyrightStrikesGoodStanding": {
          "description": "Whether or not the channel has any copyright strikes.",
          "type": "boolean"
        }
      }
    },
    "VideoFileDetails": {
      "id": "VideoFileDetails",
      "properties": {
        "durationMs": {
          "description": "The length of the uploaded video in milliseconds.",
          "format": "uint64",
          "type": "string"
        },
        "creationTime": {
          "type": "string",
          "description": "The date and time when the uploaded video file was created. The value is specified in ISO 8601 format. Currently, the following ISO 8601 formats are supported: - Date only: YYYY-MM-DD - Naive time: YYYY-MM-DDTHH:MM:SS - Time with timezone: YYYY-MM-DDTHH:MM:SS+HH:MM "
        },
        "container": {
          "type": "string",
          "description": "The uploaded video file's container format."
        },
        "fileType": {
          "type": "string",
          "enumDescriptions": [
            "Known video file (e.g., an MP4 file).",
            "Audio only file (e.g., an MP3 file).",
            "Image file (e.g., a JPEG image).",
            "Archive file (e.g., a ZIP archive).",
            "Document or text file (e.g., MS Word document).",
            "Movie project file (e.g., Microsoft Windows Movie Maker project).",
            "Other non-video file type."
          ],
          "description": "The uploaded file's type as detected by YouTube's video processing engine. Currently, YouTube only processes video files, but this field is present whether a video file or another type of file was uploaded.",
          "enum": [
            "video",
            "audio",
            "image",
            "archive",
            "document",
            "project",
            "other"
          ]
        },
        "fileName": {
          "description": "The uploaded file's name. This field is present whether a video file or another type of file was uploaded.",
          "type": "string"
        },
        "videoStreams": {
          "description": "A list of video streams contained in the uploaded video file. Each item in the list contains detailed metadata about a video stream.",
          "type": "array",
          "items": {
            "$ref": "VideoFileDetailsVideoStream"
          }
        },
        "bitrateBps": {
          "type": "string",
          "format": "uint64",
          "description": "The uploaded video file's combined (video and audio) bitrate in bits per second."
        },
        "audioStreams": {
          "items": {
            "$ref": "VideoFileDetailsAudioStream"
          },
          "description": "A list of audio streams contained in the uploaded video file. Each item in the list contains detailed metadata about an audio stream.",
          "type": "array"
        },
        "fileSize": {
          "description": "The uploaded file's size in bytes. This field is present whether a video file or another type of file was uploaded.",
          "format": "uint64",
          "type": "string"
        }
      },
      "description": "Describes original video file properties, including technical details about audio and video streams, but also metadata information like content length, digitization time, or geotagging information.",
      "type": "object"
    },
    "InvideoPosition": {
      "type": "object",
      "description": "Describes the spatial position of a visual widget inside a video. It is a union of various position types, out of which only will be set one.",
      "id": "InvideoPosition",
      "properties": {
        "cornerPosition": {
          "type": "string",
          "enum": [
            "topLeft",
            "topRight",
            "bottomLeft",
            "bottomRight"
          ],
          "description": "Describes in which corner of the video the visual widget will appear.",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "type": {
          "enumDescriptions": [
            ""
          ],
          "description": "Defines the position type.",
          "type": "string",
          "enum": [
            "corner"
          ]
        }
      }
    },
    "ChannelContentOwnerDetails": {
      "type": "object",
      "properties": {
        "timeLinked": {
          "description": "The date and time of when the channel was linked to the content owner. The value is specified in ISO 8601 format.",
          "type": "string"
        },
        "contentOwner": {
          "description": "The ID of the content owner linked to the channel.",
          "type": "string"
        }
      },
      "description": "The contentOwnerDetails object encapsulates channel data that is relevant for YouTube Partners linked with the channel.",
      "id": "ChannelContentOwnerDetails"
    },
    "ThirdPartyLink": {
      "properties": {
        "snippet": {
          "$ref": "ThirdPartyLinkSnippet",
          "description": "The snippet object contains basic details about the third- party account link."
        },
        "kind": {
          "default": "youtube#thirdPartyLink",
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#thirdPartyLink\"."
        },
        "etag": {
          "description": "Etag of this resource",
          "type": "string"
        },
        "status": {
          "description": "The status object contains information about the status of the link.",
          "$ref": "ThirdPartyLinkStatus"
        },
        "linkingToken": {
          "description": "The linking_token identifies a YouTube account and channel with which the third party account is linked.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A *third party account link* resource represents a link between a YouTube account or a channel and an account on a third-party service.",
      "id": "ThirdPartyLink"
    },
    "VideoContentDetails": {
      "description": "Details about the content of a YouTube Video.",
      "type": "object",
      "id": "VideoContentDetails",
      "properties": {
        "contentRating": {
          "description": "Specifies the ratings that the video received under various rating schemes.",
          "$ref": "ContentRating"
        },
        "countryRestriction": {
          "description": "The countryRestriction object contains information about the countries where a video is (or is not) viewable.",
          "$ref": "AccessPolicy"
        },
        "licensedContent": {
          "type": "boolean",
          "description": "The value of is_license_content indicates whether the video is licensed content."
        },
        "duration": {
          "type": "string",
          "description": "The length of the video. The tag value is an ISO 8601 duration in the format PT#M#S, in which the letters PT indicate that the value specifies a period of time, and the letters M and S refer to length in minutes and seconds, respectively. The # characters preceding the M and S letters are both integers that specify the number of minutes (or seconds) of the video. For example, a value of PT15M51S indicates that the video is 15 minutes and 51 seconds long."
        },
        "regionRestriction": {
          "description": "The regionRestriction object contains information about the countries where a video is (or is not) viewable. The object will contain either the contentDetails.regionRestriction.allowed property or the contentDetails.regionRestriction.blocked property.",
          "$ref": "VideoContentDetailsRegionRestriction"
        },
        "definition": {
          "enum": [
            "sd",
            "hd"
          ],
          "description": "The value of definition indicates whether the video is available in high definition or only in standard definition.",
          "type": "string",
          "enumDescriptions": [
            "sd",
            "hd"
          ]
        },
        "hasCustomThumbnail": {
          "description": "Indicates whether the video uploader has provided a custom thumbnail image for the video. This property is only visible to the video uploader.",
          "type": "boolean"
        },
        "projection": {
          "description": "Specifies the projection format of the video.",
          "enum": [
            "rectangular",
            "360"
          ],
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string"
        },
        "caption": {
          "description": "The value of captions indicates whether the video has captions or not.",
          "type": "string",
          "enum": [
            "true",
            "false"
          ],
          "enumDescriptions": [
            "",
            ""
          ]
        },
        "dimension": {
          "type": "string",
          "description": "The value of dimension indicates whether the video is available in 3D or in 2D."
        }
      }
    },
    "MemberSnippet": {
      "type": "object",
      "id": "MemberSnippet",
      "properties": {
        "creatorChannelId": {
          "type": "string",
          "description": "The id of the channel that's offering memberships."
        },
        "membershipsDetails": {
          "$ref": "MembershipsDetails",
          "description": "Details about the user's membership."
        },
        "memberDetails": {
          "description": "Details about the member.",
          "$ref": "ChannelProfileDetails"
        }
      }
    },
    "VideoCategorySnippet": {
      "id": "VideoCategorySnippet",
      "description": "Basic details about a video category, such as its localized title.",
      "properties": {
        "title": {
          "description": "The video category's title.",
          "type": "string"
        },
        "channelId": {
          "default": "UCBR8-60-B28hp2BmDPdntcQ",
          "type": "string",
          "description": "The YouTube channel that created the video category."
        },
        "assignable": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "LiveBroadcastStatus": {
      "description": "Live broadcast state.",
      "id": "LiveBroadcastStatus",
      "type": "object",
      "properties": {
        "recordingStatus": {
          "description": "The broadcast's recording status.",
          "enum": [
            "liveBroadcastRecordingStatusUnspecified",
            "notRecording",
            "recording",
            "recorded"
          ],
          "enumDescriptions": [
            "No value or the value is unknown.",
            "The recording has not yet been started.",
            "The recording is currently on.",
            "The recording is completed, and cannot be started again."
          ],
          "type": "string"
        },
        "lifeCycleStatus": {
          "enum": [
            "lifeCycleStatusUnspecified",
            "created",
            "ready",
            "testing",
            "live",
            "complete",
            "revoked",
            "testStarting",
            "liveStarting"
          ],
          "description": "The broadcast's status. The status can be updated using the API's liveBroadcasts.transition method.",
          "enumDescriptions": [
            "No value or the value is unknown.",
            "Incomplete settings, but otherwise valid",
            "Complete settings",
            "Visible only to partner, may need special UI treatment",
            "Viper is recording; this means the \"clock\" is running",
            "The broadcast is finished.",
            "This broadcast was removed by admin action",
            "Transition into TESTING has been requested",
            "Transition into LIVE has been requested"
          ],
          "type": "string"
        },
        "madeForKids": {
          "type": "boolean",
          "description": "Whether the broadcast is made for kids or not, decided by YouTube instead of the creator. This field is read only."
        },
        "selfDeclaredMadeForKids": {
          "description": "This field will be set to True if the creator declares the broadcast to be kids only: go/live-cw-work.",
          "type": "boolean"
        },
        "privacyStatus": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "public",
            "unlisted",
            "private"
          ],
          "description": "The broadcast's privacy status. Note that the broadcast represents exactly one YouTube video, so the privacy settings are identical to those supported for videos. In addition, you can set this field by modifying the broadcast resource or by setting the privacyStatus field of the corresponding video resource.",
          "type": "string"
        },
        "liveBroadcastPriority": {
          "description": "Priority of the live broadcast event (internal state).",
          "enum": [
            "liveBroadcastPriorityUnspecified",
            "low",
            "normal",
            "high"
          ],
          "enumDescriptions": [
            "",
            "Low priority broadcast: for low view count HoAs or other low priority broadcasts.",
            "Normal priority broadcast: for regular HoAs and broadcasts.",
            "High priority broadcast: for high profile HoAs, like PixelCorp ones."
          ],
          "type": "string"
        }
      }
    },
    "ThirdPartyLinkSnippet": {
      "id": "ThirdPartyLinkSnippet",
      "description": "Basic information about a third party account link, including its type and type-specific information.",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "description": "Type of the link named after the entities that are being linked.",
          "enum": [
            "linkUnspecified",
            "channelToStoreLink"
          ],
          "enumDescriptions": [
            "",
            "A link that is connecting (or about to connect) a channel with a store on a merchandising platform in order to enable retail commerce capabilities for that channel on YouTube."
          ]
        },
        "channelToStoreLink": {
          "description": "Information specific to a link between a channel and a store on a merchandising platform.",
          "$ref": "ChannelToStoreLinkDetails"
        }
      }
    },
    "LiveChatModeratorSnippet": {
      "id": "LiveChatModeratorSnippet",
      "properties": {
        "liveChatId": {
          "description": "The ID of the live chat this moderator can act on.",
          "type": "string"
        },
        "moderatorDetails": {
          "$ref": "ChannelProfileDetails",
          "description": "Details about the moderator."
        }
      },
      "type": "object"
    },
    "SubscriptionSnippet": {
      "id": "SubscriptionSnippet",
      "properties": {
        "title": {
          "type": "string",
          "description": "The subscription's title."
        },
        "publishedAt": {
          "type": "string",
          "description": "The date and time that the subscription was created. The value is specified in ISO 8601 format."
        },
        "description": {
          "type": "string",
          "description": "The subscription's details."
        },
        "channelId": {
          "description": "The ID that YouTube uses to uniquely identify the subscriber's channel.",
          "type": "string"
        },
        "channelTitle": {
          "description": "Channel title for the channel that the subscription belongs to.",
          "type": "string"
        },
        "resourceId": {
          "$ref": "ResourceId",
          "annotations": {
            "required": [
              "youtube.subscriptions.insert"
            ]
          },
          "description": "The id object contains information about the channel that the user subscribed to."
        },
        "thumbnails": {
          "description": "A map of thumbnail images associated with the video. For each object in the map, the key is the name of the thumbnail image, and the value is an object that contains other information about the thumbnail.",
          "$ref": "ThumbnailDetails"
        }
      },
      "description": "Basic details about a subscription, including title, description and thumbnails of the subscribed item.",
      "type": "object"
    },
    "AbuseType": {
      "type": "object",
      "id": "AbuseType",
      "properties": {
        "id": {
          "type": "string"
        }
      }
    },
    "Caption": {
      "properties": {
        "id": {
          "annotations": {
            "required": [
              "youtube.captions.update"
            ]
          },
          "description": "The ID that YouTube uses to uniquely identify the caption track.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "snippet": {
          "$ref": "CaptionSnippet",
          "description": "The snippet object contains basic details about the caption."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#caption\".",
          "type": "string",
          "default": "youtube#caption"
        }
      },
      "id": "Caption",
      "type": "object",
      "description": "A *caption* resource represents a YouTube caption track. A caption track is associated with exactly one YouTube video."
    },
    "ChannelSection": {
      "properties": {
        "localizations": {
          "description": "Localizations for different languages",
          "type": "object",
          "additionalProperties": {
            "$ref": "ChannelSectionLocalization"
          }
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "contentDetails": {
          "$ref": "ChannelSectionContentDetails",
          "description": "The contentDetails object contains details about the channel section content, such as a list of playlists or channels featured in the section."
        },
        "targeting": {
          "description": "The targeting object contains basic targeting settings about the channel section.",
          "$ref": "ChannelSectionTargeting"
        },
        "id": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the channel section."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#channelSection\".",
          "default": "youtube#channelSection"
        },
        "snippet": {
          "description": "The snippet object contains basic details about the channel section, such as its type, style and title.",
          "$ref": "ChannelSectionSnippet"
        }
      },
      "id": "ChannelSection",
      "type": "object"
    },
    "MembershipsLevel": {
      "properties": {
        "snippet": {
          "description": "The snippet object contains basic details about the level.",
          "$ref": "MembershipsLevelSnippet"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#membershipsLevelListResponse\".",
          "type": "string",
          "default": "youtube#membershipsLevel"
        },
        "id": {
          "type": "string",
          "description": "The ID that YouTube assigns to uniquely identify the memberships level."
        }
      },
      "id": "MembershipsLevel",
      "type": "object",
      "description": "A *membershipsLevel* resource represents an offer made by YouTube creators for their fans. Users can become members of the channel by joining one of the available levels. They will provide recurring monetary support and receives special benefits."
    },
    "VideoAbuseReportReasonSnippet": {
      "id": "VideoAbuseReportReasonSnippet",
      "properties": {
        "label": {
          "type": "string",
          "description": "The localized label belonging to this abuse report reason."
        },
        "secondaryReasons": {
          "description": "The secondary reasons associated with this reason, if any are available. (There might be 0 or more.)",
          "type": "array",
          "items": {
            "$ref": "VideoAbuseReportSecondaryReason"
          }
        }
      },
      "type": "object",
      "description": "Basic details about a video category, such as its localized title."
    },
    "ActivityContentDetailsRecommendation": {
      "type": "object",
      "properties": {
        "reason": {
          "description": "The reason that the resource is recommended to the user.",
          "type": "string",
          "enum": [
            "reasonUnspecified",
            "videoFavorited",
            "videoLiked",
            "videoWatched"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "seedResourceId": {
          "description": "The seedResourceId object contains information about the resource that caused the recommendation.",
          "$ref": "ResourceId"
        },
        "resourceId": {
          "description": "The resourceId object contains information that identifies the recommended resource.",
          "$ref": "ResourceId"
        }
      },
      "id": "ActivityContentDetailsRecommendation",
      "description": "Information that identifies the recommended resource."
    },
    "LiveChatMessageAuthorDetails": {
      "type": "object",
      "properties": {
        "isChatSponsor": {
          "description": "Whether the author is a sponsor of the live chat.",
          "type": "boolean"
        },
        "profileImageUrl": {
          "description": "The channels's avatar URL.",
          "type": "string"
        },
        "channelId": {
          "type": "string",
          "description": "The YouTube channel ID."
        },
        "isVerified": {
          "description": "Whether the author's identity has been verified by YouTube.",
          "type": "boolean"
        },
        "channelUrl": {
          "type": "string",
          "description": "The channel's URL."
        },
        "displayName": {
          "description": "The channel's display name.",
          "type": "string"
        },
        "isChatOwner": {
          "type": "boolean",
          "description": "Whether the author is the owner of the live chat."
        },
        "isChatModerator": {
          "description": "Whether the author is a moderator of the live chat.",
          "type": "boolean"
        }
      },
      "id": "LiveChatMessageAuthorDetails"
    },
    "Subscription": {
      "type": "object",
      "id": "Subscription",
      "properties": {
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "contentDetails": {
          "description": "The contentDetails object contains basic statistics about the subscription.",
          "$ref": "SubscriptionContentDetails"
        },
        "id": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the subscription."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#subscription\".",
          "type": "string",
          "default": "youtube#subscription"
        },
        "snippet": {
          "description": "The snippet object contains basic details about the subscription, including its title and the channel that the user subscribed to.",
          "$ref": "SubscriptionSnippet"
        },
        "subscriberSnippet": {
          "description": "The subscriberSnippet object contains basic details about the subscriber.",
          "$ref": "SubscriptionSubscriberSnippet"
        }
      },
      "description": "A *subscription* resource contains information about a YouTube user subscription. A subscription notifies a user when new videos are added to a channel or when another user takes one of several actions on YouTube, such as uploading a video, rating a video, or commenting on a video."
    },
    "ActivityContentDetailsPromotedItem": {
      "properties": {
        "forecastingUrl": {
          "description": "The list of forecasting URLs. The client should ping all of these URLs when a promoted item is not available, to indicate that a promoted item could have been shown.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "creativeViewUrl": {
          "description": "The URL the client should ping to indicate that the user was shown this promoted item.",
          "type": "string"
        },
        "destinationUrl": {
          "type": "string",
          "description": "The URL the client should direct the user to, if the user chooses to visit the advertiser's website."
        },
        "adTag": {
          "type": "string",
          "description": "The URL the client should fetch to request a promoted item."
        },
        "customCtaButtonText": {
          "type": "string",
          "description": "The custom call-to-action button text. If specified, it will override the default button text for the cta_type."
        },
        "ctaType": {
          "enum": [
            "ctaTypeUnspecified",
            "visitAdvertiserSite"
          ],
          "type": "string",
          "description": "The type of call-to-action, a message to the user indicating action that can be taken.",
          "enumDescriptions": [
            "",
            ""
          ]
        },
        "impressionUrl": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of impression URLs. The client should ping all of these URLs to indicate that the user was shown this promoted item."
        },
        "videoId": {
          "description": "The ID that YouTube uses to uniquely identify the promoted video.",
          "type": "string"
        },
        "descriptionText": {
          "type": "string",
          "description": "The text description to accompany the promoted item."
        },
        "clickTrackingUrl": {
          "description": "The URL the client should ping to indicate that the user clicked through on this promoted item.",
          "type": "string"
        }
      },
      "description": "Details about a resource which is being promoted.",
      "id": "ActivityContentDetailsPromotedItem",
      "type": "object"
    },
    "TokenPagination": {
      "description": "Stub token pagination template to suppress results.",
      "type": "object",
      "id": "TokenPagination",
      "properties": {}
    },
    "SuperChatEventSnippet": {
      "type": "object",
      "id": "SuperChatEventSnippet",
      "properties": {
        "channelId": {
          "type": "string",
          "description": "Channel id where the event occurred."
        },
        "isSuperStickerEvent": {
          "type": "boolean",
          "description": "True if this event is a Super Sticker event."
        },
        "currency": {
          "description": "The currency in which the purchase was made. ISO 4217.",
          "type": "string"
        },
        "amountMicros": {
          "description": "The purchase amount, in micros of the purchase currency. e.g., 1 is represented as 1000000.",
          "format": "uint64",
          "type": "string"
        },
        "superStickerMetadata": {
          "description": "If this event is a Super Sticker event, this field will contain metadata about the Super Sticker.",
          "$ref": "SuperStickerMetadata"
        },
        "messageType": {
          "type": "integer",
          "format": "uint32",
          "description": "The tier for the paid message, which is based on the amount of money spent to purchase the message."
        },
        "createdAt": {
          "description": "The date and time when the event occurred. The value is specified in ISO 8601 format.",
          "type": "string"
        },
        "commentText": {
          "description": "The text contents of the comment left by the user.",
          "type": "string"
        },
        "supporterDetails": {
          "description": "Details about the supporter.",
          "$ref": "ChannelProfileDetails"
        },
        "displayString": {
          "description": "A rendered string that displays the purchase amount and currency (e.g., \"$1.00\"). The string is rendered for the given language.",
          "type": "string"
        }
      }
    },
    "VideoProjectDetails": {
      "type": "object",
      "description": "Project specific details about the content of a YouTube Video.",
      "id": "VideoProjectDetails",
      "properties": {
        "tags": {
          "items": {
            "type": "string"
          },
          "description": "A list of project tags associated with the video during the upload.",
          "type": "array"
        }
      }
    },
    "Comment": {
      "type": "object",
      "properties": {
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "snippet": {
          "$ref": "CommentSnippet",
          "description": "The snippet object contains basic details about the comment."
        },
        "kind": {
          "default": "youtube#comment",
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#comment\"."
        },
        "id": {
          "description": "The ID that YouTube uses to uniquely identify the comment.",
          "type": "string"
        }
      },
      "id": "Comment",
      "description": "A *comment* represents a single YouTube comment."
    },
    "LiveStreamListResponse": {
      "id": "LiveStreamListResponse",
      "properties": {
        "prevPageToken": {
          "type": "string",
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set."
        },
        "tokenPagination": {
          "$ref": "TokenPagination"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set."
        },
        "pageInfo": {
          "$ref": "PageInfo"
        },
        "kind": {
          "default": "youtube#liveStreamListResponse",
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#liveStreamListResponse\"."
        },
        "eventId": {
          "description": "Serialized EventId of the request which produced this response.",
          "type": "string"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "visitorId": {
          "type": "string",
          "description": "The visitorId identifies the visitor."
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "LiveStream"
          },
          "description": "A list of live streams that match the request criteria."
        }
      },
      "type": "object"
    },
    "PlaylistStatus": {
      "properties": {
        "privacyStatus": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "The playlist's privacy status.",
          "type": "string",
          "enum": [
            "public",
            "unlisted",
            "private"
          ]
        }
      },
      "id": "PlaylistStatus",
      "type": "object"
    },
    "CommentThreadReplies": {
      "type": "object",
      "properties": {
        "comments": {
          "type": "array",
          "items": {
            "$ref": "Comment"
          },
          "description": "A limited number of replies. Unless the number of replies returned equals total_reply_count in the snippet the returned replies are only a subset of the total number of replies."
        }
      },
      "id": "CommentThreadReplies",
      "description": "Comments written in (direct or indirect) reply to the top level comment."
    },
    "VideoProcessingDetails": {
      "properties": {
        "processingIssuesAvailability": {
          "description": "This value indicates whether the video processing engine has generated suggestions that might improve YouTube's ability to process the the video, warnings that explain video processing problems, or errors that cause video processing problems. You can retrieve these suggestions by requesting the suggestions part in your videos.list() request.",
          "type": "string"
        },
        "processingFailureReason": {
          "description": "The reason that YouTube failed to process the video. This property will only have a value if the processingStatus property's value is failed.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "uploadFailed",
            "transcodeFailed",
            "streamingFailed",
            "other"
          ]
        },
        "thumbnailsAvailability": {
          "description": "This value indicates whether thumbnail images have been generated for the video.",
          "type": "string"
        },
        "tagSuggestionsAvailability": {
          "description": "This value indicates whether keyword (tag) suggestions are available for the video. Tags can be added to a video's metadata to make it easier for other users to find the video. You can retrieve these suggestions by requesting the suggestions part in your videos.list() request.",
          "type": "string"
        },
        "fileDetailsAvailability": {
          "type": "string",
          "description": "This value indicates whether file details are available for the uploaded video. You can retrieve a video's file details by requesting the fileDetails part in your videos.list() request."
        },
        "processingStatus": {
          "description": "The video's processing status. This value indicates whether YouTube was able to process the video or if the video is still being processed.",
          "enum": [
            "processing",
            "succeeded",
            "failed",
            "terminated"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "processingProgress": {
          "description": "The processingProgress object contains information about the progress YouTube has made in processing the video. The values are really only relevant if the video's processing status is processing.",
          "$ref": "VideoProcessingDetailsProcessingProgress"
        },
        "editorSuggestionsAvailability": {
          "type": "string",
          "description": "This value indicates whether video editing suggestions, which might improve video quality or the playback experience, are available for the video. You can retrieve these suggestions by requesting the suggestions part in your videos.list() request."
        }
      },
      "id": "VideoProcessingDetails",
      "description": "Describes processing status and progress and availability of some other Video resource parts.",
      "type": "object"
    },
    "ActivityContentDetailsSubscription": {
      "type": "object",
      "id": "ActivityContentDetailsSubscription",
      "description": "Information about a channel that a user subscribed to.",
      "properties": {
        "resourceId": {
          "$ref": "ResourceId",
          "description": "The resourceId object contains information that identifies the resource that the user subscribed to."
        }
      }
    },
    "CommentThreadListResponse": {
      "id": "CommentThreadListResponse",
      "type": "object",
      "properties": {
        "visitorId": {
          "type": "string",
          "description": "The visitorId identifies the visitor."
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set."
        },
        "items": {
          "type": "array",
          "description": "A list of comment threads that match the request criteria.",
          "items": {
            "$ref": "CommentThread"
          }
        },
        "eventId": {
          "type": "string",
          "description": "Serialized EventId of the request which produced this response."
        },
        "tokenPagination": {
          "$ref": "TokenPagination"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#commentThreadListResponse\".",
          "type": "string",
          "default": "youtube#commentThreadListResponse"
        },
        "pageInfo": {
          "description": "General pagination information.",
          "$ref": "PageInfo"
        }
      }
    },
    "CaptionListResponse": {
      "type": "object",
      "id": "CaptionListResponse",
      "properties": {
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "visitorId": {
          "type": "string",
          "description": "The visitorId identifies the visitor."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#captionListResponse\".",
          "default": "youtube#captionListResponse"
        },
        "eventId": {
          "description": "Serialized EventId of the request which produced this response.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "description": "A list of captions that match the request criteria.",
          "items": {
            "$ref": "Caption"
          }
        }
      }
    },
    "ChannelSectionContentDetails": {
      "description": "Details about a channelsection, including playlists and channels.",
      "type": "object",
      "properties": {
        "channels": {
          "type": "array",
          "description": "The channel ids for type multiple_channels.",
          "items": {
            "type": "string"
          }
        },
        "playlists": {
          "type": "array",
          "description": "The playlist ids for type single_playlist and multiple_playlists. For singlePlaylist, only one playlistId is allowed.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ChannelSectionContentDetails"
    },
    "ChannelSectionLocalization": {
      "description": "ChannelSection localization setting",
      "type": "object",
      "properties": {
        "title": {
          "description": "The localized strings for channel section's title.",
          "type": "string"
        }
      },
      "id": "ChannelSectionLocalization"
    },
    "SuperChatEventListResponse": {
      "id": "SuperChatEventListResponse",
      "type": "object",
      "properties": {
        "visitorId": {
          "type": "string",
          "description": "The visitorId identifies the visitor."
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "pageInfo": {
          "$ref": "PageInfo"
        },
        "items": {
          "type": "array",
          "description": "A list of Super Chat purchases that match the request criteria.",
          "items": {
            "$ref": "SuperChatEvent"
          }
        },
        "eventId": {
          "type": "string",
          "description": "Serialized EventId of the request which produced this response."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#superChatEventListResponse\".",
          "default": "youtube#superChatEventListResponse"
        },
        "tokenPagination": {
          "$ref": "TokenPagination"
        }
      }
    },
    "CommentSnippetAuthorChannelId": {
      "properties": {
        "value": {
          "type": "string"
        }
      },
      "description": "The id of the author's YouTube channel, if any.",
      "type": "object",
      "id": "CommentSnippetAuthorChannelId"
    },
    "SubscriptionSubscriberSnippet": {
      "id": "SubscriptionSubscriberSnippet",
      "properties": {
        "title": {
          "description": "The title of the subscriber.",
          "type": "string"
        },
        "channelId": {
          "description": "The channel ID of the subscriber.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "The description of the subscriber."
        },
        "thumbnails": {
          "description": "Thumbnails for this subscriber.",
          "$ref": "ThumbnailDetails"
        }
      },
      "description": "Basic details about a subscription's subscriber including title, description, channel ID and thumbnails.",
      "type": "object"
    },
    "Playlist": {
      "type": "object",
      "id": "Playlist",
      "properties": {
        "contentDetails": {
          "description": "The contentDetails object contains information like video count.",
          "$ref": "PlaylistContentDetails"
        },
        "status": {
          "description": "The status object contains status information for the playlist.",
          "$ref": "PlaylistStatus"
        },
        "localizations": {
          "description": "Localizations for different languages",
          "additionalProperties": {
            "$ref": "PlaylistLocalization"
          },
          "type": "object"
        },
        "id": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the playlist."
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "player": {
          "$ref": "PlaylistPlayer",
          "description": "The player object contains information that you would use to play the playlist in an embedded player."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#playlist\".",
          "type": "string",
          "default": "youtube#playlist"
        },
        "snippet": {
          "description": "The snippet object contains basic details about the playlist, such as its title and description.",
          "$ref": "PlaylistSnippet"
        }
      },
      "description": "A *playlist* resource represents a YouTube playlist. A playlist is a collection of videos that can be viewed sequentially and shared with other users. A playlist can contain up to 200 videos, and YouTube does not limit the number of playlists that each user creates. By default, playlists are publicly visible to other users, but playlists can be public or private. YouTube also uses playlists to identify special collections of videos for a channel, such as: - uploaded videos - favorite videos - positively rated (liked) videos - watch history - watch later To be more specific, these lists are associated with a channel, which is a collection of a person, group, or company's videos, playlists, and other YouTube information. You can retrieve the playlist IDs for each of these lists from the channel resource for a given channel. You can then use the playlistItems.list method to retrieve any of those lists. You can also add or remove items from those lists by calling the playlistItems.insert and playlistItems.delete methods."
    },
    "LiveChatModeratorListResponse": {
      "type": "object",
      "id": "LiveChatModeratorListResponse",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#liveChatModeratorListResponse\".",
          "default": "youtube#liveChatModeratorListResponse"
        },
        "eventId": {
          "type": "string",
          "description": "Serialized EventId of the request which produced this response."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set."
        },
        "pageInfo": {
          "description": "General pagination information.",
          "$ref": "PageInfo"
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "tokenPagination": {
          "$ref": "TokenPagination"
        },
        "visitorId": {
          "type": "string",
          "description": "The visitorId identifies the visitor."
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "LiveChatModerator"
          },
          "description": "A list of moderators that match the request criteria."
        },
        "prevPageToken": {
          "type": "string",
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set."
        }
      }
    },
    "ActivityContentDetailsBulletin": {
      "type": "object",
      "description": "Details about a channel bulletin post.",
      "id": "ActivityContentDetailsBulletin",
      "properties": {
        "resourceId": {
          "$ref": "ResourceId",
          "description": "The resourceId object contains information that identifies the resource associated with a bulletin post. @mutable youtube.activities.insert"
        }
      }
    },
    "SearchListResponse": {
      "properties": {
        "regionCode": {
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "SearchResult"
          },
          "description": "Pagination information for token pagination."
        },
        "prevPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set.",
          "type": "string"
        },
        "eventId": {
          "description": "Serialized EventId of the request which produced this response.",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set."
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#searchListResponse\".",
          "default": "youtube#searchListResponse",
          "type": "string"
        },
        "pageInfo": {
          "$ref": "PageInfo",
          "description": "General pagination information."
        },
        "tokenPagination": {
          "$ref": "TokenPagination"
        },
        "visitorId": {
          "description": "The visitorId identifies the visitor.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "SearchListResponse"
    },
    "VideoMonetizationDetails": {
      "properties": {
        "access": {
          "$ref": "AccessPolicy",
          "description": "The value of access indicates whether the video can be monetized or not."
        }
      },
      "type": "object",
      "id": "VideoMonetizationDetails",
      "description": "Details about monetization of a YouTube Video."
    },
    "VideoSnippet": {
      "type": "object",
      "id": "VideoSnippet",
      "description": "Basic details about a video, including title, description, uploader, thumbnails and category.",
      "properties": {
        "liveBroadcastContent": {
          "type": "string",
          "enumDescriptions": [
            "",
            "The live broadcast is upcoming.",
            "The live broadcast is active.",
            "The live broadcast has been completed."
          ],
          "enum": [
            "none",
            "upcoming",
            "live",
            "completed"
          ],
          "description": "Indicates if the video is an upcoming/active live broadcast. Or it's \"none\" if the video is not an upcoming/active live broadcast."
        },
        "title": {
          "description": "The video's title. @mutable youtube.videos.insert youtube.videos.update",
          "type": "string"
        },
        "localized": {
          "description": "Localized snippet selected with the hl parameter. If no such localization exists, this field is populated with the default snippet. (Read-only)",
          "$ref": "VideoLocalization"
        },
        "thumbnails": {
          "$ref": "ThumbnailDetails",
          "description": "A map of thumbnail images associated with the video. For each object in the map, the key is the name of the thumbnail image, and the value is an object that contains other information about the thumbnail."
        },
        "publishedAt": {
          "description": "The date and time that the video was uploaded. The value is specified in ISO 8601 format.",
          "type": "string"
        },
        "tags": {
          "type": "array",
          "description": "A list of keyword tags associated with the video. Tags may contain spaces.",
          "items": {
            "type": "string"
          }
        },
        "defaultAudioLanguage": {
          "description": "The default_audio_language property specifies the language spoken in the video's default audio track.",
          "type": "string"
        },
        "channelTitle": {
          "type": "string",
          "description": "Channel title for the channel that the video belongs to."
        },
        "categoryId": {
          "type": "string",
          "description": "The YouTube video category associated with the video."
        },
        "channelId": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the channel that the video was uploaded to."
        },
        "defaultLanguage": {
          "description": "The language of the videos's default snippet.",
          "type": "string"
        },
        "description": {
          "description": "The video's description. @mutable youtube.videos.insert youtube.videos.update",
          "type": "string"
        }
      }
    },
    "Sponsor": {
      "description": "A `__sponsor__` resource represents a sponsor for a YouTube channel. A sponsor provides recurring monetary support to a creator and receives special benefits.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"youtube#sponsor\"`.",
          "default": "youtube#sponsor"
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "snippet": {
          "description": "The `snippet` object contains basic details about the sponsor.",
          "$ref": "SponsorSnippet"
        }
      },
      "id": "Sponsor",
      "type": "object"
    },
    "VideoLocalization": {
      "id": "VideoLocalization",
      "properties": {
        "description": {
          "type": "string",
          "description": "Localized version of the video's description."
        },
        "title": {
          "type": "string",
          "description": "Localized version of the video's title."
        }
      },
      "description": "Localized versions of certain video properties (e.g. title).",
      "type": "object"
    },
    "LiveStreamContentDetails": {
      "description": "Detailed settings of a stream.",
      "properties": {
        "isReusable": {
          "type": "boolean",
          "description": "Indicates whether the stream is reusable, which means that it can be bound to multiple broadcasts. It is common for broadcasters to reuse the same stream for many different broadcasts if those broadcasts occur at different times. If you set this value to false, then the stream will not be reusable, which means that it can only be bound to one broadcast. Non-reusable streams differ from reusable streams in the following ways: - A non-reusable stream can only be bound to one broadcast. - A non-reusable stream might be deleted by an automated process after the broadcast ends. - The liveStreams.list method does not list non-reusable streams if you call the method and set the mine parameter to true. The only way to use that method to retrieve the resource for a non-reusable stream is to use the id parameter to identify the stream. "
        },
        "closedCaptionsIngestionUrl": {
          "description": "The ingestion URL where the closed captions of this stream are sent.",
          "type": "string"
        }
      },
      "id": "LiveStreamContentDetails",
      "type": "object"
    },
    "I18nLanguage": {
      "id": "I18nLanguage",
      "description": "An *i18nLanguage* resource identifies a UI language currently supported by YouTube.",
      "properties": {
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the i18n language."
        },
        "kind": {
          "default": "youtube#i18nLanguage",
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#i18nLanguage\"."
        },
        "snippet": {
          "$ref": "I18nLanguageSnippet",
          "description": "The snippet object contains basic details about the i18n language, such as language code and human-readable name."
        }
      },
      "type": "object"
    },
    "PlaylistItemContentDetails": {
      "properties": {
        "note": {
          "description": "A user-generated note for this item.",
          "type": "string"
        },
        "endAt": {
          "type": "string",
          "description": "The time, measured in seconds from the start of the video, when the video should stop playing. (The playlist owner can specify the times when the video should start and stop playing when the video is played in the context of the playlist.) By default, assume that the video.endTime is the end of the video."
        },
        "videoPublishedAt": {
          "type": "string",
          "description": "The date and time that the video was published to YouTube. The value is specified in ISO 8601 format."
        },
        "startAt": {
          "type": "string",
          "description": "The time, measured in seconds from the start of the video, when the video should start playing. (The playlist owner can specify the times when the video should start and stop playing when the video is played in the context of the playlist.) The default value is 0."
        },
        "videoId": {
          "description": "The ID that YouTube uses to uniquely identify a video. To retrieve the video resource, set the id query parameter to this value in your API request.",
          "type": "string"
        }
      },
      "id": "PlaylistItemContentDetails",
      "type": "object"
    },
    "LiveChatMessage": {
      "type": "object",
      "properties": {
        "authorDetails": {
          "description": "The authorDetails object contains basic details about the user that posted this message.",
          "$ref": "LiveChatMessageAuthorDetails"
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "snippet": {
          "$ref": "LiveChatMessageSnippet",
          "description": "The snippet object contains basic details about the message."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#liveChatMessage\".",
          "default": "youtube#liveChatMessage",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The ID that YouTube assigns to uniquely identify the message."
        }
      },
      "id": "LiveChatMessage",
      "description": "A *liveChatMessage* resource represents a chat message in a YouTube Live Chat."
    },
    "ContentRating": {
      "properties": {
        "cncRating": {
          "description": "Rating system in France - Commission de classification cinematographique",
          "enumDescriptions": [
            "",
            "T",
            "10",
            "12",
            "16",
            "18",
            "E",
            "interdiction",
            ""
          ],
          "type": "string",
          "enum": [
            "cncUnspecified",
            "cncT",
            "cnc10",
            "cnc12",
            "cnc16",
            "cnc18",
            "cncE",
            "cncInterdiction",
            "cncUnrated"
          ]
        },
        "oflcRating": {
          "description": "The video's Office of Film and Literature Classification (OFLC - New Zealand) rating.",
          "type": "string",
          "enumDescriptions": [
            "",
            "G",
            "PG",
            "M",
            "R13",
            "R15",
            "R16",
            "R18",
            "",
            "RP13",
            "RP16",
            "RP18"
          ],
          "enum": [
            "oflcUnspecified",
            "oflcG",
            "oflcPg",
            "oflcM",
            "oflcR13",
            "oflcR15",
            "oflcR16",
            "oflcR18",
            "oflcUnrated",
            "oflcRp13",
            "oflcRp16",
            "oflcRp18"
          ]
        },
        "nbcRating": {
          "type": "string",
          "enumDescriptions": [
            "",
            "G",
            "PG",
            "12+",
            "15+",
            "18+",
            "18+R",
            "PU",
            ""
          ],
          "description": "The video's rating from the Maldives National Bureau of Classification.",
          "enum": [
            "nbcUnspecified",
            "nbcG",
            "nbcPg",
            "nbc12plus",
            "nbc15plus",
            "nbc18plus",
            "nbc18plusr",
            "nbcPu",
            "nbcUnrated"
          ]
        },
        "egfilmRating": {
          "enumDescriptions": [
            "",
            "GN",
            "18",
            "BN",
            ""
          ],
          "enum": [
            "egfilmUnspecified",
            "egfilmGn",
            "egfilm18",
            "egfilmBn",
            "egfilmUnrated"
          ],
          "description": "The video's rating in Egypt.",
          "type": "string"
        },
        "mekuRating": {
          "type": "string",
          "enum": [
            "mekuUnspecified",
            "mekuS",
            "meku7",
            "meku12",
            "meku16",
            "meku18",
            "mekuUnrated"
          ],
          "enumDescriptions": [
            "",
            "S",
            "7",
            "12",
            "16",
            "18",
            ""
          ],
          "description": "The video's rating from Finland's Kansallinen Audiovisuaalinen Instituutti (National Audiovisual Institute)."
        },
        "cicfRating": {
          "description": "The video's rating from the Commission de Contrôle des Films (Belgium).",
          "enum": [
            "cicfUnspecified",
            "cicfE",
            "cicfKtEa",
            "cicfKntEna",
            "cicfUnrated"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "E",
            "KT/EA",
            "KNT/ENA",
            ""
          ]
        },
        "tvpgRating": {
          "enum": [
            "tvpgUnspecified",
            "tvpgY",
            "tvpgY7",
            "tvpgY7Fv",
            "tvpgG",
            "tvpgPg",
            "pg14",
            "tvpgMa",
            "tvpgUnrated"
          ],
          "enumDescriptions": [
            "",
            "TV-Y",
            "TV-Y7",
            "TV-Y7-FV",
            "TV-G",
            "TV-PG",
            "TV-14",
            "TV-MA",
            ""
          ],
          "type": "string",
          "description": "The video's TV Parental Guidelines (TVPG) rating."
        },
        "acbRating": {
          "enum": [
            "acbUnspecified",
            "acbE",
            "acbP",
            "acbC",
            "acbG",
            "acbPg",
            "acbM",
            "acbMa15plus",
            "acbR18plus",
            "acbUnrated"
          ],
          "type": "string",
          "description": "The video's Australian Classification Board (ACB) or Australian Communications and Media Authority (ACMA) rating. ACMA ratings are used to classify children's television programming.",
          "enumDescriptions": [
            "",
            "E",
            "Programs that have been given a P classification by the Australian Communications and Media Authority. These programs are intended for preschool children.",
            "Programs that have been given a C classification by the Australian Communications and Media Authority. These programs are intended for children (other than preschool children) who are younger than 14 years of age.",
            "G",
            "PG",
            "M",
            "MA15+",
            "R18+",
            ""
          ]
        },
        "cnaRating": {
          "description": "The video's rating from Romania's CONSILIUL NATIONAL AL AUDIOVIZUALULUI (CNA).",
          "enumDescriptions": [
            "",
            "AP",
            "12",
            "15",
            "18",
            "18+",
            ""
          ],
          "enum": [
            "cnaUnspecified",
            "cnaAp",
            "cna12",
            "cna15",
            "cna18",
            "cna18plus",
            "cnaUnrated"
          ],
          "type": "string"
        },
        "csaRating": {
          "enum": [
            "csaUnspecified",
            "csaT",
            "csa10",
            "csa12",
            "csa16",
            "csa18",
            "csaInterdiction",
            "csaUnrated"
          ],
          "enumDescriptions": [
            "",
            "T",
            "10",
            "12",
            "16",
            "18",
            "Interdiction",
            ""
          ],
          "type": "string",
          "description": "The video's rating from France's Conseil supérieur de l’audiovisuel, which rates broadcast content."
        },
        "smaisRating": {
          "enumDescriptions": [
            "",
            "L",
            "7",
            "12",
            "14",
            "16",
            "18",
            ""
          ],
          "type": "string",
          "description": "The video's rating in Iceland.",
          "enum": [
            "smaisUnspecified",
            "smaisL",
            "smais7",
            "smais12",
            "smais14",
            "smais16",
            "smais18",
            "smaisUnrated"
          ]
        },
        "chvrsRating": {
          "enumDescriptions": [
            "",
            "G",
            "PG",
            "14A",
            "18A",
            "R",
            "E",
            ""
          ],
          "description": "The video's Canadian Home Video Rating System (CHVRS) rating.",
          "enum": [
            "chvrsUnspecified",
            "chvrsG",
            "chvrsPg",
            "chvrs14a",
            "chvrs18a",
            "chvrsR",
            "chvrsE",
            "chvrsUnrated"
          ],
          "type": "string"
        },
        "mibacRating": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "description": "The video's rating from the Ministero dei Beni e delle Attività Culturali e del Turismo (Italy).",
          "enum": [
            "mibacUnspecified",
            "mibacT",
            "mibacVap",
            "mibacVm12",
            "mibacVm14",
            "mibacVm18",
            "mibacUnrated"
          ]
        },
        "fcoRating": {
          "type": "string",
          "enumDescriptions": [
            "",
            "I",
            "IIA",
            "IIB",
            "II",
            "III",
            ""
          ],
          "description": "The video's rating from Hong Kong's Office for Film, Newspaper and Article Administration.",
          "enum": [
            "fcoUnspecified",
            "fcoI",
            "fcoIia",
            "fcoIib",
            "fcoIi",
            "fcoIii",
            "fcoUnrated"
          ]
        },
        "agcomRating": {
          "type": "string",
          "enum": [
            "agcomUnspecified",
            "agcomT",
            "agcomVm14",
            "agcomVm18",
            "agcomUnrated"
          ],
          "description": "The video's rating from Italy's Autorità per le Garanzie nelle Comunicazioni (AGCOM).",
          "enumDescriptions": [
            "",
            "T",
            "VM14",
            "VM18",
            ""
          ]
        },
        "fmocRating": {
          "type": "string",
          "enum": [
            "fmocUnspecified",
            "fmocU",
            "fmoc10",
            "fmoc12",
            "fmoc16",
            "fmoc18",
            "fmocE",
            "fmocUnrated"
          ],
          "description": "This property has been deprecated. Use the contentDetails.contentRating.cncRating instead.",
          "enumDescriptions": [
            "",
            "U",
            "10",
            "12",
            "16",
            "18",
            "E",
            ""
          ]
        },
        "mdaRating": {
          "description": "The video's rating from Singapore's Media Development Authority (MDA) and, specifically, it's Board of Film Censors (BFC).",
          "enumDescriptions": [
            "",
            "G",
            "PG",
            "PG13",
            "NC16",
            "M18",
            "R21",
            ""
          ],
          "enum": [
            "mdaUnspecified",
            "mdaG",
            "mdaPg",
            "mdaPg13",
            "mdaNc16",
            "mdaM18",
            "mdaR21",
            "mdaUnrated"
          ],
          "type": "string"
        },
        "mcstRating": {
          "enumDescriptions": [
            "",
            "P",
            "0",
            "C13",
            "C16",
            "16+",
            "C18",
            "MCST_G_PG",
            ""
          ],
          "description": "The video's rating system for Vietnam - MCST",
          "type": "string",
          "enum": [
            "mcstUnspecified",
            "mcstP",
            "mcst0",
            "mcstC13",
            "mcstC16",
            "mcst16plus",
            "mcstC18",
            "mcstGPg",
            "mcstUnrated"
          ]
        },
        "kfcbRating": {
          "enum": [
            "kfcbUnspecified",
            "kfcbG",
            "kfcbPg",
            "kfcb16plus",
            "kfcbR",
            "kfcbUnrated"
          ],
          "type": "string",
          "description": "The video's rating from the Kenya Film Classification Board.",
          "enumDescriptions": [
            "",
            "GE",
            "PG",
            "16",
            "18",
            ""
          ]
        },
        "nfvcbRating": {
          "type": "string",
          "enum": [
            "nfvcbUnspecified",
            "nfvcbG",
            "nfvcbPg",
            "nfvcb12",
            "nfvcb12a",
            "nfvcb15",
            "nfvcb18",
            "nfvcbRe",
            "nfvcbUnrated"
          ],
          "description": "The video's rating from Nigeria's National Film and Video Censors Board.",
          "enumDescriptions": [
            "",
            "G",
            "PG",
            "12",
            "12A",
            "15",
            "18",
            "RE",
            ""
          ]
        },
        "cscfRating": {
          "description": "The video's rating from Luxembourg's Commission de surveillance de la classification des films (CSCF).",
          "enumDescriptions": [
            "",
            "AL",
            "A",
            "6",
            "9",
            "12",
            "16",
            "18",
            ""
          ],
          "type": "string",
          "enum": [
            "cscfUnspecified",
            "cscfAl",
            "cscfA",
            "cscf6",
            "cscf9",
            "cscf12",
            "cscf16",
            "cscf18",
            "cscfUnrated"
          ]
        },
        "icaaRating": {
          "enumDescriptions": [
            "",
            "APTA",
            "7",
            "12",
            "13",
            "16",
            "18",
            "X",
            ""
          ],
          "enum": [
            "icaaUnspecified",
            "icaaApta",
            "icaa7",
            "icaa12",
            "icaa13",
            "icaa16",
            "icaa18",
            "icaaX",
            "icaaUnrated"
          ],
          "description": "The video's Instituto de la Cinematografía y de las Artes Audiovisuales (ICAA - Spain) rating.",
          "type": "string"
        },
        "cbfcRating": {
          "description": "The video's Central Board of Film Certification (CBFC - India) rating.",
          "enumDescriptions": [
            "",
            "U",
            "U/A",
            "A",
            "S",
            ""
          ],
          "type": "string",
          "enum": [
            "cbfcUnspecified",
            "cbfcU",
            "cbfcUA",
            "cbfcA",
            "cbfcS",
            "cbfcUnrated"
          ]
        },
        "medietilsynetRating": {
          "type": "string",
          "enumDescriptions": [
            "",
            "A",
            "6",
            "7",
            "9",
            "11",
            "12",
            "15",
            "18",
            ""
          ],
          "enum": [
            "medietilsynetUnspecified",
            "medietilsynetA",
            "medietilsynet6",
            "medietilsynet7",
            "medietilsynet9",
            "medietilsynet11",
            "medietilsynet12",
            "medietilsynet15",
            "medietilsynet18",
            "medietilsynetUnrated"
          ],
          "description": "The video's rating from Medietilsynet, the Norwegian Media Authority."
        },
        "ytRating": {
          "enum": [
            "ytUnspecified",
            "ytAgeRestricted"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "description": "A rating that YouTube uses to identify age-restricted content."
        },
        "bmukkRating": {
          "enumDescriptions": [
            "",
            "Unrestricted",
            "6+",
            "8+",
            "10+",
            "12+",
            "14+",
            "16+",
            ""
          ],
          "enum": [
            "bmukkUnspecified",
            "bmukkAa",
            "bmukk6",
            "bmukk8",
            "bmukk10",
            "bmukk12",
            "bmukk14",
            "bmukk16",
            "bmukkUnrated"
          ],
          "description": "The video's rating from the Austrian Board of Media Classification (Bundesministerium für Unterricht, Kunst und Kultur).",
          "type": "string"
        },
        "kmrbRating": {
          "type": "string",
          "enum": [
            "kmrbUnspecified",
            "kmrbAll",
            "kmrb12plus",
            "kmrb15plus",
            "kmrbTeenr",
            "kmrbR",
            "kmrbUnrated"
          ],
          "description": "The video's Korea Media Rating Board (영상물등급위원회) rating. The KMRB rates videos in South Korea.",
          "enumDescriptions": [
            "",
            "전체관람가",
            "12세 이상 관람가",
            "15세 이상 관람가",
            "",
            "청소년 관람불가",
            ""
          ]
        },
        "anatelRating": {
          "description": "The video's Anatel (Asociación Nacional de Televisión) rating for Chilean television.",
          "type": "string",
          "enumDescriptions": [
            "",
            "F",
            "I",
            "I-7",
            "I-10",
            "I-12",
            "R",
            "A",
            ""
          ],
          "enum": [
            "anatelUnspecified",
            "anatelF",
            "anatelI",
            "anatelI7",
            "anatelI10",
            "anatelI12",
            "anatelR",
            "anatelA",
            "anatelUnrated"
          ]
        },
        "ifcoRating": {
          "type": "string",
          "enum": [
            "ifcoUnspecified",
            "ifcoG",
            "ifcoPg",
            "ifco12",
            "ifco12a",
            "ifco15",
            "ifco15a",
            "ifco16",
            "ifco18",
            "ifcoUnrated"
          ],
          "description": "The video's Irish Film Classification Office (IFCO - Ireland) rating. See the IFCO website for more information.",
          "enumDescriptions": [
            "",
            "G",
            "PG",
            "12",
            "12A",
            "15",
            "15A",
            "16",
            "18",
            ""
          ]
        },
        "cccRating": {
          "type": "string",
          "description": "The video's Consejo de Calificación Cinematográfica (Chile) rating.",
          "enumDescriptions": [
            "",
            "Todo espectador",
            "6+ - Inconveniente para menores de 7 años",
            "14+",
            "18+",
            "18+ - contenido excesivamente violento",
            "18+ - contenido pornográfico",
            ""
          ],
          "enum": [
            "cccUnspecified",
            "cccTe",
            "ccc6",
            "ccc14",
            "ccc18",
            "ccc18v",
            "ccc18s",
            "cccUnrated"
          ]
        },
        "djctqRatingReasons": {
          "items": {
            "enumDescriptions": [
              "",
              "Brazil rating content descriptors. See http://go/brazilratings section F. Violência (Violence)",
              "Violência extrema (Extreme violence)",
              "Conteúdo sexual (Sexual content)",
              "Nudez (Nudity)",
              "Sexo (Sex)",
              "Sexo Explícito (Explicit sex)",
              "Drogas (Drugs)",
              "Drogas Lícitas (Legal drugs)",
              "Drogas Ilícitas (Illegal drugs)",
              "Linguagem Imprópria (Inappropriate language)",
              "Atos Criminosos (Criminal Acts)",
              "Conteúdo Impactante (Impacting content)"
            ],
            "type": "string",
            "enum": [
              "djctqRatingReasonUnspecified",
              "djctqViolence",
              "djctqExtremeViolence",
              "djctqSexualContent",
              "djctqNudity",
              "djctqSex",
              "djctqExplicitSex",
              "djctqDrugs",
              "djctqLegalDrugs",
              "djctqIllegalDrugs",
              "djctqInappropriateLanguage",
              "djctqCriminalActs",
              "djctqImpactingContent"
            ]
          },
          "type": "array",
          "description": "Reasons that explain why the video received its DJCQT (Brazil) rating."
        },
        "incaaRating": {
          "type": "string",
          "description": "The video's INCAA (Instituto Nacional de Cine y Artes Audiovisuales - Argentina) rating.",
          "enumDescriptions": [
            "",
            "ATP (Apta para todo publico)",
            "13 (Solo apta para mayores de 13 años)",
            "16 (Solo apta para mayores de 16 años)",
            "18 (Solo apta para mayores de 18 años)",
            "X (Solo apta para mayores de 18 años, de exhibición condicionada)",
            ""
          ],
          "enum": [
            "incaaUnspecified",
            "incaaAtp",
            "incaaSam13",
            "incaaSam16",
            "incaaSam18",
            "incaaC",
            "incaaUnrated"
          ]
        },
        "fpbRating": {
          "description": "The video's rating from South Africa's Film and Publication Board.",
          "type": "string",
          "enumDescriptions": [
            "",
            "A",
            "PG",
            "7-9PG",
            "10-12PG",
            "13",
            "16",
            "18",
            "X18",
            "XX",
            "",
            "10"
          ],
          "enum": [
            "fpbUnspecified",
            "fpbA",
            "fpbPg",
            "fpb79Pg",
            "fpb1012Pg",
            "fpb13",
            "fpb16",
            "fpb18",
            "fpbX18",
            "fpbXx",
            "fpbUnrated",
            "fpb10"
          ]
        },
        "mpaatRating": {
          "enum": [
            "mpaatUnspecified",
            "mpaatGb",
            "mpaatRb"
          ],
          "enumDescriptions": [
            "",
            "GB",
            "RB"
          ],
          "description": "The rating system for trailer, DVD, and Ad in the US. See http://movielabs.com/md/ratings/v2.3/html/US_MPAAT_Ratings.html.",
          "type": "string"
        },
        "catvRating": {
          "enum": [
            "catvUnspecified",
            "catvC",
            "catvC8",
            "catvG",
            "catvPg",
            "catv14plus",
            "catv18plus",
            "catvUnrated",
            "catvE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "C",
            "C8",
            "G",
            "PG",
            "14+",
            "18+",
            "",
            ""
          ],
          "description": "Rating system for Canadian TV - Canadian TV Classification System The video's rating from the Canadian Radio-Television and Telecommunications Commission (CRTC) for Canadian English-language broadcasts. For more information, see the Canadian Broadcast Standards Council website."
        },
        "ecbmctRating": {
          "type": "string",
          "description": "Rating system in Turkey - Evaluation and Classification Board of the Ministry of Culture and Tourism",
          "enum": [
            "ecbmctUnspecified",
            "ecbmctG",
            "ecbmct7a",
            "ecbmct7plus",
            "ecbmct13a",
            "ecbmct13plus",
            "ecbmct15a",
            "ecbmct15plus",
            "ecbmct18plus",
            "ecbmctUnrated"
          ],
          "enumDescriptions": [
            "",
            "G",
            "7A",
            "7+",
            "13A",
            "13+",
            "15A",
            "15+",
            "18+",
            ""
          ]
        },
        "mccaaRating": {
          "description": "The video's rating from Malta's Film Age-Classification Board.",
          "enumDescriptions": [
            "",
            "U",
            "PG",
            "12A",
            "12",
            "14 - this rating was removed from the new classification structure introduced in 2013.",
            "15",
            "16 - this rating was removed from the new classification structure introduced in 2013.",
            "18",
            ""
          ],
          "enum": [
            "mccaaUnspecified",
            "mccaaU",
            "mccaaPg",
            "mccaa12a",
            "mccaa12",
            "mccaa14",
            "mccaa15",
            "mccaa16",
            "mccaa18",
            "mccaaUnrated"
          ],
          "type": "string"
        },
        "moctwRating": {
          "enumDescriptions": [
            "",
            "G",
            "P",
            "PG",
            "R",
            "",
            "R-12",
            "R-15"
          ],
          "description": "The video's rating from Taiwan's Ministry of Culture (文化部).",
          "type": "string",
          "enum": [
            "moctwUnspecified",
            "moctwG",
            "moctwP",
            "moctwPg",
            "moctwR",
            "moctwUnrated",
            "moctwR12",
            "moctwR15"
          ]
        },
        "chfilmRating": {
          "enum": [
            "chfilmUnspecified",
            "chfilm0",
            "chfilm6",
            "chfilm12",
            "chfilm16",
            "chfilm18",
            "chfilmUnrated"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "0",
            "6",
            "12",
            "16",
            "18",
            ""
          ],
          "description": "The video's rating in Switzerland."
        },
        "fcbmRating": {
          "description": "The video's rating from Malaysia's Film Censorship Board.",
          "enumDescriptions": [
            "",
            "U",
            "PG13",
            "P13",
            "18",
            "18SX",
            "18PA",
            "18SG",
            "18PL",
            ""
          ],
          "type": "string",
          "enum": [
            "fcbmUnspecified",
            "fcbmU",
            "fcbmPg13",
            "fcbmP13",
            "fcbm18",
            "fcbm18sx",
            "fcbm18pa",
            "fcbm18sg",
            "fcbm18pl",
            "fcbmUnrated"
          ]
        },
        "rteRating": {
          "type": "string",
          "enumDescriptions": [
            "",
            "GA",
            "CH",
            "PS",
            "MA",
            ""
          ],
          "description": "The video's rating from Ireland's Raidió Teilifís Éireann.",
          "enum": [
            "rteUnspecified",
            "rteGa",
            "rteCh",
            "rtePs",
            "rteMa",
            "rteUnrated"
          ]
        },
        "catvfrRating": {
          "description": "The video's rating from the Canadian Radio-Television and Telecommunications Commission (CRTC) for Canadian French-language broadcasts. For more information, see the Canadian Broadcast Standards Council website.",
          "enumDescriptions": [
            "",
            "G",
            "8+",
            "13+",
            "16+",
            "18+",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "catvfrUnspecified",
            "catvfrG",
            "catvfr8plus",
            "catvfr13plus",
[...]
