{
  "title": "YouTube Data API v3",
  "version": "v3",
  "documentationLink": "https://developers.google.com/youtube/",
  "ownerName": "Google",
  "basePath": "",
  "parameters": {
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "alt": {
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "type": "string",
      "default": "json"
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "canonicalName": "YouTube",
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "rootUrl": "https://youtube.googleapis.com/",
  "servicePath": "",
  "revision": "20201231",
  "discoveryVersion": "v1",
  "description": "The YouTube Data API v3 is an API that provides access to YouTube data, such as videos, playlists, and channels.",
  "ownerDomain": "google.com",
  "resources": {
    "tests": {
      "methods": {
        "insert": {
          "httpMethod": "POST",
          "parameters": {
            "part": {
              "location": "query",
              "repeated": true,
              "type": "string",
              "required": true
            }
          },
          "id": "youtube.tests.insert",
          "flatPath": "youtube/v3/tests",
          "request": {
            "$ref": "TestItem"
          },
          "description": "POST method.",
          "response": {
            "$ref": "TestItem"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube.readonly"
          ],
          "path": "youtube/v3/tests",
          "parameterOrder": [
            "part"
          ]
        }
      }
    },
    "membershipsLevels": {
      "methods": {
        "list": {
          "path": "youtube/v3/membershipsLevels",
          "flatPath": "youtube/v3/membershipsLevels",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.channel-memberships.creator"
          ],
          "parameterOrder": [
            "part"
          ],
          "description": "Retrieves a list of all pricing levels offered by a creator to the fans.",
          "parameters": {
            "part": {
              "description": "The *part* parameter specifies the membershipsLevel resource parts that the API response will include. Supported values are id and snippet.",
              "repeated": true,
              "location": "query",
              "required": true,
              "type": "string"
            }
          },
          "id": "youtube.membershipsLevels.list",
          "httpMethod": "GET",
          "response": {
            "$ref": "MembershipsLevelListResponse"
          }
        }
      }
    },
    "watermarks": {
      "methods": {
        "set": {
          "request": {
            "$ref": "InvideoBranding"
          },
          "mediaUpload": {
            "accept": [
              "image/jpeg",
              "image/png",
              "application/octet-stream"
            ],
            "maxSize": "10485760",
            "protocols": {
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/youtube/v3/watermarks/set"
              },
              "simple": {
                "multipart": true,
                "path": "/upload/youtube/v3/watermarks/set"
              }
            }
          },
          "supportsMediaUpload": true,
          "flatPath": "youtube/v3/watermarks/set",
          "path": "youtube/v3/watermarks/set",
          "description": "Allows upload of watermark image and setting it for a channel.",
          "id": "youtube.watermarks.set",
          "parameters": {
            "channelId": {
              "type": "string",
              "required": true,
              "location": "query"
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query"
            }
          },
          "parameterOrder": [
            "channelId"
          ],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.upload",
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        },
        "unset": {
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "id": "youtube.watermarks.unset",
          "flatPath": "youtube/v3/watermarks/unset",
          "parameters": {
            "channelId": {
              "type": "string",
              "location": "query",
              "required": true
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string",
              "location": "query"
            }
          },
          "description": "Allows removal of channel watermark.",
          "httpMethod": "POST",
          "parameterOrder": [
            "channelId"
          ],
          "path": "youtube/v3/watermarks/unset"
        }
      }
    },
    "commentThreads": {
      "methods": {
        "update": {
          "response": {
            "$ref": "CommentThread"
          },
          "parameterOrder": [
            "part"
          ],
          "description": "Updates an existing resource.",
          "flatPath": "youtube/v3/commentThreads",
          "path": "youtube/v3/commentThreads",
          "id": "youtube.commentThreads.update",
          "request": {
            "$ref": "CommentThread"
          },
          "parameters": {
            "part": {
              "description": "The *part* parameter specifies a comma-separated list of commentThread resource properties that the API response will include. You must at least include the snippet part in the parameter value since that part contains all of the properties that the API request can update.",
              "repeated": true,
              "type": "string",
              "location": "query",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "httpMethod": "PUT"
        },
        "list": {
          "path": "youtube/v3/commentThreads",
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved."
            },
            "allThreadsRelatedToChannelId": {
              "location": "query",
              "type": "string",
              "description": "Returns the comment threads of all videos of the channel and the channel comments as well."
            },
            "channelId": {
              "type": "string",
              "description": "Returns the comment threads for all the channel comments (ie does not include comments left on videos).",
              "location": "query"
            },
            "maxResults": {
              "format": "uint32",
              "default": "20",
              "location": "query",
              "type": "integer",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set."
            },
            "searchTerms": {
              "location": "query",
              "type": "string",
              "description": "Limits the returned comment threads to those matching the specified key words. Not compatible with the 'id' filter."
            },
            "textFormat": {
              "default": "html",
              "description": "The requested text format for the returned comments.",
              "enumDescriptions": [
                "",
                "Returns the comments in HTML format. This is the default value.",
                "Returns the comments in plain text format."
              ],
              "enum": [
                "textFormatUnspecified",
                "html",
                "plainText"
              ],
              "location": "query",
              "type": "string"
            },
            "moderationStatus": {
              "description": "Limits the returned comment threads to those with the specified moderation status. Not compatible with the 'id' filter. Valid values: published, heldForReview, likelySpam.",
              "type": "string",
              "location": "query",
              "default": "published",
              "enumDescriptions": [
                "The comment is available for public display.",
                "The comment is awaiting review by a moderator.",
                "",
                "The comment is unfit for display."
              ],
              "enum": [
                "published",
                "heldForReview",
                "likelySpam",
                "rejected"
              ]
            },
            "videoId": {
              "description": "Returns the comment threads of the specified video.",
              "location": "query",
              "type": "string"
            },
            "part": {
              "repeated": true,
              "description": "The *part* parameter specifies a comma-separated list of one or more commentThread resource properties that the API response will include.",
              "required": true,
              "location": "query",
              "type": "string"
            },
            "order": {
              "enumDescriptions": [
                "",
                "Order by time.",
                "Order by relevance."
              ],
              "type": "string",
              "enum": [
                "orderUnspecified",
                "time",
                "relevance"
              ],
              "location": "query",
              "default": "time"
            },
            "id": {
              "repeated": true,
              "type": "string",
              "location": "query",
              "description": "Returns the comment threads with the given IDs for Stubby or Apiary."
            }
          },
          "parameterOrder": [
            "part"
          ],
          "description": "Retrieves a list of resources, possibly filtered.",
          "response": {
            "$ref": "CommentThreadListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "id": "youtube.commentThreads.list",
          "httpMethod": "GET",
          "flatPath": "youtube/v3/commentThreads"
        },
        "insert": {
          "id": "youtube.commentThreads.insert",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "request": {
            "$ref": "CommentThread"
          },
          "path": "youtube/v3/commentThreads",
          "parameters": {
            "part": {
              "repeated": true,
              "location": "query",
              "type": "string",
              "required": true,
              "description": "The *part* parameter identifies the properties that the API response will include. Set the parameter value to snippet. The snippet part has a quota cost of 2 units."
            }
          },
          "parameterOrder": [
            "part"
          ],
          "description": "Inserts a new resource into this collection.",
          "response": {
            "$ref": "CommentThread"
          },
          "httpMethod": "POST",
          "flatPath": "youtube/v3/commentThreads"
        }
      }
    },
    "liveChatMessages": {
      "methods": {
        "list": {
          "path": "youtube/v3/liveChat/messages",
          "response": {
            "$ref": "LiveChatMessageListResponse"
          },
          "parameters": {
            "hl": {
              "location": "query",
              "type": "string",
              "description": "Specifies the localization language in which the system messages should be returned."
            },
            "maxResults": {
              "default": "500",
              "location": "query",
              "type": "integer",
              "format": "uint32",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set."
            },
            "part": {
              "repeated": true,
              "description": "The *part* parameter specifies the liveChatComment resource parts that the API response will include. Supported values are id and snippet.",
              "location": "query",
              "required": true,
              "type": "string"
            },
            "liveChatId": {
              "location": "query",
              "description": "The id of the live chat for which comments should be returned.",
              "required": true,
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken property identify other pages that could be retrieved.",
              "location": "query"
            },
            "profileImageSize": {
              "type": "integer",
              "description": "Specifies the size of the profile image that should be returned for each user.",
              "format": "uint32",
              "location": "query"
            }
          },
          "flatPath": "youtube/v3/liveChat/messages",
          "httpMethod": "GET",
          "id": "youtube.liveChatMessages.list",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly"
          ],
          "parameterOrder": [
            "liveChatId",
            "part"
          ],
          "description": "Retrieves a list of resources, possibly filtered."
        },
        "insert": {
          "path": "youtube/v3/liveChat/messages",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "LiveChatMessage"
          },
          "parameters": {
            "part": {
              "type": "string",
              "description": "The *part* parameter serves two purposes. It identifies the properties that the write operation will set as well as the properties that the API response will include. Set the parameter value to snippet.",
              "location": "query",
              "required": true,
              "repeated": true
            }
          },
          "id": "youtube.liveChatMessages.insert",
          "request": {
            "$ref": "LiveChatMessage"
          },
          "flatPath": "youtube/v3/liveChat/messages",
          "description": "Inserts a new resource into this collection.",
          "parameterOrder": [
            "part"
          ]
        },
        "delete": {
          "parameters": {
            "id": {
              "type": "string",
              "required": true,
              "location": "query"
            }
          },
          "httpMethod": "DELETE",
          "path": "youtube/v3/liveChat/messages",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "description": "Deletes a chat message.",
          "parameterOrder": [
            "id"
          ],
          "id": "youtube.liveChatMessages.delete",
          "flatPath": "youtube/v3/liveChat/messages"
        }
      }
    },
    "liveBroadcasts": {
      "methods": {
        "list": {
          "flatPath": "youtube/v3/liveBroadcasts",
          "response": {
            "$ref": "LiveBroadcastListResponse"
          },
          "description": "Retrieve the list of broadcasts associated with the given channel.",
          "httpMethod": "GET",
          "id": "youtube.liveBroadcasts.list",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly"
          ],
          "path": "youtube/v3/liveBroadcasts",
          "parameters": {
            "onBehalfOfContentOwnerChannel": {
              "location": "query",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "type": "string"
            },
            "mine": {
              "type": "boolean",
              "location": "query"
            },
            "broadcastType": {
              "location": "query",
              "default": "event",
              "description": "Return only broadcasts with the selected type.",
              "type": "string",
              "enumDescriptions": [
                "",
                "Return all broadcasts.",
                "Return only scheduled event broadcasts.",
                "Return only persistent broadcasts."
              ],
              "enum": [
                "broadcastTypeFilterUnspecified",
                "all",
                "event",
                "persistent"
              ]
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved."
            },
            "maxResults": {
              "default": "5",
              "location": "query",
              "format": "uint32",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "type": "integer"
            },
            "id": {
              "location": "query",
              "type": "string",
              "repeated": true,
              "description": "Return broadcasts with the given ids from Stubby or Apiary."
            },
            "broadcastStatus": {
              "type": "string",
              "location": "query",
              "enumDescriptions": [
                "",
                "Return all broadcasts.",
                "Return current live broadcasts.",
                "Return broadcasts that have not yet started.",
                "Return broadcasts that have already ended."
              ],
              "enum": [
                "broadcastStatusFilterUnspecified",
                "all",
                "active",
                "upcoming",
                "completed"
              ],
              "description": "Return broadcasts with a certain status, e.g. active broadcasts."
            },
            "part": {
              "description": "The *part* parameter specifies a comma-separated list of one or more liveBroadcast resource properties that the API response will include. The part names that you can include in the parameter value are id, snippet, contentDetails, status and statistics.",
              "location": "query",
              "repeated": true,
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "part"
          ]
        },
        "update": {
          "description": "Updates an existing broadcast for the authenticated user.",
          "parameters": {
            "onBehalfOfContentOwner": {
              "location": "query",
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            },
            "onBehalfOfContentOwnerChannel": {
              "location": "query",
              "type": "string",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel."
            },
            "part": {
              "repeated": true,
              "type": "string",
              "required": true,
              "location": "query",
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. The part properties that you can include in the parameter value are id, snippet, contentDetails, and status. Note that this method will override the existing values for all of the mutable properties that are contained in any parts that the parameter value specifies. For example, a broadcast's privacy status is defined in the status part. As such, if your request is updating a private or unlisted broadcast, and the request's part parameter value includes the status part, the broadcast's privacy setting will be updated to whatever value the request body specifies. If the request body does not specify a value, the existing privacy setting will be removed and the broadcast will revert to the default privacy setting."
            }
          },
          "response": {
            "$ref": "LiveBroadcast"
          },
          "path": "youtube/v3/liveBroadcasts",
          "request": {
            "$ref": "LiveBroadcast"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "id": "youtube.liveBroadcasts.update",
          "parameterOrder": [
            "part"
          ],
          "httpMethod": "PUT",
          "flatPath": "youtube/v3/liveBroadcasts"
        },
        "transition": {
          "httpMethod": "POST",
          "description": "Transition a broadcast to a given status.",
          "parameters": {
            "id": {
              "required": true,
              "type": "string",
              "description": "Broadcast to transition.",
              "location": "query"
            },
            "part": {
              "type": "string",
              "location": "query",
              "description": "The *part* parameter specifies a comma-separated list of one or more liveBroadcast resource properties that the API response will include. The part names that you can include in the parameter value are id, snippet, contentDetails, and status.",
              "required": true,
              "repeated": true
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            },
            "onBehalfOfContentOwnerChannel": {
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "type": "string",
              "location": "query"
            },
            "broadcastStatus": {
              "enumDescriptions": [
                "",
                "Start testing the broadcast. YouTube transmits video to the broadcast's monitor stream. Note that you can only transition a broadcast to the testing state if its contentDetails.monitorStream.enableMonitorStream property is set to true.\",",
                "Return only persistent broadcasts.",
                "The broadcast is over. YouTube stops transmitting video."
              ],
              "location": "query",
              "required": true,
              "enum": [
                "statusUnspecified",
                "testing",
                "live",
                "complete"
              ],
              "description": "The status to which the broadcast is going to transition.",
              "type": "string"
            }
          },
          "id": "youtube.liveBroadcasts.transition",
          "parameterOrder": [
            "broadcastStatus",
            "id",
            "part"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "flatPath": "youtube/v3/liveBroadcasts/transition",
          "response": {
            "$ref": "LiveBroadcast"
          },
          "path": "youtube/v3/liveBroadcasts/transition"
        },
        "bind": {
          "parameterOrder": [
            "id",
            "part"
          ],
          "path": "youtube/v3/liveBroadcasts/bind",
          "id": "youtube.liveBroadcasts.bind",
          "httpMethod": "POST",
          "response": {
            "$ref": "LiveBroadcast"
          },
          "flatPath": "youtube/v3/liveBroadcasts/bind",
          "parameters": {
            "id": {
              "required": true,
              "type": "string",
              "location": "query",
              "description": "Broadcast to bind to the stream"
            },
            "streamId": {
              "location": "query",
              "type": "string",
              "description": "Stream to bind, if not set unbind the current one."
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string",
              "location": "query"
            },
            "onBehalfOfContentOwnerChannel": {
              "type": "string",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "location": "query"
            },
            "part": {
              "description": "The *part* parameter specifies a comma-separated list of one or more liveBroadcast resource properties that the API response will include. The part names that you can include in the parameter value are id, snippet, contentDetails, and status.",
              "location": "query",
              "type": "string",
              "required": true,
              "repeated": true
            }
          },
          "description": "Bind a broadcast to a stream.",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ]
        },
        "insert": {
          "path": "youtube/v3/liveBroadcasts",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "httpMethod": "POST",
          "description": "Inserts a new stream for the authenticated user.",
          "request": {
            "$ref": "LiveBroadcast"
          },
          "flatPath": "youtube/v3/liveBroadcasts",
          "parameterOrder": [
            "part"
          ],
          "parameters": {
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "part": {
              "required": true,
              "type": "string",
              "repeated": true,
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. The part properties that you can include in the parameter value are id, snippet, contentDetails, and status.",
              "location": "query"
            },
            "onBehalfOfContentOwnerChannel": {
              "location": "query",
              "type": "string",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel."
            }
          },
          "response": {
            "$ref": "LiveBroadcast"
          },
          "id": "youtube.liveBroadcasts.insert"
        },
        "control": {
          "response": {
            "$ref": "LiveBroadcast"
          },
          "parameters": {
            "displaySlate": {
              "description": "Whether display or hide slate.",
              "type": "boolean",
              "location": "query"
            },
            "id": {
              "type": "string",
              "location": "query",
              "description": "Broadcast to operate.",
              "required": true
            },
            "part": {
              "required": true,
              "repeated": true,
              "type": "string",
              "description": "The *part* parameter specifies a comma-separated list of one or more liveBroadcast resource properties that the API response will include. The part names that you can include in the parameter value are id, snippet, contentDetails, and status.",
              "location": "query"
            },
            "offsetTimeMs": {
              "type": "string",
              "format": "uint64",
              "description": "The exact time when the actions (e.g. slate on) are executed. It is an offset from the first frame of the monitor stream. If not set, it means \"now\" or ASAP. This field should not be set if the monitor stream is disabled, otherwise an error will be returned.",
              "location": "query"
            },
            "walltime": {
              "type": "string",
              "format": "google-datetime",
              "description": "The wall clock time at which the action should be executed. Only one of offset_time_ms and walltime may be set at a time.",
              "location": "query"
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            },
            "onBehalfOfContentOwnerChannel": {
              "location": "query",
              "type": "string",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel."
            }
          },
          "id": "youtube.liveBroadcasts.control",
          "path": "youtube/v3/liveBroadcasts/control",
          "parameterOrder": [
            "id",
            "part"
          ],
          "flatPath": "youtube/v3/liveBroadcasts/control",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "description": "Slate and recording control of the live broadcast. Support actions: slate on/off, recording start/stop/pause/resume. Design doc: goto/yt-api-liveBroadcast-control"
        },
        "delete": {
          "parameters": {
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "id": {
              "description": "Broadcast to delete.",
              "type": "string",
              "location": "query",
              "required": true
            },
            "onBehalfOfContentOwnerChannel": {
              "type": "string",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "location": "query"
            }
          },
          "parameterOrder": [
            "id"
          ],
          "id": "youtube.liveBroadcasts.delete",
          "path": "youtube/v3/liveBroadcasts",
          "httpMethod": "DELETE",
          "description": "Delete a given broadcast.",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "flatPath": "youtube/v3/liveBroadcasts"
        }
      }
    },
    "channelBanners": {
      "methods": {
        "insert": {
          "path": "youtube/v3/channelBanners/insert",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.upload"
          ],
          "response": {
            "$ref": "ChannelBannerResource"
          },
          "request": {
            "$ref": "ChannelBannerResource"
          },
          "id": "youtube.channelBanners.insert",
          "mediaUpload": {
            "accept": [
              "image/jpeg",
              "image/png",
              "application/octet-stream"
            ],
            "maxSize": "6291456",
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/youtube/v3/channelBanners/insert"
              },
              "resumable": {
                "path": "/resumable/upload/youtube/v3/channelBanners/insert",
                "multipart": true
              }
            }
          },
          "flatPath": "youtube/v3/channelBanners/insert",
          "parameters": {
            "channelId": {
              "description": "Unused, channel_id is currently derived from the security context of the requestor.",
              "location": "query",
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string"
            },
            "onBehalfOfContentOwnerChannel": {
              "location": "query",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "type": "string"
            }
          },
          "parameterOrder": [],
          "supportsMediaUpload": true,
          "description": "Inserts a new resource into this collection."
        }
      }
    },
    "abuseReports": {
      "methods": {
        "insert": {
          "path": "youtube/v3/abuseReports",
          "response": {
            "$ref": "AbuseReport"
          },
          "httpMethod": "POST",
          "id": "youtube.abuseReports.insert",
          "flatPath": "youtube/v3/abuseReports",
          "parameterOrder": [
            "part"
          ],
          "description": "Inserts a new resource into this collection.",
          "parameters": {
            "part": {
              "repeated": true,
              "location": "query",
              "required": true,
              "type": "string",
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "request": {
            "$ref": "AbuseReport"
          }
        }
      }
    },
    "comments": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "path": "youtube/v3/comments",
          "id": "youtube.comments.list",
          "response": {
            "$ref": "CommentListResponse"
          },
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "type": "string"
            },
            "id": {
              "type": "string",
              "repeated": true,
              "description": "Returns the comments with the given IDs for One Platform.",
              "location": "query"
            },
            "parentId": {
              "type": "string",
              "location": "query",
              "description": "Returns replies to the specified comment. Note, currently YouTube features only one level of replies (ie replies to top level comments). However replies to replies may be supported in the future."
            },
            "maxResults": {
              "default": "20",
              "format": "uint32",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "location": "query",
              "type": "integer"
            },
            "textFormat": {
              "enum": [
                "textFormatUnspecified",
                "html",
                "plainText"
              ],
              "default": "html",
              "enumDescriptions": [
                "",
                "Returns the comments in HTML format. This is the default value.",
                "Returns the comments in plain text format."
              ],
              "description": "The requested text format for the returned comments.",
              "type": "string",
              "location": "query"
            },
            "part": {
              "repeated": true,
              "location": "query",
              "description": "The *part* parameter specifies a comma-separated list of one or more comment resource properties that the API response will include.",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "youtube/v3/comments",
          "description": "Retrieves a list of resources, possibly filtered.",
          "parameterOrder": [
            "part"
          ]
        },
        "insert": {
          "request": {
            "$ref": "Comment"
          },
          "parameterOrder": [
            "part"
          ],
          "httpMethod": "POST",
          "id": "youtube.comments.insert",
          "path": "youtube/v3/comments",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "description": "Inserts a new resource into this collection.",
          "flatPath": "youtube/v3/comments",
          "response": {
            "$ref": "Comment"
          },
          "parameters": {
            "part": {
              "repeated": true,
              "required": true,
              "location": "query",
              "type": "string",
              "description": "The *part* parameter identifies the properties that the API response will include. Set the parameter value to snippet. The snippet part has a quota cost of 2 units."
            }
          }
        },
        "setModerationStatus": {
          "flatPath": "youtube/v3/comments/setModerationStatus",
          "parameters": {
            "banAuthor": {
              "location": "query",
              "default": "false",
              "description": "If set to true the author of the comment gets added to the ban list. This means all future comments of the author will autmomatically be rejected. Only valid in combination with STATUS_REJECTED.",
              "type": "boolean"
            },
            "id": {
              "description": "Modifies the moderation status of the comments with the given IDs",
              "type": "string",
              "location": "query",
              "repeated": true,
              "required": true
            },
            "moderationStatus": {
              "type": "string",
              "enum": [
                "published",
                "heldForReview",
                "likelySpam",
                "rejected"
              ],
              "location": "query",
              "enumDescriptions": [
                "The comment is available for public display.",
                "The comment is awaiting review by a moderator.",
                "",
                "The comment is unfit for display."
              ],
              "required": true,
              "description": "Specifies the requested moderation status. Note, comments can be in statuses, which are not available through this call. For example, this call does not allow to mark a comment as 'likely spam'. Valid values: MODERATION_STATUS_PUBLISHED, MODERATION_STATUS_HELD_FOR_REVIEW, MODERATION_STATUS_REJECTED."
            }
          },
          "path": "youtube/v3/comments/setModerationStatus",
          "description": "Sets the moderation status of one or more comments.",
          "id": "youtube.comments.setModerationStatus",
          "parameterOrder": [
            "id",
            "moderationStatus"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "httpMethod": "POST"
        },
        "markAsSpam": {
          "id": "youtube.comments.markAsSpam",
          "parameters": {
            "id": {
              "type": "string",
              "location": "query",
              "repeated": true,
              "description": "Flags the comments with the given IDs as spam in the caller's opinion.",
              "required": true
            }
          },
          "parameterOrder": [
            "id"
          ],
          "flatPath": "youtube/v3/comments/markAsSpam",
          "description": "Expresses the caller's opinion that one or more comments should be flagged as spam.",
          "path": "youtube/v3/comments/markAsSpam",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "httpMethod": "POST"
        },
        "delete": {
          "parameterOrder": [
            "id"
          ],
          "flatPath": "youtube/v3/comments",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "httpMethod": "DELETE",
          "parameters": {
            "id": {
              "location": "query",
              "type": "string",
              "required": true
            }
          },
          "description": "Deletes a resource.",
          "path": "youtube/v3/comments",
          "id": "youtube.comments.delete"
        },
        "update": {
          "parameterOrder": [
            "part"
          ],
          "description": "Updates an existing resource.",
          "request": {
            "$ref": "Comment"
          },
          "flatPath": "youtube/v3/comments",
          "id": "youtube.comments.update",
          "response": {
            "$ref": "Comment"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "parameters": {
            "part": {
              "location": "query",
              "required": true,
              "description": "The *part* parameter identifies the properties that the API response will include. You must at least include the snippet part in the parameter value since that part contains all of the properties that the API request can update.",
              "type": "string",
              "repeated": true
            }
          },
          "path": "youtube/v3/comments",
          "httpMethod": "PUT"
        }
      }
    },
    "channelSections": {
      "methods": {
        "update": {
          "parameterOrder": [
            "part"
          ],
          "request": {
            "$ref": "ChannelSection"
          },
          "parameters": {
            "onBehalfOfContentOwner": {
              "location": "query",
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            },
            "part": {
              "required": true,
              "repeated": true,
              "location": "query",
              "type": "string",
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. The part names that you can include in the parameter value are snippet and contentDetails."
            }
          },
          "response": {
            "$ref": "ChannelSection"
          },
          "flatPath": "youtube/v3/channelSections",
          "httpMethod": "PUT",
          "description": "Updates an existing resource.",
          "path": "youtube/v3/channelSections",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "id": "youtube.channelSections.update"
        },
        "list": {
          "parameterOrder": [
            "part"
          ],
          "parameters": {
            "hl": {
              "type": "string",
              "description": "Return content in specified language",
              "location": "query"
            },
            "channelId": {
              "description": "Return the ChannelSections owned by the specified channel ID.",
              "location": "query",
              "type": "string"
            },
            "id": {
              "repeated": true,
              "description": "Return the ChannelSections with the given IDs for Stubby or Apiary.",
              "type": "string",
              "location": "query"
            },
            "part": {
              "repeated": true,
              "required": true,
              "type": "string",
              "location": "query",
              "description": "The *part* parameter specifies a comma-separated list of one or more channelSection resource properties that the API response will include. The part names that you can include in the parameter value are id, snippet, and contentDetails. If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in a channelSection resource, the snippet property contains other properties, such as a display title for the channelSection. If you set *part=snippet*, the API response will also contain all of those nested properties."
            },
            "mine": {
              "description": "Return the ChannelSections owned by the authenticated user.",
              "location": "query",
              "type": "boolean"
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string",
              "location": "query"
            }
          },
          "httpMethod": "GET",
          "description": "Retrieves a list of resources, possibly filtered.",
          "id": "youtube.channelSections.list",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "flatPath": "youtube/v3/channelSections",
          "path": "youtube/v3/channelSections",
          "response": {
            "$ref": "ChannelSectionListResponse"
          }
        },
        "insert": {
          "flatPath": "youtube/v3/channelSections",
          "parameterOrder": [
            "part"
          ],
          "parameters": {
            "part": {
              "type": "string",
              "location": "query",
              "repeated": true,
              "required": true,
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. The part names that you can include in the parameter value are snippet and contentDetails."
            },
            "onBehalfOfContentOwnerChannel": {
              "type": "string",
              "location": "query",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel."
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            }
          },
          "path": "youtube/v3/channelSections",
          "request": {
            "$ref": "ChannelSection"
          },
          "response": {
            "$ref": "ChannelSection"
          },
          "httpMethod": "POST",
          "id": "youtube.channelSections.insert",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "description": "Inserts a new resource into this collection."
        },
        "delete": {
          "httpMethod": "DELETE",
          "path": "youtube/v3/channelSections",
          "parameters": {
            "onBehalfOfContentOwner": {
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query"
            },
            "id": {
              "location": "query",
              "type": "string",
              "required": true
            }
          },
          "id": "youtube.channelSections.delete",
          "flatPath": "youtube/v3/channelSections",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameterOrder": [
            "id"
          ],
          "description": "Deletes a resource."
        }
      }
    },
    "i18nRegions": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "flatPath": "youtube/v3/i18nRegions",
          "description": "Retrieves a list of resources, possibly filtered.",
          "path": "youtube/v3/i18nRegions",
          "id": "youtube.i18nRegions.list",
          "parameters": {
            "hl": {
              "default": "en_US",
              "type": "string",
              "location": "query"
            },
            "part": {
              "repeated": true,
              "required": true,
              "location": "query",
              "type": "string",
              "description": "The *part* parameter specifies the i18nRegion resource properties that the API response will include. Set the parameter value to snippet."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameterOrder": [
            "part"
          ],
          "response": {
            "$ref": "I18nRegionListResponse"
          }
        }
      }
    },
    "activities": {
      "methods": {
        "list": {
          "flatPath": "youtube/v3/activities",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly"
          ],
          "id": "youtube.activities.list",
          "description": "Retrieves a list of resources, possibly filtered.",
          "parameters": {
            "publishedBefore": {
              "location": "query",
              "format": "google-datetime",
              "type": "string"
            },
            "maxResults": {
              "format": "uint32",
              "location": "query",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "type": "integer",
              "default": "5"
            },
            "home": {
              "location": "query",
              "type": "boolean"
            },
            "regionCode": {
              "type": "string",
              "location": "query"
            },
            "channelId": {
              "location": "query",
              "type": "string"
            },
            "part": {
              "repeated": true,
              "location": "query",
              "description": "The *part* parameter specifies a comma-separated list of one or more activity resource properties that the API response will include. If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in an activity resource, the snippet property contains other properties that identify the type of activity, a display title for the activity, and so forth. If you set *part=snippet*, the API response will also contain all of those nested properties.",
              "required": true,
              "type": "string"
            },
            "publishedAfter": {
              "format": "google-datetime",
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "location": "query",
              "type": "string"
            },
            "mine": {
              "location": "query",
              "type": "boolean"
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "ActivityListResponse"
          },
          "parameterOrder": [
            "part"
          ],
          "path": "youtube/v3/activities"
        }
      }
    },
    "videoCategories": {
      "methods": {
        "list": {
          "parameterOrder": [
            "part"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameters": {
            "hl": {
              "location": "query",
              "default": "en-US",
              "type": "string"
            },
            "regionCode": {
              "type": "string",
              "location": "query"
            },
            "part": {
              "type": "string",
              "repeated": true,
              "description": "The *part* parameter specifies the videoCategory resource properties that the API response will include. Set the parameter value to snippet.",
              "required": true,
              "location": "query"
            },
            "id": {
              "description": "Returns the video categories with the given IDs for Stubby or Apiary.",
              "type": "string",
              "location": "query",
              "repeated": true
            }
          },
          "path": "youtube/v3/videoCategories",
          "response": {
            "$ref": "VideoCategoryListResponse"
          },
          "description": "Retrieves a list of resources, possibly filtered.",
          "id": "youtube.videoCategories.list",
          "flatPath": "youtube/v3/videoCategories"
        }
      }
    },
    "thirdPartyLinks": {
      "methods": {
        "insert": {
          "flatPath": "youtube/v3/thirdPartyLinks",
          "description": "Inserts a new resource into this collection.",
          "parameterOrder": [
            "part"
          ],
          "id": "youtube.thirdPartyLinks.insert",
          "response": {
            "$ref": "ThirdPartyLink"
          },
          "request": {
            "$ref": "ThirdPartyLink"
          },
          "path": "youtube/v3/thirdPartyLinks",
          "httpMethod": "POST",
          "parameters": {
            "part": {
              "type": "string",
              "required": true,
              "description": "The *part* parameter specifies the thirdPartyLink resource parts that the API request and response will include. Supported values are linkingToken, status, and snippet.",
              "location": "query",
              "repeated": true
            }
          }
        },
        "list": {
          "parameterOrder": [
            "part"
          ],
          "httpMethod": "GET",
          "id": "youtube.thirdPartyLinks.list",
          "path": "youtube/v3/thirdPartyLinks",
          "response": {
            "$ref": "ThirdPartyLink"
          },
          "parameters": {
            "type": {
              "location": "query",
              "type": "string",
              "enum": [
                "linkUnspecified",
                "channelToStoreLink"
              ],
              "description": "Get a third party link of the given type.",
              "enumDescriptions": [
                "",
                "A link that is connecting (or about to connect) a channel with a store on a merchandising platform in order to enable retail commerce capabilities for that channel on YouTube."
              ]
            },
            "linkingToken": {
              "type": "string",
              "location": "query",
              "description": "Get a third party link with the given linking token."
            },
            "part": {
              "repeated": true,
              "required": true,
              "description": "The *part* parameter specifies the thirdPartyLink resource parts that the API response will include. Supported values are linkingToken, status, and snippet.",
              "type": "string",
              "location": "query"
            }
          },
          "flatPath": "youtube/v3/thirdPartyLinks",
          "description": "Retrieves a list of resources, possibly filtered."
        },
        "update": {
          "description": "Updates an existing resource.",
          "request": {
            "$ref": "ThirdPartyLink"
          },
          "parameterOrder": [
            "part"
          ],
          "path": "youtube/v3/thirdPartyLinks",
          "response": {
            "$ref": "ThirdPartyLink"
          },
          "httpMethod": "PUT",
          "flatPath": "youtube/v3/thirdPartyLinks",
          "id": "youtube.thirdPartyLinks.update",
          "parameters": {
            "part": {
              "location": "query",
              "required": true,
              "type": "string",
              "description": "The *part* parameter specifies the thirdPartyLink resource parts that the API request and response will include. Supported values are linkingToken, status, and snippet.",
              "repeated": true
            }
          }
        },
        "delete": {
          "path": "youtube/v3/thirdPartyLinks",
          "id": "youtube.thirdPartyLinks.delete",
          "httpMethod": "DELETE",
          "parameters": {
            "part": {
              "type": "string",
              "description": "Do not use. Required for compatibility.",
              "repeated": true,
              "location": "query"
            },
            "type": {
              "required": true,
              "description": "Type of the link to be deleted.",
              "location": "query",
              "enum": [
                "linkUnspecified",
                "channelToStoreLink"
              ],
              "enumDescriptions": [
                "",
                "A link that is connecting (or about to connect) a channel with a store on a merchandising platform in order to enable retail commerce capabilities for that channel on YouTube."
              ],
              "type": "string"
            },
            "linkingToken": {
              "type": "string",
              "location": "query",
              "description": "Delete the partner links with the given linking token.",
              "required": true
            }
          },
          "parameterOrder": [
            "linkingToken",
            "type"
          ],
          "description": "Deletes a resource.",
          "flatPath": "youtube/v3/thirdPartyLinks"
        }
      }
    },
    "liveChatBans": {
      "methods": {
        "delete": {
          "httpMethod": "DELETE",
          "description": "Deletes a chat ban.",
          "parameters": {
            "id": {
              "location": "query",
              "required": true,
              "type": "string"
            }
          },
          "id": "youtube.liveChatBans.delete",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "flatPath": "youtube/v3/liveChat/bans",
          "parameterOrder": [
            "id"
          ],
          "path": "youtube/v3/liveChat/bans"
        },
        "insert": {
          "httpMethod": "POST",
          "parameters": {
            "part": {
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response returns. Set the parameter value to snippet.",
              "type": "string",
              "repeated": true,
              "required": true,
              "location": "query"
            }
          },
          "path": "youtube/v3/liveChat/bans",
          "parameterOrder": [
            "part"
          ],
          "request": {
            "$ref": "LiveChatBan"
          },
          "description": "Inserts a new resource into this collection.",
          "flatPath": "youtube/v3/liveChat/bans",
          "id": "youtube.liveChatBans.insert",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "response": {
            "$ref": "LiveChatBan"
          }
        }
      }
    },
    "i18nLanguages": {
      "methods": {
        "list": {
          "description": "Retrieves a list of resources, possibly filtered.",
          "response": {
            "$ref": "I18nLanguageListResponse"
          },
          "id": "youtube.i18nLanguages.list",
          "parameters": {
            "hl": {
              "default": "en_US",
              "type": "string",
              "location": "query"
            },
            "part": {
              "repeated": true,
              "required": true,
              "location": "query",
              "type": "string",
              "description": "The *part* parameter specifies the i18nLanguage resource properties that the API response will include. Set the parameter value to snippet."
            }
          },
          "httpMethod": "GET",
          "path": "youtube/v3/i18nLanguages",
          "parameterOrder": [
            "part"
          ],
          "flatPath": "youtube/v3/i18nLanguages",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        }
      }
    },
    "thumbnails": {
      "methods": {
        "set": {
          "supportsMediaUpload": true,
          "parameterOrder": [
            "videoId"
          ],
          "httpMethod": "POST",
          "parameters": {
            "videoId": {
              "required": true,
              "location": "query",
              "type": "string",
              "description": "Returns the Thumbnail with the given video IDs for Stubby or Apiary."
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.upload",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "flatPath": "youtube/v3/thumbnails/set",
          "path": "youtube/v3/thumbnails/set",
          "mediaUpload": {
            "accept": [
              "image/jpeg",
              "image/png",
              "application/octet-stream"
            ],
            "maxSize": "2097152",
            "protocols": {
              "resumable": {
                "path": "/resumable/upload/youtube/v3/thumbnails/set",
                "multipart": true
              },
              "simple": {
                "multipart": true,
                "path": "/upload/youtube/v3/thumbnails/set"
              }
            }
          },
          "response": {
            "$ref": "ThumbnailSetResponse"
          },
          "description": "As this is not an insert in a strict sense (it supports uploading/setting of a thumbnail for multiple videos, which doesn't result in creation of a single resource), I use a custom verb here.",
          "id": "youtube.thumbnails.set"
        }
      }
    },
    "playlistItems": {
      "methods": {
        "delete": {
          "description": "Deletes a resource.",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "httpMethod": "DELETE",
          "flatPath": "youtube/v3/playlistItems",
          "id": "youtube.playlistItems.delete",
          "parameterOrder": [
            "id"
          ],
          "parameters": {
            "onBehalfOfContentOwner": {
              "type": "string",
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            },
            "id": {
              "type": "string",
              "location": "query",
              "required": true
            }
          },
          "path": "youtube/v3/playlistItems"
        },
        "update": {
          "id": "youtube.playlistItems.update",
          "path": "youtube/v3/playlistItems",
          "httpMethod": "PUT",
          "response": {
            "$ref": "PlaylistItem"
          },
          "description": "Updates an existing resource.",
          "parameterOrder": [
            "part"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "flatPath": "youtube/v3/playlistItems",
          "request": {
            "$ref": "PlaylistItem"
          },
          "parameters": {
            "part": {
              "type": "string",
              "repeated": true,
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. Note that this method will override the existing values for all of the mutable properties that are contained in any parts that the parameter value specifies. For example, a playlist item can specify a start time and end time, which identify the times portion of the video that should play when users watch the video in the playlist. If your request is updating a playlist item that sets these values, and the request's part parameter value includes the contentDetails part, the playlist item's start and end times will be updated to whatever value the request body specifies. If the request body does not specify values, the existing start and end times will be removed and replaced with the default settings.",
              "required": true,
              "location": "query"
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            }
          }
        },
        "list": {
          "id": "youtube.playlistItems.list",
          "response": {
            "$ref": "PlaylistItemListResponse"
          },
          "path": "youtube/v3/playlistItems",
          "flatPath": "youtube/v3/playlistItems",
          "description": "Retrieves a list of resources, possibly filtered.",
          "parameters": {
            "maxResults": {
              "default": "5",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "type": "integer",
              "location": "query",
              "format": "uint32"
            },
            "id": {
              "type": "string",
              "location": "query",
              "repeated": true
            },
            "pageToken": {
              "location": "query",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "type": "string"
            },
            "playlistId": {
              "location": "query",
              "type": "string",
              "description": "Return the playlist items within the given playlist."
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string"
            },
            "part": {
              "repeated": true,
              "location": "query",
              "required": true,
              "type": "string",
              "description": "The *part* parameter specifies a comma-separated list of one or more playlistItem resource properties that the API response will include. If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in a playlistItem resource, the snippet property contains numerous fields, including the title, description, position, and resourceId properties. As such, if you set *part=snippet*, the API response will contain all of those properties."
            },
            "videoId": {
              "type": "string",
              "location": "query",
              "description": "Return the playlist items associated with the given video ID."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameterOrder": [
            "part"
          ],
          "httpMethod": "GET"
        },
        "insert": {
          "response": {
            "$ref": "PlaylistItem"
          },
          "flatPath": "youtube/v3/playlistItems",
          "id": "youtube.playlistItems.insert",
          "httpMethod": "POST",
          "path": "youtube/v3/playlistItems",
          "parameterOrder": [
            "part"
          ],
          "parameters": {
            "part": {
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include.",
              "repeated": true,
              "location": "query",
              "required": true,
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            }
          },
          "description": "Inserts a new resource into this collection.",
          "request": {
            "$ref": "PlaylistItem"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        }
      }
    },
    "channels": {
      "methods": {
        "list": {
          "flatPath": "youtube/v3/channels",
          "parameterOrder": [
            "part"
          ],
          "description": "Retrieves a list of resources, possibly filtered.",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner",
            "https://www.googleapis.com/auth/youtubepartner-channel-audit"
          ],
          "id": "youtube.channels.list",
          "parameters": {
            "mySubscribers": {
              "description": "Return the channels subscribed to the authenticated user",
              "type": "boolean",
              "location": "query"
            },
            "part": {
              "description": "The *part* parameter specifies a comma-separated list of one or more channel resource properties that the API response will include. If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in a channel resource, the contentDetails property contains other properties, such as the uploads properties. As such, if you set *part=contentDetails*, the API response will also contain all of those nested properties.",
              "type": "string",
              "location": "query",
              "required": true,
              "repeated": true
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string"
            },
            "maxResults": {
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "format": "uint32",
              "type": "integer",
              "default": "5",
              "location": "query"
            },
            "mine": {
              "type": "boolean",
              "description": "Return the ids of channels owned by the authenticated user.",
              "location": "query"
            },
            "forUsername": {
              "description": "Return the channel associated with a YouTube username.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved."
            },
            "managedByMe": {
              "location": "query",
              "description": "Return the channels managed by the authenticated user.",
              "type": "boolean"
            },
            "hl": {
              "description": "Stands for \"host language\". Specifies the localization language of the metadata to be filled into snippet.localized. The field is filled with the default metadata if there is no localization in the specified language. The parameter value must be a language code included in the list returned by the i18nLanguages.list method (e.g. en_US, es_MX).",
              "type": "string",
[...]
