{
  "documentationLink": "https://developers.google.com/youtube/",
  "basePath": "",
  "title": "YouTube Data API v3",
  "mtlsRootUrl": "https://youtube.mtls.googleapis.com/",
  "baseUrl": "https://youtube.googleapis.com/",
  "discoveryVersion": "v1",
  "servicePath": "",
  "name": "youtube",
  "canonicalName": "YouTube",
  "rootUrl": "https://youtube.googleapis.com/",
  "id": "youtube:v3",
  "protocol": "rest",
  "ownerDomain": "google.com",
  "revision": "20240310",
  "parameters": {
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "alt": {
      "description": "Data format for response.",
      "location": "query",
      "default": "json",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query",
      "type": "string"
    }
  },
  "ownerName": "Google",
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "i18nRegions": {
      "methods": {
        "list": {
          "parameterOrder": [
            "part"
          ],
          "response": {
            "$ref": "I18nRegionListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "id": "youtube.i18nRegions.list",
          "httpMethod": "GET",
          "description": "Retrieves a list of resources, possibly filtered.",
          "flatPath": "youtube/v3/i18nRegions",
          "parameters": {
            "part": {
              "required": true,
              "type": "string",
              "location": "query",
              "description": "The *part* parameter specifies the i18nRegion resource properties that the API response will include. Set the parameter value to snippet.",
              "repeated": true
            },
            "hl": {
              "location": "query",
              "default": "en_US",
              "type": "string"
            }
          },
          "path": "youtube/v3/i18nRegions"
        }
      }
    },
    "liveStreams": {
      "methods": {
        "delete": {
          "id": "youtube.liveStreams.delete",
          "parameterOrder": [
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "flatPath": "youtube/v3/liveStreams",
          "path": "youtube/v3/liveStreams",
          "description": "Deletes an existing stream for the authenticated user.",
          "httpMethod": "DELETE",
          "parameters": {
            "onBehalfOfContentOwner": {
              "location": "query",
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            },
            "onBehalfOfContentOwnerChannel": {
              "location": "query",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "type": "string"
            },
            "id": {
              "required": true,
              "location": "query",
              "type": "string"
            }
          }
        },
        "insert": {
          "parameters": {
            "part": {
              "type": "string",
              "location": "query",
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. The part properties that you can include in the parameter value are id, snippet, cdn, content_details, and status.",
              "required": true,
              "repeated": true
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string"
            },
            "onBehalfOfContentOwnerChannel": {
              "location": "query",
              "type": "string",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "response": {
            "$ref": "LiveStream"
          },
          "id": "youtube.liveStreams.insert",
          "request": {
            "$ref": "LiveStream"
          },
          "path": "youtube/v3/liveStreams",
          "description": "Inserts a new stream for the authenticated user.",
          "flatPath": "youtube/v3/liveStreams",
          "parameterOrder": [
            "part"
          ],
          "httpMethod": "POST"
        },
        "list": {
          "response": {
            "$ref": "LiveStreamListResponse"
          },
          "path": "youtube/v3/liveStreams",
          "flatPath": "youtube/v3/liveStreams",
          "parameters": {
            "onBehalfOfContentOwnerChannel": {
              "location": "query",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "type": "string"
            },
            "part": {
              "type": "string",
              "repeated": true,
              "location": "query",
              "required": true,
              "description": "The *part* parameter specifies a comma-separated list of one or more liveStream resource properties that the API response will include. The part names that you can include in the parameter value are id, snippet, cdn, and status."
            },
            "id": {
              "type": "string",
              "description": "Return LiveStreams with the given ids from Stubby or Apiary.",
              "location": "query",
              "repeated": true
            },
            "maxResults": {
              "default": "5",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "type": "integer",
              "minimum": "0",
              "format": "uint32",
              "maximum": "50",
              "location": "query"
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved."
            },
            "mine": {
              "location": "query",
              "type": "boolean"
            }
          },
          "httpMethod": "GET",
          "id": "youtube.liveStreams.list",
          "description": "Retrieve the list of streams associated with the given channel. --",
          "parameterOrder": [
            "part"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly"
          ]
        },
        "update": {
          "parameters": {
            "onBehalfOfContentOwnerChannel": {
              "type": "string",
              "location": "query",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel."
            },
            "part": {
              "required": true,
              "type": "string",
              "repeated": true,
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. The part properties that you can include in the parameter value are id, snippet, cdn, and status. Note that this method will override the existing values for all of the mutable properties that are contained in any parts that the parameter value specifies. If the request body does not specify a value for a mutable property, the existing value for that property will be removed.",
              "location": "query"
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string"
            }
          },
          "parameterOrder": [
            "part"
          ],
          "path": "youtube/v3/liveStreams",
          "response": {
            "$ref": "LiveStream"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "httpMethod": "PUT",
          "request": {
            "$ref": "LiveStream"
          },
          "flatPath": "youtube/v3/liveStreams",
          "id": "youtube.liveStreams.update",
          "description": "Updates an existing stream for the authenticated user."
        }
      }
    },
    "thumbnails": {
      "methods": {
        "set": {
          "parameters": {
            "onBehalfOfContentOwner": {
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query"
            },
            "videoId": {
              "type": "string",
              "required": true,
              "description": "Returns the Thumbnail with the given video IDs for Stubby or Apiary.",
              "location": "query"
            }
          },
          "path": "youtube/v3/thumbnails/set",
          "id": "youtube.thumbnails.set",
          "parameterOrder": [
            "videoId"
          ],
          "supportsMediaUpload": true,
          "response": {
            "$ref": "ThumbnailSetResponse"
          },
          "description": "As this is not an insert in a strict sense (it supports uploading/setting of a thumbnail for multiple videos, which doesn't result in creation of a single resource), I use a custom verb here.",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.upload",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "flatPath": "youtube/v3/thumbnails/set",
          "httpMethod": "POST",
          "mediaUpload": {
            "protocols": {
              "resumable": {
                "path": "/resumable/upload/youtube/v3/thumbnails/set",
                "multipart": true
              },
              "simple": {
                "path": "/upload/youtube/v3/thumbnails/set",
                "multipart": true
              }
            },
            "accept": [
              "image/jpeg",
              "image/png",
              "application/octet-stream"
            ],
            "maxSize": "2097152"
          }
        }
      }
    },
    "watermarks": {
      "methods": {
        "set": {
          "supportsMediaUpload": true,
          "path": "youtube/v3/watermarks/set",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.upload",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "description": "Allows upload of watermark image and setting it for a channel.",
          "mediaUpload": {
            "protocols": {
              "simple": {
                "path": "/upload/youtube/v3/watermarks/set",
                "multipart": true
              },
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/youtube/v3/watermarks/set"
              }
            },
            "maxSize": "10485760",
            "accept": [
              "image/jpeg",
              "image/png",
              "application/octet-stream"
            ]
          },
          "flatPath": "youtube/v3/watermarks/set",
          "httpMethod": "POST",
          "parameters": {
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string",
              "location": "query"
            },
            "channelId": {
              "required": true,
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [
            "channelId"
          ],
          "request": {
            "$ref": "InvideoBranding"
          },
          "id": "youtube.watermarks.set"
        },
        "unset": {
          "parameterOrder": [
            "channelId"
          ],
          "flatPath": "youtube/v3/watermarks/unset",
          "description": "Allows removal of channel watermark.",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "httpMethod": "POST",
          "id": "youtube.watermarks.unset",
          "parameters": {
            "onBehalfOfContentOwner": {
              "type": "string",
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            },
            "channelId": {
              "location": "query",
              "type": "string",
              "required": true
            }
          },
          "path": "youtube/v3/watermarks/unset"
        }
      }
    },
    "thirdPartyLinks": {
      "methods": {
        "insert": {
          "response": {
            "$ref": "ThirdPartyLink"
          },
          "parameters": {
            "part": {
              "required": true,
              "description": "The *part* parameter specifies the thirdPartyLink resource parts that the API request and response will include. Supported values are linkingToken, status, and snippet.",
              "type": "string",
              "location": "query",
              "repeated": true
            },
            "externalChannelId": {
              "description": "Channel ID to which changes should be applied, for delegation.",
              "type": "string",
              "location": "query"
            }
          },
          "description": "Inserts a new resource into this collection.",
          "request": {
            "$ref": "ThirdPartyLink"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "part"
          ],
          "flatPath": "youtube/v3/thirdPartyLinks",
          "path": "youtube/v3/thirdPartyLinks",
          "id": "youtube.thirdPartyLinks.insert"
        },
        "update": {
          "path": "youtube/v3/thirdPartyLinks",
          "id": "youtube.thirdPartyLinks.update",
          "parameterOrder": [
            "part"
          ],
          "parameters": {
            "part": {
              "location": "query",
              "repeated": true,
              "type": "string",
              "description": "The *part* parameter specifies the thirdPartyLink resource parts that the API request and response will include. Supported values are linkingToken, status, and snippet.",
              "required": true
            },
            "externalChannelId": {
              "type": "string",
              "location": "query",
              "description": "Channel ID to which changes should be applied, for delegation."
            }
          },
          "flatPath": "youtube/v3/thirdPartyLinks",
          "request": {
            "$ref": "ThirdPartyLink"
          },
          "httpMethod": "PUT",
          "response": {
            "$ref": "ThirdPartyLink"
          },
          "description": "Updates an existing resource."
        },
        "delete": {
          "parameters": {
            "part": {
              "repeated": true,
              "location": "query",
              "description": "Do not use. Required for compatibility.",
              "type": "string"
            },
            "linkingToken": {
              "description": "Delete the partner links with the given linking token.",
              "required": true,
              "type": "string",
              "location": "query"
            },
            "externalChannelId": {
              "location": "query",
              "type": "string",
              "description": "Channel ID to which changes should be applied, for delegation."
            },
            "type": {
              "enumDescriptions": [
                "",
                "A link that is connecting (or about to connect) a channel with a store on a merchandising platform in order to enable retail commerce capabilities for that channel on YouTube."
              ],
              "location": "query",
              "required": true,
              "type": "string",
              "description": "Type of the link to be deleted.",
              "enum": [
                "linkUnspecified",
                "channelToStoreLink"
              ]
            }
          },
          "flatPath": "youtube/v3/thirdPartyLinks",
          "path": "youtube/v3/thirdPartyLinks",
          "parameterOrder": [
            "linkingToken",
            "type"
          ],
          "description": "Deletes a resource.",
          "httpMethod": "DELETE",
          "id": "youtube.thirdPartyLinks.delete"
        },
        "list": {
          "id": "youtube.thirdPartyLinks.list",
          "response": {
            "$ref": "ThirdPartyLinkListResponse"
          },
          "parameters": {
            "type": {
              "type": "string",
              "enum": [
                "linkUnspecified",
                "channelToStoreLink"
              ],
              "location": "query",
              "enumDescriptions": [
                "",
                "A link that is connecting (or about to connect) a channel with a store on a merchandising platform in order to enable retail commerce capabilities for that channel on YouTube."
              ],
              "description": "Get a third party link of the given type."
            },
            "externalChannelId": {
              "type": "string",
              "location": "query",
              "description": "Channel ID to which changes should be applied, for delegation."
            },
            "part": {
              "type": "string",
              "repeated": true,
              "description": "The *part* parameter specifies the thirdPartyLink resource parts that the API response will include. Supported values are linkingToken, status, and snippet.",
              "location": "query",
              "required": true
            },
            "linkingToken": {
              "type": "string",
              "location": "query",
              "description": "Get a third party link with the given linking token."
            }
          },
          "parameterOrder": [
            "part"
          ],
          "httpMethod": "GET",
          "flatPath": "youtube/v3/thirdPartyLinks",
          "path": "youtube/v3/thirdPartyLinks",
          "description": "Retrieves a list of resources, possibly filtered."
        }
      }
    },
    "comments": {
      "methods": {
        "list": {
          "path": "youtube/v3/comments",
          "parameters": {
            "parentId": {
              "description": "Returns replies to the specified comment. Note, currently YouTube features only one level of replies (ie replies to top level comments). However replies to replies may be supported in the future.",
              "location": "query",
              "type": "string"
            },
            "part": {
              "type": "string",
              "required": true,
              "location": "query",
              "repeated": true,
              "description": "The *part* parameter specifies a comma-separated list of one or more comment resource properties that the API response will include."
            },
            "maxResults": {
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "default": "20",
              "maximum": "100",
              "type": "integer",
              "minimum": "1",
              "format": "uint32",
              "location": "query"
            },
            "id": {
              "description": "Returns the comments with the given IDs for One Platform.",
              "location": "query",
              "type": "string",
              "repeated": true
            },
            "textFormat": {
              "enum": [
                "textFormatUnspecified",
                "html",
                "plainText"
              ],
              "description": "The requested text format for the returned comments.",
              "location": "query",
              "enumDescriptions": [
                "",
                "Returns the comments in HTML format. This is the default value.",
                "Returns the comments in plain text format."
              ],
              "type": "string",
              "default": "html"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved."
            }
          },
          "response": {
            "$ref": "CommentListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "httpMethod": "GET",
          "parameterOrder": [
            "part"
          ],
          "id": "youtube.comments.list",
          "description": "Retrieves a list of resources, possibly filtered.",
          "flatPath": "youtube/v3/comments"
        },
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "parameters": {
            "part": {
              "location": "query",
              "repeated": true,
              "description": "The *part* parameter identifies the properties that the API response will include. Set the parameter value to snippet. The snippet part has a quota cost of 2 units.",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "part"
          ],
          "response": {
            "$ref": "Comment"
          },
          "flatPath": "youtube/v3/comments",
          "httpMethod": "POST",
          "description": "Inserts a new resource into this collection.",
          "id": "youtube.comments.insert",
          "request": {
            "$ref": "Comment"
          },
          "path": "youtube/v3/comments"
        },
        "setModerationStatus": {
          "httpMethod": "POST",
          "description": "Sets the moderation status of one or more comments.",
          "path": "youtube/v3/comments/setModerationStatus",
          "parameterOrder": [
            "id",
            "moderationStatus"
          ],
          "parameters": {
            "banAuthor": {
              "description": "If set to true the author of the comment gets added to the ban list. This means all future comments of the author will autmomatically be rejected. Only valid in combination with STATUS_REJECTED.",
              "type": "boolean",
              "default": "false",
              "location": "query"
            },
            "moderationStatus": {
              "location": "query",
              "type": "string",
              "description": "Specifies the requested moderation status. Note, comments can be in statuses, which are not available through this call. For example, this call does not allow to mark a comment as 'likely spam'. Valid values: 'heldForReview', 'published' or 'rejected'.",
              "enum": [
                "published",
                "heldForReview",
                "likelySpam",
                "rejected"
              ],
              "enumDescriptions": [
                "The comment is available for public display.",
                "The comment is awaiting review by a moderator.",
                "",
                "The comment is unfit for display."
              ],
              "required": true
            },
            "id": {
              "repeated": true,
              "type": "string",
              "location": "query",
              "required": true,
              "description": "Modifies the moderation status of the comments with the given IDs"
            }
          },
          "id": "youtube.comments.setModerationStatus",
          "flatPath": "youtube/v3/comments/setModerationStatus",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ]
        },
        "delete": {
          "flatPath": "youtube/v3/comments",
          "path": "youtube/v3/comments",
          "parameters": {
            "id": {
              "required": true,
              "type": "string",
              "location": "query"
            }
          },
          "description": "Deletes a resource.",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "id"
          ],
          "id": "youtube.comments.delete",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ]
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "id": "youtube.comments.update",
          "flatPath": "youtube/v3/comments",
          "parameters": {
            "part": {
              "type": "string",
              "description": "The *part* parameter identifies the properties that the API response will include. You must at least include the snippet part in the parameter value since that part contains all of the properties that the API request can update.",
              "required": true,
              "repeated": true,
              "location": "query"
            }
          },
          "request": {
            "$ref": "Comment"
          },
          "parameterOrder": [
            "part"
          ],
          "path": "youtube/v3/comments",
          "description": "Updates an existing resource.",
          "response": {
            "$ref": "Comment"
          },
          "httpMethod": "PUT"
        },
        "markAsSpam": {
          "parameterOrder": [
            "id"
          ],
          "description": "Expresses the caller's opinion that one or more comments should be flagged as spam.",
          "flatPath": "youtube/v3/comments/markAsSpam",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "path": "youtube/v3/comments/markAsSpam",
          "parameters": {
            "id": {
              "type": "string",
              "required": true,
              "location": "query",
              "description": "Flags the comments with the given IDs as spam in the caller's opinion.",
              "repeated": true
            }
          },
          "id": "youtube.comments.markAsSpam"
        }
      }
    },
    "playlistImages": {
      "methods": {
        "update": {
          "parameterOrder": [],
          "httpMethod": "PUT",
          "request": {
            "$ref": "PlaylistImage"
          },
          "description": "Updates an existing resource.",
          "parameters": {
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "part": {
              "repeated": true,
              "location": "query",
              "type": "string",
              "description": "The *part* parameter specifies the properties that the API response will include."
            }
          },
          "mediaUpload": {
            "protocols": {
              "resumable": {
                "path": "/resumable/upload/youtube/v3/playlistImages",
                "multipart": true
              },
              "simple": {
                "multipart": true,
                "path": "/upload/youtube/v3/playlistImages"
              }
            },
            "accept": [
              "image/jpeg",
              "image/png",
              "application/octet-stream"
            ],
            "maxSize": "2097152"
          },
          "supportsMediaUpload": true,
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "path": "youtube/v3/playlistImages",
          "id": "youtube.playlistImages.update",
          "flatPath": "youtube/v3/playlistImages",
          "response": {
            "$ref": "PlaylistImage"
          }
        },
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameterOrder": [],
          "response": {
            "$ref": "PlaylistImage"
          },
          "path": "youtube/v3/playlistImages",
          "description": "Inserts a new resource into this collection.",
          "httpMethod": "POST",
          "flatPath": "youtube/v3/playlistImages",
          "supportsMediaUpload": true,
          "request": {
            "$ref": "PlaylistImage"
          },
          "id": "youtube.playlistImages.insert",
          "mediaUpload": {
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/youtube/v3/playlistImages"
              },
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/youtube/v3/playlistImages"
              }
            },
            "maxSize": "2097152",
            "accept": [
              "image/jpeg",
              "image/png",
              "application/octet-stream"
            ]
          },
          "parameters": {
            "onBehalfOfContentOwnerChannel": {
              "type": "string",
              "location": "query",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel."
            },
            "part": {
              "description": "The *part* parameter specifies the properties that the API response will include.",
              "repeated": true,
              "location": "query",
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            }
          }
        },
        "delete": {
          "description": "Deletes a resource.",
          "parameters": {
            "id": {
              "type": "string",
              "location": "query",
              "description": "Id to identify this image. This is returned from by the List method."
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query"
            }
          },
          "httpMethod": "DELETE",
          "id": "youtube.playlistImages.delete",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "flatPath": "youtube/v3/playlistImages",
          "path": "youtube/v3/playlistImages",
          "parameterOrder": []
        },
        "list": {
          "flatPath": "youtube/v3/playlistImages",
          "id": "youtube.playlistImages.list",
          "description": "Retrieves a list of resources, possibly filtered.",
          "response": {
            "$ref": "PlaylistImageListResponse"
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameterOrder": [],
          "parameters": {
            "parent": {
              "type": "string",
              "location": "query",
              "description": "Return PlaylistImages for this playlist id."
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string",
              "location": "query"
            },
            "part": {
              "location": "query",
              "type": "string",
              "repeated": true,
              "description": "The *part* parameter specifies a comma-separated list of one or more playlistImage resource properties that the API response will include. If the parameter identifies a property that contains child properties, the child properties will be included in the response."
            },
            "maxResults": {
              "default": "5",
              "type": "integer",
              "format": "uint32",
              "minimum": "0",
              "location": "query",
              "maximum": "50",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set."
            },
            "onBehalfOfContentOwnerChannel": {
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "youtube/v3/playlistImages"
        }
      }
    },
    "videoAbuseReportReasons": {
      "methods": {
        "list": {
          "parameters": {
            "part": {
              "required": true,
              "repeated": true,
              "location": "query",
              "description": "The *part* parameter specifies the videoCategory resource parts that the API response will include. Supported values are id and snippet.",
              "type": "string"
            },
            "hl": {
              "location": "query",
              "default": "en-US",
              "type": "string"
            }
          },
          "description": "Retrieves a list of resources, possibly filtered.",
          "response": {
            "$ref": "VideoAbuseReportReasonListResponse"
          },
          "id": "youtube.videoAbuseReportReasons.list",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly"
          ],
          "flatPath": "youtube/v3/videoAbuseReportReasons",
          "path": "youtube/v3/videoAbuseReportReasons",
          "httpMethod": "GET",
          "parameterOrder": [
            "part"
          ]
        }
      }
    },
    "youtube": {
      "resources": {
        "v3": {
          "methods": {
            "updateCommentThreads": {
              "flatPath": "youtube/v3/commentThreads",
              "parameters": {
                "part": {
                  "repeated": true,
                  "description": "The *part* parameter specifies a comma-separated list of commentThread resource properties that the API response will include. You must at least include the snippet part in the parameter value since that part contains all of the properties that the API request can update.",
                  "location": "query",
                  "type": "string"
                }
              },
              "httpMethod": "PUT",
              "response": {
                "$ref": "CommentThread"
              },
              "path": "youtube/v3/commentThreads",
              "id": "youtube.youtube.v3.updateCommentThreads",
              "description": "Updates an existing resource.",
              "parameterOrder": [],
              "request": {
                "$ref": "CommentThread"
              }
            }
          }
        }
      }
    },
    "playlistItems": {
      "methods": {
        "list": {
          "parameterOrder": [
            "part"
          ],
          "httpMethod": "GET",
          "id": "youtube.playlistItems.list",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameters": {
            "videoId": {
              "location": "query",
              "type": "string",
              "description": "Return the playlist items associated with the given video ID."
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            },
            "playlistId": {
              "type": "string",
              "location": "query",
              "description": "Return the playlist items within the given playlist."
            },
            "maxResults": {
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "minimum": "0",
              "format": "uint32",
              "default": "5",
              "maximum": "50",
              "type": "integer",
              "location": "query"
            },
            "id": {
              "type": "string",
              "location": "query",
              "repeated": true
            },
            "pageToken": {
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "location": "query",
              "type": "string"
            },
            "part": {
              "location": "query",
              "type": "string",
              "description": "The *part* parameter specifies a comma-separated list of one or more playlistItem resource properties that the API response will include. If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in a playlistItem resource, the snippet property contains numerous fields, including the title, description, position, and resourceId properties. As such, if you set *part=snippet*, the API response will contain all of those properties.",
              "repeated": true,
              "required": true
            }
          },
          "response": {
            "$ref": "PlaylistItemListResponse"
          },
          "description": "Retrieves a list of resources, possibly filtered.",
          "flatPath": "youtube/v3/playlistItems",
          "path": "youtube/v3/playlistItems"
        },
        "delete": {
          "httpMethod": "DELETE",
          "parameterOrder": [
            "id"
          ],
          "description": "Deletes a resource.",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "flatPath": "youtube/v3/playlistItems",
          "id": "youtube.playlistItems.delete",
          "path": "youtube/v3/playlistItems",
          "parameters": {
            "onBehalfOfContentOwner": {
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query"
            },
            "id": {
              "type": "string",
              "location": "query",
              "required": true
            }
          }
        },
        "update": {
          "httpMethod": "PUT",
          "parameters": {
            "part": {
              "location": "query",
              "required": true,
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. Note that this method will override the existing values for all of the mutable properties that are contained in any parts that the parameter value specifies. For example, a playlist item can specify a start time and end time, which identify the times portion of the video that should play when users watch the video in the playlist. If your request is updating a playlist item that sets these values, and the request's part parameter value includes the contentDetails part, the playlist item's start and end times will be updated to whatever value the request body specifies. If the request body does not specify values, the existing start and end times will be removed and replaced with the default settings.",
              "type": "string",
              "repeated": true
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "request": {
            "$ref": "PlaylistItem"
          },
          "id": "youtube.playlistItems.update",
          "description": "Updates an existing resource.",
          "path": "youtube/v3/playlistItems",
          "response": {
            "$ref": "PlaylistItem"
          },
          "flatPath": "youtube/v3/playlistItems",
          "parameterOrder": [
            "part"
          ]
        },
        "insert": {
          "parameterOrder": [
            "part"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "request": {
            "$ref": "PlaylistItem"
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "PlaylistItem"
          },
          "id": "youtube.playlistItems.insert",
          "description": "Inserts a new resource into this collection.",
          "flatPath": "youtube/v3/playlistItems",
          "path": "youtube/v3/playlistItems",
          "parameters": {
            "part": {
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include.",
              "type": "string",
              "repeated": true,
              "required": true,
              "location": "query"
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            }
          }
        }
      }
    },
    "members": {
      "methods": {
        "list": {
          "flatPath": "youtube/v3/members",
          "path": "youtube/v3/members",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.channel-memberships.creator"
          ],
          "id": "youtube.members.list",
          "response": {
            "$ref": "MemberListResponse"
          },
          "description": "Retrieves a list of members that match the request criteria for a channel.",
          "parameterOrder": [
            "part"
          ],
          "parameters": {
            "mode": {
              "description": "Parameter that specifies which channel members to return.",
              "enumDescriptions": [
                "",
                "Return only members that joined after the first call with this mode was made.",
                "Return all current members, from newest to oldest."
              ],
              "default": "all_current",
              "type": "string",
              "location": "query",
              "enum": [
                "listMembersModeUnknown",
                "updates",
                "all_current"
              ]
            },
            "part": {
              "description": "The *part* parameter specifies the member resource parts that the API response will include. Set the parameter value to snippet.",
              "type": "string",
              "repeated": true,
              "location": "query",
              "required": true
            },
            "hasAccessToLevel": {
              "description": "Filter members in the results set to the ones that have access to a level.",
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "location": "query"
            },
            "filterByMemberChannelId": {
              "location": "query",
              "type": "string",
              "description": "Comma separated list of channel IDs. Only data about members that are part of this list will be included in the response."
            },
            "maxResults": {
              "maximum": "1000",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "default": "5",
              "location": "query",
              "type": "integer",
              "format": "uint32",
              "minimum": "0"
            }
          },
          "httpMethod": "GET"
        }
      }
    },
    "membershipsLevels": {
      "methods": {
        "list": {
          "parameterOrder": [
            "part"
          ],
          "parameters": {
            "part": {
              "description": "The *part* parameter specifies the membershipsLevel resource parts that the API response will include. Supported values are id and snippet.",
              "type": "string",
              "repeated": true,
              "location": "query",
              "required": true
            }
          },
          "description": "Retrieves a list of all pricing levels offered by a creator to the fans.",
          "response": {
            "$ref": "MembershipsLevelListResponse"
          },
          "flatPath": "youtube/v3/membershipsLevels",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.channel-memberships.creator"
          ],
          "id": "youtube.membershipsLevels.list",
          "path": "youtube/v3/membershipsLevels"
        }
      }
    },
    "liveBroadcasts": {
      "methods": {
        "insert": {
          "response": {
            "$ref": "LiveBroadcast"
          },
          "path": "youtube/v3/liveBroadcasts",
          "request": {
            "$ref": "LiveBroadcast"
          },
          "id": "youtube.liveBroadcasts.insert",
          "httpMethod": "POST",
          "description": "Inserts a new stream for the authenticated user.",
          "parameters": {
            "onBehalfOfContentOwner": {
              "type": "string",
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            },
            "part": {
              "required": true,
              "repeated": true,
              "type": "string",
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. The part properties that you can include in the parameter value are id, snippet, contentDetails, and status.",
              "location": "query"
            },
            "onBehalfOfContentOwnerChannel": {
              "type": "string",
              "location": "query",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "flatPath": "youtube/v3/liveBroadcasts",
          "parameterOrder": [
            "part"
          ]
        },
        "insertCuepoint": {
          "path": "youtube/v3/liveBroadcasts/cuepoint",
          "flatPath": "youtube/v3/liveBroadcasts/cuepoint",
          "request": {
            "$ref": "Cuepoint"
          },
          "httpMethod": "POST",
          "parameterOrder": [],
          "id": "youtube.liveBroadcasts.insertCuepoint",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "response": {
            "$ref": "Cuepoint"
          },
          "parameters": {
            "onBehalfOfContentOwner": {
              "location": "query",
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            },
            "onBehalfOfContentOwnerChannel": {
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "location": "query",
              "type": "string"
            },
            "id": {
              "description": "Broadcast to insert ads to, or equivalently `external_video_id` for internal use.",
              "location": "query",
              "type": "string"
            },
            "part": {
              "description": "The *part* parameter specifies a comma-separated list of one or more liveBroadcast resource properties that the API response will include. The part names that you can include in the parameter value are id, snippet, contentDetails, and status.",
              "type": "string",
              "repeated": true,
              "location": "query"
            }
          },
          "description": "Insert cuepoints in a broadcast"
        },
        "bind": {
          "httpMethod": "POST",
          "id": "youtube.liveBroadcasts.bind",
          "parameterOrder": [
            "id",
            "part"
          ],
          "response": {
            "$ref": "LiveBroadcast"
          },
          "parameters": {
            "id": {
              "type": "string",
              "location": "query",
              "description": "Broadcast to bind to the stream",
              "required": true
            },
            "streamId": {
              "location": "query",
              "type": "string",
              "description": "Stream to bind, if not set unbind the current one."
            },
            "part": {
              "required": true,
              "type": "string",
              "location": "query",
              "repeated": true,
              "description": "The *part* parameter specifies a comma-separated list of one or more liveBroadcast resource properties that the API response will include. The part names that you can include in the parameter value are id, snippet, contentDetails, and status."
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            },
            "onBehalfOfContentOwnerChannel": {
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "type": "string",
              "location": "query"
            }
          },
          "path": "youtube/v3/liveBroadcasts/bind",
          "description": "Bind a broadcast to a stream.",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "flatPath": "youtube/v3/liveBroadcasts/bind"
        },
        "update": {
          "id": "youtube.liveBroadcasts.update",
          "path": "youtube/v3/liveBroadcasts",
          "request": {
            "$ref": "LiveBroadcast"
          },
          "flatPath": "youtube/v3/liveBroadcasts",
          "response": {
            "$ref": "LiveBroadcast"
          },
          "parameterOrder": [
            "part"
          ],
          "parameters": {
            "onBehalfOfContentOwnerChannel": {
              "location": "query",
              "type": "string",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel."
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            },
            "part": {
              "required": true,
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. The part properties that you can include in the parameter value are id, snippet, contentDetails, and status. Note that this method will override the existing values for all of the mutable properties that are contained in any parts that the parameter value specifies. For example, a broadcast's privacy status is defined in the status part. As such, if your request is updating a private or unlisted broadcast, and the request's part parameter value includes the status part, the broadcast's privacy setting will be updated to whatever value the request body specifies. If the request body does not specify a value, the existing privacy setting will be removed and the broadcast will revert to the default privacy setting.",
              "type": "string",
              "repeated": true,
              "location": "query"
            }
          },
          "httpMethod": "PUT",
          "description": "Updates an existing broadcast for the authenticated user.",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ]
        },
        "transition": {
          "parameterOrder": [
            "broadcastStatus",
            "id",
            "part"
          ],
          "httpMethod": "POST",
          "flatPath": "youtube/v3/liveBroadcasts/transition",
          "path": "youtube/v3/liveBroadcasts/transition",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "id": "youtube.liveBroadcasts.transition",
          "parameters": {
            "broadcastStatus": {
              "required": true,
              "enumDescriptions": [
                "",
                "Start testing the broadcast. YouTube transmits video to the broadcast's monitor stream. Note that you can only transition a broadcast to the testing state if its contentDetails.monitorStream.enableMonitorStream property is set to true.\",",
                "Return only persistent broadcasts.",
                "The broadcast is over. YouTube stops transmitting video."
              ],
              "description": "The status to which the broadcast is going to transition.",
              "type": "string",
              "enum": [
                "statusUnspecified",
                "testing",
                "live",
                "complete"
              ],
              "location": "query"
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "part": {
              "location": "query",
              "repeated": true,
              "description": "The *part* parameter specifies a comma-separated list of one or more liveBroadcast resource properties that the API response will include. The part names that you can include in the parameter value are id, snippet, contentDetails, and status.",
              "type": "string",
              "required": true
            },
            "id": {
              "description": "Broadcast to transition.",
              "type": "string",
              "location": "query",
              "required": true
            },
            "onBehalfOfContentOwnerChannel": {
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "type": "string",
              "location": "query"
            }
          },
          "description": "Transition a broadcast to a given status.",
          "response": {
            "$ref": "LiveBroadcast"
          }
        },
        "list": {
          "flatPath": "youtube/v3/liveBroadcasts",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly"
          ],
          "path": "youtube/v3/liveBroadcasts",
          "parameters": {
            "broadcastStatus": {
              "location": "query",
              "description": "Return broadcasts with a certain status, e.g. active broadcasts.",
              "type": "string",
              "enum": [
                "broadcastStatusFilterUnspecified",
                "all",
                "active",
                "upcoming",
                "completed"
              ],
              "enumDescriptions": [
                "",
                "Return all broadcasts.",
                "Return current live broadcasts.",
                "Return broadcasts that have not yet started.",
                "Return broadcasts that have already ended."
              ]
            },
            "broadcastType": {
              "description": "Return only broadcasts with the selected type.",
              "default": "event",
              "type": "string",
              "location": "query",
              "enumDescriptions": [
                "",
                "Return all broadcasts.",
                "Return only scheduled event broadcasts.",
                "Return only persistent broadcasts."
              ],
              "enum": [
                "broadcastTypeFilterUnspecified",
                "all",
                "event",
                "persistent"
              ]
            },
            "part": {
              "repeated": true,
              "location": "query",
              "required": true,
              "type": "string",
              "description": "The *part* parameter specifies a comma-separated list of one or more liveBroadcast resource properties that the API response will include. The part names that you can include in the parameter value are id, snippet, contentDetails, status and statistics."
            },
            "mine": {
              "type": "boolean",
              "location": "query"
            },
            "maxResults": {
              "format": "uint32",
              "maximum": "50",
              "default": "5",
              "minimum": "0",
              "type": "integer",
              "location": "query",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set."
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved."
            },
            "onBehalfOfContentOwnerChannel": {
              "location": "query",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "type": "string"
            },
            "id": {
              "repeated": true,
              "type": "string",
              "description": "Return broadcasts with the given ids from Stubby or Apiary.",
              "location": "query"
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            }
          },
          "response": {
            "$ref": "LiveBroadcastListResponse"
          },
          "id": "youtube.liveBroadcasts.list",
          "httpMethod": "GET",
          "parameterOrder": [
            "part"
          ],
          "description": "Retrieve the list of broadcasts associated with the given channel."
        },
        "delete": {
          "id": "youtube.liveBroadcasts.delete",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "description": "Delete a given broadcast.",
          "parameterOrder": [
            "id"
          ],
          "parameters": {
            "id": {
              "type": "string",
              "description": "Broadcast to delete.",
              "location": "query",
              "required": true
            },
            "onBehalfOfContentOwnerChannel": {
              "type": "string",
              "location": "query",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel."
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            }
          },
          "path": "youtube/v3/liveBroadcasts",
          "flatPath": "youtube/v3/liveBroadcasts",
          "httpMethod": "DELETE"
        }
      }
    },
    "channelSections": {
      "methods": {
        "update": {
          "parameterOrder": [
            "part"
          ],
          "request": {
            "$ref": "ChannelSection"
          },
          "description": "Updates an existing resource.",
          "path": "youtube/v3/channelSections",
          "parameters": {
            "part": {
              "repeated": true,
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. The part names that you can include in the parameter value are snippet and contentDetails.",
              "required": true,
              "type": "string",
              "location": "query"
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "id": "youtube.channelSections.update",
          "response": {
            "$ref": "ChannelSection"
          },
          "httpMethod": "PUT",
          "flatPath": "youtube/v3/channelSections"
        },
        "insert": {
          "parameterOrder": [
            "part"
          ],
          "parameters": {
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string",
              "location": "query"
            },
            "onBehalfOfContentOwnerChannel": {
              "location": "query",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "type": "string"
            },
            "part": {
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. The part names that you can include in the parameter value are snippet and contentDetails.",
              "repeated": true,
              "location": "query",
              "type": "string",
              "required": true
            }
          },
          "flatPath": "youtube/v3/channelSections",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "request": {
            "$ref": "ChannelSection"
          },
          "response": {
            "$ref": "ChannelSection"
          },
          "id": "youtube.channelSections.insert",
          "description": "Inserts a new resource into this collection.",
          "path": "youtube/v3/channelSections"
        },
        "delete": {
          "description": "Deletes a resource.",
          "parameters": {
            "id": {
              "required": true,
              "type": "string",
              "location": "query"
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            }
          },
          "path": "youtube/v3/channelSections",
          "flatPath": "youtube/v3/channelSections",
          "id": "youtube.channelSections.delete",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "httpMethod": "DELETE",
          "parameterOrder": [
            "id"
          ]
        },
        "list": {
          "httpMethod": "GET",
          "flatPath": "youtube/v3/channelSections",
          "id": "youtube.channelSections.list",
          "response": {
            "$ref": "ChannelSectionListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "path": "youtube/v3/channelSections",
          "parameters": {
            "mine": {
              "location": "query",
              "type": "boolean",
[...]
