{
  "mtlsRootUrl": "https://youtube.mtls.googleapis.com/",
  "documentationLink": "https://developers.google.com/youtube/",
  "ownerName": "Google",
  "protocol": "rest",
  "ownerDomain": "google.com",
  "fullyEncodeReservedExpansion": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/youtube.upload": {
          "description": "Manage your YouTube videos"
        },
        "https://www.googleapis.com/auth/youtube.readonly": {
          "description": "View your YouTube account"
        },
        "https://www.googleapis.com/auth/youtubepartner": {
          "description": "View and manage your assets and associated content on YouTube"
        },
        "https://www.googleapis.com/auth/youtube.force-ssl": {
          "description": "See, edit, and permanently delete your YouTube videos, ratings, comments and captions"
        },
        "https://www.googleapis.com/auth/youtubepartner-channel-audit": {
          "description": "View private information of your YouTube channel relevant during the audit process with a YouTube partner"
        },
        "https://www.googleapis.com/auth/youtube": {
          "description": "Manage your YouTube account"
        },
        "https://www.googleapis.com/auth/youtube.channel-memberships.creator": {
          "description": "See a list of your current active channel members, their current level, and when they became a member"
        }
      }
    }
  },
  "id": "youtube:v3",
  "rootUrl": "https://youtube.googleapis.com/",
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "description": "The YouTube Data API v3 is an API that provides access to YouTube data, such as videos, playlists, and channels.",
  "servicePath": "",
  "title": "YouTube Data API v3",
  "kind": "discovery#restDescription",
  "name": "youtube",
  "resources": {
    "channelSections": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameterOrder": [
            "part"
          ],
          "response": {
            "$ref": "ChannelSectionListResponse"
          },
          "httpMethod": "GET",
          "path": "youtube/v3/channelSections",
          "description": "Retrieves a list of resources, possibly filtered.",
          "parameters": {
            "mine": {
              "description": "Return the ChannelSections owned by the authenticated user.",
              "location": "query",
              "type": "boolean"
            },
            "channelId": {
              "type": "string",
              "description": "Return the ChannelSections owned by the specified channel ID.",
              "location": "query"
            },
            "part": {
              "type": "string",
              "location": "query",
              "repeated": true,
              "required": true,
              "description": "The *part* parameter specifies a comma-separated list of one or more channelSection resource properties that the API response will include. The part names that you can include in the parameter value are id, snippet, and contentDetails. If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in a channelSection resource, the snippet property contains other properties, such as a display title for the channelSection. If you set *part=snippet*, the API response will also contain all of those nested properties."
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string"
            },
            "id": {
              "location": "query",
              "repeated": true,
              "type": "string",
              "description": "Return the ChannelSections with the given IDs for Stubby or Apiary."
            },
            "hl": {
              "location": "query",
              "type": "string",
              "description": "Return content in specified language"
            }
          },
          "flatPath": "youtube/v3/channelSections",
          "id": "youtube.channelSections.list"
        },
        "update": {
          "httpMethod": "PUT",
          "parameters": {
            "onBehalfOfContentOwner": {
              "location": "query",
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            },
            "part": {
              "type": "string",
              "required": true,
              "location": "query",
              "repeated": true,
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. The part names that you can include in the parameter value are snippet and contentDetails."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameterOrder": [
            "part"
          ],
          "path": "youtube/v3/channelSections",
          "response": {
            "$ref": "ChannelSection"
          },
          "flatPath": "youtube/v3/channelSections",
          "description": "Updates an existing resource.",
          "id": "youtube.channelSections.update",
          "request": {
            "$ref": "ChannelSection"
          }
        },
        "delete": {
          "description": "Deletes a resource.",
          "id": "youtube.channelSections.delete",
          "parameters": {
            "onBehalfOfContentOwner": {
              "type": "string",
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            },
            "id": {
              "required": true,
              "location": "query",
              "type": "string"
            }
          },
          "flatPath": "youtube/v3/channelSections",
          "path": "youtube/v3/channelSections",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameterOrder": [
            "id"
          ],
          "httpMethod": "DELETE"
        },
        "insert": {
          "parameters": {
            "onBehalfOfContentOwnerChannel": {
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "location": "query",
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string"
            },
            "part": {
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. The part names that you can include in the parameter value are snippet and contentDetails.",
              "location": "query",
              "required": true,
              "type": "string",
              "repeated": true
            }
          },
          "parameterOrder": [
            "part"
          ],
          "request": {
            "$ref": "ChannelSection"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "path": "youtube/v3/channelSections",
          "description": "Inserts a new resource into this collection.",
          "flatPath": "youtube/v3/channelSections",
          "id": "youtube.channelSections.insert",
          "response": {
            "$ref": "ChannelSection"
          },
          "httpMethod": "POST"
        }
      }
    },
    "playlists": {
      "methods": {
        "update": {
          "response": {
            "$ref": "Playlist"
          },
          "path": "youtube/v3/playlists",
          "request": {
            "$ref": "Playlist"
          },
          "description": "Updates an existing resource.",
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "id": "youtube.playlists.update",
          "parameters": {
            "part": {
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. Note that this method will override the existing values for mutable properties that are contained in any parts that the request body specifies. For example, a playlist's description is contained in the snippet part, which must be included in the request body. If the request does not specify a value for the snippet.description property, the playlist's existing description will be deleted.",
              "required": true,
              "repeated": true,
              "location": "query",
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            }
          },
          "parameterOrder": [
            "part"
          ],
          "flatPath": "youtube/v3/playlists"
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameters": {
            "mine": {
              "type": "boolean",
              "location": "query",
              "description": "Return the playlists owned by the authenticated user."
            },
            "maxResults": {
              "maximum": "50",
              "minimum": "0",
              "location": "query",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "type": "integer",
              "default": "5",
              "format": "uint32"
            },
            "pageToken": {
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "type": "string",
              "location": "query"
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string"
            },
            "onBehalfOfContentOwnerChannel": {
              "location": "query",
              "type": "string",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel."
            },
            "id": {
              "location": "query",
              "description": "Return the playlists with the given IDs for Stubby or Apiary.",
              "repeated": true,
              "type": "string"
            },
            "part": {
              "required": true,
              "location": "query",
              "repeated": true,
              "description": "The *part* parameter specifies a comma-separated list of one or more playlist resource properties that the API response will include. If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in a playlist resource, the snippet property contains properties like author, title, description, tags, and timeCreated. As such, if you set *part=snippet*, the API response will contain all of those properties.",
              "type": "string"
            },
            "hl": {
              "description": "Returen content in specified language",
              "type": "string",
              "location": "query"
            },
            "channelId": {
              "description": "Return the playlists owned by the specified channel ID.",
              "type": "string",
              "location": "query"
            }
          },
          "path": "youtube/v3/playlists",
          "parameterOrder": [
            "part"
          ],
          "description": "Retrieves a list of resources, possibly filtered.",
          "id": "youtube.playlists.list",
          "flatPath": "youtube/v3/playlists",
          "response": {
            "$ref": "PlaylistListResponse"
          },
          "httpMethod": "GET"
        },
        "delete": {
          "description": "Deletes a resource.",
          "flatPath": "youtube/v3/playlists",
          "parameterOrder": [
            "id"
          ],
          "parameters": {
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "id": {
              "required": true,
              "type": "string",
              "location": "query"
            }
          },
          "path": "youtube/v3/playlists",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "httpMethod": "DELETE",
          "id": "youtube.playlists.delete"
        },
        "insert": {
          "description": "Inserts a new resource into this collection.",
          "path": "youtube/v3/playlists",
          "request": {
            "$ref": "Playlist"
          },
          "flatPath": "youtube/v3/playlists",
          "id": "youtube.playlists.insert",
          "parameterOrder": [
            "part"
          ],
          "response": {
            "$ref": "Playlist"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "httpMethod": "POST",
          "parameters": {
            "onBehalfOfContentOwnerChannel": {
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "type": "string",
              "location": "query"
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query"
            },
            "part": {
              "required": true,
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include.",
              "repeated": true,
              "location": "query",
              "type": "string"
            }
          }
        }
      }
    },
    "channelBanners": {
      "methods": {
        "insert": {
          "parameterOrder": [],
          "path": "youtube/v3/channelBanners/insert",
          "mediaUpload": {
            "maxSize": "6291456",
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/youtube/v3/channelBanners/insert"
              },
              "resumable": {
                "path": "/resumable/upload/youtube/v3/channelBanners/insert",
                "multipart": true
              }
            },
            "accept": [
              "image/jpeg",
              "image/png",
              "application/octet-stream"
            ]
          },
          "request": {
            "$ref": "ChannelBannerResource"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.upload"
          ],
          "id": "youtube.channelBanners.insert",
          "httpMethod": "POST",
          "response": {
            "$ref": "ChannelBannerResource"
          },
          "description": "Inserts a new resource into this collection.",
          "parameters": {
            "channelId": {
              "type": "string",
              "description": "Unused, channel_id is currently derived from the security context of the requestor.",
              "location": "query"
            },
            "onBehalfOfContentOwnerChannel": {
              "type": "string",
              "location": "query",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel."
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query"
            }
          },
          "flatPath": "youtube/v3/channelBanners/insert",
          "supportsMediaUpload": true
        }
      }
    },
    "activities": {
      "methods": {
        "list": {
          "parameterOrder": [
            "part"
          ],
          "flatPath": "youtube/v3/activities",
          "description": "Retrieves a list of resources, possibly filtered.",
          "parameters": {
            "publishedAfter": {
              "type": "string",
              "location": "query",
              "format": "google-datetime"
            },
            "publishedBefore": {
              "format": "google-datetime",
              "location": "query",
              "type": "string"
            },
            "mine": {
              "type": "boolean",
              "location": "query"
            },
            "part": {
              "repeated": true,
              "type": "string",
              "location": "query",
              "description": "The *part* parameter specifies a comma-separated list of one or more activity resource properties that the API response will include. If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in an activity resource, the snippet property contains other properties that identify the type of activity, a display title for the activity, and so forth. If you set *part=snippet*, the API response will also contain all of those nested properties.",
              "required": true
            },
            "regionCode": {
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "format": "uint32",
              "default": "5",
              "location": "query",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "type": "integer",
              "maximum": "50",
              "minimum": "0"
            },
            "home": {
              "location": "query",
              "type": "boolean"
            },
            "channelId": {
              "type": "string",
              "location": "query"
            }
          },
          "httpMethod": "GET",
          "id": "youtube.activities.list",
          "response": {
            "$ref": "ActivityListResponse"
          },
          "path": "youtube/v3/activities",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly"
          ]
        }
      }
    },
    "members": {
      "methods": {
        "list": {
          "parameterOrder": [
            "part"
          ],
          "path": "youtube/v3/members",
          "id": "youtube.members.list",
          "flatPath": "youtube/v3/members",
          "description": "Retrieves a list of members that match the request criteria for a channel.",
          "response": {
            "$ref": "MemberListResponse"
          },
          "parameters": {
            "part": {
              "location": "query",
              "required": true,
              "description": "The *part* parameter specifies the member resource parts that the API response will include. Set the parameter value to snippet.",
              "repeated": true,
              "type": "string"
            },
            "filterByMemberChannelId": {
              "location": "query",
              "description": "Comma separated list of channel IDs. Only data about members that are part of this list will be included in the response.",
              "type": "string"
            },
            "hasAccessToLevel": {
              "description": "Filter members in the results set to the ones that have access to a level.",
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved."
            },
            "maxResults": {
              "location": "query",
              "maximum": "1000",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "type": "integer",
              "format": "uint32",
              "default": "5",
              "minimum": "0"
            },
            "mode": {
              "enum": [
                "listMembersModeUnknown",
                "updates",
                "all_current"
              ],
              "description": "Parameter that specifies which channel members to return.",
              "type": "string",
              "location": "query",
              "enumDescriptions": [
                "",
                "Return only members that joined after the first call with this mode was made.",
                "Return all current members, from newest to oldest."
              ],
              "default": "all_current"
            }
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.channel-memberships.creator"
          ]
        }
      }
    },
    "liveBroadcasts": {
      "methods": {
        "bind": {
          "flatPath": "youtube/v3/liveBroadcasts/bind",
          "parameters": {
            "id": {
              "type": "string",
              "location": "query",
              "required": true,
              "description": "Broadcast to bind to the stream"
            },
            "streamId": {
              "location": "query",
              "type": "string",
              "description": "Stream to bind, if not set unbind the current one."
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            },
            "onBehalfOfContentOwnerChannel": {
              "location": "query",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "type": "string"
            },
            "part": {
              "description": "The *part* parameter specifies a comma-separated list of one or more liveBroadcast resource properties that the API response will include. The part names that you can include in the parameter value are id, snippet, contentDetails, and status.",
              "location": "query",
              "repeated": true,
              "required": true,
              "type": "string"
            }
          },
          "description": "Bind a broadcast to a stream.",
          "httpMethod": "POST",
          "id": "youtube.liveBroadcasts.bind",
          "response": {
            "$ref": "LiveBroadcast"
          },
          "path": "youtube/v3/liveBroadcasts/bind",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "parameterOrder": [
            "id",
            "part"
          ]
        },
        "delete": {
          "parameterOrder": [
            "id"
          ],
          "httpMethod": "DELETE",
          "id": "youtube.liveBroadcasts.delete",
          "parameters": {
            "id": {
              "type": "string",
              "location": "query",
              "description": "Broadcast to delete.",
              "required": true
            },
            "onBehalfOfContentOwnerChannel": {
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "type": "string",
              "location": "query"
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string"
            }
          },
          "path": "youtube/v3/liveBroadcasts",
          "flatPath": "youtube/v3/liveBroadcasts",
          "description": "Delete a given broadcast.",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ]
        },
        "update": {
          "id": "youtube.liveBroadcasts.update",
          "httpMethod": "PUT",
          "parameters": {
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string",
              "location": "query"
            },
            "onBehalfOfContentOwnerChannel": {
              "location": "query",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "type": "string"
            },
            "part": {
              "repeated": true,
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. The part properties that you can include in the parameter value are id, snippet, contentDetails, and status. Note that this method will override the existing values for all of the mutable properties that are contained in any parts that the parameter value specifies. For example, a broadcast's privacy status is defined in the status part. As such, if your request is updating a private or unlisted broadcast, and the request's part parameter value includes the status part, the broadcast's privacy setting will be updated to whatever value the request body specifies. If the request body does not specify a value, the existing privacy setting will be removed and the broadcast will revert to the default privacy setting.",
              "type": "string",
              "required": true,
              "location": "query"
            }
          },
          "request": {
            "$ref": "LiveBroadcast"
          },
          "flatPath": "youtube/v3/liveBroadcasts",
          "parameterOrder": [
            "part"
          ],
          "description": "Updates an existing broadcast for the authenticated user.",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "response": {
            "$ref": "LiveBroadcast"
          },
          "path": "youtube/v3/liveBroadcasts"
        },
        "list": {
          "parameterOrder": [
            "part"
          ],
          "id": "youtube.liveBroadcasts.list",
          "response": {
            "$ref": "LiveBroadcastListResponse"
          },
          "parameters": {
            "id": {
              "description": "Return broadcasts with the given ids from Stubby or Apiary.",
              "repeated": true,
              "type": "string",
              "location": "query"
            },
            "part": {
              "description": "The *part* parameter specifies a comma-separated list of one or more liveBroadcast resource properties that the API response will include. The part names that you can include in the parameter value are id, snippet, contentDetails, status and statistics.",
              "required": true,
              "type": "string",
              "location": "query",
              "repeated": true
            },
            "mine": {
              "type": "boolean",
              "location": "query"
            },
            "broadcastStatus": {
              "description": "Return broadcasts with a certain status, e.g. active broadcasts.",
              "enum": [
                "broadcastStatusFilterUnspecified",
                "all",
                "active",
                "upcoming",
                "completed"
              ],
              "location": "query",
              "enumDescriptions": [
                "",
                "Return all broadcasts.",
                "Return current live broadcasts.",
                "Return broadcasts that have not yet started.",
                "Return broadcasts that have already ended."
              ],
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "onBehalfOfContentOwnerChannel": {
              "type": "string",
              "location": "query",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel."
            },
            "maxResults": {
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "maximum": "50",
              "format": "uint32",
              "minimum": "0",
              "default": "5",
              "location": "query",
              "type": "integer"
            },
            "broadcastType": {
              "location": "query",
              "description": "Return only broadcasts with the selected type.",
              "type": "string",
              "default": "event",
              "enum": [
                "broadcastTypeFilterUnspecified",
                "all",
                "event",
                "persistent"
              ],
              "enumDescriptions": [
                "",
                "Return all broadcasts.",
                "Return only scheduled event broadcasts.",
                "Return only persistent broadcasts."
              ]
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved."
            }
          },
          "description": "Retrieve the list of broadcasts associated with the given channel.",
          "path": "youtube/v3/liveBroadcasts",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly"
          ],
          "httpMethod": "GET",
          "flatPath": "youtube/v3/liveBroadcasts"
        },
        "insert": {
          "httpMethod": "POST",
          "flatPath": "youtube/v3/liveBroadcasts",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "description": "Inserts a new stream for the authenticated user.",
          "path": "youtube/v3/liveBroadcasts",
          "response": {
            "$ref": "LiveBroadcast"
          },
          "request": {
            "$ref": "LiveBroadcast"
          },
          "parameters": {
            "onBehalfOfContentOwner": {
              "location": "query",
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            },
            "part": {
              "required": true,
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. The part properties that you can include in the parameter value are id, snippet, contentDetails, and status.",
              "type": "string",
              "location": "query",
              "repeated": true
            },
            "onBehalfOfContentOwnerChannel": {
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "location": "query",
              "type": "string"
            }
          },
          "id": "youtube.liveBroadcasts.insert",
          "parameterOrder": [
            "part"
          ]
        },
        "transition": {
          "httpMethod": "POST",
          "path": "youtube/v3/liveBroadcasts/transition",
          "flatPath": "youtube/v3/liveBroadcasts/transition",
          "id": "youtube.liveBroadcasts.transition",
          "parameters": {
            "broadcastStatus": {
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "",
                "Start testing the broadcast. YouTube transmits video to the broadcast's monitor stream. Note that you can only transition a broadcast to the testing state if its contentDetails.monitorStream.enableMonitorStream property is set to true.\",",
                "Return only persistent broadcasts.",
                "The broadcast is over. YouTube stops transmitting video."
              ],
              "description": "The status to which the broadcast is going to transition.",
              "enum": [
                "statusUnspecified",
                "testing",
                "live",
                "complete"
              ],
              "required": true
            },
            "id": {
              "required": true,
              "description": "Broadcast to transition.",
              "location": "query",
              "type": "string"
            },
            "part": {
              "repeated": true,
              "type": "string",
              "required": true,
              "description": "The *part* parameter specifies a comma-separated list of one or more liveBroadcast resource properties that the API response will include. The part names that you can include in the parameter value are id, snippet, contentDetails, and status.",
              "location": "query"
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            },
            "onBehalfOfContentOwnerChannel": {
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "type": "string",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "response": {
            "$ref": "LiveBroadcast"
          },
          "parameterOrder": [
            "broadcastStatus",
            "id",
            "part"
          ],
          "description": "Transition a broadcast to a given status."
        }
      }
    },
    "liveChatMessages": {
      "methods": {
        "insert": {
          "parameterOrder": [
            "part"
          ],
          "flatPath": "youtube/v3/liveChat/messages",
          "request": {
            "$ref": "LiveChatMessage"
          },
          "description": "Inserts a new resource into this collection.",
          "httpMethod": "POST",
          "parameters": {
            "part": {
              "description": "The *part* parameter serves two purposes. It identifies the properties that the write operation will set as well as the properties that the API response will include. Set the parameter value to snippet.",
              "repeated": true,
              "location": "query",
              "type": "string",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "id": "youtube.liveChatMessages.insert",
          "path": "youtube/v3/liveChat/messages",
          "response": {
            "$ref": "LiveChatMessage"
          }
        },
        "list": {
          "description": "Retrieves a list of resources, possibly filtered.",
          "response": {
            "$ref": "LiveChatMessageListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly"
          ],
          "parameters": {
            "liveChatId": {
              "required": true,
              "type": "string",
              "description": "The id of the live chat for which comments should be returned.",
              "location": "query"
            },
            "part": {
              "description": "The *part* parameter specifies the liveChatComment resource parts that the API response will include. Supported values are id and snippet.",
              "required": true,
              "type": "string",
              "repeated": true,
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken property identify other pages that could be retrieved.",
              "type": "string"
            },
            "profileImageSize": {
              "location": "query",
              "format": "uint32",
              "type": "integer",
              "description": "Specifies the size of the profile image that should be returned for each user.",
              "minimum": "16",
              "maximum": "720"
            },
            "hl": {
              "type": "string",
              "location": "query",
              "description": "Specifies the localization language in which the system messages should be returned."
            },
            "maxResults": {
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "type": "integer",
              "format": "uint32",
              "location": "query",
              "default": "500",
              "minimum": "200",
              "maximum": "2000"
            }
          },
          "path": "youtube/v3/liveChat/messages",
          "id": "youtube.liveChatMessages.list",
          "parameterOrder": [
            "liveChatId",
            "part"
          ],
          "httpMethod": "GET",
          "flatPath": "youtube/v3/liveChat/messages"
        },
        "delete": {
          "flatPath": "youtube/v3/liveChat/messages",
          "description": "Deletes a chat message.",
          "parameterOrder": [
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "httpMethod": "DELETE",
          "parameters": {
            "id": {
              "required": true,
              "type": "string",
              "location": "query"
            }
          },
          "path": "youtube/v3/liveChat/messages",
          "id": "youtube.liveChatMessages.delete"
        }
      }
    },
    "captions": {
      "methods": {
        "update": {
          "supportsMediaUpload": true,
          "httpMethod": "PUT",
          "path": "youtube/v3/captions",
          "flatPath": "youtube/v3/captions",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameters": {
            "sync": {
              "location": "query",
              "type": "boolean",
              "description": "Extra parameter to allow automatically syncing the uploaded caption/transcript with the audio."
            },
            "part": {
              "type": "string",
              "location": "query",
              "required": true,
              "description": "The *part* parameter specifies a comma-separated list of one or more caption resource parts that the API response will include. The part names that you can include in the parameter value are id and snippet.",
              "repeated": true
            },
            "onBehalfOf": {
              "type": "string",
              "location": "query",
              "description": "ID of the Google+ Page for the channel that the request is on behalf of."
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string",
              "location": "query"
            }
          },
          "mediaUpload": {
            "protocols": {
              "resumable": {
                "path": "/resumable/upload/youtube/v3/captions",
                "multipart": true
              },
              "simple": {
                "multipart": true,
                "path": "/upload/youtube/v3/captions"
              }
            },
            "maxSize": "104857600",
            "accept": [
              "text/xml",
              "application/octet-stream",
              "*/*"
            ]
          },
          "description": "Updates an existing resource.",
          "response": {
            "$ref": "Caption"
          },
          "parameterOrder": [
            "part"
          ],
          "request": {
            "$ref": "Caption"
          },
          "id": "youtube.captions.update"
        },
        "download": {
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "useMediaDownloadService": true,
          "id": "youtube.captions.download",
          "flatPath": "youtube/v3/captions/{id}",
          "supportsMediaDownload": true,
          "httpMethod": "GET",
          "parameters": {
            "tlang": {
              "location": "query",
              "description": "tlang is the language code; machine translate the captions into this language.",
              "type": "string"
            },
            "tfmt": {
              "description": "Convert the captions into this format. Supported options are sbv, srt, and vtt.",
              "type": "string",
              "location": "query"
            },
            "onBehalfOf": {
              "type": "string",
              "description": "ID of the Google+ Page for the channel that the request is be on behalf of",
              "location": "query"
            },
            "id": {
              "required": true,
              "location": "path",
              "description": "The ID of the caption track to download, required for One Platform.",
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string",
              "location": "query"
            }
          },
          "parameterOrder": [
            "id"
          ],
          "description": "Downloads a caption track.",
          "path": "youtube/v3/captions/{id}"
        },
        "insert": {
          "httpMethod": "POST",
          "parameters": {
            "onBehalfOf": {
              "location": "query",
              "description": "ID of the Google+ Page for the channel that the request is be on behalf of",
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string"
            },
            "sync": {
              "location": "query",
              "description": "Extra parameter to allow automatically syncing the uploaded caption/transcript with the audio.",
              "type": "boolean"
            },
            "part": {
              "type": "string",
              "location": "query",
              "repeated": true,
              "required": true,
              "description": "The *part* parameter specifies the caption resource parts that the API response will include. Set the parameter value to snippet."
            }
          },
          "supportsMediaUpload": true,
          "id": "youtube.captions.insert",
          "response": {
            "$ref": "Caption"
          },
          "request": {
            "$ref": "Caption"
          },
          "mediaUpload": {
            "accept": [
              "text/xml",
              "application/octet-stream",
              "*/*"
            ],
            "maxSize": "104857600",
            "protocols": {
              "simple": {
                "path": "/upload/youtube/v3/captions",
                "multipart": true
              },
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/youtube/v3/captions"
              }
            }
          },
          "flatPath": "youtube/v3/captions",
          "parameterOrder": [
            "part"
          ],
          "path": "youtube/v3/captions",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "description": "Inserts a new resource into this collection."
        },
        "list": {
          "id": "youtube.captions.list",
          "description": "Retrieves a list of resources, possibly filtered.",
          "response": {
            "$ref": "CaptionListResponse"
          },
          "path": "youtube/v3/captions",
          "parameterOrder": [
            "part",
            "videoId"
          ],
          "parameters": {
            "part": {
              "repeated": true,
              "type": "string",
              "location": "query",
              "description": "The *part* parameter specifies a comma-separated list of one or more caption resource parts that the API response will include. The part names that you can include in the parameter value are id and snippet.",
              "required": true
            },
            "id": {
              "description": "Returns the captions with the given IDs for Stubby or Apiary.",
              "repeated": true,
              "type": "string",
              "location": "query"
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "videoId": {
              "description": "Returns the captions for the specified video.",
              "location": "query",
              "required": true,
              "type": "string"
            },
            "onBehalfOf": {
              "type": "string",
              "description": "ID of the Google+ Page for the channel that the request is on behalf of.",
              "location": "query"
            }
          },
          "flatPath": "youtube/v3/captions",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "httpMethod": "GET"
        },
        "delete": {
          "flatPath": "youtube/v3/captions",
          "id": "youtube.captions.delete",
          "path": "youtube/v3/captions",
          "parameterOrder": [
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "description": "Deletes a resource.",
          "httpMethod": "DELETE",
          "parameters": {
            "onBehalfOf": {
              "type": "string",
              "location": "query",
              "description": "ID of the Google+ Page for the channel that the request is be on behalf of"
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            },
            "id": {
              "type": "string",
              "location": "query",
              "required": true
            }
          }
        }
      }
    },
    "commentThreads": {
      "methods": {
        "list": {
          "description": "Retrieves a list of resources, possibly filtered.",
          "path": "youtube/v3/commentThreads",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "parameterOrder": [
            "part"
          ],
          "response": {
            "$ref": "CommentThreadListResponse"
          },
          "parameters": {
            "order": {
              "type": "string",
              "location": "query",
              "default": "time",
              "enumDescriptions": [
                "",
                "Order by time.",
                "Order by relevance."
              ],
              "enum": [
                "orderUnspecified",
                "time",
                "relevance"
              ]
            },
            "channelId": {
              "type": "string",
              "location": "query",
              "description": "Returns the comment threads for all the channel comments (ie does not include comments left on videos)."
            },
            "videoId": {
              "description": "Returns the comment threads of the specified video.",
              "type": "string",
              "location": "query"
            },
            "searchTerms": {
              "type": "string",
              "location": "query",
              "description": "Limits the returned comment threads to those matching the specified key words. Not compatible with the 'id' filter."
            },
            "allThreadsRelatedToChannelId": {
              "location": "query",
              "description": "Returns the comment threads of all videos of the channel and the channel comments as well.",
              "type": "string"
            },
            "textFormat": {
              "location": "query",
              "type": "string",
              "enum": [
                "textFormatUnspecified",
                "html",
                "plainText"
              ],
              "default": "html",
              "description": "The requested text format for the returned comments.",
              "enumDescriptions": [
                "",
                "Returns the comments in HTML format. This is the default value.",
                "Returns the comments in plain text format."
              ]
            },
            "pageToken": {
              "type": "string",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "location": "query"
            },
            "moderationStatus": {
              "description": "Limits the returned comment threads to those with the specified moderation status. Not compatible with the 'id' filter. Valid values: published, heldForReview, likelySpam.",
              "type": "string",
              "enum": [
                "published",
                "heldForReview",
                "likelySpam",
                "rejected"
              ],
              "location": "query",
              "default": "published",
              "enumDescriptions": [
                "The comment is available for public display.",
                "The comment is awaiting review by a moderator.",
                "",
                "The comment is unfit for display."
              ]
            },
            "id": {
              "repeated": true,
              "type": "string",
              "description": "Returns the comment threads with the given IDs for Stubby or Apiary.",
              "location": "query"
            },
            "maxResults": {
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "minimum": "1",
              "type": "integer",
              "format": "uint32",
              "maximum": "100",
              "default": "20",
              "location": "query"
            },
            "part": {
              "description": "The *part* parameter specifies a comma-separated list of one or more commentThread resource properties that the API response will include.",
              "type": "string",
              "location": "query",
              "required": true,
              "repeated": true
            }
          },
          "id": "youtube.commentThreads.list",
          "httpMethod": "GET",
          "flatPath": "youtube/v3/commentThreads"
        },
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "parameterOrder": [
            "part"
          ],
          "httpMethod": "POST",
          "parameters": {
            "part": {
              "location": "query",
              "type": "string",
              "required": true,
              "description": "The *part* parameter identifies the properties that the API response will include. Set the parameter value to snippet. The snippet part has a quota cost of 2 units.",
              "repeated": true
            }
          },
          "flatPath": "youtube/v3/commentThreads",
          "description": "Inserts a new resource into this collection.",
          "id": "youtube.commentThreads.insert",
          "request": {
            "$ref": "CommentThread"
          },
          "response": {
            "$ref": "CommentThread"
          },
          "path": "youtube/v3/commentThreads"
        },
        "update": {
          "parameterOrder": [
            "part"
          ],
          "description": "Updates an existing resource.",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "request": {
            "$ref": "CommentThread"
          },
          "parameters": {
            "part": {
              "location": "query",
              "repeated": true,
              "required": true,
              "type": "string",
              "description": "The *part* parameter specifies a comma-separated list of commentThread resource properties that the API response will include. You must at least include the snippet part in the parameter value since that part contains all of the properties that the API request can update."
            }
          },
          "id": "youtube.commentThreads.update",
          "path": "youtube/v3/commentThreads",
          "response": {
            "$ref": "CommentThread"
          },
          "flatPath": "youtube/v3/commentThreads",
          "httpMethod": "PUT"
        }
      }
    },
    "liveChatBans": {
      "methods": {
        "insert": {
          "parameters": {
            "part": {
              "location": "query",
              "type": "string",
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response returns. Set the parameter value to snippet.",
              "required": true,
              "repeated": true
            }
          },
          "response": {
            "$ref": "LiveChatBan"
          },
          "flatPath": "youtube/v3/liveChat/bans",
          "parameterOrder": [
            "part"
          ],
          "request": {
            "$ref": "LiveChatBan"
          },
          "description": "Inserts a new resource into this collection.",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "path": "youtube/v3/liveChat/bans",
          "id": "youtube.liveChatBans.insert"
        },
        "delete": {
          "httpMethod": "DELETE",
          "parameterOrder": [
            "id"
          ],
          "description": "Deletes a chat ban.",
          "parameters": {
            "id": {
              "location": "query",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "youtube/v3/liveChat/bans",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "path": "youtube/v3/liveChat/bans",
          "id": "youtube.liveChatBans.delete"
        }
      }
    },
    "videoAbuseReportReasons": {
      "methods": {
        "list": {
          "id": "youtube.videoAbuseReportReasons.list",
          "description": "Retrieves a list of resources, possibly filtered.",
          "parameters": {
            "part": {
              "type": "string",
              "location": "query",
              "description": "The *part* parameter specifies the videoCategory resource parts that the API response will include. Supported values are id and snippet.",
              "required": true,
              "repeated": true
            },
            "hl": {
              "default": "en-US",
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [
            "part"
          ],
          "response": {
            "$ref": "VideoAbuseReportReasonListResponse"
          },
          "flatPath": "youtube/v3/videoAbuseReportReasons",
          "httpMethod": "GET",
          "path": "youtube/v3/videoAbuseReportReasons",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly"
          ]
        }
      }
    },
    "watermarks": {
      "methods": {
        "set": {
          "parameterOrder": [
            "channelId"
          ],
          "flatPath": "youtube/v3/watermarks/set",
          "description": "Allows upload of watermark image and setting it for a channel.",
          "request": {
            "$ref": "InvideoBranding"
          },
          "path": "youtube/v3/watermarks/set",
          "parameters": {
            "onBehalfOfContentOwner": {
              "location": "query",
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            },
            "channelId": {
              "required": true,
              "type": "string",
              "location": "query"
            }
          },
          "httpMethod": "POST",
          "mediaUpload": {
            "maxSize": "10485760",
            "protocols": {
              "resumable": {
                "path": "/resumable/upload/youtube/v3/watermarks/set",
                "multipart": true
              },
              "simple": {
                "multipart": true,
                "path": "/upload/youtube/v3/watermarks/set"
              }
            },
            "accept": [
              "image/jpeg",
              "image/png",
              "application/octet-stream"
            ]
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.upload",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "id": "youtube.watermarks.set",
          "supportsMediaUpload": true
        },
        "unset": {
          "parameters": {
            "onBehalfOfContentOwner": {
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string"
            },
            "channelId": {
              "type": "string",
              "required": true,
              "location": "query"
            }
          },
          "description": "Allows removal of channel watermark.",
          "httpMethod": "POST",
          "parameterOrder": [
            "channelId"
          ],
          "id": "youtube.watermarks.unset",
          "path": "youtube/v3/watermarks/unset",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "flatPath": "youtube/v3/watermarks/unset"
        }
      }
    },
    "comments": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "path": "youtube/v3/comments",
          "httpMethod": "GET",
          "parameterOrder": [
            "part"
          ],
          "response": {
            "$ref": "CommentListResponse"
          },
          "flatPath": "youtube/v3/comments",
          "parameters": {
            "parentId": {
              "description": "Returns replies to the specified comment. Note, currently YouTube features only one level of replies (ie replies to top level comments). However replies to replies may be supported in the future.",
              "type": "string",
              "location": "query"
            },
            "textFormat": {
              "description": "The requested text format for the returned comments.",
              "location": "query",
              "default": "html",
              "enum": [
                "textFormatUnspecified",
                "html",
                "plainText"
              ],
              "enumDescriptions": [
                "",
                "Returns the comments in HTML format. This is the default value.",
                "Returns the comments in plain text format."
              ],
              "type": "string"
            },
            "maxResults": {
              "maximum": "100",
              "type": "integer",
              "default": "20",
              "format": "uint32",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "location": "query",
              "minimum": "1"
            },
            "id": {
              "location": "query",
              "repeated": true,
              "description": "Returns the comments with the given IDs for One Platform.",
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "location": "query"
            },
            "part": {
              "type": "string",
              "required": true,
              "repeated": true,
              "location": "query",
              "description": "The *part* parameter specifies a comma-separated list of one or more comment resource properties that the API response will include."
            }
          },
          "description": "Retrieves a list of resources, possibly filtered.",
          "id": "youtube.comments.list"
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "path": "youtube/v3/comments",
          "parameters": {
            "id": {
              "required": true,
              "location": "query",
              "type": "string"
            }
          },
          "flatPath": "youtube/v3/comments",
          "httpMethod": "DELETE",
          "description": "Deletes a resource.",
          "id": "youtube.comments.delete",
          "parameterOrder": [
            "id"
          ]
        },
        "insert": {
          "path": "youtube/v3/comments",
          "request": {
            "$ref": "Comment"
          },
          "flatPath": "youtube/v3/comments",
          "id": "youtube.comments.insert",
          "parameters": {
            "part": {
              "location": "query",
              "required": true,
              "type": "string",
              "repeated": true,
              "description": "The *part* parameter identifies the properties that the API response will include. Set the parameter value to snippet. The snippet part has a quota cost of 2 units."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "parameterOrder": [
            "part"
          ],
          "description": "Inserts a new resource into this collection.",
          "response": {
            "$ref": "Comment"
          },
          "httpMethod": "POST"
        },
        "setModerationStatus": {
          "parameterOrder": [
            "id",
            "moderationStatus"
          ],
          "httpMethod": "POST",
          "path": "youtube/v3/comments/setModerationStatus",
          "parameters": {
            "banAuthor": {
              "description": "If set to true the author of the comment gets added to the ban list. This means all future comments of the author will autmomatically be rejected. Only valid in combination with STATUS_REJECTED.",
              "location": "query",
              "default": "false",
              "type": "boolean"
            },
            "moderationStatus": {
              "description": "Specifies the requested moderation status. Note, comments can be in statuses, which are not available through this call. For example, this call does not allow to mark a comment as 'likely spam'. Valid values: MODERATION_STATUS_PUBLISHED, MODERATION_STATUS_HELD_FOR_REVIEW, MODERATION_STATUS_REJECTED.",
              "type": "string",
              "location": "query",
              "required": true,
              "enumDescriptions": [
                "The comment is available for public display.",
                "The comment is awaiting review by a moderator.",
                "",
                "The comment is unfit for display."
              ],
              "enum": [
                "published",
                "heldForReview",
                "likelySpam",
                "rejected"
              ]
            },
            "id": {
              "type": "string",
              "description": "Modifies the moderation status of the comments with the given IDs",
              "repeated": true,
              "location": "query",
              "required": true
            }
          },
          "flatPath": "youtube/v3/comments/setModerationStatus",
          "description": "Sets the moderation status of one or more comments.",
          "id": "youtube.comments.setModerationStatus",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ]
        },
        "markAsSpam": {
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "parameterOrder": [
            "id"
          ],
          "path": "youtube/v3/comments/markAsSpam",
          "parameters": {
            "id": {
              "repeated": true,
              "type": "string",
              "location": "query",
              "description": "Flags the comments with the given IDs as spam in the caller's opinion.",
              "required": true
            }
          },
          "flatPath": "youtube/v3/comments/markAsSpam",
          "httpMethod": "POST",
          "id": "youtube.comments.markAsSpam",
          "description": "Expresses the caller's opinion that one or more comments should be flagged as spam."
        },
        "update": {
          "parameters": {
            "part": {
              "repeated": true,
              "type": "string",
              "location": "query",
              "description": "The *part* parameter identifies the properties that the API response will include. You must at least include the snippet part in the parameter value since that part contains all of the properties that the API request can update.",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "id": "youtube.comments.update",
          "parameterOrder": [
            "part"
          ],
          "description": "Updates an existing resource.",
          "response": {
            "$ref": "Comment"
          },
          "httpMethod": "PUT",
          "flatPath": "youtube/v3/comments",
          "path": "youtube/v3/comments",
          "request": {
            "$ref": "Comment"
          }
        }
      }
    },
    "thumbnails": {
      "methods": {
        "set": {
          "flatPath": "youtube/v3/thumbnails/set",
          "supportsMediaUpload": true,
          "path": "youtube/v3/thumbnails/set",
          "description": "As this is not an insert in a strict sense (it supports uploading/setting of a thumbnail for multiple videos, which doesn't result in creation of a single resource), I use a custom verb here.",
          "parameters": {
            "videoId": {
              "type": "string",
              "description": "Returns the Thumbnail with the given video IDs for Stubby or Apiary.",
              "location": "query",
              "required": true
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            }
          },
          "mediaUpload": {
            "accept": [
              "image/jpeg",
              "image/png",
              "application/octet-stream"
            ],
            "protocols": {
              "simple": {
                "path": "/upload/youtube/v3/thumbnails/set",
                "multipart": true
              },
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/youtube/v3/thumbnails/set"
              }
            },
            "maxSize": "2097152"
          },
          "id": "youtube.thumbnails.set",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.upload",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameterOrder": [
            "videoId"
          ],
          "response": {
            "$ref": "ThumbnailSetResponse"
          },
          "httpMethod": "POST"
        }
      }
    },
    "channels": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "response": {
            "$ref": "ChannelListResponse"
          },
          "description": "Retrieves a list of resources, possibly filtered.",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner",
            "https://www.googleapis.com/auth/youtubepartner-channel-audit"
          ],
          "flatPath": "youtube/v3/channels",
          "id": "youtube.channels.list",
          "parameterOrder": [
            "part"
          ],
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "type": "string"
            },
            "mine": {
              "location": "query",
              "description": "Return the ids of channels owned by the authenticated user.",
              "type": "boolean"
            },
            "mySubscribers": {
              "type": "boolean",
              "description": "Return the channels subscribed to the authenticated user",
              "location": "query"
            },
            "maxResults": {
              "format": "uint32",
              "default": "5",
              "type": "integer",
              "location": "query",
              "maximum": "50",
              "minimum": "0",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set."
            },
            "forUsername": {
              "type": "string",
              "location": "query",
              "description": "Return the channel associated with a YouTube username."
            },
            "categoryId": {
              "location": "query",
              "description": "Return the channels within the specified guide category ID.",
[...]
