{
  "id": "youtube:v3",
  "parameters": {
    "alt": {
      "default": "json",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "discoveryVersion": "v1",
  "schemas": {
    "ActivityContentDetailsSubscription": {
      "type": "object",
      "properties": {
        "resourceId": {
          "$ref": "ResourceId",
          "description": "The resourceId object contains information that identifies the resource that the user subscribed to."
        }
      },
      "id": "ActivityContentDetailsSubscription",
      "description": "Information about a channel that a user subscribed to."
    },
    "ThumbnailSetResponse": {
      "id": "ThumbnailSetResponse",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "default": "youtube#thumbnailSetResponse",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#thumbnailSetResponse\"."
        },
        "visitorId": {
          "type": "string",
          "description": "The visitorId identifies the visitor."
        },
        "items": {
          "items": {
            "$ref": "ThumbnailDetails"
          },
          "type": "array",
          "description": "A list of thumbnails."
        },
        "eventId": {
          "description": "Serialized EventId of the request which produced this response.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        }
      }
    },
    "I18nLanguageListResponse": {
      "id": "I18nLanguageListResponse",
      "type": "object",
      "properties": {
        "items": {
          "items": {
            "$ref": "I18nLanguage"
          },
          "type": "array",
          "description": "A list of supported i18n languages. In this map, the i18n language ID is the map key, and its value is the corresponding i18nLanguage resource."
        },
        "kind": {
          "default": "youtube#i18nLanguageListResponse",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#i18nLanguageListResponse\".",
          "type": "string"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "visitorId": {
          "type": "string",
          "description": "The visitorId identifies the visitor."
        },
        "eventId": {
          "description": "Serialized EventId of the request which produced this response.",
          "type": "string"
        }
      }
    },
    "VideoContentDetails": {
      "type": "object",
      "description": "Details about the content of a YouTube Video.",
      "id": "VideoContentDetails",
      "properties": {
        "licensedContent": {
          "type": "boolean",
          "description": "The value of is_license_content indicates whether the video is licensed content."
        },
        "contentRating": {
          "description": "Specifies the ratings that the video received under various rating schemes.",
          "$ref": "ContentRating"
        },
        "regionRestriction": {
          "description": "The regionRestriction object contains information about the countries where a video is (or is not) viewable. The object will contain either the contentDetails.regionRestriction.allowed property or the contentDetails.regionRestriction.blocked property.",
          "$ref": "VideoContentDetailsRegionRestriction"
        },
        "dimension": {
          "type": "string",
          "description": "The value of dimension indicates whether the video is available in 3D or in 2D."
        },
        "countryRestriction": {
          "description": "The countryRestriction object contains information about the countries where a video is (or is not) viewable.",
          "$ref": "AccessPolicy"
        },
        "definition": {
          "enum": [
            "sd",
            "hd"
          ],
          "enumDescriptions": [
            "sd",
            "hd"
          ],
          "type": "string",
          "description": "The value of definition indicates whether the video is available in high definition or only in standard definition."
        },
        "duration": {
          "description": "The length of the video. The tag value is an ISO 8601 duration in the format PT#M#S, in which the letters PT indicate that the value specifies a period of time, and the letters M and S refer to length in minutes and seconds, respectively. The # characters preceding the M and S letters are both integers that specify the number of minutes (or seconds) of the video. For example, a value of PT15M51S indicates that the video is 15 minutes and 51 seconds long.",
          "type": "string"
        },
        "hasCustomThumbnail": {
          "type": "boolean",
          "description": "Indicates whether the video uploader has provided a custom thumbnail image for the video. This property is only visible to the video uploader."
        },
        "caption": {
          "description": "The value of captions indicates whether the video has captions or not.",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "true",
            "false"
          ],
          "type": "string"
        },
        "projection": {
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "rectangular",
            "360"
          ],
          "type": "string",
          "description": "Specifies the projection format of the video."
        }
      }
    },
    "CommentThreadListResponse": {
      "properties": {
        "pageInfo": {
          "$ref": "PageInfo",
          "description": "General pagination information."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#commentThreadListResponse\".",
          "type": "string",
          "default": "youtube#commentThreadListResponse"
        },
        "visitorId": {
          "type": "string",
          "description": "The visitorId identifies the visitor."
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "tokenPagination": {
          "$ref": "TokenPagination"
        },
        "eventId": {
          "description": "Serialized EventId of the request which produced this response.",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set."
        },
        "items": {
          "type": "array",
          "description": "A list of comment threads that match the request criteria.",
          "items": {
            "$ref": "CommentThread"
          }
        }
      },
      "id": "CommentThreadListResponse",
      "type": "object"
    },
    "Activity": {
      "properties": {
        "snippet": {
          "$ref": "ActivitySnippet",
          "description": "The snippet object contains basic details about the activity, including the activity's type and group ID."
        },
        "id": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the activity."
        },
        "contentDetails": {
          "$ref": "ActivityContentDetails",
          "description": "The contentDetails object contains information about the content associated with the activity. For example, if the snippet.type value is videoRated, then the contentDetails object's content identifies the rated video."
        },
        "kind": {
          "type": "string",
          "default": "youtube#activity",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#activity\"."
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource"
        }
      },
      "type": "object",
      "description": "An *activity* resource contains information about an action that a particular channel, or user, has taken on YouTube.The actions reported in activity feeds include rating a video, sharing a video, marking a video as a favorite, commenting on a video, uploading a video, and so forth. Each activity resource identifies the type of action, the channel associated with the action, and the resource(s) associated with the action, such as the video that was rated or uploaded.",
      "id": "Activity"
    },
    "VideoStatus": {
      "id": "VideoStatus",
      "type": "object",
      "properties": {
        "publishAt": {
          "type": "string",
          "format": "date-time",
          "description": "The date and time when the video is scheduled to publish. It can be set only if the privacy status of the video is private.."
        },
        "embeddable": {
          "type": "boolean",
          "description": "This value indicates if the video can be embedded on another website. @mutable youtube.videos.insert youtube.videos.update"
        },
        "publicStatsViewable": {
          "type": "boolean",
          "description": "This value indicates if the extended video statistics on the watch page can be viewed by everyone. Note that the view count, likes, etc will still be visible if this is disabled. @mutable youtube.videos.insert youtube.videos.update"
        },
        "license": {
          "type": "string",
          "description": "The video's license. @mutable youtube.videos.insert youtube.videos.update",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "youtube",
            "creativeCommon"
          ]
        },
        "madeForKids": {
          "type": "boolean"
        },
        "rejectionReason": {
          "enum": [
            "copyright",
            "inappropriate",
            "duplicate",
            "termsOfUse",
            "uploaderAccountSuspended",
            "length",
            "claim",
            "uploaderAccountClosed",
            "trademark",
            "legal"
          ],
          "description": "This value explains why YouTube rejected an uploaded video. This property is only present if the uploadStatus property indicates that the upload was rejected.",
          "type": "string",
          "enumDescriptions": [
            "Copyright infringement.",
            "Inappropriate video content.",
            "Duplicate upload in the same channel.",
            "Terms of use violation.",
            "Uploader account was suspended.",
            "Video duration was too long.",
            "Blocked by content owner.",
            "Uploader closed his/her account.",
            "Trademark infringement.",
            "An unspecified legal reason."
          ]
        },
        "selfDeclaredMadeForKids": {
          "type": "boolean"
        },
        "uploadStatus": {
          "description": "The status of the uploaded video.",
          "enumDescriptions": [
            "Video has been uploaded but not processed yet.",
            "Video has been successfully processed.",
            "Processing has failed. See FailureReason.",
            "Video has been rejected. See RejectionReason.",
            "Video has been deleted."
          ],
          "enum": [
            "uploaded",
            "processed",
            "failed",
            "rejected",
            "deleted"
          ],
          "type": "string"
        },
        "privacyStatus": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "public",
            "unlisted",
            "private"
          ],
          "description": "The video's privacy status."
        },
        "failureReason": {
          "enum": [
            "conversion",
            "invalidFile",
            "emptyFile",
            "tooSmall",
            "codec",
            "uploadAborted"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unable to convert video content.",
            "Invalid file format.",
            "Empty file.",
            "File was too small.",
            "Unsupported codec.",
            "Upload wasn't finished."
          ],
          "description": "This value explains why a video failed to upload. This property is only present if the uploadStatus property indicates that the upload failed."
        }
      },
      "description": "Basic details about a video category, such as its localized title. Next Id: 17"
    },
    "ChannelContentDetails": {
      "type": "object",
      "id": "ChannelContentDetails",
      "description": "Details about the content of a channel.",
      "properties": {
        "relatedPlaylists": {
          "properties": {
            "likes": {
              "description": "The ID of the playlist that contains the channel\"s liked videos. Use the playlistItems.insert and playlistItems.delete to add or remove items from that list.",
              "type": "string"
            },
            "watchLater": {
              "description": "The ID of the playlist that contains the channel\"s watch later playlist. Use the playlistItems.insert and playlistItems.delete to add or remove items from that list.",
              "type": "string"
            },
            "uploads": {
              "description": "The ID of the playlist that contains the channel\"s uploaded videos. Use the videos.insert method to upload new videos and the videos.delete method to delete previously uploaded videos.",
              "type": "string"
            },
            "favorites": {
              "type": "string",
              "description": "The ID of the playlist that contains the channel\"s favorite videos. Use the playlistItems.insert and playlistItems.delete to add or remove items from that list."
            },
            "watchHistory": {
              "type": "string",
              "description": "The ID of the playlist that contains the channel\"s watch history. Use the playlistItems.insert and playlistItems.delete to add or remove items from that list."
            }
          },
          "type": "object"
        }
      }
    },
    "VideoSnippet": {
      "description": "Basic details about a video, including title, description, uploader, thumbnails and category.",
      "id": "VideoSnippet",
      "type": "object",
      "properties": {
        "thumbnails": {
          "description": "A map of thumbnail images associated with the video. For each object in the map, the key is the name of the thumbnail image, and the value is an object that contains other information about the thumbnail.",
          "$ref": "ThumbnailDetails"
        },
        "channelId": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the channel that the video was uploaded to."
        },
        "title": {
          "type": "string",
          "description": "The video's title. @mutable youtube.videos.insert youtube.videos.update"
        },
        "defaultAudioLanguage": {
          "type": "string",
          "description": "The default_audio_language property specifies the language spoken in the video's default audio track."
        },
        "liveBroadcastContent": {
          "type": "string",
          "enum": [
            "none",
            "upcoming",
            "live",
            "completed"
          ],
          "description": "Indicates if the video is an upcoming/active live broadcast. Or it's \"none\" if the video is not an upcoming/active live broadcast.",
          "enumDescriptions": [
            "",
            "The live broadcast is upcoming.",
            "The live broadcast is active.",
            "The live broadcast has been completed."
          ]
        },
        "description": {
          "type": "string",
          "description": "The video's description. @mutable youtube.videos.insert youtube.videos.update"
        },
        "channelTitle": {
          "description": "Channel title for the channel that the video belongs to.",
          "type": "string"
        },
        "tags": {
          "items": {
            "type": "string"
          },
          "description": "A list of keyword tags associated with the video. Tags may contain spaces.",
          "type": "array"
        },
        "localized": {
          "description": "Localized snippet selected with the hl parameter. If no such localization exists, this field is populated with the default snippet. (Read-only)",
          "$ref": "VideoLocalization"
        },
        "defaultLanguage": {
          "description": "The language of the videos's default snippet.",
          "type": "string"
        },
        "publishedAt": {
          "description": "The date and time when the video was uploaded.",
          "type": "string",
          "format": "date-time"
        },
        "categoryId": {
          "description": "The YouTube video category associated with the video.",
          "type": "string"
        }
      }
    },
    "VideoAbuseReportReason": {
      "description": "A `__videoAbuseReportReason__` resource identifies a reason that a video could be reported as abusive. Video abuse report reasons are used with `video.ReportAbuse`.",
      "type": "object",
      "properties": {
        "id": {
          "description": "The ID of this abuse report reason.",
          "type": "string"
        },
        "snippet": {
          "description": "The `snippet` object contains basic details about the abuse report reason.",
          "$ref": "VideoAbuseReportReasonSnippet"
        },
        "kind": {
          "type": "string",
          "default": "youtube#videoAbuseReportReason",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"youtube#videoAbuseReportReason\"`."
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        }
      },
      "id": "VideoAbuseReportReason"
    },
    "VideoAbuseReportSecondaryReason": {
      "properties": {
        "id": {
          "description": "The ID of this abuse report secondary reason.",
          "type": "string"
        },
        "label": {
          "type": "string",
          "description": "The localized label for this abuse report secondary reason."
        }
      },
      "id": "VideoAbuseReportSecondaryReason",
      "type": "object"
    },
    "ChannelSectionSnippet": {
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "channelsectionTypeUnspecified",
            "singlePlaylist",
            "multiplePlaylists",
            "popularUploads",
            "recentUploads",
            "likes",
            "allPlaylists",
            "likedPlaylists",
            "recentPosts",
            "recentActivity",
            "liveEvents",
            "upcomingEvents",
            "completedEvents",
            "multipleChannels",
            "postedVideos",
            "postedPlaylists",
            "subscriptions"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "The type of the channel section."
        },
        "channelId": {
          "description": "The ID that YouTube uses to uniquely identify the channel that published the channel section.",
          "type": "string"
        },
        "position": {
          "format": "uint32",
          "description": "The position of the channel section in the channel.",
          "type": "integer"
        },
        "style": {
          "enum": [
            "channelsectionStyleUnspecified",
            "horizontalRow",
            "verticalList"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "The style of the channel section.",
          "type": "string"
        },
        "title": {
          "description": "The channel section's title for multiple_playlists and multiple_channels.",
          "type": "string"
        },
        "defaultLanguage": {
          "type": "string",
          "description": "The language of the channel section's default title and description."
        },
        "localized": {
          "$ref": "ChannelSectionLocalization",
          "description": "Localized title, read-only."
        }
      },
      "description": "Basic details about a channel section, including title, style and position.",
      "type": "object",
      "id": "ChannelSectionSnippet"
    },
    "ActivityContentDetailsRecommendation": {
      "properties": {
        "seedResourceId": {
          "description": "The seedResourceId object contains information about the resource that caused the recommendation.",
          "$ref": "ResourceId"
        },
        "resourceId": {
          "description": "The resourceId object contains information that identifies the recommended resource.",
          "$ref": "ResourceId"
        },
        "reason": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "reasonUnspecified",
            "videoFavorited",
            "videoLiked",
            "videoWatched"
          ],
          "description": "The reason that the resource is recommended to the user."
        }
      },
      "type": "object",
      "description": "Information that identifies the recommended resource.",
      "id": "ActivityContentDetailsRecommendation"
    },
    "PlaylistContentDetails": {
      "id": "PlaylistContentDetails",
      "properties": {
        "itemCount": {
          "type": "integer",
          "format": "uint32",
          "description": "The number of videos in the playlist."
        }
      },
      "type": "object"
    },
    "Member": {
      "id": "Member",
      "description": "A *member* resource represents a member for a YouTube channel. A member provides recurring monetary support to a creator and receives special benefits.",
      "type": "object",
      "properties": {
        "snippet": {
          "description": "The snippet object contains basic details about the member.",
          "$ref": "MemberSnippet"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "kind": {
          "default": "youtube#member",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#member\".",
          "type": "string"
        }
      }
    },
    "ActivityContentDetailsFavorite": {
      "id": "ActivityContentDetailsFavorite",
      "description": "Information about a video that was marked as a favorite video.",
      "type": "object",
      "properties": {
        "resourceId": {
          "$ref": "ResourceId",
          "description": "The resourceId object contains information that identifies the resource that was marked as a favorite."
        }
      }
    },
    "SuperStickerMetadata": {
      "id": "SuperStickerMetadata",
      "properties": {
        "altText": {
          "type": "string",
          "description": "Internationalized alt text that describes the sticker image and any animation associated with it."
        },
        "stickerId": {
          "type": "string",
          "description": "Unique identifier of the Super Sticker. This is a shorter form of the alt_text that includes pack name and a recognizable characteristic of the sticker."
        },
        "altTextLanguage": {
          "description": "Specifies the localization language in which the alt text is returned.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ThirdPartyLinkSnippet": {
      "id": "ThirdPartyLinkSnippet",
      "description": "Basic information about a third party account link, including its type and type-specific information.",
      "type": "object",
      "properties": {
        "channelToStoreLink": {
          "description": "Information specific to a link between a channel and a store on a merchandising platform.",
          "$ref": "ChannelToStoreLinkDetails"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            "A link that is connecting (or about to connect) a channel with a store on a merchandising platform in order to enable retail commerce capabilities for that channel on YouTube."
          ],
          "description": "Type of the link named after the entities that are being linked.",
          "enum": [
            "linkUnspecified",
            "channelToStoreLink"
          ]
        }
      }
    },
    "PlaylistPlayer": {
      "properties": {
        "embedHtml": {
          "type": "string",
          "description": "An \u003ciframe\u003e tag that embeds a player that will play the playlist."
        }
      },
      "id": "PlaylistPlayer",
      "type": "object"
    },
    "CommentThreadSnippet": {
      "type": "object",
      "id": "CommentThreadSnippet",
      "description": "Basic details about a comment thread.",
      "properties": {
        "isPublic": {
          "description": "Whether the thread (and therefore all its comments) is visible to all YouTube users.",
          "type": "boolean"
        },
        "channelId": {
          "type": "string",
          "description": "The YouTube channel the comments in the thread refer to or the channel with the video the comments refer to. If video_id isn't set the comments refer to the channel itself."
        },
        "topLevelComment": {
          "$ref": "Comment",
          "description": "The top level comment of this thread."
        },
        "canReply": {
          "description": "Whether the current viewer of the thread can reply to it. This is viewer specific - other viewers may see a different value for this field.",
          "type": "boolean"
        },
        "videoId": {
          "description": "The ID of the video the comments refer to, if any. No video_id implies a channel discussion comment.",
          "type": "string"
        },
        "totalReplyCount": {
          "format": "uint32",
          "type": "integer",
          "description": "The total number of replies (not including the top level comment)."
        }
      }
    },
    "PlaylistItemContentDetails": {
      "properties": {
        "note": {
          "type": "string",
          "description": "A user-generated note for this item."
        },
        "startAt": {
          "type": "string",
          "description": "The time, measured in seconds from the start of the video, when the video should start playing. (The playlist owner can specify the times when the video should start and stop playing when the video is played in the context of the playlist.) The default value is 0."
        },
        "videoPublishedAt": {
          "description": "The date and time that the video was published to YouTube.",
          "format": "date-time",
          "type": "string"
        },
        "videoId": {
          "description": "The ID that YouTube uses to uniquely identify a video. To retrieve the video resource, set the id query parameter to this value in your API request.",
          "type": "string"
        },
        "endAt": {
          "type": "string",
          "description": "The time, measured in seconds from the start of the video, when the video should stop playing. (The playlist owner can specify the times when the video should start and stop playing when the video is played in the context of the playlist.) By default, assume that the video.endTime is the end of the video."
        }
      },
      "id": "PlaylistItemContentDetails",
      "type": "object"
    },
    "GeoPoint": {
      "type": "object",
      "properties": {
        "altitude": {
          "description": "Altitude above the reference ellipsoid, in meters.",
          "type": "number",
          "format": "double"
        },
        "latitude": {
          "format": "double",
          "type": "number",
          "description": "Latitude in degrees."
        },
        "longitude": {
          "type": "number",
          "format": "double",
          "description": "Longitude in degrees."
        }
      },
      "description": "Geographical coordinates of a point, in WGS84.",
      "id": "GeoPoint"
    },
    "Thumbnail": {
      "id": "Thumbnail",
      "properties": {
        "width": {
          "description": "(Optional) Width of the thumbnail image.",
          "format": "uint32",
          "type": "integer"
        },
        "height": {
          "type": "integer",
          "format": "uint32",
          "description": "(Optional) Height of the thumbnail image."
        },
        "url": {
          "type": "string",
          "description": "The thumbnail image's URL."
        }
      },
      "type": "object",
      "description": "A thumbnail is an image representing a YouTube resource."
    },
    "VideoListResponse": {
      "id": "VideoListResponse",
      "properties": {
        "nextPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set.",
          "type": "string"
        },
        "prevPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set.",
          "type": "string"
        },
        "eventId": {
          "description": "Serialized EventId of the request which produced this response.",
          "type": "string"
        },
        "tokenPagination": {
          "$ref": "TokenPagination"
        },
        "visitorId": {
          "type": "string",
          "description": "The visitorId identifies the visitor."
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "Video"
          }
        },
        "pageInfo": {
          "$ref": "PageInfo",
          "description": "General pagination information."
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#videoListResponse\".",
          "default": "youtube#videoListResponse"
        }
      },
      "type": "object"
    },
    "ActivityContentDetailsPlaylistItem": {
      "properties": {
        "resourceId": {
          "$ref": "ResourceId",
          "description": "The resourceId object contains information about the resource that was added to the playlist."
        },
        "playlistId": {
          "type": "string",
          "description": "The value that YouTube uses to uniquely identify the playlist."
        },
        "playlistItemId": {
          "type": "string",
          "description": "ID of the item within the playlist."
        }
      },
      "type": "object",
      "description": "Information about a new playlist item.",
      "id": "ActivityContentDetailsPlaylistItem"
    },
    "MembershipsLevelListResponse": {
      "type": "object",
      "id": "MembershipsLevelListResponse",
      "properties": {
        "eventId": {
          "type": "string",
          "description": "Serialized EventId of the request which produced this response."
        },
        "items": {
          "type": "array",
          "description": "A list of pricing levels offered by a creator to the fans.",
          "items": {
            "$ref": "MembershipsLevel"
          }
        },
        "visitorId": {
          "type": "string",
          "description": "The visitorId identifies the visitor."
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "kind": {
          "type": "string",
          "default": "youtube#membershipsLevelListResponse",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#membershipsLevelListResponse\"."
        }
      }
    },
    "ActivityListResponse": {
      "properties": {
        "visitorId": {
          "type": "string",
          "description": "The visitorId identifies the visitor."
        },
        "prevPageToken": {
          "type": "string",
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#activityListResponse\".",
          "type": "string",
          "default": "youtube#activityListResponse"
        },
        "eventId": {
          "description": "Serialized EventId of the request which produced this response.",
          "type": "string"
        },
        "pageInfo": {
          "$ref": "PageInfo",
          "description": "General pagination information."
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "tokenPagination": {
          "$ref": "TokenPagination"
        },
        "items": {
          "items": {
            "$ref": "Activity"
          },
          "type": "array"
        }
      },
      "id": "ActivityListResponse",
      "type": "object"
    },
    "LiveStreamContentDetails": {
      "description": "Detailed settings of a stream.",
      "id": "LiveStreamContentDetails",
      "properties": {
        "isReusable": {
          "description": "Indicates whether the stream is reusable, which means that it can be bound to multiple broadcasts. It is common for broadcasters to reuse the same stream for many different broadcasts if those broadcasts occur at different times. If you set this value to false, then the stream will not be reusable, which means that it can only be bound to one broadcast. Non-reusable streams differ from reusable streams in the following ways: - A non-reusable stream can only be bound to one broadcast. - A non-reusable stream might be deleted by an automated process after the broadcast ends. - The liveStreams.list method does not list non-reusable streams if you call the method and set the mine parameter to true. The only way to use that method to retrieve the resource for a non-reusable stream is to use the id parameter to identify the stream. ",
          "type": "boolean"
        },
        "closedCaptionsIngestionUrl": {
          "description": "The ingestion URL where the closed captions of this stream are sent.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ChannelBannerResource": {
      "id": "ChannelBannerResource",
      "properties": {
        "url": {
          "description": "The URL of this banner image.",
          "type": "string"
        },
        "etag": {
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "youtube#channelBannerResource",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#channelBannerResource\"."
        }
      },
      "type": "object",
      "description": "A channel banner returned as the response to a channel_banner.insert call."
    },
    "MembershipsDuration": {
      "type": "object",
      "id": "MembershipsDuration",
      "properties": {
        "memberSince": {
          "description": "The date and time when the user became a continuous member across all levels.",
          "type": "string"
        },
        "memberTotalDurationMonths": {
          "type": "integer",
          "format": "int32",
          "description": "The cumulative time the user has been a member across all levels in complete months (the time is rounded down to the nearest integer)."
        }
      }
    },
    "ChannelAuditDetails": {
      "properties": {
        "communityGuidelinesGoodStanding": {
          "description": "Whether or not the channel respects the community guidelines.",
          "type": "boolean"
        },
        "copyrightStrikesGoodStanding": {
          "description": "Whether or not the channel has any copyright strikes.",
          "type": "boolean"
        },
        "contentIdClaimsGoodStanding": {
          "type": "boolean",
          "description": "Whether or not the channel has any unresolved claims."
        }
      },
      "type": "object",
      "id": "ChannelAuditDetails",
      "description": "The auditDetails object encapsulates channel data that is relevant for YouTube Partners during the audit process."
    },
    "Video": {
      "description": "A *video* resource represents a YouTube video.",
      "id": "Video",
      "properties": {
        "status": {
          "$ref": "VideoStatus",
          "description": "The status object contains information about the video's uploading, processing, and privacy statuses."
        },
        "liveStreamingDetails": {
          "$ref": "VideoLiveStreamingDetails",
          "description": "The liveStreamingDetails object contains metadata about a live video broadcast. The object will only be present in a video resource if the video is an upcoming, live, or completed live broadcast."
        },
        "player": {
          "$ref": "VideoPlayer",
          "description": "The player object contains information that you would use to play the video in an embedded player."
        },
        "localizations": {
          "type": "object",
          "additionalProperties": {
            "$ref": "VideoLocalization"
          },
          "description": "The localizations object contains localized versions of the basic details about the video, such as its title and description."
        },
        "id": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the video.",
          "annotations": {
            "required": [
              "youtube.videos.update"
            ]
          }
        },
        "recordingDetails": {
          "$ref": "VideoRecordingDetails",
          "description": "The recordingDetails object encapsulates information about the location, date and address where the video was recorded."
        },
        "snippet": {
          "description": "The snippet object contains basic details about the video, such as its title, description, and category.",
          "$ref": "VideoSnippet"
        },
        "processingDetails": {
          "$ref": "VideoProcessingDetails",
          "description": "The processingDetails object encapsulates information about YouTube's progress in processing the uploaded video file. The properties in the object identify the current processing status and an estimate of the time remaining until YouTube finishes processing the video. This part also indicates whether different types of data or content, such as file details or thumbnail images, are available for the video. The processingProgress object is designed to be polled so that the video uploaded can track the progress that YouTube has made in processing the uploaded video file. This data can only be retrieved by the video owner."
        },
        "statistics": {
          "$ref": "VideoStatistics",
          "description": "The statistics object contains statistics about the video."
        },
        "topicDetails": {
          "$ref": "VideoTopicDetails",
          "description": "The topicDetails object encapsulates information about Freebase topics associated with the video."
        },
        "suggestions": {
          "description": "The suggestions object encapsulates suggestions that identify opportunities to improve the video quality or the metadata for the uploaded video. This data can only be retrieved by the video owner.",
          "$ref": "VideoSuggestions"
        },
        "projectDetails": {
          "description": "The projectDetails object contains information about the project specific video metadata. b/157517979: This part was never populated after it was added. However, it sees non-zero traffic because there is generated client code in the wild that refers to it [1]. We keep this field and do NOT remove it because otherwise V3 would return an error when this part gets requested [2]. [1] https://developers.google.com/resources/api-libraries/documentation/youtube/v3/csharp/latest/classGoogle_1_1Apis_1_1YouTube_1_1v3_1_1Data_1_1VideoProjectDetails.html [2] http://google3/video/youtube/src/python/servers/data_api/common.py?l=1565-1569&rcl=344141677",
          "$ref": "VideoProjectDetails"
        },
        "contentDetails": {
          "description": "The contentDetails object contains information about the video content, including the length of the video and its aspect ratio.",
          "$ref": "VideoContentDetails"
        },
        "ageGating": {
          "$ref": "VideoAgeGating",
          "description": "Age restriction details related to a video. This data can only be retrieved by the video owner."
        },
        "monetizationDetails": {
          "description": "The monetizationDetails object encapsulates information about the monetization status of the video.",
          "$ref": "VideoMonetizationDetails"
        },
        "fileDetails": {
          "$ref": "VideoFileDetails",
          "description": "The fileDetails object encapsulates information about the video file that was uploaded to YouTube, including the file's resolution, duration, audio and video codecs, stream bitrates, and more. This data can only be retrieved by the video owner."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#video\".",
          "type": "string",
          "default": "youtube#video"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Playlist": {
      "properties": {
        "snippet": {
          "$ref": "PlaylistSnippet",
          "description": "The snippet object contains basic details about the playlist, such as its title and description."
        },
        "status": {
          "$ref": "PlaylistStatus",
          "description": "The status object contains status information for the playlist."
        },
        "contentDetails": {
          "$ref": "PlaylistContentDetails",
          "description": "The contentDetails object contains information like video count."
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#playlist\".",
          "default": "youtube#playlist",
          "type": "string"
        },
        "player": {
          "$ref": "PlaylistPlayer",
          "description": "The player object contains information that you would use to play the playlist in an embedded player."
        },
        "id": {
          "description": "The ID that YouTube uses to uniquely identify the playlist.",
          "type": "string"
        },
        "localizations": {
          "type": "object",
          "additionalProperties": {
            "$ref": "PlaylistLocalization"
          },
          "description": "Localizations for different languages"
        }
      },
      "type": "object",
      "description": "A *playlist* resource represents a YouTube playlist. A playlist is a collection of videos that can be viewed sequentially and shared with other users. A playlist can contain up to 200 videos, and YouTube does not limit the number of playlists that each user creates. By default, playlists are publicly visible to other users, but playlists can be public or private. YouTube also uses playlists to identify special collections of videos for a channel, such as: - uploaded videos - favorite videos - positively rated (liked) videos - watch history - watch later To be more specific, these lists are associated with a channel, which is a collection of a person, group, or company's videos, playlists, and other YouTube information. You can retrieve the playlist IDs for each of these lists from the channel resource for a given channel. You can then use the playlistItems.list method to retrieve any of those lists. You can also add or remove items from those lists by calling the playlistItems.insert and playlistItems.delete methods.",
      "id": "Playlist"
    },
    "RelatedEntity": {
      "properties": {
        "entity": {
          "$ref": "Entity"
        }
      },
      "type": "object",
      "id": "RelatedEntity"
    },
    "LocalizedProperty": {
      "properties": {
        "default": {
          "type": "string"
        },
        "localized": {
          "type": "array",
          "items": {
            "$ref": "LocalizedString"
          }
        },
        "defaultLanguage": {
          "description": "The language of the default property.",
          "$ref": "LanguageTag"
        }
      },
      "id": "LocalizedProperty",
      "type": "object"
    },
    "I18nLanguageSnippet": {
      "type": "object",
      "description": "Basic details about an i18n language, such as language code and human-readable name.",
      "properties": {
        "hl": {
          "description": "A short BCP-47 code that uniquely identifies a language.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The human-readable name of the language in the language itself."
        }
      },
      "id": "I18nLanguageSnippet"
    },
    "I18nRegionSnippet": {
      "type": "object",
      "properties": {
        "name": {
          "description": "The human-readable name of the region.",
          "type": "string"
        },
        "gl": {
          "type": "string",
          "description": "The region code as a 2-letter ISO country code."
        }
      },
      "id": "I18nRegionSnippet",
      "description": "Basic details about an i18n region, such as region code and human-readable name."
    },
    "ActivityContentDetailsChannelItem": {
      "description": "Details about a resource which was added to a channel.",
      "type": "object",
      "properties": {
        "resourceId": {
          "description": "The resourceId object contains information that identifies the resource that was added to the channel.",
          "$ref": "ResourceId"
        }
      },
      "id": "ActivityContentDetailsChannelItem"
    },
    "LiveStreamHealthStatus": {
      "type": "object",
      "id": "LiveStreamHealthStatus",
      "properties": {
        "configurationIssues": {
          "type": "array",
          "description": "The configurations issues on this stream",
          "items": {
            "$ref": "LiveStreamConfigurationIssue"
          }
        },
        "status": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "The status code of this stream",
          "type": "string",
          "enum": [
            "good",
            "ok",
            "bad",
            "noData",
            "revoked"
          ]
        },
        "lastUpdateTimeSeconds": {
          "type": "string",
          "format": "uint64",
          "description": "The last time this status was updated (in seconds)"
        }
      }
    },
    "PropertyValue": {
      "description": "A pair Property / Value.",
      "type": "object",
      "id": "PropertyValue",
      "properties": {
        "value": {
          "type": "string",
          "description": "The property's value."
        },
        "property": {
          "type": "string",
          "description": "A property."
        }
      }
    },
    "MemberListResponse": {
      "type": "object",
      "id": "MemberListResponse",
      "properties": {
        "tokenPagination": {
          "$ref": "TokenPagination"
        },
        "visitorId": {
          "type": "string",
          "description": "The visitorId identifies the visitor."
        },
        "nextPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set.",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "Member"
          },
          "type": "array",
          "description": "A list of members that match the request criteria."
        },
        "eventId": {
          "type": "string",
          "description": "Serialized EventId of the request which produced this response."
        },
        "pageInfo": {
          "$ref": "PageInfo"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "kind": {
          "default": "youtube#memberListResponse",
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#memberListResponse\"."
        }
      }
    },
    "TokenPagination": {
      "description": "Stub token pagination template to suppress results.",
      "properties": {},
      "type": "object",
      "id": "TokenPagination"
    },
    "I18nRegion": {
      "type": "object",
      "description": "A *i18nRegion* resource identifies a region where YouTube is available.",
      "id": "I18nRegion",
      "properties": {
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "id": {
          "description": "The ID that YouTube uses to uniquely identify the i18n region.",
          "type": "string"
        },
        "snippet": {
          "description": "The snippet object contains basic details about the i18n region, such as region code and human-readable name.",
          "$ref": "I18nRegionSnippet"
        },
        "kind": {
          "default": "youtube#i18nRegion",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#i18nRegion\".",
          "type": "string"
        }
      }
    },
    "CaptionListResponse": {
      "type": "object",
      "properties": {
        "visitorId": {
          "type": "string",
          "description": "The visitorId identifies the visitor."
        },
        "kind": {
          "default": "youtube#captionListResponse",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#captionListResponse\".",
          "type": "string"
        },
        "eventId": {
          "type": "string",
          "description": "Serialized EventId of the request which produced this response."
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "Caption"
          },
          "description": "A list of captions that match the request criteria."
        }
      },
      "id": "CaptionListResponse"
    },
    "PlaylistItemListResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set."
        },
        "tokenPagination": {
          "$ref": "TokenPagination"
        },
        "etag": {
          "type": "string"
        },
        "items": {
          "type": "array",
          "description": "A list of playlist items that match the request criteria.",
          "items": {
            "$ref": "PlaylistItem"
          }
        },
        "eventId": {
          "description": "Serialized EventId of the request which produced this response.",
          "type": "string"
        },
        "prevPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set.",
          "type": "string"
        },
        "pageInfo": {
          "$ref": "PageInfo",
          "description": "General pagination information."
        },
        "visitorId": {
          "description": "The visitorId identifies the visitor.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "youtube#playlistItemListResponse",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#playlistItemListResponse\". Etag of this resource."
        }
      },
      "id": "PlaylistItemListResponse",
      "type": "object"
    },
    "VideoSuggestions": {
      "type": "object",
      "description": "Specifies suggestions on how to improve video content, including encoding hints, tag suggestions, and editor suggestions.",
      "properties": {
        "editorSuggestions": {
          "items": {
            "enumDescriptions": [
              "Picture brightness levels seem off and could be corrected.",
              "The video appears shaky and could be stabilized.",
              "Margins (mattes) detected around the picture could be cropped.",
              "The audio track appears silent and could be swapped with a better quality one."
            ],
            "type": "string",
            "enum": [
              "videoAutoLevels",
              "videoStabilize",
              "videoCrop",
              "audioQuietAudioSwap"
            ]
          },
          "type": "array",
          "description": "A list of video editing operations that might improve the video quality or playback experience of the uploaded video."
        },
        "processingHints": {
          "description": "A list of suggestions that may improve YouTube's ability to process the video.",
          "type": "array",
          "items": {
            "enum": [
              "nonStreamableMov",
              "sendBestQualityVideo",
              "sphericalVideo",
              "spatialAudio",
              "vrVideo",
              "hdrVideo"
            ],
            "enumDescriptions": [
              "The MP4 file is not streamable, this will slow down the processing. MOOV atom was not found at the beginning of the file.",
              "Probably a better quality version of the video exists. The video has wide screen aspect ratio, but is not an HD video.",
              "Uploaded video is spherical video.",
              "Uploaded video has spatial audio.",
              "Uploaded video is VR video.",
              "Uploaded video is HDR video."
            ],
            "type": "string"
          }
        },
        "processingErrors": {
          "description": "A list of errors that will prevent YouTube from successfully processing the uploaded video video. These errors indicate that, regardless of the video's current processing status, eventually, that status will almost certainly be failed.",
          "type": "array",
          "items": {
            "enum": [
              "audioFile",
              "imageFile",
              "projectFile",
              "notAVideoFile",
              "docFile",
              "archiveFile",
              "unsupportedSpatialAudioLayout"
            ],
            "enumDescriptions": [
              "File contains audio only (e.g., an MP3 file).",
              "Image file (e.g., a JPEG image).",
              "Movie project file (e.g., Microsoft Windows Movie Maker project).",
              "Other non-video file.",
              "Document or text file (e.g., MS Word document).",
              "An archive file (e.g., a ZIP archive).",
              "Unsupported spatial audio layout type."
            ],
            "type": "string"
          }
        },
        "processingWarnings": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unrecognized file format, transcoding is likely to fail.",
              "Unrecognized video codec, transcoding is likely to fail.",
              "Unrecognized audio codec, transcoding is likely to fail.",
              "Conflicting container and stream resolutions.",
              "Edit lists are not currently supported.",
              "Video codec that is known to cause problems was used.",
              "Audio codec that is known to cause problems was used.",
              "Unsupported VR video stereo mode.",
              "Unsupported spherical video projection type.",
              "Unsupported HDR pixel format.",
              "Unspecified HDR color metadata.",
              "Problematic HDR lookup table attached."
            ],
            "enum": [
              "unknownContainer",
              "unknownVideoCodec",
              "unknownAudioCodec",
              "inconsistentResolution",
              "hasEditlist",
              "problematicVideoCodec",
              "problematicAudioCodec",
              "unsupportedVrStereoMode",
              "unsupportedSphericalProjectionType",
              "unsupportedHdrPixelFormat",
              "unsupportedHdrColorMetadata",
              "problematicHdrLookupTable"
            ]
          },
          "description": "A list of reasons why YouTube may have difficulty transcoding the uploaded video or that might result in an erroneous transcoding. These warnings are generated before YouTube actually processes the uploaded video file. In addition, they identify issues that are unlikely to cause the video processing to fail but that might cause problems such as sync issues, video artifacts, or a missing audio track.",
          "type": "array"
        },
        "tagSuggestions": {
          "type": "array",
          "description": "A list of keyword tags that could be added to the video's metadata to increase the likelihood that users will locate your video when searching or browsing on YouTube.",
          "items": {
            "$ref": "VideoSuggestionsTagSuggestion"
          }
        }
      },
      "id": "VideoSuggestions"
    },
    "ActivitySnippet": {
      "id": "ActivitySnippet",
      "description": "Basic details about an activity, including title, description, thumbnails, activity type and group. Next ID: 12",
      "properties": {
        "groupId": {
          "description": "The group ID associated with the activity. A group ID identifies user events that are associated with the same user and resource. For example, if a user rates a video and marks the same video as a favorite, the entries for those events would have the same group ID in the user's activity feed. In your user interface, you can avoid repetition by grouping events with the same groupId value.",
          "type": "string"
        },
        "channelId": {
          "description": "The ID that YouTube uses to uniquely identify the channel associated with the activity.",
          "type": "string"
        },
        "channelTitle": {
          "description": "Channel title for the channel responsible for this activity",
          "type": "string"
        },
        "title": {
          "description": "The title of the resource primarily associated with the activity.",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "The type of activity that the resource describes.",
          "enum": [
            "typeUnspecified",
            "upload",
            "like",
            "favorite",
            "comment",
            "subscription",
            "playlistItem",
            "recommendation",
            "bulletin",
            "social",
            "channelItem",
            "promotedItem"
          ],
          "type": "string"
        },
        "description": {
          "description": "The description of the resource primarily associated with the activity. @mutable youtube.activities.insert",
          "type": "string"
        },
        "publishedAt": {
          "type": "string",
          "format": "date-time",
          "description": "The date and time that the video was uploaded."
        },
        "thumbnails": {
          "description": "A map of thumbnail images associated with the resource that is primarily associated with the activity. For each object in the map, the key is the name of the thumbnail image, and the value is an object that contains other information about the thumbnail.",
          "$ref": "ThumbnailDetails"
        }
      },
      "type": "object"
    },
    "CommentSnippet": {
      "properties": {
        "textDisplay": {
          "type": "string",
          "description": "The comment's text. The format is either plain text or HTML dependent on what has been requested. Even the plain text representation may differ from the text originally posted in that it may replace video links with video titles etc."
        },
        "likeCount": {
          "format": "uint32",
          "type": "integer",
          "description": "The total number of likes this comment has received."
        },
        "publishedAt": {
          "format": "date-time",
          "type": "string",
          "description": "The date and time when the comment was originally published."
        },
        "authorChannelUrl": {
          "type": "string",
          "description": "Link to the author's YouTube channel, if any."
        },
        "updatedAt": {
          "format": "date-time",
          "type": "string",
          "description": "The date and time when the comment was last updated."
        },
        "authorChannelId": {
          "$ref": "CommentSnippetAuthorChannelId"
        },
        "parentId": {
          "type": "string",
          "description": "The unique id of the parent comment, only set for replies."
        },
        "authorDisplayName": {
          "type": "string",
          "description": "The name of the user who posted the comment."
        },
        "authorProfileImageUrl": {
          "type": "string",
          "description": "The URL for the avatar of the user who posted the comment."
        },
        "moderationStatus": {
          "enum": [
            "published",
            "heldForReview",
            "likelySpam",
            "rejected"
          ],
          "enumDescriptions": [
            "The comment is available for public display.",
            "The comment is awaiting review by a moderator.",
            "",
            "The comment is unfit for display."
          ],
          "type": "string",
          "description": "The comment's moderation status. Will not be set if the comments were requested through the id filter."
        },
        "textOriginal": {
          "type": "string",
          "description": "The comment's original raw text as initially posted or last updated. The original text will only be returned if it is accessible to the viewer, which is only guaranteed if the viewer is the comment's author."
        },
        "videoId": {
          "description": "The ID of the video the comment refers to, if any.",
          "type": "string"
        },
        "channelId": {
          "description": "The id of the corresponding YouTube channel. In case of a channel comment this is the channel the comment refers to. In case of a video comment it's the video's channel.",
          "type": "string"
        },
        "viewerRating": {
          "type": "string",
          "enum": [
            "none",
            "like",
            "dislike"
          ],
          "enumDescriptions": [
            "",
            "The entity is liked.",
            "The entity is disliked."
          ],
          "description": "The rating the viewer has given to this comment. For the time being this will never return RATE_TYPE_DISLIKE and instead return RATE_TYPE_NONE. This may change in the future."
        },
        "canRate": {
          "type": "boolean",
          "description": "Whether the current viewer can rate this comment."
        }
      },
      "id": "CommentSnippet",
      "type": "object",
      "description": "Basic details about a comment, such as its author and text."
    },
    "MembershipsLevelSnippet": {
      "properties": {
        "levelDetails": {
          "description": "Details about the pricing level.",
          "$ref": "LevelDetails"
        },
        "creatorChannelId": {
          "type": "string",
          "description": "The id of the channel that's offering channel memberships."
        }
      },
      "type": "object",
      "id": "MembershipsLevelSnippet"
    },
    "ThirdPartyLinkStatus": {
      "id": "ThirdPartyLinkStatus",
      "type": "object",
      "description": "The third-party link status object contains information about the status of the link.",
      "properties": {
        "linkStatus": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "unknown",
            "failed",
            "pending",
            "linked"
          ]
        }
      }
    },
    "SuperChatEventListResponse": {
      "id": "SuperChatEventListResponse",
      "properties": {
        "eventId": {
          "description": "Serialized EventId of the request which produced this response.",
          "type": "string"
        },
        "tokenPagination": {
          "$ref": "TokenPagination"
        },
        "nextPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set.",
          "type": "string"
        },
        "pageInfo": {
          "$ref": "PageInfo"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#superChatEventListResponse\".",
          "default": "youtube#superChatEventListResponse"
        },
        "visitorId": {
          "description": "The visitorId identifies the visitor.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "items": {
          "items": {
            "$ref": "SuperChatEvent"
          },
          "description": "A list of Super Chat purchases that match the request criteria.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "ActivityContentDetailsBulletin": {
      "type": "object",
      "id": "ActivityContentDetailsBulletin",
      "properties": {
        "resourceId": {
          "description": "The resourceId object contains information that identifies the resource associated with a bulletin post. @mutable youtube.activities.insert",
          "$ref": "ResourceId"
        }
      },
      "description": "Details about a channel bulletin post."
    },
    "VideoContentDetailsRegionRestriction": {
      "id": "VideoContentDetailsRegionRestriction",
      "description": "DEPRECATED Region restriction of the video.",
      "properties": {
        "blocked": {
          "items": {
            "type": "string"
          },
          "description": "A list of region codes that identify countries where the video is blocked. If this property is present and a country is not listed in its value, then the video is viewable in that country. If this property is present and contains an empty list, the video is viewable in all countries.",
          "type": "array"
        },
        "allowed": {
          "description": "A list of region codes that identify countries where the video is viewable. If this property is present and a country is not listed in its value, then the video is blocked from appearing in that country. If this property is present and contains an empty list, the video is blocked in all countries.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "VideoCategoryListResponse": {
      "id": "VideoCategoryListResponse",
      "properties": {
        "items": {
          "items": {
            "$ref": "VideoCategory"
          },
          "type": "array",
          "description": "A list of video categories that can be associated with YouTube videos. In this map, the video category ID is the map key, and its value is the corresponding videoCategory resource."
        },
        "kind": {
          "default": "youtube#videoCategoryListResponse",
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#videoCategoryListResponse\"."
        },
        "prevPageToken": {
          "type": "string",
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set."
        },
        "visitorId": {
          "type": "string",
          "description": "The visitorId identifies the visitor."
        },
        "pageInfo": {
          "$ref": "PageInfo",
          "description": "General pagination information."
        },
        "eventId": {
          "description": "Serialized EventId of the request which produced this response.",
          "type": "string"
        },
        "tokenPagination": {
          "$ref": "TokenPagination"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CommentListResponse": {
      "id": "CommentListResponse",
      "type": "object",
      "properties": {
        "eventId": {
          "type": "string",
          "description": "Serialized EventId of the request which produced this response."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#commentListResponse\".",
          "default": "youtube#commentListResponse",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set."
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "Comment"
          },
          "description": "A list of comments that match the request criteria."
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "pageInfo": {
          "description": "General pagination information.",
          "$ref": "PageInfo"
        },
        "visitorId": {
          "type": "string",
          "description": "The visitorId identifies the visitor."
        },
        "tokenPagination": {
          "$ref": "TokenPagination"
        }
      }
    },
    "Entity": {
      "type": "object",
      "id": "Entity",
      "properties": {
        "id": {
          "type": "string"
        },
        "typeId": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "VideoAbuseReportReasonSnippet": {
      "id": "VideoAbuseReportReasonSnippet",
      "description": "Basic details about a video category, such as its localized title.",
      "properties": {
        "label": {
          "description": "The localized label belonging to this abuse report reason.",
          "type": "string"
        },
        "secondaryReasons": {
          "description": "The secondary reasons associated with this reason, if any are available. (There might be 0 or more.)",
          "items": {
            "$ref": "VideoAbuseReportSecondaryReason"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "LiveChatUserBannedMessageDetails": {
      "properties": {
        "banDurationSeconds": {
          "description": "The duration of the ban. This property is only present if the banType is temporary.",
          "format": "uint64",
          "type": "string"
        },
        "banType": {
          "enum": [
            "permanent",
            "temporary"
          ],
          "enumDescriptions": [
            "",
            ""
          ],
          "description": "The type of ban.",
          "type": "string"
        },
        "bannedUserDetails": {
          "$ref": "ChannelProfileDetails",
          "description": "The details of the user that was banned."
        }
      },
      "type": "object",
      "id": "LiveChatUserBannedMessageDetails"
    },
    "LiveChatMessageListResponse": {
      "id": "LiveChatMessageListResponse",
      "properties": {
        "offlineAt": {
          "type": "string",
          "format": "date-time",
          "description": "The date and time when the underlying stream went offline."
        },
        "nextPageToken": {
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "eventId": {
          "description": "Serialized EventId of the request which produced this response.",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "LiveChatMessage"
          },
          "type": "array"
        },
        "pageInfo": {
          "$ref": "PageInfo",
          "description": "General pagination information."
        },
        "pollingIntervalMillis": {
          "format": "uint32",
          "type": "integer",
          "description": "The amount of time the client should wait before polling again."
        },
        "visitorId": {
          "type": "string",
          "description": "The visitorId identifies the visitor."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#liveChatMessageListResponse\".",
          "default": "youtube#liveChatMessageListResponse"
        },
        "tokenPagination": {
          "$ref": "TokenPagination"
        }
      },
      "type": "object"
    },
    "LiveBroadcastSnippet": {
      "type": "object",
      "description": "Basic broadcast information.",
      "id": "LiveBroadcastSnippet",
      "properties": {
        "scheduledEndTime": {
          "description": "The date and time that the broadcast is scheduled to start.",
          "type": "string",
          "format": "date-time"
        },
        "description": {
          "description": "The broadcast's description. As with the title, you can set this field by modifying the broadcast resource or by setting the description field of the corresponding video resource.",
          "type": "string"
        },
        "scheduledStartTime": {
          "type": "string",
          "description": "The date and time that the broadcast is scheduled to end.",
          "format": "date-time"
        },
        "publishedAt": {
          "description": "The date and time that the broadcast was added to YouTube's live broadcast schedule.",
          "format": "date-time",
          "type": "string"
        },
        "channelId": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the channel that is publishing the broadcast."
        },
        "isDefaultBroadcast": {
          "description": "Indicates whether this broadcast is the default broadcast. Internal only.",
          "type": "boolean"
        },
        "thumbnails": {
          "$ref": "ThumbnailDetails",
          "description": "A map of thumbnail images associated with the broadcast. For each nested object in this object, the key is the name of the thumbnail image, and the value is an object that contains other information about the thumbnail."
        },
        "actualStartTime": {
          "format": "date-time",
          "description": "The date and time that the broadcast actually started. This information is only available once the broadcast's state is live.",
          "type": "string"
        },
        "liveChatId": {
          "type": "string",
          "description": "The id of the live chat for this broadcast."
        },
        "title": {
          "description": "The broadcast's title. Note that the broadcast represents exactly one YouTube video. You can set this field by modifying the broadcast resource or by setting the title field of the corresponding video resource.",
          "annotations": {
            "required": [
              "youtube.liveBroadcasts.insert",
              "youtube.liveBroadcasts.update"
            ]
          },
          "type": "string"
        },
        "actualEndTime": {
          "format": "date-time",
          "description": "The date and time that the broadcast actually ended. This information is only available once the broadcast's state is complete.",
          "type": "string"
        }
      }
    },
    "VideoProcessingDetailsProcessingProgress": {
      "type": "object",
      "description": "Video processing progress and completion time estimate.",
      "properties": {
        "partsTotal": {
          "description": "An estimate of the total number of parts that need to be processed for the video. The number may be updated with more precise estimates while YouTube processes the video.",
          "format": "uint64",
          "type": "string"
        },
        "timeLeftMs": {
          "type": "string",
          "description": "An estimate of the amount of time, in millseconds, that YouTube needs to finish processing the video.",
          "format": "uint64"
        },
        "partsProcessed": {
          "description": "The number of parts of the video that YouTube has already processed. You can estimate the percentage of the video that YouTube has already processed by calculating: 100 * parts_processed / parts_total Note that since the estimated number of parts could increase without a corresponding increase in the number of parts that have already been processed, it is possible that the calculated progress could periodically decrease while YouTube processes a video.",
          "type": "string",
          "format": "uint64"
        }
      },
      "id": "VideoProcessingDetailsProcessingProgress"
    },
    "VideoTopicDetails": {
      "type": "object",
      "id": "VideoTopicDetails",
      "description": "Freebase topic information related to the video.",
      "properties": {
        "relevantTopicIds": {
          "description": "Similar to topic_id, except that these topics are merely relevant to the video. These are topics that may be mentioned in, or appear in the video. You can retrieve information about each topic using Freebase Topic API.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "topicCategories": {
          "description": "A list of Wikipedia URLs that provide a high-level description of the video's content.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "topicIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of Freebase topic IDs that are centrally associated with the video. These are topics that are centrally featured in the video, and it can be said that the video is mainly about each of these. You can retrieve information about each topic using the \u003c a href=\"http://wiki.freebase.com/wiki/Topic_API\"\u003eFreebase Topic API."
        }
      }
    },
    "VideoMonetizationDetails": {
      "properties": {
        "access": {
          "$ref": "AccessPolicy",
          "description": "The value of access indicates whether the video can be monetized or not."
        }
      },
      "id": "VideoMonetizationDetails",
      "description": "Details about monetization of a YouTube Video.",
      "type": "object"
    },
    "ActivityContentDetails": {
      "type": "object",
      "id": "ActivityContentDetails",
      "properties": {
        "like": {
          "description": "The like object contains information about a resource that received a positive (like) rating. This property is only present if the snippet.type is like.",
          "$ref": "ActivityContentDetailsLike"
        },
        "social": {
          "$ref": "ActivityContentDetailsSocial",
          "description": "The social object contains details about a social network post. This property is only present if the snippet.type is social."
        },
        "favorite": {
          "$ref": "ActivityContentDetailsFavorite",
          "description": "The favorite object contains information about a video that was marked as a favorite video. This property is only present if the snippet.type is favorite."
        },
        "recommendation": {
          "$ref": "ActivityContentDetailsRecommendation",
          "description": "The recommendation object contains information about a recommended resource. This property is only present if the snippet.type is recommendation."
        },
        "upload": {
          "description": "The upload object contains information about the uploaded video. This property is only present if the snippet.type is upload.",
          "$ref": "ActivityContentDetailsUpload"
        },
        "comment": {
          "$ref": "ActivityContentDetailsComment",
          "description": "The comment object contains information about a resource that received a comment. This property is only present if the snippet.type is comment."
        },
        "bulletin": {
          "description": "The bulletin object contains details about a channel bulletin post. This object is only present if the snippet.type is bulletin.",
          "$ref": "ActivityContentDetailsBulletin"
        },
        "promotedItem": {
          "$ref": "ActivityContentDetailsPromotedItem",
          "description": "The promotedItem object contains details about a resource which is being promoted. This property is only present if the snippet.type is promotedItem."
        },
        "playlistItem": {
          "description": "The playlistItem object contains information about a new playlist item. This property is only present if the snippet.type is playlistItem.",
          "$ref": "ActivityContentDetailsPlaylistItem"
        },
        "channelItem": {
          "description": "The channelItem object contains details about a resource which was added to a channel. This property is only present if the snippet.type is channelItem.",
          "$ref": "ActivityContentDetailsChannelItem"
        },
        "subscription": {
          "description": "The subscription object contains information about a channel that a user subscribed to. This property is only present if the snippet.type is subscription.",
          "$ref": "ActivityContentDetailsSubscription"
        }
      },
      "description": "Details about the content of an activity: the video that was shared, the channel that was subscribed to, etc."
    },
    "LiveChatBan": {
      "type": "object",
      "description": "A `__liveChatBan__` resource represents a ban for a YouTube live chat.",
      "properties": {
        "id": {
          "type": "string",
          "description": "The ID that YouTube assigns to uniquely identify the ban."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"youtube#liveChatBan\"`.",
          "type": "string",
          "default": "youtube#liveChatBan"
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "snippet": {
          "description": "The `snippet` object contains basic details about the ban.",
          "$ref": "LiveChatBanSnippet"
        }
      },
      "id": "LiveChatBan"
    },
    "ChannelSectionListResponse": {
      "type": "object",
      "properties": {
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "items": {
          "type": "array",
          "description": "A list of ChannelSections that match the request criteria.",
          "items": {
            "$ref": "ChannelSection"
          }
        },
        "kind": {
          "default": "youtube#channelSectionListResponse",
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#channelSectionListResponse\"."
        },
        "visitorId": {
          "type": "string",
          "description": "The visitorId identifies the visitor."
        },
        "eventId": {
          "type": "string",
          "description": "Serialized EventId of the request which produced this response."
        }
      },
      "id": "ChannelSectionListResponse"
    },
    "MembershipsLevel": {
      "properties": {
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#membershipsLevelListResponse\".",
          "default": "youtube#membershipsLevel"
        },
        "snippet": {
          "$ref": "MembershipsLevelSnippet",
          "description": "The snippet object contains basic details about the level."
        },
        "id": {
          "description": "The ID that YouTube assigns to uniquely identify the memberships level.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A *membershipsLevel* resource represents an offer made by YouTube creators for their fans. Users can become members of the channel by joining one of the available levels. They will provide recurring monetary support and receives special benefits.",
      "id": "MembershipsLevel"
    },
    "SubscriptionSubscriberSnippet": {
      "id": "SubscriptionSubscriberSnippet",
      "description": "Basic details about a subscription's subscriber including title, description, channel ID and thumbnails.",
      "properties": {
        "description": {
          "type": "string",
          "description": "The description of the subscriber."
        },
        "thumbnails": {
          "description": "Thumbnails for this subscriber.",
          "$ref": "ThumbnailDetails"
        },
        "title": {
          "description": "The title of the subscriber.",
          "type": "string"
        },
        "channelId": {
          "description": "The channel ID of the subscriber.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AccessPolicy": {
      "description": "Rights management policy for YouTube resources.",
      "id": "AccessPolicy",
      "type": "object",
      "properties": {
        "exception": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of region codes that identify countries where the default policy do not apply."
        },
        "allowed": {
          "description": "The value of allowed indicates whether the access to the policy is allowed or denied by default.",
          "type": "boolean"
        }
      }
    },
    "LiveStreamSnippet": {
      "type": "object",
      "properties": {
        "title": {
          "type": "string",
          "description": "The stream's title. The value must be between 1 and 128 characters long.",
          "annotations": {
            "required": [
              "youtube.liveStreams.insert",
              "youtube.liveStreams.update"
            ]
          }
        },
        "isDefaultStream": {
          "type": "boolean"
        },
        "channelId": {
          "description": "The ID that YouTube uses to uniquely identify the channel that is transmitting the stream.",
          "type": "string"
        },
        "publishedAt": {
          "description": "The date and time that the stream was created.",
          "type": "string",
          "format": "date-time"
        },
        "description": {
          "type": "string",
          "description": "The stream's description. The value cannot be longer than 10000 characters."
        }
      },
      "id": "LiveStreamSnippet"
    },
    "VideoProcessingDetails": {
      "type": "object",
      "id": "VideoProcessingDetails",
      "properties": {
        "thumbnailsAvailability": {
          "type": "string",
          "description": "This value indicates whether thumbnail images have been generated for the video."
        },
        "fileDetailsAvailability": {
          "description": "This value indicates whether file details are available for the uploaded video. You can retrieve a video's file details by requesting the fileDetails part in your videos.list() request.",
          "type": "string"
        },
        "editorSuggestionsAvailability": {
          "description": "This value indicates whether video editing suggestions, which might improve video quality or the playback experience, are available for the video. You can retrieve these suggestions by requesting the suggestions part in your videos.list() request.",
          "type": "string"
        },
        "processingProgress": {
          "description": "The processingProgress object contains information about the progress YouTube has made in processing the video. The values are really only relevant if the video's processing status is processing.",
          "$ref": "VideoProcessingDetailsProcessingProgress"
        },
        "processingFailureReason": {
          "description": "The reason that YouTube failed to process the video. This property will only have a value if the processingStatus property's value is failed.",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "uploadFailed",
            "transcodeFailed",
            "streamingFailed",
            "other"
          ]
        },
        "processingIssuesAvailability": {
          "description": "This value indicates whether the video processing engine has generated suggestions that might improve YouTube's ability to process the the video, warnings that explain video processing problems, or errors that cause video processing problems. You can retrieve these suggestions by requesting the suggestions part in your videos.list() request.",
          "type": "string"
        },
        "processingStatus": {
          "description": "The video's processing status. This value indicates whether YouTube was able to process the video or if the video is still being processed.",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "processing",
            "succeeded",
            "failed",
            "terminated"
          ],
          "type": "string"
        },
        "tagSuggestionsAvailability": {
          "type": "string",
          "description": "This value indicates whether keyword (tag) suggestions are available for the video. Tags can be added to a video's metadata to make it easier for other users to find the video. You can retrieve these suggestions by requesting the suggestions part in your videos.list() request."
        }
      },
      "description": "Describes processing status and progress and availability of some other Video resource parts."
    },
    "Comment": {
      "id": "Comment",
      "type": "object",
      "description": "A *comment* represents a single YouTube comment.",
      "properties": {
        "id": {
          "description": "The ID that YouTube uses to uniquely identify the comment.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#comment\".",
          "default": "youtube#comment",
          "type": "string"
        },
        "snippet": {
          "description": "The snippet object contains basic details about the comment.",
          "$ref": "CommentSnippet"
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        }
      }
    },
    "ContentRating": {
      "properties": {
        "nfvcbRating": {
          "type": "string",
          "enumDescriptions": [
            "",
            "G",
            "PG",
            "12",
            "12A",
            "15",
            "18",
            "RE",
            ""
          ],
          "description": "The video's rating from Nigeria's National Film and Video Censors Board.",
          "enum": [
            "nfvcbUnspecified",
            "nfvcbG",
            "nfvcbPg",
            "nfvcb12",
            "nfvcb12a",
            "nfvcb15",
            "nfvcb18",
            "nfvcbRe",
            "nfvcbUnrated"
          ]
        },
        "pefilmRating": {
          "description": "The video's rating in Peru.",
          "enumDescriptions": [
            "",
            "PT",
            "PG",
            "14",
            "18",
            ""
          ],
          "enum": [
            "pefilmUnspecified",
            "pefilmPt",
            "pefilmPg",
            "pefilm14",
            "pefilm18",
            "pefilmUnrated"
          ],
          "type": "string"
        },
        "ilfilmRating": {
          "type": "string",
          "enum": [
            "ilfilmUnspecified",
            "ilfilmAa",
            "ilfilm12",
            "ilfilm14",
            "ilfilm16",
            "ilfilm18",
            "ilfilmUnrated"
          ],
          "enumDescriptions": [
            "",
            "AA",
            "12",
            "14",
            "16",
            "18",
            ""
          ],
          "description": "The video's rating in Israel."
        },
        "fmocRating": {
          "description": "This property has been deprecated. Use the contentDetails.contentRating.cncRating instead.",
          "enumDescriptions": [
            "",
            "U",
            "10",
            "12",
            "16",
            "18",
            "E",
            ""
          ],
          "type": "string",
          "enum": [
            "fmocUnspecified",
            "fmocU",
            "fmoc10",
            "fmoc12",
            "fmoc16",
            "fmoc18",
            "fmocE",
            "fmocUnrated"
          ]
        },
        "djctqRating": {
          "type": "string",
          "enumDescriptions": [
            "",
            "L",
            "10",
            "12",
            "14",
            "16",
            "18",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "The video's Departamento de Justiça, Classificação, Qualificação e Títulos (DJCQT - Brazil) rating.",
          "enum": [
            "djctqUnspecified",
            "djctqL",
            "djctq10",
            "djctq12",
            "djctq14",
            "djctq16",
            "djctq18",
            "djctqEr",
            "djctqL10",
            "djctqL12",
            "djctqL14",
            "djctqL16",
            "djctqL18",
            "djctq1012",
            "djctq1014",
            "djctq1016",
            "djctq1018",
            "djctq1214",
            "djctq1216",
            "djctq1218",
            "djctq1416",
            "djctq1418",
            "djctq1618",
            "djctqUnrated"
          ]
        },
        "nbcplRating": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "nbcplUnspecified",
            "nbcplI",
            "nbcplIi",
            "nbcplIii",
            "nbcplIv",
            "nbcpl18plus",
            "nbcplUnrated"
          ],
          "description": "The video's rating in Poland.",
          "type": "string"
        },
        "egfilmRating": {
          "enumDescriptions": [
            "",
            "GN",
            "18",
            "BN",
            ""
          ],
          "enum": [
            "egfilmUnspecified",
            "egfilmGn",
            "egfilm18",
            "egfilmBn",
            "egfilmUnrated"
          ],
          "description": "The video's rating in Egypt.",
          "type": "string"
        },
        "djctqRatingReasons": {
          "type": "array",
          "items": {
            "enumDescriptions": [
[...]
