{
  "title": "YouTube Data API v3",
  "version": "v3",
  "batchPath": "batch",
  "mtlsRootUrl": "https://youtube.mtls.googleapis.com/",
  "parameters": {
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    }
  },
  "discoveryVersion": "v1",
  "id": "youtube:v3",
  "resources": {
    "videos": {
      "methods": {
        "list": {
          "path": "youtube/v3/videos",
          "parameterOrder": [
            "part"
          ],
          "parameters": {
            "maxWidth": {
              "type": "integer",
              "description": "Return the player with maximum height specified in",
              "location": "query",
              "format": "int32"
            },
            "myRating": {
              "description": "Return videos liked/disliked by the authenticated user. Does not support RateType.RATED_TYPE_NONE.",
              "type": "string",
              "location": "query",
              "enum": [
                "none",
                "like",
                "dislike"
              ],
              "enumDescriptions": [
                "",
                "The entity is liked.",
                "The entity is disliked."
              ]
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            },
            "hl": {
              "description": "Stands for \"host language\". Specifies the localization language of the metadata to be filled into snippet.localized. The field is filled with the default metadata if there is no localization in the specified language. The parameter value must be a language code included in the list returned by the i18nLanguages.list method (e.g. en_US, es_MX).",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved. *Note:* This parameter is supported for use in conjunction with the myRating and chart parameters, but it is not supported for use in conjunction with the id parameter.",
              "location": "query"
            },
            "chart": {
              "type": "string",
              "enumDescriptions": [
                "",
                "Return the most popular videos for the specified content region and video category."
              ],
              "location": "query",
              "description": "Return the videos that are in the specified chart.",
              "enum": [
                "chartUnspecified",
                "mostPopular"
              ]
            },
            "part": {
              "description": "The *part* parameter specifies a comma-separated list of one or more video resource properties that the API response will include. If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in a video resource, the snippet property contains the channelId, title, description, tags, and categoryId properties. As such, if you set *part=snippet*, the API response will contain all of those properties.",
              "type": "string",
              "repeated": true,
              "location": "query",
              "required": true
            },
            "locale": {
              "location": "query",
              "type": "string"
            },
            "maxHeight": {
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "videoCategoryId": {
              "description": "Use chart that is specific to the specified video category",
              "location": "query",
              "type": "string",
              "default": "0"
            },
            "regionCode": {
              "description": "Use a chart that is specific to the specified region",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "format": "uint32",
              "default": "5",
              "location": "query",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set. *Note:* This parameter is supported for use in conjunction with the myRating and chart parameters, but it is not supported for use in conjunction with the id parameter."
            },
            "id": {
              "description": "Return videos with the given ids.",
              "location": "query",
              "repeated": true,
              "type": "string"
            }
          },
          "id": "youtube.videos.list",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "VideoListResponse"
          },
          "description": "Retrieves a list of resources, possibly filtered.",
          "flatPath": "youtube/v3/videos"
        },
        "rate": {
          "description": "Adds a like or dislike rating to a video or removes a rating from a video.",
          "path": "youtube/v3/videos/rate",
          "parameters": {
            "rating": {
              "required": true,
              "type": "string",
              "enum": [
                "none",
                "like",
                "dislike"
              ],
              "enumDescriptions": [
                "",
                "The entity is liked.",
                "The entity is disliked."
              ],
              "location": "query"
            },
            "id": {
              "location": "query",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "youtube/v3/videos/rate",
          "parameterOrder": [
            "id",
            "rating"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "id": "youtube.videos.rate",
          "httpMethod": "POST"
        },
        "delete": {
          "description": "Deletes a resource.",
          "httpMethod": "DELETE",
          "id": "youtube.videos.delete",
          "parameters": {
            "onBehalfOfContentOwner": {
              "location": "query",
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            },
            "id": {
              "required": true,
              "type": "string",
              "location": "query"
            }
          },
          "path": "youtube/v3/videos",
          "flatPath": "youtube/v3/videos",
          "parameterOrder": [
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        },
        "insert": {
          "id": "youtube.videos.insert",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.upload",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameters": {
            "notifySubscribers": {
              "default": "true",
              "type": "boolean",
              "description": "Notify the channel subscribers about the new video. As default, the notification is enabled.",
              "location": "query"
            },
            "stabilize": {
              "description": "Should stabilize be applied to the upload.",
              "location": "query",
              "type": "boolean"
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string"
            },
            "part": {
              "repeated": true,
              "required": true,
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. Note that not all parts contain properties that can be set when inserting or updating a video. For example, the statistics object encapsulates statistics that YouTube calculates for a video and does not contain values that you can set or modify. If the parameter value specifies a part that does not contain mutable values, that part will still be included in the API response.",
              "location": "query",
              "type": "string"
            },
            "onBehalfOfContentOwnerChannel": {
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "location": "query",
              "type": "string"
            },
            "autoLevels": {
              "description": "Should auto-levels be applied to the upload.",
              "location": "query",
              "type": "boolean"
            }
          },
          "response": {
            "$ref": "Video"
          },
          "httpMethod": "POST",
          "path": "youtube/v3/videos",
          "parameterOrder": [
            "part"
          ],
          "description": "Inserts a new resource into this collection.",
          "request": {
            "$ref": "Video"
          },
          "supportsMediaUpload": true,
          "mediaUpload": {
            "accept": [
              "video/*",
              "application/octet-stream"
            ],
            "maxSize": "137438953472",
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/youtube/v3/videos"
              },
              "resumable": {
                "path": "/resumable/upload/youtube/v3/videos",
                "multipart": true
              }
            }
          },
          "flatPath": "youtube/v3/videos"
        },
        "update": {
          "httpMethod": "PUT",
          "request": {
            "$ref": "Video"
          },
          "parameterOrder": [
            "part"
          ],
          "parameters": {
            "part": {
              "required": true,
              "type": "string",
              "repeated": true,
              "location": "query",
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. Note that this method will override the existing values for all of the mutable properties that are contained in any parts that the parameter value specifies. For example, a video's privacy setting is contained in the status part. As such, if your request is updating a private video, and the request's part parameter value includes the status part, the video's privacy setting will be updated to whatever value the request body specifies. If the request body does not specify a value, the existing privacy setting will be removed and the video will revert to the default privacy setting. In addition, not all parts contain properties that can be set when inserting or updating a video. For example, the statistics object encapsulates statistics that YouTube calculates for a video and does not contain values that you can set or modify. If the parameter value specifies a part that does not contain mutable values, that part will still be included in the API response."
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string"
            }
          },
          "description": "Updates an existing resource.",
          "id": "youtube.videos.update",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "flatPath": "youtube/v3/videos",
          "path": "youtube/v3/videos",
          "response": {
            "$ref": "Video"
          }
        },
        "reportAbuse": {
          "flatPath": "youtube/v3/videos/reportAbuse",
          "path": "youtube/v3/videos/reportAbuse",
          "httpMethod": "POST",
          "request": {
            "$ref": "VideoAbuseReport"
          },
          "parameterOrder": [],
          "parameters": {
            "onBehalfOfContentOwner": {
              "type": "string",
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            }
          },
          "description": "Report abuse for a video.",
          "id": "youtube.videos.reportAbuse",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        },
        "getRating": {
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "httpMethod": "GET",
          "parameters": {
            "id": {
              "repeated": true,
              "type": "string",
              "location": "query",
              "required": true
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            }
          },
          "description": "Retrieves the ratings that the authorized user gave to a list of specified videos.",
          "id": "youtube.videos.getRating",
          "flatPath": "youtube/v3/videos/getRating",
          "parameterOrder": [
            "id"
          ],
          "response": {
            "$ref": "VideoRatingListResponse"
          },
          "path": "youtube/v3/videos/getRating"
        }
      }
    },
    "thirdPartyLinks": {
      "methods": {
        "list": {
          "flatPath": "youtube/v3/thirdPartyLinks",
          "description": "Retrieves a list of resources, possibly filtered.",
          "parameterOrder": [
            "part"
          ],
          "response": {
            "$ref": "ThirdPartyLink"
          },
          "id": "youtube.thirdPartyLinks.list",
          "parameters": {
            "linkingToken": {
              "description": "Get a third party link with the given linking token.",
              "location": "query",
              "type": "string"
            },
            "part": {
              "type": "string",
              "description": "The *part* parameter specifies the thirdPartyLink resource parts that the API response will include. Supported values are linkingToken, status, and snippet.",
              "repeated": true,
              "required": true,
              "location": "query"
            },
            "type": {
              "enum": [
                "linkUnspecified",
                "channelToStoreLink"
              ],
              "description": "Get a third party link of the given type.",
              "location": "query",
              "enumDescriptions": [
                "",
                "A link that is connecting (or about to connect) a channel with a store on a merchandising platform in order to enable retail commerce capabilities for that channel on YouTube."
              ],
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "path": "youtube/v3/thirdPartyLinks"
        },
        "insert": {
          "httpMethod": "POST",
          "request": {
            "$ref": "ThirdPartyLink"
          },
          "flatPath": "youtube/v3/thirdPartyLinks",
          "parameterOrder": [
            "part"
          ],
          "parameters": {
            "part": {
              "repeated": true,
              "required": true,
              "description": "The *part* parameter specifies the thirdPartyLink resource parts that the API request and response will include. Supported values are linkingToken, status, and snippet.",
              "type": "string",
              "location": "query"
            }
          },
          "description": "Inserts a new resource into this collection.",
          "response": {
            "$ref": "ThirdPartyLink"
          },
          "id": "youtube.thirdPartyLinks.insert",
          "path": "youtube/v3/thirdPartyLinks"
        },
        "update": {
          "httpMethod": "PUT",
          "response": {
            "$ref": "ThirdPartyLink"
          },
          "parameters": {
            "part": {
              "type": "string",
              "location": "query",
              "description": "The *part* parameter specifies the thirdPartyLink resource parts that the API request and response will include. Supported values are linkingToken, status, and snippet.",
              "repeated": true,
              "required": true
            }
          },
          "flatPath": "youtube/v3/thirdPartyLinks",
          "request": {
            "$ref": "ThirdPartyLink"
          },
          "id": "youtube.thirdPartyLinks.update",
          "parameterOrder": [
            "part"
          ],
          "description": "Updates an existing resource.",
          "path": "youtube/v3/thirdPartyLinks"
        },
        "delete": {
          "id": "youtube.thirdPartyLinks.delete",
          "parameters": {
            "type": {
              "required": true,
              "description": "Type of the link to be deleted.",
              "enum": [
                "linkUnspecified",
                "channelToStoreLink"
              ],
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "",
                "A link that is connecting (or about to connect) a channel with a store on a merchandising platform in order to enable retail commerce capabilities for that channel on YouTube."
              ]
            },
            "linkingToken": {
              "description": "Delete the partner links with the given linking token.",
              "location": "query",
              "required": true,
              "type": "string"
            },
            "part": {
              "location": "query",
              "type": "string",
              "description": "Do not use. Required for compatibility.",
              "repeated": true
            }
          },
          "path": "youtube/v3/thirdPartyLinks",
          "flatPath": "youtube/v3/thirdPartyLinks",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "linkingToken",
            "type"
          ],
          "description": "Deletes a resource."
        }
      }
    },
    "channelSections": {
      "methods": {
        "insert": {
          "parameterOrder": [
            "part"
          ],
          "description": "Inserts a new resource into this collection.",
          "id": "youtube.channelSections.insert",
          "parameters": {
            "onBehalfOfContentOwner": {
              "type": "string",
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            },
            "onBehalfOfContentOwnerChannel": {
              "location": "query",
              "type": "string",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel."
            },
            "part": {
              "type": "string",
              "required": true,
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. The part names that you can include in the parameter value are snippet and contentDetails.",
              "repeated": true,
              "location": "query"
            }
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "ChannelSection"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "request": {
            "$ref": "ChannelSection"
          },
          "path": "youtube/v3/channelSections",
          "flatPath": "youtube/v3/channelSections"
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "path": "youtube/v3/channelSections",
          "parameterOrder": [
            "id"
          ],
          "flatPath": "youtube/v3/channelSections",
          "httpMethod": "DELETE",
          "id": "youtube.channelSections.delete",
          "parameters": {
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string",
              "location": "query"
            },
            "id": {
              "location": "query",
              "required": true,
              "type": "string"
            }
          },
          "description": "Deletes a resource."
        },
        "list": {
          "description": "Retrieves a list of resources, possibly filtered.",
          "parameterOrder": [
            "part"
          ],
          "path": "youtube/v3/channelSections",
          "httpMethod": "GET",
          "id": "youtube.channelSections.list",
          "parameters": {
            "onBehalfOfContentOwner": {
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string"
            },
            "id": {
              "description": "Return the ChannelSections with the given IDs for Stubby or Apiary.",
              "repeated": true,
              "location": "query",
              "type": "string"
            },
            "hl": {
              "type": "string",
              "description": "Return content in specified language",
              "location": "query"
            },
            "channelId": {
              "location": "query",
              "type": "string",
              "description": "Return the ChannelSections owned by the specified channel ID."
            },
            "part": {
              "description": "The *part* parameter specifies a comma-separated list of one or more channelSection resource properties that the API response will include. The part names that you can include in the parameter value are id, snippet, and contentDetails. If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in a channelSection resource, the snippet property contains other properties, such as a display title for the channelSection. If you set *part=snippet*, the API response will also contain all of those nested properties.",
              "type": "string",
              "location": "query",
              "repeated": true,
              "required": true
            },
            "mine": {
              "location": "query",
              "description": "Return the ChannelSections owned by the authenticated user.",
              "type": "boolean"
            }
          },
          "response": {
            "$ref": "ChannelSectionListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "flatPath": "youtube/v3/channelSections"
        },
        "update": {
          "path": "youtube/v3/channelSections",
          "parameterOrder": [
            "part"
          ],
          "flatPath": "youtube/v3/channelSections",
          "id": "youtube.channelSections.update",
          "request": {
            "$ref": "ChannelSection"
          },
          "response": {
            "$ref": "ChannelSection"
          },
          "description": "Updates an existing resource.",
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameters": {
            "onBehalfOfContentOwner": {
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string"
            },
            "part": {
              "location": "query",
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. The part names that you can include in the parameter value are snippet and contentDetails.",
              "repeated": true,
              "type": "string",
              "required": true
            }
          }
        }
      }
    },
    "search": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "path": "youtube/v3/search",
          "parameters": {
            "order": {
              "enum": [
                "searchSortUnspecified",
                "date",
                "rating",
                "viewCount",
                "relevance",
                "title",
                "videoCount"
              ],
              "location": "query",
              "type": "string",
              "default": "relevance",
              "enumDescriptions": [
                "",
                "Resources are sorted in reverse chronological order based on the date they were created.",
                "Resources are sorted from highest to lowest rating.",
                "Resources are sorted from highest to lowest number of views.",
                "Resources are sorted based on their relevance to the search query. This is the default value for this parameter.",
                "Resources are sorted alphabetically by title.",
                "Channels are sorted in descending order of their number of uploaded videos."
              ],
              "description": "Sort order of the results."
            },
            "videoSyndicated": {
              "enumDescriptions": [
                "",
                "Return all videos, syndicated or not.",
                "Only retrieve syndicated videos."
              ],
              "type": "string",
              "description": "Filter on syndicated videos.",
              "location": "query",
              "enum": [
                "videoSyndicatedUnspecified",
                "any",
                "true"
              ]
            },
            "videoDuration": {
              "location": "query",
              "enum": [
                "videoDurationUnspecified",
                "any",
                "short",
                "medium",
                "long"
              ],
              "description": "Filter on the duration of the videos.",
              "type": "string",
              "enumDescriptions": [
                "",
                "Do not filter video search results based on their duration. This is the default value.",
                "Only include videos that are less than four minutes long.",
                "Only include videos that are between four and 20 minutes long (inclusive).",
                "Only include videos longer than 20 minutes."
              ]
            },
            "eventType": {
              "enum": [
                "none",
                "upcoming",
                "live",
                "completed"
              ],
              "description": "Filter on the livestream status of the videos.",
              "type": "string",
              "location": "query",
              "enumDescriptions": [
                "",
                "The live broadcast is upcoming.",
                "The live broadcast is active.",
                "The live broadcast has been completed."
              ]
            },
            "safeSearch": {
              "description": "Indicates whether the search results should include restricted content as well as standard content.",
              "location": "query",
              "default": "moderate",
              "enumDescriptions": [
                "",
                "YouTube will not filter the search result set.",
                "YouTube will filter some content from search results and, at the least, will filter content that is restricted in your locale. Based on their content, search results could be removed from search results or demoted in search results. This is the default parameter value.",
                "YouTube will try to exclude all restricted content from the search result set. Based on their content, search results could be removed from search results or demoted in search results."
              ],
              "enum": [
                "safeSearchSettingUnspecified",
                "none",
                "moderate",
                "strict"
              ],
              "type": "string"
            },
            "part": {
              "type": "string",
              "location": "query",
              "required": true,
              "description": "The *part* parameter specifies a comma-separated list of one or more search resource properties that the API response will include. Set the parameter value to snippet.",
              "repeated": true
            },
            "forContentOwner": {
              "location": "query",
              "description": "Search owned by a content owner.",
              "type": "boolean"
            },
            "publishedBefore": {
              "location": "query",
              "format": "google-datetime",
              "type": "string",
              "description": "Filter on resources published before this date."
            },
            "videoDimension": {
              "type": "string",
              "description": "Filter on 3d videos.",
              "location": "query",
              "enumDescriptions": [
                "",
                "Restrict search results to exclude 3D videos.",
                "Restrict search results to only include 3D videos."
              ],
              "enum": [
                "any",
                "2d",
                "3d"
              ]
            },
            "videoCaption": {
              "type": "string",
              "description": "Filter on the presence of captions on the videos.",
              "location": "query",
              "enum": [
                "videoCaptionUnspecified",
                "any",
                "closedCaption",
                "none"
              ],
              "enumDescriptions": [
                "",
                "Do not filter results based on caption availability.",
                "Only include videos that have captions.",
                "Only include videos that do not have captions."
              ]
            },
            "videoLicense": {
              "enumDescriptions": [
                "Return all videos, regardless of which license they have, that match the query parameters.",
                "Only return videos that have the standard YouTube license.",
                "Only return videos that have a Creative Commons license. Users can reuse videos with this license in other videos that they create. Learn more."
              ],
              "description": "Filter on the license of the videos.",
              "location": "query",
              "type": "string",
              "enum": [
                "any",
                "youtube",
                "creativeCommon"
              ]
            },
            "q": {
              "description": "Textual search terms to match.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "default": "5",
              "format": "uint32",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "location": "query",
              "type": "integer"
            },
            "videoDefinition": {
              "enumDescriptions": [
                "Return all videos, regardless of their resolution.",
                "Only retrieve videos in standard definition.",
                "Only retrieve HD videos."
              ],
              "description": "Filter on the definition of the videos.",
              "enum": [
                "any",
                "standard",
                "high"
              ],
              "type": "string",
              "location": "query"
            },
            "relatedToVideoId": {
              "location": "query",
              "type": "string",
              "description": "Search related to a resource."
            },
            "regionCode": {
              "description": "Display the content as seen by viewers in this country.",
              "type": "string",
              "location": "query"
            },
            "location": {
              "type": "string",
              "description": "Filter on location of the video",
              "location": "query"
            },
            "videoCategoryId": {
              "type": "string",
              "location": "query",
              "description": "Filter on videos in a specific category."
            },
            "relevanceLanguage": {
              "type": "string",
              "description": "Return results relevant to this language.",
              "location": "query"
            },
            "locationRadius": {
              "location": "query",
              "description": "Filter on distance from the location (specified above).",
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query"
            },
            "videoType": {
              "type": "string",
              "enumDescriptions": [
                "",
                "Return all videos.",
                "Only retrieve movies.",
                "Only retrieve episodes of shows."
              ],
              "location": "query",
              "enum": [
                "videoTypeUnspecified",
                "any",
                "movie",
                "episode"
              ],
              "description": "Filter on videos of a specific type."
            },
            "publishedAfter": {
              "type": "string",
              "description": "Filter on resources published after this date.",
              "format": "google-datetime",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved."
            },
            "forDeveloper": {
              "location": "query",
              "description": "Restrict the search to only retrieve videos uploaded using the project id of the authenticated user.",
              "type": "boolean"
            },
            "channelId": {
              "description": "Filter on resources belonging to this channelId.",
              "type": "string",
              "location": "query"
            },
            "videoEmbeddable": {
              "enum": [
                "videoEmbeddableUnspecified",
                "any",
                "true"
              ],
              "description": "Filter on embeddable videos.",
              "location": "query",
              "enumDescriptions": [
                "",
                "Return all videos, embeddable or not.",
                "Only retrieve embeddable videos."
              ],
              "type": "string"
            },
            "channelType": {
              "type": "string",
              "enumDescriptions": [
                "",
                "Return all channels.",
                "Only retrieve shows."
              ],
              "enum": [
                "channelTypeUnspecified",
                "any",
                "show"
              ],
              "description": "Add a filter on the channel search.",
              "location": "query"
            },
            "type": {
              "description": "Restrict results to a particular set of resource types from One Platform.",
              "default": "video,channel,playlist",
              "type": "string",
              "repeated": true,
              "location": "query"
            },
            "forMine": {
              "description": "Search for the private videos of the authenticated user.",
              "type": "boolean",
              "location": "query"
            },
            "topicId": {
              "description": "Restrict results to a particular topic.",
              "type": "string",
              "location": "query"
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "part"
          ],
          "flatPath": "youtube/v3/search",
          "description": "Retrieves a list of search resources",
          "response": {
            "$ref": "SearchListResponse"
          },
          "id": "youtube.search.list"
        }
      }
    },
    "liveChatMessages": {
      "methods": {
        "list": {
          "id": "youtube.liveChatMessages.list",
          "path": "youtube/v3/liveChat/messages",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "LiveChatMessageListResponse"
          },
          "description": "Retrieves a list of resources, possibly filtered.",
          "parameters": {
            "liveChatId": {
              "required": true,
              "location": "query",
              "type": "string",
              "description": "The id of the live chat for which comments should be returned."
            },
            "pageToken": {
              "type": "string",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken property identify other pages that could be retrieved.",
              "location": "query"
            },
            "hl": {
              "location": "query",
              "description": "Specifies the localization language in which the system messages should be returned.",
              "type": "string"
            },
            "profileImageSize": {
              "location": "query",
              "description": "Specifies the size of the profile image that should be returned for each user.",
              "format": "uint32",
              "type": "integer"
            },
            "maxResults": {
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "default": "500",
              "format": "uint32",
              "location": "query",
              "type": "integer"
            },
            "part": {
              "repeated": true,
              "location": "query",
              "description": "The *part* parameter specifies the liveChatComment resource parts that the API response will include. Supported values are id and snippet.",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "liveChatId",
            "part"
          ],
          "flatPath": "youtube/v3/liveChat/messages"
        },
        "insert": {
          "parameters": {
            "part": {
              "repeated": true,
              "required": true,
              "type": "string",
              "description": "The *part* parameter serves two purposes. It identifies the properties that the write operation will set as well as the properties that the API response will include. Set the parameter value to snippet.",
              "location": "query"
            }
          },
          "request": {
            "$ref": "LiveChatMessage"
          },
          "parameterOrder": [
            "part"
          ],
          "httpMethod": "POST",
          "flatPath": "youtube/v3/liveChat/messages",
          "description": "Inserts a new resource into this collection.",
          "response": {
            "$ref": "LiveChatMessage"
          },
          "id": "youtube.liveChatMessages.insert",
          "path": "youtube/v3/liveChat/messages",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ]
        },
        "delete": {
          "flatPath": "youtube/v3/liveChat/messages",
          "parameters": {
            "id": {
              "location": "query",
              "type": "string",
              "required": true
            }
          },
          "id": "youtube.liveChatMessages.delete",
          "path": "youtube/v3/liveChat/messages",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "parameterOrder": [
            "id"
          ],
          "httpMethod": "DELETE",
          "description": "Deletes a chat message."
        }
      }
    },
    "thumbnails": {
      "methods": {
        "set": {
          "id": "youtube.thumbnails.set",
          "mediaUpload": {
            "protocols": {
              "simple": {
                "path": "/upload/youtube/v3/thumbnails/set",
                "multipart": true
              },
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/youtube/v3/thumbnails/set"
              }
            },
            "maxSize": "2097152",
            "accept": [
              "image/jpeg",
              "image/png",
              "application/octet-stream"
            ]
          },
          "parameters": {
            "videoId": {
              "type": "string",
              "location": "query",
              "description": "Returns the Thumbnail with the given video IDs for Stubby or Apiary.",
              "required": true
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string"
            }
          },
          "supportsMediaUpload": true,
          "parameterOrder": [
            "videoId"
          ],
          "flatPath": "youtube/v3/thumbnails/set",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.upload",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "description": "As this is not an insert in a strict sense (it supports uploading/setting of a thumbnail for multiple videos, which doesn't result in creation of a single resource), I use a custom verb here.",
          "httpMethod": "POST",
          "response": {
            "$ref": "ThumbnailSetResponse"
          },
          "path": "youtube/v3/thumbnails/set"
        }
      }
    },
    "abuseReports": {
      "methods": {
        "insert": {
          "description": "Inserts a new resource into this collection.",
          "id": "youtube.abuseReports.insert",
          "httpMethod": "POST",
          "parameters": {
            "part": {
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include.",
              "location": "query",
              "type": "string",
              "required": true,
              "repeated": true
            }
          },
          "flatPath": "youtube/v3/abuseReports",
          "path": "youtube/v3/abuseReports",
          "request": {
            "$ref": "AbuseReport"
          },
          "parameterOrder": [
            "part"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "response": {
            "$ref": "AbuseReport"
          }
        }
      }
    },
    "channelBanners": {
      "methods": {
        "insert": {
          "description": "Inserts a new resource into this collection.",
          "path": "youtube/v3/channelBanners/insert",
          "httpMethod": "POST",
          "id": "youtube.channelBanners.insert",
          "parameterOrder": [],
          "mediaUpload": {
            "accept": [
              "image/jpeg",
              "image/png",
              "application/octet-stream"
            ],
            "maxSize": "6291456",
            "protocols": {
              "simple": {
                "path": "/upload/youtube/v3/channelBanners/insert",
                "multipart": true
              },
              "resumable": {
                "path": "/resumable/upload/youtube/v3/channelBanners/insert",
                "multipart": true
              }
            }
          },
          "response": {
            "$ref": "ChannelBannerResource"
          },
          "supportsMediaUpload": true,
          "parameters": {
            "onBehalfOfContentOwner": {
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query"
            },
            "onBehalfOfContentOwnerChannel": {
              "type": "string",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "location": "query"
            },
            "channelId": {
              "description": "Unused, channel_id is currently derived from the security context of the requestor.",
              "location": "query",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.upload"
          ],
          "flatPath": "youtube/v3/channelBanners/insert",
          "request": {
            "$ref": "ChannelBannerResource"
          }
        }
      }
    },
    "liveChatBans": {
      "methods": {
        "insert": {
          "request": {
            "$ref": "LiveChatBan"
          },
          "path": "youtube/v3/liveChat/bans",
          "response": {
            "$ref": "LiveChatBan"
          },
          "parameterOrder": [
            "part"
          ],
          "flatPath": "youtube/v3/liveChat/bans",
          "id": "youtube.liveChatBans.insert",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "parameters": {
            "part": {
              "repeated": true,
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response returns. Set the parameter value to snippet.",
              "location": "query",
              "type": "string",
              "required": true
            }
          },
          "httpMethod": "POST",
          "description": "Inserts a new resource into this collection."
        },
        "delete": {
          "description": "Deletes a chat ban.",
          "parameterOrder": [
            "id"
          ],
          "flatPath": "youtube/v3/liveChat/bans",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "parameters": {
            "id": {
              "type": "string",
              "location": "query",
              "required": true
            }
          },
          "id": "youtube.liveChatBans.delete",
          "httpMethod": "DELETE",
          "path": "youtube/v3/liveChat/bans"
        }
      }
    },
    "comments": {
      "methods": {
        "markAsSpam": {
          "parameterOrder": [
            "id"
          ],
          "parameters": {
            "id": {
              "repeated": true,
              "description": "Flags the comments with the given IDs as spam in the caller's opinion.",
              "location": "query",
              "type": "string",
              "required": true
            }
          },
          "id": "youtube.comments.markAsSpam",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "description": "Expresses the caller's opinion that one or more comments should be flagged as spam.",
          "flatPath": "youtube/v3/comments/markAsSpam",
          "path": "youtube/v3/comments/markAsSpam",
          "httpMethod": "POST"
        },
        "update": {
          "id": "youtube.comments.update",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "flatPath": "youtube/v3/comments",
          "request": {
            "$ref": "Comment"
          },
          "parameters": {
            "part": {
              "type": "string",
              "description": "The *part* parameter identifies the properties that the API response will include. You must at least include the snippet part in the parameter value since that part contains all of the properties that the API request can update.",
              "required": true,
              "location": "query",
              "repeated": true
            }
          },
          "response": {
            "$ref": "Comment"
          },
          "httpMethod": "PUT",
          "description": "Updates an existing resource.",
          "path": "youtube/v3/comments",
          "parameterOrder": [
            "part"
          ]
        },
        "list": {
          "flatPath": "youtube/v3/comments",
          "response": {
            "$ref": "CommentListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "description": "Retrieves a list of resources, possibly filtered.",
          "parameters": {
            "id": {
              "location": "query",
              "type": "string",
              "description": "Returns the comments with the given IDs for One Platform.",
              "repeated": true
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved."
            },
            "parentId": {
              "type": "string",
              "location": "query",
              "description": "Returns replies to the specified comment. Note, currently YouTube features only one level of replies (ie replies to top level comments). However replies to replies may be supported in the future."
            },
            "maxResults": {
              "default": "20",
              "location": "query",
              "format": "uint32",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "type": "integer"
            },
            "textFormat": {
              "enum": [
                "textFormatUnspecified",
                "html",
                "plainText"
              ],
              "default": "html",
              "location": "query",
              "description": "The requested text format for the returned comments.",
              "type": "string",
              "enumDescriptions": [
                "",
                "Returns the comments in HTML format. This is the default value.",
                "Returns the comments in plain text format."
              ]
            },
            "part": {
              "location": "query",
              "required": true,
              "repeated": true,
              "type": "string",
              "description": "The *part* parameter specifies a comma-separated list of one or more comment resource properties that the API response will include."
            }
          },
          "id": "youtube.comments.list",
          "path": "youtube/v3/comments",
          "httpMethod": "GET",
          "parameterOrder": [
            "part"
          ]
        },
        "delete": {
          "flatPath": "youtube/v3/comments",
          "parameterOrder": [
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "description": "Deletes a resource.",
          "id": "youtube.comments.delete",
          "httpMethod": "DELETE",
          "path": "youtube/v3/comments",
          "parameters": {
            "id": {
              "type": "string",
              "required": true,
              "location": "query"
            }
          }
        },
        "setModerationStatus": {
          "parameters": {
            "banAuthor": {
              "default": "false",
              "type": "boolean",
              "description": "If set to true the author of the comment gets added to the ban list. This means all future comments of the author will autmomatically be rejected. Only valid in combination with STATUS_REJECTED.",
              "location": "query"
            },
            "moderationStatus": {
              "enum": [
                "published",
                "heldForReview",
                "likelySpam",
                "rejected"
              ],
              "location": "query",
              "type": "string",
              "required": true,
              "description": "Specifies the requested moderation status. Note, comments can be in statuses, which are not available through this call. For example, this call does not allow to mark a comment as 'likely spam'. Valid values: MODERATION_STATUS_PUBLISHED, MODERATION_STATUS_HELD_FOR_REVIEW, MODERATION_STATUS_REJECTED.",
              "enumDescriptions": [
                "The comment is available for public display.",
                "The comment is awaiting review by a moderator.",
                "",
                "The comment is unfit for display."
              ]
            },
            "id": {
              "location": "query",
              "description": "Modifies the moderation status of the comments with the given IDs",
              "type": "string",
              "repeated": true,
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "httpMethod": "POST",
          "id": "youtube.comments.setModerationStatus",
          "description": "Sets the moderation status of one or more comments.",
          "parameterOrder": [
            "id",
            "moderationStatus"
          ],
          "path": "youtube/v3/comments/setModerationStatus",
          "flatPath": "youtube/v3/comments/setModerationStatus"
        },
        "insert": {
          "description": "Inserts a new resource into this collection.",
          "request": {
            "$ref": "Comment"
          },
          "id": "youtube.comments.insert",
          "httpMethod": "POST",
          "path": "youtube/v3/comments",
          "flatPath": "youtube/v3/comments",
          "parameters": {
            "part": {
              "type": "string",
              "repeated": true,
              "location": "query",
              "required": true,
              "description": "The *part* parameter identifies the properties that the API response will include. Set the parameter value to snippet. The snippet part has a quota cost of 2 units."
            }
          },
          "response": {
            "$ref": "Comment"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "parameterOrder": [
            "part"
          ]
        }
      }
    },
    "liveChatModerators": {
      "methods": {
        "list": {
          "parameterOrder": [
            "liveChatId",
            "part"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "LiveChatModeratorListResponse"
          },
          "flatPath": "youtube/v3/liveChat/moderators",
          "id": "youtube.liveChatModerators.list",
          "parameters": {
            "liveChatId": {
              "description": "The id of the live chat for which moderators should be returned.",
              "type": "string",
              "location": "query",
              "required": true
            },
            "part": {
              "description": "The *part* parameter specifies the liveChatModerator resource parts that the API response will include. Supported values are id and snippet.",
              "repeated": true,
              "type": "string",
              "required": true,
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "location": "query"
            },
            "maxResults": {
              "format": "uint32",
              "location": "query",
              "type": "integer",
              "default": "5",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set."
            }
          },
          "path": "youtube/v3/liveChat/moderators",
          "description": "Retrieves a list of resources, possibly filtered."
        },
        "insert": {
          "path": "youtube/v3/liveChat/moderators",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "response": {
            "$ref": "LiveChatModerator"
          },
          "httpMethod": "POST",
          "id": "youtube.liveChatModerators.insert",
          "flatPath": "youtube/v3/liveChat/moderators",
          "parameterOrder": [
            "part"
          ],
          "description": "Inserts a new resource into this collection.",
          "request": {
            "$ref": "LiveChatModerator"
          },
          "parameters": {
            "part": {
              "type": "string",
              "required": true,
              "repeated": true,
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response returns. Set the parameter value to snippet.",
              "location": "query"
            }
          }
        },
        "delete": {
          "flatPath": "youtube/v3/liveChat/moderators",
          "path": "youtube/v3/liveChat/moderators",
          "httpMethod": "DELETE",
          "description": "Deletes a chat moderator.",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "parameters": {
            "id": {
              "location": "query",
              "required": true,
              "type": "string"
            }
          },
          "id": "youtube.liveChatModerators.delete",
          "parameterOrder": [
            "id"
          ]
        }
      }
    },
    "activities": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly"
          ],
          "description": "Retrieves a list of resources, possibly filtered.",
          "parameters": {
            "regionCode": {
              "type": "string",
              "location": "query"
            },
            "mine": {
              "location": "query",
              "type": "boolean"
            },
            "publishedAfter": {
              "location": "query",
              "type": "string",
              "format": "google-datetime"
            },
            "home": {
              "type": "boolean",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved."
            },
            "publishedBefore": {
              "location": "query",
              "format": "google-datetime",
              "type": "string"
            },
            "part": {
              "repeated": true,
              "location": "query",
              "type": "string",
              "required": true,
              "description": "The *part* parameter specifies a comma-separated list of one or more activity resource properties that the API response will include. If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in an activity resource, the snippet property contains other properties that identify the type of activity, a display title for the activity, and so forth. If you set *part=snippet*, the API response will also contain all of those nested properties."
            },
            "channelId": {
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "default": "5",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "type": "integer",
              "format": "uint32",
              "location": "query"
            }
          },
          "path": "youtube/v3/activities",
          "httpMethod": "GET",
          "id": "youtube.activities.list",
          "parameterOrder": [
            "part"
          ],
          "response": {
            "$ref": "ActivityListResponse"
          },
          "flatPath": "youtube/v3/activities"
        }
      }
    },
    "membershipsLevels": {
      "methods": {
        "list": {
          "parameterOrder": [
            "part"
          ],
          "httpMethod": "GET",
          "parameters": {
            "part": {
              "repeated": true,
              "type": "string",
              "required": true,
              "description": "The *part* parameter specifies the membershipsLevel resource parts that the API response will include. Supported values are id and snippet.",
              "location": "query"
            }
          },
          "response": {
            "$ref": "MembershipsLevelListResponse"
          },
          "path": "youtube/v3/membershipsLevels",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.channel-memberships.creator"
          ],
          "description": "Retrieves a list of all pricing levels offered by a creator to the fans.",
          "id": "youtube.membershipsLevels.list",
          "flatPath": "youtube/v3/membershipsLevels"
        }
      }
    },
    "liveStreams": {
      "methods": {
        "delete": {
          "parameters": {
            "onBehalfOfContentOwner": {
              "type": "string",
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            },
            "id": {
              "required": true,
              "location": "query",
              "type": "string"
            },
            "onBehalfOfContentOwnerChannel": {
              "type": "string",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "location": "query"
            }
          },
          "id": "youtube.liveStreams.delete",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "parameterOrder": [
            "id"
          ],
          "httpMethod": "DELETE",
          "flatPath": "youtube/v3/liveStreams",
          "description": "Deletes an existing stream for the authenticated user.",
          "path": "youtube/v3/liveStreams"
        },
        "update": {
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "request": {
            "$ref": "LiveStream"
          },
          "parameterOrder": [
            "part"
          ],
          "response": {
            "$ref": "LiveStream"
          },
          "id": "youtube.liveStreams.update",
          "parameters": {
            "onBehalfOfContentOwnerChannel": {
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "location": "query",
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string"
            },
            "part": {
              "location": "query",
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. The part properties that you can include in the parameter value are id, snippet, cdn, and status. Note that this method will override the existing values for all of the mutable properties that are contained in any parts that the parameter value specifies. If the request body does not specify a value for a mutable property, the existing value for that property will be removed.",
              "required": true,
              "type": "string",
              "repeated": true
            }
          },
          "flatPath": "youtube/v3/liveStreams",
          "description": "Updates an existing stream for the authenticated user.",
          "path": "youtube/v3/liveStreams"
        },
        "insert": {
          "parameters": {
            "part": {
              "location": "query",
              "required": true,
              "type": "string",
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. The part properties that you can include in the parameter value are id, snippet, cdn, content_details, and status.",
              "repeated": true
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            },
            "onBehalfOfContentOwnerChannel": {
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "type": "string",
              "location": "query"
            }
          },
          "path": "youtube/v3/liveStreams",
          "description": "Inserts a new stream for the authenticated user.",
          "response": {
            "$ref": "LiveStream"
          },
          "parameterOrder": [
            "part"
          ],
          "flatPath": "youtube/v3/liveStreams",
          "id": "youtube.liveStreams.insert",
          "request": {
            "$ref": "LiveStream"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "httpMethod": "POST"
        },
        "list": {
          "path": "youtube/v3/liveStreams",
          "response": {
            "$ref": "LiveStreamListResponse"
          },
          "parameterOrder": [
            "part"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly"
          ],
          "parameters": {
            "part": {
              "repeated": true,
              "required": true,
              "location": "query",
              "description": "The *part* parameter specifies a comma-separated list of one or more liveStream resource properties that the API response will include. The part names that you can include in the parameter value are id, snippet, cdn, and status.",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved."
            },
            "mine": {
              "location": "query",
              "type": "boolean"
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "onBehalfOfContentOwnerChannel": {
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "location": "query",
              "type": "string"
            },
            "id": {
              "description": "Return LiveStreams with the given ids from Stubby or Apiary.",
              "location": "query",
              "type": "string",
              "repeated": true
            },
            "maxResults": {
              "default": "5",
              "location": "query",
              "format": "uint32",
              "type": "integer",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set."
            }
          },
          "id": "youtube.liveStreams.list",
          "flatPath": "youtube/v3/liveStreams",
          "httpMethod": "GET",
          "description": "Retrieve the list of streams associated with the given channel. --"
        }
      }
    },
    "captions": {
      "methods": {
        "list": {
          "flatPath": "youtube/v3/captions",
          "description": "Retrieves a list of resources, possibly filtered.",
          "parameterOrder": [
            "part",
            "videoId"
          ],
          "parameters": {
            "videoId": {
              "type": "string",
              "description": "Returns the captions for the specified video.",
              "required": true,
              "location": "query"
            },
            "part": {
              "required": true,
              "location": "query",
              "description": "The *part* parameter specifies a comma-separated list of one or more caption resource parts that the API response will include. The part names that you can include in the parameter value are id and snippet.",
              "type": "string",
              "repeated": true
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            },
            "id": {
              "repeated": true,
              "description": "Returns the captions with the given IDs for Stubby or Apiary.",
              "location": "query",
              "type": "string"
            },
            "onBehalfOf": {
              "location": "query",
              "type": "string",
              "description": "ID of the Google+ Page for the channel that the request is on behalf of."
            }
          },
          "path": "youtube/v3/captions",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "response": {
            "$ref": "CaptionListResponse"
          },
          "id": "youtube.captions.list",
          "httpMethod": "GET"
        },
        "delete": {
          "parameters": {
            "onBehalfOfContentOwner": {
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string"
            },
            "onBehalfOf": {
              "location": "query",
              "description": "ID of the Google+ Page for the channel that the request is be on behalf of",
              "type": "string"
            },
            "id": {
              "required": true,
              "type": "string",
              "location": "query"
            }
          },
          "id": "youtube.captions.delete",
          "httpMethod": "DELETE",
          "description": "Deletes a resource.",
          "path": "youtube/v3/captions",
          "flatPath": "youtube/v3/captions",
          "parameterOrder": [
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        },
        "download": {
          "id": "youtube.captions.download",
          "flatPath": "youtube/v3/captions/{id}",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "path": "youtube/v3/captions/{id}",
          "useMediaDownloadService": true,
          "description": "Downloads a caption track.",
          "supportsMediaDownload": true,
          "parameterOrder": [
            "id"
          ],
          "httpMethod": "GET",
          "parameters": {
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "id": {
              "location": "path",
              "required": true,
              "description": "The ID of the caption track to download, required for One Platform.",
              "type": "string"
            },
            "onBehalfOf": {
              "description": "ID of the Google+ Page for the channel that the request is be on behalf of",
              "location": "query",
              "type": "string"
            },
            "tfmt": {
              "description": "Convert the captions into this format. Supported options are sbv, srt, and vtt.",
              "type": "string",
              "location": "query"
            },
            "tlang": {
              "type": "string",
              "description": "tlang is the language code; machine translate the captions into this language.",
              "location": "query"
            }
          }
        },
        "insert": {
          "mediaUpload": {
            "accept": [
              "text/xml",
              "application/octet-stream",
              "*/*"
            ],
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/youtube/v3/captions"
              },
              "resumable": {
                "path": "/resumable/upload/youtube/v3/captions",
                "multipart": true
[...]
