name: List discovery services

on:
  workflow_call:
    outputs:
      services:
        description: "List of service names"
        value: ${{ jobs.discovery.outputs.services }}

jobs:
  discovery:
    runs-on: ubuntu-latest
    outputs: 
      services: ${{ steps.discover.outputs.result }}
    steps:
      - uses: actions/github-script@v5
        id: discover
        with:
          script: |
            // fetch tree head and look for /discoveries folder's tree SHA
            const {
              data: tree
            } = await github.rest.git.getTree({
              owner: "googleapis",
              repo: "discovery-artifact-manager",
              tree_sha: "master",
            });
            const {sha: discoveryTreeSha} = tree.tree.find((node) => {
              return node.path === "discoveries";
            });

            // fetch tree for /discoveries folder
            const {
              data: {
                tree: discoveryFiles
              }
            } = await github.rest.git.getTree({
              owner: "googleapis",
              repo: "discovery-artifact-manager",
              tree_sha: discoveryTreeSha,
            });

            // limit files that end in .json and grab the service name. Exclude index.json
            const services = discoveryFiles.filter((file) => {
              return file.path.endsWith(".json") && file.path !== "index.json";
            }).map(file => file.path.split(".")[0]);

            // make unique
            return [...new Set(services)];
