name: Update Discoveries Directory
on:
  schedule:
    - cron: '50 0 * * *'
  workflow_dispatch:

jobs:
  update-discoveries:
    if: ${{ github.repository == 'googleapis/discovery-artifact-manager' }}
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.YOSHI_CODE_BOT_TOKEN }}
      APPROVAL_GITHUB_TOKEN: ${{secrets.YOSHI_APPROVER_TOKEN}}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: Install Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - name: execute
        run: |
          python scripts/update_disco.py && python scripts/open_pr.py
